<%= custom_t('.body', {
    person_name: @person.name,
    amount: format_to_currency((@check_transfer.payment_cents / 100).to_money(@check_transfer.currency)),
    payee_name: @check_transfer.payee,
    address1: @check_transfer.address1,
    address2: @check_transfer.address2,
    city: @check_transfer.city,
    state: @check_transfer.state,
    zip_code: @check_transfer.postal_code,
    country: @check_transfer.country,
    help_url: knowledgebase_link_for('new_request', @person.country_domain)
}) %>
