<div class="row youtube-oac-form">
  <%= form_with(url: youtube_authentication_path, local: true) do %>
    <div class="twelve columns form-input">
      <%= select_tag(:artist_name, options_for_select(@names)) %>
    </div>
    <div class="twelve columns form-input">
      <div class="youtube-oac-form__submit-container">
        <%= submit_tag(custom_t("youtube_oac.submit_button"),
                       {class: "button-callout-alt youtube-oac-form__submit"})
        %>
    </div>
  <% end %>
</div>
