<div class="youtube-oac-sidebar__container">
  <header class="youtube-oac-sidebar__header">
    <h2><%= custom_t("youtube_oac.your_revenue") %></h2>
  </header>
  <div class="youtube-oac-sidebar__body">
    <span class="youtube-oac-sidebar__revenue-graphic"></span>
    <p class="youtube-oac-sidebar__revenue-blurb">
      <%= custom_t("youtube_oac.revenue_report_blurb")%>
    </p>
    <div class="youtube-oac-sidebar__button-container">
      <a class="button-callout landr youtube-oac-sidebar__button">
        <%= custom_t("youtube_oac.revenue_report_button")%>
      </a>
    </div>
  </div>
</div>
