<div>
  <h4>Receive Payments</h4>
  <table>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Unit</th>
      <th>Details</th>
    </tr>
    <tr>
      <td>Loading Payments - Immediate (Within 2 hours)</td>
      <td>$1.00</td>
      <td>Per load</td>
      <td>Each time a payment is loaded to the account</td>
    </tr>
    <tr>
      <td>US Payment Service</td>
      <td>$1.00</td>
      <td>Per load</td>
      <td>Each time you receive a payment</td>
    </tr>
  </table>

  <h4>Card Accounts</h4>
  <table>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Unit</th>
      <th>Details</th>
    </tr>
    <tr>
      <td>Annual Account Maintenance</td>
      <td>$29.99</td>
      <td>Per year</td>
      <td>From available balance - each
        year</td>
    </tr>
    <tr>
      <td>Card Replacement</td>
      <td>$12.00</td>
      <td>Per card</td>
      <td>One Time - when issuing a
        replacement card</td>
    </tr>
  </table>

  <h4>ATM/Cash Withdrawal or Transactions</h4>
  <table>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Unit</th>
      <th>Details</th>
    </tr>
    <tr>
      <td>ATM Withdrawal or Cash Disbursements (via bank teller or in-store)</td>
      <td>$3.15</td>
      <td>Per transaction</td>
      <td>When withdrawal or
        disbursement is requested <br /><sub>(*surcharge may also be applied by your ATM/POS service provider)</sub></td>
    </tr>
    <tr>
      <td>ATM Decline Fee</td>
      <td>$1.00</td>
      <td>Per transaction</td>
      <td>When withdrawal request is
        declined <br /><sub>(*surcharge may also be applied by your ATM/POS service provider)</sub></td>
    </tr>
    <tr>
      <td>ATM Balance Inquiry Fee</td>
      <td>$1.00</td>
      <td>Per transaction</td>
      <td>When ATM balance inquiry is
        made <br /><sub>(*surcharge may also be applied by your ATM/POS service provider)</sub></td>
    </tr>
  </table>

  <h4>PayPal</h4>
  <table>
    <tr>
      <th>Item</th>
      <th>Details</th>
    </tr>
    <tr>
      <td>USD to USD</td>
      <td>Your transaction will be charged 0.25 USD</td>
    </tr>
    <tr>
      <td>USD to Other Currency</td>
      <td>Your transaction will be charged 2% of your requested amount up to the maximum fee of 20.00 USD</td>
    </tr>
  </table>

  <p class="disclaimer_copy">*There is a fee for transactions originated in a country outside of the country of issuance OR in a currency different than the card currency above all fees assessed by MasterCard.</p>
</div>