<%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/vatTooltip" %>
  
<% content_for :css do %>
  <%= stylesheet_link_tag "vat_tooltip" %>
<% end %>

<div class="payout">
  <div class="payout-transfer-container">
    <div class="payout-container-title">
      <span><%= custom_t('.heading') %></span>
    </div>

    <div class="confirm">
      <% if !@create_form.valid? %>
          <div class="errors">
            <% @create_form.errors.each do |_type, err_key| %>
                <div><%= custom_t(".errors.#{err_key}", min_amount: Money.new(minimum_net_transfer_amount_in_cents(@create_form.payee_details.withdrawal_type))) %></div>
            <% end %>
          </div>
      <% end %>
      <% if @create_form.payout_transfer && @create_form.payout_transfer.errors.any? %>
        <div class="errors">
          <% @create_form.payout_transfer.errors.full_messages.each do |msg| %>
              <div><%= msg %></div>
          <% end %>
        </div>
      <% end %>
      <div class="details">
        <div>
          <%= custom_t('.request_amount') %>
          <% if show_vat_info? %>
            <span class="request-amount-vat-tooltip">
              <div
                class="vat_tooltip"
                data-title="<%= custom_t('.request_amount') %>"
                data-content="<%= custom_t('vat.withdraw_vat_disclaimer') %>"
              ></div>
            </span>
          <% end %>
        </div>
        <div>
          <div class="payout-untoggled-value"><%= format_to_currency(@create_form.requested_amount) %></div>
          <% if !@create_form.requested_amount.currency.iso_code.eql?(current_user.user_currency) %>
            <div class="payout-toggled-value"><%= balance_to_currency(@create_form.requested_amount, currency: current_user.user_currency) %></div>
          <% end %>
        </div>
        <div>
          <%= custom_t('.fees') %>
          <% if available_in_region?(current_user.country_domain, "payoneer_fee_modal") %>
            <i class="fa fa-question-circle <%= show_payoneer_redesigned_onboarding? ? 'payoneer-fee-modal-trigger' : 'fee-info-trigger' %>"></i>
          <% end %>
          <div class="payoneer-fee-checkout-disclaimer">
            <% if available_in_region?(current_user.country_domain, "payoneer_fee_checkout_disclaimer") %>
              <%= payoneer_fees_disclaimer %>
            <% end %>
          </div>
        </div>
        <div>
          <div class="payout-untoggled-value"><%= format_to_currency(@create_form.fees) %></div>
          <% if !@create_form.requested_amount.currency.iso_code.eql?(current_user.user_currency) %>
            <div class="payout-toggled-value"><%= balance_to_currency(@create_form.fees, currency: current_user.user_currency) %></div>
          <% end %>
        </div>

        <div class="highlight"><%= custom_t('.transfer_amount') %></div>
        <div class="highlight <%= 'error' unless @create_form.transfer_amount_valid? %>">
          <div class="payout-untoggled-value"><%= format_to_currency(@create_form.transfer_amount) %></div>
          <% if !@create_form.requested_amount.currency.iso_code.eql?(current_user.user_currency) %>
            <div class="payout-toggled-value"><%= balance_to_currency(@create_form.transfer_amount, currency: current_user.user_currency) %></div>
          <% end %>
        </div>
        
      </div>

      <% if @create_form.transfer_amount_valid? %>
        <div class="info">
          <div>
            <%= custom_t('.remaining_balance') %>
            <span class="payout-untoggled-value"><%= format_to_currency(@create_form.available_balance) %><%= show_tax_withheld_info? ? "*" : "" %></span>
            <% if !@create_form.requested_amount.currency.iso_code.eql?(current_user.user_currency) %>
              <span class="payout-toggled-value"><%= balance_to_currency(@create_form.available_balance, currency: current_user.user_currency)%></span>
            <% end %>

          </div>
          <% if available_in_region?(current_user.country_domain, "dual_currency") %>
            <div class="foreign-currency-toggle">
              <%= link_to generate_currency_toggle_text, "javascript:void(0)", class: 'toggle-foreign-currency' %>
            </div>
          <% end %>
          <% if show_tax_withheld_info? %>
            <div class="confirmation-page-withheld-note payout-small-text">
              <%= custom_t("withdrawal_confirmation_page_tax_withheld_note") %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="payout-confirm-controls">
    <%= simple_form_for @create_form, url: payout_transfers_path  do |f| %>
        <%= f.input :amount_cents_raw, as: :hidden, input_html: {value: @create_form.amount_cents_raw} %>
        <% if @create_form.valid? %>
          <%= link_to custom_t('.cancel'), :back, class: 'cancel' %>
          <%= f.button :submit, custom_t('.complete'), class: 'complete', data: { disable_with: custom_t('.completing') } %>
        <% else %>
            <%= link_to custom_t('.back_to_new'), :back, class: 'cancel' %>
        <% end %>
    <% end %>
    <div class="payout-confirm-help-link"><%= link_to custom_t('.need_help_with_withdrawal'), custom_t('.payoneer_withdrawal_guide_url'), class: 'payoneer-help-link'%></div>
  </div>
</div>

<%= render "payoneer_fees/fee_modal" if show_fee_modal? %>

<div class="payoneer-fee-info">
  <div class="contents">
    <%= render partial: 'payoneer_fee_info' %>
  </div>
</div>
