<%= javascript_include_tag "self_billing_on_checkout" %>

<div class="payout">
  <div class="payout-transfer-container">
    <div class="payout-container-title">
      <span>
        <%= custom_t(".withdraw") %>
      </span>
    </div>

    <% if @create_form.provider_withdrawal_type.blank? %>
      <div class="fetch-error">
        <div><%= custom_t(".reload") %></div>
        <%= link_to custom_t(".try_again"), "" %>
      </div>
    <% else %>
      <% if should_show_secondary_tax_form_request_prompt? %>
        <%= render "shared/secondary_tax_form_request_prompt" %>
      <% end %>

      <div>
        <div class="payout-method">
          <%= custom_t("payout_transfers.payout_type.#{@create_form.provider_withdrawal_type}") %>
          (<a class="change-payout-info-trigger"><%= custom_t(".change_payout_method") %></a>)
        </div>
        <div class="balance">
          <div class="payout-small-text default-top-padding">
            <strong>
              <%= custom_t(".balance") %>
            </strong>
          </div>
          <% if show_tax_withheld_info? %>
            <div class="amount-entry-page-withheld-note payout-small-text">
              <%= custom_t("withdrawal_amount_entry_page_tax_withheld_note") %>
            </div>
          <% end %>
          <div class="payout-page-header-text">
            <strong>
              <%= display_user_balance(iso_code: current_user.site_currency, currency: current_user.site_currency) %>
            </strong>
          </div>
        </div>

        <% if !current_user.site_currency.eql?(current_user.user_currency) %>
          <div class="user-currency-balance-display">
            <%= display_user_balance(iso_code: current_user.country_website.country, currency: current_user.user_currency) %>
          </div>
          <div class="payout-currency-toggle-button">
            <span class="payoneer-withdrawal-balance-currency-toggle">
              <%= link_to "#{custom_t('.display_in_local_currency')} #{current_user.user_currency}", 
                "javascript:void(0)", class: "show-exchanged-balance" %>
              <i
                class="fa fa-question-circle fa-md fx-rate-tooltip-text payout-exchange-balance-display"
                data-tooltip
                data-tooltip-class="header-tooltip fx-rate-tooltip"
                data-position="bottom"
                data-trigger-class="header-has-tip"
                title="<%= custom_t('alternative_balance.info', {date: current_fx_rate_updated_at(:date),
                                                                 time: current_fx_rate_updated_at(:time)}) %>"
                ></i>
            </span>
          </div>
        <% end %>

        <div class="amount_too_high_error"><%= custom_t('.errors.unavailable_balance') %></div>
        <div class="errors">
          <% @create_form.errors.each do |_, error_key| %>
            <div><%= custom_t(".errors.#{error_key}") %></div>
          <% end %>
        </div>

        <div class="payout-transfer-form">
          <%= simple_form_for @create_form, url: confirm_payout_transfers_path,
            html: { class: 'payout-transfer-form' } do |f| %>
            <div class="payout-transfer-input-container">
              <%= f.input :amount, label: false, wrapper: false,
                input_html: {
                autocomplete: "off",
                class: "payout-transfer-input #{has_payout_errors?(f.object) ? "with-error" : nil}"
              } %>
            <%= f.input :amount_cents_raw, as: :hidden, error: false %>
            <%= f.input :available_amount, input_html: {value: current_user.person_balance.balance}, as: :hidden %>
            </div>
            <div>
              <%= custom_t('.currency') %>: <%= current_user.country_website.currency %>
            </div>

            <% unless self_billing_on_withdrawal? || self_billing_declined? %>
              <%= f.button :submit, custom_t('.request_payout'),
                class: "button submit payout-transfer-btn default-top-margin" %>
              <%= link_to custom_t(".cancel"),
                        dashboard_path,
                        class: "button clear secondary submit",
                        id: "create-credit-card-cancel" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if self_billing_on_withdrawal? || self_billing_declined? %>
      <div class="self-billing-info-container">
        <h4><%= custom_t('self_billing.title') %></h4>
        <p><%= custom_t('self_billing.tooltip_content') %></p>
        <div class="form-container">
          <%= render "shared/self_billing_form" %>
        </div>
      </div>
      
      <button
        class="button self-billing-form-trigger-button payout-transfer-btn default-top-margin submit" 
        onclick="saveSelfBillingInfo(event);"
      >
        <%= custom_t(".request_payout") %>
      </button>
      <%= link_to custom_t(".cancel"), dashboard_path, class: "button clear secondary submit", id: "create-credit-card-cancel" %>
    <% end %>
  </div>
</div>

<div class="change-payout-info">
  <div class="contents">
    <div>
      <div class="contact-payoneer-text">
        <%= custom_t(".contact_payoneer").html_safe %>.
      </div>
      <div class="popup-withdrawal-help-text">
        <%= custom_t(".payoneer_other_help_text") %>
      </div>  
    </div>
  </div>
</div>
