<div class="payout">
  <div class="payout-transfer-container show">
    <div class="payout-container-title">
      <span> <%= custom_t('.heading') %> </span>
    </div>

    <div>
      <div class="confirm">
        <b><%= custom_t('.confirm_message') %></b>
        <div><%= custom_t("payout_transfers.payout_duration.#{@payout_transfer.withdraw_method}", is_html: true) %></div>
      </div>

      <div class="details">
        <div><%= custom_t(:confirmation_number) %></div>
        <div><%= @payout_transfer.client_reference_id %></div>
        <div><%= custom_t(:payout_type) %></div>
        <div><%= custom_t("payout_transfers.payout_type.#{@payout_transfer.withdraw_method}") %></div>
        <% if @payout_transfer.fee_cents %>
          <div><%= custom_t(:requested_amount) %></div>
          <div><%= format_to_currency(@payout_transfer.requested_amount) %></div>
          <div><%= custom_t(:fee) %></div>
          <div><%= format_to_currency(@payout_transfer.fee_amount) %></div>
        <% end %>
        <div><%= custom_t(:net_requested_amount) %></div>
        <div><%= format_to_currency(@payout_transfer.to_money) %></div>
      </div>

      <%= link_to custom_t('.done'), dashboard_path, class: 'complete' %>
    </div>
  </div>
</div>
