<tr class="<%=cycle('odd', 'even') -%>">
  <td><b><%= eft_batch_transaction_history.status.humanize %></b></td>
	<td><%= eft_batch_transaction_history.comment %></td>
	<td><%= eft_batch_transaction_history.posted_by_name %></td>
	<td><%= eft_batch_transaction_history.person_transaction_id %></td>
	<td><%= number_to_currency(eft_batch_transaction_history.amount) %></td>
	<td><%= eft_batch_transaction_history.created_at.strftime("%a %b %d, %Y %I:%M:%S %p") %></td>
</tr>