<h1>Editing publishing_composer</h1>

<%= form_for(@publishing_composer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :address_1 %><br />
    <%= f.text_field :address_1 %>
  </p>
  <p>
    <%= f.label :address_2 %><br />
    <%= f.text_field :address_2 %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :tax_id %><br />
    <%= f.text_field :tax_id %>
  </p>
  <p>
    <%= f.label :pro_affiliation %><br />
    <%= f.text_field :pro_affiliation %>
  </p>
  <p>
    <%= f.label :cae %><br />
    <%= f.text_field :cae %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :agreed_to_terms_at %><br />
    <%= f.datetime_select :agreed_to_terms_at %>
  </p>
  <p>
    <%= f.submit "#{custom_t(:update)}" %>
  </p>
<% end %>

<%= link_to "#{custom_t(:show)}", @publishing_composer %> |
<%= link_to "#{custom_t(:back)}", publishing_composers_path %>
