<% content_for :external_javascript do %>
  <script>$(".subsection").scrollLeft(300);</script>
<% end %>

<div class="subsection">
  <% product = report.stored_product_for(params[:product_id]) %>
  <%= render(:partial => "product_sales_info_header",
             :locals => {:product_name => product.name,
             :product_description => product.description,
             :product_id => product.id,
             :product_status => product.status}) %>
  <table class="data-report">
    <thead>
      <%= render(:partial => "reports_shared/report_headers", :locals => {:headers => report.data_table.headers})%>
    </thead>
    <%= render(:partial => "reports_shared/report_rows", :locals => {:report => report}) %>
  </table>
</div>
