<%= render(:partial => "product_snapshot", :locals => {:product_report => @snapshot_report,
                                                       :sales_overview_report => @sales_overview_report,
                                                       :customer_report => @customer_report,
                                                       :preorder_report => @preorder_report
                                                      }
)%>
