<% if !terminated_composer.new_record? && terminated_composer.fully_terminated? %>
  <div class = "composers-manager-table-terminated-composer">
    <%= render "destroy_composer_form", publishing_composer: publishing_composer %>

    <div>
      <div> Terminated:  </div>
      <i> <%= publishing_composer.format_termination_date %></i>
    </div>
    <div>
      <div> Reason:  </div>
      <i> <%= terminated_composer.publishing_termination_reason_id ? terminated_composer.publishing_termination_reason.reason : 'no reason selected' %></i>
    </div>
    <% if terminated_composer.admin_note %>
    <div>
      <div> Note:  </div>
      <i> <%= terminated_composer.admin_note %></i>
    </div>
    <% end %>

    <%= button_to("Reverse",
      admin_publishing_terminated_composer_path(terminated_composer.id),
      method: :delete,
      class: "composers-manager-table-action")
    %>
  </div>
<% else %>
  <%= simple_form_for terminated_composer,
      url: terminated_composer.new_record? ? admin_publishing_terminated_composers_path : admin_publishing_terminated_composer_path(terminated_composer),
      method: terminated_composer.new_record? ? :post : :put,
      html: { class: "terminate-form" } do |f| %>
    <%= f.input :publishing_composer_id, as: :hidden, input_html: { value: publishing_composer.id } %>
    <%= f.text_field :effective_date,
          as: :string,
          placeholder: "effective: mm/dd/yyyy",
          value: publishing_composer.format_termination_date_input %>
    <%= f.select :publishing_termination_reason_id, termination_reasons.collect {|tr| [tr.reason, tr.id] }, :prompt => 'select reason' %>
    <%= f.input :admin_note, as: :string, label: false, placeholder: "additional note" %>
    <%= f.submit "Terminate", class: "composers-manager-table-action" %>
  <% end %>
<% end %>
