<div class="composers-manager-container">

  <div class="lead balance-transaction-container-back-link">
    <%= link_to "Back", admin_person_path(current_user) %>
  </div>

  <%= render "admin/shared/admin_info", person: @account.person %>

  <h4 class="composers-manager-header">Manage Publishing Composers/Data</h4>

  <div class="composers-manager-summary">
    <p>Below is a list of Publishing Composers managed by the above Tunecore user.</p>

    <p>While the above user <em>manages</em> the publishing composer(s), a publishing composer may have a separate Tunecore Account of their own.</p>

    <p>Here you can associate a publishing composer to their respective Tunecore Account.</p>

    <p><strong>Note:</strong> The publishing composer's publishing adminstration will still be managed by the above Tunecore user.</p>
    <small>Update Note: Currently ONLY legacy users can have their info updated in this tool. For all new SENTRIC users, you will need to take over the account and update from the dashboard.</small>

    <div class="grid-x import-data-btn">
      <div class="cell small-3">
        <%= button_to "Import Data from RightsApp",
          admin_publishing_composers_manager_imports_path(@account),
          class: "composers-manager-table-action",
          remote: :true %>
      </div>
    </div>
  </div>

  <div class="message row">
    <div class="seven columns centered error">
      <span><%= flash[:error] %></span>
    </div>
  </div>

  <div class="message row">
    <div class="seven columns centered notice">
      <span><%= flash[:notice] %></span>
    </div>
  </div>

  <table>
    <tr>
      <th>Publishing Composer Name</th>
      <th>Rights App Writer Code</th>
      <th>Date Paid / <br/> Agreed to Terms / <br/> Agreed to Sync</th>
      <th>Tunecore Account ID</th>
      <th>Terminate Composer</th>
      <th>Terminate Sync Agreement</th>
    </tr>

    <% @account.publishing_composers.primary.each do |publishing_composer| %>
      <tr>
        <td>
          <div class="composers-manager-table-cell"> <%= publishing_composer.full_name %> </div>
          <div>
            <%= link_to "View/Update Info", edit_admin_publishing_composer_path(publishing_composer), class: "composers-manager-summary-links", target: "_blank" %>
          </div>

          <% if current_user.is_publishing_manager? && publishing_composer.letter_of_direction&.signed_at %>
            <div>
              <%= link_to "View LOD (#{publishing_composer.letter_of_direction.signed_at.strftime("%m/%d/%Y")})",
                admin_legal_document_path(publishing_composer.letter_of_direction),
                class: "composers-manager-summary-links",
                target: 'new'
              %>
            </div>
          <% end %>

          <% if FeatureFlipper.show_feature?(:edit_composer_compositions, current_user) %>
            <div>
              <%= link_to "View Compositions", admin_publishing_composer_publishing_compositions_path(publishing_composer), class: "composers-manager-summary-links", target: "_blank" %>
            </div>
          <% end %>
        </td>
        <td>
          <div class="composers-manager-table-cell"> <%= publishing_composer.format_provider_identifier %> </div>
        </td>
        <td>
          <div class = "composers-manager-table-cell">
            <%= "#{publishing_composer.format_paid_at} #{publishing_composer.format_registration_date} #{publishing_composer.format_sync_opted_updated_at}" %>
          </div>
        </td>
        <td>
          <%= render "update_info_form", publishing_composer: publishing_composer %>
        </td>
        <td>
          <%= render "terminate_composer_form",
            publishing_composer: publishing_composer,
            terminated_composer: publishing_composer.find_or_create_terminated_composer("fully"),
            termination_reasons: @termination_reasons
          %>
        </td>
        <td>
          <%= render "terminate_sync_opted_in_form",
            publishing_composer: publishing_composer
          %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
