
<% unless distributor_errors_form.filter_type == 'error_type' %>

  <ul class="distributor_errors-summary-list">

    <% distributor_errors.each_with_index do |distributor_errors_data, index| %>

      <li class="distributor_errors-table-<%= index %> scroll-to-table">
        <%= truncate(decorated_distributor_errors_form(distributor_errors_form).table_title(distributor_errors_data[0]).to_s) %>:
        <%= pluralize(distributor_errors_data[1].count, distributor_errors_form.error_types.map(&:reverse).to_h[distributor_errors_form.error_type]) %>
      </li>

    <% end %>
  </ul>

<% end %>

<p class="distributor_errors-summary-total">
  <%= pluralize(distributor_errors_form.distributor_errors_total_count, "Total #{distributor_errors_form.error_type}") %>
</p><hr />
<p class="distribution_errors-retry-all">
  <%= button_tag "Retry All", class: "distributor_errors-retry-all-btn" %>
</p>
