<%= content_tag :tr, class: "releases-store-id-#{distributor_error['id']}" do %>
  <td>
    <% album_id = distributor_error.dig('album_id') %>
    <%= album_id ? link_to(album_id, admin_album_path(album_id), target: :_blank) : 'NA' %>
  </td>
  <td>
    <strong>
      <%= distributor_error['store_name'].presence ||
        decorated_distributor_errors_form(distributor_errors_form).store_map[distributor_error['store_id']] %>
    </strong>
  </td>
  <td>
    <%= distributor_error["delivery_type"]&.humanize %>
  </td>
  <td>
    <ul>
      <% distributor_error["errors"].each do |error| %>
        <li><%= [error["error_code"], error["error_message"]].compact.join("-") %></li>
      <% end %>
    </ul>
  </td>
  <td style="text-align: center;">
    <%= check_box_tag "releases_store_ids[]", distributor_error['id'], nil,
      class: "individual-checkbox", data: { table_index: table_index } %>
  </td>
<% end %>