<div><%= will_paginate paginate_distributor_errors %></div>

<div class="twelve columns distributor_errors-table">
  <% distributor_errors.each_with_index do |(table_head, table_data), index| %>
    <div id="distributor_errors-table-<%= index %>">
      <table>
        <%= render(partial: "distributor_errors_table",
          locals: {
            table_title: decorated_distributor_errors_form(distributor_errors_form).table_title(table_head),
            table_data: table_data,
            table_index: index,
            distributor_errors_form: distributor_errors_form 
          }) %>
      </table>

      <div class="scroll-to-top-container"><%= link_to "Scroll to top", "#", class: "scroll-to-top" %></div>
    </div>
  <% end %>
</div>

<div><%= will_paginate paginate_distributor_errors %></div>
