<%= form_tag admin_distributor_errors_path, method: :post, remote: true do %>
  <h2>
    <%= truncate(table_title.to_s, length: 70) %>
    <em class="table-errors"><%= pluralize(table_data.size, "error") %></em>
    <div class="pull-right">
      <span class="retry-all-label">Select all: </span>
      <%= check_box_tag "retry-all", nil, false, id: "select-all-#{table_index}", class: "distributor_errors-select-all", data: { table: table_index } %>
      <%= submit_tag "Retry", class: "distributor_errors-button" %>
    </div>
  </h2>
  <thead>
    <tr>
      <th class="album-id-col">Album ID</th>
      <th class="store-col">Store</th>
      <th class="delivery-type-col">Delivery Type</th>
      <th class="error-message-col">Error Message</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="distributor_errors-table-rows-<%= table_index %>">
    <%= render(partial: 'distributor_errors_row', collection: table_data, as: :distributor_error, locals: { 
      distributor_errors_form: distributor_errors_form,
      table_index: table_index }) || 
      content_tag(:tr, content_tag(:td, 'No errors currently', colspan: 5)) %>
  </tbody>
<% end %>
