<div class="content">
  <header class="row distributor_errors-header">
    <div class="twelve columns">
      <h2><%= @page_title %></h2>
      <nav class="distributor_errors-nav" role="navigation">
        <%= form_tag admin_distributor_errors_path, method: :get do %>
          <ul>
            <li>Organize By: </li>
            <li>Store: <%= radio_button_tag :filter_type, "store_id", form.by_store? %></li>
            <li>Release: <%= radio_button_tag :filter_type, "album_id", form.by_album? %></li>
            <li class="date-picker start-date">Start Date:
              <%= text_field_tag :start_date, form.date_start, class: "date-field" %>
            </li>
            <li class="date-picker">End Date:
              <%= text_field_tag :end_date, form.date_end, class: "date-field" %>
            </li>
            <li id="type-select">State:
              <%= select_tag :error_type, options_for_select(form.error_types, form.error_type), id: "state-dropdown" %>
            </li>
            <li id="store-select">Store:
              <%= select_tag :store_id, options_for_select(form.stores, { selected: form.store_id, include_blank: true }), multiple: true, id: "store-dropdown" %>
            </li>  
            <%= submit_tag 'Filter', class: "distributor_errors-button" %>
          </ul><hr />
        <% end %>
      </nav>
    </div>
  </header>
</div>
