<tr>
  <td>
    <%= link_to distributor_error['album_id'], admin_album_url(id: distributor_error['album_id']), target: '_blank' %>
  </td>

  <td>
    <%= distributor_error['store_name'] %>
  </td>

  <td>
    <%= distributor_error['state'] %>
  </td>

    <td>
    <%= distributor_error['content'] %>
  </td>

    <td>
    <%= distributor_error['created_at'] %>
  </td>
</tr>