<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <%= javascript_include_tag "/javascripts/app/admin/distributor_errors.js" %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/admin.css" %>
  <%= stylesheet_link_tag "/stylesheets/distributor_errors.css" %>
<% end %>

<%= render "distributor_errors_nav", {
  form: decorated_distributor_errors_form(@distributor_errors_form) } %>

<%= (render "distributor_errors_summary", {
  distributor_errors: @distributor_errors,
  distributor_errors_form: @distributor_errors_form
}) if @distributor_errors.present? %>

<%= render "distributor_errors_view", { 
  distributor_errors: @distributor_errors,
  distributor_errors_form: @distributor_errors_form,
  paginate_distributor_errors: @distributor_errors_ungrouped } %>