<div class="wrapper h-bi">
  <div class="from-address">
    <%= custom_t('invoices.pdf.supplier') %>: <span class="greyed-text"><%= customer_info[:name] %></span>
    <br/>

    <span class="greyed-text">
      <% customer_address.values.each do |address| %>
        <%= address %>
        <br/>
      <% end %>
    </span>

    <% outbound_optional_fields(customer_info).each do |addr| %>
        <%= sanitize addr %>
        <br/>
    <% end %>
  </div>

  <div class="to-address">
    <p>
      <%= custom_t('invoices.pdf.invoice_number') %>: <span class="greyed-text"><%= refund_details[:credit_note_invoice_number] %></span>
      <br/>
      <%= custom_t('invoices.pdf.self_invoice')%>
      <br/>
      <%= custom_t('invoices.pdf.invoice_date')%>: <span class="greyed-text"><%= refund_details[:refund_date] %></span>
      <br/>
      <%= custom_t('invoices.pdf.client') %>:
      <span class="greyed-text">
        <%= corporate_entity_address[:address1] %><br/>
        <%= custom_t('invoices.pdf.an_affiliated_company') %>
      </span>
      <br/>

      <%= custom_t('invoices.pdf.invoice_address') %>:
      <span class="greyed-text">
        <% splitted_address_line(corporate_entity_address[:address2]).each do |address_line| %>
            <%= address_line %>
            <br/>
        <% end %>
        <%= corporate_entity_address[:postal_code] %>, <%= corporate_entity_address[:country] %>
        <%= custom_t('invoices.pdf.crn') %>: <%= corporate_entity_address[:crn] %>
        <br/>
        <%= custom_t('invoices.pdf.vat_number') %>: <%= corporate_entity_address[:vat_registration_number] %>
        <br/>
        <%= BI_WEBSITE %>
      </span>
    </p>
  </div>
</div>
