<div class="logo">
  <%= image_tag wicked_pdf_asset_base64("invoice_pdf/tunecore_logo.png")%>
</div>
<div class="wrapper h-tc">
  <div class="from-address">
    <p class="greyed-text">
      <%= corporate_entity_address[:address1] %>
      <br/>
      <%= corporate_entity_address[:address2] %>
      <br/>
      <%= corporate_entity_address[:city] %>, <%= corporate_entity_address[:postal_code] %>
      <br/>
      <%= TC_WEBSITE %>
    </p>
  </div>
  <div class="to-address">
    <%= custom_t("invoices.pdf.invoice_number") %>: <span class="greyed-text"><%= refund_details[:credit_note_invoice_number] %></span>
    <br/>
    <%= custom_t("invoices.pdf.invoice_date")%>: <span class="greyed-text"><%= refund_details[:refund_date] %></span>
    <br/>
    <%= custom_t("invoices.pdf.client") %>: <span class="greyed-text"><%= customer_info[:name] %></span>
    <br/>
    <%= custom_t("invoices.pdf.invoice_address") %>:
    <span class="greyed-text">
      <br/>
      <% customer_address.values.each do |address| %>
        <%= address %>
        <br/>
      <% end %>
    </span>
  </div>
</div>

