<div class="authentication-step">
  <p class="title"><%= custom_t("tfa_form.authentication_step.title") %></p>
  <p id="code_sent" class="sent-code-msg">
    <%= custom_t("tfa_form.authentication_step.body_for_#{auth_type}") %>
  </p>

  <%= link_to custom_t("tfa_form.authentication_step.change_phone_preferences"),
        two_factor_auth_enrollments_path(back_to_previous_step: true),
        class: "change-phone-preferences-link"  %>

  <div class="enter-code-wrapper">

    <%= render "error_message", enrollment: enrollment %>
    <%= form.hidden_field(:page, value: "authentication") %>

    <div class="authy-notification">
      <% if auth_type == "app" %>
        <span class="app-message">
          <%= custom_t("tfa_form.authentication_step.app_notification") %>
        </span>
      <% end%>
    </div>
    <%= form.text_field :auth_code, label: custom_t("tfa_form.authentication_step.code"),
        class: "auth-code-input", autocomplete: "off", autofocus: true %>

    <div class="resend-code-link">
      <span class="didnt-get-code">
        <%= custom_t("two_factor_authentication.didnt_get_the_code_btn") %>
        <%= button_tag(custom_t("two_factor_authentication.resend") + "<i id='two-factor-resend-spinner' class='fa fa-spinner fa-spin fa-fw hidden'></i>".html_safe,
                       class: "two-factor-resend-preferences-btn", type: "button",
                       disabled: exceeds_max_daily_attempts?(current_user, :resend),
                       page: "authentication",
                       id: "two-factor-resend-preferences-btn") %>
      </span>
    </div>

    <div class="try-another-way">
        <span><%= "#{custom_t(:try_another_way)}: "%></span>
      <% if exceeds_max_daily_attempts?(current_user, :resend) %>
        <%= button_tag(custom_t("#{two_factor_auth.alternate_method}_me"),
                       class: "two-factor-resend-try-another-way", type: "button",
                       disabled: true,
                       id: "two-factor-resend-try-another-way") %>
      <% else %>
        <%= link_to custom_t("#{two_factor_auth.alternate_method}_me"),
                    api_backstage_two_factor_auth_resends_path(
                      person_id: current_user.id,
                      alternate_method: true,
                      page: "authentication"),
                    class: "two-factor-resend-try-another-way",
                    id: "two-factor-resend-try-another-way",
                    method: :post, remote: true %>
      <% end%>
    </div>
  </div>
</div>
