<div class='error-notification'>
  <span>
    <%= tfa_enrollment_error(enrollment.error) if enrollment.error.present? %>
    <%= toll_fraud_daily_limit_error if !enrollment.error.present? && exceeds_signups_or_resends? %>
  </span>
</div>
