<p class="title"><%= custom_t("tfa_form.intro_step.inactive.title") %></p>
<p class="body"><%= custom_t("tfa_form.intro_step.inactive.body") %></p>
<%= link_to custom_t("tfa_form.intro_step.inactive.link_text"), custom_t("tfa_form.intro_step.inactive.link_url"), class: "learn-more-link" %>
