<p class="title"><%= custom_t("tfa_form.sign_in_step.title") %></p>
<p class="body"><%= custom_t("tfa_form.sign_in_step.body") %></p>

<%= render "error_message", enrollment: enrollment %>

<div class="sign-in-step">
  <%= form.text_field :email, label: custom_t(:email_address) %>
  <%= form.password_field :password, label: custom_t(:password) %>
</div><br><br>
