<% content_for :external_javascript do %>
  <%= javascript_include_tag "two_factor_auth" %>
<% end %>

<% content_for :css do %>
  <% if @dark_mode %>
    <%= stylesheet_link_tag "dark_mode/two_factor_auth" %>
  <% end %>
<% end %>

<div class="tfa-container">
  <p class="tfa-account-settings-link">
    <i class="fa fa-angle-left"></i>
    <%= link_to custom_t("tfa_form.account_settings").upcase, edit_person_path(current_user, tab: "account") %>
  </p>

  <div class="tfa-form-wrapper">
    <div class="tfa-form-header">
      <h2><%= custom_t("tfa_form.header") %></h2>
    </div>

    <%= form_for :tfa_form, url: two_factor_auth_enrollments_path, html: {id: "tfa-form"}, method: :put do |form| %>

      <div class="tfa-form-step-body">
        <%= render @step,
              form: form,
              two_factor_auth: @two_factor_auth,
              auth_type: @two_factor_auth.notification_method,
              enrollment: @enrollment %>
      </div>

      <div class="tfa-form-bottom">
        <% case @step %>
        <% when "confirmation" %>
          <%= form.submit custom_t("tfa_form.close"), data: {current_step: @step }, class: "close-btn" %>
        <% when "intro" %>
          <%= form.submit custom_t("tfa_form.get_started"), data: {current_step: @step }, class: "get-started-btn" %>
        <% when "preferences" %>
          <%= form.submit custom_t("tfa_form.next"), data: {current_step: @step }, class: "next-btn #{ exceeds_max_daily_attempts?(current_user, :signup) ? 'max-signups' : '' }", disabled: exceeds_max_daily_attempts?(current_user, :signup) %>
        <% else %>
          <%= form.submit custom_t("tfa_form.next"), data: {current_step: @step }, class: "next-btn" %>
        <% end %>
      </div>
    <% end %>

    <% if @step != "confirmation" %>
      <%= button_to custom_t("tfa_form.cancel"),
            two_factor_auth_enrollments_path(cancel: true),
            method: :delete,
            class: "cancel-btn" %>
    <% end %>
  </div>
</div>

<%= render "two_factor_auth/shared/call_resend_banned_modal" %>
