<script>
  jQuery(document).ready(function($) {
    var apple_music = $("#apple_music")
    var itunes = $("#itunes_store")
    
    apple_music.prop("disabled", !itunes.prop("checked"));
    
    itunes.on("change", function () {
      apple_music.prop("disabled", !itunes.prop("checked"));
      if(!itunes.prop("checked")) {
        apple_music.prop("checked", itunes.prop("checked"))
      }
    })
  })
</script>

<%= form_tag admin_add_salepoint_path, method: :put, multipart: true, remote: true do %>
  <table class="add-salepoint-table">
    <tr>
      <td class="row-header">
        Stores:
      </td>
      <td>
        <div class="checkbox-wrapper">
          <%= label_tag do %>
            <%= check_box_tag "store_ids[]",
              Store::ITUNES_WW_ID,
              existing_store_ids.include?(Store::ITUNES_WW_ID), {
                disabled: existing_store_ids.include?(Store::ITUNES_WW_ID),
                id: "itunes_store"
              }
              %>
            iTunes
          <% end %>

          <%= label_tag do %>
            <%= check_box_tag "apple_music",
              "on",
              album.apple_music, {
                disabled: album.apple_music,
                id: "apple_music"
              }
              %>
            Apple Music
          <% end %>

          <% Store.mass_retry_album_stores.each do |store| %>
            <%= label_tag do %>
              <%= check_box_tag "store_ids[]",
                store.id,
                existing_store_ids.include?(store.id), {
                  disabled: existing_store_ids.include?(store.id)
                } %>
              <%= store.name %>
            <% end %>
          <% end %>
        </div>
      </td>
    </tr>
  </table>
  <%= hidden_field_tag 'album_id', album.id %>

  <div class="submit-row">
    <%= submit_tag 'Submit', class: "submit-btn", data: { disable_with: "Processing..."   } %>
  </div>
<% end %>
