jQuery('#add-salepoints-container .salepoints-table')
  .html("<%= j render 'add_salepoints_table',
        album: @album,
        existing_store_ids: @album.salepoints.pluck(:store_id) %>");

jQuery("#add-salepoints-container .success-flash").html("")
jQuery("#add-salepoints-container .error-flash").html("")
