<div id="add-salepoints-container">
  <h2>Add Paid Salepoint Tool</h2>

  <%= form_with url: edit_admin_add_salepoint_path, method: :get, remote: true do %>
    <div class="search-wrapper">
      <%= label_tag "Enter UPC or Album ID below" , nil, class: "search-label" %>
      <%= text_field_tag :album_id_or_upc, params[:album_id_or_upc], class: 'search-input'%>
      <%= submit_tag 'Search', class: "search-btn", data: { disable_with: "Loading..."  } %>
    </div>
  <% end %>

  <div class="success-flash"></div>
  <div class="error-flash"></div>
  <div class="salepoints-table"></div>
</div>
