jQuery('#add-salepoints-container .salepoints-table')
  .html("<%= j render 'add_salepoints_table',
        album: @album,
        existing_store_ids: @album.salepoints.pluck(:store_id) %>");

if (<%= @salepoints.present? %>) {
  jQuery("#add-salepoints-container .success-flash")
    .html("Successfully added paid salepoints for the following store(s): \
      <%= @salepoints.map { |s| s.store.name }.join(", ") %>")
}

if (<%= @apple_music.present? %>) {
  jQuery("#add-salepoints-container .success-flash")
    .html("Successfully added paid salepoints for Apple Music")
}

if (<%= @stores_not_added.present? %>) {
  jQuery("#add-salepoints-container .error-flash")
    .html("Unable to add salepoints for the following store(s): \
      <%= @stores_not_added.pluck(:name).join(", ") %>")
}
