<% if @people.length > 1 %>
  <p>An iTunes LAN ticket has been created for UPC <%= ticket[:content_vendor_id] %>, but there are multiple TuneCore releases with that UPC. Please look up the ticket in iTunes Connect.</p>
<% else %>
  <% if  @person.takedown_at %>
    <h3>This release was taken down on <%= @person.takedown_at %></h3>
  <% end %>

  <% if @person.vip %>
    <h3>VIP Release</h3>
  <% end %>

  <p><strong>Ticket ID:</strong> <%= "#{@ticket[:ticket_id]} (created #{@ticket[:created].strftime("%B %d, %Y")}, updated #{@ticket[:last_modified].strftime("%B %d, %Y")})" %></p>
  <p><strong>TuneCore Customer:</strong> <%= "#{@person.name} (#{@person.email})" %></p>
  <p><strong>Release Name:</strong> <%= @ticket[:name] %></p>

  <% if @person.finalized_at %>
    <p><strong>Release Finalized At:</strong> <%= @person.finalized_at.strftime("%B %d, %Y") %></p>
  <% else %>
    <p><strong>Release Finalized At:</strong> <em>Release was unfinalized and never re-finalized</em></p>
  <% end %>

  <p><strong>UPC:</strong> <%= @ticket[:content_vendor_id]%></p>
  <p><strong>Ticket Type:</strong> <%= @ticket[:content_ticket_type]%></p>
  <p><strong>Notes:</strong>
    <% @ticket[:notes].each do |note|%>
      <p><em><%= "#{note[:date].to_date.try(:strftime, "%Y-%m-%d")}: #{note[:note]}" %></em></p>
    <% end %>
  </p>
<% end %>
