.payoneer-mandatory {
  img {
    width: 130px;
    margin: 20px 0;
  }

  h4 {
    margin-bottom: 20px;
  }

  input[type="submit"].payout-button {
    background-color: #0d5c81;
    border: none;
    color: white;
    text-transform: none;
  }

  .currency-selector {
    display: inline-block;
    margin: 0 0 30px 0;
    padding: 10px;
    background-color: #eee;
  }
}

.payout-container {
  border: solid black 1px;
  margin: 20px 0px;

  .payout-contents {
    padding: 10px 30px;
  }
}

.payout-header {
  background-color:#0d5c81;
  color: white;
  font-size: 1.125em;
  height: 4vh;

  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;

  span {
    padding-left: 1%;
  }
}

.payout-warning {
  color: #F00;
  font-weight: 800;
}

.payoneer-ca-au-warning {
  margin: 10px 0px;
}
