.payout-transfer-container {
  .fetch-error {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
      margin-top: 20px;
    }
  }
  .confirm {
    .details {
      display: grid;
      grid-template-columns: 50% 50%;
      text-align: left;

      .request-amount-vat-tooltip {
        .vat_tooltip {
          display: inline;
          .tooltip-info-icon:before {
            content: "\f059";
          }
        }
      }

      .fee-info-trigger {
        color: #1293d1;
        font-size: 1em;
        cursor: pointer;
      }

      > div {
        padding: 20px;
        &:nth-child(2n) {
          text-align: right;
        }

        &.highlight {
          font-weight: bold;
          background-color: #f0f0f0;

          &.error {
            color: $danger-zone;
          }
        }
      }
      .payoneer-fee-checkout-disclaimer {
        font-size: 12px;
        white-space: nowrap;
      }
    }
    .info {
      text-align: left;
      padding: 20px;
    }
    .confirmation-page-withheld-note {
      padding: 5px 350px 0 0;
    }
  }

  &.show {
    .confirm {
      padding: 20px;
      background-color: #1293d1;
      color: #fff;
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
    .details {
      margin: 20px 40px;
      padding: 50px 20px;
      border: 1px solid #CCC;
      display: grid;
      grid-template-columns: 50% 50%;

      > div {
        padding: 5px;
        text-align: right;
        font-weight: bold;

        &:nth-child(2n) {
          text-align: left;
          font-weight: normal;
        }
      }
    }

    .complete {
      display: block;
      margin: 20px 0;
    }
  }

  .payout-method {
    text-align: left;
    padding: 10px 20px;
    border-bottom: #CCC;
    background-color: #1293d1;
    color: #fff;
    a {
      color: #fff;
      border-bottom: 1px solid white;
      font-size: 0.9em;
    }
  }
}

.payout-confirm-controls {
  form {
    padding: 10px 0;
    .cancel {
      float: left;
    }
    .complete {
      float: right;
    }
  }
}

.payoneer-fee-info {
  display: none;
  position: relative;
  width: 70vw;
  max-width: 800px;
  height: 450px;
  margin: 50px auto;
  padding: 20px 50px;
  background: white;

  .contents {
    height: 100%;
    overflow-y: auto;
  }

  h4 {
    padding-top: 20px;
  }
}

.mfp-content .payoneer-fee-info {
  display: block;
}

.foreign-currency-toggle {
  display: inline-block;
  float: right;
  margin: -20px 0px;
}

.payout-toggled-value {
  display: none;
}
