
.payoneer {
  &-onboarding {
    &-header {
      min-height: 200px;
      background-color: #f8f8f8;
      width: 100vw;
      margin-left: calc(-50vw + 50%);
      margin-top: -11px;

      &-body {
        display: flex;
        height: 200px;
        align-items: center;
        justify-content: center;
        max-width: 1024px;
        margin: 0 auto;

        &-text-container {
          max-width: 80%;
          &-heading {
            font-family: HelveticaNeue;
            font-size: 26px;
            color: #4a4a4a;
          }

          &-link {
            font-family: HelveticaNeue;
            font-size: 16px;
            color: #0281bd;
          }
        }

        &-image-container {
          max-width: 140px;
        }

        &-spacer {
          width: 530px;
        }
      }
    }
  } // onboarding

  &-step {
    min-height: 65px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    color: #cccccc;
    font-family: HelveticaNeue;
    margin-top: 90px;

    &-cta {
      font-size: 10pt;
      width: 80%;
    }

    &-circle {
      width: 60px;
      height: 60px;
      background-color: #eeeeee;;
      border-radius: 50%;
      display: flex;
      align-items: center;

      &-selected {
        width: 60px;
        height: 60px;
        border: solid 2px #333333;
        background-color: #eeeeee;
        border-radius: 50%;
        display: flex;
        align-items: center;
        color: #333333;
      }

      &-count {
        font-size: 26px;
        text-align: center;
        margin: 0 auto;
      }
    }

    &-content {
      display: inline-block;
      padding-left: 5%;
      width: 100%;

      &-text {
        display: block;
        font-size: 26px;
      }

      &-link {
        display: block;
        font-size: 22px;
      }
    }

    &-selected {
      min-height: 65px;
      display: flex;
      align-items: center;
      padding-left: 5%;
      color: #333333;
      font-family: HelveticaNeue;
      margin-top: 90px;
    }
  } // step

  &-info-box {
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin-bottom: 55.1px;
    position: relative;
    top: -25px;
    font-family: HelveticaNeue;
    color: #333333;
    padding: 43px 35px 40px 37px;
    font-size: 16px;

    &-header {
      width: 336.2px;
      height: 26px;
      font-family: HelveticaNeue;
      font-size: 22px;
      color: #333333;
      margin-bottom: 18px;
    }

    &-description {
      width: 338px;
      height: 192px;
      font-family: HelveticaNeue;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #333333;
    }
  }

  &-mobile {
    text-align: center;
    padding: 10%;

    &-step-index {
      margin-bottom: 20px;
    }

    &-redirect-btn {
      width: 314px;
      height: 61px;
      font-family: Helvetica;
      font-size: 16px;
      color: #00a1e0;
      margin-top: 24px;
      cursor: pointer;
    }

    &-onboarding-header {
      min-height: 200px;
      background-color: #f8f8f8;
      width: 100vw;
      margin-left: calc(-50vw + 50%);
      margin-top: -10px;

      &-text {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: HelveticaNeue;
        font-size: 26px;
        color: #4a4a4a;
      }
    }

    &-gray-text {
      font-family: HelveticaNeue;
      font-size: 20px;
      color: #aaaaaa;
    }

    &-progress-bar {
      width: 50%;
      margin: 0 auto 1rem auto;
    }

    &-info-box {
      background-color: #ffffff;
      margin-bottom: 3%;
      font-family: HelveticaNeue;
      color: #333333;
      font-size: 16px;

      &-header {
        font-family: HelveticaNeue;
        font-size: 22px;
        color: #333333;
        margin-bottom: 1%;
      }

      &-description {
        font-family: Helvetica;
        color: #333333;
      }
    }

    &-image-container {
      max-width: 30%;
      margin: 5% auto 0;
    }
  }
} // payoneer

.right-side {
  background-color: #ffffff;
}

.left-side {
  margin-left: -26px;
  background-color: #ffffff;
}
