.payoneer-fee-modal-trigger {
  color: #1293d1;
  cursor: pointer;
}

.payoneer-popup-wrapper {
  display: none;
}

.payoneer-fee-modal-container {
  max-width: 800px;
  margin: auto;
  position: relative;

  .content {
    background: white;
    margin: auto;
    padding: 30px;

    .filters {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 20px;

      &>div {
        margin: 0 10px 0 0;
      }

      select {
        width: 100%;
        margin-top: 10px;
      }

      .preview-fees {
        color: #ffffff;
        border-radius: 4px;
        background-color: #00a1e0;
        padding: 10px 20px;
        margin-bottom: 16px;
      }
    }

    .results {
      table {
        display: none;
      }
      .no-records {
        padding: 30px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 568px) {
  .payoneer-fee-modal-container {
    .content {
      padding: 30px 15px;

      h3 {
        font-size: 1.5rem;
      }

      .filters {
        flex-direction: column;
        align-items: stretch;

        .preview-fees {
          width: 100%;
        }
      }

      .results {
        margin-top: 20px;
      }

    }
  }
}
