//this file is just for minor changes to existing css - I had to modify a few class names
// and add this file because while most of the css is shared with existing payoneer css, it's not exact,
// and pulling from the asset pipeline to "application_old" layout is tricky







//THIS WILL NOT GET IMPORTED TO main.css.scss
//- IT IS HERE TO COMPENSATE FOR THE LAYOUTS THAT DO NOT HAVE DIRECT ACCESS TO main.css.scss

//premodal elements

.change-payout-pref-info {
  display: none;
  position: relative;
  width: 45vw;
  height: 115px;
  margin: 50px auto;
  background: white;
  font-size: 150%;
  border-radius: 8px;


  .contents {
    height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  h4 {
    padding-top: 20px;
  }
}



.change-payout-pref-info-trigger {
  cursor: pointer;
}


.payoneer-preferences-popup-wrapper {
  display: none;
}


//interior modal elements
.payoneer-fee-modal-container {
  color: #333333;
  font-size: 159%;
  line-height: 1.5;
  h3 {
    margin-bottom: 0.33rem;
  }
  table thead {
    border: 1px solid #f1f1f1;
  }
  table tbody {
    border: 1px solid #f1f1f1;
  }
  table tbody tr:nth-child(even) td {
    background-color: #f1f1f1;
  }
  table th {
    padding: 0.5rem 0.625rem 0.625rem;
    font-weight: bold;
    text-align: left;
    background-color: #f1f1f185;
    border-bottom: none;
  }
  table td {
    padding: 0.5rem 0.625rem 0.625rem;
    font-weight: 400;
    text-align: left;
    border-bottom: none;
  }
}

.mfp-content .change-payout-pref-info {
  display: block;
}

.mfp-content .payoneer-details-modal-container {
  display: block;
}





.payoneer-details-modal-container {
  color: #635f5f;
  line-height: 1.5;
  font-size: 130%;
  background-color: white;
  max-width: 800px;
  margin: auto;
  position: relative;
  border-radius: 8px;
  .content {
    background: white;
    margin: auto;
    padding: 60px;
    border-radius: 8px;
    .payoneer-fees-desktop-fee-name {
      font-size: 18px;
    }
    .table-header {
      font-size: 18px;
      padding: 0.5rem 0.625rem 0.625rem;
    }
    thead th {
      padding: 0.5rem 0.625rem 0.625rem 1.75rem;
      font-weight: bold;
      text-align: left;
      color: gray;
    }
    thead th:first-child {
      padding-left: 11px;
      width: 50%;
    }
    table {
      border-collapse: collapse;
      th {
        background-color: white;
        border-right: 1px solid #CCCCCC;
      }
      th:last-child {
        border-right: none;
      }
      tr:first-child {
        padding-left: 11px;
      }
      tr td {
        border-right: 1px solid #CCCCCC;
        border-bottom: none;
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: left;
      }
      tr td:last-child {
        border-right: none;
      }
      tr:nth-child(even) td {
        background-color: #f1f1f185;
      }
      tr:last-child td {
        border-bottom: 1px solid #CCCCCC;
      }
    }
  }
}


//no modal elements
//Here forward is styling for the actual tab in account settings
// ^^ above is compensating for modals where existing payoneer asset pipeline css is insufficient because of the new layout



.payout-preferences {
  font-family:'Helvetica Neue', Helvetica, Arial, Sans-serif;
  margin-left: 3%;
  color: #635f5f;
  .payout-header {
    font-size: 18px;
    margin: 28px 0 28px 0;
  }
  .payout-explanation {
    font-family: Helvetica;
    font-size: 14px;
    background-color: #68bedc21;
    padding: 3% 8% 3% 3%;
    margin-bottom: 32px;
  }
  .payout-method {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding: 20px 0 20px 0;
    .title {
      margin-right: 15px;
    }
    .type-container {
      font-weight: 400;
      display: flex;
      .type {
        margin-right: 7px
      }
      .change {
        .change-payout-info-trigger{
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
  .bank-transfer-fees-container {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #CCCCCC;
    padding: 20px 0 20px 0;
    :first-child {
      margin-right: 7px;
    }
    .payoneer-details-modal-trigger {
      color: rgba(18, 147, 209, 1);
      cursor: pointer;
      &:before {
        font-family: FontAwesome;
        content: '\f05a';
      }
    }
    .payoneer-details-fees-mobile {
      color: rgba(18, 147, 209, 1);
      cursor: pointer;
      &:before {
        font-family: FontAwesome;
        content: '\f05a';
      }
      .mobile-view-wrapper {
        display: none;
      }
    }
  }
  .transfer-fees-table {
    thead th {
      text-align: left;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 22px;
      font-weight: bold;
      text-align: left;
      font-size: 15px;
    }
    thead th:first-child {
      padding-left: 0;
    }
    table {
      text-align: left;
      border-collapse: collapse;
      th {
        background-color: white;
        border-right: 1px solid #CCCCCC;
      }
      th:last-child {
        border-right: none;
      }
      tr td {
        border-right: 1px solid #CCCCCC;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 22px;
        text-align: left;
      }
      tr td:first-child {
        padding-left: 0;
      }
      tr td:last-child {
        border-right: none;
      }
    }
  }
  .payoneer-image-container {
    display: flex;
    justify-content: center;
    .payoneer-img {
      margin-top: 15%;
      width: 15%;
      height: 0%;
    }
  }
}





@media only screen and (max-width: 767px) {
  .payout-details-mobile {
    width: 350px;
    margin-left: 25px;
  }
  .change-payout-pref-info {
    display: none;
    position: relative;
    margin: 50% auto;
    width: 83vw;
    height: 115px;
    background: white;
    font-size: 150%;


    .contents {
      height: 100%;
      overflow-y: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
  .payout-preferences {
    .transfer-fees-table {
      width: 355px;
      thead th {
        font-size: 12px;
        padding-left: 8px
      }
      table tr td {
        padding-left: 8px;
      }
    }
  }
}
