.payout-transfer {
  &-container {
    @extend .payout-container;
    text-align: center;
  }

  &-content {
    &-container {
      @extend .cell;
      @extend .grid-y;
      @extend .payout-container-center-content;
    }
  }

  &-fee-notice {
    @extend .payout-grayscale;
    @extend .grid-x;
    justify-content: center;
    padding-top: 1%;

    &-text {
      @extend .payout-small-padding-text;
      @extend .cell;
      @extend .small-3;

      text-align: left;
    }

    &.with-icon:before {
      @extend .payout-icon;
      padding-top: 1%;
      padding-right: 0.5%;
      content: $fa-asterisk;
      font-size: 0.5 * $tc-base-font-size;
    }
  }

  &-form {
    @extend .payout-container;
    @extend .no-bullet;
    @extend .default-top-padding;
    border: none;

    &-btn {
      @extend .small-3;
      @extend .button;
    }

    &-text-field-container {
      @extend .payout-container;
      border: none;
    }
  }

  &-input {
    font-size: 24px;
    text-align: right;
    padding-bottom: 25px;
  }
}

.default-top-padding {
  padding-top: 3%
}

.back-to-balance-history {
  padding-top: 6%;
  padding-bottom: 5%;
}


.caret-hyperlink:before {
  @extend .payout-icon;
  content: $fa-caret-left;
}

.change-payout-info {
  display: none;
  position: relative;
  width: 45vw;
  height: 115px;
  margin: 50px auto;
  background: white;

  .contents {
    height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  h4 {
    padding-top: 20px;
  }
}

.user-currency-balance-display {
  display: none;
  font-weight: 800;
  font-size: 18px;
  color: darkslategray;
}


.mfp-content .change-payout-info {
  display: block;
}

.show-exchanged-balance {
  font-size: 13px;
}

.payout-exchange-balance-display {
  font-size: 12px;
}

.payoneer-help-link:link, .payoneer-help-link:visited {
  padding: 10px 0px;
  text-decoration: underline;
}

.popup-withdrawal-help-text {
  display: block;
  margin: 10px 0px;
}

.payout-confirm-help-link {
  display: block;
  margin: 15px 0px;
}
