.payoneer-fees {
  &-desktop {
    &-banner {
      width: 100vw !important;
      height: 300px;
      margin-left: calc(-50vw + 50%);
      background: image-url("payoneer/fee-explanation-banner.png") no-repeat top center;
      background-size: cover;
      margin-bottom: 5%;

      color: #ffffff;
      font-family: HelveticaNeue;
      font-size: 16px;
      margin-top: -10px;

      &-text-container {
        width: 40%;
        margin: 45px 0 0 10%;
      }

      &-header {
        font-family: HelveticaNeue;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.13;
        padding-bottom: 20px;
      }

      &-description {
        max-width: 572px;
        height: 107px;
        font-family: HelveticaNeue;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: normal;
        padding: 8px 0;
      }

      &-btn {
        width: 230px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: #00a1e0;
        font-family: HelveticaNeue;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        border: none;
        margin-top: 25px;
      }
    }

    &-btn {
      border-radius: 4px;
      font-weight: bold;
      margin-top: 25px;
      width: 340px;
    }

    &-fee {
      &-first-th {
        width: 50%;
      }
      &-tbody {
        tr {
          background: #FEFEFE;
          border-bottom: solid #f1f1f1 1px;
          td {
            padding: 2.5rem 1.2rem;
          }
        }
        //have to do it this way because we're overwriting foundations' style for these elements
        tr:nth-child(even) {
          background: #FEFEFE;
          border-bottom: solid #f1f1f1 1px;
        }
      }
      &-name {
        font-size: 22px;
        margin-bottom: 1%;
        color: #333333;
      }

      &-description {
        font-family: Helvetica;
        font-size: 16px;
        line-height: 1.5;
        color: #666666;
      }

      &-link {
        font-family: Helvetica;
        font-size: 16px;
        text-decoration: underline;
        cursor: pointer;
        line-height: 1.5;
        color: #0281bd;
      }

      &-item {
        font-family: Helvetica;
        font-size: 14px;
        text-align: left;
        color: #666666;

        &-bold {
          font-family: Helvetica;
          margin-top: 2%;
          font-size: 16px;
          font-weight: bold;
          color: #666666;
        }
        &-local {
          font-family: Helvetica;
          font-size: 14px;
          text-align: center;
          color: #666666;
        }
      }
    }

    &-footer {
      height: 100px;
      background-color: #f4fcff;
      display: flex;
      justify-content: space-between;

      .payoneer-fees-desktop-banner-btn {
        margin-right: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .left-side {
        margin-left: 26px;
        background-color: inherit;
        display: flex;
        align-items: center;

        a {
          text-decoration: underline;
        }
      }
    }
  }

  &-mobile {
    &-banner {
      color: white;
      width: 100vw !important;
      height: 392px;
      margin-left: calc(-50vw + 50%);
      background: image-url("payoneer/fee-explanation-banner.png") no-repeat;
      margin-bottom: 1%;
      margin-top: -10px;

      &-header {
        font-family: HelveticaNeue;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      &-body {
        font-family: HelveticaNeue;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: #ffffff;
        padding: 15px;
      }
    }

    &-btn {
      width: 100%;
      margin-top: 5%;
      font-family: HelveticaNeue;
      font-size: 18px;
      font-weight: bold;
      color: #ffffff;
      border-radius: 4px;
      background-color: #00a1e0;
    }

    &-fee {
      border-top: solid gray 1px;
      padding: 30px 0;
      &-name {
        font-family: Helvetica;
        font-size: 22px;
        color: #333333;
      }

      &-description {
        font-family: Helvetica;
        font-size: 16px;
        line-height: 1.5;
        color: #666666;
        margin: 1% 0;
      }

      &-summary {
        &-wrapper{
          padding-top: 40px;
        }
        &-header {
          display: inline-block;
          font-family: HelveticaNeue;
          font-size: 14px;
          font-weight: bold;
          color: #333333;
        }
        &-cell{
          font-family: HelveticaNeue;
          font-size: 14px;
          text-align: right;
          color: #333333;
          float: right;
        }
      }
    }

    &-mastercard {
      &-fees {
        font-family: Helvetica;
        font-size: 16px;
        font-weight: bold;
        color: #666666;

        &-item {
          font-family: Helvetica;
          font-size: 16px;
          line-height: 1.5;
          color: #666666;
        }

        &-list {
          margin: 3% 0;
        }
      }
    }
  }
}

.additional-fee-mobile {
  border: 1px solid #1293d1;
  color: #1293d1;
  padding: 20px;
  width: 100%;
  background: white;
  margin-top: 15px;
}

.calculator-icon {
  font-family: FontAwesome5FreeSolid;
  font-size: 32px;
  color: #00a1e0;
  margin-right: 15px;
}

.payoneer-fees-funding-currency {
  font-weight: bold;
  margin: 10px 0px;
}

.payoneer-btn {
  background-color: #1293d1;
  font-family: Helvetica;
  font-size: 16px;
}

@media screen and (max-width: 900px) {

  .payoneer-fees-mobile-fee-summary-outer-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.payoneer-fees-disclaimer{
  font-size: small;
}
