%payout-btn {
  background-color: #0d5c81;
  border: none;
  color: white;
  margin: 5px;
  text-transform: none;
  //below is just to replicate style from inputs for buttons that needs to look the same
  border-radius: 3px;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  line-height: 1;
  padding: 0.65em 1.5em;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

.payout-container {
  border: solid black 1px;

  .payout-contents {
    padding: 20px 30px;
  }
}

.legacy-payout-options {
  margin-top: 30px;

  h5 {
    margin: 20px;
  }

  input[type="submit"] {
    @extend %payout-btn;
  }

  fieldset {
    background: transparent;
    border-radius: 0;
    border: 1px solid black;
  }
}

.first-time-transfer-info {
  margin-top: 20px;
}

.payout-header {
  background-color:#0d5c81;
  color: white;
  font-size: 1.125em;
  height: 4vh;

  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;

  span {
    padding-left: 1%;
  }
}

.payout-application-status {
  margin: 1%;

  .title {
    font-weight: bold;
    font-size: 1.1em;
  }

  .message {
    margin-top: 20px;

    .highlight {
      color: red;
      font-weight: bold;
    }
  }

  .payoneer-withdraw {
    margin: 10px 0;
    a {
      background-color: #0d5c81;
      text-transform: none;
    }
  }
}

input.payout-button, input.payout-button:hover, input.payout-button:focus, input.payout-button:active, button.payout-button {
  @extend %payout-btn;
}

.payout-warning {
  color: #F00;
  font-weight: 800;
}

.payoneer-ca-au-warning {
  margin: 10px 0px;
}
