.payoneer-currency-selection-trigger {
  color: #0f7eb4;
  cursor: pointer;
}

.payoneer-currency-selection-content, .paypal-currency-selection-content {
  display: none;
  text-align: center;
  max-width: 600px;
  margin: auto;
  position: relative;
  background: white;
  padding: 20px;

  .controls {
    display: flex;
    margin-top: 20px;

    button[type=submit] {
      background-color: #0f7eb4;
      color: white;
      padding: 10px;
      flex-grow: 1;
      margin: 10px;
      cursor: pointer;
    }
    button[type=submit]:disabled {
      background-color: #bdbdbd;
      border: #bdbdbd;
      cursor: default;
    }

  }
}
