.payoneer-soft-stop {
  position: relative;
  box-shadow:  7px 10px 31px -12px rgba(0,0,0,0.75);
  background: #0B0339;
  color: white;
  width: 60vw;
  margin: 50px auto;

  & > div {
    padding: 10px;
  }

  h2 {
    color: white;
  }

  .footer {
    position: relative;
    text-align: right;
    background: white;
    padding: 10px;

    img {
      width: 100px;
      position: absolute;
      bottom: 20px;
      left: 20px;
    }

    a {
      display: inline-block;
      padding-top: 10px;
      text-decoration: underline;
      font-size: 1.2em;
    }
  }

  .currency-selector {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eee;
  }
}

.mfp-close-btn-in .payoneer-soft-stop .mfp-close {
  color: white;
}

.payoneer-redirect {
  box-sizing: border-box;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  padding-top: 50px;

  i {
    padding: 20px;
  }
}
