@import "../people/self_billing.scss";

.self-billing-info-container {
  text-align: left;
  width: 80%;
  background: #e1e1e1;
  margin: 30px auto;
  padding: 20px;

  font-size: 14px;

  h4 {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }

  .radio-group {
    li {
      margin-bottom: 15px;

      .checkbox-radio-input::after {
        width: 6px;
        height: 10px;
      }
    }
  }

  .selfBillingFormError {
    margin-left: 1.25rem;
  }

  .checkbox-wrapper {
    li {
      list-style-type: none;
    }
  }

  input[type=checkbox] {
    margin-right: 1;
  }

  .self-billing-form-component {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}
