@mixin modal() {
  background: $white-background;
  border-radius: none;
  border: none;
  bottom: auto;
  left: 40px;
  margin: 0 auto;
  margin-bottom: 30px;
  outline: none;
  padding: 0;
  position: absolute;
  right: 40px;
  top: 15%;
  width: 75%;

  &-overlay {
    background-color: rgba(74, 74, 74, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }
}

.publishing_administration-compositions__show {
  .add-compositions-modal {
    @include modal();

    .footer {
      .cancel-btn {
        @extend %add-compositions-btn;
        background-color: $tc-blue !important;
      }
    }

    .add-compositions-form {
      .enter-information {
        padding-top: 15px;
        padding: .05% 4%;
        font-weight: 400;
        font-size: 1.2em;
      }

      .original-song-note {
        padding: .05% 4%;
      }

      .register-another-song {
        font-size: 1.2em;
        padding: .05% 4%;
      }

      .percent div.percent-input-wrapper {
        display: inline-block;
        margin-top: .3%;
        vertical-align: top;
        width: 25%;
        max-width: 25%;

        input {
          width: 100%;
        }
      }

    }

    .cowriters-form {
      padding: .05% 4%;
    }

    .cowriters-paragraph {
      font-size: .95em;
      line-height: 1.2;
    }

    .list-additional-cowriters {
      color: $tc-blue;
      cursor: pointer;
      display: flex;
      justify-content: left;
      padding-top: 10px;

      &:disabled {
        cursor: default;
        color: $grayscale-text;
        background: none;
      }
    }

    label {
      font-weight: bold;
      padding-bottom: .4%;
    }

    .cowriter-row > div {
      padding-left: 0;
    }

    .remove-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .public-domain-checkbox-input {
      vertical-align: top;
      margin: 0.5em;
    }

    .publishing-compositions-description-text {
      font-size: 0.9em;
      font-style: italic;
      line-height: 1.2;
      vertical-align: top;
      margin: 0.5em 0;
      width: 95%;
      display: inline-block;
    }

    .tooltip {
      top: -50px;
      padding: 0px;
    }
  }

  .upload-compositions-modal {
    @include modal();
    width: 40%;

    .modal-body {
      padding: 0px 20px;
      text-align: center;
    }

    .upload-controls {
      margin: 10px 0px 20px 0px;

      p.upload-message {
        font-size: 12px;
      }

      p.success {
        color: green;
      }

      p.error {
        color: red;
      }
    }

    .upload-btn {
      @extend %add-compositions-btn;
      width: auto;
      padding: 0px 10px;
    }

    .hidden {
      display: none !important;
    }
  }
}

%add-compositions-btn {
  background-color: $tc-blue;
  color: $white_background;
  cursor: pointer;
  font-size: .95em;
  font-weight: bold;
  height: 42px;
  margin: 10px 0;
  width: 150px;
  text-align: center;
  &:disabled {
    cursor: default;
    background-color: $grayscale-text;
  }
}

.thank-you-modal {
  @include modal();
}

.thank-you-message {
  @include modal();

  > strong {
    padding: 15px 4%;
    display: inline-block;
  }

  > p {
    padding: .5% 4%;
  }
}
