.publishing-cae-number-modal {
  background: $white_background;
  display: flex;
  margin: 20px auto;
  max-width: 450px;
  padding: 30px;
  position: relative;
  width: auto;

  &-text {
    label {
      display: flex;
      font-size: 15px;
      font-weight: bold;
    }
  }

  &-btn-wrapper {
    display: flex;
    cursor: pointer;
    margin: 20px auto 0;

    &__save-btn {
      background-color: $tunecore_blue;
      margin: 0 auto;
      border: none;
      color: $white_background;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      padding: 11px 0;
      text-decoration: none;
      width: 95px;
      height: 39px;
    }

    &__save-btn-disabled {
      background-color: $tunecore_blue;
      margin: 0 auto;
      border: none;
      color: $white_background;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      padding: 11px 0;
      text-decoration: none;
      width: 95px;
      height: 39px;
      cursor: not-allowed;
    }

    &__cancel-btn {
      margin: 0 auto;
      line-height: normal;
      background-color: rgba(102, 102, 102, 1);
      border: none;
      color: $white_background;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      padding: 11px 0;
      text-align: center;
      text-decoration: none;
      width: 95px;
      &:hover, &:focus {
        color: $white_background;
      }
    }
  }

  .publishing-cae-number-modal-cae-input {
    margin: auto;
    width: 209px;
  }
}
