.publishing_administration-compositions__show {
  .publishing-compositions-add-shares-modal {
    &-overlay {
      background-color: rgba(74,74,74,0.50);;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
    }
    background: $white_background;
    margin: 20px auto;
    max-width: 828px;
    position: relative;
    width: auto;

    &-header {
      background-color: $tunecore-header-blue;
      color: $white_background;
      font-size: 15px;
      font-weight: bold;
      height: 54px;
      padding: 15px 20px;
    }

    &-body {
      min-height: 200px;
    }
  }

  // This overrides React classes
  .rt-tbody {
    .rt-tr-group {
      .rt-td {
        text-align: center;
        min-height: 65px;
        font-size: 0.8em;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
      }
    }
  }

  .grey-text {
    color: $tunecore-gray;
    padding-left: 3%;
  }

  .rt-noData {
    z-index: 0;
  }

  .table-header-cell {
    color: #4A4A4A;
    font-size: 0.8em;
    font-weight: bold;
    outline: none;
    padding: 15px 5px !important;
  }

  .composition-status {
    background: rgba(155,155,155,0.15);
    margin: 3%;
    font-weight: bold;
    height: 100%;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
  }

  .datatable {
    &-cell {
      line-height: 3.7;
    }

    &-search-field {
      text-align: right;
    }

    &-search-icon {
      cursor: pointer;
      margin-right: 27%;
    }

    &-search-input {
      margin: 0;
    }

    &-cancel-search {
      cursor: pointer;
      margin-top: 5%;
      margin-left: -2%;
    }

    &-columns-header {
      background-color: $tunecore-header-blue;
      color: $white_background;
      font-size: 17px;
      line-height: 2.5;
      min-height: 54px;
      outline: none;
      padding: 1% 1.7%;
    }

    &-compositions-count {
      font-size: 15px;
    }

    &-your-share a {
      cursor: pointer;
    }
  }

  .ReactTable .rt-table {
    overflow: visible;
  }

  .ReactTable .rt-th, .ReactTable .rt-td {
    white-space: inherit;
  }

  .ReactTable .rt-thead .rt-resizable-header-content {
    overflow: visible;
  }

  .ReactTable .datatable-cowriter-share {
    overflow: visible;
  }

  .ReactTable {
    .tooltip {
      color: $black_background;
      font-size: 14px;
      overflow: hidden;
      padding: 0;
      text-align: left;
    }

    .tooltip-arrow {
      top: -18px;
    }

    .tooltip-title {
      padding: 1.9% 4%;
    }

    .tooltip-column {
      line-height: 1.2rem;
    }

    .cell-tooltip :hover {
      cursor: pointer;
    }

    .cell-tooltip .tooltip-left {
      margin-left: 50%;
      top: -10px;
      width: 150px;
    }

    .cell-tooltip .tooltip-title {
      padding-top: 0px;
    }

    .cell-tooltip .tooltip-left-arrow {
      margin-left: 50%;
    }
  }
}
