.publishing_administration-compositions__show {
  .header {
    background-color: $tunecore-header-blue;
    color: $white_background;
    font-size: 15px;
    font-weight: bold;
    line-height: 3em;
    padding: .5% 4%;
    margin-bottom: 3%;

    .close-btn {
      cursor: pointer;
      text-align: right;
    }
  }

  .entity-data-container {
    padding: .05% 4%;

    label {
      font-weight: bold;
    }
  }

  .error-container {
    .error-text {
      color: $danger-zone;
      font-size: 12px;
      font-weight: bold;
      display: block;
    }

    input {
      border-color: $danger-zone;
      margin-bottom: 0;
    }
  }

  .compositions-text-field-has-right-text {
    display: inline-block;
    vertical-align: top
  }

  .compositions-text-field-right-text {
    display: inline-block;
    width: 74%;
    font-size: 0.9em;
    font-style: italic;
    margin-left: 1%;
    margin-top: 0.3%;
  }

  .original-song-note {
    font-size: 0.9em;
    font-style: italic;
  }

  .error-message {
    color: $danger-zone;
    font-size: 12px;
    font-weight: bold;
  }

  .composer_share div.composer_share-input-wrapper {
    display: inline-block;
    margin-top: .3%;
    vertical-align: top;
    width: 25%;
    max-width: 25%;

    input {
      width: 100%;
    }
  }

  .percent input {
    margin-top: .3%;
    width: 25%;
  }

  .list-cowriter-link {
    padding: .05% 4%;
    font-weight: bold;
  }

  .footer {
    background-color: #F7F7F7;
    border-top: 10px solid $white_background;
    font-size: 15px;
    min-height: 62px;
    padding: .5% 4%;

    > div:last-child {
      text-align: right;
    }

    .cancel-btn {
      @extend %add-compositions-btn;
      background-color: $grayscale-text;
    }

    .register-btn {
      @extend %add-compositions-btn;
    }
  }
}
