.publishing-dashboard {
  min-height: 750px;

  &-header {
    font-size: 18px;
    padding-top: 17px;
  }

  &-react-card {
    padding-bottom: 3%;
  }

  &-card {
    box-shadow: 0 1px 1px 0;
    background-color: #F7F7F7;
    padding: 2% 2% 1%;

    &-header-row {
      margin-bottom: 1%;
    }

    &-row {
      margin-bottom: 5px;

      &-edit-links {
        color: #1293D1;
      }
    }

    &-name {
      font-size: 18px;
    }

    &-right-col {
      display: flex;
      color: #9B9B9B;

      &-react {
        display: flex;
        color: #333333;
      }

      &__status {
        display: flex;
        font-weight: bold;
        font-size: 18px;
      }

      .link-disabled {
        color: #9B9B9B;
        cursor: default;
        pointer-events: none;
      }
    }
  }

  &-cta {
    background-color: $grayscale-text;
    border-top: 1px solid white;
    box-shadow: 0 1px 1px 0;
    color: $white_background;
    margin: 0 -1px;

    .text {
      padding: 18px 20px;
    }

    .action {
      text-align: right;
      li {
        list-style-type: none;
      }
      input, a {
        display: inline-block;
        background-color: #3a96cf;
        color: $white_background;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        margin: 10px 16px;
        padding: 10px 0;
        width: 156px;
        text-align: center;
        &:hover, &:focus {
          color: $white_background;
        }
      }
    }
  }

  &-view-only {
    text-align: center;
    background-color: $gray_background;
    height: 100%;
    &-text {
      padding-top: 1rem;
    }
  }
}

.error {
  color: $error_color;
}

.react-publishing-card-name {
  margin-bottom: 2%;
  color: #333333;
}

.react-publishing-card-status {
  display: flex;
  color: $tc-blue;
  font-weight: bold;

}

button:disabled {
  background-color: grey;
  color: white;
  cursor: default;
}

.publishing-button {
  border: 0px;
  display: inline-block;
  background-color: #3a96cf;
  color: $white_background;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 16px;
  padding: 10px 0;
  width: 156px;
  text-align: center;
  &:hover, &:focus {
    color: $white_background;
  }
}

.margin-top-15 {
  margin-top: 15px;
}

.bold-font {
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}

.publishing-sync-opt-in-modal,
.publishing-sync-opt-out-modal,
.publishing_administration-composers__index .publishing-dashboard {
  .light-grey-background {
    background-color: #9b9b9b;
  }

  .grey-background {
    background-color: #666666;
  }

  .blue-background {
    background-color: #3a96cf;
  }

  .white-background {
    background-color: white;
  }
}

.black-color {
  color: black;
}

.publishing_administration-composers__index {
  .publishing-compositions-add-shares-modal {
    &-overlay {
      background-color: rgba(74,74,74,0.50);;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
    }
  }
}

.publishing-dashboard-card-wrapper {
  margin: 0;
  padding: 0;
}

.hidden-form {
  display: none;
}
