.publishing_administration-composers__index {
  .mfp-container {
    height: 0%;
    top: 180px;
  }

  .mfp-close-btn-in .mfp-close {
    color: $white_background;
    opacity: 1;
  }

  .publishing-edit-info-modal {
    margin: 20px auto;
    max-width: 800px;
    position: relative;
    width: auto;

    &-header {
      background-color: $tunecore-header-blue;
      color: $white_background;
      height: 54px;
      font-size: 15px;
      font-weight: bold;
      padding: 15px 20px;
    }

    &-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 25px;
      background-color: rgba(247, 247, 247, 1);
      min-height: 372px;

      abbr {
        display: none;
      }

      .input_error {
        font-size: .9 * $tc-base-font-size;
      }

      input.required {
        color: black;
        font-weight: normal;
      }

      label.required {
        color: black;
      }

      label {
        font-weight: bold;
      }

      &-text {
        font-size: 0.95em;
        padding-bottom: 2%;
      }

      &-name-input {
        input[type='text'] {
          margin-bottom: 1%;
        }

        margin: 0 1% 2% 0;

        &__affix {
          margin: 0 1% 2% 0;
          width: 80px !important;
        }
      }

      &__dob {
        font-size: 14px;
        margin-bottom: 1%;
      }

      &__pro {
        font-size: 0.9em;
        margin-left: 2%;
        margin-top: auto;

        &-text {
          line-height: 1.3;
        }

        span {
          display: block;
        }
      }

      &__pro_name {
        font-size: 14px;
        margin: 10px 0;
      }

      &__customer_support {
        font-size: 14px;
      }

      &-btn-wrapper {
        display: flex;
        cursor: pointer;
        margin-top: 15px;
        text-align: right;

        p {
          font-size: 13px;
          font-weight: bold;
        }

        &__save-btn {
          background-color: $tunecore_blue;
          border: none;
          color: $white_background;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          margin-right: 10px;
          padding: 11px 0;
          width: 100px;
          height: 100%;
        }

        &__save-btn-disabled {
          background-color: $tunecore_blue;
          border: none;
          color: $white_background;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          margin-right: 10px;
          padding: 11px 0;
          width: 100px;
          height: 100%;
          cursor: not-allowed;
        }

        &__cancel-btn {
          background-color: rgba(102, 102, 102, 1);
          border: none;
          color: $white_background;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          margin-right: 10px;
          padding: 11px 0;
          text-align: center;
          width: 100px;
          height: 100%;
          &:hover {
            color: $white_background;
          }
        }
      }

      &-tip-text {
        font-size: 0.9em;
      }

      &-company-section {
        .form-link {
          display: none;
        }

        .grid-x {
          display: none;
        }
      }
    }

    &-tax-info-prompt {
      text-align: center;

      &__msg {
        margin: 60px;
      }

      &__link {
        text-decoration: underline;
      }

      &__ok-btn-wrapper {
        display: flex;
        margin-top: 60px;

        &-btn {
          background-color: $tunecore_blue;
          border: none;
          color: $white_background;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          margin-right: 10px;
          padding: 11px 0;
          width: 85px;
        }
      }
    }


    &_publishing_company {
      margin-top: 10px;

      p {
        font-size: 14px;
      }
    }

    &_dob-inputs {
      display: flex;
      flex-wrap: wrap;

      select {
        margin-right: 5px;
        width: 31%;
      }
    }
  }
}

.hidden-modal {
  position: absolute;
  visibility: hidden;
}
