.publishing_administration-compositions__show {
  .edit-composition-modal {
    @include modal();
    
    .public-domain-checkbox-input {
      vertical-align: top;
      margin: 0.5em;
    }
    
    .publishing-compositions-description-text {
      font-size: 0.9em;
      font-style: italic;
      line-height: 1.2;
      vertical-align: top;
      margin: 0.5em 0;
      width: 95%;
      display: inline-block;
    }
  }
}
