.composer-modal {
  background: $white-background;
  border: 1px solid $brd_grey;
  border-radius: 4px;
  bottom: auto;
  left: 40px;
  margin: 0 auto;
  outline: none;
  overflow: auto;
  padding: 0;
  position: absolute;
  right: 40px;
  top: 15%;
  width: 75%;

  &-body {
    background: $modal-grey;
    padding: 0 2%;

    .composer {
      &-cae {
        padding-top: 2%;

        input {
          margin-top: 1%;
          max-width: 15em;
        }

        div > {
          b {
            margin-top: 2%;
          }
        }
      }

      &-customer-support {
        padding: 2% 0%;
      }

      &-dob {
        padding-bottom: 2%;

        span {
          padding: .5%;
        }
      }

      &-error {
        color: $danger-zone;
        font-weight: bold;
        padding-top: 1%;
      }

      &-pro {
        select {
          display: block;
          margin-top: 1%;
          max-width: 15em;
        }

        span {
          padding: .5%;
        }
      }
    }

    .error {
      border: 2px $danger-zone solid;
      color: $danger-zone;
    }
  }

  &-btns {
    padding-bottom: 1%;
  }

  &-btn-wrapper {
    margin-top: 0;
    text-align: right;

    .button {
      border: none;
      color: $white_background;
      cursor: pointer;
      font-size: $tc-base-font-size * 1.1;
      font-weight: bold;
      margin-left: 5%;
      max-width: 30%;
      min-width: 30%;
    }

    .cancel {
      background-color: $tunecore_dark_gray
    }
  }

  &-header {
    background-color: $tunecore-header-blue;
    color: $white_background;
    min-height: 54px;
    padding-left: 2%;
    padding-top: 1.25%;

    b {
      font-size: $tc-base-font-size * 1.2;
    }

    .close {
      i {
        cursor: pointer;
        font-size: $tc-base-font-size * 1.5;
      }
    }
  }

  &-table {
    border-collapse: inherit;
    margin: 0;

      &-head {
        th {
          padding-bottom: 0%;
          padding-left: 0%;
        }
      }

      &-body {
        background-color: $modal-grey;

        td {
          padding-left: 0%;
        }
      }
    }

  &-tax-info {
    font-size: $tc-base-font-size * 1.5;
    text-align: center;

    &-btn {
      background-color: $tunecore_blue;
      border: none;
      color: $white_background;
      cursor: pointer;
      font-weight: bold;
      padding: 2% 6%;
    }

    &-btn-wrapper {
      margin: 7% 0%;
    }

    &-link {
      text-decoration: underline;
    }

    &-msg {
      margin: 5%;
    }
  }
}
