.publishing_administration-composers__index {

  input.required {
    color: black;
    font-weight: normal;
  }

  label.required {
    color: black;
  }

  label {
    font-weight: bold;
  }

  label {
    font-weight: bold;
  }

  .input_error {
    font-size: .9 * $tc-base-font-size;
  }

  .input_error_message {
    color: red;
  }

  .publishing-edit-info-card {

    &-header {
      background-color: $tunecore-header-blue;
      color: $white_background;
      height: 54px;
      font-size: 15px;
      font-weight: bold;
      padding: 15px 20px;
    }

    &-body {
      display: inline;
      flex-direction: column;
      justify-content: space-between;

      padding: 25px;
      background-color: rgba(247, 247, 247, 1);
      min-height: 372px;

      abbr {
        display: none;
      }

      &-text {
        font-size: 0.95em;
        padding-bottom: 2%;
      }

      &-name-input {
        input[type='text'] {
          margin-bottom: 1%;
        }

        margin: 0 1% 2% 0;

        &__affix {
          margin: 0 1% 2% 0;
          width: 80px !important;
        }
      }

      &__dob {
        font-size: 14px;
        margin-bottom: 1%;
      }

      &__pro-message {
        font-size: 0.9em;
        margin-top: auto;
        width: 100%;
        line-height: 1.3;
        font-weight: bold;

        span {
          display: block;
        }

        abbr {
          font-size: 1.2em;
        }
      }

      &__bottom-section {
        flex-direction: row;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 2px solid $medium-gray;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;

        p {
          line-height: 1.4;
        }
      }

      &__pro-section {
        width: 45%;

        select, input {
          margin-bottom: 0;
        }
      }

      &__pro-right {
        width: 45%;
        margin-top: 25px;
      }

      &__pro-links {
        padding: 10px;
        background-color: $white_background;
        border: 1px solid $medium-gray;
        width: 100%;
        font-size: 0.9em;

        &-header {
          margin-bottom: 10px;
        }

        p {
          margin: 5px 0 0 0;
        }
      }

      &__pro-or {
        margin-top: 35px;
      }

      &__pro {
        font-size: 0.9em;
        margin-top: auto;

        &-text {
          line-height: 1.3;
          font-style: italic;
        }

        span {
          display: block;
        }
      }

      &__pro_name {
        font-size: 14px;
        margin: 10px 0;
      }

      &__customer_support {
        font-size: 14px;
      }

      &-btn-wrapper, &-company-btn-wrapper {
        display: flex;
        align-self: flex-end;
        cursor: pointer;
        text-align: right;

        p {
          font-size: 13px;
          font-weight: bold;
        }

        &__save-btn {
          background-color: $tunecore_blue;
          border: none;
          color: $white_background;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          margin-right: 10px;
          padding: 11px 0;
          width: 100px;
          height: 100%;
        }

        &__save-btn-disabled {
          background-color: $tunecore_blue;
          border: none;
          color: $white_background;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          margin-right: 10px;
          padding: 11px 0;
          width: 100px;
          height: 100%;
          cursor: not-allowed;
        }

        &__cancel-btn {
          background-color: rgba(102, 102, 102, 1);
          border: none;
          color: $white_background;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          margin-right: 10px;
          padding: 11px 0;
          text-align: center;
          width: 100px;
          height: 100%;
          &:hover {
            color: $white_background;
          }
        }
      }

      &-tip-text {
        font-size: 0.9em;
        font-style: italic;
        margin-top: auto;

        &-text {
          line-height: 1.3;
        }

        span {
          display: block;
        }

        abbr {
          font-size: 1.2em;
        }
      }

      &-non-admin-text {
        font-size: 0.8em;
        font-style: italic;
        font-weight: bold;
        margin-top: auto;
      }

      &-company-section {
        font-size: 0.9em;

        .form-link {
          display: none;
          padding-bottom: 10px;
          font-style: italic;
        }

        .grid-x {
          display: none;
          border-bottom: 2px solid $medium-gray;
          margin-bottom: 10px;
        }
      }
    }

    &-tax-info-prompt {
      text-align: center;

      &__msg {
        margin: 60px;
      }

      &__link {
        text-decoration: underline;
      }

      &__ok-btn-wrapper {
        display: flex;
        margin-top: 60px;

        &-btn {
          background-color: $tunecore_blue;
          border: none;
          color: $white_background;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          margin-right: 10px;
          padding: 11px 0;
          width: 85px;
        }
      }
    }


    &_publishing_company {
      margin-top: 10px;

      p {
        font-size: 14px;
      }
    }

    &_dob-inputs {
      display: flex;
      flex-wrap: wrap;

      select {
        margin-right: 5px;
        width: 31%;
      }
    }
  }
}

.hidden-card, .hidden-modal {
  display: none;
}
