.publishing-splits {
  &-modal {
    background: $white-background;
    border-radius: none;
    border: none;
    bottom: auto;
    left: 40px;
    margin: 0 auto;
    outline: none;
    padding: 0;
    position: absolute;
    right: 40px;
    top: 15%;
    width: 57%;
  }

  &-header {
    background-color: $tunecore-header-blue;
    color: $white_background;
    font-size: 15px;
    line-height: 3em;
    padding: 2px 20px 2px 12px;

    &-close-btn {
      cursor: pointer;
      text-align: right;
    }
  }

  &-composition-info {
    background-color: $white-background;
    border-collapse: inherit;
    font-size: 14.5px;
    margin-bottom: 0;
    padding: 1.5% 2%;

    &-headers {
      background-color: $white-background;
    }

    &-input {
      margin-bottom: 5px;
    }

    .publishing-splits-notes {
      font-size: 0.9em;
      font-style: italic;
    }
  }

  &-translated-name {
    font-size: .94em;
    margin-bottom: 0;
    padding-left: 3%;

    p {
      font-weight: bold;
      margin-bottom: 4px;
    }
  }

  &-cowriters-link {
    display: flex;
    padding: 0px 3.5% 1.3%;

    &-btn {
      color: $tc-blue;
      cursor: pointer;
      outline: none;

      &:disabled {
        color: $grayscale-text;
        cursor: default;
        background: none;
      }
    }
  }

  &-cowriters {
    background-color: #F7F7F7;

    &-header {
      font-size: 16px;
      padding: 1% 3.5%;
    }

    &-text {
      font-size: 15px;
      line-height: 1.2;
      padding: 0 3.5% 1%;
    }

    &-add-cowriter-btn {
      color: $tc-blue;
      cursor: pointer;
      font-size: 15px;
      outline: none;
      padding: 1% 3.5%;

      &:disabled {
        color: $grayscale-text;
        cursor: default;
        background: none;
      }
    }

    &-row {
      font-size: 15px;
      padding: 0 0 1% 3.5%;

      div:first-child {
        padding-left: 0;
      }

      p {
        margin-bottom: 0;
      }

      input {
        border-radius: 0;
        border: 1px solid $borders_interior;
        box-shadow: inset 0 1px 2px rgba(51, 51, 51, 0.1);
        color: $black_background;
        margin-bottom: 5px;
        padding: 0.6rem;
        width: 100%;

        &:focus {
          color: $black_background;
        }
      }

      &-cancel-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        outline: none;

        a {
          color: $grayscale-text;
          flex-shrink: 1;
          margin-top: 8px;
          width: 50%;
        }
      }
    }
  }

  &-footer {
    background-color: #F7F7F7;
    border-top: 10px solid $white_background;
    font-size: 15px;
    min-height: 62px;
    padding: 0 3%;

    &-cannot-claim {
      position: relative;
      top: 50%;
      transform: translateY(30%);
    }

    &-btn-wrapper {
      display: flex;

      &-done {
        transform: translateY(30%);

        a {
          font-size: 14px;
          padding-right: 25px;
        }
      }

      &-submit {
        background-color: $tc-blue;
        color: $white_background;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        height: 42px;
        margin: 10px 0;
        width: 172px;
        &:disabled {
          cursor: default;
          background-color: $grayscale-text;
        }
      }
    }
  }

  &-warning-text {
    color: $danger-zone;
    font-size: 0.8em;
  }

  .tooltip {
    color: $black_background;
    font-size: 14px;
    text-align: left;
    padding: 0;
  }
  
  label {
    font-weight: bold;
    padding-bottom: .4%;
  }

  .public-domain-checkbox-input {
    margin: 0.5em;
  }

  .publishing-compositions-description-text {
    font-size: 0.9em;
    font-style: italic;
    line-height: 1.2;
    vertical-align: top;
    margin: 0.4em 0;
    width: 95%;
    display: inline-block;
  }

  .tooltip-arrow {
    top: -22px;
  }

  .tooltip-title {
    padding: 9px;
  }

  .tooltip-column {
    line-height: 1.2rem;
  }

  .error-container {
    line-height: 1rem;
    padding: 5px;

    .error-text {
      color: $danger-zone;
      font-size: 12px;
      font-weight: bold;
    }

    input {
      border-color: $danger-zone;
    }
  }
}

.ReactTable .rt-resizer {
  right: -20px;
  width: 25px;
  z-index: 0;
}
