.publishing-enrollment {
  border: 1px solid $tunecore-gray;
  color: $tunecore_dark_gray;
  margin-top: 3%;
  overflow: hidden;

  .error {
    color: $error_color;

    small {
      font-size: 16px;
    }
  }

  .header {
    @extend .cell;

    background-color: $tunecore-header-blue;
    height: 54px;

    h2 {
      font-size: 18px;
      font-weight: normal;
      color: $white_background;
      line-height: 60px;
      padding: 0 22px;
      margin: 0;
    }
  }

  .title {
    font-size: 1.2em;
    font-weight: 500;
    padding-bottom: 1.5%;
  }

  .body {
    padding: 25px;
    background-color: rgba(247, 247, 247, 1);

    label {
      font-weight: bold;
    }

    abbr {
      display: none;
    }

    .input_error {
      font-size: .9 * $tc-base-font-size;
      padding-left: 1%;
    }

    input.required {
      color: black;
      font-weight: normal;
    }

    label.required {
      color: black;
    }

    .date {
      @extend .cell;
      @extend .small-3;

      display: inherit;

      select {
        margin-right: 3%;
        width: 170px;
      }
    }

    .text {
      font-size: 0.95em;
      padding-bottom: 2%;
    }

    .name-input {
      input[type='text'] {
        margin-bottom: 1%;
      }

      margin: 0 1% 2% 0;
    }


    .info {
      padding: 1.5% 3% 0;

      .wrapper {
        margin-bottom: 1.5%;
      }
    }

    .pro {
      @extend .cell;
      @extend .small-5;

      margin-top: auto;
      margin-left: 2%;
      font-size: 0.9em;

      .text {
        @extend .cell;
        @extend .small-5;

        line-height: 1.3;
      }

      span {
        display: block;
      }
    }

    .publishing-prompt {
      font-size: 1.2em;
      margin-left: 1.5%;
    }

    .cae-hint, .hint {
      font-size: 12px;
    }
  }

  .footer {
    @extend .grid-x;
    @extend .align-justify;

    border-top: 1px solid black;
    height: 68px;

    .edit {
      @extend .cell;
      @extend .medium-2;
      @extend .small-12;

      display: flex;
      margin-left: 1%;

      .btn {
        @extend .cell;
        @extend .align-center;

        background-color: $lt_border;
        cursor: pointer;
        border-radius: 0;
        border: none;
        color: $white_background;
        display: flex;
        font-weight: bold;
        font-size: 0.9em;
        margin: 5% 0%;
        padding-top: 10%;
      }
    }

    .next {
      @extend .cell;
      @extend .medium-2;
      @extend .small-12;

      display: flex;
      margin-right: 1%;

      .btn {
        @extend .cell;
        @extend .align-center;

        background-color: $action_color;
        cursor: pointer;
        border-radius: 0;
        border: none;
        color: $white_background;
        display: flex;
        font-weight: bold;
        font-size: 0.9em;
        margin: 5% 0%;
        padding-top: 10%;
        &:disabled {
          background-color: $lt_border;
          cursor: default;
        }
      }
      input.btn {
        padding: 0;
      }
    }
  }

  .agree-tac {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .publishing-enrollment {
    .footer {
      .edit {
        margin: 0;
        .btn {
          margin: 0;
          padding: 1%;
        }
      }
      .next {
        margin: 0;
        .btn {
          margin: 0;
          padding: 1%;
        }
      }
    }
  }
}
