.publishing-tax-info-modal {
  position: relative;
  background: $white_background;
  width: auto;
  max-width: 450px;
  margin: 20px auto;

  &-header {
    background-color: $tunecore-header-blue;
    color: $white_background;
    font-size: 15px;
    font-weight: bold;
    height: 54px;
    padding: 15px 20px;
  }

  &-btn-wrapper {
    display: flex;
    cursor: pointer;
    margin: auto;
    text-align: center;

    &__btn {
      background-color: $tunecore_blue;
      font-size: 14px;
      margin: 10px 16px;
      padding: 10px 0;
      width: 130px;
      a {
        color: white;
      }
    }
  }

  &-text {
    font-size: 15px;
    padding: 25px 0;
    text-align: center;
  }

  &-help-link {
    font-size: 15px;
    padding: 25px 0;
    text-align: center;
  }
}
