<section class="grid_16" id="update-country-website">

  <%= render :partial => '/admin/people/mini_person', :locals => {:person => @person, :features => [:show_balance, :show_person_link]} %>
  <div style="clear:both;"></div>

  <h2>Update Country Website</h2><br />

  <% @person.errors.full_messages.each do |error| %>
    <p class="error"><%= error %></p>
  <% end %>

  <%= form_tag admin_person_country_website_path(@person), method: :put do  %>
    <span><strong>Country Websites: <strong></span>
    <%= select_tag :id, options_from_collection_for_select(@country_websites, :id, :name, @person.country_website.id) %>
    <br /><br />

    <div><%= submit_tag "Update Country Website" %></div>
  <% end %>

</section>
