<div>
  <% if !price_adjustments.empty? -%>

    <h2 style="font-size:110%;">Price Adjustments</h2>

    <ul>

      <% price_adjustments.each do |price_adjustment| %>

        <li>
          <b>Note:</b> <%= price_adjustment.note %><br/>
          <b>Original Price:</b> <%= number_to_currency( price_adjustment.original_cost_cents / 100.0) %><br/>
          <b>Original Discount:</b> <%= number_to_currency(price_adjustment.original_discount_cents / 100.0) %><br/>
          <b>New Price:</b> <%= number_to_currency(price_adjustment.new_cost_cents / 100.0) %><br/>
          <b>Adjustment:</b> <%= number_to_currency(price_adjustment.adjustment_cents / 100.0) %><br/>
          <b>Adjusted by:</b> <%= price_adjustment.admin.name %> on <%= fmt_country_datetime(price_adjustment.created_at) %><br/>
        <li>

      <% end %>

    </ul>
  <% else -%>
    <h3>There are no price adjustments for this purchase.</h3>
  <% end -%>
</div>