<section>
  <h2>Existing purchase for <%= h(@person.name)%></h2>
  <div class="rounded-container purchases">
    <div class="product">
      <%= purchase_display_mapper(@purchase) %>
      <%= render(:partial => "carts/purchase_price", :locals => {:purchase => @purchase, :price =>  (@purchase.cost - @purchase.discount)}) %>
      <%= render(:partial => "carts/promo_and_offer_information", :locals => {:purchase => @purchase, :cert => @purchase.cert, :targeted_product => @purchase.targeted_product, :person => @person}) %>
    </div>
  </div>

  <h2>Enter a new price for the purchase</h2>
  <fieldset id="purchase-adjustment" class='small'>
    <%= error_messages_for(@purchase) %>
    <ul class="clearfix">
      <%= form_for @purchase, :url => {:action => :update, :id => @purchase.id} do |f| -%>
				<li>
				  <label for="admin_note">Admin Note* <span class='info'>(Admin use only)</span></label>
				  <%= text_area_tag(:admin_note, nil) %>
				</li>
				<li>
				  <label for="admin_note">New Price *</span></label>
				  <%= text_field_tag(:new_price, (@purchase.cost_cents - @purchase.discount_cents).to_f/100) %>
				</li>
				<li><span class="red"><strong>Note: Overriding the price of this item will remove any previous discounts.</strong></span></li>
				<li>
          <%= submit_tag("Update Price", {:class => "submit" }) %>
        </li>
      <% end -%>
    </ul>
  </fieldset>
</section>
</section>
