<%= render partial: "/admin/shared/searchbox" %>
<%= render partial: 'admin/people/mini_person', locals: {person: @person} %>
<section>
  <div class="invoice_items grid_11" style="clear:both;">
  	<% if !@purchases.empty? -%>
    	<h2>Open Purchases</h2>
    	<div class="rounded-container purchases">
        <% @purchases.each do |purchase| %>
          <div class="product">
            <%= purchase_display_mapper(purchase) %>
            <%= render(:partial => "carts/purchase_price", :locals => {:purchase => purchase, :price =>  (purchase.cost - purchase.discount)}) %>
            <% if @can_adjust && !purchase.cert -%>
              <div class="cart-item-links">
                <%= link_to("Adjust Price", edit_admin_person_purchase_path(@person, purchase, :minHeight => 620), {:class => 'purchase-link lightbox'})%>
              </div>
            <% end -%>

            <%= render(:partial => "carts/promo_and_offer_information", :locals => {:purchase => purchase, :cert => purchase.cert, :targeted_product => purchase.targeted_product, :person => @person}) %>
          </div>
          <%= render(:partial => 'admin/purchases/price_adjustments', :object=>purchase.price_adjustment_histories) %>
        <% end %>
      </div>
    <% else -%>
      <h2><%= @person.name %> does not have any open purchases.</h2>
    <% end -%>
  </div>
  <div class="grid_4 omega" style="float:right;">

    <%= render(:partial => 'admin/notes/notes', :locals => {:show_all => false}) %>

  </div>
</section>
