<table class="quote_requests">
  <colgroup>
    <col class="quote_requests-col_supervisor">
    <col class="quote_requests-col_company">
    <col class="quote_requests-col_production">
    <col class="quote_requests-col_song">
    <col class="quote_requests-col_composer">
    <col class="quote_requests-col_usage">
    <col class="quote_requests-col_control">
    <col class="quote_requests-col_media">
    <col class="quote_requests-col_status">
    <col class="quote_requests-col">
  </colgroup>
  <thead>
    <tr>
      <th>Supervisor</th>
      <th>Company</th>
      <th>Production</th>
      <th>Song</th>
      <th>Composer</th>
      <th>Usage</th>
      <th>Master</th>
      <th>Publishing</th>
      <th>Media</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if licenses.each do |license| %>
      <tr>
        <td><%= license.person.name %></td>
        <td><%= license.person.business_name %></td>
        <td>
          <% if license.request_document.exists? %>
            <i>see attached</i>
          <% else %>
            <%= license.sync_license_production.title if license.sync_license_production %>
          <% end %>
        </td>
        <td><%= license.title %></td>
        <td><%= license.composer_names.join(", ") %></td>
        <td>
          <% if license.request_document.exists? %>
            <i>see attached</i>
          <% else %>
            <%= license.type_of_use %>
          <% end %>
        </td>
        <td>100%</td>
        <td><%= license.mech_collect_share.to_f.round %>%</td>
        <td><%= license.sync_license_options.first.media if !license.sync_license_options.empty? %></td>
        <td><%= license.status.humanize %></td>
        <td><a href="<%= sync_admin_license_request_path(license) %>">Details</a></td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="10">No quote requests at this time.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="quote_requests-per_page page_select">
  <select name="per_page" id="per_page">
    <option value="10"  <%= "selected='selected'" if params[:per_page].to_i == 10 %>>10</option>
    <option value="20"  <%= "selected='selected'" if params[:per_page].to_i == 20 %>>20</option>
    <option value="50"  <%= "selected='selected'" if params[:per_page].to_i == 50 %>>50</option>
    <option value="100" <%= "selected='selected'" if params[:per_page].to_i == 100 %>>100</option>
  </select>
  <span>Results Per Page</span>
</div>

<%= will_paginate licenses, :class => 'quote_requests-pagination pagination' %>

