<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/simplePagination" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/sync/tc.sync_tables.js" %>
  
  <script type="text/javascript" charset="utf-8">
    jQuery(function($){
      $("#licenses").syncTable({
        url: "<%= sync_admin_license_requests_path(:page => 1) %>",
        pagination_link: ".quote_requests-pagination a",
        columns: 10
      });
    });
  </script>
<% end %>

<header class="row">
  <div class="twelve columns">
    <h2>Quote Requests</h2>
  </div>
</header>

<div class="row">
  <section id="licenses" class="twelve columns">
    <%= render :partial=>"licenses", :object=>@sync_requests %>
  </section>
</div>
