<% content_for :external_javascript do %>
  <% if Rails.env.production? %>
    <%= javascript_include_tag "/javascripts/soundmanager2-nodebug-jsmin" %>
  <% else %>
    <%= javascript_include_tag "/javascripts/soundmanager2" %>
  <% end %>
  <%= javascript_include_tag "/javascripts/swfobject2.2.js" %>
  <%= javascript_include_tag "/javascripts/sm.js" %>
  <script type="text/javascript">
    var TC = TC || {};
    TC.change_status_path = "<%= change_status_sync_admin_license_request_path(@sync_license) %>";

    jQuery(function($){
      $("#change_status_form").submit(function(event){
        event.preventDefault();

        $.ajax({
          type: "POST",
          url: $(this).attr("action"),
          data: $(this).serialize(),
          success: function(html){
            $("#flash_message").html(html);
          }
        });

      });

      $("#sync_license_request_status").on("change", function(event){
        $("#change_status_form").submit();
      })

      var sm = new TC.SM();
    });

  </script>
<% end %>

<header class="status row">
  <div class="twelve columns">
    <h2 class="status-hd">Quote Request</h2>
    <%= form_tag( change_status_sync_admin_license_request_path(@sync_license), :id => "change_status_form" ) do %>
      <%= select_tag("sync_license_request[status]", options_for_select(SyncLicenseRequest::STATUSES.collect{ |k,v| [k.to_s.humanize, v] }, @sync_license.status)) %>
    <% end %>
  </div>
</header>

<section class="song_detail row">
  <div class="six columns">
    <%= render :partial => "sync/license_requests/song_detail", :locals => {
                 :muma_song => @sync_license.song.muma_songs.first,
                 :song => @sync_license.song
               } %>
  </div>
</section>

<div id="license_request">
  <% if @sync_license.request_document.exists? %>
    Request with attachment
  <% else %>
    <div class="row">
      <div class="six columns">
        <section class="production">
          <header class="row">
            <div class="twelve columns">
              <h3>Production Details</h3>
            </div>
          </header>
          <div class="row">
            <div class="twelve columns">
              <% if @sync_license.sync_license_production %>
                <dl class="box box-white nopad">
                  <dt>Production Title:</dt>
                    <dd><%= @sync_license.sync_license_production.title %></dd>
                  <dt>Production Description:</dt>
                    <dd><%= @sync_license.sync_license_production.description %></dd>
                  <dt>Studio:</dt>
                    <dd><%= @sync_license.sync_license_production.studio %></dd>
                  <dt>Budget:</dt>
                    <dd><%= @sync_license.sync_license_production.budget %></dd>
                </dl>
              <% end %>
            </div>
          </div>
        </section>
        <section class="terms">
          <header class="row">
            <div class="twelve columns">
              <h3>Terms</h3>
            </div>
          </header>
          <div class="row">
            <div class="twelve columns">
              <% @sync_license.sync_license_options.each do |option| %>
                <dl class="box box-white nopad">
                  <dt>Media:</dt>
                    <dd><%= option.media %></dd>
                  <dt>Territory:</dt>
                    <dd><%= option.territory %></dd>
                  <dt>Term:</dt>
                    <dd><%= option.term %></dd>
                  <dt>Offer:</dt>
                    <dd><%= option.offer %></dd>
                  <dt>Comments:</dt>
                    <dd><%= option.comments %></dd>
                </dl>
              <% end %>
            </div>
          </div>
        </section>
      </div>
      <section class="usage six columns">
        <header class="row">
          <div class="twelve columns">
            <h3>Usage</h3>
          </div>
        </header>
        <div class="row">
          <div class="twelve columns">
            <dl class="box box-white nopad">
              <dt>Scene Description:</dt>
                <dd><%= @sync_license.scene_description %></dd>
              <dt>Master Use:</dt>
                <dd><%= @sync_license.master_use? ? "Yes" : "No" %></dd>
              <dt>Type of Use:</dt>
                <dd><%= @sync_license.type_of_use %></dd>
              <dt>Duration:</dt>
                <dd><%= "#{@sync_license.duration_min} minutes and #{@sync_license.duration_sec} seconds" %></dd>
            </dl>
          </div>
        </div>
      </section>
    </div>
  <% end %>
</div>
<%= render :partial => "/shared/sm_player" %>
