<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/services.css" %>
<% end %>

<main class="content">
  <header class="row">
    <div class="twelve columns">
      <h1><%= custom_t('.artist_services') %></h1>
    </div>
  </header>

  <div class="row">
    <section class="featured services eight columns">
      <%= render "products/shared/featured_product_listing", locals: { page: :internal_services } %>
    </section>
    <section class="other services four columns">
      <%= render "products/shared/product_listing", locals: { page: :internal_services } %>
    </section>
  </div>
</main>
