<div id="formcontainer">
	<h1 class="breadcrumbs">Bundles!!!</h1>
	<%= render :partial => "shared/album_simple", :object => @album %>

	<table class="sales_data" cellspacing="0">
		<tr>
			<th>DATE</th>
			<th>STATUS</th>
			<th>COMMENT</th>
		</tr>
		<% @album.bundles.each do |bundle| %>
		<tr class="<%= cycle('', 'alt')%>">
			<td><%= link_to fmt_short_datetime(bundle.created_at), bundle_path(bundle) %></td>
			<td><%= bundle.status.to_s.titleize %></td>
			<td><%= bundle.comment %></td>
		</tr>
		<% end %>
		<% if @album.bundles.size == 0 %>
		<tr class="<%= cycle('', 'alt')%>">
			<td colspan="3">No bundles for this album. <br/>That doesn't mean it's not in stores though. <br/> It may have been pushed live with the old system.</td>
		</tr>
		<% end %>
	</table>

	<%= link_to 'Back to the album', album_path(@album) %>
</div>
