<div id="formcontainer">
	<h1>SHOW BUNDLE!!!!</h1>
	<%= render :partial => "shared/album_simple", :object => @album %>
	<div style="text-align:left;">
	<pre>
		<%= @bundle.params %>
	</pre>
	</div>
	<%= link_to 'Back', bundles_path() %>
</div>
