<meta charset="utf-8" />
<style>
  body { text-rendering: optimize-speed; }
</style>

<p><%= custom_t("pub_opt_out.mail_for_regular_user.greeting", first_name: @composer.first_name) %>:</p>

<p><%= custom_t("pub_opt_out.mail_for_regular_user.attached_letter") %></p>

<p><%= custom_t("pub_opt_out.mail_for_regular_user.responsibility") %></p>

<p><%= custom_t("pub_opt_out.mail_for_regular_user.thank_you") %></p>

<p><%= custom_t("pub_opt_out.mail_for_regular_user.tc_admin_team") %></p>
