<meta charset="utf-8" />
<style>
  body { text-rendering: optimize-speed; }
</style>
<h5>
  <%= fmt_country_date(Date.today) %>
</h5>

<p>
  <%= @composer.full_name_affixed %>
</p>

<p>
  <%= @composer.email || @person.email %>
</p>

<p><%= custom_t("pub_opt_out.mail_attachment_for_regular_user.greeting", first_name: @composer.first_name) %>:</p>

<p>
  <%= custom_t("pub_opt_out.mail_attachment_for_regular_user.administration_amendment") %>
</p>

<p>
  <%= custom_t("pub_opt_out.mail_attachment_for_regular_user.received_notice") %>
</p>


<p>
  <%= custom_t("pub_opt_out.mail_attachment_for_regular_user.notwithstanding") %>
</p>

<p>
  <%= custom_t("pub_opt_out.mail_attachment_for_regular_user.sake_of_clarity") %>
</p>

<p>
  <%= custom_t("pub_opt_out.mail_attachment_for_regular_user.forward_to_others") %>
</p>


<p>
  <%= custom_t("pub_opt_out.mail_attachment_for_regular_user.farewell") %>
</p>

<p>
  <%= custom_t("pub_opt_out.mail_attachment_for_regular_user.tc_admin") %>
</p>

<p>
  <%= custom_t("pub_opt_out.mail_attachment_for_regular_user.tc_admin_role") %>
</p>
