<%= simple_form_for @delete_account_form, url: admin_delete_accounts_path do |f| %>
  <%= f.error_notification %>
  <div class="grid-x">
    <%= f.input :person_id, label: "Person ID", wrapper_html: { class: "cell large-7 small-12" } %>
    <%= f.input :delete_type, collection: DeletedAccount::DELETE_TYPES, label: "Delete Type", wrapper_html: { class: "cell large-7 small-12"} %>
    <div class="cell large-7 small-12">
    <%= f.submit "Delete Account", class: "button" %>
    </div>
  </div>
<% end %>
