<div class="delete-account-container">
  <div class="row">
    <h1>"Delete" Account</h1>
    <p>This form will "delete" (scrub) a person's email, address, and login events.</p>
  </div>
  <div class="row">
    <%= render partial: "form" %>
  </div>
</div>
