<% unless Rails.env.production? %>
  <h3>THIS IS A TEST REPORT GENERATED IN A LOWER ENVIRONMENT</h3>
<% end %>
<h2>Backup Withholding Summary Report for <%= @report_period_end_date %> </h2>
<table style="border: none">
  <tr>
    <td>Withholding Interval</td>
    <td><%= "#{@report_period_start_date} - #{@report_period_end_date}" %></td>
  </tr>
  <% @currency_wise_withheld_amount.map do |currency, amount| %>
    <tr>
      <td>Total Amount Withheld [<%= currency %>]</td>
      <td><%= amount %></td>
    </tr>
  <% end %>
  <tr>
    <td>Number of Accounts Withheld</td>
    <td><%= @total_withheld_accounts_count %></td>
  </tr>
  <tr>
    <td>IRS Transaction ID</td>
    <td><%= @irs_transaction_id %></td>
  </tr>
</table>
