<p>Here is a link to download the audio file for "<%= @composition %>".</p>

<p><% if @download_url %>
  <strong><a href="<%= @download_url %>">Download file</a></strong>
<% end %></p>

<p><strong>Please note:</strong> This link can be used a maximum of 3 times.<br />
The audio files provided are either .wav or .mp3 files.</p>

<p>If you have any questions, please email us at <a href="mailto:licensing@tunecore.com">licensing@tunecore.com</a>.</p>

<img src="http://www.tunecore.com/images/tc-logo-blackblue-transparent.png">
