<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      You may have noticed that we recently updated your May 2019 YouTube Sound Recording royalties. We made some upgrades
      to our YouTube Sound Recording payout system in order to better fulfill the capacity of TuneCore’s growing user base
      going forward.
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      You are receiving this email because an adjustment was made to your original May 2019 YouTube Royalties payment
      (posted in July 2019) on your <%= link_to "TuneCore Balance History page", list_transactions_url(host: @person.country_website.url) %> This adjustment
      ensures all YouTube Sound Recording royalties were paid in full for May 2019.
    </td>
  </tr>
</table>
