
<% if @targeted_product.id == nil -%>
  <%= form.select(:product_id, @product_list, :label => "Product") %>
<% else -%>
  <% product = @targeted_product.product %>
  <li><strong><%= product.applies_to_product %> | <%= product.product_type %> -- <%= product.name %> (<%= product.status %>, ID: <%= product.id %>)</strong></li>
<% end -%>

<%= form.text_field(:display_name, :label => "Display Name", :maxlength => 40) %>
<%= form.text_field(:flag_text, :label => "Flag Text", :maxlength => 15) %>
<%= form.select(:targeted_product_store_ids, Store.is_active.is_used.collect {|store| [store.name, store.id]}, {:label=>"Applicable Stores", selected: @targeted_product ? @targeted_product.targeted_product_stores.map(&:store_id) : nil}, {:multiple=>true} ) %>

<% if @targeted_product.targeted_offer.status != "Active" %>
  <%= form.select(:price_adjustment_type, [["Override", "override"],["Dollars Off", "dollars_off"],["Percentage Off","percentage_off"],["None",'none']], :label => "Discount Type") %>
  <%= form.text_field(:price_adjustment, :label => "Discount") %>
<% else %>
  <li><strong>Adjustment:</strong> <%= price_adjustment_text(@targeted_product) %></li>
<% end %>

<%= form.text_field(:price_adjustment_description, :label => "Discount Description") %>
<%= form.check_box(:show_expiration_date, :label => "Show Expiration") %>
<%= form.text_field(:sort_order, :label => "Product Sort Order") %>
<%= form.hidden_field(:targeted_offer_id) %>

<% if @targeted_product.targeted_offer.status != "Active" %>
  <%= form.check_box(:renewals_past_due,  :label => "Include Renewals Past Due") %>
  <%= form.check_box(:renewals_due,       :label => "Include Renewals Due Now") %>
  <%= form.check_box(:renewals_upcomming, :label => "Include Renewals Due Upcoming") %>
<% else %>
  <li><strong>Include Renewals Past Due:</strong><%= @targeted_product.renewals_past_due? ? "Yes" : "No" %></li>
  <li><strong>Include Renewals Due Now:</strong><%= @targeted_product.renewals_due? ? "Yes" : "No" %></li>
  <li><strong>Include Renewals Due Upcoming:</strong><%= @targeted_product.renewals_upcomming? ? "Yes" : "No" %></li>
<% end %>
