<h2>Edit Offer Product: <%= h(@targeted_product.product.name) %></h2>
<section class="grid_8">
  <fieldset class="small">
    <ul>
    <%= form_for(@targeted_product, :url => admin_targeted_offer_targeted_product_path(@targeted_offer, @targeted_product)) do |f| -%>
      <%= render(:partial => "fields", :locals => {:form => f}) %>
      <%= f.submit("Update Product")%>
    <% end -%>
    </ul>
  </fieldset>
<section>