<h2>New Targeted Offer Product</h2>
<section class="grid_8">
  <fieldset class="small">
    <% if @product_list.present? %>
      <ul>
      <%= form_for(@targeted_product, :url => admin_targeted_offer_targeted_products_path) do |f| -%>
        <%= render(:partial => "fields", :locals => {:form => f})%>
        <%= f.submit("Add Product", :id => "add-product")%>
      <% end -%>
      </ul>
    <% else %>
      <p>No more products left to add.</p>
    <% end %>
  </fieldset>
<section>
