<div class="sales-artwork"><%= image_tag artwork_100x100(@album) %></div>
<section id="sales-album-info" class="grid_13 omega basicinfo">
  <h2><%= @release_details.album_name %></h2>
  <h3><%= @release_details.artist_name %></h3>
  <dl class="info">
    <dt><%= custom_t(".label_name") %></dt>
    <dd><%= @release_details.label_name %></dd>
    <dt><%= custom_t(".upc") %></dt>
    <dd><%= @release_details.optional_upc_number || @release_details.upc_number %></dd>
    <dt><%= custom_t(".primary_genre") %></dt>
    <dd><%= @release_details.genre %></dd>
  </dl>
</section>
