<div class="sales-artwork"><%= image_tag artwork_100x100(@album) %></div>
<section id="sales-ringtone-info" class="grid_13 omega basicinfo">
  <h2><%= @release_details.name %></h2>
  <dl class="info">
    <dt><%= custom_t(".released_on") %></dt>
    <dd>11/11/2010</dd>
  </dl>
</section>
