<section id="sales-video-info" class="grid_13 omega basicinfo">
  <h2><%= @release_details.name %></h2>
  <dl class="info">
    <dt><%= custom_t(".upc") %></dt>
    <dd><%= @release_details.upc%></dd>
  </dl>
</section>
