<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/admin/failed_takedowns.js" %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/failed_takedowns.css" %>
<% end %>

<div class="failed-takedowns">
  <h1 class="title">Failed Takedowns</h1>
  <p class="grace-period">Grace Period Cutoff Date: <%= @grace_period_cutoff_date %></p>

  <% if @failed_takedowns.any? %>

    <div class="paginate-bar"><%= will_paginate @failed_takedowns %></div>

    <table>
      <tr>
        <th>Selected Album IDs</th>
      </tr>
      <tr>
        <td id="selected_album_ids"></td>
      </tr>
    </table>

    <div class="select-all-boxes">
      <div class="this-page">
        <span>Select All IDs (This Page)</span>
        <input id="this_page_only" class="select_all_check_box" type="checkbox">
      </div>

      <div class="all-pages">
        <span>Select All IDs (All Pages)</span>
        <input id="all_pages" class="select_all_check_box" type="checkbox">
      </div>
    </div>

    <table>
      <tr>
        <th>Select ID</th>
        <th>Album ID</th>
        <th>Renewal ID</th>
        <th>Expired At</th>
        <th>Canceled At</th>
      </tr>

      <% @failed_takedowns.each do |ft| %>
      <tr>
        <td><input id="<%= ft.album_id %>" class="album_id" type="checkbox"></td>
        <td><%= link_to ft.album_id, admin_album_path(ft.album_id) %></td>
        <td><%= ft.renewal_id %></td>
        <td><%= ft.expires_at.try(:to_date) %></td>
        <td><%= ft.canceled_at.try(:to_date) %></td>
      </tr>
      <% end %>

    </table>

    <div class="paginate-bar"><%= will_paginate @failed_takedowns %></div>

  <% else %>
    <p>No failed takedowns found.</p>
  <% end %>
</div>
