<div class="row">
  <%= simple_form_for [:admin, @meta_tag] do |f| %>
    <%= f.error_notification %>
    <div class="twelve columns form-input"><%= f.input :page_name, collection: MetaTag.distinct_page_names %></div>
    <div class="twelve columns form-input"><%= f.input :name, collection: MetaTag.valid_tags %></div>
    <div class="twelve columns form-input"><%= f.input :content %></div>
    <div class="twelve columns form-input"><%= f.association :country_website %>
    <%= f.input :person_id, as: :hidden, input_html: { value: current_user.id } %></div>
    <div class="twelve columns form-input">
      <%= f.button :submit %>
      <span class="cancel_link"><%= link_to "Cancel", admin_meta_tags_path %></span_>
    </div>
  <% end %>
</div>
