<div class="row">
  <div class="twelve columns">
  <% @meta_tags.group_by(&:page_name).each do |page_name, meta_tags| %>
  <table id="metatags">
    <thead>
      <tr>
        <th colspan="3"><strong><span class="page_name"><%= page_name %></span></strong></th>
        <th><%= link_to "New", new_admin_meta_tag_path("meta_tag[page_name]" => page_name, "meta_tag[country_website_id]" => params[:country_website_id]) %></th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Content</th>
        <th>Country</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        <% meta_tags.each do |meta_tag| %>
          <tr>
            <td><%= meta_tag.name %></td>
            <td><%= meta_tag.content.truncate(130) %></td>
            <td><%= meta_tag.country_website.country %></td>
            <td><%= link_to "Edit", edit_admin_meta_tag_path(meta_tag) %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
  <% end %>
  </div>
</div>
