<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/admin.css" %>
  <%= stylesheet_link_tag "/stylesheets/meta_tags.css" %>
<% end %>
<header class="row">
   <div class="twelve columns">
     <h1><%= title %></h1>
    <% if ["index"].include?(action_name) %>
     <nav class="meta_tags_nav" role="navigation">
       <ul>
        <li class="meta_tag_header"><%= link_to "New Meta Tag", new_admin_meta_tag_path %></li>
        <li><%= link_to "All", admin_meta_tags_path %></li>
        <% CountryWebsite.all.each do |country_website| %>
          <li><%= link_to country_website.country, admin_meta_tags_path(country_website_id: country_website.id) %></li>
        <% end %>
       </ul>
     </nav>
     <% end %>
   </div>
</header>

