<table class="supervisors">
  <colgroup>
    <col class="supervisors-col_name">
    <col class="supervisors-col_company">
    <col class="supervisors-col_email">
    <col class="supervisors-col_phone">
    <col class="supervisors-col_requests">
    <col class="supervisors-col_licenses">
    <col class="supervisors-col_member_since">
    <col class="supervisors-col_contact">
  </colgroup>
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Requests</th>
      <th>Licenses</th>
      <th>Member Since</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <% if people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.business_name %></td>
        <td><%= person.email %></td>
        <td><%= person.phone_number %></td>
        <td><%= person.sync_license_requests.count %></td>
        <td>0</td>
        <td><%= person.created_on > 1.day.ago ?
                time_ago_in_words(person.created_at_time) :
                person.created_at_time.strftime("%b #{person.created_on.day.ordinalize}, %Y %l:%M %p") %></td>
        <td><a href="mailto:<%= person.email %>">Contact</a></td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="8">No music supervisors at this time.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="supervisors-per_page page_select">
  <select name="per_page" id="per_page">
    <option value="10"  <%= "selected='selected'" if params[:per_page].to_i == 10 %>>10</option>
    <option value="20"  <%= "selected='selected'" if params[:per_page].to_i == 20 %>>20</option>
    <option value="50"  <%= "selected='selected'" if params[:per_page].to_i == 50 %>>50</option>
    <option value="100" <%= "selected='selected'" if params[:per_page].to_i == 100 %>>100</option>
  </select>
  <span>Results Per Page</span>
</div>

<%= will_paginate people, :class => 'supervisors-pagination pagination' %>
