<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/simplePagination" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/sync/tc.sync_tables.js" %>
  
  <script type="text/javascript">
    jQuery(function($){
      $("#people").syncTable({
        url: "<%= sync_admin_people_path(:page => 1) %>",
        pagination_link: ".supervisors-pagination a",
        columns: 8
      });
    });
  </script>
<% end %>

<header class="row">
  <div class="twelve columns">
    <h2>Users</h2>
  </div>
</header>

<div class="row">
  <section id="people" class="twelve columns">
    <%= render :partial => "people", :object => @music_supervisors %>
  </section>
</div>

