<style>
  .clean-form label{
    display: inline-block !important;
    width: 60px !important;
    text-align: right !important;
    margin-right: 10px !important;
  }
  #targeted_notification_global{
    margin-left: 73px;
  }
  #targeted_notification_global_list_item label{
    width: auto !important;
    color: #000000;
    font-weight: normal;
    font-size: 14px;
    padding-left: 5px;
  }
  #targeted_notification_global_list_item .context-wrapper{
    padding-top: 7px;
  }
  .box{
    clear: both;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #FFFFFF;
    padding: 20px;
    margin: 10px;
    border: 1px solid rgba(195, 195, 195, 0.3);
  }
  .submit{
    margin-left: 10px;
  }
  #targeted_notification_Submit_list_item{
    margin-bottom: 0;
  }
</style>
<fieldset class="small clean-form">
  <ul style="margin-bottom: 0;">
    <%= form_for(notification, :url => url, :html => { :multipart => true } ) do |f| -%>
      <%= f.text_field :title, label: 'Title' %>
      <%= f.text_area :text, label: 'Text', style: 'width: 500px; height: 100px;' %>
      <li style="width: 50%; padding-left: 70px; padding-top: 20px;">To link to urls within the tunecore app use do not include www.tunecore.com. For example www.tunecore.com/albums/new should be entered as /albums/new. To enter urls for outside resources please use the full resource like www.facebook.com/tunecore</li>
      <%= f.text_field :url, label: 'URL' %>
      <%= f.text_field :link_text, label: 'Link Text' %>
      <%= f.check_box :global, label: 'Is a global notification' %>
      <div class="box">
        <p>Choose an existing icon...</p> 
        <% NotificationIcon.all.each do |icon| %>
          <div>
            <%= f.radio_button( :notification_icon_id, icon.id, :label=>icon.file_file_name ) %>
            <%= image_tag( icon.file.url(:thumb) ) %>
          </div>
        <% end %>
        <hr/>
        <p>Or upload a new icon...</p>
        <%= file_field_tag "file", :value=>params[:file].blank? ? "" : params[:file].original_filename %>
      </div>
      <%= f.submit("Submit", :class=>"submit" )%>
    <% end -%>
  </ul>
</fieldset>
