<section class="grid_16 alpha omega">
  <h2>Edit Notification</h2>

  <%= render :partial=>"form", :locals=>{:notification=>@notification, :url=>admin_notification_path(@notification)} %>

</section>

