<style type="text/css">
  .notification-box{
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    line-height: 1.9em;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
  }
  .notification-box-content{
    padding: 15px;
    border-bottom: 1px solid #CCCCCC;
  }
  .notification-box-spacer{
    display: inline-block;
    text-align: right;
    width: 75px;
    margin-right: 10px;
  }
  .notification-box-actions{
    padding: 15px;
  }
  .notification-box-actions .button-primary{
    color: #333333;
    background-image: none;
    background: rgb(224,243,250); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(224,243,250,1) 0%, rgba(216,240,252,1) 50%, rgba(184,226,246,1) 51%, rgba(182,223,253,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,243,250,1)), color-stop(50%,rgba(216,240,252,1)), color-stop(51%,rgba(184,226,246,1)), color-stop(100%,rgba(182,223,253,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* W3C */
  }
  .notification-box-actions .button-secondary{
    color: #333333;
    background-image: none;
    background: rgb(246,248,249); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
  }
</style>
<section class="grid_16 alpha omega">
  <h2>Notifications (<%= link_to("New Notification", new_admin_notification_path) %>)</h2>
  <form action="" method="GET">
    <fieldset style="padding: 10px;">
      <input type="text" name="term" value="<%=@term%>" placeholder="search notifications">
      <input type="submit" value="go">
    </fieldset>
  </form>

  <% @notifications.each do |notification| %>

    <div class="notification-box">
      <div class="notification-box-content">
        <span class="notification-box-spacer"><b>Title:</b></span><%= notification.title %><br/>
        <span class="notification-box-spacer"><b>Text:</b></span><%= notification.text %><br/>
        <span class="notification-box-spacer"><b>Url:</b></span><%= notification.url %><br/>
        <span class="notification-box-spacer"><b>Global:</b></span><%= notification.global %><br/>
        <span class="notification-box-spacer"><b>Created By:</b></span><%= notification.person.email %>
      </div>
      <div class="notification-box-actions">
        <%= link_to "Show", admin_notification_path(notification), class: 'button button-primary' %>
        <%= link_to "Edit", edit_admin_notification_path(notification), class: 'button button-secondary' %>
        <%= link_to "Delete", admin_notification_path(notification), method: :delete, data: { confirm: "Are you sure? This will also remove all notifications from user notification boxes regardless if they've seen it or not" }, style: 'float: right; color: red; margin-top: 7px;' %>
        <div class="clearfix"></div>
      </div>
    </div>

  <% end %>

  <div>
    <div style="float: left;">
      <%= page_entries_info @notifications %>
    </div>
    <div style="float: right;">
      <%= will_paginate @notifications %>
    </div>
  </div>
</div>


</section>
