<% content_for :css do %>
  <%= stylesheet_link_tag "dashboard" %>
<% end %>

<section id="releases">
  <header>
    <%= days_since_last_release(@person) %>
  </header>

  <div class="slider_wrapper">
    <div class="title_container">
      <h2><%= t('.albums')%></h2>
      <% if FeatureFlipper.show_feature?(:discovery_platforms, current_user) %>
         <a href="/albums/new" class="btn btn-callout add-new-album-dashboard"
           title="<%= custom_t('dashboard.upload_to_all')%>"><%= custom_t('dashboard.upload_to_all')%></a>
        <a href="<%= new_discovery_platforms_album_path %>"
           class="btn btn-callout add-new-album-dashboard"
           title="<%= custom_t('dashboard.alerts.upload_to_discovery_platforms')%>"><%= custom_t('dashboard.alerts.upload_to_discovery_platforms')%></a>
      <% elsif FeatureFlipper.show_feature?(:freemium_flow, current_user) %>
        <a href="/albums/new" class="btn btn-callout add-new-album-dashboard"
           title="<%= custom_t('dashboard.upload_to_all')%>"><%= custom_t('dashboard.upload_to_all')%></a>
        <a href="<%= new_facebook_album_path(popup: SpecializedRelease::FB_TERMS) %>"
           class="btn btn-callout add-new-album-dashboard"
           title="<%= custom_t('dashboard.upload_to_freemium')%>"><%= custom_t('dashboard.upload_to_freemium')%></a>
      <% else %>
        <a href="/albums/new" class="btn btn-callout add-new-album-dashboard" title="<%= custom_t(:create_album)%>"><%= custom_t(:create_album)%></a>
      <% end %>
    </div>

    <%= render partial: '/dashboard/slider', :locals => { things: @albums, name: "#{custom_t(:album_global).downcase}s", display_name: custom_t(:album_global), polymorphic_type: 'Album' } %>
  </div>

  <div class="slider_wrapper">
    <div class="title_container">
      <h2><%= t('.singles')%></h2>
      <% if FeatureFlipper.show_feature?(:discovery_platforms, current_user) %>
         <a href="/singles/new" class="btn btn-callout add-new-album-dashboard"
           title="<%= custom_t('dashboard.upload_to_all')%>"><%= custom_t('dashboard.upload_to_all')%></a>
        <a href="<%= new_discovery_platforms_single_path %>"
           class="btn btn-callout add-new-album-dashboard"
           title="<%= custom_t('dashboard.alerts.upload_to_discovery_platforms')%>"><%= custom_t('dashboard.alerts.upload_to_discovery_platforms')%></a>
      <% elsif FeatureFlipper.show_feature?(:freemium_flow, current_user) %>
        <a href="/singles/new"
           class="btn btn-callout add-new-single-dashboard"
           title="<%= custom_t('dashboard.upload_to_all')%>"><%= custom_t('dashboard.upload_to_all')%></a>
        <a href="<%= new_facebook_single_path(popup: SpecializedRelease::FB_TERMS) %>"
           class="btn btn-callout add-new-single-dashboard"
           title="<%= custom_t('dashboard.upload_to_freemium')%>"><%= custom_t('dashboard.upload_to_freemium')%></a>
      <% else %>
        <a href="/singles/new" class="btn btn-callout add-new-single-dashboard" title="<%= custom_t(:create_single)%>"><%= custom_t(:create_single)%></a>
      <% end %>

    </div>

    <%= render partial: '/dashboard/slider', locals: { things: @singles, name: "#{custom_t(:single).downcase}s", display_name: custom_t(:single), polymorphic_type: 'Single' } %>
  </div>

  <div class="slider_wrapper">
    <div class="title_container">
      <h2><%= t('.ringtones')%></h2>
      <a href="/ringtones/new" class="btn btn-callout add-new-ringtone-dashboard" title="<%= custom_t(:create_ringtone)%>"><%= custom_t(:create_ringtone)%></a>
    </div>

    <%= render partial: '/dashboard/slider', locals: { things: @ringtones, name: "#{custom_t(:ringtone).downcase}s", display_name: custom_t(:ringtone), polymorphic_type: 'Ringtone' } %>
  </div>
</section>
<div id='popup_modal'>
</div>
