<% if current_user.composers.size > 0 %>
  <% if current_user.composers[0].is_paid == nil %>
    <% if current_user.has_finalized_release? %>
      <div class="publishing_callout publishing_callout-dashboard publishing_callout-wide row">
        <%= custom_t('.publishing_admin_alert_incomplete', {name:current_user.first_name, url:(!current_user.composers[0].is_paid && !@open_composer_purchase) ? @add_to_cart_url : '/cart'}) %>
      </div>
    <% else %>
      <div class="publishing_callout publishing_callout-dashboard publishing_callout-wide row">
        <%= custom_t('.publishing_admin_alert_no_distro', {name:current_user.first_name}) %>
      </div>
    <% end %>
  <% elsif current_user.selected_splits? == false %>
    <div class="publishing_callout publishing_callout-dashboard publishing_callout-wide row">
        <%= custom_t('.publishing_admin_no_selected_songs', {name:current_user.first_name}) %>
    </div>
  <% end %>
<% end %>
<%= render :partial => "dashboard_alert_lightbox" %>
