<%= stylesheet_link_tag 'credit_card_expiring_soon_modal', skip_pipeline: true %>
<%= stylesheet_link_tag 'mini-carousel', skip_pipeline: true %>

<div id="card-expiring-modal" class="text-center dashboard-card-expiring-modal">
  <div class="main mini-carousel">
    <div class="slide">
      <h1><%= custom_t(".keep_the_lights_on") %></h1>

      <div class="dashboard-card-expiring-modal-body-text">
        <p><%= custom_t(".payment_will_expire", num_days: days_until_expiration) %></p>
      </div>

      <%= link_to custom_t(".update_payment"), person_preferences_path, class: "next-slide btn blue-style modal-cta" %>
      <div><a href="" class="simplemodal-close dashboard-card-expiring-modal-close-text"><%= custom_t(".no_thanks") %></a></div>
    </div>
  </div>
</div>

<!--
Moving this inline since this partial is used in a view file which loads different
layout depending upon the person's dashbaord state. Which makes the asset pipeline to not load
external js & css. Fix it when we streamline asset pipeline
-->
<% content_for :external_javascript do %>
  <%= javascript_include_tag "mini-carousel", skip_pipeline: true %>

  <script>
    jQuery(document).ready(function($) {
      // SimpleModal (the plugin we use for modal) shows an empty modal
      // even when no bounding element is present. The condition is to prevent that.
      if ($('#card-expiring-modal').length > 0) {
        $("#card-expiring-modal").modal({
          maxHeight: 450,
          maxWidth: 730,
          containerCss: {
            padding: 0,
          }
        });

        gtmLogEvent(
          'update-payment-modal',
          'update-payment-modal-appeared',
          'simple-modal',
          {
            label: 'active-modal',
            value: 'active-modal'
          }
        );
      }
    });
  </script>
<% end %>