<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/dashboard_callouts.css" %>
<% end %>

<style type="text/css">
  .dashboard_promo {
    background-color: <%= @cms_set["bg_color"] if @cms_set %>;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .dashboard_promo img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .payoneer-cta-no-underline {
    text-decoration: none;
  }
</style>

<% if needs_payoneer_enrollment? && show_payoneer_redesigned_onboarding? %>
  <section class="dashboard_promo payoneer_onboard">
    <h1><%= t('helper.dashboard.payoneer_callout.heading') %></h1>
    <div><%= t('helper.dashboard.payoneer_callout.message') %></div>
    <%= link_to t('helper.dashboard.payoneer_callout.cta'), payoneer_fees_path, class: "payoneer-cta-no-underline" %>
  </section>
<% elsif cta_callout_enabled_for?(current_user) %>
  <section class="dashboard_promo <%= @cms_set["callout_name"].gsub(/\W/, "").underscore %>">
    <%= render partial: "hubspot_callout" %>
  </section>
<% else %>
  <% if @cms_set %>
    <section class="dashboard_promo <%= @cms_set["callout_name"].gsub(/\W/, "").underscore %>">
      <a href="<%= @cms_set["dashboard_url"] %>">
        <img src="<%= @cms_set["dashboard_img"] %>" alt="">
      </a>
    </section>
  <% end %>
<% end %>
