<% if !cookies[:alert_seen_3] %>
  <% if ["published", "selling", "no_longer_live"].include?(current_user.dashboard_state) %>
    <% if current_user.composers.size == 0 %>
      <% content_for :css do %>
        <%= stylesheet_link_tag "/stylesheets/magnific-popup.css" %>
      <% end %>
      <% content_for :external_javascript do %>
        <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
        <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
        <script type="text/javascript">
        var jq172 = jQuery.noConflict(true);
        jq172.magnificPopup.open({
          items: { src: '.alert' }
        });
        </script>
      <% end %>
      <%- cookies[:alert_seen_3] = { :value => "true", :expires => 5.days.from_now } -%>

      <div class="alert mfp-hide">
        <h1 class="hd"><%= custom_t('.collect_more_money') %></h1>

        <div class="bd">
<%= custom_t('.collect_more_money_content') %>
        </div>

        <h1 class="hd"><%= custom_t('.benefits_of_using_publishing_administration') %></h1>

        <div class="bd">
<%= custom_t('.benefits_of_using_publishing_administration_content') %>

          <p class="action"><a href="<%= music_publishing_admin_link %>" target="_blank" class="button-callout"><%= custom_t(:get_started_now) %></a></p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
