<% products = Product.includes(:product_items).where("products.id in (?)", product_ids).order("product_items.first_renewal_duration ASC") %>

<div class="details">
  <nav>
    <% if products.count > 1 %><span><%= custom_t('.select_your_subscription_plan') %>:</span><% end %>

    <% products.each do |product| %>

      <% product.current_targeted_product = TargetedProduct.targeted_product_for_active_offer(current_user, product) %>

      <% regular_price = product.calculate_price(eval("#{product.applies_to_product}.new")) %>
      <% is_sale       = (product.current_targeted_product and regular_price > (product.current_targeted_product.adjust_price(regular_price))) %>

      <a href="#" class="<%= "sale" if is_sale %>" data-years="<%= product.product_items.first.first_renewal_duration.to_s %>"><%= product.product_items.first.first_renewal_duration.to_s %> Year</a>
    <% end %>

  </nav>

  <%- products.each do |product| -%>
    <div class="<%= "hide" if product.product_items.first.first_renewal_duration != 1 %>" data-years="<%= product.product_items.first.first_renewal_duration %>">
      <%- regular_price = product.calculate_price(eval("#{product.applies_to_product}.new")) -%>
      <%- if product.display_name == custom_t('product.display_name.1_yr') -%>
        <%- renewal_product = product.product_items.first.renewal_product -%>
        <%- renewal_price = renewal_product.calculate_price(renewal_product) -%>
      <%- end -%>
      <%- sale_price = product.current_targeted_product.adjust_price(regular_price) if product.current_targeted_product -%>

      <%- if product.current_targeted_product and (regular_price > sale_price) -%>
        <p class="price"><%= money_with_discount(regular_price, sale_price, product.currency) %></p>
        <%- if product.display_name == custom_t('product.display_name.1_yr') && available_in_region?(current_user.country_domain, "pricing_for_following_year") -%>
          <p class="red"><%= money_to_currency(renewal_price.to_money(product.currency)) %> <%=custom_t(:each_following_year)%></p>
        <%- end -%>

        <%- if product.current_targeted_product.show_expiration_date -%>
          <%- to = product.current_targeted_product.targeted_offer -%>
          <p class="red"><%= custom_t(:offer_ends) %> <%= fmt_country_date(to.expiration_date_for_person(current_user))  %> <% if to.single_use? %>(1 <%=custom_t(:purchase_only)%>)<% end %></p>
        <%- end -%>
      <%- else -%>
        <p class="price"><%= money_to_currency(regular_price.to_money(product.currency)) %></p>
        <% if product.display_name == custom_t('product.display_name.1_yr') && available_in_region?(current_user.country_domain, "pricing_for_following_year") %>
          <p><%= money_to_currency(renewal_price.to_money(product.currency)) %> <%=custom_t(:each_following_year)%></p>
        <% end %>
      <%- end -%>
    </div>
  <%- end -%>

</div>
