<div class="release_cards_freemium--container">
<div class="release_cards_freemium">
  <div class="tc-height tc-header-block text-center">
    <div class="tc-header-block-header">
      <%= custom_t(:album_display) %>
      <p>
        <%= custom_t("dashboard.state_1_virgin.freemium.release_your_first_album") %>
      </p>
    </div>

    <div class="state_zero_row">
      <div class="tunecore-column">
        <h2>
          <%= album_price_with_currency(current_user) %>
        </h2>
        <i>
          <%= custom_t("dashboard.state_1_virgin.album_followup_price", product_price: renewal_price(:album)) %>
        </i>
      </div>
      <div class="tunecore-column">
        <h2>
          <%= custom_t("dashboard.state_1_virgin.freemium.free") %>
        </h2>
        <i></i>
      </div>
    </div>

    <div class="state_zero_row">
      <div class="tunecore-column">
        <ul class="tc-list">
          <li>
            <%= custom_t("dashboard.state_1_virgin.freemium.distribute_standard") %>
          </li>
        </ul>
      </div>
      <div class="tunecore-column">
        <ul class="tc-list">
          <li>
            <%= custom_t("dashboard.state_1_virgin.freemium.distribute_freemium") %>
          </li>
        </ul>
      </div>
    </div>

    <div class="state_zero_row">
      <div class="tunecore-column">
        <ul class="tc-list">
          <li>
            <%= custom_t("dashboard.state_1_virgin.freemium.keep_revenue_standard") %>
          </li>
        </ul>
      </div>
      <div class="tunecore-column">
        <ul class="tc-list">
          <li>
            <%= custom_t("dashboard.state_1_virgin.freemium.keep_revenue_freemium") %>
          </li>
        </ul>
      </div>
    </div>

    <div class="state_zero_btns">
      <%= link_to(custom_t("dashboard.state_1_virgin.freemium.upload_to_all"), new_album_path, class: "tunecore-btn") %>
      <%= link_to(
        custom_t("dashboard.state_1_virgin.freemium.upload_to_freemium"),
        new_album_path,
        class: "tunecore-btn white-btn")
      %>
    </div>
  </div>
</div>
<div class="release_cards_freemium">
  <div class="tc-height tc-header-block text-center">
    <div class="tc-header-block-header">
      <%= custom_t(:single) %>
      <p>
        <%= custom_t("dashboard.state_1_virgin.freemium.release_your_first_single") %>
      </p>
    </div>

    <div class="state_zero_row">
      <div class="tunecore-column">
        <h2>
          <%= single_price_with_currency(current_user) %>
        </h2>
        <i>
          <%= custom_t("dashboard.state_1_virgin.single_followup_price", product_price: renewal_price(:single)) %>
        </i>
      </div>
      <div class="tunecore-column">
        <h2>
          <%= custom_t("dashboard.state_1_virgin.freemium.free") %>
        </h2>
        <i></i>
      </div>
    </div>

    <div class="state_zero_row">
      <div class="tunecore-column">
        <ul class="tc-list">
          <li>
            <%= custom_t("dashboard.state_1_virgin.freemium.distribute_standard") %>
          </li>
        </ul>
      </div>
      <div class="tunecore-column">
        <ul class="tc-list">
          <li>
            <%= custom_t("dashboard.state_1_virgin.freemium.distribute_freemium") %>
          </li>
        </ul>
      </div>
    </div>

    <div class="state_zero_row">
      <div class="tunecore-column">
        <ul class="tc-list">
          <li>
            <%= custom_t("dashboard.state_1_virgin.freemium.keep_revenue_standard") %>
          </li>
        </ul>
      </div>
      <div class="tunecore-column">
        <ul class="tc-list">
          <li>
            <%= custom_t("dashboard.state_1_virgin.freemium.keep_revenue_freemium") %>
          </li>
        </ul>
      </div>
    </div>

    <div class="state_zero_btns">
      <%= link_to(custom_t("dashboard.state_1_virgin.freemium.upload_to_all"), new_single_path, class: "tunecore-btn") %>
      <%= link_to(
        custom_t("dashboard.state_1_virgin.freemium.upload_to_freemium"),
        new_single_path,
        class: "tunecore-btn white-btn")
      %>
    </div>
  </div>
</div>
</div>
