<div class="flex-block">
  <div class="tc-height tc-header-block text-center">
    <div class="tc-header-block-header"><%= custom_t(:album_display) %></div>
    <p>
      <%= custom_t("dashboard.state_1_virgin.release_your_first_album") %>
    </p>

    <%= link_to(custom_t(:get_started), new_album_path, class: "tunecore-btn") %>
  </div>
</div>
<div class="flex-block">
  <div class="tc-height tc-header-block text-center">
    <div class="tc-header-block-header"><%= custom_t(:single) %></div>
    <p>
      <%= custom_t("dashboard.state_1_virgin.release_your_first_single") %>
    </p>

    <%= link_to(custom_t(:get_started), new_single_path, class: "tunecore-btn") %>
  </div>
</div>
<div class="flex-block">
  <div class="tc-height tc-header-block text-center">
    <div class="tc-header-block-header"><%= custom_t(:ringtone) %></div>
    <p>
      <%= custom_t("dashboard.state_1_virgin.release_your_first_ringtone") %>
    </p>

    <%= link_to(custom_t(:get_started), new_ringtone_path, class: "tunecore-btn") %>
  </div>
</div>
