<%= stylesheet_link_tag 'renew_expired_release_modal', skip_pipeline: true %>
<%= stylesheet_link_tag 'mini-carousel', skip_pipeline: true %>
<div id="renew_expired_release_modal" class="text-center dashboard-renew-expired-release-modal">
  <div class="main mini-carousel">
    <div class="slide">
      <h1><%= custom_t(".keep_the_lights_on") %></h1>

      <div class="dashboard-renew-expired-release-modal-body-text">
        <%= custom_t(".renew_releases")%>
      </div>

      <% unless current_user.plan_user? %>
        <%= link_to custom_t(".renew_now"), subscriptions_path, class: "next-slide btn blue-style modal-cta" %>
      <% end %>
      <div>
        <%= link_to custom_t(".no_thanks"), "#", class: "simplemodal-close dashboard-renew-expired-release-modal-close-text" %>
      </div>
    </div>
  </div>
</div>


<% content_for :external_javascript do %>
  <%= javascript_include_tag "mini-carousel", skip_pipeline: true %>

  <script>
    jQuery(document).ready(function($) {
      $("#renew_expired_release_modal").modal({
        maxHeight: 450,
        maxWidth: 730,
        containerCss: {
          padding: 0,
        }
      });
    });
  </script>
<% end %>
