<div id="slider_<%= polymorphic_type.to_s.downcase %>s">

  <ul class="navigation">
    <li><%= link_to see_all_translation(polymorphic_type), discography_path, class: 'link' %></li>
  </ul>
  <div class="scroll">
    <div class="scrollContainer">
      <div class="panel" id="page1_<%= polymorphic_type.to_s.downcase %>s">
        <ul class="panel-list clearfix">
          <% i = 0 %>

          <%# start iteration of things -%>
          <% things.each_with_index do |album,index| %>
            <li class="panel-album">
              <%= link_to "#{album_overlay_image(album, @renewal_expires_cache)}#{image_to_display(album)}".html_safe, get_release_type_path(polymorphic_type, 'show', album) %>
              <span><%= link_to h(truncate(display_name(album), length: 16)), get_release_type_path(polymorphic_type, 'show', album) %></span>
              <%= source_label(album) %>
            </li>

            <%# close of a page of thumbnails -%>
            <%# if there are more pages -%>
            <% if ((index + 1) % 4 == 0) %>
            <% i = i + 1 %>
        </ul>
      </div>

      <%# open a new page of thumbnails -%>
      <div class="panel" id="page<%= (i + 1) %>_<%= polymorphic_type.downcase %>s">
        <ul class="panel-list clearfix">
          <% end %><%#  end close a page of thumbnails -%>
          <% end %><%# end iteration of 'things' -%>
          <li class="add add_<%= polymorphic_type.underscore.downcase.pluralize %>">
            <%= link_to custom_t("add_#{polymorphic_type.underscore.downcase}"), get_release_type_path(polymorphic_type, 'new') %>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
