<% if @has_unaccepted_split_invites && !session[:splits_pending_banner_closed] %>
  <div class="note_alert" id="splits-pending-banner">
    <%= custom_t('royalty_splits.notifications.pending_invites_banner') %>
    <a href="#" style="float: right" id="close-splits-pending-banner">
      <i class="fa fa-close" aria-hidden="true" style="color: gray"></i>
    </a>
  </div>
<% end %>
