<% content_for :external_javascript do %>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $('.details nav a').on('click', function(e) {
        var t = $(this),
            details = t.parents('.details');
        details.find('.active').removeClass('active');
        details.find('div').addClass('hide');
        details.find('div[data-years="' + t.data('years') + '"]').removeClass('hide');
        t.addClass('active');
        //details.find('.hasSale').removeClass('hasSale').addClass('sale');
        //if(t.hasClass('sale')) t.removeClass('sale').addClass('hasSale');
        e.preventDefault();
      });
      $('.details > nav > a[data-years="1"]').click();
    });
  </script>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "dashboard" %>
  <%= stylesheet_link_tag "/stylesheets/dashboard_yt_ribbon.css" %>
  <%= stylesheet_link_tag "/stylesheets/optimizely_dashboard.css" %>
<% end %>

<section class="twelve columns centered">
  <div class="row">
    <div class="twelve columns">
      <div class="promo_ribbon">
      </div>
    </div>
  </div>
</section>

<div class="tc-section tc-section-header" id="before-welcome">
  <div class="tier-promo-row">
    <div class="tier-promo-container">
    </div>

    <div class="row tier-promo-container-center">
      <div class="column twelve">
        <div class="tc-section-title">
          <%= custom_t(".get_your_music_out_there") %>
        </div>
      </div>
      <div class="flex-row">
        <%= release_cards %>
      </div>
      <% if plan_display_valid? %>
        <div class="row" style="padding: 0px 10px;">
          <div class="tc-header-block-small">
            <p>
              <%= custom_t(".distribute_unlimited_releases") %>
            </p>
            <%= link_to(custom_t(".go_unlimited"), plans_path, class: "tunecore-btn") %>
          </div>
        </div>
      <% end %>
      <% unless owns_or_carted_plan? %>
        <div class="row" style="padding: 0px 10px;">
          <div class="tc-header-block-small">
            <p>
              <%= custom_t(".save_money_with_credits") %>
            </p>
            <%= link_to(custom_t(".buy_credits"), credits_path, class: "tunecore-btn") %>
          </div>
        </div>
      <% end %>
      <% if facebook_freemium_enabled? %>
        <div class="row" style="padding: 0px 10px;">
          <div class="tc-header-block-small">
            <p>
              <%= custom_t(".release_your_first_ringtone") %>
            </p>
            <%= link_to(custom_t(:get_started), new_ringtone_path, class: "tunecore-btn") %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="tier-promo-container">
      <%= render partial: "tier_promo/tier_promo", locals: {parent_component: "badge"} %>
    </div>
  </div>
</div>

<div class="tc-section section-knowlege" id="after-welcome">
  <div class="container">
    <div class="row">
      <div class="column twelve">
        <div class="tc-section-title">
          <%= custom_t(".how_our_services_benefit_you") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column <%= publishing_available_in_region? ? 'six' : 'twelve' %>">
        <div class="tc-header-block">
          <div class="tc-header-block-header">
            <%= custom_t(".the_details_on_distribution_header") %>
          </div>
          <p>
            <%= custom_t(".the_details_on_distribution_body") %>
          </p>
          <p>
            <%= link_to(custom_t(:learn_more), custom_t(".the_details_on_distribution_url")) %>
          </p>
        </div>
      </div>
      <% if publishing_available_in_region? %>
        <div class="column six">
          <div class="tc-header-block">
            <div class="tc-header-block-header">
              <%= custom_t(".music_publishing_with_tunecore_header") %>
            </div>
            <p>
              <%= custom_t(".music_publishing_with_tunecore_body") %>
            </p>
            <p>
              <%= link_to(custom_t(:learn_more), custom_t(".music_publishing_with_tunecore_url")) %>
            </p>
          </div>
        </div>
      <% end %>
      <div class="column six">
        <div class="tc-header-block">
          <div class="tc-header-block-header">
            <%= custom_t(".reach_your_fans_header") %>
          </div>
          <p>
            <%= custom_t(".reach_your_fans_body") %>
          </p>
          <p>
            <%= link_to(custom_t(:learn_more), custom_t(".reach_your_fans_url")) %>
          </p>
        </div>
      </div>
      <div class="column six">
        <div class="tc-header-block">
          <div class="tc-header-block-header">
            <%= custom_t(".we_have_got_your_back_header") %>
          </div>
          <p>
            <%= custom_t(".we_have_got_your_back_body") %>
          </p>
          <p>
            <%= link_to(custom_t(:learn_more), custom_t(".we_have_got_your_back_url")) %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
