<% content_for :external_javascript do %>
  <!--[if IE]>
    <%= javascript_include_tag "/javascripts/excanvas.min.js" %>
  <![endif]-->
  <%= javascript_include_tag "/javascripts/jquery.scrollTo-1.4.3.1-min.js" %>
  <%= javascript_include_tag "/javascripts/jquery.localscroll-1.2.7-min.js" %>
  <%= javascript_include_tag "/javascripts/jquery.serialScroll-1.2.2-min.js" %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/dashboard_yt_ribbon.css" %>
<% end %>

<section class="grid_16">
  <div class="promo_ribbon">
  </div>
</section>

<div class="grid_12 rounded-container" id="dashboard">
  <%= render partial: 'dashboard_callouts' %>
  <% if country_website() == 'US' %>
    <div id="states" class="active">
      <%= render_cms_content("dashboard_state_3_main")%>
    </div>
  <% end %>

  <%= display_ad_for_person(current_user,
                            Advertisement::CATEGORY_DASHBOARD,
                            {:display_size => Advertisement::DISPLAY_SIZE_WIDE, :number_of_ads => 1})%>

  <%= render partial: '/dashboard/albums' %>
</div>

<aside class="grid_4" id="sidebar">
  <%= render partial: "tier_promo/tier_promo", locals: {parent_component: "badge"} %>
  <% if country_website() == 'US' %>
    <%= render_cms_content("dashboard_state_3_resources") %>
  <% end %>
  <%= targeted_offer_cms_content(current_user) %>
  <%= render_cms_content("dashboard_state_3_sidebar_ads") %>
  <% unless owns_or_carted_plan? %>
    <%= render partial: '/dashboard/distribution_credits' %>
  <% end %>
</aside>
