<style>#states {height:162px;}</style>
<% content_for :external_javascript do %>
  <!--[if IE]><script src="/javascripts/excanvas.min.js"></script><![endif]-->
  <%= javascript_include_tag "/javascripts/jquery.scrollTo-1.4.3.1-min.js" %>
  <%= javascript_include_tag "/javascripts/jquery.localscroll-1.2.7-min.js" %>
  <%= javascript_include_tag "/javascripts/jquery.serialScroll-1.2.2-min.js" %>
  <%= javascript_include_tag "/javascripts/plugins/raphael.js" %>
  <%= javascript_include_tag "/javascripts/plugins/g.raphael.js" %>
  <%= javascript_include_tag "/javascripts/plugins/g.bar.js" %>
  <%= javascript_include_tag "/javascripts/app/graphs.js" %>
  <%= javascript_include_tag "/javascripts/app/dashboard.js" %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "dashboard" %>
  <%= stylesheet_link_tag "/stylesheets/dashboard_yt_ribbon.css" %>
<% end %>

<section class="grid_16">
  <div class="promo_ribbon">
  </div>
</section>

<div class="grid_12 rounded-container" id="dashboard">
  <%= render partial: 'dashboard_callouts' %>
  <%= display_ad_for_person(current_user,
                            Advertisement::CATEGORY_DASHBOARD,
                            {:display_size => Advertisement::DISPLAY_SIZE_WIDE, :number_of_ads => 1})%>
  <%= render(:partial => 'albums')%>
</div>
<aside class="sidebar grid_4">
  <%= render partial: "tier_promo/tier_promo", locals: {parent_component: "badge"} %>
  <% if @automator_count > 0 %>
    <div class="automator-callout">
      <%= custom_t('.tap_into_markets') %><br><br>
      <span class="automator-callout-count"><%= @automator_count %></span><br>
      <%= custom_t('.of_your_releases') %>
      <%= link_to custom_t(:store_manager_global), "/store_manager", id: "store_manager_button", class: "btn btn-orange" %>
    </div>
  <% end %>

  <% if country_website == "US" %>
    <%= render_cms_content("dashboard_state_5_resources") %>
  <% end %>
  <%= targeted_offer_cms_content(current_user) %>
  <% unless owns_or_carted_plan? %>
    <%= render partial: 'distribution_credits' %>
  <% end %>
</aside>
