<%= stylesheet_link_tag "stem_modal", skip_pipeline: true %>
<%= stylesheet_link_tag "mini-carousel", skip_pipeline: true %>

<div id="stem-welcome-modal" class="text-center">
  <img src="/images/stem/cobranded-logo.png" alt="Stem and Tunecore logo">

  <div class="main mini-carousel">
    <div class="slide">
      <h1><%= custom_t(".welcome_slide_title") %></h1>

      <div class="welcome-text">
        <%= custom_t(".welcome_slide_text") %>
        <%= custom_t(".welcome_slide_faq", link: knowledgebase_link_for("Stem-FAQ", country_website)) %>
      </div>

      <div class="cta-buttons">
        <%= link_to custom_t(".welcome_slide_next_slide_button"), "#", class: "next-slide btn blue-style modal-cta" %>
      </div>
    </div>

    <div class="slide">
      <h1><%= custom_t(".payment_slide_title") %></h1>
      <div class="welcome-text">
        <p><%= custom_t(".update_payment_info") %></p>
        <p><%= custom_t(".formatting_requirements_changed") %></p>
        <p><%= custom_t(".thanks_message") %></p>
      </div>

      <div class="cta-buttons">
        <%= link_to custom_t(".add_payment_button"), person_preferences_path, class: "btn blue-style modal-cta" %><br />
        <%= link_to custom_t(".previous_slide_text"), "#", class: "previous-slide" %>
      </div>
    </div>
  </div>
</div>

<!--
Moving this inline since this partial is used in a view file which loads different
layout depending upon the person's dashbaord state. Which makes the asset pipeline to not load
external js & css. Fix it when we streamline asset pipeline
-->
<% content_for :external_javascript do %>
  <%= javascript_include_tag "mini-carousel", skip_pipeline: true %>

  <script>
    jQuery(document).ready(function($) {
      // SimpleModal (the plugin we use for modal) shows an empty modal
      // even when no bounding element is present. The condition is to prevent that.
      if ($('#stem-welcome-modal').length > 0) {
        $("#stem-welcome-modal").modal({
          close: false,
          escClose: false,
          overlayClose: false,
          containerCss: {
            padding: 0,
          }
        });

        gtmLogEvent(
          'stem-modal',
          'stem-modal-appeared',
          'simple-modal',
          {
            label: 'stem',
            value: 'stem'
          }
        );
      }
    });
  </script>
<% end %>
