<%= render(:partial => 'alerts')%>
<%= render(:partial => 'state_1_virgin.html') %>
<% if @redemption %>
  <%= render(:partial => 'cert_redemptions/thank_you') %>
  <% content_for :external_javascript do %>
    <script type="text/javascript">
      jQuery(".thank_you").modal({
        minHeight: 340,
        minWidth: 719,
        containerCss: {
          padding: 0,
          "background-color": "transparent"
        }
      });
    </script>
  <% end %>
<% end %>
