<% content_for :extra_js do %>
  <script>
    //namespace so as not to kill kittens
    var TC = TC || {};
    //turn off escape hatch link if js is enabled
    TC.fallback = document.getElementById('fallback');
    document.getElementById('creating-account').style.width = '260px';

    //so sneaky!
    setTimeout(function(){
      window.location = '<%= @redirect_url %>'
    }, 4000);

    if (TC.fallback.hasChildNodes()) {
        while (TC.fallback.childNodes.length) {
          TC.fallback.removeChild(TC.fallback.firstChild);
        }
    };
  </script>
<% end %>

<%# TODO: Remove when marketing is ready to track account creations
          in another way.
          It's possible the timeout above is needed for Google Analytics.
          See https://tunecore.atlassian.net/browse/ARC-476
%>
<div id="create-account-dark-screen"></div>

<section class="grid_16">
  <div id="creating-account">
      <h2><%= custom_t('.creating_your_account') %></h2>
    <%= image_tag('/images/icons/spinner.gif')%>
    <p id="fallback"><%= custom_t('.take_a_moment') %></p>
  </div>
</section>
