<% unless Rails.env.test? %>
  <% content_for :optimizely_custom_tags do %>
    <% optimizely_custom_tag(
      Optimizely::Page.new(
        current_user,
        albums: @albums,
        currency: locale_currency,
        page_type: Optimizely::Dashboard,
        page_name: optimizely_page_name,
        page_opts: { marketing_metrics: @marketing_metrics }
      ).tag_data
    )
  %>
  <% end %>
<% end %>

<% if params[:popup] %>
  <% content_for :external_javascript do %>
    <script type="text/javascript">
      <% translations = raw TranslationFetcherService
          .translations_for("javascripts/popup_modal", COUNTRY_LOCALE_MAP[locale.upcase.to_s])
          .translations['popup_modal'].to_json %>
      window.translations = {}
      window.translations.popup_modal = <%= translations %>
    </script>
  <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/popup_modal.js" %>
  <% end %>
<% end %>

<% content_for :data_layer do %>
  <% data_layer_object(page: Gtm::Page.new(current_user, currency: locale_currency, page_type: Gtm::Dashboard, page_name: "Dashboard", facebook_sign_up: session[:facebook_signup], pb: params[:pb])) %>
<% end %>

<% if FeatureFlipper.show_feature?(:zombie_apocalypse, current_user) %>
  <img src="http://31.media.tumblr.com/3d8c3f8e8c1a2ad1d211d02ae9f0979c/tumblr_mvc8lf9gig1sf0xh9o1_500.gif">
<% end %>

<%= render(partial: @main_body)%>
<% if @person.blocked_for_stem? %>
  <%= render partial: "stem_welcome_modal" %>
<% elsif @days_until_expiration && @days_until_expiration != "expired" %>
  <%= render partial: "credit_card_expiring_soon_modal", locals: { days_until_expiration: @days_until_expiration } %>
<%elsif FeatureFlipper.show_feature?(:renew_expired_release_modal, current_user) && expired_renewal_modal_valid_for(current_user)%>
  <%= render partial: "renew_expired_release_modal" %>
<% elsif @redemption %>
  <%= render(partial: "cert_redemptions/thank_you") %>
  <% content_for :external_javascript do %>
    <script type="text/javascript">
      (function($) {
        $(".thank_you").modal({
          minHeight: 340,
          minWidth: 719,
          containerCss: {
            padding: 0,
            "background-color": "transparent"
          }
        });
      }(jQuery));
    </script>
  <% end %>
<% end %>
