<% unless Rails.env.test? %>
  <% content_for :optimizely_custom_tags do %>
    <% optimizely_custom_tag(
      Optimizely::Page.new(
        current_user,
        albums: @albums,
        currency: locale_currency,
        page_type: Optimizely::Dashboard,
        page_name: optimizely_page_name,
        page_opts: { marketing_metrics: @marketing_metrics }
      ).tag_data
    )
  %>
  <% end %>
<% end %>

<% content_for :data_layer do %>
  <% data_layer_object(page: Gtm::Page.new(current_user,
                                           currency: locale_currency,
                                           page_type: Gtm::Dashboard,
                                           page_name: "Dashboard",
                                           facebook_sign_up: session[:facebook_signup],
                                           pb: params[:pb]))
  %>
<% end %>

<% content_for(:css) do %>
  <%= stylesheet_link_tag "dashboard_reskin" %>
<% end %>

<% content_for(:external_javascript) do %>
  <%= javascript_include_tag "dashboard_reskin" %>
<% end %>

<%# if FeatureFlipper.show_feature?(:zombie_apocalypse, current_user) %>
<%# <img src="http://31.media.tumblr.com/3d8c3f8e8c1a2ad1d211d02ae9f0979c/tumblr_mvc8lf9gig1sf0xh9o1_500.gif"> %>
<%# end %>

<main>
  <section>
    <%= render "splits_pending_invites_banner" %>
    <div class="plan-color-bg top-row">
      <div class="wrapper">
        <h1 class="user-name" data-testid="user-name">
          <%= current_user.name %>
        </h1>
        <div class="grid">
          <%= render "reskin/balance_widget" %>
          <%= render "reskin/plan_widget", plan_widget_locals(@plan) %>
          <%= render "reskin/plan_upsell", plan_upsell_locals(@plan) %>
        </div>
      </div>
    </div>
  </section>

  <%= render "reskin/alerts" %>

  <% if @show_null_dashboard %>
    <%= render "reskin/null_dashboard" %>
  <% else %>
    <section>
      <div class="row">
        <div class="wrapper">
          <%= render partial: "reskin/setup_payout",
                     locals: { show: setup_payout? }
          %>
        </div>
      </div>
    </section>

    <%= render "reskin/artist_accounts", artist_accounts: @artist_accounts %>

    <section>
      <%= render partial: "reskin/recent_releases_container",
                 locals: { recent_releases: @recent_releases }
      %>
    </section>

    <section>
      <%= render "reskin/resources" %>
    </section>
  <% end %>
</main>

<% if show_expiring_cc_modal?(@days_until_expiration) %>
  <%= render partial: "reskin/modals/expiring_cc" %>
<% elsif should_show_auto_renewal_prompt? %>
  <%= render partial: "reskin/modals/autorenewals" %>
<% elsif show_tfa_modal? %>
  <%= render partial: "reskin/modals/tfa" %>
<% end %>
