<table cellpadding="4" style='color:#000;background:#e1e1e1;font-size:13px;'>
	<tr>
		<td>
			<br/>&nbsp;&nbsp;
			<% if @card_for_renewals %>
        <%= custom_t('.storing_cc') %>
			<% else %>
				<%= custom_t('.keep_your_music') %>
			<% end %>
			<ul>
				<li style="padding-top:4px;padding-bottom:4px;"><%= custom_t('.improved_music_uploader') %></li>
		   	<li style="padding-top:4px;padding-bottom:4px;"><%= custom_t('.upgraded_and_improved') %></li>
		  	<li style="padding-top:4px;padding-bottom:4px;"><%= custom_t('.free_itunes') %></li>
		   	<li style="padding-top:4px;padding-bottom:4px;"><%= custom_t('.free_band_page') %> </li>
		   	<li style="padding-top:4px;padding-bottom:4px;"><%= custom_t('.free_music_industry') %></li>
			</ul>
</td></tr></table>
