<% unless @invoice.blank? -%>
	<table cellpadding="5" cellspacing="0" border="0" style="text-align:left;">
		<tr>
			<td><strong><%= custom_t(:name) %></strong></td>
			<td><strong><%= custom_t(:renewal_date) %></strong></td>
			<td><strong><%= custom_t(:renewal_price) %></strong></td>
			<td><strong><%= custom_t(:takedown_date) %></strong></td>
		</tr>
	  <% @invoice.purchases.each do |purchase| -%>
		<tr>
			<td width="300">
				<% if !purchase.purchased_artist.nil? %>
					<%= purchase.purchased_artist %> -
						<a href="http://<%= @person.domain %>/<%= renewal_purchase_link(purchase) %>">
							<%= purchase.purchased_name %> (ID <%= purchase.renewal.renewal_items.first.related_id %>)
						</a>
				<% elsif purchase.renewal.renewal_items.first.related_type == "Entitlement" -%>
						<a href="http://<%= @person.domain %>/<%= renewal_purchase_link(purchase) %>">
							<%= purchase.purchased_name %>
						</a>
				<% else %>
						<%= purchase.purchased_name %>
				<% end -%>
			</td>
			<td>
				<% if purchase.renewal %>
					<%= purchase.renewal.renewal_history.last(:order=>'expires_at ASC').expires_at.strftime('%B %d, %Y')	 %>
				<% end -%>
			</td>
			<td>
				<%= money_to_currency(purchase.cost) %> (only <%= money_to_currency(purchase.cost) %>/month)
			</td>
			<td>
				<strong><%= (purchase.renewal.renewal_history.last(:order=>'expires_at ASC').expires_at + @renewal_grace_days.days).strftime('%B %d, %Y') %></strong>
				</td>
		</tr>
	  <% end -%>
	</table>
<% end -%>
