<%
  # Account for item_to_renew being either a Product or ProductItem
  renewal_product = if renewal.item_to_renew.is_a?(Product)
    renewal.item_to_renew
  else
    renewal.item_to_renew.product
  end

  targetedProduct = TargetedProduct.targeted_product_for_active_offer(renewal.person, renewal_product, renewal)
%>
<tr>
  <td>
    <% if renewal_item.related_type == 'Album' || renewal_item.related_type == 'Video' %>
       <%# handle Albums, Single, Ringtones, videos %>
        <%= renewal_item.related.artist_name %>
    <% elsif renewal_item.related_type == 'Entitlement' %>
        <a href="http://<%= @person.domain %>/<%= renewal_item_link(renewal_item) %>">
          <%= renewal_item.related.entitlement_rights_group.name %>
        </a>
    <% end %>
  </td>
  <td>
    <% if renewal_item.related_type == 'Album' || renewal_item.related_type == 'Video' %>
      <%# handle Albums, Single, Ringtones, videos %>
        <a href="http://<%= @person.domain %>/<%= renewal_item_link(renewal_item) %>">
          <%= renewal_item.related.name %> (ID <%= renewal_item.related_id %>)
        </a>
    <% elsif renewal_item.related_type == 'Entitlement' %>
        <a href="http://<%= @person.domain %>/<%= renewal_item_link(renewal_item) %>">
          <%= renewal_item.related.entitlement_rights_group.name %>
        </a>
    <% end %>
  </td>
  <td>
    <% if @pre_expiration %>
      <%= renewal.renewal_history.order('expires_at ASC').last.expires_at.strftime('%b %d, %Y')  %>
    <% else %>
      <%= renewal.takedown_date.strftime('%b %d, %Y') %>
    <% end %>
  </td>
  <% unless takedown %>
    <td width="200">
      <span <% if targetedProduct != nil %>style="color: red;"<% end %>><%= format_to_currency(renewal.price_to_renew_in_money) %></span>
    </td>
  <% end %>
</tr>
<% if (targetedProduct != nil && !targetedProduct.price_adjustment_description.blank? && !takedown) %>
<tr>
  <td align="right" colspan="5" width="200">
    <span style="color: red;">
      <%= targetedProduct.price_adjustment_description %>.
      <% if targetedProduct.show_expiration_date %>
      <%= custom_t(:expires) %> <%= fmt_long_date(targetedProduct.targeted_offer.expiration_date_for_person(renewal.person)) %>.
      <% end %>
    </span>
  </td>
</tr>
<% end %>
