<ol>
  <li><%= custom_t(:login_to_your_account) %> (<a href="http://<%= @person.domain %>/reset_password"><%= custom_t(:forgot_your_password) %></a>)</li>
	<li><%= custom_t('.click_on_shopping_cart') %></li>
	<% if @person.allow_paypal? %>
  	<li><%= custom_t('.pay_with_cc_pp_tc') %></li>
	<% else %>
		<li><%= custom_t('.pay_with_cc_tc') %></li>
	<% end %>
  <li><%= custom_t('.your_music') %> <%= @monthly ? 'month' : 'year' %></li>
  <li><%= custom_t('.we_will_save') %> 
	<% if @person.allow_paypal? %>
		(<%= custom_t('.cc_or_pp') %>)
	<% end %> 
	<%= custom_t('.in_your_tc_account') %></li>

</ol>
