<% unless renewals.blank? -%>
    <table cellpadding="2" cellspacing="0" border="0" width="620" style="text-align:left;">
      <tr>
        <th><%= custom_t(:artist) %></th>
        <th><%= custom_t(:title) %></th>

        <th>
          <% if @pre_expiration %>
            <%= custom_t(:renewal_date) %>
          <% else %>
            <%= custom_t(:takedown_date) %>
          <% end %>
        </th>

        <% unless takedown %>
          <th><%= custom_t(:price) %></th>
        <% end %>
      </tr>

      <%# Render all the  %>
      <% renewals.each do |renewal| -%>
        <% unless renewal.renewal_items.blank? -%>
          <%= render partial: 'renewal_item', collection: renewal.renewal_items, locals: {renewal: renewal, takedown: takedown}%>
        <% end -%>
      <% end -%>

      <tr>
        <td></td>
        <td></td>
        <% unless takedown %>
          <td valign="top"><strong><%= custom_t(:total) %>:</strong></td>
          <td><strong><%= format_to_currency(renewals.inject(renewals.first.price_to_renew_in_money - renewals.first.price_to_renew_in_money){ |sum,renewal| sum+renewal.price_to_renew_in_money }) %></strong></td>
        <% end %>
      </tr>
    </table>

<% end -%>
