<% if @person.is_ca? %>
  <%= custom_t(".ca_renewal_prices_update") %>
<% end %>

<% if @person.is_uk? %>
  <% if Date.parse("2017-01-04").past? %>
    <%= custom_t(".uk_renewal_prices_after_update") %>
  <% elsif Date.parse("2016-12-07").past? %>
    <%= custom_t(".uk_renewal_prices_before_update") %>
  <% end %>
<% end %>
