<table border='0' cellpadding='0' cellspacing='0'>
  <tr>
    <td align='left' style='border-collapse: collapse;' valign='top' width='640'>
      <%= custom_t('.content') %>
    </td>
  </tr>
</table>
