<table border='0' cellpadding='0' cellspacing='0'>
  <tr>
    <td align='left' style='border-collapse: collapse;' valign='top' width='640'>
      <h4><%= custom_t('.what_if') %></h4>
      <ul style='padding-left: 10px;'>
        <% payment_methods = payment_method_strings(@person) %>
        <% if !payment_methods.empty? %>
          <li style='margin-bottom: 6px;'><%= custom_t('.we_will_not_attempt') %> [ <%= payment_methods.join(" | ")  %> ] <%= custom_t('.again_for_the_renewals') %></li>
        <% end %>
        <%= custom_t('.stores_will_remove_your_music') %>
      </ul>
    </td>
  </tr>
</table>
