<table border='0' cellpadding='0' cellspacing='0' width='640'>
  <tr>
    <td align='left' style='border-collapse: collapse; margin: 10px 0; padding: 0 10px;' valign='top'>
      <table border='0' cellpadding='0' cellspacing='0'>
        <tr>
          <td align='left' style='border-collapse: collapse;' valign='top' width='640'>
            <% case @payment_method
               when :credit_card %>
              <p><%= custom_t('.we_could_not_charge') %>:</p>
              <p><em><%= custom_t('.last_4_digits') %>: <%= @person.preferred_credit_card.last_four %><br> <%= custom_t(:expires) %>: <%= @person.preferred_credit_card.expiration_month %>/<%= @person.preferred_credit_card.expiration_year %></em></p>
            <% when :paypal %>
              <p><%= custom_t('.unable_to_renew_pp') %>:</p>
              <p><em><%= @person.preferred_paypal_account.email %></em></p>
            <% when :no_payment_method %>
              <p><%= custom_t('.unable_to_renew_tc') %> (<%= format_to_currency(@renewals.inject(@renewals.first.price_to_renew_in_money - @renewals.first.price_to_renew_in_money){ |sum,renewal| sum+renewal.price_to_renew_in_money }) %>)</p>
            <% when :do_not_auto_renew %>
              <p><%= custom_t('.unable_to_renew_auto') %></p>
            <% end %>
          </td>
        </tr>
      </table>

      <% unless @person.plan_user? %>
        <div id="RenewalsTable">
          <%= render :partial=>'renewals', locals: { renewals: @renewals, takedown: @takedown } %>

          <div style="margin: 0px 0px 0px 400px;">
            <a href="<%= cart_url(host: @person.domain) %>">
              <img alt="Pay Now" src="http://<%= @person.domain %>/images/email/pay_now.png" />
            </a>
          </div>
        </div>
      <% end %>

      <div id="CentralMessage">
        <%= render :partial => 'what_if_I_dont_pay_now', :locals=>{:person=>@person} %>
      </div>

    </td>
  </tr>
</table>
