<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title><%= custom_t('.tunecore_email') %></title>
</head>
<body bgcolor="#e1e1e1">
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#e1e1e1">
	<tr>
		<td>
			<table width="640" border="0" cellpadding="0" cellspacing="0" align="center">
				<tr><td><span style="font-family:arial,helvetica,sans-serif; color:#5b5b5b; font-size:10px;">&nbsp;&nbsp;&nbsp;&nbsp;<%= custom_t('.to_view_a_web_version') %>, <a href="http://secure.elabs6.com/functions/message_view.html?mid=<MLM_MID>&amp;mlid=<MLM_MLID>&amp;siteid=<MLM_SITEID>&amp;uid=<MLM_UNIQUEID>" style="color:#629e35;"><%= custom_t(:click_here).downcase %></a>.</span></td></tr>
				<tr><td><a href="http://<%= person.domain %>/?utm_medium=email&amp;ref=email&amp;utm_source=engagement&amp;utm_campaign=icloud"><img src="http://www.elabs6.com/content/12347045/061311_icloud_img1.gif" width="640" height="89" border="0" alt="tunecore&reg;" style="display:block;"></a></td></tr>
			</table>
			<table width="640" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff">
				<tr>
					<td><img src="http://www.elabs6.com/content/12347045/s.gif" width="20" height="1" border="0" alt="" style="display:block;"></td>
					<td rowspan="2"><div style="font-size:10px; line-height:10px;"></div></td>
					<td><img src="http://www.elabs6.com/content/12347045/s.gif" width="28" height="1" border="0" alt="" style="display:block;"></td>
				</tr>
				<tr>
					<td><img src="http://www.elabs6.com/content/12347045/s.gif" width="20" height="1" border="0" alt="" style="display:block;"></td>
					<td><img src="http://www.elabs6.com/content/12347045/s.gif" width="28" height="1" border="0" alt="" style="display:block;"></td>
				</tr>
				<tr>
					<td><img src="http://www.elabs6.com/content/12347045/s.gif" width="20" height="1" border="0" alt="" style="display:block;"></td>
          <%= custom_t('.main_content', {person_name: @person.name}) %>
					<td><img src="http://www.elabs6.com/content/12347045/s.gif" width="28" height="1" border="0" alt="" style="display:block;"></td>
				</tr>
			</table>
			<table width="640" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#f6f6f6">
		  <tr>
					<td colspan="2" rowspan="3" bgcolor="#FFFFFF">&nbsp;</td>
			<td width="610" bgcolor="#FFFFFF">&nbsp;</td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF"><img src="http://www.elabs6.com/content/12347045/s.gif" width="20" height="1" border="0" alt="" style="display:block;"></td>
				</tr>

			</table>
			<table width="640" border="0" cellpadding="0" cellspacing="0" align="center">
<tr><td colspan="8"><img src="http://www.elabs6.com/content/12347045/tc_email_footer_rule.gif" width="640" height="15" border="0" alt="" style="display:block;"></td></tr>
        <tr>
          <td>
            <a style="padding: 7px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #fff; background-color: #4798DA; text-decoration: none;" href="http://<%= person.domain %>/dashboard"><%= custom_t(:my_sales) %></a>
          </td>
          <td>
            <a style="padding: 7px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #fff; background-color: #4798DA; text-decoration: none;" href="http://<%= person.domain %>/discography"><%= custom_t(:distribute_music) %></a>
          </td>
          <td>
            <a style="padding: 7px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #fff; background-color: #4798DA; text-decoration: none;" href="http://<%= person.domain %>/index/get_a_publishing_deal"><%= custom_t(:collect_royalties) %></a>
          </td>
          <td>
            <a style="padding: 7px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #fff; background-color: #4798DA; text-decoration: none;" href="http://<%= person.domain %>/artist_services"><%= custom_t('.get_artist_services') %></a>
          </td>
          <td>
            <a style="padding: 7px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #fff; background-color: #4798DA; text-decoration: none;" href="http://<%= person.domain %>/blog/"><%= custom_t(:tunecore_blog) %></a>
          </td>
          <td>
            <a style="color: #4798DA; text-decoration: none;" href="http://www.facebook.com/TuneCore">
              <img width="23" border="0" height="20" alt="FACEBOOK" src="http://www.tunecore.com/images/email/tc_email_footer_facebook.gif" />
            </a>
          </td>
          <td>
            <a style="color: #4798DA; text-decoration: none;" href="http://twitter.com/tunecore">
              <img width="23" border="0" height="20" alt="TWITTER" src="http://www.tunecore.com/images/email/tc_email_footer_twitter.gif" />
            </a>
          </td>
        </tr>
				<tr><td colspan="8"><img src="http://www.elabs6.com/content/12347045/tc_email_footer_bottom.gif" width="640" height="30" border="0" alt="" style="display:block;"></td></tr>
</table>
			<table width="610" border="0" cellpadding="0" cellspacing="0" align="center" style="border:1px solid #787878; padding:15px;">
        <tr>
          <td style="border: 1px solid #CCCCCC; font-size: 12px; margin-top:30px; padding: 3px; width: 98%;">
            <p style="margin: 6px;"><%= custom_t(:questions) %> <a style="color: #4798DA; text-decoration: none;" href="http://<%= @person.domain %>/contact"><%= custom_t(:get_help).capitalize %></a></p>
            <p style="margin: 6px;">TuneCore, 63 Pearl Street, Box #256, Brooklyn, NY 11201</p>
          </td>
        </tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>
