<%= custom_t('.dear_header', {domain:@person.domain, name:@person.name}) %>

<% if @contains_album_renewals %>
<%= custom_t('.your_releases', {domain:@person.domain}) %>
<% end -%>
<h2 style="border-bottom: solid #ccc 1px; margin-top: 15px; font-size: 16px; font-weight: bold;"><%= custom_t(:renewal_details) %></h2>

<% unless @invoice.blank? -%>
	  <% @invoice.purchases.each do |purchase| -%>
			<p>
				<strong><%= purchase.product.name %></strong><br/>
				<% if purchase.renewal.present? && !purchase.purchased_artist.nil? %>
					<%= purchase.purchased_artist %> -
					<a href="http://<%= @person.domain %>/<%= renewal_purchase_link(purchase) %>">
						<%= purchase.purchased_name %> (ID <%= purchase.renewal.renewal_items.first.related_id %>)
					</a><br/>
				<% elsif purchase.renewal.present? && purchase.renewal.renewal_items.first.related_type == "Entitlement" -%>
					<a href="http://<%= @person.domain %>/<%= renewal_purchase_link(purchase) %>">
						<%= purchase.purchased_name %>
					</a><br/>
				<% else %>
						<%= purchase.purchased_name %><br/>
				<% end -%>

				<% if purchase.renewal %>
					<%= custom_t('.next_renewal_date') %>	<%= purchase.renewal.renewal_history.order(expires_at: :asc).last.expires_at.strftime('%B %d, %Y')	 %>
				<% end -%>
			</p>
	  <% end -%>
<% end -%>

<h2 style="border-bottom: solid #ccc 1px; margin-top: 15px; font-size: 16px; font-weight: bold;"><%= custom_t(:payment_details) %></h2>
<strong><%= custom_t(:order_number) %>: </strong> <%= @invoice.code %><br />
<strong><%= custom_t(:order_date) %>: </strong> <%= @invoice.settled_at.strftime('%B %d, %Y') %><br />
<strong><%= custom_t(:total) %>: </strong> <%= format_to_currency(@invoice.final_settlement_amount) %> (all amounts are in <%= @invoice.currency %>)<br />
<% unless @tunecore_balance_payments.blank? -%>
  <% @tunecore_balance_payments.each do |bp| -%>
    <strong><%= custom_t('.tunecore_balance_payment') %>:</strong> <%= format_to_currency(bp.debit.to_money(bp.currency))  %><br />
  <% end -%>
<% end -%>
<% unless @credit_card_payments.blank? -%>
  <% @credit_card_payments.each do |ccp| %>
    <strong><%= custom_t('.credit_card_payment') %>: </strong><%= format_to_currency(ccp.amount.to_money(ccp.currency)) %>  <%= custom_t('.transaction_id') %> <%= ccp.transaction_id %>  <%= "Card Number: #{ccp.stored_credit_card.cc_type} #{ccp.stored_credit_card.padded_cc_number}" if ccp.stored_credit_card %><br />
  <% end -%>
<% end -%>
<% unless @paypal_payments.blank? -%>
	<% @paypal_payments.each do |ppp| -%>
		<strong><%= custom_t('.paypal_payment') %>: </strong><%= format_to_currency(ppp.amount.to_money(ppp.currency)) %><br />
		<strong><%= custom_t('.transaction_id') %>: </strong><%= ppp.transaction_id %><br />
	<% end -%>
	<% if @stored_paypal_account %>
		<strong><%= custom_t('.paypal_account') %>: </strong><%= @stored_paypal_account.email %><br />
	<% end %>
<% end -%>
<br/>
<table cellpadding="4" style='color:#000;background:#e1e1e1;font-size:13px;'>
	<tr>
		<td>
<%= custom_t('.with_tuncore_content', {domain:@person.domain}) %>

</td></tr></table>
<br/>

<%= custom_t('.footer_content', {domain:@person.domain}) %>
