<table border='0' cellpadding='0' cellspacing='0' width='640'>
  <tr>
    <td align='left' style='border-collapse: collapse; margin: 10px 0; padding: 0 10px;' valign='top'>
      <table border='0' cellpadding='0' cellspacing='0'>
        <tr>
          <td align='left' style='border-collapse: collapse;' valign='top' width='640'>
            <% if @pre_expiration %>
              <p><%= custom_t('.following_releases_for_renewal') %>:</p>
            <% else %>
              <p><%= custom_t('.forgot_to_renew', { cart_url: cart_url(host: @person.domain) }) %></p>
            <% end %>

            <div id="RenewalsTable">
              <%= render :partial=>'renewals', locals: { renewals: @renewals, takedown: @takedown } %>

              <div style="margin: 0;">
                <% if @state == 'expired credit card' %>
                  <%= expired_credit_card_message(@person) %>
                <% elsif @state == 'autorenew off' %>

                  <%= link_to \
                    image_tag("http://#{@person.domain}/images/email/renew_now2.png", alt: "Renew Now"),
                    "#{add_renewals_to_cart_products_url(host: @person.domain, ids: @renewal_ids)}" %>

                <% elsif @state == 'incomplete' %>
                  <a href="<%= cart_url(host: @person.domain) %>">
                    <img alt="Renew Now" src="http://<%= @person.domain %>/images/email/renew_now2.png" />
                  </a>
                <% elsif @state == 'post-expiration' && !@person.plan_user? %>
                  <%= link_to(custom_t('.pay_now'), cart_url(host: @person.domain), class: 'btn btn-orange') %>
                <% end %>
              </div>
            </div>

            <div id="CentralMessage">
              <table border='0' cellpadding='0' cellspacing='2' style='text-align: left;' width='640'>
                <tr>
                  <td>
                    <% if @person.is_ca? || @person.is_uk? %>
                      <%= render partial: 'renewal_prices_update' %>
                    <% end %>

                    <% if @state == 'autorenew' %>
                      <p><%= custom_t('.auto_renew') %></p>
                    <% elsif @state == 'expired credit card' %>
                      <p><%= custom_t('.cc_has_expired') %></p>
                    <% elsif @state == 'incomplete' && !@person.one_time_payment_only?(@person) %>
                      <p><%= custom_t('.payment_preferences_incomplete') %></p>
                    <% elsif @state == 'autorenew off' %>
                      <p><%= custom_t('.auto_renew_off') %></p>
                    <% elsif @state == 'post-expiration' %>
                      <p><%= custom_t('.post_expiration') %>.</p>
                    <% end %>
                    <% if ['expired credit card', 'incomplete', 'autorenew off'].include? @state %>
                      <%= render partial: 'renew_now' %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </div>
            <br>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
