<table border='0' cellpadding='0' cellspacing='0' width='640'>
  <tr>
    <td align='left' style='border-collapse: collapse; margin: 10px 0; padding: 0 10px;' valign='top'>
      <table border='0' cellpadding='0' cellspacing='0'>
        <tr>
          <td align='left' style='border-collapse: collapse;' valign='top' width='640'>
            <p><%= custom_t('.content') %>:</p>

            <%= render partial: 'renewals', locals: { renewals: @renewals, takedown: @takedown } %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
