<h2><%= feature_section_title(rollout_country_website) %> Application Features</h1>
<table>
  <tbody>
    <tr>
      <td colspan="2">
          <%= form_tag admin_features_path do %>
              New Feature: <%= text_field_tag :new_feature, "", :size=>50 %>
            <%= hidden_field_tag :country_iso_code, feature_country_code %>
            <%= submit_tag "create", :class => "rollout" %>
          <% end %>
      </td>
    </tr>
    <tr>
      <th>Feature</th>
      <th>Status</th>
    </tr>
    <% features_list.each do |feature| %>
      <tr>
        <td class="rollout">
          <%= feature.name.to_s.gsub("_", " ").titleize %>
        </td>
        <td>
          <%= form_tag admin_feature_path(feature), method: :put do %>
            Rollout % <%= select_tag(:percentage, options_for_select((0..100).to_a, feature.percentage.to_i), :class=>"rollout") %>
            Users:    <%= text_field_tag :users, feature.users.join(","), :size=>50 %>
            <%= submit_tag "save", :class=>"rollout" %>
            <%= submit_tag "Remove", :class => "rollout remove-feature"%>
            <%= hidden_field_tag "removable_flag", valid_remove_request?(feature) %>
            <%= hidden_field_tag "feature_name", feature.name %>
            <%= hidden_field_tag :country_iso_code, feature_country_code %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="display:none;">
  <%= render :partial => "feature_flipper_modal_popup" %>
</div>
