<div id="modal-content" class="feature-popup" style="display:none;">
<br/>
  <h1><%="Please enter Jira ticket created for code deletion or 'mistake' if feature flag created by mistake"%></h1>
  <%= form_tag remove_admin_features_path do %>
    Jira Ticket Link:    <%= text_field_tag :ticket_link,nil, placeholder: 'https://tunecore.atlassian.net/browse/ticket-no',:size=>50 %>
    <%= hidden_field_tag "feature_name" %>
    <%= hidden_field_tag "country_iso_code" %>
    <br/>
    <br/>
    <%= submit_tag "save", :class=>"rollout" %>
  <% end %>
</div>
