<h2>Legacy Application Features</h1>
<% unless @features.empty? %>
  <table>
    <tbody>
      <tr>
        <th>Feature</th>
        <th>Restrict by user?</th>
      </tr>
      <% @features.each do |feature| %>
        <tr>
          <td><%= feature.name.titleize %> </td>
          <td><%= feature.restrict_by_user? ? "Yes" : "No" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

