<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/admin/feature" %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/feature_flipper.css" %>
<% end %>

<div class="flash"><%= flash[:notice] %></div>
<div class="disclaimer"><%= disclaimer_text %></div>

<%= render partial: "feature_flipper_list", locals: {
  features_list: @rollouts,
  rollout_country_website: "Global",
  feature_country_code: nil
} %>

<% @country_website_rollouts.each do |country_website_rollout| %>
  <%= render partial: "feature_flipper_list", locals: {
    features_list: country_website_rollout[:features].to_a,
    rollout_country_website: country_website_rollout[:country],
    feature_country_code: country_website_rollout[:country_code]
  } %>
<% end %>


<%= render partial: "legacy_features_list" %>
