<% content_for :external_javascript do %>
	<script type="text/javascript">
    jQuery(document).ready(function($){
      $('table.people').tablesorter({
        sortList: [[1,0]],
        headers: {
          4:{
            sorter: !1
          }
        }
      });
    });
	</script>
<% end %>
<h2>Admin :: YouTube Channel Administration</h2>
<fieldset class="horizontal">
  <%= form_tag admin_youtube_preferences_path, method: 'get' do %>
    <label for="term_type" style="float:none; padding-right:5px;">Search:</label>
    <%= select_tag :term_type, options_for_select([['Account ID', 'id'], ['Account E-mail', 'email'], ['Account Name', 'name']], params[:term_type]), style: 'margin-right: 10px;' %>
    <span id="text_search">
      <input type="text" name="term" id="term" placeholder="enter a keyword" value="<%= params[:term] %>">
    </span>
    <input type="submit" value="GO" name="commit">
  <% end %>
</fieldset>
<% if @people %>
  <% if @people.blank? %>
    <p>No results found</p>
  <% else %>
    <table class="people">
      <thead>
        <tr>
          <th><a href="#">Account ID</a></th>
          <th><a href="#">Account Name</a></th>
          <th><a href="#">Account Email</a></th>
          <th><a href="#">YouTube Channel ID</a></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @people.each do |p| %>
          <tr>
            <td><%= p.id %></td>
            <td><a href="<%= admin_person_path p %>"><%= p.name %></a></td>
            <td><%= p.email %></td>
            <% if p.youtube_preference and !p.youtube_preference.channel_id.blank? %>
              <td>
                <a href="//youtube.com/channel/<%= p.youtube_preference.channel_id %>" target="_blank"><%= p.youtube_preference.channel_id %></a>
              </td>
              <td><%= link_to 'Reset Channel', admin_youtube_preference_path(p.youtube_preference), method: :delete, data: { confirm: "Are you sure you want to reset the YouTube channel for #{p.name}?" } %></td>
            <% elsif p.youtube_preference %>
              <%= form_tag(admin_youtube_preference_path(p.youtube_preference), method: :put) do %>
                <td>
                  <%= text_field_tag(:channel_id, nil, placeholder: "Channel ID") %>
                </td>
                <td>
                  <%= submit_tag("Update Channel ID") %>
                </td>
              <% end %>
            <% else %>
              <td>--</td>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @people %>
  <% end %>
<% end %>
