<% content_for :external_javascript do %>
  <% if Rails.env.production? %>
    <%= javascript_include_tag "/javascripts/soundmanager2-nodebug-jsmin" %>
  <% else %>
    <%= javascript_include_tag "/javascripts/soundmanager2" %>
  <% end %>
  <%= javascript_include_tag "/javascripts/sm.js" %>
  <%= javascript_include_tag "/javascripts/app/sync/chart_favorites.js" %>
  <script type="text/javascript">
    jQuery(document).ready(function($){
        var sm = new TC.SM({
          cssSoundSelector: '.sm_sound2'
        });
    });
  </script>
<% end %>

<div id="sync" class="chart">

<header class="row">
  <div class="twelve columns">
    <h2 style="font-weight:bold;font-size:30px;color:#3B96CF;">Charts</h2>
  </div>
</header>

