  <section class="row">
    <div class="9 columns">
      <table id="results" data-quote="<%= new_sync_license_request_path %>" data-favorite="<%= toggle_favorite_sync_favorites_path %>">
        <thead>
          <tr>
            <th class="rank">Rank</th>
            <th class="fav">Fav</th>
            <th class="play">Play</th>
            <th class="song">Song</th>
            <th class="artist"><b>Artist</b><br />Composer</th>
            <th class="quote">Quote</th>
          </tr>
        </thead>
        <tbody>
          <% index = 1 %>
          <% @songs.each do |song| %>
            <tr>
              <td class="rank"><%= index %></td>
              <td class="fav"><a style="font-size: 1.15em; float: none; margin-right: 0;" class="favorite_link <% if song.is_favorite == "1" %>favorite<% end %>" href="/synch/favorites/toggle_favorite?song_id=<%= song.id %>"><i class="fa <% if song.is_favorite == "1" %>fa-star<% else %>fa-star-o<% end %>"></i></a></td>
              <td class="play">
                <span style="margin-bottom: -4px;" class="sm_sound2"
                  sound="<%= song.streaming_url %>"
                  sm_player-song_id="<%= song.id %>"
                  sm_player-artwork="<%= song.sync_artwork_url %>"
                  sm_player-title="<%= display_name(song) %>"
                  sm_player-artist_name="<%= song.artist_name %>"
                  sm_player-album="<%= song.album_name %>"
                  sm_player-is_favorite="<%= song.is_favorite %>"
                  sm_player-composers="<%= song.get_composer_names().join(", ") %>"
                  sm_player-label_copy="<%= song.get_label_copy() %>">
                </span>
              </td>
              <td class="song"><%= display_name(song) %></td>
              <td class="artist"><b><%= song.artist_name %></b><br /><%= song.get_composer_names().join(", ") %></td>
              <td class="quote"><a href="/synch/license_requests/new?song_id=<%= song.id %>" class="button">Get&nbsp;quote</a></td>
            </tr>
            <% index = index + 1 %>
          <% end %>
        </tbody>
      </table>
      <div id="player"></div>
    </div>
  </section>

</div>
<%= render :partial => "/shared/sm_player" %>
