<% content_for :external_javascript do %>
  <% if Rails.env.production? %>
    <%= javascript_include_tag "/javascripts/soundmanager2-nodebug-jsmin" %>
  <% else %>
    <%= javascript_include_tag "/javascripts/soundmanager2" %>
  <% end %>
  <%= javascript_include_tag "/javascripts/app/loading_dialog.js" %>
  <%= javascript_include_tag "/javascripts/swfobject2.2.js" %>
  <%= javascript_include_tag "/javascripts/sm.js" %>
  <%= javascript_include_tag "/javascripts/app/sync/chart_favorites.js" %>
  <script type="text/javascript">
    jQuery(document).ready(function($){
        var sm = new TC.SM({
          cssSoundSelector: '.sm_sound2'
        });
    });
  </script>
<% end %>

<header class="row collapse">
  <div class="twelve columns">
    <h2>Charts</h2>
    <p class="based_on">All charts are based on iTunes sales data.</p>
  </div>
</header>

<div id="sync" class="chart">

  <section class="sync_tabs">
    <div class="row collapse">
      <div class="twelve columns">
        <a href="week<% if params[:genre] %>?genre=<%= params[:genre] %><% end %>" class="<% if params[:action] == "week" %>active<% end %> loadingDialog">Last Week</a>
        <a href="all_time<% if params[:genre] %>?genre=<%= params[:genre] %><% end %>" class="<% if params[:action] == "all_time" %>active<% end %> loadingDialog">All Time</a>
      </div>
    </div>
  </section>

  <section class="sync_search row collapse">
    <div class="twelve columns">
      <ul class="genres">
        <li>Show top <%= @songs.length %> by genre:</li>
        <li><a href="<%= params[:action] %>" class="<% if @chart_genre == "All Genres" %>active<% end %> loadingDialog">All Genres</a></li>
        <% @chart_genres.each do |genre| %>
          <% link = CGI::escape(genre) %>
          <li><a href="<%= params[:action] %>?genre=<%= link %>" class="<% if genre == @chart_genre %>active<% end %> loadingDialog"><%= genre %></a></li>
        <% end %>
      </ul>
    </div>
  </section>

  <section class="row collapse">
    <div class="twelve columns">
      <table id="results" data-quote="<%= new_sync_license_request_path %>" data-favorite="<%= toggle_favorite_sync_favorites_path %>">
        <thead>
          <tr>
            <th class="rank">Rank</th>
            <th class="fav">Fav</th>
            <th class="play">Play</th>
            <th class="song">Song</th>
            <th class="artist"><b>Artist</b><br />Composer</th>
            <th class="quote">Quote</th>
          </tr>
        </thead>
        <tbody>
          <% index = 1 %>
          <% @songs.each do |song| %>
            <tr>
              <td class="rank"><%= index %></td>
              <td class="fav"><a style="font-size: 1.15em; float: none; margin-right: 0;" class="favorite_link <% if song.is_favorite == "1" %>favorite<% end %>" href="/sync/favorites/toggle_favorite?song_id=<%= song.id %>"><i class="fa <% if song.is_favorite == "1" %>fa-star<% else %>fa-star-o<% end %>"></i></a></td>
              <td class="play">
                <span style="margin-bottom: -4px;" class="sm_sound2"
                  sound="<%= song.streaming_url %>"
                  sm_player-song_id="<%= song.id %>"
                  sm_player-artwork="<%= song.sync_artwork_url %>"
                  sm_player-title="<%= display_name(song) %>"
                  sm_player-artist_name="<%= song.artist_name %>"
                  sm_player-album="<%= song.album_name %>"
                  sm_player-is_favorite="<%= song.is_favorite %>"
                  sm_player-composer_percentage="<%= song.muma_songs.first.mech_collect_share.to_f.round %>"
                  sm_player-composers="<%= song.get_composer_names().join(", ") %>"
                  sm_player-label_copy="<%= song.get_label_copy() %>">
                </span>
              </td>
              <td class="song"><%= display_name(song) %></td>
              <td class="artist"><b><%= song.artist_name %></b><br /><%= song.get_composer_names().join(", ") %></td>
              <td class="quote"><a href="/synch/license_requests/new?song_id=<%= song.id %>" class="button-interface">Get&nbsp;Quote</a></td>
            </tr>
            <% index = index + 1 %>
          <% end %>
        </tbody>
      </table>
      <div id="player"></div>
    </div>
  </section>

</div>
<%= render :partial => "/shared/sm_player" %>
