<%= render :partial => "charts_header" %>

  <section class="sync_search row">
    <div class="twelve columns">
      <h2><%= @chart_genre %></h2>
      <h3>Last Week</h3>
      <% if params[:genre] %>
        <a href="all_time?genre=<%= params[:genre] %>" class="button">View All Time</a>
      <% else %>
        <a href="all_time" class="button">View All Time</a>
      <% end %>
    </div>
  </section>

  <section class="sync_search row">
    <div class="twelve columns">
      <ul class="genres">
        <li><a href="week">All Genres</a></li>
        <% @chart_genres.each do |genre| %>
          <% if genre == @chart_genre %>
            <li><%= genre %></li>
          <% else %>
            <% link = URI::escape(genre) %>
            <li><a href="week?genre=<%= link %>"><%= genre %></a></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="twelve columns">
      <p class="based_on">Based on iTunes Sales in the last 7 days</p>
    </div>
  </section>

<%= render :partial => "charts_footer" %>