<section id="payment-batch-summary" class="grid_16">
  <dl>
    <dt>Batch Date:</dt><dd><%= fmt_country_date(@payment_batch.batch_date) %></dd>
    <dt>Total Amount:</dt> 
    <dd>
    <%= batch_transaction_format_money(@payment_batch.total_amount, @payment_batch) %>
    </dd>
    <dt>Balance Amount:</dt> 
    <dd>
    <%= batch_transaction_format_money(@payment_batch.balance_amount, @payment_batch) %>
    </dd>
    <dt>Balance Count %:</dt> <dd><%= number_to_percentage((@payment_batch.balance_count.to_f/@payment_batch.batch_count)*100, :precision => 1) %></dd>
    <dt>Braintree Amount:</dt> 
    <dd>
    <%= batch_transaction_format_money(@payment_batch.braintree_amount_total, @payment_batch) %>
    </dd>
    <dt>Braintree Count %:</dt> <dd><%= number_to_percentage((@payment_batch.braintree_count.to_f/@payment_batch.batch_count)*100, :precision => 1) %></dd>
    <dt>Paypal Amount:</dt> 
    <dd>
    <%= batch_transaction_format_money(@payment_batch.paypal_amount_total, @payment_batch) %> </dd>
    <dt>Paypal Count %:</dt> <dd><%= number_to_percentage((@payment_batch.paypal_count.to_f/@payment_batch.batch_count)*100, :precision => 1) %></dd>
    <dt>Returned to Customer Amount:</dt>
    <dd>
    <%= batch_transaction_format_money(@payment_batch.cannot_process_amount, @payment_batch) %>
    </dd>
    <dt>Returned to Customer Count %:</dt> <dd><%= number_to_percentage((@payment_batch.sent_back_count.to_f/@payment_batch.batch_count)*100, :precision => 1) %></dd>
  </dl>
</section>
