<tr class="<%=cycle('odd', 'even') -%>">
  <td><%= fmt_country_date(renewal_batch_transaction.batch_date) %></td>
  <td><%= renewal_batch_transaction.id %></td>
  <td><%= renewal_batch_transaction.batch_count %></td>
  <td>
    <%= batch_transaction_format_money(renewal_batch_transaction.total_amount, renewal_batch_transaction) %>
  </td>
  <td><%= renewal_batch_transaction.balance_count %></td>
  <td>
    <%= batch_transaction_format_money(renewal_batch_transaction.balance_amount, renewal_batch_transaction) %>
  </td>
  <td><%= renewal_batch_transaction.braintree_count %></td>
  <td>
    <%= batch_transaction_format_money(renewal_batch_transaction.braintree_amount_total, renewal_batch_transaction) %>
  </td>
  <td>
    <%= batch_transaction_format_money(renewal_batch_transaction.braintree_amount_successful, renewal_batch_transaction) %>
  </td>
  <td><%= renewal_batch_transaction.payments_os_count %></td>
  <td>
    <%= batch_transaction_format_money(renewal_batch_transaction.payments_os_amount_total, renewal_batch_transaction) %>
  </td>
  <td>
    <%= batch_transaction_format_money(renewal_batch_transaction.payments_os_amount_successful, renewal_batch_transaction) %>
  </td>
  <td><%= renewal_batch_transaction.paypal_count %></td>
  <td>
    <%= batch_transaction_format_money(renewal_batch_transaction.paypal_amount_total, renewal_batch_transaction) %>
  </td>
  <td>
    <%= batch_transaction_format_money(renewal_batch_transaction.paypal_amount_successful, renewal_batch_transaction) %>
  </td>
  <td><%= renewal_batch_transaction.sent_back_count %></td>
  <td>
    <%= batch_transaction_format_money(renewal_batch_transaction.cannot_process_amount, renewal_batch_transaction) %>
  </td>
  <td><%= link_to 'Details', admin_renewal_batch_transaction_path(renewal_batch_transaction)%>
</tr>
