<section class="searchlogic-search-section grid_16" >
  <%= form_for @search, :url=>admin_renewal_batch_transactions_path, :method=>:get do |f| %>
	<fieldset>
		<div class="search-left-side">
			<ul>
				<li>
					<%= label :per_page, "Results per page"%>
					<%= select_tag :per_page, options_for_select([[@per_page,@per_page],['50','50'],['100','100'],['500','500']], params[:per_page]) %>
				</li>
			</ul>
			<ul>
			  <%= f.text_field :id, :label => "Batch ID", :class => 'tiny_full' %>
			</ul>
		</div>
		<div class="search-right-side">
		  <ul class="dual-fields" style="padding-top: 20px">
  			<%= f.text_field :batch_date_min, :class => 'tiny date-box', :label => "Date Range", :li_class=>'dual' %>
				<%= f.text_field :batch_date_max, :class => 'tiny date-box', :label => "to", :li_class=>'dual second' %>
			</ul>
		</div>
		<ul class="submit-cancel">
			<%= f.submit "Search" %> 
			<li class="reset">
			  <%= link_to 'Reset', admin_renewal_batch_transactions_path, :class => "cancel" %>
			</li>
		</ul>
	</fieldset>
	<% end %>
</section>
<% content_for :external_javascript do -%>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <%= javascript_include_tag "/javascripts/app/admin_transactions" %>
<% end -%>
