<tr class="<%=cycle('odd', 'even') -%>">
  <td><%= fmt_country_datetime(transaction_detail.created_at) %></td>
  <%= display_transaction_person(transaction_detail) %>
  <td><%= invoice_admin_link(transaction_detail.invoice_id) %></td>
  <td><%= display_transaction_status(transaction_detail) %>
  <td><%= transaction_detail.matching_type %></td>
  <td class="right">
    <%= batch_transaction_format_money(transaction_detail.amount, @payment_batch) %>
  </td>
  <td><%= display_invoice_settlement_date(transaction_detail.invoice) %></td>
</tr>
