<section class="searchlogic-search-section grid_16" >
  <%= form_for @search, :url=>admin_renewal_batch_transaction_path(@payment_batch), :method=>:get do |f| %>
	<fieldset>
		<div class="search-left-side">
			<ul>
				<li>
					<%= label_tag :per_page, "Results per page"%>
					<%= select_tag :per_page, options_for_select([[@per_page,@per_page],['50','50'],['100','100'],['500','500']], params[:per_page]) %>
				</li>
			</ul>
			<ul>
			  <%= f.select :matching_type, options_for_transaction_types, :label => "Transaction Type" %> 
			</ul>
		</div>
		<div class="search-right-side">
		  <ul>
	      <%= f.text_field :invoice_id, :label => "Order ID", :class => 'tiny_full'%>
		  </ul>
		</div>
		<ul class="submit-cancel">
			<%= f.submit "Search" %> 
			<li class="reset">
			  <%= link_to 'Reset', admin_renewal_batch_transaction_path(@payment_batch), :class => "cancel" %>
			</li>
		</ul>
	</fieldset>
	<% end %>
</section>
<% content_for :external_javascript do -%>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <%= javascript_include_tag "/javascripts/app/admin_transactions" %>
<% end -%>
