<%= render(:partial => 'admin/people/mini_person', :locals => {:person => @person_shown})  if @person_page %>

<style type="text/css">
table#batch-transactions{
	width: 940px;
}
#batch-transactions td, #batch-transactions th{
	font-size: 12px;
	padding: 0px;
}
#batch-transactions th{
	padding-top: 5px;
	font-size: 10px;
}
</style>
<section id="renewal-batch-transactions">
	<h2 class='grid_16'>Renewal Batch Transactions</h2>
	<%= render :partial=> 'search_form' %>
		<section class="grid_16" >
			<table class="non_bold" id="batch-transactions">
			  <thead>
			    <tr>
			      <%#- Add order %>
			      <th>Batch Date</th>
			      <th>Batch ID</th>
			      <th>Invoice Count</th>
			      <th>Total Amount</th>
			      <th>Balance Count</th>
			      <th>Balance Amount</th>
			      <th>Braintree Count</th>
			      <th>Braintree Amount</th>
			      <th>Braintree Successful</th>
			      <th>PaymentsOS Count</th>
			      <th>PaymentsOS Amount</th>
			      <th>PaymentsOS Successful</th>
			      <th>Paypal Count</th>
			      <th>Paypal Amount</th>
			      <th>Paypal Successful</th>
			      <th>Returned to Customer Count</th>
			      <th>Returned to Customer Amount</th>
			      <th></th>
			    </tr>
			  </thead>
			  <tbody id="renewal-batch-transactions-section">
			    <% if !@renewal_batch_transactions.empty? %>
			      <%= render :partial => 'renewal_batch_transaction', :collection => @renewal_batch_transactions %>
			    <% else %>
			      <tr><td colspan="13">There are no renewal batch transactions that fit this criteria</td></tr>
			    <% end -%>
			  </tbody>
			</table>
		</section>
		<div class="jump-links">
		  <%= @renewal_batch_transactions.total_entries %> record(s) found
		</div>
		<% if @renewal_batch_transactions.total_entries > @renewal_batch_transactions.per_page %>
			<div class="jump-links">
				Jump to page: 
				<%= will_paginate( @renewal_batch_transactions, :params => {:term => params[:term]}) %>
			</div>
		<% end %>
</section>
<% content_for :external_javascript do -%>
	<%= javascript_include_tag "/javascripts/app/select_all" %>
	<script type="text/javascript">
		jQuery(document).ready(function(){
		  new SelectAllButton('#select_all', '#renewal-batch-transactions-section');
		});
	</script>
<% end -%>
