<section id="renewal-batch-transaction-details">
  <h2 class='grid_16'>Renewal Batch Transaction ID# <%= @payment_batch.id %></h2>
	<%= render :partial => 'payment_batch_summary' %>
	<%= render :partial => 'transaction_detail_search_form' %>
		<section class="grid_16" >
			<table class="non_bold" id="batch-transaction-details">
			  <thead>
			    <tr>
			      <th>Date</th>
			      <th>Person Name</th>
			      <th>Person ID</th>
			      <th>Order ID</th>
			      <th>Status</th>
			      <th>Transaction Type</th>
			      <th>Amount</th>
			      <th>Order Settlement Date</th>
			    </tr>
			  </thead>
			  <tbody id="renewal-batch-transaction-details-section">
			    <% if !@transaction_details.empty? %>
			      <%= render :partial => 'transaction_detail', :collection => @transaction_details %>
			    <% else %>
			      <tr><td colspan="13">There are no renewal batch transactions that fit this criteria</td></tr>
			    <% end -%>
			  </tbody>
			</table>
		</section>
		<div class="jump-links">
		  <%= @transaction_details.total_entries %> record(s) found
		</div>
		<% if @transaction_details.total_entries > @transaction_details.per_page %>
			<div class="jump-links">
				Jump to page: 
				<%= will_paginate( @transaction_details, :params => {:term => params[:term]}) %>
			</div>
		<% end %>
</section>