<table border="0" cellpadding="0" cellspacing="0" width="640">
  <tr>
    <td align="left" style="border-collapse: collapse; margin: 10px 0; padding: 0 10px;" valign="top">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="left" style="border-collapse: collapse;" valign="top" width="640">
            <%= content_for :greeting do %>
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="left" width="640" style="padding: 10px;">
                  </td>
                </tr>
              </table>
            <% end %>

            <p><%= custom_t('two_factor_authentication.enrollment_mailer.send_enrollment_mailer.thanks_for_signing_up_for_tfa') %></p>
            <p>
              <%= custom_t('two_factor_authentication.enrollment_mailer.send_enrollment_mailer.did_not_enable') %>
            </p>

            <%= content_for :signature do %>
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="left" width="640" style="padding: 10px;">
                    <p>
                      <%= custom_t('two_factor_authentication.enrollment_mailer.send_enrollment_mailer.thanks_for_being_a_customer') %>
                    </p>
                  </td>
                </tr>
              </table>
            <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
