<% content_for :greeting do %>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" style="padding: 10px" width="640">
        <p><%= custom_t(@hello_artist_key) %></p>
      </td>
    </tr>
  </table>
<% end %>

<table border="0" cellpadding="0" cellspacing="0" width="640">
  <tr>
    <td align="left" style="border-collapse: collapse; margin: 10px 0; padding: 0 10px;" valign="top">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="left" style="border-collapse: collapse;" valign="top" width="640">
            <p><%= custom_t(@reset_password_key) %></p>
            <p>
            <a href="<%= @url%>"><%= @url%></a>
            </p>
            <%= custom_t(@clicking_key) %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
