import React from 'react';
import ReactDOM from 'react-dom'
import <%= class_name %>Container from './components/<%= class_name %>Container'
import { Provider } from 'react-redux';
import configureStore from './store/configureStore';

const store = configureStore();

ReactDOM.render(
  <Provider store={store}>
    <<%= class_name %>Container/>
  </Provider>,
  document.getElementById("<%= folder_name %>_app")
);
