import React                  from 'react';
import { connect }            from 'react-redux';

class <%= class_name %>Container extends React.Component {
  render() {
    return (
      <div>Hello <%= class_name %></div>
    )
  }
}

function mapStateToProps(storeState, componentProps) {
  return {};
}

export default connect(mapStateToProps)(<%= class_name %>Container);
