import { normalize<%= @reducer_variable.pluralize.camelize %> } from "../schema.js";

let <%= @reducer_variable.pluralize %> = normalize<%= @reducer_variable.pluralize.camelize %>(JSON.parse(document.getElementById("<%= folder_name %>_app").dataset.<%= @reducer_variable.pluralize %>));

export default <%= @reducer_variable.pluralize %>;
