<%- reducer_names.map do |reducer_name| %>import <%= reducer_name.pluralize.camelize(:lower) %> from "./initialStates/<%= reducer_name.pluralize.camelize(:lower) %>";
<% end %>

const initialState = {
<% reducer_names.each_with_index do |reducer_name, index| %>  <%= reducer_name.pluralize.camelize(:lower) %><%= index < reducer_names.length - 1 ? "," : "\n};" %>
<% end %>

export default initialState;
