import {combineReducers}  from 'redux';
import <%= @reducer_variable.pluralize.camelize(:lower) %> from "./<%= @reducer_variable.pluralize.camelize(:lower) %>Reducer";

const rootReducer = combineReducers({
  <%= @reducer_variable.pluralize.camelize(:lower) %>
});

export default rootReducer;
