import { normalize, schema, arrayOf } from 'normalizr';

<% reducer_names.each do |reducer_name| %>const <%= reducer_name.singularize.camelize(:lower) %> = new schema.Entity("<%= reducer_name.pluralize.camelize(:lower) %>");
<% end %>

<% reducer_names.each do |reducer_name| %>export const normalize<%= reducer_name.pluralize.camelize %>  = originalData => normalize(originalData, [ <%= reducer_name.singularize.camelize(:lower) %> ]);
<% end %>
