import React from "react";
import Enzyme, { mount } from "enzyme";
import Adapter from 'enzyme-adapter-react-16';
import <%= class_name %>Container from "../../../<%= folder_name %>/components/SongsContainer";
import createStore from '../helpers/store';
import { Provider } from 'react-redux';
import { doAThing } from "../../../<%= folder_name %>/actions/widgetActions";

Enzyme.configure({ adapter: new Adapter() });

describe("widgets", () => {
  it("does a thing", () => {
    const store = createStore();
    const app = mount(
      <Provider store={store}>
        <<%= class_name %>Container/>
      </Provider>
    );

    expect(true).toEq(true);
  });
});
