<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/services_terms.css" %>
<% end %>

<main class="content">
  <header class="row">
    <div class="twelve columns">
      <h1>TuneCore Terms &amp; Conditions</h1>
    </div>
  </header>

  <div class="row pod">
    <div class="eight columns">
      <div class="pod-body">
        <%= form_with url: setup_ytm_youtube_monetizations_path, method: :post do %>
          <input type="hidden" name="ytm_product_id" value="<%= @ytm_product.id.to_s %>">
          <input type="hidden" name="product_type" value="youtube-money">
          <p><strong>We can continue to process your YouTube Sound Recording Revenue service request after you read the following Terms &amp; Conditions and <%= t(:ele_check) %> the acknowledgement box. Thanks.</strong></p>
          <div style="float: right;"><a href="/youtube_monetizations/tos" class="lightbox">Print Terms &amp; Conditions</a></div>
          <div id="tos">
            <%= render :partial => 'youtube_monetizations/monetization_terms' %>
          </div>
          <p>As per the Terms &amp; Conditions you have read and agreed to, to the best of your knowledge, all the tracks you are requesting for <%= t(:monetiz) %>ation:</p>
          <ol>
            <li>Do not contain public domain clips or speeches</li>
            <li>Do not contain any audio library samples, sound effects, or production loops (such as GarageBand loops)</li>
            <li>Do not contain any third party content that you do not have exclusively licensed (such as samples you do not have exclusively licensed)</li>
            <li>Are not karaoke versions or sound-alike cover versions</li>
            <li>Are not part of a compilation/various artists&rsquo; albums</li>
            <li>Are not tracks that you have opted in for YouTube monetization by another distributor</li>
            <li>Are not tracks you have previously licensed to a third party, on an exclusive basis</li>
          </ol>
          <p><span class="check-bg"><input type="checkbox" id="agree_to_terms" name="agree_to_terms" value="1"></span>
            <label for="agree_to_terms">Yes I have read and understand the TuneCore YouTube Sound Recording Revenue Terms &amp; Conditions.</label></p>
          <div class="agree-note">
            <p>After agreeing to the terms, you will be taken to your shopping cart to pay the one-time <%= money_to_currency(@youtube_price, precision: 0) %> setup fee.</p>
            <p>You keep 80% of the YouTube revenue we collect for you, and our commission is 20% to find, collect, and deposit your revenue in your TuneCore account and to handle rights disputes.</p>
          </div>
          <input type="submit" name="proceed" class="button-callout" id="proceed_btn" value="Proceed">
          <p class="faq"><a href="/index/youtube_help">Frequently Asked Questions</a></p>
        <% end %>
      </div>
    </div>
  </div>
</main>
