<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/youtube_monetizations.css" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/youtube_preferences" %>
  <%= javascript_include_tag "https://apis.google.com/js/client.js?onload=onLoadYouTube" %>
<% end %>

<main class="content">
  <header class="row alternate2">
    <div class="twelve columns">
      <h1><%= custom_t('.ytsr_dashboard') %></h1>
    </div>
  </header>

  <div class="row">
    <div class="dashboard">
      <div class="nine columns">
        <section class="your_songs <% unless @monetized_tracks.count > 0 %>undone emphasize<% end %>">
          <header>
            <h2><%= custom_t('.your_tracks')%></h2>
          </header>
          <div class="pod-body row collapse">
            <div class="three columns">
              <span class="section_ico"></span>
            </div>
            <div class="nine columns">
              <div class="stats-holder">
                <div class="stats-pod stats-total">
                  <span class="stats-number"><%= @total_monetizable_songs.count %></span><br>
                  <span class="stats-type"><%= custom_t('.total_tracks') %></span>
                </div>
                <div class="stats-pod stats-monetized">
                  <span class="stats-number"><%= @monetized_tracks.count %></span><br>
                  <span class="stats-type"> <%= custom_t('.tracks') %><br> <%= t('.monetized') %></span>
                </div>
                <% if @ineligible_tracks.count > 0 %>
                  <div class="stats-pod stats-ineligible">
                    <span class="stats-number"><%= @ineligible_tracks.count %></span><br>
                    <span class="stats-type"><%= custom_t('.tracks_opted_out') %></span>
                  </div>
                <% end %>
              </div>
              <%= link_to custom_t('.manage_tracks'), ytm_tracks_path, class: "button-callout" %>
            </div>
          </div>
        </section>

        <section id="channel" class="your_channel <% if @youtube_preference.nil? || !@youtube_preference.channel_id.present? %>undone emphasize<% end %>">
          <header>
            <h2><%= custom_t('.your_channel') %></h2>
            <a href="<%= youtube_preferences_path %>"><%= custom_t('.edit') %></a>
          </header>
          <div class="pod-body row collapse">
            <% if @youtube_preference.nil? || @youtube_preference.channel_id.blank? %>
              <div id="channel_ico" class="three columns">
                <span class="section_ico"></span>
              </div>
              <div id="channel_body" class="nine columns">
                <p><%= custom_t('.opt_out_notice') %></p>
                <a href="<%= youtube_preferences_path %>" class="button-callout"><%= custom_t('.set_channel_preferences') %></a>
              </div>
            <% else %>
              <input type="hidden" class="hide" value="<%= @youtube_preference.channel_id %>" id="channel_id">
              <div class="row collapse step text-center" style="padding-top: 15px;"><img src="/images/disco-loader.gif"></div>
              <div class="row collapse step authed hide box box-yt">
                <div class="state <%= @youtube_preference.whitelist ? 'undone' : '' %>">
                  <% if @youtube_preference.whitelist %>
                    <p><%= custom_t(".whitelisted_channel") %></p>
                  <% else %>
                    <p><strong><%= custom_t(".tracks_are_monetized")%></strong></p>
                  <% end %>
                  <a href="<%= youtube_preferences_path %>"><%= custom_t('.edit')%></a></p>
                </div>
                <div class="title">
                  <h3><span></span></h3>
                  <% if @youtube_preference.channel_id.blank? %><a href="#" class="link google-logout"><%= custom_t(".use_another_account")%></a><% end %>
                </div>
                <div class="row collapse">
                  <div class="columns two thumb"></div>
                  <div class="columns ten content">
                    <p></p>
                    <dl>
                      <dt>Videos:</dt>
                      <dd class="stats-video"></dd>
                      <dt>Subscribers:</dt>
                      <dd class="stats-subscribers"></dd>
                      <dt>Views:</dt>
                      <dd class="stats-views"></dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="row collapse step hide box box-alert configure-alert">
                <div class="columns one">
                  <img src="/images/alert.png">
                </div>
                <div class="columns eleven">
                  <p><%= custom_t(".need_to_configure") %></p>
                </div>
              </div>
            <% end %>
          </div>
        </section>
      </div>
      <% if @has_royalty %>
        <div class="three columns">
          <section class="your_revenue">
            <header>
              <h2><%= custom_t(".your_revenue")%></h2>
            </header>
            <div class="pod-body row collapse">
              <div class="twelve columns">
                <span class="<%= currency_image_class %>"></span>
              </div>
              <div class="twelve columns">
                <p><%= custom_t(".ytsr_report")%></p>
                <a href="/youtube_royalties/release_report" class="button-callout"><%= custom_t('.revenue_reports') %></a>
              </div>
          </section>
        </div>
      <% end %>
    </div>
    <% if @unsent_songs.any? %>
      <aside class="three columns">
        <div class="ytm-notice notice">
          <%=custom_t('.submit_tracks_alert_box_text') %>
          <a href="/ytm_tracks" class="button-callout"><%= custom_t('.submit_tracks_button')%></a>
        </div>
      </aside>
    <% else %>
      <aside class="three columns">
        <div class="notice">
          <p><%= custom_t('.come_back_notice') %></p>
        </div>
      </aside>
    <% end %>
  </div>
</main>
