<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px">
      <%= custom_t('.greeting', { client_name: @client_name }) %>
    <td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px">
      <%= custom_t('.opening') %>
    <td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px">
      <%= custom_t('.explain_pro') %>
    <td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px">
      <%= custom_t('.bmi_default') %>
    <td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px">
      <%= custom_t('.register_your_songs') %>
    <td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px">
      <%= custom_t('.send_us_your_cae') %>
    <td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px">
      <%= custom_t('.sign_off') %>
    <td>
  </tr>
</table>
