<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px">
      <%= custom_t('.greeting', { client_name: @client_name }) %>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px">
      <%= custom_t('.opening') %>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px">
      <strong><%= custom_t('.sync') %></strong>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px">
      <%= custom_t('.upload') %>: "<%= custom_t('.format_upload') %>".
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px">
      <%= custom_t('.trouble_uploading') %>
    </td>
  </tr>
  <tr></tr>
  <tr>
    <td align="left" width="640" style="padding: 10px 10px 10px">
      <%= custom_t('.thanks') %>,
      <br/>
      <%= custom_t('.sign_off') %>
    </td>
  </tr>  
</table>
