<%= content_for :greeting do %>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" width="640" style="padding: 10px;">
        <p><%= custom_t(".greeting", name: @name) %></p>
      </td>
    </tr>
  </table>
<% end %>

<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <%= custom_t(".three_year_notice", current_date: @current_date, balance: @balance) %>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <%= custom_t(".unclaimed_property_message") %>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <%= custom_t(".claim_your_balance",
                   balance_history_url: @balance_history_url) %>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <%= custom_t(".two_weeks_notice", cutoff_date: @cutoff_date) %>
    </td>
  </tr>
</table>
