<style type="text/css" media="screen">
body {font-size:100%;background:#FFFFFF;width:1200px;}
div#email_body {
  border: 1px solid #CCCCCC;
  float:left;
  padding:0px;
  margin-bottom:20px;
}
body {
	color: #666666;
	font-family: proxima-nova,sans-serif;
	font-size:0.9em;
	line-height:1;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}table {
	clear:both;
	margin: 0px 0px 18px 0px;
	padding: 0;
	}
table th,
table td {
	width:60px;
	padding: 10px 20px;
	text-align: right;
	border-bottom: 1px solid #ccc;
	vertical-align:bottom;
	}
table th {
	color: #666666;
	text-align:right;
	border-width: 2px;
	}
table td:first-child {
	width:150px;
	text-align:left;
}
table td {
	color: #666;
	}
table tr:last-child th,
table tr:last-child td {
	border-bottom: none;
	}
table tbody tr:nth-child(odd) {
	background: #eee;
	}
table th:first-child {
	color:#2790AE;
	text-align:left;
}
div.mod h3 {
	float: left;
	margin: 18px 0px 0px 0px;
	padding: 6px 10px;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: white;
	background: #A1CF32;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
a:link, a:visited {
	color: #2790AE;
	text-decoration: none;
	outline: none;
}
ul.stats-tabs {
	list-style:none;
	margin-top:30px;
}
ul.stats-tabs li {
	float: left;
	margin: 0 10px 0 0;
	padding: 0 10px 0 0;
	border-right: 1px solid #ccc;
	}
ul.stats-tabs li:last-child {
	margin: 0;
	padding: 0;
	border: none;
	}
ul.stats-tabs li a {
	display: block;
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	}
ul.stats-tabs li a span {
	display: block;
	margin-top: 2px;
	font-size: .8em;
	font-weight: normal;
	}
p, h1, h2 {
	margin-left:10px;
}
</style>

<h2>Tunecore <%= @batch.country_website.country %>: <%= @batch.batch_date.to_s(:long) %>, Batch #<%= @batch.id %></h2>

<div class="mod">

	<ul class="stats-tabs">
		<li><a href="#"><%= @batch_summary.renewals_due %> <span>Subscriptions Due</span></a></li>
		<li><a href="#"><%= @batch_summary.renewed_total %> <span>Renewed</span></a></li>
		<li><a href="#"><%= number_to_percentage(@batch_summary.total_percent(@batch_summary.renewed_total), :precision=>0) %> <span>Renewal Rate</span></a></li>
		<li><a href="#"><%= format_to_currency(Money.new(@batch_summary.total_revenue, @batch.currency)) %> <span>Total Revenue</span></a></li>
	</ul>

	<br clear="both">
	<br clear="both">

	<h3>Revenue</h3>
	<table>
	  <thead>
			<th></th>
			<th>Today</th>
			<th>In&nbsp;Advance</th>
			<th>Total</th>
		</thead>
	  <tbody>
	    <tr>
	      <td>Albums</td>
	      <td><%= format_to_currency(Money.new(@batch_summary.albums_revenue_in_batch, @batch.currency)) %></td>
	      <td><%= format_to_currency(Money.new(@batch_summary.albums_revenue_in_advance, @batch.currency)) %></td>
	      <td><%= format_to_currency(Money.new(@batch_summary.total_albums_revenue, @batch.currency)) %></td>
	    </tr>
	    <tr>
	      <td>Singles</td>
	      <td><%= format_to_currency(Money.new(@batch_summary.singles_revenue_in_batch, @batch.currency)) %></td>
	      <td><%= format_to_currency(Money.new(@batch_summary.singles_revenue_in_advance, @batch.currency)) %></td>
	      <td><%= format_to_currency(Money.new(@batch_summary.total_singles_revenue, @batch.currency)) %></td>
	    </tr>
	    <tr>
	      <td>Ringtones</td>
	      <td><%= format_to_currency(Money.new(@batch_summary.ringtones_revenue_in_batch, @batch.currency)) %></td>
	      <td><%= format_to_currency(Money.new(@batch_summary.ringtones_revenue_in_advance, @batch.currency)) %></td>
	      <td><%= format_to_currency(Money.new(@batch_summary.total_ringtones_revenue, @batch.currency)) %></td>
	    </tr>
	    <tr>
	      <td><b>Total</b></td>
	      <td><%= format_to_currency(Money.new(@batch_summary.total_revenue_in_batch, @batch.currency)) %></td>
	      <td><%= format_to_currency(Money.new(@batch_summary.total_revenue_in_advance, @batch.currency)) %></td>
	      <td><strong><%= format_to_currency(Money.new(@batch_summary.total_revenue, @batch.currency)) %></strong></td>
	    </tr>
	    <tr>
	      <td><strong>Open Invoices</strong></td>
	      <td></td>
	      <td></td>
	      <td><strong><%= format_to_currency(Money.new(@batch_summary.outstanding_revenue, @batch.currency)) %></strong></td>
	    </tr>
	  </tbody>
	</table>

	<h3>By Payment Type</h3>
	<table>
	  <thead>
	    <th><b>Auto-Renewal</b></th>
	    <th>Invoices</th>
	    <th>Total <%= MONEY_CONFIG[@batch.currency][:unit] if MONEY_CONFIG[@batch.currency] %></th>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Balance</td>
	      <td><%= @batch_summary.auto_renewed_by_balance %></td>
	      <td><%= format_to_currency(@batch_summary.auto_renewed_by_balance_revenue.to_f.to_money(@batch.currency)) %></td>
	    </tr>
	    <tr>
	      <td>Credit Card</td>
	      <td><%= @batch_summary.auto_renewed_by_credit_card %></td>
	      <td><%= format_to_currency(@batch_summary.auto_renewed_by_credit_card_revenue.to_f.to_money(@batch.currency)) %></td>
	    </tr>
	    <tr>
	      <td>Paypal</td>
	      <td><%= @batch_summary.auto_renewed_by_paypal %></td>
	      <td><%= format_to_currency(@batch_summary.auto_renewed_by_paypal_revenue.to_f.to_money(@batch.currency)) %></td>
	    </tr>
	  </tbody>
	</table>

	<table>
		<thead>
		  <th><b>Paid in Advance</b></th>
		  <th>Total Invoices</th>
			<th></th>
			<th></th>
		  <th>Total <%= MONEY_CONFIG[@batch.currency][:unit] if MONEY_CONFIG[@batch.currency]%></th>
		</thead>
		<tbody>
	    <tr>
	      <td>Balance</td>
	      <td><%= @batch_summary.in_advance_balance_only %></td>
				<td></td>
				<td></td>
	      <td><%= format_to_currency(Money.new(@batch_summary.in_advance_balance_only_revenue, @batch.currency)) %></td>
	    </tr>

	    <tr>
	      <td>Balance&nbsp;and&nbsp;Credit&nbsp;Card</td>
	      <td><%= @batch_summary.in_advance_balance_and_credit_card %></td>
				<td></td>
				<td></td>
	      <td><%= format_to_currency(Money.new(@batch_summary.in_advance_balance_and_credit_card_revenue, @batch.currency)) %></td>
	    </tr>

	    <tr>
	      <td>Balance and Paypal</td>
	      <td><%= @batch_summary.in_advance_balance_and_paypal %></td>
				<td></td>
				<td></td>
	      <td><%= format_to_currency(Money.new(@batch_summary.in_advance_balance_and_paypal_revenue, @batch.currency)) %></td>
	    </tr>

	    <tr>
	      <td>Credit card</td>
	      <td><%= @batch_summary.in_advance_credit_card_only %></td>
				<td></td>
				<td></td>
	      <td><%= format_to_currency(Money.new(@batch_summary.in_advance_credit_card_only_revenue, @batch.currency)) %></td>
	    </tr>

	    <tr>
	      <td>Paypal</td>
	      <td><%= @batch_summary.in_advance_paypal_only %></td>
				<td></td>
				<td></td>
	      <td><%= format_to_currency(Money.new(@batch_summary.in_advance_paypal_only_revenue, @batch.currency)) %></td>
	    </tr>
	  </tbody>
	</table>

	<h3>Subscription Status</h3>
	<table>
	  <thead>
			<th>Renewed</th>
			<th>#&nbsp;of&nbsp;subs</th>
			<th>%&nbsp;of&nbsp;total</th>
		</thead>
	  <tbody>
	    <tr>
	      <td>Auto-renewed</td>
	      <td><%= @batch_summary.renewed_in_batch %></td>
	      <td><%= number_to_percentage(@batch_summary.total_percent(@batch_summary.renewed_in_batch), :precision=>0) %></td>
	    </tr>
	    <tr>
	      <td>Paid in advance</td>
	      <td><%= @batch_summary.paid_in_advance %></td>
	      <td><%= number_to_percentage(@batch_summary.total_percent(@batch_summary.paid_in_advance), :precision=>0) %></td>
	    </tr>
	    <tr>
	      <td><b>Total</b></td>
	      <td><strong><%= @batch_summary.renewed_total %></strong></td>
	      <td><%= number_to_percentage(@batch_summary.total_percent(@batch_summary.renewed_total), :precision=>0) %></td>
	    </tr>
	  </tbody>
	</table>

	<table>
	  <thead>
			<th>Not Renewed</th>
			<th>#&nbsp;of&nbsp;subs</th>
			<th>%&nbsp;of&nbsp;total</th>
		</thead>
	  <tbody>
	    <tr>
	      <td>Canceled</td>
	      <td><%= @batch_summary.not_renewed_canceled %></td>
	      <td><%= number_to_percentage(@batch_summary.total_percent(@batch_summary.not_renewed_canceled), :precision=>0) %></td>
	    </tr>
	    <tr>
	      <td>Taken Down</td>
	      <td><%= @batch_summary.not_renewed_takendown %></td>
	      <td><%= number_to_percentage(@batch_summary.total_percent(@batch_summary.not_renewed_takendown), :precision=>0) %></td>
	    </tr>
	    <tr>
	      <td>In save period</td>
	      <td><%= @batch_summary.not_renewed_in_grace %></td>
	      <td><%= number_to_percentage(@batch_summary.total_percent(@batch_summary.not_renewed_in_grace), :precision=>0) %></td>
	    </tr>
	    <tr>
	      <td><b>Total</b></td>
	      <td><strong><%= @batch_summary.not_renewed_total %></strong></td>
	      <td><%= number_to_percentage(@batch_summary.total_percent(@batch_summary.not_renewed_total), :precision=>0) %></td>
	    </tr>
	  </tbody>
	</table>

	<h3>Subscriptions Pool</h3>
	<table>
	  <thead>
			<th>By Release Type</th>
			<th></th>
			<th></th>
		</thead>
	  <tbody>
	    <% @batch_summary.totals_by_release_type.each do |release_type, release_data| %>
	      <tr>
	        <td><%= release_type.to_s.capitalize %></td>
	        <td><%= release_data[:total_count] %></td>
	        <td><%= number_to_percentage(@batch_summary.total_percent(release_data[:total_count]), :precision=>0) %></td>
	      </tr>
	    <% end %>
	    <tr>
	      <td><b>Total</b></td>
	      <td><strong><%= @batch_summary.renewals_due %></strong></td>
	      <td>100%</td>
	    </tr>
	  </tbody>
	</table>

	<!-- By Release Type -->
	<% [:Album,:Single,:Ringtone].each do |release_type| %>
		<% release_data = @batch_summary.totals_by_release_type[release_type] %>

	  <h3><%= release_type.to_s.capitalize %></h3>
		<table>
	    <thead>
	      <th>Renewed</th>
	      <th>#&nbsp;of&nbsp;subs</th>
	      <th>%&nbsp;of&nbsp;<%= release_type.to_s %>s</th>
	    </thead>
	    <tbody>
	      <tr>
	        <td>Auto-renewed</td>
	        <td><%= release_data[:in_batch_count] %></td>
	        <td><%= number_to_percentage(@batch_summary.renewed_release_percent(release_data[:in_batch_count], release_type), :precision=>0) %></td>
	      </tr>
	      <tr>
	        <td>Paid In Advance</td>
	        <td><%= release_data[:in_advance_count] %></td>
	        <td><%= number_to_percentage(@batch_summary.renewed_release_percent(release_data[:in_advance_count], release_type), :precision=>0) %></td>
	      </tr>
	      <tr>
	        <td><strong>Total</strong></td>
	        <td><strong><%= release_data[:renewed_total_count] %></strong></td>
	        <td><%= number_to_percentage(@batch_summary.renewed_release_percent(release_data[:renewed_total_count], release_type), :precision=>0) %></td>
	      </tr>
			</tbody>
	  </table>
		<table>
	    <thead>
	      <th>Not&nbsp;Renewed</th>
	      <th></th>
	      <th></th>
	    </thead>
	    <tbody>
		    <tr>
	        <td>Canceled</td>
	        <td><%= release_data[:not_renewed_canceled_count] %></td>
	        <td><%= number_to_percentage(@batch_summary.renewed_release_percent(release_data[:not_renewed_canceled_count], release_type), :precision=>0) %></td>
	      </tr>
	      <tr>
	        <td>Taken Down</td>
	        <td><%= release_data[:not_renewed_takendown_count] %></td>
	        <td><%= number_to_percentage(@batch_summary.renewed_release_percent(release_data[:not_renewed_takendown_count], release_type), :precision=>0) %></td>
	      </tr>
	      <tr>
	        <td>In save period</td>
	        <td><%= release_data[:not_renewed_in_grace_count] %></td>
	        <td><%= number_to_percentage(@batch_summary.renewed_release_percent(release_data[:not_renewed_in_grace_count], release_type), :precision=>0) %></td>
	      </tr>
	      <tr>
	        <td><strong>Total</strong></td>
	        <td><strong><%= release_data[:not_renewed_total] %></strong></td>
	        <td><%= number_to_percentage(@batch_summary.renewed_release_percent(release_data[:not_renewed_total], release_type), :precision=>0) %></td>
	      </tr>
	    </tbody>
	  </table>
	<% end %>

  <h3>Failures</h3>
  <table>
    <thead>
    <th>Type</th>
    <th>Failed Purchases</th>
    <th>Failure Rate</th>
    <th>Total</th>
    </thead>
    <tbody>
    <tr>
      <td>Albums</td>
      <td><%= format_to_currency(Money.new(@batch_summary.albums_total_failure, @batch.currency)) %></td>
      <td><%= number_to_percentage(@batch_summary.albums_failure_rate * 100.0, precision: 0) %></td>
      <td><%= format_to_currency(Money.new(@batch_summary.albums_total, @batch.currency)) %></td>
    </tr>
    <tr>
      <td>Singles</td>
      <td><%= format_to_currency(Money.new(@batch_summary.singles_total_failure, @batch.currency)) %></td>
      <td><%= number_to_percentage(@batch_summary.singles_failure_rate * 100.0, precision: 0) %></td>
      <td><%= format_to_currency(Money.new(@batch_summary.singles_total, @batch.currency)) %></td>
    </tr>
    <tr>
      <td>Ringtones</td>
      <td><%= format_to_currency(Money.new(@batch_summary.ringtones_total_failure, @batch.currency)) %></td>
      <td><%= number_to_percentage(@batch_summary.ringtones_failure_rate * 100.0, precision: 0) %></td>
      <td><%= format_to_currency(Money.new(@batch_summary.ringtones_total, @batch.currency)) %></td>
    </tr>
    <tr>
      <td><b>Total</b></td>
      <td><%= format_to_currency(Money.new(@batch_summary.total_failure, @batch.currency)) %></td>
      <td><%= number_to_percentage(@batch_summary.total_failure_rate * 100.0, precision: 0) %></td>
      <td><strong><%= format_to_currency(Money.new(@batch_summary.total_purchases, @batch.currency)) %></strong></td>
    </tr>
    </tbody>
  </table>

<!-- <h3>Invoice Split</h3>
<table>
  <thead>
    <td></td>
    <td>Number of people</td>
    <td>Total Revenue</td>
  </thead>
  <tbody>

    <tr>
      <td>1 Invoice</td>
      <td><%= @batch_summary.num_of_people_with_one_invoice %></td>
      <td><%= number_to_currency(@batch_summary.total_invoice_amount_one_invoice) %></td>
    </tr>
    <tr>
      <td>2 Invoices</td>
      <td><%= @batch_summary.num_of_people_with_two_invoices %></td>
      <td><%= number_to_currency(@batch_summary.total_invoice_amount_two_invoices) %></td>
    </tr>
  </tbody>
</table> -->

</div>
<p>Attached is the log from this run.<p>
