<p>Attached are the records for the <%= @decline_count %> customers who's preferred credit card has been declined more than the set threshold of <%= BRAINTREE_BATCH[:run_limit] %> times. These customers will be sent a notice that their renewal is due and that we were unable to charge their card</p>

<p>
There is <%= format_to_currency(@declined_amount.to_money(@batch.currency)) %> in revenue outstanding because we could not process these customers.
</p>

<h2 style="border-bottom: solid #ccc 1px; margin-top: 24px; font-size: 14px; font-weight: bold; color:#003855;">Credit Card Declines Summary</h2>

<table cellpadding="5" cellspacing="0" border="1" bordercolor="#333333" width="600" style="font-size:11px; vertical-align:bottom" valign="bottom" >
  <tr>
    <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Batch date</td>
    <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Declined Credit Card<br/> Count</td>
    <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Declined Amount</td>
  </tr>
  <tr>
    <td align="center"><%= fmt_country_date(@batch.batch_date) %></td>
    <td align="center"><%= @declined_count %></td>
    <td align="center"><%= format_to_currency(@declined_amount.to_money(@batch.currency)) %></td>
  </tr>
</table>

