<h2>TuneCore <%= @batch.country_website.country %>: <%= @batch.batch_date.to_s(:long) %></h2>

<p>Attached are the records for the <%= @batch_transactions_count %> customers who have been notified that their renewal(s) are due. We couldn't renew their purchases because of the customer's preference settings and/or the customer doesn't have enough money in their TuneCore balance (specific reasons listed at the bottom of this email).</p>

<p>
There is <%= format_to_currency(@amount.to_money(@batch.currency)) %> in revenue outstanding because we could not process these customers. This report does not cover credit card denials, which will come later in the week (after they have been tried 3 times).
</p>

<h2 style="border-bottom: solid #ccc 1px; margin-top: 24px; font-size: 14px; font-weight: bold; color:#003855;">Not Processed Summary</h2>

<table cellpadding="5" cellspacing="0" border="1" bordercolor="#333333" width="600" style="font-size:11px; vertical-align:bottom" valign="bottom" >
  <tr>
    <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Batch date</td>
    <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Returned to<br/> Customer<br/> Count</td>
    <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Returned to<br/> Customer<br/> Count %</td>
    <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Returned to<br/> Customer<br/> Amount</td>
  </tr>
  <tr>
    <td align="center"><%= Time.now %></td>
    <td align="center"><%= @batch_transactions_count %></td>
    <td align="center"><%= @batch_percentage %>%</td>
    <td align="center"><%= format_to_currency(@amount.to_money(@batch.currency)) %></td>
  </tr>
</table>

<p style="font-size:11px;color:#666;font-weight:bold;">Reasons for Not Processing</p>
<ol style="font-size:11px;color:#666;">
  <li>They have not set preferences and their TuneCore balance does not cover their renewal price</li>
  <li>They set preferences, chose 'pay with balance', their TuneCore balance does not cover the renewal price, and they have not added a preferred credit card </li>
  <li>They set preferences, chose 'pay only with credit card', added a preferred card, but that credit card is expired.</li>
  <li>They set preferences, chose 'pay with balance', their TuneCore balance does not cover the renewal price, and their preferred credit card is expired.</li>
</ol>
