<p>Here are the results from today's Renewal Reminders email send:</p>
<p>Date: <%= l(@run_date, format: :country_date) %></p>
<p>Total Sent: <%= @reminders_count.to_i %></p>

<% @renewal_email_statuses.each do |email_id, email_statuses| %>
  <% next if email_statuses[:sent_count] == 0 %>

  <% email_statuses.each do |subject, counts|  %>
    <% next if [:sent_count, :expiration_date, :renewal_interval].include? subject %>

    <div>

      <h2 style="border-bottom: solid #ccc 1px; margin-top: 24px; font-size: 14px; font-weight: bold; color:#003855;">
        Renewal Reminder: Sent on <%= @run_date.strftime("%B %d") %> for Renewals Due on <%= email_statuses[:expiration_date].strftime("%B %d, %Y") %>
      </h2>

      <p>
        We sent reminders to <%= counts[:sent_count] %> customers today because they have <b><%= email_statuses[:renewal_interval] == :both ? "yearly and/or monthy" : email_statuses[:renewal_interval].to_s %></b> renewals <%= "that were" if email_statuses[:expiration_date] < Date.today %> due
        on <%= email_statuses[:expiration_date].strftime("%B %d, %Y") %>
      </p>

      <strong>Subject of Email:</strong> <%= subject %><br/>

      <table cellpadding="5" cellspacing="0" border="1" bordercolor="#333333" width="600" style="font-size:11px; vertical-align:bottom" valign="bottom" >
        <tr>
          <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Renewal Due Date</td>
          <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Reminders Sent</td>

          <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">No Preferences Set </td>

          <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">No Preferred Card</td>

          <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Expired Card</td>

          <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">No Paypal</td>

          <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">No Credit Card or Paypal</td>

          <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Do Not AutoRenew</td>

        </tr>
        <tr>
          <td align="center"><%= l(email_statuses[:expiration_date], format: :country_date) %></td>
          <td align="center"><%= counts[:sent_count] %></td>

          <td align="center"><%= counts[:no_preferences_count] %> - <%= (counts[:no_preferences_count].to_f / counts[:sent_count].to_f * 100).round(1) %>%</td>

          <td align="center"><%= counts[:no_credit_card_count] %> - <%= (counts[:no_credit_card_count].to_f / counts[:sent_count].to_f * 100).round(1) %>%</td>

          <td align="center"><%= counts[:expired_card_count] %> - <%= (counts[:expired_card_count].to_f / counts[:sent_count].to_f * 100).round(1) %>%</td>

          <td align="center"><%= counts[:no_paypal_count] %> - <%= (counts[:no_paypal_count].to_f / counts[:sent_count].to_f* 100).round(1) %>%</td>

          <td align="center"><%= counts[:no_preferred_card_or_paypal] %> - <%= (counts[:no_preferred_card_or_paypal].to_f / counts[:sent_count].to_f* 100).round(1) %>%</td>

          <td align="center"><%= counts[:do_not_auto_renew_count] %> - <%= (counts[:do_not_auto_renew_count].to_f/counts[:sent_count].to_f * 100).round(1) %>%</td>
        </tr>
      </table>

    </div>
  <% end %>
<% end %>

<% if @reminders_count.to_i > 0 %>
  <p>Attached is the log from this run.<p>
<% end %>
