<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/signin_registration.css" %>
  <%= stylesheet_link_tag "login" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/signin_registration" %>
<% end %>

<% content_for :data_layer do %>
  <%= data_layer_object(page: Gtm::Page.new(current_user, currency: locale_currency, page_type: Gtm::Login, page_name: "Login Page")) %>
<% end %>

<% content_for :header do %>
  <div id="login_country_website_msg">
    <%= custom_t("log_in_messages.country_website_message") %>
  </div>
  <div id="login" class="seven columns centered">
    <header class="masthead row">
      <div class="container twelve columns centered">
        <a href="<%= home_path %>" class="logo center">
          <%= image_tag "/images/tc_logos/logo_tc_large.png", srcset: "/images/tc_logos/logo_tc_large.png 1x, /images/tc_logos/logo_tc_large@2x.png 2x", alt: "TuneCore" %>
        </a>
      </div>
      <% unless @hide_captcha %>
        <div id="captcha">
          <%= render partial: "recaptcha/explicit_load", locals: {button_id: "login-button"}%>
        </div>
      <% end %>
    </header>
    <section id="main_content" class="content row">
      <%= flash[:message] ? note_helper(flash[:message],"") : "" %>
      <%= flash[:notice] ? note_helper(flash[:notice],"check") : "" %>
      <%= flash[:error] ? note_error_helper(flash[:error],"red") : "" %>
    <% end %>

    <% unless params[:f] %>
      <section class="main twelve columns centered">
        <div class="form twelve columns">
          <span class="sticker"></span>
          <%= form_for @person, :url => session_path, :method => :post, :html => {:id => 'account_login'} do |f| %>
            <%= f.email_field :email, :label => custom_t(:email), :class => "form-text", :new_form => true %>
            <%= f.password_field :password, :label => custom_t(:password), :class => "form-text", :new_form => true %>
            <%= render partial: "referral_data_fields", locals: { f: f } %>
            <% if use_recaptcha? %>
              <%= render partial: "recaptcha/recaptcha_widget" %>
            <% end %>
            <%= hidden_field_tag "g-recaptcha-response", nil, class: "captcha-v3-token" %>
            <%= f.submit custom_t(:log_in), :li_class => "form-actions", :new_form => true, :id => "login-button" %>
          <% end %>
        </div>
        <div class="help twelve columns">
          <span class="forgot-pw-helper"><%= link_to(custom_t(".forgot_password"), new_reset_password_path )%></span> |
          <span class="create-account-helper"><%= link_to(custom_t(".need_account"), signup_path) %></span>
        </div>
      </section>
    </section>
  <% end %>
  </div>
