<% content_for :data_layer do %>
  <%= data_layer_object(page: Gtm::Page.new(current_user, currency: locale_currency, page_type: Gtm::Login, page_name: "Login Page")) %>
<% end %>

<% content_for(:header) do %>
  <%= image_tag("tc_logo_wide.png", id: "header-logo") %>
<% end %>

<% unless @hide_captcha %>
  <div id="captcha">
    <%= render partial: "recaptcha/explicit_load", locals: {button_id: "login-button"} %>
  </div>
<% end %>

<%= form_for @person, url: session_path, method: :post, html: {id: "account_login"} do |f| %>
  <%= f.email_field(
    :email,
    label: custom_t(:email_address),
    class: "text-input",
    new_form: true,
    data: { testid: "login-email-input" }
  ) %>
  <%= f.password_field(
    :password,
    label: custom_t(:password),
    class: "text-input",
    new_form: true,
    data: { testid: "login-password-input" }
  ) %>
  <%= link_to(
    custom_t("forgot_your_password"),
    new_reset_password_path,
    class: "link link--smaller-grey"
  ) %>
  <%= render partial: "referral_data_fields", locals: { f: f } %>

  <% if use_recaptcha? %>
    <%= render partial: "recaptcha/recaptcha_widget" %>
  <% end %>

  <%= hidden_field_tag("g-recaptcha-response", nil, class: "captcha-v3-token") %>
  <%= f.submit(
    custom_t(:log_in),
    li_class: "form-actions login-submit-fieldset",
    new_form: true,
    id: "login-button",
    data: { testid: "login-submit" }
  ) %>
<% end %>

<div class="sign-up">
  <%= link_to(custom_t("sessions.new.need_account"), signup_path, class: "link") %>
</div>
