<section class="admin-container">
  <main class="content">
    <h2>Payoneer Payout Transfer Rollbacks</h2>
    <table class="admin-payout-transfers-table">
      <thead>
        <tr>
          <th>id</th>
          <th>Requested at</th>
          <th>Person</th>
          <th>Payout Method</th>
          <th>Requested amount</th>
        </tr>
      </thead>
      <% if @transfers.present? %>
        <tbody>
          <% @transfers.each do |transfer| %>
            <tr>
              <td><%= transfer.id %></td>
              <td><%= transfer.created_at %></td>
              <td><%= transfer.person.id %></td>
              <td><%= transfer.withdraw_method %></td>
              <td><%= transfer.requested_amount %></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>

    <div class="payout-actions">
      <div>
        <span class="page-numbers">
          <%= will_paginate @transfers, previous_label: "Previous", next_label: "Next" %>
        </span>
      </div>
    </div>
  </main>
</section>
