<div>
  <p>Batch processing completed with errors (first 10):</p>

  <table>
    <thead>
      <tr>
        <th>Entry ID</th>
        <th>Status</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @batch.errored_entries.first(10).each do |entry| %>
        <tr class="text-left">
          <td><%= entry.id %></td>
          <td><%= entry.status %></td>
          <td><%= entry.amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
