<div>
  <div class="cell small-12 medium-6">
    <% if can_approve_mass_adjustment? %>
      <p>Do you want to process this batch?</p>
      <%= simple_form_for @batch, url: admin_mass_adjustment_path(@batch), method: "PUT" do |f| %>
        <%= f.input :id, as: :hidden %>
        <%= f.input :status, label: "", as: :radio_buttons, collection: approver_options %>
        <%= f.button :button, "Submit", type: "submit", disabled: true %>
      <% end %>
    <% else %>
      <div>Waiting For Approval</div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $("input[type='radio']").change(function() {
      $("button[type='submit']").removeAttr('disabled');
    });
  });
</script>
