<div>
  <div class="cell small-12 medium-6">
    <p>How do you want to process this batch?</p>
    <%= simple_form_for @batch, url: admin_mass_adjustment_path(@batch), method: "PUT" do |f| %>
      <%= f.input :id, as: :hidden %>
      <%= f.input :allow_negative_balance, label: "", as: :radio_buttons, collection: scheduler_options %>
      <%= f.button :button, "Confirm", type: "submit", name: "mass_adjustment_batch[status]", value: MassAdjustmentBatch::CONFIGURED %>
      <hr/>
      <%= f.button :button, "Cancel processing this batch", type: "submit", name: "mass_adjustment_batch[status]", value: MassAdjustmentBatch::CANCELLED %>
    <% end %>
  </div>
</div>
