<div>
  <p>Uploaded CSV file is under process</p>
  <%= simple_form_for @batch, url: admin_mass_adjustment_path(@batch), method: "PUT" do |f| %>
    <%= f.input :id, as: :hidden %>
    <%= f.button :button, "Cancel processing this batch", type: "submit",
                 name: "mass_adjustment_batch[status]", value: MassAdjustmentBatch::CANCELLED %>
  <% end %>
</div>