<% content_for :css do %>
  <%= stylesheet_link_tag '/stylesheets/magnific-popup' %>
  <%= stylesheet_link_tag '/stylesheets/internal_layout' %>
  <%= stylesheet_link_tag '/stylesheets/mastered_tracks' %>
<% end %>

<div class="content">
  <header class="row alternate2">
    <div class="nine columns">
      <h1><%= custom_t(".landr_instant_mastering") %></h1>
  </header>

  <div class="tabs">
    <div class="row">
      <ul class="twelve columns">
        <li class="<%= 'active' if !@my_masters_tab %>" data-hash="#add-tracks-tab"><a class="switch-tabs" href="#add-tracks-tab"><%= custom_t(".purchase") %></a></li>
        <li class="<%= 'active' if @my_masters_tab %>" data-hash="#my-masters-tab"><a class="switch-tabs" href="#my-masters-tab"><%= custom_t("mastered_tracks.my_masters_text") %></a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="nine columns">
      <h1 class="landr-purchase-header-new">
        <img src="/images/mastered_tracks/landrlogo.png" alt="LANDR" class="landr-purchase-logo"> <%= custom_t(".master_your_songs") %>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="nine columns">
      <section class="top-landr-try-btn">
        <a class="button-callout" data-landr><%= custom_t("mastered_tracks.try_free") %></a>
      </section>
    </div>
  </div>

  <div class="landr-purchase-bg">
    <div class="row">
      <div class="eight columns">
        <p>
          <%= custom_t(".technology_has_allowed") %>
          <%= custom_t(".groundbreaking_tech") %>
          <%= custom_t(".quality") %>
          <%= custom_t(".major_label") %>
        </p>
        <p class="citation">- Nas</p>
      </div>
    </div>
  </div>

  <%= render 'add_tracks_new', unpaid_mastered_tracks: @unpaid_mastered_tracks, my_masters_tab: @my_masters_tab %>
  <%= render 'my_masters', purchased_mastered_tracks: @purchased_mastered_tracks, my_masters_tab: @my_masters_tab %>
  <%= render 'validate_tracks' %>
</div>
<%= render partial: 'landr_widget' %>
