<header class="row">
  <div class="twelve columns">
    <h2>Dashboard</h2>
    <p class="description"></p>
  </div>
</header>

<div class="dashboard row">
  <div class="six columns">
    <section class="dashboard-system">
      <header><h3>System Stats</h3></header>
      Music Supervisors: <%= @number_sync_users %><br/>
      Total songs: <%= number_with_delimiter(@total_songs, :delimiter => ',') %>
    </section>
    
    <section class="dashboard-members">
      <header><h3>Membership Requests</h3></header>
      New: <%= link_to @new_membership_requests, sync_admin_memberships_path %><br/>
      Invited: <%= link_to @approved_requests, sync_admin_memberships_path %><br/>
      Declined: <%= link_to @declined_requests, sync_admin_memberships_path %><br/>
    </section>
    
    <section class="dashboard-network">
      <header><h3>Network Information</h3></header>
      Last Cloudsearch Sync: <%= @last_cloud_search_date.to_s %><br/>
    </section>
  </div>
  <div class="six columns">
    <section class="dashboard-requests">
      <header><h3>Quote Requests</h3></header>
      New: <%= link_to @new_sync_requests, sync_admin_license_requests_path %><br/>
      Quote Sent: <%= link_to @quote_sent_sync_requests, sync_admin_license_requests_path %><br/>
      Revised: <%= link_to @revised_sync_requests, sync_admin_license_requests_path %><br/>
      Licensed: <%= link_to @licensed_sync_requests, sync_admin_license_requests_path %><br/>
      Expired: <%= link_to @expired_sync_requests, sync_admin_license_requests_path %><br/>
    </section>

    <section class="dashboard-licenses">
      <header><h3>Licenses</h3></header>
    </section>
  </div>
</div>
