<td><%= row['date'] %></td>
<td><%= link_to(row['artist'], :controller => "admin/people", :action => "show", :id => row['person_id']) if row['artist'] %></td>
<td><%= row['genre'] %></td>
<td><%= row['albums'] %></td>
<td><%= row['revenue'] %></td>
<td><%= row['artist_albums'] %></td>
<td><%= row['albums_sold'] %></td>
<td><%= row['songs_sold'] %></td> 
<td><%= row['promo_songs'] %></td> 
<td><%= row['itunes_link'] %></td>
