<td><%= row['date'] %></td>
<td><%= row['artist'] %></td>
<td><%= link_to row['album'], :controller => "admin/albums", :action => "show", :id => row['album_id'] %></td>
<td><%= row['revenue'] %></td>
<td><%= row['artist_albums'] %></td>
<td><%= row['albums_sold'] %></td>
<td><%= row['songs_sold'] %></td> 
<td><%= row['promo_songs'] %></td> 
<td><%= row['itunes_link'] %></td>
