<td><%= row['date'] %></td>
<td><%= link_to(row['account'], :controller => "admin/people", :action => "show", :id => row['person_id']) if row['person_id'] %></td>
<td><%= row['artist'] %></td>
<td><%= link_to(row['album'], :controller => "admin/albums", :action => "show", :id => row['album_id']) if row['album_id'] %></td>
<td><%= row['paid'] %></td>