<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <body>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <%= custom_t('invoices.email.body', customer_name: @name, invoice_date: @invoice_date, cust_care_link: @link) %>
        </td>
      </tr>
    </table>
  </body>
</html>

