@import 'datatables';

.track-monetizations__alert {
  background: $link_color;
  border: 1px solid $borders_exterior;
  font-size: 1.1 * $tc-base-font-size;
  font-weight: bold;
  left: 0;
  margin-top: -1%;
  padding: 1%;
  right: 0;
  text-align: center;
}

.track-monetizations__dashboard {
  &__page-title:before {
    font-family: FontAwesome;
    font-size: 1.5 * $tc-base-font-size;
  }

  &__page-title.facebook:before {
    color: $facebook-blue;
    content: $fa-facebook;
  }

  &__page-title.youtube:before {
    color: $youtube-dark-red;
    content: $fa-youtube;
  }

  &__table-title-wrapper {
    @extend .grid-x;
  }

  &__button-wrapper--send-all {
    @extend .grid-x;
    @extend .small-12;

    justify-content: flex-end;
  }

  &__button--send-all {
    @extend .cell;
    @extend .small-4;
    @extend .button;
  }

  &__table-title-wrapper {
    background-color: $tunecore-header-blue;
    padding: 2%;
    margin-bottom: -0.5em;
  }

  &__table-title {
    @extend .cell;
    @extend .small-7;

    color: $dark_body_text;
    font-size: 1.5 * $tc-base-font-size;
  }

  &__search-box {
    @extend .cell;
    @extend .small-12;

    &__wrapper {
      @extend .cell;
      @extend .small-12;
    }

    &__container {
      @extend .cell;
      @extend .grid-x;
      @extend .small-5;
    }
  }

  &__action-toggle {
    @extend .cell;

    align-self: center;

    &__wrapper {
      @extend .grid-y;
      margin-bottom: 0;
    }

    &__label {
      border-radius: 25px;

      &:after { border-radius: 25px; }

      input:disabled ~ & {
        background-color: $tunecore_dark_gray;
      }
    }
  }


  &__status--new,
  &__status--submitted,
  &__status--processing,
  &__status--taken-down {
    &:before {
      font-family: FontAwesome;
      padding-right: 5%;
    }
  }

  &__status--processing:before {
    content: $fa-clock;
    color: $tunecore_dark_gray;
  }

  &__status--new:before {
    content: $fa-circle;
    color: $tunecorange;
  }

  &__status--submitted:before  {
    content: $fa-checkmark;
    color: $tunecore-light-green;
  }

  &__status--taken-down:before {
    content: $fa-times-circle;
    color: $tunecore-light-red;
  }

  &__table {
    @extend .stripe;
    @extend .cell-border;
  }

  &__footer {
    @extend .grid-x;
    @extend .cell;

    background-color: $tunecore-header-blue;
    justify-content: flex-end;
    padding: 1% 0;
    margin-top: -0.5em;

    &__info-wrapper,
    &__paging-wrapper {
      @extend .cell;
      @extend .grid-x;

      align-self: center;
    }

    &__info-wrapper   {
      @extend .small-3;

      justify-content: flex-end;
    }
    &__paging-wrapper {   @extend .small-1; }

    &__info-text,
    &__paging-control {
      @extend .cell;

      align-self: center;
      color: $dark_body_text;
    }

    &__info-text { text-align: right; }

    &__paging-wrapper {
      .pagination {
        @extend .cell;
        @extend .grid-x;

        margin-bottom: 0;

        > li:first-child,
        > li:last-child {
          @extend .cell;
          @extend .small-6;

          align-self: center;
          font-size: 1.3 * $tc-base-font-size;
          margin: 0%;

          > a:hover {
            background-color: inherit;
          }
        }
      }
    }
  }

  &__paging-icon--previous,
  &__paging-icon--next {
    @extend .cell;

    &:before {
      color: $dark_body_text;
      font-family: FontAwesome;
      font-size: 1.4 * $tc-base-font-size;
    }
  }

  &__paging-icon--previous:before { content: $fa-caret-left; }
  &__paging-icon--next:before     { content: $fa-caret-right; }

  &__row--discovery.odd,
  &__row--discovery.even {
    background-color: #CACACA;
    color: #8A8A8A;
  }

  &__row--discovery &__action-toggle__label:hover {
    cursor: not-allowed;
  }

  &__discovery__tip {
    &.qtip-blue .qtip-titlebar,
    .ui-widget-header {
      background: #339de5;
    }
    .qtip-title {
      color: white;
      background: #339de5;
      width: 100%;
    }
    padding: 5px;
  }
}
