<% if inbound %>
    <div class="eu-directive">
        <%= custom_t('invoices.pdf.eu_directive_line1') %><br/>
        <%= custom_t('invoices.pdf.eu_directive_line2') %>
    </div>
<% elsif business?(customer_type) %>
    <div class="eu-directive">
        <%= custom_t('invoices.pdf.outbound_eu_directive') %><br/>
    </div>
<% end %>