<% if inbound %>
    <% if eu_business?(country, customer_type) && invoice_data[:person_data][:vat_registration_number].present? %>
        <tr>
            <td colspan="<%= @colspan_num %>"></td>
            <td colspan="4">
                <%= custom_t('invoices.pdf.autoliquidation') %>
            </td>
        </tr>
    <% elsif (eu_individual?(country, customer_type) || luxembourg?(country)) && non_euro_invoice?(invoice_data) %>
        <tr>
            <td colspan="<%= @colspan_num %>"></td>
            <td>
                <b>(<%= custom_t('invoices.pdf.vat_to_euro') %></b>
            </td>
            <td colspan="2" class="tax-amount">
                <b><%= invoice_data[:vat_amount_cents_converted] %></b>
            </td>
            <td class="tax-currency">EUR)</td>
        </tr>
    <% end %>
<% else %>
    <% if show_vat_to_euro?(customer_type, country, non_euro_invoice?(invoice_data)) %>
        <tr>
            <td colspan="<%= @colspan_num %>"></td>
            <td>
                <b>(<%= custom_t('invoices.pdf.vat_to_euro') %></b>
            </td>
            <td colspan="2" class="tax-amount">
                <b><%= invoice_data[:vat_amount_cents_converted] %></b>
            </td>
            <td class="tax-currency">EUR)</td>
        </tr>
    <% end %>
<% end %>
