<% @colspan_num = "2" %>
<meta charset="utf-8" />
<style>
    body { text-rendering: optimize-speed; }
    tbody{
        line-height: 30px;
    }
    tr{
        height: 30px;
    }
    th{
        color: white;
    }
    .body .inner-wrapper table{
        border-collapse: collapse;
    }
    .body .inner-wrapper table.product-details{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0;
    }
    .body .inner-wrapper table.product-details thead{
        background-color: #3B96CF;
        color: white;
        font-weight: normal;
    }
    .body .inner-wrapper table.product-details thead tr:nth-child(1) th{
        border-right: 2px solid white;
    }
    .body .inner-wrapper table.product-details tbody td{
        border-right: 2px solid white;
    }
    .body .inner-wrapper table.product-details tbody td table.tax-details{
        width: 100%;
        float: right;
        text-align: right;
    }
    .body .inner-wrapper table.product-details tbody tr.invoice-list-item:nth-of-type(odd){
        background-color: #f1f1f1;
    }
    .body .inner-wrapper table.product-details tbody td table.tax-details tr td:nth-child(even){
        text-align: right;
    }
    .body .inner-wrapper table.product-details tbody td table.tax-details td{
        border: none;
    }
    .body .inner-wrapper table.product-details tbody td table.tax-details td table.net-payable{
        width: 100%;
        float: right;
    }
    .body .inner-wrapper table.product-details tbody td table.tax-details td table.net-payable tbody td{
        font-weight: bold;
    }
    .body .inner-wrapper table.product-details td,
    .body .inner-wrapper table.product-details th{
        padding: 7px 20px 7px 20px;
        text-align: left;
    }
    .body .inner-wrapper table.product-details th{
        font-weight: normal;
        text-align: center;
    }
    .body .inner-wrapper table.product-details td.invoice-amount{
        text-align: right;
    }
    .body .inner-wrapper .eu-directive{
        width: 75%;
        float: right;
        padding:10px;
        background-color: #e2f4fc;
        line-height: 15px;
        text-align: center;
    }
    .no-padding{
        padding: 0;
    }
    .body .inner-wrapper table.product-details tbody tr.bgd-white,
    .body .inner-wrapper table.product-details tbody tr td.bgd-white{
        background-color: white;
    }
    .body .inner-wrapper table.product-details tbody td.no-border,
    .body .inner-wrapper table.product-details tbody th.no-border{
        border: none;
    }
    thead {
        display: table-row-group;
    }
    .bgd-grey{
        background-color: #f1f1f1;
    }
    body .inner-wrapper table.product-details td.no-padding{
        padding: 0;
    }
    .bold{
        font-weight: bold;
    }
    body .inner-wrapper table.product-details td.tax-amount,
    body .inner-wrapper table.product-details td.tax-currency{
        text-align: right;
    }
    body .inner-wrapper table.product-details td.tax-amount{
        padding-right: 0;
    }
    body .inner-wrapper table.product-details td.tax-currency{
        width: 8%;
        padding-left: 0;
    }
    body .inner-wrapper table.payment-methods-table {
        width: 70%;
        margin-top: 30px;
    }
    body .inner-wrapper table.payment-methods-table td {
        padding: 7px 20px;
    }
    body .inner-wrapper table.payment-methods-table td.no-side-padding {
        padding: 7px 0px;
    }
    body .inner-wrapper .vat-disclaimer {
        text-align: right;
        font-size: 12px;
    }
</style>
<%
    person = invoice_data[:person_data]
    country = person[:country]
    customer_type = person[:customer_type]
%>
<div class="body">
    <div class="inner-wrapper">
        <table class="product-details">
            <thead>
                <tr>
                    <th rowspan="2"><%= inbound ? custom_t('invoices.pdf.products') : custom_t('invoices.pdf.invoice_items') %></th>
                    <th colspan="2"><%= custom_t('invoices.pdf.original_amount') %></th>
                    <% if inbound %>
                        <% if (luxembourg?(country) || eu_individual?(country, customer_type)) && non_euro_invoice?(invoice_data) %>
                            <th rowspan="2"><%= custom_t('invoices.pdf.rate_eur') %></th>
                            <% @colspan_num = "3" %>
                        <% end %>
                    <% else %>
                        <% if luxembourg_business?(country, customer_type) && non_euro_invoice?(invoice_data)  %>
                            <th rowspan="2"><%= custom_t('invoices.pdf.rate_eur') %></th>
                            <% @colspan_num = "3" %>
                        <% end %>
                    <% end %>
                    <th rowspan="2" colspan="3" class="w-160"><%= custom_t('invoices.pdf.invoice_amount') %> (<%= invoice_data[:currency] %>)</th>
                </tr>
                <tr>
                    <th class="no-border"><%= custom_t('invoices.pdf.amount') %></th>
                    <th><%= custom_t('invoices.pdf.currency') %></th>
                </tr>
            </thead>
            <tbody>
                <% invoice_data[:items].each do |item| %>
                    <tr class="invoice-list-item">
                        <td><%= item[:item_name] %></td>
                        <td><%= item[:original_amount] %></td>
                        <td><%= invoice_data[:currency] %></td>
                        <% if inbound %>
                            <% if (luxembourg?(country) || eu_individual?(country, customer_type)) && non_euro_invoice?(invoice_data) %>
                                <td><%= custom_t('invoices.pdf.rate') %>: <%= invoice_data[:items].first[:euro_exchange_rate] %></td>
                            <% end %>
                        <% else %>
                            <% if luxembourg_business?(country, customer_type) && non_euro_invoice?(invoice_data)  %>
                                <td><%= custom_t('invoices.pdf.rate') %>: <%= invoice_data[:items].first[:euro_exchange_rate] %></td>
                            <% end %>
                        <% end %>
                        <td colspan="3" class="invoice-amount"><%= item[:original_amount] %></td>
                    </tr>
                <% end %>
                <% if inbound %>
                    <tr></tr>
                    <tr class="bgd-grey">
                      <td colspan="<%= @colspan_num %>" class="bgd-white no-border"></td>
                      <td class="no-border">
                        <%= custom_t('invoices.pdf.discounts') %>
                      </td>
                      <td colspan="2" class="tax-amount no-border">
                        (<%= discounts %>
                      </td>
                      <td class="tax-currency">
                        <%= invoice_data[:currency] %>)
                      </td>
                    </tr>
                <% end %>
                <tr>
	                <td colspan="<%= @colspan_num %>"></td>
                    <td><%= custom_t('invoices.pdf.total_excl_taxes') %></td>
                    <td colspan="2" class="tax-amount" id="invoice-total-excl-taxes"><b>
                        <%= invoice_data[:total_excl_taxes] %></b>
                    </td>
                    <td class="tax-currency"><%= invoice_data[:currency] %></td>
                </tr>
                <tr class="bgd-white">
                    <td colspan="<%= @colspan_num %>"></td>
                    <td colspan="4" class="bgd-grey"></td>
                </tr>
                <% if show_inbound_supplier_name?(invoice_data, inbound) %>
                    <tr>
                        <td colspan="<%= @colspan_num %>"></td>
                        <td class="vat-rate">
                            <%= invoice_data[:items].first[:tax_type] %>(<%= number_to_percentage(invoice_data[:items].first[:tax_rate], {:precision => 2, strip_insignificant_zeros: false}) %>)<br/>
                            <%= static_corporate_entity&.country&.capitalize %><br/>
                        </td>
                        <td colspan="2" class="tax-amount"><b><%= invoice_data[:vat_amount_cents] %></b> </td>
                        <td class="tax-currency"><%= invoice_data[:currency] %></td>
                    </tr>
                <% end %>

                <% if show_outbound_supplier_name?(invoice_data, inbound, country) %>
                    <tr>
                        <td colspan="<%= @colspan_num %>"></td>
                        <td class="vat-rate">
                            <%= invoice_data[:items].first[:tax_type] %>(<%= number_to_percentage(invoice_data[:items].first[:tax_rate], {:precision => 2, strip_insignificant_zeros: false}) %>)<br/>
                            <%= country %><br/>
                        </td>
                        <td colspan="2" class="tax-amount"><b><%= invoice_data[:vat_amount_cents] %></b> </td>
                        <td class="tax-currency"><%= invoice_data[:currency] %></td>
                    </tr>
                <% end %>

                <%= render partial: "invoice_pdf/vat_message", locals: {pdf: pdf, invoice_data: invoice_data, inbound: inbound, person: person, country: country, customer_type: customer_type} %>
                <tr class="bgd-grey">
                    <td colspan="<%= @colspan_num %>" class="bgd-white no-border"></td>
                    <td class="no-border"><%= custom_t('invoices.pdf.total_incl_taxes') %></td>
                    <td colspan="2" class="tax-amount no-border" id="invoice-total-incl-taxes"><b>
                        <%= invoice_data[:total_incl_taxes] %></b>
                    </td>
                    <td class="no-border tax-currency"><%= invoice_data[:currency] %></td>
                </tr>
                <tr></tr>
                <% if inbound %>
                    <tr class="bgd-grey">
                        <td colspan="<%= @colspan_num %>" class="bgd-white no-border"></td>
                        <td class="no-border">
                            <%= custom_t('invoices.pdf.total_payments') %>
                        </td>
                        <td colspan="2" class="tax-amount no-border">
                            (<%= invoice_data[:total_payments] %>
                        </td>
                        <td class="tax-currency">
                            <%= invoice_data[:currency] %>)
                        </td>
                    </tr>
                    <tr></tr>
                <% end %>
                <tr class="bgd-grey bold">
                    <td colspan="<%= @colspan_num %>" class="bgd-white no-border"></td>
                    <td class="no-border">
                        <%= inbound ? custom_t('invoices.pdf.net_payable') : custom_t('invoices.pdf.net_to_pay') %>
                    </td>
                    <td colspan="2" class="tax-amount no-border" id="invoice-net-payable-amount">
                        <%= invoice_data[:net_payable] %>
                    </td>
                    <td class="tax-currency">
                        <%= invoice_data[:currency] %>
                    </td>
                </tr>

                <tr></tr>
                <% if non_eu?(country) %>
                    <tr>
                        <td></td>
                        <td colspan=<%= @colspan_num.to_i + 5 %> class="no-padding bgd-white">
                            <%= render partial: "invoice_pdf/eu_directive", locals: { inbound: inbound, customer_type: customer_type } %>
                        </td>
                    </tr>
                <% end %>

            </tbody>
        </table>
        <% if invoice_data[:settlement_info] %>
            <table class="payment-methods-table">
                <tbody>
                    <tr class="bgd-grey bold">
                        <td class="no-border" colspan="3"><%= custom_t('person_notifier.payment_thank_you.payment_methods') %></td>
                    </tr>
                    <% invoice_data[:settlement_info].each do |info| %>
                        <tr>
                            <td class="no-border"><%= info[:desc] %></td>
                            <td class="tax-amount no-side-padding">(<b><%= info[:amount] %></b></td>
                            <td class="tax-currency no-side-padding"><%= invoice_data[:currency] %>)</td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>
        <% unless inbound || invoice_data[:is_vat_registered] %>
          <div class="vat-disclaimer">
            <%= custom_t('vat.vat_not_charged') if invoice_data[:is_luxembourg_customer]%>
          </div>
        <% end %>
    </div>
</div>
