<style>
    .invoice-invoice-header{
        box-shadow: none;
        margin-bottom: 0;
    }
    .invoice-header .logo img{
        width: 200px;
        height: 40px;
    }
    .invoice-header .wrapper{
        overflow: auto;
        display: block;
        font-size: 13px;
        line-height: 17.7px;
    }
    .invoice-header .wrapper .from-address{
         width: 40%;
        float: left;
    }
    .invoice-header .wrapper .from-address p{
        color: grey;
    }

    .invoice-header .wrapper .to-address{
        margin-left: auto;
        max-width: 40%;
        float: right;
        position: relative;
        right: 1em;
    }
    .invoice-header .wrapper .to-address span.greyed-text{
        color: grey;
    }
    .invoice-header .wrapper.h-tc{
        height: max-content;
    }
    .invoice-header .wrapper.h-bi{
        height: max-content;
    }
</style>
<div class="invoice-header">
    <div class="logo">
    <% if static_corporate_entity.tunecore_us? %>
        <%= image_tag wicked_pdf_asset_base64("invoice_pdf/tunecore_logo.png")%>
    <% else %>
        <%= image_tag wicked_pdf_asset_base64("invoice_pdf/believe_logo.png")%>
    <% end %>
    </div>
    <div class= "<%= "wrapper " + (static_corporate_entity.tunecore_us? ? "h-tc" : "h-bi") %>" >
        <div class="from-address">
            <% if static_corporate_entity.tunecore_us?%>
                <p>
                    <%= static_corporate_entity.address1 %><br/>
                    <%= static_corporate_entity.address2 %><br/>
                    <%= static_corporate_entity.city %>, <%= static_corporate_entity.postal_code %><br/>
                    <%= TC_WEBSITE %>
                </p>
            <% else %>
                 <p>
                    <%= static_corporate_entity.address1 %><br/>
                    <%= custom_t('invoices.pdf.an_affiliated_company') %><br/>
                    <% splitted_address_line(static_corporate_entity.address2).each do |address_line| %>
                        <%= address_line %><br/>
                    <% end %>
                    <%= static_corporate_entity.postal_code %>, <%= static_corporate_entity.country %>
                </p>
                <p>
                    <%= custom_t('invoices.pdf.crn') %>: <%= static_corporate_entity.crn %><br/>
                    <%= custom_t('invoices.pdf.vat_number') %>: <%= static_corporate_entity.vat_registration_number %><br/>
                    <%= BI_WEBSITE %>
                </p>
            <% end %>
        </div>
        <div class="to-address">
            <%= custom_t('invoices.pdf.invoice_number') %>: <span class="greyed-text"><%= invoice_data[:invoice_number] %></span><br/>
            <%= custom_t('invoices.pdf.invoice_date')%>: <span class="greyed-text"><%= l invoice_data[:date], format: :invoice_date %></span><br/>
            <%= custom_t('invoices.pdf.client') %>: <span class="greyed-text"><%= invoice_data[:person_data][:name] %></span><br/>
            <%= custom_t('invoices.pdf.invoice_address') %>:
            <span class="greyed-text">
                <% if static_corporate_entity.tunecore_us? %>
                    <br/>
                <% end %>
                <% user_address_elements = [invoice_data[:person_data][:address1], invoice_data[:person_data][:address2],
                                       invoice_data[:person_data][:city], invoice_data[:person_data][:state],
                                       invoice_data[:person_data][:zip], invoice_data[:person_data][:country]] %>
                <% user_address_elements.flatten.reject { |c| c.to_s.empty? }.each do |address| %>
                    <%= address %>
                    <br/>
                <% end %>
            </span>
            <% unless invoice_data[:person_data][:vat_registration_number].blank? %>
                <%= custom_t('invoices.pdf.vat_number') %>: <span class="greyed-text"><%= invoice_data[:person_data][:vat_registration_number] %></span>
            <% end %>
        </div>
    </div>
</div>

