<%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" %>
<style>
    .footer{
        font-size: 13px;
        line-height: 17.7px;
    }
    .footer div.payment-date,
    .footer div.paying-bank,
    .footer div.corporate-entity-details{
        margin-bottom: 10px;
    }
    .footer .payment-date{
        text-align: center;
    }
    .footer .paying-bank,
    .footer .corporate-entity-details{
        padding: 10px;
        text-align: center;
        border: 1px solid lightgrey;
        color: grey;
    }
</style>
<div class="footer">
    <div class="payment-date"><b><%= custom_t('invoices.pdf.payment_date') %>:</b> <%= custom_t('invoices.pdf.payment_date_value') %></div>
    <div class="corporate-entity-details">
        <%= custom_t('invoices.pdf.footer_text') %>
    </div>
</div>

