<%= stylesheet_link_tag wicked_pdf_asset_base64 "invoices/outbound_invoice_header" %>

<div class="invoice-header">
    <div class= "<%= "wrapper " + (static_corporate_entity.tunecore_us? ? "h-tc" : "h-bi") %>" >
        <div class="from-address">
            <%= custom_t('invoices.pdf.supplier') %>: <span class="greyed-text"><%= invoice_data[:person_data][:name] %></span><br/>
            <span class="greyed-text">

                <% user_address_elements = [invoice_data[:person_data][:address1], invoice_data[:person_data][:address2],
                                       invoice_data[:person_data][:city], invoice_data[:person_data][:state],
                                       invoice_data[:person_data][:zip], invoice_data[:person_data][:country]] %>
                <% user_address_elements.flatten.reject { |c| c.to_s.empty? }.each do |address| %>
                    <%= address %>
                    <br/>
                <% end %>
            </span>
            <% outbound_optional_fields(invoice_data[:person_data]).each do |addr| %>
                <%= sanitize addr %><br/>
            <% end %>
        </div>
        <div class="to-address">
            <%= custom_t('invoices.pdf.invoice_number') %>: <span class="greyed-text"><%= invoice_data[:invoice_number] %></span><br/>
            <%= custom_t('invoices.pdf.self_invoice')%><br/>
            <%= custom_t('invoices.pdf.invoice_date')%>: <span class="greyed-text"><%= l invoice_data[:date], format: :invoice_date %></span><br/>
            <%= custom_t('invoices.pdf.client') %>:
            <span class="greyed-text">
                <%= static_corporate_entity.address1 %><br/>
                <%= custom_t('invoices.pdf.an_affiliated_company') %>
            </span><br/>
            <%= custom_t('invoices.pdf.invoice_address') %>:
            <span class="greyed-text">
                <% splitted_address_line(static_corporate_entity.address2).each do |address_line| %>
                    <%= address_line %><br/>
                <% end %>
                <%= static_corporate_entity.postal_code %>, <%= static_corporate_entity.country %><br/>
                <%= custom_t('invoices.pdf.crn') %>: <%= static_corporate_entity.crn %><br/>
                <%= custom_t('invoices.pdf.vat_number') %>: <%= static_corporate_entity.vat_registration_number %><br/>
                <%= BI_WEBSITE %>
            </span>
        </div>
    </div>
</div>

