<meta charset="utf-8" />
<style>
    body { text-rendering: optimize-speed; }
    tbody{
        line-height: 30px;
    }
    tr{
        height: 30px;
    }
    th{
        color: white;
    }
    .body .inner-wrapper table{
        border-collapse: collapse;
    }
    .body .inner-wrapper table.product-details{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0;
        width: 100%;
    }
    .body .inner-wrapper table.product-details thead{
        background-color: #3B96CF;
        color: white;
        font-weight: normal;
    }
    .body .inner-wrapper table.product-details thead tr:nth-child(1) th{
        border-right: 2px solid white;
    }
    .body .inner-wrapper table.product-details tbody tr:nth-child(odd){
        background-color: #f1f1f1;
    }
    .body .inner-wrapper table.product-details tbody td{
        border-right: 2px solid white;
    }
    .body .inner-wrapper table.product-details tbody td table.tax-details{
        width: 100%;
        float: right;
        text-align: right;
    }
    .body .inner-wrapper table.product-details tbody td table.tax-details.tunecore tbody tr:nth-child(even){
        background-color: #f1f1f1;
    }
    .body .inner-wrapper table.product-details tbody td table.tax-details.tunecore tbody tr:nth-child(odd){
        background-color:white;
    }
    .body .inner-wrapper table.product-details tbody td table.tax-details tr td:nth-child(even){
        text-align: right;
    }
    .body .inner-wrapper table.product-details tbody td table.tax-details td{
        border: none;
    }
    .body .inner-wrapper table.product-details td,
    .body .inner-wrapper table.product-details th{
        padding: 7px 20px 7px 20px;
        text-align: left;
        font-weight: normal;
    }
    .body .inner-wrapper table.product-details td.wrapper-td{
        padding: 0 0 0 155px;
    }
    .body .inner-wrapper table.product-details td.invoice-amount{
        text-align: right;
    }
    .no-padding{
        padding: 0;
    }
    .body .inner-wrapper table.product-details .no-padding{
        padding: 0;
    }
    .bgd-white{
        background-color: white;
    }
    thead {
        display: table-row-group;
    }
    body .inner-wrapper table.payment-methods-table {
        width: 70%;
        margin-top: 30px;
    }
    body .inner-wrapper table.payment-methods-table td {
        padding: 7px 20px;
    }
    body .inner-wrapper table.payment-methods-table td.no-side-padding {
        padding: 7px 0px;
    }
    .bgd-grey{
        background-color: #f1f1f1;
    }
    .bold{
        font-weight: bold;
    }
</style>
<div class="body">
    <div class="inner-wrapper">
        <table class="product-details">
            <thead>
                <tr>
                    <th rowspan="2"><%= custom_t('invoices.pdf.products') %></th>
                    <th colspan="2"><%= custom_t('invoices.pdf.original_amount') %></th>
                    <th rowspan="2"><%= custom_t('invoices.pdf.invoice_amount') %> (<%= invoice_data[:currency] %>)</th>
                </tr>
                <tr>
                    <th class="no-border"><%= custom_t('invoices.pdf.amount') %></th>
                    <th><%= custom_t('invoices.pdf.currency') %></th>
                </tr>
            </thead>
            <tbody>
                <% invoice_data[:items].each do |item| %>
                    <tr>
                        <td><%= item[:item_name] %></td>
                        <td><%= item[:original_amount] %></td>
                        <td><%= item[:currency] %></td>
                        <td class="invoice-amount"><%= item[:original_amount] %></td>
                    </tr>
                <% end %>
                <tr>
                    <td colspan="2" class="no-padding bgd-white">
                    <td colspan="2" class="no-padding bgd-white">
                        <table class="tax-details tunecore">
                            <tbody>
                                <% if inbound %>
                                    <tr>
                                        <td colspan="2"><%= custom_t('invoices.pdf.discounts') %></td>
                                        <td >(<%= discounts %> <%= invoice_data[:currency] %>)</td>
                                    </tr>
                                <% end %>
                                <tr>
                                    <td colspan="2"><%= custom_t('invoices.pdf.sub_total') %></td>
                                    <td><b><%= invoice_data[:total_excl_taxes] %></b> <%= invoice_data[:currency] %></td>
                                </tr>

                                <% if inbound%>
                                    <tr>
                                        <td colspan="2"><%= custom_t('invoices.pdf.total_payments') %></td>
                                        <td>(<%= invoice_data[:total_payments] %> <%= invoice_data[:currency] %>)</td>
                                    </tr>
                                <% else %>
                                  <tr>
                                      <td colspan="3"></td>
                                  <tr>
                                <% end %>
                                    <td colspan="2"><%= inbound ? custom_t('invoices.pdf.net_payable') : custom_t('invoices.pdf.net_to_pay') %></td>
                                    <td><b><%= inbound ? invoice_data[:net_payable] : invoice_data[:total_payments]%></b> <%= invoice_data[:currency] %></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <% if invoice_data[:settlement_info] %>
            <table class="payment-methods-table">
                <tbody>
                    <tr class="bgd-grey bold">
                        <td class="no-border" colspan="3"><%= custom_t('person_notifier.payment_thank_you.payment_methods') %></td>
                    </tr>
                    <% invoice_data[:settlement_info].each do |info| %>
                        <tr>
                            <td class="no-border"><%= info[:desc] %></td>
                            <td class="tax-amount no-side-padding">(<b><%= info[:amount] %></b></td>
                            <td class="tax-currency no-side-padding"><%= invoice_data[:currency] %>)</td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>
    </div>
</div>

