<section class="grid_16">
	<header>
		<h1><%= custom_t(".promotion_code") %></h1>
		</header>


<fieldset class="grid_11 alpha">	
			<%= form_for(@cert, :url => purchase_cert_path(@purchase)) do |f| %>
				<ul>
					<%= f.text_field(:cert, :label => custom_t(".enter_code"))%>
					<li><%= link_to(custom_t(:cancel), cart_path(), {:class=>"cancel"}) %><%= submit_tag custom_t(".continue_checkout") %></li>
				</ul>
			<% end %>
</fieldset>


</section>
