<%= stylesheet_link_tag wicked_pdf_asset_base64 "credit_note_invoices/footers/believe_inbound" %>

<div class="credit-note-invoice-footer">
    <div class="payment-date">
        <b><%= custom_t("invoices.pdf.payment_date") %>:</b> 
        <%= custom_t("invoices.pdf.payment_date_value") %>
    </div>
    <div class="corporate-entity-details">
        <%= custom_t("invoices.pdf.footer_text") %>
    </div>
</div>

