<tr>
  <td><%= eft_query.id %></td>
	<td><%= eft_query.created_at.strftime("%b %d, %Y") %></td>
  <td class="right"><%= eft_query_count_link(eft_query) %></td>
	<td class="right"><%= number_to_currency(eft_query.eft_batch_transactions.inject(0) {|sum, ebt| sum + ebt.amount}) %></td>
	<td class="success right"><%= eft_query_count_link(eft_query, 'success') %></td>
	<td class="success right"><%= number_to_currency(eft_query.eft_batch_transactions.inject(0) {|sum, ebt| ebt.status=='success' ? sum + ebt.amount : sum}) %></td>
	<td class="errored right"><%= eft_query_count_link(eft_query, 'failure') %></td>
	<td class="errored right"><%= number_to_currency(eft_query.eft_batch_transactions.inject(0) {|sum, ebt| ebt.status=='failure' ? sum + ebt.amount : sum})%></td>
</tr>