<%= render :partial=>'admin/eft_batches/eft_batch_links'%>
<section id="eft-batch-transactions">

<h2>EFT Daily Query <span class="info">| <%= link_to 'View Eft Withdrawal Batches', admin_eft_batches_path %></span></h2>

<section class="grid_16" >
	<h3>Totals to Date</h3>
	<table class="non_bold" style="width:500px;">
	  <thead>
	    <tr>
	      <th>Status Type</th>
	      <th>Count</th>
	      <th>Total</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @eft_summary.each do |eft| %>
	      <tr>
	          <td class="left">
	            <%= eft.status.humanize %>
	          </td>
	          <td class="right">
	            <%= number_with_delimiter(eft.total_count) %>
	          </td>
	          <td class="money right">
	            <%= number_to_currency(eft.total_amount) %>
	          </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</section>

<section class="grid_16" >
	<h3>Daily Summary</h3>
	<table class="non_bold">
	  <thead>
	    <tr>
	      <th>ID</th>
				<th>Date of Query</th>
	      <th>Total Count</th>
				<th>Total Amount</th>
				<th>Success Count</th>
				<th>Success Amount</th>
				<th>Failure Count</th>
				<th>Failure Amount</th>
	    </tr>
	  </thead>
	  <tbody id="eft-transaction-section">
		<% if !@eft_queries.empty? %>
			<%= render @eft_queries %>
		<% else %>
			<tr><td colspan="9"> There are no eft queries to show </td></tr>
		<% end -%>
	  </tbody>
	</table>
</section>
<% if @eft_queries.total_entries > @eft_queries.per_page %>
	<div class="jump-links">
		Jump to page: 
		<%= will_paginate( @eft_queries, :params => {:term => params[:term]}) %>
	</div>
<% end %>
</section>
