<% composition_state = composition.try(:composition_state) || composition.try(:state) %>
<% ineligible = composition_state == "ineligible" %>

<div class="grid-x grid-margin-x">
  <div class="cell small-12 rights-app-response">
    <% if local_assigns.has_key?(:response_msg) %>
      <%= formatted_response_msg(composition, response_msg) %>
    <% end %>
  </div>

  <div class="cell small-12">
    <%= simple_form_for composition,
      url: admin_composer_composition_path(@composer, composition),
      authenticity_token: true,
      remote: true do |f|
    %>
    <div class="grid-x grid-margin-x">

      <div class="cell small-2">
        <% if composition.translated_name.present? %>
          <%= f.input :translated_name, readonly: readonly, label: false %>
        <% else %>
          <%= f.input :name, value: composition.name, input_html: { name: "composition[name]" }, label: false, readonly: readonly %>
        <% end %>
      </div>
      <div class="cell small-2">
        <%= f.input :isrc, value: composition.isrc, label: false, readonly: true  %>
      </div>
      <div class="cell small-2">
        <%= f.input :share_submitted_date, label: false, readonly: true  %>
      </div>
      <div class="cell small-1">
        <% share = composition.composer_share + composition.cowriter_share %>
        <%= f.input :composer_share, value: share, label: false, readonly: true  %>
      </div>
      <div class="cell small-2">
        <%= f.input :provider_identifier, label: false, readonly: readonly %>
      </div>
      <%= f.simple_fields_for :recordings, composition_recording(composition) do |recording| %>
        <div class="cell small-2">
          <%= recording.input :recording_code, label: false, readonly: true %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="cell small-2">
    <%= f.submit "Send to Rightsapp", class: "button cell", data: { disable_with: "Sending..." }, disabled: ineligible %>
  </div>
<% end %>

  <div class="cell small-2">
    <%= simple_form_for composition,
      url: update_eligibility_admin_composer_composition_path(@composer, composition),
      authenticity_token: true,
      remote: true,
      method: :put do |f|
    %>
      <%= f.submit ineligible ? "Mark as Eligible" : "Mark as Ineligible", class: "button", data: { disable_with: "Updating..." } %>
    <% end %>
  </div>
</div>
<hr />
