<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12">
      <div class="grid-x grid-margin-x">
        <div class="cell small-2"><h5>Composition Name</h5></div>
        <div class="cell small-2"><h5>Composition ISRC</h5></div>
        <div class="cell small-2"><h5>Share Submitted Date</h5></div>
        <div class="cell small-1"><h5>Share%</h5></div>
        <div class="cell small-2"><h5>RightsApp Work Code</h5></div>
        <div class="cell small-2"><h5>RightsApp Recording ID</h5></div>
      </div>
    </div>
  </div>

  <% @compositions.each do |composition| %>
    <div data-composition-id="<%= composition.id %>">
      <%= render "composition_row",
        composer: @composer,
        composition: composition,
        readonly: !editable?(composition) %>
    </div>
  <% end %>
</div>
