<%= simple_form_for composition,
  url: update_status_admin_composer_composition_path(@composer, composition),
  authenticity_token: true,
  remote: true,
  method: :put do |f| %>

  <div class="grid-x grid-margin-x">
      <% if local_assigns.has_key?(:response_msg) %>
        <div class="cell small-12 rights-app-response">
          <%= formatted_response_msg(composition, response_msg) %>
        </div>
      <% end %>

    <div class="cell small-2">
      <% if composition.translated_name.present? %>
        <%= f.input :translated_name, readonly: readonly, label: false, readonly: true  %>
      <% else %>
        <%= f.input :name, value: composition.name, input_html: { name: "composition[name]" }, label: false, readonly: true %>
      <% end %>
    </div>
    <div class="cell small-2">
      <%= f.input :isrc, value: composition.isrc, label: false, readonly: true  %>
    </div>
    <div class="cell small-2">
      <%= f.text_field :state_updated_on, value: composition.state_updated_on.strftime("%d/%m/%y"), label: false, readonly: true  %>
    </div>
    <div class="cell small-2">
      <%= f.submit "Unhide", class: "button", data: { disable_with: "Sending..." } %>
    </div>
  </div>
<% end %>
