<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-2"><h5>Composition Name</h5></div>
    <div class="cell small-2"><h5>Composition ISRC</h5></div>
    <div class="cell small-2"><h5>Work Hidden Date</h5></div>
    <div class="cell small-2"></div>
  </div>

  <% @compositions.each do |composition| %>
    <div data-composition-id="<%= composition.id %>">
      <%= render "hidden_composition_row",
        composer: @composer,
        composition: composition,
        readonly: !editable?(composition) %>
    </div>
  <% end %>
</div>
