<%= form_tag search_admin_composer_compositions_path, :method => "get", class: 'compositions-search-form' do %>
  <div class="input-group">
    <%= hidden_field_tag :hidden,
      params[:hidden]
    %>
    <%= text_field_tag :composition_name,
      params[:composition_name],
      placeholder: "Name of composition",
      class: "form-control"
    %>
    <%= submit_tag "Search", class: "button" %>
  </div>
<% end %>
