<div class="composers-compositions-container grid-container">

  <div class="lead balance-transaction-container-back-link">
    <%= link_to "Back", admin_person_path(current_user) %>
  </div>

  <%= render "admin/shared/admin_info", person: @composer.account.person %>

  <div class="compositions-title">
    <h3 class="header"><%= @composer.full_name %>'s Compositions</h3>
    <% if @hidden %>
      <div class="compositions-link">
        <%= link_to "Compositions", admin_composer_compositions_path(@composer) %>
      </div>
    <% else %>
      <div class="compositions-link">
        <%= link_to "Hidden Compositions", admin_composer_compositions_path(@composer, hidden: true) %>
      </div>
    <% end %>
    <div class="compositions-download">
      <%= link_to "Download as .CSV", "/admin/composers/#{@composer.id}/compositions/download_csv", class: "button" %>
    </div>
  </div>

  <p class="grid-container note">
    Note: If a composition's <b>work code</b> or <b>recording id</b> already exists in RightsApp,
    the codes stored in RightsApp will be updated within our system and reflected in the UI upon submission.
  </p>

  <%= render partial: 'search' %>

  <%= will_paginate(@compositions, next_label: "Next", previous_label: "Previous") %>

  <%= render partial: (@hidden ? 'hidden_compositions' : 'compositions') %>
</div>
