$("[data-composition-id='<%= @composition.id %>']").html("<%= j render "composition_row",
                                                         composer: @composer,
                                                         composition: @composition,
                                                         readonly: !editable?(@composition) %>")
