<section class="grid_16 alpha omega">
  <h2>Aging Accounts Reporting</h2>
<fieldset class="two-column small">
  <%= form_tag("/admin/aging_accounts", :method => :post) do -%>
    <div>
      <div class="left-column grid_1">
        <label for="period">
          Month
        </label>
          <%= select_month(Date.today, name: 'month') %>
      </div>
      <div class="right-column grid_13">
        <label for="period">
          Year
          <%= select_year(Date.today, start_year: 2006, end_year: Date.today.year) %>
        </label>
      </div>
      <div style="clear:both" class="left-column grid_7">
        <div>
          <label for="user_ids">
            User Ids Separated by Comma (type 'all' for every user)
          </label>
          <%= text_field_tag("user_ids") %>
        </div>
      </div>
    </div>

    <div class="grid_10" style="margin-top: 5px; clear: both;">
      <%= submit_tag("Create Report")%>
    </div>
  <% end -%>
</fieldset>

<fieldset class="two-column small">
  <h3> Reports </h3>
    <% @reports.each do |url, key_value| %>
      <div>
        <a href="<%= url %>"><%= key_value %></a>
      </div>
    <% end %>
</fieldset>
</section>
