<style>
label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}

#new_album_country_relation_type_service_form span {
  float: left;
  width: 20%;
}
</style>

<h2>Countries for <%= display_name(@album) %></h2>
<a href="#" onclick="javascript:setCheckboxes('include', <%= Country::US_ONLY %>)">US Only</a> |
<a href="#" onclick="javascript:setCheckboxes('exclude', <%= Country::US_ONLY %>)">Non-US Only</a> |
<a href="#" onclick="javascript:setCheckboxes('include', <%= Country::EU_GB_ONLY %>)">EU/UK Only</a> |
<a href="#" onclick="javascript:setCheckboxes('exclude', <%= Country::NON_EU_GB_ONLY %>)">Non-EU/UK Only</a> |
<a href="#" onclick="javascript:setCheckboxes('exclude', <%= Country::GB_ONLY %>)">Non-UK Only</a> |
<a href="#" onclick="javascript:setCheckboxes('exclude', [])">All</a> |
<a href="#" onclick="javascript:setCheckboxes('include', [])">None</a>

<br/>
<br/>
<%= simple_form_for @relation_service_form, url: admin_album_album_countries_path, method: :put do |f| %>
  <%= f.collection_check_boxes :iso_codes, @countries, :last, :first, checked: @selected_country_codes %>
  <br />
  <div class="clearfix">
  <%= f.submit "Submit" %>
  </div>
<% end %>

<script type="text/javascript">
  function setCheckboxes(relation, iso_codes) {
    var checkboxes = document.forms[0].elements;
    var i;

    for (i=0; i < checkboxes.length; i++ ) {
      checkbox = checkboxes[i];
      if (relation == 'include') {
        checkbox.checked = '';
        for (j=0;j < iso_codes.length;j++) {
          iso_code = iso_codes[j];
          if (checkbox.value == iso_code) {
            checkbox.checked = 'checked';
          }
        }
       } else {
        checkbox.checked = 'checked';
        for (j=0;j < iso_codes.length;j++) {
          iso_code = iso_codes[j];
          if (checkbox.value == iso_code) {
            checkbox.checked = '';
          }
        }
      }
    }
  }
</script>
