<% if !album.petri_bundle.nil? && album.petri_bundle.current_state != :dismissed %>
	<span id='album_mini_status_total' style='font-size:larger;color:green;'>This album is currently in a bundle</span><br />
<% elsif album.has_required_elements? && album.payment_applied? %>
	<span id='album_mini_status_total' style='font-size:larger;color:green;'>This album is ready to be bundled</span><br />
<% elsif album.has_required_elements? && !album.payment_applied? %>
	<span id='album_mini_status_total' style='font-size:larger;color:red;'>This album is ready to be bundled, but it has not been paid for.</span><br />
<% else %>
	<span id='album_mini_status_total' style='font-size:larger;color:red;'>This album is not ready to be bundled</span><br />
<% end %>
<strong>Status of album:</strong><br />
<% if album.has_artwork? %>
	<span class='notice'>Album has artwork</span><br />
<% else %>
	<span class='error'>Album has no artwork</span><br />
<% end %>
<% if album.has_tracks? %>
	<span class='notice'>Album has tracks</span><br />
<% else %>
	<span class='error'>Album tracks are incomplete</span><br />
<% end %>
<% if album.has_stores? %>
	<span class='notice'>Album has stores</span><br />
<% else %>
	<span class='error'>Album has no stores</span><br />
<% end %>
<% if Inventory.used?(album) %>
	<span class='notice'>Album has been distributed</span><br />
<% else %>
	<span class='error'>Album has not been distributed</span><br />
<% end %>
<strong>Salepoints for this album:</strong><br />
<span style="position:relative;left:10px;">
<% album.salepoints.each do |salepoint| %>
	<%= salepoint.store.name %> (<%= salepoint.status %><% unless salepoint.payment_applied %> - Unpaid<% end %>)<br />
<% end %>
</span>


