<div class="title-box clearfix album_renewal">
  <h3>Renewals</h3>
  <% if renewal -%>
    <%unless album.person.plan%>
      <h4>
        <%= raw(renewal.canceled_at.nil? ? (renewal.expires_at < Time.now ? "<span class='em'>Overdue:</span> Expired" : "Next Due:" ) : "Renewal Cancelled. Expires:")  %>
        <%= renewal.expires_at.strftime("%Y-%m-%d") %>
      </h4>
      <h4>
        <% if album.takedown? -%>
          Taken down <%=album.takedown_at.to_s(:db) %>, will not renew.
        <% elsif renewal.expires_at > Time.now -%>
          <%= link_to(renewal.canceled_at.nil? ? "Mark as 'Do Not Renew'" : "Reactivate Renewal" , edit_admin_album_renewal_path(album, minWidth: 390, minHeight: 335), class: 'lightbox') %>
        <% end -%>
      </h4>
      <br/>
      <dd>Renews: <% if album.renewal.renewal_duration > 1 %>every <strong><%= album.renewal.renewal_duration %> <%= album.renewal.renewal_interval %>s</strong><% else %><strong><%= album.renewal.renewal_interval %>ly</strong><% end %>
        <%= link_to("(edit)", edit_renewal_admin_album_path(album, minWidth: "340", minHeight: "250"), class: "lightbox")  %>
      </dd>
    <%end%>
    <dd><em>Renewal events</em> </dd>
    <% renewal_history.each do |history| -%>
      <dd><%= history.starts_at.strftime("%Y-%m-%d") %> to <%= history.expires_at.strftime("%Y-%m-%d") %> (<%= distance_of_time_in_words(history.starts_at, history.expires_at) %>)</dd>
    <% end -%>
    <%unless album.person.plan%>
      <dd>Renewal Started on: <span id="some_id"><%= renewal.starts_at.strftime("%Y-%m-%d") %></span></dd>
      <br/>
      <% unless album.takedown? -%>
        <dd><em>The next renewal will come due on:</em></dd>
        <dd>- <%= renewal.expires_at.to_s(:db) %>
          <span id='album_renewal_beginning_<%= "#{album.id}"-%>'>
            <%= link_to("(edit)", show_edit_renewal_beginning_admin_album_path(album),
              :class=>"edit_renewal_beginning",
              :remote=>true) %>
          </span>
        </dd><br/>
      <% end -%>
      <% if !renewal_notes.empty? -%>
        <h4>Renewal Notes</h4>
        <%= render :partial => 'admin/notes/album_note', :collection=>renewal_notes, locals: { album: album } %>
      <% end -%>
    <% end -%>
  <% else -%>
    <dd>This album is not known to have renewal history.</dd>
  <% end -%>
</div>

<% content_for :external_javascript do %>

  <script type="text/javascript">
    jQuery(function(){
      jQuery(".edit_renewal_beginning").live("ajax:beforeSend", function(xhr){
        jQuery(this).hide();
        jQuery(this).closest("span").append("working...");
      })
      .live("ajax:success",function(event, data, status, xhr){
        jQuery(this).closest("span").html(data);
      });

    });
  </script>

<% end %>
