<span class='admin-button' style='background-color:yellow;top:15px;position:relative;'>
<%= link_to "<span style='color:red;'>> Bundle Album <</span>".html_safe, {:action => 'bundle_album', :album_id => album.id}  %>
</span>
<br/><br/>