<div id="bundle_control_flash" class="title-box-flash" style="display:none;"></div>
<div id='bundle_control' class="title-box">
	<h3>Album bundle control</h3>
	<div id="bundle_control_buttons" name="bundle_control_buttons" style="float:right;">
		<%= render :partial => 'bundle_control_buttons', :locals => { :album => album } %>
	</div>
	<div id="album_mini_status">
		<%= render :partial => 'album_mini_status', :locals => { :album => album } %>
	</div>
</div>