<div class="distribution-song-wrapper clearfix">
  <div>
    <% if ds.salepoint_song %>
      <% if ds.salepoint_song.song %>
        <%= display_name(ds.salepoint_song.song) %>
      <% else %>
        <span class="notice">This Song has been deleted</span>
      <% end %>
    <% end %>
  </div>
  <div style="float:right; overflow:hidden; text-align: right;">
    <span style='display:inline-block;border:solid thin red;background-color:yellow;padding:2px;margin:4px;'>
      <%= link_to "<span style='text-decoration:none;color:red;font-weight:bold;'>retry</span>".html_safe, retry_distribution_song_admin_distribution_songs_url(id: ds.id, delivery_type: "full_delivery", album_id: album.id),
      :class=>"retry_distro_song",
      :remote=>true %>
    </span>
    <br>
     <span style='display:inline-block;border:solid thin red;background-color:yellow;padding:2px;margin:4px;'>
      <%= link_to "<span style='text-decoration:none;color:red;font-weight:bold;' class='retry_petri'>priority retry</span>".html_safe,
          admin_distribution_retry_index_path(album_id: album.id, distribution_id: distro.id, delivery_type: "full_delivery", priority: 1),
          class: "retry_petri",
          method: :post,
          remote: true %>
      </span>
    <br>
    <span style='display:inline-block;border:solid thin red;background-color:yellow;padding:2px;margin:4px'>
      <%= link_to "<span style='text-decoration:none;color:red;font-weight:bold;'>send metadata update</span>".html_safe, retry_distribution_song_admin_distribution_songs_url(id: ds.id, delivery_type: "metadata_only", album_id: album.id),
      :class=>"retry_distro_song",
      :remote=>true %>
    </span>
  </div>
  <br>
  <strong>Distribution State:
  <% if ds.processing? || ds.current_state.to_s == "new" %>
    <span class='notice'><%=ds.current_state%></span>
  <% elsif ds.delivered? %>
    <%=ds.current_state%>
  <% else %>
    <span class='error'><%=ds.current_state%></span>
  <% end %>
  <% if ds.delivered? && ds.transitions.present? && ds.transitions.last.message && ds.transitions.last.message[/metadata is archived/]%>
  (<a href="/admin/petri/show_metadata?distro_id=<%= ds.id %>&distro_class=DistributionSong">metadata</a>)
  <% end %>
  </strong>
  <div><strong>ISRC:</strong> <%= ds.salepoint_song.try(:song).try(:isrc) %></div>
</div>
