<%# see admin/albums/show.html for javascript binding %>
<%= form_tag update_renewal_date_admin_album_path(album), :remote=>true, :method=>:put, :id=>"update_renewal_date" do %>
		<h4>Note: Renewal date must be after <%= last_start.strftime('%m/%d/%Y') %></h4>
			<%= text_field_tag :renewal_due_on -%><br/>
	<%= submit_tag "Update" %>
<% end %>
