<div id="finalize-popup" class="form_popup">
  <div>
    <% if album.nil? %>
      <h2>Do these releases need a review?</h2>
      <div class="finalize-buttons">
        <br>
        <a href="#" class="action-btn left needs-review">Yes</a>
        <a href="#" class="action-btn right no-review-needed">No</a>
      </div>
    <% else %>
      <h2>Does this release need a review?</h2>
      <div class="finalize-buttons">
        <h4>Status of last review audit: <span class="previous-review-state"><%=album.last_review_state%></span></h4>
        <br>
        <%= link_to "Yes", {action: 'finalize', id: album.id, review: true}, class: "action-btn left", method: :post %>
        <%= link_to "No", {action: 'finalize', id: album.id, review: false}, class: "action-btn right", method: :post %>
      </div>
    <% end %>
  </div>
</div>
