<% if album.finalized? && album.created_with_songwriter? -%>
  <%= link_to unfinalize_link_text,
      {action: 'unfinalize', id: album.id},
      method: :post
  %>
<% elsif album.finalized? -%>
  <a href='#unfinalize-popup' class='open-unfinalize-popup'>
    <%= unfinalize_link_text %>)
  </a>
<% elsif album.should_finalize? && album.already_paid? -%>
  <%= finalize_link(album, "Finalize") %>
  <% if display_unpaid_artist_warning?(album) %>
    <span class="error">Warning: this user has unpaid additional primary artists</span>
  <% end %>
<% else -%>
  Unable to Finalize
  <div class="error" style="padding: 0px 0px 0px 5px;">
    <% if !album.has_artwork? -%>
      Album has no artwork<br />
    <% end -%>
    <% if !album.has_tracks? -%>
      Album tracks are incomplete<br />
    <% end -%>
    <% if !album.has_stores? -%>
      Album has no stores<br />
    <% end -%>
  </div>
<% end -%>
