<dl class="india-doc-review">
  <div class="flash-msg"></div>

  <div class="title-box clearfix">
    <h3>India - Documentation Review</h3>

    <div>
      <%= link_to "Download/Upload Files", copyright_documents_admin_person_album_path(album.person, album) %>
    </div><br/>

    <%= form_with model: copyright_status, url: admin_copyright_status_path(copyright_status), remote: true do |f| %>
      <div>Completed Doc Review:
        <span class="copyright-status <%= copyright_status.status %>-status">
          <%= copyright_status.status.capitalize %>
        </span>
      </div>

      <%= f.select :status,
        options_for_select(
          CopyrightStatus.statuses.keys.map { |k| [k.capitalize, k]},
          selected: f.object.status
        ),
        label: "Legal Document Review Status:" %>

      <div class="note">
        <%= f.fields_for :note, album.notes.build do |note_form| %>
          <%= note_form.text_area :note, label: "Note:", placeholder: "Required" %>
        <% end %>
      </div>

      <%= submit_tag("Submit") %>
    <% end %>
  </div>
</dl>
