<%-# Please, I *beg* of you... don't bloat this out -%>
<%-# It's just supposed to be a common pretty nav header when looking at stuff subordinate to an album -%>
<%-# expects :locals of :album and :person -%>
<div class="album_summary">
	<div class="album_cover">
      <%= image_tag(artwork_400x400(album), :alt => display_name(album) + " Cover", :width=>100, :height=>100) %>
			<br />
	</div>
	<div class="summary_details" style="text-align:left; margin:5px;">
		<dl style="rtworwidth:295px; float:left;">
			<dt><%= link_to h(display_name(album)), :controller => '/admin/albums', :action => 'show', :id => album.id %></dt>
			<dd class="artist">Artist: <strong><%= album.artist_name%></strong></dd>
			<dd>Owner: <%= link_to(h(person.name), :controller => '/admin/people', :action => :show, :id => person.id) %></dd>
			<dd>Purchase History: <%= pluralize(album.related_purchases.count, 'purchase')%> [ <%= link_to('list', admin_person_album_purchases_path(person,album))%> ]</dd>
			<dd>Bundle History: wait for it...</dd>
    </dl>
  </div>
</div>
<div style="clear:both; margin-top:10px">&nbsp;</div>
