<%# 2009-12-17 -- ABB -- Removed access to Admin album "undelete" action %>
<%= javascript_include_tag "/javascripts/prototype.js" %>
<%= javascript_include_tag "/javascripts/effects.js" %>
<%= javascript_include_tag "/javascripts/dragdrop.js" %>
<%= javascript_include_tag "/javascripts/controls.js" %>
<%= javascript_include_tag "/javascripts/application.js" %>

<% if album.person.vip?%>
  <h2 class="error">VIP customer</h2>
<% end %>

<% if [Person::SUSPICIOUS, Person::LOCKED].include?(album.person.status) %>
  <h2 class="error">
    <%= album.person.status %> <%= "(#{album.person.lock_reason})" if !album.person.lock_reason.blank? %>
  </h2>
<% end %>

<div class="grid_8 alpha">
  <div>
    <%= image_tag(artwork_400x400(album), alt: display_name(album) + " Cover", width: 100, height: 100,  class: "admin-album-img" ) %>
  </div>

  <dl>
    <dd class="artist">
      <% if album.is_various? %>
        Primary Artist: <strong><%= album.artist_name%></strong>
      <% else %>
        Primary Artist: <strong><%= creatives_display(album.primary_artists)%></strong>
        <% if album.featured_artists.size > 0 %><br/> Featured Artists: <strong><%= creatives_display(album.featured_artists)%></strong><% end %>
      <% end %>

      <% unless album.label_name.blank? %>
        <br />Label: <strong><%= h album.label_name %></strong>
      <% end %>

      <br/>Source: <strong><%= album.source %></strong>
      <br/>
    </dd>
  </dl>

  <% if @album_state %>
    <br/>
    <dl>
      <dd>
         <div class="title-box clearfix" style="clear:both">
               <h3 style="color:red"> Dismissed </h3>
        </div>
      </dd>
    </dl>
  <% end %>

  <% if album.person.has_encumbrance? %>
    <br/>
    <div class="title-box clearfix" style="clear:both">
      <h3>Account Alerts</h3>
      <% album.person.encumbrance_summaries.outstanding.each do |es| %>
        <span class="user_status_suspicious">
          Encumbrance: <%= number_to_currency(es.outstanding_amount) %> (created <%= es.created_at.strftime('%B %d %Y') %>)
        </span><br />
      <% end %>
    </div>
  <% end %>

  <br/>
  <div class="title-box clearfix" style="clear:both">
    <h3>Creatives</h3>
    <% album.creatives.each do |x| %>
      <%= raw("<strong>#{x.role.camelize}:</strong> #{x.name}") %> <%= link_to('remove', {action: 'remove_creative', id: x.id, album_id: album.id}, data: { confirm: 'Are you sure that you would like to remove this creative?'} ) unless album.finalized? %><br/>
    <% end %>
    <% unless album.finalized? %>
      <%= form_for(:album, url: url_for(action: 'add_creative', id: album.id, poly: 'Album')) do |f| %>
        <%= text_field_tag :name, '', size: 20 %>
        <%= select_options_for_roles %>
        <%= submit_tag "add role" %>
      <% end %>
    <% end %>
  </div>

  <br/>
  <div class="title-box clearfix" style="clear:both">
    <h3>Album ID:  <%=h album.id %></h3>
    <dd>Tunecore UPC: <span id='new_tc_upcX'><%= album.tunecore_upc %> </dd>
    <% if album.physical_upc %>
      <dd>Physical UPC: <span id="physical_upc"><%= album.physical_upc %> </dd>
    <% end %>
    <dd id="optional_upc_area">
      <% if album.is_editable? %>
        <%= render partial: "optional_upc_form", locals: { album: album } %>
      <% else %>
        <dd>Optional UPC: <span id="optional_upc-ext"><%= album.optional_upc %> </dd>
      <% end %>
    </dd>
    <dd>
      <% if (!album.has_possibly_been_finalized?) %>
        <%= link_to "Generate New", {action: 'generate_album_tunecore_upc', id: album.id}, class: "generate_upc" %>
      <% end %>
    </dd>
    <dd>Apple ID: <%= album.external_id_for("apple") %></dd>
    <dd>Genres: <%=h album.genres.collect {|g| g.name }.join(", ") %></dd>
    <dd>Language: <%= album_language(album).description %> (<%= album_language(album).code %>)</dd>
    <dd>Purchase History: <%= link_to('list', admin_person_album_purchases_path(album.person_id, album.id))  %></dd>
    <dd>Primary Genre: <%=h [display_primary_genre(album), display_primary_subgenre(album)].join(", ") %></dd>
    <dd>Secondary Genre: <%=h [display_secondary_genre(album), display_secondary_subgenre(album)].join(", ") %></dd>

    <% album.calculate_steps_required %>
    <dd>Album State: <strong><%= display_album_state(album) %></strong></dd>
    <dd>Album Source: <strong><%= album.source %></strong></dd>
    <% if album.preorder_purchase.present? && album.preorder_purchase.paid_at? %>
      <dd>Preorder Purchase Type: <%= preorder_purchase_type(album.preorder_purchase) %></dd>
    <% end %>
    <dd>Renewal Fee: <strong><%= album.finalized? ? "#{money_to_currency(Renewal.renewal_price_for(album))} / #{album.renewal.renewal_interval if album.renewal}" : 'must be finalized' %></strong></dd>
    <dd>Lowest Audio Quality:
      <strong>
        <%= content_tag(
          :span, album.lowest_audio_quality.upcase,
          style: "color: #{audio_quality_color(album.lowest_audio_quality)}"
        ) %>
      </strong></dd>
  </div>
  <br />

  <div class="title-box clearfix" id="booklet_<%= album.id %>">
    <h3>Booklet</h3>
    <% if album.booklet.nil? %>
      <%= form_tag create_booklet_admin_album_path(album), multipart: true do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= file_field_tag :booklet_file %>
        <%= submit_tag "Submit" %>
      <% end %>
    <% elsif album.booklet && album.booklet.paid_at %>
      <%= form_tag replace_booklet_admin_album_path(album), multipart: true do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= file_field_tag :booklet_file %>
        <%= submit_tag "Replace" %>
      <% end %>
    <% else %>
      <%= link_to('Remove booklet', action: 'delete_booklet', id: album) %>
    <% end %>
    <br />
    <%= link_to('Download booklet', album.booklet.url) if album.booklet %>
  </div>

  <br/>
  <div class="title-box clearfix">
    <h3>Dates</h3>
    <dd>Created: <%= album.created_on.to_s(:db) %></dd>
    <% if album.is_deleted? and album.deleted_date -%>
      <dd>Deleted On: <%= album.deleted_date.to_s(:db) %></dd>
    <% end -%>
    <dd><%= inline_edit_with_cue(:album, :orig_release_year, "Orig. Release Year: ") %></dd>
    <% if album.ringtone? %>
      <dd><%= inline_edit_with_cue(:album, :sale_date, "Customer Release Date: ") %></dd>
    <% else %>
      <%= render partial: 'timed_release_fields', locals: {album: album} %>
    <% end %>

    <% unless album.known_live_on.nil? -%>
      <dd>Known Live on iTunes: <%=h album.known_live_on.to_s(:db) %></dd>
    <% end -%>
    <dd>Finalized:
      <%= render 'finalize_unfinalize', album: album %>
    </dd>
    <% if album.preorder_purchase.present? && album.preorder_purchase.paid_at? %>
      <dd>Pre-order Start Date: <%= album.preorder_purchase.salepoint_preorder_data.first.start_date %></dd>
      <dd>Pre-order Paid At: <%= album.preorder_purchase.paid_at %></dd>
    <% end %>
    <dd>Updated: <%= album.updated_at.to_s(:db) %></dd>
  </div>
  <br />
  <%= render partial: 'admin/albums/annual_fees', locals: { album: album, renewal: @renewal, renewal_history: @renewal_history, renewal_notes: @renewal_notes } %>
  <br/>
  <%= render partial: 'admin/albums/takedown_and_blocks', locals: { album: album } %>
  <br />
  <div class="title-box clearfix">
    <h3>Other Info</h3>
    <dd>Owner:
      <% if @person && @person.id == album.person_id -%>
        <%= link_to(h(@person.name), controller: '/admin/people', action: :show, id: @person.id) %>
      <% else -%>
        <%= link_to(h(album.person.name), controller: '/admin/people', action: :show, id: album.person_id) %>
      <% end -%>
    </dd>
    <dd>Email: <a href="mailto:<%= album.person.email %>"><%= album.person.email %></a></dd>
    <dd><%= link_to("Send Assets to Bigbox", controller: 'admin/albums', action: 'send_to_bigbox', id: album.id) %></dd>
    <% if current_user.has_role?("Download Assets") %>
      <dd>Download Assets: <%= link_to('Assets', controller: 'admin/albums', action: 'recover_s3_assets', id: album.id) %>
        <%= link_to("<span id='assets_audit_link'>(Show Audit)</span>".html_safe,
            {action: 'audit_s3_assets', id: album.id} ) %>
      </dd>
    <% end %>

    <dd>
      <span id='album_name_format_<%=album.id%>'>
        <% if album.allow_different_format -%>
          Album, song, and artist names are <strong>not</strong> auto-formatted
        <% else -%>
          Album, song, and artist names are auto-formatted
        <% end -%>
      </span>
      <%= link_to("<span id='album_name_format_link_#{album.id}'>(change)</span>".html_safe,
                  {action: 'change_album_format_flag', id: album.id}) %>
    </dd>

    <br/>
    <% if album.has_store?("iTunesWW") %>
      <h4>iTunes Info</h4>
      <% if album.live_in_itunes? %>
        <dd>iTunes link: <%= raw(ItunesLinkinator.itunes_raw_link(album)) %> (right click to copy link)</dd>
      <% end %>
      <dd><input type="button" id="getAppleInfo" value="Load iTunes Connect Status" data-external-service="apple_album_id" data-album-id="<%= album.id %>" /></dd>

      <div id="appleErrors"></div>
      <div>
        State: <%= @album_itunes_status.content_review_status %><br/>
        Status: <%= @album_itunes_status.itunes_connect_status %><br/>
        Stores: <span class="itunes-territory-list"><%= @album_itunes_status.stores_list %></span><br/>
        Created: <%= @album_itunes_status.itunes_created_at %><br/>
        Content state: <%= @album_itunes_status.content_state_status %><br/>
        Apple Id: <%= album.external_id_for("apple") %><br/>
        Last Updated: <%= @album_itunes_status.updated_at? ? @album_itunes_status.updated_at.strftime("%Y-%m-%d") : nil %>
      </div>
    <% end %>

    <br/>

    <% if album.has_store?("Spotify") %>
      <h4>Spotify Info</h4>
      <input type="button" id="getSpotifyInfo" value="Get Spotify URIs" data-external-service="spotify_uris" data-album-id="<%= album.id %>" />
      <dd><b>Album URI:</b> <%= album.external_service_ids.by_service("spotify").first.try(:identifier) %></dd>
      <dd><b>Track URIs:</b></dd>
      <% album.esis_for_songs_by_service("spotify").each do |esi| %>
        <dd><i><%= esi.linkable.name %></i>: <%= esi.identifier %></dd>
      <% end %>
    <% end %>
  </div>

  <br/>
  <dl class="metadata_changelog">
    <div class="title-box clearfix">
      <h3>Album Notes</h3>
      <div class="album-notes">
        <% if !@album_notes.empty? -%>
            <%= render partial: 'admin/notes/album_note', collection: @album_notes, locals: { album: album } %>
        <% else -%>
          <p>There are no notes for this album</p>
        <% end -%>
      </div>
    </div>
  </dl>
  <div class="title-box clearfix" style="clear:both">
    <h3>Review Audits</h3>
    <% album.review_audits.each do |review_audit| -%>
      <dd style="margin-bottom:6px;">
        <%= review_audit.updated_at.to_s(:db) %>
        <%= crt_friendly_status(review_audit.event) %> by
        <%= "#{review_audit.person.first_name}" %> <%= "#{review_audit.person.last_name}" %>
        <% if review_audit.review_reasons.present? %>
          <div>reasons:
            <%= review_audit.review_reasons.size > 1 ?
                  review_audit.review_reasons.map(&:reason).join(', ') :
                  review_audit.review_reasons.map(&:reason).join('<br>')
            %>
          </div>
        <% end %>
        <% if review_audit.note.present? -%>
          <div>note: <%= "#{review_audit.note}" %></div>
        <% end -%>
      <dd>
    <% end -%>
  </div>

  <br/>
  <dl class="metadata_changelog">
    <div class="title-box clearfix">
      <h3>Track Notes</h3>
      <% @song_notes.each do |note| -%>
        <b>Track <%=note.track_num %></b>: <%=note.subject%><br />
        <b>On</b> <small><%=note.created_at.strftime('%Y-%m-%d at %H:%M:%S')%></small><br />
        <b>Note:</b> <%=note.note%><br />
        <b>By:</b> <%=note.note_created_by_name %><br />
        <b><%= note.related.class %> ID:</b> <%= note.related.id %><hr />
      <% end -%>
    </div>
  </dl>
</div>

<div class="grid_8 omega">
  <%= render partial: '/admin/shared/action_links', locals: {album: album}%>
  <% if @album.person.india_user? && @album.copyright_status.present? %>
    <%= render "indian_doc_review", album: @album, copyright_status: @album.copyright_status %>
  <% end %>
  <%= render partial: '/admin/shared/songs', locals: {album: album}%>
</div>

<div class="clear"></div>

<style type="text/css" media="screen">
.ui-dialog-titlebar-close {
  visibility: hidden;
}
</style>

<div id="block-confirm" title="Block this store?">
  <p style="margin-bottom: 0"></p>
</div>

<div id="unblock-confirm" title="Un-Block this store?">

</div>
