<%
	row_style = ["background-color: #E3E3E3;","background-color: #FFFFFF;"]
%>
<% old_bundles.sort{|a,b| b.id <=> a.id}.each do |bundle| %>
<div id='old_petri_bundle_<%=bundle.id%>' name="petri_bundle" class="title-box">
	<h3>
    <a href="javascript:void(0);" onclick="toggle_old_petri_bundle(<%= bundle.id %>);">Old bundle <%= bundle.id %> (click to show/hide)</a>
	</h3>
	<div id='old_petri_bundle_<%=bundle.id%>_inner_contents' style="display:none;">
		<div id='old_petri_distributions_<%=bundle.id%>' style='float:right;width:50%'>
			<span><strong>--Distributions--</strong></span><br /><br />
			<% bundle.distributions.each do |distro| %>
				<div id='distribution_<%=distro.id%>' class="title-box">
					<div class="title-box-title"><%=distro.salepoints.first.store.name unless distro.salepoints.empty? %>...</div>
					<div id='distribution_<%=distro.id%>_content'>
					<%= render :partial => 'petri_distribution', :locals => {
						:album => album,
						:bundle => bundle,
						:distro => distro,
						:row_style => row_style,
						:new_distribution => false } %>
					</div>
				</div>
			<% end %>
			<div style='clear:both;'></div>
		</div>
		<div id='old_petri_bundle_content_<%=bundle.id%>' style='float:left;width:50%'>
			<strong>Bundle state: 
			<span id='bundle_state'>
			<%= case bundle.current_state.to_s 
				when "new", "processing"
					"<span class='notice'>"
				when "error" 
					"<span class='error'>" 
				else
					""
				end %><%=bundle.current_state%></span></span></strong><br /><br />
			<div id='old_bundle_state_history_<%=bundle.id%>' class="title-box">
				<div class="title-box-title">State history</div>
				<div id='old_bundle_state_history_content_<%=bundle.id%>'><%= render :partial => 'state_machine_history', :locals => {:state_machine => bundle, :row_style => row_style } %></div>
			</div>
		</div><br />
		<div style='clear:both;'></div>
	</div>
	<div style='clear:both;'></div>
</div><br /><br />
<%	end  %>

<% content_for :external_javascript do %>
  <script type="text/javascript">
    function toggle_old_petri_bundle(id){
      var html_id = "#old_petri_bundle_" + id + "_inner_contents";
      jQuery(html_id).toggle();
    }
  </script>
<% end %>
