<%
  class_names = {gathering_assets: :notice, packaged: :notice, enqueued: :notice, dequeued: :notice, error: :error, errored: :error}
  tc_distributor_flag = FeatureFlipper.show_feature?(:tc_distributor_metadata, current_user)
  releases_store = @latest_releases_stores&.dig(distro.id) if tc_distributor_flag
%>

<% if bundle.created_at != nil && bundle.created_at > Time.parse("2007-11-22") %>
  <span style='float:right;border:solid thin red;background-color:yellow;padding:2px;'>
  <% if distro.converter_class == "MusicStores::Youtube::Converter" %>
    <% if current_user.has_role?("Publishing Manager") %>
      <%= link_to "<span style='text-decoration:none;color:red;font-weight:bold;' class='retry_petri'>retry</span>".html_safe,
        admin_distribution_retry_index_path(album_id: album.id, distribution_id: distro.id, delivery_type: "full_delivery", priority: 0),
        class: "retry_petri",
        method: :post,
        remote: true %>
    <% else %>
      must be pub manager to retry
    <% end %>
  <% else %>
    <% if distro.store_is_in_use? %>
      <%= link_to "<span style='text-decoration:none;color:red;font-weight:bold;' class='retry_petri'>retry</span>".html_safe,
        admin_distribution_retry_index_path(album_id: album.id, distribution_id: distro.id, delivery_type: "full_delivery", priority: 0),
        class: "retry_petri",
        method: :post,
        remote: true %>
      <% if current_user.has_role?("Priority Retry") %>
        </span>
        <br/><br/>
        <span style='float:right;border:solid thin red;background-color:yellow;padding:2px;'>
          <%= link_to "<span style='text-decoration:none;color:red;font-weight:bold;' class='retry_petri'>priority retry</span>".html_safe,
            admin_distribution_retry_index_path(album_id: album.id, distribution_id: distro.id, delivery_type: "full_delivery", priority: 1),
            class: "retry_petri",
            method: :post,
            remote: true %>
        <% end %>
      <% else %>
        store not active
      <% end %>
  <% end %>
  </span>

    <% if distro.has_valid_converter_class? && distro.store_is_in_use? && distro.converter.supports_metadata_with_assets? %>
      <span style='float:right;border:solid thin red;background-color:yellow;padding:2px;'>
      <%= link_to "<span style='text-decoration:none;color:red;font-weight:bold;' id='#{distro.id}_update_retry_button'>send update</span>".html_safe,
        admin_distribution_retry_index_path(album_id: album.id, distribution_id: distro.id, delivery_type: "metadata_with_assets", priority: 0),
        method: :post,
        remote: true %>
      </span>
    <% end %>

    <% if distro.has_valid_converter_class? && distro.store_is_in_use? && distro.converter.supports_metadata_update? %>
    <br/><br/>
      <% if distro.converter_class == "MusicStores::Amazonod::Converter" %>
        <span style='float:right;border:solid thin red;background-color:yellow;padding:2px;'>
        <%= link_to "<span style='text-decoration:none;color:red;font-weight:bold;'>send update</span>".html_safe,
          admin_distribution_retry_index_path(album_id: album.id, distribution_id: distro.id, delivery_type: "metadata_with_assets", priority: 0),
          class: "retry_petri",
          method: :post,
          remote: true %>
        </span>
        <br/> <br/>
        <span style='float:right;border:solid thin red;background-color:yellow;padding:2px;'>
        <%= link_to "<span style='text-decoration:none;color:red;font-weight:bold;'>send metadata update</span>".html_safe,
          admin_distribution_retry_index_path(album_id: album.id, distribution_id: distro.id, delivery_type: "metadata_only", priority: 0),
          class: "retry_petri",
          method: :post,
          remote: true %>
        </span>
      <% else %>
        <span style='float:right;border:solid thin red;background-color:yellow;padding:2px;'>
        <%= link_to "<span style='text-decoration:none;color:red;font-weight:bold;' >send metadata update</span>".html_safe,
          admin_distribution_retry_index_path(album_id: album.id, distribution_id: distro.id, delivery_type: "metadata_only", priority: 0),
          class: "retry_petri",
          method: :post,
          remote: true %>
        </span>
      <% end %>
    <% end %>
<% end %>

<% if show_curated_artist_view?(distro, current_user) %>
  <span class="curated_artist">Curated Artist</span>
  (<%= link_to "override",
    update_curated_artists_admin_distribution_retry_path(distribution_id: distro.id),
    method: :patch,
    remote: true %>)
  <br/>
<% end %>

<% if tc_distributor_flag %>
  <strong>Tc-Dist State:<br/>
  <% if new_distribution %>
    <span class='notice'>gathering_assets</span> | <span class='notice'>gathering_assets</strong></span>
  <% elsif releases_store %>
    <span id="<%=releases_store.id %>_releases_store_state">
    <span class="<%= class_names[releases_store.state.to_sym] || '' %>"><%= releases_store.state %></span></strong> (<%= link_to 'XML', "/admin/albums/#{@album.id}/download_xml_metadata/#{releases_store.id}"%>)
    <strong>
      | <span class="<%= class_names[releases_store.release.state.to_sym] || '' %>"><%= releases_store.release.state %> </span>
    </strong>
    (<%= link_to "JSON #{releases_store.release.version}", "/admin/albums/#{@album.id}/download_json_metadata/#{releases_store.release.id}"%>)
    </span>
  <% else %>
    none | none </strong>
  <% end %>
  <br/>
  <% if releases_store&.last_batch_id %>
    <strong>Batch ID: </strong>
    <%=releases_store.last_batch_id%>
    (<strong><%=releases_store.last_batch_state%></strong>)
    on <%=releases_store.last_batch_updated_at.to_datetime.to_s(:db)%>
    <br/>
  <% end %>
<% end %>

<strong>Legacy State:<br/><span id="<%=distro.id%>_distro_state">
<%= if distro.processing? || distro.current_state.to_s == "new"
  "<span class='notice'>".html_safe
elsif distro.delivered?
  ""
else
  "<span class='error'>".html_safe
end %>

<%= distro.current_state %></span></span></strong>
<% if distro.delivered? && distro.transitions.last && distro.transitions.last.message && distro.transitions.last.message[/metat{0,1}data is archived/] %>
  (<a href="/admin/petri/show_metadata?distro_id=<%= distro.id %>">metadata</a>)
<% end %>



<br />
<span><strong>Salepoints: </strong>
<% distro.salepoints.each do |sp| %>
  <%=sp.store.name%>&nbsp;
<% end %>

<% if distro.converter_class[/Itunes/] %>
   <br/>(Note: All iTunes salepoints for this album are included in every iTunes distribution)
<% end %>

</span><br />

<% if distro.salepoints.any?{|s| s.store.variable_pricing_required? && !s.store.name.include?('iTunes')} %>
  <% if distro.converter_class == "MusicStores::Amazon::Converter" && @album.all_songs_are_free? %>
    <span><strong>Variable Price: </strong> Promotional <i> All songs are marked as free. Please remove a free song to set a variable price </i> </span> <br/>
    <%=link_to("Remove All Songs As Free", {:controller => 'admin/albums', :action => 'remove_all_tracks_as_free', :id => album.id})%> <br/>
  <% else %>
    <span><strong>Variable Price: </strong> </span>
    <% salepoint_with_variable_price = distro.salepoints.select{|s| s.store.variable_pricing_required? }.first %>
    <%= form_tag '/admin/salepoints/update_variable_price' do %>
      <%=select('variable_price', 'id',
        salepoint_with_variable_price.store.variable_prices.user_editable.collect{|vp| [vp.price_code_display, vp.id]},
        {:selected => salepoint_with_variable_price.variable_price_id}, {:class => "salepoint_variable_price"})%>
      <%=hidden_field_tag 'id', salepoint_with_variable_price.id%>
      <div id=<%="update_status_#{salepoint_with_variable_price.id}"%>></div>
    <% end %>
    <% if @user_can_mark_song_as_free %>
      <% if distro.converter_class == "MusicStores::Amazon::Converter" %>
        <%=link_to("Mark All Songs As Free", {:controller => 'admin/albums', :action => 'mark_all_tracks_as_free', :id => album.id})%> <br/>
      <% end %>
    <% end %>
  <% end %>
<% end%>

<% if distro.converter_class[/Amazonod/] %>
  <span><strong>Template ID: </strong> </span>
  <%= form_tag '/admin/salepoints/update_aod_template_id' do %>
    <%aod_spt = distro.salepoints.first%>
    <%=select('template_id', 'id',
      [["1-beige", 1],["2-blue", 2],["3-paper",3],["4-black",4],["5-blackgrunge",5],["6-grunge",6],["7-brownpaper",7],["8-grainy",8],["9-yellow",9],["10-ocean",10]],
      {:selected => aod_spt.variable_price_id}, {:class => "aod_template_id"})%>
    <%=hidden_field_tag 'id', aod_spt.id%>
    <div id=<%="update_aod_template_status_#{aod_spt.id}"%>></div>
  <% end %>
<% end %>


<% if releases_store&.release&.release_transitions.present? %>
  <span><strong>JSON State history: </strong>

  <a href="javascript:void(0);" onclick="toggle_history('<%=distro.id%>_release');">(show/hide)</a>

  </span><br/>
  <div id='<%=distro.id%>_release_history_content' style='display:none;'><%= render partial: 'admin/albums/release_transitions_history', :formats=>[:html], :locals => {:release_transitions => releases_store.release.release_transitions } %></div>
<% end %>

<% if releases_store&.release_transitions.present? %>
  <span><strong>XML State history: </strong>

  <a href="javascript:void(0);" onclick="toggle_history('<%=distro.id%>_releases_store');">(show/hide)</a>

  </span><br/>
  <div id='<%=distro.id%>_releases_store_history_content' style='display:none;'><%= render partial: 'admin/albums/release_transitions_history', :formats=>[:html], :locals => {:release_transitions => releases_store.release_transitions } %></div>
<% end %>

<span><strong>Legacy State history: </strong>

<a href="javascript:void(0);" onclick="toggle_history('<%=distro.id%>_distro');">(show/hide)</a>

</span><br/>
<div id='<%=distro.id%>_distro_history_content' style='display:none;'><%= render partial: 'admin/albums/state_machine_history', :formats=>[:html], :locals => {:state_machine => distro } %></div>
