jQuery("#petri_bundle #distribution_<%=distro.id%>").replaceWith("<%= j render partial: 'admin/albums/petri_distribution_wrapper.html.erb', locals: { album: album, distro: distro, bundle: album.petri_bundle, new_distribution: true  } %>");
