<%
  distros = distributions
	bundle = album.petri_bundle
	if !bundle.nil?
%>
<% class_names = {new: :notice, processing: :notice, error: :error} %>

<div id='petri_bundle' name="petri_bundle" class="title-box">
	<h3>Bundle overview</h3>
  <div id='petri_bundle_content'>
    <% if FeatureFlipper.show_feature?(:tc_distributor_metadata, current_user) %>
      <%= render partial: 'admin/albums/release_json', :locals => { :release => @latest_release } %>
    <% end %>

    <span id='bundle_state' class="bold">
      Bundle state:
      <span class="<%=class_names[bundle.current_state] || '' %>">
        <%=bundle.current_state%>
      </span>
    </span>
    <br /><br />
		<div id='bundle_state_history' class="title-box">
			<div class="title-box-title">State history</div>
			<div id='bundle_state_history_content'><%= render partial: 'admin/albums/state_machine_history', :locals => { :state_machine => bundle } %></div>
		</div>
		<div style='clear:both;'></div>
  </div>

  <div id='petri_distributions'>
    <span class="bold">Distributions</span><br /><br />
    <% distros.each do |distro| %>
      <%= render :partial => 'admin/albums/petri_distribution_wrapper', locals: { album: album, distro: distro, bundle: bundle, new_distribution: false } %>
    <% end %>
  </div>
	<div style='clear:both;'></div>
</div>
<%	end  %>

<% content_for :external_javascript do %>
  <script type="text/javascript">
    function toggle_history(id){
      var html_id = "#" + id + "_history_content";
      jQuery(html_id).toggle();
    }
  </script>
<% end %>
