<%
  store_name = distro.salepoints.first.store.name unless distro.salepoints.empty?
  tc_distributor_flag = FeatureFlipper.show_feature?(:tc_distributor_metadata, current_user)
  releases_store = @latest_releases_stores&.dig(distro.id) if tc_distributor_flag

  if releases_store
    delivery_type = releases_store&.delivery_type
    delivery_service = releases_store&.delivery_service
  else
    delivery_service = distro.salepoints.first.store.delivery_service unless distro.salepoints.empty?
  end
%>

<div id='distribution_<%=distro.id%>' class="title-box">
  <div class="title-box-title"><%= store_name %>...<strong>(<%= delivery_service %>)</strong> <%= delivery_type %></div>
  <div id='distribution_<%=distro.id%>_content'>
    <% if distro.converter_class == "MusicStores::YoutubeSr::Converter" %>
      <%= render 'admin/albums/youtubesr_distribution', distro: distro, album: album, bundle: bundle %>
    <% else %>
      <%= render :partial => 'admin/albums/petri_distribution', :locals => {
        :album => album,
        :bundle => bundle,
        :distro => distro,
        :new_distribution => new_distribution } %>
    <% end %>
  </div>
</div>