<% release_transitions.each do |transition| %>
  <div style='border-bottom: thin solid black;border-top: thin solid black;padding-top:.5em;padding-bottom:.5em;'>
    <span style="border-bottom: 1px dotted grey">
      from <strong><%=transition.from_status%></strong> to <strong><%=transition.status%></strong> on <strong><%=transition.created_at.to_datetime.to_s(:db)%></strong>
    </span><br />
    <strong>Message:</strong> <%=transition.message%>
  </div>
<%end%>