<% class_names = {gathering_assets: :notice, packaged: :notice, enqueued: :notice, dequeued: :notice, errored: :error} %>

<span id='bundle_state' class="bold">
JSON State:
<% if release.present? %>
  <span class="<%= class_names[release.state.to_sym] || '' %>">
    <%= release.state %>
  </span>
  (<%= link_to "JSON #{release.version}", "/admin/albums/#{@album.id}/download_json_metadata/#{release.id}"%>)
  </span>
  <br /><br />
  <% if release.release_transitions.present? %>
    <div id='json_state_history' class="title-box">
      <div class="title-box-title">JSON State history</div>
      <div id='json_state_history_content'><%= render partial: 'admin/albums/release_transitions_history', :locals => { :release_transitions => release.release_transitions } %></div>
    </div>
  <% end %>
<% else %>
  <strong>none</strong></span>
  <br /><br />
<% end %>
<div style='clear:both;'></div>