<% state_machine.transitions.sort{|a,b| b.created_at <=> a.created_at}.each do |trans| %>
<div style='border-bottom: thin solid black;border-top: thin solid black;padding-top:.5em;padding-bottom:.5em;'>
	<span style="border-bottom: 1px dotted grey">
		from <strong><%=trans.old_state%></strong> to <strong><%=trans.new_state%></strong> on <strong><%=trans.created_at.to_s(:db)%></strong>
	</span><br />
	<strong>Changed by:</strong> <%=trans.actor%><br />
	<strong>Message:</strong> <%=trans.message%>
</div>
<%end%>