<div class="title-box clearfix">
  <h3>Take Downs and Blocks</h3>
  <dd id="album_takedown"><b>Album Takedown:</b>
  <% if album.takedown? %>
    <span class='error'>Yes, on <%= album.takedown_at.to_s(:db) %></span> (<%= link_to "Clear", admin_album_takedown_path(album), method: :delete, data: { confirm: "Are you sure you want to remove the takedown on this album?" } %>)
  <% else %>
    <% confirm_takedown_text = "Are you sure you want to apply a takedown to this album?" %>
    <% confirm_takedown_text = "The account you are editing currently has an active encumbrance and takedowns are not permitted. " + confirm_takedown_text if album.person.has_encumbrance? %>
    No (<%= link_to "Mark as takedown", admin_album_takedown_path(album), method: :post, data: { confirm: confirm_takedown_text} %>)
    <br>(<%= link_to "Mark as takedown from selected stores", admin_petri_mass_takedown_path(album_id: album.id) %>) <% end %>
</dd>

<% if album.person.has_encumbrance? %>
  <br/>
  <div class="clearfix" style="clear:both">
    <% album.person.encumbrance_summaries.outstanding.each do |es| %>
      <span class="user_status_suspicious">
        Encumbrance: <%= number_to_currency(es.outstanding_amount) %> (created <%= es.created_at.strftime('%B %d %Y') %>)
      </span><br />
    <% end %>
  </div>
<% end %>

<br/>
<% if ! album.takedown? -%>
  <% album.salepoints.is_used.where("payment_applied = 1").each do |sp| -%>
    <dd id="store_<%= sp.store.abbrev %>"><%= sp.store.name %> - takedown:
    <% if sp.taken_down? -%>
      <span class='error'>Yes on <%= sp.takedown_at.to_s(:db) %></span> (<%= link_to "Clear", { action: 'remove_salepoint_takedown', id: sp.id }, class: "remove_takedown", "data-store" => sp.store.name %>)
    <% else -%>
      No
      <% unless sp.blocked? || sp.store_id != 50 && sp.store_id != 40 %>
        (<%= link_to "Mark as takedown", { action: 'salepoint_takedown', id: sp.id }, class: "takedown", "data-store" => sp.store.name %>)
      <% end %>
    <% end -%>

    <% if sp.blocked? -%>
      -- <%= link_to "Un-Block Salepoint", unblock_distribution_admin_salepoint_path(sp), class: "unblock_distro", "data-store" => sp.store.name %>
    <% else %>
      <% if !sp.has_delivered_distribution? && (sp.distributions.blank? ? false : sp.distributions.latest.state == 'new') %>
        -- <%= link_to "Block Salepoint", block_distribution_admin_salepoint_path(sp), class: "block_distro", "data-store" => sp.store.name %>
    <% end %>
  <% end %>
    </dd>
  <% end -%>
<% end -%>
</div>
