<dd>Customer Release Date: <span class="edit_golive_date in_place_editor_field">

<%= @golive_date&.strftime("%F") %></span></dd>
<%= form_tag set_album_timed_release_date_admin_album_path(album.id), method: 'post', remote: true, id: 'timed_release_fields', class: 'hidden' do %>
  (Release Time is for Spotify Only)<br />
  <%= radio_button_tag("timed_release_attributes[timed_release_timing_scenario]", 'relative_time', album.timed_release_relative_time? || album.timed_release_timing_scenario.nil?) %>
  <%= custom_t('timed_release_fields.cross_timezone_choice_1') %>

  <br>
  <%= radio_button_tag("timed_release_attributes[timed_release_timing_scenario]", 'absolute_time', album.timed_release_absolute_time?) %>
  <%= custom_t('timed_release_fields.cross_timezone_choice_2') %>

  <br>
  <span class='timed_release_field_error hidden em'></span>
  <input type="text" name="timed_release_attributes[golive_date]" class="editor_field" value="<%= @golive_date&.strftime("%F %H:%M") %>">
  <%= submit_tag "ok" %>
  <a class="timed_release_cancel">cancel</a>
<% end %>
