<div id="unfinalize-popup" class="form_popup">
  <div>
    <% if album.nil? %>
      <h2>Songwriter data is required for unfinalized albums.</h2>
      <div class="finalize-buttons">
        <br>
        <a href="#" class="action-btn left close-unfinalize-popup">Cancel</a>
        <a href="#" class="action-btn right unfinalize">OK</a>
      </div>
    <% else %>
      <h2>Songwriter data will be required if release is unfinalized.</h2>
      <div class="finalize-buttons">
        <a href="#" class="action-btn left close-unfinalize-popup">Cancel</a>
        <%= link_to "OK", {action: 'unfinalize', id: album.id}, class: "action-btn right", method: :post %>
      </div>
    <% end %>
  </div>
</div>
