<span style='float:right;border:solid thin red;background-color:yellow;padding:2px;'>
    <%= link_to "<span style='text-decoration:none;color:red;font-weight:bold;' class='retry_petri'>retry</span>".html_safe,
      admin_distribution_retry_index_path(album_id: album.id, distribution_id: distro.id, delivery_type: "full_delivery", priority: 0),
      class: "retry_petri",
      method: :post,
      remote: true %>
</span>
<% if distro.converter.supports_metadata_update? %>
  <br><br>
  <span style='float:right;border:solid thin red;background-color:yellow;padding:2px;'>
    <%= link_to "<span style='text-decoration:none;color:red;font-weight:bold;' class='retry_petri'>send metadata update</span>".html_safe,
      admin_distribution_retry_index_path(album_id: album.id, distribution_id: distro.id, delivery_type: "metadata_only", priority: 0),
      class: "retry_petri",
      method: :post,
      remote: true %>
  </span>
<% end %>
<br>
<span><strong>Track Info:</strong></span>
<a href="#" class="toggle-distribution-tracks">(show/hide)</a>

<div class="hidden distribution-songs-wrapper">
  <% distro.distribution_songs.each do |ds| %>
    <%= render 'admin/albums/distribution_song', ds: ds, distro: distro, album: album %>
  <% end %>
</div>
