<h2>Asset Audit</h2>
<div id='assets_detail'>
  <dd> Album Art:
    <span id='assets_detail_artwork'>
      <% if @album.artwork %>
        <% if @album.artwork.original.exists? %>
          <font class='notice'>file exists</font>
        <% else %>
          <font class='error'>file missing</font>
        <% end %>
      <% end %>
    </span>
  </dd>

  <dd> Album Art Dimensions: 
    <span id='assets_detail_artwork_dim'>
      <% if @album.artwork %>
        <% dimensions = {width: @album.artwork.width, height: @album.artwork.height} %>
        <% if dimensions[:width].nil? || dimensions[:height].nil? %>
          <br><span class="error">Dimension unknown</span>
        <% elsif dimensions[:width] < 1600 || dimensions[:height] < 1600 %>
          <br /><font class='error'>Dimension <%= "#{dimensions[:width]}x#{dimensions[:height]}" %></font>
        <% else %>
          <br /><font class='notice'>Dimension <%= "#{dimensions[:width]}x#{dimensions[:height]}" %></font>
        <% end %>
      <% end %>
    </span>
  </dd>

  <% @album.songs.each do |song| -%>
    <dd> Track <%=song.track_num%>: 
      <span id='assets_detail_track_<%=song.track_num%>'>
        <% if song.is_orig_actually_on_s3? %>
          <font class='notice'>original exists</font>
        <% else %>
          <font class='error'>original missing</font>
        <% end %>

        <% if song.is_flac_actually_on_s3? %>
          <font class='notice'>flac exists</font>
        <% else %>
          <font class='error'>flac missing</font>
        <% end %>
      </span>
    </dd>
  <% end -%>
</div>
