<%= link_to @person.name, admin_person_path(@person) %>
->
<%= link_to @album.name, admin_album_path(@album) %><br /><br />

<h2>Copyright Documents</h2><br />

<div class="title-box copyright_documents">
  <%= form_tag create_copyright_document_admin_person_album_path(@person.id, @album.id), multipart: true do %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= file_field_tag :copyright_document %>
    <%= submit_tag "Submit", class: 'copyright-documents-submit' %>
  <% end %>
</div><br />

<% if @copyright_documents.present? %>
  <% @copyright_documents.each do |doc| %>
    <%= doc.s3_asset.key.rpartition('/').last %>
    :
    <%= link_to 'Download', doc.url, target: '_blank' %><br />
  <% end %>
<% else %>
  Copyright Documents not available.
<% end %>
