<h2>Update renewal settings for <%= display_name(@album) %></h2>
<%= form_tag update_renewal_admin_album_path(@album), :method=>:get, :id=>"update_renewal_date" do %>
  <%
    options = [['1 month', '1 month'], ['1 year', '1 year']]
    options.push(['2 year', '2 year'], ['5 year', '5 year']) unless @album.class.name == 'Ringtone'
  %>
  <%= select_tag :duration_interval, options_for_select(options), style: 'margin-bottom: 10px;' %><br/>
  <%= submit_tag 'Update' %>
<% end %>
