<div id="formcontainer">
  <h2>Destroy Flacs</h2>

  <%= form_tag(destroy_flac_admin_albums_path) do %>
    <label for="album_id">Album ID:</label>
    <%= text_field_tag "album_id" %>

    <%= submit_tag "Destroy Flac" %>
  <% end %>
</div>
