<h1>Listing albums</h1>

<table>
  <tr>
     
  <% for column in Album.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for album in @album_pages %>
  <tr>
    <td>User:
        <% if album.user_id && album.user_id > 0 %>
        <%= User.find(album.user_id).firstname %>
        <% else %>
        Unknown
        <% end %></td>
  <% for column in Album.content_columns %>
    <td><%=h album.send(column.name) %></td>
 
      
  <% end %>
  <td>
   <% for genre in album.genres %>
     Genre:<%=genre.name %>
     <% end %>
     </td>
    <td><%= link_to 'Show', :action => :show, :id => album %></td>
    <td><%= link_to 'Edit', :action => :edit, :id => album %></td>
    <td><%= link_to 'Destroy', { :action => :destroy, :id => album }, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @album_pages.current.previous } if @album_pages.current.previous %>
<%= link_to 'Next page', { :page => @album_pages.current.next } if @album_pages.current.next %> 

<br />

<%= link_to 'New album', :action => :new %>
