<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup" %>
  <%= javascript_include_tag "/javascripts/app/admin/crt_option" %>
<% end %>

<% content_for(:css) do %>
  <%= stylesheet_link_tag "/stylesheets/admin" %>
  <%= stylesheet_link_tag "/stylesheets/magnific-popup" %>
<% end %>

<div id="form-container" style="text-align: left;">
  <h1>Admin::Albums::Mass Unfinalize / Finalize</h1>
  <form method="post" style="text-align: left;" id="mass_finalize_unfinalize_form">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :review, false, id: "review-field" %>
    <table style="float: left;">
      <tr>
        <td>
          Select Action:
        </td>
        <td>
          <input type="radio" name="selected_action" value="finalize">
            Finalize&nbsp;&nbsp;
          <input type="radio" name="selected_action" value="unfinalize">
            Unfinalize
        </td>
      </tr>
      <tr>
        <td>
          Album Ids/UPCs:
        </td>
        <td>
          <textarea name="album_ids" cols="13" rows="20"><%= @selected_albums %></textarea>
        </td>
      </tr>
    </table>
    <div style="clear: both;">
      <input type="submit" />
      <a href='#finalize-popup' class='open-finalize-popup' style="display:none;"></a>
      <a href='#unfinalize-popup' class='open-unfinalize-popup' style="display:none;"></a>
    </div>
  </form>
  <p/>
  <% unless @failed_albums.blank? %>
    <ul>
      <% @failed_albums.each do |album| %>
        <li><%="Unable to #{@selected_action} Album ID: <a target=\"_blank\" href=\"#{admin_albums_path}/#{album.id}\">#{album.id}</a> Album UPC: #{album.upc.number}".html_safe%></li>
      <% end %>
    </ul>
  <% end %>

  <% unless @successful_albums.blank? %>
    <ul>
      <% @successful_albums.each do |album| %>
        <li><%="Successfully #{@selected_action}d Album ID: <a target=\"_blank\" href=\"#{admin_albums_path}/#{album.id}\">#{album.id}</a> Album UPC: #{album.upc.number}".html_safe%></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div style="display:none;">
  <%= render 'admin/albums/finalize_popup_modal', album: nil %>
  <%= render 'admin/albums/unfinalize_popup_modal', album: nil %>
</div>
