<div id="sales_listing">
  <h1>Digital Assets for Album: <%= @album.id%></h1>

  <h2>Album Artwork</h2>
  <% if @album.artwork && @album.artwork.s3_asset %>
    <a href="<%= @album.artwork.original.expiring_url(60) %>">Download Artwork</a><br />
  <% else %>
    No artwork
  <% end %>

  <h2>Track Uploads</h2>
  <% @album.songs.each do |song| %>
    <%= song.track_num %>. <%=h display_name(song) %>
    <% if song.s3_orig_asset != nil %>
      <%= link_to "Original Audio", song.s3_original_url(1800) %>
    <% end %>

    <% if song.s3_flac_asset != nil %>
      <%= link_to "Processed FLAC", song.s3_flac_url(1800) %>
    <% end %>

    <% if song.s3_asset != nil %>
      <%= link_to "128 kbps MP3", song.s3_url(1800) %>
    <% end %>

    <br />
  <% end %>
</div>
