<div id="sales_listing">
	<h1>Admin :: Album Search</h1>
	<%= render :partial => '/admin/shared/searchbox'%>

<% if @search_items.any? %>

<div style="margin: 30px 0 10px 0; font-size: 110%;">
	Results: <%= @search_items.first %>
	through <%= @search_items.last %>
	of <%= @search_items.total_entries %>
	for "<strong><%=h @search_text %></strong>"
	in the following attributes: "<strong><%=h @search_field %></strong>"
</div>

<% if @search_items.size > 0  %>
  <table class="discog_table2" style="width:100%">

  	<tr>
  		<th>Art</th>
  		<th>Album Name</th>
      <th>ID</th>
  		<th>Artist</th>
  		<th>UPC</th>
  		<th>Created On</th>
  		<th>Status</th>
  	</tr>

    <% @search_items.each do |album| %>
  			<tr class='<%= cycle("", "alt") %>'>
  				<td><%=link_to(image_tag(artwork_100x100(album), :style => 'border:#ccc solid 2px;width:25px;height:25px;'), :controller => 'albums', :action => 'show', :id => album.id) unless (params[:controller] == 'admin/albums' && params[:action] == 'show')%></td>
  				<td class="album_name"><b><%=link_to(h(truncate(display_name(album), :length => 28, :omission => '...')), :controller => 'albums', :action => 'show', :id => album.id) unless (params[:controller] == 'admin/albums' && params[:action] == 'show')%></b></td>
					<td><%= h album.id %></td>
          <td><%= h album.creatives.map{|c| c.artist.name}.join(",") %>
  				<td><%= h album.upc %> </td>
  			  <td><%= h album.created_on %></td>
  				<td class="album_status"><strong><%= (album.state) %></strong></td>
  			</tr>
  	<% end %>
  </table>
  <br />
<% end %>


<% if @search_items.length == 0%>
	<div>No items match your criteria</div>
<% end %>

<% if @search_items.total_entries > @search_items.per_page %>

<div class="tc_pagination">
Jump to page:
<%= will_paginate( @search_items, :params => {:term => params[:term]}) %>
</div>
<% end %>
</div>

<% end %>
