<% if @error %>
  jQuery(".timed_release_field_error").html("<%= j @error %>");
  jQuery(".timed_release_field_error").show();
<% else %>
  jQuery(".edit_golive_date").html("<%= j @golive_date.strftime("%F") %>");
  jQuery("#timed_release_fields").hide();
  jQuery(".timed_release_field_error").hide();
<% end %>

