<% @page_title = "Album: #{display_name(@album)}" %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/admin/album" %>
  <%= javascript_include_tag "/javascripts/app/admin/external_service_ids" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup" %>
<% end %>

<% content_for(:css) do %>
  <%= stylesheet_link_tag "/stylesheets/magnific-popup" %>
  <%= stylesheet_link_tag "/stylesheets/admin" %>
<% end %>
<%= render :partial => '/admin/shared/searchbox'%>

<h2><%= album_type_name_display(@album) %>: <%= display_name(@album) %></h2>
<%= crt_friendly_status(@album.legal_review_state) %>
<div id="mini_album_container">
  <%= render :partial => 'mini_album', :locals => {:album => @album} %><br />
</div>
<%= render :partial => 'bundle_control', :locals => {:album => @album} %><br />
<div id="petri_bundle_container">
  <%= render :partial => 'petri_bundle', :locals => {:album => @album, distributions: @distributions} %><br />
</div>
<% unless @old_bundles.empty? %>
  <p>Previously Dismissed Bundles:</p>
  <div id="old_bundles_container">
    <%= render :partial => 'old_petri_bundles', :locals => {:album => @album, :old_bundles => @old_bundles} %><br />
  </div>
<% end %>
<div style="display:none;">
  <%= render 'admin/albums/finalize_popup_modal', album: @album %>
  <%= render 'admin/albums/unfinalize_popup_modal', album: @album %>
</div>
<% content_for :external_javascript do %>
  <script type="text/javascript">
    jQuery(function(){
      jQuery("#update_renewal_date").live("ajax:success", function(event, data, status, xhr){
        jQuery(".album_renewal").replaceWith(data);
      });

      jQuery(document).on("click", ".toggle-track-monetization", function(e){
        e.preventDefault();
        jQuery(this).parent().find(".track-monetization-actions").toggleClass("hidden");
      });

      jQuery(document).on("click", ".toggle-distribution-tracks", function(event){
        event.preventDefault();
        jQuery(this).parent().find(".distribution-songs-wrapper").toggleClass("hidden");
      });

      jQuery(".retry_distro_song").on("ajax:success", function(event, data){
        var $distro_song_wrapper = jQuery(this).parents(".distribution-song-wrapper");
        $distro_song_wrapper.replaceWith(data);
      });

      jQuery('.open-finalize-popup').magnificPopup({
        type: 'inline',
        midClick: true
      });

      jQuery('.open-unfinalize-popup').magnificPopup({
        type: 'inline',
        midClick: true
      });

      jQuery(document).on('click', '.close-unfinalize-popup', function (e) {
        e.preventDefault();
        jQuery.magnificPopup.close();
      });
    });
  </script>
<% end %>
