<style>
#tcSongsGrid{
	float: left;
	width: 940px;
	height: auto;
	position: relative;
}

.tcSongHolder{
	float: left;
	width: 938px;
	height: 45px;
	border: 1px solid #CCCCCC;
	background-color: #F2F2F2;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	position: relative;
}

.tcSongHolder:hover{
	background-color: #EEEEEE;
}

.tcSongBg{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 45px;
	background-color: #cfdbea;
	z-index: 1000;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.tcSong{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 918px;
	height: 25px;
	padding: 10px;
	z-index: 5000;
}

.tcSongLeft{
	float: left;
	width: auto;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	line-height: 25px;
}

.tcSongLeft span{
	font-size: 10px;
}

.tcSongLeft h2{
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
	margin: 0px;
	padding: 0px;
	cursor: default;
}

.tcSongRight{
	float: right;
	width: auto;
}

div.tcSongRight div{
	float: left;
	width: auto;
	height: auto;
	position: relative;
}

.tcSongRight a, .asset a.play{
	float: left;
	width: auto;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
	background-color: #3276cb;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: 5px;
}

.tcSongRight a:hover{
	/*background-color: #5591dc; //need to fix the upload roll over issue if we want rollovers */
}

a.tcOver{
	background-color: #5591dc;
}

a.tcOut{
	background-color: #3276cb;
}

#uploader{
	position: absolute;
	/*top: 11px;
	right: 76px;*/
	top: -100px;
	right: -100px;
	width: 60px;
	height: 25px;
	background-color: transparent;
	z-index: 10000;
}

.asset{
	float: left;
	width: 98%;
	clear: both;
	height: 25px;
	line-height: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 1%;
	padding-right: 1%;
	background-color: #F2F2F2;
	color: #333333;
	font-size: 11px;
	border-bottom: 1px solid #CCCCCC;
	text-decoration: none;
}

.asset:hover{
	background-color: #EEEEEE;
}

.asset .switch{
	float: left;
	width: auto;
	margin-left: 5px;
	line-height: 25px;
	color: #33333;
	text-decoration: none;
	font-weight: bold;
}

.asset span{
	float: left;
	line-height: 25px;
	margin-left: 10px;
	font-size: 9px;
	color: #666666;
}

.tcPlay a{
	display: none;
}

.magicTipHolder{
    position: relative;
    width: auto;
    z-index: 500;
    display: inline-block;
}

.magicTip{
    position: absolute;
    display: none;
    z-index: 1000;
}

.magicTipPointer{
    float: left;
    position: relative;
}

.magicTipPointer span{
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: URL(/images/magicTipPointerSprite.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.magicTipBorder{
    float: left;
    width: auto;
    padding: 5px;
    background-image: URL(/images/magicTipBorderSprite.png);
}

.magicTipContent{
    float: left;
    width: 500px;
    background-color: #FFFFFF;
    padding: 5px;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	line-height: auto;
}
</style>
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/javascripts/yui_uploader/yahoo-dom-event.js"></script>
<script type="text/javascript" src="/javascripts/yui_uploader/element-min.js"></script>
<script type="text/javascript" src="/javascripts/yui_uploader/uploader-min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascripts/magicTip.js"></script>
<script src="/javascripts/flowplayer/flowplayer-3.2.4.min.js" type="text/javascript"></script>
<script>

$(document).ready( function(){
	YAHOO.widget.Uploader.SWFURL = "/flash/uploader.swf";
	var uploader = new YAHOO.widget.Uploader( "uploader" );
	uploader.addListener('contentReady', handleContentReady);
	uploader.addListener('fileSelect', onFileSelect);
	uploader.addListener('uploadStart', onUploadStart);
	uploader.addListener('uploadProgress', onUploadProgress);
	uploader.addListener('uploadCancel', onUploadCancel);
	uploader.addListener('uploadComplete', onUploadComplete);
	uploader.addListener('uploadCompleteData', onUploadResponse);
	uploader.addListener('uploadError', onUploadError);

	var tc_pid = $('#tc_pid').attr('tc_pid');
	var person_id = $('#person_id').attr('person_id');
	var currentNum = 0;
	var currentSongID;
	var currentSongObj;
	var fileList;
	var uploadedList = new Array();
	var uuids = new Array();
	var callback = '?callback=?';
 	var uploadURL = '<%=@uploadURL%>';
    var registerURL = '<%=@registerURL%>';
    var assetsURL = '<%=@assetsURL%>'+callback;
	var beaconURL = 'http://beacon.tunecore.com/cleardot.gif';
	init();

	$("#assets").dialog({autoOpen: false, draggable: false, modal: true, resizable: false, width: 800, height: 400, maxWidth: 800, maxHeight: 400, zIndex: 10000});
	$("#error").dialog({autoOpen: false, draggable: false, modal: true, resizable: false, width: 400, height: 200, maxWidth: 400, maxHeight: 200, zIndex: 10000});
	$('.tcSongLeft h2').magicTip({
		refresh: true,
		content: function(t){
			var t = $(t);
			var filename = t.attr('orig_filename');
			var duration = t.attr('duration');
			var sample_rate = t.attr('sample_rate');
			var bit_rate = t.attr('bit_rate');
			if(filename == '' || filename == undefined){
				return 'No information is available at this time';
			}
			else{
				return 'Filename: <strong>' + filename + '</strong><br /> Duration: <strong>' + duration + '</strong><br />Sample Rate: <strong>' + sample_rate + '</strong><br />Bit Rate: <strong>' + bit_rate + '</strong>';
			}
    	}
	});

	function init(){
		getAssets();
		$.get(beaconURL, {person_id: person_id, app: 'administrator_uploader', event: 'success: page initialized'});
	}

	function getAssets(){
		$.getJSON(assetsURL, {tc_pid: tc_pid}, function(response){
			//console.log(response);
			if(response.status == 0){
				$.get(beaconURL, {person_id: person_id, app: 'administrator_uploader', event: 'success: assets'});
				var d = response.response;
				currentAssets = d;
				var html = '';
				$.each(d, function(i, v){
					html += '<div class="asset"><a href="#" class="play" clip="'+v.streaming_url+'">Play</a><a href="#" class="switch" orig_filename="'+v.orig_filename+'" duration="'+formatDuration(v.duration)+'" bit_rate="'+formatBR(v.bit_rate)+'" sample_rate="'+formatSR(v.sample_rate)+'" key="'+v.key+'" bucket="'+v.bucket+'" uuid="'+v.uuid+'" streaming_url="'+v.streaming_url+'">'+v.orig_filename+'</a> <span>Duration: '+formatDuration(v.duration)+' Sample Rate: '+formatSR(v.sample_rate)+' Bit Rate: '+formatBR(v.bit_rate)+'</span></div><br />';
				});
				$("#assets").html(html);

				$('.tcSongHolder').each(function(i, v){
					var t = $(this);
					var uuid = t.attr('uuid');
					if(uuid == ''){
						t.find('.tcPlay a').fadeOut('slow');
					}
					else{
						$.each(d, function(i, v){
							if(v.uuid == uuid){
								t.find('.tcPlay a').attr('clip', v.streaming_url).fadeIn('slow');
								t.find('.tcSongLeft h2').attr({duration: formatDuration(v.duration), sample_rate: formatSR(v.sample_rate), bit_rate: formatBR(v.bit_rate), orig_filename: v.orig_filename});
							}
						});
					}
				});
			}
			else{
				// error
				$.get(beaconURL, {person_id: person_id, app: 'administrator_uploader', event: 'failure: assets'});
			}
		});
	}

	function handleContentReady(){
		$.get(beaconURL, {person_id: person_id, app: 'administrator_uploader', event: 'success: yui uploader initialized'});
		uploader.setAllowMultipleFiles(false);
		var ff = new Array({description:"Music", extensions:"*.wav;*.mp3"});
		uploader.setFileFilters(ff);
	}

	function onFileSelect(event){
		if('fileList' in event && event.fileList != null){
			fileList = event.fileList;
			for (var item in event.fileList) {
			    if(YAHOO.lang.hasOwnProperty(event.fileList, item)){
					var fileID = event.fileList[item].id;
					var inArray = $.inArray(fileID, uploadedList);
					if(inArray <= -1){
						uploadedList.push(fileID);
						$('#uploader').css('right', '-100px');
						$('#song'+currentNum).addClass(fileID);
						$('#song'+currentNum).find('.tcSongLeft span').html('(Uploading: '+event.fileList[item].name+') <a href="#" class="tcCancel" file_id="'+event.fileList[item].id+'">Cancel</a>');
						$('#song'+currentNum).find('.tcSongRight').fadeOut('slow');
						$('#song'+currentNum).find('.tcSongLeft h2').attr('disableTip', 'true');
						$.get(beaconURL, {person_id: person_id, app: 'administrator_uploader', event: 'success: file select', file_id: event.fileList[item].id, file_name: event.fileList[item].name});
						uploader.upload(fileID, uploadURL, "POST", {tc_pid: tc_pid, packager_class: 'BasicPackager', element_id: 'song'+currentNum});
					}
				}
			}
		}
	}

	function onUploadStart(event) {
		$.get(beaconURL, {person_id: person_id, app: 'administrator_uploader', event: 'success: upload start', file_id: event.id});
	}

	function onUploadProgress(event) {
		prog = Math.round(938*(event["bytesLoaded"]/event["bytesTotal"]));
		$('.'+event.id).children('.tcSongBg').css('width', prog+'px');
		if(prog == 938){
			$('.'+event.id).find('.tcSongLeft span').html('(Now saving...)');
			$.get(beaconURL, {person_id: person_id, app: 'administrator_uploader', event: 'success: upload complete', file_id: event.id});
		}
	}

	function onUploadComplete(event) {
		//console.log(event);
		prog = Math.round(938*(event["bytesLoaded"]/event["bytesTotal"]));
		$('.'+event.id).children('.tcSongBg').css('width', '938px').animate({opacity: 0}, { queue:true, duration:5000 }).animate({width: '0px', opacity: 1}, { queue:true, duration:0 });
		$('.'+event.id).find('.tcSongRight').fadeIn('slow');
	}

	function onUploadError(event) {
		$.get(beaconURL, {person_id: person_id, app: 'administrator_uploader', event: 'failure: yui upload error', file_id: event.id, status: event.status});
		$('#error').dialog('open');
	}

	function onUploadCancel(event) {
	}

	function onUploadResponse(event) {
		//console.log(event.data);
		$('.'+event.id).find('.tcSongLeft span').html('(Now registering...)');
		var d = eval("(" + event.data + ")");
		if(d.status == 0){
			$.get(beaconURL, {person_id: person_id, app: 'administrator_uploader', event: 'success: upload response', file_id: event.id});
			var ma = matchAsset(d.response.duration, d.response.sample_rate, d.response.bit_rate);
			if(ma == true){
				var uuid = d.response.uuid;
				var song_id = $('.'+event.id).attr('songID');
				var key = d.response.key;
				var bucket = d.response.bucket;
				$.post(registerURL, {format: 'json', song_id: song_id, 's3_asset[uuid]': uuid, 's3_asset[key]': key, 's3_asset[bucket]': bucket, 'upload[song_id]': song_id, 'upload[orig_filename]': d.response.orig_filename, 'upload[bit_rate]': d.response.bit_rate}, function(response){
					// register complete
					//console.log(response);
					if(response.status == 0){
						$('.'+event.id).find('.tcPlay a').attr('clip', d.response.streaming_url).fadeIn('slow');
						$('.'+event.id).attr('uuid', d.response.uuid);
						$('.'+event.id).find('.tcSongLeft span').html('');
						$('.'+event.id).find('.tcSongLeft h2').attr({duration: formatDuration(d.response.duration), sample_rate: formatSR(d.response.sample_rate), bit_rate: formatBR(d.response.bit_rate), orig_filename: d.response.orig_filename, disableTip: 'false'});
						$.get(beaconURL, {person_id: person_id, app: 'administrator_uploader', event: 'success: upload register', file_id: event.id, song_id: song_id, 's3_asset[uuid]': uuid, 's3_asset[key]': key, 's3_asset[bucket]': bucket});
						getAssets();
					}
					else{
						// error
						$.get(beaconURL, {person_id: person_id, app: 'administrator_uploader', event: 'failure: upload register', file_id: event.id, song_id: song_id, 's3_asset[uuid]': uuid, 's3_asset[key]': key, 's3_asset[bucket]': bucket});
					}
				});
			}
			else{
				$.get(beaconURL, {person_id: person_id, app: 'administrator_uploader', event: 'failure: bad asset', file_id: event.id, song_id: song_id, 's3_asset[uuid]': uuid, 's3_asset[key]': key, 's3_asset[bucket]': bucket});
				$('.'+event.id).find('.tcSongLeft span').html('<font style="color: red">ERROR: Your audio file must be a sample rate of 44.1k</font>');
			}
		}
		else{
			// error
			$.get(beaconURL, {person_id: person_id, app: 'administrator_uploader', event: 'failure: upload response', file_id: event.id});
		}
	}

    function formatDuration(d){
      var d = Number(d);
		  d = d / 1000;
      var h = Math.floor(d / 3600);
      var m = Math.floor(d % 3600 / 60);
      var s = Math.floor(d % 3600 % 60);
      return ((h > 0 ? h + ":" : "") + (m > 0 ? (h > 0 && m < 10 ? "0" : "") + m + ":" : "0:") + (s < 10 ? "0" : "") + s);
    }

	function formatSR(d){
		var d = Number(d);
			d = d * .001;
		return d.toString() + 'k';
	}

	function formatBR(d){
		var d = Number(d);
			d = Math.floor(d/1000);
		return d.toString()+' kbps';
	}

	function matchAsset(dur, sr, br){
		var dur = Number(dur);
		var sr = Number(sr);
		var br = Number(br);
		var response = true;
		//if(dur < 5 || dur > 30){
		//	response = false;
		//}
		if(sr != 44100){
			response = false;
		}
		//if(br != 10000){
		//	response = false;
		//}
		return response;
	}

	$(window).unload(function(){
		$.get(beaconURL, {person_id: person_id, app: 'administrator_uploader', event: 'success: page exit'});
	});

	var currentClip = '';

	$f("flowplayer", "/javascripts/flowplayer/flowplayer-3.2.5.swf", {
		onLoad: function(){
			this.setVolume(100);
		},
		plugins: {
			controls: {
				fullscreen: false,
				height: 30,
				autoHide: false
			}
		},

		clip: {
			autoPlay: false
		}

	});

	$(document).on("click", ".tcCancel", function(){
		var file_id = $(this).attr('file_id');
		uploader.cancel(file_id);
		$('.'+file_id).children('.tcSongBg').animate({opacity: 0}, { queue:true, duration:0 }).animate({width: '0px', opacity: 1}, { queue:true, duration:0 });
		$('.'+file_id).find('.tcSongRight').fadeIn('slow');
		$('.'+file_id).find('.tcSongLeft span').html('');
		$('.'+file_id).find('.tcSongLeft h2').attr('disableTip', 'false');
		$.get(beaconURL, {person_id: person_id, app: 'administrator_uploader', event: 'success: upload cancel', file_id: file_id});
		return false;
	});

	$(document).on("click", ".tcSongHolder .tcPlay a, .asset a.play", function(){
		var $t = $(this);
		var clip = $t.attr('clip');
		if(currentClip == clip){
			currentClip = '';
			$f("flowplayer").stop();
			$('.tcSongHolder .tcPlay a, .asset a.play').html('Play');
		}
		else{
			currentClip = clip;
			$f('flowplayer').play(clip);
			$('.tcSongHolder .tcPlay a, .asset a.play').html('Play');
			$t.html('Stop');
		}
		return false;
	});

	$(document).on("mouseenter", ".tcSongHolder .tcUpload", function(){
		var num = parseInt($(this).parent('.tcSongRight').parent('.tcSong').parent('.tcSongHolder').attr('num'));
		currentNum = num;
		$('#uploader').css('right', '80px').css('top', function(){
			var mult = num - 1;
			var top = (mult * 57) + 11;
			return top;
		});
	});

	$(document).on("click", ".tcSongHolder .tcAssets", function(){
		var songID = parseInt($(this).parent('.tcSongRight').parent('.tcSong').parent('.tcSongHolder').attr('songID'));
		currentSongID = songID;
		var songObj = $(this).parent('.tcSongRight').parent('.tcSong').parent('.tcSongHolder');
		currentSongObj = songObj;
		$('#assets').dialog('open');
		return false;
	});

	$(document).on("click", ".asset a.switch", function(){
		var t = $(this);
		var uuid = t.attr('uuid');
		var bucket = t.attr('bucket');
		var key = t.attr('key');
		var filename = t.attr('orig_filename');
		var duration = t.attr('duration');
		var bit_rate = t.attr('bit_rate');
		var sample_rate = t.attr('sample_rate');
		var streaming_url = t.attr('streaming_url');
		var song_id = currentSongID;
		var songObj = currentSongObj;
		$('#assets').dialog('close');
		$(songObj).find('.tcSongLeft h2').attr('disableTip', 'true');
		$(songObj).find('.tcSongLeft span').html('(Now registering...)');
		$.post(registerURL, {format: 'json', song_id: song_id, 's3_asset[uuid]': uuid, 's3_asset[key]': key, 's3_asset[bucket]': bucket}, function(response){
			// register complete
			//console.log(response);
			if(response.status == 0){
				$.get(beaconURL, {person_id: person_id, app: 'administrator_uploader', event: 'success: asset registration change', song_id: song_id, 's3_asset[uuid]': uuid, 's3_asset[key]': key, 's3_asset[bucket]': bucket});
				songObj.attr('uuid', uuid);
				songObj.find('.tcPlay a').attr('clip', streaming_url).fadeIn('slow');
				songObj.find('.tcSongLeft span').html('');
				songObj.find('.tcSongLeft h2').attr({duration: duration, sample_rate: sample_rate, bit_rate: bit_rate, orig_filename: filename, disableTip: 'false'});
			}
			else{
				// error
				$.get(beaconURL, {person_id: person_id, app: 'administrator_uploader', event: 'failure: asset registration change', song_id: song_id, 's3_asset[uuid]': uuid, 's3_asset[key]': key, 's3_asset[bucket]': bucket});
			}
		});
		return false;
	});

	$(document).on("click", "#ce", function(){
		$('#error').hide();
		return false;
	});

	$(document).on("click", "#uploadIt", function(){
		upload();
		return false;
	});

});
</script>
<%#logger.debug @album.inspect%>
<h1 style="margin-bottom: 20px;">Albums::Tracks::<%=display_name(@album)%></h1>
<div id="tcSongsGrid">
<div id="tc_pid" style="display: none;" tc_pid="<%=@sso_cookie_value%>"></div>
<div id="person_id" style="display: none;" person_id="<%=@album.person_id%>"></div>
<div id="flowplayer" href="http%3a%2f%2ftcc.tunecore.com.staging.s3.amazonaws.com%2f498507%2f1289244173-04.%2520So%2520Disrespectful%2520-%252050%2520Cent%2520-.mp3.mp3%3fSignature%3dvmayDNsdkPSEmcwdq6z1Le0WFpk%253D%26Expires%3d1289247775%26AWSAccessKeyId%3dAKIAIM5RJKCF2UKVL2VA" style="position: absolute; left: -9999px;"></div>
<div id="assets" title="Apply a new asset to this track."></div>
<div id="error" title="There has been an error.">Something has gone wrong, please refresh your browser and try again. If the problem persists please contact support.</div>
<div id="uploader"></div>
<% @album.songs.all.each do |song|%>
<div class="tcSongHolder" id="song<%= song.track_num%>" num="<%= song.track_num%>" uuid="<%= song.s3_asset.nil? ? '':song.s3_asset.uuid %>" songID="<%= song.id %>">
	<div class="tcSongBg">&nbsp;</div>
	<div class="tcSong">
	<div class="tcSongLeft"><h2 tipPosition="leftMiddle">#<%= song.track_num%> - <%= @song = song; display_name(song) %></h2> <span></span></div>
	<div class="tcSongRight">
		<div class="tcPlay"><a href="#">Play</a></div>
		<div class="tcUpload"><a href="#">Upload</a></div>
		<div class="tcAssets"><a href="#">Choose</a></div>
	</div>
	</div>
</div>
<% end %>
</div>
