<section>
  <h2>Album renewal period has been changed to <%= params[:duration] %> <%= params[:interval].pluralize params[:duration] %></h2>
</section>
<script>
  window.parent.location.pathname = <%= @redirect.nil? ?  'window.parent.location.pathname' : "'#{@redirect}'" %>;
</script>
