<%= form_tag search_admin_lods_path, :method => "get", class: 'lods-search-form' do %>  
  <div class="input-group">
    <%= select_tag :search_field,
      options_for_select(
        Composer::SearchQueryBuilder::SEARCH_FIELD_OPTIONS,
        params[:search_field]
      )
    %>
    <%= text_field_tag :search_text,
      params[:search_text],
      placeholder: "Search",
      class: "form-control"
    %>
    <%= submit_tag "Search" %>
  </div>
<% end %>