<style type="text/css">
  .lods-search form.lods-search-form,
  .lods-search form.lods-search-form .input-group,
  .lods-search .pagination {
    display: inline;
  }

  .lods-search form.lods-search-form {
    float: right;
  }

  .lods-search form.lods-search-form select#search_field {
    margin-right: 0;
  }
</style>

<% @page_title = "Songwriters: LOD List" %>

<h2>Songwriters: LOD List</h2>
<div class='lods-search'>
    <%= will_paginate @composers %>
    <%= render partial: 'search'%>
</div>
<%= form_tag update_statuses_admin_lods_path do %>
  <table class="songwriters">
    <thead>
      <tr>
        <th>PID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Publishing Entity</th>
        <th>SW ID</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Agreed</th>
        <th>Paid</th>
        <th>LOD ID</th>
        <th>Status</th>
        <th>Status Date</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%- @composers.each do |composer| %>
        <tr class=<%= cycle('odd','even') %>>
          <td>
            <%= link_to(h(composer.person.id), :controller => 'admin/people', :action => :show, :id => composer.person ) %>
          </td>
          <td><%=h composer.first_name %></td>
          <td><%=h composer.last_name %></td>
          <td><%= composer.publisher_entity_name %></td>
          <td><%=h composer.id %></td>
          <td><%=h composer.email ? composer.email : "(#{composer.person.email})" %></td>
          <td><%=h composer.phone ? composer.phone : "(#{composer.person.phone_number})" %></td>
          <td><%=h(l(composer.agreed_to_terms_at, format: :slash_short_year)) %></td>
          <td>
            <%=h composer.related_purchases.select{|p| p.paid_at != nil}.collect{|p| l(p.paid_at, format: :slash_short_year)}.join(',') %></td>
          <td><%= composer.lod.id %></td>
          <td>
            <%- if composer.lod_status -%>
              <%= composer.lod_status[:status] %><br/>
              <%= show_days_since_sent(composer.lod) %>
            <%- end -%>
          </td>
          <td>
            <%- if composer.lod_status && composer.lod_status[:date] -%>
              <%= l(composer.lod_status[:date], format: :slash_short_year) %>
            <%- end -%>
          </td>

          <% if current_user.has_role?("Publishing Manager") -%>
            <% if composer.lod && composer.lod.scheduled_or_sent? -%>
              <% if composer.lod.s3_asset.present? %>
                <td><%= link_to 'Download', composer.lod.url, target: 'new'  %></td>
              <% else %>
                <td><%= link_to 'Download', download_pdf_admin_lod_path(composer.lod), target: 'new' %></td>
              <% end -%>
            <% end -%>
          <% else -%>
          <% end -%>
        </tr>
      <% end %>
      <% if current_user.has_role?("Publishing Manager") -%>
        <tr>
          <td colspan="13"><%= submit_tag 'Fetch All Status', :style => "float: right;" %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
<% end -%>
