<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/ajax-uploader.js" %>
<% end %>

<% f.text_area :description, :label => custom_t(:description), :cols => 28, :rows => 5%>

<span class='error-message hidden red floatL'></span><br >
<div class="band-photo-file-field-container">
  <label for="band_photo_file"><%= custom_t("band_photos.band_photo") %></label>
  <%= render(partial: 'shared/custom_file_input', locals: { form: f, field_name: :file } ) %>
</div>

<% if @band_photo.url(:thumb) && ! @band_photo.new_record? %>
<li>
  <label><%= custom_t(".current_photo") %></label>
  <%= image_tag @band_photo.url(:thumb) %>
</li>
<% end %>

<div id="spinner" class="hidden">
  <%= image_tag "/images/logo-spinner_40x40.gif" %> <%= custom_t(".uploading_your_image") %>
</div>

<!-- Ajax Status Uploader -->
<%= hidden_field_tag "progress_request_id", @progress_id, :class => "progress-request-id" %>
