<%=link_to(image_tag(band_photo_thumbnail.s3_thumbnail_path), band_photo_path(band_photo_thumbnail), style: 'display:block')%>
<%=band_photo_thumbnail.description%>
<div class="clear"></div>
<%= link_to custom_t(:change), edit_band_photo_path(band_photo_thumbnail), class: 'button-callout-alt' %>
<%= link_to custom_t(:delete), band_photo_path(band_photo_thumbnail.id), class: 'button-callout-alt', data: { confirm: custom_t(:are_you_sure) }, method: :delete %>
