<section class="grid_12">
	<header>
  	<h1><%= custom_t(".upload_your_new_band_photo") %></h1>
	</header>
  <%= error_messages_for @band_photo %>
  <fieldset>
    <%= form_for(@band_photo, :url => band_photo_path(@band_photo) + "?X-Progress-ID=#{@progress_id}", :html=> {:multipart => true}) do |f| %>
        <ul>
          <%= render :partial => 'band_photo_fields', :locals => { :f => f } %>
          <%= f.submit(custom_t(:save), :class => "ajax-uploader" )%>
        </ul>
    <% end %>
  </fieldset>
</section>

