<section class="grid_16">
  <header>
    <h1><%= custom_t("band_photos.band_photo") %></h1>
  </header>
  <% if @person.band_photos.empty? %>
    <%= link_to custom_t(".new_band_photo"), new_band_photo_path, :class => 'button-callout-alt' %>
  <% end %>
  <%= render :partial => 'band_photo_thumbnail', :collection => @person.band_photos %>
</section>

