<%=image_tag(@band_photo.s3_original_path, :style => "width: 600px; height: 480px;")%>
<br />
<%=@band_photo.description%>
<br/>
<fieldset class="clear" style="text-align:right;margin-top:4em;">
	<%= link_to image_tag('/images/buttons/back_to_widget.png'), widgets_path %>
</fieldset>