<% @page_title = "Songwriters: #{@composer.full_name}" %>

<style type="text/css" media="screen">
  h2 {
    color: #000;
    float: left;
    font-size: 1.84615385em; /* 24px / 13px */
  }
  .content {
    clear: left;
    float: left;
    width: 670px;
  }
  .content h3 {
    background-color: #76d6fb;
    color: #000;
    moz-border-radius: 5px;
    webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
  }
  .songwriter, .contact, .tax-info {
    margin: 0 0 10px;
    overflow: hidden;
    padding: 0 10px;
  }
  .name, .other, .address, .phone {
    float: left;
    width: 325px;
  }
  .name {
    font-size: 1.38461538em; /* 18px / 13px */
    font-weight: bold;
  }
  .address dd + dt, .phone dd + dt {
    margin-top: 10px;
  }

  .content .ui-selectmenu{
    height: 27px;
    line-height: 27px;
  }
  .content .box{
    width: auto;
    padding: 10px;
    border: 1px solid #CCCCCC;
    background-color: #F2F2F2;
  }
  .error{
    float: left;
    width: 778px;
    height: auto;
    padding: 10px;
    border: 1px solid red;
    color: red;
  }
</style>

<h2>Songwriter Info</h2>

<div class="content">
  <h3>User</h3>
  <div class="songwriter">
    <div class="name">
      <%= @composer.full_name %>
    </div>
    <div class="other">
      Registered on <%= @composer.agreed_to_terms_at.strftime("%B %d, %Y")%><br /><br />
      Songwriter affiliation:
      <%= @composer.performing_rights_organization_id ? @composer.performing_rights_organization.name : "None" %>
      <% if @composer.cae %>
      (IPI# <%= @composer.cae %>)
      <% end %>
      <br />
      Publisher affiliation: <%= @composer.publisher ? @composer.publisher.name : "None" %>
      <br />
    </div>
  </div>
  <h3>Contact Information</h3>
  <div class="contact">
    <div class="address">
      <dl>
        <dt>Email:</dt>
        <dd><%= @composer.email %></dd>

        <dt>Address:</dt>
        <dd>
          <% if @composer.address_1 %>
            <%= @composer.address_1 %><br />
            <%= @composer.address_2 if !@composer.address_2.blank? %><br />
            <%= @composer.city %>, <%= @composer.state %> <%= @composer.zip %><br />
          <% end %>
          <%= @composer.country %>
        </dd>
      </dl>
    </div>
    <div class="phone">
      <dl>
        <dt>Phone Number:</dt>
        <dd><%= @composer.phone %></dd>

        <dt>Alternate Phone Number:</dt>
        <dd><%= @composer.alternate_phone ? @composer.alternate_phone : "None" %></dd>
      </dl>
    </div>
  </div>
  <div class="full" style="padding-top: 50px;">
    <%= link_to 'Edit', edit_admin_composer_path(@composer) %> |
    <%= link_to 'Back', '/admin/composers/list' %>
  </div>
</div>
