<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <p>
        <%= custom_t('sessions_mailer.suspicious_login_mailer.body.first_line') %>
      </p>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <p>
        <b><%= custom_t('sessions_mailer.suspicious_login_mailer.body.info.time') %>:</b> <%= @request_time %> EST<br>
        <b><%= custom_t('sessions_mailer.suspicious_login_mailer.body.info.device') %>:</b> <%= @device_type %><br>
        <b><%= custom_t('sessions_mailer.suspicious_login_mailer.body.info.ip_address') %>:</b> <%= @ip %><br>
        <b><%= custom_t('sessions_mailer.suspicious_login_mailer.body.info.approx_location') %>:</b> <%= @location %><br>
      </p>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <p>
        <%= custom_t('sessions_mailer.suspicious_login_mailer.body.dont_recognize') %>
      </p>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <p>
        <%= custom_t('sessions_mailer.suspicious_login_mailer.signature.line_1') %>
      </p>
      <p>
        <%= custom_t('sessions_mailer.suspicious_login_mailer.signature.line_2') %>
      </p>
    </td>
  </tr>
</table>
