<table id="results">
  <%= render :partial => "/sync/shared/songlist_header" %>
  <tbody>
    <% if favorites.each do |favorite| %>
      <tr>
        <td><%= link_to '<i class="fa fa-star"></i>'.html_safe, toggle_favorite_sync_favorites_path(:song_id => favorite.song_id), :class => "favorite_link favorite" %></td>
        <td style="padding:none;"><img src="<%= favorite.artwork_url %>" width="80" height="80" style="padding:none;margin:none;"></td>
        <td>
          <table class="sync_search-ghost-table">
            <tr>
              <td style="width: 25px;">
                <span class="sm_sound"
                  sound="<%= (favorite.stream_url || '') %>"
                  sm_player-song_id="<%= favorite.song.id %>"
                  sm_player-is_favorite="1"
                  sm_player-artwork="<%= favorite.artwork_url %>"
                  sm_player-title="<%= display_name(favorite.song) %>"
                  sm_player-album="<%= favorite.song.album_name %>"
                  sm_player-composer_percentage="<%= favorite.song.muma_songs.first.mech_collect_share.to_f.round %>"
                  sm_player-composers="<%= favorite.composer_names.join(", ") %>"
                  sm_player-label_copy="<%= favorite.label_copy %>">
                </span>
              </td>
              <td>
                <%= display_name(favorite.song) %> <%= favorite.duration %>
              </td>
            </tr>
          </table>
        </td>
        <td><%= favorite.song.artist_name %></td>
        <td><%= favorite.composer_names.join(", <br>") %></td>
        <td><%= favorite.song.album.primary_genre %></td>
        <td>
          <% if !favorite.song.muma_songs.blank? %>
            <span class="control control-full">100</span> <span class="control control-partial"><%= favorite.song.muma_songs.first.mech_collect_share.to_f.round %></span>
          <% else %>
            <span class="control control-full">100</span> <span class="control control-partial">""</span>
          <% end %>
        </td>
        <td><%= link_to "Get Quote&thinsp;&raquo;".html_safe, new_sync_license_request_path(:song_id=>favorite.song_id), :class => "button-callout-alt" %></td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="8">No <%= t(:favorite) %>s at this time.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="requests-per_page page_select">
  <select name="per_page" id="per_page">
    <option value="10"  <%= "selected='selected'" if params[:per_page].to_i == 10 %>>10</option>
    <option value="20"  <%= "selected='selected'" if params[:per_page].to_i == 20 %>>20</option>
    <option value="50"  <%= "selected='selected'" if params[:per_page].to_i == 50 %>>50</option>
    <option value="100" <%= "selected='selected'" if params[:per_page].to_i == 100 %>>100</option>
  </select>
  <span>Results Per Page</span>
</div>

<%= will_paginate favorites, :class => 'requests-pagination pagination' %>
