<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/simplePagination" %>
<% end %>

<% content_for :external_javascript do %>
  <script type="text/javascript">
    var TC = TC || {};
  </script>
  <% if Rails.env.production? %>
    <%= javascript_include_tag "/javascripts/soundmanager2-nodebug-jsmin" %>
  <% else %>
    <%= javascript_include_tag "/javascripts/soundmanager2" %>
  <% end %>
  <%= javascript_include_tag "/javascripts/swfobject2.2.js" %>
  <%= javascript_include_tag "/javascripts/sm.js" %>
  <%= javascript_include_tag "/javascripts/plugins/sync/tc.sync_tables.js" %>
  <%= javascript_include_tag "/javascripts/app/sync/favorites.js" %>

  <script type="text/javascript">
    jQuery(function($){
      $("#favorites").syncTable({
        url: "<%= sync_favorites_path %>"
      });

      new TC.SM();
    });
  </script>

<% end %>

<header class="row">
  <div class="twelve columns">
    <h2>Favorites</h2>
  </div>
</header>

<section class="row">
  <section id="favorites" class="twelve columns">
    <%= render :partial => "favorites", :object => @favorite_songs %>
  </section>
</section>
<%= render :partial => "/shared/sm_player" %>
