<tr>
  <td><%= h(asset.asset_name) %></td>
  <td><%= h(asset.file_name) %></td>
  <td><%= h(asset.file_type) %></td>
  <td><%= number_to_human_size(asset.file_size, 2) %></td>
  <td><%= h(asset.created_by.name) %></td>
  <td><%= fmt_long_date(asset.created_at) %></td>
  <td>
    <%= link_to("View", admin_cms_asset_path(asset))%> |
    <%= link_to("Edit", edit_admin_cms_asset_path(asset), :class => "lightbox") %> |
    <%= link_to("Delete", admin_cms_asset_path(asset), method: "delete", data: { confirm: "Are you sure you want to delete this asset? It will immediately disappear from the site and may result in a broken image." }) %>
  </td>
</tr>
