<%= form.text_field(:asset_name, :label => "Asset Name") %>
<%= form.select(:asset_category, CmsAsset::CATEGORIES ,:label => "Asset Category") %>
<%= form.file_field(:uploaded_file, :label => "Asset File") %>
<%= form.hidden_field(:created_by_id) %>