<h2>Edit <%= h(@asset.asset_name) %></h2>
<section class="grid_8">
  <%= error_messages_for(@asset) %>
  <fieldset class="small">
    <ul>
    <%= form_for(@asset, :url => admin_cms_asset_path(@asset), :html => {:multipart => true}, :method => :put) do |form| -%>
      <%= render(:partial => "fields", :locals => {:form => form})%>
      <%= form.submit("Save Changes", :id => "add-asset")%>
    <% end -%>
      <li><span class="note">NOTE: Updating a file immediately replaces the old file and makes it visible in any content where the asset is used.</span></li>
    </ul>
  
  </fieldset>
<section>

