<section>
  <h2>CMS Assets</h2>
  <%= link_to("Upload New Asset", new_admin_cms_asset_path, :class => "lightbox") %>
  <% @assets.group_by{|a| a.asset_category}.each do |category, assets| %>
    <table>
      <caption><%= category %> Assets</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>File Name</th>
          <th>File Type</th>
          <th>File Size</th>
          <th>Created By</th>
          <th>Created On</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render(:partial => "asset", :collection => assets) %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="7">Total Assets: <%= assets.length %></th>
        </tr>
      </tfoot>
    </table>
  <% end -%>
</section>