<h2>New Asset</h2>
<section class="grid_8">
  <%= error_messages_for(@asset) %>
  <fieldset class="small">
    <ul>
    <%= form_for(@asset, :url => admin_cms_assets_path, :html => {:multipart => true}) do |form| -%>
      <%= render(:partial => "fields", :locals => {:form => form})%>
      <%= form.submit("Upload Asset", :id => "add-asset")%>
    <% end -%>
    </ul>
  </fieldset>
<section>

