<section>
  <h2><%= @asset.asset_category %> - <%= @asset.asset_name %> (<%= link_to("Back to Assets", admin_cms_assets_path)%>)</h2>
  <h3><pre><%= h(image_tag(@asset.relative_url, :alt => h(@asset.asset_name)))%></pre></h3>
  <%= image_tag(@asset.relative_url)%>
</section>
