<ul class="menu dropdown align-center" data-dropdown-menu>
  <%= link_to custom_t(:music), "#", data: { toggle: "music-dropdown" } %>
  <ul class="dropdown-pane bottom" id="music-dropdown" data-dropdown data-close-on-click="true">
    <%= render "application/foundation/header/sections/music_menu", show_details: true %>
  </ul>

  <% if publishing_available_in_region? %>
    <%= link_to custom_t(:publishing_administration), "#", data: { toggle: "pub-admin-dropdown" } %>
    <ul class="dropdown-pane bottom" id="pub-admin-dropdown" data-dropdown data-close-on-click="true">
      <%= render "application/foundation/header/sections/pub_admin_menu", show_details: true %>
    </ul>
  <% end %>

  <%= render "application/foundation/header/sections/artist_services" %>

  <%= link_to custom_t('shared.inside_header.video_monetization'), "#",
    data: { toggle: "video-monetization-dropdown" } %>
  <ul class="dropdown-pane bottom" id="video-monetization-dropdown" data-dropdown data-close-on-click="true">
    <%= render "application/foundation/header/sections/video_monetization" %>
  </ul>

  <%= link_to custom_t('shared.inside_header.money_and_reports'), "#", data: { toggle: "money-and-reports" } %>
  <ul class="dropdown-pane bottom" id="money-and-reports" data-dropdown data-close-on-click="true">
    <%= render "application/foundation/header/sections/money_and_reports_menu", show_details: true %>
  </ul>

  <%= render "application/foundation/header/sections/social" %>

  <% if PRODUCT_REGIONS[country_website()].include?("promote") %>
    <%= link_to custom_t('shared.inside_header.promote'), "#", data: { toggle: "promote" } %>
    <ul class="dropdown-pane bottom" id="promote" data-dropdown data-close-on-click="true">
      <%= render "application/foundation/header/sections/promote_menu", show_details: true %>
    </ul>
  <% end %>

  <%= render "application/foundation/header/sections/blog" %>
</ul>
