<ul class="horizontal menu" data-responsive-menu="dropdown">

  <%= render "application/foundation/header/sections/notifications" %>
  <%= render "application/foundation/header/sections/balance" %>
  <%= render "application/foundation/header/sections/cart" %>
  <%= render "application/foundation/header/sections/help" %>
  <%= render "application/foundation/header/sections/refer_a_friend" %>
  <%= render partial: 'tier_promo/tier_promo_nav', locals: {parent_component: "nav-desktop"} %>

  <ul id="user-menu" class="vertical menu accordion-menu" data-accordion-menu>
    <li>
      <a href="#" id="user-menu-parent">
        <button class="button user-menu" type="button">
          <div class="user-menu-label"><i class="fa fa-user"></i><%= current_user.name.truncate(20) %></div>
        </button>
      </a>

      <ul id="user-menu-dropdown" class="menu vertical">
        <%= render "application/foundation/header/sections/account_settings" %>
        <%= render "application/foundation/header/sections/tax_details" %>
        <% unless one_time_payment_only? %>
          <%= render "application/foundation/header/sections/payment_preferences" %>
        <% end %>
        <%= render "application/foundation/header/sections/bank_account" %>
        <%= render "application/foundation/header/sections/payout_preferences" %>
        <%= render "application/foundation/header/sections/subscriptions" %>
        <%= render "application/foundation/header/sections/order_history" %>
        <div class="line-break"></div>
        <%= render "application/foundation/header/sections/balance_history" %>
        <%= render "application/foundation/header/sections/withdraw_money" %>
        <div class="line-break"></div>
        <%= render "application/foundation/header/sections/log_out" %>
      </ul>
    </li>
  </ul>

  <%= render "application/foundation/header/sections/admin_button" %>

  <%= render partial: 'shared/language_selector', locals: {tc_foundation: true} %>
</ul>
