<div id="mobile-navbar">
  <ul class="vertical menu">
    <%= render "application/foundation/header/sections/balance" %>
    <%= render "application/foundation/header/sections/notifications" %>
    <%= render "application/foundation/header/sections/cart" %>
    <li>
      <a href="#" class="no-hover"><%= custom_t(:my_account_display) %></a>
      <ul class="nested vertical menu">
        <%= render "application/foundation/header/sections/account_settings" %>
        <%= render "application/foundation/header/sections/tax_details" %>
        <% unless one_time_payment_only? %>
          <%= render "application/foundation/header/sections/payment_preferences" %>
        <% end %>
        <%= render "application/foundation/header/sections/account_settings" %>
        <%= render "application/foundation/header/sections/bank_account" %>
        <%= render "application/foundation/header/sections/payout_preferences" %>
        <%= render "application/foundation/header/sections/subscriptions" %>
        <%= render "application/foundation/header/sections/order_history" %>
        <%= render "application/foundation/header/sections/balance_history" %>
        <%= render "application/foundation/header/sections/withdraw_money" %>
      </ul>
    </li>
    <%= render "application/foundation/header/sections/music_menu", show_details: false %>
    <%= render "application/foundation/header/sections/pub_admin_menu", show_details: false %>
    <%= render "application/foundation/header/sections/artist_services" %>
    <%= render "application/foundation/header/sections/video_monetization" %>
    <%= render "application/foundation/header/sections/money_and_reports_menu", show_details: false, no_balance: true %>
    <%= render "application/foundation/header/sections/social" %>
    <%= render "application/foundation/header/sections/promote_menu", show_details: false %>
    <%= render "application/foundation/header/sections/blog" %>
    <%= render "application/foundation/header/sections/refer_a_friend" %>
    <%= render "application/foundation/header/sections/help" %>
  </ul>
</div>
