<table class="requests">
  <colgroup>
    <col class="requests-col_name">
    <col class="requests-col_company">
    <col class="requests-col_email">
    <col class="requests-col_time">
    <col class="requests-col_status">
  </colgroup>
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Email</th>
      <th>Time <%= '(' + memberships.first.created_at_time_zone + ')' unless memberships.blank? %></th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <% if memberships.each do |sync_request| %>
    <tr>
      <td><%= sync_request.name %></td>
      <td><%= sync_request.company %></td>
      <td><%= sync_request.email %></td>
      <td><%= sync_request.created_at > 1.day.ago ?
        time_ago_in_words(sync_request.created_at_time) :
        sync_request.created_at_time.strftime("%b #{sync_request.created_at.day.ordinalize}, %Y %l:%M %p") %></td>
      <td>
        <% if sync_request.pending? %>
          <%= link_to "Approve", approve_sync_admin_membership_path(sync_request), :class => "button-callout-alt" %>
          <%= link_to "Decline", decline_sync_admin_membership_path(sync_request), :class => "button-callout-alt" %>
        <% elsif !sync_request.person_id.blank? %>
          <span class="requests-status">Approved and Registered</span>
        <% elsif sync_request.approved? %>
          <span class="requests-status"><%= sync_request.status.capitalize %></span>
          <%= link_to "Resend", resend_sync_admin_membership_path(sync_request), :class => "button-callout-alt" %>
        <% else %>
          <span class="requests-status"><%= sync_request.status.capitalize %></span>
        <% end %>
      </td>
    </tr>
  <% end.empty? %>
    <tr>
      <td colspan="5">No membership requests at this time.</td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="requests-per_page page_select">
  <select name="per_page" id="per_page">
    <option value="10"  <%= "selected='selected'" if params[:per_page].to_i == 10 %>>10</option>
    <option value="20"  <%= "selected='selected'" if params[:per_page].to_i == 20 %>>20</option>
    <option value="50"  <%= "selected='selected'" if params[:per_page].to_i == 50 %>>50</option>
    <option value="100" <%= "selected='selected'" if params[:per_page].to_i == 100 %>>100</option>
  </select>
  <span>Results Per Page</span>
</div>

<%= will_paginate memberships, :class => 'requests-pagination pagination' %>
