<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/simplePagination" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/sync/tc.sync_tables.js" %>
  
  <script type="text/javascript">
    jQuery(function($){
      $("#memberships").syncTable({
        url: "<%= sync_admin_memberships_path(:page => 1) %>"
      });
    });
  </script>
<% end %>

<header class="row">
  <div class="twelve columns">
    <h2>Account Requests</h2>
  </div>
</header>

<div class="row">
  <section id="memberships" class="twelve columns">
    <%= render :partial => "memberships", :object => @memberships %>
  </section>
</div>
