<table>
  <tr>
    <th>Person ID</th>
    <th>Name</th>
    <th>Current Balance</th>
    <th>Hold Payment</th>
    <th>Hold Type</th>
    <th>Status</th>
  </tr>
  <% batch_balance_adjustment.details.each do |detail| -%>
    <tr>
      <td><%= detail.person_id %></td>
      <td><%= detail.name %></td>
      <td><%= number_to_currency(detail.current_balance) %></td>
      <td><%= detail.hold_payment %></td>
      <td><%= detail.hold_type %></td>
      <td><%= detail.status %></td>
    </tr>
  <% end -%>
</table>