<h2>Create Batch Balance Adjustment</h2>
<%= render :partial => 'batch_balance_adjustment_details', :locals => {:batch_balance_adjustment => @batch_balance_adjustment} %>
<%= form_tag post_adjustments_admin_batch_balance_adjustments_path do %>
  <%= hidden_field_tag :id, @batch_balance_adjustment.id  %>
  <%= submit_tag 'Post Adjustments' %>
<% end %>