<%= error_messages_for @batch_balance_adjustment %>
<h2>Batch Balance Adjustments</h2>
<%= link_to 'New Batch Upload', new_admin_batch_balance_adjustment_path %>
<table>
  <thead>
  <tr>
    <th>Ingested Filename</th>
    <th>Status</th>
    <th>Created At</th>
    <th>Updated At</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <%- @batch_balance_adjustments.each do |batch| -%>
    <tr class=<%= cycle('odd','even') %>>
      <td><%= batch.ingested_filename %></td>
      <td><%= batch.status %></td>
      <td><%= batch.created_at.to_s(:admin) %></td>
      <td><%= batch.updated_at.to_s(:admin) %></td>
      <td><%= link_to 'Details', admin_batch_balance_adjustment_path(batch) %></td>
    </tr>
  <% end -%>
  </tbody>
</table>
