<%= error_messages_for @batch_balance_adjustment %>
<h2>Songwriter Royalty Ingestion</h2>
<div><%= link_to 'Batch Balance Adjustments Listing', admin_batch_balance_adjustments_path %></div>
<%= form_tag(admin_batch_balance_adjustments_path, :multipart => true) do -%>
  <label for="file">File to Upload</label> <%= file_field_tag "file" %>
  <%= submit_tag "Ingest File"%>
<% end -%>
