<h2>Batch Balance Adjustments</h2>
<p>Count: <%= @batch_balance_adjustment.details.count %></p>
<%- unless @batch_balance_adjustment.posted? %>
  <section class="grid_16">
    <fieldset class="two-column small">
    <%= form_tag post_adjustments_admin_batch_balance_adjustments_path do %>
      <div>
        <div class='left-column'>
          <div>
            <%= label_tag 'category', 'Category' %>
            <%= select_tag 'category', options_for_select(@category) %>
          </div>
        </div>
      </div>

      <div style='clear:both'>
        <div class='left-column'>
          <div>
            <%= label_tag 'period_type', 'Period Type' %>
            <%= select_tag 'period_type', options_for_select(@period_type_options) %>
          </div>
        </div>
        <div class='left-column'>
          <div>
            <%= label_tag 'period_interval', 'Period Interval' %>
            <%= select_tag 'period_interval', options_for_select(@period_interval_options) %>
          </div>
        </div>
        <div class='right-column'>
          <div>
            <%= label_tag 'period_year', 'Period Year' %>
            <%= select_tag 'period_year', options_for_select(@period_year_options) %>
          </div>
        </div>
      </div>

      <div style='clear:both'>
        <div class='left-column'>
          <div>
          <%= label_tag 'exchange_rate', 'Exchange Rate' %>
          <%= text_field_tag 'exchange_rate', nil, :class => 'short' %>
          </div>
        </div>
        <div class='right-column'></div>
      </div>
      <div style='clear:both'>
        <div class='left-column'>
        <%= hidden_field_tag :id, @batch_balance_adjustment.id  %>
        <%= submit_tag 'Post Adjustments' %>
        </div>
      </div>
    <% end %>
    </fieldset>
  </section>
<% end %>
