<% content_for :css do %>
  <%= stylesheet_link_tag "two_factor_auth" %>
  <%= stylesheet_link_tag "login" %>
  <style type="text/css">
  @media only screen and (min-width: 768px) {
    .sticker {
      background: transparent url("<%= @cms_set["login_img"] if @cms_set %>") no-repeat;
      display: block;
      height: 500px;
      position: absolute;
      right: -440px;
      top: -100%;
      width: 500px;
      z-index: 50;
    }
  }
  </style>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/jquery_ujs" %>
  <%= javascript_include_tag "two_factor_auth" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.simplemodal.1.4.2.min.js" %>
<% end %>

<% content_for :header do %>
  <div class="two-factor-auth-session-header seven columns centered">
    <header class="masthead row">
      <div class="container">
        <a href="<%= home_path %>" class="logo center">
          <%= image_tag "/images/tc_logos/logo_tc_large.png", srcset: "/images/tc_logos/logo_tc_large.png 1x, /images/tc_logos/logo_tc_large@2x.png 2x", alt: "TuneCore" %>
        </a>
      </div>
    </header>
  </div>
<% end %>

<span class="sticker"></span>

<div class="two-factor-auth-session-content seven columns centered">
  <section class="main-content row">
    <section class="main twelve columns centered">
      <div class="tfa-title-container">
        <p class="tfa-title"><%= custom_t(:two_factor_auth) %></p>
        <div class="notification">
          <p id="code_sent">
            <%= notification_message(@person.two_factor_auth) %>
          </p>
        </div>
      </div>

      <div class="form twelve columns centered clearfix">
        <% unless flash[:errors].blank? %>
          <div class="row error-row">
            <div class='error-partial'>
              <%= render partial: "two_factor_auth/sessions/errors" %>
            </div>
          </div>
        <% end %>
        <%= simple_form_for @auth_form,
                url: two_factor_auth_sessions_path,
                html: {class: "new_auth"}, method: "post" do |f| %>
          <%= f.hidden_field :tfa_action %>
          <%= f.hidden_field :page %>
          <%= hidden_field_tag :token, @token %>
          <div class="row enter-code-row twelve columns">
            <%  highlight_input = flash[:errors] ? 'error-box' : nil %>
            <%= f.input :auth_code,
                  label: custom_t(:enter_code),
                  label_html: { class: "enter-code-label" },
                  input_html: { class: "left enter-code-text #{highlight_input}", autocomplete: "off", autofocus: true } %>
          </div>
          <div class="row resend-row twelve columns centered">
            <div class="resend-code-link">
              <%= button_tag(custom_t("two_factor_authentication.resend") + "<i id='two-factor-resend-spinner' class='fa fa-spinner fa-spin fa-fw hidden'></i>".html_safe,
                             id: "two-factor-resend-btn",
                             class: "two-factor-resend-btn", type: "button",
                             "data-target": @token) %>
            </div>
          </div>
          <div class="row verify-submit-row twelve columns centered">
            <%= f.button "submit", custom_t(:verify), class:'verify-button' %>
          </div>
        <% end %>
      </div>
      <div class="two-factor-auth-help twelve columns">
        <%= link_to custom_t(:get_tfa_help),
              knowledgebase_link_for("two-factor-auth-faq", country_website),
              target: :_blank %>
      </div>
    </section>
  </section>
</div>

<%= render "two_factor_auth/shared/call_resend_banned_modal" %>
<%= render "two_factor_auth/shared/too_many_resends_modal" %>
