<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/jquery_ujs" %>
  <%= javascript_include_tag "two_factor_auth" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.simplemodal.1.4.2.min.js" %>
<% end %>

<% content_for(:header) do %>
  <%= tag.h1(custom_t("reskin.tfa.two_factor_authentication")) %>
  <%= tag.div(custom_t("reskin.tfa.please_enter_code"), class: "subheading") %>
<% end %>

<%= simple_form_for @auth_form,
        url: two_factor_auth_sessions_path,
        html: {class: "new_auth"}, method: "post" do |f| %>
  <%= f.hidden_field :tfa_action %>
  <%= f.hidden_field :page %>
  <%= hidden_field_tag :token, @token %>
  <%= f.input(
    :auth_code,
    label: custom_t("reskin.tfa.enter_code"),
    data: { testid: "tfa-code-input" },
    wrapper_html: { class: "fieldset" },
    label_html: { class: "enter-code-label" },
    input_html: { class: "enter-code-text text-input", autocomplete: "off", autofocus: true }
  ) %>
  <%= f.button(
    "submit",
    custom_t("reskin.tfa.verify"),
    class: "verify-button",
    data: { testid: "tfa-submit" }
  ) %>
<% end %>

<div class="tfa-resend-container">
  <%= tag.span(custom_t("reskin.tfa.didnt_receive_a_code?")) %>
  <%= button_tag(
    custom_t("reskin.tfa.resend"),
    id: "two-factor-resend-btn",
    class: "two-factor-resend-btn link link--larger-grey link--is-actually-button",
    type: "button",
    data: { target: @token }
  )%>
</div>

<div class="tfa-need-help">
  <%= custom_t("reskin.tfa.need_more_info?") %>
  <%= link_to(
    custom_t("reskin.tfa.view_our_help_article"),
    knowledgebase_link_for("two-factor-auth-faq", country_website),
    class: "link link--larger-grey",
    target: :_blank
  ) %>
</div>

<%= render "two_factor_auth/shared/call_resend_banned_modal" %>
<%= render "two_factor_auth/shared/too_many_resends_modal" %>
