<%= stylesheet_link_tag wicked_pdf_asset_base64 "credit_note_invoices/footers/believe_inbound" %>
<%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" %>


<div class="credit-note-invoice-footer">
  <% unless @refund_presenter.luxembourg_customer? %>
    <div class="vat-text">
      <%= custom_t('invoices.pdf.vat_self_assessment') %>
    </div>
  <% end %>

  <div class="footer">
    <div class="royalty-text">
      <%= custom_t('invoices.pdf.outbound_footer_text') %>
    </div>
  </div>
</div>
