<% content_for :css do %>
   <%= stylesheet_link_tag "credit_note_invoices/preview" %>
<% end %>
<%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" %>


<div class="credit-note-invoice-footer">
  <% unless @refund_presenter.luxembourg_customer? %>
    <div class="vat-text">
      <%= custom_t('invoices.pdf.vat_self_assessment') %>
    </div>
  <% end %>

  <div class="footer outbound-footer-text">
    <%= custom_t('invoices.pdf.outbound_footer_text') %>
  </div>
</div>
