<section class="grid_16 alpha omega">
  <h2>Friend Referrals</h2>
  <%#- render(:partial => "search_form") %>
  <table class="songwriters">
    <thead>
      <tr>
        <th colspan="4">Referrer</th>
        <th colspan="4">Friend</th>
        <th colspan="6"></th>
      </tr>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Created</th>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Created</th>
        <th>Rewards</th>
        <th>Invoice</th>
        <th>Revenue</th>
        <th>Currency</th>
        <th>Conversion</th>
        <th>Fraud Window</th>
      </tr>
    </thead>
    <tbody>
      <% for referral in @friend_referrals %>
        <tr class="<%=cycle("odd", "even")%>">
          <td><%= link_to referral.referrer_id, admin_person_path(referral.referrer_id)  %></td>
          <td><%= referral.referrer_name %></td>
          <td><%= referral.referrer_email %></td>
          <td><%= fmt_country_datetime(referral.referrer_created_on) %></td>
          <td><%= link_to referral.referee_id, admin_person_path(referral.referee_id) %></td>
          <td><%= referral.referee_name %></td>
          <td><%= referral.referee_email %></td>
          <td><%= fmt_country_datetime(referral.referee_created_on) %></td>
          <td><%= number_to_currency(referral.commission) %></td>
          <td><%= invoice_admin_link(referral.invoice_id) %></td>
          <td><%= number_to_currency(referral.purchase_cost_cents.to_f/100) %></td>
          <td><%= referral.purchase_currency %></td>
          <td><%= fmt_country_datetime(referral.created_at) %></td>
          <td><%= distance_of_time_in_words(referral.referrer_created_on, referral.created_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
