<% content_for :external_javascript do %>
  <script>
  (function($){
    var artworkForm = $(".edit_artwork"),
    artworkField = $(".upload-artwork-field");
    $(".upload-artwork-btn").on('click', function(e){
      e.preventDefault();
      artworkField.click();
    });
    artworkField.on('change', function(e){
      artworkForm.submit();
    });
  }(jQuery));
  </script>
<% end %>

<div class="row">
  <div class="eight columns">
    <section class="content art_uploader" id="add-cover-art">
      <header class="alternate3 artwork-header">
        <h1><%= custom_t(".add_cover_art") %></h1>
        <%= link_to custom_t(".upload_new_file"), '', { class: "button-callout-top upload-artwork-btn" } %>
      </header>

      <div class="pod pod-rounded">
        <% if !@artwork.last_errors.blank? %>
          <div id="errorExplanation">
            <strong><%= custom_t(".problem_with_file") %>:</strong> <%= @artwork.last_errors %>
          </div>
        <% end %>

        <div class="cover_art_requirements">
          <h2><%= custom_t(".requirements_checklist") %></h2>
          <p><em><%= custom_t(".doesnt_meet_requirements") %></em></p>

          <ul class="cover_art_requirements-list">
            <li class="cover_art_requirements-list-item">
              <div class="cover_art_requirements-list-item-image">
                <img src="/images/artwork_upload/icons_1_file.png" alt="">
              </div>
              <div class="cover_art_requirements-list-item-description">
                <h3><%= custom_t(".img_files") %></h3>
                <p><em><%= custom_t(".file_must_be_rbg") %></em></p>
                <p><a href="<%= knowledgebase_link_for('cover-art-upload-error', country_website) %>" target="_blank">
                  <%= custom_t(".more_help") %></a></p>
              </div>
            </li>
            <li class="cover_art_requirements-list-item">
              <div class="cover_art_requirements-list-item-image">
                <img src="/images/artwork_upload/icons_2_size.png" alt="">
                </div>
              <div class="cover_art_requirements-list-item-description">
                <h3><%= custom_t(".at_least") %></h3>
                <p><em><%= custom_t(".itunes_recommends") %></em></p>
              </div>
            </li>
            <li class="cover_art_requirements-list-item">
              <div class="cover_art_requirements-list-item-image">
                <img src="/images/artwork_upload/icons_3_shape.png" alt="">
              </div>
              <div class="cover_art_requirements-list-item-description">
                <h3><%= custom_t(".perfect_square") %></h3>
              </div>
            </li>
            <li class="cover_art_requirements-list-item">
              <div class="cover_art_requirements-list-item-image">
                <img src="/images/artwork_upload/icons_4_quality.png" alt="">
              </div>
              <div class="cover_art_requirements-list-item-description">
                <h3><%= custom_t(".no_blurriness") %></h3>
              </div>
            </li>
            <li class="cover_art_requirements-list-item">
              <div class="cover_art_requirements-list-item-image">
                <img src="/images/artwork_upload/icons_5_text.png" alt="">
              </div>
              <div class="cover_art_requirements-list-item-description">
                <%= custom_t(".must_match_exactly") %>
              </div>
            </li>
            <li class="cover_art_requirements-list-item">
              <div class="cover_art_requirements-list-item-image">
                <img src="/images/artwork_upload/icons_6_labels.png" alt="">
              </div>
              <div class="cover_art_requirements-list-item-description">
                <%= custom_t(".no_extra_information") %>
              </div>
            </li>
            <li class="cover_art_requirements-list-item">
              <div class="cover_art_requirements-list-item-image">
                <img src="/images/artwork_upload/icons_7_ownership.png" alt="">
              </div>
              <div class="cover_art_requirements-list-item-description">
                <%= custom_t(".ownership") %>
              </div>
            </li>
          </ul>

          <div class="cover_art_requirements-confirm">
            <h3><%= custom_t(".meet_requirements") %></h3>
            <p><%= custom_t(".minor_threat") %></p>

            <% if @artwork && @artwork.uploaded? %>
              <div class="cover_art">
                <%= image_tag @artwork.url(:medium), alt: display_name(@album) + " #{custom_t(:cover_of_album)}" %>
              </div>
              <%= link_to custom_t(".make_my_art_for_me"), album_artwork_suggestions_path(@album), { class: "button-interface" } %>
              <%= link_to custom_t(".upload_new_file"), '', { class: "button-callout-alt upload-artwork-btn" } %>
            <% else %>
              <%= link_to custom_t(".make_my_art_for_me"), album_artwork_suggestions_path(@album), { class: "button-interface" } %>
              <%= link_to custom_t(".upload_new_file"), '', { class: "button-callout-alt upload-artwork-btn" } %>
            <% end %>
          </div>


          <%#
            The production artwork tool, where it's inserted on the page by Optimizely.

            Usage: Insert the element below after this comment
                   and the script in app/views/artwork/show.html.erb

            <artwork-tool id="artwork-tool"></artwork-tool>
          %>

          <%= form_tag album_artwork_path, multipart: true, class: 'edit_artwork', style: 'display: none;' do %>
            <%= file_field_tag :artwork, class: "upload-artwork-field" %>
          <% end %>
        </div>
      </div>
    </section>
    <footer class="cover_art_requirements-footer-links">
      <%= link_to custom_t(:save_and_return), @album, {:class=>"button-callout-alt"} %>
    </footer>
  </div>
  <aside class="four columns">
    <%= render :partial => "album/checklist_and_distribution_ui", :locals => { :album => @album } %>
  </aside>
</div>
