<!-- flash upload version -->
<div id="artwork_area_flash">
	<%= build_artwork_uploader(artwork, album.id) %>
</div>

<!-- non-flash upload version -->
<div id="artwork_area_ajax" style="display:none">
	<%= form_tag(album_artwork_path(album), :multipart => true, :begin => "new Effect.Appear('status')",:finish => "new Effect.Fade('status')") %>
	<%= hidden_field_tag(:direct_to, "reload")%>
	<%= file_field_tag 'Filedata' %><%= submit_tag 'Upload' %>
	</form>
	<div id="status" style="display:none;">
		<%= image_tag("/images/spinner01.gif") %>
	</div>
  <% if msgs = flash[:errors] %>
    <% msgs.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>
</div>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/AC_OETags.js" %>
  <script>
  if(DetectFlashVer(8, 0, 0)){
    //alert(DetectFlashVer(6, 0, 65));	
  }
  else{
    Element.show('artwork_area_ajax');
    Element.hide('artwork_area_flash')
  }
  </script>
<% end %>
