<% if FeatureFlipper.show_feature?(:distro_flow_changes, current_user) %>
  <div class="roundy-header">
    <div class="row">
      <div class="columns">
        <h2><%= custom_t(".artwork") %></h2>
      </div>
      <div class="columns text-right">
        <% if !album.finalized? %>
          <% if album.artwork && album.artwork.last_errors.blank? %>
            <%= link_to(custom_t('.edit_artwork'), album_artwork_path(album), class: 'link font-normal', style: 'font-size: 13px;',  data: {"testid" => 'edit-artwork-link' }) %>
          <% else %>
            <%= link_to(custom_t('.edit_artwork'), album_artwork_path(album), class: 'link font-normal', style: 'font-size: 13px;',  data: {"testid" => 'edit-artwork-link' }) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="roundy-content" style="display: flex;">
    <div class="artwork-box-new">
      <% if !album.finalized? %>
        <% if album.artwork && album.artwork.last_errors.blank? %>
          <%= link_to(image_tag(album.artwork.url(:medium), alt: display_name(album) + " Cover", style: 'display: block;'), album_artwork_path(album)) %>
        <% else %>
          <%= link_to(raw('<img src="/images/default_cover_art.jpg" alt="Add Artwork" style="display: block;">'), album_artwork_path(album)) %>
        <% end %>
      <% else %>
        <% if album.artwork %>
          <%= image_tag(album.artwork.url(:medium), alt: display_name(album) + " " + custom_t(".cover"), style: 'display: block;') %>
        <% end %>
      <% end %>
    </div>
    <div class="artwork-btn-container">
      <%= link_to(custom_t('.edit_artwork'), album_artwork_path(album), class: 'hide-for-mobile btn btn-callout') %>
      <%= link_to(custom_t('.edit_artwork'), album_artwork_path(album), class: 'btn btn-callout show-only-mobile mobile-artwork-btn-new') %>
    </div>
  </div>
<% else %>
  <div class="roundy-header">
    <div class="row">
      <div class="columns">
        <h2><%= custom_t(".artwork") %></h2>
      </div>
      <div class="columns text-right">
        <% if !album.finalized? %>
          <% if album.artwork && album.artwork.last_errors.blank? %>
            <%= link_to custom_t(:edit), album_artwork_path(album), class: 'link font-normal', style: 'font-size: 13px;' %>
          <% else %>
            <%= link_to custom_t(:add), album_artwork_path(album), class: 'link font-normal', style: 'font-size: 13px;' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="roundy-content artwork-box">
    <% if !album.finalized? %>
      <% if album.artwork && album.artwork.last_errors.blank? %>
        <%= link_to(image_tag(album.artwork.url(:medium), alt: display_name(album) + " Cover", style: 'display: block;'), album_artwork_path(album)) %>
      <% else %>
        <%= link_to(custom_t(".upload_or_create"), album_artwork_path(album), class: 'hide-for-mobile btn btn-callout', style: 'position: absolute; top: 62px; left: 18px; width: 80%;') %>
        <%= link_to(raw('<img src="/images/default_cover_art.jpg" alt="Add Artwork" style="display: block;">'), album_artwork_path(album)) %>
      <% end %>
    <% else %>
      <% if album.artwork %>
        <%= image_tag(album.artwork.url(:medium), alt: display_name(album) + " " + custom_t(".cover"), style: 'display: block;') %>
      <% end %>
    <% end %>
  </div>

  <% if !album.finalized? && (album.artwork.blank? || album.artwork.last_errors.present?) %>
    <%= link_to(custom_t(".upload_or_create"), album_artwork_path(album), class: 'btn btn-callout show-only-mobile mobile-artwork-btn') %>
  <% end %>
<% end %>
