<% content_for :css do %>
  <%= stylesheet_link_tag '/stylesheets/internal_layout.css' %>
  <%= stylesheet_link_tag 'release_creation' %>

  <% if @dark_mode %>
    <%= stylesheet_link_tag "dark_mode/artwork" %>
  <% end %>
<% end %>
<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/AC_OETags.js" %>
  <script type="text/javascript">
    function upload_refresh(){
      window.location.reload();
    }
  </script>

  <%#
    The production artwork tool, where it's inserted on the page by Optimizely.

    Usage: Insert the script below and
           the <artwork-tool> element in app/views/artwork/_artwork_requirements.html.erb

    Grab the latest script from the production site (turn your ad-blocker off if it's not there).

    Script last updated 1/5/23, V13
    <script src="https://www.tunecore.com/wp-content/themes/tunecore/artwork-tool/artwork-tool-13.js"></script>
  %>
<% end %>


<div data-album-name="<%= @album.name %>"  data-artist-name="<%= @album.artist_name %>"></div>
<%= render partial: "shared/release_rejection", locals: {release: @album} if release_is_rejected? %>
<%= render partial: "artwork_requirements" %>

<%= render partial: 'album/distribute_modal_popup', :locals => { :album => @album } %>
