<%= content_tag :div, class: "bulk-album-approval-container" do %>
  <%= content_tag :div, class: "bulk-album-approval-table" do %>
    <%= content_tag :div, class: "bulk-album-approval-table-title" do %>
      <%= content_tag :strong, "Low Risk Albums" %>
    <% end %>
    <%= content_tag :div, class: "balance-transaction-table-content" do %>
        <%= content_tag :div, class: "balance-transaction-table-row" do %>
          <%= content_tag :div, class: "balance-transaction-table-cell" do %>
            <%= button_tag "Toggle All", class: "select-all-checkboxes button" %>
          <% end %>
        <% end %>
        <%= simple_form_for @bulk_album_approval_form, url: admin_bulk_album_approvals_path do |f| %>
          <% if @bulk_album_approval_form.errors.any? %>
            <%= content_tag :div, class: 'balance-transaction-table-row alert' do %>
              <% @bulk_album_approval_form.errors.full_messages.each do |error| %>
                <%= content_tag :span, error, class: "error" %>
              <% end %>
            <% end %>
          <% end %>
        <%= content_tag :div, class: 'balance-transaction-table-headers' do %>
          <%= content_tag :div, "ID", class: "balance-transaction-table-cell" %>
          <%= content_tag :div, "Album", class: "balance-transaction-table-cell" %>
          <%= content_tag :div, "Artists", class: "balance-transaction-table-cell" %>
          <%= content_tag :div, "Person", class: "balance-transaction-table-cell" %>
          <%= content_tag :div, "Approve", class: "balance-transaction-table-cell" %>
        <% end %>
        <% @low_risk_albums.each do |album| %>
          <%= content_tag :div, class: "balance-transaction-table-row form-inputs" do %>
            <%= content_tag :div, album.id, class: "balance-transaction-table-cell" %>
            <%= content_tag :div, class: "balance-transaction-table-cell" do %>
              <%= link_to("#{album.album_title}", admin_album_path(album)) %>&nbsp;(<%= link_to("CRT", "#{CRT_URL}/show?ids=#{album.id}") %>)
            <% end %>
            <%= content_tag :div, artist_names_for_release(album), class: "balance-transaction-table-cell" %>
            <%= content_tag :div, link_to(album.person_name, admin_person_path(album.person_id)), class: "balance-transaction-table-cell" %>
            <%= content_tag :div, check_box_tag("bulk_album_approval_form[album_ids][]",album.id, false, class: "selectable-checkbox"), class: "balance-transaction-table-cell" %>
          <% end %>
        <% end %>
        <%= f.input :person_id,  as: :hidden, input_html: { value: current_user.id } %>
        <%= content_tag :div, class: "balance-transaction-table-row form-actions" do %>
          <% if @low_risk_albums.any? %>
            <%= content_tag :div, f.button(:submit, "Approve"), class: "balance-transaction-table-cell" %>
          <%= content_tag :div, class: "balance-transaction-table-cell" do %>
            <%= button_tag "Toggle All", class: "select-all-checkboxes button" %>
          <% end %>
          <% else %>
            <%= content_tag :div, "No Albums to Approve", class: "balance-transaction-table-cell" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
