<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <%= javascript_include_tag "/javascripts/app/tour_dates.js" %>
  <%= javascript_include_tag "/javascripts/plugins/utils/utils" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.select-to-autocomplete" %>
  <%= javascript_include_tag "/javascripts/app/form" %>
  %>

<% end %>

<%= f.select(:artist_id, @person.artists_for_tour_date.collect{|a| [a.name, a.id]}.uniq,
             {:label => custom_t(:artist),
             :tc_required => true},
             class: "auto-complete") %>


<%= f.select(:country_id, country_dropdown_for_website(current_user.country_website_id, :id),
                    {:label => custom_t(:country_display),
                    :tc_required => true,
                    :li_class => "select country-select"},
                    class: "auto-complete") %>

<%= f.select(:us_state_id, @us_states.collect{|s| [s.name, s.id] unless s.name == "OTHER"}, {
             :label => custom_t(:state),
             :tc_required => @tour_date.state_required?},
             class: "auto-complete") %>

<%= f.text_field(:city,
                 :label => custom_t(:city), :class => "form-text",
                 :tc_required => true) %>

<%= f.text_field(:venue,
                 :label => custom_t(".venue"),  :class => "form-text",
                 :tc_required => true) %>

<%= hidden_field_tag("translated_date_fields[event_date_at]", "country_date") %>

<%= f.text_field(:event_date_at,
                 :label => custom_t(".event_date"),
                 :class => "date-box form-text-short",
                 :value => @tour_date.event_date_at_to_s,
                 :tc_required => true) %>

<% f.time_select(:event_time_at,
                  :twelve_hour => true, :class=> "form-text auto-complete",
                  :label => custom_t(".time"))%>

<%= f.text_field(:information, :class=> "form-text", :label => custom_t(".additional_info"))%>
