  <table class="tabular">
    <thead>
      <tr>
        <th><%= custom_t(:artist) %></th>
        <th><%= custom_t(:country_display) %></th>
        <th><%= custom_t(:state) %></th>
        <th><%= custom_t(:city) %></th>
        <th><%= custom_t(".venue") %></th>
        <th><%= custom_t(:date_word) %></th>
        <% if person == current_user %>
          <th><%= custom_t(:info) %></th>
          <th><%= custom_t(:action) %></th>
        <% else %>
          <th><%= custom_t(:info) %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% person.tour_dates.each do |tour_date| %>
        <tr class="<%=cycle('odd', 'even')%>">
          <td><%= h tour_date.artist.name %></td>
          <td><%= tour_date.country.name.titleize if tour_date.country %></td>
          <td>
            <% if tour_date.country && tour_date.country.name == "United States" %>
              <%= h tour_date.us_state.name.titleize %>
            <% end %>
          </td>
          <td><%= h tour_date.city %></td>
          <td><%= h tour_date.venue %></td>
          <td><%= h tour_date.event_date_at.strftime("%b %d, %Y") %></td>
          <td><%= h tour_date.information %></td>
          <% if person == current_user %>
            <td>
              <%= link_to(custom_t(:edit), edit_tour_date_path(tour_date), return: here) %> &nbsp;
              <%= link_to(custom_t(:delete), tour_date_path(tour_date.id), method: :delete, data: { confirm: "#{custom_t(:are_you_sure)}" }, return: here) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
