<div class="row">
  <section class="mainbody twelve columns centered">
    <header>
      <h1 class="main_headline"><%= custom_t(".edit_tour_date") %></h1>
    <header>
    <%= error_messages_for @tour_date %>
    <fieldset id="create-album" class="six columns centered">
      <%= form_for(@tour_date, html: { class: "wide-labels" }) do |f| %>
        <ul>
          <%= render :partial => 'tour_date_fields', :locals => {:f => f} %>
          <li id="tour_date_submit_fields"><label>&nbsp;</label>
            <%= submit_tag custom_t(:save_changes), {:id => "new_tour_date_submit", :class => 'submit button'} %>
            <%= link_to(custom_t(:cancel), tour_dates_path(), :class => "cancel button") %>
          </li>
        </ul>
      <% end %>
    </fieldset>
  </section>
</div>
