<div class="row">
  <section class="mainbody twelve columns centered">
    <header>
      <h1 class="main_headline"><%= custom_t(".tour_dates") %></h1>
    </header>
    <% unless @person.tour_dates.blank? %>
      <%= render partial: "tour_date", locals: { person: @person, here: "tourdates" } %>
    <% end %>
    <%= link_to(custom_t(".add_tour_date"), new_tour_date_path, :class => 'button') %>
  </section>
</div>
