<p>There was an error with the following eft transaction:</p>

<p><%= @message %></p>

<% if !@eft_batch_transaction.nil? %>
	<h2 style="border-bottom: solid #ccc 1px; margin-top: 15px; font-size: 16px; font-weight: bold;">EFT Withdrawal Information</h2>
  <%= render :partial=> 'admin/eft_batch_transactions/eft_details', locals: { person: @eft_batch_transaction.person } %>
<% end -%>
