There was an error with the following eft transaction:

<%= @message %>

<% if !@eft_batch_transaction.nil? %>
EFT Withdrawal Information
___________________________
<%# render :partial=> 'admin/eft_batch_transactions/eft_details' %>
<% end -%>