Hello Sirs,

Here are the results from the daily incoming EFT query:

EFT Withdrawal Batch Summary
----------------------------------
ID: <%= @eft_query.id %>
Date of Query: <%= @eft_query.created_at.strftime("%b %d, %Y") %>
Total Count: <%= @eft_query.eft_batch_transactions.size %>
Total Amount: <%= format_to_currency(@eft_query.eft_batch_transactions.inject(0.to_money(@eft_query.eft_batch_transactions.first.currency)) {|sum, ebt| sum + ebt.amount.to_money(ebt.currency)}) %>
Success Count:<%= @eft_query.eft_batch_transactions.find_all{|e| e.status=="success"}.size %>
Success Amount: <%= format_to_currency(@eft_query.eft_batch_transactions.inject(0.to_money(@eft_query.eft_batch_transactions.first.currency)) {|sum, ebt| ebt.status=='success' ? sum + ebt.amount.to_money(ebt.currency) : sum}) %>
Failure Count: <%= @eft_query.eft_batch_transactions.find_all{|e| e.status=="failure"}.size %>
Failure Amount: <%= format_to_currency(@eft_query.eft_batch_transactions.inject(0.to_money(@eft_query.eft_batch_transactions.first.currency)) {|sum, ebt| ebt.status=='failure' ? sum + ebt.amount.to_money(ebt.currency) : sum}) %>

Attached is the log from this run.
<%= @has_failures ? "Since there were transaction failures, attached is a failure summary." : "All of the withdrawals were successfully deposited in the bank (there were no failures)." %>


If you have any questions please let us know

Sincerely,

TuneCore Ecommerce Team

