<html>
<body>
<table width="650" style="font-size:12px; font-family:arial,helvitca,sans-serif; line-height:16px;">
	<tr><td>
<p><%= @message %> Here are the results from the daily incoming EFT Query.</p>

<h2 style="border-bottom: solid #ccc 1px; margin-top: 24px; font-size: 14px; font-weight: bold; color:#003855;">EFT Daily Query Summary</h2>

	<table cellpadding="5" cellspacing="0" border="1" bordercolor="#333333" width="600" style="font-size:11px; vertical-align:bottom" valign="bottom" >
		<tr>
      <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">ID</td>
      <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Date of Query</td>
      <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Total Count</td>
      <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Total Amount</td>
      <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Success Count</td>
      <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Success Amount</td>
      <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Failure Count</td>
      <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Failure Amount</td>
		</tr>
		<tr>
			<td align="center"><%= @eft_query.id %></td>
			<td align="center"><%= @eft_query.created_at.strftime("%b %d, %Y") %></td>
			<td align="center"><%= link_to @eft_query.eft_batch_transactions.size, "https://www.tunecore.com/admin/eft_batch_transactions?search[eft_query_id_equals]=#{@eft_query.id}" %></td>
			<td align="center"><%= format_to_currency(@eft_query.eft_batch_transactions.inject(0.to_money(@eft_query.eft_batch_transactions.first.currency)) {|sum, ebt| sum + ebt.amount.to_money(ebt.currency)}) %></td>
      <td align="center"><%= link_to @eft_query.eft_batch_transactions.find_all{|e| e.status=="success"}.size,
                                           "https://www.tunecore.com/admin/eft_batch_transactions?search[eft_query_id_equals]=#{@eft_query.id}&search[status_equals]=success" %></td>
			<td align="center"><%= format_to_currency(@eft_query.eft_batch_transactions.inject(0.to_money(@eft_query.eft_batch_transactions.first.currency)) {|sum, ebt| ebt.status=='success' ? sum + ebt.amount.to_money(ebt.currency) : sum}) %></td>
      <td align="center"><%= link_to @eft_query.eft_batch_transactions.find_all{|e| e.status=="failure"}.size,
                                           "https://www.tunecore.com/admin/eft_batch_transactions?search[eft_query_id_equals]=#{@eft_query.id}&search[status_equals]=failure" %></td>
			<td align="center"><%= format_to_currency(@eft_query.eft_batch_transactions.inject(0.to_money(@eft_query.eft_batch_transactions.first.currency)) {|sum, ebt| ebt.status=='failure' ? sum + ebt.amount.to_money(ebt.currency) : sum}) %></td>
		</tr>
	</table>

<p>Attached is the log from this run.
	<%= @has_failures ? "Since there were transaction failures, attached is a failure summary." : "All of the withdrawals were successfully deposited in the bank (there were no failures)." %>
</p>
</td></tr>
<tr><td>
</td></tr></table>

</body>
</html>
