<p><%= custom_t('.dear_person', { name:@person.name }) %></p>

<% if @notice_type == 'failure' %>
  <%= custom_t('.failure_content', {
      failure_fee: format_to_currency(@eft_batch_transaction.failure_fee.amount.to_money(@eft_batch_transaction.failure_fee.currency)),
      last_four_account: @stored_bank_account.last_four_account,
      domain:@person.domain,
      bank_name: @stored_bank_account.bank_name,
      amount: format_to_currency(@eft_batch_transaction.amount.to_money(@eft_batch_transaction.currency)),
      help_url: knowledgebase_link_for('new_request', @person.country_domain)
  }) %>
<% elsif @notice_type == 'error' %>
  <%= custom_t('.error_content', {
      last_four_account: @stored_bank_account.last_four_account,
      domain: @person.domain,
      bank_name: @stored_bank_account.bank_name,
      amount: format_to_currency(@eft_batch_transaction.amount.to_money(@eft_batch_transaction.currency)),
      response_text: @eft_batch_transaction.response_text,
      help_url: knowledgebase_link_for('new_request', @person.country_domain)
  }) %>
<% elsif @notice_type == 'rejected' %>
  <%= custom_t('.rejected_content', {
      domain: @person.domain,
      amount: format_to_currency(@eft_batch_transaction.amount.to_money(@eft_batch_transaction.currency)),
      help_url: knowledgebase_link_for('new_request', @person.country_domain)
  }) %>
<% end -%>
<%= custom_t('.footer') %>


