<p>A payout service fee has just changed:</p>

<h2 style="border-bottom: solid #ccc 1px; margin-top: 24px; font-size: 14px; font-weight: bold; color:#003855;">New Payout Service Fee</h2>
	<table cellpadding="5" cellspacing="0" border="1" bordercolor="#333333" width="600" style="font-size:11px; vertical-align:bottom" valign="bottom" >
		<tr>
      <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Fee Type</td>
      <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Amount</td>
      <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Changed By</td>
      <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Created On</td>
		</tr>
		<tr>
			<td align="center"><%= @fee_type.titleize %></td>
			<td align="center"><%= format_to_currency(@amount.to_money(@currency)) %></td>
			<td align="center"><%= @person %></td>
			<td align="center"><%= l(@created_on, format: :time_with_meridian) %></td>
		</tr>
	</table>
