A payout service fee has just changed:

Fee Type: <%= @fee_type.titleize %>
Amount: <%= format_to_currency(@amount.to_money(@currency)) %>
Changed By: <%= @person %>
Created On: <%= l(@created_on, format: :time_with_meridian) %>
