<%= custom_t('.content', {
    name: @person.name,
    bank_name: @stored_bank_account.bank_name,
    name_on_bank_acct: @stored_bank_account.name,
    last_four_routing: @stored_bank_account.last_four_routing_padded,
    last_four_account: @stored_bank_account.last_four_account_padded,
    amount: format_to_currency(@eft_batch_transaction.amount.to_money(@eft_batch_transaction.currency)),
    help_url: knowledgebase_link_for('new_request', @person.country_domain)
}) %>
