<html>
<body>
<table width="650" style="font-size:12px; font-family:arial,helvitca,sans-serif; line-height:16px;">
	<tr><td>
<p>Here are the results from today's outgoing EFT withdrawals:</p>
<p>All amounts are in <%= @eft_batch.currency %></p>

<h2 style="border-bottom: solid #ccc 1px; margin-top: 24px; font-size: 14px; font-weight: bold; color:#003855;">EFT Withdrawal Batch Summary</h2>

	<table cellpadding="5" cellspacing="0" border="1" bordercolor="#333333" width="600" style="font-size:11px; vertical-align:bottom" valign="bottom" >
		<tr>
      <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">ID</td>
      <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Date Sent</td>
      <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Total <br/> Count</td>
      <td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Total <br/> Amount</td>
			<td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Sent to <br/> Bank Count</td>
			<td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Sent to <br/> Bank Amount</td>
			<td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Error <br/> Count</td>
			<td style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Error <br/> Amount</td>
		</tr>
		<tr>
			<td align="center"><%= @eft_batch.id %></td>
			<td align="center"><%= l(@eft_batch.batch_sent_at, format: :country_date) %></td>
      <td align="center"><%= link_to @eft_batch.eft_batch_transactions.size, "https://www.tunecore.com/admin/eft_batch_transactions?search[eft_batch_id_equals]=#{@eft_batch.id}" %></td>
	    <td align="center"><%= number_to_currency(@eft_batch.eft_batch_transactions.inject(0) {|sum, ebt| sum + ebt.amount}) %></td>
      <td align="center"><%= link_to @eft_batch.eft_batch_transactions.find_all{|e| e.status=="sent_to_bank"}.size,
                                           "https://www.tunecore.com/admin/eft_batch_transactions?search[eft_batch_id_equals]=#{@eft_batch.id}&search[status_equals]=sent_to_bank" %></td>
	    <td align="center"><%= number_to_currency(@eft_batch.eft_batch_transactions.inject(0) {|sum, ebt| (ebt.status=='sent_to_bank' ) ? sum + ebt.amount : sum })%></td>
      <td align="center"><%= link_to @eft_batch.eft_batch_transactions.find_all{|e| e.status=="error"}.size,
                                           "https://www.tunecore.com/admin/eft_batch_transactions?search[eft_batch_id_equals]=#{@eft_batch.id}&search[status_equals]=error" %></td>
	    <td align="center"><%= number_to_currency(@eft_batch.eft_batch_transactions.inject(0) {|sum, ebt| ebt.status=='error' ? sum + ebt.amount : sum})%></td>
		</tr>
	</table>

  <h2 style="border-bottom: solid #ccc 1px; margin-top: 24px; font-size: 14px; font-weight: bold; color:#003855;">Yesterday's EFT Approval Summary</h2>

  <% if @eft_approvals %>
    <table cellpadding="5" cellspacing="0" border="1" bordercolor="#333333" width="600" style="font-size:11px; vertical-align:bottom" valign="bottom" >
      <tr>
        <th style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Date</th>
        <th style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Total Count</th>
        <th style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Total Amount</th>
        <th style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Approved Count</th>
        <th style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Approved Amount</th>
        <th style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Removed Approval Count</th>
        <th style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Removed Approval Amount</th>
        <th style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Rejected Count</th>
        <th style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Rejected Amount</th>
        <th style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Cancelled Count</th>
        <th style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Cancelled Amount</th>
        <th style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Pending Count</th>
        <th style="font-weight:bold;background-color:#c5c5c5;text-align:center;" align="center">Pending Amount</th>
      </tr>
      <tr>
        <td width="100" align="center"><%= @eft_approvals.date_of_request %></td>
        <td align="center"><%= @eft_approvals.total_count %></td>
        <td align="center"><%= number_to_currency(@eft_approvals.total_amount) || "$0" %></td>
        <td align="center"><%= @eft_approvals.approved_count %></td>
        <td align="center"><%= number_to_currency(@eft_approvals.approved_amount) || "$0"%></td>
        <td align="center"><%= @eft_approvals.removed_approval_count %></td>
        <td align="center"><%= number_to_currency(@eft_approvals.removed_approval_amount)|| "$0" %></td>
        <td align="center"><%= @eft_approvals.rejected_count %></td>
        <td align="center"><%= number_to_currency(@eft_approvals.rejected_amount)|| "$0" %></td>
        <td align="center"><%= @eft_approvals.canceled_count %></td>
        <td align="center"><%= number_to_currency(@eft_approvals.canceled_amount)|| "$0" %></td>
        <td align="center"><%= @eft_approvals.pending_count %></td>
        <td align="center"><%= number_to_currency(@eft_approvals.pending_amount)|| "$0" %></td>
      </tr>
    </table>
  <% else %>
    <p>No EFT activity occurred yeterday</p>
  <% end %>

<p>Attached is the log from this run.
	<%= @has_errors ? "Since there were transactions errors, attached is an error summary." : "All of the transactions were sent to the bank successfully (there were no errors)." %>
</p>
</td></tr>
</table>

</body>
</html>
