Here are the results for today's outgoing EFT withdrawals:

All Amounts are in <%=@eft_batch.currency%>.

EFT Withdrawal Batch Summary
----------------------------------
ID: <%= @eft_batch.id %>
Date Sent: <%= l(@eft_batch.batch_sent_at, format: :country_date) %>
Total Count: <%= @eft_batch.eft_batch_transactions.size %>
Total Amount: <%= number_to_currency(@eft_batch.eft_batch_transactions.inject(0) {|sum, ebt| sum + ebt.amount}) %>
Sent to Bank Count: <%= @eft_batch.eft_batch_transactions.find_all{|e| e.status=="sent_to_bank"}.size %>
Sent to Bank Amount: <%= number_to_currency(@eft_batch.eft_batch_transactions.inject(0) {|sum, ebt| (ebt.status=='sent_to_bank' ) ? sum + ebt.amount : sum })%>
Error Count: <%= @eft_batch.eft_batch_transactions.find_all{|e| e.status=="error"}.size %>
Error Amount: <%= number_to_currency(@eft_batch.eft_batch_transactions.inject(0) {|sum, ebt| ebt.status=='error' ? sum + ebt.amount : sum}) %>

Yesterday's EFT Approval Summary
----------------------------------
<% if @eft_approvals %>
Date: <%= @eft_approvals.date_of_request %>
Total Count: <%= @eft_approvals.total_count %>
Total Amount: <%= number_to_currency(@eft_approvals.total_amount) || "$0" %>
Approved Count: <%= @eft_approvals.approved_count %>
Approved Amount: <%= number_to_currency(@eft_approvals.approved_amount) || "$0"%>
Removed Approval Count: <%= @eft_approvals.removed_approval_count %>
Removed Approval Amont: <%= number_to_currency(@eft_approvals.removed_approval_amount)|| "$0" %>
Rejected Count: <%= @eft_approvals.rejected_count %>
Rejected Amount: <%= number_to_currency(@eft_approvals.rejected_amount)|| "$0" %>
Cancelled Count: <%= @eft_approvals.canceled_count %>
Cancelled Amount: <%= number_to_currency(@eft_approvals.canceled_amount)|| "$0" %>
Pending Count: <%= @eft_approvals.pending_count %>
Pending Amount: <%= number_to_currency(@eft_approvals.pending_amount)|| "$0" %>
<% else %>
 No EFT activity occurred yesterday
<% end %>

Attached is the log from this run.

<%= @has_errors ? "Since there were transactions errors, attached is an error summary." : "All of the transactions were sent to the bank successfully (there were no errors)." %>
