<h2>Select Ad for Targeted Offer</h2>
<section class="grid_8">
  <fieldset class="small">
    <ul>
    <%= form_for(@targeted_advertisement, :url => admin_targeted_offer_targeted_advertisements_path(@targeted_offer)) do |f| -%>
      <%= f.select(:advertisement_id, @ad_list, :label => "Select Advertisement") %>
      <%= hidden_field_tag(:targeted_offer_id, @targeted_offer.id)%>
      <%= f.submit("Select Ad", :id => "add-advertisement")%>
    <% end -%>
    </ul>
  </fieldset>
<section>