<section class="tax_block">
  <p>* <%= custom_t(".required_field") %> <span style="color: #CCCCCC;">|</span> <a href=<%= knowledgebase_link_for('submit-tax-info-howto', country_website) %> target="_blank"><%= custom_t(".get_help") %></a></p>
</section>

<h2><%= custom_t(".proof_of_identity") %></h2>
<section class="tax_block">
  <div class="input_block">
    <label for="entity_name"><%= custom_t(".entity_name") %> *</label>
    <input id="entity_name" type="text" name="tax_info[entity_name]" value="<%= @tax_info.entity_name.blank? ? @tax_info.name : @tax_info.entity_name %>" style="width: 330px;">
  </div>

  <div class="input_block">
    <label for="country_of_corp"><%= custom_t(".country_of_corp") %> *</label>
    <%= select_tag "tax_info[country_of_corp]", grouped_options_for_select(country_dropdown_for_website(current_user.country_website_id), @tax_info.country_of_corp), { style: "width: 140px;", prompt: "#{custom_t(:select_one)}" } %>
  </div>

  <div class="input_block">
    <label><%= custom_t(".type_of_beneficial_owner") %>:</label>
    <label class="radio"><%= radio_button("tax_info", "owner_type", "individual", :class => "owner_type") %> <%= custom_t(".individual") %></label>
    <label class="radio"><%= radio_button("tax_info", "owner_type", "corp", :class => "owner_type") %> <%= custom_t(".corporation") %></label>
    <label class="radio"><%= radio_button("tax_info", "owner_type", "entity", :class => "owner_type") %> <%= custom_t(".disregarded_entity") %></label>
    <label class="radio"><%= radio_button("tax_info", "owner_type", "partner", :class => "owner_type") %> <%= custom_t(".partnership") %></label>
    <label class="radio"><%= radio_button("tax_info", "owner_type", "simp_trust", :class => "owner_type") %> <%= custom_t(".simple_trust") %></label>
    <label class="radio"><%= radio_button("tax_info", "owner_type", "grant_trust", :class => "owner_type") %> <%= custom_t(".grantor_trust") %></label>
    <label class="radio"><%= radio_button("tax_info", "owner_type", "compl_trust", :class => "owner_type") %> <%= custom_t(".complex_trust") %></label>
    <label class="radio"><%= radio_button("tax_info", "owner_type", "estate", :class => "owner_type") %> <%= custom_t(".estate") %></label>
    <label class="radio"><%= radio_button("tax_info", "owner_type", "govt", :class => "owner_type") %> <%= custom_t(".government") %></label>
    <label class="radio"><%= radio_button("tax_info", "owner_type", "intl_org", :class => "owner_type") %> <%= custom_t(".international_organization") %></label>
    <label class="radio"><%= radio_button("tax_info", "owner_type", "centr_bank", :class => "owner_type") %> <%= custom_t(".central_bank_of_issue") %></label>
    <label class="radio"><%= radio_button("tax_info", "owner_type", "tax_exmt_org", :class => "owner_type") %> <%= custom_t(".tax_exempt_organization") %></label>
    <label class="radio"><%= radio_button("tax_info", "owner_type", "priv_fndtn", :class => "owner_type") %> <%= custom_t(".private_foundation") %></label>
  </div>
</section>

<section class="tax_block">
  <div class="input_block">
    <label for="w8_tax_id"><%= custom_t(".us_tax_id") %> <small class="w8_tax_id_help"><a href=<%= knowledgebase_link_for('submit-tax-info-howto', country_website) %> target="_blank"><%= custom_t(".need_a_us_tax_id") %></a></small></label>
    <input type="text" name="tax_info[tax_id]" value="<%= @tax_info.tax_id %>" id="w8_tax_id" maxlength="11" style="width: 330px;"><br />
    <label class="radio"><%= radio_button_tag "tax_info[is_entity]", false, @tax_info.is_entity == false, :class => "is_entity" %> <%= custom_t(".ssn_or_itin") %></label>
    <label class="radio"><%= radio_button_tag "tax_info[is_entity]", true, @tax_info.is_entity == true, :class => "is_entity" %> <%= custom_t(".ein") %></label>
  </div>
</section>

<h2><%= custom_t(".contact_information") %></h2>
<section class="tax_block">
  <div class="input_block">
    <label><%= custom_t(:address) %> *</label>
    <input id="address1" type="text" name="tax_info[address_1]" value="<%= @tax_info.address_1 %>" style="width: 330px;" />
  </div>
</section>

<section class="tax_block">
  <div class="input_block">
    <label><%= custom_t(:address2) %></label>
    <input type="text" name="tax_info[address_2]" value="<%= @tax_info.address_2 %>" style="width: 330px;" />
  </div>
</section>

<section class="tax_block">
  <div class="input_block">
    <label><%= custom_t(".city_or_town") %> *</label>
    <input id="city" type="text" name="tax_info[city]" value="<%= @tax_info.city %>" style="width: 330px;" />
  </div>
  <div class="input_block">
    <label><%= custom_t(:state) %> *</label>
    <input id="state" type="text" name="tax_info[state]" value="<%= @tax_info.state %>" style="width: 330px;" />
  </div>
  <div class="input_block zip_code">
    <label><%= custom_t(:zip_code) %> *</label>
    <input id="zip" type="text" name="tax_info[zip]" value="<%= @tax_info.zip %>"  style="width: 90px;" />
  </div>
  <div class="input_block short">
    <label><%= custom_t(:country_display) %> *</label>
    <%= select_tag "tax_info[country]", grouped_options_for_select(country_dropdown_for_website(current_user.country_website_id), @tax_info.country), { style: "width: 140px;", prompt: "#{custom_t(:select_one)}" } %>
  </div>
</section>

<h2><%= custom_t(".mailing_address") %></h2>
<section class="tax_block">
  <div class="input_block">
    <label><%= custom_t(:address) %></label>
    <input id="address1" type="text" name="tax_info[mailing_address_1]" value="<%= @tax_info.mailing_address_1 %>" style="width: 330px;" />
  </div>
</section>

<section class="tax_block">
  <div class="input_block">
    <label><%= custom_t(:address2) %></label>
    <input type="text" name="tax_info[mailing_address_2]" value="<%= @tax_info.mailing_address_2 %>" style="width: 330px;" />
  </div>
</section>

<section class="tax_block">
  <div class="input_block">
    <label><%= custom_t(".city_or_town") %></label>
    <input id="city" type="text" name="tax_info[mailing_city]" value="<%= @tax_info.mailing_city %>" style="width: 330px;" />
  </div>
  <div class="input_block">
    <label><%= custom_t(:state) %></label>
    <input id="state" type="text" name="tax_info[mailing_state]" value="<%= @tax_info.mailing_state %>" style="width: 330px;" />
  </div>
  <div class="input_block zip_code">
    <label><%= custom_t(:zip_code) %></label>
    <input id="zip" type="text" name="tax_info[mailing_zip]" value="<%= @tax_info.mailing_zip %>"  style="width: 90px;" />
  </div>
  <div class="input_block short">
    <label><%= custom_t(:country_display) %></label>
    <%= select_tag "tax_info[mailing_country]", grouped_options_for_select(country_dropdown_for_website(current_user.country_website_id), @tax_info.mailing_country), { style: "width: 140px;", prompt: "#{custom_t(:select_one)}" } %>
  </div>
</section>

<h2><%= custom_t(".claim_of_tax_treaty_benefits") %></h2>
<section class="tax_block tax_treaty_benefits">
  <p><%= custom_t(".i_certify_that") %>:</p>
  <ol>
    <li>
      <label style="margin: 0;"><%= check_box_tag "q9[a][checked]", 1, @tax_info.claim_of_treaty_benefits.blank? ? false : @tax_info.claim_of_treaty_benefits["q9"]["a"]["checked"] %> <%= custom_t(".the_beneficial_owner_is_a_resident_of") %></label>
      <%= select_tag "q9[a][resident]", grouped_options_for_select(country_dropdown_for_website(current_user.country_website_id), @tax_info.claim_of_treaty_benefits.try(:[],:q9).try(:[],:a).try(:[],:resident)), { style: "margin: 0; width: 140px;", prompt: "#{custom_t(:select_one)}", id: "q9_a_resident" } %>
      <%= custom_t(".within_the_meaning_of_the_income_tax_treaty") %>
    </li>
    <li>
      <label><%= check_box_tag "q9[b]", 1, @tax_info.claim_of_treaty_benefits.blank? ? false : @tax_info.claim_of_treaty_benefits["q9"]["b"]["checked"] %> <%= custom_t(".if_required_the_us_taxpayer_identification_number") %></label>
    </li>
    <li>
       <label><%= check_box_tag "q9[c]", 1, @tax_info.claim_of_treaty_benefits.blank? ? false : @tax_info.claim_of_treaty_benefits["q9"]["c"]["checked"] %> <%= custom_t(".the_beneficial_owner_is_not_an_individual", { url: 'http://www.irs.gov/pub/irs-pdf/iw8ben.pdf' }) %></label>
    </li>
    <li>
       <label><%= check_box_tag "q9[d]", 1, @tax_info.claim_of_treaty_benefits.blank? ? false : @tax_info.claim_of_treaty_benefits["q9"]["d"]["checked"] %> <%= custom_t(".us_trade_or_business_of_a_foreign_corporation", { url: 'http://www.irs.gov/pub/irs-pdf/iw8ben.pdf' }) %></label>
    </li>
    <li>
       <label><%= check_box_tag "q9[e]", 1, @tax_info.claim_of_treaty_benefits.blank? ? false : @tax_info.claim_of_treaty_benefits["q9"]["e"]["checked"] %> <%= custom_t(".the_beneficial_owner_is_related_to_the_person_obligated") %></label>
    </li>
  </ol>
</section>

<div class="w8ben_legal">
  <h2><%= custom_t(".certification") %></h2>
  <section class="tax_block">
    <div class="perjury_certification">
      <%= custom_t(".perjury_certification") %>
    </div>
    <label class="certify"><input type="checkbox" name="tax_info[agreed_to_w8ben]" value="1" /> <%= custom_t(".agree_to_certification") %></label>
  </section>
</div>

<input type="hidden" value="1" name="tax_info[is_w8ben]" />
<input type="submit" value="<%= @submit_text %>" class="button-callout" />
