<section class="tax_block">
  <p><%= custom_t(".required_field") %> &nbsp; <span style="color: #CCCCCC;">|</span> &nbsp; <%= custom_t(".need_help") %> <a href=<%= knowledgebase_link_for('publishing-contact-us', country_website) %> target="_blank"><%= custom_t(".get_help") %></a></p>
</section>

<h2><%= custom_t(".proof_of_identity") %></h2>
<section class="tax_block">
    <div class="input_block">
      <div style="float: left;">
        <label for="name"><%= custom_t(".individual_name") %></label>
        <input id="name" type="text" name="tax_info[name]" value="<%= @tax_info.name %>" style="width: 330px;">
      </div>
      <div style="float: left; margin-left: 30px; margin-right: 30px; padding-top: 28px;"><strong><%= custom_t(:or) %></strong></div>
      <div style="float: left;">
        <label for="business_name"><%= custom_t(".business_name") %></label>
        <input id="business_name" type="text" name="tax_info[entity_name]" value="<%= @tax_info.entity_name %>" style="width: 330px;">
      </div>
    </div>
    <div class="input_block long">
      <p><%= custom_t(".federal_tax_classification") %></p>
      <label class="radio"><%= radio_button('tax_info', 'classification', 'individual', class: "tax_classification") %><%= custom_t(".individual") %></label>
      <label class="radio"><%= radio_button('tax_info', 'classification', 'c_corp', class: "tax_classification") %><%= custom_t(".c_corp") %></label>
      <label class="radio"><%= radio_button('tax_info', 'classification', 's_corp', class: "tax_classification") %><%= custom_t(".s_corp") %></label>
      <label class="radio"><%= radio_button('tax_info', 'classification', 'partnership', class: "tax_classification") %><%= custom_t(".partnership") %></label>
      <label class="radio"><%= radio_button('tax_info', 'classification', 'trust_estate', class: "tax_classification") %><%= custom_t(".trust_estate") %></label>
      <label class="radio"><%= radio_button('tax_info', 'classification', 'llc', class: "tax_classification") %><%= custom_t(".llc") %></label>
      <label class="radio"><%= radio_button('tax_info', 'classification', 'other', class: "tax_classification") %><%= custom_t(".other") %></label>
    </div>

  <div class="input_block" id="llc_classification">
    <label><%= custom_t(".llc_tax_classification") %></label>
    <%= select_tag "tax_info[llc_classification]",
      options_for_select(
        [
          [custom_t(:select_one), ""],
          [custom_t(".c_corp"), "c_corp"],
          [custom_t(".s_corp"), "s_corp"],
          [custom_t(".partnership"), "partnership"]
        ],
        @tax_info.llc_classification
      )
    %>
  </div>
</section>

<section class="tax_block">
  <div class="input_block" id="tax_id">
    <label><%= custom_t(".tax_id_number") %></label>
     <input type="text" value="<%= @tax_info.tax_id %>" id="entity_fakess" maxlength="11" style="width: 330px;">
     <input type="text" name="tax_info[tax_id]" value="<%= @tax_info.tax_id %>" id="entity_tax_id" style="width: 330px; display: none;">
  </div>
  <div class="input_block" id="ssn">
    <label><%= custom_t(".ssn") %> <small><a href="#" id="why"><%= custom_t(".why_we_need_this") %></a></small></label>
    <input type="text" value="<%= @tax_info.tax_id %>" id="fakess" maxlength="11" style="width: 330px;">
    <input type="text" name="tax_info[tax_id]" value="<%= @tax_info.tax_id %>" id="social_security" style="width: 330px; display: none;">
  </div>
  <div class="input_block">
    <label for="exempt_payee"><input type="checkbox" id="exempt_payee" name="tax_info[exempt_payee]" value="1" /> <%= custom_t(".exempt_payee") %></label>
  </div>
</section>

<h2><%= custom_t(".contact_information") %></h2>
<section class="tax_block">
  <div class="input_block">
    <label><%= custom_t(:address) %> *</label>
    <input id="address1" type="text" name="tax_info[address_1]" value="<%=@tax_info.address_1%>" style="width: 330px;" />
  </div>
</section>

<section class="tax_block">
  <div class="input_block">
    <label><%= custom_t(:address2) %></label>
    <input type="text" name="tax_info[address_2]" value="<%=@tax_info.address_2%>" style="width: 330px;" />
  </div>
</section>

<section class="tax_block">
  <div class="input_block">
    <label><%= custom_t(:city) %> *</label>
    <input id="city" type="text" name="tax_info[city]" value="<%=@tax_info.city%>" style="width: 330px;" />
  </div>
  <div class="input_block extra_short">
    <label><%= custom_t(:state) %> *</label>
    <select id="state" name="tax_info[state]" style="width: 87px;">
      <option></option>
      <% US_STATES.sort.each do |k,v| %>
      <option value=<%= k %> <%=@tax_info.state == k ? "selected='selected'":nil%> ><%= k %></option>
      <% end %>
    </select>
  </div>
  <div class="input_block zip_code">
    <label><%= custom_t(:zip_code) %> *</label>
    <input id="zip" type="text" name="tax_info[zip]" value="<%=@tax_info.zip%>"  style="width: 90px;" />
  </div>
  <div class="input_block short">
    <label><%= custom_t(:country_display) %> *</label>
    <%= select_tag "tax_info[country]", grouped_options_for_select(country_dropdown_for_website(current_user.country_website_id), @tax_info.country), { style: "width: 140px;", promtp: "#{custom_t(:select_one)}" } %>
  </div>
</section>

<div class="w9_legal">
  <h2><%= custom_t(".certification") %></h2>
  <section class="tax_block">
    <div class="perjury_certification">
      <%= custom_t(".perjury_certification") %>
    </div>
    <label class="certify"><input type="checkbox" name="tax_info[agreed_to_w9]" value="1" /> <%= custom_t(".agree_to_certification") %></label>
  </section>
</div>

<input type="submit" value="<%= @submit_text %>" class="button-callout" />
