<% content_for :external_javascript do %>
<script type="text/javascript" src="/javascripts/magicTip.js"></script>
<script type="text/javascript" src="/javascripts/maskedinput.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($){
  $('#why').magicTip({
    position: 'bottomMiddle',
    content: function(){
      return '<strong>Why do we need your Social Security Number?</strong><br />We have to report your royalties as earnings to the government each year. You will receive a 1099 each year to use when filing your tax returns etc. Without providing your Social Security number or Tax ID number, we cannot account accordingly to you.';
    }
  });
  $('#why').bind('click', function(){return false;});
  
  $('.cl').bind('focus', function(){
    var defaultValue = $(this)[0].defaultValue;
    if($(this).val() == defaultValue){
        $(this).val('');
    } 
  });
  $('.cl').bind('blur', function(){
    var defaultValue = $(this)[0].defaultValue;
    if($(this).val() == ''){
        $(this).val(defaultValue);
    } 
  });
  
  $('#fakess').bind('focus', function(){
    $(this).hide();
    $('#social_security').show().focus();
  });
  
  $('#entity_fakess').bind('focus', function(){
    $(this).hide();
    $('#entity_tax_id').show().focus();
  });
  
  var social = function(field_selector, fakess_selector){
    var t = $(field_selector);
    var s = t.val();
    var fs = '';
    for(var i = 1; i <= s.length - 4; i++){
      if(i == 4 || i == 7){
        // do nothing
      }
      else{
        fs += '*';
      }
    }
    fs += s.substr(s.length - 4, s.length);
    $(fakess_selector).val(fs);
    t.hide();
    $(fakess_selector).show();
  };
  if ( $('#social_security').length ) {
    $('#social_security').bind('blur', function(){
      social('#social_security', "#fakess");
    });
    social('#social_security', '#fakess');
    $("#social_security").mask("999-99-9999");
  }
  if ( $('#entity_tax_id').length ) {
    $('#entity_tax_id').bind('blur', function(){
      social('#entity_tax_id', "#entity_fakess")
    });
    social('#entity_tax_id', "#entity_fakess") 
    $("#entity_tax_id").mask("99-9999999");
  }
  
  $("#country").change(function(){
    var $container = $("#state").parent("div");
    if ($(this).val() != "US"){
      $("#state").hide();
      $container.append('<input name="composer[state]" id="state_txt" style="width:180px; display:none;" type="text" />');
      $container.css("width","200px").find("label").html("state/province");
    } else {
      $("#state").show();
      $("#state_txt").remove();
      $container.css("width","90px").find("label").html("state *");
    }
  });
  
  var initialize = function() {
    if ( $('.tax_classification:checked').val() == "individual" ) {
      enable_field("#ssn");
      disable_field("#tax_id");
      disable_field("#llc_classification");
    } else if ( $('.tax_classification:checked').val() == "llc" ) {
      enable_field("#tax_id");
      disable_field("#ssn");
      enable_field("#llc_classification");
    } else {
      enable_field("#tax_id");
      disable_field("#ssn");
      disable_field("#llc_classification");
    };
  };
  
  $('.tax_classification').click(function(){
    tax_classification_selected( $(this) );
  });
  
  var tax_classification_selected = function(field_to_check) {
    if (field_to_check.val() == "llc") {
      enable_field("#tax_id");
      disable_field("#ssn");
      enable_field("#llc_classification");
    } else if (field_to_check.val() == "individual") {
      enable_field("#ssn");
      disable_field("#tax_id");
      disable_field("#llc_classification");
    } else {
      enable_field("#tax_id");
      disable_field("#ssn");
      disable_field("#llc_classification");
    }
  };
  
  var enable_field = function(field) {
    $(field).find("input").each(function() { 
      $(this).prop("disabled", "");
    });
    $(field).find("select").each(function() { 
      $(this).prop("disabled", "");
    });
    $(field).show();
  };
  
  var disable_field = function(field) {
    $(field).find("input").each(function() {
      $(this).prop("disabled", "disabled");
    });
    $(field).find("select").each(function() {
      $(this).prop("disabled", "disabled");
    });
    $(field).hide();
  };
  
  $('#q9_a_checked').change(function(){
    $('#q9_a_resident').focus();
  });
  
  initialize();
});
</script>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/tax_form.css" %>
<% end %>

<div class="content">
  <div class="row" style="padding-top: 20px;">
    <section class="breadcrumbs">
      <a href="<%= composers_path %>"><%= custom_t(".publishing_dashboard") %></a>
      <span class="active"><%= custom_t(".tax_info") %></span>
    </section>
  </div>
  <header>
    <div class="row">
      <div class="twelve columns">
        <section class="page_title">
          <% if @tax_form == "w9" -%>
            <h1><%= custom_t(".substitute_w9_form") %></h1>
          <% elsif @tax_form == "w8ben" -%>
            <h1><%= custom_t(".substitute_w8ben_form") %></h1>
          <% end -%>
        </section>
      </div>
    </div>
  </header>
  
  <div class="row">
    <section class="tax_form twelve columns">
      <%= form_tag(composer_tax_info_path(@composer, :tax_form => @tax_form)) do -%>
        <% if @tax_form == "w9" -%>
          <%= render :partial => "w9_form" -%>
        <% elsif @tax_form == "w8ben" -%>
          <%= render :partial => "w8ben_form" -%>
        <% end -%>
      <%- end -%>
    </section>
  </div>
</div>
