<% if sync_request.request_document.exists? %>
  Request with attachment: <%= link_to "Download", download_sync_license_request_path(sync_request) %>
<% else %>

<div class="row">
  <div class="six columns">
    <section class="production">
      <header class="row">
        <div class="twelve columns">
          <h3>Production Details</h3>
        </div>
      </header>
      
      <div class="row">
        <div class="twelve columns">
          <% if sync_request.sync_license_production %>
            <dl class="box box-white nopad">
              <dt>Production Title:</dt>
              <dd><%= sync_request.sync_license_production.title %></dd>
              
              <dt>Production Description:</dt>
              <dd><%= sync_request.sync_license_production.description %></dd>
              
              <dt>Studio:</dt>
              <dd><%= sync_request.sync_license_production.studio %></dd>
              
              <dt>Budget:</dt>
              <dd><%= sync_request.sync_license_production.budget %></dd>
            </dl>
          <% end %>
        </div>
      </div>
    </section>
    <section class="terms">
      <header class="row">
        <div class="twelve columns">
          <h3>Terms</h3>
        </div>
      </header>
    
      <div class="row">
        <div class="twelve columns">
          <% sync_request.sync_license_options.each do |option| %>
            <dl class="box box-white nopad">
              <dt>Media:</dt>
              <dd><%= option.media %></dd>
              
              <dt>Territory:</dt>
              <dd><%= option.territory %></dd>
              
              <dt>Term:</dt>
              <dd><%= option.term %></dd>
              
              <dt>Offer:</dt>
              <dd><%= option.offer %></dd>
              
              <dt>Comments:</dt>
              <dd><%= option.comments %></dd>
            </dl>
          <% end %>
        </div>
      </div>
    </section>
  </div>
  
  <section class="usage six columns">
    <header class="row">
      <div class="twelve columns">
        <h3>Usage</h3>
      </div>
    </header>
    
    <div class="row">
      <div class="twelve columns">
        <dl class="box box-white nopad">
          <dt>Scene Description:</dt>
          <dd><%= sync_request.scene_description %></dd>
          
          <dt>Master Use:</dt>
          <dd><%= sync_request.master_use? ? "Yes" : "No" %></dd>
          
          <dt>Type of Use:</dt>
          <dd><%= sync_request.type_of_use %></dd>
          
          <dt>Duration:</dt>
          <dd><%= "#{sync_request.duration_min} minutes and #{sync_request.duration_sec} seconds" %></dd>
        </dl>
      </div>
    </div>
  </section>
</div>
<% end %>
