<table class="quote_requests">
  <colgroup>
    <col class="quote_requests-col_supervisor">
    <col class="quote_requests-col_company">
    <col class="quote_requests-col_production">
    <col class="quote_requests-col_song">
    <col class="quote_requests-col_composer">
    <col class="quote_requests-col_usage">
    <col class="quote_requests-col_control">
    <col class="quote_requests-col_media">
    <col class="quote_requests-col_status">
    <col class="quote_requests-col">
  </colgroup>
  <thead>
    <tr>
      <th>Supervisor</th>
      <th>Company</th>
      <th>Production</th>
      <th>Song</th>
      <th>Composer</th>
      <th>Usage</th>
      <th>Master</th>
      <th>Publishing</th>
      <th>Media</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if licenses.each do |license| %>
      <tr>
        <td><%= license.person.name %></td>
        <td><%= license.person.business_name %></td>
        <td>
          <% if license.request_document.exists? %>
            <i>see attached</i>
          <% else %>
            <%= license.sync_license_production.title if license.sync_license_production %>
          <% end %>
        </td>
        <td><%= license.title %></td>
        <td><%= license.composer_names.join(", ") %></td>
        <td>
          <% if license.request_document.exists? %>
            <i>see attached</i>
          <% else %>
            <%= license.type_of_use %>
          <% end %>
        </td>
        <td>100%</td>
        <td><%= license.mech_collect_share.to_f.round %>%</td>
        <td><%= license.sync_license_options.first.media if !license.sync_license_options.empty? %></td>
        <td><%= license.status.humanize %></td>
        <td>
          <a href="<%= sync_license_request_path(license) %>">Details</a>
          
          <% if license.status == SyncLicenseRequest::STATUSES[:licensed] %>
            <a href="<%= license.ticketbooth_url %>">Download</a>
          <% end %>
        </td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="10">No quote requests at this time.</td>
      </tr>
    <% end %>
  </tbody>
</table>
