<!-- When adding new elements to request form, ensure they are properly added to both forms -->
<% if confirmation == true %>
  <%= form_for request_license, :url => sync_license_requests_path do |f| %>
    <%= hidden_field_tag :song_id, song.id %>
    <!-- Production details -->
    <% if request_license.sync_license_production_id.blank? %>
      <%= f.fields_for :sync_license_production do |builder| %>
        <%= builder.hidden_field :title             %> 
        <%= builder.hidden_field :description       %>
        <%= builder.hidden_field :studio            %>
        <%= builder.hidden_field :budget            %>
      <% end %>

    <% else %>
      <%= f.hidden_field :sync_license_production_id  %>
    <% end %>

    <!-- Request details -->
    <%= f.hidden_field :scene_description     %> 
    <%= f.hidden_field :master_use            %>
    <%= f.hidden_field :duration_min          %>
    <%= f.hidden_field :duration_sec          %>
    <%= f.hidden_field :type_of_use           %>

    <!-- Options details -->
    <%= f.fields_for :sync_license_options do |builder| %>
      <%= builder.hidden_field :media      %>
      <%= builder.hidden_field :territory  %>
      <%= builder.hidden_field :term       %>
      <%= builder.hidden_field :offer      %>
      <%= builder.hidden_field :number     %>
      <%= builder.hidden_field :comments   %>
    <% end %>
    
    <footer class="row">
      <%= f.submit "Request Quote &raquo;".html_safe, :new_form => true %>
    </footer>
  <% end %>

<% else %>

  <%= form_for request_license, :url => confirmation_sync_license_requests_path do |f| %>
    <%= hidden_field_tag :song_id, song.id %>
    <section class="production">
      <header class="row">
        <h3>1. Enter Production Details</h3>
      </header>
      <div class="row box box-white nopad">
        <% if productions.length > 0 %>
          <%= f.select :sync_license_production_id, options_for_select(productions.map{|p| [p.title, p.id]}.push(['Add a new production', ''])), {:label => "Production", :new_form => true} %> 
        <% end %>
        <div id="production_details" class="<% if productions.length > 0 or (params.has_key?(:sync_license_production_id) and !params[:sync_license_production_id].empty?) %>hide<% else %>noborder<% end %>">
          <%= f.fields_for :sync_license_production do |builder| %>
            <%= builder.text_field :title, :label => "Production Title", :class => "form-text", :new_form => true %> 
            <%= builder.text_area  :description, :label => "Production Description", :new_form => true %>
            <%= builder.text_field :studio, :label => "Studio", :class => "form-text", :new_form => true %>
            <%= builder.text_field :budget, :label => "Budget", :class => "form-text", :new_form => true %>
          <% end %>
        </div>
      </div>
    </section>

    <section class="usage">
      <header class="row">
        <h3>2. Usage Details</h3>
      </header>
      <div class="row box box-white nopad">
        <div style="border-top: 1px solid #F0F0F0; padding-top: 1em;">
          <div class="columns six">
            <%= f.text_area :scene_description, :label => "Scene Description", :new_form => true, :li_class => 'sync_fieldset-stacked' %>
          </div>
          <div class="columns two">
            <fieldset class="radio sync_fieldset-radio">
              <span style="margin: 5px 0; display: block;">Master Use</span>
              <%= f.radio_button(:master_use, "1", :label => "Yes", :li_class => "sync_fieldset-radio", :new_form => true) %>
              <%= f.radio_button(:master_use, "0", :label => "No", :li_class => "sync_fieldset-radio", :new_form => true) %>
            </fieldset>
            <span style="margin-bottom: 5px; display: block; font-size: 1.4em;">Duration Of Use</span>
            <%= f.text_field :duration_min, :class => "form-text", :li_class => "sync_fieldset-nolabel sync_fieldset-min", :new_form => true, :placeholder => "min" %>
            <%= f.text_field :duration_sec, :class => "form-text", :li_class => "sync_fieldset-nolabel sync_fieldset-sec", :new_form => true, :placeholder => "sec" %>
          </div>
          <div class="columns four">
            <fieldset class="sync_fieldset-stacked">
              <%= label_tag(:type_of_use_select, "Type Of Use") %>
              <%= select_tag :type_of_use_select, options_for_select([['Background Vocal'], ['Background Instrumental'], ['Visual Voice'], ['Visual Dance'], ['Opening Theme'], ['Closing Credits'], ['Other']], params[:type_of_use]), {:new_form => true} %><br><br>
              <%= f.text_field :type_of_use, :class => "form-text", :li_class => "sync_fieldset-nolabel hide", :new_form => true, :placeholder => "enter other" %>
            </fieldset>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </section>
        
    <section class="terms">
      <header class="row">
        <h3>3. Enter Terms</h3>
      </header>
      <div class="row box box-white nopad sync_expandables">
        <% i = 0 %>
        <%= f.fields_for :sync_license_options do |builder| %>
          <header class="expanded"><h3><a href="#"><% if i <= 0 %>Initial Terms<% else %>Option #<%= i %><% end %></a></h3></header>
          <div>
              <div class="columns six">
                <%= builder.text_field :media, :label => "Media (list all that apply)", :class => "form-text", :li_class => "sync_fieldset-stacked", :new_form => true %>
                <div>
                  <div style="float: left;">
                    <fieldset class="sync_fieldset-stacked">
                      <%= label_tag("territory_select[]", "Territory") %>
                      <%= select_tag "territory_select[]", options_for_select([['Worldwide'], ['World excluding United States and Canada'], ['World excluding Japan'], ['United States'], ['United States, its territories and possessions and Canada'], ['United States, its territories and possessions, Canada and Latin America'], ['United States, its territories and possessions, Canada, Latin America, Bermuda'], ['Other']]), {:new_form => true, :class => "territory_select", :style => "width: 300px;"} %><br><br>
                      <%= builder.text_field :territory, :li_class => "sync_fieldset-nolabel territory hide", :new_form => true, :placeholder => "enter other", :class=> "form-text", :style => "width: 300px;" %>
                    </fieldset>
                  </div>
                  <div style="float: right;">
                    <%= builder.select :term, options_for_select([['1 month'], ['2 months'], ['3 months'], ['6 months'], ['1 year'], ['2 years'], ['3 years'], ['4 years'], ['5 years'], ['10 years'], ['In Perpetuity']]), {:label => "Term", :li_class => "sync_fieldset-stacked", :new_form => true}, :style => "width: 100px;" %>
                  </div>
                  <div class="clear"></div>
                </div>
                <%= builder.text_field :offer, :label => "Proposed Fee (USD)", :class => "form-text", :li_class => "sync_fieldset-stacked", :new_form => true %>
                <%= builder.hidden_field :number, :value => "0" %>
              </div>
              <div class="columns six">
                <%= builder.text_area :comments, :label => "Additional Comments", :new_form => true, :li_class => "sync_fieldset-stacked" %>
              </div>
            <div class="clear"></div>
          </div>
          <% i = i + 1 %>
        <% end %>
        <footer>
          <a href="#">Add Another Option <i class="fa fa-plus-circle"></i></a>
        </footer>
        <div class="clear"></div>
      </div>
    </section>

    <footer class="row">
      <%= f.submit "Confirm Details &raquo;".html_safe, :new_form => true %>
    </footer>
  <% end %>

<% end %>
