<div class="box song_detail-info">
  <h2>
    &ldquo;<%= display_name(song) %>&rdquo;
    <span style="font-size: .6em; margin-bottom: -2px;" class="sm_sound"
      sound="<%= song.streaming_url %>"
      sm_player-artwork="<%= song.sync_artwork_url %>"
      sm_player-title="<%= display_name(song) %>"
      sm_player-artist_name="<%= song.artist_name %>"
      sm_player-album="<%= song.album_name %>"
      sm_player-composers="<%= muma_song.composition.publishing_splits.map {|split| "#{split.composer.first_name} #{split.composer.last_name}"} %>"
      sm_player-label_copy="<%= muma_song.label_copy %>">
    </span>
  </h2>
  <p><%= muma_song.label_copy %></p>
  <p>
    <strong>Written by</strong> <%= muma_song.composers.collect{ |composer| "#{composer.composer_first_name} #{composer.composer_last_name}" }.join(", ") %>.
    <b class="control control-partial"><%= (muma_song.mech_collect_share.blank?) ? "Unknown" : muma_song.mech_collect_share.to_f.round %>%</b> controlled composition.
  </p>
  <p>
    <strong>Performed by</strong> <%= song.artist_name %>.
    <b class="control control-full"><%= song.album.takedown_at.present? ? '0%' : '100%' %></b> controlled master.
  </p>
</div>
