<% content_for :external_javascript do %>
  <% if Rails.env.production? %>
    <%= javascript_include_tag "/javascripts/soundmanager2-nodebug-jsmin" %>
  <% else %>
    <%= javascript_include_tag "/javascripts/soundmanager2" %>
  <% end %>
  <%= javascript_include_tag "/javascripts/swfobject2.2.js" %>
  <%= javascript_include_tag "/javascripts/sm.js" %>
  <script type="text/javascript">
    jQuery(document).ready(function($){
        var sm = new TC.SM();
    });
  </script>
<% end %>

<header class="row">
  <h2>Confirmation Details</h2>
</header>

<section class="license_request_confirm row">
  <div class="twelve columns">
    <%= render :partial => "license_request", :locals => {:confirmation => true,
                                                          :request_license => @request_license,
                                                          :song => @song} %>
  </div>
</section>

<section class="song_detail row">
  <div class="twelve columns">
    <%= render :partial => "song_detail", :locals => {
                 :muma_song => @muma_song,
                 :song => @song
               } %>
  </div>
</section>

<div id="license_request">
  <%= render :partial => "license_details", :locals => {:sync_request => @request_license} %>
</div>
<%= render :partial => "/shared/sm_player" %>
