<header class="row">
  <div class="twelve columns">
    <h2>Quote Requests</h2>
  </div>
</header>

<div class="row">
  <section id="license_requests" class="twelve columns">
    <%= render :partial => "licenses", :object => @license_requests %>
  </section>
</div>

<% if @licensed_requests.length > 0 %>
<header class="row">
  <div class="twelve columns">
    <h2>Licenses</h2>
  </div>
</header>

<div class="row">
  <section id="licenses" class="twelve columns">
    <%= render :partial => "licenses", :object => @licensed_requests %>
  </section>
</div>
<% end %>
