<% content_for :external_javascript do %>
  <% if Rails.env.production? %>
    <%= javascript_include_tag "/javascripts/soundmanager2-nodebug-jsmin" %>
  <% else %>
    <%= javascript_include_tag "/javascripts/soundmanager2" %>
  <% end %>
  <%= javascript_include_tag "/javascripts/swfobject2.2.js" %>
  <%= javascript_include_tag "/javascripts/sm.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery_file_upload/js/vendor/jquery.ui.widget.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery_file_upload/js/jquery.iframe-transport.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery_file_upload/js/jquery.fileupload.js" %>
  <%= javascript_include_tag "/javascripts/form_utils.js" %>
  <%= javascript_include_tag "/javascripts/app/sync/license_request.js" %>
  <script type="text/javascript">
    jQuery(document).ready(function($){
        var sm = new TC.SM();
    });
  </script>
<% end %>

<header class="row">
  <h2>Request a Quote</h2>
</header>

<section class="song_detail row box">
  <%= render :partial => "song_detail", :locals => {muma_song: @muma_song,
                                                    song: @song} %>
  <div class="twelve columns song_detail-tip">
    <a href="#" class="hide syncTipToggle">Upload a quote request &raquo;</a>
    <div class="sync_tip tl">
      <span class="sync_tip-content">
        <b>Already filled out your own form?</b> You can upload it here and ignore the form below.
        <a href="#" class="syncTipToggle">(hide)</a>
      </span>
      <div class="sync_tip-uploader hide">
        <strong><span class="sync_tip-filename"></span></strong> <span class="upload_success hide">has successfully uploaded.</span><br><br>
        <div class="sync_progress-bar"><div class="sync_progress-progress"></div></div>
      </div>
      <span class="button-callout-alt fileupload_button right">
        <strong>Upload Quote Request &raquo;</strong>
        <input id="fileupload" type="file" name="request_upload" data-action="<%= sync_license_requests_path(:song_id => @song.id) %>">
      </span>
      <div class="clear"></div>
    </div>
  </div>
</section>

<%= error_messages_for @request_license %>

<%= render :partial => "license_request", :locals => {:confirmation => false,
                                                      :request_license => @request_license,
                                                      :productions => @productions,
                                                      :muma_song => @muma_song,
                                                      :song => @song} %>
<%= render :partial => "/shared/sm_player" %>
