<% content_for :external_javascript do %>
  <% if Rails.env.production? %>
    <%= javascript_include_tag "/javascripts/soundmanager2-nodebug-jsmin" %>
  <% else %>
    <%= javascript_include_tag "/javascripts/soundmanager2" %>
  <% end %>
  <%= javascript_include_tag "/javascripts/swfobject2.2.js" %>
  <%= javascript_include_tag "/javascripts/sm.js" %>
  <script type="text/javascript">
    jQuery(document).ready(function($){
        var sm = new TC.SM();
    });
  </script>
<% end %>

<header class="status row">
  <div class="twelve columns">
    <h2 class="status-hd">Quote Request</h2>
    <p class="status-bug"><%= @sync_request.status.capitalize %></p>
    <% if @sync_request.status == SyncLicenseRequest::STATUSES[:licensed] %>
      <a href="<%= @sync_request.ticketbooth_url %>">Download</a>
    <% end %>
  </div>
</header>

<section class="song_detail row">
  <div class="twelve columns">
    <%= render :partial => "song_detail", :locals => {
                 :muma_song => @sync_request.song.muma_songs.first,
                 :song => @sync_request.song
               } %>
  </div>
</section>

<div id="license_request">
  <%= render :partial => "license_details", :locals => {:sync_request => @sync_request} %>
</div>
<%= render :partial => "/shared/sm_player" %>
