<div id="call-resend-banned-modal" class="hidden">
  <p><%= custom_t("tfa_call_ban.message") %></p>
  <br />
  <p><%= custom_t("tfa_call_ban.alternate_option") %>: <a href="#" class="simplemodal-close" id="alternate-resend-link" data-token='<%= @token %>'><%= custom_t("tfa_call_ban.alternate_link_text") %></p>
</div>
