<%= simple_form_for @track_monetization_judgement_form, url: mass_judgement_admin_track_monetization_judgements_path do |f| %>

  <%= render "submit_button" %>
  <%= render "mass_check" %>

  <div class="table-holder">
    <table id="comp-table">
      <thead>
        <tr>
          <th class="play"><%= custom_t(:play) %></th>
          <% if params[:eligibility_status] == "all" %>
            <th class="status-col"><%= custom_t(:status) %></th>
          <% end %>
          <th class="genre"><%= custom_t(".release_genre") %></th>
          <th><%= custom_t(".release_name") %></th>
          <th><%= custom_t(".song_name") %></th>
          <th><%= custom_t(".account_name") %></th>
          <th><%= custom_t(".primary_artist") %></th>
          <th><%= custom_t(".feat_other_artists") %></th>
          <th class="isrc"><%= custom_t(".song_isrc") %></th>
          <th class="upc"><%= custom_t(".release_upc") %></th>
          <th><%= custom_t(:label) %></th>
          <th class="verify">Verify <%= @store&.short_name %></th>
        </tr>
      </thead>
      <tbody>
        <% if @track_monetizations.blank? %>
          <td colspan="9"><%= custom_t(".no_revenue") %></td>
        <% else %>
          <% @track_monetizations.each do |track_monetization| %>
            <tr class="salepoint_song_row">
              <td id="<%=track_monetization.id%>" class="play">
                <a href="<%=admin_song_play_song_path(track_monetization.song_id)%>" class="play-link fa-play fa"></a>
              </td>
              <% if params[:eligibility_status] == "all" %>
                <td><%= track_monetization.eligibility_status %></td>
              <% end %>
              <td><%= display_track_genre(track_monetization) %></td>
              <td><%= track_monetization.album.name %></td>
              <td><%= track_monetization.song.name %></td>
              <td><%= display_track_account_name(track_monetization) %></td>
              <td><%= display_track_primary_artists(track_monetization) %></td>
              <td><%= display_track_secondary_artists(track_monetization) %></td>
              <td><%= track_monetization.song.isrc %></td>
              <td><%= track_monetization.album.upc %></td>
              <td><%= track_monetization.album.label.name %></td>
              <td class="checkbox-wrapper">
                <label>
                  <input
                    type="checkbox"
                    name="track_monetizations[<%= track_monetization.id %>][eligibility_status]"
                    value="eligible"
                    class="approve-check"
                    <% if track_monetization.eligibility_status == 'eligible' %>checked<% end %>
                  >
                  <%= custom_t(".approve") %>
                </label>
                <label>
                  <input
                    type="checkbox"
                    name="track_monetizations[<%= track_monetization.id %>][eligibility_status]"
                    value="ineligible"
                    class="reject-check"
                    <% if track_monetization.eligibility_status == 'ineligible' %>checked<% end %>
                  >
                  <%= custom_t(".reject") %>
                </label>
                <label>
                  <input
                    style="display: none;"
                    type="checkbox"
                    name="track_monetizations[<%= track_monetization.id %>][eligibility_status]"
                    value="pending"
                    class="pending-check"
                    <% if track_monetization.eligibility_status == 'pending' %>checked<% end %>
                  >
                </label>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= render "submit_button" %>
<% end %>
