<% content_for :css do %>
  <%= stylesheet_link_tag '/stylesheets/pub_admin.css' %>
  <%= stylesheet_link_tag '/stylesheets/ytm_admin.css' %>
  <%= stylesheet_link_tag '/stylesheets/font-awesome.min.css' %>
<% end %>

<div class="track-monetization-judgement-container">
  <h2><%= @page_title %></h2>
  <%= render partial: "search", locals: { search_path: local_assigns[:search_path] } %>
  <%if @track_monetizations%>
    <%= render partial: "pagination" %>
    <%= render partial: "form" %>
    <%= render partial: "pagination" %>
  <%end%>
</div>
