<div class="mass-check">
  <input type="button" value="clear_all" class="clear-all button-interface">
  <input type="button" value="approve_all" class="approve-all button-callout">
  <input type="button" value="reject_all" class="reject-all button-callout">
</div>
