<% if @track_monetizations.present? %>
  <div class="pagination-wrapper">
    <span style="float: left;"><%= page_entries_info @track_monetizations %></span>
    <span style="float: right;"><%= will_paginate @track_monetizations %></span>
    <div class="clearfix"></div>
  </div>
<% end %>
