<% search_path ||= admin_track_monetization_judgements_path %>

<div class="filter-holder">
  <div class="filters">
    <%= form_tag search_path, method: "get" do %>
      <div class="filter float-holder" style="padding-top: 0">
        <div class="float" style="width: 100px">
          <%= custom_t(".search_by") %>
        </div>
        <div class="float">
          <%= select_tag('search_field', options_for_select(
            TrackMonetization::SearchQueryBuilder::SEARCH_FIELD_OPTIONS,
            params[:search_field]))
          %>
        </div>
      </div>
      <div class="filter float-holder">
        <div class="float" style="width: 100px">
          <%= custom_t(".search_for") %>
        </div>
        <div class="float">
          <input type="text" id="salepoint-songs-search" name="search_text" value="<%= params[:search_text] %>">
        </div>
        <span id="search-help">
          <%= custom_t(".search_text_fields") %>
        </span>
      </div>
      <div class="filter float-holder" style="border-botton: none">
        <div class="float" style="width: 100px">
          <%= custom_t(".song_state") %>
        </div>
        <div class="float">
          <%= select_tag('eligibility_status',
            options_for_select(
              {
                "All" => nil,
                "New" => TrackMonetization::PENDING,
                "Approved" => TrackMonetization::ELIGIBLE,
                "Rejected" => TrackMonetization::INELIGIBLE
              },
              params[:eligibility_status])
            )
          %>
        </div>
      </div>
      <div class="filter float-holder" style="border-bottom: none">
        <div class="per-page-select">
          <div class="float" style="width: 100px">
            <%= custom_t(".per_page") %>
          </div>
          <div class="float">
            <% pagination_options = TrackMonetization::SearchQueryBuilder::PAGINATION_OPTIONS %>
            <%= select_tag('per_page', options_for_select(
              pagination_options, params[:per_page] || pagination_options[0]
            ))%>
          </div>
        </div>
      </div>
      <input type="hidden" name="field_change" value="" id="field_change">
      <div class="filter float-holder" style="border-bottom: none; padding-bottom: 0">
        <div class="float" style="width: 100px">&nbsp;</div>
        <div class="float submit">
          <%= submit_tag custom_t(:go) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
