<%= simple_form_for :export_form,
      url: api_backstage_balance_history_exports_path(
        export_form: {
        target_types: [],
        txn_ids: transactions.map(&:id),
        num_pages: 100
      })  do |f| %>
        <%= f.submit :export_form_button,
                     id: :export_form_button,
                     class: 'balance-history-table-export__button' %>
        <%= label_tag :export_form_button, '',
                      class: 'balance-history-table-export__icon' %>
<% end %>
