<%= content_tag :div, class: 'balance-history-table-full-row', id: "load_more_button" do %>
  <%= content_tag :div, class: 'load-more-cell' do %>
    <%= simple_form_for :filter_transactions, url: balance_histories_path, method: :get, remote: true do |f| %>
      <%= f.input :page, as: :hidden, input_html: { value: "2" } %>
      <%= f.submit custom_t("balance_histories.actions.load_more"),
                   class: 'balance-history-table-action' %>
    <% end %>
  <% end %>
<% end %>
