<%= content_tag :div, id: "transaction-#{transaction.id}",
                class: 'balance-history-table-row' do %>
  <%= render "balance_histories/transaction_history/cell",
             cell_contents: to_date(transaction.created_at) %>

  <%= render "balance_histories/transaction_history/cell",
             cell_contents: transaction_desc(transaction) %>

  <%= render "balance_histories/transaction_history/cell",
             cell_contents: current_transaction_value(transaction) %>

  <%= render "balance_histories/transaction_history/cell",
             cell_contents: balance_change(transaction) %>
<% end %>
