<%= content_tag :div, class: "balance-history-table" do %>
  <%= content_tag :div, class: 'balance-history-table-title' do %>
    <%= content_tag :div, class: 'cell small-4' do %>
      <%= content_tag :strong, table_title(table_key) %>
    <% end %>
    <%= content_tag :div, class: 'balance-history-icon-container' do %>
      <%= render 'balance_histories/transaction_history/filter_txns' %>
      <%= render 'balance_histories/transaction_history/export_txns',
                  transactions: transaction_set %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: "hide", id: "balance_history_table_filter_form" do %>
    <%= render 'balance_histories/filter' %>
  <% end %>

  <%= content_tag :div, class: 'balance-history-table-content' do %>
    <%= render 'balance_histories/transaction_history/headers',
               headers: headers(table_key) %>

    <%= content_tag :div, id: "balance_history_table_data" do %>
      <%= render partial: 'balance_histories/transaction_history/row',
                 collection: transaction_set,
                 cached: fragment_caching_enabled?,
                 as: :transaction %>
    <% end %>

    <% unless on_last_page %>
      <%= render "balance_histories/transaction_history/load_more" %>
    <% end %>
  <% end %>

<% end %>
