<%# content_for :external_javascript do -%>
<!-- <script src="https://paypalobjects.com/js/external/dg.js"></script> -->
<%= javascript_include_tag "/javascripts/paypal_digital_goods.js" %>
<script src="/javascripts/jquery-1.3.2.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($){
	$('#ppll', window.parent.document).hide();
	parent.dg.closeFlow();
});
//top.dg.closeFlow();
//dg.closeFlow();
</script>
<%# end -%>