<div id="page">
  <h3><%= custom_t(".paypal_error") %></h3>

  <%- if flash[:error] -%>
    <div id="paypal-error-message">
      <%= flash[:error] %>
    </div>
  <%- end -%>
  <p><%= custom_t(".please_contact") %> <%= link_to (custom_t(".customer_support"), knowledgebase_link_for('distro-contact-us', country_website)) %> <%= custom_t(".for_help") %></p>

  <p><a href="#" id="close_iframe" class="button-interface"><%= custom_t(".back") %></a></p>
</div>
