<div style="clear:both">
<%= image_tag @edit_image, :width => '400', :height => '400', :id => 'cover', :style => "float:left" %>
<script>Droppables.add('cover', {
   onDrop: function(element) 
     { $(element.id + '_left').value = Position.cumulativeOffset(element)[0];
       $(element.id + '_top').value = Position.cumulativeOffset(element)[1]; }});
</script>
</div>