<!-- flash upload version -->
<div id="artwork_area_flash">
	<% if artwork.status == 'error'%>
		<div><span style="color:#CC0000">There's a problem with the submitted file:</span> <%= artwork.last_errors %></div>
	<% end %>
	<%= build_artwork_uploader(artwork, album.id) %>
</div>


<!-- non-flash upload version -->
<div id="artwork_area_ajax" style="display:none">
 <%= form_tag(artwork_path(), :multipart => true, 
							:begin => "new Effect.Appear('status')",:finish => "new Effect.Fade('status')") %>
  <%= hidden_field_tag(:direct_to, "reload")%>
  <%= file_field_tag 'Filedata' %><%= submit_tag 'Upload' %>
  </form>
  <div id="status" style="display:none;">
	<%= upload_status_tag %>
    <%= image_tag("/images/spinner01.gif") %>
  </div>
  <% if msgs = flash[:errors] %>
    <% msgs.each do |msg| %>
      <p style="color: #ff0000;"><%= msg %></p>
    <% end %>
  <% end %>
</div>

<script>
if(DetectFlashVer(8, 0, 0)){
	//alert(DetectFlashVer(6, 0, 65));	
}
else{
	Element.show('artwork_area_ajax');
	Element.hide('artwork_area_flash')
}
</script>