<div class="formcontainer">
  <h1>manage your artwork</h1>

	<fieldset>
	  <p style="text-align:center">
      <% if @artwork.uploaded? %>
        Here's the current artwork for your album.
      <% else %>
        You haven't uploaded artwork for this album yet.
      <% end %>
    </p>
	<div id="edit_image">
    <%= image_tag(artwork_400x400(@album), :alt => display_name(@album) + " Cover", :width => 400, :height => 400, :class => 'center') %>
	</div>
	</fieldset>
	<fieldset class="submitfield">
	  <%= link_to(image_tag("/images/buttons/need_artwork.gif"), make_album_artwork_path(@album)) unless @artwork.auto_generated? %>
	</fieldset>

	<fieldset>
	  <legend>Use my own artwork</legend>
	  <div style="width:400px;margin-left:60px">
	  <% if @artwork.uploaded? %>

    	<p>This will be the artwork for your album. If you want to change the image, choose the <b>Browse</b> button and select your file.</p>
    	<div id='image_upload_area' style="margin-left:0px;margin-bottom:1em">
  			<%= render(:partial => 'flash_upload', :locals => {:artwork => @artwork, :album => @album})%>
  		</div>
    	<p>For more information about artwork requirements, click <%= link_to "here", knowledgebase_link_for('cover-art-format-requirements', country_website) %>. If you need help from TuneCore support click <%= link_to('here', knowledgebase_link_for('distro-contact-us', country_website))%>.</p>
    	<% unless @artwork.auto_generated?%><p>If you would like to use our generated artwork instead, click on the <b>generate artwork for me</b> button below.</p><% end %>

    <% else %>

      <% if !@artwork.last_errors.blank? %>
  	    <p><span style="color:#CC0000;"><b>There's a problem with the submitted file:</b> <%= @artwork.last_errors %></span></p>
  	  <% end %>

      <p>You can either have Tunecore generate artwork for you by clicking <b>generate artwork for me</b> below.</p>

      <p>Or, you can upload your own artwork now. </p>

      <h4>What you'll need</h4>
      <ul>
        <li>a JPG, GIF or PNG image file</li>
        <li>the image should be square and at least 1600x1600 pixels in size (2400x2400 is suggested)</li>
        <li>it must be in best-quality RGB Color mode</li>
        <li>it must have a resolution of at least 72 dpi</li>
      </ul>

      <h4>Please do not</h4>
      <ul>
        <li>include email addresses or URLs on your artwork</li>
        <li>include any pricing information on your artwork</li>
      </ul>

      <h4>Please do</h4>
      <ul>
        <li>make sure that both the artist name and album title appear on the artwork</li>
        <li>remove any stickers or other items from your artwork in case you are scanning it in from a physical CD</li>
      </ul>

      <div id='image_upload_area' style="margin-left:0px;margin-bottom:1em">
  			<%= render(:partial => 'flash_upload', :locals => {:artwork => @artwork, :album => @album})%>
  		</div>
  		<p style="clear:both;">If you need help from TuneCore support <%= link_to('click here', knowledgebase_link_for('distro-contact-us', country_website))%>.</p>

    <% end %>

		<script language="JavaScript">
  			function upload_refresh(){
					//new Ajax.Request('<%= artwork_path() %>', {asynchronous:true, evalScripts:true, method:'get'});
					window.location.reload();
  			}
  		</script>
    </div>
		<div style="clear:both"></div>
	</fieldset>

	<fieldset class="submitfield">
		<%= link_to(image_tag("/images/albums/return_to_album.gif"), album_path(@album))%>
	</fieldset>
</div>
