<section id="accept_terms" class="tabSection <% if @tab != "terms" %>hide<% end %>">
  <div class="row">
    <div class="nine columns">
      <%= link_to custom_t(".view_terms_and_conditions"), '/index/terms' %>

      <ul class="clearfix">
        <%= form_for @person, method: :put  do |f| %>

          <% if !@person.accepted_terms_and_conditions %>
            <%= f.check_box(
                :accepted_terms_and_conditions,
                label: custom_t(".i_agree_to_the_tunecore_t_c"),
                li_class: 'checkbox'
            ) %>
          <% end %>

          <%= f.submit custom_t(:save_changes) %>
        <% end %>
      </ul>
    </div>
  </div>
</section>
