<div class="box">
  <div class="payment_block">
    <ul>
      <% if allow_multiple_payment_options?(@person) %>
        <%= f.radio_button :preferred_payment_type, AdyenTransaction::ADYEN_NAME,
                           checked: @person_preference.preferred_payment_type == AdyenTransaction::ADYEN_NAME,
                           label: payment_preference_adyen_radio_button_label,
                           li_class: "heading",
                           class: "main_choice",
                           id: "person_preference_preferred_payment_type_Adyen" %>
      <% else %>
        <%= f.hidden_field :preferred_payment_type, value: AdyenTransaction::ADYEN_NAME %>
      <% end %>
    </ul>

    <div class="item-container">
      <%= render partial:"adyen_stored_payment_methods/stored_payment_method_for_pref",
        collection: @adyen_stored_payment_methods,
        locals: { f: f, adyen_stored_payment_methods: @adyen_stored_payment_methods }
      %>
    </div>
  </div>
</div>
