<% if FeatureFlipper.show_website_feature?(:plans_pricing, country_website) %>
  <p><%= custom_t(".sign_up_start_distributing")%></p>
  <%= custom_t(".default_bullet_list_plan",
                plan_price: plan_display_price
              ) %>
<% else %>
  <%= custom_t(".default_bullet_list",
                album_currency: album_price_with_currency(@person),
                single_currency: single_price_with_currency(@person),
                youtube_list_element: youtube_list_element(@person)
              ) %>
<% end %>