<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/magnific-popup.css" %>
<% end %>

<div id="domain-redirect-modal">
  <div class="row">
    <div class="twelve columns welcome"><%= custom_t('people.new.domain_redirector_modal.welcome') %></div>
  </div>

  <div class="row modal-domain-check">
    <div class="twelve columns"><%= custom_t('people.new.domain_redirector_modal.domain_check', country: country_website, redirect_country: @redirect_country) %></div>
  </div>


  <div class="modal-buttons">
    <div class="row">
      <button class="button twelve columns modal-action-btn" id="close-modal"><%= custom_t('people.new.domain_redirector_modal.stay_on_domain', country: country_website) %></button>
    </div>

    <div class="row">
      <%= button_to(
            custom_t('people.new.domain_redirector_modal.redirect'),
            signup_url(host: CountryWebsite.find_by(country: @redirect_country).url),
            class: "button twelve columns modal-action-btn",
            method: :get) %>
    </div>
  </div>
</div>


<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
  <%= javascript_include_tag "signup/domain_modal.js" %>
<% end %>
