<section id="subscriptions" class="tabSection <% if @tab != "subscriptions" %>hide<% end %>">
  <div class="row">
    <div class="nine columns">
      <% if !@active_renewals.empty? -%>
        <%= custom_t(".all_amounts_in", currency: current_user.currency) %><br /><br />
        <% @active_renewals.each do |renewal| -%>
          <% album = renewal.items.first.related
             dur = renewal.renewal_duration
             phrase = "1-year"
             phrase = "2-year" if dur == 2
             phrase = "5-year" if dur == 5
          -%>
            <div class="box" style="padding-bottom: 10px;">
              <div class="summary">
                <% if (album.artwork != nil) %>
                  <span style="float: left; margin-top: 4px; margin-right: 5px;"><%= image_tag(album.artwork.url(:small)) %></span>
                <% end %>
                <h3><%= h(album.album_type) %>: <%= h(display_name(album)) %></h3>
                <% if renewal.taken_down? -%>
                  <span class="warning-text"><%= custom_t(".taken_down") %></span>
                <% end -%>
                <ul>
                  <li><%= custom_t(".cost_renewal", { phrase: phrase }) %> <%= renewal_price_with_discount(current_user, renewal) %> <% if dur == 2 %><%= custom_t(".5_discount") %><% elsif dur == 5 %><%= custom_t(".10_discount") %><% end %>
                    <% if show_vat_info? %>
                      <span class="vat_tooltip" data-title="<%= custom_t('vat.tool_tip_title') %>" data-content="<%= custom_t('vat.tool_tip_content') %>"></span>
                    <% end %>
                  </li>
                  <% if renewal.canceled? -%>
                    <li><%= custom_t(".expires_on", { date: fmt_long_date(renewal.expires_at.to_date) }) %></li>
                  <% else -%>
                    <li><%= custom_t(".renewal_due", { date: fmt_long_date(renewal.expires_at.to_date) }) %></li>
                  <% end -%>
                </ul>
              </div>
              <% if (!renewal.taken_down? && !renewal.canceled?) %>
                <%= link_to(custom_t(".pay_now"), { :action => "buy", :id => renewal.id, :product_id => "n", :controller => "subscriptions" }, { :method => :post, :class => "blue-btn" }) %>
              <% end -%>
              <div class="clear"></div>
            </div>
        <% end -%>
      <% elsif @plan_renewal_service.plan_user? -%>
        <%= render "plan_renewal_card", service: @plan_renewal_service,
                                        show_vat_info: show_vat_info? %>
      <% else -%>
        <p>
          <%= custom_t(".no_renewals_due_note",
            {
              link: link_to(custom_t(".order_history"), history_index_path, {class: "goToHistory"})
            }
          )%>
        </p>
      <% end -%>

      <% if @person_subscriptions.present? %>
        <% @person_subscriptions.each do |person_subscription| %>
          <%= render "edit_person_subscription",
            person_subscription: person_subscription,
            subscription_product: person_subscription.subscription_products.first %>
        <% end %>
      <% end %>

    </div>
    <div class="three columns">
      <% unless owns_or_carted_plan? %>
        <div class="included" style="margin-top: 32px;">
          <h3><%= custom_t(".my_distribution_credits") %></h3>
          <ul class="clearfix resetli">
            <% unless @account_overview.available_inventory.empty? -%>
              <% @account_overview.available_inventory.each do |inventory| -%>
                <li><%= pluralize(inventory.total_left, h("#{inventory.inventory_type} #{custom_t(:credit)}")) %></li>
              <% end -%>
            <% else -%>
              <li><%= custom_t(:you_have_zero_credits) %></li>
            <% end -%>
            <li><%= link_to custom_t(".buy_distribution_credits"), "/credits" %></li>
          </ul>
        </div>
      <% end %>
      <%= render partial: "you_have_released_sidebar" %>
      <% if plan_display_valid? && show_plan_promo? %>
        <%= render partial: "plan_promo/plan_promo" %>
      <% end %>
    </div>
  </div>
</section>
