<% content_for :optimizely_custom_tags do %>
  <%= optimizely_custom_tag(Optimizely::Page.new(current_user, currency: locale_currency, page_name: optimizely_page_name).tag_data) %>
<% end %>

<div id="paypalModal" title="<%= custom_t(".paypal_connect") %>" class="hide">
  <div>
    <%= custom_t('.paypal_modal', {
      unit: MONEY_CONFIG[@person.person_balance.currency][:unit],
      link: link_to("Continue", ec_step1_stored_paypal_accounts_path, class: "add_pp_link button-callout-alt")
    }) %>
  </div>
</div>

<section id="payment_options" class="tabSection <% if @tab != "payment" %>hide<% end %>">
  <%= custom_flash_message(@tcs_return_msg, custom_t('shared.tc_social.tcs_return_after_payment_update'), ['tcs-return-msg']) %>
  <div class="row">
    <div class="twelve columns">
      <% if @person.autorenew? %>
        <%= error_messages_for(@person_preference) %>
        <fieldset>
          <%= form_for @person_preference do |f| %>
            <div id="optimizely-failed-renewal" data-exists='<%= current_user.optimizely_failed_renewal ? "1" : "0" %>'</div>
            <% if FeatureFlipper.show_feature?(:expired_release_prefpage_messaging, current_user) && current_user.optimizely_failed_renewal %>
              <%= javascript_include_tag "/javascripts/people/editProfilePayment.js", exists: true %>
              <div class="message-banner">
                <%= custom_t('people.edit_profile_payment.failed_renewal') %>
              </div>
              <div class="release-info">
                <%= custom_t('people.edit_profile_payment.failed_release',
                             release_title: current_user.optimizely_failed_renewal.items.first.related.name,
                             renewal_date: (Time.at(current_user.optimizely_failed_renewal.expires_at) + 42.days).strftime("%b %d, %Y")
                            ) %>
              </div>
            <% else %>
              <div class="note_alert">
                <%= custom_t(".note_alert") %>
                <% if credit_and_paypal_available?(@current_user) %>
                  <%= custom_t(".stored_credit_card_or_paypal") %>
                <% elsif only_credit_available?(@current_user) %>
                  <%= custom_t(".stored_credit_card") %>
                <% else %>
                  <%= custom_t(".stored_paypal_account") %>
                <% end %>
                <% if non_native_currency_user? %>
                  <p><b><%= custom_t(".non_native_currency_balance_message") %></b></p>
                <% end %>
                </p>
              </div>
            <% end %>

            <% if @person.imported_from_stem? && trial_days_left > 0 %>
              <div class="free_trial_alert" id="stem-trial-message">
                <h4><%= custom_t(".stem_trial_message_title") %></h4>
                <p><%= custom_t(".stem_trial_message_text") %></p>
              </div>
            <% end %>

            <% if @days_until_expiration %>
              <div class="expiration-alert">
                <h3><%= custom_t(".credit_card_expiring_title") %></h3>
                <p><%= custom_t(".credit_card_expiring_text", days_until_expiration: @days_until_expiration) %></p>
              </div>
            <% end %>

            <h2 class="payment-settings"><%= custom_t(".payment_settings") %></h2>

            <div class="box pay-with-balance">
              <%= check_box_tag :pay_with_balance, false, @person_preference.pay_with_balance == 1 ? false : true %>
              <%= label_tag :pay_with_balance, custom_t(".pay_with_balance"), :class => "checkbox" %>
            </div>

            <% if allow_braintree_credit_cards?(@person) %>
              <h2><%= custom_t(".select_your_payment_method") %></h2>

              <div class="box">
                <div class="payment_block">
                  <ul>
                    <% if @person.allow_paypal? %>
                      <%= f.radio_button :preferred_payment_type, "CreditCard", :checked => @person_preference.preferred_payment_type == 'CreditCard', :label => custom_t(".pay_with_credit_card"), :li_class => "heading", :class => "main_choice", :id => "person_preference_preferred_payment_type_CreditCard" %>
                    <% else %>
                      <%= f.hidden_field :preferred_payment_type, { :value => "CreditCard" } %>
                    <% end %>
                  </ul>
                  <div id="credit-card-container">
                    <% reset_cycle %>
                    <% if !@braintree_credit_cards.empty? -%>
                      <% if @braintree_credit_cards.count > 1 %>
                        <div class="stored-credit-card-header"><%= custom_t(".stored_credit_cards_text") %></div>
                      <% end %>
                      <div class="item-container">
                        <%= render :partial => "stored_credit_cards/stored_credit_card_for_pref", :collection => @braintree_credit_cards, :locals => { :f => f, :tc_balance => "0", stored_cards: @braintree_credit_cards } %>
                      </div>
                      <%= link_to(custom_t(".add_another_credit_card"), new_stored_credit_card_path, class: "button-callout-alt add_cc_link right") %>
                    <% else -%>
                      <div class="item-container">
                        <div class="item"><%= custom_t(".add_a_credit_card_note") %></div>
                      </div>
                      <%= link_to(custom_t(".add_a_card"), new_stored_credit_card_path, class: "button-callout-alt floatL add_cc_link right")%>
                    <% end -%>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            <%elsif can_use_payments_os?%>
              <div class="box">
                <div class="payment_block">
                  <ul>
                    <% if @person.allow_paypal? %>
                      <%= f.radio_button :preferred_payment_type, "CreditCard", :checked => @person_preference.preferred_payment_type == 'CreditCard', :label => custom_t(".pay_with_credit_card"), :li_class => "heading", :class => "main_choice", :id => "person_preference_preferred_payment_type_CreditCard" %>
                    <% else %>
                      <%= f.hidden_field :preferred_payment_type, { :value => "CreditCard" } %>
                    <% end %>
                  </ul>
                  <div id="credit-card-container">
                    <% reset_cycle %>
                    <% if !@payments_os_credit_cards.empty? -%>
                      <% if @payments_os_credit_cards.count > 1 %>
                        <div class="stored-credit-card-header"><%= custom_t(".stored_credit_cards_text") %></div>
                      <% end %>
                      <div class="item-container">
                        <%= render :partial => "stored_credit_cards/stored_credit_card_for_pref", :collection => @payments_os_credit_cards, :locals => { :f => f, :tc_balance => "0",  stored_cards: @payments_os_credit_cards } %>
                      </div>
                      <%= link_to(custom_t(".add_another_credit_card"),
                                  new_stored_credit_card_path({payment_vendor: "payments_os",
                                                               redirect: request.fullpath,
                                                               tc_balance: 1}),
                                  class: "button-callout-alt add_payments_os_cc_link right") %>
                    <% else -%>
                      <div class="item-container">
                        <div class="item"><%= custom_t(".add_a_credit_card_note") %></div>
                      </div>
                      <%= link_to(custom_t(".add_a_card"),
                                  new_stored_credit_card_path({payment_vendor: "payments_os",
                                                               redirect: request.fullpath,
                                                               tc_balance: 1}),
                                  class: "button-callout-alt floatL add_payments_os_cc_link right")%>
                    <% end -%>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            <% end %>

            <% if @person.allow_paypal? %>
              <div class="box">
                  <div class="payment_block">
                    <ul>
                      <% if allow_braintree_credit_cards?(@person) %>
                        <%= f.radio_button :preferred_payment_type, "PayPal", :checked => @person_preference.preferred_payment_type == "PayPal", :label => custom_t(".pay_with_paypal"), :li_class => "heading", :class => "main_choice", :id => "person_preference_preferred_payment_type_PayPal" %>
                      <% else %>
                        <%= f.hidden_field :preferred_payment_type, { :value => "PayPal" } %>
                      <% end %>
                    </ul>

                    <div id="paypalContainer">
                      <% if @stored_paypal_account.nil? %>
                        <div class="item-container">
                          <div class="item"><%= custom_t(".you_have_not_added_a_paypal_account") %></div>
                        </div>
                        <%= link_to(custom_t(".add_a_paypal_account"), ec_step1_stored_paypal_accounts_path, class: "button-callout-alt add_pp_link right")%>
                      <% else %>
                        <%= render :partial => "stored_paypal_accounts/stored_paypal_account_for_pref", :locals => { :f => f, :stored_paypal_account => @stored_paypal_account } %>
                        <%= link_to(custom_t(".change_paypal_account"), ec_step1_stored_paypal_accounts_path, class: "button-callout-alt add_pp_link right")%>
                      <% end %>
                      <div id="paypal-container" class="hidden"></div>
                      <div class="clear"></div>
                    </div>
                  </div>
                <% if @from_cart %>
                <ul>
                  <li class="back">
                    <%= link_to custom_t(".back_to_checkout"), cart_path, :class => "cancel" %>
                  </li>
                </ul>
                <% end %>
              </div>
            <% end %>

            <% if show_adyen_preference_section?(@person) %>
              <%= render partial: "adyen_preference_section", locals: { f: f } %>
            <% end %>
            <ul class="submit-btn">
              <%= f.submit custom_t(".save_my_preferences"), :class => "button-callout-alt" %>
            </ul>
            <p class="help_link">
              <%= custom_t(".help_link_note", {
                link: link_to(custom_t(".help_link_note_link"), knowledgebase_link_for("take_down_music_from_stores", country_website))
              }) %>
            </p>
            </div>
          <% end %>
        </fieldset>
      <% else %>
        <div class="box">
          <p><%= custom_t(".auto_renewal_off_note") %></p>
          <%= error_messages_for(@person) -%>
          <fieldset>
            <%= form_for @person_preference do |f| -%>
              <%= hidden_field_tag :enable_auto_renewal %>
              <%= f.submit "Turn auto-renewals on", :class => "button-callout-alt" %>
            <% end -%>
          </fieldset>
        </div>
      <% end %>
    </div>
  </div>
</section>
