<section id="account_profile" class="tabSection <% if @tab != "profile" %>hide<% end %>">
  <div class="row">
    <div class="twelve columns">
      <h2><%= custom_t(".account_profile_copy") %></h2>
      <iframe id="survey-iframe" src="<%= @tab == "profile" ? "https://www.surveygizmo.com/s3/2218482/Customer-Profile-Survey-Revised-7-1?sguid=#{@survey_info.get_survey_token}" : "" %>" class="<%=@survey_info.get_survey_token%>" frameborder="0" width="700" height="420" style="overflow:hidden"></iframe>
      <%= link_to custom_t(".start_over"), restart_survey_path( current_user.id, "profile"), class: "restart-survey" %>
    </div>
  </div>
</section>
