<section id="payout_options" class="tabSection <% if @tab != "payout" %>hide<% end %>">
  <div class="row">
    <div class="twelve columns">
      <% if !@stored_bank_account.nil? %>
        <% if @person.has_pending_eft_batch_transaction? %>
          <div class="note_alert"><%= custom_t(".note_alert_pending_bank_deposit") %></div>
        <% end %>
        <h2 class="blue"><%= custom_t(".my_bank_account") %></h2>
        <div class="box" style="padding-bottom: 10px;">
          <strong><%= custom_t(".bank_name") %>:</strong>  <%=h @stored_bank_account.bank_name %><br/>
          <strong><%= custom_t(".routing_number") %>:</strong>  <%=h @stored_bank_account.last_four_routing_padded %><br/>
          <strong><%= custom_t(".account_number") %>:</strong>  <%=h @stored_bank_account.last_four_account %><br/>
          <br/>
          <b><%=h @stored_bank_account.name %></b><br/>
          <% if !@stored_bank_account.company.nil? %>
            <%=h @stored_bank_account.company %><br/>
          <% end -%>
          <%=h @stored_bank_account.address1 %><br/>
          <% if !@stored_bank_account.address2.nil? %>
            <%=h @stored_bank_account.address2 %><br/>
          <% end -%>
          <%=h @stored_bank_account.city %>, <%=h @stored_bank_account.state %>, <%=h @stored_bank_account.zip %>
          <br />
          <% if !@person.has_pending_eft_batch_transaction? %>
            <% if current_user.can_withdraw? %>
              <%= withdraw_money_link({ html_class: "blue-btn"}) %>
            <% end %>
            <%= link_to custom_t(".update_my_bank_account"), edit_stored_bank_account_path(@stored_bank_account), class: "blue-btn", style: "position: static;" %>
            <%= link_to custom_t(".delete"), @stored_bank_account, method: :delete, data: { confirm: "Are you Sure you want to delete this bank account?" }, style: "margin-left: 10px;" %>
          <% end -%>
        </div>
      <% else %>
        <% if payoneer_payout_enabled?(current_user) && show_payoneer_redesigned_onboarding? %>
          <div class="payoneer-signup-banner">
            <h1><%= t('people.payoneer_cta.heading') %></h1>
            <p><%= t('people.payoneer_cta.description') %></p>
            <%= link_to t('people.payoneer_cta.trigger'), payout_application_processing? ? payoneer_status_index_path : payoneer_fees_path %>
          </div>
        <% else %>
          <div class="note_alert"><%= custom_t(".note_alert_no_bank_account") %></div>
          <% if !@person.has_pending_eft_batch_transaction? && current_user.from_united_states_and_territories? %>
            <%= button_to custom_t(".add_a_bank_account"), new_stored_bank_account_path, method: :get, class: "blue-btn button_enabled" %>
          <% else %>
            <p style="font-weight: bold; color: red;"><%= custom_t(".bank_account_note") %></p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
