<div class="person-subscription box">
  <%= image_tag 'tc-social.png', size: "100x100", class: 'tc-social-image' %>

  <h3 class="subscription-product-name">
    <%= subscription_type_text(subscription_product) %>
  </h3>

  <ul>
    <li class='cost'>
      <b><%= custom_t(".cost") %>:</b>
      <%= money_to_currency(subscription_product.product.price.to_money) %> /
      <%= subscription_term_text(subscription_product.product_type) %>
      <% if show_vat_info? %>
        <span class="vat_tooltip" data-title="<%= custom_t('vat.tool_tip_title') %>" data-content="<%= custom_t('vat.tool_tip_content') %>"></span>
      <% end %>
    </li>

    <% if person_subscription.canceled? %>
      <li class="subscrption-note">
        <%= custom_t('tc_social_subscription.subscription_has_been_cancelled') %>
      </li>

      <% if person_subscription.canceled_at > Date.current %>
        <li class="subscrption-note">
          <%= custom_t('tc_social_subscription.still_have_access_to_tunecore',
                       renewal_date: person_subscription.termination_date&.strftime("%B %e, %Y")) %>
        </li>
      <% end %>
    <% elsif person_subscription.terminated? %>
      <li class="subscrption-note">
        <%= custom_t('tc_social_subscription.subscription_was_terminated',
                     termination_date: person_subscription.termination_date&.strftime("%B %e, %Y")) %>
      </li>
    <% end %>

    <% if !person_subscription.canceled? && !person_subscription.terminated? %>
      <li>
        <b><%= custom_t(:renews_automatically) %>:</b>
        <%= person_subscription.termination_date.strftime("%B %e, %Y") %>
      </li>
    <% end %>
  </ul>

  <% if person_subscription.is_active? && !person_subscription.canceled? %>
    <%= link_to custom_t(:cancel),
      cancel_subscription_path(subscription_type: person_subscription.subscription_type),
      class: "blue-btn",
      method: :put,
      remote: true %>
  <% end %>
</div>
