<section id="order_history" class="tabSection <% if @tab != "history" %>hide<% end %>">
  <div class="row">
    <div class="nine columns">
      <% if @invoices.blank? %>
        <p><%= custom_t(".no_order_history") %></p>
      <% else %>
        <%= custom_t(".all_amounts_in", {
          currency: current_user.user_currency
        }) %>
        <% @invoices.each do |invoice| %>
        <div class="box">
          <div class="summary">
            <h3><%= custom_t(".order_number", {
              invoice: invoice.id
            }) %></h3>
            <p>
              <time datetime="<%= html5_time(invoice.settled_at) %>"><%= fmt_long_date(invoice.settled_at) %></time>
              <ul>
                <% @manager.line_items(invoice) do |line_item| %>
                  <%= line_item_helper(line_item) %>
                <% end %>
              </ul>
            </p>
          </div>
          <div class="details">
            <p><%= custom_t(".total_paid") %></p>
            <p class="price">
              <%= invoice_money(invoice.final_settlement_amount, invoice) %>
            </p>
          </div>
          <div class="blue-btn-wrapper">
            <% if show_credit_note_invoices?(invoice) %>
              <button class="blue-btn" onclick="RefundModal.showRefundsList('<%= invoice.id %>')">
                <%= custom_t("refund.list_modal.view_refund_invoices") %>
              </button>
            <% end %>
            <% if invoice.invoice_number.nil? || !(FeatureFlipper.show_feature?(:vat_tax, current_user)) %>
              <%= link_to(custom_t(".view_details"), invoice_path(invoice), :class => "blue-btn") %>
            <% else %>
              <%= link_to(custom_t(".view_invoice_pdf"), download_invoice_path(invoice), class: "blue-btn", target: :_blank) %>
              <%= link_to(custom_t(".view_details"), invoice_path(invoice), :class => "blue-btn") %>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="three columns">
      <% unless owns_or_carted_plan? %>
        <div class="included" style="margin-top: 32px;">
          <h3><%= custom_t(".my_distribution_credits") %></h3>
          <ul class="clearfix resetli">
            <% unless @account_overview.available_inventory.empty? -%>
              <% @account_overview.available_inventory.each do |inventory| -%>
                <li><%= pluralize(inventory.total_left, h("#{inventory.inventory_type} #{custom_t(:credit)}")) %></li>
              <% end -%>
            <% else -%>
              <li><%= custom_t(".you_have_no_credits") %></li>
            <% end -%>
            <li><%= link_to custom_t(".buy_distribution_credits"), "/credits" %></li>
          </ul>
        </div>
      <% end %>
      <%= render partial: "you_have_released_sidebar" %>
      <% if plan_display_valid? && show_plan_promo? %>
        <%= render partial: "plan_promo/plan_promo" %>
      <% end %>
    </div>
  </div>
  <div id="modal-bind"></div>
</section>

<% if show_new_refunds? %>
  <div id="refund-invoices-list-modal" class="mfp-hide">
    <div class="modal-body">
      <h3><%= custom_t("refund.list_modal.title") %></h3>
      <div class="modal-loader">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
      <table id="refund-invoices-table" class="hide">
        <thead>
          <tr>
            <th><%= custom_t("refund.list_modal.header.dated") %></th>
            <th><%= custom_t("refund.list_modal.header.id") %></th>
            <th><%= custom_t("invoices.pdf.amount") %></th>
            <th colspan="2"><%= custom_t("currency_word") %></th>
          </tr>
        </thead>
        <tbody id="refund-modal-table-body">
        </tbody>
      </table>
    </div>

    <template id="refund-modal-list-item">
      <tr>
        <td class="date-col"></td>
        <td class="id-col"></td>
        <td class="amount-col"></td>
        <td class="currency-col"></td>
        <td class="link-col">
          <%= link_to(custom_t("refund.list_modal.view_pdf"), "#", class: "blue-btn", target: :_blank) %>
        </td>
      </tr>
    </template>

    <template id="refund-modal-empty-item">
      <tr>
        <td colspan="5"><%= custom_t("refund.list_modal.no_data") %></td>
      </tr>
    </template>

    <template id="refund-modal-error-item">
      <tr class="error-item">
        <td colspan="5" class="error-col"><%= custom_t("something_went_wrong") %></td>
      </tr>
    </template>
  </div>
<% end %>
