<div class="row tax-form-mapping-container">
  <div class="twelve columns">
    <h1 class="payout-header"><%= custom_t("people.edit.tax_form_mapping.tax_forms")%></h1>
    <p><%= custom_t("people.edit.tax_form_mapping.info") %></p>
    <ul class="clearfix">
      <%= form_with(scope: :tax_form_mappings, url: tax_form_revenue_streams_path, method: :post, local: true) do |form| %>
        <div class="box">
          <%= form.select :distribution, tax_form_select_options, selected: selected_distribution_tax_form, label: "Distribution", include_blank: "- please select -" %>
          <%= form.select :publishing, tax_form_select_options, selected: selected_publishing_tax_form, label: "Publishing", include_blank: "- please select -" %>
          <%= form.submit "confirm", disabled: true, class: "disabled" %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
