<% content_for :css do %>
  <%= stylesheet_link_tag "people" %>
  <% if @dark_mode %>
    <%= stylesheet_link_tag "dark_mode/account_settings" %>
  <% end %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "people" %>
<% end %>

<section id="account_settings" class="tabSection <% if @tab != "account" %>hide<% end %>">
  <div class="row">
    <h1 class="tab-title"><%= custom_t("people.edit.account_settings") %></h1>
    <p id="vat-warning" class="row" ></p>
    <div class="row-item">
      <%= render "people/account_settings/shared_login_info", shared_login_form_section: "email" %>
    </div>

    <div class="row-item">
      <%= render "people/account_settings/shared_login_info", shared_login_form_section: "password" %>
    </div>

    <% if two_factor_feature_enabled? %>
      <div class="row-item">
        <%= render "people/account_settings/two_factor_auth_info" %>
      </div>
    <% end %>

    <div class="row-item">
      <%= render "people/account_settings/contact_info" %>
    </div>

    <div class="row-item">
      <%= render "people/account_settings/address_info" %>
    </div>

    <% if show_self_billing_info? %>
      <div class="row-item">
        <%= render "people/account_settings/self_billing_info" %>
      </div>
    <% end %>

    <% if vat_tax_flag_enabled? %>
      <div id="company-information-section-row" class="row-item <%= 'hide' unless show_company_information_form? %>">
        <%= render "people/account_settings/company_info" %>
      </div>
    <% end %>

    <% if show_priority_artists? %>
      <div class="row-item">
        <%= render "people/account_settings/priority_artist" %>
      </div>
    <% end %>
  </div>
</section>
