<section id="payoneer_payout_options" class="tabSection <% if @tab != "payoneer_payout" %>hide<% end %>">
  <div class="row">
    <div class="twelve columns">
      <% if useable_payout_provider_approved? %>
        <div class="payout-preferences">
          <div class="payout-header"><%=custom_t("payout_details.payout_configuration")%></div>
          <div class="payout-explanation">
            <%=custom_t("payout_details.payout_explanation")%>
            <a href="https://explore.payoneer.com/tunecore"><%=custom_t("payout_details.payouts_faq")%></a>
          </div>
          <div class="payout-header"><%=custom_t("payout_details.payout_details")%></div>
          <% if has_withdrawn? %>
            <div class="payout-method">
              <div class="title"><%=custom_t("payout_details.payout_method")%></div>
              <div class="type-container">
                <div class="type">
                  <%=withdraw_method%>
                </div>
                <div class="change">
                  (<a class="change-payout-pref-info-trigger"><%=custom_t("payout_details.change")%></a>)</div>
                </div>
            </div>
          <% end %>
          <div class="bank-transfer-fees-container">
            <div><%=custom_t("payout_details.payout_method_fees", payout_method: withdraw_method)%></div>
            <div>
              <% if browser.mobile? %>
                <%= link_to  "", "/people/payout_details_mobile_view", class: "payoneer-details-fees-mobile"  %>
              <% else %>
                <div class="payoneer-details-modal-trigger"></div>
              <% end %>
            </div>
          </div>
          <% if available_in_region?(country_website, "payoneer_fee_table") && withdraw_method_type != :account %>
            <div class="transfer-fees-table">
              <table>
                <thead>
                <tr>
                  <th><%= custom_t("payout_details.country") %></th>
                  <th><%= custom_t("payout_details.country_code") %></th>
                  <th><%= custom_t("payout_details.target_currency") %></th>
                  <th><%= custom_t("payout_details.transfer_fee") %></th>
                  <th><%= custom_t("payout_details.minimum") %></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <%= fees_table_values(:country_name, inside_domain?(country_website)) %>
                  </td>
                  <td class="payoneer-fees-desktop-fee-item">
                    <%= fees_table_values(:target_country_code, inside_domain?(country_website)) %>
                  </td>
                  <td class="payoneer-fees-desktop-fee-item">
                    <%= fees_table_values(:target_currency, inside_domain?(country_website)) %>
                  </td>
                  <td class="payoneer-fees-desktop-fee-item">
                    <%= fees_table_values(:fee, inside_domain?(country_website)) %>
                  </td>
                  <td class="payoneer-fees-desktop-fee-item">
                    <%= fees_table_values(:min_withdraw, inside_domain?(country_website)) %>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          <% end %>
          <% if show_taxform_mapping? %>
            <%= render "edit_taxform_mapping" %> 
          <% end %>
          <div class="payoneer-image-container">
            <% if @dark_mode %>
              <%= image_tag("payoneer/payoneer_logo.svg", class:"payoneer-img") %>
            <% else%>
              <%= image_tag("payoneer/payoneer-logo-grey-rgb-v2.png", class:"payoneer-img") %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="payoneer-signup-banner">
          <h1><%= t('people.payoneer_cta.heading') %></h1>
          <p><%= t('people.payoneer_cta.description') %></p>
          <%= link_to t('people.payoneer_cta.trigger'), payout_application_processing? ? payoneer_status_index_path : payoneer_fees_path %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<% if useable_payout_provider_approved? %>
  <div class="change-payout-pref-info">
    <div class="contents">
      <div><%= custom_t("payout_transfers.new.contact_payoneer").html_safe %>.</div>
    </div>
  </div>

  <%= render "payoneer_fees/payout_details_modal" %>
<% end %>


