
      <% signup = false if signup == nil %>
      <% reqflag = signup %>
      <%
        # reusable warning message for name
        name_warning_message = custom_t(".name_warning_message")
      %>
      <%= f.text_field(:name, label: custom_t(:name),
        contextual_help: "#{name_warning_message}", class: "form-text", new_form: true)
      %>

      <% if @person.referred_by("applemusicartist") %>
        <%= f.text_field(:apple_id, label: custom_t(:apple_id),
          contextual_help: custom_t(".apple_id_contextual_help"), class: "form-text", new_form: true)
        %>

        <%= f.select(:apple_role, [[custom_t(".band_member"), "bandmember"], [custom_t(".solo_artist"), "soloartist"], [custom_t(".artist_manager"), "artistmanager"], [custom_t(".label_representative"), "labelrep"]], {label: custom_t(".role"), new_form: true, prompt: custom_t(".select_your_role")}, class: "form-text signup-select") %>
      <% end %>

      <% if FeatureFlipper.show_feature?(:country_as_dropdown, current_user) %>
        <%= f.select :country, options_for_select(all_unsanctioned_dropdown, selected: [selected_country_text_default]),
          {
            label: custom_t(:country_display),
            li_class: "select country-select",
            new_form: true
          },
          class: "country-input form-country"
        %>
      <% else %>
        <%= f.select :country,
                     options_for_select(all_unsanctioned_dropdown, disabled: [nil],
                                        selected: [selected_country_dynamic_default(ip_country_code)]),
          {
            label: custom_t(:country_display),
            li_class: "select country-select",
            new_form: true
          },
          class: "auto-complete country-input"
        %>
      <% end %>

      <%= f.email_field(:email,
      label: custom_t(:email),
      contextual_help: custom_t(".email_contextual_help"),
      class: "form-text",
      new_form: true) %>

      <!-- password fields -->
      <%= f.password_field(:password,
                           label: signup ? custom_t(:password) : custom_t(:new_password),
                           value: "",
                           li_class: "password",
                           contextual_help: custom_t(".password_requirements"),
                           class: "form-text",
                           new_form: true,
                           pattern: Person::PASSWORD_REGEX_JAVASCRIPT) %>

     <%= f.password_field(:password_confirmation,
                          label: signup ? custom_t(".confirm_password") : custom_t(".confirm_new_password"),
                          value: "",
                          li_class: "password-confirmation",
                          class: "form-text",
                          new_form: true,
                          pattern: Person::PASSWORD_REGEX_JAVASCRIPT) %>

        <fieldset id="person_mobile_number_list_item" class="phone-number fieldset"
                  data-country-website="<%= country_website %>"
                  data-signup="<%= signup %>"
                  data-phone-required-isos="<%= CountryWebsiteService::PHONE_REQUIRED_ISO_CODES %>">
          <label for="person_mobile_number"><%= custom_t(".phone_number") %></label>
<!--          the safety operators are necessary here - we think - because of either issues around
submitting a hidden element or because of something rails does to remove instance variables when there are errors.
 Without the safety operator the scenario that this errors out is when a user has errors creating their account (e.g. blank fields).
 Normally we show the fields that the user needs to input, but since this is a hidden field we don't want to show those errors.
 We aso don't want the something went wrong page.
 --we would look deeper but this is high priority code for .in launch-->
          <input li_class="prefix" class="phone-form-text prefix" new_form="true" method="prefix" maxlength="5"
                 size="5" type="text" name="person[prefix]" id="person_prefix" readonly onfocus="this.removeAttribute('readonly')">

          <input value="" li_class="phone-number" class="phone-form-text" maxlength="10" new_form="true" method="mobile_number"
                 size="10" type="tel" name="person[mobile_number]" id="person_mobile_number">
          <div class="contextual-help hidden" id="person_mobile_number-help">
          </div>
        </fieldset>
        <% if person_has_phone_errors? %>
          <div class="formError customError">
            <strong>
              <%= custom_t("people.errors.mobile_number_errors") %>
              <%= format_phone_errors %>.
              <%= custom_t("people.errors.select_india_as_your_country") %>
            </strong>
          </div>
        <% end %>
      <%= f.hidden_field :promo_ref %>
      <%= render partial: "referral_data_fields", locals: { f: f } %>
      <!-- display address fields for video customers -->
      <% if current_user && current_user.is_video_customer? %>
        <%= f.text_field(:address1 ) %>
        <%= f.text_field(:address2 ) %>
        <%= f.text_field(:city ) %>
        <%= f.text_field(:state ) %>
        <%= f.text_field(:zip ) %>
      <% end %>

      <fieldset class="check">
        <ul>
          <%= f.check_box(:is_opted_in,
                          label: custom_t(".get_news_and_updates_from_tunecore"),
                          li_class: 'check hide',
                          new_form: true) %>

          <%# Don't allow user to modify terms and conditions after accepting %>
          <% if @person.new_record? %>

            <%= f.check_box(
                :accepted_terms_and_conditions,
                label: custom_t(".i_agree_to_tunecore_t_c", link: link_to(custom_t(:terms_and_conditions), 'index/terms', target: '_blank')),
                error_label: custom_t(:terms_and_conditions),
                li_class: 'check',
                tc_required: reqflag,
                new_form: true
            ) %>
          <% end %>
        </ul>
      </fieldset>

     <% unless @person.new_record? %>
     <%= f.password_field(:original_password,
                          label: custom_t(:current_password),
                          tc_required: reqflag,
                          value: "",
                          li_class: "original-password",
                          contextual_help: custom_t("current_password_contextual_help")) %>
     <% end %>
