<p>
  <%= custom_t("people.edit_profile_subscriptions.all_amounts_in",
               currency: service.currency) %>
</p>

<% bem = "plan_renewal_card" %>

<div class="<%= "box #{bem}" %>">
  <div class="<%= "#{bem}__container" %>">
    <div class="<%= "#{bem}__image" %>">
      <img src=<%= "/images/cart_icons/plan_#{service.plan.id}.png" %> alt="">
    </div>

    <div class="<%= "#{bem}__details_container" %>">
      <div class="<%= "#{bem}__details" %>">
        <div class="<%= "#{bem}__details_left" %>">
          <h3 class="<%= "#{bem}__details_left_header" %>">
            <%= custom_t("plans.#{service.plan.name}.name") %>
          </h3>

          <ul>
            <li>
              <span class="<%= "#{bem}__details_li_label" %>">
                <%= custom_t(:cost) %>:&nbsp;
              </span>
              <%= service.renewal_price %>

              <% if show_vat_info %>
                <span class="vat_tooltip"
                      data-title="<%= custom_t("vat.tool_tip_title") %>"
                      data-content="<%= custom_t("vat.tool_tip_content") %>">
                </span>
              <% end %>
            </li>

            <li>
              <%= custom_t("people.edit_profile_subscriptions.renewal_due",
                          { date: fmt_long_date(service.renewal_date) })
              %>
            </li>
          </ul>
        </div> <!-- plan_renewal_card__details_left !-->
        <% if current_user.person_plan.expired? %>
          <div class="<%= "#{bem}__details_pay_btn" %>">
            <%= link_to(custom_t("pay_now"),
                        {
                          action: "buy",
                          id: service.renewal.id,
                          product_id: "n",
                          controller: "subscriptions"
                        },
                        { method: :post, class: "blue-btn" })
            %>
          </div> <!-- plan_renewal_card__details_pay_btn !-->
        <% end %>
      </div> <!-- plan_renewal_card__details !-->
    </div> <!-- plan_renewal_card__details_container !-->
  </div> <!-- plan_renewal_card__card_container !-->
</div> <!-- plan_renewal_card !-->
