<% content_for :css do %>
  <%= stylesheet_link_tag "people" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "city_autocomplete_by_state" %>
  <%= javascript_include_tag "cart" %>
  <%= javascript_include_tag "people" %>
  <%= javascript_include_tag "self_billing_on_checkout" %>
  <%= javascript_include_tag "compliance_info_fields" %>
<% end %>

<section id="renewal_billing_info">
  <div class="section-header">
    <h2 class="main"><%= custom_t(".confirm_address") %></h2>
  </div>
  <div class="section-description">
    <%= custom_t(".please_note", link: tunecore_terms_link) %>
  </div>
  <fieldset>
    <%= form_for @person, url: update_renewal_billing_info_person_path(@person), html: {id: 'update-renewal-billing-info-form'}, remote: true do |f| %>
      <div class="message">
        <%= flash[:message] ? note_helper(flash[:message],"") : "" %>
        <%= flash[:notice] ? note_helper(flash[:notice],"check") : "" %>
        <%= flash[:error] ? note_error_helper(flash[:error],"red") : "" %>
      </div>
      <%= render "people/address_lock_banner" %>
      <ul class="clearfix address-fields">
          <li>
            <div class="vat_form_content">
              <div id="customer_type_list_item" class="customer_type-fieldset" data-customer-type="<%=@person.customer_type%>">
                <label><%= custom_t('customer_type') %></label>
                <ul class="radio-input-group">
                  <%= f.radio_button(
                    "customer_type",
                    "business",
                    label: custom_t('new_customer_type.business'),
                    new_form: true,
                    disabled: Person::FlagService::person_flag_exists?(
                      {
                        person: @person,
                        flag_attributes: Flag::CUSTOMER_TYPE_LOCKED
                      }
                    ),
                    class: "radio-input"
                  ) %>
                  <%= f.radio_button(
                    "customer_type",
                    "individual",
                    label: custom_t('new_customer_type.individual'),
                    new_form: true,
                    disabled: Person::FlagService::person_flag_exists?(
                      {
                        person: @person,
                        flag_attributes: Flag::CUSTOMER_TYPE_LOCKED
                      }
                    ),
                    class: "radio-input",
                  ) %>
                </ul>
              </div>
            </div>
          </li>
          <%= f.text_field  :name,
                            label: "#{custom_t(:name)}",
                            tc_required: true,
                            li_class: "name",
                            class: "form-text"
          %>
          <% @compliance_info_form.fields.each do |ci_field|%>
            <li>
              <div class="input-wrapper fieldset">
                <label for="compliance_field_<%=ci_field[0]%>"><%=raw(custom_t("people.renewal_billing_info.#{ci_field[0].to_s}"))%><span class="ci-required-star">*</span></label>
                <div class="context-wrapper display-flex">
                  <input
                    <%= 'disabled' if ci_field.dig(1, 'locked') %>
                    class="compliance_info_field_input compliance-info-input address-input"
                    placeholder='<%= raw(custom_t("people.renewal_billing_info.#{ci_field[0].to_s}_placeholder")) %>'
                    data-depn-input="<%= "person[#{ci_field.dig(1, 'dependent_field_type')}]" %>"
                    data-depn-value="<%= ci_field.dig(1, 'dependent_field_value').downcase %>"
                    <% if ci_field.dig(1, :alpha_only_validation)%>
                      data-regex="(^[\p{L} .'-]*$)"
                      data-regex-flag="u"
                    <%end%>
                    type="text" id="compliance_field_<%=ci_field[0]%>"
                                name="<%=ci_field[0]%>"
                                value="<%=ci_field.dig(1, 'field_value')%>" />
                                <% if ci_field.dig(1, 'tooltip_text') %>
                                  <i
                                    class="fa fa-question-circle fa-md <%= ci_field.dig(1, 'tooltip_trigger')%> compliance-tooltip"
                                    data-tooltip='<%= CGI.escapeHTML(ci_field.dig(1, 'tooltip_text')) %>'
                                    data-position="right"
                                    title='<%= ci_field.dig(1, 'tooltip_title') %>' ></i>
                                <% end %>
                </div>
              </div>
            </li>
          <% end %>
          <%= render 'people/account_settings/address_info_form_fields',
            f: f,
            countries: countries_for_checkout(@person),
            blank: false
          %>
      </ul>
      <% if show_vat_removal_warning? %>
        <div class="vat-removal-warning-container">
          <div class="vat-removal-warning message">
            <%= custom_t("vat.warnings.removal_on_confirm_information") %>
          </div>
        </div>
      <% end %>
      <div class="section-header">
        <h2 class="main"><%= custom_t("self_billing.title") %></h2>
      </div>
      <div class="section-description">
        <%= custom_t(".self_billing_description") %>
      </div>
      <div class="buttons">
        <ul class="self-billing">
          <%= render "shared/self_billing_form" %>
          <%= f.submit("#{custom_t(".save_changes")}",
              class: "button-callout-alt",
              id: "renewal_submit_button",
              disabled: !current_user.self_billing_accepted?)
          %>
        </ul>
      </div>
    <% end %>
  </fieldset>
</section>

<div id="renewal-form-success-modal" class="mfp-hide">
  <div class="container">
    <h3><%= custom_t('.changes_saved') %></h3>
    <p><%= custom_t('.thank_you') %></p>
    <%= button_to custom_t('.okay'), dashboard_path, class: "button-callout-alt", method: :get %>
  </div>
</div>
