<% if lookup_context.exists?("#{@person.promo_ref}_bullets", "people", true) %>
  <li><%= render partial: "signup_bullet" %></li>
  <%= render :partial => "#{@person.promo_ref}_bullets" %>
<% elsif @person.new_user_referred_by_friend? %>
  <%= render :partial => "refer_a_friend_bullets" %>
<% elsif FeatureFlipper.show_website_feature?(:plans_pricing, country_website) %>
  <%= render :partial => "bullets" %>
<% else %>
  <li><%= render partial: "signup_bullet" %></li>
  <%= render :partial => "bullets" %>
<% end %>
