<h1>
  <% if lookup_context.exists?("#{@person.promo_ref}_slug", "people", true) %>
    <%= render partial: "#{@person.promo_ref}_slug" %>
  <% elsif @person.new_user_referred_by_friend? %>
    <%= render partial: "refer_a_friend_slug" %>
  <% else %>
    <%= render partial: "slug" %>
  <% end %>
</h1>
