<% if @person.promo_ref %>
  <div class="row">
    <% if lookup_context.exists?("#{@person.promo_ref}_promo", "people", true) %>
      <%= render :partial => "#{@person.promo_ref}_promo" %>
    <% end %>
  </div>
<% end %>
