<section id="taxpayer_id" class="tabSection <%= account_settings_tab_status("taxpayer_id") %>">
  <div class="row taxform-notice-container">
    <div class="eight columns">
      <h4><%= custom_t("taxpayer_we_need_information") %></h4>
      <div class="taxpayer-form-submission-info">
        <%= custom_t("taxpayer_please_complete_docs") %>
      </div>
      <% if current_user.payoneer_account? %>
        <%= link_to(custom_t("taxpayer_sign_into_payoneer"), "https://login.payoneer.com/", target: "_blank", class: "payoneer-signin-button button-callout-alt") %>
      <% else %>
        <%= link_to(custom_t("taxpayer_sign_into_payoneer"), account_settings_path(tab: "payoneer_payout"), class: "payoneer-signin-button button-callout-alt") %>
      <% end %>
      <div class="faq-box-payoneer">
        <%= custom_t("taxpayer_more_information", faq_link: link_to(custom_t(:taxpayer_faq), custom_t(:taxpayer_faq_link_to))) %>
      </div>
    </div>
    <div class="four columns">
      <%= image_tag("payoneer/payoneer_tax_submit_v2.jpg") %>
    </div>
  </div>
  <div class="row payoneer-more-info-tab">
    <div class="ten columns">
      <div class="payoneer-more-info-link">
        <%= custom_t("taxpayer_provider_contact_info", provider_contact_link: link_to(custom_t(:taxpayer_faq), custom_t(:taxpayer_faq_link_to))) %>
      </div>
    </div>
    <div class="two columns">
      <%= image_tag("payoneer/payoneer-logo-grey-rgb-v2.png") %>
    </div>
  </div>
</section>
