<div class="row">
  <div class="twelve columns promo">
    <img src="/images/services/tidal_landing_page.png" alt="Tidal">
    <h1><%= custom_t(".get_your_music_on_tidal_through_tunecore") %></h1>
  </div>
</div>
