<% content_for :css do %>
  <%= stylesheet_link_tag "people" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "people" %>
<% end %>

<section id="vat_details" class="tabSection <% if @tab != "vat" %>hide<% end %>">
  <div class="row">
    <h1 class="tab-title"><%= custom_t("vat.vat_info_title") %></h1>
    <p><%= custom_t('vat.vat_info_details') %></p>
    <p><%= custom_t('vat.vat_info_note') %></p>
  </div>
  <div class="row">
    <div class="row-item bottom-row-item" id="vat-details-section">
      <%= render "/people/vat_details/vat_details_form"%>
    </div>
  </div>
</section>
