<div class="included">
  <h3><%= custom_t(".you_have_released") %></h3>
  <ul class="clearfix">
    <li><%= pluralize(@account_overview.album_count, custom_t(:album_global)) %></li>
    <li><%= pluralize(@account_overview.single_count, custom_t(:single)) %></li>
    <li><%= pluralize(@account_overview.ringtone_count, custom_t(:ringtone)) %></li>
    <li><%= pluralize(@account_overview.video_count, custom_t(:video)) %></li>
    <li><%= pluralize(@account_overview.number_of_primary_artists, custom_t(:primary_artist)) %></li>
  </ul>
</div>
