<div class="row">
  <div class="twelve columns promo">
    <img src="/images/zimbalam/zimbalam_tunecore_head.png" alt="Zimbalam + TuneCore">
    <h1><%= custom_t(".zimbalam_has_merged_with_tunecore") %></h1>
  </div>
</div>
