<% t_scope = "secondary_tax_form_request_prompt.confirm_current_tax_form" %>

$.magnificPopup.instance.content.html(`
  <a href="#" class="close-button close-prompt-modal">
    <i class="fa fa-times-thin" aria-hidden="true" title="<%= custom_t('close') %>"></i>
  </a>
  <h3><%= custom_t("heading", scope: t_scope) %></h3>
  <p><%= custom_t('body', scope: t_scope) %></p>
`);
