<% content_for :css do %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/people.css" />
  <%= stylesheet_link_tag "/stylesheets/tax_token.css" %>
  <%= stylesheet_link_tag "payoneer_foundation" %>
  <%= stylesheet_link_tag "vat_tooltip" %>
<% end %>
<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/zclip.js" %>
  <%= javascript_include_tag "/javascripts/app/profile.js" %>
  <%= javascript_include_tag "/javascripts/app/tcs_return_msg.js" %>
  <%= javascript_include_tag "/javascripts/app/preferences.js" %>
  <%= javascript_include_tag "/javascripts/app/tax_tokens.js" %>
  <%= javascript_include_tag "payout_providers" %>
  <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/vatTooltip.js" %>
  <% if Rails.env.production? %>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-505b25274cde1c7f"></script>
    <%= share_tracker_js(@friend_referral_share_url) -%>
    <script type="text/javascript">
      var addthis_config = {
        data_track_clickback: false
      };
      addthis.toolbox(".addthis_toolbox");
    </script>
  <% end %>
  <%= javascript_include_tag "people" %>
  <%= javascript_include_tag "cart" %>
  <%= javascript_include_tag "people_fields" %>
  <%= javascript_include_tag "compliance_info_fields" %>
  <%= javascript_include_tag "refund_list_modal" %>
<% end %>

<section class="tabHeader">
  <div class="row">
    <div class="twelve columns">
      <nav>

        <a href="#account_settings" class="<%= "active" if @tab == "account"%>">
          <%= custom_t(".account_settings") %>
        </a>

        <% if show_vat_form? %>
          <a href="#vat_details" class="<%= "active" if @tab == "vat"%>">
            <%= custom_t("vat.tax_details") %>
          </a>
        <% end %>

        <% unless one_time_payment_only? %>
          <a href="#payment_options" class="<%= "active" if @tab == "payment"%>">
            <%= custom_t(".payment_preferences") %>
          </a>
        <% end %>

        <% if allow_bank_account?(current_user) && !payoneer_payout_enabled? %>
          <a href="#payout_options" class="<%= "active" if @tab == "payout"%>">
            <%= custom_t(".bank_account") %>
          </a>
        <% end %>

        <% if payoneer_payout_enabled? %>
          <a href="#payoneer_payout_options" class="<%= "active" if @tab == "payoneer_payout"%>">
            <%= custom_t(".payout_preferences") %>
          </a>
        <% end %>

        <a href="#subscriptions" class="<%= "active" if @tab == "subscriptions"%>">
          <%= custom_t(".subscriptions") %>
        </a>

        <a href="#order_history" class="<%= "active" if @tab == "history"%> historyLink">
          <%= custom_t(".order_history") %>
        </a>

        <% if show_taxpayer_id_tab? %>
          <a href="#taxpayer_id" class="<%= "active" if @tab == "taxpayer_id"%>">
            <%= custom_t(".taxpayer_id")%>
          </a>
        <% end %>

        <% if FeatureFlipper.show_feature?(:account_profile_survey, current_user) %>
          <a href="#account_profile" class="<%= "active" if @tab == "profile"%>">
            <%= custom_t(".more_about_you") %>
          </a>
        <% end %>

        <% if !current_user.accepted_terms_and_conditions? %>
          <a href="#accept_terms" class="<%= "active" if @tab == "terms"%>">
            <%= custom_t("terms_and_conditions") %>
          </a>
        <% end %>

        <div class="clear"></div>
      </nav>
    </div>
  </div>
</section>

<div class="row">
  <div class="twelve columns">
    <% if flash[:errors].present? %>
      <% flash.each do |key, value| %>
        <%= content_tag :span, value, class: "flash #{key}" %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "edit_profile_account" %>
<%= render "vat_informations" if show_vat_form? %>
<%= render "edit_profile_payment", trial_days_left: @person.stem_free_trial_days_left %>
<%= render "edit_profile_payout" %>
<%= render "edit_profile_payoneer_payout" %>
<%= render "edit_profile_history" %>
<%= render "edit_profile_subscriptions" %>

<% if show_taxpayer_id_tab? %>
  <%= render "taxpayer_id" %>
<% end %>

<% if !current_user.accepted_terms_and_conditions? %>
  <%= render "accept_terms_and_conditions" %>
  <%= render "edit_profile_account_profile" %>
<% end %>
