<html>
  <head>
    <%= stylesheet_link_tag "/stylesheets/foundation" %>
    <%= stylesheet_link_tag "/stylesheets/base" %>
    <%= stylesheet_link_tag "/stylesheets/songwriter_dashboard.css" %>
  </head>
  <body class="edit_email_phone">
    <fieldset style="padding: 45px 0 0 0;">
      <div class="message">
      <%= flash[:message] ? note_helper(flash[:message],"") : "" %>
      <%= flash[:notice] ? note_helper(flash[:notice],"check") : "" %>
      <%= flash[:error] ? note_error_helper(flash[:error],"red") : "" %>
      </div>
      <ul class="clearfix">
        <%= form_for @person, url: update_email_phone_person_path(@person) do |f| %>
          <%= f.email_field :email,
                            label: "#{custom_t(:email_address)}",
                            tc_required: true,
                            li_class: "email",
                            class: "form-text",
                            contextual_help: "#{custom_t(".email_address_help")}" %>

          <%= f.email_field :email_confirmation,
                            label: "#{custom_t(".confirm_email_address")}",
                            tc_required: true,
                            li_class: "email-confirmation #{ ((!@person.new_record? || flash[:error]) ? "" : "hidden") }",
                            class: "form-text",
                            contextual_help: "#{custom_t(".confirm_email_address_help")}" %>

          <%= f.text_field  :phone_number,
                            class: "form-text short",
                            label: "#{custom_t(:phone_number)}",
                            contextual_help: "#{custom_t(".phone_number_help", { link: link_to("#{custom_t(:privacy_policy)}", controller: "index", action: "privacy") })}" %>

          <%= f.text_field  :mobile_number,
                            class: "form-text short",
                            label: "#{custom_t(:mobile_number)}",
                            contextual_help: "#{custom_t(".mobile_number_help", { link: link_to("#{custom_t(:privacy_policy)}", :controller => "index", :action => "privacy") })}" %>

          <div class="original-password" style="padding-top: 20px;">
            <li class="original-password"><%= custom_t(".original_password") %></li>
            <%= f.password_field  :original_password,
                                  label: "#{custom_t(:current_password)}",
                                  value: "",
                                  li_class: "original-password",
                                  class: "form-text",
                                  contextual_help: "#{custom_t(".original_password_help")}" %>
          </div>
          <div class="buttons">
            <%= f.submit("#{custom_t(:save_changes)}", :class => "button-callout-alt") %>
          </div>
        <% end %>
      </ul>
    </fieldset>
  </body>
</html>
