<% @page = "registration" %>

<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/external_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/magnific-popup.css" %>
  <%= stylesheet_link_tag "signup" %>
  <style type="text/css">
    .hideStrong{
      display: none !important;
    }
  </style>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "registration" %>
  <%= javascript_include_tag "people.js" %>
  <%= javascript_include_tag "people_fields" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.validate.js" %>
<% end %>

<%= content_for :data_layer do %>
  <%= data_layer_object(page: Gtm::Page.new(current_user, currency: locale_currency, page_type: Gtm::SignUp, page_name: "Signup Page")) %>
<% end %>

<% content_for :header do %>
  <header class="masthead row">
    <div class="container twelve columns">
      <a href="<%= home_path %>" class="logo">
        <%= image_tag "/images/tc_logos/logo_tc_large.png", srcset: "/images/tc_logos/logo_tc_large.png 1x, /images/tc_logos/logo_tc_large@2x.png 2x", alt: "TuneCore" %>
      </a>
    </div>
    <% if @person.promo_ref == "pubadmin" %>
      <div class="slug"><%= custom_t(:music_publishing_administration) %></div>
    <% end %>
    <%= render partial: "recaptcha/explicit_load", locals: {button_id: "signup-button"} %>
  </header>
<% end %>

<div class="message row">
  <%= flash[:message] ? note_helper(flash[:message],"") : "" %>
  <%= flash[:notice] ? note_helper(flash[:notice],"check") : "" %>
  <%= flash[:error] ? note_error_helper(flash[:error],"red") : "" %>
</div>

<div class="content <%= @person.promo_ref %>">
  <%= render partial: "signup_promo" %>

  <div class="row">
    <div class="six columns intro">
      <%= render partial: "signup_slug" %>
      <ul>
        <%= render partial: "signup_bullets" %>
      </ul>
      <%= render partial: "signup_tagline" %>
    </div>
    <div class="six columns">
      <section id="main_content" class="form-container">
        <section class="main">
          <div class="form">
            <%= form_for(@person) do |f| %>
              <%= render partial: "people_fields", locals: { f: f, signup: true, ip_country_code: @ip_country_code } %>
              <% if use_recaptcha? %>
                <div id="signup-recaptcha">
                  <%= render partial: "recaptcha/recaptcha_widget" %><br>
                </div>
              <% end %>
              <%= f.submit custom_t(".create_my_free_account"), li_class: "form-actions", new_form: true, class: 'submit', id: 'signup-button' %>
            <% end %>
          </div>
          <p class="help twelve columns">
            <span class="signin"><%= custom_t(".already_registered_with_tunecore", link: link_to(custom_t(:sign_in), login_path(ENV.fetch("LOGIN_DDOS_MITIGATION_PARAM", "check").to_sym => 1))) %></span>
          </p>
          <% if @person.promo_ref == "pubadmin" %>
            <p class="help twelve columns">
              <%= custom_t(".you_will_be_able_to_review") %>
            </p>
          <% end %>
          <%= render partial: "shared/trustpilot_widget" %>
        </section>
      </section>
    </div>
  </div>
</div>

<%= render 'domain_redirector_modal' if @show_modal %>

<div id="japan-redirect" class="mfp-hide alert">
  <%= render "album/japan_popup" %>
</div>
