<%= content_for :data_layer do %>
  <%= data_layer_object(
    page: Gtm::Page.new(
      current_user,
      currency: locale_currency,
      page_type: Gtm::SignUp,
      page_name: "Signup Page"
    )
  ) %>
<% end %>

<% content_for(:header) do %>
  <h1>
    <%= custom_t("reskin.join_tunecore") %>
  </h1>
<% end %>

<% content_for(:external_javascript) do %>
  <%= javascript_include_tag "signup/signup_reskin_country_watcher" %>
  <%= javascript_include_tag "registration_reskin" %>
  <%= render(
    partial: "recaptcha/explicit_load",
    locals: {
      button_id: "signup-button",
      theme: "dark"
    }
  ) %>
<% end %>

<%= simple_form_for(@person, url: signup_path) do |f| %>
  <%= f.hidden_field :promo_ref %>
  <%= render partial: "referral_data_fields", locals: { f: f } %>

  <% if @person.referred_by("applemusicartist") %>
    <%= f.input(:apple_id,
      label: custom_t(:apple_id),
      wrapper_html: { class: "fieldset" },
      input_html: { class: "text-input" },
      error_html: {
        data: { testid: "signup-apple-id-errors"}
      }
    ) %>

    <%= tag.div(
      custom_t("people.people_fields.apple_id_contextual_help"),
      class: "contextual-help"
    ) %>

    <%= f.input(:apple_role,
      collection: [
        [custom_t("people.people_fields.band_member"), "bandmember"],
        [custom_t("people.people_fields.solo_artist"), "soloartist"],
        [custom_t("people.people_fields.artist_manager"), "artistmanager"],
        [custom_t("people.people_fields.label_representative"), "labelrep"]
      ],
      label: custom_t("people.people_fields.role"),
      prompt: custom_t("people.people_fields.select_your_role"),
      wrapper_html: { class: "fieldset" },
      input_html: { class: "text-input" },
      error_html: {
        data: { testid: "signup-apple-role-errors"}
      }
    ) %>
  <% end %>

  <%= f.input(
    :name,
    label: custom_t("name"),
    wrapper_html: { class: "fieldset" },
    input_html: {
      class: "text-input",
      autofocus: true,
      data: { testid: "signup-name-input" }
    },
    error_html: {
      data: { testid: "signup-name-errors"}
    }
  ) %>

  <%= f.input(
    :email,
    label: custom_t("email_address"),
    wrapper_html: { class: "fieldset" },
    input_html: {
      class: "text-input",
      data: { testid: "signup-email-input" }
    },
    error_html: {
      data: { testid: "signup-email-errors"}
    }
  ) %>

  <%= f.input(
    :password,
    label: custom_t("password"),
    wrapper_html: { class: "fieldset" },
    input_html: {
      class: "text-input",
      autocomplete: "off",
      data: { testid: "signup-pw-input" }
    },
    error_html: {
      data: { testid: "signup-pw-errors"}
    },
    pattern: Person::PASSWORD_REGEX_JAVASCRIPT
  ) %>

  <%= tag.div(
    custom_t("reskin.sessions.password_rules"),
    class: "contextual-help"
  ) %>

  <%= f.input(
    :password_confirmation,
    label: custom_t("reskin.sessions.confirm_password"),
    wrapper_html: { class: "fieldset" },
    input_html: {
      class: "text-input",
      autocomplete: "off",
      data: { testid: "signup-pw-confirm-input" }
    },
    error_html: {
      data: { testid: "signup-pw-confirm-errors"}
    },
    pattern: Person::PASSWORD_REGEX_JAVASCRIPT
  ) %>

  <%= f.input(
    :country,
    label: custom_t("country_display"),
    collection: all_unsanctioned_dropdown,
    selected: selected_country_text_default,
    input_html: { class: "reskin-select-input", data: { testid: "signup-country-select" } }
  ) %>

  <div class="fieldset hidden" data-testid="signup-phone-input-wrapper">
    <%= f.simple_fields_for :mobile_number do |mobile_number_form| %>
      <%= mobile_number_form.label(
        :mobile_number,
        custom_t("reskin.sessions.mobile_phone")
      ) %>
      <div class="phone-input-wrapper">
        <%= mobile_number_form.input_field(
          :prefix,
          name: "person[prefix]",
          class: 'text-input',
          maxlength: 5,
          size: 5,
          aria: { label: "country code" },
          data: { testid: "signup-phone-country-code-input" },
          type: :tel
        ) %>
        <%= mobile_number_form.input_field(
          :mobile_number,
          name: "person[mobile_number]",
          class: 'text-input phone-input-wrapper__mobile-number-input',
          maxlength: 10,
          size: 10,
          aria: { label: "phone number"},
          data: { testid: "signup-mobile-number-input" },
          type: :tel
        ) %>
      </div>
    <% end %>

    <% if person_has_phone_errors? %>
      <div class="input_error" data-testid="signup-mobile-phone-errors">
        <%= custom_t("people.errors.mobile_number_errors") %>
        <%= format_phone_errors %>.
      </div>
    <% end %>
  </div>

  <%= f.input(
    :accepted_terms_and_conditions,
    as: :boolean,
    label_html: { class: "smaller-grey terms-and-conditions-label" },
    input_html: { data: { testid: "signup-terms-checkbox" } },
    wrapper_html: { class: "terms-and-conditions-wrapper" },
    error_html: {
      data: { testid: "signup-terms-errors"}
    },
    label: custom_t(
      "people.people_fields.i_agree_to_tunecore_t_c",
      link: link_to(
        custom_t(:terms_and_conditions),
        "index/terms",
        target: "_blank",
        class: "link link--smaller-grey"
      )
    ),
  ) %>

  <% if use_recaptcha? %>
    <div id="signup-recaptcha">
      <%= render partial: "recaptcha/recaptcha_widget" %><br>
    </div>
  <% end %>

  <%= f.submit(custom_t("reskin.sessions.sign_up"), id: "signup-button") %>
<% end %>

<div class="already-have-an-account">
  <%= custom_t("reskin.sessions.already_have_an_account?") %>
  <%= link_to(custom_t("login"), login_path, class: "link") %>
</div>
