<% content_for :css do %>
  <%= stylesheet_link_tag "payoneer_foundation" %>
<% end %>
<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/payout_providers/fee_info.js" %>
  <%= javascript_include_tag "/javascripts/payout_providers/fee_popup.js" %>
<% end %>
<div class="payout-details-mobile">
  <div class="payoneer-fees-mobile show-for-small-only">
    <div class="grid-x">
      <% if available_in_region?(current_user.country_domain, PayoutProvider::PAYPAL_REGION_KEY) %>
        <div class="payoneer-fees-mobile-fee no-border cell small-12">
          <div class="payoneer-fees-mobile-fee-name"><%= custom_t("payoneer_fees.index.paypal") %></div>
          <div class="payoneer-fees-mobile-fee-description"><%= custom_t("payoneer_fees.index.paypal_description") %></div>
          <div>
            <div>
            <span class="payoneer-fees-mobile-fee-summary-header">
              <%= custom_t("payoneer_fees.index.fees") %>
            </span>
              <span class="payoneer-fees-mobile-fee-summary-cell">
              <div><%= paypal_fees %> </div>
            </span>
            </div>
            <div class="payoneer-fees-mobile-fee-summary-wrapper">
            <span class="payoneer-fees-mobile-fee-summary-header">
              <%= custom_t("payoneer_fees.index.min_withdrawal") %>
            </span>
              <span class="payoneer-fees-mobile-fee-summary-cell">
              <%= custom_t("payoneer_fees.index.fee_minimum") %>
            </span>
            </div>
          </div>
        </div>
      <% end %>

      <% if available_in_region?(current_user.country_domain, PayoutProvider::ACH_REGION_KEY) %>
        <div class="payoneer-fees-mobile-fee cell small-12">
          <div class="payoneer-fees-mobile-fee-name"><%= custom_t("payoneer_fees.index.bank_transfer") %></div>
          <div class="payoneer-fees-mobile-fee-description"><%= custom_t("payoneer_fees.index.bank_transfer_description") %></div>

          <div>
            <div>
            <span class="payoneer-fees-mobile-fee-summary-header">
              <%= custom_t("payoneer_fees.index.fees") %>
            </span>
              <span class="payoneer-fees-mobile-fee-summary-cell">
              <%= bank_transfer_fees %>
              <div class="payoneer-fees-disclaimer">
                <%= bank_transfer_disclaimer %>
              </div>
            </span>
            </div>
            <div>
            <span class="payoneer-fees-mobile-fee-summary-header">
              <%= custom_t("payoneer_fees.index.min_withdrawal") %>
            </span>
              <span class="payoneer-fees-mobile-fee-summary-cell">
                <div class="payoneer-fees-disclaimer">
                  <%= bank_transfer_min_withdrawal %>
                </div>
            </span>
            </div>
          </div>
          <% if available_in_region?(current_user.country_domain, "payoneer_fee_modal") %>
            <div>
              <input type="button" class="payoneer-fee-modal-trigger additional-fee-mobile" value="<%= custom_t("payoneer_fees.index.additional_fee_details") %>"/>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if available_in_region?(current_user.country_domain, PayoutProvider::CHECK_REGION_KEY) %>
        <div class="payoneer-fees-mobile-fee cell small-12">
          <div class="payoneer-fees-mobile-fee-name"><%= custom_t("payoneer_fees.index.paper_check") %></div>
          <div class="payoneer-fees-mobile-fee-description"><%= custom_t("payoneer_fees.index.paper_check_description") %></div>

          <div>
            <div>
            <span class="payoneer-fees-mobile-fee-summary-header">
              <%= custom_t("payoneer_fees.index.fees") %>
            </span>
              <span class="payoneer-fees-mobile-fee-summary-cell">
              <%= paper_check_fees %>
            </span>
            </div>
            <div>
            <span class="payoneer-fees-mobile-fee-summary-header">
              <%= custom_t("payoneer_fees.index.min_withdrawal") %>
            </span>
              <span class="payoneer-fees-mobile-fee-summary-cell">
              <%= paper_check_min_withdrawal %>
            </span>
            </div>
          </div>
        </div>
      <% end %>

      <% if available_in_region?(current_user.country_domain, PayoutProvider::CC_REGION_KEY) %>
        <div class="payoneer-fees-mobile-fee cell small-12">
          <div class="payoneer-fees-mobile-fee-name"><%= custom_t("payoneer_fees.index.prepaid_mastercard") %></div>
          <div class="payoneer-fees-mobile-fee-description"><%= custom_t("payoneer_fees.index.prepaid_mastercard_description") %></div>
          <div class="payoneer-fees-mobile-mastercard-fees-list">
          <span class="payoneer-fees-mobile-mastercard-fees">
            <%= custom_t("payoneer_fees.index.prepaid_mastercard_fees") %>
          </span>
            <ul>
              <li class="payoneer-fees-mobile-mastercard-fees-item">
                <%= mastercard_activation_fee %>
              </li>
              <li class="payoneer-fees-mobile-mastercard-fees-item">
                <%= mastercard_atm_fee %>
              </li>
            </ul>
          </div>
          <div>
            <div>
            <span class="payoneer-fees-mobile-fee-summary-header">
              <%= custom_t("payoneer_fees.index.fees") %>
            </span>
              <span class="payoneer-fees-mobile-fee-summary-cell">
              <%= mastercard_fees %>
            </span>
            </div>
            <div>
            <span class="payoneer-fees-mobile-fee-summary-header">
              <%= custom_t("payoneer_fees.index.min_withdrawal") %>
            </span>
              <span class="payoneer-fees-mobile-fee-summary-cell">
              <%= mastercard_min_withdrawal %>
            </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="payout-pref-fee-modal">
  <%= render "payoneer_fees/fee_modal" %>
</div>

