<% t_scope = "secondary_tax_form_request_prompt.use_secondary_tax_form" %>

let html = `
  <a href="#" class="close-button close-prompt-modal">
    <i class="fa fa-times-thin" aria-hidden="true" title="<%= custom_t('close') %>"></i>
  </a>`;

<% if @response.success? || @response.payee_id_exists? %>
  html += `
    <h3><%= custom_t("heading", scope: t_scope) %></h3>
    <p><%= custom_t('body', scope: t_scope) %></p>`;
<% else %>
  html += `
    <h3><%= custom_t("error.heading", scope: t_scope) %></h3>
    <p><%= custom_t('error.body', scope: t_scope) %></p>`;
<% end %>

$.magnificPopup.instance.content.html(html);
