<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
<% end %>

<main class="content">
  <header class="row">
    <div class="twelve columns">
      <h1><%= custom_t(".verify_your_account") %></h1>
    </div>
  </header>

  <div class="row">
    <section class="pod nine columns" id="unverified">
      <div class="pod-body">
        <%= custom_t(".unverified_msg", email: @person.email, link: link_to("customer support", knowledgebase_link_for('distro-contact-us', country_website))) %>
        <div id="button-links" class="clearfix">
          <span><%= link_to custom_t(".resend_verification_email"), send_verification_email_person_path(current_user), class: 'button-interface' %></span>
          <span style="padding-left: 10px"><%= link_to custom_t(".edit_account"), edit_person_path(current_user), class: 'button-callout-alt' %></span>
        </div>
      </div>
    </section>
  </div>
</main>

<% if @redemption %>
  <%= render(:partial => 'cert_redemptions/thank_you') %>
  <% content_for :external_javascript do %>
    <script type="text/javascript">
      jQuery(".thank_you").modal({
        minHeight: 340,
        minWidth: 719,
        containerCss: {
          padding: 0,
          "background-color": "transparent"
        }
      });
    </script>
  <% end %>
<% end %>
