<% content_for(:header) do %>
  <h1>
    <%= custom_t("reskin.sessions.youre_all_set") %>
    <br />
    <span class="styled-text">
      <%= custom_t("reskin.sessions.welcome_to_tunecore") %>
    </span>
  </h1>
<% end %>

<div class="verify-help">
  <%= custom_t("reskin.sessions.please_verify", email: current_user.email) %>
</div>

<div class="verify-help">
  <%= custom_t("reskin.sessions.check_spam") %>
</div>

<div class="verify-help">
  <%= custom_t("reskin.sessions.still_dont_see_it?") %>
  <%= link_to(
    custom_t("reskin.sessions.contact_support"),
    "https://support.tunecore.com/",
    class: "link link--larger-grey",
    target: "_blank"
  ) %>
</div>
