$('.loading-cart-spinner').hide();
if (<%= flash[:error].blank? %> && window.location.pathname == '/cart'){
  window.location.href = "/cart/confirm_and_pay";
}
else if (<%= flash[:error].blank? %>) {
  $('#vat-details-section').html("<%= j render(partial: 'people/vat_details/vat_details_form.html.erb') %>")
  var sectionName = "vat-info"
  VatDetailsAccordion.handleSubmission(sectionName)

  // Toggle vat removal warning on contact & address update form
  <% if show_vat_removal_warning? %>
    $(".vat-removal-warning").show();
  <% else %>
    $(".vat-removal-warning").hide();
  <% end %>
}
else {
  $("#flash_notice").html('<%= j render partial: "shared/flash_notice" %>');
}
