CompanyInfo.clearPasswordInput();

<% if @company_information_form.errors.any? %>
  CompanyInfo.showInputErrors({
    enterpriseNumber: '<%= @company_information_form.translated_errors[:enterprise_number] %>',
    companyRegistryData: '<%= @company_information_form.translated_errors[:company_registry_data] %>',
    placeOfLegalSeat: '<%= @company_information_form.translated_errors[:place_of_legal_seat] %>',
    registeredShareCapital: '<%= @company_information_form.translated_errors[:registered_share_capital] %>',
    formError: '<%= @company_information_form.translated_errors[:current_password] %>',
  });
<% else %>
  CompanyInfo.showSubtitle('<%= company_information_section_message %>');
  AccountSettingsAccordion.closeSection('company-information');
<% end %>
