<%= stylesheet_link_tag "/stylesheets/destroy_composer_form.css" %>

<input type="button" value="Delete" class="composers-manager-table-action open-destroy-composer-modal-<%= composer.id %>">

<div class="destroy-composer-modal destroy-composer-modal-<%= composer.id %>" style="display: none;">
  <div class="destroy-composer-modal-content">

    <span class="closing-x-button close-destroy-composer-modal-<%= composer.id %>">&times;</span>

    <h4>Are you sure you would like to delete the composer</h4>
    <h4><b><%= composer.name %></b>?</h4>
    <h4>This action cannot be undone.</h4>

    <div class="confirmation-buttons">
      <br>
      <%= button_to("Yes",
        admin_composers_manager_path(composer.account.id, composer: {id: composer.id}),
        method: :delete,
        class: "button confirm-button")
      %>
      <a href="#" id="" class="button reject-button close-destroy-composer-modal-<%= composer.id %>">No</a>
    </div>
  </div>
</div>

<script type="text/javascript">
  var $ = jQuery
  $(document).on("ready", function() {

    var modal = $(".destroy-composer-modal-<%= composer.id %>")[0]

    window.onclick = function(event) {
      if (event.target == $(modal)[0]) {
        $(modal).hide();
      }
    }

    $(".open-destroy-composer-modal-<%= composer.id %>").on("click", function() {
      $(modal).show()
    })

    $(".close-destroy-composer-modal-<%= composer.id %>").on("click", function() {
      $(modal).hide()
    })
  });
</script>
