<% unless composer.sync_opted_in %>
  <div class="composers-manager-table-cell">
    <%= composer.format_sync_opted_updated_at %>
  </div>
<% else %>
  <%= simple_form_for composer,
    url: admin_composer_sync_opt_in_path,
    method: :delete,
    html: { class: "update-form" } do |f|
  %>
    <%= f.input :id, as: :hidden, input_html: { value: composer.id } %>
    <%= f.input :sync_opted_updated_at,
      as: :string,
      label: false,
      placeholder: "effective: mm/dd/yyyy",
      input_html: { value: "" }
    %>
    <div>
      <%= f.submit "Terminate", class: "composers-manager-table-action" %>
    </div>
  <% end %>
<% end %>
