<% if !terminated_composer.new_record? && terminated_composer.fully_terminated? %>
  <div class = "composers-manager-table-cell">
    <%= render "destroy_composer_form", composer: composer %>
    <%= "#{composer.format_termination_date} #{terminated_composer.reason}" %>
    <%= button_to("Reverse",
      admin_terminated_composer_path(terminated_composer.id),
      method: :delete,
      class: "composers-manager-table-action")
    %>
  </div>
<% else %>
  <%= simple_form_for terminated_composer,
      url: terminated_composer.new_record? ? admin_terminated_composers_path : admin_terminated_composer_path(terminated_composer),
      method: terminated_composer.new_record? ? :post : :put,
      html: { class: "terminate-form" } do |f| %>
    <%= f.input :composer_id, as: :hidden, input_html: { value: composer.id } %>
    <%= f.text_field :effective_date,
          as: :string,
          placeholder: "effective: mm/dd/yyyy",
          value: composer.format_termination_date %>
    <%= f.input :admin_note, as: :string, label: false, placeholder: "additional note" %>
    <%= f.submit "Terminate", class: "composers-manager-table-action" %>
  <% end %>
<% end %>
