<%= simple_form_for composer,
    url: admin_composers_manager_path,
    method: :put,
    html: { class: "update-form" } do |f| %>
  <%= f.input :id, as: :hidden, input_html: { value: composer.id } %>
  <%= f.input :person_id,
        as:   :string,
        label: false,
        value: composer.person_id || "" %>
  <div>
    <%= f.submit "Save ID", class: "composers-manager-table-action" %>
  </div>
<% end %>
