<tr>
  <td><%= incomplete_batch.id %></td>
  <td><%= incomplete_batch.batch_id %></td>
  <td><%= incomplete_batch.store_name %></td>
  <td><%= incomplete_batch.transfer_type %></td>
  <td><%= incomplete_batch.completed_items %></td>
  <td><%= incomplete_batch.max_batch_size %></td>
  <td><%= incomplete_batch.created_at.strftime("%D") %></td>
  <td>
    <%= button_to "Send Batch Complete File",
                  admin_delivery_batch_send_batch_complete_path(
                    delivery_batch_id: incomplete_batch,
                    incomplete: params[:incomplete]
                  ),
                  class: "no-margin button",
                  remote: true,
                  data: { disable_with: "loading..." }
    %>
  </td>
</tr>
