<div class="delivery-batch-container">
  <h3>Active Batches</h3>
  <table class="delivery-batch-active">
    <thead>
      <tr>
        <th>Batch ID</th>
        <th class="delivery-batch-store-header">Store</th>
        <th>Done</th>
      </tr>
    </thead>
      <tbody>
        <% @active_batches.each do |batch| %>
          <tr>
            <td>
              <%= batch.batch_id %>
            </td>
            <td>
              <%= batch.store.name %>
            </td>
            <td>
              <div class="delivery-batch-total-percent-display">
                <div class="delivery-batch-active-percent-display" style="width: <%= batch_joined_unprocessed_percent(batch) %>%;"></div><div class="delivery-batch-processed-percent-display" style="width: <%= batch_processed_percent(batch) %>%;"></div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>

  <%= will_paginate(@active_batches, param_name: :active, next_label: "Next", previous_label: "Previous") %>

  <h3>Incomplete Batches</h3>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Batch ID</th>
        <th>Store</th>
        <th>Transfer Type</th>
        <th>Completed Items</th>
        <th>Max Batch Size</th>
        <th>Created On</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="incomplete-batches-body">
      <%= render partial: "incomplete_batch_row", collection: @incomplete_batches, as: :incomplete_batch %>
    </tbody>

  </table>

  <%= will_paginate(@incomplete_batches, param_name: :incomplete, next_label: "Next", previous_label: "Previous") %>
</div>
