<section>
  <h2><%= @action_title %> for <%= h(@person.name) %></h2>

  <fieldset id="person-auto-renew" class='small'>
    <%= error_messages_for(@person) %>
    <p>You are about to <%= @action_title %>. Please add an admin note and "Save or Confirm" when done.
    <ul>
      <%= form_for @person, :url => {:action => 'update_auto_renewal', :person_id => @person.id} do |form| -%>
      <li>
        <%= fields_for :note do |f| -%>
          <%= f.text_area(:note, :label => "Note" , :tc_required => true) %>
        <% end -%>
        <%= form.hidden_field(:action_type, :value => @action_type)%>
       <li><%= submit_tag "Save or Confirm" %></li>
      <% end -%>
    </ul>
  </fieldset>
</section>
