<div class="tax-tokens-cohort-container">
  <div class="error-notification">
    <% if flash[:errors].present? %>
      <% flash[:errors].each do |value| %>
        <%= content_tag :span, value, class: "flash errors" %>
      <% end %>
    <% end %>
  </div>

  <div class="grid-x">
    <div class="cell small-11">
      <h3>User List / Tax Tokens</h3>
    </div>
    <div class="button">
      <%= link_to "Back", admin_tax_tokens_cohorts_path, class: "admin-tax-tokens-cohort-back" %>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>User ID</th>
        <th>User Email</th>
      </tr>
    </thead>

    <tbody>
      <% @tax_tokens.each do |tax_token| %>
        <tr>
          <td><i class="fa fa-minus-circle remove-user-icon" data-person-id="<%= tax_token.person_id %>" data-open="removeUserModal"></i></td>
          <td><%= tax_token.person.name %></td>
          <td><%= tax_token.person.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="reveal" id="removeUserModal" data-reveal>
  <%= form_for(:tax_token, url: admin_update_tax_tokens_path, html: { method: :put }) do |f| %>
    <%= hidden_field_tag :tax_tokens_cohort_id, @tax_tokens_cohort.id %>
    <%= hidden_field_tag :person_id, "" %>

    <p><strong>Removing the user cannot be undone.</strong></p>
    <p>Are you sure you want to continue?</p>

    <div class="modal-buttons">
      <p data-close aria-label="Close modal" class="button">No</p>
      <%= f.button "Yes", class: "button" %>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  <% end %>
</div>
