<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t('artist_mapping_mailer.redistribution_success_email.body', {
          artist_name: @artist.name,
          }) %>
    </td>
  </tr>
</table>
