<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/invoice_show.css" %>
<% end %>

<div class="content">
  <section id="cart" class="row">
    <div class="columns ten" style="padding-top: 20px;">
      <section class="breadcrumbs">
        <a href="/history"><%= custom_t("invoices.show.order_history") %></a>
        <span class="active"><%= custom_t("invoices.show.order_detail") %></span>
      </section>

      <header>
        <div class="row collapse">
          <div class="columns eight">
            <h2><%= custom_t("invoices.show.order_and_invoice") %> #<%= @invoice.id %></h2>
          </div>
        </div>
      </header>

      <div class="cart_items">

        <header class="row collapse">
          <div class="columns twelve">
            <h3><%= custom_t(:details) %></h3>
          </div>
        </header>

        <div class="cart_items_content in_cart_items">
          <div class="row">
            <div class="columns six">
              <p class="details-section">
                <span class="secondary-font"><%= custom_t("invoices.show.order_number") %></span> <%= @invoice.id %><br>
                <span class="secondary-font"><%= custom_t("invoices.show.purchase_date") %></span> <%= fmt_country_date(@invoice.settled_at) %><br>
                <span class="secondary-font"><%= custom_t("invoices.show.order_status") %></span> <%= custom_t(:complete) %><br>
                <% if @invoice.gst_info %>
                  <span class="secondary-font"><%= custom_t("invoices.show.gst_registration_number") %></span> <%= @invoice.gst_info.gstin %><br>
                <% end %>
                <span class="secondary-font"><%= custom_t("invoices.show.city_state") %></span>
                <% if payment_methods.present? %>
                  <% payment_methods.each do |p| %>
                    <% if p.source_type == 'BraintreeTransaction' || p.source_type == 'PaymentsOSTransaction' %>
                      <% cc = p.source.stored_credit_card %>
                      <% if cc.nil? %>
                        <%= custom_t(:credit_card).titleize %>
                      <% else %>
                        <%= cc.country_state_city&.name %>, <%= cc.country_state&.name %>
                      <% end %>
                    <% elsif p.source_type == 'PaypalTransaction' %>
                      <%= custom_t("invoices.show.paypal") %> <%= p.source.email %>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= @invoice.person.city%>, <%= @invoice.person.state%>
                <% end %>
                <br>
              </p>
            </div>
            <% if @invoice.gst_info || @invoice.gst_config %>
              <div class="columns six text-right-on-desktop">
                <p class="details-section">
                  <span class="reseller-details"><span class="secondary-font"><%= custom_t("invoices.show.reseller_entity") %></span> <%= custom_t("invoices.show.reseller_info.name") %></span><br>
                  <span class="reseller-details"><span class="secondary-font"><%= custom_t("invoices.show.gstin") %></span> <%= custom_t("invoices.show.reseller_info.gstin") %></span><br>
                  <span class="reseller-details"><span class="secondary-font"><%= custom_t("invoices.show.address") %></span> <%= custom_t("invoices.show.reseller_info.address") %></span><br>
                </p>
              </div>
            <% end %>
          </div>

          <% if payment_methods.length > 0 %>
            <header class="row collapse">
              <div class="columns twelve">
                <h3><%= custom_t("invoices.show.billed_to") %></h3>
              </div>
            </header>

            <div class="row">
              <div class="columns twelve" style="padding: 15px;">
                <div class="row" style="padding-left: 30px;">
                  <% payment_methods.each do |p| %>
                    <div class="columns three ccbox">
                      <% if p.source_type == 'BraintreeTransaction' || p.source_type == 'PaymentsOSTransaction' %>
                        <%
                          cc = p.source.stored_credit_card
                        %>
                        <% if cc.nil? %>
                          <%= custom_t(:credit_card).titleize %>
                        <% else %>
                          <img src="/images/credit_card_icons/<%= cc.cc_type.downcase.delete(' ') %>.png" style="float: left; margin-right: 5px;">
                          <span style="float: left;">
                            <%= cc.padded_cc_number %><br>
                            <% if cc.expired? %>
                              <strong style="color: #e91c2c;"><%= custom_t("invoices.show.expired") %></strong><br><br>
                            <% else %>
                              <%= custom_t("invoices.show.exp") %> <%= cc.expiration_month %>/<%= cc.expiration_year %><br><br>
                            <% end %>
                          </span>
                          <br style="clear: both;">
                          <%= cc.first_name %> <%= cc.last_name %><br>
                          <%= cc.address1 %> <%= cc.address2 %><br>
                          <%= cc.city %>, <%= cc.state %> <%= cc.zip %><br><br>
                        <% end %>
                      <% elsif p.source_type == 'PaypalTransaction' %>
                        <%= custom_t("invoices.show.paypal") %> <%= p.source.email %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <header class="row collapse">
            <div class="columns twelve">
              <h3><%= custom_t("invoices.show.item_summary") %></h3>
            </div>
          </header>

          <div class="row cart_item_headers">
            <div class="columns four"><%= custom_t("invoices.show.item") %></div>
            <div class="columns two"><%= custom_t("invoices.show.basic_amount") %></div>
            <% if @invoice.gst_config.igst? %>
              <div class="columns one"></div>
              <div class="columns two"><%= custom_t("invoices.show.igst") %></div>
              <div class="columns one"></div>
            <% else %>
              <div class="columns two"><%= custom_t("invoices.show.cgst") %></div>
              <div class="columns two"><%= custom_t("invoices.show.sgst") %></div>
            <% end%>

            <div class="columns two"><%= custom_t("invoices.show.item.total_amount") %></div>
          </div>
          <%= render :partial => "carts/cart_items", :locals => {:show_actions => false, :invoice => @invoice} %>
          <% if balance_payment > 0 %>
            <div class="row cart-subtotal">
              <div class="columns eight"></div>
              <div class="columns two cart-subtotal_txt text-right" style="padding: 0;">
                <%= custom_t(:subtotal) %>
              </div>
              <div class="columns two cart-total_price">
                <%= invoice_money(@cart_data.total_price.to_money(@cart_data.currency)) %>
              </div>
            </div>

            <div class="row cart-subtotal" style="background-color: #efefef;">
              <div class="columns four"></div>
              <div class="columns six text-right" style="padding: 0; padding-top: 4px;">
                <% if balance_payment < @cart_data.total_price %>
                  <%= custom_t("invoices.show.tunecore_balance_part") %>
                <% else %>
                  <%= custom_t("invoices.show.tunecore_balance_full") %>
                <% end %>
              </div>
              <div class="columns two">
                <span class="cart_deduction" style="margin-bottom: 0;">
                  -<%= invoice_money(
                         balance_payment.to_money(@invoice.currency),
                         @invoice,
                         {currency: @invoice.person.user_currency}
                       ) %>
                </span>
                <br>
              </div>
            </div>
          <% end %>
          <%= render partial: 'invoices/in_invoice_row',
            :locals => {
              label: "invoices.show.subtotal",
              balance_payment: balance_payment,
              order: 0,
              } %>
          <%= render partial: 'invoices/in_invoice_row',
            :locals => {
              label: "invoices.show.balance_used",
              balance_payment: balance_payment,
              order: 1,
              } if balance_payment != 0 %>
          <%= render partial: 'invoices/in_invoice_row',
            :locals => {
              label: "invoices.show.total_charged",
              balance_payment: balance_payment,
              order: 2,
              } %>
        </div>
        <div class="in_decimal_disclaimer">
          <%= custom_t("invoices.show.decimal_disclaimer") %>
        </div>
      </div>
    </div>
    <div class="columns two">&nbsp;</div>
  </section>
</div>
