<%
  invoice_row_info = Invoice::RowInfo.new(balance_payment, @cart_data, @invoice, order, @invoice.person)
  balance_used = invoice_row_info.balance_used
  total_charged = invoice_row_info.total_charged

  cgst_total = invoice_row_info.cgst_total
  igst_total = invoice_row_info.igst_total
  pretax_subtotal = invoice_row_info.pretax_subtotal
  sgst_total = invoice_row_info.sgst_total
  total_price = invoice_row_info.total_price
%>

<div class="row cart-subtotal total_charged">
  <div class="columns three cart-subtotal_txt gst_invoice <%= balance_used %>">
    <%= custom_t(label) %>
  </div>
  <div class="columns one"></div>
  <div class="<%= total_charged %>">
    <% if @invoice.gst_config.igst? %>
      <div class="columns two">
        <span class="cart_mobile-only"><%= custom_t("invoices.show.basic_amount") %></span>
        <span class="<%= balance_used %>"><%= pretax_subtotal %></span>
      </div>
      <div class="columns one "></div>
      <div class="columns two">
        <span class="cart_mobile-only"><%= custom_t("invoices.show.igst") %></span>
        <span class="<%= balance_used %>"><%= igst_total %></span>
      </div>
      <div class="columns one "></div>
      <div class="columns two">
        <span class="cart_mobile-only"><%= custom_t("invoices.show.item.total_amount") %></span>
        <span class="<%= balance_used %>"><%= total_price %></span>
      </div>
    <% else %>
      <div class="columns two">
        <span class="cart_mobile-only"><%= custom_t("invoices.show.basic_amount") %></span>
        <span class="<%= balance_used %>"><%= pretax_subtotal %></span>
      </div>
      <div class="columns two">
        <span class="cart_mobile-only"><%= custom_t("invoices.show.cgst") %></span>
        <span class="<%= balance_used %>"><%= cgst_total %></span>
      </div>
      <div class="columns two">
        <span class="cart_mobile-only"><%= custom_t("invoices.show.sgst") %></span>
        <span class="<%= balance_used %>"><%= sgst_total %></span>
      </div>
      <div class="columns two">
        <span class="cart_mobile-only"><%= custom_t("invoices.show.item.total_amount") %></span>
        <span class="<%= balance_used %>"><%= total_price %></span>
      </div>
    <% end%>
  </div>
</div>
