<div class="content">
  <section id="cart" class="row">
    <div class="columns ten" style="padding-top: 20px;">

      <section class="breadcrumbs">
        <a href="/history"><%= custom_t("invoices.show.order_history") %></a>
        <span class="active"><%= custom_t("invoices.show.order_detail") %></span>
      </section>

      <header>
        <div class="row collapse">
          <div class="columns eight">
            <h2>
              <%= custom_t(@invoice.person.india_user? ? "invoices.show.order_and_invoice" : :order) %> #<%= @invoice.id %>
            </h2>
          </div>
        </div>
      </header>

      <div class="cart_items">

        <header class="row collapse">
          <div class="columns twelve">
            <h3><%= custom_t(:details) %></h3>
          </div>
        </header>

        <div class="cart_items_content">

          <div class="row">
            <div class="columns twelve">
              <p style="padding: 15px; line-height: 1.8em;">
                <span class="secondary-font"><%= custom_t("invoices.show.order_number") %></span> <%= @invoice.id %><br>
                <span class="secondary-font"><%= custom_t("invoices.show.purchase_date") %></span> <%= fmt_country_date(@invoice.settled_at) %><br>
                <span class="secondary-font"><%= custom_t("invoices.show.order_status") %></span> <%= custom_t(:complete) %><br>
              </p>
            </div>
          </div>

          <% if payment_methods.length > 0 && !one_time_payment_only? %>
            <header class="row collapse">
              <div class="columns twelve">
                <h3><%= custom_t("invoices.show.billed_to") %></h3>
              </div>
            </header>

            <div class="row">
              <div class="columns twelve" style="padding: 15px;">
                <div class="row" style="padding-left: 30px;">
                  <% payment_methods.each do |p| %>
                    <div class="columns three ccbox">
                      <% if p.source_type == 'BraintreeTransaction' || p.source_type == 'PaymentsOSTransaction' %>
                        <%
                          cc = p.source.stored_credit_card
                        %>
                        <% if cc.nil? %>
                          <%= custom_t(:credit_card).titleize %>
                        <% else %>
                          <img src="/images/credit_card_icons/<%= cc.cc_type.downcase.delete(' ') %>.png" style="float: left; margin-right: 5px;">
                          <span style="float: left;">
                            <%= cc.padded_cc_number %><br>
                            <% if cc.expired? %>
                              <strong style="color: #e91c2c;"><%= custom_t("invoices.show.expired") %></strong><br><br>
                            <% else %>
                              <%= custom_t("invoices.show.exp") %> <%= cc.expiration_month %>/<%= cc.expiration_year %><br><br>
                            <% end %>
                          </span>
                          <br style="clear: both;">
                          <%= cc.first_name %> <%= cc.last_name %><br>
                          <%= cc.address1 %> <%= cc.address2 %><br>
                          <%= cc.city %>, <%= cc.state %> <%= cc.zip %><br><br>
                        <% end %>
                      <% elsif p.source_type == 'PaypalTransaction' %>
                        <%= custom_t("invoices.show.paypal") %> <%= p.source.email %>
                      <% elsif p.source_type = "AdyenTransaction" %>
                        <label style="display: flex;align-items: center;gap: 8px;">
                          <img src="https://checkoutshopper-live.adyen.com/checkoutshopper/images/logos/small/<%= p.source.payment_method_name %>-hdpi.png" alt="payment method logo">
                          <span>
                            <%= p.source.payment_method_display_name %>
                          </span>
                        </label>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <header class="row collapse">
            <div class="columns twelve">
              <h3><%= custom_t("invoices.show.item_summary") %></h3>
            </div>
          </header>

          <div class="row cart_item_headers">
            <div class="columns six"><%= custom_t("invoices.show.item") %></div>
            <div class="columns two"><%= custom_t("invoices.show.item_price") %></div>
            <div class="columns two" style="padding: 0;"></div>
            <div class="columns two"><%= custom_t(:price) %></div>
          </div>

          <%= render :partial => "carts/cart_items", :locals => {:show_actions => false} %>

          <% if @invoice.vat_applicable? && vat_feature_flipper_enabled? %>
            <div class="row cart-subtotal no-background">
              <div class="columns seven"></div>
              <div class="columns three cart-subtotal_txt">
                <%= custom_t(:subtotal) %>
                <div class="vat-txt subtext">
                  <%= custom_t("vat.excluding_vat") %>
                </div>
              </div>
              <div class="columns two cart-total_price">
                <%= money_to_currency(@cart_data.vat_exclusive_price.to_money(@cart_data.currency), round_value: false) %>
              </div>
            </div>
            <div class="row cart-subtotal no-background">
              <div class="columns seven"></div>
              <div class="columns three cart-subtotal_txt">
                <%= custom_t('vat.vat_total') %>
                <div class="vat-txt subtext">
                  <%= custom_t("vat.vat_id_number") + ": " + @person.vat_information&.vat_registration_number %>
                </div>
              </div>
              <div class="columns two cart-total_price">
                <%= money_to_currency(@cart_data.total_vat.to_money(@cart_data.currency), round_value: false) %>
              </div>
            </div>
          <% end %>

          <% if balance_payment > 0 %>
            <div class="row cart-subtotal">
              <div class="columns eight"></div>
              <div class="columns two cart-subtotal_txt text-right" style="padding: 0;">
                <%= custom_t(:subtotal) %>
              </div>
              <div class="columns two cart-total_price">
                <%= invoice_money(@cart_data.total_price.to_money(@cart_data.currency)) %>
              </div>
            </div>

            <div class="row cart-subtotal" style="background-color: #efefef;">
              <div class="columns four"></div>
              <div class="columns six text-right" style="padding: 0; padding-top: 4px;">
                <% if balance_payment < @cart_data.total_price %>
                  <%= custom_t("invoices.show.tunecore_balance_part") %>
                <% else %>
                  <%= custom_t("invoices.show.tunecore_balance_full") %>
                <% end %>
              </div>
              <div class="columns two">
                <span class="cart_deduction" style="margin-bottom: 0;">-<%= invoice_money(balance_payment.to_money(@invoice.currency)) %></span><br>
              </div>
            </div>
          <% end %>

          <div class="row cart-subtotal" style="border-bottom: 0px;">
            <div class="columns seven"></div>
            <div class="columns three cart-subtotal_txt text-right" style="padding: 0; padding-top: 3px;">
              <%= custom_t("invoices.show.total_charged") %>
            </div>
            <div class="columns two cart-total_price" style="font-size: 1.8em;">
              <%= invoice_money((@cart_data.total_price - balance_payment).to_money(@cart_data.currency)) %>
            </div>
          </div>

          <% if @invoice.person.india_user? %>
            <div class="in_decimal_disclaimer">
              <%= custom_t("invoices.show.decimal_disclaimer") %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="columns two">&nbsp;</div>
  </section>
</div>
