<% content_for :css do %>
  <%= stylesheet_link_tag "invoices/tc_accelerator_modal" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "tc_accelerator/opt" %>
  <%= javascript_include_tag "invoices/tc_accelerator_modal" %>
<% end %>

<div class="mfp-hide tc-accelerator-block" id="tc-accelerator-modal">
  <div class="wrapper">
    <div class="heading"><%= modal_content[:header_text] %></div>
    <p><%= modal_content[:body_text] %> </p>
    <div class="tc-accelerator-modal-button-row">
      <% modal_content[:button_info].each do |button| %>
        <button 
          class="tc-accelerator-modal <%= button[:class_name] %>"
          data-opt=<%= button[:data_opt] %>
        >
          <%= button[:display_text] %>
        </button>
      <% end %>
    </div>
  </div>
</div>
