<% content_for :external_javascript do %>
  <%= javascript_include_tag "cart" %>
<% end %>
<% content_for :css do %>
  <%= stylesheet_link_tag "cart" %>
<% end %>

<!--using invoice.person in case an admin is accessing this page-->
<% if show_gst_invoice? %>
  <%= render partial: 'invoices/in_invoice', 
    locals: { 
      payment_methods: invoice_payment_data[:payment_methods], 
      balance_payment: invoice_payment_data[:balance_payment] 
    } %>
<% else %>
  <%= render partial: 'invoices/standard_invoice', 
    locals: { 
      payment_methods: invoice_payment_data[:payment_methods], 
      balance_payment: invoice_payment_data[:balance_payment] 
    } %>
<% end %>
