<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "invoice_thanks.css" %>
  <%= stylesheet_link_tag "/stylesheets/magnific-popup.css" %>
  <%= stylesheet_link_tag "master" %>
  <% if @dark_mode %>
    <%= stylesheet_link_tag "dark_mode/invoice_thanks" %>
  <% end %>
<% end %>

<% content_for :optimizely_custom_tags do %>
  <%= optimizely_custom_tag(Optimizely::Page.new(
      current_user,
      currency: locale_currency,
      page_type: Optimizely::Invoice,
      page_name: optimizely_page_name,
      page_opts: {marketing_metrics: @marketing_metrics}
    ).tag_data
  )%>
<% end %>

<% content_for :data_layer do %>
   <%= data_layer_object(page: Gtm::Page.new(current_user, currency: locale_currency, page_type: Gtm::Invoice, invoice: @invoice, page_name: "Invoice")) %>
<% end %>

<%= render "shared/ticker" %>

<%
  p = @invoice.purchases
  data = {
    paid_for_distro: current_user.purchased_distribution_before?,
    pub_customer: current_user.paid_for_composer? || current_user.paid_for_publishing_composer?,
    pub_agreed: (current_user.composers.size > 0),
    selected_splits: current_user.selected_splits?,
    missing_splits: current_user.missing_splits?,
    store_name: @newest_store.name,
    store_launch_date: @newest_store.launched_at,
    automator: p.any?{|x| x.related_type == 'SalepointSubscription'},
    expander: p.any?{|x| x.related_type == 'Salepoint'},
    albumdistro: p.any?{|x| x.related_type == 'Album' and x.purchased_item.class.name == 'Album'},
    singledistro: p.any?{|x| x.related_type == 'Album' and x.purchased_item.class.name == 'Single'},
    ringtonedistro: p.any?{|x| x.related_type == 'Album' and x.purchased_item.class.name == 'Ringtone'},
    albumrenew: p.any?{|x| x.related_type == 'Renewal' and x.purchased_item.class.name == 'Album'},
    singlerenew: p.any?{|x| x.related_type == 'Renewal' and x.purchased_item.class.name == 'Single'},
    ringtonerenew: p.any?{|x| x.related_type == 'Renewal' and x.purchased_item.class.name == 'Ringtone'},
    distrocredit: p.any?{|x| x.related_type == 'Product'},
    pubadmin: p.any?{|x| x.related_type == 'Composer'},
    product_names: p.map{|p| p.product.name}.join(", "),
    person: {
      country_website: country_website,
      full_name: current_user.name,
      first_name: current_user.first_name,
      last_name: current_user.last_name,
      email: current_user.email,
      city: current_user.city,
      state: current_user.state,
      country: current_user.country,
      postal_code: current_user.postal_code,
      vip: current_user.vip
    }
  }
%>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
  <%= javascript_include_tag "/javascripts/app/social_splash_modal.js" %>

  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-519be54d587e17f8"></script>
  <script type="text/javascript">
    jQuery(function($){
      addthis.toolbox('.addthis_toolbox');
    });
    window.cart_data = JSON.parse('<%=raw(data.to_json)%>');
  </script>
<% end %>

<% focus_stolen_from_products = false %>

<%= render "royalty_splits/splits_access_popup_includes" %>
<%= render "royalty_splits/splits_access_create_splits_popup" %>
<%= render "royalty_splits/splits_access_suspended_splits_popup" %>

<div class="thanks content">
  <div class="row">

    <div class="columns eight">
      <header>
        <h1><%= custom_t(".thank_you") %>, <%= current_user.first_name %></h1>
      </header>
      <div class="row">
        <div class="columns five">
          <%  artwork = invoice_artwork(@invoice) %>
          <div class="thanks-artwork <%= artwork.length <= 1 ? 'thanks-artwork_single' : 'thanks-artwork_multiple' %>">
            <% artwork[0..4].each do |url| %>
              <img src="<%= url %>">
            <% end %>
          </div>
        </div>
        <div class="columns seven">
          <% if @invoice.contains_distribution_product? %>
            <p><%= custom_t(".congrats_successfully_submitted") %></p>
            <p><%= custom_t(".release_reviewed", {available_in_stores: link_to(custom_t(".available_in_stores"), knowledgebase_link_for("how-long-to-go-live"))}) %></p>
            <% if @invoice.release_purchases.size.one? && release_can_be_split?(@invoice.release_purchases.first) %>
              <p><%= custom_t(".split_the_royalties") %></p>
              <p>
                <%= link_to album_royalty_splits_path(@invoice.release_purchases.first), class: "button-callout #{splits_link_cannot_create_disabled_classes}" do %>
                  <% unless current_user.purchased_create_splits? %>
                    <i class="fa fa-lock" aria-hidden="true"></i>
                  <% end %>
                  <%= custom_t(".create_a_split") %>
                <% end %>
              </p>
            <% end %>
          <% else %>
            <p>
              <%= custom_t(".successful_purchase") %> <strong><%= money_to_currency(@invoice.final_settlement_amount) %></strong> via <%= @invoice.payment_methods_used.blank? ? custom_t(".credit_downcase") : @invoice.payment_methods_used.join( custom_t(".and") ) %>.
              <%= custom_t(".order_number") %> <%= @invoice.id %>, <%= custom_t(".receipt_copy") %> <strong><%= current_user.email %></strong>.
              <%= custom_t(".details_about_order", {here: link_to(custom_t(".here"), invoice_path(@invoice.id))}) %>
            </p>
          <% end %>
          <% if @invoice_person_state.has_distribution_purchase? && needs_payoneer_enrollment? %>
            <div class="ytm invoice-push notice">
              <p><%= custom_t(".complete_tax_documents") %></p>
              <%= link_to custom_t(".sign_up_payoneer"), payout_provider_registrations_path, method: :post, class: "button-callout-alt" %>
            </div>
          <% end %>
          <% if current_user.has_unaccepted_split_invites? && current_user.can_accept_splits? && current_user.show_invited_splits_based_on_feature_flag? %>
            <div class="splits-container">
              <div class="heading"><%= custom_t(".splits_heading") %></div>
              <div class="body"><%= custom_t(".splits_body") %></div>
              <%= link_to custom_t(".splits_cta"), invited_royalty_splits_path, class: "cta" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="columns twelve artist-services">
          <% if @invoice_person_state.missing_ytm_tracks_or_splits %>
            <header>
              <h1><%= custom_t(".next_steps") %></h1>
            </header>
            <% focus_stolen_from_products = true %>
          <% end %>

          <% if @show_youtube_oac %>
            <div class="ytm invoice-push notice">
              <h2><%= custom_t(".youtube_oac_header") %></h2>
              <a href="<%= youtube_oac_path %>" class="button-callout-alt">
                <%= custom_t(".youtube_oac_button") %>
              </a>
            </div>
          <% end %>

          <% unless FeatureFlipper.show_feature?(:discovery_platforms, current_user) %>
            <% if facebook_freemium_enabled? %>
              <% if @invoice_person_state.has_ytm_purchase %>
                <div class="ytm invoice-push notice">
                  <h2><%= custom_t(".money_youtube") %></h2>
                  <a href="<%= ytm_tracks_path %>" class="button-callout-alt"><%= custom_t(".choose_tracks_youtube") %></a>
                </div>
              <% elsif @invoice_person_state.has_unactioned_ytm_tracks %>
                <div class="ytm invoice-push notice">
                  <h2><%= custom_t(".money_youtube_submit") %></h2>
                  <a href="<%= ytm_tracks_path %>" class="button-callout-alt"><%= custom_t(".choose_tracks_youtube") %></a>
                </div>
              <% end %>
            <% else %>
              <% if @invoice_person_state.has_ytm_purchase %>
                <div class="ytm invoice-push notice">
                  <h2><%= custom_t(".money_youtube_and_facebook") %></h2>
                  <a href="<%= ytm_tracks_path %>" class="button-callout-alt"><%= custom_t(".choose_tracks_youtube") %></a>
                  <a href="<%= new_facebook_track_monetization_subscription_path %>" class="button-callout-alt"><%= custom_t(".choose_tracks_facebook") %></a>
                </div>
              <% elsif @invoice_person_state.has_unactioned_ytm_tracks %>
                <div class="ytm invoice-push notice">
                  <h2><%= custom_t(".money_youtube_and_facebook_submit") %></h2>
                  <a href="<%= ytm_tracks_path %>" class="button-callout-alt"><%= custom_t(".choose_tracks_youtube") %></a>
                  <a href="<%= new_facebook_track_monetization_subscription_path %>" class="button-callout-alt"><%= custom_t(".choose_tracks_facebook") %></a>
                </div>
              <% else %>
                <div class="ytm invoice-push notice">
                  <h2><%= custom_t(".money_facebook") %></h2>
                  <a href="<%= new_facebook_track_monetization_subscription_path %>" class="button-callout-alt"><%= custom_t(".choose_tracks_facebook") %></a>
                </div>
              <% end %>
            <% end %>
          <% end %>

          <% unless focus_stolen_from_products %>
            <div class="invoice-push">
              <h3><%= custom_t(".tell_friends") %></h3>
              <div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="http://<%= current_user.domain %>" addthis:title="<%= custom_t(".just_distributed") %>">
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_tumblr"></a>
                <a class="addthis_button_linkedin"></a>
                <a class="addthis_button_email"></a>
                <a class="addthis_button_stumbleupon"></a>
                <a class="addthis_button_wordpress"></a>
                <a class="addthis_button_compact"></a>
              </div>
            </div>
          <% end %>

          <% unless focus_stolen_from_products %>
            <%= render "products/shared/invoice_upsell" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="columns four" style="padding-top: 29px;">
      <% if @person.display_rewards_program? %>
        <div class="tier-promo">
          <%= render partial: 'tier_promo/tier_promo', locals: {parent_component: "badge"} %>
        </div>
      <% end %>
      <% if current_user.paid_for_composer? || current_user.paid_for_publishing_composer? %>
        <h3 class="sm"><%= custom_t(".tell_friends") %></h3>
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="http://<%= current_user.domain %>" addthis:title="<%= custom_t(".just_distributed") %>">
          <a class="addthis_button_facebook"></a>
          <a class="addthis_button_twitter"></a>
          <a class="addthis_button_tumblr"></a>
          <a class="addthis_button_linkedin"></a>
          <a class="addthis_button_email"></a>
          <a class="addthis_button_stumbleupon"></a>
          <a class="addthis_button_compact"></a>
        </div>
      <% elsif publishing_available_in_region? %>
        <% unless focus_stolen_from_products %>
          <div class="pubad">
            <a href="/index/get_a_publishing_deal" class="pub-link"><img src="/images/publishing/new_pub_banner.jpg" alt=""></a>
          </div>
        <% end %>
      <% end %>
      <%= render partial: "tcda/promo", locals: { advance_display: @advance_display, show_popup: @show_popup } %>
      <%= render partial: "tc_accelerator_modal", locals: { modal_content: tc_accelerator_modal_content(!current_user.tc_accelerator_opted_out?) } if current_user.show_accelerator_modal?(@invoice) %>
    </div>
  </div>
</div>
