<% params[:upload_id] = song.id %>
<% upload_area_id = "song_upload_#{song.id}"%>
<% upload_area_button = "song_upload_button_#{song.id}"%>
<div id="<%= upload_area_button%>" class="song_upload_area">
	<% if song.uploaded? %>	
		<%= custom_t(".song_uploaded", song_file: song.upload.original_filename) %>
		<span class="floatR">(<a href="javascript:hide_for_uploads('<%= upload_area_id%>','<%= upload_area_button%>')"><%= custom_t(".choose_new_file") %></a>)</span>
	<% elsif song.last_errors %>
		<%= song_error_upload(song)%>
		<a href="javascript:hide_for_uploads('<%= upload_area_id%>','<%= upload_area_button%>')"><%= custom_t(".re_upload") %></a>
	<% else %>
		<a href="javascript:hide_for_uploads('<%= upload_area_id%>','<%= upload_area_button%>')"><%= custom_t(".ready_to_upload") %></a>
	<% end %>	
</div>

<!-- Render flash with rollback version -->
<div id="<%= upload_area_id%>" style="">
	<div id="status_flash_<%= song.id%>">
		<%= build_song_uploader(song, upload_url) %>
	</div>
</div>