<header class="sync_login-header row">
  <div class="twelve columns">
    <h2>Sign in</h2>
  </div>
</header>
<section class="sync_login row">
  <div class="twelve columns">
    <%= form_for @person, :url => sync_sessions_path, :method => :post, :html => {:id => 'account_login'} do |f| %>
      <%= f.text_field :email, :label => 'Email', :class => "form-text", :new_form => true %>
      <%= f.password_field :password, :label => 'Password', :class => "form-text", :new_form => true %>
      <footer class="row">
        <%= f.submit 'Sign In', :new_form => true %>
      </footer>
    <% end %>
  </div>
</section>
<section class="sync_login-help row">
  <div class="twelve columns">
    <span class="forgot-pw-helper"><%= link_to("I forgot my password", new_reset_password_path )%></span> |
    <span class="create-account-helper"><%= link_to("Request an Invite", new_sync_membership_path) %></span>
  </div>
</section>
