<header class="row">
  <div class="twelve columns">
    <h2>About Sync</h2>
  </div>
</header>

<div class="row">
  <section id="" class="twelve columns">
    <h3>Do we want to keep this page?</h3>
  </section>
</div>
