<header class="row">
  <div class="twelve columns">
    <h2>Help</h2>
  </div>
</header>

<div class="row">
  <section id="help" class="twelve columns">
    <dl>
      <dt>How do I get access to the TuneCore Sync &amp; Master Licensing website?</dt>
      <dd>You need to request an invite to gain access to the TuneCore Sync &amp; Master Licensing website – you can do so by going to <a href="/synch">www.tunecore.com/synch</a> and clicking on Request an Invite and enter your Name, Email and Company Name. If we approve your request we will then provide you with a link to complete your registration and access the website.</dd>
      <dt>Can I attach my own quote request form?</dt>
      <dd>Yes. On the Request a Quote Page, you can use the Upload Quote Request button at the top of the page to upload a PDF version of your quote request.</dd>
      <dt>Once I submit my quote request, how long before I will get a reply?</dt>
      <dd>We will make every effort to have a quote returned to you within one business day.</dd>
      <dt>Are all songs included on this website 100% Sync and 100% Master?</dt>
      <dd>100% Master – yes. The pub share will vary based on the % we administer on behalf of the songwriter/publisher.</dd>
      <dt>Are there preset prices for certain songs or uses?</dt>
      <dd>No. We quote on each individual quote request based on the specific terms requested.</dd>
      <dt>Is there a writer approval process?</dt>
      <dd>No. We have exclusive admin rights as the Publishing Administrator to license the Composition and the Master rights (if necessary). If the material of the request is explicit, political or questionable in any way – we will, as a courtesy to our writers ask for their approval to move forward with a quote and approval of the use.</dd>
      <dt>When will I receive the download of the song for my use?</dt>
      <dd>A low quality version of the song will be available immediately. Once we receive a partially executed license and payment from the Licensor, we will provide a link that will allow you to download a high quality version of the recording.</dd>
      <dt>What is TuneCore’s relationship with the copyright holders included in the TuneCore Sync &amp; Master Licensing website?</dt>
      <dd>By having TuneCore Music Publishing as their Publishing Administrator, the copyright holder has granted TuneCore the ability to include their songs on the TuneCore Sync &amp; Master Licensing website and to quote on their behalf for any compositions and master recordings that we administer the publishing rights and also distribute via TuneCore.</dd>
      <dt>How do I contact someone with questions regarding the TuneCore Sync &amp; Master Licensing website?</dt>
      <dd>Please email your inquiry to licensing@tunecore.com</dd>
      <dt>I forgot my password – how do I retrieve it?</dt>
      <dd>At the login screen, enter your email and click on Forgot Password</dd>
    </dl>
  </section>
</div>