<div class="synch_intro">
  <section>
    <div class="row">
    <div id="home" class="eight columns">
      <h2>Your one-stop destination to explore and license the TuneCore <%= t(:catalog) %>&#8230;</h2>
      <p>We can license the master and our controlled Publishing share (100% in most cases) of any song found on the site. A monthly sampler and streaming chart of our most recent top sellers can be streamed below and, after login, the entire <%= t(:catalog) %> is searchable by artist, song title, genre and writer. As a member, you can also browse top selling charts by genre, “<%= t(:favorite) %>” tracks for later reference and request quotes.</p>
      <p>To get started, click the login button below if you’re already a member. Or, request an invite if you’re new.</p>
      <%= link_to "LOGIN", sync_login_path, :class => "button-callout emphasis" %>
      <%= link_to "REQUEST AN INVITE", new_sync_membership_path, :class => "button-callout-alt" %>
    </div>
    </div>
  </section>
</div>

<div class="row spotify_charts">
  <section class="four columns">
    <h2><%= @playlists.first['title'] %></h2>
    <iframe src="https://embed.spotify.com/?uri=spotify:user:tunecorepubadmin:playlist:<%= @playlists.first['playlist_id'] %>&amp;theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  </section>
  <% @playlists.to_a.reverse.slice(0,2).reverse.each do |item| %>
    <section class="four columns">
      <h2><%= item['date'] %> Hot List</h2>
      <iframe src="https://embed.spotify.com/?uri=spotify:user:tunecorepubadmin:playlist:<%= item['playlist_id'] %>&amp;theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </section>
  <% end %>
</div>
