<header class="row">
  <div class="twelve columns">
    <h2>Playlists</h2>
  </div>
</header>

<div class="row spotify_charts">
  <% @playlists.to_a.reverse.slice(0,9).each do |item| %>
    <section class="four columns">
      <h2><%= item['date'] %> Hot List</h2>
      <p style="margin-bottom:10px;"><a href="<%= item['url'] %>" target="_blank">Download these songs</a></p>
      <iframe src="https://embed.spotify.com/?uri=spotify:user:tunecorepubadmin:playlist:<%= item['playlist_id'] %>&amp;theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </section>
  <% end %>
</div>
