<header class="row">
  <div class="twelve columns">
    <h2>TuneCore Sync &amp; Master Licensing Database</h2>
    <h2>Terms of Service</h2>
    <h3>Effective as of May 1, 2013</h3>
  </div>
</header>

<div class="row">
  <section id="terms_and_conditions" class="twelve columns">
    <p>Please read the following terms and conditions carefully. These terms and conditions, collectively referred to as the &ldquo;Terms of Service&rdquo;, govern your access to and use of the TuneCore Sync &amp; Master Licensing  Database (the &ldquo;Site&rdquo;), including the use of any content, information, products and/or services (the &ldquo;Services&rdquo;) therein.  This is a legal agreement between you and TuneCore, Inc. (&ldquo;Company&rdquo;, &ldquo;we&rdquo; or &ldquo;us&rdquo;).  Company reserves the sole right at any time to modify, discontinue or terminate the Site and Services, or modify the Terms of Service without notice. It is your responsibility to check these Terms of Service periodically for changes.  By continuing to use or access the Site and/or Services after Company makes and posts any such modification, you agree to be legally bound by the revised Terms of Service. You may not alter the terms and conditions of the Terms of Service without Company’s express written consent.</p>

    <p>YOU UNDERSTAND THAT BY USING THE SERVICES OFFERED BY COMPANY THROUGH THE SITE OR WITH RESPECT TO YOUR INDIVIDUAL TUNECORE <%= t(:synchroniz).upcase %>ATION LICENSING ACCOUNT, YOU AGREE TO BE BOUND BY THE TERMS OF SERVICE.  IF YOU DO NOT ACCEPT THE TERMS OF SERVICE IN THEIR ENTIRETY, YOU MAY NOT ACCESS OR USE THE SERVICES OFFERED BY COMPANY.</p>

    <h4>1.  Use of the Site.</h4>
    <p>Company&rsquo;s <%= t(:catalog) %> features original sound recordings and original musical compositions (to the extent controlled by Company) (the recordings and compositions collectively referred to herein as &ldquo;Songs&rdquo;), across all genres, by independent artists and composers from around the world.  Every Song is pre-cleared, making licensing extremely easy and efficient for all of your film, television, commercial, advertising, etc., needs.  The Site is being presented solely for business-to-business purposes for you to license Songs in accordance with the procedure presented in the Site.  Company grants you a limited, non-exclusive license to access the Site and search the <%= t(:catalog) %> by a variety of methods (e.g., genre, title, artist, composer).  You may not use, distribute, or copy any music or other material found on the Site other than as expressly permitted herein. You acknowledge and agree that you will not share your specific login information and/or password with any third party, nor provide access to the Site to any third party without Company’s prior written permission.   We reserve the right to refuse service, and remove or edit content in our sole discretion.</p>

    <h4>2. Song Licensing and Use of Songs.</h4>
    <p>The Site offers sound recordings and musical compositions (to the extent controlled by Company) for licensing placements in any media.  The Songs may be licensed for a license fee negotiated between you, the user of the Site, and Company.  As a user of the Site, we grant you a non-transferable, non-exclusive license to utilize this Site by streaming any and all Songs solely for evaluation purposes and potential demonstration to your clients.</p>

    <p>Your usage of the Songs is governed by these Terms of Service unless and until you request a formal license of a Song from us.  If you wish to license a Song, you must: (i) select the Song(s), (ii) the scope of the grant of rights in the Song(s) that you are requesting, and (iii) fill out the <%= t(:synchroniz).capitalize %>ation Quote Request Form provided on the Site or submit your own form via the Site (the &ldquo;Request Form&rdquo;).  Following receipt of your Request Form, a Company representative will provide you with a licensing fee quote in connection with your request as well as a high resolution download of the Song(s) for final evaluation purposes.  If you elect to enter into a licensing agreement (the &ldquo;License&rdquo;), you shall notify Company and shall either (i) issue your own license to Company or (ii) request Company&rsquo;s own License.  For the avoidance of doubt, no Song shall be commercially exploited unless and until a License is executed and the License fee is paid to Company.  The provisions of the License will control your use of the Song and will override any conflicting provisions in these Terms of Service with respect to your use of the Song.  Unless and until specifically granted in a License, you may not (i) sublicense, re-title, rent or in any way lease a Song; (ii) publish, provide a hyper-link, transfer or in any way copy a Song to a third party site, network or internet bulletin board; or (iii) otherwise distribute or allow any Song to be distributed to or used by anyone other than as <%= t(:authoriz) %>ed hereunder.</p>

    <h4>3.  No Reproduction of Materials.</h4>
    <p>The material on the Site is protected under state and federal copyright and trademark laws. By accessing and/or streaming (or downloading, if applicable) the material on the Site, you do not acquire any ownership interest or rights to the material found on the Site, nor are you <%= t(:authoriz) %>ed to create any derivative works of such material. You are not <%= t(:authoriz) %>ed to use such material in any way other than as specified herein. All rights to the content of the Site, and any material on the Site, are reserved by Company. You may not reproduce, duplicate, disseminate, publish or transfer such content or material in any form or by any means by use of any media now in existence or that may be created in the future, except with Company&rsquo;s prior written permission.  Any un<%= t(:authoriz) %>ed use of the Site, or the contents or materials thereon, automatically revokes the permission or license granted by Company hereunder. Copyright and trademark infringement are violations of federal and state law, and are subject to criminal and civil penalties. Please review the Copyright Policy for further information.</p>

    <p>You agree that Company may, in its sole discretion, terminate your account if you violate the Terms of Service or, in Company&rsquo;s good faith discretion, are believed to be infringing the intellectual property rights of Company and/or third parties and/or engaging in otherwise fraudulent activity.</p>

    <h4>4. Communications with Us.</h4>
    <p>Any communication or material that you send to us by electronic mail or otherwise is, and will be treated as, non-confidential and non-proprietary. You hereby consent to receive communications from us electronically. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.  Any notice or other communication to be given hereunder will be in writing and given (i) by Company via email (in each case to your email address of record), (ii) a posting on the Site, or (iii) by you via email to licensing@tunecore.com or to such other address as Company may specify in writing. The date of receipt shall be deemed the date on which such notice is transmitted.</p>

    <h4>5. Minors&rsquo; Use of the Site.</h4>
    <p>If you are under the age of eighteen (18) years old, you must get your parent or guardian&rsquo;s permission to use this Site, and prior to sharing or posting any personal information on the Site.  Without parental or guardian consent, you must discontinue use of the Site.</p>

    <h4>6. DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY</h4>
    <p>THE SITE AND ALL INFORMATION, CONTENT, MATERIALS, PRODUCTS AND SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE SITE ARE PROVIDED BY US ON AN &ldquo;AS IS&rdquo; AND &ldquo;AS AVAILABLE&rdquo; BASIS, UNLESS OTHERWISE SPECIFIED IN WRITING. WE MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THE SITE OR THE INFORMATION, CONTENT, MATERIALS, PRODUCTS OR SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE SITE, UNLESS OTHERWISE SPECIFIED IN WRITING. YOU EXPRESSLY AGREE THAT YOUR USE OF THE SITE IS AT YOUR SOLE RISK. YOU ASSUME THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION DUE TO YOUR USE OF THIS SITE OR COMPANY CONTENT.</p>

    <p>TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. WE DO NOT WARRANT THAT THE SITE; INFORMATION, CONTENT, MATERIALS, PRODUCTS OR SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE SITE; THEIR SERVERS; OR E-MAIL SENT FROM US ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. WE WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THE SITE OR FROM ANY INFORMATION, CONTENT, MATERIALS, PRODUCTS OR SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES, UNLESS OTHERWISE SPECIFIED IN WRITING.</p>

    <p>Certain state laws do not allow limitations on implied warranties or the exclusion or limitation of certain damages. If these laws apply to you, some or all of the above disclaimers, exclusions, or limitations may not apply to you, and you might have additional rights.</p>

    <p>WE RESERVE THE RIGHT TO ALTER OR DISCONTINUE ANY ASPECT OF THE SITE AT ANY TIME.</p>

    <h4>7. Indemnity.</h4>
    <p>You agree to indemnify, hold harmless and defend us and our affiliates, parent companies, subsidiaries, officers, directors, employees and agents at your expense, against any and all damages, claims, actions, proceedings, and suits and all related liabilities, damages, settlements, penalties, fines, costs and expenses (including, without limitation, reasonable attorneys&rsquo; fees and other dispute resolution expenses) incurred by us arising out of or relating to your: (a) use of and access to the Site; (b) violation or breach of any term of these Terms and Conditions, Copyright Policy, or any applicable law, regulation, policy or guideline, whether or not referenced herein; (c) violation (or alleged violation) of any third party right, including, without limitation, any copyright, property, or privacy right.</p>

    <h4>8. Disputes.</h4>
    <p>You agree that any dispute regarding this agreement and any use of the Site must be brought in a court of competent jurisdiction in New York, New York, USA, and by using and accessing the Site you hereby consent to exclusive venue and jurisdiction in New York, New York, USA, for any disputes arising from your use of the Site. You agree that the Site shall be deemed solely based in New York, and the Site shall be deemed a passive website that does not give rise to personal jurisdiction, either specific or general, over Company in jurisdictions other than New York. These Terms of Service shall be governed by the internal substantive laws of the state of New York, without respect to its conflicts-of-laws principles. YOU AND COMPANY AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE SITE MUST BE COMMENCED WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.</p>

    <h4>9. Confidentiality.</h4>
    <p>You acknowledge and agree that, in the course of negotiating and transacting business with Company, you may become aware of certain otherwise confidential information related to Company&rsquo;s business and business practices. Except to the extent that such information is otherwise generally available to third parties or is required to be divulged by operation of law, you agree to keep such information confidential.</p>

    <p>You hereby expressly agree that Company shall have the right to provide information relative to the licensing of Songs hereunder to third parties, to aggregate such information in charts and other comparative informational materials, and to disseminate the same in any manner.</p>

    <h4>10. Other Policies.</h4>
    <p>Please review the other policies and guidelines comprising the Site&rsquo;s Terms of Service. The Terms of Service govern your visit to, and use of, the Site. We reserve the right to make changes to the Site or Terms of Service, at any time. If any of these conditions or provisions is deemed invalid, void, or for any reason unenforceable, that condition or provision shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.</p>

    <h4>11. Assignment.</h4>
    <p>These Terms of Service, and any rights and licenses granted hereunder, may not be transferred or assigned by you in any manner, but may be assigned by us without restriction.</p>

    <h4>12. Waiver/Severability.</h4>
    <p>In the event that any provision in the Terms of Service is held to be invalid or unenforceable, the remaining provisions will remain in full force and effect. The failure of a party to enforce any right or provision of the Terms of Service will not be deemed a waiver of such right or provision</p>

    <h4>13. Modifications.</h4>
    <p>You may not alter the terms and conditions of this agreement without our express written consent. Any attempt by you to do so is hereby rejected as void.</p>

    <h4>14. Relationship of the Parties.</h4>
    <p>The relationship of the parties under the Terms of Service is that of independent contractors and the Terms of Service shall not be construed to imply that either party is the agent, employee, or joint venturer of the other. You agree that the Terms of Service and the rules, restrictions and policies contained herein, and Company&rsquo;s enforcement thereof, are not intended to confer and do not confer any rights or remedies upon any person other than you and Company.</p>

    <h4>15. Miscellaneous.</h4>
    <p>(a) The Site and Services may be used and accessed solely for lawful purposes. You agree to abide by all applicable local, state, national and foreign laws, treatises and regulations in connection with your use of the Site and Services.  In addition, without limitation, you agree that you will not do any of the following while using or accessing the Site and Services:</p>

    <p>(i) Disable, hack, circumvent or otherwise interfere with security related features of the Site or features that prevent or restrict use or copying of any Company owned and/or controlled content or materials;</p>

    <p>(ii) Destroy, interfere with or disrupt, or attempt to interfere with or disrupt the functioning of the Site;</p>

    <p>(iii) Attempt to scan, probe or test the vulnerability of any Company system or network or breach, impair or circumvent any security or authentication measures protecting and providing security for the Site or Services;</p>

    <p>(iv) Attempt to decompile, disassemble, decipher or reverse engineer any of the software used to provide the Site or Services;</p>

    <p>(v) Attempt to search, meta-search or access the Site with any engine, software, tool, agent, device or mechanism other than software and/or search agents provided by Company or other generally available third party web browsers (e.g., Internet Explorer, Firefox, Safari), including, without limitation, any software that sends queries to the Site to determine how a website or web page ranks;</p>

    <p>(vi) Misrepresent or impersonate your affiliation with any person or entity, through pretext or some other form of social engineering or otherwise commit fraud;</p>

    <p>(vii) Use the Site or Services in any manner not permitted by the Terms of Service; or</p>

    <p>(viii) Instruct or encourage any other individual to do any of the foregoing or to breach and/or violate any of the Terms of Service.</p>

    <h4>16. Entire Agreement.</h4>
    <p>The Terms of Service, together with the rules and policies of Company and subject to any License entered into by the parties, constitute the entire agreement between Company and you with respect to the subject matter hereof.</p>

    <p>You hereby acknowledge that you have read and understand Company&rsquo;s Terms of Service and by using the Services and the Site you have expressly accepted the terms and conditions set forth in such Terms of Service, as same may be amended from time to time.</p>
  </section>
</div>
