<%= f.input "#{date}",
            label: custom_t(date),
            wrapper_html: {
              class: "balance-history-table-filter__form__date-range__#{date.to_s.sub("_", "-")}"
            },
            label_html: {
              class: "balance-history-table-filter__form__date-range__#{date.to_s.sub("_", "-")}-label"
            },
            input_html: {
              type: :date,
              class: "balance-history-table-filter__form__date-range__#{date.to_s.sub("_", "-")}-raw"
            } %>
