<div class="balance-history-table-filter__form__transaction-types_selections">
  <%= link_to custom_t(".select_all"), '#',
    id: "completed_transaction_filter_select_all" %>
  |
  <%= link_to custom_t(".clear_selection"), '#',
    id: "completed_transaction_filter_clear_selection" %>
</div>
