/* Island Def Jam */

#container > nav.grid_5, #container > aside.grid_5 {margin-top:30px;}
#container{
    position: relative;
    z-index: 0;
}
/* Logged in header */
body {background: #fff url(images/backgrounds/body_bg.gif) repeat-x;}
header {margin-bottom:20px;position:relative;height:134px;background: #000 url(images/backgrounds/header_bg.gif) no-repeat -20px 0;z-index:1;}
header h2 span {color: #39f;}

/* homepage */
.canada_flag{display:none;position:absolute;top:-10px;left:248px;}
#index {background: #0d0d0d url(images/backgrounds/index_bg.jpg) no-repeat center -196px;color:#999;}
#index h1 {position:absolute;left:-9999px;}

/* section headers */
section header h1 {float:left;padding:0 10px 10px 0;margin-top:5px;text-shadow:none;position:static;font: bold 30px Helvetica, Arial;color:#39f;width:630px;}

/* index signin */
#index label {font:bold 17px Helvetica, Arial;color:#6a6a6a;position:absolute;margin-left:9px;bottom:9px;}

section#copy {width:333px;height:306px;position:absolute;right:65px;top:95px;}
section#copy ul {margin-top:10px;padding-left:20px;list-style-image:url(images/backgrounds/index_bullet.png);margin-bottom:20px;}
section#copy li {font-size:18px;color:#fff;margin-bottom:15px;line-height:1.2;}
section#copy h2 span {font-size:23px;font-weight:normal;position:relative;bottom:15px;display:block;}
section#copy h3 {font-size:13px;font-weight:normal;}
section#copy h3 span {color:#39f;font-weight:bold;font-size:14px;}

#sign-up-now {background: url(images/backgrounds/sign_up_bg.png) no-repeat 1px 0;height:75px;width:293px;}
#sign-up-now a {text-decoration:none;}
#copy #sign-up-now h2 {color:#fff;font-weight:normal;font-size:13px;position:relative;left:15px;top:5px;text-shadow:none;text-transform:none;}
#copy #sign-up-now h2 span {margin:4px 0 0 10px;position:relative;bottom:1px;right:9px;display:block;color:#39f;font-size:22px;font-weight:bold;text-transform:uppercase;}
#copy #sign-up-now h2 span.free {color:#fff;font-size:16px;text-transform:none;margin:0 0 0 10px;}

.ie7 #copy #sign-up-now h2 {position:static;margin-left:15px;margin-top:5px;cursor:pointer;}
.ie7 #copy #sign-up-now h2 span {zoom:1;position:static;margin-left:0;}

/* 4 main index links */
#index-nav {position:relative;top:500px;left:0;}

.ie7 #index-nav {margin-top:-40px;zoom:1;position:absolute;top:470px;width:990px;left:-590px;}

#index-nav li {margin: 0 7px 0 0;width:234px;height:184px;float:left;background:#212121;list-style:none;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}
#index-nav .tour {width:452px;background: #212121 url(images/backgrounds/index_logos.png) no-repeat 233px 30px;position:relative;}
#index-nav .tour h3 {word-spacing:-1.5px;font-size:18px !important;margin-top:6px !important;}
@media screen and (-webkit-min-device-pixel-ratio:0) {#index-nav .tour h3 {margin-top:15px !important;}}
#index-nav .tour li {color:#fff;font-size:16px;margin:15px 0 7px 40px;background:none;height:auto;width:auto;float:none;list-style-type:decimal;}
#index-nav .tour p {color:#66ccff;margin:-9px 0 0 77px;}
#index-nav .tour span {position:relative;top:4px;background:url(images/backgrounds/index_wl_logo.png) no-repeat;display:inline-block;color:transparent;width:68px;text-indent:-2000%;overflow:hidden;height:28px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {#index-nav .tour span {top:-2px;}}
#index-nav .tour .lightbox, #index-nav .cost .lightbox, #index-nav .republic-support .lightbox, #index-nav a.nobox {color:#66CCFF;font-size:16px;font-weight:bold;position:absolute;bottom:11px;right:15px;}
#index-nav .tour h3,#index-nav .cost h3, #index-nav .republic-support h3 {color:#66CCFF;font-size:19px;position:static;margin:15px 0 0 15px;}
#index-nav .republic-support {position:relative;background: #212121 url(images/backgrounds/index_blue_arrow.png) no-repeat 200px 151px;}
#index-nav .republic-support p {color:#fff;margin:2px 0 15px 15px;}

#index-nav .cost {position:relative;background: #212121 url(images/backgrounds/index_blue_arrow.png) no-repeat 200px 151px;}

#signin {position:absolute;right:38px;top:18px;}
.reset-pw {color:#d0d0d0;font-size:12px;position:absolute;top:-22px;right:315px;}

.ie7 .reset-pw {right:310px;}
.ie7 #signin {top:40px;}

/* Form Elements */

/* dark inputs used on homepage */
input.dark, fieldset, [type=submit], .button {-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.dark[type=text], .dark[type=password] {background: #1a1a1a;background: rgba(26,26,26, 0.65);padding:5px 7px 0;margin-right:2px;width: 270px;height:29px;border:1px solid #181818;border-bottom: 1px solid rgba(72,72,72, 0.6);color: #6a6a6a;font:17px Arial;font-weight:bold;}
.dark[type=submit] {height:36px;width:121px;color: #c6c6c6;font:bold 15px Helvetica, Arial;text-align:left;padding:2px 60px 2px 13px;background:url(images/inputs/dark_input_bg.png) right 0;border:1px solid #181818;border-bottom: 1px solid rgba(72,72,72, 0.6);cursor:pointer;}

#create-account-submit {height:72px;width:347px;background:url(images/inputs/signup_btn.png) no-repeat;border:none;font:bold 24px Helvetica, Arial;color:#fff;margin-top:30px;padding-right:35px;}

.ie7 input[type=text], .ie7 input[type=password], .ie7 textarea {width:337px;height:24px;border: 1px solid #9FBBCD;color:#666 !important;padding-left:10px;}
.ie7 input[type=submit] {height:30px;width:190px;color: #fff;font:bold 14px Helvetica, Arial;background:url(images/inputs/input_bg.png) right 0;border:0;padding:4px 20px 0 0;cursor:pointer;}

label, .label, [type=text], [type=password] {color:#003852;font: bold 14px Helvetica, Arial;padding-top:11px;}
.ie7 input[type=text], .ie7 input[type=password] {color:#003852;font: bold 14px Helvetica, Arial;padding-top:11px;}

#secondary-navigation a {color:#39f;}

/* create account page */
#create-account {background: rgba(210,225,233, 0.35)}