<%= error_messages_for @client_application %>
<div class="field">
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.text_field :url %>
</div>
<div class="field">
  <%= f.text_field :callback_url %>
</div>
<div class="field">
  <%= f.text_field :support_url %>
</div>
<div class="field">
  <%= f.check_box :authorized_by_role %>
</div>
<div class="field">
  <label> Roles </label>
  <div id="role_checkboxes" style="width:400px; margin-left:250px; margin-top:50px;">
    <%Role.all.each do |role|%>
      <%=check_box_tag "client_application[role_ids][]", role.id, @client_application.roles.include?(role)%>
          <%=role.name%>
      <br/>
    <%end%>
  </div>
</div>
