<h1>OAuth details for <%=@client_application.name %></h1>
<p>
  <strong>Consumer Key:</strong>
  <code><%=@client_application.key %></code>
</p>
<p>
  <strong>Consumer Secret:</strong>
  <code><%=@client_application.secret %></code>
</p>
<p>
  <strong>Request Token URL</strong>
  <code>http<%='s' if request.ssl? %>://<%= request.host_with_port %><%=@client_application.oauth_server.request_token_path %></code>
</p>
<p>
  <strong>Access Token URL</strong>
  <code>http<%='s' if request.ssl? %>://<%= request.host_with_port %><%=@client_application.oauth_server.access_token_path %></code>
</p>
<p>
  <strong><%= t(:authoriz).capitalize %>e URL</strong>
  <code>http<%='s' if request.ssl? %>://<%= request.host_with_port %><%=@client_application.oauth_server.authorize_path %></code>
</p>

<p>
  <strong><%= t(:authoriz).capitalize %>ed By Role</strong>
  <code><%= @client_application.authorized_by_role ? "True":"False" %> </code>
</p>

<p>
  <strong> Roles </strong>
  <code> <%=@client_application.roles.collect{|r| "#{r.name}" }.join(', ')%> </code>
</p>

<p>
  We support hmac-sha1 (recommended) as well as plain text in ssl mode.
</p>
<%= link_to 'Edit', edit_admin_oauth_client_path(@client_application) %> |
<%= link_to 'Back', admin_oauth_clients_path %>
