<section class="bulk_select_splits bulk_select_splits_top">
  <div class="controls">
    <select class="bulk_splits" name="splits">
      <%= options_for_select([
        ["#{custom_t(:select)}:", ""],
        ["100%", "100"],
        ["75%", "75"],
        ["50%", "50"],
        ["25%", "25"],
        ["0%", "0"],
        ["#{custom_t(:other)}", "other"]
      ]) %>
    </select>
    <span class="other_percentage hide"><label><span class="custom_split_label"><%= custom_t(".custom_split") %>:</span><input type="text" name="splits" size="3" class="custom_split bulk_custom_split"></label></span>
    <button class="apply_bulk_splits button-interface"><%= custom_t(".apply_to_selected") %></button>
  </div>
</section>
<form action="<%= confirm_splits_publishing_splits_path %>" id="splits_form" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="page" value="<%= params[:page] %>">
  <input type="hidden" name="per_page" value="<%= params[:per_page] %>">
  <% if params[:search] %>
    <input type="hidden" name="search" value="<%= params[:search] %>">
  <% end %>
  <% if params[:release] %>
    <% params[:release].each do |id| %>
      <input type="hidden" name="release[]" value="<%= id %>">
    <% end %>
  <% end %>
  <table>
    <colgroup>
      <col class="compositions-col_composition">
      <col class="compositions-col_appears_on">
      <col class="compositions-col_split">
      <col class="compositions-col_select">
    </colgroup>
    <thead>
      <tr>
        <th><%= sortable "songs.name", "#{custom_t(:composition)}" %></th>
        <th><span><%= custom_t(:appears_on) %></span></th>
        <th><span><%= custom_t(:your_split) %></span></th>
        <th>
          <div class="selection">
            <a href="#" class="select_all_splits"><%= custom_t(:select_all) %></a>
            <a href="#" class="deselect_all_splits"><%= custom_t(:deselect_all) %></a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <%- if missing_splits_paginated.each do |mc| -%>
        <%- unless mc.has_splits? -%>
          <% song_split = @songs_selected.select { |s| s['song_id'].to_i == mc.id } || [] %>
          <tr>
            <td>
              <%= mc.name %>
              <%= hidden_field_tag 'songs[][name]', mc.name %>
            </td>
            <td>
              <%= display_name(mc.album) %>
              <input type="hidden" name="songs[][album_name]" value="<%= display_name(mc.album) %>">
            </td>
            <% if mc.album.rejected? %>
              <td>
                  <strong>Ineligible</strong><br>
                  <span class="split-rejected-release">Release rejected</span>
              </td>
              <td></td>
            <% else %>
              <td>
                  <select class="select_splits" name="songs[][split]">
                    <%= options_for_select([
                      ["#{custom_t(:select)}:", ""],
                      ["100%", "100"],
                      ["75%", "75"],
                      ["50%", "50"],
                      ["25%", "25"],
                      ["0%", "0"],
                      ["#{custom_t(:other)}", "other"]
                    ], song_split.empty? ? "" : song_split.first['split']) %>
                  </select>
                <span class="other_percentage hide"><label><span class="custom_split_label"><%= custom_t(".custom_split") %>:</span><input type="text" name="songs[][custom_split]" size="3" class="custom_split"></label></span>
              </td>
              <td>
                <input type="checkbox" name="songs[][selected]" class="split_checkbox" value="selected">
                <input type="hidden" name="songs[][song_id]" value="<%= mc.id %>">
              </td>
            <% end %>
          </tr>
        <%- end -%>
      <%- end.empty? -%>
        <tr>
          <td colspan="4"><%= custom_t(".no_compositions_found") %></td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
</form>
<section class="bulk_select_splits bulk_select_splits_bottom">
  <div class="controls">
    <select class="bulk_splits" name="splits">
      <%= options_for_select([
        ["#{custom_t(:select)}:", ""],
        ["100%", "100"],
        ["75%", "75"],
        ["50%", "50"],
        ["25%", "25"],
        ["0%", "0"],
        ["#{custom_t(:other)}", "other"]
      ]) %>
    </select>
    <span class="other_percentage hide"><label><span class="custom_split_label"><%= custom_t(".custom_split") %>:</span><input type="text" name="splits" size="3" class="custom_split bulk_custom_split"></label></span>
    <button class="apply_bulk_splits button-interface"><%= custom_t(".apply_to_selected") %></button>
  </div>
</section>
<footer class="table-nav">
  <div class="table-nav-controls total_results">
    <%= custom_t(".results_found", {
      count: missing_splits_paginated.total_entries
    }) %>
  </div>
  <div class="table-nav-controls page_select">
    <input type="hidden" class="page" name="page" value="<%= request.url %>">
    <span><%= custom_t(".view") %></span>
    <select name="per_page" class="per_page">
      <option value="25"  <%= "selected='selected'" if params[:per_page].to_i == 25 %>>25</option>
      <option value="50"  <%= "selected='selected'" if params[:per_page].to_i == 50 %>>50</option>
      <option value="100"  <%= "selected='selected'" if params[:per_page].to_i == 100 %>>100</option>
      <option value="500" <%= "selected='selected'" if params[:per_page].to_i == 500 %>>500</option>
    </select>
  </div>
  <%= will_paginate(missing_splits_paginated, :params => { :controller => "publishing_splits", :action => "paginate" }, :class => 'table-nav-controls pagination', :previous_label => '<i class="fa fa-chevron-circle-left fa-lg"></i>', :next_label => '<i class="fa fa-chevron-circle-right fa-lg"></i>', :renderer => PaginationWithSelectLinkRenderer) -%>
</footer>
