<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/composition.css" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.ba-bbq.min.js" %>
  <%= javascript_include_tag "/javascripts/plugins/tc.compositionsTable.js" %>
  <%= javascript_include_tag "/javascripts/app/compositions.js" %>
  <script type="text/javascript" charset="utf-8">
    jQuery(function($){
      $(".compositions-table").compositionsTable({
        url: "<%= confirm_splits_publishing_splits_path(:page => 1) %>"
      });
    });
  </script>
<% end %>

<div class="content">
  <header>
    <div class="row">
      <div class="twelve columns">
        <section class="breadcrumbs">
          <a href="<%= composers_path %>"><%= custom_t(:publishing_dashboard) %></a>
          <a href="<%= compositions_path %>"><%= custom_t(:composition_manager) %></a>
          <a href="<%= publishing_splits_path %>"><%= custom_t(:set_splits) %></a>
          <span class="active"><%= custom_t(".confirm_splits") %></span>
        </section>
        <section class="page_title divider">
          <h1><%= custom_t(".confirm_splits_submission") %></h1>
        </section>
      </div>
    </div>
  </header>

  <div class="row">
    <section class="compositions nine columns">
      <div class="confirm_warning">
        <h2><%= custom_t(".attention") %></h2>
        <p class="eleven columns"><%= custom_t(".by_clicking_confirm_you_are_submitting_the_song_titles", { user: current_user.name }) %></p>
      </div>
      <section class="compositions-table">
        <form action="<%= publishing_splits_path %>" id="splits_form" method="POST">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <table>
            <colgroup>
              <col class="compositions-col_composition">
              <col class="compositions-col_appears_on">
              <col class="compositions-col_split">
            </colgroup>
            <thead>
              <tr>
                <th><%= sortable "songs.name", "#{custom_t(:composition)}" %></th>
                <th><span><%= custom_t(:appears_on) %></span></th>
                <th><span><%= custom_t(:your_split) %></span></th>
              </tr>
            </thead>
            <tbody>
              <%- if @songs.each do |mc| -%>
                <tr>
                  <td>
                    <%= mc['name'] %>
                    <input type="hidden" name="songs[][song_id]" value="<%= mc['song_id'] %>">
                  </td>
                  <td><%= mc['album_name'] %></td>
                  <td>
                    <% if mc['split'] == "other" %>
                      <%= mc['custom_split'] %>
                      <input type="hidden" name="songs[][split]" value="<%= mc['split'] %>">
                      <input type="hidden" name="songs[][custom_split]" value="<%= mc['custom_split'] %>">
                    <% else %>
                      <%= mc['split'] %>%
                      <input type="hidden" name="songs[][split]" value="<%= mc['split'] %>">
                      <input type="hidden" name="songs[][custom_split]" value="<%= mc['custom_split'] %>">
                    <% end %>
                  </td>
                </tr>
              <%- end.empty? -%>
                <tr>
                  <td colspan="3"><%= custom_t(".you_have_no_splits_selected") %></td>
                </tr>
              <%- end -%>
            </tbody>
          </table>
        </form>
      </section>
      <footer>
        <a href="<%= publishing_splits_path + @url_params %>" class="go_back button-interface"><%= custom_t(:go_back) %></a>
        <input type="submit" name="submit" class="submit_splits button-callout-alt" value="<%= custom_t(:confirm) %>">
      </footer>
    </section>
  </div>
</div>
