<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/composition.css" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.ba-bbq.min.js" %>
  <%= javascript_include_tag "/javascripts/plugins/tc.compositionsTable.js" %>
  <%= javascript_include_tag "/javascripts/app/compositions.js" %>
  <script type="text/javascript" charset="utf-8">
    jQuery(function($){
      $(".table-container").compositionsTable({
        url: "<%= paginate_publishing_splits_path(:page => 1) %>"
      });
    });
  </script>
<% end %>

<div class="content">
  <header>
    <div class="row">
      <div class="twelve columns">
        <section class="breadcrumbs">
          <a href="<%= composers_path %>"><%= custom_t(:publishing_dashboard) %></a>
          <a href="<%= compositions_path %>"><%= custom_t(:composition_manager) %></a>
          <span class="active"><%= custom_t(:set_splits) %></span>
        </section>
        <section class="page_title">
          <h1><%= custom_t(".set_missing_splits") %></h1>
        </section>
        <section class="page_description divider">
          <p><%= custom_t(".page_description") %></p>
          <div class="notify notify_warn"><p><%= custom_t(".notify_warn") %></p></div>
        </section>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="sidebar three columns">
      <section class="filter">
        <header>
          <h3><%= custom_t(:filter) %></h3>
        </header>
        <%= form_tag publishing_splits_path, :method => "get", :class => "filter_form" do %>
          <%= hidden_field_tag :search, params[:search] if params[:search] %>
          <%= hidden_field_tag :per_page, params[:per_page] if params[:per_page] %>
          <div class="release collapsible">
            <h4><a href="#" class="toggle-button"><%= custom_t(:appears_on) %></a></h4>
            <div class="list">
              <% unless @singles.empty? %>
                <span class="toggle-select"><%= custom_t(:singles_global) %> &mdash; <a href="#" class="select_all"><%= custom_t(:select_all) %></a> | <a href="#" class="deselect_all"><%= custom_t(:deselect_all) %></a></span>
                <ul class="release-list">
                  <% @singles.each do |album| %>
                    <li><label title="<%= display_name(album) %>"><input type="checkbox" name="release[]" value="<%= album.id %>" <%= params[:release].include?(album.id.to_s) ? "checked" : "" if params[:release] %>> <%= truncate(display_name(album), :length => 26) %></label></li>
                  <% end %>
                </ul>
              <% end %>

              <% unless @albums.empty? %>
                <span class="toggle-select"><%= custom_t(:albums) %> &mdash; <a href="#" class="select_all"><%= custom_t(:select_all) %></a> | <a href="#" class="deselect_all"><%= custom_t(:select_all) %></a></span>
                <ul class="release-list">
                  <% @albums.each do |album| %>
                    <li><label title="<%= display_name(album) %>"><input type="checkbox" name="release[]" value="<%= album.id %>" <%= params[:release].include?(album.id.to_s) ? "checked" : "" if params[:release] %>> <%= truncate(display_name(album), :length => 26) %></label></li>
                  <% end %>
                </ul>
              <% end %>

              <% unless @ringtones.empty? %>
                <span class="toggle-select"><%= custom_t(:ringtones_global) %> &mdash; <a href="#" class="select_all"><%= custom_t(:select_all) %></a> | <a href="#" class="deselect_all"><%= custom_t(:deselect_all) %></a></span>
                <ul class="release-list">
                  <% @ringtones.each do |album| %>
                    <li><label title="<%= display_name(album) %>"><input type="checkbox" name="release[]" value="<%= album.id %>" <%= params[:release].include?(album.id.to_s) ? "checked" : "" if params[:release] %>> <%= truncate(display_name(album), :length => 26) %></label></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
          <fieldset class="filter-buttons">
            <input type="submit" name="submit" class="button-callout-alt" value="<%= custom_t(:apply) %>">
            <input type="reset" name="reset" class="button-interface" value="<%= custom_t(:reset) %>">
          </fieldset>
        <% end %>
      </section>

      <div class="notify notify_warn notify_sidebar"><p><%= custom_t(".notify_sidebar") %></p></div>
    </div>

    <section class="compositions nine columns">
      <header>
        <a href="<%= compositions_path %>" class="go_back button-interface"><%= custom_t(".go_back") %></a>
        <input type="submit" name="submit" class="submit_splits button-callout-alt" value="<%= custom_t(".submit_splits") %>">
      </header>
      <section class="compositions-table">
        <header class="table-search">
          <form action="<%= paginate_publishing_splits_path %>" class="search_form">
            <% if params[:release] %>
              <% params[:release].each do |release| %>
                <%= hidden_field_tag "release[]", release %>
              <% end %>
            <% end %>
            <%= hidden_field_tag :per_page, params[:per_page] if params[:per_page] %>
            <label for="search"><%= custom_t(".search_within") %></label> <input type="search" id="search" name="search" size="75" value="<%= params[:search] %>">
            <a href="#" class="clear_btn button-interface"><%= custom_t(:clear) %></a>
            <input type="submit" name="submit" class="button-callout-alt" id="search_btn" value="<%= custom_t(:search) %>">
          </form>
        </header>
        <div class="table-container">
          <%= render :partial => "missing_splits", :locals => { :missing_splits_paginated => @missing_splits } %>
        </div>
      </section>
      <footer>
        <a href="<%= compositions_path %>" class="go_back button-interface"><%= custom_t(:go_back) %></a>
        <input type="submit" name="submit" class="submit_splits button-callout-alt" value="<%= custom_t(".submit_splits") %>">
      </footer>
    </section>
  </div>
</div>
