<div class="balance-history-table-filter__form__header">
  <div class="balance-history-table-filter__form__header--title">
    <%= custom_t('.filter_completed_transactions') %>
  </div>
  <div id="balance_history_table_filter_cancel_button"
    class="align-right balance-history-table-filter__form__cancel"></div>
</div>
<%= simple_form_for :filter_transactions,
                    remote: true,
                    url: filter_balance_histories_path,
                    html: {
                      class: "balance-history-table-filter__form",
                    },
                    method: :get do |f| %>
  <div class="balance-history-table-filter__form__date-range">
    <%= content_tag :h6, custom_t(".date_range"),
      class: "balance-history-table-filter__form__date-range__header" %>
    <%= render "balance_histories/filters/date_input", date: :start_date, f: f %>
    <%= render "balance_histories/filters/date_input", date: :end_date, f: f %>
  </div>

  <div class="balance-history-table-filter__form__transaction-types">

    <div class="balance-history-table-filter__form__transaction-types__label">
      <%= custom_t(".transaction_types") %>
    </div>

    <%= render "balance_histories/filters/selection_buttons" %>

    <%= f.input :transaction_types,
                collection: filter_options,
                value_method: :first,
                label_method: :last,
                as: :check_boxes,
                label: false,
                wrapper_html: {
                  class: "balance-history-table-filter__form__transaction-types__container"
                },
                input_html: {
                  class: "balance-history-table-filter__form__transaction-types__input"
                },
                item_wrapper_class: "balance-history-table-filter__form__transaction-types__option" %>
  </div>

  <%= f.submit custom_t(".apply_filters"), class: "balance-history-table-filter__form__action" %>
<% end %>
