<div class="balance-history-container">
  <%= render "balance_histories/balance_summary/row",
    tunecore_balance: @balance_history_presenter.person_balance,
    pending_balance: @balance_history_presenter.pending_txn_balance %>

  <%= render "balance_histories/pending_transactions/table",
    table_key: :pending_transactions,
    transaction_set: @balance_history_presenter.pending_transactions %>

  <%= render "balance_histories/transaction_history/table",
    on_last_page: @balance_history_presenter.on_last_page?,
    table_key: :transaction_history,
    transaction_set: @balance_history_presenter.transactions %>
</div>
