(function() {
  jQuery("#balance_histories_transaction_table").append(
    "<%=j render partial: "balance_histories/transaction_history/row",
               collection: @balance_history_presenter.transaction_history,
               cached: fragment_caching_enabled?,
               as: :transaction %>"
);

  var $page = jQuery("#person_transaction_page_form_page");
  $page.val(parseInt($page.val()) + 1);

  if (<%= @balance_history_presenter.on_last_page? %>) {
    jQuery("#load_more_button").remove();
  }
})();
