<% if targeted_offer.status != 'Active' -%>
  <div class="subsection">
    <h2>4. Activate Offer</h2>
    <fieldset class="small">
      <ul>
          <%= form_for(targeted_offer, :url => {:controller => "admin/targeted_offers", :action => "activate", :id => targeted_offer.id}) do |f| -%>
            <%= f.submit("Activate Offer", :id => "activate") %>
          <% end -%>
      </ul>
    </fieldset>
  </div>
<% end -%>

<% if targeted_offer.status == 'Active' -%>
  <div class="subsection">
    <h2>Deactivate Offer</h2>
    <fieldset class="small">
      <ul>
        <%= form_for(targeted_offer, :url => {:controller => "admin/targeted_offers", :action => "deactivate", :id => targeted_offer.id}) do |f| -%>
          <%= f.submit("Deactivate Offer", :id => "deactivate") %>
          <li><span class="note">Note:</span> Once deactivated, this offer will no longer be available to customers.</li>
        <% end -%>
      </ul>
    </fieldset>
  </div>
<% end -%>
