<%= form.text_field(
  :name,
  label: "Offer Name",
  required:  true,
  contextual_help: "For your reference only."
) %>

<%= country_select(form) %>

<%= form.select(
  :offer_type,
  offer_type_select,
  label: "Offer Type",
  required: true
) %>

<%= form.text_field(
  :join_token,
  {
    label: "URL Token",
    li_class: "#{'hidden' if !@targeted_offer.offer_type_new?}",
    disabled: !@targeted_offer.new?,
    max_length: 10,
    contextual_help: "Insert the 'URL Token' into links you provide to customers (e.g. jt=owlcity). Once a customer signs up, they will automatically be placed into the targeted offer. NOTE: If you don't provide a token, a random token will be generated."
  }
) %>

<%= form.text_field(
  :population_cap,
  {
    label: "Population Cap",
    li_class: "#{'hidden' if !@targeted_offer.offer_type_new?}",
    maxlength: 10,
    contextual_help: "The population cap allows you to set how many customers you want in this offer. For example: Set the population cap to 50 and only the first 50 customers will receive the offer."
  }
) %>

<%= form.select(
  :product_show_type,
  TargetedOffer::PRODUCT_SHOW_TYPES,
  label: "Product Display Type"
) %>

<%= form.select(
  :date_constraint,
  TargetedOffer::DATE_CONSTRAINT_TYPES,
  label: "Customer Expiration Type"
) %>

<%= form.text_field(
  :join_plus_duration,
  label: "Number of days after join",
  maxlength: 4,
  li_class: "#{'hidden' if !@targeted_offer.join_plus?}",
  contextual_help: "This setting creates an expiration date that is related to the customer's join date.  If you want to offer a customer a set of prices for their first 30 days, set this to 30."
) %>

<%= form.text_field(
  :start_date,
  {
    label: 'Offer Start Date',
    value: @targeted_offer.start_date.strftime('%m/%d/%Y'),
    class: "date-box short",
    contextual_help: "This offer, regardless of the customer expiration type, will only be available to customers if the date they join is between the start and expiration dates."
  }
) %>

<%= form.text_field(
  :expiration_date,
  {
    label: 'Expiration Date',
    value: @targeted_offer.expiration_date.strftime('%m/%d/%Y'),
    class: "date-box short",
    contextual_help: "This offer, regardless of the customer expiration type, will only be available to customers if the date they join is between the start and expiration dates."
  }
) %>

<%= form.check_box(
  :usage_limit,
  {
    left_label: true,
    class: "left-label-checkbox",
    label: 'Single Use?',
    note: "If checked, a customer will only be able to use this offer once. They will then see the default offered products and advertisements."
  }
)%>

<%= form.check_box(
  :include_sidebar_cms,
  {
    left_label: true,
    class: "left-label-checkbox",
    label: "Include Sidebar Content",
  }
)%>


<%= form.hidden_field(:created_by_id) %>
<%= form.hidden_field(:status) %>
