<section class="grid_16 alpha omega">
  <h2>New Targeted Offers (<%= link_to("Add Targeted Offer", new_admin_targeted_offer_path) %>)</h2>
  <%= render(:partial => "targeted_offers", :locals => {:targeted_offers => @targeted_offers.select{|to| to.status == 'New'}}) %>
  
  <h2 style="margin-top: 40px;">Active Targeted Offers</h2>
  <%= render(:partial => "targeted_offers", :locals => {:targeted_offers => @targeted_offers.select{|to| to.status == 'Active'}}) %>
  
  <h2 style="margin-top: 40px;">Inactive Targeted Offers</h2>
  <%= render(:partial => "targeted_offers", :locals => {:targeted_offers => @targeted_offers.select{|to| to.status == 'Inactive'}}) %>
</section>
