<%= render partial: "/admin/shared/searchbox" %>
<%= render partial: "admin/people/mini_person", locals: { person: @person } %>
<section class="grid_16 alpha omega">
  <div style="clear:both;">
    <% if !@targeted_people.empty? -%>
      <h2>Targeted Offer History</h2>
      <%= render(:partial => "targeted_offers_for_person", :locals => {:targeted_people => @targeted_people}) %>
    <% else -%>
      <h2><%= @person.name %> has not been a part of any targeted offers.</h2>
    <% end -%>
  </div>
</section>


