<div class="subsection">
  <h2>1. Select Products</h2>
  <% if targeted_offer.status == "Active" %>
    <span class="note">You must deactivate the offer to add or remove targeted products.</span>
  <% end %>
  <% if targeted_offer.status != "Active" %>
    <%= link_to("Add Product", new_admin_targeted_offer_targeted_product_path(targeted_offer, :minHeight => 580), :class => 'lightbox')%>
  <% end %>
  
  <% if targeted_products.empty? -%>
    <div class="rounded-container item-container">
      <div class="item">
        <p><strong>No Products have been selected for this Targeted Offer.</strong>
        <%= link_to("Add a Product", new_admin_targeted_offer_targeted_product_path(targeted_offer), :class => 'lightbox')%></p>
      </div>
    </div>
  <% else -%>
    <div class="rounded-container item-container">
      <%= render(:partial => "targeted_product", :collection => targeted_products, :locals => {:targeted_offer => targeted_offer})%>
      <div class="item odd">
        <div class="grid_15">
          <strong><span class="note">Note: </span>
          Finish adding all products before selecting the targeted population. The products you select for this offer impacts who can be added to the offer.</strong>
        </div>
      </div>
    </div>
  <% end -%>
</div>