<div class="item <%= cycle('', 'odd')%>">
  <div class="grid_2">
    Order:
    <% if targeted_product.nil? || targeted_product.sort_order == 0 -%>
      <%= targeted_product.product.sort_order %>
    <% else -%>
      <%= targeted_product.sort_order %>
    <% end -%><br />
    <span class="note"><%= targeted_product.product.applies_to_product %></span><br />

    <%= link_to("Edit", edit_admin_targeted_offer_targeted_product_path(targeted_offer, targeted_product) , :class => "lightbox")%>
    <% if targeted_offer.status != "Active" %>
      | <%= link_to("Remove", admin_targeted_offer_targeted_product_path(targeted_offer, targeted_product), :method => "delete") %>
    <% end %>

  </div>
  <div class="grid_5">
    <strong><%= h(targeted_product.product.name) %> (ID: <%= targeted_product.product_id %>)</strong><br />
    Display Name: <%= h(targeted_product.product.display_name_safely_translated) %><br />
    Product Type: <%= targeted_product.product.product_type %><br />
    <% if targeted_product.targeted_product_stores.present? %>
      Salepoints: <%= targeted_product.targeted_product_stores.map(&:store).map(&:name).join(', ')  %>
    <% end %>
  </div>
  <div class="grid_4" style="float:left; text-align: left;">
    <strong> New Price: <%= money_to_currency(targeted_product.product.adjusted_price.to_money(targeted_product.product.currency), iso_code: targeted_product.product.country_website.country) %></strong><br />
    Adjustment: <%= price_adjustment_text(targeted_product) %><br />
    Original/Base Price: <%= money_to_currency(targeted_product.product.base_price.to_money(targeted_product.product.currency), iso_code: targeted_product.product.country_website.country) %>
  </div>
  <div class="grid_4" style="float:right; text-align: left;">
    Description: <%= h(targeted_product.price_adjustment_description) %><br />
    Flag Text: <%= h(targeted_product.product.flag_text_safely_translated) %><br />
    Show Expiration: <%= targeted_product.show_expiration_date?.to_s.capitalize! %>
  </div>
</div>
