<div class="subsection">
  <h2>2. Select Advertisements</h2>
  <%= link_to("Select Existing Ad", new_admin_targeted_offer_targeted_advertisement_path(targeted_offer, :minHeight=>250), :class => 'lightbox')%>
  |  <%= link_to("Create New Ad", url_for(:controller=>"admin/advertisements", :action => "new", :targeted_offer_id => targeted_offer.id, :minHeight=>580), :class => 'lightbox') %>
  |  <%= link_to("Manage All Ads", admin_advertisements_path) %>
  <div class="rounded-container item-container">
    <% if !targeted_advertisements.blank? -%>
      <%= render(:partial => "targeted_advertisement", :collection => targeted_advertisements, :locals => {:targeted_offer => targeted_offer}) %>
    <% else -%>
      <div class="item">
        <p>
          <strong>No Ads have been selected/created for this Targeted Offer. </strong>
          <%= link_to("Select Existing Ad", new_admin_targeted_offer_targeted_advertisement_path(targeted_offer, :minHeight=>580), :class => 'lightbox')%>
          | <%= link_to("Create New Ad", url_for(:controller=>"admin/advertisements", :action => "new", :targeted_offer_id => targeted_offer.id, :minHeight=>580), :class => 'lightbox', :minHeight=>580) %>
        </p>
      </div>
    <% end -%>
  </div>
</div>