<table>
  <thead>
    <th>Offer ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>Type</th>
    <th>Expires On</th>
    <th>Used</th>
    <th>Usage Count</th>
    <th></th>
  </thead>
  <tbody>
    <% targeted_people.each do |tp| -%>
      <tr class="<%= cycle('odd', 'even')%>" id="targeted_person_<%= tp.id %>">
        <td><%= tp.targeted_offer_id %></td>
        <td><%= tp.targeted_offer.name %></td>
        <td><%= tp.targeted_offer.status %></td>
        <td><%= tp.targeted_offer.offer_type.humanize %> Customers</td>
        <td><%= fmt_long_date(tp.targeted_offer.expiration_date_for_person(@person)) %></td>
        <% tp_used = tp.has_used? %>
        <td><%= tp_used ? "Yes" : "No" %>
        <td><%= tp.usage_count %>
        <td>
            <%= link_to("Price List", price_list_admin_targeted_offer_path(tp.targeted_offer, :minHeight => 600), :class => "lightbox") %>

            <% if !tp_used && current_user.has_role?('Targeted Offers') %>
              <%= link_to( "Remove", remove_person_admin_targeted_offer_path(:id=>tp.targeted_offer_id, :remove_person_id=>tp.person_id),
                     :class=>"remove_targeted_person",
                     :rel=>"nofollow",
                     :remote=>true,
                     :method=>:delete ) %>

              <%= image_tag("/images/spinner_small.gif", :id=>"ajax_loader_#{tp.id}", :style=>"display: none") %>
            <% end %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<% content_for :external_javascript do %>

  <script type="text/javascript">
    jQuery(function(){
      jQuery(".remove_targeted_person").live("ajax:success", function(event, data, status, xhr){
        jQuery(event.currentTarget).closest("tr").remove();
      })
      .live("ajax:beforeSend", function(xhr, settings){
        jQuery(xhr.currentTarget).next("img").show();
        jQuery(xhr.currentTarget).hide();
      })
      .live("ajax:error", function(xhr, status, error){
        jQuery(xhr.currentTarget).show();
      })
      .live("ajax:complete", function(xhr, status){
        jQuery(xhr.currentTarget).next("img").hide();
      });
    });
  </script>

<% end %>
