<table>
  <thead>
    <th>Offer ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>Type</th>
    <th>Expiration Type</th>
    <th>Starts</th>
    <th>Ends</th>
  </thead>
  <tbody>
    <% targeted_offers.each do |targeted_offer| -%>
      <tr class="<%= cycle('odd', 'even')%>">
        <td><%= targeted_offer.id %></td>
        <td style="text-align: left;"><%= link_to(targeted_offer.name, admin_targeted_offer_path(targeted_offer)) %></td>
        <td><%= targeted_offer.status %></td>
        <td><%= targeted_offer.offer_type.humanize %> Customers</td>
        <td><%= targeted_offer.date_constraint.capitalize! %></td>
        <td><%= fmt_long_date(targeted_offer.start_date) %></td>
        <td><%= fmt_long_date(targeted_offer.expiration_date) %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
