<%= render(:partial => "admin/advertisements/ad_details", :locals => {:ad => targeted_advertisement.advertisement, :targeted_offer => targeted_offer, :targeted_advertisement => targeted_advertisement, :is_targeted => true}) %>