<div class="subsection">
  <h2>Targeted Offer: <%= targeted_offer.name %> -- <%= targeted_offer.status %></h2>
  <%= link_to("Back to Targeted Offers", admin_targeted_offers_path) %> | <%= link_to("Clone Targeted Offer", clone_admin_targeted_offer_path(targeted_offer)) %> |

  <% if targeted_offer.can_destroy? %>
    <%= link_to("Destroy Targeted Offer", admin_targeted_offer_path(targeted_offer), :method=>"delete" ) %>
  <% else %>
    <a href="javascript:void(0)" onclick="return false;" title="Cannot delete targeted offers that are active and/or have been used">Destroy Targeted Offer</a>
  <% end %>
  <div class="rounded-container item-container" style="overflow:hidden; clear:both;">
    <div class="grid_5 item">
      <ul>
        <li><strong>Offer Name:</strong> <%= targeted_offer.name %></li>
        <li><strong>Type:</strong> <%= targeted_offer.offer_type.humanize %></li>
        <% if targeted_offer.offer_type_new? -%>
          <li><strong>URL Token:</strong> <%= targeted_offer.join_token %><br />(use <i>jt=<%= targeted_offer.join_token %></i> in the url)</li>
        <% end -%>
        <li><strong>Product Display Type:</strong> <%= TargetedOffer::PRODUCT_SHOW_TYPES.select{|s| s[1] == targeted_offer.product_show_type}.first[0] %></li>
        <li><strong>Sidebar CMS: </strong><%= targeted_offer.cms_page_title %></li>
        <li><%= link_to("Edit", edit_admin_targeted_offer_path(targeted_offer))%></li>
      </ul>
    </div>
    <div class="grid_5" style="float:left;">
      <ul>
        <li>
          <strong>Expiration Type:</strong> <%= TargetedOffer::DATE_CONSTRAINT_TYPES.select{|s| s[1] == targeted_offer.date_constraint}.first[0] %>
          <%= "(Expires #{targeted_offer.join_plus_duration} days after joining)" if targeted_offer.join_plus? %>
        </li>
        <li><strong>Start Date: </strong><%= fmt_long_date(targeted_offer.start_date) %></li>
        <li><strong>Expiration Date: </strong><%= fmt_long_date(targeted_offer.expiration_date) %></li>
        <li><strong>Single Use?: </strong><%= targeted_offer.single_use? ? "Yes" : "No" %>
        <li><strong>Population Cap: </strong><%= targeted_offer.population_cap %></li>
        <li><strong>Created By: </strong><%= targeted_offer.created_by.name %></li>
      </ul>
    </div>
    <div class="grid_5" style="float:left;">
      <ul>
        <li><strong>Delayed Job:</strong> <%= targeted_offer.job_status.blank? ? "Idle" : targeted_offer.job_status.capitalize  %></li>
      </ul>
    </div>
  </div>

</div>
