<% if @new_targeted_person and !@new_targeted_person.valid? %>
  <% content_for :model_errors do %>
    <%= error_messages_for(@new_targeted_person) %>
  <% end %>
<% end %>

<div class="subsection">
  <h2>3. Set Population Settings</h2>
  <% if !targeted_offer.active? -%>
    <%= link_to("Edit Population Settings", {
      controller: "admin/targeted_offers",
      action: "edit_population_settings",
      id: targeted_offer.id
    }) %>

  <% else -%>
    <span class="note">To edit the population settings for this offer, you must first deactivate the offer. Changing the population settings will completely clear the previous customers from this offer.</span>
  <% end -%>

  <span><%= link_to "Download current targeted people csv", targeted_people_admin_targeted_offer_path(@targeted_offer, :format=>"csv") %></span>

  <br/>
  <span class="note">CSV upload format: Any number in the first column of the csv will be interpreted as a person id and the operation will be attempted for that person id.  Any other columns can be used with other data to help keep note of who the person id belongs to.</span>

  <fieldset class="small">
    <% if targeted_offer.offer_type_new? -%>
      <div class="item">
        <div class="grid_14">
          <strong>Population Cap: </strong><%= number_with_delimiter(targeted_offer.population_cap) %><br />
          <strong>Current Customers in Offer: </strong><%= number_with_delimiter(targeted_offer.targeted_population_count) %>
        </div>
      </div>
    <% else -%>
        <div class="grid_6">
          <strong>Population Criteria</strong><br />
          <% if targeted_offer.population_criteria_ready? %>

            <div class="grid_3 omega">
              <strong>Join Date From: </strong>
            </div>
            <div class="grid_3 omega">
              <%= fmt_long_date(targeted_offer.created_on_start) %>
            </div>

            <div class="grid_3 omega">
              <strong>Join Date To: </strong>
            </div>
            <div class="grid_3 omega">
              <%= fmt_long_date(targeted_offer.created_on_end) %>
            </div>

            <div class="grid_3 omega">
              <strong>Country: </strong>
            </div>
            <div class="grid_3 omega">
              <%= targeted_offer.country.blank? ? "None" : targeted_offer.country %>
            </div>

            <div class="grid_3 omega">
              <strong>Referral: </strong>
            </div>
            <div class="grid_3 omega">
              <%= targeted_offer.referral.blank? ? "All" : targeted_offer.referral %>
            </div>

            <div class="grid_3 omega">
              <strong>Zip Code: </strong>
            </div>
            <div class="grid_3 omega">
              <%= targeted_offer.zip.blank? ? "None" : targeted_offer.zip %>
            </div>

            <div class="grid_3 omega">
              <strong>Purchase History: </strong>
            </div>
            <div class="grid_3 omega">
              <%= targeted_offer.purchase_criteria_type.blank? ? "None" : targeted_offer.purchase_criteria_type.humanize  %><br />
            </div>

            <div class="grid_3 omega">
              <strong>Last Purchase From: </strong>
            </div>
            <div class="grid_3 omega">
              <%= fmt_long_date(targeted_offer.last_purchase_made_start) %>
            </div>

            <div class="grid_3 omega">
              <strong>Last Purchase To: </strong>
            </div>
            <div class="grid_3 omega">
              <%= fmt_long_date(targeted_offer.last_purchase_made_end) %>
            </div>

            <div class="grid_3 omega">
              <Strong>Excluded Offers:</strong>
            </div>
            <div class="grid_3 omega">
              <% targeted_offer.exclude_targeted_offers %>
            </div>
          <% else -%>
            <strong>No criteria have been selected.</strong>
          <% end -%>
          <hr style="margin-bottom:10px;"/>
          <div class="grid_6 omega">
            <strong>Customers meeting Criteria: </strong> <%= number_with_delimiter(targeted_offer.population_criteria_count) %><br />
            <strong>Current Customers in Offer: </strong><%= number_with_delimiter(targeted_offer.targeted_population_count) %>
          </div>

        </div>
        <div class="grid_9">

          <% if targeted_offer.status != 'Active' %>
            <%= form_tag build_population_admin_targeted_offer_path(targeted_offer), :method=>:post do %>
              <%= hidden_field_tag "rebuild", "1" %>
              <label for="customers_to_add">Customers to rebuild this Offer with from Population Settings (Available Customers: <%= "#{number_with_delimiter(targeted_offer.population_criteria_count)}" %>)</label>
              <%= text_field_tag "customers_to_add", params[:customers_to_add] %>
              <%= submit_tag "Rebuild" %>

            <% end %>

            <%= form_tag build_population_admin_targeted_offer_path(targeted_offer), :method=>:post do %>

              <label for="customers_to_add">Customers to Add to this Offer from Population Settings (Available Customers: <%= "#{number_with_delimiter(((targeted_offer.population_criteria_count || 0) < (targeted_offer.targeted_population_count|| 0)) ? 0 : ((targeted_offer.population_criteria_count || 0) - (targeted_offer.targeted_population_count|| 0)))}" %>)</label>
              <%= text_field_tag "customers_to_add", params[:customers_to_add] %>
              <%= submit_tag "Add" %>
            <% end %>
          <% else %>

            Must Deactivate this offer to use the population builder.

          <% end %>

        </div>
      </div>
    <% end -%>
  </fieldset>

  <fieldset class="small">
    <br/>
    <div class="grid_15">
      <%= form_tag add_person_admin_targeted_offer_path(@targeted_offer), :method=>:post do %>
        <div class="grid_3 text_align_right">
          <label for="add_person_id">Add person by id:</label>
        </div>
        <div class="grid_6">
          <%= text_field_tag "add_person_id", params[:add_person_id] %>
        </div>
        <div class="grid_3">
          <%= submit_tag "Add" %>
        </div>
      <% end %>
    </div>

    <div class="grid_15">
      <%= form_tag  remove_person_admin_targeted_offer_path(@targeted_offer), :method=>:delete do %>
        <div class="grid_3 text_align_right">
          <label for="remove_person_id">Remove person by id:</label>
        </div>
        <div class="grid_6">
          <%= text_field_tag "remove_person_id", params[:remove_person_id] %>
        </div>
        <div class="grid_3">
          <%= submit_tag "Remove" %>
        </div>
      <% end %>
    </div>

    <div class="grid_15">
      <%= form_tag add_people_admin_targeted_offer_path(@targeted_offer), :multipart=>true do %>
        <div class="grid_3 text_align_right">
          <label for="add_people_csv">Add People by csv:</label>
        </div>
        <div class="grid_3">
          <%= file_field_tag "add_people_csv" %>
        </div>
        <div class="grid_3">
          <%= submit_tag "Add people" %>
        </div>
      <% end %>
    </div>

    <div class="grid_15">
      <%= form_tag remove_people_admin_targeted_offer_path(@targeted_offer), :method=>:delete, :multipart=>true do %>
        <div class="grid_3 text_align_right">
          <label for="remove_people_csv">Remove people by csv:</label>
        </div>
        <div class="grid_3">
          <%= file_field_tag "remove_people_csv" %>
        </div>
        <div class="grid_3">
          <%= submit_tag "Remove People" %>
        </div>
      <% end %>
    </div>
  </fieldset>

</div>
