<% content_for :external_javascript do -%>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <%= javascript_include_tag "/javascripts/app/admin_targeted_offers" %>
<% end -%>

<section class="grid_16 alpha omega">
  <h2>Editing Targeted Offer: <%= @targeted_offer.name %></h2>
  <fieldset id="update-targeted-offer" class='grid_16 alpha omega no-float-label'>
    <ul class="clearfix">
      <%= form_for(@targeted_offer, :url => admin_targeted_offer_path(@targeted_offer)) do |f| -%>
        <%= render(:partial => "fields", :locals => {:form => f, :targeted_offer => @targeted_offer}) %>
        <%= f.submit("Update", { :class=>"submit", :id => "update-offer-submit"} ) %>
      <% end -%>
    </ul>
  </fieldset>
</section>
