<% content_for :external_javascript do -%>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <%= javascript_include_tag "/javascripts/app/admin_targeted_offers" %>
<% end -%>

<section>
  <h2><%= h(@targeted_offer.name) %>: Edit Population Settings</h2>
  <fieldset>
    <%= form_for(@targeted_offer, :url => {:controller => "admin/targeted_offers", :action => "update_population_settings", :id => @targeted_offer.id}) do |f| -%>
      <% if @targeted_offer.offer_type_new? -%>
        <ul>
          <%= f.text_field(:population_cap, :label => "Population Cap (Leave blank for No Cap)") %>
          <%= f.submit("Save Settings") %>
        </ul>
      <% else -%>
          <ul>
            <%= f.select(:country, country_dropdown_for_website(1, :iso_code, :name, true), :label => "#{custom_t(:country_display)}") %>
            <%= f.text_field(:zip, :label => "Zip Code", :class => "short") -%>
            <%= f.text_field(:created_on_start, :class => "date-box short", :label => "Join Date From") %>
            <%= f.text_field(:created_on_end, :class => "date-box short", :label => "Join Date To") %>
            <%= f.select(:referral, @referral_list, :label => "Referral") %>
            <%= f.select(:purchase_criteria_type, [["Has Never Made a Purchase","never_made"],["Has Made a Purchase","has_made"],["Last Purchase Between Dates Selected", "date_range"],["Not Applicable","n/a"]], :label => "Purchase History") %>
            <%= f.text_field(:last_purchase_made_start, :class => "date-box short", :label => "Last Purchase Date From") %>
            <%= f.text_field(:last_purchase_made_end, :class => "date-box short", :label => "Last Purchase Date To") %>
            <%= f.select(:exclude_targeted_offer_ids, (TargetedOffer.all - [@targeted_offer]).collect{|offer| ["#{offer.id} - #{offer.name}",offer.id]}, {:label=>"Exclude Targeted Offers"}, {:multiple=>true} ) %>
            <%= f.submit("Save Settings", :id => "save") %>
          </ul>
      <% end -%>
    <% end -%>
  </fieldset>
</section>
