<% content_for :external_javascript do -%>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <%= javascript_include_tag "/javascripts/app/admin_targeted_offers" %>
<% end -%>

<section class="grid_16 alpha omega">
  <h2>New Targeted Offer</h2>
  <fieldset id="create-targeted-offer" class='grid_16 alpha omega no-float-label'>
    <legend>Enter the starting details for this Targeted Offer</legend>
    <ul class="clearfix">
      <%= form_for(@targeted_offer, :url => admin_targeted_offers_path) do |f| -%>
        <%= render(:partial => "fields", :locals => {:form => f, :targeted_offer => @targeted_offer})%>
        <%= f.hidden_field(:created_by_id) %>
        <%= f.hidden_field(:status) %>
        <%= f.submit("Create Offer", { :class=>"submit", :id => "create-offer-submit"} )%>
      <% end -%>
    </ul>
  </fieldset>
</section>
