<section class="grid_11">
  <h2>Product Prices for Offer <%= @targeted_offer.name %></h2>
  <table>
    <thead>
      <th>ID</th>
      <th>Applies To</th>
      <th>Display Name</th>
      <th>Product Type</th>
      <th>Product Status</th>
      <th>Original Price</th>
      <th>Offer Price</th>
    </thead>
    <tbody>
      <% @products.each do |product| -%>
        <tr class="<%= cycle('odd', 'even')%>">
          <td><%= product.id %></td>
          <td><%= product.applies_to_product %></td>
          <td><%= product.display_name_safely_translated %></td>
          <td><%= product.product_type %></td>
          <td><%= product.status %></td>
          <td><%= number_to_currency(product.original_price, unit: '$') %></td>
          <td>
            <% if product.adjusted_price? -%>
              <%= number_to_currency(product.adjusted_price, unit: '$') %>
            <% else -%>
              --
            <% end -%>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</section>
