<%= render(:partial => "targeted_offer_info",       :locals => {:targeted_offer => @targeted_offer}) %>
<%= render(:partial => "targeted_products",         :locals => {:targeted_offer => @targeted_offer, :targeted_products => @targeted_products}) %>
<%= render(:partial => "targeted_advertisements",   :locals => {:targeted_offer => @targeted_offer, :targeted_advertisements => @targeted_advertisements}) %>
<%= render(:partial => "targeted_population",       :locals => {:targeted_offer => @targeted_offer}) %>
<%= render(:partial => "activate",                  :locals => {:targeted_offer => @targeted_offer}) %>
