<div class="dcomb-album <%= cycle('odd', 'even', :name=>'album_cycle') %>">
  <div>
    <%= image_tag(artwork_400x400(album), {:id => display_name(album), :alt => display_name(album) + " Cover"})%>
  </div>
  <ul class="album-details">
    <li class="album"><h5><%= h display_name(album)%></h5></li>
    <li class="genre"><%= album.genres.map {|genre| genre.name}.join(', ') %></li>
    <li class="artist"><%= h album.artist_name%></li>
    <li class="release"><%= fmt_country_date(album.sale_date)%></li>
    <li><%= ItunesLinkinator.itunes_raw_link(album) %></li>
  </ul>
  <% if album.liner_notes %><div style="border: 0px; width: 446px; padding-left: 5px; height: auto; padding-bottom: 20px;"><strong><%= custom_t(".liner_notes") %></strong> <%= album.liner_notes %></div><% end %>
  <ol class="album-songs">
    <%= render(:partial => 'my_band/song', :locals => {:album => album})%>
  </ol>
</div>
