<style type="text/css">
.album-details{
    float: left;
    margin-left: 10px !IMPORTANT;
    width: 450px;
}

.album-details li{
    float: left;
    clear: both;
}
</style>
<section class="grid_11" id="band-page">
  <header>
    <h1><%= custom_t(".artist_profile") %></h1>
  </header>

  <% if @band_photo.nil? -%>
    <%= image_tag('/version/shared/images/dcomb/nophoto.png', :id => 'band-photo', :alt => 'band-photo')%>
  <% end %>
  <div id="albums" class="accented">
    <% @albums.each do |album| -%>
      <%= render :partial => "album", :locals => {:album => album} -%>
    <% end %>
  </div>
</section>
