<h2>Admin :: Landr Tracks for <%= @person.name %></h2>

<table class="default-table">
  <tr>
    <%= th_order_by 'Filename', 'name', @order %>
    <%= th_order_by 'Purchase Date', 'paid_at', @order %>
    <%= th_order_by 'Status', 'status', @order %>
    <th>Mark as Refunded</th>
  </tr>
  <% @mastered_tracks.each do |track| %>
    <tr>
      <td><%= track.name %></td>
      <td><%= track.paid_at.strftime("%B %d, %Y") %></td>
      <td>
        <% if track.refunded_at? %>
          Refunded - <%= track.refunded_at.strftime("%B %d, %Y") %>
        <% elsif track.download_link? %>
          <%= link_to("Download", track.download_link, target: "_blank") %>
        <% else %>
          Pending
        <% end %>
      </td>
      <td>
        <% if track.refunded_at? %>
          <%= link_to "Unmark Refund", unmark_refund_admin_person_mastered_track_path(@person, track), method: :put %>
        <% else %>
          <%= link_to "Mark as Refunded", mark_as_refunded_admin_person_mastered_track_path(@person, track), method: :put %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>