@import "base";

.row a {
  text-decoration: none;
}

a.edit-btn:hover,
a.edit-btn:focus {
  color: var(--plan-color-1);
}

.tabHeader {
    border-bottom: 1px solid var(--dm-border-color);

  nav a {
    background-color: var(--dm-accent-color-2);
    color: var(--dm-primary-font-color);
    border: 1px solid var(--dm-border-color);
  }

  nav a.active {
    background-color: var(--dm-bg-color);
    color: var(--dm-primary-font-color);
    border-top: 1px solid var(--dm-border-color);
    border: 1px solid var(--dm-border-color);
    border-bottom-color: var(--dm-bg-color);
  }
}

.note_alert {
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: var(--dm-accent-color-1);
  border: 1px solid var(--dm-accent-color-2);
  padding: 10px;
}

.item-container .item,
#paypalContainer .item,
.plan_renewal_card {
  background-color: var(--dm-accent-color-1);
}

.box {
  background-color: var(--dm-accent-color-2);
  border: 1px solid var(--dm-accent-color-2);
}

.blue-btn,
.blue-button,
.button-callout-alt,
form input[type="submit"],
.payoneer-signup-banner a {
  @include dm-gradient-btn;
}

.tabSection form label,
.tabSection form .label {
  float: none;
  color: var(--dm-primary-font-color);
  width: auto;
}

.included {
  background-color: var(--dm-accent-color-2);
  color: var(--dm-primary-font-color);
}

.included>h3 {
  background-color: var(--dm-accent-color-1);
  color: var(--dm-primary-font-color);
}

.clearfix,
.included>ul {
  color: var(--dm-primary-font-color);
}


#account_settings {
  .row-item {
    border: 1px solid var(--dm-border-color);
    border-top: none;
  }

  .row-item:first-of-type {
    border-top: 1px solid var(--dm-border-color);
  }

  .row-item .section { 
    .cancel-btn {
      @include dm-secondary-btn;
      &:hover,
      &:active,
      &:focus {
          background-color: transparent;
          border: 2px solid var(--plan-color-1);
          color: var(--dm-white-color);
        }
    }
  }

  .row-item .section.two-factor-auth-info {
    padding: 10px;
    background-color: var(--dm-accent-color-2);
  }

  .row-item .section ul li label {
       color: var(--dm-primary-font-color)
  }

  form input[type="submit"]:hover,
  .payoneer-signup-banner a:hover,
  .row-item .section ul li .save-button:active,
  .row-item .section ul li .save-button:focus,
  .row-item .section ul li .save-button:hover {
    background: linear-gradient(to bottom right,
        var(--plan-color-1),
        var(--plan-color-2));
    filter: brightness(1.1);
  }
}

.gray-button {
  @include dm-secondary-btn;
  padding: 10px 20px;
  margin-left: 10px;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border: 2px solid var(--plan-color-1);
      color: var(--dm-white-color);
  }
}

.blue-btn:hover,
.blue-btn:focus,
.blue-btn:active,
.blue-button:hover,
.blue-button:active,
.blue-button:focus {
  border: none;
  filter: brightness(1.1);
  color: var(--dm-white-color);
  box-shadow: none;
}

fieldset,
.email-reset-modal,
.ui-widget-content {
  background-color: var(--dm-accent-color-2);
}

.email-reset-modal h3 {
  color: var(--dm-primary-font-color);
}

select:focus {
  box-shadow: none;
  background-color: var(--dm-bg-color);
}

.country-select-input {
  background-color: var(--dm-bg-color);
}

.ui-dialog .ui-dialog-titlebar,
.ui-dialog .ui-dialog-content {
  background-color: var(--dm-accent-color-2);
  color: var(--dm-primary-font-color);
  border: 1px solid var(--dm-accent-color-2);
}

.self-billing-positive-modal {
  background-color: var(--dm-accent-color-2);
}

.section.self-billing-info .button-group .save-button {
  @include dm-gradient-btn;
  border-radius: 4rem;
  border: none;
  padding: 12px 20px;
}

.accept-btn {
  @include dm-gradient-btn;
  border: none;
}

.self-billing-positive-modal .mfp-close {
  color: var(--dm-primary-font-color);
}

.ui-widget-content a:hover,
.ui-widget-content a:active,
.ui-widget-content a:focus {
  border: none;
}

.self-billing-positive-modal 
.self-billing-modal-body
.button-group 
.accept-btn {
  border: none;
}

.mfp-close-btn-in .mfp-close {
   color: var(--dm-white-color);
}

.fa-question-circle:before {
  color: var(--plan-color-1);
}

.locked-field-qtip-box {
  .ui-widget-header {
    background: var(--dm-accent-color-1);
  }

  .qtip-title {
    color: var(--dm-white-color);
    background: var(--dm-accent-color-1);
    width: 100%;
  }

  .qtip-content {
    color: var(--dm-primary-font-color);
    background-color: var(--dm-bg-color); 
  }
}

input[type="checkbox"] {
  accent-color: var(--plan-color-1);
}

input[type="radio"] {
  accent-color: var(--plan-color-1);
  color: var(--dm-white-color);
}

form input[type="submit"]:hover,
form input[type="submit"]:active,
form input[type="submit"]:focus {
  @include dm-gradient-btn;
  filter: brightness(1.1);
  border: none;
}
.ui-widget-header .ui-icon {
  background-image: url(/stylesheets/jquery-ui/images/ui-icons_ffffff_256x240.png);
}

.fa-info-circle:before {
  color: var(--plan-color-1);
}

.upgrade-block {
  border: 1px solid var(--dm-border-color);
}
.payout-preferences {

  .payout-explanation {
    background-color: var(--dm-accent-color-1);
    color: var(--dm-primary-font-color);
  }

  .payout-header,
  .bank-transfer-fees-container  {
  color: var(--dm-primary-font-color);
  }

  .bank-transfer-fees-container 
  .payoneer-details-modal-trigger:before {
    color: var(--plan-color-1)
  }
}
.dm-delete-btn {
  color: var(--dm-white-color);
  border: 2px solid var(--dm-white-color);;
  padding: 5px 15px;
  border-radius: 8rem;
  background-color: transparent;
 }

.grid_1 {
  padding: 5px 15px;
  border: 2px solid var(--dm-white-color);
  border-radius: 8rem;
  background-color: transparent;
  color: var(--dm-white-color);

    &:hover,
    &:active,
    &:focus {
      border: 2px solid var(--plan-color-1);
      color: var(--dm-white-color);
    }
}

.payoneer-details-modal-container .content {
  background: var(--dm-accent-color-2);
  color: var(--dm-primary-font-color);
}
.payoneer-details-modal-container .content {
  table th {
    background-color: var(--dm-accent-color-1);
    border-right: 1px solid var(--dm-border-color);
    color: var(--dm-primary-font-color);
  }

  table tr td {
    color: var(--dm-primary-border-color);
    background: var(--dm-accent-color-2);
    border-right: 1px solid var(--dm-border-color);
    border: 1px solid var(--dm-border-color);
  }

  .payoneer-fees-desktop-fee-name {
    color: var(--dm-primary-font-color);
  }

  table tr:nth-child(even) td {
    background-color: var(--dm-accent-color);
  }

  .table-header {
    color: var(--dm-primary-font-color);
  }

  table tr:last-child td {
    border-bottom: 1px solid var(--dm-border-color);
  }
}

.payoneer-fee-modal-trigger {
  color: var(--plan-color-1);
}

.payoneer-fees-desktop-fee-description {
  color: var(--dm-primary-font-color);
  background: transparent;
}

.payoneer-fee-modal-container .content .filters select {
  background: var(--dm-bg-color);
  color: var(--dm-primary-font-color);
  box-shadow: none;
  border: 1px solid var(--dm-border-color);
}

.payoneer-fee-modal-container .content .filters .preview-fees {
  @include dm-gradient-btn;
  color: var(--dm-white-color);
  background-color: linear-gradient(to bottom right,
      var(--plan-color-1),
      var(--plan-color-2));;
  padding: 10px 20px;
  margin-bottom: 16px;
  border: none;
  font-weight: 700;
  border-radius: 8rem;

    &:hover {
      border: none;
      filter: brightness(1.1);
    }
}

.mfp-close-btn-in .mfp-close {
  color: var(--dm-white-color);
}
.payoneer-fees-desktop-fee-item-bold {
  color: var(--dm-primary-font-color);
}

.payoneer-fees-desktop-fee-item-bold {
  font-family: Helvetica;
  margin-top: 2%;
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.payoneer-fee-modal-container {
  table tbody tr:nth-child(even) td {
    background-color: var(--dm-accent-color);
  }
  table th {
    color: var(--dm-primary-font-color);
    background-color: var(--dm-accent-color-1);
    border: 1px solid var(--dm-border-color);
  }
  table td {
    background-color: var(--dm-accent-color);
    color: var(--dm-primary-font-color);
    border: 1px solid var(--dm-border-color);
  }
  .content {
    background: var(--dm-accent-color-2);
    color: var(--dm-primary-font-color);
  }
}

.qtip-default {
  border: 1px solid var(--dm-border-color);
  background-color: var(--dm-accent-color-1);
  color: var(--dm-primary-font-color);
}