@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

///////////////////////////////////////////////////////////////////////////////
// Vars
///////////////////////////////////////////////////////////////////////////////

html {
  --dm-alert-red: rgb(244, 67, 54);
  --dm-alert-red-bg: rgba(244, 67, 54, 0.2);
  --dm-alert-green: rgb(102, 187, 106);
  --dm-alert-green-bg: rgba(102, 187, 106, 0.2);
  --dm-accent-color: #222222;
  --dm-accent-color-1: #555555;
  --dm-accent-color-2: #282828;
  --dm-accent-color-3: #333333;
  --dm-bg-color: #141414;
  --dm-border-color: rgba(255, 255, 255, 0.2);
  --dm-border-radius: 0.375rem;
  --dm-btn-primary-font-size: 13px;
  --dm-primary-font-color: rgba(255, 255, 255, 0.8);
  --dm-primary-font-family: Roboto, sans-serif;
  --dm-primary-font-size: 0.875rem;
  --dm-secondary-font-color: rgba(255, 255, 255, 0.5);
  --dm-white-color: #fff;
}

///////////////////////////////////////////////////////////////////////////////
// Mixins
///////////////////////////////////////////////////////////////////////////////

@mixin dm-bg-color {
  background: var(--dm-bg-color);
  background-color: var(--dm-bg-color);
}

@mixin dm-border {
  border: 2px solid var(--dm-border-color);
}

@mixin dm-outline($color, $size: 2px) {
  border: none;
  outline: $size solid $color;
  outline-offset: -$size;
}

@mixin dm-base-btn {
  border-radius: 99em;
  border: none;
  color: var(--dm-white-color);
  cursor: pointer;
  font-size: var(--dm-btn-primary-font-size);
  font-weight: 700;
  height: fit-content;
  letter-spacing: 1px;
  padding: 1em 1.5em;
  text-decoration: none;
  width: fit-content;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
}

@mixin dm-gradient-btn {
  @include dm-base-btn;
  @include dm-outline(transparent, $size: 0);
  background: linear-gradient(to bottom right,
      var(--plan-color-1),
      var(--plan-color-2));
  color: #fff;
  &:active,
  &:focus,
  &:hover {
    filter: brightness(1.1);
  }
}

@mixin dm-image-border {
  border-radius: var(--dm-border-radius);
}

@mixin dm-input {
  @include dm-border;

  background: var(--dm-bg-color);
  background-color: var(--dm-bg-color);
  border-radius: var(--dm-border-radius);
  color: var(--dm-primary-font-color);
  font-size: var(--dm-primary-font-size);
  font-weight: 400;
  padding: 8px 12px;
}
@mixin dm-secondary-btn-no-hover {
  @include dm-base-btn;
  @include dm-outline(var(--dm-primary-font-color));
  background: transparent;
  color: var(--dm-primary-font-color);

  &:hover {
    border: 2px solid var(--dm-white-color);
  }
}
@mixin dm-secondary-btn {
  @include dm-secondary-btn-no-hover;
  &:hover {
    background: transparent;
    border: 2px solid var(--plan-color-1);
    color: var(--dm-white-color);
    filter: brightness(1.1);
  }
}

@mixin dm-primary-link {
  color: var(--plan-color-1);
}

@mixin dm-link {
  color: var(--dm-white-color);
  text-decoration: underline;

  &:hover {
    color: var(--dm-white-color);
  }
}

@mixin dm-primary-text {
  color: var(--dm-primary-font-color);
  font-family: var(--dm-primary-font-family);
}

@mixin dm-secondary-btn {
  @include dm-gradient-btn;

  background: transparent;
  border: 2px solid #fff;
  padding: 8px 20px;

  &:hover {
    background: transparent;
    border: 2px solid var(--plan-color-1);
    color: #fff;
    filter: brightness(1.1);
  }
}

@mixin dm-small-highlight {
  background-color: rgba(102, 187, 106, 0.2);
  color: rgb(102, 187, 106);
}

@mixin dm-grey-button {
  background-color: var(--dm-accent-color-1);
  color: var(--dm-primary-font-color);
  border: none;
  text-decoration: none;

  &:hover {
    background-color: #fff;
    outline: 1px solid #fff;
    outline-offset: -1px;
    color: var(--dm-bg-color);
  }
}

// Tags
///////////////////////////////////////////////////////////////////////////////

body {
  @include dm-bg-color;
  @include dm-primary-text;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @include dm-primary-text;
}

a {
  @include dm-link;
}

input,
textarea,
button,
select {
  background-color: var(--dm-bg-color);
  border: 1px solid var(--dm-border-color);
  border-radius: 3px;
  color: var(--dm-primary-font-color);
  font-family: var(--dm-primary-font-family);
}

input[type="checkbox"], input[type="radio"] {
  accent-color: var(--plan-color-1);
}

///////////////////////////////////////////////////////////////////////////////
// Utils
///////////////////////////////////////////////////////////////////////////////

// use with app/helpers/dashboard_reskin_helper.rb#release_status
.release-status.reskin {
  font-size: 1rem;
  font-weight: 500;

  &.needs_action,
  &.takedown {
    color: #ef4334;
  }
  &.incomplete,
  &.processing {
    color: #ee9e26;
  }
  &.sent {
    color: #65b768;
  }
}

.pagination-arrows {
  color: #333333;

  a {
    color: #999999;

    &:hover {
      color: #fff;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////
// Shared Overrides
// Override stylesheets used by more than one page here.
///////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////
// base.css
///////////////////////////////////////////////////////////////////////////////

.rounded-container {
  background-color: var(--dm-bg-color);
}

.link,
.link:visited {
  @include dm-primary-link;
}

input[type="submit"] {
  @include dm-gradient-btn;
}

section header h1 {
  @include dm-primary-text;
}

a.cancel,
a.cancel-right {
  @include dm-secondary-btn;
}

///////////////////////////////////////////////////////////////////////////////
// internal_layout.css
///////////////////////////////////////////////////////////////////////////////

.content > header.alternate3 h1,
.pod-body,
main > header.alternate3 h1 {
  @include dm-primary-text;
}

.content {

  .button-callout,
  main .button-callout {
    @include dm-gradient-btn;
  }

  .button-callout-alt {
    @include dm-secondary-btn;
  }

}

.pod > header {
  border-bottom-color: var(--dm-border-color);
}

.content .button-interface,
main .button-interface {
  @include dm-secondary-btn;
}

///////////////////////////////////////////////////////////////////////////////
// master.css
///////////////////////////////////////////////////////////////////////////////

.notice {
  background: var(--dm-bg-color) url(/version/tunecore_neo/images/sprites/next_actions_sprite.png) no-repeat 24px -581px;
  border-color: var(--dm-white-color);
}


///////////////////////////////////////////////////////////////////////////////
// release_creation.css
///////////////////////////////////////////////////////////////////////////////

.cover_art_requirements-list-item-description > h3,
.status a {
  @include dm-primary-text;
}

.pod-rounded {
  @include dm-bg-color;
}

.button-callout-top,
.button-callout-alt {
  @include dm-gradient-btn;
}

.pod-body {
  @include dm-primary-text;
}

///////////////////////////////////////////////////////////////////////////////
// alerts
///////////////////////////////////////////////////////////////////////////////

#persistent-alert {
  background: var(--dm-alert-red-bg);
  border: none;
}

#persistent-alert>span {
  color: var(--dm-alert-red);
}

.alert-title {
  color: var(--dm-alert-red);
}
