@import "base";

.cart_items,
.cart-terms-link,
.cart-subtotal_txt {
  @include dm-primary-text;
}

.content { 

  .cart_items {
    color: var(--dm-primary-font-color);
  }

  .cart_items_content {
    border: 1px solid var(--dm-border-color);
  }

}

#cart {

  header h2 {
    color: var(--dm-primary-font-color);
  }

  a {
    text-decoration: none;
  }

  .cart-subtotal,
  .cart-subtotal:last-child {
    background-color: var(--dm-bg-color);
    border-bottom: 1px solid var(--dm-border-color);
  }

  .cart_item-itemprice {
    background-color: var(--dm-bg-color);
  }

  .cart_item_headers {
    background-color: var(--dm-accent-color-2);
    border-bottom: 1px solid var(--dm-border-color);
    font-family: var(--dm-primary-font-family);
    font-style: normal;
  }

  .upsell_item {
    background: none;
  }

  .upsell_item .cart_item-actions p a {
    @include dm-link;
  }

  .cart_item-icon h3,
  .cart_item-description h3 {
    color: var(--dm-primary-font-color);
  }

  .ccbox {
    background-color: var(--dm-accent-color-2);
    border: 1px solid var(--dm-border-color);
    color: var(--dm-primary-font-color)
  }

  .cart-expander_stores .cart_item:nth-child(even) {
    background-color: var(--dm-bg-color);
  }

  .cart-expander_stores {
    border: 1px solid var(--dm-border-color);
  }

  .loading-cart-spinner {
    color: var(--dm-primary-font-color);
  }

}

.cart_item {
  border-bottom: 1px solid var(--dm-border-color);
}

.cart_items>header {
  background-color: var(--dm-accent-color-1);
}

.box-promo {
  
  a.cancel{
    border-radius: 3px;
    letter-spacing: 0px;
    font-weight: 10;
    outline: none;
    text-transform: none;
  }

  .btn {
    @include dm-grey-button
  }

  label {
    color: var(--dm-primary-font-color);
    font-style: normal;
    font-family: var(--dm-primary-font-family);
  }

}

.dm-cart_item-bundle_items {
  background-color: var(--dm-bg-color);
  color: var(--dm-primary-font-color);
}

.cart_item-bundle_items {
  background-color: var(--dm-bg-color);
  color: var(--dm-primary-font-color);
}

.link-list:before {
  background-color: var(--plan-color-1);
}

// confirm and pay page styles 

button.pay_button {
  @include dm-gradient-btn;
  &:hover {
    border:none;
  }
}

#cart.confirm_pay .cart-subtotal {
  background-color: var(--dm-bg-color);
}

.confirm_pay .button-interface {
  @include dm-secondary-btn;
}

.confirm-information-form-container {
  border-bottom: 1px solid var(--dm-border-color);
  border: 1px solid var(--dm-border-color);
}

input,
button,
textarea,
select {
  accent-color: var(--plan-color-1);
}

.link ,
.link:active,
.link:hover,
.link:visited {
  color: var(--plan-color-1);
}

.cart-secondary_txt {
  color: var(--dm-primary-font-color);
  font-family: var(--dm-primary-font-family);
  font-style: italic;
}

.button-callout-alt.upsell-cart:hover,
.button-callout-alt.upsell-cart:active,
.button-callout-alt.upsell-cart:focus,

.button-callout-alt.person-balance-button:hover,
.button-callout-alt.person-balance-button:active,
.button-callout-alt.person-balance-button:focus,

.button-interface.back_to_cart:hover,
.button-interface.back_to_cart:active,
.button-interface.back_to_cart:focus {
  background-color: transparent;
  border: 2px solid var(--plan-color-1);
  color: #fff;
}

// tooltip style

.tooltip-info-icon,
.tooltip-info-icon:hover {
  color: var(--plan-color-1);
}

.vat-tooltip 
.vat-tooltip-inner 
.vat-tooltip-body 
.vat-tooltip-content {
  padding: 10px;
  font-weight: normal;
  color: var(--dm-primary-font-color);
  background-color: var(--dm-accent-color-2);
}

.fa-question-circle:before {
  color: var(--plan-color-1)
}

.qtip {
  padding: 0;
}

span.sr-only,
.qtip .qtip-title {
  background-color: var(--dm-accent-color-1);
}

.qtip .qtip-content {
  padding: 10px;
  font-weight: normal;
  font-family: var(--dm-primary-font-family);
  color: var(--dm-primary-font-color);
  background-color: var(--dm-accent-color-2);
}

.vat-tooltip .vat-tooltip-arrow .arrow,
.qtip-titlebar.ui-widget-header.ui-tooltip-header {
  background-color: var(--dm-accent-color-1);
}

.vat-tooltip .vat-tooltip-inner .vat-tooltip-body .vat-tooltip-title {
  background-color: var(--dm-accent-color-2);
  color: var(--dm-primary-font-color);
}

