@import "base";

#discography {
  ::placeholder {
    @include dm-primary-text;
  }

  #creation-buttons-container {
    display: none;
  }

  header h1 {
    @include dm-primary-text;
  }

  .btn.btn-action {
    @include dm-secondary-btn;

    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.375rem;
    padding: 0.75rem;
    font-size: 0.8125rem;
    font-weight: 900;
    line-height: 1.75;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .pagination {
    text-align: center;
    width: 100%;
  }

  .filters {
    label {
      @include dm-primary-text;
      font-size: var(--dm-primary-font-size);
      font-style: normal;
      font-weight: 700;
    }

    .pad {
      column-gap: 2rem;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0.5rem;
      padding: 0;
      width: 100%;

      @media (max-width: 768px) {
        & > div,
        input {
          width: 100%;
        }
      }

      & > div {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;

        label {
          text-align: left;
          width: auto;
        }
      }
    }

    footer {
      border-top: none;
      padding: 0;

      #apply-filters {
        @include dm-gradient-btn;
      }

      #reset-filters {
        @include dm-secondary-btn;
        padding: 8px 20px!important;
      }
    }
  }

  .result-count {
    display: block;
    padding-left: 1rem!important;
  }

  .filters,
  .pagination {
    @include dm-bg-color;
    border: none;

    input, select {
      @include dm-input;
      margin-right: 0;
    }
  }

  .release-status {
    display: none;
  }

  .discography-release .release-info .release-status {
    display: initial;
    position: relative;
  }

  .release-checklist {
    .fa-check-circle {
      color: var(--dm-alert-green);
    }
    .fa-times-circle {
      color: var(--dm-alert-red);
    }
  }

  .row.controls .tiny {
    @include dm-primary-text;
    font-size: var(--dm-primary-font-size);
  }

  #releases {
    li {
      @include dm-border;
      border-bottom: none;
      &:last-child {
        @include dm-border;
      }
    }

    .list {
      .discography-release {
        border: none;
        margin-top: 0;
      }

      .release-art img {
        @include dm-image-border;
      }
    }


    .release-info {

      &.release-status {
        display: block;
        height: auto;
        position: relative;
        width: auto;
      }

      h2 {
        font-size: 1rem;
        font-weight: 700;
        color: var(--dm-primary-font-color);
      }

      h3 {
        @include dm-primary-text;
      }

      dt {
        @include dm-primary-text;
        color: #fff;
      }

      dd {
        @include dm-primary-text;
      }

    }

    .release-actions {
      .release-checklist-holder {
        margin: 0 auto;
      }

      .btn-action, .btn-callout {
        border: none;
        display: block;
        margin: 0 auto 0.5rem;

        &.onehunded {
          width: fit-content;
        }

        &.renewal {
          background-color: var(--plan-color-1);
          text-shadow: 1px 1px 1px #000;

          &:hover {
            color: #fff;
          }
        }

        &:hover {
          border: none;
          box-shadow: none;
          color: var(--plan-color-1);
          outline: none;
        }
      }

      .rejected-text {
        @include dm-primary-text;

        background: var(--dm-alert-red-bg);
        border: none;
      }
    }

    .completenow {
      @include dm-secondary-btn;

      i {
        display: none;
      }

      &.distributenow {
        @include dm-gradient-btn;

        &:hover {
          @include dm-primary-text;
        }
      }
    }
  }
}

.ui-dialog {
  @include dm-bg-color;
  .ui-dialog-titlebar {
    @include dm-bg-color;
  }

  .ui-dialog-title {
    @include dm-primary-text;
  }

  span.ui-icon.ui-icon-closethick {
    display: none;
  }

  a.ui-dialog-titlebar-close.ui-corner-all::after {
    color: #fff;
    content: 'x'
  }

  .ui-dialog-titlebar-close {
    font-size: 1rem;
    padding: 0;
    text-decoration: none;
    width: auto;

    &:hover {
      background: initial;
      border: none;
    }
  }

  #shareItunesLinkModal {
    @include dm-primary-text;

    overflow: hidden;

    span {
      @include dm-primary-text;
      color: var(--dm-primary-font-color)!important;
    }

    textarea {
      @include dm-bg-color;
      @include dm-primary-text;
    }
  }
}

@media (max-width: 480px) {
  .discography-release {
    .release-art {
      margin-bottom: 1rem;
      width: 100%;
    }
  }

  .list .release-body {
    width: 100%;

    .release-checklist-holder {
      width: 100%;
    }
  }
}
