@import "base";

.box {
  @include dm-bg-color;
}

.content .button-callout {
  margin: auto auto 0;
}

.thanks header h1 {
  @include dm-primary-text;
}

.notice {
  background: var(--dm-bg-color)
    url(/version/tunecore_neo/images/sprites/next_actions_sprite.png) no-repeat
    24px -581px;
  border-color: #fff;
}

