@import "base";

.container_16 {
  font-family: var(--dm-primary-font-family);
}

#balance-history {
  #my-account {
    div {
      @include dm-primary-text;
      background-color: var(--dm-bg-color);
      border: 2px solid var(--dm-border-color);
    }
    p,
    a {
      @include dm-primary-text;
    }
  }
  .list-transaction-header {
    margin-left: 0;
  }

  #export-transactions {
    @include dm-link;
  }

  #transaction_list {
    .transactions_pagination {
      .pagination {
        .next_page,
        .previous_page {
          background: none;
          text-indent: 0;
        }
      }
    }

    #sales-table {
      border: 1px solid var(--dm-border-color);
      thead {
        background-color: var(--dm-accent-color-1);
        border: 1px solid var(--dm-border-color);
        .tooltip-info-icon {
          color: var(--dm-white-color);
        }
        .tooltip-info-icon:hover {
          color: var(--plan-color-1);
        }
        th {
          color: var(--dm-primary-font-color);
        }
      }

      tbody {
        border-top: 1px solid var(--dm-border-color);
        tr {
          background-color: var(--dm-accent-color-2);
          td {
            color: var(--dm-secondary-font-color);
            .transaction-headline {
              @include dm-primary-text;
            }
            a {
              @include dm-link;
              @include dm-primary-text;
              background-color: var(--dm-accent-color-2);
            }
          }
        }
      }
    }
  }

  .withdraw_link {
    text-align: center;
    .button-callout-alt {
      &:active, &:focus {
        border: none;
      }
    }
    #transaction-filters {
      text-align: left;
      margin-top: 10px;
      background-color: var(--dm-bg-color);
      color: var(--dm-primary-font-color);
      border: 1px solid var(--dm-border-color);
      form {
        h2,
        label {
          color: var(--dm-primary-font-color);
          font-family: var(--dm-primary-font-family);
        }
        select {
          background-color: var(--dm-accent-color-2);
        }
        #transaction-date-range {
          width: 200px;
          height: 40px;
          margin-top: 7px;
        }
        #advanced-options {
          h2 {
            margin-top: 4px;
          }
        }
        ul {
          li {
            display: flex;
            align-items: center;
            label {
              padding: 0px 4px;
            }
          }
        }
        .small-button {
          @include dm-secondary-btn;
          padding: 12px 35px;
        }
      }
    }
    #advance-section {
      #advance-panel {
        background-color: var(--dm-accent-color-2);
        .button-lyric {
          @include dm-gradient-btn;
        }
      }
    }
  }
}

// lyric-snippet-modal popup

#tcModal{
  z-index: 111;
  .modal-content{
    background-color: var(--dm-bg-color);
    border: 1px solid var(--dm-border-color);
    .modal-header {
      h3, .close {
        @include dm-primary-text;
      }
    }
    .modal-body {
      @include dm-primary-text;
      #terms-container {
        p, hr {
          @include dm-primary-text;
        }
      }
    }
    .modal-footer {
      button {
        @include dm-gradient-btn;
        width: 250px;
      }
      #modal-notice {
        @include dm-primary-text;
        background-color: var(--dm-accent-color-2);
      }
    }
  }
}

#waitModal {
  z-index: 111;
  .wait-modal-content{
    background-color: var(--dm-bg-color);
    border: 1px solid var(--dm-border-color);
    .wait-indicator{
      .spinner > div {
        background: var(--dm-white-color);
      }
    }
  }
}

// unique-payout tooltip style

.unique-payout-tooltip {
  i {
    color: var(--dm-white-color);
  }
  i:hover {
    color: var(--plan-color-1);
  }
  &-header {
    @include dm-primary-text;
    background-color: var(--dm-accent-color-1);
  }
}

.qtip {
  &-content {
    font-family: var(--dm-primary-font-family);
    color: var(--dm-primary-font-color);
    background-color: var(--dm-accent-color-2);
  }
}
