@import "base";

.content-wrapper {

  .container_16 .tfa-container {

    .tfa-auth-header {
        color: var(--dm-secondary-font-color);
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
    }

      .two-factor-auth-info {
        background-color: var(--dm-bg-color);
    }

    .tfa-account-settings-link, a {
      color: var(--dm-secondary-font-color);
      font-weight: 500;
    }


    .tfa-account-settings-link:hover,
    a:hover {
      color: var(--plan-color-1);
    }

  }
  .tfa-container .tfa-form-wrapper { 

    border: 1px solid var(--dm-border-color);

    .tfa-form-header h2 {
      background: var(--dm-accent-color-2);
    }

    .button_to .cancel-btn {
      @include dm-secondary-btn;
      background-color: transparent;
      text-transform: uppercase;
      border: 2px solid #fff;
    }

    .button_to .cancel-btn:hover {
      border: 2px solid var(--plan-color-1);
    }

    .need-help>a,
    .resend-code-link>a,
    .learn-more-link {
      color: var(--plan-color-1);
    }

    .next-btn {
      border-radius: 4rem;
      text-transform: uppercase;
    }

    .next-btn.authentication {
      border: none;
    }

    .app-notification span {
      font-family: var(--dm-primary-font-family);
      color: var(--dm-secondary-font-color);
    }

    .error-notification span {
      font-family: var(--dm-primary-font-family);
    }

    .tfa-form-step-body {
      .sign-in-step {
        label {
          color: var(--dm-primary-font-color);
          font-family: var(--dm-primary-font-family);
        }
        input {
          box-shadow: none;
          border: 1px solid var(--dm-border-color);
        }
      }

      .authentication-step {
        .enter-code-wrapper {
          label {
            color: var(--dm-primary-font-color);
          }
          .try-another-way span,
          .resend-code-link .didnt-get-code {
            font-size: 14px;
            color: var(--dm-primary-font-color);
          }
          .auth-code-input {
            box-shadow: none;
            border: 1px solid var(--dm-border-color);
          }
          .restart-poll a,
          .try-another-way a {
            font-weight: bold;
            color: var(--plan-color-1);
          }
        }

        .change-phone-preferences-link {
          color: var(--plan-color-1);
        }

      }
      .preferences-step {
        .preferences-wrapper label,
        .notification-method-radios .tfa-radio label {
          color: var(--dm-primary-font-color);
        }

        .preferences-wrapper {

          .country-code-select select {
            background-color: var(--dm-bg-color);
            color: var(--dm-primary-font-color);
            box-shadow: none;
            border: 1px solid var(--dm-border-color);
          }

          .phone-number-input {
            box-shadow: none;
            border: 1px solid var(--dm-border-color);
          }
        }

        .contact-info-msg {
          color: var(--dm-secondary-font-color);
        }
      }
    }
  }
}

.tfa-form-wrapper
.tfa-form-bottom 
.context-wrapper {
  .get-started-btn,
  .close-btn {
    border-radius: 4rem;
    text-transform: uppercase;
    padding: 12px 20px;
    width: fit-content;
  }
}

.resend-code-link
.two-factor-resend-preferences-btn,
.two-factor-resend-try-another-way {
  color: var(--plan-color-1);
  font-weight: bold;
}

.container_16 
.tfa-container
 .tfa-form-wrapper
.tfa-auth-bottom
.need-help a {
  color: var(--plan-color-1);
}

input,
textarea,
button,
select {
  accent-color: var(--plan-color-1);
}
