@import "base";

.vat-tooltip {
  .vat-tooltip-inner {
    box-shadow: 0 0 5px var(--dm-border-color);
    .vat-tooltip-body {
      @include dm-primary-text;
      background-color: var(--dm-accent-color-2);
      .vat-tooltip-title {
        background-color: var(--dm-accent-color-1);
      }
      .vat-tooltip-content {
        @include dm-primary-text;
      }
    }
  }
  .vat-tooltip-arrow {
    .arrow {
      border: 0.5px solid var(--dm-border-color);
      background-color: var(--dm-accent-color-2);
      box-shadow: 0 0 5px var(--dm-border-color);
    }
  }
}

