<% status = release_status(release) %>
<li>
  <div class="row">
    <div class="columns twelve">
      <div class="discography-release <%= 'need-to-renew' if release.alerts.include? 'renewal' and (!current_user.autorenew? or current_user.stored_credit_cards.active.blank?) %>">
        <div class="release-art">
          <a href="<%= album_path release %>"><img src="<%= release.artwork ? release.artwork.url(:medium) : '/images/default_cover_art.jpg' %>" alt="<%= release.name %> <%= custom_t(:cover_of_album) %>"></a>
        </div>
        <a href="<%= album_path release %>" class="release-status <%= release.status %>">
          <span class="release-status-inner">
            <%= release.status == 'down' ? custom_t(:taken_down) : custom_t(release.status).capitalize %>
          </span>
        </a>
        <div class="release-body">
          <div class="release-info">
            <h2><a href="<%= album_path release %>"><%= truncate release.name, length: (@view_type == 'list' ? 40 : 30) %></a></h2>
            <%= discography_source_label(release) %>
            <h3>by <%= truncate release.artist_name, length: 40 %></h3>
            <dl>
              <dt><%= custom_t(:release_type) %></dt>
              <dd><%= custom_t("#{release.album_type.downcase}_display".to_sym) %></dd>
              <dt><%= custom_t(:release_date) %></dt>
              <dd><%= fmt_country_date release.sale_date %></dd>
              <% if release.upc %>
                <dt><%= custom_t(:upc) %>:</dt>
                <dd><%= release.upc.number %></dd>
              <% end %>
              <% if release.physical_upc %>
                <dt><%= custom_t(:physical_upc) %>:</dt>
                <dd><%= release.physical_upc  %></dd>
              <% end %>
            </dl>

            <% if @dark_mode %>
              <p class="<%= "reskin release-status #{status[:value]}" %>">
                <%= status[:msg] %>
              </p>
            <% end %>
          </div>
          <div class="release-actions">
            <% if (['sent', 'live'].include? release.status) && all_salepoints_selected?(release) %>
              <a href="<%= store_manager_path %>" class="btn btn-action onehunded addstore"><i class="fa fa-plus"></i>&nbsp; <%= custom_t(:add_stores) %></a>
            <% end %>
            <% if release_can_be_split? release %>
              <a href="<%= album_royalty_splits_path(release) %>" class="btn btn-action onehunded <%= splits_link_cannot_create_disabled_classes %>">
                <% unless current_user.purchased_create_splits? %>
                  <i class="fa fa-lock" aria-hidden="true"></i>
                <% end %>
                <%= release.royalty_splits.exists? ? custom_t("royalty_splits.edit_split") : custom_t("royalty_splits.split_royalties") %>
              </a>
            <% end %>
            <% if release.status == 'live' and release.live_in_itunes? and release.class.name != "Ringtone" and release.takedown_at.nil? %>
              <a href="#" url="<%= ItunesLinkinator.itunes_url release %>" class="btn btn-action shareItunesLink onehunded" title="<%= custom_t("discography.check_it_out", {album_type: release.album_type.downcase, name: release.name}) %>"><i class="icon-facebook-sign"></i> <i class="icon-twitter-sign"></i> <i class="icon-plus-sign-alt"></i>&nbsp; <%= custom_t(:share_itunes_link) %></a>
            <% end %>
            <% if release.status == 'incomplete' %>
              <div class="release-checklist-holder">
                <div class="release-checklist">
                  <div><strong><%= custom_t(:info) %></strong><br><br><% if release.valid? %><i class="fa fa-2x fa-check-circle"></i><% else %><i class="fa fa-2x fa-times-circle"></i><% end %></div>
                  <div><strong><%= custom_t(:stores) %></strong><br><br><% if release.has_stores? %><i class="fa fa-2x fa-check-circle"></i><% else %><i class="fa fa-2x fa-times-circle"></i><% end %></div>
                  <div><strong><%= custom_t(:art) %></strong><br><br><% if release.has_artwork? %><i class="fa fa-2x fa-check-circle"></i><% else %><i class="fa fa-2x fa-times-circle"></i><% end %></div>
                  <div><strong><%= custom_t(:audio) %></strong><br><br><% if release.has_tracks? %><i class="fa fa-2x fa-check-circle"></i><% else %><i class="fa fa-2x fa-times-circle"></i><% end %></div>
                </div>
                <div class="clear"></div>
                <a href="<%= album_path release.id %>" class="btn btn-callout btn-bold btn-upcase onehunded completenow"><i class="fa fa-thumbs-up"></i>&nbsp; <%= custom_t("discography.complete_now") %></a>
              </div>
            <% elsif release.status == 'ready' %>
              <div class="release-checklist-holder">
                <a href="<%= album_path release.id %>" class="btn btn-callout btn-bold btn-upcase onehunded completenow distributenow"><i class="fa fa-thumbs-up"></i><%= custom_t("discography.distribute") %></a>
              </div>
            <% end %>
            <% if release.rejected? %>
              <p class="standard-text rejected-text st-p"><strong><%= custom_t(".not_sent") %></strong><br><%= custom_t(".found_issue") %></p>
            <% end %>
            <% if release.alerts.include?('renewal') && release.person.legacy_user? %>
              <% if current_user.autorenew? && current_user.stored_credit_cards.active[0] && release.renewal && release.renewal.expires_at && release.renewal.expires_at - 4.weeks <= Time.now && Time.now <= release.renewal.expires_at %>
                <p class="standard-text"><i class="fa fa-rotate-right"></i>&nbsp; <%= custom_t(".autorenew_on", {renewal_date: fmt_country_date(release.renewal.expires_at)}) %></p>
              <% elsif current_user.autorenew? && current_user.stored_credit_cards.active[0] && release.renewal && release.renewal.expires_at && current_user.stored_credit_cards.active[0].expires_before_date?(release.renewal.expires_at) && release.renewal.expires_at - 4.weeks <= Time.now && Time.now <= release.renewal.expires_at %>
                <p class="standard-text"><%= custom_t(".card_expired", {date: fmt_country_date(release.renewal.expires_at)}) %></p>
                <a href="/payment_preferences" class="btn btn-callout btn-bold btn-upcase onehunded" style="margin-bottom: 0;"><%= custom_t(:update_card) %></a>
              <% elsif  release.renewal && release.renewal.expires_at && release.renewal.expires_at < Time.now && !release.renewal.taken_down? && release.renewal.canceled_at.nil? %>
                <p class="standard-text"><%= custom_t(".past_due", {date: fmt_country_date(release.renewal.expires_at + @grace_days.days)}) %></p>
                  <a
                    href="<%= buy_subscriptions_path id: release.renewal.id, product_id: 'n' %>"
                    class="btn btn-callout btn-bold btn-upcase onehunded"
                    style="margin-bottom: 0;"
                  >
                    <i class="fa fa-rotate-right"></i>
                  </a>
              <% else %>
                <p class="standard-text"><%= custom_t(".due", {date: fmt_country_date(release.renewal.expires_at)}) %></p>
                  <a
                    href="<%= buy_subscriptions_path id: release.renewal.id, product_id: 'n' %>"
                    class="btn btn-callout btn-bold btn-upcase onehunded renewal"
                    style="margin-bottom: 0;"
                  >
                    <i class="fa fa-rotate-right"></i>&nbsp; <%= custom_t("discography.renew_now") %>
                  </a>
              <% end %>
            <% elsif !current_user.composers.blank? and release.missing_splits? and release.status == 'live' %>
              <a href="<%= compositions_path %>" class="btn btn-action onehunded" style="margin-bottom: 0;"><i class="fa fa-hand-o-right"></i>&nbsp; <%= custom_t(".discography.submit_info") %></a>
            <% end %>
            <% if can_reactivate_renewal?(release) %>
              <p class="standard-text st-p"><%= custom_t(".removing", {date: fmt_country_date(release.renewal.expires_at)}) %>.</p>
              <a href="<%= stop_cancellation_album_path release.id %>" class="btn btn-callout onehunded"><%= custom_t("discography.hey_dont") %></a>
            <% end %>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</li>
