<%= label_tag :keyword, custom_t(:search) %>
<%= text_field_tag :keyword, @keyword, placeholder: custom_t("discography.index.enter_title"), class: 'radius' %>
<%= label_tag :release_type, custom_t(:release_type) %>
<%= select_tag :release_type, options_for_select([[custom_t("discography.index.all_releases"), 'all'], [custom_t("discography.index.albums_only"), 'Album'], [custom_t("discography.index.singles_only"), 'Single'], [custom_t("discography.index.ringtones_only"), 'Ringtone']], @release_type) %>
<%= label_tag :status, custom_t(:status) %>
<%= select_tag :status, options_for_select([[custom_t("discography.index.all_statuses"), 'all'], [custom_t(:incomplete), 'incomplete'], [custom_t(:ready), 'ready'], [custom_t(:sent), 'sent'], [custom_t(:rejected), 'rejected'], [custom_t(:live), 'live'], [custom_t(:taken_down), 'down']], @status) %>
<%= label_tag :sort_by, custom_t(:sort_by) %>
<%= select_tag :sort_by, options_for_select([[custom_t("discography.index.title_az"), 'name asc'], [custom_t("discography.index.title_za"), 'name desc'], [custom_t("discography.index.release_oldest"), 'sale_date asc'], [custom_t("discography.index.release_newest"), 'sale_date desc'], [custom_t("discography.index.creation_oldest"), 'created_on asc'], [custom_t("discography.index.creation_newest"), 'created_on desc'], [custom_t(:status), 'status']], @sort_by) %>

