<%
  show_auto_renew = (current_user.autorenew? and release.renewal and release.renewal.expires_at and !current_user.stored_credit_cards.active.blank? and release.renewal.expires_at - 4.weeks <= Time.now && Time.now <= release.renewal.expires_at)
%>
<tr class="<%= 'need-to-renew' if release.alerts.include? 'renewal' and (!current_user.autorenew? or current_user.stored_credit_cards.active.blank?) %>">
  <td class="text-center <%= release.status %>"><%= release.status == 'down' ? 'Taken Down' : custom_t(release.status).capitalize %></td>
  <td><a href="<%= album_path release %>"><%= truncate release.name, length: 40 %></a></td>
  <td class="text-center"><%= release.artist_name %></td>
  <td class="text-center">
    <%= release.album_type.capitalize %>
    <%= source_label(release) %>
  </td>
  <td>
    <% if ['sent', 'live'].include? release.status %>
      <a href="<%= store_manager_path %>" class="btn btn-action"><i class="fa fa-plus"></i>&nbsp; <%= custom_t(:add_stores) %></a>
      <% if release_can_be_split? release %>
        <a href="<%= album_royalty_splits_path(release) %>" class="btn btn-action <%= splits_link_cannot_create_disabled_classes %>">
          <% unless current_user.purchased_create_splits? %>
            <i class="fa fa-lock" aria-hidden="true"></i>
          <% end %>
          <%= release.royalty_splits.exists? ? custom_t(:edit_split) : custom_t(:split_royalties) %>
        </a>
      <% end %>
    <% end %>
    <% if release.status == 'live' and release.live_in_itunes? and release.class.name != "Ringtone" and release.takedown_at.nil? %>
      <a href="#" url="<%= ItunesLinkinator.itunes_url release %>" class="btn btn-action shareItunesLink" title="<%= custom_t("discography.check_it_out", {album_type: release.album_type.downcase, name: release.name}) %>"><i class="icon-facebook-sign"></i> <i class="icon-twitter-sign"></i> <i class="icon-plus-sign-alt"></i>&nbsp; <%= custom_t(:share_itunes_link) %></a>
    <% end %>
    <% if release.status == 'incomplete' %>
      <a href="<%= album_path release.id %>" class="btn btn-callout btn-bold btn-upcase"><i class="fa fa-thumbs-up"></i>&nbsp; <%= custom_t("discography.complete_now") %></a>
    <% end %>
    <% if release.status == 'ready' %>
      <a href="<%= album_path release.id %>" class="btn btn-callout btn-bold btn-upcase"><i class="fa fa-thumbs-up"></i>&nbsp; <%= custom_t("discography.distribute") %></a>
    <% end %>
    <% if release.status == 'rejected' %>
      <%= link_to raw("<i class=\"fa fa-envelope\"></i>&nbsp; #{custom_t(:contact_us)}"), "#{knowledgebase_link_for('help-homepage', country_website)}", target: "_blank", class: 'btn btn-callout' %>
    <% end %>
    <% if release.alerts.include? 'renewal' and !show_auto_renew %>
      <% unless current_user.plan_user? %>
        <a
          href="<%= buy_subscriptions_path id: release.renewal.id, product_id: 'n' %>"
          class="btn btn-callout btn-bold btn-upcase"
          style="margin-bottom: 0;"
        >
          <i class="fa fa-rotate-right"></i>&nbsp; <%= custom_t("discography.renew_now") %>
        </a>
      <% end %>
    <% elsif !current_user.composers.blank? and release.missing_splits? and release.status == 'live' %>
      <a href="<%= compositions_path %>" class="btn btn-action" style="margin-bottom: 0;"><i class="fa fa-hand-o-right"></i>&nbsp; <%= custom_t("discography.submit_info") %></a>
    <% end %>
    <% if can_reactivate_renewal?(release) %>
      <a href="<%= stop_cancellation_album_path release.id %>" class="btn btn-action"><%= custom_t("discography.hey_dont") %></a>
    <% end %>
  </td>
</tr>
