<% content_for :external_javascript do %>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-519be54d587e17f8"></script>
  <%= javascript_include_tag "/javascripts/zclip.js" %>
  <%= javascript_include_tag "/javascripts/share_itunes_link_modal.js" %>
  <%= javascript_include_tag "/javascripts/discography.js" %>
<% end %>
<% content_for :css do %>
  <%= stylesheet_link_tag '/stylesheets/discography' %>
  <% if @dark_mode %>
    <%= stylesheet_link_tag "dark_mode/discography" %>
  <% end %>
<% end %>

<%
  opts = []
  pages = 0
  if @release_count > @per_page
    mod = @release_count % @per_page
    pages = (@release_count - mod) / @per_page
    pages += 1 if mod > 0
  elsif @release_count > 1
    pages = 1
  end
  (1..pages).each do |n|
    opts.push [n,n]
  end
%>

<%= render "royalty_splits/splits_access_popup_includes" %>
<%= render "royalty_splits/splits_access_create_splits_popup" %>
<%= render "royalty_splits/splits_access_suspended_splits_popup" %>

<div id="discography">
  <header>
    <div class="row">
      <div class="columns">
        <h1><%= custom_t(".my_discography") %></h1>
      </div>
      <div id="creation-buttons-container" class="columns text-right">
        <a href="<%= new_album_path %>" class="btn btn-action"><%= custom_t(".add_album") %></a>
        <a href="<%= new_single_path %>" class="btn btn-action"><%= custom_t(".add_single") %></a>
        <a href="<%= new_ringtone_path %>" class="btn btn-action"><%= custom_t(".add_ringtone") %></a>
      </div>
    </div>
  </header>

  <form action="<%= discography_path %>" method="GET" id="filter">
    <section>
      <div class="row">
        <div class="columns twelve">
          <div class="filters">
            <% if @dark_mode == false %>
              <header>
                <h2><%= custom_t(".search_sort") %></h2>
              </header>
            <% end %>
            <div class="pad">
              <% if @dark_mode %>
                <%= render partial: "dark_filters" %>
              <% else %>
                <%= render partial: "light_filters" %>
              <% end %>
            </div>
            <footer>
              <%= submit_tag custom_t(:apply).upcase, id: 'apply-filters', style: 'min-width: 0; font-weight: bold; margin-right: 5px;' %>
              <a id="reset-filters" href="<%= discography_path %>" class="btn btn-action btn-bold" style="padding: 0.50em 1.5em;"><%= custom_t(:reset) %></a>
            </footer>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="row controls">
        <% if @dark_mode == false %>
          <div class="columns">
            <% unless browser.mobile? %>
              <a href="/discography?<%= merge_qs({view_type: 'list'}) %>" class="btn btn-action <%= 'active' if @view_type == 'list' %>"><i class="fa fa-list"></i> <%= custom_t(".list_view") %></a>
              <a href="/discography?<%= merge_qs({view_type: 'table'}) %>" class="btn btn-action <%= 'active' if @view_type == 'table' %>"><i class="fa fa-table"></i> <%= custom_t(".tableview") %></a>
              <a href="/discography?<%= merge_qs({view_type: 'grid'}) %>" class="btn btn-action <%= 'active' if @view_type == 'grid' %>"><i class="fa fa-th-large"></i> <%= custom_t(".grid_view") %></a>
            <% end %>
            <span class="tiny" style="padding-left: 10px;"><%= number_with_delimiter(@release_count, delimiter: ',') %> <%= custom_t(".results_found") %></span>
          </div>
        <% else %>
          <span class="tiny result-count" style="padding-left: 10px;"><%= number_with_delimiter(@release_count, delimiter: ',') %> <%= custom_t(".results_found") %></span>
        <% end %>

        <div class="columns six text-right pagination" style="padding-top: 2px;">
          <% if @release_count > 25 %>
            <span class="tiny"><%= custom_t(:view) %>: </span>
            <%= select_tag :per_page, options_for_select([[25, 25], [50, 50], [75, 75], [100, 100]], @per_page), class: 'per_page', style: 'min-width: 30px;' %>
          <% end %>
          <% if pages > 1 %>
            <span class="tiny" style="margin-left: 10px;"><%= custom_t(:page) %>: </span> <%= select_tag :page, options_for_select(opts, @page), class: 'page', style: 'min-width: 30px;' %> <span class="tiny"><%= custom_t(:of) %> <%= number_with_delimiter pages %></span>
            <span class="pagination-arrows">
              <% if @page > 1 %>
                <a href="/discography?<%= merge_qs({page: @page.to_i - 1}) %>"><i class="fa fa-chevron-circle-left"></i></a>
              <% else %>
                <i class="fa fa-chevron-circle-left"></i>
              <% end %>
              <% if pages >= @page.to_i + 1 %>
                <a href="/discography?<%= merge_qs({page: @page.to_i + 1}) %>"><i class="fa fa-chevron-circle-right"></i></a>
              <% else %>
                <i class="fa fa-chevron-circle-right"></i>
              <% end %>
            </span>
          <% end %>
        </div>
      </div>
    </section>

    <section id="releases">
      <div class="row">
        <div class="columns twelve">
          <% if @releases.blank? %>
            <p style="font-size: 1.2em; padding-bottom: 30px"><%= custom_t(".no_releases") %></p>
          <% else %>
            <% if ['grid', 'list'].include? @view_type %>
              <ul class="<%= 'block-grid three-up' if @view_type == 'grid' %> <%= @view_type %>">
                <% @releases.each do |release| %><%= render partial: 'grid_or_list_release', locals: {release: release} %><% end %>
              </ul>
            <% elsif @view_type == 'table' %>
              <table class="table-release">
                <thead>
                  <tr>
                    <th><%= custom_t(:status) %></th>
                    <th><%= custom_t(:title) %></th>
                    <th><%= custom_t(:artist) %></th>
                    <th><%= custom_t(:release_type) %></th>
                    <th><%= custom_t(:actions) %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @releases.each do |release| %><%= render partial: 'table_release', locals: {release: release} %><% end %>
                </tbody>
              </table>
            <% end %>
          <% end %>
        </div>
      </div>
    </section>
    <section>
      <div class="row controls">
        <% if @dark_mode == false %>
          <div class="columns">
            <% unless browser.mobile? %>
              <a href="/discography?<%= merge_qs({view_type: 'list'}) %>" class="btn btn-action <%= 'active' if @view_type == 'list' %>"><i class="fa fa-list"></i> <%=  custom_t(".list_view") %></a>
              <a href="/discography?<%= merge_qs({view_type: 'table'}) %>" class="btn btn-action <%= 'active' if @view_type == 'table' %>"><i class="fa fa-table"></i> <%=  custom_t(".tableview") %></a>
              <a href="/discography?<%= merge_qs({view_type: 'grid'}) %>" class="btn btn-action <%= 'active' if @view_type == 'grid' %>"><i class="fa fa-th-large"></i> <%=  custom_t(".grid_view") %></a>
            <% end %>
            <span class="tiny" style="padding-left: 10px;"><%= number_with_delimiter(@release_count, delimiter: ',') %> <%= custom_t(".results_found") %></span>
          </div>
        <% else %>
          <span class="tiny result-count" style="padding-left: 10px;"><%= number_with_delimiter(@release_count, delimiter: ',') %> <%= custom_t(".results_found") %></span>
        <% end %>

        <div class="columns six text-right pagination" style="padding-top: 2px;">
          <% if @release_count > 25 %>
            <span class="tiny result-count"><%= custom_t(:view) %>: </span>
            <%= select_tag :per_page, options_for_select([[25, 25], [50, 50], [75, 75], [100, 100]], @per_page), class: 'per_page', style: 'min-width: 30px;' %>
          <% end %>
          <% if pages > 1 %>
            <span class="tiny" style="margin-left: 10px;"><%= custom_t(:page) %>: </span> <%= select_tag :page, options_for_select(opts, @page), class: 'page', style: 'min-width: 30px;' %> <span class="tiny"><%= custom_t(:of) %> <%= number_with_delimiter pages %></span>
            <span class="pagination-arrows">
              <% if @page > 1 %>
                <a href="/discography?<%= merge_qs({page: @page.to_i - 1}) %>"><i class="fa fa-chevron-circle-left"></i></a>
              <% else %>
                <i class="fa fa-chevron-circle-left"></i>
              <% end %>
              <% if pages >= @page.to_i + 1 %>
                <a href="/discography?<%= merge_qs({page: @page.to_i + 1}) %>"><i class="fa fa-chevron-circle-right"></i></a>
              <% else %>
                <i class="fa fa-chevron-circle-right"></i>
              <% end %>
            </span>
          <% end %>
        </div>
      </div>
    </section>
  </form>
</div>
<%= render partial: 'shared/share_itunes_link_modal' %>
