<div id="locks_menu" style="text-align:right;">
<%= link_to 'Your Locks', admin_locks_path %> |
<%= link_to 'Locks by People', people_admin_locks_path %> |
<%= link_to 'Locks by Invoices', invoices_admin_locks_path %>
</div>