<% if @locked_items.empty? %>
<p>No Locks to Display</p>
<% else %>
<% reset_cycle() %>
<table class="sales_data" cellspacing="0">
<thead>
	<tr>
		<th>Locked Item</th>
		<th>Locking Entity</th>
	</tr>
</thead>
<tbody>
<% @locked_items.each do |item|%>
	<tr class="<%=cycle('', 'alt')%>">
	<td><%= locked_item_link(item) %></td>
	<td><%= locking_entity_link(item) %></td>
	</tr>
<% end %>
</tbody>
</table>
<% end %>