<% content_for :css do %>
  <%= stylesheet_link_tag '/stylesheets/pub_admin.css' %>
<% end %>

<h2>Admin :: Migration to Sentric</h2>

<h4>Please format as one Person ID per line, with no commas or other delimiters.</h4>

<%= form_tag(admin_publishing_administration_migrations_create_path) do %>
  <%= text_area_tag :people_ids, @people_ids, class: "resizable" %>
  <div class="filter float-holder" style="padding-top: 0">
    <div class="float submit">
      <%= submit_tag("Start Migration", { :class=>"submit" } )%>
    </div>
  </div>
<% end %>
