class <%= class_name %>Service

  def self.<%= service_method %>(params)
    new(params).tap(&:<%= service_method %>)
  end

  def initialize
  end

  def <%= service_method %>
    # Do all the things
  end
end
