class <%= class_name %>Form < FormObject
  define_model_callbacks :save

  def save
    return false unless valid?

    run_callbacks :save do
      if <%= class_name %>Service.<%= service_method %>(params)
        return true
      else
        errors.add(:base, "Something went wrong")
      end
    end
  end


  private

  def params
    # Define param map for service here
  end
end
