class Admin::<%= class_name.pluralize %>Controller < Admin::AdminController
  layout "tc_foundation_admin"
  before_action :load_<%= file_name %>_form
  <% routes.each do |route| %>
<%= controller_method_for(route) %>
  <% end %>
  private

  def load_<%= file_name %>_form
    @<%= file_name %>_form = <%= class_name %>Form.new(<%= file_name %>_params)
  end

  def <%= file_name %>_params
    params[:<%= file_name %>_form]
  end
end
