
 <fieldset id="report-filters">
  <form action="" method="GET">
    <ul>
      <li id="year-control">
        <label for="years-select"><%= custom_t(:year) %></label>
        <%= select_tag(custom_t(".year"), options_for_select(@years, [@year.to_s,@year.to_s]), :id => "year-select", :class => 'report')  %>
      </li>
      <li id="month-control">
        <label for="month-select"><%= custom_t(:month) %></label>
        <% selected = [Date::MONTHNAMES[@month.to_i], @month.to_i] %>
        <%= select_tag(custom_t(".month"), options_for_select(@months, selected), :id => "month-select", :class => 'report') %>
      </li>
    </ul>

    <%= hidden_field_tag "order", @order, :id => "order-field" %>
    <%= submit_tag custom_t(".refresh"), :class => "refresh-report" %>
  </form>
</fieldset>

<div id="spinner" class="hidden">
  <%= image_tag "/images/logo-spinner_40x40.gif" %>
</div>
