<%=
#
#
# Generate a CSV file to represent the report
#
#
  CSV.generate(SalesReport::CSV_OPTIONS) do |csv|
    # header
    build_report_row(csv) do
      [
        custom_t(".month"),
        custom_t(".albums_sold"),
        custom_t(".songs_sold"),
        custom_t(".songs_streamed"),
        custom_t(".net_earnings")
      ]
    end

    @report_months.each do |month|
      build_report_row(csv) do
        [
          Date::MONTHNAMES[month],
          @sales_report.month_albums_sold(month),
          @sales_report.month_songs_sold(month),
          @sales_report.month_songs_streamed(month),
          @sales_report.month_net_earnings(month)
        ]
      end
    end

    build_total_row(csv) do
      [
        "Totals:",
        @sales_report.albums_sold,
        @sales_report.songs_sold,
        @sales_report.songs_streamed,
        @sales_report.net_earnings
      ]
    end
  end
%>
