  <%= render :partial => "controls" %>
  <table>
    <thead>
      <tr>
        <th><%= custom_t(:month) %></th>
        <th><%= custom_t(:albums) %><br/> <%= custom_t(:sold) %></th>
        <th><%= custom_t(:songs_display) %><br/> <%= custom_t(:sold) %></th>
        <th><%= custom_t(:songs_display) %><br/> <%= custom_t(:streamed) %></th>
        <th><%= custom_t(".net") %><br/> <%= custom_t(".earnings") %></th>
      </tr>
    </thead>
    <tbody>
      <% @report_months.each do |month| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= link_to Date::MONTHNAMES[month], "#" + store_sales_reports_path(:year => @year || Time.now.year, :month => month) %></td>
          <td><%= number_with_delimiter(@sales_report.month_albums_sold(month)) %></td>
          <td><%= number_with_delimiter(@sales_report.month_songs_sold(month)) %></td>
          <td><%= number_with_delimiter(@sales_report.month_songs_streamed(month)) %></td>
          <td class="money"><%= money_to_currency(@sales_report.month_net_earnings(month)) %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td class="total"><%= custom_t(:total) %></td>
        <td><span><%= number_with_delimiter(@sales_report.albums_sold) %></span> <%= custom_t(:albums) %><br/> <%= custom_t(:sold) %></td>
        <td><span><%= number_with_delimiter(@sales_report.songs_sold) %></span> <%= custom_t(:songs_display) %><br/> <%= custom_t(:sold) %></td>
        <td><span><%= number_with_delimiter(@sales_report.songs_streamed) %></span> <%= custom_t(:songs_display) %><br/> <%= custom_t(:streamed) %></td>
        <td colspan="2" class="net-earnings"><%= money_to_currency(@sales_report.net_earnings) %><span><%= custom_t(".net_earnings") %></span></td>
      </tr>
    </tfoot>
  </table>
  <%= link_to(custom_t(".download_report"), csv_report_path, :class => 'button') %>
