<%= form_tag "/sales_reports/yearly_sales",  :id => "account-report" %>
  <div>
    <label><%= custom_t(".browse_by_year") %></label>
    <%= select_tag custom_t(".year"), options_for_select(@years,@year), :class => "browse-options" %>
  </div>

  <div id="monthly-account">
    <%= render :partial => "report"%>
  </div>
</form>

