<% if accounts.present? %>
  <table class="admin-payout-providers-table">
    <thead>
    <tr>
      <td>Tunecore User Name</td>
      <td>Payoneer Provider Identifier</td>
      <td>Payoneer Registered Email</td>
    </tr>
    </thead>
    <tbody>
      <%= render partial: "accounts_row", collection: accounts, as: :account %>
    </tbody>
  </table>
  <% else %>
    <div>
      <h2>No accounts found</h2>
    </div>
<% end %>
