<main class="content">
  <header class="row">
    <div class="twelve columns">
      <h1>Search for tunecore accounts by Payoneer Provider Identifier</h1>
      <div>
        <%= form_tag(admin_payout_providers_path, method: :get) do %>
          <%= text_field_tag(:search, params[:search]) %>
          <%= submit_tag("search") %>
        <% end %>
      </div>
    </div>
  </header>

  <div class="row">
    <section id="interstitial" class="callout_form">
      <div class="row">
        <div class="twelve columns">
          <%= render "accounts_table", accounts: @accounts %>
        </div>
      </div>
    </section>
  </div>
</main>