<% content_for :external_javascripts do %>
  <%= javascript_include_tag "my_artist" %>
<% end %>

<h1 class="my-artists-title">
  <%= link_to my_artists_path do %>
    <%= custom_t(".title") %>
  <% end %>
</h1>

<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <%#= image_tag @my_artist.artwork.try(:asset) %>
    <h3 class="my-artist-header cell medium-12"><%= @artist.name %></h3>
  </div>

  <%= react_component("MyArtist", {  releases: @my_artist.releases.as_json(only: [:creative_role, :id, :name], root: false),
                                     mappings: @my_artist.mappings.as_json,
                                     artist_name: @artist.name,
                                     apple_releases: @my_artist.releases_for("apple").as_json(only: [:album_name, :album_id], root: false),
                                     images: { getting_your_artist_id_demo: image_path("getting_your_artist_id_demo.gif")},
                                     translations: @translations.as_json }) %>
</div>
