.footer-wrapper {
  padding-top: 20px;

  .row {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
  }

  ul {
    li {
      font-weight: 400;

      a {
        padding: 0.5em 1em 0 0;
      }
    }
  }

  .footer-top {
    background-color: $bottom-nav-bg;
    border: 1px solid $brd_grey;
    border-width: 1px 0;
    margin-bottom: 5px;
    padding: 20px 0;

    .on-our-blog {
      font-size: 0.8em;
      margin-top: 10px;
    }

    .got-questions-btn {
      display: flex;

      a {
        background-color: $mid_color;
        border-color: $action_color;
        border-radius: 4px;
        color: $dark-body-text;
        cursor: pointer;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 0.8em;
        font-style: normal;
        font-weight: 500;
        line-height: 1;
        margin: auto;
        padding: 0.88em 1.5em;
        text-decoration: none;
        text-transform: capitalize;
        -webkit-font-smoothing: antialiased;
      }
    }
  }

  .footer-middle {
    padding-top: 40px;

    .section-titles {
      display: block;
      font-size: 0.78em;
      margin: 1em 0 0.5em;
      width: 100%;
    }

    .footer-column {
      border-left: 1px solid rgba(196, 196, 196, 1);
      float: left;
      padding: 0 20px;

      ul li a {
        color: $ft_light;
        font-family: Georgia, Palatino, serif;
        font-size: 0.7em;
        font-style: italic;
        line-height: 1.1;
        &:hover {
          color: $tc-black;
        }
      }
    }
  }

  .footer-bottom {
    padding: 30px 15px 20px;
    color: $ft_light;

    .made-in-nyc {
      font-size: 0.7em;
      padding-top: 25px;

      a {
        color: $ft_dark;
        &:hover {
          color: $ft_light;
        }
      }
    }
  }
}
