// To prevent flash of unstyled content
// https://foundation.zurb.com/sites/docs/responsive-navigation.html#preventing-fouc
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
      justify-content: flex-start;
    }
  }
}

//this specific tooltip css is necessary because the default tc-foundation tooltip attributes were overwritten
.header-tooltip {
  position: relative;
  border: 1px solid #FFFFA3;
  border-bottom: none;
  background-color: #FFFFA3;
  color: #555;
  max-width: 280px;
  font-size: 10.5px;
  padding: 4px;
}

.header-tooltip::after {//arrow
  content: "";
  position: absolute;
  bottom: 100%;
  left: 4%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #FFFFA3 transparent;
}

.navbar-wrapper {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;

  .navbar-top-wrapper {
    background-color: #000;
    width: 100%;
    padding: 0 10px;
    height: auto;

    .navbar-top-content {
      margin: auto;

      .title-bar  {
        justify-content: space-between;
        padding: 8px;
      }

      .top-bar    {
        padding: 0;
        flex-wrap: wrap;
      }

      .title-bar, .top-bar {
        background-color: #000;

        .logo {
          margin: 10px;
          margin-top: 1%;
        }

        .top-bar-left {
          ul { list-style-type: none; }
        }

        ul {
          background-color: #000;
          list-style: none;

          .foreign-exchange-balance-display {
            font-size: 0.9em;
            line-height: 1.2em;
            color: #3b96cf;
            padding: 0.7rem 0.2rem;
          }

          .foreign-exchange-balance-link {
            padding-right: 0.2rem;
          }

          .fx-rate-tooltip-text {
            font-size: 1.3em;
            color: #3b96cf;
            padding-top: 11px;
            padding-left: 3px;
          }

          li {
            padding: 8px 0px;

            a {
              color: white;
              font-size: 0.9em;
              line-height: 1.2em;

              #refer-a-friend-icon {
                margin-right: 3px;
              }
            }

            &.notifications {
              border-left: 1px solid #aaa;
              border-right: 1px solid #aaa;
              color: white;
              padding: 0;

              i {
                font-size: 1.5em;
                line-height: 40px;
              }

              .notifications_count {
                background-color: #cb0000;
                color: #fff;
                font-size: 0.7em;
                font-weight: bold;
                min-width: 15px;
                padding: 1px 5px 2px;
                text-align: center;
                position: absolute;
                top: 5px;
                left: 29px;
                border-radius: 5px;

                &.seen {
                  display: none;
                }
              }
            }

            button.user-menu {
              min-width: 170px;
              width: auto;
              border-radius: 4px;
              background-color: $tc-blue;
              padding: 0.5em 1.2em;
              margin-top: 5px;

              .user-menu-label {
                float: left;
                font-weight: 500;

                i { margin-right: 4px; }
              }
            }


            // TODO: simplify classes here with nesting if possible
            #user-menu-parent {
              padding: 0;
              margin-right: 10px;

              .user-menu {
                padding: 0.5em 2.2em 0.5em 1.2em;
                outline: none;

                .user-menu-label {
                  width: 156px;
                  text-align: left;
                }
              }
            }

            #user-menu-dropdown {
              background-color: $tc-blue;
              border-radius: 4px;
              top: 70%;
              right: auto;
              border: none;
              border-bottom-left-radius: 4px;
              border-bottom-right-radius: 4px;
              width: 207px;
              padding: 10px 15px;

              li {
                color: white;
                padding: 0;
                font-weight: 500;

                a { padding: 5px; }
              }

              .line-break {
                height: 1px;
                border-top: 1px solid white;
                width: 207px;
                position: relative;
                left: -15px;
                margin: 8px 0 4px;
              }
            }
          }
        }
      }

      .admin-section {
        .admin-btn {
          background-color: $tunecore_orange;
          border-radius: 4px;
          border: 1px solid rgba(216, 113, 13, 1);
          color: $white_background;
          font-size: 0.8em;
          font-weight: 500;
          margin-top: 5px;
          padding: 0.5em 1.2em;
          width: auto;
        }
      }
    }
  }

  .navbar-bottom-wrapper {
    background-color: $bottom-nav-bg;
    width: 100%;
    border-bottom: 1px solid $lt_border;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);

    .navbar-bottom-content {
      margin: auto;

      ul {
        background-color: $bottom-nav-bg;
        min-width: 328px;
        padding: 0;
        a {
          color: $tc-black;
          font-size: 0.9em;
          &:focus {
            color: $tunecore-blue;
          }
        }

        .dropdown-pane {
          border: 1px solid $lt_border;
          border-width: 0 1px 1px;
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
          padding-top: 10px;

          li {
            border-top: 1px solid $brd_grey;
            padding: 3px 0;
            list-style: none;
            display: inherit;

            a {
              padding: 5%;
              line-height: 112%;
            }

            strong {
              display: block;
              padding-bottom: 3px;
            }

            span {
              color: rgba(102, 102, 85, 1);
            }
          }
        }
      }
    }
  }
}
