#mobile-navbar {

  .notifications { border: none; }

  li a {
    font-weight: 600;

    &.no-hover { cursor: default; }
  }

  .nested {
    li a {
      padding: 0 1em;
      font-weight: normal;

      strong { font-weight: normal; }
    }
  }
}
