#placeholder-body {
  height: 1000px;
  padding: 300px;
}

.pagination {
  a {
    color: $tc-blue;
    display: inline-block;
  }
}

.notifications {
  max-width: 1024px;
  margin: auto;
  padding: 0 20px;

  .row {
    background: #44b1fa;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
}