<section class="grid_16" id="my-account">
<div style="border: 2px solid rgb(34, 34, 34); width: 600px; height: 185px; padding: 20px; background-color: rgb(255, 255, 238); margin: 20px auto; -moz-border-radius: 10px 10px 10px 10px;">

<p style="font-weight: bold; font-size: 16px;"><%= custom_t(".no_trend_data") %></p>

<% if @has_never_distributed %>
  <p><%= custom_t(".tunecore_daily_report") %></p>
  <p><%= link_to custom_t(".create_single_album"), new_album_path %></p>
<% else %>
  <p><%= custom_t(".thanks_distributing") %></p>
<% end %>

</div>
</section>



