<%
  data                         = {}
  data['last_trend_date']      = @last_trend_date if @last_trend_date
  data['sd']                   = @date_range.start_date
  data['ed']                   = @date_range.end_date
  data['locale']               = I18n.locale
  data['resolution']           = params[:resolution] if params[:resolution]
  data['album_id']             = params[:album_id] if params[:album_id]
  data['song_id']              = params[:song_id] if params[:song_id]
  data['album_downloads']      = @album_downloads if @album_downloads
  data['song_downloads']       = @song_downloads if @song_downloads
  data['ringtone_downloads']   = @ringtone_downloads if @ringtone_downloads
  data['streams']              = @streams if @streams
  data['releases_downloaded']  = @top_download_releases if @top_download_releases
  data['releases_streamed']    = @top_stream_releases if @top_stream_releases
  data['songs_downloaded']     = @top_download_songs if @top_download_songs
  data['songs_streamed']       = @top_stream_songs if @top_stream_songs
  data['ringtones']            = @top_ringtones if @top_ringtones
  data['markets']              = @top_us_markets if @top_us_markets
  data['countries_downloaded'] = @top_download_countries if @top_download_countries
  data['countries_streamed']   = @top_stream_countries if @top_stream_countries
%>

<script type="html/javascript" id="data"><%= raw(data.to_json) %></script>

<%
  links = [[custom_t('.all_releases'), url_for(:controller => 'trend_reports', :action => 'index', :sd => @date_range.start_date, :ed => @date_range.end_date, :resolution => params[:resolution], download_provider_ids: @form_download_provider_ids)]]
  links.push([@release.name, url_for(:controller => 'trend_reports', :action => 'release_view', :album_id => params[:album_id], :sd => @date_range.start_date, :ed => @date_range.end_date, :resolution => params[:resolution], download_provider_ids: @form_download_provider_ids)]) if @view == 'release_view' or @view == 'song_view' or @view == 'ringtone_view'
  links.push([display_name(@song), url_for(:controller => 'trend_reports', :action => 'song_view', :album_id => params[:album_id], :song_id => params[:song_id], :sd => @date_range.start_date, :ed => @date_range.end_date, :resolution => params[:resolution], download_provider_ids: @form_download_provider_ids)]) if @view == 'song_view'
%>

<section id="range">
  <div class="row collapse">
    <div class="eight columns" <% unless @last_trend_date.nil? %>style="margin-top: -120px;"<% end %>>
      <%= custom_t(".trend_report") %>
    </div>
  </div>
  <div class="trends_container row">
    <%= render :partial => 'shared/breadcrumb', :locals => {:links => links} %>
    <div class="row trends_range">
      <div class="eight columns" style="margin-top: 8px; margin-bottom:16px;">
        <form action="/trend_reports" method="get">
          <label for="resolution"><%= custom_t(".show_me") %></label>
          <%
            resolution = '1w'
            resolution = params[:resolution] if params[:resolution]
          %>
          <%= select_tag(:resolution, options_for_select(@duration_array, resolution)) %>
          <label for="ed"><%= custom_t(".ending_on") %></label>
          <input type="text" readonly="true" name="ed" class="date-box form-text" value="<%= @locale_end_date %>" id="ed" />
          <input type="submit" value="Go" class="btn btn-orange">
          <input type="hidden" name="sd" value="<%= @locale_start_date %>" id="sd" />
          <input type="hidden" name="album_id" value="<%= params[:album_id] %>"/>
          <input type="hidden" name="song_id" value="<%= params[:song_id] %>"/>
          <input type="hidden" name="download_provider_ids" id="download_provider_ids" value="<%= @form_download_provider_ids %>"/>
          <div class="clear"></div>
        </form>
      </div>
    </div>

    <section class="downloads <% if @downloads.length <= 0 %>grey-out<% end %>">
      <header class="row">
        <div class="columns twelve">
          <h2><%= custom_t(".downloads") %></h2>
        </div>
      </header>

      <div class="row trends_filter">
        <div class="columns twelve">
          <input type="checkbox" id="iTunesFilter" provider_id="<%= @provider_names['itunes'] %>" <% if @download_provider_ids.include? @provider_names['itunes'] %>checked="checked"<% end %>>
          <label for="iTunesFilter"><img src="/images/itunes_smallgray.png"></label>
          <input type="checkbox" id="amazonMP3Filter" provider_id="<%= @provider_names['amazon'] %>" <% if @download_provider_ids.include? @provider_names['amazon'] %>checked="checked"<% end %>>
          <label for="amazonMP3Filter"><img src="/images/amazonmp3_smallgray.png"></label>
        </div>
      </div>

      <% if @downloads.length <= 0 %>
        <div class="row no-trends">
          <div class="columns twelve">
            <p><%= custom_t(".no_sales") %></p>
          </div>
        </div>
      <% else %>
        <div style="padding: 15px;">
          <div class="row">
            <div class="twelve columns charts">
              <div class="chart_controls">
                <% unless (@album_downloads && @album_downloads.length <= 0) || @view == 'song_view' || @view == 'ringtone_view' %><input type="radio" name="chart_type" value="album" checked="checked" id="adcontrol"> <label for="adcontrol"><%= custom_t(".releases_sold") %> (<%= number_with_delimiter((@album_downloads.inject(0){|sum, o| sum + Integer(o['quantity'])}).to_i, :delimiter => ',') %>)</label><% end %>
                <% unless (@song_downloads && @song_downloads.length <= 0) || @view == 'ringtone_view' %><input type="radio" name="chart_type" value="song" id="sdcontrol"> <label for="sdcontrol"><%= custom_t(".songs_sold") %> (<%= number_with_delimiter((@song_downloads.inject(0){|sum, o| sum + Integer(o['quantity'])}).to_i, :delimiter => ',') %>)</label><% end %>
                <% unless (@ringtone_downloads && @ringtone_downloads.length <= 0) || @view == 'song_view' || @view == 'release_view' %><input type="radio" name="chart_type" value="ringtone" id="rdcontrol"> <label for="rdcontrol"><%= custom_t(".ringtones_sold") %> (<% if @ringtone_downloads %><%= number_with_delimiter((@ringtone_downloads.inject(0){|sum, o| sum + Integer(o['quantity'])}).to_i, :delimiter => ',') %><% else %>0<% end %>)</label><% end %>
              </div>
              <% if @album_downloads && @view != 'song_view' %><div class="chart hide" id="album_downloads"></div><% end %>
              <div class="chart hide" id="song_downloads"></div>
              <div class="chart hide" id="ringtone_downloads"></div>
            </div>
          </div>

          <div class="row tabs">
            <div class="twelve columns">
              <div class="trend-report-menu">
                <ul>
                  <% if @view == 'index' || @view == 'release_view'%>
                    <li class="active" section="songs"><a href="#"><%= custom_t(".top_songs") %></a></li>
                  <% end %>
                  <% if @view == 'index' %>
                    <li section="releases"><a href="#"><%= custom_t(".top_releases") %></a></li>
                  <% end %>
                  <% if @view == 'index' && @ringtones_sold %>
                    <li class="<%= @view == 'ringtone_view' ? "active" : "" %>" section="ringtones">
                      <a href="#"><%= custom_t(".top_ringtones") %></a>
                    </li>
                  <% end %>
                  <li class="<%= (@view == 'song_view' || @view == 'ringtone_view') ? "active" : "" %>" section="countries"><a href="#"><%= custom_t(".top_countries") %></a></li>
                  <li section="markets"><a href="#" class="top-us-markets-itunes"><%= custom_t(".top_us_markets") %></a></li>
                </ul>
              </div>
            </div>
          </div>

          <section class="tables">
            <% if @top_download_songs %>
              <div class="row songs <% if @view != 'release_view' && @view != 'index' %>hide<% end %>">
                <div class="columns twelve">
                  <table class="trends-table data-report">
                    <thead>
                      <tr>
                        <th class="header" style="width: 75px;"><%= custom_t(".rank") %></th>
                        <th class="header lt"><%= custom_t(".artist") %></th>
                        <th class="header lt"><%= custom_t(".song_title") %></th>
                        <th class="header lt"><%= custom_t(".release") %></th>
                        <th class="header lt"><%= custom_t(".release_type") %></th>
                        <th class="header {sorter: 'fancyNumber'}"><%= custom_t(".songs_sold") %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if !@top_download_songs.empty? %>
                        <% @top_download_songs.each_with_index do |r, index| %>
                          <tr>
                            <td><%= index + 1 %></td>
                            <td class="lt"><%= trend_artist_name(r, current_user) %></td>
                            <td class="lt"><%= link_to truncate(trend_song_title(r, current_user), :length => 30), {:controller => 'trend_reports', :action => 'song_view', :album_id => r['album_id'], :song_id => r['id'], :sd => @date_range.start_date, :ed => @date_range.end_date, :resolution => params[:resolution], download_provider_ids: @form_download_provider_ids}, {:title => r['name']} %></td>
                            <td class="lt"><%= link_to truncate(trend_album_title(r, current_user, 'name'), :length => 30), {:controller => 'trend_reports', :action => 'release_view', :album_id => r['album_id'], :sd => @date_range.start_date, :ed => @date_range.end_date, :resolution => params[:resolution], download_provider_ids: @form_download_provider_ids}, {:title => r['album_name']} %></td>
                            <td class="lt"><%= trend_release_type(r, current_user) %></td>
                            <td><%= number_with_delimiter(r['qty'].to_i, :delimiter => ',') %></td>
                          </tr>
                        <% end %>
                      <% else %>
                        <tr>
                          <td colspan="6" style="text-align: center;"><%= custom_t(".no_trend_data") %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <%= render :partial => "sales/pager" %>
                </div>
              </div>
            <% end %>
            <% if @top_download_releases %>
              <div class="row releases hide">
                <div class="columns twelve">
                  <table class="trends-table data-report">
                    <thead>
                      <tr>
                        <th class="header" style="width: 75px;"><%= custom_t(".rank") %></th>
                        <th class="header lt"><%= custom_t(".artist") %></th>
                        <th class="header lt"><%= custom_t(:title) %></th>
                        <th class="header lt"><%= custom_t(".release_type") %></th>
                        <th class="header {sorter: 'fancyNumber'}"><%= custom_t(".albums_sold") %></th>
                        <th class="header {sorter: 'fancyNumber'}"><%= custom_t(".songs_sold") %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if !@top_download_releases.empty? %>
                        <% @top_download_releases.each_with_index do |r, index| %>
                          <tr>
                            <td><%= index + 1 %></td>
                            <td class="lt"><%= trend_artist_name(r, current_user) %></td>
                            <td class="lt"><%= link_to truncate(trend_album_title(r, current_user, 'name'), :length => 30), {:controller => 'trend_reports', :action => 'release_view', :album_id => r['id'], :sd => @date_range.start_date, :ed => @date_range.end_date, :resolution => params[:resolution], download_provider_ids: @form_download_provider_ids}, {:title => "none"} %></td>
                            <td class="lt"><%= trend_release_type(r, current_user) %></td>
                            <td><%= number_with_delimiter(r['album_qty'].to_i, :delimiter => ',') %></td>
                            <td><%= number_with_delimiter(r['song_qty'].to_i, :delimiter => ',') %></td>
                          </tr>
                        <% end %>
                      <% else %>
                        <tr>
                          <td colspan="6" style="text-align: center;"><%= custom_t(".no_trend_data") %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <%= render :partial => "sales/pager" %>
                </div>
              </div>
            <% end %>
            <% if @ringtones_sold and @top_ringtones %>
              <div class="row ringtones hide">
                <div class="columns twelve">
                  <table class="trends-table data-report">
                    <thead>
                      <tr>
                        <th class="header" style="width: 75px;"><%= custom_t(".rank") %></th>
                        <th class="header lt"><%= custom_t(".artist") %></th>
                        <th class="header lt"><%= custom_t(".ringtone_title") %></th>
                        <th class="header {sorter: 'fancyNumber'}"><%= custom_t(".ringtones_sold") %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if !@top_ringtones.empty? %>
                        <% @top_ringtones.each_with_index do |r, index| %>
                          <tr>
                            <td><%= index + 1 %></td>
                            <td class="lt"><%= trend_artist_name(r, current_user) %></td>
                            <td class="lt"><%= link_to truncate(trend_album_title(r, current_user, 'name'), :length => 30), {:controller => 'trend_reports', :action => 'song_view', :album_id => r['album_id'], :song_id => r['id'], :sd => @date_range.start_date, :ed => @date_range.end_date, :resolution => params[:resolution], download_provider_ids: @form_download_provider_ids}, {:title => r['name']} %></td>
                            <td><%= number_with_delimiter(r['ringtone_qty'].to_i, :delimiter => ',') %></td>
                          </tr>
                        <% end %>
                      <% else %>
                        <tr>
                          <td colspan="4" style="text-align: center;"><%= custom_t(".no_trend_data") %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <%= render :partial => "sales/pager" %>
                </div>
              </div>
            <% end %>
            <% if @top_download_countries %>
              <div class="row countries <% if @view != 'song_view' and @view != 'ringtone_view' %>hide<% end %>">
                <div class="columns twelve">
                  <table class="trends-table data-report">
                    <thead>
                      <tr>
                        <th class="header" style="width: 75px;"><%= custom_t(".rank") %></th>
                        <th class="header lt"><%= custom_t(".market") %></th>
                        <th class="header {sorter: 'fancyNumber'}"><%= custom_t(".units_sold") %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if !@top_download_countries.empty? %>
                        <% @top_download_countries.each_with_index do |r, index| %>
                          <tr>
                            <td><%= index + 1 %></td>
                            <td class="lt"><%= r['name'] %></td>
                            <td><%= number_with_delimiter(r['qty'].to_i, :delimiter => ',') %></td>
                          </tr>
                        <% end %>
                      <% else %>
                        <tr>
                          <td colspan="3" style="text-align: center;"><%= custom_t(".no_trend_data") %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <%= render :partial => "sales/pager" %>
                </div>
              </div>
            <% end %>
            <% if @top_us_markets %>
              <div class="row markets hide">
                <div class="columns twelve">
                  <table class="trends-table data-report">
                    <thead>
                      <tr>
                        <th class="header" style="width: 75px;"><%= custom_t(".rank") %></th>
                        <th class="header lt"><%= custom_t(".market") %></th>
                        <th class="header {sorter: 'fancyNumber'}"><%= custom_t(".units_sold") %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if !@top_us_markets.empty? %>
                        <% @top_us_markets.each_with_index do |r, index| %>
                          <tr>
                            <td><%= index + 1 %></td>
                            <td class="lt"><%= r['cbsa_short_name'] %></td>
                            <td><%= number_with_delimiter(r['qty'].to_i, :delimiter => ',') %></td>
                          </tr>
                        <% end %>
                      <% else %>
                        <tr>
                          <td colspan="3" style="text-align: center;"><%= custom_t(".no_trend_data") %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <%= render :partial => "sales/pager" %>
                </div>
              </div>
            <% end %>
          </section>
        </div>
      <% end %>
    </section>

    <% if @streams.present? %>
      <div id="ad"></div>
    <% end %>

    <section class="streams <% if @streams.length <= 0 %>grey-out<% end %>">
      <header class="row">
        <div class="columns twelve">
          <h2><%= custom_t(".streams") %></h2>
        </div>
      </header>

      <% if @streams.length <= 0 %>
        <div class="row no-trends">
          <div class="columns twelve">
            <p><%= custom_t(".no_streams_reported") %></p>
          </div>
        </div>
      <% else %>
        <div class="row trends_filter">
          <div class="columns twelve">
            <input type="checkbox" id="spotifyFilter" provider_id="<%= @provider_names['spotify'] %>" checked="checked" disabled="disabled">
            <label for="spotifyFilter"><img src="/images/spotify_smallgray.png"></label>
          </div>
        </div>

        <div style="padding: 15px;">
          <div class="row">
            <div class="twelve columns charts">
              <div class="chart" id="streams_chart"></div>
            </div>
          </div>

          <div class="row tabs">
            <div class="twelve columns">
              <div class="trend-report-menu">
                <ul>
                  <% if @view == 'index' or @view == 'release_view'%><li class="active" section="songs"><a href="#"><%= custom_t(".top_songs") %></a></li><% end %>
                  <% if @view == 'index' %><li section="releases"><a href="#"><%= custom_t(".top_releases") %></a></li><% end %>
                  <li class="<%= (@view == 'song_view' or @view == 'ringtone_view') ? "active" : "" %>" section="countries"><a href="#"><%= custom_t(".top_countries") %></a></li>
                </ul>
              </div>
            </div>
          </div>

          <section class="tables">
            <% if @top_stream_songs %>
              <div class="row songs <% if @view != 'release_view' and @view != 'index' %>hide<% end %>">
                <div class="columns twelve">
                  <table class="trends-table data-report">
                    <thead>
                      <tr>
                        <th class="header" style="width: 75px;"><%= custom_t(".rank") %></th>
                        <th class="header lt"><%= custom_t(".artist") %></th>
                        <th class="header lt"><%= custom_t(".song_title") %></th>
                        <th class="header lt"><%= custom_t(".release") %></th>
                        <th class="header lt"><%= custom_t(".release_type") %></th>
                        <th class="header {sorter: 'fancyNumber'}"><%= custom_t(".songs_streamed") %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if !@top_stream_songs.empty?%>
                        <% @top_stream_songs.each_with_index do |r, index| %>
                          <tr>
                            <td><%= index + 1 %></td>
                            <td class="lt"><%= trend_artist_name(r, current_user) %></td>
                            <td class="lt"><%= link_to truncate(trend_song_title(r, current_user), :length => 30), {:controller => 'trend_reports', :action => 'song_view', :album_id => r['album_id'], :song_id => r['id'], :sd => @date_range.start_date, :ed => @date_range.end_date, :resolution => params[:resolution], download_provider_ids: @form_download_provider_ids}, {:title => r['name']} %></td>
                            <td class="lt"><%= link_to truncate(trend_album_title(r, current_user), :length => 30), {:controller => 'trend_reports', :action => 'release_view', :album_id => r['album_id'], :sd => @date_range.start_date, :ed => @date_range.end_date, :resolution => params[:resolution], download_provider_ids: @form_download_provider_ids}, {:title => r['album_name']} %></td>
                            <td class="lt"><%= trend_release_type(r, current_user) %></td>
                            <td><%= number_with_delimiter(r['qty'].to_i, :delimiter => ',') %></td>
                          </tr>
                        <% end %>
                      <% else %>
                        <tr>
                          <td colspan="6" style="text-align: center;"><%= custom_t(".no_trend_data") %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <%= render :partial => "sales/pager" %>
                </div>
              </div>
            <% end %>
            <% if @top_stream_releases %>
              <div class="row releases hide">
                <div class="columns twelve">
                  <table class="trends-table data-report">
                    <thead>
                      <tr>
                        <th class="header" style="width: 75px;"><%= custom_t(".rank") %></th>
                        <th class="header lt"><%= custom_t(".artist") %></th>
                        <th class="header lt"><%= custom_t(:title) %></th>
                        <th class="header lt"><%= custom_t(".release_type") %></th>
                        <th class="header {sorter: 'fancyNumber'}"><%= custom_t(".songs_streamed") %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if !@top_stream_releases.empty? %>
                        <% @top_stream_releases.each_with_index do |r, index| %>
                          <tr>
                            <td><%= index + 1 %></td>
                            <td class="lt"><%= trend_artist_name(r, current_user) %></td>
                            <td class="lt"><%= link_to truncate(trend_album_title(r, current_user, 'name'), :length => 30), {:controller => 'trend_reports', :action => 'release_view', :album_id => r['id'], :sd => @date_range.start_date, :ed => @date_range.end_date, :resolution => params[:resolution], download_provider_ids: @form_download_provider_ids}, {:title => r['name']} %></td>
                            <td class="lt"><%= trend_release_type(r, current_user) %></td>
                            <td><%= number_with_delimiter(r['stream_qty'].to_i, :delimiter => ',') %></td>
                          </tr>
                        <% end %>
                      <% else %>
                        <tr>
                          <td colspan="5" style="text-align: center;"><%= custom_t(".no_trend_data") %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <%= render :partial => "sales/pager" %>
                </div>
              </div>
            <% end %>
            <% if @top_stream_countries %>
              <div class="row countries <% if @view != 'song_view' and @view != 'ringtone_view' %>hide<% end %>">
                <div class="columns twelve">
                  <table class="trends-table data-report">
                    <thead>
                      <tr>
                        <th class="header" style="width: 75px;"><%= custom_t(".rank") %></th>
                        <th class="header lt"><%= custom_t(".market") %></th>
                        <th class="header {sorter: 'fancyNumber'}"><%= custom_t(".units_streamed") %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if !@top_stream_countries.empty? %>
                        <% @top_stream_countries.each_with_index do |r, index| %>
                          <tr>
                            <td><%= index + 1 %></td>
                            <td class="lt"><%= r['name'] %></td>
                            <td><%= number_with_delimiter(r['qty'].to_i, :delimiter => ',') %></td>
                          </tr>
                        <% end %>
                      <% else %>
                        <tr>
                          <td colspan="3" style="text-align: center;"><%= custom_t(".no_trend_data") %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <%= render :partial => "sales/pager" %>
                </div>
              </div>
            <% end %>
          </section>
        </div>
      <% end %>
    </section>
  </div>

  <% if @trend_count > 0 %>
    <section class="download_report">
      <div class="row collapse">
        <div class="twelve columns">
          <h2><%= custom_t(".downloadable_reports") %></h2>
          <%= custom_t(".download_trend_data") %>
          <%= link_to(custom_t(".download_report"), {:album_id=>params[:album_id], :song_id=>params[:song_id], :ed=>@date_range.end_date, :sd=>@date_range.start_date, :format=>"csv"}, {:class=>"btn btn-callout btn-download-report"}) %>
        </div>
      </div>
    </section>
  <% end %>

  </section>

  <div id="usmarketsmodal" class="hide" title="iTunes Only">
    <%= custom_t(".sorry") %>
  </div>
  <%= render :partial => 'shared/trend_modal' %>
  <%= render :partial => 'shared/trend_csv_modal' %>

</section>
