<% content_for :css do %>
  <link type="text/css" rel="stylesheet" href="/stylesheets/trends.css" />
<% end %>
<% content_for :external_javascript do %>
  <script type="text/javascript" src="/javascripts/d3.v3.min.js"></script>
  <script type="text/javascript" src="/javascripts/plugins/jquery.tablesorter.js"></script>
  <script type="text/javascript" src="/javascripts/plugins/jquery.quicksearch.js"></script>
  <script type="text/javascript" src="/javascripts/plugins/jquery.tablesorter.pager.js"></script>
  <script type="text/javascript" src="/javascripts/plugins/jquery.metadata.js"></script>
  <script type="text/javascript" src="/javascripts/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="/javascripts/app/trends.js?<%= File.mtime("public/javascripts/app/trends.js").to_i %>"></script>
<% end %>

<%= render "shared/ticker" %>

<%
  @view = (@release and @release.album_type == 'Ringtone') ? 'ringtone_view' : params[:action]
%>

<section id="trends" action="<%=@view%>">
  <header>
    <div class="row title collapse">
      <div class="four columns">
        <h1 class="title blue"><%= custom_t(".daily_trend") %></h1>
        <div class="twelve columns">
          <br/>
          <% if @last_trend_date.nil? || @trend_count <= 0 %>
            <%= render :partial => "no_trends" %>
          <% end %>
        </div>
      </div>
      <div class="four columns">
        <div class="titletip">
          <a href="#" class="trendmodal"><img src="/images/help_icon.png" style="margin-right: 10px; margin-top: 5px; float: left;"><%= custom_t(".difference_between") %></a>
        </div>
      </div>
      <div class="four columns trends_status">
        <header class="row">
          <div class="twelve columns">
            <h3><%= custom_t(".system_status") %></h3>
          </div>
        </header>
        <div class="row">
          <div class="twelve columns">
            <%= custom_t(".last_synchronized") %>
          </div>
        </div>
        <div class="row">
          <div class="seven columns text-right">
            iTunes<br>
            Amazon Music<br>
            Spotify<br>
          </div>
          <div class="five columns text-right">
            <% if @last_trend_imports[:itunes] %><%= fmt_country_date(@last_trend_imports[:itunes]) %><% else %><%= custom_t(:na) %><% end %><br>
            <% if @last_trend_imports[:amazon] %><%= fmt_country_date(@last_trend_imports[:amazon]) %><% else %><%= custom_t(:na) %><% end %><br>
            <% if @last_trend_imports[:spotify] %><%= fmt_country_date(@last_trend_imports[:spotify]) %><% else %><%= custom_t(:na) %><% end %><br>
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <%= custom_t(".note") %>
          </div>
        </div>
      </div>
    </div>
  </header>

  <% if ! @last_trend_date.nil? || @trend_count > 0 %>
    <%= render :partial => "trends_main" %>
  <% end %>
