<% content_for :css do %>
  <link type="text/css" rel="stylesheet" href="/stylesheets/trends.css" />
<% end %>
<% content_for :external_javascript do %>
  <script type="text/javascript" src="/javascripts/d3.v3.min.js"></script>
  <script type="text/javascript" src="/javascripts/plugins/jquery.tablesorter.js"></script>
  <script type="text/javascript" src="/javascripts/plugins/jquery.quicksearch.js"></script>
  <script type="text/javascript" src="/javascripts/plugins/jquery.tablesorter.pager.js"></script>
  <script type="text/javascript" src="/javascripts/plugins/jquery.metadata.js"></script>
  <script type="text/javascript" src="/javascripts/moment.js"></script>
  <script type="text/javascript" src="/javascripts/app/trends.js?<%= File.mtime("public/javascripts/app/trends.js").to_i %>"></script>
<% end %>

<%
  @view = (@release and @release.album_type == 'Ringtone') ? 'ringtone_view' : params[:action]
%>

<section id="trends" action="<%=@view%>">
  <header>
    <div class="row title collapse">
      <div class="four columns">
        <h1 class="title blue"><%= custom_t(".daily_trend") %></h1>
        <div class="twelve columns">
          <br/>
            <section class="grid_16" id="my-account">
<div style="border: 2px solid rgb(34, 34, 34); width: 600px; height: 185px; padding: 20px; background-color: rgb(255, 255, 238); margin: 20px auto; -moz-border-radius: 10px 10px 10px 10px;">

    <p style="font-weight: bold; font-size: 16px;"><%= custom_t(".trend_unavailable") %></p>
<p style="font-weight: bold; font-size: 16px;"><%= custom_t(".sorry") %></p>

            </div>
          </section>
        </div>
      </div>
  </header>

