<div class="error-notification">
  <% if flash[:errors].present? %>
    <% flash.each do |key, value| %>
      <%= content_tag :span, value.first, class: "flash #{key}" %>
    <% end %>
  <% end %>
</div>
