<div class="authentication-step">
  <%= render partial:"code_sent" %>
  <%= render partial: "authentication_errors" %>
  <div class="enter-code-wrapper">
    <%= f.text_field :auth_code, label: custom_t("two_factor_authentication.enter_code"),
          id: "tfa_form_auth_code", class: "auth-code-input", autocomplete: "off", autofocus: true %>
    <div class="resend-code-link">
      <span class="didnt-get-code">
        <%= custom_t("two_factor_authentication.didnt_get_the_code_btn") %>
        <%= button_tag(custom_t("two_factor_authentication.resend") + "<i id='two-factor-resend-spinner' class='fa fa-spinner fa-spin fa-fw hidden'></i>".html_safe,
                       class: "two-factor-resend-preferences-btn", type: "button",
                       id: "two-factor-resend-preferences-btn") %>
      </span>
    </div>

    <div class="try-another-way">
      <span><%= "#{custom_t(:try_another_way)}: "%></span>
      <%= link_to custom_t("#{two_factor_auth.alternate_method}_me"),
        api_backstage_two_factor_auth_resends_path(alternate_method: true), method: :post, remote: true %>
    </div>
    <%= f.hidden_field :page, value: @authentication.page %>
    <%= f.hidden_field :tfa_action, value: @authentication.tfa_action %>
  </div>
</div>
