<p class="sign-in-msg"><%= custom_t("two_factor_authentication.sign_in_to_tunecore") %></p>

<%= render partial: "authentication_errors" %>

<div class="sign-in-step">
  <%= f.text_field :email, label: custom_t(:email_address), id: "tfa_form_email" %>
  <%= f.password_field :password, label: custom_t(:password), id: "tfa_form_password" %>
  <%= f.hidden_field :page, value: @authentication.page %>
  <%= f.hidden_field :tfa_action, value: @authentication.tfa_action %>
</div>
