<% content_for :external_javascript do %>
  <%= javascript_include_tag "two_factor_auth" %>
<% end %>

<% content_for :css do %>
  <% if @dark_mode %>
    <%= stylesheet_link_tag "dark_mode/two_factor_auth" %>
  <% end %>
<% end %>

<div class="tfa-container">
  <h2 class="tfa-auth-header"><%= two_factor_authentication_title(@authentication.page) %></h2>

  <div class="tfa-form-wrapper">
    <div class="tfa-form-header">
      <h2><%= custom_t("two_factor_authentication.verify_login_details") %></h2>
    </div>
    <div class="tfa-form-step-body">
      <%= form_for @authentication, url: two_factor_auth_authentications_path,
            method: :post do |f| %>
        <%= render authentication_partial(@authentication), f: f,
              person: @authentication.person,
              two_factor_auth: @authentication.person.two_factor_auth %>
        <% if @authentication.success_callbacks.present? %>
          <% @authentication.success_callbacks.each do |callback| %>
            <%= f.hidden_field :success_callbacks, value: callback, multiple: true%>
          <% end %>
        <% end %>
        <div class="tfa-form-bottom tfa-auth-bottom">
          <%= f.submit custom_t("tfa_form.next"),
                data: { current_step: @authentication.tfa_action },
                class: "next-btn authentication" %>
          <% if @authentication.on_authentication_action? %>
            <p class="need-help">
              <%= custom_t("two_factor_authentication.need_help",
                  link: (link_to custom_t(:contact_us), knowledgebase_link_for("two-factor-auth-faq"))) %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "two_factor_auth/shared/call_resend_banned_modal" %>
