<% @page_title = "Dashboard" %>
<%= render :partial => '/admin/shared/searchbox'%>
<div id="sales_listing" class="grid_8 alpha">
  <h2>Querying</h2>
  <ul>
    <li><%= link_to_with_removal_notice 'Search', admin_albums_path %></li>
    <li><%= link_to 'Locked Albums', admin_locks_path %></li>
  </ul>

  <h2>Reporting</h2>
  <ul>
    <% if FeatureFlipper.show_feature? :new_reporting_dashboard, current_user %>
      <li><%= link_to_with_removal_notice 'NEW! Reporting Dashboard', new_reports_path %></li>
    <% end %>
    <li><%= link_to_with_removal_notice 'Reporting Dashboard', product_reports_path(country: "US") %></li>
    <li><%= link_to_with_removal_notice 'US Distribution Reports', admin_distribution_reports_path %></li>
    <li><%= link_to_with_removal_notice 'CA Distribution Reports', canada_admin_distribution_reports_path %></li>
    <li><%= link_to_with_removal_notice 'Settlement Summaries', admin_settlement_summaries_path(country: "US") %></li>
    <li><%= link_to_with_removal_notice 'Video Reports', videos_admin_reports_path %></li>
    <li><%= link_to_with_removal_notice 'Other Reports', view_admin_reports_path %></li>
    <li><%= link_to_with_removal_notice 'Batch Renewals Report', admin_renewal_batch_transactions_path %></li>
    <li><a href="http://sip.tunecore.com/postings/status" target="_blank">Store Postings Status</a></li>
    <!-- <li><%= link_to 'Friend Referrals', admin_friend_referrals_path %></li> -->
    <li><%= link_to_with_removal_notice 'TC Social Cancellation Report', admin_reports_tc_social_cancellations_path %></li>
    <li><%= link_to "Direct Advance Reports", admin_direct_advance_index_path %></li>
    <%- if current_user.has_role?('TC Reporter') -%>
      <li><%= link_to 'Aging Accounts', admin_aging_accounts_path %></li>
    <%- end -%>
  </ul>

  <% if current_user.has_role?('Publishing Manager') || current_user.has_role?('Publishing Viewer')%>
    <h2>Publishing Administration</h2>
    <ul>
      <li><a href="/admin/publishing_composers/list">Composers</a></li>
      <li><a href="/admin/publishing_lods">Letters of Direction</a></li>
      <%- if current_user.has_role?('Publishing Manager') -%>
       <%- if PublishingComposer.summary_exists? %>
         <li><%= link_to_with_removal_notice 'Download Composer Summary', download_summary_admin_publishing_composers_path %> (<%= PublishingComposer.summary_last_modified -%>)</li>
       <%- else -%>
         <!-- <li>Download Summary (not yet available)</li> -->
       <%- end -%>
     <%- end -%>
      <li><a href="/admin/publishing_composition_splits">Publishing Splits Search</a></li>
    </ul>
  <% end %>

  <% if current_user.has_role?('YTM Approver') %>
    <h2>YouTube Sound Recording Revenue Administration</h2>
    <ul>
      <li><a href="<%= admin_youtube_preferences_path %>">YouTube Channel Administration</a></li>
      <li><%= link_to 'Youtube Track Approval', admin_youtube_track_monetization_judgements_path %></li>
      <li><%= link_to "Facebook Track Approval", admin_facebook_track_monetization_judgements_path %></li>
    <% if current_user.has_role?('Content Review Specialist') || current_user.has_role?('Content Review Manager') %>
      <li><%=link_to "Automated Emails", admin_youtube_sr_mail_template_builders_path %></li>
      <li><%= link_to "YouTube Content ID Monetization Email Templates", admin_youtube_sr_mail_templates_path %></li>
    <% end %>
    </ul>
  <% end %>

  <h2>Monitoring and Administration</h2>
  <ul>
    <!-- <li><%= link_to "Destroy Flacs", flac_admin_albums_path %></li> -->
    <li><%= link_to "Mass retry tool", admin_petri_retry_distributions_path %></li>
    <li><%= link_to "Mass takedown tool", admin_petri_mass_takedown_path %></li>
    <li><%= link_to "Mass un-takedown tool",  admin_petri_mass_untakedown_path%></li>
    <!-- <li><%= link_to "Failed takedowns", admin_failed_takedowns_path %></li> -->
    <li><%= link_to "Mass expire tool", admin_mass_update_renewals_path  %></li>
    <li><%= link_to "Mass Unfinalize / Finalize Tool", mass_unfinalize_finalize_admin_albums_path %></li>
    <li><%= link_to "Mass takedown youtube tracks", admin_youtube_monies_mass_takedown_path %></li>
    <li><%= link_to "Mass monetization block", admin_mass_monetization_block_path %></li>
    <li><%= link_to "Bulk add stores by albums", new_admin_bulk_add_stores_by_album_path %></li>
    <li><%= link_to "Bulk add stores by users", new_admin_bulk_add_stores_by_user_path %></li>
    <li><%= link_to "View Sidekiq dashboard", admin_worker_queues_path %></li>

    <li><%= link_to "Petri Error Summary", admin_distribution_errors_path %></li>
    <li><%= link_to "Delivery Errors", admin_distributor_errors_path %></li>

    <li><%= link_to "Distribution Batch Retry Reports", admin_distribution_batch_retry_reports_path %></li>
    <li><%= link_to "Delivery Batches", admin_delivery_batches_path %></li>
    <% if current_user.has_role?('Finance Admin') %>
      <li><%= link_to "Pegged Rates", admin_foreign_exchange_pegged_rates_path %></li>
    <% end %>
    <li><%= link_to "Add Paid Salepoint Tool", edit_admin_add_salepoint_path %></li>
  </ul>

  <h2>Credit Card and PayPal Transactions</h2>
  <ul>
    <li><%= link_to 'Search/Manage Transactions', admin_transactions_path %></li>
  </ul>
  <% if current_user.has_role?("Content Review Manager") || current_user.has_role?("Content Review Specialist")%>
  <h2> Content Review </h2>
  <ul>
    <% if current_user.has_role?("Content Review Manager") %>
      <li><%=link_to_with_removal_notice "Reasons", :controller => 'admin/review_reasons', :action => 'index'%></li>
    <% end %>
  </ul>
  <% end %>
</div>
<div id="sales_listing" class="grid_8 omega">
  <h2>BizDev</h2>
  <ul>
    <!-- <li><%= link_to 'Store', current_admin_promotional_products_path %></li> -->
    <li><%= link_to 'Distribution Credit Purchase', '/products/22/add_to_cart' %></li>
    <% if current_user.has_role?('Certs') %>
    <li><%= link_to_unless_current("Certs", '/admin/cert_batches') %></li>
    <% end %>
  </ul>
  <% if current_user.has_role?('CMS') %>
  <h2>Content Management</h2>
  <ul>
    <!-- <li><%= link_to "CMS Images (File Based)", :controller => 'admin/content', :action => 'images'%></li> -->
    <li><%= link_to "Promo CMS", 'admin/cms' %></li>
    <li><%= link_to "Meta Tags", admin_meta_tags_path %></li>
    <% if tc_social_allowed_for?(current_user) %>
      <!-- <li><%= link_to "TuneCore Social", tc_social_index_path %></li> -->
    <% end %>
  </ul>
  <% end %>
  <% if  current_user.has_role?("EFT") %>
  <h2>Withdrawal Management</h2>
  <ul>
    <li><%= link_to 'Stored Bank Accounts', admin_stored_bank_accounts_path %></li>
    <li><%= link_to "EFT Withdrawals", admin_eft_batch_transactions_path %></li>
    <li><%= link_to "EFT Batches Sent to Bank", admin_eft_batches_path %></li>
    <li><%= link_to "EFT Daily Processing Summary", admin_eft_queries_path %></li>
    <li><%= link_to "EFT Approval Summary", approval_summary_admin_eft_batch_transactions_path %></li>
    <% if current_user.has_role?("Payout Service") %>
    <li><%= link_to "Payout Service Fees", admin_payout_service_fees_path %></li>
    <% end %>
    <li><%= link_to_unless_current("Payments", {:controller => 'admin/payment', :action => 'index'}) %></li>
    <li><%= link_to "Blacklisted Paypal Payees", admin_blacklisted_paypal_payees_path %></li>
    <% if current_user.has_role?("Tax Tokens Cohort") %>
      <li><%= link_to "Tax Tokens Cohorts", admin_tax_tokens_cohorts_path %></li>
    <% end %>
  </ul>
  <%= render partial: "admin/shared/provider_payout_links" %>
  <% end -%>
  <% if current_user.has_role?('Targeted Offers') %>
  <h2>Targeted Offers and Advertisements</h2>
  <ul>
    <li><%= link_to 'Targeted Offers', :controller => 'admin/targeted_offers', :action => 'index'%></li>
    <!-- <li><%= link_to "Advertisements", :controller => 'admin/advertisements', :action => 'index', :country => "US"%></li> -->
  </ul>
  <% end %>

  <% if current_user.has_role?('Refunds') || current_user.has_role?('Mass Adjustments') %>
  <h2>Balance Adjustments</h2>
  <ul>
    <% if current_user.has_role?('Refunds') %>
      <li><%= link_to "Songwriter Royalty Ingestion", :controller => 'admin/batch_balance_adjustments', :action => 'new' %></li>
    <% end %>
    <% if current_user.has_role?('Mass Adjustments') %>
      <li><%= link_to "Mass Balance Adjustments", new_admin_mass_adjustment_path %></li>
    <% end %>
  </ul>
  <% end %>


  <% if current_user.has_role?("Notifications") %>
    <h2>Notifications</h2>
    <ul>
      <li><%= link_to "Notifications", admin_notifications_path %>
    </ul>
  <% end %>

  <% if current_user.has_role?("CMS") %>
  <h2>Manage Knowledgebase Links</h2>
  <ul>
    <li><%= link_to "View/Update Help Links", admin_knowledgebase_links_path %></li>
  </ul>
  <% end %>
  <% if current_user.has_role?("CMS") %>
  <h2>Developer/Administration Tools</h2>
  <ul>
    <!-- <li><%= link_to "Translations Check", admin_translations_path %></li> -->
    <li><%= link_to "Stores", admin_stores_path %></li>
  </ul>
  <% end %>
  <% if qa_or_dev_environment? %>
    <h2>QA Tools</h2>
    <ul>
      <li><%= link_to "Album Approval Tool", admin_qa_tools_album_approvals_path %></li>
    </ul>
  <% end %>
</div>
