<%= render(:partial => "product_snapshot", :locals => {:product_report => @snapshot_report, 
                                                      :sales_overview_report => @sales_overview_report,
                                                      :customer_report => @customer_report})%>
<%= render(:partial => "product_report", :locals => {:report => @product_report}) %>