<% content_for :external_javascript do -%>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <%= javascript_include_tag "/javascripts/app/admin_detail_report" %>
<% end -%>

<fieldset class="admin-report-filter small">
  <%= form_tag(product_reports_path, :method => :get) do -%>
    <div>
      <div class="left-column grid_7">
        <div>
          <label>
            Select Resolution
          </label>
          <%= select_tag("resolution", options_for_select([["Day","day"], ["Week", "week"], ["Month", "month"]],params[:resolution])) %>
        </div>
      </div>
    </div>

    <div class="left-column grid_7">
      <div>
        <label>
          Select Date Range
        </label>
        <%= select_tag("day_range", options_for_select(ProductReport::DAILY_RANGE_OPTIONS, params[:day_range] || 'last_7_days'), :class => 'range-select', :style => "#{'display: none;' if @resolution != 'day'}") %>
        <%= select_tag("month_range", options_for_select(ProductReport::MONTHLY_RANGE_OPTIONS, params[:month_range] || 'last_6_months'), :class => 'range-select', :style => "#{'display: none;' if @resolution != 'month'}") %>
        <%= select_tag("week_range", options_for_select(ProductReport::WEEKLY_RANGE_OPTIONS, params[:week_range] || 'last_6_weeks'), :class => 'range-select', :style => "#{'display: none;' if @resolution != 'week'}") %>
        <div id="custom-date-selection" style="<% if @custom_dates.nil? %> display: none <% end %>">
          <%= label_tag(:start_date) %>
          <%= select_date(@custom_dates ? @custom_dates[:start_date] : Date.today, :prefix => 'custom_date_range[start_date]', :order =>[:month, :day, :year]) %><br/>

          <%= label_tag(:end_date) %>
          <%= select_date(@custom_dates ? @custom_dates[:end_date] : Date.today, :prefix => 'custom_date_range[end_date]', :order =>[:month, :day, :year]) %>
        </div>
      </div>
    </div>

    <div class="grid_10" style="margin-top: 5px; clear: both;">
      <%= hidden_field_tag :country, @country_website.country %>
      <%= submit_tag("Search")%>
      <%= link_to("Reset", product_reports_path, :class => "cancel") %>
    </div>
  <% end -%>
</fieldset>
