<% report.data_table.rows.each do |row| -%>
  <tr class="<%= cycle('odd', 'even')%>">
      <% if report.data_table.row_title_included? -%>
        <% product = report.stored_product_for(row.row_title) %>
        <th class="side">
          <%= link_to( "#{row.row_title} #{product.name}", preorder_reports_admin_product_reports_path(:preorder_type => row.row_title, :day_range => 'last_7_days', :resolution => 'day', :country => @country_website.country)) %>
          <br /><%= "#{product.product_type} - #{product.status}"%>
          <%= raw("<br /> #{money_to_currency(product.price.to_money(product.currency))}") if product.price != 0.0 %>
        </th>
      <% end -%>
      <% row.cells.each do |cell| -%>
        <%= render(:partial => "reports_shared/report_cell_#{cell.data_type}", :locals => {:value => cell.value}) %>
      <% end -%>
      <% if report.data_table.include_total_and_avg? -%>
        <% if row.show_total? -%>
          <%= render(:partial => "reports_shared/report_cell_#{row.total_data_type}", :locals => {:value => row.total}) %>
        <% else -%>
          <%= render(:partial => "reports_shared/report_cell_string", :locals => {:value => '-'}) %>
        <% end -%>

        <% if row.show_average? -%>
          <%= render(:partial => "reports_shared/report_cell_#{row.average_data_type}", :locals => {:value => row.average}) %>
        <% else -%>
            <%= render(:partial => "reports_shared/report_cell_string", :locals => {:value => '-'}) %>
        <% end -%>
      <% end -%>
  </tr>
<% end -%>
