<div class="subsection">

  <h2>Product Snapshot - Total Purchases in Last 7 Days (<%= link_to("Distribution Reports", :controller => "admin/distribution_reports", :action => "index") %>)</h2>
  <%= render :partial => "admin/shared/country_links" %>
  <%= render(:partial => "index_search_form") %>
	<div class='floatR'>
		<strong>All Amounts in <%= @country_website.currency %> <%= flag(@country_website) %></strong>
	</div>

  <table class="data-report">
    <%= render(partial: "reports_shared/report_headers", locals: {headers: @headers})%>
    <tbody>
      <%= render(partial: "reports_shared/report_rows", locals: {report: @sales_overview_report }) %>
      <%= render(partial: "reports_shared/report_rows", locals: {report: @customer_report }) %>
      <%= render(partial: "product_rows", locals: {report: @product_report }) %>
      <%= render(partial: "preorder_product_rows", locals: {report: @preorder_report}) %>
    </tbody>
  </table>
</div>
