<%= render(:partial => "search_form") %>

<% if @report_type == "snapshot" -%>
  <%= render(:partial => "product_snapshot", :locals => {:product_report => @snapshot_report, 
                                                      :sales_overview_report => @sales_overview_report,
                                                      :customer_report => @customer_report})%>
<% elsif @report_type == "product" -%>
  <%= render(:partial => "product_report", :locals => {:report => @product_report}) %>
<% elsif @report_type == "renewal" -%>
  <%= render(:partial => "renewal_report", :locals => {:report => @renewal_report}) %>
<% end -%>