<%= render(:partial => "search_form") %>

<div class="subsection">
  <% product = @preorder_report.product %>
  <%= render(:partial => "product_sales_info_header", 
             :locals => {:product_name => "#{@preorder_report.preorder_type} " + product.name, 
             :product_id => product.id,
             :product_status => product.status}) %>
  <table class="data-report">
    <thead>
      <%= render(:partial => "reports_shared/report_headers", :locals => {:headers => @preorder_report.data_table.headers})%>
    </thead>
    <%= render(:partial => "reports_shared/report_rows", :locals => {:report => @preorder_report}) %>
  </table>
</div>
