.fbtracks {
  &-container {
    @extend .grid-y;
    padding-top: 3%;
  }

  &-desc {
    @extend .cell;

    ol {
      margin: 0% auto;
      width: 60%;
    }

    &-bullet {
      @extend .cell;
      margin-top: 1%;
    }
  }

  &-header {
    @extend .grid-x;

    &-title {
      @extend .cell;
      @extend .small-9;

      font-size: 1.5 * $tc-base-font-size;
      font-weight: bold;
    }

    .fa-facebook-square {
      @extend .cell;
      @extend .small-1;
      @extend .text-right;

      color: $facebook-blue;
      font-size: 2 * $tc-base-font-size;
    }
  }

  &-ready-when-you-are {
    @extend .cell;
    @extend .small-6;

    background-color: $gray_background;
    border: 1px solid $tunecore_bright_blue;
    display: block;
    font-size: $tc-base-font-size;
    margin: 3% auto;
    max-width: 60%;
    padding: 1%;
    text-align: center;

    &-link {
      color: black;
      font-weight: bold;
      text-decoration: underline;
    }

    &-title {
      @extend .cell;

      font-weight: bold;
      margin-bottom: 1%;
    }
  }

  &-legal-line {
    margin-top: 10%;
  }

  &-sign-up {
    @extend .cell; 

    display: block;
    font-weight: bold;
    margin: 2% auto;
    width: 60%;

    &-button {
      @extend .button;

      background-color: $tunecore_blue;
      color: white;
      display: block;
      font-weight: bold;
      margin: 2% auto 0 auto;
      text-align: center;
      white-space: normal;
      width: 30%;
    }
  }

  &-terms-link {
    @extend .cell;
    color: $mid_color;
  }

}

// mobile
@media(max-width: 800px) and (min-width: 320px) {
  .fbtracks {

    &-desc {
      font-size: 3vw;

      ol {
        margin: 0% auto;
        width: 80%;
      }
    }

    &-header{

      &-title{
        font-size: 5vw;
      }

      .fa-facebook-square { 
        font-size: 8vw;
      }
    }

    &-legal-line {
      font-size: 3vw;
    }

    &-sign-up {
      font-size: 3vw;
      text-align: center;
      width: 85%;
  
      &-button {
        font-size: 3vw;
        width: 85%;
      }
    }
  }
}
