.fbtracks-subscription-modal {
  background: $white_background;
  margin: auto;
  max-width: 800px;
  overflow-y: auto;
  padding: 3% 3% 2% 3%;
  position: relative;
  text-align: justify;

  .fa-times-thin:before {
    content: '\00d7';
  }
  
  .close-modal {
    color: $tunecore_bright_blue;
    font-size: 2.75 * $tc-base-font-size;
    font-weight: 100;
    position: absolute;
    right: 2%;
    top: 3%;
  }

  .fbtracks-header-title {
    font-size: 1.5 * $tc-base-font-size;
    font-weight: bold;
  }

  .fa-facebook-square {
    color: $facebook-blue;
    float: right;
    font-size: 1.5 * $tc-base-font-size;
    margin-top: -1%;
    padding-right: 8%;
  }

  .fbtracks-desc {
    font-size: 1.1 * $tc-base-font-size;
  }

  .fbtracks-legal-line {
    display: inline-block;
    margin: 0% auto;
    padding-left: 12%;
  }

  .fbtracks-sign-up {
    display: block;
    font-weight: bold;
    font-size: 1.1 * $tc-base-font-size;
    margin: 0 auto 3% auto;
    text-align: center;
    width: 80%;

    .fbtracks-terms-link {
      color: $mid_color;
      text-decoration: none;
    }

    .fbtracks-terms-link:hover {
      color: $tunecore-medium-blue;
    }
  }

  .fbtracks-sign-up-button {
    background-color: $tunecore_blue;
    border: none;
    color: white;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 2% auto 0 auto;
    padding: 2%; 
    text-align: center;
    text-decoration: none;
    width: 40%;
  }

  .fbtracks-sign-up-button:hover, 
  .fbtracks-sign-up-button:active,
  .fbtracks-sign-up-button:focus {
    background-color: $tunecore-medium-blue;
    cursor: pointer;
  }
  
  .fbtracks-modal-cancel {
    color: $tunecore_bright_blue;
    float: left;
    font-size: 1.25 * $tc-base-font-size;
    font-weight: 500;
    text-decoration: none;
  }

  .fbtracks-modal-cancel:hover {
    color: $tunecore-medium-blue;
  }

  .fbtracks-modal-footer {
    margin-top: 5%;
  }
}

// mobile
@media(max-width: 800px) and (min-width: 320px) {
  .mfp-content {
    margin-top: 20%;
    vertical-align: top;
  }

  .fbtracks-subscription-modal {
    width: 90%;
    line-height: normal;
  
    .close-modal {
      font-size: 8vw;
      top: 0%;
    }

    .fbtracks-desc {
      font-size: 4vw;
    }
  
    .fa-facebook-square {
      padding-right: 7%;
    }
  
    .fbtracks-header-title {
      font-size: 4vw;
      text-align: center;
    }

    .fbtracks-legal-line {
      padding-left: 0%;
    }
  
    .fbtracks-modal-cancel {
      padding-top: 1%;
    }
  
    .fbtracks-modal-footer {
      font-size: 3vw;
    }
  
    .fbtracks-sign-up {
      font-size: 4vw;
      margin: 3% auto;
      width: 95%;
    }
  
    .fbtracks-sign-up-button {
      font-size: 4vw;
      margin: 3% auto;
      padding: 3%;
      width: 95%;
    }
  }
}
  
// tablet
@media(max-width: 1100px) and (min-width: 801px) {
  .mfp-content {
    margin-top: 10%;
    vertical-align: top;
  }

  .fbtracks-subscription-modal {
    .fbtracks-legal-line {
      padding-left: 3%;
    }

    .fbtracks-sign-up-button {
      width: 50%;
    }
  }
}