<tr class="<%=cycle('odd', 'even') -%> <%= !inventory_adjustment.related_id.nil? ? 'rollback-parent' : '' -%>">
    <td><%= inventory_adjustment.created_at.strftime("%b %d, %Y %I:%M %p") %></td>
    <td><%= inventory_adjustment.category %></td>
		<td><%= inventory_adjustment.amount %></td>
		<td><%= inventory_adjustment.posted_by_name %></td>
		<td class="table_note"><%= inventory_adjustment.admin_note %></td>
		<td class="table_link">
				<% if inventory_adjustment.related_id.nil? && current_user.has_role?('Refunds') && current_user.id != @person.id && inventory_adjustment.inventory.quantity_remaining >= inventory_adjustment.amount  %>
						<%= link_to 'RollBack', rollback_admin_person_inventory_inventory_adjustment_path(@person, inventory_adjustment.inventory, inventory_adjustment,
						{:inventory_adjustment=>{:related_id=>inventory_adjustment.id},:minWidth => 460, :minHeight => 500}),:class => "lightbox" %>
				<% end %>
		</td>
  </tr>
	<% if !inventory_adjustment.related_id.nil? %>
		<tr class="<%= current_cycle %> rollback">
			<td><%= inventory_adjustment.related.created_at.strftime("%b %d, %Y %I:%M %p") %></td>
      <td> &nbsp; </td>
			<td><%= inventory_adjustment.related.amount %></td>
			<td><%= inventory_adjustment.related.posted_by_name %></td>
			<td class="table_note"><em><strong>Rollback Note:</strong> <%= inventory_adjustment.related.admin_note %></em></td>
			<td class="table_link"><strong><em>Rolled Back</em></strong></td>
   </tr>
	<% end -%>