<section>
  <h2>Adjust <%= @inventory.inventory_type %> Credits</h2>
  <fieldset id="balance-adjustment" class='small'>
    <%= error_messages_for(@inventory_adjustment) %>
    
      <%= form_for @inventory_adjustment, :url => {:action => :create, :person_id=>@person.id, :inventory_id=>@inventory.id} do |f| %>
			<ul class="clearfix">
 				<%= f.select('category', @categories, :label => "Category* <span class='info'>(Admin use only)</span>") %>
				<%= f.text_area(:admin_note, :label => "Admin Note* <span class='info'>(Admin use only)</span>") %>
				<%= f.text_field(:amount, :label => "Amount to Credit/Debit* <br/><span class='info'>e.g. enter 3 to give 3 credits, enter -4 to remove 4 credits <br/> Maximum credits to remove for this purchase: #{@inventory.quantity_remaining}</span>") %>
		    <%= f.check_box(:disclaimer, :label=>"I am fully aware that this  will be posted to the customer's account as soon as I submit this form.",:li_class=>'checkbox') %>
			
          <%= f.submit("Adjust Credits", {:class => "submit"}) %>
       
			</ul>
      <% end -%>
    
  </fieldset>
</section>
