<section>
  <h2>Rollback Credit Adjustment</h2>
  <fieldset id="balance-adjustment" class='small'>
    <%= error_messages_for(@inventory_adjustment) %>
    <ul class="clearfix">
      <%= form_for @inventory_adjustment, :url => {:action => :create} do |f| %>
				<li><label>Rollback Amount: <%= (@original_adjustment.amount * -1) %></label></li>
				<%= f.text_area(:admin_note, :label => "Admin Note* <span class='info'>(Admin use only)</span>") %>
		    <%= f.check_box(:disclaimer, :label=>"I am fully aware that this  will be posted to the customer's account as soon as I submit this form.",:li_class=>'checkbox') %>
				<%= f.hidden_field(:related_id, :value=>@original_adjustment.id) %>
				<%= f.hidden_field(:rollback, :value=>1) %>
				<li>
          <%= f.submit("Rollback", {:class => "submit" }) %>
        </li>
      <% end -%>
    </ul>
  </fieldset>
</section>
