<%= simple_form_for @tax_tokens_cohort_form.tax_tokens_cohort, url: admin_tax_tokens_cohort_path,
  html: { class: "tax-tokens-cohort-container" } do |f| %>
  <div class="grid-x">
    <div class="small-8 cell">
      <h3> Cohort Management Tool: Tax W8/W9 Collection </h3>
      <p><strong>Edit "<%= @tax_tokens_cohort_form.tax_tokens_cohort.name %>"</strong></p>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="small-8 cell">
      <%= f.input :name %>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="cell small-4">
      <label>Email Send</label>
      <%= f.input :start_date, as: :string, label: false, input_html: { value: f.object.start_date.try(:strftime, "%m/%d/%Y") } %>
    </div>

    <div class="cell small-4">
      <label>Blocked Access</label>
      <%= f.input :end_date, as: :string, label: false, input_html: { value: f.object.end_date.try(:strftime, "%m/%d/%Y") } %>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="medium-6 cell">
      <%= f.submit "Submit", :class=>'button' %>
      <%= link_to "Cancel", admin_tax_tokens_cohorts_path, class: "button secondary" %>
    </div>
  </div>
<% end %>
