<div class="tax-tokens-cohort-container">
  <div class="grid-x">
	  <h3>Cohort Management Tool: Tax W8/W9 Collection</h3>
  </div>

  <div class="cell small-12 medium-3 align-center">
    <%= link_to "ADD NEW COHORT", new_admin_tax_tokens_cohort_path, class: "button" %>
  </div>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Cohort</th>
        <th>Email Send Date</th>
        <th>Access Blocked</th>
        <th>View User List</th>
      </tr>
    </thead>

    <tbody>
      <% @tax_tokens_cohorts.each do |cohort| %>
        <tr>
          <td><i class="fa fa-trash remove-cohort-icon" data-cohort-id="<%= cohort.id %>" data-open="removeCohortModal"></i></td>
          <td><%= cohort.name %></td>
          <td><%= cohort.start_date.strftime("%m/%d/%Y") %></td>
          <td><%= cohort.end_date.strftime("%m/%d/%Y") %></td>
          <td><%= link_to "User List", admin_tax_tokens_cohort_tax_tokens_path(cohort) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="reveal" id="removeCohortModal" data-reveal>
  <%= form_for(:tax_token_cohort, url: remove_cohort_admin_tax_tokens_cohorts_path) do |f| %>
    <%= hidden_field_tag :cohort_id, "" %>

    <p><strong>Users in this cohort have already been emailed to fill out their tax forms.</strong></p>
    <p>Are you sure you want to continue?</p>

    <div class="modal-buttons">
      <p data-close aria-label="Close modal" class="button">No</p>
      <%= f.button "Yes", class: "button" %>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  <% end %>
</div>
