<p>Delivery errors for album <%= @album.id %></p>
<p><%= "https://studio.tunecore.com/admin/albums/#{@album.id}" %></p>
<p><%= @from_date.strftime("%b %d, %Y") %></p>
<p>Customer: <%= @album.person.name %> <%=@album.person.email%></p>
<p>UPC: <%= @upc %></p>

<% @errors.each do |error| %>
  <p><%= error['store_name'] %></p>
  <p><%= error['error_message'] %> </p>
<% end if @errors.present? %>
