<div id="email-form-holder" class="grid_16">

  <h2>Monetized Songs</h2>
  <%= form_tag admin_youtube_sr_mail_template_builders_path, id: "send-email-form", remote: true do %>
    <%= hidden_field_tag :email_type_input, @email_template.template_name %>
    <table>
      <thead>
        <tr>
          <th>Ready for Mailing</th>
          <th>Email</th>
          <th>Country</th>
          <th>ISRC</th>
          <% custom_fields.present? && custom_fields.each do |field_name| %>
            <th class="custom-field-header"><%=field_name%></th>
          <% end %>
          <th class="add-row">Action</th>
        </tr>
      </thead>
      <tbody>
        <% songs_by_person.each do |person_id, data| %>
          <% data[:monetized_songs].each_with_index do |song, index| %>
            <tr class="data-row-<%= person_id %> data-row-<%= song.isrc %>"
                data-person-id="<%= person_id %>"
                data-song-id="<%= song.id %>"
                data-custom-fields="<%=custom_fields%>">

              <td class="ready-checkbox">
                <% if index == 0 %>
                  <%= check_box_tag "email_data[#{ person_id }][send_email]", true, false, class: "song-checkboxes", disabled: true %>
                <% end %>
              </td>
              <td><%= index == 0 ? data[:person].email : "" %></td>
              <td><%= index == 0 ? data[:person].country : "" %></td>
              <td class="isrc-cell"><%= song.isrc %></td>

              <% custom_fields.present? && custom_fields.each do |field_name| %>
                <td class="input-cell">
                  <%= text_field_tag "email_data[#{ person_id }][#{ song.id }][1][#{ field_name }]", nil,
                      class: "custom_fields #{field_name}", style: "width:auto;" %>
                </td>
              <% end %>
              <td class="add-row"><a href="#!" class="add-row-button">Add Claim</a></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= submit_tag "Send Emails", id: "send-email-button", disabled: true, class: "disabled" %>
  <% end %>

  <h2 class="non-monetized-header">Non-Monetized Songs</h2>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Country</th>
        <th>ISRC</th>
      </tr>
    </thead>
    <tbody>
      <% songs_by_person.each do |person_id, data| %>
        <% data[:non_monetized_songs].each_with_index do |song, index| %>
          <tr>
            <td><%= index == 0 ? data[:person].email : "" %></td>
            <td><%= index == 0 ? data[:person].country : "" %></td>
            <td class="isrc-cell"><%= song.isrc %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
