jQuery('#status-update').html("<%=@message%>");
jQuery('#status-update').fadeIn();
jQuery('#isrc_string').val('');
<% @song_isrcs_processed.each do |isrc| %>
  jQuery('.data-row-<%= isrc %>').remove();
<% end %>
