<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/admin/automated_emails" %>
<% end %>

<% content_for(:css) do %>
  <%= stylesheet_link_tag "/stylesheets/youtube_sr_mailer" %>
<% end %>

<h2>Admin :: YouTube Video Customer Email Tool</h2>
<br>
<h3><span id="status-update" style="color:red;"></span></h3>
<br>
<fieldset class="grid_16">
  <%= form_tag new_admin_youtube_sr_mail_template_builder_path, id: 'isrc-search-form', method: :get, remote: :true do %>
    <div class="grid_8 alpha">
      <%= label_tag :email_type, "Select Email Type"%>
      <%= select_tag :email_type, options_for_select(@email_types, params[:email_type]) %>
    </div>
    <div class="grid_8 omega">
      <%= label_tag :isrc_string, "Enter multiple ISRCs", style: 'width:90%' %>
      <%= text_area_tag :isrc_string, nil, style: 'width:90%' %>
      <div class="form-actions">
        <%= submit_tag "Search", class: 'right' %>
      </div>
    </div>
  <% end %>
</fieldset>

<div id="email-form-holder" class="grid_16"></div>
