if (jQuery('.email_type').length == 0) { jQuery('#email_type').addClass('email_type') }
jQuery('#email-form-holder').replaceWith("<%= j (render partial: 'automated_emails_form', locals: { custom_fields: @email_template.try(:custom_fields), songs_by_person: @songs_by_person })%>")
