<% unless @refund_presenter.tunecore_invoice? %>
  <% if @refund_presenter.inbound? %>
    <%= render "credit_note_invoices/footers/believe_inbound" %>
  <% else %>
    <% if @refund_presenter.preview? %>
        <%= render "credit_note_invoices/footers/outbound/preview" %>
    <% else %>
        <%= render "credit_note_invoices/footers/outbound/download" %>
    <% end %>
  <% end %>
<% end %>
