<%= stylesheet_link_tag wicked_pdf_asset_base64 "credit_note_invoices/header" %>

<div class="credit-note-invoice-header">
  <h1 class="title"><%= custom_t("credit_note_invoices.credit_note") %></h1>

  <% if @refund_presenter.tunecore_invoice? %>
    <%= render partial: "credit_note_invoices/headers/tunecore",
              locals: {
                corporate_entity_address: @refund_presenter.corporate_entity_address,
                refund_details: @refund_presenter.refund_details,
                customer_info: @refund_presenter.customer_info,
                customer_address: @refund_presenter.customer_address
              } %>
  <% elsif @refund_presenter.inbound? %>
    <%= render partial: "credit_note_invoices/headers/believe_inbound",
              locals: {
                corporate_entity_address: @refund_presenter.corporate_entity_address,
                refund_details: @refund_presenter.refund_details,
                customer_info: @refund_presenter.customer_info,
                customer_address: @refund_presenter.customer_address
              } %>
  <% else %>
    <%= render partial: "credit_note_invoices/headers/believe_outbound",
                locals: {
                  corporate_entity_address: @refund_presenter.corporate_entity_address,
                  refund_details: @refund_presenter.refund_details,
                  customer_info: @refund_presenter.customer_info,
                  customer_address: @refund_presenter.customer_address
                } %>
  <% end %>
</div>
