<div class="refund-table">
  <% if @refund_presenter.tunecore_invoice? %>
    <%= render partial: "credit_note_invoices/refund_tables/tunecore",
              locals: {
                refund_details: @refund_presenter.refund_details
              } %>
  <% elsif @refund_presenter.inbound? %>
    <%= render partial: "credit_note_invoices/refund_tables/believe_inbound",
              locals: {
                euro_exchange_rate: @refund_presenter.euro_exchange_rate,
                static_corporate_entity: @refund_presenter.corporate_entity_address,
                refund_details: @refund_presenter.refund_details,
                colspan_num: 2
              } %>
  <% else %>
    <%= render partial: "credit_note_invoices/refund_tables/believe_outbound",
               locals: {
                 colspan_num: "2",
                 euro_exchange_rate: @refund_presenter.euro_exchange_rate,
                 static_corporate_entity: @refund_presenter.corporate_entity_address,
                 refund_details: @refund_presenter.refund_details
               } %>
  <% end %>
</div>
