<% content_for :css do %>
   <%= stylesheet_link_tag "credit_note_invoices/preview" %>
<% end %>
<section class="bi-outbound-invoice">
  <header class="credit-note-header">
    <div class="blue-btn-wrapper">
      <%= link_to(custom_t('invoices.royalty_invoices.download_pdf'),
                  { controller: 'outbound_royalty_invoices',
                    action: 'show',
                    invoice_id: @outbound_refund.id,
                    format: :pdf },
                    class: 'blue-btn') %>
    </div>
  </header>
  <hr>

  <div class="credit-note-content">
    <%= render "/credit_note_invoices/header" %>
    <%= render "/credit_note_invoices/refund_table" %>
    <%= render "/credit_note_invoices/footer" %>
  </div>
  <hr>
</section>
