<%= stylesheet_link_tag wicked_pdf_asset_base64 "credit_note_invoices/content" %>

<div class="credit-note-invoice-content">
  <%= render "/credit_note_invoices/header" %>
  <%= render "/credit_note_invoices/refund_table" %>
  <%= render "/credit_note_invoices/footer" %>
</div>
