<table>
  <tr>
    <th>ID</th>
    <th>Person ID</th>
    <th>Person Email</th>
    <th>Subscription Created</th>
    <th>Subscription Cancelled</th>
    <th>Expected Renewal Date</th>
    <th>Notes</th>
  </tr>
  <% cancellations.each do |cancellation| %>
    <tr>
      <td><%= cancellation.subscription_event_id %></td>
      <td><%= cancellation.person_id %></td>
      <td><%= cancellation.person_email %></td>
      <td><%= cancellation.subscription_created.try(:strftime, "%m/%d/%Y") %></td>
      <td><%= cancellation.subscription_cancelled.try(:strftime, "%m/%d/%Y") %></td>
      <td><%= cancellation.expected_renewal.try(:strftime, "%m/%d/%Y") %></td>
      <td><%= cancellation.user_note %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate cancellations, params:  report_params%>
<%= link_to "download csv", admin_reports_tc_social_cancellations_path({format: "csv"}.merge({tc_social_cancellations_report_form: report_params}))%>
