<%= form_for report_form, url: admin_reports_tc_social_cancellations_path, method: "GET" do |f| %>
  <%= f.text_field :person_id %>
  <%= f.text_field :person_email %>
  <%= f.text_field(:subscription_created, placeholder: "MM/DD/YYYY")%>
  <%= f.text_field(:subscription_cancelled, placeholder: "MM/DD/YYYY")%>
  <%= f.text_field(:expected_renewal, placeholder: "MM/DD/YYYY")%>
  <%= f.text_field(:start_date, placeholder: "MM/DD/YYYY")%>
  <%= f.text_field(:end_date, placeholder: "MM/DD/YYYY")%>
  <%= f.submit "get report" %>
<% end %>
<%= link_to "clear search", admin_reports_tc_social_cancellations_path%>

