<h2>TC Social Cancellation Report</h2>
<fieldset class="small">
 <%= render partial: "form", locals: {report_form: @cancellation_report_form} %>
</fieldset>

<div id="cancellations">
  <%= render partial: "cancellations", locals: {cancellations: @reporter.report, report_params: @reporter.report_form.attributes} %>
</div>



