<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/youtube_preferences.js" %>
  <%= javascript_include_tag "https://apis.google.com/js/client.js?onload=onLoadYouTube" %>
<% end %>
<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/youtube_preferences.css" %>
<% end %>
<style>
  .whatever {
    margin-right: 24px;
    float: right;
    font-weight: 300;
  }
</style>
<div id="youtube_preferences">
  <header class="row collapse">
    <section class="breadcrumbs">
      <a href="<%= youtube_monetizations_path %>"><%= custom_t(".revenue_dashboard") %></a>
      <span class="active"><%= custom_t(".channel_preferences") %></span>
    </section>
    <div class="columns nine">
      <h1><%= custom_t(".channel_preferences") %></h1>
      <p><%= custom_t(".youtube_preferences", { url: knowledgebase_link_for('youtube-channel-whitelist', country_website) }) %></p>
    </div>
  </header>
  <div class="row collapse">
    <div class="columns nine">
      <%= form_with url: youtube_preferences_path, model: @preferences do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" value="<%= @preferences.channel_id if !@preferences.new_record? %>" id="channel_id" name="youtube[channel_id]" class="hide">
        <section class="s1">
          <header class="row collapse">
            <div class="columns twelve">
              <h2><span class="icon">1</span> <span><%= custom_t(".your_channel") %></span> &nbsp;<span class="whatever"><%= custom_t(".required") %></span></h2>
            </div>
          </header>
          <div class="row collapse step text-center"><img src="/images/disco-loader.gif"></div>
          <div class="row collapse step hide box box-alert configure-alert">
            <div class="columns one">
              <img src="/images/alert.png">
            </div>
            <div class="columns eleven">
              <p><strong><%= custom_t(".channel_configure", {url: "http://www.youtube.com/create_channel" }) %></p>
            </div>
          </div>
          <div class="row collapse step auth hide">
            <div class="columns ten">
              <p>
                <%= custom_t(".verify_youtube") %>
              </p>
            </div>
          </div>
          <div class="row collapse step authed hide">
            <div class="box">
              <div class="columns twelve">
                <div class="row collapse title">
                  <div class="columns twelve">
                    <span></span>
                    <% if @preferences.channel_id.blank? %><a href="#" class="link google-logout"><%= custom_t(".another_account") %></a><% end %>
                  </div>
                </div>
                <div class="row collapse">
                  <div class="columns two thumb"></div>
                  <div class="columns ten content">
                    <p></p>
                    <strong><%= custom_t(".videos") %></strong> <span class="stats-video"></span><br>
                    <strong><%= custom_t(".subscribers") %></strong> <span class="stats-subscribers"></span><br>
                    <strong><%= custom_t(".views") %></strong> <span class="stats-views"></span>
                  </div>
                </div>
              </div>
            </div>
            <% if !@preferences.new_record? and !@preferences.whitelist and @preferences.mcn and @preferences.channel_id.blank? %>
              <input type="submit" value="Save My Channel">
            <% end %>
          </div>
        </section>
        <section class="s2 <% if !@preferences.new_record? and @preferences.channel_id.present? %>checked<% end %>">
          <header class="row collapse">
            <div class="columns twelve">
              <h2><span class="icon">2</span> <span><%= custom_t(".collect_revenue") %></h2>
            </div>
          </header>
          <div class="row collapse">
            <div class="columns ten">
              <% unless !@preferences.new_record? and !@preferences.whitelist and @preferences.mcn %>
                <span class="blocky-checkbox">
                  <%= radio_button_tag 'youtube[whitelist]', false, @preferences.new_record? || (!@preferences.new_record? and !@preferences.whitelist), disabled: @preferences.channel_id.present? %>
                </span>
                <%= label_tag 'youtube[whitelist]_false', custom_t(".yes_collect_revenue"), { :class => 'blocky-label' } %> <br><br>
                <span class="blocky-checkbox">
                  <%= radio_button_tag 'youtube[whitelist]', true, (!@preferences.new_record? and @preferences.whitelist), disabled: @preferences.channel_id.present? %>
                </span>
                <%= label_tag 'youtube[whitelist]_true', custom_t(".no_dont_collect"), { :class => 'blocky-label' } %> <br><br>
              <% else %>
                <p><%= custom_t(".please_contact", {url: "#{knowledgebase_link_for('help-homepage')}" }) %></p>
              <% end %>
              <%= custom_t(".automatically_collect") %>
              <p><strong><%= custom_t(".yes_revenue") %></strong></p>
              <ul>
                <li><%= custom_t(".claim_music") %></li>
                <li><%= custom_t(".payments_revenue") %></li>
              </ul>
              <p><strong><%= custom_t(".no_revenue") %></strong></p>
            </div>
          </div>
        </section>

        <% if @preferences.mcn %>
          <section class="s3 checked">
            <header class="row collapse">
              <div class="columns twelve">
                <h2><span class="icon">3</span> <%= custom_t(".submit_channel") %></h2>
              </div>
            </header>
            <div class="row collapse">
              <div class="columns ten">
                <p style="padding-bottom: 0;">
                  <img src="/images/indmusic_logo.png" align="left" style="width: 225px; margin-right: 30px;">
                  <%= custom_t(".agreed_invite", country_date: fmt_country_date(@preferences.mcn_agreement)) %>
                </p>
              </div>
            </div>
          </section>
        <% end %>

        <% if @preferences.new_record? || @preferences.channel_id.blank? %>
          <footer><input type="submit" value="<%= custom_t(".save_youtube_pref") %>" id="submit"></footer>
        <% end %>
      <% end %>
    </div>
    <div class="columns three"></div>
  </div>
</div>
<div class="hide" id="channel-dialog" title="Tell Us Your YouTube Channel">
  <%= custom_t(".please_verify") %>
</div>
<div class="hide" id="monetization-dialog" title="Confirm TuneCore Monetization">
  <%= custom_t(".confirm_monetize") %>
</div>
<div class="hide" id="example-dialog" title="Example Notifications">
  <%= custom_t(".examples_here") %>
</div>
