<%= render partial: "shared/release_rejection", locals: {release: @single} if release_is_rejected? %>

<section class="grid_16" id="manage-album-stores">

  <% unless @album_messages.blank? %>
    <% @album_messages.each do |id,message| %>
      <%= message %><br/>
    <% end %>
  <% end %>

  <%= render :partial => '/admin/people/mini_person', :locals => {:person => @person, :features => [:show_balance, :show_person_link]}%>
  <div style="clear:both;"></div>

  <h2>Add Stores</h2>
  <%= link_to_unless(params[:release_type].blank? || params[:release_type]=="Album", "Albums", edit_admin_person_album_stores_path(@person, :release_type=>"Album"))  %> |
  <%= link_to_unless(params[:release_type]=="Single", "Singles", edit_admin_person_album_stores_path(@person, :release_type=>"Single"))  %> |
  <%= link_to_unless(params[:release_type]=="Ringtone", "Ringtones", edit_admin_person_album_stores_path(@person, :release_type=>"Ringtone"))  %>

  <br/>
  <br/>

  <h3>Stores</h3>

  Note that default variable pricing is used for all store adds

  <%= form_tag admin_person_album_stores_path(@person), method: :put do  %>
    <%= select_tag :store_id, options_from_collection_for_select(@release_class.stores.is_used.order(position: :asc), :id, :name) %>

    <br/>
    <h3><%= @release_class.name.pluralize %></h3>


    <table>
      <thead>
        <td><input type="checkbox" id="deliver_all"></td><td>ID</td><td>UPC</td><td>Name</td>
      </thead>

      <% @albums.each do |album| %>
        <tr>
          <td><%= check_box_tag "album_ids[]", album.id %></td>
          <td><%= album.id %></td>
          <td><%= album.tunecore_upc %></td>
          <td><%= link_to display_name(album), admin_album_path(album) %></td>
        </tr>
      <% end %>
    </table>

    <%= submit_tag "Add Store" %>

  <% end %>

</section>

<% content_for :external_javascript do %>
  <script type="text/javascript">
    jQuery('#deliver_all').click(function(e){
      jQuery('form input').prop('checked', this.checked);
    });
  </script>
<% end %>
