<% report.data_table.rows.each do |row| -%>
  <tr class="<%= cycle('odd', 'even')%> <%= 'highlight' if row.highlight? %>">
      <% if report.data_table.row_title_included? -%>
        <th class="side"><%= h(row.row_title) %></th>
      <% end -%>
      <% row.cells.each do |cell| -%>
        <%= render(:partial => "reports_shared/report_cell_#{cell.data_type}", :locals => {:value => cell.value}) %>
      <% end -%>
      <% if report.data_table.include_total_and_avg? -%>
        <% if row.show_total? -%>
          <%= render(:partial => "reports_shared/report_cell_#{row.total_data_type}", :locals => {:value => row.total}) %>
        <% else -%>
          <%= render(:partial => "reports_shared/report_cell_string", :locals => {:value => '-'}) %>
        <% end -%>
        
        <% if row.show_average? -%>
          <%= render(:partial => "reports_shared/report_cell_#{row.average_data_type}", :locals => {:value => row.average}) %>
        <% else -%>
            <%= render(:partial => "reports_shared/report_cell_string", :locals => {:value => '-'}) %>
        <% end -%>
      <% end -%>
  </tr>
<% end -%>