<%= simple_form_for creative,
  url: admin_person_creative_external_service_id_path(person, creative),
  authenticity_token: true,
  remote: true do |f|
%>
  <div class="cell">
    <%= creative.name %>
  </div>
  <div class="cell">
    <%= creative.id %>
  </div>
  <div class="cell">
    <%= creative.album&.id %>
  </div>
  <div class="cell">
    <%= f.input :spotify_artist_id, input_html: {value: creative.external_id_for("spotify")}, label: false %>
  </div>
  <div class="cell">
    <%= f.input :apple_artist_id, input_html: {value: creative.external_id_for("apple")}, label: false
    %>
  </div>
  <div class="cell">
    <%= f.submit "Save", class: "button", data: { disable_with: "Saving..." }%>
  </div>
<% end %>
