<%= form_tag admin_person_creative_external_service_ids_path, method: "get" do %>
  <div class="cell">
    <%= text_field_tag(:search_text, params[:search_text]) %>
  </div>
  <div class="cell">
    <%= submit_tag "Search", class: "button" %>
    <%= link_to "Clear", admin_person_creative_external_service_ids_path, class: "button", style: "background-color:grey" %>
  </div>
<% end %>
<div class="cell">
</div>