<div class="creative-external-service-ids-container">
  <h3 class="header">Store Artist Mapping</h3>

  <% if FeatureFlipper.show_feature?(:creative_external_service_id_search) %>
    <div class="row">
      <%= render "search" %>
    </div>
  <% end %>

  <div class='pagination'><%= will_paginate(@creatives, next_label: "Next", previous_label: "Previous") %></div>

  <div class="artist-mapping">
    <div class="row">
      <form class="simple_form edit_creative">
        <div class="cell artist-service">
          <p>Artist Name</p>
        </div>
        <div class="cell artist-service">
          <p>Creative ID</p>
        </div>
        <div class="cell artist-service">
          <p>Album ID</p>
        </div>
        <div class="cell artist-service">
          <p class="creative-external-service-id-input-header">Spotify</p>
        </div>
        <div class="cell artist-service">
          <p class="creative-external-service-id-input-header">Apple</p>
        </div>
        <div class="cell artist-service">
          <p></p>
        </div>
      </form>
    </div>
    <% @creatives.each do |creative| %>
      <div class="row">
        <%= render "index_form_row", creative: creative, person: @person %>
      </div>
    <% end %>
  </div>
  <div class='pagination'><%= will_paginate(@creatives, next_label: "Next", previous_label: "Previous") %></div>
</div>
