<script>
  window['friendbuy'] = window['friendbuy'] || [];
  window['friendbuy'].push(['widget', "<%=refer_a_friend_config('landing_page')%>"]);
</script>
<a href="#" class="friendbuy-<%=refer_a_friend_config('landing_page')%>"></a>
