<div
  class="row store_manager-store store_<%= store[:id] %> <% if @uncheck_stores %>disabled<% end %>"
  store_id="<%= store[:id] %>"
>
  <div class="columns three">
    <div class="row">
      <div class="store-checkbox columns two">
        <span class="blocky-checkbox">
          <input
            class="selectStoreCheck"
            id="select-store-<%= store[:id] %>"
            type="checkbox"
            <% unless @uncheck_stores %>
              checked="checked"
            <% end %>
            <%= "disabled" if @disable_expander %>
          />
        </span>
      </div>
      <div class="store-logo columns ten">
        <label for="select-store-<%= store[:id] %>"><img src="/images/store_logos/<%= Store.get_custom_abbrev(store[:abbrev]) %>_wide_color.png" alt="<%= store[:name] %>" class="store_manager-logo"></label>
      </div>
    </div>
  </div>
  <div class="columns five store_manager-text">
    <p class="not_on_store"><%= custom_t("store_manager.show.release_not_on_other_stores", {
      count: store[:missing_releases].length,
      store_name: store[:name]

    }) %></p>
    <% if store[:abbrev] == "zn" %>
    <% else %>
      <p class="description"><%= raw(store[:description]) %> <a href="<%= knowledgebase_link_for(store[:knowledgebase_slug], country_website) %>" target="_blank" class="link"><%= custom_t("store_manager.show.read_more") %></a></p>
    <% end %>
    <p class="store_types">
      <strong><%= custom_t("store_manager.show.store_type") %>:</strong>
      <% store[:store_types].each do |type| %>
        <span class="store_manager-tag"><%= type %></span>
      <% end %>
    </p>
    <%= custom_t("store_manager.show.ytm_required_for_ytsr") if ytsr_proxy?(store) %>
  </div>
  <div class="columns four store_manager-summary">
    <div class="row">
      <div class="columns four mobile-one">
        <%= custom_t("store_manager.show.store_expander_count2", {
          count: @uncheck_stores ? "0" : store[:missing_releases].length
        }) %>
      </div>
      <div class="columns four mobile-one">
        <span class="store_manager-store_price">
          <%= cost_display(store[:original_cost], store[:upgrade_cost], @currency) %>
        </span><br>
        <%= custom_t("store_manager.show.each") %><br><br>
      </div>
      <div class="columns four mobile-two" style="text-align: right;">
        <span
          class="store_manager-store_total_price <% if store.has_key? :target_desc || store[:on_sale] || store[:on_flash_sale] %>targeted_offer-highlight<% end %>"
          id="store-price-<%= store[:id] %>"><% if @uncheck_stores %><%= locale_currency_symbol %>0<% elsif store[:upgrade_cost] * store[:missing_releases].length <= 0 %><%= custom_t(:free) %><% else %><%= money_to_currency((store[:upgrade_cost] * store[:missing_releases].length).to_money(@currency)) %><% end %>
        </span>
        <br>
      </div>
    </div>
    <% if store.has_key? :target_desc %>
      <div class="row">
        <div class="columns twelve targeted_offer-highlight" style="text-align: right;">
          <% if store.has_key? :target_flag %><%= store[:target_flag] %><br><% end %>
          <%= store[:target_desc] %><br>
          <% if store.has_key? :target_exp %><%= custom_t("store_manager.show.offer_expires", { date: fmt_country_date(store[:target_exp]) }) %><br><% end %>
          <br><br>
        </div>
      </div>
    <% elsif store[:on_sale] || store[:on_flash_sale] %>
      <div class="row">
        <div class="columns twelve targeted_offer-highlight" style="text-align: right;">
          <%= custom_t("store_manager.show.reg_198_limited_time_offer") %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="columns twelve">
        <a href="#" class="link link-list selectReleaseLink"><%= custom_t("store_manager.show.select_releases_to_deliver_to_store", { store_name: store[:name] }) %></a>
      </div>
    </div>
  </div>
</div>
