<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
  <%= javascript_include_tag "/javascripts/tablesorter/jquery.tablesorter.min.js" %>
  <%= javascript_include_tag "/javascripts/tablesorter/filter.js" %>
  <%= javascript_include_tag "/javascripts/app/store_manager.js" %>
<% end %>
<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/magnific-popup.css" %>
  <%= stylesheet_link_tag "/stylesheets/store_manager.css"  %>
<% end %>

<script type="text/html" id="data"><%= { :stores => @stores, :future => @salepoint_subscriptions, :release_meta_data => @album_hash, free: @free_translated, currency: @currency }.to_json.html_safe %></script>

<section class="store_manager">
  <header class="row">
    <div class="columns <% if feature_enabled?(:store_automator) %>four<% else %>two<% end %> ribbon-container">
      <div class="row">
        <div class="columns <% if feature_enabled?(:store_automator) %>six mobile-two<% else %>twelve mobile-four<% end %>">
          <a href="#store_expander" class="ribbon ribbon-blue">
            <%= custom_t(".store_expander_count", { count: @expander_banner_num }) %>
          </a>
        </div>
        <% unless @automator_disabled %>
        <div class="columns six mobile-two">
          <a href="#store_automator" class="ribbon ribbon-teal">
            <%= custom_t(".store_automator_count", { count: @salepoint_subscriptions[:missing_releases].length }) %>
          </a>
        </div>
        <% end %>
      </div>
    </div>
    <div class="columns <% if feature_enabled?(:store_automator) %>eight<% else %>ten<% end %>">
      <hgroup>
        <h1><%= custom_t(".store_manager") %></h1>
        <h2><%= custom_t(".get_all_your_releases") %></h2>
      </hgroup>
      <p><%= custom_t(".store_expander_makes_it_easy") %></p>
      <p>
        <% unless @automator_disabled %>
          <%= custom_t(".store_automator_enables_you") %>
        <% end %>
      </p>
    </div>
  </header>

  <section class="store_manager-stores">
    <header class="<%= stores_section_header_class(@disable_expander, @stores) %>">
      <div class="upgrade_plan_cta_small__container">
      <div class="upgrade_plan_cta_small__body_wrapper">
        <%= render "plans/upgrade_cta_small",
                   { body_text: custom_t("plans.upgrade_for_stores"),
                     button_text: custom_t("plans.upgrade") } if @disable_expander %>
        </div>
      </div>
      <div class="columns seven">
        <h2 id="store_expander"><%= custom_t(".store_expander") %></h2>
        <% if @stores.length > 0 %>
          <%= custom_t(".releases_not_sold_in_stores", {
            count: @missing_total_count
          }) %>
        <% elsif !@have_distributed %>
          <%= custom_t(".no_releases_yet_manager") %>
        <% else %>
          <% if @unpaid_expanders_in_cart > 0 %>
            <div class="row box box-alert">
              <div class="columns one">
                <img src="/images/alert.png">
              </div>
              <div class="columns eleven" style="padding-left: 10px; padding-top: 5px;">
                <%= custom_t(".you_have_items_in_your_cart", { cart_path: cart_path }) %>
              </div>
            </div>
          <% elsif @apple_music_eligible_albums.empty? %>
            <img src="/images/black_circle_check.png" style="float: left; margin-right: 10px;">
            <%= custom_t(".youre_all_caught_up") %>
          <% end %>
        <% end %>
        </p>
      </div>

      <div class="<%= expander_container_class(@disable_expander) %> apple">
        <% if @apple_music_eligible_albums.present? %>
          <div class="twelve columns">
            <div class="store_manager-store store_manager-apple_music">
              <div class="columns three">
                <div class="row">
                  <div class="store-logo columns ten">
                    <img src="/images/store_logos/applemusic_wide_color.png" alt="Apple Music" class="store_manager-logo">
                  </div>
                </div>
              </div>
              <div class="columns five store_manager-text">
                <p class="not_on_store"><strong>
                  <%= custom_t(".releases_not_on_apple_music", { count: @apple_music_eligible_albums.length }) %>
                </strong></p>
                <p class="description"><%= custom_t(".apple_music_description", {url: knowledgebase_link_for('apple-music-description',country_website)}) %></p>
                <p class="store_types">
                  <strong><%= custom_t(".store_type") %>:</strong>
                  <span class="store_manager-tag"><%= custom_t(".streaming") %></span>
                </p>
              </div>
              <div class="columns four store_manager-summary">
                <div class="row">
                  <div class="columns four mobile-one">
                    <%= custom_t(".apple_count", {
                      count: @uncheck_stores ? "0" : @apple_music_eligible_albums.length
                    }) %>
                  </div>
                  <div class="columns four mobile-one">
                  </div>
                  <div class="columns four mobile-two" style="text-align: right;">
                  </div>
                </div>
                <div class="row">
                  <div class="columns twelve">
                    <a href="#" class="link link-list" id="apple-select"><%= custom_t(".select_releases_for_apple_music") %></a>
                  </div>
                </div>
              </div>
              <a href="#" class="btn btn-callout" id="apple-submit"><%= custom_t(".send_to_apple_music") %></a>
            </div>

            <div id="apple-albums" title="<%= custom_t(".discography") %>" class="alert mfp-hide">
              <p style="margin-bottom: 1em;"><%= custom_t(".select_releases_to_add_them_to_apple_music") %></p>
              <div class="right"><a href="#" id="apple-select-all"><%= custom_t(:select_all) %></a> / <a href="#" id="apple-unselect-all"><%= custom_t(:unselect_all) %></a></div>
              <div class="scroller">
              <%= form_tag "/store_manager/add_apple_music/", id: "apple-form" do %>
                <table class="tabular table-releases" id="apple-table">
                  <thead>
                    <tr>
                      <th><%= custom_t(:release) %></th>
                      <th><%= custom_t(:type) %></th>
                      <th><%= custom_t(:upc) %></th>
                      <th><%= custom_t(:select) %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @apple_music_eligible_albums.each do |album| %>
                      <tr>
                        <td><%= display_name(album) %></td>
                        <td><%= album.album_type %></td>
                        <td><%= album.upc.number %></td>
                        <td>
                          <input
                            <%= "disabled" if @disable_expander %>
                            <%= 'checked="checked"' unless @uncheck_stores %>
                            class="apple-box"
                            id="album_ids_"
                            name="album_ids[]"
                            type="checkbox"
                            value="<%= album.id %>"
                          />
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% end %>
              </div>
              <a href="#" class="btn btn-action closeReleaseDialog"><%= custom_t(:done) %></a>
            </div>
            <div id="apple-confirm" class="alert mfp-hide">
              <p>
                <%= custom_t(".apple_confirm", {
                  count: @uncheck_stores ? 0 : @apple_music_eligible_albums.length
                }) %>
              </p>
              <a href="#" id="apple-send" class="right btn btn-callout"><%= custom_t(:send) %></a>
              <a href="#" class="closeReleaseDialog right btn btn-action"><%= custom_t(:cancel) %></a>
            </div>
            <div id="no-apple-albums" class="alert mfp-hide">
              <%= custom_t(".you_havent_selected_any_albums") %>
            </div>
          </div>
        <% end %>
      </div>

    </header>

    <% if @stores.any? %>
      <div class="<%= expander_container_class(@disable_expander) %>">
        <div class="row store_manager-store_options">
          <div class="columns eight">
            <span class="blocky-checkbox">
              <input
                <% unless @uncheck_stores %>checked="checked"<% end %>
                <%= "disabled" if @disable_expander %>
                id="selectAllCheck"
                type="checkbox"
              />
            </span>
            <label class="blocky-label" for="selectAllCheck"><%= custom_t(".send_my_missing_releases", { count: @missing_total_count }) %></label>
          </div>
          <div class="columns four">
            <a
              class="link link-list"
              href="#"
              id="selectReleaseForAllLink"
            >
              <%= custom_t(".select_releases_to_deliver_to_all_missing_stores") %>
            </a>
          </div>
        </div>

        <% @stores.each do |store| %>
          <% next if Store.hide_ytm_store?(store[:abbrev]) || ytsr_proxy?(store) %>
          <%= render partial: "store_manager_store", locals: { store: store } %>
        <% end %>

        <% if feature_enabled?(:store_automator) %>
          <footer class="row">
            <div class="columns ten">
              <%= custom_t(:subtotal) %>
            </div>
            <div class="columns two">
              <span class="store_manager-subtotal_price">
                <%= @uncheck_stores ?
                    "#{locale_currency_symbol}0" :
                    money_to_currency(@stores_subtotal.to_money(@currency)) %>
              </span>
            </div>
          </footer>
        <% end %>
      </div>
    <% end %>
  </section>


  <section class="store_manager-stores">
    <% unless @automator_disabled %>
      <header class="row" <% if @salepoint_subscriptions[:missing_releases].length <= 0 %>style="border-bottom: 1px solid #B5B5B5; margin-bottom: 3em;"<% end %>>
        <div class="columns seven">
          <h2 id="store_automator"><a name="automator"><%= custom_t(".store_automator") %></a></h2>
          <% if @salepoint_subscriptions[:missing_releases].length > 0 %>
            <%= custom_t(".releases_not_sold_in_future_stores", {
              count: @salepoint_subscriptions[:missing_releases].length
            }) %>
          <% elsif !@have_distributed %>
            <%= custom_t(".no_releases_yet_automator") %>
          <% else %>
            <% if @unpaid_automators_in_cart > 0 %>
              <div class="row box box-alert">
                <div class="columns one">
                  <img src="/images/alert.png">
                </div>
                <div class="columns eleven" style="padding-left: 10px; padding-top: 5px;">
                  <%= custom_t(".you_have_items_in_your_cart", { cart_path: cart_path }) %>
                </div>
              </div>
            <% else %>
              <img src="/images/black_circle_check.png" style="float: left; margin-right: 10px;">
              <%= custom_t(".youre_all_covered") %>
            <% end %>
          <% end %>
        </div>
      </header>

      <% if @salepoint_subscriptions[:missing_releases].any? %>
        <div class="row store_manager-store <% if @uncheck_all %>disabled<% end %>" store_id="future">
          <div class="columns eight store_manager-text store_automator-text">
            <span class="blocky-checkbox">
              <input
                type="checkbox"
                id="selectAllFutureCheck"
                class="selectStoreCheck"
                <% unless @uncheck_all %>checked="checked"<% end %>
              />
            </span>
            <label class="blocky-label" for="selectAllFutureCheck"><%= custom_t(".send_releases_to_all_future_stores_automatically") %></label>
            <%= custom_t(".store_automator_description", {
              price: money_to_currency(@salepoint_subscriptions[:price].to_money(@currency))
            }) %>
          </div>
          <div class="columns four store_manager-summary store_automator-summary">
            <div class="row">
              <div class="columns four mobile-one">
                <%= custom_t(".store_automator_count2", {
                  count: @uncheck_all ? "0" : @salepoint_subscriptions[:missing_releases].length
                }) %>
              </div>
              <div class="columns four mobile-one">
                <span class="store_manager-store_price">
                  <%= cost_display(
                    @salepoint_subscriptions[:original_price],
                    @salepoint_subscriptions[:price],
                    @currency
                  ) %>
                </span><br>
                <%= custom_t(".each") %><br><br>
              </div>
              <div class="columns four mobile-two" style="text-align: right;">
                <span class="store_manager-store_total_price <% if @salepoint_subscriptions[:product].current_targeted_product && @salepoint_subscriptions[:product].current_targeted_product.price_adjustment_description %>targeted_offer-highlight<% end %>" id="automator-price"><% if @uncheck_all %><%= locale_currency_symbol %>0<% elsif @salepoint_subscriptions[:price] * @salepoint_subscriptions[:missing_releases].length <= 0 %><%= custom_t(:free) %><% else %><%= money_to_currency((@salepoint_subscriptions[:price] * @salepoint_subscriptions[:missing_releases].length).to_money(@currency)) %><% end %></span><br>
              </div>
            </div>
            <% if @salepoint_subscriptions[:product].current_targeted_product %>
              <div class="row">
                <div class="columns twelve targeted_offer-highlight" style="text-align: right;">
                  <% if @salepoint_subscriptions[:product].current_targeted_product.flag_text %><%= @salepoint_subscriptions[:product].current_targeted_product.flag_text %><br><% end %>
                  <%= @salepoint_subscriptions[:product].current_targeted_product.price_adjustment_description %><br>
                  <% if @salepoint_subscriptions[:product].current_targeted_product.show_expiration_date %><%= custom_t(".offer_expires_automator", { date: fmt_long_date(@salepoint_subscriptions[:product].current_targeted_product.targeted_offer.expiration_date_for_person(current_user)) }) %><br><% end %>
                  <br><br>
                </div>
              </div>
            <% end %>
            <div class="row">
              <div class="columns twelve">
                <a href="#" class="link link-list selectReleaseLink"><%= custom_t(".select_releases_to_deliver_to_future_stores") %></a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <% unless @disable_checkout || @hide_checkout %>
      <footer class="row">
        <div class="columns ten">
          <%= custom_t(:total) %>
        </div>
        <div class="columns two">
          <div class="row">
            <div class="columns twelve">
              <span class="store_manager-total_price">
                <%= @uncheck_all ?
                    "#{locale_currency_symbol}0" :
                    money_to_currency(@initial_total.to_money(@currency)) %>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="columns twelve">
              <a href="#" id="checkoutButton" class="btn btn-callout"><%= custom_t(".checkout") %></a>
              <form id="storeManagerForm" action="<%= store_manager_path %>" method="POST">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <input type="hidden" name="data" id="checkoutData">
              </form>
            </div>
          </div>
        </div>
      </footer>
    <% end %>
  </section>

  <div id="releaseDialog" title="<%= custom_t(".discography") %>" class="alert mfp-hide">
    <p style="margin-bottom: 1em;"><%= custom_t(".select_releases_to_add_to_store") %></p>
    <div class="right"><a href="#" class="release_dialog-select_all"><%= custom_t(:select_all) %></a> / <a href="#" class="release_dialog-unselect_all"><%= custom_t(:unselect_all) %></a></div>
    <div class="scroller">
      <table class="table-releases tabular">
        <thead>
          <tr>
            <th><%= custom_t(:release) %></th>
            <th><%= custom_t(:type) %></th>
            <th><%= custom_t(:upc) %></th>
            <th><%= custom_t(:select) %></th>
          </tr>
        </thead>
        <tbody>
          <tr><td></td><td></td><td></td><td></td></tr>
        </tbody>
      </table>
    </div>
    <a href="#" class="btn btn-action closeReleaseDialog"><%= custom_t(:done) %></a>
  </div>
</section>
