
<%=
  CSV.generate(SalesReport::CSV_OPTIONS) do |csv|
    # header
    csv << [
      custom_t(:store),
      custom_t(".albums_sold"),
      custom_t(".songs_sold"),
      custom_t(".songs_streamed"),
      custom_t(".net_sales"),
      custom_t(".net_earnings")
    ]

    @stores.each do |store|
      build_report_row(csv) do
        [
          store.name,
          @store_report.store_albums_sold(store.id),
          @store_report.store_songs_sold(store.id),
          @store_report.store_songs_streamed(store.id),
          "#{@store_report.store_net_sales(store.id)} #{@store_report.store_currency(store.id)}" ,
          @store_report.store_net_earnings(store.id)
        ]
      end
    end

    build_total_row(csv) do
      [
        custom_t(".totals"),
        @store_report.albums_sold,
        @store_report.songs_sold,
        @store_report.songs_streamed,
        "",
        @store_report.net_earnings
      ]
    end
  end
%>
