
<%= render :partial => "sales_reports/controls" %>

<table>
  <thead>
    <tr>
      <th><%= custom_t(:store) %></th>
      <th><%= custom_t(:albums) %><br/> <%= custom_t(:sold) %></th>
      <th><%= custom_t(:songs_display) %><br/> <%= custom_t(:sold) %></th>
      <th><%= custom_t(:songs_display) %><br/> <%= custom_t(".streamed") %></th>
      <th><%= custom_t(:net) %><br/> <%= custom_t(:sales_display) %></th>
      <th><%= custom_t(:net) %><br/> <%= custom_t(".earnings") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= store.name %></td>
        <td><%= number_with_delimiter(@store_report.store_albums_sold(store.id)) %></td>
        <td><%= number_with_delimiter(@store_report.store_songs_sold(store.id)) %></td>
        <td><%= number_with_delimiter(@store_report.store_songs_streamed(store.id)) %></td>
        <td class="money"><%= money_to_currency(@store_report.store_net_sales(store.id), :suppress_iso => false) %></td>
        <td class="money"><%= money_to_currency(@store_report.store_net_earnings(store.id)) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td class="total"><%= custom_t(:total) %></td>
      <td><span><%= number_with_delimiter @store_report.albums_sold %></span> <%= custom_t(:albums) %><br/> <%= custom_t(:sold) %></td>
      <td><span><%= number_with_delimiter @store_report.songs_sold %></span> <%= custom_t(:songs_display) %><br/> <%= custom_t(:sold) %></td>
      <td><span><%= number_with_delimiter @store_report.songs_streamed %></span> <%= custom_t(:songs_display) %><br/> <%= custom_t(".streamed") %></td>
      <td colspan="2" class="net-earnings"><%= money_to_currency(@store_report.net_earnings) %> <span><%= custom_t(".net_earnings") %></span></td>
    </tr>
  </tfoot>
</table>

<%= link_to(custom_t(".download_report"), csv_report_path, :class => 'button') %>
