<% content_for :css do %>
  <%= stylesheet_link_tag "country_and_store_selector"%>
<% end %>

<% content_for :external_javascript do %>
  <%= include_gon %>

  <script type="text/javascript">
    var CountrySelectorCountriesJSON            = <%= @countries.to_json.html_safe%>;
    var CountrySelectorCountryCodesSelectedJSON = <%= @selected_country_codes.to_json.html_safe%>;
    var AlbumFinalized                          = <%= @ringtone.finalized_at? %>;
    var ShowUpgradeDialog                       = <% if cookies[:in_upgrade] %>true<% cookies.delete(:in_upgrade) %><% else %>false<% end %>;
    var albumId                                 = <%= @ringtone&.id.to_json %>;

    jQuery(document).ready(function($) {
      const today = moment().startOf("day")
      const scheduledReleaseNotice = $('.scheduled_release_notice')

      if (gon.canScheduleRelease === false && moment(gon.saleDate).isAfter(today)) {
        scheduledReleaseNotice.show()
      }

      $('.sale-date').change(function(e) {
        if (gon.canScheduleRelease) return

        const selection = moment(e.target.value)

        if (selection.isAfter(today)) {
          scheduledReleaseNotice.show()
        } else {
          scheduledReleaseNotice.hide()
        }
      })
    })
  </script>

  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <%= javascript_include_tag "/javascripts/app/country_selector.js" %>
  <%= javascript_include_tag "/javascripts/app/release_date_picker.js" %>
  <%= javascript_include_tag "/javascripts/app/ringtone.js" %>
  <%= javascript_include_tag "/javascripts/app/creatives.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.autogrow.js" %>
  <%= javascript_include_tag "/javascripts/plugins/tc.styleguide.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.select-to-autocomplete" %>
<% end %>

<%= f.text_field(
  :name,
  :label => "#{custom_t(".title")}",
  :tc_required => true,
  :disabled => @ringtone.finalized?,
  :class => "trigger-title-preview creative-title form-text",
  :new_form => true
) %>

<fieldset class="check">


  <ul>
    <%= f.check_box(
      :parental_advisory,
      :label => raw("#{image_tag '/images/explicit.png', style: 'margin-bottom: -4px; margin-right: 5px;'} #{custom_t(:track_has_explicit)} <a href=\"#{knowledgebase_link_for('explicit-track-what-is', country_website)}\" target=\"_blank\">#{custom_t(:read_more)}</a>"),
      :disabled => @ringtone.finalized?,
      :li_class => 'checkbox',
      :new_form => true
    ) %>
  </ul>

  <ul class="clean-version-checkbox">
    <%= f.check_box(
      :clean_version,
      :label => raw("#{image_tag '/images/clean.png', style: 'margin-bottom: -4px; margin-right: 5px;'} #{custom_t(:clean_version_of_explicit_track)} </b><a href=\"#{knowledgebase_link_for('explicit-track-indicate-howto', country_website)}\" target=\"_blank\">#{custom_t(:read_more)}</a>"),
      :disabled => @ringtone.finalized?,
      :li_class => 'checkbox',
      :new_form => true
    )%>
  </ul>

</fieldset>

<%= render(
  :partial => "creatives/creative_list",
  :locals => {
  :object => @ringtone,
  :creatives => @creatives,
  :new_form => true
  }
) %>

<%= f.select(
  :language_code_legacy_support, language_list,
  :label => "#{custom_t(".language")}",
  :disabled => @ringtone.finalized?,
  :tc_required => true,
  :li_class => 'language select',
  :new_form => true,
  :selected => @ringtone.language_code
)%>

<%= f.select(
  :primary_genre_id, ringtone_genre_list,
  :label => "#{custom_t(:primary_genre)}",
  :tc_required => true,
  :disabled => @ringtone.finalized?,
  :li_class => 'primary-genre select',
  :new_form => true
) %>

<%= f.select(
  :secondary_genre_id, ringtone_genre_list,
  :label => custom_t(:secondary_genre),
  :disabled => @ringtone.finalized?,
  :li_class => 'secondary-genre select',
  :new_form => true
) %>

<%= hidden_field_tag("translated_date_fields[sale_date]", "long_date", { disabled: @ringtone.finalized? }) %>

<div class="scheduled_release_notice">
  <div class="scheduled_release_inner">
    <%= image_tag 'plans/LockIcon.png', class: "scheduled_release_inner__lock" %>
    <p><%= custom_t("ringtones.scheduled_release_upgrade") %></p>
  </div>
</div>
<%= f.text_field(
  :sale_date,
  :label => custom_t(:release_date),
  :disabled => @ringtone.finalized?,
  :value => fmt_long_date_picker_preselected(@ringtone.sale_date),
  :class => "form-text date-box sale-date",
  :new_form => true
) %>

<%= hidden_field_tag("translated_date_fields[orig_release_year]", "long_date", { disabled: @ringtone.finalized? }) %>

<%= f.text_field(:orig_release_year,
  :label => custom_t(:original_release_date),
  :disabled => @ringtone.finalized?,
  :class => "form-text date-box original-date-box",
  :value => (fmt_long_date(@ringtone.orig_release_year) if @ringtone.orig_release_year),
  :li_class => 'hide',
  :new_form => true
) %>

<%= f.hidden_field(:song_id) %>

<% if @ringtone.is_editable? %>
  <%= f.text_field(
    :optional_isrc,
    class:    "form-text",
    label:    "#{custom_t(".isrc_optional")}<br>#{link_to custom_t(:what_does_isrc_mean), knowledgebase_link_for('upc-isrc-get-before-i-upload', country_website), :target => "_blank", :class => "song-isrc-faq"}",
    new_form: true
  ) %>
<% end %>

<hr>
<h2 class="advanced_features"><%= custom_t("plans.advanced_distribution_header") %></h2>
<% unless @advanced_features %>
  <p class="advanced_features_subheader helper">
    <%= custom_t("plans.advanced_distribution_subheader") %>
  </p>
<% end %>

<%= render partial: '/shared/countries_and_regions', locals: {release: @ringtone} %>

<input type="hidden" id="iso_codes" name="ringtone[iso_codes]" style="display: none;">

<%= f.text_field(:label_name,
  :label => custom_t(:label_name),
  :class => "form-text",
  :disabled => @ringtone.finalized?,
  :new_form => true
)%>

<% if @ringtone.is_editable? %>
  <%= f.text_field(:optional_upc_number,
    label:    custom_t(".upc_ean"),
    class:    "form-text",
    new_form: true
  )%>
<% end %>
