<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/upload.css" %>
<% end %>

<p><%= custom_t(:bitrate_warning) %></p>
<p><strong><%= custom_t(".length") %></strong></p>
<p><em><%= custom_t(:aod_warning) %></em></p>
<% if !song.last_errors.blank? %>
  <strong class="error em"><%= song.last_errors %></strong>
<% end %>
<div id="song-uploader">
  <%= build_song_uploader(song) %>
</div>
<p><%= custom_t(".questions") %></p>
