<script type="text/javascript">
  var TC = TC || {};
  TC.selected_date = "<%= @ringtone.sale_date_to_s || '' %>";
  TC.suggest_date = "<%= suggested_date %>";
</script>

<% content_for :css do %>
  <%= stylesheet_link_tag "release_creation" %>
<% end %>

<div class="row">
  <section class="form twelve columns centered">
    <header class="helper six columns">
      <h1 class="main_headline"><%= custom_t(".create") %></h1>
      <span class="required-helper">* <%= custom_t(:required_field) %></span>
      <p><%= custom_t("ringtones.note") %></p>
    </header>

    <% if @cannot_distribute_to_itunes %>
      <header class="helper six columns text-right">
        <div class="margin-top-20">
          <b class="cannot-ringtone"><%= custom_t("plans.cannot_distribute_to.itunes") %></b>
        </div>
      </header>
    <% end %>

    <%= form_for(@ringtone, :html => {:class => 'new_ringtone preview-title-form'}) do |f| %>
      <%= render :partial => "ringtone_fields", :locals => { :f => f } %>

      <%= render(partial: 'shared/release_submission_spinner') %>

      <%= f.submit custom_t(".create"), li_class: "form-actions", new_form: true, class: 'release-submission-button button inform' %>
    <% end %>

    <% if @cannot_distribute_to_itunes %>
      <div class="text-center margin-top-20 margin-right-60 margin-bottom-20">
        <b class="cannot-ringtone"><%= custom_t("plans.cannot_distribute_to.itunes") %></b>
      </div>
    <% end %>
  </section>
</div>
