<%# flash.now[:message] = renewal_status(@ringtone) if display_renewal?(@ringtone) %>

<script type="text/javascript">
  var TC = TC || {};
  TC.albumId = <%= @ringtone.id %>;
</script>
<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/upload_completed.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
  <script type="text/javascript">
    jQuery(document).ready(function($){
      $('.open-popup').magnificPopup({
        type: 'inline',
        midClick: true
      });
    });
  </script>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "release_creation" %>
  <%= stylesheet_link_tag "country_and_store_selector" %>
  <%= stylesheet_link_tag '/stylesheets/magnific-popup.css' %>
<% end %>

<%= render "royalty_splits/splits_access_popup_includes" %>
<%= render 'royalty_splits/splits_access_create_splits_popup' %>
<%= render 'royalty_splits/splits_access_suspended_splits_popup' %>

<% if FeatureFlipper.show_feature?(:distro_flow_changes, current_user) %>
  <div class="row">
    <div class="eight columns">
      <h1 class="show-page-header"><%= custom_t('edit_ringtone') %></h1>
    </div>
  </div>
<% end %>

<div class="row">
  <section class="eight columns">
    <div class="row">
      <% if FeatureFlipper.show_feature?(:distro_flow_changes, current_user) %>
        <div class="twelve columns albuminfo">
      <% else %>
        <div class="four columns">
          <%= render :partial => "artwork/upload", :locals => { :album => @ringtone } %>
        </div>
        <div class="eight columns albuminfo">
      <% end %>
        <div class="roundy-header">
          <div class="row">
            <div class="columns eight">
              <h2><%= custom_t(:details) %></h2>
            </div>
            <div class="columns four text-right">
              <% unless @ringtone.finalized? or @ringtone.takedown_at %><%= link_to(custom_t(:edit), edit_ringtone_path(@ringtone), class: 'link', style: 'font-size: 13px;') %><% end %>
            </div>
          </div>
        </div>
        <div class="roundy-content" style="padding: 15px;">
          <h2><%= display_name(@ringtone) %></h2>
          <h3>by <%= @ringtone.artist_name %></h3>
          <%= album_status_info(@ringtone) %>
          <% if params[:upload_song].present? %>
            <div class="upload-song-trigger"></div>
          <% end %>
          <dl class="info">
            <dt><%= custom_t(:release_date) %>:</dt>
            <dd><%= fmt_short_date(@ringtone.sale_date) %></dd>

            <dt id="label-dt"><%= custom_t(:label) %>:</dt>
            <dd id="label-dd"><%= label_name_display_value(@ringtone) %></dd>

            <dt><%= custom_t(:isrc) %>#:</dt>
            <dd><%= @ringtone.isrc %></dd>
            <dt><%= custom_t(:upc) %>:</dt>
            <dd><%= @ringtone.upc  %></dd>
            <dt><%= custom_t(:primary_genre) %>: </dt>
            <dd><%= @ringtone.primary_genre.name %></dd>
            <% if @ringtone.genres.size > 1 %>
              <dt><%= custom_t(:secondary_genre) %>: </dt>
              <dd><%= @ringtone.secondary_genre.name %></dd>
            <% end %>
            <dt><%= custom_t(:language) %>:</dt>
            <dd><%= album_language(@ringtone).description %></dd>
            <% if @ringtone.parental_advisory? %>
              <dd><%= custom_t(".contains_explicit_lyrics") %>.</dd>
            <% end %>
          </dl>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <%= render '/album/store_list', album: @ringtone, unpurchased_stores: @unpurchased_stores unless salepoints_redesign_feature_enabled? %>
    <%= render '/album/royalty_splits', release: @ringtone if release_can_be_split?(@ringtone) %>
    <div class="roundy-header">
      <div class="row">
        <div class="columns eight">
          <h2><%= custom_t(:song) %></h2>
        </div>
        <div class="columns four text-right">
        </div>
      </div>
    </div>
    <div class="roundy-content uploads" style="margin-top: 0; margin-bottom: 30; padding: 15px;">
      <% if enable_bigbox_uploader? %>
        <%= render :partial => "songs/single_song_bigbox", :locals => { :song => @song, :album => @ringtone } %>
      <% else %>
        <div class="rounded-container grid_11 alpha upload" id="ringtone-upload">
          <% if @song.uploaded? %>
            <h2><%= custom_t(:current_file) %></h2>
            <h3><%= custom_t(:song) %>: <%= display_name(@song) %></h3>
            <h3><%= custom_t(:filename) %>: <%= truncate(@song.original_filename, :length => 35) %></h3>
          <% end %>
          <%= render(:partial => "upload", :locals => { :song => @song }) %>
        </div>
      <% end %>
    </div>

    <% if FeatureFlipper.show_feature?(:distro_flow_changes, current_user) %>
      <%= render :partial => "artwork/upload", :locals => { :album => @ringtone } %>
    <% end %>
    <%= render '/album/store_list', album: @ringtone, unpurchased_stores: @unpurchased_stores if salepoints_redesign_feature_enabled? %>
  </section>

  <aside id="distribution-panel" class="four columns">
    <%= render :partial => "album/checklist_and_distribution_ui", :locals => { :album => @ringtone } %>
  </aside>
  <%= render( :partial => 'album/distribute_modal_popup', :locals => { :album => @ringtone }) %>
</div>

<div id="cyrillic_formatting_popup" class="alert mfp-hide">
  <%= render "shared/cyrillic_formatting_popup" %>
</div>
