<%= javascript_tag do %>
  window.translations = <%= raw @dashboard_translations.to_json %>;
<% end %>
<%= javascript_include_tag '//cdn.jsdelivr.net/npm/qtip2@3.0.3/dist/jquery.qtip.min.js' %>

<% content_for :css do %>
  <%= stylesheet_link_tag "//cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css" %>
<% end %>

<% if flash[:alert].present? %>
  <%= content_tag :div, class:
  'facebook track-monetizations__alert' do %>
    <%= custom_t("dashboard_text.#{flash[:alert]}") %>
  <% end %>
<% end %>

<%= content_tag :div, class: 'facebook track-monetizations__dashboard' do %>
  <%= content_tag :h3, class: 'facebook track-monetizations__dashboard__page-title' do %>
    <%= content_tag :strong do %>
      <%= custom_t('dashboard_text.send_music') %>
    <% end %>
  <% end %>
  <%= content_tag :div, class: 'facebook track-monetizations__dashboard__text' do  %>
    <%= content_tag :p do %>
      <%= custom_t('dashboard_text.submit_your_tracks') %>
    <% end %>
    <%= content_tag :p do %>
      <%= content_tag :em do %>
        <%= custom_t("dashboard_text.no_classical") %>
      <% end %>
    <% end %>
  <% end %>

  <%= content_tag :div,
        class: 'facebook track-monetizations__dashboard__table-container' do %>
    <%= render 'shared/track_monetization_table', service: "facebook" %>
  <% end %>
<% end %>
