<div class="mass-check">
  <input type="button" value="<%= custom_t(".clear_all") %>" class="clear-all button-interface"><input type="button" value="<%= custom_t(".approve_all") %>" class="approve-all button-callout"><input type="button" value="<%= custom_t(".reject_all") %>" class="reject-all button-callout">
</div>
