<h2><%= custom_t(".youtube_money") %></h2>

<div class="filter-holder">
  <div class="filters">
    <%= form_tag(ytm_salepoint_songs_path, method: "get" ) do %>
      <div class="filter float-holder" style="padding-top: 0">
        <div class="float" style="width: 100px"><%= custom_t(".search_by") %></div>
        <div class="float">
          <%= select_tag('query', options_for_select([ custom_t(".account_id"), custom_t(".account_email"), custom_t(".account_name"), custom_t(".song_name"),
                                                       custom_t(".song_isrc"), custom_t(".release_upc"), custom_t(".release_name"), custom_t(".artist_name") ], @query))  %>
        </div>
      </div>
      <div class="filter float-holder">
        <div class="float" style="width: 100px"><%= custom_t(".search_for") %></div>
        <div class="float"><input type="text" id="salepoint-songs-search" name="search" value="<%= @search %>"></div>
        <span id="search-help"><%= custom_t(".search_text_fields") %></span>
      </div>
      <div class="filter float-holder" style="border-botton: none">
        <div class="float" style="width: 100px"><%= custom_t(".song_state") %></div>
        <div class="float">
          <%= select_tag('valid_state', options_for_select([custom_t(:new), custom_t(".approved"), custom_t(".rejected"), custom_t(:all)], @valid_state)) %>
        </div>
      </div>
      <div class="filter float-holder" style="border-bottom: none">
        <div class="float" style="width: 100px"><%= custom_t(:page) %></div>
        <div class="float">
          <%= select_tag('page', options_for_select((1..@query.total_pages), @page)) %>
        </div>

        <div class="per-page-select">
          <div class="float" style="width: 100px"><%= custom_t(".per_page") %></div>
          <div class="float">
            <%= select_tag('per_page', options_for_select([10, 25, 50, 100], @per_page)) %>
          </div>
        </div>
      </div>
      <input type="hidden" name="field_change" value="" id="field_change">
      <div class="filter float-holder" style="border-bottom: none; padding-bottom: 0">
        <div class="float" style="width: 100px">&nbsp;</div>
        <div class="float submit"><%= submit_tag custom_t(:go) %></div>
      </div>
    <% end %>
  </div>
</div>
