<% content_for :css do %>
  <%= stylesheet_link_tag '/stylesheets/pub_admin.css' %>
  <%= stylesheet_link_tag '/stylesheets/ytm_admin.css' %>
  <%= stylesheet_link_tag '/stylesheets/font-awesome.min.css' %>
  <%= stylesheet_link_tag '/stylesheets/magnific-popup.css' %>
<% end %>

<% if !current_user.is_administrator %>
<div id="admin-controls">
  <nav>
    <strong><%= h current_user.name %></strong>
    <ul>
      <li><%= link_to(custom_t(:sign_out), logout_path()) %></li>
    </ul>
  </nav>
</div>
<% end %>

<%= render "salepoint_songs_search" %>

<% if flash[:mass_update_success] %>
  <%= render "mass_update_success" %>
<% end %>

<%= form_tag({:controller => '/ytm/salepoint_songs', :action => :update}, :id => 'salepoint_songs_result_form') do %>
  <%= render "submit_button" %>
  <div class="table-holder">
    <%= render "mass_check" %>
    <div class="display-results"><%= "#{@searched_items.count} of #{@query.total_entries} results displayed" %></div>
    <table id="comp-table">
      <thead>
        <tr>
          <th class="play"><%= custom_t(:play) %></th>
          <% if @valid_state == "All" %>
            <th class="status-col"><%= custom_t(:status) %></th>
          <% end %>
          <th class="genre"><%= custom_t(".release_genre") %></th>
          <th><%= custom_t(".release_name") %></th>
          <th><%= custom_t(".song_name") %></th>
          <th><%= custom_t(".account_name") %></th>
          <th><%= custom_t(".primary_artist") %></th>
          <th><%= custom_t(".feat_other_artists") %></th>
          <th class="isrc"><%= custom_t(".song_isrc") %></th>
          <th class="upc"><%= custom_t(".release_upc") %></th>
          <th><%= custom_t(:label) %></th>
          <th class="verify"><%= custom_t(".verify_youtube") %></th>
        </tr>
      </thead>
      <tbody>
        <% if @searched_items.blank? %>
          <td colspan="9"><%= custom_t(".no_revenue") %></td>
        <% else %>
          <% @searched_items.each do |salepoint_song| %>
            <tr class="salepoint_song_row">
              <td id="<%=salepoint_song.id%>" class="play">
                <a href="<%=ytm_salepoint_song_play_song_path(salepoint_song)%>" class="play-link fa-play fa"></a>
              </td>
              <% if @valid_state == "All" %>
                <td><%= salepoint_song.state %></td>
              <% end %>
              <td><%= display_genre(salepoint_song) %></td>
              <td><%= salepoint_song.release_name %></td>
              <td><%= salepoint_song.song_name %></td>
              <td><%= display_account_name(salepoint_song) %></td>
              <td><%= display_primary_artists(salepoint_song) %></td>
              <td><%= salepoint_song.sec_artists_names.present? ? salepoint_song.sec_artists_names : "None" %></td>
              <td><%= salepoint_song.isrc %></td>
              <td><%= salepoint_song.release_upc %></td>
              <td><%= salepoint_song.label_name %></td>
              <td class="checkbox-wrapper">
                <label><input type="checkbox" name="salepoint_songs[<%= salepoint_song.id %>][state]" value="approved" class="approve-check" <% if salepoint_song.state != 'rejected' %>checked<% end %>><%= custom_t(".approve") %></label>
                <label><input type="checkbox" name="salepoint_songs[<%= salepoint_song.id %>][state]" value="rejected" class="reject-check" <% if salepoint_song.state == 'rejected' %>checked<% end %>><%= custom_t(".reject") %></label>
                <input type="hidden" class="reject-reason" name="salepoint_songs[<%= salepoint_song.id %>][reason_for_rejection]"/>
                <input type="hidden" class="reject-comments" name="salepoint_songs[<%= salepoint_song.id %>][comments_for_rejection]"/>
                <% if salepoint_song.state == "rejected" %>
                  <div class="reject-reason-display">(<%=salepoint_song.reason_for_rejection%>)</div>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= render "submit_button" %>

  <div id="reject-reason-popup" class="mfp-hide">
    <%= custom_t(".why_rejecting") %>
    <div class="validation-failed"></div>
    <div id="reject-reason-fields">
      <label for="reject-reason"><%= custom_t(".reason_rejection") %></label>
      <div class="select-wrapper">
        <select id="reject-reason">
          <option></option>
          <option><%= custom_t(".pd_works") %></option>
          <option><%= custom_t(".compilation") %></option>
          <option><%= custom_t(".suspicious assets") %></option>
        </select>
      </div>
      <label for="reject-reason-comments"><%= custom_t(".comments") %></label>
      <textarea cols="40" id="reject-reason-comments" rows="20"></textarea>
      <div class="button-wrapper">
        <button id="submit-reject-reason" class="button-callout"><%= custom_t(".reject") %></button>
        <button id="cancel-reject-reason" class="button-interface"><%= custom_t(".cancel") %></button>
      </div>
    </div>
  </div>

<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
  <script>
  jQuery(function($) {

    var $approved = $("#comp-table tbody .approve-check");
    var $rejected = $("#comp-table tbody .reject-check");
    var $checkboxWrapper = $('.checkbox-wrapper');
    var approved = $.makeArray($approved);
    var rejected = $.makeArray($rejected);
    var checkboxWrapper = $.makeArray($checkboxWrapper);
    var $field_change = $("#field_change");
    var $salepoint_song_row = $(".salepoint_song_row");
    var salepoint_song_row = $.makeArray($salepoint_song_row);

    $checkboxWrapper.each(function () {
      if ($(this).find(".reject-check").prop("checked")) {
        $(this).addClass("red");
      } else {
        $(this).addClass("green");
      }
    });

    $approved.change(function () {
      var approvedIndex = approved.indexOf(this);
      var $this = $(this)
      var $thisCell = $this.parent().parent()
      var $thisRow = $thisCell.parent()

      if($(this).prop("checked")) {
        $(rejected[approvedIndex]).prop("checked", false);
        $(checkboxWrapper[approvedIndex]).removeClass("red").addClass("green");
        $thisCell.children("input.reject-reason").val("")
        $thisCell.children("input.reject-comments").val("")
        $thisCell.children("div.reject-reason-display").remove()

      } else {
        $(checkboxWrapper[approvedIndex]).removeClass("green red");
      }
    });

    var rejectConfirmed = false;

    $rejected.change(function () {
      var rejectedIndex = rejected.indexOf(this);
      var $this = $(this)
      var $thisCell = $this.parent().parent()
      var $thisRow = $thisCell.parent()
      if($this.prop("checked")) {
        $thisRow.addClass("hard-red")
        $("span.pluralize-header").html("this track")
        $.magnificPopup.open({
          items: {
            src: "#reject-reason-popup"
          },
          type: "inline",
          callbacks: {
            beforeOpen: function () {
              $("#reject-reason").val("")
              $("#reject-reason-comments").val("")
              $(".validation-failed").hide()
            },
            close: function () {
              $thisRow.removeClass("hard-red")
              if (rejectConfirmed) {
                $thisCell.children("input.reject-reason").val($("#reject-reason").val())
                $thisCell.children("input.reject-comments").val($("#reject-reason-comments").val())
                $reasonDiv = $("<div class=\"reject-reason-display\">")
                $reasonDiv.html("(" + $("#reject-reason").val() + ")")
                $thisCell.append($reasonDiv)
                $(approved[rejectedIndex]).prop("checked", false);
                $(checkboxWrapper[rejectedIndex]).addClass("red").removeClass("green");
              } else {
                $this.prop("checked", false);
              }
            },
            afterClose: function () {
              rejectConfirmed = false
            }
          }
        })
      } else {
        $(checkboxWrapper[rejectedIndex]).removeClass("green red");
        $thisCell.children("input.reject-reason").val("")
        $thisCell.children("input.reject-comments").val("")
        $thisCell.children("div.reject-reason-display").remove()
      }
    });

    $("#submit-reject-reason").on("click", function (e) {
      e.preventDefault();
      $(".validation-failed").hide()
      if ($("#reject-reason").val() == "") {
        $(".validation-failed").html("You must provide a reason for rejection.")
        $(".validation-failed").show()
        return
      }

      if ($("#reject-reason").val() == "Suspicious Assets" && $("#reject-reason-comments").val() == "") {
        $(".validation-failed").html("Comments are required when rejecting tracks due to \"Suspicious Assets\".")
        $(".validation-failed").show()
        return
      }

      rejectConfirmed = true;
      $.magnificPopup.close();
    })

    $("#cancel-reject-reason").on("click", function (e) {
      e.preventDefault();
      rejectConfirmed = false;
      $.magnificPopup.close();
    })

    $(".approve-all").on("click", function () {
      $checkboxWrapper.removeClass("red").addClass("green");

      $("input.reject-reason").val("")
      $("input.reject-comments").val("")
      $("div.reject-reason-display").remove()

      $approved.prop("checked", true);
      $rejected.prop("checked", false);
    });

    $(".reject-all").on("click", function () {
      $("span.pluralize-header").html("these tracks")
      $.magnificPopup.open({
        items: {
          src: "#reject-reason-popup"
        },
        type: "inline",
        callbacks: {
          beforeOpen: function () {
            $("#reject-reason").val("")
            $("#reject-reason-comments").val("")
          },
          close: function () {
            if (rejectConfirmed) {
              $("input.reject-reason").val($("#reject-reason").val())
              $("input.reject-comments").val($("#reject-reason-comments").val())
              $reasonDiv = $("<div class=\"reject-reason-display\">")
              $reasonDiv.html("(" + $("#reject-reason").val() + ")")

              $checkboxWrapper.append($reasonDiv)
              $checkboxWrapper.addClass("red").removeClass("green");
              $approved.prop("checked", false);
              $rejected.prop("checked", true);
            }
          },
          afterClose: function () {
            rejectConfirmed = false
          }
        }
      })
    });

    $(".clear-all").on("click", function () {
      $checkboxWrapper.removeClass("red green");
      $approved.each(function () {
        $(this).prop("checked", false);
      });

      $rejected.each(function () {
        $(this).prop("checked", false);
      });

      $("input.reject-reason").val("")
      $("input.reject-comments").val("")
      $("div.reject-reason-display").remove()
    });

    $("#per_page, #valid_state, #query").change(function () {
      $field_change.val("true");
    });

    $("#salepoint-songs-search").on('input', function () {
      $field_change.val("true");
    });

    $(".successful-update").delay(2500).fadeOut('normal');

    $(".play-link").on("click", function (e) {
      e.preventDefault();

      var $this = $(this)
      var playAudio = $this.hasClass("fa-play")

      $("audio").remove()
      $(".yellow").removeClass("yellow")
      $(".fa-pause").toggleClass("fa-pause fa-play")

      if ( playAudio ) {
        $this.parent().parent().addClass("yellow")
        $this.toggleClass("fa-play fa-spinner fa-spin")
        $.ajax({
          url: $this.attr("href"),
          success: function (data) {
            $td = $(data.cell_id)
            $audio = $("<audio src=\"" + data.song_url + "\"/>")
            $td.append($audio)
            $audio[0].play()
            setTimeout(function () { $this.toggleClass("fa-pause fa-spinner fa-spin") }, 5000)
          }
        })
      }
    });
  });
  </script>
<% end %>
