<div class='inventory-detail'>
	<h3>Purchase Date									</h3>	<h4><%= inventory_detail.created_at.strftime("%b %d, %Y %I:%M %p") %>       	 </h4>
	<h3>Order:		                  	</h3>	<h4><%= invoice_admin_link(inventory_detail.purchase.invoice_id) %>  </h4>
	<h3>Price:		                  	</h3>	<h4><%= money_to_currency(inventory_detail.purchase.invoice.final_settlement_amount) %>  </h4>
	<h3>Name:		                      </h3>	<h4><%= inventory_detail.product_item.product.name %>                </h4>
	<h3>Type:			                    </h3>	<h4><%= inventory_detail.inventory_type %>                           </h4>
	<h3>Credits Remaining:		        </h3>	<h4><%= inventory_detail.quantity_remaining %>                       </h4>
	<h3>Original Purchase Quantity:   </h3>	<h4><%= inventory_detail.quantity %>                                 </h4>
	<h3>Credits Used		              </h3>	<h4><%= inventory_detail.quantity_used %>                            </h4>
	<h3>Credits Adjusted:		          </h3>	<h4><%= inventory_detail.quantity_adjustment   %>                    </h4>
</div>