<tr class="<%=cycle('odd', 'even') -%>">
  <td><%= inventory.created_at.strftime("%b %d, %Y") %></td>
	<td class="table_link"><%= invoice_admin_link(inventory.purchase.invoice_id) %></td>
	<td><%= inventory.product_item.product.name %></td>
  <td><strong><%= inventory.inventory_type %></strong></td>
	<td class="qty_remaining"><strong><%= inventory.quantity_remaining %></strong></td>
  <td><%= inventory.quantity %></td>
	<td><%= inventory.quantity_used %></td>
	<td><%= inventory.quantity_adjustment unless inventory.inventory_adjustments.count == 0  %></td>
	<td class="table_link adjustment_link">
		<% if current_user.has_role?('Refunds') && current_user.id != @person.id && inventory.quantity_remaining > 0 %>
			<%= link_to 'Adjust', new_admin_person_inventory_inventory_adjustment_path(@person, inventory, {:minWidth => 460, :minHeight => 500}),:class => "lightbox" %>
		<% else %>
			&nbsp;
		<% end -%>
		</td>
	<td class="table_link"><%= link_to 'Show Details', admin_person_inventory_path(@person, inventory), :title=>'show_details' %></td>
</tr>