<%= render partial: "/admin/shared/searchbox" %>
<%= render partial: "/admin/people/mini_person", locals: {person: @person, features: [:show_balance, :show_person_link]}%>
<section id="admin_content">

<h2 class="inventories">
  <%= button_to('Reset Credit Usages For Cart', destroy_all_admin_person_credit_usages_path(@person)) %>
</h2>
  
<% if !@inventories_all.empty? %>
	<h2>Credit Totals for <%= @person.name %></h2>
	<table class="summary">
	  <thead>
	    <tr>
	      <th>Credit Type</th>
				<th>Remaining</th>
				<th>In cart</th>
	      <th>Purchased</th>
				<th>Used</th>
				<th>Adjustment</th>
	    </tr>
	  </thead>
		<tbody>
				<% @inventories_all.group_by(&:inventory_type).each do |type, array| %>
					<tr>
						<td><strong><%= type %></strong></td>
						<td><strong><%= array.collect{|i| i.quantity_remaining}.sum %></strong></td>
						<td>(<%= cu = @credit_usages_in_cart.detect{ |cu| cu.related_type == type }; cu ? cu.temp_used : 0 %>)</td>
						<td><%= array.collect(&:quantity).sum %></td>
						<td><%= array.collect(&:quantity_used).sum %></td>
						<td><%= array.collect(&:quantity_adjustment).sum %></td>
					</tr>
				<% end -%>
		</tbody>
	</table>
<% end -%>
<h2>Credit Purchases for <%= @person.name %></h2>

<table class="inventories">
  <thead>
    <tr>
      <th>Purchase Date</th>
			<th>Order ID</th>
			<th>Description</th>
      <th>Purchase Type</th>
			<th>Remaining</th>
      <th>Purchased</th>
    	<th>Used</th>
      <th>Adjustment</th>
			<th> &nbsp; </th>
			<th> &nbsp; </th>
    </tr>
  </thead>
  <tbody>
	<% if !@inventories.empty? %>
		<%= render @inventories %>
	<% else %>
		<tr><td colspan="10"> There are no credit purchases for this customer </td></tr>
	<% end -%>
  </tbody>
</table>
<% if @inventories.total_entries > @inventories.per_page %>
	<div class="jump-links">
		Jump to page:

		<%= will_paginate( @inventories, :params => {:term => params[:term]}) %>
	</div>
<% end %>
</section>

