<%= render :partial => '/admin/shared/searchbox'%>
<%= render :partial => '/admin/people/mini_person', :locals => {:person => @person, :features => [:show_balance, :show_person_link]}%>
<section id="admin_content">
<h2><%= link_to 'Back to All Credits', admin_person_inventories_path(@person) %></h2>
<h2>Credits Purchase Details (<%= pluralize @inventory.quantity_remaining, 'credit' %> remaining)</h2>

<%= render 'inventory_detail', :inventory_detail=> @inventory %>

<h2><%= pluralize @inventory_usages.size, 'Credit Usage' %></h2>

<table class="inventories">
  <thead>
    <tr>
			<th>Art</th>
      <th>Name</th>
			<th>Artist</th>
			<th>UPC</th>
			<th>Usage Date</th>
			<th>Renewal Date</th>
			<th>Status</th>
    </tr>
  </thead>
  <tbody>
		<% if !@inventory_usages.empty? %>
			<%= render @inventory_usages %>
		<% else %>
			<tr><td colspan="7">No credits have been used.</td></tr>
		<% end -%>
  </tbody>
</table>

<h2><%= pluralize @inventory_adjustments.size, 'Credit Adjustment' %>
	 <%= (@inventory.quantity_adjustment == 0 ? "(no net effect)" : (@inventory.quantity_adjustment > 0 ? "(adding #{pluralize @inventory.quantity_adjustment, 'credit'})" : "(removing #{pluralize @inventory.quantity_adjustment.abs, 'credit'})")) unless @inventory_adjustments.empty? %>
	- <%= link_to 'New', new_admin_person_inventory_inventory_adjustment_path(@person, @inventory, {:minWidth => 460, :minHeight => 500}),:class => "lightbox" %>
</h2>
	<table class="inventories">
	  <thead>
	    <tr>
	      <th>Date</th>
	      <th>Category</th>
				<th>Amount</th>
				<th>Posted By Name</th>
	      <th>Admin Note</th>
				<th> &nbsp; </th>
	    </tr>
	  </thead>
	  <tbody>
			<% reset_cycle %>
			<% if !@inventory_adjustments.empty? %>
				<%= render @inventory_adjustments %>
			<% else %>
				<tr><td colspan="7">No credit adjustments have been made.</td></tr>
			<% end -%>
	  </tbody>
	</table>
</section>
