<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("payout_transfers.mail.approval_content",
                   payout_type: custom_t("payout_transfers.payout_type.#{@payout_transfer.withdraw_method}"),
                   is_html: true) %>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <strong><%= custom_t("payout_transfers.mail.confirmation_number") %></strong>
      <%= @payout_transfer.client_reference_id %></div>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <strong><%= custom_t("payout_transfers.mail.request_amount") %></strong>
      <%= format_to_currency(@payout_transfer.requested_amount) %>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <strong><%= custom_t("payout_transfers.mail.fee") %></strong>
      <%= format_to_currency(@payout_transfer.fee_dollar_amount) %>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <strong><%= custom_t("payout_transfers.mail.net_request_amount") %></strong>
      <%= format_to_currency(@payout_transfer.dollar_amount) %>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <strong><%= custom_t("payout_transfers.mail.status") %></strong>
      <%= custom_t("payout_transfers.mail.approved") %>
    </td>
  </tr>
</table>

<p style="padding: 10px">
  <%= custom_t("payout_transfers.mail.footnote", is_html: true) %>
</p>
