<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t(
        "payout_transfers.mail.rejection_content",
        amount: format_to_currency(@payout_transfer.dollar_amount),
        help_url: knowledgebase_link_for('new_request', @person.country_website)
      ) %>
    </td>
  </tr>
</table>
