<% content_for :greeting do %>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" style="padding: 10px" width="640">
        <p><%= custom_t("payout_transfers.mail.greeting", person_name: @person.name) %></p>
      </td>
    </tr>
  </table>
<% end %>

<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("payout_transfers.mail.error_processing", requested_amount: format_to_currency(@payout_transfer.requested_amount)) %>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("payout_transfers.mail.return_amount", requested_amount: format_to_currency(@payout_transfer.requested_amount)) %>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("payout_transfers.mail.help_message", help_link: "https:#{knowledgebase_link_for("new_request")}") %>
    </td>
  </tr>
</table>