<% is_targeted = is_targeted || false -%>
<div class="item <%= cycle('', 'odd')%>">
  <div class="grid_2">
    <% if !is_targeted && ad.is_default? -%>
      <strong>DEFAULT</strong><br />
    <% end -%>
    <span class="note">
      <%= ad.status.upcase %><br />
      <%= ad.category %><br />
    </span>

    <%= link_to("Edit", edit_admin_advertisement_path(ad), :class => "lightbox") %>
    |
    <% if is_targeted -%>
      <%= link_to("Remove", admin_targeted_offer_targeted_advertisement_path(targeted_offer, targeted_advertisement), :method => :delete) %><br />
    <% else -%>
      <%= link_to("Delete", admin_advertisement_path(ad), :method => :delete, :confirm => "Deleting this ad will immediately remove it from the site (including all offers). Are you Sure?") %><br />
    <% end -%>
    <%= link_to("Preview", admin_advertisement_path(ad, :minHeight=>610, :minWidth=>670), :class => "lightbox") %>
  </div>
  <div class="grid_4">
    <strong><%= h(ad.name) %> (ID: <%= ad.id %>)</strong><br />
    <strong>Link: </strong><%= ad.action_link %><br /><br />
    <% if ad.display_price -%>
      <strong>Display Price: </strong><%= h(ad.display_price_modifier) %> <%= number_to_currency(ad.display_price) %><br />
      <% if ad.display_price_notes -%>
        <strong>Price Description: </strong>(<%= h(ad.display_price_notes) %>)
      <% else %>
        <strong>Price Description: </strong>N/A
      <% end -%>
      <br />
    <% else -%>
      <strong>Display Price:</strong> N/A<br />
    <% end -%><br /><br />
    <span class="note">Thumbnail</span><br />
    <strong>Link Text: </strong><%= ad.thumbnail_link_text %><br /><br />
  </div>
  <div class="grid_9" style="float:left; text-align: left;">
    <span class="note">Sidebar</span><br />
    <strong>Title: </strong><%= ad.sidebar_title %><br />
    <strong>Copy: </strong><%= ad.sidebar_copy %><br />
    <strong>Link Text: </strong><%= ad.sidebar_link_text %><br /><br />
    <span class="note">Wide</span><br />
    <strong>Title: </strong><%= ad.wide_title %><br />
    <strong>Copy: </strong><%= ad.wide_copy %><br />
    <strong>Link Text: </strong><%= ad.wide_link_text %><br /><br />
  </div>
  <div style="clear:left;">
    <p style="margin:0;padding:5px;font-weight:bold;">This ad is being used in <%= is_targeted ? "#{ad.targeted_advertisements.count - 1} other targeted offer(s)" : "#{ad.targeted_advertisements.count} targeted offer(s)" %>.</p>
  </div>
</div>
