<%= form.text_field(:name, :label => "Ad Name (Not seen by customers)") %>
<%= form.select(:country_website_id, CountryWebsite.all.collect {|cw| [cw.country, cw.id]}, :label => "Country Website", :required => true) %>
<%= form.select(:category, Advertisement::CATEGORIES, :label => "Category") %>
<li>&nbsp;</li>
<li><strong>Thumbnail Ad</strong></li>
<%= form.text_field(:thumbnail_link_text, :label => "Link Text", :maxlength => 30) %>
<li>&nbsp;</li>
<li><strong>Sidebar Ad</strong></li>
<%= form.text_field(:sidebar_title, :label => "Title", :maxlength => 25) %>
<%= form.text_field(:sidebar_copy, :label => "Copy", :maxlength => 120) %>
<%= form.text_field(:sidebar_link_text, :label => "Link Text", :maxlength => 30) %>
<li>&nbsp;</li>
<li><strong>Wide Ad</strong></li>
<%= form.text_field(:wide_title, :label => "Title", :maxlength => 40) %>
<%= form.text_field(:wide_link_text, :label => "Link Text", :maxlength => 20) %>
<li>&nbsp;</li>
<li><strong>Price Information (Not Used in Thumbnail)</strong></li>
<%= form.text_field(:display_price, :label => "Price (Leave blank to omit from Ad)") %>
<%= form.text_field(:display_price_modifier, :label => "Price Modifier Word", :maxlength => 6) %>
<%= form.text_field(:display_price_notes, :label => "Price Notes", :maxlength => 20)%>
<li>&nbsp;</li>
<li><strong>Link</strong></li>
<%= form.text_field(:action_link, :label => "Ad Link") %>
<%= form.select(:status, ["Active", "Inactive"], :label => "Status") %>
<%= form.check_box(:is_default, :label => "Default Ad?") %>
<%= form.hidden_field(:created_by_id) %>
