<h2>Edit Ad <% h(@advertisement.name) %></h2>
<section class="grid_8">
  <fieldset class="small">
    <ul>
    <%= form_for(@advertisement, :url => admin_advertisement_path(@advertisement), :html=>{:method => :put}) do |f| -%>
      <%= render(:partial => "fields", :locals => {:form => f}) %>
      <% if !@targeted_offers.empty? -%>
        <li>
          <strong>This ad is used in the following targeted offers:</strong><br />
          <% @targeted_offers.each do |offer| -%>
            <%= offer.name %> -- <%= offer.status %><br />
          <% end -%>
        </li>
      <% end -%>
      <%= f.submit("Update Ad", :id => "update-advertisement") %>
    <% end -%>
    </ul>
  </fieldset>
<section>

