<h2>Internal Advertisements for <%= @country_website.country %></h2>
<%= render "admin/shared/country_links" %>

<%= link_to("Create New Ad", url_for(:controller=>"admin/advertisements", :action => "new", :minHeight=>580), :class => 'lightbox') %>

<div class="subsection">
  <h2>Default Ads</h2>
  <div class="rounded-container item-container">
    <% @default_ads.each do |ad| -%>
      <%= render(:partial => "ad_details", :locals => {:ad => ad, :is_targeted => false}) %>
    <% end -%>
  </div>
</div>

<div class="subsection">
  <h2>All Other Ads</h2>
  <div class="rounded-container item-container">
    <% @ads.each do |ad| -%>
      <%= render(:partial => "ad_details", :locals => {:ad => ad, :is_targeted => false}) %>
    <% end -%>
  </div>
</div>
