<h2>New Ad</h2>
<section class="grid_8">
  <fieldset class="small">
    <ul>
    <%= form_for(@advertisement, :url => admin_advertisements_path) do |f| -%>
      <%= render(:partial => "fields", :locals => {:form => f})%>
      <%= hidden_field_tag(:targeted_offer_id, @targeted_offer_id) if @targeted_offer_id %>
      <%= f.submit("Create Ad", :id => "add-advertisement")%>
    <% end -%>
    </ul>
  </fieldset>
<section>

