<div class="container_16 grid_16">
  <section>
    <h2>Ad Preview: <%= @advertisement.name %> (<%= @advertisement.status %>)</h2>
  
    <div class="subsection grid_3">
      <h5>Thumbnail Ad</h5>
      <%= render(:partial => "advertisements/thumbnail", :locals => {:ads => [@advertisement]}) %>
    </div>
  
    <div class="subsection">
      <h5>Sidebar Ad</h5>
      <%= render(:partial => "advertisements/sidebar", :locals => {:ads => [@advertisement]}) %>
    </div>
  
    <div class="subsection grid_10">
      <h5>Wide Ad</h5>
      <%= render(:partial => "advertisements/wide", :locals => {:ads => [@advertisement]}) %>  
    </div>
    
    <div class="subsection">
      <h5>Targeted Offers</h5>
      <strong>This ad is used in the following targeted offers:</strong><br />
      <% @targeted_offers.each do |offer| -%>
        <%= offer.name %> -- <%= offer.status %><br />
      <% end -%>
    </div>
  </section>
</div>