<%= content_tag :div, class: "balance-history__summary__cell" do %>
  <%= content_tag :div, class: 'balance-history__value--summary' do %>
    <%= content_tag :strong, balance %>
  <% end %>
  <%= content_tag :div, class: 'balance-history__summary__label' do %>
    <%= content_tag :strong, title %>
  <% end %>
<% end %>
