<%= content_tag :div, class: 'balance-history__summary__links' do %>
   <%= link_to custom_t('balance_histories.actions.withdraw_money'),
               new_payout_transfer_path,
               class: 'balance-history__summary__button' %>
<% end %>
