<%= content_tag :div,  class: "balance-history__summary" do %>
  <%= content_tag :div, class: 'balance-history__summary__header' do %>
    <%= content_tag :strong, class: 'balance-history__summary__page-title' do%>
      <%= content_tag :strong, summary_title %>
    <% end %>
    <%= content_tag :div, class: 'balance-history__summary__currency' do%>
      <%= content_tag :strong, currency_header %>
    <% end %>
  <% end %>

  <%= content_tag :div,  class: 'balance-history__summary__row' do%>
    <%=  render partial: 'balance_histories/balance_summary/cell',
                locals: {
                  title: available_balance_title,
                  balance: parsed_balance(tunecore_balance)
                } %>
    <%=  render partial: 'balance_histories/balance_summary/cell',
                locals: {
                  title: pending_withdrawals_title,
                  balance: parsed_balance(pending_balance)
                } %>
    <%= render partial: 'balance_histories/balance_summary/links' %>
  <% end %>
<% end %>
