<% price_preview_products(@selected_currency_current_pegged_rate, params[:updated_pegged_rate]).each do |product| %>
  <tr>
    <td><%=product[:name]%></td>
    <td><%=product[:usd_price]%></td>
    <td><%=product[:pegged_previous_price]%></td>
    <td><%=product[:pegged_updated_price]%></td>
  </tr>
<% end %>
