<div class="container_16">
  <h1 class="grid_16">Foreign Exchange Pegged Rate</h1>
  <section class="grid_16">
    <%= form_tag(admin_foreign_exchange_pegged_rates_path, method: :get) do %>
      <fieldset>
        <label for="#currency" class="fepg-form-label">Currency</label>
        <div>
          <%= select_tag(:currency, options_for_select(@pegged_currencies), class: "currency_selector") %>
          <button id="refresh_rates" class="fepg-refresh-btn">Submit</button>
        </div>
      </fieldset>
    <% end %>
  </section>
  <% if params[:currency].present? && @selected_currency_pegged_rates.present? %>
    <section class="grid_16">
      <table id="fepg_rates_history" class="table">
        <thead>
          <tr>
            <th>
              <span class="fepg-table-header-info-label">Currency: </span>
              <%= params[:currency]%>
            </th>
            <th>
              <span class="fepg-table-header-info-label">Country: </span>
              <%=@selected_currency_current_pegged_rate.country.name%>
            </th>
            <th colspan="2">
              <%= link_to "Update Pegged Rate",
                new_admin_foreign_exchange_pegged_rate_path(currency: params[:currency]),
                id: 'update-pegged-rate-btn',
                class: 'lightbox', remote: true 
              %>
            </th>
          </tr>
          <tr>
            <th>Pegged Rate</th>
            <th>Updated On</th>
            <th>Updated By</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <% @selected_currency_pegged_rates.each do |pegged_rate_object|  %>
            <tr class="<%= @selected_currency_current_pegged_rate.id == pegged_rate_object.id ? 'active_pegged_rate' : 'inactive_pegged_rate' %>">
              <td><%=pegged_rate_object.pegged_rate%></td>
              <td><%=pegged_rate_object.created_at.strftime('%m/%d/%Y %I:%M%p')%></td>
              <td>
                <% if pegged_rate_object.updated_admin.present? %>
                  <%= link_to pegged_rate_object.updated_admin.name, admin_person_path(id: pegged_rate_object.updated_admin.id), class: 'fepg-updated-by-link' %>
                <% else %>
                  - 
                <% end %>
              </td>
              <td><%=pegged_rate_object.note%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>
</div>
