<%= javascript_include_tag "/javascripts/jquery-1.4.js" %>
<%= javascript_include_tag "/javascripts/foreign_exchange_pegged_rates.js" %>
<%= stylesheet_link_tag "/stylesheets/pegged_rates_tool.css" %>
<section class="grid_22 new_currency_fepg_form_container">
  <h2>Update Pegged Rate for <%= @selected_currency_current_pegged_rate.currency %></h2>
  <% if flash[:alert].present? %>
    <h3 class="fepg-error-notifier"><%= flash[:alert] %></h3>
  <% end %>
  <% if flash[:info].present? %>
    <h3 class="fepg-info-notifier"><%= flash[:info] %></h3>
  <% end %>
  <%= form_for(@new_pegged_rate, url: admin_foreign_exchange_pegged_rates_path) do |f| %>
    <fieldset>
      <div>
        <span class="current_pegged_rate_display">Current Pegged Rate: <%=@selected_currency_current_pegged_rate.pegged_rate%></span>
      </div>
      <div id="pegged_rate_input_container" class="float_left">
        <%= f.number_field :pegged_rate, value: @selected_currency_current_pegged_rate.pegged_rate, step: 0.01, class: 'float_left', required: true %>
      </div>
      <div>
        <a id="preview_price_submit" onclick="refresh_pegged_prices()">Preview</a>
      </div>
      <div class="price_preview_container">
        <table id="update_pegged_rate_preview">
          <thead>
            <tr>
              <th>Example Price Updates</th>
              <th>US Price (USD)</th>
              <th>Previous Price (<%=@selected_currency_current_pegged_rate.currency%>)</th>
              <th>Updated Price (<%=@selected_currency_current_pegged_rate.currency%>)</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "preview_prices" %>
          </tbody>
        </table>
      </div>
      <div class="float_left">
        <%= f.text_area :note, required: true %>
        <%= f.hidden_field :currency, value: params[:currency] %>
        <%= f.hidden_field :country_id, value: @selected_currency_current_pegged_rate.country_id %>
        <%= f.hidden_field :country_website_id, value: @selected_currency_current_pegged_rate.country_website_id %>
      </div>
      <%= f.submit "Submit" %>
    </fieldset>
  <% end %>
</section>
