<% content_for :css do %>
<style type="text/css">
  .field {
    overflow: hidden;
  }
  .radio_buttons {
    float: left;
  }
  .radio_buttons label {
    text-align: left;
  }
  #role_checkboxes {
    float: left;
    width: 400px;
  }
</style>
<% end %>

<%= error_messages_for @review_reason %>
<div class="field">
  <label> Type </label>
  <div id="review_type_select">
    <%= select_tag "review_reason[reason_type]", options_for_select([ "FLAGGED", "REJECTED", "NOT SURE"], @review_reason.reason_type )%>
  </div>
</div>
<div class="field">
  <label> Reason </label>
  <%= text_field_tag "review_reason[reason]", @review_reason.reason %>
</div>
<div class="field" id="emailStuff">
  <label> Email </label>
  <div id="email_template_path_select">
    <%= select_tag "review_reason[email_template_path]",
      options_for_select(ReviewReason.pluck(:email_template_path),
                         @review_reason.email_template_path) %>
  </div>
</div>
<div class="field">
  <label> Should Unfinalize </label>
  <div class="radio_buttons">
    <label><%= radio_button_tag "review_reason[should_unfinalize]", true, @review_reason.should_unfinalize == true %> yes</label>
    <label><%= radio_button_tag "review_reason[should_unfinalize]", false, @review_reason.should_unfinalize == false %> no</label>
  </div>
</div>
<div class="field">
  <label> Roles </label>
  <div id="role_checkboxes">
    <% Role.all.each do |role| %>
      <%= check_box_tag "review_reason[role_ids][]", role.id, @review_reason.roles.include?(role) %>
          <%= role.name %>
      <br/>
    <%end%>
  </div>
</div>

<% content_for :external_javascript do %>
<script type="text/javascript">
jQuery(document).ready(function($){
  var check_review_type = function(){
    var type = $('#review_reason_reason_type').val();
    if(type == 'FLAGGED'){
      $('#emailStuff').hide();
    }
    else{
      $('#emailStuff').show();
    }
  }
  check_review_type();
  $('#review_reason_reason_type').change(function(){
    check_review_type();
  });
});
</script>
<% end %>
