<style type="text/css">
	li{
		list-style: none;
	}
	.field{
		margin-top: 10px;
	}
	label{
		line-height: 20px;
		padding: 0px;
	}
</style>
<h1>Edit Your Reason</h1>
<%= form_for  @review_reason, :as=>:review_reason, :url => admin_review_reason_path(@review_reason), :html => {:method => :put}  do |f| %>
       <%= render :partial => "form", :locals => { :f => f } %>
       <%= submit_tag "Submit", :style => 'margin-left: 255px; margin-top: 20px;' %> <%= link_to 'Cancel', admin_review_reasons_path, :style => 'margin-left: 30px;' %>
<% end %>
<%#= link_to 'Show', admin_review_reason_path(@review_reason) %>
