<style type="text/css">
	.t1 td, .t1 th{
		text-align: left;
		padding: 3px;
		font-size: 12px;
		font-weight: normal;
	}
	.t1 th{
		font-weight: bold;
		background-color: #F2F2F2;
		line-height: 30px;
		color: #000000;
	}
</style>
<div class="flash"><%= flash[:notice] %></div>
<h1>Content Review Reasons</h1>
<% if @review_reasons.empty? %>
  <h2> There's no content review reasons </h2>
<% else %>
<table class="t1">
<thead><tr><th>Date</th><th>Category</th><th>Type</th><th>Reason</th><th style="text-align: center;">Actions</th></tr></thead>
<tbody>
<% @review_reasons.each do |reason|%>
  <tr>
    <td><%=reason.created_at%></td><td><%= reason.review_type %></td><td><%= reason.reason_type %></td>
    <td><%= link_to "#{reason.reason}", admin_review_reason_path(reason) %></td>
    <td style="text-align: center;">
      <%= link_to 'Edit', edit_admin_review_reason_path(reason) %> |
      <%= link_to 'Delete', admin_review_reason_path(reason), data: { confirm: "Are you sure?" }, method: :delete %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
<% end %>

<a class="button" href="/admin/review_reasons/new" style="color: #FFFFFF;">Create</a>
