<%= link_to '&laquo; Back'.html_safe, admin_review_reasons_path %><br /><br />

<div style="float: left; width: 918px; background-color: #F2F2F2; border: 1px solid #CCCCCC; height: auto; padding: 10px; font-size: 12px; margin-bottom: 10px;">
	<span style="font-size: 14px;">
	<strong>Reason:</strong><br />
	<%=@review_reason.reason %><br /><br >
	</span>
	
	<em><strong>Reason Type:</strong> <%="#{@review_reason.review_type} #{@review_reason.reason_type}"%><br /><strong>Email Template Path:</strong> <%=@review_reason.email_template_path %></em>
</div>

<div style="float: left; width: 918px; background-color: #F2F2F2; border: 1px solid #CCCCCC; height: auto; padding: 10px; font-size: 12px; margin-bottom: 10px;">
  	<strong>Roles:</strong><br />
	<%= @review_reason.roles.collect{|r| "#{r.name}" }.join('<br /> ').html_safe %>
</div>

<%= link_to 'Edit', edit_admin_review_reason_path(@review_reason), :class => 'button', :style => 'color: #FFFFFF;' %>
