<% content_for :external_javascripts do %>
  <script type='text/javascript'>
    window.translations = <%= raw @publishing_splits_translations.to_json %>;
  </script>
  <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/split_shares_modal.js" %>
<% end %>

<div class="split-shares-modal-app">
  <div
    id="split_shares_modal_app"
    data-composer="<%= @serialized_composer %>"
    data-composers="<%= @serialized_composers %>"
    data-pros="<%= @pros %>"
    data-cowriters="<%= @serialized_cowriters %>"
    data-compositions="<%= @serialized_compositions %>"
  >
  </div>
</div>
