<%= render :partial=>'admin/eft_batches/eft_batch_links'%>
<%= render :partial=>'admin/people/mini_person', :locals=> {:person => @person_shown} %>
<section style="float:left; clear:none;">

<% if !@active_stored_paypal_account.nil? %>
  <h2>Current Stored Paypal Account ID: <%= @active_stored_paypal_account.email %></h2>
  <section class="grid_6 clearfix" style="padding:10px">
    <p>
      <b>ID:</b> <%= @active_stored_paypal_account.id %><br/>
      <b>Email Address:</b> <%= @active_stored_paypal_account.email %><br/>
      <b>Created At:</b><%= fmt_month_day_year_time(@active_stored_paypal_account.created_at) %><br/>
    </p>
  </section>
	<table style="width:20%">
	  <thead>
	    <tr>
	      <th>Type</th>
	      <th class="right">Total</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td class="left">Success</td>
	      <td class="money right"><%= number_to_currency(@success_total) %></td>
	    </tr>
	    <tr>
	      <td class="left">Failed</td>
	      <td class="money right"><%= number_to_currency(@failed_total) %></td>
	    </tr>
	  </tbody>
	</table>
<% else %>
	<h2><%= @person_shown.name %> does not have a current Stored Paypal Account</h2>
<% end -%>
</section>

<div class="clear"></div>
<h2>Inactive Stored Paypal Accounts </h2>
<table class="non_bold">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Success</th>
      <th>Failure</th>
      <th>Created</th>
      <th>Archived</th>
    </tr>
  </thead>
  <tbody>
    <% if !@previous_stored_paypal_accounts.empty? %>
      <% @previous_stored_paypal_accounts.each do |old_stored_paypal_account| %>
        <tr>
          <td><%= old_stored_paypal_account.id %></td>
          <td><%= old_stored_paypal_account.email %></td>
          <td class="money"><%= number_to_currency(old_stored_paypal_account.successful_transaction_total) %></td>
          <td class="money"><%= number_to_currency(old_stored_paypal_account.failure_transaction_total) %></td>
          <td><%= fmt_month_day_year_time(old_stored_paypal_account.created_at) %></td>
          <td><%= fmt_month_day_year_time(old_stored_paypal_account.archived_at) %></td>
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan="14"> There are no other stored paypal accounts for this user </td></tr>
    <% end %>
  </tbody>
</table>

<h2>Paypal Transactions</h2>
<% @transactions = @paypal_transactions %>
<table id="paypal_transactions" class="no_bold">
  <thead>
    <tr>
      <th class="align-left">Date</th>
      <th>Status</th>
      <th>Success</th>
      <th>Action</th>
      <th>Order ID</th>
      <th>Transaction ID</th>
      <th>Amount</th>
      <th width="20">Currency</th>
      <th>Site</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for paypal_transaction in @transactions %>
      <tr class="<%=cycle("odd", "even")%>">
        <td class="align-left"><%= fmt_country_datetime(paypal_transaction.updated_at) %></td>
        <td><%= paypal_transaction.status %></td>
        <td><%= paypal_transaction.ack %></td>
        <td><%= paypal_transaction.action %></td>
        <td><%= invoice_admin_link(paypal_transaction.invoice_id) %></td>
        <td><%= paypal_transaction.transaction_id %></td>
        <td class="right money"> $<%= paypal_transaction.payment_amount %></td>
        <td><%= paypal_transaction.currency %></td>
        <td><%= flag(paypal_transaction.country_website) %></td>
        <td><%= link_to("Details", admin_transaction_path(paypal_transaction, :transaction_type => 'paypal'), :class=>"lightbox") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
