.album-modal {
  background: #fff;
  border-radius: 10px;
  border: none;
  height: 80vh;
  margin: 60px auto 0;
  outline: none;
  overflow: hidden;
  padding: 1em;
  position: relative;
  width: 700px;

  h3 {
    font-size: 1em;
    font-weight: 700;
  }

  .album-app-combobox__input {
    // background: #F1F2F6;
    border-bottom-width: 1px;
    border-color: #96c8da;
    border-left-width: 1px;
    border-right-width: 0px;
    border-style: solid;
    border-top-left-radius: 6px;
    border-top-width: 1px;
    cursor: pointer;
    flex-grow: 1;
    height: 3em;
    padding: 1em;
    padding-right: 50px;
    position: relative;

    // &::placeholder {
    //   color: #616D7A;
    // }
  }

  @media screen and (max-width: 767px) {
    border-radius: unset;
    margin: 60px 0 0;
    height: 100vh;
    width: 100vw;
  }

  @media screen and (min-width: 1280px) {
    height: 50vh;
  }
}

.album-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Body--open {
  overflow: hidden;
}
