@import "react-datepicker";

.main-container {
  min-height: unset;

  .reskin-footer {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);  
  }
}

.notifications {
  margin-bottom: .5em;
}

.album-app-title {

  h1 {
    color: $tunecore_blue;
    font-weight: bold;
    text-align: justify;
  }

  span {
    font-weight: bold;
  }
}

.div-album-form {
  margin: 4% 2% 0 2%;

  @media screen and (max-width: 900px) {
    margin: 0;
    padding: 0;
  }

  input,
  select,
  .input-group > :first-child {
    border-radius: 4px;
  }

  .save {
    font-size: $tc-base-font-size * 1.1;
    margin-top: 3%;
    max-width: 50%;
  }

  .div-album-form-field {
    margin: 1.2em 0;

    .div-prev-release{
      display: block
    }

    .golive-input {
      margin-bottom: 0px;
    }

    .golive-input select:not(:last-child) {
      margin-right: 10px;
    }

    .optional {
      em {
        font-size: $tc-base-font-size - .25em
      }
    }

    .release-example {
      padding-left: 25px;
    }

    .previously-released {
      padding-bottom: 0%;
      padding-left: 2%;
    }

    label {
      font-size: $tc-base-font-size;
      font-weight: 700;
      line-height: 1em;
      padding-right: 10px;

      &.radio {
        font-weight: normal;

        input {
          margin-bottom: .75em;
        }
      }

      @media screen and (max-width: 900px) {
        margin-bottom: .5em;
      }
    }

    span {
      padding-right: 2%;
    }

    .span-prev-released {
      padding-right: 2%;
      white-space: nowrap;
    }

    .note {
      margin-top: -1.2em;
      margin-bottom: 10px;

      em {
        font-size: $tc-base-font-size - .25em
      }
    }

    .callout {
      border-radius: 6px;
      font-size: 14px;
    }

  }

  .radio-toolbar {
    margin-top: 10px;
    margin-bottom: 10px;

    input[type="radio"] {
      opacity: 0;
      width: 0;
    }

    label {
      color: #61B0F4;
      background-color: #ffffff;
      padding: 10px;
      border: 1px solid #61B0F4;
      border-radius: 4px;
      float: none;
      font-weight: normal;
      line-height: 1em;
      margin: 0 1em 0 0;
    }

    input[type="radio"]:checked + label {
      background-color: #61B0F4;
      color: #ffffff;
      border-color: #61B0F4;
    }
  }

  .tooltip {
    padding: 0px;
  }
}

.required {
  color: $danger-zone;
  font-weight: bold;
}
