.negative-positive-buttons-container {
  display: flex;
  justify-content: center;

  .row {
    margin: 0 1em;

    .button {
      margin: 0 1em;
    }

    .negative-button {
      background: #fff;
      border: 1px solid #000;
      color: #000;

      &:hover {
        background: #d7e8f5;
        transition: all ease-in-out;
      }
    }
  }


}
