<div class="balance-transaction-table-filter__form__transaction-types_selections">
  <%= link_to "Select All", '#', id: "completed_transaction_filter_select_all" %>
  |
  <%= link_to "Clear Selection", '#', id: "completed_transaction_filter_clear_selection" %>
</div>
