jQuery("#balance_history_table_data")
  .html("<%= j render partial: "admin/balance_transactions/transaction_history/row",
        collection: @filtered_transactions,
        cached: fragment_caching_enabled?,
        as: :transaction %>");
