<fieldset class="select release_date">
  <label>
    <%= custom_t('timed_release_fields.release_date') %>
    <tiny><%= custom_t('timed_release_fields.release_date_caption') %></tiny>
  </label>

  <div class="flex-row">
    <div class="flex-column">
      <label>
        <%= custom_t('timed_release_fields.month') %>
      </label>

      <%= select_month(get_go_live_date_attribute(@single, :month, today_month) && get_go_live_date_attribute(@single, :month, today_month).to_i, {}, {name: 'single[golive_date][month]', id: 'timed-release-month-select'}) %>
    </div>

    <div class="flex-column">
      <label>
        <%= custom_t('timed_release_fields.day') %>
      </label>

      <%= select_tag('single[golive_date][day]', options_for_select((1..31).map {|day| [day]}, selected: get_go_live_date_attribute(@single, :day, today_day)), id: 'timed-release-day-select') %>
    </div>

    <div class="flex-column">
      <label>
        <%= custom_t('timed_release_fields.year') %>
      </label>

      <%= select_tag('single[golive_date][year]', options_for_select(select_years_for_selection.map {|year| [year]}, selected: get_go_live_date_attribute(@single, :year, today_year)), id: 'timed-release-year-select') %>
    </div>
  </div>
</fieldset>

<% if @single.errors.any? && @single.errors[:golive_date].present? %>
  <div class="golive-error">
    <strong><%= @single.errors[:golive_date].first %></strong>
  </div>
<% end %>
