<script type="text/javascript">
  var TC = TC || {};
  TC.selected_date = "<%= @single.sale_date_to_s || '' %>";
  TC.suggest_date = "<%= suggested_date %>";
</script>

<% content_for :css do %>
  <%= stylesheet_link_tag "release_creation" %>
<% end %>
<%= render partial: "shared/release_rejection", locals: {release: @single} if release_is_rejected? %>

<div class="row">
  <section class="form twelve columns centered">
    <header class="helper six columns">
      <h1 class="main_headline"><%= custom_t('singles.edit_tiktok_release') %></h1>
      <span class="required-helper">* <%= custom_t(:required_field) %></span>
    </header>

    <%= form_for(@single, :url => {:controller => :tiktok_singles, action: :update}, html: {class: 'edit_single preview-title-form release-form'}) do |f| %>
      <%= render :partial => "single_fields", locals: { f: f, show_time_fields: false } %>

      <%= render(partial: 'shared/release_submission_spinner') %>

      <% if !@single.finalized? %>
        <%= f.submit custom_t('singles.edit.save_single'), li_class: "form-actions", new_form: true, class: 'release-submission-button button inform' %>
      <% else %>
        <fieldset class="form-actions"><%= link_to(custom_t('.return_to_single'), @single, id: "single_submit", class: "button") %></fieldset>
      <% end %>
    <% end %>
  </section>
</div>


<%= render( :partial => 'album/distribute_modal_popup', :locals => { :album => @single }) %>
