<script type="text/javascript">
  var TC = TC || {};
  TC.selected_date = "<%= @single.sale_date_to_s || '' %>";
  TC.suggest_date = "<%= suggested_date %>";
</script>

<% content_for :optimizely_custom_tags do %>
  <%= optimizely_custom_tag(Optimizely::Page.new(current_user, currency: locale_currency, page_type: Optimizely::Album, page_name: optimizely_page_name).tag_data) %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "release_creation" %>
<% end %>

<div class="row">
  <section class="form twelve columns centered">
    <header class="helper six columns">
      <h1 class="main_headline"><%= custom_t('controllers.singles.create_new_tiktok_release') %></h1>
      <span class="required-helper">* <%= custom_t(:required_field) %></span>
    </header>
    <%= form_for(@single, url: tiktok_singles_path, html: {class: 'new_single preview-title-form release-form'}) do |f| %>
      <%= render :partial => "single_fields", :locals => { f: f, show_time_fields: true } %>

      <%= render(partial: 'shared/release_submission_spinner') %>

      <%= f.submit custom_t('singles.new.create_my_single'), li_class: "form-actions", new_form: true, class: 'release-submission-button button inform' %>
    <% end %>
  </section>
</div>
