<%= content_tag :div, class: "balance-transaction-summary-cell" do %>
  <%= content_tag :div, class: 'balance-transaction-summary-value' do %>
    <%= content_tag :strong, balance %>
  <% end %>
  <%= content_tag :div, class: 'balance-transaction-summary-label' do %>
    <%= content_tag :strong, title %>
  <% end %>
<% end %>
