<%= content_tag :div,  class: "balance-transaction-summary-container" do %>
  <%= content_tag :div, class: 'balance-transaction-summary-header' do %>
    <%= content_tag :strong, class: 'balance-transaction-summary-page-title' do %>
      <%= content_tag :strong, "Balance & Transaction History "%>
    <% end %>

    <%= content_tag :div, class: 'balance-transaction-summary-currency' do %>
      <%= content_tag :strong, currency_header %>
    <% end %>
  <% end %>

  <%= content_tag :div,  class: "balance-transaction-summary-row" do %>
    <%=  render partial: "admin/balance_transactions/balance_summary/cell",
                locals: {
                  title: available_balance_title,
                  balance: parsed_balance(tunecore_balance)
                } %>
    <%=  render partial: "admin/balance_transactions/balance_summary/cell",
                locals: {
                  title: pending_withdrawals_title,
                  balance: parsed_balance(pending_balance)
                } %>
  <% end %>
<% end %>
