<?xml version="1.0" encoding="utf-8"?>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 49.98 49.98" class="<%= embed_class %>">
  <defs>
    <style>
      .cls-1 {
        fill: url(#linear-gradient);
      }

      .cls-2 {
        fill: url(#New_Gradient_Swatch_copy_2);
      }
    </style>
    <linearGradient id="linear-gradient" x1="5.86" y1="-3.84" x2="43.61" y2="53.05" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#3c4045" />
      <stop offset="0.32" stop-color="#2e3134" />
      <stop offset="1" stop-color="#141414" />
    </linearGradient>
    <linearGradient id="New_Gradient_Swatch_copy_2" x1="8.67" y1="9.01" x2="40.42" y2="40.09"
      gradientUnits="userSpaceOnUse">
      <stop offset="0.01" stop-color="#3b8dd7" />
      <stop offset="1" stop-color="#39309f" />
    </linearGradient>
  </defs>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_1-2" data-name="Layer 1">
      <rect class="cls-1" width="49.98" height="49.98" rx="8.57" />
      <path class="cls-2"
        d="M42.19,25A17.2,17.2,0,1,1,25,7.8,17.3,17.3,0,0,1,42.19,25Zm-2.36,0A15,15,0,0,0,25,9.92a15,15,0,0,0,0,29.91A14.77,14.77,0,0,0,39.83,25Zm-9.42,0a5.42,5.42,0,0,1-10.84,0,5.42,5.42,0,1,1,10.84,0Zm-2.12,0a3.3,3.3,0,1,0-3.3,3.3A3.22,3.22,0,0,0,28.29,25Z" />
    </g>
  </g>
</svg>
