<?xml version="1.0" encoding="utf-8"?>
<svg class="record" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1068 1068">
	<g>
		<g>
			<path class="record-path" d="M534,422A112,112,0,1,1,422,534,112,112,0,0,1,534,422m0-115a226.68,226.68,0,1,0,88.39,17.89A225.66,225.66,0,0,0,534,307Z"/>
			<path class="record-path" d="M534,115c231.41,0,419,187.59,419,419S765.41,953,534,953,115,765.41,115,534,302.59,115,534,115M534,0A534.11,534.11,0,0,0,326.11,1026,534.11,534.11,0,0,0,741.89,42,530.7,530.7,0,0,0,534,0Z"/>
		</g>
	</g>
</svg>
