<% if current_user %>
  <% if plan_display_valid? %>
    <% if show_plan_promo? %>
      <%= render partial: "plan_promo/plan_promo", locals: { parent_component: parent_component } %>
    <% end %>
  <% elsif current_user.display_rewards_program? %>
    <%= stylesheet_link_tag "/stylesheets/tier_promo.css" %>
    <aside id="tier-promo">
      <div class="reward-badge">
        <a href="/rewards">
          <%= render partial: "tier_promo/svg_partials/tc-lockup", locals: { embed_class: "rewards-lockup" } %>
          <div class="rewards-text"><%= custom_t("rewards_program.rewards_program_name") %></div>
          <%= render partial: "tier_promo/svg_partials/tier-#{current_user.relevant_tier.id}", locals: { embed_class: "record-icon", parent_component: parent_component } %>
          <div class="reward-badge-text">
            <div class="artist-level"><%= rewards_program_tiers_phrase_key(current_user.relevant_tier, 'name') %></div>
            <ul class="benefits">
              <%= rewards_program_tiers_phrase_key(current_user.relevant_tier, 'description') %>
            </ul>
          </div>
        </a>
      </div>
    </aside>
  <% end %>
<% end %>
