<% if current_user %>
  <% if plan_display_valid? %>
    <%= render partial: "plan_promo/plan_promo_nav", locals: {parent_component: parent_component}  %>
  <% elsif current_user.display_rewards_program? %>
    <%= stylesheet_link_tag "/stylesheets/tier_promo.css" %>
    <a href="/rewards" class="reward-nav">
      <%= render partial: "tier_promo/svg_partials/tier-#{current_user.relevant_tier.id}", locals: {embed_class: "record-icon", parent_component: parent_component} %>
      <ul class="tier-nav-copy">
        <li class="tier-name"><%= rewards_program_tiers_phrase_key(current_user.relevant_tier, "name") %></li>
        <li class="nav-cta"><%= custom_t("rewards_program.rewards_program_nav.CTA") %></li>
      </ul>
    </a>
  <% end %>
<% end %>
