<html>
  <head>
    <style>
      body {
        font-family: Verdana, sans-serif;
      }

      #cover {
        border: solid silver 10px;
        background-image: url('<%= @cover.background_url %>');
        width: 600px;
        height: 600px;
        overflow: hidden;
        float: left;
      }
    </style>
  </head>
  <body>
    <%# image_tag @cover.background_url %>
    <%#	<h1> @cover.id </h1> %>
    <div id="cover">
      <img src="<%= @cover.artist.rendered_image_url %>" />
      <img src="<%= @cover.title.rendered_image_url %>" />
    </div>

    <div id="artist_form" style="float: right;">
      <fieldset>
        <legend>Artist</legend>
        <%= form_for(@cover.artist,
          :url => cover_artist_path) do |artist_form| %>
          <p>
            <%= artist_form.label :value %><br />
            <%= artist_form.text_field :value %>
          </p>
          <p>
            <%= artist_form.label :typeface_effect_id %><br/>
            <%= artist_form.select :typeface_effect_id, TypefaceEffect.all.collect{|e| [e.name, e.id]} %>
          </p>
			<fieldset>
				<legend><%= @cover.artist.typeface_effect.name %> settings</legend>
				<%= artist_form.fields_for :settings do |setting_form| %>
					<p>
						<%= setting_form.label setting_form.object.option.label %>
						<br/>
						<%= setting_field(setting_form.object_name,
						 	setting_form.object.option.setting_type, setting_form.object.value) %>
					</p>
				<% end %>
			</fieldset><br/>
          <%= submit_tag %>
        <% end %>
      </fieldset>
    </div>

    <div id="title_form" style="float: right;">
      <fieldset>
        <legend>Title</legend>
        <%= form_for(@cover.title,
          :url => cover_title_path) do |f| %>
          <p>
            <%= f.label :value %><br />
            <%= f.text_field :value %>
          </p>
          <p>
            <%= f.label :typeface_effect_id %><br/>
            <%= f.select :typeface_effect_id, TypefaceEffect.all.collect{|e| [e.name, e.id]} %>
          </p>
			<fieldset>
				<legend><%= @cover.title.typeface_effect.name %> settings</legend>
				<%= f.fields_for :settings do |setting_form| %>
					<p>
						<%= setting_form.label setting_form.object.option.label %>
						<br/>
						<%= setting_field(setting_form.object_name,
						 	setting_form.object.option.setting_type, setting_form.object.value) %>
					</p>
				<% end %>
			</fieldset>
			<br/>
          <%= submit_tag %>
        <% end %>
      </fieldset>
    </div>
  </body>
</html>
