<html>
  <head>
    <style>
      body {
        font-family: Verdana, sans-serif;
      }
      .cover {
        border: solid black 4px;
        width: 300px;
        height: 300px;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <td>
          <img class="cover" src="<%= @suggested_covers[0].rendered_cover_url %>" width="300" height="300" />
        </td>
        <td>
          <img class="cover" src="<%= @suggested_covers[1].rendered_cover_url %>" width="300" height="300" />
        </td>
        <td>
          <img class="cover" src="<%= @suggested_covers[2].rendered_cover_url %>" width="300" height="300" />
        </td>
      </tr>
      <tr>
        <td>
          <img class="cover" src="<%= @suggested_covers[3].rendered_cover_url %>" width="300" height="300" />
        </td>
        <td>
          <img class="cover" src="<%= @suggested_covers[4].rendered_cover_url %>" width="300" height="300" />
        </td>
        <td>
          <img class="cover" src="<%= @suggested_covers[5].rendered_cover_url %>" width="300" height="300" />
        </td>
      </tr>
    </table>
  </body>
</html>