<div class="row data-row row-<%= suffix %>">
  <%= simple_form_for [:admin, help_link], { remote: true, method: action } do |f| %>
    <div class="two columns data-column">
      <%= help_link.id %>
      <%= f.input :row_id, as: :hidden, input_html: { value: suffix } %>
    </div>
    <div class="three columns data-column"><%= f.input  :article_id, label: false, input_html: { class: "input_#{suffix}" } %></div>
    <div class="three columns data-column"><%= help_link.article_slug %></div>
    <div class="four columns action-column">
    <%= f.button :submit, "Save Changes", class: "button_#{suffix} #{help_link.id.present? ? "disabled" : ""}", disabled: help_link.id.present? %>
    </div>
  <% end %>
</div>

<% content_for :external_javascript do %>
  <script type="text/javascript">

    jQuery('.input_<%=suffix%>').each(function() {
      jQuery(this).attr('oldval',jQuery(this).val());
    });

    jQuery('.input_<%=suffix%>').on('change keypress paste focus textInput input', function() {

      var val = jQuery(this).val();
      if(val != jQuery(this).attr('oldval')) {
        jQuery(this).attr('oldval', val);
        jQuery(".button_<%=suffix%>").removeClass("disabled")
        jQuery(".button_<%=suffix%>").prop("disabled", false)
      }
    });

  </script>
<% end %>
