<% if flash[:error] %>
  jQuery("#flash-messages").show().html('<%= j render partial: "flash_message", locals: { id: "errorExplanation", message: flash[:error] } %>')
                           .fadeOut(5000, "linear")
<% else %>
  jQuery("#flash-messages").show().html('<%= j render partial: "flash_message", locals: { id: "goodErrorExplanation", message: flash[:notice] } %>')
                           .fadeOut(3000, "linear")
  jQuery(".row-<%= @row %>").remove()
  jQuery("#data-section").prepend("<%=j render partial: 'knowledgebase_link_form', locals: { help_link: @link, action: :post, suffix: @link.id }%>")
<% end %>