<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/admin.css" %>
  <%= stylesheet_link_tag "/stylesheets/country_help_links.css" %>
<% end %>

<main class="content">
  <header class="row">
    <div class="twelve columns">
      <h1>Country Help Links</h1>
    </div>
  </header>

  <div class="row header-row">
    <div class="two columns header-column">ID</div>
    <div class="three columns header-column">Article ID</div>
    <div class="three columns header-column">Article Slug</div>
    <div class="four columns header-column"></div>
  </div>

  <section id="data-section">
  <% if @help_links.each do |link| %>
    <%= render partial: "knowledgebase_link_form", locals: { help_link: link, action: :put, suffix: link.id } %>
  <% end.empty? %>
    <div class="row">
      <div class="twelve columns">
        No Country Help Links Available
      </div>
    </div>
  <% end %>
  </section>
</main>
