jQuery("#data-section").prepend("<%=j render partial: "knowledgebase_link_form", locals: { help_link: @link, action: :post, suffix: "new-#{rand(1..100)}" }%>")

jQuery('#cancel-newlink').on('click', function(event){
  event.preventDefault();
  jQuery('#data-section .row').first().remove();
})
