
<% if flash[:error] %>
  jQuery("#flash-messages").show().html('<%= j render partial: "flash_message", locals: { id: "errorExplanation", message: flash[:error] } %>')
                           .fadeOut(5000, "linear")
<% else %>
  jQuery("#flash-messages").show().html('<%= j render partial: "flash_message", locals: { id: "goodErrorExplanation", message: flash[:notice] } %>')
                           .fadeOut(3000, "linear")
  jQuery(".button_<%=@link.id%>").addClass("disabled")
  jQuery(".button_<%=@link.id%>").prop("disabled", true)
<% end %>
