<% if @searched_items.present? %>
  <div class="pagination-wrapper <%= pag_class %>">
    <span style="float: left;"><%= page_entries_info @searched_items %></span>
    <span style="float: right;"><%= will_paginate @searched_items %></span>
    <div class="clearfix"></div>
  </div>
<% end %>
