<h2>Admin :: Publishing Composition Splits</h2>

<div class="filter-holder">
  <div class="filters">
    <%= form_tag(search_admin_publishing_composition_splits_path, method: "get" ) do %>
      <div class="filter float-holder" style="padding-top: 0">
        <div class="float" style="width: 100px">Search By:</div>
        <div class="float">
          <%= select_tag('query', options_for_select([ "Account ID", "Account Email", "Account Name", "PublishingComposition ID", "PublishingComposition Name",
                                                       "Song ISRC", "Release ID", "Release UPC", "Release Name" ], @query))  %>
        </div>
      </div>
      <div class="filter float-holder">
        <div class="float" style="width: 100px">Search For:</div>
        <div class="float"><input type="text" id="splits-search" name="search" value="<%= @search %>"></div>
      </div>
      <div class="filter float-holder" style="border-bottom: none">
        <div class="float" style="width: 100px">Per Page:</div>
        <div class="float">
          <%= select_tag('per_page', options_for_select([10, 25, 50, 75, 100, "All"], @per_page)) %>
        </div>
      </div>
      <div class="filter float-holder" style="border-bottom: none; padding-bottom: 0">
        <div class="float" style="width: 100px">&nbsp;</div>
        <div class="float submit"><%= submit_tag "Go" %></div>
      </div>
    <% end %>
  </div>
</div>
