<% content_for :css do %>
  <%= stylesheet_link_tag '/stylesheets/pub_admin.css' %>
<% end %>

<%= render "splits_search" %>

<%= form_tag({:controller => '/admin/publishing_composition_splits', :action => :update}, :id => 'splits_result_form') do %>
  <%= render "submit_button" %>

  <%= render "pagination", pag_class: "pagination-top" if @searched_items.respond_to?(:total_pages)%>

  <div class="table-holder">
    <table id="comp-table">
      <thead>
        <tr>
          <%= th_order_by 'Publishing Composition Name', 'composition_name', @order %>
          <%= th_order_by 'Publishing Composition ID', 'comp_id', @order %>
          <%= th_order_by 'Publishing Compositions State', 'composition_state', @order %>
          <%= th_order_by 'Account Name', 'account_name', @order %>
          <%= th_order_by 'Release ID', 'release_id', @order %>
          <%= th_order_by 'Release UPC', 'release_upc', @order %>
          <th>Split</th>
        </tr>
      </thead>
      <tbody>
        <% if @searched_items.blank? %>
          <td colspan="6">No Publishing Composition Splits Found</td>
        <% else %>

          <% @searched_items.each do |split| %>
            <tr>
              <td><%= split.composition_name %></td>
              <td><%= split.comp_id %></td>
              <td><%= PublishingComposition.convert_to_status(split.composition_state) %></td>
              <td><%= link_to split.account_name, admin_person_url(split.account_id) %></td>
              <td><%= split.release_id %></td>
              <td><%= split.release_upc %></td>
              <td><input type="text" id="<%= split.id %>" class="split-percentage" name="" value="<%= split.percent %>">%</td>
            </tr>
          <% end %>

        <% end %>

      </tbody>
    </table>
  </div>

  <%= render "pagination", pag_class: "pagination-bottom" if @searched_items.respond_to?(:total_pages) %>

  <%= render "submit_button" %>

<% end %>



<% content_for :external_javascript do %>
  <script>
  jQuery(document).ready(function() {
    $ = jQuery;

    $('.split-percentage').bind('input', function() {
        this.name = "split[" + this.id + "]"
    });
  });
  </script>
<% end %>
