<fieldset>
  <div class="left-column grid_12">
    <h4>create blacklisted paypal payees</h4>
    <p style="margin-left: 2%">please enter a comma separated or whitespace separated list</p>
  </div>
  <%= form_tag(admin_blacklisted_paypal_payees_path, method: :post) do %>
    <div>
      <div class="left-column grid_12">
        <label for="blacklisted_paypal_payees">
          payees
        </label>
          <%= text_area_tag "bulk_blacklisted_paypal_payees", nil, style: "height: 150px" %>
      </div>
    <div class="grid_10" style="margin-top: 5px; clear: both; margin-left: 15%; text-align: center;">
      <%= submit_tag("add to blacklist")%>
    </div>
  <% end %>
</fieldset>
