<table cellspacing="0">
  <thead>
    <tr>
      <th>Payee</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  <% blacklisted_payees.each do |payee|%>
    <tr id="blacklisted_paypal_payee">
      <td><%= payee.payee %></td>
      <td><%= link_to "delete", admin_blacklisted_paypal_payee_path(payee), method: :delete, data: { confirm: "are you sure you want to remove this payee from the blacklist?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate(blacklisted_payees) if blacklisted_payees.respond_to?(:total_pages) %>
