<fieldset>
  <div class="left-column grid_12">
    <h4>search for payee</h4>
  </div>
  <%= form_tag(admin_blacklisted_paypal_payees_path, method: :get) do %>
    <div>
      <div class="left-column grid_12">
        <label for="blacklisted_paypal_payee">
          payee
        </label>
          <%= text_field_tag("blacklisted_paypal_payee") %>
          <%= submit_tag("search")%>
      </div>
  <% end %>
</fieldset>
