.content {
  margin-bottom: 40px;
  padding-top: 90px;
}
.content > header {
  padding: 60px 0 0;
}
.content p {
  font-size: 1.15em;
  color: #333;
  line-height: 1.5;
  margin-bottom: 10px;
}
.content .quote {
  font-size: 1.15em;
  margin-left: 3em;
}
.content .citation {
  margin-bottom: 20px;
  text-align: right;
}

/*# sourceMappingURL=source/about_soundout.css.map */
