@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
body {
  background: url("/images/bgs/glassguitar.jpg") no-repeat center center fixed;
  background-size: cover;
}
#header {
  background-color: transparent;
  padding-top: 10px;
}
.interstitial {
  color: #333;
  min-height: 713px;
  padding: 20px 0;
  text-align: center;
}
.interstitial h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #000;
}
.interstitial h2 {
  font-family: 'Open sans';
  font-size: 18px;
  color: #000;
  font-weight: normal;
  text-transform: none;
  margin-top: 0px;
  margin-bottom: 45px;
  display: inline-block;
  width: 80%;
}
.interstitial hr {
  width: 300px;
  border: none;
  background-color: #777;
  height: 1px;
}
.interstitial hr.top {
  margin-top: 0;
  margin-bottom: 10px;
}
.interstitial hr.bottom {
  margin-bottom: 50px;
}
.interstitial p {
  font-family: 'Sorts Mill Goudy';
  font-size: 18px;
  font-style: italic;
  color: #777;
  margin-top: 20px;
}
.interstitial .buttons {
  text-align: center;
}
.interstitial .btn {
  margin-right: 0;
  font-size: 1.8em;
}
.interstitial .btn + .btn {
  margin: 0 0 0 2em;
}
.interstitial .main-action {
  background-color: #e7790e;
  border: 1px solid #e7790e;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}
.interstitial .restart-survey {
  display: block;
  font-size: 16px;
  width: 125px;
  margin: 20px auto;
}
.interstitial .flash {
  padding: 10px 20px;
  border: 1px solid #b2eab1;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: #e4fde5;
  border-radius: 5px;
  font-weight: bold;
  color: #666;
}

/*# sourceMappingURL=source/account_profile_survey_interstitial.css.map */
