.finalize-buttons {
  width: 325px;
  padding: 3px;
  margin-top: 10px;
  text-align: center;
}
.finalize-buttons .action-btn {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}
.finalize-buttons .action-btn:hover,
.finalize-buttons .action-btn:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.finalize-buttons .action-btn:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.finalize-buttons .action-btn .left {
  float: left;
}
.finalize-buttons .action-btn .right {
  float: right;
}
.admin-controls {
  background-color: #58a8bf;
  border: 1px solid #30626F;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px 10px 15px;
}
.admin-controls nav > strong {
  font-size: 2.4em;
}
.admin-controls li {
  display: block;
  float: left;
  font-size: 1.6em;
  margin-right: 10px;
}
.admin-controls li > a {
  color: #fff;
  text-decoration: underline;
}
.form_popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 350px;
  margin: 20px auto;
  border-radius: 3px;
  -moz-border-radius: 3px;
}
.reviewstate {
  background-color: #41ADD8;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
  font-size: 8px;
  font-weight: bold;
  color: white;
}
.previous-review-state {
  background-color: #41ADD8;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 5px;
}
.approved {
  background-color: green !IMPORTANT;
}
.denied {
  background-color: red !IMPORTANT;
}
.suspicious {
  background-color: orange !IMPORTANT;
}
.nr {
  background-color: #666666 !IMPORTANT;
}
.sr {
  background-color: #666666 !IMPORTANT;
}
.ns {
  background-color: blue !IMPORTANT;
}
.distribution-song-wrapper {
  border-top: 1px solid #ccc;
  padding: 10px 0 20px 20px;
  background-color: #CCFFFF;
}
.track-monetization-actions {
  border-top: 1px solid #ccc;
  padding: 1% 0 5% 1%;
  background-color: #CCFFFF;
}
.toggle-track-monetization {
  float: right;
}
.retry-button {
  display: inline-block; 
  border: solid thin red; 
  background-color: yellow; 
  padding: 2px; 
  margin-top: 10%;
}
.retry-link {
  color :red;
  font-weight: bold;
}
.hidden {
  display: none;
}
.itunes-territory-list {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
table {
  border: 1px solid #ccc;
  border-collapse: separate;
  border-radius: 5px;
  width: 100%;
}
th,
td {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
th:first-child,
td:first-child {
  border-left: 0;
}
th {
  background-color: #f2f2f2;
  color: #555;
  border-top: 0;
  font-weight: 700;
  padding: 10px;
  text-align: left;
}
th:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
}
th:last-child {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
td {
  color: #333;
  padding: 10px;
}
tbody > tr:nth-child(even) > td {
  background-color: #f5f5f5;
}
tbody > tr:last-child > td:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
}
tbody > tr:last-child > td:last-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
tbody > tr:last-child > td:only-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
}
tbody > tr {
  background-color: #fff;
}
tbody > tr.status-dispute > td {
  background-color: #fdd;
  color: #d00;
}
tbody > tr.status-splits_missing > td {
  background-color: #ffd;
}
tbody > tr.status-not_distributed_yet > td {
  background-color: #defafe;
}
tbody > tr:hover > td {
  background-color: #e9f0fa;
}
#getAppleInfo,
#getSpotifyInfo {
  margin: 10px 0;
}

/*# sourceMappingURL=source/admin.css.map */
