.store-active-in-use {
  background-color: #e2fae2 !important;
}
.store-inactive-in-use {
  background-color: #faf8e0 !important;
}
.store-inactive-not-in-use {
  background-color: #e7e7e7 !important;
}

/*# sourceMappingURL=source/admin_stores.css.map */
