form fieldset {
  font-size: 1em;
}
form fieldset.form-actions {
  margin-left: 25%;
}
.content input[type=submit],
main input[type=submit],
.content .button-interface,
main .button-interface {
  margin-top: 0;
}
.content input[type=submit] + .button-interface,
main input[type=submit] + .button-interface {
  margin-left: 30px;
}
.fields {
  margin: 0 0 0 25%;
}
.fields .form-text {
  width: 66.6%;
}
.markItUp {
  margin: 0;
}
.markItUp * {
  clear: none;
}
.markItUp .markItUpEditor {
  width: 100%;
}
.markItUpHeader {
  overflow: hidden;
  padding: 5px 0;
}
.markItUpHeader ul a:link,
.markItUpHeader ul a:visited {
  height: auto;
  text-decoration: underline;
  text-indent: 0;
  width: auto;
}
.markItUpButton + .markItUpButton {
  margin-left: 10px;
}

/*# sourceMappingURL=source/admin_form.css.map */
