body {margin:0;padding:15px;font-family:Arial, Helvetica, sans-serif;font-size:100%;line-height:2em;}
h2 {padding:15px;margin:0;font-weight:normal;color:#003366;font-size:1.375em;}
ul {margin:0;padding:0 0 0 20px;word-spacing:.1em;letter-spacing:.8px;}
li {height:33px;font-size:1.1em;color:#424242;list-style-type:none;padding-left:43px;margin:0 0 20px 0;}
li#distribute{background:url(../images/affiliate/shared/distribute.png) no-repeat 0 0;}
li#royalties{background:url(../images/affiliate/shared/royalties.png) no-repeat 0 0;}
li#rights{background:url(../images/affiliate/shared/rights.png) no-repeat 0 0;}
li#account{background:url(../images/affiliate/shared/account.png) no-repeat 0 0;margin:0 0 30px 0;}
li#account span {font-size:.7em;position:relative;bottom:12px;}
li#streams {background:url(../images/affiliate/shared/streams.png) no-repeat 0 0; line-height:1.3em;padding-top:2px;}
li#clock {background:url(../images/affiliate/shared/clock.png) no-repeat 0 0;}
li#tools {background:url(../images/affiliate/shared/tools.png) no-repeat 0 0;}
li#unlock {background:url(../images/affiliate/shared/unlock.png) no-repeat 0 0;}
#benefits {position:relative;}
#benefits li {width:450px;}
#wrapper {width:870px;margin:0 auto;}
#header {width:870px;height:123px;margin:0;padding:0;position:relative;}
#header span {background: url(../images/affiliate/rolandUK/header_rolanduk.gif) no-repeat; position:absolute;top:0;left:0;height:100%;width:100%;}
#button {width:188px;height:75px;margin-left:45px;}
#button img {margin:15px 0 0 0;border:0 none;}
#button p {font-size:.85em;text-align:center;margin:-10px 0;}
#button a {text-decoration:none;font-size: 1.3em;}
#stores {width:250px;height:220px;position:absolute;bottom:129px;left:560px;}
* html #stores {bottom:380px;} /*hello ie6 */
#stores img {position:absolute;top:41px;left:22px;}
#stores h3, #stores p {color:#696969;margin:0;font-weight:normal;font-size:.85em;}
#stores h4 {font-weight:normal;font-size:.85em;border-top:1px solid #dfdede;margin:15px 10px 0 10px;padding:0 10px;}
#stores p{margin:-15px 0 0;padding:5px 0 0 20px;}
#stores p+p {padding-top:0;}
#stores ul {padding:20px;}
#stores ul li {font-size:.7em;display:inline;padding-left:5px;}
#stores ul li.show {position:absolute;z-index:10;top:114px; right:41px;width:75px;font-size:.7em;}
#stores div {border:1px solid #dfdede;padding: 0 0 5px 0;}