body {
  background: #fff url(/images/interstitial/akazoolanding_bg.jpg) no-repeat center bottom;
}
.interstitial {
  color: #333;
  margin-top: -20px;
  padding: 60px 0 0 60px;
}
.interstitial h1 img {
  padding-bottom: 36px;
}
.interstitial p {
  font-size: 1.8em;
  font-weight: 300;
  line-height: 1.33;
  margin: 0;
  padding-bottom: 24px;
  width: 70.3%;
}
.interstitial .buttons {
  text-align: left;
}
.interstitial .btn {
  font-size: 1.8em;
}

/*# sourceMappingURL=source/akazoo_store.css.map */
