body {
  background: #fff url(/images/interstitial/anghamilanding_bg.jpg) no-repeat center bottom;
}
#header {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #888;
  padding-top: 10px;
}
.interstitial {
  color: #333;
  margin-top: -20px;
  padding: 60px 0 0 60px;
  text-align: center;
}
.interstitial h1 img {
  padding-bottom: 36px;
}
.interstitial p {
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.33;
  margin: 0;
  padding-bottom: 24px;
  text-align: left;
}
.interstitial .btn {
  font-size: 1.8em;
}

/*# sourceMappingURL=source/anghami.css.map */
