@import url(http://fonts.googleapis.com/css?family=Lato:100,400);
.content {
  background-color: #000000;
  color: #ffffff;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: auto;
  margin: -20px 0 0;
  padding: 20px 0 60px;
}
.content h1 {
  font-size: 4em;
  font-weight: 100;
  margin-bottom: .5em;
}
.content p {
  font-size: 1.15em;
  margin-bottom: 1em;
}
.content .button-callout-alt,
.content .button-interface {
  font-family: Lato, sans-serif;
  font-size: 1.15em;
}
.content .button-callout-alt {
  margin-right: 3em;
  text-transform: none;
}

/*# sourceMappingURL=source/apple_music_optin.css.map */
