.content > header h1 {
  padding-bottom: 15px;
}
.content > header h2 {
  line-height: 1;
}
.content > footer {
  font-size: 1.75em;
  text-align: center;
}
.pod-body .infographic {
  background-color: #202020;
  margin: 120px auto 0px;
  overflow: hidden;
  width: 100%;
}
.pod-body .infographic img {
  display: block;
}
.pod-body .infographic .infographic-facebook,
.pod-body .infographic .infographic-twitter,
.pod-body .infographic .infographic-google,
.pod-body .infographic .infographic-blogger,
.pod-body .infographic .infographic-tunecore-bottom {
  float: left;
}
.pod-body .infographic-footer {
  background: #57595b;
  background: linear-gradient(to bottom, #57595b 0%, #000000 100%);
  color: #ffffff;
  font-size: 22.1px;
  font-size: 2.3vw;
  line-height: 1.2;
  margin: 0 auto;
  padding: 16px 27px 43px;
  max-width: 799px;
}
.pod-body .infographic-social {
  display: inline-block;
  font-size: 31px;
  font-size: 3.23vw;
  list-style: none;
  margin: 37px 0 0 9px;
  overflow: hidden;
  padding: 0;
}
.pod-body .infographic-social > li {
  float: left;
  margin: 0;
}
.pod-body .infographic-social > li ~ li {
  margin-left: 33px;
}
.pod-body .infographic-social a:link,
.pod-body .infographic-social a:visited {
  color: #ffffff;
}
.pod-body .tc-logo {
  float: right;
  margin-right: -11px;
  width: 270px;
  width: 30.6vw;
}
.pod-body .tc-logo > img {
  max-width: 100%;
}
@media screen and (min-width: 767px) {
  .content > header h1 {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 800px) {
  .pod-body .infographic {
    width: 799px;
  }
}
@media screen and (min-width: 960px) {
  .pod-body .infographic-footer {
    font-size: 22.1px;
  }
  .pod-body .infographic-social {
    font-size: 31px;
  }
  .pod-body .tc-logo {
    width: 270px;
  }
}

/*# sourceMappingURL=source/artist_milestones.css.map */
