.artwork_template {
  margin-bottom: 20px;
}
/* AOD protoflow styles */
#protoflowContainer {
  border: 5px solid #444;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
#protoflow {
  width: auto;
  height: 400px;
  border: 0px solid red;
}
.protoCaptions {
  display: none;
}
.captionHolder {
  font-size: 2.5em;
  color: #000;
  z-index: 19;
}
#aod_templates {
  overflow: visible !important;
  width: auto;
  height: 400px;
  border: 0px solid red;
}
/* AOD templates */
.beige-template {
  background: url(../images/artwork_template/beige_sprite.jpg) no-repeat;
}
.black-template {
  background: url(../images/artwork_template/black_sprite.jpg) no-repeat;
}
.blackgrunge-template {
  background: url(../images/artwork_template/blackgrunge_sprite.jpg) no-repeat;
}
.blue-template {
  background: url(../images/artwork_template/blue_sprite.jpg) no-repeat;
}
.brownpaper-template {
  background: url(../images/artwork_template/brownpaper_sprite.jpg) no-repeat;
}
.grainy-template {
  background: url(../images/artwork_template/grainy_sprite.jpg) no-repeat;
}
.grunge-template {
  background: url(../images/artwork_template/grunge_sprite.jpg) no-repeat;
}
.ocean-template {
  background: url(../images/artwork_template/ocean_sprite.jpg) no-repeat;
}
.paper-template {
  background: url(../images/artwork_template/paper_sprite.jpg) no-repeat;
}
.yellow-template {
  background: url(../images/artwork_template/yellow_sprite.jpg) no-repeat;
}
.outside-booklet {
  width: 500px;
  height: 255px;
  background-position: 0 0;
  position: relative;
  left: 100px;
}
.inside-booklet {
  width: 500px;
  height: 255px;
  background-position: 0 -275px;
  position: relative;
  left: 100px;
}
.traycards {
  width: 500px;
  height: 200px;
  background-position: 0 -549px;
  position: relative;
  left: 100px;
}
.template-container {
  border: 5px solid #ccc;
  margin: .5em 0 1.5em;
}
#templates-container {
  position: relative;
  width: 740px;
}
#templates-container #outside-booklet-icon {
  position: absolute;
  top: 26px;
}
#templates-container #inside-booklet-icon {
  position: absolute;
  top: 338px;
}
#templates-container #outside-traycard-icon {
  position: absolute;
  top: 648px;
}
#templates-container #inside-traycard-icon {
  position: absolute;
  right: 27px;
  top: 648px;
}
#templates-container h3 span {
  margin-left: 123px;
}
#customer-artwork img {
  position: absolute;
  top: 26px;
  right: 145px;
  height: 245px;
  width: 240px;
}

/*# sourceMappingURL=source/artwork_template.css.map */
