/* TuneCore Basic */
/*
*
*  Margin, padding, and border resets
*  except for form elements
*
*/
@import '//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css';
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}
/*
*
*  Consistency fixes
*  adopted from http://necolas.github.com/normalize.css/
*
*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  min-height: 100%;
}
body {
  font-size: 100%;
  min-height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
  display: block;
}
ul {
  list-style: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
b,
strong {
  font-weight: 700;
}
abbr[title] {
  border-bottom: 1px dotted;
}
input,
textarea,
button,
select {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  overflow: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
main {
  display: block;
}
a {
  color: #3B96CF;
}
/*
*
*  Simple fluid media
*
*/
figure {
  position: relative;
}
figure img,
figure object,
figure embed,
figure video {
  max-width: 100%;
  display: block;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/*
*
* Zoomable baseline grid
* type size presets
*
*/
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: common-ligatures;
  -moz-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}
#header .container,
#summary .container,
#footer .container {
  width: 960px;
  margin: 0px auto;
  display: block;
}
#header .container h1,
#summary .container h1,
#footer .container h1 {
  margin-top: 0px;
}
#header .container {
  overflow: hidden;
}
#summary {
  font-size: 1em;
  padding-top: 9px;
  height: 46px;
}
#footer {
  line-height: 1.8em;
}
@media screen and (max-width: 480px) {
  form input[type="text"]:focus,
  form textarea:focus,
  form select:focus {
    font-size: 16px;
  }
}
/* header for OUTSIDE PAGES - how it works, pricing, artists, homepage only */
#top {
  display: block;
  height: 548px;
  width: 100%;
  position: relative;
}
.masthead {
  background: #000;
  background-repeat: no-repeat;
  color: #fff;
  height: 100px;
  overflow: hidden;
  position: fixed;
  text-align: center;
  -webkit-transform: translateZ(0);
  transition: all 0.5s linear;
  background: linear-gradient(#000000, rgba(0, 0, 0, 0));
  width: 100%;
  z-index: 50;
}
.masthead .container {
  width: 1024px;
  margin: 0 auto;
}
.masthead .logo {
  display: block;
  float: left;
  padding: 19px 0;
  position: relative;
  width: 120px;
}
.masthead .logo.center {
  display: block;
  width: 250px;
}
.masthead a {
  text-decoration: none;
}
.masthead nav {
  float: right;
  text-align: left;
  width: 82%;
}
.masthead nav a {
  color: #fff;
  display: inline-block;
  padding: 23px 10px 22px;
  font-size: 1.3em;
  font-weight: 500;
  text-decoration: none;
}
.masthead nav a:hover,
.masthead nav a.active {
  color: #3b96cf;
}
.masthead nav a.create_link {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #3a96cf;
  border-color: #3a96cf;
  font-size: 1.4em;
  font-weight: 400;
  margin-left: 20px;
  text-transform: none;
}
.masthead nav a.create_link:hover,
.masthead nav a.create_link:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.masthead nav a.create_link:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.masthead nav a.create_link:hover,
.masthead nav a.create_link:focus {
  background-color: #3a96cf;
  border: 1px solid #339de5;
}
.masthead nav a.create_link:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
.sticky {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  top: 0px;
  height: 62px;
  left: 0px;
  z-index: 100;
}
.masthead-secondary {
  background: #000;
  background: rgba(0, 0, 0, 0.65);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  height: 50px;
  padding-left: 110px;
  position: fixed;
  top: 62px;
  z-index: 100;
}
.masthead-secondary nav {
  float: none;
  width: 100%;
}
.masthead-secondary nav a {
  font-size: 1.2em;
  margin: 9px 40px 9px 0;
  padding: 9px 0 8px;
}
/* Reusable Menu Class - header for INSIDE PAGES */
.menu {
  position: relative;
  display: inline-block;
  padding: 0px;
}
.menu .hr {
  background-color: #fff;
  margin: 10px 0;
  height: 1px;
}
.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 28px;
}
.menu .options {
  position: absolute;
  top: 100%;
  left: 0px;
  min-width: 100%;
  overflow: hidden;
  height: 0px;
  padding: 0px;
  transition: 1s height ease-in-out;
  background-color: #3b96cf;
  text-align: left;
  z-index: 500;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.menu .options:hover {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu .options a {
  clear: both;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}
.menu .options a:hover {
  background-color: #44b1fa;
}
.menu > a {
  position: relative;
  display: inline-block;
  min-width: 170px;
  width: auto;
  padding-left: 15px;
  padding-right: 35px;
  border-radius: 3px;
  background-color: #3b96cf;
  border: 1px solid #3b96cf;
}
.menu > a img {
  height: 15px;
  vertical-align: text-bottom;
  margin-right: 3px;
}
.menu > a:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2.5px;
  right: 15px;
  border: 5px solid transparent;
  border-top: 5px solid #fff;
}
.menu > a:focus:after {
  border-top: 0px solid transparent;
  border-bottom: 5px solid #fff;
}
.menu > a:focus {
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.menu > a:focus + .options {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu > a + .options {
  margin-top: 0;
}
.admin_controls {
  float: left;
  padding: 0;
}
.admin_controls > a {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 28px;
  margin-top: 0;
  padding: 0 15px;
  text-transform: none;
  width: auto;
}
.admin_controls > a:hover,
.admin_controls > a:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.admin_controls > a:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}

#language_selector_app {
  display: inline-block;
  margin-left: 10px;
  padding: 0;
}

#language_selector {
  display: inline-block;
}

#language_selector .language_display {
  display: flex;
  font-size: 13px;
  color: white;
  cursor: pointer;
}

#language_selector .language_display i {
  margin-left: 5px;
  color: #3b96cf;
}

.language_modal_overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0,0.75);
  max-width: 100vw;
}

.language_options_container {
  background-color: #fff;
  border-radius: 6px;
  width: 800px;
  max-width: 100%;
  height: fit-content;
  margin: 0 auto;
  position: relative;
  top: 120px;
  outline: none;
}

@media only screen and (max-width: 480px) {
  .language_options_container {
    margin: 0px 10px;
  }
}

.language_options_container .top_section {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.language_options_container .top_section .choose_a_language {
  font-size: 23px;
  font-family: roboto, sans-serif;
  font-weight: 300;
  color: rgb(51,51,51);
}

.language_options_container .top_section span {
  font-size: 35px;
  color: rgb(51,51,51);
  cursor: pointer;
  line-height: 0;
  height: 15px;
  font-weight: 200;
}

.language_options_container .selected_button {
  background-color: #3b96cf;
  color: white;
}

.language_options_container .unselected_button {
  background-color: white;
  color: black;
}

.language_options_container .unselected_button:hover {
  border: 1px solid #3b96cf;
}

.language_options_container .language_options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 15px;
}

.language_options_container .language_options .language_option_button {
  cursor: pointer;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  padding: 5px;
  font-weight: bold;
  font-size: 16px;
  min-height: 50px;
}

#summary {
  font-size: 10px;
  line-height: 18px;
  position: relative;
  background-color: #3b96cf;
  font-weight: 400;
}
#summary .container {
  text-align: right;
  overflow: visible;
}
#summary .container > a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
  margin-left: 20px;
  line-height: 28px;
}
#summary .container > menu {
  margin-left: 20px;
}
#summary .container > .admin_controls {
  margin-left: 0;
}
#summary #cart img {
  height: 14px;
  vertical-align: text-bottom;
}
#header {
  font-size: 10px;
  background-color: #000;
  padding-top: 20px;
  font-weight: 200;
  margin-bottom: 20px;
}
#header .logo {
  float: left;
  padding: 16px 0;
  position: relative;
  width: 120px;
}
#header .logo.error-page {
  top: 0;
}
#header .logo img {
  max-width: 100%;
}
#header nav {
  text-align: right;
}
#header nav > a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  outline-style: none;
  padding: 16px 10px;
  font-size: 1.5em;
  font-weight: 400;
}
#header nav > a:hover {
  color: #3B96CF;
}
#header nav > a:focus:hover {
  text-shadow: 0 0 10px #c9e6f6;
}
#header ul {
  clear: both;
  display: none;
  float: right;
  height: 0;
  overflow: hidden;
}
#header ul:hover {
  height: auto;
  display: block;
}
#header ul li {
  float: left;
  display: inline-block;
  border-right: 1px solid #fff;
  text-align: left;
  vertical-align: top;
}
#header ul li:last-child {
  border-right: 0;
}
#header ul.music a {
  height: 69px;
}
#header ul.video a {
  height: 69px;
}
#header ul.publishing_admin a {
  height: 69px;
}
#header ul.reports a {
  height: 69px;
}
#header ul.promote a {
  height: 69px;
}
#header ul.shop a {
  height: 69px;
}
#header ul a {
  color: #fff;
  display: block;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.5;
  padding: 5px 20px;
  text-decoration: none;
}
#header ul a strong {
  font-weight: 500;
  display: block;
  font-size: 1.3em;
  color: #3B96CF;
}
#header ul a:hover {
  text-shadow: 0 0 20px #fff;
}
#header ul a:hover strong {
  text-shadow: 0 0 10px #c9e6f6;
}
.clear {
  clear: both;
}
@media screen and (max-width: 1023px) {
  #summary,
  #header {
    padding-right: 10%;
    width: 960px;
  }
  #summary .container,
  #header .container {
    padding-right: 3%;
    padding-left: 3%;
  }
  /* External header nav */
  .sticky {
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    background-color: #000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  }
  .sticky .container {
    white-space: nowrap;
    width: 100%;
  }
  .masthead {
    background-color: #000;
    height: auto;
    position: relative;
  }
  .masthead .container {
    width: 100%;
  }
  .masthead nav {
    float: none;
    text-align: right;
    width: 100%;
  }
  .masthead nav a {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
  .masthead nav .how_it_works_link,
  .masthead nav .publishing_link,
  .masthead nav .artist_services_link,
  .masthead nav .i_am_tc_link,
  .masthead nav .pricing_link,
  .masthead nav .blog_link,
  .masthead nav .dropkloud_link,
  .masthead nav .success_stories_link,
  .masthead nav .login_link,
  .masthead nav .create_link {
    margin: 15px 5px;
  }
  .masthead nav a.login_link {
    width: 14%;
  }
  .masthead-secondary {
    display: none;
  }
  #top {
    height: auto;
  }
}
/* Main Menu styles for external header */
.masthead .main_menu {
  background-color: #e0e0e0;
  border-radius: 3px;
  display: inline-block;
  margin: 0 10px;
}
.masthead .main_menu.opened {
  background-color: #9a9a9a;
}
.masthead .main_menu .open_menu {
  color: #333;
  padding: 3px 7px;
}
.masthead .main_menu .open_menu .fa-caret-down,
.masthead .main_menu .open_menu .fa-caret-up {
  font-size: 10px;
  padding-left: 6px;
  vertical-align: 1px;
}
.masthead .main_menu .open_menu .fa-caret-up {
  vertical-align: 2px;
}
.masthead .mobile-nav {
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height 0.5s ease-in-out;
}
.masthead .mobile-nav.opened {
  max-height: 555px;
}
.masthead .mobile-nav a {
  background-color: #ededed;
  border-radius: 3px;
  color: #777;
  display: block;
  margin: 0 12px;
}
.masthead .mobile-nav a:first-child {
  margin-top: 13px;
}
.masthead .mobile-nav a:last-child {
  margin-bottom: 13px;
}
.masthead .mobile-nav a + a {
  margin-top: 4px;
}
@media screen and (min-width: 961px) {
  .masthead .main_menu {
    display: none;
  }
}
/* header for INSIDE PAGES */
.header {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}
.header .mobile-top {
  display: block;
  float: right;
  font-size: 14px;
  margin: 19px 0 13px;
}
.header .mobile-top a {
  color: #fff;
}
.header .mobile-top a:hover,
.header .mobile-top a:active {
  color: #3a96cf;
}
.header .mobile-admin {
  background: #000;
  font-size: 16px;
  left: 0;
  padding: 10px 10% 9px;
  overflow: hidden;
  text-align: center;
}
.header .mobile-admin a {
  background-color: #e77a0d;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-weight: 600;
  padding: 8px 0;
}
.header .mobile-bottom {
  font-size: 14px;
  overflow: hidden;
  padding: 0;
}
.header .mobile-bottom .user {
  padding: 10px 0 0;
  width: 100%;
}
.header .mobile-bottom .user a {
  color: #fff;
}
.header .mobile-bottom .balance {
  float: left;
  font-size: 20px;
  font-weight: 600;
}
.header .mobile-bottom .balance a {
  color: #fff;
}
.header .mobile-bottom .notifications {
  float: right;
  margin: 5px 0 14px 20px;
}
.header .mobile-bottom .notifications .notifications_link {
  color: #fff;
  position: relative;
}
.header .mobile-bottom .mobile-cart {
  color: #fff;
  float: right;
  margin: 5px 0 14px 20px;
}
.header .mobile-bottom .mobile-language-selector {
  float: right;
  margin: 3px 0 14px 20px;
}
.header .mobile-bottom .mobile-language-selector .language_options_container {
  right: 0%;
}
.header .mobile-bottom .mobile-language-selector .language_display_text,
.header .mobile-bottom .mobile-language-selector .language_display_caret {
  display: none;
}
.header .mobile-bottom .mobile-language-selector .current_locale_lang_abbrv {
  color: white;
  text-transform: uppercase;
  border-width: 1px;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 15%;
}
.header .mobile-bottom .main_menu {
  background-color: #fff;
  border-radius: 3px;
  display: block;
  float: right;
  font-size: 14px;
  margin: 3px 0 13px 20px;
  padding: 3px 0;
}
.header .mobile-bottom .main_menu.opened {
  background-color: #1d4b68;
}
.header .mobile-bottom .main_menu .open_menu {
  color: #3a96cf;
  padding: 3px 7px;
}
.header .mobile-bottom .main_menu .open_menu .fa-caret-down,
.header .mobile-bottom .main_menu .open_menu .fa-caret-up {
  font-size: 10px;
  padding-left: 6px;
  vertical-align: 1px;
}
.header .mobile-bottom .main_menu .open_menu .fa-caret-up {
  vertical-align: 2px;
}
.header .mobile-bottom .main_menu .mobile-nav {
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  left: 0;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  top: 66px;
  width: 100%;
  z-index: 500;
}
.header .mobile-bottom .main_menu .mobile-nav.opened {
  display: block;
}
.header .mobile-bottom .main_menu .mobile-nav > ul > li {
  margin: 10px auto;
  width: 80%;
}
.header .mobile-bottom .main_menu .mobile-nav > ul > li > a {
  background-color: #e6e6e6;
  border-radius: 5px;
  color: #333;
  display: block;
  font-weight: 600;
  padding: 8px 0;
}
.header .mobile-bottom .main_menu .mobile-nav > ul > li > a.opened {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
}
.header .mobile-bottom .main_menu .mobile-nav > ul > li ul {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  display: none;
  overflow: hidden;
}
.header .mobile-bottom .main_menu .mobile-nav > ul > li ul li {
  border: 2px solid #e6e6e6;
  border-width: 0 2px 2px;
}
.header .mobile-bottom .main_menu .mobile-nav > ul > li ul li:last-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
}
.header .mobile-bottom .main_menu .mobile-nav > ul > li ul a {
  display: block;
  font-size: 14px;
  padding: 10px 0;
}
.header .mobile-logged_out .main_menu {
  margin: 13px 0 13px 20px;
}
.notifications_count {
  background-color: #cb0000;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 0.846em;
  font-weight: bold;
  left: 15px;
  min-width: 15px;
  padding: 3px;
  position: absolute;
  text-align: center;
  top: -15px;
}
.seen .notifications_count {
  visibility: hidden;
}
.notifications_dropdown {
  background-color: #fff;
  border: 1px solid #9f9f9f;
  border-radius: 5px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
  font-size: 10px;
  height: auto;
  left: 0;
  position: absolute;
  top: 78px;
  width: 100%;
  z-index: 500;
}
.notifications_dropdown > ul {
  font-size: 1.2em;
  max-height: 500px;
  overflow: auto;
}
.notifications_dropdown > ul .notifications_item {
  position: relative;
}
.notifications_dropdown > ul .notifications_item + .notifications_item {
  border-top: 1px solid #cdcdcd;
}
.notifications_dropdown > ul .notifications_item.unread {
  background-color: #ffc;
}
.notifications_dropdown > ul .notifications_item a,
.notifications_dropdown > ul .notifications_item .no_notification {
  color: inherit;
  display: block;
  font-family: inherit;
  font-style: normal;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
}
.notifications_dropdown > ul .notifications_item .hide_notification {
  color: #333;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
.notifications_dropdown > ul .image {
  float: left;
  margin: 0 10px 0 0;
}
.notifications_dropdown > ul .image img {
  height: 50px;
  width: 50px;
}
.notifications_dropdown > ul .text {
  float: left;
  width: 79%;
}
.notifications_dropdown > ul .title {
  color: #333;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 5px;
}
.notifications_dropdown > ul .time {
  color: #666;
  display: block;
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: normal;
}
.notifications_dropdown > ul .description {
  display: block;
  margin: 0;
}
.notifications_dropdown > ul .description .faux_link {
  color: #3a96cf;
  font-family: Georgia, serif;
  font-style: italic;
  text-decoration: underline;
}
.notifications_dropdown > header {
  border-bottom: 3px solid #333;
  height: auto;
  margin: 0;
}
.notifications_dropdown > header h1 {
  color: #333;
  float: none;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
  padding: 15px 15px 10px;
}
.notifications_dropdown > footer {
  border-top: 3px solid #333;
  text-align: center;
}
.notifications_dropdown > footer a {
  display: block;
  font-family: Georgia, serif;
  font-size: 1.2em;
  font-style: italic;
  padding: 15px;
}
.notifications_dropdown:before {
  border-color: transparent transparent #9f9f9f transparent;
  border-style: solid;
  border-width: 13px;
  bottom: 100%;
  content: '';
  height: 0;
  left: auto;
  position: absolute;
  right: 119px;
  width: 0;
}
.notifications_dropdown:after {
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  border-width: 12px;
  bottom: 100%;
  content: '';
  height: 0;
  left: auto;
  position: absolute;
  right: 120px;
  width: 0;
}
.hd-top {
  background-color: #000;
  min-height: 60px;
}
.hd-top .logo {
  float: left;
  padding: 16px 15px;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.hd-top .logo img {
  max-width: 100%;
}
.hd-top .site_controls {
  display: none;
}
.hd-bottom {
  background-color: #3a96cf;
  border-top: 1px solid #fff;
}
.hd-bottom nav {
  display: none;
}
.heading-wrapper {
  display: flex;
}
@media screen and (min-width: 500px) {
  .notifications_dropdown {
    left: auto;
    right: 0;
    top: 78px;
    width: 480px;
  }
}
@media screen and (min-width: 861px) {
  .header .mobile {
    display: none;
  }
  .hd-top .site_controls {
    display: block;
    float: right;
    padding: 13px 0 12px 52px;
    position: relative;
  }
  .hd-top .site_controls > a {
    color: #fff;
    font-size: 1.3em;
    margin-left: 20px;
  }

  .hd-top .site_controls .foreign-exchange-balance-display {
    margin-left: 3px;
    font-size: 1.3em;
    color: #3b96cf;
  }

  .hd-top .site_controls .foreign-exchange-balance-display:before {
    cursor: pointer;
    font-size: 1.3em;
  }

  .hd-top .site_controls .menu {
    margin-left: 10px;
  }
  .hd-top .site_controls .admin_controls {
    display: inline-block;
    float: none;
    margin-left: 10px;
  }
  .hd-top .notifications {
    display: inline-block;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
  }
  .hd-top .notifications > a {
    border: 1px solid #aaa;
    border-width: 0 1px;
    color: #fff;
    display: inline-block;
    font-size: 1.3em;
    padding: 17px 23px 19px 15px;
  }
  .hd-top .notifications.seen > a {
    padding: 18px 15px 18px;
  }
  .hd-top .notifications_count {
    left: 30px;
    top: 5px;
  }
  .hd-top .notifications_dropdown {
    left: -212.5px;
    right: auto;
    top: 68px;
  }
  .hd-top .notifications_dropdown > ul .text {
    width: 373px;
  }
  .hd-top .notifications_dropdown > ul .description {
    padding-right: 125px;
  }
  .hd-top .notifications_dropdown:before {
    left: 226px;
    right: auto;
  }
  .hd-top .notifications_dropdown:after {
    left: 227px;
    right: auto;
  }
  .hd-bottom {
    background-color: #f0f0f0;
    border-top: 0;
    border-bottom: 1px solid #bdbdbd;
  }
  .hd-bottom nav {
    display: block;
  }
  .hd-bottom .nav {
    padding-left: 18px;
  }
  .hd-bottom .nav > li {
    display: inline-block;
    position: relative;
  }
  .hd-bottom .nav > li ul:hover {
    border: 1px solid #bdbdbd;
    border-width: 0 1px 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    height: auto;
    padding-top: 10px;
  }
  .hd-bottom .nav > li > a {
    color: #333;
    display: inline-block;
    font-size: 1.4em;
    padding: 8px 0 8px 20px;
  }
  .hd-bottom .nav > li > a:focus {
    color: #3b96cf;
  }
  .hd-bottom .nav > li > a:focus + ul {
    border: 1px solid #bdbdbd;
    border-width: 0 1px 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    height: auto;
    padding-top: 10px;
  }
  .hd-bottom .nav > li > a + ul {
    margin-top: 0;
  }
  .hd-bottom .nav > li > ul {
    background-color: #f0f0f0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 0;
    height: 0;
    left: 0;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    text-align: left;
    top: 100%;
    transition: 1s height ease-in-out;
    z-index: 500;
  }
  .hd-bottom .nav > li > ul li {
    border-top: 1px solid #cdcdcd;
    padding: 18px 0;
  }
  .hd-bottom .nav > li > ul a {
    clear: both;
    color: #333;
    display: block;
    font-size: 1.4em;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .hd-bottom .nav > li > ul a:hover {
    color: #3b96cf;
  }
  .hd-bottom .nav > li > ul a:hover span {
    color: #44b1fa;
  }
  .hd-bottom .nav > li > ul a span {
    color: #665;
    display: block;
  }
}
.footer {
  /* Footer Top */
  /* Footer Bottom */
}
.footer .ft-top {
  background-color: #f0f0f0;
  border: 1px solid #dbdbdb;
  border-width: 1px 0;
  margin-bottom: 5px;
  padding: 20px 0;
}
.footer .blog {
  display: none;
}
.footer .help {
  text-align: center;
}
.footer .help a {
  font-size: 1.8em;
  font-weight: 700;
  margin-top: 3px;
  padding: 0.75em 1.5em;
}
.footer .help .button-callout-alt {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
  font-size: 1.8em;
  font-weight: 500;
  margin-top: 3px;
  padding: 0.75em 1.5em;
  text-transform: capitalize;
  white-space: nowrap;
}
.footer .help .button-callout-alt:hover,
.footer .help .button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.footer .help .button-callout-alt:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.footer .help .button-callout-alt:hover,
.footer .help .button-callout-alt:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
.footer .help .button-callout-alt:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
.footer .ft-bottom {
  padding: 30px 0 20px;
}
.footer .ft-block {
  margin-bottom: 10px;
  padding: 0 20px 10px;
}
.footer .ft-block h2 {
  color: #555;
  font-size: 1.2em;
  padding-bottom: 10px;
}
.footer .ft-block a {
  color: #777;
  display: inline;
  font-family: Georgia, Palatino, serif;
  font-size: 1.1em;
  font-style: italic;
  line-height: 1.63;
  margin-bottom: 5px;
  padding: 0 15px 0 0;
}
.footer .ft-block a:hover {
  color: inherit;
}
.footer .yt-certified {
  display: block;
  padding: 20px 15px 0;
}
.footer .copyright {
  color: #777;
  display: block;
  font-size: 1.1em;
  padding: 20px 15px 0;
}
.footer .made_in_nyc {
  color: #555;
}
.footer .made_in_nyc:hover {
  color: inherit;
}
@media screen and (min-width: 768px) {
  .footer {
    /* Footer Top */
    /* Footer Bottom */
  }
  .footer .blog {
    display: block;
    float: left;
    overflow: hidden;
  }
  .footer .blog-heading {
    color: #333;
    float: left;
    font-size: 1.2em;
    text-transform: capitalize;
  }
  .footer .blog-items {
    border-left: 1px solid #a3a3a3;
    float: left;
    font-size: 1.2em;
    margin-left: 20px;
    padding-left: 20px;
  }
  .footer .blog-date {
    color: #555;
    padding-right: 10px;
  }
  .footer .blog-title {
    font-family: Georgia, Palatino, serif;
    font-style: italic;
    line-height: 1.75;
  }
  .footer .help {
    float: right;
    text-align: left;
  }
  .footer .help a,
  .footer .help .button-callout-alt {
    font-size: 13px;
    white-space: normal;
  }
  .footer .ft-bottom {
    padding-top: 40px;
  }
  .footer .ft-block {
    border-left: 1px solid #c4c4c4;
    float: left;
    min-height: 170px;
    padding: 0 20px;
  }
  .footer .ft-block a {
    display: block;
    margin: 0;
    padding: 0;
  }
  .footer .copyright {
    padding-left: 20px;
  }
}
form {
  clear: both;
}
form li {
  clear: left;
  margin-bottom: 10px;
}
form .errorExplanation li {
  margin-bottom: 0;
}
form label {
  display: inline;
  float: none;
  font-weight: normal;
  padding-right: 10px;
  text-align: right;
  width: auto;
}
form fieldset {
  border-bottom: 1px solid #eee;
  font-size: 1.4em;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  position: relative;
}
form fieldset.page {
  background-color: #fcfcfc;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 1em;
  padding: 2em 0 10px 0;
}
form fieldset.form-actions {
  border: none;
  margin: 0 0 0 24%;
  padding: 0;
}
form fieldset.check {
  padding-left: 25%;
}
form fieldset.check label {
  display: inline;
  float: none;
  font-weight: normal;
  width: auto;
}
form fieldset.check .contextual-help,
form fieldset.check .form-help,
form fieldset.check .formError,
form fieldset.check .form-error {
  margin: 5px 0 0;
}
form fieldset.check .fieldWithErrors {
  display: inline;
}
form fieldset.radio ul li label {
  display: inline;
  float: none;
  font-weight: normal;
  width: auto;
}
form fieldset.radio ul {
  float: left;
  list-style: none;
  margin: 5px 0 0;
}
form fieldset.check ul li,
form fieldset.radio ul li {
  margin: 0 0 5px 0;
}
form fieldset.check ul li:last-child,
form fieldset.radio ul li:last-child {
  margin: 0;
}
form fieldset .creative {
  position: relative;
}
form fieldset .creative select {
  font-size: 0.857em;
}
form fieldset .creative .ie7 #creative-controls .add-creative {
  width: 95px;
}
form fieldset .creative .ie7 #album #creative-controls .add-creative {
  top: 30px;
}
form fieldset .creative .remove-creative img {
  height: 25px;
  width: 25px;
}
form fieldset .creative #creative-controls {
  display: block;
  left: 470px;
  padding: 0;
  position: absolute;
  text-align: right;
  top: 2px;
  width: 25px;
}
form fieldset .creative #creative-controls .add-creative {
  font-size: 12px;
  left: -305px;
  position: absolute;
  top: 35px;
  width: 300px;
}
form fieldset .creative #creative-controls .add-creative .button {
  margin-top: 0;
}
form fieldset .creative .narrow {
  margin-left: 10px;
  width: 40%;
  font-size: 0.9em;
}
form .calendar {
  margin-left: 25%;
}
form .calendar .heading {
  font-size: 1em;
}
form label {
  float: left;
  font-weight: 700;
  margin: 4px 0 5px 0;
  width: 25%;
}
form li.label {
  font-weight: 700;
  margin-top: 2em;
  margin-left: 8em;
}
form .country-input {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  display: block;
  font-size: 14px;
  height: 28px;
  line-height: 1.5;
  padding: 5px;
  width: 50%;
}
form .ui-autocomplete-input,
form .form-text,
form .form-country,
form textarea {
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  display: inline-block;
  font-size: 14px;
  padding: 5px;
  width: 50%;
}
form .form-readonly-text {
  display: inline-block;
  font-size: 14px;
  padding: 5px;
}
form .short {
  width: 30%;
}
form .form-text-short {
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  display: block;
  font-size: 14px;
  padding: 5px;
  width: 30%;
}
form .fieldWithErrors .form-text,
form .fieldWithErrors textarea {
  border-color: #f22;
}
form .form-text:focus,
form textarea:focus {
  background: #fff;
  border: 1px solid #3b96cf;
  box-shadow: 0 0 20px rgba(59, 150, 207, 0.5);
}
form .spinner-bg {
  background: transparent url(../images/logo-spinner_25x25.gif) no-repeat center right;
  padding-right: 30px;
}
form textarea {
  height: 150px;
}
form select {
  margin: 0;
  min-width: 25%;
}
form .inform {
  margin-left: 25%;
}
form .contextual-help > p,
form #password-strength {
  color: #999;
  font-size: 12px;
  margin: 5px 0 0 25%;
}
form .formError {
  background-color: #f22;
  border-radius: 3px;
  clear: left;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  float: left;
  font-weight: 500;
  margin: 5px 0 10px 28%;
  padding: 3px 5px;
}
.formError.customError {
  float: none;
}
form .formError strong {
  font-weight: 700;
}
form input[type="submit"] {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  padding: 5px 10px;
}
form input[type="submit"]:hover,
form input[type="submit"]:focus {
  background: #e5e5e5;
  border: 1px solid #bbb;
}
form input[type="submit"]:active {
  background: #eee;
  border: 1px solid #ccc;
}
form .signup-select {
  height: 30px;
}
form.wide-labels label {
  width: 35%;
}
@media screen and (max-width: 640px) {
  form fieldset.form-actions,
  form fieldset.check,
  form fieldset.radio ul,
  form fieldset .contextual-help p,
  form fieldset .formError {
    margin-left: 0;
    padding-left: 0;
  }
  form label {
    display: block;
    float: none;
    margin: 0 0 5px 0;
    width: auto;
  }
  form .form-text,
  form .form-country,
  form textarea {
    box-sizing: border-box;
    width: 100%;
  }
}
/* Clearfix */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* Base Typography */
/* this will be expanded over time */
.em {
  color: #f00;
}
.row {
  width: 1024px;
  margin: 0 auto;
}
.mainbody {
  padding-bottom: 100px;
  font-size: 1.3em;
}
.mainbody .main_headline {
  color: #3B96CF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.25em;
  font-weight: 700;
  margin-top: 5px;
  padding: 0 10px 10px 0;
  width: 630px;
}
.mainbody .reg_headline {
  color: #003855;
  font-size: 1.5em;
  line-height: 1.3;
  margin: 10px 0;
}
.mainbody h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}
.mainbody p {
  margin-bottom: 1em;
  line-height: 1.3;
}
.mainbody .button {
  display: inline-block;
  padding: 5px 20px;
  margin-top: 0.5em;
  background-color: #44b1fa;
  color: #FFF;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  /* .transition(all 0.2s ease-in-out); */
}
.mainbody .button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #44b1fa;
}
.mainbody .button:active {
  box-shadow: 0px 0px 40px #44b1fa;
}
.mainbody .button.inform {
  margin-left: 25%;
}
img.ui-datepicker-trigger {
  position: absolute;
  top: 4px;
  left: 707px;
}
.cancel {
  background-color: #888;
}
table.tabular {
  width: 100%;
  border: 1px solid #666;
}
table.tabular th {
  text-align: left ;
  padding: .3em;
  background-color: #c9e6f6;
}
table.tabular tr {
  padding: 1em;
}
table.tabular tr:nth-child(odd) {
  background-color: #eee;
}
table.tabular td {
  padding: .3em;
}
.required-helper,
.header-helper {
  font-size: 0.9em;
  color: #666;
  left: 290px;
  clear: left;
}
.rounded-container {
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.rounded-container .heading {
  padding-bottom: 20px;
}
.rounded-container ul {
  list-style: disc inside;
  padding-bottom: 20px;
}
.rounded-container li {
  padding-bottom: 5px;
}
.rounded-container embed {
  height: 45px;
}
#summary {
  height: 48px;
}
#summary .container {
  padding-top: 1px;
}
.button {
  display: inline-block;
  padding: 5px 20px;
  margin-top: 0.5em;
  background-color: #44b1fa;
  color: #FFF;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  /* .transition(all 0.2s ease-in-out); */
  cursor: pointer;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #44b1fa;
}
.button:active {
  box-shadow: 0px 0px 40px #44b1fa;
}
.button:hover,
.button:focus {
  color: #fff;
}
form input[type="submit"] {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 10px;
  text-transform: capitalize;
}
form input[type="submit"]:hover,
form input[type="submit"]:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
form input[type="submit"]:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
form input[type="submit"]:hover,
form input[type="submit"]:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
form input[type="submit"]:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
form input[type="submit"].submit-orange {
  border-radius: 3px;
  background-color: #f47f0c;
  border: 1px solid #d8710d;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  font-size: 1em;
}
form input[type="submit"].submit-orange:active {
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.3);
  background-color: #df750d;
}
form input[type="submit"].submit-orange:hover {
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  box-shadow: none;
}
.hd-links,
.ft-links {
  overflow: hidden;
  padding: 15px;
}
/* Table Styles */
.tabular table {
  border-collapse: collapse;
  width: 100%;
}
.tabular table.non_bold td {
  font-weight: normal;
}
.tabular th {
  background: none;
  color: #666;
  font: bold 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 12px 15px 4px;
  text-align: center;
  vertical-align: middle;
}
.tabular th span {
  color: #000;
  display: block;
  font-size: 1em;
  margin-left: -8px;
}
.tabular th.header {
  cursor: pointer;
}
.tabular tr {
  height: 35px;
}
.tabular tr.even {
  background: #D2E1E9;
  background: rgba(210, 225, 233, 0.35);
}
.tabular tr.odd {
  background: #fff;
}
.tabular td {
  border: 1px solid #eaeaea;
  color: #333;
  height: 35px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}
.tabular td .money {
  color: #390;
}
.tabular td .money span {
  color: #033;
  font-size: 9px;
}
.tabular td .money-debit {
  color: #A52A2A;
}
.tabular th.left,
.tabular td.left {
  text-align: left;
  padding-left: 15px;
}
.tabular td.right {
  text-align: right;
  padding-right: 15px;
}
.tabular td.live {
  background: #ffa;
}
.tabular #adjustment td.right {
  background: #e0e0e0;
  border: 0;
  color: #000;
  padding-right: 15px;
  text-align: right;
}
.tabular #adjustment td.right + td {
  background: #e0e0e0;
  border: none;
  color: #000;
}
/* error messages */
.message {
  font-size: 1.4em;
}
#errorExplanation,
#goodErrorExplanation {
  background-color: #333;
  border-radius: 3px;
  color: #fff;
  font-size: 1.3em;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: justify;
  z-index: 5;
}
#errorExplanation h2,
#goodErrorExplanation h2 {
  font-size: 1em;
}
#goodErrorExplanation {
  background-color: #ffa;
  color: #333;
}
#errorExplanation {
  background-color: #ff2222;
}
/* Persistent Alert */
#persistent-alert {
  background: #fffde5;
  border: 3px solid #ff0000;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}
#persistent-alert > span {
  color: #585856;
  display: block;
  margin: 0 auto;
  max-width: 58.333%;
}
.alert-title {
  color: #ff0000;
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 5px;
}
.live_tag,
.sent_tag,
.rejected_tag,
.down_tag,
.incomplete_tag,
.ready_tag {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100px;
  height: 20px;
  line-height: 20px;
  text-transform: capitalize;
  font-size: 12px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  text-align: center;
  color: #000000;
}
.live_tag {
  background-color: #8eddfc;
}
.sent_tag {
  background-color: #8efcf3;
}
.ready_tag {
  background-color: #bceaa3;
}
.rejected_tag {
  background-color: #FF5533;
}
.down_tag {
  background-color: #d6d6d6;
}
.incomplete_tag {
  background-color: #FFCC33;
}
.song-upload {
  border-radius: 5px;
  background-color: #eee;
  padding: 1em;
}
#track-list {
  font-size: 0.769em;
  z-index: 1;
}
#track-list .song_item {
  border-bottom: 1px solid #c3c3c3;
  overflow: hidden;
  padding: 10px 10px 10px 15px;
  position: relative;
  margin-bottom: 0;
}
#track-list .song_item:last-child {
  border-bottom: none;
}
#track-list .song_item:nth-child(odd) {
  background-color: #eee;
}
#track-list .song_item:nth-child(even) {
  background-color: #fff;
}
#track-list .song_item:hover {
  visibility: visible;
}
#track-list .song_item:hover .rollover-hide {
  display: inline;
}
#track-list .track-number {
  color: #333;
  float: left;
  font-size: 14px;
  font-weight: 700;
  height: 32px;
  margin: 0 20px 10px 0px;
}
#track-list .number {
  color: #333;
  float: left;
  font-size: 14px;
  font-weight: 700;
}
#track-list .song-data {
  float: left;
  width: 230px;
}
#track-list .track-actions {
  float: right;
  width: 315px;
}
#track-list .rollover-hide {
  float: left;
  padding: 8px 0 0 10px;
}
#track-list .track-reupload,
#track-list .track-cancelreupload {
  background: none;
  border-radius: 0;
  color: #41ADD8;
  padding: 5px 10px 5px 0;
}
#track-list .button {
  font-size: 12px;
  border: 0;
  text-shadow: none;
  box-shadow: none;
}
#track-list .edit-button,
#track-list .delete-button {
  background: none;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 5px 10px 5px 0;
  text-decoration: underline;
}
#track-list .edit-button {
  color: #41ADD8;
}
#track-list .delete-button {
  color: #f00;
}
#track-list .upload-button {
  float: right;
}
#track-list .upload-button {
  height: 24px;
}
#track-list .upload-button:hover {
  background-color: #44b1fa;
  box-shadow: none;
}
#track-list .cancel {
  margin-left: 25%;
  padding: 5px 10px;
}
#track-list .no-content {
  font-weight: 700;
  width: 95%;
  color: #003855;
}
#track-list .choose-button {
  margin-right: 6px;
}
#track-list .reup-button {
  background: none;
  color: #66CCFF;
  text-decoration: underline;
}
#track-list .song-name {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: -2px;
}
#track-list .clean-version,
#track-list .explicit-lyrics {
  font-size: 10px;
  color: #f00;
  line-height: 12px;
  display: block;
  float: left;
}
#track-list .clean-version {
  color: #333;
}
#track-list .file-name {
  float: right;
  font-size: 11px;
  color: #666;
  text-align: right;
  margin: 13px 10px 0 0px;
  padding: 0px;
}
#track-list .artist-name {
  font-size: 11px;
  color: #666;
  line-height: 12px;
  display: block;
}
#track-list .isrc {
  font-size: 10px;
  color: #999;
  line-height: 12px;
  display: block;
}
#track-list .even {
  height: auto;
}
#track-list .handle {
  font-size: 12px;
  padding: 2px;
  cursor: move;
  margin-right: 5px;
  position: absolute;
  left: 10px;
  top: 28px;
  display: none;
  width: 2px;
}
#track-list img {
  max-width: none;
}
#track-list br {
  font-size: 1px;
  line-height: 1px;
  height: 1px;
}
#track-list #reorder {
  display: none;
}
#track-list #control-block {
  width: 600px;
  height: 15px;
  border: 0px;
  display: block;
}
#track-list .error {
  position: absolute;
  top: 53px;
  left: 45px;
}
#track-list .song-error {
  margin: 50px 25px 5px 25px;
  display: block;
  color: #f00;
  font-weight: bold;
  padding: 2px 4px;
}
#track-list .song-upload {
  margin-top: 55px;
  margin-left: 30px;
}
#track-list .song-upload object {
  margin-left: -8px;
}
#track-list .song-upload li {
  border-bottom: none;
  margin: 2px 0px;
  padding: 0;
  min-height: 15px;
}
#track-list .song-upload ol {
  border-bottom: none;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 0;
}
#track-list .song-upload p {
  margin-bottom: 5px;
  padding: 0;
}
#song-form {
  background-color: #eee;
  border: 0px solid #c3c3c3;
  border-radius: 5px;
  clear: left;
  font-size: 0.769em;
  margin-bottom: 5em;
  padding: 20px 10px;
  position: relative;
}
#track-list label,
#song-form label,
#add-song label,
#edit-ringtone label {
  width: 28%;
}
#track-list .check,
#song-form .check,
#add-song .check,
#edit-ringtone .check {
  padding-left: 28%;
}
#track-list #creative-controls,
#song-form #creative-controls,
#add-song #creative-controls,
#edit-ringtone #creative-controls {
  left: 285px;
}
#track-list #song-form .song-file,
#song-form #song-form .song-file,
#add-song #song-form .song-file,
#edit-ringtone #song-form .song-file {
  position: absolute;
  bottom: 21px;
  left: 113px;
}
#track-list #add-main-artists,
#song-form #add-main-artists,
#add-song #add-main-artists,
#edit-ringtone #add-main-artists,
#track-list #add-feat-artists,
#song-form #add-feat-artists,
#add-song #add-feat-artists,
#edit-ringtone #add-feat-artists {
  margin-left: 28%;
}
#track-list .primary_artists .form-text,
#song-form .primary_artists .form-text,
#add-song .primary_artists .form-text,
#edit-ringtone .primary_artists .form-text,
#track-list .featuring_artists .form-text,
#song-form .featuring_artists .form-text,
#add-song .featuring_artists .form-text,
#edit-ringtone .featuring_artists .form-text {
  width: 59.5%;
}
#track-list .primary_artists .form-text.number-hidden,
#song-form .primary_artists .form-text.number-hidden,
#add-song .primary_artists .form-text.number-hidden,
#edit-ringtone .primary_artists .form-text.number-hidden,
#track-list .featuring_artists .form-text.number-hidden,
#song-form .featuring_artists .form-text.number-hidden,
#add-song .featuring_artists .form-text.number-hidden,
#edit-ringtone .featuring_artists .form-text.number-hidden {
  width: 69%;
}
#song_optional_isrc_list_item {
  margin-bottom: 0;
  padding-bottom: 0;
}
#add-songs {
  margin-bottom: 5em;
}
#add-songs .done-button {
  margin-left: 25%;
}
.addsong {
  float: right;
}
#new_song .add-creative {
  position: absolute;
  top: 20px;
}
#new_song .done-button {
  margin-left: 10%;
  margin-bottom: 3em;
}
.addsong {
  float: right;
}
.song .track-number,
.song .title {
  font-size: 1.4em;
  font-weight: 700;
  color: #333;
}
.song .track-number {
  margin: 0 2em;
}
.song .isrc {
  font-size: 1.1em;
  float: right;
  margin-right: 3em;
  color: #666;
}
.song li {
  display: inline;
  height: 4em;
}
.wwUpgrade {
  padding: 0 10px;
}
.wwUpgrade .wwAlert {
  padding: 5px;
  margin: 0 -10px;
  background-color: #fffa92;
  text-align: center;
  color: #424242;
  border-radius: 5px;
  margin-bottom: 10px;
}
li.even,
div.even {
  background: #D2E1E9;
  background: rgba(210, 225, 233, 0.35);
  height: 25px;
}
li.odd,
div.odd {
  background: #ffffff;
  min-height: 25px;
}
div.even,
div.odd {
  height: auto;
}
/* Lightbox Style */
#inner-iframe {
  overflow-x: hidden;
  overflow-y: auto;
}
/* Alert Notice Lightbox */
.alert {
  background: #fff;
  border-radius: 1em;
  color: #333;
  clear: both;
  font-size: 1.2em;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 28px;
  position: relative;
  max-width: 504px;
  width: auto;
}
.alert .hd {
  font-size: 1.8em;
  line-height: 1.25;
  margin-bottom: 1em;
}
.alert .bd {
  font-size: 1.2em;
  line-height: 1.5;
}
.alert small {
  font-size: 0.75em;
}
.alert ul {
  list-style: disc;
  padding-left: 10px;
}
.alert p {
  margin-bottom: 1em;
}
.alert .action {
  margin: 10px auto 5px auto;
  text-align: center;
}
.alert .button {
  display: inline-block;
  padding: 10px 50px;
  margin-top: 1em;
  background-color: #e7790e;
  color: #FFF;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  /* .transition(all 0.2s ease-in-out); */
  margin: 0px auto;
}
.alert .button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #e7790e;
}
.alert .button:active {
  box-shadow: 0px 0px 40px #e7790e;
}
.alert .button-callout {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
.alert .button-callout:hover,
.alert .button-callout:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.alert .button-callout:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.alert .button-callout-alt {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
}
.alert .button-callout-alt:hover,
.alert .button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.alert .button-callout-alt:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.alert .button-callout-alt:hover,
.alert .button-callout-alt:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
.alert .button-callout-alt:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
.alert .button-interface {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  color: #777;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.alert .button-interface:hover,
.alert .button-interface:focus {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #777;
}
.alert .button-interface:active {
  background-color: #dcdcdc;
  border: 1px solid #d6d6d6;
}
.alert .magicTipHolder {
  z-index: auto !important;
}
.hidden {
  display: none;
}
.progress-bar-wrapper {
  width: 400px;
  border: 1px solid #ccc;
  height: 15px;
}
.progress-bar {
  width: 0px;
  height: 15px;
  background-color: blue;
}
.relative {
  position: relative;
}
#simplemodal-container a.modalCloseImg, #country-selector-modal a.modalCloseImg {
  background: url(/images/x.png) no-repeat;
  width: 25px;
  height: 29px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: -15px;
  left: -10px;
  cursor: pointer;
}
#simplemodal-overlay {
  background-color: #000;
}
#simplemodal-container, #country-selector-modal {
  color: #333;
  background-color: #fff;
  border-radius: 10px;
  padding: 12px;
}

@media screen and (max-width: 480px) {
  #country-selector-modal {
    max-width: 400px;
  }

  .hide-for-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 481px) {
  .show-only-mobile {
    display: none !important;
  }
}

.simplemodal-wrap {
  overflow: auto;
}
#my-account #spinner {
  position: absolute;
  top: 428px;
  right: 12px;
  z-index: 100;
}
.ie7 #my-account #spinner {
  top: 220px;
}
#my-account #spinner img {
  height: 30px;
  width: 30px;
}
#iframe {
  background: transparent !IMPORTANT;
}
#renewal_options {
  margin: 6px 0 6px 6px;
}
#cancel_subscription {
  text-indent: 10px;
  position: relative;
  top: 12px;
}
.included {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #F0F0F0;
  margin-bottom: 20px;
}
.included > h3 {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 700;
  font-size: 1em;
  background-color: #e6e6e6;
  border-bottom: 1px dotted #999999;
  color: #333333;
  padding: 10px;
}
.included > ul {
  color: #333333;
}
.included > ul > li {
  padding: 10px;
  border-bottom: 1px dotted #999999;
}
.box {
  background-color: #f0f0f0;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px;
  position: relative;
}
.box dt,
.box dd {
  padding: 1em;
}
.box.row {
  margin-bottom: 2em;
  margin-top: .5em;
}
.box.nopad {
  padding: 0;
}
.box.whitebg,
.box.box-white {
  background-color: #ffffff;
}
.box > .summary {
  float: left;
}
.box > .summary > h3 {
  font-size: 1.6em;
  margin-bottom: 5px;
}
.box > .summary > p {
  margin: 0;
  line-height: 1.5em;
}
.box > .details {
  float: right;
  text-align: right;
}
.box > .details p {
  margin: 0;
}
.box > .details p.red {
  color: red;
}
.box > .details .price {
  position: relative;
  font-size: 1.8em;
  font-weight: 700;
}
.box > .details .price.sale:after {
  position: absolute;
  top: 0;
  left: 0;
  content: 'Sale';
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  background-color: yellow;
  color: red;
  border-radius: 5px;
  font-size: .75em;
  font-weight: 700;
  padding: 2px 3px;
  line-height: 1em;
}
.box > .details > nav {
  position: absolute;
  top: -25px;
  right: 20px;
}
.box > .details > nav > span {
  margin-right: 10px;
}
.box > .details > nav > a {
  position: relative;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: inline-block;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  background-color: #ffffff;
  border: 1px solid #E6E6E6;
  color: #000000;
}
.box > .details > nav > a.active {
  background-color: #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}
.box > .details > nav > a.sale:after {
  position: absolute;
  top: -8px;
  left: -11px;
  content: 'Sale';
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  background-color: yellow;
  color: red;
  border-radius: 5px;
  font-size: .75em;
  font-weight: 700;
  padding: 2px 3px;
  line-height: 1em;
}
.box > .blue-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.box-grey {
  background-color: #EEEEEE !important;
  border: 1px solid #EEEEEE !important;
  margin-bottom: 10px;
}
.red-box {
  position: relative;
  padding: 10px;
  border: 1px solid #e23f3f;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 5px;
}
.blue-box {
  position: relative;
  padding: 10px;
  border: 1px solid #44b1fa;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 5px;
}
.blue-btn {
  display: inline-block;
  padding: 6px 10px;
  margin-top: 0.5em;
  background-color: #44b1fa;
  color: #FFF;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 0.5em;
  font-style: normal;
  font-weight: 400;
  /* .transition(all 0.2s ease-in-out); */
  font-size: 1em;
  color: #ffffff !important;
}
.blue-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #44b1fa;
}
.blue-btn:active {
  box-shadow: 0px 0px 40px #44b1fa;
}
.blue-btn:hover {
  color: #ffffff;
}
.red-btn {
  display: inline-block;
  padding: 6px 10px;
  margin-top: 0.5em;
  background-color: #e23f3f;
  color: #FFF;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 0.5em;
  font-style: normal;
  font-weight: 400;
  /* .transition(all 0.2s ease-in-out); */
  font-size: 1em;
  color: #ffffff !important;
}
.red-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #e23f3f;
}
.red-btn:active {
  box-shadow: 0px 0px 40px #e23f3f;
}
.red-btn:hover {
  color: #ffffff;
}
.grey-btn {
  display: inline-block;
  padding: 6px 10px;
  margin-top: 0.5em;
  background-color: #999999;
  color: #FFF;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 0.5em;
  font-style: normal;
  font-weight: 400;
  /* .transition(all 0.2s ease-in-out); */
  font-size: 1em;
  color: #ffffff !important;
}
.grey-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #999999;
}
.grey-btn:active {
  box-shadow: 0px 0px 40px #999999;
}
.grey-btn:hover {
  color: #ffffff;
}
h2.blue {
  color: #3B96CF;
  margin-bottom: 20px;
}
/* Qualaroo Fix */
#ki_container * {
  box-sizing: content-box;
}
.fileupload_button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.fileupload_button input {
  cursor: pointer;
  direction: ltr;
  font-size: 10em;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}
#breadcrumb {
  margin-bottom: 1.332em;
}
#breadcrumb ul {
  float: left;
  width: 100%;
  background-color: #F0F0F0;
  font-size: 1.4em;
  border-radius: 3px;
  overflow: hidden;
}
#breadcrumb ul > li {
  position: relative;
  float: left;
  margin: 0px;
  line-height: 1.8em;
  padding: 0 2em;
  background-color: #c3c3c3;
}
#breadcrumb ul > li:before {
  position: absolute;
  top: 0px;
  right: -2.1312em;
  z-index: 1;
  content: "";
  border: 1em solid transparent;
  border-left: 1em solid #F0F0F0;
}
#breadcrumb ul > li:after {
  position: absolute;
  top: 0px;
  right: -2em;
  z-index: 2;
  content: "";
  border: 1em solid transparent;
  border-left: 1em solid #c3c3c3;
}
#breadcrumb ul > li:last-child {
  background-color: #3B96CF;
}
#breadcrumb ul > li:last-child:after {
  border-left-color: #3B96CF;
}
#breadcrumb ul > li:nth-last-child(2) {
  background-color: #999999;
}
#breadcrumb ul > li:nth-last-child(2):after {
  border-left-color: #999999;
}
#breadcrumb ul > li:nth-last-child(3) {
  background-color: #b0b0b0;
}
#breadcrumb ul > li:nth-last-child(3):after {
  border-left-color: #b0b0b0;
}
#breadcrumb ul > li a {
  color: #ffffff;
  font-weight: 400;
}
@media screen and (max-width: 750px) {
  #breadcrumb ul {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 650px) {
  #breadcrumb ul {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 480px) {
  #breadcrumb ul {
    font-size: 1em;
  }
}
#breadcrumb.grey {
  margin-bottom: 0;
}
#breadcrumb.grey ul {
  background-color: #f2f2f2;
  border-radius: 0px;
  border-bottom: 1px solid #b5b5b5;
}
#breadcrumb.grey ul > li {
  line-height: 3em;
  padding: 0 2em;
  background-color: #999999;
}
#breadcrumb.grey ul > li:before {
  display: none;
}
#breadcrumb.grey ul > li:after {
  position: absolute;
  top: -1.6em;
  right: -2.5em;
  z-index: 2;
  content: "";
  border: 1.6em solid transparent;
  border-left: 1.6em solid #999999;
  border-top-width: 3.2em;
  border-bottom-width: 3.2em;
}
#breadcrumb.grey ul > li:last-child {
  background-color: #333333;
}
#breadcrumb.grey ul > li:last-child:after {
  border-left-color: #333333;
}
#breadcrumb.grey ul > li:nth-last-child(2) {
  background-color: #777777;
}
#breadcrumb.grey ul > li:nth-last-child(2):after {
  border-left-color: #777777;
}
#breadcrumb.grey ul > li:nth-last-child(3) {
  background-color: #999999;
}
#breadcrumb.grey ul > li:nth-last-child(3):after {
  border-left-color: #999999;
}
#breadcrumb.grey ul > li a {
  color: #ffffff;
  font-weight: 400;
}
.titletip {
  position: relative;
  float: left;
  width: auto;
  background-color: #F0F0F0;
  padding: 7px;
  border-radius: 3px;
  font-size: 1.25em;
  font-weight: 700;
  border: 1px solid #CCCCCC;
  vertical-align: middle;
}
.titletip:before {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: -20px;
  z-index: 1;
  content: "";
  border: 10px solid transparent;
  border-right: 10px solid #CCCCCC;
}
.titletip:after {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: -18px;
  z-index: 2;
  content: "";
  border: 10px solid transparent;
  border-right: 10px solid #F0F0F0;
}
.titletip a {
  color: #333333;
}
.ui-widget-overlay {
  background-color: #000000 !important;
  background-image: none !important;
  opacity: .5 !important;
}
.ui-widget-header span {
  font-size: 1.5em;
}
.hide_text {
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.or {
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}
.or > span {
  position: relative;
  width: 40%;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #b2b2b2;
}
.or > span > span {
  position: absolute;
  padding: 0 10px;
  top: -10px;
  left: 50%;
  margin-left: -16px;
  font-size: 1.4em;
  color: #656565;
  background-color: #ffffff;
}
.btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.75em 1.5em;
  text-align: center;
  border-radius: 3px;
}
.btn:hover {
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
}
.btn:active {
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.3);
}
.btn-action {
  border: 1px solid #aaaaaa;
  color: #5f5f5f;
  background-color: #e5e5e5;
}
.btn-action:hover {
  color: #5f5f5f;
}
.btn-action:active {
  background-color: #dcdcdc;
}
.btn-upcase {
  text-transform: uppercase;
}
.btn-capitalize {
  text-transform: capitalize;
}
.btn-bold {
  font-weight: 700;
}
.btn-small {
  font-size: .9em;
  padding: .6em;
}
.btn-callout {
  border: 1px solid #339de5;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #3fa8ef;
}
.btn-callout:hover {
  color: #ffffff;
}
.btn-callout:focus,
.btn-callout:active {
  background-color: #39a1e7;
  color: #ffffff;
}
.btn-orange {
  color: #ffffff;
  background-color: #f47f0c;
  border: 1px solid #d8710d;
}
.btn-orange:hover {
  color: #ffffff;
}
.btn-orange:active {
  background-color: #df750d;
}
.btn-info {
  margin-right: 1em;
  margin-bottom: 1em;
  color: #ffffff;
  font-weight: normal;
  font-size: 1.5em;
  font-style: oblique;
  font-family: Georgia;
}
.blue-style {
  border: 1px solid #339de5;
  background-color: #3fa8ef;
}
.blue-style:active {
  background-color: #39a1e7;
}
.black-style {
  background-color: #000000;
  border: 1px solid #000000;
}
.black-style:active {
  background-color: #333333;
}
.btn-orange {
  background-color: #f47f0c;
  border: 1px solid #d8710d;
}
.btn-orange:active {
  background-color: #df750d;
}
.btn-facebook {
  border: 1px solid #1b2f6e;
  background-color: #3B5998;
  color: #ffffff;
}
.btn-facebook:active {
  background-color: #34518f;
}
.blocky-checkbox {
  display: inline-block;
  background-color: #DCDCDC;
  padding: .6em;
  margin-right: 1em;
}
.blocky-label {
  color: #333333;
  font-weight: 700;
  font-size: 1.5em;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.link {
  color: #3FA8EF;
  font-family: Georgia,serif;
  font-style: oblique;
  text-decoration: none;
}
.link:active,
.link:hover,
.link:visited {
  color: #3FA8EF;
}
.link-list {
  display: block;
  position: relative;
  padding-left: 20px;
}
.link-list:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  display: block;
  height: 14px;
  width: 13px;
  background-color: #a8a8a8;
}
.link-list:after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 4px;
  height: 4px;
  width: 13px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.targeted_offer-highlight {
  color: #bb0000 !important;
}
.default-table {
  border: 1px solid #ccc;
  border-collapse: separate;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}
.default-table th,
.default-table td {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 10px;
}
.default-table th:first-child,
.default-table td:first-child {
  border-left: 0;
}
.default-table th {
  background-color: #fafafa;
  background: linear-gradient(#fff, #f0f0f0);
  color: #555;
  border-top: 0;
  font-weight: 700;
  text-align: left;
}
.default-table th:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
}
.default-table th:last-child {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.default-table td {
  color: #333;
}
.default-table tbody > tr:nth-child(even) > td {
  background-color: #f5f5f5;
}
.default-table tbody > tr:last-child > td:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
}
.default-table tbody > tr:last-child > td:last-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.default-table tbody > tr:last-child > td:only-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
}
.default-table tbody > tr {
  background-color: #fff;
}
.default-table tbody > tr:hover > td {
  background-color: #ffc;
}
.secondary-font {
  font-family: Georgia;
  color: #424242;
  font-style: italic;
}
.secondary-font-lt {
  font-family: Georgia;
  color: #777777;
  font-style: italic;
}
.publishing_callout {
  padding: 10px;
  border: 1px solid #3999cb;
  background-color: #e9f0fa;
  border-radius: 5px;
  margin-bottom: 20px;
  clear: both;
  font-size: 1.2em;
}
.publishing_callout p,
.publishing_callout a {
  margin-bottom: 10px;
}
.publishing_callout p {
  font-weight: 700;
}
.publishing_callout.publishing_callout-dashboard,
.publishing_callout.publishing_callout-invoices {
  font-size: 1.3em;
}
.publishing_callout.publishing_callout-dashboard p,
.publishing_callout.publishing_callout-invoices p {
  margin-bottom: 0;
}
.publishing_callout.publishing_callout-discography,
.publishing_callout.publishing_callout-composers,
.publishing_callout.publishing_callout-albums {
  font-size: 1.4em;
}
.publishing_callout > div {
  text-align: center;
}
.publishing_callout .btn {
  margin-bottom: 0;
}
.publishing_callout.publishing_callout-wide > div,
.publishing_callout.publishing_callout-wide p {
  display: inline-block;
}
.publishing_callout.publishing_callout-wide > div {
  margin-left: 4px;
}
.recap {
  position: relative;
  z-index: 5;
  background-color: #EFEFEF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
  padding: 48px 0;
  line-height: 36px;
  font-size: 24px;
  color: #333333;
}
.recap .row {
  padding-left: 80px;
}
.breadcrumbs {
  margin-bottom: 36px;
  overflow: hidden;
}
.breadcrumbs a,
.breadcrumbs span {
  background-color: #fff;
  border: 1px solid #dadada;
  border-width: 1px 0;
  color: #777;
  display: block;
  line-height: 36px;
  float: left;
  font-family: Georgia, serif;
  font-size: 1.0833em;
  font-style: italic;
  padding: 0 10px 0 30px;
  position: relative;
}
.breadcrumbs a:after,
.breadcrumbs span:after {
  background-color: #fff;
  border: 1px solid #dadada;
  border-width: 1.75px 1.75px 0 0;
  border-radius: 0 5px 0 50px;
  content: '';
  position: absolute;
  top: -1px;
  right: -19px;
  width: 36px;
  height: 36px;
  -webkit-transform: scale(0.707) rotate(45deg);
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
}
.breadcrumbs a:first-child:before,
.breadcrumbs span:first-child:before {
  background-color: #fff;
  border: 1px solid #dadada;
  border-width: 1.75px 1.75px 0 0;
  border-radius: 0 5px 0 50px;
  content: '';
  left: -18px;
  position: absolute;
  top: -1px;
  width: 36px;
  height: 36px;
  -webkit-transform: scale(0.707) rotate(45deg);
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
}
.breadcrumbs .active {
  background-color: #eaeaea;
  color: #5f5f5f;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
}
.breadcrumbs .active:after {
  background-color: #eaeaea;
}
.breadcrumbs a:hover {
  color: #2795b6;
}
.roundy-header {
  border: 1px solid #CCCCCC;
  border-bottom: 0;
  background-color: #F0F0F0;
  padding: 15px;
  -webkit-border-top-left-radius: 25px;
  -webkit-border-top-right-radius: 25px;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-topright: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  line-height: 22px;
}
.roundy-header h2 {
  font-size: 18px;
}
.roundy-content {
  border: 1px solid #CCCCCC;
  margin-bottom: 30px;
}
.sidebar-ad {
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #69AAD0;
  background-color: #E6F4FD;
  margin-bottom: 15px;
}
.sidebar-ad h2 {
  font-size: 18px;
  color: #1175B1;
  margin-bottom: 10px;
}
.sidebar-ad p {
  color: #333333;
  font-size: 14px;
  margin-bottom: 10px;
}
.sidebar-ad .price {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
}
.sidebar-ad .price-details {
  color: #333333;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 15px;
}
.sidebar-ad .btn {
  width: 100%;
  font-size: 12px;
}
.important-alert {
  border: 1px solid #FF0E06;
  color: #FF0E06;
  border-radius: 3px;
  padding: 10px;
}
.important-notice {
  font-size: 14px;
  border: 1px solid #FF0E06;
  background-color: #FFFDE4;
  border-radius: 3px;
  padding: 10px;
}
.simple-modal_extra-pad {
  display: none;
  font-size: 14px;
  line-height: 1.5em;
  padding: 24px;
}
.simple-modal_extra-pad p {
  margin-bottom: 15px;
}
.simple-modal_extra-pad ul {
  list-style-type: disc;
  padding-left: 20px;
}
.release-rejection-modal {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  min-height: 450px;
  margin: 40px auto;
  position: relative;
}
#rejected-release {
  background: #fffde5;
  border: 5px solid #ff0000;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}
#rejected-release > span {
  color: #585856;
  display: block;
  margin: 0 auto;
  max-width: 58.333%;
}
.alert-stripe-container {
  background-color: #d9ebf6;
  border: 1px solid #3b96cf;
  border-radius: 5px;
  padding: 10px 50px;
  text-align: center;
  margin-bottom: 20px;
}
.alert-stripe-header {
  color: red;
}
#clean-selector-container {
  margin-top: 10px;
}
.color-red {
  color: red;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-right-60 {
  margin-right: 60px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
