body {
  background: #000 url("/images/interstitial/beatslanding_bg.jpg");
}
.interstitial {
  color: #fff;
  margin-top: -20px;
  padding: 60px 0;
  text-align: center;
}
.interstitial h1 {
  font-family: "HelveticaNeue-CondensedBold", 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4.8em;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 48px;
  text-transform: uppercase;
}
.interstitial h1 img {
  padding-bottom: 48px;
}
.interstitial p {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 auto;
  padding-bottom: 60px;
  text-align: justify;
  width: 70.3%;
}
.interstitial .buttons {
  text-align: center;
}
.interstitial .btn {
  font-size: 1.8em;
}

/*# sourceMappingURL=source/beats_store.css.map */
