#add-songs .number {
  position: absolute;
  top: 10px;
  left: 20px;
  font-weight: 700;
  font-size: 14px;
}
#add-songs .help {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: 700;
  font-size: 11px;
}
#tcSongsGrid {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  position: relative;
  background-color: #eee;
}
#uploader {
  position: absolute;
  top: 0px;
  right: 1000px;
  width: 74px;
  height: 24px;
  background-color: transparent;
  z-index: 10000;
  overflow: hidden;
}
#uploader embed {
  height: 24px;
}
.uploads p {
  margin-bottom: 10px;
}
.track-uploading {
  position: absolute;
  top: 15px;
  right: 5px;
  display: none;
  width: 400px;
  height: 35px;
}
.track-progress {
  float: left;
  width: 98%;
  background-color: #CCCCCC;
  height: 10px;
}
.track-bar {
  float: left;
  width: 0%;
  background-color: green;
  height: 10px;
}
.track-saving,
.track-registering,
.track-error {
  position: absolute;
  top: 15px;
  right: 5px;
  width: 400px;
  height: 35px;
  line-height: 35px;
  display: none;
}
.track-reupload,
.track-cancelreupload {
  color: #41ADD8;
  text-decoration: underline;
  background: none;
  margin: 0px;
  padding: 0px;
}
a.track-play {
  float: left;
  margin-top: 10px;
  width: 21px;
  height: 21px;
  background-image: url('/version/shared/images/play_button_21x21.gif');
  background-repeat: no-repeat;
  text-decoration: none;
  display: none;
}
a#closeFlowPlayer {
  position: absolute;
  top: 0px;
  right: 5000px;
  height: 30px;
  padding-left: 10px;
  line-height: 30px;
  background-color: transparent;
  font-weight: 700;
  color: #2bacd7;
  z-index: 1001;
  text-decoration: none;
  font-size: 16px;
}
#flowplayer {
  position: absolute;
  top: 0px;
  right: 5000px;
  width: 265px;
  height: 30px;
  display: block;
  z-index: 1000;
}
#flowplayer_api {
  height: 100%;
}
.flowplayer_single {
  position: absolute;
}
.flowplayer_holder {
  height: 30px;
  width: 265px;
  top: 28px;
  left: 260px;
  position: absolute;
  display: block;
  overflow: hidden;
}
.magicTipHolder {
  position: relative;
  width: auto;
  z-index: 500;
  display: inline-block;
}
.magicTip {
  position: absolute;
  display: none;
  z-index: 1000;
}
.magicTipPointer {
  float: left;
  position: relative;
}
.magicTipPointer span {
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url('/images/magicTipPointerSprite.png');
  background-repeat: no-repeat;
  background-position: 0;
}
.magicTipBorder {
  float: left;
  width: auto;
  padding: 2px;
  background-image: url('/images/magicTipBorderSprite.png');
}
.magicTipContent {
  float: left;
  width: 300px;
  background-color: #FFFFFF;
  padding: 5px;
  font-size: 12px;
  font-weight: normal;
  color: #333333;
  line-height: auto;
}
.song-data {
  top: 20px;
}
.simplemodal-wrap {
  overflow: auto;
}
.asset {
  float: left;
  width: 98%;
  clear: both;
  height: 35px;
  line-height: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #F2F2F2;
  color: #333333;
  font-size: 11px;
  border-bottom: 1px solid #CCCCCC;
  text-decoration: none;
}
.asset:hover {
  background-color: #EEEEEE;
}
.asset .switch {
  float: left;
  width: auto;
  margin-left: 5px;
  line-height: 25px;
  color: #33333;
  text-decoration: none;
  font-weight: 700;
}
.asset span {
  float: left;
  line-height: 25px;
  margin-left: 10px;
  font-size: 9px;
  color: #666666;
}
.asset a.play {
  float: left;
  width: auto;
  height: 25px;
  line-height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 12px;
  background-color: #3276cb;
  border-radius: 3px;
  margin-left: 5px;
}
.bgsafe {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 5px;
}
/* Splits CSS */
.edit_album {
  position: relative;
}
#yourSplit {
  position: absolute;
  top: -30px;
  right: 10px;
  z-index: 2000;
}
#yourTracks {
  position: absolute;
  top: -30px;
  left: 10px;
  z-index: 2000;
  font-size: 16px;
  font-weight: 700;
}
#songComposer {
  position: absolute;
  top: -30px;
  right: 200px;
  z-index: 1002;
  width: 150px;
  text-align: left;
  font-weight: 700;
}
div#yourSplit div {
  float: left;
  width: 180px;
  height: 30px;
  line-height: 30px;
  background-color: #227fa5;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  font-size: 12px;
  font-weight: 700;
  color: #FFFFFF;
  position: relative;
}
#yourSplit span {
  position: absolute;
  width: 12px;
  height: 4px;
  background-image: url(/images/your_split_arrow.png);
  background-repeat: no-repeat;
  top: 30px;
  left: 84px;
}
.composer {
  position: absolute;
  top: -1px;
  right: 200px;
  z-index: 1000;
  width: 150px;
  height: 61px;
  line-height: 61px;
  text-align: left;
}
.split_bg {
  position: absolute;
  top: -1px;
  right: 9px;
  z-index: 1000;
  width: 180px;
  height: 61px;
  background-color: #e0edf2;
}
.split_holder {
  position: absolute;
  right: 9px;
  top: 0px;
  width: 180px;
  height: auto;
  text-align: center;
  z-index: 1500;
}
.split_percentage {
  display: none;
  line-height: 61px;
}
.split_selector {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: auto;
  margin-top: 21px;
}
a.split {
  float: left;
  width: 42px;
  height: 17px;
  padding-left: 10px;
  padding-right: 28px;
  line-height: 17px;
  border: 1px solid #83959d;
  background-color: #FFFFFF;
  background-image: url(/images/split_selector_arrow.png);
  background-repeat: no-repeat;
  background-position: top right;
  text-decoration: none;
  text-align: center;
  color: #000000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  z-index: 3000;
}
.split_options_holder {
  position: absolute;
  top: 18px;
  left: 0px;
  width: auto;
  height: auto;
  z-index: 2500;
  display: none;
}
.split_options {
  float: left;
  width: auto;
  padding: 5px;
  border: 1px solid #83959d;
  background-color: #FFFFFF;
}
.split_options a {
  float: left;
  width: 150px;
  text-decoration: none;
  text-align: left;
  line-height: 20px;
  color: #000000;
  border-top: 1px solid #EEEEEE;
  clear: both;
}
.other_option {
  float: left;
  width: auto;
  padding: 30px;
  border: 1px solid #83959d;
  background-color: #FFFFFF;
  text-align: left;
  display: none;
  font-size: 11px;
}
.other_option_error {
  background-color: red;
  color: #FFFFFF;
  font-size: 11px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  display: none;
}
.choose-button {
  margin-left: 5px;
}
#confirm_splits_dialog h2 {
  background-color: red;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
}
#songwriter_service_success {
  background-color: green;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  display: block;
  margin-bottom: 50px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  display: none;
}
fieldset {
  position: relative;
}
fieldset span.number {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 700;
}
.notice {
  background-color: #E6F4FD;
  border: 1px solid #69AAD0;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
}
.notice p {
  margin-bottom: 0;
}
.cyrillic_formatting {
  font-size: 1.08em;
}

/*# sourceMappingURL=source/bigbox.css.map */
