.mainbody {
  padding-top: 20px;
}
header p {
  font-size: 1.08em;
}
.content {
  float: left;
}
.content header {
  margin: 3em 0;
}
.content header > h1 {
  border-bottom: 3px solid #333;
  color: #333;
  font-size: 1.846em;
  line-height: 1.5;
}
.bio {
  padding-bottom: 3em;
}
.bio-description h2 {
  color: #333;
  font-size: 1.38em;
}
.bio-description p {
  font-size: 14px;
  line-height: 1.5;
  margin: 1em 0 0;
}
@media only screen and (min-width: 961px) {
  .mainbody {
    padding-top: 90px;
  }
}

/*# sourceMappingURL=source/bios.css.map */
