.blacklist.error{
  font-size: x-large;
  margin: 10px 10px 20px 10px;
  display: inline-block;
}

.section-label{
  padding-top: 5px;
  font-size: 18px;
  margin: 0 0 20px 10px;
  text-align: left;
}

.blacklist-form{
  background-color: #eff5f7;
  border: 1px solid rgba(195, 195, 195, 0.35);
  box-shadow: none;
  margin-bottom: 20px;
}

#blacklist-add-label{
  width: 95%;
  text-align:left;
  margin: 0px 20px;
}

.blacklist-form #blacklist-input{
  width: 95%;
  height: 100px;
  margin: 0px 20px;
  padding: 0;
}

.blacklist-form .save-btn{
  float: right;
  margin: 0 25px 10px 0;
}

#divider{
  height: 5px;
  background-color: white;
  width: 100%;
  clear: both;
}

#removal-label{
  padding-top: 10px;
}

#remove-artists label.check_boxes{
  margin-left: -53px;
  margin-top: -15px;
}

#remove-artists > label.checkbox{
  text-align: left;
  margin-left: 10px;
  position: relative;
  font-weight: normal;
  align-items: center;
}

#remove-artists input{
  display: inline;
  margin: 1px;
}

.btn.remove-button{
  margin: 5px 0 10px -50px;
  line-height: 10px;
  font-size: 1em;
}

#checkbox-grid{
  margin: 0;
  column-count: 4;
  column-width: 150px;
}


