body {
  background: #f3f0e8;
}
.interstitial {
  color: #333;
  padding-bottom: 60px;
  text-align: center;
}
.interstitial h1 {
  font-size: 2.4em;
  font-weight: 700;
  margin: 0;
  padding: 0 0 36px;
  text-transform: uppercase;
}
.interstitial hr {
  border: 1px solid #acacac;
  border-width: 0 0 1px;
  margin-bottom: 48px;
  width: 10%;
}
.interstitial p {
  font-size: 2.4em;
  font-weight: 200;
  line-height: 1.5;
  margin: 0 auto;
  text-align: justify;
  width: 70%;
}
.interstitial .buttons {
  text-align: center;
}
.interstitial .btn {
  font-size: 1.8em;
}

/*# sourceMappingURL=source/bloom_store.css.map */
