input[type=text] {
  font-size: 1.4em;
  padding: 4px;
  width: 699px;
}

select {
   border: 1px solid #ccc;
   font-size: 1.5em;
   height: 34px;
   width: 699px;
}

.form-input {
  margin-bottom: 20px;
  border-bottom: 1px solid #EEE;
  padding-top: 10px;
  padding-bottom: 10px;
}

label {
  font-size: 1.5em;
}

#bulk-add-form > input.btn {
	background-color: #e7790e
}

.bulk-album-messages {
  background-color: gainsboro;
  border-radius: 10%;
  width: 50%;
}