.note_alert {
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fffde8;
  border: 1px solid #f3ecb0;
  padding: 10px;
}

.note_alert p{
  font-size: 14px;
  margin-bottom: 10px;
}

#takedown-release-btn {
  float: right;
}

.text-underline {
  text-decoration: underline;
}

.takedown-modal-container {
  width: 20% !important;
  margin: 0 auto;
}

.important-release {
  color: red;
  font-size: 14px;
}

.radio-container {
  width: 50%;
  float: right;
}

.radio-label {
  padding-left: 5px;
  font-size: 1.2em;
  color: #444444;
}

.release-submit-container {
  float: right;
}
