/*.content > header h2 {font-size: 2em}*/
.pod-sellingpoints .button {
  display: inline-block;
  padding: 0.75em 1.5em;
  margin-top: 0;
  background-color: #e7790e;
  color: #FFF;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 1.15em;
  font-style: normal;
  font-weight: bold;
  /* .transition(all 0.2s ease-in-out); */
  text-transform: uppercase;
}
.pod-sellingpoints .button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #e7790e;
}
.pod-sellingpoints .button:active {
  box-shadow: 0px 0px 40px #e7790e;
}
.selling_point {
  margin-bottom: 36px;
}
.selling_point h2 {
  /*    font-size: 2em;*/
  font-weight: 300;
  line-height: 1;
  padding-bottom: 18px;
}
.selling_point p {
  font-size: 1.15em;
}
.joblist {
  margin-top: 36px;
}
.joblist ul {
  padding-left: 24px;
}
.job-title {
  font-size: 1.15em;
  font-weight: 700;
  padding-right: 10px;
}
.job-location {
  font-size: 1.15em;
}
@media screen and (min-width: 768px) {
  .selling_point {
    border-left: 3px solid #e7790e;
    padding-left: 36px;
  }
}

/*# sourceMappingURL=source/careers.css.map */
