.button-callout-alt {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
}
.button-callout-alt:hover,
.button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.button-callout-alt:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.button-callout-alt:hover,
.button-callout-alt:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
.button-callout-alt:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
.button-interface {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  color: #777;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.button-interface:hover,
.button-interface:focus {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #777;
}
.button-interface:active {
  background-color: #dcdcdc;
  border: 1px solid #d6d6d6;
}
.form label {
  display: block;
  float: none;
  font-weight: 400;
  margin: 0;
  text-align: left;
  width: auto;
}
.form .box {
  overflow: visible;
}
.form .form-text {
  width: auto;
}
.form .prefix,
.form .suffix {
  float: left;
  margin-bottom: 10px;
  width: 110px;
}
.form .first_name,
.form .middle_name,
.form .last_name {
  float: left;
  margin-bottom: 10px;
  width: 183px;
}
.form .date_of_birth {
  clear: left;
  margin-bottom: 10px;
}
.form .date_of_birth .cl {
  width: 70px;
}
.form #tos {
  border: 1px solid #ccc;
  clear: both;
  height: 250px;
  margin-bottom: 10px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
}
.form #tos p {
  margin-bottom: 10px;
}
.form #tos ol {
  margin-bottom: 10px;
  padding-left: 15px;
}
.form #agree {
  width: 100%;
}
.review .pod-body > footer {
  padding-top: 10px;
  text-align: center;
}
.review .pod-body > footer input[type="submit"] {
  font-size: 1.15em;
  margin-bottom: 10px;
}
.review .pod-body > footer br {
  display: none;
}
#agree {
  display: none;
}
.error ul {
  background-color: #fef7da;
  border: 1px solid #f00;
  border-radius: 3px;
  color: #f00;
  float: left;
  font-size: 1.1em;
  height: auto;
  margin-bottom: 18px;
  padding: 10px;
  width: 100%;
}
.magicTipHolder {
  display: inline-block;
  position: relative;
  width: auto;
  z-index: 500;
}
.magicTip {
  display: none;
  position: absolute;
  z-index: 1000;
}
.magicTipPointer {
  float: left;
  position: relative;
}
.magicTipPointer span {
  background-image: url(/images/magicTipPointerSprite.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 10px;
  position: absolute;
  width: 10px;
}
.magicTipBorder {
  background-image: url(/images/magicTipBorderSprite.png);
  border-radius: 5px;
  float: left;
  padding: 2px;
  width: auto;
}
.magicTipContent {
  background-color: #daf5ff;
  border-radius: 5px;
  color: #007ecf;
  float: left;
  font-size: 12px;
  font-weight: normal;
  line-height: auto;
  padding: 5px;
  text-align: center;
  width: 300px;
}
.magicTipContent a {
  color: #007ecf;
  text-decoration: none;
}
.bd h1 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}
.bd .underline {
  font-weight: bold;
  text-decoration: underline;
}
@media screen and (min-width: 769px) {
  .form #agree {
    width: 67.5%;
  }
  .review .pod-body > footer input[type="submit"] {
    margin-bottom: 0;
  }
  .review .pod-body > footer br {
    display: block;
  }
}

/*# sourceMappingURL=source/composers.css.map */
