@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Sorts+Mill+Goudy:400,400italic|Montserrat:700|Open+Sans:400,700);
#compare {
  font-family: "Lato", sans-serif;
  margin-bottom: 40px;
  padding-top: 60px;
}
#compare > header {
  padding: 60px 0 0;
}
#compare.logged_in {
  padding-top: 0;
}
#compare.logged_in > header {
  padding-top: 30px;
}
#compare .header-copy {
  width: 60%;
}
#compare p {
  font-size: 1.25em;
  margin-bottom: 10px;
}
#compare table {
  width: 100%;
}
#compare table a {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 1.25em;
  font-style: italic;
}
#compare thead {
  font-size: 1.5em;
}
#compare thead a {
  font-size: 1em;
}
#compare thead td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
  text-align: center;
  width: 150px;
}
#compare thead .review-count {
  border-bottom: 2px solid #999;
}
#compare tbody th,
#compare tbody td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
  width: 25%;
}
#compare tbody th {
  font-size: 1.15em;
  font-weight: 400;
  text-align: right;
}
#compare tbody td {
  font-size: 1.15em;
  text-align: center;
}
#compare tbody .fa-times {
  color: #f33;
}
#compare tbody .fa-check {
  color: #24DA24;
}
#compare tfoot td {
  padding: 0.5em 1em;
  vertical-align: top;
  width: 150px;
}
#compare tfoot .help {
  font-size: 1em;
  text-align: right;
}
#compare .get_started {
  font-size: 1.5em;
}
#compare .get_started_bottom {
  font-size: 1.5em;
  text-align: center;
}

/*# sourceMappingURL=source/compare_soundout_reports.css.map */
