form fieldset {
  border-bottom: none;
  display: inline-block;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
form label {
  float: none;
  font-weight: normal;
  margin: 0;
  padding: 0;
  width: auto;
}
#errorExplanation {
  background-color: transparent;
  color: inherit;
  display: none;
  font-weight: 700;
}
.content > header {
  position: relative;
}
.content > header .page_title {
  padding: 0 0 12px;
}
.content > header .page_title h1 {
  padding: 0;
}
.content > header .page_title h1 + p {
  padding-top: 12px;
}
.content > header .page_description {
  font-size: 1.15em;
  padding: 0 27% 12px 0;
  /*      width: 73%;*/
}
.content > header .learn_more {
  position: absolute;
  right: 0;
  top: 74px;
}
.content > header .divider {
  border-bottom: 3px solid #333;
}
.content > header h1 {
  border-bottom: 0;
}
.stats {
  /*  border-bottom: 3px solid #333;*/
  overflow: hidden;
  padding: 10px 0;
}
.stats a {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
}
.stats-holder {
  border: 3px solid #333333;
  border-width: 3px 0;
  float: left;
  margin-right: 12px;
  min-height: 126px;
}
.stats-holder:last-child {
  margin-right: 0;
}
.stats-holder > span {
  background-color: #333;
  color: #fff;
  display: block;
  font-family: Georgia, serif;
  font-style: italic;
  padding: 0 10px;
  text-align: center;
}
.stats-pod {
  float: left;
  min-height: 102px;
  padding: 12px 15px;
  text-align: center;
  width: 111px;
}
.stats-number {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  padding: 6px 0;
}
.stats-type {
  font-family: Georgia, serif;
  font-style: italic;
}
.stats-total_compositions {
  padding-top: 30px;
}
.stats-total_compositions .stats-number {
  font-size: 42px;
  padding: 0;
}
.stats-dispute {
  background-color: #fdd;
  color: #d00;
}
.stats-split_missing {
  background-color: #ffd;
}
.stats-not_distributed_yet {
  background-color: #defafe;
}
/* 
 * Prevent large numbers to overflow boundaries
 * Note: only numbers up to ten thousandths place will stay within bounds
 */
.large-set .stats-number {
  font-size: 28px;
}
.sidebar {
  float: right;
}
.notify {
  background-color: #e9f0fa;
  border: 1px solid #3fa8ef;
  border-radius: 5px;
  padding: 10px 12px;
  position: relative;
  text-align: center;
}
.notify + .notify {
  margin-top: 10px;
}
.notify p {
  font-size: 1.15em;
}
.notify p + p {
  padding-top: 1em;
}
.notify .button-callout-alt,
.notify .button-interface {
  font-size: 12px;
  margin: 0;
}
.notify-dismiss {
  color: #333;
  position: absolute;
  right: 6px;
  top: 5px;
}
.notify_warn {
  background-color: #ffd;
  border-color: #c00;
  margin-top: 10px;
  padding: 15px;
  text-align: left;
}
.notify_warn p {
  font-size: 0.928em;
}
.notify_sidebar {
  padding: 22px;
  text-align: center;
}
.notify_sidebar p {
  font-size: 1em;
}
.filter {
  background-color: #f0f0f0;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin-bottom: 24px;
}
.filter > header {
  border-bottom: 1px solid #cdcdcd;
  padding: 18px 12px 12px;
}
.filter form {
  padding: 10px 0;
}
.filter form .collapsible {
  margin-bottom: 10px;
  padding: 0 10px;
}
.filter form .collapsible h4 {
  font-size: 1em;
}
.filter form .collapsible .toggle-button {
  background-color: #fff;
  border: 1px solid #cdcdcd;
  color: #333;
  display: block;
  font-family: inherit;
  font-style: normal;
  padding: 5px;
}
.filter form .collapsible .toggle-button:after {
  content: "\f067";
  display: inline-block;
  float: right;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  *margin-left: .3em;
  text-decoration: inherit;
  speak: none;
}
.filter form .collapsible .toggle_plus:after {
  content: "\f067";
}
.filter form .collapsible .toggle_minus:after {
  content: "\f068";
}
.filter form .collapsible .toggle-select {
  display: inline-block;
  font-family: Georgia, serif;
  font-style: italic;
  padding: 8px 5px;
}
.filter form .collapsible > ul {
  padding: 5px;
}
.filter form .collapsible li {
  margin-bottom: 0;
}
.filter form label {
  padding-right: 12px;
}
.filter .button-callout-alt,
.filter .button-interface {
  margin-top: 0;
  margin-right: 12px;
  padding: 5px 10px;
}
.filter-buttons {
  border-top: 1px solid #cdcdcd;
  display: block;
  padding: 12px 10px 0;
}
.search_form label {
  font-family: Georgia, serif;
  font-style: italic;
  padding-right: 8px;
}
.compositions {
  margin-bottom: 60px;
}
.compositions > header,
.compositions > footer {
  overflow: hidden;
  text-align: right;
}
.compositions > header .button-callout-alt,
.compositions > footer .button-callout-alt,
.compositions > header .button-interface,
.compositions > footer .button-interface {
  float: right;
  margin: 10px 5px;
}
.compositions > header .go_back,
.compositions > footer .go_back {
  float: left;
}
.compositions > header .submit_splits,
.compositions > footer .submit_splits {
  float: right;
}
.bulk_select_splits {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-width: 0 1px;
  overflow: hidden;
  padding: 6px;
}
.bulk_select_splits.bulk_select_splits_top {
  border-width: 1px 1px 0;
}
.bulk_select_splits.bulk_select_splits_bottom {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  border-width: 0 1px 1px;
  margin-bottom: 10px;
}
.bulk_select_splits .button-interface {
  margin: 0 0 0 10px;
}
.bulk_select_splits .selection {
  float: left;
}
.bulk_select_splits .controls {
  float: right;
}
.compositions-table > header {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  border-width: 1px 1px 0;
  padding: 18px 6px 6px;
  text-align: right;
}
.compositions-table > header .button-callout-alt,
.compositions-table > header .button-interface {
  margin-top: 0;
}
.compositions-table .table-nav {
  padding: 5px 0;
  text-align: right;
}
.compositions-table .table-nav a {
  color: #333;
  font-family: inherit;
  font-style: normal;
}
.compositions-table .bulk_select_splits + .table-nav {
  padding: 0;
}
.compositions-table .table-nav-controls {
  display: inline-block;
}
.compositions-table .table-nav-controls .next_page span,
.compositions-table .table-nav-controls .prev_page span {
  display: none;
}
.compositions-table .table-nav-controls .prev_page {
  padding-left: 10px;
}
.compositions-table .table-nav-controls .disabled {
  color: #999;
}
.compositions-table .total_results {
  float: left;
}
.compositions-table .pagination {
  padding-left: 10px;
}
.compositions-table .button-interface {
  padding: 2px 8px;
}
.compositions-table .button-callout-alt {
  background-color: #44b1fa;
  border-color: #339de5;
  margin-top: 0;
  padding: 2px 8px;
}
.compositions-table .button-callout-alt:active {
  background-color: #39a1e7;
}
.compositions-table table {
  border: 1px solid #ccc;
  border-collapse: separate;
  /*.border-radiuses(0, 5px, 5px, 0);*/
  width: 100%;
}
.compositions-table th,
.compositions-table td {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.compositions-table th:first-child,
.compositions-table td:first-child {
  border-left: 0;
}
.compositions-table th {
  background-color: #f2f2f2;
  color: #555;
  border-top: 0;
  font-weight: 700;
  text-align: left;
  /*&:first-child {
      .border-radiuses(0,0,0,5px);
    }
    &:last-child {
      .border-radiuses(5px,0,0,0);
    }*/
}
.compositions-table th .sort {
  color: #555;
  display: block;
  font-family: inherit;
  font-style: normal;
  padding: 10px;
}
.compositions-table th .sort:after {
  color: #999;
  content: "\f0dc";
  display: inline-block;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  margin-left: .3em;
  text-decoration: inherit;
  speak: none;
}
.compositions-table th .sort.asc:after {
  color: #555;
  content: "\f0de";
}
.compositions-table th .sort.desc:after {
  color: #555;
  content: "\f0dd";
}
.compositions-table th span {
  display: block;
  padding: 10px;
}
.compositions-table th .selection {
  font-weight: normal;
  padding: 10px;
}
.compositions-table th .selection a {
  display: block;
}
.compositions-table td {
  color: #333;
  padding: 10px;
}
.compositions-table tbody {
  /*> tr:last-child {
      > td {
        &:first-child {
          .border-radiuses(0,0,5px,0);
        }
        &:last-child {
          .border-radiuses(0,5px,0,0);
        }
        &:only-child {
          .border-radiuses(0,5px,5px,0);
        }
      }
    }*/
}
.compositions-table tbody > tr:nth-child(even) > td {
  background-color: #f5f5f5;
}
.compositions-table tbody > tr {
  background-color: #fff;
}
.compositions-table tbody > tr.status-dispute > td {
  background-color: #fdd;
  color: #d00;
}
.compositions-table tbody > tr.status-splits_missing > td {
  background-color: #ffd;
}
.compositions-table tbody > tr.status-not_distributed_yet > td {
  background-color: #defafe;
}
.compositions-table tbody > tr:hover > td {
  background-color: #e9f0fa;
}
.compositions-table .compositions-col_split {
  width: 135px;
}
.compositions-table .compositions-col_status {
  width: 185px;
}
.compositions-table .compositions-col_select {
  width: 85px;
}
.compositions-table .status-td span:before {
  background: transparent no-repeat 0 0;
  content: "";
  display: inline-block;
  height: 16px;
  padding-right: 3px;
  vertical-align: top;
  width: 16px;
}
.compositions-table .status-td .accepted:before {
  background-image: url("/images/compositions/accepted.png");
}
.compositions-table .status-td .pending_distribution:before {
  background-image: url("/images/compositions/awaiting_payment.png");
}
.compositions-table .status-td .pending:before {
  background-image: url("/images/compositions/awaiting_payment.png");
}
.compositions-table .status-td .dispute:before {
  background-image: url("/images/compositions/dispute.png");
}
.compositions-table .status-td .missing:before {
  background-image: url("/images/compositions/missing.png");
}
.compositions-table .status-td .not_controlled:before {
  background-image: url("/images/compositions/notcontrolled.png");
}
.compositions-table .status-td .processing:before {
  background-image: url("/images/compositions/processing.png");
}
.compositions-table .status-td .sent:before {
  background-image: url("/images/compositions/sent.png");
}
.compositions-table .submit_split {
  float: right;
}
.compositions-table .contact_us {
  float: right;
}
.compositions-table .iswc {
  color: #777;
  display: block;
  font-size: .83em;
  font-style: italic;
}
/* qTip */
.qtip {
  font-size: 14px;
  line-height: 1.5;
}
/* Splits Submission */
.other_percentage .custom_split_label {
  display: none;
}
/* Confirm Splits Submission */
.confirm_warning > h2 {
  background-color: #b00;
  color: #fff;
  font-size: 1.15em;
  line-height: 2;
  margin: 1em 0;
  text-align: center;
}
.confirm_warning > p {
  font-size: 1.0833em;
  padding-bottom: 2em;
}
/* Contact Us */
.contact_us fieldset {
  display: block;
  margin: 1em 0;
}
.contact_us label {
  float: left;
  font-family: Georgia, serif;
  font-size: 1.0833em;
  font-style: italic;
  text-align: left;
  min-width: 25%;
}
.contact_us .buttons {
  margin-left: 25%;
}
.contact_us .buttons .button-interface {
  margin-left: 10px;
}
.disputes_list {
  background-color: #f0f0f0;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin-bottom: 24px;
}
.disputes_list > header {
  border-bottom: 1px solid #cdcdcd;
  padding: 18px 12px 12px;
}
.disputes_list ul {
  padding: 10px 0;
}
.disputes_list li {
  font-size: 1.0833em;
  padding: 1em 10px;
}

/*# sourceMappingURL=source/composition.css.map */
