.cookie-warning {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: .625rem;
  position: fixed;
  left: 0;
  top: 77px;
  width: 100%;
  z-index: 9999;
}
.cookie-warning.hide {
  display: none;
}
.cookie-warning p {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}
.eat-cookie {
  background-color: #0083e0;
  border: 3px solid #0083e0;
  border-radius: .3125rem;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: .875rem;
  margin: 0;
  padding: .5rem;
  text-align: center;
  white-space: nowrap;
}
.eat-cookie:hover {
  background-color: #fff;
  color: #0083e0;
}
@media screen and (min-width: 961px) {
  .cookie-warning {
    bottom: 0;
    top: auto;
  }
}

/*# sourceMappingURL=source/cookie_warning.css.map */
