.breadcrumbs {
  margin-bottom: 12px;
}
.nav {
  padding: 10px 0;
}
.nav li {
  display: inline-block;
  font-size: 18px;
}
.pagination {
  padding: 10px 0;
}
.pagination a,
.pagination em.current {
  font-family: Georgia, serif;
  font-size: 16px;
  display: inline-block;
  border: 1px #ddd solid;
  padding: 0 10px;
}
.pagination em.current {
  background-color: #e9f0fa;
}
.header-row {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  box-shadow: none;
  padding: 5px;
}
.header-column {
  border-right: 1px solid #ccc;
  text-align: center;
}
.data-row {
  padding: 5px;
}
.data-row:nth-child(even) {
  background-color: #e9f0fa;
}
.data-column {
  border-right: 1px solid #ccc;
  text-align: center;
}
.data-column input[type="number"] {
  width: 50px;
}
.data-column input[type="text"] {
  width: 100px;
}
.data-column input#knowledgebase_link_article_slug {
  width: 200px;
}
.data-column input[type="submit"] {
  margin-top: 0;
}
.action-column {
  text-align: center;
}
.action-column input[type="submit"] {
  margin-top: 0;
}
.action-column a {
  margin-left: 10px;
}
.btn.disabled {
  background-color: #999;
  border: 1px solid #777;
}
.btn.disabled:hover {
  border: 1px solid #777;
  background-color: #999;
}

/*# sourceMappingURL=source/country_help_links.css.map */
