@media screen and (min-width: 768px) {
    .simplemodal-container {
        height: 570px;
        width: 730px;
    }
}
@media screen and (max-width: 767px) {
    .simplemodal-container {
        width: 95%;
    }
}
.simplemodal-wrap {
    overflow: hidden !important;
}
.dashboard-card-expiring-modal {
    overflow: hidden !important;
    padding: 55px 65px;
    height: 570px;
    display: none;
}
.dashboard-card-expiring-modal h1 {
    font-size: 20px;
}
.dashboard-card-expiring-modal .main {
    height: 100%;
    padding: 20px 0;
    position: relative;
}
.dashboard-card-expiring-modal .main .welcome-text {
    padding: 30px 0;
}
.dashboard-card-expiring-modal .main .welcome-text p {
    margin-top: 25px;
    font-size: 14pt;
}
.dashboard-card-expiring-modal .main p {
    font-size: 14px;
    margin-bottom: 20px;
}
.main .dashboard-card-expiring-modal-body-text {
    padding: 45px 0 0;
}
.main .dashboard-card-expiring-modal-body-text p {
    margin-top: 25px;
    font-size: 14pt;
}
.dashboard-card-expiring-modal .slide {
    position: relative;
}
.dashboard-card-expiring-modal .modal-cta {
    width: 250px;
    font-size: 16px;
    text-transform: none;
    font-weight: normal;
    background-color: #3b96cf;
    color: #fff;
    margin-bottom: 10px;
}
.dashboard-card-expiring-modal .next-slide {
    margin-top: 50px;
}
.dashboard-card-expiring-modal .previous-slide {
    font-size: 14px;
    text-decoration: none;
}
.dashboard-card-expiring-modal-close-text {
    font-size: 11pt;
}