body {
  background: transparent url('/images/interstitial/credit_salelanding_pattern.jpg') repeat 0 0;
}
.wrapper {
  background: #290a59;
  background: rgba(41, 10, 89, 0.4);
  background: linear-gradient(to bottom, rgba(255, 124, 0, 0.4) 0%, rgba(41, 10, 89, 0.4) 100%);
  height: 100%;
  overflow: auto;
  position: fixed;
  width: 100%;
}
.wrapper-inner {
  background: transparent url('/images/interstitial/credit_salelanding_bg.png') no-repeat right top;
  min-height: 100%;
}
#header {
  background-color: transparent;
  margin-bottom: 0;
  padding-top: 10px;
}
#header .logo {
  height: 42px;
  width: 150px;
}
.interstitial {
  color: #333;
  padding: 60px 0;
  text-align: left;
}
.interstitial h1 {
  color: #333;
  font-size: 43px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1;
}
.interstitial h1 span {
  color: #000;
  font-size: 172px;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1;
  text-transform: uppercase;
}
.interstitial p {
  font-size: 2.4em;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 24px 0;
  text-align: left;
}
.interstitial .btn {
  font-size: 1.8em;
}
.interstitial .btn + .btn {
  margin: 0 0 0 10px;
}
.interstitial small {
  display: block;
  font-size: 14px;
  padding-top: 24px;
}

/*# sourceMappingURL=source/credit_sale.css.map */
