.content {
  background-color: #e4e4e4;
}
.intro {
  float: left;
  padding-top: 60px;
  max-width: 480px;
}
.intro header > h1 {
  font-size: 2.5em;
  font-weight: 200;
  line-height: 1;
  padding-bottom: 24px;
  text-transform: uppercase;
}
.intro header > h2 {
  font-size: 1.5em;
  line-height: 1.22;
  padding-bottom: 12px;
}
.intro p {
  font-size: 1.0833em;
  line-height: 1.25;
  padding-bottom: 12px;
  text-align: justify;
}
.intro .call_to_action .button-callout {
  font-size: 1.15em;
  margin-top: 12px;
  padding: 9px 34px;
}
.chart {
  float: right;
  padding: 60px 0 60px 24px;
}
.chart .diagonals {
  display: none;
}
.chart table {
  width: 100%;
}
.chart table .col-credits {
  width: 96px;
}
.chart table .col-albums,
.chart table .col-singles,
.chart table .col-ringtones {
  width: 184px;
}
.chart table > thead th {
  border: 1px solid #898989;
  border-width: 1px 1px 0;
  color: #5f5f5f;
  font-size: 1.15em;
  font-weight: 200;
  padding: 12px 6px 12px;
  text-align: left;
  text-transform: uppercase;
}
.chart table > thead th:first-child {
  border: 0;
}
.chart table > thead .empty-cell {
  display: none;
}
.chart table > tbody th {
  background-color: #efefef;
  color: #777;
  font-family: Georgia, serif;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  padding: 6px;
  text-align: left;
}
.chart table > tbody td {
  background-color: #efefef;
  border: 1px solid #898989;
  border-width: 0 1px 0;
  color: #333;
  font-size: 1em;
  font-weight: 700;
  padding: 6px;
}
.chart table > tbody .empty-cell {
  display: none;
}
.chart table > tbody .spacing-row:last-child > td {
  border-bottom-width: 1px;
}
.chart table > tbody .spacing-row:last-child > .empty-cell {
  border: 0;
}
.chart table > tbody .spacing-row > th,
.chart table > tbody .spacing-row > td {
  background-color: transparent;
  height: 24px;
}
.chart table > tbody .price_cell {
  position: relative;
}
.chart table > tbody .saving {
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.chart table > tbody .saving.save_1 {
  background: #3b96cf;
}
.chart table > tbody .saving.save_2 {
  background: #3486b9;
}
.chart table > tbody .saving.save_3 {
  background: #2d74a0;
}
@media screen and (min-width: 480px) {
  .chart table .col-empty {
    width: 24px;
  }
  .chart table > thead th {
    padding: 24px 12px 24px;
  }
  .chart table > thead .empty-cell {
    border: 0;
    display: table-cell;
  }
  .chart table > tbody th {
    padding: 12px;
  }
  .chart table > tbody td {
    padding: 12px;
  }
  .chart table > tbody .empty-cell {
    display: table-cell;
  }
}
@media screen and (min-width: 640px) {
  .chart table > thead th {
    font-size: 2em;
    line-height: 1;
    padding-bottom: 84px;
  }
  .chart table > tbody th {
    font-size: 1.15em;
    text-align: right;
  }
  .chart table > tbody td {
    font-size: 1.5em;
    line-height: 1;
  }
  .chart table > tbody .prices {
    display: inline-block;
    text-align: right;
    width: 65px;
  }
  .chart table > tbody .saving {
    background: #333;
    border-radius: 50%;
    height: 40px;
    padding: 9px 8px;
    position: absolute;
    right: 10px;
    top: -13px;
    width: 40px;
    white-space: normal;
  }
}
@media screen and (min-width: 768px) {
  .chart table > tbody .saving {
    font-size: 12px;
    height: 45px;
    padding: 11px 8px;
    right: 30px;
    width: 45px;
  }
}
@media screen and (min-width: 961px) {
  .inner_container {
    padding-top: 112px;
    padding-bottom: 60px;
  }
  .intro {
    margin-top: 72px;
    padding-top: 24px;
    width: 33%;
    max-width: 240px;
  }
  .intro .call_to_action {
    text-align: center;
  }
  .chart {
    float: left;
    padding: 0 0 0 24px;
    width: 73%;
  }
}
@media screen and (min-width: 975px) {
  .chart {
    width: 74%;
  }
  .chart .diagonals {
    display: block;
  }
  .chart .diagonals img {
    display: block;
    float: left;
  }
  .chart .diagonals .diag1 {
    padding-left: 14px;
  }
  .chart .diagonals .diag2 {
    padding-left: 99px;
  }
  .chart .diagonals .diag3 {
    margin-left: -50px;
  }
  .chart .diagonals .diag4 {
    padding-left: 99px;
  }
  .chart .diagonals .diag5 {
    margin-left: -49px;
  }
  .chart .diagonals .diag6 {
    padding-left: 107px;
  }
}

/*# sourceMappingURL=source/credits.css.map */
