.currency-input-container {
  width: 470px;
}
.currency-input input {
  border: 1px solid #9FBBCD;
}
.currency-input-main {
  text-align: right;
  width: 60px !important;
}
.currency-input-fractional {
  width: 30px !important;
}
.currency-input-unit {
  float: none;
}
.currency-input-separator {
  float: none;
}

/*# sourceMappingURL=source/currency_input.css.map */
