.custom-flash-base {
  margin: auto;
  max-width: 80%;
  width: 900px;
  border-radius: 5px;
  padding: 20px;
}
.custom-flash-base.tcs-return-msg {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  box-shadow: 0px 1px 1px 1px #646464;
}
.custom-flash-base.tcs-return-msg .title {
  font-size: 16px;
}
.custom-flash-base.tcs-return-msg .message {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}
.custom-flash-base.extra-margin-bottom {
  margin-bottom: 30px;
}
