.content > header h1 {
  border-bottom: 0;
  padding: 0;
}
.pod > header {
  margin-top: 2em;
}
.pod-body h3 {
  margin-top: 20px;
}
.pod-body ol {
  font-size: 1.15em;
  margin-bottom: 20px;
  padding-left: 2em;
}
.pod-body table {
  margin: 10px 0;
}
.pod-body table,
.pod-body td,
.pod-body th {
  border: 1px solid #ccc;
}
.pod-body thead th {
  background-color: #e0e0e0;
  padding: 12px 10px 6px;
}
.pod-body tbody td {
  padding: 6px 10px;
}
.pod-body .submit-btn,
.pod-body .cancel-btn {
  font-size: 1.15em;
}
.pod-body .cancel-btn {
  margin-left: 20px;
}

/*# sourceMappingURL=source/cyrillic_release.css.map */
