
.payoneer_onboard {
  position: relative;
  box-sizing: border-box;
  background-color: #7ab966 !important;
  color: white;
  padding: 30px 30px 30px 30px;
}

.payoneer_onboard h1 {
  padding: 20px 0;
  font-size: 1.5rem;
  line-height: 1em;
}

.payoneer_onboard a {
  display: inline-block;
  background-color: white;
  color: #7ab966;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 1.05rem;
  margin: 20px 0;
}

@media screen and (max-width: 568px) {
  .payoneer_onboard {
    padding: 30px;
    width: calc(100vw - 20px);
  }
  .payoneer_onboard img {
    display: none;
  }
  .payoneer_onboard a {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
}