.yt_ribbon {
  background: transparent url("/images/youtube/yt_ribbon_end2.png") no-repeat 0 0;
  box-shadow: 2px 6px 3px -4px rgba(0, 0, 0, 0.5);
  color: #fff;
  float: right;
  height: 48px;
  margin-bottom: 12px;
  padding-left: 41px;
  position: relative;
}
.yt_ribbon span {
  background: #cd332d;
  background: linear-gradient(#cd332d, #aa2222);
  display: block;
  font-size: 1.384em;
  line-height: 1.5;
  padding: 9px 56px 9px 20px;
}
.yt_ribbon em {
  font-family: Georgia, serif;
  padding-right: 5px;
}
.yt_ribbon .yt-caps {
  font-style: normal;
  text-transform: uppercase;
}
.yt_ribbon img {
  padding: 0 10px;
  vertical-align: bottom;
}
.yt_ribbon a {
  color: #fff;
  font-size: 0.778em;
  text-decoration: underline;
  vertical-align: text-top;
}
.row .yt_ribbon span {
  font-size: 1.8em;
}
@media screen and (max-width: 960px) {
  .yt_ribbon {
    float: none;
    height: auto;
    margin: 0;
    position: relative;
    right: auto;
    top: auto;
  }
  .yt_ribbon .yt_runoff {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .yt_ribbon {
    background: none;
    padding: 0;
  }
}
