.destroy-composer-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #FFF;
  border-radius: 3px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.destroy-composer-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.destroy-composer-modal .confirmation-buttons .button {
  width: 50%;
}

.destroy-composer-modal .confirmation-buttons .confirm-button {
  background-color: red;
}

.destroy-composer-modal .confirmation-buttons .reject-button {
  background-color: grey;
}

.closing-x-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closing-x-button:hover,
.closing-x-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
