.direct-advance-no-reports {
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}
.direct-advance-search li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
.direct-advance-search li label {
  width: auto;
  text-align: left !important;
}
.direct-advance-person .user-details,
.direct-advance-person .eligibility-box {
  vertical-align: top;
  display: inline-block;
  margin-top: 20px;
}
.direct-advance-person .user-details {
  width: 85%;
}
.direct-advance-person .user-details .suspicious {
  color: #BE740E;
  font-weight: 700;
}
.direct-advance-person .user-details p {
  font-size: 15px;
  text-align: left;
  margin-bottom: 0;
  display: block;
}
.direct-advance-person .user-details .person-name {
  font-size: 20px;
  margin-bottom: 10px;
}
.direct-advance-person .eligibility-box {
  height: 160px;
  width: 120px;
  background-color: #EFF5F7;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}
.direct-advance-person .eligibility-box .eligible-label {
  font-size: 15px;
  height: 40px;
  line-height: 20px;
}
.direct-advance-person .eligibility-box .eligible-label p {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
}
.direct-advance-person .eligibility-box .eligible,
.direct-advance-person .eligibility-box .ineligible {
  height: 120px;
  width: 120px;
  line-height: 120px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.direct-advance-person .eligibility-box .eligible p,
.direct-advance-person .eligibility-box .ineligible p {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.direct-advance-person .eligibility-box .eligible {
  background-color: green;
}
.direct-advance-person .eligibility-box .ineligible {
  background-color: red;
}
.direct-advance-person .eligibility-box .eligibility-button {
  width: 120px;
  margin-top: 3px;
    /*all styling below (except margin-top) comes from the default styling for 'button_to' (or input[type=submit])*/
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}
.direct-advance-reports h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0 20px;
}

/*# sourceMappingURL=source/direct_advance.css.map */
