#discography {
  padding-top: 20px;
}
#discography header {
  margin-bottom: 30px;
}
#discography header h1 {
  font-size: 30px;
  color: #333333;
}
#discography header .btn {
  font-size: 1.2em;
  margin-left: 5px;
  margin-top: 5px;
}
#discography .filters {
  border-radius: 3px;
  background-color: #F0F0F0;
  border: 1px solid #CCCCCC;
  margin-bottom: 30px;
}
#discography .filters header {
  border-bottom: 1px solid #CCCCCC;
  padding: 10px;
  margin-bottom: 0;
}
#discography .filters header h2 {
  color: #333333;
}
#discography .filters footer {
  border-top: 1px solid #CCCCCC;
  padding: 10px;
}
#discography .filters .pad {
  padding: 10px;
}
#discography .filters label,
#discography .filters input,
#discography .filters select {
  float: none;
  font-size: 1.2em;
}
#discography .filters label {
  font-family: Georgia;
  font-weight: normal;
  font-style: italic;
}
#discography .filters input,
#discography .filters select {
  margin-right: 20px;
}
#discography .filters select {
  width: auto;
  min-width: 20px;
}
#discography .filters input {
  min-width: 190px;
}
#discography .controls {
  font-size: 1.1em;
  margin-bottom: 30px;
}
#discography .controls .btn {
  margin-right: 5px;
}
#discography .controls .btn.active {
  background-color: #DCDCDC;
  box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.3) inset;
}
#discography .tiny {
  font-size: 1.2em;
}
.radius {
  border-radius: 3px;
}
.pagination-arrows {
  padding-left: 10px;
  font-size: 1.6em;
  color: #999999;
}
.pagination-arrows a {
  color: #333333;
}
.onehunded {
  width: 100%;
}
.standard-text {
  font-size: 1.2em;
  line-height: 1.7em;
}
.rejected-text {
  background: #fffde5;
  border: 2px solid #ff0000;
  border-radius: 5px;
  color: #585856;
  padding: 10px;
  text-align: center;
}
* + .rejected-text,
.rejected-text + * {
  margin-top: 15px;
}
.discography-release {
  position: relative;
  border: 1px solid #DCDCDC;
}
.discography-release .btn {
  font-size: 1.2em;
}
.discography-release.need-to-renew {
  background-color: #e9f0fa;
}
.release-art img {
  display: block;
  max-width: 100%;
  width: 100%;
}
.release-info {
  line-height: 1.8em;
}
.release-info h2 {
  font-size: 1.4em;
}
.release-info h3 {
  font-size: 1.2em;
}
.release-info h2,
.release-info h3 {
  color: #333333;
}
.release-info dl {
  padding: 15px 0;
  font-size: 1.2em;
}
.release-info dt {
  clear: left;
  color: #444444;
  float: left;
  font-weight: normal;
  width: 45%;
}
.release-info dd {
  color: #666666;
}
.release-actions .btn {
  margin-bottom: 5px;
}
.release-checklist {
  float: left;
  width: 100%;
  padding-bottom: 15px;
}
.release-checklist strong {
  font-size: 1.2em;
}
.release-checklist > div {
  float: left;
  width: 21.25%;
  padding: 10px 0;
  margin-right: 5%;
  text-align: center;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
}
.release-checklist > div:last-child {
  margin-right: 0;
}
.release-checklist .fa-check-circle {
  color: #5DC0FF;
}
.release-checklist .fa-times-circle {
  color: #FF3300;
}
.block-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.block-grid.three-up > li {
  width: 100%;
}
@media (min-width: 480px) {
  .block-grid.three-up > li {
    width: 50%;
  }
}
@media (min-width: 906px) {
  .block-grid.three-up > li {
    width: 33.33%;
  }
}
.grid .st-p {
  padding-bottom: 15px;
}
.grid .discography-release {
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 10px;
}
.grid .release-status {
  color: #FFFFFF;
  display: block;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 10px 0;
  font-size: 1.4em;
}
.grid .release-status.incomplete {
  background-color: #ccc;
}
.grid .release-status.ready,
.grid .release-status.sent {
  background-color: #64c2fc;
}
.grid .release-status.rejected {
  background-color: #d32222;
}
.grid .release-status.live {
  background-color: #35ba26;
}
.grid .release-status.down {
  background-color: #858585;
}
.grid .release-body {
  padding: 15px;
  min-height: 275px;
}
.list {
  padding-bottom: 30px;
}
.list .btn {
  padding: .5em .75em;
}
.list .st-p {
  padding-top: 15px;
}
.list .discography-release {
  padding: 15px;
  margin-top: -1px;
}
.list .release-status {
  height: 100px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
}
.list .release-status.incomplete .release-status-inner {
  background-color: #ccc;
}
.list .release-status.rejected .release-status-inner {
  background-color: #d32222;
}
.list .release-status.ready .release-status-inner,
.list .release-status.sent .release-status-inner {
  background-color: #64c2fc;
}
.list .release-status.live .release-status-inner {
  background-color: #35ba26;
}
.list .release-status.down .release-status-inner {
  background-color: #858585;
}
.list .release-status-inner {
  background-color: #cccccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 600;
  left: -83px;
  padding: 50px 0 7px;
  position: relative;
  text-align: center;
  top: -20px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 200px;
}
.list .release-art,
.list .release-body,
.list .release-info {
  float: left;
}
.list .release-art {
  width: 15%;
}
.list .release-body {
  width: 85%;
  padding-left: 15px;
}
.list .release-body dl {
  width: 75%;
}
.list .release-info {
  width: 60%;
}
.list .release-actions {
  float: right;
  width: 40%;
}
.list .release-actions .onehunded {
  width: auto;
}
.list .release-actions .btn {
  margin-right: 5px;
}
.list .release-actions .release-checklist-holder {
  width: 70%;
}
.list .release-actions .release-checklist-holder .completenow {
  width: 100%;
}
.table-release {
  width: 100%;
  border: 1px solid #CCCCCC;
  font-size: 1.2em;
  margin-bottom: 30px;
}
.table-release th,
.table-release td {
  border: 1px solid #CCCCCC;
  padding: 5px;
}
.table-release th.incomplete,
.table-release td.incomplete,
.table-release th.ready,
.table-release td.ready,
.table-release th.sent,
.table-release td.sent,
.table-release th.rejected,
.table-release td.rejected,
.table-release th.live,
.table-release td.live,
.table-release th.down,
.table-release td.down {
  color: #ffffff;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}
.table-release th.incomplete,
.table-release td.incomplete {
  background-color: #f0c238;
}
.table-release th.ready,
.table-release td.ready,
.table-release th.sent,
.table-release td.sent {
  background-color: #64c2fc;
}
.table-release th.rejected,
.table-release td.rejected {
  background-color: #d32222;
}
.table-release th.live,
.table-release td.live {
  background-color: #35ba26;
}
.table-release th.down,
.table-release td.down {
  background-color: #858585;
}
.table-release th {
  padding: 10px;
  height: 50px;
}
.table-release td {
  height: 50px;
}
.table-release .btn {
  padding: .5em .75em;
  margin-bottom: 5px;
}
form li {
  margin-bottom: 0;
  clear: none;
}
