.distributor_errors-header {
  height: auto;
}
.distributor_errors-header h2 {
  border-bottom: 3px solid #333;
  color: black;
  line-height: 1;
  padding: 0 0 12px;
}
.distributor_errors-nav li {
  display: inline-block;
  font-size: 1.2em;
  padding-right: 1.0em;
}
.distributor_errors-nav li input[type="radio"] {
  padding-left: 0.1em;
}

.distributor_errors-nav select {
  width: 140px;
}

#state-select {
  display: inline-block;
  margin-left: 100px;
  margin-top: 5px;
}
.ui-datepicker-trigger {
  display: none;
}

.date-picket {
  padding-right: 0px;
}
.date-field {
  width: 32% !important;
}
.start-date {
  margin-left: 20px;
  margin-right: -56px;
}
.retry-form {
  display: inline-block;
}
.distributor_errors-button {
  background-color: #44b1fa !important;
  border: 1px solid #339de5 !important;
  border-color: #339de5;
  float: right;
}
.distributor_errors-retry-all-btn {
  background-color: #44b1fa !important;
  border: 1px solid #339de5 !important;
  border-color: #339de5;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1;
  padding: 0.65em 1.5em;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  margin-top: 0;
  margin-left: 10px;
}
.distributor_errors-retry-all-btn:hover {
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
}
.distributor_errors-summary-list {
  -webkit-columns: 100px 3;
  -moz-columns: 100px 3;
  columns: 100px 3;
  font-size: 1.3em;
  font-weight: 400;
  margin-top: 30px;
}
.distributor_errors-summary-list li {
  line-height: 17px;
  letter-spacing: .2px;
  page-break-inside: avoid;
}
.distributor_errors-summary-list li:hover {
  color: #44b1fa;
  cursor: pointer;
}
.distributor_errors-summary-list span {
  font-style: italic;
}
.distributor_errors-summary-total {
  text-align: center;
  font-size: 1.5em;
}
.table-errors {
  font-size: 0.72em;
}
.distributor_errors-retry-all {
  text-align: center;
  margin-bottom: -5px;
}
.scroll-to-top-container {
  text-align: right;
  color: gray;
  margin: -16px 0px 18px;
}
.scroll-to-top-container a {
  color: inherit;
  text-decoration: none;
}
.scroll-to-top-container a:hover {
  color: black;
}
.distributor_errors-table h2 {
  padding-bottom: 2px;
  font-weight: 400;
  color: black;
}
.distributor_errors-table .select-all {
  margin-right: 10px;
}
.distributor_errors-table .retry-all-label {
  font-size: .8em;
  font-weight: 400;
}
.distributor_errors-table tbody a:link {
  text-decoration: none;
}
.distributor_errors-table tbody tr td {
  font-weight: 400;
  font-size: 1.1em;
  text-align: left;
}
.distributor_errors-table ul {
  list-style: disc;
  margin: 0px 16px 16px;
}
.album-id-col {
  width: 9%;
}
.delivery-type-col {
  width: 16%;
}
.message-col {
  width: 71%;
}
.store-col {
  width: 13%;
}

/*# sourceMappingURL=source/distributor_errors.css.map */
