.product {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
  overflow: hidden;
}
.product:last-child {
  border: 0;
}
.product h3 {
  float: left;
  font-size: 1em;
}
.product .red {
  color: #f00;
}
.product .deal {
  background-color: #3ea8ef;
  color: #fff;
  clear: right;
  float: right;
  font-weight: 600;
  margin: 3px 0;
  padding: 2px 4px 1px;
}
.product .price {
  float: right;
  font-size: 1em;
  font-weight: 600;
  text-align: right;
}
.product .promo {
  clear: left;
  color: #f00;
  display: block;
  font-weight: bold;
}
.product .button-small {
  float: right;
  clear: right;
}
.product .button-small .button-callout {
  margin-bottom: 10px;
}
@media screen and (min-width: 481px) {
  .product h3,
  .product .price {
    font-size: 1.5em;
  }
}

.striked-out-price {
  text-decoration-thickness: 0.1em;
  color: gray;
  margin-right: 0.5em;
}
/*# sourceMappingURL=source/distribution_credits.css.map */
