@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:300,400,700|Sorts+Mill+Goudy:400");
/* Hero */
.content > header {
  background-color: transparent;
  margin-bottom: 0;
  padding-bottom: 3rem;
}
.content > header h1 {
  color: #230881;
}
.hero {
  background: url(../images/dropkloud/external/hero_bg.jpg) no-repeat 0 0;
  background-size: cover;
  border-bottom: 1px solid #dbdbdb;
}
.hero-text {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.2);
  color: #6d2f83;
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.0833;
  padding: 1.5rem;
  text-align: center;
}
.hero-text h1 {
  font-family: Montserrat, sans-serif;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1.5rem;
}
.hero-text p {
  margin-bottom: 1.5rem;
}
.hero-text .button-callout {
  margin-top: 0;
}
@media screen and (min-width: 48em) {
  .content > header {
    padding-top: 216px;
  }
  .hero-text h1,
  .hero-text p {
    margin: 0 auto 1.5rem;
    max-width: 630px;
  }
  .hero-text .button-callout {
    font-size: 1rem;
  }
}
@media screen and (min-width: 60.0625em) {
  .content > header {
    padding-top: calc(278px);
  }
}
/* Description */
.dk-description {
  border-bottom: 1px solid #dbdbdb;
  color: #333333;
  font-family: Lato, sans-serif;
  font-size: 1.3125rem;
  line-height: 1.238;
  padding: 3rem 1.5rem;
  text-align: center;
}
@media screen and (min-width: 48em) {
  .dk-description p {
    margin: 0 auto;
    max-width: 800px;
  }
}
/* Uses */
.dk-uses {
  background: #fafafa;
  border-bottom: 1px solid #dbdbdb;
  padding: 3.75rem 0 0;
}
.dk-uses-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 64rem;
}
.dk-use {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 16.25rem;
  flex: 0 1 16.25rem;
  margin: 0 auto;
  text-align: center;
}
.dk-use h3 {
  border-bottom: 2px solid #eb008d;
  color: #333333;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin-bottom: 1.5rem;
  padding-bottom: 1.125rem;
}
.dk-use p {
  color: #333333;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 3.75rem;
}
@media screen and (min-width: 48em) {
  .dk-uses-container {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
/* Features */
.dk-features {
  border-bottom: 1px solid #dbdbdb;
  padding: 3.75rem 1.5rem;
  text-align: center;
}
.dk-features > header > p,
.dk-features > footer > p {
  color: #333333;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1;
}
.dk-features > header > p {
  margin-bottom: 3rem;
}
.dk-features > footer > p {
  margin-bottom: 2.25rem;
}
.dk-features .button-callout {
  font-size: 1.5rem;
  margin-top: 0;
}
.dk-features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 64rem;
}
.dk-feature {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 11.4375rem;
  flex: 1 1 11.4375rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Lato, sans-serif;
  font-size: 1.375rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2.25rem;
}
.dk-feature p {
  padding-bottom: 1.5rem;
  max-width: 11.4375rem;
}
.dk-feature:after {
  content: "";
  display: block;
}
.ico_mic {
  background-image: url(../images/dropkloud/external/dropkloud_sprite.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 95px;
  width: 59px;
}
.ico_cd {
  background-image: url(../images/dropkloud/external/dropkloud_sprite.png);
  background-repeat: no-repeat;
  background-position: -2px -96px;
  height: 72px;
  width: 84px;
}
.ico_share {
  background-image: url(../images/dropkloud/external/dropkloud_sprite.png);
  background-repeat: no-repeat;
  background-position: -3px -168px;
  height: 73px;
  width: 79px;
}
.ico_gift {
  background-image: url(../images/dropkloud/external/dropkloud_sprite.png);
  background-repeat: no-repeat;
  background-position: 0px -243px;
  height: 68px;
  width: 66px;
}
.dk-feature-drop:after {
  background-image: url(../images/dropkloud/external/dropkloud_sprite.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 95px;
  width: 59px;
}
.dk-feature-exclusive:after {
  background-image: url(../images/dropkloud/external/dropkloud_sprite.png);
  background-repeat: no-repeat;
  background-position: -2px -96px;
  height: 72px;
  width: 84px;
}
.dk-feature-share:after {
  background-image: url(../images/dropkloud/external/dropkloud_sprite.png);
  background-repeat: no-repeat;
  background-position: -3px -168px;
  height: 73px;
  width: 79px;
}
.dk-feature-contest:after {
  background-image: url(../images/dropkloud/external/dropkloud_sprite.png);
  background-repeat: no-repeat;
  background-position: 0px -243px;
  height: 68px;
  width: 66px;
}
@media screen and (min-width: 48em) {
  .dk-features .button-callout {
    font-size: 1rem;
  }
}
/* Testimonial */
.dk-testimonial-container {
  background: url(../images/dropkloud/external/anima.png) no-repeat left bottom;
  background-size: contain;
  color: #333333;
  font-family: Lato, sans-serif;
  font-size: 1.125rem;
  line-height: 1.667;
  margin: 0 auto;
  max-width: 67rem;
  padding: 0 0 calc(248.5px);
}
.dk-testimonial-container > figure {
  background: rgba(255, 255, 255, 0.8);
  padding: 1.5rem;
}
.dk-testimonial-container q:before,
.dk-testimonial-container q:after {
  font-size: 1.5em;
  line-height: .9;
  vertical-align: middle;
}
.dk-testimonial-container figcaption {
  color: #333333;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.125rem;
  padding-top: 1.5rem;
  padding-left: 7rem;
}
@media screen and (min-width: 48em) {
  .dk-testimonial-container {
    background-position: -120px bottom;
    background-size: 75%;
    min-height: 465px;
    overflow: hidden;
    padding: 1.5rem;
  }
  .dk-testimonial-container > figure {
    float: right;
    width: 48%;
  }
}
@media screen and (min-width: 56em) {
  .dk-testimonial-container > figure {
    background-color: transparent;
    padding-top: 144px;
  }
}
@media screen and (min-width: 70.125em) {
  .dk-testimonial-container {
    background-size: 842px;
  }
  .dk-testimonial-container > figure {
    width: 32.3125rem;
  }
}
/* Pricing */
.dk-pricing {
  background: url(../images/dropkloud/external/pricing_bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #ffffff;
  padding: 3.75rem 3rem;
  text-align: center;
}
.dk-pricing .button-callout {
  font-size: 1.5rem;
  margin-top: 0;
}
.price {
  font-family: Montserrat, sans-serif;
  font-size: 5.75rem;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: .5;
  padding-bottom: .75rem;
}
.price i {
  font-style: normal;
  vertical-align: super;
}
.price-dollar_sign,
.price-cents {
  font-size: 3rem;
}
.price-per_month {
  font-family: Lato, sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1;
}
.dk-pricing-features {
  border: 2px solid #0083e0;
  border-width: 2px 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 1.5rem auto;
  padding: 1.5rem 0;
}
@media screen and (min-width: 25.875em) {
  .dk-pricing-features {
    width: 18.75rem;
  }
}
@media screen and (min-width: 48em) {
  .dk-pricing .button-callout {
    font-size: 1rem;
  }
}
/* FAQs */
.dk-faqs {
  padding: 3.75rem 1.5rem;
}
.dk-faqs-container {
  margin: 0 auto;
  max-width: 64rem;
}
.dk-faqs-container > h2 {
  color: #333333;
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}
.dk-faqs-list {
  border: 2px solid #dedede;
  border-width: 2px 0;
  color: #525252;
  font-family: Lato, sans-serif;
  font-size: 1.3125rem;
  margin-bottom: 1.125rem;
  padding-bottom: 1.125rem;
}
.dk-faqs-list > dt {
  padding: 1.125rem 0 0 2rem;
}
.dk-faqs-list > dt:before {
  color: #3a96cf;
  content: '\25b6';
  float: left;
  margin-left: -2rem;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
}
.dk-faqs-list > dt ~ dt {
  border-top: 2px solid #dedede;
}
.dk-faqs-list > dt a {
  color: #525252;
  font-family: Lato, sans-serif;
  font-style: normal;
}
.dk-faqs-list > dt.opened:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.dk-faqs-list > dt.opened + dd {
  margin-bottom: 1.125rem;
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}
.dk-faqs-list > dd {
  font-weight: 700;
  margin-top: 1.125rem;
  max-height: 0;
  overflow: hidden;
  padding-left: 2rem;
  transition: max-height 0.15s ease-out;
}
.content .dk-faqs-more {
  font-style: normal;
}
.dk-faqs-more {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-decoration: underline;
}

/*# sourceMappingURL=source/dropkloud.css.map */
