body {
  -webkit-font-smoothing: antialiased;
}
.content,
main {
  color: #333;
  font-size: 1.2em;
  line-height: 1.5;
}
.content > header,
main > header {
  background-color: #3b96cf;
  color: #fff;
  margin-bottom: 60px;
  padding-top: 192px;
  padding-bottom: 24px;
  transition: all 0.5s linear;
  width: 100%;
  z-index: 10;
}
.content > header h1,
main > header h1 {
  color: #fff;
  line-height: 1;
}
.content > header h2,
main > header h2 {
  font-weight: 300;
}
.content > footer,
main > footer {
  color: #000;
  font-size: 1.15em;
  margin-bottom: 60px;
  width: 100%;
}
.content h1,
main h1,
.content h2,
main h2,
.content h3,
main h3,
.content h4,
main h4,
.content h5,
main h5,
.content h6,
main h6 {
  font-weight: 700;
}
.content h1,
main h1 {
  font-size: 5em;
}
.content h2,
main h2 {
  font-size: 2.66em;
}
.content h3,
main h3 {
  font-size: 2em;
}
.content h4,
main h4 {
  font-size: 1.5em;
}
.content h5,
main h5 {
  font-size: 1.15em;
}
.content h6,
main h6 {
  font-size: 1em;
}
.content a,
main a {
  font-style: italic;
}
.content .button-callout,
main .button-callout {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
.content .button-callout:hover,
main .button-callout:hover,
.content .button-callout:focus,
main .button-callout:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.content .button-callout:active,
main .button-callout:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.content .button-callout-alt,
main .button-callout-alt {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
}
.content .button-callout-alt:hover,
main .button-callout-alt:hover,
.content .button-callout-alt:focus,
main .button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.content .button-callout-alt:active,
main .button-callout-alt:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.content .button-callout-alt:hover,
main .button-callout-alt:hover,
.content .button-callout-alt:focus,
main .button-callout-alt:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
.content .button-callout-alt:active,
main .button-callout-alt:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
.content .button-interface,
main .button-interface {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  color: #777;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.content .button-interface:hover,
main .button-interface:hover,
.content .button-interface:focus,
main .button-interface:focus {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #777;
}
.content .button-interface:active,
main .button-interface:active {
  background-color: #dcdcdc;
  border: 1px solid #d6d6d6;
}
.pod {
  margin-bottom: 60px;
}
.pod > header {
  border-bottom: 3px solid #333;
  line-height: 1;
  margin-bottom: 18px;
}
.pod > header h2 {
  padding: 0 0 12px;
}
.pod > header h3 {
  font-weight: normal;
  padding: 0 0 12px;
}
.pod-header {
  margin-bottom: 36px;
}
.pod-header .pod-body {
  border-bottom: 3px solid #333;
}
.pod-header .pod-body p {
  font-size: 1.15em;
  padding: 0 0 18px;
}
.pod-header .pod-body .button-callout {
  font-size: 1.15em;
  margin: 0 0 24px;
  padding: 9px 18px;
}
.pod-body {
  color: #000;
  padding: 0;
}
.pod-body p {
  font-size: 1.15em;
}
.pod-body p + p {
  padding-top: 1.5em;
}
.pod-body > ul {
  font-size: 1.15em;
}
.pod-body ul {
  list-style: disc;
  margin: 36px 0;
  padding-left: 54px;
}
.pod-body ul + .button-callout {
  margin-top: 0;
}
.pod-body li + li {
  margin-top: 24px;
}
.pod-body .button-callout {
  font-size: 1.15em;
  margin-top: 36px;
  padding: 9px 18px;
}
.pod-foot {
  text-align: center;
}
.pod-foot .button-callout {
  font-size: 1.5em;
  margin-top: 36px;
  padding: 0.75em 1.5em;
}
.pod-float-left {
  float: left;
}
.pod-float-right {
  float: right;
}
.pod-callout > header {
  border: none;
  padding-top: 24px;
  margin-bottom: 60px;
}
.pod-callout > header h2 {
  padding: 0;
}
.pod-callout .pod-body > h3 {
  font-size: 1.5em;
  padding-bottom: 18px;
}
.pod-banner {
  background-color: #e5e5e5;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15), 0 -5px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 60px;
  padding: 18px 0;
}
.pod-banner .pod-body {
  padding: 0 15px;
}
.pod-banner .pod-body > p {
  font-size: 1.5em;
}
.caption {
  display: none;
  font-family: Georgia, serif;
  font-style: italic;
  position: relative;
}
.caption .fa-play {
  font-size: 1.5em;
  position: absolute;
  right: -24px;
  top: 28px;
}
.caption-mobile {
  display: block;
}
.caption-right {
  text-align: right;
}
.popup {
  background: #fff;
  border-radius: 5px;
  color: #333;
  font-size: 1.2em;
  line-height: 1.5;
  margin: 20px auto;
  max-width: 500px;
  min-width: 0;
  padding: 24px;
  position: relative;
  width: auto;
}
.popup > header h1 {
  border-bottom: 3px solid #333;
  font-size: 2em;
  line-height: 1;
  margin-bottom: 24px;
  padding-bottom: 12px;
}
.popup h2 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 24px;
}
.popup p {
  font-size: 1.15em;
  padding-bottom: 36px;
}
.popup img {
  display: none;
}
.popup .full-list {
  list-style: disc;
  margin: 0 0 24px;
  padding-left: 24px;
}
.popup li {
  font-size: 1.15em;
}
.popup li li {
  font-size: 1em;
}
.yt_ribbon {
  background: transparent url("/images/youtube/yt_ribbon_end2.png") no-repeat 0 0;
  box-shadow: 2px 6px 3px -4px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding-left: 41px;
}
.yt_ribbon span {
  background: #cd332d;
  background: linear-gradient(#cd332d, #aa2222);
  display: block;
  font-size: 1.5em;
  line-height: 1.5;
  padding: 9px 20px;
}
.yt_ribbon em {
  font-family: Georgia, serif;
  padding-right: 5px;
}
.yt_ribbon .yt-caps {
  font-style: normal;
  text-transform: uppercase;
}
.yt_ribbon img {
  padding: 0 10px;
  vertical-align: bottom;
}
.yt_ribbon a {
  color: #fff;
  font-size: 0.778em;
  text-decoration: underline;
  vertical-align: text-top;
}
/* Mobile-First Responsive Sizes */
@media screen and (min-width: 480px) {
  .popup img {
    display: inline;
    float: right;
    padding-left: 36px;
  }
}
@media screen and (min-width: 768px) {
  .row {
    min-width: 0;
  }
  .caption {
    display: block;
  }
  .caption-mobile {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .popup {
    min-width: 800px;
  }
}
/* Desktop-First Responsive Sizes */
@media screen and (max-width: 960px) {
  .content > header,
  main > header {
    padding-top: 117px;
  }
}
@media screen and (max-width: 767px) {
  .content > header,
  main > header {
    margin-bottom: 18px;
    padding-top: 60px;
  }
  .content h1,
  main h1 {
    font-size: 2.66em;
  }
  .content h2,
  main h2 {
    font-size: 2em;
  }
  .content h3,
  main h3 {
    font-size: 1.5em;
  }
  .content h4,
  main h4 {
    font-size: 1.15em;
  }
  .content h5,
  main h5 {
    font-size: 1em;
  }
  .content h6,
  main h6 {
    font-size: 0.83em;
  }
  .pod {
    margin-bottom: 18px;
  }
  .pod-float-left,
  .pod-float-right {
    float: none;
    padding: 18px 0 0;
    position: relative;
  }
}
@media screen and (max-width: 480px) {
  .pod-foot .button-callout {
    font-size: 1.15em;
  }
}

/*# sourceMappingURL=source/external_layout.css.map */
