.album-uri-tooltip {
  color: black;
  border: 1px solid darkgray;
  background-color: white;
  margin: -15px -15pxpx 0px 15px;
  font-size: 1.25em;
  font-weight: 300;
  text-align: justify;
  height: auto;
}
.external-links-box {
  border-radius: 10px 10px 0 0;
  font-size: 1.3em;
  padding: 0;
  overflow: hidden;
  clear: both;
}
.external-links-box .hd {
  background-color: #44b1fa;
  color: #fff;
  font-weight: 700;
  font-size: 1.38em;
  padding: 10px;
}
.external-links-box .row {
  margin: 0;
}
.external-links-box .sub-hd {
  font-size: 1.23em;
  text-align: center;
}
.external-links-box p {
  padding: 10px;
}
.external-links-box p + p {
  padding: 0 10px 10px;
}
.external-links-box .external-album-links-container {
  padding: 5px;
}
.external-links-box .external-album-links-container .get-spotify-tracks-button {
  color: #fff;
  cursor: pointer;
  display: block;
  max-width: 100%;
  text-align: center;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 5px;
  padding: 1em 1.5em;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
}
.external-links-box .external-album-links-container .get-spotify-tracks-button .fa-spinner {
  padding: 0 10px;
}
.external-links-box .external-album-links-container .external-album-link {
  margin: 15px 5px;
  position: relative;
}
.external-links-box .external-album-links-container .external-album-link .album-link-title {
  font-weight: 700;
  margin: 0 5px;
  display: block;
}
.external-links-box .external-album-links-container .external-album-link .external-album-link-url {
  color: #44b1fa;
  background-color: white;
  border: 1px solid #CCCCCC;
  width: 100%;
  padding: 10px 0 10px 10px;
  margin: 10px 0 0 0;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  line-height: 1.25;
}
.external-links-box .external-album-links-container .external-album-link button.url-copy-button,
.external-links-box .external-album-links-container .external-album-link .copied {
  position: absolute;
  right: 0;
  line-height: 1.65;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  margin: -38px 0;
  padding: 0.65em 1.5em;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border: unset;
}

/*# sourceMappingURL=source/external_links.css.map */
