.failed-takedowns .title {
  font-size: 25px;
  margin-bottom: 10px;
  padding: 10px 0;
}
.failed-takedowns .grace-period {
  font-size: 15px;
}
.failed-takedowns .paginate-bar {
  text-align: center;
  padding: 20px;
  font-size: 15px;
}
.failed-takedowns #selected_album_ids {
  padding-top: 10px;
}
.failed-takedowns #selected_album_ids p {
  text-align: center;
}
.failed-takedowns .select-all-boxes {
  display: block;
  padding: 20px;
}
.failed-takedowns .select-all-boxes .this-page,
.failed-takedowns .select-all-boxes .all-pages {
  display: inline-block;
  width: 48%;
  text-align: center;
}
.failed-takedowns .select-all-boxes .this-page span,
.failed-takedowns .select-all-boxes .all-pages span {
  font-weight: bold;
  font-size: 13px;
}

/*# sourceMappingURL=source/failed_takedowns.css.map */
