/* TuneCore Master */

/* http://meyerweb.com/eric/tools/css/reset/  v1.0 | 20080212 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/*960 Grid System ~ Core CSS. Learn more ~ http://960.gs/ Licensed under GPL and MIT.*/
.container_12,.container_16, #index {margin-left:auto !important;margin-right:auto !important;width:960px}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;margin-left:10px;margin-right:10px;position:relative}.container_12 .grid_3,.container_16 .grid_4{width:220px}.container_12 .grid_6,.container_16 .grid_8{width:460px}.container_12 .grid_9,.container_16 .grid_12{width:700px}.container_12 .grid_12,.container_16 .grid_16{width:940px}.alpha{margin-left:0}.omega{margin-right:0}.container_12 .grid_1{width:60px}.container_12 .grid_2{width:140px}.container_12 .grid_4{width:300px}.container_12 .grid_5{width:380px}.container_12 .grid_7{width:540px}.container_12 .grid_8{width:620px}.container_12 .grid_10{width:780px}.container_12 .grid_11{width:860px}.container_16 .grid_1{width:40px}.container_16 .grid_2{width:100px}.container_16 .grid_3{width:160px}.container_16 .grid_5{width:280px}.container_16 .grid_6{width:340px}.container_16 .grid_7{width:400px}.container_16 .grid_9{width:520px}.container_16 .grid_10{width:580px}.container_16 .grid_11{width:640px}.container_16 .grid_13{width:760px}.container_16 .grid_14{width:820px}.container_16 .grid_15{width:880px}.container_12 .prefix_3,.container_16 .prefix_4{padding-left:240px}.container_12 .prefix_6,.container_16 .prefix_8{padding-left:480px}.container_12 .prefix_9,.container_16 .prefix_12{padding-left:720px}.container_12 .prefix_1{padding-left:80px}.container_12 .prefix_2{padding-left:160px}.container_12 .prefix_4{padding-left:320px}.container_12 .prefix_5{padding-left:400px}.container_12 .prefix_7{padding-left:560px}.container_12 .prefix_8{padding-left:640px}.container_12 .prefix_10{padding-left:800px}.container_12 .prefix_11{padding-left:880px}.container_16 .prefix_1{padding-left:60px}.container_16 .prefix_2{padding-left:120px}.container_16 .prefix_3{padding-left:180px}.container_16 .prefix_5{padding-left:300px}.container_16 .prefix_6{padding-left:360px}.container_16 .prefix_7{padding-left:420px}.container_16 .prefix_9{padding-left:540px}.container_16 .prefix_10{padding-left:600px}.container_16 .prefix_11{padding-left:660px}.container_16 .prefix_13{padding-left:780px}.container_16 .prefix_14{padding-left:840px}.container_16 .prefix_15{padding-left:900px}.container_12 .suffix_3,.container_16 .suffix_4{padding-right:240px}.container_12 .suffix_6,.container_16 .suffix_8{padding-right:480px}.container_12 .suffix_9,.container_16 .suffix_12{padding-right:720px}.container_12 .suffix_1{padding-right:80px}.container_12 .suffix_2{padding-right:160px}.container_12 .suffix_4{padding-right:320px}.container_12 .suffix_5{padding-right:400px}.container_12 .suffix_7{padding-right:560px}.container_12 .suffix_8{padding-right:640px}.container_12 .suffix_10{padding-right:800px}.container_12 .suffix_11{padding-right:880px}.container_16 .suffix_1{padding-right:60px}.container_16 .suffix_2{padding-right:120px}.container_16 .suffix_3{padding-right:180px}.container_16 .suffix_5{padding-right:300px}.container_16 .suffix_6{padding-right:360px}.container_16 .suffix_7{padding-right:420px}.container_16 .suffix_9{padding-right:540px}.container_16 .suffix_10{padding-right:600px}.container_16 .suffix_11{padding-right:660px}.container_16 .suffix_13{padding-right:780px}.container_16 .suffix_14{padding-right:840px}.container_16 .suffix_15{padding-right:900px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}

/* Base Typography */
body {font: 13px/140% Helvetica, Arial, sans-serif;}h1,h2,h3,h4,h5,h6,legend {font-family: "Helvetica Neue", Helvetica, Arial sans-serif;}a {color:#41ADD8}hr {border: 0 #ccc solid;border-top-width: 1px;clear: both;height: 0;}

/* Spacing */
p,dl,hr,ol,ul,pre,table,address,fieldset {margin-bottom: 20px;}

/* Structural elements */
article, aside, dialog, footer, header, section, footer, nav, figure {display: block;}
img {-ms-interpolation-mode: bicubic;}

/* Lists */
ol {list-style: decimal inside;}
ol li {margin-bottom:15px;}
ul {list-style: none;}
ul.disc {list-style: disc inside;}

#container > aside.grid_5 {margin-top:30px;}
#container {min-height:960px;}

/* header */
h2 {font-size:20px;color:#003855;margin:10px 0;}
h5 {font-size:16px;color:#003855;margin:10px 0;}
section.grid_11 > h4 {margin-left:0;}

.floatR {float:right;}
.floatL {float:left;}
.hide {display:none;}
.em {color:red;}
.center {margin:0 auto;display:block;}
.text-center {text-align:center;}


/* Admin bar */
#admin-controls {background-color: #58a8bf;outline:1px solid #30626F;margin-bottom:15px;}
#admin-controls nav {padding:15px;}
#index #admin-controls {position:relative;z-index:1;}
#admin-controls li {list-style-type:none;margin-left:4px;display:inline;}
#admin-controls ul {margin:0;}
#admin-controls span {float:left;}
#admin-controls strong {font-size:22px;}
#admin-controls a, #admin-controls span {color:#fff;font-size:18px;}

/* Admin section */
#admin-body {background:#f0f0f0;margin:20px 0;font-size:12px;}
#admin-container {padding:10px;background:#fff;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;border: 1px solid rgba(141,141,141,0.5);margin-right:0;margin-left:0;}
#admin-container div + h2 {margin-left:0;margin-right:0;}
#admin-container h1 {}
#admin-container > header {display:none;}

.salepointable_status_live { background: #fc0;}
.salepointable_table td { font-weight: normal;}
/* Person transaction table styles -DCD */
table td.transaction-comment {padding:6px 0 3px;}
table span.transaction-headline {display:block;}
table span.transaction-subtext {font-weight:normal;font-size:0.9em;}
table .rollback span.transaction-headline {font-style:italic; font-weight:normal;}
table .rollback td {border-top:0px;}
table .rollback-parent td {border-bottom:0px;}
table.balance-adjustments {border-bottom: 1px solid #eaeaea;}

/* admin styles ported from fall */
/* small forms - CH */
fieldset.small {padding: 5px;}
fieldset.small form li {float:none;}
fieldset.small form ul {margin-bottom: 5px;}
fieldset.small form label {display:inline;float:none;width:auto;text-align:left;padding:0;margin-right:5px;}
fieldset.small form input, form.small textarea {display:block;}
fieldset.small form input[type=checkbox] {display:inline; left: 0; position:static;}
fieldset.small form li.checkbox {position: relative; margin-bottom: 0;}
fieldset.small form li.checkbox label {padding-left: 1px;}
fieldset.small form li.checkbox label span.sub-title {display: block; font-weight: normal; padding-left: 24px;}
fieldset.small form input[type=hidden] {visibility:hidden;}
fieldset.small form input[type=submit] {display:inline;float:none;}
fieldset.small form textarea {display:block;}
fieldset.small form select {color: #000; width: auto;}
fieldset.small h2 {font-size: 1.2em;}
fieldset.small ul {padding: 5px 0 0 0;}
fieldset.no-float-label label {float: none;}

/* admin style for form labels with extra information in smaller text */
fieldset.small form label span.info {font-size:0.8em;font-weight:normal;}
span.info {font-size:0.8em;font-weight:normal;}
/* horizontal forms - CH */
fieldset.horizontal form input[type=text] {padding-top: 5px; height: 18px;}
fieldset.horizontal form select {width: auto; color: #000;}
fieldset.horizontal form input[type=submit] {clear: none; width: auto; padding-right: 45px; padding-left: 4px;}
fieldset.horizontal label {float: none;}
fieldset.horizontal form {padding: 5px;}

/* two_column forms - CH */
fieldset.two-column div.left-column {float: left; position: relative;}
fieldset.two-column div.right-column {float: right; position: relative;}
fieldset.two-column .date-box {width: 300px;}
fieldset.two-column .ui-datepicker-trigger {right: 49px; top: 26px;}
fieldset.two-column form select {clear: left; display: block;}

/* admin form elements */
#admin-body #choose-report form li {list-style:none;}
#admin-body #choose-report label {padding-top:2px;width:auto;float:left;}
#admin-body #choose-report .radio {margin-left:30px;}
#admin-body #choose-report .date-select {width:500px;}
#admin-body #choose-report .date-select label span {margin-right:15px;}
#admin-body #choose-report .date-select select {margin-right:5px;width:90px;}
#report_name_list_item {float:left;}

/* lightbox wrapper for admin - CH */
.admin-lightbox-wrapper {padding: 10px; background-color: #fff; overflow: hidden;}

/*removing individual errors from balance_adjust lightbox form - DCD */
#new_balance_adjustment .formError {display:none;}
#new_inventory_adjustment .formError {display:none;}
#balance-adjustment #errorExplanation {padding:15px 0 5px;}
#balance-adjustment #errorExplanation li {float:none;}
#balance-adjustment select {width:194px;}
fieldset#balance-adjustment li {float:left;clear:left;}
fieldset#balance-adjustment li.checkbox input {float:left;}
fieldset#balance-adjustment li.checkbox label {float:right;width:90%;margin-bottom:8px;color:red;height:100%;}
fieldset#balance-adjustment textarea {height:60px;}

/* inventory styles */
#inventories h2 {float:left;width:100%;}
#inventories td {font-weight:normal;}
#inventories .table_note {width:200px; padding-left:5px;padding-right:5px;}
#inventories .table_link {padding-left:4px;padding-right:4px; font-weight:bold;}
#inventories table {float:left;}
.jump-links {clear:both;text-align:right; width:100%;}

/* admin eft_batch_transaction styles - DCD */
.eft-batch-transaction dt {font-weight:bold;width:220px;float:left;}
.eft-batch-transaction dd {width:250px;float:left;}
.eft-edit-multiple {margin-bottom:5px;}
.eft-edit-multiple select {width:140px;margin-right:10px;}
.eft-edit-multiple input[type=submit] {background-position:0 0;padding:0;float:none; height:20px; width:150px; font-weight:normal;}
.searchlogic-search-section input[type=text] {height:15px;padding-top:5px;}
.searchlogic-search-section select {width:150px;margin-right:0px;margin-top:6px;}
.searchlogic-search-section .tiny {margin-right:34px !important;float:right;}
.searchlogic-search-section .tiny_full {margin-right:4px !important;float:right;width:136px;}
.searchlogic-search-section fieldset label {width:150px;padding-top:6px;}
.searchlogic-search-section fieldset li {float:left;clear:left;width:320px;}
.searchlogic-search-section ul {float:left;clear:none;margin-bottom:0px;}

/* dual field styles */
.searchlogic-search-section li.dual {float:left;clear:none;width:296px;}
.searchlogic-search-section li.dual .tiny {margin-right:10px !important;float:right;}
.searchlogic-search-section li.dual.second label {width:20px;margin:0 15px 0 0;}
.searchlogic-search-section li.dual.second {width:200px;}
.searchlogic-search-section li.dual.second .tiny {float:left;}
.searchlogic-search-section ul.dual-fields {padding-top:0px;float:left;}
.searchlogic-search-section .ui-datepicker-trigger {display:none;}
/*submit/cancel button section */
.searchlogic-search-section fieldset ul.submit-cancel {margin:0;margin-right:320px; width:100%;float:right;clear:right;padding-top:0px;}
.searchlogic-search-section fieldset ul.submit-cancel li {padding:0px;margin:0px;width:200px;float:right;clear:none;}
.searchlogic-search-section fieldset ul.submit-cancel li.reset {width:90px;}
.searchlogic-search-section .search-left-side{float:left; clear:none; width:350px;}
.searchlogic-search-section .search-right-side{float:left; clear:none; width:550px;}
.select-all label {width:100px;padding:0;margin:0;float:none;}
.select-all input {float:none;}

.errored, .errored a, .errored a:visited {color:#c03;}
.pending, .pending a, .pending a:visited { color:#f90;}
.success, .success a, .success a:visited {color:green;}

/* EFT Rejection form */
#eft_rejection h3 {font-weight:normal;}
fieldset#eft_withdrawal_reject {margin-bottom:0;width:400px;padding-bottom:5px;}
fieldset#eft_withdrawal_reject textarea { width:250px; height:70px;}
fieldset#eft_withdrawal_reject label .info { width:400px;}
fieldset#eft_withdrawal_reject label.error {left:280px; width:150px;padding:4px 0 4px 45px;position:relative;top:-50px;margin:0;}

ul.horizontal_link_list li {float:left;clear:none;margin-right:10px;}
ul#eft_links {margin-bottom:5px;float:right;}

/* admin album notes - DCD */
.album-note {padding:5px 0; margin:3px 0; border-top:1px solid #ccc;}

/* check boxes on cc form - DCD */
li.cc-purchase-checkbox{width:330px;padding-bottom:5px;margin-top:0px;margin-bottom:0px;padding-top:0px;}
li.cc-purchase-checkbox.add-form{padding:12px 0 18px;}
li.add-form-submit {margin-right:30px;margin-bottom:20px;}
li.cc-submit-fields{padding-top:14px;}
li.cc-short-code{margin-bottom:0px;}

/* payment preferences page - DCD */
#errorExplanation span span.multiple-line-flash {float:left;width:750px;}
#payment-preferences > header {margin-bottom:50px;}
#payment-preferences h6 {clear:left;font-size:1.3em;padding:7px 0 20px 2px; font-weight:normal;}
#payment-preferences > #errorExplanation {padding-top:30px;margin-top:40px;}
#payment-preferences fieldset {clear:left;}
#payment-preferences fieldset li {float:none;}
#payment-preferences p {margin:0 67px 15px;padding:0;width:490px;}
#payment-preferences a.floatR {margin-right:40px;}
#payment-preferences a.floatL {margin:0 0 0 40px;}
#payment-preferences ul {margin-bottom: -6px;margin-top:-5px;}
.credit-cards {width:88%;margin: 0 6%;}
.credit-cards ul {margin:0 !important;padding:19px 10px !important;}
ul#save-preferences {margin-top:-25px;}
ul#save-preferences li {float:right;}
ul#save-preferences li.back {margin-right:4px;}
#payment-preferences li ul h5 {font-size:1.2em; line-height:1.2em; font-weight:normal;padding-left:5px;margin-top:0px;width:100%;}
#payment-preferences fieldset {background-color:#fff;border:none; padding:0;}
#payment-preferences fieldset li.heading label {padding-left:10px;}
#payment-preferences fieldset .button {margin-top:16px;}
#payment-preferences input[type=submit]{padding-top:0 !important;}
#payment-preferences .sub-header {font-size:1.1em;line-height:1.1em;padding-bottom:10px;}

.ie7 #payment-preferences .rounded-container.clearfix {width:625px;}

/* other style detritus - CH */
.user_status_inactive {color: #285520; font-weight: bold;}
.user_status_locked {color: #702828; font-weight: bold;}
.user_status_suspicious {color: #BE740E; font-weight: bold;}
.user_status_active {color: #285520; font-weight: bold;}
.notes-wrapper {background-color: #E5E5E5; padding: 5px;}
.notes-wrapper ul {background: none;}
.subsection	{clear: both; margin-bottom: 20px; overflow: hidden;}
.bottom-line {border-bottom: solid 1px #ccc;}
.actionmenu-wrapper {width:150px; float:right; overflow: hidden;}
.action-menu {border: solid 1px #ccc; padding: 3px; width: auto;}
.actionmenu-wrapper-wide {width:150px; float:right;}
form h5.section-title {font-size: 1.2em; clear: both; padding: 10px 0 15px 10px; float: right; color:#6a6a6a;}
h5.section-title {clear: both; padding-top: 10px; font-size:20px; color:#64bb33; font-weight: bold;}
h5.section-title span {color:#000;margin-left:7px;font-size:12px;}
.expired {font-weight: bold; color: red;}
.caption-link {font-size: 0.75em; color:#6a6a6a;}
h2 + p.caption {font-size: 1.0em; color:#6a6a6a; padding:0; margin: 3px 0 3px 0;}
a.refund {background: #D2E1E9;background:rgba(210,225,233, 0.35); padding: 3px; border: solid 1px #ccc;}
tr.refund {background: #e7e7e7; display: none;}
tr.refund div {font-size: 0.9em; text-align: right; font-weight: normal; clear: both;}
td.actions a {font-size: 0.9em;}
th.align-right, td.align-right{text-align: right; padding-right: 5px;}
th.align-left, td.align-left{text-align: left; padding-left: 5px;}
.rounded-container ul {margin: 8px;}
.rounded-container li {margin-bottom: 10px;}
div.action-links {width:325px; float:right; border: solid 1px #ccc; padding: 3px; margin-bottom:20px;}
div.action-links h2 {font-size: 1.3em; margin: 2px; border-bottom: solid 1px #ccc;}
div.action-links .left-column {width:155px; float:left;}
div.action-links .right-column {width:155px; float:right; border-left: solid 1px #ccc; padding-left: 5px;}
.bottom-line div.action-links {border-bottom: none;}
div.card-icons img {margin-left: 10px;}
.item-container span.sub-text, span.sub-text {font-size: 0.8em; color:#6a6a6a; margin: 0; font-weight: normal;}
.item-container p.sub-text, p.sub-text {font-size: 1em; margin: 0; padding: 2px; color:#6a6a6a;}
.item-container label {font-weight: normal; color: #000; font-size: 1.0em;}
.item-container .item {clear: both; padding-top: 5px; padding-bottom: 5px; overflow: hidden; margin:0;}
.item-container .item h3 {font-size:1.1em;}
.item-container .item .odd {background-color: #fff;}
span.warning-text, p.warning-text {color: #702828; font-weight: bold;}
p.warning-text, .item-container p.warning-text {margin:5px 0 5px 0; padding: 0;}
div.item-container {padding-bottom:0; margin-bottom: 20px;}
div.mini-faq {clear: both; margin-top: 15px;}
div.subscription-info {clear:both; margin-bottom: 20px; overflow: hidden;}
div.subscription-info a {margin-top: 8px;}
table.data-report td {font-size: 0.9em; height: 10px; text-align: right; padding-right: 5px; padding-left: 5px;}
table.data-report th {color: #000;}
table.data-report th.side {text-align: left; padding-left: 6px; padding-right: 0;}
table.data-report tr.highlight {font-size: 1.1em; background-color: #CCC9CA;}
table.data-report tr.highlight th {font-size: 1.2em;}
#sales_listing table {clear:both;}

/* Login controls */
#logged-out .top-level .menu {background-image:none;}
#login, #logout {position:absolute;right:6px;top:20px;height:20px;}
#login a, #logout a {color:#fff;font-size:12px;}

/* Logged in header */
body {background: #fff url(images/body_bg.gif) repeat-x;}
header h1 {padding:50px 56px 136px;position:absolute;top:-70px;color:transparent;}
header {margin-bottom:12px;position:relative;height:145px;background: #000 url(images/header_bg.jpg) no-repeat -20px 0;z-index:1;}
header h2 {color: #c7c7c7;font-size:12px;font-weight:bold;text-shadow: 1px 1px 2px #0d0d0d;display:inline;}
header h2 span {color: #37952E;}

.ie7 header.grid_16 {position:relative;z-index:888888;}

/* Drop down Header menus */
#primary-navigation {margin-left:245px;margin-top:110px;position:relative;}
#primary-navigation #logged-out {margin-left: 57px;margin-top:110px;}

.top-level {float:left;margin-left:3px;list-style:none;font-size:14px;font-weight:bold;color:#efefef;text-decoration:none;position:absolute;top:0;}
.top-level:hover {}
.top-level.selected span {color:#fff;}
.selected a.menu {color:#fff;}

#top-menu > .top-level {text-indent: 5px;}
.top-level li {margin:0;padding:3px 7px;}
.top-level li a {font-size: 12px;font-weight:normal;text-decoration:none;color:#fff;padding-left:10px;padding-right:5px;}
.top-level li:hover a {color:#7ACA4A;color:rgba(122,202,74,0.8);}
.top-level span {padding:5px 10px 10px 5px;color:#efefef;}
.top-level .menu {color:#c7c7c7;text-decoration:none;}
li.top-level ul {position:absolute;left:-9999px;display:none;background:#000;background:rgba(0,0,0,0.89);margin:7px 0 0;padding-bottom:3px;-moz-box-shadow:0 1px 2px #000;-webkit-box-shadow:0 1px 2px #000;box-shadow:0 1px 2px #000;}
.top-level:hover ul {position:static;display:block;z-index:99999;}
.top-level li:hover {background:#202020;}
.top-level li.header-balance {font-size:14px;}

.top-level li.section {margin-top:7px;}
.top-level li.section a {font-weight:bold;padding-left:0;}

.ie7 li.top-level ul {z-index:200;}
.ie7 .top-level:hover ul, .ie7 .top-level a:hover ul {zoom:1;}

#my-dashboard {left:0;}
#my-dashboard ul li a {padding-left:0;}
#create-music {left:90px;}
#sales-and-accounting {left:240px;}
#community {left:370px;}
#promote-your-music {left:520px;width:180px;}
#promote-your-music ul li a {padding-left:0;}

/* logged out menu */
#menu-store {left:40px;}
#menu-services {left:210px;}
#menu-help {left:650px;}
#menu-help ul li a {padding-left:0;}

/* Secondary navigation (i.e., logout & help)*/
#secondary-navigation {position:absolute;top:10px;right:0;}
#secondary-navigation a, #index-admin a, #cart a {font-size:12px;font-weight:bold;text-decoration:none;text-shadow: 1px 1px 2px #0d0d0d;color:#37952E;}
#secondary-navigation #help a {color:#c7c7c7;margin-left:14px;}
.admin-link {margin:0 10px 0 20px;background: white;padding:5px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;}
.admin-link a {color:#37952E;text-shadow:none !important;}
#index-admin {position:absolute;top:0;right:50px;}

/* Shopping cart link */
#cart a {margin-left:14px;padding-left:20px;display:inline-block;background:url(../shared/images/cart/shopping_cart.png) no-repeat;}

/*Footer */
footer {margin-top:30px;padding-top:3px;font-size:11px;font: "Trebuchet MS", Arial;color:#999;}
footer ul {float:right;}
footer li {display:inline;margin-left:7px}
footer a {color: inherit;text-decoration:none;}
footer span {float:left;}

/* homepage */
#wrapper {min-height:905px;position:relative;width:990px;}
.ie7 #wrapper {zoom:1;}

#index {background: #000 url(images/backgrounds/index_bg.jpg) no-repeat center -180px;color:#999;}
#index section, #index footer {width:950px;margin-left:10px;}
#index footer {margin-top:10px;}
#index h3 {font:bold 30px Helvetica, Arial, sans-serif;color:#fff;}

/* namespacing the headers for now..until we know what the rest of the site will look like */
#index h1 {position:absolute;left:-9999px;}

/* section headers */
section header h1 {float:left;padding:0 0 10px;margin-top:5px;text-shadow:none;position:static;font: bold 45px Helvetica, Arial;color:#37952E;}
section header p {font-weight:bold;clear:left;}
section header {height:30px;background:none;position:relative;z-index:0;margin-bottom:10px;}
.signin, .header-helper, .forgot-pw-helper {position:absolute;bottom:17px;}
.required-helper {display:block;float:left;margin-top:28px;margin-left:20px;}
section header .signin, .header-helper {font: bold 14px Helvetica, Arial;color:#003852;right:0;}
section header .required-helper, .forgot-pw-helper {font: normal 14px Helvetica, Arial;color:#666;left:290px;}
.forgot-pw-helper {left:320px;}
section header.note {margin-bottom:25px;}
.ie7 section header.note {margin-bottom:0;padding-bottom:25px;}

.ie7 section header {margin-bottom:0}
.ie7 section header h1 {margin:0;}

/* index signin */
#index label {font:bold 17px Helvetica, Arial;color:#6a6a6a;position:absolute;margin-left:9px;bottom:9px;}

section#copy {width:275px;height:306px;position:absolute;right:45px;top:117px;}
section#copy ul {margin-top:10px;margin-bottom:-8px;padding-left:20px;list-style-image:url(images/backgrounds/index_bullet.png);}
section#copy li {font-size:19px;color:#fff;margin-bottom:15px;line-height:1;}
section#copy h2 {font-size:34px;color:#fff;}
section#copy h2 span {font-size:23px;font-weight:normal;position:relative;bottom:15px;}

.ie7 section#copy ul {zoom:1;}

#copy a {text-decoration:none;}

.itunes-logo {position:relative;top:22px;right:4px;}
#sign-up-now {background: url(images/backgrounds/sign_up_bg.png) no-repeat 0 0;height:66px;width:275px;-moz-border-radius-bottomright:2px;-moz-border-radius-bottomleft:2px;-webkit-border-bottom-right-radius:2px;-webkit-border-bottom-left-radius:2px;border-bottom-right-radius:2px;border-bottom-left-radius:2px;}
.ie7 #sign-up-now {margin-top:10px}
#sign-up-now a {text-decoration:none;}
#copy #sign-up-now h2 {color:#000;font-weight:bold;font-size:32px;position:relative;top:15px;left:45px;text-transform:uppercase;text-shadow:1px 1px 1px #fff;}
.ie7 #copy #sign-up-now h2 {position:static;margin-left:45px;margin-top:17px;cursor:pointer;}
#copy #sign-up-now span {display:block;color:#fff;font-size:22px;font-weight:bold;margin:7px 0 0 19px;text-transform:none;position:static;text-shadow:1px 1px 1px #000;}
.ie7 #copy #sign-up-now span {margin-left:10px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {#copy #sign-up-now span {margin-top:3px;}}

#reasons {background: url(images/backgrounds/reasons.png) no-repeat 0 0;height:27px;width:275px;margin-bottom:-5px;}
#reasons h3 {font-size:20px;font-weight:normal;text-shadow:1px 1px 0 #000;position:relative;top:3px;}
#reasons h3 a {color:#fff;padding:4px 58px 2px;}
.ie7 #reasons {position:relative;margin-top:20px;margin-bottom:-20px;}

/* 4 main index links */
#index-nav {position:relative;top:485px;left:5px;}

.ie7 #index-nav {margin-top:-40px;zoom:1;position:absolute;top:445px;width:990px;left:-655px;}

#index-nav li {margin: 0 7px 0 0;width:234px;height:184px;float:left;background-color:#212121;list-style:none;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}
#index-nav .tour {width:452px;background: #212121 url(images/backgrounds/index_logos.png) no-repeat 231px 31px;position:relative;}
#index-nav .tour li {color:#fff;font-size:16px;margin:15px 0 7px 40px;background:none;height:auto;width:auto;float:none;list-style-type:decimal;}
#index-nav .tour p {color:#66ccff;margin:-9px 0 0 77px;}
#index-nav .tour .lightbox, #index-nav .cost .lightbox, #index-nav .testimonial .lightbox, #index-nav a.nobox {color:#9CCE3C;font-size:16px;font-weight:bold;position:absolute;bottom:11px;right:15px;}
#index-nav .tour h3,#index-nav .cost h3, #index-nav .testimonial h3 {color:#66CCFF;font-size:19px;position:static;margin:15px 0 0 15px;}
#index-nav .testimonial p {color:#fff;margin:15px 0 15px 15px;}
#index-nav .testimonial p span {display:block;text-align:right;margin:-2px 15px 0 0;}

.ie7 #index-nav .testimonial p span {margin:-2px 15px -2px 0;}

#index-nav .testimonial .testimonial-img {float:right;margin:15px;}
#index-nav .cost, #index-nav .testimonial {position:relative;background: #212121 url(images/backgrounds/index_green_arrow.png) no-repeat 200px 151px;}
#index-nav .cost h4 {color:#fff;font-size:16px;font-weight:normal;margin:8px 0 0 16px;}
#index-nav .cost h4 span {color:#66CCFF;font-size:19px;font-weight:bold;}
#index-nav a {text-decoration:none;color:#66ccff;padding-right:30px;}
#index-nav h3 {font-weight:bold;font-size:18px;position:relative;top:15px;left:24px;}

#signin {position:absolute;right:38px;top:29px;}
.reset-pw {color:#d0d0d0;font-size:12px;position:absolute;top:-22px;right:315px;}

/* Form Elements */

/* squash dotted borders in firefox */
button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"] > input[type="button"]::-moz-focus-inner {border: none;}
a:active { outline: none; }

/* dark inputs used on homepage */
input.dark, fieldset, [type=submit], .button {-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.dark[type=text], .dark[type=password] {background: #1a1a1a;background: rgba(26,26,26, 0.65);padding:5px 7px 0;margin-right:2px;width: 270px;height:29px;border:1px solid #181818;border-bottom: 1px solid rgba(72,72,72, 0.6);color: #6a6a6a;font:17px Arial;font-weight:bold;}
.dark[type=submit] {height:36px;width:121px;color: #c6c6c6;font:bold 15px Helvetica, Arial;text-align:left;padding:2px 60px 2px 13px;background:url(images/inputs/dark_input_bg.png) right 0;border:1px solid #181818;border-bottom: 1px solid rgba(72,72,72, 0.6);cursor:pointer;}

/* firefox 3.6 specific hax */
@media screen and (-moz-images-in-menus:0) { .dark[type=submit] {position:relative;bottom:5px;}}
@media screen and (-moz-images-in-menus:0) { #index label {bottom:13px;}}

#create-account-submit {height:72px;width:347px;background:url(images/inputs/signup_btn.png) no-repeat;border:none;font:bold 24px Helvetica, Arial;color:#fff;margin-top:30px;padding-right:35px;}

label {margin-right:17px;text-align:right;}
.tiny-label {font-size:10px;position:relative;bottom:1px;color:#9FBBCD;}
input, textarea {-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
input[type=text], input[type=password], textarea {width:337px;height:24px;border: 1px solid #9FBBCD;color:#666 !important;padding-left:10px;}
input[type=submit] {height:30px;width:190px;color: #fff;font:bold 14px Helvetica, Arial;background:url(images/inputs/input_bg.png) right 0;border:0;padding:4px 20px 0 0;cursor:pointer;}

.ie7 .dark[type=submit] {height:36px;width:121px;color: #c6c6c6;font:bold 15px Helvetica, Arial;text-align:left;padding:2px 60px 2px 13px;background:url(images/inputs/dark_input_bg.png) right 0;border:1px solid #181818;border-bottom: 1px solid rgba(72,72,72, 0.6);cursor:pointer;}
.ie7 .dark[type=text], .ie7 .dark[type=password] {background: #1a1a1a;background: rgba(26,26,26, 0.65);padding:5px 7px 0;margin-right:2px;width: 270px;height:29px;border:1px solid #181818;border-bottom: 1px solid rgba(72,72,72, 0.6);color: #6a6a6a;font:17px Arial;font-weight:bold;}

.ie7 li.select label {float:left;position:static;bottom:0;padding-top:10px;}
.ie7 select {width:196px;margin-right:153px;color:#666;}
.ie7 textarea {height: 135px;}
.ie7 .radio {float:none;margin-left:145px;}

a.cancel, a.cancel-right { display:block;height:18px; float: left; text-decoration:none; font:bold 14px Helvetica, Arial; color: #fff; text-align:center; margin:0px;background:url(images/inputs/cancel_bg.gif) right 0;border:0;padding:8px 20px 4px 20px; margin-right: 5px; -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; }
input.submit {float:right;}
a.cancel-right {float:right;display:inline-block;}

.short {width:184px !important;margin-right:153px !important;}
li.select .ui-selectmenu {margin-right:229px;width:194px !important;}

.ie7 input.short {width:184px;margin-right:116px;}

.tiny {width:104px !important;margin-right:233px !important;}
.ie7 input.tiny {width:104px;margin-right:196px;}

.ie7 li.select .ui-selectmenu {margin-right:106px;}
.ie7 li.hear .ui-selectmenu {margin-right:106px;}
.ie7 li.primary-genre .ui-selectmenu, .ie7 li.secondary-genre .ui-selectmenu, .ie8 li.primary-genre .ui-selectmenu, .ie8 li.secondary-genre .ui-selectmenu {margin-right:154px;}
.ie8 li.select .ui-selectmenu {margin-right:154px;}

li.select label {float:left;}
select {width:196px;margin-right:153px;color:#666;}
textarea {height: 135px;}
#admin-wrapper textarea {width:60%;height:300px;}
.radio {float:none;margin-left:200px;}

/* select adjustments for credit card pages */
#stored_credit_card_state_list_item, #credit_card_state_list_item {margin-right:-25px;}

.ie8 #stored_credit_card_state_list_item, .ie8 #credit_card_state_list_item {margin-right:0;}

@media screen and (-webkit-min-device-pixel-ratio:0) {#stored_credit_card_state_list_item, #credit_card_state_list_item {margin-right:-23px;}}
.cc_code {margin-left:15px;}
label[for=stored_credit_card_state], label[for=credit_card_state] {top:17px;}

.ui-datepicker-trigger {position:absolute;right:112px;top:-5px;} /* date picker image */

legend {display:none;}
.ie7 legend, .ie8 legend {display:inherit;position:absolute;left:-8888px;}
label, .label, input[type=text], input[type=password] {color:#003852;font: bold 14px Helvetica, Arial;padding-top:11px;}

fieldset {background: #eff5f7; background:rgba(210,225,233, 0.35);border:1px solid #c3c3c3; border:1px solid rgba(195,195,195,0.35);}
fieldset.grid_16 ul {padding:20px 370px 0 15px;}
fieldset ul {padding:20px 0 0 15px;}
fieldset form {float:left;}
.ie7 #album fieldset form {width:490px;}
fieldset li {margin-bottom:10px;float:right;clear:right;position:relative;list-style:none;}
fieldset li.checkbox {width:330px;}
fieldset li.checkbox .context-wrapper {position:static;}
fieldset li.checkbox [type=checkbox] {position:absolute;top:-2px;left:-24px;}
.label { clear:right;display:block;text-align:right;float:left;width:140px;padding-top:3px;}
.label span {font-size:10px;}
label span {font-size:10px;font-weight:normal;display:block;}
.grid_5 label span {display:inline;}
.label p { margin: 0px;}
fieldset p { margin: 20px;}
fieldset h4 {clear:both;}

.ie7 fieldset.grid_16 ul {padding: 20px 420px 0 0;}
.ie7 fieldset li {width:100%;}
.ie7 fieldset li.checkbox {margin-right:-48px;}
.ie7 fieldset li.checkbox input[type=checkbox] {position:absolute;top:-2px;left:-24px;}
.ie7 fieldset li.radio {padding-left:20px;}
.ie7 #multiple-creatives, .ie7 #prev-released {margin-left:10px;width:140px;margin-top:140px;}
.ie7 #prev-released {margin-top:140px;}
.ie7 #prev-released.single {margin-top:340px;}
.ie8 fieldset.grid_16

/* page specific adjustments for fancy selects */
li.hear .ui-selectmenu {margin-right:286px;}
li.primary-genre .ui-selectmenu {margin-right:272px;}
li.secondary-genre .ui-selectmenu {margin-right:286px;}
#tour_date_artist_id_list_item {margin-right:-20px;}
#tour_date_country_id_list_item {margin-right:-3px;}
#tour_date_us_state_id_list_item {margin-right:-24px;}
#manufacturing_order_state_list_item, #manufacturing_order_shipping_state_list_item {margin-right:37px;}
#project-information-current-albums {margin-right:49px;}
#withdrawal_state_list_item {margin-right:38px;}
.ie8 #withdrawal_state_list_item {margin-right:0;}
#withdrawal_country_list_item {margin-right:-6px;}
.ie8 #withdrawal_country_list_item {margin-right:0;}
#person_referral_list_item {margin-right:58px;}
.ie7 #person_referral_list_item {margin-right:48px;}
.ie8 #person_referral_list_item {margin-right:-132px;}
.ie7 #person_country_list_item {margin-right:48px;}
#ringtone_related_song_id_list_item {margin-right:-13px;}
.ie7 #ringtone_related_song_id_list_item, .ie7 #ringtone_primary_genre_id_list_item, .ie7 #ringtone_secondary_genre_id_list_item {margin-right:48px;}
.ie8 #ringtone_related_song_id_list_item {margin-right:0;}
#video_primary_genre_id_list_item {margin-right:-18px;}
.ie7 #video_primary_genre_id_list_item {margin-right:50px;}
.ie8 #video_primary_genre_id_list_item {margin-right:0;}
.ie7 #person_country_list_item, .ie7 #person_referral_list_item {margin-right:48px;}


@media screen and (-webkit-min-device-pixel-ratio:0) {#single_secondary_genre_id_list_item, #ringtone_secondary_genre_id_list_item {margin-right:3px;}}

/* page specific radio adjustments */
#new_single .radio {margin-left:152px}
#new_album .radio {margin-left:154px;}
#edit-single .radio {margin-left:152px;}

/* generic button classes, applied to anchor tag (see also .button-small)*/
.button {padding:0 25px;margin-right:10px;float:left;height:30px;color: #fff;text-decoration:none;font:bold 14px Helvetica, Arial;line-height:2.4 !important;background:url(images/sprites/buttons_sprite.png) repeat-x right 0;border:0;cursor:pointer;}
.button.right {float:right;}

/* form errors */
.context-wrapper {display:inline;position:relative;vertical-align:top;}
.fieldWithErrors {display:inline;}
.formError, .contextual-help, label.error {position:absolute;left:380px;bottom:-5px;font:bold 12px Helvetica, Arial;color:red;width:290px;height:20px;background:url(images/sprites/menu_link_sprite.png) no-repeat 0 -159px;padding:4px 0 0 45px;}
#album_liner_notes-help {bottom:110px;}
li.select .formError {top: 17px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {li.select .formError {top:-32px;}}

/* form errors for album tracks */
#album .formError {padding:0;background:none;position:relative;height:auto;left:auto;}

#primary-artist-song-errors { color: #f00; clear: left; float: left; margin-left: 120px;}
.ie7 #primary-artist-song-errors { margin-top: 10px;}
.ie7 #album .formError { margin-top: 10px;}
/* creatives/creative_list is wrong. this is a hack */
li.select.primary .formError {top:-8px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {li.select.primary .formError {top:-4px;}}

/* error containers */
#errorExplanation, #goodErrorExplanation {margin-bottom:15px;padding:25px 0 25px;font-size:14px;color:#7A786C;outline:4px solid #FF574E;background:#FEF7DA url(images/sprites/next_actions_sprite.png) no-repeat 24px -372px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
#goodErrorExplanation {outline:4px solid #9EDC50;background-position: 24px -581px;}
#errorExplanation > h2, #errorExplanation > p, #errorExplanation > ul, #goodErrorExplanation > h2, #goodErrorExplanation > p, #goodErrorExplanation > ul {padding-left:80px;}
.grid_11 > #errorExplanation, .grid_11 > #goodErrorExplanation {padding-top:15px;}
.ie7 .formError, .ie7 .contextual-help {bottom:6px;}
#add-cover-art #errorExplanation {padding:25px 70px;margin:20px;}
.ie7 #add-cover-art #errorExplanation {border:4px solid #ff574e;}

header + #errorExplanation {margin-top:20px;}
#errorExplanation li {float:none;}
#goodErrorExplanation span, #errorExplanation span {display:block; padding-left:80px; padding-right:10px;}

/* contextual help for forms */
.contextual-help {color:#3BA5D3;background-position:0 -129px;}
.contextual-help p { margin: 0px}
.forced { left: 80px;} /* used for radio buttons and checkboxes instead of textfield offset */
#song_optional_isrc-help { left: 170px; top: 32px; background: none;}

/* validation plugin messages */
label.error {text-align:left}
label.error + div.contextual-help {display:none;} /*hide contextual help when validation error is showing */
label.error[for=person_country] {margin-bottom:-22px;}
#person_accepted_terms_and_conditions_list_item label.error {margin-left:-20px;}

.ie7 label.error {bottom:7px;}
.ie8 label.error[for=person_country] {margin-bottom:10px;}
.ie8 #person_accepted_terms_and_conditions_list_item label.error {margin-bottom:20px;}

.video-icons-table { width: 70%; margin: 0 auto; border:none;}
.video-icons-table td { border:none;}

/* create new video */
#new_video .label, .edit_video .label {width: 150px;margin-left:50px;}
.ie7 #new_video .label, .ie7 .edit_video .label {margin-left:auto;}
.ie7 #new_video, .ie7 .edit_video {position:relative;}add-to-cart
.ie7 #captions {position:relative;top:267px;left:0;}

/* shared among /cart /invoices/thanks /history */
.product-purchase, .payment-details ul {background:#fff;padding:5px 0;border:1px solid #dfdfdf;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.video-purchase span {font-weight:bold;font-size:14px;position:relative;left:15px;top:6px;}
.video-purchase .button {float:right;}
#invoice-thanks .info {margin: 10px 25px 15px;width:92%;padding:0;}
#invoice-thanks .subsection {margin-bottom:0;}
#invoice-thanks .subsection h3 {margin:15px 0 0 25px;font-size:18px;}
.video-purchase + .check-purchases + p {margin:5px 0 10px 0;}
.video-purchase + .check-purchases + p .button.right {margin-right:0;}
#shopping-cart h2 {font-size:16px;}

.payment-details ul {padding:13px 0;}
.payment-details ul li {margin-bottom:0;padding-left:15px;}
.rounded-container.payment-details {padding-bottom:0;}
.rounded-container.payment-details ul {margin:10px;}
.rounded-container.product {padding:10px;}
.product-purchase {padding:13px 150px 13px 15px;}
.product-purchase img {float:left;margin:0 15px 0 0;width:50px;height:50px;border:1px solid #dfdfdf;-moz-box-shadow:0 0 3px #000;-webkit-box-shadow:0 0 3px #000;box-shadow: 0 0 3px #000;}
.product-purchase .album-name, .annual-renewal .album-name {padding:0 0 3px 67px;display:block;font-weight:bold;}
.product-purchase .album-store-list, .annual-renewal .album-store-list {color:#003855;}
.product-purchase .album-store-list span, .annual-renewal .album-store-list span {color:#333;display:inline-block;margin:0 5px 0 0;}
.added-store .store-name {margin-left:13px;padding:8px 5px 8px 45px;display:inline-block;background: transparent url(images/sprites/stores_35x35_sprite.png) no-repeat;}
.product-purchase.salepoint {padding: 17px 0; min-height:45px;}
.product-purchase.salepoint .product-name {display:inline;margin-right:5px;}

.ie7 .product-purchase .album-store-list, .ie7 .annual-renewal .album-store-list {padding:0;padding-bottom:10px;}

.product {position:relative;margin-bottom:10px;}
.product:last-child {margin-bottom:0;}
.product .video-purchase span {position:static;}
.product div.thin {margin-bottom:0;}
.thin {padding: 5px 10px 5px 10px;height:35px;margin-bottom:0;}
.thin h2 {position:absolute;top:4px; padding:0;margin:0;font-size:14px;}
.thin .info {position:relative;height:25px;}
.thin p {margin:0;}
.thin p.price {position:absolute;left:420px;top:2px;width:90px;text-align:right;font-weight:bold;}
.thin p.promo {position:relative;left:0;top:-11px;color:#f30;font-weight:bold;}
.thin .button-small{padding:2px 0;position:absolute;top:6px;right:10px;}
.thin-odd {background:#ffffff;}
.thin p.deal {color:#fff;background:#3FACD8;padding:2px 4px 1px;height:18px;font-size:11px;position:absolute;right:180px;top:6px;font-weight:bold;text-align:right;}

div.product p {padding:5px 0 0;}
span.video-name {font-weight:bold;font-size:12px;}
span.product-name {display:block;font-weight:bold;font-size:14px;}
span.product-description {display:block;font-style:italic;}

.purchases {padding:10px;}
.check-purchases {position:absolute;right:-4px;top:10px;}
.check-purchases span {float:right;}
.upsell .check-purchases span {margin:10px 10px 0 0;}
.upsell .button-small {padding:2px 0;float:right;position:relative;bottom:32px;right:10px;}
.modify-purchases {clear:right;margin-right:17px;position:absolute;bottom:18px;right:-18px;height:10px;width:150px;}
.cart-item-links {clear:right;margin-right:17px;position:absolute;bottom:35px;right:-4px;height:15px;width:170px;text-align:right;vertical-align:bottom;}
.cart-item-links a {clear:right;display:block;}
.modify-purchases .purchase-link, .cancel-subscription, .renew-subscription, .cart-item-links .purchase-link {font-size:12px;color:#333;}

.promo-information {position:relative;top:0px;width:610px;border:solid 1px #dfdfdf;background-color:#E5E5E5;padding:2px 3px 2px 3px;overflow:hidden;margin-top:-1px;}
.promo-information p {text-align:right;font-weight:bold;color:#676767;clear:left;}
.promo-information p.offer span {color:#f30;}
.promo-information p.cert span {color:#37952E;}

/* subscriptions and renewals */
#tabs-1, #tabs-2 {padding:10px;font-size:13px;}
#subscribe-renew .rounded-container {background:#fff;}
#subscribe-renew .rounded-container ul {margin:0;}
.rounded-container.subscription {padding-left:15px;position:relative;}
.subscription {position:relative;}
.subscription ul li, .subscription span {padding:0 0 0 67px;margin:0;}
.cancel-subscription, .renew-subscription {position:absolute;right:7px;top:7px;}
.subscription .product-purchase {position:relative;padding-bottom:0;margin-bottom:10px;}
.subscription .product-purchase:last-child {margin-bottom:0;}
.renew-subscription, .button-small {background-color:#55B024;background-image: -moz-linear-gradient(top, #7aca4a, #339900);background-image: -webkit-gradient(linear,left bottom,left top, color-stop(0, #7aca4a), color-stop(1, #339900));filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7aca4a', endColorstr='#339900');-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7aca4a', endColorstr='#339900')";-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
div.renew-subscription a, .button-small a, .upsell .button-small a {color:#fff;text-decoration:none;padding:10px;}

/* Lightbox Style */
#iframe {background:none;}

/* informational paragraphs in forms */
p.info {margin:15px;width:50%;clear:both;}
.info + .info {margin-top:0;}
.info + .button {margin:0 0 20px 35px;}
fieldset h4 {margin:20px 0 10px 15px; font-size: 18px; color: #333;}

/* create account page */
#create-account {background: rgba(210,225,233, 0.35) url(images/backgrounds/logo_watermark.png) no-repeat 560px 295px;}
.ie7 #create-account li.checkbox {margin-right:25px;width:300px;}

/* create album/single page */
#create-album {position:relative;margin-bottom:250px;}
#album-records {position:absolute;right:20px;bottom:-215px;}
#album_submit {position:relative;z-index:99;}

.ie7 #album-records {position:static;}
.ie7 #create-account li.checkbox {margin-right:25px;width:300px;}

/* create single & ringtone & songs */
select.trigger-preview {display:none !important;} /* wtf */
li.select .ui-selectmenu.trigger-preview {width:120px !important;}
#multiple-artists-link {font-size:11px; margin-top: 5px;}
#multiple-artists-link {position:absolute;left:-461px;width:100px;top:-20px;} /* this is probably super fragile */
.ie7 #multiple-artists-link { position: absolute; left: -460px; width: 100px; top: -50px;}
.ie7 .song-multiple-artists-link { position: absolute; margin-left: 460px; padding-top: 10px;}
#single_selected_artist_name_list_item {margin-bottom:0;}

#single_creatives__role + a, #ringtone_creatives__role + a {position:absolute;right:136px;}
.ie7 #single_creatives__role + a, .ie7 #ringtone_creatives__role + a {right:275px;top:2px;}
.ie8 #single_creatives__role + a, .ie8 #ringtone_creatives__role + a {right:215px;}
.ie7 #single_creatives__role + a {right:275px;top:2px ;}
.ie8 #single_creatives__role + a {right:215px;}
#ringtone_creatives__role + a {position:absolute;right:136px;top:-16px;}
.ie7 #ringtone_creatives__role + a {right:275px;top:2px ;}
.ie8 #ringtone_creatives__role + a {right:215px;top:-11px;}
#song_creatives__role + a {position:absolute;right:136px}
.ie7 #song_creatives__role + a {right:260px;top:2px ;}
.ie7 #preview-placeholder { display:none;}
.ie8 #song_creatives__role + a {right:215px;}

#creative-controls {position:absolute;top:-5px;left:355px;}

.ie7 #creative-controls {left:358px;top:6px;}
.ie7 #album #creative-controls { left:480px;}
.ie7 #album #song_creatives__role + a { left: -5px;}

/* moving the multi-artist preview block around in ie7 only */

.ie7 .ringtone-preview { left: -352px;}
.ie7 .single-preview { left: -352px;}
.ie7 .song-preview { left: -5px;}

.ie7 #song_creatives__name { position: absolute; left: 125px;}
.ie7 #artist-name-text { left: 40px;}
.ie7 #album .formError {}
input.trigger-preview {z-index:1;}
#creative-controls .add-creative {position:absolute;right:26px;width:115px;top:40px;}
.ie7 #creative-controls .add-creative {top:60px;}
.ie7 #album #creative-controls .add-creative { top: 30px;}
.remove-creative img {width:25px;height:25px;}
#false-creative {height:5px;}
.ie7 .creative { height: 28px;}
/*ff 3.6 adjustments */
@media screen and (-moz-images-in-menus:0) {
  #single_creatives__role + a {top:-16px;}
  #creative-controls {top:-10px;}
}

.ie7 .song-artist-primary { margin-left: -120px;}


@media screen and (-moz-images-in-menus:0) {#single_creatives__role + a {top:-16px;}}
@media screen and (-moz-images-in-menus:0) {#song_creatives__role + a {top:-16px;}}
@media screen and (-webkit-min-device-pixel-ratio:0) {#ringtone_creatives__role + a {top:-11px;}}
@media screen and (-webkit-min-device-pixel-ratio:0) {#song_creatives__role + a {top:-11px;}}
@media screen and (-moz-images-in-menus:0) {#creative-controls {top:-10px;}}

/* safari specific adjustments */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #creative-controls {top:5px;}
  #song_creatives__role + a {top:0px;}
}

.ie7 #new_single .primary-genre a {margin-right:155px;}
.ie7 #new_single .secondary-genre a {margin-right:155px;}
.ie7 #new_single li.label {position:absolute;}
.ie7 #single_parental_advisory_list_item {margin-right:205px;}

#ringtone-upload p {padding:10px 15px;}
#ringtone-promo img {margin-top:15px;}

#preview-title {position:relative;}
#preview-title span {position:relative;width:100%;}
#preview-placeholder {position:relative;z-index:0;width:337px;}
#preview-title-text {position:absolute;left:0;top:-12px;z-index:2;background-color:#f0f0f0;padding-right:10px;width:327px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {#preview-title-text {left:0;width:328px;}}
@media screen and (-moz-images-in-menus:0) {#preview-title-text{top:-16px;}}
.ie7 #preview-title-text {left:4px;top:1px;width:328px;}

#false-creative + #song_optional_isrc_list_item {margin-top: 10px;}

.spinner-bg {background: #f0f0f0 url(../shared/images/logo-spinner_25x25.gif) no-repeat center right;}

.upload > * {padding-left:15px;}
#song-uploader {padding-left:7px;margin-bottom:-15px;}


/* band page */

.bandpage-album {float:left;width:220px;margin-right:15px;}
.bandpage-album img {width:220px;}

/* album show page */

.basicinfo {position:relative;}
.basicinfo h2 {font-size:18px;margin:0 100px 0 0;color:#003855;width:;}
.basicinfo h3 {margin-bottom:5px;font-size:16px;color:#535353;}
#album_artwork {border:1px solid #dadada;width:160px;height:160px;float:left;margin-right:5px;position:relative;}
.songcontent h5 {font-size:18px;text-align:left;margin-top:10px;}
.songcontent .song-listing {font-size:18px;font-weight:bold;width:100%;color:#003855;}
.song-listing li {padding:12px 0 4px 0}
.song-listing {border:1px solid rgba(195,195,195,0.35);border:1px solid #c3c3c3; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#track-list .no-content {font-size: 17px; font-weight: bold; width:95%; color:#003855;}

.basicinfo .edit, .stores .edit, #album_artwork .edit {font-size: 11px;position:absolute;top:0;right:0;}
#album_artwork .edit {top:-18px;}

.info dl { border: 1px solid #ff0;}
.info dt {width:100px;float:left;font-size:13px;font-weight:bold;margin-right: 5px;}
.song .track-number, .song .title { font-size: 14px; font-weight: bold; color:#333;}
.song .track-number {margin: 0 15px;}
.song .isrc { font-size: 11px;float:right;margin-right:20px;color:#666;}
.song li { display: inline; height: 25px;}

li.even, div.even { background: #D2E1E9;background:rgba(210,225,233, 0.35); height:25px;}
li.odd, div.odd { background: #ffffff; min-height:25px;}
div.even, div.odd {height:auto;}

/* my stores */
#stores {position:relative;margin:10px 0 15px;}
#stores + section > h5 {margin-top:0;}
#stores h5 {margin-top:0;}
#album-checklist, #renewal-message {background:#EFF5F7;background:rgba(210,225,233, 0.35);border:1px solid rgba(195,195,195,0.35);border:1px solid #c3c3c3; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.rounded-container.stores {padding-bottom:0;}
.stores li {height: 35px; width: 35px; float:left;margin: 0 15px 10px 0;text-indent:-5555px;background: transparent url(images/sprites/stores_35x35_sprite.png) no-repeat;}

.product-purchase .salepoint {margin-right:24px;position:relative;bottom:9px;left:13px;float:left;height:35px;width:35px;background: #fff url(images/sprites/stores_35x35_sprite.png) no-repeat;}
/* store icons */
.store-icon {height:35px;width:35px;background: transparent url(images/sprites/stores_35x35_sprite.png) no-repeat;}
.stores .icon-mn, .store-selection h4.icon-mn, .product-purchase .icon-mn, .store-icon.icon-mn {background-position: 0 -630px;}
.stores .icon-mx, .store-selection h4.icon-mx, .product-purchase .icon-mx, .store-icon.icon-mx {background-position: 0 -560px;}
.stores .icon-us, .store-selection h4.icon-us, .product-purchase .icon-us, .store-icon.icon-us {background-position: 0 -385px;}
#selected-stores .icon-us, #unselected-stores .icon-us, .accordion-body .icon-us, #stores .icon-us {background-position: 0 -421px;}
.stores .icon-au, .store-selection h4.icon-au, .product-purchase .icon-au, .store-icon.icon-au {background-position: 0 -455px;}
.stores .icon-ca, .store-selection h4.icon-ca, .product-purchase .icon-ca, .store-icon.icon-ca {background-position: 0 -595px;}
.stores .icon-eu, .store-selection h4.icon-eu, .product-purchase .icon-eu, .store-icon.icon-eu {background-position: 0 -525px;}
.stores .icon-jp, .store-selection h4.icon-jp, .product-purchase .icon-jp, .store-icon.icon-jp {background-position: 0 -490px;}
.stores .icon-rh, .store-selection h4.icon-rh, .product-purchase .icon-rh, .store-icon.icon-rh {background-position: 0 -280px;}
.stores .icon-np, .store-selection h4.icon-np, .product-purchase .icon-np, .store-icon.icon-np {background-position: 0 -70px;}
.stores .icon-em, .store-selection h4.icon-em, .product-purchase .icon-em, .store-icon.icon-em {background-position: 0 -105px;}
.stores .icon-gp, .store-selection h4.icon-gp, .product-purchase .icon-gp, .store-icon.icon-gp {background-position: 0 -350px;}
.stores .icon-az, .store-selection h4.icon-az, .product-purchase .icon-az, .store-icon.icon-az {background-position: 0 -35px;}
.stores .icon-ll, .store-selection h4.icon-ll, .product-purchase .icon-ll, .store-icon.icon-ll {background-position: 0 -210px;}
.stores .icon-sh, .store-selection h4.icon-sh, .product-purchase .icon-sh, .store-icon.icon-sh {background-position: 0 -140px;}
.stores .icon-as, .store-selection h4.icon-as, .product-purchase .icon-as, .store-icon.icon-as {background-position: 0 0px;}
.stores .icon-aod_us, .store-selection h4.icon-aod_us, .product-purchase .icon-aod_us, .store-icon.icon-aod_us {background-position: 0 -245px;}
.stores .icon-lw, .store-selection h4.icon-lw, .product-purchase .icon-lw, .store-icon.icon-lw {background-position: 0 -315px;}
.stores .icon-no, .store-selection h4.icon-no, .product-purchase .icon-no, .store-icon.icon-no {background-position: 0 -175px;}
.stores .icon-my, .store-selection h4.icon-my, .product-purchase .icon-my, .store-icon.icon-my {background-position: 0 -630px;}
.stores .icon-zn, .store-selection h4.icon-zn, .product-purchase .icon-zn, .store-icon.icon-zn {background-position: 0 -664px;}
.stores .icon-tp, .store-selection h4.icon-tp, .product-purchase .icon-tp, .store-icon.icon-tp {background-position: 0 -699px;}
.stores .icon-mn, .store-selection h4.icon-mn, .product-purchase .icon-mn, .store-icon.icon-mn {background-position: 0 -734px;}
.stores .icon-sp, .store-selection h4.icon-sp, .product-purchase .icon-sp, .store-icon.icon-sp {background-position: 0 -769px;}

/* album status/checklist styles */
div.purchase	{margin-bottom: 15px; padding-bottom:20px;}
div.purchase p.note {margin-left:5px; padding:4px 0 4px 0;}
.status, .purchase button {padding-left:38px;height:33px;background: transparent url(images/sprites/next_actions_sprite.png) no-repeat;}
.status a, #album-checklist .button_disabled span, .next-actions a {display:block;padding-top:9px;font:bold 14px Helvetica, Arial, sans-serif;color:#fff;text-decoration:none;}
.status a:hover {text-decoration:underline;}
.status_complete {background-position:0 -41px;}
.status_not_complete {background-position: 0 0;}
.status_disabled {background-position:0 0;}
.status_disabled span {color:#A7B6BF;}
.button_disabled, .button_enabled {height:58px;margin-top:10px;padding-top:4px;}
.button_disabled {background-position:0 -261px;}
.button_enabled {background-position: 0 -194px;}
.purchase button {background-position: 0 -205px;}
.button_disabled span, .button_enabled a {margin-left:-28px;}
.button_enabled a:hover {text-decoration:none;}
.button_enabled a {padding-bottom:18px;}

#album-checklist {margin-bottom:15px;}
#album-checklist h4, #renewal-message h4, .purchase h4 {font:bold 18px Helvetica, Arial;color:#003855;margin:10px 0 0 20px !important;}
#album-checklist > span {font:bold 12px Helvetica, Arial;color:#636363;margin:0 0 15px 20px;display:block;}
#album-checklist ul {margin-left:20px;}
.whisper {font-size:12px;color:#999;}
.upgrade-save {font-size: 16px !important; color: #DF0101; font-weight:bold; padding-top: 15px}
.distribution-credit {font-size: 12px !important; color: #999}
#your-dis-credit {font-size:12px !important; font-weight: bold}
#upgrade-paragraph {margin-top:15px;padding-left: 5px}
/* renewal message */
#renewal-message {margin-bottom:15px;position:relative;}
#renewal-message p {padding:0 20px;margin-bottom:0;}
#renewal-message a {padding:0;}
#renewal-message h4 {margin-bottom: 5px;}
#renewal-message .button-small {padding:4px 14px;color: #fff;display:inline-block;margin:8px 0 15px 20px;}

/* action item button */
#purchase-button {margin-left:21px;text-decoration:none;display:block;}
#purchase-button span, .purchase button {color:#fff;font-weight:bold;font-size:16px;display:block;padding-top:7px;}
#purchase-button .status {padding-left:23px;}
.purchase p {color:#636363;font-weight:bold;font-size:12px;line-height:1.2;}
.purchase h4 + p {padding:0 20px;}
.purchase p.booklet {padding:0 5px;}
.purchase p.no-radio{padding-left:5px;}
.purchase p.stores{font-size:11px;}
.purchase input[type=submit] {width:235px;margin-left:7px;}
#price {font-weight:bold;font-size:12px;}
#price, .price-details {color:#f30;text-align:right;padding-right:20px;}
#price span {font-size:22px;}


.narrow-button {width:235px;margin-left:7px;height:30px;width:190px;color: #fff;font:bold 14px Helvetica, Arial;background:url(images/inputs/input_bg.png) right 0;border:0;padding:4px 20px 0 0;cursor:pointer;}
/* action item purchase form */
.purchase form {padding:15px 15px 0;}
.purchase .deal {color:#fff;background:#3FACD8;padding:3px 4px 1px;height:15px;font-size:10px;position:relative;left:6px;bottom:2px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.purchase .deal {padding-bottom:3px;}}
.ie7 .purchase .deal, .ie8 .purchase .deal {padding-bottom:4px;}
.purchase label {margin-left:4px;color:#000;font-size:16px;font-weight:bold;}
.purchase label span {font-size:inherit;font-weight:inherit;}
span.black {color:#000;}
span.red {color:#f30;}
.purchase label + p {font-size: 9px;font-weight:normal;padding:0 0 0 28px;margin:0 0 15px;}
.purchase button {border:none;width:240px;margin:0 0 -5px 5px;padding:0 30px 3px 0;cursor:pointer;}
.purchase .button-small {display:inline-block;padding:1px 11px;color:#fff;cursor:pointer;}

#upgrade-choices {width:110px;margin:10px auto;}
#upgrade-choices a {margin-right:10px;}
.upgrade-change {font-size:11px;text-decoration:underline;display:inline-block;margin:4px 0 0 6px;}

/* advertisement styles - CH */
div.sidebar-ad {margin-bottom:15px;}
div.ad div.sidebar-ad {position:absolute; right:38px; top:20px;}
.sidebar-ad h4 {font:bold 18px Helvetica, Arial;color:#003855;margin:10px 0 0 20px !important;}
.sidebar-ad button {padding-left:38px;height:30px;background: transparent url(images/sprites/next_actions_sprite.png) no-repeat;}
.sidebar-ad p {color:#636363;font-weight:bold;font-size:12px;line-height:1.2;}
.sidebar-ad h4 + p {padding:0 20px;}
.sidebar-ad #price {font-weight:bold;font-size:12px;}
.sidebar-ad #price {color:#f30;text-align:right;padding-right:20px;}
.sidebar-ad #price span {font-size:22px;}
.sidebar-ad .price-details {font-size:9px;margin-bottom:5px;}
.sidebar-ad #purchase-button {margin-left:10px;}
.sidebar-ad #purchase-button .status {padding-left:34px;height:27px;}
.sidebar-ad #purchase-button span {padding-top:5px;font-size:14px;}
.sidebar-ad #purchase-button .button {line-height:inherit !important;}

div.thumbnail-ad {margin-bottom:0px;}
.thumbnail-ad h4 {font:bold 12px Helvetica, Arial;color:#003855;margin:10px 0 0 20px !important;}
.thumbnail-ad button {padding-left:38px;height:30px;background: transparent url(images/sprites/next_actions_sprite.png) no-repeat;}
.thumbnail-ad p {color:#636363;font-weight:bold;font-size:12px;line-height:1.2;}
.thumbnail-ad h4 + p {padding:0 20px;}
.thumbnail-ad #price {font-weight:bold;font-size:10px;}
.thumbnail-ad #price {color:#f30;text-align:right;padding-right:0;}
.thumbnail-ad #price span {font-size:15px;}
.thumbnail-ad .price-details {font-size:9px;margin-bottom:-5px;}
.thumbnail-ad .button_small {display:inline-block;padding:1px 11px;color:#fff;cursor:pointer;}

.wide-ad {border:none;background:none;position:relative;margin-bottom:20px;}
.wide-ad h4 {font:bold 18px Helvetica, Arial;color:#003855;margin:0 155px 0 0 !important;text-align: right;}
.wide-ad button {padding-left:38px;height:30px;background: transparent url(images/sprites/next_actions_sprite.png) no-repeat;}
.wide-ad p {color:#636363;font-weight:bold;font-size:12px;line-height:1.2;}
.wide-ad h4 + p {padding:0 20px;}
.wide-ad #price {font: bold 18px Helvetica, Arial, sans-serif;}
.wide-ad #price {color:#f30;text-align:right;padding-right:0;}
.wide-ad #price span {font-size:18px;}
.wide-ad .price-details {font-size:9px;margin: 0 135px -5px 0;display:block;text-align:right;}
.wide-ad #purchase-button span {padding-top:4px;}
.wide-ad #purchase-button .status {padding-left:14px;}
.wide-ad #purchase-button {position:absolute;right:0;top:-7px;}
.wide-ad .button_enabled {background-position:0 -816px;height:34px;width:130px;}

.active + .wide-ad {border: 1px solid #c3c3c3;margin:0 14px;padding: 10px 0;background: #fff;}
.active + .wide-ad #purchase-button {top:-5px;}

/* store selection styles */
#store-selection-container {margin-bottom:60px;background:rgba(210,225,233, 0.35);border:1px solid rgba(195,195,195,0.35);border:1px solid #c3c3c3; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;position:relative;}
.store-selection {min-height:50px;overflow:hidden;padding:6px 0 0 15px;}
.store-selection.even {background-color:#EFF5F7;}
.store-selection h4, .store-selection .selection-control {display:inline;}
.store-selection h4 {position:relative;line-height:2.3;padding: 6px 0 6px 50px;font-size:18px;color:#003852;background: transparent url(images/sprites/stores_35x35_sprite.png) no-repeat;}
.ie7 .store-selection h4 {padding-top:0;padding-bottom:0;}
.store-selection h4 label {font-size:18px;padding-bottom:5px;margin-right:0;}
.store-selection .selection-control {float:right;padding-top:12px;}
#store-selection-container [type=submit] {position:absolute;bottom:-40px;right:0;}
.rights-assignment {margin:8px 0 25px 45px;}
.rights-assignment .rights-label {font-weight:normal;padding-right:45px;}
.rights-label img {margin-top:10px;}
.rights-assignment + .variable-pricing-assignment {margin-top:-10px;}
.variable-pricing-explanation p {padding:0 40px;}
.variable-prices {margin-left:44px;}
.variable-prices li {display:inline-block;line-height:2;}
.variable-prices label {margin-right:10px;font-size:13px;}
.pricing-table {padding:10px 15px;margin:0 45px 20px 25px;border:1px solid #003852;border:1px solid rgba(0, 3, 133, 0.15); -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.store-selection.odd {min-height:50px;}
.store-info {position:absolute;left:-9px;top:-6px;padding: 0 25px 22px 0;cursor:pointer;}

/* itunes stores */
#store-group-itunes .checkbox {float:left;width:100px;margin-bottom:15px;margin-top:15px;}
#store-group-itunes .checkbox input {display:block;margin:0 auto 5px;}
#store-group-itunes .checkbox label {display:block;margin-right:auto;text-align:center;}
#store-group-itunes .checkbox .store-icon {margin:0 auto;}

.accordion-body ul {margin-bottom:0;}

/* my account styles */
#account-next-actions .balance span {color:#003852;font-size:12px;}
#account-next-actions h4 {margin:0;}
#account-next-actions h5 {margin: 5px 0 10px;}
h5.balance {margin: 10px 0 25px 30px;font-size:22px;color:#390;}
#my-account {position:relative;}
#my-account section header {height:50px;}
#my-account #stores {border:none;background:none;margin:0;}
#my-account li > ul {margin-left:20px;margin-bottom:0;}
#my-account h4 + ul {list-style:disc inside;margin-bottom:75px;}
#account-copy > ul {list-style:disc inside;}
#account-copy img {margin-left:100px;}
#report-links li {float:left;margin-bottom:-1px;}
#report-links li a {margin:0 1px 1px 0;padding:8px 47px 4px;display:block;background:#E0E0E0;font-size: 14px;font-weight:bold;color:#656565;text-decoration:none;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;}

.ie8 #report-links li a {padding: 8px 45px 4px 45px;}

@media screen and (-webkit-min-device-pixel-ratio:0) {#report-links li a {margin-left:1px;padding:8px 46px 4px;}}/*webkit only adjustment */
#report-links li.selected a {margin-bottom:0;color:#fff;padding-top:8px;padding-bottom:4px;background: url(images/sprites/account_table_sprite.png) repeat-x 0 0;}
#report-links #songs a {width:45px;}

#report-filters {background:none;border:none;position:absolute;top:375px;right:0;}
#report-filters ul {padding:0;}
#report-filters li {float:left;width:175px;}
#report-filters #year-control {margin-right:-42px;}
#report-filters #month-control {margin-left:20px;}
#report-filters label {float:left;}

#report-container {clear:left;}
.ie7 #report-container {border:1px solid #ccc;margin-top:-60px;margin-bottom:0px;}
#account-album-name {position:relative;height:40px;background:#5e5e5e;}
#account-album-name h2 {font-size:22px;color:#fff;padding:10px 25px;}
#account-album-name .button {position:absolute;right:0;bottom:5px;}

/* next actions styles */
aside h4 {font:bold 18px Helvetica, Arial;color:#003855;margin:0 0 15px 30px;}
aside h4.left-column, #sidebar h4 {margin:5px 0;}
.next-actions {width:250px;float:right;}
.next-actions a {padding-left:15px;padding-bottom:8px;color:#fff;}
.next-actions a:hover {font-weight:bold;}
.next-actions li {height:34px;background:transparent url(images/next_actions_sprite.png) no-repeat 0 -110px;}
.next-actions .warn-cancel { background-position: 0 -326px;}

/* Table Styles */

table {width:100%;border-collapse:collapse;}
thead {border:1px solid #eaeaea; -moz-border-radius:5px;-webkit-border-radius:5px; border-radius:5px;}
th {padding:12px 10px 4px;font:bold 12px Helvetica, Arial, sans-serif;color:#333;color:rgba(51,51,51,0.65);background: #D2E1E9;background:rgba(210,225,233, 0.35);}
th span {font-size:22px; color:#000;display:block;margin-left:-8px;}
tr {height:35px;}
tr.even {background: #D2E1E9;background:rgba(210,225,233, 0.35);}
.ie7 tr.even td {background:#eff5f7;}
.odd {background: #fff;}
th.header {cursor:pointer;}
table.non_bold td {font-weight:normal;}
.ui-datepicker-calendar th span {font-size:inherit;} /* ugh */

td {height:35px;border: 1px solid #eaeaea;text-align:center;font-weight:bold;font-size:14px;color:#333;vertical-align:middle;}
td.money {color:#390;}
td.money-debit {color:#A52A2A;}
td.money span {color:#033;font-size:9px;}
th.left, td.left {text-align:left;padding-left:15px;}
td.right {text-align:right;padding-right:15px;}
td.live {background: #ffa;}
tbody tr#adjustment td.right {text-align:right;padding-right:15px;background:#e0e0e0;color:#000;border:none;}
#adjustment td.right + td {background:#e0e0e0;color:#000; border:none;}

/* artwork generator */
.artwork-gen td, .artwork-gen tr {height:0;}
.overlay_default + div.dialog {height: 625px !important;}

/* table reset styles DCD */
table.plain {width:auto;float:none;border:0;padding:0;margin:0;}
table.plain td, table.plain th{font-weight:normal;font-size:1em;border:0;padding:0;margin:0;}
table.plain tr {height:auto;}

.inventory-detail{float:left;width:500px; margin:10px 0 20px;}
.inventory-detail h3{font-size:1.2em;line-height:1.2em;font-weight:bold;width:250px;float:left;clear:left; }
.inventory-detail h4{font-size:1.2em;line-height:1.2em;font-weight:normal;width:250px;float:left;clear:none;}


tfoot {background: #BCDCEB;}
tfoot tr {}

/* My Account Tables */

#my-account thead {height:49px;background:rgb(0,0,0) url(images/sprites/account_table_sprite.png) repeat-x 0 -41px;}

#my-account tfoot .total {font-size:18px;font-weight:bold;color:#fff;vertical-align:top;padding-top:15px;}
#my-account tfoot span {display:block;color:#7ACA4A;font-size:14px;}
#my-account tfoot .net-earnings {color:#7ACA4A;font-size:20px;text-align:right;}

.ie8 #my-account tfoot td.net-earnings {padding-right:20px;}

#my-account tfoot .net-earnings span {color:#fff;color:rgba(255, 255, 255, 0.65);font-size:12px;}
#my-account tfoot .net-earnings span:first-child {font-size:9px;}
#my-account tfoot td {padding-top:5pxpx;}
#my-account tfoot td, #my-account thead th {border:none;color:#fff;color:rgba(255,255,255,0.65);background:none;font-weight:normal;}
#my-account tfoot td {padding:10px 0;background:rgb(0,0,0) url(images/sprites/account_table_sprite.png) repeat-x 0 -100px;}
#my-account thead th:first-child, #my-account tbody td:first-child, #my-account tfoot td:first-child {text-align:left;padding-left:30px;padding-right:60px;}
#my-account thead th:last-child, #my-account tbody td:last-child, #my-account tfoot td:last-child {text-align:right;padding-right:20px;}

#my-account td, #my-account tr {height:30px;}
#my-account .song-name {padding-left:50px !important;}
#my-account td {font-size:12px;padding:1px 14px 0 0;text-align:right;}
#my-account th.headerSortUp, #my-account th.headerSortDown { color: #7ACA4A; }

/* dashboard */
#recent-activities {}
#recent-activities h4 {text-align:left;margin:10px 0;}
#recent-activities h3 {border-top:1px solid rgba(0,0,0,0.1);font-size:18px;color:#003852;margin:10px 0;padding-top:10px;}

#dashboard {width:758px !important;padding-bottom:10px;}
#dashboard #balance {height:62px;background:url(images/backgrounds/dashboard_balance_bg.png) no-repeat;-moz-border-radius-topright:5px;-moz-border-radius-topleft:5px;-webkit-border-top-right-radius:5px;-webkit-border-top-left-radius:5px;}
#balance h5 {margin:20px 0 0 20px;font-size:16px;color:#003852;width:200px;float:left;}
#balance .balance {font-size:22px;color:#009900;font-weight:bold;margin:22px 50px 22px 95px;display:block;float:left;}
#balance .balance span, abbr.currency {color:#003852;font-size:14px;}
#balance .button {margin:15px 0 0 100px;}

/* state plaques */

.plaque {width: 718px; margin: 20px 18px; position: relative; -moz-border-radius:9px; -webkit-border-radius:9px; border-radius:9px;}

#states {padding:25px 0 35px 15px;margin-bottom:15px;position:relative;}
#states.selling {background: url(images/backgrounds/plaque_bg.png) no-repeat;padding-top:0;padding-bottom:25px;}
#states img {margin-right:5px;}
#dashboard canvas {margin-top:25px;}
#placard_1, #placard_2, #placard_3 {position:absolute;top:0;}
#my-account #placard_1, #my-account #placard_2, #my-account #placard_3 {top:30px;}
#placard_1 {left: 20px;}
#placard_2 {left: 260px;}
#placard_3 {left: 500px;}
#help_placard { background: #000; padding: 5px; display:none; position: absolute; width: 200px; top: 15px; left: 15px; border: 1px solid #000; }

#dashboard #p0 canvas {margin-left:3px;}
#dashboard #p2 canvas, #dashboard #p3 canvas {margin-left:5px;}

#dashboard #releases {margin:20px 0;clear:both;}

#dashboard #releases header {width:440px;margin-left:20px;float:left;}
#dashboard header h1 {font-size:16px;color:#003852;text-transform:uppercase;margin-bottom:2px;}
#dashboard header p {font-size:16px;color:#003852;color:rgba(0, 56, 82, 0.65);padding:0;clear:left;margin-bottom:10px;}
#dashboard header p span {font-weight:bold;color:#003852;}

#dashboard #releases ul {margin-left:2px;}
#dashboard #releases li {float:left;margin-left:37px;}
#dashboard #releases li img {width:100px;height:100px;}
#dashboard #releases li.add {width:100px;min-height:100px;}
#dashboard #releases li.add a {padding:0 70px 70px 0;opacity:0;filter:alpha(opacity=0);}
.ie7 #dashboard #releases li.add a, .ie8 #dashboard #releases li.add a  {color:#EFF3F6;}
@media screen and (-webkit-min-device-pixel-ratio:0) {#dashboard #releases li.add-album a {padding:0 25px 85px 0;}}
#dashboard #releases li .album_message {width:auto; height:auto;position:absolute;top:29px;}
#dashboard #releases li p {text-align:center;font-size:12px;font-weight:bold;color:#003852;margin-bottom:5px;padding:0;}
#dashboard #releases .add_albums {min-height:auto;background:url(images/backgrounds/add_album_album.png) no-repeat;}
#dashboard #releases .add_singles {min-height:auto;background:url(images/backgrounds/add_album_single.png) no-repeat;}
#dashboard #releases .add_ringtones {min-height:auto;background:url(images/backgrounds/add_album_ringtone.png) no-repeat;}
#dashboard .add {position:relative;}

/* dashboard state 1 virgin */
.plaque.state1 {margin:0;width:758px;background:#fff;}
#get-started {width:758px;background-color: #045F8C;background-image: -moz-linear-gradient(top, #045F8C, #3399CC);background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #045F8C),color-stop(1, #3399CC));filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#045F8C', EndColorStr='#3399CC');-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#045F8C', EndColorStr='#3399CC')";}
#get-started h1 {padding:15px 0 0 35%; color:#fff;font:bold 38px Helvetica, Arial, sans-serif;text-shadow:0px 1px 2px #333333}
#get-started li {display:inline-block;margin:0 46px 0;}
.ie7 #get-started li {float:left;}
#get-started span {display:block;font-weight:bold;font-size: 26px;text-align:center;margin-bottom:15px;}
#get-started-prices {background: #fff;margin:-10px 0 -9px;padding:15px 0 15px 90px;}
#get-started-prices a {text-decoration:none;color:#3096C8;}
#get-started-prices li {margin-right:124px;color:#3096C8;font-size:28px;font-weight:bold;display:inline-block;position:relative;padding:0 10px 10px;}
#get-started-prices li:last-child {margin-right:0;margin-left:15px;}
.ie7 #get-started-prices {background: #fff;height:40px;}
.ie7 #get-started-prices, .ie8 #get-started-prices {padding-left:0;}
.ie8 #get-started-prices li, .ie7 #get-started-prices li {margin:0 69px;padding-top:10px;padding-bottom:20px;}
.ie7 #get-started-prices li {float:left;padding-top:5px;}
#get-started-prices li span {color:#888;font-size:13px;position:absolute;top:20px;left:2px;}
.ie7 #get-started-prices li span, .ie8 #get-started-prices li span {top:35px;left:8px;}
.ie7 #get-started-prices li span {top:30px;}

#top-artists {margin-bottom:25px;}
#top-artists li {font-weight: bold;}
#top-artists li span {font-weight: normal;}

#dashboard-testimonial img {float:left;-moz-box-shadow: 2px 2px 3px #ccc;-webkit-box-shadow: 2px 2px 3px #ccc;box-shadow: 2px 2px 3px #ccc;}
#dashboard-testimonial blockquote, #dashboard-testimonial p {margin: 0 0 7px 67px;font: bold 12px Helvetica, Arial, sans-serif;}
#dashboard-testimonial p {font-weight:normal;}

#targeted-offer-sidebar {margin-bottom:25px;margin-top:25px;}
#targeted-offer-sidebar li {font-weight: bold;}
#targeted-offer-sidebar li span {font-weight: normal;}


/* dashboard slider */

.slider_wrapper {clear:left;}
.slider_wrapper h2 {margin: 0 0 10px 20px;float:left;}
.slider_wrapper h2 + div {position:relative;margin-bottom:15px;}

.scroll {margin:0 15px;height:170px;overflow:auto;overflow-x:hidden;position:relative;clear:left;background: #fff;border:1px solid #E0EBEF;}
.scrollContainer .panel {position:relative;left:-5px;margin-right:-15px;}
.panel-album {float:left;position:relative;}
.panel-album a {display:block;}
.panel-list {padding-top:25px;}

.navigation {list-style:none;position:absolute;top:-4px;right:-5px;z-index:2;}
.ie7 .navigation {top:-29px;zoom:1;}
.navigation li {display:inline;margin:0 0 0 3px !important;}
.navigation a {color:#000;text-decoration:none;padding: 7px 13px;background:#f6f6f6;border:1px solid #E0EBEF;border-bottom:none;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;}
.navigation a.selected {background:#fff;}
.navigation a.link {color:#41ADD8;text-decoration:underline;}

.add_links {position:absolute;bottom:0;right:-40px;width:150px;}
.add_links li {display:block;margin:0;padding:0;}
.scrollButtons {position:absolute;top:90px;cursor:pointer;}
.scrollButtons.left {left:-15px;top:22px;}
.scrollButtons.right {right:-14px;top:22px;}

.rounded-container {padding-bottom:10px;background: #eff5f7;background:rgba(210,225,233, 0.35);border:1px solid #c3c3c3;border:1px solid rgba(195,195,195,0.35);border:1px solid #c3c3c3; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.rounded-container p {padding:20px;margin-bottom:0;}
.rounded-container ul, .rounded-container h4 {margin: 10px 20px;}

.reflect {position:relative;}
.reflect img {width:100px;height:100px;-webkit-box-reflect:below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.78, transparent), to(white));}

/* Verify your account page */
#unverified p {font-size:18px;color:#003852;margin:15px 15px;}
#unverified #button-links {margin:20px 15px;}


/* AOD protoflow styles */
#protoflowContainer {border:5px solid #444;width:600px;margin-left:auto;margin-right:auto;}
#protoflow {width:auto;height:400px;border:0px solid red;}
.protoCaptions {display:none;}
.captionHolder {font-size:2.5em;color:#000;z-index:19;}
#aod_templates {overflow:visible !important;width:auto;height:400px;border: 0px solid red;}

/* AOD templates */
.beige-template {background: url(../images/artwork_template/beige_sprite.jpg) no-repeat;}
.black-template {background: url(../images/artwork_template/black_sprite.jpg) no-repeat;}
.blackgrunge-template {background: url(../images/artwork_template/blackgrunge_sprite.jpg) no-repeat;}
.blue-template {background: url(../images/artwork_template/blue_sprite.jpg) no-repeat;}
.brownpaper-template {background: url(../images/artwork_template/brownpaper_sprite.jpg) no-repeat;}
.grainy-template {background: url(../images/artwork_template/grainy_sprite.jpg) no-repeat;}
.grunge-template {background: url(../images/artwork_template/grunge_sprite.jpg) no-repeat;}
.ocean-template {background: url(../images/artwork_template/ocean_sprite.jpg) no-repeat;}
.paper-template {background: url(../images/artwork_template/paper_sprite.jpg) no-repeat;}
.yellow-template {background: url(../images/artwork_template/yellow_sprite.jpg) no-repeat;}

.outside-booklet {width:500px;height:255px;background-position: 0 0;position:relative;left:100px;}
.inside-booklet {width:500px;height:255px;background-position: 0 -275px;position:relative;left:100px;}
.traycards {width:500px;height:200px;background-position: 0 -549px;position:relative;left:100px;}
.template-container {border: 5px solid #ccc;margin:.5em 0 1.5em;}

#templates-container {position:relative;width:740px;}
#templates-container #outside-booklet-icon {position:absolute;top:26px;}
#templates-container #inside-booklet-icon {position:absolute;top:338px;}
#templates-container #outside-traycard-icon {position:absolute;top:648px;}
#templates-container #inside-traycard-icon {position:absolute;right:27px;top:648px;}

#templates-container h3 span {margin-left:123px;}
#customer-artwork img {position:absolute;top:30px;right:135px;height:255px;width:250px;}
.ie7 #customer-artwork img {top:31px;}

/* Artwork gallery styles */
span#colorblock {background:#ddd;}
img.textImage {cursor:move;}
div#thumbs_container {padding:5px;width:540px;height:235px;border:1px solid #333;}
#edit_image {margin:0px auto;border:1px solid #333;width:400px;height:400px;display:block;}
#suggested_artwork_container .suggested_artwork {width:320px;height:310px;display:block;float:left;border:solid 1px silver;margin:8px 15px 8px 0;-moz-border-radius:8px;-webkit-border-radius:8px;padding-top:8px;}
#suggested_artwork_container .dialog {border: solid black 1px;-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;background-color: white;padding: 16px 16px 25px;}
#suggested_artwork_container .default_title {display:none;}
#suggested_artwork_container .spinner-blue {margin: 132px 145px;}
#loading_preview #window_contents {width:600px;height:600px;border:3px dotted purple;}
#loading_preview #window_contents img {padding-top:284px;}
.suggested_cover_links {margin-top:4px;margin-left:108px;}

/* add artwork page */
#add-cover-art h2, #make-art h2 {font-size:24px;color:#003855;padding:15px;}
#add-cover-art p:first-child {padding-left:0;font-size:16px;color:#003855}
#add-cover-art p {padding-left:15px;}
#add-cover-art li {margin-bottom:5px;list-style:disc inside;}
#add-cover-art img {margin-left:15px;}
#artwork_area_flash {padding-left:10px;}
#make-art .button {margin:15px;}

/* promo/store images */
.large-brick {margin:30px 0;}
.small_promo_block { text-align:center;float:left;width:230px;height:170px;display:block;}
.small_promo_block h4 {margin:10px 15px;}

/* Add Songs */
#add-songs {position:relative;}
.new-button {position:absolute;bottom:30px;left:175px;}
#song-form #spinner {position:absolute;right:0;top:65px;}

#track-list {border:1px solid rgba(195,195,195,0.35);border:1px solid #c3c3c3; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#track-list li.odd {background-color:#EFF5F7;} /* this just looks wrong, but it's right! */
#track-list li.even {background-color:#fff;}
#track-list .button {height:24px; line-height:2.2 !important;font-size:12px;padding:0px 15px;}
#track-list .delete-button {background:none;color:#f00;text-decoration:underline; padding-left:0px;}
#track-list .edit-button {background:none;color:#41ADD8;text-decoration:underline;}
#track-list li {position:relative;padding:10px 10px 5px 15px;border-bottom:1px solid #c3c3c3; min-height:44px;}
#track-list li:last-child {border-bottom:none;}
#track-list li li {border-bottom:none;padding:0;min-height:0;}
#track-list .track-number {float:left;color:#333;font-size:14px;font-weight:bold;height:32px;margin:0 20px 10px 0px;}
#track-list .song-name {color:#333;font-size:14px;font-weight:bold;display:block;margin-bottom:-2px;}
#track-list .explicit-lyrics {font-size:10px;color:#f00; line-height: 12px; display:block; float:left;}
#track-list .track-actions {position:absolute;top:15px;right:5px;}
#track-list .file-name {float:left;font-size:11px;color:#666; text-align: right; margin:3px 10px 0 0px;padding: 0px; width: 122px;}
#track-list .artist-name {font-size:11px;color:#666; line-height:12px; display:block;}
span.artist-name-form {font-size:14px; font-weight: bold; color: #666; padding: 3px -20px; margin: 10px 5px 20px 5px;  line-height:12px; display:block; width: 400px;}
.artist-name-form label {margin-left: -50px;}

#track-list .isrc {font-size:10px; color:#999; line-height: 12px; display:block;}
#track-list .even {height:auto;}
#track-list .song-data { position: absolute; height: 32px; width: 350px; left:15px;}
#track-list .handle {font-size:12px;padding:2px;cursor:move;margin-right:5px;position:absolute;left:10px;top:15px;display:none; width:2px;}
#track-list li:hover {visibility:visible;}
#track-list br { font-size: 1px; line-height:1px; height: 1px;}
#track-list li:hover .rollover-hide {display:inline;}
#track-list .formError {background-color:#EFF5F7;padding-top:4px;}
#reorder {display:none;}
#control-block {width: 600px; height: 15px; border: 0px; display: block;}
#song-form .song-file {position:absolute;bottom:21px;left:113px;}
#track-list .error { position: absolute; top: 53px; left: 45px;}
#track-list .song-error {margin: 50px 25px 5px 25px; display:block;color:#f00;font-weight:bold;padding:2px 4px;}

.song-upload { margin-top:55px; margin-left: 30px;}
.song-upload object { margin-left: -8px;}
#track-list .song-upload li { border-bottom: none; margin: 2px 0px; padding: 0; min-height: 15px;}
#track-list .song-upload ol { border-bottom: none; margin-bottom: 5px; margin-left: 10px; padding: 0;}
#track-list .song-upload p { margin-bottom: 5px; padding: 0;}

/* Products/Store */
#product-page img, #promotion-page img {margin:15px 0;}
.promotion-listing, .product-listing {margin-bottom:20px;}
#past-promotions {margin-top:1em;}

/* Widget pages */
#flashcontent {margin-left:20px;}
#flashmovie div {margin-top:10px;}
#runtime-aside {position:absolute;right:-190px;top:0;}
.widget-copy {margin-left:430px;}
.widget-instruction {margin-bottom:20px;height:305px;}
.widget-instruction p img {position:relative;top:3px;}
.widget-instruction.share {height:240px;}
.widget-alert {font-size:16px;color:#003855;margin:50px 0 0;}

#widget textarea {float:right;margin:-1px 20px 0 0;height:160px;width:400px;}

/* Tutorial pages */
#tutorial table {border:none;}
h3+h4 {margin-top:0;}

/* Credit card pages */
.security-code {position:relative;bottom:40px;left:20px;}
.secure-image {float:right;position:relative;bottom:23px;}
caption {text-align:left;font-size:20px;color:#64bb33;margin:10px 0;font-weight:bold;}
p.caption {text-align:left;margin:0 0 0 10px;padding:0;}
@media screen and (-webkit-min-device-pixel-ratio:0) {caption{padding-top:10px;margin-top:0;}}

/* discography */
.disco {background: #eee;margin:0;padding:7px;}
.discography-cover {border:1px solid #ccc;width:25px;height:25px;margin:4px 0 0;}

/* artwork tool */
#suggested_artwork_container .suggested_artwork img {padding:2px 0 0 11px;}

/* dcomb / bandpage */
#band-page {position:relative;}
#band-page h1 {width:275px;float:left;}
#band-page h2 {font-size:22px;margin-bottom:15px;}
#band-page h5 {margin:0;}
#band-page p {font-size:12px;color:#666;}
#band-page #edit-link {position:relative;top:26px;*zoom:1;}
#band-photo {float:left;margin:0 22px 10px 0;}

#dcomb-widget-horiz {margin-bottom:20px;clear:left;}
#dcomb-widget-horiz object {margin: 20px 0 20px 120px;}
#dcomb-widget-vert object {margin: 20px 0 20px 50px;}

#albums {padding:0;}
.dcomb-album div {border:1px solid #ddd;height:158px;width:158px;float:left;margin-left:8px;}
.dcomb-album > div img {height:158px;width:158px;}
.dcomb-album {height:170px;overflow:hidden;margin:10px 0;}
.dcomb-album .genre, .dcomb-album .release {color:#999;font-size:12px;float:right;position:relative;bottom:16px;right:8px;}
.dcomb-album .artist {color:#333;font-size:12px;font-weight:bold;}

.dcomb-album .album-details, .dcomb-album .album-songs {margin-left:180px;margin-bottom:2px;}
.dcomb-album .album-songs {width:451px;max-height:100px;overflow:auto;border:1px solid #ccc;}
.dcomb-album .album-songs .song {color:#333;font-size:12px;padding:0 0 0 3px;}
.album-songs .song .various {font-style:italic;}
.song.even, .song.odd, .dcomb-album.even, .dcomb-album.odd {height:inherit;}
.song.even, .dcomb-album.odd {background:#EFF5F7;} /* this just looks wrong, but it's right! */
.song.odd, .dcomb-album.even {background:#fff;}

#band-aside h3, #dcomb-widget-horiz h3 {font-size:18px;font-weight:bold;color:#003852;margin-bottom:3px;}
.accented {margin-bottom:20px;padding:8px 7px;background-color:#eff5f7;outline:1px solid #C3C3C3;-moz-outline-radius:5px;-webkit-outline-radius:5px;outline-radius:5px;overflow:auto;width:100%;}
#external-link.accented, #dcomb-widget-vert, #dcomb-widget-horiz {width:auto;}
.ie7 #external-link.accented {background-color:#eff5f7 !important;}

/* seven-up (i.e., go away ie6) */
#sevenUpOverlay {opacity:0.75;}
#sevenUpLightbox li a {font-size:20px;position:relative;height:1%;left:6px;bottom:18px;}
#sevenUpLightbox p {font-size:14px;color:#000;}

/* account history */
.buttonset {border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border:1px solid #2A7F00;display:inline-block;}
.ie7 .buttonset {border:none;}
.buttonset .key {background:#5DAF2B;cursor:default;}
.buttonset a {text-shadow: #2a7f00 0 1px 1px;border-right:1px solid #2A7F00;padding:0 4px;float:left;height:30px;color: #fff;text-decoration:none;font:regular 12px Helvetica, Arial;line-height:2.3 !important;background:#64BC2D url(images/sprites/buttons_sprite.png) repeat-x right 0;cursor:pointer;}
.buttonset a:hover {background-image:none;}
.corner-right {border-right:none !important;}

/* Sidebar modules */
#sidebar {font-size: 95%;}
#sidebar h3 {margin-bottom:7px;font-size:16px;color:#003855;}
#sidebar p {margin-bottom:10px;}
#sidebar ol {padding-left:20px;}
.ie7 #sidebar ol {padding-left:30px;}
#sidebar ol li {margin-bottom:0;list-style-position:outside;}
#sidebar .thumbnail-ad {text-align:right;}
#sidebar .thumbnail-ad .price-details {padding-right:0;font-size:8px;}

#account-overview {margin-bottom:15px;}
#account-overview h2 {margin-top:0;border-bottom:1px solid #ccc;padding-bottom:10px;}
#account-overview ul {margin-bottom:10px;}
#account-overview li {width:50%;float:left;}
#account-overview .resetli li {width:100%;float:none}
aside h3, #order-history h3 {color:#003855;font-size:16px;clear:left;}
#order-history h3 {font-size:15px;float:left;}
#order-history h2 {margin-top:15px;}
#order-history time {float:right;font-size:12px;color:#555;}
#order-history p {margin:0;padding:0;}
#order-history ul {margin:25px 0 10px;clear:both;}
#order-history li {margin-bottom:0;}
#order-history .rounded-container {padding:10px 15px;margin-bottom:15px;}
#order-history .total {background:#fff;}

.whathappens ul {list-style:disc inside;margin-bottom:15px; margin-left: 10px;}
.whathappens div {margin: 25px 10px;}
.whathappens img {float:right; margin: 15px;}
.whathappens h2 {margin-bottom: 15px;}
.whathappens h3 {margin-top: 25px; margin-bottom: 10px;}

.history-item {margin-bottom:15px;background: #eff5f7;background:rgba(210,225,233, 0.35);border:1px solid #c3c3c3;border-bottom:none;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;border-top-left-radius:3px;}
.history-item div {padding:10px 15px 0;}
.history-item .total {font-weight:bold;border-bottom: 1px solid #c3c3c3;border-top:1px dotted #c3c3c3;padding:5px 15px !important;}
.history-item .total span {float:right;}

/* js style guide */
.style-suggestion {width:285px;margin:0;padding:4px 8px;border:1px solid #666;position:absolute;left:0;bottom:22px;color:#333;font-size:12px;font-weight:bold;background:rgba(255,255,0, 0.75);z-index:9;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 2px 2px rgba(159,159,159, 0.8);-webkit-box-shadow:0 2px 2px rgba(159,159,159, 0.8);box-shadow:0 2px 2px rgba(159,159,159, 0.8);}
.ie8 .style-suggestion, .ie7 .style-suggestion {background: #ff0;}
.ie7 .style-suggestion {bottom:28px;}

/* cms */
.image-cms { display: block; float: left; margin: 10px; width: 450px; clear: left;}
.image-caption { background: #eff5F7; display: block; float:right; text-align: right; padding: 20px; margin: 100px 50px; border: 1px solid #333;}
.cms-del {color: #f00; font-weight: bold;}


/* Temporary Class For the Invoice Show page that will be going away soon */
.invoice-table div {font-weight:normal;}
.invoice-table div img {display:none;}
.invoice-table div p {font-weight:normal;}
.invoice-table div {border:none;background-color:none;}
.invoice-table div .product-name {display:inline;font-weight:normal;}
.invoice-table div .album-name {display:inline;padding:0;}
.invoice-table div .album-store-list {padding-top:9px;}

/* manage salepoints admin */
#manage-salepoints .store-group h3 {font-size:18px;float:left;margin-right:25px;}
#manage-salepoints .individual-stores h4 {font-size:16px;}
#manage-salepoints .select h4 {float:left;}
#manage-salepoints form {clear:both;}
#manage-salepoints strong {float:right;font-size:16px;position:relative;right:121px;bottom:-33px;margin-left:121px;}
#manage-salepoints li {height:55px;}
#manage-saleponits li:last-child {height:auto;}
#manage-salepoints .select .ui-selectmenu {float:right;margin:0 0 0 10px;}
#manage-salepoints .individual-stores {margin:-32px 0;}
#manage-salepoints .toggle {position:relative;top:2px;}
#manage-salepoints .all-select {padding-top:20px;}
.submit-li {float:right;}

#store-controls {margin-top:40px;position:relative;top:25px;}

/* sitemap */
#sitemap li {margin-left:15px;}

/* creating account */
#creating-account {margin:0 auto;width:400px;}
#creating-account h2 {float:left;}
#creating-account p {clear:left;}
#creating-account img {margin: 8px 0 0 15px;}

/* create stored bank account */

.stored-bank-account input[type=text], .stored-bank-account input[type=password] {width:280px;}
.stored-bank-account input[type=text].small {width:150px;margin-right:130px;}
#stored_bank_account_state_list_item label {width:194px;}
#stored_bank_account_account_holder_type_list_item label,#stored_bank_account_account_type_list_item  label   {width:220px;}
#stored_bank_account_account_holder_type_list_item,#stored_bank_account_account_type_list_item {width:530px;}
.stored-bank-account .formError, .stored-bank-account .contextual-help, .stored-bank-account label.error {position:absolute;left:323px;}
.stored-bank-account label {display: inline-block}
.stored-bank-account li.stored-bank-submit {margin-top: 20px; margin-bottom:30px;}
fieldset.stored-bank-account ul {padding-top:10px;padding-right:20px;}
fieldset.stored-bank-account ul fieldset {padding-top:10px;padding-right:340px;background-color:#e4eef1;}
li.form-divider {width:100%;margin:0px 0 10px;}
li.form-divider h2 {color:#37952E;margin-bottom:4px;font-size:22px;}
li.form-divider h3 {color:#666; font-weight:normal;width:58%; font-size:16px;line-height:20px;}
.ie7 #stored_bank_account_state_list_item, .ie8 #stored_bank_account_state_list_item {padding-left: 26px; padding-right: 0px;}

/* withdraw funds */
#withdrawal-page label span{display:inline}
#withdrawal-page {float:left; margin-top:0px; margin-bottom:20px;width:580px;}
#withdraw-side {float:right; padding: 30px 0 0 0; margin:0;}
.bank-withdrawal-list {margin-left:30px;margin-bottom:10px;}
.bank-withdrawal-list h3 {margin-bottom:8px;}
.balance-pending-withdrawal {margin-bottom:15px;line-height:15px;}
.money {color:#390;}
.money-debit {color:#A52A2A;}
#check-withdrawal label {display: inline-block}
#confirm-bank-withdrawal {padding:20px}
#withdraw-home #withdraw-side {float:left; margin-bottom:0;padding-bottom:0;}
#withdraw-home p.info {width:100%;}
#withdrawal-page ul {float:left;margin-left:20px;}
#withdrawal-page li {float:left;clear:left;text-align:left;}
#withdrawal-page .comment {padding-left:24px;margin-top:-2px;}
#withdrawal-page li.submit {padding:10px 0 0 25px;}
.thank-you h4 {color:#37952E; font-size:22px; margin-bottom: 30px;}
/*#withdrawal-page table td {border:none;text-align:left; font-weight:normal;font-size:12px;}*/
#withdrawal-page .withdrawal-label {margin:0;}
/* EFT withdrawal */
#eft-withdrawal label{padding-left: 200px;}
#eft-withdrawal span{float:right; padding-right: 25px; font-weight: bold;}
.ie8 #bank-account-withdraw label.current-balance,.ie7 #bank-account-withdraw label.current-balance {padding:0;margin:0;margin-right:152px;}
li#eft_batch_transaction_amount_from_form_list_item label{float:left;}
#bank-account-withdraw input[type=text]{width:177px;}
#eft_batch_transaction_amount_list_item label {display: inline-block;}
.bottom-border {border-bottom: solid 1px black;}
#bank-account-withdraw .contextual-help,#bank-account-withdraw label.error {left:200px;}
#bank-account-withdraw label.error {padding-left:50px;}
.print-only {display:none;}
#stored_bank_account_state_list_item {padding-right:78px;}
.comment {font-size:12px; color:#333;}
.comment span {padding-left:20px;}
.fee {color:red;}
li.disabled label, li.disabled span.fee, li.disabled .comment {color:#999;}
.disabled-show {display:none;}
li.disabled .disabled-show {display:inline;}
h4.cancel-link {margin-left:0;}
p.eft-confirm{font-size:14px;line-height:22px;}
label.disclaimer {font-size:13px;font-weight:normal; text-align:left;}
.strong-black {font-weight:bold;color:#333;}
.withdrawal-pending {font-weight: bold;font-size: 14px }
/* soundcloud */
#soundcloud-connect, #soundcloud-disconnect {display:block; height:24px; position:absolute; right:0; text-indent:-9999px; top:2px;}
#soundcloud-connect {background: url(../../images/scc-connect-small.png) 0 0 no-repeat; width:200px;}
#soundcloud-disconnect {background: url(../../images/scc-disconnect-small.png) 0 0 no-repeat; width:220px;}
.soundcloud-success, .soundcloud-error {margin:4px;}
.success-button, .error-button {float:right; margin:0;}
#soundcloud {}
#soundcloud .track {display: block; border-bottom: 1px solid #eee; margin: 10px;}
#soundcloud h1 {font: bold 16px Helvetica, Arial;color:#37952E; margin: 0px 0px 30px 0px;}
#soundcloud h2 {font: bold 16px Helvetica, Arial; margin: 5px 0px 2px 0px;}
#soundcloud ul {margin-top: 5px; padding-top: 5px;}
#soundcloud p {margin: 2px 0px;}
#soundcloud .pagination { margin: 0px auto; width: 200px;}
#soundcloud .logo {position: absolute; top: 10px; right: 50px;}
#soundcloud .button {float: right; margin: -50px 10px 10px 10px; color: #fff; font: bold 12px Helvetica, Arial; height: 20px; line-height:1.8 !important;}
#soundcloud-tracks {height:513px; overflow:auto;}

.grid_5 p + p {padding-top:0;}
.grid_5 p {padding: 15px 20px;}

.product-list {padding-bottom:1px;}
