@charset "utf-8";
/* CSS Document */

/*#container{ width:640px; display:table; margin:0 auto; padding:0px; font-family:Helvetica, Arial, sans-serif;}*/

#fH2{ font-size:36px; color:#222222; display:inline; margin-left:3px; float:left; margin-bottom:3px; margin-top:25px; text-shadow:none!important;}
#fH3_b{ display:inline-block; color:#222222; font-size:20px; margin-left:4px; margin-bottom:10px;}
#graphic_intro{ width:640px; height:500px; background:url(../img/fb_graphic.jpg) no-repeat 0px 0px; display:block; float:left;
background-color:#7fae41; margin-bottom:15px; margin-left:4px;}
#hiddenInfo{ display:none;}
.FB_graphic_1{ width:410px; display:block; float:left; margin-left:110px; margin-top:3px; font-size:22px; font-weight:bold; color:#222222;}
.FB_step1{ width:180px; display:block; float:left; margin-left:25px; margin-top:155px; font-size:12px; color:#222222; border:none; padding:3px;}
.FB_step{ width:180px; display:block; float:left; margin-left:5px; margin-top:155px; font-size:12px; color:#222222; border:none; padding:3px;}
.FB_h3s{ display:inline; float:left; width:635px; color:#222222; font-size:24px; margin:3px;}
#FB_servicesTable{ width:630px; display:block; float:left; margin:3px; padding-top:40px; font-family:Helvetica, Arial, sans-serif;
color:#222222; font-size:12px; margin-bottom:27px; background:url(../img/mostPopular.png) no-repeat 279px 0px;
border-bottom:2px solid #222222; padding-bottom:15px;}
.hmFans{ text-align:center; width:80px; background-color:#FFFFFF; border:1px solid #FFFFFF; -moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px; -khtml-border-radius:5px 5px 5px 5px; -ms-border-radius:5px 5px 5px 5px; border-radius:5px 5px 5px 5px;
 font-weight:bold; height:30px;}
.whPlan{ text-align:center; padding:3px; width:80px; background-color:#FFFFFF; border:1px solid #FFFFFF;}
.hmMesssages{ text-align:center; padding:3px; width:80px; background-color:#FFFFFF; border:1px solid #FFFFFF; font-size:11px;}
.FB_costs{ text-align:center; padding:1px; width:80px; font-size:15px; font-weight:normal; background-color:#FFFFFF; border:1px solid #FFFFFF;
height:20px!important;}
.FB_orderNow{ text-align:center; padding:3px; width:80px; background-color:#FFFFFF; border:1px solid #FFFFFF;}

#the5Reasons{ width:633px; float:left; display:block; color:#222222; height:610px; margin:3px; margin-bottom:12px; padding-top:15px;
border-top:2px solid #222222; border-bottom:2px solid #222222; padding-bottom:10px; }
#the5Reasons h2{ width:625px; display:block; color:#222222; font-size:24px; margin-left:3px; margin-bottom:7px; padding:0px; margin-top:0px;
text-align:left; line-height:26px;}

#aReason{ width:625px; font-size:12px; display:block; float:left; margin-left:3px; margin-bottom:5px;}
#reasonGraphic{ width:200px; border:2px solid #8ABD3E; display:block; float:left; margin:3px; height:95px;}
.reasonDesc{ display:block; float:left; margin:3px; width:385px;}

#getMoreFans{ width:633px; display:block; float:left; margin:3px; margin-bottom:10px; padding:0px; color:#222222;
font-family:Helvetica, Arial, sans-serif!important;}
#getMoreFans h2{ width:625px; display:block; color:#222222; font-size:24px; margin-left:3px; margin-bottom:7px; padding:0px; margin-top:0px;
text-align:left; line-height:26px;}

#FB_gmf{ width:300px; display:block; float:left; margin:3px; padding:3px; font-size:12px; height:266px;}
#gmfGraphic{ border:2px solid #8ABD3E; display:block; float:left; width:290px;}
.gmfDesc{ display:block; float:left; margin:3px; margin-top:6px; text-align:left; font-weight:normal;}

#exciteYourFans{ width:633px; display:block; float:left; margin:3px; margin-bottom:10px; padding:0px; color:#222222;
font-family:Helvetica, Arial, sans-serif!important;}
#exciteYourFans h2{ width:625px; display:block; color:#222222; font-size:24px; margin-left:3px; margin-bottom:7px; padding:0px; margin-top:0px;
text-align:left; line-height:26px;}

#keepFansEngaged{ width:633px; display:block; float:left; margin:3px; margin-bottom:10px; padding:0px; color:#222222;
font-family:Helvetica, Arial, sans-serif!important;}
#keepFansEngaged h2{ width:625px; display:block; color:#222222; font-size:24px; margin-left:3px; margin-bottom:7px; padding:0px; margin-top:0px;
text-align:left; line-height:26px;}

.lightbox_link{ font-weight:bold; font-size:13px; color:#517F35; text-decoration:underline; display:block;}
.lightbox_link:hover{ text-decoration:none;}

/*green boxes stuff*/
.promofrag {background-color:#F1F1F1; float:left; height:184px; margin-bottom:25px; margin-top:10px; margin-left:5px; margin-right:5px;
width:200px;}
.promofrag p {font-size:11px; line-height:18px; margin:2px 6px 8px 8px; padding:0;}
#featuredClients{ width:630px; display:block; float:left; margin:3px; border-bottom:2px solid #222222; padding-bottom:20px;}
#featuredClients span{ font-weight:bold; font-size:13px; display:block; margin:3px; color:#333333;}
#eCampaigns{ width:630px; display:block; float:left; margin:3px; border-top:2px solid #222222; padding-top:10px; padding-bottom:10px;}
.tableLink{ font-size:15px; font-weight:bold; color:#222222; text-decoration:underline;}
#plan_includes{ display:block; float:left; width:270px;}
#include{ display:block; float:left; clear:both; width:250px; height:20px; padding:5px; font-size:13px!important; font-weight:bold;
background:url(../img/bg_includes.png) no-repeat 0px 0px; margin:3px; text-align:center; margin-left:30px;}
#include2{ display:block; float:left; clear:both; width:250px; height:75px; padding:5px; font-size:13px!important; font-weight:bold;
background:url(../img/bg_includes2.png) no-repeat 0px 0px; margin:3px; text-align:left; margin-left:30px;}
.getStarted{ width:257px; height:60px; background:url(../img/getStarted.png) no-repeat 0px 0px; display:block; float:left; margin-left:30px;
margin-top:0px; margin-bottom:0px;} /*edited*/
.getStarted:hover{ background:url(../img/getStarted_h.png) no-repeat 0px 0px;}
/*tooltips*/
.tooltip1:hover{z-index:999;}
.tooltip1 span{display:none;}
.tooltip1:hover span { display:block; position:absolute; top:705px; left:150px; width:250px; padding:5px;
background-color:#FFFFCC; color:#333333; font-family:Verdana, Tahoma; font-size:11px; border:1px solid #FFCC66; box-shadow:2px 2px 7px #777777; -moz-box-shadow:2px 2px 7px #777777; -webkit-box-shadow:2px 2px 7px #777777; text-align:left;
-moz-border-radius:3px 3px 3px 3px; -webkit-border-radius:3px 3px 3px 3px; -ms-border-radius:3px 3px 3px 3px; -khtml-border-radius:3px 3px 3px 3px; border-radius:3px 3px 3px 3px; clear:none;}
.tooltip2:hover{z-index:999;}
.tooltip2 span{display:none;}
.tooltip2:hover span { display:block; position:absolute; top:705px; left:240px; width:250px; padding:5px;
background-color:#FFFFCC; color:#333333; font-family:Verdana, Tahoma; font-size:11px; border:1px solid #FFCC66; box-shadow:2px 2px 7px #777777; -moz-box-shadow:2px 2px 7px #777777; -webkit-box-shadow:2px 2px 7px #777777; text-align:left;
-moz-border-radius:3px 3px 3px 3px; -webkit-border-radius:3px 3px 3px 3px; -ms-border-radius:3px 3px 3px 3px; -khtml-border-radius:3px 3px 3px 3px; border-radius:3px 3px 3px 3px; clear:none;}
.tooltip3:hover{z-index:999;}
.tooltip3 span{display:none;}
.tooltip3:hover span { display:block; position:absolute; top:705px; left:330px; width:250px; padding:5px;
background-color:#FFFFCC; color:#333333; font-family:Verdana, Tahoma; font-size:11px; border:1px solid #FFCC66; box-shadow:2px 2px 7px #777777; -moz-box-shadow:2px 2px 7px #777777; -webkit-box-shadow:2px 2px 7px #777777; text-align:left;
-moz-border-radius:3px 3px 3px 3px; -webkit-border-radius:3px 3px 3px 3px; -ms-border-radius:3px 3px 3px 3px; -khtml-border-radius:3px 3px 3px 3px; border-radius:3px 3px 3px 3px; clear:none;}
.tooltip4:hover{z-index:999;}
.tooltip4 span{display:none;}
.tooltip4:hover span { display:block; position:absolute; top:705px; left:420px; width:250px; padding:5px;
background-color:#FFFFCC; color:#333333; font-family:Verdana, Tahoma; font-size:11px; border:1px solid #FFCC66; box-shadow:2px 2px 7px #777777; -moz-box-shadow:2px 2px 7px #777777; -webkit-box-shadow:2px 2px 7px #777777; text-align:left;
-moz-border-radius:3px 3px 3px 3px; -webkit-border-radius:3px 3px 3px 3px; -ms-border-radius:3px 3px 3px 3px; -khtml-border-radius:3px 3px 3px 3px; border-radius:3px 3px 3px 3px; clear:none;}
.tooltip5:hover{z-index:999;}
.tooltip5 span{display:none;}
.tooltip5:hover span { display:block; position:absolute; top:705px; left:510px; width:250px; padding:5px;
background-color:#FFFFCC; color:#333333; font-family:Verdana, Tahoma; font-size:11px; border:1px solid #FFCC66; box-shadow:2px 2px 7px #777777; -moz-box-shadow:2px 2px 7px #777777; -webkit-box-shadow:2px 2px 7px #777777; text-align:left;
-moz-border-radius:3px 3px 3px 3px; -webkit-border-radius:3px 3px 3px 3px; -ms-border-radius:3px 3px 3px 3px; -khtml-border-radius:3px 3px 3px 3px; border-radius:3px 3px 3px 3px; clear:none; z-index:999;}
.tooltip6:hover{z-index:999;}
.tooltip6 span{display:none;}
.tooltip6:hover span { display:block; position:absolute; top:705px; left:600px; width:250px; padding:5px;
background-color:#FFFFCC; color:#333333; font-family:Verdana, Tahoma; font-size:11px; border:1px solid #FFCC66; box-shadow:2px 2px 7px #777777; -moz-box-shadow:2px 2px 7px #777777; -webkit-box-shadow:2px 2px 7px #777777; text-align:left;
-moz-border-radius:3px 3px 3px 3px; -webkit-border-radius:3px 3px 3px 3px; -ms-border-radius:3px 3px 3px 3px; -khtml-border-radius:3px 3px 3px 3px; border-radius:3px 3px 3px 3px; clear:none; z-index:999;}
.newTooltip:hover{z-index:999;}
.newTooltip span{display:none; font-weight:normal!important;}
.newTooltip:hover span { display:block; position:relative; top:10px; left:120px; width:250px; padding:5px;
background-color:#FFFFCC; color:#333333; font-family:Verdana, Tahoma; font-size:11px; border:1px solid #FFCC66; box-shadow:2px 2px 7px #777777; -moz-box-shadow:2px 2px 7px #777777; -webkit-box-shadow:2px 2px 7px #777777; text-align:left;
-moz-border-radius:3px 3px 3px 3px; -webkit-border-radius:3px 3px 3px 3px; -ms-border-radius:3px 3px 3px 3px; -khtml-border-radius:3px 3px 3px 3px; border-radius:3px 3px 3px 3px; clear:none; z-index:999}
