@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:100,300,400,400italic,700|Open+Sans:300,400,700");
.content > header {
  background: url('../images/fan_reviews/tophero.jpg') no-repeat center center;
  background-size: cover;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 60px;
}
.content > header h1 {
  font-family: Lato, sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.5;
}
.content .button-header {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #ff8a00;
  border: 1px solid #ff8a00;
  border-radius: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  padding: 1em 3em;
}
.content .button-header:hover,
.content .button-header:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.content .button-header:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.content .compare_link {
  display: block;
  font-size: 1rem;
  margin-top: 1rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.product-header .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.product-slogan {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
@media (min-width: 40em) {
  .content > header {
    padding-top: 127px;
  }
  .product-header .columns {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.product-description {
  background: url('../images/fan_reviews/middlebg.jpg') no-repeat center center;
  background-size: cover;
  font-family: Lato, sans-serif;
  padding: 60px 0;
  text-align: center;
}
.product-description p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 15px;
}
@media (min-width: 40em) {
  .product-description p {
    padding: 15px 100px;
  }
}
.product-features {
  background-color: #323334;
  background-size: cover;
  color: #ffffff;
  font-family: Lato, sans-serif;
  padding: 60px 0;
}
.product-features .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.product-features-image {
  float: left;
  margin-bottom: 30px;
}
.product-features-list {
  padding: 0 2rem;
}
.product-features-list ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  list-style: disc;
  padding-left: 2rem;
}
.product-features-list li {
  padding: 5px 0;
}
@media (min-width: 40em) {
  .product-features .columns {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .product-features-image {
    margin-bottom: 0;
  }
}
.product-buy {
  background: url('../images/fan_reviews/bottombg.jpg') no-repeat center center;
  background-size: cover;
  font-family: Lato, sans-serif;
  padding: 60px 0;
  text-align: center;
}
.product-buy h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.product-tiers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 77px;
  margin-bottom: 30px;
}
.product-tier {
  background-color: #ffffff;
  border-radius: 3px;
  margin: 1rem;
  padding: 1rem 2.5rem;
  position: relative;
}
.product-tier .anr_consideration {
  background-color: #fff570;
  font-size: .875rem;
  left: 0;
  margin-top: -67px;
  padding: 10px;
  position: absolute;
  top: 0;
}
.product-tier .fa-star {
  color: #2d7bae;
  font-size: 1rem;
}
.product-tier h4 {
  color: #2d7bae;
  font-family: 'Georgia', serif;
  font-size: 1.625rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 10px;
}
.product-tier p {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  line-height: 2;
}
.product-tier a {
  font-size: .75rem;
}
@media (min-width: 40em) {
  .product-buy h3 {
    margin-bottom: 60px;
    padding: 0 130px;
  }
  .product-tier {
    margin: 0 2rem;
  }
}

/*# sourceMappingURL=source/fanreviews.css.map */
