td.rollout {
  text-align: left;
  width: 25%;
  padding: 5px;
}
input[type=submit].rollout {
  width: 100px;
  margin-left: 10px;
}
select.rollout {
  width: 55px;
  margin-right: 25px;
}
.disclaimer {
  font-size: 14px;
  color: red;
}
.simplemodal-container {
  height: auto !important;
}
input[type=text] {
  width: 250px;
  margin-left: 10px;
}

/*# sourceMappingURL=source/feature_flipper.css.map */
