.content > header {
  background-color: transparent;
  margin-bottom: 24px;
  padding-top: 30px;
  padding-bottom: 0;
}
.content > header h1 {
  color: #333333;
  line-height: 1.25;
  padding-bottom: 12px;
}
.content > header .divider {
  border-bottom: 3px solid #333333;
}
.content h1 {
  font-size: 2.66em;
}
.content p {
  font-size: 1.15em;
  padding-bottom: 24px;
}
.content > footer {
  background-color: #e6e6e6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 60px;
  padding: 24px 0;
}
.content > footer p {
  font-size: 2em;
  font-weight: 200;
  line-height: 1.25;
}
.content > footer .button {
  display: inline-block;
  padding: 0.75em 1.5em;
  margin-top: 0;
  background-color: #e7790e;
  color: #FFF;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 1.15em;
  font-style: normal;
  font-weight: bold;
  /* .transition(all 0.2s ease-in-out); */
  text-transform: uppercase;
}
.content > footer .button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #e7790e;
}
.content > footer .button:active {
  box-shadow: 0px 0px 40px #e7790e;
}
.tc_vs_competitors {
  margin-bottom: 24px;
}
.tc_vs_competitors .col-feature {
  width: 214px;
}
.tc_vs_competitors thead th {
  background-color: #EFEFEF;
  border: 1px solid #b5b5b5;
  font-weight: 700;
  padding: 20px 10px;
  text-align: center;
}
.tc_vs_competitors thead .feature {
  background-color: #E0E0E0;
  text-align: left;
}
.tc_vs_competitors thead .tc_indmusic {
  background-color: #C4DAE7;
}
.tc_vs_competitors tbody th {
  background-color: #EFEFEF;
  border: 1px solid #b5b5b5;
  font-weight: 700;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}
.tc_vs_competitors tbody th a {
  font-family: inherit;
  font-style: normal;
}
.tc_vs_competitors tbody th + td {
  background-color: #D0E6F4;
}
.tc_vs_competitors tbody td {
  border: 1px solid #b5b5b5;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
.tc_vs_competitors tfoot p {
  font-size: 1em;
  line-height: 1;
  padding: 12px 0;
}
@media screen and (min-width: 960px) {
  .content > header {
    margin-bottom: 48px;
    padding-top: 122px;
  }
}

/*# sourceMappingURL=source/get_more_from_youtube.css.map */
