/* layout */
#header, .footer {width:1000px !important;}
#maincontent {width: 940px !important;}

h1 {color:#369;font-weight:bold;font-size: 2.25em; margin: 0 0 .2em;}
h3 {color:#369;font-weight:bold;font-size:1.6em;margin:0 0 15px;text-align:right;}

#sidebar {width: 315px;text-align:center;font-family: Arial, Helvetica, sans-serif;}
#sidebar #logo {margin: 0 auto;}
#sidebar #signup {margin: 0 auto 5px;}
#sidebar h3 {margin: 10px 0;padding: 0 25px; text-align:center;color: #5A5A5A; font-size: 1.4em;}
#sidebar h4 {color: #003466;font-size:1.3em;text-align: center; border-top: 1px solid #ccc;padding: 10px 0 15px;}
#sidebar ul {padding: 0;margin:0;text-align:left;list-style-type:none;}
#sidebar li {padding: 0 0 20px 37px;font-size:1.2em;font-weight:bold;}
#sidebar .sprite {background: url(../images/index/gtaiv/sprite.png) no-repeat;}
#sidebar .distribute {background: url(../images/index/gtaiv/sprite.png) no-repeat 0 0;}
#sidebar .royalties {background-position: 0 -100px;}
#sidebar .rights {background-position: 0 -200px;padding-top: 5px;}
#sidebar .account {background-position: 0 -300px;}
#sidebar .streams {background-position: 0 -400px;}
#sidebar li.account p {color: #444;font-size: .9em;padding: 0;}
#sidebar #newsletter-signup {width:240px;border: 2px solid #676767;background-color: #eee;padding: 10px 0;margin: 0 auto;}
#sidebar #newsletter-signup h5 {font-weight: bold; font-size: 1.5em;text-align: center;}
#sidebar #newsletter-signup div form div input {position:relative; left: 49px;}

#code-scratchoff {background: url(../images/index/gtaiv/promo_box_bg.jpg) no-repeat;height:304px;margin: 0 0 15px;width:511px;}
#code-scratchoff h3 {font: normal 2.6em Arial, Helvetica, sans-serif;color:#fccc00;text-align:center;position:relative;top:220px;}

#main-content {width:500px;margin: 0 35px 0 0;float:right;font-family: Arial, Helvetica, sans-serif;}
#main-content p, #main-content ol {font-weight:bold;font-size:1.3em;line-height:120%;padding-bottom:15px;}
#main-content h2 {color:#fff;font: normal 2.2em Arial, Helvetica, sans-serif;text-align:center;padding: 5px 49px 0;}

#get-code input {text-align:center;margin: 195px 216px;}

#gta-fine-print {padding: 0 0 0 32px;}
#gta-fine-print p, #gta-fine-print ul {font-size: 1em;font-weight:normal;}
#gta-fine-print ul {margin-left: 1em;}

#gta-tracks {margin: 25px 0 25px;padding: 0 0 0 32px;}
.gta-track {clear:left;}
.gta-track+.gta-track {padding-top:20px;}
.gta-track img:first-child {float:left;margin: 0 15px 0 0;}
.gta-album + a img {margin:10px 0 0 !important;}
.gta-track dt {color:#000;font-weight:normal;font-size: 1em;display:inline;}
.gta-track dd {color:#000;font-weight:bold;display:inline;margin-left:6px;}
.gta-track dl {margin-bottom: 0px;}
.gta-track dl.gta-album dd {font-style: italic;}

#redeem-link img {position:relative;top: 167px;left: 360px;display:inline;}
h3#redeem-code {text-align: left;padding: 0 0 0 40px;}
