.contentwrap {
	margin:0 auto;
	float:none;
	height:420px;
	width:918px;
}
.bodycontent {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999;
	padding-top: 32px;
	display:block;
	position:relative;
	margin-top:32px;
}
h1.h1cufon {
	font-size: 48px;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
h2.h2cufon {
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #999999;
}
.leftnav {
	position:relative;
	display:block;
	float:left;
	
}
.leftnav ul {
	margin:0px;
	padding:0px;
}

.leftnav ul li {
	list-style-type: none;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	line-height: 24px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 12px;
	padding-bottom: 0px;
	padding-left: 12px;
	display:block;
	clear:both;
}
.leftnav ul li.active {
	display:block;
	position:relative;
	width:auto;
	background-color: #6ecc6c;
	float:left;
	clear:both;
}
.leftnav ul li.active a {
color: #FFF !important;
clear:both;
	
}
.leftnav ul li a {
	text-decoration: none;
	color: #000;
}
.leftnav ul li a:hover {
	text-decoration: none;
	color: #41B33E;
}
.writtenby {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	text-transform: uppercase;
	color: #999999;
}
.bodytext {
	display:block;
	position:relative;
	float:right;
	width:590px;
	height:auto;
	margin-right: 18px;
} 
.bodytext h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	line-height: 38px;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
}
.subline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}
.leftnav li.subnav {
	margin-left:21px;
	text-transform: capitalize;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}