img {
border:none;

}

.header-img { margin-bottom: 10px;}

p {
	padding:0px;
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
	padding-bottom:12px;
}

.contentwrap {
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	margin-top: 10px;
	padding-bottom: 15px;
}
.bodycontent {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999;
	padding-top: 32px;
	display:block;
	position:relative;
	margin-top:12px;
	padding-bottom: 15px;
}
h1.h1cufon {
	font-size: 48px;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
h2.h2cufon, h2.h2regular {
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
	font-weight: normal;
	color: #999999;
	text-transform: uppercase;
}
#leftnav {
	position:relative;
	display:block;
	float:left;

}
#leftnav ul {
	padding:0px;
	margin:0px;
}

#leftnav ul li {
	list-style-type: none;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	line-height: 24px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 12px;
	padding-bottom: 0px;
	padding-left: 12px;
	display:block;
	clear:both;
}
#leftnav ul li.active {
	display:block;
	position:relative;
	width:auto;
	background-color: #6ecc6c;
	float:left;
	clear:both;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#leftnav ul li.active a {
color: #FFF !important;
clear:both;
}
#leftnav ul li a {
	text-decoration: none;
	color: #000;
}
#leftnav ul li a:hover {
	text-decoration: none;
	color: #41B33E;
}
.writtenby {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	text-transform: uppercase;
	color: #999999;
}
.bodytext {
	display:block;
	position:relative;
	float:right;
	width:620px;
	height:auto;
	margin-right: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 12px;
}
.lefty {
	float:left;
}
.bodytext p{
	font-family: Arial, Helvetica, sans-serif;
}
.bodytext h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	line-height: 38px;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
}
.subline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}
#leftnav li.subnav {
	margin-left:21px;
	text-transform: capitalize;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background:none;
}
.bold {
	font-weight: bold;
}

.paragraph {
	font-family: Arial, Helvetica, sans-serif;
	display:block;
	position:relative;
	padding-top:12px;
}
.paragraph a{
	color: #41B33E;
}
.floatleft {
	position:relative;
	display:block;
	float:left;
	padding-right:14px;
	padding-bottom: 14px;

}
.floatright{
position:relative;
display:block;
float:left;
padding-left:8px;

}

.promo {
	position:relative;
	display:block;
	float:right;
	width:200px;
	height:80px;
	background-color: #000;
	color: #FFF;
	text-align: center;

}

#topbar {
	position:relative;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 24px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-bottom:18px;
	position:relative;
	display:none;
	width:100%;

}

#topnav {


}
#topnav ul {
	margin:0px;
	padding:0px;
	display:inline;
}

#topnav ul li {
	display:block;
	color: #FFF;
	position:relative;
	width:auto;
	padding-top: 2px;
	padding-right: 12px;
	padding-bottom: 2px;
	padding-left: 0px;
}
#topnav ul li.active {
	display:inline;
	position:relative;

	background-color: #6ecc6c;



}
#topnav ul li.active a {
color: #FFF !important;


}
#topnav ul li a {
	text-decoration: none;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
#topnav ul li a:hover {
	text-decoration: none;
	color: #41B33E;
}

#download {
	width:100%;
	display:block;
	position:relative;
	height:55px;


}
#downloadbtn {
	position:relative;
	display:block;
	width:149;
	float:left;
	margin-top: 11px;
	text-transform:uppercase;
}

#shownav {
	position:relative;
	display:block;
	width:130px;
	float:right;
	background-color: black;
	color: lightgray;
	font-size: 1.0rem;
}

.show-guide-menu, .hide-guide-menu {
	padding: 10px 0px;
	line-height: 0;
}

.landingmodule a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
}

.landingmodule {
position:relative;
display:block;
padding-bottom:14px;
clear:both;
}
.landingmodule a:hover {
	text-decoration: underline;
}

.belongto {

}

/*#footer {
  width:960px;
  margin: 0px auto;
  height: 50px;
  display:block;
  clear:both;
  border-top: 1px dotted #999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 20px;
}

#footer a {
  color: #41B33E;
  text-decoration: none;
}


#footer a:hover {
  color: #f00;
}
#footer ul {
  float: right; }

#footer li {
  display: inline;
  padding: 0px 3px;
  border-left: 1px solid #ccc;
}*/

.content { position: relative; }

.sidebar { left: 0; position: absolute; top: 0; }
.sidebar nav { float: left; margin-top: 10px; position: relative; }
.sidebar nav.fixed { position: fixed; top: 0; }
.sidebar nav ul { list-style-type: disc; margin: 0; }
.sidebar nav ul ul { margin-left: 10px; }
.sidebar nav li { font-family: Helvetica, Arial, sans-serif; font-size: 1em; font-variant: small-caps; padding: 5px 10px; }
.sidebar nav .selected { background-color: #6ecc6c; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.sidebar nav a { color: #000; text-decoration: none; }
.sidebar nav .selected a { color: #fff; }

.main { float: right; padding-bottom: 600px; }
.main.menu { margin-top: 10px; padding: 0; }
.main h1 { border: 3px solid; font-size: 2em; font-variant: small-caps; line-height: 1.25; margin: 20px 0 10px; padding: 5px; }
.main section:first-child h1 { margin-top: 0; }
.main h2 { color: #000; font-variant: small-caps; font-weight: normal; }
.main h3 { text-transform: uppercase; }
.main h4 { color: #000; font-size: 1em; font-weight: bold; margin: 0; }
.main a { color: #000; }
.main sup { vertical-align: super; }
.main ul { list-style-type: disc; padding-left: 15px; }
.main ol li { margin: 0; }
.main aside { background-color: #ffe; border: 1px solid #efefef; margin-bottom: 10px; padding: 10px; text-align: justify; }
.main aside p { padding: 0; }
.main .footnote { font-size: 0.7693077em; }

/* Main Menu Page */
.main .guide { background-color: #efefef; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 5px 5px 8px rgba(0,0,0,0.5); -webkit-box-shadow: 5px 5px 8px rgba(0,0,0,0.5); box-shadow: 5px 5px 8px rgba(0,0,0,0.5); float: left; margin: 0 48px 20px 0; position: relative; text-align: left; width: 140px; }
.main .guide a { display: block; height: 181px; width: 140px; }
.main .guide a span { display: block; overflow: hidden; text-indent: 100%; white-space: nowrap; }
.main .guide a:hover span { background-color: #333; background-color: rgba(0, 0, 0, 0.75); color: #fff; font-size: 1.23076923em; /* 16px / 13px */ height: 161px; left: 0; line-height: 1.25; padding: 10px; position: absolute; text-align: center; text-indent: 0; top: 0; white-space: normal; width: 120px; }
