body {
  background: #F1F1F1;
}
.interstitial {
  color: #333;
  margin-top: -20px;
  padding: 84px 0 0 60px;
}
.interstitial h1 img {
  padding-bottom: 36px;
}
.interstitial p {
  font-size: 1.8em;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 24px;
  width: 70.3%;
}
.interstitial .buttons {
  text-align: left;
}
.interstitial .btn {
  font-size: 1.8em;
}

/*# sourceMappingURL=source/guvera_store.css.map */
