.delayOne .ui-state-default {
  color: #4A4A4A;
  background: #F1C40F;
}
.delayTwo .ui-state-default {
  color: #4A4A4A;
  background: #F39C12;
}
.delayThree .ui-state-default {
  color: #4A4A4A;
  background: #E67E22;
}
.delayFour .ui-state-default {
  color: #FEFEFE;
  background: #D35400;
}

/*# sourceMappingURL=source/holiday.css.map */
