body {
  -webkit-font-smoothing: antialiased;
}
h2.welcome {
  font-size: 2em;
  font-weight: 200;
}
.checklist {
  font-size: 1.3em;
  margin-bottom: 1em;
  margin-top: 0.5em;
  font-size: 1.4em;
}
.checklist li {
  clear: left;
  margin-bottom: 0.5em;
}
.checklist li:before {
  color: green;
  content: "\2713\0020";
}
.checklist li.xed:before {
  color: red;
  content: "\2717\0020";
}
.howitworks {
  z-index: 10;
  transition: all 0.5s linear;
  padding-top: 120px;
  font-size: 1.2em;
  padding-bottom: 3em;
  width: 100%;
  color: #fff;
  background-color: #3b96cf;
}
.howitworks h2 {
  color: #fff;
}
.howitworks a.get_started {
  display: inline-block;
  padding: 10px 50px;
  margin-top: 1em;
  background-color: #e7790e;
  color: #FFF;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  /* .transition(all 0.2s ease-in-out); */
  font-size: 1.3em;
  margin-top: 0.5em;
  margin-right: 1em;
}
.howitworks a.get_started:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #e7790e;
}
.howitworks a.get_started:active {
  box-shadow: 0px 0px 40px #e7790e;
}
.howitworks a.learn_more {
  display: inline-block;
  padding: 10px 50px;
  margin-top: 1em;
  background-color: #44b1fa;
  color: #FFF;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  /* .transition(all 0.2s ease-in-out); */
  font-size: 1.3em;
  margin-top: 0.5em;
}
.howitworks a.learn_more:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #44b1fa;
}
.howitworks a.learn_more:active {
  box-shadow: 0px 0px 40px #44b1fa;
}
.howitworks p {
  font-size: 1.25em;
  margin-bottom: 10px;
}
.howitworks h2 {
  color: #fff;
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 10px;
}
.howitworks h2.product_name {
  font-weight: 400;
  margin-top: 0;
}
.howitworks h2.title {
  margin-top: 0em;
  margin-bottom: 10px;
  text-align: left;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
}
.inside-howitworks {
  background-color: #fff;
  color: inherit;
  padding: 3em 0;
}
.inside-howitworks h2 {
  color: inherit;
}
.howitworks_content {
  margin-top: 30px;
}
.howitworks_content h2 {
  font-size: 2.4em;
  margin-bottom: 10px;
}
.howitworks_content p {
  font-size: 1.4em;
}
.howitworks_content iframe {
  z-index: 0;
}
.howitworks_bar {
  border: 0;
  height: 18px;
  background-color: #ddd;
  margin: 0;
  width: 100%;
}
.videos {
  float: right;
  width: 75%;
}
.videos embed,
.videos object {
  height: 100%;
}
.videos .showing {
  height: 360px;
  overflow: hidden;
}
.videos .showing.small {
  height: 300px;
}
.videos .showing a {
  position: relative;
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-decoration: none;
}
.videos .showing a#copyright101 {
  background-image: url(/images/copyright101.jpg);
}
.videos .showing a:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  border-top: 30px solid transparent;
  border-left: 30px solid #FFFFFF;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  opacity: 0.8;
}
.videos .showing a h2 {
  float: left;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: rgba(59, 150, 207, 0.5);
  color: #FFFFFF;
  font-size: 2em;
  font-weight: 200;
}
.videos.darken h2 {
  background-color: rgba(59, 150, 207, 0.8);
}
.videos.darken a:after {
  border-left-color: rgba(59, 150, 207, 0.8);
}
.screenshots {
  margin-top: 4em;
  margin-bottom: 0.5em;
  overflow: hidden;
  padding-bottom: 2em;
}
.screenshots.noborder {
  border: 0px;
}
.screenshots p {
  display: block;
  margin: 0;
  width: 90%;
  font-size: 1.25em;
  margin-bottom: 25px;
  padding: 0 2%;
}
.screenshots h3 {
  width: 95%;
  padding: 0 2%;
  font-size: 1.25em;
  margin-bottom: 0.2em;
}
.screenshots h2 {
  margin-top: 0.5em;
}
.screenshots li {
  overflow: hidden;
}
.screenshots a.get_started {
  display: inline-block;
  padding: 10px 50px;
  margin-top: 1em;
  background-color: #e7790e;
  color: #FFF;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  /* .transition(all 0.2s ease-in-out); */
  font-size: 3em;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.screenshots a.get_started:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #e7790e;
}
.screenshots a.get_started:active {
  box-shadow: 0px 0px 40px #e7790e;
}
.screenshots img {
  max-width: 96%;
  border: 1px solid #CCCCCC;
  margin-bottom: 0.2em;
}
.start.centered {
  text-align: center;
}
@media screen and (max-width: 960px) {
  .howitworks {
    padding-top: 20px;
  }
  .screenshots ul {
    padding-left: 10px;
  }
}
@media screen and (max-width: 760px) {
  .screenshots ul {
    padding-left: 0;
  }
}
@media screen and (max-width: 860px) {
  .howitworks .publishing {
    border: 0;
    margin-top: 15px;
    padding: 0 15px;
  }
  .screenshots h3 {
    width: 97%;
    padding-left: 0;
  }
  .screenshots p {
    width: 97%;
    margin-bottom: 0;
    padding-left: 0;
  }
  .screenshots li {
    margin-bottom: 20px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-top: 1px solid #CCCCCC;
  }
  .screenshots li img {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    width: 40%;
  }
}

/*# sourceMappingURL=source/howitworks.css.map */
