.content {
  background: #ccc url("/images/i_am_tunecore/bgpattern_lq.jpg");
}
.inner_container > header {
  margin-bottom: 60px;
  padding-top: 50px;
  padding-bottom: 24px;
  width: 100%;
  z-index: 10;
}
.inner_container > header h1 {
  line-height: 1;
  padding-bottom: 30px;
}
.inner_container > header h2 {
  font-size: 2.25em;
  font-weight: 300;
  padding-bottom: 40px;
}
.inner_container > header .button-callout,
.inner_container > header .button-callout-alt {
  font-size: 1.15em;
  margin: 0 15px 12px 0;
  padding: 8px 15px;
}
.inner_container > header p {
  font-size: 1.33em;
}
.inner_container > footer {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 60px;
  text-align: center;
}
.inner_container > footer .button-callout,
.inner_container > footer .button-callout-alt {
  font-size: 1.15em;
  margin-top: 12px;
  padding: 8px 15px;
}
.inner_container > footer .button-callout-alt {
  margin-left: 15px;
}
.pod-photo {
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 5px;
  text-align: right;
}
.pod-photo .artist {
  font-size: 1.5em;
  font-weight: 700;
  padding-right: 5px;
}
.pod-photo .genre {
  font-weight: 300;
  padding-right: 5px;
}
.pod-pull_quote .pull_quote {
  border-bottom: 1px solid #000;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.pod-pull_quote .quote {
  font-size: 53px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  vertical-align: -21px;
}
.pod-pull_quote .artist {
  font-size: 1.5em;
  font-weight: 700;
  padding-right: 5px;
  text-align: right;
}
.pod-pull_quote .artist i {
  font-style: normal;
  font-weight: normal;
}
.pod-pull_quote .genre {
  font-weight: 300;
  padding-right: 5px;
  text-align: right;
}
.pod-video .photo a {
  position: relative;
}
.pod-video .photo a:after {
  content: '';
  position: absolute;
  left: 45%;
  top: 50%;
  margin-top: -100px;
  border-top: 30px solid transparent;
  border-left: 30px solid #FFFFFF;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  opacity: 0.8;
}
@media screen and (min-width: 480px) {
  .inner_container > header .button-callout,
  .inner_container > header .button-callout-alt {
    margin-bottom: 24px;
  }
  .inner_container > footer .button-callout,
  .inner_container > footer .button-callout-alt {
    margin: 48px 0;
  }
}
@media screen and (min-width: 768px) {
  .inner_container {
    background: transparent url("/images/i_am_tunecore/acrylics_lq.jpg") no-repeat 0 0;
  }
}
@media screen and (min-width: 961px) {
  .inner_container > header {
    padding-top: 192px;
  }
  .pod-photos {
    width: 100% !important;
  }
  .the_dirty_things {
    z-index: 99;
  }
  .the_dirty_things .pod {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  .teen_hearts {
    z-index: 98;
  }
  .teen_hearts .pod {
    margin: 150px 0 -150px;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  .logodidit {
    z-index: 97;
  }
  .logodidit .pod {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  .iminoff .pod {
    margin: 75px 0 -75px 55px;
  }
  .tyler_star {
    z-index: 96;
  }
  .tyler_star .pod {
    margin: 50px 0 -50px;
  }
  .kingqueen {
    z-index: 95;
  }
  .kingqueen .pod {
    margin: -100px 0 30px;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  .tyler_boone {
    z-index: 93;
  }
  .tyler_boone .pod {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  .weatherbird {
    z-index: 92;
  }
  .weatherbird .pod {
    margin: 50px 0 -50px;
    word-spacing: -1px;
  }
  .nick_eden {
    z-index: 91;
  }
  .nick_eden .pod {
    margin: -100px 0 50px;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  .molly_hunt {
    z-index: 90;
  }
  .molly_hunt .pod {
    margin: 50px 0 -50px;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  .rob_james {
    z-index: 89;
  }
  .rob_james .pod {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
}

/*# sourceMappingURL=source/i_am_tunecore.css.map */
