body  {
	font: 12px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	background: #000000;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	padding: 0;
	text-align: center;
	color: #ffffff;
	margin-bottom: 0px;
	text-align:left;
}

a {
	color: #d86217;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.twoColElsRt #container {
	width: 1003px;
	margin: 0 auto;
	padding: 0;
    text-align: left;
}


.twoColElsRt #sidebar1 {
	float: right;
	width: 325px;
	background: #000000 url(../images/affiliate/idol/back2.jpg) no-repeat left top;
	padding: 0;
	line-height: 18px;

}
.twoColElsRt #sidebar1 h3, .twoColElsRt #sidebar1 p {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
}


.twoColElsRt #mainContent {
	width: 678px;
	position: absolute;
	padding: 0px;
	margin: 0;
	background: url(../images/affiliate/idol/back.jpg) no-repeat left top;
}


.twoColElsRt #mainContent2 {
	padding-top: 325px;
	padding-left: 35px;
	padding-right: 15px;
	margin: 0;
	font-size: 14px;
	line-height: 22px;
}
.clearfloat {
	clear:both;
    height:0;
    line-height: 0px;
}

.clearboth {
	 clear: both;
	 height: 1px;
	 font-size: 1px;
	 border: medium none;
	 margin: 0pt;
	 padding: 0pt;
	 background: none repeat scroll 0% 0% transparent;
}

h2 {
	font-size:18px;
	color: #d86217;
	font-weight: bold;
	padding-left: 25px;
}
.twoColElsRt #mainContent3 {
	width: 640px;
	background-image:url(../images/affiliate/idol/back-gray.gif);
	background-repeat:no-repeat;
	padding: 0px;
	margin: 0;
}

.twoColElsRt #mainContent4 {
	width: 640px;
	background-image:url(images/back-gray2.gif);
	background-repeat:no-repeat;
	padding: 0px;
	margin: 0;
}

.twoColElsRt #mainContent3 p, .twoColElsRt #mainContent4 p {
	padding-left: 28px;
	padding-right: 20px;
	font-size: 12px;
	padding-top: 48px;
	line-height: 18px
}

.twoColElsRt #mainContent2 p img {
	padding-left: 25px;
}

.twoColElsRt #mainContent2 p img.itunes {
	padding: 0;
}
.new {
	font-size: 18px;
	padding-left: 25px;
}

.distro {
	font-size: 18px;
	line-height: 24px;
	color: #66ccff;
	padding-right: 25px;
	padding-bottom: 50px;
	padding-left: 25px;
}

.serv_desc {
	padding-left: 25px;
	padding-right: 25px;
	padding-top:  5px;
	font-size: 14px;
}

.exclusive {
	width: 595px;
	padding-left: 25px;
	margin: 0px;
}

.logo {
	margin: 0px;
	width: 51px;
	height: 51px;
	float: left;
}

.logo2 {
	margin: 0px;
	width: 51px;
	height: 51px;
	float: left;
	padding-top: 10px;
}

.logo3 {
	margin: 0px;
	width: 51px;
	height: 51px;
	float: left;
	padding-left: 110px;
	padding-top: 10px;
}

.deal1 {
	margin: 0px;
	width: 235px;
	height: 51px;
	float: left;
	font-size: 10px;
	line-height: 12px;
	padding-top: 4px;
	padding-right: 10px;
}

.deal2 {
	margin: 0px;
	width: 235px;
	height: 51px;
	float: left;
	font-size: 10px;
	line-height: 12px;
	padding-top: 14px;
	padding-right: 10px;
}

.testimonial {
	padding-left: 10px;
	padding-right: 45px;
	line-height: 19px;
}

.credit {
	color: #66ccff;
}

.testies {
	color: #d86217;
	font-size: 16px;
	line-height: 25px;
}

.contestants {
	background: #00abff url(../images/affiliate/idol/grad.jpg) repeat-x left top;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	padding: 10px 10px;
	margin: 15px 10px;
	width: 259px;
}

.contestants h3 {
	font-size:24px;
	color: #ffffff;
	font-weight: bold;
	margin: 0;
	line-height: 24px;
}

.contestants ul li {
	font-size:14px;
	color: #000000;
	line-height: 24px;
}
