body {
  -webkit-font-smoothing: antialiased;
}
/* nicer rendering on external pages */
.container {
  margin: 0 auto;
  overflow: hidden;
  width: 960px;
}
h2.title {
  float: left;
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-size: 2em;
  color: #3B96CF;
  display: block;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 10px;
}
h2.welcome {
  margin-top: 2em;
  text-align: center;
  font-size: 1.6em;
  font-weight: 300;
}
/* jQuery-ui overrides */
.ui-widget-overlay {
  background: #000;
  opacity: 0.5;
}
.ui-icon {
  content: "Cancel";
}
.form_label {
  width: 100%;
}
.form_field > input {
  width: 100%;
}
/* keyframe animations for slideshow */
@-webkit-keyframes blurFadeIn {
  0% {
    color: rgba(255, 255, 255, 0);
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(1.2);
  }
  70% {
    color: rgba(255, 255, 255, 0);
    text-shadow: 0px 0px 15px #fff;
    -webkit-transform: scale(1);
  }
  100% {
    color: rgba(255, 255, 255, 0);
    text-shadow: 0px 0px 1px #fff;
    -webkit-transform: scale(1);
  }
}
/* general site-wide settings found in base.less */
/* Just for IE8 */
.ie noscript {
  display: none;
}
.ie .sticky {
  background-color: #000;
}
.ie #cardfield > div .front {
  background-color: #58462c;
}
.ie #cardfield .isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.ie #testimonials .testimonial {
  background-color: #77645c;
}
#slideshow {
  width: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #000;
  border-bottom: 1px solid #222;
  color: #fff;
}
#slideshow #spinner {
  top: 280px;
}
#slideshow ul {
  position: relative;
  margin: 0px auto;
  width: 100%;
  height: 548px;
  display: block;
  overflow: hidden;
  font-size: 170%;
  font-weight: 200;
}
#slideshow li {
  position: absolute;
  top: 0px;
  text-decoration: none;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  height: 548px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
#slideshow .headline {
  opacity: 0;
  font-size: 2em;
}
#slideshow #card_1 {
  background-position: center top;
}
#slideshow #card_1 .copy_container {
  width: 58%;
}
#slideshow #card_1 .copy_container .get_started {
  box-shadow: 0 0 30px #000000;
}
#slideshow #card_1 .copy_container .get_started:hover,
#slideshow #card_1 .copy_container .get_started:focus {
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
}
#slideshow #card_1 .photo_credit {
  bottom: -50px;
}
#slideshow #card_2 {
  /*
    Loaded in JS
    background-image: url(/images/bgs/jaynash3.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bgs/jaynash3.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bgs/jaynash3.jpg', sizingMethod='scale')";
    */
  background-position: center left;
}
#slideshow #card_2 .copy_container {
  width: 51%;
}
#slideshow #card_2 .photo_credit {
  /* bottom: -156px; */
}
#slideshow #card_2 .photo_credit:hover {
  bottom: 0;
}
#slideshow #card_3 {
  /*
    Loaded in JS
    background-image: url(/images/bgs/canon.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bgs/canon.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bgs/canon.jpg', sizingMethod='scale')";
    */
  background-position: center left;
}
#slideshow #card_3 .photo_credit {
  /* bottom: -110px; */
}
#slideshow #card_3 .photo_credit:hover {
  bottom: 0;
}
#slideshow .copy_container {
  margin-top: 138px;
  width: 49%;
  float: right;
  margin-right: -2%;
}
#slideshow .copy_container h2,
#slideshow .copy_container h3,
#slideshow .copy_container p,
#slideshow .copy_container ul,
#slideshow .copy_container li {
  border-radius: 5px;
  opacity: 0;
  text-shadow: 0px 0px 5px #000;
}
#slideshow .copy_container .headline {
  margin-bottom: 8px;
}
#slideshow .copy_container .tagline,
#slideshow .copy_container p {
  background-color: transparent;
  font-size: 1.06em;
  padding: 8px;
}
#slideshow .copy_container p {
  font-weight: 400;
}
#slideshow .copy_container ul {
  border: 1px solid #ff0;
  display: block;
}
#slideshow .copy_container li {
  display: block;
  height: auto;
  font-weight: 400;
  font-size: 1em;
}
#slideshow .active {
  z-index: 10;
  opacity: 1;
}
#slideshow .active .copy_container {
  opacity: 1;
}
#slideshow .active .tagline,
#slideshow .active ul,
#slideshow .active li {
  background-color: rgba(2, 10, 15, 0.75);
}
#slideshow .active .headline,
#slideshow .active .tagline,
#slideshow .active p,
#slideshow .active a,
#slideshow .active ul,
#slideshow .active li {
  opacity: 1;
}
#slideshow .flipped {
  z-index: 10;
  overflow: hidden;
  opacity: 1;
  top: 0%;
  /* .transition(opacity 1s ease-in-out); */
}
#slideshow .flipped .copy_container {
  /* JUST the animation goes here */
  opacity: 1;
}
#slideshow .flipped .copy_container .headline,
#slideshow .flipped .copy_container .tagline,
#slideshow .flipped .copy_container p,
#slideshow .flipped .copy_container a,
#slideshow .flipped .copy_container ul {
  opacity: 1;
  -webkit-animation-name: blurFadeIn;
  animation-name: blurFadeIn;
}
#slideshow .flipped .copy_container .tagline {
  background-color: rgba(2, 10, 15, 0.75);
}
#slideshow .flipped .copy_container .headline {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
#slideshow .flipped .copy_container p {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
#slideshow .flipped .copy_container .tagline,
#slideshow .flipped .copy_container ul {
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
}
#slideshow .flipped .copy_container a {
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
}
#slideshow .flipped .blue {
  background-color: #3b96cf;
}
#slideshow .flipaway {
  transition: opacity 1s ease-in-out;
  opacity: 0;
  z-index: -5;
}
#slideshow .flipaway a.get_started {
  opacity: 0;
}
#slideshow #cards div.card_container {
  width: 960px;
  left: 100px;
  margin: 0px auto;
}
#slideshow a.get_started {
  font-size: 2em;
  font-weight: 700;
  margin-top: 1em;
  padding: 10px 50px;
  text-transform: none;
}
#slideshow .button-callout {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
#slideshow .button-callout:hover,
#slideshow .button-callout:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
#slideshow .button-callout:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
#slideshow .button-callout-alt {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
}
#slideshow .button-callout-alt:hover,
#slideshow .button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
#slideshow .button-callout-alt:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
#slideshow .button-callout-alt:hover,
#slideshow .button-callout-alt:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
#slideshow .button-callout-alt:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
.ie #slideshow .copy_container {
  background-color: #020a0f;
}
#overview {
  position: relative;
  clear: both;
  height: 230px;
  background: #000109;
  z-index: 90;
}
#overview .thirds {
  transition: color 0.2s linear;
  float: left;
  padding-top: 40px;
  width: 27.33%;
  padding-left: 3%;
  padding-right: 3%;
  height: 190px;
  text-align: center;
  color: #fff;
  background-image: none;
}
#overview .thirds p {
  opacity: 0.75;
  clear: both;
  padding-top: 10px;
  font-size: 1.3em;
  font-weight: 200;
}
#overview .thirds h2 {
  opacity: 0.75;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 500;
}
#overview .thirds .icon {
  height: 36px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 14px;
  color: #3b96cf;
  opacity: 0.75;
}
#overview .thirds .icon.distro {
  background-image: url(/images/distro_icon_2.png);
}
#overview .thirds .icon.copy {
  background-image: url(/images/copy_icon_2.png);
}
#overview .thirds .icon.control {
  background-image: url(/images/control_icon_2.png);
}
#overview .thirds:hover {
  cursor: pointer;
}
#overview .flipped .icon {
  opacity: 1;
}
#overview .flipped p,
#overview .flipped h2 {
  opacity: 1;
  color: #fff;
}
#testimonials {
  position: relative;
  overflow: hidden;
  height: 340px;
}
#testimonials .testimonial {
  float: left;
  width: 25%;
  height: 340px;
  position: relative;
  background-color: rgba(94, 74, 65, 0.9);
  font-weight: 200;
}
#testimonials .testimonial.odd {
  background-color: #5e4a41;
}
#testimonials .testimonial .thumb {
  float: left;
  width: 100%;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
}
#testimonials .testimonial .thumb.trent {
  background-image: url(/images/trent-reznor.jpg);
}
#testimonials .testimonial .thumb.megdia {
  background-image: url(/images/megdia2.jpg);
}
#testimonials .testimonial .thumb.civil {
  background-image: url(/images/civilwars.jpg);
}
#testimonials .testimonial .thumb.meiko {
  background-image: url(http://www.tunecore.com/images/cms/29632.jpg);
}
#testimonials .testimonial .thumb.meiko {
  background-image: url(http://www.tunecore.com/images/cms/29632.jpg);
}
#testimonials .testimonial .thumb.andy {
  background-image: url(http://www.tunecore.com/images/cms/1571.jpg);
}
#testimonials .testimonial .thumb.q {
  background: url(http://www.tunecore.com/images/cms/schoolboy%20copy.jpg) top center;
}
#testimonials .testimonial p {
  float: left;
  width: 80%;
  height: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  color: #FFFFFF;
  font-size: 1.2em;
}
#testimonials .testimonial p em {
  font-size: 0.9em;
}
#i_am_tunecore {
  background-color: #fff;
  font-size: 12px;
  padding: 50px 0;
}
#i_am_tunecore .title {
  font-size: 1.667em;
  margin-bottom: 30px;
}
#i_am_tunecore footer {
  clear: both;
  margin-top: 40px;
  text-align: center;
}
#i_am_tunecore footer p {
  font-size: 1.15em;
}
#i_am_tunecore .button-callout {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
#i_am_tunecore .button-callout:hover,
#i_am_tunecore .button-callout:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
#i_am_tunecore .button-callout:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
#i_am_tunecore a.get_started {
  font-size: 2em;
  margin: 1em 0;
  padding: 10px 50px;
  text-transform: none;
}
.col_left {
  float: left;
  width: 65%;
}
.col_right {
  float: right;
  padding-left: 36px;
  width: 35%;
}
.col_right .pod-photo,
.col_right .pod-pull_quote {
  margin-right: 0;
}
.pod-photo {
  display: inline;
  float: left;
  margin-right: 12px;
  margin-bottom: 12px;
}
.pod-pull_quote {
  float: left;
  margin-right: 12px;
  padding: 50px 0;
}
.separator {
  border: 1px solid #ccc;
  border-width: 1px 0 0;
  margin-top: 15px;
  width: 48%;
}
#proof {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
#proof .title {
  width: 23%;
}
#proof .txt {
  float: left;
  clear: left;
  font-size: 1.3em;
  font-weight: 200;
  display: block;
  width: 23.666667%;
}
#proof .txt a {
  color: #000000;
  text-decoration: none;
}
#proof .txt a:hover {
  text-decoration: underline;
}
#proof .txt #tellUs {
  color: #41ADD8;
}
#proof .txt #tellUs:hover {
  color: #2795B6;
  text-decoration: none;
}
#proof .container {
  position: relative;
}
#proof iframe {
  display: block;
}
#proof section {
  display: block;
}
.videos {
  float: right;
  width: 75%;
}
.videos embed,
.videos object {
  height: 100%;
}
.videos .showing {
  height: 360px;
  overflow: hidden;
}
.videos .showing.small {
  height: 300px;
}
.videos .showing a {
  position: relative;
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-decoration: none;
}
.videos .showing a:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  border-top: 30px solid transparent;
  border-left: 30px solid #FFFFFF;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  opacity: 0.8;
}
.videos .showing a h2 {
  float: left;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: rgba(59, 150, 207, 0.5);
  color: #FFFFFF;
  font-size: 2em;
  font-weight: 200;
}
.videos .thumbs {
  width: 100%;
}
.videos .thumbs a {
  position: relative;
  float: left;
  width: 24.25%;
  margin-top: 1%;
  margin-left: 1%;
  color: #3b96cf;
  text-decoration: none;
  font-weight: 200;
}
.videos .thumbs a span {
  display: block;
  padding: 2px;
  background-color: #c9e6f6;
}
.videos .thumbs a span img {
  display: block;
  max-width: 100%;
}
.videos .thumbs a:first-child {
  margin-left: 0px;
}
.videos .thumbs a.active span,
.videos .thumbs a:hover span {
  background-color: #3b96cf;
}
.videos .thumbs a.active:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 35%;
  border-top: 10px solid transparent;
  border-left: 10px solid #FFFFFF;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.8;
}
.videos .noscript_thumbs {
  position: absolute;
  top: 2px;
  left: 2px;
}
.videos.darken h2 {
  background-color: rgba(59, 150, 207, 0.8);
}
.videos.darken a:after {
  border-left-color: rgba(59, 150, 207, 0.8);
}
#message_banner {
  background-color: #fafafa;
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 0;
  text-align: center;
  width: 100%;
}
#message_banner .columns {
  padding: 0;
}
#message_banner img {
  display: block;
}
#promo_banner {
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
  display: inline-block;
  padding: 30px 0;
  text-align: center;
  width: 100%;
}
#promo_banner h2 {
  font-size: 2.4em;
  font-weight: 700;
  line-height: 1.5;
}
#promo_banner p {
  color: #333333;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.5;
}
#promo_banner p strong {
  color: #e77a0d;
}
#promo_banner p .button-callout-alt {
  font-size: 0.778em;
}
#promo_banner .button-callout-alt {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
}
#promo_banner .button-callout-alt:hover,
#promo_banner .button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
#promo_banner .button-callout-alt:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
#promo_banner .button-callout-alt:hover,
#promo_banner .button-callout-alt:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
#promo_banner .button-callout-alt:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
#store_logos {
  background-color: #fff;
  padding-top: 50px;
}
#store_logos header {
  float: left;
  width: 23%;
}
#store_logos .description {
  clear: left;
  font-size: 1.3em;
  font-weight: 200;
}
#store_logos .bx-wrapper {
  float: right;
  width: 75%;
}
#store_logos .logos li {
  display: inline;
  float: left;
  padding: 10px 6px;
}
#store_logos .logos li a {
  display: block;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
  height: 42px;
  width: 126px;
}
#store_logos .itunes a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: 0px 0px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .spotify a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -126px 0px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .amazon a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -252px 0px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .rdio a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -378px 0px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .google a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -504px 0px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .deezer a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: 0px -42px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .simfy a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -126px -42px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .rhapsody a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -252px -42px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .iheartradio a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -378px -42px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .nokia a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -504px -42px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .myspace a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: 0px -84px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .beats a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -126px -84px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .muve a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -252px -84px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .zune a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -378px -84px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .emusic a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -504px -84px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .wimp a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: 0px -126px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .sony a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -126px -126px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .shazam a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -252px -126px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .gracenote a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -378px -126px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .seven_digital a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -504px -126px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .juke a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: 0px -168px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .jb_hifi a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -126px -168px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .slacker a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -252px -168px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .bloom a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -378px -168px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .guvera a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -504px -168px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .akazoo a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: 0px -210px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .anghami a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -126px -210px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .kkbox a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -252px -210px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .revibe a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -378px -210px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .spinlet a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -504px -210px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .neurotic a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: 0px -252px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .target_music a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -126px -252px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .yandex a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -252px -252px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .claro_musica a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -378px -252px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .youtube a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -504px -252px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .playme a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: 0px -294px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .zvooq a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -126px -294px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .saavn a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -252px -294px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .eighttrack a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -378px -294px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .nmusic a {
  background: url("/images/store_logos/store_logo_sprites.png?20150806") no-repeat;
  background-position: -504px -294px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
#store_logos .controls {
  clear: both;
  float: right;
  margin-top: 12px;
  max-width: 690px;
  text-align: center;
  width: 75%;
}
#store_logos .controls a {
  font-family: FontAwesome;
  font-style: normal;
}
#store_logos .prev,
#store_logos .next,
#store_logos .dots2 {
  color: #b5b5b5;
  display: inline-block;
}
#store_logos .prev a,
#store_logos .next a,
#store_logos .dots2 a {
  color: #b5b5b5;
}
#store_logos .prev,
#store_logos .next {
  margin: 0 30px;
}
#store_logos .dot2 {
  vertical-align: super;
}
#store_logos .dot2.active .fa-circle-o:before {
  content: "\f111";
}
.yt_ribbon {
  background: transparent url("/images/youtube/yt_ribbon_end2.png") no-repeat 0 0;
  box-shadow: 2px 6px 3px -4px rgba(0, 0, 0, 0.5);
  color: #fff;
  float: right;
  height: 48px;
  margin-bottom: 30px;
  padding-left: 41px;
  position: fixed;
  right: 13%;
  top: 62px;
  z-index: 1000;
}
.yt_ribbon > span {
  background: #cd332d;
  background: linear-gradient(#cd332d, #aa2222);
  display: block;
  font-size: 1.8em;
  line-height: 1.5;
  padding: 9px 20px;
}
.yt_ribbon em {
  font-family: Georgia, serif;
  padding-right: 5px;
}
.yt_ribbon .yt-caps {
  font-style: normal;
  text-transform: uppercase;
}
.yt_ribbon img {
  padding: 0 10px;
  vertical-align: bottom;
}
.yt_ribbon a {
  color: #fff;
  font-size: 0.778em;
  text-decoration: underline;
  vertical-align: text-top;
}
.yt_ribbon .yt_runoff {
  background: #cd332d;
  background: linear-gradient(#cd332d, #aa2222);
  box-shadow: 2px 6px 3px -4px rgba(0, 0, 0, 0.5);
  height: 48px;
  position: absolute;
  top: 0;
  right: -48.4%;
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .yt_ribbon {
    right: 3%;
  }
}
@media screen and (max-width: 960px) {
  #slideshow {
    padding-top: 0;
    position: relative;
  }
  #slideshow ul {
    height: 360px;
    font-size: 130%;
    font-weight: 200;
  }
  #slideshow li {
    height: 360px;
    background-position: 60% 0px;
    background-size: cover;
  }
  #slideshow #cards .copy_container {
    float: right;
    margin-top: 25px;
    margin-right: 5%;
    width: 55%;
  }
  #slideshow #cards .copy_container p {
    margin-bottom: 2px;
  }
  #slideshow #cards div.card_container {
    width: 100%;
    margin: 0 auto;
  }
  #slideshow #card_1 .copy_container {
    float: left;
    margin-left: 5%;
  }
  #slideshow #card_2 .photo_credit {
    bottom: -127px;
  }
  #slideshow #card_3 {
    background-position: 38% 0px;
  }
  #slideshow #card_3 .photo_credit {
    bottom: -105px;
  }
  #slideshow .arrow {
    display: none;
    opacity: 0;
    /* do not display arrows on mobile */
  }
  #slideshow .arrow:hover {
    display: none;
    opacity: 0;
    /* do not display arrows on mobile */
  }
  #slideshow .photo_credit {
    display: none;
    /* do not display photo credit on mobile */
  }
  #overview {
    height: auto;
    padding-bottom: 30px;
    font-size: 1em;
  }
  #overview .container {
    padding: 0;
    width: 100%;
  }
  #overview .thirds:last-child {
    border-bottom: none;
  }
  #overview .thirds h2 {
    margin: 0;
  }
  #overview .thirds p {
    margin: 0;
  }
  #overview .thirds .icon {
    margin-bottom: 5px;
    height: 24px;
  }
  #overview .flipped {
    background-image: none;
  }
  #testimonials .testimonial {
    width: 50%;
  }
  #proof {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #proof .container {
    width: 94%;
    padding-right: 3%;
    padding-left: 3%;
  }
  #proof .title,
  #proof .videos {
    text-align: left;
    width: 100%;
  }
  #proof .title h2,
  #proof .videos h2 {
    font-size: 2em;
    line-height: 1em;
  }
  #proof .txt {
    display: none;
  }
  #proof .videos a.active:after {
    top: 25%;
  }
  #i_am_tunecore {
    width: 100%;
  }
  #i_am_tunecore .container {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  #i_am_tunecore .title {
    margin-left: 20px;
  }
  #store_logos {
    width: 100%;
  }
  #store_logos header {
    float: none;
    width: auto;
  }
  #store_logos .container {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #store_logos .bx-wrapper {
    float: none;
    margin: 0px auto;
    width: 80%;
  }
  #store_logos .controls {
    float: none;
    margin: 12px auto 0;
    width: 80%;
  }
  #store_logos .title {
    text-align: left;
    width: 100%;
    margin-left: 20px;
  }
  #store_logos .title h2 {
    font-size: 2em;
    line-height: 1em;
  }
  #store_logos .description {
    display: none;
  }
  .screenshots ul {
    padding-left: 10px;
  }
  .pricing {
    padding-top: 20px;
  }
  .pricing a.get_started {
    font-size: 1.8em;
    padding: 0.5em 2em;
  }
  .pricing .welcome {
    font-size: 1.5em;
  }
  .price_boxes .price_box {
    border: 0;
  }
  .price_boxes .price_box:first-child,
  .price_boxes .price_box:nth-child(2),
  .price_boxes .price_box:nth-child(3) {
    border-bottom: 1px dotted #c9e6f6;
  }
  .other_products li {
    height: auto;
  }
  .yt_ribbon {
    float: none;
    height: auto;
    margin: 0;
    position: relative;
    right: auto;
    top: auto;
  }
  .yt_ribbon .yt_runoff {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .col_left,
  .col_right {
    float: none;
    padding: 0 36px;
    width: auto;
  }
  .pod-photo .artist {
    font-size: 1.15em;
  }
  .pod-pull_quote .pull_quote {
    font-size: 1.5em;
    text-align: left;
  }
  .pod-pull_quote .artist {
    font-size: 1.15em;
  }
  .screenshots ul {
    padding-left: 0;
  }
  .yt_ribbon {
    background: none;
    padding: 0;
  }
}
@media screen and (max-width: 860px) {
  .howitworks {
    padding-top: 162px;
  }
  .howitworks .publishing {
    border: 0;
    margin-top: 15px;
    padding: 0 15px;
  }
  .screenshots h3 {
    width: 97%;
    padding-left: 0;
  }
  .screenshots p {
    width: 97%;
    margin-bottom: 0;
    padding-left: 0;
  }
  .screenshots li {
    min-height: 225px;
    margin-bottom: 20px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-top: 1px solid #CCCCCC;
  }
  .screenshots li img {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    width: 40%;
  }
  .pricing {
    padding-top: 159px;
  }
  .pricing .price_boxes .price_box:first-child,
  .pricing .price_boxes .price_box:nth-child(2),
  .pricing .price_boxes .price_box:nth-child(3),
  .pricing .price_boxes .price_box:nth-child(4) {
    border: 0;
    border-top: 1px dotted #fff;
    padding-top: 2em;
  }
  .pricing .welcome {
    width: 100%;
    margin: 0;
  }
  .pricing a.get_started {
    font-size: 2.4em;
    width: 80%;
    margin-left: 10%;
  }
  .other_products li div.price small {
    display: inline;
  }
  .other_products li div.price a {
    float: right;
    margin-top: -0.001em;
  }
}
/* HP Testimonials Responsive CSS */
@media screen and (min-width: 1441px) {
  #testimonials .testimonial {
    width: 20%;
  }
}
@media screen and (min-width: 481px) {
  #slideshow #card_1 {
    background-image: url(/images/bgs/andyallo_old_bg.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bgs/andyallo_old_bg.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bgs/andyallo_old_bg.jpg', sizingMethod='scale')";
  }
  #slideshow #card_1 .copy_container .headline {
    text-shadow: 0 0 10px #000000;
  }
  #slideshow #card_2.loaded {
    background-image: url(/images/bgs/jaynash3.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bgs/jaynash3.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bgs/jaynash3.jpg', sizingMethod='scale')";
  }
  #slideshow #card_3.loaded {
    background-image: url(/images/bgs/canon.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bgs/canon.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bgs/canon.jpg', sizingMethod='scale')";
  }
  #slideshow .dots {
    bottom: 0;
    left: 50%;
    font-size: 1.6em;
    position: absolute;
    text-shadow: 0 0 5px #000;
    z-index: 11;
  }
  #slideshow .dots > a {
    color: #fff;
  }
  #slideshow .arrow {
    position: absolute;
    top: 0;
    width: 85px;
    height: 100%;
    margin: 0;
    opacity: 0.75;
    overflow: hidden;
    z-index: 10;
    cursor: pointer;
    background: transparent url(/images/arrows.png) no-repeat;
    background-width: 50%;
    transition: all linear 0.3s;
    text-indent: 100%;
  }
  #slideshow .arrow:active {
    opacity: 1;
  }
  #slideshow #nextArrow {
    right: 1px;
    background-position: center right;
  }
  #slideshow #prevArrow {
    left: 1px;
    background-position: center left;
  }
  #slideshow #prevArrow:hover {
    opacity: 1;
    background-image: url(/images/arrows.png), -webkit-radial-gradient(40% 50%, circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 15%);
  }
  #slideshow #nextArrow:hover {
    opacity: 1;
    background-image: url(/images/arrows.png), -webkit-radial-gradient(40% 50%, circle cover, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 15%);
  }
  #slideshow .photo_credit {
    position: absolute;
    padding: 0.2em 1em 3em 1em;
    opacity: 0.4;
    left: 50px;
    bottom: 0;
    background-color: #000;
    width: 12em;
    border: 1px solid #333;
    display: block;
    z-index: 9;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 5px;
    transition: all linear 0.3s;
  }
  #slideshow .photo_credit a {
    color: #c9e6f6;
    text-transform: none;
  }
  #slideshow .photo_credit .artist {
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 3px;
  }
  #slideshow .photo_credit .photographer {
    font-weight: 200;
    font-size: 0.7em;
    -webkit-font-smoothing: subpixel-antialiased;
  }
  #slideshow .photo_credit .description {
    background-color: transparent;
    font-size: 0.7em;
    font-weight: 200;
    margin-bottom: 1em;
    -webkit-font-smoothing: subpixel-antialiased;
  }
  #slideshow .photo_credit:hover {
    background-color: #222;
    bottom: 0;
    opacity: 1;
  }
}
@media screen and (max-width: 480px) {
  #slideshow {
    background-color: #3b96cf;
    border: 0;
    position: static;
  }
  #slideshow ul {
    height: auto;
    overflow: visible;
  }
  #slideshow li,
  #slideshow #card_1,
  #slideshow #card_2,
  #slideshow #card_3,
  #slideshow #card_4,
  #slideshow #card_5 {
    background-color: #3b96cf;
    background-image: none;
    height: auto;
    position: static;
  }
  #slideshow #card_2,
  #slideshow #card_3,
  #slideshow #card_4,
  #slideshow #card_5,
  #slideshow #card_6,
  #slideshow #card_7,
  #slideshow #card_8,
  #slideshow #card_9 {
    display: none;
  }
  #slideshow #cards .copy_container {
    margin: 0;
    padding: 5%;
    width: 100%;
  }
  #slideshow #cards .copy_container h2,
  #slideshow #cards .copy_container .get_started {
    box-shadow: none;
    text-shadow: none;
  }
  #slideshow #cards .copy_container p {
    background-color: inherit;
    text-shadow: none;
  }
  #slideshow #cards .copy_container .tagline {
    display: none;
  }
  #slideshow #card_1 .copy_container {
    color: #fff;
  }
  #slideshow .flipped {
    transition: none;
  }
  #slideshow .flipped h2,
  #slideshow .flipped h3,
  #slideshow .flipped p,
  #slideshow .flipped a {
    -webkit-animation-name: none;
    animation-name: none;
  }
  #slideshow a.get_started {
    margin-top: 0.5em;
    padding: 10px 0;
    width: 100%;
    background-color: #e7790e;
    text-align: center;
  }
  #slideshow .dot {
    display: none;
  }
  #slideshow .arrow {
    display: none;
    opacity: 0;
    /* do not display arrows on mobile */
  }
  #slideshow .arrow:hover {
    display: none;
    opacity: 0;
    /* do not display arrows on mobile */
  }
  #slideshow .photo_credit {
    display: none;
    /* do not display photo credit on mobile */
  }
  #testimonials {
    display: none;
  }
  #store_logos {
    padding-top: 0;
  }
  #store_logos .bx-wrapper {
    width: 86%;
  }
  #store_logos .logos li {
    padding: 5px 2px;
  }
  #overview {
    background-color: #3b96cf;
    border-top: 1px solid #fff;
    height: auto;
    padding-bottom: 10px;
    font-size: 1em;
  }
  #overview .thirds {
    border-bottom: 1px solid #fff;
    clear: both;
    float: none;
    height: 10em;
    padding: 0;
    text-align: left;
    width: 100%;
  }
  #overview .thirds .icon {
    float: left;
    height: 33px;
    margin: 0 5%;
    padding: 22px 0;
    width: 33px;
  }
  #overview .thirds h2 {
    margin: 1em 0 0;
    opacity: 1;
    padding: 0;
  }
  #overview .thirds p {
    clear: none;
    margin: 0;
    opacity: 1;
    padding: 0;
  }
  #overview .flipped {
    background-image: none;
  }
  #cardfield .hiphop,
  #cardfield .rock,
  #cardfield .pop,
  #cardfield .spiritual {
    width: 160px;
  }
  #cardfield .hiphop img,
  #cardfield .rock img,
  #cardfield .pop img,
  #cardfield .spiritual img {
    max-width: 158px;
  }
}

/*# sourceMappingURL=source/index.css.map */
