.content > header {
  margin-bottom: 0;
}
/* Header */
.hero {
  background: url(../images/index/highlights/2015header.jpg) no-repeat 0 0;
  background-size: cover;
  background-position: center;
}
.hero-text {
  line-height: 1.0833;
  text-align: center;
  font-size: 1.2rem;
  padding: 1.5rem 1.5rem 0;
}
.hero-text h1 {
  font-weight: 900;
  line-height: 1;
  font-size: 3.125rem;
  margin-bottom: 1.5rem;
}
.hero-text p {
  font-family: Lato, sans-serif;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 48em) {
  .content > header {
    padding-top: 118px;
  }
  .hero {
    margin-top: 60px;
    height: 375px;
  }
  .hero-text {
    margin-top: -45px;
  }
  .hero-text h1,
  .hero-text p {
    margin: 0 auto 1.5rem;
    max-width: 800px;
  }
}
@media screen and (min-width: 60.0625em) {
  .content > header {
    padding-top: 180px;
  }
}
/* Content */
.content-section,
.footer-msg {
  padding: 2rem 1.5rem 2.5rem;
  background-color: #F6F6F6;
}
.content-section header,
.footer-msg header {
  padding: 0 1.5rem 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
}
.content-section header h2,
.footer-msg header h2 {
  font-weight: 200;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0.8rem;
}
.content-section header h3,
.footer-msg header h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.content-section header p,
.footer-msg header p {
  font-size: 1.1rem;
  line-height: 1.3;
  color: #5E5E5E;
}
@media screen and (min-width: 48em) {
  .content-section header p,
  .footer-msg header p {
    margin: 0 auto 1rem;
    max-width: 700px;
  }
}
.media-objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 64rem;
}
.media-objects hr {
  display: none;
}
.media-objects .media-object {
  text-align: center;
}
.media-objects .media-object p {
  margin: 15px auto 0;
  width: 275px;
  font-size: 0.9rem;
}
.media-objects .media-object.vid-bottom-margin {
  margin-bottom: 1.5rem;
}
.media-objects .media-object iframe {
  border: 0;
}
@media screen and (min-width: 52em) {
  .media-objects hr {
    display: block;
    margin: 1.8rem;
    height: 140px;
    border-style: solid;
    border-width: 0 1px 0 0;
    margin-top: 40px;
    border-color: #ABABAB;
  }
  .horizontal-line-divider {
    width: 58px;
  }
}
.grey-background {
  background-color: #282828;
  color: #FFFFFF;
}
.grey-background header p {
  color: #FFFFFF;
}
@media screen and (min-width: 48em) {
  .grey-background .media-objects hr {
    border-color: #333333;
  }
}
.content-section.indie-artist-forum h2 {
  margin-bottom: 1.1rem;
}
.content-section.indie-artist-forum p {
  font-size: 0.9rem;
  font-weight: 600;
  width: 600px;
}
@media screen and (min-width: 48em) {
  .content-section.indie-artist-forum .vid-bottom-margin.img {
    margin-bottom: 0;
  }
  .horizontal-line-wrapper {
    margin: 25px 0;
    width: 350px;
  }
  .horizontal-line-wrapper .horizontal-line {
    width: 140px;
    margin: auto;
    border-top: solid #333333 1px;
  }
}
.footer-msg header p {
  font-size: 0.9rem;
  font-weight: 600;
  font-family: Lato, sans-serif;
}
.footer-msg {
  padding-bottom: 0;
}

/*# sourceMappingURL=source/index_highlights.css.map */
