@import url(//fonts.googleapis.com/css?family=Lato:300,400,700|Sorts+Mill+Goudy|Open+Sans:600,400|Montserrat);
.button-callout {
  background-color: #0083e0;
  border: 3px solid #0083e0;
  border-radius: .3125rem;
  color: #ffffff;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  padding: .8125rem 2.8125rem;
  text-align: center;
}
.button-callout:focus,
.button-callout:hover,
.button-callout:active {
  background-color: #ffffff;
  color: #0083e0;
}
.hero {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #000000;
  background-image: url('../images/bgs/fireinthehamptonsbg.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
}
.hero .row {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 50%, #000000 100%);
  padding-top: 30px;
}
.hero ul {
  list-style-type: disc;
  padding-left: 25px;
}
.hero li {
  line-height: 1;
}
.hero li + li {
  margin-top: .75rem;
}
.hero .button-callout {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.hero .button-callout:focus,
.hero .button-callout:hover,
.hero .button-callout:active {
  box-shadow: none;
}
.copy_container h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.copy_container p,
.copy_container ul {
  display: none;
}
.photo_credit,
.learn-more {
  display: none;
}
.section {
  border: 1px solid #dbdbdb;
  border-width: 1px 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.section:last-child {
  border-bottom-width: 0;
}
.section + .section {
  border-top: 0;
}
.section h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: .75rem;
}
.section p,
.section ul {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.6875;
}
.section ul {
  font-weight: 600;
  padding: 1.5rem 0 1.5rem 1rem;
}
.section .stores {
  padding: 0;
}
.section li {
  line-height: 1;
}
.section li:before {
  color: #b3b3b3;
  content: '\00BB';
  float: left;
  margin-left: -12px;
  padding-right: 12px;
}
.section-container {
  margin: 0 auto;
  max-width: 40rem;
  position: relative;
  z-index: 1;
}
.button-container {
  margin-top: 1.5rem;
  text-align: center;
}
.stores {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #bfbfbf;
  border-width: 1px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 2.25rem 0 1.875rem;
  overflow: hidden;
}
.stores li {
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
  height: 26px;
  margin: 12px 0;
  opacity: .6;
  padding: 10px 6px;
  width: 104px;
}
.stores li.google {
  opacity: 1;
}
.itunes {
  background: url("/images/store_logos/store_logo_sprites_v2.svg?20150813") no-repeat;
  background-position: 0rem 0rem;
  background-size: 6.5rem 8.125rem;
}
.amazon {
  background: url("/images/store_logos/store_logo_sprites_v2.svg?20150813") no-repeat;
  background-position: 0rem -1.625rem;
  background-size: 6.5rem 8.125rem;
}
.spotify {
  background: url("/images/store_logos/store_logo_sprites_v2.svg?20150813") no-repeat;
  background-position: 0rem -3.25rem;
  background-size: 6.5rem 8.125rem;
}
.google {
  background: url("/images/store_logos/store_logo_sprites_v2.svg?20150813") no-repeat;
  background-position: 0rem -4.875rem;
  background-size: 6.5rem 8.125rem;
}
.youtube {
  background: url("/images/store_logos/store_logo_sprites_v2.svg?20150813") no-repeat;
  background-position: 0rem -6.5rem;
  background-size: 6.5rem 8.125rem;
}
.no-svg .itunes {
  background: url("/images/store_logos/store_logo_sprites_v2.png?20150730") no-repeat;
  background-position: 0px 0px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.no-svg .amazon {
  background: url("/images/store_logos/store_logo_sprites_v2.png?20150730") no-repeat;
  background-position: 0px -26px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.no-svg .spotify {
  background: url("/images/store_logos/store_logo_sprites_v2.png?20150730") no-repeat;
  background-position: 0px -52px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.no-svg .google {
  background: url("/images/store_logos/store_logo_sprites_v2.png?20150730") no-repeat;
  background-position: 0px -78px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.no-svg .youtube {
  background: url("/images/store_logos/store_logo_sprites_v2.png?20150730") no-repeat;
  background-position: 0px -104px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
@media screen and (min-width: 37.5em) {
  .hero {
    background-position: 40% 70%;
    background-size: cover;
    color: #000000;
    display: block;
    height: 400px;
  }
  .hero .row {
    background: transparent;
    padding-top: 0;
  }
  .hero .button-callout {
    display: inline-block;
    margin-bottom: 0;
  }
  .copy_container {
    padding-top: .75rem;
    min-width: 18.75rem;
    max-width: 31rem;
    width: 50% !important;
  }
  .copy_container h1 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: .75rem;
    text-shadow: 0 0 10px #000000;
  }
  .copy_container p,
  .copy_container ul {
    color: #ffffff;
    display: block;
    font-family: 'Lato', sans-serif;
    text-shadow: 0 0 10px #000000;
  }
  .copy_container p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: .75rem;
  }
  .copy_container ul {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4167;
    margin-bottom: .75rem;
  }
  .section h2 {
    font-size: 2.5rem;
    margin-bottom: 2.25rem;
  }
  .section p,
  .section ul {
    font-size: 1rem;
  }
  .section ul {
    padding: 2.25rem 0 2.25rem 1rem;
  }
  .section li + li {
    margin-top: 1.125rem;
  }
}
@media screen and (min-width: 48em) {
  .hero {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 480px;
    position: relative;
  }
  .copy_container {
    padding-top: 0;
    width: auto !important;
  }
  .copy_container h1 {
    font-size: 2rem;
    line-height: 1.1428574;
    margin-bottom: 2.25rem;
  }
  .copy_container p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .copy_container ul {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }
  .photo_credit {
    bottom: 0;
    color: #ffffff;
    display: block;
    font-family: 'Sorts Mill Goudy', serif;
    margin-bottom: .75rem;
    padding: .75rem 1.5rem .75rem 1.125rem;
    position: absolute;
    right: 0;
    text-align: right;
    text-shadow: 0 0 10px #000000;
    width: 35%;
    max-width: 28rem;
  }
  .artist {
    font-size: 1.125rem;
  }
  .description,
  .photographer {
    font-size: .875rem;
    line-height: 1.14285714;
  }
  .button-container {
    text-align: left;
  }
  .learn-more {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .learn-more a {
    color: #ffffff;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    padding: 1.125rem 1.125rem 2.25rem;
    position: relative;
    text-shadow: 0 0 10px #000000;
  }
  .learn-more a:after {
    bottom: -5px;
    content: "\203A";
    display: inline-block;
    font-size: 3rem;
    line-height: 1;
    left: 50%;
    position: absolute;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .section {
    overflow: hidden;
    padding-top: 9rem;
    padding-bottom: 3.75rem;
    position: relative;
  }
  .artist-note .artist {
    color: #787878;
    display: block;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 1.125rem;
    line-height: 1;
    margin-bottom: .75rem;
  }
  .artist-note .since {
    color: #787878;
    display: block;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: .875rem;
    line-height: 1;
  }
  .section_one {
    background: #f0f0f0;
    min-height: 650px;
  }
  .section_one .section-container {
    float: right;
    width: 60%;
  }
  .section_one .button-container {
    text-align: center;
  }
  .iphone_bg {
    background: url('../images/home/home_iphone.png') no-repeat 0 0;
    bottom: -120px;
    height: 623px;
    left: 69px;
    position: absolute;
    width: 818px;
  }
  .iphone_bg .artist-note {
    bottom: 82px;
    left: 227px;
    position: absolute;
  }
  .section_two {
    background: #f5f5f5;
  }
  .section_two .section-container {
    float: left;
    width: 55%;
  }
  .youtube_bg {
    background: url('../images/home/home_youtube.png') no-repeat 0 0;
    height: 480px;
    position: absolute;
    right: -20%;
    top: -15%;
    width: 514px;
  }
  .youtube_bg .artist-note {
    bottom: 20px;
    left: 26px;
    position: absolute;
  }
  .section_three {
    background: #fafafa;
  }
  .section_three .section-container {
    float: right;
    width: 60%;
  }
  .pubpen_bg {
    background: url('../images/home/home_pubpen.png') no-repeat 0 0;
    bottom: -60px;
    height: 648px;
    left: -55px;
    position: absolute;
    width: 477px;
  }
}
@media screen and (min-width: 48em) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 48em) and (min-resolution: 192dpi) {
  .iphone_bg {
    background: url('../images/home/home_iphone@2x.png') no-repeat 0 0;
    background-size: 204px 593px;
  }
  .youtube_bg {
    background: url('../images/home/home_youtube@2x.png') no-repeat 0 0;
    background-size: 514px 432px;
  }
}
@media screen and (min-width: 56.0625em) {
  .hero {
    background-position: 45% 70%;
    height: 800px;
  }
  .copy_container {
    max-width: 42rem;
  }
  .copy_container h1 {
    font-size: 2.625rem;
    line-height: 1.1428574;
    margin-bottom: 3rem;
  }
  .copy_container p {
    font-size: 1.875rem;
    margin-bottom: 2.25rem;
  }
  .copy_container ul {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .iphone_bg {
    bottom: -195px;
    left: 69px;
  }
}

/*# sourceMappingURL=source/index_new.css.map */
