.content > header {
  font-size: 5em;
  font-weight: 700;
  padding: 134px 0 0;
}
.content > header .logo {
  vertical-align: -31px;
  width: 140px;
}
.content > header .logo.kkbox {
  width: 389px;
}
.content > header .logo.ytmk {
  width: 331px;
  margin-top: 20px;
}
.content > header .logo-itunes {
  margin-top: -31px;
}
.pod-bulletpoints {
  border-bottom: 1px solid #b5b5b5;
  overflow: hidden;
  padding: 36px 0;
}
.pod-bulletpoints h3 {
  font-size: 1.15em;
  margin-bottom: 12px;
}
.pod-bulletpoints h4 {
  font-size: 1em;
}
.pod-bulletpoints .number {
  background-color: #3b96cf;
  border-radius: 50%;
  color: #fff;
  display: block;
  float: left;
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 2em;
  height: 2em;
  line-height: 2;
  margin: 0 1em;
  text-align: center;
  width: 2em;
}
.pod-indented {
  margin-top: 36px;
  padding-left: 111px;
}
.pod-callout .pod-body {
  padding-right: 40px;
}
.pod-callout .pod-body > header h1 {
  font-size: 2.66em;
  padding: 0 0 12px;
}
.payment {
  text-align: left;
}
.payment > thead th {
  padding: 12px 0 12px 36px;
}
.payment > tbody th {
  text-align: right;
}
.payment > tbody td {
  padding-left: 36px;
}
.payment > tfoot td {
  padding: 12px 0 12px 36px;
}
@media screen and (max-width: 960px) {
  .content > header {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .content > header {
    font-size: 2.66em;
  }
  .pod-indented {
    padding-left: 96px;
  }
  .pod-callout .pod-body {
    padding-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .content > header {
    display: none;
  }
  .pod-callout {
    padding: 0;
  }
  .pod-callout .pod-body header {
    background-color: #3b96cf;
    color: #fff;
    padding: 0 15px;
  }
  .pod-callout .pod-body header h1 {
    margin-bottom: 12px;
    padding: 12px 0;
  }
  .pod-callout .pod-body p {
    background-color: #fff;
    padding: 0 15px;
  }
  .pod-callout .pod-body p + p {
    padding-top: 1.5em;
  }
  .pod-callout .pod-body .button {
    margin-left: 15px;
    margin-right: 15px;
  }
  .pod-callout .pod-float-right {
    background-color: #fff;
    padding: 18px 15px 0;
  }
  .pod-indented {
    padding-left: 0;
  }
  .payment > thead th {
    padding-left: 12px;
  }
  .payment > tbody td {
    padding-left: 12px;
  }
  .payment > tfoot td {
    padding-left: 12px;
  }
}

/*# sourceMappingURL=source/individual_store.css.map */
