.content {
  margin-top: 2em;
}
.content > header h1 {
  border: 0;
  font-size: 3em;
  padding: 0;
}
.pod > header {
  border: 0;
  margin: 0;
}
.pod > header h2 {
  padding: 0;
}
.pod-body ul {
  margin: 12px 0;
  padding-left: 36px;
}
.pod-song {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  padding: 12px;
}
.pod-song .album-art {
  float: left;
  margin-right: 2em;
}
.pod-song .album-art img {
  background-color: #ccc;
  height: 120px;
  width: 120px;
}
.pod-song .details {
  float: left;
  margin-left: 1em;
}
.pod-song .details > span {
  display: block;
}
.pod-song .song-title {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.25;
}
.pod-song .artist-name {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 1em;
}
.pod-song .release-name,
.pod-song .genre,
.pod-song .market-potential {
  color: #777;
  font-family: Georgia, Times, serif;
  font-size: 1.15em;
  font-style: italic;
  line-height: 1;
  margin-top: 4px;
}
form section > header {
  margin-left: 25%;
}
form section > header h2 {
  font-size: 1.5em;
  line-height: 1;
  margin: 1em 0;
}
form div {
  clear: left;
  margin-bottom: 6px;
  overflow: hidden;
}
form label {
  color: #777;
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: 400;
}
form label.radio {
  color: #000;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  margin: 5px 0 0;
  width: auto;
}
form label.radio input[type="radio"] {
  margin-right: 3px;
  width: auto;
}
form label.radio + .radio {
  clear: left;
}
form label.error {
  color: #c00;
  padding-left: 5px;
  width: auto;
}
form .help {
  color: #777;
  font-family: Georgia, serif;
  font-size: 1em;
  font-style: italic;
  margin-left: 25%;
}
form .error {
  float: none;
}
form input.error,
form textarea.error {
  border: 1px solid #c00;
}
form ul {
  float: left;
}
form .date {
  width: 25%;
}
form textarea.large-textarea {
  height: 300px;
  width: 75%;
}
form .deal_contact_information > header {
  margin-left: 25%;
}
form .deal_contact_information > header label {
  width: auto;
}
form > footer {
  border-top: 1px solid #ccc;
  font-size: 1.5em;
  padding-left: 25%;
}
/* Datepicker */
#ui-datepicker-div {
  background: #fff;
  border: 1px solid #777;
  border-radius: 0;
  padding: 0 10px 10px;
}
.ui-datepicker {
  width: auto;
}
.ui-datepicker table {
  margin: 0;
}
.ui-widget-header {
  background: none;
  border: 1px solid #ccc;
  border-radius: 0;
  border-width: 0 0 1px;
  margin: 0 -10px;
  padding: 10px;
}
.ui-datepicker-title {
  font-size: 10px;
}
.ui-datepicker-title span {
  font-size: 1.2em;
  line-height: 25px;
}
.ui-datepicker-calendar thead > tr {
  background: none;
}
.ui-datepicker-calendar thead th {
  color: #333;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  font-size: 12px;
  font-weight: 400;
}
.ui-datepicker-calendar tbody > tr {
  background: #efefef;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: none;
  border: 0;
  color: #777;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  font-size: 12px;
  font-weight: 400;
  padding: 2px 6px;
  text-align: center;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background: #3b96cf;
  border-radius: 3px;
  color: #fff;
}

/*# sourceMappingURL=source/ingrooves_fontana.css.map */
