body {
  -webkit-font-smoothing: antialiased;
}
form input[type="submit"] {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
form input[type="submit"]:hover,
form input[type="submit"]:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
form input[type="submit"]:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
i {
  font-style: normal;
}
.content,
main {
  color: #333;
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 60px;
  margin-top: 20px;
}
.content > header,
main > header {
  margin-bottom: 18px;
}
.content > header h1,
main > header h1 {
  border-bottom: 3px solid #333;
  line-height: 1;
  padding: 0 0 12px;
}
.content > header.no-underline,
main > header.no-underline {
  margin-top: 18px;
}
.content > header.no-underline h1,
main > header.no-underline h1 {
  border-bottom: 0;
  line-height: 1;
  padding: 0;
}
.content > header.alternate,
main > header.alternate {
  margin-top: 18px;
}
.content > header.alternate h1,
main > header.alternate h1 {
  border-bottom: 0;
  font-size: 2em;
  font-weight: 200;
  padding: 0;
}
.content > header.alternate2 h1,
main > header.alternate2 h1 {
  border-bottom: 0;
  font-size: 3.6em;
}
.content > header.alternate3 h1,
main > header.alternate3 h1 {
  border-bottom: 0;
  color: #3a96cf;
  font-size: 2.5em;
  font-weight: 700;
}
.content h1,
main h1,
.content h2,
main h2,
.content h3,
main h3,
.content h4,
main h4,
.content h5,
main h5,
.content h6,
main h6 {
  font-weight: bold;
}
.content h1,
main h1 {
  font-size: 2em;
}
.content h2,
main h2 {
  font-size: 1.5em;
}
.content h3,
main h3 {
  font-size: 1.15em;
}
.content h4,
main h4 {
  font-size: 1em;
}
.content h5,
main h5 {
  font-size: 0.83em;
}
.content h6,
main h6 {
  font-size: 0.83em;
}
.content a,
main a {
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}
.content .button-callout,
main .button-callout {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
.content .button-callout:hover,
main .button-callout:hover,
.content .button-callout:focus,
main .button-callout:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.content .button-callout:active,
main .button-callout:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.content .button-callout-alt,
main .button-callout-alt {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
}
.content .button-callout-alt:hover,
main .button-callout-alt:hover,
.content .button-callout-alt:focus,
main .button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.content .button-callout-alt:active,
main .button-callout-alt:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.content .button-callout-alt:hover,
main .button-callout-alt:hover,
.content .button-callout-alt:focus,
main .button-callout-alt:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
.content .button-callout-alt:active,
main .button-callout-alt:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
.content .button-interface,
main .button-interface {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  color: #777;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.content .button-interface:hover,
main .button-interface:hover,
.content .button-interface:focus,
main .button-interface:focus {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #777;
}
.content .button-interface:active,
main .button-interface:active {
  background-color: #dcdcdc;
  border: 1px solid #d6d6d6;
}
.pod {
  margin-bottom: 18px;
}
.pod > header {
  border-bottom: 3px solid #333;
  line-height: 1;
  margin-bottom: 18px;
}
.pod > header h1 {
  padding: 0 0 12px;
}
.pod > header h2 {
  padding: 0 0 12px;
}
.pod > header h3 {
  font-weight: normal;
  padding: 0 0 12px;
}
.pod-header {
  margin-bottom: 36px;
}
.pod-header .pod-body {
  border-bottom: 3px solid #333;
}
.pod-header .pod-body p {
  font-size: 1.15em;
  padding: 0 0 18px;
}
.pod-body {
  color: #000;
  padding: 0;
}
.pod-body p {
  font-size: 1.15em;
}
.pod-body p + p {
  padding-top: 1.5em;
}
.pod-body > ul {
  font-size: 1.15em;
}
.pod-body ul {
  list-style: disc;
  margin: 36px 0;
  padding-left: 54px;
}
.pod-body li + li {
  margin-top: 24px;
}
.pod-body form ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.pod-foot {
  text-align: center;
}
.notice {
  background-color: #E6F4FD;
  border: 1px solid #69AAD0;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
}
.notice p {
  margin-bottom: 0;
}
@media screen and (min-width: 481px) {
  h1 {
    font-size: 2.66em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.15em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.83em;
  }
}
/*
 *  <div class="twelve columns">
 *    <div class="warning">
 *      <span><a class="warning-dismiss">Hide</a></span>
 *      <p>Do you have compositions not distributed through TuneCore?</p>
 *      <a href="#" class="button-callout">Submit Additional Compositions</a>
 *    </div>
 *  </div>
 */
/*.warning {
  background-color: #ffd;
  border: 1px solid @brd_grey;
  .border-radius(5px);
  margin-bottom: 24px;
  padding: 10px;
  position: relative;

  > p {
    font-size: 1.5em;
    font-weight: 700;
  }
}
.warning-dismiss {
  font-size: 1em;
  font-family: Georgia, serif;
  font-style: italic;
  position: absolute;
  right: 10px;
  top: 10px;
}*/

/*# sourceMappingURL=source/internal_layout.css.map */
