body {
  background-color: #25ae9e;
  color: #fff;
}
#header.store_manager {
  background-color: #d1eae7;
}
.interstitial h2 {
  font-size: 5em;
  text-transform: uppercase;
  margin-top: 1.7em;
}
.interstitial h3 {
  color: #fff;
  font-size: 2.3em;
  font-weight: normal;
}
.interstitial p {
  font-size: 1.3em;
  margin-bottom: 2.8em;
}
.interstitial .btn {
  text-transform: none;
  font-size: 1.3em;
  font-weight: normal;
  margin-right: 1em;
}
.interstitial .btn-callout {
  background-color: #e7790e;
  border: 1px solid #e7790e;
}
.interstitial .btn-callout-alt {
  background-color: #3a96cf;
  border: 1px solid #3a96cf;
  color: #fff;
}
.store_manager.interstitial {
  background: url("/images/store_manager_bg.png") no-repeat 35% 50%;
}
@media screen and (max-width: 930px) {
  .interstitial {
    font-size: 1em;
  }
}
@media screen and (max-width: 760px) {
  .interstitial > header {
    position: relative;
  }
  .interstitial > header > .columns {
    float: left;
    width: auto;
  }
  .interstitial > header > .four {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 0;
  }
  .interstitial > header > .four .six {
    float: left;
    padding: 0;
    width: 50%;
  }
}
@media screen and (max-width: 630px) {
  .interstitial {
    font-size: .9em;
  }
}
@media screen and (max-width: 570px) {
  .interstitial {
    font-size: .8em;
  }
}
@media screen and (max-width: 510px) {
  .interstitial > header h2 {
    margin-top: 3.2em;
  }
  .interstitial > header > .eight,
  .interstitial > header > .ten {
    font-size: .7em;
  }
}
@media screen and (max-width: 410px) {
  .interstitial > header h2 {
    margin-top: 4.1em;
  }
  .interstitial > header > .eight,
  .interstitial > header > .ten {
    font-size: .6em;
  }
  .interstitial .btn {
    font-size: 1em;
  }
}
@media screen and (max-width: 370px) {
  .interstitial > header h2 {
    margin-top: 7em;
  }
  .interstitial > header > .eight,
  .interstitial > header > .ten {
    font-size: .4em;
  }
  .interstitial .btn {
    font-size: .9em;
  }
}

/*# sourceMappingURL=source/interstitial.css.map */
