.details-section {
  line-height: 1.8em;
  padding: 15px; 
}

.reseller-details {
  display: inline-block;
  min-width: 230px;
  text-align: left;
}


@media screen and (min-width: 768px) {
  .text-right-on-desktop {
    text-align: right;
  }
}