@import url(http://fonts.googleapis.com/css?family=Lato:100,400);
#old_page.content > header {
  font-size: 5em;
  font-weight: bold;
  padding: 134px 0 0;
}
#old_page.content > header .logo {
  vertical-align: -31px;
  width: 140px;
}
#old_page.content > header .logo.kkbox {
  width: 389px;
}
#old_page.content > header .logo-itunes {
  margin-top: -31px;
}
#old_page .pod-bulletpoints {
  border-bottom: 1px solid #b5b5b5;
  overflow: hidden;
  padding: 36px 0;
}
#old_page .pod-bulletpoints h3 {
  font-size: 1.15em;
  margin-bottom: 12px;
}
#old_page .pod-bulletpoints h4 {
  font-size: 1em;
}
#old_page .pod-bulletpoints .number {
  background-color: #3b96cf;
  border-radius: 50%;
  color: #fff;
  display: block;
  float: left;
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 2em;
  height: 2em;
  line-height: 2;
  margin: 0 1em;
  text-align: center;
  width: 2em;
}
#old_page .pod-indented {
  margin-top: 36px;
  padding-left: 111px;
}
#old_page .pod-callout .pod-body {
  padding-right: 40px;
}
#old_page .pod-callout .pod-body > header h1 {
  font-size: 2.66em;
  padding: 0 0 12px;
}
#old_page .payment {
  text-align: left;
}
#old_page .payment > thead th {
  padding: 12px 0 12px 36px;
}
#old_page .payment > tbody th {
  text-align: right;
}
#old_page .payment > tbody td {
  padding-left: 36px;
}
#old_page .payment > tfoot td {
  padding: 12px 0 12px 36px;
}
@media screen and (max-width: 960px) {
  #old_page.content > header {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  #old_page.content > header {
    font-size: 2.66em;
  }
  #old_page .pod-indented {
    padding-left: 96px;
  }
  #old_page .pod-callout .pod-body {
    padding-right: 0;
  }
}
@media screen and (max-width: 480px) {
  #old_page.content > header {
    display: none;
  }
  #old_page .pod-callout {
    padding: 0;
  }
  #old_page .pod-callout .pod-body header {
    background-color: #3b96cf;
    color: #fff;
    padding: 0 15px;
  }
  #old_page .pod-callout .pod-body header h1 {
    margin-bottom: 12px;
    padding: 12px 0;
  }
  #old_page .pod-callout .pod-body p {
    background-color: #fff;
    padding: 0 15px;
  }
  #old_page .pod-callout .pod-body p + p {
    padding-top: 1.5em;
  }
  #old_page .pod-callout .pod-body .button {
    margin-left: 15px;
    margin-right: 15px;
  }
  #old_page .pod-callout .pod-float-right {
    background-color: #fff;
    padding: 18px 15px 0;
  }
  #old_page .pod-indented {
    padding-left: 0;
  }
  #old_page .payment > thead th {
    padding-left: 12px;
  }
  #old_page .payment > tbody td {
    padding-left: 12px;
  }
  #old_page .payment > tfoot td {
    padding-left: 12px;
  }
}
#new_page.content > header {
  background: #09192a url("/images/bgs/gungor_bg.jpg") no-repeat top left;
  background-size: contain;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  overflow: hidden;
  padding: 30px 0 60px;
}
#new_page.content > header h1 {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 4em;
  font-weight: 100;
  margin-bottom: 24px;
  padding: 18px 0;
  text-align: center;
}
#new_page .artist-credits {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  float: right;
  padding: 12px;
}
#new_page .artist-credits p {
  font-size: 1em;
  line-height: 1.25;
  margin-right: 50px;
}
#new_page .benefits {
  clear: both;
  text-align: center;
}
#new_page .benefits h2 {
  font-size: 2em;
  font-weight: 300;
  padding: 36px 0;
}
#new_page .benefits .get-started {
  font-size: 1.667em;
  margin-top: 0;
}
#new_page .benefits-graphic-container {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 24px;
}
#new_page .benefits-graphic {
  border-bottom: 1px solid #777;
  font-size: 1.667em;
  height: auto;
  margin: 0 1% 12px;
  min-width: 150px;
  text-align: left;
  width: 20%;
}
#new_page .benefits-graphic .image {
  display: block;
  height: 77px;
  text-align: center;
}
#new_page .benefits-graphic .text {
  border-top: 1px solid #777;
  display: block;
  font-weight: 700;
  line-height: 1.25;
  height: auto;
  padding: 12px 0;
}
#new_page .pod-sellingpoints h2 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1;
  padding-bottom: 36px;
}
#new_page .pod-sellingpoints .mb-bg {
  display: none;
}
#new_page .pod-sellingpoints header {
  margin-bottom: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}
#new_page .pod-sellingpoints header p {
  font-size: 1.5em;
  line-height: 1.25;
}
#new_page .pod-sellingpoints footer .get-started {
  font-size: 1.667em;
  margin-top: 0;
}
#new_page .selling_point {
  margin-bottom: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}
#new_page .selling_point h3 {
  font-size: 2em;
  font-weight: 300;
  line-height: 1;
  padding-bottom: 24px;
}
#new_page .selling_point p {
  font-size: 1.15em;
  line-height: 1.5;
}
#new_page .selling_point.end {
  margin-bottom: 36px;
}
#new_page .pod-questions h2 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1;
  padding-bottom: 24px;
}
#new_page .pod-questions .get-started {
  font-size: 1.667em;
  margin-top: 0;
}
#new_page .pod-questions-container ul {
  background: #d9d9d9;
  background: linear-gradient(to right, #d9d9d9 0%, #ffffff 100%);
  margin-bottom: 36px;
  padding: 1px 0 1px;
}
#new_page .pod-questions-container li:last-child .question,
#new_page .pod-questions-container li:last-child .answer {
  margin-bottom: 0;
}
#new_page .pod-questions-container li.openned .question {
  margin-bottom: 0;
  padding-bottom: 0;
}
#new_page .pod-questions-container li.openned .question:hover,
#new_page .pod-questions-container li.openned .question:active {
  background: #fff;
}
#new_page .pod-questions-container li.openned .answer {
  display: block;
}
#new_page .pod-questions-container .question {
  background-color: #fff;
  color: #333;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-style: normal;
  margin-bottom: 1px;
  padding: 24px 0 24px 24px;
}
#new_page .pod-questions-container .question .fa-play {
  color: #b2b2b2;
  margin-right: 24px;
}
#new_page .pod-questions-container .question:hover,
#new_page .pod-questions-container .question:active {
  background: #e4eff5;
  background: linear-gradient(to right, #e4eff5 0%, #ffffff 100%);
  color: #3b96cf;
}
#new_page .pod-questions-container .question:hover .fa-play,
#new_page .pod-questions-container .question:active .fa-play {
  color: #b0d5ec;
}
#new_page .pod-questions-container .answer {
  background-color: #fff;
  display: none;
  font-size: 1.5em;
  margin-bottom: 1px;
  padding: 24px 24px 24px 66px;
}
@media screen and (min-width: 768px) {
  #new_page.content > header {
    padding-top: 186px;
  }
  #new_page.content > header h1 {
    font-size: 6em;
  }
  #new_page .pod-sellingpoints .row {
    position: relative;
  }
  #new_page .pod-sellingpoints .mb-bg {
    display: block;
  }
  #new_page .pod-sellingpoints .mb-bg img {
    left: -28%;
    position: absolute;
    top: 12%;
  }
  #new_page .pod-sellingpoints header {
    background-color: rgba(255, 255, 255, 0.8);
  }
  #new_page .selling_point {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@media screen and (min-width: 961px) {
  #new_page.content > header {
    padding-top: 281px;
  }
  #new_page .pod-sellingpoints .mb-bg img {
    left: -28%;
  }
}
.promo_banner {
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
  display: block;
  padding: 30px 0;
  text-align: center;
  width: 100%;
}
.promo_banner h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
}
.promo_banner p {
  color: #333333;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
}
.promo_banner p strong {
  color: #e77a0d;
}
.promo_banner p .button-callout-alt {
  font-size: 0.778em;
}
.promo_banner .button-callout-alt {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
}
.promo_banner .button-callout-alt:hover,
.promo_banner .button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.promo_banner .button-callout-alt:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.promo_banner .button-callout-alt:hover,
.promo_banner .button-callout-alt:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
.promo_banner .button-callout-alt:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
.apple_music {
  background: #000000;
  background: linear-gradient(0deg, #383838, #000000);
  color: #fff;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: auto;
}
.apple_music a {
  color: #ffffff;
  display: block;
}
.apple_music h2 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 100 !important;
}
.apple_music p {
  color: #ffffff !important;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400 !important;
}

/*# sourceMappingURL=source/itunes_store.css.map */
