body {
  background-color: #fae302;
  color: #000;
}
.interstitial h2 {
  font-size: 3.2em;
  margin: 0;
  padding: 32px 0 12px 32px;
}
.interstitial p {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5;
  padding: 0 50px 0 295px;
}
.interstitial .buttons {
  padding-right: 62px;
}
.interstitial .btn {
  font-size: 1.8em;
}

/*# sourceMappingURL=source/jb_hifi_store.css.map */
