body {
  background-color: #333;
}
.interstitial header {
  background: url("/images/interstitial/jukelanding_rainbow.png") no-repeat right bottom;
}
.interstitial h2 {
  font-size: 3.2em;
  margin: 0;
  padding: 32px 0 12px 32px;
}
.interstitial p {
  font-size: 2.4em;
  font-weight: 300;
  line-height: 1.5;
  margin: -55px 0 45px 0;
  padding: 0 50px 0 130px;
}
.interstitial .btn {
  font-size: 1.8em;
}

/*# sourceMappingURL=source/juke_store.css.map */
