body {
  background: #fff;
  background: linear-gradient(to bottom, rgba(67, 247, 212, 0.57) 0%, rgba(249, 254, 170, 0.57) 50%, rgba(253, 183, 242, 0.57) 100%);
}
#header {
  background-color: transparent;
  margin-bottom: 60px;
  padding: 10px 0 0;
}
#header .logo {
  display: inline-block;
  height: 44px;
  float: none;
  width: 175px;
}
.interstitial {
  color: #333;
  text-align: center;
}
.interstitial > header h1 {
  color: #333;
  font-size: 58px;
  font-style: italic;
  font-weight: 300;
  line-height: 1;
  padding-bottom: 12px;
  text-transform: uppercase;
}
.interstitial > header h2 {
  color: #333;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding-bottom: 48px;
  text-transform: uppercase;
}
.interstitial p {
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.611;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 48px;
  text-align: left;
}
.interstitial .offer-time-limit {
  font-weight: 700;
  padding-top: 0;
  text-align: center;
}
.interstitial .btn {
  font-size: 1.8em;
}
.interstitial .three-stores-container {
  background: #fff;
}
.interstitial .three-stores {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 24px 0;
}
.interstitial .three-stores > img {
  height: auto;
  margin: auto;
}
.interstitial .three-stores > img + img {
  margin-left: 0;
}
.interstitial .three-stores .anghami {
  height: 32px;
  width: 110px;
}
.interstitial .three-stores .guvera {
  height: 22px;
  width: 126px;
}
.interstitial .three-stores .wimp {
  height: 27px;
  width: 119px;
}
@media screen and (min-width: 481px) {
  .interstitial .three-stores > img + img {
    margin-left: 34px;
  }
}

/*# sourceMappingURL=source/july_store_sale_interstitial.css.map */
