body {
  background: #f2f2f2;
  background: linear-gradient(to bottom, rgba(242, 242, 242, 0.7) 0%, rgba(214, 246, 255, 0.7) 35%, rgba(205, 211, 255, 0.7) 100%);
  overflow: hidden;
}
#header {
  background-color: #fff;
  border-bottom: 1px solid #888;
  padding-top: 10px;
}
.interstitial {
  color: #333;
  margin-top: -20px;
  padding: 60px 0 0 60px;
  text-align: center;
}
.interstitial h1 img {
  padding-bottom: 36px;
}
.interstitial p {
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.33;
  margin: 0;
  padding-bottom: 24px;
  text-align: left;
}
.interstitial .btn {
  font-size: 1.8em;
}

/*# sourceMappingURL=source/kkbox.css.map */
