/* ---- main styles here ----- */
/* notes: these mixins are font sizing, weight, color, top-bottom margin and alignment ONLY.  
   All grid alignment is handled by Foundation.css  ( foundation.zurb.com for docs ) 
   this is going into its own include file when it's complete - Gary Burke - July 2012  */
/*
#header, #summary, #footer {
  .container {
    width: 960px;
    margin: 0px auto;
    overflow:hidden;
    display: block;
  }
}

#footer { 
  .container {
    section {
      font-size: 1.5em;
      &.links {
        font-size: 1.1em;
      }
    } 
  }
}

*/

/*# sourceMappingURL=source/main.css.map */
