body {
  background: #000 url(/images/interstitial/march_madnesslanding_bg.png) no-repeat top left;
}
#header {
  background-color: transparent;
}
#header .logo img {
  opacity: 0.5;
}
.interstitial {
  color: #fff;
  margin-top: -20px;
  padding: 60px 0 0 60px;
}
.interstitial h1 img {
  padding-bottom: 0;
}
.interstitial p {
  font-family: Courier, monospace;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0 0 40px 20px;
}
.interstitial .buttons {
  padding-left: 35px;
}
.interstitial .btn {
  font-size: 1.8em;
}

/*# sourceMappingURL=source/march_madness.css.map */
