#message {
  width: 900px;
  margin: 0 auto;
  padding-top: 125px;
  font-size: 2em;
}
#message p {
  margin-bottom: 1.5em;
}
#message p .button-callout-alt {
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #e7790e;
  font-size: 1em;
}
#message p .button-callout-alt:hover,
#message p .button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
#message p .button-callout-alt:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
#message p .button-callout-alt:hover,
#message p .button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
}
#message p .signin {
  font-size: .7em;
}
#message .cta {
  text-align: center;
  font-size: 1em;
  margin-bottom: 20px;
}
#message li {
  margin-bottom: .5em;
}
@media only screen and (min-width: 961px) {
  .mainbody {
    padding-top: 90px;
  }
}

/*# sourceMappingURL=source/message.css.map */
