.meta_tags_nav {
  padding: 10px 0;
}
.meta_tags_nav li {
  display: inline-block;
}
.meta_tags_nav li + li {
  margin-left: 1em;
}

.meta_tags_nav li a {
  font-size: 1.3em;
  font-style: normal;
  font-family: sans-serif;
}

.page_name {
  font-size: 1.5em;
  text-decoration: underline;
}

table#metatags {
  margin-bottom: 20px;
}

input[type=text] {
  font-size: 1.4em;
  padding: 4px;
  width: 699px;
}

select {
   border: 1px solid #ccc;
   font-size: 1.5em;
   height: 34px;
   width: 699px;
}

.form-input {
  margin-bottom: 20px;
  border-bottom: 1px solid #EEE;
  padding-top: 10px;
  padding-bottom: 10px;
}

label {
  font-size: 1.5em;
}

.cancel_link {
  margin-left: 10px;
  font-size: 1.5em
}
