@import url(//fonts.googleapis.com/css?family=Roboto);

section {
  padding: 15px;
  padding-top: 5px;
  color: #000000;
}

.no-padding {
  padding: 0px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #3B96CF;
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: .1rem;
  text-transform: uppercase;
}

.row .planning {
  font-size: 1.2rem;
  font-style: normal;
  margin-bottom: .1rem;
  margin-top: .3rem;
}

.top {
  background-color: #333;
}

p {
  padding-top: 1px;
  padding-bottom: 10px;
  font-size: .85rem;
}

.row {
  padding-top: 1px;
}

.footer {
  padding-top: 1px;
  font-size: .8rem;
  font-style: italic;
  text-decoration: underline;
  margin-bottom: .1rem;
  margin-top: .2rem;
}

.button-callout {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding: .5rem 5.8rem;
  text-align: center;
}

.button-callout.white-button {
  color: #00a1e0;
  background-color: white;
  border: 1px solid #00a1e0;
  padding: .5rem 1.8rem;
}

.buy-credits {
  background-color: #00a1e0;
  border: 1px solid #00a1e0;
  border-radius: 0rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 1.3rem;
  margin-top: .6rem;
}

.buy-credits:focus,
.buy-credits:hover,
.buy-credits:active {
  background-color: #00a1e0;
  color: #ffffff;
  text-decoration: underline;
}

.logo {
  width:120px;
  padding: 15px 15px;
}

.price {
  text-align: right;
  font-size: 1.3rem;
  padding-top: .5px;
  padding-bottom: 1px;
}

.annualprice {
  text-align: right;
  font-size: .73rem;
  font-style: italic;
  padding-top: 1px;
  padding-bottom: 1px;
}

.interstitial-lang-selector .mobile-language-selector {
  margin: 10px 0px 0px 0px !important;
}
