.table-songs {
  border-collapse: separate;
  width: 100%;
}
.table-songs .tracks {
  font-size: 1.23em;
  font-weight: 700;
  line-height: 45px;
  padding-left: 10px;
  text-align: left;
}
.table-songs .send_to_yt,
.table-songs .mark_ineligible {
  width: 65px;
}
.table-songs .track-number {
  color: #333;
  float: left;
  font-size: 14px;
  font-weight: 700;
  height: 32px;
  margin: 0 20px 10px 0;
}
.table-songs .song-name {
  color: #333;
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: -2px;
}
.table-songs .artist-name {
  color: #666;
  display: block;
  font-size: 11px;
  line-height: 12px;
}
.table-songs .explicit-lyrics,
.table-songs .clean-version {
  font-size: 10px;
  line-height: 12px;
  float: left;
  padding-right: 5px;
}
.table-songs .clean-version {
  color: #333;
}
.table-songs .explicit-lyrics {
  color: #f00;
}
.table-songs .isrc {
  color: #999;
  display: block;
  font-size: 10px;
  line-height: 12px;
}
.table-songs td {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.table-songs td:last-child {
  border-right: 1px solid #ccc;
}
.table-songs tbody > tr:first-child > td:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
}
.table-songs tbody > tr:first-child > td:last-child {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.table-songs tbody > tr:first-child > td:only-child {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
}
.table-songs tbody > tr:last-child > td {
  border-bottom: 1px solid #ccc;
}
.table-songs tbody > tr:last-child > td:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
}
.table-songs tbody > tr:last-child > td:last-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.table-songs tbody > tr:last-child > td:only-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
}
.table-songs tbody > tr:nth-child(even) > td {
  background-color: #eee;
}
.table-songs tbody td {
  padding: 10px 10px 5px;
  text-align: center;
}
.table-songs tbody td:first-child {
  padding: 10px 10px 5px 15px;
  text-align: left;
}
.table-songs .status-td span:before {
  background: transparent no-repeat 0 0;
  content: "";
  display: inline-block;
  height: 16px;
  padding-right: 3px;
  vertical-align: top;
  width: 16px;
}
.table-songs .status-td .missing:before {
  background-image: url("/images/compositions/dispute.png");
}
.table-songs .status-td .processing:before {
  background-image: url("/images/compositions/processing.png");
}
.table-songs .status-td .sent:before {
  background-image: url("/images/compositions/accepted.png");
}
.table-songs .status-td .removed:before,
.table-songs .status-td .ineligible:before,
.table-songs .status-td .taken_down:before {
  height: 16px;
  padding-right: 3px;
  width: 0;
}
.table-songs .undo_ineligibility {
  display: block;
}

/*# sourceMappingURL=source/monetize.css.map */
