.pod-body > div {
  padding: 0;
}
.pod-store {
  border-bottom: 1px solid #B5B5B5;
  margin-bottom: 36px;
  padding: 0 0 36px;
}
.pod-store .logo img {
  display: inline-block;
  max-height: 40px;
  max-width: 75%;
}
.pod-store .description {
  font-size: 1.15em;
  padding-bottom: 24px;
}
.pod-store .type .tag {
  background-color: #E5E5E5;
  color: #777;
  font-family: Georgia, Times, serif;
  font-style: italic;
  margin-left: .5em;
  padding: .3em .4em;
}
.sm {
  display: none;
}
@media screen and (min-width: 767px) {
  .pod-store .logo {
    padding: 0;
  }
}
@media screen and (min-width: 960px) {
  .content > header {
    padding-top: 242px;
  }
}

/*# sourceMappingURL=source/music_stores.css.map */
