html {
  height: auto;
}
body {
  background: #eee url("/images/interstitial/neuroticlanding_bg.jpg") no-repeat top center;
}
#header {
  background-color: transparent;
  margin-bottom: 64px;
  padding: 10px 0 0;
  text-align: center;
  width: 100%;
}
#header .container {
  width: 100%;
}
#header .logo {
  display: inline-block;
  height: 44px;
  float: none;
  width: 175px;
}
.interstitial {
  color: #333;
  text-align: center;
}
.interstitial h1 img {
  height: 139px;
  padding-bottom: 36px;
}
.interstitial p {
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.33;
  margin: 0;
  padding-bottom: 36px;
  text-align: left;
}
.interstitial .btn {
  font-size: 1.8em;
}

/*# sourceMappingURL=source/neurotic_media_interstitial.css.map */
