h1 a {
  display: inline-block;
  font-size: 14px;
  margin-left: 20px;
  font-style: italic;
  font-weight: normal;
  float: right;
  margin-top: 10px;
}
h1 a:hover {
  text-decoration: underline;
}
h2 {
  cursor: pointer;
  color: #3b96cf;
  margin-bottom: 10px;
}
h2:hover {
  text-decoration: underline;
}
.row {
  margin-bottom: 20px;
  min-width: 1420px;
}
section {
  margin-bottom: 40px;
}
form label {
  margin: 0;
  text-align: left;
}
table {
  table-layout: fixed;
}
table th,
table td.head {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}
table td {
  text-align: right;
  min-width: 120px !important;
}
table td.section {
  padding-left: 20px;
  font-size: 14px;
}
table td span {
  font-size: 9px;
}
table th:first-child,
table td:first-child {
  width: 90px;
}
table.revenue {
  font-size: 11px;
}

/*# sourceMappingURL=source/new_reports.css.map */
