.content > header h1 {
  border-bottom: 0;
}
.pager {
  border: 3px solid #333;
  border-width: 3px 0;
  padding: 12px 0;
  text-align: center;
}
.pager-total {
  font-family: Georgia, serif;
  font-style: italic;
  padding-bottom: 5px;
}
.pager-controls a i {
  color: #333;
}
.pager-controls span {
  margin: 0 5px;
}
.pager-controls span i {
  color: #cdcdcd;
}
.pager-left,
.pager-select,
.pager-right {
  display: inline-block;
}
.pager-left,
.pager-right {
  margin: 0 10px;
}
.pager-select {
  font-family: Georgia, serif;
  font-style: italic;
  vertical-align: super;
}
.notification_items .notifications_item + .notifications_item {
  border-top: 1px solid #cdcdcd;
}
.notification_items .notifications_item.unread {
  background-color: #ffc;
}
.notification_items .notifications_item.empty_item {
  padding: 10px 0;
}
.notification_items .notifications_item a {
  color: inherit;
  display: block;
  font-family: inherit;
  font-style: normal;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
}
.notification_items .image {
  float: left;
  margin-right: 10px;
  height: 50px;
  width: 50px;
}
.notification_items .title {
  color: #333;
  display: block;
  font-size: 1em;
  font-weight: 700;
  margin: 0 0 5px;
}
.notification_items .time {
  color: #666;
  float: right;
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: normal;
  padding-left: 10px;
}
.notification_items .description {
  display: block;
  float: left;
  margin: 0;
  padding-right: 125px;
  width: 520px;
}
.notification_items .description .faux_link {
  color: #3a96cf;
  font-family: Georgia, serif;
  font-style: italic;
  text-decoration: underline;
}
.filter {
  background-color: #f0f0f0;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin-bottom: 24px;
  max-width: 220px;
}
.filter > header {
  border-bottom: 1px solid #cdcdcd;
  padding: 18px 12px 12px;
}
.filter form label {
  display: block;
  float: none;
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  width: auto;
}
.filter .button-callout-alt,
.filter .button-interface {
  margin-top: 0;
  margin-right: 12px;
  padding: 5px 10px;
}
.filter_form > div {
  border-bottom: 1px solid #cdcdcd;
  padding: 12px;
}
.filter_form .date {
  overflow: hidden;
}
.filter_form .date label {
  clear: left;
  float: left;
  margin: 5px 0;
  width: 35%;
}
.filter_form .date select {
  float: left;
  margin: 5px 0;
}
.filter-buttons {
  display: block;
  font-size: 1em;
  padding: 12px 10px 0;
}

/*# sourceMappingURL=source/notifications.css.map */
