@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.tc-section{
  font-family: 'Roboto';
}

.tc-grid{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.tc-section-title{
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.tc-section-knowlege row col-sm-6{
  float: right;
  width: 33%;
}

.tc-section-header{
  border-bottom: 1px solid #e2e2e2;
}

.tc-section{
  padding: 60px 0;
}

.tc-header-block{
  border: 1px solid #e2e2e2;
  padding: 50px;
  margin-bottom: 30px;
  min-height: 294px;
}

.tc-header-block-small {
  border: 1px solid #e2e2e2;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tc-header-block-small p {
  margin-bottom: 0px;
  font-size: 14px;
}

.tc-header-block-header{
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 30px;
}

.tc-header-block p{
  font-size: 14px;
}

.state_zero_row,
.state_zero_btns  {
  display: flex;
  justify-content: space-between;
}

.state_zero_row {
  margin-bottom: 15px;
}

.state_zero_row .tunecore-column,
.state_zero_btns .tunecore-btn {
  width: 45%;
}

.tc-header-block p:not(:last-child){
  margin-bottom: 30px;
}

.tc-header-block p a{
  color: #00a1e0;
  padding-bottom: 4px;
  border-bottom: 1px solid #00a1e0;
}

.tc-blue-bar{
  bottom: 10px;
  right: 10px;
  width: 300px;
  position: fixed;
  z-index: 99;
  display: block;
  background: #00a1e0;
  color: white;
  padding: 40px 20px 20px 20px;
  font-size: 14px;
  text-align: center;
}

.tc-blue-bar a.tunecore-btn-white {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 20px;
  display: block;
  margin-top: 10px;
}

.tc-blue-bar a.close{
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
}

.tunecore-btn{
  border: none;
  background: #00a1e0;
  display: inline-block;
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px 24px;
  text-decoration: none;
  text-align: center;
}

.tunecore-btn.white-btn {
  color: #00a1e0;
  background-color: white;
  border: 1px solid #00a1e0;
}

.tunecore-btn:hover{
  background: #14bdff;
  text-decoration: none;
  color: white;
}

.flex-row{
  clear: both;
  display: flex;
  flex-wrap: wrap;
}

.flex-block {
  flex: 1;
  display: flex;
  padding: 10px;
}

.tc-height{
  flex-grow: 1;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.tunecore-column ul.tc-list {
  list-style: outside none;
  list-style-type: disc;
  text-align: left;
  font-size: 14px;
}

.tunecore-column ul.tc-list ::marker {
  margin-right: 5px;
}

@media only screen and (max-width: 700px){
  .flex-block {
    flex: 0 0 100%;
  }
}

@media only screen and (max-width: 860px){
  .tc-blue-bar{
    margin-top: -21px;
    top: inherit;
  }
}
