table.sales_data {
  width: 940px !IMPORTANT;
  font-size: 100% !IMPORTANT;
  margin-bottom: 15px;
}
table.sales_data td,
table.sales_data th {
  white-space: normal !IMPORTANT;
}
table.sales_data.paypal_table tbody td {
  vertical-align: middle;
}
#paypal_options,
#check_options,
.other-options {
  display: block;
}
.padtop-15 {
  padding-top: 15px;
}
.spacer,
.spacer-small {
  float: left;
  display: inline-block;
  padding-bottom: 5px;
}
.clear {
  clear: both;
}
.spacer {
  width: auto;
  padding-left: 90px;
}
.nopadleft {
  padding-left: 0;
}
.spacer-small {
  width: 90px;
}
.pagination-wrapper {
  padding-bottom: 15px;
}
.attention {
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  border-radius: 10px;
  background-color: #ff9900;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12px;
  padding: 1px 7px;
  cursor: default;
}
.confirm-link,
.person-link {
  text-decoration: none;
}
.confirm-link {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #EAEAEA;
}
.no-border-on-link .confirm-link {
  padding: 0;
  border: 0px;
}
table.sales_data tr.alt,
table tr.alt {
  background-color: #F2F2F2;
}
table.sales_data tr.suspicious,
table tr.suspicious {
  background-color: #CD5555;
}
.ruler {
  margin-bottom: 15px;
}

.submit-paypal-payouts:disabled, .submit-paypal-payouts:disabled:hover {
  cursor: progress;
  background: grey;
  border: none;
}
/*# sourceMappingURL=source/payments.css.map */
