#card-info-container {
  text-align: right;
  display: flex;
  align-items: center;
}

#card-secure-fields {
  margin-top: 8px;
}

#zoozIframe {
  margin-right: -20px;
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  #card-info-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

select[name="country"] {
  padding: 5px;
  color: #666;
}
