#pegged_rate_input_container {
  margin: 10px 0px;
}

.new_currency_fepg_form_container fieldset {
  padding: 10px;
}

.float_left {
  float: left !important;
}

.current_pegged_rate_display {
  font-weight: 800;
}

#update_pegged_rate_preview tr td, #update_pegged_rate_preview tr th {
  border: 1px solid lightgrey;
  padding: 5px;
}

#foreign_exchange_pegged_rate_pegged_rate {
  padding: 3px;
  border: 1px solid #aaa;
}

#preview_price_submit {
  float: right;
  padding: 5px 30px;
  border: 1px solid orange;
  color: orange;
  margin: 10px 0px;
  cursor: pointer;
}

.new_currency_fepg_form_container  label[for="foreign_exchange_pegged_rate_note"] {
  display: block;
  width: 100%;
  text-align: left;
}

#foreign_exchange_pegged_rate_note {
  height: 75px;
}

#foreign_exchange_pegged_rate_Submit_list_item {
  margin: 50px;
}

.fepg-error-notifier {
  text-align: center;
  color: darkred;
  background: rgba(255, 0, 0, 0.2);
  padding: 10px;
  border-radius: 30px;
}

.fepg-info-notifier {
  text-align: center;
  color: darkblue;
  background: rgba(0, 0, 255, 0.2);
  padding: 10px;
  border-radius: 30px;
}
