.tabHeader {
  border-bottom: 1px solid #E6E6E6;
  font-size: 1.3em;
  margin-top: 40px;
  margin-bottom: 20px;
}
.tabHeader nav a {
  background-color: #F0F0F0;
  border: 1px solid #E6E6E6;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 3px;
  color: #000;
  display: block;
  float: none;
  margin-right: 3px;
  margin-bottom: -1px;
  padding: 10px;
  width: auto;
}
.tabHeader nav a.active {
  background-color: #fff;
  border-bottom-color: #fff;
}
.tabSection {
  font-size: 1.3em;
  margin-bottom: 40px;
}
.tabSection .context-wrapper {
  display: inline;
  padding-right: 5px;
}
.tabSection form label,
.tabSection form .label {
  float: none;
  color: #000;
  width: auto;
}
.tabSection form label.warning-text,
.tabSection form .label.warning-text {
  float: none;
  color: red;
  width: auto;
}
fieldset {
  border: 0px;
  background-color: transparent;
  padding: 20px;
}
li,
fieldset li {
  float: none;
}
.context-wrapper input,
.context-wrapper textarea {
  height: auto;
  padding: 5px;
}
.ui-dialog-content .save-button {
  margin-left: 25%;
}
.ui-dialog-content .original-password {
  padding-top: 10px;
}
.ui-dialog-content li {
  margin-bottom: 10px;
}
.ui-dialog-content li.checkbox .context-wrapper {
  display: inline;
  padding-right: 5px;
  margin-left: 25%;
}
.ui-dialog-content li.checkbox label {
  float: none;
}
.button-callout {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
.button-callout:hover,
.button-callout:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.button-callout:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.button-callout-alt {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
}
.button-callout-alt:hover,
.button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.button-callout-alt:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.button-callout-alt:hover,
.button-callout-alt:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
.button-callout-alt:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
.button-interface {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  color: #777;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.button-interface:hover,
.button-interface:focus {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #777;
}
.button-interface:active {
  background-color: #dcdcdc;
  border: 1px solid #d6d6d6;
}
.ui-widget-content a.add_pp_link {
  color: #fff;
}
form input[type="submit"] {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
}
form input[type="submit"]:hover,
form input[type="submit"]:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
form input[type="submit"]:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
form input[type="submit"]:hover,
form input[type="submit"]:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
form input[type="submit"]:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
h4 {
  font-size: 1.25em;
  color: #999999;
}
h2 {
  color: #3B96CF;
  margin: 20px 0 10px;
}
.account_setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.account_setting-block {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 40px;
  width: 450px;
}
.account_setting-block a {
  margin-top: auto;
}
#account_settings .edit-btn-disabled {
  opacity: 0.6;
}
.address {
  margin-bottom: 10px;
}
.url {
  margin-bottom: 10px;
}
.url input {
  width: 350px;
  padding: 7px;
}
.referLink {
  position: relative;
}
.referLink:before {
  position: absolute;
  content: 'NEW';
  background-color: #76d6fb;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 3px;
  padding: 1px 4px;
  font-size: .75em;
  right: 65px;
  top: -20px;
}
.referLink:after {
  position: absolute;
  content: '';
  border: 5px solid transparent;
  border-top-color: #76d6fb;
  right: 75px;
  top: -6px;
}
#refer .toggle {
  float: left;
  margin-left: 10px;
  background-color: #797979;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 20px;
  font-size: .55em;
  line-height: .5em;
  padding: 3px 4px 7px;
  margin-top: 11px;
  width: 21px;
  height: 21px;
  text-align: center;
  text-decoration: none;
}
#refer header .orange-btn {
  margin-top: -6px;
}
#refer header h1 {
  color: #3B96CF;
  font-size: 2.5em;
  margin-bottom: 20px;
}
.how,
.rules,
.ready {
  background-color: #F0F0F0;
  padding: 10px 0;
}
.how header,
.rules header,
.ready header {
  font-size: 3em;
  line-height: 1em;
}
.how h2,
.rules h2,
.ready h2 {
  float: left;
  color: #424242;
  font-size: .65em;
}
.rules {
  background-color: #3b96cf;
  color: #FFFFFF;
}
.rules h2 {
  color: #FFFFFF;
}
.rules a {
  text-decoration: underline;
  color: #FFFFFF;
}
.share {
  text-align: center;
  width: 148px;
  margin-bottom: 30px;
}
.share.large {
  width: auto;
  text-align: left;
}
.share.large .context-wrapper {
  float: left;
}
.share.large .blue-btn {
  width: auto;
  float: left;
  margin-top: 0;
  margin-left: 5px;
}
.share.large br {
  clear: both;
}
.share h2 {
  color: #424242;
}
.share input {
  width: 100%;
}
.share .blue-btn {
  width: 100%;
  text-align: center;
}
.share a {
  margin-bottom: 5px;
}
.share .blue-btn {
  margin-bottom: 10px;
}
.ready {
  background-color: #FFFFFF;
}
.orange-btn {
  display: inline-block;
  padding: 15px 20px;
  margin-top: 0.2em;
  background-color: #e7790e;
  color: #FFF;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  /* .transition(all 0.2s ease-in-out); */
}
.orange-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #e7790e;
}
.orange-btn:active {
  box-shadow: 0px 0px 40px #e7790e;
}
.orange-btn:hover {
  color: #FFFFFF;
}
.friends,
.dollars {
  clear: both;
}
.friends > div,
.dollars > div {
  float: left;
  width: 25%;
  margin-right: 5%;
}
.friends > div img,
.dollars > div img {
  margin-top: 10px;
}
.friends > div a,
.dollars > div a {
  font-weight: 700;
  margin-left: -15px;
}
.friends > div.cen,
.dollars > div.cen {
  text-align: center;
}
.friends > div .count,
.dollars > div .count {
  display: block;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  padding: 10px 0;
  font-weight: 700;
  font-size: 4em;
}
.zclip {
  overflow: hidden;
}
.zclip object,
.zclip embed {
  height: 100%;
}
table {
  width: 100%;
  border-color: #CCCCCC;
}
table th {
  background-color: #F0F0F0;
  color: #333333;
  font-weight: 700;
}
table td {
  padding: 0 10px;
  background-color: #FFFFFF;
}
table th,
table td {
  text-align: left;
  border-bottom: 1px solid #CCCCCC;
}
table th.cen,
table td.cen {
  text-align: center;
}
#account_settings dl {
  margin: 0px;
  padding: 0px;
}
#account_settings dt,
#account_settings dd {
  float: left;
}
#account_settings dt {
  width: 150px;
  clear: both;
}
#pay_with_balance {
  float: left;
  margin: 10px 10px 0 0;
}
#pay_with_balance + .checkbox {
  text-align: left;
}
.context-wrapper {
  float: left;
  margin: 0 5px 0 0;
}
.context-wrapper + label {
  text-align: left;
}
.cc-actions a {
  margin-top: 0;
}
.submit-btn {
  float: right;
}
.submit-btn input {
  margin: 0 0 15px;
}
.help_link {
  clear: both;
  font-size: 11px;
  padding-top: 10px;
}
.desc table {
  width: 50%;
  margin-bottom: 10px;
}
.desc table th {
  font-size: 120%;
  background-color: transparent;
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  padding-left: 7px;
}
.desc table td {
  background-color: transparent;
  color: #FFFFFF;
  border: 0px;
  border-bottom: 1px solid #FFFFFF;
  font-size: 100%;
}
.desc table th,
.desc table td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.included {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  background-color: #F0F0F0;
  margin-bottom: 20px;
}
.included > h3 {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  font-weight: 700;
  font-size: 1em;
  background-color: #e6e6e6;
  border-bottom: 1px dotted #999;
  color: #333;
  padding: 10px;
}
.included > ul {
  color: #333;
}
.included > ul > li {
  padding: 10px;
  border-bottom: 1px dotted #999;
}
.box {
  background-color: #F0F0F0;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}
.box > .summary {
  float: left;
}
.box > .summary > h3 {
  font-size: 1.6em;
  margin-bottom: 5px;
}
.box > .summary > p {
  line-height: 1.5em;
  margin: 0;
}
.box > .details {
  float: right;
  text-align: right;
}
.box > .details p {
  margin: 0;
}
.box > .details p.red {
  color: red;
}
.box > .details .price {
  position: relative;
  font-size: 1.8em;
  font-weight: 700;
}
.box > .details .price.sale:after {
  position: absolute;
  top: 0;
  left: 0;
  content: 'Sale';
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  background-color: yellow;
  color: red;
  border-radius: 5px;
  font-size: .75em;
  font-weight: 700;
  padding: 2px 3px;
  line-height: 1em;
}
.box > .details > nav {
  position: absolute;
  top: -25px;
  right: 20px;
}
.box > .details > nav > span {
  margin-right: 10px;
}
.box > .details > nav > a {
  position: relative;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: inline-block;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  color: #000000;
}
.box > .details > nav > a.active {
  background-color: #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}
.box > .details > nav > a.sale:after {
  position: absolute;
  top: -8px;
  left: -11px;
  content: 'Sale';
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  background-color: yellow;
  color: red;
  border-radius: 5px;
  font-size: .75em;
  font-weight: 700;
  padding: 2px 3px;
  line-height: 1em;
}
.box > .blue-btn,
.box .blue-btn-wrapper {
  bottom: 0;
  clear: both;
  float: right;
  position: relative;
  right: 0;
}
.goRight {
  float: right;
}
#paypalModal > div {
  float: left;
  width: 300px;
}
.item-container,
#paypalContainer {
  background-color: transparent;
  border: none;
}
.item-container .item,
#paypalContainer .item {
  float: left;
  width: 100% !important;
  margin-top: 5px;
  clear: both;
  padding: 10px;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.item-container .item label,
#paypalContainer .item label {
  font-weight: normal;
}
p {
  margin-bottom: 10px;
}
#credit-card-container {
  padding-top: 10px;
}
#credit-card-container ul {
  list-style: none;
}
#credit-card-container label {
  text-align: left;
}
.stored-credit-card-header {
  margin: 0 0 15px 4px;
  font-weight: 700;
}

.grid_1 {
  float: left;
  width: auto;
  padding-right: 10px;
}
.grid_3,
.grid_4 {
  float: left;
  width: 25%;
}
#payment_options > fieldset {
  padding: 0px;
}
.note_alert {
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fffde8;
  border: 1px solid #f3ecb0;
  padding: 10px;
}
.note_alert p:last-child {
  margin-bottom: 0;
}

.expiration-alert {
  border: solid black 1px;
  border-radius: 8px;
  padding: 10px 10px 5px;
}

.free_trial_alert {
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
}
.free_trial_alert h4 {
  color: #000;
  margin-bottom: 10px;
}
.free_trial_alert p:last-child {
  margin-bottom: 0;
}
.raf-directions {
  margin-bottom: 24px;
  font-size: 1.2em;
  color: #333333;
  line-height: 1.6em;
}
.raf-directions .circle {
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  background-color: #3B96CF;
  border-radius: 23px;
  text-align: center;
  color: #FFFFFF;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
  font-size: 1.3em;
}
.account-profile-survey {
  width: 800px;
  height: 600px;
  border: none;
}
#account_profile h2 {
  font-size: 18px;
  color: #000;
  font-weight: normal;
  text-transform: none;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 700px;
}
#account_profile hr {
  width: 300px;
  border: none;
  background-color: #777;
  height: 1px;
}
#account_profile hr.top {
  margin-top: 0;
  margin-bottom: 10px;
}
#account_profile hr.bottom {
  margin-top: 20px;
  margin-bottom: 50px;
}
#account_profile p {
  font-family: 'Sorts Mill Goudy';
  font-size: 18px;
  font-style: italic;
  color: #777;
}
#account_profile .buttons {
  text-align: center;
}
#account_profile .btn {
  font-size: 1.8em;
  margin-bottom: 25px;
}
#account_profile .btn + .btn {
  margin: 0 0 0 2em;
}
#account_profile .restart-survey {
  display: block;
  font-size: 16px;
  margin-top: 20px;
  width: 700px;
  text-align: center;
}
#tax_info .tax-background {
  background-color: #ecf3fc;
}
#tax_info button {
  display: block;
  margin: 2em auto 150px;
  background-color: #F5A623;
  border: 1px solid #F5A623;
  padding: 1em 2em;
  font-weight: 900;
  font-size: 1.1em;
  color: white;
}
#tax_info.payoneer .tax-background {
  padding: 2em;
}
#tax_info.payoneer .tax-completion-help {
  padding: 1em;
  margin-top: 2em;
  border: 1px solid #e1e1e1;
}

#tax_info.payoneer .tax-completion-help .contact-link {
  padding-top: 1.5em;
}
@media screen and (min-width: 641px) {
  .tabHeader nav a {
    display: inline;
    float: left;
    padding: 3px 10px;
  }
  #pay_with_balance {
    float: none;
    margin: 0;
  }
  #pay_with_balance + .checkbox {
    text-align: right;
  }
  .context-wrapper {
    float: none;
    margin: 0;
  }
  .context-wrapper + label {
    text-align: right;
  }
}
@media screen and (max-width: 760px) {
  h1.left {
    font-size: 3em !important;
    margin-left: 10px;
  }
  .raf-directions {
    text-align: center;
  }
  .raf-directions .one,
  .raf-directions .eleven {
    width: 100%;
  }
  .raf-directions .circle {
    display: inline-block;
  }
  .raf-directions br {
    display: none;
  }
  .four,
  .seven {
    float: none !important;
    width: 100% !important;
  }
  .end {
    text-align: center;
  }
  .end .orange-btn {
    float: none !important;
  }
  .end div {
    margin-left: 0 !important;
    padding-top: 20px !important;
  }
}

.blue-button {
  background-color: #44b1fa;
  border-color: #339de5;
  color: #fff;
}

.gray-button {
  background-color: gray;
  border-color: gray;
  color: #fff;
}

.warning {
  color: red;
}

.message-banner {
  background-color: red;
  font-size: 1.4em;
  color: white;
  text-align: center;
  padding: .6em;
  font-style: bold;
  width: 70%;
  margin: auto;
}

.release-info {
  background-color: white;
  font-size: 1em;
  color: red;
  text-align: center;
  padding: .6em;
  font-style: normal;
  width: 70%;
  margin: auto;
}

.warning-update {
  background-color: red;
  font-weight: bold;
  border-color: transparent;
}

.warning-text {
  color: red;
}
/*# sourceMappingURL=source/people.css.map */
