.plan-nav .record-icon {
  width: 30px;
  height: 30px;
  vertical-align: -75%;
}
.plan-nav .plan-nav-copy {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  vertical-align: -60%;
  margin-left: 0px;
  line-height: 1.25;
}
#no_vertical_alignment_plan_nav {
  vertical-align: 0;
}
.plan-nav .plan-nav-copy .plan-name {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0px;
}
.plan-nav .plan-nav-copy .nav-cta {
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 0px;
}
/* for state 1 dashboard_state */
.tier-promo-row {
  width: 1464px;
  display: flex;
  margin: 0px auto;
}
.tier-promo-container {
  width: 220px;
}

/* for foundation css */
.navbar-wrapper .navbar-top-wrapper .navbar-top-content .top-bar ul li.plan-name,
.navbar-wrapper .navbar-top-wrapper .navbar-top-content .top-bar ul li.nav-cta {
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-wrapper .navbar-top-wrapper .navbar-top-content .plan-nav {
  line-height: 1.2;
}
.navbar-wrapper .navbar-top-wrapper .navbar-top-content .plan-nav .record-icon {
  vertical-align: -95%;
}
.navbar-wrapper .navbar-top-wrapper .navbar-top-content .plan-nav .plan-nav-copy {
  vertical-align: -80%;
}
#navigation-top-menu .upgrade-block.upgrade-block-top-nav {
  background: black;
  margin: 4px 8px 0 0;
  top: 8px;
}
#navigation-top-menu .upgrade-block.upgrade-block-top-nav a.cta {
  padding: 5px 10px;
}
.navbar-wrapper .navbar-top-content .upgrade-block-top-nav {
  background: black;
  top: 0;
}

.emphasis {
  color: #fcda00;
}

.emphasis.wrap {
  white-space: normal;
}

.text-center {
  text-align: center;
}

.upgrade-block {
  font-family: Roboto, sans-serif;
  background: #141414;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.upgrade-block-top-nav {
  display: inline-block;
  padding: 0;
  margin-left: 10px;
  position: relative;
  top: 5px;
  white-space: nowrap;
}

.upgrade-block .heading {
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 120%;
  margin-bottom: 20px;
}

.upgrade-block .cta {
  border: 2px solid #fcda00;
  color: #fcda00;
  padding: 5px 10px;
  border-radius: 50px;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  transition: all 100ms ease-out;
  text-decoration: none !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.mini-menu .upgrade-block a.cta {
  color: #fcda00;
}

.record-path {
  fill: #fcda00;
}

.upgrade-block .cta:hover {
  color: black;
  background: #fcda00;
}

.upgrade-block .cta:hover .record-path {
  fill: black;
}

.upgrade-block .cta .record {
  width: 20px;
  min-width: 20px;
  height: auto;
  margin-right: 5px;
  line-height: normal;
}

input#delete_splits_collaborator.cta.inset{
  background: inherit;
  border: none;
  color: white;
}

.upgrade-block.splits-collaborator .cta.solid.collaborator-dialog-close{
  background: #3FA8EF; /* $tc-blue */
  border: none;
  color: white;
}

.upgrade-block.splits-collaborator {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: space-between;
  min-height: 200px;
  min-width: 20vw;
}

.upgrade-block.splits-collaborator .text-right {
  display: inline-table;
  padding: 1rem;
}

@media only screen and (max-width: 767px) {
  .tier-promo-row {
    width: auto;
    display: block;
  }
  .tier-promo-container {
    margin: 0px auto;
  }
  .plan-nav {
    float: right;
    margin-left: 20px;
  }
  .plan-nav .record-icon {
    margin: auto;
    vertical-align: middle;
  }
  .plan-nav .plan-nav-copy {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  input#delete_splits_collaborator.cta.inset {
    width: 100%;
  }

  .upgrade-block.splits-collaborator .cta.solid.collaborator-dialog-close{
    width: 100%;
    display: inline-block;
    text-align: center;
  }
}
