body {
  background: #f3f3f3 url('/images/interstitial/preorderlanding_bg.jpg') no-repeat top center;
}
#header {
  background-color: transparent;
  padding-top: 10px;
}
.interstitial {
  color: #333;
  padding: 220px 0 60px;
  text-align: left;
}
.interstitial h1 {
  font-family: Georgia, serif;
  font-size: 52px;
  font-weight: 400;
  margin-bottom: 36px;
}
.interstitial p {
  font-family: Georgia, serif;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 36px;
  text-align: left;
}
.interstitial .btn {
  font-size: 1.8em;
  text-transform: uppercase;
}

/*# sourceMappingURL=source/preorder_interstitial.css.map */
