.year_switch {
  border-bottom: 3px solid #333;
  margin-bottom: 36px;
  padding-bottom: 18px;
  text-align: center;
}
.year_switch li {
  display: inline-block;
}
.year_switch li + li {
  border-left: 1px solid #777;
  margin-left: 12px;
  padding-left: 12px;
}
.year_switch .active {
  color: #000;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
}
.read_more {
  border: 3px solid #333;
  border-width: 3px 0;
  clear: both;
  margin-bottom: 36px;
  text-align: center;
}
.read_more a {
  display: block;
  padding: 18px 0;
}
.pod-rows {
  border-bottom: 1px solid #B5B5B5;
  margin-bottom: 36px;
  padding: 0 0 36px;
  transition: all 0.5s ease-in-out;
}
.pod-news .logo {
  padding: 0;
}
.pod-news .logo img {
  display: inline-block;
  max-height: 80px;
  max-width: 75%;
}
.pod-news .publication {
  font-weight: 700;
}
.pod-news .date {
  border-left: 1px solid #777;
  margin-left: 12px;
  padding-left: 12px;
}
.pod-press a {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
}
.pod-press .date {
  display: block;
}
.downloads ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.downloads li + li {
  margin: 0;
}

/*# sourceMappingURL=source/press.css.map */
