body {
  -webkit-font-smoothing: antialiased;
}
.pricing {
  padding-top: 120px;
  font-size: 1em;
  padding-bottom: 3em;
  width: 100%;
  color: #fff;
  background-color: #3b96cf;
  background-color: #e4e4e4;
  color: #333;
  padding-top: 145px;
  overflow: hidden;
}
.pricing h2 {
  color: #fff;
}
.pricing.virg {
  padding-top: 2em;
  margin-top: -20px;
}
.pricing .title {
  margin-top: 0em;
  text-align: left;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 700;
}
.pricing .product_name {
  font-weight: 400;
  height: 93px;
  margin-top: 0;
}
.pricing .welcome {
  color: #333;
  margin: 0;
  font-weight: 200;
  font-size: 2em;
  text-align: center;
  margin-top: 1em;
}
.pricing .button-callout {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
.pricing .button-callout:hover,
.pricing .button-callout:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.pricing .button-callout:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.pricing .get_started {
  font-size: 2em;
}
.pricing .volume {
  margin-left: 0;
  padding-left: 0;
  margin-top: 1em;
  float: left;
  font-size: 1.15em;
  font-weight: normal;
}
.pricing .price_boxes {
  display: block;
  position: relative;
  height: auto;
  margin-top: 3em;
}
.pricing .price_boxes .price_box {
  display: block;
  margin: 0;
  padding: 0 3em 1em 1em;
  height: auto;
  text-align: left;
  background-color: transparent;
  transition: all 0.5s linear;
}
.pricing .price_boxes .price_box:first-child,
.pricing .price_boxes .price_box:nth-child(2),
.pricing .price_boxes .price_box:nth-child(3) {
  border-left: 1px solid #898989;
}
.pricing .price_boxes .price_box h2,
.pricing .price_boxes .price_box h3,
.pricing .price_boxes .price_box h4,
.pricing .price_boxes .price_box h5 {
  font-weight: 300;
  text-align: left;
  color: #333;
}
.pricing .price_boxes .price_box h2 {
  color: #000;
  font-size: 2.5em;
  font-weight: 200;
  text-transform: uppercase;
  clear: both;
  width: 170px;
}
.pricing .price_boxes .price_box h3 {
  font-size: 4em;
  font-weight: 700;
}
.pricing .price_boxes .price_box h4 {
  font-size: 1.5em;
}
.pricing .price_boxes .price_box h4.price {
  margin-top: 1em;
}
.pricing .price_boxes .price_box h5 {
  clear: both;
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 1.4em;
  font-weight: 700;
}
.pricing .price_boxes .price_box a {
  clear: both;
  display: inline-block;
  padding: 6px 12px;
  margin-top: 1.5em;
  background-color: #44b1fa;
  color: #FFF;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  /* .transition(all 0.2s ease-in-out); */
}
.pricing .price_boxes .price_box a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #44b1fa;
}
.pricing .price_boxes .price_box a:active {
  box-shadow: 0px 0px 40px #44b1fa;
}
.pricing .price_boxes .price_box .callout {
  height: 20px;
  display: block;
  margin-left: 60%;
  width: 100%;
}
.pricing .price_boxes .price_box ul {
  margin-top: 1em;
  font-size: 1.15em;
  color: #333;
}
.pricing .price_boxes .price_box ul.copy li:before {
  content: "\2605";
  border: 1px solid transparent;
  display: block;
  width: 1em;
  margin-right: 0.5em;
  float: left;
  clear: left;
}
.pricing .price_boxes .price_box ul.copy li {
  display: block;
  margin-bottom: .5em;
}
.pricing .price_boxes .price_box ul.copy li strong,
.pricing .price_boxes .price_box ul.copy li span {
  display: table;
}
.pricing .price_boxes .price_box .price_choose {
  height: auto;
  text-align: left;
  font-size: 1em;
}
.pricing .price_boxes .price_box .price_choose li {
  margin-bottom: 1em;
  font-weight: 400;
  color: #000;
  width: 125%;
  height: 4em;
  border-radius: 2px;
}
.pricing .price_boxes .price_box .price_choose li h2 {
  font-size: 1.75em;
}
.pricing .price_boxes .price_box .price_choose li h3 {
  transition: 0.2s all linear;
  color: #c9e6f6;
  opacity: 0.6;
  font-size: 2.1em;
  margin-bottom: 0;
  padding-bottom: 0;
}
.pricing .price_boxes .price_box .price_choose li h3 small {
  font-size: .5em;
}
.pricing .price_boxes .price_box .price_choose li h4 {
  transition: 0.2s all linear;
  padding-top: 0;
  opacity: 0.6;
  margin-top: -0.5em;
  color: #c9e6f6;
  font-weight: 500;
  font-size: 1.2em;
}
.pricing .price_boxes .price_box .price_choose li.lit {
  height: auto;
}
.pricing .price_boxes .price_box .price_choose li.lit.wow h3,
.pricing .price_boxes .price_box .price_choose li.lit.wow h4 {
  color: #E6E600;
}
.pricing .price_boxes .price_box .price_choose li.lit h3 {
  transition: 0.2s all ease;
  opacity: 1;
  color: #3b96cf;
  font-size: 3em;
}
.pricing .price_boxes .price_box .price_choose li.lit h3 abbr.currency {
  font-size: 0.6em;
}
.pricing .price_boxes .price_box .price_choose li.lit h4 {
  transition: 0.2s all linear;
  opacity: 1;
  color: #5e5e5e;
  font-size: 1.25em;
  padding-top: 0.3125em;
}
.pricing .price_boxes .price_box .price_choose li.lit.sale del {
  color: #5e5e5e;
  font-size: 1.25em;
  font-weight: 500;
}
.pricing .price_boxes .price_box .price_choose li.lit.sale h3 {
  color: #ce0010;
}
.pricing .price_boxes .price_box .price_choose li.lit.sale h4 {
  color: #9b042d;
}
.other_products {
  overflow: hidden;
  margin-top: -7.5em;
  padding-top: 11.5em;
}
.other_products p {
  float: left;
  clear: left;
  font-size: 1.3em;
  font-weight: 200;
  margin-top: .5em;
  display: block;
}
.other_products p a {
  clear: both;
  display: inline-block;
  padding: 3px 6px;
  margin-top: 0.5em;
  background-color: #44b1fa;
  color: #FFF;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 0.5em;
  font-style: normal;
  font-weight: 400;
  /* .transition(all 0.2s ease-in-out); */
  font-size: 1em;
}
.other_products p a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #44b1fa;
}
.other_products p a:active {
  box-shadow: 0px 0px 40px #44b1fa;
}
.other_products .special_offer {
  color: #f00;
}
.other_products h2 {
  width: 100%;
}
.other_products h2.title {
  float: left;
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-size: 2em;
  color: #3B96CF;
  display: block;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 10px;
}
.other_products ul {
  clear: none;
  margin-bottom: 6em;
  margin-top: 0em;
}
.other_products .price_box {
  min-height: 110px;
  overflow: hidden;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding-top: 1em;
}
.other_products .price_box:first-child {
  padding-top: 0;
}
.other_products .price_box h2 {
  font-size: 2.2em;
  font-weight: 700;
}
.other_products .price_box p {
  font-size: 1.5em;
  margin-top: .2em;
  clear: left;
}
.other_products .price_box .price {
  text-align: left;
  line-height: .8em;
  font-size: 2.5em;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0;
}
.other_products .price_box .price .button-callout-alt {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
  clear: both;
  font-size: .5em;
  margin-top: .5em;
  padding: 3px 6px;
  text-transform: none;
}
.other_products .price_box .price .button-callout-alt:hover,
.other_products .price_box .price .button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.other_products .price_box .price .button-callout-alt:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.other_products .price_box .price .button-callout-alt:hover,
.other_products .price_box .price .button-callout-alt:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
.other_products .price_box .price .button-callout-alt:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
.other_products .price_box .price small {
  display: block;
  font-size: 0.5em;
  margin: 0;
  padding: 0;
  font-weight: 200;
  clear: both;
}
.centered {
  text-align: center;
}
.ringtone-sale-ribbon {
  background-color: #fff;
  box-shadow: 2px 6px 3px -4px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}
.ringtone-sale-ribbon img {
  float: left;
  margin-right: 20px;
}
.ringtone-sale-text {
  color: #310c03;
  float: left;
  font-size: 2.4em;
  font-weight: 700;
  line-height: 0.75;
  padding: 6px 0;
}
.ringtone-sale-dates {
  color: #27ba7d;
  font-size: 0.75em;
}
.credit-sale-ribbon {
  background: transparent url("/images/interstitial/credit_salelanding_pattern.jpg") repeat 0 0;
  box-shadow: 2px 6px 3px -4px rgba(0, 0, 0, 0.5);
  color: #333;
  margin-bottom: 30px;
  position: relative;
}
.credit-sale-ribbon span {
  display: block;
  font-size: 2.4em;
  line-height: 1;
}
.credit-sale-ribbon span small {
  font-size: 0.75em;
  vertical-align: 10%;
}
.credit-sale-caps {
  font-size: 2em;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: -18%;
}
.credit-sale-inner {
  background: #290a59;
  background: rgba(41, 10, 89, 0.4);
  background: linear-gradient(to right, rgba(255, 124, 0, 0.4) 0%, rgba(41, 10, 89, 0.4) 100%);
  height: 100%;
}
.yt_ribbon {
  background: transparent url("/images/youtube/yt_ribbon_end2.png") no-repeat 0 0;
  box-shadow: 2px 6px 3px -4px rgba(0, 0, 0, 0.5);
  color: #fff;
  float: right;
  height: 48px;
  margin-bottom: 30px;
  padding-left: 41px;
  position: relative;
}
.yt_ribbon span {
  background: #cd332d;
  background: linear-gradient(#cd332d, #aa2222);
  display: block;
  font-size: 1.8em;
  line-height: 1.5;
  padding: 9px 20px;
}
.yt_ribbon em {
  font-family: Georgia, serif;
  padding-right: 5px;
}
.yt_ribbon .yt-caps {
  font-style: normal;
  text-transform: uppercase;
}
.yt_ribbon img {
  padding: 0 10px;
  vertical-align: bottom;
}
.yt_ribbon a {
  color: #fff;
  font-size: 0.778em;
  text-decoration: underline;
  vertical-align: text-top;
}
.yt_ribbon .yt_runoff {
  background: #cd332d;
  background: linear-gradient(#cd332d, #aa2222);
  box-shadow: 2px 6px 3px -4px rgba(0, 0, 0, 0.5);
  height: 48px;
  position: absolute;
  top: 0;
  right: -49%;
  width: 50%;
}
@media screen and (max-width: 960px) {
  .pricing {
    padding-top: 20px;
  }
  .pricing a.get_started {
    font-size: 1.8em;
    padding: 0.5em 2em;
  }
  .pricing .welcome {
    font-size: 1.5em;
  }
  .pricing .volume {
    margin-left: 1em;
  }
  .price_boxes .price_box {
    border: 0;
  }
  .price_boxes .price_box:first-child,
  .price_boxes .price_box:nth-child(2),
  .price_boxes .price_box:nth-child(3) {
    border-bottom: 1px dotted #c9e6f6;
  }
  .other_products {
    margin-top: 0;
    padding-top: 4em;
  }
  .other_products .price_box {
    height: auto;
  }
}
@media screen and (max-width: 860px) {
  .pricing {
    padding-top: 30px;
  }
  .pricing .price_boxes .price_box:first-child,
  .pricing .price_boxes .price_box:nth-child(2),
  .pricing .price_boxes .price_box:nth-child(3),
  .pricing .price_boxes .price_box:nth-child(4) {
    border: 0;
    border-top: 1px dotted #fff;
    float: none;
    padding-top: 2em;
    width: 100%;
  }
  .pricing .welcome {
    width: 100%;
    margin: 0;
  }
  .pricing a.get_started {
    font-size: 2.4em;
  }
  .pricing .volume {
    margin-left: 1em;
  }
  .other_products .price_box .price {
    padding: 0 5px;
  }
  .other_products .price_box .price small {
    display: inline;
  }
  .other_products .price_box .price a {
    float: left;
  }
  .yt_runoff {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .other_products .price_box:first-child {
    padding-top: 1em;
  }
  .other_products .price_box .price {
    padding-top: 10px;
  }
  .other_products .price_box .price a {
    float: right;
    margin-top: -0.001em;
  }
  .yt_ribbon {
    background: none;
    float: none;
    height: auto;
    padding: 0;
  }
  .yt_ribbon span {
    position: relative;
    right: 0;
  }
}
/* HP Testimonials Responsive CSS */
@media screen and (min-width: 1441px) {
  #testimonials .testimonial {
    width: 20%;
  }
}

/*# sourceMappingURL=source/pricing.css.map */
