@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:100,300,400,400italic,700|Open+Sans:300,400,700|Sorts+Mill+Goudy:400,400italic");
.content > header {
  background-color: #eee;
  border-bottom: 1px solid #aaa;
  margin-bottom: 0;
  padding-bottom: 36px;
  padding-top: 140px;
}
.content > header h1 {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 8px;
}
.content > header h2 {
  font-family: 'Lato', sans-serif;
  color: #333;
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 17px;
}
.content .button-header {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #ff8a00;
  border: 1px solid #ff8a00;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 1em;
}
.content .button-header:hover,
.content .button-header:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.content .button-header:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.content .button-body {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #ff8a00;
  border: 1px, solid #ff8a00;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin-top: 16px;
  padding: 1em;
}
.content .button-body:hover,
.content .button-body:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.content .button-body:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.content .logo-line {
  color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.content .logo-line p {
  margin-right: 5px;
  margin-left: 2px;
}
.product_body {
  background-color: #f6f6f6;
  border-bottom: 1px solid #aaa;
}
.product_body .notice-services {
  background-color: #FFFCDC;
  border: 1px solid #EDD72C;
  border-radius: 5px;
  padding: 10px 50px;
  text-align: center;
  width: 95%;
}
.product_body .notice-services h5 {
  font-size: 1.7em;
  margin-bottom: 10px;
  margin-top: 10px;
}
.product_body .notice-services p {
  font-size: 1.15em;
  font-weight: 500;
}
.side_headline {
  float: left;
  padding-top: 50px;
  max-width: 480px;
}
.side_headline header > h2 {
  font-size: 2.5em;
  font-weight: 200;
  line-height: 1;
  padding-bottom: 24px;
  text-transform: uppercase;
}
.side_headline img {
  border-radius: 10px;
}
.side_headline .testimonial {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-style: italic;
  margin-top: 30px;
  width: 90%;
}
.side_headline .testimonial hr {
  border: 0;
  height: 1px;
  margin: 15px 0 15px 0;
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.side_headline .testimonial .name {
  font-style: normal;
}
.side_headline .testimonial .title {
  font-family: "Sorts Mill Goudy", serif;
  font-style: italic;
}
.side_headline .callout {
  background-color: #e9f0fa;
  border: 1px solid #3999cb;
  border-radius: 5px;
  padding: 20px 10px 20px 10px;
  text-align: center;
  width: 85%;
}
.side_headline .callout .head {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
}
.side_headline .callout .slug {
  font-size: 1.2em;
  font-weight: 700;
  padding-bottom: 20px;
}
.copy {
  clear: both;
  overflow: hidden;
  padding: 40px 0 0 0;
}
.copy ul {
  list-style: disc;
  padding-left: 20px;
}
.copy h3 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 18px;
}
.copy h4 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
  margin-top: 45px;
}
.copy h5 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 10px;
}
.copy p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
}
.copy li {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  padding-bottom: 10px;
}
.copy .price_bare {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  margin-top: 0;
}
.copy .price_bare .amount {
  font-size: 24px;
}
.copy .price_bare .fb_tiers {
  display: table;
  overflow: hidden;
  text-align: center;
}
.copy .price_bare .fb_tiers .tier {
  background-color: #e5f4fd;
  border: 2px solid #69aad1;
  border-radius: 10px;
  float: left;
  padding: 20px;
}
.copy .price_bare .fb_tiers .fb_price {
  display: block;
  font-size: 1.5em;
  font-weight: 700;
}
.copy .price_bare .fb_tiers .fb_copy {
  display: block;
  font-size: 1em;
  font-weight: 700;
}
.copy .price {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  padding: 20px;
  display: inline-block;
  text-align: center;
}
.copy .price .amount {
  font-size: 48px;
}
.copy .price .tag {
  font-size: 20px;
  font-weight: 400;
}
.copy .rate-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.copy .rate-box .price {
  margin-right: 20px;
  width: 225px;
  padding: 10px;
}
.services-link {
  float: left;
  font-size: 18px;
  padding-top: 50px;
  text-align: center;
  width: 150px;
}
.services-link a:hover {
  text-decoration: underline;
}
.box {
  background: #fff;
  border-radius: 5px;
  box-shadow: inset 1px 2px 5px 0px rgba(51, 51, 51, 0.75);
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  padding: 12px 20px;
  position: relative;
  text-align: center;
  width: 240px;
  height: 170px;
}
.box .service-offer:hover .initial-state {
  margin-top: -300px;
  opacity: 0;
}
.box .service-offer:hover .rollover-state {
  margin-top: 170px;
  opacity: 1;
}
.box .initial-state {
  transition: all 0.3s 0.3s;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 144px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.box .rollover-state {
  color: #777;
  transition: all 0.3s 0.3s;
  font-size: 14px;
  font-weight: 200;
  line-height: 21px;
  opacity: 0;
}
.box .product-name {
  color: #333;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 21px;
  padding-bottom: 0;
  text-align: left;
}
.box .product-tag {
  color: #777;
  font-size: 13px;
}
.box .ribbon {
  background-color: #21ab7d;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8);
  color: #ffffff;
  display: block;
  font-size: 1em;
  position: relative;
  right: -20px;
}
.box .ribbon span {
  display: block;
  margin: 1px 0;
  padding: 0 10px;
}
.box img {
  float: left;
}
.pro_mastering .icon img {
  padding-right: 8px;
}
.specialoffer_show {
  position: absolute;
  z-index: 2;
  display: inline;
}
.specialoffer_hide {
  display: none;
}
.position0 {
  top: 104px;
  right: 694px;
}
.position1 {
  top: 104px;
  right: 434px;
}
.position2 {
  top: 104px;
  right: 174px;
}
.fb_tiers {
  display: table;
  margin: 12px auto;
  overflow: hidden;
  text-align: center;
}
.fb_tiers > .tier {
  background-color: #e5f4fd;
  border: 2px solid #69aad1;
  border-radius: 10px;
  float: left;
  padding: 12px;
}
.fb_tiers > .tier .fb_price {
  font-size: 1.5em;
}
.fb_tiers > .tier a {
  font-size: 1em;
  text-transform: capitalize;
}
.fb_tiers .fb_price {
  display: block;
  font-size: 1.15em;
  font-weight: 700;
}
.fb_tiers .fb_copy {
  display: block;
}
@media screen and (max-width: 767px) {
  .side_headline {
    display: none;
  }
  .services-link {
    padding-top: 0;
    text-align: center;
    width: 240px;
  }
}
@media screen and (max-width: 961px) {
  .content > header {
    padding-top: 60px;
  }
  .specialoffer_show {
    display: none;
  }
}
@media screen and (min-width: 961px) {
  .content > header {
    padding-top: 140px;
  }
  .other_services {
    background-color: #f6f6f6;
    padding-bottom: 38px;
  }
  .other_services h3 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: 300;
    margin-top: 33px;
    margin-bottom: 18px;
  }
  .other_services .services {
    margin-top: 0;
  }
}

/*# sourceMappingURL=source/product_detail.css.map */
