#content {
  width: 940px;
  margin: 0 auto;
  padding: 10px 20px;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  background-color: #ffffff;
}

/* ******************** nav */

#admin-controls {
  background-color: #58a8bf;
  outline: 1px solid #30626F;
  margin-bottom: 15px;
}

#admin-controls nav { padding: 15px; }

#admin-controls nav strong { font-size: 22px; }

#admin-controls a {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  text-decoration: underline;
}

/* ******************** page title */

h2 {
  font-size: 20px;
  line-height: 1.3em;
  color: #003855;
  margin: 10px 0;
}

/* ******************** filters */

.filter-holder {
  margin-bottom: 2em;
  border: 1px solid #e0e4e5;
  border-radius: 3pt;
  background-color: #eff5f7;
}

.filters { padding: 20px; }

.filter {
  padding: 10px 0;
  border-bottom: 1px solid #cccccc;
}

.filter input {
  width: 300px;
  padding: 6px;
  border: 1px solid #9fbbcd;
  border-radius: 4px;
}

.submit input {
  width: 192px;
  height: 32px;
}

/* ******************** table */

#comp-table {
  width: 100%;
  border: 1px solid #eaeaea;
  border-collapse: collapse;
  margin-bottom: 0;
}

#comp-table tr td {
  color: #000000;
  border: 1px solid #eaeaea;
  font-size: 13px;
  font-weight: bold;
  padding: 0 10px;
  text-align: left;
}

/* header */

#comp-table thead tr td {
  background-color: #eef4f6;
  border: none;
  color: #333333;
  font-weight: normal;
  font-size: 11px;
}

#comp-table thead tr td span {
  margin-right: 1em;
  float: left;
}

#comp-table thead tr td a {
  font-weight: normal;
  text-decoration: underline;
}

#comp-table thead tr td img {
  margin-top: 6px;
  float: right;
}

/* body */

#comp-table tr.alternate-row { background-color: #f2f2f2; }

#comp-table tr td input {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0 3px;
  width: 30px;
}

#comp-table thead tr th,
#comp-table thead tr th a {
  font-size: 11px;
  font-weight: normal;
  text-align: left;
  text-decoration: underline;
}
#comp-table thead tr th {
  color: #333;
  text-decoration: none;
}

#splits_result_form input[type=submit] { float: right }
.pagination-wrapper { clear: both }
.pagination-top { padding: 20px 0 10px }
.pagination-bottom { padding: 10px 0 20px }

#salepoint_songs_result_form input[type=submit] { float: right }
.pagination-wrapper { clear: both }
.pagination-top { padding: 20px 0 10px }
.pagination-bottom { padding: 10px 0 20px }

body {
  width: 100%;
  margin: 20px 0;
  padding: 0;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  background-color: #f0f0f0;
}

img {
  border: none;
  display: block;
}
img:hover { cursor: pointer; }

a, a:link, a:visited, a:active, a:hover {
  color: #41add8;
  font-weight: bold;
  text-decoration: none;
}

.float-holder {
  clear: both;
  overflow: hidden;
}
.float       { float: left; }
.float-right { float: right; }

/* buttons */

.action-btn {
  border: 1px solid #aaaaaa;
  border-radius: 3pt;
  background-color: #e5e5e5;
  color: #5f5f5f;
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-style: normal;
  text-align: center;
  cursor: pointer;
}

.callout-btn {
  border: 1px solid #339de5;
  border-radius: 3px;
  background-color: #3fa8ef;
  color: #ffffff;
  font-weight: normal;
  font-family: "Helvetica Neue";
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.orange-style {
  border-color: #e7790e;
  background-color: #e7790e;
}

.action-btn:hover, .callout-btn:hover { box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2); }
.action-btn:active, .callout-btn:active { box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.3); }

.action-btn:active { background-color: #dcdcdc; }
.callout-btn:active { background-color: #39a1e7; }
.orange-style:active { background-color: #df750d; }

.resizable {
  resize: both;
  height: 280px;
  width: 284px;
}
