@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:300,400,700|Sorts+Mill+Goudy:400|Open+Sans:300,400,600");
/* Hero */
.hero {
  background: #0099ff;
  overflow: hidden;
  position: relative;
}
.headings {
  color: #ffffff;
  padding: 25px 0;
  text-align: center;
}
.headings h1 {
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
}
.headings h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}
.headings h1 + h2 {
  margin-top: 1rem;
}
.headings .button-callout {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
.headings .button-callout:hover,
.headings .button-callout:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.headings .button-callout:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.bgimg {
  height: 500px;
}
.bgimg-container {
  background: url(../images/publishing/external/hero_bg.jpg) no-repeat top center;
  background-size: cover;
  height: 100%;
  position: relative;
  width: 100%;
}
.banner {
  background: #ffffff;
  bottom: 20px;
  color: #005c9e;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  left: 0;
  padding: 1.125rem;
  position: absolute;
}
.banner figcaption {
  color: #0099ff;
  display: inline;
  font-family: 'Sorts Mills Goudy', serif;
  font-size: 1.125rem;
  font-weight: 400;
  white-space: nowrap;
}
svg {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 500px;
  }
  .headings {
    float: right;
    margin-top: 3rem;
    padding: 50px 50px 50px 0;
    text-align: right;
    width: 60%;
  }
  .headings > hgroup {
    border: 1px solid #ffffff;
    border-width: 1px 0;
    padding: 1.125rem 0;
  }
  .bgimg {
    height: 500px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
  }
  .banner {
    bottom: 10%;
    left: auto;
    padding: 20px;
    right: 0;
  }
  .svgclippaths .bgimg {
    -webkit-clip-path: polygon(0 100%, 60% 100%, 50% 0, 0 0);
    clip-path: polygon(0 100%, 60% 100%, 50% 0, 0 0);
    width: 100%;
  }
  .svgclippaths .bgimg-container {
    width: 60%;
  }
  .svgclippaths .banner {
    padding: 1.125rem 15% 1.125rem 1.125rem;
    width: 100%;
  }
}
@media screen and (min-width: 960px) {
  .hero,
  .bgimg {
    height: 700px;
  }
  .headings {
    margin-top: calc(256px);
  }
  .headings h1 {
    font-size: 3rem;
  }
  .headings h2 {
    font-size: 1.625rem;
  }
  .headings h1 + h2 {
    margin-top: 2.25rem;
  }
  .svgclippaths .banner {
    padding: 1.125rem 10% 1.125rem 1.125rem;
    max-width: 44.8rem;
  }
}
/* Description */
.pub-description {
  border: 1px solid #dbdbdb;
  border-width: 1px 0;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 3.75rem 0;
}
/* Features */
.pub-features {
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 3rem 0 6.75rem;
}
.pub-features h3 {
  font-family: Montserrat, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
}
.pub-features small {
  font-size: .75rem;
}
.pub-features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1.875rem;
}
.pub-feature {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-left: 2px solid #0099ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 2.25rem;
  max-width: 16rem;
  padding: 0 1.125rem;
}
.pub-feature > span {
  display: block;
  margin-bottom: 1.875rem;
}
.ico_world {
  background-image: url(../images/publishing/external/publishing-sprite.svg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 16.6875rem 10rem;
  height: 80px;
  width: 89px;
}
.ico_media {
  background-image: url(../images/publishing/external/publishing-sprite.svg);
  background-repeat: no-repeat;
  background-position: -89px 0px;
  background-size: 16.6875rem 10rem;
  height: 80px;
  width: 89px;
}
.ico_rights {
  background-image: url(../images/publishing/external/publishing-sprite.svg);
  background-repeat: no-repeat;
  background-position: 0px -80px;
  background-size: 16.6875rem 10rem;
  height: 80px;
  width: 89px;
}
.ico_composition {
  background-image: url(../images/publishing/external/publishing-sprite.svg);
  background-repeat: no-repeat;
  background-position: -89px -80px;
  background-size: 16.6875rem 10rem;
  height: 80px;
  width: 89px;
}
.ico_royalty {
  background-image: url(../images/publishing/external/publishing-sprite.svg);
  background-repeat: no-repeat;
  background-position: -178px 0px;
  background-size: 16.6875rem 10rem;
  height: 80px;
  width: 89px;
}
.ico_support {
  background-image: url(../images/publishing/external/publishing-sprite.svg);
  background-repeat: no-repeat;
  background-position: -178px -80px;
  background-size: 16.6875rem 10rem;
  height: 80px;
  width: 89px;
}
.no-svg .icon {
  background-image: url(../images/publishing/external/publishing-sprite.png);
}
@media screen and (min-width: 768px) {
  .pub-feature {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33%;
    flex: 1 1 33%;
  }
}
/* FAQs */
.pub-faqs {
  padding-bottom: 3.75rem;
}
.pub-faqs h3 {
  font-family: Montserrat, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
}
.pub-faq {
  border-left: 2px solid #0099ff;
  padding-left: 1.125rem;
}
.pub-faq .show_more {
  display: inline-block;
  font-family: 'Sorts Mills Goudy', serif;
  font-size: 1.125rem;
  margin-top: .75rem;
}
.pub-faq.opened .pub-answer {
  max-height: 300px;
  transition: max-height 0.25s ease-in;
}
.pub-question {
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2.25rem;
}
.pub-answer {
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.875;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}
.pub-answer ul {
  list-style-type: disc;
  margin-left: 1.125rem;
}
.pub-answer-container {
  padding: 1.5rem 0 1.5rem 1.125rem;
}
.pub-quote {
  background: #0099ff;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  margin-top: 1.875rem;
  padding: 2.25rem 2.25rem 2.25rem 0;
  text-align: right;
}
.pub-quote figcaption {
  font-family: 'Sorts Mills Goudy', serif;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 1.5rem;
  white-space: nowrap;
}
.pub-faqs-more {
  border: 2px solid #0099ff;
  border-width: 2px 0;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.375rem;
  font-weight: 600;
  margin-top: 3rem;
  padding: 1.875rem 0;
  text-align: center;
}
.pub-faqs-more a {
  font-family: 'Sorts Mills Goudy', serif;
  font-size: 1.875rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .svgclippaths .pub-quote {
    -webkit-clip-path: polygon(10% 100%, 100% 100%, 100% 0, 0 0);
    clip-path: polygon(10% 100%, 100% 100%, 100% 0, 0 0);
    padding-left: 10%;
  }
}
/* Hero 2 */
.pub-hero2 {
  background: #d29dba url(../images/publishing/external/samoutlaw_bg.jpg) no-repeat top center;
  background-size: contain;
  min-height: 700px;
  padding: 264px 0 34px;
  position: relative;
}
.pub-hero2 .banner2 {
  background: #ffffff;
  color: #005c9e;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.875rem 0;
}
.pub-hero2 .banner2 figcaption {
  color: #0099ff;
  display: block;
  font-family: 'Sorts Mills Goudy', serif;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: .75rem;
  white-space: nowrap;
}
.pub-hero2 .button-callout-alt {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
  font-size: 1.5rem;
  margin-top: 1.875rem;
}
.pub-hero2 .button-callout-alt:hover,
.pub-hero2 .button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.pub-hero2 .button-callout-alt:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.pub-hero2 .button-callout-alt:hover,
.pub-hero2 .button-callout-alt:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
.pub-hero2 .button-callout-alt:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
.pub-hero2 > footer {
  bottom: .75rem;
  left: 0;
  position: absolute;
  width: 100%;
}
.pub-hero2 .photo-credit {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: .875rem;
}
@media screen and (min-width: 768px) {
  .pub-hero2 {
    background: url(../images/publishing/external/samoutlaw_bg.jpg) no-repeat center center;
    background-size: cover;
  }
  .pub-hero2 .banner2 {
    width: 60%;
  }
  .pub-hero2 figure {
    float: right;
    max-width: 34.0625rem;
  }
  .svgclippaths .pub-hero2 .banner2 {
    -webkit-clip-path: polygon(0 100%, 90% 100%, 100% 0, 0 0);
    clip-path: polygon(0 100%, 90% 100%, 100% 0, 0 0);
    padding-right: 5%;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .bgimg-container {
    background-image: url(../images/publishing/external/hero_bg@2x.jpg);
  }
  .pub-hero2 {
    background-image: url(../images/publishing/external/samoutlaw_bg@2x.jpg);
  }
}

/*# sourceMappingURL=source/publishing.css.map */
