
/*# sourceMappingURL=source/rejected_release.css.map */

#rejection-reason-modal > p {
  font-size: 14px;
  margin-top: 2%;
}

.button.more-info.popup-rejection-reason-modal {
  background-color: red;
  border-radius: 0%;
  font-weight: 500;
  line-height: 32px;
}

.button.got-it.popup-rejection-reason-modal-dismiss {
  border-radius: 0%;
  line-height: 25px;
  width: 100px;
  font-weight: 500;
}


.corrected-issue-link {
  text-align: center;
  font-size: 14px;
}
