.content > header.report h1,
main > header.report h1 {
  border-bottom: 0;
  color: #3a96cf;
  font-size: 2.5em;
}
.content > header.report h1 small,
main > header.report h1 small {
  display: block;
  font-size: 0.4em;
}
.content > header.report h2,
main > header.report h2 {
  color: #3a96cf;
  font-size: 1.15em;
  line-height: 1.25;
}
.content > header .export-csv,
main > header .export-csv {
  margin-top: 1em;
}
.no_sales_notice {
  background-color: #fffff0;
  border: 2px solid #212121;
  border-radius: 10px;
  margin: 20px auto;
  overflow: hidden;
  padding: 20px;
  width: 600px;
}
.no_sales_notice h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1em;
}
.no_sales_notice h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1em;
}
.no_sales_notice ul {
  font-size: 1.25em;
  list-style: disc;
  margin-left: 1em;
}
.no_sales_notice li + li {
  margin-top: 1em;
}
.no_sales_notice p {
  font-size: 1rem;
}
.no_sales_notice p ~ p {
  margin-top: 1em;
}
.report-totals-container {
  border-bottom: 1px dotted #ddd;
  margin-bottom: 20px;
  overflow: hidden;
  padding-bottom: 5px;
  position: relative;
}
.notice strong {
  font-size: 1.15em;
  padding-right: 10px;
}
.sales-totals {
  font-size: 1em;
}
.sales-totals > h5 {
  font-size: 0.9em;
  letter-spacing: 0.222em;
  margin-bottom: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}
.sales-totals .toggle_decimals {
  font-weight: 400;
  letter-spacing: 0;
  padding: 2px;
  text-transform: none;
}
.sales-totals .decimals {
  color: #89cd91;
  display: none;
}
.sales-totals > span {
  color: #36942e;
  font-size: 2.1em;
  font-weight: 700;
  line-height: 1;
}
.show .decimals {
  display: inline !important;
}
.filter-container {
  float: right;
}
.sales-filters {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  overflow: hidden;
  padding: 10px;
}
.sales-filters > h2 {
  font-size: 1.25em;
  margin-top: 18px;
}
.sales-filters > h2:first-child {
  margin-top: 0;
}
.sales-date-range {
  overflow: hidden;
}
.sales-date-range > div {
  float: left;
  padding: 0 5px;
}
.sales-date-range label {
  display: block;
  float: none;
  font-size: 1em;
  margin: 0;
  padding: 0;
  text-align: left;
  width: auto;
}
.sales-advanced-options .container > h3 a {
  background-color: #dbedff;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.85em;
  font-style: normal;
  margin-top: 5px;
  padding: 2px 5px;
  position: relative;
  text-decoration: none;
}
.sales-advanced-options .container > h3 span {
  position: absolute;
  right: 5px;
  top: 5px;
}
.sales-advanced-options .container li {
  clear: none;
  margin: 0;
  padding: 2px 0;
}
.sales-advanced-options .container label {
  float: none;
  font-size: 0.85em;
  font-weight: 400;
  margin: 0 0 0 5px;
  width: auto;
}
#releases-filter > .container {
  padding: 5px 0;
}
.select-all-box {
  overflow: hidden;
  text-align: right;
}
.sales-filter-actions button {
  float: right;
}
.glossary {
  margin-top: 10px;
  word-wrap: break-word;
}
.glossary h2 {
  font-size: 1.15em;
  margin-bottom: 10px;
}
.glossary dt,
.glossary dd {
  display: inline;
  padding: 0;
}
.glossary dt {
  font-weight: 700;
}
.glossary dt:after {
  content: ": ";
  font-weight: 400;
}
.glossary dd:after {
  content: "\A\A";
  white-space: pre;
}
.glossary dd:last-child:after {
  content: "";
}
.glossary p {
  margin-top: 10px;
}
.sales-container .export-csv {
  position: absolute;
  right: 0;
  top: 0;
}
.sales-report-menu {
  float: left;
}
.sales-report-menu > ul {
  padding: 7px 0 5px;
}
.sales-report-menu li {
  display: inline;
}
.sales-report-menu li.active a {
  background-color: #41add8;
  border-color: #41add8;
  color: #ffffff;
}
.sales-report-menu a {
  border: 1px solid #666;
  border-bottom: 0;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 3px;
  color: #666666;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.15em;
  font-style: normal;
  padding: 8px 15px;
  text-align: center;
  max-width: 50px;
}
.sales-table {
  border: 1px solid #41add8;
  border-collapse: collapse;
  border-width: 3px 0;
  clear: left;
  display: table;
  margin-bottom: 5px;
  width: 100%;
}
.sales-table > thead {
  border-bottom: 1px solid #cccccc;
}
.sales-table > thead th {
  background-image: url('/images/tablesorter/bg.gif');
  background-position: right 12px;
  background-repeat: no-repeat;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 1em;
  padding: 8px 20px 0 10px;
  text-align: right;
  vertical-align: top;
}
.sales-table > thead th.headerSortDown {
  background-image: url(/images/tablesorter/desc.gif);
  background-position: right 10px;
}
.sales-table > thead th.headerSortUp {
  background-image: url(/images/tablesorter/asc.gif);
  background-position: right 10px;
}
.sales-table > thead th:nth-child(-n+2) {
  text-align: left;
}
.sales-table > thead th .toggle_decimals {
  font-weight: 400;
  letter-spacing: 0;
  padding: 2px;
  text-transform: none;
}
.sales-table > tbody tr:nth-child(2n+1) {
  background: #eef4f6;
}
.sales-table > tbody tr td {
  padding: 10px 20px;
}
.sales-table > tbody tr td:nth-child(n+3) {
  text-align: right;
}
.sales-table > tbody tr td.sales-total-earned {
  color: #36942e;
  font-weight: 700;
}
.sales-table > tbody tr td .decimals {
  color: #89cd91;
  display: none;
}
.sales-table.alternate > thead th:nth-child(n+2) {
  text-align: right;
}
.sales-table.alternate > tbody td:nth-child(n+2) {
  text-align: right;
}
.pager {
  line-height: 25px;
}
.paginate,
.info,
.length {
  float: right;
}
.info {
  padding-right: 10px;
}
.length {
  padding-right: 10px;
}
.length > * {
  display: inline;
}
/* Individual Release Report */
.sales-individual-release {
  margin-bottom: 10px;
  overflow: hidden;
}
.sales-artwork {
  float: left;
  height: 100px;
  width: 100px;
}
.sales-release-info {
  float: left;
  padding-left: 20px;
}
.sales-release-info > h2 {
  color: #003a57;
  font-size: 1.5em;
}
.sales-release-info > h3 {
  color: #545454;
  font-size: 1.15em;
  margin-bottom: 5px;
}
.info {
  float: left;
}
.info > dt {
  clear: left;
  float: left;
  font-size: 1.15em;
  font-weight: 700;
  margin-right: 5px;
  width: 138px;
}
.info > dd {
  float: left;
  width: 317px;
  word-wrap: break-word;
}
.release-sales-records {
  position: relative;
}
.release-sales-records > h2 {
  clear: left;
}
.release-sales-records #collapse,
.release-sales-records #expand {
  position: absolute;
  right: 0;
  top: 8px;
}
.song-sales-report h2 {
  margin: 10px 0;
}
.song-sales-record > h3 {
  border-top: 1px solid #ddd;
  clear: left;
  font-size: 1.5em;
  font-weight: 700;
  width: 100%;
}
.song-sales-record > h3 a {
  background-color: #eef4f6;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-style: normal;
  overflow: hidden;
  padding: 10px 26px 10px 10px;
  position: relative;
}
.song-sales-record > h3 .sales-info {
  display: block;
  text-align: left;
}
.song-sales-record > h3 .sales-info > * {
  color: #666;
  font-size: 0.625em;
  font-weight: 400;
  vertical-align: middle;
}
.song-sales-record > h3 .sales-info .total-earned b {
  color: #36942e;
}
.song-sales-record > h3 .fa {
  color: #666;
  position: absolute;
  right: 10px;
  top: 12px;
}
.report-table {
  overflow: hidden;
  padding-bottom: 10px;
}
.individual-sales thead th,
.sales-table-report thead th {
  padding-bottom: 8px;
}
.download-youtube-sound-recording-report-button {
  background: none !important;
  border: none !important;
  font-style: italic !important;
  color: #3B96CF !important;
  text-transform: none !important;
  box-shadow: none !important;
  font-weight: normal !important;
  padding: 0 !important;
  font-family: Georgia, serif !important;
  margin-top: 0 !important;
}
.currency-toggle-info {
  color: #41ADD8;
  font-weight: bold;
  margin-bottom: 8px;
}
.currency-toggles {
  text-decoration: underline;
}
.currency-toggles.not-selected {
  text-decoration: none;
}

/*# sourceMappingURL=source/reports.css.map */
