body {
  background: #fff url('/images/interstitial/ringtone_salelanding_bg.jpg') repeat-x 0 0;
  height: 100%;
}
#header {
  background-color: transparent;
  margin-bottom: 0;
  padding-top: 10px;
}
#header .logo {
  height: 42px;
  width: 150px;
}
.interstitial {
  margin-top: 43px;
  text-align: center;
}
.interstitial h1 {
  margin-bottom: 18px;
}
.interstitial p {
  color: #310c03;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 12px;
  padding: 0;
}
.interstitial .sale_date {
  color: #04bb7c;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 48px;
}
.interstitial .btn {
  font-size: 1.8em;
}
.interstitial .btn + .btn {
  margin: 0 0 0 10px;
}

/*# sourceMappingURL=source/ringtone_sale.css.map */
