@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic");
.content {
  font-family: Lato, sans-serif;
}
.content > .hero {
  background-color: #333333;
  margin: 0;
  padding: 0 1rem;
}
.content .section-title {
  border-bottom: 5px solid #3a96cf;
  color: #3a96cf;
  display: inline-block;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
}
.content .hide-on-mobile {
  display: none;
}
.content .show-on-mobile {
  display: inherit;
}
.hero {
  background-image: url("/images/royalty_solutions/coversongs_mobile_bg.jpg");
  background-position: 50% 55%;
  background-repeat: no-repeat;
  background-size: 150%;
}
.hero .copy_container {
  padding: 2rem 0;
}
.hero .copy_container h1 {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.hero .copy_container h2 {
  font-size: 1.6rem;
  line-height: 1;
  margin-bottom: 1rem;
}
.hero .copy_container h2 em {
  color: #3a96cf;
}
.hero .copy_container h2 strong {
  font-weight: 900;
}
.hero .copy_container .button-callout {
  border-radius: 5px;
  font-size: 1em;
  padding: .8em 2em;
  text-transform: none;
}
.description {
  background: #fff url("/images/royalty_solutions/pattern.png");
  padding: 2rem 0;
  text-align: center;
}
.description .button-callout {
  border-radius: 5px;
  font-size: 1.3em;
  margin-top: 2rem;
  padding: .8em 4em;
  text-transform: none;
}
.features {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.feature .icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
  padding: 1rem;
  width: 90px;
}
.feature .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 67%;
  flex: 0 0 67%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 1rem;
  text-align: left;
}
.feature .title {
  color: #3a96cf;
  font-size: 1.2rem;
  font-weight: 900;
}
.feature .copy {
  color: #2d3f53;
  font-size: .9rem;
}
.more-info {
  background: #2d3f53;
  padding: 3rem 0;
  text-align: center;
}
.more-info h4 {
  color: #3a96cf;
  font-size: 1.75rem;
  margin-top: 1.5rem;
}
.more-info p {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}
.more-info small {
  color: #dbd6cd;
  display: block;
  font-size: 1rem;
  font-style: italic;
  padding: 0 2rem;
}
.pricing {
  background: #fff url("/images/royalty_solutions/pattern.png");
  padding: 2rem 0;
  text-align: center;
}
.pricing .button-callout {
  border-radius: 5px;
  font-size: 1.3em;
  padding: .8em 4em;
  text-transform: none;
}
.licenses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 3rem 0;
}
.license {
  background: #2080bc;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}
.license ~ .license {
  margin-top: 3rem;
}
.license h4 {
  background: #2d3f53;
  color: #ffffff;
  display: block;
  font-weight: 900;
  padding: .5rem 0;
}
.license-copy {
  color: #ffffff;
  padding: 2rem;
}
.license-copy strong {
  font-weight: 900;
}
.license-copy p {
  font-size: .9rem;
}
.license-copy hr {
  border: 1px solid #ffffff;
  border-width: 1px 0 0;
  margin: 1rem auto;
  width: 25%;
}
.license-price {
  display: block;
  font-size: 5rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 1rem;
}
.license-price sup {
  font-size: 3rem;
}
@media (min-width: 48em) {
  .content > .hero {
    margin-bottom: 0;
    padding-top: 62px;
    padding-bottom: 0;
  }
  .content .hide-on-mobile {
    display: inherit;
  }
  .content .show-on-mobile {
    display: none;
  }
  .hero {
    background-image: url("/images/royalty_solutions/coversongs_bg.jpg");
    background-position: 100% 6%;
    background-size: 120%;
  }
  .hero .copy_container h1 {
    font-size: 1.4rem;
  }
  .hero .copy_container h2 {
    font-size: 2.4rem;
  }
  .hero .copy_container .button-callout {
    font-size: 1.3em;
  }
  .feature {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 33%;
    flex: 1 0 33%;
    padding: 0 3.3rem;
  }
  .feature .icon {
    width: 130px;
  }
  .feature .text {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding-right: 0;
    text-align: center;
  }
  .feature .title {
    padding: 1rem 0 0;
  }
  .fast-n-efficient .icon {
    margin-left: -30px;
    width: 160px;
  }
  .license {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 39%;
    flex: 0 0 39%;
  }
  .license ~ .license {
    margin-top: 0;
  }
}

/*# sourceMappingURL=source/royalty_solutions.css.map */
