#header {
  margin-bottom: 0;
}
.content > header {
  padding-top: 30px;
}
.hero_card {
  background-color: #3b96cf;
  color: #fff;
  overflow: hidden;
  margin-bottom: 18px;
  padding-top: 24px;
  position: relative;
}
.hero_card .copy_container {
  padding: 24px;
}
.hero_card .copy_container .headline {
  font-size: 2.66em;
  line-height: 1;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.hero_card .copy_container p {
  font-size: 1.5em;
}
.hero_card .copy_container p + p {
  margin-top: 18px;
}
.hero_card .copy_container a {
  color: #fff;
  text-decoration: underline;
}
.hero_card .copy_container .button-callout {
  color: #fff;
  font-size: 1.15em;
  margin-top: 24px;
  padding: 0.75em 1.5em;
}
.hero_card .photo_credit {
  display: none;
}
.pod-sellingpoints .button-callout {
  font-size: 1.15em;
  font-weight: 700;
  padding: 0.75em 1.5em;
}
.selling_point {
  margin-bottom: 60px;
}
.selling_point h2 {
  font-weight: 300;
  line-height: 1;
  padding-bottom: 24px;
}
.selling_point p {
  font-size: 1.15em;
}
.selling_point .slug {
  color: #f00;
}
.store_logos {
  background-color: #fff;
  overflow: hidden;
  padding: 24px 0;
}
.store_logos ul {
  display: block;
  text-align: center;
}
.store_logos li {
  display: inline-block;
  padding: 10px 0;
}
.store_logos li a {
  display: block;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
  height: 30px;
  width: 150px;
}
.store_logos .itunes a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: 0px 0px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .spotify a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -150px 0px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .amazon a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -300px 0px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .musicload a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -450px 0px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .google a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -600px 0px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .deezer a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -750px 0px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .juke a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -900px 0px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .simfy a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: 0px -30px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .rhapsody a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -150px -30px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .iheartradio a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -300px -30px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .nokia a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -450px -30px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .myspace a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -600px -30px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .beats a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -750px -30px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .muve a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -900px -30px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .zune a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: 0px -60px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .emusic a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -150px -60px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .wimp a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -300px -60px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .sony a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -450px -60px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .shazam a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -600px -60px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .gracenote a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -750px -60px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .seven_digital a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -900px -60px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .jb_hifi a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: 0px -90px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .slacker a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -150px -90px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .bloom a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -300px -90px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .guvera a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -450px -90px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .akazoo a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -600px -90px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .anghami a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -750px -90px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .kkbox a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -900px -90px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .revibe a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: 0px -120px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .spinlet a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -150px -120px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .neurotic a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -300px -120px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .target_music a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -450px -120px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .yandex a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -600px -120px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .claro_musica a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -750px -120px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .youtube a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -900px -120px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .playme a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: 0px -150px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .zvooq a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -150px -150px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .saavn a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -300px -150px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .eighttrack a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -450px -150px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .nmusic a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -600px -150px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .qsic a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -750px -150px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .cur a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: -900px -150px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.store_logos .dmusic a {
  background: url("/images/store_logos/store_color_logo_sprites.png?20160620") no-repeat;
  background-position: 0px -180px;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}
.pod-body h3 {
  font-size: 1.5em;
  padding-bottom: 12px;
}
.pod-body p + h3 {
  padding-top: 36px;
}
.ringtone-sale-ribbon {
  background-color: #fff;
  box-shadow: 2px 6px 3px -4px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}
.ringtone-sale-ribbon img {
  float: left;
  margin-right: 20px;
}
.ringtone-sale-text {
  color: #310c03;
  float: left;
  font-size: 2em;
  font-weight: 700;
  line-height: 0.75;
  padding: 6px 0;
}
.ringtone-sale-dates {
  color: #27ba7d;
  font-size: 0.75em;
}
.credit-sale-ribbon {
  background: transparent url("/images/interstitial/credit_salelanding_pattern.jpg") repeat 0 0;
  box-shadow: 2px 6px 3px -4px rgba(0, 0, 0, 0.5);
  color: #333;
  margin-bottom: 30px;
  position: relative;
}
.credit-sale-ribbon span {
  display: block;
  font-size: 2em;
  line-height: 1;
}
.credit-sale-ribbon span small {
  font-size: 0.75em;
  vertical-align: 10%;
}
.credit-sale-caps {
  font-size: 2em;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: -18%;
}
.credit-sale-inner {
  background: #290a59;
  background: rgba(41, 10, 89, 0.4);
  background: linear-gradient(to right, rgba(255, 124, 0, 0.4) 0%, rgba(41, 10, 89, 0.4) 100%);
  height: 100%;
}
.yt_ribbon {
  background: none;
  padding: 0;
}
.bx-wrapper {
  margin: 0 auto;
}
.controls {
  margin-bottom: 60px;
  text-align: center;
}
.controls a {
  font-family: FontAwesome;
  font-style: normal;
}
.prev,
.next,
.dots {
  color: #b5b5b5;
  display: inline-block;
}
.prev a,
.next a,
.dots a {
  color: #b5b5b5;
}
.prev,
.next {
  margin: 0 30px;
}
.dot {
  vertical-align: super;
}
.dot.active .fa-circle-o:before {
  content: "\f111";
}
@media screen and (min-width: 768px) {
  .content > header {
    padding-top: 30px;
  }
  .hero_card {
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
  }
  .hero_card .card {
    margin-bottom: 60px;
  }
  .hero_card .copy_container {
    background: #000;
    background: rgba(0, 0, 0, 0.65);
  }
  .hero_card .copy_container .headline {
    font-size: 5em;
  }
  .hero_card .copy_container a {
    color: #3b96cf;
    text-decoration: none;
  }
  .hero_card .copy_container .button-callout {
    font-size: 1.5em;
  }
  .hero_card .photo_credit {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.65);
    border: 1px solid #333;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 5px;
    display: block;
    padding: .2em 1em 3em 1em;
    position: absolute;
    transition: all linear 0.3s;
    width: 200px;
    z-index: 10;
  }
  .hero_card .photo_credit:hover {
    bottom: 0;
  }
  .hero_card .photo_credit .artist {
    font-size: 1.15em;
    margin-bottom: 12px;
  }
  .hero_card .photo_credit .description {
    margin-bottom: 12px;
  }
  .card_1 {
    background-image: url("/images/bgs/stephen_kellogg.jpg");
    background-position: 100% 20%;
    padding-top: 242px;
  }
  .card_1 .copy_container {
    width: 64%;
  }
  .card_1 .photo_credit {
    bottom: -137px;
    left: 50px;
  }
  .card_2 {
    background-image: url("/images/bgs/boyce_avenue2.jpg");
    background-position: 0 0;
    padding-top: 200px;
  }
  .card_2 .copy_container {
    width: 89%;
  }
  .card_2 .copy_container .headline {
    text-transform: none;
    line-height: 1;
  }
  .card_2 .photo_credit {
    bottom: -237px;
    right: 50px;
  }
  .pod-sellingpoints {
    background-image: url("/images/macbook_lq.jpg");
    background-position: 135% 20%;
    background-repeat: no-repeat;
    background-size: 50%;
  }
  .selling_point {
    border-left: 3px solid #e7790e;
    padding-left: 36px;
  }
  .yt_ribbon {
    background: transparent url("/images/youtube/yt_ribbon_end2.png") no-repeat 0 0;
    float: right;
    margin-bottom: 30px;
    padding-left: 41px;
    position: relative;
  }
  .yt_ribbon span {
    padding: 9px 10px;
  }
  .yt_ribbon .yt_runoff {
    display: none;
  }
}
@media screen and (min-width: 860px) {
  .yt_ribbon span {
    padding: 9px 20px;
  }
  .yt_ribbon .yt_runoff {
    background: #cd332d;
    background: linear-gradient(#cd332d, #aa2222);
    box-shadow: 2px 6px 3px -4px rgba(0, 0, 0, 0.5);
    display: block;
    height: 48px;
    position: absolute;
    top: 0;
    right: -49%;
    width: 50%;
  }
}
@media screen and (min-width: 961px) {
  .content > header {
    padding-top: 145px;
  }
  .yt_ribbon {
    margin-bottom: 100px;
  }
}

/*# sourceMappingURL=source/sell_your_music.css.map */
