.pod-body p {
  font-size: 1.25em;
}
.pod-body p + .agree-note {
  padding-top: 10px;
}
.pod-body p + .agree-note p + p {
  padding-top: 1em;
}
.pod-body ol {
  margin: 1.5em 0;
  padding-left: 2.5em;
}
.pod-body li {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1;
}
.check-bg {
  background: #F6F6F6;
  border: 1px solid #B3B3B3;
  display: inline-block;
  float: left;
  margin-right: 10px;
  padding: 10px 15px;
}
form label {
  float: none;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  width: auto;
}
.agree-note {
  padding-bottom: 1.5em;
  padding-left: 54px;
}
#tos {
  border: 1px solid #ccc;
  clear: both;
  height: 250px;
  margin-bottom: 1.5em;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
}
#tos p {
  margin-bottom: 10px;
}
#tos ol {
  margin-bottom: 10px;
  padding-left: 15px;
}
#tos li {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}
.faq {
  padding-top: 20px;
}

/*# sourceMappingURL=source/services_terms.css.map */
