@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Sorts+Mill+Goudy:400,400italic|Montserrat:700|Open+Sans:400,700);
.content > header {
  background-color: #eee;
  margin-bottom: 0;
  padding-top: 30px;
}
.content > header h1 {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  font-weight: 700;
  padding-bottom: 12px;
}
.content > header p {
  color: #333;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.1667;
}
.content .jump-links {
  display: none;
}
.services-section {
  background-color: #f6f6f6;
  border-top: 1px solid #dbdbdb;
  padding: 24px 0 0;
}
.services-section > .row > header {
  padding: 0 15px;
}
.services-section > .row > header h2 {
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  font-weight: 300;
}
.services-section > .row > header h2 + h3 {
  padding-top: 18px;
}
.services-section > .row > header h3 {
  color: #333;
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  padding-bottom: 36px;
}
.service {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  position: relative;
}
.service .service-no-hover {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: opacity .2s;
}
.service .service-hover {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 15px;
  position: absolute;
  top: 0;
  transition: opacity .25s;
  width: 100%;
  z-index: 1;
}
a.service {
  font-style: normal;
}
.service-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 56px;
  flex: 0 0 56px;
  height: 44px;
  margin-right: 12px;
}
.service-img.align-top {
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.service-title {
  color: #333;
  font-family: 'Lato', sans-serif;
}
.service-title .service-img {
  height: 30px;
  margin-right: 0;
}
h4.service-title {
  font-size: 1.8em;
  font-weight: 700;
}
.service-desc {
  color: #777;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.083em;
  font-weight: 400;
}
.nowrap {
  white-space: nowrap;
}
.underline {
  text-decoration: underline;
}
.ribbon {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
.ribbon .banner {
  -webkit-font-smoothing: antialiased;
  color: #fff;
  display: block;
  float: right;
  position: relative;
  right: -14px;
  top: 22px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 100px;
  z-index: 2;
}
.ribbon .banner::after,
.ribbon .banner::before {
  background-color: #1c5e8d;
  content: '';
  display: block;
  height: 12px;
  position: absolute;
  width: 30px;
}
.ribbon .banner::before {
  left: -45px;
  -webkit-transform: skewY(-45deg) translate(50%, 15px);
  transform: skewY(-45deg) translate(50%, 15px);
  -webkit-transform-origin: 100% center;
  transform-origin: 100% center;
}
.ribbon .banner::after {
  right: -17px;
  -webkit-transform: translate(100%, -100%) skewY(45deg) translateX(-58%);
  transform: translate(100%, -100%) skewY(45deg) translateX(-58%);
  -webkit-transform-origin: 0 center;
  transform-origin: 0 center;
}
.ribbon .text {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  min-height: 18px;
  padding: 6px 0;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  z-index: 2;
}
.ribbon .text::before,
.ribbon .text::after {
  background-color: #1895fb;
  content: '';
  display: block;
  height: 30px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.ribbon .text::before {
  -webkit-transform: translateX(-15%) skewX(-45deg);
  transform: translateX(-15%) skewX(-45deg);
}
.ribbon .text::after {
  -webkit-transform: translateX(15%) skewX(45deg);
  transform: translateX(15%) skewX(45deg);
}
@media screen and (min-width: 768px) {
  .content > header {
    padding-top: 72px;
  }
  .content > header h1 {
    padding-bottom: 24px;
    text-align: center;
  }
  .content > header p {
    text-align: center;
  }
  .content .jump-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 36px 0;
  }
  .content .jump-link {
    background-color: #0083e0;
    border-radius: 10px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    padding: 20px 45px;
    text-align: center;
  }
  .content .jump-link:hover,
  .content .jump-link:active {
    background-color: #0065ad;
  }
  .services-section {
    padding: 48px 0;
  }
  .services-section > .row > header h3 {
    display: block;
  }
  .services-list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0 15px;
  }
  .service {
    border-radius: 5px;
    border-top: 0;
    box-shadow: inset 1px 1px 5px rgba(49, 51, 68, 0.75);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 5%;
    margin-bottom: 24px;
    padding: 12px 25px;
    width: 30%;
  }
  .service:nth-child(3n+3) {
    margin-right: 0;
  }
  .service.empty {
    box-shadow: none;
    padding: 0;
  }
  .service .service-no-hover {
    height: 168px;
    min-height: 168px;
  }
  .service .service-hover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .service .service-hover .service-desc {
    font-size: 1.15em;
    padding: 0 20px;
    position: relative;
  }
  .service .service-hover .fake-link {
    font-family: 'Lato', sans-serif;
    font-size: 1.15em;
    font-style: normal;
    margin-top: 12px;
    text-decoration: underline;
  }
  .service:hover .service-no-hover {
    opacity: 0;
  }
  .service:hover .service-no-hover .service-desc {
    opacity: 0;
  }
  .service:hover .service-hover {
    opacity: 1;
  }
  .service-special {
    padding: 0;
  }
  .service-special .service-no-hover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: inset 1px 1px 5px rgba(49, 51, 68, 0.75);
    height: 100%;
    min-height: 192px;
    width: 100%;
  }
  .service-special .service-no-hover > * {
    display: none;
  }
  .service-special.soundout .service-no-hover {
    background-image: url('/images/services/external/cards/fanreviews_special.png');
  }
  .service-special.ytm .service-no-hover {
    background-image: url('/images/services/external/cards/ytm_special.jpg');
  }
  .service-img {
    margin-right: 0;
  }
  .service-img.align-top {
    -ms-flex-item-align: center;
    align-self: center;
  }
  .service-title {
    line-height: 1;
    padding-left: 12px;
    max-width: 165px;
  }
  .service-title-img {
    padding-left: 0;
    max-width: none;
  }
  .service-desc {
    bottom: 0;
    left: 0;
    padding: 0 12px 12px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .ribbon {
    display: block;
  }
}
@media screen and (min-width: 961px) {
  .content > header {
    padding-top: 147px;
  }
}

/*# sourceMappingURL=source/services_for_artists.css.map */
