@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,400italic,700");
.content > header h1 {
  font-size: 3em;
}
.underline {
  text-decoration: underline;
}
.pod-notice {
  background-color: #fffcdb;
  border: 1px solid #eedb1b;
  border-width: 2px 2px 2px;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px;
  position: relative;
  text-align: center;
  font-size: 1.15em;
  font-weight: bold;
}
.pod-notice-header {
  font-size: 1.75em;
}
.pod-rounded > header {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-width: 1px 1px 0;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  margin-bottom: 0;
  padding: 20px;
  position: relative;
}
.pod-rounded > header h3 {
  font-size: 2em;
  font-weight: 700;
  padding: 0;
}
.pod-rounded > header h4 {
  color: #666666;
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px 0 0;
}
.pod-rounded .pod-body {
  border: 1px solid #ccc;
  overflow: hidden;
  padding: 15px;
}
.pod-rounded .pod-body p {
  font-size: 1.05em;
}
.pod-rounded .pod-body p ~ p {
  padding-top: 1em;
}
.pod-rounded .pod-body .left_aligned {
  float: left;
  margin: 0 10px 10px 0;
}
.pod-rounded .pod-body .right_aligned {
  float: right;
  margin: 0 0 10px 10px;
}
.pod-other {
  border-bottom: 1px solid #ccc;
  margin-top: 0;
}
.pod-other:first-child {
  border-top: 1px solid #ccc;
  padding-top: 18px;
}
.pod-other > header {
  border: 0;
  color: #333;
  margin-bottom: 12px;
}
.pod-other > header h4 {
  font-size: 1.5em;
}
.pod-other .pod-body p {
  font-size: 1em;
  margin-bottom: 12px;
}
.pod-other .pod-body .special_offer {
  font-weight: 700;
}
.notice-services {
  background-color: #FFFCDC;
  border: 1px solid #EDD72C;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 50px;
  text-align: center;
}
.notice-services h4 {
  font-size: 1.7em;
}
.notice-services p {
  font-size: 1.15em;
  font-weight: 500;
}
.bandzoogle h4 img {
  height: 20px;
}
.atvenu h4 img {
  height: 35px;
}
.services > header {
  border-bottom: 3px solid #333;
  line-height: 1;
  margin-bottom: 18px;
}
.services > header h2,
.services > header h3 {
  padding: 0 0 12px;
}
.featured > header h2 {
  font-size: 3em;
}
.featured .powered_by {
  color: #777;
  margin-top: 5px;
}
.featured .actions {
  font-size: 1.333em;
  text-align: center;
}
.featured .actions .button-callout-alt {
  text-transform: none;
}
.other > header h3 {
  font-size: 2em;
  padding: 12px 0;
}
.soundout {
  margin: 3rem 0 0;
}
.soundout-header {
  margin-bottom: 2.25rem;
  text-align: center;
}
.soundout-header > h4 {
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .75rem;
}
.soundout-header > p {
  font-size: .875rem;
}
.soundout-tiers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.soundout-tier {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 12.5rem;
  flex: 1 1 12.5rem;
  margin: 0 .625rem 1rem;
  text-align: center;
}
.soundout-tier > p {
  font-family: Lato, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25;
  padding: 0 .875rem;
}
.soundout-tier-container {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
  margin-bottom: 1.5rem;
  padding: .75rem 0;
}
.soundout-tier-container > h5 {
  background-color: #ffffff;
  border: 6px solid #ffffff;
  border-width: 6px 0;
  color: #000000;
  font-family: Lato, sans-serif;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1;
  padding: .625rem 0;
  margin-bottom: .75rem;
}
.soundout-tier-container > p {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.soundout-tier-container > a {
  border-top: 1px solid #e0e0e0;
  display: block;
  font-size: .875rem;
  line-height: 1;
  margin: 0 1rem;
  padding: .75rem 0;
}
.soundout-more-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}
.soundout-more-details.opened {
  max-height: 35rem;
  transition: max-height 0.25s ease-in;
}
.soundout-more-details > h6,
.soundout-more-details > p {
  font-family: Lato, sans-serif;
  margin-bottom: .75rem;
}
.soundout-more-details > h6 {
  font-size: .875rem;
  margin-top: .75rem;
  padding: 0 1.125rem;
}
.soundout-more-details > p {
  font-size: .8125rem;
  padding: 0 .9375rem;
}
.soundout-tier-enhanced h5 {
  background: #feffad;
  border-color: #feffad;
}
.soundout-tier-premium h5 {
  background: #b3f1ff;
  border-color: #00d0ff;
}
.soundout-purchase {
  text-align: center;
}
.soundout-purchase .ts-click {
  margin-top: 0;
}
/* Old Tracksmarts Boxes */
.soundout_tiers {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: calc(77px) 0;
  width: 100%;
}
.tier {
  background-color: #ffffff;
  border: 1px solid #2d7bae;
  border-radius: 3px;
  font-size: 1.167em;
  padding: 1rem 2rem;
  position: relative;
  text-align: center;
  margin-top: 2em;
}
.tier .anr_consideration {
  background-color: #fff570;
  font-size: .75rem;
  left: 0;
  margin-top: -85px;
  padding: 10px;
  position: absolute;
  top: 0;
}
.tier .fa-star {
  color: #2d7bae;
  font-size: 1rem;
}
.tier h4 {
  color: #2d7bae;
  font-family: 'Georgia', serif;
  font-size: 1.625rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 10px;
}
.tier p {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  line-height: 2;
}
.tier a {
  font-size: .75rem;
}
/* Old Tracksmarts Boxes */
.fb_tiers {
  display: table;
  margin: 12px auto;
  overflow: hidden;
  text-align: center;
}
.fb_tiers > .tier {
  background-color: #e5f4fd;
  border: 2px solid #69aad1;
  border-radius: 10px;
  float: left;
  padding: 12px;
}
.fb_tiers > .tier .fb_price {
  font-size: 1.5em;
}
.fb_tiers > .tier a {
  font-size: 1em;
  text-transform: capitalize;
}
.fb_tiers .fb_price {
  display: block;
  font-size: 1.15em;
  font-weight: 700;
}
.fb_tiers .fb_copy {
  display: block;
}
.soundout_logo {
  padding: 0 0 3px 3px;
  vertical-align: middle;
}
.soundout_icon {
  border-radius: 5px;
}
.fb_logo {
  width: 75px;
}
.fb_logo.fb_completed {
  margin: 15px 15px 0 0;
  width: 50px;
}
.fb_notify {
  background-color: #e5f4fd;
  border: 1px solid #69aad1;
  border-radius: 10px;
  padding: 12px;
  width: 100%;
}
.ytm .ytm_logo {
  border-radius: 5px;
}
.social .social_logo {
  width: 150px;
  border-radius: 5px;
}
.stats-holder {
  margin-top: 12px;
  overflow: hidden;
}
.stats-pod {
  border: 3px solid #333;
  border-width: 3px 0;
  float: left;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 8px 0;
  text-align: center;
  width: 100%;
}
.stats-number {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 30px;
  padding: 6px 0;
}
.stats-type {
  font-style: italic;
}
.stats-ineligible {
  border-color: #BEBEBE;
}
.stats-ineligible .stats-number {
  font-size: 1.5em;
}
@media screen and (min-width: 480px) {
  .fb_tiers {
    margin: 24px auto;
  }
  .fb_tiers > div {
    padding: 24px 12px;
  }
  .fb_tiers > div.active {
    padding: 24px;
    width: 202px;
  }
  .fb_tiers > div.active .fb_price {
    font-size: 2.3em;
  }
  .fb_tiers > div.active a {
    font-size: 1.33em;
  }
  .fb_tiers .fb_price {
    font-size: 1.35em;
  }
  .fb_logo.fb_completed {
    margin: 0;
    width: 100px;
  }
  .fb_notify {
    width: 75%;
  }
  .soundout_tiers {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .stats-pod {
    width: 80px;
  }
  .stats-ineligible {
    margin-left: 12px;
  }
}
@media screen and (min-width: 768px) {
  .ytm .logo {
    width: 17.3%;
  }
  .ytm .copy {
    width: 82.7%;
  }
  .ytm .copy > * {
    margin-left: 20px;
  }
}
@media screen and (min-width: 960px) {
  .fb_notify {
    width: 79.7%;
  }
}

/*# sourceMappingURL=source/services.css.map */
