.hidden{display:none}
.progress-bar-wrapper{width:400px;border:1px solid #ccc;height:15px;}
.progress-bar{width:0px;height:15px;background-color:blue;}
.relative{position:relative;}

#simplemodal-container a.modalCloseImg {background:url(/images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; left:-16px; cursor:pointer;}
#simplemodal-overlay{background-color:#000;}
#simplemodal-container {color:#333; background-color:#fff; border-radius: 10px; padding:12px;}
.simplemodal-wrap{overflow:auto;}
#my-account #spinner{position:absolute;top:428px;right:12px;z-index:100;}
.ie7 #my-account #spinner {top:220px;}
#my-account #spinner img{height:30px;width:30px;}

#iframe{
  background: transparent !IMPORTANT;
}

#renewal_options {
  margin: 6px 0 6px 6px;
}

#cancel_subscription {
  text-indent: 10px;
  position:relative;
  top: 12px;
}
