@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic);
@media only screen and (min-width: 768px) {
  .bg-credits {
    color: #ffffff;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 1rem;
    margin: 5rem auto 0;
    text-align: right;
    width: 960px;
  }
  .bg-credits .bg-credits-container {
    display: inline-block;
    text-align: left;
  }
  .bg-credits .since {
    font-style: italic;
  }
  .ytm {
    background: transparent url("/images/login/ytm_login_sticker.png") no-repeat;
    display: block;
    height: 183px;
    position: absolute;
    right: -160px;
    top: -105px;
    width: 272px;
    z-index: 50;
  }
  .claro_musica {
    background: transparent url("/images/login/claro_login_sticker.png") no-repeat;
    display: block;
    height: 106px;
    position: absolute;
    right: -173px;
    top: -105px;
    width: 288px;
    z-index: 50;
  }
}
.button-callout {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  text-transform: none;
}
.button-callout:hover,
.button-callout:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.button-callout:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.button-callout-alt {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
  text-transform: none;
}
.button-callout-alt:hover,
.button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.button-callout-alt:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.button-callout-alt:hover,
.button-callout-alt:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
.button-callout-alt:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
.button-interface {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  color: #777;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.button-interface:hover,
.button-interface:focus {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #777;
}
.button-interface:active {
  background-color: #dcdcdc;
  border: 1px solid #d6d6d6;
}
.upsell {
  background-color: #3b96cf;
  color: #fff;
  float: none;
  padding: 30px 30px 40px;
}
.upsell > header {
  margin: 0 0 1em;
  overflow: hidden;
}
.upsell > header > h1 {
  float: left;
  font-size: 2.0em;
  font-weight: 700;
  text-transform: uppercase;
}
.upsell > ul {
  font-size: 1.6em;
  padding-left: 15px;
  list-style: disc;
}
#login,
#reset_pwd {
  /* The top two corners are bigger radius because browsers actually show
     small bits of it extending out of what is in front of it. It bugs me
     so I made it bigger and therefore hidden behind what is in front.
  */
  border-radius: 12px 12px 10px 10px;
  color: #fff;
  margin: 25% auto;
  background-color: #3b96cf;
}
#login .masthead {
  background-color: #3b96cf;
}
#login #errorExplanation,
#reset_pwd #errorExplanation,
#login #goodErrorExplanation,
#reset_pwd #goodErrorExplanation {
  font-size: 1.3em;
  text-align: left;
}
#login a:link,
#reset_pwd a:link,
#login a:visited,
#reset_pwd a:visited {
  color: #fff;
}
#login .forgot-pw-helper,
#reset_pwd .forgot-pw-helper {
  padding-right: 10px;
}
#login .create-account-helper,
#reset_pwd .create-account-helper {
  padding-left: 10px;
}
#login form .form-text:focus,
#reset_pwd form .form-text:focus {
  border: 1px solid #999;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
#login form .contextual-help p,
#reset_pwd form .contextual-help p {
  color: #cde4f2;
}
#login form .formError,
#reset_pwd form .formError {
  background-color: #f22;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  padding: 3px;
}
#login_country_website_msg {
  width: 100%;
  height: 60px;
  color: white;
  background-color: #202021;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}
#reset_pwd #errorExplanation {
  background-color: #F5A623;
  border-radius: 3px;
  color: #fff;
  font-size: 1.3em;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: left;
  z-index: 5;
}
#reset_pwd #errorExplanation h2 {
  font-size: 1em;
}
#reset_pwd #errorExplanation a {
  text-decoration: underline;
}
#registration {
  background-color: #fff;
  color: #000;
}
#registration a:link,
#registration a:visited {
  color: #3b96cf;
}
#registration .content {
  padding: 0 0 40px;
}
#registration .content .upsell + #errorExplanation {
  margin-top: 20px;
}
#registration .content .main {
  margin-top: 40px;
}
#registration .content #errorExplanation + .main {
  margin-top: 0;
}
#errorExplanation {
  font-size: 1.3em;
}
.masthead {
  background: #000;
  border-radius: 10px 10px 0 0;
  position: relative;
}
.masthead .logo {
  float: none;
  height: 43px;
  margin: 29px auto 0;
  padding: 0;
  width: 250px;
}
.masthead .container {
  width: 100%;
}
.content {
  border-radius: 0 0 10px 10px;
  padding: 40px 10px;
}
.content .main .form {
  margin-bottom: 1.5em;
}
.content .main .help {
  font-size: 1.4em;
  list-style-type: square;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}
.content .main .help li {
  float: left;
  margin-left: 25px;
}
form fieldset {
  border: 0;
}
form fieldset label {
  text-align: right;
}
form fieldset .ui-autocomplete-input,
form fieldset input.form-text,
form fieldset textarea {
  width: 50%;
}
form input[type="submit"] {
  font-size: 1.2em;
  width: 68%;
}
form .reset-pw-btn {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
}
#recaptcha_widget {
  background: #fff;
  border: 1px solid #fff;
  margin-bottom: 20px;
  padding: 10px;
}
#recaptcha_widget label {
  color: #000;
  width: 35%;
}
#recaptcha_image {
  margin: 0 auto 10px;
}
#recaptcha_image embed {
  height: 0;
}
#recaptcha_image a:link {
  color: #000;
  font-size: 1.3em;
}
.recaptcha_options {
  font-size: 1.3em;
  text-align: center;
}
.recaptcha_options li {
  clear: none;
  display: inline-block;
  margin: 0;
}
.recaptcha_options li a:link {
  text-decoration: none;
}
@media screen and (max-width: 960px) {
  .masthead {
    height: 100px;
  }
  .masthead .container .logo h1 {
    background-size: contain;
    height: 64px;
    margin: 15px auto 0;
    width: 250px;
  }
}
@media screen and (max-width: 767px) {
  body {
    background-color: #3b96cf;
  }
  #login,
  #reset_pwd {
    border-radius: 0;
    box-shadow: none;
    margin: 0 auto;
  }
  .bg-credits {
    display: none;
  }
  .upsell > header {
    background-color: inherit;
    box-shadow: none;
    height: auto;
    position: relative;
    width: auto;
    z-index: inherit;
  }
  .upsell > header > h1 {
    margin-left: 0;
  }
  .masthead {
    border-radius: 0;
  }
  .masthead .container .logo h1 {
    height: 64px;
    width: 250px;
  }
  .content .main {
    float: none;
    padding: 0;
  }
  .content .main .help {
    float: none;
    overflow: visible;
  }
  form fieldset.form-actions {
    margin: 0 0 10px;
  }
  form label {
    float: left;
    margin: 4px 0 5px;
    width: 25%;
  }
  form input[type="submit"] {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  form fieldset .ui-autocomplete-input,
  form fieldset input.form-text {
    width: 70%;
  }
  form fieldset label {
    text-align: left;
    width: 30%;
  }
  #recaptcha_widget label {
    width: 30%;
  }
  #recaptcha_image {
    width: auto !important;
  }
  #recaptcha_image img {
    width: 100%;
  }
}

.password-reset-error {
  background-color: #f22;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3%;
  font-size: 12px;
}

.password-requirements {
  padding-bottom: 3%;
  font-size: 1.4em;
  text-align: center;
}

/*# sourceMappingURL=source/signin_registration.css.map */
