body {
  background: #d9d9d9;
}
.interstitial {
  background: #d9d9d9;
  background: linear-gradient(to bottom, #ffffff 0%, #d9d9d9 100%);
  color: #333;
  padding-bottom: 60px;
  text-align: center;
}
.interstitial h1 {
  font-size: 2.4em;
  font-weight: 700;
  margin: 48px 0 0;
  padding: 0 0 24px;
  text-transform: uppercase;
}
.interstitial hr {
  border: 1px solid #acacac;
  border-width: 0 0 1px;
  margin-bottom: 48px;
  width: 10%;
}
.interstitial h2 {
  margin: 0 0 36px;
}
.interstitial p {
  font-size: 2.4em;
  font-weight: 200;
  line-height: 1.5;
  margin: 0 auto;
  text-align: left;
  width: 70%;
}
.interstitial .buttons {
  text-align: center;
}
.interstitial .btn {
  font-size: 1.8em;
}

/*# sourceMappingURL=source/slacker_store.css.map */
