#songwriter_dashboard > header {
  margin-bottom: 40px;
  padding-top: 20px;
}
#songwriter_dashboard > header h1 {
  font-size: 3.6em;
  color: #333333;
}
#songwriter_dashboard .pubsteps {
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 40px;
}
#songwriter_dashboard .pubsteps > header {
  padding: 15px;
  font-size: 14px;
  color: #333333;
}
#songwriter_dashboard .pubsteps > header h2 {
  font-size: 26px;
}
#songwriter_dashboard .pubsteps > section > header {
  position: relative;
  height: 50px;
  padding-left: 35px;
  background-color: #FFFFFF;
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
  overflow: hidden;
}
#songwriter_dashboard .pubsteps > section > header:before {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  left: 35px;
  border: 28px solid transparent;
  border-left-color: #b5b5b5;
}
#songwriter_dashboard .pubsteps > section > header:after {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  left: 34px;
  border: 28px solid transparent;
  border-left-color: #FFFFFF;
}
#songwriter_dashboard .pubsteps > section > header > .row {
  background-color: #e8e8e8;
  padding-left: 40px;
}
#songwriter_dashboard .pubsteps > section > header h2 {
  color: #333333;
  font-size: 18px;
  line-height: 50px;
  display: inline-block;
}
#songwriter_dashboard .pubsteps > section > header .link {
  margin-left: 20px;
  font-size: 14px;
}
#songwriter_dashboard .pubsteps > section.emphasize > header {
  background-color: #15507a;
  border: 0;
}
#songwriter_dashboard .pubsteps > section.emphasize > header:before {
  border-left-color: #FFFFFF;
}
#songwriter_dashboard .pubsteps > section.emphasize > header:after {
  left: 32px;
  border-left-color: #15507a;
}
#songwriter_dashboard .pubsteps > section.emphasize > header > .row {
  background-color: #3b96cf;
}
#songwriter_dashboard .pubsteps > section.emphasize > header h2 {
  color: #FFFFFF;
}
#songwriter_dashboard .pubsteps p {
  font-size: 14px;
  color: #333333;
  padding: 15px;
  margin-bottom: 25px;
}
#songwriter_dashboard .split-stat {
  border-top: 3px solid #333333;
  border-bottom: 3px solid #333333;
  height: 96px;
  color: #333333;
  text-align: center;
}
#songwriter_dashboard .split-stat .lg {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}
#songwriter_dashboard .split-stat .med {
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
}
#songwriter_dashboard .split-stat .desc {
  font-family: Georgia;
  font-size: 12px;
  font-style: italic;
}
#songwriter_dashboard .split-stat.dispute {
  background-color: #ffdddc;
  color: #dc0000;
}
#songwriter_dashboard .split-stat.missing {
  background-color: #ffffdd;
  margin-right: 15px;
}
#songwriter_dashboard .split-stat.undistributed {
  background-color: #e5fdff;
}
#songwriter_dashboard .split-stat.mr {
  margin-right: 15px;
}
#songwriter_dashboard .split-stats {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
#songwriter_dashboard .split-stats .split-stat {
  float: left;
  width: 11.5%;
}
#songwriter_dashboard .box-yt {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}
#songwriter_dashboard .box-yt .title {
  margin-bottom: 10px;
}
#songwriter_dashboard .box-yt .title span {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
}
#songwriter_dashboard .box-yt .content {
  padding-left: 15px;
  color: #333333;
}
#songwriter_dashboard .box-yt .content span,
#songwriter_dashboard .box-yt .content strong {
  font-size: 14px;
  line-height: 16px;
}
#songwriter_dashboard .box-yt .content p {
  padding: 0 0 15px;
}
#songwriter_dashboard .dispute-color {
  color: #dc0000;
}
#songwriter_dashboard .ps5 form {
  padding: 15px 0;
}
#songwriter_dashboard .ps5 .note {
  clear: left;
  font-size: .75rem;
  margin-bottom: 0;
  margin-left: 25%;
  padding: 0 0 15px;
}
#songwriter_dashboard .ps5 .buttons {
  padding: 0 15px;
}
.edit_email_phone {
  font-size: .75rem;
}
.edit_email_phone #errorExplanation,
.edit_email_phone #goodErrorExplanation {
  font-size: 1rem;
}
.edit_email_phone .message {
  margin: 0 auto;
  width: 91%;
}
.edit_email_phone .note {
  margin-bottom: 10px;
  padding: 0 0 8px 30%;
}
.edit_person {
  padding-left: 40px;
}
.edit_person .form-text,
.edit_person .ui-autocomplete-input,
.edit_person .form-country,
.edit_person textarea {
  width: auto;
}
.edit_person fieldset {
  display: block;
  margin: 1em 0;
}
.edit_person label {
  float: left;
  font-weight: normal;
  font-family: Georgia, serif;
  font-size: 1.2em;
  font-style: italic;
  text-align: left;
  min-width: 30%;
  line-height: 22px;
  color: #333333;
}
.edit_person li {
  float: left;
  width: 100%;
  padding-bottom: 8px;
}
.edit_person .context-wrapper {
  float: left;
}
.edit_person .formError {
  margin-left: 0;
}
.edit_person .buttons {
  margin-left: 30%;
}
.edit_person .buttons .button-interface {
  margin-left: 10px;
}
.edit_person .button-callout-alt {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #F47F0C;
  border: 1px solid #D8710D;
  margin-top: 0;
  padding: .75em 1.5em;
  border-radius: 3px;
}
.edit_person .button-callout-alt:active {
  background-color: #F47F0C;
}
iframe {
  border: 0;
  width: 630px;
  height: 380px;
}
.publishing_callout.publishing_callout-composers {
  font-size: 1.15em;
}
.youtube_money_callout {
  background-color: #ffffff;
  border: 1px solid #919191;
  padding: 15px;
  text-align: center;
}
.youtube_money_callout img {
  width: 50%;
}
.youtube_money_callout p {
  font-size: 1.5em;
  line-height: 1.25;
  margin: 15px 0;
}
.youtube_money_callout .tagline {
  font-size: 1.85em;
  font-weight: 700;
}
.youtube_money_callout .button-callout-alt {
  font-size: 1.15em;
}

/*# sourceMappingURL=source/songwriter_dashboard.css.map */
