.content > .alternative-center {
  background: #EFEFEF;
  border: 0;
  color: #333;
  text-align: center;
  border-bottom: 2px solid #A6A6A6;
  margin-bottom: 30px;
}
.content > .alternative-center h1 {
  color: #333;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: left;
  text-transform: uppercase;
}
.content > .alternative-center h2 {
  font-size: 2em;
  font-weight: 400;
  text-align: left;
}
.content .horizontal-list {
  margin-top: 20px;
  text-align: left;
}
.content .horizontal-list li {
  display: block;
  font-family: Georgia, serif;
  font-size: 1.5em;
  font-style: italic;
}
.content .horizontal-list li:before {
  content: "•";
  padding: 0 40px 0 30px;
}
.content .horizontal-list br {
  display: none;
}
.content .get-started {
  font-size: 1.125rem;
  margin-top: 3em;
}
.royalty-chart {
  text-align: center;
  line-height: 1.0;
  margin-bottom: 60px;
}
.pod-compare {
  margin-top: 30px;
  text-align: center;
}
.pod-compare > header {
  border: 0;
  line-height: 1.5;
  text-align: left;
}
.pod-compare > header h2 {
  font-size: 2em;
  font-weight: 400;
}
.pod-royalties {
  font-size: 1rem;
  margin-top: 30px;
}
.pod-royalties > header {
  border: 0;
  line-height: 1.5;
}
.pod-royalties > header h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.pod-royalties p {
  margin-bottom: 1rem;
}
.pod-royalties ul {
  list-style: inside disc;
}
.pod-royalties li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 1rem;
  padding-left: 1.25rem;
  text-indent: -1rem;
}
.pod-royalties li li {
  margin-bottom: 0;
}
.pod-royalties small {
  display: block;
}
.pod-royalties > footer {
  text-align: center;
}
.royalties {
  margin-bottom: 3rem;
  overflow: hidden;
}
.royalty-type {
  padding-top: 1rem;
}
.royalty-type h3 {
  margin-top: -1rem;
}
.societies {
  margin-top: 30px;
  font-size: 1.5em;
}
.compare-services {
  margin-top: 60px;
  text-align: left;
}
.compare-services h3 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 30px;
}
.compare-services li {
  font-family: Georgia, serif;
  font-size: 1.416em;
  font-style: italic;
}
.compare-services li + li {
  margin-top: 30px;
}
.compare-services .fa-play {
  font-size: 0.66em;
  padding-right: 10px;
  vertical-align: middle;
}
.compare-services .right-play {
  display: none;
}
@media screen and (min-width: 768px) {
  .content > .alternative-center h1,
  .content > .alternative-center h2 {
    text-align: center;
  }
  .content .horizontal-list {
    text-align: center;
  }
  .content .horizontal-list li {
    display: inline;
    font-family: Georgia, serif;
    font-size: 1.5em;
    font-style: italic;
  }
  .content .horizontal-list li + li:before {
    content: "•";
    padding: 0 40px 0 30px;
  }
  .content .horizontal-list li.break:before {
    content: "";
    padding: 0;
  }
  .content .horizontal-list br {
    display: block;
  }
  .pod-compare {
    margin-top: 60px;
    text-align: center;
  }
  .pod-compare > header {
    line-height: 1;
    text-align: center;
  }
  .pod-compare > header h2 {
    padding: 0 20px;
  }
  .pod-royalties {
    margin-top: 60px;
  }
  .pod-royalties > header {
    line-height: 1;
  }
  .pod-royalties > header h2 {
    padding: 0 20px;
  }
  .multi-col {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
  .multi-col ul {
    -webkit-columns: auto;
    -moz-columns: auto;
    columns: auto;
  }
  .compare-services + .compare-services {
    border-left: 1px solid #333;
  }
  .compare-services .fa-play {
    padding-right: 40px;
  }
  .compare-services .left-play {
    display: none;
  }
  .compare-services .right-play {
    display: inline-block;
  }
  .our-services {
    padding-left: 30px;
    text-align: left;
  }
  .other-services {
    padding-right: 30px;
    text-align: right;
  }
}

/*# sourceMappingURL=source/songwriter_royalties.css.map */
