body {
  background: #01aed8;
  background: linear-gradient(to bottom, #027e9a 0%, #01aed8 100%);
}
#header {
  background-color: transparent;
  padding-top: 10px;
}
.interstitial {
  background: transparent url('/images/interstitial/soundoutlanding_bg.png') no-repeat top center;
  color: #000;
  min-height: 713px;
  padding: 165px 0 60px;
  text-align: left;
}
.interstitial h1 {
  font-size: 51px;
  font-style: italic;
  font-weight: 400;
  line-height: 1;
}
.interstitial h2 {
  color: #777;
  font-size: 1.8em;
  line-height: 1;
  margin: 0 0 1em;
  text-align: left;
  text-transform: lowercase;
}
.interstitial h2 img {
  vertical-align: middle;
}
.interstitial p {
  font-size: 1.8em;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 36px;
  text-align: left;
}
.interstitial .buttons {
  text-align: center;
}
.interstitial .btn {
  font-size: 1.8em;
}
.interstitial .btn + .btn {
  margin: 0 0 0 2em;
}

/*# sourceMappingURL=source/soundout_interstitial.css.map */
