/* top section */
.detail-header {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}
.detail-header h1 {
  font-size: 3em;
  line-height: 1;
}
.detail-header h2 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 15px;
}
.detail-header .report-header {
  background-color: #efefef;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  overflow: hidden;
  padding: 15px;
}
.detail-header .report-type {
  float: left;
  font-size: 1.15em;
  font-style: italic;
  padding: 3px 0;
}
.detail-header .powered_by {
  float: right;
  margin: 0;
}
.detail-header .report-details {
  overflow: hidden;
  padding: 15px;
}
.detail-header .album-art {
  float: left;
  padding-right: 15px;
}
.detail-header .album-art img {
  display: block;
  width: 120px;
}
/* sidebar w/ summary numbers */
.detail-sidebar {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 30px;
  padding: 15px;
  text-align: center;
}
.detail-sidebar h3 {
  font-size: 4em;
  line-height: 1;
}
.detail-sidebar span {
  color: #777;
  font-family: Georgia, serif;
  font-style: italic;
  line-height: 1;
}
#explainsummary {
  border-top: 1px solid #ccc;
  margin-top: 1em;
  padding-top: 1em;
}
/* tabbed content interface */
.tabs {
  border: 0;
  margin-bottom: 0;
}
.tabs a {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  color: #777;
  display: inline-block;
  font-family: Georgia, Times, serif;
  font-size: 12px;
  font-style: italic;
  margin-bottom: -1px;
  margin-right: 15px;
  padding: 8px 12px;
  text-align: center;
}
.tabs a.selected {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
}
/* general contents */
.report-contents {
  border: 1px solid #ccc;
  overflow: hidden;
  padding: 15px;
}
.report-contents h2 {
  border-bottom: 3px solid #333;
  font-size: 1.5em;
  line-height: 1;
  margin: 1em 0 1em;
  padding-bottom: 6px;
}
.report-contents p {
  margin-bottom: 15px;
}
.section-label {
  border-bottom: 3px solid #333;
  margin-top: 2em;
  padding-bottom: 6px;
}
.report-data span {
  color: #777;
  font-family: Georgia, serif;
  font-style: italic;
  line-height: 1;
}
/* tables */
.details-table {
  border-collapse: collapse;
  float: left;
  font-size: 18px;
  height: 150px;
  margin-right: 18px;
}
.details-table th {
  font-style: italic;
  font-weight: normal;
  text-align: center;
}
.details-table thead th {
  font-family: Georgia, Times, serif;
  font-size: 14px;
  line-height: 1.75;
}
.details-table tbody th,
.details-table tbody td {
  border: 1px solid #ccc;
  text-align: center;
}
.details-table tbody th {
  background-color: #efefef;
  font-size: 13px;
  width: 170px;
}
.details-table tbody td {
  font-size: 18px;
  width: 200px;
}
/* market potential : descriptive tables */
.breakdown {
  overflow: hidden;
}
.breakdown .stats {
  float: left;
  width: 25%;
}
.breakdown .stat {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  margin: 0.5em 0 6px;
}
.breakdown .label {
  color: #777;
  font-family: Georgia, Times, serif;
  font-style: italic;
}
.breakdown .description {
  float: left;
  padding-left: 10px;
  width: 75%;
}
.breakdown p {
  margin: 0 0 1em;
}
/* analysis: word cloud */
#tagcloud {
  border: 1px solid #dcdcdc;
  padding: 18px;
  text-align: center;
}
#tagcloud .word {
  display: inline-block;
  line-height: 0.85;
  margin-right: 10px;
}
/* analysis: artists mentioned table */
.mentions-table {
  width: 400px;
}
.mentions-table tr td {
  border: 1px solid #ccc;
}
/* reviews */
.review {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}
.reviews {
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
}
.reviews .review:last-child {
  border-bottom: 0;
}
.pager {
  padding: 12px 0;
  text-align: center;
}
.pager-total {
  font-family: Georgia, serif;
  font-style: italic;
  padding-bottom: 5px;
}
.pager-controls a i {
  color: #333;
}
.pager-controls span {
  margin: 0 5px;
}
.pager-controls span i {
  color: #cdcdcd;
}
.pager-left,
.pager-select,
.pager-right {
  display: inline-block;
}
.pager-left,
.pager-right {
  margin: 0 10px;
}
.pager-select {
  font-family: Georgia, serif;
  font-style: italic;
  vertical-align: super;
}
/* Chart */
.page .chart {
  height: 316px;
  width: 670px;
}
.column {
  fill: rgba(100, 200, 50, 0.5);
  stroke: #80c34f;
  stroke-width: 3;
}
.bar {
  fill: rgba(255, 212, 80, 0.5);
  stroke: #edc240;
  stroke-width: 2;
}
.dot {
  fill: #058dc7;
}
.dot_highlight {
  fill: #50b332;
}
.axis text {
  fill: #777;
  font: 12px "Helvetica Neue", sans-serif;
}
.axis .tick line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#track_element .y.axis .tick line {
  stroke: none;
}
.axis path {
  fill: none;
  stroke: #777;
  stroke-width: 2;
}
.x.axis line,
.y.axis line {
  stroke: #ccc;
}
.x.axis line.axis-line {
  stroke: #000;
  stroke-width: 2;
}
.x.axis-text,
.y.axis-text {
  fill: #333;
  font-size: 12px;
  font-weight: bold;
}
#triangle path,
#triangle2 path {
  fill: #000;
  stroke: none;
}
.legend {
  fill: none;
  stroke: #ccc;
  stroke-width: 1;
  z-index: 99;
}
.legend text {
  fill: #777;
  stroke: none;
}
.your-track {
  stroke: #777;
  fill: #50b332;
  shape-rendering: crispEdges;
}
.other-tracks {
  stroke: #777;
  fill: #058dc7;
  shape-rendering: crispEdges;
}
.your-track-text,
.other-tracks-text {
  fill: #777;
  font: 12px Arial, sans-serif;
}

/*# sourceMappingURL=source/soundout_report.css.map */
