@import url(http://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic|Sorts+Mill+Goudy:400,400italic|Montserrat:700|Open+Sans:400,700);
/* Main Section */
.content p {
  font-size: 1.15em;
  margin-bottom: 15px;
}
.purchase-header {
  background: transparent url('../images/services/soundout/topbg.png') no-repeat;
  background-size: cover;
  margin: -20px 0 0;
  padding: 18px 0 40px;
}
.soundout-intro {
  background: transparent url('../images/services/soundout/purchasebg.jpg') no-repeat center top;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 2rem;
  padding-top: 2em;
}
.introduction {
  font-family: Lato;
  text-align: center;
}
.introduction h2 {
  color: #2b7aab;
  font-size: 1.5rem;
}
.intro-left-or-right {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2b7aab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 0;
}
.intro-left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 385px;
  flex: 0 1 385px;
}
.intro-or {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
}
.intro-or::after,
.intro-or::before {
  content: "\2014";
  padding: 0 8px;
}
.intro-right {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 380px;
  flex: 0 1 380px;
}
.soundout-choose strong {
  font-size: 1rem;
}
.soundout_tiers {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 20px 0 30px;
}
.tier {
  border: 0;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
  margin-top: 72px;
  position: relative;
}
.tier p {
  margin-bottom: 0;
}
.tier .anr_consideration {
  background-color: #fff570;
  font-size: .75rem;
  left: 0;
  margin-top: -67px;
  padding: 10px;
  position: absolute;
  top: 0;
}
.compare_link {
  display: block;
  font-size: 1rem;
  margin: 1rem 0;
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.purchase_note {
  background-color: #e5f4fd;
  border: 1px solid #69aad1;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}
.soundout_error {
  background-color: #EEB4B4;
  border: 1px solid #FF0000;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  display: none;
}
.soundout_songs_container {
  clear: both;
  padding-top: 10px;
}
.album_container {
  clear: both;
  padding-top: 10px;
}
.album {
  border: 1px solid #ccc;
}
.album + .album {
  border-top: 0;
}
.album > header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  padding: 10px;
}
.album > header:last-child {
  border: 0;
}
.album:nth-child(even) > header {
  background-color: #fff;
}
.album .album_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.album .cover {
  float: left;
  height: 37px;
  margin-right: 10px;
  width: 37px;
}
.album .cover img {
  height: 100%;
  width: 100%;
}
.album .info {
  float: left;
}
.album .album_title {
  font-size: 1.25em;
  line-height: 1.15;
}
.album .artist {
  font-size: 1.083em;
}
.album .album_actions {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 200px;
  flex: 1 0 200px;
}
.album .album_actions.not_available {
  font-family: Georgia, serif;
  font-style: italic;
}
.album .album_actions .checkbox {
  background-color: #e0e0e0;
  display: inline-block;
  margin-left: 5px;
  padding: 3px 5px;
}
.album .tracks > li {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 10px 10px 15px;
}
.album .tracks > li:last-child {
  border: 0;
}
.album .tracks > li:nth-child(even) {
  background-color: #f5f5f5;
}
.album .track_number {
  display: inline-block;
  padding-right: 10px;
}
.album .track_info {
  display: inline-block;
}
.album .soundout_info {
  display: inline-block;
}
.album .track_title {
  font-weight: 700;
}
.album .track_artist {
  color: #888;
}
.album .track_actions.not_available {
  font-family: Georgia, serif;
  font-style: italic;
}
.album .track_actions .checkbox {
  background-color: #e0e0e0;
  float: right;
  margin: 5px 0 0 5px;
  padding: 10px 12px;
}
.album_nav,
.soundout_nav {
  margin-top: 10px;
  text-align: right;
}
.album_nav .total_results,
.soundout_nav .total_results {
  float: left;
  padding-bottom: 10px;
}
.album_nav .select_page,
.soundout_nav .select_page {
  min-width: inherit;
}
.album_nav .next_page span,
.soundout_nav .next_page span,
.album_nav .prev_page span,
.soundout_nav .prev_page span {
  display: none;
}
.album_nav .prev_page,
.soundout_nav .prev_page {
  padding-left: 10px;
}
.album_nav a,
.soundout_nav a {
  color: #333;
  font-size: 2em;
}
.album_nav .disabled,
.soundout_nav .disabled {
  color: #999;
  font-size: 2em;
}
.soundout_nav i {
  font-size: 16px;
}
.subtotal {
  background-color: #f3f3f3;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  margin-top: 2em;
  padding: 24px;
  text-align: right;
}
.subtotal .label {
  color: #000;
  font-family: Georgia, serif;
  font-size: 1.167em;
  font-style: italic;
  margin-right: 1em;
  text-transform: uppercase;
}
.subtotal .price {
  font-size: 2em;
  font-weight: 700;
  vertical-align: sub;
}
.buttons {
  font-size: 1.167em;
  text-align: right;
}
.buttons .button-callout,
.buttons .button-interface {
  margin-top: 0;
  padding: 1em .5em;
}
.buttons:first-child {
  margin-bottom: 2em;
}
.buttons:last-child {
  margin-top: 2em;
}
@media screen and (min-width: 641px) {
  .album .track_actions .checkbox {
    display: inline-block;
    float: none;
    margin: 0 0 0 5px;
    padding: 3px 5px;
  }
  .album .album_actions {
    display: inline-block;
    position: absolute;
    right: 30px;
  }
  .album .album_actions.not_available {
    font-family: Georgia, serif;
    font-style: italic;
  }
  .album .album_actions .checkbox {
    background-color: #e0e0e0;
    display: inline-block;
    margin-left: 5px;
    padding: 3px 5px;
  }
  .album_nav .disabled,
  .soundout_nav .disabled,
  .album_nav a,
  .soundout_nav a {
    font-size: 1em;
  }
  .buttons .button-callout,
  .buttons .button-interface {
    margin-left: 1em;
    padding: .65em 1.5em;
  }
}
.upload_tracks > header {
  background-color: #315266;
  border: 1px solid #fff;
  border-width: 1px;
  height: 50px;
  overflow: hidden;
  padding-left: 35px;
  position: relative;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
}
.upload_tracks > header:before {
  border: 28px solid transparent;
  border-left-color: #fff;
  content: '';
  display: block;
  left: 35px;
  position: absolute;
  top: -3px;
}
.upload_tracks > header:after {
  border: 28px solid transparent;
  border-left-color: #315266;
  content: '';
  display: block;
  left: 34px;
  position: absolute;
  top: -3px;
}
.upload_tracks > header h2 {
  background-color: #33a4cc;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  line-height: 50px;
  padding-left: 40px;
  width: 100%;
}
.upload_tracks > header a {
  font-size: 1.15em;
  margin-left: 10px;
}
.upload_tracks > .pod-body {
  background: url("../images/soundout/upload.png") no-repeat;
  background-color: #f5f5f5;
  border: 1px solid #b5b5b5;
  border-width: 0 1px 1px;
  padding: 50px 25px 25px 125px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
}
.upload_tracks.emphasize > header {
  background-color: #6E0611;
  border: 0;
}
.upload_tracks.emphasize > header:before {
  border-left-color: #fff;
}
.upload_tracks.emphasize > header:after {
  left: 32px;
  border-left-color: #6E0611;
}
.upload_tracks.emphasize > header h2 {
  background-color: #CD322D;
  color: #fff;
}
.upload_tracks #soundout-form-metadata fieldset {
  border-bottom: 0;
}
#upload_song_btn {
  float: right;
  margin: -10px;
}
.upload_file_field {
  display: none;
}
a.track-play {
  float: left;
  margin-top: 10px;
  width: 21px;
  height: 21px;
  background-image: url('/version/shared/images/play_button_21x21.gif');
  background-repeat: no-repeat;
  text-decoration: none;
}
.track-bar {
  float: left;
  width: 0;
  background-color: green;
  height: 10px;
}
.track-progress {
  float: left;
  width: 90%;
  background-color: #CCCCCC;
  height: 10px;
  display: none;
}
#distro-header {
  margin-top: 60px;
}

/*# sourceMappingURL=source/soundout_purchase.css.map */
