/* Main Section */
.pager {
  border: 3px solid #333;
  border-width: 3px 0;
  padding: 12px 0;
  text-align: center;
}
.pager-total {
  font-family: Georgia, serif;
  font-style: italic;
  padding-bottom: 5px;
}
.pager-controls a i {
  color: #333;
}
.pager-controls span {
  margin: 0 5px;
}
.pager-controls span i {
  color: #cdcdcd;
}
.pager-left,
.pager-select,
.pager-right {
  display: inline-block;
}
.pager-left,
.pager-right {
  margin: 0 10px;
}
.pager-select {
  font-family: Georgia, serif;
  font-style: italic;
  vertical-align: super;
}
.report {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  padding: 18px 0;
}
.report:last-child {
  border: 0;
}
.report .cover {
  float: left;
  margin-right: 2em;
  height: 80px;
  width: 80px;
}
.report .cover img {
  height: 100%;
  width: 100%;
}
.report .info {
  float: left;
  width: 55%;
}
.report .info .track_name {
  line-height: 1;
}
.report .info .artist_name {
  font-size: 1.15em;
  font-weight: 700;
}
.report .info .request_date {
  color: #777;
  font-family: Georgia, serif;
  font-style: italic;
}
.report .results {
  float: right;
  text-align: right;
}
.report .results > div {
  float: left;
  margin-right: 18px;
  padding: 6px 0;
  text-align: center;
}
.report .results > div h3 {
  font-size: 2.5em;
  line-height: 1;
}
.report .results > div p {
  color: #777;
  font-family: Georgia, serif;
  font-style: italic;
}
.report .actions {
  float: left;
}
.report .actions a + a {
  margin-left: 1em;
}
.report .actions .button-callout-alt,
.report .actions .button-interface {
  margin-top: 0;
}
.report .actions .processing {
  background-color: #e5f4fd;
  border: 1px solid #69aad1;
  border-radius: 10px;
  display: inline-block;
  margin-top: 12px;
  padding: 6px 12px;
}
.report .actions .canceled {
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  border-radius: 10px;
  display: inline-block;
  margin-top: 12px;
  padding: 6px 12px;
}
.report .actions > span {
  padding: 6px 12px;
}
.purchase_callout {
  font-size: 1.33em;
  text-align: center;
}
.purchase_callout .button-callout {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
