.content {
  margin-bottom: 0;
}
.content > header.alternate h1 {
  font-size: 3em;
  font-weight: 700;
}
.powered_by {
  color: #777;
  font-size: 1em;
  margin-top: 5px;
}
.soundout_logo {
  padding: 0 0 3px 3px;
  vertical-align: middle;
}
.form-submitted {
  padding: 0.65em 1.5em;
}
.tabs {
  border-bottom: 1px solid #bbb;
  font-size: 1.4em;
  margin: -40px 0 0;
}
.tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.tabs li {
  background-color: #f0f0f0;
  border: 1px solid #bbb;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  display: inline-block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 0 -1px;
  padding: 10px 18px;
  text-align: center;
  z-index: 1;
}
.tabs li.active {
  background-color: #fff;
  border-bottom: 2px solid #fff;
  font-weight: 700;
}
.tabs li a {
  font-family: Georgia, serif;
  font-style: italic;
}
/* Main Section */
.content {
  margin-bottom: 60px;
}
.browse {
  margin-bottom: 2em;
}
.introduction,
.soundout_tiers {
  display: none;
}
.tier-enhanced header {
  background-color: #00B13E;
}
.tier-premium header {
  background-color: #F0A900;
}
/* Sidebar Section */
.search_filter {
  background-color: #f0f0f0;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin-bottom: 24px;
}
.search_filter > header {
  border-bottom: 1px solid #cdcdcd;
  padding: 18px 12px 12px;
}
.search_filter > header h3 {
  font-size: 1.5em;
}
.search_filter form {
  padding: 10px 0;
}
.search_filter form fieldset {
  font-size: inherit;
}
.search_filter form label {
  color: #777;
  float: none;
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: 400;
  padding: 0 12px;
  text-align: left;
}
.search_filter form input,
.search_filter form select {
  font-size: 1.5em;
  margin: 0 12px;
  width: calc(92%);
}
.search_filter .button-callout-alt,
.search_filter .button-interface {
  font-size: 1em;
  margin-top: 0;
  margin-right: 12px;
  padding: 10px 15px;
  width: auto;
}
.filter-buttons {
  border-top: 1px solid #cdcdcd;
  display: block;
  font-size: 1em;
  padding: 12px 10px 0;
}
@media screen and (min-width: 481px) {
  .tabs ul {
    display: block;
    padding: 0 15px;
  }
  .tabs li {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    margin: 0 24px -1px 0;
  }
}
@media screen and (min-width: 641px) {
  .search_filter form label {
    padding: 0 5px 0 12px;
    text-align: right;
  }
  .search_filter form input,
  .search_filter form select {
    width: auto;
  }
  .search_filter .button-callout-alt,
  .search_filter .button-interface {
    padding: 5px 10px;
  }
}
@media screen and (min-width: 768px) {
  .introduction {
    display: block;
  }
  .soundout_tiers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*# sourceMappingURL=source/soundout.css.map */
