.content {
  margin-bottom: 40px;
  padding-top: 60px;
}
.content > header {
  padding: 60px 0 0;
}
.content.logged_in {
  padding-top: 0;
}
.content.logged_in > header {
  padding-top: 30px;
}
.content p {
  font-size: 1.15em;
  color: #333;
  line-height: 1.5;
  margin-bottom: 10px;
}
.content .row + .row {
  margin-top: 2em;
}
.pod-body {
  color: #333;
}
.pod-body p + p {
  padding-top: 0;
}
.anr-logos {
  padding-top: 10px;
}
.anr-logos img {
  height: 125px;
  margin-right: 2em;
  width: 125px;
}

/*# sourceMappingURL=source/soundout_data_descriptions.css.map */
