.publishing_help {
  background-color: #f0f0f0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}
.publishing_help .hd {
  background-color: #e6e6e6;
  border-bottom: 1px dotted #999;
  color: #333;
  font-weight: 700;
  font-size: 1.6em;
  padding: 10px;
}
.publishing_help ul {
  font-size: 1.3em;
  list-style: disc;
  padding: 10px 10px 10px 25px;
}
.publishing_help li {
  padding-bottom: 5px;
}
#album {
  min-height: 450px;
}
#tcSongsGrid {
  float: left;
  height: auto;
  margin: 45px 0 0;
  position: relative;
  width: 100%;
}
#uploader {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: 1000px;
  top: 0;
  width: 71px;
  z-index: 10000;
}
#track-list {
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  margin-bottom: 20px;
}
#track-list li {
  border-bottom: 1px solid #c3c3c3;
  display: block;
  margin: 0;
  min-height: 60px;
  padding: 10px 10px 5px 15px;
  position: relative;
}
#track-list li.odd {
  background-color: #eff5f7;
}
#track-list .song-data {
  height: 32px;
  left: 15px;
  position: absolute;
  top: 10px;
  width: 350px;
}
#track-list .track-number {
  color: #333;
  float: left;
  font-size: 14px;
  font-weight: 700;
  height: 32px;
  margin: 0 20px 10px 0;
}
#track-list .song-name {
  color: #333;
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: -2px;
}
#track-list .artist-name {
  color: #666;
  display: block;
  font-size: 11px;
  line-height: 12px;
}
#track-list .isrc {
  color: #999;
  display: block;
  font-size: 10px;
  line-height: 12px;
}
.track-uploading {
  display: none;
  height: 35px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 400px;
}
.track-progress {
  background-color: #ccc;
  height: 10px;
  float: left;
  width: 98%;
}
.track-bar {
  background-color: green;
  float: left;
  height: 10px;
  width: 0%;
}
.track-saving,
.track-registering,
.track-error {
  display: none;
  height: 35px;
  line-height: 35px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 400px;
}
.track-reupload,
.track-cancelreupload {
  background: none;
  color: #41ADD8;
  margin: 0px;
  padding: 0px;
  text-decoration: underline;
}
.track-cancelreupload {
  display: none;
}
.track-play {
  background: url('/version/shared/images/play_button_21x21.gif') no-repeat;
  display: none;
  float: left;
  height: 21px;
  text-decoration: none;
  width: 21px;
}
#closeFlowPlayer {
  background-color: transparent;
  color: #2bacd7;
  font-size: 16px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  position: absolute;
  padding-left: 10px;
  right: 5000px;
  text-decoration: none;
  top: 0;
  z-index: 1001;
}
#flowplayer {
  display: block;
  height: 30px;
  position: absolute;
  right: 5000px;
  top: 0;
  width: 265px;
  z-index: 1000;
}
.magicTipHolder {
  display: inline-block;
  position: relative;
  width: auto;
  z-index: 500;
}
.magicTip {
  display: none;
  position: absolute;
  z-index: 1000;
}
.magicTipPointer {
  float: left;
  position: relative;
}
.magicTipPointer span {
  background: url('/images/magicTipPointerSprite.png') no-repeat 0 0;
  height: 10px;
  position: absolute;
  width: 10px;
}
.magicTipBorder {
  background-image: url('/images/magicTipBorderSprite.png');
  float: left;
  padding: 2px;
  width: auto;
}
.magicTipContent {
  background-color: #FFFFFF;
  color: #333333;
  float: left;
  font-size: 12px;
  font-weight: normal;
  line-height: auto;
  padding: 5px;
  width: 300px;
}
#song_optional_isrc_list_item {
  margin-top: 30px !important;
}
#isrc-faq-link {
  margin: 0px !important;
  top: -15px !important;
}
.hide {
  display: none !important;
}
.edit_song ul li {
  padding-bottom: 10px !important;
}
.simplemodal-wrap {
  overflow: auto !important;
}
.asset {
  background-color: #F2F2F2;
  border-bottom: 1px solid #ccc;
  clear: both;
  color: #333;
  float: left;
  height: 25px;
  line-height: 25px;
  padding: 5px 1%;
  font-size: 11px;
  text-decoration: none;
  width: 98%;
}
.asset:hover {
  background-color: #eee;
}
.asset .switch {
  color: #333;
  float: left;
  font-weight: 700;
  line-height: 25px;
  margin-left: 5px;
  text-decoration: none;
  width: auto;
}
.asset span {
  color: #666;
  float: left;
  font-size: 9px;
  line-height: 25px;
  margin-left: 10px;
}
.asset .play {
  background-color: #3276cb;
  border-radius: 3px;
  color: #fff;
  float: left;
  font-size: 12px;
  font-weight: 700;
  height: 25px;
  line-height: 25px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  width: auto;
}
.bgsafe {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
}
/* Splits CSS */
.edit_album {
  position: relative;
}
#yourSplit {
  float: right;
  margin: -30px 11px 0 0;
}
#yourSplit div {
  background-color: #227fa5;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 3px;
  color: #fff;
  float: left;
  font-size: 12px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  position: relative;
  text-align: center;
  width: 180px;
  z-index: 101;
}
#yourSplit span {
  background: url('/images/your_split_arrow.png') no-repeat;
  height: 4px;
  left: 84px;
  position: absolute;
  top: 30px;
  width: 12px;
}
#yourTracks {
  font-size: 16px;
  font-weight: 700;
  left: 10px;
  position: absolute;
  top: -30px;
  z-index: 2000;
}
#songComposer {
  font-size: 1.3em;
  font-weight: 700;
  position: absolute;
  right: 200px;
  text-align: left;
  top: -30px;
  width: 150px;
  z-index: 1002;
}
.composer {
  font-size: 1.2em;
  position: absolute;
  height: 41px;
  padding: 20px 0;
  right: 200px;
  text-align: left;
  top: -1px;
  width: 150px;
}
.split_bg {
  background-color: #E0EDF2;
  float: right;
  height: 61px;
  margin-top: -11px;
  width: 180px;
}
.split_holder {
  position: absolute;
  height: auto;
  right: 9px;
  text-align: center;
  top: 0;
  width: 180px;
}
.split_percentage {
  display: none;
  line-height: 61px;
}
.split_selector {
  height: auto;
  position: relative;
  margin-top: 21px;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}
.split {
  background: #fff url('/images/split_selector_arrow.png') no-repeat top right;
  border: 1px solid #83959d;
  border-radius: 3px;
  color: #000000;
  float: left;
  font-size: 1.2em;
  height: 19px;
  line-height: 19px;
  padding-left: 10px;
  padding-right: 28px;
  text-align: center;
  text-decoration: none;
  width: 82px;
}
.split_options_holder {
  display: none;
  height: auto;
  left: 0px;
  position: absolute;
  top: 18px;
  width: auto;
}
.split_options {
  background-color: #fff;
  border: 1px solid #83959d;
  float: left;
  padding: 5px;
  width: auto;
}
.split_options a {
  border-top: 1px solid #eee;
  clear: both;
  color: #000;
  float: left;
  line-height: 20px;
  text-decoration: none;
  text-align: left;
  width: 150px;
}
.other_option {
  background-color: #fff;
  border: 1px solid #83959d;
  display: none;
  float: left;
  font-size: 11px;
  padding: 30px;
  text-align: left;
  width: auto;
}
.other_option_error {
  background-color: #f22;
  border-radius: 3px;
  color: #fff;
  display: none;
  font-size: 11px;
  margin-bottom: 10px;
  text-align: center;
}
#confirm_splits_dialog h2 {
  background-color: #f22;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}
#songwriter_service_success {
  background-color: #44b1fa;
  border-radius: 3px;
  color: #fff;
  display: none;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 50px;
  text-align: center;
}

/*# sourceMappingURL=source/splits.css.map */
