#spotify-tracks-modal {
  background: #FFF;
  padding: 20px 40px 20px 20px;
  text-align: left;
  max-width: 650px;
  min-height: 450px;
  max-height: 450px;
  margin: 40px auto;
  position: relative;
  text-align: justify;
  overflow-y: auto;
}
#spotify-tracks-modal .fa-times-thin:before {
  content: '\00d7';
}
#spotify-tracks-modal .close-modal {
  color: #44b1fa;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 36px;
  font-weight: 100;
}
#spotify-tracks-modal p {
  font-size: 14px;
  margin-top: 2%;
}
#spotify-tracks-modal #spotify-tracks-display {
  max-width: 100%;
  margin: 10px 0 0 0;
}
#spotify-tracks-modal #spotify-tracks-display .spotify-track {
  padding-left: 10px;
  max-width: 100%;
  position: relative;
  border-top: 1px solid #CCCCCC;
}
#spotify-tracks-modal #spotify-tracks-display .spotify-track .track-title {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 2.5;
}
#spotify-tracks-modal #spotify-tracks-display .spotify-track button.copy-track-uri {
  position: absolute;
  color: #44b1fa;
  top: 8px;
  right: 0;
  font-size: 2em;
  background: unset;
  border: unset;
}
#spotify-tracks-modal #spotify-tracks-display .spotify-track .track-copied {
  background: white;
}
#spotify-tracks-modal #spotify-tracks-display .spotify-track .hidden-uri {
  border: none;
  color: white;
  font-size: 3px;
  width: 3px;
}
#spotify-tracks-modal #spotify-tracks-display .spotify-track .hidden-uri:focus {
  color: white;
  highlight: none;
  outline-color: white;
}
#spotify-tracks-modal .title,
#spotify-tracks-modal .pre-body {
  font-family: 'Roboto', sans-serif;
  color: #000000;
}
#spotify-tracks-modal .title,
#spotify-tracks-modal .sub-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
#spotify-tracks-modal .title {
  font-weight: 400;
  font-size: 20px;
}
#spotify-tracks-modal .pre-body {
  font-weight: 300;
  font-size: 15px;
}

/*# sourceMappingURL=source/spotify_tracks.css.map */
