select[name="state_id"] {
  padding: 5px;
  color: #666;
}

#state_city_autocomplete {
  background: white;
}

#state_city_autocomplete:disabled {
  background: #eee;
}
.state-city-input:disabled:hover {
  cursor:not-allowed;
}

.state-city-spinner {
  display: none;
}

/* This is for autocomplete dropdown */
.ui-widget-content {
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
}

.edit_person select[name="state_id"], .edit_person .state-city-input {
  color: black;
  border: 1px solid rgb(118,118,118);
  height: auto;
  font-size: 100%;
}
