/* STEM users welcome modal */
@media screen and (min-width: 768px) {
  .simplemodal-container {
    height: 570px;
    width: 730px;
  }
}

@media screen and (max-width: 767px) {
  .simplemodal-container {
    width: 95%;
  }
}

#stem-welcome-modal {
  display: none;
  overflow: hidden !important;
  padding: 55px 65px;
}

#stem-welcome-modal h1 {
  font-size: 20px;
  line-height: 26px;
}

#stem-welcome-modal img {
  width: 80%;
  max-width: 500px;
}

#stem-welcome-modal .main {
  height: 100%;
  padding: 20px 0;
  position: relative;
}

#stem-welcome-modal .main .welcome-text {
  padding: 30px 0;
}

#stem-welcome-modal .main p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 22px;
}

#stem-welcome-modal .slide {
  position: relative;
}

#stem-welcome-modal .modal-cta {
  width: 250px;
  font-size: 16px;
  text-transform: none;
  font-weight: normal;
  background-color: #3b96cf;
  color: #fff;
  margin-bottom: 10px;
}

#stem-welcome-modal .next-slide {
  margin-top: 50px;
}

#stem-welcome-modal .previous-slide {
  font-size: 14px;
  text-decoration: none;
}

#stem-welcome-modal .cta-buttons {
  display: block;
}

@media screen and (min-width: 768px) {
  #stem-welcome-modal img {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  #stem-welcome-modal {
    padding: 30px 20px 50px 20px;
  }

  #stem-welcome-modal .main .welcome-text {
    padding: none;
  }

  #stem-welcome-modal .next-slide {
    margin-top: 40px;
  }
}
