.store_manager {
  font-size: 1.35em;
}
.store_manager p {
  margin-bottom: 1em;
}
.store_manager h2 {
  font-size: 2.2em;
}
.store_manager h3 {
  font-size: 1.8em;
  color: #333333;
}
.store_manager > header {
  margin-bottom: 1em;
  position: relative;
}
.store_manager-stores > header {
  border-bottom: 3px solid #333333;
  padding-bottom: .5em;
}
.store_manager-stores > header h3 {
  margin-bottom: .25em;
}
.store_manager-stores > footer {
  margin-bottom: 3em;
  padding-top: 2em;
}
.store_manager-stores > footer > .ten {
  text-align: right;
  padding-top: .5em;
  font-size: 1.4em;
}
.store_manager-stores > footer > .two {
  text-align: right;
  position: relative;
}
.store_manager-stores > footer .store_manager-total_price,
.store_manager-stores > footer .store_manager-subtotal_price {
  padding-left: 15px;
  font-size: 2em;
  font-weight: bold;
}
.store_manager-stores > footer .btn-callout {
  float: right;
  margin-top: 2em;
}
.store_manager-store,
.store_manager-store_options {
  padding: 1.5em 0;
  border-bottom: 1px solid #B5B5B5;
}
.store_manager-store_options .link-list {
  display: inline-block;
  margin-top: .8em;
  font-size: .9em;
  margin-left: 31px;
}
.store_manager-store {
  font-size: .9em;
}
.store_manager-logo {
  display: inline-block;
  max-width: 75%;
  max-height: 40px;
}
.store_manager-text {
  color: #444444;
  line-height: 1.5em;
}
.store_manager-tag {
  background-color: #E5E5E5;
  color: #777777;
  font-family: Georgia,Times,serif;
  font-style: oblique;
  margin-left: .5em;
  padding: .3em .4em;
}
.store_manager-summary {
  border-left: 1px solid #CDCDCD;
  padding-left: 30px;
  color: #777777;
}
.store_manager-store_total_price,
.store_manager-store_release_count,
.store_manager-store_price {
  color: #000000;
  font-size: 1.25em;
  line-height: 1.52em;
}
.store_manager-store_total_price {
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
}
.disabled .selectReleaseLink {
  display: none;
}
.disabled .targeted_offer-highlight,
.disabled .store_manager-summary .row:first-child {
  opacity: .5;
}
.closeReleaseDialog {
  float: right;
  margin-top: 10px;
}
.ribbons {
  position: absolute;
  right: 0;
  top: 0;
}
.ribbon {
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: inline-block;
  height: 18em;
  padding-top: 35px;
  text-align: center;
  width: 9.8em;
}
.ribbon:hover {
  color: #fff;
}
.ribbon span {
  font-size: 4em;
  font-weight: bold;
}
.ribbon-blue {
  background-image: url(/images/blue_ribbon_bg.png);
}
.ribbon-teal {
  background-image: url(/images/teal_ribbon_bg.png);
}
table.table-releases {
  border: none;
}
table.table-releases th {
  font-weight: bold;
  font-size: 24px;
  color: #333333;
  border-bottom: 2px solid #333333;
  background-color: #FFFFFF;
}
#releaseDialog {
  position: relative;
}
#releaseDialog .tablesorter.tsFilter {
  position: absolute;
  top: 30px;
}
#releaseDialog .scroller {
  height: 215px;
  margin-top: 40px;
  overflow-y: auto;
}
.store_manager-text ul {
  padding-left: 6em;
  list-style: disc outside none;
}
.store_manager-text ul > li {
  margin-bottom: .6em;
}
.box-alert {
  border: 2px solid #cd352a;
  margin-bottom: 30px;
}
.box-alert img {
  margin-left: 10px;
  margin-top: 5px;
}
.box-alert p {
  margin: 0;
}

/*# sourceMappingURL=source/store_manager_interstitial.css.map */
