.card-icons {
  text-align: right;
}
.pod-body > p {
  margin-bottom: 18px;
  text-align: left;
}
form li {
  overflow: hidden;
}
form h2 {
  border-bottom: 3px solid #333;
  line-height: 1;
  margin: 18px 0;
  padding: 0 0 12px;
}
form label {
  text-align: left;
}
form input[type=text] {
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  color: #666;
  font-size: 12px;
  padding: 7px 0 4px 10px;
  width: 100%;
}
form label.error {
  color: #f00;
  margin: 5px 0 0 35%;
  text-align: left;
  width: auto;
}
form label.error + .contextual-help {
  display: none;
}
form .contextual-help > p {
  margin-left: 35%;
}
form #stored_credit_card_notice {
  text-align: right;
}
form .add-form-submit,
form .update-form-submit {
  margin: 0;
  padding: 10px;
}
form .add-form-submit input[type=submit],
form .update-form-submit input[type=submit],
form .add-form-submit .cancel,
form .update-form-submit .cancel {
  float: right;
  margin-top: 0;
}
form .add-form-submit input[type=submit],
form .update-form-submit input[type=submit] {
  margin-left: 10px;
}
form.credit_card_form input[type=submit]:disabled {
  cursor: not-allowed;
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  color: #777;
}
form.credit_card_form input[type=submit]:disabled:hover,
form.credit_card_form input[type=submit]:disabled:focus {
  box-shadow: none;
}

@media screen and (min-width: 641px) {
  .pod-body > p {
    text-align: right;
  }
  form label {
    text-align: right;
    width: 35%;
  }
  form input[type=text] {
    width: 65%;
  }
}

.braintree-hosted-field {
  overflow: auto;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  color: #666;
  font-size: 12px;
  padding: 7px 0px 4px 10px;
  height: 27px;
}

.add-form-submit #add-card-button,#update-card-button {
  box-sizing: border-box;
  vertical-align: baseline;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background: #e5e5e5;
  background-color: #e7790e;
  border: 1px solid #d8710d;
  color: #fff;
  float: right;
  margin-top: 0;
  margin-left: 10px;
}

.add-form-submit #add-card-button:hover, #update-card-button:hover {
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
}


.add-form-submit #add-card-button:disabled, #update-card-button:disabled {
  cursor: not-allowed;
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  color: #777;
}


/*# sourceMappingURL=source/stored_credit_cards.css.map */
