.message {
  position: absolute;
  width: 100%;
  z-index: 14;
}
.message > div {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.store_manager {
  font-size: 1.35em;
  padding-top: 20px;
}
.store_manager > header {
  margin: 0 auto 20px;
  position: relative;
}
.store_manager > header h1 {
  font-size: 2.2em;
}
.store_manager > header h2,
.store_manager > header p {
  display: none;
}
.store_manager h2 {
  font-size: 2em;
}
.store_manager h3 {
  color: #333;
  font-size: 1.8em;
}
.store_manager p {
  margin-bottom: 1em;
}
.store_manager-stores {
  min-height: 450px;
}
.store_manager-stores > header {
  border-bottom: 3px solid #333333;
  padding-bottom: .5em;
}
.store_manager-stores > header h2 {
  color: #3B96CF;
  margin-bottom: .3em;
}
.store_manager-stores > header h2#store_automator a {
  color: #26ad9d;
}
.store_manager-stores > header h3 {
  margin-bottom: .25em;
}
.store_manager-stores__header--no-border {
  border-bottom: none;
  margin-bottom: 3em;
}
.store_manager-stores > footer {
  margin-bottom: 3em;
  padding-top: 2em;
}
.store_manager-stores > footer > .ten {
  text-align: right;
  padding-top: .5em;
  font-size: 1.4em;
}
.store_manager-stores > footer > .two {
  text-align: right;
  position: relative;
}
.store_manager-stores > footer .store_manager-total_price,
.store_manager-stores > footer .store_manager-subtotal_price {
  padding-left: 15px;
  font-size: 2em;
  font-weight: 700;
}
.store_manager-stores > footer .btn-callout {
  float: right;
  margin-top: 2em;
}
.store_manager-store,
.store_manager-store_options {
  padding: 1.5em 0;
  border-bottom: 1px solid #B5B5B5;
}
.store_manager-apple_music {
  border-top: 1px solid #B5B5B5;
  margin: 36px 0;
  overflow: hidden;
}
.store_manager-apple_music #apple-submit {
  margin: 30px 0 0 30px;
}
.store_manager-store_options .link-list {
  display: inline-block;
  margin-top: .8em;
  font-size: .9em;
  margin-left: 43px;
}
.store_manager-store {
  font-size: .9em;
}
.store_manager-store .store-checkbox {
  float: left;
  width: 15%;
  z-index: 1;
}
.store_manager-store .store-logo {
  float: left;
  width: 85%;
}
.store_manager-logo {
  display: inline-block;
  max-width: 75%;
  max-height: 40px;
}
.store_manager-text {
  color: #444;
  line-height: 1.5em;
  padding-top: 1.5em;
  padding-left: 52px;
}
.store_manager-text ul {
  padding-left: 6em;
  list-style: disc outside none;
}
.store_manager-text ul > li {
  margin-bottom: .6em;
}
.store_manager-text .not_on_store,
.store_manager-text .description,
.store_manager-text .store_types strong {
  display: none;
}
.blocky-checkbox {
  float: left;
}
.store_automator-text {
  padding-left: 15px;
}
.store_automator-text ul {
  padding-left: 1em;
}
.store_automator-text p {
  margin: 1.5em 0 1em 0;
}
.store_automator-text p + p {
  margin: 0 0 1em 0;
}
.store_manager-tag {
  background-color: #E5E5E5;
  color: #777777;
  font-family: Georgia,Times,serif;
  font-style: oblique;
  margin-left: .5em;
  padding: .3em .4em;
}
.store_manager-summary {
  border-left: 1px solid #CDCDCD;
  padding-left: 56px;
  color: #777777;
}
.store_automator-summary {
  padding-left: 30px;
}
.store_manager-store_total_price,
.store_manager-store_release_count,
.store_manager-store_price {
  color: #000000;
  font-size: 1.25em;
  line-height: 1.52em;
}
.store_manager-store_total_price {
  font-weight: 700;
  font-size: 2em;
  line-height: 1em;
}

/* Legacy or free plan user */
.store_manager__expander-container,
.store_manager__expander-container--disabled {
  font-size: inherit;
}
.store_manager__expander-container--disabled.apple {
  display: none;
}
.store_manager__expander-container--disabled {
  filter: blur(5px);
  max-height: 500px;
  overflow: hidden;
  pointer-events: none;
}
.upgrade_plan_cta_small__container {
  display: flex;
  justify-content: center;
}
.upgrade_plan_cta_small__body_wrapper {
  margin-top: 15em;
  position: absolute;
  z-index: 1;
}
/* End legacy or free plan user styles */

.disabled .selectReleaseLink {
  display: none;
}
.disabled .targeted_offer-highlight,
.disabled .store_manager-summary .row:first-child {
  opacity: .5;
}
.closeReleaseDialog {
  float: right;
  margin-top: 10px;
}
#apple-send {
  margin: 10px 0 0 10px;
}
.ribbon-container {
  display: none;
}
.ribbons {
  position: absolute;
  right: 0;
  top: 0;
}
.ribbon {
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: inline-block;
  height: 18em;
  padding: 35px 10px 0;
  text-align: center;
  width: 9.8em;
}
.ribbon:hover {
  color: #fff;
}
.ribbon span {
  font-size: 4em;
  font-weight: 700;
}
.ribbon-blue {
  background-color: #4098ce;
}
.ribbon-teal {
  background-color: #30ab9d;
}
table.table-releases {
  border: none;
}
table.table-releases th {
  font-weight: bold;
  font-size: 13px;
  color: #333;
  border-bottom: 2px solid #333;
  background-color: #fff;
}
table.table-releases td {
  font-size: 10px;
  vertical-align: top;
}
table.table-releases td:first-child {
  text-align: left;
}
#releaseDialog {
  position: relative;
}
#releaseDialog .tablesorter.tsFilter {
  position: absolute;
  top: 85px;
}
#releaseDialog .scroller {
  height: 215px;
  margin-top: 70px;
  overflow-x: hidden;
  overflow-y: auto;
}
.box-alert {
  border: 2px solid #cd352a;
  margin-bottom: 30px;
}
.box-alert img {
  margin-left: 10px;
  margin-top: 5px;
}
.box-alert p {
  margin: 0;
}

@media screen and (min-width: 481px) {
  .ribbon-container {
    display: block;
  }
  .store_manager > header {
    margin: -20px auto 0;
  }
  .store_manager > header h1 {
    color: #333;
    margin: .3em 0 .3em;
  }
  .store_manager > header h2 {
    display: block;
    font-size: 1.6em;
    line-height: 1em;
    margin-bottom: .6em;
    color: #333333;
  }
  .store_manager > header p {
    display: block;
  }
}
@media only screen and (min-width: 767px) {
  .store_manager > header {
    margin-bottom: 5em;
  }
  .store_manager > header h1 {
    margin-top: 2.5em;
  }
  .store_manager > header h2 {
    width: 440px;
  }
  .store_manager-stores > header h2 {
    font-size: 3em;
    margin-bottom: .3em;
  }
  .store_manager-store_options .link-list {
    margin-left: 31px;
  }
  .blocky-checkbox {
    float: none;
  }
  .store_manager-text {
    padding-top: 0;
    padding-left: 0;
  }
  .store_manager-text .not_on_store,
  .store_manager-text .description {
    display: block;
  }
  .store_manager-text .store_types strong {
    display: inline;
  }
  .store_manager-text .not_on_store {
    font-size: 1.1em;
  }
  .store_manager-summary {
    padding-left: 30px;
  }
  .store_automator-text .blocky-label {
    font-size: 1.7em;
  }
  .store_automator-text p {
    margin: 0 0 1em 3.7em;
  }
  .store_automator-text p + p {
    margin: 0 0 1em 3.7em;
  }
  .store_automator-text ul {
    padding-left: 6em;
  }
  table.table-releases td {
    font-size: 13px;
    vertical-align: middle;
  }
  #releaseDialog .tablesorter.tsFilter {
    top: 54px;
  }
  #releaseDialog .scroller {
    margin-top: 40px;
  }
}

@media screen and (max-width: 600px) {
  .upgrade_plan_cta_small__body_wrapper {
    margin-top: 10em;
  }
}

/*# sourceMappingURL=source/store_manager.css.map */
