.content {
  background-color: #efefef;
}
.content > header {
  background: transparent url(../sxtc/bg/sxsw_top3.png) no-repeat center top;
  color: #333;
  margin: 0 auto;
  padding: 178px 0 35px;
  width: 100%;
}
.content > header .title {
  text-align: center;
}
.content > header .separator {
  border: 1px solid #ccc;
  border-width: 1px 0 0;
  width: 45%;
}
.content > header .quote {
  font-size: 1.25em;
  font-weight: 200;
  padding: 20px 0;
}
.content > header .quote .lfq,
.content > header .quote .rtq {
  padding-bottom: 1px;
}
.content > header .quote .lfq {
  padding-right: 5px;
}
.content > header .quote .rtq {
  padding-left: 5px;
}
.content > header .join_now {
  text-align: center;
}
.content > header .join_now .button-callout-alt {
  font-size: 1.5em;
  text-transform: none;
}
.content .sxsw-hd {
  margin-bottom: 20px;
  text-align: center;
}
.content .sxsw-hd .columns {
  border: 1px solid #ccc;
  border-width: 1px 0;
  padding: 20px 0;
}
.content .sxsw-hd h2 {
  font-family: Georgia, serif;
  font-size: 1.15em;
  font-weight: 400;
  font-style: italic;
}
.content .artists {
  padding-bottom: 20px;
}
.content .artists .act {
  float: left;
  margin: 10px 5px;
  position: relative;
  width: 222px;
}
.content .artists .act h3 {
  font-size: 1em;
  padding-left: 6px;
}
.content .artists .act a {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-size: 1.15em;
  font-style: normal;
  font-weight: 300;
}
.content .artists .act a:hover,
.content .artists .act a:active {
  color: #3a96cf;
}
.content .artists .act .artist_to_watch {
  background-color: #3a96cf;
  color: #fff;
  display: block;
  font-size: 0.916em;
  font-weight: 700;
  padding-left: 5px;
}
.content .artists .act .artist_to_watch:hover,
.content .artists .act .artist_to_watch:active {
  color: #fff;
}
.content .artists .act.photo {
  background-color: #e0e0e0;
  border: 1px solid #b5b5b5;
  color: #333;
}
.content .artists .act.photo h3 {
  padding-left: 0;
}
.content .artists .act.photo h3 a {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75);
  display: block;
  left: 0;
  line-height: 1.5;
  padding-left: 5px;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 1;
}
.content .artists .act.photo.featured h3 a {
  top: 16px;
}
.content .artists .act.photo img {
  display: block;
}
.content .artists .act.quote {
  background-color: #e0e0e0;
  border: 1px solid #b5b5b5;
  color: #333;
}
.content .artists .act.quote h3 {
  padding-left: 0;
}
.content .artists .act.quote h3 a {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.75);
  display: block;
  line-height: 1.5;
  padding-left: 5px;
  text-align: left;
  width: 100%;
}
.content .artists .act p {
  padding: 5px;
}

/*# sourceMappingURL=source/sxsw.css.map */
