body {
  -webkit-font-smoothing: antialiased;
}
#sxtc {
  padding-top: 120px;
  font-size: 1.2em;
  padding-bottom: 3em;
  width: 100%;
  background-color: #3b96cf;
  color: #fff;
  padding-bottom: 1.5em;
}
#sxtc h2 {
  color: #fff;
}
#sxtc h2 {
  color: #fff;
  margin: 1em 0 0 5px;
  text-align: left;
}
#sxtc h2.welcome {
  font-size: 2em;
}
#sxtc h2.title {
  font-size: 2em;
  font-weight: 700;
  margin: 0 0 10px 5px;
  text-transform: uppercase;
}
#sxtc h3 {
  color: #fff;
  margin: 1em 0 0 5px;
  text-align: left;
}
#sxtc h3.sub-title {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0 0 10px 5px;
  text-transform: uppercase;
}
#sxtc p {
  font-size: 1.25em;
  padding-bottom: 10px;
  padding-left: 5px;
  width: 80%;
}
#sxtc a {
  color: #cde4f2;
}
#sxtc #start_today {
  text-align: center;
  width: auto;
}
#sxtc .get_started {
  display: inline-block;
  padding: 10px 50px;
  margin-top: 0.5em;
  background-color: #e7790e;
  color: #FFF;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  /* .transition(all 0.2s ease-in-out); */
}
#sxtc .get_started:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #e7790e;
}
#sxtc .get_started:active {
  box-shadow: 0px 0px 40px #e7790e;
}
#artists {
  background: #000;
  height: auto;
  padding-bottom: 3em;
  width: 100%;
}
#artists .sxtc-acts {
  background: #000;
  display: block;
  font-size: 1.4em;
  margin: 0px auto;
  min-height: 900px;
  padding: 5px;
  -moz-perspective: 400px;
  -webkit-perspective: 400px;
  width: 100%;
  z-index: 99;
}
#artists .act {
  float: left;
  margin: 5px;
  position: relative;
  width: 225px;
}
#artists .act h3 {
  padding-left: 0.4em;
}
#artists .act h3 a {
  color: #fff;
}
#artists .act h3 a:hover {
  color: #3b96cf;
}
#artists .act.photo h3 {
  padding-left: 0;
}
#artists .act.photo h3 a {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  left: 0;
  line-height: 1.5;
  padding-left: 0.4em;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 1;
}
#artists .act.quote {
  background-color: #5e4a41;
  background-color: rgba(94, 74, 65, 0.9);
  color: #fff;
}
#artists .act.quote h3 {
  padding-left: 0;
}
#artists .act.quote h3 a {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  line-height: 1.5;
  padding-left: 0.4em;
  text-align: left;
  width: 100%;
}
#artists .act p {
  padding: 0.75em;
}
#sxtc-hd {
  padding-top: 120px;
  font-size: 1.5em;
  padding-bottom: 3em;
  width: 100%;
  color: #fff;
  background-color: #000;
  padding-top: 2em;
  text-align: center;
}
#sxtc-hd h2 {
  color: #fff;
}
#sxtc-hd h2 {
  color: #fff;
  font-size: 1.25em;
}
#sxtc-hd .sxsw_info_link a {
  color: #e7790e;
}
@media screen and (max-width: 960px) {
  .sticky {
    height: 62px;
  }
  .masthead {
    height: 62px;
  }
  .masthead .container {
    width: 100%;
  }
  .masthead .container .logo h1 {
    background-size: contain;
    height: 44px;
    margin: 15px 10px;
    width: 160px;
  }
  .masthead nav {
    float: none;
    text-align: right;
    width: 100%;
  }
  .masthead nav a {
    margin: 20px 10px 5px 0px;
    padding: 10px;
  }
}
@media screen and (max-width: 640px) {
  .sticky {
    position: static;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    background-color: #000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  }
  .sticky .container {
    white-space: nowrap;
    width: 100%;
  }
  .masthead {
    background-color: #000;
    height: auto;
    position: relative;
  }
  .masthead nav a {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
  .masthead nav .how_it_works_link,
  .masthead nav .i_am_tunecore_link,
  .masthead nav .pricing_link {
    display: none;
  }
  .masthead nav .login_link,
  .masthead nav .create_link {
    margin: 20px 5px;
  }
  #sxtc {
    padding-top: 20px;
  }
  #artists .act {
    width: 190px;
  }
}
@media screen and (max-width: 480px) {
  .masthead nav a.create_link {
    display: none;
  }
  .masthead nav a.login_link {
    padding-right: 15px;
  }
}

/*# sourceMappingURL=source/sxtc.css.map */
