.content > header {
  background-color: #fff;
  color: #333;
  overflow: hidden;
  padding-top: 24px;
  position: relative;
}
.content > header .copy_container {
  padding: 24px;
}
.content > header .copy_container .service_title {
  color: #333;
  font-size: 2em;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
}
.content > header .copy_container .headline {
  color: #333;
  font-size: 2.66em;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.content > header .copy_container p {
  margin-bottom: 24px;
  font-size: 1.15em;
}
.content > header .copy_container .button {
  display: inline-block;
  padding: 0.75em 1.5em;
  margin-top: 0;
  background-color: #e7790e;
  color: #FFF;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 1.15em;
  font-style: normal;
  font-weight: bold;
  /* .transition(all 0.2s ease-in-out); */
  text-transform: uppercase;
}
.content > header .copy_container .button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #e7790e;
}
.content > header .copy_container .button:active {
  box-shadow: 0px 0px 40px #e7790e;
}
.content > footer {
  background-color: #e5e5e5;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15), 0 -5px 5px rgba(0, 0, 0, 0.15);
  font-size: 1.15em;
  margin-bottom: 60px;
  padding: 60px 0;
}
.content > footer .button {
  display: inline-block;
  padding: 0.75em 1.5em;
  margin-top: 36px;
  background-color: #e7790e;
  color: #FFF;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  /* .transition(all 0.2s ease-in-out); */
  text-transform: uppercase;
}
.content > footer .button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #e7790e;
}
.content > footer .button:active {
  box-shadow: 0px 0px 40px #e7790e;
}
.pod-callout .pod-body header h2 {
  font-size: 2em;
  line-height: 1;
  padding: 0 0 24px;
}
@media screen and (min-width: 768px) {
  .content > header .copy_container .service_title,
  .content > header .copy_container p {
    font-size: 1.47em;
    width: 80%;
  }
  .content > header .copy_container .service_title {
    font-size: 2em;
  }
  .content > header .copy_container .headline {
    font-size: 4.9em;
  }
  .content > header .copy_container .button {
    font-size: 1.45em;
  }
  .content > footer {
    font-size: 1.5em;
  }
  .yt_ribbon {
    background: transparent url("/images/youtube/yt_ribbon_end2.png") no-repeat 0 0;
    float: right;
    margin-bottom: 30px;
    padding-left: 41px;
    position: relative;
  }
  .yt_ribbon span {
    padding: 9px 10px;
  }
  .yt_ribbon .yt_runoff {
    display: none;
  }
}
@media screen and (min-width: 860px) {
  .yt_ribbon span {
    padding: 9px 20px;
  }
  .yt_ribbon .yt_runoff {
    background: #cd332d;
    background: linear-gradient(#cd332d, #aa2222);
    box-shadow: 2px 6px 3px -4px rgba(0, 0, 0, 0.5);
    display: block;
    height: 48px;
    position: absolute;
    top: 0;
    right: -49%;
    width: 50%;
  }
}
@media screen and (min-width: 960px) {
  .content > header {
    padding-top: 142px;
    padding-bottom: 0;
  }
}
.scrolla img {
  float: left;
  margin-right: 40px;
  height: 150px;
  margin-bottom: 5px;
  margin-top: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: block;
}
.movies li {
  display: inline;
  float: left;
}
.movies li img {
  height: 140px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.justice1 {
  margin-right: 30px !important;
}
.justice2 {
  margin-right: 73px !important;
}
.justice3 {
  margin-right: 51px !important;
}
.justice_end {
  margin-right: 0 !important;
}
.controls a {
  color: #B5B5B5;
}
.prev,
.next {
  margin: 0 30px;
}
.prev,
.next,
.dots2 {
  color: #B5B5B5;
  display: inline-block;
}
.dot2 {
  vertical-align: super;
}
.dot2.active .fa-circle-o:before {
  content: "\f111";
}

/*# sourceMappingURL=source/synch_licensing.css.map */
