/*
******************************
  SM Player Module
******************************
*/
.sm_player {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: #44b1fa;
  background: linear-gradient(rgba(68, 177, 250, 0.8), rgba(68, 177, 250, 0.9));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= rgba(68, 177, 250, 0.8) , EndColorStr= rgba(68, 177, 250, 0.9) );
  border-top: 1px solid rgba(59, 150, 207, 0.8);
  color: #FFFFFF;
  padding: 2em;
  margin-bottom: 0;
}
.sm_player p {
  font-size: 1.4em;
}
.sm_player .row {
  margin-bottom: 10px;
}
.sm_player a {
  color: #FFFFFF;
}
.sm_player-play-control {
  display: none;
  float: left;
  position: relative;
  width: 10px;
  height: 12px;
  margin-right: 10px;
}
.sm_player-play-control:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  border: 10px solid transparent;
  border-left: 10px solid #FFFFFF;
}
.sm_player-pause-control {
  float: left;
  width: 12px;
  height: 14px;
  display: block;
  border-right: 4px solid #FFFFFF;
  border-left: 4px solid #FFFFFF;
  margin-top: 3px;
  margin-right: 10px;
}
.sm_player-stop-control {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: 700;
  font-size: 2em;
  color: #FFFFFF;
}
.sm_player-scrubber {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 22px;
  background-color: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #FFFFFF;
  margin-bottom: 5px;
}
.sm_player-scrubber-load-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  z-index: 1;
  cursor: pointer;
  background-color: #F2F2F2;
  border-radius: 3px;
}
.sm_player-scrubber-play-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  background-color: #44B1FA;
  border-radius: 3px;
}
.sm_player-artwork {
  float: left;
  margin-right: 10px;
  width: 80px;
}
.favorite_link {
  float: left;
  margin-right: 10px;
  margin-top: 1px;
}
/*
******************************
  SM Sound Module
******************************
*/
.sm_sound,
.sm_sound2 {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: .5em;
  background-image: url(/images/sm_player_play_icon_default.png);
}
.sm_sound.active,
.sm_sound2.active {
  background-image: url(/images/sm_player_play_icon_active.png);
}
.sm_sound2 {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: .5em;
  background-image: url(/images/sm_player_play_icon_default.png);
}
.sm_sound2.active {
  background-image: url(/images/sm_player_play_icon_active.png);
}
/*
******************************
  Base
******************************
*/
form fieldset {
  border: 0;
}
form input[type="submit"] {
  font-size: 1.4em;
  padding: .5em 2em;
}
form label {
  font-weight: normal;
  color: #333;
}
.button-callout {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin-top: 0;
  text-transform: none;
}
.button-callout:hover,
.button-callout:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.button-callout:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.button-callout.emphasis {
  background-color: #16C283;
  border-color: #1FA272;
}
.button-callout.emphasis:active {
  background-color: #1FA272;
}
.button-callout-alt {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
  margin-top: 0;
  text-transform: none;
}
.button-callout-alt:hover,
.button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.button-callout-alt:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.button-callout-alt:hover,
.button-callout-alt:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
.button-callout-alt:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
.button-interface {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  color: #777;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.button-interface:hover,
.button-interface:focus {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #777;
}
.button-interface:active {
  background-color: #dcdcdc;
  border: 1px solid #d6d6d6;
}
table {
  border: 1px solid #ccc;
  border-collapse: separate;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}
th,
td {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 10px;
}
th:first-child,
td:first-child {
  border-left: 0;
}
th {
  background: #fafafa;
  background: linear-gradient(#fff, #f0f0f0);
  color: #555;
  border-top: 0;
  font-weight: 700;
  text-align: left;
}
th:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
}
th:last-child {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
td {
  color: #333;
}
tbody > tr:nth-child(even) > td {
  background-color: #f5f5f5;
}
tbody > tr:last-child > td:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
}
tbody > tr:last-child > td:last-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
tbody > tr:last-child > td:only-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
}
tbody > tr {
  background-color: #fff;
}
tbody > tr:hover > td {
  background-color: #ffc;
}
dt {
  border-right: .5em solid #fff;
  font-weight: normal;
  margin-right: .5em;
  width: 25%;
}
/*
******************************
  Layout
******************************
*/
.content > header,
section > header {
  margin-bottom: 2em;
}
.content > header h2,
section > header h2 {
  font-size: 2.4em;
  font-weight: normal;
}
.content > header h3,
section > header h3 {
  color: #333;
  font-size: 1.8em;
  font-weight: normal;
}
.content > header .description,
section > header .description {
  color: #999;
  font-size: 1.3em;
}
.content {
  margin-bottom: 5em;
}
.content > header {
  margin-bottom: 2em;
}
section {
  margin-bottom: 1em;
}
section > header {
  margin-bottom: 0.5em;
}
form > footer {
  text-align: center;
}
.message {
  height: auto;
}
.msg {
  background-color: #44b1fa;
  color: #fff;
  padding: 10px;
  text-align: center;
  z-index: 100;
}
.dashboard {
  font-size: 1.3em;
}
#memberships {
  font-size: 1.3em;
}
#favorites {
  font-size: 1.3em;
}
#people {
  font-size: 1.3em;
}
#licenses {
  font-size: 1.3em;
}
#license_requests {
  font-size: 1.3em;
}
#license_request {
  font-size: 1.3em;
}
#license_request header h3 {
  padding-bottom: 10px;
}
#license_request .box dt {
  float: none;
  font-weight: 700;
  margin: 0;
  padding-bottom: 0;
  width: auto;
}
#license_request .box dd {
  padding: 0 1em 1em;
}
#request_membership {
  margin-bottom: 5em;
}
#terms_and_conditions {
  font-size: 1.3em;
}
#terms_and_conditions h4 {
  text-decoration: underline;
}
#terms_and_conditions p {
  padding-bottom: 1em;
}
#help {
  font-size: 1.3em;
}
#help dt,
#help dd {
  padding-bottom: 5px;
}
#help dt {
  font-weight: 700;
  float: none;
  width: auto;
}
#help dd {
  padding-bottom: 20px;
}
.sync_unverified {
  font-size: 1.3em;
}
.sync_unverified p {
  padding-bottom: 0.5em;
}
.sync_unverified ul {
  list-style-type: disc;
  margin: 10px 0;
  padding-left: 1.5em;
}
/*
******************************
  Header Layout
******************************
*/
#summary {
  height: 76px;
  background-color: #333;
}
#summary .logo {
  width: 144px;
  height: 36px;
  margin-bottom: 0px;
  display: block;
}
#summary .container .logo {
  margin: 0;
}
#summary .container .title {
  float: left;
  margin: 20px;
}
#summary.summary-admin {
  background-color: #3b96cf;
}
#summary .menu > a {
  background-color: #44b1fa;
  text-align: left;
}
#summary .menu .options {
  background-color: #44b1fa;
}
#summary .menu .options a:hover {
  background-color: #3b96cf;
}
#summary + .content {
  margin-top: 20px;
}
.nav {
  background: #fafafa;
  background: linear-gradient(#fff, #f0f0f0);
  border-bottom: 1px solid #ccc;
  font-size: 1.3em;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 10px 0;
}
.nav a + a:before {
  content: "|";
  padding: 0 8px 0 5px;
}
.nav a.active {
  font-weight: 700;
}
nav#summary > div > #smlogo {
  float: left;
}
nav#summary > div > #smlogo h2 {
  text-align: left;
  margin-top: -4px;
  margin-left: 36px;
  color: #fff;
  text-transform: capitalize;
  font-weight: normal;
}
nav#summary > .container > a {
  line-height: 54px;
}
nav#summary + .content {
  margin-top: 20px;
}
/*
******************************
  Footer Layout
******************************
*/
.btn-terms {
  background-color: #dcdcdc;
  color: #5f5f5f;
}
.new_footer-sync {
  /* Footer Top */
}
.new_footer-sync .help a {
  font-size: 1.3em;
}
.new_footer-sync .help .button-callout-alt {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
  font-size: 1.3em;
  font-weight: 700;
  margin-top: 3px;
  padding: 0.75em 1.5em;
  text-transform: capitalize;
}
.new_footer-sync .help .button-callout-alt:hover,
.new_footer-sync .help .button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.new_footer-sync .help .button-callout-alt:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.new_footer-sync .help .button-callout-alt:hover,
.new_footer-sync .help .button-callout-alt:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
.new_footer-sync .help .button-callout-alt:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
.new_footer-sync .help .button-interface {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  color: #777;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  font-size: 1.3em;
  font-weight: 700;
  margin-top: 3px;
  padding: 0.75em 1.5em;
  text-transform: capitalize;
}
.new_footer-sync .help .button-interface:hover,
.new_footer-sync .help .button-interface:focus {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #777;
}
.new_footer-sync .help .button-interface:active {
  background-color: #dcdcdc;
  border: 1px solid #d6d6d6;
}
@media screen and (min-width: 768px) {
  .new_footer-sync {
    /* Footer Top */
    /* Footer Bottom */
  }
  .new_footer-sync .blog-heading {
    width: 100%;
  }
  .new_footer-sync .blog-items {
    border: none;
    margin: 0;
    padding: 10px 0 0;
  }
  .new_footer-sync .ft-block {
    border-left: 0;
    float: none;
    min-height: 0px;
    padding: 0 15px;
  }
  .new_footer-sync .ft-block a {
    float: left;
    margin-bottom: 5px;
    padding: 0 15px 0 0;
  }
  .new_footer-sync .ft-block i {
    width: 17px;
  }
  .new_footer-sync .copyright {
    padding: 20px 0 0 15px;
  }
}
@media screen and (min-width: 960px) {
  .btn-faqs {
    margin-right: 20px;
  }
  .new_footer-sync {
    /* Footer Top */
  }
  .new_footer-sync .blog-heading {
    width: auto;
  }
  .new_footer-sync .blog-items {
    border-left: 1px solid #a3a3a3;
    margin-left: 15px;
    padding-top: 0;
    padding-left: 15px;
  }
}
/*
******************************
  Home Page Module
******************************
*/
.synch_intro {
  background-color: #3b96cf;
  color: #fff;
  font-size: 1em;
  margin-top: -20px;
  padding-top: 30px;
  padding-bottom: 3em;
  width: 100%;
}
.synch_intro h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 12px;
  text-transform: capitalize;
}
.synch_intro #home {
  font-size: 1.5em;
  line-height: 1.5;
}
.synch_intro #home p {
  margin-bottom: 1em;
}
.spotify_charts h2 {
  color: #333;
  font-size: 2em;
  margin: 12px 0px;
}
/*
******************************
  Page Select Module
******************************
*/
.page_select {
  float: left;
}
.page_select span {
  padding-left: 10px;
}
/*
******************************
  Pagination Module
******************************
*/
.pagination {
  cursor: default;
  float: right;
  padding: 0.3em;
  text-align: center;
}
.pagination a,
.pagination span,
.pagination em {
  padding: 0.2em 0.5em;
}
.pagination .disabled {
  color: #aaa;
}
.pagination .current {
  font-style: normal;
  font-weight: 700;
  color: #3b96cf;
}
.pagination a {
  border: 1px solid #ddd;
  color: #3b96cf;
  text-decoration: none;
}
.pagination a:hover,
.pagination a:focus {
  border-color: #3b96cf;
  background: #3b96cf;
  color: #fff;
}
.pagination .page_info {
  color: #aaa;
  padding-top: 0.8em;
}
.pagination .prev_page,
.pagination .next_page {
  border-radius: 5px;
  border-width: 2px;
}
.pagination .prev_page {
  margin-right: 1em;
}
.pagination .next_page {
  margin-left: 1em;
}
/*
******************************
  Sync Login Module
******************************
*/
.sync_login-header {
  text-align: center;
}
.sync_login-help {
  font-size: 1.3em;
  padding: 1em 0;
  text-align: center;
}
/*
******************************
  Sync Search Module
******************************
*/
.sync_search-field {
  background: #fafafa;
  background: linear-gradient(#fff, #f0f0f0);
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.3em;
  margin-bottom: 2em;
  padding: 10px;
}
.sync_search-field fieldset {
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.sync_search-field .q-label {
  display: inline-block;
  overflow: hidden;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  width: 0;
}
.sync_search-field .check-label {
  display: inline-block;
  float: none;
  margin: 0;
  padding: 0 10px;
  width: auto;
}
.sync_search-filter {
  display: inline-block;
  font-size: 1em;
  margin: 1px 10px 0 0;
  min-width: 115px;
  padding: 3px 5px;
  width: 115px;
}
.sync_search-highlight {
  background-color: #ffff99;
}
.sync_search-help {
  color: #665;
  display: inline-block;
  font-size: 0.85em;
  margin-left: 14%;
  width: 330px;
}
.sync_search-count {
  color: #665;
  display: inline-block;
  font-size: 0.769em;
}
#submit_search_link {
  font-size: 1em;
  margin: 1px 0 0 10px;
  width: auto;
}
.sync_search-facets {
  font-size: 1.3em;
}
.sync_search-filter_type {
  padding: 0 10px;
  position: relative;
}
.sync_search-filter_type > h3 {
  padding-bottom: 5px;
  text-transform: capitalize;
}
.sync_search-filter_type li {
  display: inline;
  margin-left: 10px;
}
.sync_search-filter_type li:first-child {
  margin-left: 0;
}
.sync_search-filter_type li + li:before {
  content: '\2022';
  padding-right: 8px;
}
.sync_search-more_filters {
  display: none;
  padding-top: 5px;
}
.sync_search-more_filters > ul {
  list-style: none;
}
.sync_search-more_filters > .close {
  position: absolute;
  right: 5px;
  top: 5px;
}
.sync_search-table {
  display: none;
  font-size: 1.3em;
}
.sync_search-table .audio-play {
  float: left;
  margin-right: 10px;
  position: relative;
}
.sync_search-table .button {
  margin-top: 0;
  margin: 0px;
  border-radius: 3px;
  background-color: #dedede;
  border: 1px solid #999;
  color: #666;
  font-size: 0.85em;
  padding: 6px 24px;
}
.sync_search-col_link {
  width: 135px;
}
.sync_search-favorites_help .sync_tip {
  display: none;
  background-color: #cde4f2;
  color: #333;
  font-size: 13px;
  margin: 0 0 1em;
  width: 40%;
}
.sync_search-favorites_help .sync_tip.bl:before {
  border-top-color: #cde4f2;
  left: 6px;
}
.sync_search-table_header {
  position: relative;
  font-size: 1.2em;
  padding: 5px;
}
.sync_search-table_header #results_found {
  position: absolute;
  right: 0;
  bottom: 5px;
}
#results_found {
  text-align: right;
}
.sync_search-pagination {
  cursor: default;
  float: right;
  margin: 0.3em;
  padding: 0.3em;
  text-align: center;
}
.sync_search-pagination a,
.sync_search-pagination span,
.sync_search-pagination em {
  margin: 0 0.2em;
  padding: 0.2em 0.5em;
}
.sync_search-pagination .disabled {
  color: #aaa;
}
.sync_search-pagination .current {
  font-style: normal;
  font-weight: 700;
  color: #3b96cf;
}
.sync_search-pagination a {
  border: 1px solid #ddd;
  color: #3b96cf;
  text-decoration: none;
}
.sync_search-pagination a:hover,
.sync_search-pagination a:focus {
  border-color: #3b96cf;
  background: #3b96cf;
  color: #fff;
}
.sync_search-pagination .page-link {
  color: #aaa;
}
.sync_search-pagination .prev,
.sync_search-pagination .next {
  border-radius: 5px;
  border-width: 2px;
}
.sync_search-pagination .prev {
  margin-right: 1em;
}
.sync_search-pagination .next {
  margin-left: 1em;
}
.favorite_link {
  font-size: 1.5em;
  color: #666;
}
.favorite_link:hover {
  color: #f00;
}
.sync_search-ghost-table,
.sync_search-ghost-table tr,
.sync_search-ghost-table td {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
/*
******************************
  Control Module
******************************
*/
.control {
  border-radius: 12px;
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  padding: 2px 5px;
}
.control-full {
  background-color: #690;
}
.control-partial {
  background-color: #f90;
}
/*
******************************
  Status Module
******************************
*/
.status-hd {
  display: inline-block;
}
.status-bug {
  background-color: #f00;
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0 10px;
  padding: 7px 10px;
  vertical-align: bottom;
}
/*
******************************
  Song Detail Module
******************************
*/
.song_detail-info {
  line-height: 2em;
  background-color: #fff;
}
.song_detail-info > h2 {
  font-size: 1.8em;
}
.song_detail-info > p {
  font-size: 1.2em;
  margin-left: 0.7em;
}
.song_detail-tip .sync_tip-content {
  display: inline-block;
  margin-top: 0.5em;
}
.song_detail-tip .fileupload_button {
  margin-top: 0;
}
/*
******************************
  Membership Requests Table Module
******************************
*/
.requests {
  position: relative;
}
.requests .button {
  margin-top: 0;
  width: 93px;
}
.requests-col_status {
  width: 212px;
}
.requests-status {
  display: inline-block;
  font-size: 14px;
  width: 93px;
}
/*
******************************
  Sync Tip Module
******************************
*/
.sync_tip {
  background-color: #333;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 1.25em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 1em;
  position: relative;
  width: 85%;
}
.sync_tip.tl:before {
  border: 1em solid transparent;
  border-bottom: 1em solid #333;
  content: "";
  left: 2em;
  position: absolute;
  top: -1.9em;
}
.sync_tip.bl:before {
  border: 1em solid transparent;
  border-top: 1em solid #333;
  content: "";
  left: 2em;
  position: absolute;
  bottom: -1.9em;
}
/*
******************************
  Sync Expandables Module
******************************
*/
.sync_expandables > header {
  background-color: #f0f0f0;
  border-bottom: 1px solid #e6e6e6;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
}
.sync_expandables > header > h3 {
  line-height: 3em;
}
.sync_expandables > header > h3 > a {
  padding: 0 10px;
  position: relative;
  font-size: 1.4em;
  color: #666666;
  font-weight: normal;
  display: block;
}
.sync_expandables > header > h3 > a:after {
  content: "";
  position: absolute;
  right: 10px;
  top: .7em;
  border: .4em solid transparent;
  border-right: .4em solid #666666;
}
.sync_expandables > header + div {
  border-bottom: 1px solid #e6e6e6;
  display: none;
  padding-top: 2em;
}
.sync_expandables > header.expanded {
  background-color: #fff;
}
.sync_expandables > header.expanded > h3 > a {
  color: #333;
}
.sync_expandables > header.expanded > h3 > a:after {
  border-right: .4em solid transparent;
  border-top: .4em solid #666;
  top: 1em;
}
.sync_expandables > header.expanded + div {
  display: block;
}
.sync_expandables > footer {
  background-color: #f6f6f6;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  line-height: 3em;
}
.sync_expandables > footer > a {
  position: relative;
  display: block;
  padding: 0 10px;
  font-size: 1.4em;
  font-weight: 700;
}
.sync_expandables > footer > a > i {
  float: right;
  padding-top: 0.6em;
}
/*
******************************
  Sync Progress Bar Module
******************************
*/
.sync_progress-bar {
  height: 1.5em;
  border-radius: 10px;
  background-color: #F2F2F2;
  overflow: hidden;
}
.sync_progress-progress {
  width: 0;
  height: 1.5em;
  background-color: #44B1FA;
}
/*
******************************
  Form Classes
******************************
*/
.lgbg {
  background-color: #f0f0f0;
}
.sync_fieldset-stacked label {
  float: none;
  width: 100%;
  display: block;
  text-align: left;
}
.sync_fieldset-stacked input,
.sync_fieldset-stacked textarea {
  float: none;
}
.sync_fieldset-stacked textarea {
  width: 100%;
}
.sync_fieldset-radio {
  display: inline-block;
}
.sync_fieldset-radio label,
.sync_fieldset-radio radio {
  display: inline;
  float: none;
}
.sync_fieldset-nolabel label {
  display: none;
}
.sync_fieldset-nomargin {
  margin: 0;
}
.sync_fieldset-nopad {
  padding: 0;
}
.sync_fieldset-min,
.sync_fieldset-sec {
  float: left;
  width: 45px;
}
.sync_fieldset-min input,
.sync_fieldset-sec input {
  width: 40px;
}
#production_details {
  padding-top: 2em;
  border-top: 1px solid #F0F0F0;
}
#production_details.noborder {
  border: none;
}
#sync_license_request_sync_license_production_id_list_item {
  padding-top: 1.6em;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar {
  fill: #3B96CF;
}
.ln {
  stroke: #000000;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.x text,
.y text {
  font-family: 'Helvetica Neue', Helvetica, Arial;
}
.rank-link.active {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: default;
}
p.based_on {
  font-size: 1.25em;
  color: #434343;
  font-weight: 700;
}
.chart .genres {
  font-size: 1.3em;
  margin-bottom: 10px;
}
.chart .genres a:hover,
.chart .genres .active {
  color: #aeaeae;
}
.chart .sync_search h2,
.chart .sync_search h3 {
  color: #333;
  text-transform: uppercase;
}
.chart .sync_search h2 {
  font-size: 48px;
  margin-top: 12px;
}
.chart .sync_search h3 {
  font-size: 36px;
  margin-top: -16px;
}
.chart .sync_search ul {
  margin-top: 12px;
}
.chart .sync_search ul > li {
  display: inline;
  padding-right: 20px;
  font-size: 14px;
  line-height: 1.5em;
  color: #000;
}
.chart .sync_search ul > li > a {
  color: #44b1fa;
}
.chart table {
  border: 1px solid #ccc;
  border-collapse: none;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
}
.chart th,
.chart td {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 8px;
}
.chart th:first-child,
.chart td:first-child {
  border-left: 0;
}
.chart th {
  background: #333;
  background: linear-gradient(#333, #333);
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: #fff;
  border-top: 0;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  width: 40px;
  border-bottom: 3px solid white;
}
.chart th.song {
  width: 400px;
  font-size: 1.4em;
}
.chart th.artist {
  width: 300px;
}
.chart th.artist > b {
  font-size: 1.3em;
}
.chart th.quote {
  width: 130px;
  text-align: left;
}
.chart th.song,
.chart td.song,
.chart th.artist,
.chart td.artist {
  text-align: left;
  border-left: 0px;
}
.chart td.song {
  font-size: 1.4em;
}
.chart td {
  color: #333;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
}
.chart td.artist {
  font-size: 1.1em;
  font-weight: normal;
}
.chart td.artist > b {
  font-size: 1.3em;
  font-weight: bold;
}
.chart td.rank {
  border-top: 1px solid #333;
  background-color: #333;
  color: #fff;
}
.chart td.play {
  padding-right: 20px;
}
.chart td.quote .button-interface {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  color: #777;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  font-size: 0.6em;
  font-weight: 500;
  margin-top: 0;
  padding: 6px 24px;
}
.chart td.quote .button-interface:hover,
.chart td.quote .button-interface:focus {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #777;
}
.chart td.quote .button-interface:active {
  background-color: #dcdcdc;
  border: 1px solid #d6d6d6;
}
.chart tbody > tr:nth-child(even) > td {
  background-color: #f5f5f5;
}
.chart tbody > tr:nth-child(even) > td:first-child {
  background-color: #333;
}
.chart tbody > tr {
  background-color: #fff;
}
.chart tbody > tr:hover > td {
  background-color: #ccc;
}
.chart tbody > tr:hover > td:first-child {
  background-color: #999;
}
.sync_tabs {
  padding-top: 2em;
  border-bottom: 1px solid #c5c5c5;
}
.sync_tabs a {
  position: relative;
  float: left;
  font-size: 2.2em;
  padding: 0 2em;
  border: 1px solid #d6d6d6;
  margin-bottom: -1px;
  color: #8c8c8c;
  font-weight: 700;
  margin-right: 1em;
  line-height: 2em;
}
.sync_tabs a.active {
  border-color: #c2c2c2;
  border-bottom-color: #FFFFFF;
  color: #000000;
}
.isAdmin #q {
  width: 35%;
}
.sync-explicit {
  width: 50px;
  margin-right: 5px;
}

/*# sourceMappingURL=source/sync.css.map */
