body {
  background: #fff url("/images/dashboard/target_music_dashboard_tile.jpg") 0 0 repeat;
}
#header {
  background-color: transparent;
  padding-top: 10px;
}
.target-music-banner {
  background: transparent url("/images/dashboard/target_music_dashboard_pattern.jpg") 0 0 repeat;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  margin: 16px 0 24px;
  text-align: center;
}
.target-music-banner p {
  color: #BC0001;
  font-size: 3em;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  padding: 10px 0;
  text-transform: uppercase;
}
.interstitial {
  color: #333;
  padding: 0;
  text-align: left;
}
.interstitial p {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 36px 0;
  text-align: left;
}
.interstitial .btn {
  font-size: 1.6em;
}

/*# sourceMappingURL=source/target_music.css.map */
