.content > header h1 {
  border: none;
  color: #3b96cf;
  padding: 0;
}
.tax_form {
  text-align: center;
}
.tax_form h2 {
  border-bottom: 3px solid #333;
  clear: both;
  font-size: 1.15em;
  margin-bottom: 10px;
  text-align: left;
}
.tax_block {
  clear: both;
  color: #000;
  margin-bottom: 10px;
  padding: 0 10px;
  text-align: left;
  width: 780px;
}
.tax_block .input_block {
  clear: left;
  float: left;
  padding: 0 0 10px 5px;
}
.tax_block p {
  margin: 0;
}
.tax_block label {
  color: #000;
  display: block;
  float: none;
  font-weight: normal;
  text-align: left;
  width: auto;
}
.tax_block .radio {
  float: left;
}
.tax_block ol {
  padding-left: 15px;
}
.tax_block .ui-selectmenu {
  height: 27px;
  line-height: 27px;
}
.tax_block .box {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px;
  width: auto;
}
.tax_block .certify {
  font-size: 1em;
  font-weight: 700;
}
.w8_tax_id_help {
  font-size: 0.833em;
  padding-left: 10px;
}
.tax_treaty_benefits ol {
  list-style-type: lower-alpha;
}
.tax_treaty_benefits label {
  float: none;
}
.w9_legal {
  clear: both;
}
.magicTipHolder {
  position: relative;
  width: auto;
  z-index: 500;
  display: inline-block;
}
.magicTip {
  position: absolute;
  display: none;
  z-index: 1000;
}
.magicTipPointer {
  float: left;
  position: relative;
}
.magicTipPointer span {
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url(/images/magicTipPointerSprite.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.magicTipBorder {
  float: left;
  width: auto;
  padding: 2px;
  background-image: url(/images/magicTipBorderSprite.png);
  border-radius: 5px;
  -moz-border-radius: 5px;
}
.magicTipContent {
  float: left;
  width: 300px;
  background-color: #daf5ff;
  padding: 5px;
  font-size: 12px;
  font-weight: normal;
  color: #007ecf;
  line-height: auto;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
.magicTipContent a {
  color: #007ecf;
  text-decoration: none;
}
#agree {
  display: none;
}

/*# sourceMappingURL=source/tax_form.css.map */
