@import url("https://fonts.googleapis.com/css?family=Lato:100,200,300,400,400italic,700,700italic,900,900italic");
.content {
  font-family: Lato, sans-serif;
}
.content > .hero {
  background-color: #333333;
  margin: 0;
  padding: 0 1rem;
}
.content .section-title {
  border-bottom: 5px solid #3a96cf;
  color: #3a96cf;
  display: inline-block;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
}
.content .hide-on-mobile {
  display: none;
}
.content .show-on-mobile {
  display: inherit;
}
.hero {
  background-image: url("/images/tc_social/TC_Social_Wallpaper.png");
  background-repeat: repeat-y;
  background-size: 100%;
}
.hero .copy_container {
  padding: 2rem 0;
}
.hero .copy_container h1 {
  font-size: 1.6rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.hero .copy_container h2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1rem;
}
.hero .copy_container h3 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 1rem;
}
.hero .copy_container .button-callout {
  border-radius: 5px;
  font-size: 1em;
  padding: .8em 2em;
  text-transform: none;
}
.hero .copy_container img {
  max-width: 119%;
  margin-left: 10px;
  margin-bottom: -300px;
}
.description {
  background-color: #e1e1e1;
  padding: 4rem 0;
  text-align: center;
}
.description .button-callout {
  border-radius: 5px;
  font-size: 1.3em;
  margin-top: 2rem;
  padding: .8em 4em;
  text-transform: none;
}
.features {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.feature .icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
  padding: 1rem;
  width: 90px;
}
.feature .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 67%;
  flex: 0 0 67%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 1rem;
  text-align: left;
}
.feature .title {
  color: #3a96cf;
  font-size: 1.2rem;
  font-weight: 900;
}
.feature .copy {
  color: #2d3f53;
  font-size: .9rem;
}
.more-info {
  padding: 3rem 0;
  text-align: center;
}
.more-info .title {
  color: #3a96cf;
  font-size: 1.2rem;
  font-weight: 900;
}
.more-info h4 {
  font-size: 1.75rem;
  margin-top: 1.5rem;
}
.more-info i {
  color: #e77a0d;
  font-size: 2rem;
  padding: 0 1rem;
  margin: 1rem 0;
}
.more-info p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding: 0 1rem;
  display: inline-block;
  width: 80%;
}
@media (min-width: 48em) {
  .content > .hero {
    margin-bottom: 0;
    padding-top: 62px;
    padding-bottom: 0;
  }
  .content .hide-on-mobile {
    display: inherit;
  }
  .content .show-on-mobile {
    display: none;
  }
  .hero {
    background-image: url("/images/tc_social/TC_Social_Wallpaper.png");
    background-position: 100% 6%;
    background-size: 120%;
  }
  .hero .copy_container h1 {
    font-size: 3.0rem;
  }
  .hero .copy_container h2 {
    font-size: 2.0rem;
    font-weight: 400;
  }
  .hero .copy_container h3 {
    font-weight: 300;
  }
  .hero .copy_container .button-callout {
    font-size: 1.3em;
  }
  .hero .copy_container img {
    max-width: 119%;
    margin-left: 10px;
    margin-bottom: -300px;
  }
  .feature {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 33%;
    flex: 1 0 33%;
    padding: 0 3.3rem;
  }
  .feature .icon {
    width: 130px;
  }
  .feature .text {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding-right: 0;
    text-align: center;
  }
  .feature .title {
    padding: 1rem 0 0;
  }
  .fast-n-efficient .icon {
    margin-left: -30px;
    width: 160px;
  }
  .license {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 39%;
    flex: 0 0 39%;
  }
  .license ~ .license {
    margin-top: 0;
  }
}
.tc-social-title {
  font-weight: bold;
}
.tc-social-link-share {
  width: 100%;
  padding: 2%;
  margin: 5px 0 15px 0;
}
.tc-social-link-share form {
  margin: 0;
}
.tc-social-link-share form textarea {
  width: 100%;
  height: auto;
  padding: 2%;
  font-size: 1.2em;
  margin-top: 2%;
}
.tc-social-link-share form input[type=submit] {
  width: 100%;
  text-align: center;
  padding: 10px;
}
.tc-social-publisher {
  padding-top: 20px;
  width: 200px;
  padding: 10px;
  border: 1px solid grey;
}
.tc-social-publisher form textarea {
  padding: 1em 0 0;
  height: 5em;
  width: 100%;
  border: none;
  font-size: 16px;
}
.tc-social-publisher form input[type=submit] {
  width: 200px;
  padding: 10px 0px;
  font-weight: 600;
  font-size: 1.2em;
  text-transform: none;
}

/*# sourceMappingURL=source/tc_social.css.map */
