.content > header {
  padding-top: 242px;
}
.content > footer {
  background-color: #e5e5e5;
  font-size: 1.15em;
  margin-bottom: 60px;
  padding: 24px 0;
  text-align: center;
}
.content > footer .button-callout {
  margin: 0;
  padding: 0.75em 1.5em;
}
.tc_v_cdbaby {
  margin-bottom: 12px;
  width: 100%;
}
.tc_v_cdbaby thead th {
  border-bottom: 3px solid #000;
  font-size: 1.5em;
  font-weight: 700;
  padding: 24px 0 12px 18px;
  text-align: left;
}
.tc_v_cdbaby tbody tr {
  border-bottom: 1px solid #000;
}
.tc_v_cdbaby tbody tr:last-child {
  border-bottom: 3px solid #000;
}
.tc_v_cdbaby tbody th {
  font-size: 1.15em;
  font-weight: 700;
  line-height: 1.25;
  padding: 18px 0;
  text-align: left;
  vertical-align: top;
}
.tc_v_cdbaby tbody th a {
  font-family: inherit;
  font-style: normal;
}
.tc_v_cdbaby tbody td {
  font-size: 1.15em;
  padding: 18px 0 18px 18px;
  vertical-align: top;
}
.tc_v_cdbaby tbody td p {
  font-size: 1em;
  line-height: 1.25;
}
.tc_v_cdbaby tbody td p + p {
  padding: 0;
}
.tc_v_cdbaby tbody td strong {
  font-size: 1.5em;
}
.tc_v_cdbaby tbody td ul {
  list-style: none;
  margin: 12px 0;
  padding: 0;
}
.tc_v_cdbaby tfoot p {
  line-height: 1;
  padding: 12px 0;
}
.tc_v_cdbaby-categories {
  width: 240px;
}
.tc_v_cdbaby-tunecore {
  background-color: #eefaff;
  width: 320px;
}
.button-callout-alt.pricing_link {
  background-color: #44b1fa;
  font-size: 1.15em;
  margin: 0;
  text-transform: none;
}
.pod-testimonial .pull_quote {
  border-bottom: 1px solid #000;
  font-size: 1.15em;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: justify;
}
.pod-testimonial .quote {
  font-size: 53px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  vertical-align: -23px;
}
.pod-testimonial .artist {
  font-size: 1.5em;
  font-weight: 700;
  padding-right: 5px;
  text-align: right;
}
.pod-testimonial .artist i {
  font-style: normal;
  font-weight: normal;
}
.pod-testimonial .genre {
  font-weight: 300;
  padding-right: 5px;
  text-align: right;
}
/* Responsive Table */
@media screen and (max-width: 568px) {
  .tc_v_cdbaby {
    display: block;
    overflow-x: auto;
    position: relative;
    width: 100%;
  }
  .tc_v_cdbaby tbody td {
    min-width: 300px;
    padding: 18px;
  }
  .tc_v_cdbaby tbody th {
    padding: 18px 24px 18px 0;
  }
}
@media screen and (min-width: 569px) {
  .tc_v_cdbaby tfoot p {
    padding: 12px 0 0;
    text-align: right;
  }
}
@media screen and (min-width: 768px) {
  .pod-testimonial .pull_quote {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 960px) {
  .pod-banner .pod-body {
    padding: 0 30px 0 60px;
  }
}

/*# sourceMappingURL=source/tc_v_cdbaby.css.map */
