.terms {
  display: none;
}
.terms.active {
  display: block;
}
.terms-nav {
  margin-bottom: 2.5em;
}
.terms-nav a {
  display: inline-block;
  padding: 5px 15px;
  font-size: 1.077em;
  background-color: #9dcae7;
  margin-right: 2px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.terms-nav a.active {
  background-color: #3b96cf;
}

/*# sourceMappingURL=source/terms.css.map */
