.reward-badge {
  box-sizing: border-box;
  width: 220px;
  min-height: 320px;
  border-radius: 10px;
  background-color: #2E3134;
  padding: 30px 20px;
  text-align: center;
  position: relative;
}
.reward-badge a {
  text-decoration: none
}
.reward-badge .rewards-text {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 11px;
  font-weight: 400;
  color: white;
  margin-top: 5px;
}
.reward-badge .record-icon {
  width: 110px;
  margin: 15px 0;
}
.reward-badge .rewards-lockup {
  width: 110px;
}
.reward-badge-text {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 400;
}
.artist-level {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
}
ul.benefits {
  font-size: 12px;
  color: #8C8F93;
  margin: 0;
  text-align: left;
  padding-left: 11px;
  margin-top: 5px;
  list-style-type: disc;
}
ul.benefits li:not(:last-child) {
  margin-bottom: 5px;
}
.reward-nav .record-icon {
  width: 30px;
  height: 30px;
  vertical-align: -75%;
}
.reward-nav .tier-nav-copy {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  vertical-align: -60%;
  margin-left: 0px;
  line-height: 1.25;
}
.reward-nav .tier-nav-copy .tier-name {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0px;
}
.reward-nav .tier-nav-copy .nav-cta {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 0px;
}
/* for state 1 dashboard_state */
.tier-promo-row {
  width: 1464px;
  display: flex;
  margin: 0px auto;
}
.tier-promo-container {
  width: 220px;
}
/* for publishing admin foundation css */
.navbar-wrapper .navbar-top-wrapper .navbar-top-content .top-bar ul li.tier-name,
.navbar-wrapper .navbar-top-wrapper .navbar-top-content .top-bar ul li.nav-cta {
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-wrapper .navbar-top-wrapper .navbar-top-content .reward-nav {
  line-height: 1.2;
}
.navbar-wrapper .navbar-top-wrapper .navbar-top-content .reward-nav .record-icon {
  vertical-align: -95%
}
.navbar-wrapper .navbar-top-wrapper .navbar-top-content .reward-nav .tier-nav-copy {
  vertical-align: -80%
}
@media only screen and (max-width: 767px) {
  .tier-promo-row {
    width: auto;
    display: block;
  }
  .tier-promo-container {
    margin: 0px auto;
  }
  .reward-nav {
    float: right;
    margin-left: 20px;
  }
  .reward-nav .record-icon {
    vertical-align: -110%;
  }
  .reward-nav .tier-nav-copy {
    display: none;
  }
}
