.hd-top {
  margin-bottom: 0;
}
.trends_container {
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}
#trends {
  margin-top: 20px;
}
#trends .trends_status {
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  background-color: #F2F2F2;
  padding: 15px;
  margin-bottom: 30px;
}
#trends .trends_status header {
  border-bottom: 1px solid #b5b5b5;
}
#trends .trends_status header h3 {
  font-size: 1.6em;
  color: #333333;
  margin-left: 15px;
  padding-bottom: 5px;
}
#trends .trends_status div.row {
  padding: 5px 15px;
}
#trends .trends_status .text-right {
  font-family: georgia;
  font-style: italic;
  padding-right: 15px;
  color: #666666;
}
#trends .trends_status .five,
#trends .trends_status .seven {
  font-size: 1.2em;
  line-height: 1.8em;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table.non_bold td {
  font-weight: normal;
}
th {
  background: none;
  color: #666;
  font: bold 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 12px 15px 4px;
  text-align: center;
  vertical-align: middle;
}
th span {
  color: #000;
  display: block;
  font-size: 1em;
  margin-left: -8px;
}
th.header {
  cursor: pointer;
}
tr {
  height: 35px;
}
tr.even {
  background: #D2E1E9;
  background: rgba(210, 225, 233, 0.35);
}
tr.odd {
  background: #fff;
}
td {
  border: 1px solid #eaeaea;
  color: #333;
  height: 35px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}
td .money {
  color: #390;
}
td .money span {
  color: #033;
  font-size: 9px;
}
td .money-debit {
  color: #A52A2A;
}
th.left,
td.left {
  text-align: left;
  padding-left: 15px;
}
td.right {
  text-align: right;
  padding-right: 15px;
}
td.live {
  background: #ffa;
}
#adjustment td.right {
  background: #e0e0e0;
  border: 0;
  color: #000;
  padding-right: 15px;
  text-align: right;
}
#adjustment td.right + td {
  background: #e0e0e0;
  border: none;
  color: #000;
}
#trendmodal li {
  margin-bottom: 10px;
}
#trendmodal h3 {
  margin-bottom: 5px;
}
#trends {
  position: relative;
  z-index: 0;
}
#trends .titletip {
  margin-left: 20px;
  max-width: 70%;
}
header,
#range {
  margin-bottom: 20px;
}
/* TODO: We need to stop redefining base elements like this because it causes headaches later */
section {
  margin-bottom: 16px;
}
h1 {
  font-size: 3em;
  color: #3B96CF;
}
h2 {
  font-size: 1.6em;
}
p {
  font-size: 1.25em;
  margin-bottom: 5px;
  color: #333333;
  line-height: 1.6em;
}
#range form input,
#range form span,
#range form label,
#range form select {
  float: left;
  margin-right: 10px;
  width: auto;
}
#range form #ed {
  width: 150px;
}
#range form label {
  line-height: 20px;
  font-size: 1.25em;
  font-weight: normal;
  font-family: georgia;
  font-style: italic;
}
#range form select {
  font-size: 14px;
  margin: 5px 10px 5px 0;
}
#range form span {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 30px;
}
.trends_range {
  background-color: #f2f2f2;
  border-bottom: 1px solid #b5b5b5;
  padding-left: 15px;
  padding-top: 10px;
}
.trends_filter {
  background-color: #f2f2f2;
  border-bottom: 1px solid #b5b5b5;
  margin-bottom: 15px;
  padding: 10px 15px;
}
.trends_filter input,
.trends_filter label {
  float: left;
  margin-right: 10px;
}
.trends_filter input {
  margin-top: 7px;
}
.trends_filter label {
  margin-right: 15px;
  cursor: pointer;
}
#iTunesFilter + label {
  margin-top: 3px;
}
#spotifyFilter + label {
  margin-top: 2px;
  cursor: default;
}
.downloads > header,
.streams > header {
  padding-top: 20px;
  background-color: #3b96cf;
  padding-bottom: 10px;
}
.downloads > header h2,
.streams > header h2 {
  font-size: 2.2em;
  color: #FFFFFF;
  margin-left: 15px;
}
.streams > header {
  background-color: #26bb3b;
}
.downloads.grey-out > header,
.streams.grey-out > header {
  background-color: #d9d9d9;
}
.downloads.grey-out > header h2,
.streams.grey-out > header h2 {
  font-size: 1.6em;
  color: #545454;
}
.download_report h2 {
  font-size: 2.2em;
  border-bottom: 3px solid #333333;
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: #333333;
}
.btn-download-report {
  font-size: 1.25em;
  font-weight: 700;
}
.resolutionLabel {
  display: none;
}
.charts {
  position: relative;
}
.chart_controls {
  position: absolute;
  top: 15px;
  left: 20px;
  line-height: 30px;
  font-size: 1.2em;
  z-index: 100;
  background-color: #f2f2f2;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  padding: 5px 10px;
}
.chart_controls label {
  margin-right: 20px;
  font-family: georgia;
  font-style: italic;
  padding: 0 5px;
  color: #333333;
}
.chart {
  margin-top: 60px;
  margin-bottom: 30px;
}
.streams .chart {
  margin-top: 0;
}
.btn-orange {
  background-color: #f47f0c !important;
  border: 1px solid #d8710d !important;
}
.btn-orange:active {
  background-color: #df750d;
}
.grey-btn {
  margin-top: 1.6em;
  border-radius: 5px;
  border: 1px solid #999999;
}
.no-trends p {
  padding: 15px;
  color: #333333;
}
.tabs {
  margin: 0;
}
.tabs p {
  margin-bottom: 10px;
}
.trend-report-menu li.active a {
  background: #3B96CF;
  border-color: #3B96CF;
  color: #ffffff;
}
.streams .trend-report-menu li.active a {
  background: #26bb3b;
  border-color: #26bb3b;
}
.trend-report-menu ul {
  margin: 0;
  padding: 7px 0 6px 10px;
  font-size: 1em;
}
.trend-report-menu li {
  display: inline;
  margin: 0;
}
.trend-report-menu li a {
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #666666;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #666666;
  font-size: 1.25em;
  font-weight: bold;
  padding: 8px .9em;
  text-align: center;
  text-decoration: none;
}
.trends-table {
  width: 100%;
  border: 1px solid #3B96CF;
  border-width: 3px 0;
  clear: left;
  display: table;
  margin-bottom: 5px;
  font-size: 1.25em;
}
.trends-table th:nth-child(odd) {
  background: #ffffff;
}
.trends-table thead th {
  padding-top: 8px;
}
.trends-table tr:nth-child(even) {
  background: #eff5f7;
}
.streams .trends-table {
  border-color: #26bb3b;
}
.streams .trends-table tr:nth-child(even) {
  background: #eff6ef;
}
.streams .trends-table a {
  color: #26bb3b;
}
.trends-table tr td {
  border: 0px;
  font-size: 0.9em;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: right;
  height: auto;
}
.trends-table thead {
  background: none;
  border: 1px solid #cccccc;
  border-width: 0 0 1px;
  height: auto;
}
.trends-table thead tr .header {
  background-image: url(/images/tablesorter/bg.gif);
  background-position: right 13px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.trends-table thead tr .headerSortDown {
  background-image: url(/images/tablesorter/desc.gif);
  background-position: right 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.trends-table thead tr .headerSortUp {
  background-image: url(/images/tablesorter/asc.gif);
  background-position: right 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.trends-table tr th {
  background: none;
  color: #000000;
  font-weight: bold;
  padding-left: 10px;
}
.trends-table td.lt,
.trends-table th.lt {
  text-align: left;
}
.dataTables_length {
  float: right;
  margin-right: 25px;
  vertical-align: baseline;
}
.dataTables_length p {
  display: inline;
  margin: 0;
}
.dataTables_length select {
  margin: 0;
  width: auto;
}
.dataTables_paginate,
.transactions_pagination .pagination {
  float: right;
}
.paginate_enabled_previous,
.paginate_disabled_previous,
.paginate_enabled_next,
.paginate_disabled_next,
.transactions_pagination .pagination .prev_page,
.transactions_pagination .pagination .next_page {
  background: url('../version/shared/images/20x20_sip_controls_sprite.gif') no-repeat;
  display: inline-block;
  height: 20px;
  padding: 0 2px;
  text-indent: -9999px;
  vertical-align: middle;
  width: 20px;
}
.ie7 .paginate_enabled_previous,
.ie7 .paginate_disabled_previous,
.ie7 .paginate_enabled_next,
.ie7 .paginate_disabled_next,
.ie7 .transactions_pagination .pagination .prev_page,
.ie7 .transactions_pagination .pagination .next_page {
  float: left;
}
.paginate_enabled_next,
.paginate_disabled_next,
.transactions_pagination .pagination .next_page {
  background-position: 0 -40px;
}
.paginate_enabled_previous,
.paginate_disabled_previous,
.transactions_pagination .pagination .prev_page {
  background-position: 0 -60px;
}
.dataTables_info {
  float: right;
  padding-right: 5px;
  vertical-align: baseline;
  padding-top: 4px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar {
  fill: #3B96CF;
}
.streams .bar {
  fill: #26bb3b;
}
.ln {
  stroke: #000000;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.x text,
.y text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#trends #breadcrumb {
  margin-bottom: 0;
}
#trends #breadcrumb ul {
  background-color: #f2f2f2;
  border-radius: 0px;
  border-bottom: 1px solid #b5b5b5;
}
#trends #breadcrumb ul > li {
  line-height: 3em;
  padding: 0 2em;
  background-color: #999999;
}
#trends #breadcrumb ul > li:before {
  display: none;
}
#trends #breadcrumb ul > li:after {
  position: absolute;
  top: -1.6em;
  right: -2.5em;
  z-index: 2;
  content: "";
  border: 1.6em solid transparent;
  border-left: 1.6em solid #999999;
  border-top-width: 3.2em;
  border-bottom-width: 3.2em;
}
#trends #breadcrumb ul > li:last-child {
  background-color: #333333;
}
#trends #breadcrumb ul > li:last-child:after {
  border-left-color: #333333;
}
#trends #breadcrumb ul > li:nth-last-child(2) {
  background-color: #777777;
}
#trends #breadcrumb ul > li:nth-last-child(2):after {
  border-left-color: #777777;
}
#trends #breadcrumb ul > li:nth-last-child(3) {
  background-color: #999999;
}
#trends #breadcrumb ul > li:nth-last-child(3):after {
  border-left-color: #999999;
}
#trends #breadcrumb ul > li a {
  color: #FFFFFF;
  font-weight: 400;
}
@media screen and (max-width: 935px) {
  #trends header .columns {
    float: left;
    width: auto;
  }
  #trends header .columns:last-child {
    padding-left: 10px;
  }
}
@media screen and (max-width: 835px) {
  #trends #range p {
    margin-bottom: 10px;
  }
  #trends #range .eight,
  #trends #range .four {
    width: 100%;
    clear: both;
  }
  #trends #range .eight label,
  #trends #range .eight select,
  #trends #range .eight input,
  #trends #range .eight a {
    float: left;
    margin-bottom: 10px;
  }
  #trends #range .eight label {
    width: 84px;
    clear: both;
    text-align: left;
  }
  #trends #range .eight .resolutionLabel {
    display: block;
  }
  #trends #range .eight select {
    width: 170px;
  }
  #trends #range .eight #ed {
    width: 171px;
  }
  #trends #download {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .trends-table {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .trends-table thead {
    display: block;
    float: left;
  }
  .trends-table thead tr {
    display: block;
    height: auto;
  }
  .trends-table thead th {
    border: 1px solid #999;
    border-width: 0 1px 1px 0;
    display: block;
    height: 30px;
    text-align: left;
    width: auto !important;
  }
  .trends-table thead th:last-child {
    border-bottom: 0;
  }
  .trends-table tbody {
    display: block;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    width: auto;
  }
  .trends-table tbody tr {
    display: inline-block;
    height: auto;
    vertical-align: top;
  }
  .trends-table tbody td {
    border-bottom: 1px solid #999;
    display: block;
    height: 30px;
    padding-top: 8px;
    padding-bottom: 4px;
    text-align: left;
  }
  .trends-table tbody td:last-child {
    border-bottom: 0;
  }
}
@media screen and (max-width: 620px) {
  #trends header {
    margin-bottom: 10px;
  }
  #trends header .titletip {
    display: none;
  }
  .trend-report-menu ul {
    font-size: .8em;
  }
  .trend-report-menu ul a {
    padding: 8px .6em;
  }
}
@media screen and (max-width: 480px) {
  #trends header h1 {
    font-size: 2em;
  }
  #trends header h1 img {
    width: 30px;
  }
  #trends #range .blue-btn {
    margin-left: 94px;
  }
  .trend-report-menu ul {
    font-size: .7em;
  }
  .trend-report-menu ul a {
    padding: 8px .4em;
  }
}

/*# sourceMappingURL=source/trends.css.map */
