@charset "utf-8";
/*Defaults*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
/* remember to define focus styles! */
:focus{outline:0;}
body{line-height:1;color:black;background:white;}
ol,ul{list-style:none;}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,
q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
em{font-style:italic;}
strong{font-weight:bold;}
sup{vertical-align:top;font-size:70%;}
a{color:#253326;text-decoration:underline;}
a:hover{text-decoration:none;}
input,select{border:1px solid #9fb8cb;}
input.image{border:none;}
.hidden{display:none;}
.print_page{display:none;}

/*layout*/
body{font-size:62.5%;font-family:Tahoma,Arial,Helvetica,sans-serif;text-align:center;background:#000000;}
.container{width:1026px;margin:50px auto;text-align:left;}
.container_border{float:left;width:1024px;border:1px solid #51cfff;background:#ffffff;}
.header{float:left;width:1024px;height:141px;background:url(/images/marsteller/header.jpg) no-repeat;border-bottom:2px solid #51cfff;}

/*header*/
.thank_you{background:none;height:auto;padding:10px 0 15px 37px;width:987px;}
.logo{float:left;margin:17px 0 0 33px;display:inline;width:235px;height:67px;text-indent:-999em;background:url(/images/marsteller/logo.gif) no-repeat;overflow:hidden;}
.ty_logo{float:left;}
.logo_thankyou{float:left;clear:both;padding:20px 0 0;}
.feature_disc{float:right;}
.quote{float:right;padding:42px 26px 0 0;width:297px;}
.quote p{float:left;padding:0 0 0 20px;background:url(/images/marsteller/left_quote.gif) no-repeat;font-style:italic;font-size:1.4em;line-height:1em;}
.quote p img{position:relative;top:3px;left:5px;}
.quote span{clear:both;float:right;font-size:1.1em;padding:10px 0 0;}
.global{float:right;padding:0 100px 0 0;}
.global li{float:left;padding:0 5px;border-right:1px solid #000;font-size:1.1em;line-height:1.6em;}
.global li.last{border:none;}
.global li a{text-decoration:none;}
.global li a:hover{color:#006699;}
.login{float:left;height:30px;width:657px;margin:38px 0 0;background:#3399cc url(/images/marsteller/login_bkg.gif) no-repeat top right;}
.login form{float:right;padding:3px 10px 0 0;}
.login form *{float:left;}
.login form label{color:#CCFFFF;font-size:1.2em;line-height:20px;padding:0 5px 0 15px;}
.login input{margin:1px 0 0;display:inline;}
.login .submit{border:none;margin:0 0 0 10px;display:inline;}
.header h1{clear:both;font-size:2em;font-weight:bold;color:#25a6d3;line-height:1.2em;padding:15px 0 5px;}
.header h3{color:#666666;font-size:1.1em;line-height:1.2em;font-weight:bold;}
/*content*/
.content{float:left;padding:10px 0 15px 23px;width:1001px;color:#5f5f5f;}
.left_col{float:left;width:559px;}
h1{font-size:3em;padding:0 0 15px;text-align:left;}
.left_col h3{font-size:1.6em;font-weight:bold;padding:5px 0;}
p{font-size:1.4em;line-height:1.5em;padding:0 0 15px;color:inherit;}
.left_col p{padding:0 20px 15px 0;}
.bottom{float:left;width:530px;padding-bottom:9px;background:url(/images/marsteller/bottom.gif) no-repeat bottom left;}
.sides{float:left;width:508px;padding:10px;border-right:1px solid #0095ce;border-left:1px solid #0095ce;text-align:center;}
.bottom_thankyou{float:left;width:818px;padding-bottom:7px;background:url(/images/marsteller/bottom_thankyou.gif) no-repeat bottom left;}
.sides_thankyou{float:left;width:796px;padding:25px 10px 10px;border-right:1px solid #0095ce;border-left:1px solid #0095ce;text-align:center;}
.sides_thankyou p{text-align:left;padding:0 30px 15px;}
.sides ul,.popup ul{text-align:left;font-size:1.6em;line-height:1.2em;padding:10px 10px 20px;}
.sides ul li,.popup ul li{background:url(/images/marsteller/bullet.gif) no-repeat 0 3px;padding:0 0 15px 25px;}
.right_col{float:left;width:442px;}
.right_col img{float:left;}
.learn_more{margin:0 0 0 130px;display:inline;cursor:pointer;}
/*Form*/
.form{float:left;border:1px solid #0095ce;width:500px;padding:20px;}
.form .begin{float:right;width:150px;}
.begin h2{font-size:1.4em;color:#006699;font-weight:bold;}
.begin p{font-size:1.2em;line-height:1.2em;}
.form .fields{width:350px;float:left;}
.form label{font-size:.9em;float:left;clear:both;width:180px;}
.form select{float:left;}
.form .submit{border:none;}
/*Footer*/
.footer{float:left;padding:10px 0 50px;width:1026px;text-align:center;font-size:1.1em;line-height:1.3em;color:white;border-top:none;margin-top:none;}
.footer li{display:inline;padding:0 5px;}
.footer li a{color:white;text-decoration:none;}
.footer li a:hover{text-decoration:underline;}
/*Light Box*/
.anyone_can{position:absolute;top:200px;left:-999em;width:650px;margin-left:-325px;}
.anyone_can_display{border:1px solid #a8a9a9;background:#2594d6;padding:0 30px 30px;left:50%;}
.popup{float:left;background:#fff;width:620px;padding:15px 15px 0;text-align:left;}
.popup h4{font-size:2.6em;font-weight:normal;padding:0 0 15px;}
.sell{float:right;width:145px;border:1px solid #2594d6;margin:0 5px 0 15px;display:inline;padding:5px 0;text-align:center;}
.sell img{float:left;}
.screen{position:absolute;bottom:0;left:0;filter:alpha(opacity=20);-moz-opacity:.20;opacity:.20;background:#000;width:100%;height:100%;padding-top:1500px;margin-top:-1500px;cursor:pointer;}
.close{float:right;cursor:pointer;}
fieldset.submitfield,fieldset.submitfield input{border:none;}
fieldset label{padding:0 1em 2px 1em;}
fieldset p strong{white-space:nowrap;}
fieldset ul li,fieldset .req label{font-size:12.5px;}
#help{padding-right:0 !important;padding-top:0 !important;font-size:13px;}
#help h3{font-size:16px;}
#help p{font-size:13px;line-height:16px;}
#errorExplanation{width:526px;margin-bottom:0;border-color:#0095ce;border-bottom:none;}
.fieldWithErrors{position:relative;top:-1.2em;}
.fieldWithErrors select{float:none;}
