@import url(http://fonts.googleapis.com/css?family=Lato:300|Sorts+Mill+Goudy|Montserrat:700);
.content {
  background: #333 url("/images/live/tclive_bg_compressed.jpg");
  background-attachment: fixed;
  color: #fff;
  padding-bottom: 60px;
}
.content > header {
  background-color: transparent;
  margin-bottom: 0;
  padding-top: 146px;
  padding-bottom: 72px;
  text-align: center;
}
.content > header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 84px;
  font-weight: 700;
  text-transform: uppercase;
}
.title_hang {
  text-align: right;
}
.title_hang h2 {
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 200;
  line-height: 1;
}
.content_strip {
  color: #333;
  text-align: center;
}
.content_strip_content {
  background-color: rgba(255, 255, 255, 0.7);
  border: 12px solid #ffffff;
  padding: 36px;
}
.content_strip_featuring h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 200;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 30px 0 20px;
  text-align: center;
}
.content_strip_featuring h3:before,
.content_strip_featuring h3:after {
  background-color: #333;
  content: '\a0';
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 1px;
  position: relative;
  top: 0.7em;
}
.content_strip_featuring h3:before {
  margin-right: 10px;
}
.content_strip_featuring h3:after {
  margin-left: 10px;
}
.content_strip_box + .content_strip_box {
  margin-top: 36px;
}
.content_strip_box h4 {
  color: #000;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 24px;
}
.content_strip_box .content_strip_social {
  list-style: none;
  margin-bottom: 36px;
}
.content_strip_box .content_strip_social li {
  display: inline;
}
.content_strip_box .content_strip_social li + li {
  padding-left: 10px;
}
.content_strip_box .content_strip_social a {
  color: #000;
  font-size: 20px;
}

/*# sourceMappingURL=source/tunecore_live.css.map */
