.songs dt {width:auto;float:none;}

/* headers */
#header{width:750px;margin:10px auto 10px auto;background-color:#fff;}
#header a{border:0px;text-decoration:none;line-height:24px;}
#header a:visited{border:0px;}
#header a:hover{text-decoration:none;color:#CC0000;border-bottom:1px solid;line-height:24px;}
#header ul{margin:0px;text-align:right;}
#header li.announce{font-size:150%;font-weight:bold;border:0px;}
#header li,#header2 li{display:inline;list-style-type:none;padding-right:7px;border-right:1px solid #444;margin-right:5px;}
#header li a{font-weight:normal;color:#003;text-decoration:none;border:0px;}
#header li a:hover{color:#006699;text-decoration:none;}
#header li.noborder,#header2 li.noborder{border-right:none;}
#header img{text-align:left;float:left;border:0;}
#header fieldset{margin:1em 0;border:0px;}
#header legend{margin:0;padding:0;color:#069;background:transparent;font-size:1.2em;font-weight:normal;}
#header label{padding:2px;}

#header2 {text-align:left;min-width:700px;padding-right:0px;margin-right:0px;}
#header2 label,#header2 input {float:none;clear:none;display:inline;}
#header2 a {color:#191919;padding:3px;text-decoration:none;}
#header2 a:hover {background-color:#EEEEEE;}
#header2 li {border-right-color:#191919;}

#header_bar,#admin_header {padding-top:4px;padding-right:5px;}
#header_bar a:link,#header_bar a:visited,#header_bar {color:#CCFFFF;font-size:12px;font-weight:lighter;}
#header_bar li {border-right:1px solid #CCFFFF;}
#header_bar form {margin-right:5px;}
#header_line {clear:both;background:url(/images/dashed_line1.gif) repeat-x;margin-left:0px;margin-right:0px;height:2px;}

.loginhead {position:absolute;text-align:right;top:0px;right:30px;height:20px;width:350px;font-weight:bold;}
.loginhead h3 {text-align:right;margin-top:12px;float:right;}
.loginhead h4 {float:right;margin:0px;padding:0px;}

#login_link {text-align:right;padding-top:5px;padding-right:25px;height:20px;border:1px solid #FFFFFF;}
#login_link a:hover {background-color:#FFFFFF;}

#mini_login_slider {text-align:right;padding-right:25px;}
.minilogin {margin-top:15px;}

#admin_header {padding-right:5px;font-size:12px;text-align:right;padding-top:0px;}
#admin_header a:link,#admin_header a:visited,#admin_header {color:#005C8E;}
#admin_header li a:hover {color:#f00;}

.salepointable {
  padding: 10px 10px 5px 10px;
  border: 1px dashed #ccc;
  margin-bottom: 5px;
  clear: left;
  position: relative;
  background-color: rgba(210, 225, 233, 0.35);
  width: 560px;
  float: left;
}

.live {
	background-color: #efe;
}

.ready {
	background-color: #fee;
}

.salepointable .artwork {
  float: left;
  margin-right: 1em;
}
.salepointable .artwork img {
  width: 100px;
  height: 100px;
}
.salepointable .state {
  position: absolute;
  right: .5em;
  top: .5em;
  text-align: right;
}

#flash_container {padding:12px;}

/* footer */
.footer {width:750px;margin:10px auto 10px auto;border-top:1px solid #aaa;margin-top:25px;font-size:.8em;color:#666;clear:both;}
.footer ul {float:right;margin:0px;padding:3px;}
.footer li {display:inline;list-style-type:none;padding-right:6px;}
.footer li a {color:#111;font-size:1em;}
.footer span {float:left;padding:3px;}

/* from forms.css */
.rightarrow{float:right;display:block;margin:0px;margin-top:10px;margin-right:12px;padding:0px;border:0px;}
#formcontainer{margin:0px auto;padding:10px;border:none;width:550px;text-align:right}
form{margin:0;padding:0;}
fieldset{padding:5px;margin:1em 0;border:none;border:1px solid #ccc;position:relative;}
.step1,.step2,.step3,.step4,.step5{background-repeat:no-repeat;background-position:5px 12px;}
.step1{background-image:url(../images/1.gif);}
.step2{background-image:url(../images/2.gif);}
.step3{background-image:url(../images/3.gif);}
.step4{background-image:url(../images/4.gif);}
.step5{background-image:url(../images/5.gif);}
legend{margin:0.5em 0;padding:0 .5em;color:#333;background:transparent;font-size:1.3em;font-weight:normal;text-align:left;}
label{width:200px;padding:2px 1em;text-align:right;clear:left;float:left;}
.album_info label,#songs_container label{width:undefined;padding:0px;}
.callbox label{width:60px;text-align:left;}
.callbox{text-align:left;}
.callbox input{margin-top:3px;}
fieldset div{margin-bottom:.5em;padding:0;display:block;text-align:left;}
fieldset div input,fieldset div textarea{padding:1px;margin:0 0 0.5em 0;color:#333;}
.opt{text-align:left;}
.opt input,.opt label{margin-top:5px;}
div.fm-multi div{margin:5px 0;}
div.fm-multi input{width:1em;}
div.fm-multi label{display:block;width:200px;padding-left:5em;text-align:left;}
#fm-submit{clear:both;padding-top:1em;text-align:center;}
#fm-submit input{border:1px solid #333;padding:2px 1em;background:#555;color:#fff;font-size:100%;}
input:focus,textarea:focus{background:#cde8ff;color:#000;}
/* required fields - does not work in IE */
fieldset div.fm-req{font-weight:bold;}
fieldset div.fm-req label:before{content:"* ";/* does not work in IE */}
#formcontainer li{list-style-type:none;padding:10px;padding-left:0px;padding-top:0px;display:inline;}
#formcontainer ul{padding:0px;}
.submitfield{text-align:right;border:1px solid #ccc;}
.labe{height:18px;padding-right:8px;}
.pulld{width:140px;}
.leftpad{padding-left:80px;width:400px;}
.uploadStatus{display:none}
.progressBar{display:none}
.query_builders select.column_name{width:100px;}
.query_builders select.operator{width:40px;}
.query_builders input{width:100px;}
#preview{padding:10px;text-align:left;font-weight:bold;}
.mailing-leftcol{padding:8px;width:270px;text-align:left;float:left;}
.mailing-rightcol{float:left;width:600px;}
#recipients-lb{padding:10px;position:relative;margin-top:10px;}
#recipient-list ul{list-style-type:none;}
#add_schedule_form div.calendar_date_select{margin-left:80px;margin-top:10px;}
#new_mailing_form fieldset{width:600px;}
div.button-array{text-align:right;}
div.button-array form.button-to,div.button-array form.button-to div{display:inline;padding-left:4px;}
table.pivoted th{text-align:left;padding-right:2em;}


/* from warns.css */
.check {color: #272;background: #ABD558;}
.warn {color: #9E7C07;background: #FEF5D6;border: 1px solid #553;}
.red {color: #B12101;background: #FFAF38;}
.inform {color: #096B83;background: #C3F1FD;border: 1px solid #005;}
.explanatory {width: 300px;padding: 1em;margin-left: auto;margin-right: 10em;}
.fieldWithErrors {padding: 0px;background-color: #f33;border: 2px dotted #400 !important;display: inline;}
#errorExplanation {border: 1px solid #500;padding: 7px;padding-bottom: 12px;margin-bottom: 20px;background: url("../images/bg_warn.gif");}
#errorExplanation h2 {text-align: right;width: 80%;font-weight: bold;padding: 5px 20px;font-size: 12px;color: #000;}
#errorExplanation p {text-align:right;width: 80%;color: #000;margin-bottom: 0;padding: 5px;margin-right: 100px;}
#errorExplanation ul {width:100%;margin-left: 80px;}
#errorExplanation ul li {float:none;width: 300px;font-size: 12px;list-style: square;display: table;text-align:left;}

/* from songs.css */
div.freeTrack,div.extraTrack{padding:4px;margin:4px;}
div.freeTrack span.note,div.extraTrack span.note{padding:4px;font-size:9pt;margin-right:10px;font-weight:bold;font-style:italic;color:#ffffff;}
div.freeTrack span.note{background:#339933;}
div.extraTrack span.note{background:#993333;}
div.freeTrack span.name,div.extraTrack span.name{font-size:12pt;font-weight:bolder;}
div.freeTrack span.controls,div.extraTrack span.controls{font-size:10pt;margin-left:10px;}
.song_file_label{height:40px;}
.song_file_label img{}
.song_uploaded{background-color:#339900;color:#FFFFFF;}
.song_no_upload{background-color:#EBEBEB;color:#000000;}
.song_error{background-color:#F9AF1F;color:#FFFFFF;}
.song_top_buffer{min-height:20px;}
.track_number_large{margin-left:0px;font-size:2em;font-weight:bold;border:1px solid #666666;padding:0px;width:40px;height:35px;text-align:center;float:left;margin-bottom:0px;padding-top:5px;}
.track_number_small{margin-left:0px;font-size:1.3em;font-weight:bold;border:1px solid #666666;padding:0px;padding-top:3px;width:25px;height:22px;text-align:center;margin-bottom:0px;}
.track_number_teensy{margin-left:0px;margin-right:5px;font-size:.98em;font-weight:normal;border:1px solid #666666;padding:0px;width:13px;height:14px;text-align:center;margin-bottom:0px;float:left;clear:both;}
.track_information_area{display:block;width:380px;float:left;padding-left:5px;}
.track_title{font-size:1.8em;margin:0px;}
.track_artist{padding-top:5px;font-size:1em;padding-bottom:0px;margin-bottom:0px;}
.track_isrc{padding-top:5px;font-size:1em;}
.drag_buttons{cursor:pointer;position:relative;right:-320px;top:-20px;}
.song_utility_controls{text-align:right;}
.song_utility_controls img{position:relative;bottom:-20px;}
.inline_edit_actions{float:left;text-align:right;width:150px;}
.inline_edit_indicator{width:100px;height:40px;text-align:right;}
#songslist{border:1px solid #333;text-align:center;margin:10px;}
#songsfields{text-align:left;display:block;padding-top:15px;}
#songsfields label,#songsfields2 label{float:left;width:70px;line-height:13px;}
#songsfields input,#songsfields2 input{float:left;}
#songsfields2{width:360px;float:left;}
#songs{margin:0px;padding:0px;margin-left:5px;margin-top:20px;}
.song_drag_handle{position:relative;top:24px;}

/* from progress.css */
div.uploadStatus{margin:5px;}
div.progressBar{margin:5px;}
div.progressBar div.border{background-color:#fff;border:1px solid #ccc;height:18px;width:100%;}
div.progressBar div.background{background-color:#333;height:18px;width:0%;}

/* from artwork.css */
span#colorblock{background-color:#dddddd;}
img.textImage{cursor:move;}
div#thumbs_container{padding:5px;width:540px;height:235px;border:1px solid #333;}
#edit_image{margin:0px auto;border:1px solid #333;width:400px;height:400px;display:block;}

/* from tour.css */
img.screen{/* for images placed on right */
float:right;clear:right;margin:-5px 0px 5px 20px;}
img.span{/* for images spanning two text fields */
float:right;clear:right;margin:-30px 0px 5px 20px;}
img.art{/*for the add-art pic */
float:right;clear:right;margin:-8px 30px 5px 20px;width:17.5em;height:17em;}
img.songs{/*for add-song pic */
float:right;clear:right;margin:-8px 5px 10px 20px;width:23em;height:18em;}
img.confirm{/*for confirmation pic */
float:right;clear:right;margin:-8px 5px 5px 20px;width:23em;height:21.5em;}
img.upload{float:right;clear:right;margin:-5px 5px 5px 20px;width:23em;height:17em;}

/* from manufacture.css */
#manufacture_form h2.man_head{font-size:2em;color:#669966;}
#manufacture_form{width:100%;margin-left:0px;font-size:1.1em;}
#manufacture_form h2{font-size:14px;font-weight:bold;text-align:left;color:#006699;float:none;margin-bottom:10px;width:100%;height:20px;}
#manufacture_form .errorExplanation h2{color:#000000;text-align:center;}
#manufacture_form .errorExplanation{text-align:left;}
#manufacture_form p{clear:both;padding-top:5px;}
#manufacture_form label{color:#777777;font-size:1.1em;font-weight:bold;}
#manufacture_form .label2{width:50px;text-align:left;padding-right:2px;float:left;clear:none;}
#manufacture_form select{float:left;}
.manufacture_note{font-weight:normal;}
#cd_manufacturing_header a{text-decoration:none;}
#cd_manufacturing_header{width:290px;text-align:right;float:right;}
#cd_manufacturing_header #man_nav{padding-right:10px;}
#cd_manufacturing_header #man_nav .nav_selected{color:#6699FF;}
.note{color:#888888;}
#manufacture_form fieldset{border-width:0px;padding-left:10px;text-align:left;margin-top:35px;}
  /* Manufacturing Options */
.form_option1{width:150px;float:left;text-align:center;}
.form_option1 div{text-align:center;color:#003366;padding:2px;}
.form_option2{width:120px;float:left;text-align:center;}
.form_option2 div{text-align:center;color:#555555;padding:2px;}
.image_replace{text-indent:-5000px;background-repeat:no-repeat;}
h2.image_replace{margin-top:20px;}
.image_replace2{text-indent:-5000px;background-repeat:no-repeat;height:1px;}
.dotted_line{background-image:url(/images/manufacture/line.gif);height:5px;background-position:0px 2px;background-repeat:repeat-x;}
.dotted_line_vertical{background-image:url(/images/manufacture/line2.gif);width:5px;background-position:2px 0px;background-repeat:repeat-y;float:left;}
  /* Table Definitions */
table{border-collapse:collapse;}
td{padding:3px;}
.row2{background-color:#EBF2FA;}
tr.line{background-image:url(/images/manufacture/line.gif);background-position:bottom;background-repeat:repeat-x;}
#manufacture_form th{text-align:center;}
  /* Pricing Modules */
.pricing1,.pricing3{width:420px;margin-top:20px;float:left;margin-bottom:10px;/*white-space:no-wrap;*/}
.pricing2,.pricing4{width:420px;margin-top:20px;float:left;padding-left:20px;background-image:url(/images/manufacture/line2.gif);background-position:2px 0px;background-repeat:repeat-y;margin-bottom:10px;}
.pricing3,.pricing4{width:270px;}
.image_float{float:left;width:55px;padding-top:5px;text-align:center;}
.image_float2{float:left;width:110px;padding-top:5px;text-align:center;}
.table_float{float:left;width:300px;margin-left:5px;margin-right:5px;}
.table_float_small{float:left;width:150px;}
.table_float,.table_float_small{color:#222222;font-size:.78em;white-space:nowrap;}
.table_float th,.table_float_small th{color:#777777;padding:3px;}
.table_float td,.table_float_small td{text-align:center;}
th.black_bold,td.black_bold{color:#000000;font-weight:bold;text-align:center;}
.gray{background-color:#EEEEEE;}
.explanation{width:500px;text-align:left;}
.explanation_image{width:320px;margin-top:-30px;float:right;}
.explanation_link{width:110px;text-align:center;}
.faq_head{margin-top:20px;margin-bottom:5px;}
.faq_body{padding-left:30px;width:500px;}
  /* HowTo Page */
.step_image{position:relative;left:-90px;}
.step_left{margin-top:20px;width:100px;float:left;}
.step_right{margin-top:20px;width:600px;float:left;margin-bottom:20px;}
.step_right div{margin-top:5px;}
.step_right h2{padding-top:30px;margin-bottom:0px;}
.pdf_link{display:block;font-size:10px;}
.manlabel{display:inline;font-weight:bold;padding:5px;}

/* from album.css */
.album_display {text-align:left;width:100%;}
.album_display .status a {color:#069;}
.album_display h1,.album_display h2,.album_display h3,.album_display h4 {text-align:left;float:none;display:block;width:100%;font-weight:normal;}
.album_display h2 {color:#848484;border-bottom:1px solid #848484;font-size:1.4em;margin-bottom:5px;}
.album_display h4 {margin:8px 0 0;font-size:1em;font-weight:bold;}
.album_display #album_nav {width:260px;float:left;padding:0 10px 0 0;border:1px solid #fff;}
.album_display #album_body {padding-top:10px;}
.album_status {margin-bottom:20px;}
.album_display #main_content {float:left;width:430px;padding-left:10px;}
.album_display ul {padding:0;margin:0;}
.album_display li {list-style-type:none;padding-top:0;padding-left:10px;padding-bottom:4px;}
.album_display li img {position:relative;bottom:-5px;}
div.rights_assignment {width:520px;text-align:left;clear:left;background:#ccf;border:1px solid #999;margin:3px;padding:2px 5px 4px;}
.album_section_edit_links {color:#069;border-top:1px dashed #999;padding-top:5px;text-align:right;margin-top:10px}
.song_table {width:100%}
.song_table td {border-bottom:1px dashed #999;padding-top:8px;padding-bottom:8px;vertical-align:top;}
.album_display .song_table td a {color:#848484;}
.song_table .row_even {background-color:#FAFAFA;}
#liner_notes {margin-top:20px;margin-bottom:40px;padding-right:10px;}
#liner_notes p {margin-bottom:10px;}
.album_highlight:hover {background-color:#FAFAFA;}
.album_display .status {height:20px;padding-left:20px;background-repeat:no-repeat;}
#general_album_information {width:430px;float:left;padding:10px;padding-top:0px;}
#general_album_information #album_title {font-size:2.5em;margin:0 0 5px;padding:0;border-bottom:1px solid #999;}
#general_album_information #album_artist {display:inline;margin:0;padding:0;border-width:0;color:#000;font-weight:bold;font-size:14px;}
#album_artwork{border:1px solid #fff;width:270px;float:left;padding-bottom:20px;height:270px;}
#album_body{border:1px solid #fff;border-top:4px solid #dadab5;clear:both;}

/* Album Status Classes */
.album_status {border:1px solid #aaa;}
.album_status .album_status_title {border-width:0;color:#069;padding:4px 4px 0;font-size:1.5em;}
.album_status_header {background-repeat:no-repeat;height:33px;margin-bottom:10px;font-size:2em;padding-left:66px;padding-top:6px;}
#album_tracks {padding-right:10px;}
.album_status_in_progress {background: #fc0 url(/images/albums/album_status_in_progress.gif);color:#a61310 !important}
.album_status_locked{background: #c00 url(/images/albums/album_status_locked.gif);color:#fff !important;}
.album_status_ready_for_payment{background: #069 url(/images/albums/album_status_payment.gif);color:#fff !important;}
.album_status_finalized{background: #390 url(/images/albums/album_status_finalized.gif);color:#FFFFFF !important;}
.album_status_live{background: #39c url(/images/albums/album_status_live.gif);color:#FFFFFF !important;}
.album_opacity1{filter:alpha(opacity=40);opacity:0.3;color:#ccc;}
.album_opacity2{filter:alpha(opacity=05);opacity:0.6;color:#ccc;}
.album_opacity_link{color:#069;position:relative;top:-100px;text-align:center;font-size:2em;}
.status_complete{color:#069;background-image:url(/images/albums/album_status_complete.gif);}
.status_not_complete{color:#069;background-image:url(/images/albums/album_status_not_complete.gif);}
.status_in_progress{color:#009;background-image:url(/images/albums/album_status_not_complete.gif);}
.status_disabled{color:#999;background-image:url(/images/albums/album_status_not_complete.gif);}
.status_disabled_complete{color:#999;background-image:url(/images/albums/album_status_complete.gif);}
.suggested_next_step{font-weight:bold;white-space:nowrap;}
.title-box{position:relative;margin:.5em 0em;border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:0em .5em 1em 1em;background-color:#F3F3F3;}
.title-box-flash{position:relative;margin:.5em;border:.1em solid #333;padding:0.3em;text-align:center;background-color:#F3F3F3;}
.admin-album-img {width:100px;height:100px;float:left;margin-right:10px;padding:.5em 0em;}
.artist {padding: .5em 1em;}
.title-box h3{font-weight:bold;font-size:15px;margin: 0px;padding:.1em 0em .5em 0em;color:#666;}
.variable_price {padding:10px;}
.variable_price ul {text-align:left;}
.variable_price p {clear:both;padding:0 0 15px;}
.variable_price table {margin-top:0;margin-left:0;text-align:left;padding:0;width:425px;float:left;}
.variable_price table th {font-weight:bold;border-bottom:1px solid #555;width:50%;padding-top:10px;padding-bottom:4px;}
.variable_price table td.right {text-align:right;padding-right:25px;}
.variable_price table tr.alt {background:#eee;}
.variable_price_selection_box {padding:0;list-style-type:none;}

/* from contact.css */
#contactus h1,#contactus h2,#contactus h3,#contactus h4{display:block;text-align:left;float:none;}
#contactus h2{margin-bottom:0px;width:100%;margin-top:30px;font-size:1.4em;}
#contactus h3{margin-bottom:0px;padding-bottom:0px;}
#contactus pre{text-align:left;}
#contactus p{margin-top:0px;padding-top:3px;padding-bottom:10px;margin-bottom:0px;}
#contactus .addressline{padding-left:10px;}

/* from discography.css */
.discography_track_list{list-style:none;padding-left:0px;margin-left:0px;}
.discography_track_list li{margin-bottom:10px;margin-left:0px;padding-left:0px;}
.discblock h1{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:normal;width:350px;height:20px;padding:5px;margin:5px 0 5px 130px;text-align:left;}
.discblock h2{font-size:16px;color:#333;font-weight:normal;text-align:left;padding:0px 5px;margin:0px 5px;width:300px;}
.linklist{width:160px;float:left;padding:0px;margin:5px;padding-top:0px;height:200px;margin-left:10px;border-left:1px solid #666;height:85%;}
.linklist ul,.video_display ul{font-size:10px;margin:2px 5px 0px 10px;padding:3px;line-height:18px;list-style-type:none;}
.storelist{width:200px;float:right;margin:10px;height:200px;padding-left:10px;padding-top:0px;margin-left:10px;border-left:1px solid #666;margin-top:65px;height:85%;}
.storelist table{margin:0px;padding:1px;border:0px;}
.storelist td{padding:2px;}
.albumcover{left:0;width:110px;float:left;margin-left:10px;margin-top:10px;padding:3px;}
.discblock .status{font-weight:bold;text-align:left;color:#360;margin:0;margin-bottom:5px;padding:0px;width:100px;font-size:1.2em}
.albumcover strong{line-height:14px;font-weight:bold;}
.albumcover img{margin:0px;border:1px solid #333;}
.albumcover img a{border:0px;text-decoration:none;}
.albumcover img a:hover{border:0px;text-decoration:none;}
.songlist{width:170px;margin:5px;margin-left:10px;padding:0px;color:#222;font-size:10pt;float:left;}
.songlist ol{font-size:10px;margin:2px 5px 0px 0px;padding:3px;}
.shipping_options h3{padding-top:10px;}

/* from invoice.css */
.album_item h1,.album_item h2{margin-top:0px;padding-top:0px}
.album_item h1{font-size:1.5em;margin-bottom:3px;}
.album_item h2{font-size:1em;color:#000000;padding-left:0px;}
.album_item td{vertical-align:top;}
table.album_price_table{font-size:9px;}
table.album_price_table .price{text-align:right;}
table.album_price_table .line{border-bottom:1px solid #666666;}

/* from index.css */
  /* about tunecore background css */
#about_tunecore{width:250px;float:left;}
#about_tunecore p,#about_tunecore .about_tunecore_divider,#about_tunecore .about_tunecore_head{padding-left:10px;padding-right:15px;}
#about_tunecore .about_tunecore_divider,#about_tunecore .about_tunecore_head{font-size:1.3em;padding-top:10px;font-weight:bold;background-image:url(/images/homepage/dashed_line.gif);background-repeat:no-repeat}
#about_tunecore .about_tunecore_head{background-image:url(/images/homepage/about_tunecore_block_head.gif);}
#about_tunecore .about_tunecore_body{height:100%;min-height:400px;background-image:url(/images/homepage/about_tunecore_block_body.gif);background-repeat:repeat-y}
#about_tunecore .about_tunecore_foot{height:20px;background-image:url(/images/homepage/about_tunecore_block_foot.gif);background-repeat:no-repeat}
  /* stores */
#stores{margin-top:10px;height:60px;background-image:url(/images/homepage/stores.gif);background-position:15px 0px}
/* i know this isn't very DRY but it is causing weird overlaps in the css */
#stores_shockhound{margin-top:10px;height:60px;background-image:url(/images/homepage/stores_shockhound.gif);background-position:15px 0px}
  /* three steps */
#three_steps{height:79px;background-image:url(/images/homepage/3steps.gif)}
  /* promotions area */
#promotion_area{width:500px;height:220px;float:left}
#promotion_link{text-align:right;padding-top:2px;padding-right:10px}
  /* News and Promote */
#news_and_promote{padding-top:10px;float:left;}
#news_and_promote p{padding-bottom:6px;}
.spaced_paragraphs p{padding-bottom:10px;font-size:1.4em;}
.asdf_temp{padding:25px 0px 25px 10px;}
#promote{float:left;width:255px;height:100%;}
#promote_head{color:#003858;padding-top:10px;padding-left:8px;font-size:1.3em;font-weight:bold;height:20px;background-image:url(/images/homepage/get_noticed_head.gif);background-repeat:no-repeat;}
#promote_body{padding:8px;padding-top:0px;height:150px;background-image:url(/images/homepage/get_noticed_body.gif);background-repeat:repeat-y;}
#promote_foot{height:29px;background-image:url(/images/homepage/get_noticed_foot.gif);background-repeat:no-repeat;}
#news{float:left;width:247px;height:150px;}
#news_head{color:#003333;padding-top:10px;padding-left:8px;font-size:1.3em;font-weight:bold;height:20px;background-image:url(/images/homepage/news_head.gif);background-repeat:no-repeat;}
#news_body{padding:8px;padding-top:0px;height:100%;background-image:url(/images/homepage/news_body.gif);background-repeat:repeat-y;}
#news_foot{height:29px;background-image:url(/images/homepage/news_foot.gif);background-repeat:no-repeat;}
  /* What are people saying */
#people{padding-left:5px;clear:both;width:100%;margin-top:15px;color:#FFFFFF;}
#people_left{float:left;width:240px;padding-right:5px;}
#people_right{float:left;width:475px;padding-left:12px;}
#people_head{height:13px;background-image:url(/images/homepage/quote_head.gif);background-repeat:no-repeat;}
#people_body{padding:8px;padding-top:0px;height:100%;background-image:url(/images/homepage/quote_body.gif);background-repeat:repeat-y;}
#people_foot{height:13px;background-position:left bottom;background-image:url(/images/homepage/quote_foot.gif);background-repeat:no-repeat;}
.quoted_person{font-size:1.4em;color:#000000;padding-top:5px;}
.people_quote{font-size:1.3em;color:#003858;}
  /* modules */
.hollow_module{background-image:url(../images/frames/hollow_gray_bottom.gif);background-repeat:no-repeat;background-position:bottom left;float:left;width:250px;min-height:200px;}
.hollow_module h1{width:210px;line-height:1.1em;font-size:1.4em;font-weight:bold;text-align:left;background:url(../images/frames/hollow_gray_top.gif) no-repeat top left;padding:.9em 1.1em 0 .9em;margin:0 0 .5em 0;}
.hollow_module p{padding-left:1em;padding-right:1.2em;}
.hollow_module a{display:block;text-align:right;font-size:1.3em;padding-bottom:1em;padding-right:1.3em;}
.blue_module{background-image:url(../images/frames/solid_blue_bottom.gif);background-repeat:no-repeat;background-position:bottom left;float:left;width:250px;min-height:200px;color:#FFFFFF;position:relative;top:3px;}
.blue_module h1{width:240px;line-height:1.1em;font-size:1.7em;color:#000000;font-weight:bold;text-align:center;background:url(../images/frames/solid_blue_top.gif) no-repeat top left;padding:.9em 1.1em 0 0em;margin:0 0 .5em 0;}
.blue_module p{font-size:1.6em;color:#FFFFFF;position:relative;left:-5px;}
.blue_module a{display:block;text-align:right;font-size:1.3em;padding-bottom:1em;padding-right:1.3em;}
#three_links img{margin-left:30px;margin-right:10px;}
.about_tc{font-family:Verdana,Helvetica,Arial,sans-serif;}
.about_tc h1{text-align:right;font-size:2.2em;font-weight:bold;color:#246A8D;margin:0;padding:0;}
.about_tc h2{display:block;float:none;text-align:right;font-size:1.5em;font-weight:normal;color:#003366;margin:0;padding:0;width:100%;}


/*from promotions.css */
.promotion_cell h3{margin-top:5px;width:240px;text-align:center;font-size:1.15em;}
.promotion_body h1,.promotion_body h2,.promotion_body h3,.promotion_body h4{width:100%;float:none;text-align:left;}
.promotion{float:left;margin:1em 5px 0 0;}
.promotion_cell{float:left;height:200px;margin:0 5px 0 0;width:240px;}
#promo_strip_container{clear:both;padding:0;}
.promo_strip{float:left;margin:1em 10px 1.5em 0;}

/* from report.css */

div.col {width:470px;float:left;}
div.col+div.col {margin-left: 15px;}
h2#cal {margin: 50px 0 0;}
iframe {margin: 20px 0;}

img{border:0px;}
p{color:#111;text-align:left;background:transparent;}
a:hover{color:#f00;}
a:visited{color:#339;}
h1.index{font-weight:normal;color:#360;font-size:15px;margin-bottom:2px;padding-left:20px;margin-left:60px;padding-top:60px;background:url(../images/blank_arrow_big.gif) no-repeat top right;width:380px;text-align:left;font-weight:bold;font-size:2.1em;height:120px;}
h1.wizard{font-weight:normal;color:#360;font-size:20px;padding-left:30px;margin-left:20px;padding-top:13px;background:url(../images/blank_arrow.gif) no-repeat top right;width:900px;height:60px;}
h1.announce{float:right;clear:none}
h1.page_title{/*color:#669900;*/
color:#69B545;text-align:right;font-size:2.5em;padding:0px 5px 0px 0px;margin:0px;}
.flatpage h2{font-weight:normal;width:200px;margin:5px;}
h3.flags{float:none;text-align:left;line-height:18px;border-bottom:1px solid #999;margin:25px 0 5px 0;font-weight:normal;}
.report-table h2{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;float:none;text-decoration:underline;color:#000000;text-align:center;}
.report-table h3{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;float:none;text-decoration:none;font-weight:normal;color:#000000;text-align:center;}
#maincontent{width:740px;margin:10px auto 40px auto;/*padding:1em;*/
text-align:center;clear:both;min-height:700px;}
body#mailings div#maincontent{width:900px;}
body#mailings div#header{width:900px;}
.user{width:400px;background:#fff;}
.leftcol{float:right;text-align:right;width:250px;}
img.homepage{margin-top:40px;}
.callbox{border:1px solid #333;width:230px;text-align:center;float:right;padding:5px 5px 10px 5px;}
.callbox label{width:130px;display:block;float:left;}
.callbox #message{}
.callbox #form{height:35px;margin:1px;padding:1px;border:0;}
.callbox p{margin:4px 20px;padding:4px;width:190px;text-align:left;}
legend#start{color:#006;text-align:right;}
legend#tour{color:#360;text-align:right;}
legend#news{color:#630;text-align:right;}
.subhead{width:400px;float:left;margin:0px;margin-left:40px;text-align:center;padding:1.1em 0 0 0;margin-bottom:20px;}
.subhead strong{font-family:Helvetica,Arial,sans-serif;font-size:13pt;text-align:center;color:#006699;text-transform:uppercase;}
.biggerhead{font-size:14pt;}
.biggesthead{font-size:16pt;}
.copyline{width:470px;float:left;clear:left;text-align:left;padding:5px 0 2em 0;border-bottom:1px solid #aaa;margin-top:10px;}
.copyline p{width:350px;margin:0px;margin-left:120px;text-align:left;padding:0px;margin-bottom:1em;clear:none;}
.copyline ul{width:350px;clear:none;list-style-type:none;margin:0px;margin-left:120px;padding:0px 0px 3px 0px;font-weight:bold;}
.bottom{margin-bottom:100px;border-bottom:0px;}
.floatLeft{float:left;margin-left:10px;margin-right:3px;}
.floatRight{float:right;margin:4px;}
.infobox{border-width:1px;border-color:#336699;border-style:solid;text-align:center;width:220px;padding:1em;background:#cce7ff;float:right;margin-top:10px;clear:right;}
.infohead{text-align:center;font-size:11pt;color:#003366;font-weight:bold;}
.infosubhead{text-align:center;font-size:9pt;color:#003366;}
.infoline{font-size:14px;font-weight:bold;text-align:right;color:#003366;margin:0;padding:0 10px 3px 0px;float:left;width:80px;}
.infoinfo{font-size:11px;text-align:left;color:#000;float:left;width:130px;padding:0 0px 10px 0px;}
.iconlist{list-style-type:none;margin:0;padding:0;font-weight:bold;}
li#canada{list-style-type:none;padding:5px 0 3px 35px;background-image:url(../images/flag-ca.gif);line-height:25px;width:180px;background-repeat:no-repeat;background-position:0 50%;margin:.4em 15px;}
li#usa{list-style-type:none;padding:5px 0 3px 35px;background-image:url(../images/flag-us.gif);line-height:25px;width:180px;background-repeat:no-repeat;background-position:0 50%;margin:.4em 15px;}
li#japan{list-style-type:none;background-image:url(../images/flag-jp.gif);line-height:25px;background-repeat:no-repeat;background-position:0 50%;padding:5px 0 3px 35px;margin:.4em 15px;}
li#uk{list-style-type:none;background-image:url(../images/flag-eu.gif);line-height:25px;background-repeat:no-repeat;background-position:0 50%;padding:5px 0 3px 35px;margin:.4em 15px;}
li#au{list-style-type:none;background-image:url(../images/flag-au.gif);line-height:25px;background-repeat:no-repeat;background-position:0 50%;padding:5px 0 3px 35px;margin:.4em 15px;}
li#rhapsody{list-style-type:none;background-image:url(../images/flag-rh.gif);line-height:25px;background-repeat:no-repeat;background-position:0 50%;padding:5px 0 3px 35px;margin:.4em 15px;}
li#napster{list-style-type:none;background-image:url(../images/flag-np.gif);line-height:25px;background-repeat:no-repeat;background-position:0 50%;padding:5px 0 3px 35px;margin:.4em 15px;}
li#musicnet{list-style-type:none;background-image:url(../images/flag-mn.gif);line-height:25px;background-repeat:no-repeat;background-position:0 50%;padding:5px 0 3px 35px;margin:.4em 15px;}
li#emusic{list-style-type:none;background-image:url(../images/flag-em.gif);line-height:25px;background-repeat:no-repeat;background-position:0 50%;padding:5px 0 3px 35px;margin:.4em 15px;}
li#connect{list-style-type:none;background-image:url(../images/flag-sc.gif);line-height:25px;background-repeat:no-repeat;background-position:0 50%;padding:5px 0 3px 35px;margin:.4em 15px;}
li#groupietunes{list-style-type:none;background-image:url(../images/flag-gp.gif);line-height:25px;background-repeat:no-repeat;background-position:0 50%;padding:5px 0 3px 35px;margin:.4em 15px;}
.copyline li{margin:0px;padding:0px 0px 3px 0px;list-style-type:circle;}

/* sigh,IE is crap */
* html .copyline p{margin-top:-12px;}
* html .copyline ul{margin-top:-12px;}
.flags{text-align:center;}
.flags td{background:none;width:100px;vertical-align:top;}
.topline{float:left;}
.bann{font-weight:bold;padding:5px;/*margin:1em;*/
line-height:18px;text-align:left;}
.bann img{margin:3px;float:left;clear:left;padding:0px;position:relative;top:-3px;}
.tight{margin-left:120px;width:280px;}
.albumtitle{font-size:24pt;font-weight:normal;font-family:Arial,Helvetica,sans-serif;color:#222;}
.discblock{width:750px;margin:50px auto;border-top:1px dotted #333;height:280px;clear:both;text-align:left;}
.narrow{width:550px;height:120px;display:block;padding:0px;margin-top:10px;margin-bottom:5px;}
.single_track{border-top:1px solid #EEEEEE;border-bottom:1px solid #EEEEEE;clear:both;}
#album_songs{border:1px solid #FFFFFF;}
.song_uploads{border:1px solid #FF0000;background-color:#00CC00;}
.owner_status{width:150px;background-color:#ccc;float:left;margin:15px;padding:2px;border:2px solid #333;}
.owner_status p{color:red;padding:4px;text-align:center;}
.wizardcontainer{width:100%;height:15px;margin:0px;display:block;border-top:1px solid #777;border-bottom:1px solid #777;text-align:center;padding:0px;}
.pointercontainer{width:100%;height:17px;margin:0px;margin-top:20px;display:block;border:0px;text-align:center;padding:0px;}
ul.wizard{background:#FFFFFF;margin:0px auto;width:800px;height:15px;border:0px;margin-bottom:0px;list-style-type:none;clear:both;}
ul.pointer{background:#FFFFFF;margin:0px auto;width:800px;height:18px;border:0px;margin-bottom:2px;list-style-type:none;}
.wizard li{font-family:arial,helvetica;font-size:9pt;color:#aaa;text-transform:uppercase;display:inline;float:left;text-align:center;width:140px;margin:0px;border:0px;padding:0px;color:#aaa;}
.pointer li{display:block;float:left;width:140px;height:10px;padding:0;margin:0px;border:0;}
.wizard li.current{color:#777;background:#99ccff;margin:0px;padding:0px;border-bottom:1px solid #99ccff;}
.pointer li.current{text-align:center;width:140px;margin:0px;padding:0px;}
div.lt{padding:2px;background-color:#fff;border-bottom:1px solid #aaa;display:block;height:12px;margin:0px;}
div.dk{padding:2px;background-color:#eee;border-bottom:1px solid #aaa;display:block;height:12px;margin:0px;}
.name{width:400px;height:12px;display:block;float:left;clear:left;background:transparent;}
.controls{width:70px;height:12px;display:block;float:right;clear:right;background:transparent;}
.wizard a{text-decoration:none;color:#aaa;padding:0px;border:0px;}
.wizard a:hover{text-decoration:none;color:#aaa;padding:0px;border:0px;}
.wizard a:visited{text-decoration:none;color:#aaa;padding:0px;border:0px;}
.current a{text-decoration:none;color:#333;padding:0px;border:0px;}
.current a:hover{text-decoration:none;color:#888;padding:0px;border:0px;}
.current a:visited{text-decoration:none;color:#333;padding:0px;border:0px;}
#loading{float:right;display:block;width:50px;padding-top:10px;}
.soon{color:#aaa;}
.statictext{width:600px;text-align:left;margin:0px auto;}
.statictext img{text-align:right;float:right;margin-bottom:10px;}
.statictext p{margin:1em;clear:right;display:block;}
.statictext h2{margin:0em 1em 3em 0em;width:150px;float:left;clear:left;}
h2.extra{margin-bottom:7em;}
h2.mextra{margin-bottom:5em;}
h2.mini{margin-bottom:1.5em;}
.statictext h3{clear:both;float:none;text-align:center;margin:0em 1em;font-size:12px;}
.statictext ul{margin:1em;clear:both;}
p.tour{margin:0em 1em 1em 1em;clear:none;}
p.news{display:block;margin:5em;clear:both;width:500px;}
.faqtext{width:600px;text-align:left;margin:0px auto;}
.faqtext img{text-align:right;float:right;margin-bottom:10px;}
.faqtext p{margin:0em 1em 1em 1em;clear:right;display:block;}
p.top{}



.tandc{width:600px;height:400px;overflow:auto;border:1px solid #333;margin:5px auto;}
.tandc h2{float:none;width:80%;text-align:left;margin:10px 3px 5px 3px;}
.tandc h3{float:none;width:80%;text-align:left;margin:5px;font-size:12px;}
.tandc p{margin:5px;}
.pricestripe{clear:both;width:97%;height:30px;padding:5px;border:1px solid #888;background:#eee;font-size:9px;}
.titlestripe{clear:both;width:97%;height:15px;padding:5px;border:1px solid #888;background:#efefef;font-size:9px;}
.subtotal{font-weight:normal;font-size:12px;}
.total,.total_faded{font-weight:bold;font-size:14px;}
.total_faded{text-decoration:line-through;}
.baseblock{width:190px;float:left;}
.songpriceblock{width:150px;float:left;}
.storepriceblock{width:185px;float:left;}
.totalpriceblock{width:180px;float:left;}
.totalpricestripe{clear:both;width:730px;height:35px;text-align:center;padding:5px;border:1px solid #888;background:#eee;font-size:9px;}
.grandtotal{font-weight:bold;font-size:18px;}
.grandtotalpriceblock{width:250px;float:right;text-align:center;}
/*********************
* MyAccounts Styles
**********************/
DIV#footer_withdrawal LABEL{padding:2px 1em;padding-left:0.25em;width:auto;text-align:right;clear:none;float:none;}
DIV#footer_withdrawal P{font-family:inherit;font-size:110%;text-align:right;margin:.25em 0px;padding:0px;}
DIV#footer_withdrawal FORM{text-align:right;margin-top:10px;}
DIV#footer_withdrawal INPUT{text-align:right;}
DIV#sales_listing H2{border-bottom:1px dotted black;}
DIV#sales_listing H2.page_subhead{border:none;}
DIV#sales_listing H2.breadcrumbs{border:none;text-align:left;margin-top:0px;padding-top:0px;}
DIV#sales_listing H2.breadcrumbs A{color:inherit;font-weight:normal;}
DIV#sales_listing H2 SPAN{font-weight:normal;font-size:75%;color:black;}
.album_summary_partial{position:relative;width:90%;padding:5px;border:1px dotted #000000;}
.album_summary_partial hr{visibility:hidden;clear:both;}
.album_summary_partial ul{text-align:left;}
img.album_summary_partial_cover{float:left;padding-right:10px;}
DIV.album_cover_partial{position:relative;float:left;}
DIV.summary_details{padding-left:110px;}
DIV.album_cover{float:left;}
.album_cover_absolute{float:none;position:absolute;top:0px;left:15px;}
DIV.summary_details DL{margin:0px;}
DIV.summary_details DL.songs{margin-left:20px;float:right;width:300px;}
DIV.summary_details DL.songs DT{font-weight:normal;}
DIV.summary_details DL.songs DD IMG{margin:0 3px 0 0;padding:0px;}
DIV.summary_details TABLE{margin:0px;width:auto;float:right;clear:none;}
DL.sales_data{padding-top:10px;}
DIV.album_summary DL DT,
DL.sales_data DT{font-size:150%;font-weight:bold;}
DIV.album_summary DL DD,
DL.sales_data DD{margin-left:0px;font-size:90%;}
DIV.album_summary DL DD{padding-bottom:3px;}
DIV.album_summary DL DD.artist{font-size:110%;}
TABLE.sales_data{clear:both;padding-left:10px;border-collapse:collapse;width:100%;margin-bottom:10px;}
TABLE.sales_data TD,TABLE.sales_data TH{padding:5px 10px 3px 10px;white-space:nowrap;vertical-align:top;text-align:left;font-size:110%;}
TABLE.sales_data TH{border-bottom:1px dotted black;vertical-align:bottom;font-size:95%;font-weight:normal;}
TABLE.sales_data TH.store_name{border-bottom:none;}
TABLE.sales_data TD.store_name{vertical-align:middle;border-bottom:none;background-color:#ffffff;padding-left:1px;padding-right:1px;white-space:normal;}
SPAN.ancillary{font-size:85%;}
TABLE.sales_data TR.ancillary TD{font-size:90%;padding-top:0px;padding-bottom:5px;border-bottom:1px solid #b5b5b5;white-space:normal;}
TABLE.sales_data TD.net_earnings{font-weight:bold;}
TABLE.sales_data TD.money,TABLE.sales_data TH.money{text-align:right;}
TABLE.sales_data TR.alt{background-color:#e6e6e6}
TABLE.sales_data TR.spacer_row TD{padding:0px;font-size:50%;}
TABLE.sales_data TBODY.total_earnings TD,TABLE.sales_data THEAD.total_earnings TH{border:none;}
TABLE.sales_data TBODY.total_earnings TD.money{background-color:#ffffcc;padding-top:3px;}
TABLE.sales_data THEAD.total_earnings TH.money{background-color:#ffffcc;}
TABLE.sales_data ACRONYM{border:none;}
HR{height:1px;background-color:#333;border:none;}
.wrapok,TABLE.sales_data TD.wrapok{white-space:normal;}

/* Admin stuff */
DIV#admin_searchbox{margin:5px 0px;text-align:right;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:105%;}
DIV.fixme_box{border-top:1px dotted black;margin:5px 0px;float:left;padding:5px 0px;clear:both;}
.album_info{width:465px;margin:0px auto 10px auto;color:#333;text-align:right;}
.album_info td,.song_edit td{padding:6px;}
td.td_left{text-align:left;}
.album_info tr.tr_even{background-color:#F3FAFF;}
.album_info tr.tr_odd{background-color:#C4E2FF;}
h3.track_total{display:block;float:none;color:#006699;font-weight:normal;font-size:16px;border-bottom:1px solid #999;margin-bottom:0;}
#songs_container{width:510px;margin:0px auto 10px auto;}
.song_edit_odd,.song_edit_even{text-align:center;background:#F3FAFF;padding:10px 25px 10px 25px;margin:0px;}
.song_edit_even{background:#fff;}
.song_edit_table{text-align:right;width:75%;margin:0px auto;}
p.quoteline{font-weight:bold;text-align:right;font-size:110%;margin-top:0px;margin-bottom:3em;}

/* News Story Administration */
.story_online,.story_offline{padding:4px;margin-top:10px;}
.story_online h2,.story_offline h2{margin-top:0px;padding-top:0px;}
.story_offline{background-color:#cccccc;}
.story_field{clear:both;padding-top:8px;position:relative;}
.story_field .ui-datepicker-trigger{left:423px;top:12px;}

/* homepage id tags */
#homepage_content{width:850px;margin:10px auto 40px auto;background-color:#fff;}
#homepage_left{width:475px;float:left;text-indent:-5000px;height:440px;background-repeat:no-repeat;}
#homepage_right{width:300px;float:left;text-align:right;margin-left:40px;}
#homepage_pitch{text-indent:-5000px;height:200px;background-repeat:no-repeat;margin-top:80px;text-align:left;}
#homepage_banner1{clear:both;background:url(/images/bannerstripe.gif);text-align:center;}
.clickable{cursor:pointer;}
.error{background:none !important;color:#CC0000 !important;}
.notice{color:green;}

/*/* The following two methods .song_edit_button and .song_drag_handle need to be in this css file for the change order toggle button**/
/* display:;needs to be set so that the javascipt that edits class can turn display to none*/
.song_edit_button{display:;}
.song_drag_handle{display:;cursor:move;}
/* move into a promotion css file*/
.promotion_body p{padding-bottom:20px;}
.pad_both{padding-right:5px;padding-left:5px;}
.pad_right{padding-right:10px;}
.pad_left{padding-left:10px;}
tr.even,div.even,dt.even{background:#EEEDEE;}
tr.odd,div.odd,dt.odd{background:white;}
dt.attention{background-color:#FFCCCC;}
#mailing-preview{border:2px solid #005C8E;background-color:#cce7ff;margin-top:25px;padding:5px;height:auto;min-height:300px;width:550px;position:absolute;top:50px;left:250px;}
#mailing-schedule{border:1px solid #ff0000;background-color:#ffffcc;margin-top:25px;padding:5px;height:200px;width:270px;}
DIV.mailing-rightcol H2,DIV.pluggable-form H2,DIV#new-user-query-area H2,DIV#user-queries H2{font-size:110%;font-weight:bold;padding:20px 0px 5px 0px;border-bottom:1px dotted black;float:none;width:auto;text-align:left;clear:both;}
DIV.pluggable-form H3{font-size:90%;font-weight:bold;padding:20px 0px 5px 0px;float:none;width:auto;text-align:left;clear:both;}
ul.query-cb-list{list-style-type:none;text-align:left;}
.shown{display:block;}
.hidden{display:none;}
ul#left-nav-list{list-style-type:none;width:270px;text-align:left;padding:0;}
ul#left-nav-list li{background-color:#DDDDFF;color:#333;padding:3px 3px 3px 15px;cursor:pointer;}
div#new-user-query-area{position:absolute;top:100px;left:200px;background-color:#ccc;border:1px solid black;padding:10px;}
div.mailing_online dl dt{margin-left:1em;}
div.mailing_online dl dd{margin-left:1.25em;}
td.unavailable-store{background-color:#ccc;}
span.admin-button a{text-decoration:none;}
span.admin-button{border:solid black thin;font-weight:bold;padding:2px;min-width:20px;}
span.admin-button-inactive{border:solid black thin;background-color:#DDDDDD;font-weight:bold;color:#AAAAAA;padding:2px;min-width:20px;}

/* Dashboard Worker Stat Page */
#worker-view {
		background:#EEEDEE;
		text-align: left;
		margin: 0 auto;
}

#queue-body {
	padding-left: 10px;
}

.widgets td {text-align:left;}
.widgets label {clear:none;text-align: center; width:auto;float:none;}
.widgets img {display:block;margin:0 auto;}
.widgets p span {color:#006699;text-align:center;display:block;margin: 5px 0 5px 0;}
.widgets #iphone_app {padding:0 0 0 30px;width:160px;}
.widgets #streaming_widget img {margin:0 0 8px 0;}
.widgets #streaming_widget span img, .widgets #iphone_app span img {display:inline; margin: 0 5px; position:relative; top: 3px;}
.flags.widgets {position:relative;left:92px;}

#itunes-distros td.available-store {width:88px;padding-top: 5px;}
#itunes-logo {width: 54px;}

/* label hacks */
.flags td label {clear:none;text-align: center; width:auto;float:none;}
.flags .available-store label {padding: 2px 0;}
.rights_assignment label {display:inline;float:none;text-align:left;padding:0 0 0 5px;}
.step1 .req li label {width:auto;}
#formcontainer fieldset.step1 div.req li, #formcontainer fieldset.step5 div.opt div.req li, #formcontainer fieldset.step3 div.req li {display:block;padding-bottom: 0;}
#formcontainer fieldset.step1 div.req li label, #formcontainer fieldset.step5 div.opt div.req li label, #formcontainer fieldset.step3 div.req li label {clear:none;float:none;}
fieldset.step4 {position:relative;}
.step4 #aod-help, .step2 #aod-help {position:absolute;bottom: 52px;left: 118px;}
.step4 #aod-help img, .step2 #aod-help img {position:relative;left:5px; top:3px;}
.variable_price_selection_box label {clear:none;float:none;padding:0;}
label.label-fix {float:none;display:inline;}

/* artwork gallery styles */
span#colorblock {background:#ddd;}
img.textImage {cursor:move;}
div#thumbs_container {padding:5px;width:540px;height:235px;border:1px solid #333;}
#edit_image {margin:0px auto;border:1px solid #333;width:400px;height:400px;display:block;}
#suggested_artwork_container {margin-left:27px;}
#suggested_artwork_container .suggested_artwork {width:320px;height:310px;display:block;float:left;border:solid 1px silver;margin:8px;-moz-border-radius:8px;-webkit-border-radius:8px;padding-top:8px;}
#loading_preview #window_contents {width:600px;height:600px;border:3px dotted purple;}
#loading_preview #window_contents img {padding-top:284px;}
.suggested_cover_links {margin-top:4px;}

/* Javascript Snippet */
#snippets {
  float: left;
  width: 800px;
  clear: left;
}

#snippets #partner-list {
  float: left;
}

#snippets .partner {
  float: left;
}

#snippets h2, #snippets h3 {
  clear: left;
}

#snippets li.partner  {
  border: 1px dashed #aaa;
  margin-right: .3em;
  margin-bottom: .5em;
}

#snippets li.selected {
  border: 1px solid #000 !important;
}

#snippets .partner a {
  padding: .2em .1em;
  display: block;
  float: left;
  text-decoration: none;
}

#snippets .snippet {
  width: 600px;
  border: 1px solid #ccc;
  padding: .5em .3em;
}



/* upload progress bar */
.progress-bar-wrapper {
  width: 400px;
  border: 1px solid #ccc;
  height: 15px;
  margin:15px 0 0 222px;
}

.progress-bar {
  width: 0px;
  height: 15px;
  background-color: blue;
}

/* tour dates */
#tour_date_submit, div.ajax-uploader {margin-left:221px;}
#band_photo_uploaded_file {width:284px;}

div.ajax-uploader {margin-top:20px;}

/* crufty admin hax */
.datetime select {width:90px;margin-right:0;}

.copyright_documents {
  border:1px solid #ccc;
  border-radius: 5px;
  width:50%
}
.copyright-documents-submit {
  margin-top: 10px !important;
  margin-left: 90px !important;
}
