.pod-logos ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pod-logos li {
  float: left;
  width: 305px;
}
.pod-logos li + li {
  margin: 0;
}
.pod-logos .white {
  background-color: #fff;
}
.pod-logos .black {
  background-color: #000;
}
.pod-downloads .pod-body {
  font-size: 1.15em;
}
.pod-downloads .pod-body a {
  font-weight: 700;
}

/*# sourceMappingURL=source/tunecore_logos.css.map */
