#my-songs {
  margin-bottom: 20px;
}
#add-songs .number {
  position: absolute;
  top: 10px;
  left: 20px;
  font-weight: 700;
  font-size: 14px;
}
.edit_song fieldset {
  border: 0;
}
.song {
  background-color: #f0f0f0;
  border: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 12px;
}
.song .isrc {
  float: none;
  font-size: 1em;
}
.song-data .hd {
  color: #003855;
  font-size: 1.5em;
  line-height: 1.3;
  margin: 0 0 10px;
}
.song-data .sub-hd {
  font-size: 1em;
}
.song-data #file-upload {
  margin: 10px 0 0;
}
.error {
  position: absolute;
  top: 53px;
  left: 45px;
}
.song-error {
  margin: 50px 25px 5px 25px;
  display: block;
  color: #f00;
  font-weight: bold;
  padding: 2px 4px;
}
.song-upload {
  background-color: transparent;
  border-radius: 0;
  padding: 1em;
}
.song-upload object {
  margin-left: -8px;
}
.song-upload embed {
  height: 45px;
}
.song-upload li {
  border-bottom: none;
  margin: 2px 0px;
  padding: 0;
  min-height: 15px;
}
.song-upload ol {
  border-bottom: none;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 0;
}
.song-upload p {
  margin-bottom: 5px;
  padding: 0;
}
#ringtone-upload p {
  margin-bottom: 10px;
}

/*# sourceMappingURL=source/upload.css.map */
