body {
  background: #010316;
  background: linear-gradient(to bottom, #000f33 0%, #010316 100%);
  height: 100%;
}
.wrapper {
  background: transparent url('/images/interstitial/yandexlanding_bg.png') no-repeat top center;
  height: 100%;
}
#header {
  background-color: transparent;
  padding-top: 10px;
}
.interstitial {
  color: #000f33;
  padding: 10px 0 0;
  text-align: center;
}
.interstitial p {
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1.45;
  margin: 0 0 18px;
  text-align: left;
}
.interstitial .btn {
  font-size: 1.8em;
}
.yandex-body {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 36px;
}

/*# sourceMappingURL=source/yandex.css.map */
