.button-callout-alt.youtube-oac-form__submit,
.button-callout.landr.youtube-oac-sidebar__button {
  font-size: 12px;
  margin-right: auto;
  margin-left: auto;
}

.youtube-oac-sidebar__header {
  background: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  padding: .5em .5em 0;
}

.youtube-oac-sidebar__container {
  border: 1px solid #ccc;
}

.youtube-oac-sidebar__container,
.youtube-oac-sidebar__header {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.youtube-oac-sidebar__body {
  padding: .5em
}

.youtube-oac-sidebar__button-container {
  display: flex;
  justify-content: center;
}

.youtube-oac-sidebar__revenue-graphic {
  background-image: url("/images/youtube/ytm_dash_sprite.png");
  background-repeat: no-repeat;
  background-position: 0px -328px;
  display: block;
  height: 104px;
  margin: auto;
  width: 79px;
}

.youtube-oac-sidebar__revenue-blurb {
  font-size: 14px;
  margin-top: 1em;
}

.youtube-oac-form__submit-container {
  display: flex;
  justify-content: center;
}


.youtube-oac-form__submit-btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1293d1;
  color: #fefefe;
}

.youtube-oac__blurb {
  padding: .75em 0 0;
}

.youtube-oac__blurb-text,
.youtube-oac__help-link {
  font-size: 14px;
}

.youtube-oac__help-link {
  margin: 1em 0 0 1em;
}

@media screen and (max-width: 767px){
  .youtube-oac-sidebar__container { margin-top: 1.5em; }
}
