#youtube_preferences input[type="submit"] {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 700;
  padding: 0.75em 1.5em;
}
#youtube_preferences input[type="submit"]:hover,
#youtube_preferences input[type="submit"]:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
#youtube_preferences input[type="submit"]:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
#youtube_preferences > header {
  margin-bottom: 40px;
  padding-top: 20px;
}
#youtube_preferences > header h1 {
  font-size: 3.6em;
  color: #333333;
}
#youtube_preferences > header p {
  padding-top: 10px;
  margin-bottom: 0;
}
#youtube_preferences footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
#youtube_preferences section {
  padding-bottom: 10px;
}
#youtube_preferences section > header {
  position: relative;
  background-color: #333333;
  height: 48px;
  padding: 5px 13px;
  margin-bottom: 10px;
}
#youtube_preferences section > header:after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  display: block;
  border: 24px solid transparent;
  border-right-color: #FFFFFF;
}
#youtube_preferences section > header h2 {
  line-height: 38px;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 1.7em;
}
#youtube_preferences section > header h2 > span {
  position: relative;
  float: left;
}
#youtube_preferences section > header h2 > span.icon {
  width: 54px;
  height: 37px;
  line-height: 34px;
  margin-right: 13px;
  background-image: url(/images/lozenge_red.png);
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  font-size: 1.5em;
}
#youtube_preferences section.checked > header {
  background: #cd332d;
  background: linear-gradient(#cc332d, #700612);
}
#youtube_preferences section.checked > header span.icon {
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
  background-image: url(/images/lozenge_white.png);
}
#youtube_preferences section.checked > header span.icon:after {
  position: absolute;
  top: 11px;
  left: 18px;
  content: '';
  display: block;
  width: 19px;
  height: 15px;
  background-image: url(/images/yt_checkmark.png);
  background-repeat: no-repeat;
}
#youtube_preferences section.disabled > header {
  background-color: #ababab;
}
#youtube_preferences section.disabled > header span.icon {
  background-image: url(/images/lozenge_white.png);
  color: #ababab;
  text-shadow: none;
}
#youtube_preferences section.disabled .blocky-checkbox,
#youtube_preferences section.disabled .blocky-label,
#youtube_preferences section.disabled .blocky-note {
  display: none;
}
#youtube_preferences section.error .blocky-checkbox {
  background-color: #cc332d;
}
#youtube_preferences .content {
  padding-left: 15px;
}
#youtube_preferences .content strong,
#youtube_preferences .content span {
  font-size: 1.4em;
  line-height: 1.5em;
}
#youtube_preferences .title {
  margin-bottom: 10px;
}
#youtube_preferences .title span {
  font-size: 2em;
  font-weight: 700;
  color: #333333;
  margin-right: 15px;
}
#youtube_preferences .title a {
  font-size: 1.2em;
}
#youtube_preferences .step {
  margin-bottom: 20px;
}
#youtube_preferences p,
#youtube_preferences ul {
  margin-bottom: 20px;
  font-size: 1.4em;
  line-height: 1.5em;
}
#youtube_preferences p {
  padding: 10px 15px;
  padding-top: 0px;
}
#youtube_preferences ul {
  padding-left: 30px;
  margin-left: 15px;
  margin-bottom: 20px;
  list-style-type: circle;
}
#youtube_preferences label {
  display: table-cell;
  float: none;
  font-size: 1.7em;
  text-align: left;
}
#youtube_preferences .blocky-checkbox {
  border-radius: 3px;
  float: left;
  font-size: 14px;
  margin-left: 15px;
  padding: 10px;
}
#youtube_preferences .blocky-note {
  display: block;
  font-size: 1.2em;
  margin-left: 60px;
}
#youtube_preferences .box-alert {
  border: 2px solid #cd352a;
  margin-bottom: 30px;
}
#youtube_preferences .box-alert img {
  margin-left: 10px;
  margin-top: 5px;
}
#youtube_preferences .box-alert p {
  margin: 0;
}
#youtube_preferences .breadcrumbs {
  font-size: 1.2em;
}

/*# sourceMappingURL=source/youtube_preferences.css.map */
