form fieldset {
  border-bottom: none;
  display: inline-block;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
form label {
  float: none;
  font-weight: normal;
  margin: 0;
  padding: 0;
  width: auto;
}
.ico_tax_incomplete {
  background-image: url("/images/youtube/ytm_dash_sprite.png");
  background-repeat: no-repeat;
  background-position: -120px 0px;
  display: block;
  height: 121px;
  width: 120px;
}
.ico_tax_complete {
  background-image: url("/images/youtube/ytm_dash_sprite.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  display: block;
  height: 121px;
  width: 120px;
}
.ico_tracks_incomplete {
  background-image: url("/images/youtube/ytm_dash_sprite.png");
  background-repeat: no-repeat;
  background-position: -113px -121px;
  display: block;
  height: 120px;
  width: 113px;
}
.ico_tracks_complete {
  background-image: url("/images/youtube/ytm_dash_sprite.png");
  background-repeat: no-repeat;
  background-position: 0px -121px;
  display: block;
  height: 120px;
  width: 113px;
}
.ico_tracks_locked {
  background-image: url("/images/youtube/ytm_dash_sprite.png");
  background-repeat: no-repeat;
  background-position: -226px -121px;
  display: block;
  height: 120px;
  width: 113px;
}
.ico_channel_incomplete {
  background-image: url("/images/youtube/ytm_dash_sprite.png");
  background-repeat: no-repeat;
  background-position: -118px -241px;
  display: block;
  height: 87px;
  width: 118px;
}
.ico_channel_locked {
  background-image: url("/images/youtube/ytm_dash_sprite.png");
  background-repeat: no-repeat;
  background-position: 0px -241px;
  display: block;
  height: 87px;
  width: 118px;
}
.ico_revenue {
  background-image: url("/images/youtube/ytm_dash_sprite.png");
  background-repeat: no-repeat;
  background-position: 0px -328px;
  display: block;
  height: 104px;
  width: 79px;
}
.your_tax_info .section_ico {
  background-image: url("/images/youtube/ytm_dash_sprite.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  display: block;
  height: 121px;
  width: 120px;
}
.your_tax_info.undone .section_ico {
  background-image: url("/images/youtube/ytm_dash_sprite.png");
  background-repeat: no-repeat;
  background-position: -120px 0px;
  display: block;
  height: 121px;
  width: 120px;
}
.your_songs .section_ico {
  background-image: url("/images/youtube/ytm_dash_sprite.png");
  background-repeat: no-repeat;
  background-position: 0px -121px;
  display: block;
  height: 120px;
  width: 113px;
}
.your_songs.undone .section_ico {
  background-image: url("/images/youtube/ytm_dash_sprite.png");
  background-repeat: no-repeat;
  background-position: -226px -121px;
  display: block;
  height: 120px;
  width: 113px;
}
.your_songs.emphasize .section_ico {
  background-image: url("/images/youtube/ytm_dash_sprite.png");
  background-repeat: no-repeat;
  background-position: -113px -121px;
  display: block;
  height: 120px;
  width: 113px;
}
.your_channel.undone .section_ico {
  background-image: url("/images/youtube/ytm_dash_sprite.png");
  background-repeat: no-repeat;
  background-position: 0px -241px;
  display: block;
  height: 87px;
  width: 118px;
}
.your_channel.emphasize .section_ico {
  background-image: url("/images/youtube/ytm_dash_sprite.png");
  background-repeat: no-repeat;
  background-position: -118px -241px;
  display: block;
  height: 87px;
  width: 118px;
}
.your_revenue .section_ico {
  background-image: url("/images/youtube/ytm_dash_sprite.png");
  background-repeat: no-repeat;
  background-position: 0px -328px;
  display: block;
  height: 104px;
  width: 79px;
}
.your_revenue .section_ico.euro {
  background-position: -79px -328px;
}
.dashboard section > header {
  background-color: #e8e8e8;
  border: 1px solid #b5b5b5;
  border-width: 1px;
  height: 50px;
  overflow: hidden;
  padding-left: 15px;
  position: relative;
}
.dashboard section > header h2 {
  color: #333;
  display: inline-block;
  font-size: 18px;
  line-height: 50px;
}
.dashboard section > header a {
  font-size: 1.15em;
  margin-left: 10px;
}
.dashboard section.undone > header {
  background-color: #fff;
  padding-left: 35px;
}
.dashboard section.undone > header:before {
  border: 28px solid transparent;
  border-left-color: #b5b5b5;
  content: '';
  display: block;
  left: 35px;
  position: absolute;
  top: -3px;
}
.dashboard section.undone > header:after {
  border: 28px solid transparent;
  border-left-color: #fff;
  content: '';
  display: block;
  left: 34px;
  position: absolute;
  top: -3px;
}
.dashboard section.undone > header h2 {
  background-color: #e8e8e8;
  padding-left: 40px;
  width: 100%;
}
.dashboard section > .pod-body {
  border: 1px solid #b5b5b5;
  border-width: 0 1px;
  padding: 25px;
}
.dashboard section:first-child > header {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
}
.dashboard section:last-child > .pod-body {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-width: 1px;
}
.dashboard section.emphasize > header {
  background-color: #6E0611;
  border: 0;
}
.dashboard section.emphasize > header:before {
  border-left-color: #fff;
}
.dashboard section.emphasize > header:after {
  left: 32px;
  border-left-color: #6E0611;
}
.dashboard section.emphasize > header h2 {
  background-color: #CD322D;
  color: #fff;
}
.dashboard .your_revenue {
  text-align: center;
  margin-bottom: 20px;
}
.dashboard .your_revenue > header {
  text-align: left;
}
.dashboard .your_revenue > .pod-body {
  padding: 9.25px;
}
.dashboard .your_revenue .section_ico {
  margin: 25px auto 25px;
}
.box {
  background-color: #F9F9F9;
}
.box .state {
  background-color: #E5FDFF;
  border-bottom: 1px solid #e6e6e6;
  font-size: 1.15em;
  margin: -10px -10px 5px;
  padding: 10px;
}
.box .state.undone {
  background-color: #FFFDE5;
}
.box .state p {
  font-size: 1em;
  margin: 0;
}
.box .columns.content {
  margin-bottom: 10px;
  padding-left: 15px;
}
.box .title {
  color: #333;
  margin-bottom: 10px;
}
.box .title h3 {
  font-size: 2em;
  font-weight: 700;
}
.box dt,
.box dd {
  padding: 0;
}
.box dt {
  clear: left;
  float: left;
  font-weight: 700;
  padding-right: 5px;
}
.tax_info {
  margin-bottom: 10px;
  overflow: hidden;
}
.tax_info-field {
  float: left;
  font-family: Georgia, Times, serif;
  font-style: italic;
  margin-right: 1em;
  text-align: right;
  width: 9em;
}
.tax_info-answer {
  font-weight: 500;
}
.tax_info-edit {
  margin-left: 10em;
}
.stats-holder {
  overflow: hidden;
}
.stats-pod {
  border: 3px solid #333;
  border-width: 3px 0;
  float: left;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 8px 0;
  text-align: center;
  width: 100%;
}
.stats-number {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 30px;
  padding: 6px 0;
}
.stats-type {
  font-family: Georgia, serif;
  font-style: italic;
}
.stats-ineligible {
  border-color: #BEBEBE;
}
.stats-ineligible .stats-number {
  font-size: 1.5em;
}
.directions {
  margin-bottom: 2em;
}
.directions h2 {
  font-size: 2.4em;
}
.directions .attention_title {
  background-color: #b00;
  color: #fff;
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}
.directions > p {
  padding: 5px 0;
  font-size: 1.15em;
}
.directions > ul {
  list-style: disc;
  margin-left: 20px;
}
.monetizations > header,
.monetizations > footer {
  text-align: right;
}
.monetizations > header .button-interface,
.monetizations > footer .button-interface,
.monetizations > header .button-callout,
.monetizations > footer .button-callout {
  margin-top: 0;
}
.monetizations > header {
  padding-bottom: 1.5em;
}
.monetizations > footer {
  padding-top: 1.5em;
}
.sidebar {
  float: right;
}
.table-default > header {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  border-width: 1px 1px 0;
  padding: 18px 6px 6px;
  text-align: right;
}
.table-default > header .button-callout-alt,
.table-default > header .button-interface {
  margin-top: 0;
}
.table-default .table-nav {
  padding: 5px 0;
  text-align: right;
}
.table-default .table-nav a {
  color: #333;
  font-family: inherit;
  font-style: normal;
}
.table-default .bulk_select_splits + .table-nav {
  padding: 0;
}
.table-default .table-nav-controls {
  display: inline-block;
}
.table-default .table-nav-controls .next_page span,
.table-default .table-nav-controls .prev_page span {
  display: none;
}
.table-default .table-nav-controls .prev_page {
  padding-left: 10px;
}
.table-default .table-nav-controls .disabled {
  color: #999;
}
.table-default .total_results {
  float: left;
}
.table-default .pagination {
  padding-left: 10px;
}
.table-default .button-interface {
  padding: 2px 8px;
}
.table-default .button-callout-alt {
  background-color: #44b1fa;
  border-color: #339de5;
  margin-top: 0;
  padding: 2px 8px;
}
.table-default .button-callout-alt:active {
  background-color: #39a1e7;
}
.table-default table {
  border: 1px solid #ccc;
  border-collapse: separate;
  width: 100%;
}
.table-default th,
.table-default td {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.table-default th:first-child,
.table-default td:first-child {
  border-left: 0;
}
.table-default th {
  background-color: #f2f2f2;
  color: #555;
  border-top: 0;
  font-weight: 700;
  text-align: left;
}
.table-default th .sort {
  color: #555;
  display: block;
  font-family: inherit;
  font-style: normal;
  padding: 10px;
}
.table-default th .sort:after {
  color: #999;
  content: "\f0dc";
  display: inline-block;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  margin-left: .3em;
  text-decoration: inherit;
  speak: none;
}
.table-default th .sort.asc:after {
  color: #555;
  content: "\f0de";
}
.table-default th .sort.desc:after {
  color: #555;
  content: "\f0dd";
}
.table-default th span {
  display: block;
  padding: 10px;
}
.table-default th .selection {
  font-weight: normal;
  padding: 10px;
}
.table-default th .selection a {
  display: block;
}
.table-default td {
  color: #333;
  padding: 10px;
}
.table-default tbody > tr:nth-child(even) > td {
  background-color: rgba(0, 0, 0, 0.036);
}
.table-default tbody > tr {
  background-color: #fff;
}
.table-default tbody > tr.highlight {
  background-color: #FFFEDD;
}
.table-default tbody > tr.status-dispute > td {
  background-color: #fdd;
  color: #d00;
}
.table-default tbody > tr.status-splits_missing > td {
  background-color: #ffd;
}
.table-default tbody > tr.status-not_distributed_yet > td {
  background-color: #defafe;
}
.table-default tbody > tr:hover > td {
  background-color: #e9f0fa;
}
.table-default .status-td span:before {
  background: transparent no-repeat 0 0;
  content: "";
  display: inline-block;
  height: 16px;
  padding-right: 3px;
  vertical-align: top;
  width: 16px;
}
.table-default .status-td .missing:before {
  background-image: url("/images/compositions/dispute.png");
}
.table-default .status-td .processing:before {
  background-image: url("/images/compositions/processing.png");
}
.table-default .status-td .sent:before {
  background-image: url("/images/compositions/accepted.png");
}
.table-default .status-td .removed:before,
.table-default .status-td .ineligible:before,
.table-default .status-td .taken_down:before {
  height: 16px;
  padding-right: 3px;
  width: 0;
}
.table-default .undo_ineligibility {
  float: right;
}
.monetizations-col_status {
  width: 90px;
}
.monetizations-col_select {
  width: 85px;
}
.filter {
  background-color: #f0f0f0;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin-bottom: 24px;
}
.filter > header {
  border-bottom: 1px solid #cdcdcd;
  padding: 18px 12px 12px;
}
.filter form {
  padding: 10px 0;
}
.filter form .status {
  padding: 0 10px 10px;
}
.filter form .status > label {
  display: inline-block;
  font-family: Georgia, serif;
  font-style: italic;
  padding: 0 5px;
}
.filter form .collapsible {
  margin-bottom: 10px;
  padding: 0 10px;
}
.filter form .collapsible h4 {
  font-size: 1em;
}
.filter form .collapsible .toggle-button {
  background-color: #fff;
  border: 1px solid #cdcdcd;
  color: #333;
  display: block;
  font-family: inherit;
  font-style: normal;
  padding: 5px;
}
.filter form .collapsible .toggle-button:after {
  content: "\f067";
  display: inline-block;
  float: right;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  *margin-left: .3em;
  text-decoration: inherit;
  speak: none;
}
.filter form .collapsible .toggle_plus:after {
  content: "\f067";
}
.filter form .collapsible .toggle_minus:after {
  content: "\f068";
}
.filter form .collapsible .toggle-select {
  display: inline-block;
  font-family: Georgia, serif;
  font-style: italic;
  padding: 8px 5px;
}
.filter form .collapsible > ul {
  padding: 5px;
}
.filter form .collapsible li {
  margin-bottom: 0;
}
.filter form label {
  padding-right: 12px;
}
.filter .button-callout-alt,
.filter .button-interface {
  margin-top: 0;
  margin-right: 12px;
  padding: 5px 10px;
}
.filter-buttons {
  border-top: 1px solid #cdcdcd;
  display: block;
  padding: 12px 10px 0;
}
@media screen and (min-width: 480px) {
  .stats-pod {
    width: 80px;
  }
  .stats-ineligible {
    margin-left: 12px;
  }
}
.ytm-notice {
  background-image: url("/images/icons/alert.png");
  background-position: center 15px;
  background-repeat: no-repeat;
  padding-top: 83px;
  text-align: center;
}
.ytm-notice h4 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 1em;
  text-decoration: underline;
}
.ytm-notice p {
  margin-bottom: 1em;
}
.ytm-notice .button-callout {
  margin-top: 0;
}
.ytm-notice-long {
  background-image: url("/images/icons/alert.png");
  background-position: 15px 15px;
  background-repeat: no-repeat;
  padding-left: 92px;
}
.ytm-notice-long h3 {
  font-size: 1.15em;
  font-weight: 700;
  margin-bottom: 1em;
  text-decoration: underline;
}
.ytm-notice-long p {
  font-size: 1em;
}
.ytm-notice-long p + p {
  margin-top: 1em;
}
.all_tracks_shown {
  text-align: left;
}
.all_tracks_shown p {
  background-color: #78fca0;
  display: inline-block;
  font-size: 1rem;
  margin-top: 1.25rem;
  padding: .625rem;
}

/*# sourceMappingURL=source/youtube_monetizations.css.map */
