.content {
  margin-bottom: 40px;
  padding-top: 30px;
}
.content > header {
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 60px 0 0;
}
.content > header h1 {
  color: #000;
  font-size: 3em;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
}
.content > header h2 {
  margin: 0;
}
.content h2 {
  color: #333;
  font-size: 2em;
  font-weight: 200;
  margin: 40px 0 10px;
}
.content p {
  font-size: 1.15em;
  color: #333;
  line-height: 1.5;
}
.content ul {
  list-style-type: circle;
  margin-left: 30px;
  padding-top: 10px;
}
.content ul li {
  font-size: 1.15em;
  padding: 0 0 5px 10px;
}
.content ul li:last-child {
  padding-bottom: 0;
}
.pod-foot {
  margin-top: 40px;
  text-align: left;
}
.pod-foot p + p {
  margin-top: 12px;
}

/*# sourceMappingURL=source/youtube_help.css.map */
