body {
  background: #fff;
  background: linear-gradient(to bottom, #ffffff 0%, #e8e8e8 100%);
  height: 100%;
}
#header {
  background-color: transparent;
  padding-top: 10px;
}
.interstitial {
  color: #333;
  min-height: 713px;
  padding: 60px 0;
  text-align: center;
}
.interstitial h1 {
  font-size: 51px;
  font-style: italic;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 36px;
}
.interstitial p {
  font-size: 1.9em;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 36px;
}
.interstitial p span {
  text-decoration: underline;
}
.interstitial .buttons {
  text-align: center;
}
.interstitial .btn {
  font-size: 1.8em;
}
.interstitial .btn + .btn {
  margin: 0 0 0 2em;
}

/*# sourceMappingURL=source/ytm_interstitial.css.map */
