#admin-container,
#admin-wrapper {
  min-width: 1024px;
  width: 98%;
}

label {
  text-align: left;
  width: 70px;
  padding-top: 5px;
  padding-bottom: 0px;
}

.checkbox-wrapper label {
  width: 80px;
}

td label:last-child {
  padding-bottom: 5px;
}

#comp-table {
  table-layout: fixed;
}

#comp-table tr td input.approve-check,
#comp-table tr td input.reject-check {
  width: 15px;
}

th.play {
  width: 35px;
}

th.status-col {
  width: 75px;
}

th.verify,
th.upc,
th.isrc,
th.genre {
  width: 120px;
}

#comp-table tr td.play,
#comp-table tr td.pause {
  text-align: center;
  font-size: 20px;
}

span.fa {
  cursor: pointer;
}

.table-holder {
  clear: both;
  display: block;
  padding: 10px 0;
}

.per-page-select {
  padding-top: 5px;
  display: block;
  clear: both;
}

.mass-check {
  float: right;
  padding: 10px 0;
}

.update-all {
  float: left;
  padding: 10px 0;
}

.salepoint_song_row .red {
  background-color: #ffcccc;
}

.salepoint_song_row .green {
  background-color: #ccffcc;
}

.yellow {
  background-color: #FFD130;
}

.hard-red {
  background-color: #ffaaaa;
}

#search-help {
  display: block;
  clear: both;
  margin-left: 100px;
  padding-top: 5px;
}

.display-results {
  font-size: 1.2em;
  padding: 10px 0;
  color: grey;
}

.successful-update {
  border: 2px solid #9EDC50;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: #FEF7DA;
  padding: 25px 25px;
  font-size: 14px;
  color: #7A786C;
  display: inline;
  position: absolute;
  top: 250px;
  right: 300px;
}

.validation-failed {
  border: 2px solid #FF574E;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #FEF7DA;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #7A786C;
}

#reject-reason-popup {
  position: relative;
  background: #FFF;
  padding: 10px 20px;
  width: 440px;
  margin: 20px auto;
  border-radius: 10px;
}

#reject-reason-fields {
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(210, 225, 233, 0.35);
  border: 1px solid rgba(195, 195, 195, 0.35);
}

#reject-reason-popup label,
#reject-reason-popup select,
#reject-reason-popup textarea {
  margin: 0;
  padding: 5px 0;
  width: auto;
}

#reject-reason-popup select,
#reject-reason-popup textarea {
  margin-bottom: 10px;
}

#reject-reason-popup .select-wrapper,
#reject-reason-popup .button-wrapper {
  clear: both;
}

.reject-reason-display {
  font-style: italic;
  font-weight: normal;
  color: #f00;
  font-size: 12px;
  padding-top: 5px;
}

/* Foundation Grid */
.admin-sm-player * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.admin-sm-player .row { width: 960px; max-width: 100%; min-width: 768px; margin: 0 auto; }
.admin-sm-player .column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.admin-sm-player [class*="column"] + [class*="column"]:last-child { float: right; }
.admin-sm-player .row .one { width: 8.333%; }
.admin-sm-player .row .eleven { width: 91.667%; }
.admin-sm-player .row .twelve { width: 100%; }

/* Nicolas Gallagher's micro clearfix */
.admin-sm-player .row { *zoom: 1; }
.admin-sm-player .row:before, .row:after { content: ""; display: table; }
.admin-sm-player .row:after { clear: both; }

input[type="submit"].button-callout,
input[type="button"],
button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  line-height: 1;
  margin: 0 5px;
  padding: 5px 10px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  margin-top: 0;
  text-decoration: none;
  font-weight: bold;
}

input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
button:hover,
button:focus,
button:active {
  -webkit-box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
}

.button-callout {
  color: #ffffff;
  background-color: #e7790e;
  border: 1px solid #d8710d;
}

.button-callout:hover,
.button-callout:focus {
  color: #ffffff;
  background-color: #e7790e;
  border: 1px solid #d8710d;
}

.button-callout:active {
  color: #000000;
  background-color: #e7790e;
  border: 1px solid #d8710d;
}

.button-interface {
  color: #777777;
  background-color: #e5e5e5;
  border: 1px solid #aaaaaa;
}

.button-interface:hover,
.button-interface:focus {
  color: #777777;
  background-color: #e5e5e5;
  border: 1px solid #aaa;
}

.button-interface:active {
  color: #000000;
  background-color: #e5e5e5;
  border: 1px solid #aaa;
}
