<div class="twelve columns">
  <section class="breadcrumbs">
    <a href="<%= soundout_reports_path %>">Fan Reviews</a>
    <span class="active">Report for <%= @report.track.name %></span>
  </section>
</div>

<div class="columns twelve">
  <div class="detail-header">
    <div class="report-header">
      <p class="report-type"><%= @report.soundout_product.report_type.capitalize %> Report</p>
      <p class="powered_by"><%= custom_t('soundout_reports.purchase.about_soundout', help_url: knowledgebase_link_for('about-soundout', country_website))%></p>
    </div>
    <div class="report-details">
      <div class="album-art">
        <%= image_tag (@report.track.is_a?(Song) && @report.track.album.artwork.present? ? @report.track.album.artwork.url(:medium) : '/images/default_cover_art.jpg'), alt: "Album Cover" %>
      </div>
      <div class="report-info">
        <h1><%= @report.track.name %></h1>
        <h2>by <%= @report.track.artist_name %></h2>
        <a href="<%= soundout_report_path @report, format: :pdf %>" class="button-interface">Download PDF</a>
        <% if @report.ingrooves_fontana_submitted_at %>
          <span class="form-submitted">Submitted to INgrooves Fontana</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
