<% content_for :css do %>
  <%= stylesheet_link_tag '/stylesheets/magnific-popup.css' %>
<% end %>
<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
  <script type="text/javascript">
    $('.open-popup').magnificPopup({
      type: 'inline',
      midClick: true
    });
  </script>
<% end %>
<div class="detail-sidebar">
  <div>
    <h3><%= @report.soundout_report_data.market_potential %>%</h3>
    <span>market potential<br />(overall)</span><br /><br />
    <% if @report.soundout_product.report_type == SoundoutProduct::PREMIUM %>
      <h3><%= @report.soundout_report_data.market_potential_genre %>%</h3>
      <span>market potential<br />(in genre)</span><br /><br />
    <% end %>
    <h3><%= @report.soundout_report_data.track_rating %></h3>
    <span>track rating</span><br /><br />
    <% unless @report.soundout_product.report_type == SoundoutProduct::STARTER %>
      <h3><%= @report.soundout_report_data.passion_rating %></h3>
      <span>passion rating</span>
    <% end %>
  </div>
  <div id="explainsummary"><a href="#whatSummary" class="open-popup">What do these mean?</a></div>
</div>
<div id="whatSummary" class="alert mfp-hide">
  <main class="content">
    <div class="pod">
      <div class="pod-body">
        <% if @report.soundout_product.report_type == SoundoutProduct::STARTER %>
          <p>Market Potential is the most important commercial indicator for your track. It gives a definitive prediction of commercial success within the market and is presented as a percentage between 0% and 85%. You're looking for a minimum of 65% to have a chance of chart success.*</p>
          <p>The Market Potential classification indicates where the track is positioned among over 100,000 other tracks.</p>
          <p>* Chart success assumes a reasonable promotional budget. It should also be noted that the relative success of a single is also directly related to the existing profile of an artist.</p>
        <% else %>
          <p>Market Potential is the most important commercial indicator for your track. It combines the Track Rating and the Passion Rating to give a definitive prediction of commercial success within the market. This is presented as a percentage between 0% and 85%. You&rsquo;re looking for a minimum of 65% to have a chance of chart success.*</p>
          <p>The Market Potential classification indicates where the track is positioned among over 100,000 other tracks.</p>
          <p>* Chart success assumes a reasonable promotional budget. It should also be noted that the relative success of a single is also directly related to the existing profile of an artist.</p>
        <% end %>
      </div>
    </div>
  </main>
</div>
