<div class="tabs">
  <a href="<%= market_potential_soundout_report_path @report %>" <%= 'class="selected"'.html_safe if params[:action].match 'market_potential' %>>Market Potential</a>
  <% unless @report.soundout_product.report_type == 'starter' %><a href="<%= sample_group_soundout_report_path @report %>" <%= 'class="selected"'.html_safe if params[:action].match 'sample_group' %>>Sample Group</a><% end %>
  <% unless @report.soundout_product.report_type == 'starter' %><a href="<%= overall_ratings_soundout_report_path @report %>" <%= 'class="selected"'.html_safe if params[:action].match 'overall_ratings' %>>Overall Ratings</a><% end %>
  <a href="<%= review_analysis_soundout_report_path @report %>" <%= 'class="selected"'.html_safe if params[:action].match 'review_analysis' %>>Review Analysis</a>
  <a href="<%= reviews_soundout_report_path @report %>" <%= 'class="selected"'.html_safe if params[:action].match 'reviews' %>>Reviews</a>
</div>
