<div class="soundout_songs_container">
  <div class="album">
    <ul class="tracks" id="song_library_tracks">
      <% soundout_songs.each do |ts| %>
        <li>
          <a href="#" class="track-play" id="play-button-<%= ts.id %>" tracksmart_id="<%= ts.id %>"></a>
          <div class="audio-player" id="audio-container-<%= ts.id %>" style="display:none;margin-top:15px;">
            <audio id="player-<%= ts.id %>" preload="auto" controls>
              <source src="<%= ts.streaming_url %>" />
            </audio>
            <a href="#" tracksmart_id="<%= ts.id %>" class="audio-close">close</a>
          </div>
          <% if ts.longer_than_90s %>
            <div class="track_desc"  id="ts-<%= ts.id %>">
              <div class="soundout_info">
                <span class="track_title"><%= ts.name %></span> <span class="track_artist">by <%= ts.artist_name %></span>
              </div>
            </div>
            <div class="track_actions" id="song-library-<%= ts.id %>">
              <input type="hidden" name="song_library_upload" value="true">
                <%= select_tag :report_type, select_options_for_soundout_reports, song_id: ts.id %>
              <label class="checkbox"><input type="checkbox" song_id="<%= ts.id %>"></label>
            </div>
          <% else %>
            <div class="track_desc"  id="ts-<%= ts.id %>">
              <div class="soundout_info">
                <span class="track_title"><%= ts.name %></span> <span class="track_artist">by <%= ts.artist_name %></span>
              </div>
            </div>
            <% if ts.duration.present? %>
              <div class="track_actions not_available" id="song-library-<%= ts.id %>">
                Not available for this track. <a href="#" class="not_available_link">Find out why</a>
              </div>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
