<div class="soundout_nav">
  <div class="total_results">
    <span class="tracks"><strong><%= soundout_songs.total_entries %> <%= 'upload'.pluralize soundout_songs.total_entries %></strong></span>
  </div>
  <% if soundout_songs.total_pages > 1 %>
    <div class="pagination">
      Page
      <select class="select_page" autocomplete="off">
        <% soundout_songs.total_pages.times do |n| %>
          <option value="<%= n+1 %>"<%= ' selected' if n == 0 %>><%= n+1 %></option>
        <% end %>
      </select>
      of <span class="ts_pages"><%= soundout_songs.total_pages %></span>
      <span class="ts_prev"><span class="prev_page disabled"><i class="fa fa-chevron-circle-left fa-lg"></i></span></span>
      <span class="ts_next"><a href="#" class="next_page"><i class="fa fa-chevron-circle-right fa-lg"></i></a></span>
    </div>
  <% else %>
    <div class="pagination">&nbsp;</div>
  <% end %>
</div>
