<% content_for :css do %>
  <%= stylesheet_link_tag '/stylesheets/internal_layout.css' %>
  <%= stylesheet_link_tag '/stylesheets/soundout.css' %>
  <%= stylesheet_link_tag '/stylesheets/soundout_dashboard.css' %>
<% end %>
<% content_for :external_javascript do %>

  <%= javascript_include_tag "/javascripts/underscore.min.js" %>
  <%= javascript_include_tag "/javascripts/app/soundout_dashboard.js" %>

  <script type="text/javascript">
    _.templateSettings = {
      interpolate: /\{\{(.+?)\}\}/g,
      evaluate: /\{\[(.+?)\]\}/g
    };
    window.partial = function(tmpl, data){
        arguments[0] = $('#' + tmpl).html().replace(/(\r\n|\n|\r)/gm, '');
        return _.template.apply(null, arguments);
    };
    Number.prototype.pad = function(size) {
      var s = String(this);
      if(typeof(size) !== "number"){size = 2;}
      while (s.length < size) {s = "0" + s;}
      return s;
    }
    String.prototype.capitalize = function() {
      return this.charAt(0).toUpperCase() + this.slice(1);
    }
  </script>

  <script type="text/html" id="reportsTmpl">
    {[ _.each(soundout_reports, function(r){ ]}
      <div class="report">
        <div class="cover"><img src="{{r.artwork_url.medium_url || '/images/default_cover_art.jpg'}}" alt="{{r.song_name}} Cover"></div>
        <div class="info">
          <h2 class="track_name">{{r.song_name}}</h2>
          <p class="artist_name">{{r.artist_name}}</p>
          <p class="request_date">{{r.report_type.capitalize()}} report requested {[
            if(r.report_requested_tmsp){
              var d = new Date(r.report_requested_tmsp);
              print((d.getMonth()+1).pad()+'/'+d.getDate().pad()+'/'+d.getFullYear());
            }
          ]}</p>
        </div>
        {[ if(r.market_potential && r.track_rating && !r.canceled_at){ ]}
          <div class="results">
            <div class="market_potential">
              <h3>{{r.market_potential}}%</h3>
              <p>market potential</p>
              <p>(overall)</p>
            </div>
            <div class="track_rating">
              <h3>{{r.track_rating}}</h3>
              <p>track rating</p>
            </div>
          </div>
        {[ } ]}
        <p class="actions">
          {[ if(r.canceled_at){ ]}
            <span class="canceled"><strong>Canceled.</strong> This report has been canceled at your request.</span>
          {[ }else if(r.market_potential && r.track_rating){ ]}
            <a href="/fanreviews/{{r.id}}/market_potential" class="button-callout-alt">View Report</a>
            <a href="/fanreviews/{{r.id}}.pdf" class="button-interface">Download PDF</a>
          {[ }else{ ]}
            <span class="processing"><strong>Processing.</strong> Report timing varies based on current request load<br> and the number of reviews in your report.</span>
          {[ } ]}
        </p>
      </div>
    {[ }); ]}
  </script>

  <script type="text/html" id="pagerTmpl">
    <div class="pager-total">{{total_count}} {[total_count == 1 ? print('report') : print('reports'); ]}</div>
    {[ if(total_pages > 1){ ]}
      <div class="pager-controls">
        {[ if(current_page - 1 > 0){ ]}
          <a href="#" class="pager-left page_link"><i class="fa fa-caret-left fa-lg fa-2x"></i></a>
        {[ }else{ ]}
          <span class="pager-left"><i class="fa fa-caret-left fa-lg fa-2x"></i></span>
        {[ } ]}
        <span>Page</span>
        <select class="select_page" autocomplete="off">
          {[ for(var i=1; i<=total_pages; i++){ ]}
            <option value="{{i}}" {[ if(current_page == i) print('selected'); ]}>{{i}}</option>
          {[ } ]}
        </select>
        <span>of <strong>{{total_pages}}</strong></span>
        {[ if(total_pages - current_page > 0){ ]}
          <a href="#" class="pager-right page_link"><i class="fa fa-caret-right fa-lg fa-2x"></i></a>
        {[ }else{ ]}
          <span class="pager-right"><i class="fa fa-caret-right fa-lg fa-2x"></i></span>
        {[ } ]}
      </div>
    {[ } ]}
  </script>

<% end %>

<div style="margin-bottom: 0;" class="content">
  <header class="row alternate">
    <div class="twelve columns">
        <h1><%= custom_t('.fan_reviews_dashboard') %></h1>
        <p class="powered_by" style="margin-bottom: 15px; font-size: 1.15em;">
          <%= custom_t('soundout_reports.purchase.about_soundout', help_url: knowledgebase_link_for('about-soundout', country_website))%>
        </p>
    </div>
  </header>
</div>

<div class="tabs">
  <div class="row">
    <ul class="twelve columns">
      <li class="active"><%= custom_t(".view_my_reports") %></li>
      <li><a href="<%= purchase_soundout_reports_path %>"><%= custom_t('soundout_reports.purchase_reports') %></a></li>
    </ul>
  </div>
</div>

<% unless @reports.blank? %>
  <main class="content row">
    <section class="track_reports nine columns">
      <div class="pager">
          <div class="pager-total"><%= @total_count %> <%= custom_t(:report_display, {count: @total_count}) %></div>
        <% if @total_pages > 1 %>
          <div class="pager-controls">
            <span class="pager-left"><i class="fa fa-caret-left fa-lg fa-2x"></i></span>
            <span><%= custom_t(:page) %></span>
            <select class="select_page" autocomplete="off">
              <% @total_pages.times do |n| %>
                <option value="<%= n+1 %>"<%= ' selected' if n == 0 %>><%= n+1 %></option>
              <% end %>
            </select>
            <span><%= custom_t(:of) %> <strong><%= @total_pages %></strong></span>
            <a href="#" class="pager-right page_link"><i class="fa fa-caret-right fa-lg fa-2x"></i></a>
          </div>
        <% end %>
      </div>

      <div class="reports">
        <% @reports.each do |r| %>
          <% unless r.status == "error" %>
            <div class="report">
              <div class="cover"><%= image_tag (r.track.is_a?(Song) ? r.track.album.artwork.url(:medium) : '/images/default_cover_art.jpg'), alt: "Cover" %></div>
              <div class="info">
                <h2 class="track_name"><%= r.track.name %></h2>
                <p class="artist_name"><%= r.track.artist_name %></p>
                <p class="request_date"><%= r.soundout_product.report_type.capitalize %> <%= custom_t('.report_requested') %> <%= fmt_country_date r.report_requested_tmsp if r.report_requested_tmsp %></p>
              </div>
              <% if r.soundout_report_data && !r.canceled_at %>
                <div class="results">
                  <div class="market_potential">
                    <h3><%= r.soundout_report_data.market_potential %>%</h3>
                    <p>market potential</p>
                    <p>(overall)</p>
                  </div>
                  <div class="track_rating">
                    <h3><%= r.soundout_report_data.track_rating %></h3>
                    <p>track rating</p>
                  </div>
                </div>
              <% end %>
              <p class="actions">
                <% if r.canceled_at %>
                  <span class="canceled"><%= custom_t('.canceled_at_request') %></span>
                <% elsif r.soundout_report_data %>
                  <% if r.soundout_report_data.url %>
                    <%= link_to "View/Download Report", r.soundout_report_data.url, class: "button-callout-alt", target: "blank" %>
                  <% else %>
                    <a href="<%= market_potential_soundout_report_path r %>" class="button-callout-alt">View Report</a>
                    <a href="<%= soundout_report_path r, format: :pdf %>" class="button-interface">Download PDF</a>
                  <% end %>
                  <% if r.ingrooves_fontana_submitted_at %>
                    <span class="form-submitted">Submitted to INgrooves Fontana</span>
                  <% end %>
                <% else %>
                  <span class="processing"><%= custom_t('.processing') %></span>
                <% end %>
              </p>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="pager">
          <div class="pager-total"><%= @total_count %> <%= custom_t(:report_display, {count: @total_count}) %></div>
        <% if @total_pages > 1 %>
          <div class="pager-controls">
            <span class="pager-left"><i class="fa fa-caret-left fa-lg fa-2x"></i></span>
            <span><%= custom_t(:page) %></span>
            <select class="select_page" autocomplete="off">
              <% @total_pages.times do |n| %>
                <option value="<%= n+1 %>"<%= ' selected' if n == 0 %>><%= n+1 %></option>
              <% end %>
            </select>
            <span><%= custom_t(:of) %> <strong><%= @total_pages %></strong></span>
            <a href="#" class="pager-right page_link"><i class="fa fa-caret-right fa-lg fa-2x"></i></a>
          </div>
        <% end %>
      </div>
    </section>
    <aside class="sidebar three columns">
      <div class="search_filter">
        <header>
          <h3>Search &amp; Sort</h3>
        </header>
        <%= form_tag 'soundout_reports_path', :method => 'get', :class => 'filter_form' do %>
          <fieldset>
            <label for="search"><%= custom_t(:search) %>:</label>
            <input type="search" name="search" id="search">
          </fieldset>
          <fieldset>
            <label for="sort_by"><%= custom_t(:sort_by) %>:</label>
            <select name="sort_by" id="sort_by">
              <option value="report_requested_tmsp"><%= custom_t('.request_date') %></option>
              <option value="status"><%= custom_t('.report_status') %></option>
              <option value="name"><%= custom_t(:song_title) %></option>
              <option value="track_rating"><%= custom_t('.track_rating') %></option>
              <option value="market_potential"><%= custom_t('.market_potential') %></option>
            </select>
          </fieldset>
          <fieldset class="filter-buttons">
            <input type="submit" name="submit" class="button-callout-alt apply-button" value="Apply">
            <input type="reset" name="reset" class="button-interface reset-button" value="Reset">
          </fieldset>
        <% end %>
      </div>
      <div class="purchase_callout"><a href="<%= purchase_soundout_reports_path %>" class="button-callout"><%= custom_t('soundout_reports.purchase_reports') %></a></div>
    </aside>
  </main>
<% else %>
  <div class="row" style="padding-bottom: 50px; font-size: 14px;">
    <div class="columns twelve">
    <p><strong><%= custom_t('.have_not_ordered') %></strong><br><a href="<%= purchase_soundout_reports_path %>" class="link"><%= custom_t(:click_here) %></a> <%= custom_t('.to_purchase_a_report') %></p>
    </div>
  </div>
<% end %>

<div id="refreshModal" class="hide">
  <p style="font-size: 12px;"><%= custom_t('soundout_reports.there_has_been_an_error') %></p>
</div>
