<% content_for :css do %>
  <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/cupertino/jquery-ui.css" %>
  <%= stylesheet_link_tag '/stylesheets/internal_layout.css' %>
  <%= stylesheet_link_tag '/stylesheets/ingrooves_fontana.css' %>
<% end %>
<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/modernizr.min" %>
  <script type="text/javascript">
  Modernizr.load([{
    test: Modernizr.inputtypes.date,
    nope: [
      "/javascripts/app/ingrooves_fontana.js"
    ]
  },
  {
    test: Modernizr.input.required,
    nope: [
      "//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js",
      "/javascripts/app/ingrooves_fontana_validate.js"
    ]
  }]);
  </script>
<% end %>

<main class="content">
  <header class="row">
    <div class="twelve columns">
      <h1>INgrooves Fontana Artist Submission</h1>
    </div>
  </header>

  <div class="row">
    <div class="twelve columns">
      <div class="pod">
        <div class="pod-body">
          <p>INgrooves Fontana is the independent distribution arm of Universal Music Group. Fontana works with 150 record labels in the US. Fontana is partnering with TuneCore and SoundOut.</p>
          <p>If you&rsquo;ve purchased a TuneCore Fan Reviews Premium report and you earn a Market Potential rating of 75% or above for your track, then your track can be considered for A&amp;R consideration with Fontana.</p>
          <p>If you choose to submit your track for A&amp;R consideration, simply complete the information below and click Submit.</p>
        </div>
      </div>
      <div class="pod">
        <header>
          <h2>Notes</h2>
        </header>
        <div class="pod-body">
          <ul>
            <li>All information supplied will be used to assist in shopping you and your release to INgrooves Fontana distributed labels.</li>
            <li>The information will be made public via email transmission and must be cleared for viral communication.</li>
            <li>All assets must be web based with streaming audio.</li>
            <li>Less is more.</li>
          </ul>
        </div>
      </div>
      <div class="pod pod-song">
        <div class="album-art">
          <%= image_tag (@report.track.is_a?(Song) && @report.track.album.artwork.present? ? @report.track.album.artwork.url(:medium) : '/images/default_cover_art.jpg'), alt: "Album Cover" %>
        </div>
        <div class="details">
          <span class="song-title"><%= @report.track.name %></span>
          <span class="artist-name">by <%= @report.track.artist_name %></span>
          <span class="release-name"><%= @report.track.is_a?(Song) ? display_name(@report.track.album) : "-" %></span>
          <span class="genre"><%= @report.track.is_a?(Song) ? @report.track.album.primary_genre.name : @report.track.genre.name %></span>
          <span class="market-potential">Market Potential <%= @report.soundout_report_data.market_potential %>%</span>
        </div>
      </div>
      <div class="pod">
        <div class="pod-body">
          <p class="required-helper">* Required Field</p>
          <%= form_tag action: :submit_ingrooves_fontana do %>
            <section class="main_info">
              <div class="hometown">
                <label for="fontana[hometown]">Artist Hometown *</label>
                <input type="text" name="fontana[hometown]" class="form-text" required="required">
              </div>
              <div class="album_complete">
                <label for="fontana[album_complete]">Album Complete? *</label>
                <ul>
                  <li><label class="radio"><input type="radio" name="fontana[album_complete]" class="form-text" value="Yes" required="required"> Yes</label></li>
                  <li><label class="radio"><input type="radio" name="fontana[album_complete]" class="form-text" value="No" required="required"> No</label></li>
                </ul>
              </div>
              <div class="album_mix_mastered">
                <label for="fontana[album_mix_mastered]">Album Mixed/Mastered? *</label>
                <ul>
                  <li><label class="radio"><input type="radio" name="fontana[album_mix_mastered]" class="form-text" value="Yes" required="required"> Yes</label></li>
                  <li><label class="radio"><input type="radio" name="fontana[album_mix_mastered]" class="form-text" value="No" required="required"> No</label></li>
                </ul>
              </div>
              <div class="producer">
                <label for="fontana[producer]">Producer</label>
                <input type="text" name="fontana[producer]" class="form-text">
              </div>
              <div class="date_completed">
                <label for="fontana[date_completed]">Month/Year Completed</label>
                <input type="month" name="fontana[date_completed]" class="form-text date">
              </div>
              <div class="artwork_complete">
                <label for="fontana[artwork_complete]">Artwork Complete? *</label>
                <ul>
                  <li><label class="radio"><input type="radio" name="fontana[artwork_complete]" class="form-text" value="Yes" required="required"> Yes</label></li>
                  <li><label class="radio"><input type="radio" name="fontana[artwork_complete]" class="form-text" value="No" required="required"> No</label></li>
                </ul>
              </div>
              <div class="publishing_rights">
                <label for="fontana[publishing_rights]">Publishing Rights</label>
                <input type="text" name="fontana[publishing_rights]" class="form-text">
              </div>
              <div class="master_rights">
                <label for="fontana[master_rights]">Master Rights</label>
                <input type="text" name="fontana[master_rights]" class="form-text">
              </div>
              <div class="manager">
                <label for="fontana[manager]">Manager *</label>
                <input type="text" name="fontana[manager]" class="form-text" required="required">
              </div>
              <div class="lawyer">
                <label for="fontana[lawyer]">Lawyer</label>
                <input type="text" name="fontana[lawyer]" class="form-text">
              </div>
              <div class="agent">
                <label for="fontana[agent]">Agent</label>
                <input type="text" name="fontana[agent]" class="form-text">
              </div>
              <div class="international_agents">
                <label for="fontana[international_agents]">International Agents</label>
                <input type="text" name="fontana[international_agents]" class="form-text">
              </div>
            </section>
            <section class="artist_assets">
              <header>
                <h2>Artist Assets</h2>
              </header>
              <div class="website">
                <label for="fontana[website]">Website *</label>
                <input type="url" name="fontana[website]" class="form-text" required="required" pattern="https?://.+"><br>
                <small class="help">i.e. http://www.google.com</small>
              </div>
              <div class="music_streaming_links">
                <label for="fontana[music_streaming_links]">Music Streaming Links<br>(Soundcloud, Bandcamp) *</label>
                <textarea name="fontana[music_streaming_links]" class="form-text" required="required"></textarea>
              </div>
              <div class="video_streaming_links">
                <label for="fontana[video_streaming_links]">Video Streaming Links<br>(YouTube, EPK, live clips) *</label>
                <textarea name="fontana[video_streaming_links]" class="form-text" required="required"></textarea>
              </div>
              <div class="publicity_shot_artwork_links">
                <label for="fontana[publicity_shot_artwork_links]">Publicity Shot &amp; Artwork<br>Links</label>
                <textarea name="fontana[publicity_shot_artwork_links]" class="form-text"></textarea>
              </div>
              <div class="artist_biography">
                <label for="fontana[artist_biography]">Artist Biography *</label>
                <textarea name="fontana[artist_biography]" class="form-text large-textarea" required="required"></textarea>
              </div>
            </section>
            <section class="marketing">
              <header>
                <h2>Marketing</h2>
              </header>
              <div class="marketing_strategy">
                <label for="fontana[marketing_strategy]">Marketing Strategy</label>
                <textarea name="fontana[marketing_strategy]" class="form-text"></textarea>
              </div>
              <div class="us_sale_history">
                <label for="fontana[us_sale_history]">US Sale History</label>
                <input type="text" name="fontana[us_sale_history]" class="form-text">
              </div>
              <div class="international_sales">
                <label for="fontana[international_sales]">International Sales</label>
                <input type="text" name="fontana[international_sales]" class="form-text">
              </div>
              <div class="marketing_consultants">
                <label for="fontana[marketing_consultants]">Marketing Consultants</label>
                <input type="text" name="fontana[marketing_consultants]" class="form-text">
              </div>
              <div class="publicist">
                <label for="fontana[publicist]">Publicist</label>
                <input type="text" name="fontana[publicist]" class="form-text">
              </div>
              <div class="current_press">
                <label for="fontana[current_press]">Current Press</label>
                <input type="text" name="fontana[current_press]" class="form-text">
              </div>
              <div class="online_marketing_consultant">
                <label for="fontana[online_marketing_consultant]">Online Marketing Consultant</label>
                <input type="text" name="fontana[online_marketing_consultant]" class="form-text">
              </div>
              <div class="online_statistics">
                <label for="fontana[online_statistics]">Online Statistics<br>(Facebook fans, Twitter followers, etc.) *</label>
                <textarea name="fontana[online_statistics]" class="form-text" required="required"></textarea>
              </div>
              <div class="radio_consultants">
                <label for="fontana[radio_consultants]">Radio Consultants</label>
                <input type="text" name="fontana[radio_consultants]" class="form-text">
              </div>
              <div class="radio_format_potential">
                <label for="fontana[radio_format_potential]">Radio Format Potential</label>
                <input type="text" name="fontana[radio_format_potential]" class="form-text">
              </div>
              <div class="focus_tracks">
                <label for="fontana[focus_tracks]">Focus Tracks</label>
                <input type="text" name="fontana[focus_tracks]" class="form-text">
              </div>
              <div class="current_radio_exposure">
                <label for="fontana[current_radio_exposure]">Current Radio Exposure</label>
                <input type="text" name="fontana[current_radio_exposure]" class="form-text">
              </div>
              <div class="sync_licening_placements">
                <label for="fontana[sync_licening_placements]">Sync &amp; Licensing Placements *</label>
                <input type="text" name="fontana[sync_licening_placements]" class="form-text" required="required">
              </div>
              <div class="tv_appearances">
                <label for="fontana[tv_appearances]">TV Appearances</label>
                <input type="text" name="fontana[tv_appearances]" class="form-text">
              </div>
              <div class="awards_nominations">
                <label for="fontana[awards_nominations]">Awards &amp; Nominations</label>
                <input type="text" name="fontana[awards_nominations]" class="form-text">
              </div>
              <div class="tour_history_highlights">
                <label for="fontana[tour_history_highlights]">Tour History &amp; Highlights *</label>
                <textarea name="fontana[tour_history_highlights]" class="form-text" required="required"></textarea>
              </div>
              <div class="current_tour_dates_plans">
                <label for="fontana[current_tour_dates_plans]">Current Tour Dates &amp; Plans</label>
                <input type="text" name="fontana[current_tour_dates_plans]" class="form-text">
              </div>
            </section>
            <section class="the_deal">
              <header>
                <h2>The Deal</h2>
              </header>
              <div class="potential_deal_scenario">
                <label for="fontana[potential_deal_scenario]">Potential Deal Scenario<br>(label deal, license, P&amp;D)</label>
                <textarea name="fontana[potential_deal_scenario]" class="form-text"></textarea>
              </div>
              <div class="funding_request">
                <label for="fontana[funding_request]">Funding Request (studio costs, marketing, P&amp;D, etc.)</label>
                <input type="text" name="fontana[funding_request]" class="form-text">
              </div>
              <div class="international_rights_available">
                <label for="fontana[international_rights_available]">International Rights Available (territories)</label>
                <input type="text" name="fontana[international_rights_available]" class="form-text">
              </div>
              <div class="deal_contact_information">
                <header>
                  <label>Deal Contact Information</label>
                </header>
                <div class="name">
                  <label for="fontana[name]">Name *</label>
                  <input type="text" name="fontana[name]" class="form-text" required="required">
                </div>
                <div class="email">
                  <label for="fontana[email]">Email *</label>
                  <input type="email" name="fontana[email]" class="form-text" required="required">
                </div>
                <div class="phone">
                  <label for="fontana[phone]">Phone</label>
                  <input type="tel" name="fontana[phone]" class="form-text">
                </div>
                <div class="address">
                  <label for="fontana[address]">Address *</label>
                  <textarea name="fontana[address]" class="form-text" required="required"></textarea>
                </div>
              </div>
            </section>
            <footer>
              <input type="submit" name="submit">
            </footer>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
