<% content_for :css do %>
  <%= stylesheet_link_tag '/stylesheets/internal_layout.css' %>
  <%= stylesheet_link_tag '/stylesheets/soundout.css' %>
  <%= stylesheet_link_tag '/stylesheets/soundout_report.css' %>
<% end %>

<div class="content row">
  <%= render 'report_header' %>
</div>

<main class="content row">
  <div class="columns three">
    <%= render 'report_sidebar' %>
  </div>
  <div class="columns nine">
    <%= render 'report_tabs' %>
    <div class="report-contents">
      <h2>Market Potential</h2>
      <div class="breakdown">
        <div class="stats">
          <span class="stat"><%= @report.soundout_report_data.market_potential %>%</span><br>
          <span class="label">market potential (overall)</span><br>
          <% if @report.soundout_product.report_type == SoundoutProduct::PREMIUM %>
            <span class="stat"><%= @report.soundout_report_data.market_potential_genre %>%</span><br>
            <span class="label">market potential (in genre)</span>
          <% end %>
        </div>
        <div class="description">
          <% if @report.soundout_product.report_type == SoundoutProduct::STARTER %>
            <p>Market Potential is the most important commercial indicator for your track. It gives a definitive prediction of commercial success within the market and is presented as a percentage between 0% and 85%. You're looking for a minimum of 65% to have a chance of chart success.*</p>
            <p>The Market Potential classification indicates where the track is positioned among over 100,000 other tracks.</p>
            <p>* Chart success assumes a reasonable promotional budget. It should also be noted that the relative success of a single is also directly related to the existing profile of an artist.</p>
          <% else %>
            <p>Market Potential is the most important commercial indicator for your track. It combines the Track Rating and the Passion Rating to give a definitive prediction of commercial success within the market. This is presented as a percentage between 0% and 85%. You&rsquo;re looking for a minimum of 65% to have a chance of chart success.*</p>
            <p>The Market Potential classification indicates where the track is positioned among over 100,000 other tracks.</p>
            <p>* Chart success assumes a reasonable promotional budget. It should also be noted that the relative success of a single is also directly related to the existing profile of an artist.</p>
          <% end %>
        </div>
      </div>

      <% if @report.soundout_product.report_type == SoundoutProduct::ENHANCED || @report.soundout_product.report_type == SoundoutProduct::PREMIUM %>
        <h2>In-Genre Classification</h2>
        <div class="breakdown">
          <div class="stats">
            <span class="stat"><%= @report.soundout_report_data.in_genre_class %></span>
          </div>
          <div class="description">
            <p>In-Genre Classification indicates where the track is positioned among thousands of other tracks in its own genre, and thereby the track's commercial potential within this target market.</p>
            <p>
              &ldquo;Excellent&rdquo;: Top 5% of all tracks in this genre<br>
              &ldquo;Very good&rdquo;: Top 15% of all tracks in this genre<br>
              &ldquo;Good&rdquo;: Top 30% of all tracks in this genre<br>
              &ldquo;Above Average&rdquo;: Top 60% of all tracks in this genre<br>
              &ldquo;Average&rdquo;: Bottom 40% of all tracks in this genre
            </p>
          </div>
        </div>
      <% end %>

      <% if @report.soundout_product.report_type == SoundoutProduct::PREMIUM %>
        <h2>Market Potential by Age Group</h2>
        <div class="row collapse">
          <div class="columns six">
            <table class="details-table">
              <thead>
                <tr>
                  <th>Age (years)</th>
                  <th>Market Potential (overall)</th>
                </tr>
              </thead>
              <tbody>
                <% @report.market_pot_age_groups.each do |age, pot| %>
                  <tr>
                    <th><%= age %></th>
                    <td><%= pot %>%</td>
                  </tr>
                <% end if @report.market_pot_age_groups %>
              </tbody>
            </table>
          </div>
          <div class="columns six">
            <table class="details-table">
              <thead>
                <tr>
                  <th>Age (years)</th>
                  <th>Market Potential (in genre)</th>
                </tr>
              </thead>
              <tbody>
                <% @report.market_pot_age_genre_groups.each do |age, pot| %>
                  <tr>
                    <th><%= age %></th>
                    <td><%= pot %>%</td>
                  </tr>
                <% end if @report.market_pot_age_genre_groups %>
              </tbody>
            </table>
          </div>
        </div>

        <% if @report.has?("TrackAppeal") %>
          <h2>Track Appeal</h2>
          <div class="breakdown">
            <div class="stats">
              <span class="stat"><%= @report.track_appeal_preference %></span><br>
              <span class="label">in genre</span><br>
              <span class="stat"><%= @report.track_appeal_no_preference %></span><br>
              <span class="label">outside genre</span><br>
            </div>
            <div class="description">
              <p>The track appeal shows how much your track appealed to reviewers who expressed a preference for the genre of your track (track appeal in genre rating), and for those who did not express a preference for the genre of your track (track appeal outside genre rating). The ratings are evaluated on a -5 to +5 point scale, with -5 indicating the reviewer really did not like the song, 0 being neutral, and +5 indicating the reviewer really liked the song.</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</main>
