<% content_for :css do %>
  <%= stylesheet_link_tag '/stylesheets/internal_layout.css' %>
  <%= stylesheet_link_tag '/stylesheets/soundout.css' %>
  <%= stylesheet_link_tag '/stylesheets/soundout_report.css' %>
<% end %>
<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/d3.v3.min" %>
  <script type="text/javascript">
    // Chart 1 - Rating Distribution Overall
    var margin = {top: 20, right: 30, bottom: 50, left: 50},
        width = 670 - margin.left - margin.right,
        height = 316 - margin.top - margin.bottom;

    var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], .1);

    var y = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .tickSize(-height)
        .tickPadding(10);

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(6)
        .tickSize(-width)
        .tickPadding(5);

    var chart1 = d3.select("#rating_distribution_overall")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    // Chart 2 - Track Positioning Against 1,000 Other Tracks in Genre
    var margin2 = {top: 20, right: 160, bottom: 50, left: 50},
        width2 = 670 - margin2.left - margin2.right,
        height2 = 316 - margin2.top - margin2.bottom;

    var x2 = d3.scale.linear()
        .range([0, width2]);

    var y2 = d3.scale.linear()
        .range([height2, 0]);

    var xAxis2 = d3.svg.axis()
        .scale(x2)
        .tickSize(-height2)
        .tickPadding(10)
        .tickFormat(d3.format("d"));

    var yAxis2 = d3.svg.axis()
        .scale(y2)
        .orient("left")
        .tickSize(-width2)
        .tickPadding(5)
        .tickFormat(d3.format("d"));

    var chart2 = d3.select("#positioning_genre_other")
        .append("svg")
        .attr("width", width2 + margin2.left + margin2.right)
        .attr("height", height2 + margin2.top + margin2.bottom)
      .append("g")
        .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");

    // Chart 3 - Track Positioning Against 1,000 Major Label Releases
    var chart3 = d3.select("#positioning_label_other")
        .append("svg")
        .attr("width", width2 + margin2.left + margin2.right)
        .attr("height", height2 + margin2.top + margin2.bottom)
      .append("g")
        .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");

    // Chart 1 - Rating Distribution Overall
    var dataset = JSON.parse('<%= @report.rating_distribution_data.to_json.html_safe %>');
    var totalratings = d3.sum(dataset, function(d) { return +d; });

    x.domain(d3.range(dataset.length));
    y.domain([0, 
      Math.ceil(
        (
          (
            d3.max(
              dataset, function(d) { return +d; }
            ) / totalratings
          ) * 100
        ) / 5.0
      ) * 5
    ]);

    chart1.append("defs")
        .append("clipPath")
        .attr("id", "chart-area")
        .append("rect")
        .attr("x", 0)
        .attr("y", 0)
        .attr("width", width)
        .attr("height", height - 1);

    chart1.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
      .append("text")
        .attr("class", "x axis-text")
        .attr("x", (width / 2) - 20)
        .attr("y", 40)
        .text("Rating");

    chart1.append("g")
        .attr("class", "y axis")
        .call(yAxis)
      .append("text")
        .attr("class", "y axis-text")
        .attr("transform", "rotate(-90)")
        .attr("x", (-height / 2) - margin.top)
        .attr("y", -40)
        .text("Percentage");

    chart1.selectAll(".column")
        .data(dataset)
      .enter().append("rect")
        .attr("class", "column")
        .attr("clip-path", "url(#chart-area)")
        .attr("x", function(d, i) { return x(i); })
        .attr("y", function(d) { return y((d / totalratings) * 100); })
        .attr("height", function(d) { return height - y((d / totalratings) * 100); })
        .attr("width", x.rangeBand());

    // Chart 2 - Track Positioning Against 1,000 Other Tracks in Genre
    var dataset2 = JSON.parse('<%= @report.track_positioning.to_json.html_safe %>');
        dataset3 = JSON.parse('<%= @report.genre_positioning.to_json.html_safe %>');

    x2.domain([
      d3.min(dataset3, function(d) { return d3.map(d).keys(); }),
      d3.max(dataset3, function(d) { return d3.map(d).keys(); })
    ]);
    y2.domain([
      d3.min(dataset3, function(d) { return d3.map(d).values(); }),
      d3.max(dataset3, function(d) { return d3.map(d).values(); }),
    ]);

    chart2.append("defs")
        .append("clipPath")
        .attr("id", "chart-area2")
        .append("rect")
        .attr("x", 0)
        .attr("y", 0)
        .attr("width", width2)
        .attr("height", height2 - 1);

    chart2.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height2 + ")")
        .call(xAxis2)
      .append("text")
        .attr("class", "x axis-text")
        .attr("x", 80)
        .attr("y", 40)
        .text("Divided Opinion");

    chart2.select(".x.axis")
      .append("marker")
        .attr("id", "triangle")
        .attr("viewBox", "0 0 10 10")
        .attr("refX", "0")
        .attr("refY", "5")
        .attr("markerUnits", "strokeWidth")
        .attr("markerWidth", "4")
        .attr("markerHeight", "5")
        .attr("orient", "auto")
      .append("path")
        .attr("d", "M0,0 L10,5 L0,10 z");

    chart2.select(".x.axis")
      .append("marker")
        .attr("id", "triangle2")
        .attr("viewBox", "0 0 10 10")
        .attr("refX", "0")
        .attr("refY", "5")
        .attr("markerUnits", "strokeWidth")
        .attr("markerWidth", "4")
        .attr("markerHeight", "5")
      .append("path")
        .attr("d", "M0,0 L10,5 L0,10 z");

    chart2.select(".x.axis")
      .append("line")
        .attr("class", "x axis-line")
        .attr("marker-end", "url(#triangle)")
        .attr("x1", 74)
        .attr("y1", 35)
        .attr("x2", 9)
        .attr("y2", 35);

    chart2.select(".x.axis")
      .append("line")
        .attr("class", "x axis-line")
        .attr("x1", 175)
        .attr("y1", 35)
        .attr("x2", 253)
        .attr("y2", 35);

    chart2.select(".x.axis")
      .append("text")
        .attr("class", "x axis-text")
        .attr("x", 258)
        .attr("y", 40)
        .text("Consensus of Opinion");

    chart2.select(".x.axis")
      .append("line")
        .attr("class", "x axis-line")
        .attr("marker-end", "url(#triangle2)")
        .attr("x1", 385)
        .attr("y1", 35)
        .attr("x2", 450)
        .attr("y2", 35);

    chart2.append("g")
        .attr("class", "y axis")
        .call(yAxis2)
      .append("text")
        .attr("class", "y axis-text")
        .attr("transform", "rotate(-90)")
        .attr("x", (-height2 / 2) - margin2.top)
        .attr("y", -40)
        .text("Track Rating");

    chart2.selectAll(".dot")
        .data(dataset3)
      .enter().append("circle")
        .attr("class", "dot")
        .attr("clip-path", "url(#chart-area2)")
        .attr("cx", function(d) {
          return x2(d3.entries(d)[0].key);
        })
        .attr("cy", function(d) {
          return y2(d3.entries(d)[0].value);
        })
        .attr("r", 2);

    chart2.selectAll(".dot_highlight")
        .data(d3.entries(dataset2))
      .enter().append("circle")
        .attr("class", "dot_highlight")
        .attr("clip-path", "url(#chart-area2)")
        .attr("cx", function(d) {
          return x2(d.key);
        })
        .attr("cy", function(d) {
          return y2(d.value);
        })
        .attr("r", 5);

    chart2.append("g")
        .attr("class", "legend")
      .append("rect")
        .attr("x", width2 + 10)
        .attr("y", 5)
        .attr("height", 45)
        .attr("width", 105);

    chart2.select(".legend")
      .append("rect")
        .attr("class", "your-track")
        .attr("x", width2 + 15)
        .attr("y", 12)
        .attr("height", 10)
        .attr("width", 20);

    chart2.select(".legend")
      .append("text")
        .attr("class", "your-track-text")
        .attr("x", width2 + 40)
        .attr("y", 21)
        .text("Your Track");

    chart2.select(".legend")
      .append("rect")
        .attr("class", "other-tracks")
        .attr("x", width2 + 15)
        .attr("y", 32)
        .attr("height", 10)
        .attr("width", 20);

    chart2.select(".legend")
      .append("text")
        .attr("class", "other-tracks-text")
        .attr("x", width2 + 40)
        .attr("y", 42)
        .text("Other Tracks");

    // Chart 3 - Track Positioning Against 1,000 Major Label Releases
    var dataset4 = JSON.parse('<%= @report.track_positioning_major_releases.to_json.html_safe %>');

    x2.domain([
      d3.min(dataset4, function(d) { return d3.map(d).keys(); }),
      d3.max(dataset4, function(d) { return d3.map(d).keys(); })
    ]);
    y2.domain([
      d3.min(dataset4, function(d) { return d3.map(d).values(); }),
      d3.max(dataset4, function(d) { return d3.map(d).values(); }),
    ]);

    chart3.append("defs")
        .append("clipPath")
        .attr("id", "chart-area3")
        .append("rect")
        .attr("x", 0)
        .attr("y", 0)
        .attr("width", width2)
        .attr("height", height2 - 1);

    chart3.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height2 + ")")
        .call(xAxis2)
      .append("text")
        .attr("class", "x axis-text")
        .attr("x", 80)
        .attr("y", 40)
        .text("Divided Opinion");

    chart3.select(".x.axis")
      .append("marker")
        .attr("id", "triangle")
        .attr("viewBox", "0 0 10 10")
        .attr("refX", "0")
        .attr("refY", "5")
        .attr("markerUnits", "strokeWidth")
        .attr("markerWidth", "4")
        .attr("markerHeight", "5")
        .attr("orient", "auto")
      .append("path")
        .attr("d", "M0,0 L10,5 L0,10 z");

    chart3.select(".x.axis")
      .append("marker")
        .attr("id", "triangle2")
        .attr("viewBox", "0 0 10 10")
        .attr("refX", "0")
        .attr("refY", "5")
        .attr("markerUnits", "strokeWidth")
        .attr("markerWidth", "4")
        .attr("markerHeight", "5")
      .append("path")
        .attr("d", "M0,0 L10,5 L0,10 z");

    chart3.select(".x.axis")
      .append("line")
        .attr("class", "x axis-line")
        .attr("marker-end", "url(#triangle)")
        .attr("x1", 74)
        .attr("y1", 35)
        .attr("x2", 9)
        .attr("y2", 35);

    chart3.select(".x.axis")
      .append("line")
        .attr("class", "x axis-line")
        .attr("x1", 175)
        .attr("y1", 35)
        .attr("x2", 253)
        .attr("y2", 35);

    chart3.select(".x.axis")
      .append("text")
        .attr("class", "x axis-text")
        .attr("x", 258)
        .attr("y", 40)
        .text("Consensus of Opinion");

    chart3.select(".x.axis")
      .append("line")
        .attr("class", "x axis-line")
        .attr("marker-end", "url(#triangle2)")
        .attr("x1", 385)
        .attr("y1", 35)
        .attr("x2", 450)
        .attr("y2", 35);

    chart3.append("g")
        .attr("class", "y axis")
        .call(yAxis2)
      .append("text")
        .attr("class", "y axis-text")
        .attr("transform", "rotate(-90)")
        .attr("x", (-height2 / 2) - margin2.top)
        .attr("y", -40)
        .text("Track Rating");

    chart3.selectAll(".dot")
        .data(dataset4)
      .enter().append("circle")
        .attr("class", "dot")
        .attr("clip-path", "url(#chart-area3)")
        .attr("cx", function(d) {
          return x2(d3.entries(d)[0].key);
        })
        .attr("cy", function(d) {
          return y2(d3.entries(d)[0].value);
        })
        .attr("r", 2);

    chart3.selectAll(".dot_highlight")
        .data(d3.entries(dataset2))
      .enter().append("circle")
        .attr("class", "dot_highlight")
        .attr("clip-path", "url(#chart-area3)")
        .attr("cx", function(d) {
          return x2(d.key);
        })
        .attr("cy", function(d) {
          return y2(d.value);
        })
        .attr("r", 5);

    chart3.append("g")
        .attr("class", "legend")
      .append("rect")
        .attr("x", width2 + 10)
        .attr("y", 5)
        .attr("height", 45)
        .attr("width", 105);

    chart3.select(".legend")
      .append("rect")
        .attr("class", "your-track")
        .attr("x", width2 + 15)
        .attr("y", 12)
        .attr("height", 10)
        .attr("width", 20);

    chart3.select(".legend")
      .append("text")
        .attr("class", "your-track-text")
        .attr("x", width2 + 40)
        .attr("y", 21)
        .text("Your Track");

    chart3.select(".legend")
      .append("rect")
        .attr("class", "other-tracks")
        .attr("x", width2 + 15)
        .attr("y", 32)
        .attr("height", 10)
        .attr("width", 20);

    chart3.select(".legend")
      .append("text")
        .attr("class", "other-tracks-text")
        .attr("x", width2 + 40)
        .attr("y", 42)
        .text("Other Tracks");
  </script>
<% end %>

<div class="content row">
  <%= render 'report_header' %>
</div>

<main class="row content">
  <div class="columns three">
    <%= render 'report_sidebar' %>
  </div>
  <div class="columns nine">
    <%= render 'report_tabs' %>
    <div class="report-contents">

      <h2>Rating Distribution Overall</h2>
      <p>This graph shows how all the reviewers' ratings of your track were distributed over our 0-10 point scale. Track Rating simply measures how "good" the track is overall (not necessarily market potential). When combined with the Passion Rating, it gives an accurate prediction of the Overall Market Potential for your track. Look for a minimum of 7.0 to indicate a high quality track.</p>
      <div id="rating_distribution_overall"></div>

      <h2>Track Positioning Against 1,000 Other Tracks in Genre</h2>
      <p>This evaluates how your track compares against 1,000 other tracks of the same genre. Tracks are charted according to their overall Track Rating and the consensus of opinion.</p>
      <div id="positioning_genre_other"></div>

      <% if @report.soundout_product.report_type == SoundoutProduct::PREMIUM %>
        <h2>Track Positioning Against 1,000 Major Label Releases</h2>
        <p>This evaluates how your track compares against 1,000 major label new release tracks. Tracks are charted according to their overall Track Rating and the consensus of opinion.</p>
        <div id="positioning_label_other"></div>
      <% end %>

    </div>
  </div>
</main>
