<% content_for :css do %>
  <%= stylesheet_link_tag '/stylesheets/magnific-popup.css' %>
  <%= stylesheet_link_tag '/stylesheets/internal_layout.css' %>
  <%= stylesheet_link_tag '/stylesheets/services.css' %>
  <%= stylesheet_link_tag '/stylesheets/soundout.css' %>
  <%= stylesheet_link_tag '/stylesheets/soundout_purchase.css' %>
<% end %>
<% content_for :external_javascript do %>

  <%= javascript_include_tag "/javascripts/underscore.min.js" %>
  <%= javascript_include_tag "/javascripts/app/soundout_purchase.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
  <%= javascript_include_tag "/javascripts/direct_upload/jquery.ui.widget.js" %>
  <%= javascript_include_tag "/javascripts/direct_upload/jquery.iframe-transport.js" %>
  <%= javascript_include_tag "/javascripts/direct_upload/jquery.fileupload.js" %>
  <%= javascript_include_tag "/javascripts/direct_upload/tmpl.js" %>
  <%= javascript_include_tag "/javascripts/app/soundout_upload.js" %>

  <script type="text/javascript">
    _.templateSettings = {
      interpolate: /\{\{(.+?)\}\}/g,
      evaluate: /\{\[(.+?)\]\}/g
    };
    window.partial = function(tmpl, data){
        arguments[0] = $('#' + tmpl).html().replace(/(\r\n|\n|\r)/gm, '');
        return _.template.apply(null, arguments);
    };
  </script>

  <script type="text/json" id="data">
    <%
      report_type_prices = {}
      report_type_options = []
      SoundoutProduct.soundout_products_detail(current_user.country_website_id, current_user).sort_by{|s| s['price']}.each do |r|
        report_type_prices[r['report_type']] = r['price'].to_f
        report_type_options << {report_type: r['report_type'], option_display: raw("#{r['display_name']} &ndash; #{money_to_currency(r['price'].to_money(r['currency']))}")}
      end
      data = {
        report_type_options: report_type_options,
        report_type_prices: report_type_prices,
        currency: current_user.currency
      }
    %>
    <%= raw data.to_json %>
  </script>

  <script type="text/html" id="albumTmpl">
    <div class="album">
      <header>

        <div class="album_desc">
          <div class="cover"><img src="{{album.artwork_url.small_url || '/images/default_cover_art.jpg'}}" alt="{{album.name}} Cover"></div>
          <div class="{[ (album.album_type == 'Album') ? print('album_info') : print('info'); ]}">
            <h2 class="album_title">{{album.name}}</h2>
            <span class="album_artist">by {{album.artist_name}}</span>
          </div>
        </div>
        {[ if(album.album_type == 'Single'){ ]}
          {[ if(album.songs[0].longer_than_90s){ ]}
            <div class="album_actions" id="song-{{album.songs[0].id}}">
              {[ print(partial('actionsTmpl', {data: data, id: album.songs[0].id})); ]}
            </div>
          {[ }else{ ]}
            <div class="album_actions not_available" id="song-{{album.songs[0].id}}">
              Not available for this track. <a href="#" class="not_available_link">Find out why</a>
            </div>
          {[ } ]}
        {[ } ]}
      </header>
      {[ if(album.album_type == 'Album') print(partial('songsTmpl', {data: data, songs: album.songs})); ]}
    </div>
  </script>

  <script type="text/html" id="songsTmpl">
    <ul class="tracks">
      {[
        _.each(songs, function(song){
          print(partial('songTmpl', {data: data, song: song}));
        });
      ]}
    </ul>
  </script>

  <script type="text/html" id="songTmpl">
    <li>
      {[ if(data.list_by == 'Album'){ ]}
        <div class="track_number">
          {{song.track_num}}.
        </div>
      {[ } ]}
      <div class="track_info">
        <span class="track_title">{{song.name}}</span> <span class="track_artist">by {{song.artist_name}}</span>
      </div>
      {[ if(song.longer_than_90s){ ]}
        <div class="track_actions" id="song-{{song.id}}">
          {[ print(partial('actionsTmpl', {data: data, id: song.id})); ]}
        </div>
      {[ } else { ]}
        <div class="track_actions not_available" id="song-{{song.id}}">
          Not available for this track. <a href="#" class="not_available_link">Find out why</a>
        </div>
      {[ } ]}
      <div class="clear"></div>
    </li>
  </script>

  <script type="text/html" id="actionsTmpl">
    <select id="report_type" name="report_type" song_id="{{id}}">
      {[ _.each(data.report_type_options, function(o, index){ ]}
        <option value="{{o.report_type}}"{[ if(id in data.selected && data.selected[id] == o.report_type) print('selected'); ]}>{{o.option_display}}</option>
      {[ }); ]}
    </select>
    <span class="checkbox"><input type="checkbox" song_id="{{id}}"{[ if(id in data.selected) print('checked'); ]}></span>
  </script>

  <script type="text/html" id="containerTmpl">
    {[
      if(data.list_by == 'Album'){
        _.each(data.albums, function(album){
          print(partial('albumTmpl', {data: data, album: album}));
        });
      }else{
    ]}
      <div class="album">
        {[ print(partial('songsTmpl', {data: data, songs: data.songs})); ]}
      </div>
    {[ } ]}
  </script>

  <script type="text/html" id="albumNavTmpl">
    <div class="total_results">
      <span class="tracks">
        <strong>
          {{total_count}}
          {[ if(list_by == 'Album'){ ]}
            {[ (total_count == 1) ? print('album/single') : print('albums/singles'); ]}
          {[ }else{ ]}
            {[ (total_count == 1) ? print('track') : print('tracks'); ]}
          {[ } ]}
        </strong>
      </span>
    </div>
    {[ if(total_pages > 1){ ]}
      <div class="pagination">
        Page
        <select class="select_page" autocomplete="off">
          {[ for(var i=1; i<=total_pages; i++){ ]}
            <option value="{{i}}" {[ if(current_page == i) print('selected'); ]}>{{i}}</option>
          {[ } ]}
        </select>
        of {{total_pages}}
        {[ if(current_page - 1 > 0){ ]}
          <a href="#" class="prev_page"><i class="fa fa-chevron-circle-left fa-lg"></i></a>
        {[ }else{ ]}
          <span class="prev_page disabled"><i class="fa fa-chevron-circle-left fa-lg"></i></span>
        {[ } ]}
        {[ if(total_pages - current_page > 0){ ]}
          <a href="#" class="next_page"><i class="fa fa-chevron-circle-right fa-lg"></i></a>
        {[ }else{ ]}
          <span class="next_page disabled"><i class="fa fa-chevron-circle-right fa-lg"></i></span>
        {[ } ]}
      </div>
    {[ }else{ ]}
      <div class="pagination">&nbsp;</div>
    {[ } ]}
  </script>

<% end %>

<div class="content purchase-header">
  <header class="row alternate">
    <div class="twelve columns">
      <h1><img src="/images/services/soundout/purchaselogo.png" alt="TuneCore Fan Reviews: Powered by Soundout"></h1>
    </div>
  </header>
</div>

<div class="tabs">
  <div class="row">
    <ul class="twelve columns">
      <li><a href="<%= soundout_reports_path %>"><%= custom_t('.view_my_reports') %></a></li>
      <li class="active"><%= custom_t('soundout_reports.purchase_reports') %></li>
    </ul>
  </div>
</div>

<main class="content">
  <div class="soundout-intro">
    <div class="row">
      <section class="introduction twelve columns">
        <%= custom_t('.get_ratings') %>
      </section>
    </div>

    <div class="row">
      <section class="soundout_tiers twelve columns">
        <div class="tier tier-starter">
          <i class="fa fa-star"></i>
          <%= custom_t('.starter') %>
          <%= money_to_currency(find_soundout_product_price(current_user, :starter)) %> <%= custom_t(:per_song) %><br/>
          <a target="_blank" href="<%= REVIEWS_REPORT_STARTER_URL %>"><%= custom_t('.view_sample_report') %></a></p>
        </div>
        <div class="tier tier-enhanced">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <%= custom_t('.enhanced') %>
          <%= money_to_currency(find_soundout_product_price(current_user, :enhanced)) %> <%= custom_t(:per_song) %><br>
          <a target="_blank" href="<%= REVIEWS_REPORT_ENHANCED_URL %>"><%= custom_t('.view_sample_report') %></a></p>
        </div>
        <div class="tier tier-premium">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <%= custom_t('.premium') %>
          <%= money_to_currency(find_soundout_product_price(current_user, :premium)) %> <%= custom_t(:per_song) %><br>
          <a target="_blank" href="<%= REVIEWS_REPORT_PREMIUM_URL %>"><%= custom_t('.view_sample_report') %></a></p>
        </div>
      </section>
      <a href="<%= knowledgebase_link_for('about-soundout', country_website) %>" class="compare_link">Learn More</a>
    </div>
  </div>

  <div class="row">
    <section class="browse nine columns">
      <p class="purchase_note">
        <%= custom_t('.report_notes') %>
      </p>
      <p class="soundout_error"></p>

      <div class="upload_tracks">
        <header>
          <h2><%= custom_t('.upload_tracks') %></h2>
        </header>
        <div class="pod-body">
          <%= form_tag song_library_uploads_path, id: "soundout-form-metadata", multipart: true, remote: true do %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

            <fieldset>
              <label for="name"><%= custom_t(:song_title) %>*</label>
              <%= text_field_tag "name", "", id: "name", class: "upload_input", size:30 %>
            </fieldset>

            <fieldset>
            <label for="artist_name"><%= custom_t(:artist_name) %>*</label>
              <%= text_field_tag "artist_name", "", id: "artist_name", class: "upload_input", size:30 %>
            </fieldset>

            <fieldset>
              <label for="genre"><%= custom_t(:genre_display) %></label>
              <%= select_tag "genre_id", options_from_collection_for_select(Genre.active.parent_genres.by_name, "id", "name"), id: "genre" %>
            </fieldset>

            <fieldset>
              <%= file_field_tag "song_library_asset", class: "upload_file_field" %>
            </fieldset>

            <button id="upload_song_btn" class="button-callout-alt" style="float:right; margin:-10px;">
              <%= custom_t(:upload_word) %>
            </button>

            <div class="spinner" style="display: none; flex-direction: row-reverse;">
              <img src="/images/icons/spinner-blue.gif" />
            </div>
          <% end %>
        </div>
      </div>

      <br/>
      <% if @soundout_songs.present? %>
        <%= render partial: "soundout_nav", locals: { soundout_songs: @soundout_songs } %>
        <%= render partial: "song_library_uploads", locals: { soundout_songs: @soundout_songs } %>
        <%= render partial: "soundout_nav", locals: { soundout_songs: @soundout_songs } %>
      <% end %>
      <% if @total_albums > 0 %>
        <h1 id="distro-header"><%= custom_t('.distributed_tracks') %></h1>
      <% end %>

      <% if @total_albums > 0 %>
        <div class="album_nav">
          <div class="total_results">
            <span class="tracks"><strong><%= @total_albums %> <%= custom_t(:album_plural, count: @total_albums) %>/<%= custom_t(:single_plural, count: @total_albums) %></strong></span>
          </div>
          <% if @total_pages > 1 %>
            <div class="pagination">
              <%= custom_t(:page) %>
              <select class="select_page" autocomplete="off">
                <% @total_pages.times do |n| %>
                  <option value="<%= n+1 %>"<%= ' selected' if n == 0 %>><%= n+1 %></option>
                <% end %>
              </select>
              <%= custom_t(:of) %> <%= @total_pages %>
              <span class="prev_page disabled"><i class="fa fa-chevron-circle-left fa-lg"></i></span>
              <a href="#" class="next_page"><i class="fa fa-chevron-circle-right fa-lg"></i></a>
            </div>
          <% else %>
            <div class="pagination">&nbsp;</div>
          <% end %>
        </div>

        <div class="album_container">
          <% @albums.each do |a| %>
            <div class="album">
              <header>
                <div class="album_desc">
                  <div class="cover"><%= image_tag (a.artwork ? a.artwork.url(:small) : '/images/default_cover_art.jpg'), alt: "#{a.name} Cover" %></div>
                  <div class="<%= a.album? ? 'album_info' : 'info' %>">
                    <h2 class="album_title"><%= a.name %></h2>
                    <span class="album_artist"><%= custom_t(:by) %> <%= a.artist_name %></span>
                  </div>
                </div>
                <% if a.single? %>
                  <% if a.song.longer_than_90s %>
                    <div class="album_actions" id="song-<%= a.song.id %>">
                      <%= select_tag :report_type, select_options_for_soundout_reports, song_id: a.song.id %>
                      <span class="checkbox"><input type="checkbox" song_id="<%= a.song.id %>"></span>
                    </div>
                  <% else %>
                    <div class="album_actions not_available" id="song-<%= a.song.id %>">
                      <%= custom_t('.not_available_for') %> <a href="#" class="not_available_link"><%= custom_t('.find_out_why') %></a>
                    </div>
                  <% end %>
                <% end %>
              </header>
              <% if a.album? %>
                <ul class="tracks">
                  <% a.songs.each do |s| %>
                    <li>
                      <div class="track_desc">
                        <div class="track_number">
                          <%= s.track_num %>.
                        </div>
                        <div class="track_info">
                          <span class="track_title"><%= s.name %></span> <span class="track_artist"><%= custom_t(:by) %> <%= s.artist_name %></span>
                        </div>
                      </div>
                      <% if s.longer_than_90s %>
                        <div class="track_actions" id="song-<%= s.id %>">
                          <%= select_tag :report_type, select_options_for_soundout_reports, song_id: s.id %>
                          <label class="checkbox"><input type="checkbox" song_id="<%= s.id %>"></label>
                        </div>
                      <% else %>
                        <div class="track_actions not_available" id="song-<%= s.id %>">
                          <%= custom_t('.not_available_for') %> <a href="#" class="not_available_link"><%= custom_t('.find_out_why') %></a>
                        </div>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          <% end %>
        </div>

          <div class="album_nav">
            <div class="total_results">
              <span class="tracks"><strong><%= @total_albums %> <%= custom_t(:album_plural, count: @total_albums) %>/<%= custom_t(:single_plural, count: @total_albums) %></strong></span>
            </div>
            <% if @total_pages > 1 %>
              <div class="pagination">
               <%= custom_t(:page) %>
                <select class="select_page" autocomplete="off">
                  <% @total_pages.times do |n| %>
                    <option value="<%= n+1 %>"<%= ' selected' if n == 0 %>><%= n+1 %></option>
                  <% end %>
                </select>
                <%= custom_t(:of) %> <%= @total_pages %>
                <span class="prev_page disabled"><i class="fa fa-chevron-circle-left fa-lg"></i></span>
                <a href="#" class="next_page"><i class="fa fa-chevron-circle-right fa-lg"></i></a>
              </div>
            <% else %>
              <div class="pagination">&nbsp;</div>
            <% end %>
          </div>
        <% end %>

        <div class="subtotal">
          <span class="label"><%= custom_t(:subtotal) %></span>
          <span class="price"><%= money_to_currency(Money.new(0, current_user.currency)) %></span>
        </div>

        <div class="buttons">
          <a href="#" class="button-interface remove-all"><%= custom_t(:remove) %> <%= custom_t(:all) %></a>
          <a href="#" class="button-callout add-selected"><%= custom_t(:purchase_selected) %></a>
        </div>
      </section>

      <% if @total_albums > 0 %>
        <aside class="sidebar three columns">
          <div class="search_filter">
            <header>
              <h3><%= custom_t(:search) %> &amp; <%= custom_t(:filter) %></h3>
            </header>
            <%= form_tag 'purchase_soundout_reports_path', :method => 'get', :class => 'filter_form' do %>
              <fieldset>
              <label for="search"><%= custom_t(:search) %></label>
              <input type="search" name="search" id="search">
            </fieldset>
            <fieldset>
              <label for="type"><%= custom_t(:release_type) %></label>
              <select name="type" id="release_type" autocomplete="off">
                <option value=""><%= custom_t(:all) %> <%= custom_t(:releases) %></option>
                <option value="Album"><%= custom_t(:albums) %></option>
                <option value="Single"><%= custom_t(:singles_global) %></option>
              </select>
            </fieldset>
            <fieldset>
              <label for="list_by"><%= custom_t(:list_by) %></label>
              <select name="list_by" id="list_by" autocomplete="off">
                <option value="Album"><%= custom_t(:album_display) %></option>
                <option value="Track"><%= custom_t(:track) %></option>
              </select>
            </fieldset>
            <fieldset>
              <label for="sort_by"><%= custom_t(:sort_by) %></label>
              <select name="sort_by" id="sort_by" autocomplete="off" style="margin-left: 10px; width:140px;">
                <option value="golive_date desc"><%= custom_t(:release_newest) %></option>
                <option value="golive_date"><%= custom_t(:release_oldest) %></option>
                <option value="name"><%= custom_t(:title) %> - A-Z</option>
                <option value="name desc"><%= custom_t(:title) %> - Z-A</option>
              </select>
            </fieldset>
            <fieldset class="filter-buttons">
              <input type="submit" name="submit" class="button-callout-alt apply-button" value="<%= custom_t(:apply) %>">
              <input type="reset" name="reset" class="button-interface reset-button" value="<%= custom_t(:reset) %>">
            </fieldset>
          <% end %>
          </div>
        </aside>
      <% end %>
    </div>
  </main>

<form id="hidden_form" action="/fanreviews/purchase_reports" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" id="hidden_input" name="purchase">
  <input type="hidden" id="hidden_input_asset" name="assets">
</form>

<div id="errorModal" class="alert mfp-hide">
  <p style="font-size: 12px;"><%= custom_t('.you_must_select_at_least_one') %></p>
</div>
<div id="refreshModal" class="alert mfp-hide">
  <p style="font-size: 12px;"><%= custom_t('soundout_reports.there_has_been_an_error') %></p>
</div>
<div id="notAvailableModal" class="alert mfp-hide">
  <p style="font-size: 12px;"><%= custom_t('.longer_than_90_seconds') %></p>
</div>
