<% content_for :css do %>
  <%= stylesheet_link_tag '/stylesheets/internal_layout.css' %>
  <%= stylesheet_link_tag '/stylesheets/soundout.css' %>
  <%= stylesheet_link_tag '/stylesheets/soundout_report.css' %>
<% end %>
<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/d3.v3.min" %>
  <script type="text/javascript">
    // Chart 4 - Song Element Analysis
    var margin2 = {top: 20, right: 30, bottom: 50, left: 90},
        width2 = 670 - margin2.left - margin2.right,
        height2 = 316 - margin2.top - margin2.bottom;

    var x3 = d3.scale.linear()
        .range([0, width2]);

    var y3 = d3.scale.ordinal()
        .rangeRoundBands([height2, 0], .3);

    var xAxis3 = d3.svg.axis()
        .scale(x3)
        .tickSize(-height2)
        .tickPadding(10);

    var yAxis3 = d3.svg.axis()
        .scale(y3)
        .orient("left")
        .tickSize(-width2)
        .tickPadding(5);

    var chart4 = d3.select("#track_element")
        .append("svg")
        .attr("width", width2 + margin2.left + margin2.right)
        .attr("height", height2 + margin2.top + margin2.bottom)
      .append("g")
        .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");

    // Chart 4 - Song Element Analysis
    var dataset5 =  JSON.parse('<%= @report.song_analysis.to_json.html_safe %>');

    x3.domain([0, 100]);
    y3.domain(d3.map(dataset5).keys());

    chart4.append("defs")
        .append("clipPath")
        .attr("id", "chart-area4")
        .append("rect")
        .attr("x", 1)
        .attr("y", 1)
        .attr("width", width2 - 1)
        .attr("height", height2);

    chart4.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height2 + ")")
        .call(xAxis3)
      .append("text")
        .attr("class", "x axis-text")
        .attr("x", (width2 / 2) - 20)
        .attr("y", 40)
        .text("Percentage");

    chart4.append("g")
        .attr("class", "y axis")
        .call(yAxis3)
      .append("text")
        .attr("class", "y axis-text")
        .attr("x", -margin2.left)
        .attr("y", -10)
        .text("Track Element");

    chart4.selectAll(".bar")
        .data(d3.entries(dataset5))
      .enter().append("rect")
        .attr("class", "bar")
        .attr("clip-path", "url(#chart-area4)")
        .attr("x", 0)
        .attr("y", function(d) { return y3(d.key); })
        .attr("height", y3.rangeBand())
        .attr("width", function(d) { return x3(d.value); });

    chart4.selectAll(".rating-text")
        .data(d3.entries(dataset5))
      .enter().append("text")
        .text(function(d) {
          var text;
          if (d.value >= 80) { text = "Excellent" }
          else if (d.value >= 70 && d.value < 80) { text = "Very Good" }
          else if (d.value >= 60 && d.value < 70) { text = "Good" }
          else if (d.value >= 40 && d.value < 60) { text = "Ok" }
          else if (d.value < 40) { text = "Weak" }
          else { text = "" }
          return text;
        })
        .attr("text-anchor", "start")
        .attr("x", function(d) {
          return x3(d.value) + 10;
        })
        .attr("y", function(d) {
          return y3(d.key) + y3.rangeBand() - 5;
        });

    // Word Cloud
    var dataset6 = JSON.parse(`<%= raw(@report.word_cloud.to_json) %>`);
    var tagcloud = d3.select("#tagcloud");

    var wordScale = d3.scale.linear()
        .domain([d3.min(d3.entries(dataset6), function(d) { return +d.value; }), d3.max(d3.entries(dataset6), function(d) { return +d.value; })])
        .range([14, 45]);
    var opacityScale = d3.scale.linear()
        .domain([d3.min(d3.entries(dataset6), function(d) { return +d.value; }), d3.max(d3.entries(dataset6), function(d) { return +d.value; })])
        .range([0.3, 1]);

    tagcloud.selectAll("span")
        .data(d3.entries(dataset6))
      .enter().append("span")
        .attr("class", "word")
        .attr("style", function(d) {
          return "font-size:" + wordScale(d.value) + "px; "
                 + "opacity:" + opacityScale(d.value) + ";";
        })
        .text(function(d) { return unescape(d.key); });
  </script>
<% end %>

<div class="content row">
  <%= render 'report_header' %>
</div>

<main class="row content">
  <div class="columns three">
    <%= render 'report_sidebar' %>
  </div>
  <div class="columns nine">
    <%= render 'report_tabs' %>
    <div class="report-contents">

        <h2>Song Element Analysis</h2>
        <p>This data is generated using a technology that automatically "reads" all your reviews and identifies which elements of your track reviewers are commenting on most. It then uses advanced sentiment analysis technology to establish whether the overall sentiment is positive or negative. This analysis is particularly useful to help identify which elements of your track could be improved.</p>
        <div id="track_element" class="chart"></div>

        <h2>Word Cloud</h2>
        <p>This visualization reveals what emotions and key themes reviewers mentioned most often in their reviews. The larger the word, the more often it was used by reviewers when describing your track.</p>
        <div id="tagcloud"></div>

        <% if @report.soundout_product.report_type == SoundoutProduct::PREMIUM %>
          <h2>Artists Mentioned</h2>
          <p>These are the artists mentioned most frequently by reviewers in their reviews of your track.</p>
          <table class="details-table mentions-table">
            <tbody>
              <% @report.artists_mentioned.each do |artist, mentions| %>
                <tr>
                  <td><%= artist %></td>
                  <td><%= pluralize mentions, 'mention' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>

    </div>
  </div>
</main>
