<% content_for :css do %>
  <%= stylesheet_link_tag '/stylesheets/internal_layout.css' %>
  <%= stylesheet_link_tag '/stylesheets/soundout.css' %>
  <%= stylesheet_link_tag '/stylesheets/soundout_report.css' %>
<% end %>
<% content_for :external_javascript do %>

  <%= javascript_include_tag "/javascripts/underscore.min.js" %>
  <%= javascript_include_tag "/javascripts/app/soundout_reviews.js" %>

  <script type="text/javascript">
    _.templateSettings = {
      interpolate: /\{\{(.+?)\}\}/g,
      evaluate: /\{\[(.+?)\]\}/g
    };
    window.partial = function(tmpl, data){
        arguments[0] = $('#' + tmpl).html().replace(/(\r\n|\n|\r)/gm, '');
        return _.template.apply(null, arguments);
    };
    Number.prototype.pad = function(size) {
      var s = String(this);
      if(typeof(size) !== "number"){size = 2;}
      while (s.length < size) {s = "0" + s;}
      return s;
    }
    String.prototype.capitalize = function() {
      return this.charAt(0).toUpperCase() + this.slice(1);
    }
  </script>

  <script type="text/html" id="reviewsTmpl">
    {[ _.each(reviews, function(r){ ]}
      <div class="row review collapse">
        <div class="columns two">
          {[ if('<%= @report.soundout_product.report_type %>' == 'premium'){ ]}
            {[ r.gender && r.gender == 1 ? print('Male') : print('Female'); ]} {[ if(r.age){ ]}Age {{r.age}}{[ } ]}{[ if(r.age || r.gender){ ]}<br />{[ } ]}
          {[ } ]}
          Rating: <strong>{{r.score}}</strong>
        </div>
        <div class="columns ten">{{r.comment}}</div>
      </div>
    {[ }); ]}
  </script>

  <script type="text/html" id="pagerTmpl">
    <div class="pager-total">{{total_count}} {[total_count == 1 ? print('review') : print('reviews'); ]}</div>
    {[ if(total_pages > 1){ ]}
      <div class="pager-controls">
        {[ if(current_page - 1 > 0){ ]}
          <a href="#" class="pager-left page_link"><i class="fa fa-caret-left fa-lg fa-2x"></i></a>
        {[ }else{ ]}
          <span class="pager-left"><i class="fa fa-caret-left fa-lg fa-2x"></i></span>
        {[ } ]}
        <span>Page</span>
        <select class="select_page" autocomplete="off">
          {[ for(var i=1; i<=total_pages; i++){ ]}
            <option value="{{i}}" {[ if(current_page == i) print('selected'); ]}>{{i}}</option>
          {[ } ]}
        </select>
        <span>of <strong>{{total_pages}}</strong></span>
        {[ if(total_pages - current_page > 0){ ]}
          <a href="#" class="pager-right page_link"><i class="fa fa-caret-right fa-lg fa-2x"></i></a>
        {[ }else{ ]}
          <span class="pager-right"><i class="fa fa-caret-right fa-lg fa-2x"></i></span>
        {[ } ]}
      </div>
    {[ } ]}
  </script>

<% end %>

<div class="content row">
  <%= render 'report_header' %>
</div>

<main class="row content" report_id="<%= @report.id %>">
  <div class="columns three">
    <%= render 'report_sidebar' %>
  </div>
  <div class="columns nine">
    <%= render 'report_tabs' %>
    <div class="report-contents">
      <p>These are the comments provided by the <%= @report_data['Reviews'] %> music fans and consumers who listened to your track online and left their track rating and written review.</p>

      <div class="search_filter">
        <header>
          <h3>Search &amp; Filter</h3>
        </header>
        <%= form_tag reviews_soundout_report_path, :method => 'get', :class => 'filter_form' do %>
          <% if @report.soundout_product.report_type == 'premium' %>
            <fieldset>
              <label for="search">Search</label>
              <input type="search" name="search" id="search">
              <label for="sort_by">Sort by</label>
              <select name="sort_by" id="sort_by">
                <option value="Rating DESC">Rating -- Highest First</option>
                <option value="Rating ASC">Rating -- Lowest First</option>
                <option value="Age DESC">Age -- Oldest First</option>
                <option value="Age ASC">Age -- Youngest First</option>
                <option value="Gender ASC">Gender</option>
              </select>
            </fieldset>
            <fieldset>
              <label for="rating_gte">Rating between</label>
              <input type="text" name="rating_gte" id="rating_gte" style="width: 40px;">
              <label for="rating_lte" style="padding-left: 4px;">and</label>
              <input type="text" name="rating_lte" id="rating_lte" style="width: 40px;">
              <label for="age_gte" style="margin-left: 10px;">Age between</label>
              <input type="text" name="age_gte" id="age_gte" style="width: 40px;">
              <label for="age_lte" style="padding-left: 4px;">and</label>
              <input type="text" name="age_lte" id="age_lte" style="width: 40px;">
              <label for="gender" style="margin-left: 10px;">Gender</label>
              <select name="gender" id="gender" style="width: 75px; min-width: 75px;">
                <option value="">All</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
              </select>
            </fieldset>
          <% else %>
            <fieldset>
              <label for="search">Search</label>
              <input type="search" name="search" id="search">
              <label for="rating_gte">Rating between</label>
              <input type="text" name="rating_gte" id="rating_gte" style="width: 40px;">
              <label for="rating_lte" style="padding-left: 4px;">and</label>
              <input type="text" name="rating_lte" id="rating_lte" style="width: 40px;">
            </fieldset>
          <% end %>
          <fieldset class="filter-buttons" style="margin-bottom: 0px;">
            <input type="submit" name="submit" class="button-callout-alt apply-button" value="Apply">
            <input type="reset" name="reset" class="button-interface reset-button" value="Reset">
          </fieldset>
        <% end %>
      </div>

      <div class="pager">
        <div class="pager-total"><%= pluralize(@total_count, "reviews") %></div>
        <% if @total_pages > 1 %>
          <div class="pager-controls">
            <span class="pager-left"><i class="fa fa-caret-left fa-lg fa-2x"></i></span>
            <span>Page</span>
            <select class="select_page" autocomplete="off">
              <% @total_pages.times do |n| %>
                <option value="<%= n+1 %>"<%= ' selected' if n == 0 %>><%= n+1 %></option>
              <% end %>
            </select>
            <span>of <strong><%= @total_pages %></strong></span>
            <a href="#" class="pager-right page_link"><i class="fa fa-caret-right fa-lg fa-2x"></i></a>
          </div>
        <% end %>
      </div>

      <div class="reviews">
        <% @reviews.each do |r| %>
          <div class="row review collapse">
            <div class="columns two">
              <% if @report.soundout_product.report_type == 'premium' %>
                <%= (r['gender'] == 1 ? 'Male' : 'Female') if r['gender'] %> <% if r['age'] %>Age <%= r['age'] %><% end %><% if r['gender'] or r['age'] %><br /><% end %>
              <% end %>
              Rating: <strong><%= r['score'] %></strong>
            </div>
            <div class="columns ten"><%= r['comment'] %></div>
          </div>
        <% end %>
      </div>

      <div class="pager">
        <div class="pager-total"><%= pluralize(@total_count, "reviews") %></div>
        <% if @total_pages > 1 %>
          <div class="pager-controls">
            <span class="pager-left"><i class="fa fa-caret-left fa-lg fa-2x"></i></span>
            <span>Page</span>
            <select class="select_page" autocomplete="off">
              <% @total_pages.times do |n| %>
                <option value="<%= n+1 %>"<%= ' selected' if n == 0 %>><%= n+1 %></option>
              <% end %>
            </select>
            <span>of <strong><%= @total_pages %></strong></span>
            <a href="#" class="pager-right page_link"><i class="fa fa-caret-right fa-lg fa-2x"></i></a>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</main>

<div id="refreshModal" class="hide">
  <p style="font-size: 12px;">There has been an errror, please refresh the page and try again.</p>
</div>
