<% content_for :css do %>
  <%= stylesheet_link_tag '/stylesheets/internal_layout.css' %>
  <%= stylesheet_link_tag '/stylesheets/soundout.css' %>
  <%= stylesheet_link_tag '/stylesheets/soundout_report.css' %>
<% end %>

<div class="content row">
  <%= render 'report_header' %>
</div>

<main class="row content">
  <div class="columns three">
    <%= render 'report_sidebar' %>
  </div>
  <div class="columns nine">
    <%= render 'report_tabs' %>
    <div class="report-contents">
      <h2>Sample Group Breakdown</h2>
      <p>This is the group of <%= @report_data['Reviews'] %> music fans and consumers who listened to your track online and left their track rating and written review. Reviewers do not know they are conducting market research when they hear your track, which helps to achieve honest and objective responses. The sample group is selected at random, since a diverse sample group of reviewers is required to form a "smart crowd" and ensure an accurate Track Rating. Other information known about these reviewers includes age, gender, employment status, location, and genre preferences.</p>
      <div class="row collapse">
        <div class="columns three">
          <table class="details-table">
            <thead>
              <tr>
                <th>Age (years)</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @report.sample_age_groups.each do |age, percent| %>
                <tr>
                  <th><%= age %></th>
                  <td><%= percent.round(0) %>%</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="columns three end">
          <table class="details-table">
            <thead>
              <tr>
                <th>Gender</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Male</th>
                <td><%= @report.sample_group_male_percent.round(0) %>%</td>
              </tr>
              <tr>
                <th>Female</th>
                <td><%= @report.sample_group_female_percent.round(0) %>%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
