<% content_for :css do %>
  <%= stylesheet_link_tag '/stylesheets/internal_layout.css' %>
  <%= stylesheet_link_tag '/stylesheets/ingrooves_fontana.css' %>
<% end %>

<main class="content">
  <header class="row">
    <div class="twelve columns">
      <h1>INgrooves Fontana Artist Submission</h1>
    </div>
  </header>
  
  <div class="row">
    <div class="twelve columns">
      <div class="pod">
        <div class="pod-body">
          <p>Thank you for submitting your track for A&amp;R consideration with INgrooves Fontana. INgrooves Fontana will contact you if they are interested in further discussion.</p>
          <a href="<%= soundout_reports_path %>" class="button-interface">Back to Dashboard</a>
        </div>
      </div>
    </div>
  </div>
</main>