<% content_for :jquery_ui do %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js" %>
<% end %>

<style>
label{
  padding: 0;
  margin: 0;
  float: none;
}

.start-date{
  font-size: 14px;
  margin-right: 10px;
}

.calendar-image{
  margin-right: 6px;
  margin-bottom: -2px;
  height: 15px;
}
</style>

<h1 class="edit-preorder-header">Edit Preorder Detail</h1>

<%= form_tag({:controller => '/admin/preorders', :action => :update}, :id => 'preorder-edit-form', method: :put) do %>
  <table class="preorder-form">
    <tr>
      <td>Preorder Purchase Type</td>
      <td><%= preorder_purchase_type(@preorder_purchase) %></td>
    </tr>
    <tr>
      <td><b>Pre-order start date</b></td>
      <td><label for="preorder_start_date"><%= image_tag '/images/calendar.jpg', class: "calendar-image" %></label><input type="text" id="preorder_start_date" name="all[start_date]" value="<%= fmt_country_date((@preorder_data and @preorder_data.start_date) ? @preorder_data.start_date : (Date.today + 1.days)) %>"></td>
    </tr>
    <tr>
      <td><b>Sales start date</b></td>
      <td><span class="start-date"><%= fmt_country_date @album.sale_date %></span>
    </tr>
    <tr>
      <td><b>Track Previews</b></td>
      <td><input type="radio" name="all[preview_songs]" value="enable" class="track-preview" <% if @preorder_data.preview_songs %>checked<% end %>>Enable
          <input type="radio" name="all[preview_songs]" value="" class="track-preview" <% if !@preorder_data.preview_songs %>checked<% end %>>Disable</td>
    </tr>
    <% if @preorder_purchase.itunes_enabled %>
      <tr>
        <td><b>Instant Grat Tracks</b></td>
        <td>
          <div style="text-align:left;padding-left: 10%;">
            <% if @album.songs.length <= 2 %>
              Not enough songs for Grat Tracks
            <% else %>
              <% @album.songs.each do |song| %>
                <input type="checkbox" name="itunes[instant_grat_songs][]" value="<%= song.id %>" id="grat-<%= song.id %>" class="instant-grat-checkboxes" <%= 'checked' if @grat_songs.any?{|gs| song.id == gs.song_id} %>>
                <label for="grat-<%= song.id %>"><%= display_name(song) %></label></br>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
      <tr>
        <td><b>Preorder Price</b></td>
        <td><%= select_tag "itunes[preorder_price_id]", options_from_collection_for_select(@preorder_data.salepoint.variable_price_options.sort{ |a, b| a.position <=> b.position}, :id, :price_code_display, @preorder_data.variable_price_id), :include_blank => true %></td>
      </tr>
      <tr>
        <td><b>Track Price</b></td>
        <td><%= select_tag "itunes[track_variable_price_id]", options_from_collection_for_select(@preorder_data.salepoint.track_variable_price_options.sort{ |a, b| a.position <=> b.position}, :id, :price_code_display, @preorder_data.salepoint.track_variable_price_id), :include_blank => true %></td>
      </tr>
      <tr>
        <td><b>Street Date Price</b></td>
        <td><%= select_tag "itunes[variable_price_id]", options_from_collection_for_select(@preorder_data.salepoint.variable_price_options.sort{ |a, b| a.position <=> b.position}, :id, :price_code_display, @preorder_data.salepoint.variable_price_id), :include_blank => true %></td>
      </tr>
    <% end %>
  </table>

  <%= submit_tag "Save & Deliver" %>
<% end %>

<% content_for :external_javascript do %>
  <script type="json/javascript" id="preorder_data">
    <%= raw(@data.to_json) %>
  </script>

  <script>
    jQuery(function($) {
      preorderStartDate = $('#preorder_start_date');

      var data = JSON.parse($('#preorder_data').html());
      var grat_songs_count = data.grat_songs_count;
      var songs_count = data.songs_count;
      var is_four_tracks = songs_count == 4;
      var max_grat_tracks = Math.floor(songs_count / 2);
      checkGratSongCount();

      $(".instant-grat-checkboxes").on("click", function() {
        $(this).prop("checked") ? grat_songs_count++ : grat_songs_count--;

        checkGratSongCount();
      });



      $("#track_variable_price_id").change(function(){
        var track_tier = $("#track_variable_price_id").find(":selected").text();
        if(songs_count == 4 && grat_songs_count >= 2 && track_tier.match(/Back/)){
          $(".instant-grat-checkboxes:checked:last").removeAttr("checked");
          grat_songs_count--;
        }

        if (is_four_tracks) {
          checkGratSongCount();
        }
      });

      function checkGratSongCount(){
        var track_tier = $("#track_variable_price_id").find(":selected").text();

        if (is_four_tracks && track_tier.match(/Back/)) {
          if (grat_songs_count >= 1) {
            $(".instant-grat-checkboxes:not(:checked)").prop("disabled", true);
          } else {
            $(".instant-grat-checkboxes").prop("disabled", false);
          }
        } else if (grat_songs_count >= max_grat_tracks) {
          $(".instant-grat-checkboxes:not(:checked)").prop("disabled", true);
        } else if(grat_songs_count < max_grat_tracks) {
          $(".instant-grat-checkboxes").prop("disabled", false);
        }
      };

      preorderStartDate.datepicker({
        dateFormat: 'mm/dd/yy',
        maxDate: data.max_date,
        minDate: data.min_date,
        defaultDate: data.min_date
      });
    });
  </script>
<% end %>

