<section class="legal_name pod">
  <header>
    <h2><%= custom_t(".legal_name") %></h2>
  </header>

  <div class="pod-body">
    <div class="prefix">
      <label for="composer[name_prefix]"><%= custom_t(".prefix") %></label>
      <select name="composer[name_prefix]">
        <option value="">(none)</option>
        <option value="Mr"  <%= @composer.name_prefix == "Mr" ? "selected='selected'" : nil %> ><%= custom_t(".mister") %></option>
        <option value="Ms"  <%= @composer.name_prefix == "Ms" ? "selected='selected'" : nil %> ><%= custom_t(".miss") %></option>
        <option value="Mrs" <%= @composer.name_prefix == "Mrs" ? "selected='selected'" : nil %> ><%= custom_t(".misses") %></option>
        <option value="Dr" <%= @composer.name_prefix == "Dr" ? "selected='selected'" : nil %> ><%= custom_t(".doctor") %></option>
      </select>
    </div>
    <div class="first_name">
      <label for="composer[first_name]"><strong><%= custom_t(".first_name") %> *</strong></label>
      <input type="text" class="form-text" name="composer[first_name]" value="<%= @composer.first_name %>" id="first">
    </div>
    <div class="middle_name">
      <label for="composer[middle_name]"><%= custom_t(".middle_name") %></label>
      <input type="text" class="form-text" name="composer[middle_name]" value="<%= @composer.middle_name %>">
    </div>
    <div class="last_name">
      <label for="composer[last_name]"><strong><%= custom_t(".last_name") %> *</strong></label>
      <input type="text" class="form-text" name="composer[last_name]" value="<%= @composer.last_name %>" id="last">
    </div>
    <div class="suffix">
      <label for="composer[name_suffix]"><%= custom_t(".suffix") %></label>
      <select name="composer[name_suffix]" value="<%= @composer.name_suffix %>" id="suffix">
        <option value=""   <%= @composer.name_suffix == '' ? "selected='selected'" : nil %> ><%= custom_t(".none") %></option>
        <option value="Jr" <%= @composer.name_suffix == "Jr" ? "selected='selected'" : nil %> ><%= custom_t(".junior") %></option>
        <option value="Sr" <%= @composer.name_suffix == "Sr" ? "selected='selected'" : nil %> ><%= custom_t(".senior") %></option>
        <option value="II" <%= @composer.name_suffix == "II" ? "selected='selected'" : nil %> ><%= custom_t(".ii") %></option>
        <option value="III" <%= @composer.name_suffix == "III" ? "selected='selected'" : nil %> ><%= custom_t(".iii") %></option>
        <option value="IV" <%= @composer.name_suffix == "IV" ? "selected='selected'" : nil %> ><%= custom_t(".iv") %></option>
      </select>
    </div>
    <div class="date_of_birth">
      <label class="dob" for="dob_month"><strong><%= custom_t(".date_of_birth") %> *</strong></label>
      <input id=<%=custom_t('.dob.first_field.id')%> class="form-text cl" type="text" name=<%=custom_t('.dob.first_field.name')%> value=<%= @composer.dob.nil? ? custom_t('.dob.first_field.value') : @composer.dob.strftime(custom_t('.dob.first_field.strf')) %>> <span>/</span>
      <input id=<%=custom_t('.dob.second_field.id')%> class="form-text cl" type="text" name=<%=custom_t('.dob.second_field.name')%>   value=<%= @composer.dob.nil? ? custom_t('.dob.second_field.value') : @composer.dob.strftime(custom_t('.dob.second_field.strf')) %>> <span>/</span>
      <input id="dob_year" class="form-text cl" type="text" name="composer[dob][year]"   value=<%= @composer.dob.nil? ? "YYYY":@composer.dob.strftime('%Y') %>>
    </div>
  </div>
</section>

<section class="terms pod">
  <header>
    <h2><%= custom_t(".terms_of_service") %></h2>
  </header>

  <div style="color: red; float: left; width: auto;" class="full">
    * <%= custom_t(".you_must_scroll_to_the_bottom") %>
  </div>
  <div style="float: right;"><a href="/composers/tos" class="lightbox"><%= custom_t(".print_terms_and_conditions") %></a></div>
  <div id="tos">
    <%= render partial: 'composers/publishing_terms' %>
  </div>

  <div id="agree">
    <span>
      <input type="checkbox" id="agreed_to_terms" name="composer[agreed_to_terms]" value="1" <%=@composer.agreed_to_terms_at.nil? ? nil : "checked=checked"%> />
      <%= custom_t(".agreed_to_terms", { agreed_to_terms_at: @composer.agreed_to_terms_at.nil? ? fmt_country_date(Date.today) : fmt_country_date(@composer.agreed_to_terms_at) }) %>
    </span>
  </div>
</section>

<section class="review pod">
  <header>
    <h2><%= custom_t(".review_and_submit") %></h2>
  </header>

  <div class="pod-body">
    <%= custom_t(".review_and_submit_copy") %>
    <footer>
      <input type="submit" value="<%= custom_t(".submit_my_registration_btn") %>" class="button-callout"><br><br>
      <%= custom_t(".registration_fee_note", { fee: money_to_currency(price_for_product_by_type_and_domain(current_user.country_domain, :songwriter_service)) }) %>
    </footer>
  </div>
</section>
