<% if @composer.has_rights_app? %>
  <% PerformingRightsOrganization.all.each do |pro| %>
    <option value="<%= pro.id %>" <%= match_pro == pro.name ? 'selected="selected"' : nil %> >
      <%= pro.name %>
    </option>
  <% end %>
<% else %>
  <% Composer.songwriter_pros.each do |pro| %>
    <option value="<%= pro %>" <%= match_pro == pro ? "selected='selected'" : nil %>>
      <%= pro %>
    </option>
  <% end %>
<% end %>
