<style type="text/css" media="screen">
#select_form h1 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 10px 0 20px;
  text-align: center;
}
#select_form .col_1 {
  float: left;
  overflow: hidden;
}
#select_form .col_2 {
  float: right;
  overflow: hidden;
}
#select_form label {
  display: block;
  float: none;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}
#select_form .btn {
  color: #fff;
}
#select_form small {
  clear: both;
  float: right;
  font-size: 10px;
  margin: 0;
  padding: 10px 0 0;
}

</style>

<div id="select_form" title="<%= custom_t(".select_your_tax_form") %>" style="display: none;">
  <h1><%= custom_t(".are_you_a_us_citizen_or_resident") %></h1>
  <div class="col_1">
    <label for="w9_form"><%= custom_t(:yes_display) %></label>
    <%= link_to "#{custom_t(".fill_in_w9")}", new_composer_tax_info_path(composer, :tax_form => "w9"), :id => "w9_form", :class => "btn btn-orange btn-upcase btn-bold w9" %>
  </div>
  <div class="col_2">
    <label for="w8ben_form"><%= custom_t(:no_display) %></label>
    <%= link_to "#{custom_t(".fill_in_w8ben")}", new_composer_tax_info_path(composer, :tax_form => "w8ben"), :id => "w8ben_form", :class => "btn btn-orange btn-upcase btn-bold w8ben" %>
  </div>
  <small><a href=<%= knowledgebase_link_for('submit-tax-info-howto', country_website) %> class="w8ben" target="_blank"><%= custom_t(".im_not_sure") %></a></small>
</div>


<% content_for :external_javascript do %>
  <%# javascript_include_tag "/javascripts/app/modal_popup.js" %>
<script type="text/javascript">
var TC = TC || {};
var modalTaxFormSelect = function () {
  var $ = jQuery;
  var $select_form_msg = $("#select_form"),
      tax_form_link = ".tax_form_link",
      $w9 = $("#w9_form"),
      $w8ben = $("#w8ben_form");

  var self = {
    init: function () {
      self.add_dialog();
      self.click_handler();
    },

    // Adds a jQuery UI Dialog setup
    //
    add_dialog: function () {
      $select_form_msg.dialog({
        width: 378,
        autoOpen:false,
        modal: true,
        resizable: false
      });
    },

    // Adds a click handler to activate the jQuery UI Dialog
    //
    click_handler: function () {
      $(document).on('click', tax_form_link, function (e) {
        e.preventDefault();

        $select_form_msg.dialog('open');
      });

      $(document).on('click', '.w8ben', function (e) {
        $select_form_msg.dialog('close');
      });
    }
  };
  return self.init();
};

jQuery(document).ready(function($){
  TC.modalWarning = new modalTaxFormSelect();
});
</script>
<% end %>
