<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
  <script type="text/javascript">
    jQuery(function($){
      $(".iframe-popup-link").magnificPopup({
        type: "iframe",

        callbacks: {
          close: function() {
            window.location.reload();
          }
        }
      });
    });
  </script>
<% end %>
<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/magnific-popup.css" %>
  <%= stylesheet_link_tag "/stylesheets/songwriter_dashboard.css" %>
<% end %>
<%
total_compositions_count = display_stat_count("Total Compositions").first
disputes_count = display_stat_count("Dispute").first
splits_missing_count = display_stat_count("Split missing").first
not_distributed_count = display_stat_count("Not distributed yet").first
splits_submitted_count = display_stat_count("Split submitted").first
sent_for_registration_count = display_stat_count("Sent for registration").first
registered_count = display_stat_count("Registered").first
not_controlled_count = display_stat_count("Not controlled").first

  if !@composer.is_paid
    msg = custom_t(".not_paid_msg")
  end
%>

<div id="songwriter_dashboard" class="content">
  <header>
    <div class="row">
      <div class="columns twelve">
        <h1><%= custom_t(".publishing_dashboard") %></h1>
      </div>
    </div>
  </header>
  <div class="row">
    <main class="columns nine">
      <div class="pubsteps">
        <header>
          <div class="row collapse">
            <div class="columns twelve text-right">
              <h2><%= @composer.name %></h2>
              <%= custom_t(".registered_on", { date: fmt_long_date(@composer.created_at) }) %><br>
              <%= link_to "#{custom_t(".edit_contact_information")}", {:controller => "people", :action => "edit_email_phone", :id => @person}, :class => "link iframe-popup-link" %>
            </div>
          </div>
        </header>

        <% unless @composer.is_paid %>
          <section class="ps1 emphasize">
            <header>
              <div class="row collapse">
                <div class="columns twelve">
                  <h2><%= custom_t(".payment") %></h2>
                </div>
              </div>
            </header>
            <div class="row collapse">
              <div class="columns twelve">
                <p>
                  <%= custom_t(".must_pay_for_pub_admin", {
                    url: !@open_composer_purchase ? @add_to_cart_url : '/cart'
                  }) %>
                </p>
              </div>
            </div>
          </section>
        <% end %>

        <section class="ps2 <% if @composer.is_paid and !@composer.selected_splits? %>emphasize<% end %>">
          <header>
            <div class="row collapse">
              <div class="columns twelve">
                <h2><%= custom_t(".compositions") %></h2>
                <% if @composer.is_paid and @composer.selected_splits? %>
                  <a href="<%= compositions_path %>" class="link"><%= custom_t(".manage_compositions") %></a>
                <% end %>
              </div>
            </div>
          </header>
          <div class="row collapse">
            <div class="columns twelve">

              <% if !@composer.selected_splits? %>
                <% if total_compositions_count <= 0 %>
                  <div class="row collapse">
                    <div class="columns twelve">
                      <p><%= custom_t(".you_have_note_created_any_songs_or_submitted") %></p>
                    </div>
                  </div>
                <% else %>
                  <div class="row collapse">
                    <div class="columns two">
                      <div class="split-stat missing">
                        <span class="med"><%= total_compositions_count %></span><br>
                        <span class="desc"><%= custom_t(".split_missing_count", {
                          count: total_compositions_count
                        }) %></span>
                      </div>
                    </div>
                    <div class="columns ten">
                      <p>
                        <%= custom_t(".add_your_splits_note") %>
                        <% if @composer.is_paid %>
                          <%= custom_t(".add_your_splits_note_paid", {
                            url: compositions_path
                          }) %>
                        <% end %><br><br>
                        <% if @composer.is_paid %>
                          <a href="<%= compositions_path %>" class="button-callout"><%= custom_t(".manage_registrations") %></a>
                        <% else %>
                          <strong><%= msg %></strong>
                        <% end %>
                      </p>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <div class="split-stats">
                  <div class="split-stat mr">
                    <span class="lg"><%= total_compositions_count %></span><br>
                    <span class="desc"><%= custom_t(:total_compositions) %></span>
                  </div>
                  <% if disputes_count > 0 %>
                    <div class="split-stat dispute">
                      <span class="med"><%= disputes_count %></span><br>
                      <span class="desc"><%= custom_t(".disputes_count", {
                        count: disputes_count
                      }) %></span>
                    </div>
                  <% end %>
                  <% if splits_missing_count > 0 %>
                    <div class="split-stat missing">
                      <span class="med"><%= splits_missing_count %></span><br>
                      <span class="desc"><%= custom_t(".split_missing_count", {
                        count: splits_missing_count
                      }) %></span>
                    </div>
                  <% end %>
                  <% if not_distributed_count > 0 %>
                    <div class="split-stat undistributed mr">
                      <span class="med"><%= not_distributed_count %></span><br>
                      <span class="desc"><%= custom_t(".not_distributed_count") %></span>
                    </div>
                  <% end %>
                  <% if splits_submitted_count > 0 %>
                    <div class="split-stat">
                      <span class="med"><%= splits_submitted_count %></span><br>
                      <span class="desc"><%= custom_t(".splits_submitted_count", {
                        count: splits_submitted_count
                      }) %></span>
                    </div>
                  <% end %>
                  <% if sent_for_registration_count > 0 %>
                    <div class="split-stat">
                      <span class="med"><%= sent_for_registration_count %></span><br>
                      <span class="desc"><%= custom_t(".sent_for_registration_count") %></span>
                    </div>
                  <% end %>
                  <% if registered_count > 0 %>
                    <div class="split-stat mr">
                      <span class="med"><%= registered_count %></span><br>
                      <span class="desc"><%= custom_t(".registered_count") %></span>
                    </div>
                  <% end %>
                  <% if not_controlled_count > 0 %>
                    <div class="split-stat">
                      <span class="med"><%= not_controlled_count %></span><br>
                      <span class="desc"><%= custom_t(".not_controlled_count") %></span>
                    </div>
                  <% end %>
                  <div class="clear"></div>
                </div>
                <p>
                  <%= custom_t(".you_have_a_total_of_compositions_in_your_account", {
                    count: total_compositions_count
                  }) %>
                  <% if disputes_count > 0 %>
                    <%= custom_t(".you_have_disputes", {
                      count: disputes_count,
                      url: resolve_disputes_compositions_path
                    }) %>
                  <% end %>
                  <% if splits_missing_count > 0 %>
                    <%= custom_t(".you_have_splits_missing", {
                      count: splits_missing_count,
                      url: compositions_path
                    }) %>
                  <% end %>
                </p>
              <% end %>

            </div>
          </div>
        </section>

        <% if current_user.grandfathered_pubadmin_user? %>
        <section class="ps3">
          <header>
            <div class="row collapse">
              <div class="columns twelve">
                <h2><%= custom_t(".youtube_preferences") %></h2>
              </div>
            </div>
          </header>
          <div class="row collapse">
            <div class="columns twelve">
              <%= custom_t(".to_access_your_youtube_sound_recordings", {
                link: link_to(custom_t(".youtube_sound_recording_revenue_dashboard").to_s, youtube_monetizations_path),
                link2: link_to(custom_t(".faq").to_s, "/index/youtube_pubadmin_help")
              }) %>
            </div>
          </div>
        </section>
        <% end %>

        <section class="ps4 <% if @composer.is_paid and @composer.selected_splits? and @composer.tax_info.nil? %>emphasize<% end %>">
          <header>
            <div class="row collapse">
              <div class="columns twelve">
                <h2><%= custom_t(".tax_forms") %></h2>
              </div>
            </div>
          </header>
          <div class="row collapse">
            <div class="columns twelve">
              <% if @composer.tax_info.nil? %>
                <p>
                  <%= custom_t(".you_have_not_submitted_your_tax_info_to_us") %>
                  <% if !@composer.is_paid %>
                    <strong><%= msg %></strong>
                  <% else %>
                    <a href="<%= new_composer_tax_info_path(@composer, :tax_form => "w9") %>" class="tax_form_link button-callout"><%= custom_t(".add_tax_information") %></a>
                  <% end %>
                </p>
              <% else %>
                <p>
                  <%= custom_t(".your_form_was_successfully_submitted", {
                    form_type: @composer.tax_info.agreed_to_w9_at.nil? ? 'W-8BEN' : 'W-9'
                  }) %>
                  <% if (@composer.tax_info.agreed_to_w9_at or @composer.tax_info.agreed_to_w8ben_at) %><%= custom_t(".on_date", {
                    date: fmt_long_date(@composer.tax_info.agreed_to_w9_at || @composer.tax_info.agreed_to_w8ben_at)
                  }) %><% end %>.
                  <% if @composer.is_paid and !@composer.tax_info.nil? %>
                    <a href="<%= new_composer_tax_info_path(@composer, :tax_form => "w9") %>" class="tax_form_link link"><%= custom_t(:edit) %></a>
                  <% end %>
                </p>
              <% end %>
            </div>
          </div>
        </section>

        <section class="ps5 <% if @composer.cae.present? %>emphasize<% end %>">
          <header>
            <div class="row collapse">
              <div class="columns twelve">
                <h2><%= custom_t(".cae_ipi_number") %></h2>
              </div>
            </div>
          </header>
          <div class="row collapse">
            <div class="columns twelve">
              <% if @composer.cae.blank? || !@composer.errors[:cae].blank? %>
                <%= form_for @composer, :url => { :action => "update_cae_number", :id => @composer } do |f| %>
                  <ul>
                    <%= f.text_field :cae, maxlength: 9, label: custom_t(".cae_ipi_number"), class: "form-text" %>
                  </ul>
                  <p class="note"><%= custom_t(".your_cae_ipi_number_is_9_digit") %></p>
                  <ul class="buttons">
                    <%= f.submit("#{custom_t(".add_cae_ipi_number")}", :class => "button-callout") %>
                  </ul>
                <% end %>
              <% else %>
                <p>
                  <%= custom_t(".your_cae_ipi_number_was_successfully_submitted", { cae: @composer.cae }) %>
                </p>
              <% end %>
            </div>
          </div>
        </section>
      </div>
    </main>

    <div class="columns three">
      <% if show_cross_sell(:ytm) %>
        <div class="youtube_money_callout">
          <img src="/images/youtube/youtube_lozenge_med.png" alt="YouTube">
          <%= custom_t(".ytm_cross_sell", {
            url: '/artist_services'
          }) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render :partial => "select_tax_form", locals: { composer: @composer } %>
