<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/magnific-popup.css" %>
  <%= stylesheet_link_tag "/stylesheets/composers.css" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/magicTip.js" %>
  <%= javascript_include_tag "/javascripts/maskedinput.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
  <%= javascript_include_tag "/javascripts/app/composers.js" %>
<% end %>

<div class="content">
  <header class="row">
    <div class="twelve columns">
      <hgroup>
        <h1><%= custom_t(".songwriter_registration") %></h1>
        <h2><%= custom_t(".please_tell_us_about_yourself") %></h2>
      </hgroup>
      <span class="header-helper"><%= custom_t(".need_help_completing_this_section", { url: knowledgebase_link_for('publishing-admin-index', country_website) }) %></span>
    </div>
  </header>

  <% if flash[:error] %>
    <div class="row">
      <div class="error ten columns">
        <ul>
          <% @composer.understandable_error_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>

          <% @publisher.understandable_error_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <section class="form ten columns">
      <% url = @composer.id.nil? ? "/composers":"/composers/#{@composer.id}" %>
      <% method = @composer.id.nil? ? "POST":"PUT" %>
      <%= form_tag url, :method => method, :id => "songwriter" do %>
        <%= render :partial => "composer_fields" %>
      <% end %>
    </section>
  </div>
</div>

<div id="confirm" class="alert mfp-hide" title="">
  <div class="bd">
    <%= custom_t(".confirm_note") %>
    <span><a class="button-callout-alt submit continue" href="#"><%= custom_t(:continue) %></a> <a class="button-interface go_back" href="#"><%= custom_t(:cancel) %></a></span>
  </div>
</div>

<div class="hide" id="processingDialog">
  <div style="text-align: center;">
    <strong><%= custom_t(:processing_request) %></strong><br><br><br>
    <img src="/images/disco-loader.gif">
  </div>
</div>
