.plan_upgrade_msg_in_distribution.right {
  float: right;
}

.plan_upgrade_msg_in_distribution {
  min-height: 18px;
  margin-top: 12px;
  margin-right: 8px;
  color: #3B96CF;
  background: url(asset-path("plans/LockIcon.png")) no-repeat left center;
  padding-left: 18px;
  font-size: 14px;
}

.plan_new_artist_msg_lock {
  float: left;
  min-height: 18px;
  background: url(asset-path("plans/LockIcon.png")) no-repeat left center;
  padding-left: 18px;
  margin-top: -2px;
}
