table .plan-cta {
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 1px;
  white-space: nowrap;
  text-transform: uppercase;
  color: white;
  background: transparent;
  z-index: 100;
  border: 0;
  box-shadow: inset 0 0 0 2px white;
}

table .plan-cta:hover {
  box-shadow: inset 0 0 0 0 #333;
  background: linear-gradient(
                  to bottom right,
                  var(--plan-color-1),
                  var(--plan-color-2)
  );
  background-clip: padding-box;
}

table {
  border-spacing: 0;
  margin: auto;
}

table img {
  width: 20px;
  height: auto;
}

table .plan-name {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  white-space: nowrap;
}

table .plan-currency {
  font-size: 20px;
  vertical-align: top;
}

table .plan-iteration {
  font-size: 12px;
  font-weight: 400;
}

table .plan-price {
  font-weight: 900;
  letter-spacing: 0;
  font-size: 30px;
  margin: 10px 0;
  line-height: 1;
}

table .plan-feature-cell-container {
  display: flex;
}

table th:not(:first-child) {
  padding: 20px 20px;
  width: 200px;
  vertical-align: center;
  text-align: center;
}

table th:nth-child(2) {
  border-top-left-radius: 20px;
}

table th:nth-child(5) {
  border-top-right-radius: 20px;
}

table td:first-child {
  font-size: 14px;
  width: 270px;
  padding: 10px 10px 10px 0;
}

table td:not(:first-child) {
  padding: 8px 5px;
  width: 200px;
  vertical-align: center;
  text-align: center;
  border-bottom: 3px solid #555;
}

table td:nth-child(2),
table th:nth-child(2) {
  background: #333;
}

table td:nth-child(3),
table th:nth-child(3) {
  background: #282828;
}

table td:nth-child(4),
table th:nth-child(4) {
  background: #262626;
}

table td:nth-child(5),
table th:nth-child(5) {
  background: #242424;
}

table tfoot td:not(:first-child) {
  border: 0;
}

table tfoot td:nth-child(2) {
  border-bottom-left-radius: 20px;
}

table tfoot td:last-child {
  border-bottom-right-radius: 20px;
}

@media screen and (max-width: 500px) {
  table {
    display: none;
  }
}
