@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  --light-gray: #e8e6e3;
  background-color: #141516;
  color: var(--light-gray);
  font-family: "Roboto", Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.plan-green {
  --plan-color-1: var(--plan-green-1);
  --plan-color-2: var(--plan-green-2);
}

.plan-blue {
  --plan-color-1: var(--plan-blue-1);
  --plan-color-2: var(--plan-blue-2);
}

.plan-red {
  --plan-color-1: var(--plan-red-1);
  --plan-color-2: var(--plan-red-2);
}

.plan-yellow {
  --plan-color-1: var(--plan-yellow-1);
  --plan-color-2: var(--plan-yellow-2);
}

/* This is all related to the top section - the plan selection */

.mobile {
  display: none;
}

.display-none {
  display: none;
}

.modal {
  .footer {
    .plan-link {
      font-family: "Roboto", Helvetica, sans-serif;
      background: transparent;
      outline: none;
      color: var(--light-gray);
      padding: 15px 20px;
      border-radius: 100px;
      font-weight: 900;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: 3px solid #303436;
      text-decoration: none;

      &.continue_no_plan {
        border: none;
        padding-top: 2em;

        &:hover {
          color: var(--light-gray);
          background-color: transparent;
        }
      }
    }
    .regular-link {
      color: #00A1E0;
      &:hover {
        color: #00A1E0;
        background-color: transparent;
      }
    }
    .survey-container {
      font-size: 16px;
      text-align: center;
      margin-top: 60px;
      .copy {
        margin-bottom: 20px;
      }
      .emojis {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        .emoji-button {
          background-size: cover;
          width: 30px;
          height: 30px;
          font-size: 2rem;
          margin-right: 12px;
          &.happy {
            background-image: image-url('plans/emoji_happy.png');
            &:hover {
              background-image: image-url('plans/emoji_happy-hover.png');
              cursor: pointer;

            }
          }
          &.sad {
            background-image: image-url('plans/emoji_sad.png');
            &:hover {
              background-image: image-url('plans/emoji_sad-hover.png');
              cursor: pointer;
            }
          }
        }
      }

      .plan-survey-follow-up {
        .plan-survey-tell-us-why{
          margin-bottom: 10px;
        }
        .response-text-container {
          .plan-survey-text-response {
            color: #999;
            height: 60px;
            width: 100%;
            background-color: transparent;
            border-color: #37383f;
            border-width: 3px;
            border-radius: 5px;
            outline: none;
            resize: none;
          }
          .char-counter {
            float: right;
            font-size: 10px;
          }
        }
      }
    }
  }
}

.modal .footer a:hover {
  background: var(--light-gray);
  color: #141516;
  cursor: pointer;
}

.modal .footer a.transparent {
  border-color: transparent;
  padding: 10px 20px;
}
.modal .footer a + .modal .footer a {
  margin-top: 10px;
}

form.button_to {
  display: inline-block;
}

#replace_plan {
  cursor: pointer;
}

a:link.compare-plans,
a:visited.compare-plans,
a:active.compare-plans {
  font-family: "Roboto", Helvetica, sans-serif;
  border: 0;
  border-radius: 0;
  padding: 0;
  position: relative;
  padding-right: 13px;
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

a.compare-plans::after {
  content: "";
  position: absolute;
  top: 0;
  width: 6px;
  height: 6px;
  right: 0;
  border-top: 2px solid var(--plan-color-1);
  border-right: 2px solid var(--plan-color-1);
  transform-origin: top right;
  transform: translateY(7px) rotate(45deg);
  transition: all 100ms ease-in;
}

a.compare-plans:hover {
  background: transparent;
  color: var(--plan-color-1);
}
a.compare-plans:hover::after {
  right: -3px;
}

.modal .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}

.modal .footer p {
  color: #999;
  font-size: 14px;
}

.modal * {
  font-family: "Roboto", Helvetica, sans-serif;
}

.modal {
  font-family: "Roboto", Helvetica, sans-serif;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.modal .header {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}

.modal .subheader {
  text-align: center;
  color: #b9b9b9;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.plans-toggle {
  align-items: center;
  border: 3px solid rgba(255,255,255,0.1);
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  text-align: center;
  width: 335px;
  @media (max-width: '480px') {
    width: 290px;
  }
  @media (max-width: '310px') {
    width: 260px;
  }
}

.plan-option {
  border-radius: 50px;
  cursor: pointer;
  padding: 14px 14px;
  font-weight: 500;
  font-family: "Roboto", Helvetica, sans-serif;
  @media (max-width: '480px') {
      padding: 14px 10px;
      font-size: 14px;
  }
  &.active {
    border: 1px solid #92639e;
    background-image: linear-gradient(to left, #7e6eb4, #c74c6d);
  }
}

.plan-cards  {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 2em 0 1em;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 10px;
  mask-image: linear-gradient(
                  to right,
                  rgba(0, 0, 0, 0),
                  rgba(0, 0, 0, 1) 10px,
                  rgba(0, 0, 0, 1) calc(100% - 10px),
                  rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(
                  to right,
                  rgba(0, 0, 0, 0),
                  rgba(0, 0, 0, 1) 10px,
                  rgba(0, 0, 0, 1) calc(100% - 10px),
                  rgba(0, 0, 0, 0)
  );
 .plan {
    background-clip: padding-box;
    background-color: #1a1a1a;
    border-radius: 20px;
    color: var(--light-gray);
    display: flex;
    flex: 0 0 250px;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1em;
    padding: 25px;
    position: relative;
    scroll-snap-align: center;
    text-align: center;
    transition: all 100ms ease-in;
  }
}

.plan-cards .plan:before {
  border-radius: 20px;
  background: linear-gradient(to bottom right, #555);
  content: "";
  inset: -6px;
  position: absolute;
  pointer-events: none;
  transition: all 100ms ease-in;
  z-index: -2;
  background: linear-gradient(
                  to bottom right,
                  var(--plan-color-1),
                  var(--plan-color-2)
  );
}

.plan-cards .plan:after {
  border: #141516 solid 20px;
  border-radius: 20px;
  content: "";
  inset: -26.5px;
  position: absolute;
  z-index: 3;
  background: none;
  pointer-events: none;
}

.plans-toggle-container {
  display: flex;
  justify-content: center;
}

.plan-cards .plan-price {
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 1;
  margin: 0.25em 0 0;
}
.per-release-plan{
  height: 70px;
}

.continue-per-release{
  font-weight:900;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--light-gray) !important;
  text-transform: uppercase;
  text-decoration: none !important;
}

/* ===== Scrollbar CSS ===== */
.plan-cards {
  scrollbar-width: auto;
  scrollbar-color: #333 #333333;
  height: auto;
}

.plan-cards::-webkit-scrollbar {
  margin: 0 10px;
  width: 5px;
}

.plan-cards::-webkit-scrollbar-track {
  background: transparent;
  margin: 0 10px;
}

.plan-cards::-webkit-scrollbar-thumb {
  background-color: #111;
  border-radius: 3px;
  margin: 0 10px;
}

.plan-cards .plan:hover {
  border-color: transparent;
}

.plan-cards .plan:first-of-type {
  margin-left: auto;
}
.pay-per-release-plan .plan:before {
  position: absolute;
  content: "";
  inset: -6px;
  pointer-events: none;
  border-radius: 20px;
  transition: all 100ms ease-in;
  background: linear-gradient(to bottom right, #555, #555);
  z-index: -2;
}
.plan-cards .plan:last-of-type {
  margin-right: auto;
}

.plan-cards .plan.disabled,
.plan .plan-internal-wrapper {
  position: relative;
  overflow: hidden;
}

.plans .plan.disabled,
.plan-cta.disabled {
  filter: grayscale(50%) contrast(0.9);
  opacity: 0.8;
  pointer-events: none;
}

.plan-cards .plan.disabled:before {
  display: none;
}

.plan-cards .plan.hidden {
  display: none;
}

.plan-cards .plan-name {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}
.plan-cta-pricing {
  border-radius: 50px;
  border: 0;
  background: transparent;
  color: var(--light-gray);
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 2px;
  padding: 15px 25px;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 100;
  box-shadow: inset 0 0 0 3px #333;
  margin-top: 8px;
  cursor: pointer;
  &:hover{
    background-color: #333;
  }
}
.plan .plan-price-detail {
  font-weight: 400;
  font-size: 12px;
  color: #ccc;
  margin: 10px 0px 0px 0;
}

.plan .plan-current-plan-tag {
  background: var(--plan-color-2);
  font: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: white;
  margin: 0;
  padding: 5px;
  position: absolute;
  top:0;
  left:0;
  transform: translateX(-30%) translateY(0%) rotate(-45deg);
  transform-origin: top right;
}

.plan .plan-current-plan-tag:before,
.plan .plan-current-plan-tag:after {
  content: '';
  position: absolute;
  top:0;
  margin: 0 -1px;
  width: 40%;
  height: 100%;
  background: var(--plan-color-2);
}

.plan .plan-current-plan-tag:before {
  right:100%;
}

.plan .plan-current-plan-tag:after {
  left:100%;
}

.plan .plan-currency {
  font-size: 20px;
  vertical-align: top;
}

.plan .plan-iteration {
  font-size: 14px;
  font-weight: 400;
}

.plan .plan-blurb {
  color: #c8c3bc;
  font-size: 85%;
  padding: 1em 0 0.5em;

  & .highlight {
    color: var(--plan-color-1);
    font-weight: 700;
  }
}

.plan .plan-copy {
  height: 100%;
}

.plan .plan-cta {
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 2px;
  white-space: nowrap;
  text-transform: uppercase;
  color: var(--light-gray);
  background: transparent;
  margin: 1em auto 1em;
  z-index: 100;
  border: 0;
  box-shadow: inset 0 0 0 3px #333;
}

.plan-tooltip-wrapper {
  position: relative;
  height: 100%;
  align-items: center;
}

.plan-tooltip-wrapper img {
  margin-left: 5px;
  width: 15px;
}

.plan-tooltip {
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translateY(calc(-100%));
  width: 300px;
  padding: 10px;
  z-index: 99;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  pointer-events: none;
  transition: all 100ms ease;
}
.plan-tooltip::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  bottom: -5px;
  left: 20px;
  transform: rotate(-45deg);
}
.plan-tooltip-wrapper:hover {
  cursor: pointer;
}

.plan-tooltip-wrapper:hover .plan-tooltip {
  opacity: 1;
  transform: translateY(calc(-100% - 10px));
}

.plan .plan-cta:hover {
  box-shadow: inset 0 0 0 0 #333;
  background: linear-gradient(
                  to bottom right,
                  var(--plan-color-1),
                  var(--plan-color-2)
  );
  background-clip: padding-box;
  cursor: pointer;
}

.plan ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  max-height: 110px;
  text-align: left;
  overflow: hidden;
  margin-top: 10px;
  transition: all 300ms ease-in;
}

.plan ul li {
  color: var(--light-gray);
  position: relative;
  padding: 0;
  margin: 8px 0;
  padding-left: 6px;
  margin-left: 14px;
  font-size: 13px;
}

.plan ul li::before {
  position: absolute;
  left: -14px;
  top: -6px;
  border-radius: 15px;
  content: "";
  width: 15px;
  height: 15px;
  content: "•";
  color: var(--plan-color-1);
  font-size: 25px;
}

#compare-plans {
  padding-bottom: 20px;
}

#compare-plans .disabled {
    pointer-events: none;
    opacity: 0.8;
    filter: grayscale(50%) contrast(0.9);
}

.footer {
  color: gray;
  font-size: 0.8em;
  padding: 1em 0 1em 0.5em;
}

@media (max-width: 1199px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inherit;
  }
  .plan-cards {
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: auto;

    & .plan {
      flex: 0 0 calc(50% - 40px);
      justify-content: center;
      margin: 1em;
    }

    & .plan:first-of-type {
      margin-left: 1em;
    }

    & .plan:last-of-type {
      margin-right: 1em;
    }
  }

  #compare-plans-btn {
    display: none;
  }
}

@media (max-width: 768px) {
  #compare-plans {
    display: none;
  }
  .modal .header {
    font-size: 25px;
  }
  .plans .plan {
    flex: 0 0 75vw;
  }
  .plans .plan-price {
    margin: 10px 0;
  }
  .plans .plan .plan-name {
    font-size: 14px;
  }
  .plans .plan .plan-price {
    font-size: 30px;
  }
  .modal {
    padding: 10px 0px;
  }
  .plan ul {
    max-height: unset;
    -webkit-mask-image: none;
    mask-image: none;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .plan .compare-plans {
    display: none;
  }
  .plan ul li {
    font-size: 13px;
  }

  .modal .footer {
    padding: 0 10px;
  }
  .modal .subheader {
    font-size: 14px;
  }
  .plan-cards {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  .plan-cards .plan{
    margin: 1em 0 !important;
    width: 80%;
  }
}
@media (max-width: 768px){
  .plan-cards {
    width: 90%;
    margin: 0 auto;
  }
  .plan-cards .plan{
    width: 100%;
    flex: 0 0 85%;
    justify-content: center;
  }
}
@media (max-width: 320px) {
  .plans .plan {
    padding: 20px;
  }
}