.upgrade_plan_cta_small__body {
  background: rgb(28, 29, 32);
  border-radius: 20px;
  color: white;
  font-size: 2em;
  font-weight: 700;
  height: auto;
  padding: 1em;
  width: 500px;
}

.upgrade_plan_cta_small__link {
  align-items: center;
  border: 1px solid #fcda00;
  border-radius: 30px;
  color: #fcda00;
  display: flex;
  font-size: .75em;
  font-weight: 700;
  justify-content: center;
  padding: .5em;
  text-transform: uppercase;

  &:hover {
    border-color: white;
    color: white;
  }

  &:hover .record-path {
    fill: white;
  }

  & svg {
    fill: #fcda00;
    height: 30px;
    padding-right: 1em;
    overflow: visible;
  }
}

@media screen and (max-width: 600px) {
  .upgrade_plan_cta_small__body {
    font-size: 1em;
    width: 300px;
  }
}
