.upgrade-block .arrow-container {
  text-align: right;
}
.upgrade-block .arrow {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
}

.upgrade-block p {
  color: #999;
}

.upgrade-block {
  --color-variant: var(--yellow-1);
  max-width: 450px;
  font-family: Roboto, sans-serif;
  background: #222;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.upgrade-block.red {
  --color-variant: var(--red-1);
}

.upgrade-block .heading {
  font-weight: 900;
  font-size: 26px;
  margin-bottom: 20px;
}

.upgrade-block .heading span {
  color: var(--color);
  white-space: nowrap;
}

.upgrade-block .cta {
  border: 2px solid var(--color-variant);
  color: var(--color-variant);
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  transition: all 100ms ease-out;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.upgrade-block .cta.solid {
  border: none;
  background: var(--color-variant);
  color: white;
  letter-spacing: initial;
  border-radius: 5px;
}

.upgrade-block .cta.inset {
  border: none;
  background: transparent;
  color: white;
  letter-spacing: initial;
  border-radius: 5px;
}

.upgrade-block .cta.inset:hover {
  background: transparent;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.record-path {
  fill: var(--color-variant);
}

.upgrade-block .cta:hover {
  color: black;
  background: var(--color-variant);
}

.upgrade-block .cta:hover .record-path {
  fill: black;
}

.upgrade-block .cta .record {
  width: 20px;
  height: auto;
  margin-right: 15px;
}
