<div id="notifications_archive">
  <% unless notifications.empty? %>
  <div class="pager">
    <div class="pager-total"><%= "#{notifications.total_entries} #{custom_t(".notifications", count: notifications.total_entries)}" %></div>
    <div class="pager-controls">
      <% if notifications.current_page > 1 %>
        <%= link_to '<i class="fa fa-caret-left fa-lg fa-2x"></i>'.html_safe, notifications_path(:page => notifications.current_page - 1), :remote=>true, :class => "page_link pager-left" %>
      <% else %>
        <span class="pager-left"><i class="fa fa-caret-left fa-lg fa-2x"></i></span>
      <% end %>

      <%= form_tag(notifications_path, :remote => true, :class => "page_select_form pager-select", :method => :get) do %>
        <span><%= custom_t(".page") %></span>
        <%= select_tag("page", options_for_select((1..notifications.total_pages).collect{ |page| [page,page] }, notifications.current_page)) %>
        <span><%= custom_t(".of") %> <strong><%= notifications.total_pages %></strong></span>
      <% end %>

      <% if notifications.current_page < notifications.total_pages %>
        <%= link_to '<i class="fa fa-caret-right fa-lg fa-2x"></i>'.html_safe, notifications_path(:page => notifications.current_page + 1), :remote => true, :class => "page_link pager-right" %>
      <% else %>
        <span class="pager-right"><i class="fa fa-caret-right fa-lg fa-2x"></i></span>
      <% end %>
    </div>
  </div>
  <% end %>

  <ul class="notification_items">
    <% if notifications.each do |notification| %>
      <li class="notifications_item <%= notification_class(notification) %>">
        <a href="<%= notification.url %>" class="notification_action" data-action-url="<%= action_notification_path(notification) %>" data-notification-id="<%= notification.id %>">
          <% unless notification.image_url.blank? %><p class="image"><%= image_tag notification.image_url %></p><% end %>
          <span class="title">
            <%= notification.title %>
            <span class="time"><%= time_ago_in_words(notification.effective_created_at) %></span>
          </span>
          <span class="description">
            <%= notification.text.html_safe %> <span class="faux_link"><%= notification.link_text %></span>
          </span>
        </a>
      </li>
    <% end.empty? %>
      <li class="notifications_item empty_item">
        <p class="description"><%= custom_t(".no_notifs") %></p>
      </li>
    <% end %>
  </ul>

  <% unless notifications.empty? %>
  <div class="pager">
    <div class="pager-controls">
      <% if notifications.current_page > 1 %>
        <%= link_to '<i class="fa fa-caret-left fa-lg fa-2x"></i>'.html_safe, notifications_path(:page => notifications.current_page - 1), :remote=>true, :class => "page_link pager-left" %>
      <% else %>
        <span class="pager-left"><i class="fa fa-caret-left fa-lg fa-2x"></i></span>
      <% end %>

      <%= form_tag(notifications_path, :remote => true, :class => "page_select_form pager-select", :method => :get) do %>
        <span><%= custom_t(".page") %></span>
        <%= select_tag("page", options_for_select((1..notifications.total_pages).collect{ |page| [page,page] }, notifications.current_page)) %>
        <span><%= custom_t(".of") %> <strong><%= notifications.total_pages %></strong></span>
      <% end %>

      <% if notifications.current_page < notifications.total_pages %>
        <%= link_to '<i class="fa fa-caret-right fa-lg fa-2x"></i>'.html_safe, notifications_path(:page => notifications.current_page + 1), :remote => true, :class => "page_link pager-right" %>
      <% else %>
        <span class="pager-right"><i class="fa fa-caret-right fa-lg fa-2x"></i></span>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
