<% if @notifications.empty? %>
  <li class="notifications_item"><span class="no_notification"><%= custom_t(".no_new_notifs") %></span></li>
<% else %>
  <% @notifications.each do |notification| %>
    <li class="notifications_item <%= notification_class(notification) %>">
      <%= link_to "<i class='fa fa-times'></i>".html_safe, archive_notification_path(notification), :class => "hide_notification", :remote => true %>
      <a href="<%= notification.url %>" class="notification_action" data-action-url="<%= action_notification_path(notification) %>" data-notification-id="<%= notification.id %>">
        <% unless notification.image_url.blank? %><p class="image"><%= image_tag notification.image_url %></p><% end %>
        <div class="text">
          <span class="title">
            <%= notification.title %>
            <span class="time"><%= time_ago_in_words(notification.effective_created_at) %> <%= custom_t(".notifications.ago") %></span>
          </span>
          <span class="description"><%= notification.text.html_safe %> <span class="faux_link"><%= notification.link_text %></span></span>
        </div>
      </a>
    </li>
  <% end %>
<% end %>
