<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/notifications.css" %>
<% end %>

<div class="content">
  <header>
    <div class="row">
      <div class="twelve columns">
        <section class="page_title">
          <h1><%= custom_t(".notifications") %></h1>
        </section>
      </div>
    </div>
  </header>

  <div class="row">
    <section class="notifications_page eight columns">
      <%= render :partial => "notifications_archive", :locals => { :notifications => @notifications } %>
    </section>

    <div class="sidebar four columns">
      <section class="filter">
        <header>
          <h3><%= custom_t(".filter") %></h3>
        </header>
        <%= form_tag notifications_path, :method => 'get', :class => 'filter_form' do %>
          <div class="status">
            <label for="status_select"><%= custom_t(".status") %></label>
            <select name="status_select" id="status_select">
              <option value=""><%= custom_t(".any_status") %></option>
              <option value="1" <%= params[:status_select].include?('1') ? 'selected' : '' if params[:status_select] %>>read</option>
              <option value="0" <%= params[:status_select].include?('0') ? 'selected' : '' if params[:status_select] %>>unread</option>
            </select>
          </div>
          <% unless @notification_dates.blank? %>
          <div class="date">
            <label for="date_from_select"><%= custom_t(".date_from") %></label>
            <%= select_tag "date_from_select", options_for_select(@notification_dates, :selected => params[:date_from_select] || Date.parse(@notification_dates.first[1])) %>
            <label for="date_to_select"><%= custom_t(".date_to") %></label>
            <%= select_tag "date_to_select", options_for_select(@notification_dates, :selected => params[:date_to_select] || Date.parse(@notification_dates.last[1])) %>
          </div>
          <% end %>
          <fieldset class="filter-buttons">
            <input type="submit" name="submit" class="button-callout-alt" value="<%= custom_t('.apply') %>">
            <input type="reset" name="reset" class="button-interface" value="<%= custom_t('.clear') %>">
          </fieldset>
        <% end %>
      </section>
    </div>
  </div>
</div>
