<form action="<%= ytm_tracks_path %>" id="monetizations_form" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <table>
    <colgroup>
      <col class="monetizations-col_song">
      <col class="monetizations-col_isrc">
      <col class="monetizations-col_artist">
      <col class="monetizations-col_appears_on">
      <col class="monetizations-col_upc">
      <col class="monetizations-col_status">
      <col class="monetizations-col_select">
    </colgroup>
    <thead>
      <tr>
        <th><%= sortable "songs.name", custom_t(:song) %></th>
        <th><%= sortable "track_isrc", custom_t(".isrc") %></th>
        <th><%= sortable "artist_names", custom_t(:artist) %></th>
        <th><%= sortable "album_name", custom_t(".appears_on") %></th>
        <th><%= sortable "release_upc", custom_t(".upc") %></th>
        <th><%= sortable "status", custom_t(:status) %></th>
        <th>
          <div class="selection">
            <a href="#" class="select_all_songs"><%= custom_t(:select_all) %></a>
            <a href="#" class="deselect_all_songs"><%= custom_t(:deselect_all) %></a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
    <% if songs.each do |song| %>
      <tr class=<%= get_ytm_track_class(song) %>>
        <td>
          <%= display_name(song) %>
          <input type="hidden" name="songs[][name]" value="<%= display_name(song) %>" disabled="disabled">
        </td>
        <td>
          <%= song.track_isrc %>
          <input type="hidden" name="songs[][isrc]" value="<%= song.track_isrc %>" disabled="disabled">
        </td>
        <td>
          <%= song.artist_names %>
          <input type="hidden" name="songs[][artist_names]" value="<%= song.artist_names %>" disabled="disabled">
        </td>
        <td>
          <%= display_name(song.album) %>
          <input type="hidden" name="songs[][album_name]" value="<%= display_name(song.album) %>" disabled="disabled">
        </td>
        <td>
          <%= song.release_upc %>
          <input type="hidden" name="songs[][upc]" value="<%= song.release_upc %>" disabled="disabled">
        </td>
        <% if song.ytm || song.blocker %>
          <td class="status-td" colspan="2">
            <%= ytm_status_span(song) %>
          </td>
        <% else %>
          <td class="status-td" <% unless song.state.nil? %>colspan="2"<% end %>>
            <%= ytm_status_span(song) %>
          </td>
          <% if song.state.nil? %>
            <td>
              <input type="checkbox" name="songs[][id]" class="monetizations_checkbox" value="<%= song.id %>">
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="5"><%= custom_t(".no_songs_eligible") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</form>
<footer class="table-nav">
  <div class="table-nav-controls total_results">
    <%= pluralize(songs.total_entries, 'result') %> <%= custom_t(".found") %>
  </div>
  <div class="table-nav-controls page_select">
    <input type="hidden" class="page" name="page" value="<%= request.fullpath %>">
    <span><%= custom_t(".view") %></span>
    <select name="per_page" class="per_page">
      <option value="25"  <%= "selected='selected'" if params[:per_page].to_i == 25 %>>25</option>
      <option value="50"  <%= "selected='selected'" if params[:per_page].to_i == 50 %>>50</option>
      <option value="100"  <%= "selected='selected'" if params[:per_page].to_i == 100 %>>100</option>
      <option value="500" <%= "selected='selected'" if params[:per_page].to_i == 500 %>>500</option>
    </select>
  </div>
  <%= will_paginate(songs, :params => { :controller => "ytm_tracks", :action => "show" }, :class => 'table-nav-controls pagination', :previous_label => '<i class="fa fa-chevron-circle-left fa-lg"></i><span>Prev</span>', :next_label => '<i class="fa fa-chevron-circle-right fa-lg"></i><span>Next</span>', :renderer => PaginationWithSelectLinkRenderer) -%>
</footer>
