<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/youtube_monetizations.css" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/tc.compositionsTable.js" %>
  <%= javascript_include_tag "/javascripts/app/yt_monetizations.js" %>
  <script>
    jQuery(function($){
      $(".table-container").compositionsTable({
        url: "<%= ytm_tracks_path(:page => 1) %>",
        columns: 5
      });
    });
  </script>
<% end %>

<div class="content">
  <header class="row alternate2">
    <div class="twelve columns">
      <section class="breadcrumbs">
        <a href="<%= youtube_monetizations_path %>"><%= custom_t(".youtube_dashboard") %></a>
        <a href="<%= ytm_tracks_path %>"><%= custom_t(".songs_monetization") %></a>
        <span class="active"><%= custom_t(".song_eligibility") %></span>
      </section>
      <section class="page_title">
        <h1><%= custom_t(".track_eligibility") %></h1>
      </section>
    </div>
  </header>

  <div class="row">
    <div class="directions nine columns">
      <h2 class="attention_title"><%= custom_t(".verify_eligibility") %></h2>
      <%= custom_t(".eligibility_conditions") %>
    </div>
  </div>

  <div class="row">
    <section class="monetizations nine columns">
      <div class="table-default">
        <div class="table-container">
          <form action="<%= monetize_youtube_monetizations_path %>" id="monetizations_form" method="POST">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <table>
              <colgroup>
                <col class="monetizations-col_song">
                <col class="monetizations-col_artist">
                <col class="monetizations-col_appears_on">
              </colgroup>
              <thead>
                <tr>
                  <th><span><%= custom_t(:track) %></span></th>
                  <th><span><%= custom_t(:artist) %></span></th>
                  <th><span><%= custom_t(".appears_on") %></span></th>
                </tr>
              </thead>
              <tbody>
              <% @songs.each do |song| %>
                <tr>
                  <td>
                    <input type="hidden" name="songs[]" value="<%= song['id'] %>">
                    <%= song["name"] %>
                  </td>
                  <td><%= song["artist_names"] %></td>
                  <td><%= song["album_name"] %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </form>
          <footer class="table-nav">
            <div class="table-nav-controls total_results">
              <%= pluralize(@songs.count, 'result') %> <%= custom_t(".found") %>
            </div>
          </footer>
        </div>
      </div>
      <footer>
        <a href="<%= ytm_tracks_path %>" class="go-back button-interface"><%= custom_t(".go_back") %></a>
        <a href="#0" class="confirm-submit button-callout-alt"><%= custom_t(".confirm") %></a>
      </footer>
    </section>
  </div>
</div>
