<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/youtube_monetizations.css" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/tc.compositionsTable.js" %>
  <%= javascript_include_tag "/javascripts/app/yt_monetizations.js" %>
  <script>
    jQuery(function($){
      $(".table-container").compositionsTable({
        url: "<%= ytm_tracks_path(:page => 1) %>",
        columns: 5
      });
    });
  </script>
<% end %>

<div class="content">
  <header class="row alternate2">
    <div class="twelve columns">
      <section class="breadcrumbs">
        <a href="<%= youtube_monetizations_path %>"><%= custom_t(".youtube_dashboard") %></a>
        <span class="active"><%= custom_t(".tracks_monetization") %></span>
      </section>
      <section class="page_title">
        <h1><%= custom_t(".tracks_monetization") %></h1>
      </section>
    </div>
  </header>

  <div class="row">
    <% if @unsent_songs.present? %>
      <div class="ytm-notice-long notice nine columns">
        <h3><%= custom_t(".tracks_money") %></h3>
        <p><%= custom_t(".submit_tracks") %></p>
        <p><%= custom_t(".no_additional_cost") %></p>
      </div>
    <% else %>
      <div class="notice nine columns">
        <p><%= custom_t(".no_additional_cost_submit") %></p>
      </div>
    <% end %>
    <div class="directions twelve columns">
      <%= custom_t(".selection_directions") %>
    </div>
  </div>

  <div class="row">
    <aside class="sidebar three columns">
      <section class="filter">
        <header>
          <h3><%= custom_t(:filter) %></h3>
        </header>
        <%= form_tag ytm_tracks_path, :method => 'get', :class => 'filter_form' do %>
          <%= hidden_field_tag :search, params[:search] if params[:search] %>
          <%= hidden_field_tag :per_page, params[:per_page] if params[:per_page] %>
          <div class="status">
            <label for="status"><%= custom_t(:status) %></label>
            <select name="status">
              <%= options_for_select [
                [custom_t(:all), "all"],
                [custom_t(".not_submitted"), "not_sent"],
                [custom_t(".processing"), "processing"],
                [custom_t(".monetized"), "sent"],
                [custom_t(".do_not_monetize"), "marked_ineligible"],
                [custom_t(".ineligible"), "claim_removed"],
                [custom_t(".taken_down"), "taken_down"]
              ], params[:status] %>
            </select>
          </div>
          <div class="artist collapsible">
            <h4><a href="#" class="toggle-button"><%= custom_t(:artist) %></a></h4>
            <div class="list">
              <span class="toggle-select"><a href="#" class="select_all"><%= custom_t(:select_all) %></a> | <a href="#" class="deselect_all"><%= custom_t(:deselect_all) %></a></span>
              <ul class="artist-list">
              <% @ytm_tracks.artists.each do |artist| %>
                <li><label><input type="checkbox" name="artist[]" id="artist_<%= artist.id %>" value="<%= artist.id %>" <%= params[:artist].include?(artist.id.to_s) ? 'checked' : '' if params[:artist] %>> <%= artist.name %></label></li>
              <% end %>
              </ul>
            </div>
          </div>
          <div class="release collapsible">
            <h4><a href="#" class="toggle-button"><%= custom_t(".appears_on") %></a></h4>
            <div class="list">
              <span class="toggle-select"><%= custom_t(".singles") %> <a href="#" class="select_all"><%= custom_t(:select_all) %></a> | <a href="#" class="deselect_all"><%= custom_t(:deselect_all) %></a></span>
              <ul class="release-list">
                <% @ytm_tracks.singles.each do |single| %>
                  <li><label title="<%= display_name(single) %>"><input type="checkbox" name="release[]" id="single_<%= single.id %>" value="<%= single.id %>" <%= params[:release].include?(single.id.to_s) ? 'checked' : '' if params[:release] %>> <%= display_name(single) %></label></li>
                <% end %>
              </ul>
              <span class="toggle-select"><%= custom_t(".albums") %> <a href="#" class="select_all"><%= custom_t(:select_all) %></a> | <a href="#" class="deselect_all"><%= custom_t(:deselect_all) %></a></span>
              <ul class="release-list">
                <% @ytm_tracks.full_albums.each do |album| %>
                  <li><label title="<%= display_name(album) %>"><input type="checkbox" name="release[]" id="album<%= album.id %>" value="<%= album.id %>" <%= params[:release].include?(album.id.to_s) ? 'checked' : '' if params[:release] %>> <%= display_name(album) %></label></li>
                <% end %>
              </ul>
            </div>
          </div>
          <fieldset class="filter-buttons">
            <input type="submit" name="submit" class="button-callout-alt" value="Apply">
            <input type="reset" name="reset" class="button-interface" value="Reset">
          </fieldset>
        <% end %>
      </section>
    </aside>

    <section class="monetizations nine columns">
      <header>
        <a href="#0" class="mark-ineligible button-interface"><%= custom_t(".do_not_monetize") %></a>
        <a href="#0" class="send-to-youtube button-callout"><%= custom_t(".send_youtube") %></a>
        <% if @all_tracks_shown %>
          <div class="all_tracks_shown">
            <p><%= @all_tracks_shown %></p>
          </div>
        <% end %>
      </header>
      <div class="table-default">
        <header class="table-search">
          <form action="<%= ytm_tracks_path %>" class="search_form">
            <% if params[:status] %>
              <%= hidden_field_tag "status", params[:status] %>
            <% end %>
            <% if params[:artist] %>
              <% params[:artist].each do |artist| %>
                <%= hidden_field_tag "artist[]", artist %>
              <% end %>
            <% end %>
            <% if params[:release] %>
              <% params[:release].each do |release| %>
                <%= hidden_field_tag "release[]", release %>
              <% end %>
            <% end %>
            <%= hidden_field_tag :per_page, params[:per_page] if params[:per_page] %>
            <label for="search"><%= custom_t(".search_within") %></label> <input type="search" id="search" name="search" size="75" value="<%= params[:search] %>">
            <a href="#" class="clear_btn button-interface"><%= custom_t(".clear") %></a>
            <input type="submit" name="submit" class="button-callout-alt" id="search_btn" value="Search">
          </form>
        </header>
        <div class="table-container">
          <%= render :partial => "monetizations", :locals => { :songs => @songs } %>
        </div>
      </div>
      <footer>
        <a href="#0" class="mark-ineligible button-interface"><%= custom_t(".do_not_monetize") %></a>
        <a href="#0" class="send-to-youtube button-callout"><%= custom_t(".send_youtube") %></a>
      </footer>
    </section>
  </div>
</div>
