<section class="grid_16">
  <header>
    <h1>Business Development Inquiries</h1>
    <span class="required-helper">* Required Field</span>
  </header>
  <fieldset id="biz-dev" class='grid_16 alpha omega'>
    <legend>Business Development Inquiries</legend>
    <ul class="clearfix">
      <%= form_tag({:action => :contact_bizdev}, :id => 'contact_bizdev') do %>
        <li>
          <%= label_tag "[bizdev]company", "Company Name*" %>
          <div class="context-wrapper">
            <%= text_field_tag "[bizdev]company", nil, :class => "required" %>
          </div>
        </li>
        <li>
          <%= label_tag "[bizdev]business", "Business Address*" %>
          <div class="context-wrapper">
            <%= text_field_tag "[bizdev]business", nil, :class => "required" %>
          </div>
        </li>
        <li>
          <%= label_tag "[bizdev]website", "Website Address*" %>
          <div class="context-wrapper">
            <%= text_field_tag "[bizdev]website", nil, :class => "required any_url" %>
          </div>
        </li>
        <li>
          <%= label_tag "[bizdev]facebook", "Facebook URL" %>
          <div class="context-wrapper">
            <%= text_field_tag "[bizdev]facebook", nil %>
          </div>
        </li>
        <li>
          <%= label_tag "[bizdev]twitter", "Twitter URL" %>
          <div class="context-wrapper">
            <%= text_field_tag "[bizdev]twitter", nil %>
          </div>
        </li>
        <li>
          <%= label_tag "[bizdev]blog", "Company blog URL" %>
          <div class="context-wrapper">
            <%= text_field_tag "[bizdev]blog", nil %>
          </div>
        </li>
        <li class="label"><%= label_tag "[bizdev]customer_email_count", "Approximate number of customer email addresses" %></li>
        <li>
          <div class="context-wrapper">
            <%= text_field_tag "[bizdev]customer_email_count", nil, :class => "digits" %>
          </div>
        </li>
        <li>
          <%= label_tag "[bizdev]name", "Contact Name*" %>
          <div class="context-wrapper">
            <%= text_field_tag "[bizdev]name", nil, :class => "required" %>
          </div>
        </li>
        <li>
          <%= label_tag "[bizdev]title", "Title*" %>
          <div class="context-wrapper">
            <%= text_field_tag "[bizdev]title", nil, :class => "required" %>
          </div>
        </li>
        <li>
          <%= label_tag "[bizdev]phone", "Contact Phone*" %>
          <div class="context-wrapper">
            <%= text_field_tag "[bizdev]phone", nil, :class => "required" %>
          </div>
        </li>
        <li>
          <%= label_tag "[bizdev]email", "Contact Email*" %>
          <div class="context-wrapper">
            <%= text_field_tag "[bizdev]email", nil, :class => "required email" %>
          </div>
        </li>
        <li class="label"><%= label_tag "[bizdev]biz_description", "Business Description*" %></li>
        <li>
          <div class="context_wrapper"><%= text_area_tag "[bizdev]biz_description", nil, :class => "required" %></div>
        </li>
        <li>
          <%= label_tag "[bizdev]yrs_in_biz", "Years in Business*" %>
          <div class="context-wrapper">
            <%= text_field_tag "[bizdev]yrs_in_biz", nil, :class => "required number" %>
          </div>
        </li>
        <li>
          <%= label_tag "[bizdev]customer_base_size", "Customer Base Size*" %>
          <div class="context-wrapper">
            <%= text_field_tag "[bizdev]customer_base_size", nil, :class => "required number" %>
          </div>
        </li>
        <li class="label"><%= label_tag "[bizdev]customer_demographic", "Customer Description/<br />Demographic*".html_safe %></li>
        <li>
          <div class="context-wrapper"><%= text_area_tag "[bizdev]customer_demographic", nil, :class => "required" %></div>
        </li>
        <li class="label"><%= label_tag "[bizdev]area_of_interest", "Areas of Interest*", :class => "required" %></li>
        <li class="radio"><div class="context-wrapper"><label><%= check_box_tag "[bizdev]area_of_interest", "affiliate_program" %> Affiliate <%= t(:program).capitalize %></label></div></li>
        <li class="radio"><label><%= check_box_tag "[bizdev]area_of_interest", "online_music_store" %> Online Music Store</label></li>
        <li class="radio"><label><%= check_box_tag "[bizdev]area_of_interest", "product_sales_on_tunecore.com" %> Product sales on tunecore.com</label></li>
        <li class="radio"><label><%= check_box_tag "[bizdev]area_of_interest", "other" %> Other&mdash;Please provide details</label></li>
        <li class="label"><%= label_tag "[bizdev]details", "Use the space below for additional information you would like to provide." %></li>
        <li>
          <div class="context-wrapper"><%= text_area_tag "[bizdev]details" %></div>
        </li>
        <li>
          <%= submit_tag "Submit" %>
        </li>
      <% end %>
    </ul>
  </fieldset>
</section>
<%- content_for :external_javascript do -%>
<%= javascript_include_tag "/javascripts/plugins/jquery.validate.js" %>
<script type="text/javascript">
  var $ = jQuery;

  jQuery.validator.addMethod("any_url", function(url) {
    url = url.replace(/\s+/g, "");
    return url.match(/((http|https):\/\/)?(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/i);
  }, "Please specify a valid url");

  $(function() {
    $("#contact_bizdev").validate({
      rules: {
        "[bizdev]area_of_interest": "required"
      }
    });
  });
</script>
<%- end -%>
