<%#
    This page cannot be visited in production because its route ("/") is redirected to Wordpress.
    It is visitable in lower environments.
%>
<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/index_new.css" %>
  <style>
    .hero {
      <% if country_website == 'CA' %>
        background-image: url('../images/bgs/thousand_foot_krutch.jpg');
      <% elsif country_website == 'UK' %>
        background-image: url('../images/bgs/bugzy_malone.jpg');
      <% elsif country_website == 'AU' %>
        background-image: url('../images/bgs/the_jungle_giants.jpg');
      <% else %>
        background-image: url('../images/bgs/dropcityyc.jpg');
      <% end %>
    }
  </style>
<% end %>

<% content_for :data_layer do %>
  <%= data_layer_object(page: Gtm::Page.new(current_user, currency: locale_currency, page_type: Gtm::Home, page_name: "Homepage")) %>
<% end %>

<div class="content">
  <header class="hero">
    <div class="row">
      <div class="copy_container six columns">
        <p>(This view is unreachable in production where the CMS, AKA 'marketing site', is enabled.)</p>
        <h1 class="headline">The best way to sell your music on iTunes, Amazon, Spotify &amp; more.</h1>
        <p>Join our successful independent artist community.</p>
        <ul>
          <li>Get a fair deal. Keep 100% of your sales revenue.</li>
          <li>Distribute your music easily and quickly.</li>
          <li>Share your music. Grow your fan base.</li>
        </ul>
        <a href="/signup" class="button-callout get_started">Get Started</a>
      </div>
      <div class="photo_credit">
        <% if country_website == 'CA' %>
          <p class="artist">Thousand Foot Krutch</p>
          <p class="photographer">TuneCore Artist Since 2010<br/>Photo by Brooks Reynolds</p>
        <% elsif country_website == 'UK' %>
          <p class="artist">Bugzy Malone</p>
          <p class="photographer">TuneCore Artist Since 2009</p>
        <% elsif country_website == 'AU' %>
          <p class="artist">The Jungle Giants</p>
          <p class="photographer">Photo by Rachella Nardella</p>
        <% else %>
          <p class="artist">Drop City Yacht Club</p>
          <p class="photographer">Photo by Karna Kurata</p>
        <% end %>
      </div>
      <div class="learn-more">
        <% if FeatureFlipper.show_feature? :home_sell_worldwide, current_user %>
          <a href="#sell-worldwide">Learn More</a>
        <% elsif FeatureFlipper.show_feature? :home_manage_career, current_user %>
          <a href="#manage-career">Learn More</a>
        <% elsif FeatureFlipper.show_feature? :home_collect_royalties, current_user %>
          <a href="#collect-royalties">Learn More</a>
        <% end %>
      </div>
    </div>
  </header>
  <%# if FeatureFlipper.show_feature? :home_sell_worldwide, current_user %>
  <section id="sell-worldwide" class="section section_one">
    <div class="row">
      <div class="twelve columns">
        <div class="iphone_bg">
          <p class="artist-note">
            <span class="artist"></span>
            <span class="since"></span>
          </p>
        </div>
        <div class="section-container">
          <h2>Sell Your Music Worldwide</h2>
          <p>You don’t need a label to share your music with the world. TuneCore makes it easy to get your music into iTunes, Amazon, Spotify, and 150+ digital store partners. You keep 100% of your rights and 100% of the money you earn. It’s free to create an account and get started.</p>
          <ul class="stores">
            <li class="itunes">iTunes</li>
            <li class="amazon">Amazon Music</li>
            <li class="spotify">Spotify</li>
            <li class="google">Google Play</li>
            <li class="youtube">YouTube Art Tracks</li>
          </ul>
          <div class="button-container">
            <a href="/index/sell_your_music" class="button-callout sell_your_music">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%# end %>
  <%# if FeatureFlipper.show_feature? :home_manage_career, current_user %>
  <section id="manage-career" class="section section_two">
    <div class="row">
      <div class="twelve columns">
        <div class="youtube_bg">
          <p class="artist-note">
            <span class="artist">Soulja Boy</span>
            <span class="since">TuneCore Artist since 2009</span>
          </p>
        </div>
        <div class="section-container">
          <h2>Grow &amp; Manage Your Career</h2>
          <p>Your music career is more than just downloads and streams. TuneCore’s tools and services can help you:</p>
          <ul>
            <li>Improve the sound quality of your tracks</li>
            <li>Engage listeners across social media</li>
            <li>Get your music reviewed by fans</li>
          </ul>
          <p>We offer a range of artist tools &amp; services to help support you no matter where you are in your career.</p>
          <div class="button-container">
            <a href=<%= artist_services_cms_url %> class="button-callout manage_your_career">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%# end %>
  <%# if FeatureFlipper.show_feature? :home_collect_royalties, current_user %>
  <section id="collect-royalties" class="section section_three">
    <div class="row">
      <div class="twelve columns">
        <div class="pubpen_bg"></div>
        <div class="section-container">
          <h2>Collect Songwriting Royalties &amp; License Your Music</h2>
          <p>The songs you write generate over a dozen royalties when they’re sold, streamed, or performed live. You can’t get these royalties yourself without a publishing administrator. TuneCore Music Publishing Administration not only collects these royalties for you, but also:</p>
          <ul>
            <li>Helps you get your music placed in film, TV, commercials &amp; more</li>
            <li>Works with performing rights organizations (PROs) to collect more royalties</li>
            <li>Registers your music worldwide in 60+ countries</li>
          </ul>
          <p>And you keep 100% of your music rights.</p>
          <div class="button-container">
            <a href="/index/get_a_publishing_deal" class="button-callout collect_songwriting_royalties">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%# end %>
</div>
