<% stylesheet_link_tag "people/adyen_preference" %>

<div id="preferred_adyen_payment_method_<%=stored_payment_method_for_pref.id %>" class="item <%= cycle('odd', 'even') %> row collapse adyen-payment-method">
  <% if adyen_stored_payment_methods.count > 1 %>
    <div class="one column">
      <ul>
        <%= f.radio_button :preferred_adyen_payment_method_id, stored_payment_method_for_pref.id, :label=>'', :style =>"cursor: pointer"%>
      </ul>
    </div>
  <% end %>

  <div class="three columns">
    <div id="AdyenContainer">
      <div id="stored-adyen-payment-method-pref" class="item">
        <label id="payment-method-label" for=<%= "person_preference_preferred_adyen_payment_method_id_#{stored_payment_method_for_pref.id}" %>>
          <img src="https://checkoutshopper-live.adyen.com/checkoutshopper/images/logos/small/<%= stored_payment_method_for_pref.payment_method_name %>-hdpi.png" alt="payment method logo">
          <span>
            <%= stored_payment_method_for_pref.payment_method_display_name %>
          </span>
        </label>
      </div>
      <div id="adyen-container" class="hidden"></div>
      <div class="clear"></div>
    </div>
  </div>
</div>
