<section>
  <h2><%= @label %></h2>
  <fieldset id="balance-adjustment" class='small'>
    <%= error_messages_for(@note) %>
		<%= error_messages_for(@renewal) %>
    <ul class="clearfix">
      <%= form_tag admin_album_renewal_path(@album), :method=>:put do -%>
      	<li>
					<label>Admin Note <span class='info'>(Admin use only)</span></label>
					<%= text_area_tag '[note][note]' %>
				</li>
				<li><label><span class='info'>An email will be sent to the customer notifying them of this change.</label></li>
				<li><%= submit_tag("Submit", {:class => "submit" }) %></li>

      <% end -%>
    </ul>
  </fieldset>
</section>
