<div>
	<h3>Mass Expire Renewals</h3>
  <% if @processed_albums.blank? %>
    <%= form_tag(admin_mass_update_renewals_path, method: :get) do %>
		<table style="float: left;">
			<tr>
				<td>Album Ids/UPCs:</td>
				<td>
					<%= text_area_tag :album_ids %>
				</td>
			</tr>
		</table>
		<div style="clear: both;">
      <%= submit_tag "Submit" %>
		</div>
    <% end %>
  <% else %>
    <ol>
      <%for album in @processed_albums%>
      <li>
        <%="Album ID: #{album.id} Album UPC: #{album.upc.number}"%>
      </li>
      <% end %>
    </ol>
  <% end %>
</div>
