<section>
	<% if @renewal.canceled? %>
		<h2>Album Marked as 'DO NOT RENEW'.</h2>
	<% else %>
		<h2>Album Renewal Reactivated.</h2>
	<% end -%>
  
</section>
<script>
  window.parent.location=window.parent.location;
</script>