<dl>
  <dt>Address:</dt>
  <dd><%= @person.address1 %></dd>
  
  <% unless @person.address2.blank? %>
    <dt>Address 2:</dt>
    <dd><%= @person.address2 %></dd>
  <% end %>
  
  <dt>City:</dt>
  <dd><%= @person.city %></dd>
  
  <dt>State:</dt>
  <dd><%= @person.state %></dd>
  
  <dt>Zip/Postal Code:</dt>
  <dd><%= @person.postal_code %></dd>
  
  <dt>Country:</dt>
  <dd><%= @person.country %></dd>
</dl>
