<dl>
  <dt>Name:</dt>
  <dd><%= @person.name %></dd>
  
  <dt>Phone Number:</dt>
  <dd><%= @person.phone_number %></dd>

  <dt>Mobile Number:</dt>
  <dd><%= @person.mobile_number %></dd>

  <% if @person.business_name %>
    <dt>Company:</dt>
    <dd><%= @person.business_name %></dd>
  <% end %>
</dl>
