<fieldset class='grid_10 alpha omega'>
  <ul class="clearfix">
    <%= form_for @person, url: update_email_person_path(@person) do |f| %>
      <%= f.text_field(:email,
                       :label => 'Email Address',
                       :tc_required => true,
                       :li_class => "email",
                       :contextual_help => "Please enter your email address.  Your email address will also be used as your login to your new TuneCore account.") %>

      <%# Don't allow user to modify terms and conditions after accepting %>
      <% if @person.new_record? || ! (@person.accepted_terms_and_conditions) %>
      <%= f.check_box(
          :accepted_terms_and_conditions,
          :label => "I Agree to the TuneCore <a href='/index/terms_lightbox' class='lightbox'>Terms &amp; Conditions</a>",
          :li_class => 'checkbox'
      ) %>
      <% end %>
      <div class="original-password">
        <li class="original-password"><strong>To edit your login information, please enter your current password:</strong></li>
        <%= f.password_field(:original_password,
                              :label => 'Current Password',
                              :value => "",
                              :li_class => "original-password",
                              :contextual_help => "Please enter your current password to confirm changes.")
        %>
      </div>
      <%= f.submit("Save changes", :class => "save-button") %>
    <% end %>
  </ul>
</fieldset>
