<div id="email_info" title="Update your email info" class="hide profile_modal"><%= render :partial => 'edit_email', :locals => { :person => person } %></div>
<div id="password_info" title="Update your password info" class="hide profile_modal"><%= render :partial => 'edit_password', :locals => { :person => person } %></div>
<div id="contact_info" title="Update your contact info" class="hide profile_modal"><%= render :partial => 'edit_contact' %></div>
<div id="address" title="Update your address" class="hide profile_modal"><%= render :partial => 'edit_address' %></div>

<section id="account_settings" class="tabSection <% if @tab != 'account' %>hide<% end %>">
  <div class="row">
    <div class="twelve columns">
      <div>
        <div class="left" style="width: 450px;">
          <h4>Email Address</h4>
          <span class="emailtxt"><%= current_user.email %></span><br />
          <a href="#" class="button-callout-alt email_info" data-modal="email_info">Change Email Address</a>
        </div>
        <div class="left" style="margin-left: 40px;">
          <h4>Password</h4>
          (not shown for security)<br />
          <a href="#" class="button-callout-alt password_info" data-modal="password_info">Change Password</a>
        </div>
        <div class="clear"></div>
      </div>
      <div style="margin-top: 40px;">
        <div class="left" style="width: 450px;">
          <h4>Contact Info</h4>
          <div class="contact_info">
            <%= render :partial => 'contact_info' %>
          </div>
        </div>
        <div class="left" style="margin-left: 40px;">
          <h4>Address</h4>
          <div class="address">
            <%= render :partial => 'address_info' %>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div>
        <div class="left" style="width: 450px;">
          <a href="#" class="button-callout-alt contact_info" data-modal="contact_info">Change Contact Info</a>
        </div>
        <div class="left" style="margin-left: 40px;">
          <a href="#" class="button-callout-alt address_info" data-modal="address">Change Address</a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</section>
