<%
  # reusable warning message for name
  name_warning_message = "
    We will use your full name for important financial
    transactions. Do not use any type
    of nick name or artist/label name.
  "
%>

<fieldset class='grid_10 alpha omega'>
  <ul class="clearfix">
    <%= form_for @person, :url => { :action => "update_contact", :id => @person } do |f| %>
      <%= f.text_field(:name, :label => 'Name', :tc_required => true,
        :contextual_help => "Please enter your name.  #{name_warning_message}")
      %>
      <%= f.text_field(:phone_number, :class=> 'short', :label => 'Phone Number', 
        :contextual_help => "
          Please enter the phone number which is best to reach you at. Include area
          code or country code. This is very important as we may need to contact you
          from time to time. For instance if one of the stores want to run a promotion
          on you, we will need to get in touch with you asap. We will always e-mail
          first. Again, we will never give your phone number or email to
          anyone! Read our
          #{link_to('privacy policy', :controller => "index", :action => "privacy")}.")
      %>
      <%= f.text_field(:mobile_number, :class=> 'short', :label => 'Mobile Number',
        :contextual_help => "
          Please enter the mobile number which is best to reach you at. Include area
          code or country code. This is very important as we may need to contact you
          from time to time. For instance if one of the stores want to run a promotion
          on you, we will need to get in touch with you asap. We will always e-mail
          first. Again, we will never give your mobile number or email to
          anyone! Read our
          #{link_to('privacy policy', :controller => "index", :action => "privacy")}.")
      %>
      <div class="original-password">
        <li class="original-password"><strong>To edit your contact information, please enter your current password:</strong></li>
        <%= f.password_field(:original_password, 
                              :label => 'Current Password',
                              :value => "", 
                              :li_class => "original-password",
                              :contextual_help => "Please enter your current password to confirm changes.")
        %>
      </div>
      <%= f.submit("Save changes", :class => "save-button") %>
    <% end %>
  </ul>
</fieldset>
