<fieldset class='grid_10 alpha omega'>
  <ul class="clearfix">
    <%= form_for @person, :url => { :action => "update_address", :id => @person } do |f| %>
      <%= f.text_field(:address1, :label => "Address" ) %>
      <%= f.text_field(:address2, :label => "Address 2" ) %>
      <%= f.text_field(:city, :label => "City" ) %>
      <%= f.text_field(:state, :label => "State" ) %>
      <label id="zip-code-label" class="hide">Zip/Postal Code*</label>
      <label id="postal-code-label" class="hide">Zip/Postal Code*</label>
      <%= f.text_field(:postal_code, :label => 'Zip/Postal Code',
        :class => "postal-code short",
        :tc_required => true,
        :contextual_help => "Please enter your home town postal code.")
      %>
      <%= f.select(:country, country_dropdown_for_website(current_user.country_website_id),
        :label => 'Country',
        :tc_required => true,
        :contextual_help => "Please select the country you reside in.",
        :li_class => "select country-select")
      %>
      <div class="original-password">
        <li class="original-password"><strong>To edit your mailing address, please enter your current password:</strong></li>
        <%= f.password_field(:original_password,
                              :label => 'Current Password',
                              :value => "",
                              :li_class => "original-password",
                              :contextual_help => "Please enter your current password to confirm changes.")
        %>
      </div>
      <%= f.submit("Save changes", :class => "save-button") %>
    <% end %>
  </ul>
</fieldset>
