<fieldset class='grid_10 alpha omega'>
  <ul class="clearfix">
    <%= form_for @person, url: update_password_person_path(@person) do |f| %>
      <!-- password fields -->
     <% newflag = !@person.new_record? ? "New" : "" %>

     <%= f.password_field(:password,
                           :label => "#{newflag} Password",
                           :tc_required => true,
                           :value => "",
                           :li_class => "password",
                           :contextual_help => "Please choose a password that's at least 8 characters long. This password is <strong>case sensitive</strong>.") %>
     <%= f.password_field(:password_confirmation,
                          :label => "Confirm #{newflag} Password",
                          :tc_required => true,
                          :value => "",
                          :li_class => "password-confirmation #{ (!@person.new_record? || flash[:error] ? '' : 'hidden')}",
                          :contextual_help => "Please re-enter your password one more time.") %>
                          <%= f.check_box(:is_opted_in,
                                          :label => "Get news and updates from TuneCore",
                                          :li_class => 'checkbox' ) %>
      <%# Don't allow user to modify terms and conditions after accepting %>
      <% if @person.new_record? || ! (@person.accepted_terms_and_conditions) %>
      <%= f.check_box(
          :accepted_terms_and_conditions,
          :label => "I Agree to the TuneCore <a href='/index/terms_lightbox' class='lightbox'>Terms &amp; Conditions</a>",
          :li_class => 'checkbox'
      ) %>
      <% end %>
      <div class="original-password">
        <li class="original-password"><strong>To edit your login information, please enter your current password:</strong></li>
        <%= f.password_field(:original_password,
                              :label => 'Current Password',
                              :value => "",
                              :li_class => "original-password",
                              :contextual_help => "Please enter your current password to confirm changes.")
        %>
      </div>
      <%= f.submit("Save changes", :class => "save-button") %>
    <% end %>
  </ul>
</fieldset>
