<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.select-to-autocomplete" %>
  <%= javascript_include_tag "/javascripts/app/form.js" %>
<% end %>

<header class="row">
  <div class="eight columns centered" style="text-align: center;">
    <h2>Complete Your Registration</h2>
    <p class="description">Hi, <%= @sync_request.name %>. To complete your registration, please choose a password.</p>
  </div>
</header>

<section id="request_membership" class="row">
  <div class="twelve columns">
    <%= form_for @person, :url => sync_people_path do |f| %>
      <input type="hidden" name="request_code" value="<%= @sync_request.request_code %>" />
      
      <%= f.password_field :password, :label => "Password", :class => "form-text", :new_form => true %>
    
      <%= f.password_field :password_confirmation, :label => "Confirm Password", :class => "form-text", :new_form => true %>
    
      <fieldset class="check">
        <ul>
          <%= f.check_box(
              :accepted_terms_and_conditions,
              :label => "I Agree to the TuneCore Licensing <a href='#{sync_terms_and_conditions_path}' target='_blank'>Terms &amp; Conditions</a>",
              :error_label => "Terms &amp; Conditions",
              :li_class => 'check',
              :tc_required => true,
              :new_form => true
          ) %>
        </ul>
      </fieldset>
      <footer class="row">
        <%= f.submit "Register", :new_form => true %>
      </footer>
    <% end %>
  </div>
</section>
