<% content_for :css do %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/people.css" />
<% end %>
<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/sync_profile.js" %>
<% end %>
<section class="tabHeader">
  <div class="row">
    <div class="twelve columns">
      <nav>
        <a href="#account_settings" class="active">Account Settings</a>
        <div class="clear"></div>
      </nav>
    </div>
  </div>
</section>
<%= render :partial => "edit_profile_account", :locals => { :person => @person } %>
