<div class="payoneer-currency-selection-content">
  <div class="container">
    <h5><%= custom_t('payoneer_status.index.currency_selector.heading') %></h5>
    <%# we use jquery to submit this form, not rails %>
      <%= form_with id: "currency_selector_popup_form" do %>
        <div class="controls">
          <button type="submit"
                  value="<%= us_resident_modal_program(CorporateEntity::TUNECORE_US_NAME) %>"
                  name="program_id">
            <%= custom_t('payoneer_status.index.currency_selector.us_resident') %>
          </button>
          <button type="submit"
                  value="<%= us_resident_modal_program(CorporateEntity::BI_LUXEMBOURG_NAME) %>"
                  name="program_id">
            <%= custom_t('payoneer_status.index.currency_selector.non_us_resident') %>
          </button>
        </div>
      <% end %>
  </div>
</div>
