<div class="grid-x hide-for-small-only">
  <div class="payoneer-fees-desktop-banner cell medium-12 large-12">
    <div class="payoneer-fees-desktop-banner-text-container">
      <% if has_used_legacy_system? %>
        <div class="payoneer-fees-desktop-banner-header"><%= custom_t("payoneer_fees.index.new_way_to_earn") %></div>
        <div class="payoneer-fees-desktop-banner-description"><%= custom_t("payoneer_fees.index.payoneer_partnership") %></div>

        <%= render "sign_up_button" %>
      <% else %>
        <div class="payoneer-fees-desktop-banner-header"><%= custom_t("payoneer_fees.index.do_not_delay_earning") %></div>
        <div><%= custom_t("payoneer_fees.index.option_info_below") %></div>

        <%= render "sign_up_button" %>
      <% end %>
    </div>
  </div>


  <div class="cell medium-12 large-12">
    <table>
      <thead>
        <tr>
          <th class="payoneer-fees-desktop-fee-first-th"><%= custom_t("payoneer_fees.index.payout_method") %></th>
          <th><%= custom_t("payoneer_fees.index.fees") %></th>
          <th><%= custom_t("payoneer_fees.index.minimum_withdrawal") %></th>
        </tr>
      </thead>
      <tbody class="payoneer-fees-desktop-fee-tbody">
        <% if available_in_region?(current_user.country_domain, PayoutProvider::ACH_REGION_KEY) %>
          <tr>
            <td>
              <div class="payoneer-fees-desktop-fee-name"><%= custom_t("payoneer_fees.index.bank_transfer") %></div>
              <div class="payoneer-fees-desktop-fee-description">
                <%= custom_t("payoneer_fees.index.bank_transfer_description") %>
                <% if display_localized_fee? %>
                  <br>
                  <br>
                  <%= custom_t("payoneer_fees.index.bank_transfer_disclaimer") %>

                  <% if Payoneer::FeatureService.show_countries_selection?(current_user) %>
                    <button class="button payoneer-fees-desktop-btn payoneer-fees-desktop-btn choose-currency-action payout-method-data" 
                            data-payout-method="<%= PayoutTransfer::BANK %>" >
                      <%= custom_t("payoneer_fees.index.payoneer_bank_account_button") %>
                    </button>
                  <% else %>
                    <%= button_to custom_t("payoneer_fees.index.payoneer_bank_account_button"), payout_provider_registrations_path(payout_methods_list: PayoutTransfer::BANK),  class: "button payoneer-fees-desktop-btn" %>
                  <% end %>
                <% end %>
              </div>
              <% if available_in_region?(current_user.country_domain, "payoneer_fee_modal") %>
                <div>
                  <span class="payoneer-fee-modal-trigger"><%= custom_t("payoneer_fees.index.bank_transfer_link") %></span>
                </div>
              <% end %>
            </td>
            <td class="payoneer-fees-desktop-fee-item">
              <%= bank_transfer_fees %>
              <div class="payoneer-fees-disclaimer">
                <%= bank_transfer_disclaimer %>
              </div>
            </td>
            <td class="payoneer-fees-desktop-fee-item">
              <%= bank_transfer_min_withdrawal %>
              <div class="payoneer-fees-disclaimer">
                <%= bank_transfer_min_disclaimer %>
              </div>
            </td>
          </tr>
        <% end %>

        <% if available_in_region?(current_user.country_domain, PayoutProvider::PAYPAL_REGION_KEY) %>
          <tr>
            <td>
              <div class="payoneer-fees-desktop-fee-name"><%= custom_t("payoneer_fees.index.paypal") %></div>
              <div class="payoneer-fees-desktop-fee-description"><%= custom_t("payoneer_fees.index.paypal_description") %></div>
              <% if display_localized_fee? %>
                <div class="payoneer-fees-funding-currencies">
                  <div class="payoneer-fees-funding-currency"><%= custom_t("payoneer_fees.index.paypal_funding_currency") %></div>
                  <div class="payoneer-fees-listed-funding-currencies"><%= custom_t("payoneer_fees.index.paypal_listed_funding_currencies") %></div>
                </div>
                <% if Payoneer::FeatureService.show_countries_selection?(current_user) %>
                  <button class="button payoneer-fees-desktop-btn payoneer-fees-desktop-btn choose-currency-action payout-method-data" 
                    data-payout-method="<%= PayoutTransfer::PAYPAL %>">
                    <%= custom_t("payoneer_fees.index.payoneer_paypal_account_button") %>
                  </button>
                <% else %>
                  <%= button_to custom_t("payoneer_fees.index.payoneer_paypal_account_button"), payout_provider_registrations_path(payout_methods_list: PayoutTransfer::PAYPAL),  class: "button payoneer-fees-desktop-btn" %>
                <% end %>
              <% end %>
            </td>
            <td class="payoneer-fees-desktop-fee-item">
              <div><%= paypal_fees %></div>
            </td>
            <td class="payoneer-fees-desktop-fee-item">
              <%= custom_t("payoneer_fees.index.fee_minimum") %>
            </td>
          </tr>
        <% end %>

        <% if available_in_region?(current_user.country_domain, PayoutProvider::CHECK_REGION_KEY) %>
          <tr>
            <td>
              <div class="payoneer-fees-desktop-fee-name"><%= custom_t("payoneer_fees.index.paper_check") %></div>
              <div class="payoneer-fees-desktop-fee-description">
                <%= custom_t("payoneer_fees.index.paper_check_description") %>
              </div>
            </td>
            <td class="payoneer-fees-desktop-fee-item">
              <%= paper_check_fees %>
            </td>
            <td class="payoneer-fees-desktop-fee-item">
              <%= paper_check_min_withdrawal %>
            </td>
          </tr>
        <% end %>

        <% if available_in_region?(current_user.country_domain, PayoutProvider::CC_REGION_KEY) %>
          <tr>
            <td>
              <div class="payoneer-fees-desktop-fee-name"><%= custom_t("payoneer_fees.index.prepaid_mastercard") %></div>
              <div class="payoneer-fees-desktop-fee-description">
                <%= custom_t("payoneer_fees.index.prepaid_mastercard_description") %>
              </div>
              <div class="payoneer-fees-desktop-fee-item-bold">
                <%= custom_t("payoneer_fees.index.prepaid_mastercard_fees") %>
              </div>
              <ul>
                <li><%= mastercard_activation_fee %></li>
                <li><%= mastercard_atm_fee %></li>
              </ul>
            </td>
            <td class="payoneer-fees-desktop-fee-item">
              <%= mastercard_fees %>
            </td>
            <td class="payoneer-fees-desktop-fee-item">
              <%= mastercard_min_withdrawal %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="cell medium-12 large-12 payoneer-fees-desktop-footer">
      <span class="left-side">
        <% if display_localized_fee? %>
          <%= custom_t("payoneer_fees.index.forex_disclaimer", currency: current_user.user_currency) %>
        <% end %>
        <% if available_in_region?(current_user.country_domain, "payoneer_fee_modal") %>
          <span class="calculator-icon"><i class="fa fa-calculator"></i></span>
          <a class="payoneer-fee-modal-trigger"><%= custom_t("payoneer_fees.index.preview_fees_by_method") %></a>
        <% end %>
      </span>
      <%= render "sign_up_button" %>
    </div>


  </div>
</div>
