<div class="payoneer-popup-wrapper">
  <div class="payoneer-fee-modal-container">
    <div class="content">
      <h3><%= custom_t("payoneer_fees.index.fees_preview") %></h3>

      <div class="no-records"><%= custom_t("payoneer_fees.popup.no_records") %></div>

      <div class="filters">
        <div>
          <%= custom_t("payoneer_fees.index.select_your_country") %>
          <%= select_tag :countries, options_for_select(@countries_map),
                         class: 'country', id: 'fee-modal-country-dropdown'%>
        </div>
        <div>
          <%= custom_t("payoneer_fees.index.select_payout_method") %>
          <select id="fee-modal-payout-method-dropdown" name="payout_method" class="payout-method">
            <option value="<%= PayoutTransfer::BANK %>">
              <%= custom_t("payoneer_fees.index.bank_transfer") %>
            </option>
            <option value="<%= PayoutTransfer::PAYPAL %>">
              <%= custom_t("payoneer_fees.index.paypal") %>
            </option>
            <option value="<%= PayoutTransfer::PAPER_CHECK %>">
              <%= custom_t("payoneer_fees.index.paper_check") %>
            </option>
            <option value="<%= PayoutTransfer::PREPAID_CARD %>">
              <%= custom_t("payoneer_fees.index.prepaid_mastercard") %>
            </option>
          </select>
        </div>
        <div>
          <input type="button" class="preview-fees" value="<%= custom_t("payoneer_fees.index.preview_fees") %>"/>
        </div>
      </div>
      <div class="results">
        <table>
          <thead>
            <tr>
              <th><%= custom_t("payoneer_fees.popup.results.target_currency") %></th>
              <th><%= custom_t("payoneer_fees.popup.results.fee") %></th>
              <th><%= custom_t("payoneer_fees.popup.results.min_withdrawal") %></th>
            </tr>
          </thead>
          <tbody>
            <% @countries_map.values.each do |iso_code| %>
              <tr class="fee-row <%= PayoutTransfer::PAYPAL %> <%= iso_code %>">
                <td><%= custom_t("payoneer_fees.popup.results.usd") %></td>
                <% if inside_domain?(iso_code) %>
                  <td><%= modal_payout_fees({ payout_type: :paypal, fee_type: :fee, domain_type: :us }) %></td>
                  <td><%= modal_payout_fees({ payout_type: :paypal, fee_type: :min_withdraw }) %></td>
                <% else %>
                  <td><%= modal_payout_fees({ payout_type: :paypal, fee_type: :fee, domain_type: :non_us }) %></td>
                  <td><%= modal_payout_fees({ payout_type: :paypal, fee_type: :min_withdraw }) %></td>
                <% end %>
              </tr>
            <% end %>
            <% @ach_fees.values.each do |fees|  %>
              <% fees.each do |fee| %>
                <tr class="fee-row <%= PayoutTransfer::BANK %> <%= fee.target_country_code %>">
                  <td><%= fee.target_currency %></td>
                  <td><%= number_to_currency(fee.transfer_fees, precision: 2) %> <%= fee.source_currency %></td>
                  <td><%= number_to_currency(fee.minimum_threshold) %> <%= fee.source_currency %></td>
                </tr>
              <% end %>
            <% end %>
            <tr class="fee-row <%= PayoutTransfer::PAPER_CHECK %>">
              <td><%= custom_t("payoneer_fees.popup.results.usd") %></td>
              <td><%= modal_payout_fees({ payout_type: :paper_check, fee_type: :fee }) %></td>
              <td><%= modal_payout_fees({ payout_type: :paper_check, fee_type: :min_withdraw }) %></td>
            </tr>
            <tr class="fee-row <%= PayoutTransfer::PREPAID_CARD %>">
              <td><%= custom_t("payoneer_fees.popup.results.usd") %></td>
              <td><%= modal_payout_fees({ payout_type: :prepaid_card, fee_type: :fee }) %></td>
              <td><%= modal_payout_fees({ payout_type: :prepaid_card, fee_type: :min_withdraw }) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
