<div class="payoneer-fees-mobile show-for-small-only">
  <div class="payoneer-fees-mobile-banner grid-x">
    <div class="payoneer-fees-mobile-banner-header cell small-12">
      <%= custom_t("payoneer_fees.index.new_way_to_earn") %>
    </div>
    <div class="payoneer-fees-mobile-banner-body cell small-12">
      <%= custom_t("payoneer_fees.index.payoneer_partnership") %>
    </div>
  </div>

  <div class="grid-x">
    <div class="cell small-12">
      <%= render "sign_up_button" %>
    </div>

    <% if available_in_region?(current_user.country_domain, PayoutProvider::ACH_REGION_KEY) %>
      <div class="payoneer-fees-mobile-fee cell small-12">
        <div class="payoneer-fees-mobile-fee-name"><%= custom_t("payoneer_fees.index.bank_transfer") %></div>
        <div class="payoneer-fees-mobile-fee-description">
          <%= custom_t("payoneer_fees.index.bank_transfer_description") %>
          <% if display_localized_fee? %>
            <br>
            <br>
            <%= custom_t("payoneer_fees.index.bank_transfer_disclaimer") %>
          <% end %>
        </div>

        <div class="payoneer-fees-mobile-fee-summary-outer-wrapper">
          <div>
            <span class="payoneer-fees-mobile-fee-summary-header">
              <%= custom_t("payoneer_fees.index.fees") %>
            </span>
            <span class="payoneer-fees-mobile-fee-summary-cell">
              <%= bank_transfer_fees %>
            </span>
            <div class="payoneer-fees-disclaimer">
              <%= bank_transfer_disclaimer %>
            </div>
          </div>
          <div class="payoneer-fees-mobile-fee-summary-wrapper">
            <span class="payoneer-fees-mobile-fee-summary-header">
              <%= custom_t("payoneer_fees.index.min_withdrawal") %>
            </span>
            <span class="payoneer-fees-mobile-fee-summary-cell">
              <%= bank_transfer_min_withdrawal %>
              <div class="payoneer-fees-disclaimer">
                  <%= bank_transfer_min_disclaimer %>
                </div>
            </span>
          </div>
        </div>
        <% if display_localized_fee? %>
          <% if Payoneer::FeatureService.show_countries_selection?(current_user) %>
            <button class="button payoneer-fees-mobile-btn payoneer-btn choose-currency-action payout-method-data"
                    data-payout-method="<%= PayoutTransfer::BANK %>">
              <%= custom_t("payoneer_fees.index.payoneer_bank_account_button") %>
            </button>
          <% else %>
            <%= button_to custom_t("payoneer_fees.index.payoneer_bank_account_button"), payout_provider_registrations_path(payout_methods_list: PayoutTransfer::BANK),  class: "button payoneer-fees-mobile-btn payoneer-btn" %>
          <% end %>
        <% else %>
          <%= button_to custom_t("payoneer_fees.index.payoneer_bank_account_button"), payout_provider_registrations_path(payout_methods_list: PayoutTransfer::BANK),  class: "button payoneer-fees-mobile-btn payoneer-btn" %>
        <% end %>
        <% if available_in_region?(current_user.country_domain, "payoneer_fee_modal") %>
          <div>
            <input type="button" class="payoneer-fee-modal-trigger additional-fee-mobile" value="<%= custom_t("payoneer_fees.index.additional_fee_details") %>"/>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if available_in_region?(current_user.country_domain, PayoutProvider::PAYPAL_REGION_KEY) %>
      <div class="payoneer-fees-mobile-fee no-border cell small-12">
        <div class="payoneer-fees-mobile-fee-name"><%= custom_t("payoneer_fees.index.paypal") %></div>
        <div class="payoneer-fees-mobile-fee-description"><%= custom_t("payoneer_fees.index.paypal_description") %></div>
        <% if display_localized_fee? %>
          <div class="payoneer-fees-funding-currencies">
            <div class="payoneer-fees-funding-currency"><%= custom_t("payoneer_fees.index.paypal_funding_currency") %></div>
            <div class="payoneer-fees-listed-funding-currencies"><%= custom_t("payoneer_fees.index.paypal_listed_funding_currencies") %></div>
          </div>
        <% end %>
        <div class="payoneer-fees-mobile-fee-summary-outer-wrapper">
          <div>
            <span class="payoneer-fees-mobile-fee-summary-header">
              <%= custom_t("payoneer_fees.index.fees") %>
            </span>
            <div class="payoneer-fees-mobile-fee-summary-cell">
              <div><%= paypal_fees %></div>
            </div>
          </div>
        </div>
        <div class="payoneer-fees-mobile-fee-summary-wrapper">
          <span class="payoneer-fees-mobile-fee-summary-header">
            <%= custom_t("payoneer_fees.index.min_withdrawal") %>
          </span>
          <span class="payoneer-fees-mobile-fee-summary-cell">
            <%= custom_t("payoneer_fees.index.fee_minimum") %>
          </span>
        </div>
        <% if display_localized_fee? %>
          <% if Payoneer::FeatureService.show_countries_selection?(current_user) %>
            <button class="button payoneer-fees-mobile-btn payoneer-btn choose-currency-action payout-method-data"
                    data-payout-method="<%= PayoutTransfer::PAYPAL %>">
              <%= custom_t("payoneer_fees.index.payoneer_paypal_account_button") %>
            </button>
          <% else %>
            <%= button_to custom_t("payoneer_fees.index.payoneer_paypal_account_button"), payout_provider_registrations_path(payout_methods_list: PayoutTransfer::PAYPAL),  class: "button payoneer-fees-mobile-btn payoneer-btn" %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if available_in_region?(current_user.country_domain, PayoutProvider::CHECK_REGION_KEY) %>
      <div class="payoneer-fees-mobile-fee cell small-12">
        <div class="payoneer-fees-mobile-fee-name"><%= custom_t("payoneer_fees.index.paper_check") %></div>
        <div class="payoneer-fees-mobile-fee-description"><%= custom_t("payoneer_fees.index.paper_check_description") %></div>

        <div class="payoneer-fees-mobile-fee-summary-outer-wrapper">
          <div>
            <span class="payoneer-fees-mobile-fee-summary-header">
              <%= custom_t("payoneer_fees.index.fees") %>
            </span>
            <span class="payoneer-fees-mobile-fee-summary-cell">
              <%= paper_check_fees %>
            </span>
          </div>
          <div>
            <span class="payoneer-fees-mobile-fee-summary-header">
              <%= custom_t("payoneer_fees.index.min_withdrawal") %>
            </span>
            <span class="payoneer-fees-mobile-fee-summary-cell">
              <%= paper_check_min_withdrawal %>
            </span>
          </div>
        </div>
      </div>
    <% end %>

    <% if available_in_region?(current_user.country_domain, PayoutProvider::CC_REGION_KEY) %>
      <div class="payoneer-fees-mobile-fee cell small-12">
        <div class="payoneer-fees-mobile-fee-name"><%= custom_t("payoneer_fees.index.prepaid_mastercard") %></div>
        <div class="payoneer-fees-mobile-fee-description"><%= custom_t("payoneer_fees.index.prepaid_mastercard_description") %></div>
        <div class="payoneer-fees-mobile-mastercard-fees-list">
          <span class="payoneer-fees-mobile-mastercard-fees">
            <%= custom_t("payoneer_fees.index.prepaid_mastercard_fees") %>
          </span>
          <ul>
            <li class="payoneer-fees-mobile-mastercard-fees-item">
              <%= mastercard_activation_fee %>
            </li>
            <li class="payoneer-fees-mobile-mastercard-fees-item">
              <%= mastercard_atm_fee %>
            </li>
          </ul>
        </div>
        <div class="payoneer-fees-mobile-fee-summary-outer-wrapper">
          <div>
            <span class="payoneer-fees-mobile-fee-summary-header">
              <%= custom_t("payoneer_fees.index.fees") %>
            </span>
            <span class="payoneer-fees-mobile-fee-summary-cell">
              <%= mastercard_fees %>
            </span>
          </div>
          <div>
            <span class="payoneer-fees-mobile-fee-summary-header">
              <%= custom_t("payoneer_fees.index.min_withdrawal") %>
            </span>
            <span class="payoneer-fees-mobile-fee-summary-cell">
              <%= mastercard_min_withdrawal %>
            </span>
          </div>
        </div>
      </div>
    <% end %>

    <% unless india_user? %>
      <div class="cell small-12">
        <%= link_to custom_t("payoneer_fees.index.start_using"), payoneer_status_index_path, class: "button payoneer-fees-mobile-btn" %>
        <% if display_localized_fee? %>
          <%= custom_t("payoneer_fees.index.forex_disclaimer", currency: current_user.currency) %>
        <% end %>
      </div>

      <div class="cell small-12 payoneer-mobile-image-container">
        <%= image_tag("payoneer/payoneer-logo-grey-rgb-v2.png") %>
      </div>
    <% end %>
  </div>
</div>
