<div class="payoneer-preferences-popup-wrapper">
  <div class="payoneer-details-modal-container">
    <div class="content">

      <div class="table-header">
        <%= custom_t("payoneer_fees.index.payout_details") %>
      </div>
      <div>
        <table>
          <thead>
          <tr>
            <th><%= custom_t("payoneer_fees.index.payout_method") %></th>
            <th><%= custom_t("payoneer_fees.index.fees") %></th>
            <th><%= custom_t("payoneer_fees.index.minimum_withdrawal") %></th>
          </tr>
          </thead>
          <tbody>

          <% if available_in_region?(current_user.country_domain, PayoutProvider::ACH_REGION_KEY) %>
            <tr>
              <td>
                <div class="payoneer-fees-desktop-fee-name"><%= custom_t("payoneer_fees.index.bank_transfer") %></div>
                <div class="payoneer-fees-desktop-fee-description">
                  <%= custom_t("payoneer_fees.index.bank_transfer_description") %>
                  <% if display_localized_fee? %>
                    <br>
                    <br>
                    <%= custom_t("payoneer_fees.index.bank_transfer_disclaimer") %>
                  <% end %>
                </div>
                <% if available_in_region?(current_user.country_domain, "payoneer_fee_modal") %>
                  <div>
                    <span class="payoneer-fee-modal-trigger"><%= custom_t("payoneer_fees.index.bank_transfer_link") %></span>
                  </div>
                <% end %>
              </td>
              <td class="payoneer-fees-desktop-fee-item">
                <%= bank_transfer_fees %>
                <div class="payoneer-fees-disclaimer">
                  <%= bank_transfer_disclaimer %>
                </div>
              </td>
              <td class="payoneer-fees-desktop-fee-item">
                <%= bank_transfer_min_withdrawal %>
                <div class="payoneer-fees-disclaimer">
                  <%= bank_transfer_min_disclaimer %>
                </div>
              </td>
            </tr>
          <% end %>

          <% if available_in_region?(current_user.country_domain, PayoutProvider::PAYPAL_REGION_KEY) %>
            <tr>
              <td>
                <div class="payoneer-fees-desktop-fee-name"><%= custom_t("payoneer_fees.index.paypal") %></div>
                <div class="payoneer-fees-desktop-fee-description"><%= custom_t("payoneer_fees.index.paypal_description") %></div>
              </td>
              <td class="payoneer-fees-desktop-fee-item">
                <div><%= paypal_fees %></div>
              </td>
              <td class="payoneer-fees-desktop-fee-item">
                <%= custom_t("payoneer_fees.index.fee_minimum") %>
              </td>
            </tr>
          <% end %>

          <% if available_in_region?(current_user.country_domain, PayoutProvider::CHECK_REGION_KEY) %>
            <tr>
              <td>
                <div class="payoneer-fees-desktop-fee-name"><%= custom_t("payoneer_fees.index.paper_check") %></div>
                <div class="payoneer-fees-desktop-fee-description">
                  <%= custom_t("payoneer_fees.index.paper_check_description") %>
                </div>
              </td>
              <td class="payoneer-fees-desktop-fee-item">
                <%= paper_check_fees %>
              </td>
              <td class="payoneer-fees-desktop-fee-item">
                <%= paper_check_min_withdrawal %>
              </td>
            </tr>
          <% end %>

          <% if available_in_region?(current_user.country_domain, PayoutProvider::CC_REGION_KEY) %>
            <tr>
              <td>
                <div class="payoneer-fees-desktop-fee-name"><%= custom_t("payoneer_fees.index.prepaid_mastercard") %></div>
                <div class="payoneer-fees-desktop-fee-description">
                  <%= custom_t("payoneer_fees.index.prepaid_mastercard_description") %>
                </div>
                <div class="payoneer-fees-desktop-fee-item-bold">
                  <%= custom_t("payoneer_fees.index.prepaid_mastercard_fees") %>
                </div>
                <ul>
                  <li><%= mastercard_activation_fee %></li>
                  <li><%= mastercard_atm_fee %></li>
                </ul>
              </td>
              <td class="payoneer-fees-desktop-fee-item">
                <%= mastercard_fees %>
              </td>
              <td class="payoneer-fees-desktop-fee-item">
                <%= mastercard_min_withdrawal %>
              </td>
            </tr>
          <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="payout-pref-fee-modal">
  <%= render "payoneer_fees/fee_modal" %>
</div>
