<!-- MOBILE -->
<div class="show-for-small-only">
  <% unless india_user? %>
    <% if Payoneer::FeatureService.show_countries_selection?(current_user) %>
      <button class="button payoneer-fees-mobile-btn choose-currency-action" ><%= custom_t("payoneer_fees.index.start_using") %></button>
    <% else %>
      <%= button_to custom_t("payoneer_fees.index.start_using"), payout_provider_registrations_path, class: "button payoneer-fees-mobile-btn" %>
    <% end %>
  <% end %>
</div>

<!-- DESKTOP -->
<div class="hide-for-small-only">
  <% unless india_user? %>
    <% if Payoneer::FeatureService.show_countries_selection?(current_user) %>
      <button class="button payoneer-fees-desktop-banner-btn choose-currency-action" ><%= custom_t("payoneer_fees.index.start_using") %></button>
    <% else %>
      <%= button_to custom_t("payoneer_fees.index.start_using"), payout_provider_registrations_path, class: "button payoneer-fees-desktop-banner-btn" %>
    <% end %>
  <% end %>
</div>
