<div class="list album-list-item">
  <div class="discography-release <%= 'need-to-renew' if release.alerts.include? 'renewal' && (!current_user.autorenew? or current_user.stored_credit_cards.active.blank?) %>">
    <div class="release-art">
      <a href="<%= album_path release %>"><img src="<%= release.artwork ? release.artwork.url(:medium) : '/images/default_cover_art.jpg' %>" alt="<%= release.name %> <%= custom_t(:cover_of_album) %>"></a>
    </div>
    <a href="<%= album_path release %>" class="release-status <%= release.status %>">
      <span class="release-status-inner">
        <%= release.status == 'down' ? custom_t(:taken_down) : custom_t(release.status).capitalize %>
      </span>
    </a>
    <div class="release-body">
      <div class="release-info">
        <h2><a href="<%= album_path release %>"><%= truncate release.name, length: (@view_type == 'list' ? 40 : 30) %></a></h2>
        <%= discography_source_label(release) %>
        <h3><%= custom_t('royalty_splits.by') %> <%= truncate release.artist_name, length: 40 %></h3>
        <dl>
          <dt><%= custom_t(:release_type) %></dt>
          <dd><%= custom_t("#{release.album_type.downcase}_display".to_sym) %></dd>
          <dt><%= custom_t(:release_date) %></dt>
          <dd><%= fmt_country_date release.sale_date %></dd>
          <% if release.upc %>
            <dt><%= custom_t(:upc) %>:</dt>
            <dd><%= release.upc.number %></dd>
          <% end %>
          <% if release.physical_upc %>
            <dt><%= custom_t(:physical_upc) %>:</dt>
            <dd><%= release.physical_upc  %></dd>
          <% end %>
        </dl>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="split-tracks-separator-container">
  <hr class="split-tracks-separator">
</div>
