<div class="splits-header">
  <div class="header-title-bar">
    <h1><%= page_title %></h1>
    <%= link_to "Discography", discography_path, class: "reskin-btn secondary-btn back-link" %>
  </div>
  <div class="header-menu-links">
    <a href="<%= invited_royalty_splits_path %>" class="header-menu-link <%= current_page?(invited_royalty_splits_path) && "active" %>">
      <%= custom_t('royalty_splits.my_invited_splits') %>
    </a>
    <% if current_user.purchased_create_splits? && current_user.show_splits_based_on_feature_flag? %>
      <a href="<%= royalty_splits_path %>" class="header-menu-link <%= current_page?(royalty_splits_path) && "active" %> <%= splits_link_cannot_create_disabled_classes %>">
        <%= custom_t('royalty_splits.my_created_splits') %>
      </a>
      <a href="<%= new_royalty_split_path %>" class="header-menu-link <%= current_page?(new_royalty_split_path) && "active" %> <%= splits_link_cannot_create_disabled_classes %>">
        <%= custom_t('royalty_splits.new_split_config') %>
      </a>
    <% end %>
  </div>
</div>
