<div class="split-collaborator <%= "current-user" if recipient&.person_id == current_user.id %> <%= "form-row-error" if recipient&.errors&.present? %>" data-email="<%= recipient&.display_email %>">
  <%# id must be present, even if blank.  it tells Rails where to separate the arrays of records %>
  <%= hidden_field_tag 'royalty_split[recipients_attributes][][id]', recipient&.id, form: form_id %>
  <% if recipient&.person_id.present? %>
    <%= hidden_field_tag 'royalty_split[recipients_attributes][][person_id]', recipient&.person_id, form: form_id %>
  <% else %>
    <%= hidden_field_tag 'royalty_split[recipients_attributes][][email]', recipient&.email, class: "email-field", form: form_id %>
  <% end %>
  <%= hidden_field_tag 'royalty_split[recipients_attributes][][_destroy]', true, disabled: true, class: 'destroy-row-field', form: form_id %>
  <div class="form-input form-email">
    <% if recipient&.person_id == current_user.id %>
      <%= t('royalty_splits.my_split') %> (<%= recipient.display_email %>)
    <% else %>
      <%= recipient&.display_email || "" %>
    <% end %>
  </div>
  <div class="form-input form-percent">
    <%= number_field_tag 'royalty_split[recipients_attributes][][percent]', recipient&.percent, min: 0, max: 100, step: 0.1, required: true, form: form_id, locale: current_user.bcp47_locale %>
  </div>
  <div class="form-input form-row-remove"><a class="row-remove-button"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>
</div>
