<% content_for :css do %>
  <%= stylesheet_link_tag 'royalty_splits/recipients_form' %>
<% end %>
<% if royalty_split.errors.present? %>
  <div class="callout-container">
    <div class="callout alert">
      <ul>
        <% royalty_split.errors.full_messages.each do |message| %>
          <li><%= h message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<section class="edit-recipients-form-section">
  <div class="new-royalty-split-form-container new-royalty-split-form-container-top">
    <div class="royalty-split-title">
      <input class="royalty-split-title-input" type="text" placeholder="<%= custom_t("royalty_splits.title_eg_band_with_jon") %>" name="royalty_split[title]" form="<%= form_id %>" value="<%= royalty_split.title %>" required>
    </div>
    <section class="edit-description">
      <p><%= content_for :royalty_splits_edit_description %></p>
    </section>
  </div>

  <div class="new-royalty-split-form-container new-royalty-split-form-container-bottom">
    <section class="split-collaborators-section">
      <template id="split-collaborator-template">
        <%= render "recipients_form_row", recipient: nil, form_id: form_id %>
      </template>
      <div class="split-collaborators-header form-header-email"><%= custom_t('royalty_splits.collaborators') %></div>
      <div class="split-collaborators-header form-header-percent"><%= custom_t('royalty_splits.percentage') %></div>
      <div class="split-collaborators-header form-header-row-remove"></div>
      <% royalty_split.ordered_recipients.each do |recipient| %>
        <%= render "recipients_form_row", recipient: recipient, form_id: form_id %>
      <% end %>
    </section>
    <section class="add-recipient-section">
      <form class="add-recipient-form" onsubmit="return false" id="add-recipient-form"></form>
      <%= email_field_tag :email, nil, placeholder: "Collaborator Email Address", class: "add-recipient-email", required: true, form: 'add-recipient-form' %>
      <input type="submit" class="reskin-btn secondary-btn" value="<%= custom_t("royalty_splits.add") %>" form="add-recipient-form">
      <div class="recipients-form-buttons">
        <input type="button" class="reskin-btn secondary-btn button-equal-split" value="<%= custom_t("royalty_splits.split_equally") %>" form="add-recipient-form">
        <%= yield %>
      </div>
    </section>
  </div>
</section>
<%= javascript_include_tag "royalty_splits/recipients_form" %>
