<div class="select-split-container">
  <select name="chosen_royalty_split_id" class="select-royalty-split" form="<%= form_id %>">
    <option value="" <%= "selected" if royalty_split.blank? %>><%= custom_t("royalty_splits.create_new_split") %></option>
    <optgroup label="<%= custom_t("royalty_splits.existing_splits") %>">
      <% all_royalty_splits.sort_by(&:album_count).reverse.each do |split| %>
        <option value="<%= split.id %>" <%= "selected" if royalty_split == split %>>
          <%= split.title %>
        </option>
      <% end %>
    </optgroup>
  </select>
  <section class="split-presets">
    <% all_royalty_splits.sort_by(&:album_count).reverse.each do |split| %>
      <%= render "split_preset", split: split, can_destroy: true, edit_link: true %>
    <% end %>
  </section>
</div>
<%= javascript_include_tag("royalty_splits/select_split.js") %>
