<div class="splits-popup-outer splits-access-suspended-splits-popup mfp-hide">
  <div class="splits-popup">
    <h1><%= custom_t('royalty_splits.splits_is_currently_blocked') %></h1>
    <div class="splits-popup-text">
      <%= custom_t('royalty_splits.there_is_currently_a_hold_on_your_account') %>
    </div>
  </div>
</div>
