<section class="split-album" data-album-id="<%= album.id %>">
  <input type="hidden" name="album_ids[]" value="<%= album.id %>" form="<%= form_id %>">
  <section class="split-tracks-form-album-and-tracks">
    <h2><%= custom_t('royalty_splits.album') %>: <%= link_to album.name, album_path(album) %></h2>
    <% if album.songs.length > 1 %>
      <div class="split-tracks-form-row split-tracks-form-row-checkbox row-split-album">
        <div class="split-tracks-form-label"><%= custom_t("royalty_splits.split_full_album") %></div>
        <div class="fa split-tracks-form-checkbox" id="split-album-input" aria-hidden="true"></div>
      </div>
      <div class="split-tracks-form-tracks-section">
        <h2><%= custom_t("royalty_splits.splits_selected_tracks") %></h2>
        <div class="split-tracks-form-row row-choose-tracks">
          <div class="split-tracks-form-tracks">
            <% album.songs.each do |track| %>
              <%= render "split_album_track", track: track, form_id: form_id, selected: false %>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="split-tracks-form-row row-choose-tracks">
        <div class="split-tracks-form-tracks">
          <%= render "split_album_track", track: album.songs.first, is_single: true, form_id: form_id, selected: true %>
        </div>
      </div>
    <% end %>
  </section>
</section>
