<div class="splits-popup-outer splits-access-accept-splits-popup mfp-hide">
  <div class="splits-popup">
    <div class="splits-popup-text"><%= t 'royalty_splits.want_to_start_earning_royalties' %></div>
    <%= link_to plans_path, class: "splits-popup-link" do %>
      <%= render "plan_promo/svg_partials/record-white", locals: { embed_class: "record-path" } %>
      <span><%= t 'plans.upgrade' %></span>
    <% end %>
  </div>
</div>
