<div class="split-preset <%= recipient_accepted_status(recipient) %>" data-split-id="<%= split.id %>" id="<%= dom_id(split) %>">
  <div class="split-preset-album-images" data-album-count="<%= [4, split.albums.length].min %>">
    <% split.albums.slice(0,4).each do |release| %>
      <img src="<%= release.artwork ? release.artwork.url(:medium) : '/images/default_cover_art.jpg' %>" alt="<%= release.name %> <%= custom_t(:cover_of_album) %>">
    <% end %>
  </div>
  <div class="split-preset-info">
    <div class="split-title">
      <strong><%= split.display_title %></strong>
    </div>
    <div class="split-status">
      <span><%= custom_t("royalty_splits.status") %>: </span>
      <span><%= recipient.accepted_at? ? custom_t("royalty_splits.accepted") : custom_t("royalty_splits.pending") %></span>
    </div>
    <p><%= custom_t("royalty_splits.applied_on") %>: <%= split_description split %></p>
    <div class="split-recipients">
      <div class="split-recipient">
        <div class="split-recipient-email"><em><%= custom_t("royalty_splits.my_split") %></em></div>
        <div class="split-recipient-percent"><%= format_split_percent recipient.percent %></div>
      </div>
    </div>
    <% if !recipient.accepted_at? && current_user.has_tax_forms_for_splits? %>
      <div class="split-accept-split">
        <% if current_user.can_accept_splits? && !current_user.flagged_suspicious? %>
          <%= link_to custom_t("royalty_splits.accept_split"), accept_royalty_split_path(split), method: :post, class: "btn button" %>
        <% elsif current_user.flagged_suspicious? %>
          <a class="btn button splits-access-suspended-splits-disabled">
            <span><%= custom_t("royalty_splits.accept_split") %></span>
          </a>
        <% else %>
          <a class="btn button splits-access-accept-splits-disabled">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <span><%= custom_t("royalty_splits.accept_split") %></span>
          </a>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
