<div class="split-preset" data-split-id="<%= split.id %>">
  <div class="split-preset-album-images" data-album-count="<%= [4, split.albums.length].min %>">
    <% split.albums.slice(0,4).each do |release| %>
      <img src="<%= release.artwork ? release.artwork.url(:medium) : '/images/default_cover_art.jpg' %>" alt="<%= release.name %> <%= custom_t(:cover_of_album) %>">
    <% end %>
  </div>
  <div class="split-preset-info">
    <%= split.display_title %>
    <% if edit_link %>
      <a href="<%= edit_royalty_split_path(split) %>" class="split-title <%= splits_link_cannot_create_disabled_classes %>">
        <i class="fa fa-pencil" aria-hidden="true"></i> <%= custom_t(:edit) %>
      </a>
    <% end %>
    <p><%= custom_t("royalty_splits.applied_on") %>: <%= split_description(split) %></p>
    <div class="split-recipients">
      <% split.recipients.sort_by { |r| -r.percent }.each do |recipient| %>
        <div class="split-recipient">
          <div class="split-recipient-email"><%= recipient.display_email %></div>
          <div class="split-recipient-percent"><%= format_split_percent recipient.percent %></div>
        </div>
      <% end %>
    </div>
    <% if split.songs.empty? %>
      <%= form_with url: royalty_split_path(split), method: :delete, local: false do |f| %>
        <a data-delete-royalty-split-id="<%= split.id %>" class="split-destroy">
          <i class="fa fa-trash" aria-hidden="true"></i>
          <%= custom_t("royalty_splits.delete_unused_split") %>
        </a>
      <% end %>
    <% end %>
  </div>
</div>
