<div class="split-tracks-form-track<%= " selected" if selected %>" data-track-id="<%= track.id %>">
  <input type="hidden" value="<%= track.id %>" name="song_ids[]" form="<%= form_id %>" class="track-id-input" <%= "disabled" unless selected %>>
  <div class="track-number">
    <%= track.track_number %>
  </div>
  <div class="track-attributes-and-split">
    <div class="track-attributes">
      <div class="track-title"><%= track.name %></div>
      <div class="track-artist"><%= custom_t('royalty_splits.by') %> <%= track.artist_name %></div>
      <div class="track-code"><%= custom_t(:isrc) %>: <span><%= track.isrc %></span></div>
    </div>
    <div class="track-split"><!-- .track-split is emptied with javascript -->
      <% if track.royalty_split.present? %>
        <b>
          <%= custom_t('royalty_splits.split_name') %>:
        </b>
        <%= track.royalty_split.display_title %>
        <a data-delete-royalty-split-song-id="<%= track.royalty_split_song.id %>"><i class="fa fa-times" aria-hidden="true"></i></a>
        <div class="track-recipients">
          <% track.royalty_split.recipients.sort_by{|r| -r.percent + (r.person? ? 0 : 100) }.slice(0,5).each do |recipient| %>
            <div class="track-recipient"><span class="track-recipient-name"><%= recipient_name_or_email(recipient) %></span> <em><%= format_split_percent recipient.percent %></em></div>
          <% end %>
          <% if track.royalty_split.recipients.size > 5 %>
            <div class="track-recipient and-more-text"><%= custom_t("royalty_splits.and_X_more", number: track.royalty_split.recipients.size - 5) %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
