<div class="splits-w9-banner">
  <div><%= t '.message_html' %></div>
  <br>
  <div class="w9-banner-buttons">
    <%= link_to t('.create_payoneer_account'), payoneer_fees_path, class: "w9-banner-button", target: "_blank" %>
    <%= link_to t('.submit_w9_with_payoneer'), "https://login.payoneer.com/", class: "w9-banner-button", target: "_blank" %>
  </div>
</div>
