<% content_for :css do %>
  <%= stylesheet_link_tag '/stylesheets/discography' %>
  <%= stylesheet_link_tag 'royalty_splits/split_album' %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag 'royalty_splits/remove_royalty_split' %>
<% end %>
<% form_id = "royalty-split-recipients-form" %>
<main class="royalty-split edit-split-album">
  <div class="row">
    <div class="columns twelve small-collapse">
      <%= render 'header', page_title: custom_t("royalty_splits.split_album") %>
      <section class="split-tracks-container split-tab-body">
        <%= render "album_header", release: @albums.first if @albums.one? %>
        <p class="split-tracks-directions">
          <%= custom_t("royalty_splits.split_by_percentage_directions") %>
        </p>
        <% if flash[:alert].present? %>
          <div class="callout-container">
            <p class="callout alert">
              <%= flash[:alert] %>
            </p>
          </div>
        <% end %>
        <div class="split-tracks-form-container">
          <%= form_with url: add_songs_to_royalty_splits_path, local: true, method: 'post', id: form_id %>
          </form>
          <% if @owned_royalty_splits.exists? %>
            <h3 class="split-tracks-section-header"><%= custom_t('royalty_splits.choose_split') %>:</h3>
            <%= render "select_split", royalty_split: @selected_royalty_split, form_id: form_id, all_royalty_splits: @owned_royalty_splits %>
          <% end %>
          <%= render 'recipients_form', royalty_split: @edit_form_royalty_split, form_id: form_id %>
          <h3 class="split-tracks-section-header"><%= custom_t('royalty_splits.apply_split_to') %>:</h3>
          <% @albums.each do |album| %>
            <%= render "split_album", album: album, form_id: form_id %>
          <% end %>
          <div class="split-tracks-form-buttons">
            <%= submit_tag custom_t("royalty_splits.apply_split_to_song").pluralize(@albums.map(&:song_ids).flatten.size), class: "reskin-btn split-tracks-form-submit", form: form_id %>
            <div class="split-tracks-form-buttons-back">
              <%= link_to custom_t("royalty_splits.back_to_discography"), discography_path, class: "reskin-btn secondary-btn split-tracks-form-back" %>
              <% if @albums.one? %>
                <%= link_to custom_t("royalty_splits.back_to_album"), album_path(@albums.first), class: "reskin-btn secondary-btn split-tracks-form-back" %>
              <% end %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
<%= javascript_include_tag 'royalty_splits/split_album' %>
<%= javascript_include_tag 'royalty_splits/remove_royalty_split' %>
