<% content_for :css do %>
  <%= stylesheet_link_tag 'royalty_splits/split_album' %>
<% end %>

<main class="royalty-split royalty-split-edit">
  <div class="row">
    <div class="columns twelve">
      <%= render 'header', page_title: custom_t("royalty_splits.edit_split_config") %>
      <section class="split-tab-body">
        <div class="split-tab-body-description">
          <p class="split-explanation"><%= custom_t("royalty_splits.enter_email_description")%></p>
          <p class="split-explanation"><b><%= custom_t('royalty_splits.releases') %>:</b> <%= split_description @royalty_split %></p>
        </div>
        <%= form_with model: @royalty_split, url: royalty_split_path(@royalty_split), id: "edit-split-form", local: true, data: { songs_count: @royalty_split.song_count, releases_count: @royalty_split.album_count } %>
        </form>
        <%= render 'recipients_form', royalty_split: @royalty_split, form_id: "edit-split-form"  do %>
          <%= submit_tag custom_t("royalty_splits.update_split_config"), form: "edit-split-form", class: "reskin-btn callout-btn button-enable-split" %>
        <% end %>
      </section>
    </div>
  </div>
</main>
