<% content_for :css do %>
  <%= stylesheet_link_tag 'royalty_splits/split_album' %>
<% end %>
<main class="royalty-split royalty-splits-index">
  <div class="row">
    <div class="columns twelve">
      <%= render 'header', page_title: custom_t("royalty_split.my_created_splits") %>
      <section class="split-tab-body">
        <div class="split-tab-body-directions">
          <p class="split-explanation">
            <%= custom_t('royalty_splits.splits_index_directions') %>
          </p>
          <% if flash[:alert].present? %>
            <div class="callout-container">
              <div class="callout alert">
                <%= flash[:alert] %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="split-tracks-separator-container"></div>
        <% if @royalty_splits.empty? %>
          <p class="splits-index-empty"><%= custom_t("royalty_splits.splits_index_empty") %></p>
        <% else %>
          <section class="split-presets">
            <% @royalty_splits.each do |split| %>
              <%= render 'split_preset', split: split, can_destroy: true, edit_link: true %>
            <% end %>
          </section>
        <% end %>
      </section>
    </div>
  </div>
</main>
<%= javascript_include_tag 'royalty_splits/remove_royalty_split' %>
