<% content_for :css do %>
  <%= stylesheet_link_tag 'royalty_splits/split_album' %>
<% end %>

<%= render "splits_access_popup_includes" %>
<%= render "splits_access_accept_splits_popup" %>
<%= render "splits_access_suspended_splits_popup" %>

<section class="royalty-split royalty-splits-invited">
  <div class="row">
    <div class="columns twelve">
      <%= render 'header', page_title: custom_t("royalty_splits.my_invited_splits") %>
      <!-- end of header -->
      <% if !current_user.has_tax_forms_for_splits? %>
        <%= render "w9_banner" %>
      <% end %>
      <!-- toggles -->
      <div class="row">
        <div class="columns invited-split-toggles">
          <a class="toggle-pending-invited-splits"><%= custom_t('royalty_splits.pending_splits') %></a>
          <a class="toggle-accepted-invited-splits"><%= custom_t('royalty_splits.accepted_splits') %></a>
        </div>
      </div>
      
      <section class="split-tab-body">
        <div class="split-tab-body-directions">
          <p class="split-explanation">
            <%= custom_t('royalty_splits.splits_accepted_directions') %>
          </p>
          <% if @invited_royalty_splits.present? && current_user.has_tax_forms_for_splits? %>
            <p>
              <% if current_user.has_unaccepted_split_invites? %>
                <% if current_user.flagged_suspicious? %>
                  <a class="split-accept-all splits-access-suspended-splits-disabled">
                    <%= custom_t('royalty_splits.accept_all_splits') %>
                  </a>
                <% elsif current_user.can_accept_splits? %>
                  <%= link_to custom_t('royalty_splits.accept_all_splits'), accept_all_royalty_splits_path, method: :post, class: "split-accept-all" %>
                <% else %>
                  <a class="split-accept-all splits-access-accept-splits-disabled">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <span><%= custom_t('royalty_splits.accept_all_splits') %></span>
                  </a>
                <% end %>
              <% else %>
                <a class="split-accept-all disabled"><%= custom_t('royalty_splits.all_splits_accepted') %></a>
              <% end %>
            </p>
          <% end %>
        </div>
        <% if @invited_royalty_splits.blank? %>
          <p class="splits-index-empty"><%= custom_t("royalty_splits.splits_accepted_empty") %></p>
        <% else %>
          <section class="split-presets">
            <% @invited_royalty_splits.each do |split| %>
              <%= render 'split_preset_invited', split: split, recipient: split.recipient_for(current_user) %>
            <% end %>
          </section>
        <% end %>
      </section>
    </div>
  </div>
</main>
<%= javascript_include_tag 'royalty_splits/invited_royalty_splits' %>

<% if params[:pending].present? %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(document.body).removeClass("accepted-royalty-splits-only").toggleClass("pending-royalty-splits-only")
      $(".split-preset.accepted").slideToggle()
      $(".split-preset.pending").slideDown()
    });
  </script>
<% end %>

