<% content_for :css do %>
  <%= stylesheet_link_tag 'royalty_splits/split_album' %>
<% end %>
<main class="royalty-split royalty-split-new">
  <div class="row">
    <div class="columns twelve">
      <%= render 'header', page_title: custom_t("royalty_splits.new_split_config") %>
      <section class="split-tab-body">
        <%= render "album_header", release: @album if @album.present? %>
        <div class="split-tab-body-description">
          <p class="split-explanation"><%= custom_t("royalty_splits.new_split_description") %></p>
        </div>
        <%= form_with model: @royalty_split, url: new_royalty_split_path(@royalty_split), id: "new-split-form", local: true %>
        </form>
        <%= render 'recipients_form', royalty_split: @royalty_split, url: create_royalty_splits_path, form_id: "new-split-form" do %>
          <button class="reskin-btn callout-btn button-enable-split" form="new-split-form" type="submit"><%= custom_t("royalty_splits.save_split") %></button>
        <% end %>
      </section>
    </div>
  </div>
</main>
