@import 'base/variables';

.oapp .prompt-modal {
  $tc-base-font-size: 0.8rem;
  font-size: 1.5 * $tc-base-font-size;
}

.prompt-modal {
  $font-family: roboto, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  background: $white_background;
  border-radius: 0.5rem;
  font-size: 1.5 * $tc-base-font-size;
  font-family: $font-family;
  margin: auto;
  max-width: 800px;
  overflow-y: auto;
  padding: 3% 3% 2% 3%;
  position: relative;
  text-align: center;

  h3,
  p {
    font-size: 1rem;
    margin-bottom: 1.8rem;
  }

  h3 {
    font-weight: bold;
  }

  .fa-times-thin:before {
    content: '\00d7';
  }
  
  .close-button {
    color: $tunecore_bright_blue;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 100;
    position: absolute;
    right: 2%;
    top: 3%;
  }

  .button {
    background-color: $tunecore_blue;
    border-radius: 0.4rem;
    color: white;
    display: block;
    margin: 0 auto 1rem auto;
    padding: 0.4rem 1.5rem;
    width: 20rem;
    font-size: 0.9rem;
    font-weight: normal;

    /* Override styles from application_old */
    background-image: none;
    float: none;
    font-family: $font-family;
    height: inherit;
    line-height: inherit;
  }

  .remind-me-later {
    font-size: 0.8rem;
    text-decoration: underline;

    &:hover, 
    &:active,
    &:focus {
      color: $tunecore_bright_blue;
    }
  }
}

// mobile
@media(max-width: 800px) and (min-width: 320px) {
  .mfp-content {
    margin-top: 20%;
    vertical-align: top;
  }

  .prompt-modal {
    width: 90%;
  
    .close-button {
      top: 0%;
    }
  }
}
