.ticker {
  width: 100%;
  background-color: #5195CA;
  display: block;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
  // this is to override the margin-bottom 20px in master.css for the header class.
  margin-top: -20px;

  &--reskin {
    margin-top: 0px;
  }

  .row {
    padding-top: 2.2px;
  }

  a {
    color: white !important;
  }

  .ticker-text {
    color: white;
    font-family: Helvetica;
    font-size: 14px;
    margin-left: -20px;
    padding-top: 2px !important;
  }

  .message:not(:first-child) {
    display: none;
  }

  .fa {
    font-size: 23px;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  .ticker {
    .columns.icon {
      float: left;
      padding-left: 0px;
      max-width: 15% !important;

      i.fa {
        font-size: 32px;
      }
    }

    .bottom-row {
      display: none;
    }

    .columns.ticker-text {
      width: 85% !important;
      float: left;
    }
  }

}

/* Medium and up */
@media screen and (min-width: 40em) {
  .ticker {
    height: 50px;
  }
}
