<div class='fbtracks-ready-when-you-are'>
  <p class='fbtracks-ready-when-you-are-title'>
    <%= custom_t('fbtracks_ready_when_you_are_title') %>
  </p>
  <p>
    <%= custom_t('fbtracks_ready_when_you_are') %>
    <br/>
    <%= link_to custom_t('fbtracks_get_started'),
        dashboard_path, class: 'fbtracks-ready-when-you-are-link' %>
  </p>
</div>
