<div>
  <span class='fbtracks-sign-up'>
    <%= custom_t('fbtracks_sign_up') %>
  </span>
  <%= button_to custom_t('fbtracks_sign_up_and_send_all'),
                  facebook_track_monetization_subscription_path(send_all: true),
                  class: 'fbtracks-sign-up-button' %>
  <%= button_to custom_t('fbtracks_sign_up_and_select'),
                  facebook_track_monetization_subscription_path,
                  class: 'fbtracks-sign-up-button' %>

  <p class='fbtracks-legal-line'>
    <i><%= custom_t('fbtracks_legal_line') %></i>
  </p>
</div>

