<%= render partial: "error_message", locals: { purchase: @purchase } if @purchase %>
<%= content_tag :div, class: "fbtracks-container" do %>
  <%= render partial: "header" %>
  <%= render partial: "description" %>
  <% if has_potentially_monetizable_songs? %>
    <%= render partial: "signup" %>
  <% else %>
    <%= render partial: "ready_when_you_are" %>
  <% end %>
<% end %>
