$image-size: 110px;
$card-border-color: #e6e6e6;
$white: #fefefe;

.main-container {
  min-height: 575px;
  max-width: 1024px;
}

.my-artist {
  border: 1px solid $card-border-color;
  background-color: $white;
  margin: 15px 40px;
  padding: 20px;
  display: flex;

  img {
    height: $image-size;
    width: $image-size;
    border-radius: 50%;
  }

  a {
    font-weight: 500;
    padding: 15px;
  }
}
