$white: #fefefe;
$grey: #f2f2f2;
$link-color: #3b96cf;
$image-size: 110px;
$card-border-color: #e6e6e6;

.my-artist-side-nav {
  border: 1px solid $card-border-color;
  margin-bottom: 5px;
}

.my-artist-main {
  margin-left: 20px;
  width: calc(100% - 250px) !important;
}

.my-artist-side-nav > li > a {
  background-color: $white !important;
  color: #333 !important;
}

.my-artist-side-nav .is-active > a {
  font-weight: 800;
}

.main-container {
  background-color: white; // maybe change back to $grey?
  padding: 0 20px 10px 20px;
  margin: auto;
}

.my-artists-title {
  background-color: $white;
  color: $link-color;
  font-weight: 500;
  padding: 25px;
  margin: 0 20px 20px 20px;
}

.my-artist-header {
  padding: 20px;
  background-color: $white;
  border: 1px solid $card-border-color;
  img {
    margin: 20px;
    border-radius: 50%;
    height: $image-size;
    width: $image-size;
  }
  h3 {
    margin: 20px;
  }
}
