$image-size: 110px;
$background-color: #ECF3FC;
$text-color: #0b0b0b;
$red: #b20000;
$link-color: #3b96cf;

.mapping-accordion-title {
  border: none !important;
  color: $text-color;

  &:not(.no-dropdown) {
    background-color: #e6e6e6;
  }

  &::before {
    content: none !important;
  }

  &[aria-expanded="true"] {
    background-color: $background-color !important;
  }

  &:focus, &:hover {
    color: $text-color;
  }
}

.bottom-spacing {
  margin-bottom: 20px;
}

.mapping-copy {
  * {
    font-size: 12px;
    line-height: 1.2;
  }
}

.inner-content {
  height: 216px;
}

.mapping-accordion-title-processing {
  &:hover, &:focus {
    background-color: #FFF !important;
    cursor: default;
  }
}

.mapping-accordion-content {
  border: none !important;
  background-color: $background-color;
  height: 324px;
}

.accordion-title-state-display {
  text-align: right;
}

.accordion-title-identifier-display {
  text-align: center;
}

.mapping_state-manage, .mapping_state-error {
  color: $link-color;
}

.mapping_state-redelivery_error {
  color: $red !important;
  margin-bottom: 5px;
}

.mapping_state-processing {
  color: #aaaaaa;
}

.center-display {
  display: flex;
  justify-content: space-around;
}

.center-display-buttons {
  display: flex;
  justify-content: center;

  a {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.artist-mapping-image-edit {
  width: $image-size;
  height: $image-size;
  border-radius: 50%;
}

.change-image-text {
  color: $text-color;
  font-size: 12px;
}

.green {
  color: green;
}

.red {
  color: $red;
}

.mappings-list {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.card-divider {
  background-color: #FFF !important;
}

.release-container {
  display: flex;
  justify-content: space-between;
}

.card-divider {
  font-weight: 500;
}

.store-name {
  font-weight: 500;
  font-size: 16px;
}

.release-list {
  margin: 0;
  list-style-type: none;
}

.more-stores-issue {
  width: 75%;
  max-width: 325px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.error-block {
  background-color: $red;
  color: white;
  padding: 5px;
  margin-top: -16px;
  font-weight: 700;
}

.no-dropdown {
  &:hover {
    background-color: white;
  }
  .accordion-title-state-display {
    div {
      color: #aaaaaa;
    }
  }
}
