<%= content_tag :div, class: 'balance-transaction-table-row' do %>
  <%= render "admin/balance_transactions/transaction_history/cell",
             cell_contents: to_date(transaction.created_at) %>

  <%= render "admin/balance_transactions/transaction_history/cell",
             cell_contents: transaction_desc(transaction) %>

  <%= render "admin/balance_transactions/transaction_history/cell",
             cell_contents: parsed_transaction_value(transaction.debit) %>

  <%= render "admin/balance_transactions/transaction_history/cell",
             cell_contents: parsed_transaction_value(transaction.credit) %>

  <%= render "admin/balance_transactions/transaction_history/cell",
             cell_contents: balance_change(transaction) %>
<% end %>
