<%= content_tag :div, class: "balance-transaction-table" do %>
  <%= content_tag :div, class: 'balance-transaction-table-title' do %>
    <%= content_tag :div, class: 'cell small-4' do %>
      <%= content_tag :strong, "Transaction History" %>
    <% end %>

    <%= content_tag :div, class: 'balance-transaction-icon-container' do %>
      <%= render 'admin/balance_transactions/transaction_history/actions' %>
    <% end %>
  <% end %>

  <%= content_tag :div, class: "hide", id: "balance_history_table_filter_form" do %>
    <%= render 'admin/balance_transactions/filter' %>
  <% end %>

  <%= content_tag :div, class: 'balance-transaction-table-content' do %>
    <%= render 'admin/balance_transactions/transaction_history/headers',
               headers: headers(table_key) %>

    <%= content_tag :div, id: 'balance_history_table_data' do %>
      <%= render partial: 'admin/balance_transactions/transaction_history/row',
                 collection: transaction_set,
                 cached: fragment_caching_enabled?,
                 as: :transaction %>
    <% end %>
  <% end %>

<% end %>
