<li class="admin_controls">
  <% if current_user.is_administrator || session[:admin] %>
    <% if under_admin_control? %>
      <%= link_to "Give back control", {:controller => 'account', :action => 'release_account', :album => (@album || @ringtone || @single)}, id: 'admin', class: 'tc-give-back-control button warning', target: '_top' %>
    <% else %>
      <%= link_to "Switch To Admin", admin_home_path, id: "admin" %>
    <% end %>
  <% end %>
</li>
