<ul class="tc-current-user-menu dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true">
  <li>
    <a href="#" class="tc-current-user-link"><i class="fa fa-user"></i> <%= current_user.name.truncate(27) %></a>
    <ul class="tc-current-user-submenu menu">
      <li><%= link_to custom_t("shared.inside_header.account_settings"), edit_person_path(current_user) %></li>
      <li><%= link_to custom_t("vat.tax_details"), edit_person_path(current_user, tab: "vat") if show_vat_form? %> </li>
      <% unless one_time_payment_only? %>
        <li><%= link_to custom_t("shared.inside_header.payment_preferences"), person_preferences_path %></li>
      <% end %>
      <%= bank_account_link %>
      <%= payoneer_payout_link %>
      <li><%= link_to custom_t("shared.inside_header.subscriptions"), subscriptions_path %></li>
      <li><%= link_to custom_t("shared.inside_header.order_history"), history_index_path %></li>
      <% if FeatureFlipper.show_feature? :account_profile_survey, current_user %>
        <li><%= link_to custom_t("shared.inside_header.more_about"), edit_person_path(current_user, tab: "profile") %></li>
      <% end %>
      <li><%= link_to custom_t('balance_histories.page_name'), list_transactions_path %></li>
      <% if current_user.can_withdraw? %>
        <li><%= withdraw_money_link %></li>
      <% end %>
      <li><%= link_to custom_t(:log_out), logout_path %></li>
    </ul>
  </li>
</ul>
