<footer>
  <div class="footer-wrapper">
    <div class="grid-container fluid">
    <div class="grid-margin-x footer-top">
      <div class="grid-x grid-margin-x row">
        <div class="cell medium-9 hide-for-small-only">
          <% if blog_feed_enabled? %>
            <p class="on-our-blog"><strong><%= custom_t(:on_our_blog) %></strong></p>
            <ul class="blog-items">
              <% cache ("new_footer_blog_items-#{country_website}") do
                parse_tcblog_rss.items.each_with_index do |item, i| break if i == 2; %>
                  <li class="blog-item">
                    <span class="blog-date"><%= fmt_month_day(item.pubDate)%></span>
                    <a href="<%= item.link %>" title="<%= item.title %>" class="blog-title" target="_blank"><%= truncate(item.title, :length => 65) %></a>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>

          <div class="cell small-12 medium-3 align-center got-questions-btn">
            <a href="<%= knowledgebase_link_for('help-homepage', country_website) %>" target="_blank"
              class="help_link button-callout-alt"><%= custom_t('shared.footer.got_questions') %></a>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-container footer-middle row">
      <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-3 footer-column">
          <%= render "application/foundation/footer/learn_about" %>
        </div>
        <div class="cell small-12 medium-3 footer-column">
          <%= render "application/foundation/footer/make_money" %>
        </div>
        <div class="cell small-12 medium-3 footer-column">
          <%= render "application/foundation/footer/commmunity" %>
        </div>
        <div class="cell small-12 medium-3 footer-column">
          <%= render "application/foundation/footer/account_services" %>
        </div>
      </div>
    </div>

    <div class="grid-x grid-margin-x footer-bottom row">
      <div class="cell small-12 medium-7">
        <%= link_to "//support.google.com/youtube/answer/2952738?hl=en&amp;rd=1", target: "_blank" do %>
          <%= image_tag "/images/youtube/youtube_certified.png", alt: "YouTube Certified" %>
        <% end %>
      </div>
      <div class="cell small-12 medium-5 align-left">
        <div class="made-in-nyc">
          <span>&copy; <%= custom_t('shared.footer.copyright', { current_year: Date.current.year.to_s }) %> <%= custom_t(:all_rights_reserved) %></span>
          <%= link_to custom_t(:made_in_nyc), "//nytm.org/made", target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
</footer>
