<div class="navbar-wrapper">

  <div class="navbar-top-wrapper">

    <div class="navbar-top-content">

      <div class="title-bar align-justify" data-responsive-toggle="navigation-top-menu" data-hide-for="medium">
        <div class="mobile-menu-outer">
          <div class="mobile-menu-inner">
            <button class="menu-icon" type="button" data-toggle="navigation-top-menu"></button>
            <div class="title-bar-title">
              <%= render "application/foundation/logo" %>
            </div>
          </div>
          <div>
            <% if plan_display_valid? %>
              <%= render partial: "tier_promo/tier_promo_nav", locals: {parent_component: "nav-desktop"} %>
            <% end %>
          </div>
        </div>
        <nav class="site_controls hide-for-medium">
          <%= render partial: 'shared/language_selector', locals: {tc_foundation: true} %>
        </nav>
      </div>

      <div class="top-bar" id="navigation-top-menu">

        <div class="top-bar-left show-for-medium">
          <%= render "application/foundation/logo" %>
        </div>

        <div class="top-bar-right">

          <div class="hide-for-medium">
            <%= render "application/foundation/header/mobile_all_links" %>
          </div>

          <div class="show-for-medium">
            <%= render "application/foundation/header/full_screen_top_links" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar-bottom-wrapper show-for-medium">

    <div class="navbar-bottom-content">
      <%= render "application/foundation/header/full_screen_bottom_links" %>
    </div>

  </div>

  <%= render partial: "shared/distribution_progress_bar" %>
</div>
