<%= link_to current_user.nil? ? root_path : dashboard_path do %>
  <%= image_tag "/images/tc_logos/logo_tc.png", srcset: "/images/tc_logos/logo_tc.png 1x, /images/tc_logos/logo_tc@2x.png 2x", alt: "TuneCore", class: "logo" %>
<% end %>
