<menu class="notifications <%= 'seen' if Notification.all_seen?(current_user) %>">
  <%= link_to  dropdown_notifications_path, :remote => true, :class => "notifications_link", :"data-type"=>"html" do %>
    <i class="fa fa-bell fa-lg fa-2x"></i>
    <div class="notifications_count"><%= Notification.unseen_notification_count(current_user) %></div>
  <% end %>
  <section class="notifications_dropdown hidden">
    <header>
      <h1><%= custom_t(:notifications_header) %></h1>
    </header>
    <ul></ul>
    <footer>
      <%= link_to custom_t('.view_all_notifications'), notifications_path %>
    </footer>
  </section>
</menu>