<div  id="paginate-confirm-modal" class="alert">
    <h2><%= custom_t('.warning') %>:</h2>
    <p><%= custom_t('.lose_changes') %></p>
  <a class="button-callout-alt submit" id="page-submit" href="#"><%= custom_t(:continue) %></a> <a class="button-interface go_back" href="#"><%= custom_t(:cancel) %></a>
</div>
