<li>
  <div class="row">
    <div class="columns twelve">
      <div class="discography-release">
        <div class="release-art">
          <a href="<%= album_path release %>"><img src="<%= release.artwork ? release.artwork.url(:medium) : '/images/default_cover_art.jpg' %>" alt="<%= release.name %> <%= custom_t(:cover_of_album) %>"></a>
        </div>
        <div class="release-body">
          <div class="release-info">
            <h2><a href="<%= album_path release %>"><%= truncate release.name, length: 40 %></a></h2>
            <%= discography_source_label(release) %>
            <h3><%= custom_t(:by) %> <%= truncate release.artist_name, length: 40 %></h3>
            <dl>
              <dt><%= custom_t(:release_type) %></dt>
              <dd><%= custom_t("#{release.album_type.downcase}_display".to_sym) %></dd>
              <% if release.renewal %>
                <dt><%= custom_t(:renewal_date) %></dt>
                <dd><b><%= fmt_country_date(release.renewal.expires_at) %></b></dd>
              <% end %>
              <% if release.upc %>
                <dt><%= custom_t(:upc) %>:</dt>
                <dd><%= release.upc.number %></dd>
              <% end %>
            </dl>
          </div>
          <div class="release-actions release-info">
            <ul class="radio-container">
              <li>
                <input id="bulk_release_subscription_form_subscription_actions_takedown" method="subscription_actions" name="bulk_release_subscription[subscription_actions][<%= release.id %>]" type="radio" value="takedown">
                <span class="radio-label">
                  <%= custom_t('bulk_release_subscriptions.takedown_all_stores') %>
                </span>
              </li>
              <% if release.renewal %>
                <% if release.renewal.canceled_at.nil? %>
                  <li>
                    <input id="bulk_release_subscription_form_subscription_actions_cancel" method="subscription_actions" name="bulk_release_subscription[subscription_actions][<%= release.id %>]" type="radio" value="cancel">
                    <span class="radio-label">
                      <%= custom_t('bulk_release_subscriptions.cancel_renewal') %>
                    </span>
                  </li>
                <% else %>
                  <p><%= custom_t(:canceled) %> <%= release.renewal.canceled_at.to_date %> </p>
                <% end %>
              <% end %>
              <li>
              <a href="#" id="clear-radio" onClick="clearRadio(this); return false;"><%= custom_t(:clear) %></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</li>
