<div  id="takedown-confirm-modal" class="alert">
    <div id="modal-content" style="display:none;">
    <h1> <%= custom_t('.are_you_sure') %> </h1>
    <br/>
    <h3><%= custom_t(:takedown) %> <span id="takedown-count"></span> <%= custom_t(:releases) %></h3>
    <p class="important-release"><%= custom_t('.permanent_action') %></p>
    <h3><%= custom_t(:cancel) %> <span id="cancel-count"></span> <%= custom_t(:releases) %></h3>
    <p class="important-release"><%= custom_t('.releases_will_be') %></p>
    <span>
      <a class="button-callout-alt submit continue loadingDialog" id="modal-submit" href="#"><%= custom_t(:continue) %></a> <a class="button-interface go_back" href="#"><%= custom_t(:cancel) %></a>
    </span>
    </div>
    <div id="none-selected" style="display:none;">
      <h2><%= custom_t('.have_not_selected_any_release') %></h2>
    </div>
</div>
