<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/loading_dialog.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
  <%= javascript_include_tag "/javascripts/app/bulk_release_subscriptions.js" %>
<% end %>
<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/magnific-popup.css" %>
  <%= stylesheet_link_tag '/stylesheets/discography' %>
  <%= stylesheet_link_tag '/stylesheets/bulk_release_subscriptions' %>
<% end %>
<div id="discography">
  <header>
    <div class="row">
      <div class="columns">
        <h1><%= custom_t(".manage_subscriptions") %></h1>
      </div>
    </div>
  </header>
  <%= form_for BulkReleaseSubscriptionForm.new, {url: bulk_release_subscriptions_path} do |f| %>
  <section>
    <div class="row">
      <div class="columns twelve">
        <div class="note_alert">
          <h1><%= custom_t('bulk_release_subscriptions.takedown_all_stores') %>:</h2>
          <p><%= custom_t('.takedown_explanation') %></p>
          <h1><%= custom_t('bulk_release_subscriptions.cancel_renewal') %>:</h3>
          <p><%= custom_t('.cancel_explanation') %></p>
          <p><%= custom_t('.important') %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns twelve">
        <% if @releases.blank? %>
          <h1><%= custom_t('bulk_release_subscriptions.no_live_releases') %></h1>
        <% else %>
          <ul class="list">
            <% @releases.each do |release| %>
              <%= render partial: 'takedown_form', locals: { release: release, f: f } %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </section>
  <section>
    <div class="row controls">
      <div class="columns">
        <%= will_paginate @releases %>
      </div>
      <div class="columns six <% if @releases.blank? %> hide <% end %>">
        <div class="release-submit-container">
            <input disabled="disabled" class="btn btn-primary takedown-release-btn" method="Submit" name="commit" type="submit" value="<%= custom_t(:submit) %>">
        </div>
      </div>
    </div>
  </section>
  <% end %>
</div>

<div style="display:none;">
  <%= render :partial => "takedown_confirm_modal" %>
</div>

<div style="display:none;">
  <%= render :partial => "paginate_confirm_modal" %>
</div>

<div class="hide" id="processingDialog">
  <div style="text-align: center;">
    <strong><%= custom_t(".processing_subscriptions") %></strong><br><br><br>
    <img src="/images/disco-loader.gif">
  </div>
</div>
