<p>Delivery errors for album <%= @album.id %></p>
<p><%= "https://studio.tunecore.com/admin/albums/#{@album.id}" %></p>
<p><%= @from_date.strftime("%b %d, %Y") %></p>
<p>Customer: <%= @album.person_name %> <%=@album.email%></p>
<p>UPC: <%= @upc %></p>
<% @distributions.each do |distribution| %>
  <p><%= distribution.salepoints.collect{|sp| sp.store.short_name}.join(',') %></p>
  <p><%= distribution.transitions.last.try(:message) %></p>
<% end %>
