<div class="balance-pending-withdrawal">
	<strong>Amount: <span class='money'><%= money_to_currency(check_transfer.payment_amount_in_money) %></span></strong><br/>
	Payable To: <%= check_transfer.payee %>
</div>
