<% if  current_user.has_role?("EFT") %>
	<section class="grid_16">
		<ul class="horizontal_link_list floatR" id="eft_links">
			<li><strong>EFT Links:</strong></li>
	    <li><%= link_to 'Stored Bank Accounts', admin_stored_bank_accounts_path %></li>
	    <li><%= link_to "EFT Withdrawals", admin_eft_batch_transactions_path %></li>
			<li><%= link_to "EFT Batches", admin_eft_batches_path %></li>
			<li><%= link_to "EFT Daily Summary", admin_eft_queries_path %></li>
			<li><%= link_to "EFT Approval Summary", approval_summary_admin_eft_batch_transactions_path %></li>
	    <% if current_user.has_role?("Payout Service") %>
	      <li><%= link_to "Fees", admin_payout_service_fees_path %></li>
	    <% end %> 
	  </ul>
	</section>
<% end -%>
