<%# This contains links to searches on the admin_eft_batch_transactions_path (which have to use the expanded link_to form)  %>
<%# This also contains sums and counts of a batch's transactions using finds and injects %>
<tr>
  <td><%= eft_batch.id %></td>
	<td><%= eft_batch.created_at.strftime("%b %d, %Y") %></td>
	<td><%= eft_batch.status == 'complete' ? "Complete" : "No" %></td>
  <td><%= eft_batch_count_link(eft_batch) %>

<%# link_to eft_batch.eft_batch_transactions.size, {:controller=>'admin/eft_batch_transactions', :action=>'index', 'search[eft_batch_id_equals]' => eft_batch.id} %></td>
	<td class="right"><%= number_to_currency(eft_batch.eft_batch_transactions.inject(0) {|sum, ebt| sum + ebt.amount}) %></td>
	<td class="success right"><%= eft_batch_count_link(eft_batch, 'success') %></td>
	<td class="success right"><%= number_to_currency(eft_batch.eft_batch_transactions.inject(0) {|sum, ebt| ebt.status=='success' ? sum + ebt.amount : sum}) %></td>
	<td class="pending right"><%# eft_batch_count_link(eft_batch, 'sent_to_bank')%>
	<%= link_to eft_batch.eft_batch_transactions.find_all{|ebt| ebt.status=='processing_in_batch' || ebt.status=='sent_to_bank'}.size,			{:controller=>'admin/eft_batch_transactions', :action=>'index', 'search[eft_batch_id]' => eft_batch.id, 'search[eft_status]'=> 'sent_to_bank' } %>
	</td>
	<td class="pending right"><%= number_to_currency(eft_batch.eft_batch_transactions.inject(0) {|sum, ebt| (ebt.status=='processing_in_batch' || ebt.status=='sent_to_bank' ) ? sum + ebt.amount : sum })%></td>
	<td class="errored right"><%= eft_batch_count_link(eft_batch, 'error') %></td>
	<td class="errored right"><%= number_to_currency(eft_batch.eft_batch_transactions.inject(0) {|sum, ebt| ebt.status=='error' ? sum + ebt.amount : sum})%></td>
	<td class="errored right"><%= eft_batch_count_link(eft_batch, 'failure')%></td>
	<td class="errored right"><%= number_to_currency(eft_batch.eft_batch_transactions.inject(0) {|sum, ebt| ebt.status=='failure' ? sum + ebt.amount : sum})%></td>
</tr>
