<%= render :partial=>'admin/eft_batches/eft_batch_links'%>
<section id="eft-batch-transactions">

<h2>EFT Withdrawal Batches <span class="info">| <%= link_to 'View Eft Daily Processing', admin_eft_queries_path %></span></h2>

<section class="grid_16" >
	<table class="non_bold">
	  <thead>
	    <tr>
	      <th>ID</th>
				<th>Date Sent</th>
				<th>Complete?</th>
	      <th>Total Count</th>
				<th>Total Amount</th>
				<th>Success Count</th>
				<th>Success Amount</th>
				<th>Processing Count</th>
				<th>Processing Amount</th>
				<th>Error Count</th>
				<th>Error Amount</th>
				<th>Failure Count</th>
				<th>Failure Amount</th>
	    </tr>
	  </thead>
	  <tbody id="eft-transaction-section">
		<% if !@eft_batches.empty? %>
			<%= render @eft_batches %>
		<% else %>
			<tr><td colspan="15"> There are no eft batches to show </td></tr>
		<% end -%>
	  </tbody>
	</table>
</section>
<% if @eft_batches.total_entries > @eft_batches.per_page %>
	<div class="jump-links">
		Jump to page: 
		<%= will_paginate( @eft_batches, :params => {:term => params[:term]}) %>
	</div>
<% end %>
</section>