<%= render :partial=>'admin/eft_batches/eft_batch_links'%>
<h3><%= link_to '< Back to All EFT Batches', admin_eft_batches_path %></h3>
<section class="grid_16" >
	<h2>EFT Batch ID# <%=@eft_batch.id %></h2>
	<table class="non_bold">
	  <thead>
	    <tr>
	      <th>ID</th>
				<th>Date Sent</th>
				<th>Complete?</th>
	      <th>Total Count</th>
				<th>Total Amount</th>
				<th>Success Count</th>
				<th>Success Amount</th>
				<th>Processing Count</th>
				<th>Processing Amount</th>
				<th>Error Count</th>
				<th>Error Amount</th>
				<th>Failure Count</th>
				<th>Failure Amount</th>
				<th> &nbsp; </th>
	    </tr>
	  </thead>
	  <tbody id="eft-transaction-section">
			<%= render @eft_batch %>
	  </tbody>
	</table>
</section>
<h2>Transactions for this Batch</h2>

	<section class="grid_16" >
			<table class="non_bold">
			  <thead>
			    <tr>
			      <th>ID</th>
						<th>Customer Name</th>
						<th>Customer Status</th>
						<th>Status</th>
			      <th>Amount</th>
						<th>Service Fee</th>
			      <th>Created Updated</th>
			    	<th>Updated</th>
						<th>&nbsp;</th>
			    </tr>
			  </thead>
			  <tbody id="eft-transaction-section">
				<% if !@eft_batch_transactions.empty? %>
					<%= render @eft_batch_transactions %>
				<% else %>
					<tr><td colspan="6"> There are no eft transactions that fit this criteria </td></tr>
				<% end -%>
			  </tbody>
			</table>
		</section>
		<% if @eft_batch_transactions.total_entries > @eft_batch_transactions.per_page %>
			<div class="jump-links">
				Jump to page: 
				<%= will_paginate( @eft_batch_transactions, :params => {:term => params[:term]}) %>
			</div>
		<% end %>
