<h2 style=&quot;text-transform:uppercase;color:black;&quot;>Collect Your YouTube Sound Recording Revenue Amendment to TuneCore&rsquo;s Terms and Conditions</h2>

<h3><p>Effective as of November 6, 2015</p></h3>

<p><strong>YOU UNDERSTAND THAT BY CLICKING ON THE &quot;I AGREE&quot; BUTTON AND/OR USING THE SERVICES OFFERED BY COMPANY THROUGH THE SITE OR WITH RESPECT TO YOUR TUNECORE ACCOUNT, YOU AGREE TO BE BOUND BY ALL OF THE TERMS OF SERVICE. IF YOU DO NOT ACCEPT THE TERMS OF SERVICE IN THEIR ENTIRETY, YOU MAY NOT ACCESS OR USE THE SERVICES OFFERED BY COMPANY.</strong></p>

<p>Please read the following terms and conditions carefully, which amend the Terms of Service that you previously entered into with TuneCore, Inc. (&quot;TuneCore&quot;) with respect to your Recordings and Compositions, as such agreement has been supplemented, amended or otherwise modified by incorporating the following additional operative provisions. This is a legal agreement between you and TuneCore. TuneCore reserves the sole right at any time to modify, discontinue or terminate the Site and Services, or modify the Terms of Service without notice. All modified terms and/or conditions when posted on the Site shall supersede the prior agreement between you and TuneCore, and such revised Terms and Conditions shall constitute the entire agreement between you and TuneCore. By continuing to use or access the Site and/or Services after TuneCore makes any such modification, you agree to be legally bound by the revised Terms of Service. You may not alter the terms and conditions of the Terms of Service without TuneCore's express written consent. Capitalized terms used herein without definition have their respective meanings assigned in the Terms of Service.</p>


<p><strong>1. GRANT OF RIGHTS.</strong><p>

<p>a. By clicking on the &quot;I Agree&quot; button, you irrevocably grant to TuneCore, throughout the Territory and during the Term, the sole right:</p>
<p>i. To be the administrator of the Recordings submitted hereunder (the &quot;YouTube Recordings&quot;), including, but not limited to, the right to use the YouTube Recordings in connection with and in timed relation with YouTube videos.
</p><p>ii. To prosecute, defend and settle claims regarding the exploitation of the YouTube Recordings on YouTube.
</p><p>iii. To enter into agreements with, or assign or license any of TuneCore's rights and/or delegate any of its obligations under this agreement to third party licensees on such terms as may be acceptable to TuneCore.
</p><p>b. TuneCore reserves the right, in its sole discretion, to refuse to provide the Services to you or any customer for any or no reason whatsoever, and shall be under no obligation to provide notification of such refusal. For the avoidance of doubt, Recordings must be actively distributed by TuneCore at the time of submission hereunder in order to be included as YouTube Recordings hereunder.
</p>

<p><strong>2. PAYMENTS.</strong></p>

<p>a. TuneCore shall collect all Gross Receipts earned by the YouTube Recordings.
</p><p>b. &quot;Gross Receipts&quot; is defined in this agreement as all revenue derived directly and exclusively in connection with the exploitation of the YouTube Recordings on YouTube, excluding any deductions taken for any reason by YouTube. Eighty percent (80%) of Gross Receipts shall be credited to your TuneCore account. TuneCore shall be permitted to retain twenty percent (20%) of Gross Receipts.
</p><p>c. You shall receive statements as to your share of Gross Receipts, and such monies credited to your TuneCore account, in a timely fashion following TuneCore's receipt of accounting and payment from YouTube. Once payment has been credited to your account, you will be able to withdraw all or a portion at your discretion. You will be responsible for any bank fees or other charges related to such withdrawals. Any objection relating to any accounting statement or any legal claims arising therefrom must be made (and any lawsuit commenced) no later than one (1) year after the date the statement is initially sent to you, and you waive any longer statute of limitations that may be permitted by law. Notwithstanding the foregoing, and without limiting any other provision of the Terms of Service, TuneCore will have no obligation to pay any amounts, and is permitted to deduct or withhold any amounts owed, determined or reasonably suspected by TuneCore in its sole discretion to have resulted from fraudulent, misleading or false activities. TuneCore reserves the right to withhold or deduct payment, if applicable, pending TuneCore's reasonable investigation of any of the foregoing or any breach of the Terms of Service by you.
</p><p>d. The Gross Receipts in your TuneCore account may be held by TuneCore in an interest bearing account. TuneCore may, in its sole discretion, retain all interest earned on the Gross Receipts or pay to you all or a portion of such interest.
</p><p>e. In the event that TuneCore has, in its good faith discretion, reason to suspect that any YouTube Recording submitted by you to TuneCore is not in compliance with the terms of Section 4 below, or if TuneCore is presented with a claim of infringement of copyright, moral rights, trademark, right or publicity or other intellectual property right, or failure to comply with any third party license requirement or any other claim which, if true, would constitute your breach of, or non-compliance with, any of your representations, warranties and agreements hereunder, you agree that TuneCore may discontinue the posting of your share of Gross Receipts with respect to such YouTube Recording to your TuneCore account and block your ability to otherwise withdraw funds therefrom until satisfactory resolution of the matter is obtained. Furthermore, you agree that you will forfeit such revenues if TuneCore determines that they are the result of infringement or fraud.
</p><p>f. If TuneCore, in its reasonable discretion, determines that any infringing or fraudulent activities may have been caused by your or your affiliates' acts or omissions, any costs incurred by TuneCore (including legal fees and expenses) in connection therewith may, in addition to other remedies, be deducted by TuneCore from any monies otherwise payable to you by TuneCore. Furthermore, if in TuneCore's reasonable business judgment it elects to engage an attorney to review and/or respond to a claim of fraud and/or infringement with respect to a YouTube Recording(s), TuneCore shall, in its sole discretion, have the right to deduct from your TuneCore account or charge your Payment Method (defined in Section 5(b) below) a minimum of Three Hundred Dollars (USD $300) to offset the costs of associated legal fees and expenses.
</p>

<p><strong>3. THIRD PARTY OBLIGATIONS.</strong></p>
<p>You shall be solely responsible for securing and paying (a) all fees and/or royalties due to performers, producers and other persons who contributed to the production of the YouTube Recordings or to whom you are otherwise obligated to pay a portion of the income from any of the YouTube Recordings, (b) all payments that may be required under collective bargaining agreements or pursuant to any statutory schemes, and (c) to the extent that such rights are not licensed directly by YouTube, mechanical and public performance royalties payable with respect to musical compositions embodied in the YouTube Recordings. You warrant and represent that all third parties to whom you are obligated to pay a portion of the income from the YouTube Recordings shall look solely to you for any such payments and you hereby agree to indemnify TuneCore and hold TuneCore harmless from any and all claims, demands or actions by any such third parties for any such payments in accordance with the indemnification provisions of the Terms of Service.</p>

<p><strong>4. WARRANTIES AND REPRESENTATIONS.</strong></p>
<p>You warrant and represent that you are at least eighteen (18) years of age and that all of the YouTube Recordings are one hundred percent (100%) exclusively owned or controlled by you throughout the world and the use thereof as described or contemplated herein shall not infringe on the copyrights, moral rights, trademark rights, publicity rights or other rights of any person or entity; and that TuneCore shall have the right to exploit the same in any manner hereunder free from adverse claim and without any obligation to make any payment of any nature to any person or entity other than the amounts payable to you hereunder. For the avoidance of doubt, YouTube Recordings incorporating the following types of content are not eligible for inclusion in YouTube Monetization (each, an &quot;Ineligible Recording&quot;): (i) content licensed non-exclusively from a third party; (ii) content released under Creative Commons or similar free/open licenses; (iii) public domain recordings; (iv) clips or samples from other sources (including clips used under fair use principles); (v) karaoke recordings, instrumental cover versions, remasters and sound-alike recordings; and (vi) sound effects, soundbeds or production loops. The submission of Ineligible Recordings for use in connection with YouTube Monetization may result in TuneCore disabling your access to YouTube Monetization or terminating your TuneCore account.</p>

<p><strong>5. TUNECORE FEES.</strong><p>
<p>a. You shall pay TuneCore a one-time, non-refundable fee (the &quot;Set Up Fee&quot;), as set forth on TuneCore's website, to cover TuneCore's administrative expenses with respect to updating your catalog of YouTube Recordings.</p>
<p>b. You agree that TuneCore is authorized to deduct the Set Up Fee, any applicable taxes and other charges you may incur in connection with your use of the administration services directly from your TuneCore account or charge such fees to any alternate payment method you provide to TuneCore (such as a valid PayPal account, credit card or debit card, each a &quot;Payment Method&quot;). For the avoidance of doubt, if you or TuneCore terminates this agreement for any of the reasons set forth herein, you will not be entitled to a full or partial reimbursement of the Set Up Fee. Furthermore, if for any reason you fail to make a payment or a payment is reversed hereunder via the Payment Method or any other method after agreeing to these Terms of Service, TuneCore will be entitled to recoup, at its sole discretion, the Set Up Fee (plus a Twenty-Five Dollar (USD $25.00) administrative fee), by any means necessary, including the right to keep your account active and collect any resulting royalties until the Set Up Fee is fully recouped. It is your responsibility to notify TuneCore if your Payment Method has changed by making the appropriate changes to your TuneCore account settings. If you do not provide a valid Payment Method your service may be disconnected or interrupted at TuneCore's sole discretion.</p>
