<h2 style="text-transform:uppercase;color:black;">
MUSIKVERLAGSVERWALTUNG UND SYNCHRONISATIONSLIZENZ, ÄNDERUNG DER GESCHÄFTSBEDINGUNGEN VON TUNECORE
</h2>
<h3 style="margin-bottom: 20px;">
Gültig ab dem 1. Juli 2018
</h3>
<p>
Diese Allgemeinen Geschäftsbedingungen ändern die Servicebedingungen, die Sie zuvor mit TuneCore, Inc. ("<strong>Unternehmen</strong>") bezüglich Ihrer Aufnahmen abgeschlossen haben, sofern diese Vereinbarung ergänzt, geändert oder anderweitig modifiziert wurde. Dies ist eine rechtliche Vereinbarung zwischen Ihnen und dem Unternehmen. Das Unternehmen behält sich das alleinige Recht vor, die Website und die Dienstleistungen jederzeit ohne Vorankündigung zu ändern, einzustellen oder zu beenden oder die Nutzungsbedingungen zu ändern. Alle geänderten Geschäftsbedingungen, wenn sie auf der Website veröffentlicht werden, ersetzen die vorherige Vereinbarung zwischen Ihnen und dem Unternehmen, und diese geänderten Geschäftsbedingungen stellen die gesamte Vereinbarung zwischen Ihnen und dem Unternehmen dar. Indem Sie die Website und/oder die Dienste nach einer solchen Änderung weiterhin nutzen oder darauf zugreifen, erklären Sie sich mit den überarbeiteten Nutzungsbedingungen einverstanden. Sie dürfen die Allgemeinen Geschäftsbedingungen nicht ohne die ausdrückliche schriftliche Zustimmung des Unternehmens ändern. Großgeschriebene Begriffe, die hier ohne Definition verwendet werden, haben ihre jeweilige Bedeutung in den Nutzungsbedingungen.
</p>
<p style="text-transform:uppercase;font-weight:bold;">
SIE VERSTEHEN, DASS SIE MIT DER NUTZUNG DER DIENSTE UND IHRES TUNECORE-ACCOUNTS DIE NUTZUNGSBEDINGUNGEN, EINSCHLIESSLICH DIESER ÄNDERUNGUNGEN, AKZEPTIEREN. WENN SIE DIE SERVICEDIENSTLEISTUNGEN NICHT IN IHRER GESAMTHEIT ANNEHMEN, SOLLTEN SIE NICHT AUF DIESE DIENSTLEISTUNGEN ZUGREIFEN ODER SIE NUTZEN.
</p>

<ol style="list-style-type: decimal;">
<li><strong>GEWÄHRUNG VON RECHTEN.</strong></li>

<ol style="list-style-type: lower-alpha">
<p>
  <li>Indem Sie auf die Schaltfläche "Ich stimme zu" klicken, gewähren Sie dem Unternehmen, seinen Nachfolgern, Betreibern und Abtretungsempfängern weltweit (der "Geltungsbereich") und während der Verwaltungsperiode (wie in Abschnitt 5 unten definiert) das alleinige und ausschließliche Recht:
</p><p>
Der Verwalter der musikalischen Kompositionen zu sein, die Ihnen ganz oder teilweise gehören oder von Ihnen betreut werden,
im vollen Umfang Ihres Interesses daran, und die Sie dem Dienst während der Verwaltungsperiode (die "Kompositionen") vorgelegt haben.
</p><p>
Lizenzen zu vergeben und andere zur Lizenzierung zu berechtigen und alle Einnahmen im Zusammenhang
mit der Nutzung der Kompositionen zu kassieren. Das Unternehmen hat uneingeschränkt das Recht zur Lizenzierung: (A) Rundfunk und digitale öffentliche Aufführungen; (B) die Herstellung, Vervielfältigung, Verbreitung und der Verkauf von Aufzeichnungen, die eine oder mehrere Kompositionen enthalten, sowohl physisch, digital und elektronisch als auch in jedem anderen Format oder Medium; (C) die Synchronisation der Kompositionen in Verbindung mit, aber nicht beschränkt auf, Filmen, Fernsehprogrammen, Werbung, Videospielen und Online-Videoseiten und -diensten wie YouTube; (D) die Verwendung der Kompositionen in Verbindung mit Merchandising, Sponsoring oder Unterstützungen; und (E) falls zutreffend, die Verwendung und Durchführung von Masteraufnahmen der Kompositionen, die Sie besitzen und/oder kontrollieren, die dem Unternehmen vorgelegt wurden und den Allgemeinen Geschäftsbedingungen des Unternehmens unterliegen ("Aufnahmen"), einschließlich, aber nicht beschränkt auf die Synchronisation der Aufnahmen in Verbindung mit Filmen, Fernsehprogrammen, Werbung, Videospielen, zu den gleichen Bedingungen wie die gemäß Absatz 1(a)(ii)(C) gewährten Lizenzen.
</p><p>
  <ol style="list-style-type: lower-roman">
<li>Um gedruckte Versionen der Kompositionen zu veröffentlichen oder andere zur Veröffentlichung zu
 beauftragen.
<li>Eine Komposition in irgendeiner Weise zu arrangieren oder anderweitig anzupassen,
zu ändern oder zu übersetzen. Zum Beispiel, das Recht zu lizenzieren (A) eine Komposition zu sampeln, (B) eine Komposition in einem so genannten Mashup zu verwenden, oder (C) eine Komposition in einer Fremdsprache aufzunehmen oder neu aufzunehmen.
<li>Verträge mit dem Unternehmen abzuschließen, Rechte abzutreten oder zu lizenzieren
 und/oder seine Verpflichtungen aus diesem Vertrag an Dritte zu Bedingungen zu delegieren, die für das Unternehmen akzeptabel sind, einschließlich des Rechts, Lizenznehmer zu beauftragen, Anpassungen und/oder lokale Neuaufnahmen einer Komposition zu suchen und zu beschaffen, indem der Originalmusik neue Texte in der jeweiligen Landessprache hinzugefügt und/oder eine "Cover-Version" einer Komposition erstellt wird.
<li>Vergabe, Verwaltung und Sammlung von Geldern unter pauschalen Lizenzen für die Verwendung von Kompositionen in Videos, "Art Tracks", benutzergenerierten Videos und anderen audiovisuellen Programmen.  In Verbindung mit YouTube umfassen die Rechte des Unternehmens das Recht, Videos, die Kompositionen enthalten, zu identifizieren, zu beanspruchen und zu monetarisieren, indem Werbung angezeigt wird.
<li>Namen, Bilder und biographische Informationen über die
Verfasser der Kompositionen im Zusammenhang mit der Verwertung und/oder Förderung der Kompositionen und zur Förderung der Geschäftstätigkeit der Gesellschaft zu verwenden.
<li>Die Aufnahmen, falls zutreffend, gemäß Paragraph 1(a)(ii)(E) oben,
 und die zugrundeliegenden Kompositionen über die Websites, Kanäle und Profile des Unternehmens, die ausschließlich für die Verwendung durch autorisierte Personen (z. B. musikalische Beratung) bestimmt sind, zu verwenden, anzuzeigen und zur Verfügung zu stellen, auf die Audiodateien der Aufnahmen und/oder Kompositionen für eine mögliche Synchronisation durch Dritte zuzugreifen, sie anzuhören und zu testen.
</ol>
</p>
<p>
<li>Sie ernennen hiermit das Unternehmen zu Ihrem wahren und rechtmäßigen Vertreter und Anwalt (mit voller Vollmacht und Delegation), um alle Dokumente, Instrumente und Schriften im Namen der Firma und/oder in Ihrem Namen zu erstellen, auszuführen und zu liefern und alle anderen Maßnahmen im Namen des Unternehmens und/oder in Ihrem Namen zu ergreifen, die nach der vernünftigen kaufmännischen Beurteilung des Unternehmens notwendig oder wünschenswert sind, um die Zwecke dieser Vereinbarung zu erfüllen.
</p>
</ol>

<li><strong>ZAHLUNGEN.</strong></li>
<p>
  <ol style="list-style-type: lower-alpha;">
<p>
<li>Das Unternehmen sammelt alle Bruttoerträge ein, die durch die Kompositionen verdient wurden, einschließlich aller Gelder, die durch die Kompositionen vor Beginn der Verwaltungslaufzeit verdient, aber noch nicht eingeholt wurden.
</p><p>
<li>"Bruttoeinnahmen" ist in dieser Vereinbarung definiert als alle Einnahmen aus der Nutzung der Kompositionen (und Aufzeichnungen, falls zutreffend, in Verbindung mit Synchronisationslizenzen), die das Unternehmen erhält, wobei ausschließlich die Gebühren und Lizenzgebühren für Arrangeure, Bearbeiter und Übersetzer (vorbehaltlich der Regeln und Praktiken der lokalen Verwertungsgesellschaften), alle Steuerabzüge und/oder Standardprovisionen, die von gutgläubigen Inkassobüros und/oder Gesellschaften, die in einem Teil des Geltungsbereichs tätig sind, sowie die Gebühren für Subverleger und/oder Verwalter und/oder Provisionen und/oder Gebühren, die von Synchronisationslizenzagenturen Dritter erhoben werden, berücksichtigt werden.
</p><p>
  <ol style="list-style-type: lower-roman">
<li>Fünfundachtzig Prozent (85 %) der Bruttoeinnahmen aus der Nutzung von Kompositionen im Geltungsbereich, einschließlich, aber nicht beschränkt auf Urheberrechtsanteile, Druckeinnahmen und den sogenannten "Verlagsanteil" an den Einnahmen von öffentlichen Aufführungen, werden Ihrem TuneCore-Konto gutgeschrieben, außer wie unten beschrieben. Das Unternehmen darf fünfzehn Prozent (15 %) der Bruttoeinnahmen einbehalten.
<li>Ungeachtet dessen werden achtzig Prozent (80 %) der Bruttoeinnahmen, die aus der Synchronisation von Kompositionen (und Aufnahmen, falls zutreffend) mit Filmen, Videos, Tonbändern oder anderen permanenten visuellen Bildern resultieren, Ihrem TuneCore-Konto gutgeschrieben.
<li>Um Zweifel auszuschließen, sind die oben genannten Zahlungen an Sie inklusive aller Songwriter-Tantiemen, mit Ausnahme des "Autorenanteils" an den öffentlichen Aufführungseinnahmen, die direkt an Sie oder einen anderen zutreffenden dritten Songwriter der jeweiligen Leistungsgesellschaft/en gezahlt werden.
</ol>
</p><p>
<li>Auf Ihre ausdrückliche schriftliche Anfrage hin sind Kompositionen, die in Künstlerveröffentlichungen enthalten sind, nicht Gegenstand Urheberrechtsanteils-Zahlungen im Rahmen dieser Vereinbarung. "Künsterveröffentlichungen" sind selbstveröffentlichte Produkte (d. h. Aufnahmen, die von Ihnen ohne Beteiligung Dritter veröffentlicht werden), die von Ihnen nur bei Ihren Live-Auftritten oder über Ihre eigene Website verkauft werden. Für den Fall, dass Sie einen Verzicht auf Urheberrechtsanteile für eine Künstlerveröffentlichung beantragen, erklären Sie sich damit einverstanden, dass Sie für alle Zahlungen an Mitherausgeber und/oder Mitverfasser in Bezug auf den Verkauf verantwortlich bleiben, und Sie stimmen zu, das Unternehmen von allen diesbezüglichen Ansprüchen freizustellen.
</p><p>
<li>Sie erhalten innerhalb von fünfundvierzig (45) Tagen nach Ende eines jeden Kalenderquartals für jeden dieser vorangegangenen Quartalszeiträume eine Abrechnung über Ihren Anteil an den Bruttoeinnahmen und diese Gelder auf Ihrem TuneCore-Konto gutgeschrieben.  Sobald die Zahlung Ihrem Konto gutgeschrieben wurde, können Sie nach eigenem Ermessen alles oder einen Teil davon abheben. Sie sind verantwortlich für Bankgebühren oder andere Gebühren im Zusammenhang mit solchen Abhebungen. Jeglicher Einspruch in Bezug auf einen Rechnungsabschluss oder sich daraus ergebende Rechtsansprüche muss spätestens ein (1) Jahr nach dem Datum, an dem der Rechnungsabschluss an Sie versandt wurde, erhoben werden, und Sie verzichten auf die gesetzlich zulässigen Verjährungsfristen.
</p><p>
<li>Für den Fall, dass das Unternehmen nach bestem Wissen und Gewissen Grund zu der Annahme hat, dass eine von Ihnen an das Unternehmen übermittelte Komposition nicht den Bestimmungen von Abschnitt 4 entspricht, oder wenn das Unternehmen eine Klage wegen Verletzung von Urheber-, Marken-, Rechts- oder Publizitätsrechten oder anderen Rechten an geistigem Eigentum oder auf Nichteinhaltung einer Lizenzpflicht Dritter oder eines anderen Anspruchs geltend macht, wenn zutreffend, Ihre Verletzung oder Nichteinhaltung einer Ihrer Zusicherungen, Garantien und Vereinbarungen hierunter darstellen würde, stimmen Sie zu, dass das Unternehmen die Verbuchung Ihres Anteils an Bruttoeinnahmen in Bezug auf diese Komposition auf Ihrem TuneCore-Konto einstellen und Ihre Fähigkeit blockieren kann, anderweitig Gelder davon abzuheben, bis eine zufriedenstellende Lösung der Angelegenheit gefunden wurde. Darüber hinaus stimmen Sie zu, dass Sie solche Einnahmen einbüßen, wenn das Unternehmen feststellt, dass sie auf eine Verletzung oder einen Betrug zurückzuführen sind.
</p><p>
<li>Wenn das Unternehmen nach billigem Ermessen feststellt, dass rechtswidrige oder betrügerische Aktivitäten durch Handlungen oder Unterlassungen Ihrer oder Ihrer verbundenen Unternehmen verursacht wurden, können die damit verbundenen Kosten (einschließlich Anwaltskosten und Ausgaben) zusätzlich zu anderen Abhilfemaßnahmen von dem Unternehmen von allen anderen vom Unternehmen an Sie zu zahlenden Geldern abgezogen werden. Darüber hinaus hat das Unternehmen das Recht, nach eigenem Ermessen von Ihrem TuneCore-Konto abzuziehen oder Ihre Zahlungsmethode (wie in Abschnitt 6(b) unten definiert) mit mindestens drei Hundert Dollar (300 $) zu belasten, um die Kosten der damit verbundenen Anwaltsgebühren und -kosten auszugleichen, wenn es nach vernünftiger kaufmännischer Beurteilung einen Anwalt mit der Prüfung und/oder Beantwortung einer Betrugs- und/oder Verletzungsklage in Bezug auf die Komposition/en beauftragt.
</ol>
</p>

<li><strong>RECHTSVERFAHREN UND SCHLICHTUNGEN.</strong></li>
<p>
  <ol style="list-style-type: lower-alpha;">
<p>
<li>Das Unternehmen hat das Recht, aber nicht die Pflicht, alle Ansprüche und Klagen in Bezug auf die Kompositionen zu verfolgen, zu verteidigen und beizulegen, und generell alle notwendigen Dinge bezüglich derselben und der Urheberrechte oder anderer Rechte in Bezug auf die Kompositionen zu tun; vorausgesetzt, dass das Unternehmen die Ansprüche nicht ohne Ihre Zustimmung (außer wie in Abschnitt 3(b) unten dargelegt) erfüllt. Im Falle einer Rückforderung von Geldern durch das Unternehmen oder Sie, infolge eines Urteils oder einer Schlichtung werden diese Gelder zwischen Ihnen und dem Unternehmen in den gleichen Anteilen aufgeteilt, wie in Abschnitt 2 vorgesehen, nach Abzug der Auslagen für die Beschaffung dieser Gelder, einschließlich angemessener Anwaltskosten und Ausgaben. Sie haben das Recht, einen Anwalt hinzuzuziehen, bei der Verfolgung oder Verteidigung einer solchen Angelegenheit behilflich zu sein oder diese zu übernehmen, jedoch auf eigene Kosten. Jegliche Urteile gegen das Unternehmen und jegliche Schlichtungen von Ansprüchen gegen das Unternehmen in Bezug auf die Kompositionen, zusammen mit Kosten und Ausgaben, einschließlich, ohne Einschränkung, Anwaltskosten und Ausgaben, unterliegen den Entschädigungsbestimmungen der Allgemeinen Geschäftsbedingungen, und Ihre Entschädigungszahlungen werden an das Unternehmen aus allen Beträgen gezahlt, die Ihnen auf allen Konten, die Ihnen gehören und von dem Unternehmen verwaltet werden, oder unverzüglich nach Aufforderung durch das Unternehmen fällig werden. 
</p><p>
<li>Ungeachtet anders lautender Bestimmungen hat das Unternehmen das Recht, aber nicht die Pflicht, seinen Katalog von verwalteten Kompositionen (einschließlich der Kompositionen) ohne Ihre vorherige Zustimmung in Lizenzvereinbarungen und branchenweiten Abrechnungen für die Einziehung von Lizenzgebühren einzubeziehen, die von Interessengruppen wie der National Music Publishers Association vorgelegt und gebilligt werden.
</p>
</ol>
</p>

<li><strong>VERPFLICHTUNGEN DRITTER.</strong></li>
<p>
Sie sind allein verantwortlich für die Zahlung aller Entlohnungen, falls vorhanden, an Songwriter, Lizenzgeber, Einkommensteilnehmer und andere Dritte, an die Sie verpflichtet sind, einen Teil der Einnahmen aus den Kompositionen zu zahlen. Sie garantieren und versichern, dass alle diese Songwriter, Lizenzgeber, Einkommensteilnehmer und andere Dritte, an die Sie verpflichtet sind, einen Teil der Einnahmen aus den Kompositionen zu zahlen, sich ausschließlich an Sie wenden und Sie stimmen hiermit zu, das Unternehmen von allen Ansprüchen, Forderungen oder Klagen solcher Songwriter, Lizenzgeber, Einkommensteilnehmer und anderer Dritter für solche Zahlungen gemäß den Entschädigungsbestimmungen der Allgemeinen Geschäftsbedingungen freizustellen und schadlos zu halten.
</p>

<li><strong>VERWALTUNGSPERIODE / ABLAUF.</strong></li>
<ol style="list-style-type: lower-alpha;">
<p>
<li>Die "Verwaltungsperiode" dieser Vereinbarung beträgt zunächst ein (1) Jahr, beginnend mit dem Tag, an dem die Einrichtungsgebühr (wie in Abschnitt 6(a) unten definiert) bei dem Unternehmen eingeht und verarbeitet wird. Nach Ablauf der ersten Periode verlängert sich die Verwaltungsperiode automatisch um weitere vierteljährliche Zeiträume, es sei denn, Sie kündigen dem Unternehmen mindestens fünfundvierzig (45) Tage vor Ablauf der dann geltenden Frist schriftlich.
</p><p>
<li>Das Unternehmen hat das Recht, alle Einnahmen im Zusammenhang mit den Kompositionen einzuholen, die vor Beginn der Verwaltungsperiode verdient wurden, aber noch nicht einkassiert wurden.  Nach Ablauf der Verwaltungsperiode hat das Unternehmen das Recht: (i) die Tantiemen, die während der Verwaltungsperiode gesammelt und innerhalb von zwölf (12) Monaten in den Vereinigten Staaten und innerhalb von achtzehn (18) Monaten für dern Rest der Welt ohne die Vereinigten Staaten gesammelt wurden, einzutreiben und (ii) die Option, Verlängerung oder Erneuerung einer von dem Unternehmen während der Verwaltungsperiode ausgestellten Lizenz auszustellen.
</p>
</ol>

<li><strong>UNTERNEHMENSGEBÜHREN.</strong></li>
<ol style="list-style-type: lower-alpha;">
<p>
<li>Sie müssen dem Unternehmen eine einmalige, nicht erstattungsfähige Gebühr (die "Einrichtungsgebühr"), die auf der Website des Unternehmens angegeben ist, zahlen, um die Verwaltungskosten des Unternehmens in Bezug auf die Aktualisierung Ihrer Kompsitionen zu decken.
</p><p>
<li>Sie stimmen zu, dass das Unternehmen berechtigt ist, die Einrichtungsgebühr, alle anfallenden Steuern und sonstige Gebühren, die Ihnen im Zusammenhang mit Ihrer Nutzung der Verwaltungsservices entstehen, direkt von Ihrem TuneCore-Konto abzubuchen oder diese Gebühren über jede alternative Zahlungsmethode, die Sie dem Unternehmen gewähren (wie ein gültiges PayPal-Konto, Kreditkarte oder Debitkarte, jedes eine „Zahlungsmethode“) in Rechnung zu stellen. Um Zweifel auszuschließen, wenn Sie oder das Unternehmen diesen Vertrag aus einem der hier genannten Gründe kündigen, haben Sie keinen Anspruch auf eine vollständige oder teilweise Rückerstattung der Einrichtungsgebühr. Darüber hinaus ist das Unternehmen berechtigt, sollten Sie eine Zahlung nicht leisten oder eine Zahlung nach der Zahlungsmethode oder einer anderen Methode, der Sie gemäß dieser Nutzungsbedingungen zugestimmt haben, storniert werden, so kann das Unternehmen nach eigenem Ermessen die Einrichtungsgebühr (zuzüglich einer Verwaltungsgebühr von 25 US-Dollar) mit allen erforderlichen Mitteln einfordern, einschließlich des Rechts, Ihr Konto aktiv zu halten und die sich daraus ergebenden Tantiemen einzubehalten bis die Einrichtungsgebühr vollständig zurückgezahlt ist. Es liegt in Ihrer Verantwortung, das Unternehmen zu benachrichtigen, wenn sich Ihre Zahlungsmethode geändert hat, indem Sie die entsprechenden Änderungen in Ihren TuneCore-Kontoeinstellungen vornehmen. Wenn Sie keine gültige Zahlungsmethode angeben, wird Ihr Dienst nach alleinigem Ermessen des Unternehmens abgeschaltet oder unterbrochen.
</p>
</ol>

<li><strong>GARANTIEN UND ZUSICHERUNGEN.</strong></li>
<p>
Sie garantieren und erklären, dass Sie mindestens achtzehn (18) Jahre alt sind und dass alle Kompositionen, einschließlich, aber nicht beschränkt auf darin enthaltenes, hinzugefügtes Material von Dritten, Metadaten und alle anderen Materialien, die Sie dem Unternehmen zur Verfügung stellen oder die sich auf die Kompositionen beziehen, Ihr Eigentum sind oder von Ihnen betreut werden und dass die hier beschriebene oder beabsichtigte Verwendung der Kompositionen keine Urheberrechte, Markenrechte, Publizitätsrechte oder andere Rechte einer Person oder Einrichtung verletzt; nicht verleumderisch oder kriminell obszön sind; und dieses Unternehmen hat das Recht, diese in irgendeiner Weise zu nutzen, frei von nachteiligen Ansprüchen und ohne Verpflichtung, irgendeine Zahlung jeglicher Art an eine andere Person oder Körperschaft als die an Sie zu zahlenden Beträge zu leisten.
</p>

<li><strong>UNTERLAGEN.</strong></li>
<ol style="list-style-type: lower-alpha;">
<p>
<li>Auf Verlangen des Unternehmens müssen Sie alle Dokumente, die in Bezug auf die eingeräumten Rechte des Unternehmens an den Kompositionen benötigt werden, an das Unternehmen ausstellen und senden. Wenn Sie dies nicht innerhalb von zehn (10) Werktagen nach der Anfrage des Unternehmens tun, kann das Unternehmen solche Dokumente in Ihrem Namen unterzeichnen.
</p><p>
<li>Gleichzeitig mit der Annahme dieser Änderung werden Sie dem Unternehmen Kopien von bestehenden Lizenzen oder anderen Vereinbarungen bezüglich der Kompositionen zur Verfügung stellen. Sie stimmen weiterhin zu, das Unternehmen über jede aufgezeichnete Version einer Komposition während der Verwaltungsperiode zu informieren, sobald Sie davon Kenntnis erlangt haben. Wenn und soweit Sie dem Unternehmen keine der in diesem Abschnitt 8(b) genannten Materialien und Informationen zur Verfügung stellen, werden die Rechte des Unternehmens an den Kompositionen dadurch nicht beeinträchtigt. Das Unternehmen ist nicht verantwortlich für die Nichteinziehung von Geldern oder den fehlenden Urheberrechtsschutz in Bezug auf die betroffene/n Kompsition/en, was das direkte oder indirekte Ergebnis eines solchen Versäumnisses Ihrerseits ist.
</p>
</ol>
</ol>
