<h2 style="text-transform:uppercase;color:black;">ERGÄNZUNG ZU TUNECORE AGBs DURCH ADMINISTRATION</h2>

<h3 style="margin-bottom: 20px;">Beginnend ab 12. Dezember 2013</h3>

<p>Bitte lesen Sie die nachstehenden Allgemeinen Geschäftsbedingungen sorgfältig durch, welche die Servicebedingungen, die Sie zuvor mit TuneCore, Inc. („TuneCore“) in Bezug auf Ihre Aufnahmen eingegangen sind, ergänzen, da diese Vereinbarung hierdurch geändert, ergänzt oder anderweitig verändert wird. Dies ist eine rechtsgültige Vereinbarung zwischen Ihnen und TuneCore. TuneCore behält sich jederzeit das alleinige Recht vor, die Site und Services jederzeit zu ändern, unterbrechen oder zu beenden, oder die Servicebedingungen ohne vorherige Ankündigung zu ändern. Alle geänderten Bestimmungen und/oder Bedingungen ersetzen nach der Veröffentlichung auf der Site die zuvor zwischen Ihnen und TuneCore getroffenen Vereinbarungen, und diese überarbeiteten Geschäftsbedingungen stellen die vollständige Vereinbarung zwischen Ihnen und TuneCore dar. Wenn Sie mit der Nutzung oder dem Zugriff auf die Site und/oder Services fortfahren, nachdem TuneCore eine solche Änderung vorgenommen hat, erklären Sie sich mit den überarbeiteten Servicebedingungen einverstanden. Sie dürfen die Bestimmungen und Bedingungen der Servicebedingungen nicht ohne ausdrückliche schriftliche Einwilligung von TuneCore modifizieren. Die jeweilige Bedeutung der hier nicht ausdrücklich definierten Begriffe finden Sie in den Allgemeinen Geschäftsbedingungen.</p>

<p>SIE ERKLÄREN, DASS SIE DURCH NUTZUNG DER SERVICES UND IHRES TUNECORE ACCOUNT DEN SERVICEBEDINGUNGEN, EINSCHLIESSLICH DIESER ERGÄNZUNG, ZUSTIMMEN. WENN SIE DIESE SERVICEBEDINGUNGEN NICHT UNEINGESCHRÄNKT AKZEPTIEREN, KÖNNEN SIE NICHT AUF DIE SERVICES ZUGREIFEN ODER DIESE VERWENDEN.</p>
<ol style="list-style-type: decimal;">
  <li><strong>RECHTSEINRÄUMUNG.</strong>
    <ol style="list-style-type: lower-alpha">
      <li>Wenn Sie auf die Schaltfläche „Ich stimme zu“ klicken, gewähren Sie TuneCore Digital Media, Inc. („Unternehmen“) weltweit und während der Administrationslaufzeit (wie im unteren Abschnitt 6 bestimmt) das alleinige und ausschließliche Recht:
        <ol style="list-style-type: lower-roman">
          <li>Der Administrator von Musikkompositionen zu sein, die Sie ganz oder teilweise besitzen oder kontrollieren, soweit Sie daran interessiert sind und diese in der beigefügten Liste der Musikkompositionen eingeschlossen sind (die „Kompositionen“). Bezüglich der Komposition(en), die aktuell nicht einem von Ihnen zuvor gegründeten Unternehmen gehören oder dafür registriert sind, benennen Sie das Unternehmen als designierten Verleger dieser Komposition(en) während der Administrationslaufzeit</li>
          <li>Eine Lizenz zu erteilen und andere eine Lizenz erteilen zu lassen und die gesamten Einnahmen für die Nutzung der Kompositionen einzuholen. Das Unternehmen hat das uneingeschränkte Recht, eine Lizenz zu erteilen für: (A) Übertragung und digitale öffentliche Performances; (B) die Herstellung, Reproduktion, Vertrieb und Verkauf von Aufnahmen von einer oder mehrerer Kompositionen, sowohl physisch als auch elektronisch; (C) die Synchronisierung der Kompositionen im Zusammenhang mit, jedoch nicht beschränkt auf Filme, Fernsehprogramme, Werbung und Videospiele; (D) die Nutzung der Kompositionen im Zusammenhang mit Merchandising; und (E) gegebenenfalls die Nutzung und Performance von der (den) Masteraufnahme(n) der Kompositionen, die Sie besitzen und/oder kontrollieren und bei TuneCore, Inc. eingereicht haben, und die durch die AGBs von TuneCore, Inc. („Aufnahmen“) erfasst sind, einschließlich aber nicht beschränkt auf die Synchronisierung der Aufnahmen im Zusammenhang mit, aber nicht beschränkt auf Filme, Fernsehprogramme, Werbung und Videospiele zu gleichwertigen Bedingungen und Konditionen wie für die erteilten Lizenzen gemäß Paragraph 1(a)(ii)(C).</li>
          <li>Eine Lizenz zu erteilen oder anderen eine Lizenz für die Veröffentlichung von Druckversionen der Kompositionen zu erteilen.</li>
          <li>Anordnungen über Kompositionen zu treffen oder ansonsten alle Kompositionen in irgendeiner Weise anzupassen, zu verändern oder zu übersetzen, zum Beispiel das Recht zu lizenzieren, um (A) eine Komposition zu testen, (B) eine Komposition in einem sogenannten Mash-Up zu nutzen oder (C) eine Komposition in einer fremden Sprache aufzuzeichnen.</li>
          <li>Eine Vereinbarung einzugehen oder die Rechte des Unternehmens zu übertragen oder zu lizenzieren und/oder jegliche Verpflichtungen in dieser Vereinbarung an andere Lizenznehmer zu vom Unternehmen akzeptierten Bedingungen zu delegieren, einschließlich dem Recht, Lizenznehmer zu delegieren, um Anpassungen und/oder lokale Wiederaufnahmen einer Komposition durch Hinzufügen neuer Songtexte in der Landessprache zur Originalmusik zu suchen und zu beschaffen und/oder eine „Coverversion“ einer Komposition zu erstellen.</li>
          <li>Namen, Bilder und biografische Informationen zu verwenden, welche die Verfasser der Kompositionen im Zusammenhang mit der Nutzung und/oder Förderung der Kompositionen und der Geschäfte des Unternehmens betreffen.</li>
          <li>Die Aufnahmen gegebenenfalls laut oberem Paragraph 1(a)(ii)(E) und die zugrunde liegenden Kompositionen per Streaming, lizenzfrei und weltweit auf einer sicheren Synchronsierungs- „One-Stop-Shop“-Unternehmenswebsite (der „Unternehmens-Sync-Shop“) zu nutzen, anzuzeigen und bereitzustellen, ausschließlich für autorisierte Personen (z.B. Music Supervisors), die Audiodateien der Aufnahmen und/oder Kompositionen für potenzielle Synchronisierung von Dritten aufrufen, anhören und testen.</li>
        </ol>
      </li>
      <li>Hiermit ernennen Sie das Unternehmen zu Ihrem rechtmäßigen Vertreter und Bevollmächtigten (mit Substitutionsvollmacht und Befugnissen) für Erstellung, Ahmen verwaltet oder sofort auf Verlangen des Unternehmens bezahlt.</li>
      <li>Die in dieser Vereinbarung gewährten Rechte werden vom Unternehmen an eine oder mehrere seiner Musikverlag-Partnerorganisationen vergeben. Diese beinhalten Tunecore Digital Music (BMI), TuneCore Publishing (ASCAP), TuneCore Songs (SESAC) und weitere ähnte vorgestellt werden, vom Unternehmen auf Ihrem TuneCore Konto gutgeschrieben. Diese Beträge beinhalten auch alle folgenden zusätzlichen Gewinne aus dieser Synchronisation der Kompositionen (und gegebenenfalls Aufzeichnungen) und/oder lokaler Coverversionen (z.B. zusätzlirkäufe allein verantwortlich bleiben und Sie stimmen zu, dass Sie mit Bezug hierauf das Unternehmen für alle Ansprüche entschädigen werden.</li>
      <li>Sie erhalten Abrechnungen über Ihren Anteil der Bruttoeinnahmen und diese Gelder werden Ihrem TuneCore Konto innerhalb von fünfundvierzig (45) Tagen nach jedem Kalenderquartal für jedes vorherige Quartal gutgeschrieben. Nach der Gutschrift auf Ihrem Konto können Sie nach Belieben alles oder einen Teil abhebenitsrechts oder anderweitiger Rechte des geistigen Eigentums erhoben wird oder Nichteinhaltung der Lizenzpflicht von Dritten oder eine andere Forderung, die, wenn sie begründet ist, einen Verstoß gegen oder Nichteinhaltung Ihrer Zusicherungen, Garantien und Vereinbarungen hierunter darstellt, erklären Sie, dass das Unternehmen die Veröffentlichung Ihres Anteils an Bruttoeinnahmen in Bezug auf solche Kompositionen auf Ihr TuneCore Konto einstellen kann und Ihre Möglichkeit, anderweitig Gelder abzuziehen, blockiert, bis eine befriedigende Lösung der Angelegenheit erfolgt. Des Weiteren stimmen Sie zu, dass Sie solche Einnahmen einbüßen, wenn das Unternehmen feststellt, dass sie das Ergebnis einer Rechtsverletzung oder eines Betrugs sind.</li>
      <li>Für den Fall, dass das Unternehmen nach begründetem Ermessen feststellt, dass Sie oder Ihre Partner an rechtsverletzenden oder betrügerischen Handlungen oder Unterlassungen beteiligt sind, können, zusätzlich zu weiteren Ansprüchen des Unternehmens alle für das Unternehmen entstandenen Kosten (einschließlich gesetzlicher Gebühren und Abgaben), die damit verbunden sind, vom Unternehmen von allen Geldern, die Ihnen ansonsten vom Unternehmen ausgezahlt werden, abgezogen werder Organisationen, mit Ausnahme der an Sie zahlbaren Beträge.</li>
    </ol>
  </li>
  <li><strong>UNTERNEHMENSGEBÜHREN.</strong>
    <ol style="list-style-type: lower-alpha;">
      <li>Sie müssen dem Unternehmen einhtigt. Des Weiteren, wenn Sie aus irgendwelchen Gründen keine Zahlung vornehmen oder eine Zahlung durch die Zahlungsmethode oder eine andere Methode rückgängig gemacht wird, nachdem Sie diesen Allgemeinen Geschäftsbedingungen zugestimmt haben, wird das Unternehmen nach eigenem Ermessen für die Einrichtungsgebühr (pn dem Unternehmen mindestens sechzig (60) Tage vor dem Ende der Laufzeit eine schriftliche Kündigung.</li>
      <li>Das Unternehmen hat das Recht, alle Einnahmen bezüglich der Kompositionen, die vor der Administrationslaufzeit verdient, jedoch noch nicht erhoben wurden, einzubehalten, sowie alle (i) in den Vereinigten Staaten erzielten Einnahmen während der Administrationslaufzeit für einen Zeitraum von zwölf (12) Monaten direkt nach dem Ende der Administrationslaufzeit (oder gegebenenfalls der verlängerten Administrationslaufzeit),izenzen der Coverversionen von Kompositionen, die ursprünglich während der Administrationslaufzeit beschafft wurden), dem Unternehmen das exklusive Recht gewähren, die Inkasso- und Administrationsrechte it Sie dem Unternehmen die in diesem Abschnitt 7(b) erwähnten Materialien und Informationen nicht liefern, werden die Rechte an und für die Kompositionen nicht als Folge hiervon beeinträchtigt. Das Unternehmen ist nicht verantwortlich für die Nicht-Erhebung von Geldern oder mangelnden Urheberrechtsschutz bezüglich der betroffenen Komposition(en), die das direkte oder indirekte Ergebnis Ihrer Unterlassung sind.)</li>
    </ol>
  </li>
</ol>
