<h2 style="text-transform:uppercase;color:black;">Conditions générales de la publication, l'administration la synchronisation et de gestions des licenses de musique de Tunecore</h2>
<h3 style="margin-bottom: 20px;">En vigueur à compter du 1er juillet, 2018</h3>
<p>
Ces conditions générales modifient les conditions d'utilisation que vous avez précédemment conclues avec TuneCore, Inc. (« <strong>Société</strong> ») en ce qui concerne vos enregistrements, le cas échéant, car cet accord a été complété, amendé ou autrement modifié. Ceci est un accord légal entre vous et la Société. La Société se réserve le droit à tout moment de modifier, d'interrompre ou de résilier le Site et les Services, ou de modifier les Conditions d'utilisation sans préavis. Toutes les conditions générales modifiées, lorsqu'elles sont publiées sur le Site, remplacent l'accord préalable entre vous et la Société, et ces Conditions générales révisées constituent l'intégralité de l'accord entre vous et la Société. En continuant à utiliser ou à accéder au Site et / ou aux Services après que la Société a effectué une telle modification, vous acceptez d'être légalement lié par les Conditions d'utilisation révisées. Vous ne pouvez pas modifier les Termes et Conditions des Conditions d'utilisation sans le consentement écrit explicite de la Société. Les termes en majuscules utilisés ici sans définition ont leurs significations respectives assignées dans les Conditions d'utilisation.
</p>
<p style="text-transform:uppercase;font-weight:bold;">
VOUS COMPRENEZ QU'EN UTILISANT LES SERVICES ET VOTRE COMPTE TUNECORE, VOUS ACCEPTEZ D'ÊTRE LIÉ PAR LES CONDITIONS DE SERVICE, Y COMPRIS CETTE MODIFICATION. SI VOUS N'ACCEPTEZ PAS LES CONDITIONS DE SERVICE DANS LEUR ENSEMBLE, VOUS NE POUVEZ PAS ACCÉDER OU UTILISER LES SERVICES.
</p>

<p>
<ol style="list-style-type: decimal;">

<li><strong>OCTROI DE DROITS</strong></li>
  <ol style="list-style-type: lower-alpha">


<li>	En cliquant sur le bouton « J'accepte », vous accordez (et êtes légalement autorisé à accorder) à la Société, ses successeurs, licenciés et ayants droit, dans le monde entier (le « Territoire ») et pendant la Durée d'administration (définie à la section 5 ci-dessous), le seul et exclusif droit :
  <ol style="list-style-type: lower-roman">

<li>d'être l'administrateur des compositions musicales possédées ou contrôlées,
en tout ou en partie, par vous, dans toute la mesure de votre intérêt, et soumis par vous au Service pendant la Durée de l'Administration (les « Compositions »).

<li>De permettre et autoriser d'autres personnes à obtenir une licence et percevoir tous les revenus liés à
toute exploitation des Compositions. Sans limitation, la Société a le droit d'autoriser : (A) des diffusions et des représentations publiques numériques ; (B) la fabrication, la reproduction, la distribution et la vente d'enregistrements contenant une ou plusieurs compositions, à la fois physiquement, numériquement et électroniquement ou dans tout autre format ou média ; (C) la synchronisation des compositions en relation avec, mais sans s'y limiter, des films cinématographiques, des émissions de télévision, des publicités, des jeux vidéos et des sites et services vidéos en ligne tels que YouTube ; (D) l'utilisation des Compositions dans le cadre d'activités de marchandisage, de parrainage ou d'endossement ; et (E) le cas échéant, l'utilisation et l'exécution de tout enregistrement principal des Compositions que vous possédez ou contrôlez, qui ont été soumises à la Société et sont régies par les Conditions Générales de la Société (« Enregistrements »), notamment, mais non limitée, à la synchronisation des Enregistrements en relation avec, mais sans s'y limiter, des films cinématographiques, des émissions de télévision, des publicités, des jeux vidéos, selon les mêmes Conditions Générales que les licences accordées conformément au paragraphe 1(a) (ii) (C) des présentes.

<li>Pour publier ou autoriser des tiers à publier, des versions imprimées des
 Compositions

<li>Pour prendre des dispositions, ou adapter, changer ou traduire, toute
Composition de quelque manière que ce soit. Par exemple, pour obtenir le droit (A) d’échantillonner une composition, (B) d’utiliser une composition dans un soi-disant mélange, ou (C) d’enregistrer ou réenregistrer une composition dans une langue étrangère.

<li>Pour conclure des accords avec, ou céder ou concéder sous licence l'un des
 droits et / ou déléguer l'une quelconque de ses obligations, en vertu du présent accord, à des tiers licenciés aux conditions acceptables pour la Société, y compris le droit de déléguer des licences pour rechercher et obtenir des adaptations et / ou ré-enregistrements locaux d'une Composition, par des moyens d'ajouter de nouvelles paroles en langue locale à la musique originale et / ou de créer la « version de couverture » d'une composition.

<li>Octroyer, administrer et collecter des fonds sous licence générale pour l'utilisation de Compositions dans des vidéos, des « pistes d'art », des vidéos générées par les utilisateurs et d'autres programmes audiovisuels.  En ce qui concerne YouTube, les droits de la société incluent le droit d'identifier, de réclamer et de monétiser des vidéos contenant des compositions en autorisant l'affichage de publicités.

<li>Utiliser des noms, des ressemblances et des informations biographiques concernant
les auteurs des Compositions dans le cadre de l'exploitation et / ou de la promotion des Compositions et pour la promotion des affaires de la Société.

<li>Pour utiliser, afficher et rendre disponibles les Enregistrements, le cas échéant, conformément
 au paragraphe 1 (a) (ii) (E) ci-dessus, et les Compositions sous-jacentes, sur une base mondiale, gratuite, par le biais des sites Web, canaux et profils de la Société exclusivement destinés aux personnes autorisées (par exemple, superviseurs musicaux) pour accéder, écouter et tester les fichiers audio des Enregistrements et / ou Compositions pour un placement potentiel de synchronisation par un tiers.
</ol>
<li>Vous nommez par la présente la Société comme votre agent et mandataire véritable et légal (avec pleins pouvoirs de substitution et de délégation) pour fabriquer, exécuter et livrer tous documents, instruments et écrits dans la Société et / ou votre nom et pour prendre toute autre mesure dans Société et / ou votre nom qui, dans le jugement commercial raisonnable de la Société est nécessaire ou souhaitable pour réaliser les objectifs de cet accord.
</ol>
</p>

<p>
  <li><strong>PAIEMENTS.</strong></li>
<ol style="list-style-type: lower-alpha">

<li>La Société doit percevoir tous les Recettes brutes gagnées par les Compositions, y compris toutes les sommes gagnées par les Compositions avant le début de la Durée d'Administration mais pas encore collectées.
<li>Les « recettes brutes » sont définies dans cet accord comme étant toutes les recettes provenant de l'exploitation des compositions (et des enregistrements, le cas échéant, en rapport avec la licence de synchronisation) et reçues par la société, uniquement pour les frais d'arrangeurs, d'adaptateurs et de traducteurs (toujours aux règles et pratiques de la société de recouvrement locale), les déductions fiscales et / ou les commissions standard déduites par les agences de recouvrement et / ou sociétés de bonne foi, les commissions et / ou les commissions des sous-éditeurs et / ou des commissions et / ou les agents de licences de synchronisation tiers utilisés dans n'importe quelle partie du Territoire.
  <ol style="list-style-type: lower-roman">

<li>Quatre-vingt-cinq pour cent (85 %) des recettes brutes tirées de l'exploitation des compositions sur le territoire, y compris, mais sans s'y limiter, les redevances mécaniques, les revenus imprimés et la soi-disant «part de l'éditeur » du revenu public de performance, seront créditées sur votre compte TuneCore, sauf comme indiqué ci-dessous. La société sera autorisée à conserver quinze pour cent (15 %) des recettes brutes.
<li>Nonobstant ce qui précède, 80 % des recettes brutes résultant de la synchronisation des compositions (et des enregistrements, le cas échéant) avec des films, des vidéos, des cassettes ou d'autres images visuelles permanentes seront crédités sur votre compte TuneCore.
<li>Pour éviter tout doute, les paiements indiqués ci-dessus comprennent toutes les redevances d'auteur-compositeur, excluant uniquement la « part de l'auteur » des revenus de la performance publique, qui doit être versée directement à vous ou à tout autre auteur-compositeur tiers de la (des) société (s) de performance applicable (s).
</ol>
<li>Sur votre demande écrite spécifique, les compositions incluses dans les sorties d'artistes ne seront pas soumises à des paiements de redevances mécaniques en vertu du présent accord. Les « sorties d'artistes » sont définies comme des produits auto-produits (c.-à-d. des disques que vous avez publiés sans aucune participation de tiers) que vous vendez uniquement lors de vos représentations en direct ou sur votre propre site Web. Si vous demandez une renonciation à des redevances mécaniques sur une sortie d'artiste, vous acceptez de rester responsable des paiements dus aux coéditeurs et / ou co-auteurs en ce qui concerne les ventes, et vous acceptez d'indemniser la Société contre toute toutes les réclamations à cet égard.
<li>Vous recevrez des relevés de votre part des recettes brutes, et de telles sommes créditées sur votre compte TuneCore dans les quarante-cinq (45) jours suivant la fin de chaque trimestre civil pour chacune de ces périodes trimestrielles précédentes.  Une fois le paiement crédité sur votre compte, vous pourrez retirer tout ou une partie à votre discrétion. Vous serez responsable de tous les frais bancaires ou autres frais liés à ces retraits. Toute objection relative à une déclaration comptable ou à toute réclamation légale en découlant doit être faite (et toute poursuite engagée) au plus tard un (1) an après la date à laquelle la déclaration vous est initialement envoyée, et vous renoncez à ce que toute prescription plus longue puisse être autorisée par la loi.

<li>Dans le cas où la Société a, à sa discrétion, raison de suspecter que toute Composition soumise par vous à la Société n'est pas conforme aux termes de la section 4 ci-dessous, ou s'il est présenté à la Société une réclamation de violation du droit d'auteur, marque, droit ou publicité, ou tout autre droit de propriété intellectuelle, le non-respect d'une exigence de licence tierce ou toute autre revendication qui, si elle est vraie, constituerait votre violation ou votre non-respect de vos déclarations, garanties et accords ci-dessous, vous acceptez que la Société puisse interrompre l'affichage de votre quote-part des recettes brutes à l'égard de cette composition sur votre compte TuneCore et bloquer votre capacité à en retirer des fonds jusqu'à ce que vous ayez obtenu une résolution satisfaisante du problème. De plus, vous acceptez que vous perdrez ces revenus si la Société détermine qu'ils sont le résultat d'une infraction ou d'une fraude.

<li>Si la Société, à sa discrétion raisonnable, détermine que des activités illégales ou frauduleuses peuvent avoir été causées par vos actes ou omissions de votre part ou de la part de vos affiliés, tous les frais encourus par la Société (y compris les frais juridiques) peuvent, en plus des autres recours, être déduit par la Société de toute somme qui vous serait payée par la Société. En outre, si, dans le jugement commercial raisonnable de la Société, elle choisit d'engager un avocat pour examiner et / ou répondre à une réclamation de fraude et / ou de contrefaçon à l'égard d'une Composition, la Société aura, à sa seule discrétion, le droit de déduire de votre compte TuneCore ou facturer votre mode de paiement (défini à la section 6 (b) ci-dessous) un minimum de trois cents dollars (300$) pour compenser les frais juridiques et les frais connexes.
</ol>
</p>

<p>
  <li><strong>PROCÉDURES JUDICIAIRES ET RÈGLEMENTS.</strong></li>
<ol style="list-style-type: lower-alpha">
 
<li>La Société aura le droit, mais non l'obligation de poursuivre, défendre et régler toutes les réclamations et actions relatives aux Compositions, et généralement de faire tout ce qui est nécessaire concernant les mêmes et les droits d'auteur ou autres droits relatifs aux Compositions ; toutefois, la Société ne doit pas régler les réclamations sans votre consentement (autre que stipulé dans la section 3 (b) ci-dessous). En cas de recouvrement par la Société, ou vous-même, de sommes d'argent à la suite d'un jugement ou d'un règlement, ces sommes seront réparties entre vous et la Société dans les mêmes actions que celles prévues à l'article 2, après déduction des frais pour l'obtention de ces fonds, y compris les frais juridiques raisonnables et les dépenses. Vous avez le droit de vous trouver un conseiller, d'assister ou d'assumer la poursuite ou la défense d'une telle affaire, mais à vos frais. Tout jugement contre la Société et tout règlement par la Société des réclamations contre elle concernant l'une des Compositions, ainsi que les frais et dépenses, y compris, mais sans s'y limiter, les frais et dépenses juridiques, seront soumis aux dispositions d'indemnisation des Conditions de service, et votre indemnités seront versées à la Société à partir de toutes les sommes qui pourraient vous être dues en vertu de tous les comptes que vous possédez et que vous administrez par la Société ou rapidement sur demande de la Société. 

<li>Nonobstant toute disposition contraire aux présentes, la Société aura le droit, mais non l'obligation, d'opter pour son catalogue de compositions administrées (y compris les Compositions) en accords de licence et règlements à l'échelle de l'industrie pour le recouvrement des redevances présentées et approuvées par les groupes de revendication. comme la National Music Publishers Association sans votre consentement préalable.
</ol>
</p>

<p>
  <li><strong>OBLIGATIONS DE TIERS.</strong></li>


<p>Vous serez seul responsable du paiement de toute compensation, le cas échéant, et des autorisations requises de, auteurs-compositeurs, concédants de licence, participants au revenu et autres tiers à qui vous êtes obligé de payer une partie du revenu provenant de l'une des compositions. Vous garantissez et déclarez que tous ces auteurs, concédants de licence, participants au revenu et autres tiers auxquels vous êtes obligés de payer une partie du revenu provenant des Compositions se tourneront uniquement vers vous pour de tels paiements et vous acceptez par la présente d'indemniser la Société et de détenir L'entreprise est exempte de toute réclamation, demande ou action de la part de tels auteurs, concédants de licence, participants au revenu et autres tiers pour de tels paiements conformément aux dispositions d'indemnisation des Conditions d'utilisation.
</p></p>

<p>
  <li><strong>ADMINISTRATION TERME / POST-TERME.</strong></li>
<ol style="list-style-type: lower-alpha">

<li>La « durée d'administration » de la présente entente sera pour une période initiale d'un (1) an, à compter de la date à laquelle les frais d'établissement (définis au paragraphe 6 (a) ci-dessous) sont reçus et traités par la Société. Après la période initiale, la période d'administration sera automatiquement renouvelée et prolongée pour des périodes trimestrielles supplémentaires, à moins que vous ne donniez à la Compagnie un avis écrit de résiliation au moins quarante-cinq (45) jours avant la fin de la période alors en vigueur.

<li>La Société aura le droit de percevoir tous les revenus relatifs aux Compositions gagnées avant le début de la Durée d'Administration, mais pas encore collectés.  Après l'expiration de la Durée d'Administration, la Société aura le droit de : (i) percevoir toutes les redevances gagnées pendant la Durée d'Administration et perçues dans les douze (12) mois pour les États-Unis et dix-huit (18) mois pour le monde en excluant les États -Unis après l'expiration de la Durée de l'administration, et (ii) émettre toute option, prolongation ou renouvellement de toute licence émise par la Société pendant la Durée de l'Administration.
</ol>
</p>

<p>
  <li><strong>FRAIS DE LA COMPAGNIE.</strong></li>
<ol style="list-style-type: lower-alpha">

<li>Vous devrez payer à la Société des frais non-remboursables uniques (les « frais de dossier »), tels qu'ils sont indiqués sur le site Web de la Société, pour couvrir les frais administratifs de la Société pour la mise à jour de votre catalogue de Compositions.

<li>Vous convenez que la Société est autorisée à déduire les frais d'installation, les taxes et autres frais applicables liés à votre utilisation des services d'administration directement de votre compte TuneCore ou à facturer ces frais à tout autre mode de paiement que vous fournissez à la Société (comme un compte PayPal valide, carte de crédit ou carte de débit, tous des « moyens de paiement »). Pour éviter toute ambiguïté, si vous ou la Société résilie le présent contrat pour l'une des raisons énoncées dans le présent document, vous n'aurez pas droit à un remboursement total ou partiel des frais de dossier. En outre, si pour une raison quelconque vous ne parvenez pas à effectuer un paiement ou qu'un paiement est inversé ci-dessous via le mode de paiement, ou toute autre méthode après avoir accepté les présentes Conditions d'utilisation, la Société sera autorisée à récupérer, à sa seule discrétion (plus des frais administratifs de 25 dollars ($25.00), par tous les moyens nécessaires, y compris le droit de garder votre compte actif et de percevoir les redevances qui en résultent jusqu'à ce que les frais de mise en place soient intégralement récupérés. Il vous incombe d'aviser la Société de la modification de votre méthode de paiement en apportant les modifications appropriées aux paramètres de votre compte TuneCore. Si vous ne fournissez pas un mode de paiement valide, votre service peut être déconnecté ou interrompu à la seule discrétion de la Société.
</ol>
</p>

<p>
  <li><strong>GARANTIES ET REPRÉSENTATIONS.</strong></li>

<p>
Vous garantissez et déclarez que vous avez au moins dix-huit (18) ans et que toutes les Compositions, y compris, mais sans s'y limiter, tout matériel tiers interpolé incorporé, les métadonnées et tout autre matériel fourni par vous à la Société ou concernant les compositions sont détenues ou contrôlées par vous et leur utilisation telle que décrite ou envisagée dans les présentes ne doit pas enfreindre les droits d'auteur, droits de marque, droits de publicité ou autres droits de toute personne ou entité ; ne sont ni diffamatoires ni criminellement obscènes ; et cette Société a le droit de les exploiter de quelque manière que ce soit en vertu des présentes et sans aucune obligation de faire un paiement de quelque nature que ce soit à toute personne ou entité autre que les montants qui vous sont payables ci-dessous.
</p></p>

<p>
  <li><strong>DOCUMENTS.</strong></li>
<ol style="list-style-type: lower-alpha">
<li>À la demande de la Société, vous devez signer et remettre à la Société tous les documents requis concernant les droits accordés de la Société dans les Compositions, et si vous omettez de le faire dans les dix (10) jours ouvrables suivant la demande de la Société en votre nom.

<li>Parallèlement à votre acceptation de cette modification, vous fournirez à la Société des copies de toutes les licences existantes ou d'autres accords concernant les Compositions. De plus, vous acceptez d'informer la Société de chaque version enregistrée de toute Composition pendant la Durée de l'Administration dès que raisonnablement possible après que vous en ayez pris connaissance. Si et dans la mesure où vous omettez de fournir à la Société l'un quelconque des matériaux et informations mentionnés dans cette section 8 (b), les droits de la Société sur les Compositions ne seront pas affectés en conséquence. La Société ne sera pas responsable de tout défaut de collecte de fonds ou absence de protection du droit d'auteur à l'égard de la(des) Composition(s) affectée(s), qui résulte directement ou indirectement d'un tel échec de votre part.
</ol>
</p>

</ol>
</p>
