<h2 style="text-transform:uppercase;color:black;">AMENDEMENT ADMINISTRATIF DES TERMES ET CONDITIONS DE TuneCore</h2>
<h3 style="margin-bottom: 20px;">Mise en œuvre à partir du 12 décembre 2013</h3>

<p style="font-weight: bold;">VOUS COMPRENEZ QU'EN UTILISANT LES SERVICES ET VOTRE COMPTE TuneCore , VOUS ACCEPTEZ D' ÊTRE LIÉ PAR LES CONDITIONS D'UTILISATION (AMENDEMENT PRÉSENT INCLUS). SI VOUS N'ACCEPTEZ PAS L'INTÉGRALITÉ DES CONDITIONS D'UTILISATION, VOUS NE POURREZ PAS ACCÉDER AUX OU UTILISER LES SERVICES.</p>

<p>Veuillez lire les termes et conditions suivants, ils modifient les Termes de services que vous avez précédemment signés avec TuneCore TuneCore, Inc. (“TuneCore”) en ce qui concerne les Enregistrements. Ce contrat vient d'être remplacé ou modifié. C'est un contrat légal passé entre vous et TuneCore. TuneCore se réserve le droit de modifier, d'interrompre ou de mettre un terme à tout moment à ses Sites et Services, ou de modifier les Termes de Service sans préavis. Tous les termes et/ou conditions modifiés remplaceront le contrat précédent passé entre vous et TuneCore lorsqu'ils seront postés sur le Site. Les Termes et Conditions en question constitueront le contrat complet entre vous et TuneCore. En continuant à visiter le Site et/ou les Services après que des modifications aient été faites par TuneCore, vous acceptez légalement les Termes de Services modifiés. Vous ne pouvez pas modifier les Termes et conditions des Termes de Service sans l'accord expresse et écrit de TuneCore. Les termes écrits ici avec une majuscule sont définis dans les Termes de Service.</p>

<ol style="list-style-type: decimal;">
  <li><strong>OCTROI DES DROITS.</strong>
    <ol style="list-style-type: lower-alpha">
      <li>En cliquant sur le bouton « J'accepte », vous accordez irrévocablement à TuneCore Digital Media, Inc (« La société ») dans le monde entier (le « Territoire ») et pendant la Durée administrative (telle que définie à l'article 6 ci-dessous), le droit exclusif:</li>
        <ol style="list-style-type: lower-roman">
          <li>D'être l'administrateur des compositions possédées et contrôlées par vous-même, entièrement ou en partie, dans l'entière mesure de vos intérêts indiqués ici, et inclus dans le planning ci-joint de compositions musicales (les « Compositions »). Vous prenez en compte toute Composition qui n'est pas actuellement possédée ou immatriculée dans une société établie par vous-même, vous nommez la Société comme votre éditeur choisi pour ces Compositions au cours de la Durée administrative.</li>
          <li>D'exploiter et de permettre à d'autres d'exploiter et de percevoir tous les revenus concernant l'exploitation des Compositions. Sans limitations, la Société aura le droit d'exploiter : (A) la diffusion classique et numérique des performances publiques ; (B) la manufacture, reproduction, la distribution et la vente de disques représentant une Composition ou plus, que ce soit physiquement ou numériquement ; (C) la synchronisation des Compositions concernant (mais pas seulement) les films, les émissions télévisées, les publicitiés et les jeux vidéos ; (D) l'utilisation des Compositions concernant des activités de merchandising ; et (E) si c'est possible, l'utilisation et la diffusion de tout enregistrement en mastering des Compositions que vous possédez et/ou contrôlez, et qui ont été soumises à TuneCore Inc et sont régies par les Termes de Service de TuneCore Inc. (« Enregistrements »), y compris (mais pas seulement), les synchronisations des Enregistrements concernant (mais pas seulement) les films, les émissions télévisées, les publicités, et les jeux vidéos soumis aux mêmes termes et conditions que les licences d'exploitation octroyées dans dans le paragraphe 1(a)(ii)(C) ci-inclus.</li>
          <li>De publier ou de permettre à d'autres de publier des versions imprimées des Compositions.</li>
          <li>De faire des arrangements de, ou alors adapter, modifier ou traduire, toute Composition de n'importe quelle façon. Par exemple, de donner le droit (A) d'utiliser un extrait de la Composition, (B) d'utiliser la Composition dans un mixage, ou (C) d'enregistrer une Composition dans une langue étrangère.</li>
          <li>De signer des accords avec, ou assigner ou céder les droits de la Société et/ou de déléguer ses obligations selon les termes de ce contrat avec une tierce partie et selon des termes acceptables pour la Société, comprenant le droit de donner le droit aux tierces parties de rechercher et de se procurer des adaptations et/ou des ré-enregistrements d'une Composition, en ajoutant de nouvelles paroles locales à la musique originale et/ou de créer une « reprise » d'une Composition.</li>
          <li>D'utiliser des noms, des ressemblances et des informations biographiques concernant les auteurs des Compositions en relation avec l'exploitation et/ou la promotion des Compositions et pour promouvoir les affaires de la Société.</li>
          <li>D'utiliser, afficher et rendre disponible les Enregistrements, selon le paragraphe 1(a)(ii)(E) ci-dessus, et les Compositions sous-jacentes sur une base d'écoute en streaming, sans royalties et à échelle internationale à l'aide d'un site de synchronisation sécurisé « One Stop Shop » de la Société (la « Plateforme Synchro de la Société »), uniquement pour les personnes autorisées (par exemple, les responsables musique) afin qu'elles puissent avoir accès, écouter et tester les fichiers audio des Enregistrements et/ou des Compositions pour un placement synchronisé potentiel avec une tierce partie.</li>
        </ol>
      </li>
      <li>Par la présente, vous investissez la Société comme votre agent légal et mandataire (avec les pleins pouvoirs de subsitituion et de délégation) pour effectuer, exécuter et livrer tout document, instrument ou écrit au nom de la Société de de vous-même, ce qui, selon le bon jugement de la Société sera nécessaire pour le bon déroulement de ce contrat.</li>
      <li>La Société aura le droit, mais ne sera pas dans l'obligation de poursuivre, défendre et de régler les différends concernant toute allégation et action en relation avec les Compositions, et plus généralement d'effectuer toutes les actions nécessaires concernant les droits d'auteur et les autres droits en rapport avec les Compositions. Cependant, il est attendu que la Société ne réglera pas les allégations sans vote accord. Dans le cas de figure où des sommes ont été recouvrées par la Société ou vous-même après un jugement, ces sommes seront divisées entre vous et la Société, selon le schéma de partage indiqué dans la section 2(c) ci dessous, après déduction des dépenses engagées pour le recouvrement des sommes, comprennent les frais d'avocats et les dépenses raisonnables. Vous aurez le droit de vous faire représenter par un avocat, pour vous assister ou vous défendre dans ces situations, mais à vos frais. Tout jugement contre la Société ou tout règlement de différends par la Société d'allégation en rapport avec les Compositions, Partenaires aux coûts et dépenses comprenant sans aucune limitations les frais et dépenses légales, seront assujettis aux prévisions d’indemnisations des Termes de Service, et vos indemnités seront payées à la Société à partir de toute somme qui pourrait vous être due en raison de tout compte en votre possession et administré par la Société, ou sous demande rapide de la Société.</li>
      <li>Les droits octroyés selon ce Contrat devront être assignés par la Société à une ou plusieurs de ses filiales d'édition musicale. Elles comprennent TuneCore Digital Music (BMI), TuneCore Publishing (ASCAP), TuneCore Songs (SESAC) et d'autres sociétés similaires structurées pour l'affiliation avec des organisations et sociétés de perception existantes sur le Territoire. De plus, vous prenez connaissance et acceptez que la Société pourrait, à sa seule discrétion, attribuer certains de vos droits via TuneCore New Media Administration directement et exclusivement aux plateformes dédiées aux utilsateurs finaux (par exemple, Apple, Spotify, Amazon, etc.) sans rapport avec votre statut d'auteur-compositeur avec les mêmes plateformes.</li>
    </ol>
   </li>
   <li><strong>PAIEMENTS.</strong>
    <ol style="list-style-type: lower-alpha;">
      <li>La Société pourra collecter les Revenus Bruts des Compositions, ce qui comprend toutes les sommes gagnées par les Compositions avant le début des Termes d'Administration mais pas encore collectés.</li>
      <li>« Revenus Bruts » est un terme défini dans ce contrat comme étant tout revenu dérivant de l'exploitation des Compositions (et des Enregistrements, si applicable, en rapport avec les droits de synchronisation) et reçus par la Société, dont seront uniquement déduits les taxes et/ou les commissions standard des droits de performances dues à des sociétés de bonne foi opérant à proximité, des sociétés de droits mécaniques opérant à proximité ou tout autre agent de perception dans le Territoire.
        <ol style="list-style-type: lower-roman">
          <li>Quatre-vingt-dix pour cent (90 %) des Revenus Bruts seront versés sur votre compte TuneCore, à l'exception des cases indiquées ci-dessous. La Société aura la permission de conserver dix pour cent (10 %) des Revenus Bruts.</li>
          <li>Compte tenu de ce qui précède, quatre-vingt pour cent (80 %) des revenus Bruts résultant de la synchronisation des Compositions (et des Enregistrements, si applicable) avec des films, des cassettes et autres supports visuels permanents ou reprises des Compositions, uniquement dans la mesure introduite par, ou avec le réseau de contacts de la Société, seront versés sur votre compte TuneCore. Ces sommes incluront également tout les revenus supplémentaires provenant de la synchronisation des Compositions (et les Enregistrements, si applicable) et/ou des reprises locales (par exemple, licence de synchronisation supplémentaire, licence mécanique, royalties provenant de performance publiques en relation avec une utilisation sécurisée, etc.)</li>
        </ol>
      </li>
      <li>À votre requête écrite et spécifique, les Compositions inclues dans les Sorties de l'Artiste ne seront pas sujettes aux paiements de royalties mécaniques dans le cadre de ce contrat. Les « Sorties de l'Artiste » sont définies comme des articles auto-produits (par exemple, les disques que vous avez sortis sans l'intervention d'une tierce partie) qui sont uniquement vendus par vous-même lors de performances en live ou sur vote propre site internet. Si vous faites une demande d'exonération des royalties mécaniques sur une Sortie d'Artiste, vous acceptez de rester responsable de tout paiement dû à vos co-producteurs et/ou co-auteurs par rapport aux ventes et vous acceptez d'indemniser la Société en cas d'allégation à ce sujet.</li>
      <li>Vous recevrez des relevés de vos parts des Revenus Bruts, et ces sommes seront versées sur vote compte TuneCore dans les quarante-cinq (45) jours qui suivront la fin du trimestre précédent. Une fois le paiement versé sur votre compte, vous pourrez en retirer une portion ou la totalité, à votre discrétion. Vous aurez à votre charge tout frais bancaire ou autre charge découlant de cette action. Toute objection en rapport avec un relevé de comptabilité ou pour autre allégation légale s'y rapportant, devra être faite (et la procédure devra être lancée) dans l'année qui suit la date du relevé reçu par vous, et vous renoncez à un délai plus long qui pourrait être prévu par la loi.</li>
      <li>Les Revenus Bruts sur votre compte TuneCore seront retenus par la Société dans un compte générant des intérêts. La Société pourra, à sa seule discrétion conserver tous les intérêts perçus sur les Revenus Bruts ou vous les payer en partie ou en totalité.</li>
      <li>Si la Société a, en toute bonne foi, une raison de suspecter qu'une de vos Compositions soumise à la Société ne respecte pas les termes de la Section 4 ci-dessous, ou si la Société reçoit une allégation de violation des lois de droits d'auteur, marque déposée, droits ou propriété intellectuels, ou de manquement à respecter les exigences des licences d'un tiers, ou toute autre allégation qui, si elle est fondée, constituerait une violation, ou un non-respect de vos représentations, garanties et contrats ci-dessous, vous acceptez que la Société interrompe les versements de votre part des revenus bruts en rapport avec les Compositions concernées sur votre compte TuneCore et vous empêche de retirer les fonds concernés jusqu'à ce qu'une résolution du conflit ait été obtenue. De plus, vous acceptez de renoncer à ces revenus si la Société détermine qu'ils ont été générés par violation ou fraude.</li>
      <li>Si la Société, à sa discrétion et dans la limite du raisonnable, détermine que des activités illégales ou frauduleuses ont été causées par vous-même ou par vos affiliés, par leurs actes ou leurs oublis, la Société retiendra alors tous les frais (frais juridiques compris) en connexion et en plus des autres ressources qui sinon, vous seraient dues. De plus, si la Société décide à sa discrétion et dans la limite du raisonnable d'engager un avocat pour examiner ou répondre à une allégation de fraude et/ou de violation en relation avec un ou plusieurs Compositions, la Société aura, à sa discrétion le droit d'en déduire les frais de votre compte TuneCore ou de se les faire payer par votre Moyen de paiement (déterminé dans la Section 5(b) ci-dessous) avec un minimum de trois cents dollars (300 $) pour faire face aux coûts et dépenses liés à une procédure judiciaire.</li>
    </ol>
  </li>
  <li><strong>OBLIGATIONS AUX TIERS.</strong>
    <p>Vous serez seul responsable du paiement de toute compensation due aux compositeurs, exploitants, participants aux revenus, et autres tierces parties auxquelles vous devrez payer une portion de votre revenu généré par les Compositions. Vous êtes le garant et représentant de ces auteurs, exploitants et participants aux revenus et autres tierces parties auxquelles vous devrez payer une portion de votre revenu généré par les Compositions, qui s'adresseront uniquement à vous pour ces paiements et vous acceptez par la présente d'indemniser la Société et renoncez à la poursuivre en raison de ces allégations, demandes ou actions faites par tout compositeur, exploitant ou participant aux revenus ou autre tierce partie pour tout paiement prévu par les provisions d'indemnisation dans les Termes de Service.</p>
  </li>
  <li><strong>GARANTIES ET REPRÉSENTATIONS.</strong>
    <p>Vous déclarez et garantissez que vous êtes âgé d'au moins dix-huit (18) ans et que toutes les Compositions, y compris, mais non limité à, tout matériel tiers interpolé qui y est consacré, les métadonnées, et tout autre matériel fourni par vous à la Société ou relatif aux Compositions, sont détenues ou contrôlées par vous et l'utilisation de celles-ci telle que décrite ou envisagée ici ne doit pas empiéter sur les droits d'auteur, les droits des marques, les droits de publicité ou autres droits de toute personne ou entité ; et que la société a également le droit d'en faire l'exploitation de quelque manière que ce soit en vertu de la présente, sans opposition et sans aucune obligation de faire un paiement de quelque nature à toute personne ou entité autre que pour les montants qui vous sont dus en vertu de la présente.</p>
  </li>
  <li><strong>FRAIS DE LA SOCIÉTÉ</strong>
    <ol style="list-style-type: lower-alpha;">
      <li>Vous devrez payer à la Société un forfait unique, non remboursable (les « Frais de mise en service »), comme indiqué sur le site internet de la Société, pour couvrir les dépenses administratives de la Société relatives à la mise à jour de votre catalogue de Compositions.</li>
      <li>You acceptez que la Société soit autorisée à deduire les Frais de mise en service, toute taxe applicable et tout autre frais à votre charge lors de votre utilisation de nos services administratifs directement de votre compte TuneCore ou de se faire payer ces frais sur un Moyen de Paiement alternatif que vous fournirez à la Société (par exemple, un compte Paypal valide, une carte de crédit ou de débit). Pour éviter tout doute, si vous ou la Société mettez un terme à cet accord pour une raison indiquée ici, vous n'aurez pas droit à un remboursement, entier ou partiel, des Frais de mise en service. De plus, si pour toute raison, nous ne faites pas le paiement ou si le paiement est annulé via le Moyen de Paiement ou via une autre méthode après avoir accepté ces Termes de Service, la Société aura le droit de recouvrer, à sa discrétion, les Frais de mise en service (en plus d'un montant supplémentaire de vingt-cinq dollars (25 $) pour frais administratifs), par tous les moyens nécessaires, y compris le droit de garder votre compte actif et d'y percevoir des royalties jusqu'à ce que les frais de mise en service soient entièrement recouvrés. Il est de votre responsabilité de notifier la Société si votre moyen de paiement a changé en faisant les modifications nécessaires sur votre compte TuneCore. Si vous ne fournissez pas une méthode de paiement valide, votre service peut être interrompu ou désactivé à la discrétion de la Société.</li>
    </ol>
  </li>
  <li><strong>TERME D'ADMINISTRATION/PÉRIODE DE COLLECTE POST-TERME/PÉRIODE DE RÉTENTION.</strong>
    <ol style="list-style-type: lower-alpha;">
      <li>Le « Terme d'Administration » de ce contrat est prévu pour une période initiale de un (1) an, débutant le jour ou les Frais de mise en service sont reçus, et traités par la Société. Après cette période initiale, le Terme d'Administration sera automatiquement renouvelé pour une durée de un (1) an, jusqu’à ce que vous notifiez la Société par écrit de votre résiliation au moins soixante (60) jours avant la fin de la période en cours.</li>
      <li>La Société aura la droit de percevoir tous les revenus en relation avec les Compositions gagnés avant le début du Terme d'Administration mais pas encore perçus, et également tout (i) revenu généré aux États-Unis durant la période d'Administration pour une durée de douze (12) mois immédiatement subséquents à la fin de du Terme d'Administration (ou, si applicable, du Terme rallongé d'Administration) uniquement dans le cas où ces revenus n'ont pas été versés à la Société au cours du Terme d'Administration et (ii) tout revenu généré en dehors des États-Unis au cours de du Terme d'Administration pour une période de dix-huit (18) mois immédiatement subséquents à la fin du Terme d'Administration (ou si applicable, du Terme rallongé d'Administration) uniquement dans le cas où de tels revenus ne seraient pas versés à la Société au cours du Terme d'Administration.</li>
      <li>De plus vous reconnaissez et acceptez que pour toute Composition pour laquelle les services artistiques de la Société et/ou une tierce partie réservent une licence (ex., les reprises locales des Compositions, les compilations imprimées locales, la synchronisation des licences pour les reprises qui ont été fournies au cours du terme d'Administration), vous octroyez à la Société le droit exclusif de continuer à exercer ses droits de perception et d'administration pour une période de rétention rallongée de trois (3) ans à partir de la fin du Terme d’Administration, pour la Composition en question.</li>
    </ol>
  </li>
  <li><strong>DIVERS.</strong>
    <ol style="list-style-type: lower-alpha;">
      <li>À la requête de la Société, vous devrez exécuter et fournir à la Société tous les documents nécessaires concernant les Droits de la Société pour les Compositions, et si vous ne les présentez pas dans les dix (10) jours ouvrables qui suivent la requête de la Société, la Société pourra signer de tels documents en votre nom.</li>
      <li>Simultanément à votre exécution de cet amendement, vous devrez fournir à la Société des copies de toute licence déjà existante ou autre contrat en rapport avec les Compositions. Vous acceptez par ailleurs de notifier la Société de chaque version enregistrée durant le Terme d'Administration, et dans un délai raisonnablement pratique après en avoir été informé. Dans la mesure où vous ne fournissez pas à la Société les matériaux et informations demandés dans cette section 7(b), les droits de la Société envers les Compositions n'en seront pas modifiés. La Société ne sera pas tenue responsable pour la non perception de sommes ou pour le manque de protection en matière de droits d'auteurs en rapport avec les Compositions qui pourraient être le résultat direct ou indirect d'un manquement de votre part.</li>
    </ol>
  </li>
</ol>
