<h2 style="text-transform:uppercase;color:black;">
MODIFICHE AI TERMINI E ALLE CONDIZIONI DI PUBLISHING ADMINISTRATION E DELLE LICENZE DI SINCRONIZZAZIONE DI TUNECORE
</h2>
<h3 style="margin-bottom: 20px;">
In vigore dal 1° luglio 2018
</h3>
<p>
I presenti Termini e Condizioni modificano i Termini di Servizio precedentemente stipulati dall'utente con TuneCore, Inc. ("<strong>Società</strong>") per quanto riguarda le Registrazioni dell'utente, se applicabili, in quanto tale accordo è stato integrato, modificato o cambiato in altro modo. Questo è un accordo legale tra l'utente e la Società. La Società si riserva il diritto esclusivo di modificare, interrompere o terminare il Sito e i Servizi in qualsiasi momento, o di modificare i Termini di Servizio senza preavviso. Tutti i termini e/o le condizioni modificati pubblicati sul Sito sostituiranno il precedente accordo tra l'utente e la Società e tali Termini e Condizioni aggiornati costituiranno l'intero accordo tra l'utente e la Società. Continuando a utilizzare o accedere al Sito e/o ai Servizi dopo che la Società ha apportato tali modifiche, l'utente accetta di essere legalmente vincolato dai Termini di Servizio aggiornati. Non è possibile modificare i termini e le condizioni dei Termini di Servizio senza l'espresso consenso scritto della Società. Per i termini in maiuscolo qui utilizzati senza definizione, si faccia riferimento alle loro rispettive definizioni nei Termini di Servizio.
</p>
<p>
<p style="text-transform:uppercase;font-weight:bold;">
L'UTENTE COMPRENDE CHE, UTILIZZANDO I SERVIZI E IL SUO ACCOUNT TUNECORE, ACCETTA DI ESSERE VINCOLATO AI TERMINI DI SERVIZIO, INCLUSA QUESTE MODIFICHE. SE NON SI ACCETTANO I TERMINI DEL SERVIZIO IN TUTTA LA LORO INTEREZZA, NON È POSSIBILE ACCEDERE O UTILIZZARE I SERVIZI.
</p>

<ol style="list-style-type: decimal;">

<li><strong>CONCESSIONE DEI DIRITTI.</strong></li>
<p>
<ol style="list-style-type: lower-alpha">
<p>
<li>Facendo clic sul pulsante "Accetto", l'utente concede (ed è legalmente autorizzato a concedere) alla Società, ai suoi successori, licenziatari e assegnatari, in tutto il mondo (il "Territorio") e durante il Periodo di Amministrazione (come definito all'articolo 5 di seguito riportato), il diritto esclusivo di:
</p><p>
essere l'amministratore delle composizioni musicali possedute o controllate,
in tutto o in parte, dall'utente stesso, nella piena misura del suo interesse, e inviate dall'utente al Servizio durante il Periodo di Amministrazione (le "Composizioni");
</p><p>
concedere, o far concedere a terzi, le licenze e di riscuotere tutte le entrate relative a
qualsiasi utilizzo delle Composizioni; senza alcuna limitazione, la Società avrà il diritto di concedere in licenza: (A) trasmissioni e spettacoli pubblici digitali; (B) la produzione, riproduzione, distribuzione e vendita di documenti contenenti una o più Composizioni, sia fisicamente, digitalmente, elettronicamente o in qualsiasi altro formato o supporto; (C) la sincronizzazione delle Composizioni relative, ma non limitate, a film, programmi televisivi, pubblicità, videogiochi, siti e servizi di video online come YouTube; (D) l'uso delle Composizioni in relazione a attività di merchandising, sponsorizzazione o sostegno; e (E), se applicabile, l'utilizzo e l'esecuzione di qualsiasi registrazione delle Composizioni di cui si è proprietari e/o sulle quali si ha il controllo, che siano state inviate alla Società e regolate dai Termini di Servizio della Società ("Registrazioni"), tra cui, senza per questo voler intendere un limite, la sincronizzazione delle registrazioni relative, ma non limitate, a, film, programmi televisivi, pubblicità, videogiochi, con gli stessi termini e condizioni delle licenze concesse ai sensi del paragrafo 1(a)(II)(C) di questo stesso documento;
</p>
<ol style="list-style-type: lower-roman">
<li>di pubblicare o concedere ad altri la licenza di pubblicare, versioni stampate delle
 Composizioni;

<li>di creare arrangiamenti o, altrimenti, di adattare, cambiare o tradurre, qualsiasi
Composizione in qualunque modo: per esempio, di concedere in licenza il diritto di (A) campionare una Composizione, (B) utilizzare una Composizione in un cosiddetto mash-up o (C) registrare o riregistrare una Composizione in una lingua straniera;

<li>di stipulare accordi con, o assegnare o concedere in licenza qualsiasi dei
 diritti dell'Azienda e/o di delegare uno qualsiasi dei suoi obblighi ai sensi del presente accordo a licenziatari terzi in base a termini che possono essere accettabili per la Società, incluso il diritto di delegare licenziatari a cercare e adattare adattamenti e/o riregistrazioni locali di una Composizione, mediante l'aggiunta di nuovi testi in lingua locale alla musica originale e/o la creazione di una "cover" di una Composizione;

<li>di concedere, amministrare e raccogliere somme di denaro per licenze globali per l'uso di Composizioni in video, "tracce artistiche", video generati dagli utenti e altri programmi audiovisivi;  in relazione a YouTube, i diritti della Società includono il diritto di identificare, rivendicare e monetizzare video contenenti Composizioni consentendo la visualizzazione di pubblicità;

<li>di usare nomi, somiglianze e informazioni biografiche riguardanti gli
autori delle Composizioni in relazione all'utilizzo e/o la promozione delle Composizioni e per la promozione degli affari della Società;

<li>di utilizzare, mostrare e rendere disponibili le registrazioni, se applicabili, in conformità
 al paragrafo 1 (a)(II)(E) qui sopra, e le Composizioni sottostanti, in streaming, senza royalty, in tutto il mondo, attraverso siti Web aziendali, canali e profili destinati esclusivamente all'uso da parte di persone autorizzate (ad esempio, supervisori musicali) per accedere, ascoltare e testare i file audio delle registrazioni e/o delle Composizioni per potenziali posizioni di sincronizzazione di terze parti;
</ol>
<p>
<li>con la presente l'utente nomina la Società come suo idoneo e legittimo rappresentante e procuratore di fatto (con piena facoltà di sostituzione e delega) per effettuare, eseguire e consegnare ogni e qualsiasi documento, atto e scritto a nome dell'utente e/o della Società e intraprendere qualsiasi altra azione a nome dell'utente e/o della Società che nel ragionevole giudizio commerciale della Società sia necessaria o auspicabile per realizzare gli scopi di questo accordo.
</p>
</ol>
</p>

<li><strong>PAGAMENTI.</strong></li>
<p>
<ol style="list-style-type: lower-alpha">
<p>
<li>La Società riscuoterà l'intero Incasso Lordo proveniente dalle Composizioni, incluse le somme guadagnate dalle Composizioni prima dell'inizio del Periodo di Amministrazione ma non ancora riscosse.
</p><p>
<li>Nel presente accordo per "Incasso Lordo" si intendono tutte le entrate derivanti dall'utilizzo delle Composizioni (e delle Registrazioni, se applicabili, in relazione alla licenza di sincronizzazione) e ricevute dalla Società, utilizzate unicamente per le commissioni di arrangiatori, adattatori e traduttori (in ogni caso soggette alle regole e alle pratiche locali delle società di gestione collettiva di diritti d'autore), per eventuali deduzioni fiscali e/o commissioni standard dedotte da società di gestione collettiva di diritti d'autore in buona fede e/o da società che operano in maniera indipendente, per commissioni a sub-editori e/o a amministratori e/o eventuali spese addebitate da agenti di licenza di sincronizzazione di terze parti utilizzati in qualsiasi parte del Territorio.
</p>

<ol style="list-style-type: lower-roman">
<p>
<li>L'ottantacinque percento (85%) dell'Incasso Lordo derivante dall'utilizzo di Composizioni nel Territorio, incluse, ma non limitate, le royalties per la riproduzione meccanica, gli introiti provenienti da licenze di stampa e la cosiddetta "quota dell'editore" dei proventi da esecuzione pubbliche, dovrà essere accreditato all'account TuneCore dell'utente, ad eccezione di quanto indicato di seguito. Alla società sarà consentito di conservare il quindici percento (15%) dell'Incasso Lordo.
</p><p>
  <li>Fermo restando quanto sopra, l'80% dell'Incasso Lordo risultante dalla sincronizzazione di Composizioni (e di Registrazioni, se applicabili) con film, video, cassette o altre immagini permanenti dovrà essere accreditato all'account TuneCore dell'utente.
  </p><p>
    <li>A scanso di equivoci, i pagamenti all'utente indicati sopra sono comprensivi di tutti i diritti di autore, escludendo esclusivamente la "quota dell'autore" dei proventi da esecuzioni pubbliche, che devono essere pagate direttamente all'utente o a qualsiasi altro autore/compositore di terze parti applicabile dalla/dalle società di gestione collettiva.
    </p>
</ol>
<p>
<li>Su specifica richiesta scritta dell'utente, le Composizioni incluse nelle Pubblicazioni dell'Artista non saranno soggette a pagamenti di royalties per la riproduzione meccanica ai sensi del presente Accordo. Le "Pubblicazioni dell'Artista" sono definite come prodotti pubblicati indipendentemente (ossia, i dischi pubblicati dall'utente senza alcun coinvolgimento da parte di terzi) che vengono venduti dall'utente unicamente durante le sue esibizioni dal vivo o attraverso il suo sito web. Nel caso in cui si richieda una deroga alle royalties per la riproduzione meccanica su qualsiasi Pubblicazione dell'Artista, l'utente accetta di mantenere la responsabilità per eventuali pagamenti dovuti a co-editori e/o co-autori in relazione alle vendite, ed accetta di indennizzare la Società nei confronti di ogni e qualsiasi richiesta al riguardo.
</p><p>
<li>L'utente riceverà documentazione relativa alla sua quota di Incasso Lordo e tali importi saranno accreditati sul suo account TuneCore entro quarantacinque (45) giorni dalla fine di ciascun trimestre per ciascun trimestre precedente.  Una volta che il pagamento sarà stato accreditato sull'account dell'utente, l'utente potrà prelevarlo in tutto o in parte a sua discrezione. Sarà responsabilità dell'utente occuparsi di eventuali commissioni bancarie o altri oneri relativi a tali prelievi. Qualsiasi obiezione relativa a qualsiasi documento contabile o qualsiasi rivendicazione legale da essa derivante deve essere fatta (e qualsiasi azione legale deve essere avviata) entro e non oltre un (1) anno dalla data in cui inizialmente la documentazione è stata inviata all'utente, l'utente inoltre rinuncia a qualsiasi estensione della prescrizione che potrebbe essere consentita dalla legge.
</p><p>
<li>L'utente accetta che, nel caso in cui la Società abbia, a propria discrezione e in buona fede, motivo di sospettare che qualsiasi Composizione inviata dall'utente alla Società non sia conforme ai termini dell'articolo 4 di seguito riportato, o se venisse presentata alla Società una richiesta di risarcimento per violazione di copyright, marchio, diritto, pubblicità o altri diritti di proprietà intellettuale o mancata osservanza di qualsiasi requisito di licenza di terzi o di qualsiasi altro reclamo che, se risultasse vero, costituirebbe violazione o mancata osservanza delle dichiarazioni, garanzie e accordi dell'utente qui di seguito riportate, la Società potrebbe interrompere il versamento della quota dell'utente dell'Incasso Lordo in relazione a tale Composizione sull'account TuneCore dell'utente e altrimenti bloccare il prelievo di fondi finché non si giunga a una risoluzione soddisfacente della questione. Inoltre, l'utente accetta di rinunciare a tali ricavi se la Società determina che sono il risultato di violazioni o frodi.
</p><p>
<li>Se la Società, a sua ragionevole discrezione, determina che eventuali attività illecite o fraudolente potrebbero essere state causate da atti o omissioni dell'utente o dei suoi affiliati, eventuali costi sostenuti dalla Società (comprese le spese legali) in relazione a tutto ciò potrebbero, in aggiunta ad altri rimedi, essere detratti dalla Società da qualsiasi importo altrimenti dovuto all'utente dalla Società. Inoltre, se, nel ragionevole giudizio commerciale della Società, si scegliesse di affidare a un avvocato il compito di esaminare e/o rispondere a una richiesta di risarcimento per frode e/o violazione in relazione a una Composizione, la Società avrà, a sua esclusiva discrezione, il diritto di detrarre dall'account TuneCore dell'utente o di addebitare dal Metodo di Pagamento dell'utente (definito nell'articolo 6(b) di seguito riportato) un minimo di trecento dollari (300 $) come rimborso per i costi delle spese legali associate.
</p>
</ol>
</p>
 
<li><strong>PROCEDIMENTI GIURIDICI E TRANSAZIONI.</strong></li>
<p>
 <ol style="list-style-type: lower-alpha">
<p><li>La Società avrà il diritto, ma non l'obbligo, di perseguire, difendersi da e risolvere tutti i reclami e le azioni legali in relazione alle Composizioni, e in generale di fare tutto ciò che sia necessario per quanto riguardo quanto detto e i diritti d'autore o altri diritti rispetto alle Composizioni; ciò detto, tuttavia, la Società non risolverà le dispute senza il consenso dell'utente (salvo quanto stabilito all'articolo 3(b) di seguito riportato). In caso di recupero da parte della Società o dell'utente di qualsiasi importo dovuto a una sentenza o ad una transazione stragiudiziale, tali fondi saranno suddivisi tra l'utente e la Società con le stesse quote previste nell'articolo 2, una volta dedotte le spese minori utilizzate per ottenere tali somme, compresa qualsiasi giustificabile spesa legale. L'utente ha il diritto di ricevere assistenza legale per conto proprio, per assistere o incaricarsi dell'accusa o della difesa per tali questioni, ma lo farà a sue spese. Qualsiasi sentenza nei confronti della Società e qualsiasi transazione da parte della Società che riguardi reclami nei confronti di una qualsiasi delle Composizioni, insieme ai costi e alle spese, inclusi, senza limitazioni, onorari e spese legali, sarà soggetta alle disposizioni di indennizzo dei Termini di Servizio e i risarcimenti saranno corrisposti alla Società con qualsiasi somma che possa essere dovuta all'utente in base a qualsiasi conto in possesso dell'utente e amministrato dalla Società o prontamente resa disponibile dietro richiesta dalla Società. 
</p><p><li>Nonostante qualsiasi disposizione contraria contenuta nel presente documento, la Società avrà il diritto, ma non l'obbligo, di optare per il suo catalogo di composizioni amministrate (comprese le Composizioni) in accordi di licenza e accordi settoriali per il recupero di royalties presentate e approvate da gruppi di pressione come la National Music Publishers Association senza previo consenso dell'utente.
</li>
</ol>
</p>

<li><strong>OBBLIGHI A TERZI.</strong></li>
<p>
L'utente sarà l'unico responsabile per il pagamento di tutti i compensi, se del caso, e qualsiasi autorizzazione richiesta da compositori, licenzianti, partecipanti al reddito e altre terze parti a cui si è obbligati a pagare una parte del reddito derivante da una qualsiasi delle Composizioni. L'utente garantisce e dichiara che tutti i compositori, i licenzianti, i partecipanti al reddito e altre terze parti a cui è obbligato a pagare una parte del reddito derivante dalle Composizioni si rivolgeranno esclusivamente all'utente stesso per tali pagamenti e accetta di manlevare e tenere indenne la Società da e contro qualsiasi pretesa, richiesta o azione legale da parte di tali compositori, licenzianti, partecipanti al reddito e altre terze parti per i suddetti pagamenti in conformità con le clausole di indennizzo dei Termini di Servizio.
</p>

<li><strong>PERIODO DI AMMINISTRAZIONE/POST-TERMINE.</strong></li>
<p>
<ol style="list-style-type: lower-alpha">
<p><li>Il "Periodo di Amministrazione" del presente accordo durerà inizialmente per un (1) anno, a partire dalla data in cui la Commissione di Attivazione (come definita all'articolo 6(a) di seguito riportato) viene ricevuta ed elaborata dalla Società. Dopo il periodo iniziale, il Periodo di Amministrazione si rinnoverà e si estenderà automaticamente ogni trimestre, a meno che l'utente non dia alla Società comunicazione scritta di preavviso di chiusura rapporto almeno quarantacinque (45) giorni prima della fine del periodo in vigore.
</p><p>
<li>La Società avrà il diritto di riscuotere tutte le entrate relative alle Composizioni acquisite prima dell'inizio del Periodo di Amministrazione, ma non ancora incassate.  Dopo la scadenza del Periodo di Amministrazione, la Società avrà il diritto di: (I) riscuotere i diritti acquisiti durante il Periodo di Amministrazione e incassati entro dodici (12) mesi, per gli Stati Uniti, e diciotto (18) mesi, per il resto del mondo, successivi alla scadenza del Periodo di Amministrazione e (II) emettere qualsiasi opzione, estensione o rinnovo di qualsiasi licenza rilasciata dalla Società durante il Periodo di Amministrazione.
</p>
</ol>
</p>

<li><strong>COMMISSIONI AZIENDALI.</strong></li>
<p>
<ol style="list-style-type: lower-alpha">
<p><li>L'utente pagherà alla Società una commissione una tantum non rimborsabile (la "Commissione di Attivazione"), come stabilito sul sito Web della Società, per coprire le spese amministrative della Società relative all'aggiornamento del catalogo delle Composizioni dell'utente.
</p><p>
<li>L'utente accetta che la Società sia autorizzata a detrarre la Commissione di Attivazione, eventuali tasse applicabili e altri oneri che potrebbe sostenere in relazione all'utilizzo dei servizi di amministrazione direttamente dall'account TuneCore dell'utente o ad addebitare tali commissioni a qualsiasi metodo di pagamento alternativo fornito alla Società (come un account PayPal valido, una carta di credito o di debito, ciascuno definito come "Metodo di Pagamento"). A scanso di equivoci, se l'utente o la Società rescindono il presente accordo per uno dei motivi illustrati nel presente documento, l'utente non avrà diritto a un rimborso totale o parziale della Commissione di Attivazione. Inoltre, se, per qualsiasi motivo, un pagamento tramite il Metodo di Pagamento o qualsiasi altro metodo non dovesse andare a buon fine o venisse annullato dopo aver accettato i presenti Termini di Servizio, la Società avrà il diritto di recuperare, a sua esclusiva discrezione, la Commissione di Attivazione, più una commissione amministrativa di venticinque dollari (25 $), con qualsiasi mezzo necessario, incluso il diritto di mantenere attivo l'account dell'utente e riscuotere le eventuali royalties risultanti fino al completo recupero della Commissione di Attivazione. È responsabilità dell'utente informare la Società se il Metodo di Pagamento è stato cambiato apportando le necessarie modifiche alle impostazioni dell'account TuneCore. Se l'utente non fornisce un Metodo di Pagamento valido, la Società si riserva il diritto di disconnettere o interrompere il servizio a propria esclusiva discrezione.
</p>
</ol>
</p>

<li><strong>GARANZIE E DICHIARAZIONI.</strong></li>
<p>
L'utente garantisce e dichiara di avere almeno diciotto (18) anni di età e che tutte le Composizioni, incluso, a titolo esemplificativo, qualsiasi materiale di terze parti ivi incorporato, i metadati e qualsiasi altro materiale fornito dall'utente alla Società o relativo alle Composizioni siano di proprietà o controllate dall'utente e il loro utilizzo come descritto o contemplato nel presente documento non infrange diritti d'autore, diritti sui marchi, diritti di pubblicità o altri diritti di qualsiasi altra persona o entità; non siano diffamatori né criminalmente osceni; e che la Società avrà il diritto di utilizzarli in qualsiasi modo qui sotto indicato senza vincoli e senza alcun obbligo di effettuare alcun pagamento di qualsiasi natura a qualsiasi persona o entità diversa dalle somme dovute all'utente in virtù del presente.
</p>

<li><strong>DOCUMENTI.</strong></li>
<p>
<ol style="list-style-type: lower-alpha">
<p><li>Su richiesta della Società, l'utente dovrà sottoscrivere e consegnare alla Società tutti i documenti necessari in merito ai diritti concessi dalla Società nelle Composizioni e, in caso di mancata esecuzione entro dieci (10) giorni lavorativi dalla richiesta della Società, la Società potrà firmare tali documenti a nome dell'utente.
</p><p>
<li>In concomitanza con l'accettazione di questo emendamento, l'utente fornirà alla Società copie di eventuali licenze esistenti o di altri accordi relativi alle Composizioni. L'utente accetta inoltre di comunicare alla Società ogni versione registrata di qualsiasi Composizione durante il Periodo di Amministrazione non appena sia ragionevolmente possibile farlo dopo che ne è venuto a conoscenza. I diritti della Società nei confronti delle Composizioni non verranno meno se, e nella misura in cui, l'utente non riesca a fornire alla Società tutti o parte dei materiali e delle informazioni di cui al presente articolo 8(b). La Società non sarà responsabile per qualsiasi mancata riscossione di denaro o mancanza di protezione del copyright in relazione alla/e Composizione/i interessata/e che siano il risultato diretto o indiretto di tale mancanza da parte dell'utente.
</p>
</ol>
</p>
</ol>
