<h2 style="text-transform:uppercase;color:black;">ADDENDUM ALLE CONDIZIONI CONTRATTUALI DI TuneCore PER L’AMMINISTRAZIONE DELLE COMPOSIZIONI MUSICALI </h2>
<h3 style="margin-bottom: 20px;">Valido dal 9 dicembre 2016</h3>

<p>Ti invitiamo a leggere attentamente le seguenti condizioni contrattuali, che modificano i Termini di Servizio in relazione alle Registrazioni da te precedentemente sottoscritti con TuneCore, Inc. (“TuneCore”), come successivamente corretti, integrati o altresì modificati. Il presente documento costituisce un contratto legalmente vincolante tra te e TuneCore. TuneCore si riserva il diritto, a sua esclusiva discrezione, in qualsiasi momento e senza preavviso, di modificare, sospendere o interrompere la fruizione del Sito o dei Servizi o di modificare i Termini di Servizio. Tutte le condizioni contrattuali modificate, quando pubblicate sul Sito, sostituiscono i precedenti accordi sottoscritti tra te e TuneCore. Queste nuove condizioni contrattuali costituiscono l’intero accordo tra te e TuneCore. Continuando a utilizzare o ad accedere al Sito e/o ai Servizi dopo l’attuazione di qualsiasi modifica da parte di TuneCore, accetti di essere legalmente vincolato al rispetto dei nuovi Termini di Servizio. Non potrai modificare le condizioni contrattuali dei Termini di Servizio senza il consenso esplicito per iscritto da parte di TuneCore. I termini in maiuscolo nelle presenti condizioni contrattuali hanno lo stesso significato di quelli utilizzati nei Termini di Servizio.</p>

<p><strong>DICHIARI DI AVER COMPRESO CHE, UTILIZZANDO I SERVIZI E IL TUO ACCOUNT TuneCore, ACCETTI DI ESSERE VINCOLATO AL RISPETTO DEI TERMINI DI SERVIZIO, INCLUSO IL PRESENTE ADDENDUM. SE NON ACCETTI I TERMINI DI SERVIZIO NELLA LORO INTEREZZA, NON PUOI UTILIZZARE O ACCEDERE AI SERVIZI.</strong></p>

<ol style="list-style-type: decimal;">
  <li><strong>CONCESSIONE DI DIRITTI</strong>
    <ol style="list-style-type: square">
      <li>Facendo clic sul pulsante “Accetto”, concedi a TuneCore Digital Media, Inc. (la “Società”) i seguenti diritti, a titolo esclusivo, per tutto il mondo (il “Territorio”) e per tutto il Periodo di Durata dell’Amministrazione delle Composizioni (come definito nella Sezione 6), i diritti di seguito riportati:</li>
      <li>Il diritto di amministrare le composizioni musicali di cui sei titolare o di cui controlli i diritti in tutto in parte, nella misura rilevante ai fini di questo accordo, le quali sono incluse nel prospetto delle composizioni musicali (le “Composizioni”) qui allegato. Nomini inoltre la Società come editore di qualsiasi Composizione di cui attualmente non detieni i diritti o che non sia registrata a nome di una tua società, per tutto il Periodo di Durata dell’Amministrazione delle Composizioni.</li>
          <li>Il diritto di rilasciare licenze o di autorizzare il loro rilascio da parte di terzi, nonché il diritto di riscuotere tutti i proventi derivanti da qualsiasi sfruttamento delle Composizioni. La Società avrà il diritto, senza alcuna limitazione, di concedere in licenza: (A) la trasmissione e la pubblica esecuzione in formato digitale; (B) la produzione, la riproduzione, la distribuzione e la vendita in formato fisico o elettronico di registrazioni contenenti una o più Composizioni; (C) la sincronizzazione delle Composizioni in relazione a, a mero titolo esemplificativo e non esaustivo, film, programmi televisivi, messaggi pubblicitari e videogiochi; (D) l’uso delle Composizioni in relazione ad attività di merchandising; e (E) se applicabile, l’uso e la riproduzione di qualsiasi registrazione master delle Composizioni di cui detieni e/o controlli i diritti inviata a TuneCore, Inc. e soggetta ai Termini di Servizio (“Registrazioni”), inclusa, a titolo non esaustivo, la sincronizzazione delle Registrazioni in relazione a film, programmi televisivi, messaggi pubblicitari e videogiochi in base alle medesime condizioni contrattuali previste per le licenze di cui al paragrafo 1(a)(ii)(C) di questo documento.</li>
          <li>Il diritto di pubblicare o di autorizzare la pubblicazione da parte di terzi, di versioni stampate delle Composizioni.</li>
          <li>Il diritto di arrangiare, adattare, modificare o tradurre in qualsiasi modo la Composizione. Ad esempio, di concedere in licenza il diritto di (A) creare estratti della Composizione, (B) utilizzare la Composizione in un cosiddetto mash-up o (C) registrare la Composizione in una lingua straniera.</li>
Il diritto di sottoscrivere accordi o di trasferire o concedere in licenza i diritti della Società e/o di delegare qualsiasi obbligo previsto dal presente accordo a terzi licenziatari, alle condizioni ritenute accettabili dalla Società stessa, incluso il diritto di delegare ai licenziatari l’adattamento e/o la nuova registrazione locale di una Composizione, tramite l’aggiunta alla musica originale di un nuovo testo in lingua locale e/o tramite la creazione di una versione “cover” della Composizione.
          <li>Il diritto di sottoscrivere accordi o di trasferire o concedere in licenza i diritti della Società e/o di delegare qualsiasi obbligo previsto dal presente accordo a terzi licenziatari, alle condizioni ritenute accettabili dalla Società stessa, incluso il diritto di delegare ai licenziatari l’adattamento e/o la nuova registrazione locale di una Composizione, tramite l’aggiunta alla musica originale di un nuovo testo in lingua locale e/o tramite la creazione di una versione “cover” della Composizione.</li>
          <li>Il diritto all’utilizzo del nome, dell’immagine e delle informazioni biografiche degli autori delle Composizioni, ai fini dello sfruttamento e/o della promozione delle stesse, nonché per la promozione delle attività della Società.</li>
          <li>Il diritto di utilizzare, riprodurre e rendere disponibili le Registrazioni, se applicabile secondo quanto previsto dal paragrafo 1(a)(ii)(E), e delle relative Composizioni per consentirne lo streaming gratuito e in tutto il mondo, tramite un sito web di sincronizzazione sicuro e di tipo “One Stop Shop” della Società (lo “Store di Sincronizzazione della Società”), concedendo esclusivamente a soggetti autorizzati (per esempio ai direttori musicali) l’accesso, l’ascolto e la verifica dei file audio delle Registrazioni e/o delle Composizioni al fine di un potenziale inserimento delle stesse in sincronizzazioni di terzi.</li>
        </ol>
        <p>In ogni caso, a meno che non sia permesso dalla legge applicabile, nulla in questo accordo è volto ad escludere o limitare i diritti morali sulle Composizioni i quali rimarranno esclusivamente in capo a te e/o agli altri autori delle Composizioni.</p>
    <ol style="list-style-type: square">
      </li>
      <li>Nei limiti concessi dalla legge applicabile, nomini la Società come tuo legittimo agente e rappresentante legale (con pieni poteri di sostituzione e di delega) per la redazione, la firma e l’invio a nome della Società e/o a tuo nome di qualsiasi documento, strumento giuridico e scrittura, nonché per intraprendere a nome della Società e/o a tuo nome qualsiasi altra azione ritenuta ragionevolmente necessaria dalla Società, o opportuna per la realizzazione dei fini di cui al presente accordo.</li>
      <li>La Società ha il diritto, ma non l’obbligo, di intraprendere, difendersi da e transigere qualsiasi controversia e azione relativa alle Composizioni, nonché di adottare in generale tutti i comportamenti necessari in merito alle Composizioni, ai diritti d’autore o ad altri diritti connessi ad esse, fermo restando che la Società non può procedere a eventuali transazioni senza il tuo consenso. Qualora la Società recuperi somme in seguito a una decisione giudiziaria o a una transazione, tali importi verranno suddivisi tra te e la Società stessa in base alle quote previste nelle sezione 2(c), previa deduzione delle spese sostenute per il loro ottenimento, incluse le relative spese legali. Hai il diritto di difenderti autonomamente, nonché di partecipare al processo o proporre azioni a tue spese. Qualsiasi decisione giudiziaria contro la Società e qualsiasi transazione effettuata dalla Società sulle contestazioni riguardanti le Composizioni, nonché i costi e le spese, incluse, senza alcuna limitazione, quelle di natura legale, sono soggetti alle disposizioni dei Termini di Servizio in materia di risarcimento. Sei tenuto a risarcire tempestivamente qualsiasi somma dovuta alla Società che riguardi gli account in tuo possesso e amministrati dalla Società o dietro sua tempestiva richiesta.</li>
      </li>La Società può trasferire i diritti concessi in virtù del presente contratto a una o più delle sue società di edizione musicale a questa affiliate. Queste includono TuneCore Digital Music (BMI), TuneCore Publishing (ASCAP), TuneCore Songs (SESAC) e altre aziende analoghe che sono associate alle esistenti società di riscossione dei diritti in tutto il Territorio. Inoltre, riconosci e accetti che la Società possa, a sua esclusiva discrezione, concedere in licenza tramite il servizio “TuneCore New Media Administration” alcuni dei tuoi diritti in modo diretto ed esclusivo a singoli store (ad esempio Apple, Spotify, Amazon, ecc.), indipendentemente da qualsiasi rapporto che tu possa avere come autore con questi stessi store.</li>
    </ol>
   </li>
   <li><strong>PAGAMENTI</strong>
    <ol style="list-style-type: lower-alpha;">
      <p>Nei limiti concessi dalla legge applicabile, la Società effettuerà, direttamente o indirettamente, la riscossione dei Ricavi Lordi derivanti dalle Composizioni, incluse tutte le somme guadagnate prima dell’inizio della decorrenza del Periodo di Durata dell’Amministrazione ma non ancora riscosse.</p>
      <p>Nell’ambito del presente accordo, per “Ricavi lordi” si intendono tutti i proventi derivanti dallo sfruttamento delle Composizioni (e dalla concessione in licenza di eventuali Registrazioni, relativamente alla loro sincronizzazione) e incassati dalla Società, escluse solamente le detrazioni fiscali e/o le commissioni standard applicate in base a principi di buona fede e a condizioni di mercato da società incaricate della riscossione dei diritti di pubblica esecuzione o di riproduzione meccanica o da altri soggetti incaricati della riscossione in qualsiasi area del Territorio.</p>
      <p>Il novanta percento (90%) dei Ricavi Lordi verrà accreditato sul tuo account TuneCore, ad eccezione di quanto previsto qui di seguito. La Società ha il diritto di trattenere il dieci percento (10%) dei Ricavi Lordi.</p>
      <p>In deroga a quanto precedentemente indicato, verrà accreditato sul tuo account TuneCore l’ottanta percento (80%) dei Ricavi Lordi derivanti dalla sincronizzazione di Composizioni (e, se applicabile, delle Registrazioni) in film, supporti fisici permanenti, contenuti visivi o versioni cover della Composizione, esclusivamente nella misura prevista dalla Società o dalla sua rete di contatti. Tali importi includono qualsiasi ulteriore ricavo derivante da simili sincronizzazioni delle Composizioni (e, se applicabile, delle Registrazioni) e/o dalle versioni cover locali (ad esempio ulteriori concessioni in licenza per la sincronizzazione o la riproduzione meccanica, le royalties relative alla pubblica esecuzione in relazione agli utilizzi autorizzati, ecc.).</p>
      <p>Dietro tua specifica richiesta scritta, le Composizioni incluse nelle Pubblicazioni dell’Artista potranno non essere soggette al pagamento delle royalties per la riproduzione meccanica previste dal presente contratto. Per “Pubblicazioni dell’Artista” si intendono i prodotti pubblicati autonomamente (ad esempio registrazioni da te pubblicate senza alcun coinvolgimento di terzi), venduti esclusivamente in occasione di esibizioni dal vivo o tramite il sito web di tua proprietà. Se richiedi di rinunciare alle royalties per la riproduzione meccanica su qualsiasi Pubblicazione dell’Artista, accetti di essere il solo responsabile per qualsiasi relativo pagamento dovuto a co-editori e/o a co-autori in relazione a tali vendite e acconsenti a tenere indenne la Società da qualsiasi contestazione a queste correlata.</p>
      <p>Riceverai rendiconti sulla tua quota di Ricavi Lordi e le somme relative a un determinato trimestre solare verranno accreditate sul tuo account TuneCore entro quarantacinque (45) giorni successivi al termine del trimestre precedente. Una volta che i pagamenti saranno stati accreditati sul tuo account, potrai scegliere di ritirarli, a tua discrezione, nella loro totalità o solo in parte. Saranno a tuo carico tutte le commissioni bancarie e qualsiasi altra spesa relativa a tali prelievi. Qualsiasi obiezione relativa a qualsivoglia situazione contabile o contestazione legale a questa relativa dovrà essere avanzata (e qualsiasi causa legale intentata) entro e non oltre un (1) anno dalla data di invio del rendiconto. Rinunci inoltre a qualsiasi termine di prescrizione o decadenza più lungo previsto dalla legge.</p>
      <p>La Società può depositare i Ricavi Lordi del tuo account TuneCore in un conto fruttifero. La Società può, a sua esclusiva discrezione, trattenere tutti gli interessi maturati sui Ricavi Lordi oppure corrisponderli a te in tutto o in parte.</p>
      <p>Qualora la Società abbia motivo di sospettare, a sua discrezione e in buona fede, che una qualsiasi delle Composizioni da te pubblicate non rispetti i termini previsti dalla Sezione 4 che segue o qualora alla Società venga contestata la violazione di diritti d’autore, marchi, diritti all’immagine o altri diritti di proprietà intellettuale, la mancata osservanza di termini di licenza di terzi o qualsiasi altra contestazione che, se vera, costituirebbe una violazione o un inadempimento da parte tua delle dichiarazioni, delle garanzie e degli accordi previsti dalle presenti condizioni contrattuali, accetti che la Società possa sospendere l’accredito sul tuo account TuneCore della tua quota dei Ricavi Lordi relativa alla Composizione contestata e la possibilità da parte tua di ritirare somme, fino alla completa soluzione della controversia. Accetti inoltre a rinunciare a tali somme qualora la Società stabilisca che siano frutto di violazioni di diritti altrui o di commissione di illeciti.</p>
      <p>Qualora la Società reputi, a sua discrezione, che qualsiasi attività illecita e/o che violi diritti di terzi sia provocata da azioni o omissioni tue o dei tuoi affiliati, la Società potrà, in aggiunta agli altri rimedi a questa concessi, detrarre qualsiasi costo sostenuto dalla stessa (inclusi i costi e le spese legali) da qualsiasi importo che dovrebbe esserti altrimenti corrisposto ai sensi del presente accordo. Inoltre, qualora la Società decida, in base al proprio ragionevole giudizio, di nominare un difensore legale al fine di esaminare una contestazione relativa a illeciti e/o violazioni connesse a una o più Composizioni e/o di rispondere ad essa, la Società avrà il diritto, a sua esclusiva discrezione, di trattenere dal tuo account TuneCore o di addebitare tramite il Metodo di Pagamento da te indicato (definito nella sezione 5(b) che segue) una somma minima pari a trecento dollari (300 $) per la compensazione dei relativi costi e spese legali.</p>
    </ol>
  </li>
  <li><strong>OBBLIGAZIONI DI TERZI</strong>
    <p>Sei il solo responsabile per il pagamento di tutti i corrispettivi dovuti ad autori, licenzianti o altri terzi verso i quali hai l’obbligo di corrispondere una quota dei proventi derivanti da ciascuna delle Composizioni. Dichiari e garantisci che tutti questi autori, licenzianti, partecipanti ai proventi o altri terzi verso i quali hai l’obbligo di corrispondere una quota dei proventi derivanti dalle Composizioni potranno rivalersi esclusivamente su di te per qualsiasi pagamento e accetti di tenere indenne e manlevare la Società in relazione a qualsiasi contestazione, domanda o azione proveniente da tali autori, licenzianti, partecipanti ai proventi o altri terzi, in conformità alle previsioni dei Termini di Servizio relative al risarcimento.</p>
  </li>
  <li><strong>DICHIARAZIONI E GARANZIE</strong>
    <p>Dichiari e garantisci di avere almeno diciotto (18) anni e di essere titolare di o controllare i diritti di tutte le Composizioni, inclusi, senza alcuna limitazione, i materiali di terzi compresi al loro interno, i metadati o qualsiasi altro materiale da te fornito alla Società o correlato alle Composizioni, e che il loro utilizzo, in base a quanto descritto o previsto dalle presenti condizioni contrattuali non viola i diritti d’autore, i marchi, i diritti di immagine o altri diritti di qualsiasi persona fisica o giuridica terza; dichiari e garantisci inoltre che la Società ha il diritto di sfruttare tali diritti nei modi previsti dalle presenti condizioni contrattuali liberamente senza alcun obbligo di corrispondere a persone fisiche o giuridiche pagamenti di qualsivoglia natura diversi dagli importi pagabili a tuo favore in base alle presenti condizioni contrattuali.</p>
  </li>
  <li><strong>COMMISSIONI A FAVORE DELLA SOCIETÀ</strong>
    <ol style="list-style-type: lower-alpha;">
      <p>Sei tenuto a corrispondere alla Società dei costi di iscrizione una tantum non rimborsabili (i “Costi di Iscrizione”), indicati sul sito web della società stessa, al fine di coprire le spese di amministrazione relative all’aggiornamento del tuo catalogo di Composizioni.</p>
      <p>Autorizzi la Società a detrarre i Costi di Iscrizione, qualsiasi imposta applicabile e gli altri costi eventualmente connessi all’utilizzo dei servizi di amministrazione direttamente dal tuo account TuneCore o ad addebitare tali costi tramite qualsiasi metodo di pagamento alternativo da te indicato (ad esempio un conto PayPal valido, carta di credito, carta di debito, ciascuno dei quali costituisce un “Metodo di Pagamento”). A titolo di ulteriore chiarimento, in caso di risoluzione dell’accordo da parte tua o della Società per una delle cause stabilite nelle presenti condizioni contrattuali, non avrai diritto ad alcun rimborso, nè totale nè parziale, dei Costi di Iscrizione. Inoltre, se per qualsiasi motivo uno dei pagamenti da te effettuati non andasse a buon fine o venisse revocato tramite il Metodo di Pagamento o qualunque altro metodo in un momento successivo all’accettazione da parte tua dei presenti Termini di Servizio, la Società avrà diritto, a sua esclusiva discrezione, di recuperare i Costi di Iscrizione, (oltre ad un costo amministrativo di venticinque dollari (25 $), con qualsiasi mezzo necessario, incluso il diritto di mantenere attivo l’account e riscuotere eventuali royalties dovute fino al totale recupero totale del Costo di Iscrizione. Sei tenuto a comunicare alla Società i cambiamenti riguardanti il Metodo di Pagamento, apportando le opportune modifiche alle impostazioni del tuo account TuneCore. Qualora non venga indicato un Metodo di Pagamento valido, la Società si riserva il diritto di sospendere o interrompere il servizio a sua esclusiva discrezione.</p>
    </ol>
  </li>
  <li><strong>PERIODO DI DURATA DELL’AMMINISTRAZIONE DELLE COMPOSIZIONI / PERIODO DI RISCOSSIONE DOPO LA SCADENZA DEL PERIODO DI DURATA DELL’AMMINISTRAZIONE DELLE COMPOSIZIONI / PERIODO DI CONSERVAZIONE</strong>
    <ol style="list-style-type: lower-alpha;">
      <p>Il “Periodo di Durata dell’Amministrazione delle Composizioni” del presente accordo corrisponde inizialmente a un periodo di un (1) anno, che decorre dalla data di incasso e gestione dei Costi di Iscrizione da parte della Società. Una volta scaduto il termine iniziale, il Periodo di Durata dell’Amministrazione delle Composizioni verrà automaticamente prorogato di un (1) anno, fatta salva la tua facoltà di risolvere il contratto inviando alla Società una comunicazione scritta con almeno sessanta (60) giorni di anticipo rispetto al termine di conclusione previsto.</p>
      <p>La Società ha il diritto di riscuotere tutti i proventi generati alle Composizioni prima dell’inizio della decorrenza del Periodo di Durata dell’Amministrazione delle Composizioni non ancora riscossi, nonché (i) tutti i proventi generati all’interno del territorio degli Stati Uniti d’America durante il Periodo di Durata dell’Amministrazione delle Composizioni, per i dodici (12) mesi immediatamente successivi alla scadenza del Periodo di Dirata dell’Amministrazione delle Composizioni (o, se applicabile, del Periodo di Durata dell’Amministrazione delle Composizioni prorogato) nel solo caso in cui tali proventi non siano stati corrisposti alla Società entro il Periodo di Durata dell’Amministrazione delle Composizioni e (ii) tutti i proventi generati al di fuori degli Stati Uniti d’America durante il Periodo di Durata dell’Amministrazione delle Composizioni, entro i diciotto (18) mesi immediatamente successivi alla scadenza di tale Periodo di Durata dell’Amministrazione delle Composizioni (o, se applicabile, del Periodo di Durata dell’Amministrazione delle Composizioni prorogato), nel solo caso in cui tali proventi non siano stati corrisposti alla Società entro il Periodo di Durata dell’Amministrazione delle Composizioni.</p>
      <p>Inoltre, dichiari di aver compreso e di accettare che per qualsiasi Composizione per la quale il team creativo della Società e/o un terzo licenziatario ottenga una licenza con terzi (ad esempio per la creazione di versioni cover locali delle Composizioni, raccolte delle Composizioni stampate localmente, licenze di sincronizzazione di versioni cover delle Composizioni concesse durante il Periodo di Durata dell’Amministrazione delle Composizioni), concedi alla Società il diritto esclusivo di continuare a esercitare i diritti amministrativi e di riscossione, relativamente alle Composizioni interessate, per un periodo di tre (3) anni dalla scadenza del Periodo di Durata dell’Amministrazione delle Composizioni.</p>
    </ol>
  </li>
  <li><strong>MISCELLANEA</strong>
    <ol style="list-style-type: square;">
        <li>Su richiesta della Società, dovrai provvedere a firmare e inviare tutti i documenti necessari in relazione ai diritti attribuiti alla Società sulle Composizioni. In caso di mancato invio entro dieci (10) giorni lavorativi successivi alla richiesta, la Società potrà firmare tali documenti a tuo nome.</li>
      <li>Contestualmente all’accettazione di tale addendum, sei inoltre tenuto a fornire alla Società copie degli accordi di licenza o di altri accordi relativi alle Composizioni eventualmente esistenti. Accetti inoltre di comunicare il prima possibile alla Società le informazioni relative a qualsiasi versione delle Composizioni che venga registrata durante il Periodo di Durata dell’Amministrazione delle Composizioni, non appena tu ne venga a conoscenza. L’eventuale mancato invio da parte tua alla Società dei materiali e delle informazioni previsti da questo paragrafo 7(b) non potrà in ogni caso pregiudicare i diritti della Società sulle Composizioni. La Società non potrà essere ritenuta in alcun modo responsabile per la mancata riscossione di somme o della mancata tutela del diritto d’autore sulle Composizioni qualora tale mancanza sia una conseguenza diretta o indiretta di un tuo inadempimento.</li>
    </ol>
  </li>
</ol>
