<h2 style="color:black;">Effective as of August 1, 2013</h2>

<p><a name="automator"><strong><h3>STORE AUTOMATOR AMENDMENT TO TUNECORE’S TERMS &amp; CONDITIONS</h3></strong></a></p>

<p>Please read the following terms and conditions carefully, which amend the Terms of Service that you previously entered into with TuneCore, Inc. ("TuneCore"), as such agreement has been supplemented, amended or otherwise modified.  These terms explain how you can use the Store Automator <%= t(:program) %> to automatically deliver your Releases (as defined below) to Consumer Stores licensed by TuneCore to exploit sound recordings.  TuneCore’s Terms of Service are incorporated herein by reference.</p>

<p>TuneCore reserves the sole right at any time to modify, discontinue or terminate the Site and Services, or modify the Terms of Service without notice.  All modified terms and/or conditions when posted on the Site shall supersede the prior agreement between you and TuneCore, and such revised Terms of Service shall constitute the entire agreement between you and TuneCore.  By continuing to use or access the Site and/or Services after TuneCore makes any such modification, you agree to be legally bound by the revised Terms of Service.  You may not alter the terms and conditions of the Terms of Service without TuneCore’s express written consent.  Capitalized terms used herein without definition have their respective meanings assigned in the Terms of Service.</p>

<p>YOU UNDERSTAND THAT BY USING THE SERVICES, INCLUDING, WITHOUT LIMITATION, THE STORE AUTOMATOR PROGRAM, AND YOUR TUNECORE ACCOUNT, YOU ARE AGREEING TO BE BOUND BY THE TERMS OF SERVICE, INCLUDING THIS AMENDMENT.  IF YOU DO NOT ACCEPT THE TERMS OF SERVICE IN THEIR ENTIRETY, YOU MAY NOT ACCESS OR USE THE SERVICES.</p>

<p><strong>1. COMPANY FEES</strong></p>

<p>a. You shall pay TuneCore a one-time, non-refundable fee (the "Fee") per Release.</p>

<p>b. You agree that TuneCore is <%= t(:authoriz) %>ed to deduct the Fee and any applicable taxes directly from your TuneCore account or charge such Fee to any alternate payment method you provide to Company (such as a valid PayPal account, credit card or debit card, each a "Payment Method").  If for any reason you fail to make a payment or a payment is reversed hereunder via the Payment Method or any other method after agreeing to these Terms of Service, TuneCore will be entitled to recoup, at its sole discretion, the Fee by any means necessary, including the right to keep your account active and collect any resulting royalties until the Fee is fully recouped.  It is your responsibility to notify TuneCore if your Payment Method has changed by making the appropriate changes to your TuneCore account settings.  If you do not provide a valid Payment Method your service may be disconnected or interrupted at TuneCore’s sole discretion.</p>

<p><strong>2. SERVICE</strong></p>

<p>a. The term "Release" shall be defined as any Recording in good standing, other than a ringtone, that you designate for automatic distribution via the Store Automator <%= t(:program) %>.  For the avoidance of doubt, ringtones are not eligible for such distribution.</p>

<p>b. Subject to the terms hereof, each Release will be automatically delivered to all Consumer Stores licensed by TuneCore to exploit sound recordings after the date that TuneCore receives the Fee, and you hereby give your approval to the exploitation of your Releases in such Consumer Stores.  Notwithstanding the foregoing, the determination of what constitutes a "Consumer Store" for the purposes hereof shall be made by TuneCore in its sole discretion.</p>

<p>c. You will be notified within twenty-four (24) hours after any Release is delivered to a Consumer Store in connection with Store Automator.  TuneCore makes no representation as to the amount of time it will take for any Release to become available in a Consumer Store, nor does TuneCore guarantee the exploitation of any Release.</p>

<p>d. If you notify TuneCore in writing that you are discontinuing Store Automator with respect to any Release(s), TuneCore shall cease the automatic distribution of such Release(s) within a reasonable amount of time after receipt of such notification (the "End Date").  You may elect to re-activate Store Automator at any time.  For the avoidance of doubt, in the event of a re-activation, your Release will not be automatically delivered to any Consumer Store added by TuneCore in the period of time after the End Date and prior to such re-activation.</p>
