<h2 style="text-transform:uppercase;color:black;">MUSIC PUBLISHING ADMINISTRATION AND SYNCHRONIZATION LICENSING AMENDMENT TO TUNECORE’S TERMS &amp; CONDITIONS</h2>
<h3 style="margin-bottom: 20px;">Effective as of July 1, 2018</h3>

<p>These Terms and Conditions amend the Terms of Service that you previously entered into with TuneCore, Inc. ("<strong>Company</strong>") with respect to your Recordings, if applicable, as such agreement has been supplemented, amended or otherwise modified.
  <strong>This is a legal agreement between you and Company.</strong> Company reserves the sole right at any time to modify, discontinue or terminate the Site and Services, or modify the Terms of Service without notice. All modified terms and/or conditions
  when posted on the Site shall supersede the prior agreement between you and Company, and such revised Terms and Conditions shall constitute the entire agreement between you and Company. By continuing to use or access the Site and/or Services after Company
  makes any such modification, you agree to be legally bound by the revised Terms of Service. You may not alter the terms and conditions of the Terms of Service without Company’s express written consent. Capitalized terms used herein without definition
  have their respective meanings assigned in the Terms of Service.</p>

<p style="text-transform:uppercase;font-weight:bold;">YOU UNDERSTAND THAT BY USING THE SERVICES AND YOUR TUNECORE ACCOUNT, YOU ARE AGREEING TO BE BOUND BY THE TERMS OF SERVICE, INCLUDING THIS AMENDMENT. IF YOU DO NOT ACCEPT THE TERMS OF SERVICE IN THEIR ENTIRETY, YOU MAY NOT ACCESS OR USE THE SERVICES.</p>

<ol style="list-style-type: decimal;">
  <li><strong>GRANT OF RIGHTS.</strong></li>
  <p>
    <ol style="list-style-type: lower-alpha">
      <p>
        <li>By clicking the "I Agree" button, you grant (and are legally authorized to grant) to Company, its successors, licensees and assigns, throughout the world (the "Territory") and during the Administration Term (as defined in section 5 below), the
          sole and exclusive right:</li>
      </p>

      <ol style="list-style-type: lower-roman">
        <li>To be the administrator of the musical compositions owned or controlled, in whole or in part, by you, t o the full extent of your interest therein, and submitted by you to the Service during the Administration Term (the "Compositions").</li>

        <li>To license, and cause others to license, and to collect all income related to any exploitation of the Compositions. Without limitation, Company shall have the right to license: (A) broadcast and digital public performances; (B) the manufacture,
          reproduction, distribution and sale of records embodying one or more Compositions, both physically, digitally and electronically or in any other format or media; (C) the synchronization of the Compositions in connection with, but not limited
          to, motion pictures, television programs, advertisements, video games and on-line video sites and services such as YouTube; (D) the use of the Compositions in connection with merchandising, sponsorship or endorsement activities; and (E) if applicable,
          the use and performance of any master recording(s) of the Compositions that you own and/or control, which have been submitted to Company and are governed by Company’s Terms of Service ("Recordings"), including but not limited to the synchronization
          of the Recordings in connection with, but not limited to, motion pictures, television programs, advertisements, video games, on the same terms and conditions as the licenses granted pursuant to paragraph 1(a)(ii)(C) hereof.</li>

        <li>To publish, or license others to publish, printed versions of the Compositions.
        </li>

        <li>To make arrangements of, or otherwise adapt, change or translate, any Composition in any manner. For example, to license the right to (A) sample a Composition, (B) use a Composition in a so-called mash-up, or (C) record or re-record a Composition
          in a foreign language.</li>

        <li>To enter into agreements with, or assign or license any of Company’s rights and/or delegate any of its obligations under this agreement to third party licensees on such terms as may be acceptable to Company, including the right to delegate licensees
          to seek and procure adaptations and/or local re-recordings of a Composition, by means of adding new local language lyrics to the original music and/or creating a "cover version" of a Composition.</li>

        <li>To grant, administer and collect monies under blanket licenses for the use of Compositions in videos, "art tracks", user-generated videos and other audio-visual programs. In connection with YouTube, Company’s rights shall include the right to
          identify, claim and monetize videos containing Compositions by allowing the display of advertising.</li>

        <li>To use names, likenesses and biographical information concerning the writers of the Compositions in connection with the exploitation and/or promotion of the Compositions and for promotion of Company’s business.</li>

        <li>To use, display and make available the Recordings, if applicable, pursuant to paragraph 1(a)(ii)(E) above, and the underlying Compositions, on a streaming, royalty-free, worldwide basis, through Company websites, channels and profiles solely intended
          for use by authorized persons (e.g., music supervisors) to access, listen and test audio files of the Recordings and/or Compositions for potential third party synchronization placement.</li>
      </ol>
      <p>
        <li>You hereby appoint Company your true and lawful agent and attorney in fact (with full power of substitution and delegation) to make, execute and deliver any and all documents, instruments and writings in Company’s and/or your name and to take
          any other action in Company’s and/or your name which in the reasonable business judgment of Company is necessary or desirable to carry out the purposes of this agreement.</li>
      </p>
    </ol>
  </p>

  <li><strong>PAYMENTS.</strong></li>
  <p>
    <ol style="list-style-type: lower-alpha;">
      <p>
        <li>Company shall collect all Gross Receipts earned by the Compositions, including any monies earned by the Compositions prior to the commencement of the Administration Term but not yet collected.</li>
        <p>

          <p>
            <li>"Gross Receipts" is defined in this agreement as all revenue derived from exploitation of the Compositions (and Recordings, if applicable, in connection with synchronization licensing) and received by Company, solely allowing for arrangers’,
              adaptors and translators fees and royalties (subject always to local collection society rules and practices), any tax deductions and/or standard commissions deducted by bona fide collection agencies and/or societies operating at arms length,
              subpublishers and/or administrators fees and/or commissions and/or any fees charged by third party synchronization licensing agents used in any part of the Territory.</li>
          </p>

          <ol style="list-style-type: lower-roman">
            <li>Eighty-five percent (85%) of Gross Receipts derived from the exploitation of Compositions in the Territory, including but not limited to mechanical royalties, print income and the so-called "publisher’s share" of public performance income,
              shall be credited to your TuneCore account, except as set forth below. Company shall be permitted to retain fifteen percent (15%) of Gross Receipts.
              <li>Notwithstanding the foregoing, Eighty percent (80%) of Gross Receipts resulting from the synchronization of Compositions (and Recordings, if applicable) with films, videos, tapes or other permanent visual images shall be credited to your
                TuneCore account.
                <li>For the avoidance of doubt, the payments to you set forth above are inclusive of all songwriter royalties, solely excluding the "writer’s share" of public performance income, which shall be paid directly to you or any other applicable
                  third-party songwriter(s) from the applicable performance society(ies).
          </ol>

          <p>
            <li>Upon your specific written request, Compositions included in Artist Releases shall not be subject to mechanical royalty payments under this Agreement. "Artist Releases" are defined as self-released products (i.e., records released by you without
              any involvement by any third parties) which are sold by you only at your live performances or through your own website. In the event you request a waiver of mechanical royalties on any Artist Release, you agree that you will remain responsible
              for any payments due to co-publishers and/or co-writers with respect to sales, and you agree to indemnify Company against any and all claims with respect thereto.</li>
          </p>

          <p>
            <li>You shall receive statements as to your share of Gross Receipts, and such monies credited to your TuneCore account within forty-five (45) days after the end of each calendar quarter for each such preceding quarterly period. Once payment has
              been credited to your account, you will be able to withdraw all or a portion at your discretion. You will be responsible for any bank fees or other charges related to such withdrawals. Any objection relating to any accounting statement or
              any legal claims arising therefrom must be made (and any lawsuit commenced) no later than one (1) year after the date the statement is initially sent to you, and you waive any longer statute of limitations that may be permitted by law.</li>
          </p>

          <p>
            <li>In the event that Company has, in its good faith discretion, reason to suspect that any Composition submitted by you to Company is not in compliance with the terms of section 4 below, or if Company is presented with a claim of infringement
              of copyright, trademark, right or publicity or other intellectual property right, or failure to comply with any third party license requirement or any other claim which, if true, would constitute your breach of, or non-compliance with, any
              of your representations, warranties and agreements hereunder, you agree that Company may discontinue the posting of your share of Gross Receipts with respect to such Composition to your TuneCore account and block your ability to otherwise
              withdraw funds therefrom until satisfactory resolution of the matter is obtained. Furthermore, you agree that you will forfeit such revenues if Company determines that they are the result of infringement or fraud.</li>
          </p>

          <p>
            <li>If Company, in its reasonable discretion, determines that any infringing or fraudulent activities may have been caused by your or your affiliates acts or omissions, any costs incurred by Company (including legal fees and expenses) in connection
              therewith may, in addition to other remedies, be deducted by Company from any monies otherwise payable to you by Company. Furthermore, if in Company’s reasonable business judgment it elects to engage an attorney to review and/or respond
              to a claim of fraud and/or infringement with respect to a Composition(s), Company shall, in its sole discretion, have the right to deduct from your TuneCore account or charge your Payment Method (defined in section 6(b) below) a minimum
              of Three Hundred Dollars ($300) to offset the costs of associated legal fees and expenses.</li>
          </p>
    </ol>
    </p>

    <li><strong>LEGAL PROCEEDINGS AND SETTLEMENTS.</strong></li>
    <p>
      <ol style="list-style-type: lower-alpha;">
        <p>
          <li>Company shall have the right but not the obligation to prosecute, defend and settle all claims and actions with respect to the Compositions, and generally to do all things necessary concerning the same and the copyrights or other rights with
            respect to the Compositions; provided, however, Company shall not settle claims without your consent (other than as set forth in section 3(b) below). In the event of a recovery by Company or you of any monies as a result of a judgment or settlement,
            such monies shall be divided between you and Company in the same shares as provided for in section 2, after first deducting the out-of-pocket expenses of obtaining said monies, including reasonable legal fees and expenses. You shall have the
            right to provide counsel for yourself, to assist in or assume the prosecution or defense of any such matter, but at your own expense. Any judgments against Company and any settlements by Company of claims against it respecting any of the Compositions,
            together with costs and expenses, including, without limitation, legal fees and expenses, shall be subject to the indemnity provisions of the Terms of Service, and your indemnity payments shall be paid to Company from any and all sums that
            may become due to you under any and all accounts owned by you and administered by Company or promptly upon demand by Company.</li>
          <p></p>
          <li>Notwithstanding anything to the contrary contained herein, Company shall have the right, but not the obligation, to opt its catalog of administered compositions (including the Compositions) into licensing arrangements and industry-wide settlements
            for the recovery of royalties presented and endorsed by advocacy groups such as the National Music Publishers Association without your prior consent.</li>
        </p>
      </ol>
    </p>

    <li><strong>THIRD PARTY OBLIGATIONS.</strong></li>
    <p>You shall be solely responsible for the payment of all compensation, if any, to and any permissions required from, songwriters, licensors, income participants and other third parties to whom you are obligated to pay a portion of the income derived
      from any of the Compositions. You warrant and represent that all such songwriters, licensors, income participants and other third parties to whom you are obligated to pay a portion of the income from the Compositions shall look solely to you for
      any such payments and you hereby agree to indemnify Company and hold Company harmless from and against any and all claims, demands or actions by any such songwriters, licensors, income participants and other third parties for any such payments in
      accordance with the indemnification provisions of the Terms of Service.</p>

    <li><strong>ADMINISTRATION TERM / POST-TERM.</strong></li>
    <p>
      <ol style="list-style-type: lower-alpha;">
        <p>
          <li>The "Administration Term" of this agreement shall be for an initial period of one (1) year, commencing on the date the Set Up Fee (as defined in section 6(a) below) is received and processed by Company. After the initial period, the Administration
            Term shall automatically renew and extend for additional quarterly periods unless you give Company written notice of termination at least forty-five (45) days prior to the end of the period then in effect.</li>
        </p>
        <p>
          <li>Company shall have the right to collect all income relating to the Compositions earned prior to the beginning of the Administration Term, but not yet collected. After the expiration of the Administration Term, Company shall have the right to:
            (i) collect any royalties earned during the Administration Term and collected within twelve (12) months for the United States and eighteen (18) months for the world excluding the United States after the expiration of the Administration Term,
            and (ii) issue any option, extension or renewal of any license issued by Company during the Administration Term.</li>
        </p>
      </ol>
    </p>

    <li><strong>COMPANY FEES.</strong></li>
    <p>
      <ol style="list-style-type: lower-alpha;">
        <p>
          <li>You shall pay Company a one-time, non-refundable fee (the "Set Up Fee"), as set forth on Company’s website, to cover Company’s administrative expenses with respect to updating your catalog of Compositions.</li>
        </p>
        <p>
          <li>You agree that Company is authorized to deduct the Set Up Fee, any applicable taxes and other charges you may incur in connection with your use of the administration services directly from your TuneCore account or charge such fees to any alternate
            payment method you provide to Company (such as a valid PayPal account, credit card or debit card, each a "Payment Method"). For the avoidance of doubt, if you or Company terminates this agreement for any of the reasons set forth herein, you
            will not be entitled to a full or partial reimbursement of the Set Up Fee. Furthermore, if for any reason you fail to make a payment or a payment is reversed hereunder via the Payment Method or any other method after agreeing to these Terms
            of Service, Company will be entitled to recoup, at its sole discretion, the Set Up Fee (plus a Twenty-Five Dollar ($25.00) administrative fee), by any means necessary, including the right to keep your account active and collect any resulting
            royalties until the Set Up Fee is fully recouped. It is your responsibility to notify Company if your Payment Method has changed by making the appropriate changes to your TuneCore account settings. If you do not provide a valid Payment Method
            your service may be disconnected or interrupted at Company’s sole discretion.</li>
        </p>
      </ol>
    </p>

    <li><strong>WARRANTIES AND REPRESENTATIONS.</strong></li>

    <p>You warrant and represent that you are at least eighteen (18) years of age and that all of the Compositions, including, without limitation, any interpolated third party material embodied therein, metadata and any other materials furnished by you to
      Company or relating to the Compositions are owned or controlled by you and the use thereof as described or contemplated herein shall not infringe on the copyrights, trademark rights, publicity rights or other rights of any person or entity; are
      not defamatory nor criminally obscene; and that Company shall have the right to exploit same in any manner hereunder free from adverse claim and without any obligation to make any payment of any nature to any person or entity other than the amounts
      payable to you hereunder.</p>

    <li><strong>DOCUMENTS.</strong></li>
    <p>
      <ol style="list-style-type: lower-alpha;">
        <p>
          <li>At Company’s request, you shall execute and deliver to Company any documents needed regarding the granted rights of Company in the Compositions, and if you fail to do so within ten (10) business days following Company’s request thereof, Company
            may sign such documents in your name.</li>
        </p>
        <p>
          <li>Concurrently with your acceptance of this amendment, you will supply Company with copies of any existing licenses or other agreements concerning the Compositions. You further agree to notify Company of each recorded version of any Composition
            during the Administration Term as soon as reasonably practicable after you become aware thereof. If and to the extent that you fail to provide to Company any of the materials and information referred to in this section 8(b), Company’s rights
            in and to the Compositions shall not be impaired as a result thereof. Company shall not be responsible for any non-collection of monies or lack of copyright protection with respect to the affected Composition(s) that is the direct or indirect
            result of any such failure by you.</li>
        </p>
      </ol>
    </p>
</ol>
