<h2 style="color:black;">Effective as of September 2, 2015</h2>
        <p>Please read the following terms and conditions carefully. These terms and conditions (including any applicable amendments to these terms and conditions), as well as the <a href="#copyright_policy">copyright policy</a> (the “Copyright Policy”) and the <a href="/index/privacy">privacy policy</a> (the “Privacy Policy”) (incorporated herein by this reference and collectively referred to as the “Terms of Service”), govern your access to and use of the TuneCore.com website (the “Site”), including the use of any content, information, products and/or services (the “Services”) therein. This is a legal agreement between you and TuneCore, Inc. (“Company”), which you acknowledge and agree you are entering into for the purposes of pursuing your business of commercially exploiting music content you have created. Company reserves the sole right at any time to modify, discontinue or terminate the Site and Services, or modify the Terms of Service without notice. It is your responsibility to check these Terms of Service periodically for changes. By continuing to use or access the Site and/or Services after Company makes and posts any such modification, you agree to be legally bound by the revised Terms of Service. You may not alter the terms and conditions of the Terms of Service without Company&rsquo;s express written consent.</p>

        <p><strong>YOU UNDERSTAND THAT BY USING THE SERVICES OFFERED BY COMPANY THROUGH THE SITE OR WITH RESPECT TO YOUR TUNECORE ACCOUNT, YOU AGREE TO BE BOUND BY THE TERMS OF SERVICE. IF YOU DO NOT ACCEPT THE TERMS OF SERVICE IN THEIR ENTIRETY, YOU MAY NOT ACCESS OR USE THE SERVICES OFFERED BY COMPANY.</strong></p>


        <p><strong>1. GRANT OF RIGHTS.</strong></p>

        <p>(a) The rights granted hereunder shall include the sale of Recordings (as defined in Section 2 below) by, without limitation, permanent digital downloads, temporary digital downloads, interactive streaming, non-interactive streaming, cloud services and so-called &quot;disc-on-demand&quot; services. <strong>You and Company agree that the internet consumer stores (“Consumer Stores”) (e.g., iTunes, Amazon, Spotify, Rhapsody) licensed to exploit your Recordings hereunder must be approved by you.</strong></p>

        <p>(b) By clicking the “I Agree” button, you irrevocably grant to Company, throughout the world (the “Territory”) and during the Term (as defined in Section 7 below), the <strong>non-exclusive right:</strong></p>
        <ul>
                   <li>&nbsp;&nbsp;&nbsp;&nbsp;   (i) to sell, copy, distribute and otherwise exploit the Recordings by all means and media (whether now known or existing in the future) (“Sale”) through any and all Consumer Stores now operational or hereafter available;</li>
                   <li>&nbsp;&nbsp;&nbsp;&nbsp;   (ii) to collect all income deriving therefrom; and</li>
                   <li>&nbsp;&nbsp;&nbsp;&nbsp;   (iii) to use the name(s), photographs and likenesses, artwork images, biographical and other information provided by you or the artists whose performances are embodied on the Recordings in connection with the Recordings and Company's general business.</li></ul>

        <p>(c) <strong>You agree that you will not use the Site or Services to transmit, route, provide connections to or store any material that infringes copyrighted works or otherwise violates or promotes the violation of the intellectual property rights of any third party. </strong> You acknowledge and agree that Company may disable access to and/or terminate your account and/or remove or disable access to any Recordings or any associated materials you provide to Company in the event that Company receives any claim that, if true, would constitute a violation of your representations and warranties hereunder. Please see the Copyright Policy for further information.</p>

        <p>(d) You agree that Company may freeze any and all revenues in your account that are received in connection with Recordings or other materials submitted by you which Company believes, in its good faith discretion, violate the Terms of Service, and that such revenues will be forfeited by you if Company determines, in its good faith discretion, they are the result of fraud and/or infringement and you will not be entitled to reimbursement of such revenues.</p>
        <p>(e) You agree that Company may terminate your account and/or disable access to your Recordings and/or any other materials you provide to Company if you violate the Terms of Service or, in Company&rsquo;s good faith discretion, are believed to be infringing the intellectual property rights of third parties and/or engaging in otherwise fraudulent activity. In such event you agree that you will not be entitled to reimbursement for any fees paid by you to Company.

        <p><strong>2. RECORDINGS.</strong> </p>
        <p>The term &quot;Recordings&quot; shall be defined as the sound
recordings and audiovisual recordings that you submit to Company at any time. Company, in its sole discretion, reserves the right to reject any materials (including, without limitation, Recordings, images and/or artwork) that you submit. You agree to submit all Recordings, images and artwork at your sole expense, in the format(s) required by Company or the Consumer Stores. Technical descriptions of such format(s) will be provided to you upon request. You agree that Company and/or its suppliers will have the right to supplement existing artwork necessary to complete the packaging for discs-on-demand. Reasonable efforts will be made to provide you with approval rights over such artwork, but in the event that you object to any such artwork your only remedy shall be to (a) provide appropriate replacement artwork or (b) request prospective discontinuation of delivery of your materials in such manner. In no circumstances shall Company have any liability to you with respect to the quality, sufficiency or other aspect of the creation and delivery of such discs-on-demand.</p>

        <p><strong>3. PAYMENTS.</strong>  </p>
                   <p>(a) Company will pay you one hundred percent (100%) of Net Income (as defined in Section 3(b) below). Net Income will be posted to your TuneCore account in a timely fashion after Company's receipt thereof. Once payment has been credited to your account, you will be able to withdraw all or any portion at your discretion. You will be responsible for any bank fees or other charges related to such withdrawals.</p>
        <p>(b) &quot;Net Income&quot; shall be defined as Company's actual receipts from Consumer Stores less any tax, fee or other charge related to the Sale of your Recordings. Any objection relating to any accounting statement or any lawsuit arising therefrom must be made (and any lawsuit commenced) no later than one (1) year after the date the statement is rendered, and you hereby waive any longer statute of limitations that may be permitted by law. </p>
        <p>(c) To the extent that you owe any amounts to Company as a consequence of the Terms of Service or otherwise, Company shall have the right to deduct all or a portion of such amounts from any Net Income otherwise payable to you. </p>
        <p> (d) In the event that Company has, in its good faith discretion, reason to suspect that your account has been subjected to and/or involved in fraudulent or infringing activities, Company reserves the right to discontinue the posting of Net Income to your account and block your ability to otherwise withdraw funds therefrom until resolution of the suspect activities to the satisfaction of Company is obtained. Furthermore, you agree that such revenues will be forfeited by you if Company determines, in its good faith discretion, that they are the result of fraud and/or infringement. To the extent that any fraudulent and/or infringing activities are determined to be caused by your or your affiliates actions or omissions, any costs incurred by Company (including legal fees and expenses) in connection therewith may, in addition to its other remedies, be deducted by Company from any monies otherwise payable to you hereunder. Certain Consumer Stores may also have policies related to fraud and suspected fraudulent activities and you agree that it is your responsibility to investigate such policies, if any, and such policies shall be binding upon you hereunder.</p>
        <p>(e) The Net Income posted to your TuneCore account will be pooled in an interest bearing bank account with the Net Income of other TuneCore customers until you withdraw such funds. You agree that you will not receive interest or other earnings on the Net Income that Company handles as your agent and places in such pooled account. In consideration for your use of the Services, you irrevocably transfer and assign to Company any ownership right that you may have in any interest that may accrue on Net Income held in such pooled account. In addition to or instead of earning interest on such pooled account, Company may receive a reduction in fees or expenses charged for banking services by the banks that hold your Net Income.</p>
        <p>(f) In connection with your decision to use the TuneCore streaming media player, iPhone application or other so-called widgets or applications (the “Streaming Players”) as platforms for users to stream your Recordings, you hereby waive any right to digital artist royalties, performance royalties or any other fees or royalties, statutory or otherwise, that Company may be obligated to pay you or a third party in connection with the use of such Streaming Players. For the avoidance of doubt, to the extent that you utilize a Streaming Player on your own website or <%= t(:authoriz) %>e its use on any other website on the Internet, you acknowledge and agree that Company is not responsible to make any third party payments in connection with the Recordings and underlying musical compositions which you own and/or control. </p>
        <p> (g) To the extent that you elect to use certain Recordings from your TuneCore <%= t(:catalog) %> to distribute free to any parties (via a Streaming Player, directly through your own website or otherwise), you agree that you will be solely responsible for any of the above referenced third party payment obligations resulting from such deliveries. Without limiting any of the foregoing, you expressly agree to either waive music publishing royalties (if you own or control such rights) or pay any necessary royalties due to third party music publishers as a result of any such free distribution.</p>
        <p> (h) In the event that Company is presented with a claim of infringement of copyright, trademark, right of publicity or other intellectual property right, or failure to comply with any third party license requirement or any other claim which, if true, would constitute your breach of, or non-compliance with, any of your representations, warranties or agreements hereunder, you agree that Company may freeze any and all revenues in your account that are received in connection with the disputed Recordings or other materials submitted by you, and that such revenues will be forfeited by you if Company determines, in its good faith discretion, they are the result of fraud and/or infringement. Furthermore, if in Company&rsquo;s reasonable business judgment it elects to engage an attorney to review and/or respond to such claim, Company shall, in its sole discretion, have the right to deduct from your account or charge any alternate payment method you provide to Company (such as a PayPal account, credit card or debit card) (each a “Payment Method”) a minimum of Three Hundred Dollars ($300) to offset the costs of associated legal fees and expenses.</p>


        <p><strong>4. THIRD PARTY OBLIGATIONS.</strong> </p>
        <p>(a) You shall be solely responsible for securing and paying for digital phonorecord delivery, mechanical, public performance and any other licenses (as applicable) required from musical composition copyright owners or their agents in connection with Company's exploitation of rights hereunder, as well as royalties due to artists, producers and other persons who performed in the making of the Recordings and all payments that may be required under collective bargaining agreements or pursuant to any statutory schemes.</p>
        <p>(b) For digital download sales in the United States, your payment typically includes the mechanical royalty on the underlying composition. In the case of the iTunes Match service, your payment includes a publishing portion that covers both the mechanical and public performance royalties. If you do not own or control the underlying composition(s) in your sound recording(s), it is your obligation to pay these publishing royalties to the person or entity that does. Outside of the United States, Company customarily requires Consumer Stores to secure and pay for music publishing licenses (and such license fees may or may not be deducted by the Consumer Store concerned from the proceeds payable to Company). If any Consumer Store outside of the United States does not agree to secure and pay for music publishing licenses, Company shall have the right, in its sole discretion, to either (i) decline to license such Consumer Store or (ii) assume the responsibility to clear and pay for the music publishing licenses required in connection with such Consumer Store's Sales, which license fees Company shall have the right to deduct from amounts payable to you hereunder. To the extent that Company is required or elects, in its sole discretion, to pay any of the foregoing amounts, such payments will be deducted from any amounts otherwise payable to you hereunder.</p>
        <p>(c) To the extent that Company permits you to select certain Recordings from your TuneCore <%= t(:catalog) %> to distribute free to fans or directly through your own website, you agree that you will be solely responsible for any of the above referenced third party payment obligations resulting from such deliveries.</p>

        <p><strong>5. WARRANTIES; REPRESENTATIONS; INDEMNITIES.</strong></p>
                <p>(a) <strong>You warrant and represent that you are at least eighteen (18) years of age, you have the right and authority to enter into this agreement and to grant to Company all rights specified; all of the Recordings, including, without limitation, any sampled third party material embodied therein, artwork, metadata, audiovisuals, images and any other materials furnished by you to Company or relating to the Recordings are owned or controlled by you and the use thereof as described or contemplated herein and/or on the Site and/or Consumer Stores&rsquo; websites shall not infringe on the copyrights, trademark rights, publicity rights or other rights of any person or entity; and that Company shall have the right to exploit the same in any manner hereunder free from adverse claim and without any obligation to make any payment of any nature to any person or entity other than the amounts payable to you hereunder.</strong></p>
                <p>(b)  <strong>You shall defend and indemnify Company and any of its affiliates (including any directors, members, officers, employees and other representatives) and hold them harmless against any third party claims or expenses and losses resulting from breach or a claim which, if true, would constitute a breach of the foregoing representations and warranties or any of the agreements contained in these Terms of Service, including reasonable attorneys' fees and expenses.</strong></p>
                <p>(c) Company shall give you prompt notice of any claim that is subject to the foregoing indemnification obligation and you shall defend Company at your expense with counsel approved by Company, which approval shall not be unreasonably withheld. In the event you fail to retain approved counsel, Company may, if it so elects, defend itself at your cost and expense and you agree that Company may require your participation in such defense as a third party or otherwise and you hereby waive any objection or claim to compensation in respect of same. If a claim is made Company shall have the right, in its sole discretion, to remove or disable access to the Recordings and/or any associated materials that are the subject of such claim, and/or to withhold payment of any monies due hereunder in an amount reasonably related to the claim and potential expenses. Any settlement of any claim shall be subject to Company's prior written approval.</p>
                <p>(d) <strong>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW COMPANY EXCLUDES ALL REPRESENTATIONS, WARRANTIES AND CONDITIONS RELATING TO THIS SITE AND THE USE OF THIS SITE OTHER THAN THOSE EXPRESSLY SET FORTH IN THE TERMS OF SERVICE (INCLUDING, WITHOUT LIMITATION, ANY WARRANTIES IMPLIED BY LAW OF SATISFACTORY QUALITY AND/OR THE USE OF REASONABLE CARE AND SKILL).</strong></p>

        <p><strong>6. SUBSCRIPTION FEES.</strong> </P>
        <p>     In consideration of the Services rendered hereunder, you shall pay us a recurring subscription fee via a Payment Method.. Company reserves the right to amend these fees from time to time and will notify you if such amendment affects your ongoing subscription. You expressly agree that Company is <%= t(:authoriz) %>ed to deduct your recurring subscription fees, any applicable tax and other charges you may incur in connection with your use of the Services directly from your TuneCore account (i.e., your share of Net Income) or charge such fees to any Payment Method you provide to Company. You are solely responsible for all charges, fees, duties, taxes, and assessments arising out of any use of your TuneCore account by you or anyone else using your account. If you notify Company in writing that you are terminating your subscription for one or more of your Recordings, no further subscription fees will be charged to your TuneCore account or Payment Method for those Recordings and all terminated Recordings will be removed from their respective Consumer Stores. You will not be entitled to reimbursement of any pre-paid fees with respect to any terminated Recordings. If for any reason you fail to make a payment or a payment is reversed hereunder via the Payment Method or any other method after agreeing to these Terms of Service, Company will be entitled to recoup, at its sole discretion, the subscription fee, by any means necessary, including the right to keep your account active and collect any resulting royalties until the subscription fee is fully recouped. It is your responsibility to notify Company if your Payment Method has changed by making the appropriate changes to your TuneCore account settings. If you do not provide a valid Payment Method your service may be disconnected or interrupted at Company&rsquo;s sole discretion.</p>

        <p><strong>7. TERM.</strong> </p>
<p>     The Terms of Service shall apply at all times while you utilize the Site or the Services.</p>

        <p><strong>8. CONFIDENTIALITY.</strong> </p>
                 <p> You acknowledge and agree that, in the course of negotiating and transacting business with Company, you may become aware of certain otherwise confidential information related to Company&rsquo;s business and business practices. Except to the extent that such information is otherwise generally available to third parties or is required to be divulged by operation of law, you agree to keep such information confidential. You hereby expressly agree that Company shall have the right to provide information relative to the sales of your Recordings hereunder to third parties, to aggregate such information in charts and other comparative informational materials, and to disseminate the same in any manner.</p>

        <p><strong>9. OTHER AGREEMENTS.</strong> </p>
        <p> You acknowledge that in providing the Services and payments hereunder, Company will be required to enter into certain agreements with various Consumer Stores. The selection of these Consumer Stores shall be within the sole discretion of Company. You agree that the Terms of Service shall be subject to any applicable terms and conditions of such other agreements that Company enters into with respect to such Consumer Stores. You expressly acknowledge that certain Consumer Stores may, with respect to audiovisual recordings, require that your audiovisual recordings be made available on their websites at certain times and in certain formats relative to the availability of such materials elsewhere in the marketplace. To the extent that such requirements are not met, the individual Consumer Stores may have the right to discontinue the availability of said audiovisual recordings in their store(s). Company will, upon your written request, provide you with the current specifics of such requirements.</p>

        <p><strong>10. BAR CODES AND UNIVERSAL PRODUCT CODES.</strong> </p>
        <p> Company will provide you with free bar codes and universal product codes (“UPCs”). These are for your use only and may not be transferred or resold. If transferred or resold, Company will charge you Twenty-Five Dollars ($25.00) per bar code or UPC, plus any revenue made by you from such transfer or resale. Company may deduct such charges from any Net Income owed to you by Company or charge such amounts to any Payment Method you provide to Company.</p>

        <p><strong>11. MISCELLANEOUS.</strong></p>
        <p>(a) The Site and Services may be used and accessed solely for lawful purposes. You agree to abide by all applicable local, state, national and foreign laws, treatises and regulations in connection with your use of the Site and Services, including, without limitation, applicable common law, all relevant statutes, and the rules and regulations of the Office of Foreign Assets Control of the U.S. Department of the Treasury. In addition, without limitation, you agree that you will not do any of the following while using or accessing the Site and Services:</p>
        <ul>
                   <li>&nbsp;&nbsp;&nbsp;&nbsp;   (i) Disable, hack, circumvent or otherwise interfere with security related features of the Site or features that prevent or restrict use or copying of any Company content or materials;</li>
                   <li>&nbsp;&nbsp;&nbsp;&nbsp;   (ii) Use any metadata, meta tags or other hidden text utilizing a TuneCore name, trademark, URL or product name;</li>
                   <li>&nbsp;&nbsp;&nbsp;&nbsp;   (iii) Upload, submit, post, email or otherwise transmit any unsolicited or un<%= t(:authoriz) %>ed advertising, promotional materials, junk mail, spam, chain letters, so-called pyramid schemes or any other form of solicitation;</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;   (iv) Forge any TCP/IP packet header or any part of the header information in any posting or in any way use the Site or Services to send altered, deceptive or false source-identifying information;</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;   (v) Upload, submit, post, email, or otherwise transmit, via the Site or Services, any Recordings or other materials that are, in the sole opinion of Company, unlawful, harmful, threatening, obscene, harassing, defamatory or hateful or that contain objects or symbols of hate, invade the privacy of any third party, contain nudity (including, without limitation, any pornography, erotica, child pornography or child erotica), are deceptive, threatening, abusive, inciting of unlawful action, defamatory, libelous, vulgar or violent or constitute hate speech or are otherwise objectionable;</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;   (vi) Destroy, interfere with or disrupt, or attempt to interfere with or disrupt, any web pages available on the Site, servers or networks connected to the Site or the technical delivery systems of Company&rsquo;s providers or break any requirements, procedures, policies or regulations of networks connected to the Site;</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;   (vii) Attempt to scan, probe or test the vulnerability of any Company system or network or breach, impair or circumvent any security or authentication measures protecting and providing security for the Site or Services;</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;   (viii) Attempt to decompile, disassemble, decipher or reverse engineer any of the software used to provide the Site or Services;</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;   (ix) Attempt to search, meta-search or access the Site with any engine, software, tool, agent, device or mechanism other than software and/or search agents provided by Company or other generally available third party web browsers (e.g., Internet Explorer, Firefox, Safari), including, without limitation, any software that sends queries to the Site to determine how a website or web page ranks;</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;   (x) Collect or store personal data about other users of the Site or Services without their express and explicit permission; </li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;   (xi) Misrepresent or impersonate your affiliation with any person or entity, through pretext or some other form of social engineering or otherwise commit fraud;</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;   (xii) Use the Site or Services in any manner not permitted by the Terms of Service; or</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;   (xiii) Instruct or encourage any other individual to do any of the foregoing or to breach and/or violate any of the Terms of Service.</li>
</ul>
        <p>(b) Company does not guarantee exploitation of the Recordings, which will depend on consumer preference, nor on the inclusion or participation of any given Consumer Store. Company reserves the right in its sole discretion to decline to engage in business with any given Consumer Store. Except as specifically set forth in the Terms of Service, Company shall have no obligations to you.</p>
        <p>(c) Company shall not be deemed in breach of the Terms of Service unless you have given Company notice of the breach and Company has failed to cure such breach within thirty (30) days after receipt of such notice. In no event shall any breach entitle you to rescind the rights granted hereunder. </p>
        <p>(d) <strong>You agree and acknowledge that in no event will Company, its officers, directors, employees or agents be liable to you for indirect, incidental, special, punitive or consequential damages arising out of or in connection with your use of the Site, Services, Company products or any Company content, no matter whether the damages are foreseeable and whether or not Company has been advised of the possibility of such damages.</strong> </p>
        <p>(e) <b>You agree and acknowledge that in no event will Company, its officers, directors, employees or
agents be liable to you for any damages of any kind, other than those set out at paragraph (d) above, arising out of or in connection with your use of the Site, Services, Company products or any Company content, no matter whether the damages are foreseeable and whether or not Company has been advised of the possibility of such damages.</b></p>
        <p>(f) The foregoing limitations of liability in paragraphs (d) and (e) above will apply to the fullest extent permitted by law in the applicable jurisdiction and in no event will Company&rsquo;s aggregate liability to you exceed One Hundred Dollars ($100) </p>
        <p>(g) Notwithstanding paragraph 11(d) above, nothing in the Terms of Service shall operate to exclude or limit the liability of Company for:</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp; (i) death or personal injury caused Company&rsquo;s negligence or the negligence of its &nbsp;employees while acting in the course of their employment; or</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp; (ii) fraud or fraudulent misrepresentation; or</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp; (iii) any other liability which cannot be excluded or limited under any applicable law.(h) The Terms of Service shall be governed by and interpreted in accordance with the laws of the State of New York excluding that body of law pertaining to the conflict of laws. Any legal action or proceeding arising under the Terms of Service shall be brought exclusively in courts located in the State and County of New York, and the parties hereby irrevocably consent to the personal jurisdiction and venue therein. The parties to this agreement waive their respective rights to a trial by jury. In the event that any provision in the Terms of Service is held to be invalid or unenforceable, the remaining provisions will remain in full force and effect. The failure of a party to enforce any right or provision of the Terms of Service will not be deemed a waiver of such right or provision. You may not assign the Terms of Service (by operation of law or otherwise) without the prior written consent of Company and any prohibited assignment will be null and void. Company may assign the Terms of Service or any rights or obligations hereunder without your consent. The relationship of the parties under the Terms of Service is that of independent contractors and the Terms of Service shall not be construed to imply that either party is the agent, employee, or joint venturer of the other. You agree that the Terms of Service and the rules, restrictions and policies contained herein, and Company's enforcement thereof, are not intended to confer and do not confer any rights or remedies upon any person other than you and Company. The Terms of Service, together with the general business policies of Company, constitute the entire agreement between Company and you with respect to the subject matter hereof. Any notice or other communication to be given hereunder will be in writing and given (i) by Company via email (in each case to your email address of record), (ii) a posting on the Site, or (iii) by you via email to <a href="mailto:copyright@tunecore.com">copyright@tunecore.com</a> or to such other address as Company may specify in writing. The date of receipt shall be deemed the date on which such notice is transmitted.</p>
        <p>(h) You acknowledge that you have read and understand Company's Privacy Policy as more fully described on the Site, and by using the Services and the Site you have expressly accepted the terms and conditions set forth in such Privacy Policy, as same may be amended from time to time.</p>
        <p>(i) It is your responsibility to deliver all necessary information, metadata, songs, graphic files or any other information or music in the format required. You acknowledge that Company will not be obligated to furnish its services hereunder until receipt of said materials.</p>
        <p>(j) In very limited circumstances, Company may permit you to modify the standard wholesale price you will receive from sales of certain of your Recordings by a Consumer Store (“Price Variance”), such circumstances to be determined by Company in its sole discretion. Further to and consistent with the provisions of Section 11(d) above, in no event will Company, its officers, directors, employees or agents be liable to you for any claims you may have in connection with any errors occurring in the implementation of such Price Variance, which are not solely and entirely caused by Company&rsquo;s negligence or error. </p>
        <p>(k) You <%= t(:authoriz) %>e Company to make and perform clips of your Recordings up to ninety (90) seconds in length via streaming or download free of charge (the &quot;Clips&quot;) to promote the band, artist and/or Sale of applicable Recordings. To the extent that you own or control the publishing rights in the musical compositions embodied in your Recordings used in the Clips (the “Compositions”), you <%= t(:authoriz) %>e Company to make and perform clips of your Compositions up to ninety (90) seconds in length via streaming or download free of charge to promote the band, artist and/or Sale of applicable Recordings. Said Clips may be created by Company or any third party affiliated with Company by using any consecutive ninety (90) seconds of the applicable Recording(s).</p>

        <p>(l) Company reserves the right, in its sole discretion, to refuse to provide the Services to you or any customer for any or no reason whatsoever.</p>
        <p>(m) If an audiovisual master is rejected by a Consumer Store because it does not meet that store&rsquo;s technical or editorial specifications, you must pay a resubmission fee before resubmitting the master. In the event you are unable or unwilling to correct the errors or quality issues in order to resubmit the audiovisual master, there shall be no refund on previously paid fees &#8211; the fees paid for the initial submission<strong> and any resubmission </strong>are not refundable under any circumstance.</p>