<h2 style="color:black;">Effective as of June 5, 2012</h2>
        <p><a name="copyright"><strong><h3>TUNECORE COPYRIGHT POLICY</h3></strong></a></p>

        <p>TuneCore respects the copyrights of others and expects its users to do the same. In compliance with the Digital Millennium Copyright Act of 1998 as embodied in 17 U.S.C. § 512 (the “DMCA”), a copy of which may be found on the United States Copyright Office website at <a href="http://www.copyright.gov/title17/92chap5.html#512">http://www.copyright.gov/title17/92chap5.html#512</a>, TuneCore will respond expeditiously to remove or disable access to material that is claimed to infringe copyrighted material or to be the subject of activity that infringes copyrighted material and was posted online using the TuneCore service. </p>
        <p><strong><u>DMCA Notification of Claimed Infringement</u></strong></p>
<p>     If you are a copyright owner or <%= t(:authoriz) %>ed to act on behalf of the owner of an exclusive right under copyright that is allegedly infringed, please notify TuneCore of the material that is claimed to be infringing or to be the subject of infringing activity and was posted online using the TuneCore service by completing a DMCA Notification of Claimed Infringement (the “Notification”) as described below and delivering it to TuneCore’s Designated Copyright Agent.  It is important to emphasize that you should only submit a Notification if you own or control the copyrighted material that is claimed to be infringing because under 17 U.S.C. § 512(f), any person who knowingly materially misrepresents that material is infringing may be liable for damages.</p>

<p> To be effective, the Notification must be a written communication provided to TuneCore’s Designated Copyright Agent that includes substantially the following:</p>

<ul>
            <li>&nbsp;&nbsp;&nbsp;&nbsp; 1. Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works, a representative list of such works;
                <li>&nbsp;&nbsp;&nbsp;&nbsp; 2. Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit TuneCore to locate the material;
                <li>&nbsp;&nbsp;&nbsp;&nbsp; 3. Information reasonably sufficient to permit TuneCore to contact you, such as an address, telephone number, and, if available, an email address at which you may be contacted;
                <li>&nbsp;&nbsp;&nbsp;&nbsp; 4. A statement that you have a good faith belief that the use of the material in the manner complained of is not <%= t(:authoriz) %>ed by the copyright owner, its agent, or the law;
                <li>&nbsp;&nbsp;&nbsp;&nbsp; 5. A statement that the information in the Notification is accurate, and under penalty of perjury, that the complaining party is the copyright owner or <%= t(:authoriz) %>ed to act on behalf of the owner of an exclusive right under copyright that is allegedly infringed; and
                <li>&nbsp;&nbsp;&nbsp;&nbsp; 6. The physical or electronic signature of the copyright owner or a person <%= t(:authoriz) %>ed to act on behalf of the owner of an exclusive right under the copyright that is allegedly infringed. </ul>

                <p> Once completed, please deliver the Notification to TuneCore's Designated Copyright Agent at: </p>
                Copyright Agent <br>
                TuneCore, Inc. <br>
                63 Pearl Street, Box #256 <br>
                Brooklyn, NY 11201 <br>
                <a href="mailto:copyright@tunecore.com">copyright@tunecore.com</a> <br></p>



        <p>     Upon receipt of a valid Notification, TuneCore will respond expeditiously to remove or disable access to the material that is claimed to be infringing or to be the subject of infringing activity.</p>

        <p><u> <strong>DMCA Counter Notification </strong></u></p>

        <p>If material you have posted online using the TuneCore service has been removed or disabled in response to a DMCA Notification of Claimed Infringement, TuneCore will promptly forward the Notification to you and inform you that it has removed or disabled access to such material.  If you own or control the rights to the material you posted online using the TuneCore service and you believe that your material was removed or disabled by mistake or misidentification, you may send TuneCore’s Designated Copyright Agent a DMCA Counter Notification (the “Counter Notification) as described below.  It is important to emphasize that you should only submit a Counter Notification if you own or control the copyrighted material that is claimed to be infringing because under 17 U.S.C. § 512(f), any person who knowingly materially misrepresents that material was removed or disabled by mistake or misidentification may be liable for damages.</p>

        <p>To be effective, a DMCA Counter Notification must be a written communication provided to TuneCore’s Designated Copyright Agent that includes substantially the following:</p>
        <ul>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp; 1. Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled;
                        <li>&nbsp;&nbsp;&nbsp;&nbsp; 2. A statement under the penalty of perjury that you have a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled;
                        <li>&nbsp;&nbsp;&nbsp;&nbsp; 3. Your name, address, and telephone number, and a statement that you consent to the jurisdiction of the Federal District Court for the judicial district in which your address is located, or if your address is outside of the United States, for any judicial district in which TuneCore may be found, and that you will accept service of process from the person who provided the DMCA Notification of Claimed Infringement (the “Claimant”) or an agent of such person; and
                        <li>&nbsp;&nbsp;&nbsp;&nbsp; 4. Your physical or electronic signature.</ul>
                                <p>Once completed, please deliver the Counter Notification to TuneCore's Designated Copyright Agent at:</p>
                                Copyright Agent <br>
                                TuneCore, Inc. <br>
                                63 Pearl Street, Box #256 <br>
                                Brooklyn, NY 11201 <br>
                                <a href="mailto:copyright@tunecore.com">copyright@tunecore.com</a> <br></p>

                        <p>Upon receipt of a Counter Notification, TuneCore will promptly forward it to the Claimant and inform the Claimant that TuneCore will replace the removed material or cease disabling access to it unless the Claimant notifies TuneCore’s Designated Copyright Agent within ten (10) business days that he or she has filed an action seeking a court order to restrain you from engaging in infringing activity with regard to the material posted online by you using the TuneCore service.  If TuneCore receives notification that the Claimant has filed such a lawsuit, it will be unable to replace the removed material or cease disabling access to it.  If TuneCore does not receive such notification, it may, in its sole discretion, replace the removed material or cease disabling access to it. </p>


<p> Please note that when TuneCore forwards the Counter Notification to the Claimant it includes your personal information. By submitting a Counter Notification, you consent to having your information revealed in this way. TuneCore will not forward a Counter Notification to any party other than the Claimant.</p>
