<table class="pivoted invoice-basic-info" cellpadding="0" cellspacing="0">
  <tr>
    <th>Created At</th>
    <td><%=h fmt_country_datetime(@invoice.created_at) %></td>
  </tr>
  <tr>
    <th>Settled At</th>
    <td><%= @invoice.settled? ? fmt_country_datetime(@invoice.settled_at) : 'not settled' %></td>
  </tr>
</table>

<% if invoice.gst_config.present? %>
  <%= render partial: 'reseller_tax_purchase_items', locals: { invoice: invoice }%>
<% elsif @invoice.person.india_user? %>
  <table class="pivoted" cellpadding="0" cellspacing="0">
    <tr>
      <th>Invoice Amount</th>
      <td><%= format_amount_multiple_currencies(invoice_amount(@invoice), @invoice.foreign_exchange_pegged_rate) %></td>
    </tr>
    <tr>
      <th>Payments Made</th>
      <td><%= format_amount_multiple_currencies(@invoice.settlement_amount, @invoice.foreign_exchange_pegged_rate) %></td>
    </tr>
    <tr>
      <th>Outstanding Balance</th>
      <td><%= format_amount_multiple_currencies(@invoice.final_settlement_amount, @invoice.foreign_exchange_pegged_rate) %></td>
    </tr>
  </table>
<% else %>
  <table class="pivoted" cellpadding="0" cellspacing="0">
    <tr>
      <th>Invoice Amount</th>
      <td><%=money_to_currency(invoice_amount(@invoice)) %></td>
    </tr>
    <% if @invoice.vat_applicable? && vat_feature_flipper_enabled? %>
      <tr>
        <th><%= custom_t(:subtotal) %> (<%= custom_t("vat.excluding_vat") %>)</th>
        <td><%= money_to_currency(invoice_vat_exclusive_amount(@invoice)) %></td>
      </tr>
      <tr>
        <th><%= custom_t('vat.vat_total') %></th>
        <td><%= money_to_currency(invoice_vat_amount(@invoice)) %></td>
      </tr>
      <tr>
        <th><%= custom_t('total') %></th>
        <td><%=money_to_currency(invoice_amount(@invoice)) %></td>
      </tr>
    <% end %>
    <tr>
      <th>Invoice Amount</th>
      <td><%=money_to_currency(invoice_amount(@invoice)) %></td>
    </tr>
    <tr>
      <th>Payments Made</th>
      <td><%=money_to_currency(Money.new(@invoice.settlement_amount)) %></td>
    </tr>
    <tr>
      <th>Outstanding Balance</th>
      <td><%=number_to_currency(h @invoice.outstanding_amount_in_local_currency) %></td>
    </tr>
  </table>
<% end %>
