<div class="invoice_items" style="clear:both;">
	<h2>Purchases included in this invoice:</h2>
	<div class="rounded-container purchases">
    <% invoice.purchases.each do |purchase| %>
      <div class="product">
        <%= purchase_display_mapper(purchase) %>
        <%= render(:partial => "carts/purchase_price", :locals => {:purchase => purchase, :price => (purchase.cost - purchase.discount)}) %>
        <%= render(:partial => "carts/promo_and_offer_information", :locals => {:purchase => purchase, :cert => purchase.cert, :targeted_product => purchase.targeted_product, :person => @person}) %>
      </div>
    <% end %>
  </div>
</div>
