<table class="pivoted" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th>Purchase Items: </th>
      <th>Basic Amount</th>
      <% if invoice.gst_config&.igst? %>
        <th>IGST (18%)</th>
      <% else %>
        <th>CGST (9%)</th>
        <th>SGST (9%)</th>
      <% end %>
      <th>Total Amount</th>
    </tr>
  <tbody>
    <%invoice.purchases.each do |purchase|%>
      <tr>
        <th style="label-style">
          <% if purchase.related_type == 'CreditUsage' %>
            <%= custom_t('.credit_usage') %> <%= purchase.related.related.album_type.downcase %> <%= purchase.related.related.name %>
          <% else %>
            <%= purchase.purchased_name || purchase.product.name %>
          <% end %>
        </th>
        <td><%=format_amount_multiple_currencies(purchase.purchase_total_without_tax, invoice.foreign_exchange_pegged_rate)%></td>
        <%purchase.gst_tax_amount.to_h.each do |tax_type, tax_amount|%>
          <td><%=format_amount_multiple_currencies(tax_amount, invoice.foreign_exchange_pegged_rate)%></td>
        <% end %>
        <td><%= format_amount_multiple_currencies(purchase.purchase_total, invoice.foreign_exchange_pegged_rate) %></td>
      </tr>
    <% end %>
    <tr>
      <th><%=custom_t(:total)%></th>
      <td><%=format_amount_multiple_currencies(invoice.final_settlement_amount_without_tax, invoice.foreign_exchange_pegged_rate)%></td>
      <% invoice.gst_tax_amount.to_h.each do |tax_type, tax_amount| %>
        <td><%=format_amount_multiple_currencies(tax_amount, invoice.foreign_exchange_pegged_rate)%></td>
      <% end %>
      <td><%= format_amount_multiple_currencies(invoice.final_settlement_amount, invoice.foreign_exchange_pegged_rate) %></td>
    </tr>
  </tbody>
</table>
