<div class="invoice_settlement_list" style="clear:both;">
	<h2>Payments made against this invoice:</h2>
	<table class="sales_data" cellspacing="0">
		<tr>
			<th>DATE</th>
			<th>FROM</th>
			<th class="money">AMOUNT PAID</th>
		</tr>
		<% invoice.invoice_settlements.each do |settlement| %>
		<tr class="<%=cycle('','alt')%>">
			<td><%= fmt_short_datetime settlement.created_at %></td>
      <td><%= settlement_description(settlement) %><%= paypal_info(settlement) %></td>
			<td class="money"><%= money_to_currency(settlement.settlement_amount, round_value: false)%></td>
		</tr>
		<% end %>
		<tbody style="background-color:#ffc;border-bottom:1px solid #000;border-top:1px solid #000;" class="total_earnings">
			<tr>
				<th colspan="3" class="money" style="border-bottom:0;">PAYMENTS TOTAL</th>
			</tr>
			<tr>
				<td colspan="3" class="money net_earnings">
          <%= money_to_currency(Money.new(invoice.invoice_settlements.collect(&:settlement_amount).sum, invoice.currency),
                                round_value: false) %>
        </td>
			</tr>
		</tbody>
	</table>
</div>
