<div id="sales_listing">
	<h1>Admin :: Invoice History</h1>
  <%= render :partial => '/admin/people/micro_person', :locals => {:person => @person }%>
  
  <h2>All Invoices</h2>
  <% if @invoices.empty? %>
  <p>No Invoices to Display</p>
  <% else %>
  <% reset_cycle() %>
  <table class="sales_data" cellspacing="0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Created At</th>
        <th>Status</th>
        <th># Items</th>
        <th>Total</th>
		<th>Currency</th>
      </tr>
    </thead>
    <tbody>
      <% @invoices.each do |invoice|%>
      <tr class="<%=cycle('', 'alt')%>">
  			<td><%= invoice_admin_link(invoice.id) %></td>
  			<td><%= fmt_short_datetime(invoice.created_at) %></td>
  			<td><%= invoice.status_text %></td>
  			<td><%= invoice.purchases.size %></td>
  			<td><%= number_to_currency(invoice.outstanding_amount) %></td>
			<td><%= invoice.currency %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>

