<div id="sales_listing">
  <h1>Admin :: Invoice Detail</h1>
  <%= render :partial => '/admin/people/micro_person', :locals => {:person => @person }%>

  <h2>Invoice <%= @invoice.id %></h2>
  <%= render partial: 'invoice_body', locals: { invoice: @invoice }%> 
  <div class="subsection button-array">
    <% if @user_can_refund  && @invoice.can_settle? %>
      <%= button_to 'Mark as Settled', settle_admin_person_invoice_path(@person.id, @invoice.id), :method => :put %>
    <% end %>
    <% if !@invoice.settled? -%>
      <%= button_to 'Delete Invoice', admin_person_invoice_path(@person.id, @invoice), :disabled => !@invoice.can_destroy?(true), :method => :delete %>
    <% end  -%>
    <% if @invoice.settled? %>
      <%= button_to 'Resend Email', resend_admin_person_invoice_path(@person.id, @invoice) %>
    <% end -%>
  </div>

  <%= render :partial => 'settlements', :locals => {:invoice => @invoice} %>

  <%= render :partial => 'purchases', :locals => {:invoice => @invoice} %>
</div>


