<h4>The following person balances are in the negative and were updated since <%= @date %></h4>
<ul>
  <% @person_balances.each do |person_balance| %>
    <li>
      <p>ID: <%= person_balance.id %></p>ID: <%= person_balance.id %>
      <p>Person ID: <%= person_balance.person_id %></p>
      <p>Balance: <%= person_balance.balance.to_i %></p>
    </li>
  <% end %>
</ul>
