$fa-asterisk: "\f069";
$fa-caret-left: "\f0d9";
$fa-caret-right: "\f0da";
$fa-checkmark: "\f058";
$fa-circle: '\f111';
$fa-clock: "\f017";
$fa-copy: "\f0c5";
$fa-export: '\f019';
$fa-facebook: "\f082";
$fa-filter: '\f0b0';
$fa-info: '\f05a';
$fa-times-circle: '\f057';
$fa-toggle-off: '\f204';
$fa-toggle-on: '\f205';
$fa-times: '\f00d';
$fa-youtube: '\f16a';
