//
//
//  A collection of helpful LESS functions
//  by Joni Korpi <http://jonikorpi.com/>
//  No rights reserved.
//
//

@mixin animation($name:blurFadeIn){
  -moz-animation-name:$name;
  -webkit-animation-name:$name;
  -o-animation-name:$name;
  -ms-animation-name:$name;
  animation-name:$name;
}

@mixin animation-duration($duration:.5s){
  -moz-animation-duration:$duration;
  -webkit-animation-duration:$duration;
  -o-animation-duration:$duration;
  -ms-animation-duration:$duration;
  animation-duration:$duration;
}

@mixin box-shadow($string){
  -webkit-box-shadow: $string;
  -moz-box-shadow: $string;
  box-shadow: $string;
}

@mixin border-radius($radius: 2px){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radiuses($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0){
  -webkit-border-top-right-radius: $topright;
  -webkit-border-bottom-right-radius: $bottomright;
  -webkit-border-bottom-left-radius: $bottomleft;
  -webkit-border-top-left-radius: $topleft;
  -moz-border-radius-topright: $topright;
  -moz-border-radius-bottomright: $bottomright;
  -moz-border-radius-bottomleft: $bottomleft;
  -moz-border-radius-topleft: $topleft;
  border-top-right-radius: $topright;
  border-bottom-right-radius: $bottomright;
  border-bottom-left-radius: $bottomleft;
  border-top-left-radius: $topleft;
}

@mixin display-flex-box(){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin rotate($deg){
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin skew($deg, $deg2){
  -webkit-transform: skew($deg, $deg2);
  -moz-transform: skew($deg, $deg2);
  -ms-transform: skew($deg, $deg2);
  transform: skew($deg, $deg2);
}

@mixin transform($string){
  -webkit-transform: $string;
  -moz-transform: $string;
  -ms-transform: $string;
  transform: $string;
}

@mixin translate($x, $y:0){
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin translate3d($x, $y:0, $z:0){
  -webkit-transform: translate3d($x, $y, $z);
  -moz-transform: translate3d($x, $y, $z);
  -ms-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}

@mixin scale($factor){
  -webkit-transform: scale($factor);
  -moz-transform: scale($factor);
  -ms-transform: scale($factor);
  transform: scale($factor);
}

@mixin perspective($value:1000){
  -webkit-perspective: $value;
  -moz-perspective: $value;
  -ms-perspective: $value;
  perspective: $value;
}

@mixin transition($transition){
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin no_transition(){
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}

@mixin transform-origin($x:center, $y:center){
  -webkit-transform-origin: $x $y;
  -moz-transform-origin: $x $y;
  -ms-transform-origin: $x $y;
  transform-origin: $x $y;
}

@mixin horizontal-gradient($startColor: #555, $endColor: #333){
  background: -moz-linear-gradient(left, $startColor 0%, $endColor 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$startColor), color-stop(100%,$endColor));
  background: -webkit-linear-gradient(left, $startColor 0%,$endColor 100%);
  background: -o-linear-gradient(left, $startColor 0%,$endColor 100%);
  background: -ms-linear-gradient(left, $startColor 0%,$endColor 100%);
  background: linear-gradient(to right, $startColor 0%,$endColor 100%);
}

@mixin horizontal-three-color-gradient($firstStop: 0%, $startColor: #00b3ee, $midStop: 50%, $midColor: #7a43b6, $lastStop: 100%, $endColor: #c3325f){
  background: -moz-linear-gradient(left, $startColor $firstStop, $midColor $midStop, $endColor 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop($firstStop,$startColor), color-stop($midStop,$midColor), color-stop($lastStop,$endColor));
  background: -webkit-linear-gradient(left, $startColor $firstStop,$midColor $midStop,$endColor $lastStop);
  background: -o-linear-gradient(left, $startColor $firstStop,$midColor $midStop,$endColor $lastStop);
  background: -ms-linear-gradient(left, $startColor $firstStop,$midColor $midStop,$endColor $lastStop);
  background: linear-gradient(to right, $startColor $firstStop,$midColor $midStop,$endColor $lastStop);
}

@mixin horizontal-four-color-gradient($firstStop: 0%, $startColor: #00b3ee, $secondStop: 35%, $secondColor: #00b3ee, $midStop: 50%, $midColor: #7a43b6, $lastStop: 100%, $endColor: #c3325f){
  background: -moz-linear-gradient(left, $startColor $firstStop, $secondColor $secondStop, $midColor $midStop, $endColor $lastStop);
  background: -webkit-gradient(linear, left top, right top, color-stop($firstStop,$startColor), color-stop($secondStop,$secondColor), color-stop($midStop,$midColor), color-stop($lastStop,$endColor));
  background: -webkit-linear-gradient(left, $startColor $firstStop,$secondColor $secondStop,$midColor $midStop,$endColor $lastStop);
  background: -o-linear-gradient(left, $startColor $firstStop,$secondColor $secondStop,$midColor $midStop,$endColor $lastStop);
  background: -ms-linear-gradient(left, $startColor $firstStop,$secondColor $secondStop,$midColor $midStop,$endColor $lastStop);
  background: linear-gradient(to right, $startColor $firstStop,$secondColor $secondStop,$midColor $midStop,$endColor $lastStop);
}

@mixin vertical-gradient($startColor: #555, $endColor: #333){
  background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
  background: -webkit-linear-gradient($startColor, $endColor);
  background: -moz-linear-gradient($startColor, $endColor);
  background: -o-linear-gradient($startColor, $endColor);
  background: -ms-linear-gradient($startColor, $endColor);
  background: linear-gradient($startColor, $endColor);
}

@mixin vertical-three-color-gradient($firstStop: 0%, $startColor: #00b3ee, $midStop: 50%, $midColor: #7a43b6, $lastStop: 100%, $endColor: #c3325f){
  background: -moz-linear-gradient(top, $startColor $firstStop, $midColor $midStop, $endColor $lastStop);
  background: -webkit-gradient(linear, left top, left bottom, color-stop($firstStop,$startColor), color-stop($midStop,$midColor), color-stop($lastStop,$endColor));
  background: -webkit-linear-gradient(top, $startColor $firstStop,$midColor $midStop,$endColor $lastStop);
  background: -o-linear-gradient(top, $startColor $firstStop,$midColor $midStop,$endColor $lastStop);
  background: -ms-linear-gradient(top, $startColor $firstStop,$midColor $midStop,$endColor $lastStop);
  background: linear-gradient(to bottom, $startColor $firstStop,$midColor $midStop,$endColor $lastStop);
}

@mixin hide_text(){
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}

@mixin button_basic($paddingstring: 10px 50px, $margintop: 1em, $backcolor: $emph_color, $borderradius: 5px,$fontsize: 2em, $fontweight: 700,$hovercolor: rgba(0,0,0,0.5) ){
  display: inline-block;
  padding: $paddingstring;
  margin-top: $margintop;
  background-color: $backcolor;
  color: #FFF;
  @include border-radius($borderradius);
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: $fontsize;
  font-style: normal;
  font-weight: $fontweight;
  /* @include transition(all 0.2s ease-in-out); */
  &:hover {
    background-color: $hovercolor;
    @include box-shadow(0px 0px 30px $backcolor);
  }
  &:active {
    @include box-shadow(0px 0px 40px $backcolor);
  }
}

@mixin button($backgroundColor, $border, $borderRadius, $fontColor, $fontSize, $fontWeight, $margin, $padding, $textTransform){
  background-color: $backgroundColor;
  border: $border;
  @include border-radius($borderRadius);
  color: $fontColor;
  cursor: pointer;
  display: inline-block;
  font-size: $fontSize;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: $fontWeight;
  line-height: 1;
  margin: $margin;
  padding: $padding;
  text-decoration: none;
  text-transform: $textTransform;
  -webkit-font-smoothing: antialiased;

  &:hover, &:focus {
    background-color: $backgroundColor;
    border: $border;
    @include box-shadow(inset 2px 2px 3px rgba(50, 50, 50, 0.2));
    color: $fontColor;
  }
}

@mixin button_callout($backgroundColor: $emph_color, $border: 1px solid #d8710d, $borderRadius: 3px, $fontColor: #fff, $fontSize: 1em, $fontWeight: 600, $margin: 10px 0 0, $padding: 0.65em 1.5em, $textTransform: uppercase){
  @include button($backgroundColor, $border, $borderRadius, $fontColor, $fontSize, $fontWeight, $margin, $padding, $textTransform);
  &:active {
    background-color: #df750d;
    border: 1px solid #d8710d;
  }
}

@mixin button_interface($backgroundColor: $btn_grey, $border: 1px solid #d6d6d6, $borderRadius: 3px, $fontColor: #777, $fontSize: 1em, $fontWeight: normal, $margin: 10px 0 0, $padding: 0.65em 1.5em, $textTransform: none){
  @include button($backgroundColor, $border, $borderRadius, $fontColor, $fontSize, $fontWeight, $margin, $padding, $textTransform);
  &:active {
    background-color: #dcdcdc;
    border: 1px solid #d6d6d6;
  }
}

@mixin spriteHelper($image, $x, $y, $spriteX, $spriteY, $version){
   background: url("/images/store_logos/${image}.png?${version}") no-repeat;
   background-position: -($x*$spriteX) -($y*$spriteY);
}

@mixin sprite($image, $x, $y) {
  @if $image == 'store_logo_sprites' {
    $version: 20150806;
    $spriteX: 126px;
    $spriteY: 42px;
  }
  @else if $image == 'store_logo_sprites_v2' {
    $version: 20150730;
    $spriteX: 104px;
    $spriteY: 26px;
  }
  @else if $image == 'store_color_logo_sprites' {
    $version: 20160620;
    $spriteX: 150px;
    $spriteY: 30px;
  }
  @else if $image == 'social_icon_sprites' {
    $version: 20130328;
    $spriteX: 16px;
    $spriteY: 16px;
  }

  @include spriteHelper($image, $x, $y, $spriteX, $spriteY, $version);
}

@mixin homepageLogo($image, $x, $y) {
  @if $image == 'store_logo_sprites_v2' {
    $version: 20150813;
    $spriteX: 6.5rem;
    $spriteY: 1.625rem;
    background: url("/images/store_logos/${image}.svg?${version}") no-repeat;
    background-position: -($x*$spriteX) -($y*$spriteY);
    background-size: 6.5rem 8.125rem;
  }
}

@mixin spriteReplace($image, $x, $y){
  @include sprite($image, $x, $y);
  @include hide_text();
}

@mixin spriteReplace($image, $x, $y, $width, $height){
  @include sprite($image, $x, $y);
  @include hide_text();
  width: $width;
  height: $height;
}

@mixin spriteInline($image, $x, $y){
   @include sprite($image, $x, $y);
   display: inline-block;
   content: "";
}

@mixin spriteInline($image, $x, $y, $width, $height){
   @include sprite($image, $x, $y);
   display: inline-block;
   content: "";
   width: $width;
   height: $height;
}

@mixin colorblock($fontsize: 1.2em, $background: $sign_color){
  padding-top: 120px;
  font-size: $fontsize;
  padding-bottom: 3em;
  width: 100%;
  color: #fff;
  background-color: $background;
  h2 {
    color: #fff;
  }
}

@mixin list_basic($fontsize: 1.3em , $marginbottom:1em, $margintop:.5em, $limarginbottom: .5em){
  font-size: $fontsize;
  margin-bottom: $marginbottom;

  margin-top: $margintop;
  li {
    clear: left;
    margin-bottom: $limarginbottom;
  }
}

@mixin checklist(){
  @include list_basic();
  font-size: 1.4em;
  li:before {
    color: green;
    content:"\2713\0020";
  }
  li.xed:before {
    color: red;
    content:"\2717\0020";
  }
}

@mixin starlist(){
  @include list_basic(1.1em, 0.5em);
  li:before {
    float: left;
    content:"\2605";
    color: #fff;
    height: 3em;
    margin-right: .5em;
    padding-right: .5em;
  }
  li.short:before {
    height: 1em;
  }
}

@mixin titler($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0){
  -webkit-border-top-right-radius: $topright;
  -webkit-border-bottom-right-radius: $bottomright;
  -webkit-border-bottom-left-radius: $bottomleft;
  -webkit-border-top-left-radius: $topleft;
  -moz-border-radius-topright: $topright;
  -moz-border-radius-bottomright: $bottomright;
  -moz-border-radius-bottomleft: $bottomleft;
  -moz-border-radius-topleft: $topleft;
  border-top-right-radius: $topright;
  border-bottom-right-radius: $bottomright;
  border-bottom-left-radius: $bottomleft;
  border-top-left-radius: $topleft;
}

@mixin hide(){
  display: none;
}

@mixin transform($string){
  -webkit-transform: $string;
  -moz-transform: $string;
  -ms-transform: $string;
  transform: $string;
}
