// Font Awesome
@import 'icons';

//Fonts
$sorts-mill-goudy: url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic);
$credit-font: $sorts-mill-goudy, serif;
$tc-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$tc-sans-serif-bold: 'Helvetica Neue Bold', 'Helvetica Bold', 'Arial Bold', 'Lucida Grande Bold', sans-serif;
$tc-font-awesome: FontAwesome;

// Sizing
$tc-base-font-size: 1em;

// Colors
$action_color: rgba(59, 150, 207, 1); // dark blue
$black_background: rgba(0, 0, 0, 1);
$black_box_shadow: rgba(0, 0, 0, 0.8);
$black-border: rgba(17, 17, 17, 1);
$body_text: rgba(0, 0, 0, 1);
$borders_exterior: rgba(181, 181, 181, 1);
$borders_interior: rgba(204, 204, 204, 1);
$bottom-nav-bg: rgba(240, 240, 240, 1);
$brd_grey: rgba(205, 205, 205, 1); // border grey
$btn_grey: rgba(229, 229, 229, 1); // button light grey
$danger-zone: rgba(208, 2, 27, 1);
$dark-body-text: rgba(255, 255, 255, 1);
$dark-gray-border: rgba(51, 51, 51, 1);
$dont-touch-me-gray: rgba(151, 151, 151, 1);
$emph_color: rgba(231, 121, 14, 1); // orange
$error_color: rgba(255, 34, 34, 1); // red
$facebook-blue: rgba(59, 89, 152, 1);
$ft_dark: rgba(85, 85, 85, 1); // footer dark grey
$ft_grey: rgba(240, 240, 240, 1); // footer background grey
$ft_light: rgba(119, 119, 119, 1); // footer light grey
$give-up-the-ghost: rgba(182, 184, 187, 1);
$give-up-the-ghost: rgba(182, 184, 187, 1);
$good_msg_color : rgba(68, 177, 250, 1); // blue
$gray_background: rgba(230, 230, 230, 1);
$grayscale-text: rgba(155, 155, 155, 1);
$headers: rgba(51, 51, 51, 1);
$link_color: rgba(205, 228, 242, 1); // ltr blue
$lt_border: rgba(189, 189, 189, 1);
$lt_red : rgba(226, 63, 63, 1); // lt red
$mid_color: rgba(68, 177, 250, 1) ; // blue
$minor-rule: rgba(181, 181, 181, 1);
$modal-grey: rgb(248,248,248);
$nav_color: rgba(201, 230, 246, 1) ;  // lt blue
$readability-black: rgba(74, 74, 74, 1);
$secondary_text: rgba(120, 120, 120, 1);
$sign_color: rgba(59, 150, 207, 1) ; // dark blue
$success-green: rgba(126, 211, 3, 1);
$success-green: rgba(126, 211, 33, 1);
$tc-black: rgba(51, 51, 51, 1);
$tc-blue: rgba(18, 147, 209, 1);
$tunecorange: rgba(245, 166, 35, 1);
$tunecore_blue: rgba(58, 150, 207, 1);
$tunecore_bright_blue: rgba(62, 168, 239, 1);
$tunecore_dark_blue: rgba(45, 63, 83, 1);
$tunecore_dark_gray: rgba(74, 74, 74, 1);
$tunecore_orange: rgba(231, 122, 13, 1);
$tunecore-gray: rgba(151, 151, 151, 1);
$tunecore-header-blue: rgba(13, 92, 129, 1);
$tunecore-light-gray: rgba(216, 216, 216, 1);
$tunecore-light-green: rgba(126, 211, 33, 1);
$tunecore-light-red: rgba(255, 0, 0, 1);
$tunecore-medium-blue: rgba(63, 131, 200, 1);
$tunecore-medium-green: rgba(126, 150, 33, 1);
$tunecore-pale-gray: rgba(235, 241, 244, 1);
$tunecore-yellow: rgba(255, 204, 51, 1);
$youtube-dark-red: rgba(179, 18, 23, 1);
$white_background: rgba(255, 255, 255, 1);
