<div class="row">
  <%= simple_form_for [:admin, bulk_adder], url: admin_bulk_add_stores_by_users_path do |f|%>
    <div class="twelve columns form-input"><%= f.input :store_id, collection: @stores.collect {|s| [s.name, s.id]}%>
    </div>
    <div class="twelve columns form-input">
      <%= f.input :user_ids, as: :text%>
    </div>
    <div class="twelve columns form-input">
      <%= f.button "submit", "add store" %>
    </div>
  <% end %>
</div>

<div class="row">
  <%= render partial: "admin/shared/bulk_adder_messages"%>
</div>
