<div id="admin-wrapper">
  <div class="content">
    <%= render partial: "admin/shared/bulk_adder_header", locals: {header_title: "Bulk Add Albums By Users"}%>
    <div id="bulk-add-form">
      <%= render partial: "form", locals: {bulk_adder: @bulk_adder} %>
    </div>
  </div>
</div>
