  ---------------------------------------
<% for album in @album_states -%>
  | <%= sprintf "%25s",album.album_state %> | <%= sprintf "%7d",album.total %> |
  ---------------------------------------
<% end -%>

Errored Albums:

  -----------------------------------------------------------------------------------
<% for album in @errored_albums -%>
  | <%= sprintf "%6d",album.id %> | <%= sprintf "%70s",display_name(album) %> |
  -----------------------------------------------------------------------------------
<% end -%>


Ripped Input Error Albums:

  -----------------------------------------------------------------------------------
<% for album in @ripped_input_error_albums -%>
  | <%= sprintf "%6d",album.id %> | <%= sprintf "%70s",display_name(album) %> |
  -----------------------------------------------------------------------------------
<% end -%>
