ERRORED Saleponts

  -----------------------------------------------------------------------------------
<% @albums.keys.each do |store_name| -%>
  <%= store_name %>
  -----------------------------------------------------------------------------------
<% @albums[store_name].each do |album| -%>
  <%= [@bundles[album.id] || 'n/a',
			album.upc,
			display_name(album),
			album.artist_name,
			(album.person.name rescue 'n/a'),
			(album.person.email rescue 'n/a') ].join("\t") %>
<% end -%>
  -----------------------------------------------------------------------------------
<% end -%>

Albums Without Bundles
  -----------------------------------------------------------------------------------
<% @albums.values.flatten.select {|album| @bundles[album.id].nil? }.each do |album| -%>
  <%= [album.upc, display_name(album) ].join("\t") %>
<% end -%>
  -----------------------------------------------------------------------------------
