<section class="grid_7 basicinfo">
  <h2><%= @video.name %></h2>
  <h3><%= custom_t('.feature_film_directed_by') %> <%= @video.director %></h3>
  <dl class="info">
    <% if !@video.copyright.blank? %>
    <dt style="width: 20%"><%= custom_t(:copyright) %>:</dt>
    <dd style="width: 75%">
      &copy; <%= fmt_year_only(@video.created_on) %> <%= @video.copyright %>
    </dd>
    <% end %>
    <dt style="width: 20%"><%= custom_t(:upc) %>:</dt>
    <dd style="width: 75%"><%= @video.upc  %></dd>
    <dt style="width: 20%"><%= custom_t(:definition) %>:</dt>
    <% if @video.definition == "HD" %>
    <dd style="width: 75%"><%= custom_t('.high_def') %></dd>
    <% elsif @video.definition == 'SD' %>
    <dd style="width: 75%"><%= custom_t('.standard_def') %></dd>
    <% else %>
    <dd style="width: 75%"><%= custom_t(:unknown) %></dd>
    <% end %>
  </dl>
</section>
