<section class="grid_7 basicinfo">
  <h2><%= @video.name %></h2>
  <h3>  <%= custom_t('.music_video_by') %> <%= @video.artist_name %></h3>
  <dl class="info">
    <% if !@video.copyright.blank? %>
    <dt style="width: 20%"><%= custom_t(:copyright) %>:</dt>
    <dd style="width: 75%">
      &copy; <%= fmt_year_only(@video.created_on) %> <%= @video.copyright %>
    </dd>
    <% end %>
    <dt style="width: 20%"><%= custom_t(:upc) %>:</dt>
    <dd style="width: 75%"><%= @video.upc  %></dd>
    <dt style="width: 20%"><%= custom_t(:duration) %>:</dt>
    <dd style="width: 75%"><%= video_description(@video) %></dd>
  </dl>
</section>
