<section class="grid_16">
  <header>
    <h1><%= custom_t('.my_videos') %></h1>
  </header>
  <%= custom_t(".summary",
                 sales_report_link: link_to("sales_report", date_report_path),
                 bitmax_email_link: mail_to("sales@bitmax.net")
              )
  %>
  <% if !@vids_to_display %>
    <p><%= custom_t(".no_videos_to_display") %></p>
  <% else %>
    <% if @incomplete_videos >= 1 %>
      <table>
        <caption><%= custom_t(:unreleased) %> <%= custom_t(".videos_and_films") %></caption>
        <thead>
          <tr>
            <th><%= custom_t(".title") %></th>
            <th><%= custom_t(".artist") %></th>
            <th><%= custom_t(".duration") %></th>
          </tr>
        </thead>
        <tbody>
          <% @incomplete_music_videos.each do |video| %>
          <tr class='<%= cycle("", "even") %>'>
            <td><%=link_to((truncated_video_name_video(video)), video_path(video)) %></td>
            <td><%= video.artist.name %></td>
            <td><%= video_description(video) %></td>
          </tr>
          <% end %>
          <% @incomplete_feature_films.each do |video| %>
          <tr class='<%= cycle("", "even") %>'>
          <td><%=link_to((truncated_video_name_video(video)), video_path(video)) %></td>
          <td><%= video.director %></td>
          <td><%= video_description(video) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  <% end %>
  <% if @complete_videos > 0 %>
    <table>
      <caption><%= custom_t(:released) %> <%= custom_t(".videos_and_films") %></caption>
      <thead>
        <tr>
          <th><%= custom_t(".title") %></th>
          <th><%= custom_t(".artist") %></th>
          <th><%= custom_t(".duration") %></th>
          <th><%= custom_t(:upc) %></th>
        </tr>
      </thead>
      <tbody>
        <% @complete_music_videos.each do |video| %>
        <tr class='<%= cycle("", "even") %>'>
          <td><%=link_to((truncated_video_name_video(video)), video_path(video)) %></td>
          <td><%= video.artist.name %></td>
          <td><%= video_description(video) %></td>
          <td><strong><%= video.upc %></strong></td>
        </tr>
        <% end %>
        <% @complete_feature_films.each do |video| %>
        <tr class='<%= cycle("", "even") %>'>
          <td><%=link_to((truncated_video_name_video(video)), video_path(video)) %></td>
          <td><%= video.director %></td>
          <td><%= video_description(video) %></td>
          <td><strong><%= video.upc %></strong></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>
