<style>
.video-icons-table { width: 100%;}
#album_artwork { float:left; }
.video_show_item {
font-weight:bold;
text-align:center;
width: 74px;
height: 100px;
float: left;
}
.store-icon {
margin: 0px auto;
}
</style>
<section class="grid_11 alpha album">
  <div id="album_artwork">
    <img src="/version/shared/images/<%= @video.video_type %>_icon.png" width="160" height="160">
  </div>
  <% if @video.video_type == "MusicVideo" %>
  <%= render(:partial => 'show_music_video')%>
  <% else %>
  <%= render(:partial => 'show_feature_film')%>
  <% end %>
  <br clear='left'>
  <h2 style="padding-top: 2em;">My Stores</h2>
  <section id="stores" class="grid_10 alpha" style="border: 1px solid #ddd; padding: 1em;">
    <div class="video_show_item">
      <div class="store-icon icon-us"></div>
      <%= custom_t(".us") %>
    </div>
    <div class="video_show_item">
      <div class="store-icon icon-au"></div>
      <%= custom_t('.australia_new_zealand') %>
    </div
    ><div class="video_show_item">
      <div class="store-icon icon-ca"></div>
      <%= custom_t(".canada") %>
    </div>
    <div class="video_show_item">
      <div class="store-icon icon-eu"></div>
      <%= custom_t('.uk_eu') %>
    </div>
    <div class="video_show_item">
      <div class="store-icon icon-jp"></div>
      <%= custom_t('.japan') %>
    </div>
    <div class="video_show_item">
      <div class="store-icon icon-mx"></div>
      <%= custom_t('.mexico') %>
    </div>
    <div class="video_show_item">
      <div class="store-icon icon-la"></div>
      <%= custom_t('.latin_america_incl_brazil') %>
    </div>
  </section>
</section>
<aside class="grid_5 omega">
  <h4>&nbsp;</h4>
  <ul class="next-actions">
    <li><%= link_to custom_t('.return_to_my_videos'), videography_path %></li>
  </ul>
</aside>
