<aside id="account-overview" class="grid_5">
  <div class="overview overview-distribution_credits">
    <h3><%= custom_t(:distribution_credits) %></h3>
    <ul class="clearfix resetli">
      <% if !account_overview.available_inventory.empty? -%>
        <% account_overview.available_inventory.each do |inventory| -%>
            <li><%= pluralize(inventory.total_left, h("#{inventory.inventory_type} #{custom_t('.credit')}")) %></li>
        <% end -%>
      <% else -%>
        <li><%= custom_t('.you_have_zero') %></li>
      <% end -%>
      <li><%= link_to custom_t('.buy_distro_credits'), "/credits" %></li>
    </ul>
  </div>

  <div class="overview overview-releases">
    <h3><%= custom_t('.you_have_released') %></h3>
    <ul class="clearfix">
      <li><%= pluralize(account_overview.album_count, custom_t(:album_global)) %></li>
      <li><%= pluralize(account_overview.single_count, custom_t(:single)) %></li>
      <li><%= pluralize(account_overview.ringtone_count, custom_t(:ringtone)) %></li>
      <li><%= pluralize(account_overview.video_count, custom_t(:video)) %></li>
    </ul>
  </div>
</aside>
