  <h3><%= custom_t(:account_overview) %></h3>
  <strong><%= custom_t(:distribution_credits) %></strong>
  <ul>
    <li><%= custom_t('.have') %>:</li>
    <% if !account_overview.available_inventory.empty? -%>
      <% account_overview.available_inventory.each do |inventory| -%>
          <li><%= pluralize(inventory.total_left, h("#{inventory.inventory_type} #{custom_t(:credit)}")) %></li>
      <% end -%>
    <% else -%>
      <li><%= custom_t(:you_have_zero_credits)%></li>
    <% end -%>
    <li><%= link_to custom_t('.buy_distribution_credits'), "/credits" %></li>
  </ul>

  <strong><%= custom_t('.you') %></strong>
  <ul>
    <li><%= pluralize(account_overview.album_count, custom_t(:album_global)) %></li>
    <li><%= pluralize(account_overview.single_count, custom_t(:single)) %></li>
    <li><%= pluralize(account_overview.ringtone_count, custom_t(:ringtone)) %></li>
    <li><%= pluralize(account_overview.video_count, custom_t(:video)) %></li>
  </ul>
