<div id="account-overview" class="clearfix">
  <h2><%= custom_t('.account_overview') %></h2>
  <% if !account_overview.available_inventory.empty? -%>
    <h3><%= custom_t('.tunecore_distribution_credits') %></h3>
    <p class="caption"><%= custom_t('.you_have') %>:</p>
    <ul class="clearfix">
      <% account_overview.available_inventory.each do |inventory| -%>
          <li><%= pluralize(inventory.total_left, h("#{inventory.inventory_type} #{custom_t(:credit)} ")) %></li>
      <% end -%>
    </ul>
  <% end -%>

  <h3><%= custom_t('.you_have_released') %></h3>
  <ul class="clearfix">
    <li><%= pluralize(account_overview.album_count, custom_t(:album_global)) %></li>
    <li><%= pluralize(account_overview.single_count, custom_t(:single)) %></li>
    <li><%= pluralize(account_overview.ringtone_count, custom_t(:ringtone)) %></li>
    <li><%= pluralize(account_overview.video_count, custom_t(:video)) %></li>
  </ul>
</div>
