<nav>
  <strong><%= h current_user.name %>.</strong>
  <% if under_admin_control? %>
    <ul>
      <li><strong>Admin Control:</strong></li>
      <li>
        <%= link_to 'Give back control', account_release_account_path(album: (@album || @ringtone || @single)), :target => '_top' %>
      </li>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to_unless_current("Dashboard", admin_home_path) %></li>
      <li><%= link_to_unless_current("Fraud", admin_fraud_index_path) %></li>
      <li><%= link_to_unless_current("Reports", view_admin_reports_path) %></li>

      <li><%= link_to("User Account", dashboard_path)%></li>
      <li><%= link_to("Sign Out", logout_path()) %></li>
    </ul>
  <% end %>
</nav>
