<div>
	<div>
      <%= image_tag(artwork_400x400(album), :alt => display_name(album)+" #{custom_t(:cover)}", :width=>100, :height=>100) %>
		<strong><%= custom_t(:status) %>:</strong>
		<h2><%= album.album_state.capitalize %></h2>
		<strong><%= custom_t('.next_step') %>:</strong>
		<a href="#"><%= link_to custom_t('.complete_payment_and_upload'), :controller=> 'payment', :action => :index, :id => album %></a>
	</div>
	<div>
			<%= custom_t('.currently_playing_on') %>:
			<table>
		  	<tr>
					<% # TODO find another way to organize itunes and non itunes stores. this does ok for now. %>
					<% if album.stores.size > 0%>
					<td><%= image_tag "/images/flag-it.gif", :width=>25, :height=>25 %></td>
					<% end %>
					<% album.stores.find_all { |store| /^iTunes / =~ store.name}.each do |store| %>
					<td><%= image_tag "/images/flag-"+store.abbrev+".gif", :width=>25, :height=>25 %></td>
					<% end %>
					</tr><tr>
					<% album.stores.reject { |store| /^iTunes/ =~ store.name}.each do |store| %>
					<td><%= image_tag "/images/flag-"+store.abbrev+".gif", :width=>25, :height=>25 %></td>
					<% end %>
				</tr>
			</table>
	</div>
	<h1><%=h display_name(album) %></h1>
	<h2>by
		<% if album.artist_id and album.artist_id != 0 %>
			<%= Artist.find_by_id(album.artist_id).name %>
		<% else %>
			<%= custom_t(:various_artists)%>
		<% end %>
	</h2>
	<div>
		<% if album.songs.size > 0 %>
		<ol>
			<% album.songs.each do |song| %>
			<li><%= display_name(song) %></li>
			<% end %>
		</ol>
		<% else %>
			<p><%= custom_t('.no_songs') %></p>
			<% end %>
			(<%= link_to custom_t('.edit_songlist'), :controller=> 'songs', :action => :edit, :id => album %>)
	</div>
	<div>
		<ul>
			<li><%= custom_t(:details) %> (<%= link_to custom_t(:edit), :controller=> 'album', :action => :edit, :id => album %>)</li>
			<li><%= custom_t(:genres) %>: <%= album.genres.map {|genre| genre.name}.join(', ') %></li>
			<li><%= custom_t(:released) %>: <%= album.orig_release_year %></li>
		</ul>
	</div>
</div>
