<div>
  <div>
    <%= image_tag(artwork_400x400(@album), :alt => display_name(@album) + " Cover", :width=>100, :height=>100, :id=>"#{@album.id}_artwork", :style => 'border-width:0px;') %>
  </div>
  <h1><%=h display_name(@album).size > 25 ? display_name(@album)[0..24] + '...' : display_name(@album) %></h1>
  <h2>
    <% if !@album.is_various? %>
        <%= custom_t('.by') %> <% artistname = @album.artist.name %>
      <%=h artistname.size > 45 ? artistname[0..24] + '...' : artistname %>
      <% else %>
      <%= custom_t('.by') %> <%= custom_t(:various_artists) %>
    <% end %>
  </h2>
</div>
