<div class="aod-linkbar-border">
  <div class="amazon-on-demand-wrapper">
    <div class="accordion-header flex-section">
      <h4 class="store_icon-aod_us amazon-on-demand-link">
        <label for="album_store_selection_19" class="mobile-block">
          <%= @aod_storegroup.salepoint_title %>
        </label>
        <span class="subtext mobile-block"><%= custom_t('shared.aod_linkbar.aod_subtext') %></span>
      </h4>

      <% if album.display_added_aod %>
        <div class="success-message">
          <%= image_tag("/images/green_check.png") %>
          <p class="success-text">
            <%= custom_t('shared.aod_linkbar.aod_success_message') %>
          </p>
        </div>
      <% end %>

      <div class="aod-success-bar">
        <% if album.display_added_aod %>
          <%= link_to custom_t('shared.aod_linkbar.edit'), album_salepoints_path(album) + "#aod-section", class: 'aod-edit' %>
        <% else %>
          <%= link_to custom_t('shared.aod_linkbar.add_store'), album_salepoints_path(album) + "#aod-section", class: 'aod-more-info' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
