<%= javascript_include_tag "/javascripts/js.cookie" %>

<div class='auto-renewal-prompt white-background'>
  <i class="fa fa-times-thin close-prompt-modal" aria-hidden="true"></i>

  <h3><%= custom_t('auto_renewal_prompt.heading') %></h3>

  <p>
    <%= custom_t(
      'auto_renewal_prompt.body',
      expires_at: l(
        first_upcoming_renewal_expires_at(person: current_user),
        format: :month_day_year
      )
    ) %>
  </p>

  <p><%= custom_t('auto_renewal_prompt.cta') %></p>
    
  <%= link_to(
        custom_t('auto_renewal_prompt.confirm_my_info_button'),
        renewal_billing_info_person_path(id: current_user.id),
        class: 'confirm-my-info button'
      ) %>

  <%= link_to(
        custom_t('auto_renewal_prompt.remind_me_later_link'),
        '#',
        class: 'remind-me-later'
      ) %>
</div>
