<section class="blog nine columns">
  <% if Rails.env.production? %>
    <h2 class="blog-heading"><%= custom_t(:on_our_blog) %></h2>
    <ul class="blog-items">
        <% cache ("new_footer_blog_items-#{country_website}") do
          parse_tcblog_rss.items.each_with_index do |item, i| break if i == 2; %>
            <li class="blog-item">
              <span class="blog-date"><%= fmt_month_day(item.pubDate)%></span>
              <a href="<%= item.link %>" title="<%= item.title %>" class="blog-title" target="_blank"><%= truncate(item.title, :length => 65) %></a>
            </li>
          <% end %>
        <% end %>
    </ul>
 <% end %>
</section>
