<%
  classes = '' if local_assigns[:classes].nil?
%>
<section id="breadcrumb" class="<%= classes %>">
  <div class="row">
    <div class="twelve columns">
      <ul>
        <% links.each_with_index do |link, idx| %>
          <li><a href="<%= link[1] %>" title="<%= link[0] %>"><%= idx == 0 ? link[0] : truncate(link[0], :length => 20) %></a></li>
        <% end %>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</section>
