<fieldset class="calendar-fieldset">
  <legend><%= custom_t(".promote_before_live") %></legend>
  <% if show_preorder? %>
    <div class="notice">
    <em><%= custom_t(".set_release_date_in_future") %></em>
    </div>
  <% end %>
  <div class="calendar <%= "purchased" if album_purchased?(release) %>">
    <h3 class="heading"><%= custom_t(:what_is_the_earliest_date) %></h3>
    <div class="calendar-object"></div>
    <div class="calendar-events"></div>
    <div class="calendar-help">
      <h3 class="heading"><%= custom_t(:how_quickly_in_stores) %></h3>
      <p><%= custom_t(".see_live_times", url: knowledgebase_link_for('how-long-to-go-live', country_website)) %></p>
      <p><%= custom_t(".itunes_reviews_random") %></p>
    </div>
  </div>
</fieldset>

<%= content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/holiday" %>
<% end %>
