<%= image_tag "/images/credit_card_icons/visa.png", :class => "visa" %>
<%= image_tag "/images/credit_card_icons/mastercard.png", :class => "mastercard" %>
<%= image_tag "/images/credit_card_icons/americanexpress.png", :class => "amex" %>
<% if braintree %>
  <%= image_tag "/images/credit_card_icons/discover.png", :class => "discover" %>
<% else %>
  <%= image_tag "/images/credit_card_icons/rupay.png" %>
  <%= image_tag "/images/credit_card_icons/diners.png" %>
<% end %>
