<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/album.js" %>
  <%= javascript_include_tag "/javascripts/app/song_album_bigbox.js" %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "release_creation" %>
  <%= stylesheet_link_tag "country_and_store_selector" %>
  <%= stylesheet_link_tag "/stylesheets/splits.css" %>
  <%= stylesheet_link_tag "/stylesheets/monetize.css" %>
<% end %>

<div class="row" id="album">
  <main class="mainbody eight columns">
    <section class="album_info">
      <%= render :partial => 'album/album_info_small', :locals => {:album => album} %>
    </section>

    <section class="monetize">
      <h2 class="main_headline"><%= custom_t('.confirm_eligible') %></h2>

      <form action="<%= monetize_or_mark_youtube_monetizations_path %>" method="POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <table class="table-songs">
          <thead>
            <th class="tracks"><%= custom_t(:tracks) %></th>
            <th class="send_to_yt"><%= custom_t(:send_to_youtube) %></th>
            <th class="mark_ineligible"><%= custom_t('.mark_ineligible') %></th>
          </thead>
          <tbody>
            <% songs_to_monetize.each do |song| %>
            <tr>
              <td>
                <div class="song-data">
                  <input type="hidden" name="album_type" value="<%= album.class.to_s.downcase %>">
                  <input type="hidden" name="album_id" value="<%= album.id %>">
                  <strong class="track-number"><%= song[:track_number] %></strong>
                  <strong class="song-name" title="<%= song[:name] %>"  orig_title="<%= song[:name] %>"><%= truncate(song[:name], :length => 32) %></strong>
                  <span class="artist-name" title="<%= song[:artist_name] %>"><%= truncate(song[:artist_name], :length => 32) %></span>
                  <% if song[:parental_advisory] %>
                    <span class="explicit-lyrics">(<%= custom_t(:explicit_lyrics) %>)</span>
                  <% elsif song[:clean_version] %>
                    <span class="clean-version">(<%= custom_t(:clean_version) %>)</span>
                  <% end %>
                  <span class="isrc">(<%= custom_t(:isrc) %>: <%= h(song[:isrc]) %>)</span>
                </div>
              </td>
              <td><input type="radio" name="songs[][<%= song[:id] %>]" value="monetize" <% if song["send_or_block_#{song[:id]}"] == "monetize" %> checked="checked"<% else %> disabled="disabled"><% end %></td>
              <td><input type="radio" name="songs[][<%= song[:id] %>]" value="ineligible" <% if song["send_or_block_#{song[:id]}"] == "ineligible" %> checked="checked"<% else %> disabled="disabled"><% end %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <input type="submit" value="<%= custom_t(:confirm) %>">
      </form>
    </section>
  </main>

  <aside class="four columns">
    <div id="distribution-panel">
      <%= render :partial => 'album/checklist_and_distribution_ui', :locals => { :album => album } %>
      <%= render :partial => 'album/songwriter_help' %>
    </div>
  </aside>

  <%= render( :partial => 'album/distribute_modal_popup', :locals => { :album => album }) %>
</div>
