<%= stylesheet_link_tag "/stylesheets/cookie_warning.css" %>

<div class="cookie-warning hide">
  <p><%= custom_t('.cookies') %></p>
  <a href="#" class="button-callout eat-cookie"><%= custom_t(:got_it) %></a>
</div>

<%= javascript_include_tag "/javascripts/js.cookie" %>
<%= javascript_include_tag "/javascripts/cookieWarning" %>
