    <section id="countries">
      <div class="countryQuestion" <% if @state == nil %>style="display: block;"<% end %>>
        <% if @state == nil and !release.finalized_at.nil? %>
          <%= custom_t(".can_sell_worldwide") %>
        <% elsif release.finalized_at.nil? and release.has_itunes_salepoints? and !release.has_itunes_ww_salepoint? %>
          <%= custom_t(".to_specify_exclusions") %>
        <% else %>
          <fieldset class="radio">
            <label><%= custom_t(".worldwide_question") %></label>

            <ul class="release-radio-selector">
              <li>
                <input type="radio" name="worldwide" id="no" autocomplete="off" <% if @state != nil %>checked="checked"<% end %> <% unless release.finalized_at.nil? %>disabled="disabled"<% end %>>
                <label for="no"><%= custom_t(".no_have_restrictions") %></label>
              </li>
              <li>
                <input type="radio" name="worldwide" id="yes" autocomplete="off" <% if @state == nil %>checked="checked"<% end %> <% unless release.finalized_at.nil? %>disabled="disabled"<% end %>>
                <label for="yes"><%= custom_t(:yes_display) %></label>
              </li>
            </ul>
          </fieldset>
        <% end %>
      </div>

      <div class="showCountries <% if @state != nil %><%= @state %><% end %>" <% if @state != nil %>style="display: block;"<% end %>>
        <header>
          <% if !((release.has_itunes_salepoints? and !release.has_itunes_ww_salepoint?) || release.finalized?) %>
            <a href="#" class="open <% if @state == nil %>hide<% end %>"><%= custom_t(".edit_countries") %></a>
          <% end %>
        </header>

        <div class="tags">
          <div class="box">
            <header>
              <% if @state == 'exclude' or @state == nil %>
                <p class="exclude normal"><%= custom_t(".can_make_available") %><br /><span class="tag reverse"><%= custom_t(:worldwide) %></span></p>
                <p class="include normal"><%= custom_t(".need_to_exclude") %><br /><span class="tag reverse"><%= custom_t(".rest_of_the_world") %></span></p>
              <% end %>
            </header>
            <span class="exclude"><%= custom_t(".exclude_these_countries") %></span>
            <span class="include"><%= custom_t(".include_these_countries") %></span>
            <br />
            <div class="tag_holder nox">
              <% if @state != nil %>
                <% @countries.each do |country| %>
                  <% if (@state == 'include' and @selected_country_codes.include?(country[1])) or (@state == 'exclude' and !@selected_country_codes.include?(country[1])) %>
                  <span class="tag <%= country[1] %>"><%= country[0] %> <% if release.finalized_at.nil? || release.nil? %><span class="xclose" code="<%= country[1] %>">x</span><% end %></span>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <footer>
              <% if @state == 'include' %>
                <p class="exclude normal"><%= custom_t(".can_make_available") %><br /><span class="tag reverse"><%= custom_t(:worldwide) %></span></p>
                <p class="include normal"><%= custom_t(".need_to_exclude") %><br /><span class="tag reverse"><%= custom_t(".rest_of_the_world") %></span></p>
              <% end %>
            </footer>
          </div>
        </div>
      </div>
    </section>

    <div id="countrySelectorDialog" title="Country &amp; Region Selection" style="display: none;">
      <div class="countries">

        <section id="step1" class="step" <% if @state == nil %>style="display: block;"<% end %>>
          <div class="row">
            <div class="one columns">&nbsp;</div>
            <div id="exclude_countries" class="four columns">
              <h3><%= custom_t(".exclude_countries") %></h3>
              <div class="red-box">
                <%= custom_t(".sell_my_music_worldwide") %>
              </div>
              <a href="#" class="red-btn startExclude"><%= custom_t(:start_here) %></a>
            </div>
            <div class="two columns text-center or"><%= custom_t(:or) %></div>
            <div id="include_countries" class="four columns">
              <h3><%= custom_t(".select_countries") %></h3>
              <div class="blue-box">
                <%= custom_t(".sell_my_music_some_countries") %>
              </div>
              <a href="#" class="blue-btn startInclude"><%= custom_t(:start_here) %></a>
            </div>
            <div class="one columns">&nbsp;</div>
          </div>
        </section>

        <section id="step2" class="step <% if @state != nil %><%= @state %><% end %>" <% if @state != nil %>style="display: block;"<% end %>>
          <% if release.finalized_at.nil? %>
          <div class="row">
            <div class="twelve columns">
              <div class="tagger">
                <span class="include"><%= custom_t(:include) %>:</span>
                <span class="exclude"><%= custom_t(:exclude) %>:</span>
                <input type="text" id="country_selector" name="country_selector" placeholder="Enter the name of a country">
              </div>
              <div class="countrySelectorMenu">
                <a href="#" class="grey-btn reset"><%= custom_t(:start_over) %></a>
                <a href="/albums/<%= release.id %>/territories" class="blue-btn simplemodal-close"><%= custom_t(:save) %></a>
              </div>
            </div>
          </div>
          <% end %>
          <div class="row">
            <div class="twelve columns tags">
              <div class="box">
                <div class="box-scroll">
                  <header>
                    <% if @state == 'exclude' or @state == nil %>
                      <p class="exclude normal"><%= custom_t(".can_make_available") %><br />
                        <span class="tag reverse"><%= custom_t(:worldwide) %></span></p>
                      <p class="include normal"><%= custom_t(".need_to_exclude") %><br />
                        <span class="tag reverse"><%= custom_t(".rest_of_the_world") %></span></p>
                    <% end %>
                  </header>
                  <span class="exclude"><%= custom_t(".exclude_these_countries") %>
                  </span>
                  <span class="include"><%= custom_t(".include_these_countries") %></span>
                  <br />
                  <div class="tag_holder">
                    <% if @state != nil %>
                      <% @countries.each do |country| %>
                        <% if (@state == 'include' and @selected_country_codes.include?(country[1])) or (@state == 'exclude' and !@selected_country_codes.include?(country[1])) %>
                        <span class="tag <%= country[1] %>"><%= country[0] %> <% if release.finalized_at.nil? %><span class="xclose" code="<%= country[1] %>">x</span><% end %></span>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                  <footer>
                    <% if @state == 'include' %>
                      <p class="exclude normal"><%= custom_t(".can_make_available") %><br /><span class="tag reverse"><%= custom_t(:worldwide) %></span></p>
                      <p class="include normal"><%= custom_t(".need_to_exclude") %><br /><span class="tag reverse"><%= custom_t(".rest_of_the_world") %></span></p>
                    <% end %>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
