<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/currency_input" %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/currency_input.css" %>
<% end %>
<span class="currency-input">
  <span class="currency-input-unit"><%= custom_t("number.currency.format.unit") -%></span>
  <%= text_field_tag options[:main_currency_name], "%01i" % model.try(:send, main_currency_method).to_i, id: options[:main_currency_id], class: options[:main_currency_css_classes] -%>
  <span class="currency-input-separator"><%= custom_t("number.currency.format.separator") -%></span>
  <%= text_field_tag options[:fractional_currency_name], "%02i" % model.try(:send, fractional_currency_method).to_i, id: options[:fractional_currency_id], class: options[:fractional_currency_css_classes] -%>
</span>
