<% form ||= nil %>
<% field_name ||= :file %>
<% button_text ||= custom_t(:choose_file) %>
<% no_file_chosen_text ||= custom_t(:no_file_chosen) %>

<div class="custom-file-field-container">
  <div style="display: none">
    <%= form.file_field(field_name, id: "#{field_name}-custom-file-field") %>
  </div>
  <button type="button" id='<%="#{field_name}-custom-file-field-button"%>' class="custom-file-field-button"><%= button_text %></button>
  <span id='<%="#{field_name}-custom-file-text"%>' class="custom-file-text"><%= no_file_chosen_text %></span>
</div>

<% content_for :external_javascript do %>
  <script type="text/javascript">
    jQuery(document).ready(function($){
      var customFileField = $('#<%="#{field_name}-custom-file-field"%>');
      var customFileButton = $('#<%="#{field_name}-custom-file-field-button"%>');
      var customFileText = $('#<%="#{field_name}-custom-file-text"%>');

      $(customFileButton).click(function() {
        $(customFileField).click()
      })

      $(customFileButton).closest('form').submit(function(event){
        if (!$(customFileField).val()) {
          event.preventDefault();
          $('.error-message').text('Please upload an Image').show()
          $('#spinner').hide()
        }
      })

      $(customFileField).change(function() {
        if ($(customFileField).val()) {
          $(customFileText).html(
            $(customFileField).val().match(
              /[\/\\]([\w\d\s\.\-\(\)]+)$/
            )[1]
          )
          $('.ajax-uploader').removeAttr("disabled")
        } else {
          $(customFileText).html("<%= no_file_chosen_text %>")
        }
      })
    })
  </script>
<% end %>
