<main class="content">
  <header>
    <h1>Подождите!</h1>
  </header>

  <section class="pod">
    <div class="pod-body">
      <p>Если Вы планируете загружать материал на русском, белорусском, болгарском или украинском языках, предлагаем воспользоваться нашими полезными советами!</p>

      <p>У iTunes, наряду с другими цифровыми магазинами есть конкретные правила форматирования. Распространение материала, не соответствующего правилам форматирования снизит быстроту запуска музыки, и даже может привести к тому, что Ваш релиз будет спрятан до тех пор, пока проблема не будет устранена.</p>

      <p>Мы хотим убедиться, что Ваша музыка может запуститься и оставаться активированной.</p>

      <p>Ниже приведено несколько примеров, которые могут служить в качестве руководства для распространения Вашей музыки. Просим изучить эти примеры перед тем как Вы будете запускать музыку. Вопросы можно задавать по ссылке (<a href="<%= knowledgebase_link_for('help-homepage', country_website) %>"><%= knowledgebase_link_for('help-homepage', country_website) %></a>)</p>
    </div>
  </section>

  <section class="pod">
    <header>
      <h2>Совет 1: Диакритические знаки</h2>
    </header>
    <div class="pod-body">
      <p>Объяснение: Все символы должны вводиться правильно. По принципам iTunes, "ё" и "е", "й" и "и", а также "ў" и "у" и другие не являются взаимозаменимыми.</p>
      <h3>Примеры</h3>
      <table>
        <thead>
          <tr>
            <th>Неправильное форматирование</th>
            <th>Правильное форматирование</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Товарищи ученые</td>
            <td>Товарищи учёные</td>
          </tr>
          <tr>
            <td>Очи черные</td>
            <td>Очи чёрные</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="pod">
    <header>
      <h2>Совет 2: Заглавная буква</h2>
    </header>
    <div class="pod-body">
      <p>Объяснение: В названиях, только первое слово должно писаться с заглавной буквы.</p>
      <h3>Примеры</h3>
      <table>
        <thead>
          <tr>
            <th>Неправильное форматирование</th>
            <th>Правильное форматирование</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Песня про Козла отпущения</td>
            <td>Песня про козла отпущения</td>
          </tr>
          <tr>
            <td>Райские яблоки (ранняя версия)</td>
            <td>Райские яблоки (Ранняя версия)</td>
          </tr>
        </tbody>
      </table>
      <p>Примечание: первое слово в скобках должно писаться с заглавной буквы.</p>
      <table>
        <thead>
          <tr>
            <th>Неправильное форматирование</th>
            <th>Правильное форматирование</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Бег иноходца (первая версия)</td>
            <td>Бег иноходца (Первая версия)</td>
          </tr>
        </tbody>
      </table>
      <p>* Имена cобственные всегда пишутся с заглавной буквы.</p>
    </div>
  </section>

  <section class="pod">
    <header>
      <h2>Совет 3: Ненужная справочная информация</h2>
    </header>
    <div class="pod-body">
      <p>Объяснение: В названиях, по принципам iTunes, такие слова как "кавер-версия" или "Концерт" не должны использоваться. Должны использоваться только фактические названия. Концертные записи должны быть указаны следующим образом:</p>
      <p>Название концерта (Live)</p>
      <h3>Примеры</h3>
      <table>
        <thead>
          <tr>
            <th>Неправильное форматирование	</th>
            <th>Правильное форматирование</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Магнитные поля (кавер)</td>
            <td>Магнитные поля</td>
          </tr>
          <tr>
            <td>Бег иноходца (Концерт)</td>
            <td>Бег иноходца (Live)</td>
          </tr>
          <tr>
            <td>Марафон (Концерт)	</td>
            <td>Марафон (Live)</td>
          </tr>
          <tr>
            <td>Мы вращаем Землю (Концерт)</td>
            <td>Мы вращаем Землю (Live)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="pod">
    <header>
      <h2>Помните:</h2>
    </header>
    <div class="pod-body">
      <ol>
        <li>Пишите только первое слово в названиях с заглавной буквы (за исключением имен собственных).</li>
        <li>Используйте надлежащие диакритические знаки.</li>
        <li>Не используйте переводы в названиях, именах исполнителей или произведений.</li>
        <li>Пишите на кириллице.</li>
      </ol>
    </div>
  </section>
</main>
