<% if display_distribution_progress? %>
  <% content_for :external_javascript do %>
    <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/distribution_progress_bar.js" %>
  <% end %>
  <% content_for :external_javascripts do %>
    <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/distribution_progress_bar.js" %>
  <% end %>

  <section>
    <div id="distribution_progress_bar_app"
         data-progress-level="<%= @distribution_progress_level %>"
         data-songs-complete="<%= @songs_complete %>"
         data-translations="<%= @progress_bar_translations.to_json %>">
    </div>
  </section>
<% end %>
