<aside id="account-overview">
  <div class="overview overview-distribution_credits">
    <h3><%= custom_t(:distribution_credits) %></h3>
    <ul class="clearfix resetli">
      <% unless current_user.has_plan? %>
        <% if !account_overview.available_inventory.empty? -%>
          <% account_overview.available_inventory.each do |inventory| -%>
              <li><%= pluralize(inventory.total_left, h("#{inventory.inventory_type} #{custom_t(:credit)}")) %></li>
          <% end -%>
        <% else -%>
          <li><%= custom_t('.no_credits') %></li>
        <% end -%>
      <% end %>
      <li>
        <%= custom_t('.now_available') %>:<br/>
        <%= link_to custom_t('.credit_packs'), "/credits", id: "distribution_credits_link" %>
      </li>
    </ul>
  </div>
</aside>
