<footer class="footer">
  <div class="ft-top">
    <section class="row">
      <%= render partial: "shared/blog" %>
      <section class="help three columns"> <% if is_active_page_or_section?("/index/get_a_publishing_deal", is_publishing?) == nil %>
          <a href="<%= help_homepage_for_country %>" target="_blank" class="help_link button-callout-alt"><%= custom_t('.got_questions') %></a>
        <% else %>
          <a href=<%= help_homepage_for_country %> target="_blank" class="help_link button-callout-alt"><%= custom_t('.got_questions') %></a>
        <% end %>
      </section>
    </section>
  </div>
  <div class="ft-bottom">
    <section class="row">
      <nav class="learn_more ft-block three columns">
        <h2><%= custom_t('.learn_about') %></h2>
        <a href="/index/what_is_tunecore"><%= custom_t('.what_is_tunecore') %></a>
        <a href="/index/bios"><%= custom_t('.our_team') %></a>
        <a href="/index/careers"><%= custom_t('.careers') %></a>
        <a href="/index/terms"><%= custom_t(:terms_and_conditions) %></a>
      </nav>
      <nav class="make_money ft-block three columns">
        <h2><%= custom_t('.make_money') %></h2>
        <a href="/index/sell_your_music"><%= custom_t('.sell_your_music') %></a>
        <% if publishing_available_in_region? %>
          <a href="/index/get_a_publishing_deal"><%= custom_t('.get_publishing') %></a>
        <% end %>
        <a href="<%= artist_services_cms_url %>"><%= custom_t(:artist_services) %></a>
      </nav>
      <section class="tc_community ft-block three columns">
        <h2><%= custom_t('.tc_community') %></h2>
        <a href="//www.facebook.com/TuneCore" target="_blank"><i class="fa fa-facebook fa-fw"></i>Facebook</a>
        <a href="//twitter.com/TuneCore" target="_blank"><i class="fa fa-twitter fa-fw"></i>Twitter</a>
        <a href="<%= custom_t('.tunecore_instagram_link') %>" target="_blank"><i class="fa fa-instagram fa-fw"></i>Instagram</a>
        <a href="<%= link_to_blog_page(country_website) %>" target="_blank"><i class="fa fa-pencil fa-fw"></i><%= custom_t(:blog) %></a>
      </section>
      <nav class="account ft-block three columns">
        <h2><%= custom_t('.account_services') %></h2>
        <a href=<%= knowledgebase_link_for('distro-contact-us', country_website) %> target="_blank"><%= custom_t(:contact_us) %></a>
        <a href=<%= help_homepage_for_country %> target="_blank"><%= custom_t(:help) %></a>
      </nav>
    </section>
    <section class="row">
      <span class="copyright twelve columns text-right">
      &copy; <%= custom_t('shared.footer.copyright', { current_year: Date.current.year.to_s }) %> <%= custom_t(:all_rights_reserved) %> <a href="//nytm.org/made" target="_blank" class="made_in_nyc"><%= custom_t(:made_in_nyc) %></a>
      </span>
    </section>
  </div>
</footer>
