<footer class="reskin-footer">
  <div class="footer-content">
    <section>
      <h2>
        <a href=<%= help_homepage_for_country %> class="link link--header" target="_blank">
          <%= custom_t(:help) %>
        </a>
      </h2>
      <h2>
        <a href=<%= knowledgebase_link_for('distro-contact-us', country_website) %> class="link link--header" target="_blank">
          <%= custom_t(:contact_us) %>
        </a>
      </h2>
    </section>
    <section>
      <h2><%= custom_t("reskin.footer.learn") %></h2>
        <div class="links-container">
          <a href="/index/what_is_tunecore" class="link link--grey"><%= custom_t("reskin.footer.about_tunecore") %></a>
          <a href="/index/bios" class="link link--grey"><%= custom_t("reskin.footer.our_team") %></a>
          <a href="/index/careers" class="link link--grey"><%= custom_t("reskin.footer.careers") %></a>
          <a href="/index/terms" class="link link--grey"><%= custom_t(:terms_and_conditions) %></a>
          <a href="/index/press" class="link link--grey"><%= custom_t("reskin.footer.press_and_media") %></a>
        </div>
    </section>
    <section>
      <h2><%= custom_t("reskin.footer.make_money") %></h2>
        <div class="links-container">
          <a href="/index/sell_your_music" class="link link--grey"><%= custom_t("reskin.footer.sell_your_music") %></a>
          <% if publishing_available_in_region? %>
            <a href="/index/get_a_publishing_deal" class="link link--grey"><%= custom_t("reskin.footer.music_publishing") %></a>
          <% end %>
        </div>
    </section>
    <section>
      <h2><%= custom_t("reskin.footer.community") %></h2>
      <div class="links-container">
        <a
          class="link link--grey"
          href="//www.facebook.com/TuneCore"
          rel="noopener noreferrer"
          target="_blank"
        >
          <i class="fa fa-facebook fa-fw"></i><%= custom_t("reskin.footer.facebook") %>
        </a>
        <a
          class="link link--grey"
          href="//twitter.com/TuneCore"
          rel="noopener noreferrer"
          target="_blank"
        >
          <i class="fa fa-twitter fa-fw"></i><%= custom_t("reskin.footer.twitter") %>
        </a>
        <a
          class="link link--grey"
          href="//instagram.com/tunecore"
          rel="noopener noreferrer"
          target="_blank"
        >
          <i class="fa fa-instagram fa-fw"></i><%= custom_t("reskin.footer.instagram") %>
        </a>
        <a
          class="link link--grey"
          href="<%= link_to_blog_page(country_website) %>"
          rel="noopener noreferrer"
          target="_blank"
        >
          <i class="fa fa-pencil fa-fw"></i><%= custom_t(:blog) %>
        </a>
      </div>
    </section>
    <span class="copyright">
      &copy; <%= custom_t("reskin.footer.copyright", { current_year: Date.current.year.to_s }) %>
      <%= custom_t(:all_rights_reserved) %> <%= custom_t(:made_in_nyc) %>
    </span>
  </div>
</footer>
