<% if reskin? %>
  <%= render partial: "shared/v2_nav" %>
<% elsif use_inside_header? %>
  <%= render partial: "shared/inside_header" %>
<% else %>
  <%= render partial: "shared/outside_header" %>
<% end %>
