<% content_for :external_javascript do %>
  <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/language_selector.js" %>
<% end %>

<%= stylesheet_link_tag "language_selector" %>
<%= stylesheet_link_tag "inside_header" %>

<header class="header">
  <section class="hd-top">
    <div class="heading-wrapper">
      <a href="<%= current_user.nil? ? '/' : '/dashboard' %>">
        <%= image_tag "/images/tc_logos/logo_tc.png", srcset: "/images/tc_logos/logo_tc.png 1x, /images/tc_logos/logo_tc@2x.png 2x", alt: "TuneCore" %>
      </a>
      <div class="heading-wrapper__container">
        <% unless current_user.nil? %>
          <nav class="site_controls">
            <menu class="notifications <%= 'seen' if Notification.all_seen?(current_user) %>">
              <%= link_to "<i class=\"fa fa-bell fa-lg fa-2x\"></i> <div class=\"notifications_count\">#{Notification.unseen_notification_count(current_user)}</div>".html_safe, dropdown_notifications_path, :remote => true, :class => "notifications_link", :"data-type"=>"html" %>
              <section class="notifications_dropdown hidden">
                <header>
                  <h1><%= custom_t(:notifications_header) %></h1>
                </header>
                <ul></ul>
                <footer>
                  <a href="<%= notifications_path %>"><%= custom_t('.view_all_notifications') %></a>
                </footer>
              </section>
            </menu>

            <%= render "shared/user_balance" %>

            <a href="/cart" id="cart">
              <i class="fa fa-shopping-cart fa-lg"></i>
              <%= current_user.cart_items_count %>
              <%= custom_t(:item, count: current_user.cart_items_count) %>
            </a>

            <a href="<%= help_homepage_for_country %>"><%= custom_t(:help) %></a>

            <%= render partial: "tier_promo/tier_promo_nav", locals: {parent_component: "nav-desktop"} %>
            <menu class="menu">
              <a href="#" tabindex="0" title="<%= current_user.name %>"><i class="fa fa-user"></i> <%= current_user.name.truncate(27) %></a>
              <menu class="options">
                <a href="<%= edit_person_path(current_user) %>"><%= custom_t('.account_settings') %></a>
                <%= link_to(custom_t("vat.tax_details"), edit_person_path(current_user, tab: "vat"),
                            id: "vat_link") if show_vat_form? %>
                          <% unless one_time_payment_only? %>
                            <a href="<%= person_preferences_path %>"><%= custom_t('.payment_preferences') %></a>
                          <% end %>
                          <%= bank_account_link %>
                          <%= payoneer_payout_link %>
                          <a href="<%= subscriptions_path %>"><%= custom_t('.subscriptions') %></a>
                          <a href="<%= history_index_path %>"><%= custom_t('.order_history') %></a>
                          <% if FeatureFlipper.show_feature? :account_profile_survey, current_user %>
                            <a href="<%= edit_person_path(current_user, tab: "profile") %>"><%= custom_t('.more_about') %></a>
                          <% end %>
                          <% if TaxToken.for(current_user).present? %>
                            <%= link_to custom_t(:taxpayer_id), edit_person_path(current_user, tab: "tax_info") %>
                          <% end %>
                          <div class="hr"></div>

                          <%= link_to custom_t("balance_histories.page_name"), list_transactions_path %>

                          <% if current_user.can_withdraw? %>
                            <%= withdraw_money_link %>
                          <% end %>
                          <div class="hr"></div>
                          <a href="<%= logout_path %>"><%= custom_t(:log_out) %></a>
              </menu>
            </menu>
            <menu class="admin_controls">
              <% if current_user.is_administrator || session[:admin] %>
                <% if under_admin_control? %>
                  <%= link_to 'Give back control', account_release_account_path(album: (@album || @ringtone || @single)), :target => '_top' %>
                <% else %>
                  <a href="<%= admin_home_path %>" id="admin">Switch To Admin</a>
                <% end %>
              <% end %>
            </menu>

            <%= render partial: 'shared/language_selector', locals: {tc_foundation: false} %>
          </nav>
          <menu class="mobile mobile-top mini-menu">
            <% if plan_display_valid? %>
              <%= render partial: "tier_promo/tier_promo_nav", locals: {parent_component: "nav-desktop"} %>
            <% end %>
            <a href="<%= help_homepage_for_country %>"><i class="fa fa-question-circle fa-lg fa-2x"></i></a>
          </menu>
        <% end %>
      </div>
    </div>
  </section>
  <% unless current_user.nil? %>
    <% if current_user.is_administrator || session[:admin] %>
      <section class="mobile mobile-admin">
        <% if under_admin_control? %>
          <%= link_to custom_t('.give_back'), account_release_account_path(album: (@album || @ringtone || @single)), :target => '_top' %>
        <% else %>
          <a href="<%= admin_home_path %>" id="admin">Switch To Admin</a>
        <% end %>
      </section>
    <% end %>
  <% end %>
  <section class="hd-bottom">
    <div class="row">
      <div class="twelve columns">
        <nav><ul class="nav">
            <% if current_user.nil? %>
              <li><%= link_to custom_t(:login), login_path(ENV.fetch("LOGIN_DDOS_MITIGATION_PARAM", "check").to_sym => 1) %></li>
            <% else %>
              <li>
                <a href="#" tabindex="0"><%= custom_t(:music) %></a>
                <ul class="music">
                  <li>
                    <a href="/discography">
                      <strong><%= custom_t(:discography_header) %></strong>
                      <span><%= custom_t('.list_of_all_your_releases') %></span>
                    </a>
                  </li>
                  <li>
                    <a href="/store_manager">
                      <strong><%= custom_t(:store_manager_global) %></strong>
                      <span><%= custom_t('.send_your_release_to_more') %></span>
                    </a>
                  </li>
                  <li>
                    <a href="/albums/new">
                      <strong><%= custom_t('.add_a_new_album') %></strong>
                      <span><%= custom_t('.two_songs_or_more') %></span>
                    </a>
                  </li>
                  <li>
                    <a href="/singles/new">
                      <strong><%= custom_t('.add_a_single') %></strong>
                      <span><%= custom_t('.one_song_shorter') %></span>
                    </a>
                  </li>
                  <% if freemium_flow_enabled? %>
                    <li>
                      <a href="/albums/new">
                        <strong><%= custom_t('shared.inside_header.add_a_new_facebook_album') %></strong>
                        <span><%= custom_t('shared.inside_header.two_songs_or_more_facebook_only') %></span>
                      </a>
                    </li>
                    <li>
                      <a href="/singles/new">
                        <strong><%= custom_t('shared.inside_header.add_a_new_facebook_single') %></strong>
                        <span><%= custom_t('shared.inside_header.one_song_facebook_only') %></span>
                      </a>
                    </li>
                  <% end %>
                  <li>
                    <a href="/ringtones/new">
                      <strong><%= custom_t('.add_a_new_ringtone') %></strong>
                      <span><%= custom_t('.one_track_long') %></span>
                    </a>
                  </li>

                  <% unless owns_or_carted_plan? %>
                    <li>
                      <a href="/credits">
                        <strong><%= custom_t(:distribution_credits) %></strong>
                        <span><%= custom_t('.if_you_release') %></span>
                      </a>
                    </li>
                  <% end %>
                  <% if current_user.is_video_customer? %>
                    <li>
                      <a href="/videography">
                        <strong><%= custom_t(:videography) %></strong>
                        <span><%= custom_t('.list_of_videos') %></span>
                      </a>
                    </li>
                  <% end %>
                </ul>
              </li>
              <% if available_in_region?(country_website, "publishing") %>
                <% unless current_user_has_composers? %>
                  <li>
                    <a href="#" tabindex="0"><%= custom_t(:publishing_administration) %></a>
                    <ul class="publishing_administration">
                      <li>
                        <a href="<%= music_publishing_admin_link %>">
                          <strong><%= custom_t('.how_it_works') %></strong>
                          <span><%= custom_t('.how_it_works_content') %></span>
                        </a>
                      </li>
                      <li>
                        <a href="<%= knowledgebase_link_for('publishing-admin-index', country_website) %>" target="_blank">
                          <strong><%= custom_t('.knowledge_base') %></strong>
                          <span><%= custom_t('.knowledge_base_content') %></span>
                        </a>
                      </li>
                      <li>
                        <%= link_to_terms_and_conditions(true) %>
                      </li>
                      <li>
                        <a href="/publishing_administration/enrollments/new">
                          <strong><%= custom_t('.register') %></strong>
                          <span><%= custom_t('.register_content') %></span>
                        </a>
                      </li>
                    </ul>
                  </li>
                <% else %>
                  <li>
                    <a href="#" tabindex="0"><%= custom_t(:publishing_administration) %></a>
                    <ul class="publishing_administration">
                      <li>
                        <% if rights_app_enabled? %>
                          <%= link_to publishing_administration_composers_path do %>
                            <strong><%= custom_t(:publishing_dashboard)%></strong>
                            <span><%= custom_t('.manage_publishing_account') %></span>
                          <% end %>
                        <% else %>
                          <a href="/composers">
                            <strong><%= custom_t(:publishing_dashboard)%></strong>
                            <span><%= custom_t('.manage_publishing_account') %></span>
                          </a>
                        <% end %>
                      </li>
                      <% if display_composition_manager_link? %>
                        <li>
                          <a href="/song_registrations">
                            <strong><%= custom_t('.comp_manager') %></strong>
                            <span><%= custom_t('.comp_manager_content') %></span>
                          </a>
                        </li>
                      <%- end -%>
                      <li>
                        <a href="<%= music_publishing_admin_link %>">
                          <strong><%= custom_t('.how_it_works') %></strong>
                          <span><%= custom_t('.how_it_works_content') %></span>
                        </a>
                      </li>
                      <li>
                        <a href="<%= knowledgebase_link_for('publishing-admin-index', country_website) %>" target="_blank">
                          <strong><%= custom_t('.knowledge_base') %></strong>
                          <span><%= custom_t('.knowledge_base_content') %></span>
                        </a>
                      </li>
                      <li>
                        <%= link_to_terms_and_conditions(true) %>
                      </li>
                      <%- unless current_user.paid_for_composer?  || current_user.paid_for_publishing_composer? || rights_app_enabled? -%>
                        <li>
                          <a href="/composers/<%= current_user.composers.first.id %>/edit">
                            <strong><%= custom_t('.songwriter_registration') %></strong>
                            <span><%= custom_t('.songwriter_registration_content') %></span>
                          </a>
                        </li>
                      <%- end -%>
                    </ul>
                  </li>
                <% end %>
              <% end %>
              <li>
                <%= link_to custom_t(:artist_services), artist_services_cms_url, tabindex: "0" %>
              </li>
              <li>
                <%= link_to custom_t('.video_monetization'), '#', tabindex: 0 %>
                <ul class="video_monetizations">
                  <li>
                    <strong>
                      <%= link_to custom_t('.youtube_monetization'), ytm_link %>
                    </strong>
                  </li>
                  <% if !hide_legacy_fb_monetization? %>
                    <li>
                      <strong>
                        <%= link_to custom_t('.facebook_music'),
                          new_facebook_track_monetization_subscription_path %>
                      </strong>
                    </li>
                  <% end %>
                </ul>
              </li>
              <li>
                <%= link_to custom_t(:rewards), "/rewards" %>
              </li>
              <li>
                <a href="#" tabindex="0"><%= custom_t('.money_and_reports') %></a>
                <ul class="reports">
                  <li>
                    <a href="/my_account/list_transactions">
                      <strong><%= custom_t(:balance) %> <%= display_user_balance %></strong>
                      <span><%= custom_t('.balance_content') %></span>
                    </a>
                  </li>
                  <li>
                    <a href="/sales/date_report" class="loadingDialog">
                      <strong><%= custom_t('.music_sales') %></strong>
                      <span><%= custom_t('.music_sales_content') %></span>
                    </a>
                  </li>
                  <li>
                    <a href="/youtube_royalties/release_report">
                      <strong><%= custom_t(:ytsr) %></strong>
                      <span><%= custom_t('.ytsr_report_content') %></span>
                    </a>
                  </li>
                  <li>
                    <a href="/trend_reports" class="<%= loading_modal_for_trends? ? "loadingDialog" : "" %>">
                      <strong><%= custom_t('.daily_trends') %></strong>
                      <span><%= custom_t('.trends_content') %></span>
                    </a>
                  </li>
                  <% if show_invited_splits_menu_link? %>
                    <li>
                      <%= link_to invited_royalty_splits_path do %>
                        <strong><%= custom_t('royalty_splits.my_invited_splits') %></strong>
                        <span><%= custom_t('.my_invited_splits_content') %></span>
                      <% end %>
                    </li>
                  <% end %>
                  <li>
                    <a href="/my_account/exports">
                      <strong><%= custom_t('.dl_sales') %></strong>
                      <span><%= custom_t('.exports_content') %></span>
                    </a>
                  </li>
                  <li>
                    <a href="/my_account/youtube_exports">
                      <strong><%= custom_t('.dl_youtube') %></strong>
                      <span><%= custom_t('.yt_exports_content') %></span>
                    </a>
                  </li>
                </ul>
              </li>
              <% if tc_social_visible_for?(current_user) %>
                <li>
                  <%= link_to custom_t('.social'), tc_social_nav_path, id: "tc_social_global_header_link" %>
                </li>
              <% end %>
              <% if PRODUCT_REGIONS[country_website()].include?("promote") %>
                <li>
                  <a href="#" tabindex="0"><%= custom_t('.promote') %></a>
                  <ul class="promote">
                    <li>
                      <a href="<%= tc_social_linkshare_url %>">
                        <strong><%= custom_t('.linkshare') %></strong>
                        <span><%= custom_t('.linkshare_content') %></span>
                      </a>
                    </li>
                    <li>
                      <a href="https://social.tunecore.com/artist-pages">
                        <strong><%= custom_t('.artist_page') %></strong>
                        <span><%= custom_t('.artist_page_content') %></span>
                      </a>
                    </li>
                  </ul>
                </li>
              <% end %>
              <li>
                <a href="<%= link_to_blog_page(country_website) %>" target="_blank" tabindex="0"><%= custom_t(:blog) %></a>
              </li>
            <% end %>
          </ul></nav>

          <% if current_user.nil? %>
            <menu class="mobile mobile-bottom mobile-logged_out">
              <menu class="main_menu">
                <a href="#" class="open_menu"><i class="fa fa-bars"></i><i class="fa fa-caret-down"></i></a>
                <nav class="mobile-nav">
                  <ul>
                    <li><a class="login no-accordion" href="<%= login_path(ENV.fetch("LOGIN_DDOS_MITIGATION_PARAM", "check").to_sym => 1) %>"><%= custom_t(:log_in) %></a></li>
                  </ul>
                </nav>
              </menu>
            </menu>
          <% else %>
            <menu class="mobile mobile-bottom">
              <div class="user">
                <a href="#" tabindex="0" title="<%= current_user.name %>"><%= current_user.name.truncate(27) %></a>
              </div>
              <menu class="main_menu">
                <a href="#" class="open_menu"><i class="fa fa-bars"></i><i class="fa fa-caret-down"></i></a>
                <nav class="mobile-nav">
                  <ul>
                    <li>
                      <a href="#" tabindex="0"><%= custom_t(:music)%></a>
                      <ul class="music">
                        <li>
                          <a href="/discography">
                            <strong><%= custom_t(:discography_header) %></strong>
                          </a>
                        </li>
                        <li>
                          <a href="/store_manager">
                            <strong><%= custom_t(:store_manager_global) %></strong>
                          </a>
                        </li>
                        <li>
                          <a href="/albums/new">
                            <strong><%= custom_t('.add_a_new_album') %></strong>
                          </a>
                        </li>
                        <li>
                          <a href="/singles/new">
                            <strong><%= custom_t('.add_a_single') %></strong>
                          </a>
                        </li>
                        <li>
                          <a href="/ringtones/new">
                            <strong><%= custom_t('.add_a_new_ringtone') %></strong>
                          </a>
                        </li>
                        <% unless owns_or_carted_plan? %>
                          <li>
                            <a href="/credits">
                              <strong><%= custom_t(:distribution_credits) %></strong>
                            </a>
                          </li>
                        <% end %>
                        <li>
                          <a href="/videography">
                            <strong><%= custom_t(:videography) %></strong>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <% if available_in_region?(country_website, "publishing") %>
                      <li>
                        <a href="#" tabindex="0"><%= custom_t(:publishing_administration) %></a>
                        <ul class="publishing_administration">
                          <% unless current_user_has_composers? %>
                            <li>
                              <a href="<%= music_publishing_admin_link %>">
                                <strong><%= custom_t('.how_it_works') %></strong>
                              </a>
                            </li>
                            <li>
                              <a href="<%= knowledgebase_link_for('publishing-admin-index', country_website) %>" target="_blank">
                                <strong><%= custom_t('.knowledge_base') %></strong>
                              </a>
                            </li>
                            <li>
                              <%= link_to_terms_and_conditions %>
                            </li>
                            <li>
                              <a href="/publishing_administration/enrollments/new">
                                <strong><%= custom_t(:sign_up) %></strong>
                              </a>
                            </li>
                          <% else %>
                            <li>
                              <% if rights_app_enabled? %>
                                <%= link_to custom_t(:publishing_dashboard), publishing_administration_composers_path %>
                              <% else %>
                                <a href="/composers">
                                  <strong><%= custom_t(:publishing_dashboard) %></strong>
                                </a>
                              <% end %>
                            </li>
                            <%- if current_user.paid_for_composer? || current_user.paid_for_publishing_composer? -%>
                              <li>
                                <a href="/song_registrations">
                                  <strong><%= custom_t('.comp_manager') %></strong>
                                </a>
                              </li>
                              <li>
                                <a href="/youtube_preferences">
                                  <strong><%= custom_t('.yt_preferences') %></strong>
                                </a>
                              </li>
                            <%- end -%>
                            <li>
                              <a href="<%= music_publishing_admin_link %>">
                                <strong><%= custom_t('.how_it_works') %></strong>
                              </a>
                            </li>
                            <li>
                              <a href="<%= knowledgebase_link_for('publishing-admin-index', country_website) %>" target="_blank">
                                <strong><%= custom_t('.knowledge_base') %></strong>
                              </a>
                            </li>
                            <li>
                              <%= link_to_terms_and_conditions %>
                            </li>
                          <% end %>
                        </ul>
                      </li>
                    <% end %>
                    <li>
                      <%= link_to custom_t(:artist_services), artist_services_path, class: "artist-services no-accordion" %>
                    </li>
                    <li>
                      <a href="#" tabindex=0><%= custom_t('.video_monetization')%></a>
                      <ul class="video_monetizations">
                        <li>
                          <strong><%= link_to custom_t('.youtube_monetization'), ytm_link %></strong>
                        </li>
                        <% if !hide_legacy_fb_monetization? %>
                          <li>
                            <strong>
                              <%= link_to custom_t('.facebook_music'),
                                new_facebook_track_monetization_subscription_path %>
                            </strong>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                    <% if plan_display_valid? %>
                      <li>
                        <%= link_to custom_t(:rewards), "/rewards", class: "no-accordion" %>
                      </li>
                    <% end %>
                    <li>
                      <a href="#" tabindex="0"><%= custom_t('.money_and_reports') %></a>
                      <ul class="reports">
                        <li>
                          <a href="/my_account/list_transactions">
                            <strong><%= custom_t(:balance) %> <%= display_user_balance %></strong>
                          </a>
                        </li>
                        <li>
                          <a href="/sales/date_report" class="loadingDialog">
                            <strong><%= custom_t('.music_sales') %></strong>
                          </a>
                        </li>
                        <li>
                          <a href="/youtube_royalties/release_report">
                            <strong><%= custom_t(:ytsr) %></strong>
                          </a>
                        </li>
                        <li>
                          <a href="/trend_reports" class="loadingDialog">
                            <strong><%= custom_t('.daily_trends') %></strong>
                          </a>
                        </li>
                        <% if show_invited_splits_menu_link? %>
                          <li>
                            <%= link_to invited_royalty_splits_path do %>
                              <strong><%= custom_t('royalty_splits.my_invited_splits') %></strong>
                            <% end %>
                          </li>
                        <% end %>
                        <li>
                          <a href="/my_account/exports">
                            <strong><%= custom_t('.dl_sales') %></strong>
                          </a>
                        </li>
                        <li>
                          <a href="/my_account/youtube_exports">
                            <strong><%= custom_t('.dl_youtube') %></strong>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" tabindex="0"><%= custom_t(:my_account_display) %></a>
                      <ul class="account">
                        <li>
                          <a href="<%= edit_person_path(current_user) %>">
                            <strong><%= custom_t('.account_settings') %></strong>
                          </a>
                        </li>
                        <% unless one_time_payment_only? %>
                          <li>
                            <a href="<%= person_preferences_path %>">
                              <strong><%= custom_t('.payment_preferences') %></strong>
                            </a>
                          </li>
                        <% end %>
                        <% if allow_bank_account?(current_user) && !payoneer_payout_enabled? %>
                          <li>
                            <strong><%= bank_account_link %></strong>
                          </li>
                        <% end %>
                        <% if payoneer_payout_enabled? %>
                          <li>
                            <strong><%= payoneer_payout_link %></strong>
                          </li>
                        <% end %>
                        <li>
                          <a href="<%= subscriptions_path %>">
                            <strong><%= custom_t('.subscriptions') %></strong>
                          </a>
                        </li>
                        <li>
                          <a href="<%= history_index_path %>">
                            <strong><%= custom_t('.order_history') %></strong>
                          </a>
                        </li>
                        <li>
                          <a href="/my_account/list_transactions">
                            <strong><%= custom_t('balance_histories.page_name') %></strong>
                          </a>
                        </li>
                        <% if current_user.can_withdraw? %>
                          <li>
                            <strong><%= withdraw_money_link %></strong>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                    <% if PRODUCT_REGIONS[country_website()].include?("promote") %>
                      <li>
                        <a href="#" tabindex="0"><%= custom_t('.promote') %></a>
                        <ul class="promote">
                          <li>
                            <a href="/guides">
                              <strong><%= custom_t('.survival_guides') %></strong>
                            </a>
                          </li>
                          <li>
                            <a href="https://social.tunecore.com/artist-pages">
                              <strong><%= custom_t('.artist_page') %></strong>
                            </a>
                          </li>
                        </ul>
                      </li>
                    <% end %>
                    <li>
                      <a class="blog no-accordion" href="<%= link_to_blog_page(country_website) %>"><%= custom_t(:blog) %></a>
                    </li>
                    <li>
                      <a class="logout no-accordion" href="<%= logout_path %>"><%= custom_t(:log_out) %></a>
                    </li>
                  </ul>
                </nav>
              </menu>
              <a href="/cart" class="mobile-cart"><i class="fa fa-shopping-cart fa-lg fa-2x"></i></a>
              <%= render partial: 'shared/language_selector', locals: {tc_foundation: false, mobile: true} %>
              <menu class="notifications <%= 'seen' if Notification.all_seen?(current_user) %>">
                <%= link_to "<i class=\"fa fa-bell fa-lg fa-2x\"></i> <div class=\"notifications_count\">#{Notification.unseen_notification_count(current_user)}</div>".html_safe, dropdown_notifications_path, :remote => true, :class => "notifications_link", :"data-type"=>"html" %>
                <section class="notifications_dropdown hidden">
                  <header>
                    <h1><%= custom_t(:notifications_header) %></h1>
                  </header>
                  <ul></ul>
                  <footer>
                    <a href="<%= notifications_path %>"><%= custom_t('.view_all_notifications') %></a>
                  </footer>
                </section>
              </menu>
              <div class="balance">
                <a href="/my_account/list_transactions"><%= display_user_balance  %></a>
              </div>
            </menu>
          <% end %>
      </div>
    </div>
  </section>
  <%= render "shared/distribution_progress_bar" %>
</header>
