<%= yield :extra_js %>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
<%= javascript_include_tag "//cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js" %>
<%= javascript_include_tag "/javascripts/jquery_ujs.js" %>
<script type="text/javascript" src="/javascripts/plugins/jquery-ui-1.7.2.custom.js"></script>
<script type="text/javascript" src="/javascripts/plugins/utils/raphael.js"></script>
<script type="text/javascript" src="/javascripts/plugins/utils/utils.js"></script>
<script type="text/javascript" src="/javascripts/plugins/jquery.jsonp-1.1.3.min.js"></script>
<script type="text/javascript" src="/javascripts/plugins/environment.js"></script>
<script type="text/javascript" src="/javascripts/plugins/ba-bbq.jquery.js"></script>
<script type="text/javascript" src="/javascripts/plugins/jquery.simplemodal.1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/plugins/jquery.hoverIntent.js"></script>
<script type="text/javascript" src="/javascripts/plugins/jquery.validate.js"></script>
<script type="text/javascript" src="/javascripts/plugins/jquery.url-utils.js"></script>
<script type="text/javascript" src="/javascripts/plugins/ui.datepicker.js"></script>
<script type="text/javascript" src="/javascripts/plugins/retina.min.js"></script>
<script type="text/javascript" src="/javascripts/app/header.js"></script>
<script type="text/javascript" src="/javascripts/app/lightbox.js" ></script>
<script type="text/javascript" src="/javascripts/app/accordion.js" ></script>
<script type="text/javascript" src="/javascripts/app/upload_completed.js" ></script>
<script type="text/javascript" src="/javascripts/app/loading_dialog.js" ></script>
<script type="text/javascript" src="/javascripts/notifications.js" ></script>
<script type="text/javascript" src="/javascripts/beacon.js"></script>
<script type="text/javascript" src="/javascripts/swfobject2.2.js"></script>
<%= javascript_include_tag "/javascripts/app/flash_error_dialog.js" %>
<%= javascript_include_tag "/javascripts/moment.js" %>
<%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>

<%
# Test for IE6 and force them to upgrade or install Chrome Frame
-%>
  <!--[if IE 6]>
  <script src="/javascripts/shoo.js"></script>
  <script>
    jQuery(window).load(function(){
      shoo.test();
    });
  </script>
  <![endif]-->

<%
  # Move scripts that are only needed on one page to external file and include
  # using "content_for :external_javascript do" block
-%>
<%= yield :external_javascript %>
