<%
  #
  # All included Javascript files should be here.
  # http://www.youtube.com/watch?v=AWF7ZzPyagE&feature=channel
  #
-%>
<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>

<% if content_for? :jquery_ui %>
  <%= yield :jquery_ui %>
<% else %>
  <%= javascript_include_tag "/javascripts/plugins/jquery-ui-1.7.2.custom" %>
<% end %>

<%= javascript_include_tag "/javascripts/plugins/environment" %>
<%= javascript_include_tag "/javascripts/plugins/jquery.url-utils" %>
<%= javascript_include_tag "/javascripts/plugins/jquery.simplemodal.1.4.2.min" %>
<%= javascript_include_tag "/javascripts/plugins/ba-bbq.jquery.js" %>
<%= javascript_include_tag "/javascripts/plugins/jquery.hoverIntent-r5.js" %>
<%= javascript_include_tag "/javascripts/app/lightbox" %>
<%= javascript_include_tag "/javascripts/app/accordion" %>
<%= javascript_include_tag "/javascripts/app/upload_completed" %>
<%= javascript_include_tag "/javascripts/app/menu_dropdown" %>
<%= javascript_include_tag "/javascripts/jquery_ujs" %>
<%= javascript_include_tag "/javascripts/moment.js" %>
<%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>

<%# tablesorter messes up the cache %>
<%= javascript_include_tag "/javascripts/plugins/jquery.tablesorter" %>

<%
  # Move scripts that are only needed on one page to external file and include
  # using "content_for :external_javascript do" block
%>
<%= yield :external_javascript %>
