<%
  #
  # Reduced list of javascript strictly for mobile clients (iphone/android)
  #
-%>

<%# inclusion of prototype page specific code %>
<%= yield :extra_js %>

<%= javascript_include_tag "/javascripts/jquery-1.3.2" %>
<%= javascript_include_tag "/javascripts/plugins/jquery.jsonp-1.1.3.min" %>
<%= javascript_include_tag "/javascripts/plugins/environment" %>
<%= javascript_include_tag "/javascripts/plugins/jquery.url-utils" %>
<%= javascript_include_tag "/javascripts/plugins/jquery.simplemodal.1.4.2.min" %>
<%= javascript_include_tag "/javascripts/plugins/ba-bbq.jquery.js" %>
<%= javascript_include_tag "/javascripts/plugins/jquery.validate.js" %>
<%= javascript_include_tag "/javascripts/plugins/jquery.hoverIntent.js" %>
<%= javascript_include_tag "/javascripts/plugins/jquery-ui-1.7.2.custom" %>
<%= javascript_include_tag "/javascripts/app/upload_completed" %>
<%= javascript_include_tag "/javascripts/app/date_picker" %>
<%= javascript_include_tag "/javascripts/app/mobile_menu" %>
<%= javascript_include_tag "/javascripts/app/upload_completed" %>
<%= javascript_include_tag "/javascripts/app/date_picker" %>
<%= javascript_include_tag "/javascripts/app/menu_dropdown" %>




<%
# Test for IE6 and force them to upgrade or install Chrome Frame
-%>
  <!--[if IE 6]>
  <script src="/javascripts/shoo.js"></script>
  <script>
    jQuery(window).load(function(){
      shoo.test();
    });
  </script>
  <![endif]-->

<%
  # Move scripts that are only needed on one page to external file and include 
  # using "content_for :external_javascript do" block
-%>
<%= yield :external_javascript %>
