<%= yield :extra_js %>
<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js" %>
<%= javascript_include_tag "//cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js" %>

<%= javascript_include_tag "/javascripts/modernizr.min" %>
<%= javascript_include_tag "/javascripts/plugins/jquery.simplemodal.1.4.2.min.js" %>
<%= javascript_include_tag "/javascripts/plugins/jquery.url-utils.js" %>
<%= javascript_include_tag "/javascripts/app/header.js" %>
<%= javascript_include_tag "/javascripts/plugins/jquery.ba-bbq.min.js" %>
<%= javascript_include_tag "/javascripts/app/lightbox.js" %>
<%= javascript_include_tag "/javascripts/app/datepicker-de.js" %>
<%= javascript_include_tag "/javascripts/app/datepicker-fr.js" %>
<%= javascript_include_tag "/javascripts/app/datepicker-it.js" %>
<%= javascript_include_tag "/javascripts/notifications.js" %>
<%= javascript_include_tag "/javascripts/jquery_ujs.js" %>
<%= javascript_include_tag "/javascripts/app/flash_error_dialog.js" %>
<%= javascript_include_tag "/javascripts/plugins/retina.min.js" %>
<%= javascript_include_tag "/javascripts/moment.js" %>
<%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>

<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<%-
# Test for IE6 and force them to upgrade or install Chrome Frame
-%>
  <!--[if IE 6]>
  <script src="/javascripts/shoo.js"></script>
  <script>
    jQuery(window).load(function(){
      shoo.test();
    });
  </script>
  <![endif]-->
<%-
  # Move scripts that are only needed on one page to external file and include
  # using "content_for :external_javascript do" block
-%>

<%= yield :external_javascript %>
