<% if current_user_can_access_language_selector? %>
  <% tc_foundation ||= false %>
  <% mobile ||= false %>

  <% content_for :css do %>
    <%= stylesheet_link_tag "language_selector.css" %>
  <% end %>

  <% if mobile %>
    <% content_for :external_javascript do %>
      <script type="text/javascript">
        jQuery(document).ready(function($){
          var $abbrvButton = $(".current_locale_lang_abbrv").first();

          $abbrvButton.on('click', function(e){
            e.preventDefault();

            $("#language_selector_app_mobile #language_selector .language_display").click()
          });
        });
      </script>
    <% end %>
  <% end %>

  <% if tc_foundation %>
    <li id="language_selector_app" class="foundation_header_lang_selector"
      data-language-selector-options="<%= @language_selector_options %>"
      data-current-locale-language="<%= @current_locale_lang %>"
      data-choose-a-language="<%= @choose_a_lang_translation %>"
    ></li>
  <% elsif mobile %>
    <div class="mobile-language-selector">
      <div class="current_locale_lang_abbrv">
        <%= @current_locale_lang_abbrv %>
      </div>
      <div id="language_selector_app_mobile"
        data-language-selector-options="<%= @language_selector_options %>"
        data-current-locale-language="<%= @current_locale_lang %>"
        data-choose-a-language="<%= @choose_a_lang_translation %>"
      ></div>
    </div>
  <% else %>
    <menu id="language_selector_app"
      data-language-selector-options="<%= @language_selector_options %>"
      data-current-locale-language="<%= @current_locale_lang %>"
      data-choose-a-language="<%= @choose_a_lang_translation %>"
    ></menu>
  <% end %>

  <% content_for :external_javascripts do %>
    <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/language_selector.js" %>
  <% end %>
<% end %>
