<% content_for :external_javascript do %>
  <%= javascript_include_tag "shared/modal" %>
<% end %>

<%
  id = "modal_id" if local_assigns[:id].nil?
  title = "" if local_assigns[:title].nil?
  contents = "" if local_assigns[:contents].nil?
  type_class = "info" if local_assigns[:type].nil?
%>

<div id="<%= id %>" title="<%= title %>" class="generic-modal hide <%= type_class %>">
  <%= contents %>
</div>
