<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/album.js" %>
  <%= javascript_include_tag "/javascripts/app/song_album_bigbox.js" %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "release_creation" %>
  <%= stylesheet_link_tag "country_and_store_selector" %>
  <%= stylesheet_link_tag "/stylesheets/splits.css" %>
  <%= stylesheet_link_tag "/stylesheets/monetize.css" %>
<% end %>

<div class="row" id="album">
  <main class="mainbody eight columns">
    <section class="album_info">
      <%= render :partial => 'album/album_info_small', :locals => {:album => album} %>
    </section>

    <section class="monetize">
      <h2 class="main_headline"><%= custom_t('.monetize_headline') %></h2>

      <% if songs.any?{|s| !s.ytm && s.state.nil? } %>
        <div class="ytm-notice-long notice">
          <%= custom_t('.submit_tracks') %>
        </div>
      <% else %>
        <div class="notice">
<%= custom_t('.remember_there_is_no') %>
        </div>
      <% end %>

<%= custom_t('.selection_directions') %>

      <form action="<%= "/#{album_type_name_path(album)}s/#{album.id}/confirm_monetize" %>" method="GET">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <table class="table-songs">
          <thead>
            <th class="tracks"><%= custom_t(:tracks) %></th>
            <th class="send_to_yt"><%= custom_t(:send_to_youtube) %></th>
            <th class="mark_ineligible"><%= custom_t('.mark_ineligible') %></th>
          </thead>
          <tbody>
            <% songs.each do |song| %>
            <tr>
              <td>
                <div class="song-data">
                  <input type="hidden" name="songs[][id]" value="<%= song.id %>">
                  <input type="hidden" name="songs[][track_number]" value="<%= song.track_number %>">
                  <input type="hidden" name="songs[][name]" value="<%= display_name(song) %>">
                  <input type="hidden" name="songs[][artist_name]" value="<%= song.artist_name %>">
                  <input type="hidden" name="songs[][isrc]" value="<%= song.isrc %>">
                  <strong class="track-number"><%= song.track_number %></strong>
                  <strong class="song-name" title="<%= display_name(song) %>"  orig_title="<%= display_name(song) %>"><%= truncate(display_name(song), :length => 32) %></strong>
                  <span class="artist-name" title="<%= song.artist_name %>"><%= truncate(song.artist_name, :length => 32) %></span>
                  <% if song.parental_advisory %>
                    <span class="explicit-lyrics">(<%= custom_t(:explicit_lyrics) %>)</span>
                    <input type="hidden" name="songs[][parental_advisory]" value="<%= song.parental_advisory %>">
                  <% elsif song.clean_version %>
                    <span class="clean-version">(<%= custom_t('.clean') %>)</span>
                    <input type="hidden" name="songs[][clean_version]" value="<%= song.clean_version %>">
                  <% end %>
                  <span class="isrc">(<%= custom_t(:isrc) %>: <%= h(song.isrc) %>)</span>
                </div>
              </td>
              <% if !song.ytm && song.state.nil? %>
                <td><input type="radio" name="songs[][send_or_block_<%= song.id %>]" value="monetize" id="monetize_<%= song.id %>"></td>
                <td><input type="radio" name="songs[][send_or_block_<%= song.id %>]" value="ineligible" id="ineligible_<%= song.id %>"></td>
              <% else %>
                <td colspan="2" class="status-td">
                  <%= ytm_status_span(song, album.class.to_s.downcase, album.id) %>
                </td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>

        <% if songs.any? do |song|
          song.ytm_ineligible_song.nil? && song.salepoint_songs.select { |ss| ss.salepoint.store_id == @yt_store.id }.blank?
          end %>
          <input type="submit" value="<%= custom_t('.save_and_review') %>">
        <% end %>
      </form>
    </section>
  </main>

  <aside class="four columns">
    <div id="distribution-panel">
      <%= render :partial => 'album/checklist_and_distribution_ui', :locals => { :album => album } %>
    </div>
  </aside>

  <%= render( :partial => 'album/distribute_modal_popup', :locals => { :album => album }) %>
</div>
