<% if is_index_page? %>
<div id="top">
  <header class="masthead">
<% else %>
<header class="masthead sticky">
<% end %>
  <div class="container">
    <a href="<%= home_path %>" class="logo">
      <%= image_tag "/images/tc_logos/logo_tc.png", srcset: "/images/tc_logos/logo_tc.png 1x, /images/tc_logos/logo_tc@2x.png 2x", alt: "TuneCore" %>
    </a>
    <nav>
      <%= link_to "Sell Your Music", "/index/sell_your_music", class: "how_it_works_link" %>
      <%= link_to "Publishing Administration", "/index/publishing_administration", class: "publishing_link #{is_active_page_or_section?("/index/publishing_administration", is_publishing?)}" %>
      <%= link_to "Artist Services", artist_services_cms_url, class: "artist_services_link" %>
      <%= link_to "Success Stories", "/index/artist_milestones", class: "success_stories_link" %>
      <%= link_to "Pricing", "#{logged_in? ? '/dashboard/create_an_album' : '/index/pricing'}", class: "pricing_link #{is_active_page_or_section?("/index/pricing", is_pricing?)}" %>
      <%= link_to "Blog", link_to_blog_page(country_website), class: "blog_link" %>
      <% if !current_user %>
        <%= link_to "Log in", login_path(ENV.fetch("LOGIN_DDOS_MITIGATION_PARAM", "check").to_sym => 1), class: "login_link" %>
        <%= link_to "Sign up", signup_path %>
      <% else %>
        <%= link_to "Dashboard", dashboard_path, class: "create_link" %>
      <% end %>
      <menu class="main_menu">
        <a href="#" class="open_menu"><i class="fa fa-bars"></i><i class="fa fa-caret-down"></i></a>
      </menu>
    </nav>
    <nav class="mobile-nav">
      <%= link_to "Sell Your Music", "/index/sell_your_music" %>
      <%= link_to "Publishing Administration", "/index/publishing_administration" %>
      <%= link_to "Artist Services", artist_services_cms_url %>
      <%= link_to "Success Stories", "/index/artist_milestones" %>
      <%= link_to "Pricing", "/index/pricing" %>
      <%= link_to "Blog", link_to_blog_page(country_website) %>
      <%= link_to "Sign Up", signup_path %>

      <% if is_publishing? %>
        <%= link_to "Music Publishing Administration", "/index/publishing_administration", class: is_active_page?("/index/publishing_administration") %>
        <%= link_to "Sync & Master Licensing", "/index/sync_licensing", class: is_active_page?("/index/sync_licensing") %>
        <%= link_to "Songwriter Royalties", "/index/songwriter_royalties", class: is_active_page?("/index/songwriter_royalties") %>
      <% elsif is_pricing? %>
        <%= link_to "Pricing", "/index/pricing", class: is_active_page?("/index/pricing") %>
        <%= link_to "TuneCore vs. CD Baby", "/index/tunecore_vs_cdbaby", class: is_active_page?("/index/tunecore_vs_cdbaby") %>
        <%= link_to "Distribution Credits", "/index/distribution_credits", class: is_active_page?("/index/distribution_credits") %>
      <% end %>
    </nav>
  </div>
</header>

<% if is_publishing? %>
  <header class="masthead masthead-secondary">
    <div class="container">
      <nav>
        <%= link_to "Music Publishing Administration", "/index/publishing_administration", class: is_active_page?("/index/publishing_administration") %>
        <%= link_to "Sync & Master Licensing", "/index/sync_licensing", class: is_active_page?("/index/sync_licensing") %>
        <%= link_to "Songwriter Royalties", "/index/songwriter_royalties", class: is_active_page?("/index/songwriter_royalties") %>
      </nav>
    </div>
  </header>
<% elsif is_pricing? %>
  <header class="masthead masthead-secondary">
    <div class="container">
      <nav>
        <%= link_to "Pricing", "/index/pricing", class: is_active_page?("/index/pricing") %>
        <%= link_to "TuneCore vs. CD Baby", "/index/tunecore_vs_cdbaby", class: is_active_page?("/index/tunecore_vs_cdbaby") %>
        <%= link_to "Distribution Credits", "/index/distribution_credits", class: is_active_page?("/index/distribution_credits") %>
      </nav>
    </div>
  </header>
<% end %>
