    <ul class="publish">
	<li class="publish">Viewing: <b><%= h filename %>.</b></li>
	<li><%= link_to "Publish", :controller=>"admin/content", :action=> "publish", :id=>filename %></li>
	<li><%= link_to "Go Back", :controller=>"admin/content", :action=> "edit", :id=>filename %></li>
	</ul>
