<fieldset class="loading-release-submission-spinner form-actions">
  <i class="fa fa-spinner fa-spin"></i>
  <%= custom_t("processing_with_ellipsis") %>
</fieldset>

<script type="text/javascript">
  var $ = jQuery;

  $(document).ready(function() {
    $('.release-submission-button').click( function() {
      $('.loading-release-submission-spinner').show();
      $('.release-submission-button').hide();
    })
  });
</script>
