<div class="message row">
  <% if controller_name == "index" && action_name != "publishing_administration" %>
    <div id="rejected-release" class="twelve columns" style="margin-top:120px;">
      <span>
        <span class="release-alert">
          <strong class="alert-title"><%= custom_t("discography.grid_or_list_release.not_sent") %></strong><br>
          <br><strong><%= custom_t("discography.grid_or_list_release.found_issue") %></strong>
          <br><a class="popup-rejection-reason-modal" href="#rejection-reason-modal"><%= custom_t(:more_info) %></a>
        </span>
      </span>
    </div>
  <% else %>
    <div id="rejected-release" class="twelve columns">
      <span>
        <span class="release-alert">
          <strong class="alert-title"><%= custom_t("discography.grid_or_list_release.not_sent") %></strong><br>
          <br><%= custom_t("discography.grid_or_list_release.found_issue") %>
          <br><br><span class="button more-info popup-rejection-reason-modal" href="#rejection-reason-modal" id="rejected-release-more-info"><%= custom_t(:more_info).upcase %></span>
          <br><br>
            <strong>
              <% if current_user.has_plan? %>
                <%= custom_t("discography.grid_or_list_release.plan_reply_to_email_notification") %>
              <% else %>
                <%= custom_t("discography.grid_or_list_release.reply_to_email_notification") %>
              <% end %>
            </strong>
        </span>
      </span>
    </div>
  <% end %>
</div>

<div id="rejection-reason-modal" class="release-rejection-modal mfp-hide">
  <h1><%= custom_t("discography.grid_or_list_release.not_sent") %></h1>
  <p><%= RejectionEmail::BodyTemplate.format_body_for_modal(release.review_audits.max_by(&:updated_at)).html_safe%></p>
  <span class="corrected-issue-link">
    <p><span class="button got-it popup-rejection-reason-modal-dismiss" id="rejected-release-dismiss-modal" href="#"><%= custom_t(:got_it).upcase%></span></p>
    <br>
    <p>
      <a href=<%= knowledgebase_link_for("help_with_rejected_release", country_website) %>>
        <strong>
          <%= custom_t("discography.grid_or_list_release.i_need_more_help_with_this_issue") %>
        </strong>
      </a>
    </p>
  </span>
</div>

<%= data_layer_object(page: Gtm::Page.new(current_user), pageCategory: "CRT popup") %>

<% content_for(:external_javascript) do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
  <%= javascript_include_tag "/javascripts/app/rejected_release_modal.js" %>
  <%= javascript_include_tag "/javascripts/app/rejected_release_google_analytics.js" %>
<% end %>

<% content_for(:css) do %>
  <%= stylesheet_link_tag "/stylesheets/rejected_release.css" %>
<% end %>

