<% if display_renewal?(release) %>
  <div class="grid_5 omega checklist">
    <ul>
      <li class="rv_step sent_tag">
        <strong><%= custom_t('.renewal_due') %></strong>
      </li>
    </ul>
  
    <%= form_for(release, :url => buy_subscriptions_path(:id => release.renewal.id, :product_id => "n")) do %>
      <strong><%= custom_t('.select_your_plan') %></strong>
      <div id="renewal_options">
        <% Product.list(current_user, release).each do |product| %>
          <input type="radio" checked="" value="<%= product.id %>" name="product_id"><%= product.display_name %></br>
        <% end %>
      </div>
      <% unless current_user.plan_user? %>
        <%= submit_tag custom_t(:pay_now) %>
      <% end %>
    <% end %>
  </div>
<% end %>
