<%= yield :extra_js %>

<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js" %>
<%= javascript_include_tag "//cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js" %>
<%= javascript_include_tag "/javascripts/plugins/jquery.simplemodal.1.4.2.min.js" %>
<%= javascript_include_tag "/javascripts/jquery_ujs.js" %>

<%= yield :external_javascript %>
