<% t_scope = 'secondary_tax_form_request_prompt' %>

<div class='secondary-tax-form-request-prompt prompt-modal white-background mfp-hide'>
  <h3><%= custom_t('heading', scope: t_scope) %></h3>

  <p><%= custom_t('body', scope: t_scope) %></p>
  <p><%= custom_t('cta', scope: t_scope) %></p>
    
  <%= link_to(
        custom_t('yes_button', scope: t_scope),
        confirm_current_tax_form_person_path(current_user.id),
        class: 'yes-button button',
        method: 'PATCH',
        remote: true,
        data: { disable_with: "Updating..." }
      ) %>
  <%= link_to(
        custom_t('no_button', scope: t_scope),
        request_secondary_tax_form_person_path(current_user.id),
        class: 'no-button button',
        method: 'PATCH',
        remote: true,
        data: { disable_with: "Updating..." }
      ) %>
</div>
