
<div id="self-billing-positive-modal" class="mfp-hide self-billing-positive-modal">
    <div class="self-billing-modal-body">
        <div class="self-billing-agreement">
           <p><%= custom_t('self_billing.agreement_content') %></p>
        </div>
        <div class="button-group">
            <% if withdraw_paypal? || withdraw_payoneer? %>
                <button class="accept-btn" onclick="acceptSelfBilling(event)"><%= custom_t('self_billing.confirm_and_request') %></button>
            <% else %>
                <button class="accept-btn" onclick="acceptSelfBilling(event)"><%= custom_t('self_billing.confirm_agreement') %></button>
            <% end %>
        </div>
    </div>
</div>
