<% content_for :external_javascript do %>
  <%= javascript_include_tag "self_billing_on_checkout" %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "vat_tooltip" %>
<% end %>
<%= stylesheet_link_tag "people/self_billing" %>

<% if confirm_and_pay? %>
  <div id="self-billing-row" class="row cart-subtotal <%= 'hide' unless (show_vat_info? && show_self_billing_row?) %>">
    <%= simple_fields_for :person do |o| %>
      <%= o.hidden_field(:account_settings_partial, value: 'self_billing_info') %>
      <%= o.hidden_field(:id, value: current_user.id) %>
      <%= o.fields_for :self_billing_status_attributes do |s| %>
        <div class="columns ten mobile-three">
          <div class="self-billing-component text-right">
            <%= s.hidden_field(:id) %>
            <%= s.hidden_field(:ip_address, value: request.remote_ip) %>
            <%= s.hidden_field(:version, value: '1.0') %>

            <%= custom_t('self_billing.accept') %>
            <span class="vat_tooltip" data-title="<%= custom_t('self_billing.tooltip_title') %>" data-content="<%= custom_t('self_billing.tooltip_content') %>"></span>

            <div id="self-billing-customer-care-error">
              <%= custom_t('self_billing.error_text') %>
            </div>
            <div id="self-billing-required-error">
              <span><%= custom_t('self_billing.required_error') %></span>
            </div>
            <div id="modal-bind"></div>
          </div>
        </div>
        <div class="columns two mobile-one">
          <%= s.check_box :status, { label: confirm_and_pay? ? '' : custom_t('self_billing.accept'), new_form: true, onClick: 'onCheckChange()' }, 'accepted', 'declined' %>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="self-billing-form-component self-billing-component">
    <%= form_for current_user, url: update_self_billing_status_person_path(current_user), remote: true do |o| %>
      <%= o.hidden_field(:account_settings_partial, value: 'self_billing_info') %>
      <%= o.hidden_field(:id, value: current_user.id) %>
      <%= o.fields_for :self_billing_status_attributes do |s| %>
        <div class="checkbox-wrapper">
          <%= s.check_box :status, { label: confirm_and_pay? ? '' : custom_t('self_billing.accept'), new_form: true, onClick: 'onCheckChange()', checked: current_user.self_billing_accepted? }, 'accepted', 'declined' %>    
        </div>
        <%= s.hidden_field(:id) %>
        <%= s.hidden_field(:ip_address, value: request.remote_ip) %>
        <%= s.hidden_field(:version, value: '1.0') %>
            
        <div id="self-billing-customer-care-error">
          <%= custom_t('self_billing.error_text') %>
        </div>
        <div id="self-billing-required-error">
          <span><%= custom_t('account_settings.self_billing.required') %></span>
        </div>
        <div id="modal-bind"></div>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render partial: 'shared/self_billing_agreement_modals' %>
