<div id="shareItunesLinkModal" title="Apple iTunes Link" style="display: none;">
  <%= custom_t('.fans_can_purchase') %>:<br>
  <div>
    <div class="left">
      <textarea style="width: 300px; height: 40px; padding: 5px;"></textarea><br><br>
    </div>
    <div class="clear"></div>
  </div>
  <span style="color: #3B96CF; font-weight: bold;">Share Your Release</span><br>
  <div style="text-align: center; margin-top: 10px;" class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="" addthis:title="">
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_tumblr"></a>
    <a class="addthis_button_linkedin"></a>
    <a class="addthis_button_email"></a>
    <a class="addthis_button_stumbleupon"></a>
    <a class="addthis_button_wordpress"></a>
    <a class="addthis_button_compact"></a>
  </div>
</div>
