<section class="sm_player">
  <a href="#" class="sm_player-stop-control">x</a>
  <div class="row">
    <div class="twelve columns">
      <img class="sm_player-artwork">
      <p><strong><span class="sm_player-title"></span></strong> by <strong><span class="sm_player-artist_name"></span></strong></p>
      <p><%= custom_t(:composer) %>: <strong><span class="sm_player-composers"></span></strong></p>
      <p>% <%= custom_t('.controlled') %>: <span class="sm_player-composer_percentage"></span></p>
      <p><%= custom_t('.label') %>: <strong><span class="sm_player-label_copy"></span></strong></p>
      <p>&raquo; <%= custom_t('.download_mp3') %>: <a href="#" class="btn sm_player-download"><%= custom_t('.right-click') %></a></p>
    </div>
  </div>
  <div class="row">
    <div class="one columns">
      <a href="#" class="favorite_link"><i class="fa fa-star-o"></i></a>
      <a href="#" class="sm_player-play-control"></a>
      <a href="#" class="sm_player-pause-control">&nbsp;</a>
    </div>
    <div class="eleven columns">
      <div>
        <div class="sm_player-scrubber">
          <div class="sm_player-scrubber-load-progress"></div>
          <div class="sm_player-scrubber-play-progress"></div>
        </div>
      </div>
      <div>
        <div class="right"><span class="sm_player-play-time">0:00</span> / <span class="sm_player-duration">0:00</span></div>
      </div>
    </div>
  </div>
</section>

<div id="sm_player-need_flash" class="hide" title="Missing Plugin">
  <%= custom_t('.adobe') %><br><br>
  <a href="http://get.adobe.com/flashplayer/" target="_blank" class="button" style="color: #5f5f5f; background-color: #e5e5e5; border: 1px solid #aaaaaa;"><%= custom_t('.download_adobe') %></a>
  <a href="#" class="button sm_player-need_flash_close" style="color: #5f5f5f; background-color: #e5e5e5; border: 1px solid #aaaaaa; margin-left: 10px;"><%= custom_t(:cancel) %></a>
</div>

