<% if album.itunes_stores.size > 0 %>
<table>
	<tr>
		<td colspan="<%= album.itunes_stores.size %>"><strong>iTunes:</strong></td>
	</tr>
	<tr>
    <% album.itunes_stores.each do |store| %>
	  <td><%= image_tag "/images/flag-"+store.abbrev+".gif", :width=>25, :height=>25 %></td>
	  <% end %>
	</tr>
</table>
<% end %>


<% if album.other_stores.size > 0 %>
<table>
  <tr>
      <td colspan="<%= album.other_stores.size %>"><strong> <%= custom_t('.other_stores') %> : </strong></td>
	</tr>
	<tr>
	  <% album.other_stores.each do |store| %>
		  <td><%= image_tag "/images/flag-"+store.abbrev+".gif", :width=>25, :height=>25 %></td>
		<% end %>
  </tr>
</table>
<% end %>
