<% if current_user.nil? %>
  <nav id="summary" class="external-nav">
    <div class="container">
      <div id="smlogo">
        <a href="/synch" class="logo">
          <%= image_tag "/images/tc_logos/logo_tc.png", srcset: "/images/tc_logos/logo_tc.png 1x, /images/tc_logos/logo_tc@2x.png 2x", alt: "TuneCore" %>
        </a>
        <a href="/synch"><h2><%= custom_t('.sync_and_master') %></h2></a>
      </div>
      <%= link_to "Login", sync_login_path %>
      <%= link_to "Request an Invite", new_sync_membership_path %>
    </div>
  </nav>
<% else %>
  <nav id="summary" <%= 'class="summary-admin"' if controller.class.parent == Sync::Admin %>>
    <div class="container">
      <div id="smlogo">
        <a href="/synch" class="logo">
          <%= image_tag "/images/tc_logos/logo_tc.png", srcset: "/images/tc_logos/logo_tc.png 1x, /images/tc_logos/logo_tc@2x.png 2x", alt: "TuneCore" %>
        </a>
        <a href="/synch"><h2><%= custom_t('.sync_and_master') %> <%= "ADMINISTRATION" if controller.class.parent == Sync::Admin %></h2></a>
      </div>
      <% if current_user.is_administrator %>
        <% if controller.class.parent == Sync::Admin %>
            <a href="<%= sync_root_path %>" id="admin">Switch To Client Site</a>
        <% else %>
          <a href="<%= sync_admin_root_path %>" id="admin">Switch To Admin</a>
        <% end %>
      <% end %>
      <a href="<%= sync_help_path %>"><%= custom_t(:help) %></a>
      <menu class="menu">
        <a href="#" tabindex="0"><i class="fa fa-user"></i> <%= current_user.name.truncate(27) %></a>
        <menu class="options">
          <a href="<%= url_for sync_people_path %>"><%= custom_t('.account') %></a>
          <div class="hr"></div>
          <a href="<%= sync_logout_path %>"><%= custom_t(:log_out) %></a>
        </menu>
      </menu>
    </div>
  </nav>
<% end %>

<% if !current_user.nil? && feature_enabled?(:sync_licensing) %>
<nav class="nav">
  <div class="row">
    <% if controller.class.parent == Sync::Admin %>
      <%= link_to custom_t('.dashboard'), sync_admin_root_path, :class => "#{'active' if current_page?(sync_admin_root_path)}" %>
      <%= link_to custom_t('.membership'), sync_admin_memberships_path, :class => "#{'active' if current_page?(sync_admin_memberships_path)}" %>
      <%= link_to custom_t('.music_supervisors'), sync_admin_people_path, :class => "#{'active' if current_page?(sync_admin_people_path)}" %>
      <%= link_to custom_t('.quote_requests'), sync_admin_license_requests_path, :class => "#{'active' if current_page?(sync_admin_license_requests_path)}" %>
    <% else %>
      <%= link_to custom_t('.search'), sync_search_path, :class => "#{'active' if current_page?(sync_search_path)}" %>
      <%= link_to custom_t('.charts'), week_sync_chart_path, :class => "#{'active' if current_page?(week_sync_chart_path) or current_page?(all_time_sync_chart_path)}" %>
      <%= link_to custom_t('.playlists'), sync_playlists_path, :class => "#{'active' if current_page?(sync_playlists_path)}" %>
      <%= link_to custom_t('.favorites'), sync_favorites_path, :class => "#{'active' if current_page?(sync_favorites_path)}" %>
      <%= link_to custom_t('.quote_requests'), sync_license_requests_path, :class => "#{'active' if current_page?(sync_license_requests_path)}" %>
    <% end %>
  </div>
</nav>
<% end %>
