<footer class="footer new_footer-sync">
  <div class="ft-top">
    <section class="row">
      <section class="blog seven columns">
        <h2 class="blog-heading"><%= custom_t(:on_our_blog) %></h2>
        <ul class="blog-items">
          <% cache ("new_footer_blog_items-#{country_website}") do
            parse_tcblog_rss.items.each_with_index do |item, i| break if i == 2; %>
              <li class="blog-item">
                <span class="blog-date"><%= item.pubDate.strftime("%b. ") %><%= item.pubDate.strftime("%e").to_i.ordinalize %></span>
                <a href="<%= item.link %>" title="<%= item.title %>" class="blog-title" target="_blank"><%= truncate(item.title, :length => 65) %></a>
              </li>
            <% end %>
          <% end %>
        </ul>
      </section>
      <section class="help five columns">
        <a href="<%= sync_help_path %>" target="_blank" class="button-callout-alt btn-faqs"><%= custom_t('.got_questions') %></a>
        <a href="<%= sync_terms_and_conditions_path %>" class="button-interface btn-terms"><%= custom_t(:terms) %></a>
      </section>
    </section>
  </div>
  <div class="ft-bottom">
    <section class="row">
      <section class="tc_community ft-block twelve columns">
        <a href="https://www.facebook.com/TuneCore" target="_blank"><i class="fa fa-facebook fa-fw"></i>Facebook</a>
        <a href="https://twitter.com/TuneCore" target="_blank"><i class="fa fa-twitter fa-fw"></i>Twitter</a>
        <a href="https://plus.google.com/+tunecore/posts" target="_blank"><i class="fa fa-google-plus fa-fw"></i>Google+</a>
        <a href="http://pinterest.com/tunecore" target="_blank"><i class="fa fa-pinterest fa-fw"></i><%= custom_t('.pin') %></a>
        <a href="http://<%= current_user.present? ? current_user.domain : "www.tunecore.com" %>/blog/" target="_blank"><i class="fa fa-pencil fa-fw"></i>Blog</a>
      </section>
      <span class="copyright twelve columns">&copy; TuneCore, Inc. 2006-2015. <%= custom_t(:all_rights_reserved) %> <a href="http://nytm.org/made" target="_blank" class="made_in_nyc"><%= custom_t(:made_in_nyc) %></a></span>
    </section>
  </div>
</footer>
