<!-- This partial is used in both the old and new layout, hence need to expclity require assets here as well. -->
<% content_for :css do %>
  <%= stylesheet_link_tag "shared/ticker" %>
<% end %>

<% if @tickers.present? %>
  <header class="header">
    <%= tag.section(id: "ticker", class: ["ticker", reskin? && "ticker--reskin"]) do %>
      <% @tickers.each do |ticker| %>
        <div class="row message">
          <div class="twelve columns">
            <div class="row">
              <div class="small-6 large-2 columns icon">
                <%= ticker[:icon].html_safe %>
              </div>
              <div class="small-6 large-8 columns ticker-text"><%= ticker[:text] %>
              <strong>
                <%= link_to(ticker[:link][:text], ticker[:link][:href], (ticker[:link][:is_amazon] ? {class: 'amz_artists', target: '_blank', rel: 'noopener noreferrer'} : {})) %>
              </strong>
              </div>
              <div class="bottom-row small-6 large-2 columns"></div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </header>
<% end %>
