<%= content_tag :table,
                id: "#{service}-track-monetizations__dashboard__data-table",
                class: "#{service}-track-monetizations__dashboard__table" do %>
  <%= content_tag :thead do %>
    <%= content_tag :tr, class: "#{service}-track-monetization__dashboard__row" do %>
      <%= content_tag :th, "id", class: "hidden" %>
      <%= content_tag :th, custom_t(:song).upcase %>
      <%= content_tag :th, custom_t(:isrc) %>
      <%= content_tag :th, custom_t(:artist) %>
      <%= content_tag :th, custom_t(:appears_on) %>
      <%= content_tag :th, custom_t(:upc) %>
      <%= content_tag :th, custom_t(:status) %>
      <%= content_tag :th, "" %>
    <% end %>
  <% end %>
<% end %>
