<div id="trendmodal" class="hide" title="Comparing Trend Reports and TuneCore Sales Reports">
<br />
<h3><%= custom_t('.timing') %></h3>
<ul style="list-style-type: disc; !IMPORTANT; padding-left: 20px;">
<li><%= custom_t('.daily_trend_reports') %></li>
<li><%= custom_t('.monthly_sales_reports') %></li>
</ul><br />
<h3><%= custom_t(:money) %></h3>
<ul style="list-style-type: disc; !IMPORTANT; padding-left: 20px;">
<%= custom_t('.trend_reports') %>
</ul><br />
</div>
