<link rel="stylesheet" href="https://www.tunecore.com/static/styles.css" media="all">
<style>
  .form-container .help {
    margin-bottom: 15px;
  }

  .help.twelve.colums{
    z-index: 10 !important;
  }

  .trustpilot-widget{
    pointer-events: none;
  }
</style>

<!-- TrustBox widget - Micro Star -->
<div
  class="trustpilot-widget"
  data-locale="<%= I18n.locale.to_s %>"
  data-template-id="5419b732fbfb950b10de65e5"
  data-businessunit-id="46de558a0000640005012d51"
  data-style-height="24px"
  data-style-width="100%"
  data-theme="light"
>
  <a href="https://www.trustpilot.com/review/www.tunecore.com" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget -->

<script type="text/javascript" src="https://widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<script type="application/javascript">
  var script = document.createElement('script');
  script.src = 'https://widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js';
  script.type = 'text/javascript';

  document.head.appendChild(script);
</script>
