<div class="tfa-prompt-modal">
  <div class="top">
    <%= custom_t("shared.two_factor_auth.header") %>
  </div>
  <div class="bottom">
    <h1 class="mobile-image"><%= image_tag "/images/two_factor_auths/tfa_prompt.png" %></h1>
    <p><%= custom_t("shared.two_factor_auth.only_you_access_account") %></p>
    <p><%= custom_t("shared.two_factor_auth.keep_your_money_and_account_safe") %></p>
    <%= link_to custom_t("shared.two_factor_auth.enroll_btn"), two_factor_auth_enrollments_path, id: "enrollBtn" %>
    <button id="dismissBtn"><%= custom_t("shared.two_factor_auth.dismiss_btn") %></button>
  </div>
</div>
