<% content_for :external_javascript do %>
  <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/language_selector.js" %>
  <% if reskin? %>
    <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/top_nav_bar.js",
                               id: 'v2-nav-js',
                               data: { nav: v2_nav_data.to_json }
    %>
  <% end %>
<% end %>

<%= stylesheet_link_tag "language_selector" %>
<%= stylesheet_link_tag "v2-nav" %>

<div id="v2-nav-mountpoint"></div>
