<div
  class="messaging"
  id="lang-en"
  style="
    border: 1px solid #ccc;
    padding: 20px;
    display: block;
    margin: 20px auto;
    background-color: #f1f1f1;
    font-size: 11pt;
    text-align: center;
    max-width: 1024px;
  "
>
  <%= custom_t(".note_to_users") %>
</div>
