<div class="balance-pending-withdrawal">
	<strong><%= custom_t(".amount") %> <span class='money'><%= money_to_currency(Money.new(paypal_transfer.payment_cents, paypal_transfer.currency)) %></span></strong><br/>
	<%= custom_t(".paypal_email") %> <%= paypal_transfer.paypal_address %>
</div>