<section class="grid_16 alpha omega">
  <header>
    <h1>Pay with Credit Card</h1>
  </header>
  <div class="rounded-container">
    <p>
      <strong>Order Number: </strong><%=h @invoice.code %><br />
      <strong>Order Amount: </strong><%= money_to_currency(invoice_amount(@invoice)) %>
      <%= image_tag('/images/credit_card_icons/secure.jpg', :class => 'secure-image')%>
    </p>
  </div>

  <% if(!@stored_credit_cards.empty?) -%>
    <%= render(:partial => "stored_credit_cards/for_payment") %>
  <% end -%>

  <div id="new_cc_form" <%= "class='hidden'" if(!@stored_credit_cards.empty? and @stored_credit_cards.select{ |sc| sc.expired? == false }.length != 0)  %>>
    <h5 class="section-title">Enter New Card <span>* required field</span></h5>
    <fieldset id="pay-with-credit-card">
      <%= form_for(@credit_card, :url => braintree_post_url) do |f| %>
        <ul>
          <li><%= render(:partial => "shared/card_icons") %></li>
          <%= render(:partial => "stored_credit_cards/form", :locals => { :storage_op => "pay_with_new_card", :f => f }) %>

        <h5 class="section-title">Security Code</h5>
        <ul>
          <%= f.text_field(:cvv, :name=>"cvv", :label => "Security Code", :tc_required => true, :class => 'short',:li_class=>'cc-short-code', :maxlength => 4, :contextual_help => "Enter the security code from your card.")%>
          <li class="cc-short-code'"><%= link_to("Where's my security code?", {:controller => 'payment', :action => 'security_codes', :minHeight => '495'}, :class => 'lightbox security-code') %></li>
          <%= hidden_field_tag "customer_vault", "add_customer" %>
          <%= hidden_field_tag "merchant_defined_field_5", 1 %>
					<%= hidden_field_tag "currency", @country_website.currency %>
					<%= hidden_field_tag "processor_id", @country_website.braintree_processor %>
          <li id="stored_credit_card_notice"><label>This card will be stored in your TuneCore account and used for your subscription renewal payments.</label></li>
          <li class="cc-submit-fields">
            <%= braintree_fields(@invoice.id, BRAINTREE[:key_id], :amount => @invoice.outstanding_amount, :api_key => BRAINTREE[:key]) do |service| -%>
              <% service.return_url url_for(:only_path => false, :controller => 'payment', :action => 'receive_transaction') %>
              <% service.transaction_type :sale %>
            <% end -%>
            <%= submit_tag "Make Payment", {:id => "pay_with_new_card", :class => 'submit'} %>  <%= link_to("Cancel", invoice_path(@invoice), :class=>"cancel") %>
          </li>
        </ul>
      <% end -%>
    </fieldset>
  </div>
</section>
