<section class="grid_16">
	<header>
		<h1>Your bank declined your credit/debit card</h1>
	</header>
	<div class="rounded-container clearfix">
		 	<% if @braintree_transaction.response_code == "300" or @braintree_transaction.response_code == "201" -%>
				<p class="info">
					<% if @braintree_transaction.avs_response == "W" or @braintree_transaction.avs_response == "Z" -%>
						The street address you entered does not match the card's billing address.<br />
					<% elsif @braintree_transaction.avs_response == "N" -%>
						The street address and zip code you entered does not match the card's billing address.<br />
					<% elsif @braintree_transaction.avs_response == "A" -%>
						The zip code you entered does not match the card's billing address.<br />										
					<% end -%>
					<% if @braintree_transaction.cvv_response == "N" -%>
						The security code you entered does not match the card's security code.<br />
					<% end -%>
				</p>
				<%= render :partial => "decline_error_actions", :locals => {:button_text => "Re-enter your card."} %>
			<% elsif @braintree_transaction.response_code == "223" -%>
				<p class="info">Your card has expired.</p>
				<%= render :partial => "decline_error_actions", :locals => {:button_text => "Re-enter your card."} %>
			<% elsif @braintree_transaction.response_code == "224" -%>
				<p class="info">The expiration date you entered was invalid.</p>
 				<%= render :partial => "decline_error_actions", :locals => {:button_text => "Re-enter your card."} %>
			<% elsif @braintree_transaction.response_code == "225" -%>
				<p class="info">The security code you entered was incorrect.</p>
				<%= render :partial => "decline_error_actions", :locals => {:button_text => "Re-enter your card."} %>
			<% elsif @braintree_transaction.response_code == "461" -%>
				<p class="info">We are really sorry, we do not accept the Credit Card you used. We are able to take Visa, Mastercard, American Express, and Discover.</p>
				<%= render :partial => "decline_error_actions" %>
			<% elsif @braintree_transaction.response_code == "202" -%>
				<p class="info">Your bank has declined your card. It may due to your credit limit or insufficient funds.</p>
				<%= render :partial => "decline_error_actions", :locals => {:button_text => nil} %>
			<% elsif @braintree_transaction.response_code == "203" -%>
				<p class="info">Your bank has declined your card. It may due to your credit limit or insufficient funds.</p>
				<%= render :partial => "decline_error_actions", :locals => {:button_text => nil} %>
			<% else -%>
				<p class="info">Your bank declined your card. Please contact them for more information.</p>
		<% end -%>
	</div>
</section>