<section class="grid_16">
	<header>
		<h1>Oops</h1>
	</header>
	<h2>An error occurred while processing your payment.</h2>
	<div class="rounded-container clearfix">
		<p class="info">Your credit card <strong>WAS NOT</strong> charged, but it seems we couldn't connect to your bank to <%= t(:authoriz) %>e payment. We know this must be really frustrating! May we impose on you to try again.</p>
		<p class="info">You can also contact us at <%= link_to("customer support", knowledgebase_link_for('distro-contact-us', country_website)) %>.</p>
		<% if @braintree_transaction -%>
		  <%= render :partial => "decline_error_actions", :locals => {:button_text => "Try Again"} %>
		<% end -%>
	</div>
</section>
