<section class="grid_16">
	<header>
		<h1>Pay with My TuneCore Balance</h1>
	</header>

	<div class="grid_11 alpha">
		<div class="content-container">
			<h5>Important!</h5>
			<p>Once you have paid for your video or album you cannot make any changes. Nothing can be altered, added or removed.</p>
			<p>If you have the slightest doubt about your album or video please
			<%= link_to "return now", discography_path %> to your discography page to make corrections.</p>

	    <p>You are about to pay for all (or part) of this invoice with your TuneCore balance.</p>
	    <p>Your current TuneCore Balance is: <%= money_to_currency(@person.person_balance.balance.to_money(@person.person_balance.currency)) %></p>
	    <p>Please enter the amount of your TC Balance you wish to apply to this order</p>
		</div>
		<%= form_tag invoice_payment_path(@invoice), :method => :post, :id => "invoice" do %>

		<table>
			<tbody>
				<tr>
					<td>Total:</td>
					<td style="text-align:right;padding-right:10px"><%= money_to_currency(invoice_amount(@invoice)) %></td>
				</tr>
				<% if invoice_amount_cents(@invoice) != outstanding_amount_cents(@invoice) %>
					<tr>
						<td>Amount Outstanding:</td>
						<td style="text-align:right;padding-right:10px"><%= money_to_currency(outstanding_amount(@invoice)) %> </td>
					</tr>
				<% end %>
			</tbody>
			<tfoot>
				<tr>
					<td>Enter Amount:</td>
					<td style="text-align:right;padding-right:10px"><%= text_field_tag :payment_amount, Tunecore::Numbers.cents_to_decimal(@suggested_amount.to_i), :style => 'text-align:right' %></td>
				</tr>
			</tfoot>
		</table>
		<ul>
			<li><%= submit_tag 'Continue Checkout' %><%= link_to("Cancel",{ :controller => "invoices", :action=>@invoice.id }, :class=>"cancel" ) %></li>
		</ul>

		<% end %>
	</div>
</section>

<% content_for :javascripts do %>
  <script type="text/javascript">
    jQuery(document).on('click', 'input[value="Continue Checkout"]', function(){jQuery(this).hide()});
  </script>
<% end %>
