<h2>MasterCard, Visa, Discover</h2>
<div class="rounded-container">
	<p>MasterCard, Visa, and Discover credit and debit cards have a <strong>3-digit code</strong> located on the back of your card.  It will either be the last <strong>three</strong> digits in the signature panel or in a separate panel to the right of the signature panel.</p>
	<%= image_tag('/images/credit_card_icons/visa-mc-code.jpg', :class => 'cc_code')%>
</div>

<h2>American Express</h2>
<div class="rounded-container">
	<p>American Express cards have a <strong>4-digit code</strong> printed on the front side of the card above the embossed number to the right.</p>
	<%= image_tag('/images/credit_card_icons/amex-code.jpg', :class => 'cc_code')%>
</div>