<h1>
  <%= @invoice_type %> Credit note invoice export completed
</h1>
<div>
  Exported credit note invoice count = <%= @exported_invoice_count %>
</div>
<div>
  Failures = <%= @failed_invoice_count %>
</div>

