<style>
body{
	background-color: #EEEEEE;
	font-size: 12px;
	font-family: arial;
}
textarea{
	width: 450px;
	height: 150px;
}
</style>

<h1><%= custom_t(".apple_itunes_link") %></h1>

<strong><%= custom_t(".copy_paste_website") %><br /> <%= custom_t(".blog_emails") %></strong><br />
<textarea><%= h(begin ItunesLinkinator.itunes_url(@album) rescue 'Link generation failed, please contact customer support' end)%></textarea><br /><br />

<strong><%= custom_t(".copy_paste_facebook") %><br /> <%= custom_t(".fans_itunes") %></strong><br />
<textarea><%= h(begin ItunesLinkinator.itunes_raw_link(@album) rescue 'Link generation failed, please contact customer support' end) %></textarea><br /><br />

<span style="font-size: 10px;"><%= link_to custom_t(".link_generator"),  {url: 'http://ax.phobos.apple.com.edgesuite.net/WebObjects/MZStoreServices.woa/wa/itmsLinkMaker'}  %></span>
