<% ads.each do |ad| -%>
  <div class="row">
    <div class="columns twelve">
      <div class="sidebar-ad">
        <h2><%= h(ad.sidebar_title) %></h2>
        <p><%= h(ad.sidebar_copy) %></p>
        <% if ad.display_price != nil || (india_user? && ad.active?) -%>
        <div class="price"><%= h(ad.display_price_modifier) %> 
          <% if india_user? %>
            <%= product_price_from_action_link(ad.action_link) %>
          <% else %>
            <span><%= money_to_currency(ad.display_price.to_money(current_user.currency)) %></span>
          <% end %>
        </div>
          <% if !ad.display_price_notes.blank? || ad.expiration_date %>
            <div class="price-details">(<%= ad.display_price_notes %> <%= ad_expiration_date(ad) %>)</div>
          <% end -%>
        <% end -%>
        <a class="btn btn-orange btn-upcase btn-bold" href="<%= h(ad.action_link) %>"><%= h(ad.sidebar_link_text) %></a>
    </div>
  </div>
<% end -%>
