<% ads.each do |ad| -%>
  <div class="thumbnail-ad">
    <a href="<%= h(ad.action_link) %>"><%= h(ad.thumbnail_link_text) %></a>
    <% if !ad.display_price_notes.blank? || ad.expiration_date -%>
      <p class="price-details">(<%= ad.display_price_notes %> <%= ad_expiration_date(ad) %>)</p>
    <% end -%>
  </div>
<% end -%>