<% ads.each do |ad| -%>
  <div class="wide-ad">
    <h4><%= h(ad.wide_title) %>
    <% if ad.display_price != nil -%>
      <span id="price"><%= h(ad.display_price_modifier) %> <span><%= money_to_currency(ad.display_price.to_money(current_user.currency)) %></span></span>
    </h4>
      <% if !ad.display_price_notes.blank? || ad.expiration_date -%>
        <span class="price-details">(<%= ad.display_price_notes %> <%= ad_expiration_date(ad) %>)</span>
      <% end -%>
    <% else %>
    </h4>
    <% end -%>
    <a id="purchase-button" href="<%= h(ad.action_link) %>">
      <div class="status button_enabled">
        <span><%= h(ad.wide_link_text) %></span>
      </div>
    </a>
  </div>
<% end -%>