<div class="main">
  <h3>Thank you for redeeming your &ldquo;Record Deal in a Box&rdquo; TuneCore Distribution Credit. You are one step closer to getting your music on iTunes, Amazon Music, Spotify and more.</h3>
  
  <%= redemption_start_create_link(@account_overview.available_inventory)  %>
</div>
<div class="side">
  <div class="logo alfred cf"><img src="/images/cert_redemption/alfred_logo.png" alt="Alfred Music Publishing Logo"></div>
  <div class="user_info">
    <h3>
      <span class="user"><%= current_user.name %></span><br />
      Distribution Credits
    </h3>
    
    <ul>
      <% @account_overview.available_inventory.each do |inventory| -%>
        <li><%= pluralize(inventory.total_left, h("#{inventory.inventory_type} Credit")) %></li>
      <% end -%>
    </ul>
  </div>
  <div class="redeem">
    <small><a href="/redeem">Redeem Another Code</a></small>
  </div>
</div>