<ol>
  <li>These Redemption Code Terms and Conditions are in addition to and incorporated by reference into the TuneCore Terms of Service. TuneCore reserves the sole right at any time to modify the Terms of Service without notice.  All modified terms and/or conditions will be in effect after they are posted on the TuneCore website (unless applicable law requires a longer notice period).  By continuing to use or access the TuneCore website and/or services after TuneCore makes any such modification, you agree to be bound by the revised Terms of Service.</li>

  <li>The redemption code entitles the bearer to one (1) single, ringtone or album distribution credit to be used towards a one-year distribution subscription for either a single, ringtone or album, which can then be renewed for another twelve (12) month period at the current subscription rate at the time of renewal.</li>

  <li>Activation of the redemption code and conversion to a distribution credit requires a U.S. TuneCore account (www.tunecore.com).</li>

  <li>The redemption code is not redeemable for cash, cannot be returned for a cash refund or account credit and cannot be transferred to another account.</li>

  <li>Redemption codes have no expiration date.</li>

  <li>Neither the issuer of the redemption code nor TuneCore is responsible for lost or stolen redemption codes.</li>
</ol>

