<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tunecore : Redemption Code</title>
  <style type="text/css" media="screen">
    body {
      background: #ffffff; /* Old browsers */
      background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 40%, #ffffff 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(40%,#eaeaea), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ffffff 0%,#eaeaea 40%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ffffff 0%,#eaeaea 40%,#ffffff 100%); /* Opera11.10+ */
      background: -ms-linear-gradient(top, #ffffff 0%,#eaeaea 40%,#ffffff 100%); /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
      background: linear-gradient(top, #ffffff 0%,#eaeaea 40%,#ffffff 100%); /* W3C */
      font: 1em Helvetica, Arial, Sans-serif;
      margin: 0 auto; width: 560px;
    }
    h2 { color: #999; font-size: 1em; }
    .logo { background: url("/images/tc_logo2.png") no-repeat 0 0; display: block; height: 63px; overflow: hidden; text-indent: 100%; white-space: nowrap; width: 260px;}
    .module { background-color: #fff; border: 0; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.5); box-shadow: 1px 1px 10px rgba(0,0,0,0.5); margin: 30px 0; padding: 30px; width: 500px; }
    .form_list { list-style: none; margin: 0; padding: 0; position: relative; }
    .module label { font-size: 1.125em; font-weight: bold; }
    .cert_code { border: 1px solid #ddd; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; font-size: 18px; margin: 10px 0 0; padding: 5px 10px; width: 478px; }
    .label-text { bottom: 5px; color: #ccc; cursor: text; left: 12px; font-size: 18px; position: absolute; z-index: 400; }
    .terms { color: #999; font-size: 0.75em; }
    .button { background: url("http://www.tunecore.com/version/tunecore_neo/images/sprites/buttons_sprite.png") repeat-x right 0; border: 0; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); color: #fff; cursor: pointer; float: left; font: bold 14px Helvetica, Arial; height: 30px; line-height: 2.4; margin-right: 10px; padding: 0 25px; text-decoration: none; }
    .submit_btn { margin: 5px 0 0; float: right; }
    #errorExplanation { background: #FEF7DA url(images/sprites/next_actions_sprite.png) no-repeat 24px -372px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; color: #7A786C; font-size: 14px; margin: 15px 0; outline: 4px solid #FF574E; padding: 25px 0 25px;}
    #errorExplanation span {display:block; padding-left:80px; padding-right:10px;}
  </style>
  <%= javascript_include_tag "/javascripts/jquery-1.3.2" %>
  <%= javascript_include_tag "/javascripts/app/password_fields" %>
  <script type="text/javascript">
    jQuery(function (){
      $ = jQuery;
      new PasswordFields({
        'field': '.cert_code'
      });
    });
  </script>
</head>
<body>
  <%- #FIXME: Put this in the appropriate position -%>
  <%= flash[:notice] ? note_helper(flash[:notice],"check") : "" %>
  <%= flash[:error] ? note_error_helper(flash[:error],"red") : "" %>

  <div class="head">
    <h1><a class="logo" href="/">Tunecore</a></h1>
  </div>

  <fieldset class="module">
    <%= form_tag(cert_redemptions_path) %>
    <ul class="form_list">
      <li>
        <label>Please enter your redemption code below.</label>
        <label class="label-text" for="cert_cert">your code here</label>
        <input class="cert_code" type="text" id="cert_cert" name="cert[cert]" />
      </li>
      <li><input class="button submit_btn" type="submit" value="Redeem" /></li>
    </ul>
  </fieldset>

  <h2>Terms &amp; Conditions</h2>

  <div class="terms">
    <%= render :partial => 'redemption_terms' %>
  </div>
</body>
</html>
