<!-- TESTING ONLY - REMOVE BEFORE FINAL COMMIT!!! -->
<div class="thank_you">
  <div class="main">
    <h3>Thank you for redeeming your TuneCore Distribution Credit. You are one step closer to getting your music on iTunes, Amazon Music, Spotify and more.</h3>
    
    <h3>Just click &ldquo;Distribute My Music&rdquo; to get started!</h3>
    
    <%= link_to('Distribute My Music', "#", :class => 'button submit') %>
  </div>
  <div class="side">
    <div class="logo gc cf"><img src="/images/cert_redemption/gc_logo.png" alt="Guitar Center Logo" /></div>
    <div class="user_info">
      <h3>
        <span class="user">Jon Someone</span><br />
        Distribution Credits
      </h3>
      
      <ul>
        <li>1 Album Credit</li>
        <li>0 Single Credits</li>
        <li>0 Ringtone Credits</li>
      </ul>
    </div>
  </div>
</div>