<section class="searchlogic-search-section grid_16" >
  <%= form_for @search, :url=> @person_page ? admin_person_stored_bank_accounts_path(@person_shown) : admin_stored_bank_accounts_path, method: :get do |f| %>
    <fieldset>
      <div class="search-left-side">
	<ul>
	  <% if !@person_page %>
	    <%= f.select :person_status, Person::STATUSES, :include_blank => 'All', :label=>'Customer\'s Status' %>
	    <%= f.text_field :person_id, :label=>"Customer's ID", :class => 'tiny_full' %>
	    <%= f.text_field :person_email, :label=>"Customer's Email", :class => 'tiny_full' %>
	    <%= f.text_field :person_name, :label=>"Customer's Name", :class => 'tiny_full' %>
	  <% else -%>
	    <%= f.select :archived, ['Only Current','Only Deleted'], :include_blank => 'All', :label=>'Bank Account Status' %>
	    <li>
	      <%= label :per_page, "Results per page"%>
	      <%= select_tag :per_page, options_for_select([[@per_page,@per_page],['50','50'],['100','100'],['500','500']]) %>
	    </li>
	  <% end -%>
	</ul>
      </div>
      <div class="search-right-side">
	<ul>
	  <% if !@person_page %>
	    <li>
	      <%= label :per_page, "Results per page"%>
	      <%= select_tag :per_page, options_for_select([[@per_page,@per_page],['50','50'],['100','100'],['500','500']]) %>
	    </li>
	    <%= f.select :archived, ['Only Current','Only Deleted'], :include_blank => 'All', :label=>'Bank Account Status' %>
	  <% end -%>
	  <%= f.text_field :id, :label=>"Bank Account ID", :class => 'tiny' %>
	</ul>
	<ul class="dual-fields">
	  <%= f.text_field :created_at_min, :class => 'tiny date-box', :label => "Date Range", :li_class=>'dual' %>
	  <%= f.text_field :created_at_max, :class => 'tiny date-box', :label => "to", :li_class=>'dual second' %>
	</ul>
      </div>
      <ul class="submit-cancel">
	<%= f.submit "Search" %>
	<li class="reset"><%= link_to 'Reset', @person_page ? admin_person_stored_bank_accounts_path(@person_shown) : admin_stored_bank_accounts_path, :class => "cancel" %></li>
      </ul>
    </fieldset>
  <% end %>
</section>

<% content_for :external_javascript do -%>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <%= javascript_include_tag "/javascripts/app/admin_transactions" %>
<% end -%>
