<p>
  <b>Bank name:</b>  <%=h @stored_bank_account.bank_name %><br/>
  <b>Routing Number:</b>  <%=h @stored_bank_account.last_four_routing_padded %><br/>
	<b>Account Number (last four digits):</b>  <%=h @stored_bank_account.last_four_account %><br/>
  <br/>
  <b>Name:</b> <%=h @stored_bank_account.name %><br/>
<% if !@stored_bank_account.company.nil? %>
  <b>Company:</b> <%=h @stored_bank_account.company %><br/>
<% end -%>
  <b>Address 1:</b> <%=h @stored_bank_account.address1 %><br/>
<% if !@stored_bank_account.address2.nil? %>
  <b>Address 2:</b> <%=h @stored_bank_account.address2 %><br/>
<% end -%>
  <b>City: </b><%=h @stored_bank_account.city %>, <%=h @stored_bank_account.state %>, <%=h @stored_bank_account.country %> <%=h @stored_bank_account.zip %><br/>
  <b>Phone: </b><%=h @stored_bank_account.phone %>
</p>
