<tr class="<%=cycle('odd', 'even') -%>">
  <td><%= stored_bank_account.id %></td>
	<td><%= link_to stored_bank_account.person.name, admin_person_path(stored_bank_account.person)  %></td>
	<td><%= stored_bank_account.name %></td>
	<td class="em"><%= stored_bank_account.person.status if ["Locked", "Suspicious"].include?(stored_bank_account.person.status)  %></td>
	<td><%= stored_bank_account.bank_name %></td>
	<td><%= stored_bank_account.last_four_account_padded %></td>
  <td><%= stored_bank_account.account_type %></td>
	<td><%= stored_bank_account.company %></td>
	<td><%= stored_bank_account.country  %></td>
	<td><%= stored_bank_account.created_at.strftime("%b %d, %Y") %></td>
	<td><%= stored_bank_account.deleted_at.nil? ? 'Current' : stored_bank_account.deleted_at.strftime("%b %d, %Y")  %></td>
	<td class="table_link"><%= link_to 'Details', admin_stored_bank_account_path(stored_bank_account), :title=>'show_details' %></td>
</tr>