<%= render :partial=>'admin/eft_batches/eft_batch_links'%>
<%= render :partial=>'admin/people/mini_person', :locals=> {:person => @person_shown} %>
<section id="eft-batch-transaction" style="float:left; clear:none;">
	
<% if !@stored_bank_account.nil? %>
	<h2>Current Stored Bank Account ID# <%= @stored_bank_account.id %> </h2>	

	<section class="grid_6 clearfix" style="padding:10px">
	  <%= render :partial => "stored_bank_account_basic_info" %>
	</section>

	<table style="width:20%">
	  <thead>
	    <tr>
	      <th>Type</th>
	      <th class="right">Total</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td class="left"><b>Pending</td>
	      <td class="money right"><%= number_to_currency(@pending_total) %></td>
	    </tr>
	    <tr>
	      <td class="left">Processing</td>
	      <td class="money right"><%= number_to_currency(@processing_total) %></td>
	    </tr>
	    <tr>
	      <td class="left">Failed</td>
	      <td class="money right"><%= number_to_currency(@failed_total) %></td>
	    </tr>
	    <tr>
	      <td class="left">Success</td>
	      <td class="money right"><%= number_to_currency(@success_total) %></td>
	    </tr>
	  </tbody>
	</table>
<% else %>
	<h2><%= @person_shown.name %> does not have a current Bank Account</h2>
<% end -%>

<div class="clear"></div>
<section class="grid_16">
  <h2>Inactive Bank Accounts </h2>
  <table class="non_bold">
    <thead>
      <tr>
        <th>Bank Name</th>
        <th>Routing #</th>
        <th>Account #</th>
        <th>Pending</th>
        <th>Processing</th>
        <th>Failed</th>
        <th>Success</th>
      </tr>
    </thead>
    <tbody>
      <% if !@previous_stored_bank_accounts.empty? %>
        <% @previous_stored_bank_accounts.each do |b| %>
          <tr>
            <td><%= link_to b.bank_name, admin_stored_bank_account_path(b) %></td>
            <td><%= b.last_four_routing_padded %></td>
            <td><%= b.last_four_account_padded %></td>
						<td><%= number_to_currency(b.pending_transaction_total) %></td>
            <td><%= number_to_currency(b.processing_transaction_total) %></td>
            <td><%= number_to_currency(b.failed_transaction_total) %></td>
            <td><%= number_to_currency(b.successful_transaction_total) %></td>
          </tr>  
        <% end %>
      <% else %>
			  <tr><td colspan="14"> There are no other bank accounts for this user </td></tr>
      <% end %>
    </tbody>
  </table>
</section>
<section class="grid_16" >
	<h2>Eft Transactions</h2>
	<table class="non_bold">
	  <thead>
	    <tr>
				<% if @has_cancelable_transaction %>
					<th>
						<div class="select-all">
							<input type="checkbox" name="select_all" value="" id="select_all">
							<label for="select_all">All</label>
						</div>
					</th>
				<% end -%> 
	      <th>ID</th>
				<th>Customer Name</th>
				<th>Customer Status</th>
				<th>Status</th>
	      <th>Amount</th>
				<th>Service Fee</th>
				<th>Bank Account</th>
	      <th>Created</th>
	    	<th>Updated</th>
				<th> &nbsp; </th>
				<% if @has_cancelable_transaction %>
					<th> &nbsp; </th>
					<th> &nbsp; </th>
				<% end -%>
	    </tr>
	  </thead>
	  <tbody id="eft-transaction-section">
		<% if !@eft_batch_transactions.empty? %>
			<%= render @eft_batch_transactions %>
		<% else %>
			<tr><td colspan="14"> There are no eft transactions for this person </td></tr>
		<% end -%>
	  </tbody>
	</table>
</section>
</section>
