<%= render :partial=>'admin/eft_batches/eft_batch_links'%>

<%= render(:partial => 'admin/people/mini_person', :locals => {:person => @person_shown})  if @person_page %>

<section id="eft-batch-transactions">
<h2 class='grid_16'>Stored Bank Accounts  <%= "for #{@person_shown.name}" if @person_page %></h2>
<%= render :partial=> 'search_form' %>

<section class="grid_16" >
  <table class="non_bold">
    <thead>
      <tr>
      <th><%= stored_bank_account_field_header "ID", "id" %></th>
      <th><%= stored_bank_account_field_header "Customer Name", "people.name" %></th>
      <th><%= stored_bank_account_field_header "Name on Account", "name" %></th>
      <th><%= stored_bank_account_field_header  "Customer Status", "people.status" %></th>
      <th><%= stored_bank_account_field_header "Bank Name", "bank_name" %></th>
      <th><%= stored_bank_account_field_header "Account Number", "last_four_account" %></th>
      <th><%= stored_bank_account_field_header "Type", "account_type" %></th>
      <th><%= stored_bank_account_field_header "Company", "company" %></th>
      <th><%= stored_bank_account_field_header "Country", "country" %></th>
      <th><%= stored_bank_account_field_header "Created", "created_at" %></th>
      <th><%= stored_bank_account_field_header "Deleted", "deleted_at" %></th>
      <th> &nbsp; </th>
      </tr>
    </thead>
    <tbody id="eft-transaction-section">
    <% if !@stored_bank_accounts.empty? %>
      <%= render @stored_bank_accounts %>
    <% else %>
      <tr><td colspan="14"> There are no Stored Bank Accounts that fit this criteria </td></tr>
    <% end -%>
    </tbody>
  </table>
</section>
  <% if @stored_bank_accounts.total_entries > @stored_bank_accounts.per_page %>
    <div class="jump-links">
      Jump to page:
      <%= will_paginate( @stored_bank_accounts, :params => {:term => params[:term]}) %>
    </div>
  <% end %>
</section>
