<%= render :partial=>'admin/eft_batches/eft_batch_links'%>
<section id="eft-batch-transaction" style="float:left; clear:none;">
<h2>Stored Bank Account <%= @stored_bank_account.id %> </h2>
<h3><%= link_to 'View Bank Account History for this User', history_admin_person_stored_bank_accounts_path(@stored_bank_account.person) %></h3>	

<section class="grid_6 clearfix" style="padding:10px">
  <%= render :partial => "stored_bank_account_basic_info" %>
</section>

<table style="width:20%">
  <thead>
    <tr>
      <th>Type</th>
      <th class="right">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="left"><b>Pending</td>
      <td class="money right"><%= number_to_currency(@pending_total) %></td>
    </tr>
    <tr>
      <td class="left">Processing</td>
      <td class="money right"><%= number_to_currency(@processing_total) %></td>
    </tr>
    <tr>
      <td class="left">Failed</td>
      <td class="money right"><%= number_to_currency(@failed_total) %></td>
    </tr>
    <tr>
      <td class="left">Success</td>
      <td class="money right"><%= number_to_currency(@success_total) %></td>
    </tr>
  </tbody>
</table>

<section class="grid_16" >
	<h2>Eft Transactions</h2>
	<table class="non_bold">
	  <thead>
	    <tr>
				<% if @has_cancelable_transaction %>
					<th>
						<div class="select-all">
							<input type="checkbox" name="select_all" value="" id="select_all">
							<label for="select_all">All</label>
						</div>
					</th>
				<% end -%> 
	      <th>ID</th>
				<th>Customer Name</th>
				<th>Customer Status</th>
				<th>Status</th>
	      <th>Amount</th>
				<th>Service Fee</th>
				<th>Bank Account</th>
	      <th>Created</th>
	    	<th>Updated</th>
				<th> &nbsp; </th>
				<% if @has_cancelable_transaction %>
					<th> &nbsp; </th>
					<th> &nbsp; </th>
				<% end -%>
	    </tr>
	  </thead>
	  <tbody id="eft-transaction-section">
		<% if !@eft_batch_transactions.empty? %>
			<%= render @eft_batch_transactions %>
		<% else %>
			<tr><td colspan="14"> There are no eft transactions for this bank account</td></tr>
		<% end -%>
	  </tbody>
	</table>
</section>
</section>
