<%= javascript_include_tag "/javascripts/js.cookie" %>

<%= render partial: "reskin/modals/base", locals: autorenewals_modal_locals %>

<% content_for :external_javascript do %>
  <script>
    const baseOpts = gon.dashboardModalOptions || {}

    jQuery(document).ready(function($) {
      $("#dashboard-reskin-modal").modal({
        ...baseOpts, 
        onShow: function(dialog) {
          dialog.container.css({ height: "auto" });
          $(window).trigger('resize.simplemodal');
        },
        onClose: function(_) {
          Cookies.set('autorenew_remind_me_later', 'true', { expires: 1 });
          $.modal.close();
        }
      });
    });
  </script>
<% end %>