<div id="dashboard-reskin-modal" class="dashboard-reskin-modal <%= variant %>">
  <h1><%= header %></h1>
  <div class="content">
    <p class="message">
      <%= raw message %>
    </p>
    <%= yes_btn %>
    <%= no_btn %>
  </div>
</div>
