<%= render partial: "reskin/modals/base", 
           locals: expiring_cc_modal_locals(@days_until_expiration) 
%>

<% content_for :external_javascript do %>
  <script>
    const baseOpts = gon.dashboardModalOptions || {}

    jQuery(document).ready(function($) {
      $("#dashboard-reskin-modal").modal({
        ...baseOpts, 
        onShow: function(dialog) {
          dialog.container.css({ height: "auto" });
          $(window).trigger('resize.simplemodal');
        }
      });

      gtmLogEvent(
        'update-payment-modal',
        'update-payment-modal-appeared',
        'simple-modal',
        {
          label: 'active-modal',
          value: 'active-modal'
        }
      );
    });
  </script>
<% end %>