<%= render partial: "reskin/modals/base", locals: tfa_modal_locals %>

<% content_for :external_javascript do %>
  <script>
    const baseOpts = gon.dashboardModalOptions || {}

    jQuery(document).ready(function($) {
      $("#dashboard-reskin-modal").modal({
        ...baseOpts, 
        onShow: function(dialog) {
          dialog.container.css({ height: "auto" });
          $(window).trigger('resize.simplemodal');
        },
        onClose: function(_) {
          const id = gon.current_user.person.id
          $.ajax({
            url: `/api/backstage/two_factor_auth/prompts/${id}`,
            type: "PUT",
          });
          $.modal.close();
        }
      });
    })
  </script>
<% end %>