<tr class="<%= suspicious_class(eft_batch_transaction, :stored_bank_account) %> <%= highlight_new_bank_account(eft_batch_transaction) %> <%= cycle('', 'alt') %>">
	<% if @has_cancelable_transaction && !@person_page  && current_user.has_role?("EFT")  %>
		<% if current_user != eft_batch_transaction.person %>
			<td><%= check_box_tag("transaction_ids[]", eft_batch_transaction.id) if (eft_batch_transaction.can_be_canceled? ) %></td>
		<% else %>
			<td></td>
		<% end %>
	<% end -%>
  <td><%= eft_batch_transaction.id %></td>
	<% if !@person_page %>
		<td><%= link_to eft_batch_transaction.person.name, admin_person_path(eft_batch_transaction.person)  %></td>
		<td class="user_status_<%= eft_batch_transaction.person.status.downcase %>">
			<%= eft_batch_transaction.person.status if ["Locked", "Suspicious"].include?(eft_batch_transaction.person.status)  %>
		</td>
	<% end -%>
	<td><%= eft_batch_transaction.status.humanize %></td>
	<% if @all_failures %>
		<td><%= eft_batch_transaction.response_text %></td>
	<% end -%>
	<td><%= number_to_currency(eft_batch_transaction.amount) %></td>
  <td><%= number_to_currency(eft_batch_transaction.payout_service_fee.amount) %></td>
	<td><%= link_to "#{eft_batch_transaction.stored_bank_account.bank_name} #{eft_batch_transaction.stored_bank_account_id}", admin_stored_bank_account_path(eft_batch_transaction.stored_bank_account) %></td>
  <td><%= eft_batch_transaction.created_at.strftime("%b %d, %Y %l:%M %p") %> </td>
  <td><%= eft_batch_transaction.updated_at.strftime("%b %d, %Y %l:%M %p") %></td>
	<td class="table_link"><%= link_to 'Details', admin_eft_batch_transaction_path(eft_batch_transaction), :title=>'show_details' %></td>
	<% if @has_cancelable_transaction && current_user.has_role?("EFT")  %>
		<% if current_user != eft_batch_transaction.person %>
			<td class="table_link">
				<%= link_to('Approve', approve_admin_eft_batch_transaction_path(eft_batch_transaction), :title=>'show_details') if eft_batch_transaction.can_be_approved?  %>
				<%= link_to('Change to Pending', remove_approval_admin_eft_batch_transaction_path(eft_batch_transaction), :title=>'show_details') if eft_batch_transaction.status == 'waiting_for_batch'  %>
			</td>
			<td class="table_link">
				<%= link_to('Reject', {:controller => 'admin/eft_batch_transactions',:action => :reject_form, :minWidth => 460, :minHeight => 350, :id=>eft_batch_transaction.id}, :class => "lightbox", :title=>'reject') if eft_batch_transaction.can_be_canceled?  %>
			</td>
		<% else -%>
			<td colspan="2"></td>
		<% end -%>
	<% end -%>
</tr>
