<section>
  <h2>Batch Transaction ID# <%= @eft_batch_transaction.id %> </h2>
  <dl class='eft-batch-transaction grid_10'>
    <dt>Person:       </dt>
    <dd><%= link_to person.name, admin_person_url(host: person.domain, id: person)  %> </dd>
    <dt>Person's Balance </dt>
    <dd><%= number_to_currency(person.person_balance.balance) %>                                    </dd>
    <dt>Person's Status </dt>
    <dd><%= person.status %>                                    </dd>
    <dt>Stored Bank Account: </dt>
    <dd><%= link_to @eft_batch_transaction.stored_bank_account.bank_name, admin_stored_bank_account_url(host: person.domain, id: @eft_batch_transaction.stored_bank_account) %>                                        </dd>
    <dt>Status:       </dt>
    <dd><%= @eft_batch_transaction.status %>                                                                </dd>
    <dt>Amount:       </dt>
    <dd><%= number_to_currency(@eft_batch_transaction.amount) %>                                            </dd>
    <dt>Service Fee:     </dt>
    <dd><%= number_to_currency(@eft_batch_transaction.payout_service_fee.amount) %>                         </dd>
    <dt>Batch ID:      </dt>
    <dd><%= !@eft_batch_transaction.eft_batch_id.nil? ? link_to(@eft_batch_transaction.eft_batch_id, admin_eft_batch_url(host: @eft_batch_transaction.person.domain, id: @eft_batch_transaction.eft_batch)) : "N/A" %>                                                        </dd>
    <dt>Transaction ID:   </dt>
    <dd><%= @eft_batch_transaction.transaction_id || "N/A" %>                                                        </dd>
    <dt>Order  ID:      </dt>
    <dd><%= @eft_batch_transaction.order_id %>                                                              </dd>
    <dt>Response Code:    </dt>
    <dd><%= @eft_batch_transaction.response_code || "N/A" %>                                                         </dd>
    <dt>Response Text:    </dt>
    <dd><%= @eft_batch_transaction.response_text || "N/A" %>                                                         </dd>
    <dt>Rejection Email message:    </dt>
    <dd><%= @eft_batch_transaction.email_message || "N/A" %>                                                         </dd>
    <dt>Created:       </dt>
    <dd><%= @eft_batch_transaction.created_at.strftime("%b %d, %Y") %>                                      </dd>
    <dt>Updated:       </dt>
    <dd><%= @eft_batch_transaction.updated_at.strftime("%b %d, %Y") %>                                      </dd>
    <dt>Expected Deposit Date:</dt>
    <dd><%= @eft_batch_transaction.expected_deposit_date.strftime("%b %d, %Y") %>                                      </dd>
  </dl>
</section>
