<tr>
  <td width="100"><%= eft_approval.date_of_request %></td>
  <td><%= eft_approval.total_count %></td>
  <td><%= number_to_currency(eft_approval.total_amount) || "$0" %></td>
	<td class="success"><%= eft_approval.approved_count %></td>
  <td class="success"><%= number_to_currency(eft_approval.approved_amount) || "$0"%></td>
	<td class="pending"><%= eft_approval.removed_approval_count %></td>
  <td class="pending"><%= number_to_currency(eft_approval.removed_approval_amount) || "$0" %></td>
  <td class="errored"><%= eft_approval.rejected_count %></td>
  <td class="errored"><%= number_to_currency(eft_approval.rejected_amount) || "$0" %></td>
	<td class="errored"><%= eft_approval.canceled_count %></td>
  <td class="errored"><%= number_to_currency(eft_approval.canceled_amount) || "$0" %></td>
  <td class="pending"><%= eft_approval.pending_count %></td>
  <td class="pending"><%= number_to_currency(eft_approval.pending_amount) || "$0" %></td>
</tr>
