<section class="searchlogic-search-section grid_16" >
  <%= form_for @search, :method=>:get, :url=>(@person_page ? admin_person_eft_batch_transactions_path(@person_shown) : admin_eft_batch_transactions_path) do |f| %>
	<fieldset>
		<div class="search-left-side">
			<ul>
				<% if !@person_page %>
					<%= f.select :person_status, Person::STATUSES, :include_blank => 'All', :label=>'Customer\'s Status' %>
					<%= f.text_field :person_email, :label=>"Customer's Email", :class => 'tiny_full' %>
					<%= f.text_field :person_name, :label=>"Customer's Name", :class => 'tiny_full' %>
					<%= f.text_field :artist_name, :label=>"Artist Name", :class => 'tiny_full' %>
					<%= f.text_field :id, :label=>"Transaction ID", :class => 'tiny_full' %>
				<% else -%>
					<%= f.text_field :id, :label=>"Transaction ID", :class => 'tiny' %>
					<%= f.text_field :eft_batch_id, :label=>"Batch ID", :class => 'tiny' %>
					<%= f.text_field :eft_query_id, :label=>"Query ID", :class => 'tiny' %>
				<% end -%>
				<li>
					<%= f.text_field :order_id, :label=>"Confirmation Number", :class => 'tiny' %>
					<%= label :per_page, "Results per page"%>
					<%= select_tag :per_page, options_for_select([[@per_page,@per_page],['50','50'],['100','100'],['500','500']]) %>
				</li>
			</ul>
		</div>
		<div class="search-right-side">
			<ul>
				<%= f.select :eft_status, EftBatchTransaction::STATUSES, :include_blank => 'All', :label=>'Withdrawal Status' %>
				<% if !@person_page %>
					<%= f.text_field :eft_batch_id, :label=>"Batch ID", :class => 'tiny' %>
					<%= f.text_field :eft_query_id, :label=>"Query ID", :class => 'tiny' %>
				<% end -%>
			</ul>
			<ul class="dual-fields">
			    <%= f.text_field :amount_min, :class => 'tiny', :label => "Amount Range ($)", :li_class=>'dual' %>
					<%= f.text_field :amount_max, :class => 'tiny', :label => "to", :li_class=>'dual second' %>
			</ul>
			<ul class="dual-fields">
				<%= f.text_field :created_at_min, :class => 'tiny date-box', :label => "Date Range", :li_class=>'dual' %>
				<%= f.text_field :created_at_max, :class => 'tiny date-box', :label => "to", :li_class=>'dual second' %>
			</ul>
		</div>

		<ul class="submit-cancel">
			<%= f.submit "Search" %> 
			<li class="reset"><%= link_to 'Reset', @person_page ? admin_person_eft_batch_transactions_path(@person_shown) : admin_eft_batch_transactions_path, :class => "cancel" %></li>
		</ul>
	</fieldset>
	<% end %>
</section>
<% content_for :external_javascript do -%>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <%= javascript_include_tag "/javascripts/app/admin_transactions" %>
<% end -%>
