<%= render :partial=>'admin/eft_batches/eft_batch_links'%>
<section id="eft-batch-transactions">
<h2>EFT Approval Summary (24 hour period beginning at <%= Time.parse(EftBatchTransaction::APPROVAL_START_TIME).strftime("%I:%M %p") %>)</h2>
	<section class="grid_16" >
		<table class="non_bold">
		  <thead>
				<tr>
					<th>Date</th>
				  <th>Total Count</th>
				  <th>Total Amount</th>
					<th>Approved Count</th>
					<th>Approved Amount</th>
					<th>Removed Approval Count</th>
					<th>Removed Approval Amount</th>
					<th>Rejected Count</th>
					<th>Rejected Amount</th>
					<th>Cancelled Count</th>
					<th>Cancelled Amount</th>
					<th>Pending Count</th>
					<th>Pending Amount</th>
				</tr>
		  </thead>
		  <tbody id="eft-transaction-section">
				<%= render :partial=>'eft_approval', :collection=>@eft_approvals %>
		  </tbody>
		</table>
	</section>
</section>
