<%= stylesheet_link_tag "/stylesheets/payments.css" %>
<%= render partial: 'admin/eft_batches/eft_batch_links'%>

<%= render(partial: 'admin/people/mini_person', locals: { person: @person_shown })  if @person_page %>

<section id="eft-batch-transactions">
  <h2 class='grid_16'>EFT Withdrawal Requests
    <% if @person_page %>
      for <%= @person_shown.name %>
    <% else -%>
      <span class='em'>(<%= @pending_approval_count %> pending approval)</span>
    <% end -%>
  </h2>
  <%= render partial: 'search_form' %>

  <%= form_tag edit_multiple_admin_eft_batch_transactions_path, html: { method: :post } do %>

    <% if @has_cancelable_transaction && !@person_page && current_user.has_role?("EFT")%>
    <section class="grid_16">
      <h2>Edit Multiple transactions</h2>
      <div class='eft-edit-multiple'>
        <%= select_tag "approve", options_for_select(@pending_approval_count > 0 ? ["Approve", "Reject", "Change to Pending"] : ["Change to Pending"]) %>
        <%= submit_tag "Update Multiple", data: { confirm: "Are you sure you want to edit all of the transactions that you have selected?" }, id: "eft-submit-btn" %>
      </div>
    </section>
    <% end -%>

    <section class="grid_16" >
      <table class="non_bold">
        <thead>
          <tr>
            <% if @has_cancelable_transaction && !@person_page && current_user.has_role?("EFT") %>
              <th>
                <div class="select-all">
                  <label for="select_all">All</label>
                  <input type="checkbox" name="select_all" value="" id="select_all">
                </div>
              </th>
            <% end -%>
            <th><%= eft_batch_txn_field_header "id", "id" %></th>
            <% if !@person_page %>
              <th><%= eft_batch_txn_field_header "Customer Name", "people.name" %></th>
              <th><%= eft_batch_txn_field_header "Customer Status", "people.status" %></th>
            <% end -%>
            <th><%= eft_batch_txn_field_header "Status", "eft_batch_transactions.status" %></th>
            <% if @all_failures %>
              <th><%= eft_batch_txn_field_header "Response Text", "response_text" %></th>
            <% end -%>
            <th><%= eft_batch_txn_field_header "Amount", "amount" %></th>
            <th><%= eft_batch_txn_field_header "Service Fee", "payout_service_fees.amount" %></th>
            <th>Bank Account</th>
            <th><%= eft_batch_txn_field_header "Created", "eft_batch_transactions.created_at" %></th>
            <th><%= eft_batch_txn_field_header "Updated", "eft_batch_transactions.updated_at" %></th>
            <th> &nbsp; </th>
            <% if @has_cancelable_transaction %>
              <th> &nbsp; </th>
              <th> &nbsp; </th>
            <% end -%>
          </tr>
        </thead>
        <tbody id="eft-transaction-section">
        <% if !@eft_batch_transactions.empty? %>
          <%= render partial: "eft_batch_transaction", collection: @eft_batch_transactions %>
        <% else %>
          <tr><td colspan="9"> There are no eft transactions that fit this criteria </td></tr>
        <% end -%>
        </tbody>
      </table>
    </section>
    <div class="jump-links">
      <%= @eft_batch_transactions.total_entries %> records found
    </div>
    <% if @eft_batch_transactions.total_entries > @eft_batch_transactions.per_page %>
      <div class="jump-links">
        Jump to page:
        <%= will_paginate( @eft_batch_transactions, params: { term: params[:term] }) %>
      </div>
    <% end %>
  <% end %>
</section>
<% content_for :external_javascript do -%>
  <%= javascript_include_tag "/javascripts/app/select_all" %>
  <%= javascript_include_tag "admin/eft_batch_transactions.js" %>
<% end -%>

