<section id="eft_rejection">
  <h2>Reject Withdrawal ID#<%= @eft_batch_transaction.id %> </h2>
	<h3 class='info'>Customer: <%= @eft_batch_transaction.stored_bank_account.person.name %> 
			<span class="user_status_<%= @eft_batch_transaction.person.status.downcase %>">(Status:  <%= @eft_batch_transaction.person.status %>)</span>
	</h3>
	<h3>Amount: <%= number_to_currency(@eft_batch_transaction.amount) %></h3>
	<h3>Withdrawal Status: <%= @eft_batch_transaction.status.humanize %></h3>
  <fieldset id="eft_withdrawal_reject" class='small'>
    <%= error_messages_for(@eft_batch_transaction) %>
    <ul class="clearfix">
      <%= form_for @eft_batch_transaction, url: { action: :reject }, method: :post do |f| -%>
 				<%= fields_for :note do |note| %>
		      	<%= note.text_area(:note, :label => "Admin Note* <span class='info'>(Admin use only)</span>") %>
		    <% end %>
				<%# The ability to add information to the reject email was requested to be taken out, leaving it here just in case it gets added back in. Also commented out in controller %>
				<%# f.text_area(:email_message, :label => "Customer Email Message <span class='info'>(This message will be 
				added to the standard rejection emails that customers receive. If it is left blank, the customer will receive a generic rejection email.)</span>") %>
        <%= f.submit "Reject" %>
      <% end -%>
    </ul>
  </fieldset>
</section>
<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.validate.js" %>
  <%= javascript_include_tag "/javascripts/app/admin/eft_rejection.js" %>
<% end %>
