<%= render :partial=>'admin/eft_batches/eft_batch_links'%>
<div class="floatL">
  <%= render :partial=>'eft_details', locals: { person: @eft_batch_transaction.person } %>
</div>
<div id="action-links-container">
	<%= render :partial=>'admin/people/person_action_links', :locals=> {:person => @eft_batch_transaction.person} %>
</div>
<section class="grid_16">
<h2>Transaction History <%= eft_approve_reject_links(@eft_batch_transaction) if (current_user.has_role?("EFT") && current_user != @eft_batch_transaction.person) %></h2>
<table class="non_bold">
  <thead>
    <tr>
      <th>Status</th>
			<th>Comment</th>
			<th>Admin</th>
			<th><%= link_to 'Balance Transactions', :controller => 'admin/people', :action => :transactions_for, :id => @eft_batch_transaction.person.id %></th>
      <th>Amount</th>
    	<th>Created</th>
    </tr>
  </thead>
  <tbody>
		<% if !@eft_batch_transaction_history.empty? %>
			<%= render :partial=>'admin/eft_batch_transaction_history/eft_batch_transaction_history', :collection=>@eft_batch_transaction_history %>
		<% else %>
			<tr><td colspan="10"> There is no history to show </td></tr>
		<% end -%>
  </tbody>
</table>
</section>

<section class="grid_16">
	<h2>Transaction Notes</h2>
	<% if !@eft_batch_transaction.notes.empty? %>
		<ul>
			<%= render :partial=>'admin/notes/note', :collection=>@eft_batch_transaction.notes %>
		</ul>
	<% else %>
		<p>There are no notes for this eft batch transaction </p>
	<% end -%>
</section>
