<tr class="<%= admin_store_class(admin_store) %>">
  <td><%= admin_store.id %></td>
  <td><%= admin_store.name %></td>
  <td><%= admin_store.short_name %></td>
  <td><%= admin_store.converter_class %></td>
  <td><%= admin_store.is_active %></td>
  <td><%= admin_store.in_use_flag %></td>
  <td><%= admin_store.delivery_service %></td>
  <% if admin_store.store_delivery_config.try(:paused?) %>
    <td><%= button_to "Unpause!", admin_store_unpause_path(admin_store) %></td>
  <% elsif admin_store.store_delivery_config.try(:unpaused?) %>
    <td><%= button_to "Pause!", admin_store_pause_path(admin_store) %></td>
  <% else %>
    <td></td>
  <% end %>
  <td><%= admin_store.number_of_paused_distributions %></td>

  <td>
    <% if admin_store.number_of_paused_distributions > 0  %>
      <%= form_tag admin_store_backfill_start_path(admin_store) do  %>
        <%= number_field_tag :number_to_backfill, 1000, max: 1000, style: "display: inline-block;" %>
        <%= submit_tag "Start Backfill!", style: "display: inline-block;" %>
      <% end %>
    <% end %>
  </td>
</tr>
