<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/admin_stores.css" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.dataTables.min" %>
  <%= javascript_include_tag "/javascripts/app/admin/stores" %>
<% end %>

<table class="admin-stores">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Short Name</th>
    <th>Converter Class</th>
    <th>Is Active</th>
    <th>Is In Use</th>
    <th>Delivery Service</th>
    <th>Pause</th>
    <th>Count Enqueued</th>
    <th>Start Backfill</th>
  </thead>
  <tbody>
    <%= render partial: "admin_store", collection: @stores %>
  </tbody>
</table>
