<table>
  <thead>
    <tr>
      <th class="align-left">Name</th>
      <th>PubAdmin?</th>
      <th>Status</th>
      <th>Reason</th>
      <th>Status Changed On</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| -%>
      <tr>
        <td class="align-left">
			<%= flag(person.country_website) %>
            <%= link_to(h(person.name), :controller=>"admin/people", :action => "show", :id=>person.id) %><br/>
            <%= h(person.email) %>
		</td>

        <td><% if person.paid_for_composer? || person.paid_for_publishing_composer? %>Yes<% else %>No<% end %></td>
        <td class="user_status_<%= person.status.downcase %>"><%= person.status %></td>
        <td class="user_status_<%= person.status.downcase %>"><%= person.lock_reason %></td>
        <td><%= fmt_country_datetime(person.status_updated_at) %></td>
        <td class="align-right">
            <% if person.status == "Locked" %>
  	      <%= link_to("Unlock", {:controller => 'admin/people', :action => 'change_status', :id => person, :minWidth => 390, :minHeight => 300}, :class => "lightbox") + " | " if @user_can_unlock %>
            <% else -%>
              <%= link_to("Remove Suspicion", {:controller => 'admin/people', :action => 'change_status', :id => person, :ns => '1', :minWidth => 390, :minHeight => 300}, :class => "lightbox") %> |
            <% end -%>
            <%= link_to "View Notes", {:controller => "admin/notes", :id => person, :width => 125, :height => 350}, :class => "lightbox" %>
        </td>
      </tr>
    <% end -%>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="7" class="align-left">Total Found: <%= @people.total_entries %></th>
    </tr>
  </tfoot>
</table>
<% if @people.total_entries > @people.per_page -%>
  <div style="text-align: right;">
    Jump to page:
    <%= will_paginate(@people, :params => {:term => params[:term]}) %>
  </div>
<% end -%>
