<% content_for :external_javascript do -%>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <%= javascript_include_tag "/javascripts/app/admin_transactions" %>
<% end -%>

<% params[:d] = {} if !params[:d] #this fixes the assignment problem for a fresh form. If params[:d] doesn't exist, the form throws an error.%>

<fieldset class="small two-column">
  <%= form_tag("/admin/fraud", :method => :get) do -%>
    <div>
      <div class="left-column grid_7">
        <div>
          <label for="d[person_search]">
            Name or Email
          </label>
          <%= text_field_tag("d[person_search]", params[:d][:person_search]) %>
        </div>
      </div>

      <div class="right-column grid_7">
        <div>
          <label for="pub_admin">Pub Admin?</label>
          <%= select_tag("pub_admin", options_for_select(["All", "Yes", "No"], params[:pub_admin])) %>
        </div>
        <div>
          <label for="d[status]">
            Status
          </label>
            <%= select_tag("d[status]", options_for_select(["Both Locked and Suspicious", "Locked", "Suspicious"], params[:d][:status] || @status)) %>
        </div>
        <div>
          <label for="d[reason]">
            Reason
          </label>
            <%= select_tag("d[lock_reason]", options_for_select([" "] + Person::REASONS_FOR_DEACTIVATION, params[:d][:lock_reason] || @lock_reason)) %>
        </div>
      </div>
    </div>

    <div style="clear: both;">
      <div class="left-column grid_7">
        <label for="d[from_date]">
          Status Change Date From
        </label>
        <%= text_field_tag("d[from_date]", params[:d][:from_date] || @from_date, :class => "date-box") %>
      </div>
      <div class="right-column grid_7">
        <label for="d[to_date]">
            To
        </label>
        <%= text_field_tag("d[to_date]", params[:d][:to_date] || @to_date, :class => "date-box") %>
      </div>
    </div>

    <div class="grid_10" style="margin-top: 5px; clear: both;">
      <%= submit_tag("Search")%> <%= link_to("Reset", {:controller => "admin/fraud"}, :class => "cancel") %>  <%= link_to("Statistics", {:action => "statistics", :minHeight => 300, :minWidth => 390}, :class=>"lightbox" )%>
    </div>
  <% end -%>
</fieldset>
