<section class="grid_7">
  <header>
    <h1>Fraud Statistics</h1>
  </header>
  <div class="rounded-container">
    <ul style="font-size: 115%;">
      <li><strong>Suspicious Accounts: <%= @suspicious_accounts_total %> </strong>(<%= sprintf("%.2f", ((@suspicious_accounts_total.to_f/@total_accounts.to_f) * 100)) %>%)</li>
      <li><strong>Locked Accounts: <%= @locked_accounts_total %> </strong>(<%= sprintf("%.2f", ((@locked_accounts_total.to_f/@total_accounts.to_f) * 100)) %>%)</li>
      <li><strong>Active Accounts: <%= @active_accounts_total %> </strong>(<%= sprintf("%.2f", (@active_accounts_total.to_f/@total_accounts.to_f) * 100) %>%)</li>
      <li><strong>Total Accounts: <%= @total_accounts %> </strong></li>
      <li><strong>Suspicious Accounts this Month: <%= @suspicious_this_month %> </strong></li>
      <li><strong>locked Account this Month: <%= @locked_this_month %> </strong></li>
    </ul>
  </div>
</section>