<% if current_user.has_store("Amazon Music") && !cookies[:alert_seen] %>
  <div class="alert" style="display:none;">
    <%= custom_t('.content') %>
  </div>
  <% content_for :external_javascript do %>
    <script type="text/javascript" charset="utf-8">
    jQuery(".alert").modal({
      minHeight: 340,
      minWidth: 506,
      containerCss: {
        padding: 0,
        "background-color": "transparent"
      }
    });
    </script>
  <% end %>
  <%- cookies[:alert_seen] = { :value => "true", :expires => 1.month.from_now } -%>
<% end %>
