<table>
  <colgroup>
    <col class="compositions-col_composition">
    <col class="compositions-col_appears_on">
    <col class="compositions-col_split">
    <col class="compositions-col_status">
  </colgroup>
  <thead>
    <tr>
      <th><%= sortable "composition_name", "#{custom_t(".composition")}" %></th>
      <th><span><%= custom_t(:appears_on) %></span></th>
      <th><%= sortable "splits_percentage", "#{custom_t(:split)}" %></th>
      <th><%= sortable "status", "#{custom_t(:status)}" %></th>
    </tr>
  </thead>
  <tbody>
    <%- if compositions_paginated.each do |mc| -%>
      <tr class="<%= mc.has_splits? ? "status-#{mc.composition.status.split(" ").join("_").downcase}" : 'status-splits_missing' %>">
        <td><%= mc.name -%></td>
        <td><%= display_name(mc.album) -%></td>
        <%- # FIXME: Handle percentage more elegantly -%>
        <%- if mc.has_splits? -%>
          <td><%= "#{mc.composition.publishing_splits.first.percent}%" -%></td>
        <%- else -%>
          <td>--</td>
        <%- end %>
        <%- if mc.has_splits? -%>
          <td class="status-td"><%= status(mc.composition.status) %></td>
        <%- else -%>
          <td class="status-td"><span data-tooltip="<%= custom_t(".status_tooltip", { publishing_splits: '/publishing_splits' }) %>" class="missing"><%= custom_t(:split_missing) %></span> <a href="/publishing_splits" class="submit_split"><%= custom_t(".add") %></a></td>
        <%- end -%>
      </tr>
    <%- end.empty? -%>
      <tr>
        <td colspan="4"><%= custom_t(".no_compositions_found") %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
<footer class="table-nav">
  <div class="table-nav-controls total_results">
    <%= custom_t(".total_entries_found", {
      count: compositions_paginated.total_entries
    }) %>
  </div>
  <div class="table-nav-controls page_select">
    <input type="hidden" class="page" name="page" value="<%= request.fullpath %>">
    <span><%= custom_t(:view) %>:</span>
    <select name="per_page" class="per_page">
      <option value="25"  <%= "selected='selected'" if params[:per_page].to_i == 25 %>>25</option>
      <option value="50"  <%= "selected='selected'" if params[:per_page].to_i == 50 %>>50</option>
      <option value="100"  <%= "selected='selected'" if params[:per_page].to_i == 100 %>>100</option>
      <option value="500" <%= "selected='selected'" if params[:per_page].to_i == 500 %>>500</option>
    </select>
  </div>
  <%= will_paginate(compositions_paginated, :params => { :controller => "song_registrations", :action => "paginate" }, :class => 'table-nav-controls pagination', :previous_label => '<i class="fa fa-chevron-circle-left fa-lg"></i><span>' + custom_t(:prev) + '</span>', :next_label => '<i class="fa fa-chevron-circle-right fa-lg"></i><span>' + custom_t(:next) + '</span>', :renderer => PaginationWithSelectLinkRenderer) -%>
</footer>
