<div id="organizations" class="alert mfp-hide">
  <h1 class="hd"><%= custom_t(".we_register_your_compositions_with_these_organizations") %></h1>
  <div class="bd" data-pro="BMI">
    <ul>
      <li>BMI </li>
      <li>Xbox Music</li>
      <li>Slacker</li>
      <li>CricKet</li>
      <li>Myspace Music</li>
      <li>Rdio</li>
      <li>Amazon Music</li>
      <li>PlayNetwork</li>
      <li>Medianet</li>
      <li>Spotify</li>
      <li>Rhapsody</li>
      <li>7 Digital</li>
      <li>MixRadio</li>
      <li>Tunewiki</li>
      <li>Touchtunes</li>
      <li>Musicnotes</li>
      <li>Touchtunes</li>
      <li>Google Play</li>
      <li>Youtube</li>
      <li>Canada- SOCAN/CMRRA</li>
      <li>UK- PRS/MCPS</li>
      <li>Ireland- PRS/MCPS</li>
      <li>Australia- APRA/AMCOS</li>
      <li>New Zealand- APRA/AMCOS</li>
      <li>Denmark- NCB/KODA</li>
      <li>Norway- NCB/KODA</li>
      <li>Sweden- NCB/KODA</li>
      <li>Finland- NCB/KODA</li>
      <li>Estonia- NCB/KODA</li>
      <li>Latvia- NCB/KODA</li>
      <li>Lithuania- NCB/KODA</li>
      <li>Iceland- NCB/KODA</li>
      <li>Belgium- SABAM</li>
      <li>Netherlands- BUMA/STEMRA</li>
      <li>Luxembourg- SACEM/SDRM</li>
      <li>France- SACEM/SDRM</li>
      <li>Lebanon- SACEM/SDRM</li>
      <li>Italy- SIAE</li>
      <li>Spain- SGAE</li>
      <li>Portugal- SPA</li>
      <li>Germany- GEMA</li>
      <li>Austria- AKM/AUME</li>
      <li>Switzerland- SUISA</li>
      <li>Japan- JASRAC</li>
      <li>Poland- ZAIKS</li>
      <li>Hungary- ARTISJUS</li>
      <li>Romania- UCMR/ADA</li>
      <li>Bulgaria- MUSICAUTOR</li>
      <li>Czech Republic- OSA</li>
      <li>Slovakia- SOZA</li>
      <li>Croatia- HDS</li>
      <li>Serbia- SOKOJ</li>
      <li>Bosnia &amp; Herzigovina- SQN</li>
      <li>Albania- ALBAAUTOR</li>
      <li>Kosovo- APIK</li>
      <li>Macedonia- ZAMP</li>
      <li>Slovenia- SAZAS</li>
    </ul>
  </div>
</div>
