<% content_for :css do %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.1/jquery.qtip.min.css" %>
  <%= stylesheet_link_tag "/stylesheets/magnific-popup.css" %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/composition.css" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.1/jquery.qtip.min.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.ba-bbq.min.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
  <%= javascript_include_tag "/javascripts/plugins/tc.compositionsTable.js" %>
  <%= javascript_include_tag "/javascripts/app/compositions.js" %>
  <script type="text/javascript" charset="utf-8">
    jQuery(function($){
      $(".table-container").compositionsTable({
        url: "<%= paginate_compositions_path(:page => 1) %>"
      });

      $(document).on('mouseover', '.status-td', function(e) {
        var $this = $(this)
        tooltip = $this.find('span').data('tooltip');
        $this.qtip({
          overwrite: false,
          content: tooltip,
          show: { event: e.type, ready: true },
          hide: { delay: 200, fixed: true },
          position: { my: 'bottom right', at: 'top left', target: $this.find('span') }
        }, e);
      });

      $(document).on('click', '.open-popup', openPopup);
      function openPopup(e) {
        e.preventDefault();

        $.magnificPopup.open({
          items: { src: '#organizations', type: 'inline' }
        });
      }
    });
  </script>
<% end %>

<div class="content">
  <header>
    <div class="row">
      <div class="twelve columns">
        <section class="breadcrumbs">
          <a href="<%= composers_path %>"><%= custom_t(".publishing_dashboard") %></a>
          <span class="active"><%= custom_t(".composition_manager") %></span>
        </section>
        <section class="page_title">
          <h1><%= custom_t(".composition_manager") %></h1>
          <p><%= custom_t(".songs_composed_by_user", { user: current_user.name }) %></p>
        </section>
        <section class="page_description">
          <p><%= custom_t(".page_description") %></p>
        </section>
        <section class="learn_more">
          <a class="button-callout" href="http://www.tunecore.com/blog/wp-content/uploads/2013/10/tunecore_song_registration_manager.jpg" target="_blank"><%= custom_t(:learn_more) %></a>
        </section>
        <% unless @compositions.empty? %>
        <section class="stats">
          <div class="stats-holder">
            <%= display_stat("#{custom_t(:total_compositions)}") %>
          </div>
          <% if display_stat("#{custom_t(:split_missing)}") || display_stat("#{custom_t(:not_distributed_yet)}") %>
          <div class="stats-holder">
            <span><%= custom_t(".action_required") %></span>
            <%= display_stat("#{custom_t(:split_missing)}") %>
            <%= display_stat("#{custom_t(:not_distributed_yet)}") %>
          </div>
          <% end %>
          <% if display_stat("#{custom_t(:pending)}") || display_stat('Split submitted') || display_stat('Sent for registration') || display_stat('Registered') %>
          <div class="stats-holder">
            <span><%= custom_t(".administered") %></span>
            <%= display_stat("#{custom_t(:pending)}") %>
            <%= display_stat("#{custom_t(:split_submitted)}") %>
            <%= display_stat("#{custom_t(:sent_for_registration)}") %>
            <%= display_stat("#{custom_t(:registered)}") %>
          </div>
          <% end %>
          <% if display_stat("#{custom_t(:not_controlled)}") %>
          <div class="stats-holder">
            <span><%= custom_t(".not_administered") %></span>
            <%= display_stat("#{custom_t(:not_controlled)}") %>
          </div>
          <% end %>
        </section>
        <% end %>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="sidebar three columns">
      <section class="filter">
        <header>
          <h3><%= custom_t(:filter) %></h3>
        </header>
        <%= form_tag compositions_path, :method => "get", :class => "filter_form" do %>
          <%= hidden_field_tag :search, params[:search] if params[:search] %>
          <%= hidden_field_tag :per_page, params[:per_page] if params[:per_page] %>
          <div class="status collapsible">
            <h4><a href="#" class="toggle-button"><%= custom_t(:status) %></a></h4>
            <div class="list">
              <span class="toggle-select"><a href="#" class="select_all"><%= custom_t(:select_all) %></a> | <a href="#" class="deselect_all"><%= custom_t(:deselect_all) %></a></span>
              <ul class="status-list">
                <% @statuses.each do |status, state| %>
                  <li><label><input type="checkbox" name="status[]" id="<%= state %>" value="<%= state %>" <%= params[:status].include?(state) ? "checked" : "" if params[:status] %>> <%= status %> (<%= display_stat_count(status).first %>)</label></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="split collapsible">
            <h4><a href="#" class="toggle-button"><%= custom_t(:split) %></a></h4>
            <div class="list">
              <span class="toggle-select"><a href="#" class="select_all"><%= custom_t(:select_all) %></a> | <a href="#" class="deselect_all"><%= custom_t(:deselect_all) %></a></span>
              <ul class="split-list">
                <% @splits.each do |percent, count| %>
                  <li><label><input type="checkbox" name="split[]" id="<%= percent %>_percent" value="<%= percent %>" <%= params[:split].include?(percent) ? "checked" : "" if params[:split] %>> <%= percent %>% (<%= count %>)</label></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="release collapsible">
            <h4><a href="#" class="toggle-button"><%= custom_t(:appears_on) %></a></h4>
            <div class="list">
              <% unless @singles.empty? %>
                <span class="toggle-select"><%= custom_t(:singles_global) %> &mdash; <a href="#" class="select_all"><%= custom_t(:select_all) %></a> | <a href="#" class="deselect_all"><%= custom_t(:deselect_all) %></a></span>
                <ul class="release-list">
                  <% @singles.each do |album| %>
                    <li><label title="<%= display_name(album) %>"><input type="checkbox" name="release[]" id="single_<%= album.id %>" value="<%= album.id %>" <%= params[:release].include?(album.id.to_s) ? "checked" : "" if params[:release] %>> <%= truncate(display_name(album), :length => 26) %></label></li>
                  <% end %>
                </ul>
              <% end %>

              <% unless @albums.empty? %>
                <span class="toggle-select"><%= custom_t(:albums) %> &mdash; <a href="#" class="select_all"><%= custom_t(:select_all) %></a> | <a href="#" class="deselect_all"><%= custom_t(:deselect_all) %></a></span>
                <ul class="release-list">
                  <% @albums.each do |album| %>
                    <li><label title="<%= display_name(album) %>"><input type="checkbox" name="release[]" id="album_<%= album.id %>" value="<%= album.id %>" <%= params[:release].include?(album.id.to_s) ? 'checked' : '' if params[:release] %>> <%= truncate(display_name(album), :length => 26) %></label></li>
                  <% end %>
                </ul>
              <% end %>

              <% unless @ringtones.empty? %>
                <span class="toggle-select"><%= custom_t(:ringtones_global) %> &mdash; <a href="#" class="select_all"><%= custom_t(:select_all) %></a> | <a href="#" class="deselect_all"><%= custom_t(:deselect_all) %></a></span>
                <ul class="release-list">
                  <% @ringtones.each do |album| %>
                    <li><label title="<%= display_name(album) %>"><input type="checkbox" name="release[]" id="ringtone_<%= album.id %>" value="<%= album.id %>" <%= params[:release].include?(album.id.to_s) ? "checked" : "" if params[:release] %>> <%= truncate(display_name(album), :length => 26) %></label></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
          <fieldset class="filter-buttons">
            <input type="submit" name="submit" class="button-callout-alt" value="<%= custom_t(:apply) %>">
            <input type="reset" name="reset" class="button-interface" value="<%= custom_t(:reset) %>">
          </fieldset>
        <% end %>
      </section>
      <section class="notifications">
        <div class="notify">
          <p><%= custom_t(".we_register_your_compositions_in_60_places") %></p>
        </div>
        <div class="notify">
          <p><%= custom_t(".need_to_register_songs") %></p>
          <p><%= link_to custom_t(:getting_started), ntc_bandaid_url, target: "_blank", class: "button-callout-alt"  %></p>
        </div>
      </section>
    </div>

    <section class="compositions nine columns">
      <div class="compositions-table">
        <header class="table-search">
          <form action="<%= paginate_compositions_path %>" class="search_form">
            <% if params[:status] %>
              <% params[:status].each do |status| %>
                <%= hidden_field_tag "status[]", status %>
              <% end %>
            <% end %>
            <% if params[:split] %>
              <% params[:split].each do |split| %>
                <%= hidden_field_tag "split[]", split %>
              <% end %>
            <% end %>
            <% if params[:release] %>
              <% params[:release].each do |release| %>
                <%= hidden_field_tag "release[]", release %>
              <% end %>
            <% end %>
            <%= hidden_field_tag :per_page, params[:per_page] if params[:per_page] %>
            <label for="search"><%= custom_t(".search_within") %></label> <input type="search" id="search" name="search" size="75" value="<%= params[:search] %>">
            <a href="#" class="clear_btn button-interface"><%= custom_t(:clear) %></a>
            <input type="submit" name="submit" class="button-callout-alt" id="search_btn" value="Search">
          </form>
        </header>
        <div class="table-container">
          <%= render :partial => "compositions", :locals => { :compositions_paginated => @compositions } %>
        </div>
      </div>
    </section>

    <%= render :partial => "pros", :locals => { :composer => @composer } %>
  </div>
</div>
