<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/composition.css" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/compositions.js" %>
<% end %>

<div class="content">
  <header>
    <div class="row">
      <div class="twelve columns">
        <section class="breadcrumbs">
          <a href="<%= compositions_path %>"><%= custom_t(".composition_manager") %></a>
          <span class="active"><%= custom_t(".resolve_disputes") %></span>
        </section>
        <section class="page_title">
          <h1><%= custom_t(".resolve_disputes") %></h1>
        </section>
        <section class="page_description divider">
          <p><%= custom_t(".have_a_despute_dont_panic") %></p>
        </section>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="sidebar four columns">
      <section class="disputes_list">
        <header>
          <h3><%= custom_t(".current_disputes") %></h3>
        </header>
        <ul>
          <% @disputes.each do |c| %>
            <li><%= custom_t(".dispute_by_user", {
              dispute: c.name,
              user: current_user.name
            }) %></li>
          <% end %>
        </ul>
      </section>
    </div>
    <section class="eight columns">
      <header>
        <h3><%= custom_t(".contact_us") %></h3>
      </header>
      <%= form_tag({:action => :send_disputes}, :class => "contact_us") do %>
        <% @disputes.each do |c| %>
          <input type="hidden" name="disputes[compositions][][name]" value="<%= c.name %>">
          <input type="hidden" name="disputes[compositions][][code]" value="<%= c.muma_songs.first.code %>">
        <% end %>
        <input type="hidden" name="disputes[composer][name]" value="<%= current_user.composers.first.name %>">
        <input type="hidden" name="disputes[composer][id]" value="<%= current_user.composers.first.id %>">
        <fieldset>
          <label for="email"><%= custom_t(".your_email") %></label>
          <input type="email" name="disputes[email]" class="form-text">
        </fieldset>
        <fieldset>
          <label for="phone"><%= custom_t(".your_phone_number") %></label>
          <input type="tel" name="disputes[phone]" class="form-text">
        </fieldset>
        <fieldset>
          <label for="message"><%= custom_t(".your_message") %></label>
          <textarea name="disputes[message]" class="form-text"></textarea>
        </fieldset>
        <fieldset class="buttons">
          <input type="submit" name="submit" class="button-callout-alt" value="Send">
          <a href="/publishing_administration/composers" class="button-interface"><%= custom_t(:cancel) %></a>
        </fieldset>
      <% end %>
    </section>
  </div>
</div>
