// Split Presets

.split-presets {
  .split-preset {
    position: relative;
    display: flex;
    margin-bottom: 1em;
    font-size: 1rem;
    padding-bottom: 1em;
    border-bottom: 1px solid $border-gray;

    @include for-tablet-up {
      border: 1px solid $border-gray;
      padding: 1em;
    }
  }

  .split-preset-album-images {
    height: 8em;
    width: 8em;
    margin: 0 1.5em 0 0;
    position: relative;
    display: none;
    flex: 0 0 auto;

    @include for-tablet-up {
      display: block;
    }

    &[data-album-count] > img {
      position: absolute;
      top: 0;
      left: 0;
      height: 8em;
      width: 8em;
    }

    $y: 6px;
    $x: 12px;

    &[data-album-count="0"] {
      background-color: #c9c9c9;
    }

    &[data-album-count="1"] {
      > img {
        // no need to transform when only 1 image.
      }
    }

    &[data-album-count="2"] {
      > img:nth-child(1) {
        transform: scale(97%) translate(#{$x * 0.5}, #{$y * 0.5});
      }

      > img:nth-child(2) {
        transform: scale(97%) translate(#{-$x * 0.5}, #{-$y * 0.5});
      }
    }

    &[data-album-count="3"] {
      > img:nth-child(1) {
        transform: scale(94%) translate(#{$x}, #{$y});
      }

      > img:nth-child(2) {
        transform: scale(94%);
      }

      > img:nth-child(3) {
        transform: scale(94%) translate(#{-$x}, #{-$y});
      }
    }

    &[data-album-count="4"] {
      > img:nth-child(1) {
        transform: scale(91%) translate(#{$x * 1.5}, #{$y * 1.5});
      }

      > img:nth-child(2) {
        transform: scale(91%) translate(#{$x * 0.5}, #{$y * 0.5});
      }

      > img:nth-child(3) {
        transform: scale(91%) translate(#{-$x * 0.5}, #{-$y * 0.5});
      }

      > img:nth-child(4) {
        transform: scale(91%) translate(#{-$x * 1.5}, #{-$y * 1.5});
      }
    }
  }

  .split-preset-info {
    flex: 1 1 auto;
    width: 100%;
    overflow: hidden;

    > p {
      overflow: hidden;
    }
  }

  .split-title {
    display: inline-block;
  }

  a.split-destroy {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2em 0.6em;
    cursor: pointer;
    line-height: 1;
    color: var(--dm-primary-font-color);
    max-width: 44%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;

    &:hover {
      text-decoration: underline;
    }

    .edit-split-album & {
      display: none;
    }
  }

  .split-recipients {
    display: flex;
    flex-direction: column;
  }

  .split-recipient {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #ccc;

    @include for-tablet-up {
      max-width: 22em;
    }
  }

  .split-recipient-email {
    padding: 0 0 0 0.8em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include for-tablet-up {
      padding: 0 0.8em;
    }
  }
}
