@import "./shared";

@mixin large-text-input {
  display: block;
  color: var(--dm-primary-font-color);
  border: 1.5px solid #808080;
  border-radius: 5px;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0.1em 0.5em;
  margin: 0;
  max-width: 20em;
  flex: 1 1 auto;
  font-weight: 500;
}

.royalty-split-new .edit-recipients-form-section {
  padding-top: 5em;
}

.edit-recipients-form-section {
  font-size: 12px;
  padding: 1em;
  @include for-tablet-up {
    font-size: 16px;
  }

  .royalty-split-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    .royalty-split-title-input {
      font-size: 1em;
      @include large-text-input;
      width: 25em;
      max-width: 100%;
    }
  }

  .edit-description {
    font-size: 2em;
    text-align: center;
    margin: 1em;
  }
}

.add-recipient-section {
  font-size: 1em;
  margin: 2em auto;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .recipients-form-buttons {
    width: 100%;
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;

    .edit-recipients-form-section.submitting {
      pointer-events: none;
      opacity: 0.7;
    }
  }

  .button-enable-split {
    margin: 1em 0;
  }

  input.add-recipient-email {
    @include large-text-input;
    height: 2.8em;
    margin-right: 1em;
  }
}

.split-collaborators-section {
  position: relative;
  margin: 0 auto;

  &,
  .split-collaborator {
    font-size: 1em;
    display: grid;
    grid-template-columns: 1fr 8em 2em;

    @include for-tablet-up {
      grid-template-columns: 1fr 10em 2em;
      max-width: 40em;
    }
  }

  .split-collaborator {
    position: relative;
    grid-column: 1 / 4;
    padding-bottom: 0.4em;

    &.destroyed {
      display: none;
    }
  }

  .split-collaborators-header {
    font-weight: 500;
    margin-bottom: 1em;
    line-height: 1.8;
    color: $color_4;
    font-size: 1.1em;
  }

  .form-email {
    display: block;
    color: $color_4;
    height: 2.5em;
    line-height: 2.5em;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .form-header-email {
    display: block;
    border-bottom: 1px solid #979797;
  }

  .form-percent {
    display: block;
    display: flex;
    font-weight: bold;
    height: 2.5em;
    line-height: 2.5em;
    color: $color_4;

    > input {
      display: block;
      color: var(--dm-primary-font-color);
      border: 1.5px solid #808080;
      border-radius: 5px;
      height: 2.5em;
      line-height: 2.5em;
      padding: 0.1em 0.5em;
      margin: 0;
      max-width: 20em;
      flex: 1 1 auto;
      font-weight: 500;

      &:invalid {
        border-color: $border-color_1;
      }
    }

    &::after {
      content: "%";
      flex: 1 1 auto;
      padding-left: 1em;
      font-weight: bold;
      color: $color_4;
    }
  }

  .form-header-percent {
    display: block;
    border-bottom: 1px solid #979797;
  }

  .form-row-error.split-collaborator {
    .form-percent {
      > input {
        border-color: $border-color_1;
      }
    }
  }

  .form-row-remove {
    width: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    > a {
      display: block;
      cursor: pointer;
      font-size: 1.5em;
      color: #E40101;
      height: 0.9em;
      width: 0.9em;
      line-height: 0.6em;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .form-header-row-remove {
    width: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .split-collaborator.current-user {
    opacity: 0.6;

    .form-email {
      font-style: italic;
    }

    .form-percent {
      pointer-events: none;
    }

    .form-row-remove {
      pointer-events: none;
      visibility: hidden;
    }
  }
}

.royalty-splits-index {
  font-size: 1.2em;

  h1 {
    font-size: 2em;
  }

  .splits {
    border: thin solid #222;
    margin: 2em 0;
    padding: 1em;

    > .split {
      padding: 1em;
      border-bottom: thin solid #222;
    }
  }

  btn.create-new-split {
    font-size: 1em;
  }
}

.split-recipients {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 0.5em;
}

.split-recipient-percent {
  text-align: right;
}

.split-recipient-name {
  text-align: left;
}

.release-songs {
  display: flex;
  padding: 1em 1em 0;
  font-style: italic;
  flex-direction: column;
  align-items: flex-start;

  .release-song {
    background: #f3f3f3;
    border: 1px solid $border-gray;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 0.5em 0.7em;
    margin-bottom: 1em;
    min-width: 100%;

    @include for-tablet-up {
      min-width: 16em;
      margin-left: 4em;
      font-size: 1em;
    }
  }

  .release-song-artist {
    padding-left: 1em;
  }

  .release-song-isrc {
    padding-left: 1em;
  }
}
