@import "./shared";
@import "./split_presets";

// Release page
.roundy-royalty-splits {
  .empty-text {
    padding: 1em;
    font-size: 1.8em;
  }

  .edit-album-split-button-container {
    padding: 0 1em 1em;
    text-align: center;
    display: flex;
  }

  .edit-album-split-button {
    margin: 0 auto;
    font-size: 0.8rem;
  }

  .album-splits-section {
    padding: 0.5em;
  }
}
