@import "./shared";

.splits-popup-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40em;
  margin: 0 auto;
  border-radius: 4px;
  line-height: 1.3;
  .mfp-close {
    color: #D1D1D1;
  }
  font-size: 8px;
  @include for-tablet-up {
    font-size: 11px;
  }
}
.splits-popup-outer .splits-popup {
  background: #282828;
  border-radius: 1em;
  color: white;
  text-align: center;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    padding-bottom: 1em;
    font-size: 2em !important;
  }
}
.splits-popup-outer .splits-popup .splits-popup-text {
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 1em;
}
.splits-popup-outer .splits-popup .splits-popup-link {
  display: flex;
  color: #fcda00;
  font-size: 1.7em;
  line-height: 2.4em;
  border: 2px solid #fcda00;
  border-radius: 1.5em;
  height: 2.4em;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  text-decoration: none;
}
.splits-popup-outer .splits-popup .splits-popup-link > span {
  text-transform: uppercase;
  font-weight: bold;
}
.splits-popup-outer .splits-popup .splits-popup-link .record {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.6em;
}
.splits-popup-outer .splits-popup .splits-popup-link:hover {
  background: #fcda00;
  border-color: #fcda00;
  color: black;
  cursor: pointer;
}
.splits-popup-outer .splits-popup .splits-popup-link svg .record-path {
  fill: #fcda00;
}
.splits-popup-outer .splits-popup .splits-popup-link:hover svg .record-path {
  fill: black;
}
