@import "./shared";
@import "./split_presets";
@import "dark_mode/base";

.royalty-split {
  .reskin-btn.secondary-btn {
    @include dm-secondary-btn;
  }
  .reskin-btn.callout-btn {
    @include dm-gradient-btn;
  }
  .release-info {
    h3, dd, dt {
      color: inherit;
    }
  }
}

.splits-header {
  padding: 1em 0;
  .header-title-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    h1 {
      font-size: 2em;
      line-height: 2em;
    }
    .back-link {
      display: block;
      text-transform: uppercase;
    }
  }
  .header-menu-links {
    line-height: 2.4;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: thin solid rgba(255,255,255,0.2);
    margin-bottom: 1em;
    @include for-tablet-up {
      justify-content: flex-start;
    }
    a.header-menu-link {
      display: block;
      text-decoration: none;
      font-weight: bold;
      color: var(--dm-primary-font-color);
      @include for-tablet-up {
        margin-right: 2em;
      }
      &.active {
        color: var(--plan-color-1);
      }
    }
  }
}

.royalty-split {
  .split-tab-body {
    @include for-tablet-up {
      outline: 1px solid $border-gray;
    }

    margin-bottom: 4em;
  }

  // for index and accepted pages
  .split-tab-body-directions {
    color: $description-font-color;
    font-size: 1.8em;
    text-align: center;

    @include for-tablet-up {
      padding: 2.5em calc(3.5em / 1.8) 0.85em;
      text-align: initial;
    }
  }

  // for edit page
  .split-tab-body-description {
    color: $description-font-color;
    padding: 3em 1em 1em;

    @include for-tablet-up {
      padding: 4em 4.5em 1em;
    }

    .split-explanation {
      font-size: 1.8em;
      padding-bottom: 1em;
    }
  }

  .callout.alert {
    background: #ff6d6d;
    font-size: 1em;
    margin: 1em auto;
    padding: 1.4em 2.5em;
    border-radius: 2px;

    ul {
      list-style: none;
      padding: 0;
    }
  }

  .list .discography-release {
    border: none;
  }

  .list.album-list-item {
    padding-bottom: 0;
  }

  .splits-w9-banner {
    background: var(--plan-color-2);
    color: var(--dm-primary-font-color);
    font-size: 1rem;
    padding: 2em;
    margin-bottom: 2em;
    .w9-banner-buttons {
      position: relative;
    }
    .w9-banner-button {
      @include dm-secondary-btn;
      // margin: 1em 0;
    }
  }
}

.split-tracks-container {
  .split-tracks-directions {
    font-size: 1.8em;
    max-width: 100%;
    margin: 0 auto;
    line-height: 1.4;
    @include for-tablet-up {
      padding: 0.9em 1.6em;
    }
  }

  .split-presets {
    @include for-tablet-up {
      padding: 1.5em;
    }
  }

  .split-tracks-form-container {
    @include for-tablet-up {
      padding: 0 30px;
    }
  }

  h3.split-tracks-section-header {
    padding-top: 0.5em;
    font-size: 1.9em;
    margin-bottom: 0.3em;
  }

  .split-tracks-form-album-and-tracks {
    max-width: 84em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 1.6em;
      margin-bottom: 0.3em;
    }
  }

  .split-tracks-form-row {
    display: flex;
    flex-direction: row;
    max-width: 20em;
    justify-content: space-between;

    &.row-split-tracks {
      margin-top: 4em;
    }

    &.row-choose-tracks {
      padding: 1em 0;
      max-width: 100%;
      font-size: 1.4em;
    }
  }

  .split-tracks-form-label {
    font-size: 1.8em;
    text-align: left;
    user-select: none;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
  }

  .split-tracks-form-checkbox {
    height: 2em;
    width: 2em;
    cursor: pointer;
    color: var(--plan-color-1);
    font-size: 2em;
    &::before {
      content: '\f0c8';
    }
  }

  .split-album.all-tracks-selected .split-tracks-form-checkbox {
    &::before {
      content: '\f14a'
    }
  }

  .split-tracks-form-tracks {
    border: 1px solid $border-gray;
    border-bottom: none;
    width: 100%;
  }

  .split-tracks-form-track {
    border-bottom: 1px solid $border-gray;
    display: flex;
    line-height: 1.2em;
    cursor: pointer;

    .track-number {
      background: var(--plan-color-1);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5em;
      min-height: 5em;
      min-width: 2em;
    }

    .track-attributes-and-split {
      display: flex;
      flex-direction: column;
      width: 100%;

      @include for-tablet-up {
        flex-direction: row;
      }
    }

    .track-attributes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.8em;
      user-select: none;
      max-width: 100%;
      white-space: nowrap;

      @include for-tablet-up {
        min-width: 20em;
        border-right: 1px solid #dcdcdc;
      }

      .track-code {
        font-size: 0.8em;
        padding-top: 0.2em;
      }

      .track-title {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .track-artist {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .track-split {
      padding: 0.8em;
      flex: 1 0 auto;
      position: relative;
      border-top: 1px solid #dcdcdc;

      @include for-tablet-up {
        border-top: none;
      }

      b {
        font-weight: bold;
      }

      > a[data-delete-royalty-split-song-id] {
        display: block;
        font-style: normal;
        font-size: 1em;
        float: right;
        position: absolute;
        top: 0;
        right: 0.2em;

        > i.fa {
          font-size: 1.3em;
          line-height: 1;
          color: var(--dm-primary-font-color);
        }

        &:hover {
          opacity: 0.8;
        }
      }

      > a:hover {
        text-decoration: underline;
      }
    }

    .track-recipients {
      columns: 2;
      margin-top: 0.1em;

      .track-recipient {
        border-bottom: 1px dashed #bbb;
        display: flex;
        justify-content: space-between;
        text-align: left;
        border-bottom: 1px dashed #dcdcdc;

        &.and-more-text {
          border: none;
        }

        .track-recipient-name {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        em {
          font-style: normal;
        }
      }
    }

    &.selected {
      background: #444;

      .track-number {
        opacity: 0.6;
      }
    }
  }

  .split-tracks-form-buttons {
    padding: 1em 0;
    text-align: center;
    font-size: 1.3em;

    .split-tracks-form-submit {
      @include dm-secondary-btn;
      display: block;
      background: #888;
      margin: 1em auto;
      &:hover {
        filter: none;
      }

      body.can-submit-royalty-splits-albums-form & {
        @include dm-gradient-btn;
      }

      body:not(.can-submit-royalty-splits-albums-form) & {
        &:hover {
          box-shadow: none;
        }
      }
    }
  
    .split-tracks-form-buttons-back {
      display: block;
    }

    .split-tracks-form-back {
      display: block;
      margin: 1em auto;
    }
  }
}

.album-splits-section {
  padding: 1em;
  
  .album-splits-split-presets .split-preset {
    border: 0;
  }

  .album-splits-actions {
    padding-bottom: 4em;
  }
}

/* Index */
.royalty-split.royalty-splits-index,
.royalty-split.royalty-splits-invited {
  .splits-index-directions {
    color: $description-font-color;
    font-size: 1.7em;
    padding: 1em calc(1.5em / 1.7) 0.5em;

    @include for-tablet-up {
      padding: 2.5em calc(3.5em / 1.7) 0.85em;
    }
  }

  .split-presets {
    padding: 1em 0;

    @include for-tablet-up {
      padding: 1em 4.7em;
    }
  }

  .splits-index-empty {
    padding: 1.5em 1em 3em;
    text-align: center;
    font-size: 1.6em;
  }
}

.split-tracks-separator-container {
  padding: 1em 3.5em;

  .split-tracks-separator {
    border: none;
    border-top: 1px solid $border-gray;
    margin: 0;
  }
}

/* albums page */
.edit-split-album {
  .callout-container {
    padding: 0 4em;
    width: 100%;

    .callout {
      font-size: 1.6em;
      margin: 1em auto;
      padding: 1.4em 2.5em;
      border-radius: 2px;

      &.success {
        background: #ffff6d;
      }

      &.alert {
        background: #ff6d6d;
      }

      ul {
        list-style: none;
        padding: 0;
      }
    }
  }
}

.select-split-container {
  select.select-royalty-split {
    font-size: 2em;
    max-width: 100%;
  }

  .split-preset {
    display: none !important;
    padding: 1em;

    &.show {
      display: flex !important;
    }
  }
}

.royalty-splits-invited {
  .split-accept-all {
    @include dm-gradient-btn;
    font-size: 0.8rem;
    display: block;
    margin: 1.5em auto 3em auto;

    @include for-tablet-up {
      margin: 1.5em 0 0 0;
    }

    &.disabled {
      @include dm-secondary-btn;
      opacity: 0.5;
      pointer-events: none;
      font-size: 0.8rem;
    }
  }
  .split-presets {
    position: relative;
    overflow: hidden;
  }
  .split-preset {
    position: relative;
    overflow: hidden;
    // to make jQuery animation work smoothly....
    height: 8em;
    box-sizing: content-box;
  }
  .split-status {
    float: right;
    font-style: italic;
  }
  .split-accept-split {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 0.8rem;
    > .button {
      @include dm-secondary-btn;
    }
  }
  .invited-split-toggles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1.5em;

    @include for-tablet-up {
      justify-content: flex-start;
    }

    .toggle-accepted-invited-splits,
    .toggle-pending-invited-splits {
      @include dm-secondary-btn;
      margin-right: 10px;
      margin-bottom: 4px;
      display: block;
    }
    .toggle-pending-invited-splits {
      body.pending-royalty-splits-only & {
        @include dm-gradient-btn;
      }
    }
    .toggle-accepted-invited-splits {
      body.accepted-royalty-splits-only & {
        @include dm-gradient-btn;
      }
    }
  }
}
