<%= stylesheet_link_tag wicked_pdf_asset_base64 "credit_note_invoices/refund_tables/believe_inbound" %>

<div class="inner-wrapper">
  <table class="product-details">
    <thead>
      <tr>
        <th rowspan="2"><%= custom_t("invoices.pdf.invoice_items") %></th>
        <th colspan="2"><%= custom_t("invoices.pdf.original_amount") %></th>
        <% if @refund_presenter.show_vat_converted_to_euro? %>
          <th rowspan="2"><%= custom_t("invoices.pdf.rate_eur") %></th>
          <% colspan_num = 3 %>
        <% end %>
        <th rowspan="2" colspan="3" class="w-160"><%= custom_t("credit_note_invoices.refund_amount") %> (<%= refund_details[:currency] %>)</th>
      </tr>
      <tr>
        <th class="no-border"><%= custom_t("invoices.pdf.amount") %></th>
        <th><%= custom_t("invoices.pdf.currency") %></th>
      </tr>
    </thead>
    <tbody>

      <tr class="invoice-list-item">
        <td>
          <%= %(#{custom_t("credit_note_invoices.credit_for_invoice")} #{refund_details[:refunded_invoice_number]}) %></br>
          <%= %(#{custom_t("invoices.pdf.invoice_date")} #{refund_details[:refunded_invoice_date]}) %>
        </td>
        <td><%= refund_details[:base_amount] %></td>
        <td><%= refund_details[:currency] %></td>

        <% if @refund_presenter.show_vat_converted_to_euro? %>
          <td><%= custom_t("invoices.pdf.rate") %>: <%= euro_exchange_rate %></td>
        <% end %>

        <td colspan="3" class="invoice-amount"><%= refund_details[:total_amount] %></td>
      </tr>

      <% if @refund_presenter.show_admin_note? %>
        <tr>
          <td colspan="3" class="admin-note">
            <%= custom_t("credit_note_invoices.admin_note") %>: <%= refund_details[:admin_note] %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan="<%= colspan_num %>"></td>
        <td><%= custom_t("invoices.pdf.total_excl_taxes") %></td>
        <td colspan="2" class="tax-amount" id="invoice-total-excl-taxes"><b>
            <%= refund_details[:base_amount] %></b>
        </td>
        <td class="tax-currency"><%= refund_details[:currency] %></td>
      </tr>

      <tr class="bgd-white">
        <td colspan="<%= colspan_num %>"></td>
        <td colspan="4" class="bgd-grey"></td>
      </tr>
      <% if @refund_presenter.show_applied_tax_info?%>
        <tr>
          <td colspan="<%= colspan_num %>"></td>
          <td class="vat-rate">
            <%= refund_details[:tax_type]%>(<%= refund_details[:tax_rate] %>)<br/>
            <%= static_corporate_entity[:country]&.capitalize %><br/>
          </td>
          <td colspan="2" class="tax-amount"><b><%= refund_details[:tax_amount] %></b> </td>
          <td class="tax-currency"><%= refund_details[:currency] %></td>
        </tr>
      <% end %>

      <% if @refund_presenter.show_auto_liquidation_message? %>
        <tr>
          <td colspan="<%= colspan_num %>"></td>
          <td colspan="4">
            <%= custom_t("invoices.pdf.autoliquidation") %>
          </td>
        </tr>
      <% end %>
      <% if @refund_presenter.show_vat_converted_to_euro? %>
        <tr>
          <td colspan="<%= colspan_num %>"></td>
          <td>
            <b>(<%= custom_t("invoices.pdf.vat_to_euro") %></b>
          </td>
          <td colspan="2" class="tax-amount">
            <b><%= refund_details[:vat_amount_in_euro] %></b>
          </td>
          <td class="tax-currency"><%= CurrencyCodeType::EUR %>)</td>
        </tr>
      <% end %>

      <tr class="bgd-grey">
        <td colspan="<%= colspan_num %>" class="bgd-white no-border"></td>
        <td class="no-border"><%= custom_t("invoices.pdf.total_incl_taxes") %></td>
        <td colspan="2" class="tax-amount no-border" id="invoice-total-incl-taxes"><b>
            <%= refund_details[:total_amount] %></b>
        </td>
        <td class="no-border tax-currency"><%= refund_details[:currency] %></td>
      </tr>

      <tr></tr>

      <tr class="bgd-grey bold">
        <td colspan="<%= colspan_num %>" class="bgd-white no-border"></td>
        <td class="no-border">
          <%= custom_t("credit_note_invoices.total_refunds") %>
        </td>
        <td colspan="2" class="tax-amount no-border" id="invoice-net-payable-amount">
          (<%= refund_details[:total_amount] %>
        </td>
        <td class="tax-currency">
          <%= refund_details[:currency] %>)
        </td>
      </tr>

      <tr></tr>

      <% if @refund_presenter.show_eu_directive? %>
        <tr>
          <td></td>
          <td colspan=<%= colspan_num + 5 %> class="no-padding bgd-white">
            <div class="eu-directive">
              <%= custom_t("invoices.pdf.eu_directive_line1") %><br/>
              <%= custom_t("invoices.pdf.eu_directive_line2") %>
            </div>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>

  <%= render partial: "credit_note_invoices/refund_tables/partials/settlements",
              locals: {
                settlements: @refund_presenter.settlements,
                currency: refund_details[:currency]
              } %>
</div>
