<%= stylesheet_link_tag wicked_pdf_asset_base64 "credit_note_invoices/refund_tables/tunecore" %>

<div class="inner-wrapper">
  <table class="product-details">
    <thead>
      <tr>
        <th rowspan="2"><%= custom_t("invoices.pdf.products") %></th>
        <th colspan="2"><%= custom_t("invoices.pdf.original_amount") %></th>
        <th rowspan="2"><%= custom_t("credit_note_invoices.refund_amount") %> (<%= refund_details[:currency] %>)</th>
      </tr>

      <tr>
        <th class="no-border"><%= custom_t("invoices.pdf.amount") %></th>
        <th><%= custom_t("invoices.pdf.currency") %></th>
      </tr>
    </thead>

    <tbody>
      <tr class="list-item">
        <td>
          <%= %(#{custom_t("credit_note_invoices.credit_for_invoice")} #{refund_details[:refunded_invoice_number]}) %>
          <br/>
          <%= %(#{custom_t("invoices.pdf.invoice_date")} #{refund_details[:refunded_invoice_date]}) %>
        </td>
        <td><%= refund_details[:base_amount] %></td>
        <td><%= refund_details[:currency] %></td>
        <td class="invoice-amount"><%= refund_details[:total_amount] %></td>
      </tr>

      <% if @refund_presenter.show_admin_note? %>
        <tr>
          <td colspan="2" class="admin-note bgd-white">
            <%= custom_t("credit_note_invoices.admin_note") %>: <%= refund_details[:admin_note] %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan="2" class="bgd-white"></td>
        <td><%= custom_t("invoices.pdf.sub_total") %></td>
        <td colspan="3" class="refund-amount"><b><%= refund_details[:base_amount] %></b> <%= refund_details[:currency] %></td>
      </tr>
      <tr>
        <td colspan="2" class="bgd-white"></td>
        <td><%= custom_t("credit_note_invoices.total_refunds") %></td>
        <td colspan="3" class="refund-amount">(<b><%= refund_details[:total_amount]%></b> <%= refund_details[:currency] %>)</td>
      </tr>
    </tbody>
  </table>
  <%= render partial: "credit_note_invoices/refund_tables/partials/settlements",
            locals: {
              settlements: @refund_presenter.settlements,
              currency: refund_details[:currency]
            } %>
</div>
