<%= content_for :greeting do %>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" width="640" style="padding: 10px;">
        <p><%= custom_t(".greeting", name: @person.name) %></p>
      </td>
    </tr>
  </table>
<% end %>

<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <p><%= custom_t(".update_or_else", date: I18n.l(@tax_token_cohort.end_date.to_date, format: :long_day_with_date)) %></p>
      <p><%= custom_t(".how_to_update") %></p>
      <p><%= custom_t(".more_information", faq_link: link_to(custom_t('.faq'), custom_t('.faq_link_to')) )%></p>
    </td>
  </tr>
</table>

<%= content_for :signature do %>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" width="640" style="padding: 10px;">
        <p><%= custom_t(".thank_you") %></p>
        <p><%= custom_t(".sincerely") %></p>
        <p><%= custom_t(".admin_name") %></p>
        <p><%= custom_t(".admin_title") %></p>
      </td>
    </tr>
  </table>
<% end %>
