<div class="direct-advance-reports">
  <h1><%= custom_t("admin.direct_advance.qualifying_history") %></h1>

  <table>
    <tr>
      <th><%= custom_t("admin.direct_advance.date") %></th>
      <th><%= custom_t("admin.direct_advance.yes_no") %></th>
      <% (1...@report.latest_report[:earnings].count).each do |n| %>
        <th><%= n %></th>
      <% end %>
      <th>
        <%= custom_t("admin.direct_advance.previous_earnings") %>
      </th>
    </tr>

    <% @report.historical_reports.each do |report| %>
    <tr>
      <td><%= report[:report_run_on].strftime("%m-%d-%y") %></td>
      <td><%= report[:eligible] ? "YES" : "NO" %></td>

      <% report[:earnings].each do |period_name, period_start_date, amount| %>
        <td><%= sprintf('%.2f', amount) %></td>
      <% end %>

    </tr>
    <% end %>

  </table>
</div>
