<div class="direct-advance-reports">
  <h1>
    <%= custom_t("admin.direct_advance.current_month_history", months: @report.latest_report[:earnings].count - 1) %>
  </h1>
  <table>
    <tr>
      <% latest_report_month_earnings.each do |_period_name, period_start_date, _amount| %>
        <th><%= period_start_date.strftime("%-m-%d") %><br><%= period_start_date.strftime("%Y") %></th>
      <% end %>
      <th>
        <%= custom_t("admin.direct_advance.previous_earnings") %>
      </th>
    </tr>
    <tr>
      <% @report.latest_report[:earnings].each do |_period_name, _period_start_date, amount| %>
        <td><%= sprintf('%.2f', amount) %></td>
      <% end %>
    </tr>
  </table>
</div>
