<div class="direct-advance-person">
  <div class="user-details">
    <% if @report.person %>
      <p class="person-name"><%= @report.person.name %></p>
      <br>
      <p><%= custom_t("admin.direct_advance.id", id: @report.person.id) %></p>
      <p><%= custom_t("admin.direct_advance.email", email: @report.person.email) %></p>
      <% if report_person_suspicious? %>
        <p class="suspicious"><%= custom_t("admin.direct_advance.suspicious") %></p>
      <% end %>
    <% else %>
      <p><%= custom_t("admin.direct_advance.no_user", query: @report.query) %></p>
    <% end %>
  </div>

  <% if @report.latest_report %>
    <div class="eligibility-box">
      <div class="eligible-label">
        <p><%= custom_t("admin.direct_advance.eligible_question") %></p>
      </div>
      <% if CashAdvanceRegistrationService.new(@report.person).advance_display == :advance %>
        <div class="eligible">
          <p><%= custom_t("admin.direct_advance.eligible_yes") %></p>
        </div>
        <% if CashAdvanceRegistrationService.new(@report.person).user_needed_override? %>
          <%= link_to "<button class='eligibility-button'> Mark Ineligible </button>".html_safe,
                    admin_direct_advance_path(@report.person), method: "patch" %>
        <% end %>
      <% else %>
        <div class="ineligible">
          <p><%= custom_t("admin.direct_advance.eligible_no") %></p>
        </div>
          <%= link_to "<button class='eligibility-button'> Mark Eligible </button>".html_safe,
                      admin_direct_advance_path(@report.person), method: "patch" %>
      <% end %>
    </div>
  <% end %>
</div>
