<div class="direct-advance-search">
  <%= form_for :tcda_reports_search, url: admin_direct_advance_index_path, method: :get do |f| %>
    <%= f.text_field :id_or_email, label: "Search by Person ID or Email" %>
    <%= f.submit 'Search' %>
  <% end %>
</div>
