<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/direct_advance.css" %>
<% end %>


<h2>TuneCore Direct Advance Qualification</h2>
<%= render 'search' %>

<% if @report %>
  <%= render 'person_details' %>

  <% if @report.latest_report %>
    <%= render 'latest_report' %>
    <%= render 'historical_reports' %>
  <% elsif @report.person %>
    <p class="direct-advance-no-reports">No reports exist for this user.</p>
    <p>This user has not met the minimum qualifications to even be potentially eligible based on earnings.</p>
    <p>Therefore, they are not eligible for Direct Advance at this time.</p>
  <% end %>

<% end %>
