<%= error_messages_for @song %>

<% if flash[:notice].present? %>
  <div id="goodErrorExplanation">
    <span>
      <%= flash[:notice] %>
      <%= link_to custom_t(:close), "#", :class => "close-lightbox" %>
    <span>
  </div>
<% end %>

<span class="number"></span>
<%= render partial: "form", locals:  { album: @album, song: @song } %>
