<%= form_for [album, song], :target => "_parent" do |f| %>
  <%= f.text_field(
    :name,
    :label => "#{custom_t(:song_title)}",
    :class => "form-text trigger-title-preview",
    :tc_required => true,
    :new_form => true,
    :value => (display_name(song) && (split = display_name(song).split("(feat.").first) ) ? split.strip : display_name(song) )%>

  <%= render(
    :partial => "creatives/song_creative_list",
    :locals => {
      :object => song,
      :creatives => song.creatives,
      :album => album
    }
  )%>

  <% if album.is_editable? %>
    <%= f.text_field(
      :optional_isrc,
      label:       "#{custom_t(:isrc)}<br>#{link_to custom_t(:what_does_isrc_mean), knowledgebase_link_for('upc-isrc-get-before-i-upload', country_website), :class => "song-isrc-faq"}",
      class:       "form-text",
      new_form:    true,
      error_label: ""
    )%>
  <% end %>

  <fieldset class="check">
    <ul>
      <%= f.check_box(
        :parental_advisory,
        :label => raw("#{image_tag '/images/explicit.png', style: 'margin-bottom: -4px; margin-right: 5px;'} #{custom_t(:track_has_explicit)} <a href=\"#{knowledgebase_link_for('explicit-track-what-is', country_website)}\" target=\"_blank\">#{custom_t(:read_more)}</a>"),
        :li_class => "checkbox",
        :new_form => true
      )%>
    </ul>

    <ul class="clean-version-checkbox">
      <%= f.check_box(
        :clean_version,
        :label => raw("#{image_tag '/images/clean.png', style: 'margin-bottom: -4px; margin-right: 5px;'} custom_t(:clean_version_of_explicit_track) </b><a href=\"#{knowledgebase_link_for('explicit-track-how-indicate', country_website)}\" target=\"_blank\">#{custom_t(:read_more)}</a>"),
        :li_class => 'checkbox',
        :new_form => true
      )%>
    </ul>
  </fieldset>

  <%= f.hidden_field :track_num %>

  <%= f.submit custom_t(:save), {:li_class => "form-actions", :new_form => true, :class=>"save-button submit"} %>
<% end %>
