<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/beacon.js" %>
  <%= javascript_include_tag "/javascripts/yui_uploader/yui-min.js" %>
  <%= javascript_include_tag "/javascripts/yui_uploader/yahoo-dom-event.js" %>
  <%= javascript_include_tag "/javascripts/yui_uploader/element-min.js" %>
  <%= javascript_include_tag "/javascripts/flowplayer/flowplayer-3.2.4.min.js" %>
  <%= javascript_include_tag "/javascripts/app/creatives.js" %>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <%= javascript_include_tag "/javascripts/swfobject2.2.js" %>
  <%= javascript_include_tag "/javascripts/beacon.js" %>
  <%= javascript_include_tag "/javascripts/app/album.js" %>
  <%= javascript_include_tag "/javascripts/app/song_album_bigbox.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.autogrow.js" %>
  <%= javascript_include_tag "/javascripts/plugins/tc.styleguide.js" %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/bigbox.css" %>
<% end %>

<section>
  <div id="tc_pid" style="display: none;" tc_pid="<%= @sso_cookie_value %>"></div>
  <div id="person_id" style="display: none;" person_id="<%= album.person_id %>"></div>
  <div id="upload_url" style="display: none;" upload_url="<%= @uploadURL %>"></div>
  <div id="register_url" style="display: none;" register_url="<%= @registerURL %>"></div>
  <div id="assets_url" style="display: none;" assets_url="<%= @assetsURL %>"></div>
  <div id="tunecore_id" style="display: none;" tunecore_id="<%= cookies[:tunecore_id] %>"></div>
  <div id="env" style="display: none;" env="<%= Rails.env %>"></div>
  <div id="elb_name" style="display: none;" elb_name="<%= BIGBOX_ELB_NAME %>"></div>
  <div id="error" title="#{custom_t('.there_is_an_error')}" style="display: none;"><%= custom_t(".something_has_gone_wrong") %> <%= link_to("customer support", knowledgebase_link_for('distro-contact-us', country_website)) %></div>
  <div id="action" title="#{custom_t('.taking_action')}" style="display: none;"></div>
  <div id="assets" title="#{custom_t('.apply_a_new_file')}"></div>

  <div id="fixIt" style="display: none; float: left; width: 500px;">
    <div style="clear: both;">
      <h2 style="line-height: 40px;"><%= custom_t(:track) %> <span class="fih_track_number">0</span>: <span class="fih_song_name"><%= custom_t(".song_title") %></span></h2>
    </div>
    <div style="clear: both;">
      <div style="clear: both; font-style: italic;"><span class="fih_orig_filename"><%= custom_t(".file_name") %></span><br /><br /></div>
      <div style="float: left; padding-right: 20px; margin-right: 20px; border-right: 1px dashed #CCCCCC;">
        <strong><%= custom_t(".you_uploaded") %> </strong><br />
        <%= custom_t(:format) %>: <span class="fih_ext">ext</span> <img style="margin-left: 20px;" src="/images/red_check.png" align="right" class="fih_ext_img" /><br />
        <%= custom_t(:sample_rate) %>: <span class="fih_sample_rate"></span>00 khz <img style="margin-left: 20px;" src="/images/red_check.png" align="right" class="fih_sample_rate_img" /><br />
        <%= custom_t(:sample_size) %>: <span class="fih_bit_depth"></span> <img style="margin-left: 20px;" src="/images/red_check.png" align="right" class="fih_bit_depth_img" /><br />
        <span class="isRingtone" style="display: none;"><%= custom_t(:duration) %>: <span class="fih_duration">300</span> <%= custom_t(:seconds) %> <img style="margin-left: 20px;" src="/images/red_check.png" align="right" class="fih_duration_img" /></span>
      </div>
      <div style="float: left;">
        <strong><%= custom_t(".we_need") %></strong><br />
        <%= custom_t(:format) %>: wav<br />
        <%= custom_t(:sample_rate) %>: 44.100 khz<br />
        <%= custom_t(:sample_size) %>: 16<br />
        <span class="isRingtone" style="display: none;"><%= custom_t(:duration) %>: 5 - 30 <%= custom_t(:seconds) %></span>
      </div>
    </div>
    <div style="clear: both;">
      &nbsp;<br />
    <%= custom_t('.if_you_have_itunes_installed') %>:<br /><br />

    <strong><%= custom_t(:step) %> 1:</strong> <%= custom_t('.itunes_step_one') %><br /><br />
    <img src="/images/fixIt1.png" /><br /><br /><br />

    <strong><%= custom_t(:step) %> 2:</strong> <%= custom_t('.itunes_step_two') %> <br /><br />
    <img src="/images/fixIt2.png" /><br /><br /><br />

    <strong><%= custom_t(:step) %> 3:</strong> <%= custom_t('.itunes_step_three') %><br /><br />
    <img src="/images/fixIt3.png" /><br /><br /><br />

    <strong><%= custom_t(:step) %> 4:</strong> <%= custom_t('.itunes_step_four') %><br /><br />
    <img src="/images/fixIt4.png" /><br /><br /><br />

    <strong><%= custom_t(:step) %> 5:</strong> <%= custom_t('.itunes_step_five') %><br /><br />
    </div>
  </div>

  <% if album.album_type == 'Ringtone' %><div id="ringtone_check" style="display: none;"></div><% end %>

  <% unless album.finalized_at %>
      <%= custom_t(".before_upload_description", {url: knowledgebase_link_for('convert-audio-using-itunes', country_website)}) %>
    <% if album.album_type == 'Single' %>
       <%= custom_t(".note") %>
     <% end %>
  <% end %>

  <a name="jumptosuccess"></a>
  <h2 id="songwriter_service_success"><%= custom_t(".congratulations") %></h2>

  <div id="tcSongsGrid">
    <a href="#" id="closeFlowPlayer">X</a>
    <div class="flowplayer_holder">
      <div id="flowplayer" class="flowplayer_single" href="http%3a%2f%2ftcc.tunecore.com.staging.s3.amazonaws.com%2f498507%2f1289244173-04.%2520So%2520Disrespectful%2520-%252050%2520Cent%2520-.mp3.mp3%3fSignature%3dvmayDNsdkPSEmcwdq6z1Le0WFpk%253D%26Expires%3d1289247775%26AWSAccessKeyId%3dAKIAIM5RJKCF2UKVL2VA"></div>
    </div>
    <div id="uploader"></div>

    <ul id="track-list">
      <li id="<%= song.id.to_s %>" class="song_item song_item_for_preorder" <% if song.s3_asset %>class="<%= song.s3_asset.uuid %>"<% end %> <% if song.s3_asset %> uuid="<%= song.s3_asset.uuid %>"<% end %>>
        <span class="handle hidden"><%= image_tag "/images/icons/drag-icon-15x15.gif" %></span>
        <div class="song-data">
          <strong class="track-number"><%= song.track_number %></strong>
          <strong class="song-name" title="<%= display_name(song) %>" orig_title="<%= display_name(song) %>"><%= truncate(display_name(song), :length => 30) %></strong>
          <span class="artist-name" title="<%= song.artist_name %>"><%= truncate(song.artist_name, :length => 32) %></span>
          <% if song.parental_advisory %>
            <span class="explicit-lyrics">(<%= custom_t(:explicit_lyrics) %>)</span>
          <% elsif song.clean_version %>
            <span class="clean-version">(<%= custom_t(:clean_version) %>)</span>
          <% end %>
          <span class="isrc">(<%= custom_t(:isrc) %>: <%= h(song.isrc) %>)</span>
        </div>

        <span class="track-actions">
          <a href="#" class="track-play"></a>

          <span class="rollover-hide hidden">
            <% if album.finalized_at == nil %>
              <% if song.uploaded? %>
                <a href="#" class="track-reupload button"><%= custom_t(".replace_file") %></a>
              <% else %>
                <a href="#" style="display: none;" class="track-reupload button"><%= custom_t(".replace_file") %></a>
              <% end %>
              <a href="#" class="track-cancelreupload button"><%= custom_t(".revert_to_old_file") %></a>
            <% end %>
          </span>

          <% if song.uploaded? || !album.finalized_at.nil? %>
            <% if current_user.enable_bigbox_list == true %>
              <a class="choose-button button" href="#" style="display: none;"><%= custom_t(:choose) %></a>
            <% end %>

            <a class="upload-button button-callout-alt" style="display: none;" href="#">Upload</a>
            <span class="file-name" title="<%= song.original_filename %>"><%= truncate(song.original_filename, :length => 15) %></span>
          <% else %>
            <% if current_user.enable_bigbox_list == true %>
              <a class="choose-button button" href="#"><%= custom_t(:choose) %></a>
            <% end %>
            <a class="upload-button button-callout-alt" href="#"><%= custom_t(:upload_word) %></a>
            <span class="file-name" style="display: none;"></span>
          <% end %>
        </span>

        <div class="track-uploading bgsafe">
          <span class="track-filename"><%= custom_t(:filename) %></span>
          <a class="track-cancel" href="#"><%= custom_t(:cancel) %></a><br />
          <div class="track-progress"><div class="track-bar"></div></div>
        </div>
        <div class="track-saving bgsafe"><%= custom_t(:saving_with_ellipsis) %></div>
        <div class="track-registering bgsafe"><%= custom_t(:registering_with_ellipsis) %></div>
        <div class="track-error bgsafe"></div>
      </li>
    </ul>
  </div>

  <% if album.album_type == 'Ringtone' and album.finalized_at == nil %>
    <div class="rounded-container stores clearfix">
      <p style="font-weight: bold;"><%= custom_t(".ringtone_length") %> <a style="font-weight: normal; float: right; font-size: 11px;" href="#" onClick="jQuery('#howToCreateRingtone').modal(); return false;"><%= custom_t(".ringtone_help") %></a></p>
    </div>
  <% end %>

  <div id="howToCreateRingtone" style="display: none; width: 600px; height: 600px; overflow: auto;">
    <%= render :partial => "shared/create_ringtone" %>
  </div>

  <% if is_a_cyrillic_language?(album.language_code_legacy_support) %>
  <div class="cyrillic_formatting notice">
    <p><strong>У iTunes есть конкретные правила форматирования российских, белорусских, болгарских и украинских релизов. <a href="#" data-mfp-src="#cyrillic_formatting_popup" class="open-popup">нажмите здесь</a></strong></p>
  </div>
  <% end %>
</section>
