<li id="<%= song_direct.id.to_s %>" class="<%= cycle('odd','even') %> <% if song_direct.s3_asset %><%= song_direct.s3_asset.uuid %><% end %> song_item song_item_for_preorder" <% if song_direct.s3_asset %> uuid="<%= song_direct.s3_asset.uuid %>"<% end %> processing_status=<%= song_direct.song_asset.try(:processing_status) %>>
  <span class="handle hidden" style="display: none;"><%= image_tag "/images/icons/drag-icon-15x15.gif" %></span>
  <div class="song-data">
    <strong class="track-number"><%= song_direct.track_number %></strong>
    <strong class="song-name" title="<%= song_direct.name %>"  orig_title="<%= song_direct.name %>"><%= truncate(song_direct.name, :length => 20) %></strong>
    <span class="artist-name" title="<%= song_direct.artist_name %>"><%= truncate(song_direct.artist_name, :length => 32) %></span>
    <% if song_direct.parental_advisory %>
      <span class="explicit-lyrics">(<%= custom_t(:explicit_lyrics) %>)</span>
    <% elsif song_direct.clean_version %>
      <span class="clean-version">(<%= custom_t(:clean_version) %>)</span>
    <% end %>
    <span class="isrc">(<%= custom_t(:isrc) %>: <%= h(song_direct.isrc) %>)</span>
  </div>
  <div id="audio-container-<%=song_direct.id.to_s%>" style="display: none;"></div>

  <span class="track-actions">
    <a href="#" class="track-play"></a>

    <span class="rollover-hide hidden">
      <% if album.finalized_at == nil %>
        <% if song_direct.file_processed? %>
          <a href="#" class="track-reupload button"><%= custom_t('.replace_file') %></a>
        <% else %>
          <a href="#" style="display: none;" class="track-reupload button"><%= custom_t('.replace_file') %></a>
        <% end %>

        <a href="#" class="track-cancelreupload button"><%= custom_t('.revert_to_old_file') %></a>
        <%= link_to custom_t(:edit), edit_album_song_path(album,song_direct), :class => "edit-button button" %>
        <%= link_to t(:delete), delete_album_song_path(album,song_direct.id), :class => "delete-button button" %>
      <% end %>
    </span>

    <% if song_direct.song_asset.present? || !album.finalized_at.nil? %>
      <a class="upload-button button-callout-alt" style="display: none;" href="#"><%= custom_t(:upload_word) %></a>
      <span class="file-name" title="<%= song_direct.original_asset_name %>"><%= truncate(song_direct.original_asset_name, :length => 25) %></span>
    <% else %>
      <a class="upload-button button-callout-alt" href="#"><%= custom_t(:upload_word) %></a>
      <span class="file-name" style="display: none;"></span>
    <% end %>
  </span>

  <div class="track-uploading bgsafe">
    <span class="track-filename"><%= custom_t(:filename) %></span> <a class="track-cancel" href="#"><%= custom_t(:cancel) %></a><br />
    <div class="track-progress"><div class="track-bar"></div></div>
  </div>

  <div class="track-saving bgsafe"><%= custom_t(:processing_with_ellipsis) %></div>
  <div class="track-error bgsafe"></div>
  <span style="display: none;"><%= hidden_field_tag "album[song_order][]", song_direct.id %></span>
</li>
