<li id="<%= song.id.to_s %>" class="<%= cycle('odd','even') %> song_item song_item_for_preorder">
  <span class="handle hidden"><%= image_tag "/images/icons/drag-icon-15x15.gif" %></span>

  <div class="song-data">
    <strong class="track-number"><%= song.track_number %></strong>
    <strong class="song-name"><%= truncate(display_name(song), :length => 32) %></strong>
    <span class="artist-name"><%= song.artist_name %></span>
    <% if song.parental_advisory %>
      <span class="explicit-lyrics">(<%= custom_t(:explcit_lyrics) %>)</span>
    <% elsif song.clean_version %>
      <span class="clean-version">(<%= custom_t(:clean_version) %>)</span>
    <% end %>
    <span class="isrc">(<%= custom_t(:isrc) %>: <%= h(song.isrc) %>)</span>
  </div>
  <span class="track-actions">
    <span class="rollover-hide hidden">
      <%= link_to custom_t(:edit), edit_album_song_path(album,song), :class => "edit-button button" %>
      <%= link_to custom_t(:delete), delete_album_song_path(album,song.id), :class => "delete-button button" %>
    </span>

    <% if song.uploaded? %>
      <span class="file-name"><%= truncate(song.original_filename, :length => 25) %></span>
    <% else %>
      <% link_to custom_t(:upload_word), new_upload_album_song_path(album, song, :minWidth => '580'), :class => "upload-button button" %>
    <% end %>
  </span>

  <% if !song.last_errors.blank? %>
    <span class="song-error"><%= song.last_errors %></span>
  <% end%>

  <%= hidden_field_tag "album[song_order][]", song.id %>
</li>
