<li id="<%= song_bigbox.id.to_s %>" class="<%= cycle('odd','even') %> <% if song_bigbox.s3_asset %><%= song_bigbox.s3_asset.uuid %><% end %> song_item song_item_for_preorder" <% if song_bigbox.s3_asset %> uuid="<%= song_bigbox.s3_asset.uuid %>"<% end %>>
  <span class="handle hidden" style="display: none;"><%= image_tag "/images/icons/drag-icon-15x15.gif" %></span>

  <div class="song-data">
    <strong class="track-number"><%= song_bigbox.track_number %></strong>
    <strong class="song-name" title="<%= song_bigbox.name %>"  orig_title="<%= song_bigbox.name %>"><%= truncate(display_name(song_bigbox), :length => 20) %></strong>
    <span class="artist-name" title="<%= song_bigbox.artist_name %>"><%= truncate(song_bigbox.artist_name, :length => 32) %></span>
    <% if song_bigbox.parental_advisory %>
      <span class="explicit-lyrics">(<%= custom_t(:explicit_lyrics) %>)</span>
    <% elsif song_bigbox.clean_version %>
      <span class="clean-version">(<%= custom_t(:clean_version) %>)</span>
    <% end %>
    <span class="isrc">(<%= custom_t(:isrc) %>: <%= h(song_bigbox.isrc) %>)</span>
  </div>

  <span class="track-actions">
    <a href="#" class="track-play"></a>

    <span class="rollover-hide hidden">
      <% if album.finalized_at == nil %>
        <% if song_bigbox.uploaded? %>
          <a href="#" class="track-reupload button"><%= custom_t(".replace_file") %></a>
        <% else %>
          <a href="#" style="display: none;" class="track-reupload button"><%= custom_t(".replace_file") %></a>
        <% end %>

        <a href="#" class="track-cancelreupload button"><%= custom_t(".revert_to_old_file") %></a>
        <%= link_to custom_t(:edit), edit_album_song_path(album,song_bigbox), :class => "edit-button button" %>
        <% if album.is_editable? %>
          <%= link_to custom_t(:delete), delete_album_song_path(album,song_bigbox.id), :class => "delete-button button" %>
        <% end %>
      <% end %>
    </span>

    <% if song_bigbox.uploaded? || !album.finalized_at.nil? %>
      <% if current_user.enable_bigbox_list == true %>
        <a class="choose-button button" style="display: none;" href="#"><%= custom_t(:choose) %></a>
      <% end %>

      <a class="upload-button button-callout-alt" style="display: none;" href="#"><%= custom_t(:upload_word) %></a>
      <span class="file-name" title="<%= song_bigbox.original_filename %>"><%= truncate(song_bigbox.original_filename, :length => 25) %></span>
    <% else %>
      <% if current_user.enable_bigbox_list == true %>
        <a class="choose-button button" href="#"><%= custom_t(:choose) %></a>
      <% end %>

      <a class="upload-button button-callout-alt" href="#"><%= custom_t(:upload_word) %></a>
      <span class="file-name" style="display: none;"></span>
    <% end %>
  </span>

  <div class="track-uploading bgsafe">
    <span class="track-filename"><%= custom_t(:filename) %></span> <a class="track-cancel" href="#"><%= custom_t(:cancel) %></a><br />
    <div class="track-progress"><div class="track-bar"></div></div>
  </div>

  <div class="track-saving bgsafe"><%= custom_t(:saving_with_ellipsis) %></div>
  <div class="track-registering bgsafe"><%= custom_t(:registering_with_ellipsis) %></div>
  <div class="track-error bgsafe"></div>
  <span style="display: none;"><%= hidden_field_tag "album[song_order][]", song_bigbox.id %></span>
</li>
