<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/upload.css" %>
<% end %>

<div class="song">
  <div class="song-data">
  <% if album.album_type == "Single" %>

    <% if song.uploaded? %>
      <h2 class="hd"><%= custom_t(".current_file") %></h2>
      <h3 class="sub-hd"><%= custom_t(:song) %>: <%= display_name(song) %></h3>
      <h3 class="sub-hd"><%= custom_t(:filename) %>: <%= truncate(song.original_filename, :length => 35) %></h3>
    <% end %>

    <% if !album.finalized? %>
      <% if song.uploaded?  %>
        <h2 id="file-upload" class="hd"><%= custom_t(".upload_new_file") %></h2>
      <% else %>
        <h2 id="file-upload" class="hd"><%= custom_t(".upload_file_for") %> <%= display_name(song) %></h2>
      <% end %>
    <% end %>

  <% else %>

    <strong class="track-number"><%= song.track_number %></strong>
    <strong class="song-name"><%= truncate(display_name(song), :length => 40) %></strong>
    <span class="artist-name"><%= song.artist_name %></span>

  <% end %>

  <% if song.parental_advisory %>
    <span class="explicit-lyrics">(<%= custom_t(:explicit_lyrics) %>)</span>
  <% elsif song.clean_version %>
    <span class="clean-version">(<%= custom_t(:clean_version) %>)</span>
  <% end %>

    <span class="isrc">(<%= custom_t(:isrc) %>: <%= h(song.isrc) %>)</span>
  </div>

  <% if !song.last_errors.blank? %>
    <strong class="error em"><%= song.last_errors %></strong>
  <% end %>

  <% if !album.finalized? %>
  <div class="song-upload">
    <% if album.album_type == "Single" %>
      <%= build_song_uploader(song) %>
    <% else %>
      <%= build_song_uploader2(song, "show_song(#{song.id})") %>
    <% end %>

    <%= custom_t(".before_you_upload") %>

    <%= hidden_field_tag "song-path", album_song_path(album, song) if album %>
  </div>
  <% end %>
</div>
