<h2><%= custom_t(".are_you_sure") %></h2>
<%= form_for [@album,@song], :html => { :method => 'delete' } do |f| %>
    <%= submit_tag custom_t(:delete), :class => "delete-button button" %>
    <%= link_to custom_t(:cancel), { :controller => "album", :action => "show", :id => @album }, :class => "cancel-button button" %>
<% end %>
