
<%= error_messages_for @song %>

<% if ! flash[:notice].blank? %>
  <div id="goodErrorExplanation">
    <span>
      <%= flash[:notice] %>
      <%= link_to custom_t(:close), "#", :class => "close-lightbox" %>
    <span>
  </div>
<% end %>

<span class="number"></span>
<%= form_for [@album,@song], :method => :put, :target => "_parent" do |f| %>
  <%= render :partial => "form", :locals =>  { :f => f } %>
<% end %>
