<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/song_upload" %>
<% end %>

<section class="grid_11" id="add-songs">
  <header>
    <h1><%= custom_t(".add_songs_to_your_album") %></h1>
  </header>
  <h2><%= custom_t(:step) %> 1:  <%= custom_t(".add_step_one") %></h2>
  <div>
    <%= link_to "Clear", new_album_song_path(@album), :class => "new-button button clear" %>
  </div>
  <div id="song-form">
    <div id="spinner" class="hidden">
      <%= image_tag "/images/logo-spinner_25x25.gif" %>
    </div>
    <%= render :file => "songs/new" %>
  </div>
</section>

<%= render :partial => "album/checklist_and_distribution_ui", :locals => { :album => @album } %>

<section class="grid_11">
    <h2><%= custom_t(:step) %> 2:  <%= custom_t(".add_step_two") %></h2>
  <%= form_for @album, :method => :put do %>
    <ul id="track-list">
      <%= render :partial => "song", :collection => @songs, locals: { album: @album }  %>
    </ul>
  <% end %>
  <%= link_to custom_t(".back_to_album"), album_path(@album), :class => "cancel" %>
</section>
