<% if @album.songs.size >= 101 && !feature_enabled?(:hundred_tracks_allowed) %>
  <div class="track_limit_warning">
    <p><%= custom_t('.album_limit') %></p>
  </div>
<% else %>
  <span class="number"></span>
  <%= form_for [@album,@song] do |f| %>
    <%= render :partial => "songs/form", :locals =>  { :f => f, :album => @album, :song => @song } %>
  <% end %>
<% end %>
