
<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/song_upload" %>
<% end %>

<section class="grid_7">
  <%= render :partial => "upload", :locals => { :song => @song } %>
</section>
