<section class="twelve columns">
  <h2 class="<%=class_name%>"><%= table_name %></h2>
  <table class="<%=class_name%> <%= add_totals ? "add-totals" : "" %>">
    <thead>
      <tr>
        <th class="head"></th>
        <% rollup.each do |r| %>
          <th><%= r["rep_date"] %></th>
        <% end %>
        <th>Total</th>
        <th>Average</th>
      </tr>
    </thead>
    <tbody>
      <% rows.each do |row| %>
      <tr class="data <%= hide ? "hide" : "" %>">
        <td class="head"><%= row[:title] %></td>
        <% rollup.each do |r| %>
          <td><%= currency ? money_to_currency(r[row[:field]].to_money(@currency)) : r[row[:field]] %></td>
        <% end %>
        <% total = rollup.sum { |x| x[row[:field]] } %>
        <td><%= currency ? money_to_currency(total.to_money(@currency)) : total %></td>
        <td><%= currency ? money_to_currency((total.to_f/rollup.length).to_money(@currency)) : (total.to_f/rollup.length).round(2) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
