<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/admin.css" %>
  <%= stylesheet_link_tag "/stylesheets/font-awesome.min.css" %>
  <%= stylesheet_link_tag "/stylesheets/new_reports.css" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/new_reports" %>
<% end %>

<main class="content">
  <header class="row">
    <div class="twelve columns">
      <h1>Reporting Dashboard<%= link_to "Last Updated: #{@rollup.max_by { |r| r.updated_at }.try(:updated_at).try(:strftime,"%a, %b %d, %Y, %I:%M%P %Z")}", refresh_new_reports_path, data: { confirm: "This process takes 5-10 minutes and will be run in the background. Please check back in a few minutes to see the updated values for today." } %></h1>
    </div>
  </header>

  <div class="row">
    <form action="/new_reports">
      <div class="four columns">
        <label>Select Country</label>
        <select id="select-country">
          <% @countries.each do |c| %>
            <option value="<%=c.id%>" <%= params[:country] == "#{c.id}" ? "selected" : "" %>><%=c.country%></option>
          <% end %>
        </select>
      </div>
      <div class="four columns">
        <label>Select Granularity</label>
        <select id="select-granularity">
          <% ["Daily", "Weekly", "Monthly"].each do |g| %>
            <option <%= params[:granularity] == g ? "selected" : "" %>><%= g %></option>
          <% end %>
        </select>
      </div>
      <div class="four columns">
      </div>
    </form>
  </div>

  <input type="hidden" id="column-count" value="<%=@rollup.length%>"/>

  <div class="row">
    <%= render partial: "dashboard_rollup_table", locals: {
      rollup:     @rollup,
      class_name: "revenue",
      table_name: "Sales Revenue",
      rows:       [ { field: "total_sales",   title: "Total Sales"    },
                    { field: "average_sales", title: "Average Sales"  } ],
      hide:       false,
      currency:   true,
      add_totals: false
    } %>

    <%= render partial: "dashboard_rollup_table", locals: {
      rollup:     @rollup,
      class_name: "new-dist",
      table_name: "Distribution: New Customers",
      rows:       [ { field: "new_dist_first_purchase",     title: "First Purchase"     },
                    { field: "new_dist_not_first_purchase", title: "Not First Purchase" } ],
      hide:       false,
      currency:   false,
      add_totals: true
    } %>

    <%= render partial: "dashboard_rollup_table", locals: {
      rollup:     @rollup,
      class_name: "returning-dist",
      table_name: "Distribution: Returning Customers",
      rows:       [ { field: "returning_dist",  title: "New Distros"  },
                    { field: "renewals",        title: "Renewals"     } ],
      hide:       true,
      currency:   false,
      add_totals: true
    } %>

    <%= render partial: "dashboard_rollup_table", locals: {
      rollup:     @rollup,
      class_name: "pub",
      table_name: "Publishing: New Customers",
      rows:       [ { field: "pub_first_purchase",      title: "First Purchase"     },
                    { field: "pub_not_first_purchase",  title: "Not First Purchase" } ],
      hide:       true,
      currency:   false,
      add_totals: true
    } %>

    <section class="twelve columns">
      <h2 class="product-sales">Individual Product Sales</h2>
      <table class="product-sales">
        <thead>
          <tr>
            <th class="head"></th>
            <% @rollup.each do |r| %>
              <th><%= r["rep_date"] %></th>
            <% end %>
            <th>Total</th>
            <th>Average</th>
          </tr>
        </thead>
        <tbody>
          <% @product_families.each do |family| %>
            <tr class="header <%=family.gsub(/[\(\)]/,"").gsub(" ","-").downcase%>">
              <td class="head section" colspan=<%= @rollup.length+3 %>><%= family %></td>
            </tr>
            <% if @products && @products[family] %>
            <% @products[family].group_by { |p| p.product_id }.each do |id, records| %>
              <% if records.count { |rec| rec.product_count == 0 } < records.length %>
              <tr class="data hide <%=family.gsub(/[\(\)]/,"").gsub(" ","-").downcase%>">
                <td class="head"><%= records.first.product_name %></td>
                <% records.each do |row| %>
                  <td><%= "#{row.product_count}<br/><span>(#{money_to_currency(row.product_amount.to_money(@currency))})</span>".html_safe %></td>
                <% end %>
                <td>
                  <%= records.sum(&:product_count) %><br/>
                  <span>(<%= money_to_currency(records.sum(&:product_amount).to_money(@currency)) %>)</span>
                </td>
                <td>
                  <%= (records.sum(&:product_count).to_f/records.length).round(2) %><br/>
                  <span>(<%= money_to_currency((records.sum(&:product_amount).to_f/records.length).to_money(@currency)) %>)</span>
                </td>
              </tr>
              <% end %>
            <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </section>
  </div>
</main>
