<h2><%= @page_title %></h2>
<%= simple_form_for @mass_monetization_block_form, url: admin_mass_monetization_block_path do |f| %>
  <%= f.input :store_ids,
    as: :check_boxes,
    label: "Stores",
    collection: Store.track_monetization_stores,
    label_method: :name,
    value_method: :id,
    include_hidden: false
  %>

  <%= f.input :find_by,
    as: :radio_buttons,
    collection: BulkSongFinder::FIND_BY_OPTIONS,
    label_method: :first,
    value_method: :second,
    checked: BulkSongFinder::FIND_BY_DEFAULT
  %>

  <p class="find_by_description find_by_description_for_song">
    *Songs by IDs or ISRCs can be comma-separated, space-separated, or new-line serparated
  </p>

  <p class="find_by_description find_by_description_for_album" hidden>
    *Songs by album IDs or album UPCs can be comma-separated, space-separated, or new-line serparated
  </p>

  <%= f.text_area :song_identifiers %>

  <div style="clear: both;">
    <%= submit_tag "Submit" %>
  </div>
<% end %>
