<section class="grid_16" id="my-account">
  <h2>Sample Store Report</h2>
  <p class="caption">This sales report shows <i>ACTUAL</i> sales for your music broken down by store.</p>
  <table class="data-report">
    <%= render(:partial => "reports_shared/report_headers", :locals => {:headers => @report.headers})%>
    <tbody>
      <%= render(:partial => "reports_shared/report_rows", :locals => {:report => @report }) %>
    </tbody>
  </table>
</section>
