section header {
  display: flex;
  justify-content: space-between;
}
section header h1 {
	padding: 0 10px 10px 0;
	margin-top: 5px;
	text-shadow: none;
	font: bold 1.5rem Helvetica, Arial;
	color: #3B96CF;
}
section header h1 small {
	font-size: 0.4em;
}
header.credit-note-header {
	display: flex;
	justify-content: flex-end;
}
.bi-outbound-invoice,
.tc-outbound-invoice{
	margin: 0px 15px 0px 15px;
	.body{
		margin-bottom: 50px;
	}
	.invoice{
		margin: 0px 150px 0px 150px;
	}
	.invoice-header .wrapper.h-bi {
		font-size: 11px;
	}
	.invoice-header .logo img{
		width: 140px;
		height: auto;
	}
	table td,
	table th{
		font-size: 12px;
	}
	.body .inner-wrapper{
		table.product-details{
			width: 100%;
			td.wrapper-td{
				padding: 0 0 0 315px;
			}
			tbody td table.tax-details{
				width: 100%;
			}
		}
	}
	.body .inner-wrapper .eu-directive{
		width: auto;
	}
	@media screen and (max-width: 767px) {
		.body .inner-wrapper {
			width: 100%;

			table.product-details
			{
				width: 100%;
				th,td {
					padding: 7px 10px;
				}
			}
		}
		.body .inner-wrapper table.product-details td.wrapper-td{
			padding-left: 155px;
		}
	}

	@media screen and (max-width: 425px) {
		margin: 5px 15px;
		.invoice {
			margin: 0;
			.invoice-header .wrapper {
				height: auto;
				.to-address,
				.from-address {
					float: none;
					height: auto;
				}
			}
		}
		.body .inner-wrapper table.product-details td.wrapper-td{
			padding-left: 128px;
		}
	}
	@media screen and (max-width: 857px) {
		margin: 5px 15px;
		.invoice {
			margin: 0;

			.invoice-header .wrapper {
				height: auto;

				.to-address,
				.from-address {
					float: none;
					height: auto;

				}
			}
		}
		.body .inner-wrapper table.product-details td.wrapper-td{
			padding-left: 230px;
		}
	}

	.footer.outbound-footer-text{
		padding: 10px;
		text-align: center;
		color: grey;
	}
	.vat-text{
		text-align: right;
		margin-bottom: 3rem;
		font-size: 0.8rem;
	}
}
.invoice-invoice-header{
    box-shadow: none;
    margin-bottom: 0;
}
.invoice-header {
    .logo img {
        width: 200px;
        height: 40px;
    }

    .wrapper {
        display: block;
        font-size: 13px;
        line-height: 17.7px;

        .from-address {
            width: 40%;
            float: left;

            p {
                color: grey;
            }

            span.greyed-text {
                color: grey;
            }
        }

        .to-address {
            float: right;

            span.greyed-text {
                color: grey;
            }
        }

        .h-tc {
            height: 170px;
        }

        .h-bi {
            height: 200px;
        }
    }
}
