.invoice-invoice-header{
    box-shadow: none;
    margin-bottom: 0;
}
.invoice-header .logo img{
    width: 200px;
    height: 40px;
}
.invoice-header .wrapper{
    display: block;
    font-size: 13px;
    line-height: 17.7px;
}
.invoice-header .wrapper .from-address{
    width: 40%;
    float: left;
}
.invoice-header .wrapper .from-address p{
    color: grey;
}
.invoice-header .wrapper .to-address{
    float: right;
}
.invoice-header .wrapper .to-address span.greyed-text{
    color: grey;
}
.invoice-header .wrapper.h-tc{
    height: 170px;
}
.invoice-header .wrapper.h-bi{
    height: 200px;
}
.invoice-header .wrapper .from-address span.greyed-text{
    color: grey;
}
