.tc-accelerator-block p {
    color: #c8c3bc;
    font-weight: 400;
    font-size: 13px;
    padding: 10px;
    line-height: 120%;
    text-align: center;
  }

  .tc-accelerator-block button.tc-accelerator-modal {
    background: inherit;
    border-width: 2px;
    border-style: solid;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    transition: all 100ms ease-out;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }

  .tc-accelerator-block button.tc-accelerator-modal.opt-out {
    border-color: white;
    color: white;
  }

  .tc-accelerator-block button.tc-accelerator-modal.opt-in {
    border-color: var(--plan-color-1);
    color: var(--plan-color-1);
  }

   .tc-accelerator-block button.tc-accelerator-modal.sounds-great {
    border-color: var(--plan-color-1);
    color: var(--plan-color-1);
  }

  .tc-accelerator-block button.tc-accelerator-modal.do-not-ask-again {
    border-color: #c8c3bc;
    color: #c8c3bc;
  }

  .tc-accelerator-block button.tc-accelerator-modal:hover {
    color: #141414;
  }

  .tc-accelerator-block button.tc-accelerator-modal.do-not-ask-again:hover {
    background: #c8c3bc;
  }

  .tc-accelerator-block button.tc-accelerator-modal.opt-out:hover {
    background: white;
  }

  .tc-accelerator-block button.tc-accelerator-modal.opt-in:hover {
    background: var(--plan-color-1);
  }

  .tc-accelerator-block button.tc-accelerator-modal.sounds-great:hover {
    background: var(--plan-color-1);
  }

  .tc-accelerator-block {
    max-width: 550px;
    font-family: Roboto, sans-serif;
    background: #141414;
    color: white;
    padding: 40px;
    border-radius: 10px;
  }

  .tc-accelerator-block .heading {
    font-weight: 900;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 20px;
    color: white;
    text-align: center;

  }

  .tc-accelerator-modal-button-row {
      display: flex;
      justify-content: center;
  }

  .tc-accelerator-modal-button-row button > * {
    pointer-events: none;
  }

  .mfp-inline-holder .mfp-content {
    width: auto;
  }

  .mfp-close-btn-in button.mfp-close {
    color: #c8c3bc;
  }

  .mfp-close-btn-in button.mfp-close:hover {
    color: white;
  }
