.infographic {
  /*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
}
.infographic html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.infographic body {
  margin: 0;
}

main {
  -webkit-font-smoothing: auto;
}

.ft-top {
  display: none;
}

.infographic article,
.infographic aside,
.infographic details,
.infographic figcaption,
.infographic figure,
.infographic footer,
.infographic header,
.infographic hgroup,
.infographic main,
.infographic menu,
.infographic nav,
.infographic section,
.infographic summary {
  display: block;
}
.infographic audio,
.infographic canvas,
.infographic progress,
.infographic video {
  display: inline-block;
  vertical-align: baseline;
}
.infographic audio:not([controls]) {
  display: none;
  height: 0;
}
.infographic [hidden],
.infographic template {
  display: none;
}
.infographic a {
  background-color: transparent;
}
.infographic a:active,
.infographic a:hover {
  outline: 0;
}
.infographic abbr[title] {
  border-bottom: 1px dotted;
}
.infographic b,
.infographic strong {
  font-weight: bold;
}
.infographic dfn {
  font-style: italic;
}
.infographic h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.infographic mark {
  background: #ff0;
  color: #000;
}
.infographic small {
  font-size: 80%;
}
.infographic sub,
.infographic sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.infographic sup {
  top: -0.5em;
}
.infographic sub {
  bottom: -0.25em;
}
.infographic img {
  border: 0;
}
.infographic svg:not(:root) {
  overflow: hidden;
}
.infographic figure {
  margin: 1em 40px;
}
.infographic hr {
  box-sizing: content-box;
  height: 0;
}
.infographic pre {
  overflow: auto;
}
.infographic code,
.infographic kbd,
.infographic pre,
.infographic samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
.infographic button,
.infographic input,
.infographic optgroup,
.infographic select,
.infographic textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.infographic button {
  overflow: visible;
}
.infographic button,
.infographic select {
  text-transform: none;
}
.infographic button,
.infographic html input[type="button"],
.infographic input[type="reset"],
.infographic input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.infographic button[disabled],
.infographic html input[disabled] {
  cursor: default;
}
.infographic button::-moz-focus-inner,
.infographic input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.infographic input {
  line-height: normal;
}
.infographic input[type="checkbox"],
.infographic input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.infographic input[type="number"]::-webkit-inner-spin-button,
.infographic input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
.infographic input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
.infographic input[type="search"]::-webkit-search-cancel-button,
.infographic input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.infographic fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.infographic legend {
  border: 0;
  padding: 0;
}
.infographic textarea {
  overflow: auto;
}
.infographic optgroup {
  font-weight: bold;
}
.infographic table {
  border-collapse: collapse;
  border-spacing: 0;
}
.infographic td,
.infographic th {
  padding: 0;
}
.infographic .clearfix:before,
.infographic .clearfix:after,
.infographic  .container:before,
.infographic  .container:after,
.infographic  .container-fluid:before,
.infographic  .container-fluid:after,
.infographic  .row:before,
.infographic  .row:after,
.infographic  .dl-horizontal dd:before,
.infographic  .dl-horizontal dd:after,
.infographic  .btn-toolbar:before,
.infographic  .btn-toolbar:after,
.infographic  .btn-group-vertical > .btn-group:before,
.infographic  .btn-group-vertical > .btn-group:after {
  content: " ";
  display: table;
}
.infographic .clearfix:after,
.infographic  .container:after,
.infographic  .container-fluid:after,
.infographic  .row:after,
.infographic  .dl-horizontal dd:after,
.infographic  .btn-toolbar:after,
.infographic  .btn-group-vertical > .btn-group:after {
  clear: both;
}
.infographic .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.infographic .pull-right {
  float: right !important;
}
.infographic .pull-left {
  float: left !important;
}
.infographic .hide {
  display: none !important;
}
.infographic .show {
  display: block !important;
}
.infographic .invisible {
  visibility: hidden;
}
.infographic .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.infographic .hidden {
  display: none !important;
}
.infographic .affix {
  position: fixed;
}
.infographic * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.infographic *:before,
.infographic *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.infographic html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.infographic body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}
.infographic input,
.infographic button,
.infographic select,
.infographic textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.infographic a {
  color: #337ab7;
  text-decoration: none;
}
.infographic a:hover,
.infographic a:focus {
  color: #23527c;
  text-decoration: underline;
}
.infographic a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.infographic figure {
  margin: 0;
}
.infographic img {
  vertical-align: middle;
}
.infographic .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.infographic .img-rounded {
  border-radius: 6px;
}
.infographic .img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.infographic .img-circle {
  border-radius: 50%;
}
.infographic hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.infographic .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.infographic .sr-only-focusable:active,
.infographic .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.infographic [role="button"] {
  cursor: pointer;
}
.infographic .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .infographic .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .infographic .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .infographic .container {
    width: 1170px;
  }
}
.infographic .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.infographic .row {
  margin-left: -15px;
  margin-right: -15px;
}
.infographic .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.infographic .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.infographic .col-xs-12 {
  width: 100%;
}
.infographic .col-xs-11 {
  width: 91.66666667%;
}
.infographic .col-xs-10 {
  width: 83.33333333%;
}
.infographic .col-xs-9 {
  width: 75%;
}
.infographic .col-xs-8 {
  width: 66.66666667%;
}
.infographic .col-xs-7 {
  width: 58.33333333%;
}
.infographic .col-xs-6 {
  width: 50%;
}
.infographic .col-xs-5 {
  width: 41.66666667%;
}
.infographic .col-xs-4 {
  width: 33.33333333%;
}
.infographic .col-xs-3 {
  width: 25%;
}
.infographic .col-xs-2 {
  width: 16.66666667%;
}
.infographic .col-xs-1 {
  width: 8.33333333%;
}
.infographic .col-xs-pull-12 {
  right: 100%;
}
.infographic .col-xs-pull-11 {
  right: 91.66666667%;
}
.infographic .col-xs-pull-10 {
  right: 83.33333333%;
}
.infographic .col-xs-pull-9 {
  right: 75%;
}
.infographic .col-xs-pull-8 {
  right: 66.66666667%;
}
.infographic .col-xs-pull-7 {
  right: 58.33333333%;
}
.infographic .col-xs-pull-6 {
  right: 50%;
}
.infographic .col-xs-pull-5 {
  right: 41.66666667%;
}
.infographic .col-xs-pull-4 {
  right: 33.33333333%;
}
.infographic .col-xs-pull-3 {
  right: 25%;
}
.infographic .col-xs-pull-2 {
  right: 16.66666667%;
}
.infographic .col-xs-pull-1 {
  right: 8.33333333%;
}
.infographic .col-xs-pull-0 {
  right: auto;
}
.infographic .col-xs-push-12 {
  left: 100%;
}
.infographic .col-xs-push-11 {
  left: 91.66666667%;
}
.infographic .col-xs-push-10 {
  left: 83.33333333%;
}
.infographic .col-xs-push-9 {
  left: 75%;
}
.infographic .col-xs-push-8 {
  left: 66.66666667%;
}
.infographic .col-xs-push-7 {
  left: 58.33333333%;
}
.infographic .col-xs-push-6 {
  left: 50%;
}
.infographic .col-xs-push-5 {
  left: 41.66666667%;
}
.infographic .col-xs-push-4 {
  left: 33.33333333%;
}
.infographic .col-xs-push-3 {
  left: 25%;
}
.infographic .col-xs-push-2 {
  left: 16.66666667%;
}
.infographic .col-xs-push-1 {
  left: 8.33333333%;
}
.infographic .col-xs-push-0 {
  left: auto;
}
.infographic .col-xs-offset-12 {
  margin-left: 100%;
}
.infographic .col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.infographic .col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.infographic .col-xs-offset-9 {
  margin-left: 75%;
}
.infographic .col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.infographic .col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.infographic .col-xs-offset-6 {
  margin-left: 50%;
}
.infographic .col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.infographic .col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.infographic .col-xs-offset-3 {
  margin-left: 25%;
}
.infographic .col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.infographic .col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.infographic .col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .infographic .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .infographic .col-sm-12 {
    width: 100%;
  }
  .infographic .col-sm-11 {
    width: 91.66666667%;
  }
  .infographic .col-sm-10 {
    width: 83.33333333%;
  }
  .infographic .col-sm-9 {
    width: 75%;
  }
  .infographic .col-sm-8 {
    width: 66.66666667%;
  }
  .infographic .col-sm-7 {
    width: 58.33333333%;
  }
  .infographic .col-sm-6 {
    width: 50%;
  }
  .infographic .col-sm-5 {
    width: 41.66666667%;
  }
  .infographic .col-sm-4 {
    width: 33.33333333%;
  }
  .infographic .col-sm-3 {
    width: 25%;
  }
  .infographic .col-sm-2 {
    width: 16.66666667%;
  }
  .infographic .col-sm-1 {
    width: 8.33333333%;
  }
  .infographic .col-sm-pull-12 {
    right: 100%;
  }
  .infographic .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .infographic .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .infographic .col-sm-pull-9 {
    right: 75%;
  }
  .infographic .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .infographic .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .infographic .col-sm-pull-6 {
    right: 50%;
  }
  .infographic .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .infographic .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .infographic .col-sm-pull-3 {
    right: 25%;
  }
  .infographic .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .infographic .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .infographic .col-sm-pull-0 {
    right: auto;
  }
  .infographic .col-sm-push-12 {
    left: 100%;
  }
  .infographic .col-sm-push-11 {
    left: 91.66666667%;
  }
  .infographic .col-sm-push-10 {
    left: 83.33333333%;
  }
  .infographic .col-sm-push-9 {
    left: 75%;
  }
  .infographic .col-sm-push-8 {
    left: 66.66666667%;
  }
  .infographic .col-sm-push-7 {
    left: 58.33333333%;
  }
  .infographic .col-sm-push-6 {
    left: 50%;
  }
  .infographic .col-sm-push-5 {
    left: 41.66666667%;
  }
  .infographic .col-sm-push-4 {
    left: 33.33333333%;
  }
  .infographic .col-sm-push-3 {
    left: 25%;
  }
  .infographic .col-sm-push-2 {
    left: 16.66666667%;
  }
  .infographic .col-sm-push-1 {
    left: 8.33333333%;
  }
  .infographic .col-sm-push-0 {
    left: auto;
  }
  .infographic .col-sm-offset-12 {
    margin-left: 100%;
  }
  .infographic .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .infographic .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .infographic .col-sm-offset-9 {
    margin-left: 75%;
  }
  .infographic .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .infographic .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .infographic .col-sm-offset-6 {
    margin-left: 50%;
  }
  .infographic .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .infographic .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .infographic .col-sm-offset-3 {
    margin-left: 25%;
  }
  .infographic .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .infographic .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .infographic .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .infographic .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .infographic .col-md-12 {
    width: 100%;
  }
  .infographic .col-md-11 {
    width: 91.66666667%;
  }
  .infographic .col-md-10 {
    width: 83.33333333%;
  }
  .infographic .col-md-9 {
    width: 75%;
  }
  .infographic .col-md-8 {
    width: 66.66666667%;
  }
  .infographic .col-md-7 {
    width: 58.33333333%;
  }
  .infographic .col-md-6 {
    width: 50%;
  }
  .infographic .col-md-5 {
    width: 41.66666667%;
  }
  .infographic .col-md-4 {
    width: 33.33333333%;
  }
  .infographic .col-md-3 {
    width: 25%;
  }
  .infographic .col-md-2 {
    width: 16.66666667%;
  }
  .infographic .col-md-1 {
    width: 8.33333333%;
  }
  .infographic .col-md-pull-12 {
    right: 100%;
  }
  .infographic .col-md-pull-11 {
    right: 91.66666667%;
  }
  .infographic .col-md-pull-10 {
    right: 83.33333333%;
  }
  .infographic .col-md-pull-9 {
    right: 75%;
  }
  .infographic .col-md-pull-8 {
    right: 66.66666667%;
  }
  .infographic .col-md-pull-7 {
    right: 58.33333333%;
  }
  .infographic .col-md-pull-6 {
    right: 50%;
  }
  .infographic .col-md-pull-5 {
    right: 41.66666667%;
  }
  .infographic .col-md-pull-4 {
    right: 33.33333333%;
  }
  .infographic .col-md-pull-3 {
    right: 25%;
  }
  .infographic .col-md-pull-2 {
    right: 16.66666667%;
  }
  .infographic .col-md-pull-1 {
    right: 8.33333333%;
  }
  .infographic .col-md-pull-0 {
    right: auto;
  }
  .infographic .col-md-push-12 {
    left: 100%;
  }
  .infographic .col-md-push-11 {
    left: 91.66666667%;
  }
  .infographic .col-md-push-10 {
    left: 83.33333333%;
  }
  .infographic .col-md-push-9 {
    left: 75%;
  }
  .infographic .col-md-push-8 {
    left: 66.66666667%;
  }
  .infographic .col-md-push-7 {
    left: 58.33333333%;
  }
  .infographic .col-md-push-6 {
    left: 50%;
  }
  .infographic .col-md-push-5 {
    left: 41.66666667%;
  }
  .infographic .col-md-push-4 {
    left: 33.33333333%;
  }
  .infographic .col-md-push-3 {
    left: 25%;
  }
  .infographic .col-md-push-2 {
    left: 16.66666667%;
  }
  .infographic .col-md-push-1 {
    left: 8.33333333%;
  }
  .infographic .col-md-push-0 {
    left: auto;
  }
  .infographic .col-md-offset-12 {
    margin-left: 100%;
  }
  .infographic .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .infographic .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .infographic .col-md-offset-9 {
    margin-left: 75%;
  }
  .infographic .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .infographic .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .infographic .col-md-offset-6 {
    margin-left: 50%;
  }
  .infographic .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .infographic .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .infographic .col-md-offset-3 {
    margin-left: 25%;
  }
  .infographic .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .infographic .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .infographic .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .infographic .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .infographic .col-lg-12 {
    width: 100%;
  }
  .infographic .col-lg-11 {
    width: 91.66666667%;
  }
  .infographic .col-lg-10 {
    width: 83.33333333%;
  }
  .infographic .col-lg-9 {
    width: 75%;
  }
  .infographic .col-lg-8 {
    width: 66.66666667%;
  }
  .infographic .col-lg-7 {
    width: 58.33333333%;
  }
  .infographic .col-lg-6 {
    width: 50%;
  }
  .infographic .col-lg-5 {
    width: 41.66666667%;
  }
  .infographic .col-lg-4 {
    width: 33.33333333%;
  }
  .infographic .col-lg-3 {
    width: 25%;
  }
  .infographic .col-lg-2 {
    width: 16.66666667%;
  }
  .infographic .col-lg-1 {
    width: 8.33333333%;
  }
  .infographic .col-lg-pull-12 {
    right: 100%;
  }
  .infographic .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .infographic .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .infographic .col-lg-pull-9 {
    right: 75%;
  }
  .infographic .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .infographic .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .infographic .col-lg-pull-6 {
    right: 50%;
  }
  .infographic .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .infographic .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .infographic .col-lg-pull-3 {
    right: 25%;
  }
  .infographic .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .infographic .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .infographic .col-lg-pull-0 {
    right: auto;
  }
  .infographic .col-lg-push-12 {
    left: 100%;
  }
  .infographic .col-lg-push-11 {
    left: 91.66666667%;
  }
  .infographic .col-lg-push-10 {
    left: 83.33333333%;
  }
  .infographic .col-lg-push-9 {
    left: 75%;
  }
  .infographic .col-lg-push-8 {
    left: 66.66666667%;
  }
  .infographic .col-lg-push-7 {
    left: 58.33333333%;
  }
  .infographic .col-lg-push-6 {
    left: 50%;
  }
  .infographic .col-lg-push-5 {
    left: 41.66666667%;
  }
  .infographic .col-lg-push-4 {
    left: 33.33333333%;
  }
  .infographic .col-lg-push-3 {
    left: 25%;
  }
  .infographic .col-lg-push-2 {
    left: 16.66666667%;
  }
  .infographic .col-lg-push-1 {
    left: 8.33333333%;
  }
  .infographic .col-lg-push-0 {
    left: auto;
  }
  .infographic .col-lg-offset-12 {
    margin-left: 100%;
  }
  .infographic .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .infographic .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .infographic .col-lg-offset-9 {
    margin-left: 75%;
  }
  .infographic .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .infographic .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .infographic .col-lg-offset-6 {
    margin-left: 50%;
  }
  .infographic .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .infographic .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .infographic .col-lg-offset-3 {
    margin-left: 25%;
  }
  .infographic .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .infographic .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .infographic .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.infographic h1,
.infographic h2,
.infographic h3,
.infographic h4,
.infographic h5,
.infographic h6,
.infographic .h1,
.infographic .h2,
.infographic .h3,
.infographic .h4,
.infographic .h5,
.infographic .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.infographic h1 small,
.infographic h2 small,
.infographic h3 small,
.infographic h4 small,
.infographic h5 small,
.infographic h6 small,
.infographic .h1 small,
.infographic .h2 small,
.infographic .h3 small,
.infographic .h4 small,
.infographic .h5 small,
.infographic .h6 small,
.infographic h1 .small,
.infographic h2 .small,
.infographic h3 .small,
.infographic h4 .small,
.infographic h5 .small,
.infographic h6 .small,
.infographic .h1 .small,
.infographic .h2 .small,
.infographic .h3 .small,
.infographic .h4 .small,
.infographic .h5 .small,
.infographic .h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
.infographic h1,
.infographic .h1,
.infographic h2,
.infographic .h2,
.infographic h3,
.infographic .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.infographic h1 small,
.infographic .h1 small,
.infographic h2 small,
.infographic .h2 small,
.infographic h3 small,
.infographic .h3 small,
.infographic h1 .small,
.infographic .h1 .small,
.infographic h2 .small,
.infographic .h2 .small,
.infographic h3 .small,
.infographic .h3 .small {
  font-size: 65%;
}
.infographic h4,
.infographic .h4,
.infographic h5,
.infographic .h5,
.infographic h6,
.infographic .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.infographic h4 small,
.infographic .h4 small,
.infographic h5 small,
.infographic .h5 small,
.infographic h6 small,
.infographic .h6 small,
.infographic h4 .small,
.infographic .h4 .small,
.infographic h5 .small,
.infographic .h5 .small,
.infographic h6 .small,
.infographic .h6 .small {
  font-size: 75%;
}
.infographic h1,
.infographic .h1 {
  font-size: 36px;
}
.infographic h2,
.infographic .h2 {
  font-size: 30px;
}
.infographic h3,
.infographic .h3 {
  font-size: 24px;
}
.infographic h4,
.infographic .h4 {
  font-size: 18px;
}
.infographic h5,
.infographic .h5 {
  font-size: 14px;
}
.infographic h6,
.infographic .h6 {
  font-size: 12px;
}
.infographic p {
  margin: 0 0 10px;
}
.infographic .lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .infographic .lead {
    font-size: 21px;
  }
}
.infographic small,
.infographic .small {
  font-size: 85%;
}
.infographic mark,
.infographic .mark {
  background-color: #fcf8e3;
  padding: .2em;
}
.infographic .text-left {
  text-align: left;
}
.infographic .text-right {
  text-align: right;
}
.infographic .text-center {
  text-align: center;
}
.infographic .text-justify {
  text-align: justify;
}
.infographic .text-nowrap {
  white-space: nowrap;
}
.infographic .text-lowercase {
  text-transform: lowercase;
}
.infographic .text-uppercase {
  text-transform: uppercase;
}
.infographic .text-capitalize {
  text-transform: capitalize;
}
.infographic .text-muted {
  color: #777777;
}
.infographic .text-primary {
  color: #337ab7;
}
a.infographic .text-primary:hover,
a.infographic .text-primary:focus {
  color: #286090;
}
.infographic .text-success {
  color: #3c763d;
}
a.infographic .text-success:hover,
a.infographic .text-success:focus {
  color: #2b542c;
}
.infographic .text-info {
  color: #31708f;
}
a.infographic .text-info:hover,
a.infographic .text-info:focus {
  color: #245269;
}
.infographic .text-warning {
  color: #8a6d3b;
}
a.infographic .text-warning:hover,
a.infographic .text-warning:focus {
  color: #66512c;
}
.infographic .text-danger {
  color: #a94442;
}
a.infographic .text-danger:hover,
a.infographic .text-danger:focus {
  color: #843534;
}
.infographic .bg-primary {
  color: #fff;
  background-color: #337ab7;
}
a.infographic .bg-primary:hover,
a.infographic .bg-primary:focus {
  background-color: #286090;
}
.infographic .bg-success {
  background-color: #dff0d8;
}
a.infographic .bg-success:hover,
a.infographic .bg-success:focus {
  background-color: #c1e2b3;
}
.infographic .bg-info {
  background-color: #d9edf7;
}
a.infographic .bg-info:hover,
a.infographic .bg-info:focus {
  background-color: #afd9ee;
}
.infographic .bg-warning {
  background-color: #fcf8e3;
}
a.infographic .bg-warning:hover,
a.infographic .bg-warning:focus {
  background-color: #f7ecb5;
}
.infographic .bg-danger {
  background-color: #f2dede;
}
a.infographic .bg-danger:hover,
a.infographic .bg-danger:focus {
  background-color: #e4b9b9;
}
.infographic .page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
.infographic ul,
.infographic ol {
  margin-top: 0;
  margin-bottom: 10px;
}
.infographic ul ul,
.infographic ol ul,
.infographic ul ol,
.infographic ol ol {
  margin-bottom: 0;
}
.infographic .list-unstyled {
  padding-left: 0;
  list-style: none;
}
.infographic .list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.infographic .list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.infographic dl {
  margin-top: 0;
  margin-bottom: 20px;
}
.infographic dt,
.infographic dd {
  line-height: 1.42857143;
}
.infographic dt {
  font-weight: bold;
}
.infographic dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .infographic .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .infographic .dl-horizontal dd {
    margin-left: 180px;
  }
}
.infographic abbr[title],
.infographic abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}
.infographic .initialism {
  font-size: 90%;
  text-transform: uppercase;
}
.infographic blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
.infographic blockquote p:last-child,
.infographic blockquote ul:last-child,
.infographic blockquote ol:last-child {
  margin-bottom: 0;
}
.infographic blockquote footer,
.infographic blockquote small,
.infographic blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777777;
}
.infographic blockquote footer:before,
.infographic blockquote small:before,
.infographic blockquote .small:before {
  content: '\2014 \00A0';
}
.infographic .blockquote-reverse,
.infographic blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
.infographic .blockquote-reverse footer:before,
.infographic blockquote.pull-right footer:before,
.infographic .blockquote-reverse small:before,
.infographic blockquote.pull-right small:before,
.infographic .blockquote-reverse .small:before,
.infographic blockquote.pull-right .small:before {
  content: '';
}
.infographic .blockquote-reverse footer:after,
.infographic blockquote.pull-right footer:after,
.infographic .blockquote-reverse small:after,
.infographic blockquote.pull-right small:after,
.infographic .blockquote-reverse .small:after,
.infographic blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
.infographic address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
.infographic .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.infographic .btn:focus,
.infographic .btn:active:focus,
.infographic .btn.active:focus,
.infographic .btn.focus,
.infographic .btn:active.focus,
.infographic .btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.infographic .btn:hover,
.infographic .btn:focus,
.infographic .btn.focus {
  color: #333;
  text-decoration: none;
}
.infographic .btn:active,
.infographic .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.infographic .btn.disabled,
.infographic .btn[disabled],
fieldset[disabled] .infographic .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.infographic .btn.disabled,
fieldset[disabled] a.infographic .btn {
  pointer-events: none;
}
.infographic .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.infographic .btn-default:focus,
.infographic .btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.infographic .btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.infographic .btn-default:active,
.infographic .btn-default.active,
.open > .dropdown-toggle.infographic .btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.infographic .btn-default:active:hover,
.infographic .btn-default.active:hover,
.open > .dropdown-toggle.infographic .btn-default:hover,
.infographic .btn-default:active:focus,
.infographic .btn-default.active:focus,
.open > .dropdown-toggle.infographic .btn-default:focus,
.infographic .btn-default:active.focus,
.infographic .btn-default.active.focus,
.open > .dropdown-toggle.infographic .btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.infographic .btn-default:active,
.infographic .btn-default.active,
.open > .dropdown-toggle.infographic .btn-default {
  background-image: none;
}
.infographic .btn-default.disabled:hover,
.infographic .btn-default[disabled]:hover,
fieldset[disabled] .infographic .btn-default:hover,
.infographic .btn-default.disabled:focus,
.infographic .btn-default[disabled]:focus,
fieldset[disabled] .infographic .btn-default:focus,
.infographic .btn-default.disabled.focus,
.infographic .btn-default[disabled].focus,
fieldset[disabled] .infographic .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.infographic .btn-default .badge {
  color: #fff;
  background-color: #333;
}
.infographic .btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.infographic .btn-primary:focus,
.infographic .btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.infographic .btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.infographic .btn-primary:active,
.infographic .btn-primary.active,
.open > .dropdown-toggle.infographic .btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.infographic .btn-primary:active:hover,
.infographic .btn-primary.active:hover,
.open > .dropdown-toggle.infographic .btn-primary:hover,
.infographic .btn-primary:active:focus,
.infographic .btn-primary.active:focus,
.open > .dropdown-toggle.infographic .btn-primary:focus,
.infographic .btn-primary:active.focus,
.infographic .btn-primary.active.focus,
.open > .dropdown-toggle.infographic .btn-primary.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.infographic .btn-primary:active,
.infographic .btn-primary.active,
.open > .dropdown-toggle.infographic .btn-primary {
  background-image: none;
}
.infographic .btn-primary.disabled:hover,
.infographic .btn-primary[disabled]:hover,
fieldset[disabled] .infographic .btn-primary:hover,
.infographic .btn-primary.disabled:focus,
.infographic .btn-primary[disabled]:focus,
fieldset[disabled] .infographic .btn-primary:focus,
.infographic .btn-primary.disabled.focus,
.infographic .btn-primary[disabled].focus,
fieldset[disabled] .infographic .btn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.infographic .btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}
.infographic .btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.infographic .btn-success:focus,
.infographic .btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.infographic .btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.infographic .btn-success:active,
.infographic .btn-success.active,
.open > .dropdown-toggle.infographic .btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.infographic .btn-success:active:hover,
.infographic .btn-success.active:hover,
.open > .dropdown-toggle.infographic .btn-success:hover,
.infographic .btn-success:active:focus,
.infographic .btn-success.active:focus,
.open > .dropdown-toggle.infographic .btn-success:focus,
.infographic .btn-success:active.focus,
.infographic .btn-success.active.focus,
.open > .dropdown-toggle.infographic .btn-success.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.infographic .btn-success:active,
.infographic .btn-success.active,
.open > .dropdown-toggle.infographic .btn-success {
  background-image: none;
}
.infographic .btn-success.disabled:hover,
.infographic .btn-success[disabled]:hover,
fieldset[disabled] .infographic .btn-success:hover,
.infographic .btn-success.disabled:focus,
.infographic .btn-success[disabled]:focus,
fieldset[disabled] .infographic .btn-success:focus,
.infographic .btn-success.disabled.focus,
.infographic .btn-success[disabled].focus,
fieldset[disabled] .infographic .btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.infographic .btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.infographic .btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.infographic .btn-info:focus,
.infographic .btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.infographic .btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.infographic .btn-info:active,
.infographic .btn-info.active,
.open > .dropdown-toggle.infographic .btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.infographic .btn-info:active:hover,
.infographic .btn-info.active:hover,
.open > .dropdown-toggle.infographic .btn-info:hover,
.infographic .btn-info:active:focus,
.infographic .btn-info.active:focus,
.open > .dropdown-toggle.infographic .btn-info:focus,
.infographic .btn-info:active.focus,
.infographic .btn-info.active.focus,
.open > .dropdown-toggle.infographic .btn-info.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.infographic .btn-info:active,
.infographic .btn-info.active,
.open > .dropdown-toggle.infographic .btn-info {
  background-image: none;
}
.infographic .btn-info.disabled:hover,
.infographic .btn-info[disabled]:hover,
fieldset[disabled] .infographic .btn-info:hover,
.infographic .btn-info.disabled:focus,
.infographic .btn-info[disabled]:focus,
fieldset[disabled] .infographic .btn-info:focus,
.infographic .btn-info.disabled.focus,
.infographic .btn-info[disabled].focus,
fieldset[disabled] .infographic .btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.infographic .btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.infographic .btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.infographic .btn-warning:focus,
.infographic .btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}
.infographic .btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.infographic .btn-warning:active,
.infographic .btn-warning.active,
.open > .dropdown-toggle.infographic .btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.infographic .btn-warning:active:hover,
.infographic .btn-warning.active:hover,
.open > .dropdown-toggle.infographic .btn-warning:hover,
.infographic .btn-warning:active:focus,
.infographic .btn-warning.active:focus,
.open > .dropdown-toggle.infographic .btn-warning:focus,
.infographic .btn-warning:active.focus,
.infographic .btn-warning.active.focus,
.open > .dropdown-toggle.infographic .btn-warning.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}
.infographic .btn-warning:active,
.infographic .btn-warning.active,
.open > .dropdown-toggle.infographic .btn-warning {
  background-image: none;
}
.infographic .btn-warning.disabled:hover,
.infographic .btn-warning[disabled]:hover,
fieldset[disabled] .infographic .btn-warning:hover,
.infographic .btn-warning.disabled:focus,
.infographic .btn-warning[disabled]:focus,
fieldset[disabled] .infographic .btn-warning:focus,
.infographic .btn-warning.disabled.focus,
.infographic .btn-warning[disabled].focus,
fieldset[disabled] .infographic .btn-warning.focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.infographic .btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.infographic .btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.infographic .btn-danger:focus,
.infographic .btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.infographic .btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.infographic .btn-danger:active,
.infographic .btn-danger.active,
.open > .dropdown-toggle.infographic .btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.infographic .btn-danger:active:hover,
.infographic .btn-danger.active:hover,
.open > .dropdown-toggle.infographic .btn-danger:hover,
.infographic .btn-danger:active:focus,
.infographic .btn-danger.active:focus,
.open > .dropdown-toggle.infographic .btn-danger:focus,
.infographic .btn-danger:active.focus,
.infographic .btn-danger.active.focus,
.open > .dropdown-toggle.infographic .btn-danger.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.infographic .btn-danger:active,
.infographic .btn-danger.active,
.open > .dropdown-toggle.infographic .btn-danger {
  background-image: none;
}
.infographic .btn-danger.disabled:hover,
.infographic .btn-danger[disabled]:hover,
fieldset[disabled] .infographic .btn-danger:hover,
.infographic .btn-danger.disabled:focus,
.infographic .btn-danger[disabled]:focus,
fieldset[disabled] .infographic .btn-danger:focus,
.infographic .btn-danger.disabled.focus,
.infographic .btn-danger[disabled].focus,
fieldset[disabled] .infographic .btn-danger.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.infographic .btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.infographic .btn-link {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0;
}
.infographic .btn-link,
.infographic .btn-link:active,
.infographic .btn-link.active,
.infographic .btn-link[disabled],
fieldset[disabled] .infographic .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.infographic .btn-link,
.infographic .btn-link:hover,
.infographic .btn-link:focus,
.infographic .btn-link:active {
  border-color: transparent;
}
.infographic .btn-link:hover,
.infographic .btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.infographic .btn-link[disabled]:hover,
fieldset[disabled] .infographic .btn-link:hover,
.infographic .btn-link[disabled]:focus,
fieldset[disabled] .infographic .btn-link:focus {
  color: #777777;
  text-decoration: none;
}
.infographic .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.infographic .btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.infographic .btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.infographic .btn-block {
  display: block;
  width: 100%;
}
.infographic .btn-block + .btn-block {
  margin-top: 5px;
}
.infographic input[type="submit"].btn-block,
.infographic input[type="reset"].btn-block,
.infographic input[type="button"].btn-block {
  width: 100%;
}
.infographic .btn-group,
.infographic .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.infographic .btn-group > .btn,
.infographic .btn-group-vertical > .btn {
  position: relative;
  float: left;
}
.infographic .btn-group > .btn:hover,
.infographic .btn-group-vertical > .btn:hover,
.infographic .btn-group > .btn:focus,
.infographic .btn-group-vertical > .btn:focus,
.infographic .btn-group > .btn:active,
.infographic .btn-group-vertical > .btn:active,
.infographic .btn-group > .btn.active,
.infographic .btn-group-vertical > .btn.active {
  z-index: 2;
}
.infographic .btn-group .btn + .btn,
.infographic .btn-group .btn + .btn-group,
.infographic .btn-group .btn-group + .btn,
.infographic .btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
.infographic .btn-toolbar {
  margin-left: -5px;
}
.infographic .btn-toolbar .btn,
.infographic .btn-toolbar .btn-group,
.infographic .btn-toolbar .input-group {
  float: left;
}
.infographic .btn-toolbar > .btn,
.infographic .btn-toolbar > .btn-group,
.infographic .btn-toolbar > .input-group {
  margin-left: 5px;
}
.infographic .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.infographic .btn-group > .btn:first-child {
  margin-left: 0;
}
.infographic .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.infographic .btn-group > .btn:last-child:not(:first-child),
.infographic .btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.infographic .btn-group > .btn-group {
  float: left;
}
.infographic .btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.infographic .btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.infographic .btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.infographic .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.infographic .btn-group .dropdown-toggle:active,
.infographic .btn-group.open .dropdown-toggle {
  outline: 0;
}
.infographic .btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}
.infographic .btn-group > .btn-lg + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}
.infographic .btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.infographic .btn-group.open .dropdown-toggle.btn-link {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.infographic .btn .caret {
  margin-left: 0;
}
.infographic .btn-lg .caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0;
}
.infographic .dropup .btn-lg .caret {
  border-width: 0 5px 5px;
}
.infographic .btn-group-vertical > .btn,
.infographic .btn-group-vertical > .btn-group,
.infographic .btn-group-vertical > .btn-group > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}
.infographic .btn-group-vertical > .btn-group > .btn {
  float: none;
}
.infographic .btn-group-vertical > .btn + .btn,
.infographic .btn-group-vertical > .btn + .btn-group,
.infographic .btn-group-vertical > .btn-group + .btn,
.infographic .btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-left: 0;
}
.infographic .btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.infographic .btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.infographic .btn-group-vertical > .btn:last-child:not(:first-child) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.infographic .btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.infographic .btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
.infographic .btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.infographic .btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.infographic .btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.infographic .btn-group-justified > .btn,
.infographic .btn-group-justified > .btn-group {
  float: none;
  display: table-cell;
  width: 1%;
}
.infographic .btn-group-justified > .btn-group .btn {
  width: 100%;
}
.infographic .btn-group-justified > .btn-group .dropdown-menu {
  left: auto;
}
.infographic [data-toggle="buttons"] > .btn input[type="radio"],
.infographic [data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
.infographic [data-toggle="buttons"] > .btn input[type="checkbox"],
.infographic [data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.infographic .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.infographic .dropup,
.infographic .dropdown {
  position: relative;
}
.infographic .dropdown-toggle:focus {
  outline: 0;
}
.infographic .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.infographic .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.infographic .dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.infographic .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.infographic .dropdown-menu > li > a:hover,
.infographic .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.infographic .dropdown-menu > .active > a,
.infographic .dropdown-menu > .active > a:hover,
.infographic .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.infographic .dropdown-menu > .disabled > a,
.infographic .dropdown-menu > .disabled > a:hover,
.infographic .dropdown-menu > .disabled > a:focus {
  color: #777777;
}
.infographic .dropdown-menu > .disabled > a:hover,
.infographic .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.infographic .open > .dropdown-menu {
  display: block;
}
.infographic .open > a {
  outline: 0;
}
.infographic .dropdown-menu-right {
  left: auto;
  right: 0;
}
.infographic .dropdown-menu-left {
  left: 0;
  right: auto;
}
.infographic .dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap;
}
.infographic .dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.infographic .pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.infographic .dropup .caret,
.infographic .navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}
.infographic .dropup .dropdown-menu,
.infographic .navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .infographic .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .infographic .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.infographic .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.infographic .glyphicon-asterisk:before {
  content: "\002a";
}
.infographic .glyphicon-plus:before {
  content: "\002b";
}
.infographic .glyphicon-euro:before,
.infographic .glyphicon-eur:before {
  content: "\20ac";
}
.infographic .glyphicon-minus:before {
  content: "\2212";
}
.infographic .glyphicon-cloud:before {
  content: "\2601";
}
.infographic .glyphicon-envelope:before {
  content: "\2709";
}
.infographic .glyphicon-pencil:before {
  content: "\270f";
}
.infographic .glyphicon-glass:before {
  content: "\e001";
}
.infographic .glyphicon-music:before {
  content: "\e002";
}
.infographic .glyphicon-search:before {
  content: "\e003";
}
.infographic .glyphicon-heart:before {
  content: "\e005";
}
.infographic .glyphicon-star:before {
  content: "\e006";
}
.infographic .glyphicon-star-empty:before {
  content: "\e007";
}
.infographic .glyphicon-user:before {
  content: "\e008";
}
.infographic .glyphicon-film:before {
  content: "\e009";
}
.infographic .glyphicon-th-large:before {
  content: "\e010";
}
.infographic .glyphicon-th:before {
  content: "\e011";
}
.infographic .glyphicon-th-list:before {
  content: "\e012";
}
.infographic .glyphicon-ok:before {
  content: "\e013";
}
.infographic .glyphicon-remove:before {
  content: "\e014";
}
.infographic .glyphicon-zoom-in:before {
  content: "\e015";
}
.infographic .glyphicon-zoom-out:before {
  content: "\e016";
}
.infographic .glyphicon-off:before {
  content: "\e017";
}
.infographic .glyphicon-signal:before {
  content: "\e018";
}
.infographic .glyphicon-cog:before {
  content: "\e019";
}
.infographic .glyphicon-trash:before {
  content: "\e020";
}
.infographic .glyphicon-home:before {
  content: "\e021";
}
.infographic .glyphicon-file:before {
  content: "\e022";
}
.infographic .glyphicon-time:before {
  content: "\e023";
}
.infographic .glyphicon-road:before {
  content: "\e024";
}
.infographic .glyphicon-download-alt:before {
  content: "\e025";
}
.infographic .glyphicon-download:before {
  content: "\e026";
}
.infographic .glyphicon-upload:before {
  content: "\e027";
}
.infographic .glyphicon-inbox:before {
  content: "\e028";
}
.infographic .glyphicon-play-circle:before {
  content: "\e029";
}
.infographic .glyphicon-repeat:before {
  content: "\e030";
}
.infographic .glyphicon-refresh:before {
  content: "\e031";
}
.infographic .glyphicon-list-alt:before {
  content: "\e032";
}
.infographic .glyphicon-lock:before {
  content: "\e033";
}
.infographic .glyphicon-flag:before {
  content: "\e034";
}
.infographic .glyphicon-headphones:before {
  content: "\e035";
}
.infographic .glyphicon-volume-off:before {
  content: "\e036";
}
.infographic .glyphicon-volume-down:before {
  content: "\e037";
}
.infographic .glyphicon-volume-up:before {
  content: "\e038";
}
.infographic .glyphicon-qrcode:before {
  content: "\e039";
}
.infographic .glyphicon-barcode:before {
  content: "\e040";
}
.infographic .glyphicon-tag:before {
  content: "\e041";
}
.infographic .glyphicon-tags:before {
  content: "\e042";
}
.infographic .glyphicon-book:before {
  content: "\e043";
}
.infographic .glyphicon-bookmark:before {
  content: "\e044";
}
.infographic .glyphicon-print:before {
  content: "\e045";
}
.infographic .glyphicon-camera:before {
  content: "\e046";
}
.infographic .glyphicon-font:before {
  content: "\e047";
}
.infographic .glyphicon-bold:before {
  content: "\e048";
}
.infographic .glyphicon-italic:before {
  content: "\e049";
}
.infographic .glyphicon-text-height:before {
  content: "\e050";
}
.infographic .glyphicon-text-width:before {
  content: "\e051";
}
.infographic .glyphicon-align-left:before {
  content: "\e052";
}
.infographic .glyphicon-align-center:before {
  content: "\e053";
}
.infographic .glyphicon-align-right:before {
  content: "\e054";
}
.infographic .glyphicon-align-justify:before {
  content: "\e055";
}
.infographic .glyphicon-list:before {
  content: "\e056";
}
.infographic .glyphicon-indent-left:before {
  content: "\e057";
}
.infographic .glyphicon-indent-right:before {
  content: "\e058";
}
.infographic .glyphicon-facetime-video:before {
  content: "\e059";
}
.infographic .glyphicon-picture:before {
  content: "\e060";
}
.infographic .glyphicon-map-marker:before {
  content: "\e062";
}
.infographic .glyphicon-adjust:before {
  content: "\e063";
}
.infographic .glyphicon-tint:before {
  content: "\e064";
}
.infographic .glyphicon-edit:before {
  content: "\e065";
}
.infographic .glyphicon-share:before {
  content: "\e066";
}
.infographic .glyphicon-check:before {
  content: "\e067";
}
.infographic .glyphicon-move:before {
  content: "\e068";
}
.infographic .glyphicon-step-backward:before {
  content: "\e069";
}
.infographic .glyphicon-fast-backward:before {
  content: "\e070";
}
.infographic .glyphicon-backward:before {
  content: "\e071";
}
.infographic .glyphicon-play:before {
  content: "\e072";
}
.infographic .glyphicon-pause:before {
  content: "\e073";
}
.infographic .glyphicon-stop:before {
  content: "\e074";
}
.infographic .glyphicon-forward:before {
  content: "\e075";
}
.infographic .glyphicon-fast-forward:before {
  content: "\e076";
}
.infographic .glyphicon-step-forward:before {
  content: "\e077";
}
.infographic .glyphicon-eject:before {
  content: "\e078";
}
.infographic .glyphicon-chevron-left:before {
  content: "\e079";
}
.infographic .glyphicon-chevron-right:before {
  content: "\e080";
}
.infographic .glyphicon-plus-sign:before {
  content: "\e081";
}
.infographic .glyphicon-minus-sign:before {
  content: "\e082";
}
.infographic .glyphicon-remove-sign:before {
  content: "\e083";
}
.infographic .glyphicon-ok-sign:before {
  content: "\e084";
}
.infographic .glyphicon-question-sign:before {
  content: "\e085";
}
.infographic .glyphicon-info-sign:before {
  content: "\e086";
}
.infographic .glyphicon-screenshot:before {
  content: "\e087";
}
.infographic .glyphicon-remove-circle:before {
  content: "\e088";
}
.infographic .glyphicon-ok-circle:before {
  content: "\e089";
}
.infographic .glyphicon-ban-circle:before {
  content: "\e090";
}
.infographic .glyphicon-arrow-left:before {
  content: "\e091";
}
.infographic .glyphicon-arrow-right:before {
  content: "\e092";
}
.infographic .glyphicon-arrow-up:before {
  content: "\e093";
}
.infographic .glyphicon-arrow-down:before {
  content: "\e094";
}
.infographic .glyphicon-share-alt:before {
  content: "\e095";
}
.infographic .glyphicon-resize-full:before {
  content: "\e096";
}
.infographic .glyphicon-resize-small:before {
  content: "\e097";
}
.infographic .glyphicon-exclamation-sign:before {
  content: "\e101";
}
.infographic .glyphicon-gift:before {
  content: "\e102";
}
.infographic .glyphicon-leaf:before {
  content: "\e103";
}
.infographic .glyphicon-fire:before {
  content: "\e104";
}
.infographic .glyphicon-eye-open:before {
  content: "\e105";
}
.infographic .glyphicon-eye-close:before {
  content: "\e106";
}
.infographic .glyphicon-warning-sign:before {
  content: "\e107";
}
.infographic .glyphicon-plane:before {
  content: "\e108";
}
.infographic .glyphicon-calendar:before {
  content: "\e109";
}
.infographic .glyphicon-random:before {
  content: "\e110";
}
.infographic .glyphicon-comment:before {
  content: "\e111";
}
.infographic .glyphicon-magnet:before {
  content: "\e112";
}
.infographic .glyphicon-chevron-up:before {
  content: "\e113";
}
.infographic .glyphicon-chevron-down:before {
  content: "\e114";
}
.infographic .glyphicon-retweet:before {
  content: "\e115";
}
.infographic .glyphicon-shopping-cart:before {
  content: "\e116";
}
.infographic .glyphicon-folder-close:before {
  content: "\e117";
}
.infographic .glyphicon-folder-open:before {
  content: "\e118";
}
.infographic .glyphicon-resize-vertical:before {
  content: "\e119";
}
.infographic .glyphicon-resize-horizontal:before {
  content: "\e120";
}
.infographic .glyphicon-hdd:before {
  content: "\e121";
}
.infographic .glyphicon-bullhorn:before {
  content: "\e122";
}
.infographic .glyphicon-bell:before {
  content: "\e123";
}
.infographic .glyphicon-certificate:before {
  content: "\e124";
}
.infographic .glyphicon-thumbs-up:before {
  content: "\e125";
}
.infographic .glyphicon-thumbs-down:before {
  content: "\e126";
}
.infographic .glyphicon-hand-right:before {
  content: "\e127";
}
.infographic .glyphicon-hand-left:before {
  content: "\e128";
}
.infographic .glyphicon-hand-up:before {
  content: "\e129";
}
.infographic .glyphicon-hand-down:before {
  content: "\e130";
}
.infographic .glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.infographic .glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.infographic .glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.infographic .glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.infographic .glyphicon-globe:before {
  content: "\e135";
}
.infographic .glyphicon-wrench:before {
  content: "\e136";
}
.infographic .glyphicon-tasks:before {
  content: "\e137";
}
.infographic .glyphicon-filter:before {
  content: "\e138";
}
.infographic .glyphicon-briefcase:before {
  content: "\e139";
}
.infographic .glyphicon-fullscreen:before {
  content: "\e140";
}
.infographic .glyphicon-dashboard:before {
  content: "\e141";
}
.infographic .glyphicon-paperclip:before {
  content: "\e142";
}
.infographic .glyphicon-heart-empty:before {
  content: "\e143";
}
.infographic .glyphicon-link:before {
  content: "\e144";
}
.infographic .glyphicon-phone:before {
  content: "\e145";
}
.infographic .glyphicon-pushpin:before {
  content: "\e146";
}
.infographic .glyphicon-usd:before {
  content: "\e148";
}
.infographic .glyphicon-gbp:before {
  content: "\e149";
}
.infographic .glyphicon-sort:before {
  content: "\e150";
}
.infographic .glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.infographic .glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.infographic .glyphicon-sort-by-order:before {
  content: "\e153";
}
.infographic .glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.infographic .glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.infographic .glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.infographic .glyphicon-unchecked:before {
  content: "\e157";
}
.infographic .glyphicon-expand:before {
  content: "\e158";
}
.infographic .glyphicon-collapse-down:before {
  content: "\e159";
}
.infographic .glyphicon-collapse-up:before {
  content: "\e160";
}
.infographic .glyphicon-log-in:before {
  content: "\e161";
}
.infographic .glyphicon-flash:before {
  content: "\e162";
}
.infographic .glyphicon-log-out:before {
  content: "\e163";
}
.infographic .glyphicon-new-window:before {
  content: "\e164";
}
.infographic .glyphicon-record:before {
  content: "\e165";
}
.infographic .glyphicon-save:before {
  content: "\e166";
}
.infographic .glyphicon-open:before {
  content: "\e167";
}
.infographic .glyphicon-saved:before {
  content: "\e168";
}
.infographic .glyphicon-import:before {
  content: "\e169";
}
.infographic .glyphicon-export:before {
  content: "\e170";
}
.infographic .glyphicon-send:before {
  content: "\e171";
}
.infographic .glyphicon-floppy-disk:before {
  content: "\e172";
}
.infographic .glyphicon-floppy-saved:before {
  content: "\e173";
}
.infographic .glyphicon-floppy-remove:before {
  content: "\e174";
}
.infographic .glyphicon-floppy-save:before {
  content: "\e175";
}
.infographic .glyphicon-floppy-open:before {
  content: "\e176";
}
.infographic .glyphicon-credit-card:before {
  content: "\e177";
}
.infographic .glyphicon-transfer:before {
  content: "\e178";
}
.infographic .glyphicon-cutlery:before {
  content: "\e179";
}
.infographic .glyphicon-header:before {
  content: "\e180";
}
.infographic .glyphicon-compressed:before {
  content: "\e181";
}
.infographic .glyphicon-earphone:before {
  content: "\e182";
}
.infographic .glyphicon-phone-alt:before {
  content: "\e183";
}
.infographic .glyphicon-tower:before {
  content: "\e184";
}
.infographic .glyphicon-stats:before {
  content: "\e185";
}
.infographic .glyphicon-sd-video:before {
  content: "\e186";
}
.infographic .glyphicon-hd-video:before {
  content: "\e187";
}
.infographic .glyphicon-subtitles:before {
  content: "\e188";
}
.infographic .glyphicon-sound-stereo:before {
  content: "\e189";
}
.infographic .glyphicon-sound-dolby:before {
  content: "\e190";
}
.infographic .glyphicon-sound-5-1:before {
  content: "\e191";
}
.infographic .glyphicon-sound-6-1:before {
  content: "\e192";
}
.infographic .glyphicon-sound-7-1:before {
  content: "\e193";
}
.infographic .glyphicon-copyright-mark:before {
  content: "\e194";
}
.infographic .glyphicon-registration-mark:before {
  content: "\e195";
}
.infographic .glyphicon-cloud-download:before {
  content: "\e197";
}
.infographic .glyphicon-cloud-upload:before {
  content: "\e198";
}
.infographic .glyphicon-tree-conifer:before {
  content: "\e199";
}
.infographic .glyphicon-tree-deciduous:before {
  content: "\e200";
}
.infographic .glyphicon-cd:before {
  content: "\e201";
}
.infographic .glyphicon-save-file:before {
  content: "\e202";
}
.infographic .glyphicon-open-file:before {
  content: "\e203";
}
.infographic .glyphicon-level-up:before {
  content: "\e204";
}
.infographic .glyphicon-copy:before {
  content: "\e205";
}
.infographic .glyphicon-paste:before {
  content: "\e206";
}
.infographic .glyphicon-alert:before {
  content: "\e209";
}
.infographic .glyphicon-equalizer:before {
  content: "\e210";
}
.infographic .glyphicon-king:before {
  content: "\e211";
}
.infographic .glyphicon-queen:before {
  content: "\e212";
}
.infographic .glyphicon-pawn:before {
  content: "\e213";
}
.infographic .glyphicon-bishop:before {
  content: "\e214";
}
.infographic .glyphicon-knight:before {
  content: "\e215";
}
.infographic .glyphicon-baby-formula:before {
  content: "\e216";
}
.infographic .glyphicon-tent:before {
  content: "\26fa";
}
.infographic .glyphicon-blackboard:before {
  content: "\e218";
}
.infographic .glyphicon-bed:before {
  content: "\e219";
}
.infographic .glyphicon-apple:before {
  content: "\f8ff";
}
.infographic .glyphicon-erase:before {
  content: "\e221";
}
.infographic .glyphicon-hourglass:before {
  content: "\231b";
}
.infographic .glyphicon-lamp:before {
  content: "\e223";
}
.infographic .glyphicon-duplicate:before {
  content: "\e224";
}
.infographic .glyphicon-piggy-bank:before {
  content: "\e225";
}
.infographic .glyphicon-scissors:before {
  content: "\e226";
}
.infographic .glyphicon-bitcoin:before {
  content: "\e227";
}
.infographic .glyphicon-btc:before {
  content: "\e227";
}
.infographic .glyphicon-xbt:before {
  content: "\e227";
}
.infographic .glyphicon-yen:before {
  content: "\00a5";
}
.infographic .glyphicon-jpy:before {
  content: "\00a5";
}
.infographic .glyphicon-ruble:before {
  content: "\20bd";
}
.infographic .glyphicon-rub:before {
  content: "\20bd";
}
.infographic .glyphicon-scale:before {
  content: "\e230";
}
.infographic .glyphicon-ice-lolly:before {
  content: "\e231";
}
.infographic .glyphicon-ice-lolly-tasted:before {
  content: "\e232";
}
.infographic .glyphicon-education:before {
  content: "\e233";
}
.infographic .glyphicon-option-horizontal:before {
  content: "\e234";
}
.infographic .glyphicon-option-vertical:before {
  content: "\e235";
}
.infographic .glyphicon-menu-hamburger:before {
  content: "\e236";
}
.infographic .glyphicon-modal-window:before {
  content: "\e237";
}
.infographic .glyphicon-oil:before {
  content: "\e238";
}
.infographic .glyphicon-grain:before {
  content: "\e239";
}
.infographic .glyphicon-sunglasses:before {
  content: "\e240";
}
.infographic .glyphicon-text-size:before {
  content: "\e241";
}
.infographic .glyphicon-text-color:before {
  content: "\e242";
}
.infographic .glyphicon-text-background:before {
  content: "\e243";
}
.infographic .glyphicon-object-align-top:before {
  content: "\e244";
}
.infographic .glyphicon-object-align-bottom:before {
  content: "\e245";
}
.infographic .glyphicon-object-align-horizontal:before {
  content: "\e246";
}
.infographic .glyphicon-object-align-left:before {
  content: "\e247";
}
.infographic .glyphicon-object-align-vertical:before {
  content: "\e248";
}
.infographic .glyphicon-object-align-right:before {
  content: "\e249";
}
.infographic .glyphicon-triangle-right:before {
  content: "\e250";
}
.infographic .glyphicon-triangle-left:before {
  content: "\e251";
}
.infographic .glyphicon-triangle-bottom:before {
  content: "\e252";
}
.infographic .glyphicon-triangle-top:before {
  content: "\e253";
}
.infographic .glyphicon-console:before {
  content: "\e254";
}
.infographic .glyphicon-superscript:before {
  content: "\e255";
}
.infographic .glyphicon-subscript:before {
  content: "\e256";
}
.infographic .glyphicon-menu-left:before {
  content: "\e257";
}
.infographic .glyphicon-menu-right:before {
  content: "\e258";
}
.infographic .glyphicon-menu-down:before {
  content: "\e259";
}
.infographic .glyphicon-menu-up:before {
  content: "\e260";
}
