<% if action_path && image_path %>
  <%= link_to image_tag(image_path), action_path, method: :put, class: "select-preview" %>
  <div class="suggested_cover_links">
    <%= button_to(
          custom_t(".use_suggested_cover"),
          action_path,
          class: "submit button-callout-alt",
          class: "select-preview",
          method: :put,
          data: {
            disable_with: custom_t(".use_suggested_cover")
          }
        ) %>
    <a href="#" class="cancel-preview-selection cancel"><%= custom_t(:cancel_and_go_back) %></a>
  </div>
<% else %>
  <div>
    <a href="#" class="cancel-preview-selection cancel"><%= custom_t(:cancel_and_go_back) %></a>
  </div>
<% end %>
