<%= javascript_include_tag "/javascripts/prototype" %>
<%= javascript_include_tag "/javascripts/effects" %>
<% content_for :extra_js do %>
  <%= javascript_include_tag "/javascripts/window" %>
  <%= javascript_include_tag "/javascripts/window_effects" %>
  <link href="/javascripts/themes/default.css" rel="stylesheet" type="text/css" />
<% end %>

<style>
  .dialog{
    border: solid black 1px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: white;
    padding: 16px 16px 25px 16px;
  }
  .default_title{
    display:none;
  }
</style>
<section id="maincontent" class="grid_16">
  <header>
    <h1><%= custom_t(".artwork_tool") %></h1>
  </header>
  <div id="suggested_artwork_container">
    <div style="float:clear;display:block;padding-bottom:1em">
      <p style="font-weight: bold; font-size: 16px;"><%= custom_t(".tool_unavailable") %></p>
      <p style="font-weight: bold; font-size: 16px;"><%= custom_t(".sorry") %></p>
      <%= link_to custom_t(".back_to_dashboard"), dashboard_path %>
    </div>
  </div>
</section>
