<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/magnific-popup" %>
  <%= stylesheet_link_tag("artwork_suggestions") %>
  <% if @dark_mode %>
    <%= stylesheet_link_tag "dark_mode/artwork_suggestions" %>
  <% end %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup" %>
  <%= javascript_include_tag("artwork_suggestions") %>
<% end %>

<div id="loading_preview" class="mfp-hide suggested-artwork-preview-modal">
  <div id="window_contents">
  </div>
</div>

<div id="next_step_indicator" style="display:none">
  <h1 class="page_title" style='text-align:center;padding-top:6em;'>
    <%= custom_t(".creating_artwork_with_ellipsis") %>
  </h1>
  <img src="/images/spinner01.gif" style="padding:140px 0 0 135px;"/>
</div>

<section id="maincontent" class="grid_16">
  <header>
    <h1><%= custom_t(".artwork_gallery") %></h1>
  </header>
  <div id="suggested_artwork_container">
    <div style="float:clear;display:block;padding-bottom:1em">
      <%= custom_t(".select_image") %>
    </div>

    <div style="float:clear;display:block;padding-bottom:1em">
      <%= button_to custom_t('.generate_more'), new_album_artwork_suggestion_path(@album), remote: true, method: :get, id: "generate-more-artwork" %>
    </div>

    <% (@suggestion_indices).each do |suggestion_index| %>
      <div id="cover_suggestion_<%= suggestion_index %>" class="suggested_artwork">
        <img src="/images/spinner01.gif" style="padding:140px 0 0 135px;"/>
      </div>
    <% end %>
  </div>
</section>
