<% @covers.each.with_index do |cover, i| %>
  jQuery("#cover_suggestion_<%= @suggestion_indices[i] %>").html('<%= j render(
    partial: "cover_suggestion",
    locals: {
      image_path: cover.s3_cover_path,
      action_path: preview_album_artwork_suggestion_path(@album, cover)
    }
  ) %>');
<% end %>
