jQuery("#window_contents").html('<%= j render(partial: "preview", locals: {image_path: @image_path, action_path: @action_path}) %>');
jQuery.magnificPopup.open({
  inline: true,
  items: {
    src: "#loading_preview"
  },
  modal: true
});
jQuery("#loading_preview").removeClass("mfp-hide");
