<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 25.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class="<%= embed_class %>"
	 viewBox="0 0 16 15" style="enable-background:new 0 0 16 15;" xml:space="preserve">
<style type="text/css">
	.st0{enable-background:new    ;}
	.st1{fill:#FFFFFF;}
</style>
<g class="st0">
	<path class="st1" d="M15.3,7.4c0,4-3.3,7.3-7.3,7.3s-7.3-3.3-7.3-7.3S4,0.1,8,0.1S15.3,3.4,15.3,7.4z M14.3,7.4
		C14.3,3.9,11.5,1,8,1C4.5,1,1.7,3.9,1.7,7.4c0,3.5,2.9,6.3,6.3,6.3C11.5,13.7,14.3,10.9,14.3,7.4z M10.3,7.4c0,1.3-1,2.3-2.3,2.3
		c-1.3,0-2.3-1-2.3-2.3S6.7,5,8,5C9.3,5,10.3,6.1,10.3,7.4z M9.4,7.4C9.4,6.6,8.8,6,8,6S6.6,6.6,6.6,7.4S7.2,8.8,8,8.8
		S9.4,8.2,9.4,7.4z"/>
</g>
</svg>
