<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 25.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class="<%= embed_class %>"
	 viewBox="0 0 262.1 51.7" style="enable-background:new 0 0 262.1 51.7;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#FFFFFF;}
</style>
<g id="Layer_2_1_">
	<g id="Layer_1-2">
		<path class="st0" d="M160.6,36.4c-0.4,1-1,2-1.6,2.9c-1.7,2.4-4.2,4.2-7,5.1c-1.5,0.5-3,0.7-4.6,0.7c-2,0-3.9-0.4-5.8-1.2
			c-1.8-0.8-3.4-1.9-4.7-3.3c-2.8-3-4.3-6.9-4.3-11c0-2.1,0.4-4.1,1.2-6c0.7-1.8,1.8-3.5,3.1-4.9c1.3-1.4,2.9-2.5,4.7-3.3
			c1.8-0.8,3.8-1.2,5.8-1.2c1.6,0,3.2,0.2,4.7,0.7c2.8,0.9,5.3,2.7,6.9,5.2c0.6,0.9,1.2,1.9,1.6,2.9h3.3c-0.6-1.7-1.4-3.4-2.4-4.9
			c-2-2.9-5-5.1-8.4-6.2c-1.8-0.6-3.8-0.9-5.7-0.9c-2.4,0-4.8,0.5-6.9,1.5c-2.1,1-4.1,2.3-5.7,4c-3.4,3.6-5.2,8.3-5.2,13.2
			c0,4.9,1.9,9.6,5.2,13.2c1.6,1.7,3.5,3,5.7,4c2.2,1,4.5,1.5,6.9,1.5c1.8,0,3.7-0.3,5.4-0.8c3.4-1.1,6.4-3.3,8.5-6.2
			c1.1-1.5,1.9-3.1,2.5-4.9H160.6z"/>
		<path class="st0" d="M200.2,22.2c-0.9-2.2-2.2-4.3-3.8-6c-1.6-1.7-3.6-3.1-5.7-4c-2.2-1-4.6-1.4-7-1.4c-2.4,0-4.8,0.5-7,1.5
			c-2.2,1-4.1,2.4-5.7,4.1c-3.4,3.6-5.3,8.4-5.2,13.3c0,2.5,0.5,5,1.4,7.4c0.9,2.2,2.2,4.3,3.8,6c1.6,1.7,3.6,3.1,5.7,4
			c4.4,1.9,9.5,1.9,13.9,0c2.1-0.9,4.1-2.3,5.7-4c1.6-1.7,2.9-3.8,3.8-6c1-2.4,1.4-4.9,1.4-7.4C201.6,27.1,201.1,24.5,200.2,22.2z
			 M197.3,35.7c-0.7,1.8-1.8,3.5-3.2,4.9c-1.3,1.4-2.9,2.5-4.7,3.3c-3.7,1.6-7.9,1.6-11.6,0c-1.8-0.8-3.4-1.9-4.7-3.3
			c-1.4-1.4-2.4-3.1-3.2-4.9c-0.8-1.9-1.2-4-1.2-6.1c0-4.1,1.5-8,4.3-11c1.3-1.4,2.9-2.6,4.7-3.3c1.8-0.8,3.8-1.2,5.8-1.2
			c4,0,7.8,1.6,10.5,4.5c1.4,1.4,2.4,3.1,3.1,4.9c0.8,2,1.2,4.1,1.1,6.2C198.5,31.7,198.1,33.8,197.3,35.7L197.3,35.7z"/>
		<path class="st0" d="M231.3,47H228v-8.8c0.1-1.5-0.4-2.9-1.4-4c-0.9-0.9-2.4-1.4-4.5-1.4h-14V47h-3.4V10.8h13.8
			c2.4,0,4.8,0.3,7.2,0.8c1.4,0.5,2.6,1.3,3.7,2.2c1,1,1.8,2.1,2.3,3.5c0.5,1.5,0.7,3,0.6,4.6c0.1,1.7-0.3,3.5-1.1,5
			c-0.9,1.5-2.1,2.7-3.6,3.6c2.5,1.5,3.8,4,3.8,7.6L231.3,47z M220.5,29.5c2,0,4-0.5,5.7-1.6c1.7-1.1,2.9-2.5,2.9-6.2
			s-1.3-5.2-3-6.3c-1.8-1-3.9-1.5-6-1.4h-12v15.5H220.5z"/>
		<path class="st0" d="M262.1,10.8V14h-22.5V27H260v3.1h-20.4v13.6h22.5V47h-25.9V10.8H262.1z"/>
		<path class="st0" d="M16,40.9c-0.9-0.2-1.8-0.6-2.5-1.1c-0.8-0.6-1.3-1.4-1.7-2.3c-0.5-1.2-0.7-2.5-0.6-3.8V17h8.1v-6.2h-8.1V3.3
			H4.8v7.6H0V17h4.8v16.7c0,2.1,0.3,4.1,1.1,6.1c0.6,1.7,1.6,3.2,2.9,4.4c1.3,1.2,2.8,2,4.5,2.5c1.2,0.3,2.5,0.5,3.8,0.5
			c0.7,0,1.3,0,2-0.1h0.3v-6h-0.3C18.1,41.1,17,41,16,40.9z M46.4,33c0,2.4-0.9,4.7-2.6,6.4c-0.8,0.8-1.8,1.5-2.8,1.9
			c-1.1,0.4-2.3,0.7-3.5,0.7c-2.4,0.2-4.7-0.7-6.3-2.5c-1.5-1.9-2.3-4.2-2.2-6.6v-22h-6.4v21.7c0,2.1,0.3,4.1,0.9,6.1
			c0.6,1.8,1.5,3.4,2.7,4.8c1.2,1.4,2.7,2.5,4.4,3.2c1.9,0.8,3.9,1.2,5.9,1.1c2.1,0,4.2-0.4,6.1-1.3c1.5-0.7,2.9-1.7,4-2.9V47h6.2
			V10.9h-6.5V33z M83,14.3c-1.2-1.4-2.7-2.5-4.4-3.2c-1.9-0.8-3.9-1.2-5.9-1.1c-2.1,0-4.1,0.4-6,1.3c-1.5,0.7-2.9,1.8-4,3v-3.4h-6.3
			V47h6.4V25c0-1.2,0.2-2.4,0.7-3.6c0.4-1.1,1.1-2,1.9-2.8c1.7-1.7,4.1-2.6,6.5-2.6c2.4-0.2,4.7,0.8,6.3,2.6
			c1.5,1.9,2.2,4.2,2.2,6.6V47h6.4V25.3c0-2.1-0.3-4.2-0.9-6.2C85.2,17.3,84.2,15.7,83,14.3z M126,30.5c0-2.9-0.5-5.8-1.5-8.6
			c-0.9-2.4-2.3-4.6-4.1-6.4c-1.7-1.7-3.7-3.1-5.9-4.1c-2.2-0.9-4.5-1.4-6.8-1.4c-2.4,0-4.9,0.5-7.1,1.5c-2.2,1-4.1,2.4-5.7,4.1
			c-3.4,3.6-5.3,8.4-5.3,13.4c0,2.5,0.4,5.1,1.4,7.4c1.8,4.5,5.3,8.1,9.8,10c5.9,2.4,12.6,1.8,18-1.7c3-2.2,5.3-5.4,6.3-9l0.1-0.4
			h-6.8l-0.1,0.2c-0.9,1.9-2.2,3.6-4,4.7c-1.9,1.2-4.1,1.7-6.3,1.7c-2.9,0-5.7-1.1-7.8-3c-1.1-1-2.1-2.3-2.8-3.6
			c-0.7-1.4-1.2-2.9-1.3-4.5H126V30.5z M96.5,24.9c0.3-1.3,0.9-2.5,1.6-3.6c0.7-1.1,1.7-2.1,2.7-3c1-0.8,2.1-1.4,3.3-1.9
			c2.3-0.9,4.9-0.9,7.2,0c1.2,0.5,2.3,1.1,3.3,1.9c1,0.9,1.9,1.9,2.6,3c0.7,1.1,1.2,2.3,1.6,3.5L96.5,24.9z"/>
	</g>
</g>
</svg>
