<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 25.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class="<%= embed_class %>"
	 viewBox="0 0 16 15" style="enable-background:new 0 0 16 15;" xml:space="preserve">
<style type="text/css">
	.st0{enable-background:new    ;}
	.<%= parent_component %>{fill:url(#<%= parent_component %>);}
</style>
<g class="st0">
		<linearGradient id="<%= parent_component %>" gradientUnits="userSpaceOnUse" x1="0.2728" y1="15.6328" x2="15.9153" y2="1.1936" gradientTransform="matrix(1 0 0 -1 0 16)">
		<stop  offset="0.1438" style="stop-color:#FEDC00"/>
		<stop  offset="0.8727" style="stop-color:#DA6B27"/>
	</linearGradient>
	<path class="<%= parent_component %>" d="M15.3,7.5c0,4-3.3,7.3-7.3,7.3s-7.3-3.3-7.3-7.3S4,0.2,8,0.2S15.3,3.5,15.3,7.5z M14.3,7.5
		c0-3.5-2.8-6.4-6.3-6.4S1.7,4,1.7,7.5s2.9,6.3,6.3,6.3C11.5,13.8,14.3,11,14.3,7.5z M10.3,7.5c0,1.3-1,2.3-2.3,2.3s-2.3-1-2.3-2.3
		s1-2.4,2.3-2.4S10.3,6.2,10.3,7.5z M9.4,7.5c0-0.8-0.6-1.4-1.4-1.4S6.6,6.7,6.6,7.5S7.2,8.9,8,8.9S9.4,8.3,9.4,7.5z"/>
</g>
</svg>
