<fieldset class="two-column small payout-filters">
  <%= form_tag admin_payout_payout_transfers_path, method: :get, class: "admin-payout-transfers-filters" do %>

    <div class="grid_15">
      <label>Customer Name</label>
      <div>
        <%= text_field_tag "person_name", params[:person_name] %>
      </div>
    </div>

    <div class="grid_5">
      <label>Payout Amount</label>
      <div class="payout-amount">
        <%= select_tag "filter_type", options_for_select(PayoutTransfer::AdminFilterForm::SELECT_OPTIONS, params[:filter_type]) %>
        <%= number_field_tag "filter_amount", nil, min: "0.01", step: "0.01", placeholder: "00.00", value: params[:filter_amount] %>
        <%= select_tag "currency", options_for_select(PayoutTransfer::AdminFilterForm::CURRENCY_OPTIONS, params[:currency]) %>
      </div>
    </div>

    <div class="grid_10">
      <label>Payout Method</label>
      <%= select_tag "withdrawal_method", options_for_select(PayoutTransfer::AdminFilterForm::PAYOUT_METHOD_OPTIONS, params[:withdrawal_method]) %>
    </div>

    <hr/>

    <div class="grid_15">
      <label>Tunecore processed at</label>
      <div>
        <input type="date" name="start_date" placeholder="mm/dd/yyyy" value="<%= params[:start_date] %>"/> to
        <input type="date" name="end_date" placeholder="mm/dd/yyyy" value="<%= params[:end_date] %>" />
      </div>
    </div>

    <div class="grid_15 statuses">
    <label>TuneCore Status</label>
    <span>
      <%= radio_button_tag "tunecore_status", "", (params[:tunecore_status].blank?) %>
      <%= label_tag "tunecore_status_", "All" %>
    </span>
    <% PayoutTransfer::TUNECORE_LIFECYCLE.each do |status| %>
      <span>
        <%= radio_button_tag "tunecore_status", status, (status == params[:tunecore_status]) %>
        <%= label_tag "tunecore_status_#{status}", status.capitalize %>
      </span>
    <% end %>
    </div>

    <div class="grid_15 statuses">
    <label>Provider Status</label>
      <span>
        <%= radio_button_tag "provider_status", "", (params[:provider_status].blank?) %>
        <%= label_tag "provider_status_", "All" %>
      </span>
      <% PayoutTransfer::PROVIDER_LIFECYCLE.each do |status| %>
        <span>
          <%= radio_button_tag "provider_status", status, (status == params[:provider_status]) %>
          <%= label_tag "provider_status_#{status}", status.capitalize %>
        </span>
      <% end %>
    </div>

    <hr/>

    <div class="grid_15 statuses">
      <label>Has Refund Issued</label>
      <span>
        <%= radio_button_tag "rollback", true, (params[:rollback] == "true") %>
        <%= label_tag "rollback", "YES" %>
      </span>

      <span>
        <%= radio_button_tag "rollback", "", (params[:rollback] != "true") %>
        <%= label_tag "rollback", "NO" %>
      </span>
    </div>

    <div class="grid_15 statuses">
      <label>Eligible for Auto-Approval</label>
      <span>
        <%= radio_button_tag "auto_approval_eligible", "all", params[:auto_approval_eligible] == "all" || params[:auto_approval_eligible].blank? %>
        <%= label_tag "auto_approval_eligible", "All" %>
      </span>

      <span>
        <%= radio_button_tag "auto_approval_eligible", "yes", params[:auto_approval_eligible] == "yes" %>
        <%= label_tag "auto_approval_eligible", "Yes" %>
      </span>

      <span>
        <%= radio_button_tag "auto_approval_eligible", "no", params[:auto_approval_eligible] == "no" %>
        <%= label_tag "auto_approval_eligible", "No" %>
      </span>
    </div>

    <hr/>

    <div class="grid_15 page-results">
      <label>Results Per Page</label>
      <%= select_tag "pagination_limit", options_for_select(PayoutTransfer::AdminFilterForm::RECORDS_PER_PAGE, params[:pagination_limit]) %>
    </div>

    <div class="grid_15 form-buttons">
      <%= submit_tag "submit", class: "pull-left" %>
      <%= submit_tag "reset", class: "pull-right" %>
      <%= button_tag "download report", class: "btn download-button", id: "download-payoneer-payouts-report" %>
    </div>

  <% end %>
</fieldset>
