<tr class="
  <% if payout_transfer.person.suspicious? %>
    <%= 'warning-background'  %>
  <% elsif @filter_form.changed_payout_method_ids.include?(payout_transfer.id) %>
    <%= 'changed-payout-method' %>
  <% end %>
">
  <td>
    <% if payout_transfer.tunecore_status == PayoutTransfer::SUBMITTED && payout_transfer.provider_status == PayoutTransfer::NONE %>
      <input type="checkbox" name="selected_transfers[]" class="check_boxes" value="<%= payout_transfer.id %>">
    <% end %>
  </td>
  <td><%= payout_transfer.id %></td>
  <td class="left">
    <div><%= payout_transfer.created_at.strftime("%m/%e/%Y %l:%M %p") %></div>
    <div><%= payout_transfer.tunecore_processed_at.blank? ?
                 "-" : payout_transfer.tunecore_processed_at.strftime("%m/%e/%Y %l:%M %p") %></div>
  </td>
  <td class="left person-details <%= payout_transfer.person.status %>">
    <span class="state"><%= payout_transfer.person.status %></span>
    <div>
      <%= link_to payout_transfer.person_name, admin_person_path(payout_transfer.person), target: "_blank" %>
      <%= link_to payout_transfer.person.email, admin_person_path(payout_transfer.person), target: "_blank" %>
    </div>
  </td>
  <td><%= custom_t("payout_transfers.payout_type.#{payout_transfer.withdraw_method || 'unknown'}") %></td>
  <td><%= @filter_form.approvals_map[payout_transfer.payout_provider_id].blank? ? "Yes" : "No" %></td>
  <td><%= payout_transfer.requested_amount.to_money.format %></td>
  <td><%= payout_transfer.dollar_amount.to_money.format %></td>
  <td><%= truncated_available_balance(payout_transfer.person).to_money.format %></td>
  <td><%= payout_transfer.tunecore_status.try(:capitalize) %></td>
  <td><%= payout_transfer.provider_status.try(:capitalize) || "N/A" %></td>
  <td><%= payout_transfer.auto_approval_eligible? ? "Yes" : "No" %></td>
  <td><%= transfer_auto_approval_successful(payout_transfer) %></td>
</tr>
