<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/admin/form-utils.js" %>
  <%= javascript_include_tag "/javascripts/app/admin/payout_transfers.js" %>
<% end %>

<section class="admin-container">
  <main class="content">
  <h2>Payoneer Payout Transactions</h2>

  <%= render "filter_form" %>

  <% if @filter_form.payout_transfers.count > 0 %>
    <section class="payout-results">
      <div>
          <%= form_tag admin_payout_batch_actions_path, method: :post do %>
            <table class="admin-payout-transfers-table">
              <thead>
              <tr>
                <th rowspan="2"><input type="checkbox" name="all" id="all_toggler"></th>
                <th rowspan="2">id</th>
                <th>Requested at</th>
                <th rowspan="2">Person</th>
                <th rowspan="2">Payout Method</th>
                <th rowspan="2">First time</th>
                <th colspan="2">Requested amount</th>
                <th colspan="1">Available Balance</th>
                <th colspan="2">Status</th>
                <th rowspan="2">Auto-Approval Assessable</th>
                <th rowspan="2">Auto-Approval Successful</th>
              </tr>
              <tr class="sub">
                <th rowspan="2">Processed at</th>
                <th>Artist</th>
                <th>Net</th>
                <th></th>
                <th>Tunecore</th>
                <th>Payoneer</th>
              </tr>
              </thead>
              <tbody>
              <% @filter_form.payout_transfers.each do |payout_transfer| %>
                <%= render partial: "payout_transfer", locals: {
                    payout_transfer: PayoutTransferDecorator.new(payout_transfer),
                    tunecore_status: @filter_form.tunecore_status,
                    provider_status: @filter_form.provider_status
                } %>
              <% end %>
              </tbody>
            </table>

            <div class="payout-actions">
              <div>
                <span class="page-numbers">
                  <%= will_paginate @filter_form.payout_transfers, previous_label: "Previous", next_label: "Next" %>
                </span>
                <span class="select-count">
                  <span class="numSelected"></span> / <span class="totalCheckBoxes"></span> Selected
                </span>
                <%= submit_tag "approve",
                               class: "admin-payout-transfers-submit",
                               data: {disable_with: "loading..."},
                               disabled: "disabled",
                               onclick: "return confirm('Click OK to approve the selected payments. This cannot be undone!');" %>
                <%= submit_tag "reject",
                               class: "admin-payout-transfers-submit",
                               data: {disable_with: "loading..."},
                               disabled: "disabled",
                               onclick: "return confirm('Click OK to reject the selected payments. This cannot be undone!');" %>
              </div>
            </div>
      <% end %>
      </div>
    </section>
  <% else %>
    <div class="no-results">No Results found. Please expand your search criteria</div>
  <% end %>
</main>
</section>