#account_settings {
  .tab-title {
    padding-bottom: 30px;
  }

  .row-item {
    border: 1px solid #dadada;
    border-top: none;
    padding: 10px;

    &:first-of-type {
      border-top: 1px solid #dadada;
    }

    .section-header {
      .main {
        width: 80%;
        display: inline-block;
      }

      .side {
        width: 18%;
        display: inline-block;
        text-align: right;
      }

      .priority-artist-header {
        i.qtip-it {
          color: #3b96cf;
        }
      }
    }

    .section {
      display: none;
      background-color: #f8f8f8;

      .cancel-btn {
        font-size: 13px;
        font-weight: 800;
        padding: 6px 19px;
        color: white;
        background-color: #999999;
        border-radius: 4px;
        border: 1px solid #858585;
        position: relative;
        top: -14px;
        text-transform: uppercase;
      }

      ul {
        legend {
          font-size: 18px;
          font-weight: 800;
          margin-bottom: 27px;
        }

        li {
          label {
            display: block;
            text-align: left;
          }

          &.checkbox label {
            display: inline-block;
          }

          input {
            margin-bottom: 8px;
          }

          .formError {
            margin: 5px 0 15px;
            float: none;
          }

          .save-button {
            float: right;
          }

          .address-input:disabled {
            background-color: #e6e6e6;
            border: 1px solid #cacaca;
            cursor: not-allowed;
          }
          .country-select-input:disabled {
            background-color: #e6e6e6;
            border: 1px solid #cacaca;
            cursor: not-allowed;
          }
        }
      }

      &.two-factor-auth-info {
        padding: 10px;

        .cancel-btn {
          top: 0;
        }

        .buttons {
          float: right;
          top: -14px;
          position: relative;

          a,
          .button_to {
            display: inline-block;
          }
        }
      }
    }
  }
  #vat-warning {
    color: red;
    margin-left: inherit;
    margin-bottom: 10px;
  }
}

.address-lock-banner {
  border: 2px solid #f6e582;
  background-color: #fffbdf;
  padding: 1% 1%;
  font-size: 14px;
  font-weight: 500;
  color: #7b7a71;
  margin-bottom: 15px;
}

.payoneer-signup-banner {
  background: image-url("payoneer/fee-explanation-banner.png") no-repeat top
    center;
  height: 225px;
  color: white;
  padding: 20px 40px;

  h1 {
    font-size: 1.7em;
    margin: 20px 0;
  }
  p {
    margin: 10px 0 35px 0;
    font-size: 1.2em;
  }
  a {
    background-color: #44b1fa;
    padding: 0.75em 1.5em;
    color: white;
    display: inline-block;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 568px) {
  .payoneer-signup-banner {
    text-align: center;
    background-position: top left;
  }
}

.compliance_info_field_input:disabled,
.compliance-info-input:disabled {
  background-color: #e6e6e6;
  border: 1px solid #cacaca;
  cursor: not-allowed;
}

.error-text {
  background-color: #f22;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 3px 5px;
  width: 159px;
}

.context-wrapper.display-flex {
  display: flex;
}

.compliance-tooltip {
  margin-right: -10%;
  padding-left: 5%;
}

.vat-removal-warning {
  max-width: max-content;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fffde8;
  border: 1px solid #f3ecb0;
  padding: 10px;

  &.hide {
    display: none;
  }
}

#taxpayer_id {
  .taxform-notice-container {
    background: #ECF3FC;
  }
  .taxpayer-form-submission-info {
    padding: 10px;
  }
  .faq-box-payoneer {
    padding: 10px;
    margin-top: 30px;
  }
  h4 {
    color: #3B96CF;
    padding-top: 50px;
    padding-left: 10px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
  }
  .payoneer-signin-button {
    margin: 10px;
  }
  .payoneer-more-info-tab {
    padding-top: 20px;
    .payoneer-more-info-link {
      padding: 20px 0px; 
    }
  }
}

.email-reset-modal {
  background: white;
  font-size: 14px;
  margin: auto;
  max-width: 340px;
  min-height: 150px;
  padding: 20px;
  position: relative;
  text-align: left;

  h3 {
    color: #0f7eb4;
    font-size: 22px;
    margin-bottom: 20px;
  }
}

#payoneer_payout_options {
  .tax-form-mapping-container {
    li {
      margin-top: 20px;
    }

    select {
      max-width: 300px;
    }

    label {
      width: 80px;
      display: inline-block;
    }
  
    input[type=submit] {
      margin: 0 auto;
      display: block;
  
      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      
        &:hover {
          border-color: white;
        }
      }
    }
  }
}
