.adyen-payment-method {
  display: flex;
}

#stored-adyen-payment-method-pref {
  width: 534px;
  padding: 0px;
  margin: 0px;
}

#payment-method-label{
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0px;
  cursor: pointer
}
