.section.company-information {
  margin-top: 10px;

  .error-text {
    width: fit-content;
    width: -moz-fit-content;
    padding: 5px 10px;
  }

  @media screen and (max-width: 450px) {
    .company-info-input {
      width: 100%;
    }
  }

  li .context-wrapper {
    float: none;
  }

  .button-group {
    margin-top: 15px;

    #cancel-button {
      top: 0;
    }

    .save-button {
      font-size: 13px;
      font-weight: 800;
      padding: 6px 19px;
      color: white;
      border-radius: 4px;
      border: 1px solid;
      position: relative;
      text-transform: uppercase;
      float: right;

      background-color: #44b1fa;
      border-color: #339de5;

      &:hover {
        box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
      }

      &:active {
        background-color: #39a1e7;
        border: 1px solid #339de5;
      }
    }
  }

  .tooltip-trigger {
    margin-left: 3px;
  }
}

.company-info-tooltip {
  .ui-widget-header {
    background: #d4e8f3;
  }
  .qtip-title {
    color: black;
    font-weight: normal;
    background: #d4e8f3;
    width: 100%;
  }
}
