.person-subscription {
  padding-bottom: 10px;

  .tc-social-image {
    border-radius: 15px;
    float: left;
    margin-top: 4px;
    margin-right: 5px;
  }

  .subscription-product-name {
    font-size: 1.6em;
    margin: 4px 0;
  }

  .cost {
    margin: 5px;
  }

  .subscrption-note {
    font-size: .9em;
    margin-top: 1px;
  }
}

.resubscribe-cta {
  text-align: center;

  .pro-user-cancellation {
    padding: 0 30% 4%;
    text-align: left;
  }

  .fa-check-circle {
    color: rgb(42, 218, 59);
    margin: 1.5% 0;
  }
}
