.plan_renewal_card {
  &__container {
    display: flex;
  }

  &__image {
    padding-right: 1em;
  }

  &__details_container {
    flex: 1;
  }

  &__details {
    display: flex;
  }

  &__details_left {
    flex: 1;
  }

  &__details_left_header {
    padding-bottom: 1em;
  }

  &__details_li_label {
    font-weight: 700;
  }

  &__details_pay_btn {
    align-self: end;
  }
}
