button.blue-btn {
  border: none;
  border-top: 1px solid #44b1fa;
}

#refund-invoices-list-modal {
  width: 50%;
  max-width: 600px;
  margin: auto;
  height: 40%;
  background: white;
  padding: 20px;
  min-width: 300px;
  position: relative;

  .mfp-close {
    width: 22px;
    height: 22px;
    line-height: 20px;
  }

  .modal-body {
    padding: 1em;
    font-size: 14px;

    h3 {
      font-size: 1.5em;
      margin-bottom: 1ch;
    }

    table#refund-invoices-table {
      thead {
        th {
          padding: 1em;
        }
      }
      tbody {
        td {
          padding: 1em;
        }
      }
      a.blue-btn {
        margin: 0;
      }
    }
  }
}
