#renewal_billing_info {
  .section-header {
    width: 100%;
    background-color: #1B96CD;
    color: white;
    height: 4rem;
    display: flex;
    align-items: center;

    .main {
      margin: 0.25rem 1rem;
      font-size: 22px;
    }
  }

  .section-description {
    margin: 0.25rem 1rem 0;
    font-size: 14px;
  }

  .address-fields {
    padding: 0 0 30px 0;
  }

  fieldset {
    border: none;
    background: white;
    padding: 30px 0 0 0;

    ul {
      float: left;
      margin: 0 2rem;

      li {
        font-size: 14px;
        label {
          display: block;
          text-align: left;
          float: none;
          width: 100%;
        }

        input {
          margin-bottom: 8px;

          &:disabled{
            background-color: #e6e6e6;
            border: 1px solid #cacaca;
            cursor: not-allowed;
          }
        }


        .formError {
          margin: 5px 0 15px;
          float: none;
        }

        .save-button {
          float: right;
        }

        .address-input:disabled {
          background-color: #e6e6e6;
          border: 1px solid #cacaca;
          cursor: not-allowed;
        }

        .country-select-input:disabled {
          background-color: #e6e6e6;
          border: 1px solid #cacaca;
          cursor: not-allowed;
        }

        select, input[type="text"] {
          padding-top: 7px;
          padding-bottom: 4px;
          width: 100%;
        }
      }
    }

    .self-billing {
      width: 75%;

      .self-billing-form-component {
        li {
          label {
            font-weight: 400;
          }
        }
        #self-billing-customer-care-error {
          font-size: 12px;
        }
      }

      li {
        display: flex;
        align-items: center;

        label {
          display: block;
          margin: 0 0 8px 8px;
          width: 100%;
        }
      }

      #person_Save\ Changes_list_item{
        float: right;
      }
    }

    .button-callout-alt {
      float: right;
      font-size: 14px;
      font-weight: 600;
      margin: 1rem;
      padding: 0.65em 1.5em;
    }
  }
  .vat-removal-warning-container {
    display: flex;
    width: 100%;
    .vat-removal-warning {
      max-width: max-content;
      border-radius: 5px;
      margin: 0 1rem 1rem;
      background-color: #fffde8;
      border: 1px solid #f3ecb0;
      padding: 10px;
    }
  }
}

#renewal-form-success-modal{
  background: white;
  font-size: 14px;
  margin: auto;
  max-width: 340px;
  min-height: 150px;
  padding: 20px;
  position: relative;
  text-align: left;

  h3 {
    color: #0f7eb4;
    font-size: 22px;
    margin-bottom: 20px;
  }

  form {
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  #renewal_billing_info {
    fieldset {
      padding: 20px 0 0 0;

      ul {
        li {

          select, input[type="text"] {
            width: 100%;
          }
        }
      }
    }
  }
}
