.self-billing-error-text {
  color: red;
}

.section.self-billing-info {
  margin-top: 10px;

  .button-group {
    margin-top: 15px;

    #cancel-button {
      top: 0;
    }

    .save-button {
      font-size: 13px;
      font-weight: 800;
      padding: 6px 19px;
      color: white;
      border-radius: 4px;
      border: 1px solid;
      position: relative;
      text-transform: uppercase;
      float: right;

      background-color: #44b1fa;
      border-color: #339de5;

      &:hover {
        box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
      }

      &:active {
        background-color: #39a1e7;
        border: 1px solid #339de5;
      }
    }
  }
}

.self-billing-component {
  form label {
    font-weight: normal;
  }

  .radio-group {
    margin-bottom: 15px;
  }
  ul {
    list-style-type: none;

    label {
      line-height: 1;
    }
  }

  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkbox-radio-input {
      --active-inner: #0da7f2;
      --focus: 2px rgba(39, 94, 254, 0.3);
      --border: #6a6a6a;
      --border-hover: #275efe;
      --background: #fff;
      --disabled: #fff;
      --disabled-inner: #5b8da7;

      -webkit-appearance: none;
      -moz-appearance: none;

      height: 16px;
      width: 16px;
      margin-bottom: 0;

      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;

      &:after {
        content: "";
        display: block;

        width: 4px;
        height: 8px;

        position: absolute;
        left: 4px;
        top: 1px;

        opacity: var(--o, 0);
        transition: opacity var(--d-o, 0.2s);
        transform: rotate(45deg);

        border: solid white;
        border-width: 0 2px 2px 0;
      }

      &:checked {
        --o: 1;
        --d-o: 0.3s;
        --b: var(--active-inner);
        --s: 0.6;
      }

      &:hover {
        &:not(:checked) {
          &:not(:disabled) {
            --bc: var(--border-hover);
          }
        }
      }

      &:focus {
        box-shadow: 0 0 0 var(--focus);
      }

      &:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
        &:checked {
          --b: var(--disabled-inner);
          --bc: var(--border);
        }
      }
    }
  }

  .selfBillingFormError {
    background-color: #f22;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: bold;

    &.hide {
      display: none;
    }
  }

  &:not(.self-billing-form-component) {
    #self-billing-required-error {
      margin-top: 10px;
    }
  }
}

.self-billing-form-component {
  margin-top: 15px;

  li {
    label {
      font-size: 13px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #000000;
    }
  }
}

.self-billing-component,
.self-billing-form-component {
  #self-billing-customer-care-error {
    font-style: italic;
    color: red;
    display: none;
    margin-bottom: 10px;
  }

  #self-billing-required-error {
    display: none;
    span {
      color: white;
      padding: 5px;
      font-size: 11px;
      background-color: red;
    }
  }
}

.self-billing-positive-modal {
  width: 50%;
  max-width: 600px;
  margin: auto;
  height: 40%;
  background: white;
  padding: 20px;
  min-width: 300px;
  position: relative;

  .mfp-close {
    width: 22px;
    height: 22px;
    line-height: 20px;
  }

  .self-billing-modal-body {
    padding: 10px;
    font-size: 14px;

    .self-billing-agreement {
      height: 500px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;

      label {
        text-align: start;
      }

      p {
        margin-top: 5px;
        padding-right: 20px;
      }
    }

    .button-group {
      margin-top: 10px;
      margin-bottom: 0;

      .accept-btn {
        background-color: #44b1fa;
        border-color: #339de5;
        border: 1px solid;
        padding: 10px 50px;
        font-size: 12px;
        margin: auto;
        display: block;
        color: white;
        cursor: pointer;

        &:hover {
          box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
        }

        &:active {
          background-color: #39a1e7;
          border: 1px solid #339de5;
        }
      }
    }
  }
}

.self-billing-negative-modal,
.self-billing-negative-confirm-modal {
  background: white;
  padding: 20px;
  margin: auto;
  min-width: 300px;
  max-width: 400px;

  .self-billing-modal-body {
    font-size: 13px;

    label {
      font-size: 18px;
      width: 100%;
      text-align: start;
    }

    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .warning-text {
      color: #db2a2a;
    }
  }

  .button-group {
    margin-top: 10px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;

    button {
      font-size: 10px;
      font-weight: 800;
      padding: 6px 19px;
      color: white;
      border-radius: 4px;
      border: 1px solid;
      position: relative;
      text-transform: uppercase;
      cursor: pointer;

      background-color: #44b1fa;
      border-color: #339de5;

      &:hover {
        box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
      }

      &:active {
        background-color: #39a1e7;
        border: 1px solid #339de5;
      }
    }

    .cancel-btn {
      margin-right: 20px;
    }
  }
}
