#vat_details {
  .tab-title {
    padding-bottom: 30px;
  }

  .row-item {
    border: 1px solid #dadada;
    border-bottom: none;
    padding: 10px;

    &.bottom-row-item {
      border-bottom: 1px solid #dadada;
    }

    .section-header {
      .main {
        width: 80%;
        display: inline-block;
      }

      .side {
        width: 18%;
        display: inline-block;
        text-align: right;
      }
    }

    .section {
      display: none;
      background-color: #f8f8f8;

      .vat-cancel-btn {
        font-size: 13px;
        font-weight: 800;
        padding: 6px 19px;
        color: white;
        background-color: #999999;
        border-radius: 4px;
        border: 1px solid #858585;
        position: relative;
        top: -14px;
        text-transform: uppercase;
      }

      ul {
        legend {
          font-size: 18px;
          font-weight: 800;
          margin-bottom: 27px;
        }

        li {
          label {
            display: block;
            text-align: left;
          }

          &.checkbox label {
            display: inline-block;
          }

          input {
            margin-bottom: 8px;
          }

          .formError {
            margin: 5px 0 15px;
            float: none;
          }

          .save-button {
            float: right;
          }
        }

        #flash_notice {
          .custom-alert {
            margin: 5px 15px;
            padding: 3px 5px;
            background: #fde8cd;
            font-size: 14px;

            p {
              margin: 0;
            }
          }
          .formError {
            margin: 5px 15px;
            float: none;
          }
        }
      }

      &.two-factor-auth-info {
        padding: 10px;

        .vat-cancel-btn {
          top: 0;
        }

        .buttons {
          float: right;
          top: -14px;
          position: relative;

          a,
          .button_to {
            display: inline-block;
          }
        }
      }
    }
  }
}

.payoneer-signup-banner {
  background: image-url("payoneer/fee-explanation-banner.png") no-repeat top
    center;
  height: 225px;
  color: white;
  padding: 20px 40px;

  h1 {
    font-size: 1.7em;
    margin: 20px 0;
  }
  p {
    margin: 10px 0 35px 0;
    font-size: 1.2em;
  }
  a {
    background-color: #44b1fa;
    padding: 0.75em 1.5em;
    color: white;
    display: inline-block;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 568px) {
  .payoneer-signup-banner {
    text-align: center;
    background-position: top left;
  }
}
