<p>
  <%= link_to_unless_current 'current products', :action => 'current'%> | 
  <%= link_to_unless_current 'past products', :action => 'past'%> | 
  <%= link_to_unless_current 'deleted products', :action => 'deleted' %> | 
  <%= link_to "add new product", :action => 'product'%>
</p>