<div id='product_area'>
  <ul class='no_bullets sortable' id='products' style="margin:0">
    <%= render(:partial => 'product', :collection => PromotionalProduct.where("is_deleted = false AND online = false").order('position asc'))%>
  </ul>
</div>
