<div id='product_area'>
  <table style="padding:0;margin:0"><tr><th style="width:585px">Short Title</th><th style="width:100px">Product ID</th><th style="width:50px"></th></tr></table>
  <ul class='no_bullets sortable' id='products' style="margin:0;">
    <%= render(:partial => 'product', :collection => PromotionalProduct.where("is_deleted = false AND online = true").order('position asc'))%>
  </ul>
</div>
