<li id="product_<%= product.id%>" style="float:left;min-height:35px;border:1px solid #999999;border-top:0px solid #FF0000;padding-top:5px">
  <!--<div style="float:left;width:50px"><%= product.position %></div>-->
  <div style="float:left;width:575px;padding-left:10px"><%= link_to product.short_title, :action => 'product', :id => product.id %></div>
  <div style="float:left;width:90px;padding-left:10px"><%= product.id %></div>
</li>
