<div id="faqtext">
  <div>
    <%= render :partial => 'links' %>
    <h1 style="text-align:left">Deleted Products</h1>
    <div id='product_area'>
      <ul class='no_bullets sortable' id='products' style="margin:0">
        <%= render(:partial => 'product', :collection => @deleted_products)%>
      </ul>
    </div>
  </div>
</div>
