<div id="faqtext">
<div style="width:100%">
	<h1 class="page_title">products</h1>


  <%= render :partial => 'links' %>


<h1 style="text-align:left">displayed products</h1>
<%= render(:partial => 'products')%>


<h1 style="clear:both;text-align:left;padding-top:40px;">non-displayed products</h1>

<div>
	<% @non_current_products.each do |product|%>
		<div class='promotion_cell'>
			<%= link_to(image_tag(product.mini_image_web_path), :action => 'product', :id => product)%>
			<h3 ><%= link_to(product.short_title, :action => 'product', :id => product)%></h3>
			<p style="text-align:center">Product was discontinued</p>
		</div>
	<% end %>
</div>


</div>

</div>
