<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <script>
    jQuery(function(){
      var $ = jQuery;
      var date_class = ".date-box";
      $(date_class).attr("readonly", "true");
      new DatePicker(date_class,{
        changeYear: true,
        yearRange: '1900:2020',
        onClose: function(dateText, inst) {
          $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, inst.selectedDay));
        }
      });
    });
  </script>
<% end %>

<%= error_messages_for @product %>

<%= form_tag({:action => 'product', :id => @product}, :multipart => true)%>
  <h2 style="padding:8px;width:300px;text-align:left;">Add/Edit Product</h2>
  <fieldset>
    <p class="story_field">
      <label for='product_title'>Product Name:</label>
      <%= text_field(:product, :title) %>
    </p>

    <p class="story_field">
      <label for='product_short_title'>Short Product Name:</label>
      <%= text_field(:product, :short_title) %>
    </p>

    <p class="story_field">
      <label for='product_meta_keywords'>Meta Tag Keywords:</label>
      <%= text_field(:product, :meta_keywords) %>
    </p>

    <p class="story_field">
      <label for='product_meta_description'>Meta Tag Description:</label>
      <%= text_field(:product, :meta_description) %>
    </p>

    <p class="story_field">
      <label for='product_url_slug'>URL Slug:</label>
      <%= text_field(:product, :url_slug) %>
    </p>

    <p class="story_field">
      <label for='product_body'>Body:<br/><span style="font-size:.8em">(html formatting)</span></label>
      <%= text_area(:product, :body, :size => '100x50') %>
    </p>

    <p class="story_field">
      <label for='product_start_at'>Starts On:</label>
      <%= text_field(:product, :start_at, :class => "date-box short", :value => @product.start_at.blank? ? "" : @product.start_at.strftime("%B %d, %Y")) %>
    </p>

    <p class="story_field">
      <label for='product_finish_at'>Finished On:</label>
      <%= text_field(:product, :finish_at, :class => "date-box short", :value => @product.finish_at.blank? ? "" : @product.finish_at.strftime("%B %d, %Y")) %>
    </p>

    <p class="story_field">
      <label for='product_online'>Display this product?</label>
      <%= check_box(:product, :online) %> Yes
    </p>

    <p class="story_field">
      <label for='product_mini_image'>Mini Size Image (jpg):</label>
      <%= file_field(:product, :mini_image) %>
    </p>
    <p><%= image_tag(@product.mini_image_web_path)%></p>

    <p class="story_field">
      <label for='product_full_image'>Full Size Image (jpg):</label>
      <%= file_field(:product, :full_image) %>
    </p>

    <p><%= image_tag(@product.full_image_web_path)%></p>

    <p class="story_field">
      <label for='product_alt_text'>Full Size Image Alt Text:</label>
      <%= text_field(:product, :alt_text) %>
    </p>

    <p>
      <%= submit_tag("Save") %>
    </p>
  </fieldset>
</form>


<% unless @product.new_record? %>
  <fieldset>
  <% if @product.is_deleted -%>
    <%= link_to('restore', restore_product_admin_promotional_products_path(@product), method: :post, data: { confirm: 'Are you sure that you would like to restore this product?' })%>
  <% else -%>
    <%= link_to('delete', delete_product_admin_promotional_products_path(@product), method: :delete, data: { confirm: 'Are you sure that you would like to delete this product?' })%>
  <% end -%>
  </fieldset>
<% end %>
