<li class="checkbox <%= admin_role_list_item_class(admin_role) %>" style="<%= 'display: none;' unless should_display_initially?(selected_roles, admin_role) %>">
  <%= check_box_tag("roles[]", admin_role.id, selected_roles[admin_role.name], id: "roles_#{admin_role.id}", class: admin_role_checkbox_class(admin_role) ) %>
  <label for="roles_<%= admin_role.id %>">
    <%= admin_role.long_name %>
    <span class="sub-title"><%= admin_role.description %></span>
  </label>
</li>
