<% content_for :external_javascript do -%>
  <%= javascript_include_tag "/javascripts/app/admin/showOrHideAdminRoles" %>
<% end %>

<section class="grid_7">
  <h2>Administrative Rights for <%= h(@person.name) %></h2>
  <fieldset class="small">
    <%= form_tag admin_right_path(@person), method: :patch do %>
      <ul>
        <%= render partial: "admin_role_checkbox", collection: @admin_roles, as: :admin_role, locals: { selected_roles: @selected_roles } %>
      </ul>
      <%= submit_tag("Save Rights") %>
    <% end -%>
  </fieldset>
</section>
