<section class="grid_7">
  <header><h1>Success</h1></header>
  <div class="rounded-container">
    <p>
     <%= h(@person.name) %>'s rights were changed. 
    </p>
  </div>
</section>
<script>
  window.top.location=window.top.location;
</script>