<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>PayPal Walkthrough</title>


<style>
body				{ margin:0; padding:0; }
#mainWrap 			{ width:500px; height:auto; margin:0 auto; }
#contents			{ width:500px; height:auto; margin:0; padding:0 0 75px; }
#contents img		{ margin:0 auto; display:block; }
.imageBorder		{ padding:15px 0; border:1px solid #CCCCCC; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

h1					{ font-family:Helvetica, Arial, sans-serif; }
p 					{ font-family:Trebuchet MS, Helvetica, Arial, sans-serif; font-size:.85em; padding:5px 0; }
</style>

</head>
<body>

<div id="mainWrap">

	<div id="contents">
		<h1>PayPal Walkthrough</h1>

		<p>You will need to have a Premier account in order to access the funds that fans will donate to you. Click here to sign up for your free Premier Paypal account:</p>

			<a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_registration-run">PayPal Registrations</a>

		<p>Once youʼve confirmed your account, log in to Paypal and click here to begin creating your personal donation link:</p>

				<a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_donate-intro-outside">Personal Donation Setup</a>

		<p>Once youʼre on Paypalʼs Donation Buttons homepage, click “Create your button now”.</p>

				<div class="imageBorder"><img src="_images/createYourButton.png" width="333" height="70"></div>
		<br>
		<p>This will bring you to a step-by-step process by which you will create you <%= t(:personaliz) %>ed button for donations. (Please make sure that you are currently logged in to Paypal.)
		<br><br>
		You can leave all of the input fields blank, except for the “Organization name/service” field. In this field, you will type the name of the artist who will be receiving the donations.</p>

				<div class="imageBorder"><img src="_images/personalize.png" width="491" height="58"></div>

		<br>
		<p>Once youʼve filled out the “Organization name/service” field, click “Create Button”.</p>

				<div class="imageBorder"><img src="_images/createButton.png" width="123" height="39"></div>


		<br>
		<p>After this, a unique code will be generated, which will allow you to both place the donate button on your webpages or provide a direct link to others.
		<br><br>
		The code that is generated within the “Email” tab is the one that we will be adding to your TuneCore widget.</p>

				<div class="imageBorder"><img src="_images/generatedCode.png" width="472" height="224"></div>

		<br>
		<p>Select the entirety of the code by clicking within the box and pressing ctrl-A (command-A for Mac users). Then, simply paste the contents into the Donation pane on the TuneCore Widget customization interface.
		<br><br>
		Now, when your fans click “Donate” on your widget, they will be able to send funds directly to your Paypal account!</p>
	</div>

</div>

</body
</html>
