.tfa-prompt-modal {
  display: none;
}

.tfa-prompt-show {
  .mfp-content {
    top: 164px;
    vertical-align: top;

    .tfa-prompt-modal {
      display: block;
      margin: auto;
      max-width: 95%;
      text-align: center;
      width: 604px;

      .top {
        background-color: #0F5D80;
        color: #fff;
        padding: 18px;

        h1 {
          color: #fff;
          font-size: 18px;
          font-weight: bold;
          margin-left: 7px;
          text-align: left;
        }
      }

      .mobile-image {
        margin: auto;
        padding: 23px 0px 3px;
        img {
          height: 120px;
        }
      }

      .bottom {
        padding: 15px 32px;
        background-color: #FFFFFF;
        font-size: 14px;

        p {
          padding: 0 10px;
          margin-bottom: 13px;
        }

        button {

          &:hover { cursor: pointer; }
        }

        #enrollBtn {
          font-size: 14px;
          font-weight: bold;
          background-color: $tunecore_blue;
          display: block;
          margin: 22px auto 14px;
          padding: 14px;
          color: #FFFFFF;
          border: none;
          text-decoration: none;
          width: 255px;
        }

        #dismissBtn {
          background: none;
          border: none;
          color: $tunecore_blue;
          font-size: 12px;
          font-family: LucidaGrande;
          margin-bottom: 7px;
        }
      }
    }
  }
}

.tfa-account-settings-link {
  margin: 22px 0px 15px;
  color: $tunecore_bright_blue;
  font-size: 18px;

  a:link {
    text-decoration: none;
    padding-left: 15px;
  }
}

.tfa-container  {
  margin-bottom: 150px;

  .tfa-form-wrapper {
    font-size: 14px;
    color: $tunecore_dark_gray;
    border: 1px solid $tunecore-gray;
    padding-bottom: 15px;
    overflow: hidden;

    li {
      list-style: none;
    }

    .title {
      font-size: 18px;
      font-weight: 500;
    }

    .sign-in-msg {
      padding-bottom: 30px;
    }

    .code-sent {
      padding-bottom: 30px;

      #restart-poll {
        color: black;
        font-weight: bold;
        text-decoration: none;

        a {
           color: $good_msg_color
        }
      }
    }

    .learn-more-link {
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      color: $good_msg_color;
      letter-spacing: .03em;
    }

    .app-notification,
    .error-notification {
      font-size: 14px;
      background: none;
      padding-top: 9px;
      margin-bottom: 10px;
      span {
        padding: 0
      }
    }

    .app-notificiation {
      font-family: "LucidaGrande";
    }

    .error-notification {
      color: $tunecore-maroon;
      font-family: "LucidaGrande-Bold";
      font-weight: bold;
      text-align: center;
    }

    .tfa-form-header {
      background-color: #1d5e86;
      height: 60px;

      h2 {
        font-size: 18px;
        font-weight: normal;
        color: #FFFFFF;
        line-height: 60px;
        padding: 0 22px;
        margin: 0;
      }

    }

    .tfa-form-step-body {
      height: 260px;
      padding: 25px;
      margin-bottom: 38px;

      input {
        border-radius: 0;
        border: 1px solid $tunecore-gray;
      }

      .sign-in-step {
        width: 55%;
        margin: auto;
        padding-bottom: 60px;

        .forgot-password-wrapper {
          padding-bottom: 22px;
        }

        label {
          color: $body_text;
          font-size: 14px;
          display: block;
          padding: 1px 0px;
        }

        input {
          font-size: 14px;
          font-weight: 500;
          padding: 10px;
          margin: 6px 0px 16px;
          width: 100%;
          box-shadow: inset 0 0 2px grey;
          border: 1px solid $tunecore-gray;
        }
      }

      .preferences-step {
        color: $tunecore_dark_gray;

        .verify-your-identity-msg {
          font-size: 14px;
          font-weight: bold;
          line-height: 16px;
        }

        .contact-info-msg {
          margin-top: -18px;
          font-size: 14px;
          color: $tunecore_dark_gray;

          span {
            color: #D00218;
            font-weight: bold;
            text-transform: uppercase;
          }
        }

        .how-to-receive-verification-code {
          font-size: 14px;
          font-weight: bold;
          margin-top: 8px;
          margin-left: -2px;
          margin-bottom: 14px;
        }

        .preferences-wrapper {
          width: 50%;
          margin: auto;
          padding-bottom: 20px;

          label {
            float: none;
            font-size: 14px;
            font-weight: normal;
            margin-left: 2px;
          }

          .country-code-select {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin: -14px 10px 10px 10px;
          }

          .country-code-select select {
            height: 42px;
            width: 155px;
            border-radius: 0;
            box-shadow: inset 0 0 2px grey;
            outline: none;
            background-color: #FFFFFF;
            color: black;
            font-size: inherit;
            padding: 10px;
            margin: 0;
            margin-top: 5px;
            text-indent: 0.01px;
            text-overflow: '';
            /*[>Hiding the select arrow for firefox<]*/
            -moz-appearance: none;
            /*[>Hiding the select arrow for chrome<]*/
            -webkit-appearance:none;
            /*[>Hiding the select arrow default implementation<]*/
            appearance: none;
          }

          /*Hiding the select arrow for IE10*/
          .country-code-select select::-ms-expand {
            display: none;
          }

          .country-code-select::before,
          .country-code-select::after {
            content: "";
            position: absolute;
            pointer-events: none;
          }

          .country-code-select::after { /*  Custom dropdown arrow */
            content: "\f0d7";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            height: 1em;
            line-height: 1;
            right: 10px;
            top: 58%;
            &:hover {
              cursor: pointer;
            }
          }

          li {
            display: inline-block;
          }

          #tfa_form_phone_number_list_item {
            margin-left: 10px;
          }

          .phone-number-input {
            width: 240px;
            height: 20px;
            padding: 10px;
            font-size: 14px;
            font-weight: normal;
            margin-top: 5px;
            box-shadow: inset 0 0 2px grey;
          }
        }

        .notification-method-radios {
          margin-left: 30px;

          .learn-more-link {
            font-size: 12px;
            padding-top: 2px;
            a {
              margin-left: -30px;
              text-decoration: none;
            }
          }

          .tfa-radio {
            margin-right: 10px;
            .context-wrapper {
              display: inline-block;
              float: left;
            }

            label {
              margin: -5px 48px -5px 5px;
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }

      .authentication-step {
        .sent-code-msg {
          font-size: 14px;
          font-weight: bold;
          span {
            color: #F5A623;
          }
        }

        .change-phone-preferences-link {
          font-size: 14px;
          font-weight: 500;
          text-decoration: none;
          display: block;
        }

        .enter-code-wrapper {
          text-align: center;
          padding-top: 5px;

          label {
            font-size: 14px;
            font-weight: bold;
            float: none;
            margin-right: 425px;
          }

          .auth-code-input {
            width: 484px;
            height: 20px;
            padding: 10px;
            font-size: 14px;
            font-weight: normal;
            margin-top: 5px;
            box-shadow: inset 0 0 2px grey;
          }

          .resend-code-link {
            font-size: 14px;
            font-weight: normal;
            margin-top: 18px;

            .didnt-get-code {
              font-size: 14px;
              color: black;
            }

            a {
              font-weight: bold;
              text-decoration: none;
            }
          }

          .restart-poll,
          .try-another-way {
            font-size: 14px;
            font-weight: normal;
            a {
              font-weight: bold;
              text-decoration: none;
            }
          }

          .try-another-way {
            margin-top: 15px;
            padding-bottom: 60px;

            span {
              color: #000000;
            }
          }

        }

        .auth-code-wrapper {
          text-align: center;

          label {
            font-size: 14px;
            font-weight: normal;
            float: none;
            margin-left: -203px;
          }

          .auth-code-input {
            width: 240px;
            height: 20px;
            padding: 10px;
            font-size: 14px;
            font-weight: normal;
            margin-top: 5px;
            box-shadow: inset 0 0 2px grey;
          }

          .resend-code-link {
            font-size: 14px;
            font-weight: bold;
            margin-top: 25px;
            a {
              text-decoration: none;
            }
          }
        }

        .try-another-way {
          font-size: 14px;
          font-weight: bold;

          span {
            color: #000000;
          }
          a {
            text-decoration: none;
          }
        }
      }

      .complete-step {
        font-size: 14px;
        a {
          text-decoration: none;
          font-weight: bold;
        }
      }
    }

    .context-wrapper {
      display: block;
    }

    .cancel-btn,
    .next-btn,
    .forgot-pw,
    .get-started-btn,
    .close-btn {
      font-size: 14px;
      border-radius: 0;
      border: none;
      box-shadow: none !important;
      text-transform: capitalize;
      height: 42px;
      padding: 0;
    }

    .cancel-btn {
      background-color: #A89B9B9B;
      margin-left: 22px;
      float: left;
      width: 75px;
    }

    .next-btn {
      background-color: $tunecore_blue !important;
      display: block;
      float: right;
      margin-right: 22px;
      width: 113px;
      &:disabled {
        background-color: #A89B9B9B !important;
        cursor: default;
      }
    }

    .next-btn.authentication {
      margin-right: 0 !important;
    }

    .forgot-pw {
      float: right;
      color: $tunecore_blue;
      background:none !important;
      margin-right: 40px;
      &:hover {
        text-decoration: none;
        color: $tunecore_blue !important;
      }
    }

    .close-btn {
      background-color: $tunecore_blue !important;
      display: block;
      float: right;
      margin-right: 22px;
      width: 147px;
    }

    .get-started-btn {
      background-color: $tunecore_blue !important;
      display: block;
      float: right;
      margin-right: 22px;
      width: 113px;
    }

    .forgot-password-link {
      float: none;
      font-size: 14px;
      font-weight: bold;
      text-transform: capitalize;
      height: 42px;
      padding: 0;
      color: $tunecore_blue;
      text-decoration: none !important;
      padding-top: 21px;
    }


    .tfa-auth-bottom {
      .need-help {
        font-size: 14px;
        a {
          color: $tunecore_blue;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
}

.two-factor-resend-btn {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}

.two-factor-resend-btn:disabled {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #d2d2d2;
  text-decoration: underline;
  cursor: not-allowed;
}

.two-factor-resend-preferences-btn,
.two-factor-resend-try-another-way {
  @extend .two-factor-resend-btn;
  color: #41ADD8;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: none;
}

.two-factor-resend-preferences-btn:disabled,
.two-factor-resend-try-another-way:disabled {
  @extend .two-factor-resend-btn, :disabled;
}

.tfa-auth-header {
  font-size: 28px;
  color: $tunecore_blue;
}

@media screen and (max-width: 997px) {
  .tfa-container {
    position: relative;
    width: 86vw;
    left: 6%;
  }
}

@media screen and (max-width: 860px) {
  .tfa-container {
    position: relative;
    width: 85vw;
    left: 6%;
  }

  .tfa-form-wrapper .tfa-form-step-body .sign-in-step {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 760px) {
  .tfa-container {
    position: relative;
    width: 89vw;
    left: 4%;
  }
}

@media screen and (max-width: 660px) {
  .tfa-container {
    position: relative;
    width: 89vw;
    left: 3%;
  }

  .tfa-form-wrapper .tfa-form-step-body .authentication-step .enter-code-wrapper .auth-code-input {
    width: 260px;
  }

  .tfa-form-wrapper .tfa-form-step-body .authentication-step .enter-code-wrapper label {
    margin-right: 200px;
  }

  .tfa-form-wrapper .tfa-form-step-body .sign-in-step {
    width: 75%;
  }
}

@media screen and (max-width: 560px) {
  .tfa-container {
    position: relative;
    width: 89vw;
    left: 3%;
  }

  .tfa-form-wrapper .tfa-form-step-body .sign-in-step {
    width: 85%;
  }
}

@media screen and (max-width: 460px) {
  .tfa-container {
    position: relative;
    width: 92vw;
    left: 1%;
  }

  .tfa-form-wrapper .tfa-form-step-body .sign-in-step {
    padding-bottom: 0;
  }

  .tfa-form-wrapper .error {
    padding-top: 0;
    padding-bottom: 10px;
  }
}

.mobile-number-fieldset {
  display: block;
  font-size: 14px;
  text-align: left;
}
