$base-font-size: 1.4em;
$content-padding: 35px;
$row-padding: 1.2em;
$header-margin: 1em;

$top-radius: 10px 10px 0 0;
$bottom-radius: 0 0 10px 10px;

$tunecore-maroon: #981A1A;

.two-factor-auth-session-header {
  padding-top: 5%;

  .masthead {
    background: $black_background;
    -webkit-border-radius: $top-radius;
    -moz-border-radius: $top-radius;
    border-radius: $top-radius;
    position: relative;

    .logo {
      float: none;
      height: 43px;
      margin: 29px auto 0;
      padding: 0;
      width: 250px;
    }
    .container {
      width: 100%;
    }
  }
}

.two-factor-auth-session-content {
  /* The top two corners are bigger radius because browsers actually show
     small bits of it extending out of what is in front of it. It bugs me
     so I made it bigger and therefore hidden behind what is in front.
  */
  color: #fff;
  background-color: $tunecore-blue;
  border-radius: $bottom-radius;

  #errorExplanation, #goodErrorExplanation {
    font-size: 1.3em;
	  text-align: left;
  }

  a:link, a:visited {
    color: #fff;
  }

  .main-content {
    padding: $content-padding;
    font-size: $base-font-size;

    .tfa-title-container {
      .tfa-title {
        font-weight: bold;
        margin-bottom: $header-margin;
      }
      .notification {
        margin-top: $header-margin;
        margin-bottom: $header-margin * 2;
      }
    }

    .main {
      .form {
        margin-bottom: $row-padding;

        .enter-code-row,
        .resend-row,
        .verify-submit-row,
        .error-row {
          clear: both;
          text-align: center;
        }

        .contextual-help p {
          color: $link_color;
        }

        .enter-code-row {
          padding-left: 1vw;
          margin-bottom: $row-padding;

          .enter-code-label {
            width: 30%;
            float: left;
            text-align: left;
            padding-right: .5vw;
            padding-left: 1.5vw;
          }

          .enter-code-text   {
            float: left;
            padding-left: 0;
            width: 59%;

            border: 1px solid #ddd;
            border-radius: 4px;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
            font-size: 14px;
            padding: 5px;

            &.error-box { border: 1px solid $tunecore-maroon };

            &:focus { border: 1px solid #999 };
          }
        }

        .resend-row {
          padding-bottom: $row-padding;
          text-decoration: underline;
        }

        .error-row {
          color: $tunecore-maroon;
          text-shadow:0 0 1px transparent;
          font-weight: bold;

          .error-partial {
            padding-bottom: $row-padding;
          }
        }

        .resend-row {
          padding-bottom: $row-padding;
          text-decoration: underline;
        }

        .error-row {
          color: $tunecore-maroon;
          text-shadow:0 0 1px transparent;
          font-weight: bold;

          .error-partial {
            padding-bottom: $row-padding;
          }
        }

        .verify-submit-row {
          .verify-button {
            line-height: $base-font-size + 0.1em;
            font-size: $base-font-size;
            margin: 0;
            width: 80%;
          }
        }
      }

      .two-factor-auth-help {
        font-size: 1em;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;

        a {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 960px){
  .masthead {
    height: 100px;
    .container {
      .logo {
        h1 {
          background-size: contain;
          height: 64px;
          margin: 15px auto 0;
          width: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px){
  .two-factor-auth-session-header {
    padding-top: 0;
    margin: 0 auto;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .masthead {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;

      .container {
        .logo {
          h1 {
            height: 64px;
            width: 250px;
          }
        }
      }
    }
  }

  .two-factor-auth-session-content {
    .main-content {
      .main {
        float: none;
        padding: 0;
        .form {
          .enter-code-row {
            padding-left:  5vw;
            padding-right:  5vw;

            .enter-code-label {
              text-align: left;
              mwidth: 30%;
              float: left;
              text-align: right;
              padding-right: 1.5vw;
              padding-left: 3.5vw;
            }

            .enter-code-text {
              float: left;
              width: 55%;
              background: #f5f5f5;


              &.error-box { border: 1px solid $tunecore-maroon };

              &:focus { border: 1px solid #999 };
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px){
  .form-text   {
    max-width: 80vw;
  }
}
