<section>
  <div class="service-container">
    <div class="grid-x">
      <div class="cell small-12 medium-6 apple-hero">
        <%= image_tag('/images/service_for_artists/amfa_hero.png') %>
      </div>
      <div class="cell small-12 medium-6 content">
        <div class="cell medium-6 align-center apple logo">
          <%= image_tag("/images/service_for_artists/amfa_logo.png") %>
        </div>
        <div>
          <div class="description">
            <%= custom_t(".description") %><br>
            <div class="list-header">
              <b><%= custom_t(".with_apple_music_for_artist_header") %></b>
            </div>
            <ul class="list">
              <% custom_t(".with_apple_music_for_artist_list").each_line do |line| %>
                <li><%= line %></li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="dropdown">
          <% if @artists.any? %>
            <%= select_tag :artists, options_for_select(@artists, @selected_artist),
                           prompt: custom_t(".choose_artist_prompt"),
                           id: "amfa-select-dropdown",
                           class: "artist-for-service-select",
                           include_blank: true %>

            <div class="submit">
              <%= link_to custom_t(".button"),
                          "https://artists.apple.com/a/request/#{@selected_artist}",
                          class: "button link amfa-link artist-service-submission-button #{@selected_artist.present? ? '' : 'grey-out'}",
                          target: "_blank" %>
            </div>
          <% else %>
            <div class="submit">
              <%= link_to custom_t(".button"),
                          "https://artists.apple.com/",
                          class: "button link",
                          target: "_blank" %>
            </div>
          <% end %>

          <a href="<%= knowledgebase_link_for('help-homepage', country_website) %>"
            target="_blank" class="help_link button-callout-alt">
              <%= custom_t('.cant_find_artists') %>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
