<section>
  <div class="service-container">
    <div class="grid-x">
      <div class="cell small-12 medium-6"></div>
      <div class="cell small-12 medium-6 content">
        <div class="cell medium-6 align-center spotify logo">
          <%= image_tag("/images/service_for_artists/spotify_artists_logo.png") %>
        </div>
      </div>
    </div>

    <div class="grid-x">
      <div class="cell small-12 medium-6 spotify-hero">
        <%= image_tag('/images/service_for_artists/spotify_hero.jpg') %>
      </div>

      <div class="cell small-12 medium-6 content">
        <div class="description">
          <%= custom_t(".description") %><br>
        </div>
        <form>
          <div class="dropdown">
            <% if @artists.any? %>
              <%= select_tag :artists, options_for_select(@artists, @selected_artist),
                             prompt: custom_t(".choose_artist_prompt"),
                             id: "spotify-artist-select",
                             class: "artist-for-service-select",
                             include_blank: true %>

              <div class="submit">
                <%= link_to custom_t(".button"), '#',
                  class: "button sfa-link artist-service-submission-button link #{@selected_artist.present? ? '' : 'grey-out'}", name: "artists", value: @selected_artist, target: "_blank"
                %>
              </div>
            <% else %>
              <div class="submit">
                <%= link_to custom_t(".button"), 'https://artists.spotify.com/', class: "button sfa-button link sfa-link", target: "_blank" %>
              </div>
            <% end %>
            </form>

            <a
              href="<%= knowledgebase_link_for('spotify-for-artists', country_website) %>"
              target="_blank"
              class="help_link button-callout-alt"
            >
              <%= custom_t('.cant_find_artists') %>
            </a>
          </div>
        </div>

    </div>
  </div>
</section>
