<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/youtube_oac.css" %>
<% end %>

<section content youtube-oac__content>
  <div class="service-container">
    <div class="grid-x">
      <div class="cell small-12 medium-6"></div>
      <div class="cell small-12 medium-6 content">
        <div class="cell medium-6 align-center youtube logo">
          <%= image_tag("/images/service_for_artists/yt_forartists_full_rbg_black.svg") %>
        </div>
      </div>
    </div>

    <div class="grid-x">
      <div class="cell small-12 medium-6 youtube-hero">
        <%= image_tag('/images/service_for_artists/OAC-Hero-Image-v4.png') %>
      </div>

      <div class="cell small-12 medium-6 content">
        <% if @onboarded_all_potential_artists %>
          <div class="description">
            <%= custom_t('youtube_oac.all_onboarded') %>
          </div>
        <% else %>
          <div class="description">
            <%= custom_t('youtube_oac.blurb') %><br>
          </div>
          <div class="dropdown">
            <%= form_with(url: youtube_authentication_path, local: true) do %>
              <div class="twelve columns form-input">
                <%= select_tag(:artist_name, options_for_select(@artists)) %>
              </div>
              <div class="twelve columns form-input youtube-oac-form__submit-container">
                <%= submit_tag(custom_t("youtube_oac.submit_button"),
                              {class: "youtube-oac-form__submit-btn"})
                %>
              </div>
            <% end %>
            <a
              href="<%= knowledgebase_link_for('youtube-oac-help', country_website) %>"
              target="_blank"
              class="help_link button-callout-alt"
            >
              <%= custom_t('youtube_oac.help_link') %>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
