*{
    outline-style: none;
}

html, body{
    position: relative;
    padding: 0px;
    margin: 0px;
}

.drop_handle{

}

.drop_display{

}

.drop_display_hidden{
    display: none;
}

.drop_display_visible{
    display: block !important;
    z-index: 100;
}

.tip{
    position: absolute;
    width: auto;
    height: auto;
}
.tip_relative, .tip_content{
    float: left;
    width: auto;
    height: auto;
    position: relative;
}
.tip_content{
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    padding: 5px;
}
.tip_pointer{
    position: absolute;
    width: 10px;
    height: 10px;
    top: -10;
    left: -0;
    line-height: 1px;
}

.form_handle{

}

.form_section{
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    clear: both;
    position: relative;
}

.form_section.group_fields{
    width: auto;
    clear: none;
}

.group_section{
    float: left;
    width: 100%;
    height: auto;
    clear: both;
}

.group_section .form_section{
    width: auto;
    clear: none;
    margin-right: 5px;
}

a.group_remove{
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(images/kill_icon.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.add_set{
    float: left;
    margin-left: 135px;
}

.form_label,
.form_field,
.form_radio,
.form_select{
    float: left;
    width: auto;
    height: auto;
}

.form_select{
    position: relative;
}

.form_section.select .select_options{
    position: absolute;
    left: 0px;
    top: 30px;
    min-width: 175px;
    height: auto;
    border: 1px solid #999999;
    background-color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    display: none;
}

.form_section.select .select_options .option_handle{
    float: left;
    width: 165px;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    clear: both;
    border-bottom: 1px solid #EEEEEE;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.select_options .option_handle.hover{
    color: #3399ff !important;
}

.select_options .option_handle.focus{
    text-decoration: underline !important;
}

.form_error_tip{
    float: left;
    width: 23px;
    height: 23px;
    margin-left: 5px;
    border-radius: 5px;
    background-image: url(images/form_error_icon.png);
    background-repeat: no-repeat;
    cursor: default;
    display: none;
}

.form_success_check{
    float: left;
    width: 23px;
    height: 23px;
    margin-left: 5px;
    border-radius: 5px;
    background-image: url(images/form_success_icon.png);
    background-repeat: no-repeat;
    cursor: default;
    display: none;
}

.form_label label{
    float: left;
    width: 100px;
    margin-right: 10px;
    font-weight: bold;
    line-height: 23px;
}

.form_section.text input,
.form_section.password input,
.form_section.textarea textarea{
    margin: 0px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0px;
    font-size: 12px;
    background: transparent;
    color: #333333;
}

.form_section.select .select_text{
    float: left;
    width: auto;
    height: 21px;
    line-height: 21px;
    padding-left: 5px;
    padding-right: 5px;
    color: #333333;
    min-width: 100px;
}

.form_section.select .select_arrow{
    float: left;
    width: 15px;
    height: 15px;
    margin: 3px;
    margin-left: 10px;
    background-color: #CCCCCC;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-image: url(images/select_arrow_default.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.form_section.select.hover .select_arrow{
    background-image: url(images/select_arrow_hover.png) !important;
}

.form_section.select.click .select_arrow{
    background-image: url(images/select_arrow_click.png) !important;
}

.form_section.text.hover input,
.form_section.password.hover input,
.form_section.textarea.hover textarea,
.form_section.select.hover .select_text{
    color: #000000;
}

.form_section.select.hover .select_arrow{

}

.form_section.text.has_default input,
.form_section.password.has_default input,
.form_section.textarea.has_default textarea{
    color: #999999;
}

.form_section.text.focus input,
.form_section.password.focus input,
.form_section.textarea.focus textarea,
.form_section.select.focus .select_text,
.form_section.select.click .select_text{
    color: #000000;
}

.form_section.text.error input,
.form_section.password.error input,
.form_section.textarea.error textarea,
.form_section.select.error .select_text{
}

.form_section.text.success input,
.form_section.password.success input,
.form_section.textarea.success textarea,
.form_section.select.success .select_text{
    color: #000000;
}

.form_section.text .form_field,
.form_section.password .form_field,
.form_section.textarea .form_field,
.form_section.select .form_field{
    float: left;
    width: auto;
    height: auto;
    border: 1px solid #666666;
    background-color: #FFFFFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: inset 0px 0px 1px 1px #CCCCCC;
    -moz-box-shadow: inset 0px 0px 1px 1px #CCCCCC;
    -webkit-box-shadow: inset 0px 0px 1px 1px #CCCCCC;
    -o-box-shadow: inset 0px 0px 1px 1px #CCCCCC;
    transition: border 0.2s linear 0s, box-shadow 0.5s linear 0s;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.5s linear 0s;
    -webkit-transition: border 0.2s linear 0s, box-shadow 0.5s linear 0s;
    -o-transition: border 0.2s linear 0s, box-shadow 0.5s linear 0s;
}

.form_section.select .form_field{
    cursor: pointer;
}

.form_section.text.hover .form_field,
.form_section.password.hover .form_field,
.form_section.textarea.hover .form_field,
.form_section.select.hover .form_field{
    border: 1px solid #333333;
    transition: border 0.2s linear 0s, box-shadow 0.5s linear 0s;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.5s linear 0s;
    -webkit-transition: border 0.2s linear 0s, box-shadow 0.5s linear 0s;
    -o-transition: border 0.2s linear 0s, box-shadow 0.5s linear 0s;
}

.form_section.text.focus .form_field,
.form_section.password.focus .form_field,
.form_section.textarea.focus .form_field,
.form_section.select.focus .form_field,
.form_section.select.click .form_field{
    border: 1px solid #60aeeb !important;
    box-shadow: 0px 0px 3px 3px #b3deff !important;
    -moz-box-shadow: 0px 0px 3px 3px #b3deff !important;
    -webkit-box-shadow: 0px 0px 3px 3px #b3deff !important;
    -o-box-shadow: 0px 0px 3px 3px #b3deff !important;
    transition: border 0.2s linear 0s, box-shadow 0.5s linear 0s;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.5s linear 0s;
    -webkit-transition: border 0.2s linear 0s, box-shadow 0.5s linear 0s;
    -o-transition: border 0.2s linear 0s, box-shadow 0.5s linear 0s;
}

.form_section.error .form_error_tip,
.form_section.success .form_success_check{
    display: block;
}

.form_section.focus .form_error_tip,
.form_section.click .form_error_tip,
.form_section.checkbox.hover .form_error_tip,
.form_section.radio.hover .form_error_tip,
.form_section.focus .form_success_check,
.form_section.checkbox .form_success_check,
.form_section.radio .form_success_check,
.form_section.select .form_success_check,
.form_hidden{
    display: none !important;
}

.form_section.text.success .form_field,
.form_section.password.success .form_field,
.form_section.textarea.success .form_field,
.form_section.select.success .form_field{

}

.form_section.text.error .form_field,
.form_section.password.error .form_field,
.form_section.textarea.error .form_field,
.form_section.select.error .form_field{
    border: 1px solid #990000;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    transition: border 0.2s linear 0s, box-shadow 0.5s linear 0s;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.5s linear 0s;
    -webkit-transition: border 0.2s linear 0s, box-shadow 0.5s linear 0s;
    -o-transition: border 0.2s linear 0s, box-shadow 0.5s linear 0s;
}

.form_section.checkbox .checkbox_handle,
.form_section.radio .form_radio .option_handle{
    float: left;
    width: auto;
    height: 23px;
    line-height: 23px;
    margin-left: 110px;
    padding-left: 16px;
    color: #333333;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    background-image: url(images/checkbox_unchecked_default.png);
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
}

.form_section.radio .form_radio .option_handle{
    margin-left: 0px;
    margin-right: 10px;
}

.form_section.checkbox.hover .checkbox_handle,
.form_section.radio.hover .option_handle.hover{
    color: #000000;
    background-image: url(images/checkbox_unchecked_hover.png) !important;
}

.form_section.checkbox.focus .checkbox_handle,
.form_section.checkbox.error.focus .checkbox_handle,
.form_section.radio.focus .option_handle.focus{
    color: #000000;
    background-image: url(images/checkbox_unchecked_focus.png) !important;
}

.form_section.checkbox.error .checkbox_handle,
.form_section.radio.error .option_handle{
    color: #000000;
    background-image: url(images/checkbox_unchecked_error.png) !important;
}

.form_section.checkbox.focus.checked .checkbox_handle{
    color: #000000;
    background-image: url(images/checkbox_checked_focus.png) !important;
}

.form_section.checkbox.checked .checkbox_handle{
    color: #000000;
    background-image: url(images/checkbox_checked_default.png) !important;
}

.form_section.radio.checked .option_handle.checked{
    color: #000000;
    background-image: url(images/radio_checked_default.png) !important;
}

.form_section.radio.focus.checked .option_handle.checked.focus{
    color: #000000;
    background-image: url(images/radio_checked_focus.png) !important;
}

.form_section.checkbox.hover.checked .checkbox_handle{
    color: #000000;
    background-image: url(images/checkbox_checked_hover.png) !important;
}

.form_section.radio.hover.checked .option_handle.hover.checked{
    color: #000000;
    background-image: url(images/radio_checked_hover.png) !important;
}

.form_section.capslock .capslock{
	display: block;
}

.note.capslock{
	float: left;
	clear: both;
	margin-left: 110px;
	color: #000000;
	font-size: 11px;
	font-weight: bold;
	display: none;
}

.note.capslock strong{
	color: #ff9900;
}

.form_tip .tip_content{
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    color: #000000;
    max-width: 200px;
}

.form_tip.error_tip .tip_content{
    background-color: #efabab;
    border: 2px solid #990000;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    color: #990000;
}

.unselectable{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

}
