<% form_method = new_form ? :post : :put %>

<div class="publishing-enrollment">
  <div class="header">
    <h2><b><%= custom_t("publishing.sign_up_for_publishing") %></b></h2>
  </div>

  <div class="body">
    <div class="title">
      <b><%= custom_t("publishing.songwriter_details") %></b>
    </div>

    <%= simple_form_for enrollment_form, url: path, method: form_method do |f| %>
      <div class="grid-x">
        <%= f.input :name_prefix,
          label: custom_t("publishing.prefix"),
          collection: name_affixes_translations("prefix"),
          default: nil,
          error: f.full_error(:name_prefix),
          wrapper_html: { class: "cell small-2 name-input" } %>

        <%= f.input :first_name,
          label: custom_t("publishing.first_name"),
          error: f.full_error(:first_name),
          wrapper_html: { class: "cell small-2 name-input" } %>

        <%= f.input :middle_name,
          label: custom_t("publishing.middle_name"),
          wrapper_html: { class: "cell small-2 name-input" } %>

        <%= f.input :last_name,
          label: custom_t("publishing.last_name"),
          error: f.full_error(:last_name),
          wrapper_html: { class: "cell small-2 name-input" } %>

        <%= f.input :name_suffix,
          label: custom_t("publishing.suffix"),
          collection: name_affixes_translations("suffix"),
          default: nil,
          error: f.full_error(:name_suffix),
          wrapper_html: { class: "cell small-2 name-input" } %>
      </div>

      <%= f.input :publishing_role_id, as: :hidden, input_html: { value: enrollment_form.publishing_role_id } %>

      <% if new_form %>
        <div class="agree-tac">
          <%= f.input(
            :tos_agreed,
            as: :boolean,
            input_html: { checked: nil },
            label: custom_t("publishing.terms_and_conditions.accept", url: publishing_administration_tac_url)
          ) %>
        </div>
      <% end %>

  </div>

    <div class="footer">
      <div class="edit"></div>
      <div class="next">
        <%= f.submit custom_t(:next), class: "btn tac-submit", disabled: new_form %>
      </div>
    </div>
  <% end %>
</div>
