<div class="publishing-entrollment-title">
  <b><%= custom_t("publishing.songwriter_publishing_company_details") %></b>
</div>

<div class="publishing-enrollment-body-text">
  <%= custom_t("publishing.publishing_company_instructions") %>
</div>

<div class="grid-x">
  <div class="cell small-6">
    <%= f.input :publisher_name,
      label: custom_t("publishing.publishing_company_name"),
      input_html: { value: enrollment_form.try(:publisher_name) },
      error: custom_t("publishing.publishing_name_is_required"),
      wrapper_html: { class: "cell small-6" } %>

    <%= f.input :publisher_pro_id,
      as: :hidden,
      input_html: { value: pro_id } %>

    <%= f.label(:publisher_cae, custom_t("publishing.cae_ipi_number_nine_to_11_digits")) %>
    <%= f.hint custom_t("publishing.cae_hint_with_pro") %>
    <%= f.input :publisher_cae,
      label: false,
      input_html: { value: enrollment_form.try(:publisher_cae), maxlength: 11 },
      error: enrollment_form.errors[:publisher_cae].try(:first),
      wrapper_html: { class: "cell small-6" } %>
  </div>
</div>
