<h1>Create a new audit</h1>
<%= form_for :review_audit, :url => { :action => :update }, :html => {:method=>:put} do |f| %>
<%= error_messages_for @review_audit %>

<div class="field">
  <%= f.text_field :album_id %>
</div>
<div class="field">
  <label>events</label>
  <div id="review_event_select">
    <%=select_tag "review_audit[event]", "<option>FLAGGED</option><option>REJECTED</option><option>SKIPPED</option><option>APPROVED</option>"%>
  </div>
</div>

<div class="field">
  <label>Reason</label>
  <div id="review_reason_checkboxes" style="width:500px; margin-left:250px; margin-top:50px;">
    <% ReviewReason.all.each do |r| %>
      <%=check_box_tag "review_audit[review_reason_ids][]", r.id%>
      <%="#{r.reason_type} #{r.reason}"%>
    </br>
    <% end %>
  </div>
</div>

   <%= submit_tag "Create" %>
<% end %>

