<%
  head_cell_style = "text-align:right; padding: 5px"
  label_style = "padding:2px 5px 2px 5px; text-align:left;"
  amount_style = "padding:2px 5px 2px 5px; text-align:right;"
  decimal_disclaimer_style = "display:inline-block; width:90%;"
%>

<tr>
  <td style="padding:5px; text-align:left;"><b><%= custom_t('.heading') %>:</b></td>
  <td style="padding:5px 5px 2px 5px; text-align:right;"></td>
</tr>

<tr>
  <td></td>
  <% if @invoice.vat_applicable? && vat_feature_flipper_enabled?(@invoice.person) %>
    <td style="<%=head_cell_style%>"><%=custom_t('.base_amount_with_tax')%></td>
  <% else %>
    <td style="<%=head_cell_style%>"><%=custom_t('.base_amount')%></td>
  <% end %>
  <% if @invoice.gst_config %>
    <% if @invoice.gst_config.igst? %>
      <td style="<%=head_cell_style%>"><%=custom_t('.igst')%> (<%=@invoice.gst_config.igst.round%>%)</td>
    <% else %>
      <td style="<%=head_cell_style%>"><%=custom_t('.cgst')%> (<%=@invoice.gst_config.cgst.round%>%)</td>
      <td style="<%=head_cell_style%>"><%=custom_t('.sgst')%> (<%=@invoice.gst_config.sgst.round%>%)</td>
    <% end %>
  <% end %>
  <td style="<%=head_cell_style%>"><%=custom_t('.total_amount')%></td>
</tr>

<% @invoice.purchases.each do |purchase| %>
  <% if purchase.product %>
    <tr>
      <td style="<%=label_style%>">
        <% if purchase.related_type == 'CreditUsage' %>
          <%= custom_t('.credit_usage') %> <%= purchase.related.related.album_type.downcase %> <%= purchase.related.related.name %>
        <% else %>
          <% if purchase.product.name == RF_PURCHASE %>
            <%= TCS_PURCHASE %>
          <% else %>
            <%= purchase.purchased_name || purchase.product.name %>
          <% end %>
        <% end %>
      </td>
      <td style="<%=amount_style%>">
        <%= money_to_currency(purchase.purchase_total_without_tax, iso_code: @person.country_domain, currency: @person.user_currency, round_value: false) %>
      </td>
      <% if @invoice.gst_config %>
        <% tax_amount = purchase.gst_tax_amount %>
        <% if @invoice.gst_config.igst? %>
          <td style="<%=amount_style%>">
            <%= money_to_currency(tax_amount.igst, iso_code: @person.country_domain, currency: @person.user_currency, round_value: false) %>
          </td>
        <% else %>
          <td style="<%=amount_style%>">
            <%= money_to_currency(tax_amount.cgst, iso_code: @person.country_domain, currency: @person.user_currency, round_value: false) %>
          </td>
          <td style="<%=amount_style%>">
            <%= money_to_currency(tax_amount.sgst, iso_code: @person.country_domain, currency: @person.user_currency, round_value: false) %>
          </td>
        <% end %>
      <% end %>
      <td style="<%=amount_style%>">
        <%= money_to_currency(purchase.purchase_total, iso_code: @person.country_domain, currency: @person.user_currency, round_value: false) %>
      </td>
    </tr>
  <% end %>
<% end %>

<tr>
  <td style="<%=label_style%>">
    <b><%= custom_t(:total) %> (<%= @person.user_currency %>):</b><br>
  </td>
  <td style="<%=amount_style%>">
    <b><%= money_to_currency(@invoice.final_settlement_amount_without_tax, iso_code: @person.country_domain, 
                              currency: @person.user_currency, round_value: false) %></b>
  </td>
  <% if @invoice.gst_config %>
    <% total_tax_amount = @invoice.gst_tax_amount %>
    <% if @invoice.gst_config.igst? %>
      <td style="<%=amount_style%>">
        <b><%= money_to_currency(total_tax_amount.igst, iso_code: @person.country_domain, 
                                  currency: @person.user_currency, round_value: false) %></b>
      </td>
    <% else %>
      <td style="<%=amount_style%>">
        <b><%= money_to_currency(total_tax_amount.cgst, iso_code: @person.country_domain, 
                                  currency: @person.user_currency, round_value: false) %></b>
      </td>
      <td style="<%=amount_style%>">
        <b><%= money_to_currency(total_tax_amount.sgst, iso_code: @person.country_domain, 
                                  currency: @person.user_currency, round_value: false) %></b>
      </td>
    <% end %>
  <% end %>
  <td style="<%=amount_style%>">
    <b><%= money_to_currency(@invoice.final_settlement_amount, iso_code: @person.country_domain, 
                              currency: @person.user_currency, round_value: false) %></b>
  </td>
</tr>
<% if @person.india_user? %>
  <tr>
    <td style="<%=label_style%>">
      <span style="<%= decimal_disclaimer_style %>"><%= custom_t("models.person_notifier.cart_items.decimal_disclaimer") %></span>
    </td>
  </tr>
<% end %>
