	</td></tr>
	<tr>
		<td style="border-bottom:1px solid #999999;padding-bottom:20px">
			<img src='http://<%= @person.domain %>/images/email/tc_email_logo.gif' />
		</td>
	</tr>
	<tr>
		<td style="padding-top:15px">
			<a href="http://<%= @person.domain %>/account/signup?utm_source=TuneCore&amp;utm_medium=Email%2BButtons&amp;utm_campaign=Sign%2BUp"><img style="border:none;" src='http://<%= @person.domain %>/images/email/upload.gif' /></a>
			<a href="http://<%= @person.domain %>/tour?utm_source=TuneCore&amp;utm_medium=Email%2BButtons&amp;utm_campaign=Tour"><img style="border:none;" src='http://<%= @person.domain %>/images/email/tour.gif' /></a>
			<a href="http://<%= @person.domain %>/manufacturing/landing?utm_source=TuneCore&amp;utm_medium=Email%2BButtons&amp;utm_campaign=Manufacturing"><img style="border:none;" src='http://<%= @person.domain %>/images/email/manufacturing.gif' /></a>
			<a href="http://<%= @person.domain %>/index/m_and_p_new?utm_source=TuneCore&amp;utm_medium=Email%2BButtons&amp;utm_campaign=M%2B%26%2BP"><img style="border:none;" src='http://<%= @person.domain %>/images/email/promote.gif' /></a>
			<a href="http://<%= @person.domain %>/index/testimonials?utm_source=TuneCore&amp;utm_medium=Email%2BButtons&amp;utm_campaign=Testimonials"><img style="border:none;" src='http://<%= @person.domain %>/images/email/testimonials.gif' /></a>
			<a href="http://<%= @person.domain %>/store?utm_source=TuneCore&amp;utm_medium=Email%2BButtons&amp;utm_campaign=Promotions"><img style="border:none;" src='http://<%= @person.domain %>/images/email/tunecore_store_icon.gif' /></a>
            <a href="http://<%= @person.domain %>/music_directory/pages?utm_source=TuneCore&amp;utm_medium=Email%2BButtons&amp;utm_campaign=Promotions"><img style="border:none;" src='http://<%= @person.domain %>/images/email/discover_music_icon.gif' /></a>
			<a href="http://www.websitetoolbox.com/mb/tunecore"><img style="border:none;" src='http://<%= @person.domain %>/images/email/discussion_icon.jpg' /></a>
<a href="http://<%= @person.domain %>/blog"><img style="border:none;" src='http://<%= @person.domain %>/images/email/blog_icon.jpg' /></a>
		</td>
	</tr>
</table>
