	</td></tr>
	<tr>
		<td style="border-bottom:1px solid #999999;padding-bottom:20px">
			<img src='http://<%= @person.domain %>/images/email/tc_email_logo.gif' />
		</td>
	</tr>
        <tr>
              <td><small>  
                 <%= custom_t('.currently') %>
                 <% if @person.nil? %>
                     <%= custom_t('.unsubscribe') %> <a href="http://<%= @person.domain %>/newsletter_subscriber/unsubscribe">http://tunecore.com/newsletter_subscriber/unsubscribe</a>
                 <% elsif @person.respond_to?(:email) %>
                     <%= custom_t('.email_was_sent_to') %> <%= @person.email %>. <%= custom_t('.to_unsubscribe_visit') %> <a href="http://tunecore.com/newsletter_subscriber/unsubscribe?email=<%= @person.email %>">http://tunecore.com/newsletter_subscriber/unsubscribe?email=<%= @person.email %></a>
                 <% else %>
                     <%= custom_t('.email_was_sent_to') %> <%= @person %>. <%= custom_t('.unsubscribe') %> <a href="http://tunecore.com/newsletter_subscriber/unsubscribe?email=<%= @person %>">http://tunecore.com/newsletter_subscriber/unsubscribe?email=<%= @person %></a>
                 <% end %>
              </small></td>
        </tr>
	<tr>
		<td style="padding-top:15px">
			<a href="http://<%= @person.domain %>/account/signup?utm_source=TuneCore&utm_medium=Email%2BButtons&utm_campaign=Sign%2BUp"><img style="border:none;" src='http://<%= @person.domain %>/images/email/upload.gif' /></a>
			<a href="http://<%= @person.domain %>/tour?utm_source=TuneCore&utm_medium=Email%2BButtons&utm_campaign=Tour"><img style="border:none;" src='http://<%= @person.domain %>/images/email/tour.gif' /></a>
			<a href="http://<%= @person.domain %>/manufacturing/landing?utm_source=TuneCore&utm_medium=Email%2BButtons&utm_campaign=Manufacturing"><img style="border:none;" src='http://<%= @person.domain %>/images/email/manufacturing.gif' /></a>
			<a href="http://<%= @person.domain %>/index/m_and_p_new?utm_source=TuneCore&utm_medium=Email%2BButtons&utm_campaign=M%2B%26%2BP"><img style="border:none;" src='http://<%= @person.domain %>/images/email/promote.gif' /></a>
			<a href="http://<%= @person.domain %>/index/testimonials?utm_source=TuneCore&utm_medium=Email%2BButtons&utm_campaign=Testimonials"><img style="border:none;" src='http://<%= @person.domain %>/images/email/testimonials.gif' /></a>
  			<a href="http://<%= @person.domain %>/store?utm_source=TuneCore&utm_medium=Email%2BButtons&utm_campaign=Promotions"><img style="border:none;" src='http://<%= @person.domain %>/images/email/tunecore_store_icon.gif' /></a>
        <a href="http://<%= @person.domain %>/music_directory/pages?utm_source=TuneCore&utm_medium=Email%2BButtons&utm_campaign=Promotions"><img style="border:none;" src='http://<%= @person.domain %>/images/email/discover_music_icon.gif' /></a>
  		</td>
	
		</td>
	</tr>
</table>
