<% if @person.country_website.has_reseller? %>
  <div style="margin-bottom: 10px; font-size: 12px">
    <div style="font-weight: 800;">
      <%= "#{custom_t('person_notifier.payment_thank_you.invoice_number')} #{@invoice.id}" %>
    </div>
    <%= custom_t('person_notifier.payment_thank_you.reseller_info') if @invoice.gst_info || @invoice.gst_config %>
  </div>
<% end %>
