<html>
<body>
<table width="580">
	<tr><td>
<p><%= custom_t(:dear) %> <%= @person.name %>,</p>
<p>
	<% if @renewal.canceled? %>
		<%= custom_t('.as_you_requested') %> "<%=display_name(@album) %>".
		<% if  @renewal.expires_at > Time.now %>
			<%= custom_t('.expires_on',{expires_at:@renewal.expires_at.strftime("%b %d, %Y")}) %></p>
		<% else %>
        <%= custom_t('.expired_on',{expires_at:@renewal.expires_at.strftime("%b %d, %Y")}) %></p>
		<% end %>
		<p><%= custom_t('.no_further_action') %> <a href="http://<%= @person.domain %>/contact"><%= custom_t(:artist_support) %></a>.</p>
	<% else %>
		<%= custom_t('.reactivated') %>: "<%=display_name(@album) %>".
		<% if  @renewal.expires_at > Time.now %>
			<%= custom_t('.renewal_due') %> <%= @renewal.expires_at.strftime("%b %d, %Y") %>. </p>
		<% else %>
			<%= custom_t('.album_expired') %> <%= @renewal.expires_at.strftime("%b %d, %Y") %>.</p>
		<% end %>
		<p><%= custom_t('.pay_for_this') %>
    <% unless @person.plan_user? %>
		  <a href="http://<%= @domain %>/subscriptions"><%= custom_t('.renewals_page') %></a>, <%= custom_t('.pay_now') %></p>
    <% end %>
	<% end -%>
</p>

<% unless @album.nil? -%>
	<h2 style="border-bottom: solid #ccc 1px; margin-top: 15px; font-size: 12px; font-weight: bold;">
		<%= @renewal.canceled? ? custom_t('.album_cancel_details') : custom_t('.album_reactivate_details') %>
	</h2>
	<%= @album.album_type %>: <%= display_name(@album) %><br/>
	<% if @album.is_various? %>
    <%= custom_t(:primary_artist) %>: <strong><%= @album.artist_name%></strong><br/>
  <% else %>
    <%= custom_t(:primary_artist) %>: <strong><%= @album.primary_artists.collect(&:name).to_sentence %></strong><br/>
    <% if @album.featured_artists.size > 0 %><br/> <%= custom_t(:featured_artists) %>: <strong><%= @album.featured_artists.collect(&:name).to_sentence %></strong><br/><% end %>
  <% end %>
  <% unless @album.label.blank? %>
  <br /><%= custom_t(:label) %>: <b><%= h @album.label.name %></b><br/>
  <% end %>
		<%= custom_t(:expiration_date) %>: <%= @renewal.expires_at.strftime("%b %d, %Y") %><br/>
	<% if @renewal.canceled? %>
		<%= custom_t('.renewal_canceled_on') %>: <%= @renewal.canceled_at.strftime("%b %d, %Y") %><br/>
	<% end -%>

<% end -%>

<p> <%= custom_t('if_you_have_any_questions') %> <a href="http://<%= @person.domain %>/contact"><%= custom_t(:artist_support) %></a>.</p>
</tr></td></table>
</body>
</html>
