<% content_for :greeting do %>
  <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 10px;">
    <tr>
      <td style="font-family: Helvetica, Arial, sans-serif;">
        <p style="margin: 0;"><%= custom_t(".greeting", full_name: @person.name) %></p>
      </td>
    </tr>
  </table>
<% end %>
<% content_for :signature do %>
  <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 10px 20px;">
    <tr>
      <td style="font-family: Helvetica, Arial, sans-serif;">
        <p style="margin: 0;"><%= custom_t(".closing") %></p>
      </td>
    </tr>
  </table>
<% end %>

<table border="0" cellpadding="0" cellspacing="0" style="margin: 0 10px;">
  <tr>
    <td style="font-family: Helvetica, Arial, sans-serif;">
      <p><%= custom_t(".p1", expires_at: I18n.l(@expires_at, format: :month_day_year)) %></p>
      <p><%= custom_t(".p2") %></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="center" bgcolor="#00a1e0" style="padding: 8px 44px 8px 44px;">
            <a href="https://<%= @url %>/people/<%= @person.id %>/renewal_billing_info" target="_blank" style="color: #fff; text-decoration: none; display: inline-block; font-family: Helvetica, Arial, sans-serif;"><%= custom_t(".confirm_my_info") %></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
