<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title><%= custom_t('.tunecore_email') %></title>
</head>
<body bgcolor="#4b4a4a">
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#4b4a4a">
<tr>
  <td>
  <%= custom_t('.thanks') %> <a href="http://<%= @domain %>/albums/new"><%= custom_t(:create_album) %></a>
  </td>
</tr>
</body>
</html>
