<% content_for :greeting do %>
<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <p><%= custom_t(:dear) %> <%= @name %>,</p>
    </td>
  </tr>
</table>
<% end %>

<table border="0" cellpadding="0" cellspacing="0" width="640">
  <tr>
    <td align="left" valign="top" style="border-collapse: collapse; margin: 10px 0; padding: 0 10px;">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="left" valign="middle" width="640" style="border-collapse: collapse;">
            <p><%= custom_t('.at_your_request') %></p>

            <p><%= custom_t(:please_contact_us_at) %> <a href="http://<%= @person.domain %>/contact"><%= custom_t(:artist_support) %></a> <%= custom_t(:if_you_have_any_questions) %></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
