<%= custom_t('.company_name') %>: <%= @company %>
<%= custom_t('.business') %>: <%= @business %>

<%= custom_t('.website') %>: <%= @website %>
<%= custom_t('.facebook') %>: <%= @facebook %>
<%= custom_t('.twitter') %>: <%= @twitter %>
<%= custom_t('.company_blog') %>: <%= @blog %>
<%= custom_t('.approximate') %>: <%= @customer_email_count %>

<%= custom_t('.contact_name') %>: <%= @name %>
<%= custom_t(:title) %>: <%= @title %>
<%= custom_t('.contact_phone') %>: <%= @phone %>
<%= custom_t('.contact_email') %>: <%= @email %>

<%= custom_t('.business_description') %>: <%= @biz_description %>

<%= custom_t('.number_of_years') %>: <%= @yrs_in_biz %>
<%= custom_t('.customer_base_size') %>: <%= @customer_base_size %>
<%= custom_t('.customer_description') %>: <%= @customer_demographic %>


<%= custom_t('.areas_of_interest') %>: <%= @area_of_interest %>

<%= custom_t('.additional_info') %>: <%= @details %>

