<div style="font-size: 13px; font-family: Helvetica, Arial, Sans-serif; line-height: 1.5em;">
  <p>Добро пожаловать в TuneCore! Если Вы планируете загружать материал на русском, белорусском, болгарском или украинском языках, предлагаем воспользоваться нашими полезными советами!</p>
  <p>У iTunes, наряду с другими цифровыми магазинами есть конкретные правила форматирования. Распространение материала, не соответствующего правилам форматирования снизит быстроту запуска музыки, и даже может привести к тому, что Ваш релиз будет спрятан до тех пор, пока проблема не будет устранена.</p>
  <p>Мы хотим убедиться, что Ваша музыка может запуститься и оставаться активированной.</p>
  <p>Ниже приведено несколько примеров, которые могут служить в качестве руководства для распространения Вашей музыки. Просим изучить эти примеры перед тем как Вы будете запускать музыку. Вопросы можно задавать по ссылке (<a href="<%= knowledgebase_link_for('help-homepage') %>"><%= knowledgebase_link_for('help-homepage') %></a>)</p>

  <h2 style="margin-top: 2em; padding-bottom: 6px; border-bottom: 2px solid #333333;">Совет 1: Диакритические знаки</h2>
  <p>Объяснение: Все символы должны вводиться правильно. По принципам iTunes, "ё" и "е", "й" и "и", а также "ў" и "у" и другие не являются взаимозаменимыми.</p>
  <h3>Примеры</h3>
  <table cellpadding="0" cellspacing="0" style="border: 1px solid #cccccc; border-collapse: collapse;">
    <thead>
      <tr>
        <th style="background-color: #e0e0e0; padding-top: 12px; font-weight: bold; padding: 6px 10px; border: 1px solid #cccccc;">Неправильное форматирование</th>
        <th style="background-color: #e0e0e0; padding-top: 12px; font-weight: bold; padding: 6px 10px; border: 1px solid #cccccc;">Правильное форматирование</th>
      </tr>
    </thead>
    <tr>
      <td style="padding: 6px 10px; border: 1px solid #cccccc;">Товарищи ученые</td>
      <td style="padding: 6px 10px; border: 1px solid #cccccc;">Товарищи учёные</td>
    </tr>
    <tr>
      <td style="padding: 6px 10px; border: 1px solid #cccccc;">Очи черные</td>
      <td style="padding: 6px 10px; border: 1px solid #cccccc;">Очи чёрные</td>
    </tr>
  </table>

  <h2 style="margin-top: 2em; padding-bottom: 6px; border-bottom: 2px solid #333333;">Совет 2: Заглавная буква</h2>
  <p>Объяснение: В названиях, только первое слово должно писаться с заглавной буквы.</p>
  <h3>Примеры</h3>
  <table cellpadding="0" cellspacing="0" style="border: 1px solid #cccccc; border-collapse: collapse;">
    <thead>
      <tr>
        <th style="background-color: #e0e0e0; padding-top: 12px; font-weight: bold; padding: 6px 10px; border: 1px solid #cccccc;">Неправильное форматирование</th>
        <th style="background-color: #e0e0e0; padding-top: 12px; font-weight: bold; padding: 6px 10px; border: 1px solid #cccccc;">Правильное форматирование</th>
      </tr>
    </thead>
    <tr>
      <td style="padding: 6px 10px; border: 1px solid #cccccc;">Песня про Козла отпущения</td>
      <td style="padding: 6px 10px; border: 1px solid #cccccc;">Песня про козла отпущения</td>
    </tr>
    <tr>
      <td style="padding: 6px 10px; border: 1px solid #cccccc;">Райские яблоки (ранняя версия)</td>
      <td style="padding: 6px 10px; border: 1px solid #cccccc;">Райские яблоки (Ранняя версия)</td>
    </tr>
  </table>
  <p>Примечание: первое слово в скобках должно писаться с заглавной буквы.</p>
  <table cellpadding="0" cellspacing="0" style="border: 1px solid #cccccc; border-collapse: collapse;">
    <thead>
      <tr>
        <th style="background-color: #e0e0e0; padding-top: 12px; font-weight: bold; padding: 6px 10px; border: 1px solid #cccccc;">Неправильное форматирование</th>
        <th style="background-color: #e0e0e0; padding-top: 12px; font-weight: bold; padding: 6px 10px; border: 1px solid #cccccc;">Правильное форматирование</th>
      </tr>
    </thead>
    <tr>
      <td style="padding: 6px 10px; border: 1px solid #cccccc;">Бег иноходца (первая версия)</td>
      <td style="padding: 6px 10px; border: 1px solid #cccccc;">Бег иноходца (Первая версия)</td>
    </tr>
  </table>
  <p>* Имена cобственные всегда пишутся с заглавной буквы.</p>

  <h2 style="margin-top: 2em; padding-bottom: 6px; border-bottom: 2px solid #333333;">Совет 3: Ненужная справочная информация</h2>
  <p>Объяснение: В названиях, по принципам iTunes, такие слова как "кавер-версия" или "Концерт" не должны использоваться. Должны использоваться только фактические названия. Концертные записи должны быть указаны следующим образом:</p>
  <p>Название концерта (Live)</p>
  <h3>Примеры</h3>
  <table cellpadding="0" cellspacing="0" style="border: 1px solid #cccccc; border-collapse: collapse;">
    <thead>
      <tr>
        <th style="background-color: #e0e0e0; padding-top: 12px; font-weight: bold; padding: 6px 10px; border: 1px solid #cccccc;">Неправильное форматирование</th>
        <th style="background-color: #e0e0e0; padding-top: 12px; font-weight: bold; padding: 6px 10px; border: 1px solid #cccccc;">Правильное форматирование</th>
      </tr>
    </thead>
    <tr>
      <td style="padding: 6px 10px; border: 1px solid #cccccc;">Магнитные поля (кавер)</td>
      <td style="padding: 6px 10px; border: 1px solid #cccccc;">Магнитные поля</td>
    </tr>
    <tr>
      <td style="padding: 6px 10px; border: 1px solid #cccccc;">Бег иноходца (Концерт)</td>
      <td style="padding: 6px 10px; border: 1px solid #cccccc;">Бег иноходца (Live)</td>
    </tr>
    <tr>
      <td style="padding: 6px 10px; border: 1px solid #cccccc;">Марафон (Концерт)</td>
      <td style="padding: 6px 10px; border: 1px solid #cccccc;">Марафон (Live)</td>
    </tr>
    <tr>
      <td style="padding: 6px 10px; border: 1px solid #cccccc;">Мы вращаем Землю (Концерт)</td>
      <td style="padding: 6px 10px; border: 1px solid #cccccc;">Мы вращаем Землю (Live)</td>
    </tr>
  </table>

  <h2 style="margin-top: 2em; padding-bottom: 6px; border-bottom: 2px solid #333333;">Помните:</h2>
  <ul style="list-style-type: decimal; font-size: 14px;">
    <li style="margin-bottom: 1em;">Пишите только первое слово в названиях с заглавной буквы (за исключением имен собственных).</li>
    <li style="margin-bottom: 1em;">Используйте надлежащие диакритические знаки.</li>
    <li style="margin-bottom: 1em;">Не используйте переводы в названиях, именах исполнителей или произведений.</li>
    <li style="margin-bottom: 1em;">Пишите на кириллице.</li>
  </ul>

  <p>Благодарим Вас за выбор TuneCore! Обязательно сообщите нам, если у Вас есть какие-либо вопросы.</p>
</div>
