<table border='0' cellpadding='0' cellspacing='0' width='640'>
  <tr>
    <td align='left' style='border-collapse: collapse; margin: 10px 0; padding: 0 10px;' valign='top'>
      <table border='0' cellpadding='0' cellspacing='0'>
        <tr>
          <td align='left' style='border-collapse: collapse;' valign='top' width='640'>
          <% if @person.person_preference.preferred_payment_type == "CreditCard" %>
              <p><%= custom_t('.could_not_charge') %>:</p>
              <p><em><%= custom_t('.last_4') %>: <%= @person.preferred_credit_card.last_four %><br> <%= custom_t(:expires) %>: <%= @person.preferred_credit_card.expiration_month %>/<%= @person.preferred_credit_card.expiration_year %></em></p>
          <% else %>
              <p><%= custom_t('.unable_to_renew') %>:</p>
              <p><em><%= @person.preferred_paypal_account.email %></em></p>
            <% end %>
          </td>
        </tr>
      </table>

      <% unless @person.plan_user? %>
        <div id="RenewalsTable">
          <div style="margin: 0px 0px 0px 400px;">
            <a href="http://<%= @person.domain %>:3000<%= cart_path %>">
              <img alt="Pay Now" src="http://<%= @person.domain %>:3000/images/email/pay_now.png" />
            </a>
          </div>
        </div>
      <% end %>

      <div id="CentralMessage">
        <table border='0' cellpadding='0' cellspacing='0'>
          <tr>
            <td align='left' style='border-collapse: collapse;' valign='top' width='640'>
            <h4><%= custom_t('.what_if') %></h4>
              <ul style='padding-left: 10px;'>
                <li style='margin-bottom: 6px;'><%= custom_t('.not_attempt') %></li>
            </ul>
          </td>
        </tr>
      </table>
      </div>

    </td>
  </tr>
</table>
