<table border="0" cellpadding="0" cellspacing="0" width="640">
  <tr>
    <td align="left" valign="top" style="border-collapse: collapse; margin: 10px 0; padding: 0 10px;">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="left" valign="middle" width="640" style="border-collapse: collapse;">
            <p><%=custom_t('.exciting_news', country_name: @person.country)%></p>
            <p><%=custom_t('.benefits', country_name: @person.country, country_currency: @person.country_website.currency, country_language: custom_t(:country_language), login_url: "#{@person.domain}/login?#{ENV.fetch("LOGIN_DDOS_MITIGATION_PARAM", "check")}=1")%></p>

            <% content_for :signature do %>
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td align="left" width="640" style="padding: 10px;">
                  <p><%=custom_t('.thank_you')%></p>
                  <br/>
                  <p>
                    <%=link_to @person.domain, style: "padding: 7px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #fff; background-color: #4798DA; text-decoration: none;", target: "_blank" do %>
                      <%=custom_t(:login)%>
                    <%end%>
                  </p>
                </td>
              </tr>
            </table>
            <% end %>
            <% content_for :email_footer do %>
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td align="left" width="640" style="padding: 10px;">
                </td>
              </tr>
            </table>
            <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
