<%
  payment_methods, tcbalance = @invoice.invoice_settlements.partition{|i| i.source_type != 'PersonTransaction'}
  balance_payment = 0
  tcbalance.each do |b|
    balance_payment = balance_payment + b.settlement_amount_cents
  end
  balance_payment = balance_payment.to_f/100
%>

<% content_for :reseller_info do %>
  <%= render partial: 'person_notifier/reseller_info', person: @person %>
<% end %>

<% content_for :greeting do %>
<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <%= custom_t('.top_content', {name:@person.name}) %>
    </td>
  </tr>
  <% if @person.india_user? && FeatureFlipper.show_feature?(:enable_gst, @person) %>
  <tr>
    <td style="padding: 0 10px 15px 10px; font-size: 13px;">
      <div>
        <%= custom_t('.state_city', invoice_address) %>
      </div>
      <% if @invoice.gst_info %>
        <div><%= custom_t('.gst_info', {gstin: @invoice.gst_info.gstin}) %></div>
      <% end %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td style="text-align: center; padding: 10px">
      <b><%= custom_t('.heading') %></b>
    </td>
  </tr>
</table>
<% end %>

<div style="background-color: #eeeeee; font-size: 13px">
  <div style="text-align: right; padding: 5px"><%= fmt_long_date(@invoice.settled_at) %></div>

  <table border="0" cellpadding="0" cellspacing="0" width="640">

    <%= render partial: 'cart_items', invoice: @invoice, person: @person %>

    <% if balance_payment > 0 or payment_methods.length > 0 %>
      <tr>
        <td style="padding:15px 5px 5px 5px; text-align:left;"><b><%= custom_t('.payment_methods') %>:</b></td>
        <td style="padding:15px 5px 5px 5px; text-align:right;"></td>
      </tr>
    <% end %>
    <% if balance_payment > 0 %>
      <tr>
        <td style="padding:2px 5px 2px 5px; text-align:left;"><%= custom_t('.total_charged_to_balance') %></td>
        <td style="padding:2px 5px 2px 5px; text-align:right;">
          <%= money_to_currency(balance_payment.to_money(@invoice.person.person_balance.currency),
                                iso_code: @person.country_domain, currency: @person.user_currency, round_value: false) %>
        </td>
      </tr>
    <% end %>
    <% if payment_methods.length > 0 %>
      <% p = payment_methods.first %>
      <tr>
        <% if p.source_type == 'BraintreeTransaction' || p.source_type == 'PaymentsOSTransaction' %>
          <% cc = p.source.stored_credit_card %>
          <td style="padding:2px 5px 10px 5px; text-align:left;">
            <%= custom_t('.total_charged_to_cc') %>
            <img src="http://<%= @domain %>/images/credit_card_icons/<%= cc.cc_type.downcase.delete(' ') %>.png"
                 style="margin: 0 5px; vertical-align: middle">
            (<%= cc.padded_cc_number %>)
          </td>
        <% elsif p.source_type == 'PaypalTransaction' %>
          <td style="padding:2px 5px 10px 5px; text-align:left;"><%= custom_t('.total_charged_to_pp') %> (<%= p.source.email %>)</td>
        <% elsif p.source_type == 'PayuTransaction' %>
          <td style="padding:2px 5px 10px 5px; text-align:left;"><%= custom_t('invoices.show.total_charged').humanize %>: PayU (<%= p.source.payment_method %>)</td>
        <% elsif p.source_type = "AdyenTransaction" %>
          <td style="padding:2px 5px 10px 5px; text-align:left;">
            <%= InvoiceSettlementFormatter::Formatters::Adyen.new(p.source).thank_you_mailer_description %>
          </td>
        <% end %>
        <td style="padding:2px 5px 10px 5px; text-align:right;">
          <%= money_to_currency((@invoice.final_settlement_amount_cents.to_f/100 - balance_payment).to_money(@invoice.currency),
                                iso_code: @person.country_domain, currency: @person.user_currency, round_value: false) %>
        </td>
      </tr>
    <% end %>
</table>
</div>

<% if @invoice.vat_applicable? && vat_feature_flipper_enabled?(@invoice.person) %>
  <div style="font-size: 13px; margin-top: 10px; margin-bottom: 10px">
    <%= custom_t('person_notifier.cart_items.tax_apply') %>
  </div>
<% end %>

<% if @show_message %>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="640" style="padding: 10px; color:red; font-size:10px;">
        <%= custom_t('.wait_time_message') %>
      </td>
    </tr>
  </table>
<% end %>
