<%= custom_t('.content', {
    name: @person.name,
    payment: format_to_currency(Money.new(@paypal_transfer.payment_cents, @paypal_transfer.currency)),
    address: @paypal_transfer.paypal_address,
    url: knowledgebase_link_for('new_request')
}) %>
