<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title><%= custom_t('.welcome_to_tunecore') %></title>
</head>
<body bgcolor="#e1e1e1">
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#e1e1e1">
  <tr>
    <td>
      <table width="640" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff">
        <tr><td colspan="4"><a href="http://<%= @person.domain %>/?utm_medium=email&amp;ref=email&amp;utm_source=engagement&amp;utm_campaign=icloud"><img src="http://www.tunecore.com/images/email/021612_grntmp_img1.png" alt="tunecore&reg;" style="display:block;"></a></td></tr>
        <tr>
          <td><img src="http://www.elabs6.com/content/12347045/s.gif" width="20" height="1" border="0" alt="" style="display:block;"></td>
          <td style="font-family:arial,helvetica,sans-serif; color:#6f6f6f; font-size:14px; line-height:18px;">
            <%= custom_t('.top_content', {
              name: @person.name,
              domain: @person.domain,
              help_url: @help_url
            }) %>
            <%= custom_t('.bottom_content') %>
            <br>
          </td>
          <td><img src="http://www.elabs6.com/content/12347045/s.gif" width="28" height="1" border="0" alt="" style="display:block;"></td>
        </tr>
      </table>
      <table width="640" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr><td colspan="8"><img src="http://www.elabs6.com/content/12347045/tc_email_footer_rule.gif" width="640" height="15" border="0" alt="" style="display:block;"></td></tr>
        <tr>
          <td>
            <a style="padding: 7px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #fff; background-color: #4798DA; text-decoration: none;" href="http://<%= @person.domain %>/dashboard"><%= custom_t(:my_sales) %></a>
          </td>
          <td>
            <a style="padding: 7px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #fff; background-color: #4798DA; text-decoration: none;" href="http://<%= @person.domain %>/discography"><%= custom_t(:distribute_music) %></a>
          </td>
          <td>
            <a style="padding: 7px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #fff; background-color: #4798DA; text-decoration: none;" href="http://<%= @person.domain %>/index/get_a_publishing_deal"><%= custom_t(:collect_royalties) %></a>
          </td>
          <td>
            <a style="padding: 7px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #fff; background-color: #4798DA; text-decoration: none;" href="http://<%= @person.domain %>/artist_services"><%= custom_t(:get_artist_services) %></a>
          </td>
          <td>
            <a style="padding: 7px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #fff; background-color: #4798DA; text-decoration: none;" href="http://<%= @person.domain %>/blog/"><%= custom_t(:tunecore_blog) %></a>
          </td>
          <td>
            <a style="color: #4798DA; text-decoration: none;" href="http://www.facebook.com/TuneCore">
              <img width="23" border="0" height="20" alt="FACEBOOK" src="http://www.tunecore.com/images/email/tc_email_footer_facebook.gif" />
            </a>
          </td>
          <td>
            <a style="color: #4798DA; text-decoration: none;" href="http://twitter.com/tunecore">
              <img width="23" border="0" height="20" alt="TWITTER" src="http://www.tunecore.com/images/email/tc_email_footer_twitter.gif" />
            </a>
          </td>
        </tr>
        <tr><td colspan="8"><img src="http://www.elabs6.com/content/12347045/tc_email_footer_bottom.gif" width="640" height="30" border="0" alt="" style="display:block;"></td></tr>
      </table>
      <table width="610" border="0" cellpadding="0" cellspacing="0" align="center" style="border:1px solid #787878; padding:15px;">
        <tr>
          <td style="border: 1px solid #CCCCCC; font-size: 12px; margin-top:30px; padding: 3px; width: 98%;">
            <p style="margin: 6px;"><%= custom_t(:questions) %> <a style="color: #4798DA; text-decoration: none;" href="http://<%= @person.domain %>/contact"><%= custom_t(:get_help) %></a></p>
            <p style="margin: 6px;">TuneCore, 63 Pearl Street, Box #256, Brooklyn, NY 11201</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
