<%= @composer["name"] %> (<%= @composer["id"] %>)

<%- @compositions.each do |d| -%>
<%= d["name"] %> (<%= d["code"] %>)
<%- end -%>

<%= custom_t('.email') %>: <%= @email %>
<%= custom_t('.phone') %>: <%= @phone %>
<%= custom_t('.message') %>: <%= @message %>
