<h1>INgrooves Fontana Artist Submission</h1>
<p>For your reference, below is a copy of the form you submitted to TuneCore for A&amp;R consideration with INgrooves Fontana. INgrooves Fontana will contact you if they are interested in further discussion. You do not have to take any actions at this time.</p>

<p><strong>Artist Hometown</strong>:<br>
<%= @user[:hometown] %></p>

<p><strong>Album Complete</strong>:<br>
<%= @user[:album_complete] %></p>

<p><strong>Album Mixed/Mastered</strong>:<br>
<%= @user[:album_mix_mastered] %></p>

<p><strong>Producer</strong>:<br>
<%= @user[:producer] %></p>

<p><strong>Month/Year Completed</strong>:<br>
<%= @user[:date_completed] %></p>

<p><strong>Artwork Complete</strong>:<br>
<%= @user[:artwork_complete] %></p>

<p><strong>Publishing Rights</strong>:<br>
<%= @user[:publishing_rights] %></p>

<p><strong>Master Rights</strong>:<br>
<%= @user[:master_rights] %></p>

<p><strong>Manager</strong>:<br>
<%= @user[:manager] %></p>

<p><strong>Lawyer</strong>:<br>
<%= @user[:lawyer] %></p>

<p><strong>Agent</strong>:<br>
<%= @user[:agent] %></p>

<p><strong>International Agents</strong>:<br>
<%= @user[:international_agents] %></p>


<h2>Artist Assets</h2>
<p><strong>Website</strong>:<br>
<%= @user[:website] %></p>

<p><strong>Music Streaming Links (Soundcloud, Bandcamp)</strong>:<br>
<%= @user[:music_streaming_links] %></p>

<p><strong>Video Streaming Links (YouTube, EPK, live clips)</strong>:<br>
<%= @user[:video_streaming_links] %></p>

<p><strong>Publicity Shot &amp; Artwork Links</strong>:<br>
<%= @user[:publicity_shot_artwork_links] %></p>

<p><strong>Artist Biography</strong>:<br>
<%= @user[:artist_biography] %></p>


<h2>Marketing</h2>
<p><strong>Marketing Strategy</strong>:<br>
<%= @user[:marketing_strategy] %></p>

<p><strong>US Sale History</strong>:<br>
<%= @user[:us_sale_history] %></p>

<p><strong>International Sales</strong>:<br>
<%= @user[:international_sales] %></p>

<p><strong>Marketing Consultants</strong>:<br>
<%= @user[:marketing_consultants] %></p>

<p><strong>Publicist</strong>:<br>
<%= @user[:publicist] %></p>

<p><strong>Current Press</strong>:<br>
<%= @user[:current_press] %></p>

<p><strong>Online Marketing Consultant</strong>:<br>
<%= @user[:online_marketing_consultant] %></p>

<p><strong>Online Statistics</strong>:<br>
<%= @user[:online_statistics] %></p>

<p><strong>Radio Consultants</strong>:<br>
<%= @user[:radio_consultants] %></p>

<p><strong>Radio Format Potential</strong>:<br>
<%= @user[:radio_format_potential] %></p>

<p><strong>Focus Tracks</strong>:<br>
<%= @user[:focus_tracks] %></p>

<p><strong>Current Radio Exposure</strong>:<br>
<%= @user[:current_radio_exposure] %></p>

<p><strong>Sync &amp; Licensing Placements</strong>:<br>
<%= @user[:sync_licening_placements] %></p>

<p><strong>TV Appearances</strong>:<br>
<%= @user[:tv_appearances] %></p>

<p><strong>Awards &amp; Nominations</strong>:<br>
<%= @user[:awards_nominations] %></p>

<p><strong>Tour History &amp; Highlights</strong>:<br>
<%= @user[:tour_history_highlights] %></p>

<p><strong>Current Tour Dates &amp; Plans</strong>:<br>
<%= @user[:current_tour_dates_plans] %></p>

<h2>The Deal</h2>
<p><strong>Potential Deal Scenario (label deal, license, P&amp;D)</strong>:<br>
<%= @user[:potential_deal_scenario] %></p>

<p><strong>Funding Request (studio costs, marketing, P&amp;D, etc.)</strong>:<br>
<%= @user[:funding_request] %></p>

<p><strong>International Rights Available (territories)</strong>:<br>
<%= @user[:international_rights_available] %></p>

<h3>Deal Contact Information</h3>
<p><strong>Name</strong>:<br>
  <%= @user[:name] %></p>

<p><strong>Email</strong>:<br>
  <%= @user[:email] %></p>

<p><strong>Phone</strong>:<br>
  <%= @user[:phone] %></p>

<p><strong>Address</strong>:<br>
  <%= @user[:address] %></p>
