<%= custom_t('.content', {url:@url}) %>

<p>
  Pete Rogers<br/>
  Creative, Music Publishing<br/>
  818-861-7395<br/>
  <a href="mailto:pete@tunecore.com">pete@tunecore.com</a>
</p>

<img src="http://www.tunecore.com/images/tc-logo-blue-horiz-low.jpg" alt="TuneCore" />
