<%= custom_t('.top_content') %>
<a href="<%= @url %>"><%= @url %></a></p>

<p><%= custom_t('.if_you_have_questions') %> <a href="mailto:licensing@tunecore.com">licensing@tunecore.com</a>.</p>

<img src="http://www.tunecore.com/images/tc-logo-blue-horiz-low.jpg">
