<p><%= custom_t(".hello", full_name: @person.name) %></p>
<p><%= custom_t(".first_paragraph") %></p>
<p><%= custom_t(".second_paragraph") %></p>
<p><%= custom_t(".highlights") %></p>
<ul>
  <li><%= custom_t(".first_bullet") %></li>
  <li>
    <%= custom_t(".second_bullet.not_underlined") %>
    <u><%= custom_t(".second_bullet.underlined") %></u>
  </li>
</ul>
<p><%= custom_t(".third_paragraph") %></p>
<p><%= custom_t(".fourth_paragraph") %></p>
<p><%= custom_t(".thank_you") %></p>
