<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Please Read: Important Tax Information Needed</title>
  </head>
  <body>
    <p>
      Dear <%= @person_name %>,
    </p>

    <p>
      We wanted to make you aware that the Taxpayer Information Number (TIN) / name combination you provided TuneCore does not match the records we received from the IRS. As a result, we need you to provide a <strong>valid Name and TIN, which you can securely submit through our partner Payoneer once you have created an account.</strong>
    </p>

    <p>
      At this time, <strong>withdrawal from your balance</strong> will be unavailable until your taxpayer information has been submitted via Payoneer.
    </p>

    <p>
      Please review the B-Notice below, and follow these easy steps to submit your tax information:
      <ol>
        <li>
          If you have not signed up for Payoneer, you can log into your TuneCore account, and initiate a withdrawal. You will then receive a prompt to create a Payoneer account. (Note: Approval for your new Payoneer account typically takes about 15 minutes).
          <br />
          If you had previously been approved by Payoneer but need to update your TIN / name information in Payoneer, you will need to resubmit your tax forms again.
        </li>
        <li>
          Once Payoneer has approved your account, you will need to complete a tax form in your Payoneer account.
          <br />
          You will receive an email from Payoneer with instructions on completing your tax form. You can also navigate to the tax form section by clicking on 'Activity' in the navigation menu then 'Tax Form' in your Payoneer account.
        </li>
      </ol>
    </p>

    <p>
      Thank you for being a TuneCore artist.
    </p>

    <p>
      Sincerely,
    </p>

    <p>
      Matt Barrington
      <br />
      Chief Operating Officer
    </p>

    <p>
      __
    </p>

    <p>
      First B Notice
      <br />
      IMPORTANT TAX NOTICE - ACTION IS REQUIRED
    </p>

    <p>
      <strong>Backup Withholding Warning!</strong>
    </p>

    <p>
      We need an IRS Form W-9 from you before <%= @last_date.strftime("%b #{@last_date.day.ordinalize}, %Y") %>
    </p>

    <p>
      A tax block has been placed on your account. Please submit your W-9 tax information through the prompt on your TuneCore account.
    </p>

    <p>
      <strong>
        Current Name on Account: <%= @person_name %>
        <br />
        Last Four Digits of TIN on Account: <%= @tin %>
      </strong>
    </p>

    <p>
      The Internal Revenue Service (IRS) has notified us that the taxpayer identification number (TIN) on your account with us does not match their records. The IRS considers a TIN as incorrect if either the name or number shown on an account does not match a name and number combination in their files or the files of the Social Security Administration (SSA). <strong>If you do not take appropriate action to help us correct this problem before the date shown above, the law requires us to withhold on the payments that we make to your account.</strong> The backup withholding rate is 24%. In addition to backup withholding, you may be subject to a $50 penalty by the IRS for failing to give us your correct name/TIN combination. This notice tells you how to help us make your account records accurate and how to avoid backup withholding and the penalty.
    </p>

    <p>
      <strong>
        Why Your TIN May Be Considered Incorrect.
      </strong>
    </p>

    <p>
      An individual’s TIN is his or her social security number (SSN). Often a TIN does not match IRS records because a name has changed through marriage, divorce, adoption, etc., and the change has not been reported to SSA, so it has not been recorded in SSA’s files. Sometimes an account or transaction may not contain the correct SSN of the actual owner. For example, an account in a child’s name may reflect a parent’s SSN. (An account should be in the name and SSN of the actual owner.)
    </p>

    <p>
      <strong>
        What You Need To Do
      </strong>
    </p>

    <p>
      If you already have a social security number: Compare the name and SSN on your account with us (shown at the beginning of this notice) with the name and SSN shown on your social security card.
    </p>

    <p>
      Once you have resolved what your correct name and TIN combination is, you must provide this information to us (and all your other payors) for all of your accounts to avoid a problem in the future. If you are required to visit an SSA office, take this notice, your social security card, and any other related documents with you. Before you go, you should call SSA so that they can explain what other documents you need to bring.
    </p>

    <p>
      <strong>
        Instructions for Non-individuals and Certain Sole Proprietors
      </strong>
    </p>

    <p>
      For most <strong>non-individuals</strong> (such as trusts, estates, partnerships, and similar entities), the TIN is the employer identification number (EIN). The EIN on your account may be incorrect because it does not contain the number of the actual owner of the account. For example, an account of an investment club or bowling league should reflect the organization’s own EIN and name, rather than the SSN of a member. Please put the name and EIN on the electronic Form W-9 and submit to us.
    </p>

    <p>
      A <strong>sole proprietor</strong> must furnish his or her individual name and either his or her SSN or the EIN for his or her sole proprietorship. In addition to his or her individual name, the sole proprietor may also furnish the business name for the sole proprietorship, provided his or her individual name is listed before the business name. A sole proprietor must not furnish only the business name. Please put the individual name and SSN or EIN on the electronic Form W-9 and submit to us.
    </p>

    <p>
      <strong>
        Important Reminder!
      </strong>
    </p>

    <p>
      You must update your W-9 information Before the date of this Notice even if the name and number (SSN or EIN) on your account with us match the name and number (SSN or EIN) on your social security card or the document issuing you an EIN. If we do not receive your Form W-9, and any other documents that we need to change the name or TIN (or both) on your account before the date of this notice, we will hold any future payments until we received necessary documentation.
    </p>
  </body>
</html>
