<% content_for :greeting do %>
  <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 10px;">
    <tr>
      <td style="font-family: Helvetica, Arial, sans-serif;">
        <p style="margin: 0;"><%= custom_t(".greeting", name: @person.name) %></p>
      </td>
    </tr>
  </table>
<% end %>

<% content_for :signature do %>
  <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 10px 20px;">
    <tr>
      <td style="font-family: Helvetica, Arial, sans-serif;">
        <p style="margin: 0;"><%= custom_t(".closing") %></p>
      </td>
    </tr>
  </table>
<% end %>

<table border="0" cellpadding="0" cellspacing="0" style="margin: 0 10px;">
  <tr>
    <td style="font-family: Helvetica, Arial, sans-serif;">
      <p><%= custom_t(".p1") %></p>
      <p><%= custom_t(".p2") %></p>
      <p><%= custom_t(".p3", link_html: link_to(custom_t(".account_settings"), @url)) %></p>
      <p><%= custom_t(".p4") %></p>
      <p><%= custom_t(".p5", link_html: link_to(custom_t(".faq"), "https://support.tunecore.com/")) %></p>
    </td>
  </tr>
</table>
