<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>
      <%= custom_t('.tunecore_email') %>
    </title>
  </head>
  <body bgcolor="#d2d2d2">
    <table width="100%" cellspacing="0" cellpadding="10" border="0" bgcolor="#d2d2d2">
      <tbody>
        <tr>
          <td>
              <table width="652" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="white">
              <tbody>
                <tr>
                  <td>
                    <a href="http://<%= @domain %>/"><img width="300" height="118" border="0" style="display:block;" alt="TuneCore&reg;" src="http://<%= @host %>/images/email/tc_transparent_email_logo.png" /></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="652" cellspacing="0" cellpadding="30" border="0" bgcolor="white" align="center" style="font-family: Helvetica,Arial,sans-serif; font-size: 16px;">
              <tbody>
                <tr>
                  <td valign="top" style="">
                    <%= custom_t('.hey_tunecore_artist', {url:@url}) %>
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="652" cellspacing="0" cellpadding="0" border="0" align="center">
              <tbody>
                <tr>
                  <td colspan="6"><img width="652" height="34" border="0" style="display:block;" alt="" src="http://<%= @host %>/images/email/021612_gt_foot7.gif" /></td>
                </tr>
              </tbody>
            </table>
            <table width="622" cellspacing="0" cellpadding="0" border="0" align="center">
              <tbody>
                <tr>
                  <td align="left"><span style="font-family:arial,helvetica,sans-serif; color:#707070; font-size:11px;"><b><a style="color:#707070" href="<%= knowledgebase_link_for('help-homepage', @person.country_domain) %>"><%= custom_t(:help) %></a></b>&nbsp;&nbsp;|&nbsp;&nbsp;<b><a style="color:#707070" href="<%= knowledgebase_link_for('distro-contact-us', @person.country_domain) %>"><%= custom_t(:contact_us) %></a></b></span></td>
                  <td align="right"><span style="font-family:arial,helvetica,sans-serif; color:#707070; font-size:11px;"><b><%= custom_t('.keep_in_touch') %>:</b></span></td>
                  <td align="left"><a href="http://www.facebook.com/TuneCore"><img width="31" height="19" border="0" style="display:block;" alt="FACEBOOK" src="http://<%= @host %>/images/email/021612_gt_foot8.gif" /></a></td>
                  <td align="left"><a href="http://twitter.com/tunecore"><img width="24" height="19" border="0" style="display:block;" alt="TWITTER" src="http://<%= @host %>/images/email/021612_gt_foot9.gif" /></a></td>
                </tr>
                <tr>
                  <td colspan="4"><span style="font-family:arial,helvetica,sans-serif; color:#707070; font-size:11px; line-height:20px;"><b><a style="color:#4db247;" href="http://<%= @domain %>/"><%= @domain %></a></b>&nbsp;&nbsp;|&nbsp;&nbsp;63 Pearl Street, Box #256&nbsp;&nbsp;|&nbsp;&nbsp;Brooklyn, NY 11201</span></td>
                </tr>
                <tr>
                  <td><img width="311" height="10" border="0" style="display:block;" alt="" src="http://<%= @host %>/images/email/s.gif" /></td>
                  <td><img width="256" height="10" border="0" style="display:block;" alt="" src="http://<%= @host %>/images/email/s.gif" /></td>
                  <td><img width="31" height="10" border="0" style="display:block;" alt="" src="http://<%= @host %>/images/email/s.gif" /></td>
                  <td><img width="24" height="10" border="0" style="display:block;" alt="" src="http://<%= @host %>/images/email/s.gif" /></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body></html>
