<% content_for :greeting do %>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" width="640" style="padding: 10px;">
        <p><%= custom_t(:dear) %> <%= @name %>,</p>
      </td>
    </tr>
  </table>
<% end %>

<table border="0" cellpadding="0" cellspacing="0" width="640">
  <tr>
    <td align="left" valign="top" style="border-collapse: collapse; margin: 10px 0; padding: 0 10px;">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="left" valign="middle" width="640" style="border-collapse: collapse;">
            <p><%= custom_t('email_change_email_with_confirmation_link.a', old_email: @old_email, new_email: @new_email) %></p>
            <p><%= custom_t('email_change_email_with_confirmation_link.b') %></p>
            <p><a href="<%= @url %>"><%= @url %></a></p>
            <p><%= custom_t('email_change_email_with_confirmation_link.c') %></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<% content_for :signature do %>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" width="640" style="padding: 10px;">
        <%= custom_t("layouts.customer_email.sincerely_from_customer_care") %>
      </td>
    </tr>
  </table>
<% end %>
