<table border="0" cellpadding="0" cellspacing="0" width="640">
  <tr>
    <td align="left" valign="top" style="border-collapse: collapse; margin: 10px 0; padding: 0 10px;">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <% content_for :greeting do %>
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td align="left" width="640" style="padding: 10px;">
                  <%= raw @email_template.header %>
                </td>
              </tr>
            </table>
          <% end %>
          <td align="left" valign="middle" width="640" style="border-collapse: collapse;">
            <%= raw @email_template.body %>

            <% content_for :signature do %>
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="left" width="640" style="padding: 10px;">
                    <p><%= raw @email_template.footer %></p>
                  </td>
                </tr>
              </table>
            <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
