<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= custom_t('.your_yt_preferences') %></title>
</head>
<body>
  <%= custom_t('.top_content', { name: @person.name, channel_id: @person.youtube_preference.channel_id }) %>

  <% if !@person.youtube_preference.whitelist %>
    <%= custom_t('.yes_i_want_tunecore') %></p>
  <% else %>
    <%= custom_t('.no_tunecore', { domain: @person.domain, yt_path: youtube_preferences_url(host: @person.country_website.url) }) %>
  <% end %>

  <%= custom_t('.footer_content', {
    url: knowledgebase_link_for('help-homepage', @person.country_website),
    contact_us_url: knowledgebase_link_for('publishing-contact-us', @person.country_website)
  })%>
</body>
</html>
