<h1>
  <%= @subject %>
</h1>
<table style="border: none">
  <tr>
    <td> Succeeded calls count </td>
    <td><%=@analyzer.succeeded_calls_count%></td>
  </tr>
  <tr>
    <td> Failure handled calls count </td>
    <td><%=@analyzer.failure_handled_calls_count%></td>
  </tr>
  <tr>
    <td> Failed calls count </td>
    <td><%=@analyzer.failed_calls_count%></td>
  </tr>
  <tr>
    <td>Failure handled calls ratio to total calls</td>
    <td><%=@analyzer.failure_handled_calls_ratio%></td>
  </tr>
  <tr>
    <td> Failed calls ratio to total calls</td>
    <td><%=@analyzer.failed_calls_ratio%></td>
  </tr>
</table>

