<%= content_for :external_javascripts do %>
  <script type="text/javascript">
    window.translations = <%= raw @publishing_splits_translations.to_json %>;
  </script>
  <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/compositions.js" %>
<% end %>

<h3><%= custom_t("publishing.tunecore_publishing_administration") %></h3>

<% if @composer.has_fully_terminated_composers? %>
  <div class="publishing-dashboard-view-only">
    <p class="publishing-dashboard-view-only-text">
      <%= custom_t("publishing.terminated_account_view") %>
    </p>
  </div>
<% end %>

<% if flash[:alert].present? %>
  <div><%= custom_t("publishing.#{flash[:alert]}") %></div>
<% end %>

<div class="publishing-compositions">
  <div class="publishing-compositions-table-container">
    <div id="compositions_app"
        data-composer="<%= @serialized_composer %>"
        data-pros="<%= @pros %>"
        data-cowriters="<%= @serialized_cowriters %>"
        data-ntc-band-aid-url="<%= ntc_bandaid_url %>"
        data-ntc-composition-form-enabled="<%= ntc_composition_form_enabled?(@composer)%>"
        data-compositions="<%= @serialized_compositions %>"
        data-edit-compositions-feature-enabled="<%= edit_composition_feature_enabled?(@composer) %>"
        data-bulk-upload-compositions-feature-enabled="<%= bulk_upload_compositions_feature_enabled? %>"
        data-public-domain-feature-enabled="<%= public_domain_feature_enabled?%>"
        data-has-draft-compositions="<%=has_draft_compositions?(@composer.account.id)%>" >
          Publishing Compositions
    </div>
  </div>
</div>
