<div>
  <strong><h3 style="text-align: center"><%= custom_t("pub_opt_out.show.opt_out") %></h3></strong>
  <p><%= custom_t("pub_opt_out.show.please_be_advised") %></p>
  <ul>
    <li><%= custom_t("pub_opt_out.show.no_setup_fee") %></li>
    <li><%= custom_t("pub_opt_out.show.take_advantage") %></li>
    <li><%= custom_t("pub_opt_out.show.improved_pub_admin") %></li>
    <li><%= custom_t("pub_opt_out.show.competitive_pricing") %></li>
  </ul>
  <p><%= custom_t("pub_opt_out.show.forgo_benefits") %></p>
  <div style="text-align: center">
    <%= button_to custom_t("pub_opt_out.show.opt_me_out"), publishing_opt_out_path, class: "button", style: "margin-left: auto; margin-right: auto;" %>
  </div>
  <p style="text-align: center"><%= custom_t("pub_opt_out.show.i_understand") %></p>
</div>
