#add-salepoints-container {
  .checkbox-wrapper label {
    text-align: left;
    clear: none;
  }

  .add-salepoint-table td {
    font-size: 12px;
    padding: 5px;
  }

  .salepoints-table {
    padding-top: 10px;
  }

  .search-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }

  .search-label {
    flex: 0 0 100%;
    text-align: left;
  }

  .search-input {
    height: 20px;
    margin-right: 5px;
  }

  .search-btn {
    font-size: 12px !important;
  }

  .submit-row {
    text-align: center;
  }

  .submit-btn {
    width: 200px;
  }

  .success-flash {
    padding: 3px 0;
    color: green;
    font-size: 1.2em;
    font-weight: bold;
  }

  .error-flash {
    color: red;
    font-size: 1.2em;
    font-weight: bold;
  }
}
