// Place all the styles related to the admin/foreign_exchange_pegged_rates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fepg-form-label {
  display: block;
  float: none;
  text-align: left;
}

.fepg-refresh-btn {
  padding: none;
  width: 150px;
  background: none;
  border: 1px solid #428BCA;
  color: #428BCA;
  &:hover {
    background: #428BCA;
    color: white;
    cursor: pointer;
  }
}

#fepg_rates_history {
  thead {
    th {
      color: #010101;
      text-align: left !important;
    }
    tr:nth-child(2n) {
      th { background: lightgrey; }
    }
    tr:nth-child(2n+1) {
      th { background: #eee; }
    }
  }
  tbody {
    tr:nth-child(2n) {
      td { background: lightgrey; }
    }
    tr:nth-child(2n+1) {
      td { 
        background: #eee; 
        .fepg-updated-by-link:link, .fepg-updated-by-link:visited {
          color: darkblue;
        }
      }
    }
    tr.active_pegged_rate {
      td {
        background: green;
        color: white;
        a:link, a:visited {
          color: white;
        }
      }
    }
  }
}

.fepg-table-header-info-label {
  color: #428BCA;
  font-size: 10px !important;
  display: inline-block;
}

#update-pegged-rate-btn {
  padding: 5px;
  border: 1px solid darkorange;
  text-decoration: none;
  color: darkorange;
  float: right;
  &:hover {
    background: darkorange;
    color: white;
  }
}

.pegged_rate_input_container {
  float: left;
}
