.india-doc-review {
  list-style-type:none;

  #copyright_status_status_list_item {
    padding-bottom: 0;

    label {
      text-align: left;
      text-decoration: none;
      list-style-type:none;
    }
  }

  .approved-status {
    color: green;
  }

  .pending-status {
    color: orange;
  }

  .rejected-status {
    color: red;
  }

  .note {
    text-align: left;

    label {
      text-align: left;
    }

    #copyright_status_note_note {
      height: 65px;
      width: 350px;
      padding: 5px;
    }

    .context-wrapper: {
      display: block;
    }
  }
}
