$border-color: #eaeaea;

.admin_mass_retry_songs_form {
  input[type='submit'] {
    margin-top: 10px;
  }

  div.input {
    &:nth-child(2) {
      border-top: 1px solid $border-color;
    }
    padding: 10px 15px;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
  }

  &_store_ids, &_delivery_type {
    label {
      float: none;
    }
  }
}
