.payout-filters {
  .payout-amount > * {
    display: inline;
    margin-right: auto;
  }
  .statuses {
    input[type=radio] {
      display: inline;
    }
    > label {
      width: 115px;
      display: inline-block;
    }
    span label {
      margin-right: 15px;
    }
  }
  .page-results {
    select {
      display: inline-block;
    }
  }
  .form-buttons {
    margin-top: 20px;
  }
  input {
    display: inline-block !important;
  }
}

.payout-results {
  th {
    position: sticky;
    top: 0;
    z-index: 10;
    color: #585858;
    background-color: #F0F4F7;
    padding: 5px;
    border: 1px solid white;
  }
  tr.sub {
    th {
      top: 35px;
    }
  }

  td {
    font-size: 12px;
    padding: 2px 5px;
    &.left {
      text-align: left;
    }
  }

  a {
    color: #41ADD8;
  }

  tr.warning-background {
    a, .state {
      color: red;
    }
  }

  tr.changed-payout-method {
    td, td:hover {
      background: yellow;
      font-weight: bold;
    }
  }

  .person-details {
    position: relative;
    height: 50px;
    &.inactive {
      color: #b2b2b2;
      a {
        color: #b2b2b2;
      }
    }
    a {
      display: block;
    }
    .state {
      position: absolute;
      left: -16px;
      top: 19px;
      text-align: center;
      transform: rotate(-90deg);
      width: 50px;
      padding: 0 1px;
      border-bottom: 1px solid #eaeaea;
      font-weight: normal;
      font-size: 10px;
      color: #41ADD8;
    }
    > div {
      margin-left: 18px;
    }
  }

  .select-count {
    font-size: 14px;
    margin-right: 20px;
    .numSelected {
      font-weight: bold;
    }
  }

  .payout-actions {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    > div {
     margin: auto;
      width: 980px;
      background-color: #fff;
      padding: 7px 20px;
      box-sizing: border-box;
      text-align: right;
    }
    input[type=submit]:disabled {
      background-color: #5E5E5E;
      border-color: #5E5E5E;
      cursor: default;
    }
    .page-numbers {
      float: left;
      font-size: 14px;
      padding: 8px 0;
      .pagination > * {
        padding: 0 2px;
      }
    }
  }
}

.no-results {
  text-align: center;
  font-size: 14px;
  padding: 40px;
  background-color: #F0F4F7;
}

.admin-payout-providers-table {
  tr {
    td {
      font-size: 14px;
      form {
        display: inline-block;
        button {
          color: white;
          &:hover {
            box-shadow: inset 8px 8px 8px rgba(50, 50, 50, 0.2);
          }
        }
        .approve {
          background-color: darkgreen;
        }
        .reject {
          background-color: darkred;
        }
      }
    }
  }

  tr.warning-background {
    td, td:hover {
      background-color: lightcoral;
      font-weight: bold;
    }
  }

  tr.changed-payout-method {
    td, td:hover {
      background: yellow;
      font-weight: bold;
    }
  }

  tr.action-items {
    td, td:hover {
      background-color: #fff;
    }
  }
  margin-bottom: 50px;
}

.download-button {
  float: right; 
  border: 1px solid #58a8bf;
  box-shadow: unset;
  text-transform: uppercase;
  font-weight: 700;
  color: #58a8bf;
  &:hover {
    color: #fff;
    background: #58a8bf;
  }
}

.paypal_table {
  th.paypal-payout-table-header {
    text-align: right;
    color: #000;
  }
}
