.user_dormant {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 600;
  color: #796f6f;
  background-color: #c7c7c7;
  height: 50px;
  width: 250px;
  margin: 5px 0 5px 0;
}
