.bold {
  font-weight: bold;
}

#petri_bundle_container {
  #petri_bundle {
    #petri_bundle_content {
      float: left;
      width: 50%;
    }

    #petri_distributions {
      float: right;
      width: 50%;

      .title-box {
        border-bottom: none;
        padding: .5em;
      }

      .curated_artist {
        color: red;
      }
    }
  }
}
