$border-color: #eaeaea;
.recover_assets_form {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 20px;

  .albums_ids {
    height: 130px !important;
  }
  input[type='submit'] {
    margin-left: 24%;
    margin-top: 2%;
  }
  .check_boxes {
    display: inline-flex;
    span > label {
      width: 72px;
    }
    .input_error {
      position: fixed;
      margin-top: 22px;
    }
  }
  .input_error {
    float: left;
    margin-left: 136px;
  }
}
