<%= javascript_tag do %>
  var onRecaptchaLoad = function() {
    $('<%= j "##{button_id}" %>').prop("disabled", true)
    grecaptcha.render('recaptcha', {
      'sitekey' : '<%= j ENV["RECAPTCHA_SITE_KEY"] %>',
      'hl': '<%= j locale.to_s %>',
      'theme': '<%= local_assigns.fetch(:theme, "light") %>',
      'callback': function(r) {
        $('<%= j "##{button_id}" %>').prop("disabled", false)
      }
    });
  };
<% end %>
