<script src="https://www.google.com/recaptcha/api.js?render=<%= ENV['RECAPTCHA_V3_SITE_KEY'] %>" ></script>
<script>
  grecaptcha.ready(function() {
    grecaptcha.execute("<%= ENV['RECAPTCHA_V3_SITE_KEY'] %>", {action: 'login/signup'}).then(function(token) {
      $(".captcha-v3-token").val(token);
    });
  });
</script>
