<% if batches %>
  <% batches.each do |batch| %>
    <div class="store-progress-wrapper box">
      <h2><span><%= batch.stores.pluck(:name).join(", ") %></span></h2>
      <p>Job Name: <%= batch.job_name %></p>
      <p>Estimated Completion Date: <%= batch.completion_date %></p>
      <p>Total Batch Size: <%= batch.size %></p>
      <p>Retries Per Day: <%= batch.daily_retry_limit %></p>
      <p>Remaining: <%= batch.incomplete_albums.count %></p>
      <p>Completed: <%= batch.complete_albums.count %></p>
      <p><%= link_to "Details", admin_distribution_batch_retry_report_path(id: batch.uuid, job_name: batch.job_name) if batch.uuid.present? %></p>

      <div class="progress_container">
        <span class="hidden remaining_count" data-value="<%= batch.incomplete_albums.count %>"></span>
        <span class="hidden completed_count" data-value="<%= batch.complete_albums.count %>"></span>
        <div class="progress_bar"></div>
      </div>
    </div>
  <% end %>
<%end %>

<% content_for :external_javascript do %>
  <script type="text/javascript">
    var $ = jQuery;
    $(function(){
      $(".progress_container").each(function(elem) {
        var completed_count = $(this).children(".completed_count").data("value");
        var remaining_count = $(this).children(".remaining_count").data("value");
        var completed_progress = Math.floor((completed_count / (remaining_count + completed_count)) * 100);
        $(this).children(".progress_bar").css("width", completed_progress + '%');
      });
    });
  </script>
<% end %>


