<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/admin.css" %>
  <style>
    .progress_bar {
      width: 1%;
      height: 30px;
      background-color: green;
    }

    .progress_container {
      width: 100%;
      background-color: grey;
    }

    .hidden {
      display: none;
    }

    .search {
      line-height: 24px;
      border-radius: 3px;

    }
  </style>
<% end %>


<div class="content">
  <header class="row">
    <div class="twelve columns">
        <h4><%=link_to "<- Back to Mass Retry Tool", admin_petri_retry_distributions_path %></h4>
        <h1>Distribution Batch Retry Reports</h1>
      <br>
      <div class="search" style="margin-bottom: 12px;">
        <%=form_for(admin_distribution_batch_retry_reports_path, method: "get", remote: true) do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search for Job Name:", class: "search" %>
          <%= submit_tag "Search", class: "submit-btn" %>
        <% end %>
      </div>
      <div id="search_results">
        <%= render 'results', batches: @batches %>
      </div>
    </div>
    <%= will_paginate @batches %>
  </header>
</div>
