$('#search_results').html("<%= j (render 'results', batches: @batches) %>");
$(function(){
  $(".progress_container").each(function(elem) {
    var completed_count = $(this).children(".completed_count").data("value");
    var remaining_count = $(this).children(".remaining_count").data("value");
    var completed_progress = Math.floor((completed_count / (remaining_count + completed_count)) * 100);
    $(this).children(".progress_bar").css("width", completed_progress + '%');
  });
});
