<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/admin.css" %>
<% end %>


<div class="content">
  <header class="row">
    <div class="twelve columns">
      <h1><%= @batch.stores.pluck(:name).join(", ") %></h1>
      <br>
      <p><%= link_to "Back", admin_distribution_batch_retry_reports_path %></p>
    </div>
  </header>
  <div class="row">
    <div class="twelve columns">
      <div class="box">
        <p>Estimated Completion Date: <%= @batch.completion_date %></p>
        <p>Batch Size: <%= @batch.size %></p>
        <p>Remaining: <%= @batch.incomplete_albums.count %></p>
        <p>Completed: <%= @batch.complete_albums.count %></p>
      </div>
      <div class="box">
        <h2>Complete Albums</h2>
        <p>
          <% @complete_albums.each do |album| %>
            <%= link_to "#{album.name} (#{album.id})", admin_album_path(album) %>
          <% end %>
        </p>
      </div>
      <div class="box">
        <h2>Incomplete Albums</h2>
        <p>
          <% @incomplete_albums.each do |album| %>
            <%= link_to "#{album.name} (#{album.id})", admin_album_path(album) %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
