<% content_for :css do %>
   <%= stylesheet_link_tag "invoices/outbound_invoice" %>
<% end %>
<section class="bi-outbound-invoice">
    <header class="list-transaction-header">
        <h1><%= custom_t('invoices.royalty_invoices.royalty_invoices') %>
            <small><%= custom_t('invoices.royalty_invoice_available') %></small>
        </h1>
        <div class="blue-btn-wrapper">
          <%= link_to(custom_t('invoices.royalty_invoices.download_pdf'),
                      {controller: 'my_account',
                       action: 'view_royalty_invoice',
                       invoice_id: @outbound_invoice.id,
                       format: :pdf },
                       class: 'blue-btn') %>
          </div>
    </header>
    <hr>
    <div class="invoice">
        <%= render file: 'invoice_pdf/outbound_invoice_pdf_header.html.erb',
                   locals: {
                     invoice_data: invoice_data,
                     static_corporate_entity: static_corporate_entity
                   } %>
        <%= render file: 'invoice_pdf/believe_invoice_pdf.html.erb',
                   locals: {
                    inbound: false,
                    invoice_data: invoice_data,
                    pdf: pdf,
                    static_corporate_entity: static_corporate_entity
                }
        %>
        <%= render file: 'invoices/outbound/footer.html.erb',
                   locals: {
                     invoice_data: invoice_data,
                     static_corporate_entity: static_corporate_entity
                   } %>
    </div>
    <hr>
</section>
