<% content_for :css do %>
   <%= stylesheet_link_tag "invoices/outbound_invoice" %>
<% end %>
<%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" %>
<% unless static_corporate_entity.tunecore_us? || invoice_data[:is_luxembourg_customer] %>
    <div class="vat-text"><%= custom_t('invoices.pdf.vat_self_assessment') %></div>
<% end %>
<div class="footer outbound-footer-text">
    <%= custom_t('invoices.pdf.outbound_footer_text') %>
</div>
