<% content_for :css do %>
   <%= stylesheet_link_tag "invoices/outbound_invoice" %>
<% end %>
<section class="tc-outbound-invoice">
    <header class="list-transaction-header">
        <h1><%= custom_t('invoices.royalty_invoices.royalty_invoices') %>
            <small><%= custom_t('invoices.royalty_invoice_available') %></small>
        </h1>
    </header>
    <hr>
    <div class="invoice">
        <%= render file: 'invoice_pdf/invoice_pdf_header.html.erb', 
                   locals: {
                     invoice_data: invoice_data,
                     static_corporate_entity: static_corporate_entity
                   } %>
        <%= render file: "invoice_pdf/tunecore_invoice_pdf.html.erb",
                   locals: {
                     inbound: false,
                     invoice_data: invoice_data,
                     sub_total: sub_total,
                     discounts: 0
                   } %>
        <%= render file: 'invoices/outbound/footer.html.erb',
                   locals: {
                     invoice_data: invoice_data,
                     static_corporate_entity: static_corporate_entity
                   } %>
    </div>
    <hr>
</section>