<header class="row collapse">
  <div class="columns twelve">
    <h3><%= custom_t("carts.confirm_and_pay.complete_order") %></h3>
  </div>
</header>

<div id="complete-order-section" class="cart_items_content">
  <div id="choose-payment-method" class="row cart-subtotal <%= "hidden" if hide_choose_payment_method_text? %>">
    <p style="padding-left: 15px;"><%= custom_t("carts.confirm_and_pay.choose_payment_method") %></p>
  </div>
  
  <% if @all_on_tunecore || can_user_pay? %>
    <% unless @all_on_tunecore || current_user.balance <= 0 %>
      <div class="row cart-subtotal pay-balance-row">
        <div class="columns ten cart-balance_info">
          <% if @finalize_form.use_balance %>
            <em><%= custom_t("carts.confirm_and_pay.applied_account_balance") %></em> &nbsp;
            <a href="?balance=0" class="button-callout-alt person-balance-button"><%= custom_t(:undo) %></a>
          <% else %>
            <%= custom_t("carts.confirm_and_pay.account_balance", money_account: balance_to_currency(current_user.balance.to_money(@cart_data.currency))) %>
            <span class="translation">
              <% if @can_pay_with_balance %>
                <%= custom_t("carts.confirm_and_pay.you_part_pay_order") %>
              <% else %>
                <%= custom_t("carts.confirm_and_pay.you_pay_part_order") %>
              <% end %>
            </span>
          <% end %>
        </div>
        <div class="columns two cart-balance_button">
          <% if @finalize_form.use_balance %>
            <span style="font-weight: bold; font-size: 1.4em; padding-top: 3px; display: inline-block;">
              <% if vat_feature_flipper_enabled? %>
                <%= money_to_currency((@base_amount.to_f + @outbound_vat.to_f).to_money(@cart_data.currency), round_value: false)%>
              <% else %>
                <% if @can_pay_with_balance %>
                  <%= money_to_currency(@cart_data.total_price.to_money(@cart_data.currency), round_value: false) %>
                <% else %>
                  <%=money_to_currency(current_user.balance.to_money(@cart_data.currency), round_value: false)%>
                <% end %>
              <% end %>
            </span>
          <% else %>
            <% if vat_feature_flipper_enabled? %>
              <% if balance_covers_base_amount? %>
                <a href="?balance=1" class="button-callout-alt person-balance-button"><%= custom_t(:use) %>
                  <%= money_to_currency(current_user.balance.to_money(@cart_data.currency), round_value: false) %>
                </a>
              <% elsif current_user.balance >= @cart_data.total_price %>
                <a href="?balance=1" class="button-callout-alt person-balance-button"><%= custom_t(:use) %>
                  <%= money_to_currency(@cart_data.total_price.to_money(@cart_data.currency), round_value: false) %>
                </a>
              <% end %>
            <% else %>
              <% if @can_pay_with_balance %>
                <a href="?balance=1" class="button-callout-alt person-balance-button"><%= custom_t(:use) %>
                  <%= money_to_currency(@cart_data.total_price.to_money(@cart_data.currency), round_value: false) %>
                </a>
              <% else %>
                <a href="?balance=1" class="button-callout-alt person-balance-button"><%= custom_t("carts.confirm_and_pay.use_my") %>
                  <%= money_to_currency(current_user.balance.to_money(@cart_data.currency), round_value: false) %>
                </a>
              <% end %>
            <% end %>
          <% end %>
          <br>
        </div>
      </div>
    <% end %>

    <% if @show_payment_methods and !@all_on_tunecore %>
      <div class="row cart-subtotal payment-method-row <%= "hidden" unless hide_choose_payment_method_text? %>">
        <div class="columns five"></div>
        <div class="columns five" style="padding: 0;">
          <% if @paypal_account %>
            <div class="row collapse billed_to hide" id="billed_to-paypal" style="padding-top: 4px;">
              <div class="columns six text-right" style="padding-top: 3px; padding-right: 10px;"><em><%= custom_t("carts.confirm_and_pay.billed_paypal_account") %></em></div>
              <div class="columns six">
                <input type="text" disabled="disabled" value="<%= @paypal_account.email %>">
              </div>
            </div>
          <% end %>

          <% @credit_cards.each do |cc| %>
            <div class="row collapse billed_to hide" id="billed_to-<%= cc.id %>">
              <div class="columns six text-right" style="padding-top: 11px; padding-right: 10px;"><em><%= custom_t("carts.confirm_and_pay.billed_credit_card") %></em></div>
              <div class="columns six cc-billed-info">
                <div class="row collapse ccbox <% if cc.expired? %>ccbox-expired<% end %>">
                  <div class="columns twelve">
                    <img src="/images/credit_card_icons/<%= cc.cc_type.downcase.delete(' ') %>.png" style="float: left; margin-right: 5px; margin-top: 2px;">
                    <span style="float: left;">
                      <%= cc.padded_cc_number %><br>
                      <% if cc.expired? %>
                        <strong style="color: #e91c2c;"><%= custom_t(:expired) %></strong>
                      <% else %>
                        <%= custom_t(:exp) %> <%= cc.expiration_month %>/<%= cc.expiration_year %>
                      <% end %>
                    </span>
                    <div style="clear: both;"></div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <%if @current_user.allow_adyen? %>
            <!-- 'To be billed to <any Adyen payment method> section' -->
            <div class="row collapse billed_to hide" id="billed_to-adyen">
              <div class="columns six text-right" style="padding-top: 11px; padding-right: 10px;">
                <em><%= custom_t("carts.confirm_and_pay.billed_to") %></em>
              </div>
              <div class="columns six">
                <!-- this is where 'to be billed to <any adyen payment method>' will be placed -->
                <div id="adyen-charge-templates-container"></div>
              </div>
            </div>
          <%end %>
        </div>
        <div class="columns two cart-total_price" style="font-size: 1.8em; padding-top: 2px;">
          <% if @finalize_form.use_balance %>
            <% if vat_feature_flipper_enabled? %>
              <%= money_to_currency(@amount_payable.to_money(@cart_data.currency), round_value: false)%>
            <% else %>
              <%= money_to_currency((@cart_data.total_price - current_user.balance).to_money(@cart_data.currency), round_value: false)%>
            <% end %>
          <% else %>
            <%= money_to_currency(@cart_data.total_price.to_money(@cart_data.currency), round_value: false) %>
          <% end %>
        </div>
        <% if india_user? %>
          <p class="cart-total_decimal-disclaimer"><%= custom_t("carts.confirm_and_pay.decimal_disclaimer") %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if @person.india_user? && FeatureFlipper.show_feature?(:enable_gst, @person) %>
    <div class="row cart-subtotal">
      <div class="columns eight gstin">
        <%= custom_t('.gstin') %>
      </div>
      <div class="columns four gstin-input">
        <%= f.input :gstin, label: false, input_html: {value: @person.latest_gst_info&.gstin, maxlength: 15} %>
      </div>
    </div>
  <% end %>

  <footer class="row">
    <a href="/cart" class="button-interface back_to_cart"><%= custom_t("carts.confirm_and_pay.back_to_cart") %></a>
    <% if can_user_pay? %>
      <% if !@cart_is_empty && !@plan_is_sufficient %>
        <%= render "upgrade_plan_cta", confirm_and_pay: true %>
      <% else %>
        <%= f.input :cvv, as: :hidden %>
        <%= f.button :button,
          custom_t(:pay_now),
          type: :submit,
          class: "pay_button",
          data: { disable_with:  "#{content_tag(:i, nil, class: "fa fa-spinner fa-pulse")}" }
        %>
        <% unless @all_on_tunecore %>
          <p class="pay_notice"><%= pay_notice(@finalize_form.use_balance, @can_pay_with_balance) %></p>
        <% end %>
        <% unless @all_on_tunecore %>
          <p class="pay_notice_select_payment_method hide">
            <%= custom_t("carts.confirm_and_pay.please_select_payment_method") %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </footer>
</div>
