<%= form_for current_user,
          method: :post,
          remote: true,
          html: { id: "vat_registration_form" } do |f|%>
  <% if show_country_selector? %>
    <header class="row collapse">
      <div class="columns twelve">
        <h3><%= custom_t("people.renewal_billing_info.confirm_information") %></h3>
      </div>
    </header>
    <div id="confirm-information-section" class="confirm-information-form-container">
      <div class="row">
        <div class="columns twelve">
          <p>
            <%= custom_t("vat.address_section_disclaimer") %>
          </p>
          <div class="compliance_info_form_content">
            <%= render partial: 'carts/vat_compliance_info_form', locals: {f: f} %>
            <ul class="clearfix">
              <%= fields_for @person, builder: SemanticFormBuilder do |fp| %>
                <%= render 'people/account_settings/address_info_form_fields',
                  f: fp,
                  countries: countries_for_checkout(@person),
                  blank: blank_address_fields?
                %>
            <% end %>
            </ul>
          </div>
          <% if show_vat_removal_warning? %>
            <div class="vat-removal-warning">
              <%= custom_t("vat.warnings.removal_on_confirm_information") %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if vat_feature_flipper_enabled? %>
    <div id="vat-information-section" class="cart_items <%= 'hide' unless show_vat_form? %>">
      <header class="row collapse">
        <div class="columns twelve">
          <h3><%= custom_t("vat.vat_information_optional") %></h3>
        </div>
      </header>
      <div class="cart_items_content vat-information-form-container">
        <div class="row">
          <div class="columns twelve">
            <p>
              <%= custom_t("vat.vat_information_notice") %>
            </p>
            <div class="vat_form_content">
              <div class="text-input-fieldset">
                <ul>
                  <% f.object.build_vat_information unless f.object.vat_information %>
                  <%= f.fields_for :vat_information do |vat| %>
                    <%= vat.hidden_field(:id) %>
                    <div>
                      <div class="vat_form_elements">
                        <div class="vat_form_input_elements">
                          <div class="vat_number_input_container left_aligned_tooltip">
                            <%= vat.text_field(:vat_registration_number, label: custom_t('vat.vat_num_label'), id: "vat-registration-input") %>
                            <div class="vat_tooltip-container">
                              <div class="vat_tooltip" data-title="<%= custom_t('vat.vat_id_number') %>" data-content="<%= custom_t('vat.vat_num_desc') %>"></div>
                              <div class="filler-container"></div>
                            </div>
                          </div>
                          <div class="vat_company_name_container">
                            <%= vat.text_field(:company_name, label: custom_t('vat.company_name_input_label'), id: "vat-company-name-input") %>
                          </div>
                        </div>
                        <div class="vat_form_button_container">
                          <button id="vat-form-button" onclick="onVATInformationConfirmClicked();" type="button" class="button-callout"><%= custom_t(:confirm) %></button>
                          <span class="loading-cart-spinner">
                            <i class="fa fa-spinner fa-spin"></i>
                            <%= custom_t("carts.show.cart_loading") %>
                          </span>
                        </div>
                      </div>
                      <div class="error-text" hidden></div>
                    </div>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
