<% if show_country_selector? %>
  <header class="row collapse">
    <div class="columns twelve">
      <h3><%= custom_t(:confirm_address) %></h3>
    </div>
  </header>
  <div class="confirm-information-form-container">
    <div class="row">
      <div class="columns twelve">
        <%= form_for current_user,
          method: :post,
          remote: true,
          html: { id: "vat_registration_form" } do |f|%>

          <div class="compliance_info_form_content">
            <%= render partial: 'vat_compliance_info_form', locals: {f: f} %>
            <ul class="clearfix">
              <%= fields_for @person, builder: SemanticFormBuilder do |fp| %>
                <%= render 'people/account_settings/address_info_form_fields',
                  f: fp,
                  countries: countries_for_checkout(@person),
                  blank: blank_address_fields?
                %>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
