<header class="row collapse">
  <div class="columns twelve">
    <h3><%= custom_t("carts.confirm_and_pay.order_summary") %></h3>
  </div>
</header>

<div class="cart_items_content">
  <div class="row cart_item_headers">
    <div class="columns six"><%= custom_t(:item, count: @cart_data.purchases.count) %></div>
    <% if vat_feature_flipper_enabled? %>
      <div class="columns one"><div class="header-item-label"><%= custom_t("carts.confirm_and_pay.item_price") %></div></div>
      <div class="columns one" style="padding: 0;">&nbsp;</div>
      <div class="columns one">
        <div class="header-item-label vat-header-item <%= hide_vat_element? %>">
          <%= custom_t("vat.vat_rate") %>
        </div>
      </div>
      <div class="columns one">
        <div class="header-item-label vat-header-item <%= hide_vat_element? %>">
          <%= custom_t("vat.vat_amount") %>
        </div>
      </div>
    <% else %>
      <div class="columns two"><%= custom_t("carts.confirm_and_pay.item_price") %></div>
      <div class="columns two" style="padding: 0;">&nbsp;</div>
    <% end %>
    <div class="columns two"><%= custom_t(:price) %></div>
  </div>
  <%= render :partial => "cart_items", :locals => {show_actions: @show_actions} %>
  <% if vat_feature_flipper_enabled? %>
    <div id="subtotal-excluding-vat-row" class="row cart-subtotal no-background <%= hide_vat_element? %>">
      <div class="columns seven"></div>
      <div class="columns three cart-subtotal_txt right-aligned-column">
        <%= custom_t(:subtotal) %>
        <div class="vat-txt subtext">
          <%= custom_t("vat.excluding_vat") %>
        </div>
      </div>
      <div class="columns two cart-total_price">
        <%= money_to_currency(@cart_data.vat_exclusive_price.to_money(@cart_data.currency), round_value: false) %>
      </div>
    </div>
    <div id="total-vat-row" class="row cart-subtotal no-background <%= hide_vat_element? %>">
      <div class="columns seven"></div>
      <div class="columns three cart-subtotal_txt right-aligned-column">
        <%= custom_t('vat.vat_total') %>
        <div class="vat-txt subtext">
          <span>
            <%= custom_t("vat.vat_id_number") %>:
          </span>
          <span class="vat-registration-number-placeholder">
            <%= @person.vat_information.try(:vat_registration_number) %>
          </span>
        </div>
      </div>
      <div class="columns two cart-total_price">
        <%= money_to_currency(@cart_data.total_vat.to_money(@cart_data.currency), round_value: false) %>
      </div>
    </div>
  <% end %>
  <% unless @all_on_tunecore or current_user.balance <= 0 %>
    <div id="subtotal-row" class="row cart-subtotal">
      <div class="columns eight"></div>
      <div class="columns two cart-subtotal_txt">
        <%= custom_t(:subtotal) %>
      </div>
      <div class="columns two cart-total_price">
        <%= money_to_currency(@cart_data.total_price.to_money(@cart_data.currency), round_value: false) %>
      </div>
    </div>
    <div id="pay-balance-row" class="row cart-subtotal">
      <div class="columns ten cart-balance_info">
        <%= custom_t("carts.confirm_and_pay.account_balance", money_account: balance_to_currency(current_user.balance.to_money(@cart_data.currency))) %>
        <span class="translation">
          <%= pay_with_balance_text(@finalize_form, @can_pay_with_balance) %>
        </span>
        <% if @finalize_form.use_balance %>
          <%= link_to custom_t(:undo), confirm_and_pay_cart_path(balance: 0), class: "button-callout-alt person-balance-button" %>
        <% end %>
        <% if non_native_currency_user? %>
          <div class="columns ten cart-balance_info">
            <b><%= custom_t("carts.confirm_and_pay.non_native_currency_balance_message") %></b>
          </div>
        <% end %>
      </div>
      <div class="columns two cart-balance_button">
        <% if @finalize_form.use_balance %>
          <span class="cart_deduction">
            -<%= amount_to_use_from_balance(@cart_data, @can_pay_with_balance, @base_amount) %>
          </span>
        <% else %>
          <% if @can_pay_with_balance %>
            <a href="?balance=1" class="button-callout-alt person-balance-button"><%= custom_t(:use) %>
              <%= use_balance_button_text_amount(@cart_data) %>
            </a>
          <% else %>
            <a href="?balance=1" class="button-callout-alt person-balance-button"><%= custom_t("carts.confirm_and_pay.use_my") %>
              <%= money_to_currency(current_user.balance.to_money(@cart_data.currency), round_value: false) %>
            </a>
          <% end %>
        <% end %>
        <br>
      </div>
    </div>
    <% if vat_feature_flipper_enabled? && @finalize_form.use_balance %>
      <div id="outbound-vat-row" class="row cart-subtotal <%= 'hide' unless @outbound_vat.to_f != 0 %>">
        <div class="columns ten apply_vat_msg">
          <%= custom_t("vat.apply_vat_posted_to_purchase") %>
        </div>
        <div class="columns two cart-balance_button">
          <span class="cart_deduction">-<%= money_to_currency(@outbound_vat.to_money(@cart_data.currency), round_value: false) %></span>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if show_self_billing_popup?(@finalize_form) %>
    <%= render partial: 'shared/self_billing_form' %>
  <% end %>
  <div id="grand-total-row" class="row cart-subtotal">
    <div class="columns eight"></div>
    <div class="columns two cart-subtotal_txt">
      <%= custom_t("carts.confirm_and_pay.grand_total") %>
    </div>
    <div class="columns two cart-total_price">
      <span class="amount-container">
        <%= cart_grand_total(@finalize_form, @cart_data, @amount_payable, @can_pay_with_balance) %>
      </span>
      <% if india_user? && FeatureFlipper.show_feature?(:enable_gst, @person) %>
        <p class="cart-total_gst-inclusive"><%= custom_t("gst_inclusive") %></p>
      <% end %>
    </div>
    <% if india_user? %>
      <p class="cart-total_decimal-disclaimer"><%= custom_t("carts.confirm_and_pay.decimal_disclaimer") %></p>
    <% end %>
  </div>
</div>
