<header class="row collapse">
  <div class="columns twelve">
    <h3><%= custom_t(:payment_method) %></h3>
  </div>
</header>

<div id="payment-methods-section" class="cart_items_content">
  <div class="row">
    <div class="columns twelve">
      <div class="payment_methods <% unless @show_payment_methods %>hide<% end %>">
        <div class="row" style="margin-bottom: 30px;">
          <div class="columns twelve">
            <% if @show_payment_method_required %>
              <div class= "columns twelve payment_method_required_wrapper ">
                <%= render :partial => 'payment_method_required' %>
              </div>
            <% end %>
            <%if @current_user.allow_paypal? %>
              <img src="/images/credit_card_icons/paypal-square.jpeg" style="width: 75px;"><br>
              <% if @paypal_account %>
                <%= radio_button_tag "cart_finalize_form[payment_id]","paypal", check_paypal_default?,
                  disabled: @paypal_account.blank?, class: "payment_select",
                  id: "paypal_payment" if allow_braintree_credit_cards? @current_user%>
                <input type="text" name="paypal_email" disabled="disabled" value="<%= @paypal_account.email %>">
                <%= link_to @paypal_button_text, ec_step1_stored_paypal_accounts_path(pay_with_balance: true, redirect: request.fullpath), class: "button-callout paypal_connect" %>
              <% else %>
                <%= link_to @paypal_button_text, ec_step1_stored_paypal_accounts_path(pay_with_balance: true, redirect: request.fullpath), class: "button-callout paypal_connect" %>
              <% end %>
            <%end %>
          </div>
        </div>
        <% if allow_braintree_credit_cards? @current_user %>
          <%= render partial: "credit_cards", locals: {braintree: true} %>
        <% elsif can_use_payments_os? %>
          <%= render partial: "credit_cards", locals: {braintree: false} %>
        <% end %>

        <%if @current_user.allow_adyen? %>
          <!-- Adyen Payment Methods Section -->
            <!-- Payment Method Template -->
            <template id="adyen-payment-item-template">
              <div class="radio-wrapper adyen-payment-selection">
                <%= radio_button_tag "cart_finalize_form[payment_id]", "", false, class: "payment_select adyen-payment-item", id: "" %>
                <label for="">
                  <span></span>
                  <img src="#" alt="payment method logo" />
                </label>
              </div>
            </template>

          <div class="row adyen-row hidden">
            <div id="adyen-loader" class="hidden">
              <span><%= custom_t("carts.confirm_and_pay.adyen_loading_text") %></span>
              <span class="loader fa fa-spinner fa-pulse"></span>
            </div>

            <div class="columns twelve hidden" id="adyen-generic-wrapper">
              <div class="radio-wrapper adyen-payment-selection generic">
                <%= radio_button_tag "cart_finalize_form[payment_id]", "", false, class: "payment_select adyen-payment-item", id: "adyen_payment", disabled: true %>
                <label for="adyen_payment">
                  <span><%= custom_t("carts.confirm_and_pay.adyen_generic_payment_method") %></span>
                </label>
                <div class="vat_tooltip" 
                    data-title="<%= custom_t("carts.confirm_and_pay.adyen_failure_tooltip_title") %>" 
                    data-content="<%= custom_t("carts.confirm_and_pay.adyen_failure_tooltip_content") %>">
                </div>
              </div>
            </div>

            <div class="columns twelve" id="adyen-templates-container">
              <!-- template instances are inserted here -->
            </div>
          </div>
        <%end %>
      </div>
      <% unless @show_payment_methods %>
        <div style="padding: 15px;">
          <%= custom_t("carts.confirm_and_pay.account_balance_pay") %><br>
          <% if credit_and_paypal_available?(@current_user) %>
            <%= custom_t("carts.confirm_and_pay.pay_credit_card_or") %><br><br>
            <a href="?balance=0" class="button-callout-alt person-balance-button"><%= custom_t("carts.confirm_and_pay.user_credit_card_or") %></a>
          <% elsif only_credit_available?(@current_user) %>
            <%= custom_t("carts.confirm_and_pay.pay_credit_card") %><br><br>
            <a href="?balance=0" class="button-callout-alt person-balance-button"><%= custom_t("carts.confirm_and_pay.user_credit_card") %></a>
          <% else %>
            <%= custom_t("carts.confirm_and_pay.pay_credit_card_no_or") %><br><br>
            <a href="?balance=0" class="button-callout-alt person-balance-button"><%= custom_t("carts.confirm_and_pay.user_credit_card_no_or") %></a>
          <% end %>

        </div>
      <% end %>
    </div>
  </div>
  <% if india_user? && has_no_valid_phone_number? %>
    <div class="row">
      <div class="columns twelve">
        <div class="checkout_phone_number">
          <fieldset id="person_mobile_number_list_item"
                    class="phone-number fieldset mobile-number-fieldset"
                    data-country-website="<%= country_website %>"
                    data-phone-required-isos="<%= CountryWebsiteService::PHONE_REQUIRED_ISO_CODES %>"
                    data-current-mobile-number="<%= current_user.mobile_number %>"
                    data-is-checkout-page="<%= true %>">
            <label for="cart_finalize_form[mobile_number]"><%= custom_t('.confirm_mobile_number') %></label><br>

            <div class="context-wrapper">
              <input value="<%= current_user.mobile_number %>" li_class="mobile-number" class="phone-form-text" maxlength="15" new_form="true" method="mobile_number"
                    size="20" type="text" name="cart_finalize_form[mobile_number]" id="person_mobile_number" required>
            </div>
            <% if current_user.errors.has_key?(:mobile_number) %>
              <br>
              <div class="formError">
                <%= current_user.errors.full_messages_for(:mobile_number).join(', ') %>
              </div>
            <% end %>
          </fieldset>
        </div>
      </div>
    </div>
  <% end %>
</div>
