.refund-table {
  table.product-details {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    width: 100%;

    thead {
      background-color: #3b96cf;
      color: white;
      font-weight: normal;

      th {
        border-right: 2px solid white;

        &.no-border {
          border: none;
        }
      }

      th {
        padding: 7px 20px 7px 20px;
        text-align: left;
        font-weight: normal;
        text-align: center;
      }
    }

    tbody {
      tr.invoice-list-item {
        &:nth-of-type(odd) {
          background-color: #f1f1f1;
        }

        td {
          border-right: 2px solid white;
        }
      }

      td {
        padding: 7px 20px 7px 20px;
        text-align: left;

        &.admin-note {
          font-size: 13px;
          line-height: 17.7px;
        }

        &.tax-amount {
          text-align: right;
          padding-right: 0;
        }

        &.tax-currency {
          text-align: right;
          width: 8%;
          padding-left: 0;
        }
      }
    }
  }

  table.tax-details {
    width: 100%;
    float: right;
    text-align: right;

    td {
      border: none;
      &:nth-child(even) {
        text-align: right;
      }
    }
  }

  .eu-directive {
    width: 75%;
    float: right;
    padding: 10px;
    background-color: #e2f4fc;
    line-height: 15px;
    text-align: center;
  }
}
