.refund-table {
  table.product-details {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    width: 100%;

    thead {
      background-color: #3b96cf;
      color: white;
      font-weight: normal;

      th {
        border-right: 2px solid white;

        &.no-border {
          border: none;
        }
      }

      th {
        padding: 7px 20px 7px 20px;
        text-align: left;
        font-weight: normal;
      }
    }

    tbody {
      tr:nth-child(odd) {
        background-color: #f1f1f1;
      }

      .list-item {
        td {
          border-right: 2px solid white;
        }
      }

      td {
        padding: 7px 20px 7px 20px;
        text-align: left;
        font-weight: normal;

        &.wrapper-td {
          padding: 0 0 0 155px;
        }

        &.invoice-amount {
          text-align: right;
        }

        &.admin-note {
          font-size: 13px;
          line-height: 17.7px;
        }

        &.refund-amount {
          text-align: right;
        }
      }
    }
  }
}
