<div class="product-purchase clearfix">
  <%= image_tag('/images/product_images/icon-album-single-10.png') %>
  <%= render(:partial => "carts/product_info", :locals => {:product => product}) %>
</div>
