<div class="product-purchase" style="position: relative;">
  <% if (album.artwork != nil) %>
    <%= image_tag(album.artwork.url(:small)) %>
  <% end %>
  <span class="album-name"><% if @admin_site %><%= link_to display_name(album), admin_album_path(album) %> (UPC:<%= album.upc %>)<% else %><%= display_name(album) %><% end %></span>
  <span class="product-name"><%= purchase_display_name_for_album(product, album) %></span>
  <span class="product-description"><%= h(product.description) %></span><br />
  <span class="album-store-list clearfix"><span><%= custom_t(".distributed_to") %></span><%= album_store_list(album, purchase) %></span>
  <% if (current_user.paid_for_composer? || current_user.paid_for_publishing_composer?) && @on_thankyou != nil %>
    <a href="/<%= album_type_name_display(album).downcase %>s/<%= album.id %>/splits" class="button ns" style="margin-top: 40px; position: absolute; top: 0; right: 0;"><%= custom_t(".add_songwriter") %></a>
  <% end %>
</div>
