<div class="cart_items">
  <% if @person.vat_feature_on? %>
    <div id="confirm-and-pay-page-data-div" data-vat-init-data="<%= @vat_init_data.to_json %>"></div>
  <% end %>

  <% unless one_time_payment_only? %>
    <%= render :partial => "carts/widgets/payment_method" %>
  <% end %>
  <%= render :partial => "carts/widgets/confirm_information" %>
  <%= render :partial => "carts/widgets/order_summary" %>
  <% unless one_time_payment_only? %>
    <%= render :partial => "carts/widgets/complete_order", :locals => { f: f } %>
  <% end %>
</div>
