<%
  show_actions = false if local_assigns[:show_actions].nil?
  show_balance = false if local_assigns[:show_actions].nil?
  post_purchase = local_assigns[:post_purchase]
  invoice ||= nil
%>
<div class="row">
  <div class="columns twelve">
    <% if @cart_data.salepoints.length > 0 %>
      <div class="cart_item">
        <div class="row">
          <div class="columns one cart_item-icon">
            <img alt="Store Expander" src="/images/cart_icons/expander.jpg">
          </div>
          <div class="columns five mobile-three cart_item-description">
            <h3>Store Expander</h3>
          </div>
          <div class="columns two cart_item-itemprice">
          </div>
          <div class="columns two cart_item-actions">
            <% if show_actions %>
              <%= link_to(custom_t("carts.remove_item"), remove_all_for_expander_purchases_path, {:method => :delete, :class => 'link'})%><br>
            <% end %>
          </div>
          <div class="columns two cart_item-price">
            <strong><span class="price"><%= invoice_money(@cart_data.expander_vat_exclusive_total.to_money(@cart_data.currency)) %></span></strong><br>
            <% if show_vat_info? %>
              <div class="vat_tooltip" data-title="<%= custom_t('vat.tool_tip_title') %>" data-content="<%= custom_t('vat.tool_tip_content') %>"></div>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="columns one">&nbsp;</div>
          <div class="columns eleven">
            <div class="row">
              <div class="columns twelve cart-secondary_txt">
                <%= custom_t(".stores") %><br><br>
              </div>
            </div>
            <div class="row cart-expander_stores">
              <% @cart_data.salepoints.each do |purchase_group| %>
                <%= render(:partial => 'carts/cart_item', :locals => {:item => purchase_group,
                                                                     :show_actions => show_actions,
                                                                     :is_grouped => true,
                                                                     :invoice => invoice,
                                                                    }) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if ! @cart_data.automators.empty? %>
      <%= render(:partial => 'carts/cart_item', :locals => {:item => @cart_data.automators,
                                                             :show_actions => show_actions,
                                                             :is_grouped => true,
                                                             :invoice => invoice
                                                            }) %>
    <% end %>
    <% if ! @cart_data.others.empty? %>
      <% @cart_data.others.each do |bundle| %>
        <%= render(:partial => 'carts/cart_item', :locals => {:item => bundle,
                                                               :show_actions => show_actions,
                                                               :invoice => invoice,
                                                               :post_purchase => post_purchase
                                                              }) %>
      <% end %>
    <% end %>
    <% if @cart_data.reports.present? %>
      <% @cart_data.reports.each do |report| %>
        <div class="cart_item">
          <div class="row">
            <div class="columns six">
              <strong><%= Cart::Purchases::ItunesUserReport::ITEM_NAME %></strong>
            </div>
            <div class="columns four"></div>
            <div class="columns two">
              <strong><%= invoice_money(report.total_price.to_money(@cart_data.currency)) %></strong>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
