<% if skip_confirm_and_pay? %>
  <%= form_with url: skip_confirm_and_pay_cart_path, local: true do %>
    <%= button_tag custom_t("carts.show.skip_confirm_and_pay"),
                   class: 'button-callout skip-confirm-and-pay',
                   type: 'submit',
                   data: {
                     disable_with:  "#{content_tag(:i, nil, class: "fa fa-spinner fa-pulse")}"
                   }
    %>
  <% end %>
<% else %>
<%= link_to custom_t("carts.show.proceed_checkout"),
            confirm_and_pay_cart_path,
            { class: 'button-callout', id: 'checkout-proceed' } %>
<% end %>
