<%
  is_grouped = false if local_assigns[:is_grouped].nil?
  show_actions = false if local_assigns[:show_actions].nil?
  is_upsell = false if local_assigns[:is_upsell].nil?
  has_gst = show_gst_breakdown?(invoice)
  if is_grouped
    purchasedItem = item.purchases.values.first.purchased_item
    purchase = item.purchases.values.first
    type = purchase.related_type
  elsif is_upsell
    purchasedItem = item
  else
    purchasedItem = item.purchased_item
    purchase = item.purchase
    type = purchase.related_type
  end
  if is_upsell
    product = item
    targetedProduct = product.current_targeted_product
    sum = Product.price(current_user, product)
    savings = 0.to_money(sum.currency)
    price = Product.price(current_user, product)
    original_price = Money.new(product.original_price, product.currency)
  else
    product = purchase.product
    targetedProduct = purchase.targeted_product
    sum = Money.new(item.total_cost_cents, product.currency)
    savings = Money.new(item.total_savings_cents, product.currency)
    price = Money.new(item.vat_exclusive_price_cents, product.currency)
    original_price = Money.new(item.total_cost_cents, product.currency)
  end
  if item.respond_to?("bundled_items")
    booklet_attachment   = item.bundled_items.find{|b| b.related_type == 'Booklet'}
    automator_attachment = item.bundled_items.find{|b| b.related_type == 'SalepointSubscription'}
    preorder_attachment  = item.bundled_items.find{|b| b.related_type == 'PreorderPurchase'}
    legacy_preorder_attachment  = item.bundled_items.find{|b| b.related_type == 'SalepointPreorderData'}
    additional_artist_attachments = item.bundled_items.find_all{|b| b.additional_artist?}
    splits_collaborator_attachments = item.bundled_items.find_all{|b| b.splits_collaborator?}
    dolby_atmos_audio_attachments = item.bundled_items.find_all{|b| b.related_type == 'ImmersiveAudio'}
  else
    booklet_attachment   = nil
    automator_attachment = nil
    preorder_attachment  = nil
    legacy_preorder_attachment = nil
  end
  proration_attachment = show_proration_card?(purchase)
%>

<div class="cart_item<% if type == 'SalepointSubscription' %> cart_item-automator<% end %>">
  <div class="row">
    <div class="columns one cart_item-icon">
      <% if type == 'Salepoint' %>
        <img src="/images/store_logos/<%= Store.get_custom_abbrev(purchasedItem.store.abbrev) %>_square_color.png" alt="">
      <% elsif type == 'SalepointSubscription' %>
        <img src="/images/cart_icons/automator.jpg" alt="">
      <% elsif ['Album', 'CreditUsage', 'Renewal'].include? type %>
        <% if purchasedItem.class.name == 'Renewal' %>
          <%= render("carts/renewal_image", purchase: purchase ) %>
        <% elsif purchasedItem.artwork %>
          <%= image_tag(purchasedItem.artwork.url(:small)) %>
        <% elsif purchasedItem.class.name == 'Ringtone' %>
          <img src="/images/cart_icons/ringtone_distribution.jpg" alt="">
        <% else %>
          <img src="/images/cart_icons/album_distribution.jpg" alt="">
        <% end %>
      <% elsif ['Composer', 'PublishingComposer'].include? type %>
        <img src="/images/cart_icons/pubadmin.jpg" alt="">
      <% elsif type == 'SoundoutReport' %>
        <img src="/images/cart_icons/tcfricon.png" alt="">
      <% elsif type == 'YoutubeMonetization' %>
        <img src="/images/cart_icons/ytm.png" alt="">
      <% elsif purchase.is_social? %>
        <img src="/images/cart_icons/social_pro.png" alt="">
      <% elsif purchase.is_plan? %>
        <%= image_tag(carted_plan_image_path, alt: "") %>
      <% elsif purchase.additional_artist_product_id? %>
        <img src="/images/cart_icons/additional_artist_yellow.png" alt="">
      <% elsif purchase.splits_collaborator? %>
        <img src="/images/cart_icons/splits_collaborator_icon.png" alt="">
      <% else %>
        <%
          credit_count = product.name.gsub(/\D/, '');
          credit_count = 1 if credit_count.empty?
        %>
        <img src="/images/cart_icons/credit_<%= credit_count %>.jpg" alt="">
      <% end %>
    </div>
    <div class="columns mobile-three cart_item-description <%= has_gst ? 'three' : 'five' %>">
      <% if type == 'Salepoint' %>
        <h3><%= purchasedItem.store.name %></h3>
        <%= custom_t(".store_added") %> <%= item.purchases.values.length %> releases
      <% elsif type == 'SalepointSubscription' %>
        <h3><%= custom_t(".store_automator") %></h3>
        <%= custom_t(".future_stores", item_purchase: item.purchases.values.length) %>
      <% elsif type == 'PreorderPurchase' %>
         <!-- <strong style="font-size: 1.2em;">Preorder</strong> -->
      <% else %>
        <% if ['Composer', 'PublishingComposer'].include? type %>
          <h3><%= custom_t(".music_publishing_admin") %></h3>
        <% elsif type == 'SoundoutReport' %>
          <h3><%= custom_t(".tunecore_fan_reviews") %> <%= custom_t(".#{purchasedItem.soundout_product.report_type}") %></h3>
          <p class="soundout-track"><%= custom_t(:song) %> "<%= purchasedItem.track.name %>"</p>
        <% elsif type == "PlanAddon" %>
          <h3><%= item.purchase.product.name %></h3>
        <% elsif Product::PLAN_PRODUCT_IDS.include? purchasedItem.id %>
          <h3><%= purchasedItem.display_name_safely_translated %></h3>
        <% else %>
          <h3><%= purchasedItem.name %></h3>
          <%= discography_source_label(purchasedItem) %>
        <% end %>
        <% if type == 'CreditUsage' %>
          <p><%= custom_t(".your_purchased_live", purchased_item: purchasedItem.class.name.downcase) %></p>
        <% else %>
          <% if show_product_description?(purchasedItem) %>
            <span><%= product.description_safely_translated %></span>
          <% end %>
          <% if type == 'Renewal' && !purchase.is_plan? %>
            <p>(<%= purchase.renewal.items.first.related.name %>)</p>
          <% end %>
        <% end %>
        <% if ['Album', 'CreditUsage'].include? type %>
          <p><b><%= custom_t(".release_type") %></b> <%= purchasedItem.class.name %> </p>
          <% if show_album_stores?(purchasedItem, purchase) %>
            <p><b><%= custom_t(".distributed_to") %></b> <%= album_store_list(purchasedItem, purchase) %></p>
          <% end %>
          <% if show_free_album_stores?(purchasedItem, purchase) %>
            <p><b><%= custom_t(".distributed_to_free") %></b> <%= free_album_store_list(purchasedItem, purchase) %></p>
          <% end %>
          <p><b><%= custom_t(".artists") %></b> <%= purchased_item_artists(purchasedItem) %> </p>
          <p><b><%= custom_t(".release_date") %></b> <%= l(purchasedItem.sale_date, format: :long) %> </p>
          <p><b><%= custom_t(".label_name") %></b> <%= purchasedItem.label_name %> </p>
          <% if purchasedItem.upc.present? %>
            <p><b><%= custom_t(".upc") %></b> <%= purchasedItem.upc.number %> </p>
          <% end %>
          <p><b><%= custom_t(".country_restrictions") %></b> <%= release_country_restrictions(purchasedItem) %></p>
          <% if purchasedItem.recording_location.present? %>
            <p><b><%= custom_t(".recording_location") %></b> <%= purchasedItem.recording_location %> </p>
          <% end %>
        <% end %>
      <% end %>
      <% if is_upsell %>
        <% if (targetedProduct && targetedProduct.price_adjustment_description.present?) %>
          <span class="targeted_offer-highlight">
        <% end %>
        <p><strong><%= money_with_discount(original_price, price, product.currency) %></strong></p>
        <% if targetedProduct && targetedProduct.price_adjustment_description.present? %>
          <% if targetedProduct.flag_text %>
            <%= targetedProduct.flag_text %><br>
          <% end %>
          <%= targetedProduct.price_adjustment_description %><br>
          <% if targetedProduct.show_expiration_date %>
            <%= custom_t(".offer_expires") %> <%= fmt_long_date(targetedProduct.targeted_offer.expiration_date_for_person(item.person)) %><br>
          <% end %>
        <% end %>
        <% if (targetedProduct && targetedProduct.price_adjustment_description.present?) %>
          </span>
        <% end %>
      <% end %>
    </div>

    <div class="columns two <% if type == 'Salepoint' %>salepoint_price<% end %> cart_item-itemprice <%= 'hide-total-amount' if show_vat_info? %>">
      <% if booklet_attachment || automator_attachment || type == 'Salepoint' || preorder_attachment || legacy_preorder_attachment || purchase.is_plan? || additional_artist_attachments.present? || dolby_atmos_audio_attachments.present? %>
        <% if (targetedProduct && targetedProduct.price_adjustment_description.present?) || purchase.cert || (type == 'Salepoint' && purchasedItem.store.on_sale?) %>
          <span class="targeted_offer-highlight">
        <% end %>
        <% if type == 'CreditUsage' %>
          <% if current_user.owns_or_carted_plan? %>
            <%= custom_t(".free_plan") %>
          <% else %>
            <%= custom_t(".free_distribution_credit") %><br>
          <% end %>
        <% elsif price <= Money.new(0, price.currency) && purchase.is_plan? == false %>
          <%= custom_t(:free) %><br>
        <% else %>
          <% if automator_attachment || booklet_attachment || preorder_attachment || legacy_preorder_attachment || dolby_atmos_audio_attachments.present? %>
            <%
              total_price = price
              total_price = total_price - (automator_attachment.cost - automator_attachment.discount) if automator_attachment
              total_price = total_price - (booklet_attachment.cost - booklet_attachment.discount) if booklet_attachment
              total_price = total_price - (preorder_attachment.cost - preorder_attachment.discount) if preorder_attachment
              total_price = total_price - (legacy_preorder_attachment.cost - legacy_preorder_attachment.discount) if legacy_preorder_attachment
              total_price = total_price - (dolby_atmos_audio_attachments.map(&:cost).sum - dolby_atmos_audio_attachments.map(&:discount).sum) if dolby_atmos_audio_attachments
            %>
            <% if has_gst %>
              <% price_before_gst = purchase.price_before_gst(total_price) %>
              <%= money_to_currency(price_before_gst, iso_code: @person.country_domain, currency: @person.user_currency, round_value: @person.india_user?) %><br>
            <% else %>
              <%= money_to_currency(total_price, iso_code: @person.country_domain, currency: @person.user_currency, round_value: @person.india_user?) %><br>
            <% end %>
          <% elsif purchase.is_plan? || additional_artist_attachments.present? %>
            <span class="desktop-only">
              <%= money_to_currency(Money.new(purchase.cost_cents, "USD"),
                                    iso_code: @person.country_domain,
                                    currency: @person.user_currency,
                                    round_value: @person.india_user?)
              %>
            </span>
            <span class="mobile-only">
              <%= money_to_currency(price,
                                    iso_code: @person.country_domain,
                                    currency: @person.user_currency,
                                    round_value: @person.india_user?)
              %>
            </span>
          <% else %>
            <%= money_with_discount(original_price, price, product.currency) %><br>
          <% end %>
          <% if targetedProduct && targetedProduct.price_adjustment_description.present? %>
            <% if targetedProduct.flag_text %>
              <%= targetedProduct.flag_text %><br>
            <% end %>
            <%= targetedProduct.price_adjustment_description %><br>
            <% if targetedProduct.show_expiration_date %>
              <%= custom_t(".offer_expires") %> <%= fmt_long_date(targetedProduct.targeted_offer.expiration_date_for_person(item.person)) %><br>
            <% end %>
          <% elsif type == 'Salepoint' && purchasedItem.store.on_sale? %>
            <%= custom_t(".reg_store") %><br>
            <%= custom_t(".limited_offer") %><br>
          <% end %>
        <% end %>
        <% if !purchase.cert.nil? %>
          <span style="font-size: .85em;"><%= custom_t(".promo") %> <%= purchase.cert.cert %></span>
        <% end %>
        <% if (targetedProduct && targetedProduct.price_adjustment_description.present?) || purchase.cert %>
          </span>
        <% end %>
      <% elsif has_gst %>
        <% price_before_gst = purchase.price_before_gst(price) %>
        <span class="cart_mobile-only"><%= custom_t("invoices.show.basic_amount") %></span>
        <%= money_to_currency(price_before_gst, iso_code: @person.country_domain, currency: @person.user_currency, round_value: false) %><br>
      <% end %>
    </div>

    <% if has_gst %>
      <% tax_amount = purchase.gst_tax_amount %>
      <% if invoice.gst_config.igst? %>
        <div class="columns one"></div>
        <div class="columns two cart_mobile-gst-info">
          <span class="cart_mobile-only"><%= custom_t("invoices.show.igst") %></span>
          <%= money_to_currency(tax_amount.igst, iso_code: @person.country_domain, currency: @person.user_currency, round_value: false) %>
        </div>
        <div class="columns one"></div>
      <% else %>
        <div class="columns two cart_mobile-gst-info">
          <span class="cart_mobile-only"><%= custom_t("invoices.show.cgst") %></span>
          <%= money_to_currency(tax_amount.cgst, iso_code: @person.country_domain, currency: @person.user_currency, round_value: false) %>
        </div>
        <div class="columns two cart_mobile-gst-info">
          <span class="cart_mobile-only"><%= custom_t("invoices.show.sgst") %></span>
          <%= money_to_currency(tax_amount.sgst, iso_code: @person.country_domain, currency: @person.user_currency, round_value: false) %>
        </div>
      <% end %>
    <% end %>
    <% if vat_feature_flipper_enabled? && confirm_and_pay? && !is_grouped %>
      <%= render :partial => 'carts/purchase_vat_info', locals: { purchase: item.purchase } %>
    <% end %>
    <% if !is_upsell %>
      <div class="columns two cart_item-actions">
        <% if show_actions %>
          <% if type == 'Salepoint' %>
            <p><%= link_to(custom_t("carts.remove_item"), remove_all_for_store_purchases_path(:store_id => purchasedItem.store.id), {:method => :delete, :class => 'link'})%></p>
          <% elsif type == 'SalepointSubscription' %>
            <p><%= link_to(custom_t("carts.remove_item"), remove_all_salepoint_subscriptions_purchases_path, {:method => :delete, :class => 'link'})%></p>
          <% elsif purchase.plan_renewal? %>
            <%= render :partial => 'carts/promo_code', :locals => {:purchase => purchase} %>
          <% elsif type == 'PlanAddon' && purchase.splits_collaborator? %>
            <p>
              <a href="#" class="link" id="splits_collab_delete_button" data-purchase-id="<%= purchase.id %>">
                <%= custom_t("carts.remove_item") %>
              </a>
            </p>
            <%= render :partial => 'carts/promo_code', :locals => {:purchase => purchase} %>
          <% else %>
            <p><%= link_to(custom_t("carts.remove_item"), purchase_path(purchase), {method: :delete, class: 'link'})%></p>
            <%= render :partial => 'carts/promo_code', :locals => {:purchase => purchase} %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="columns <%= is_upsell ? 'four' : 'two  cart_item-price' %> <%= 'vat-tooltip-containment' if show_vat_info? %>" %>
      <% if type != 'Salepoint' %>
        <% if booklet_attachment || automator_attachment || preorder_attachment || legacy_preorder_attachment || additional_artist_attachments || dolby_atmos_audio_attachments %>
          <strong class="final-price-for-item"><%= money_with_discount(original_price, price, product.currency) %></strong><br>
        <% elsif !is_upsell %>
          <% if ['Salepoint', 'SalepointSubscription'].include? type %>
            <strong>
              <% if (targetedProduct && targetedProduct.price_adjustment_description.present?) || (automator_attachment && automator_attachment.targeted_product && automator_attachment.targeted_product.price_adjustment_description.present?) || purchase.cert %>
                <span class="targeted_offer-highlight">
              <% else %>
                <span class="price">
              <% end %>
                <% if price <= Money.new(0, price.currency) %>
                  <%= custom_t(:free) %>
                <% else %>
                  <%= money_with_discount(
                    sum,
                    (sum - savings),
                    sum.currency
                  ) %>
                  <% if targetedProduct && targetedProduct.price_adjustment_description.present? %>
                    <% if targetedProduct.flag_text %>
                      <br><%= targetedProduct.flag_text %><br>
                    <% end %>
                    <%= targetedProduct.price_adjustment_description %><br>
                    <% if targetedProduct.show_expiration_date %>
                      <%= custom_t(".offer_expires") %> <%= fmt_long_date(targetedProduct.targeted_offer.expiration_date_for_person(item.person)) %><br>
                    <% end %>
                  <% end %>
                <% end %>
              </span>
            </strong>
            <% if show_vat_info? %>
              <div class="vat_tooltip" data-title="<%= custom_t('vat.tool_tip_title') %>" data-content="<%= custom_t('vat.tool_tip_content') %>"></div>
            <% end %>
            <br>
          <% else %>
            <strong>
              <% if (targetedProduct && targetedProduct.price_adjustment_description.present?) || (automator_attachment && automator_attachment.targeted_product && automator_attachment.targeted_product.price_adjustment_description.present?) || purchase.cert %>
                <% if purchase.is_social? && price <= Money.new(0, price.currency) %>
                  <span class="targeted_offer-highlight">
                <% end %>
              <% end %>
              <% if type == 'CreditUsage' %>
                <% if current_user.owns_or_carted_plan? %>
                  <%= custom_t(".free_plan") %>
                <% else %>
                  <%= custom_t(".free_distribution_credit") %><br>
                <% end %>
              <% elsif purchase.is_social? %>
                <% if price <= Money.new(0, price.currency) %>
                  <%= invoice_money(product.price.to_money) %><br>
                <% else %>
                  <%= money_with_discount(original_price, price, product.currency) %><br>
                <% end %>
                <% if targetedProduct && targetedProduct.price_adjustment_description.present? %>
                  <%= targetedProduct.price_adjustment_description %><br>
                  <% if targetedProduct.show_expiration_date %>
                    <%= custom_t(".offer_expires") %><%= fmt_long_date(targetedProduct.targeted_offer.expiration_date_for_person(item.person)) %><br>
                  <% end %>
                <% end %>
              <% elsif price <= Money.new(0, price.currency) %>
                <%= custom_t(:free) %><br>
              <% else %>
                <%= money_with_discount(
                      original_price,
                      price,
                      product.currency,
                      {currency: @invoice&.person&.user_currency, pegged_rate: @invoice&.pegged_rate}
                    ) %>
                <% if @invoice.present? && @invoice.person.india_user? || @person.india_user? %>
                  <i class="fa fa-question-circle qtip-it"
                     data-tooltip="<%= custom_t('carts.price_rounding_tooltip',
                                                {price: money_to_currency(price.to_money(product.currency), round_value: false)}) %>">

                  </i>
                <% end %>
                <br>
                <% if targetedProduct && targetedProduct.price_adjustment_description.present? %>
                  <% if targetedProduct.flag_text %>
                    <br><%= targetedProduct.flag_text %><br>
                  <% end %>
                  <%= targetedProduct.price_adjustment_description %><br>
                  <% if targetedProduct.show_expiration_date %>
                    <%= custom_t(".offer_expires") %> <%= fmt_long_date(targetedProduct.targeted_offer.expiration_date_for_person(item.person)) %><br>
                  <% end %>
                <% end %>
              <% end %>
              <% if !purchase.cert.nil? %>
                <span style="font-size: .85em;"><%= custom_t(".promo") %> <%= purchase.cert.cert %></span>
              <% end %>
              <% if (targetedProduct && targetedProduct.price_adjustment_description.present?) || purchase.cert %>
                </span>
              <% end %>
            </strong>
          <% end %>
        <% end %>
      <% end %>
      <% if is_upsell %>
        <%= link_to(custom_t(:add_to_cart), add_to_cart_product_path(:id => product), {:class => 'button-callout-alt upsell-cart' })%>
      <% end %>
      <% if show_vat_info? && !is_grouped %>
        <div class="vat_tooltip" data-title="<%= custom_t('vat.tool_tip_title') %>" data-content="<%= custom_t('vat.tool_tip_content') %>"></div>
      <% end %>
    </div>
  </div>
  <% if booklet_attachment || automator_attachment || preorder_attachment || legacy_preorder_attachment || additional_artist_attachments.present? || pending_plan_upgrade?(purchase) || proration_attachment || dolby_atmos_audio_attachments.present? || splits_collaborator_attachments.present? %>
    <div class="row">
      <div class="columns one"></div>
      <div class="columns nine cart-secondary_txt">
        <%= custom_t(".add_ons") %><br><br>
      </div>
      <div class="columns two"></div>
    </div>
    <% if automator_attachment %>
      <div class="row">
        <div class="cart_addon <%= 'automator-vat' if show_vat_info? %>">
          <div class="cart_addon-logo"><img src="/images/cart_icons/automator.jpg"></div>
          <div class="cart_addon-description">
            <strong><%= custom_t(".store_automator") %></strong><br>
            <%= custom_t(".future_stores_release_auto") %>
          </div>
          <div class="cart_addon-price <% if (automator_attachment.targeted_product.present? && automator_attachment.targeted_product.price_adjustment_description.present?) || purchase.cert.present? %>targeted_offer-highlight<% end %>">
            <% discounted_price = automator_attachment.cost - automator_attachment.discount %>
            <%= money_with_discount(
              automator_attachment.cost,
              discounted_price,
              automator_attachment.currency
            ) %>
            <% if automator_attachment.targeted_product %>
              <% if automator_attachment.targeted_product.flag_text %>
                <br><%= automator_attachment.targeted_product.flag_text %><br>
              <% end %>
              <%= automator_attachment.targeted_product.price_adjustment_description %><br>
              <% if automator_attachment.targeted_product.show_expiration_date %>
                Offer expires <%= fmt_long_date(automator_attachment.targeted_product.targeted_offer.expiration_date_for_person(item.person)) %><br>
              <% end %>
            <% end %>
          </div>
          <div class="cart_addon-actions">
            <% if show_actions %>
              <p><%= link_to(custom_t("carts.remove_item"), purchase_path(automator_attachment), {:method => :delete, :class => 'link'})%></p>
              <%= render :partial => 'carts/promo_code', :locals => {:purchase => automator_attachment} %>
            <% end %>
          </div>
          <% if show_vat_info? && confirm_and_pay?%>
            <%= render :partial => 'carts/purchase_vat_info', locals: { purchase: automator_attachment, type: 'automator' } %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if show_plan_addon_card?(purchase) || proration_attachment %>
      <div class="row">
        <div class="cart_addon plan-upgrade">
          <div class="cart_addon-logo"><img src="/images/cart_icons/plan_term_incomplete.png"></div>
          <div class="cart_addon-description">
            <strong>
              <%=  custom_t('.plan.incompleted_term_discount')%>
            </strong>
            <br>
            <%= custom_t('.plan.prorated') %>
          </div>
          <div class="cart_addon-price">
            <%= "(#{money_to_currency(Money.new(purchase.discount_cents, "USD"),
                                                iso_code: @person.country_domain,
                                                currency: @person.user_currency,
                                                round_value: @person.india_user?)})"
            %>
          </div>
        </div>
      </div>
    <% end %>
    <% if additional_artist_attachments.present? %>
      <% for additional_artist_attachment in additional_artist_attachments %>
      <div class="row">
        <div class="cart_addon <%= 'attachment-vat' if show_vat_info? %>">
          <div class="cart_addon-logo attachment_logo"><img src="/images/cart_icons/additional_artist_yellow.png"></div>
          <div class="cart_addon-description">
            <strong><%= additional_artist_attachment.product.display_name_safely_translated %></strong><br>
            <%= additional_artist_attachment.product.description_safely_translated %>
          </div>
          <div class="cart_addon-price">
            <%= invoice_money((additional_artist_attachment.cost)) %>
          </div>
          <% if show_vat_info? && confirm_and_pay? %>
            <%= render :partial => 'carts/purchase_vat_info', locals: { purchase: additional_artist_attachment, type: 'additional_artist' } %>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
    <% if splits_collaborator_attachments.present? %>
      <% for splits_collaborator_attachment in splits_collaborator_attachments %>
      <div class="row">
        <div class="cart_addon <%= 'attachment-vat' if show_vat_info? %>">
          <div class="cart_addon-logo attachment_logo"><img src="/images/cart_icons/splits_collaborator_icon.png"></div>
          <div class="cart_addon-description">
            <strong><%= splits_collaborator_attachment.product.display_name_safely_translated %></strong><br>
            <%= splits_collaborator_attachment.product.description_safely_translated %>
          </div>
          <div class="cart_addon-price">
            <%= invoice_money((splits_collaborator_attachment.cost)) %>
          </div>
          <% if show_vat_info? && confirm_and_pay? %>
            <%= render :partial => 'carts/purchase_vat_info', locals: { purchase: splits_collaborator_attachment, type: 'additional_artist' } %>
          <% end %>
          <div class="cart_addon-actions">
            <% if show_actions %>
              <p>
                <a href="#" class="link" id="splits_collab_delete_button" data-purchase-id="<%= splits_collaborator_attachment.id %>">
                  <%= custom_t("carts.remove_item") %>
                </a>
              </p>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
    <% if dolby_atmos_audio_attachments.present? %>
      <% for dolby_atmos_audio_attachment in dolby_atmos_audio_attachments %>
        <div class="row">
          <div class="cart_addon <%= 'attachment-vat' if show_vat_info? %>">
            <div class="cart_addon-logo attachment_logo"><img src="/images/cart_icons/dolby_atmos_audio.png"></div>
            <div class="cart_addon-description">
              <strong><%= dolby_atmos_audio_attachment.product.display_name_safely_translated %></strong><br>
              <%= custom_t(".delivered_to_apple") %><br>
              <%= dolby_atmos_track_header(dolby_atmos_audio_attachment) %>
            </div>
            <div class="cart_addon-price">
              <%= invoice_money((dolby_atmos_audio_attachment.cost)) %>
            </div>
            <div class="cart_addon-actions">
              <% if show_actions %>
                <p><%= link_to(custom_t("carts.remove_item"), purchase_path(dolby_atmos_audio_attachment), { method: :delete, class: 'link' })%></p>
                <%= render :partial => 'carts/promo_code', locals: { purchase: dolby_atmos_audio_attachment } %>
              <% end %>
            </div>
            <% if show_vat_info? && confirm_and_pay? %>
              <%= render :partial => 'carts/purchase_vat_info', locals: { purchase: dolby_atmos_audio_attachment, type: 'dolby_atmos_audio' } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if booklet_attachment %>
      <div class="row">
        <div class="cart_addon <%= 'booklet-vat' if show_vat_info? %>">
          <div class="cart_addon-logo"><img src="/images/cart_icons/booklet.jpg"></div>
          <div class="cart_addon-description">
            <strong><%= custom_t(".pdf_booklet") %></strong><br>
            <%= custom_t(".custom_booklet") %>
          </div>
          <div class="cart_addon-price">
            <%= invoice_money((booklet_attachment.cost - booklet_attachment.discount)) %>
          </div>
          <div class="cart_addon-actions">
            <% if show_actions %>
              <p><%= link_to(custom_t("carts.remove_item"), purchase_path(booklet_attachment), {:method => :delete, :class => 'link'})%></p>
              <%= render :partial => 'carts/promo_code', :locals => {:purchase => booklet_attachment} %>
            <% end %>
          </div>
          <% if show_vat_info? && confirm_and_pay? %>
            <%= render :partial => 'carts/purchase_vat_info', locals: { purchase: booklet_attachment, type: 'booklet' } %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if preorder_attachment %>
      <div class="row" style="margin-bottom: 10px;">
        <div class="columns nine cart_addon <%= 'preorder-vat' if show_vat_info? %>">
          <div class="row">
            <div class="columns one" style="padding: 0; margin-left: 30px;"><img src="/images/cart_icons/preorder_small.jpg"></div>
            <div class="columns five">
              <strong><%= get_preorder_name(preorder_attachment.related.album) %> <%= custom_t(".pre_order") %></strong><br>
              <%= custom_t(".release_avail_street_date") %>
            </div>
            <div class="columns two" style="padding-left: 3px;">
              <%= invoice_money((preorder_attachment.cost - preorder_attachment.discount)) %>
            </div>
            <div class="columns three">
              <% if show_actions %>
                <%= link_to(custom_t("carts.remove_item"), purchase_path(preorder_attachment), {:method => :delete, :class => 'link'})%><br>
                <%= render :partial => 'carts/promo_code', :locals => {:purchase => preorder_attachment} %>
              <% end %>
            </div>
            <div class="columns one"></div>
            <% if show_vat_info? && confirm_and_pay? %>
              <%= render :partial => 'carts/purchase_vat_info', locals: { purchase: preorder_attachment, type: 'preorder' } %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% if legacy_preorder_attachment %>
      <div class="row" style="margin-bottom: 10px;">
        <div class="columns nine cart_addon <%= 'legacy_preorder-vat' if show_vat_info? %>">
          <div class="row">
            <div class="columns one" style="padding: 0; margin-left: 30px;"><img src="/images/cart_icons/preorder_small.jpg"></div>
            <div class="columns five">
              <strong><%= custom_t(".pre_oder") %></strong><br>
              <%= custom_t(".release_avail_street_date") %>
            </div>
            <div class="columns two" style="padding-left: 3px;">
              <%= invoice_money((legacy_preorder_attachment.cost - legacy_preorder_attachment.discount)) %>
            </div>
            <div class="columns three">
              <% if show_actions %>
                <%= link_to(custom_t("carts.remove_item"), purchase_path(legacy_preorder_attachment), {:method => :delete, :class => 'link'})%><br>
                <%= render :partial => 'carts/promo_code', :locals => {:purchase => legacy_preorder_attachment} %>
              <% end %>
            </div>
            <div class="columns one"></div>
            <% if show_vat_info? && confirm_and_pay? %>
              <%= render :partial => 'carts/purchase_vat_info', locals: { purchase: legacy_preorder_attachment, type: 'legacy_preorder' } %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if ['Salepoint', 'SalepointSubscription'].include? type %>
    <div class="row">
      <div class="columns one">&nbsp;</div>
      <div class="columns eleven">
        <div class="row">
          <div class="columns twelve">
            <a href="#" class="link link-list show_releases"><%= custom_t(".show_releases") %></a>
          </div>
        </div>
        <div class="row hide">
          <div class="columns eleven cart_item-bundle_items dm-cart_item-bundle_items">
            <% item.purchases.values.each do |purchase| %>
              <div class="row cart_item-bundle_item <%= 'store-expander-vat' if show_vat_info? %>">
                <div class="columns one cart_item-icon">
                  <%
                    if type == 'Salepoint'
                      album = purchase.purchased_item.salepointable
                    else
                      album = purchase.purchased_item.album
                    end
                  %>
                  <% if album.artwork %>
                    <%= image_tag(album.artwork.url(:small)) %>
                  <% elsif purchase.class.name == 'Ringtone' %>
                    <img src="/images/cart_icons/ringtone_distribution.jpg" alt="">
                  <% else %>
                    <img src="/images/cart_icons/album_distribution.jpg" alt="">
                  <% end %>
                </div>
                <div class="columns four mobile-three cart_item-description">
                  <%= display_name(album) %>
                </div>
                <div class="columns two album_price">
                  <% if (purchase.targeted_product.present? && purchase.targeted_product.price_adjustment_description.present?) || purchase.cert.present? %>
                    <span class="targeted_offer-highlight">
                  <% end %>
                  <% if purchase.cost - purchase.discount <= 0.to_money(current_user_currency) %>
                    Free<br>
                  <% else %>
                    <%= money_with_discount(
                      purchase.cost,
                      (purchase.cost - purchase.discount),
                      purchase.cost.currency)
                    %>
                  <% end %>
                  <% if !purchase.cert.nil? %>
                    <span style="font-size: .85em;">Promo: <%= purchase.cert.cert %></span>
                  <% end %>
                  <% if (purchase.targeted_product.present? && purchase.targeted_product.price_adjustment_description.present?) || purchase.cert.present? %>
                    </span>
                  <% end %>
                </div>
                <div class="columns one"></div>
                <div class="columns four actions">
                  <% if show_actions %>
                    <p><%= link_to(custom_t("carts.remove_item"), purchase_path(purchase), {:method => :delete, :class => 'link'})%></p>
                    <%= render :partial => 'carts/promo_code', :locals => {:purchase => purchase} %>
                  <% end %>
                </div>
                <% if show_vat_info? && confirm_and_pay? %>
                  <%= render :partial => 'carts/purchase_vat_info', locals: { purchase: purchase } %>
                  <div class="columns one dummy-column"></div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if show_freemium_upsell?(purchase) %>
      <%= render partial: "carts/free_distribution", locals: { album: purchase.related } %>
  <% end %>
</div>
