<div class="cart-item-links">
  <% if purchase.cert == nil && purchase.targeted_product == nil -%>
    <%= link_to(custom_t(".carts.enter_code"), new_purchase_cert_path(purchase), :class => 'link') %>
  <% end -%>
  <%= link_to(custom_t(:remove), purchase_path(purchase), {:method => :delete, :class => 'link remove_one_other'})%>
</div>
