<div class="row">
  <div class="columns twelve">
    <div class="row" style="margin-bottom: 5px;">
      <div class="columns twelve">
        <label for="cc_payment_method">
          <span style="display: inline-block; line-height: 25px; float: left; margin-right: 10px;"><strong><%= custom_t("carts.confirm_and_pay.credit_card") %></strong></span>
          <%= render partial: "shared/card_icons", locals: {braintree: braintree} %>
        </label>

      </div>
    </div>
    <% if @credit_cards.length > 0 %>
      <%= render partial: 'credit_card_tile' %>
    <% end %>
    <div class="row collapse">
      <div class="columns twelve">
        <%= link_to  custom_t("carts.confirm_and_pay.add_card"),
                     new_stored_credit_card_path(tc_balance: 1,
                                                 redirect: request.fullpath,
                                                 payment_vendor: (braintree ? 'braintree' : 'payments_os')),
                     class: 'button-callout' %>

      </div>
    </div>
  </div>
</div>
