<div class="row collapse">
  <ul class="block-grid four-up mobile">
    <% @credit_cards.each do |cc| %>
      <li>
        <div class="row collapse ccbox <% if cc.expired? %>ccbox-expired<% end %>">
          <div class="cc-select">
            <%= radio_button_tag "cart_finalize_form[payment_id]", "paypal", check_cc_default?(cc),
                                 disabled: cc.expired?, class: "cc_select payment_select", id: "cc-#{cc.id}", value: cc.id,
                                 data: { "require_three_d_secure_transaction": cc.located_in_eea? } %>
          </div>
          <div class="cc-info">
            <img src="/images/credit_card_icons/<%= cc.cc_type.downcase.delete(' ') %>.png" style="float: left; margin-right: 5px;">
            <span style="float: left;">
              <%= cc.padded_cc_number %><br>
              <% if cc.expired? %>
                <strong style="color: #e91c2c;"><%= custom_t(:expired) %></strong><br><br>
              <% else %>
                <%= custom_t(:exp) %> <%= cc.expiration_month %>/<%= cc.expiration_year %><br><br>
              <% end %>
            </span>
            <br style="clear: both;">
            <% unless cc.bt_token %>
              <%= cc.first_name %> <%= cc.last_name %><br>
              <%= cc.city %>, <%= country_name(cc.country) %>
              <input type="number" class="cvv" name="cvv" placeholder="CVV"/>
            <% end %>
            <%= edit_stored_credit_card_link(cc) %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>