<div class="cart_item" style="border: none; padding-bottom: 0">
  <div class="row">
    <div class="columns one cart_item-icon">
     <%= image_tag(album.artwork.url(:small)) %>
    </div>

    <div class="columns five cart_item-description">
        <h3><%= custom_t("carts.upgrade_to_paid_release") %></h3>
        <p><%= custom_t("carts.cart_item.distributed_to") %></p>
        <p><%= "#{@active_stores.join(", ")}" %></p>
    </div>

    <div class="columns two cart_item-item price">
     <p><%= Product.price(current_user, album) %></p>
    </div>

    <div class="columns four cart_item-actions">
      <%= link_to custom_t(:add_to_cart),
        salepoints_add_active_stores_to_album_path(album_id: album.id, stores: @active_stores),
        { id: "add-social-to-cart-btn", class: "button-callout-alt upsell-cart" , method: :post }%>
    </div>
  </div>
</div>
