<tr class="<%=cycle('odd', 'even')%>">
  <td><%= custom_t(:order) %> <%= link_to(invoice.code, invoice_path(invoice)) %></td>
  <td><%= pluralize(invoice.purchases.size, 'item') %></td>
  <td><%= money_to_currency(invoice.outstanding_amount) %></td>
  <td>
	<% if invoice.can_destroy? %>
	<%= link_to custom_t(:cancel), invoice_path(invoice), :method => :delete %> 
	or 
	<% end %>
    <%= link_to(custom_t(:pay_now), invoice_path(invoice))%>
  </td>
</tr>

