<div class="cart_items">
  <%= render :partial => "carts/widgets/order_summary" %>
  <%= render :partial => "carts/widgets/confirm_information" %>
  <% unless one_time_payment_only? %>
    <%= render :partial => "carts/widgets/payment_method" %>
    <%= render :partial => "carts/widgets/complete_order", :locals => { f: f } %>
  <% end %>

</div>
