<% if cert != nil || (targeted_product != nil && (!targeted_product.price_adjustment_description.blank? || targeted_product.show_expiration_date )) -%>
  <div class="promo-information">
    <% if cert != nil -%>
      <p class="cert">
        <%= custom_t(".applied_promo_code", cert: cert.cert) %>
        <span><%= money_to_currency(purchase.discount) %></span>
        <% if current_user && (current_user.is_administrator || session[:admin]) %>
          | <%= link_to(custom_t(".remove_discount"), remove_code_purchase_path(id: purchase.id)) %>
        <% end %>
      </p>
    <% end -%>
    <% if targeted_product != nil && (!targeted_product.price_adjustment_description.blank? || targeted_product.show_expiration_date ) -%>
      <p class="offer">
        <span>
          <%= h(targeted_product.price_adjustment_description) %>
          <% if targeted_product.show_expiration_date %>
            <%= custom_t(".offer_ends_on") %> <%= fmt_long_date(targeted_product.targeted_offer.expiration_date_for_person(person)) %>.
          <% end %>
        </span>
      </p>
    <% end -%>
  </div>
<% end -%>
