<span class="loading-cart-spinner">
  <i class="fa fa-spinner fa-spin"></i>
  <%= custom_t("carts.show.cart_loading") %>
</span>
<%= render "cart_next_page_btn", skip_confirm_and_pay?: skip_confirm_and_pay? %>
<div class="cart-terms-link">
  <%= show_appropriate_terms %>
</div>
