<span class="product-name"><%= product.display_name %></span>
<span class="product-description"><%= product.description %></span>

<% if @on_thankyou != nil %>
  <% if (product.name == 'Album Distribution Credit' or product.name == 'Album Distribution Credit - 5 Pack' or product.name == 'Album Distribution Credit - 10 Pack' or product.name == 'Album Distribution Credit - 20 Pack')  %>
    <a href="/albums/new" class="button ns" style="margin-top: 40px;"><%= custom_t(:create_album) %></a>
  <% elsif (product.name == 'Single Distribution Credit' or product.name == 'Single Distribution Credit - 5 Pack' or product.name == 'Single Distribution Credit - 10 Pack' or product.name == 'Single Distribution Credit - 20 Pack') %>
    <a href="/singles/new" class="button ns" style="margin-top: 40px;"><%= custom_t(:create_single) %></a>
  <% elsif (product.name == 'Ringtone Distribution Credit' or product.name == 'Ringtone Distribution Credit - 3 Pack' or product.name == 'Ringtone Distribution Credit - 5 Pack' or product.name == 'Ringtone Distribution Credit - 10 Pack' or product.name == 'Ringtone Distribution Credit - 20 Pack') %>
    <a href="/ringtones/new" class="button ns" style="margin-top: 40px;"><%= custom_t(:create_ringtone) %></a>
  <% end %>
<% end %>
