<% if purchase.cert == nil && purchase.related_type != 'CreditUsage' -%>
  <%= link_to(custom_t(".apply_code"), new_purchase_cert_path(purchase), :class => 'link link-promo') %>
  <div class="box-promo hide" action="<%= purchase_cert_path(purchase) %>">
    <label for="purchase_cert_<%= purchase.id %>"><%= custom_t("carts.enter_code") %></label><br>
    <input id="purchase_cert_<%= purchase.id %>" type="text"><br>
    <a href="#" class="btn btn-action apply"><%= custom_t(:apply) %></a>
    <a href="#" class="btn btn-action cancel"><%= custom_t(:cancel) %></a>
  </div>
<% elsif purchase.cert.present? %>
  <%= link_to(custom_t(".remove_code"), remove_code_purchase_path(purchase), {:method => :delete, :class => 'link'})%><br>
<% end -%>
