<% type ||= '' %>
<% hide_element = hide_vat_column %>

<div class="<%= 'columns one' unless ['automator', 'booklet'].include? type %> cart_item-actions vat-rate-container vat-column <%= hide_element %>">
  <label class="vat-rate-label"><%= custom_t("vat.vat_rate") %>:</label>
  <strong class="vat-rate-placeholder"><%= format_vat_rate(purchase&.purchase_tax_information&.tax_rate.to_f) %></strong>
</div>
<div class="<%= 'columns one' unless ['automator', 'booklet'].include? type %> cart_item-actions vat-amount-container vat-column <%= hide_element %>">
  <label class="vat-amount-label"><%= custom_t("vat.vat_amount") %>:</label>
  <strong class="vat-amount-placeholder">
    <%= money_to_currency(purchase.vat_amount.to_money(@cart_data.currency), round_value: false) %>
  </strong>
  <div class="final-price-placeholder hide"><%= money_to_unformatted_amount(purchase.sub_total_excl_vat.to_money(@cart_data.currency), round_value: false) %></div>
</div>