<div class="product-purchase clearfix" style="position: relative;">
  <%= image_tag('/images/renewal.png') %>
  <span class="product-name"><%= product.name %></span>

  <% #if there is only 1 item, just list its name, if there is more than one, generate an ordered list %>
  <% if renewal.items.size == 1 %>

    <% if renewal.items.first.related_type == 'Album' %>
      for <strong><% if @admin_site %>
          <%= link_to renewal.items.first.related.name, admin_album_path(renewal.items.first.related) %> (UPC:<%= renewal.items.first.related.tunecore_upcs.collect(&:number).join(", ") %>)
        <% else %>
          <%= renewal.items.first.related.name %>
        <% end %></strong>
    <% elsif renewal.items.first.related_type == 'Video' %>
      for <strong><% if @admin_site %>
          <%= link_to renewal.items.first.related.name, admin_video_path(renewal.items.first.related) %>
        <% else %>
          <%= renewal.items.first.related.name %>
        <% end %>
        </strong>
    <% elsif renewal.items.first.related_type == 'Entitlement' %>
      for <strong><%= renewal.items.first.related.entitlement_rights_group.name %></strong>
    <% end %>
    <% if (current_user.paid_for_composer? || current_user.paid_for_publishing_composer?) && @on_thankyou != nil %>
      <a href="/<%= album_type_name_display(renewal).downcase %>s/<%= renewal.id %>/splits" class="button ns" style="margin-top: 40px; position: absolute; top: 0; right: 0;"><%= custom_t(".add_songwriter") %></a>
    <% end %>

  <% else %>
    <ul>
    <% renewal.items.each do |item| %>
      <% if item.related_type == 'Album' || item.related_type == 'Video' %>
        <li><strong><%= item.related.class.name %>:</strong> <%= item.related.name%></li>
      <% elsif item.related_type == 'Entitlement' %>
        <li><strong><%= item.related.entitlement_rights_group.name %></strong></li>
      <% end %>
    <% end %>
    </ul>
    <% if (current_user.paid_for_composer? || current_user.paid_for_publishing_composer?) && @on_thankyou != nil %>
      <a href="/discography" class="button ns" style="margin-top: 40px; position: absolute; top: 0; right: 0;"><%= custom_t(".add_songwriter") %></a>
    <% end %>
  <% end %>

</div>
