<% if !purchase.is_plan? && purchase.renewal.items.first.related.artwork %>
  <%= image_tag(purchase.renewal.items.first.related.artwork.url(:small)) %>
<% else %>
  <img src="/images/cart_icons/renewal.jpg" alt="">
<% end %>
