<div class="product-purchase salepoint">
	<div class="salepoint icon-<%= salepoint_purchase.store.abbrev %>"></div>
	<span class="product-name"><%= salepoint_purchase.store.name %>:</span>
	<span><%= custom_t(".added_store_for") %> <strong><%= salepoint_purchase.salepointable.name %></strong></span>
</div>
