<div class="product-purchase clearfix">
  <%= image_tag('/images/cart_icons/automator.jpg') %>
  <%= render(:partial => "carts/product_info", :locals => {:product => product}) %>
  <%= custom_t(".purchased_for") %> <%= display_name(automator.album) %>
</div>
