<div class="cart_item">
  <div class="row">
    <div class="columns one cart_item-icon">
      <img src="/images/cart_icons/social_pro.png" alt="TuneCore Social Pro">
    </div>

    <div class="columns five cart_item-description">
      <% if @social_cta.cta_type == "upgrade" %>
        <h3><%= custom_t(".social_upgrade_title") %></h3>
        <p><%= custom_t(".social_upgrade_msg") %></p>
      <% elsif @social_cta.cta_type == "buy" %>
        <h3><%= custom_t(".social_buy_title") %></h3>
        <p><%= custom_t(".social_buy_msg") %></p>
      <% end %>
    </div>

    <div class="columns two cart_item-item price">
      <%= render "products/shared/cart_product_price",
        product_display: ProductDisplay.new(@person, @social_cta.social_product) %>
    </div>

    <div class="columns four cart_item-actions">
      <%= link_to custom_t(:add_to_cart),
        add_to_cart_product_path(id: @social_cta.social_product.id, product_type: "social"),
        { id: "add-social-to-cart-btn", class: "button-callout-alt upsell-cart" } %>

      <p class="social-cart-cta">
        <%= custom_t(".social_monthly_charge") %>
      </p>

      <%= custom_t(".social_terms_of_service", url: tcs_terms_url) %>
    </div>
  </div>
</div>
