<div class="product-purchase clearfix">
  <%= image_tag('/images/product_images/tc-logo-pub-sm.png') %>
  <span class="album-name"><%= custom_t(".publishing_admin") %></span>
  <span class="product-description"><%= custom_t(".collect_royalties") %></span>
  <% if @on_thankyou != nil %>
		<a href="/discography" class="button ns" style="margin-top: 40px; position: absolute; top: 0; right: 0;"><%= custom_t(".select_songs") %></a>
  <% end %>
</div>