<label for="cc_payment_method">
  <span style="display: inline-block; line-height: 25px; float: left; margin-right: 10px;"><strong><%= custom_t(".credit_card") %></strong></span>
  <img src="/images/credit_card_icons/visa.png">
  <img src="/images/credit_card_icons/mastercard.png">
  <img src="/images/credit_card_icons/americanexpress.png">
  <% if braintree %>
    <img src="/images/credit_card_icons/discover.png">
  <% else %>
    <img src="/images/credit_card_icons/rupay.png">
    <img src="/images/credit_card_icons/diners.png">
  <% end %>
</label>