<% confirm_and_pay = false if local_assigns[:confirm_and_pay].nil? %>

<span class="loading-cart-spinner">
  <i class="fa fa-spinner fa-spin"></i>
  <%= custom_t("carts.show.cart_loading") %>
</span>
<%= link_to custom_t("carts.show.upgrade_plan"),
    plans_path,
    class: "button-callout #{ confirm_and_pay ? 'pay_button' : '' }",
    id: 'upgrade-plan BTN_plan_upgrade_required_cart' %>
<div class="cart-terms-link">
  <%= custom_t("carts.show.upgrade_plan_terms") %>
</div>
