<div class="product">
  <%= product_display_mapper(upsell_product) %>
  <%= render(:partial => "purchase_price", :locals => {:price => Product.price(current_user, upsell_product)}) %>
	<span class="button-small">
		<%= link_to(custom_t(:add_to_cart), :controller => 'products', :action => 'add_to_cart', :id => upsell_product)%>
  </span>
	<%= render(:partial => "promo_and_offer_information", :locals => {:person => current_user, :cert => nil, :targeted_product => upsell_product.current_targeted_product}) %>
</div>