<% content_for :external_javascript do %>
  <%= javascript_include_tag "compliance_info_fields" %>
<% end %>

<div class="vat_form_content">
  <div id="customer_type_list_item" class="customer_type-fieldset" data-customer-type="<%=@person.customer_type%>"> <label><%= custom_t('vat.customer_type_text') %></label><br>
    <ul class="radio-input-group">
      <%= f.radio_button(
        'customer_type',
        'business',
        checked: business?(current_user.customer_type),
        label: custom_t('new_customer_type.business'),
        new_form: true,
        disabled: Person::FlagService::person_flag_exists?(
          {
            person: @person,
            flag_attributes: Flag::CUSTOMER_TYPE_LOCKED
          }
        ),
        class: 'compliance-radio-input'
      ) %>

      <%= f.radio_button(
        'customer_type',
        'individual',
        checked: individual?(current_user.customer_type),
        label: custom_t('new_customer_type.individual'),
        new_form: true,
        disabled: Person::FlagService::person_flag_exists?(
          {
            person: @person,
            flag_attributes: Flag::CUSTOMER_TYPE_LOCKED
          }
        ),
        class: 'compliance-radio-input'
      ) %>
    </ul>
  </div>
</div>

<% @compliance_info_form.fields.each do |ci_field|%>
  <li class="compliance-info-form-input-list">
    <div class="row">
      <div class="column four input-wrapper">
        <label for="compliance_field_<%=ci_field[0]%>"><%=raw(custom_t("people.renewal_billing_info.#{ci_field[0].to_s}"))%><span class="ci-required-star">*</span></label>
        <div class="context-wrapper">
          <input
          <%= 'disabled' if ci_field.dig(1, 'locked') %>
            placeholder='<%= raw(custom_t("people.renewal_billing_info.#{ci_field[0].to_s}_placeholder")) %>'
            class="compliance_info_field_input compliance-info-input"
            data-depn-input="<%= "person[#{ci_field.dig(1, 'dependent_field_type')}]" %>"
            data-depn-value="<%= ci_field.dig(1, 'dependent_field_value').downcase %>"
            data-fe-validation-required="true"
            <% if ci_field.dig(1, :alpha_only_validation)%>
              data-regex="(^[\p{L} .'-]*$)"
              data-regex-flag="u"
            <%end%>
            type="text" id="compliance_field_<%=ci_field[0]%>"
                        name="<%=ci_field[0]%>"
                        value="<%=ci_field.dig(1, 'field_value')%>" />
                        <% if ci_field.dig(1, 'tooltip_text') %>
                          <i
                            class="fa fa-question-circle fa-md <%= ci_field.dig(1, 'tooltip_trigger')%>"
                            data-tooltip='<%= CGI.escapeHTML(ci_field.dig(1, 'tooltip_text')) %>'
                            data-position="right"
                            title='<%= ci_field.dig(1, 'tooltip_title') %>' ></i>
                        <% end %>
        </div>

      </div>
    </div>
  </li>
<% end %>
