<div class="product-purchase video-purchase clearfix">
  
  <% if @admin_site %>
    <%= link_to image_tag('/images/video.png'), admin_video_path(video) %>
  <% else %>
    <%= link_to image_tag('/images/video.png'), video_path(video) %>
  <% end %>
  
  <span class="product-name"><%= product.display_name %></span>
  <span class="video-name">
    <% if @admin_site %>
      <%= link_to video.name, admin_video_path(video) %>
    <% else %>
      <%= link_to video.name, video_path(video) %>
    <% end %>
  </span>
 	<p><%= video_description(video) %></p>
</div>
