<% content_for :data_layer do %>
  <%= data_layer_object(page: Gtm::Page.new(current_user, currency: locale_currency, page_type: Gtm::Cart, page_name: custom_t(".confirm_pay"), purchases: @cart_data.purchases)) %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "cart" %>
  <%= javascript_include_tag "people" %>
  <%= javascript_include_tag "people_fields" %>
  <%= javascript_include_tag "confirm_and_pay" %>
  <%= javascript_include_tag "/javascripts/js.cookie.js" %>
  <%= javascript_include_tag "shared/pay_now_button" %>
  <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/vatTooltip.js" %>

  <% if current_user.three_d_secure_enabled? %>
    <script src='https://js.braintreegateway.com/web/3.82.0/js/client.min.js'></script>
    <script src='https://js.braintreegateway.com/web/3.82.0/js/three-d-secure.min.js'></script>
  <% end %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "cart" %>
  <%= stylesheet_link_tag "people" %>
  <%= stylesheet_link_tag "vat_tooltip" %>

  <% if @dark_mode %>
    <%= stylesheet_link_tag "dark_mode/cart" %>
  <% end %>
<% end %>

<script charset="utf-8" type="text/javascript">
  window.onCartsPage = true;
</script>

<div class="content">
  <%= simple_form_for @finalize_form, url: finalize_cart_path, method: :post, html: { id: "payment_form" } do |f| %>
    <%= f.input :use_balance, as: :hidden %>
    <% if current_user.three_d_secure_enabled? %>
      <%= hidden_field_tag "three_d_secure_nonce", '' %>
      <%= hidden_field_tag "braintree_3dsecure_auth_id", '' %>
    <% end %>

    <section id="cart" class="row confirm_pay">

      <div class="columns twelve">
        <header>
          <div class="row collapse">
            <div class="columns eight">
              <h2><%= custom_t(".confirm_place_order") %></h2>
            </div>
          </div>
          <% if can_user_pay? || one_time_payment_only? %>
            <% if !@cart_is_empty && !@plan_is_sufficient %>
              <%= render "upgrade_plan_cta", confirm_and_pay: true %>
            <% else %>
              <%= f.button :button,
                custom_t(:pay_now),
                type: :submit,
                class: "pay_button",
                data: { disable_with:  "#{content_tag(:i, nil, class: "fa fa-spinner fa-pulse")}" }
              %>
              <p class="pay_notice">
                <% unless @all_on_tunecore %>
                  <%= pay_notice(@finalize_form.use_balance, @can_pay_with_balance) %>
                <% end %>
              </p>
              <% unless @all_on_tunecore %>
                <p class="pay_notice_select_payment_method hide">
                  <%= custom_t("carts.confirm_and_pay.please_select_payment_method") %>
                </p>
              <% end %>
            <% end %>
          <% end %>
        </header>
        <% if bi_transfer? %>
          <%= render :partial => "bi_transfer_confirm_and_pay", :locals => { f: f } %>
        <% else %>
          <%= render :partial => "legacy_confirm_and_pay", :locals => { f: f } %>
        <% end%>

        <% if one_time_payment_only? %>
          <% if !@cart_is_empty && !@plan_is_sufficient %>
            <%= render "upgrade_plan_cta", confirm_and_pay: true %>
          <% else %>
            <div class="one_time_payment_pay_button">
              <%= f.button :button,
                custom_t(:pay_now),
                type: :submit,
                class: "pay_button",
                data: { disable_with:  "#{content_tag(:i, nil, class: "fa fa-spinner fa-pulse")}" }
              %>
              <% unless @all_on_tunecore %>
                <p class="pay_notice"> <%= pay_notice(@finalize_form.use_balance, @can_pay_with_balance) %> </p>
              <% end %>
              <% unless @all_on_tunecore %>
                <p class="pay_notice_select_payment_method hide">
                  <%= custom_t("carts.confirm_and_pay.please_select_payment_method") %>
                </p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>
  <% end %>
</div>


<%= render partial: "shared/modal", 
          locals: {
            id: "no-payment-method-alert-modal", 
            title: custom_t("alert"), 
            contents: custom_t("carts.confirm_and_pay.please_select_payment_method")
          } 
%>

<div id="paypal_connect" title="Paypal Connect" class="hide">
  <div style="float: left; width: 300px;">
    <%= custom_t(".sent_paypal", account_auth: MONEY_CONFIG[current_user.person_balance.currency][:unit], auth_balance: MONEY_CONFIG[current_user.person_balance.currency][:unit]) %><br /><br />
    <a href="/stored_paypal_accounts/ec_step1?pay_with_balance=true&amp;redirect=<%=request.fullpath%>" class="btn btn-callout btn-upcase btn-bold" style="color: #FFFFFF;"><%= custom_t(:continue) %></a>
  </div>
</div>
<div id="error_dialog" title="Payment Information" class="hide">
  <%= custom_t(".provide_payment_info") %>
</div>
<div id="payment_processing" title="<%= custom_t(".payment_processing.title") %>" class="hide">
  <%= custom_t(".payment_processing.message") %>
</div>

<% if current_user.three_d_secure_enabled? %>
  <%= render partial: "shared/modal", locals: { id: "error-modal", title: custom_t("something_went_wrong"), contents: custom_t("stored_credit_cards.verification_error_generic") } %>
<% end %>
