<% content_for :external_javascript do %>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-519be54d587e17f8"></script>
  <script type="text/javascript">
    jQuery(document).ready(function($){

      addthis.toolbox('.addthis_toolbox');
      if($('.songwriter_box').length > 1){
        $('.songwriter_box').hide();
        $('.songwriter_box:first').show();
      }

      var redirect = true;
      if($('.button.ns').length > 0){
        redirect = false;
      }
    });
  </script>
<% end %>

<section class="grid_11" id="invoice-thanks">
    <% if !current_user.paid_for_composer? && !current_user.paid_for_publishing_composer? %>
      <h2><%= custom_t(".collect_money_with_pub_admin") %></h2>
      <div class="product songwriter_box" style="position: relative;">
        <div class="product-purchase clearfix">
          <img src="/images/product_images/tc-logo-pub-sm.png" />
          <span class="product-description"><%= custom_t(".tunecore_pub_admin") %></span>
          <a href="<%= music_publishing_admin_link %>" class="button ns" style="margin-top: 40px; position: absolute; top: 0; right: 0;"><%= custom_t(:learn_more) %></a>
        </div>
      </div>
    <% end %>

<br /><h2><%= custom_t(".your_order") %></h2>
  <div class="rounded-container purchases clearfix">
    <div class="product">
      <% @product = Product.find(Inventory.original_product_item_from_used(@item).renewal_product_id) %>
      <div class="product-purchase" style="position: relative;">
        <% if (@item.artwork != nil) %>
          <%= image_tag(@item.artwork.url(:small)) %>
        <% end %>
        <span class="album-name"><%= @item.name %></span>
        <span class="product-name"><%= custom_t(".used_distribution_credit", item: @item.class.name) %></span>
        <span class="product-description"><%= custom_t(".item_avail_in_stores", item: @item.class.name, renew_price: @product.adjusted_price? ? @product.adjusted_price : @product.price) %></span><br />
        <span class="album-store-list clearfix"><span><%= custom_t(".distributed_to") %></span><%= album_store_list(@item, nil) %></span>
        <% if current_user.paid_for_composer? || current_user.paid_for_publishing_composer? %>
          <a href="/<%= album_type_name_display(@item).downcase %>s/<%= @item.id %>/splits" class="button ns" style="margin-top: 40px; position: absolute; top: 0; right: 0;"><%= custom_t(".songwriter_info") %></a>
        <% end %>
      </div>
    </div>
  </div>

</section>

<section class="grid_5">
  <h2 style="border-bottom: 2px solid #DFDFDF; padding-bottom: 5px;"><%= custom_t(:share) %></h2>
  <p><%= custom_t(".tell_friends") %></p>
  <div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="http://www.tunecore.com" addthis:title="I just distributed my music through TuneCore - available soon in stores!">
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_tumblr"></a>
    <a class="addthis_button_linkedin"></a>
    <a class="addthis_button_email"></a>
    <a class="addthis_button_stumbleupon"></a>
    <a class="addthis_button_compact"></a>
  </div>
</section>
