<% content_for :external_javascript do %>
    <script src="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/5.8.0/adyen.js"
        integrity="sha384-+g4E31JlX0VehjtzsLkNbXWAC8BY8CWXtsmwyr1wVOEfYgnrn/FtuIian6JBi6Va"
        crossorigin="anonymous"></script>

    <link rel="stylesheet"
        href="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/5.8.0/adyen.css"
        integrity="sha384-sh96qY2G0gI/SWEA7mUoROU6e1DT3KyE36KQRTT4t5bfd/lz6WFU8AbV7GxgKIbt"
        crossorigin="anonymous">

    <%= javascript_include_tag "confirm_and_pay/adyen_dropin" %>
<% end %>
 
<% content_for :css do %>
  <%= stylesheet_link_tag "adyen_dropin" %>
<% end %>

<script>
    window.inAdyenDropInPage = true
</script>


<div class="page-contents">
    <h2>
        <%= I18n.t("adyen.dropin_page.you_are_paying").html_safe %>
        <%= @amount %>
        <%= "(" + @amount_in_local_currency + ")" unless @amount_in_local_currency.nil? %>
    </h2>
    <h3 class="back-warning"><%= custom_t("adyen.dropin_page.back_warning"); %></h3>
    <div id="adyen-payment-container" class="container" data-session="<%= @session.to_json %>">
        <div class="loader"><%= custom_t("adyen.dropin_page.loader") %></div>
        <div id="dropin-container"></div>
        <div id="dropin-fallback" class="hidden">
            <h3><%= custom_t("adyen.dropin_page.dropin_error_fail", link: confirm_and_pay_cart_path ) %></h3>
        </div>
    </div>
</div>

<%= render partial: "shared/modal", 
    locals: {
      id: "info-modal", 
      title: custom_t("adyen.dropin_page.please_wait"), 
      contents: custom_t("adyen.dropin_page.please_wait_description"),
      type_class: "info"
    } 
%>

<%= render partial: "shared/modal", 
    locals: {
      id: "error-modal", 
      title: custom_t("something_went_wrong"), 
      contents: custom_t("something_went_wrong"),
      type_class: "error"
    } 
%>
