<% content_for :optimizely_custom_tags do %>
  <%= optimizely_custom_tag(Optimizely::Page.new(current_user, currency: locale_currency, page_name: optimizely_page_name).tag_data) %>
<% end %>

<% content_for :data_layer do %>
  <%= data_layer_object(page: Gtm::Page.new(current_user,currency: locale_currency, page_type: Gtm::Cart, page_name: "Confirm and Pay", purchases: @cart_data.purchases)) %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "cart" %>
  <%= javascript_include_tag "splits_collaborator_popup.js" %>
  <%= javascript_include_tag "/javascripts/app/cart_google_analytics.js" %>
  <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/vatTooltip.js" %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "vat_tooltip" %>
  <%= stylesheet_link_tag "cart" %>

  <% if @dark_mode %>
    <%= stylesheet_link_tag "dark_mode/cart" %>
  <% end %>
<% end %>

<script>
  window.onCartPage = true;
</script>

<div class="content">
  <section id="cart" class="row">

    <div class="columns ten">

      <header class="row collapse">
        <div class="columns eight">
          <% if @cart_is_empty %>
            <h2><%= custom_t(".cart_empty") %></h2>
          <% else %>
            <h2><%= custom_t(".item", count: @cart_data.purchases.count) %></h2>
          <% end %>
        </div>
      </header>

      <nav class="row collapse">
        <div class="columns twelve text-right">
          <% unless @cart_is_empty || !@plan_is_sufficient %>
            <%= render "proceed_checkout_cta" %>
          <% end %>
        </div>
      </nav>

      <div class="cart_items">

        <header class="row collapse">
          <div class="columns twelve">
            <h3><%= custom_t(".order_summary") %></h3>
          </div>
        </header>

        <div class="cart_items_content">
          <div class="row cart_item_headers">
            <div class="columns six"><%= custom_t(:item, count: @cart_data.purchases.count) %></div>
            <div class="columns two"><%= custom_t(".item_price") %></div>
            <div class="columns two" style="padding: 0;"><%= custom_t(".actions") %></div>
            <div class="columns two">
              <%= custom_t(:price) %>
              <% if show_vat_info? %>
                <span class="vat_tooltip" data-title="<%= custom_t('vat.tool_tip_title') %>" data-content="<%= custom_t('vat.tool_tip_content') %>"></span>
              <% end %>
            </div>
          </div>
          <% unless @cart_is_empty %>
            <%= render :partial => "cart_items", :locals => {show_actions: @show_actions} %>
            <% if show_cross_sell(:ytm) %>
              <div class="cart_item upsell_item">
                <div class="row">
                  <div class="columns one cart_item-icon">
                    <img src="/images/cart_icons/ytm.png" alt="YouTube">
                  </div>
                  <div class="columns five cart_item-description">
                    <h3><%= custom_t(".youtube_revenue") %></h3>
                    <p><%= custom_t(".money_youtube") %></p>
                  </div>
                  <div class="columns two cart_item-itemprice">
                    <% price = Product.price(current_user,@ytsr_product) %>
                    <%= money_with_discount(
                      @ytsr_product.original_price,
                      price,
                      @ytsr_product.currency
                    ) %>
                  </div>
                  <div class="columns four cart_item-actions">
                    <%= link_to(custom_t(:add_to_cart), setup_ytm_youtube_monetizations_path(agree_to_terms: true, ytm_product_id: @ytsr_product.id, product_type: "youtube-money"), method: :post, id: 'add-ytsr-to-cart-btn', class: 'button-callout-alt youtube-link')%>
                    <p><%= custom_t(".agree_youtube", url: "/index/terms") %></p>
                  </div>
                </div>
              </div>
            <% end %>
            <% if @social_cta.show_cta?  %>
              <%= render :partial => "social_cta", locals: {tcs_terms_url: @tcs_terms_url} %>
            <% end %>

            <% if show_vat_form? %>
              <div class="row cart-subtotal">
                <div class="columns ten">
                  <fieldset>
                    <div class="column-title-container without-header">
                      <div class="cart-subtotal_txt hide-for-small-screens">
                        <%= custom_t("subtotal") %>
                        <div class="subtext"><%= custom_t('vat.excluding_vat') %></div>
                        <div class="subtext"><%= custom_t('vat.vat_tax_will_be_applied') %></div>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="columns two cart-total_price hide-for-small-screens">
                  <%= money_to_currency(@cart_data.vat_exclusive_price.to_money(@cart_data.currency)) %>
                  <% if india_user? %>
                    <% actual_total = money_to_currency(@cart_data.vat_exclusive_price.to_money(@cart_data.currency), round_value: false)%>
                    <i class="fa fa-question-circle qtip-it" data-tooltip="<%= custom_t('carts.price_rounding_tooltip', {price: actual_total}) %>"></i>
                    <% if FeatureFlipper.show_feature?(:enable_gst, current_user) && needs_gst? %>
                      <p class="cart-total_gst-inclusive"><%= custom_t("gst_inclusive") %></p>
                    <% end %>
                  <% end %>
                </div>
                <div class="columns two cart-subtotal_txt show-for-small-screens">
                  <%= custom_t("subtotal") %>
                  <div class="subtext"><%= custom_t('vat.excluding_vat') %></div>
                  <div class="subtext"><%= custom_t('vat.vat_tax_will_be_applied') %></div>
                </div>
                <div class="columns two cart-total_price show-for-small-screens">
                  <%= money_to_currency(@cart_data.vat_exclusive_price.to_money(@cart_data.currency)) %>
                  <% if india_user? %>
                    <% actual_total = money_to_currency(@cart_data.vat_exclusive_price.to_money(@cart_data.currency), round_value: false)%>
                    <i class="fa fa-question-circle qtip-it" data-tooltip="<%= custom_t('carts.price_rounding_tooltip', {price: actual_total}) %>"></i>
                    <% if FeatureFlipper.show_feature?(:enable_gst, current_user) && needs_gst? %>
                      <p class="cart-total_gst-inclusive"><%= custom_t("gst_inclusive") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% else %>
              <div class="row cart-subtotal">
                <div class="columns eight"></div>
                <div class="columns two cart-subtotal_txt">
                  <%= custom_t("subtotal") %>
                </div>
                <div class="columns two cart-total_price">
                  <%= money_to_currency(@cart_data.total_price.to_money(@cart_data.currency)) %>
                  <% if india_user? %>
                    <% actual_total = money_to_currency(@cart_data.total_price.to_money(@cart_data.currency), round_value: false)%>
                    <i class="fa fa-question-circle qtip-it" data-tooltip="<%= custom_t('carts.price_rounding_tooltip', {price: actual_total}) %>"></i>
                    <% if FeatureFlipper.show_feature?(:enable_gst, current_user) && needs_gst? %>
                      <p class="cart-total_gst-inclusive"><%= custom_t("gst_inclusive") %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="row">
              <div class="columns twelve">
                <p style="padding: 15px;"><%= custom_t(".nothing_here") %></p>
              </div>
            </div>
          <% end %>

          <nav class="row" style="padding: 15px;">
            <div class="columns twelve text-right">
              <% if !@cart_is_empty && !@plan_is_sufficient %>
                <%= render "upgrade_plan_cta" %>
              <% elsif !@cart_is_empty  %>
                <%= render "proceed_checkout_cta" %>
              <% end %>
            </div>
          </nav>

        </div>
      </div>

      <% unless @cart_data.related_products.blank? %>
        <div class="cart_items upsell_items">

          <header class="row collapse">
            <div class="columns twelve">
              <h3><%= custom_t(".add_items") %></h3>
            </div>
          </header>

          <div class="row upsell_items-shadow">
            <div class="columns twelve" style="padding: 0;">
              <% @cart_data.related_products.each do |p| %>
                <%= render(:partial => 'carts/cart_item', :locals => {
                                                                :item => p,
                                                                :is_upsell => true
                                                              }) %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
    <aside class="columns two">
      <% if show_cross_sell(:ytm) %>
        <div class="youtube_money">
          <img src="/images/services/ytm.png" alt="YouTube">
          <h3><%= custom_t(".collect_revenue") %></h3>
          <p><em><%= custom_t(".learn_more_checkout") %></em></p>
        </div>
      <% end %>
    </aside>
  </section>
</div>

<%= form_for(Cert.new, :url => '') do |f| %>
  <%= f.hidden_field(:cert)%>
<% end %>
