<%# Heads up: The CSS in this partial comes from plan_promo.css, not upgrade-block.scss %>
<%= stylesheet_link_tag "/stylesheets/plan_promo.css" %>
<style>
  .mfp-inline-holder .mfp-content {
    width: auto;
  }
</style>
<div class="upgrade-block red splits-collaborator">
<div class="heading"><%= custom_t("royalty_splits.cart_removal_warning.header") %></div>
  <p><%= custom_t("royalty_splits.cart_removal_warning.description") %> </p>
  <div class="text-right">
    <%= link_to custom_t("royalty_splits.cart_removal_warning.dont_delete"), cart_path, { class: "cta solid collaborator-dialog-close" } %>
    <%= button_to custom_t("royalty_splits.cart_removal_warning.confirm_deletion"),
                  purchase_path(params[:purchase_id]),
                  { method: :delete, class: "cta inset", id: "delete_splits_collaborator"}
    %>
  </div>
</div>
