<div>
	<h1>Choose your Amazon Music pricing</h1>
	<fieldset>
	  <p><strong>You have selected Amazon Music as a store to sell your music. Please pick the price policy you want from the options below and then click the "save info" button.</strong></p>
	  <p>To remove Amazon Music as a store to sell your music, please <%= link_to 'click here.', edit_album_salepoint_path(@album)%></p>
	</fieldset>
	<%= form_tag update_amazon_album_store_info_path(@album), method: :put do %>

	<!-- Variable Price Options -->
	<fieldset>
		<h3>Amazon Music Pricing</h3>
	    	<p>Amazon Music sells individual songs and albums at various price levels:</p>
			<ul>
				<li><strong>Front Line</strong>: The highest retail price in the store (good for new releases)</li>
				<li><strong>Mid Line</strong>: Slightly lower than Front Line (good for new releases and other current releases)</li>
				<li><strong><%= t(:catalog).capitalize %></strong>: Slightly lower than Mid Line (good for older or lower selling releases)</li>
				<li><strong>Special</strong>: The lowest retail price in the store (good for promotions, old and/or low selling <%= t(:catalog) %>)</li>
			</ul>
	    <p>Price levels are for albums only, and all songs on the album will sell at that price level (see EXCEPTION). See our <%= link_to "help section", knowledgebase_link_for('amazon-music-description', country_website) %> for vital information.</p>
	    <p>All stores reserve the right to sell music any way they want and at any price they want. Even though you choose which price level at Amazon Music, only they can say how much the album will cost to buy, and that can change at any time. But remember: when your songs or albums sell through Amazon Music, TuneCore will always pay you the pay rate (see EXCEPTION).</p>
	    <p><strong>EXCEPTION:</strong> On occasion, Amazon Music will enter into promotions to help drive sales and raise profile of the music in the Amazon store (i.e., download codes bundled with a non-music product). For these promotions, the Pay Rate will automatically decrease. Please consider carefully if you are comfortable with Amazon Music's promotional policies. If not, please do not choose to have your album distributed through Amazon Music.</p>
	    <p>When you've found the level you prefer, click "save info" below. Remember, the exact price your music sells for in all stores is set by the store. The amount of money TuneCore pays you when your album sells from Amazon Music is:</p>
	</fieldset>
	<fieldset>
		<div>
		<ul>
			<li>
				<% allow_change = under_admin_control? ? false : !@album.finalizer.permit_amazon_info_changes? %>
				<%= radio_button('amazon', :price_code, @amazon.store.variable_prices[0].price_code, {:onclick => "showPricing('pricing_info', 'frontline_table')", :disabled => allow_change})%>
				<label for="amazon_price_code_<%=  @amazon.store.variable_prices[0].price_code.downcase %>">Front Line</label>
			</li>
			<li>
				<%= radio_button('amazon', :price_code, @amazon.store.variable_prices[1].price_code, {:onclick => "showPricing('pricing_info', 'midline_table')", :disabled => allow_change})%>
				<label for="amazon_price_code_<%=  @amazon.store.variable_prices[1].price_code.downcase %>">Mid Line</label>
			</li>
			<li>
				<%= radio_button('amazon', :price_code, @amazon.store.variable_prices[2].price_code, {:onclick => "showPricing('pricing_info', 'catalog_table')", :disabled => allow_change})%>
				<label for="amazon_price_code_<%=  @amazon.store.variable_prices[2].price_code.downcase %>"><%= t(:catalog).capitalize %></label>
			</li>
			<li>
				<%= radio_button('amazon', :price_code, @amazon.store.variable_prices[3].price_code, {:onclick => "showPricing('pricing_info', 'special_table')", :disabled => allow_change})%>
				<label for="amazon_price_code_<%=  @amazon.store.variable_prices[3].price_code.downcase %>">Special</label>
			</li>
		</ul>
		</div>
		<div id="pricing_info">
			<h3>Choose your price</h3>
			<p>Click a button at left to see how much TuneCore pays you when your album sells at that level from Amazon Music. See our <%= link_to "help section", knowledgebase_link_for('amazon-music-description', country_website) %> for vital information.</p>
		</div>
	</fieldset>
	<div id="frontline_table" style="display:none">
		<h3>Front Line Pricing</h3>
		<table class="amazon">
			<tr>
				<th>When Your Album Sells...</th>
				<th>TuneCore pays you:</th>
				<th>($U.S.)</th>
				<th>(£U.K.)</th>
			</tr>
			<tr><td colspan="2">Album has 10 or more tracks</td><td>$6.50</td><td>£4.26</td></tr>
			<tr class='alt'><td colspan="2">Album has 9 Tracks</td><td>$6.12</td><td>£4.26</td></tr>
			<tr><td colspan="2">Album has 8 Tracks</td><td>$5.44</td><td>£3.92</td></tr>
			<tr class='alt'><td colspan="2">Album has 7 Tracks</td><td>$4.76</td><td>£3.43</td></tr>
			<tr><td colspan="2">Album has 6 Tracks</td><td>$4.08</td><td>£2.94</td></tr>
			<tr class='alt'><td colspan="2">Album has 5 Tracks</td><td>$3.40</td><td>£2.45</td></tr>
			<tr><td colspan="2">Album has 4 Tracks</td><td>$2.72</td><td>£1.96</td></tr>
			<tr class='alt'><td colspan="2">Album has 3 Tracks</td><td>$2.04</td><td>£1.47</td></tr>
			<tr><td colspan="2">Album has 2 Tracks</td><td>$1.36</td><td>£0.98</td></tr>
			<tr><th>For Each Track Sold Individually...</th><th>TuneCore pays you</th><th>($U.S.):</th><th>(£U.K.)</th></tr>
			<tr class='alt'><td colspan="2">Individual song</td><td>$0.70</td><td>£0.49</td></tr>
		</table>
	</div>
	<div id="midline_table" style="display:none;">
		<h3>Mid Line Pricing</h3>
		<table>
		  <tr><th>When Your Album Sells...</th><th>TuneCore pays you:</th><th>($U.S.)</th><th>(£U.K.)</th></tr>
		  <tr><td colspan="2">Album has 10 or more tracks</td><td>$5.60</td><td>£3.65</td></tr>
		  <tr class='alt'><td colspan="2">Album has 9 Tracks</td><td>$5.60</td><td>£3.65</td></tr>
		  <tr><td colspan="2">Album has 8 Tracks</td><td>$5.04</td><td>£3.44</td></tr>
		  <tr class='alt'><td colspan="2">Album has 7 Tracks</td><td>$4.41</td><td>£3.01</td></tr>
		  <tr><td colspan="2">Album has 6 Tracks</td><td>$3.78</td><td>£2.58</td></tr>
		  <tr class='alt'><td colspan="2">Album has 5 Tracks</td><td>$3.15</td><td>£2.15</td></tr>
		  <tr><td colspan="2">Album has 4 Tracks</td><td>$2.52</td><td>£1.72</td></tr>
		  <tr class='alt'><td colspan="2">Album has 3 Tracks</td><td>$1.89</td><td>£1.29</td></tr>
		  <tr><td colspan="2">Album has 2 Tracks</td><td>$1.26</td><td>£0.86</td></tr>
		  <tr><th>For Each Track Sold Individually...</th><th>TuneCore pays you</th><th>($U.S.):</th><th>(£U.K.)</th></tr>
		  <tr class='alt'><td colspan="2">Individual song</td><td>$0.63</td><td>£0.43</td></tr>
		</table>
	</div>
	<div id="catalog_table" style="display:none;">
		<h3><%= t(:catalog).capitalize %> Pricing</h3>
		<table>
		  <tr><th>When Your Album Sells...</th><th>TuneCore pays you:</th><th>($U.S.)</th><th>(£U.K.)</th></tr>
		  <tr><td colspan="2">Album has 10 or more tracks</td><td>$4.90</td><td>£3.04</td></tr>
		  <tr class='alt'><td colspan="2">Album has 9 Tracks</td><td>$4.90</td><td>£3.04</td></tr>
		  <tr><td colspan="2">Album has 8 Tracks</td><td>$4.90</td><td>£3.04</td></tr>
		  <tr class='alt'><td colspan="2">Album has 7 Tracks</td><td>$4.41</td><td>£3.01</td></tr>
		  <tr><td colspan="2">Album has 6 Tracks</td><td>$3.78</td><td>£2.58</td></tr>
		  <tr class='alt'><td colspan="2">Album has 5 Tracks</td><td>$3.15</td><td>£2.15</td></tr>
		  <tr><td colspan="2">Album has 4 Tracks</td><td>$2.52</td><td>£1.72</td></tr>
		  <tr class='alt'><td colspan="2">Album has 3 Tracks</td><td>$1.89</td><td>£1.29</td></tr>
		  <tr><td colspan="2">Album has 2 Tracks</td><td>$1.26</td><td>£0.86</td></tr>
		  <tr><th>For Each Track Sold Individually...</th><th>TuneCore pays you</th><th>($U.S.):</th><th>(£U.K.)</th></tr>
		  <tr class='alt'><td colspan="2">Individual song</td><td>$0.63</td><td>£0.43</td></tr>
		</table>
	</div>
	<div id="special_table" style="display:none">
		<h3>Special Pricing</h3>
		<table>
		  <tr><th>When Your Album Sells...</th><th>TuneCore pays you:</th><th>($U.S.)</th><th>(£U.K.)</th></tr>
		  <tr><td colspan="2">Album has 10 or more tracks</td><td>$4.00</td><td>£2.43</td></tr>
		  <tr class='alt'><td colspan="2">Album has 9 Tracks</td><td>$4.00</td><td>£2.43</td></tr>
		  <tr><td colspan="2">Album has 8 Tracks</td><td>$4.00</td><td>£2.43</td></tr>
		  <tr class='alt'><td colspan="2">Album has 7 Tracks</td><td>$4.00</td><td>£2.43</td></tr>
		  <tr><td colspan="2">Album has 6 Tracks</td><td>$3.78</td><td>£2.43</td></tr>
		  <tr class='alt'><td colspan="2">Album has 5 Tracks</td><td>$3.15</td><td>£2.15</td></tr>
		  <tr><td colspan="2">Album has 4 Tracks</td><td>$2.52</td><td>£1.72</td></tr>
		  <tr class='alt'><td colspan="2">Album has 3 Tracks</td><td>$1.89</td><td>£1.29</td></tr>
		  <tr><td colspan="2">Album has 2 Tracks</td><td>$1.26</td><td>£0.86</td></tr>
		  <tr><th>For Each Track Sold Individually...</th><th>TuneCore pays you</th><th>($U.S.):</th><th>(£U.K.)</th></tr>
		  <tr class='alt'><td colspan="2">Individual song</td><td>$0.63</td><td>£0.43</td></tr>
		</table>
	</div>
	<fieldset>
		<div>
			<%= submit_tag "Save Info" %>
		</div>
	</fieldset>
	<% end #from %>
</div>
<script type="text/javascript">
	<% if @amazon.price_code != nil %>
	showHelp('pricing_info', '<%= @amazon.price_code.downcase%>_table');
	<% end %>
</script>
