<div>
	<h1>Choose your Amie Street pricing</h1>
	<fieldset>
		<p><strong>You have selected Amie Street as a store to sell your music. Please pick the price policy you want from the options below and then click the "save info" button.</strong></p>
		<p>Please note that Amie Street makes songs available for sale in the US only. Your songs will become available in other countries automatically once Amie Street enters agreements with music publishers in those territories (i.e. <%= link_to('MCPSCRS', 'http://www.mcps-prs-alliance.co.uk',  :popup => true) %> in the UK, <%= link_to('GEMA', 'http://www.gema.de/', :popup => true )%> in Germany etc).</p>
		<p>To remove Amie Street as a store to sell your music, please <%= link_to 'click here.', edit_album_salepoint_path(@album)%></p>
	</fieldset>
	<%= form_tag update_amiestreet_album_store_info_path(@album), method: :put do %>

	<!-- Variable Price Options -->
	<fieldset>
		<h3>Amie Street Pricing</h3>
		<p>Amie Street sells songs and albums at various prices based on the amount of times they've been purchased by Amie Street's customers. The more your songs and albums sell, the more expensive they become to buy.</p>
		<p><strong>WHY?</strong> Amie Street says, when songs are free or inexpensive customers are more likely to experiment, as opposed to buying from the artists they already know. When songs reach the higher price points they become even more attractive to customers because the Amie Street community has effectively voted them to those prices. Amie Street customers find this to be a great way to discover new music and artists find it's a way that maximizes digital revenue.</p>
		<h3>Album Pricing</h3>
		<p>Pick the price you would like your entire album to sell for.  If the cost of buying each song individually is LESS than the price you picked, the album will sell at the lower price. If the cost of buying each song individually is MORE than the price you picked, the album will sell at the album price you selected.</p>
		<p>Examples:<br/>
    		1. There are ten songs on your album, and each is priced at $0.39, so the album would cost $3.90 regardless of what price cap you have selected.</p>
		<p>2. You have twenty songs on your album, and all are priced at $0.95. The album would cost $19.00. If you select the "Front Line" price cap, the album will sell for $8.98 instead.</p>
	</fieldset>
	<fieldset >
		<div>
			<ul>
				<li>
					<% allow_change = !@album.finalizer.permit_amiestreet_info_changes?%>
					<%= radio_button('amie', :price_code, @amie.store.variable_prices[0].price_code, {:onclick => "showPricing('pricing_info', '1_table')", :disabled => allow_change})%>
					<label for="amie_price_code_<%=  @amie.store.variable_prices[0].price_code %>">Front Line Cap</label>
				</li>
				<li>
					<%= radio_button('amie', :price_code, @amie.store.variable_prices[1].price_code, {:onclick => "showPricing('pricing_info', '2_table')", :disabled => allow_change})%>
					<label for="amie_price_code_<%=  @amie.store.variable_prices[1].price_code %>">Mid Line Cap</label>
				</li>
				<li>
					<%= radio_button('amie', :price_code, @amie.store.variable_prices[2].price_code, {:onclick => "showPricing('pricing_info', '3_table')", :disabled => allow_change})%>
					<label for="amie_price_code_<%=  @amie.store.variable_prices[2].price_code %>"><%= t(:catalog).capitalize %> Line Cap</label>
				</li>
			</ul>
		</div>
		<div id="pricing_info">
			<h3>Choose your album price cap</h3>
			<p>Click a button at left to select your album price cap and to see how much TuneCore pays you when your album sells at that level.</p>
		</div>
	</fieldset>
	<div id="1_table" style="display:none">
		<h3>Front Line Pricing</h3>
		<p>Your album price will be the sum of the individual song prices, but it will never exceed: $8.98</p>
		<p>If your album is bought at this price, TuneCore pays you: $6.02</p>
	</div>
	<div id="2_table" style="display:none;">
		<h3>Mid Line Pricing</h3>
		<p>Your album price will be the sum of the individual song prices, but it will never exceed: $7.00</p>
		<p>If your album is bought at this price, TuneCore pays you: $4.69</p>
	</div>
	<div id="3_table" style="display:none;">
		<h3><%= t(:catalog).capitalize %> Pricing</h3>
		<p><%= t(:catalog).capitalize %> Cap Your album price will be the sum of the individual song prices, but it will never exceed: $5.00</p>
		<p>If your album is bought at this price, TuneCore pays you:  $3.35</p>
	</div>
	<fieldset>
		<div>
			<%= submit_tag "Save Info" %>
		</div>
	</fieldset>
	<fieldset>
		<h3>Single Song Pricing</h3>
		<p>At Amie Street, songs sell at different prices depending on how often they have been bought. Once a new song from a TuneCore customer gets added to Amie Street it's available for purchase at $0.15. Every time the song gets purchased the price goes up a cent or 2, to a maximum price of $0.98. You have to sell 82 copies of your song before it reaches the highest sale price.</p>
		<p>Below is the full list of how much a song will sell for and how much TuneCore pays you when it does. Remember, TuneCore pays you 100% of the revenue generated from the sale of your music after the stores take their share.</p>
		<p>To expand the list, please click the arrow. <a id='table_show' href="#" onclick="Effect.SlideDown('big_list');$('table_hide').show();$('table_show').hide()"><%= image_tag('/images/buttons/down_arrow.gif')%></a> <a id='table_hide' href='#' onclick="Effect.SlideUp('big_list');$('table_hide').hide();$('table_show').show()" style="display:none;"><%= image_tag('/images/buttons/up_arrow.gif')%> </a></p>
		<div id="big_list" style="display:none">
			<table>
				<tr>
					<th>Purchase #</th>
					<th>TuneCore pays you</th>
				</tr>
				<tr class="alt">
					<td>1</td>
					<td>$0.10</td>
				</tr>
				<tr>
					<td>2</td>
					<td>$0.11</td>
				</tr>
				<tr class="alt">
					<td>3</td>
					<td>$0.11</td>
				</tr>
				<tr>
					<td>4</td>
					<td>$0.12</td>
				</tr>
				<tr class="alt">
					<td>5</td>
					<td>$0.13</td>
				</tr>
				<tr>
					<td>6</td>
					<td>$0.13</td>
				</tr>
				<tr class="alt">
					<td>7</td>
					<td>$0.14</td>
				</tr>
				<tr>
					<td>8</td>
					<td>$0.15</td>
				</tr>
				<tr class="alt">
					<td>9</td>
					<td>$0.16</td>
				</tr>
				<tr>
					<td>10</td>
					<td>$0.17</td>
				</tr>
				<tr class="alt">
					<td>11</td>
					<td>$0.17</td>
				</tr>
				<tr>
					<td>12</td>
					<td>$0.18</td>
				</tr>
				<tr class="alt">
					<td>13</td>
					<td>$0.19</td>
				</tr>
				<tr>
					<td>14</td>
					<td>$0.19</td>
				</tr>
				<tr class="alt">
					<td>15</td>
					<td>$0.20</td>
				</tr>
				<tr>
					<td>16</td>
					<td>$0.21</td>
				</tr>
				<tr class="alt">
					<td>17</td>
					<td>$0.21</td>
				</tr>
				<tr>
					<td>18</td>
					<td>$0.22</td>
				</tr>
				<tr class="alt">
					<td>19</td>
					<td>$0.23</td>
				</tr>
				<tr>
					<td>20</td>
					<td>$0.23</td>
				</tr>
				<tr class="alt">
					<td>21</td>
					<td>$0.24</td>
				</tr>
				<tr>
					<td>22</td>
					<td>$0.25</td>
				</tr>
				<tr class="alt">
					<td>23</td>
					<td>$0.25</td>
				</tr>
				<tr>
					<td>24</td>
					<td>$0.26</td>
				</tr>
				<tr class="alt">
					<td>25</td>
					<td>$0.27</td>
				</tr>
				<tr>
					<td>26</td>
					<td>$0.27</td>
				</tr>
				<tr class="alt">
					<td>27</td>
					<td>$0.28</td>
				</tr>
				<tr>
					<td>28</td>
					<td>$0.29</td>
				</tr>
				<tr class="alt">
					<td>29</td>
					<td>$0.30</td>
				</tr>
				<tr>
					<td>30</td>
					<td>$0.30</td>
				</tr>
				<tr class="alt">
					<td>31</td>
					<td>$0.31</td>
				</tr>
				<tr>
					<td>32</td>
					<td>$0.32</td>
				</tr>
				<tr class="alt">
					<td>33</td>
					<td>$0.32</td>
				</tr>
				<tr>
					<td>34</td>
					<td>$0.33</td>
				</tr>
				<tr class="alt">
					<td>35</td>
					<td>$0.34</td>
				</tr>
				<tr>
					<td>36</td>
					<td>$0.34</td>
				</tr>
				<tr class="alt">
					<td>37</td>
					<td>$0.35</td>
				</tr>
				<tr>
					<td>38</td>
					<td>$0.36</td>
				</tr>
				<tr class="alt">
					<td>39</td>
					<td>$0.36</td>
				</tr>
				<tr>
					<td>40</td>
					<td>$0.37</td>
				</tr>
				<tr class="alt">
					<td>41</td>
					<td>$0.38</td>
				</tr>
				<tr>
					<td>42</td>
					<td>$0.38</td>
				</tr>
				<tr class="alt">
					<td>43</td>
					<td>$0.39</td>
				</tr>
				<tr>
					<td>44</td>
					<td>$0.40</td>
				</tr>
				<tr class="alt">
					<td>45</td>
					<td>$0.40</td>
				</tr>
				<tr>
					<td>46</td>
					<td>$0.41</td>
				</tr>
				<tr class="alt">
					<td>47</td>
					<td>$0.42</td>
				</tr>
				<tr>
					<td>48</td>
					<td>$0.42</td>
				</tr>
				<tr class="alt">
					<td>49</td>
					<td>$0.43</td>
				</tr>
				<tr>
					<td>50</td>
					<td>$0.44</td>
				</tr>
				<tr class="alt">
					<td>51</td>
					<td>$0.44</td>
				</tr>
				<tr>
					<td>52</td>
					<td>$0.45</td>
				</tr>
				<tr class="alt">
					<td>53</td>
					<td>$0.46</td>
				</tr>
				<tr>
					<td>54</td>
					<td>$0.46</td>
				</tr>
				<tr class="alt">
					<td>55</td>
					<td>$0.47</td>
				</tr>
				<tr>
					<td>56</td>
					<td>$0.48</td>
				</tr>
				<tr class="alt">
					<td>57</td>
					<td>$0.48</td>
				</tr>
				<tr>
					<td>58</td>
					<td>$0.49</td>
				</tr>
				<tr class="alt">
					<td>59</td>
					<td>$0.50</td>
				</tr>
				<tr>
					<td>60</td>
					<td>$0.50</td>
				</tr>
				<tr class="alt">
					<td>61</td>
					<td>$0.51</td>
				</tr>
				<tr>
					<td>62</td>
					<td>$0.52</td>
				</tr>
				<tr class="alt">
					<td>63</td>
					<td>$0.52</td>
				</tr>
				<tr>
					<td>64</td>
					<td>$0.53</td>
				</tr>
				<tr class="alt">
					<td>65</td>
					<td>$0.54</td>
				</tr>
				<tr>
					<td>66</td>
					<td>$0.54</td>
				</tr>
				<tr class="alt">
					<td>67</td>
					<td>$0.55</td>
				</tr>
				<tr>
					<td>68</td>
					<td>$0.56</td>
				</tr>
				<tr class="alt">
					<td>69</td>
					<td>$0.56</td>
				</tr>
				<tr>
					<td>70</td>
					<td>$0.57</td>
				</tr>
				<tr class="alt">
					<td>71</td>
					<td>$0.58</td>
				</tr>
				<tr>
					<td>72</td>
					<td>$0.58</td>
				</tr>
				<tr class="alt">
					<td>73</td>
					<td>$0.59</td>
				</tr>
				<tr>
					<td>74</td>
					<td>$0.60</td>
				</tr>
				<tr class="alt">
					<td>75</td>
					<td>$0.60</td>
				</tr>
				<tr>
					<td>76</td>
					<td>$0.61</td>
				</tr>
				<tr class="alt">
					<td>77</td>
					<td>$0.62</td>
				</tr>
				<tr>
					<td>78</td>
					<td>$0.62</td>
				</tr>
				<tr class="alt">
					<td>79</td>
					<td>$0.63</td>
				</tr>
				<tr>
					<td>80</td>
					<td>$0.64</td>
				</tr>
				<tr class="alt">
					<td>81</td>
					<td>$0.64</td>
				</tr>
				<tr>
					<td>82</td>
					<td>$0.65</td>
				</tr>
				<tr class="alt">
					<td>83 and up</td>
					<td>$0.66</td>
				</tr>
			</table>
		</div>
	</fieldset>
	<% end #from %>
</div>
<script type="text/javascript">
  <% if @amie.price_code != nil %>
  showHelp('pricing_info', '<%= @amie.price_code.downcase%>_table');
 <% end %>
</script>
