<% if locals[:page] == :external_services %>
  <section class="four columns end pod pod-diagonals pod-no-diagonals">
    <div class="copy">
      <h3><img src="/images/services/atvenulogo.png" alt="atVenu"></h3>
      <p><%= custom_t(".merch_revenue") %> <span class="special_offer"><%= custom_t(".exclusive_offer") %></span></p>
      <a href="//artist.atvenu.com/affiliate_referrals/landing?code=TCW4" class="button-callout-alt atvenu" target="_blank"><%= custom_t(:learn_more) %></a>
    </div>
  </section>

<% elsif locals[:page] == :internal_services %>
  <div class="pod pod-other atvenu">
    <header>
      <h4><img src="/images/services/atvenulogo.png" alt="atVenu"></h4>
    </header>
    <div class="pod-body">
      <p><%= custom_t(".merch_revenue") %> <span class="special_offer"><%= custom_t(".exclusive_offer") %></span> <a href="//artist.atvenu.com/affiliate_referrals/landing?code=TCW5" class="atvenu" target="_blank"><%= custom_t(:learn_more) %></a></p>
    </div>
  </div>

<% elsif locals[:page] == :dashboard %>
  <div class="box">
    <div class="summary">
      <h3><%= custom_t(:atvenu) %></h3>
      <p><%= custom_t(".merch_revenue2") %><br><%= custom_t(".full_merch") %></p>
      <p class="special_offer"><%= custom_t(".exclusive_offer") %></p>
    </div>
    <div class="details">
      <p><%= custom_t(:get) %></p>
      <p class="price">15%</p>
      <p><%= custom_t(".discount") %><br><%= custom_t(".first_3_months") %></p>
    </div>
    <a href="//artist.atvenu.com/affiliate_referrals/landing?code=TCW2" class="blue-btn button-callout-alt atvenu"><%= custom_t(:start_here) %></a>
    <div class="clear"></div>
  </div>

<% elsif locals[:page] == :pricing %>
  <li class="price_box">
    <div class="nine columns">
      <h2><%= custom_t(:atvenu) %></h2>
      <p><%= custom_t(".merch_revenue") %></p>
      <p class="special_offer"><%= custom_t(".exclusive_offer") %></p>
    </div>
    <div class="two columns price"><small><%= custom_t(:get) %></small> <%= custom_t(".15%") %><small> <%= custom_t(".discount") %> <%= custom_t(".first_3_months") %></small>
      <a href="//artist.atvenu.com/affiliate_referrals/landing?code=TCW1" class="button-callout-alt atvenu"><%= custom_t(:learn_more) %></a>
    </div>
  </li>
<% end %>
