<% if locals[:page] == :external_services %>
  <a href="<%= "#{product_url_for(:bandzoogle, :external_services)}" %>" target="_blank" class="service bandzoogle">
    <div class="ribbon">
      <div class="banner">
        <div class="text"><%= custom_t(:special_offer) %></div>
      </div>
    </div>
    <div class="service-no-hover">
      <div class="service-text">
        <h4 class="service-title service-title-img"><img src="/images/services/external/logos/logo_bandzoogle.png" alt="Bandzoogle" class="service-img"></h4>
        <p class="service-desc"><%= custom_t(".website_online_store") %></p>
      </div>
    </div>
    <div class="service-hover">
      <p class="service-desc"><%= custom_t(".website_online_store_minutes") %> <strong><%= custom_t(".exclusive") %></strong></p>
      <span class="fake-link"><%= custom_t(:learn_more) %></span>
    </div>
  </a>

<% elsif locals[:page] == :internal_services %>
  <div class="pod pod-other bandzoogle">
    <header>
      <h4><img src="/images/services/bzlogo.png" alt="Bandzoogle"></h4>
    </header>
    <div class="pod-body">
      <p><%= custom_t(".website_online_store_minutes") %> <span class="special_offer"><%= custom_t(".exclusive") %></span>
      <br/><a href="<%= "#{product_url_for(:bandzoogle, :internal_services)}" %>" class="bandzoogle" target="_blank"><%= custom_t(:learn_more) %></a></p>
    </div>
  </div>

<% elsif locals[:page] == :dashboard %>
  <div class="box">
    <div class="summary">
      <h3><%= custom_t(".bandzoogle") %></h3>
      <p><%= custom_t(".website_online_store_minutes") %></p>
      <p class="special_offer"><%= custom_t(".exclusive") %></p>
    </div>
    <div class="details">
      <p><%= custom_t(".free_trial_plus") %></p>
      <p class="price">15%</p>
      <p><%= custom_t(:discount) %></p>
    </div>
    <a href="<%= "#{product_url_for(:bandzoogle, :dashboard)}" %>" class="blue-btn button-callout-alt bandzoogle"><%= custom_t(:start_here) %></a>
    <div class="clear"></div>
  </div>

<% elsif locals[:page] == :pricing %>
  <li class="price_box">
    <div class="nine columns">
      <h2><%= custom_t(".bandzoogle") %></h2>
      <p><%= custom_t(".website_online_store_minutes") %></p>
      <p class="special_offer"><%= custom_t(".exclusive") %></p>
    </div>
    <div class="two columns price"><small><%= custom_t(".free_trial_plus") %></small> 15%<small> <%= custom_t(:discount) %></small>
      <a href="<%= "#{product_url_for(:bandzoogle, :dashboard)}" %>" class="button-callout-alt bandzoogle"><%= custom_t(:learn_more) %></a>
    </div>
  </li>
<% end %>
