<% if product_display.price_adj_description.present? %>
  <span class="<%= 'targeted_offer-highlight' if !product_display.show_discount_price? %>">
    <p><%= money_to_currency(product_display.display_price) %></p>
    <p><%= product_display.price_adj_description if product_display.price_adj_description %></p>
  </span>
<% else %>
  <p><%= money_to_currency(product_display.display_price) %></p><br/>
<% end %>
