<% expiration_date = Time.now.utc.end_of_month.strftime("%-m/%-d/%Y") %>
<% if locals[:page] == :external_services %>
  <a href="<%= "#{product_url_for(:cd_duplication, :external_services)}" %>" target="_blank" class="service cd-duplication">
    <div class="ribbon">
      <div class="banner">
        <div class="text"><%= custom_t(:special_offer) %></div>
      </div>
    </div>
    <div class="service-no-hover">
      <img src="/images/services/external/icons/icon_cds.png" alt="CD Duplication" class="service-img align-top">
      <div class="service-text">
        <h4 class="service-title"><%= custom_t(".cd_duplication") %></h4>
        <p class="service-desc"><%= custom_t(".produce_prof_quality") %></p>
      </div>
    </div>
    <div class="service-hover">
      <p class="service-desc"><%= custom_t(".special_offer") %></p>
      <span class="fake-link"><%= custom_t(:learn_more) %></span>
    </div>
  </a>

<% elsif locals[:page] == :internal_services %>
  <div class="pod pod-other cd_duplication">
    <header>
      <h4><%= custom_t(".cd_manufacturing") %></h4>
    </header>
    <div class="pod-body">
      <p><%= custom_t(".order_cds") %>
      <span class="special_offer"><%= custom_t(".special_offer") %></span>
      <a href="<%= "#{product_url_for(:cd_duplication, :internal_services)}" %>" class="cd-duplication" target="_blank">
        <br/><%= custom_t(:learn_more) %></a></p>
    </div>
  </div>

<% elsif locals[:page] == :dashboard %>
  <div class="box">
    <div class="summary">
      <h3><%= custom_t(".cd_manufacturing") %></h3>
      <p><%= custom_t(".promote") %></p>
      <p class="special_offer"><%= custom_t(".special_offer") %></p>
    </div>
    <div class="details">
      <p><%= custom_t(:promo_code) %></p>
      <p class="price"><%= custom_t(".save50") %></p>
    </div>
    <a href="<%= "#{product_url_for(:cd_duplication, :dashboard)}" %>" class="blue-btn button-callout-alt cd-duplication" target="blank"><%= custom_t(:start_here) %></a>
    <div class="clear"></div>
  </div>

<% elsif locals[:page] == :pricing %>
  <li class="price_box">
    <div class="nine columns">
      <h2><%= custom_t(".cd_manufacturing") %></h2>
      <p><%= custom_t(".promote") %></p>
      <p class="special_offer"> <%= custom_t(".special_offer") %></p>
    </div>
    <div class="two columns price"><small><%= custom_t(:promo_code) %></small><%= custom_t(".save50") %><br/><br/>
      <a href="<%= "#{product_url_for(:cd_duplication, :pricing)}" %>" target="_blank" class="button-callout-alt cd-duplication"><%= custom_t(:buy_now) %></a>
    </div>
  </li>

<% elsif locals[:page] == :invoice_thanks %>
  <div class="box cd_duplication invoice-thanks">
    <span class="ribbon"><span><%= custom_t(:share_music) %></span></span>
    <span class="icon ico_cd"></span>
    <h3><%= custom_t(".cd_manufacturing") %></h3>
    <p><%= custom_t(".prof_quality") %></p>
    <a href="<%= "#{product_url_for(:cd_duplication, :invoice_thanks)}" %>" class="button-callout cddupe-link"><%= custom_t(:start_here) %></a>
  </div>
<% end %>
