<% if locals[:page] == :internal_services %>
  <div class="pod pod-other confliktarts">
    <header>
      <h4><img src="/images/services/confliktarts.png" alt="Confliktarts" style="height:100px"><%= custom_t(".conflikt_cd_vinyl") %></h4>
    </header>
    <div class="pod-body">
      <p><%= custom_t(".cd_vinyl_description") %>
      <% unless exclude_promo?("confliktarts", country_website) %>
        <span class="special_offer"><%= custom_t(".cd_vinyl_exclusive_long") %></span>
      <% end %>
      <br/><%= custom_t(".learn_more_link", text: custom_t(:learn_more)) %></p>
    </div>
  </div>

  <div class="pod pod-other confliktarts">
    <header>
      <h4><img src="/images/services/confliktarts.png" alt="Confliktarts" style="height:100px"><%= custom_t(".conflikt_merch") %></h4>
    </header>
    <div class="pod-body">
      <p><%= custom_t(".merch_description") %>
      <% unless exclude_promo?("confliktarts", country_website) %>
        <span class="special_offer"><%= custom_t(".merch_exclusive_long") %></span>
      <% end %>
      <br/><%= custom_t(".learn_more_link", text: custom_t(:learn_more)) %></p>
    </div>
  </div>
<% elsif locals[:page] == :dashboard %>
  <div class="box">
    <div class="summary">
      <h3><%= custom_t(".conflikt_cd_vinyl") %></h3>
      <p><%= custom_t(".cd_vinyl_description") %></p>
      <% unless exclude_promo?("confliktarts", country_website) %>
        <p class="special_offer"><%= custom_t(".cd_vinyl_exclusive") %></p>
      <% end %>
    </div>
    <% unless exclude_promo?("confliktarts", country_website) %>
      <div class="details">
        <p><%= custom_t(".use_promo") %></p>
        <p class="price">TUNECORE</p>
        <p><%= custom_t(:learn_more) %></p>
      </div>
    <% end %>
    <%= custom_t(".start_here_button") %>
    <div class="clear"></div>
  </div>

  <div class="box">
    <div class="summary">
      <h3><%= custom_t(".conflikt_merch") %></h3>
      <p><%= custom_t(".merch_description") %></p>
      <% unless exclude_promo?("confliktarts", country_website) %>
        <p class="special_offer"><%= custom_t(".merch_exclusive") %></p>
      <% end %>
    </div>
    <% unless exclude_promo?("confliktarts", country_website) %>
      <div class="details">
        <p><%= custom_t(".use_promo") %></p>
        <p class="price">TUNECORE</p>
        <p><%= custom_t(:learn_more) %></p>
      </div>
    <% end %>
    <%= custom_t(".start_here_button") %>
    <div class="clear"></div>
  </div>
<% end %>
