<div class="details">
  <% if product_display.price_adj_description.present? %>
    <p><%= product_display.flag_text %></p>
    <p class="price">
      <%= money_with_discount(
        Money.new(product_display.full_price),
        product_display.display_price,
        product_display.product.currency
      ) %>
    </p>
    <p><%= product_display.price_adj_description %></p>
  <% else %>
    <p><%= custom_t(:from) %></p>
    <p class="price"><%= money_to_currency(product_display.display_price) %></p>
    <p><%= product_display.product.display_name.downcase.gsub("social", "") %></p>
  <% end %>
</div>
