<% if locals[:page] == :external_services %>
  <a href="/index/distribution_credits" class="service credits">
    <div class="service-no-hover">
      <img src="/images/services/external/icons/icon_credit.png" alt="Distribution Credits" class="service-img">
      <div class="service-text">
        <h4 class="service-title"><%= custom_t(".distribution_credits") %></h4>
        <p class="service-desc"><%= custom_t(".buy_credits") %></p>
      </div>
    </div>
    <div class="service-hover">
      <p class="service-desc"><%= custom_t(".pre_buy_credits") %></p>
      <span class="fake-link"><%= custom_t(:learn_more) %></span>
    </div>
  </a>
<% end %>
