<% unless FeatureFlipper.show_feature?(:discovery_platforms, current_user) %>
  <%= render_if_available_in_region country_website, "youtube_money", locals[:page] %>
<% end %>
<%= render_if_available_in_region country_website, "social", locals[:page] %>
<%= render_if_available_in_region country_website, "instant_mastering", locals[:page] %>
<%= render_if_available_in_region country_website, "soundout",      locals[:page] %>
