<% if locals[:page] == :internal_services %>
  <div class="pod pod-rounded">
    <header>
      <h3><%= custom_t(".promaster_instant") %></h3>
    </header>
    <div class="pod-body">
      <p><%= custom_t(".long_description") %>
      <br/>
      <%= link_to(custom_t(:get_started), product_url_for(:instant_mastering, :internal_services), class: "button-callout landr") %>
    </div>
  </div>

<% elsif locals[:page] == :dashboard %>
  <div class="box">
    <div class="summary">
      <h3><%= custom_t(".promaster_instant") %></h3>
      <p><%= custom_t(".short_description") %> </p>
    </div>
    <div class="details">
      <p><%= custom_t(:starting_at) %></p>
      <p class="price"><%= money_to_currency("9.95".to_money(current_user.currency))%></p>
    </div>
    <%= link_to(custom_t(:get_started), product_url_for(:instant_mastering, :dashboard), class: "blue-btn button-callout-alt mastering") %>
    <div class="clear"></div>
  </div>
<% end %>
