<div class="row">
  <div class="columns twelve artist-services">
    <h3><%= custom_t(:artist_services) %></h3>
    <div class="boxes">
      <% if !FeatureFlipper.show_feature?(:discovery_platforms, current_user) && !current_user.has_youtube_money? %>
        <%= render_if_available_in_region country_website, "youtube_money",  :invoice_thanks %>
      <% else %>
        <%= render_if_available_in_region country_website, "cd_duplication", :invoice_thanks %>
      <% end %>
      <%= render_if_available_in_region country_website, "soundout",         :invoice_thanks %>
    </div>
  </div>
</div>
