<% if locals[:page] == :internal_services %>
  <div class="pod pod-other lunatik">
    <header>
      <h4><img src="/images/services/lunatik_logo.jpg" alt="lunatik"></h4>
    </header>
    <div class="pod-body">
      <p><%= custom_t(".description") %> <span class="special_offer"><%= custom_t(".cta") %></span>
      <br/><a href="<%= "#{product_url_for(:lunatik, :internal_services)}" %>" class="lunatik" target="_blank"><%= custom_t(:learn_more) %></a></p>
    </div>
  </div>

<% elsif locals[:page] == :dashboard %>
  <div class="box">
    <div class="summary">
      <h3><%= custom_t(".lunatik") %></h3>
      <p><%= custom_t(".description") %></p>
      <p><%= custom_t(".cta") %></p>
    </div>
    <a href="<%= "#{product_url_for(:lunatik, :dashboard)}" %>" class="blue-btn button-callout-alt lunatik"><%= custom_t(:learn_more) %></a>
    <div class="clear"></div>
  </div>
<% end %>
