<%= render_if_available_in_region country_website, "radio_airplay",          locals[:page] %>
<%= render_if_available_in_region country_website, "professional_mastering", locals[:page] %>
<%= render_if_available_in_region country_website, "royalty_solutions",      locals[:page] %>
<%= render_if_available_in_region country_website, "cd_duplication",         locals[:page] %>
<%= render_if_available_in_region country_website, "qrates",                 locals[:page] %>
<%= render_if_available_in_region country_website, "bandzoogle",             locals[:page] %>
<%= render_if_available_in_region country_website, "confliktarts",           locals[:page] %>
<%= render_if_available_in_region country_website, "lunatik",                locals[:page] %>

