<% if locals[:page] == :external_services %>
  <a href="<%= "#{product_url_for(:professional_mastering, :external_services)}" %>" class="service mastering">
    <div class="service-no-hover">
      <img src="/images/services/external/icons/icon_mastering.png" alt="AfterMaster Audio Labs" class="service-img">
      <div class="service-text">
        <h4 class="service-title"><%= custom_t(".pro_mastering") %></h4>
        <p class="service-desc"><%= custom_t(".universal_mastering") %></p>
      </div>
    </div>
    <div class="service-hover">
      <p class="service-desc"><%= custom_t(".quality") %></p>
      <span class="fake-link"><%= custom_t(:learn_more) %></span>
    </div>
  </a>

<% elsif locals[:page] == :internal_services %>
  <div class="pod pod-other professional_mastering">
    <header>
      <h4><img src="/images/services/aftermaster_logo.png" alt="AfterMaster"></h4>
    </header>
    <div class="pod-body">
      <p><%= custom_t(".improve_quality") %> <span class="special_offer"></span>
      <br/><a href="<%= "#{product_url_for(:professional_mastering, :internal_services)}" %>" class="mastering" target="_blank"><%= custom_t(:learn_more) %></a></p>
    </div>
  </div>

<% elsif locals[:page] == :dashboard %>
  <div class="box">
    <div class="summary">
      <h3><%= custom_t(".pro_mastering") %></h3>
      <p><%= custom_t(".quality_recordings") %> <%= custom_t(".universal_award_winning") %></p>
    </div>
    <div class="details">
      <p><%= custom_t(:from) %></p>
      <p class="price">$75</p>
      <p><%= custom_t(:per_song) %></p>
    </div>
    <a href="<%= "#{product_url_for(:professional_mastering, :dashboard)}" %>" class="blue-btn button-callout-alt mastering"><%= custom_t(:start_here) %></a>
    <div class="clear"></div>
  </div>

<% elsif locals[:page] == :pricing %>
  <li class="price_box">
    <div class="nine columns">
      <h2><%= custom_t(".pro_mastering") %></h2>
      <p><%= custom_t(".improve_quality") %></p>
      <p class="special_offer"><%= custom_t(".exclusive_offer") %></p>
    </div>
    <div class="two columns price"><small><%= custom_t(:from) %></small> $75 <small><%= custom_t(:per_song) %></small>
      <a href="<%= "#{product_url_for(:professional_mastering, :pricing)}" %>" class="button-callout-alt mastering"><%= custom_t(:learn_more) %></a>
    </div>
  </li>
<% end %>
