<% if locals[:page] == :internal_services %>
  <div class="pod pod-other qrates">
    <header>
      <h4><img src="/images/services/qrates_logo.png" alt="Qrates"></h4>
    </header>
    <div class="pod-body">
      <p><%= custom_t(".description") %><br />
         <span class="special_offer"><%= custom_t(".offer") %></span>
      <br/><a href="<%= "#{product_url_for(:qrates, :internal_services)}" %>" class="qrates" target="_blank"><%= custom_t(:learn_more) %></a>
    </div>
  </div>

<% elsif locals[:page] == :dashboard %>
  <div class="box">
    <div class="summary">
      <h3><%= custom_t(".service_name") %></h3>
      <p><%= custom_t(".description") %></p>
      <p class="special_offer"><%= custom_t(".offer") %></p>
    </div>
    <div class="details">
      <p><%= custom_t(:get) %></p>
      <p class="price"><%= custom_t(".discount") %></p>
      <p>discount</p>
    </div>
    <a href="<%= "#{product_url_for(:qrates, :dashboard)}" %>" class="blue-btn button-callout-alt qrates"><%= custom_t(:start_here) %></a>
    <div class="clear"></div>
  </div>
<% end %>
