<% expiration_date = Time.now.utc.end_of_month.strftime("%-m/%-d/%Y") %>

<% if locals[:page] == :external_services %>
  <a href="<%= "#{product_url_for(:radio_airplay, :external_services)}" %>" target="_blank" class="service radio-airplay">
    <div class="ribbon">
      <div class="banner">
        <div class="text"><%= custom_t(:special_offer) %></div>
      </div>
    </div>
    <div class="service-no-hover">
      <img src="/images/services/external/icons/icon_radio.png" alt="Radio Airplay" class="service-img">
      <div class="service-text">
        <h4 class="service-title">Radio Airplay</h4>
        <p class="service-desc"><%= custom_t(".guaranteed_airplay") %></p>
      </div>
    </div>
    <div class="service-hover">
      <p class="service-desc"><%= custom_t(".guaranteed_internet") %> <strong><%= custom_t(".offer") %></strong></p>
      <span class="fake-link"><%= custom_t(:learn_more) %></span>
    </div>
  </a>

<% elsif locals[:page] == :internal_services %>
  <div class="pod pod-other radio_airplay">
  <header>
    <h4>Radio Airplay</h4>
  </header>
  <div class="pod-body">
    <p><%= custom_t(".guaranteed_airplay_listeners") %> <span class="special_offer"><%= custom_t(".offer") %></span>
    <br/><a href="<%= "#{product_url_for(:radio_airplay, :internal_services)}" %>" class="radio-airplay" target="_blank"><%= custom_t(:learn_more) %></a></p>
  </div>
</div>

<% elsif locals[:page] == :dashboard %>
  <div class="box">
    <div class="summary">
      <h3>Radio Airplay</h3>
      <p><%= custom_t(".guaranteed_internet") %><br><%= custom_t(".style_free_account") %></p>
      <!-- <p class="special_offer">Exclusive Offer: Get 25% Bonus Plays on your first month subscription. Offer ends November 30, 2014.</p> -->
    </div>
    <div class="details">
      <p><%= custom_t(:get) %></p>
      <p class="price">20%</p>
      <p><%= custom_t(".off_first") %></p>
    </div>
    <a href="<%= "#{product_url_for(:radio_airplay, :dashboard)}" %>" class="blue-btn button-callout-alt radio-airplay"><%= custom_t(:start_here) %></a>
    <div class="clear"></div>
  </div>

<% elsif locals[:page] == :pricing %>
  <li class="price_box">
    <div class="nine columns">
      <h2>Radio Airplay</h2>
      <p><%= custom_t(".guaranteed_airplay_listeners") %></p>
      <p class="special_offer"><%= custom_t(".offer_free_spins") %></p>
    </div>
    <div class="two columns price"><small><%= custom_t(:get) %></small> 100<small> <%= custom_t(".free_spins") %></small>
      <a href="<%= "#{product_url_for(:radio_airplay, :pricing)}" %>" class="button-callout-alt radio-airplay"><%= custom_t(:buy_now) %></a>
    </div>
  </li>

<% elsif locals[:page] == :invoice_thanks %>
  <div class="box radio_airplay invoice-thanks">
    <span class="ribbon"><span><%= custom_t(:share_music) %></span></span>
    <span class="icon ico_radio"></span>
    <h3>Radio Airplay</h3>
    <p><%= custom_t(".guaranteed_airplay_plays") %></p>
    <a href="<%= "#{product_url_for(:radio_airplay, :invoice_thanks)}" %>" class="button-callout radioairplay-link"><%= custom_t(:start_here2) %></a>
  </div>
<% end %>
