<% if locals[:page] == :external_services %>
  <a href="<%= "#{product_url_for(:royalty_solutions, :external_services)}" %>" target="_blank" class="service royalty-solutions">
    <div class="ribbon">
      <div class="banner">
        <div class="text"><%= custom_t(:special_offer) %></div>
      </div>
    </div>
    <div class="service-no-hover">
      <div class="service-text">
        <h4 class="service-title">CoverSong Licensing</h4>
        <p class="service-desc"><%= custom_t(".get_licenses") %></p>
      </div>
    </div>
    <div class="service-hover">
      <p class="service-desc"><%= custom_t(".service_will_research") %></p>
      <span class="fake-link"><%= custom_t(:learn_more) %></span>
    </div>
  </a>

<% elsif locals[:page] == :internal_services %>
  <div class="pod pod-other royalty_solutions">
    <header>
      <h4>CoverSong Licensing</h4>
    </header>
    <div class="pod-body">
      <p><%= custom_t(".get_licenses_service_will_research") %>
      <br/><a href="<%= "#{product_url_for(:royalty_solutions, :internal_services)}" %>" class="royalty-solutions" target="_blank"><%= custom_t(:learn_more) %></a></p>
    </div>
  </div>
<% end %>
