<% if locals[:page] == :internal_services %>
  <div class="pod pod-rounded">
    <header>
      <h3>TuneCore Social</h3>
    </header>

    <div class="pod-body row collapse social">
      <p>
        <img src="/images/services/social.png" alt="TuneCore Social" class="social_logo left_aligned">
        <%= custom_t('.social_copy') %>
      </p>
      <p>
      <a href="<%= product_url_for(:tcsocial, :internal_services) %>" class="blue-btn button-callout-alt tcsocial"><%= custom_t(:learn_more) %></a>
      </p>
    </div>
  </div>
<% elsif locals[:page] == :dashboard %>
  <div class="box">
    <div class="summary">
      <h3><%= custom_t(".product_name") %></h3>
      <p><%= custom_t(".social_copy") %></p>
    </div>

    <%= render partial: "products/shared/dashboard_product_price", locals: { product_display: ProductDisplay.new(@person, @social_product) } %>

    <a href="<%= product_url_for(:tcsocial, :dashboard) %>" class="blue-btn button-callout-alt tcsocial"><%= custom_t(:learn_more) %></a> <div class="clear"></div>
  </div>
<% end %>
