<% if locals[:page] == :internal_services %>
  <div class="pod pod-rounded">
    <header>
      <h3><%= custom_t(".tunecore_fan") %></h3>
      <p class="powered_by">Powered by <a href=<%= purchase_soundout_reports_path %> target="_blank"><img src="/images/services/soundoutlogo.png" class="soundout_logo" alt="Soundout"></a></p>
    </header>
    <div class="pod-body">

      <p>
        <img src="/images/services/fanreviews_icon.png" class="soundout_icon left_aligned" alt="Fan Reviews">
        <%= custom_t(".reviewers_comments") %>
      </p>

      <% if @soundout_report.blank? %>
        <p><%= custom_t(".fan_reviews") %></p>
        <p><%= custom_t(".choose_reports") %></p>

        <div class="soundout_tiers">
          <div class="tier">
            <i class="fa fa-star"></i>
            <h4><%= custom_t(".starter") %></h4>
            <p>40 <%= custom_t(:reviews) %><br>
            4 <%= custom_t(:data_points) %><br>
            <%= money_to_currency(find_soundout_product_price(current_user, :starter)) %> <%= custom_t(:per_song) %><br>
            <a target="_blank" href="<%= REVIEWS_REPORT_STARTER_URL %>"><%= custom_t(:view_sample_report) %></a></p>
          </div>
          <div class="tier enhanced">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <h4><%= custom_t(".enhanced") %></h4>
            <p>100 <%= custom_t(:reviews) %><br>
            10 <%= custom_t(:data_points) %><br>
            <%= money_to_currency(find_soundout_product_price(current_user, :enhanced)) %> <%= custom_t(:per_song) %><br>
            <a target="_blank" href="<%= REVIEWS_REPORT_ENHANCED_URL %>"><%= custom_t(:view_sample_report) %></a></p>
          </div>
          <div class="tier premium">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <h4><%= custom_t(".premium") %></h4>
            <p>225 <%= custom_t(:reviews) %><br>
            16 <%= custom_t(:data_points) %> <br>
            <%= money_to_currency(find_soundout_product_price(current_user, :premium)) %> <%= custom_t(:per_song) %><br>
            <a target="_blank" href="<%= REVIEWS_REPORT_PREMIUM_URL %>"><%= custom_t(:view_sample_report) %></a></p>
          </div>
        </div>

        <div class="actions">
          <a href="<%= current_user.soundout_reports.blank? ? purchase_soundout_reports_path : soundout_reports_path %>" class="button-callout soundout"><%= custom_t(:get_started) %></a><br><br>
          <a href="<%= knowledgebase_link_for('about-soundout', country_website) %>" class="compare-soundout">Learn More</a>
        </div>
      <% else %>
        <div class="actions">
          <a href="<%= soundout_reports_path %>" class="button-callout-alt soundout-access-button"><%= custom_t(".access_reports") %></a>
          <a href="<%= purchase_soundout_reports_path %>" class="button-interface soundout-purchase-button"><%= custom_t(".purchase_reports") %></a>
        </div>
      <% end %>
    </div>
  </div>

<% elsif locals[:page] == :dashboard %>
  <div class="box">
    <div class="summary">
      <h3><%= custom_t(".tunecore_fan") %></h3>
      <h4><%= custom_t(".powered_soundout") %></h4>
      <p><strong><%= custom_t(:new_upcase_exc) %></strong>&nbsp;<%= custom_t(".reviews_ratings") %></p>
    </div>
    <div class="details">
      <p><%=custom_t(:from)%></p>
      <p class="price"><%= soundout_product_with_discount(current_user, :starter) %></p>
      <p><%= custom_t(".per_report") %></p>
    </div>
    <a href="<%= purchase_soundout_reports_path %>" class="blue-btn button-callout-alt soundout"><%= custom_t(:start_here) %></a>
    <div class="clear"></div>
  </div>

<% elsif locals[:page] == :pricing %>
 <li class="price_box">
    <div class="nine columns">
      <h2><%= custom_t(".tunecore_fan") %></h2>
      <h3><%= custom_t(".powered_soundout") %></h3>
      <p><strong><%= custom_t(:new_upcase_exc) %></strong>&nbsp;<%= custom_t(".reviews_ratings2") %></p>
    </div>
    <div class="two columns price"><small><%= custom_t(:from) %></small> <%= money_to_currency(find_soundout_product_price(current_user, :starter)) %><small> <%= custom_t(".per_report") %></small>
      <a href="<%= purchase_soundout_reports_path %>" class="button-callout-alt soundout"><%= custom_t(:get_started) %></a>
    </div>
  </li>

<% elsif locals[:page] == :invoice_thanks %>
  <div class="box soundout invoice-thanks">
    <span class="ribbon"><span><%= custom_t(:share_music) %></span></span>
    <h3><img src="/images/services/portlogo.png" alt="TuneCore Fan Reviews"></h3>
    <p><%= custom_t(".analytical_reports") %></p>
    <a href="<%= purchase_soundout_reports_path %>" class="button-callout soundout-link"><%= custom_t(:start_here2) %></a>
  </div>
<% end %>
