<% if locals[:page] == :internal_services %>
  <div class="ytm pod pod-rounded">
    <header>
      <h3><%= custom_t(".collect_youtube_revenue") %></h3>
    </header>

    <div class="pod-body row collapse">
      <% if !current_user.has_active_ytm? || current_user.ytm_blocked? %>
        <% if @albums_count < 1 %>
          <div class="notice-services">
            <%= custom_t(".collect_youtube_section_one") %>
          </div>
        <% elsif @youtube_monetization.present? && @youtube_monetization.block_date.present? %>
          <div class="notice-services">
            <%= custom_t(".collect_youtube_section_two", tunecore_help_link: link_to(custom_t(".customer_support"), "#{knowledgebase_link_for('help-homepage')}", :target => "_blank")) %>
          </div>
        <% end %>
        <%= custom_t(".collect_youtube_section_three", ytm_image: image_tag("/images/services/ytm.png", alt: "YouTube", class: "ytm_logo left_aligned"), youtube_price: money_to_currency(@youtube_price, precision: 2), faq_link: link_to(custom_t(:frequently_asked_quetions), "/index/youtube_help")) %>
        <% if eligible_add_to_cart?(@albums_count, @youtube_monetization) %>
          <%= link_to(custom_t(:add_to_cart), setup_ytm_youtube_monetizations_path(agree_to_terms: true, ytm_product_id: @ytsr_product.id, product_type: "youtube-money"), method: :post, class: "button-callout-alt youtube-link")%>
            <%= custom_t(".terms_of_service_disclaimer", terms_of_service: link_to(custom_t(:terms_of_service), "/index/terms", target: "_blank")) %>
        <% end %>
      <% else %>
        <div class="logo three columns">
          <p><img src="/images/services/ytm.png" alt="YouTube" class="ytm_logo ytm_completed left_aligned"></p>
        </div>
        <div class="copy nine columns">
          <% if @ytm_tracks.monetized_songs.distinct.count != @ytm_tracks.total_songs.count %>
          <%= custom_t(".collect_youtube_section_four", ytm_tracks_link: link_to(custom_t(".select_tracks_for_monetization_link_text"), ytm_tracks_path)) %>
          <% end %>
          <%= custom_t(".collect_youtube_already_paid") %>
          <p><%= link_to(custom_t(:frequently_asked_quetions), "/index/youtube_help") %></p>
          <div class="stats-holder">
            <div class="stats-pod stats-total">
              <span class="stats-number"><%= @ytm_tracks.total_songs.count %></span><br>
              <span class="stats-type"><%= custom_t(".total_tracks") %></span>
            </div>
            <div class="stats-pod stats-monetized">
              <span class="stats-number"><%= @ytm_tracks.monetized_songs.distinct.count %></span><br>
              <span class="stats-type"><%= custom_t(:tracks2) %><br><%= custom_t(".monetized") %></span>
            </div>
            <% if @ytm_tracks.ineligible_songs.count > 0 %>
            <div class="stats-pod stats-ineligible">
              <span class="stats-number"><%= @ytm_tracks.ineligible_songs.count %></span><br>
              <span class="stats-type"><%= custom_t(".tracks_opted_out") %></span>
            </div>
            <% end %>
          </div>
          <%= link_to custom_t(:go_to_dashboard), youtube_monetizations_path, class: "button-callout ytsr-dashboard-button" %>
        </div>
      <% end %>
    </div>
  </div>

<% elsif locals[:page] == :external_services %>
  <a href="/index/youtube_sound_recording" class="service service-special ytm">
    <div class="service-no-hover">
      <img src="/images/services/external/icons/icon_ytsr.png" alt="YouTube Sound Recording Revenue" class="service-img align-top">
      <div class="service-text">
        <h4 class="service-title"><%= custom_t(".collect_youtube_revenue") %></h4>
        <p class="service-desc"><%= custom_t(".make_money_from_your_music") %></p>
      </div>
    </div>
    <div class="service-hover">
      <%= custom_t(".collect_revenue_from_youtube") %>
    </div>
  </a>

<% elsif locals[:page] == :dashboard %>
  <% unless current_user.has_youtube_money? %>
    <div class="box">
      <div class="summary">
        <h3><%= custom_t(".collect_youtube_revenue") %></h3>
        <%= custom_t(".collect_revenue_with_new", setup_fee: money_to_currency(@youtube_price, precision: 2)) %>
      </div>
      <div class="details">
        <p class="price">
          <%= money_with_discount(@youtube_original_price, @youtube_price, @youtube_price.currency.to_s) %>
        </p>
        <p><%= custom_t(".one_time_setup_fee") %></p>
      </div>
      <a href="<%= artist_services_path %>" class="blue-btn button-callout-alt youtube-money">
        <%= custom_t(:start_here2) %>
      </a>
      <div class="clear"></div>
    </div>
  <% end %>

<% elsif locals[:page] == :pricing %>
  <li class="price_box">
    <div class="nine columns">
      <h2><%= custom_t(".collect_youtube_revenue") %></h2>
      <%= custom_t(".collect_revenue_with_new", setup_fee: money_to_currency(@youtube_price, precision: 2)) %>
    </div>
    <div class="two columns price">
      <small><%= custom_t(".one_time_setup_fee") %></small>
      <%= money_to_currency(@youtube_price, precision: 2) %>
      <a href="<%= artist_services_path %>" class="button-callout-alt facebook">
        <%= custom_t(:get_started) %>
      </a>
    </div>
  </li>

<% elsif locals[:page] == :invoice_thanks %>
  <div class="box ytm invoice-thanks">
    <span class="ribbon"><span><%= custom_t(".make_money") %></span></span>
    <span class="icon ico_ytm"></span>
    <h3><%= custom_t(".collect_youtube_revenue") %></h3>
    <p><%= custom_t(".have_your_money_deposited") %></p>
    <a href="<%= artist_services_path %>" class="button-callout youtube-link">
      <%= custom_t(:start_here2) %>
    </a>
  </div>
<% end %>
