/* TuneCore Mobile Master */

/* http://meyerweb.com/eric/tools/css/reset/  v1.0 | 20080212 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,
samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,
th,td{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent}body{line-height:1}ol,
ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/* Base Typography */
body {font: 170% Helvetica, Arial, sans-serif;}h1,h2,h3,h4,h5,h6,legend 
{font-family: "Helvetica Neue", Helvetica, Arial sans-serif;}a {color:#41ADD8} hr {border: 0 #ccc solid;border-top-width: 1px;clear: both;height: 0;}

/* Spacing */
p,dl,hr,ol,ul,pre,table,address,fieldset {margin-bottom: 2em;}

/* Structural elements */
article, aside, dialog, footer, header, section, footer, nav, figure {display: block;}

/* Lightbox Style */
.simplemodal-wrap { 
  overflow: hidden !important;
}

.hidden{display:none}
.progress-bar-wrapper{width:400px;border:1px solid #ccc;height:15px;}
.progress-bar{width:0px;height:15px;background-color:blue;}
.relative{position:relative;}
#simplemodal-container a.modalCloseImg{background:url(/images/x_mobile.png) no-repeat;width:100px;height:116px;display:inline;z-index:3200;position:absolute;top:-40px;left:-40px;cursor:pointer;}
#simplemodal-container{background-color:#fff;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:25px; width: 80%; height: 700px; overflow: auto; border: 10px solid #666}
.simplemodal-wrap{overflow:auto;}

#iframe{
	background: transparent !IMPORTANT;
}

.iframe {
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 10px solid #f00;
  width: 100%;
  overflow-x: hidden;

  overflow-y: auto;
}

/* Lists */
ol {list-style: decimal inside;}
ol li {margin-bottom: 1.5em;}
ul {list-style: none;}
ul.disc {list-style: disc inside;}

/* header */

body { margin-bottom:20px; padding-top: 15%; position:relative; height:145px; background: #fff url(images/backgrounds/header_bg.jpg) no-repeat 0 0; background-size:100%; z-index:1;}

header h1 { padding:50px 56px 136px; position:absolute; top:-70px; color:transparent; display:none;}

#container h1 { font-weight: bold; top: 0px;}

header #login { display:none; }


header h2 { width: 15em; height: 6em; position: absolute; top: .66em; left: 1em; text-indent: -500em; background: none ; font-size:100%; font-weight:bold;display:block;}
header h2 span {color: #37952E;}

section { width: 90%; margin: 5% auto;}

section.content { margin: 1em auto; width: 70%;}

header .forgot-pw-helper { display: none;}
header .header-helper, .signin { margin: 0px auto 10px; width: 90%; display: block; text-align: center; }
header .header-helper a { font-weight: bold; }



/*Footer */
footer { padding: 0; margin: 0; border-top: 2px solid #444; font-size:100%; font: "Trebuchet MS", Arial; color:#666; width: 100%;}
footer ul { text-align: left; width: 90%; margin: 0 0 0 2em;}

footer a {color: inherit;text-decoration:none;}
footer span {margin: .5em auto; display: block; text-align: left; padding-left: 1em}

footer li { font-size: 130%; float:left; width: 45%; padding: .4em; line-height: 1.1em; display: block; }

/* homepage */

body#index {background: #000 url(images/backgrounds/mobile_bg.png) 0px -300px; z-index:1; background-size:100%; padding-top: 0px; height: 100%}
#index section, #index footer {margin-left: 2em;}
#index footer {margin-top:1em;}
#index h3 {font:bold 30px Helvetica, Arial, sans-serif;color:#fff;}
#index h1 { background: url(images/backgrounds/tc_logo_white.png) no-repeat top center; width: 90%; background-size: 70%; margin: 0.2em auto; text-indent: -500em; height: 3em;display:block;}


/* homepage styles*/

#index_copy { width:98%; margin: 2em auto; border-top: 2px solid #eee}
#index_copy ul { margin-top: 1em;margin-bottom:-.5em;padding-left:5em; list-style-image:url(images/backgrounds/index_bullet.png);}
#index_copy li { font-size: 140%; color:#fff;margin-bottom:1em;line-height:1.5em;}
#index_copy h2 { color:#fff; font-size: 160%; text-align: center; font-weight: bold;}
#index_copy .itunes-logo {position:relative;top:22px;right:4px;}

#sign-in { margin: 2em auto; background: url(images/backgrounds/sign_up_bg.png); background-position: left -25px;   no-repeat 0 0; 
		 background-size: 100%;
	       height:5em;width:80%;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;-webkit-border-bottom-right-radius:10px; -webkit-border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;
	-moz-border-radius-topright:10px;-moz-border-radius-topleft:10px;-webkit-border-top-right-radius:10px; -webkit-border-top-left-radius:10px;border-top-right-radius:10px;border-top-left-radius:10px;}
#sign-in a:link { text-decoration:none !important; }
#sign-in h2 {text-decoration: none; color:#000;font-weight:bold; text-align: left; padding-left: 3em; padding-top: 0.5em; line-height: 80%; font-size:185%; 
	text-transform:uppercase;text-shadow:0.05em 0.05em 0.09em #fff,-0.05em -0.05em 0.09em #553;}
#sign-in span {display:block;color:#fff; font-size: 80%; font-weight:bold;text-transform:none;text-shadow:3px 3px 3px #333;}
#sign-up-now { margin: 1em auto; background: url(images/backgrounds/sign_in_bg.png)   no-repeat 0 0; background-size: 100%;
	       height:7em;width:80%;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;-webkit-border-bottom-right-radius:10px; -webkit-border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;}
#sign-up-now a:link { text-decoration:none !important; }
#sign-up-now h2 {text-decoration: none; color:#000;font-weight:bold; text-align: left; padding-left: 2em; padding-top: 0.5em; line-height: 80%; font-size: 270%; text-transform:uppercase;text-shadow:0.05em 0.05em 0.09em #fff,-0.05em -0.05em 0.09em #533;}
#sign-up-now span {display:block;color:#fff; font-size: 80%; font-weight:bold;text-transform:none;text-shadow:3px 3px 3px #333;}
a#sign-up, a#sign-in { text-decoration: none;}
#reasons {margin: 1em auto; background: url(images/backgrounds/reasons.png) no-repeat 0 0; background-size: 100%;
	height:4em;width:80%;-moz-border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;-webkit-border-bottom-right-radius:10px; -webkit-border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;}
    
#reasons h3 {font-size:200%; text-align: left; padding-left: 2.8em; font-weight:bold; text-shadow:1px 1px 0 #000;position:relative;top:10px;}
#reasons a {color:#fff; text-decoration: none; }


/* forms */ 

#zip-code-label { display: none; }
#postal-code-label { display: none;}
#errorExplanation { display:block; width: 60%; margin: 1em auto 1em auto; padding: 2em; color:#7A786C; outline:4px solid #FF574E;background:#FEF7DA url(images/sprites/next_actions_sprite.png) no-repeat 24px -372px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
fieldset legend { display: none; }
fieldset ul { margin: 0px auto 10px; width: 90%;}
fieldset li { margin-top: 1em; }
fieldset label { padding-left: .5em;}
fieldset input { width: 94%; text-align: left; border: 3px solid #444; font-size: 200%; background-color: #ddd;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin: .2em auto; display:block; }
input[type=submit] {width: 100%; text-align: center; height: 1.5em;color: #fff; margin: 1em auto; display: block; font-weight:bold 80% Helvetica, Arial;background:url(images/inputs/input_bg.png) right 0; background-size:100%; border:0; cursor:pointer; text-shadow:-.05em -.05em 0px rgba(102, 102, 102, 1.0);}
.contextual-help p { margin: 10px; width: 80%; border: 1px solid #900; display: none;}

fieldset input[type=checkbox] { width:1em; height: 1em; margin: 1em; top: -2em; left: -2em; position: relative; }
fieldset input[type=hidden] {display: none;}
fieldset select { font-size: 120%; height: 2em; font-weight: bold; width: 100%;}
.checkbox { text-align: left; height: 1.5em; padding-left: 4em; line-height: 2em; height: 2em;}

.formError  { color: #f00; border: 1px solid #333; background-color: #ffe; padding: .5em; margin: .5em}

#goodErrorExplanation { color: #030; width: 70%; border: 1px solid #333; margin: 0.5em auto; background-color: #efe; padding: .5em; margin: .5em}

.formError#person_accepted_terms_and_conditions-error { width: 90%; position: relative; top: -10em;
	}
.edit-button { font-size: 150%; padding: .5em; display: block;}
.next-actions ul { display: block;}
.next-actions li { display: block; border-top: 1px solid #000; }
/* .next-actions a { display:block;padding-top:.5em;padding-right: 1em; font:bold 150% Helvetica, Arial, sans-serif;text-decoration:none;}	*/

.next-actions a { text-decoration: none; font-size: 230%; color: #666; font-weight: bold; padding: 1em 1em; line-height: 1.3em; display: block;  background: url(images/inputs/hires_action_btn.png) no-repeat; background-position: 93% center; background-size: 4%; padding-right: 10px; }
.next-actions li:last-child { border-bottom: 1px solid #000; }	

a.button { border-top: 1px solid #000; border-bottom: 1px solid #000; text-decoration: none; font-size: 230%; color: #666; font-weight: bold; padding: 1em 1em; line-height: 1.3em; display: block;  background: url(images/inputs/hires_action_btn.png) no-repeat; background-position: 93% center; background-size: 4%; padding-right: 10px; }

aside h4 {font:bold 120% Helvetica, Arial;color:#003855;margin:0 0 1em 1.8em;}

/* dropdown menu */


#mobile-navigation a { color: #fff; font-weight: bold; font-size: 150%; line-height: 0.8em; text-shadow:none !important; }
#mobile-navigation a#open-mobile-menu { width: 90%; border-top: 1px solid #fff ; background-color: transparent; 
	 background-size: 102%;
	 text-indent: -5000px; height: 4em; -moz-box-shadow: none;
	-webkit-box-shadow: none;}
	
#mobile-navigation a.open_btn { background: url(images/inputs/menu_pull_down.png) no-repeat 0px -50px; }
#mobile-navigation a.close_btn { background: url(images/inputs/menu_pull_up.png) no-repeat 0px -50px; }

#mobile-navigation li { padding: 0;  background-color: transparent;-moz-box-shadow: none;
-webkit-box-shadow: none; }
#mobile-navigation a { padding: 0.99em; width: 90%; border-top: 1px solid #999; display:block; text-decoration: none; 
	background: url(images/inputs/menu_btn.png) no-repeat 0px -0px; background-size: 100%; }
#mobile-navigation ul { position: absolute; top: -1190px; left: 10%; width: 80%; padding: 0; -moz-box-shadow: none;
-webkit-box-shadow: none;}


/* dashboard balance */
#balance {height:2.9em; border: 1px solid #333; margin-top: 1.5em;
	background:url(images/backgrounds/dashboard_balance_bg.png) no-repeat; background-size: 100%; -moz-border-radius-topright:5px;-moz-border-radius-topleft:5px;-webkit-border-top-right-radius:5px;-webkit-border-top-left-radius:5px;}
#balance h5 {margin:.5em 0 0 .7em;font-size:120%;color:#003852;width:30%;float:left;}
#balance .balance {font-size:150%;color:#009900;font-weight:bold;margin:0.33em 1em;display:block;float:left;}
#balance .balance span, abbr.currency {color:#003852;font-size:14px;}
#balance .withdraw { display: block; margin: .33em 2em; font-weight: bold; float: right; font-size: 150%; }
#balance .button {margin:1em 0 0 1em;}

#news, #placards, #social, #creds { padding: 1em; margin: 0; font-size: 150%; }
#news li, #placards li, #social li, #creds li { padding: 0.2em; ; }
#news ul, #placards ul, #social ul, #creds ul { list-style-type: none;}
#news h3, #placards h3, #social h3, #creds h3 { color: #003852; }

#placards { background-color: #000;}
/* mobile-only dashboard menus */ 
#dashboard_menu ul { display: block;}
#dashboard_menu li { display: block; border-top: 1px solid #000; }
#dashboard_menu li:last-child { border-bottom: 1px solid #000; }

#dashboard_menu a { text-decoration: none; font-size: 230%; color: #666; font-weight: bold; padding: 1em 1em; line-height: 1.3em; display: block;  background: url(images/inputs/hires_action_btn.png) no-repeat; background-position: 93% center; background-size: 4%; padding-right: 10px; }

a.back { text-decoration: none; width: 100%; font-size: 180%; padding: 15px; text-align: center; display: block; height: 1.8em;color: #fff; border:0; cursor:pointer; text-shadow:-.05em -.05em 0px rgba(102, 102, 102, 1.0); padding: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; font-weight:bold 100% Helvetica, Arial;background:url(images/inputs/input_bg.png) right 0; background-size:100%; border-radius: 10px; margin: .2em auto; display:block; }