#secondary-navigation, #primary-navigation, .print-link, footer ul,.do-not-print {display:none;}
a, a:visited {text-decoration:none; color:#000;}
/*a:after { content:' http://www.tunecore.com' attr(href) ' '; text-decoration:underline;color:#00f;}*/
.print-only {display:block;}