<%= stylesheet_link_tag wicked_pdf_asset_base64 "credit_note_invoices/refund_tables/settlements" %>

<table class="payment-methods-table">
  <tbody>
    <tr class="bgd-grey bold">
      <td class="no-border" colspan="3">
        <%= custom_t("person_notifier.payment_thank_you.payment_methods") %>
      </td>
    </tr>
    
    <% settlements.each do |info| %>
      <tr>
        <td class="no-border"><%= info[:desc] %></td>
        <td class="tax-amount no-side-padding">(<b><%= info[:amount] %></b></td>
        <td class="tax-currency no-side-padding"><%= currency %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>
