<div id="stored-paypal-account-pref" class="item" style="width: 534px; padding-right: 0px;">

  <div class="grid_8">
    <ul>
      <li class="strong-bold"><%= stored_paypal_account.email %></li>
      <%= hidden_field_tag 'person_preference[preferred_paypal_account_id]', stored_paypal_account.id %>
      <li class="weak-subtext"><%= custom_t(".added_on", card_added: stored_paypal_account.created_at.strftime('%b %d, %Y')) %></li>
    </ul>
  </div>

  <div class="grid_1 omega" style="padding-top:5px">
    <%= link_to(custom_t(".delete"), stored_paypal_account_path(stored_paypal_account), method: :delete, data: { confirm: "Are you sure you want to remove this paypal account?" }) %>
  </div>

</div>
