<div id="page">
  <%= custom_t(".confirm_paypal", { paypal_response: @response["EMAIL"] }) %>
  <%= form_tag(:action => 'ec_step3', :method=>'post', :multipart => true) do %>

 <table align="center">
   <!--<% @response.each do |k,v| %>
<tr><td><%= "#{k}" %>:</td><td><%= "#{v}" %></td>
<% end -%>-->
</table>
    <%= hidden_field_tag 'TOKEN', @TOKEN %>
    <%= hidden_field_tag 'PAYERID', @PAYERID %>
    <dt></dt><dd><%= submit_tag(custom_t(".add_paypal_account"))%></dd>
<%end%>
  <%= link_to custom_t(".back_to_payment_preferences"), {:controller =>"person_preferences", :action => "index"} %>
</div>
