<div id="page">
<h3 align="center"><%= custom_t(".thanks") %></h3>		
<dl>	
<table align="center">	
<% @response.each do |k,v| %>
<tr><td align="left"><%= "#{k}" %>:</td><td><%= "#{v}" %></td>
 <% end -%>
</table>
</dl>   
    <a class="home"> <%= link_to custom_t(".home"), {:controller =>"paypal_payments", :action => "index"}, :id => 'CallsLink' %> </a>     
</div>
