<h2><%= @page_title %></h2>
<%= form_tag admin_qa_tools_album_approvals_path, method: "post", authenticity_token: form_authenticity_token do %>
  <input id="review_audits-album_id" name="review_audit[album_id]" placeholder="Album ID" />

  <div style="clear: both;">
    <%= submit_tag "Submit" %>
  </div>
<% end %>
