<% content_for :external_javascript do %>
  <%= include_gon %>

  <script type="text/javascript">
      var CountrySelectorCountriesJSON            = <%= @countries.to_json.html_safe%>;
      var CountrySelectorCountryCodesSelectedJSON = <%= @selected_country_codes.to_json.html_safe%>;
      var AlbumFinalized                          = <%= @single.finalized_at? %>;
      var ShowUpgradeDialog                       = <% if cookies[:in_upgrade] %>true<% cookies.delete(:in_upgrade) %><% else %>false<% end %>;
      var albumId                                 = <%= @single&.id.to_json %>;
  </script>

  <%= javascript_include_tag "/javascripts/app/accordion.js" %>
  <%= javascript_include_tag "/javascripts/app/country_selector.js" %>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <%= javascript_include_tag "/javascripts/app/release_date_picker.js" %>
  <%= javascript_include_tag "/javascripts/app/album.js" %>
  <%= javascript_include_tag "/javascripts/app/creatives.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.autogrow.js" %>
  <%= javascript_include_tag "/javascripts/plugins/tc.styleguide.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.select-to-autocomplete" %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "country_and_store_selector" %>
<% end %>

<%= f.text_field(
  :name,
  :label => "#{custom_t(:song_title)}",
  :tc_required => true,
  :disabled => @single.finalized?,
  :class => "trigger-title-preview creative-title form-text",
  :new_form => true
)%>

<fieldset class="check">
  <%= hidden_field_tag("single[parental_advisory]", @single.parental_advisory, { disabled: @single.finalized? }) %>
  <%= hidden_field_tag("single[clean_version]", @single.clean_version, { disabled: @single.finalized? }) %>
  <div type="hidden" id="single_clean_version_selector_enabled" data-value="<%= @single_clean_version_selector_enabled %>" style="display: none;"></div>

  <label>
    <span class="explicit-question">
      <%= custom_t('.does_song_has_explicit') %>
    </span>
    <a href=<%= knowledgebase_link_for('explicit-track-what-is', country_website) %> target="_blank">
      <%= custom_t(:read_more) %>
    </a>
  </label>

  <div class="flex-row" id="explicit-selector">
    <div class="flex-column">
      <a
        href="#"
        class="button-interface <%= btn_class_for_explicit_on(@single) %>"
        data-value="1"
      >
          <%= custom_t(:yes_display) %>
      </a>
    </div>

    <div class="flex-column">
      <a
        href="#"
        class="button-interface <%= btn_class_for_explicit_off(@single) %>"
        data-value="0"
      >
        <%= custom_t(:no_display) %>
      </a>
    </div>
  </div>

  <% @single.errors.full_messages_for(:parental_advisory).each do |error| %>
    <div class="formError"><%= error %></div>
  <% end %>

  <% if @single_clean_version_selector_enabled %>
    <div id="clean-selector-container" class="<%= container_class_for_clean_selector(@single) %>">
      <label>
        <span class="clean-question">
          <%= custom_t('.does_explicit_version_exist') %>
        </span>
      </label>

      <div class="flex-row" id="clean-selector">
        <div class="flex-column">
          <a
            href="#"
            class="button-interface <%= btn_class_for_clean_on(@single) %>"
            data-value="1"
          >
              <%= custom_t(:yes_display) %>
          </a>
        </div>

        <div class="flex-column">
          <a
            href="#"
            class="button-interface <%= btn_class_for_clean_off(@single) %>"
            data-value="0"
          >
            <%= custom_t(:no_display) %>
          </a>
        </div>
      </div>

      <div id="clean-selector-errors" class="formError" style="display: none;">
        <strong><%= custom_t('.clean_must_be_selected') %></strong>
      </div>
    </div>
  <% end %>

  <% unless @single_clean_version_selector_enabled %>
    <ul class="clean-version-checkbox">
      <%= f.check_box(
        :clean_version,
        :label => raw("#{image_tag '/images/clean.png', style: 'margin-bottom: -4px; margin-right: 5px;'} #{custom_t(:clean_version_of_explicit_track)} </b><a href=\"#{knowledgebase_link_for('explicit-track-how-indicate', country_website)}\" target=\"_blank\">#{custom_t(:read_more)}</a>"),
        :disabled => @single.finalized?,
        :li_class => 'checkbox',
        :new_form => true
      )%>
    </ul>
  <% end %>
</fieldset>

<%= render(
  :partial => "creatives/creative_list",
  :locals => {
    :object => @single,
    :creatives => @creatives
  }
)%>

<%= f.select(
  :language_code_legacy_support, language_list,
  :label => "#{custom_t('.single_language')}",
  :disabled => @single.finalized?,
  :tc_required => true,
  :li_class => 'language select',
  :new_form => true,
  :selected => @single.language_code
)%>

<%= f.select(
        :primary_genre_id,
        genre_list,
        :selected => release_primary_genre(@single)&.id,
        :label => "#{custom_t(:primary_genre)}",
        :disabled => @single.finalized?,
        :tc_required => true,
        :li_class => "primary-genre select",
        :new_form => true
    )%>

<fieldset class="primary-genre select sub_genre_field <%= primary_subgenres_display_class(@single) %>">
  <%= label_tag(
          :sub_genre_id_primary,
          custom_t('.sub_genre') + '*'
      ) %>

  <%= select_tag(
          'single[sub_genre_id_primary]',
          options_for_select(india_sub_genre_list, release_primary_subgenre(@single)&.id),
          :disabled => @single.finalized?,
          :tc_required => true,
          :li_class => "primary-genre select",
          :new_form => true
      )%>
</fieldset>

<%= f.select(
  :secondary_genre_id, genre_list,
  :selected => release_secondary_genre(@single)&.id,
  :label => custom_t(:secondary_genre),
  :disabled => @single.finalized?,
  :li_class => 'secondary-genre select',
  :new_form => true
)%>

<fieldset class="secondary-genre select sub_genre_field <%= secondary_subgenres_display_class(@single) %>">
  <%= label_tag(
          :sub_genre_id_secondary,
          custom_t('.sub_genre') + '*'
      ) %>

  <%= select_tag(
          'single[sub_genre_id_secondary]',
          options_for_select(india_sub_genre_list, release_secondary_subgenre(@single)&.id),
          :disabled => @single.finalized?,
          :tc_required => true,
          :li_class => "primary-genre select",
          :new_form => true
      )%>
</fieldset>

<% if @single.timed_release_timing_scenario || show_time_fields %>
  <%= render partial: 'single_timed_release_fields' %>
<% else %>
  <%= hidden_field_tag("translated_date_fields[sale_date]", "long_date", { disabled: @single.finalized? }) %>

  <%= f.text_field(
          :sale_date,
          :label => custom_t('.digital_sales_start_date'),
          :disabled => @single.finalized?,
          :value => fmt_long_date_inputs(@single.sale_date),
          :class => "form-text date-box sale-date",
          :new_form => true
      )%>

  <%= render partial: '/shared/calendar_picker', locals: {release: @single} unless @single.finalized? %>
<% end %>

<%= render partial: '/shared/countries_and_regions', locals: {release: @single} %>

<input type="hidden" id="iso_codes" name="single[iso_codes]" style="display: none;">

<fieldset class="hidden"><%= f.hidden_field(:song_id) %></fieldset>

<fieldset class="radio">
  <label id="single_prev_released"><%= custom_t('.previously_released') %></label>

  <ul class="release-radio-selector">
    <%= f.radio_button(
      :previously_released,
      false,
      label: "#{custom_t(:no_display)}",
      disabled: @single.finalized?,
      class: "not-previously-released prev-released",
      li_class: "radio",
      new_form: true,
      checked: !@single.previously_released
    )%>

    <%= f.radio_button(
      :previously_released,
      true,
      label: "#{custom_t(:yes_display)}",
      disabled: @single.finalized?,
      class: "previously-released prev-released",
      li_class: "radio",
      new_form: true,
      checked: @single.previously_released
    )%>
  </ul>
</fieldset>

<%= hidden_field_tag("translated_date_fields[orig_release_year]", "long_date", { disabled: @single.finalized? }) %>

<%= f.text_field(
  :orig_release_year,
  :label => custom_t(:original_release_date),
  :disabled => @single.finalized?,
  :class => "form-text date-box original-date-box",
  :value => (fmt_long_date(@single.orig_release_year) if @single.orig_release_year),
  :li_class => 'hide',
  :new_form => true
)%>

<%= f.text_field(
  :label_name,
  :label => custom_t(:label_name),
  :class => "form-text",
  :disabled => @single.finalized?,
  :new_form => true
)%>

<% if @single.is_editable? %>
  <%= f.text_field(
    :optional_upc_number,
    class:    "form-text",
    disabled: @single.persisted?,
    label:    @upc_label,
    new_form: true
  )%>
<% end %>

<% if @single.is_editable? %>
  <%= f.text_field(
    :optional_isrc,
    class:    "form-text",
    label:    "#{custom_t('.isrc_optional')}<br>#{link_to custom_t(:what_does_isrc_mean), knowledgebase_link_for('upc-isrc-get-before-i-upload', country_website), :target => "_blank", :class => "song-isrc-faq"}",
    new_form: true
  )%>
<% end %>

<%= f.text_field(
  :recording_location,
      :class => "form-text",
  :label => custom_t(:recording_location),
  :disabled => @single.finalized?,
  :new_form => true
)%>
