<%# flash.now[:message] = renewal_status(@single) if display_renewal?(@single) %>

<% if !enable_bigbox_uploader? %>
  <% content_for :external_javascript do %>
    <%= javascript_include_tag "/javascripts/app/upload_completed.js" %>
    <%= javascript_include_tag "/javascripts/app/song_single.js" %>
    <%= javascript_include_tag "/javascripts/app/tc.jsonp.js" %>
  <% end %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/preorder.js" if feature_enabled?(:preorder) && show_preorder? && !album_preorder_disabled(@single) %>
  <% if @single.created_with_songwriter? %>
    <script type="text/javascript">
      window.translations             = <%= raw @songs_app_translations.to_json %>;
      window.translations.popup_modal = <%= raw @popup_modal_translations.to_json %>
    </script>
    <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/songs.js" %>
    <%= javascript_include_tag "songwriter" %>
    <%= javascript_include_tag "singles" %>
    <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/popup_modal.js" %>
  <% end %>
<% end %>


<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/magnific-popup.css" %>
  <%= stylesheet_link_tag "country_and_store_selector" %>
  <%= stylesheet_link_tag "release_creation" %>
  <%= stylesheet_link_tag 'songs' if @single.created_with_songwriter?%>
  <%= stylesheet_link_tag "singles/tiktok_abandonment" %>
  <%= stylesheet_link_tag "singles/tiktok_triggered" %>
  <%= stylesheet_link_tag "singles/tiktok_upsell" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
  <script type="text/javascript">
    jQuery(document).ready(function($){
      $('.open-popup').magnificPopup({
        type: 'inline',
        midClick: true
      });
    });
  </script>
<% end %>

<script type="text/javascript">
  var TC = TC || {};
  TC.albumId = <%= @single.id %>;

  jQuery(document).ready(function($){
    var killGoodError = function(){
      $('#goodErrorExplanation').hide('slow');
    };
    setTimeout(killGoodError, 2000);
  });
</script>
<%= render partial: "shared/release_rejection", locals: {release: @single} if release_is_rejected? %>

<%= render "royalty_splits/splits_access_popup_includes" %>
<%= render 'royalty_splits/splits_access_create_splits_popup' %>
<%= render "royalty_splits/splits_access_suspended_splits_popup" %>

<% if FeatureFlipper.show_feature?(:distro_flow_changes, current_user) %>
  <div class="row">
    <div class="eight columns">
      <h1 class="show-page-header"><%= custom_t('edit_single') %></h1>
    </div>
  </div>
<% end %>
<div class="row">
  <section class="eight columns">

    <% if flash[:album_notice] %>
      <div class="row" style="margin-bottom: 30px;">
        <div class="twelve columns">
          <div class="important-notice">
            <%= flash[:album_notice] %>
          </div>
        </div>
      </div>
    <% end %>

   <div class="row">
     <% if FeatureFlipper.show_feature?(:distro_flow_changes, current_user) %>
      <div class="twelve columns albuminfo">
     <% else %>
       <div class="four columns">
         <%= render :partial => "artwork/upload", :locals => { :album => @single } %>
       </div>
       <div class="eight columns albuminfo">
     <% end %>
        <div class="roundy-header">
          <div class="row">
            <div class="columns eight">
              <h2><%= custom_t(:details) %></h2>
            </div>
            <div class="columns four text-right">
              <% unless @single.finalized? or @single.takedown_at %><%= link_to(custom_t(:edit), get_polymorphic_edit_path(@single), class: 'link font-normal', style: 'font-size: 13px;') %><% end %>
            </div>
          </div>
        </div>
        <div class="roundy-content" style="padding: 15px;">
          <h2 id="single_name"><%= h(display_name(@single)) %></h2>
          <h3 id="single_artist_name">by <%= h(@single.artist_name) %></h3>
          <%= discography_source_label(@single) %>
          <%= album_status_info(@single) %>
          <% if ! params[:upload_song].blank? %>
            <div class="upload-song-trigger"></div>
          <% end %>
          <dl class="info">
            <dt><%= custom_t(:release_date) %>:</dt>
            <dd><%= fmt_short_date(@single.sale_date) %></dd>
            <% unless @single.orig_release_year == @single.sale_date %>
              <dt><%= custom_t(:original_release_date) %>:</dt>
              <dd><%= fmt_short_date(@single.orig_release_year) %></dd>
            <% end %>
            <dt id="label-dt">Label:</dt>
            <dd id="label-dd"><%= @single.label_name.blank? ? "&nbsp;" : h(@single.label_name) %></dd>
            <dt><%= custom_t(:isrc) %>#:</dt>
            <dd><%= @single.isrc %></dd>
            <dt><%= custom_t(:upc) %>:</dt>
            <dd><%= @single.upc  %></dd>
            <dt><%= custom_t(:primary_genre) %>: </dt>
            <dd><%= display_primary_genre(@single) %></dd>
            <% if @single.primary_genre.subgenre? %>
              <dt><%= custom_t(:sub_genre) %>: </dt>
              <dd><%= display_primary_subgenre(@single) %></dd>
            <% end %>
            <% if @single.genres.size > 1 %>
              <dt><%= custom_t(:secondary_genre) %>: </dt>
              <dd><%= display_secondary_genre(@single) %></dd>
              <% if @single.secondary_genre.subgenre? %>
		<dt><%= custom_t(:sub_genre) %>: </dt>
		<dd><%= display_secondary_subgenre(@single) %></dd>
              <% end %>
            <% end %>
            <dt><%= custom_t(:language) %>:</dt>
            <dd id="single_language"><%= album_language(@single).description %></dd>
            <% if @single.parental_advisory? %>
              <dd><%= custom_t('.contains_explicit_lyrics') %>.</dd>
            <% end %>
            <span id="single-upload-path" style="display:none"><%= new_upload_album_song_path(@single, @song) %></span>
          </dl>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <%= render '/album/store_list', album: @single, unpurchased_stores: @unpurchased_stores unless salepoints_redesign_feature_enabled? %>
    <% if FeatureFlipper.show_feature?(:freemium_flow, current_user) %>
      <%= render '/album/discovery_platforms_list', album: @single  %>
    <% end %>
    <%= render '/album/booklet', booklet: @single.booklet %>
    <% unless store_automator_disabled(@single) %>
      <%= render '/album/automator', album: @single %>
    <% end %>
    <%= render '/album/royalty_splits', release: @single if release_can_be_split?(@single) %>
    <div class="roundy-header">
      <div class="row">
        <div class="columns eight">
          <h2><%= custom_t(:song) %></h2>
        </div>
        <div class="columns four text-right">
        </div>
      </div>
    </div>
    <% if @single.created_with_songwriter? %>
      <div id="songs_app"
          class="songs-app"
          data-album-id="<%= @single.id %>"
          data-songs="<%= @song_data_presenter.songs %>"
          data-languages="<%= @song_data_presenter.language_codes %>"
          data-default-song="<%= @song_data_presenter.default_song %>"
          data-song-roles="<%= @song_data_presenter.song_roles %>"
          data-artists="<%= @song_data_presenter.artists %>"
          data-songwriter-names="<%= @song_data_presenter.songwriter_names %>"
          data-album="<%= @song_data_presenter.album %>"
          data-big-box-url="<%= BIGBOX_ELB_NAME %>"
          data-explicit-fields-enabled="false"
          data-tc-pid="<%= @sso_cookie_value %>"
          data-copyrights-form-enabled="<%= song_copyrights_enabled_in_region? %>"
          data-track-level-language-enabled="<%= track_level_language_enabled? && track_level_language_permitted?(@single) %>"
          data-song-start-times-form-enabled="<%= song_start_time_form_enabled? %>"
          data-song-start-time-store-options="<%= Store::SONG_START_TIME_STORES %>"
          data-spatial-audio-enabled="<%= @spatial_audio_enabled %>"
          data-dolby-atmos-article-link="<%= @dolby_atmos_article_link %>"
          data-cover-song-metadata-enabled="<%= @cover_song_metadata_enabled %>"
          data-cover-song-article-link="<%= @cover_song_article_link %>"
          data-plan-upgrade-link="<%= @plan_upgrade_link %>"
      >
      </div>
    <% else %>
      <div class="roundy-content uploads" style="margin-top: 0; margin-bottom: 30; padding: 15px;">
        <% if enable_bigbox_uploader? %>
          <%= render :partial => "songs/single_song_bigbox", :locals => { :song => @song, :album => @single } %>
        <% else %>
          <%= render :partial => "songs/upload", :locals => { :song => @song, :album => @single } %>
        <% end %>
      </div>
    <% end %>
    <% if FeatureFlipper.show_feature?(:distro_flow_changes, current_user) %>
      <%= render :partial => "artwork/upload", :locals => { :album => @single } %>
    <% end %>
    <%= render '/album/store_list', album: @single, unpurchased_stores: @unpurchased_stores if salepoints_redesign_feature_enabled? %>
    <% unless album_preorder_disabled(@single) %>
      <%= render 'album/preorder', album: @single, duration: @song_duration, songs: @songs, preorder: @preorder, paid: @paid, enabled: @enabled, grat_songs: @grat_songs if feature_enabled?(:preorder) && show_preorder? %>
    <% end %>
  </section>

  <aside id="distribution-panel" class="four columns">
    <%= render :partial => "album/checklist_and_distribution_ui", :locals => { :album => @single } %>
  </aside>
  <%= render( :partial => 'album/distribute_modal_popup', :locals => { :album => @single }) %>
</div>

<div id="cyrillic_formatting_popup" class="alert mfp-hide">
  <%= render "shared/cyrillic_formatting_popup" %>
</div>

<div id="popup_modal">
</div>
