<%= render partial: "/admin/shared/searchbox" %>
<%= render partial: "admin/people/mini_person", locals: { person: @person } %>
<section id="admin_content">
  <h2>Login Events</h2>

  <table>
    <thead>
    <tr>
      <th>Time</th>
      <th>IP Address</th>
      <th>Subdivision</th>
      <th>City</th>
      <th>Country</th>
      <th>User Agent</th>
    </tr>
    </thead>
    <tbody>
    <% @login_events.each do |login_event| %>
      <tr>
        <td><%= login_event.created_at %></td>
        <td><%= login_event.ip_address %></td>
        <td><%= login_event.subdivision %></td>
        <td><%= login_event.city %></td>
        <td><%= login_event.country %></td>
        <td><%= login_event.user_agent %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div style="text-align: right; clear: both;">
    <%= will_paginate @login_events, previous_label: "Previous", next_label: "Next" %>
  </div>

</section>
