<div id="sales_listing">
  <h1>Admin :: Album Purchase History</h1>
  <%= render :partial => '/admin/albums/micro_album', :locals => {:album => @album, :person => @person} %>

  <h2>All Purchases</h2>
  <% if @purchases.empty? %>
  <p>No Purchases to Display</p>
  <% else %>
  <% reset_cycle() %>
  <table class="sales_data" cellspacing="0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Created On</th>
        <th># Items</th>
        <th>Invoice</th>
        <th>Paid?</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @purchases.each do |purchase|%>
      <tr class="<%=cycle('', 'alt')%>">
        <td class='purchase_links'><%= link_to purchase.id, admin_person_album_purchase_path(@person, @album, purchase) %></td>
        <td><%= fmt_country_date(purchase.created_at) %></td>
        <td><%= purchase_num_items(purchase) %></td>
        <td class='invoice_links'><%= purchase_invoice_link(purchase)%></td>
        <td><%= purchase_paid(purchase)%></td>
        <td><%= purchase_total(purchase)%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>

