<div id="formcontainer">
  <div id="sales_listing">
    <h1>Admin :: Add Certificate for Purchase <%= @purchase.id %></h1>
    <%= render :partial => '/admin/albums/micro_album', :locals => {:album => @album, :person => @person} %>
    <h1 class="page_title">enter certificate</h1>
    <%= form_tag create_cert_admin_purchase_path(@person, @album, @purchase) do %>
    <!-- standard cert code entry -->
    <fieldset>	
      <div id="certform" style="width:370px;text-align:right;padding:20px">
        <label for="cert_code" style="font-weight:bold">Certificate code:</label>
        <%= text_field_tag 'cert_code', @cert_code, :size => 16, :style => "margin-left:0px" %><br/>
      </div>
    </fieldset>
    <fieldset>
      <div style="text-align:right;">
        <%= image_submit_tag('submitcode_large.gif', :value => 'submit code') %><br/>

        <%= link_to image_tag('/images/cancel_and_go_back_large.gif', :alt => 'cancel'), admin_person_album_purchase_path(@person, @album, @purchase) %>
      </div>
    </fieldset>
    <% end #from %>
  </div>
</div>