<div id="sales_listing">
  <h1>Admin :: Album Purchase Detail</h1>
  <%= render :partial => '/admin/albums/micro_album', :locals => {:album => @album, :person => @person} %>

  <h2>Purchase <%= @purchase.id %></h2>
  <table class="pivoted" cellpadding="0" cellspacing="0">
    <tr>
      <th>Created at</th>
      <td><%= fmt_country_datetime(@purchase.created_at) %></td>
    </tr>
    <tr>
      <th>Invoice</th>
      <td><%= purchase_invoice_link(@purchase) %></td>
    </tr>
    <tr>
      <th>Paid?</th>
      <td><%= purchase_paid(@purchase) %></td>
    </tr>
    <tr>
      <th>Cost</th>
      <td><%= purchase_base_cost(@purchase) %></td>
    </tr>
    <tr>
      <th>Discount</th>
      <td><%= purchase_discount(@purchase) %></td>
    </tr>
    <tr>
      <th>Total</th>
      <td><%= purchase_total(@purchase) %></td>
    </tr>
    <tr>
      <th>Price Calculator</th>
      <td><%= purchase_price_calculator_name(@purchase) %></td>
    </tr>
  </table>

  <div class="button-array">
    <%= button_to 'Enter Promotional Code', new_cert_admin_person_album_purchase_path(@person, @album, @purchase), :disabled => !@purchase.allow_new_cert?, :method => :get %>
    <%= button_to 'Delete Purchase', admin_person_album_purchase_path(@person.id, @album, @purchase), :disabled => true || !@purchase.delistable?, :method => :delete %>
  </div>

  <h2>Items included in this purchase</h2>
  <p>This purchase does not contain any item-specific information.</p>
</div>
