<% content_for :signature do %>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" width="640" style="padding: 10px;">
        <p>Your friends @TuneCore.</p>
      </td>
    </tr>
  </table>
<% end %>