<% content_for :greeting do %>
<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <p><%= custom_t("mass_takedown_mailer.internal_claim_from_stores_template.greeting", name: @person.name)%>,</p>
    </td>
  </tr>
</table>
<% end %>

<table border="0" cellpadding="0" cellspacing="0" width="640">
  <tr>
    <td align="left" valign="top" style="border-collapse: collapse; margin: 10px 0; padding: 0 10px;">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="left" valign="middle" width="640" style="border-collapse: collapse;">
            <p><%= custom_t("mass_takedown_mailer.internal_claim_from_stores_template.claim_for_rights") %>:</p>

            <% @albums.each do |album| %>
                Release Title: <%= album[:album].name %><br/>
                Artist       : <%= album[:album].artist.name%>
                UPC          : <%= album[:album].upc.number %>
              <br/>
              <br/>
            <% end %>
            <%= custom_t("mass_takedown_mailer.internal_claim_from_stores_template.release_blocked") %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<%= render partial: "signature" %>

