<% content_for :greeting do %>
<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <p><%= custom_t("mass_takedown_mailer.default_template.greeting", name: @person.name) %></p>
    </td>
  </tr>
</table>
<% end %>

<table border="0" cellpadding="0" cellspacing="0" width="640">
  <tr>
    <td align="left" valign="top" style="border-collapse: collapse; margin: 10px 0; padding: 0 10px;">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="left" valign="middle" width="640" style="border-collapse: collapse;">
            <p><%= custom_t("mass_takedown_mailer.default_template.processed_takedown") %>:</p>

            <% @albums.each do |album| %>
              <a href="<%= album_url(host: @person.domain, id: album[:album]) %>">
                <%= album[:album].name %> (<%= album[:album].upc.number %>)
              </a>
              <br/>
              Taken down from:
                <% if album[:stores] == :all %>
                  All Stores
                <% else %>
                  <%= album[:stores].map { |store| store.name }.to_sentence %>
                <% end %>
              <br/>
              <br/>
            <% end %>

            <%= custom_t("mass_takedown_mailer.default_template.takedown_message", country_domain: @person.country_domain) %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<%=render partial: 'signature'%>

