<li class="admin-section">
  <% if current_user.is_administrator || session[:admin] %>
    <% if under_admin_control? %>
      <%= link_to 'Give back control', account_release_account_path(album: (@album || @ringtone || @single)),
        target: '_top', class: "admin-btn"%>
    <% else %>
      <%= link_to 'Switch To Admin', admin_home_path, class: "admin-btn" %>
    <% end %>
  <% end %>
</li>
