<!--this is nearly duplicated code from app/views/shared/_user_balance.html.erb because this uses a different layout-->
<% if available_in_region?(current_user.country_domain, "foreign_exchange_rates_balance_display") %>
  <li>
    <%= link_to "#{custom_t(:balance)}: #{display_user_balance}", list_transactions_path,
                {class:"foreign-exchange-balance-link"}%>
  </li>

  <li>
    <div class="foreign-exchange-balance-display">
      <%= display_user_balance(iso_code: "US", currency: 'USD') %>
    </div>
  </li>

  <li>
<!--    header-has-tip does not exist, we just didn't want the existing styling (dotted line on the bottom)-->
<!--    keeping a class there for future use-->
    <i
      class="fa fa-question-circle fa-lg fx-rate-tooltip-text"
      data-tooltip
      data-tooltip-class="header-tooltip"
      data-trigger-class="header-has-tip"
      title="<%= custom_t('alternative_balance.info', {date: current_fx_rate_updated_at(:date),
                                                       time: current_fx_rate_updated_at(:time)}) %>"
    ></i>

  </li>
<% else %>
  <li>
    <%= link_to "#{custom_t(:balance)}: #{display_user_balance}", list_transactions_path%>
  </li>
<% end %>
