<% unless local_assigns[:no_balance] == true %>
  <li>
    <a href="/my_account/list_transactions">
      <strong><%= custom_t(:balance) %> <%= display_user_balance %></strong>
      <% if show_details %><span><%= custom_t('shared.inside_header.balance_content') %></span><% end %>
    </a>
  </li>
<% end %>
<li>
  <a href="/sales/date_report">
    <strong><%= custom_t('shared.inside_header.music_sales') %></strong>
    <% if show_details %><span><%= custom_t('shared.inside_header.music_sales_content') %></span><% end %>
  </a>
</li>
<li>
  <a href="/youtube_royalties/release_report">
    <strong><%= custom_t(:ytsr) %></strong>
    <% if show_details %><span><%= custom_t('shared.inside_header.ytsr_report_content') %></span><% end %>
  </a>
</li>
<li>
  <a href="/trend_reports">
    <strong><%= custom_t('shared.inside_header.daily_trends') %></strong>
    <% if show_details %><span><%= custom_t('shared.inside_header.trends_content') %></span><% end %>
  </a>
</li>
<li>
  <a href="/my_account/exports">
    <strong><%= custom_t('shared.inside_header.dl_sales') %></strong>
    <% if show_details %><span><%= custom_t('shared.inside_header.exports_content') %></span><% end %>
  </a>
</li>
<li>
  <a href="/my_account/youtube_exports">
    <strong><%= custom_t('shared.inside_header.dl_youtube') %></strong>
    <% if show_details %><span><%= custom_t('shared.inside_header.yt_exports_content') %></span><% end %>
  </a>
</li>
<% if show_invited_splits_menu_link? %>
  <li>
    <%= link_to invited_royalty_splits_path do %>
      <strong><%= custom_t('royalty_splits.my_invited_splits') %></strong>
      <% if show_details %><span><%= custom_t('shared.inside_header.my_invited_splits_content') %></span><% end %>
    <% end %>
  </li>
<% end %>
