<li>
  <a href="/discography">
    <strong><%= custom_t(:discography_header) %></strong>
    <% if show_details %><span><%= custom_t('shared.inside_header.list_of_all_your_releases') %></span><% end %>
  </a>
</li>
<li>
  <a href="/store_manager">
    <strong><%= custom_t(:store_manager_global) %></strong>
    <% if show_details %><span><%= custom_t('shared.inside_header.send_your_release_to_more') %></span><% end %>
  </a>
</li>
<li>
  <a href="/albums/new">
    <strong><%= custom_t('shared.inside_header.add_a_new_album') %></strong>
    <% if show_details %><span><%= custom_t('shared.inside_header.two_songs_or_more') %></span><% end %>
  </a>
</li>
<li>
  <a href="/singles/new">
    <strong><%= custom_t('shared.inside_header.add_a_single') %></strong>
    <% if show_details %><span><%= custom_t('shared.inside_header.one_song_shorter') %></span><% end %>
  </a>
</li>
<% if freemium_flow_enabled? %>
  <li>
    <a href="/albums/new">
      <strong><%= custom_t('shared.inside_header.add_a_new_facebook_album') %></strong>
      <% if show_details %><span><%= custom_t('shared.inside_header.two_songs_or_more_facebook_only') %></span><% end %>
    </a>
  </li>
  <li>
    <a href="/singles/new">
      <strong><%= custom_t('shared.inside_header.add_a_new_facebook_single') %></strong>
      <% if show_details %><span><%= custom_t('shared.inside_header.one_song_facebook_only') %></span><% end %>
    </a>
  </li>
<% end %>
<li>
  <a href="/ringtones/new">
    <strong><%= custom_t('shared.inside_header.add_a_new_ringtone') %></strong>
    <% if show_details %><span><%= custom_t('shared.inside_header.one_track_long') %></span><% end %>
  </a>
</li>
<% unless owns_or_carted_plan? %>
  <li>
    <a href="/credits">
      <strong><%= custom_t(:distribution_credits) %></strong>
      <% if show_details %><span><%= custom_t('shared.inside_header.if_you_release') %></span><% end %>
    </a>
  </li>
<% end %>
<% if current_user.is_video_customer? %>
  <li>
    <a href="/videography">
      <strong><%= custom_t(:videography) %></strong>
      <% if show_details %><span><%= custom_t('shared.inside_header.list_of_videos') %></span><% end %>
    </a>
  </li>
<% end %>
