<li class="notifications">
  <a href="<%= notifications_path %>">
    <i class="fa fa-bell fa-lg fa-2x"></i>
    <div class="notifications_count <%= 'seen' if Notification.all_seen?(current_user) %>">
      <%= Notification.unseen_notification_count(current_user) %>
    </div>
  </a>
</li>
