<li>
  <a href="<%= tc_social_linkshare_url %>">
    <strong><%= custom_t('shared.inside_header.linkshare') %></strong>
    <% if show_details %><span><%= custom_t('shared.inside_header.linkshare_content') %></span><% end %>
  </a>
</li>
