<% unless current_user_has_composers? %>
  <li>
    <a href="<%= music_publishing_admin_link %>">
      <strong><%= custom_t('shared.inside_header.how_it_works') %></strong>
      <% if show_details %><span><%= custom_t('shared.inside_header.how_it_works_content') %></span><% end %>
    </a>
  </li>
  <li>
    <a href="<%= knowledgebase_link_for('publishing-admin-index', country_website) %>" target="_blank">
      <strong><%= custom_t('shared.inside_header.knowledge_base') %></strong>
      <% if show_details %><span><%= custom_t('shared.inside_header.knowledge_base_content') %></span><% end %>
    </a>
  </li>
  <li>
    <%= link_to_terms_and_conditions(true) %>
  </li>
  <li>
    <a href="/composers/new">
      <strong><%= custom_t('shared.inside_header.register') %></strong>
      <% if show_details %><span><%= custom_t('shared.inside_header.register_content') %></span><% end %>
    </a>
  </li>
<% else %>
  <li>
    <a href="/composers">
      <strong><%= custom_t(:publishing_dashboard) %></strong>
      <% if show_details %><span><%= custom_t('shared.inside_header.manage_publishing_account') %></span><% end %>
    </a>
  </li>
  <% if display_composition_manager_link? %>
    <li>
      <a href="/song_registrations">
        <strong><%= custom_t('shared.inside_header.comp_manager') %></strong>
        <% if show_details %><span><%= custom_t('shared.inside_header.comp_manager_content') %></span><% end %>
      </a>
    </li>
  <% end %>
  <li>
    <a href="<%= music_publishing_admin_link %>">
      <strong><%= custom_t('shared.inside_header.how_it_works') %></strong>
      <% if show_details %><span><%= custom_t('shared.inside_header.how_it_works_content') %></span><% end %>
    </a>
  </li>
  <li>
    <a href="<%= knowledgebase_link_for('publishing-admin-index', country_website) %>" target="_blank">
      <strong><%= custom_t('shared.inside_header.knowledge_base') %></strong>
      <% if show_details %><span><%= custom_t('shared.inside_header.knowledge_base_content') %></span><% end %>
    </a>
  </li>
  <li>
    <%= link_to_terms_and_conditions %>
  </li>
  <% unless current_user.paid_for_composer? || current_user.paid_for_publishing_composer? || rights_app_enabled? %>
    <li>
        <a href="/composers/<%= current_user.composers.first.id %>/edit">
        <strong><%= custom_t('shared.inside_header.songwriter_registration') %></strong>
        <% if show_details %><span><%= custom_t('shared.inside_header.songwriter_registration_content') %></span><% end %>
      </a>
    </li>
  <% end %>
<% end %>
