<li>
  <% if available_in_region?(current_user.country_domain, "refer_a_friend") %>
    <a href="#" class="friendbuy-<%=refer_a_friend_config('header_link')%>">
      <i id="refer-a-friend-icon" class="fa fa-users fa-lg"></i><%= custom_t('shared.inside_header.refer_a_friend') %>
    </a>
  <% end %>
</li>
