<% if tc_social_visible_for?(current_user) %>
  <li>
    <a href="<%= tc_social_nav_path %>" id="tc_social_global_header_link">
      <%= custom_t('shared.inside_header.social') %>
    </a>
  </li>
<% end %>
