<li>
    <strong>
        <%= link_to custom_t('shared.inside_header.youtube_monetization'), ytm_link %>
    </strong>
</li>
<% if !hide_legacy_fb_monetization? %>
  <li>
    <strong>
      <%= link_to custom_t('shared.inside_header.facebook_music'),
        new_facebook_track_monetization_subscription_path %>
    </strong>
  </li>
<% end %>
