<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/interstitial.css" %>
  <%= stylesheet_link_tag "/stylesheets/account_profile_survey_interstitial.css" %>
<% end %>

<header id="header">
  <div class="container">
    <a href="/dashboard" class="logo"><img src="/images/tc_logos/tunecore_png_black_knockout_horizontal_big.png" alt="TuneCore"></a>
  </div>
</header>

<section class="interstitial">
  <header class="row">
    <div class="columns twelve centered">
      <% unless flash[:notice].nil? %>
      <div class="flash columns eight centered"><%= flash[:notice] %></div>
      <% end %>
      <h1><%= custom_t(".tell_us_more") %></h1>
      <h2><%= custom_t(".about_you_yourcareer") %></h2>
    </div>
  </header>

  <div class="row">
    <div class="columns ten centered">
      <hr class="top">
      <iframe id="survey-iframe" src="https://www.surveygizmo.com/s3/2218482/Customer-Profile-Survey-Revised-7-1?sguid=<%=@survey_info.get_survey_token%>" frameborder="0" width="700" height="420" style="overflow:hidden"></iframe>
      <%= link_to custom_t(".submit"), @redirect_url, class: "btn btn-action main-action" %>
      <%= link_to custom_t(".start_over"), restart_survey_path( current_user.id, "interstitial"), class: "restart-survey" %>
      <hr class="bottom">
    </div>
  </div>

  <div class="row">
    <div class="buttons columns twelve centered">
      <%= link_to custom_t(".skip_survey"), @redirect_url, class: "btn btn-action" %>
      <p><%= custom_t(".access_survey") %></p>
    </div>
  </div>
</section>
