<% content_for :css do %>
  <style type="text/css">
  body {
    background-color: #25ae9e;
    color: #fff;
  }
  #header.store_manager {
    background-color: #d1eae7;
  }
  .interstitial h2 {
    font-size: 5em;
    text-transform: uppercase;
    margin-top: 1.7em;
  }
  .interstitial h3 {
    color: #fff;
    font-size: 2.3em;
    font-weight: normal;
  }
  .interstitial p {
    font-size: 1.3em;
    margin-bottom: 2.8em;
  }
  .interstitial .btn {
    text-transform: none;
    font-size: 1.3em;
    font-weight: normal;
    margin-right: 1em;
  }
  .interstitial .btn-callout {
    background-color: #e7790e;
    border: 1px solid #e7790e;
  }
  .interstitial .btn-callout-alt {
    background-color: #3b96cf;
    border: 1px solid #3b96cf;
    color: #fff;
  }
  .store_manager.interstitial {
    background: url("/images/store_manager_bg.png") no-repeat 35% 50%;
  }
  @media screen and (max-width: 930px) {
    .interstitial {
      font-size: 1em;
    }
  }
  @media screen and (max-width: 760px) {
    .interstitial > header {
      position: relative;
    }
    .interstitial > header > .columns {
      float: left;
      width: auto;
    }
    .interstitial > header > .four {
      position: absolute;
      top: 0;
      right: 10px;
      padding: 0;
    }
    .interstitial > header > .four .six {
      float: left;
      padding: 0;
      width: 50%;
    }
  }
  @media screen and (max-width: 630px) {
    .interstitial {
      font-size: .9em;
    }
  }
  @media screen and (max-width: 570px) {
    .interstitial {
      font-size: .8em;
    }
  }
  @media screen and (max-width: 510px) {
    .interstitial > header h2 {
      margin-top: 3.2em;
    }
    .interstitial > header > .eight,
    .interstitial > header > .ten {
      font-size: .7em;
    }
  }
  @media screen and (max-width: 410px) {
    .interstitial > header h2 {
      margin-top: 4.1em;
    }
    .interstitial > header > .eight,
    .interstitial > header > .ten {
      font-size: .6em;
    }
    .interstitial .btn {
      font-size: 1em;
    }
  }
  @media screen and (max-width: 370px) {
    .interstitial > header h2 {
      margin-top: 7em;
    }
    .interstitial > header > .eight,
    .interstitial > header > .ten {
      font-size: .4em;
    }
    .interstitial .btn {
      font-size: .9em;
    }
  }

  body {
    background: <%= @cms_set["bg_color"] %>;
    height: 100%;
  }
  .wrapper {
    background: transparent url('<%= @cms_set["background_img"] %>') <%= @cms_set["bg_repeat"] %> center 72px;
    height: 100%;
  }
  #header {
    background-color: transparent;
    padding-top: 10px;
  }
  .interstitial {
    color: #000f33;
    padding: 10px 0 0;
    text-align: center;
  }
  .interstitial p {
    font-size: 2.2em;
    font-weight: 700;
    line-height: 1.45;
    margin: 0 0 18px;
    padding: 36px 21px 0;
    text-align: left;
  }
  .interstitial .buttons {
    margin-top: 18px;
  }
  .interstitial .btn {
    font-size: 1.8em;
  }
  </style>
<% end %>

<div class="wrapper">
  <header id="header">
  <div class="container">
    <a href="/dashboard" class="logo">
      <img src="<%= asset_logo(@cms_set["logo"]) %>" alt="TuneCore">
    </a>
  </div>
</header>

<section class="interstitial">
  <header class="row">
    <div class="columns nine centered">
      <h1><img src="<%= @cms_set["banner_img"] %>"></h1>
    </div>
  </header>

  <div class="row">
    <div class="columns nine centered">
      <% if @cms_set["markup"] %>
        <%= @cms_set["markup"].html_safe %>
      <% end %>
      <div class="buttons">
        <a href="<%= @cms_set["button_1_url"] %>" class="btn btn_one <%= button_color(@cms_set["button_1_color"]) %>">
          <%= @cms_set["button_1_text"] %>
        </a>

        <a href="<%= @cms_set["button_2_url"] ? @cms_set["button_2_url"] : "/dashboard" %>" class="btn btn_two <%= @cms_set["button_2_color"] ? button_color(@cms_set["button_2_color"]) : "btn-action" %>">
          <%= @cms_set["button_2_text"] ? @cms_set["button_2_text"] : custom_t(".take_me_to_dashboard") %>
        </a>
      </div>
    </div>
  </div>
</section>
</div>
