<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/mobile_interstitial.css" %>
  <%= stylesheet_link_tag "language_selector" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/language_selector.js" %>
<% end %>


<% album_cart_path = add_to_cart_product_path(@album_credit_id) %>
<% single_cart_path = add_to_cart_product_path(@single_credit_id) %>

<header class="header">
  <section class="hd-top no-padding">
    <div class="row">
      <div class="twelve columns">
        <%= render "application/foundation/logo" %>

        <nav class="site_controls">
          <%= render partial: 'shared/language_selector', locals: {tc_foundation: false} %>
        </nav>

        <menu class="mobile mobile-bottom interstitial-lang-selector">
          <%= render partial: 'shared/language_selector', locals: {tc_foundation: false, mobile: true} %>
        </menu>
      </div>
    </div>
  </section>
</header>

<section>
  <div class="row">
    <h1><%= custom_t(".sell_your_music") %></h1>
    <p><%= custom_t(".get_started") %></p>
  </div>

  <hr>

  <div class="row">
    <h1 class="planning">
      <%= custom_t(".album_distribution") %>
    </h1>

    <p>
      <%= custom_t(".album_distribution_description") %>
    </p>

    <p class="price">
      <%= album_price_with_currency(@person) %>
    </p>

    <p class="annualprice">
      <%= custom_t(".album_followup_price", product_price: renewal_price(:album)) %>
    </p>

    <%= link_to custom_t(".add_to_cart"),
      album_cart_path,
      id: "mobile-button-buy-credits",
      class: "button-callout buy-credits"
    %>

    <hr>

    <h1 class="planning">
      <%= custom_t(".single_distribution") %>
    </h1>

    <p>
      <%= custom_t(".single_distribution_description") %>
    </p>

    <p class="price">
      <%= single_price_with_currency(@person) %>
    </p>

    <p class="annualprice">
      <%= custom_t(".single_followup_price", product_price: renewal_price(:single)) %>
    </p>

    <%= link_to custom_t(".add_to_cart"),
      single_cart_path,
      id: "mobile-button-buy-credits",
      class: "button-callout buy-credits"
    %>

    <% if facebook_freemium_enabled? %>
      <hr>

      <h1 class="planning">
        <%= custom_t(".facebook_distribution") %>
      </h1>

      <p>
        <%= custom_t(".facebook_distribution_description") %>
      </p>

      <p class="price">
        <%= custom_t('.facebook_price') %>
      </p>

      <p class="annualprice">
        <%= custom_t(".facebook_followup_price") %>
      </p>

      <%= link_to custom_t(".add_facebook_album_to_cart"),
        new_facebook_album_path(popup: SpecializedRelease::FB_TERMS),
        id: "mobile-button-buy-credits",
        class: "button-callout buy-credits white-button"
      %>

      <%= link_to custom_t(".add_facebook_single_to_cart"),
        new_facebook_single_path(popup: SpecializedRelease::FB_TERMS),
        id: "mobile-button-buy-credits",
        class: "button-callout buy-credits white-button"
      %>
    <% end %>
  </div>

  <div class="footer">
    <%= link_to custom_t(".full_experience"),
      dashboard_path(pb: 'fl'),
      id: "mobile-button-continue-to-tuncore"
    %>
  </div>

</section>
