<section id="payment-preferences" class="grid_11">
  <header style="height: auto; margin-bottom: 0px;">
    <h1><%= custom_t(".my_payment_pref") %></h1>
    <h6><%= custom_t(".auto_renewal") %></h6>
  </header>
  <%= error_messages_for(@person) -%>
  <fieldset>
    <%= form_for @person_preference do |f| -%>
      <%= hidden_field_tag :enable_auto_renewal %>
      <%= f.submit custom_t(".auto_renewals_on"), :class=>'button-callout-alt', :style => 'float: left; width: 200px;' %>
    <% end -%>
  </fieldset>
</section>
