<div class="payoneer-onboarding-header hide-for-small-only">
  <div class="payoneer-onboarding-header-body grid-x">
    <div class="payoneer-onboarding-header-body-text-container">
      <div class="payoneer-onboarding-header-body-text-container-heading">
        <%= custom_t("payoneer_status.index.payout_onboarding") %>
      </div>

      <% if current_user.payout_provider.blank? || current_user.payout_provider.needs_resubmission? %>
        <div class="payoneer-onboarding-header-body-text-container-link">
          <%= link_to custom_t("payoneer_status.index.back_to_fees"), payoneer_fees_path %>
        </div>
      <% end %>
    </div>

    <div class="payoneer-onboarding-header-body-spacer"></div>

    <div class="payoneer-onboarding-header-body-image-container">
      <%= image_tag("payoneer/payoneer-logo-grey-rgb-v2.png") %>
    </div>
  </div>
</div>

<div class="payoneer-onboarding-body grid-x hide-for-small-only">
  <div class="left-side cell medium-8">
    <%= render "step" %>
  </div>

  <div class="right-side cell medium-4">
    <div class="payoneer-info-box">
      <div class="payoneer-info-box-header">
        <%= custom_t("payoneer_status.index.why_payoneer") %>
      </div>
      <div class="payoneer-info-box-description">
        <%= custom_t("payoneer_status.index.secure_withdrawals") %>
      </div>

      <%= link_to custom_t("payoneer_status.index.payoneer_partnership"), "https://explore.payoneer.com/tunecore", target: "_blank" %>
    </div>

    <div class="payoneer-info-box">
      <div class="payoneer-info-box-header">
        <%= custom_t("payoneer_status.index.fees") %>
      </div>
      <div>
        <%= custom_t("payoneer_status.index.fee_explanation") %>
      </div>
      <% if available_in_region?(current_user.country_domain, "payoneer_fee_modal") %>
        <div>
          <span class="payoneer-fee-modal-trigger"><%= custom_t("payoneer_status.index.fee_breakdown") %></span>
        </div>
      <% end %>
    </div>

    <div class="payoneer-info-box">
      <div class="payoneer-info-box-header">
        <%= custom_t("payoneer_status.index.questions") %>
      </div>
      <div>
        <%= custom_t("payoneer_status.index.security_importance") %>
      </div>

      <%= link_to custom_t("payoneer_status.index.faq"), "https://payoneer.custhelp.com/app/home", target: "_blank" %>
    </div>
  </div>
</div>
