<% if show_payoneer_currency_selector? %>
  <span class="payoneer-currency-selection-trigger"><%= custom_t("payoneer_status.index.go_to_app") %></span>
<% else %>
  <% if payout_provider_link? %>
    <%= link_to custom_t("payoneer_status.index.go_to_app"), payout_provider.provider_link %>
  <% else %>
    <%= link_to custom_t("payoneer_status.index.go_to_app"), payout_provider_registrations_path, method: :post %>
  <% end %>
<% end %>
