<div class="show-for-small-only">
  <div class="payoneer-mobile-onboarding-header grid-x">
    <div class="payoneer-mobile-onboarding-header-text cell small-12">
      <%= custom_t("payoneer_status.index.payout_onboarding") %>
    </div>
  </div>

  <div class="grid-x">
    <div class="cell small-12 payoneer-mobile">
      <div class="progress payoneer-mobile-progress-bar" role="progressbar" tabindex="0" aria-valuenow="<%= calculate_status_bar %>" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
        <div class="progress-meter" style="width: <%= calculate_status_bar %>%"></div>
      </div>

      <div class="payoneer-mobile-gray-text payoneer-mobile-step-index">
        <%= custom_t("payoneer_status.index.step_index", current_step: current_step, total_steps: total_steps_to_complete) %>
      </div>

      <% if PayoneerStatusController::STEP_TRANSLATION_MAP[current_step.to_s] %>
        <span class="payoneer-mobile-gray-text">
          <%= custom_t(PayoneerStatusController::STEP_TRANSLATION_MAP[current_step.to_s]) %>
        </span>
      <% else %>
        <span class="payoneer-mobile-gray-text">
          <%= custom_t("payoneer_status.index.complete_application") %>
        </span>
        <%= render 'goto_app_link' %>
      <% end %>
    </div>
  </div>

  <hr/>

  <div class="grid-x">
    <div class="payoneer-mobile-info-box cell small-12">
      <div class="payoneer-mobile-info-box-header">
        <%= custom_t("payoneer_status.index.why_payoneer") %>
      </div>
      <div class="payoneer-mobile-info-box-description">
        <%= custom_t("payoneer_status.index.secure_withdrawals") %>
      </div>

      <%= link_to custom_t("payoneer_status.index.payoneer_partnership"), "https://explore.payoneer.com/tunecore", target: "_blank" %>
    </div>
  </div>

  <hr/>

  <div class="grid-x">
    <div class="payoneer-mobile-info-box cell small-12">
      <div class="payoneer-mobile-info-box-header">
        <%= custom_t("payoneer_status.index.fees") %>
      </div>
      <div>
        <%= custom_t("payoneer_status.index.fee_explanation") %>
      </div>
      <% if available_in_region?(current_user.country_domain, "payoneer_fee_modal") %>
        <span class="payoneer-fee-modal-trigger"><%= custom_t("payoneer_status.index.fee_breakdown") %></span>
      <% end %>
    </div>
  </div>

  <hr/>

  <div class="grid-x">
    <div class="payoneer-mobile-info-box cell small-12">
      <div class="payoneer-mobile-info-box-header">
        <%= custom_t("payoneer_status.index.questions") %>
      </div>
      <div>
        <%= custom_t("payoneer_status.index.security_importance") %>
      </div>

      <%= link_to custom_t("payoneer_status.index.faq"), "https://payoneer.custhelp.com/app/home", target: "_blank" %>
    </div>
  </div>

  <div class="grid-x">
    <div class="cell small-12 payoneer-mobile-image-container">
      <%= image_tag("payoneer/payoneer-logo-grey-rgb-v2.png") %>
    </div>
  </div>
</div>
