<% PayoneerStatusController::SIGN_UP_STEPS.each do |onboarding_step| %>
  <% if onboarding_step == 1 %>
    <div class=<%= current_step == onboarding_step ? "payoneer-step-selected" : "payoneer-step" %>>
      <div class=<%= current_step == onboarding_step ? "payoneer-step-circle-selected" : "payoneer-step-circle" %>>
        <div class="payoneer-step-circle-count">1</div>
      </div>
      <div class="payoneer-step-content">
        <span class="payoneer-step-content-text">
          <%= custom_t("payoneer_status.index.complete_application") %>
        </span>
        <% if onboarding_step == current_step %>
          <span class="payoneer-step-content-link">
            <%= render 'goto_app_link' %>
          </span>
        <% end %>
      </div>
    </div>
  <% elsif (onboarding_step == 4 && payoneer_last_onboard_step?) || onboarding_step != 4%>
    <div class=<%= current_step == onboarding_step ? "payoneer-step-selected" : "payoneer-step" %>>
      <div class=<%= current_step == onboarding_step ? "payoneer-step-circle-selected" : "payoneer-step-circle" %>>
        <div class="payoneer-step-circle-count"><%= onboarding_step %></div>
      </div>
      <div class="payoneer-step-content">
        <span class="payoneer-step-content-text">
          <%= custom_t(PayoneerStatusController::STEP_TRANSLATION_MAP[onboarding_step.to_s]) %>
        </span>

        <% if onboarding_step == 2 && current_step == 2 %>
          <div class='payoneer-step-cta'>
            <%= custom_t("payoneer_status.index.application_reviewed_cta",
                       payoneer_link: 'https://payoneer.custhelp.com/app/home',
                       dashboard_link: dashboard_path) %>
          </div>
        <% elsif onboarding_step == 3 && current_step == 3 %>
          <%= link_to custom_t('payoneer_status.index.withdraw_funds'), withdraw_path %>
        <% elsif (onboarding_step == 4 && payoneer_last_onboard_step?) %>
          <%= link_to 'Tax Form', edit_person_path(tab: 'tax_info', id: current_user.id) %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>



