<fieldset>
  <% if action_name == "new" || action_name == "create" %>
  <ul>
  <% CountryWebsiteLanguage.all.each do |country_website_language| %>
    <li><%= check_box_tag "country_languages[#{country_website_language.selector_country}]", country_website_language.id %><label for="<%= country_website_language.selector_country %>"><%= "Tunecore #{country_website_language.selector_country}" %></label></li>
  <% end %>
  </ul>
  <% else %>
    <%= check_box_tag "country_languages[#{country_website_language}]", country_website_language, checked = true, disabled: true %><label for="<%= country_website_language %>">  TuneCore <%= country_website_language.upcase %></label>
  <% end %>
</fieldset>
