<input type="hidden" name="type" value="dashboard">

<fieldset>
  <label for="dashboard_name">Callout Name:</label>
  <input type="text" name="name" id="dashboard_name" class="form-text" value="<%= @cms_set["callout_name"] %>">
</fieldset>

<%= render partial: 'cms_countries' %>

<fieldset>
  <label for="asset_dashboard_img">Dashboard Banner:</label>
  <%= file_field 'asset', 'dashboard_img' %>
  <img src="<%= @cms_set["dashboard_img"] %>" alt="">
</fieldset>

<fieldset>
  <label for="asset_dashboard_url">Dashboard Banner URL:</label>
  <%= text_field 'asset', 'dashboard_url', class: "form-text", placeholder: "http://www.nba.com or /index/pricing", value: @cms_set["dashboard_url"] %>
</fieldset>

<fieldset>
  <label for="asset_bg_color">Background <%= t(:color).capitalize %>:</label>
  <input type="color" id="asset_bg_color" name="asset[bg_color]" value="<%= @cms_set["bg_color"] %>">
</fieldset>

<fieldset class="form-actions">
  <%= submit_tag "Submit" %>
</fieldset>
