<input type="hidden" name="type" value="interstitial">

<fieldset>
  <label for="interstitial_name">Callout Name:</label>
  <input type="text" name="name" id="interstitial_name" class="form-text" value="<%= @cms_set["callout_name"] %>">
</fieldset>

<%= render partial: 'cms_countries' %>

<fieldset class="radio">
  <label for="asset_logo">TuneCore Logo:</label>
  <ul>
    <li><label><%= radio_button_tag "asset[logo]", "color_black", @cms_set["logo"] == "color_black" %><img src="/images/tc_logos/color/TuneCore_PNG_black_color_horizontal.png" alt=""></label></li>
    <li><label><%= radio_button_tag "asset[logo]", "color_white", @cms_set["logo"] == "color_white" %><img src="/images/tc_logos/color/TuneCore_PNG_white_color_horizontal.png" alt="" class="img_bg_dark"></label></li>
    <li><label><%= radio_button_tag "asset[logo]", "knockout_black", @cms_set["logo"] == "knockout_black" %><img src="/images/tc_logos/knockout/TuneCore_PNG_black_knockout_horizontal.png" alt=""></label></li>
    <li><label><%= radio_button_tag "asset[logo]", "knockout_white", @cms_set["logo"] == "knockout_white" %><img src="/images/tc_logos/knockout/TuneCore_PNG_white_knockout_horizontal.png" alt="" class="img_bg_dark"></label></li>
  </ul>
</fieldset>

<fieldset>
  <label for="asset_banner_img">Banner:</label>
  <%= file_field 'asset', 'banner_img' %>
  <img src="<%= @cms_set["banner_img"] %>" alt="">
</fieldset>

<fieldset>
  <label for="asset_markup">Content:</label>
  <%= text_area 'asset', 'markup', cols: 20, rows: 40, value: @cms_set["markup"]  %>
</fieldset>

<fieldset>
  <label for="asset_button_1_text">Button 1 Text:</label>
  <%= text_field 'asset', 'button_1_text', class: "form-text", value: @cms_set["button_1_text"] %>
</fieldset>

<fieldset>
  <label for="asset_button_1_url">Button 1 URL:</label>
  <%= text_field 'asset', 'button_1_url', class: "form-text", placeholder: "http://www.nba.com or /index/pricing", value: @cms_set["button_1_url"] %>
</fieldset>

<fieldset>
  <label for="asset_button_1_color">Button 1 Color:</label>
  <%= select 'asset', 'button_1_color', options_for_select([["Blue", "blue"], ["Orange", "orange"], ["Gray", "gray"]], selected: @cms_set["button_1_color"]) %>
</fieldset>

<fieldset>
  <label for="asset_button_2_text">Button 2 Text:</label>
  <%= text_field 'asset', 'button_2_text', class: "form-text", value: @cms_set["button_2_text"] %>
</fieldset>

<fieldset>
  <label for="asset_button_2_url">Button 2 URL:</label>
  <%= text_field 'asset', 'button_2_url', class: "form-text", placeholder: "http://www.nba.com or /index/pricing", value: @cms_set["button_2_url"] %>
</fieldset>

<fieldset>
  <label for="asset_button_2_color">Button 2 Color:</label>
  <%= select 'asset', 'button_2_color', options_for_select([["",""], ["Gray", "gray"], ["Blue", "blue"], ["Orange", "orange"]], selected: @cms_set["button_2_color"]) %>
</fieldset>

<fieldset>
  <label for="asset_background_img">Background Image:</label>
  <%= file_field 'asset', 'background_img' %>
  <img src="<%= @cms_set["background_img"] %>" alt="">
</fieldset>

<fieldset class="radio">
  <label for="asset_bg_repeat">Background Repeat:</label>
  <ul>
    <li><label><%= radio_button_tag 'asset[bg_repeat]', 'no-repeat', @cms_set["bg_repeat"] == 'no-repeat' %> No Repeat</label></li>
    <li><label><%= radio_button_tag 'asset[bg_repeat]', 'repeat', @cms_set["bg_repeat"] == 'repeat' %> Repeat X &amp; Y</label></li>
  </ul>
</fieldset>

<fieldset>
  <label for="asset_bg_color">Background Color:</label>
  <input type="color" id="asset_bg_color" name="asset[bg_color]" value="<%= @cms_set["bg_color"] %>">
</fieldset>

<fieldset class="form-actions">
  <%= submit_tag "Submit" %>
</fieldset>
