<input type="hidden" name="type" value="login">

<fieldset>
  <label for="login_name">Callout Name:</label>
  <input type="text" name="name" id="login_name" class="form-text" value="<%= @cms_set["callout_name"] %>">
</fieldset>

<%= render partial: 'cms_countries' %>

<fieldset>
  <label for="asset_login_img">Login Sticker:</label>
  <%= file_field 'asset', 'login_img' %>
  <img src="<%= @cms_set["login_img"] %>" alt="">
</fieldset>

<fieldset class="form-actions">
  <%= submit_tag "Submit" %>
</fieldset>
