<% content_for :css do %>
  <%= stylesheet_link_tag  "/stylesheets/spectrum.css" %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/admin.css" %>
  <%= stylesheet_link_tag "/stylesheets/admin_form.css" %>
  <%= stylesheet_link_tag "/stylesheets/cms.css" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/spectrum" %>
<% end %>

<main class="content">
  <header>
    <div class="row">
      <div class="twelve columns">
        <section class="breadcrumbs">
          <a href="<%= admin_cms_path %>">CMS</a>
          <a href="<%= new_admin_cm_path %>">Edit Callout</a>
        </section>
      </div>
    </div>
  </header>

  <% if @type == "interstitial" %>
    <section id="interstitial" class="callout_form">
      <header class="row">
        <div class="twelve columns">
          <h1>Interstitial Callout</h1>
        </div>
      </header>

      <div class="row">
        <div class="twelve columns">
          <%= form_tag admin_cm_path(@cms_set), method: :put, class: "interstitial_callout_form", multipart: true do %>
            <%= render partial: "interstitial_form" %>
          <% end %>
        </div>
      </div>
    </section>
  <% elsif @type == "dashboard" %>
    <section id="dashboard" class="callout_form">
      <header class="row">
        <div class="twelve columns">
          <h1>Dashboard Callout</h1>
        </div>
      </header>

      <div class="row">
        <div class="twelve columns">
          <%= form_tag admin_cm_path(@cms_set), method: :put, class: "dashboard_callout_form", multipart: true do %>
            <%= render partial: "dashboard_form" %>
          <% end %>
        </div>
      </div>
    </section>
  <% elsif @type == "login" %>
    <section id="login" class="callout_form">
      <header class="row">
        <div class="twelve columns">
          <h1>Login Callout</h1>
        </div>
      </header>

      <div class="row">
        <div class="twelve columns">
          <%= form_tag admin_cm_path(@cms_set), method: :put, class: "login_callout_form", multipart: true do %>
            <%= render partial: "login_form" %>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>
</main>
