<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/spectrum.css" %>
  <%= stylesheet_link_tag "/stylesheets/jquery.datetimepicker.css" %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/admin.css" %>
  <%= stylesheet_link_tag "/stylesheets/cms.css" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/jquery.datetimepicker" %>
  <script>
  jQuery(function($){
    $('input[type="datetime"]').datetimepicker({
      format:'n/j/Y g:i A'
    });
  });
  </script>
<% end %>

<main class="content">
  <header class="row">
    <div class="twelve columns">
      <h1>CMS</h1>
      <nav class="cms_nav" role="navigation">
        <ul>
          <li><%= link_to "New Login Promo", new_admin_cm_path(type: "login"), class: "button" %></li>
          <li><%= link_to "New Dashboard Promo", new_admin_cm_path(type: "dashboard"), class: "button" %></li>
          <li><%= link_to "New Interstitial Promo", new_admin_cm_path(type: "interstitial"), class: "button"  %></li>
        </ul>
      </nav>
    </div>
  </header>

 <div class="row">
  <% @active_sets.keys.each do |country_website_language| %>
    <section class="promo_table promo_active twelve columns">
      <header>
        <h2><%= country_website_language.selector_country %> Active Promos</h2>
      </header>

      <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if @active_sets[country_website_language].each do |cms| %>
            <tr>
              <td><%= cms.callout_type.capitalize %></td>
              <td><%= cms.callout_name %></td>
              <td>
                <% unless cms.callout_name == "None" %>
                  <%= form_tag admin_cm_path(cms), method: :put, class: "callout_datetime_form", multipart: true do %>
                    <input id="start_tmsp" name="start_tmsp" type="datetime" value="<%= l(cms.start_tmsp, format: :short_time_with_meridian) if cms.start_tmsp %>">
                    <input type="submit" value="save">
                  <% end %>
                <% else %>
                  <%= l(cms.start_tmsp, format: :short_time_with_meridian) %>
                <% end %>
              </td>
              <td>
                <% unless cms.callout_name == "None" %>
                  <%= link_to "Edit", edit_admin_cm_path(cms, type: cms.callout_type) %> | <%= link_to "Deactivate", admin_cm_deactivate_path(cms),  method: :put, id: "deactivate_#{cms.id}" %>
                <% else %>
                  No Actions
                <% end %>
              </td>
            </tr>
          <% end.empty? %>
            <tr>
              <td colspan="4">No Active Promos</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>
    <section class="promo_table promo_upcoming twelve columns">
      <header>
        <h2>Upcoming Promos</h2>
      </header>

      <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>Country Website</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if @upcoming_sets.each do |cms| %>
            <tr>
              <td><%= cms.callout_type.capitalize %></td>
              <td><%= cms.country_website_language.selector_country %></td>
              <td><%= cms.callout_name %></td>
              <td>
                <%= form_tag admin_cm_path(cms), method: :put, class: "callout_datetime_form", multipart: true do %>
                  <input id="start_tmsp" name="start_tmsp" type="datetime" value="<%= l(cms.start_tmsp, format: :short_time_with_meridian) if cms.start_tmsp %>">
                  <input type="submit" value="save">
                <% end %>
              </td>
              <td>
                <%= link_to "Edit", edit_admin_cm_path(cms, type: cms.callout_type) %> | <%= link_to "Clear Date", admin_cm_path(cms), method: :delete %> | <%= link_to "Preview", admin_cm_preview_path(cms) %>
              </td>
            </tr>
          <% end.empty? %>
            <tr>
              <td colspan="4">No Upcoming Promos</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>

    <section class="promo_table promo_other twelve columns">
      <header>
        <h2>Unscheduled or Archived Promos</h2>
      </header>

      <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>Country Website</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if @unscheduled_sets.each do |cms| %>
            <tr>
              <td><%= cms.callout_type.capitalize %></td>
              <td><%= cms.country_website_language.selector_country %></td>
              <td><%= cms.callout_name %></td>
              <td>
                <%= form_tag admin_cm_path(cms), class: "callout_datetime_form", method: :put, multipart: true do %>
                  <input id="start_tmsp" name="start_tmsp" type="datetime">
                  <input type="submit" value="save">
                <% end %>
              </td>
              <td>
                <%= link_to "Activate", admin_cm_activate_path(cms), method: :put, id: "activate_#{cms.id}" %> | <%= link_to "Edit", edit_admin_cm_path(cms, type: cms.callout_type) %> | <%= link_to "Preview", admin_cm_preview_path(cms) %>
              </td>
            </tr>
          <% end.empty? %>
            <tr>
              <td colspan="4">No Unscheduled or Archived Promos</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  </div>
</main>
