<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/spectrum.css" %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/admin.css" %>
  <%= stylesheet_link_tag "/stylesheets/admin_form.css" %>
  <%= stylesheet_link_tag "/stylesheets/cms.css" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/spectrum" %>
<script>
jQuery(function($){
  var $tabs = $(".tabs").find("a"),
  $sections = $(".callout_form");

  $tabs.on('click', function(e){
    e.preventDefault();
    var $this = $(this),
    section = $this.attr("href");

    $tabs.closest("li").removeClass("active");
    $this.closest("li").addClass("active");
    $sections.hide();
    $(section).show();
  });

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $(input).next('img').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("input[type='file']").change(function(){
    readURL(this);
  });
});
</script>
<% end %>

<main class="content">
  <header>
    <div class="row">
      <div class="twelve columns">
        <section class="breadcrumbs">
          <a href="<%= admin_cms_path %>">CMS</a>
          <a href="<%= new_admin_cm_path %>">Create Callout</a>
        </section>
      </div>
    </div>
  </header>

  <nav class="tabs row" role="navigation">
    <div class="twelve columns">
      <ul>
        <li class="<%= @type == "interstitial" ? "active" : "" %>"><a href="#interstitial" class="interstitial">Interstitial</a></li>
        <li class="<%= @type == "dashboard" ? "active" : "" %>"><a href="#dashboard" class="dashboard">Dashboard</a></li>
        <li class="<%= @type == "login" ? "active" : "" %>"><a href="#login" class="login">Login</a></li>
      </ul>
    </div>
  </nav>

  <section id="interstitial" class="callout_form" style="<%= @type == "interstitial" ? "" : "display: none;" %>">
    <header class="row">
      <div class="twelve columns">
        <h1>Interstitial Callout</h1>
      </div>
    </header>

    <div class="row">
      <div class="twelve columns">
        <%= form_tag admin_cms_path, class: "interstitial_callout_form", multipart: true do %>
          <%= render partial: "interstitial_form" %>
        <% end %>
      </div>
    </div>
  </section>

  <section id="dashboard" class="callout_form" style="<%= @type == "dashboard" ? "" : "display: none;" %>">
    <header class="row">
      <div class="twelve columns">
        <h1>Dashboard Callout</h1>
      </div>
    </header>

    <div class="row">
      <div class="twelve columns">
        <%= form_tag admin_cms_path, class: "dashboard_callout_form", multipart: true do %>
          <%= render partial: "dashboard_form" %>
        <% end %>
      </div>
    </div>
  </section>

  <section id="login" class="callout_form" style="<%= @type == "login" ? "" : "display: none;" %>">
    <header class="row">
      <div class="twelve columns">
        <h1>Login Callout</h1>
      </div>
    </header>

    <div class="row">
      <div class="twelve columns">
        <%= form_tag admin_cms_path, class: "login_callout_form", multipart: true do %>
          <%= render partial: "login_form" %>
        <% end %>
      </div>
    </div>
  </section>
</main>
