var $ = jQuery;

var copyrightStatus = `
  <span class="copyright-status <%= @copyright_status.status %>-status">
    <%= @copyright_status.status.capitalize %>
  </span>
`;
$(".copyright-status").html(copyrightStatus);
$("#copyright_status_note_note").val("");

if (<%= @status_updater.error.present? %>) {
  var errorMsg = `<span class="rejected-status"><%= @status_updater.error %></span>`
  $(".flash-msg").html(errorMsg);
} else {
  var successMsg = `<span class="<%= @copyright_status.status%>-status">
      Copyright Status was updated to <%= @copyright_status.status.capitalize %>
    </span>`;
  $(".flash-msg").html(successMsg);
  var new_note = `<%= render partial: 'admin/notes/album_note', locals: { album_note: @album.notes.first, album: @album } %>`
  $(".album-notes").prepend(new_note)
}
