<h1><%= t(:authoriz).capitalize %>e access to your account</h1>
<p>Would you like to <%= t(:authoriz) %>e <%= link_to @token.client_application.name,@token.client_application.url %> (<%= link_to @token.client_application.url,@token.client_application.url %>) to access your account?</p>
<%= form_tag oauth_authorize_url do %>
  <%= hidden_field_tag "oauth_token", @token.token %>
  <%- if params[:oauth_callback] -%>
  <%= hidden_field_tag "oauth_callback", params[:oauth_callback] %>
<%- end -%>
<p>
  <%= check_box_tag 'authorize' %> <%= t(:authoriz) %>e access
</p>
<p>
  <%= submit_tag %>
</p>
<% end %>
