<h1>Authorize access to your account</h1>
<p>Would you like to authorize <%= link_to @client_application.name,@client_application.url %> (<%= link_to @client_application.url,@client_application.url %>) to access your account?</p>
<%= form_tag oauth_authorize_url do %>
  <%= hidden_field_tag "response_type", params[:response_type] %>
  <%= hidden_field_tag "client_id", params[:client_id] %>
  <%= hidden_field_tag "redirect_uri", params[:redirect_uri] || @client_application.callback_url %>
  <%= hidden_field_tag "state", params[:state] %>
  <%= hidden_field_tag "scope", params[:scope] %>

<p>
<%= check_box_tag 'authorize' %> authorize access to:
</p>

<ul>
  <li>account email/name</li>
  <li>albums/songs/artists metadata</li>
</ul>

<p>
  <%= submit_tag "Allow" %>
</p>
<% end %>
