<% if track_mon.enqueuable? && track_mon.eligible? %>
  <div style="float: right; overflow: hidden; text-align: right;">
    <span class="retry-button">
      <%= link_to "retry",
      admin_track_monetization_retries_path(id: track_mon.id, delivery_type: "full_delivery"),
      class: "retry-link",
      method: :post,
      remote: true %>
    </span>
    <br/>
    <span class="retry-button">
      <%= link_to "send metadata update",
      admin_track_monetization_retries_path(id: track_mon.id, delivery_type: "metadata_only"),
      class: "retry-link",
      method: :post,
      remote: true %>
    </span>
  </div>
<% else %>
  <div style="float: right; overflow: hidden; text-align: right;">
    <span style="display: inline-block; margin-top: 5%; color: #CC0000;">
      Monetization is ineligible or in a non-deliverable state.
    </span>
  </div>
<% end %>
<br />
<b>Eligibility: </b> <%= track_mon.eligibility_status %>
<br />
<b>Takedown: </b>
<% if track_mon.takedown_at? %>
  <span class="error">
    Yes, on <%= track_mon.takedown_at.to_s(:db) %>
    <br />
    (<%= link_to "Clear",
      admin_track_monetization_takedown_path(id: track_mon.id),
      method: :delete,
      data: {
        confirm: "Are you sure you want to remove the takedown for this track monetization?"
      } %>)
    </span>
<% else %>
  No
  <br />
  (<%= link_to "Mark as takedown",
    admin_track_monetization_takedowns_path(id: track_mon.id),
    method: :post,
    data: {
      confirm: display_alert_msg_for(track_mon.store_id)
    } %>)
<% end %>
<% if releases_stores_track&.last_batch_id %>
  <br />
  <strong>Batch ID: </strong>
  <%=releases_stores_track.last_batch_id%>
  (<strong><%=releases_stores_track.last_batch_state%></strong>)
  on <%=releases_stores_track.last_batch_updated_at.to_datetime.to_s(:db)%>
  <br/>
<% end %>
