<div id="store-group-<%= store_group.short_name %>" abbreviation="<%= store_group.abbreviation %>" class="store-selection <%= cycle('even', 'odd') %> <% if !store_group.short_name[/itunes-/].nil? %>itunes_regional<% end %>">
  <div class="accordion-header">
    <h4 class="store_icon-<%= store_group.abbreviation %> store_name">
      <label for="album_store_selection_<%= store_group.stores.first.id %>">
        <%= store_group.salepoint_title %>
        <%= link_to custom_t(:more_info).downcase, store_info_knowledgebase_link(store_group, @album.ringtone?), class: "more_info", target: "_blank" %>
      </label>
    </h4>
    <div class="selection-control">
      <%= store_group.selection_checkbox if album_artwork_high_quality? %>
    </div>
  </div>
  <div class="accordion-body <%= "hide" unless store_group.is_checked? %>">

    <p class="aod_us"><%= custom_t(".what_is_aod") %></p>

    <div class="editor">
      <div class="editorSummary">
        <div style="float: left;">
          <%= custom_t(".retail_price_of_cd") %>: <span class="store-price"></span><br />
          <%= custom_t(".amount_you_get") %>: <span class="sale-price"></span><br />
        </div>
        <div style="float: left; padding-left: 20px; padding-top: 10px;">
          <% if @album.finalized_at.nil? or !store_group.is_checked? %><a href="#" class="openEditor">(<%= custom_t(:edit).downcase %>)</a><% end %>
        </div>
      </div>
      <div class="editorContent">
        <h2 class="hd"><%= custom_t(".edit_retail_price") %></h2>
        <%= render partial: "normal_variable_pricing", locals: { :store => store_group.default_store, :salepoint => store_group.salepoint, store_group: store_group }  %>
      </div>
    </div>

    <% if @album.finalized_at.nil? %>
      <p class="em"><%= custom_t(:note) %>: <%= custom_t(".under_78_minutes") %></p>
    <% end %>

    <ul class="hide">
      <% store_group.active_stores.each do |store| %>
        <% store_view = SalepointHelper::StoreView.new(
            :store => store,
            :salepoints => @salepoints,
            :album => @album,
            :store_group => store_group.store_group,
            already_checked: store_group.is_checked?
          )
        %>
        <li class="checkbox">
          <%= store_view.id_hidden_field %>
          <%= store_view.store_id_hidden_field %>
          <%= store_view.checkbox %>
          <%= store_view.salepoint_label %>
          <%= store_view.price_label %>

          <% if store.needs_rights_assignment? %>
            <%= hidden_field_tag "album[salepoints]#{store.id}[salepoint][has_rights_assignment]", true , :id=>"album_store_selections_#{store.id}_has_rights_assignment"%>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
