<section id="automator" style="padding-top: 20px;">
  <header>
    <h2 class="reg_headline"><%= custom_t(:future_digital_stores) %></h2>
  </header>
  <div class="box box-grey">
    <div class="left" style="width: 75%;">
      <input type="hidden" name="deliver_automator" value=0 <% if @album.salepoint_subscription && @album.salepoint_subscription.finalized? %> disabled="disabled" <% end %> />
      <%= check_box_tag 'deliver_automator', 1, automator_check, :disabled => (@album.salepoint_subscription && @album.salepoint_subscription.finalized?) %>
      <label for="deliver_automator" style="margin-left: 5px; float: none; font-size: 1.5em; color: #333333; font-weight: bold;"><%= custom_t(:store_automator) %></label>
      <p style="padding-top: 10px; padding-left: 22px;"><%= custom_t("shared.automator.click_to_add_automator") %></p>
    </div>
    <div class="right" style="width: 25%; text-align: right;">
      <span style="font-weight: bold; font-size: 2em; color: #333333;"><%= automator_price_with_discount(@album) %></span>
    </div>
    <div class="clearfix">&nbsp;</div>
  </div>
</section>
