<div class="editor">
  <div class="editorSummary">
    <%= custom_t(".wholesale_price") %>: <span class="store-price"></span> <a href="#" class="openEditor"><% if @album.finalized_at.nil? %>(<%= custom_t(:edit).downcase %>)<% else %>(<%= custom_t(:view) %>)<% end %></a>
  </div>
  <div class="editorContent">
    <h2 class="hd"><%= custom_t(".edit_price_tier") %></h2>
    <%= render partial: "normal_variable_pricing", locals: { store: store_group.default_store, salepoint: store_group.salepoint, store_group: store_group }  %>
  </div>
</div>
