<div id="store-group-<%= store_group.short_name %>" abbreviation="<%= store_group.abbreviation %>" class="store-selection <%= cycle('even', 'odd') %> <% if !store_group.short_name[/itunes-/].nil? %>itunes_regional<% end %>">
  <div class="accordion-header" id ='itunes-accordion'>
    <h4 class="store_icon-<%= store_group.abbreviation %> store_name">
      <label for="album_store_selection_<%= store_group.stores.first.id %>">
        <%= store_group.salepoint_title %>
        <%= link_to custom_t(:more_info).downcase, store_info_knowledgebase_link(store_group, @album.ringtone?), class: "more_info", target: "_blank" %>
      </label>
    </h4>
    <% if @showItunesWW %>
      <div class="selection-control">
        <%= render "plans/upgrade_msg_lock_icon" %>
        <%= store_group.selection_checkbox %>
      </div>
    <% else %>
      <div class="wwUpgrade">
        <div class="upgrade">
          <h2><%= custom_t(".upgrade_to_itunes_ww") %></h2>
          <%= custom_t(".itunes_stores", itunes_stores: @album.salepoints.map { |sp| sp.store.name if sp.store.name[/iTunes/] }.compact.join(', ')) %>
          <%= link_to custom_t(".activate_itunes_ww"), activate_itunes_ww_album_salepoints_path, method: :post, remote: true, class: "blue-btn activateWW" %>
          <br /><br />
        </div>
        <div id="wwDialog">
          <div class="wwAlertHolder">
            <h2><%= custom_t(".itunes_worldwide") %></h2>
            <div class="wwAlert">
              <%= custom_t(".itunes_go_live") %><br /><br />
              <span class="red"><%= custom_t(:warning) %>:</span> <%= custom_t(".territory_disclaimer") %>
              "<%= custom_t(".countries_and_regions") %>" <%= custom_t(".do_not_click") %> "<%= custom_t(".activate_and_continue") %>". <a target="_blank" href="<%= knowledgebase_link_for('help-homepage') %>/app/country_restrictions"><%= custom_t(".contact_us") %></a> <%= custom_t(".we_will_handle_for_you") %>
            </div>
            <div style="text-align: center;">
              <a href="#" class="blue-btn activateWW"><%= custom_t(".activate_and_continue") %></a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="accordion-body">
    <% if @showItunesWW && !@album.ringtone? %>
      <div class="editor">
        <div class="editorSummary">
          <h2 class="store_icon-apple-music store_name"><%= custom_t(:apple_music) %>&nbsp;<a href="<%= knowledgebase_link_for('apple-music-description', country_website) %>" class="more_info" target="_blank">(<%= custom_t(:more_info).downcase %>)</a></h2>
          <div class="selection-control">
            <%= render "plans/upgrade_msg_lock_icon" %>
            <label for="apple-music-opt-in"><%= custom_t(:deliver_here) %></label>
            <input
              type="checkbox"
              <%= "checked" if @apple_music_checked %>
              <%= "disabled" if !@apple_music_checked %>
              id="apple-music-opt-in"
              name="apple_music_opt_in"
            />
          </div>
          <p class="tagline"><%= custom_t(".itunes_required_for_apple_music") %> </p>
        </div>
        <div class="editorContent">
        </div>
      </div>
    <% end %>

    <ul class="hide">
      <% store_group.active_stores.each do |store| %>
        <% store_view = SalepointHelper::StoreView.new(
            :store => store,
            :salepoints => @salepoints,
            :album => @album,
            :store_group => store_group.store_group,
            already_checked: store_group.is_checked?
          )
        %>
        <li class="checkbox">
          <%= store_view.id_hidden_field %>
          <%= store_view.store_id_hidden_field %>
          <%= store_view.variable_price_id_hidden_field %>
          <%= store_view.checkbox %>
          <%= store_view.salepoint_label %>
          <%= store_view.price_label %>

          <% if store.needs_rights_assignment? %>
            <%= hidden_field_tag "album[salepoints]#{store.id}[salepoint][has_rights_assignment]", true , :id=>"album_store_selections_#{store.id}_has_rights_assignment"%>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
