
<h4 class="store_icon-ww store_name">
  <label for="album_store_selection_#{@store.id}">
    <%= @store.name %>
    <%= link_to custom_t(:more_info).downcase, knowledgebase_link_for(Store::STORE_INFO_LINKS['ww'], current_user.country_domain), class: "more_info", target: "_blank" %>
  </label>
</h4>
  <div class="selection-control">
    <input type="checkbox" checked name="store_group_store_id_#{@store.id}" id="album_store_selection_#{@store.id}" value="#{@store.id}" class="deliver" /><label for="album_store_selection_#{@store.id}">Deliver Here</label>
  </div>
<div class="accordion-body itunes-ww-accordion-body">
  <% if !@album.ringtone? %>
    <div class="ww-activated">
      <p class='activate-message'> <%= custom_t("salepoints.itunes.itunes_ww_activated") %></p>
    </div>
    <div class="editor">
      <div class="editorSummary">
        <h2 class="store_icon-apple-music store_name"><%= custom_t(:apple_music) %>&nbsp;<a href="<%= knowledgebase_link_for('apple-music-description', country_website) %>" class="more_info" target="_blank">(<%= custom_t(:more_info).downcase %>)</a></h2>
        <div class="selection-control">
          <label for="apple-music-opt-in"><%= custom_t(:deliver_here) %></label>

          <input
            type="checkbox"
            checked
            <%= "disabled" if !@apple_music_checked %>
            id="apple-music-opt-in"
            name="apple_music_opt_in"
          />
        </div>
        <p class="tagline"><%= custom_t(".itunes_required_for_apple_music") %> </p>
      </div>
    </div>
  <% end %>
</div>

