<div id="<%= "variable_pricing_assignment_#{store.id}"%>" class="variable-pricing-assignment " >
  <ul class="variable-prices">
    <% store.variable_prices.user_editable.each do |variable_price| %>
      <li>
        <%
          is_selected = if salepoint
            salepoint.variable_price == variable_price
          else
            store.default_variable_price && store.default_variable_price == variable_price
          end
        %>
        <%= radio_button_tag "album[salepoints]#{store.id}[salepoint][variable_price_id]",
          variable_price.id,
          is_selected,
          :disabled => (salepoint.is_disabled? if salepoint),
          :index => store.id,
          :price_display => variable_price.price_code_display
        %>
        <label for="album_salepoints<%= store.id %>_salepoint_variable_price_id_<%=  variable_price.id %>">
          <%=  variable_price.price_code_display %>
        </label>
      </li>
    <% end %>
  </ul>

  <% unless store.abbreviation == "aod_us" %>
    <div class="variable-pricing-explanation">
      <%=
        begin
          render(:partial => "variable_pricing_blurb_#{store.abbrev}")
        rescue
          "&nbsp"
        end
      %>
    </div>
  <% end %>
</div>
<% if @album.finalized_at.nil? || !store_group.is_checked? %>
  <div style="text-align: right;">
    <a href="#" class="blue-btn closeEditor"><%= custom_t(:close) %></a>
  </div>
<% end %>
