<div id="store-group-<%= store_group.short_name %>" abbreviation="<%= store_group.abbreviation %>" class="store-selection <%= cycle('even', 'odd') %>">
  <div class="accordion-header">
    <h4 class="store_icon-<%= store_group.abbreviation %> store_name">
      <label for="album_store_selection_<%= store_group.stores.first.id %>">
        <%= store_group.salepoint_title %>
        <%= link_to custom_t(:more_info).downcase, store_info_knowledgebase_link(store_group), class: "more_info", target: "_blank" %>
      </label>
    </h4>
    <div class="selection-control">
      <%= store_group.selection_checkbox %>
    </div>
  </div>
  <div class="accordion-body">
    <p><%= custom_t(".special_message") %></p>
    <ul class="hide">
      <% store_group.active_stores.each do |store| %>
        <% store_view = SalepointHelper::StoreView.new(
            :store => store,
            :salepoints => @salepoints,
            :album => @album,
            :store_group => store_group.store_group,
            already_checked: store_group.is_checked?
          )
        %>
        <li class="checkbox">
          <%= store_view.id_hidden_field %>
          <%= store_view.store_id_hidden_field %>
          <%= store_view.variable_price_id_hidden_field %>
          <%= store_view.checkbox %>
          <%= store_view.salepoint_label %>
          <%= store_view.price_label %>

          <% if store.needs_rights_assignment? %>
            <%= hidden_field_tag "album[salepoints]#{store.id}[salepoint][has_rights_assignment]", true , :id=>"album_store_selections_#{store.id}_has_rights_assignment"%>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
