<div id="store-group-<%= store_group.short_name %>" abbreviation="<%= store_group.abbreviation %>" class="store-selection <%= cycle('even', 'odd') %> <% if !store_group.short_name[/itunes-/].nil? %>itunes_regional<% end %>">
  <div class="accordion-header">
    <h4 class="store_icon-<%= Store.get_custom_abbrev(store_group.abbreviation) %> store_name">
      <label for="album_store_selection_<%= store_group.stores.first.id %>">
        <%= store_group.salepoint_title %>
        <%= link_to custom_t(:more_info).downcase, store_info_knowledgebase_link(store_group, @album.ringtone?), class: "more_info", target: "_blank" %>
      </label>
    </h4>
    <div class="selection-control">
      <%= render "plans/upgrade_msg_lock_icon" unless @digital_stores.any?(&:is_discovery_platform?) %>
      <%= store_group.selection_checkbox %>
    </div>
  </div>
  <div class="accordion-body">
    <%= render partial: "az", locals: { store_group: store_group } if store_group.abbreviation == "az" %>
    <%= render partial: "napster_iheart", locals: { store_group: store_group } if ["rh","tp"].include?(store_group.abbreviation) %>
    <ul class="hide">
      <% store_group.stores.each do |store| %>
        <% store_view = SalepointHelper::StoreView.new(
            :store => store,
            :salepoints => @salepoints,
            :album => @album,
            :store_group => store_group.store_group,
            already_checked: store_group.is_checked?
          )
        %>
        <li class="checkbox">
          <%= store_view.id_hidden_field %>
          <%= store_view.store_id_hidden_field %>
          <%= store_view.variable_price_id_hidden_field unless store_group.abbreviation == "az" %>
          <%= store_view.checkbox %>
          <%= store_view.salepoint_label %>
          <%= store_view.price_label %>

          <% if store.needs_rights_assignment? %>
            <%= hidden_field_tag "album[salepoints]#{store.id}[salepoint][has_rights_assignment]", true , :id=>"album_store_selections_#{store.id}_has_rights_assignment"%>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
