<div id="frontline_table" class="pricing-table hide">
	<h3 class="hd"><%= custom_t(".front_line_pricing") %></h3>
	<table>
		<thead>
			<tr>
				<th><%= custom_t(".when_your_album_sells_with_ellipsis") %> <%= custom_t(".tunecore_pays_you") %>:</th>
				<th>($U.S.)</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= custom_t(".ten_or_more") %></td>
				<td>$6.50</td>

			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 9) %></td>
				<td>$6.12</td>

			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 8) %></td>
				<td>$5.44</td>

			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 7) %></td>
				<td>$4.76</td>

			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 6) %></td>
				<td>$4.08</td>

			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 5) %></td>
				<td>$3.40</td>

			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 4) %></td>
				<td>$2.72</td>

			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 3) %></td>
				<td>$2.04</td>

			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 2) %></td>
				<td>$1.36</td>

			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th><%= custom_t(".for_each_individual_track_with_ellipsis") %> <%= custom_t(".tunecore_pays_you") %>:</th>
				<th>($U.S.)</th>

			</tr>
			<tr>
				<td><%= custom_t(".individual_song") %></td>
				<td>$0.70</td>

			</tr>
		</tfoot>
	</table>
</div>
<div id="midline_table" class="pricing-table hide">
	<h3 class="hd"><%= custom_t(".mid_line_pricing") %></h3>
	<table>
		<thead>
			<tr>
				<th><%= custom_t(".when_your_album_sells_with_ellipsis") %> <%= custom_t(".tunecore_pays_you") %>:</th>
				<th>($U.S.)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= custom_t(".ten_or_more") %></td>
				<td>$5.60</td>
			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 9) %></td>
				<td>$5.60</td>
			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 8) %></td>
				<td>$5.04</td>
			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 7) %></td>
				<td>$4.41</td>
			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 6) %></td>
				<td>$3.78</td>
			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 5) %></td>
				<td>$3.15</td>
			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 4) %></td>
				<td>$2.52</td>
			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 3) %></td>
				<td>$1.89</td>
			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 2) %></td>
				<td>$1.26</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th><%= custom_t(".for_each_individual_track_with_ellipsis") %> <%= custom_t(".tunecore_pays_you") %></th>
				<th>($U.S.):</th>
			</tr>
			<tr>
				<td><%= custom_t(".individual_song") %></td>
				<td>$0.63</td>
			</tr>
		</tfoot>
	</table>
</div>
<div id="catalog_table" class="pricing-table hide">
	<h3 class="hd"><%= custom_t(".catalog_pricing") %></h3>
	<table>
		<thead>
			<tr><th><%= custom_t(".when_your_album_sells_with_ellipsis") %> <%= custom_t(".tunecore_pays_you") %>:</th><th>($U.S.)</th></tr>
		</thead>
		<tbody>
			<tr>
				<td><%= custom_t(".ten_or_more") %></td>
				<td>$4.90</td>
			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 9) %></td>
				<td>$4.90</td>
			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 8) %></td>
				<td>$4.90</td>
			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 7) %></td>
				<td>$4.41</td>
			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 6) %></td>
				<td>$3.78</td>
			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 5) %></td>
				<td>$3.15</td>
			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 4) %></td>
				<td>$2.52</td>
			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 3) %></td>
				<td>$1.89</td>
			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 2) %></td>
				<td>$1.26</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th><%= custom_t(".for_each_individual_track_with_ellipsis") %> <%= custom_t(".tunecore_pays_you") %></th>
				<th>($U.S.):</th>
			</tr>
			<tr>
				<td><%= custom_t(".individual_song") %></td>
				<td>$0.63</td>
			</tr>
		</tfoot>
	</table>
</div>
<div id="special_table" class="pricing-table hide">
	<h3 class="hd">Special Pricing</h3>
	<table>
		<thead>
			<tr>
				<th><%= custom_t(".when_your_album_sells_with_ellipsis") %> <%= custom_t(".tunecore_pays_you") %>:</th>
				<th>($U.S.)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= custom_t(".ten_or_more") %></td>
				<td>$4.20</td>
			</tr>
			<tr>
				<td><%= custom_t(".album_has_n_tracks", n: 9) %></td>
				<td>$4.20</td>
			</tr>
		  <tr>
				<td><%= custom_t(".album_has_n_tracks", n: 8) %></td>
				<td>$4.20</td>
			</tr>
		  <tr>
				<td><%= custom_t(".album_has_n_tracks", n: 7) %></td>
				<td>$4.20</td>
			</tr>
		  <tr>
				<td><%= custom_t(".album_has_n_tracks", n: 6) %></td>
				<td>$3.78</td>
			</tr>
		  <tr>
				<td><%= custom_t(".album_has_n_tracks", n: 5) %></td>
				<td>$3.15</td>
			</tr>
		  <tr>
				<td><%= custom_t(".album_has_n_tracks", n: 4) %></td>
				<td>$2.52</td>
			</tr>
		  <tr>
				<td><%= custom_t(".album_has_n_tracks", n: 3) %></td>
				<td>$1.89</td>
			</tr>
		  <tr>
				<td><%= custom_t(".album_has_n_tracks", n: 2) %></td>
				<td>$1.26</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th><%= custom_t(".for_each_individual_track_with_ellipsis") %> <%= custom_t(".tunecore_pays_you") %></th>
				<th>($U.S.):</th>
			</tr>
			<tr>
				<td><%= custom_t(".individual_song") %></td>
				<td>$0.63</td>
			</tr>
		</tfoot>
	</table>
</div>
