<div id="store-group-<%= store_group.short_name %>" abbreviation="<%= store_group.abbreviation %>" class="store-selection <%= cycle('even', 'odd') %> <% if !store_group.short_name[/itunes-/].nil? %>itunes_regional<% end %>">
  <div class="accordion-header" id ='yt-accordion'>
    <h4 class="store_icon-<%= store_group.abbreviation %> store_name">
      <label for="album_store_selection_<%= store_group.stores.first.id %>">
        <%= store_group.salepoint_title %>
        <%= link_to custom_t(:more_info).downcase, store_info_knowledgebase_link(store_group, @album.ringtone?), class: "more_info", target: "_blank" %>
      </label>
    </h4>
    <div class="selection-control">
      <%= store_group.selection_checkbox %>
    </div>
  </div>
  <div class="accordion-body">
    <div class="editor">
      <div class="editorSummary">
        <div id="store-group-<%= ytsr_group.short_name %>" abbreviation="<%= ytsr_group.abbreviation %>" class="store-selection <%= cycle('even', 'odd') %>">
          <h4 class="store_icon-<%= store_group.abbreviation %> store_name">
            <label for="album_store_selection_<%= ytsr_group.stores.first.id %>">
              <%= ytsr_group.salepoint_title %>
              <%= link_to custom_t(:more_info).downcase, knowledgebase_link_for('youtube-music-and-sound-recording-revenue-services', @person.country_website), class: "more_info", target: "_blank" %>
            </label>
          </h4>
          <div class="selection-control">
            <% unless render_ytsr_blocked? %>
              <%= ytsr_group.selection_checkbox %>
            <% end %>
          </div>
          <% if render_ytsr_blocked? %>
            <p class="tagline" id="ytsr-ineligible-notification"><%= custom_t(".ytsr_ineligible") %></p>
          <% end %>
          <p class="tagline"><%= custom_t(".youtube_music_required_for_ytsr") %> </p>
          <ul class="hide">
            <% unless render_ytsr_blocked? %>
              <% ytsr_group.active_stores.each do |store| %>
                <% store_view = SalepointHelper::StoreView.new(
                    :store => store,
                    :salepoints => @salepoints,
                    :album => @album,
                    :store_group => ytsr_group.store_group,
                    already_checked: ytsr_group.is_checked?
                  )
                %>
                <li class="checkbox">
                  <%= store_view.id_hidden_field %>
                  <%= store_view.store_id_hidden_field %>
                  <%= store_view.variable_price_id_hidden_field %>
                  <%= store_view.checkbox %>
                  <%= store_view.salepoint_label %>
                  <%= store_view.price_label %>
                  <% if store.needs_rights_assignment? %>
                    <%= hidden_field_tag "album[salepoints]#{store.id}[salepoint][has_rights_assignment]", true , :id=>"album_store_selections_#{store.id}_has_rights_assignment"%>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="editorContent"></div>
    </div>
    <ul class="hide">
      <% store_group.active_stores.each do |store| %>
        <% store_view = SalepointHelper::StoreView.new(
            :store => store,
            :salepoints => @salepoints,
            :album => @album,
            :store_group => store_group.store_group,
            already_checked: store_group.is_checked?
          )
        %>
        <li class="checkbox">
          <%= store_view.id_hidden_field %>
          <%= store_view.store_id_hidden_field %>
          <%= store_view.variable_price_id_hidden_field %>
          <%= store_view.checkbox %>
          <%= store_view.salepoint_label %>
          <%= store_view.price_label %>

          <% if store.needs_rights_assignment? %>
            <%= hidden_field_tag "album[salepoints]#{store.id}[salepoint][has_rights_assignment]", true , :id=>"album_store_selections_#{store.id}_has_rights_assignment"%>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
