<% content_for :css do %>
  <%= stylesheet_link_tag "release_creation" %>
  <%= stylesheet_link_tag "country_and_store_selector" %>
<% end %>

<% content_for :external_javascript do %>
  <script type="text/javascript">
      var AlbumFinalized     = <% if @album.finalized_at.nil? %>false<% else %>true<% end %>;
      var SalepointsCount    = <%= @salepoints.length %>;
      var ShowItunesWW       = <%= @showItunesWW %>;
      var ShowUpgradeDialog  = <% if cookies[:in_upgrade] %>true<% cookies.delete(:in_upgrade) %><% else %>false<% end %>;
      function salepointFormSubmit() {
        $("#apple-music-opt-in").prop("disabled", false)
      };
  </script>

  <%= javascript_include_tag "/javascripts/app/accordion.js" %>
  <%= javascript_include_tag "store_selector" %>
<% end %>
<%= render partial: "shared/release_rejection", locals: {release: @album} if release_is_rejected? %>

<section id="upgradeDialog" class="hide">
  <h2><%= custom_t(".activation_almost_complete") %></h2>
  <%= custom_t(".successfully_saved_to_itunes_ww") %>
</section>

<div class="row">
  <section class="mainbody eight columns">
    <section class="album_info">
      <%= render :partial => 'album/album_info_small', :locals => {:album => @album} %>
    </section>

    <header>
      <h2 class="main_headline"><%= custom_t(".deliver_my_album_to") %></h2>
    </header>

    <%= form_for :album, url: album_salepoints_path(@album), html: { id: 'salepoint-form', onsubmit: 'salepointFormSubmit();'} do |album_form| %>
      <input type="hidden" id="iso_codes" name="iso_codes" style="display: none;">
      <% if @show_automator && @album.supports_subscriptions %>
        <%= render partial: "automator" %>
      <% end %>

      <section class="store-selection-form">
        <header>
            <div>
            <h2 class="reg_headline left"><%= @digital_stores.any?(&:is_discovery_platform?) ? custom_t(".current_digital_platforms") : custom_t(".current_digital_stores") %></h2>
            <%= submit_tag "#{custom_t(:save)}", {:class => "right", :style => "margin-top: 8px;"} %>
            <%= render "plans/upgrade_msg_in_distribution", class_name: "right" unless @digital_stores.any?(&:is_discovery_platform?) %>
            <div class="clearfix">&nbsp;</div>
            </div>

            <% if @album.is_a?(Ringtone) %>
            <p><%= custom_t(".ringtone_note") %></p>
            <% end %>
        </header>

        <% if !@album.errors.blank? %>
            <div id="errorExplanation" class="errorExplanation">
            <h2><%= custom_t(".modify_store_options") %>:</h2>
            <ul>
                <% @album.errors.each do |_, error| %>
                <li><%= error %></li>
                <% end %>
            </ul>
            </div>
        <% end %>

        <div class="store-selection-container">
            <div class="box box-grey">
            <% if @showItunesWW  %>
                <div class="all_stores">
                <input type="checkbox" id="deliver_all" <% if all_stores_delivered? %>disabled<% end %>
                <% if @all_checked %>checked="checked"<% end %> autocomplete="off" style="margin-top: 5px;">
                <% if @digital_stores.all?(&:is_discovery_platform?) %>
                    <label for="deliver_all" style="margin-left: 5px; float: none;">
                    <%= custom_t(".deliver_to_all_digital_platforms") %>
                    </label>
                    <div class="discovery-platform-msg">
                      <p><%= custom_t(:discovery_platform_message) %><p>
                    </div>
                <% else %>
                    <label for="deliver_all" style="margin-left: 5px; float: none;">
                    <%= custom_t(".deliver_to_all_stores") %>
                </label>
                <% end %>
                </div>
            <% end %>
            <% @digital_stores.each do |store_group| %>
                <% if store_group.short_name == "itunes" %>
                  <%= render :partial => 'itunes', :locals => { album_form: album_form, store_group: store_group } %>
                <% elsif show_yt_ytsr?(store_group) %>
                  <%= render :partial => 'youtube_music',
                             :locals => {
                               album_form: album_form,
                               store_group: store_group,
                               ytsr_group: @ytsr_group
                              }
                  %>
                <% else %>
                  <%= render :partial => 'salepoint', :locals => { album_form: album_form, store_group: store_group } %>
                <% end %>
            <% end %>
            </div>
            <%= submit_tag "#{custom_t(:save)}", {:class => "right"} %>
        </div>
    </section>
  <% end %>

  </section>

  <aside class="four columns">
    <%= render :partial => "album/checklist_and_distribution_ui", :locals => { :album => @album } %>
  </aside>
  <%= render( :partial => 'album/distribute_modal_popup', :locals => { :album => @album }) %>
</div>
