<p>
  <b>Cert Expiry Date</b>
  <div class="datetime">
    <div class="context-wrapper">
      <%= label_tag :cert_expiry_date, "Cert Expiry Date:" %>
      <%= text_field :cert_batch, :expiry_date,
      value: Date.today.end_of_month.strftime('%m/%d/%Y'),
      class: 'date-box short' %>
    </div>
  </div>
</p>

<p>
  <b>Cert Engine</b><br />
  <% css_class = ['odd','even'] %>
  <table>
  <tr><th> </th><th>Name</th><th>Instructions</th></tr>
  <% Cert.available_engine_classes.each do |ce| %>
    <tr class="<%= css_class.nextval %>" >
     <td><%= radio_button :cert_batch, :cert_engine, ce.name.sub('Tunecore::CertEngine::','') %></td>
     <td><label for="cert_batch_cert_engine_<%= ce.name.downcase.sub('certengine', '').gsub('tunecore', '').gsub('::', '') %>"><%= ce.name.sub('Tunecore::CertEngine::','') %></label></td>
         <td><%= ce.instructions %></td>
    </tr>
  <% end %>
  </table>
  <i>Note: A spawning cert means one cert code serves for everyone, each redemption creates a new cert. Otherwise only one person can redeem the code and then it is claimed</i>
</p>

<p>
<label for="cert_batch_engine_params">Engine Params</label>
<i class='pad_left'> see engine instructions for useage</i><br />
  <%= text_field :cert_batch, :engine_params %>
</p>

<p>
<label for="cert_batch_spawning_code">Cert Code</label>
  <i class='pad_left'> the code that people will enter, only applies spawning certs</i><br />
  <%= text_field :cert_batch, :spawning_code %>
</p>

<p>
<label for="cert_batch_brand_code">Cert Brand Code</label>
  <i class='pad_left'> a 6 characters brand code that helps easily identify the brand, e.g. GCDIST (optional)</i><br />
  <%= text_field :cert_batch, :brand_code %>
</p>
