<p>
  <b>Promotion:</b>
  <%=h @cert_batch.promotion %>
</p>

<p>
  <b>Description:</b>
  <%=h @cert_batch.description %>
</p>

<p>
  <b>Created on:</b>
  <%= fmt_long_datetime @cert_batch.created_at %>
</p>

<p>
  <b>Created by:</b>
  <%=h @cert_batch.person.name %>
</p>

<p>
  <b>Engine:</b>
  <%=h @cert_batch.cert_engine %>
</p>

<p>
  <b>Engine Instructions:</b>
  <%=h @cert_batch.engine.class.instructions %>
</p>

<p>
  <b>Engine Params:</b>
  <%=h @cert_batch.engine_params %>
</p>

<p>
  <b>Expiry:</b>
  <%= fmt_long_datetime(@cert_batch.expiry_date) %> <%= link_to "Change", exp_admin_cert_batch_path(@cert_batch) %>
</p>

<% if @cert_batch.spawning? %>
<p>
  <b>Redemption Code:</b>
  <%= @cert_batch.spawning_code %>
</p>
<% end %>

<p>
  <b>Brand Code:</b>
  <%= @cert_batch.brand_code %>
</p>

<p>
  <b>Num Certs:</b>
  <%=h @cert_batch.certs.size %>
</p>


<p>
  <b>Num Redeemed:</b>
  <%=h @cert_batch.redeemed_count %>
</p>

<p>
  <b>For Admin Use Only:</b>
  <%= @cert_batch.admin_only? ? 'True' : 'False' %> <%= link_to "Change", exp_admin_cert_batch_path(@cert_batch) %>
</p>
