<div class="faqtext" style="width:90%;margin-left:10%">

<%= link_to 'Back', admin_cert_batches_path %>

<h1><%= @page_title %></h1>


<%= form_tag add_admin_cert_batch_path(@cert_batch)  %>
  <% if @cert_batch.finalized? %>
    <% unless @cert_batch.spawning? %>
	    <p>
	       ><label for='count'>Number of Certs to Add:</label> <%= text_field_tag "count" %>
	    </p>
    <% end %>

    <br />
    <p><%= submit_tag "Add Certs" %></p>
    <br />

  <% else %>
	<strong style='color:red;'>NOTE: Once you finalize this cert batch you will not be able to edit it or delete the certs you create</strong>
	<br /><br />

		<% unless @cert_batch.spawning? %>
		<p><label for='count'>Number of Certs to Add:</label> <%= text_field_tag "count" %></p>
		<% end %>

    <br />

    <%= render :partial => 'cert_batch' %>

    <br />
    <p><%= submit_tag "Finalize!" %> <span style='padding-left:40px;'><%= link_to 'Go Back', admin_cert_batches_path %></span></p>

	<% end %>
	</form>
</div>