<div class="faqtext" style="width:90%;margin-left:10%">

<%= link_to 'Back', admin_cert_batches_path %>

<h1><%= @page_title %></h1>

<% if @cert_batch.redeemed.empty? %>
  <h3>No Certs In This Batch Have Been Redeemed</h3>
<% else %>
	
<table>
<% css_class = ['odd','even'] %>
<table> 
  <tr>
      <th class='pad_right'>Cert</th>
      <th>Redeemed At</th>
      <th>Person</th>
      <th>Album</th>
      <th>Admin</th>
  </tr>
<% @cert_batch.redeemed.each do |cert| %>
  <tr class="<%= css_class.nextval %>" >
     <td><%= cert.cert %></td>
     <td><%= display_datetime cert.date_used %></td>
     <td><% if cert.person %>
            <%= link_to cert.person.name, :controller => 'admin/people', :action => 'show', :id => cert.person.id %>
         <% end %></td>
     <td><% if cert.purchase && cert.purchase.purchased_item.is_a?(Album) %>
            <%= link_to truncate(cert.purchase.purchased_item.name), :controller => 'admin/albums', :action => 'show', :id => cert.purchase.related_id %>
         <% end %></td>
     <td><% if cert.admin %>
            <%= link_to cert.admin.name, :controller => 'admin/people', :action => 'show', :id => cert.admin.id %>
         <% end %></td>
  </tr>
<% end %>
</table>

<% end %>

<%= link_to 'Back', admin_cert_batches_path %>

</div>