<h1>Editing cert_batch</h1>

<%= error_messages_for @cert_batch %>

<%= form_for(:cert_batch, :url => admin_cert_batch_path(@cert_batch), :html => { :method => :put }) do |f| %>
  <p>
    <b>Promotion</b><br />
    <%= f.text_field :promotion, :size => 50 %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description, :cols => 50, :rows => 2 %>
  </p>

  <br />
  <br />

  <%= render :partial => 'cert_edit' %>

  <br />
  <br />

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', admin_cert_batch_path(@cert_batch) %> |
<%= link_to 'Back', admin_cert_batches_path %>
