<div class="faqtext" style="width:90%;margin-left:10%">
  <%= link_to 'Back', admin_cert_batches_path %>

  <h1><%= @page_title %></h1>

  <%= form_tag exp_admin_cert_batch_path(@cert_batch) do %>
    <div class="context-wrapper">
      <%= label_tag :cert_expiry_date, "Cert Expiry Date:" %>
      <%= text_field :cert, :expiry_date,
      value: @cert_batch.expiry_date.strftime('%m/%d/%Y'),
      class: 'date-box short' %>
    </div>
    <%= submit_tag "Change Expiry" %>
  <% end %>

  <%= form_tag admin_only_admin_cert_batch_path(@cert_batch) do %>
    <%= label_tag :cert_admin_only, "Cert Is For Admins Only:" %>
    <%= check_box :cert, :admin_only %>
    <span style='padding:20px;'> </span>
    <%= submit_tag "Change Admin Only State" %>
  <% end %>

  <%= render :partial => 'cert_batch' %>

  <%= link_to 'Show', admin_cert_batch_path(@cert_batch) %> |
  <%= link_to 'Back', admin_cert_batches_path %>
</div>
