<h3>Certs Lookup:</h3>
<%= render :partial => 'admin/certs/lookup_form' %>

<h1><%= @page_title %></h1>

<%= link_to 'Create New Batch of Certs', new_admin_cert_batch_path %><br /><br />


<%= display_cert_batch_pages %>

<% css_class = ['odd','even'] %>
<table>
  <tr>
    <th>Promotion</th>
    <th>Created</th>
    <th>Expiry</th>
    <th>Total</th>
    <th>Redeemed</th>
  </tr>
  
<% for cert_batch in @cert_batches %>
  <tr class="<%= css_class.nextval %>" >
    <td class='pad_both'><%=h cert_batch.promotion %></td>
    <td class='pad_both'><%= fmt_short_date cert_batch.created_at %></td>
    <td class='pad_both'><%= link_to(fmt_short_date(cert_batch.expiry_date), exp_admin_cert_batch_path(cert_batch), :id => 'expiry') %></td>
    <% if cert_batch.finalized? %>

      <td class='pad_both'><%= cert_batch.certs.size %></td>
      <td class='pad_both'><%= cert_batch.redeemed_count %></td>
      <td class='pad_both'><%= link_to 'Details', admin_cert_batch_path(cert_batch) %></td>
      <td class='pad_both'><%= link_to('Redeemed', certs_admin_cert_batch_path(cert_batch)) if cert_batch.redeemed_count > 0 %></td>
      <td class='pad_both'><%= link_to 'Download', certs_admin_cert_batch_path(cert_batch, :format => :csv) %></td>
      <td class='pad_both'><%= link_to 'Add', add_admin_cert_batch_path(cert_batch) %></td>

   <% else %>

      <td class='pad_both' colspan='2'><i style='color:red;'>Not Finalized</i></td>
      <td class='pad_both'><%= link_to 'Edit', edit_admin_cert_batch_path(cert_batch) %></td>
      <td class='pad_both'></td>
      <td class='pad_both'><%= link_to 'Destroy', admin_cert_batch_path(cert_batch), :confirm => 'Are you sure?', :method => :delete %></td>
      <td class='pad_both'><%= link_to 'Finalize', add_admin_cert_batch_path(cert_batch) %></td>

   <% end %>
    
  </tr>
<% end %>
</table>

<br />

<%= display_cert_batch_pages %>

<br />

<%= link_to 'Create New Batch of Certs', new_admin_cert_batch_path %>
