<style>
  form li {list-style:none;}
</style>
<h1>New cert_batch</h1>

<%= error_messages_for @cert_batch %>

<%= form_for(:cert_batch, :url => admin_cert_batches_path) do |f| %>
  <p>

    <i class='pad_left'> example: Guitar Center Upload Card July 07</i><br />
    <%= f.text_field :promotion, :size => 50 %>
  </p>

  <p>

    <%= f.text_area :description, :cols => 50, :rows => 2 %>
  </p>

  <br />
  <br />

  <%= render :partial => 'cert_edit' %>

  <p><b>Note:</b> Number of certs is chosen when finalizing the batch</p>
  <p>
    <%= submit_tag "Create" %>
  </p>

<% end %>

<%= link_to 'Back', admin_cert_batches_path %>
