<div class="faqtext" style="width:90%;margin-left:10%">

<h1><%= @page_title %></h1>

<%= render :partial => 'cert_batch' %>

<%= link_to 'Edit', edit_admin_cert_batch_path(@cert_batch) %> |
<%= link_to 'Back', admin_cert_batches_path %>

</div>