<%= content_tag :div, class: 'balance-history-table-headers' do %>
  <%= render partial: 'balance_histories/pending_transactions/header_cell',
             collection: headers,
             cached: fragment_caching_enabled?,
             as: :header %>
<% end %>
