<%= content_tag :div, id: "payout-#{transaction.target_id}",
                class: 'balance-history-table-row' do %>
  <%= render "balance_histories/pending_transactions/cell",
             cell_contents: to_date(transaction.created_at) %>

  <%= render "balance_histories/pending_transactions/cell",
             cell_contents: transaction_desc(transaction) %>

  <%= render "balance_histories/pending_transactions/cell",
             cell_contents: pending_transaction_value(transaction) %>

  <%= render "balance_histories/pending_transactions/cell",
             cell_contents: pending_payout_status %>

  <%= render "balance_histories/pending_transactions/transaction_submitted" %>
<% end %>
