<%= content_tag :div, class: "balance-history-table" do %>
  <%= content_tag :div, class: 'balance-history-table-title' do %>
    <%= content_tag :strong, table_title(table_key) %>
  <% end %>

  <%= content_tag :div, class: 'balance-history-table-content' do %>
    <%= render 'balance_histories/pending_transactions/headers',
               table_key: table_key,
               cached: fragment_caching_enabled?,
               headers: headers(table_key) %>
    <%= render(
          partial: 'balance_histories/pending_transactions/pending_row',
          collection: transaction_set,
          cached: fragment_caching_enabled?,
          as: :transaction
        ) || render(partial: 'balance_histories/pending_transactions/txns_empty') %>

    <%= render partial: 'balance_histories/pending_transactions/learn_more' %>
  <% end %>
<% end %>
