/* Republic Records */

#container > nav.grid_5, #container > aside.grid_5 {margin-top:30px;}

#container{
	min-height:960px;
    position: relative;
    z-index: 0;
}

/* Logged in header */
body {background: #fff url(images/backgrounds/body_bg.gif) repeat-x;}
header {margin-bottom:20px;position:relative;height:135px;background: #000 url(images/backgrounds/header_bg.gif) no-repeat -20px 0;z-index:1;}
header h2 span {color: #39f;}

/* Drop down Header menus */

/* homepage */
.canada_flag{display:none;position:absolute;top:-10px;left:248px;}
#index {background: #0d0d0d url(images/backgrounds/index_bg.jpg) no-repeat center -196px;color:#999;}
#index h1 {position:absolute;left:-9999px;}

section header h1 {float:left;padding:0 10px 10px 0;margin-top:5px;text-shadow:none;position:static;font: bold 30px Helvetica, Arial;color:#3399FF;width:630px;}

section#copy {width:333px;height:306px;position:absolute;right:50px;top:135px;}
section#copy ul {list-style-image:url(images/backgrounds/index_blue_arrow.png); padding-left: 40px;}
section#copy li {font-size:22px;color:#000;height: 25px; margin: 2px 0px; padding: 0px;}
section#copy a { color: #000; font-weight: bold;}
section#copy h2 {font-size:21px;color:#fff; font-weight: bold; line-height: 24px; margin-bottom: 20px;}
#sign-up-now h3#join { font-size:18px; font-weight:normal; color: #000; font-weight: bold; position: relative; top: 5px; left: 10px;}

.ie7 section#copy ul {zoom:1;}

.itunes-logo-small {position:relative;top:2px;right:4px; margin: 0 3px;}

#sign-up-now {background: url(images/backgrounds/sign_up_bg.gif) no-repeat 1px 0; height: 113px; width:270px;}
#sign-up-now a {text-decoration:none;  }

#copy #sign-up-now h2 {color:#fff;font-weight:normal;font-size:13px;position:relative;left:15px;top:5px;text-shadow:none;text-transform:none;}
#copy #sign-up-now h2 span {margin:4px 0 0 0px;position:relative;bottom:1px;right:9px;display:block;color:#000;font-size:22px;font-weight:bold;text-transform:uppercase;}
#copy #sign-up-now span.free {color:#000;font-size:13px;text-transform:uppercase;font-weight:bold;margin:22px 0 0 40px;text-shadow:none;}

#sign-up-now a#sign-up { color: #ffcc33; background: #000; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; padding:4px 4px 0;}

.ie7 #copy #sign-up-now h2 {position:static;margin-left:15px;margin-top:5px;cursor:pointer;}
.ie7 #copy #sign-up-now h2 span {zoom:1;position:static;}
.ie7 #copy #sign-up-now a { padding: 1px 4px;}
.ie7 #copy #sign-up-now span.free { margin-top: 3px;}
/* 4 main index links */
#index-nav {position:relative;top:500px;left:0;}

.ie7 #index-nav {margin-top:-40px;zoom:1;position:absolute;top:560px;width:990px;left:8px;}

#index-nav li {margin: 0 7px 0 0;width:234px;height:184px;float:left;background:#212121;list-style:none;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}
#index-nav .tour {width:452px;background: url(images/backgrounds/index_logos.png) no-repeat 231px 31px;position:relative;}
#index-nav .tour h3 {word-spacing:-1.5px;font-size:18px !important;}
#index-nav .tour li {color:#fff;font-size:16px;margin:15px 0 7px 40px;background:none;height:auto;width:auto;float:none;list-style-type:decimal;}
#index-nav .tour p {color:#66ccff;margin:-9px 0 0 77px;}
#index-nav .tour span {background:url(images/backgrounds/index_wl_logo.png) no-repeat;display:inline-block;color:transparent;height:19px;text-indent:-2000%;overflow:hidden;position:relative;top:3px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {#index-nav .tour span {text-indent:inherit;}}
#index-nav .tour .lightbox, #index-nav .cost .lightbox, #index-nav .republic-support .lightbox, #index-nav a.nobox {color:#66CCFF;font-size:16px;font-weight:bold;position:absolute;bottom:11px;right:15px;}
#index-nav .tour h3,#index-nav .cost h3, #index-nav .republic-support, #index-nav .republic-success h3 {color:#FFF;font-size:19px;position:static;margin:15px 0 0 15px; text-decoration: underline;}
#index-nav .republic-support {position:relative; }
#index-nav .republic-success { width: 452px; background: url(images/backgrounds/index_jaron.jpg) no-repeat 25px 43px;position:relative;}
#index-nav .republic-success p { margin: 5px 0px 0px 110px;}
#index-nav .republic-support p {color:#fff;margin:2px 0 15px 15px;}

.ie7 #index-nav .testimonial p span {margin:-2px 15px -2px 0;}
.ie7 #index-nav .tour span {text-indent:-999px;width:76px;}

#index-nav .testimonial .testimonial-img {float:right;margin:15px;}
#index-nav .cost {position:relative;background: #212121 url(images/backgrounds/index_blue_arrow.png) no-repeat 200px 151px;}
#index-nav .cost h4 {color:#fff;font-size:16px;font-weight:normal;margin:8px 0 0 16px;}
#index-nav .cost h4 span {color:#66CCFF;font-size:19px;font-weight:bold;}
#index-nav a {text-decoration:none;color:#66ccff;padding-right:30px;}
#index-nav h3 {font-weight:bold;font-size:18px;position:relative;top:15px;left:24px;}

#signin {position:absolute;right:38px;top:18px;}
.reset-pw {color:#d0d0d0;font-size:12px;position:absolute;top:-22px;right:315px;}

.ie7 .reset-pw {right:310px;}
.ie7 #signin {top:40px;}

/* Form Elements */

/* dark inputs used on homepage */
input.dark, fieldset, [type=submit], .button {-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.dark[type=text], .dark[type=password] {background: #1a1a1a;background: rgba(26,26,26, 0.65);padding:5px 7px 0;margin-right:2px;width: 270px;height:29px;border:1px solid #181818;border-bottom: 1px solid rgba(72,72,72, 0.6);color: #6a6a6a;font:17px Arial;font-weight:bold;}
.dark[type=submit] {height:36px;width:121px;color: #c6c6c6;font:bold 15px Helvetica, Arial;text-align:left;padding:2px 60px 2px 13px;background:url(images/inputs/dark_input_bg.png) right 0;border:1px solid #181818;border-bottom: 1px solid rgba(72,72,72, 0.6);cursor:pointer;}

.ie7 .dark[type=submit] {height:36px;width:121px;color: #c6c6c6;font:bold 15px Helvetica, Arial;text-align:left;padding:2px 60px 2px 13px;background:url(images/inputs/dark_input_bg.png) right 0;border:1px solid #181818;border-bottom: 1px solid rgba(72,72,72, 0.6);cursor:pointer;}
.ie7 .dark[type=text], .ie7 .dark[type=password] {background: #1a1a1a;background: rgba(26,26,26, 0.65);padding:5px 7px 0;margin-right:2px;width: 270px;height:29px;border:1px solid #181818;border-bottom: 1px solid rgba(72,72,72, 0.6);color: #6a6a6a;font:17px Arial;font-weight:bold;}
.ie7 input[type=text], .ie7 input[type=password], .ie7 textarea {width:337px;height:24px;border: 1px solid #9FBBCD;color:#666 !important;padding-left:10px;}
.ie7 input[type=submit] {height:30px;width:190px;color: #fff;font:bold 14px Helvetica, Arial;background:url(images/inputs/input_bg.png) right 0;border:0;padding:4px 20px 0 0;cursor:pointer;}

label, .label, [type=text], [type=password] {color:#003852;font: bold 14px Helvetica, Arial;padding-top:11px;}
.ie7 input[type=text], .ie7 input[type=password] {color:#003852;font: bold 14px Helvetica, Arial;padding-top:11px;}


/* Secondary navigation (i.e., logout & help)*/
#secondary-navigation a {color:#39f;}


/* create account page */
#create-account {background: rgba(210,225,233, 0.35)}
