<h4>Current Balance</h4>
<h5 class="balance">
  <%= display_user_balance %>
</h5>

<% if @person.has_pending_payout? %>
	<% if @person.has_pending_eft_batch_transaction? %>
		<div class="bank-withdrawal-list">
			<h3>Pending Direct <%= @person.pending_eft_batch_transactions.size > 1 ? 'Deposits' : 'Deposit' %></h3>
			<%= render :partial => 'eft_batch_transactions/eft_batch_transaction', :collection => @person.pending_eft_batch_transactions %>
		</div>
	<% end %>

	<% if @person.has_pending_paypal_transfer? %>
	  <div class="bank-withdrawal-list">
	    <h3>Pending Paypal <%= @person.pending_paypal_transfers.size > 1 ? 'Withdrawals' : 'Withdrawal' %> </h3>
			<%= render :partial => 'paypal_transfers/paypal_transfer', :collection => @person.pending_paypal_transfers %>
	  </div>
	<% end %>

	<% if @person.has_pending_check_transfer? %>
	  <div class="bank-withdrawal-list">
	    <h3>Pending Check <%= @person.pending_check_transfers.size > 1 ? 'Withdrawals' : 'Withdrawal' %> </h3>
			<%= render :partial => 'check_transfers/check_transfer', :collection => @person.pending_check_transfers %>
	  </div>
	<% end %>

<% end -%>
