<li class="<%= disabled ? 'disabled' : nil %>">
    <div class="withdrawal-label">
      <%= radio_button_tag(
            :payment_method, 'check',
            selected, :disabled => disabled
          ) %>
      <%= label_tag(
            :payment_method_check,
            "Mail me a check (#{number_to_currency(@payout_check_min_amount)} min)"
          ) %>
    </div>
    <div class='comment'>
      7-10 Business Days
      <span class='fee'>Fee: <%= number_to_currency(@payout_check_fee)%></span>
      <span class='disabled-show'>
        (Your Account has less than <%= number_to_currency(@payout_check_min_amount + @payout_check_fee) %>)
      </span>
    </div>
</li>
