<% if Payoneer::FeatureService.show_countries_selection?(current_user) %>
  <button class="choose-currency-action payout-button" ><%= custom_t("my_account.withdraw.sign_up") %></button>
<% else %>
  <%= button_to custom_t("my_account.withdraw.sign_up"), payout_provider_registrations_path, class: "payout-button", id: "sign-up" %>
<% end %>
<div class="payoneer-ca-au-warning">
  <span class="payout-warning">
    <%=custom_t('my_account.important')%>:
  </span>
  <%= custom_t("my_account.payoneer_bank_only_warning") %>.
  <%= custom_t('my_account.to_begin_using_payoneer') %>
</div>

