<li class="<%= disabled ? 'disabled' : nil %>">
   <div class="withdrawal-label">
     <%= radio_button_tag(:payment_method, 'eft', selected, :disabled => disabled ) %>
     <%=  label_tag(
            :payment_method_eft,
            "Deposit money to my US bank account (#{number_to_currency(@eft_max_amount)} max)"
          ) %>
   </div>
   <div class='comment'>
      <%= @eft_expected_days_lower %>-<%= @eft_expected_days_upper %> Business Days
      <span class='fee'>Fee: <%= number_to_currency(@payout_eft_fee)%></span>
      <span class='disabled-show'>(U.S. Customers only)</span>
    </div>
</li>
