<div class="first-time-transfer-info">
  <div>
    <%= custom_t("my_account.payoneer_first_time.money_faq", url: knowledgebase_link_for("my-money")) %>
  </div>
  <div>
    <%= custom_t("my_account.payoneer_first_time.payoneer_faq") %>
  </div>
</div>
