<% t_scope = 'my_account.withdraw' %>

<% if show_legacy_options? %>
  <div class="legacy-payout-options">
    <fieldset class="alpha omega">
      <% if @person.can_withdraw? %>
        <%= error_messages_for @withdrawal %>
        <%= form_tag({
                       action: 'withdraw',
                       controller: 'my_account'
                     },
                     { id: 'my_account_withdraw_form' }
                    ) do %>
          <section id="withdrawal-page">
            <h5><%= custom_t("choose_an_option", scope: t_scope) %></h5>
            <ul>
              <% if payoneer_payout_enabled? && payout_provider_approved? %>
                <%= render "payoneer_option", selected: true %>
              <% end %>
              <% if show_eft_and_check? %>
                <%= render "eft_option",
                            disabled: !@person.enough_for_eft_withdrawal?,
                            selected: @person.enough_for_eft_withdrawal? %>
                <%= render "check_option",
                           disabled: !@person.enough_for_check_withdrawal?,
                           selected: !@person.enough_for_eft_withdrawal? && @person.enough_for_check_withdrawal? %>
              <% end %>
              <%= render "paypal_option", selected: !payoneer_payout_enabled? || !payout_provider_approved? %>
              <li class='submit'>
                <%= submit_tag(custom_t('continue', scope: t_scope), id: "legacy_withdraw_request_submit", disable_with: 'Loading...') %>
              </li>
            </ul>
          </section>
        <% end %>
      <% else %>
        <div class='grid_16 floatL'>
          <p class="info"><%= custom_t("not_enough_money, scope: t_scope") %></p>
        </div>
      <% end %>
    </fieldset>
  </div>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag 'payout/payout-states' %>
<% end %>
