<ul class="next-actions">
  <% if current_user_is_taken_over? %>
    <li><span><%= custom_t('my_account.exports.withdraw_disabled') %></span></li>
  <% elsif current_user.can_withdraw? %>
    <li><%= withdraw_money_link %></li>
  <% end %>

  <% if !@withdraw_page %>
    <li>
      <%= link_to('Download Accounting', action: :exports)%>
    </li>
    <li>
      <%= link_to(custom_t('my_account.exports.view_trending_report'), action: 'trend_reports')%>
    </li>
  <% end -%>
  <li>
    <%= link_to(custom_t('my_account.exports.transaction_history'), controller: "my_account", action: 'list_transactions')%>
  </li>
</ul>
