<%# TODO: This partial is by a page, "my_account/withdraw.html.erb" that may no longer be in use %>
<div class="payoneer-soft-stop">
  <div>
    <h2><%= custom_t("my_account.withdraw.partnering_information") %></h2>

    <p><%= custom_t("my_account.withdraw.partnering_information_details") %></p>
    <p><%= custom_t("my_account.withdraw.payoneer_sign_up") %></p>
  </div>
  <div class="footer">
    <%= image_tag "payoneer/payoneer-logo-grey-rgb-v2.png" %>
    <div class="content-right">
      <%= render 'currency_selection' %>
      <%= link_to custom_t("my_account.withdraw.no_thanks"), "#", id: "popup-no-thanks" %>
    </div>
  </div>
</div>

<%= render "payout_providers/redirect_indicator" %>

<% content_for :css do %>
  <%= stylesheet_link_tag 'payout/payoneer-modal' %>
<% end %>
