<% t_scope = '.my_account.withdraw.paypal_option' %>

<li>
  <div class="withdrawal-label">
    <%= radio_button_tag(:payment_method, 'paypal', selected) %>
    <%= label_tag(
      :payment_method_paypal,
      custom_t('deposit_money_to_paypal_account', scope: t_scope))
    %>
  </div>
  <div class='comment'>
    <%= custom_t('three_to_four_business_days', scope: t_scope) %>
  </div>
</li>
