(function() {
  if (<%= self_billing_declined? || !@compliance_info_saved %>){
    window.location.href = '/my_account/withdraw';
  }
  else {
    $("#withdraw_paypal form").trigger("submit");
  }
}());
