<% content_for :external_javascript do %>
  <%= javascript_include_tag "cart" %>
  <%= javascript_include_tag "/javascripts/app/paypal_self_billing_and_kyc" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup" %>
  <%= javascript_include_tag "people" %>
  <%= javascript_include_tag "people_fields" %>
  <%= javascript_include_tag "compliance_info_fields" %>
<% end %>

<%= stylesheet_link_tag "/stylesheets/magnific-popup" %>

<% if self_billing_on_withdrawal? || self_billing_declined? %>
  <div class="self-billing-component">
    <h4><%= custom_t('self_billing.title') %></h4>
    <p><%= custom_t('self_billing.tooltip_content') %></p>

    <%= o.fields_for :self_billing_status_attributes do |s| %>
      <div class="checkbox-wrapper">
        <ul class="clearfix">
          <%= s.check_box :status,
                  {
                    label: confirm_and_pay? ? '' : custom_t('self_billing.accept'),
                    new_form: true,
                    onClick: 'onCheckboxClicked(this)'
                  },
                  'accepted',
                  'declined'
              %>
        </ul>
      </div>

      <%= s.hidden_field(:id) %>
      <%= s.hidden_field(:ip_address, value: request.remote_ip) %>
      <%= s.hidden_field(:version, value: '1.0') %>

      <div id="self-billing-customer-care-error">
        <%= custom_t('self_billing.error_text') %>
      </div>

      <div id="self-billing-required-error">
        <span><%= custom_t('account_settings.self_billing.required') %></span>
      </div>
    <% end %>

    <div id="modal-bind"></div>
  </div>

  <div id="self-billing-positive-modal" class="mfp-hide self-billing-positive-modal">
    <div class="self-billing-modal-body">
      <div class="self-billing-agreement">
        <label><%= custom_t('self_billing.agreement_title') %></label>
        <p><%= custom_t('self_billing.agreement_content') %></p>
      </div>
      <div class="button-group">
        <button class="accept-btn" onclick="closeModal(event)"><%= custom_t('self_billing.accept_agreement') %></button>
      </div>
    </div>
  </div>
<% end %>

<% if paypal_kyc_required? && show_country_selector? %>
  <div class="address-section">
    <div class="title">
      <h4><%= custom_t("people.renewal_billing_info.confirm_address") %></h4>
    </div>
    <div class="contents">
      <div class="disclaimer">
        <p><%= custom_t("people.renewal_billing_info.please_note", link: tunecore_terms_link) %></p>
      </div>
      <div class="fields">
        <ul class="clearfix">
          <%= fields_for current_user, builder: SemanticFormBuilder do |fp| %>
          <%= render partial: 'carts/vat_compliance_info_form.html', locals: {f: fp} %>
          <%= render 'people/account_settings/address_info_form_fields',
              f: fp,
              countries: countries_for_checkout(@person),
              blank: blank_address_fields? %>
          <% end %>
        </ul>
      </div>
    <% if show_vat_removal_warning? %>
      <div class="vat-removal-warning">
        <%= custom_t("vat.warnings.removal_on_confirm_information") %>
      </div>
    <% end %>
    </div>
  </div>
<% end %>
