<% t_scope = '.my_account.withdraw.payoneer_option' %>

<li>
  <div class="withdrawal-label">
    <%= radio_button_tag(:payment_method, PayoutTransfer::PAYONEER.titleize, selected) %>
    <%= label_tag(
      :payment_method_payoneer,
      custom_t('deposit_money_to_bank_via_payoneer', scope: t_scope)
    ) %>
  </div>
  <div class='comment'>
    <%= custom_t('two_to_three_business_days', scope: t_scope) %>
  </div>
</li>
