<%# TODO: This partial is not in use, and needs to be removed %>
<div class="payout-container">
  <div class="payout-header">
    <span><%= custom_t("my_account.withdraw.payment_manager_setup") %></span>
  </div>

  <div class="payout-contents">
    <div class="payoneer-mandatory">
      <%= image_tag "payoneer/payoneer-logo-grey-rgb-v2.png" %>
      <h1><%= custom_t("my_account.withdraw.exciting_news") %></h1>
      <h4><%= custom_t("my_account.withdraw.partnering_information") %></h4>

      <div>
        <p><%= custom_t("my_account.withdraw.partnering_information_details") %></p>
        <p><%= custom_t("my_account.withdraw.payoneer_sign_up") %></p>
        <p><%= custom_t("my_account.withdraw.withdrawal_deadline") %></p>
        <%= render 'currency_selection' %>
      </div>
    </div>   
    <%= render "payout_providers/redirect_indicator" %>
  </div>
</div>



<% content_for :css do %>
  <%= stylesheet_link_tag 'payout/payoneer-modal' %>
  <%= stylesheet_link_tag 'payout/payoneer-signup' %>
<% end %>
