<% content_for :external_javascript do %>
  <!--[if IE]><script src="/javascripts/excanvas.min.js"></script><![endif]-->
  <%= javascript_include_tag "/javascripts/plugins/jquery.cookie" %>
  <%= javascript_include_tag "/javascripts/app/transactions_list" %>
  <%= javascript_include_tag "/javascripts/app/select_all" %>
  <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/vatTooltip.js" %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "vat_tooltip" %>
  <%= stylesheet_link_tag "transaction_list" %>
  <% if @dark_mode %>
    <%= stylesheet_link_tag "dark_mode/vat_tooltip" %>
  <% end %> 
<% end %>

<div class="clear"></div>
<table class="transaction-report" id="sales-table">
  <thead>
    <tr>
      <th><%= custom_t(:date_word) %></th>
      <th>
        <%= custom_t(:description) %>
        <% if vat_feature_flipper_enabled? %>
          <span class="vat_tooltip" data-title="<%= custom_t('note') %>" data-content="<%= custom_t('invoices.royalty_invoices.tool_tip_content') %>"></span>
        <% end %>
      </th>
      <th><%= custom_t(:debit) %></th>
      <th><%= custom_t(:credit) %></th>
      <th><%= custom_t(:balance) %></th>
	    <th><%= custom_t(:currency_word) %></th>
    </tr>
  </thead>

  <% @transactions.each do |transaction| %>
    <tbody id="<%= transaction.id %>">
      <tr class="transaction <%= cycle('odd', 'even') %>">
        <td><%= fmt_country_date(transaction.created_at) %></td>
        <td>
          <%= display_person_transaction_headline(transaction) %>
          <%= display_intake_comments(transaction) %>
          <% if show_withholding_tooltip?(transaction) %>
            <%= render partial: "/sales/withholding_tooltip" %>
          <% end %>
        </td>
        <td>
          <% if transaction.debit > 0 %>
            <%= balance_history_money(transaction.debit.truncate(2).to_money(transaction.currency)) %>
          <% end %>
        </td>
        <td>
          <% if transaction.credit >= 0 %>
            <%= balance_history_money(transaction.credit.truncate(2).to_money(transaction.currency)) %>
          <% end %>
        </td>
        <td>
          <%= balance_history_money(transaction.updated_balance.truncate(2).to_money(transaction.currency)) %>
        </td>
      <td><%= balance_history_currency(transaction.currency) %></td>
      </tr>
      <!-- This is the export link -->
      <%= display_person_intake_export(transaction) %>

      <% if transaction.target_type == 'PersonIntake' && @transactions_sales_records[transaction.id] %>
        <% unless FeatureFlipper.show_feature?(:disable_sales, current_user) %>
          <% @transactions_sales_records[transaction.id].each do |t| %>
            <tr class="intake-transaction <%= transaction.id %> hidden">
              <td></td>
              <td colspan='2' id="transactions-sales-records">
                <%= display_store_link(t) %>
                <%= render partial: '/sales/tiktok_tooltip', locals: { float_left: true } if tiktok_royalty?(t.store_id) %>
                <%= render partial: '/sales/tencent_mucoin_tooltip', locals: { float_left: true } if sip_tencent_mucoin_royalty?(t.sip_store_id) %>
              </td>
              <td class="money transaction-currency"><%= format_to_currency(t.store_amount.to_money(t.currency))%></td>
              <td></td>
            </tr>
          <% end %>
        <% else %>
          <tr class="intake-transaction <%= transaction.id %> hidden">
            <td colspan="5">Sales data currently unavailable. Please check back later.</td>
          </tr>
        <% end %>
      <% end %>

      <% if transaction.target_type == 'SplitRoyaltyIntake' && @transactions_split_records[transaction.id] %>
        <% @transactions_split_records[transaction.id].each do |split| %>
          <tr class="split-transaction hidden">
            <td></td>
            <td id="transactions-split-records"><span><%= display_split_link(split) %></span></td>
            <td>
              <% if split.amount < 0 %>
                <%= balance_history_money(-1 * split.amount.truncate(2).to_money(split.currency)) %>
              <% end %>
            </td>
            <td>
              <% if split.amount >= 0 %>
                <%= balance_history_money(split.amount.truncate(2).to_money(split.currency)) %>
              <% end %>
            </td>
            <td></td>
          </tr>
        <% end %>
    <% end %>
    </tbody>
  <% end %>
</table>

<%- if @composer -%>
  <%= render :partial => "composers/select_tax_form", :locals => {:composer => @composer } %>
<%- end -%>

<style>
table span.transaction-headline{
	text-align: center;
}
.transaction-report td{
	text-align: center !IMPORTANT;
	padding: 0px !IMPORTANT;
}
</style>
