<section id="transaction-filters">
  <%= form_tag form_url, method: :get do %>
    <% if @transaction_dates.any? %>
    <h2><%= custom_t(:date_range) %></h2>
    <div id="transaction-date-range">
      <div>
        <%= label 'date', custom_t(:start_date) %>
        <%= select 'date', 'start_date', @transaction_dates.full_range, :selected => @transaction_dates.start_date, :class => 'date-dropdown' %>
      </div>
      <div>
        <%= label 'date', custom_t(:end_date) %>
        <%= select 'date', 'end_date', @transaction_dates.full_range, :selected => @transaction_dates.end_date, :class => 'date-dropdown'%>
      </div>
    </div>
    <% end %>
    <div id="advanced-options">
      <div id="types">
        <h2><%= custom_t(:transaction_type) %></h2>
        <div id="transaction-filter" class="select-all-section">
          <div class="select-all-box">
            <a href="#" class="select-all"><%= t(:ele_check).capitalize %> <%= custom_t(:all) %></a> | <a href="#" class="select-none"><%= current_user.german_user? ? (custom_t(:all) + ' ' + t(:un).downcase + t(:ele_check).downcase) : t(:un) + t(:ele_check).downcase + ' ' + custom_t(:all) %></a>
          </div>
          <ul>
            <% transaction_filters_for_user.each do | transaction_text, transaction_name, country_list| %>
              <% country_list.each do |c| %>
                <% if current_user.country_domain == c %>
                <li>
                  <%= check_box_tag "transaction_values[#{transaction_name}]", transaction_name, @initial_load ? true : params[:transaction_values] && params[:transaction_values]["#{transaction_name}"] %>
                  <%= label_tag "transaction_values[#{transaction_name}]", transaction_text %>
                </li>
                <% end %>
              <% end %>
            <% end %>
            <% category_filters.each do | transaction_text, transaction_name, transaction_category, country_list| %>
              <% country_list.each do |c| %>
                <% if current_user.country_domain == c %>
                <li>
                  <%= check_box_tag "transaction_values[#{transaction_name}]", transaction_category, @initial_load ? true : params[:transaction_values] && params[:transaction_values]["#{transaction_name}"] %>
                  <%= label_tag "transaction_values[#{transaction_name}]", transaction_text %>
                </li>
                <% end %>
              <% end %>
            <% end %>
            <% vat_filters.each do |transaction_text, transaction_name, country_list| %>
              <% next unless country_list.include?(current_user.country_domain) %>
              <li>
                <%= check_box_tag "transaction_values[#{transaction_name}]", transaction_name, @initial_load ? true : params[:transaction_values] && params[:transaction_values]["#{transaction_name}"] %>
                <%= label_tag "transaction_values[#{transaction_name}]", transaction_text %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="submit">
      <%= submit_tag custom_t(:filter), class: 'small-button' %>
    </div>
  <% end %>
</section>
