<section class="grid_16" id="withdraw-home">
  <% if current_user.blocked_for_incorrect_taxform? %>
    <header>
      <h2><%= custom_t("my_account.blocked_withdrawal.title") %></h2>
    </header>
    <% if current_user.payout_provider.present? %>
      <div class='blocked-withdrawals'>
        <h2><%= custom_t("payout_transfers.new.missing_tax_information") %></h2>
        <br />
        <p>
        <%= custom_t("payout_transfers.new.fill_out_tax_form") %><br />
        <%= custom_t("payout_transfers.new.login_to_payoneer") %>
        </p>
      </div>
    <% else %>
      <div class='blocked-withdrawals'>
        <h2><%= custom_t("payout_transfers.new.we_need_more_information") %></h2>
        <br />
        <p>
        <%= custom_t("payout_transfers.new.sign_up_and_submit_tax_form") %><br />
        <%= custom_t("payout_transfers.new.click_here_to_get_started_with_payoneer") %>
        </p>
      </div>
    <% end %>
  <% else %>
    <header>
      <h2><%= custom_t("my_account.withdraw_my_money") %></h2>
    </header>
    <div class='blocked-withdrawals'>
      <h2><%= custom_t("my_account.blocked_withdrawal.title") %></h2>
      <br /><br />
      <p><%= custom_t("my_account.blocked_withdrawal.body") %></p>
    </div>
  <% end %>
</section>

