<% content_for :external_javascript do %>
  <!--[if IE]><script src="/javascripts/excanvas.min.js"></script><![endif]-->
  <%= javascript_include_tag "/javascripts/plugins/jquery.dataTables.min" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.cookie" %>
  <%= javascript_include_tag "/javascripts/app/sales" %>
<% end %>

<section class="grid_11">
  <header class="sales-header">
    <h1 class="download-monthly-header">Download Monthly Sales Reports <%= upgrade_required_image %></h1>
    <%= upgrade_required_copy %>
  </header>
  <h3><%= custom_t('.export_all_sales') %></h3><br/>
  <div id="sales-report-menu" class="alpha">
    <ul>
      <li class="<%= params[:action] == 'exports' ? "active" : "" %>"><%= link_to custom_t('.by_sales_period'), :action => 'exports' %></li>
      <li class="<%= params[:action] == 'export_reporting_period' ? "active" : "" %>"><%= link_to custom_t('.by_reporting_period'), :action => 'export_reporting_period' %></li>
    </ul>
  </div>
  <% if current_user.feature_gating_can_do?(:premium_sales_report) %>
    <table class="data-report" id="sales-table" class="grid_12 alpha">
      <thead>
        <tr>
          <th>Sales Period</th>
          <th><%= custom_t('.sales') %></th>
        </tr>
      </thead>
      <tbody>
        <% @sale_months.each do |sale_month| %>
        <tr class="<%= cycle("odd","even") %>">
          <td style="text-align:center"><%= fmt_month_year(sale_month) %></td>
          <td style="text-align:center"><%= link_to "tunecore-musicsales-sales_period-#{sale_month.strftime("%m-%Y")}.csv", :action => 'sales_record_export', :month => sale_month, :type => 'sales_period', :format=>"csv" %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <table id="sales-table" class="no-plan-access-table">
      <thead>
      <tr>
        <th class="no-plan-access-table-th">
          <%= render partial: "shared/no_plan_access", locals: { css_class: "no-access-div"} %>
        </th>
      </tr>
      </thead>
    </table>
  <% end %>
</section
<aside class="grid_5">
  <%= render(:partial => 'next_actions')%>
</aside>
