<% content_for :css do %>
  <%= stylesheet_link_tag "balance-history" %>
  <% if @dark_mode %>
    <%= stylesheet_link_tag "dark_mode/list_transactions" %>
  <% end %> 
<% end %>
<% content_for :external_javascript do %>
  <%= javascript_include_tag "lyric/lyric-learn-more-modal.js" %>
<% end %>

<section id="balance-history" class="grid_16">
  <% if @transactions.empty? && !@transaction_dates.any? %>
    <% if @has_never_distributed %>
      <% height = "150px" %>
    <% else %>
      <% height = "340px" %>
    <% end %>

    <div id="my-account">
      <div style="width: 600px; height: <%= height %>; padding: 20px; margin: 20px auto; -moz-border-radius: 10px 10px 10px 10px;">
        <p style="font-weight: bold; font-size: 16px;"><%= custom_t('.no_balance_title')%></p>

        <% if @has_never_distributed %>
          <p><%= custom_t('.never_distributed') %></p>
          <p><%= link_to custom_t('.create_single_or_album'), new_album_path %></p>
        <% else %>
          <p>Thanks for distributing your music with TuneCore. Our records indicate that you do not have any music sales. When your sales are posted, they will be reflected here.</p>
          <h4>Please consider the following:</h4>
          <ul>
            <br/>
            <li>You can share and sell your music with up to 150+ digital musical partners. Go to <%= link_to "Store Manager", store_manager_path %> to see if you are missing any stores.</li>
            <br/>
            <li>When your music sells in digital stores, we have to wait until the stores report the sales data and deposit the money to TuneCore. We then post your sales reports and deposit the money you have earned from those sales into your TuneCore account.</li>
            <br/>
            <li>It usually takes at least 2 months from the date the music sells to see those sales posted on your "Sales Reports" page. For example, if your music sells in January, the digital stores report those sales to TuneCore in March, and we post those sales to your account in March.</li>
            <br/>
            <li>Sales are generally posted to accounts each Friday.</li>
          </ul>
        <% end %>
      </div>
  <% else %>
    <header class="grid_12 list-transaction-header">
      <h1>
        <%= custom_t('balance_histories.page_name') %>
        <% if @transaction_dates.start_date %>
          <small>
            (
            <%= current_user.german_user? ? custom_t(:of).capitalize : custom_t(:from)%>
            <%= fmt_month_year_long(@transaction_dates.start_date) %>
            <%= current_user.german_user? ? custom_t(:to_bis) : custom_t(:to) %>
            <%= fmt_month_year_long(@transaction_dates.end_date) %>
            )
          </small>
        <% end %>
      </h1>
      <% if @multiple_currency_domain %>
        <p class="currency-toggle-info">
          <%= link_to @display_currency, list_transactions_path(selected_currency: @display_currency),
                      class: "currency-toggles #{not_selected_currency(@selected_currency, @display_currency)}"%>
          |
          <%= link_to @transaction_currency, list_transactions_path(selected_currency: @transaction_currency),
                      class: "currency-toggles #{not_selected_currency(@selected_currency, @transaction_currency)}"%>
        </p>
      <% else %>
        <p class="currency-info"><%= custom_t('.all_amounts_in')%> <%=current_user.currency%>.</p>
      <% end %>
      <span id="export-transactions">
        <%= link_to custom_t('.download_report'),
                    {controller: 'my_account',
                     action: 'export_transactions',
                     transaction_values: transaction_value_params,
                     date: {start_date: @transaction_dates.start_date,
                            end_date: @transaction_dates.end_date}} %>
      </span>
      <% if @multiple_currency_domain %>
        <div class="multiple-currency-disclaimer-container">
          <div class="multiple-currency-disclaimer-item"><%= custom_t(".disclaimer") %></div>
          <div class="multiple-currency-disclaimer-item bold"><%= custom_t(".rate_conversion_message") %></div>
        </div>
      <% end %>
    </header>

    <div style="clear: both;">
      <section id="transaction_list" class="grid_12 alpha">
        <%= render partial: 'transactions_list' %>
        <div class="transactions_pagination">
          <%= will_paginate(@transactions, page_links: false, :previous_label => '<i class="fa fa-caret-left fa-lg fa-2x"></i>', :next_label => '<i class="fa fa-caret-right fa-lg fa-2x"></i>') %>
          <div class="page_numbers"><%= page_entries_info(@transactions, entry_name: "transactions") %></div>
        </div>
      </section>
      <aside class="grid_4 omega">
        <div class="withdraw_link">
          <% if current_user.can_withdraw? %>
            <%= withdraw_money_link({html_class: "button-callout-alt"}) %>
          <% end %>
          <%= render partial: "transaction_filters", locals: { form_url: list_transactions_path } %>
          <%= render partial: "tcda/promo", locals: { advance_display: @advance_display, show_popup: @show_popup } %>
      </aside>
    </div>
  <% end %>
</section>
