<% content_for :css do %>
  <%= stylesheet_link_tag "payout/payoneer-currency-selection.css" %>
<% end %>

<section class="grid_16" id="withdraw-home">
  <header>
    <h2><%= custom_t("my_account.withdraw_my_money") %></h2>
  </header>
  <% if current_user.payout_provider && !payoneer_opted_out? %>
    <%= render "my_account/provider_states/#{current_user.payout_provider.provider_status}_payout_provider" %>
  <% end %>

  <% if needs_payoneer_enrollment? %>
    <%= render payoneer_mandatory? ? "payoneer_signup" : "payoneer_signup_modal" %>
  <% end %>

  <% unless current_user.payout_provider.try(:has_made_successful_transfer?) %>
    <%= render "first_timer_help_info" %>
  <% end %>

  <%= render "legacy_payout_options" %>
  <%= render "payoneer_fees/currency_selection_popup"%>
</section>
