Paypal Fees: ?<br/>
Check Processing Fee: <%= number_to_currency(@payout_check_fee) %> with a <%= number_to_currency(100) %> minimum<br/>
Direct Deposit Fee: <%= number_to_currency(@payout_eft_fee) %> with a <%= number_to_currency(10) %> minimum<br/>