<section class="grid_16">
  <header>
    <h1>Withdraw by Check</h1>
  </header>
  <%= error_messages_for @withdrawal %>
  <fieldset id="withdraw_check" class="grid-16 alpha omega">

    <div class='grid_10'>
      <p>Please enter your physical address where the check should be sent. The minimum amount for a paper check is <%= number_to_currency(@payout_check_min_amount) %>.</p>
      <p>Payments within the United States will occur within 7-10 business days. Payments outside the United States may take longer. A <%= number_to_currency(@check_fee) %> charge applies.</p>
    </div>
    <aside id="withdraw-side" class="grid_5 side_balance float">
      <%= render(:partial => 'balance_deposit')%>
    </aside>
    <%= form_for(@withdrawal, :as=>:withdrawal, :url => url_for(:controller => 'my_account', :action => "withdraw_check")) do |f| %>

    <ul id="check-withdrawal">
      <li id="withdrawl_withdrawl_amount" class="currency-input-container">
        <label class="currency-label" for="withdrawal_dollars">Amount to withdraw</label> <%= currency_input_tag(@withdrawal, "withdrawal", :payment_amount_main_currency, :payment_amount_fractional_currency) %>
      </li>
      <%= f.text_field(:payee, :label => "Payable To")%>
      <%= f.text_field(:address1, :label => "Address Line 1")%>
      <%= f.text_field(:address2, :label => "Address Line 2")%>
      <%= f.text_field(:city, :label => "City")%>
      <%= f.select(:state, @states, {:include_blank=>true,
                   :label => "State/Province <span class='info'> (US or Canada)</span>"},{:li_class => "state-select", :class=>""
                  } )%>
      <%= f.text_field(:postal_code, :label => "Zip/Postal Code")%>
      <%= f.select(:country, @countries, :label => "Country" )%>
      <%= f.text_field(:phone_number, :label => "Phone Number")%>
      <%= f.password_field(:password_entered, :label => 'TuneCore Password')%>

     <%= f.submit("Withdraw Funds", data: {disable_with: custom_t(:processing_with_ellipsis).html_safe}) %> <%= link_to("Cancel", :back, :class => "cancel-right cancel" ) %>
    </ul>
    <% end %>
  </fieldset>
</section>
