<% if should_show_secondary_tax_form_request_prompt? %>
  <%= render "shared/secondary_tax_form_request_prompt" %>
<% end %>

<% content_for :external_javascript do %>
<%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/vatTooltip" %>
<% end %>

<% content_for :css do %>
<%= stylesheet_link_tag "withdraw_paypal" %>
<%= stylesheet_link_tag "vat_tooltip" %>
<% end %>

<script charset="utf-8" type="text/javascript">
  window.onPaypalPage = true;
</script>

<section class="grid_16">
  <header>
    <h1><%= custom_t(".withdraw_by_paypal") %></h1>
  </header>

  <div class="withdraw_paypal_fieldset_background">
    <fieldset id="withdraw_paypal" class="grid_16 alpha omega">
      <div class='grid_10'>
        <p><%= custom_t(".enter_paypal_address") %></p>
        <p><i><%= custom_t(".user_address") %> <%= request.env["REMOTE_ADDR"] %></i></p>
      </div>
      <aside id="withdraw-side" class="grid_5 side_balance float">
        <h4><%= custom_t(".current_balance") %> </h4>
        <h5 class="balance">
          <%= money_to_currency(Money.new(current_user.balance_cents, current_user.currency ), suppress_iso: false) %>
        </h5>
      </aside>


      <%= form_for(@withdrawal, as: :withdrawal, url: url_for(controller: 'my_account', action: "withdraw_paypal")) do |f| %>
        <div class='grid_14'>
          <%= error_messages_for(@withdrawal, header_message: nil, message: nil, object_name: 'Withdrawal') %>
        </div>
        <ul>
          <li id="withdrawl_withdrawl_amount" class="currency-input-container">
            <label class="currency-label" for="withdrawal_dollars">
              <%= custom_t(".withdrawal_amount") %>
              <% if show_vat_info? %>
              <span class="withdrawal-amount-vat-tooltip">
                <div class="vat_tooltip" data-title="<%= custom_t('.withdrawal_amount') %>" data-content="<%= custom_t('vat.withdraw_vat_disclaimer') %>"></div>
              </span>
              <% end %>
            </label>
            <%= currency_input_tag(@withdrawal, "withdrawal", :payment_amount_main_currency, :payment_amount_fractional_currency) %>
          </li>
          <%= f.text_field(:paypal_address, label: custom_t(".your_paypal_email"))%>
          <%= f.text_field(:paypal_address_confirmation, label: custom_t(".confirm_paypal_email"))%>
          <%= f.password_field(:password_entered, label: custom_t(".tunecore_password"))%>

          <% unless bi_transfer? || show_self_billing_info? %>
            <%= link_to(custom_t(:cancel), :back, class: 'cancel-right cancel') %>
            <%= f.submit(custom_t(".withdraw_funds"), data: {disable_with: custom_t(:processing_with_ellipsis).html_safe})%>
          <% end %>
        </ul>
      <% end %>
    </fieldset>

    <% if bi_transfer? || show_self_billing_info? %>
      <div class="self-billing-and-address-container">
        <div class="form-container">
          <%= form_for current_user, url: update_paypal_kyc_info_person_path(current_user), :html => { :onsubmit => "selfBillingKYCFormSubmitHandler(event, this)" }, remote: true do |o| %>
            <%= o.hidden_field(:id, value: current_user.id) %>
            <%= render "my_account/paypal_self_billing_and_kyc", o: o %>

            <ul>
              <div class="button-group">
                <%= link_to(custom_t(:cancel), :back, class: 'cancel') %>
                <%= o.submit(custom_t(".withdraw_funds"), data: {disable_with: custom_t(:processing_with_ellipsis).html_safe}) %>
              </div>
            </ul>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
