<% content_for :external_javascript do %>
  <!--[if IE]><script src="/javascripts/excanvas.min.js"></script><![endif]-->
  <%= javascript_include_tag "/javascripts/plugins/jquery.dataTables.min" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.cookie" %>
  <%= javascript_include_tag "/javascripts/app/sales" %>
<% end %>

<section class="grid_11">
  <header>
    <h1><%= custom_t('.download_youtube_monthly') %></h1>
  </header>
  <h3><%= custom_t('.sales_period_downloads') %></h3><br/>
  <table class="data-report" id="sales-table" class="grid_12 alpha">
    <thead>
      <tr>
        <th><%= custom_t('.by_sales_period') %></th>
        <th>Royalties</th>
      </tr>
    </thead>
    <tbody>
      <% @royalty_months.each do |royalty_month| %>
      <tr class="<%= cycle("odd","even") %>">
        <td style="text-align:center"><%= fmt_month_year(royalty_month) %></td>
        <td style="text-align:center"><%= link_to "tunecore-youtube-royalties-sales-period-#{royalty_month.strftime("%m-%Y")}.csv", :action => 'you_tube_export', :month => royalty_month,  :format=>"csv" %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section
<aside class="grid_5">
  <%= render(:partial => 'next_actions')%>
</aside>
