<%= form_tag options[:action], :method => :get, :id => "search_form" do %>
  <fieldset>
    <%= select_tag :q_field, options_for_select([["All Fields", nil], ["Artists", "artist"], ["Genre", "genre"], ["Song Titles", "song_title"], ["Composers", "composers"]], options[:search_field]), :class => "sync_search-filter" %>
    <label class="q-label" for="q">Search:</label>
    <input type="text" id="q" name="q" class="sync_search-input form-text" value='<%= options[:search_term] %>'/>
    <label class="check-label"><input type="checkbox" name="facets" value='{"percent":["100.*"]}'> Show only full rights</label>
    <% if current_user.is_administrator || session[:admin] %>
      <label class="check-label"><input type="checkbox" name="facets" value='{"parental_advisory":["0"]}'> Exclude explicit content</label>
    <% end %>
    <%= submit_tag 'Go &raquo;'.html_safe, :id => "submit_search_link", :class => "button-callout-alt" %>
    <span class="sync_search-help">Search by song title, album title, artist name, writer name or genre.</span>
    <span class="sync_search-count"><strong><%= number_with_delimiter(@total_songs, :delimiter => ',') %></strong> songs available</span>
  </fieldset>
<% end %>
