<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/simplePagination" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/storage.js" %>
  <% if Rails.env.production? %>
    <%= javascript_include_tag "/javascripts/soundmanager2-nodebug-jsmin" %>
  <% else %>
    <%= javascript_include_tag "/javascripts/soundmanager2" %>
  <% end %>
  <%= javascript_include_tag "/javascripts/swfobject2.2.js" %>
  <%= javascript_include_tag "/javascripts/sm.js" %>
  <%= javascript_include_tag "/javascripts/app/sync.js" %>
  <%= javascript_include_tag "/javascripts/app/sync/favorites.js" %>
  <%= javascript_include_tag "/javascripts/jquery.simplePagination.js" %>
<% end %>
<div id="data" class="hide"><%= @genres.to_json %></div>
<header class="row">
  <div class="twelve columns">
    <h2>Search</h2>
  </div>
</header>

<div id="sync" <% if current_user.is_administrator || session[:admin] %>class="isAdmin"<% end %>>

  <section class="sync_search row">
    <div class="twelve columns">
      <div class="sync_search-field">
        <%= render :partial => "form", :locals => { :options => { :search_term => @search_term, :search_field => @search_field, :total_songs => @total_songs, :action => sync_search_query_path } } %>
      </div>
    </div>
  </section>

  <section class="sync_search-facets row">
    <div id="facet-select" class="twelve columns"></div>
  </section>

  <section class="sync_search-table_header row">
    <div class="sync_search-favorites_help ten columns" style="display: none;">
      <p class="sync_tip bl">
        <span class="sync_tip-content">
          Click on the star to favorite a song
          <a href="#" rel="favorite" class="syncTipToggle">(hide)</a>
        </span>
      </p>
    </div>
    <div id="results_found" class="two columns"></div>
  </section>

  <section class="sync_search-table row">
    <div class="twelve columns">
      <table id="results" data-quote="<%= new_sync_license_request_path %>" data-favorite="<%= toggle_favorite_sync_favorites_path %>">
        <%= render :partial => "/sync/shared/songlist_header" %>
        <tbody>
          <tr><td colspan="8" style="text-align: center;"><img src="/images/spinner02.gif" alt="" /></td></tr>
        </tbody>
      </table>
      <div id="searchResultPagination"></div>
      <div id="player"></div>
    </div>
  </section>
</div>
<%= render :partial => "/shared/sm_player" %>
