<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("social_notifier.apple_final_grace_period.body_#{@distro_status}",
         dashboard_link: link_to(@dashboard_link_text, @dashboard_link)) %>
    /td>
  </tr>
</table>
