<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t('social_notifier.pro_user_cancellation.body', {termination_date: fmt_month_day_year(@termination_date) }) %>
    </td>
  </tr>
</table>
