<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t('social_notifier.tunecore_second_grace_period.body',
         grace_period_end:  @grace_period_end,
         subscription_term: @subscription_term,
         payment_preferences_link: link_to(@payment_link_text, @payment_preferences_link)) %>
    </td>
  </tr>
</table>
