<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t('social_notifier.upgrade_confirmation.body', {
          payment_amount:   format_to_currency(@payment_amount),
          renewal_text:     @renewal_text,
          view_orders_link: @view_orders_link
          }) %>
    </td>
  </tr>
</table>
