<tr class="<%=cycle('odd', 'even') -%>">
	<td><%= link_to((image_tag(artwork_100x100(inventory_usage.related), :alt => inventory_usage.related.name+" Cover", :class => 'discography-cover')), album_path(inventory_usage.related)) %></td>
	<td class="table_link"><%= link_to(h(truncate(inventory_usage.related.name, :length => 28)), album_path(inventory_usage.related)) %></td>
	<td><%= h inventory_usage.related.artist_name%></td>
	<td><%= h inventory_usage.related.upc %></td>
	<td><%= inventory_usage.created_at.strftime("%b %d, %Y %I:%M %p") %></td>
	<td><%= h annual_renewal_display_date(inventory_usage.related) unless inventory_usage.related.takedown? %></td>
	<td><%= link_to(inventory_usage.related.state, inventory_usage.related, :class => class_for_status(inventory_usage.related)) %></td>
</tr>