<fieldset id="choose-report">
  <%= form_for @report, as: :report, url: { :action => 'view' } do |f| %>
    <h2>Report:</h2>
  	<div class='report_option'><label>Name</label><%= select :report, :name, available_reports_selections %></div>
    <% @report_class.all_available_parameters.each do |param| %>
       <div class='report_option' id='report_option_item_<%= param %>'
            <%= @report_class.parameters.include?(param) ? "" : "style=display:none;" %>  >
          <%= render partial: "#{param}_selections" , locals: {:report => @report, :f => f} %>
       </div>
    <% end %>

    <div class='admin-buttonset'>
      <%= submit_tag "Run Report", style: "display:inline;margin-left:17%;" %>
      <%= check_box_tag :export, "1", false, style: "display:inline;" %> Export as Spreadsheet<br />
    </div>
  <% end %>
</fieldset>
