<label>Ending <em>(optional)</em>:</label>
<div class="date-select">
    <%= date_select :report, :end_date, :order => [:day, :month, :year] %>
</div>
<div>
  <%= check_box :report, :use_end_date %>
  <label for="report_use_end_date">Use End Date</label>
</div>