<% css_class = ['', 'alt'] %>
<table> 
  <caption><%= @report.title %></caption>
  <tr>
     <% @report.header.each do |title| %>
          <th class='pad_right'><%= title.titleize %></th>
     <% end %>
  </tr>
<% @report.rows.each do |hash| %>
  <% if Tunecore::Reports::Base.row_is_section_break?(hash) %>
    <tr class="subhead-1"><td colspan='<%= hash.length - 1 %>'>
        <%= hash["section_break"] %>
    </td></tr>
  <% else %>
    <tr class="<%= css_class.nextval %>" >
       <% if @report.class.row_partial %>
           <%= render :partial => @report.class.row_partial, :locals => {:row => hash} %>
       <% else %>
         <% @report.header.each do |title| %>
            <td><%= hash[title] %></td>
         <% end %>
       <% end %>
    </tr>
  <% end %>
<% end %>
</table>

