<h2><%= link_to "SYSTEM TOTALS:", {:action => "totals"} %></h2>
<%= link_to 'RUN-SYSTEM-REPORTS',
	    view_admin_reports_path,
            :class => 'pad_right' %>
<%= link_to 'album song counts',
	    album_song_counts_admin_reports_path,
            :class => 'pad_right' %>
<%= link_to 'store totals',
	    store_totals_admin_reports_path,
            :class => 'pad_right' %>
<%= link_to 'person album totals',
	    people_with_albums_admin_reports_path,
            :class => 'pad_right' %>
<%= link_to 'itunes vs. other stores',
            itunes_vs_world_admin_reports_path,
            :class => 'pad_right' %>
<%= link_to 'settlement_totals',
            settlement_totals_admin_reports_path,
            :class => 'pad_right' %>
<%= link_to 'incomplete album totals',
            incomplete_album_totals_admin_reports_path,
            :class => 'pad_right' %>
<%= link_to 'serials claimed totals',
            serial_totals_admin_reports_path,
            :class => 'pad_right' %>
<%= link_to 'signups by referral',
            signup_referrals_admin_reports_path,
            :class => 'pad_right' %>
<%= link_to 'signups by campaign',
	          signup_referrals_admin_reports_path(campaign: true),
            :class => 'pad_right' %>
