<%= render :partial => 'admin/reports/submenu' %>

<h1><%= @page_title %></h1>

<br />

<% css_class = ['odd','even'] %>
<table>
  <tr>
    <th class='pad_right'>Albums</th>
    <th class='pad_right'>Are for sale in this many stores</th>
  </tr>
<% @rows.each do |hash| %>
  <tr class="<%= css_class.nextval %>" >
     <td><%= hash['count'] %></td>
     <td><%= hash['num_salepoints'] %></td>
  </tr>
<% end %>
</table>

