<%= render :partial => 'admin/reports/submenu' %>

<div class="faqtext" style="width:90%;margin-left:10%">

<h1><%= @page_title %></h1>

<% @totals = {:revenue => 0, 7.50 => 0, 10.00 => 0, 12.50 => 0, 15.00 => 0} %>

<% css_class = ['odd','even'] %>
<table>
  <tr>
    <th class='pad_both'>Song Count</th>
    <th class='pad_both'>Total Albums</th>
    <th class='pad_both'>Paid Albums</th>
    <th class='pad_both'>Percent Paid</th>
    <th class='pad_both'>Revenue (*)</th>
    <th class='pad_both'>Flat $7.50 (**)</th>
    <th class='pad_both'>Flat $10.00</th>
    <th class='pad_both'>Flat $12.50</th>
    <th class='pad_both'>Flat $15.00</th>
  </tr>
<% @rows.each do |hash| %>
  <% song_count = hash['song_count'].to_i %>
  <% album_count = hash['album_count'].to_i %>
  <% paid_album_count = hash['paid_album_count'].to_i %>

  <% revenue = paid_album_count.to_f * song_count.to_f * 0.99 %>
  <% @totals[:revenue] += revenue %>
  <% rev7 = paid_album_count.to_f * 7.50 %>
  <% @totals[7.50] += rev7 %>
  <% rev10 = paid_album_count.to_f * 10.00 %>
  <% @totals[10.00] += rev10 %>
  <% rev12 = paid_album_count.to_f * 12.50 %>
  <% @totals[12.50] += rev12 %>
  <% rev15 = paid_album_count.to_f * 15.00 %>
  <% @totals[15.00] += rev15 %>

  <tr class="<%= css_class.nextval %>" >
     <td><%= song_count %></td>
     <td><%= album_count %></td>
     <td><b><%= paid_album_count %></b></td>
     <td><%= percent(paid_album_count, album_count) %></td>
     <td><%= number_to_currency(revenue) %></td>
     <td><%= number_to_currency(rev7) %></td>
     <td><%= number_to_currency(rev10) %></td>
     <td><%= number_to_currency(rev12) %></td>
     <td><%= number_to_currency(rev15) %></td>
  </tr>
<% end %>

<tr>
    <td colspan='4' align='right'>Totals:</td>
    <td><%= number_to_currency @totals[:revenue] %></td>
    <td><%= number_to_currency @totals[7.50] %></td>
    <td><%= number_to_currency @totals[10.00] %></td>
    <td><%= number_to_currency @totals[12.50] %></td>
    <td><%= number_to_currency @totals[15.00] %></td>
</tr>
</table>

<p><b>(*) Revenue assumes 99 cents per song and does not factor in any discounts.</b></p>
<p><b>(**) Hypothetical revenue assuming flat per-album upload charge instead of 99 cents per song.</b></p>

</div>
