<%= render :partial => 'admin/reports/submenu' %>

<h1><%= @page_title %></h1>

<% css_class = ['odd','even'] %>
<table>
  <tr class="<%= css_class.nextval %>" >
     <td><b>Total Number of Bundles:</b></td> <td><%= @bundles.size %></td>
  </tr>
</table>

<table>
	<tr>
		<td><b>Bundle ID</b></td>
		<td><b>Created On</b></td>
		<td><b>Album</b></td>
		<td><b>Content</b></td>
	</tr>

	<% @bundles.each do |bundle| %>
	  <tr class="<%= css_class.nextval %>" >
	     <td><%= link_to(bundle.id, {:controller => "admin/bundles", :action => 'show', :id => bundle.id, :album_id => bundle.album.id, :person_id => bundle.album.person })%></td>

	     <td><%= bundle.created_at %></td>

	     <td><%= link_to(bundle.album.id, {:controller => "album", :action => 'show', :id => bundle.album.id, :person_id => bundle.album.person })%></td>

	     <td><%= bundle.comment %></td>
	  </tr>
	<% end %>
</table>


