<%= render :partial => 'admin/reports/submenu' %>

<h1><%= @page_title %></h1>

<table>

<ul>
<li><%= @total_albums  %> Total Albums</li>
<li><%= @incomplete_albums  %> Incomplete Albums</li>
<li><%= @albums_missing_art  %> Albums Missing Art</li>
<li><%= @albums_with_no_songs  %> Albums With No Songs</li>
<li><%= @albums_with_upload_errors  %> Albums With Upload Errors</li>
</ul>



</table>


