
<%= render :partial => 'admin/reports/submenu' %>

<h1><%= @page_title %></h1>


<%= display_invoice_pages %>

<table>
		<tr>
			<th>PERSON</th>
			<th>ID</th>
			<th>CREATED</th>
			<th>SETTLED</th>
			<th>STATUS</th>
			<th># ITEMS</th>
			<th>AMOUNT</th>
			<th>SETTLEMENT</th>
			<th>OUTSTANDING</th>
		</tr>
		<% @invoices.each do |invoice| %>
		<tr class="<%= cycle('even', 'odd')%>">
			<td><%= link_to invoice.person.name, admin_person_path(invoice.person) %></td>
			<td><%= link_to invoice.code, admin_person_invoice_path(invoice.person, invoice) %></td>
			<td><%= display_datetime(invoice.created_at) %></td>
			<td><%= display_datetime(invoice.settled_at) %></td>
			<td><%= invoice.status_text %></td>
			<td><%= invoice.purchases.size %></td>
			<td>$<%= invoice.invoice_amount %></td>
			<td>$<%= invoice.settlement_amount %></td>
			<td>$<%= invoice.outstanding_amount %></td>
		</tr>
		<% end %>
</table>

<%= display_invoice_pages %>

