<%= render :partial => 'admin/reports/submenu' %>

<h1><%= @page_title %></h1>

<% css_class = ['odd','even'] %>
<table>
  <tr class="<%= css_class.nextval %>" >
     <td>Albums in Itunes Exclusively</td><td><%= @itunes_exclusive_count %></td>
  </tr>
  <tr class="<%= css_class.nextval %>" >
     <td>Albums in Both Itunes & Others</td><td><%= @both_count %></td>
  </tr>
  <tr class="<%= css_class.nextval %>" >
     <td>Albums Not in Itunes at all</td><td><%= @non_itunes_count %></td>
  </tr>
</table>


