<%= render :partial => 'admin/reports/submenu' %>

<h1><%=@page_title %></h1>

<ul>

<li class='pad_bottom'><b style='color:red;'>NOTE:
login data has only been recorded since <%= l(@first_login.recent_login, format: :slash_short_year) %></b></li>

<li class='pad_bottom'>
Logins in Past 7 Days: <%= number_and_percent @week_logins, @total_people %>
</li>

<li class='pad_bottom'>
Logins in Past 30 Days: <%= number_and_percent @month_logins, @total_people %>
</li>

<!--
<li class='pad_bottom'>
Total Logins: <%= number_and_percent @total_logins, @total_people %>
</li>
-->

</ul>

<h3>Recent Logins</h3>
<% @people.each do |person| %>
	<%= render :partial => 'admin/people/mini_person', :locals => {:person => person, :features => [:show_person_link, :show_albums, :show_logins]}%>
<% end %>
