<%= render :partial => 'admin/reports/submenu' %>

<h1><%= @page_title %></h1>

<!-- sniff -->
<ul>
<% @albums.each do |album| %>
    <li class='pad_bottom'>
     <%=album.id%>: <%= display_name(album) %>, <%= album.album_state %> <i>created: <%= album.created_on %></i>
    </li>
<% end %>
</ul>
