<%= render :partial => 'admin/reports/submenu' %>

<h1><%= @page_title %></h1>

<div style="text-align: right; border-top: 1px dotted black; padding-top: 3px;">
Jump to page:
<%= will_paginate @people %>
</div>

<% @people.each do |person| %>
	<%= render :partial => 'admin/people/person_for_lists', :locals => {:person => person}%>
<% end %>

<div style="clear:both; border-top: 1px dotted black; padding-top: 3px;">
Jump to page:
<%= will_paginate @people %>
</div>
