<%= render :partial => 'admin/reports/submenu' %>

<h1><%= @page_title %></h1>


<% css_class = ['odd','even'] %>
<table>
  <tr><th class='pad_right'>People</th><th>Have this many albums</th></tr>
<% @rows.each do |count, people| %>
  <tr class="<%= css_class.nextval %>" >
     <td>
        <% if people.size == 1 %>
            <%= Person.find(people.first["person_id"].to_i).name %>
        <% else %>
   	  <%= link_to(people.size.to_s,
	             {:action => 'people_by_album_count', :album_count => count}) %>
        <% end %>
     </td>
     <td><%= link_to(count.to_s,
	             {:action => 'people_by_album_count', :album_count => count})
          %></td>
  </tr>
<% end %>
</table>
