<%= render :partial => 'admin/reports/submenu' %>

<h1><%= @page_title %></h1>

<br />

<% css_class = ['odd','even'] %>
<table>
  <tr>
    <th class='pad_right'>Program</th>
    <th class='pad_right'>OS</th>
    <th class='pad_right'>Number Claimed</th>
  </tr>
<% @rows.each do |hash| %>
  <tr class="<%= css_class.nextval %>" >
     <td><%= hash[:program] %></td>
     <td><%= hash[:os] %></td>
     <td><%= hash[:claimed] %></td>
  </tr>
<% end %>
</table>

