<%= render :partial => 'admin/reports/submenu' %>

<h1><%= @page_title %></h1>


<% css_class = ['odd','even'] %>
<table>
  <tr><th class='pad_both'>Week</th>
      <th class='pad_both'>Invoices</th>
      <th class='pad_both'>Settlements</th>
      <th class='pad_both'>Payment %</th>
      <th class='pad_both'>Settlement Total</th>
      <th class='pad_both'>Average</th>
      <th class='pad_both'>Std Dev</th>
      <th class='pad_both'>Largest</th>
      <th class='pad_both'>Distinct Prices</th>
      <th class='pad_both'>Avg Album Count</th>
      <th class='pad_both'>Max Album Count</th>
   </tr>
<% @rows.each do |hash| %>
  <tr class="<%= css_class.nextval %>" >
     <td><%= fmt_short_date hash['week'] %></td>
     <td><%= hash['count'] %></td>
     <td><%= hash['settled_count'] %></td>
     <td><%= number_to_percentage(hash['settled_count'].to_f / hash['count'].to_f * 100, :precision => 1) %></td>
     <td><%= number_to_currency (hash['settlement_total'].to_f / 100.0) %></td>
     <td><%= number_to_currency (hash['settlement_avg'].to_f / 100.0) %></td>
     <td><%= number_to_currency (hash['settlement_stddev'].to_f / 100.0) %></td>
     <td><%= number_to_currency (hash['settlement_max'].to_f / 100.0) %></td>
     <td><%= hash['settlement_distinct'] %></td>
     <td><%= hash['item_count_avg'] %></td>
     <td><%= hash['item_count_max'] %></td>
  </tr>
<% end %>
</table>
