<%= render :partial => 'admin/reports/submenu' %>

<h2><%= @page_title %></h2>

<% @totals = {:revenue => 0, 7.50 => 0, 10.00 => 0, 12.50 => 0, 15.00 => 0} %>

<% css_class = ['odd','even'] %>
<table>
  <tr>
    <th class='pad_both'>Type</th>
    <th class='pad_both'>Source</th>
    <th class='pad_both'>Referrals</th>
    <th class='pad_both'>Conversions (*)</th>
    <th class='pad_both'>Conversion Rate</th>
    <th class='pad_both'>Revenue</th>
    <th class='pad_both'>Per Person Average</th>
  </tr>
<% @rows.each do |hash| %>
  <tr class="<%= css_class.nextval %>" >
     <td><%= hash['referral_type'] %></td>
     <td><%= hash['referral'] %></td>
     <td><%= hash['person_count'] %></td>
     <td><%= hash['conversion_count'] %></td>
     <td><%= percent hash['conversion_count'], hash['person_count'] %></td>
     <td><%= number_to_currency hash['revenue']  %></td>
     <td class='pad_both'><%= number_to_currency( hash['revenue'].to_f / hash['conversion_count'].to_f ) if hash['revenue']  %></td>
  </tr>
<% end %>

</table>

<p><b>(*) Conversions occur when a referred person pays an invoice.</b></p>
