<%= render :partial => 'admin/reports/submenu' %>

<div class="faqtext" style="width:90%;margin-left:10%">

<h1><%= @page_title %></h1>


<% css_class = ['odd','even'] %>
<table>
  <tr><th class='pad_both'>Day</th>
      <th class='pad_both'>Signups</th>
      <th class='pad_both'>Albums</th>
      <th class='pad_both'>Paid Albums</th>
   </tr>
<% @rows.each do |hash| %>
  <tr class="<%= css_class.nextval %>" >
     <td><%= fmt_short_date Time.parse(hash['date']) %></td>
     <td><b><%= total = hash['signup_count'] %></b></td>
     <td><%= hash['albums_count'] %></td>
     <td><%= hash['paid_albums_count'] %></td>
  </tr>
<% end %>
</table>

</div>
