<%= render :partial => 'admin/reports/submenu' %>

<h1><%= @page_title %></h1>

<% css_class = ['odd','even'] %>
<table>
  <tr><th class='pad_right'>Store</th><th>Total Albums</th></tr>
<% @rows.each do |hash| %>
  <tr class="<%= css_class.nextval %>" >
     <td><%= hash['name'] %></td><td><%= hash['TOTAL'] %></td>
  </tr>
<% end %>
</table>
