<%= render :partial => 'admin/reports/submenu' %>

<h2><%= @page_title %></h2>


<table>
<tr>
<td><%= @total_email_subscriptions %> Newsletter Subscriptions </td>
<td><%= link_to "#{@total_people} People", {:action => "logins"}, :class => "category_name" %> </td>
<td><%= link_to "#{@total_people_with_albums} Have Albums", {:action => "people_with_albums"}, :class => "category_name" %> </td>
<td><%= link_to "#{@total_people_with_completed_albums} Have Completed Albums", {:action => "settlement_totals"}, :class => "category_name" %> </td>
<td><%= link_to "#{@total_people_with_paid_invoices} Have Paid Invoices", {:action => "settlement_totals"}, :class => "category_name" %> </td>
</tr>


<tr>
<td><%= link_to "#{@total_albums} Albums", {:action => "album_progress"}, :class => "category_name" %> </td>
<td><%= link_to "#{@completed_albums} Are Completed", {:action => "album_progress"}, :class => "category_name" %> </td>
<td><%= link_to "#{@average_song_count} songs per album AVG", {:action => "album_song_counts"}, :class => "category_name" %> </td>
</tr>

<tr>
<td><%= link_to "#{@total_stores} Stores", {:action => "store_totals"}, :class => "category_name" %> </td>
<td><%= link_to "#{@total_referrers} Referrers", {:action => "signup_referrals"}, :class => "category_name" %> </td>
<td><%= link_to "#{@total_campaigns} Campaigns", {:action => "signup_referrals", :campaign => true}, :class => "category_name" %> </td>
</tr>

<tr>
<td><div class="category_name"><%= "#{@total_artists} Artists" %></div> </td>
<td><div class="category_name"><%= "#{@total_labels} Labels" %></div> </td>
<tr>

</table>


