<%= form_for :report, :as=>:report, :url => { :action => 'videos' }, method: :get do |f| %>
	<%= render :partial => "start_date_selections"%>
	<%= render :partial => "end_date_selections"%>

	 <%= submit_tag "Run Report", :style => "display:inline;" %>
<% end %>

<% @videos.each do |video| %>
	<%= render :partial => 'admin/videos/mini_video', :locals => {:video => video} %>
<% end %>
