<%= render :partial => 'admin/reports/submenu' %>

<%= render :partial => 'choose' %>

<% if @report.calculated? %>
  <%= render :partial => 'report', :locals => {:report => @report} %>
  <p><%= @report.class.doc %></p>
<% else %>
  <h2>No report data was found, here's descriptions of the available reports</h2>
  <% Tunecore::Reports::Base.available_report_classes.each do |r| %>
     <p><b><%= r.display_name %></b><br/>
       <%= r.doc %></p>
  <% end %>
<% end %>


