<style type="text/css">
  .lods-search form.lods-search-form,
  .lods-search form.lods-search-form .input-group,
  .lods-search .pagination {
    display: inline;
  }

  .lods-search form.lods-search-form {
    float: right;
  }

  .lods-search form.lods-search-form select#search_field {
    margin-right: 0;
  }
</style>

<% @page_title = "Songwriters: LOD List" %>

<h2>Songwriters: LOD List</h2>
<div class='lods-search'>
    <%= will_paginate @publishing_composers %>
    <%= render partial: 'search'%>
</div>
<table class="songwriters">
  <thead>
    <tr>
      <th>PID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Publishing Entity</th>
      <th>SW ID</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Agreed</th>
      <th>Paid</th>
      <th>LOD ID</th>
      <th>Status</th>
      <th>Status Date</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%- @publishing_composers.each do |publishing_composer| %>
      <tr class=<%= cycle('odd','even') %>>
        <td>
          <%= link_to(h(publishing_composer.person.id), :controller => 'admin/people', :action => :show, :id => publishing_composer.person ) %>
        </td>
        <td><%=h publishing_composer.first_name %></td>
        <td><%=h publishing_composer.last_name %></td>
        <td><%= publishing_composer.publisher_entity_name %></td>
        <td><%=h publishing_composer.id %></td>
        <td><%=h publishing_composer.email ? publishing_composer.email : "(#{publishing_composer.person.email})" %></td>
        <td><%=h publishing_composer.phone ? publishing_composer.phone : "(#{publishing_composer.person.phone_number})" %></td>
        <td><%=h(l(publishing_composer.agreed_to_terms_at, format: :slash_short_year)) %></td>
        <td>
          <%=h publishing_composer.related_purchases.select{|p| p.paid_at != nil}.collect{|p| l(p.paid_at, format: :slash_short_year)}.join(',') %></td>
        <td><%= publishing_composer.lod.id %></td>
        <td>
          <%- if publishing_composer.lod_status -%>
            <%= publishing_composer.lod_status[:status] %><br/>
            <%= show_days_since_sent(publishing_composer.lod) %>
          <%- end -%>
        </td>
        <td>
          <%- if publishing_composer.lod_status && publishing_composer.lod_status[:date] -%>
            <%= l(publishing_composer.lod_status[:date], format: :slash_short_year) %>
          <%- end -%>
        </td>

        <% if current_user.has_role?("Publishing Manager") -%>
          <% if publishing_composer.lod && publishing_composer.lod.scheduled_or_sent? -%>
            <% if publishing_composer.lod.s3_asset.present? %>
              <td><%= link_to 'Download', publishing_composer.lod.url, target: 'new'  %></td>
            <% else %>
              <td><%= link_to 'Download', download_pdf_admin_lod_path(publishing_composer.lod), target: 'new' %></td>
            <% end -%>
          <% end -%>
        <% else -%>
        <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>
