Targeted Offer: <%= @targeted_offer.name %>(<%= @targeted_offer.id %>)<br/>
<% activation_string = (@targeted_offer.reload.status == "Active" ? "activated" : "deactivated") %>
The targeted offer was <%= activation_string %> in: <%= Time.at(@delta_t).gmtime.strftime("%H:%M:%S") %>