Targeted Offer: <%= @targeted_offer.name %>(<%= @targeted_offer.id %>)<br/>

Add People Job completed in: <%= Time.at(@delta_t).gmtime.strftime("%H:%M:%S") %>

<h3>Successes</h3>
<p><%= @success_ids.join(",<br />") %></p>

<h3>Errors</h3>
<% @grouped_validation_fails.each do |message,ids_array| %>
  <p><%= message %>:</p>
  <p><%= ids_array.join(",<br/>") %></p>
<% end %>

<p>Could not find these people:</p>
<p><%= @could_not_find_ids.join(",<br/>") %></p>

<p>Already in targeted offer:</p>
<p><%= @already_added_ids.join(",<br/>") %></p>