Targeted Offer: <%= @targeted_offer.name %>(<%= @targeted_offer.id %>)<br/>
Remove People Job completed in: <%= Time.at(@delta_t).gmtime.strftime("%H:%M:%S") %>

<h3>Successes</h3>
<%= @success_ids.join(",<br />") %>

<h3>Errors</h3>
<p>Could not find these people:</p>
<p><%= @could_not_find_ids.join(",<br/>") %></p>

<p>Already used targeted offer:</p>
<p><%= @could_not_destroy_ids.join(",<br/>") %></p>