<div class="publishing-cae-number-content">
  <div class="publishing-cae-number-modal-text align-center">
    <%= simple_form_for enrollment_form, url: publishing_administration_composer_path(enrollment_form.id), method: :put, remote: true do |f| %>
      <%= f.input :composer_cae,
        label: custom_t("publishing.cae_ipi_number"),
        label_html: { class: "align-center" },
        input_html: { class: "publishing-cae-number-modal-cae-input", maxlength: 11},
        error: custom_t("publishing.cae_is_not_a_number") %>

      <%= f.input :id, as: :hidden, input_html: { value: enrollment_form.id } %>

      <div class="publishing-cae-number-modal-btn-wrapper">
        <%= f.button :button, custom_t(:save),
                      class: "publishing-cae-number-modal-btn-wrapper__save-btn",
                      id: "cae-modal-save-btn" %>
        <%= link_to custom_t(:cancel), "#", class: "publishing-cae-number-modal-btn-wrapper__cancel-btn" %>
      </div>
    <% end %>
  </div>
</div>
