<%= content_tag :div, class: "publishing-dashboard-card", id: "publishing-dashboard-card-#{composer.id}", data: { composer_id: composer.id } do %>
<div class="publishing-dashboard-card-wrapper align-justify">
  <div class="publishing-dashboard-card-header-row grid-x align-justify">
    <div class="publishing-dashboard-card-name small-6">
      <b><%= composer.full_name %></b>
    </div>

    <div class="publishing-dashboard-card-right-col__status small-6 align-right">
      <%= composer_state(composer.state) %>
    </div>
  </div>

  <div class="publishing-dashboard-card-row grid-x align-justify">
    <div class="small-6">
      <%= custom_t("publishing.registration_date") %>:
      <%= composer.registration_date %>
    </div>
    <div class="publishing-dashboard-card-right-col small-6 align-right">
      <b><%= pluralize(composer.number_of_compositions,
                      custom_t("publishing.composition")) %></b>
    </div>
  </div>

  <div class="publishing-dashboard-card-row grid-x align-justify">
    <div class="small-6">
      <%= custom_t("publishing.dob") %>:
      <span class="publishing-dashboard-card-dob"><%= composer.dob %></span>
    </div>
    <div class="publishing-dashboard-card-right-col small-6 align-right">
      <b><%= composer.number_of_shares %> <%= custom_t("publishing.shares_reported") %></b>
    </div>
  </div>

  <div class="publishing-dashboard-card-row grid-x align-justify">
    <div class="small-6">
      <%= custom_t("publishing.pro") %>:
      <span class="publishing-dashboard-card-pro-name"><%= pro_for(composer) %></span>
    </div>
    <div class="publishing-dashboard-card-right-col small-6 align-right">
      <b><%= composer.number_of_shares_missing %> <%= custom_t("publishing.shares_missing") %></b>
    </div>
  </div>

  <div class="publishing-dashboard-card-row grid-x align-justify">
    <div class="small-6">
      <%= custom_t("publishing.cae") %>:
      <span class="publishing-dashboard-card-cae"><%= cae_number_for(composer) %></span>
    </div>
  </div>

  <% if user_can_edit %>
    <div class="publishing-dashboard-card-row grid-x align-justify">
      <div class="publishing-dashboard-card-row-edit-links small-6">
        <% if !composer.fully_terminated? %>
          <%= link_to custom_t("publishing.edit_info"),
            "#publishing-edit-info-card",
            class: "publishing-dashboard-card-edit-info-link",
            data: { id: composer.id } %>

          <% if (composer.on_behalf_of_self? || composer_is_account_composer?(composer.composer)) && account_composer&.tax_info.nil? %>
            |
            <%= link_to custom_t("publishing.tax_information"),
              "#publishing-tax-info-modal",
              class: "publishing-dashboard-card-tax-info-link",
              data: { id: composer.id } %>
          <% end %>
        <% end %>
      </div>

      <div class="publishing-dashboard-card-right-col small-6 align-right">
        <b><%= link_to composer.manage_compositions_link,
          publishing_administration_composition_path(composer.id),
          class: "manage-compositions #{(composer.active? || (!composer.needs_pro? && !composer.needs_cae_number?)) ? "" : "link-disabled" }" %></b>
      </div>
    </div>
  <% end %>

  </div>

  <div class="publishing-dashboard-card-edit-info-card-wrapper hidden-form">
    <%= render "edit_info_card", enrollment_form: set_enrollment_form(composer.id) %>
  </div>

  <% if composer.legal_document.present? %>
    <% if composer.display_lod_link? %>
      <%= link_to custom_t("publishing.view_letter_of_direction"),
        legal_document_path(composer.legal_document),
        target: "_blank" %>
    <% elsif composer.display_lod_not_yet_signed? %>
      <%= custom_t("publishing.letter_of_direction_not_yet_signed") %>
    <% end %>
  <% end %>


<% end %>

<% if !composer.paid_for? && user_can_edit %>
  <div class="publishing-dashboard-cta grid-x align-justify">
    <div class="text small-9">
      <%= custom_t("publishing.pay_now_cta_text") %>
    </div>

    <div class="action small-3 align-right">
      <%= link_to custom_t(:pay_now), composer.link_to_cart,
                  class: "publishing-dashboard-cta-right-col__btn align-center" %>
    </div>
  </div>
<% end %>

<% if publishing_sync_opt_in_enabled? && !composer.sync_opted_in? && publishing_account_has_approved_album?(account_composer) %>
  <%= render "sync_opt_in", composer: composer %>
<% elsif publishing_sync_opt_in_enabled? && composer.sync_opted_in? && composer.sync_opted_updated_at && publishing_account_has_approved_album?(account_composer) %>
  <%= render "sync_opted_in_at", composer: composer %>
<% end %>

<% if composer.needs_pro? %>
  <div class="publishing-dashboard-cta grid-x align-justify" id="publishing-complete-info-prompt-<%= composer.id %>">
    <div class="text small-9">
      <%= custom_t("publishing.complete_info_prompt") %>
    </div>
  </div>
<% end %>

<div class="publishing-dashboard-cta grid-x align-justify <%= composer.display_composer_lod_cta? ? '' : 'hide' %>">
  <div class="text small-9">
    <%= custom_t("publishing.lod_sign_cta") %>
  </div>
  <div class="action small-3">
    <%= form_for :resend_lod, url: resend_lod_publishing_administration_composer_path(composer.id) do |f| %>
      <%= f.submit custom_t("publishing.resend_email") %>
    <% end %>
  </div>
</div>
