<%= simple_form_for enrollment_form, url: publishing_administration_composer_path(enrollment_form.id), method: :put, remote: true do |f| %>
<div id="publishing-edit-info-card" class="publishing-edit-info-card" data-dob-required-feature-enabled="<%= dob_required_feature_enabled? %>">
  <% if !current_user.is_administrator? %>
    <p class="publishing-edit-info-card-body-non-admin-text"><%= custom_t("publishing.publishing_company_edit_caption") %></p>
  <% end %>
  <div class="composer-form grid-x">
    <%= f.input :name_prefix,
      label: custom_t("publishing.prefix"),
      collection: name_affixes_translations("prefix"),
      default: nil,
      disabled: disable_field_for_non_admins(enrollment_form, :name_prefix),
      error: f.full_error(:name_prefix),
      wrapper_html: { class: "cell small-1 publishing-edit-info-card-body-name-input__affix" } %>

    <%= f.input :first_name,
      label: custom_t("publishing.first_name"),
      error: f.full_error(:first_name),
      disabled: disable_field_for_non_admins(enrollment_form, :first_name),
      wrapper_html: { class: "cell small-3 publishing-edit-info-card-body-name-input" } %>

    <%= f.input :middle_name,
      label: custom_t("publishing.middle_name"),
      disabled: disable_field_for_non_admins(enrollment_form, :middle_name),
      wrapper_html: { class: "cell small-2 publishing-edit-info-card-body-name-input" } %>

    <%= f.input :last_name,
      label: custom_t("publishing.last_name"),
      error: f.full_error(:last_name),
      disabled: disable_field_for_non_admins(enrollment_form, :last_name),
      wrapper_html: { class: "cell small-3 publishing-edit-info-card-body-name-input" } %>

    <%= f.input :name_suffix,
      label: custom_t("publishing.suffix"),
      collection: name_affixes_translations("suffix"),
      default: nil,
      disabled: disable_field_for_non_admins(enrollment_form, :name_suffix),
      error: f.full_error(:name_suffix),
      wrapper_html: { class: "cell small-1 publishing-edit-info-card-body-name-input__affix" } %>

    <div class="publishing-edit-info-card-body__pro-message small-8">
      <p class="publishing-edit-info-card-body__pro-text"><abbr>*</abbr> <%= custom_t("publishing.pro_required") %></p>
    </div>

    <div class="small-12">
      <div class="cell">
        <%= f.label :dob, custom_t("publishing.dob") %>
        <%= f.input :dob,
                    as: :date,
                    start_year: Date.today.year - 12,
                    end_year: Date.today.year - 90,
                    include_blank: true,
                    label: false,
                    disabled: disable_field_for_non_admins(enrollment_form, :dob),
                    order: [:month, :day, :year],
                    error: custom_t("publishing.dob_invalid"),
                    input_html: { class: "cell small-12", onchange: "enrollmentFormValidate()" },
                    wrapper_html: { class: "publishing-edit-info-card_dob-inputs"}
        %>
      </div>
    </div>

    <div class="publishing-edit-info-card-body__bottom-section grid-x">
      <div class="publishing-edit-info-card-body__pro-section grid-x">
        <div class="small-12">

        <%= f.input :composer_pro_id,
          label: custom_t("publishing.pro"),
          collection: performing_rights_organization_collection,
          default: nil,
          disabled: disable_field_for_non_admins(enrollment_form, :composer_pro_id),
          error: custom_t("publishing.performing_rights_organization_blank"),
          input_html: { class: "small-6", onchange: "enrollmentFormValidate()" } %>

          <div class="publishing-edit-info-card-body__pro small-5">
            <p class="publishing-edit-info-card-body__pro-text">
                <%= custom_t("publishing.pro_help_link",
                            help_link: knowledgebase_link_for("what-is-a-pro", country_website)) %>
            </p>
          </div>

            <%= f.input :composer_cae,
              label: custom_t("publishing.cae_ipi_number"),
              error: custom_t("publishing.cae_is_not_a_number"),
              disabled: disable_field_for_non_admins(enrollment_form, :composer_cae),
              input_html: { class: "small-6", maxlength: 11, onkeyup: "enrollmentFormValidate()" } %>

          <div class="publishing-edit-info-card-body__pro small-5">
              <% if enrollment_form.errors.any? %>
                <% enrollment_form.errors[:composer_cae].each do |message| %>
                  <div class="input_error_message"><%= message %></div>
                <% end %>
              <% end %>
            <p class="publishing-edit-info-card-body__pro-text">
                <%= custom_t("publishing.find_cae_numbers_help_link",
                            help_link: knowledgebase_link_for("what-is-the-cae-ipi-number", country_website)) %>
            </p>
          </div>
        </div>
      </div>

      <div class="grid-x">
        <div class="publishing-edit-info-card-body__pro-or small-12">
          <b><%= custom_t('publishing.or') %></b>
        </div>
      </div>

      <div class="publishing-edit-info-card-body__pro-right grid-x">
        <div class="publishing-edit-info-card-body__pro-links">
          <b class="publishing-edit-info-card-body__pro-links-header"><%= custom_t('publishing.pro_links_headline') %></b>
          <p>
            <%= link_to custom_t("publishing.bmi"),
              "https://join.bmi.com/#/writer",
              rel: "noopener noreferrer",
              target: "_blank",
              id: "bmi-pro-link",
              class: "publishing-edit-info-card-body__pro-link" %>
          </p>
          <p>
            <%= link_to custom_t("publishing.ascap"),
              "https://www.ascap.com/member-access#activate-account",
              rel: "noopener noreferrer",
              target: "_blank",
              id: "ascap-pro-link",
              class: "publishing-edit-info-card-body__pro-link" %>
          </p>
          <p>
            <%= link_to custom_t("publishing.socan"),
              "https://www.socan.com/jsp/en/mem/memberCreateWriter.jsp",
              rel: "noopener noreferrer",
              target: "_blank",
              id: "socan-pro-link",
              class: "publishing-edit-info-card-body__pro-link" %>
          </p>
        </div>

        <p class="publishing-edit-info-card-body-tip-text"><%= custom_t("publishing.new_tab_note") %></p>

        <div class="publishing-edit-info-card-body-btn-wrapper cell small-12 align-right">
          <%= f.button :button, custom_t(:cancel), type: "#", class: "publishing-edit-info-card-body-btn-wrapper__cancel-btn" %>
          <%= f.button :button, custom_t(:save),
                       type: :submit,
                       class: enrollment_form.submittable? ? "publishing-edit-info-card-body-btn-wrapper__save-btn" : "publishing-edit-info-card-body-btn-wrapper__save-btn-disabled",
                       id: "save-btn" %>
        </div>
      </div>
    </div>
  </div>

  <div class="publishing-edit-info-card-body-company-section">
    <div class="form-link">
      <a><%= custom_t("publishing.pub_company_pro") %></a>
    </div>

    <div class="grid-x">
      <div class="cell small-12 publishing-edit-info-card_publishing_company">
        <b><%= custom_t('publishing.songwriter_publishing_company_headline') %></b>
        <p>
          <%= custom_t('publishing.songwriter_publishing_company_subheadline') %>
        </p>

        <div class="cell small-3">
          <%= f.input :publisher_name,
                      label: custom_t("publishing.songwriter_publishing_company_name_input"),
                      default: nil,
                      disabled: disable_field_for_non_admins(enrollment_form, :publisher_name),
                      error: custom_t("publishing.publishing_company_name_error"),
                      input_html: { class: "cell small-12", onchange: "enrollmentFormValidate()", id: "publishing_administration_enrollment_form_publisher_name" } %>
        </div>

        <div class="cell small-3">
          <%= f.label :publisher_cae, custom_t("publishing.songwriter_publishing_company_cae") %>
          <p> <%= custom_t("publishing.songwriter_publishing_company_cae_caption")  %></p>
          <%= f.input :publisher_cae,
                      default: nil,
                      label: false,
                      disabled: disable_field_for_non_admins(enrollment_form, :publisher_cae),
                      error: custom_t("publishing.publishing_company_cae_error"),
                      input_html: { class: "cell small-12", onchange: "enrollmentFormValidate()", id: "publishing_administration_enrollment_form_publisher_cae" } %>
        </div>
      </div>

      <div class="publishing-edit-info-card-body-company-btn-wrapper cell small-12 align-right">
        <%= f.button :button, custom_t(:cancel), type: "#", class: "publishing-edit-info-card-body-company-btn-wrapper__cancel-btn" %>
        <%= f.button :button, custom_t(:save),
                     type: :submit,
                     class: enrollment_form.submittable? ? "publishing-edit-info-card-body-company-btn-wrapper__save-btn" : "publishing-edit-info-card-body-company-btn-wrapper__save-btn-disabled",
                     id: "company-save-btn" %>
      </div>
    </div>
  </div>

  <div class="grid-x">
    <div class="small-9">
      <p class="publishing-edit-info-card-body-tip-text"><abbr>*</abbr> <%= custom_t("publishing.tip") %></p>
    </div>

    <div class="small-9">
      <p class="publishing-edit-info-card-body-tip-text">
        <abbr>*</abbr>
        <%= custom_t("publishing.pro_administrator_difference_help_link",
          help_link: knowledgebase_link_for("what-is-the-cae-ipi-number", country_website)) %>
      </p>
    </div>
  </div>
</div>
<% end %>
