<%= form_for :sync_opt_out, url: sync_opt_out_publishing_administration_composer_path(composer.id) do |f| %>
  <div class="text-align-center">
    <h3 class="bold-font"><%= custom_t("publishing.sync_opt_out.header") %></h3>
  </div>

  <br/>

  <div class="text-align-center">
    <%= custom_t("publishing.sync_opt_out.description") %>
  </div>

  <br/>

  <div class="grid-x">
    <div class="publishing-sync-opt-out-modal-body-btn-wrapper small-12 text-align-center">
      <button class="publishing-button light-grey-background sync-opt-out-cancel">
        <%= custom_t("publishing.sync_opt_out.not_now") %>
      </button>
      <%= f.button custom_t("publishing.sync_opt_out.submit"),
        name: "sync_opt_out",
        class: "publishing-button sync-opt-out-submit",
        type: "submit"
      %>
    </div>
  </div>
<% end %>
