<div class="publishing-dashboard-cta grid-x align-justify white-background black-color">
  <div class="text small-7">
    <b>
      <%= custom_t("publishing.sync_opt_in.opted_in_at", sync_opted_updated_at: composer.sync_opted_updated_at_formated) %>
    </b>
  </div>

  <div class="action small-2 align-right">
    <%= render "sync_opt_out", composer: composer %>
  </div>

  <div class="action small-3 align-right">
    <%= link_to custom_t("publishing.sync_opt_in.submit_music"),
      custom_t("publishing.sync_opt_in.submit_music_link"),
      target: "_blank",
      class: "publishing-dashboard-cta-right-col__btn align-center blue-background"
    %>
  </div>
</div>
