<%= link_to custom_t("publishing.sync_opt_out.opt_out"),
  "#publishing-sync-opt-out-modal",
  class: "publishing-dashboard-card-sync-opt-out-link publishing-dashboard-cta-right-col__btn align-center light-grey-background",
  data: { id: composer.id }
%>

<div class='<%= "publishing-dashboard-card-sync-opt-out-modal-wrapper publishing-dashboard-card-sync-opt-out-modal-wrapper-#{composer.id} hidden-modal"%>'>
  <%= render "sync_opt_out_modal_body", composer: composer %>
</div>
