<div class="publishing-dashboard-cta grid-x align-justify">
  <div class="text small-9">
    <%=  custom_t("publishing.sync_opt_in.label") %>
  </div>

  <div class="action small-3 align-right">
    <%= link_to custom_t("publishing.sync_opt_in.opt_me_in"),
      "#publishing-sync-opt-in-modal",
      class: "publishing-dashboard-card-sync-opt-in-link publishing-dashboard-cta-right-col__btn align-center blue-background",
      data: { id: composer.id }
    %>
  </div>
</div>

<div class='<%= "publishing-dashboard-card-sync-opt-in-modal-wrapper publishing-dashboard-card-sync-opt-in-modal-wrapper-#{composer.id} hidden-modal"%>'>
  <%= render "sync_opt_in_modal_body", composer: composer %>
</div>
