<div id="publishing-sync-opt-in-modal" class="mfp-hide publishing-sync-opt-in-modal">
  <div class="publishing-sync-opt-in-modal-header">
    <%= custom_t("publishing.sync_opt_in.header") %>
  </div>

  <div class="publishing-sync-opt-in-modal-body">
  </div>
</div>
