<%= form_for :sync_opt_in, url: sync_opt_in_publishing_administration_composer_path(composer.id) do |f| %>
  <div class="grid-x">
    <div class="align-center">
      <div>
        <%= custom_t("publishing.sync_opt_in.description") %>
      </div>
      <div class="margin-top-15">
        <%= custom_t("publishing.sync_opt_in.faq") %>
      </div>
      <div class="text-align-center margin-top-15">
        <label>
          <input type="checkbox" class="sync-opt-in-tac"/>
          <%= custom_t("publishing.sync_opt_in.terms_and_conditions.accept") %>
        </label>
      </div>
    </div>
    <div class="publishing-sync-opt-in-modal-body-btn-wrapper small-12 text-align-center">
      <button class="publishing-button grey-background sync-opt-in-cancel">
        <%= custom_t(:cancel) %>
      </button>
      <%= f.button custom_t("publishing.sync_opt_in.submit"),
        name: "sync_opt_in",
        class: "publishing-button sync-opt-in-submit",
        type: "submit",
        disabled: true
      %>
    </div>
  </div>
<% end %>
