<div id="publishing-tax-info-modal" class="mfp-hide publishing-tax-info-modal">
  <div class="publishing-tax-info-modal-header">
    <b><%= custom_t("publishing.select_your_tax_form") %></b>
  </div>

  <div class="publishing-tax-info-modal-body">
  </div>
</div>
