<div class="publishing-tax-info-modal-content hidden-modal">
  <div class="publishing-tax-info-modal-text align-center">
    <b><%= custom_t("publishing.are_you_a_us_citizen_or_resident") %></b>
  </div>

  <div class="publishing-tax-info-modal-btn-wrapper smal-12 align-center">
    <div class="publishing-tax-info-modal-btn-wrapper small-3">
      <div class="publishing-tax-info-modal-btn-wrapper__btn">
        <%= link_to new_composer_tax_info_path(composer.id, tax_form: "w9"), target: "_blank" do %>
          <div><b><%= custom_t("publishing.yes") %></b></div>
          <div><%= custom_t("publishing.fill_in_w9") %></div>
        <% end %>
      </div>
    </div>

    <div class="publishing-tax-info-modal-btn-wrapper small-3">
      <div class="publishing-tax-info-modal-btn-wrapper__btn">
        <%= link_to new_composer_tax_info_path(composer.id, tax_form: "w8ben"), target: "blank" do %>
          <div><b><%= custom_t("publishing.no") %></b></div>
          <div><%= custom_t("publishing.fill_in_w8ben") %></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="publishing-tax-info-modal-help-link small-12">
    <%= link_to custom_t("publishing.im_not_sure"),
      knowledgebase_link_for("submit-tax-info-howto", composer.publishing_administrator.country_website),
      target: "_blank" %>
  </div>
</div>
