<div class="publishing-edit-info-card-tax-info-prompt">
  <div class="publishing-edit-info-card-tax-info-prompt__msg">
    <b><%= custom_t("publishing.name_change_matches_tax_records") %></b>
  </div>

  <%= link_to custom_t("publishing.see_tax_information_here"), knowledgebase_link_for("submit-tax-info-howto", country_website),
    class: "publishing-edit-info-card-tax-info-prompt__link", target: :_blank %>

  <div class="publishing-edit-info-card-tax-info-prompt__ok-btn-wrapper align-center">
    <%= link_to custom_t("publishing.ok"), "#",
      class: "publishing-edit-info-card-tax-info-prompt__ok-btn-wrapper-btn" %>
  </div>
</div>
