<%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup" %>
<%= stylesheet_link_tag "/stylesheets/magnific-popup" %>

<div class="publishing-dashboard">
  <% unless @user_can_edit %>
    <div class="publishing-dashboard-view-only">
      <p class="publishing-dashboard-view-only-text">
        <%= custom_t("publishing.view_only_mode", account_manager: @composers.first.account.person.name) %>
      </p>
    </div>
  <% end %>

  <div class=publishing-dashboard-header>
    <b><%= custom_t("publishing.tunecore_publishing_administration") %></b>
    <% if composer_index_split_shares_modal_enabled? %>
      <%= render partial: "publishing_administration/shared/split_shares_modal_app" %>
    <% end %>
    <% if @account_composer&.tax_info.present? %>
      <div>
        <small>
          <b><%= custom_t("publishing.tax_information").upcase %>:</b>
          <%= custom_t(
            "publishing.your_form_was_successfully_submitted",
            form_type: @account_composer.tax_info.is_w8ben? ? "W-BEN" : "W-9") %>

          <% if tax_info_agreed_to_date(@account_composer.tax_info) %>
            <%= custom_t(
              "publishing.on_date",
              date: fmt_long_date(tax_info_agreed_to_date(@account_composer.tax_info))) %>.
          <% end %>

          <% if @account_composer.is_paid %>
            <%= link_to custom_t("publishing.submit_new_tax_form"),
              "#publishing-tax-info-modal",
              class: "publishing-dashboard-card-tax-info-link",
              data: { id: @account_composer.id } %>
          <% end %>

          <%= render "tax_info_body", composer: @account_composer %>
        </small>
      </div>
    <% end %>
  </div>

  <div class=publishing-dashboard-header>
    <b><%= custom_t("publishing.registered_songwriters") %>:</b>
  </div>

  <% if @account_composer&.tax_info.nil? && @user_can_edit %>
    <div class="publishing-dashboard-cta grid-x align-justify">
      <div class="text small-9">
        <%= custom_t("publishing.add_tax_info_cta_text") %>
      </div>

      <div class="action small-3">
        <%= link_to custom_t("publishing.tax_information"),
          "#publishing-tax-info-modal",
          class: "publishing-dashboard-card-tax-info-link",
          data: { id: @account_composer&.id } %>
      </div>
    </div>

    <% if @account_composer %>
      <%= render "tax_info_body", composer: @account_composer %>
    <% end %>

  <% end %>

  <% @composers.each do |composer| %>
    <% composer_presenter = ComposerPresenter.new(composer) %>

    <%= render "terminated_account_prompt" if composer_presenter.status == :terminated %>
    <%= render "composer_card", user_can_edit: @user_can_edit, composer: composer_presenter,
               account_composer: @account_composer, admin_can_edit: admin_can_edit? %>
  <% end %>

  <%= will_paginate @composers %>
</div>

<%= render "tax_info_modal" %>
<%= render "cae_number_modal" %>
<% if publishing_sync_opt_in_enabled? %>
  <%= render "sync_opt_in_modal" %>
  <%= render "sync_opt_out_modal" %>
<% end %>
