updateComposerCard("<%= @enrollment_form.id %>",
                    "<%= @enrollment_form.composer.full_name %>",
                    "<%= @enrollment_form.composer.dob %>",
                    "<%= pro_name(@enrollment_form.composer_pro_id) %>",
                    "<%= @enrollment_form.composer_cae %>");

var needs_cae = <%= @enrollment_form.composer_cae.blank? %>
var needs_pro = <%= @enrollment_form.composer_pro_id.blank? %>

var $composerCard = $("#publishing-dashboard-card-" + <%= @enrollment_form.composer.id %>);
$composerCard.find(".publishing-dashboard-card-edit-info-card-wrapper")
  .html("<%= j render "edit_info_card",
        enrollment_form: set_enrollment_form(@enrollment_form.composer.id) %>");

$composerCard.find(".publishing-dashboard-card-right-col__status")
  .html("<%= composer_state(@enrollment_form.status) %>");

var $manageCompositionsLink = $composerCard.find(".manage-compositions");
if (<%= @enrollment_form.status == :active %>) {
  $manageCompositionsLink.removeClass("link-disabled");
} else {
  $manageCompositionsLink.addClass("link-disabled");
}

if (<%= @enrollment_form.composer_name_changed? && @enrollment_form.composer.tax_info.present? %>) {
  $(".publishing-edit-info-card-body").html("<%= j render "update_tax_info_prompt" %>");
} else {
  $('.publishing-dashboard-card-wrapper').show();
  $('.publishing-dashboard-card-edit-info-card-wrapper').hide();
}

if(<%= @enrollment_form.status == :active %>) {
  $('#publishing-complete-info-prompt-' + <%= @enrollment_form.composer.id %>).addClass('hide')
} else {
  $('#publishing-complete-info-prompt-' + <%= @enrollment_form.composer.id %>).removeClass('hide')
}

if (needs_pro) {
  $(".publishing-dashboard-card-pro-name").html("<em class='error'>missing</em>");
}
if (needs_cae) {
  $(".publishing-dashboard-card-cae").html("<em class='error'>missing</em>");
}

if (<%= @enrollment_form.added_publisher %>) {
  $(".publishing-dashboard-cta").removeClass('hide')
}
