<ul class="menu">
  <li class="section-titles"><strong><%= custom_t("shared.footer.account_services") %></strong></li>
  <ul class="horizontal medium-vertical menu">
    <% if current_user.nil? %>
      <li><%= link_to custom_t("login"), login_path(ENV.fetch("LOGIN_DDOS_MITIGATION_PARAM", "check").to_sym => 1) %></li>
    <% end %>
    <li><%= link_to custom_t("contact_us"), knowledgebase_link_for("distro-contact-us", country_website), target: "_blank" %></li>
    <li><%= link_to custom_t(:help), knowledgebase_link_for("help-homepage"), target: "_blank" %></li>
  </ul>
</ul>
