<ul class="menu">
  <li class="section-titles"><strong><%= custom_t("shared.footer.tc_community") %></strong></li>
  <ul class="horizontal medium-vertical menu">
    <li>
      <%= link_to "//www.facebook.com/TuneCore", target: "_blank" do %>
        <i class="fa fa-facebook fa-fw"></i>Facebook
      <% end %>
    </li>

    <li>
      <%= link_to "//twitter.com/TuneCore", target: "_blank" do %>
        <i class="fa fa-twitter fa-fw"></i>Twitter
      <% end %>
    </li>

    <li>
      <%= link_to "//www.instagram.com/tunecore/", target: "_blank" do %>
        <i class="fa fa-instagram fa-fw"></i>Instagram
      <% end %>
    </li>

    <li>
      <%= link_to link_to_blog_page(country_website), target: "_blank" do %>
        <i class="fa fa-pencil fa-fw"></i>Blog
      <% end %>
    </li>
  </ul>
</ul>
