<div class="panel clearfix tc_footer-top">
  <%= link_to custom_t("shared.footer.got_questions"), knowledgebase_link_for('help-homepage', country_website), target: "_blank", class: "button right" %>
</div>
