<ul class="menu">
  <li class="section-titles"><strong><%= custom_t('shared.footer.learn_about') %></strong></li>
  <ul class="horizontal medium-vertical menu">
    <li><%= link_to custom_t("shared.footer.what_is_tunecore"), '/index/about' %></li>
    <li><%= link_to custom_t("shared.footer.our_team"), '/index/bios' %></li>
    <li><%= link_to custom_t("shared.footer.careers"), 'index/careers' %></li>
    <li><%= link_to custom_t("terms_and_conditions"), '/index/terms' %></li>
    <li><%= link_to custom_t("shared.footer.privacy"), '/index/privacy' %></li>
    <li><%= link_to custom_t("shared.footer.site_map"), '/index/sitemap' %></li>
  </ul>
</ul>
