<ul class="menu">
  <li class="section-titles"><strong><%= custom_t("shared.footer.make_money") %></strong></li>
  <ul class="horizontal medium-vertical menu">
    <li><%= link_to custom_t("shared.footer.create_your_account"), signup_path if current_user.nil? %></li>
    <li><%= link_to custom_t("shared.footer.sell_your_music"), "/index/sell_your_music" %></li>
    <% if publishing_available_in_region? %>
      <li><%= link_to custom_t("shared.footer.get_publishing"), "/index/get_a_publishing_deal" %></li>
    <% end %>
    <li><%= link_to custom_t(:artist_services), artist_services_cms_url %></li>
    <li><%= link_to custom_t("shared.footer.success"), "/index/artist_milestones" %></li>
  </ul>
</ul>
