<fieldset class='grid_10 alpha omega'>
  <%= form_for @store, :url => update_description_admin_manager_path(:store_id => @store.id), :html => {:class => 'desc_form'} do |f| %>
    <%= f.text_area :description %>
    <%= f.check_box :is_free %>
    <%= f.submit "Save" %>
  <% end %>
</fieldset>
