<h1>Digital Distribution Point Manager</h1>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/manager" %>
<% end %>

<div id='modal' class='hide'></div>
<div id='ajax'>
  <div id="goodErrorExplanation" class="seven columns centered hide"><span></span></div>
  <div id="errorExplanation" class="seven columns centered hide"><span></span></div>
</div>

<h2>Stores</h2>
<table>
  <tr>
    <th>Activate</th>
    <th>Store</th>
    <th>Description</th>
  </tr>

  <%= form_for :manager, :url => { :action => 'update' }, :id => "manager" do |f| %>

    <% @stores.each do |store| %>
      <tr class="<%= (store.is_active)? '' : 'even' %>">
        <td>
          <% if store.launched_at.blank? %>
            <%= link_to "Launch", launch_admin_manager_path(:store_id => store.id), :method => :post %>
          <% else %>
            <input type="checkbox" name="stores[]" value="<%=store.id%>" <%=(store.is_active)? 'checked' :'' %>>
          <% end %>
        </td>
        <td>
          <%= store.name %>
        </td>
        <td>
          <%= link_to "Edit", edit_admin_manager_path(:store_id => store.id), {:class => "edit_description"} %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
