.service-container {
  margin-top: 10%;

  .description {
    font-family: Helvetica;
    font-size: 0.875em;
    padding: 20px 0px 20px 2px;
    line-height: 2.29;
  }

  .submit {
    font-family: Helvetica;
    font-weight: bold;
  }

  .apple-hero {
    padding-top: 11%;
  }

  .link {
    width: 100%;
  }

  .apple.logo {
    display: flex;
  }

  .apple.logo img {
    height: 103px;
  }

  .youtube.logo img {
    width: 350px;
  }

  .dropdown {
    margin-top: 0.5em;
  }

  .list-header {
    font-size: 1.25em;
    padding: 10px 5px 10px;
  }

  .list {
    list-style: none;

    li {
      line-height: 2.29;
    }

    li::before {
      color: #3b96cf;
      content: "\2022";
      padding-right: .8em;
      display: inline-block;
      font-weight: 100;
      margin-left: -1em;
      width: 1em;
    }
  }

  @media screen and (min-width: 768px) {
    .spotify-hero {
      margin-top: -100px
    }

    .youtube-hero {
      margin-top: -50px;
    }
  }

  .grey-out {
    background-color: #cccccc;
  }

  @media (min-width: 768px) {
    .content {
      padding-left: 8.5%;
    }
  }

  @media (max-width: 767px) {
    .logo {
      padding-top: 25px;
    }

    .spotify.logo {
      padding-bottom: 25px;
    }

    .youtube.logo {
      margin-bottom: 25px;
    }
  }
}
