<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/petri_mass_takedown_songs.js" %>
<% end %>

<h2><%= @page_title %></h2>
<%if @takedown%>
  <h4><%= link_to "Admin::Petri::Issue Takedown Distributions", admin_petri_mass_takedown_path%> | Song</h4>
<%else%>
  <h4><%= link_to "Album", admin_petri_retry_distributions_path %> - Song</h4>
<%end%>
<%= simple_form_for @mass_retry_songs_form, url: admin_mass_retry_songs_path, html: { class: "admin_mass_retry_songs_form" } do |f| %>
  <%= f.input :store_ids, as: :check_boxes, label: "Stores", collection: Store.mass_retry_song_stores, label_method: :name, value_method: :id %>
  <%if @takedown%>
  	<%= f.hidden_field :takedown, value: true%>
  	<%= f.hidden_field :delivery_type, value: 'metadata_only'%>
  <%else%>
  	<%= f.input :delivery_type, as: :radio_buttons, collection: [["full_delivery", "Full Delivery"], ["metadata_update", "Metadata Update"]], label_method: :last, value_method: :first%>
  <%end%>
  <%= f.input :song_ids_and_isrcs, as: :text, :input_html => { :cols => 5, :rows => 10 }, label: "Songs by IDs or ISRCs can be comma-separated, space-separated, or new-line-separated" %>
  <%= f.submit "Submit", class: 'mass_takedown_songs_submit'  %>
<% end %>


<div id="encumbrance_dailog">
  <p class="show-encumbrance-info"></p>
</div>
