<div class="artist-url-modal">
  <div class="top">
    <h3 class="left"><%= custom_t("album.artist_id_modal.title") %></h3>
  </div>
  <div class="bottom">
    <p class="main-artist-name"><%= custom_t("album.artist_id_modal.artist_creative_name") %>:
      <b class="artist-modal-creative-name"></b>
    </p>
    <p><%= custom_t("album.artist_id_modal.artist_url_prompt") %></p>
    <p><b><%= custom_t("album.artist_id_modal.first_release_msg") %></b></p>
    <div class="artist-urls-container">
      <%= render 'creatives/artist_url_modal_help_link', service_name: 'apple_music', kbl_slug: 'how-to-find-artist-id' %>

      <div class="input-group apple-row">
        <%= text_field_tag "urls[][apple]", "", class: "apple-artist-url-input artist-url-input" %>

        <% if apple_new_artist_enabled? %>
          <%= check_box_tag "urls[][apple_new_artist]", true, false, class: "apple-new-artist-url-input" %>
          <%= label_tag "urls[][apple_new_artist]", custom_t("album.artist_id_modal.apple_new_artist") %>
        <% end %>

        <p class="error-msg hidden"> <%= custom_t("album.artist_id_modal.invalid-url-error-msg") %></p>
      </div>

      <% if !@ringtone && FeatureFlipper.show_feature?(:spotify_artist_ids, current_user) %>
        <%= render 'creatives/artist_url_modal_help_link', service_name: 'spotify', kbl_slug: 'how-to-find-artist-id-spotify' %>

        <div class="input-group spotify-row">
          <%= text_field_tag "urls[][spotify]", "", class: "spotify-artist-url-input artist-url-input" %>
          <%= check_box_tag "urls[][spotify_new_artist]", true, false, class: "spotify-new-artist-url-input" %>
          <%= label_tag "urls[][spotify_new_artist]", custom_t("album.artist_id_modal.spotify_new_artist") %>
          <p class="error-msg hidden"> <%= custom_t("album.artist_id_modal.invalid-url-error-msg") %></p>
        </div>
      <% end %>
    </div>
    <%= button_tag custom_t(:cancel), class: "artist-url-modal-cancel", type: "button" %>
    <%= button_tag custom_t(:save), class: "artist-url-modal-save right" %>
  </div>
</div>
