<div>
  <b><%= label_tag "artist-url-label", custom_t("album.artist_id_modal.#{service_name}_url") %></b>
  <span class="right">
    <%= link_to custom_t("album.artist_id_modal.help_me_find_it"),
                knowledgebase_link_for(kbl_slug, country_website),
                target: :_blank %>
  </span>
</div>
