<% content_for :external_javascript do %>
  <%= javascript_include_tag "artist_urls_modal" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
  <script type="text/javascript">
    var TC = TC || {};
    TC.roles = [<%= Creative.album_roles.map { |role, id| '["' + role + '", "' + id + '"]' }.join(", ").html_safe %>];
    TC.is_various = <%= !@album.blank? && @album.is_various? %>;
  </script>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/magnific-popup.css" %>
  <%= stylesheet_link_tag "artist_urls_modal" %>
<% end %>

<% model_name = object.class.name.underscore %>
<% unless @album %>
  <% release_finalized = object.finalized? %>
<% else %>
  <% release_finalized = false %>
<% end %>
<%# only the primary artist can appear here %>
<% if @album && @album.is_various? %>
  <% creative = Creative.new(:role => "primary_artist") %>
  <% main_creatives = creatives.select {|x| x.role == 'primary_artist'} %>
<% else %>
  <% creative = Creative.new(:role => "primary_artist") %>
  <% feat_creative = Creative.new(:role => "featuring") %>
  <% main_creatives = creatives.select {|x| x.role == 'primary_artist'} %>
  <% feat_creatives = creatives.select {|x| x.role == 'featuring'} %>
<% end %>

<%# Don't show preview for album creation but do show for song creation %>
<% unless @album %>
  <fieldset id="preview-title" class="<%= model_name %>-preview <%= "hide" if release_finalized %>" style="display: none;">
    <label for="preview-title-text"><%= custom_t('.title_preview') %></label>
    <span id="preview-title-text" class="form-readonly-text">
      <%= object.name.blank? ? custom_t('.song_title_here') : object.name %>
    </span><br>
    <span id="preview-artist-text" class="form-readonly-text">
      by <%= object.artist_name.blank? ? custom_t(:artist) : object.artist_name %>
    </span>
  </fieldset>
<% end %>

<%= render "creatives/artist_url_modal" %>

<% has_error = ([:creatives, :artist] & object.errors.keys).any? %>

<fieldset class="primary_artists <%= has_error ? 'fieldWithErrors' : '' %>">
    <label><span><%= custom_t(:num_main_artist, count: main_creatives.size) %><% if !@album || !@album.is_various? %></span><strong class="required">*</strong><% end %></label>
  <ul>
    <% main_creatives << Creative.new(:role => "primary_artist") if main_creatives.size == 0 %>
    <% show_controls = main_creatives.size > 1 %>
    <% main_creatives.each do |creative| %>
      <%= render :partial => "creatives/creative",
                 :locals => {
                             :creative => creative,
                             :should_hide => false,
                             :show_controls => show_controls,
                             :release_finalized => release_finalized,
                             :trigger_preview => @album ? "" : "trigger-artist-preview",
                             :model => object
                            }
      %>
    <% end %>
  </ul>

  <% if object.errors[:creatives].present? %>
    <fieldset class="errors">
      <%# errors for creative collection on object %>
      <div id="primary-artist-errors" class="formError">
        <strong><%= object.errors[:creatives].join(', ') %></strong>
      </div>
    </fieldset>
  <% elsif object.errors[:artist].present? %>
    <fieldset class="errors">
      <div id="primary-artist-song-errors">
        <strong><%= object.errors[:artist].join(', ') %></strong>
      </div>
    </fieldset>
  <% end %>
</fieldset>

<% if creative.errors.size > 0 %>
  <fieldset class="errors">
    <%# errors for single creative %>
    <div id="primary-artist-errors" class="formError">
      <strong><%= creative.errors.full_messages.join(", ") %></strong>
    </div>
  </fieldset>
<% end %>

<fieldset id="add-main-artists">
  <span class="show-creatives">
    <a href="#" class="add-main button-interface"><%= custom_t('.add_another_main_artist') %></a>
  </span>
</fieldset>

<% unless @album || @single %>
<fieldset class="featuring_artists">
    <label><%= custom_t(:num_featured_artist, count: feat_creatives.size) %></label>
  <ul>
    <% feat_creatives << Creative.new(:role => "featuring") if feat_creatives.size == 0 %>
    <% feat_creatives.each do |feat_creative| %>
      <%= render :partial => "creatives/creative",
                 :locals => {
                             :creative => feat_creative,
                             :should_hide => false,
                             :show_controls => (feat_creatives.size > 1),
                             :release_finalized => release_finalized,
                             :trigger_preview => "trigger-title-preview",
                             :model => object
                            }
      %>
    <% end %>
  </ul>
</fieldset>

<fieldset id="add-feat-artists">
  <span class="show-creatives">
    <a href="#" class="add-featured button-interface"><%= custom_t('.add_another_featured_artist') %></a>
  </span>
</fieldset>
<% end %>
