<%= text_field_tag("#{model_name}[creatives][][name]", creative.name, maxlength: 120,
class: "#{trigger_preview} form-text #{ show_controls ? "" : "number-hidden" }
one-artist #{creative.role == "featuring" ? "featured_artist" : "main_artist"} songwriter-artist album_creatives__name notranslate", autocomplete: "off") %>
<div class="main-artist-creative-controls songwriter-remove-btn">
<%= link_to(image_tag('/images/creatives/remove_creative.png', :alt => ''), "#", class: "remove-creative #{trigger_preview} #{ show_controls ? "" : "hide" }", title: custom_t('creatives.creative.remove_this_creative')) %>
</div>

<%= hidden_field_tag "artist_urls[][apple]", "", class: "apple-artist-url-value" %>
<%= hidden_field_tag "artist_urls[][spotify]", "", class: "spotify-artist-url-value" %>

<% if spotify_artists_enabled? %>
  <%= hidden_field_tag "artist_urls[][spotify_new_artist]", "", class: "spotify-new-artist-url-value" %>
<% end %>

<% if apple_new_artist_enabled? %>
  <%= hidden_field_tag "artist_urls[][apple_new_artist]", "", class: "apple-new-artist-url-value" %>
<% end %>

<%= button_tag add_artist_text, class: "add-artist-url" %>
