<% should_hide ||= false %>
<% show_controls ||= false %>
<li class="creative <%= creative.role %> <%= should_hide ? "hide" : "" %>" data-type="<%= creative.role %>">
  <div class="context-wrapper">
    <% model_name = model.class.name.underscore %>
    <label class="creatives_label"><span class="creative_number" <% if !show_controls %>style="display: none;"<% end %>></span></label>
    <%= hidden_field_tag "#{model_name}[creatives][][id]", creative.id, :class => "creatives_hidden form-text" %>
    <%= hidden_field_tag "#{model_name}[creatives][][role]", creative.role, :class => "creatives_hidden form-text" %>

    <% if creative.role == "primary_artist" && controller_name != 'tiktok_singles' %>
      <%= render "creatives/creative_with_artist_urls",
        model_name: model_name, creative: creative, trigger_preview: trigger_preview, show_controls: show_controls %>
    <% else %>
      <%= text_field_tag("#{model_name}[creatives][][name]", creative.name,
        class: "#{trigger_preview} form-text #{ show_controls ? "" : "number-hidden" }
        one-artist #{creative.role == "featuring" ? "featured_artist" : "main_artist"} notranslate") %>
      <div class="main-artist-creative-controls">
        <%= link_to(image_tag('/images/creatives/remove_creative.png', :alt => ''), "#", class:"remove-creative #{trigger_preview} #{ show_controls ? "" : "hide" }", :title => custom_t('.remove_this_creative')) %>
      </div>
    <% end %>
  </div>
</li>
