<% content_for :external_javascript do %>
  <script type="text/javascript">
    var TC = TC || {};
    TC.roles = [<%= Creative.album_roles.map { |role, id| '["' + role + '", "' + id + '"]' }.join(", ").html_safe %>];
    TC.is_various = <%= @album.is_various? %>;
  </script>
<% end %>

<% model_name = object.class.name.underscore %>
<%# only the primary artist can appear here %>
<% if !@song || @album.is_various? %>
  <% creative = Creative.new(:role => "primary_artist") %>
  <% feat_creative = Creative.new(:role => "featuring") %>
  <% main_creatives = creatives.select{|x| x.role == 'primary_artist'} %>
  <% feat_creatives = creatives.select{|x| x.role == 'featuring'} %>
<% else %>
  <% creative = Creative.new(:role => "primary_artist") %>
  <% creative.name = @album.artist_name if !@album.artist_name.blank? %>
  <% feat_creative = Creative.new(:role => "featuring") %>
  <% main_creatives = creatives.select{|x| x.role == 'primary_artist'} %>
  <% feat_creatives = creatives.select{|x| x.role == 'featuring'} %>
<% end %>

<fieldset id="preview-title" class="<%= model_name %>-preview" style="display: none;">
  <label for="preview-title-text">Title Preview</label>
  <span id="preview-title-text" class="form-readonly-text">
    <%= object.name.blank? ? "Song Title Here" : object.name %>
  </span><br>
  <span id="preview-artist-text" class="form-readonly-text">
    by <%= @song.artist_name.blank? ? "Artist" : @song.artist_name %>
  </span>
</fieldset>

<% unless @album.is_various? %>
<hr style="border: 0; border-top: 1px solid #ccc; margin-bottom: 20px;" />
<% end %>

<% if object.errors[:creatives].present? %>
<fieldset class="errors">
  <%# errors for creative collection on object %>
  <div id="primary-artist-errors" class="formError">
    <strong>Artist: <%= object.errors[:creatives] %></strong>
  </div>
</fieldset>
<% elsif object.errors[:artist].present? %>
<fieldset class="errors">
  <div id="primary-artist-song-errors">
    <strong>Artist: <%= object.errors[:artist] %></strong>
  </div>
</fieldset>
<% end %>

<% if creative.errors.size > 0 %>
<fieldset class="errors">
  <%# errors for single creative %>
  <div id="primary-artist-errors" class="formError">
    <strong><%= custom_t(".main_artist") %>:  <%= creative.errors.full_messages.join(", ") %></strong>
  </div>
</fieldset>
<% end %>

<fieldset class="primary_artists">
<label><span><%= (@album.is_various? && main_creatives.size > 1) || (!@album.is_various? && main_creatives.size > 0) ? custom_t(:main_artists) : custom_t(:main_artist) %></span><% if !@song || @album.is_various? %><strong class="required">*</strong><% end %></label>
  <ul>
    <% if @song && !@album.is_various? %>
    <li class="creative primary_artist" data-type="primary_artist">
      <div class="context-wrapper">
        <label class="creatives_label"><span class="creative_number" <% if main_creatives.size == 0 %>style="display: none;"<% end %>></span></label>
        <span id="artist-name-text" class="form-readonly-text">
          <%= creative.name %>
        </span>
      </div>
    </li>
    <% end %>
    <% main_creatives << Creative.new(:role => "primary_artist") if main_creatives.size == 0 %>
    <% show_controls = (@album.is_various? && main_creatives.size > 1) || (!@album.is_various? && main_creatives.size > 0) %>
    <% main_creatives.each do |creative| %>
      <%= render :partial => "creatives/song_creative",
                 :locals => {
                             :creative => creative,
                             :should_hide => !(creative.id || creative.name) && !@album.is_various?,
                             :show_controls => show_controls,
                             :trigger_preview => "trigger-artist-preview",
                             :model => object
                            }
      %>
    <% end %>
  </ul>
</fieldset>

<fieldset id="add-main-artists">
  <span class="show-creatives">
    <a href="#" class="add-main button-interface"><%= custom_t(".add_another_main_artist") %></a>
  </span>
</fieldset>

<% if @album.is_various? %>
<hr style="border: 0; border-top: 1px solid #ccc; margin-bottom: 20px;" />
<% end %>

<fieldset class="featuring_artists">
  <label><%= feat_creatives.size > 1 ? custom_t(:featured_artists) : custom_t(:featured_artist) %></label>
  <ul>
    <% feat_creatives << Creative.new(:role => "featuring") if feat_creatives.size == 0 %>
    <% feat_creatives.each do |feat_creative| %>
      <%= render :partial => "creatives/song_creative",
                 :locals => {
                             :creative => feat_creative,
                             :should_hide => false,
                             :show_controls => (feat_creatives.size > 1),
                             :trigger_preview => "trigger-title-preview",
                             :model => object
                            }
      %>
    <% end %>
  </ul>
</fieldset>

<fieldset id="add-feat-artists">
  <span class="show-creatives">
    <a href="#" class="add-featured button-interface"><%= custom_t(".add_another_featured_artist") %></a>
  </span>
</fieldset>
