<p>Here's your free song!</p>

<br/>

<%=link_to "Click here to download your song.", @download_link%>
<br/>
<p> If you have any questions, please contact us at <a href="http://www.tunecore.com/contact">TuneCore</a>. </p>
<p>
  TuneCore <br/>
  Customer Care
</p>
