<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/tc_social.css" %>
<% end %>

<div class="tc-social-link-share itunes">
  <span class="tc-social-title">
    <%= custom_t("album.live_on_stores.itunes_link") %>
  </span><br>
  <%= custom_t("album.live_on_stores.fans_music") %><br>
  <%= render template: "tc_social/new",
      locals: { button_text: button_text,
                message:     itunes_link } %>
</div>
<% if album.apple_music %>
  <div class="tc-social-link-share apple-music">
    <span class="tc-social-title">
    <%= custom_t("album.live_on_stores.apple_music_link") %>
    </span><br>
    <%= custom_t("album.live_on_stores.fans_stream") %><br/>
    <%= render template: "tc_social/new",
        locals: { button_text: button_text,
                  message:     apple_music_link } %>
  </div>
<% end %>
