<%= form_for :tc_social, url: tc_social_index_path, method: "post" do |f| %>
  <%= text_area_tag "message", message, id: "tc_social_publisher_text", placeholder: custom_t(:share_something) %>
  <%= submit_tag button_text, id: "tc_social_publisher_submit" %>
<% end %>
