<% if @error %>
  alert("Sorry, we were unable to save your changes: <%= @error %>")
<% else %>
  alert("Your changes have been saved.")
  jQuery(".row-<%= @row %>").remove()
  jQuery("#data-section").prepend("<%=j render partial: "help_link_form", locals: { help_link: @link, action: :post, suffix: @link.id }%>")
<% end %>
