<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/admin.css" %>
  <%= stylesheet_link_tag "/stylesheets/country_help_links.css" %>
<% end %>

<main class="content">
  <header class="row">
    <div class="twelve columns">
      <h1>Country Help Links</h1>
      <nav class="nav" role="navigation">
        <ul>
          <li><%= link_to "New Help Link", new_admin_country_help_link_path, remote: true %></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="row hide"><div class="twelve columns error">sdklfhasjkdfaksjdfhakljs</div></div>

  <div class="row">
    <div class="twelve columns">
      <%= will_paginate @help_links %>
    </div>
  </div>

  <div class="row header-row">
    <div class="one columns header-column">ID</div>
    <div class="one columns header-column">Meta ID</div>
    <div class="one columns header-column">US ID</div>
    <div class="one columns header-column">CA ID</div>
    <div class="one columns header-column">UK ID</div>
    <div class="one columns header-column">AU ID</div>
    <div class="one columns header-column">DE ID</div>
    <div class="one columns header-column">FR ID</div>
    <div class="one columns header-column">IT ID</div>
    <div class="three columns header-column"></div>
  </div>

  <section id="data-section">
  <% if @help_links.each do |link| %>
    <%= render partial: "help_link_form", locals: { help_link: link, action: :put, suffix: link.id } %>
  <% end.empty? %>
    <div class="row">
      <div class="twelve columns">
        No Country Help Links Available
      </div>
    </div>
  <% end %>
  </section>

  <div class="row">
    <div class="twelve columns">
      <%= will_paginate @help_links %>
    </div>
  </div>
</main>
