<% if @error %>
  alert("Sorry, we were unable to save your changes: <%= @error %>")
<% else %>
  alert("Your changes have been saved.")
  jQuery(".button_<%=@link_id%>").addClass("disabled")
  jQuery(".button_<%=@link_id%>").prop("disabled", true)
<% end %>
