<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/admin/form-utils.js" %>
  <%= javascript_include_tag "/javascripts/petri_mass_tools.js" %>
<% end %>
<style type="text/css" media="screen">
  .checkbox-wrapper label {
    text-align: left;
    clear: none;
  }
  .retry-table td {
    font-size: 12px;
  }
  .table tr td {
    padding: 18px;
  }

  .mass_retry-wrapper p {
    text-align: center;
  }
  .status_link h4 {
    padding-top: 12px;
  }
</style>
<h2><%= @page_title %></h2>
<h4>Album - <%= link_to "Song", admin_mass_retry_songs_path %></h4>
  <%= form_tag admin_petri_retry_distributions_create_path, method: "post", authenticity_token: form_authenticity_token, multipart: true do %>
  <table class="retry-table">
    <tr>
      <td>
        Stores:
      </td>
      <td>
        <div class="checkbox-wrapper">
          <label><input type="checkbox" name="all_toggler" id="all_toggler" value="all">All</label>
          <label><input type="checkbox" name="itunes" class="toggled check_boxes" value="1">iTunes</label>
          <% @stores.each do |store| %>
            <label><input type="checkbox" name="store_ids[]" class="toggled check_boxes" value="<%= store.id %>"><%= store.name %></label>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td>Metadata Update</td>
      <td><input type="checkbox" name="metadata_only"> Click on checkbox for metadata update</input></td>
    </tr>
    <% if FeatureFlipper.show_feature?(:tc_distributor_mass_retry_checkbox, current_user) %>
      <tr>
        <td>Use Tc-Distributor Only</td>
        <td><input type="checkbox" name="use_sns_only"> Click on checkbox to deliver with Tc-Distributor</input></td>
      </tr>
    <% end %>
    <tr>
      <td>
        Album Ids/UPCs:
      </td>
      <td>
        <textarea name="album_ids_or_upcs" cols="13" rows="20"><%= @album_ids %></textarea><br /><br />
        <div>or</div><br />
        <div class="mass_retry-wrapper">
          <input type="checkbox" id="mass_retry-import-csv" style="padding-bottom: 19px;" name="import_csv"> Import Album Ids/UPCs by CSV</input>

          <p id="mass_retry-uploader" class="hidden" style="padding-top:15px;">
            <%= file_field_tag :filename %>
          </p>
        </div><br />
      </td>
    </tr>
    <tr>
      <td>Batch Retry</td>
      <td class="mass_retry-wrapper">
        <p style="padding-top: 18px;">
          <input type="checkbox" id="mass_retry-batch_retry" name="retry_in_batches"> Click on checkbox to retry distributions in batches</input>
        </p>
        <div id="mass_retry-daily-retry-limit" class="hidden">
          <p>Daily retry limit per store (max <%= ENV.fetch('BATCH_RETRY_DAILY_LIMIT', Store::BATCH_RETRY_DAILY_LIMIT_DEFAULT) %>):
          <input type="text" name="daily_retry_limit" style="width: 70px;"></p>
          <p>Job Name: <input type="text" name="job_name"></p>
        </div>
      </td>
    </tr>
  </table>
  <div style="clear: both;">
    <input type="submit" />
  </div>
  <div class="status_link">
    <h4><%=link_to "View Retried Distributions Status", admin_distribution_batch_retry_reports_path %></h4>
  </div>
<% end %>

<% if @retried_distributions && !@retried_distributions.empty? %>
<h2>Retried Distributions</h2>

<table class="table">
  <thead>
    <tr>
      <th>Album ID</th>
      <th>Album Name</th>
      <th>Distributions</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <% @retried_distributions.each do |distro| %>
  <tr>
    <td>
      <%= distro[:album].id %>
    </td>
    <td>
      <%= distro[:album].name %>
    </td>
    <td>
      <% distro[:distributions].each do |d| %>
        <%= d.distribution.salepoints.first.store.name %>&nbsp;
      <% end %>
    </td>
    <td>
      <%= distro[:status] %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>
