<colgroup>
  <col class="sync_search-col_favorite" />
  <col class="sync_search-col_album" />
  <col class="sync_search-col_song" />
  <col class="sync_search-col_artist" />
  <col class="sync_search-col_composer" />
  <col class="sync_search-col_genres" />
  <col class="sync_search-col_splits" />
  <col class="sync_search-col_link" />
</colgroup>
<thead>
  <tr>
    <th>Fav</th>
    <th>Album</th>
    <th>Song</th>
    <th>Artist</th>
    <th>Composer</th>
    <th>Genres</th>
    <th>% Controlled<br><span style="font-size:0.8em;">master&nbsp;|&nbsp;comp</th>
    <th></th>
  </tr>
</thead>
