<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.inputmask.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.validate.js" %>
  <%= javascript_include_tag "/javascripts/app/credit_card.js" %>
    
  <% if current_user.three_d_secure_enabled? %>
    <script src='https://js.braintreegateway.com/web/3.82.0/js/client.min.js'></script>
    <script src='https://js.braintreegateway.com/web/3.82.0/js/three-d-secure.min.js'></script>
    <script src='https://js.braintreegateway.com/web/3.82.0/js/hosted-fields.min.js'></script>
    <%= javascript_include_tag "/javascripts/app/credit_card_3dsecure.js" %>
  <% end %>
<% end %>


<% if current_user.three_d_secure_enabled? %>
  <%= render partial: "shared/modal", 
            locals: {
              id: "verification-modal", 
              title: custom_t("stored_credit_cards.verifying_card_title"), 
              contents: custom_t("stored_credit_cards.verifying_card_content")
            } 
  %>
  <%= render partial: "shared/modal", 
            locals: {
              id: "error-modal", 
              title: custom_t("something_went_wrong"), 
              contents: custom_t("stored_credit_cards.verification_error_generic"),
              type_class: "error"
            } 
  %>
  <ul>
    <li>
      <label for="hf-number"><%= custom_t("stored_credit_cards.card_number") %> <strong class="required">*</strong></label>
      <div class="context-wrapper braintree-hosted-field" id="hf-number"></div>
    </li>
    <li>
      <label for="hf-date"><%= custom_t(".exp_date") %> <strong class="required">*</strong></label>
      <div class="context-wrapper braintree-hosted-field" id="hf-date"></div>
    </li>
    <li>
      <label for="hf-cvv">CVV <strong class="required">*</strong></label>
      <div class="context-wrapper braintree-hosted-field" id="hf-cvv"></div>
    </li>
  </ul>
  <%= hidden_field_tag "three_d_secure_nonce", '' %>
  <%= hidden_field_tag "braintree_3dsecure_auth_id", '' %>
<% else %>
  <%= f.text_field(:last_four, name: "", label: custom_t("stored_credit_cards.card_number"), value: "", tc_required: true, maxlength: 16, class: 'required', contextual_help: custom_t(".visa_mc_amex_dis")) %>
  <%= f.text_field(:expiration_month, name: @edit_page ? "ccexp" : "", value: "#{padded_expiration_month(@stored_credit_card.expiration_month) if storage_op == 'update_customer'} #{@stored_credit_card.expiration_year.to_s if storage_op == 'update_customer'}", label: custom_t(".exp_date"), class: 'short', tc_required: true, contextual_help: custom_t(".expiration_date"))%>
  <%= f.text_field(:cvv, label: "cvv", value: "", tc_required: true, class: "required") %>
<% end %>


<h2><%= custom_t(".billing_address") %></h2>
<ul>
  <%= f.text_field(:first_name, name: "firstname", label: custom_t(".first_name"), contextual_help: custom_t(".firstname_cardholder"), tc_required: true, value: @edit_page ? @payment_method_billing_info&.first_name : @stored_credit_card.first_name) %>
  <%= f.text_field(:last_name, name: "lastname", label: custom_t(".last_name"), contextual_help: custom_t(".lastname_cardholder"), tc_required: true, value: @edit_page ? @payment_method_billing_info&.last_name : @stored_credit_card.last_name) %>
  <%= f.text_field(:company, name: "company", label: custom_t(:company), contextual_help: custom_t(".credit_company")) %>

  <%= f.text_field(:address1,
                   name: "address1",
                   label: custom_t(".address_line1"),
                   tc_required: true,
                   contextual_help: custom_t(".street_address"),
                   value: @edit_page ? @payment_method_billing_info&.street_address : @stored_credit_card.address1,
                   data: {"regex": Person::ADDRESS_REGEX, "regex-flag": Person::ADDRESS_FIELDS_REGEX_FLAG}) %>
  <%= f.text_field(:address2,
                   name: "address2",
                   label: custom_t(".address_line2"),
                   contextual_help: custom_t(".street_address"),
                   value: @edit_page ? @payment_method_billing_info&.extended_address : @stored_credit_card.address2,
                   data: {"regex": Person::ADDRESS_REGEX, "regex-flag": Person::ADDRESS_FIELDS_REGEX_FLAG}) %>
  <%= f.text_field(:city,
                   name: "city",
                   label: custom_t(:city),
                   tc_required: true,
                   contextual_help: custom_t(".city"),
                   value: @edit_page ? @payment_method_billing_info&.locality : @stored_credit_card.city,
                   data: {"regex": Person::AREA_REGEX, "regex-flag": Person::ADDRESS_FIELDS_REGEX_FLAG}) %>

    <%= f.select(:state,
                 @states,
                 {label: custom_t(:state), include_blank: true, tc_required: true, selected: @edit_page ? @payment_method_billing_info&.region : @stored_credit_card.state},
                 {name:"state", li_class: "select",
                 contextual_help: custom_t(".select_state")}) %>

  <%= f.text_field(:zip,
                   :name => "zip",
                   :label => custom_t(".postal_code"),
                   :class => 'short',
                   :tc_required => true,
                   :contextual_help => custom_t(".enter_postalcode"),
                   value: @edit_page ? @payment_method_billing_info&.postal_code : @stored_credit_card.zip,
                   data: {"regex": Person::POSTAL_CODE_REGEX, "regex-flag": Person::ADDRESS_FIELDS_REGEX_FLAG}) %>

  <%= f.select(:country,
              @countries,
              {label: custom_t(:country_display), tc_required: true, selected: @edit_page ? @payment_method_billing_info&.country_code_alpha2 : @stored_credit_card.country,
              contextual_help: custom_t(".select_country") },
              data: { 
                "optional-address-countries": Country::UNITED_STATES_AND_TERRITORIES,
                "three-d-secure-countries": Country::EEA_COUNTRIES
              },
              name:"country", li_class: "select")%>
</ul>

<% if storage_op != 'pay_with_new_card' %>
<ul>
  <li id="stored_credit_card_notice"><p><%= custom_t(".card_stored") %></p></li>
  <%= hidden_field_tag "mark_as_preferred_checkbox", 1 %>
  <%= hidden_field_tag "merchant_defined_field_5", 1 %>
  <%= hidden_field_tag "merchant_defined_field_10", params[:tc_balance] %>
  <%= hidden_field_tag "braintree_payment_nonce", 0 %>

  <div class="clear"></div>
<% end %>

<% if @tcs_return_msg %>
  <%= hidden_field_tag "tcs_return_msg", @tcs_return_msg %>
<% end %>

<% if current_user.three_d_secure_enabled? %>
  <%= hidden_field_tag "affiliated_to_bi", current_user.affiliated_to_bi? %>
<% end %>
