<%= form_tag '/payment/pay_with_card', {:id => 'stored-credit-cards'} do -%>
	<table id="stored_credit_cards">
		<caption><%= custom_t("stored_credit_cards.credit_cards") %></caption>
	  <thead>
	    <tr>
	      <th><%= custom_t("stored_credit_cards.card_type") %></th>
	      <th><%= custom_t("stored_credit_cards.card_number") %></th>
	      <th><%= custom_t("stored_credit_cards.name_card") %></th>
	      <th><%= custom_t("stored_credit_cards.expires") %></th>
	      <th><%= custom_t("sales_credit_cards.delete") %></th>
				<th><%= custom_t("stored_credit_cards.use_this") %></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @stored_credit_cards.each_with_index do |stored_card, index| -%>
	      <tr id="stored_credit_card_<%= stored_card.id %>">
	        <td><%= stored_card.cc_type %></td>
	        <td><%= stored_card.padded_cc_number %></td>
	        <td><%= stored_card.first_name %> <%= stored_card.last_name %></td>
	        <td><%= stored_card.expiration_month %> / <%= stored_card.expiration_year %></td>
	        <td><%= link_to(custom_t(:update), edit_stored_credit_card_path(stored_card, p: "payment", i: @invoice.id)) %>
          | <%= link_to(custom_t("stored_credit_cards.delete"), stored_credit_cards_path(stored_card, invoice_id: @invoice.id), method: :delete, data: { confirm: custom_t("stored_credit_cards.remove_card") }) %></td>
					<td>
						<% if !stored_card.expired? -%>
							<%= radio_button_tag("stored_card_id", stored_card.id, index == 0 ) %>
						<% else -%>
							<span class="expired"><%= custom_t("stored_credit_cards.expired") %></span>
						<% end -%>
					</td>
	      </tr>
	    <% end -%>
	    <tr id="new_card">
	      <td colspan="5" class="right"><%= custom_t("stored_credit_cards.new_card") %></td>
				<td><%= radio_button_tag("stored_card_id", "new_card", false) %></td>
	    </tr>
	  </tbody>
	  <tfoot>
	  </tfoot>
	</table>
	<div id="pay_with_stored" <%= "style='display: none;'" if @stored_credit_cards.select{ |sc| sc.expired? == false }.length == 0  %>>
		<%= hidden_field_tag(:invoice_id, @invoice.id) %>
		<%= submit_tag(custom_t(".make_payment"), :id=>"pay_with_stored_card") %> <%= link_to(custom_t(".cancel"), invoice_path(@invoice), :class=>"cancel") %>
	</div>
<% end -%>
