<% content_for :external_javascript do %>
  <script src="https://js.paymentsos.com/v2/latest/secure-fields.min.js"></script>
  <%= javascript_include_tag "/javascripts/app/payu_credit_cards.js", id: "payu-cc-js",
                             'data-payu-pubkey': ENV['PAYMENTS_OS_PAYU_PUBLIC_KEY'],
                             'data-payu-env': ENV['PAYMENTS_OS_ENV']%>
  <%= javascript_include_tag "people" %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/payu_credit_cards.css" %>
<% end %>

<ul>
  <%= f.text_field(:first_name, name: "firstname", label: custom_t(".first_name"), contextual_help: custom_t(".firstname_cardholder"), required: true, tc_required: true, value: stored_credit_card.first_name) %>
  <%= f.text_field(:last_name, name: "lastname", label: custom_t(".last_name"), contextual_help: custom_t(".lastname_cardholder"), tc_required: true, required: true, value: stored_credit_card.last_name) %>
  <%= f.text_field(:phone_number, name: "phone_number", label: custom_t(".phone_number"), contextual_help: custom_t(".phone_number"), required: true, tc_required: true, value: stored_credit_card.phone_number) %>
  <%= f.hidden_field(:payments_os_token, name: "payments_os_token", value: 0) %>
  <%= hidden_field_tag(:payment_vendor, "payments_os") %>
  <li id="card-info-container">
    <label><%= custom_t(".card_details") %>*</label>
    <div id="card-secure-fields" class="field"></div>
  </li>
</ul>

<h2><%= custom_t(".billing_address") %></h2>
<ul>
  <%= f.text_field(:company, name: "company", label: custom_t('.company'), contextual_help: custom_t(".credit_company")) %>

  <%= f.text_field(:address1, name: "address1", required: true, label: custom_t(".address_line1"), tc_required: true, contextual_help: custom_t(".street_address"), value: stored_credit_card.address1) %>
  <%= f.text_field(:address2, name: "address2", label: custom_t(".address_line2"), contextual_help: custom_t(".street_address"), value: stored_credit_card.address2) %>

  <%= f.text_field(:zip, :name => "zip", :label => custom_t(".postal_code"), :class => 'short', required: true, :tc_required => true, :contextual_help => custom_t(".enter_postalcode"), value: stored_credit_card.zip) %>

  <% if FeatureFlipper.show_feature?(:enable_gst, @person) %>
    <li>
      <%= label_tag "gstin", custom_t(".gstin_label") %>
      <div class="context-wrapper">
        <%= text_field_tag("gstin", nil, contextual_help: custom_t(".enter_gstin"), maxlength: 15) %>
      </div>
    </li>
  <% end %>

  <%= render partial: 'state_city_autocomplete', locals: {form: f, person_address: false, credit_card: true} %>

  <%= f.select(:country,
               india_country_for_dropdown,
               {label: custom_t('.country_display'), tc_required: true, required: true,
                selected: stored_credit_card.country,
                contextual_help: custom_t(".select_country") },
  name:"country", li_class: "select")%>
</ul>
