<% content_for :external_javascript do %>
  <%= javascript_include_tag "city_autocomplete_by_state" %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/state_city_autocomplete.css" %>
<% end %>

<% selected_state_id = CountryState.find_by(name: form.object.state&.strip)&.id if person_address %>
<%= form.select(person_address ? :state : :state_id,
              options_for_select(country_state_select_options, selected_state_id),
              {label: custom_t('.state'),
               tc_required: true,
               contextual_help: custom_t(".select_state"),
               li_class: "select",
               li_id: "stored_credit_card_state_list_item",
               allow_blank: true
              },
                id: "gst_person_state",
                name: "state_id",
                class: 'country_state_selector address-input short',
                disabled: credit_card ? false : @person.address_locked?,
                data: {
                  "person_address": person_address,
                  "fe-validation-required": true
                })%>

<li id="stored_credit_card_state_city_list_item">
  <label for="state_city_autocomplete"><%= custom_t('.city') %>*</label>
  <div class="context-wrapper city-state">
    <input class="state-city-input address-input"
           type="text"
           autocomplete="no"
           name='state_city_name'
           value="<%= person_address ? form.object.city : ''%>"
           id="state_city_autocomplete"
           contextual_help="<%= custom_t('stored_credit_cards.payu_form.city_input') %>"
           placeholder="<%= custom_t("stored_credit_cards.payu_form.please_enter_city") %>"
           required
           data-fe-validation-required="true"
      />
    <span class="state-city-spinner">
      <i class="fa fa-spinner fa-pulse" hidden></i>
    </span>
  </div>
</li>
