<% if !@stored_credit_cards.empty? -%>
<section class="grid_12">
	<header>
		<h1><%= custom_t("stored_credit_cards.credit_cards") %></h1>
	</header>
  <table id="stored_credit_cards">
    <thead>
      <tr>
        <th><%= custom_t("stored_credit_cards.card_type") %></th>
        <th><%= custom_t(".card_ends_in") %></th>
        <th><%= custom_t("stored_credit_cards.name_card") %></th>
        <th><%= custom_t("stored_credit_cards.expires_on") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @stored_credit_cards.each do |stored_card| -%>
        <tr id="stored_credit_card_<%= stored_card.id %>">
          <td><%= stored_card.cc_type %></td>
          <td><%= stored_card.last_four %></td>
          <td><%= stored_card.first_name %> <%= stored_card.last_name %></td>
          <td <%= "class='expired'" if stored_card.expired? %>><%= stored_card.expiration_month %> / <%= stored_card.expiration_year %></td>
          <td><%= link_to(custom_t(:update), edit_stored_credit_card_path(stored_card)) %>
            | <%= link_to(custom_t("stored_credit_cards.delete"), stored_credit_cards_path(stored_card), method: :delete, data: { confirm: custom_t("stored_credit_cards.remove_card") }) %></td>
        </tr>
      <% end -%>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  <%= link_to custom_t(".add_card"), {:action => "new"}, :class => "button" %>
</section>
<aside class="grid_4">
	<h5><%= custom_t("stored_credit_cards.credit_cards") %></h5>
	<p><%= custom_t(".credit_secure_shopping") %></p>
</aside>
<% else -%>
<section class="grid_16 alpha omega">
	<header>
		<h1><%= custom_t("stored_credit_cards.credit_cards") %></h1>
	</header>
  <div>
    <h2><%= custom_t(".no_credit_cards_stored") %></h2>
    <div class="rounded-container">
      <p class="info"><%= custom_t(".credit_secure_shopping") %></p>
    </div>
    <br />
    <%= link_to custom_t(".add_card"), {:action => "new"}, :class => "button" %>
  </div>
</section>
<% end -%>
