<div id="preferred_credit_card_<%=stored_credit_card_for_pref.id %>" class="item <%= cycle('odd', 'even') %> row collapse">
  <% if stored_cards.count > 1 %>
    <div class="one column">
      <ul>
         <%= f.radio_button :preferred_credit_card_id, stored_credit_card_for_pref.id, :label=>'', :disabled=>stored_credit_card_for_pref.expired?%>
      </ul>
    </div>
  <% end %>

  <div class="three columns">
    <label for="person_preference_preferred_credit_card_id_<%= stored_credit_card_for_pref.id %>"
      <%= if stored_credit_card_for_pref.mark_as_failed? then "class=warning-text" end %>>
        <strong><%= stored_credit_card_for_pref.cc_type %><br /> <%= stored_credit_card_for_pref.padded_cc_number %></strong><br />
        <span <%= if stored_credit_card_for_pref.expired? then "class='em'" end %> >
            <%= custom_t(:expires) %> <%= stored_credit_card_for_pref.expiration_month %>/<%=stored_credit_card_for_pref.expiration_year %>
        </span>
    </label>
  </div>

  <div class="four column cc-actions">
    <% if stored_credit_card_for_pref.mark_as_failed? %>
      <%= edit_failed_stored_credit_card_button(stored_credit_card_for_pref) %>
      <br/>
      <span class="warning-text"><%= custom_t("people.edit_profile_payment.credit_card_failed") %></span>
    <% else %> 
      <%= edit_stored_credit_card_button(stored_credit_card_for_pref) %>
      <%= link_to(custom_t("stored_credit_cards.delete"), stored_credit_card_path(stored_credit_card_for_pref), method: :delete, class: "button-interface gray-button", data: { confirm: custom_t("stored_credit_cards.remove_card") }) %>
    <% end %>
  </div>  
</div>  
