<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/stored_credit_cards.css" %>
<% end %>

<% content_for :external_javascript do %>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<% end %>

<div class="content">
  <header class="row">
    <div class="twelve columns">
      <h1><%= custom_t(".update_credit_card") %></h1>
      <span class="required-helper"><%= custom_t(".required_field") %></span>
    </div>
  </header>

  <div class="row">
    <section class="pod nine columns">
      <div class="pod-body nine columns">
        <p><%= custom_t(".update_credit", stored_credit_card: @stored_credit_card.cc_type, cc_number: @stored_credit_card.padded_cc_number) %></p>
        <%= form_for @stored_credit_card, :url => stored_credit_card_path(@stored_credit_card), :html => { :class => "credit_card_form edit_stored_credit_card" } do |f| -%>
          <ul>
            <%= render(:partial => "form", :locals => {:storage_op => 'update_customer', :f => f}) -%>
            <li class="update-form-submit">
              <% if current_user.three_d_secure_enabled? %>
                <button id="update-card-button" type="button" class="submit"><%= custom_t(".update_card") %></button>
              <% else %>
                <%= submit_tag(custom_t(".update_card"), { :class => "submit", :id => "update-credit-card-submit" }) %>
              <% end %>
              <%= link_to(custom_t(:cancel), @cancel_redirect, :class => "button-interface cancel")%>
            </li>
          </ul>
        <% end -%>
      </div>
    </section>
  </div>
</div>
