<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/stored_credit_cards.css" %>
<% end %>
<% content_for :external_javascript do %>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<% end %>

<div class="content">
  <header class="row">
    <div class="twelve columns">
      <h1><%= custom_t(".add_card") %></h1>
      <span class="required-helper"><%= custom_t(".required_field") %></span>
    </div>
  </header>

  <div class="row">
    <section class="pod twelve columns">
      <div class="pod-body nine columns">
        <%= form_for @stored_credit_card, url: stored_credit_cards_path, html: { class: "credit_card_form" } do |f| -%>
          <ul>
            <li>
              <div class="card-icons">
                <%= render(:partial => "shared/card_icons", locals: {braintree: @vendor_form == 'form'}) %>
              </div>
            </li>
            <%= render(:partial => @vendor_form, :locals => {storage_op: "add_customer", stored_credit_card: @stored_credit_card, :f => f}) -%>
            <li class="add-form-submit">
              <% if current_user.three_d_secure_enabled? %>
                <button id="add-card-button" type="button" class="submit"><%= custom_t(".add_card") %></button>
              <% else %>
                <%= submit_tag(custom_t(".add_card"), { :class => "submit", :id => "create-credit-card-submit" }) %>
              <% end %>
              <%= link_to(custom_t(:cancel), @cancel_redirect, :class => "button-interface cancel")%>
            </li>
          </ul>
        <% end -%>
      </div>
    </section>
  </div>
</div>
