<h2><%= custom_t(".pick_card_subscription", subscription_title: @subscription.title) %></h2>
<%= render(:partial => "album/subscription_details",
          :locals => {:subscription => @subscription, :purchase_amount => (@subscription.purchase.cost_cents - @subscription.purchase.discount_cents).to_f/100})%>
<br />
<% if !@stored_credit_cards.empty? -%>
  <%= form_tag(:url => {:controller => "stored_credit_cards", :action => "change_card"}) do -%>
    <div class="rounded-container item-container">
      <% @stored_credit_cards.each do |credit_card| -%>
        <div class="item <%= cycle('odd', 'even') %>">
          <div class="grid_1">
            <%= radio_button_tag("card_id", credit_card.id, false,{:disabled => credit_card.expires_before_date?(@subscription.renewal_expires_at)}) %>
          </div>
          <div class="grid_5">
            <label for="card_id_<%=credit_card.id %>">
              <strong><%= h(credit_card.first_name) %> <%= h(credit_card.last_name) %></strong><br />
              <% if !credit_card.company.blank? -%>
                <%= h(credit_card.company) %><br />
              <% end -%>
              <%= h(credit_card.address1) %><br />
              <%= h(credit_card.address2) %><br />
              <%= h(credit_card.city) %>, <%= h(credit_card.state) %>  <%= h(credit_card.zip) %><br />
              <%= h(credit_card.country) %>
            </label>
          </div>
          <div class="grid_5">
            <label for="card_id_<%=credit_card.id %>">
              <strong><%= credit_card.cc_type %> <%= credit_card.padded_cc_number %></strong><br />
              <%= custom_t(:expires) %> <%= credit_card.expiration_month %>/<%=credit_card.expiration_year %>
              <% if credit_card.expires_before_date?(@subscription.renewal_expires_at) -%>
                <p class="warning-text">
                  <%= custom_t(".will_expire") %>
                </p>
              <% end -%>
            </label>
          </div>
        </div>
      <% end -%>
    </div>
    <%= submit_tag custom_t(".select_card") %><%= link_to(custom_t(".add_card"), new_stored_credit_card_path(subscription_id: :subscription_id), class: "button") %>
  <% end -%>
<% else -%>
  <p class="warning-text">
    <%= custom_t(".saved_credit_cards") %>
  </p>
  <%= link_to(custom_t(".add_card"), new_stored_credit_card_path(subscription_id: @subscription.id), class: "button")%>
<% end -%>
