<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 10px; line-height: 22px;">
      <%= custom_t('.great_news', store: @store.name) %>
    </td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 10px; line-height: 22px;">
      <%= custom_t(".#{@store.name.downcase}_store_description", { url: knowledgebase_link_for('apple-music-description',@person.country_website.country)}) %>
    </td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 10px; line-height: 22px;">
      <%= custom_t(".automator_reminder", { store: @store.name }) %>
    </td>
  </tr>
</table>
