.tiktok_abandonment_modal_overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 100vw;

  .tiktok_abandonment_heading_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .tiktok_abandonment_sub_title {
    width: 75%;
  }

  .tiktok_abandonment_modal {
    background-color: #fff;
    border: 1px solid #9f9f9f;
    border-radius: 5px;
    min-width: 280px;
    max-width: 660px;
    height: fit-content;
    margin: 0 auto;
    position: relative;
    top: 120px;
    padding: 20px;
    outline: none;
  }

  p, h1 {
    margin: 10px 20px 10px 20px
  }

  .tiktok_abandonment_body_copy {
    font-size: 15px;
  }

  .tiktok_abandonment_sub_title {
   font-size: 15px;
   font-weight: bold;
  }

  .tiktok_abandonment_header {
    font-size: 21px;
    font-weight: bold;
  }

  .tiktok_abandonment_button_container {
    text-align: center;
  }

  button {
    width: 250px;
  }
}
