<tr>
	<td><h3><%= payout_service_fee.fee_type.humanize.titleize %></h3></td>
	<td><%= number_to_currency(payout_service_fee.amount) %></td>
	<td><%= payout_service_fee.created_at.strftime("%b %d, %Y") %></td>
	<td><%= link_to 'Edit', edit_admin_payout_service_fee_path(payout_service_fee) %></td>
	<td><%= link_to 'View History', admin_payout_service_fee_path(payout_service_fee) %></td>
</tr>