<tr>
	<td><%= number_to_currency(payout_service_fee_history.amount) %></td>
	<td><%= payout_service_fee_history.created_at.strftime("%b %d, %Y") %></td>
	<td><%= payout_service_fee_history.archived_at.nil? ? 'Current' : payout_service_fee_history.archived_at.strftime("%b %d, %Y") %></td>
	<td><%= payout_service_fee_history.posted_by_name %></td>
</tr>