<h2>Edit <%= @payout_service_fee.fee_type.humanize.titleize %> Fee</h2>
<section class="grid_16" >
<%= error_messages_for(@new_payout_service_fee) %>
<fieldset class='small'>
	<%= form_for @payout_service_fee, :url => admin_payout_service_fee_path(@payout_service_fee) do |f| -%>
		<ul class="clearfix">
		  <%= f.text_field :amount, :label=>'Amount', :class=>'short' %>
			<%= f.submit 'Update' %>
		</ul>
	<% end -%>
</fieldset>
</section>
