<%= render :partial=>'admin/eft_batches/eft_batch_links'%>
<h2>Current Payout Service Fees</h2>
<section class="grid_16" >
	<table class="non_bold">
	  <thead>
	    <tr>
				<th>Fee Type</th>
				<th>Amount</th>
	    	<th>Created</th>
				<th> &nbsp; </th>
				<th> &nbsp; </th>
	    </tr>
	  </thead>
	  <tbody id="eft-transaction-section">
		<% if !@payout_service_fees.empty? %>
			<%= render @payout_service_fees %>
		<% else %>
			<tr><td colspan="5"> There are no service fees </td></tr>
		<% end -%>
	  </tbody>
	</table>
</section>