<%= render :partial=>'admin/eft_batches/eft_batch_links'%>
<h3><%= link_to '< Back to All Payout Service Fees', admin_payout_service_fees_path %></h3>

<h2><%= @payout_service_fee.fee_type.humanize.titleize %> Fee History</h2>
<table class="non_bold">
  <thead>
    <tr>
			<th>Amount</th>
    	<th>Created</th>
			<th>Archived</th>
			<th>Posted By Admin</th>
    </tr>
  </thead>
  <tbody id="eft-transaction-section">
	<% if @payout_service_fee_history.size > 1 %>
		<%= render :partial=> 'payout_service_fee_history', :collection => @payout_service_fee_history %>
	<% else %>
		<tr><td colspan="4"> There is no service fee history (other than the current fee) </td></tr>
	<% end -%>
  </tbody>
</table>
