<tr class="<%=cycle('odd', 'even') -%> <%= !balance_adjustment.related_id.nil? ? 'rollback-parent' : '' -%>">
 	<td><%= fmt_country_datetime(balance_adjustment.created_at) %></td>
 	<td><%= number_to_currency(balance_adjustment.debit_amount) unless balance_adjustment.debit_amount==0 %></td>
 	<td><%= number_to_currency(balance_adjustment.credit_amount) unless balance_adjustment.credit_amount==0 %></td>
	<td><%= balance_adjustment.category %></td>
	<td class="transaction-comment">
		<span class="transaction-headline"><%= balance_adjustment.customer_note %></span>
		<span class="transaction-subtext">Admin Note: <%= balance_adjustment.admin_note %></span>
	</td>
	<td><%= balance_adjustment.posted_by.name %></td>
	<td><%= balance_adjustment.currency %></td>
	<td>
		<% if balance_adjustment.related_id.nil? && current_user.has_role?('Refunds') && current_user.id != @person.id && @balance >= balance_adjustment.credit_amount  %>
			<%= link_to('Rollback', rollback_admin_person_balance_adjustments_path(person_id: @person.id, balance_adjustment: { :related_id => balance_adjustment.id }), minWidth: 460, minHeight: 400, class: "lightbox") %>
		<% end %>
	</td>
</tr>
<% if !balance_adjustment.related_id.nil? %>
	<tr class="<%= current_cycle %> rollback">
    <td><%= fmt_country_datetime(balance_adjustment.related.created_at) %></td>
    <td><%= number_to_currency(balance_adjustment.related.debit_amount) unless balance_adjustment.related.debit_amount==0 %></td>
    <td><%= number_to_currency(balance_adjustment.related.credit_amount) unless balance_adjustment.related.credit_amount==0 %></td>
		<td> &nbsp; </td>
	  <td class="transaction-comment">
			<span class="transaction-headline">	Rollback: <%= balance_adjustment.related.customer_note %></span>
			<span class="transaction-subtext">	Rollback Admin Note: <%= balance_adjustment.related.admin_note %>	</span>
		</td>
		<td><span class="transaction-headline"><%= balance_adjustment.posted_by_name %></span></td>
		<td><%=balance_adjustment.related.currency%></td>
		<td><span class="transaction-headline">Rolled Back</span></td>
  </tr>
<% end -%>

<style>
.transaction-report td{
	text-align: center !IMPORTANT;
	padding: 0px !IMPORTANT;
}
</style>