<%= render partial: "/admin/shared/searchbox"%>
<%= render partial: "/admin/people/mini_person", locals: {person: @person, features: [:show_balance, :show_person_link]}%>
<section id="admin_content">
	<h2>Balance Adjustments</h2>
	<table class="balance-adjustments">
	  <thead>
	    <tr>
	      <th>Date</th>
	      <th>Debit</th>
	      <th>Credit</th>
	    	<th>Category</th>
	      <th>Notes</th>
				<th>Posted By </th>
				<th>Currency</th>
				<th>&nbsp;</th>
	    </tr>
	  </thead>
	  <tbody>
			<% if !@balance_adjustments.empty? %>
				<%= render @balance_adjustments %>
			<% else %>
				<tr><td colspan="8"> There are no balance adjustments to for this person </td></tr>
			<% end -%>
	  </tbody>
	</table>

	<% if @balance_adjustments.total_entries > @balance_adjustments.per_page %>
		<div style="text-align: right;">
			Jump to page:
			<%= will_paginate( @balance_adjustments, :params => {:term => params[:term]}) %>
		</div>
	<% end %>
</section>
