<section>
  <h2><%= @label %> <%= h(@person.name)%></h2>
  <fieldset id="balance-adjustment" class='small'>
    <%= error_messages_for(@balance_adjustment) %>
    <ul class="clearfix">
      <%= form_for @balance_adjustment, :url => {:action => :create, :person_id => @person.id},:html=>{:onsubmit=>'return check_overdraft_and_threshold()'}  do |f| -%>
 				<%= f.select('category', @categories,:label => "Category* <span class='info'>(Admin use only)</span>") %>
      	<%= f.text_area(:customer_note, :label => "Note* <span class='info'>(This is viewable to customers)</span>") %>
				<%= f.text_area(:admin_note, :label => "Admin Note* <span class='info'>(Admin use only)</span>") %>
				<% if @credit %>
					<%= f.text_field(:credit_from_form, :label => "Credit Amount* <br/><span class='info'>(In decimal, i.e. 10.00 for ten dollars - User's current balance: #{number_to_currency(@balance) })</span>") %>
					<%= f.hidden_field(:debit_from_form, :value=>0) %>
					<%= hidden_field_tag :credit, true %>
				<% else %>
					<%= f.text_field(:debit_from_form, :label => "Debit Amount* <br/><span class='info'>(In decimal, i.e. 10.00 for ten dollars - User's current balance: #{number_to_currency(@balance) })</span>") %>
					<%= f.hidden_field(:credit_from_form, :value=>0) %>
				<% end -%>
		       <%= f.check_box(:disclaimer, :label=>"I am fully aware that this #{ @label.downcase} will be posted to the customer's account as soon as I submit this form. I will not be able to edit the note, which will be viewable by the customer.",:li_class=>'checkbox') %>
				<li>
          <%= submit_tag(@label<<" this account", {:class => "submit" }) %>
        </li>
      <% end -%>
    </ul>
  </fieldset>
</section>
<% content_for :external_javascript do -%>
  <script>
    function check_overdraft_and_threshold(){
			var $ = jQuery;
			var issues = "";
			var balance = <%= @balance_decimal %>;
			var debit = $("#balance_adjustment_debit_from_form").val().replace(/(\$|,)/, "");
			var credit = $("#balance_adjustment_credit_from_form").val().replace(/(\$|,)/, "");
      
      if (balance < 0 && debit > 0){
        alert("Cannot debit from a negative balance");
        return false;
      }
			if (debit>10000 || credit>10000 ) {
				issues += "The credit or debit amount is greater than $10,000.\n\n";
			}
			if (debit==balance && balance >0){
				issues += "This transaction will empty the account, leaving a balance of $0.\n\n";
			}
			if (issues=="") {	
				return true; 
			}
			else {
				issues += 'Would you like to proceed?';
				return confirm(issues);
			}
		}
  </script>
<% end -%>
