<section>
  <h2>Rollback</h2>
	<h2 class="em"><%= @label %> account <%= number_to_currency(@amount) %></h2>
  <fieldset id="balance-adjustment" class='small'>
    <%= error_messages_for(@balance_adjustment) %>
    <ul class="clearfix">
      <%= form_for @balance_adjustment, :url => {:action => :create, :person_id => @person.id, :related_id=>@original_adjustment.id}  do |f| -%>
      	<%= f.text_area(:customer_note, :label => "Note* <span class='info'>(This is viewable to customers)</span>") %>
				<%= f.text_area(:admin_note, :label => "Admin Note* <span class='info'>(Admin Use Only)</span>") %>
				 <%= f.check_box(:disclaimer, :label=>"I am fully aware that this #{ @label.downcase} will be posted to the customer's account as soon as I submit this form. I will not be able to edit the note, which will be viewable by the customer.",:li_class=>'checkbox') %>
				<%= f.hidden_field(:related_id, :value=>@original_adjustment.id) %>
				<%= f.hidden_field(:rollback, :value=>1) %>
				<li>
          <%= submit_tag('Rollback', {:class => "submit" }) %>
        </li>
      <% end -%>
    </ul>
  </fieldset>
</section>
