<div class="payoneer-redirect">
  <div><%= custom_t("my_account.redirect") %></div>
  <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
</div>

<% content_for :external_javascript do %>
  <script type="text/javascript" charset="utf-8">
    function redirectToPayoneer(form) {
      jQuery(".payoneer-redirect").show();
      setTimeout(function() {
        form.submit();
      }, 1000);
    }
  </script>
<% end %>
