<div class="top-row-wrapper">
  <div class="top-bar grid-container">
    <div class="top-bar-left">
      <ul class="menu">
        <li><%= link_to_unless_current("Dashboard", admin_home_path) %></li>
        <li><%= link_to_unless_current("Fraud", admin_fraud_index_path) %></li>
        <li><%= link_to_unless_current("Reports", view_admin_reports_path) %></li>
        <li><%= link_to("User Account", dashboard_path)%></li>
      </ul>
    </div>

    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu data-options="disableHover:true;clickOpen:true">
        <li class="is-dropdown-submenu-parent">
          <%= link_to current_user.name , "#", class: 'carot-down' %>
          <ul class="menu text align-right">
            <li><%= link_to("Sign Out", logout_path()) %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
