<fieldset>
  <label for="youtube_sr_mail_template_subject">Subject:</label>
  <%= text_field "youtube_sr_mail_template", "subject", class: "form-text", value: youtube_sr_mail_template["subject"] %>
</fieldset>
<fieldset>
  <label for="youtube_sr_mail_template_header">Header:</label>
  <div class="fields">
    <%= text_area "youtube_sr_mail_template", "header", class: "form-text", value: youtube_sr_mail_template["header"] %>
  </div>
</fieldset>
<% if current_user.has_role?("Developer") %>
  <fieldset>
    <label for="youtube_sr_mail_template_body">Body:</label>
    <div class="fields">
      <%= text_area "youtube_sr_mail_template", "body", class: "form-text", value: youtube_sr_mail_template["body"] %>
    </div>
  </fieldset>
  <fieldset>
    <label for="youtube_sr_mail_template_custom_fields">Custom Fields:</label>
    <div class="fields">
      <%= text_area "youtube_sr_mail_template", "custom_fields", class: "form-text", value: (youtube_sr_mail_template["custom_fields"] || []).join(" ") %>
    </div>
  </fieldset>
<% end %>
<fieldset>
  <label for="youtube_sr_mail_template_footer">Footer:</label>
  <%= text_area "youtube_sr_mail_template", "footer", class: "form-text", value: youtube_sr_mail_template["footer"] %>
</fieldset>
