<% content_for :css do %>
  <%= stylesheet_link_tag "/javascripts/plugins/markitup/skins/simple/style.css" %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/admin.css" %>
  <%= stylesheet_link_tag "/stylesheets/admin_form.css" %>
  <style>
    form textarea {
      height: auto;
    }
  </style>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.markitup" %>
  <script>
      (function($) {
          $('#youtube_sr_mail_template_header').markItUp({
            onShiftEnter: {keepDefault:false, replaceWith:'<br />\n'},
            onCtrlEnter: {keepDefault:false, openWith:'\n<p>', closeWith:'</p>'},
            onTab: {keepDefault:false, replaceWith:'    '},
            markupSet: <%= markup_buttons_header %>
          });
      }(jQuery));
  </script>
<% end %>
