<tr id="youtube_sr_mail_template_<%= youtube_sr_mail_template.id %>">
  <td><%= youtube_sr_mail_template.template_name %></td>
  <td><%= youtube_sr_mail_template.select_label %></td>
  <td><%= youtube_sr_mail_template.country_website.country %></td>
  <td>
    <%= link_to "Edit", edit_admin_youtube_sr_mail_template_path(youtube_sr_mail_template) %>
    <%= link_to "Delete", admin_youtube_sr_mail_template_path(youtube_sr_mail_template), method: :delete, data: :confirm %>
    <% if youtube_sr_mail_template.body.blank? %>
      <span>Needs Tech Team Support</span>
    <% end %>
  </td>
</tr>
