<%= render partial: "youtube_sr_mail_template_assets", locals: { youtube_sr_mail_template: @youtube_sr_mail_template } %>

<%= form_tag admin_youtube_sr_mail_template_path(@youtube_sr_mail_template), method: :put do %>
  <%= render partial: 'form', locals: { youtube_sr_mail_template: @youtube_sr_mail_template } %>
  <fieldset class="form-actions">
    <%= submit_tag "Update" %>
    <%= link_to "Cancel", admin_youtube_sr_mail_templates_path, class: "button-interface" %>
  </fieldset>
<% end %>
