<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/admin.css" %>
<% end %>

<main class="content">
  <header class="row">
    <div class="twelve columns">
      <h1>Youtube Song Recording Mail Templates</h1>
    </div>
  </header>

<div class="row">
  <section id="interstitial" class="callout_form">
    <div class="row">
      <div class="twelve columns">
        <table>
          <thead>
          <tr>
            <th>Template Name</th>
            <th>Label</th>
            <th>Countries</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
            <%= render @youtube_sr_mail_templates %>
          </tbody>
        </table>
        <%= button_to "Create Youtube Song Recording Email Template", new_admin_youtube_sr_mail_template_path, method: :get %>
      </div>
    </div>
  </section>
</div>
</main>
