<%= render partial: "youtube_sr_mail_template_assets", locals: { youtube_sr_mail_template: @youtube_sr_mail_template } %>

<%= form_tag admin_youtube_sr_mail_templates_path, method: :post do %>
  <fieldset>
    <label for="youtube_sr_mail_template_subject">Label:</label>
    <%= text_field "youtube_sr_mail_template", "select_label", class: "form-text", value: @youtube_sr_mail_template["select_label"] %>
  </fieldset>
  <fieldset>
    <label for="youtube_sr_mail_template_country_website_id">Country:</label>
    <%= select_tag "youtube_sr_mail_template[country_website_id]", options_for_select(CountryWebsite.with_language_translations.map { |country_website| [country_website.country, country_website.id] }, @youtube_sr_mail_template["country_website_id"]) %>
  </fieldset>
  <%= render partial: 'form', locals: { youtube_sr_mail_template: @youtube_sr_mail_template } %>
  <fieldset class="form-actions">
    <%= submit_tag "Create" %>
    <%= link_to "Cancel", admin_youtube_sr_mail_templates_path, class: "button-interface" %>
  </fieldset>
<% end %>
