<div class="balance-pending-withdrawal">
	<strong><%= custom_t(:amount) %> <span class='money'><%= money_to_currency(eft_batch_transaction.amount.to_money(eft_batch_transaction.currency)) %></span></strong><br/>
  <%= eft_batch_transaction.stored_bank_account.bank_name %>  - <%= eft_batch_transaction.stored_bank_account.last_four_account %><br/>
  <%= custom_t(".estimated_depositdate") %><br/> <%= eft_batch_transaction.expected_deposit_date.strftime("%A, %B %d, %Y") %><br/>
</div>