<section class="grid_16">
  <header>
  <h1><%= custom_t(".deposit_confirm") %></h1>
  </header>

  <%= form_for @eft_batch_transaction do |f| -%>
    <fieldset id="confirm-bank-withdrawal" class="grid_16 alpha omega">
      <p class='eft-confirm'><strong><%= custom_t(".note") %></strong><br/>
        <%= custom_t(".please_verify_info") %><br/>
        <%= custom_t(".please_note") %> <%= money_to_currency(@eft_failure_fee.amount.to_money(@eft_failure_fee.currency)) %> <%= custom_t(".fee_failed_deposit") %><br/>
        <span class='em'><%= custom_t(".deposit_money_now") %></span>
      </p>

      <span class="floatL"><%= render :partial => "stored_bank_accounts/stored_bank_account_info" %></span>

      <div class='grid_6 floatL'>
        <table>
          <tr>
            <td class="right"><label><%= custom_t(".requested_amount_&") %></label></td>
            <td class="money right"><%= money_to_currency((@eft_batch_transaction.amount + @eft_batch_transaction.payout_service_fee.amount).to_money(@eft_batch_transaction.currency)) %></td>
          </tr>

          <tr>
            <td class="right"><label><%= custom_t(".service_fee") %></label></td>
            <td class="money right"><%= money_to_currency(@eft_batch_transaction.payout_service_fee.amount.to_money(@eft_batch_transaction.payout_service_fee.currency)) %></td>
          </tr>

          <tr>
            <td class="right"><label><%= custom_t(".deposit_amount") %></label></td>
            <td class="money right"><%= money_to_currency(@eft_batch_transaction.amount.to_money(@eft_batch_transaction.currency)) %></td>
          </tr>
        </table>

        <%= link_to custom_t(".make_changes"), new_eft_batch_transaction_path , :class => "cancel" %>
        <%= f.submit(custom_t(".deposit_now"), :class => "submit", data: {disable_with: custom_t(:processing_with_ellipsis).html_safe}) %>
      </div>

      <%= hidden_field_tag "eft_batch_transaction[amount_from_form]", @eft_batch_transaction.amount_from_form %>
      <%= hidden_field_tag "eft_batch_transaction[customer_eft_page]", true %>
      <%= hidden_field_tag "eft_batch_transaction[confirm_page]", true %>
      <%= hidden_field_tag "eft_batch_transaction[from_form]", true %>
    <%= hidden_field_tag('eft_batch_transaction[payout_service_fee_id]', @eft_service_fee.id) %>
  </fieldset>
	<% end %>
</section>
