<% content_for :external_javascript do %>
	<%= javascript_include_tag "/javascripts/plugins/jquery.validate.js" %>
	<%= javascript_include_tag "/javascripts/app/eft_withdrawal.js" %>
	<script type="text/javascript">
		jQuery(document).ready(function(){
		  new EftWithdrawal(<%= @balance %>, <%= @eft_service_fee.amount %>, <%= @eft_max_amount %>);
		});
	</script>

<% end %>
<section class="grid_16">
  <header>
		<h1><%= custom_t(".deposit_usbank") %></h1>
		<span class="required-helper"><%= custom_t(".required_field") %></span>
	</header>
    <%= form_for @eft_batch_transaction, url: confirm_eft_batch_transactions_path, html: {id: 'new_eft_batch_transaction'} do |f| -%>
		<fieldset id="bank-account-withdraw" class='grid_16 alpha omega'>
				<%= error_messages_for( @eft_batch_transaction, object_name: 'Withdrawal') %>
			<legend><%= custom_t(".add_bank_account") %></legend>
	  <ul>
			<li>
				<% if !@stored_bank_account.nil? %>
					<label><%= custom_t(".bank_account_info") %> </label>
					<%= link_to custom_t(".update_change_bankaccount"), edit_stored_bank_account_path(@stored_bank_account) %>
          <%= render partial: "stored_bank_accounts/stored_bank_account_info" %>
				<% else %>
					<%= custom_t(".direct_deposit") %> <%= link_to custom_t(".add_your_bank_account"), new_stored_bank_account_path %>
				<% end -%>
      </li>
      <li>
	      <div id="eft-withdrawal">
	        <label class='current-balance'><%= custom_t(".current_balance") %> </label> <span class="money"><%= money_to_currency(@balance.to_money(@person.person_balance.currency)) %></span><br/>
          <label class="currency-label" for="amount_from_form_dollars"><%= custom_t(".requested_amount") %></label>
          <%= currency_input_tag(@eft_batch_transaction, "eft_batch_transaction", :amount_from_form_main_currency, :amount_from_form_fractional_currency) %>
          <%= f.password_field(:password_entered, label: custom_t(".tunecore_password"), contextual_help: custom_t(:confirm_password), tc_required: true) %>
          <%= hidden_field_tag "eft_batch_transaction[customer_eft_page]", true %>
          <%= hidden_field_tag('eft_batch_transaction[payout_service_fee_id]', @eft_service_fee.id) %>
          <%= f.submit(custom_t(:continue), { class: "submit", id: "create-credit-card-submit" }) %>
	      </div>
      </li>
		</ul>
		</fieldset>
		<% end -%>
</section>
