<section class="grid_16">
<% if feature_enabled?(:publishing) %>
<div class="eft ad">
  <a href="<%= music_publishing_admin_link %>"><img src="/images/ads/tunecore/180x150/songwriter_ad.png" alt="Get Your Unpaid Songwriter Money!" /></a>
</div>
<% end %>
<span class="thank-you"> <h4><%= custom_t(".thankyou_congrats") %></h4> </span>
<%= stylesheet_link_tag('/version/tunecore_neo/print.css', media: :print) %>
<h5><%= custom_t(".your_withdrawal_of") %> <%= money_to_currency(@eft_batch_transaction.amount.to_money(@eft_batch_transaction.currency)) %> <%= custom_t(".sent_for_processing") %><br/>
<%= custom_t(".typically") %> <strong><%= @eft_expected_days_lower %>-<%= @eft_expected_days_upper %> <%= custom_t(".business_days") %></strong></h5>

<p><%= link_to(custom_t(".print_page"), onclick: 'print()', class: 'print-link') %></p>

<ul class="eft next-actions do-not-print">
	<li><%= link_to custom_t(".my_dashboard"), dashboard_path %></li>
	<li><%= link_to custom_t(".my_money"), my_account_path %></li>
</ul>

<p><strong><%= custom_t(".confirmation_number") %></strong> <%= @eft_batch_transaction.order_id %><br/>
<strong><%= custom_t(".account_info") %></strong> <%= @eft_batch_transaction.stored_bank_account.bank_name %> -  <%= custom_t(".account_#") %> <%= @eft_batch_transaction.stored_bank_account.last_four_account_padded %></p>
<strong><%= custom_t(".withdrawal_amount") %></strong> <%= money_to_currency((@eft_batch_transaction.amount + @eft_batch_transaction.payout_service_fee.amount).to_money(@eft_batch_transaction.currency)) %><br/>
<strong><%= custom_t(".service_fee") %></strong> <%= money_to_currency(@eft_batch_transaction.payout_service_fee.amount.to_money(@eft_batch_transaction.payout_service_fee.currency)) %><br/>
<strong><%= custom_t(".bank_deposit_amount") %></strong> <%= money_to_currency(@eft_batch_transaction.amount.to_money(@eft_batch_transaction.currency)) %><br/>
<strong><%= custom_t(".estimated_deposit_date") %></strong> <%= @eft_batch_transaction.expected_deposit_date.strftime("%A, %B %d, %Y") %></p>
<div class='print-only'>
	<p>
		<strong><%= custom_t(".name_on_account") %></strong> <%= current_user.name %><br/>
		<strong><%= custom_t(".account_email") %></strong> <%= current_user.email %><br/>
		<strong><%= custom_t(".printed") %> </strong> <%= Time.now.strftime("%A %B %d, %Y %I:%M %p %Z") %><br/>
	</p>
</div>

</section>
