<% if alerts? %>
  <section>
    <div class="alerts-row row">
      <div class="alerts-container">
        <div class="wrapper">
          <% [:error, :error_dialog, :persistent_alert].map do |error| %>
            <%= render partial: "reskin/flash_error", locals: { error: error } %>
          <% end %>

          <% [:message, :notice, :success].map do |key| %>
            <%= render partial: "reskin/flash_success", locals: { key: key } %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>