<%
  count = artist_accounts.length
  show = count.positive?
  mobile_1_col = count == 1
%>
<% if show %>
  <section>
    <div class="row">
      <div class="wrapper">
        <div class="artist-accounts-heading">
          <h2><%= custom_t("reskin.artist_accounts.artist_accounts") %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="wrapper">
        <div class="artist-accounts-container<%= " full-width" if mobile_1_col %>">
          <% artist_accounts.map do |account| %>
            <a
              class="artist-account widget <%= account[:store] %>"
              href="<%= account[:link][:href] %>"
            >
              <div class="artist-account-content">
                <%= account[:icon].html_safe %>
                <div>
                  <p class="service-title"><%= account[:link][:text] %></p>
                  <p><%= account[:text] %></p>
                </div>
              </div>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>
