<%= link_to list_transactions_path, id: 'list-transactions-link' do %>
  <% if available_in_region?(current_user.country_domain,
                            "foreign_exchange_rates_balance_display")
  %>
    <span class="foreign-exchange-balance-display">
      <%= display_user_balance(iso_code: "US", currency: 'USD') %>
    </span>

    <i
      class="fa fa-question-circle fa-lg foreign-exchange-balance-display"
      data-tooltip="<%=
        custom_t('alternative_balance.info',
        {
          date: current_fx_rate_updated_at(:date),
          time: current_fx_rate_updated_at(:time)
        }) %>"
    ></i>
  <% else %>
    <%= display_user_balance %>
  <% end %>
<% end %>
