<div class="widget widget--outline">
  <h2 class="widget__title"><%= custom_t('balance') %></h2>
  <div class="balance__container bottom widget-copy">
    <div class="balance__amount" data-testid="balance-amount">
      <%= render "reskin/balance_amount" %>
    </div>
    <%= button_to(custom_t('reskin.withdraw').upcase,
        withdraw_path,
        class: "reskin-btn secondary-btn", "data-testid": "withdraw-btn",
        disabled: current_user.balance_cents.positive? == false,
        id: "withdraw-btn",
        role: "link")
    %>
  </div>
</div>
