<h3><%= custom_t(:distribution_credits) %></h3>

<div class="flex-container">
  <ul class="body">
    <% unless current_user.has_plan? %>
      <% if !account_overview.available_inventory.empty? -%>
        <% account_overview.available_inventory.each do |inventory| -%>
            <li>
              <%= pluralize(inventory.total_left,
                            h("#{inventory.inventory_type} #{custom_t(:credit)}"))
              %>
            </li>
        <% end -%>
      <% else -%>
        <li>
          <%= custom_t('shared.distribution_credit_overview.no_credits') %>
        </li>
      <% end -%>
    <% end %>
  </ul>

  <div>
    <a class="distribution-credits-link text-cta"
       href="<%= credits_path %>"
    >
      <%= custom_t('reskin.purchase_packs') %>
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
</div>
