<% if flash[key] %>
  <div class="alerts success row widget">
    <p>
      <%= render partial: "reskin/font_awesome/circle_check_solid",
                 locals: { classname: "success-icon" }
      %><%= flash[key] %></p>
  </div>
<% end %>