<% if flash[error] %>
  <div class="alerts error row widget">
    <% if error == :error_dialog %>
      <p class="error-title">
        <%=
          render partial: "reskin/font_awesome/circle_exclamation_solid",
                 locals: { classname: "error-icon" }
        %><%= flash[:error_dialog_title] %>
      </p>
      <p><%= flash[error] %></p>
    <% else %>
      <p>
        <%=
          render partial: "reskin/font_awesome/circle_exclamation_solid",
                 locals: { classname: "error-icon" }
        %><%= flash[error] %>
      </p>
    <% end %>
  </div>
<% end %>