<div class="learn widget">
  <h3 class="widget__title">
    <%= title %>
  </h3>
  <div class="widget__content">
    <div class="body">
      <%= tag.p(body) %>
    </div>
    <div class="bottom">
      <%= tag.a(class: "reskin-btn text-btn text-cta",
                href: link,
                data: { testid: testid }) do %>
        <%= cta %>
        <i class="fa fa-angle-right"></i>
      <% end %>
      </a>
    </div>
  </div>
</div>
