<section class="distribute">
  <div class="row">
    <div class="get-started wrapper">
      <div id="content-column">
        <div id="content-top">
          <h2 class="distribute__header">
            <%= custom_t("reskin.ready_to_distribute") %>
          </h2>
          <button class="gradient-btn reskin-btn primary-btn"
                  data-testid="create-release"
                  data-role="add-release-trigger">
            <%= custom_t("reskin.get_started") %>
          </button>
        </div>
      <div id="content-bottom">
        <p data-testid="per-release-pricing-link">
          <%= custom_t("reskin.per_release",
          link: knowledgebase_link_for('plans-release-pricing',
                                       current_user.country_website)) %>
        </p>
        <p id="photo-caption">
          <%= custom_t("reskin.null_dash_photo_caption") %>
        </p>
      </div>
      </div>
    </div>
  </div>
</section>

<section class="learn">
  <div class="row">
    <div class="wrapper">
      <h2>
        <%= custom_t("reskin.learn_how") %>
      </h2>
      <div class="grid">
        <%= render "reskin/learn_widget",
                   body: custom_t("reskin.music_distribution.body"),
                   cta: custom_t("reskin.music_distribution.cta"),
                   link: knowledgebase_link_for('create-new-release', current_user.country_domain),
                   testid: "music-distribution-link",
                   title: custom_t("reskin.music_distribution.header")
        %>
        <% unless country_website == "IN" %>
          <%= render "reskin/learn_widget",
                    body: custom_t("reskin.music_publishing.body"),
                    cta: custom_t("reskin.music_publishing.cta"),
                    link: custom_t("dashboard.state_1_virgin.music_publishing_with_tunecore_url"),
                    testid: "music-publishing-link",
                    title: custom_t("reskin.music_publishing.header")
          %>
        <% end %>

        <%= render "reskin/learn_widget",
                   body: custom_t("reskin.grow.body"),
                   cta: custom_t("reskin.grow.cta"),
                   link: artist_services_cms_url,
                   testid: "grow-link",
                   title: custom_t("reskin.grow.header")
        %>

      </div>
    </div>
  </div>
</section>
