<% if is_plan_user %>
  <div class="widget widget--outline">
    <h2 class="widget__title">
      <%= custom_t('reskin.unlimited_plan') %>
    </h2>
    <div class="bottom person-plan-container widget-copy">
      <%= image_tag plan_svg %>
      <p class="plan-name">
        <%= link_to plan_name, plans_path(anchor: "compare-plans") %>
      </p>
    </div>
  </div>
<% end %>
