<% if show_upsell %>
  <div class="widget widget--outline">
    <h2 class="cta">
      <%= upsell_message %>
    </h2>
    <a href="<%= plans_path %>"
       class="gradient-btn unlimited-btn plan-upsell-btn reskin-btn primary-btn"
       data-testid="upgrade-btn"
    >
      <% if upgradeable_plan %>
        <%= custom_t("plans.upgrade") %>
      <% else %>
        <%= render("plan_promo/svg_partials/record-white",
            class: "plans-bullseye") %> <%= custom_t("reskin.go_unlimited") %>
      <% end %>
    </a>
  </div>
<% end %>
