<% [:singles, :full_albums, :ringtones].map do |release_type| %>
  <%= tag.div(class: [
    "recent-releases wrapper",
    release_type,
    visibility(release_type)
  ]) do %>
    <% recent_releases[release_type].map do |release| %>
      <% status = release_status(release) %>

      <%= link_to(polymorphic_path(release), class: "release__details") do %>
        <%= display_artwork(release) %>
        <div class="release__details__description">
          <p class="release-name"><%= release.name %></p>
          <p class="<%= "release-status #{status[:value]}" %>"%>
            <%= status[:msg] %>
          </p>
        </div>
      <% end %>
    <% end %>

    <% if recent_releases[release_type].length < 5 %>
      <%= tag.a(
        aria: { label: custom_t("reskin_nav.add_release") },
        class: "release__details",
        data: { testid: "empty-release-button" },
        href: create_release_helper(release_type),
      ) do %>
        <div class="release__details__empty_state">
          <%= image_tag("plus_circle.svg", class: "release__details__empty_state__icon") %>
        </div>
        <hr class="release__details__description" />
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="recent-releases__bottom-btn-row wrapper">
  <%= link_to(custom_t("reskin.discography_btn"),
              discography_path,
              class: "reskin-btn secondary-btn")
  %>
  <%= link_to(custom_t("reskin_nav.add_release"),
              "#",
              data: { role: "add-release-trigger" },
              class: "gradient-btn reskin-btn")
  %>
</div>
