<div class="row">
  <div class="recent-releases__header wrapper">
    <h2><%= custom_t("reskin.recent_releases") %></h2>
    <div class="recent-releases__types">
      <h3
        data-type="singles"
        class="active singles"
        role="button"
        tabindex="0"
      ><%= custom_t("dashboard.albums.singles") %></h3>
      <h3
        data-type="full_albums"
        class="full_albums"
        role="button"
        tabindex="0"
      ><%= custom_t("dashboard.albums.albums") %></h3>
      <h3
        data-type="ringtones"
        class="ringtones"
        role="button"
        tabindex="0"
      ><%= custom_t("dashboard.albums.ringtones") %></h3>
    </div>
  </div>
</div>
<div class="row">
  <%= render partial: "reskin/recent_releases",
             locals: { recent_releases: recent_releases }
  %>
</div>
