<%
  show_automator            = upsell_automator? && @automator_count.positive?
  show_distribution_credits = current_user.owns_or_carted_plan? == false
  show_accelerator          = current_user.show_accelerator_cta?
  show_resources            = show_automator || show_distribution_credits || show_accelerator 
%>
<% if show_resources %>
  <div class="row">
    <div class="wrapper">
      <h2><%= custom_t("reskin.resources").titleize %></h2>
      <div class="grid resources">
        <% if show_distribution_credits %>
          <div class="widget distribution-credits">
            <%= render partial: "reskin/distribution_credits",
                       locals: distribution_credits_locals(current_user)
            %>
          </div>
        <% end %>

        <% if show_automator %>
          <div class="widget">
            <h3 class="automator-upsell-header">
              <%= custom_t(:store_automator) %>
            </h3>
            <div class="flex-container">
              <div class="body">
                <p>
                  <%= custom_t("reskin.automator_opt_in_count",
                              { count: @automator_count })
                  %>
                </p>
              </div>
              <a class="text-cta"
                 href="<%= store_manager_path %>"
              >
                <%= custom_t(:store_manager_global) %>
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        <% end %>

        <%= render partial: "reskin/tc_accelerator", locals: { show_accelerator: show_accelerator } %>
       
    </div>
  </div>
<% end %>
