<% if show %>
  <div class="grid setup-payout widget">
    <div class="payout-text">
      <h2><%= custom_t("reskin.payout.heading") %></h2>
      <p><%= custom_t("reskin.payout.message") %></p>
    </div>
    <%= link_to(custom_t("reskin.payout.button").upcase,
                payout_link, class: "payout-button reskin-btn secondary-btn")
    %>
  </div>
<% end %>
