 <% if show_accelerator %>
    <% content_for :external_javascript do %>
        <%= javascript_include_tag "tc_accelerator/dashboard_index" %>
    <% end %>
    <div class="widget tc-accelerator">
        <h3>
            <%= custom_t("dashboard.tc_accelerator_container.header") %>
        </h3>
        <label data-request-type="POST" class="toggle-switch">
            <input id="tc-accelerator-check" type="checkbox" disabled%>>
            <span class="slider round"></span>
        </label>
        <div class="flex-container">
            <div class="body">
                <p>
                    <%= custom_t("dashboard.tc_accelerator_container.body") %>
                </p>
            </div>
            <a class="text-cta"
                href="<%= tc_accelerator_faq_link %>"
            >
            <%= custom_t(:learn_more) %>
            <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
<% end %>
