<% agreed_to_terms_at = @composer.agreed_to_terms_at || Date.today %>

<div class="grid-x">
  <h3>Terms of Service</h3>

  <div class="terms-of-service card">
    <%= render partial: 'composers/publishing_terms' %>
  </div>
  <p>

    <%= check_box_tag "agreed_to_terms_at", "true", true, disabled: true %>
    <%= custom_t("composers.composer_fields.agreed_to_terms_with_full_name",
      {
        full_name: @composer.full_name,
        agreed_to_terms_at: fmt_country_date(agreed_to_terms_at)
      })
    %>
  </p>
</div>

<h5>Signed on: <%= @composer.agreed_to_terms_at.strftime("%B %e, %Y") %></h5>