<div class="grid-container admin-composer-edit">

  <%= render "admin/shared/admin_info", person: @account.person %>

  <h3>Songwriter Registration</h3>

  <%= simple_form_for @composer, url: admin_accounts_composer_path(@account, @composer), method: :put do |f| %>
    <h4>Legal Name</h4>

    <div class="grid-x grid-margin-x">
      <%= f.input :name_prefix,
        label: custom_t("publishing.prefix"),
        collection: name_affixes_translations("prefix"),
        default: nil,
        error: f.full_error(:name_prefix),
        wrapper_html: { class: "cell small-2 name-input" } %>

      <%= f.input :first_name,
        label: custom_t("publishing.first_name"),
        error: f.full_error(:first_name),
        wrapper_html: { class: "cell small-3 name-input" } %>

      <%= f.input :middle_name,
        label: custom_t("publishing.middle_name"),
        wrapper_html: { class: "cell small-2 name-input" } %>

      <%= f.input :last_name,
        label: custom_t("publishing.last_name"),
        error: f.full_error(:last_name),
        wrapper_html: { class: "cell small-3 name-input" } %>

      <%= f.input :name_suffix,
        label: custom_t("publishing.suffix"),
        collection: name_affixes_translations("suffix"),
        default: nil,
        error: f.full_error(:name_suffix),
        wrapper_html: { class: "cell small-2 name-input" } %>
    </div>

    <div class="grid-x grid-margin-x">
      <%= f.input :dob, as: :string,
        label: custom_t("publishing.dob"),
        error: 'Date Field is invalid',
        input_html: { value: @composer.dob.to_s, class: 'composer-dob' },
        wrapper_html: { class: "cell small-2 date composer-date" } %>

      <%= f.input :provider_identifier,
        label: "Writer Code",
        wrapper_html: { class: "cell small-2 name-input" },
        disabled: !FeatureFlipper.show_feature?(:edit_composer_compositions, current_user) %>
    </div>

    <h3>Performing Rights Organization</h3>

    <div class="grid-x">
      <div class="cell small-6">
        <%= f.input :performing_rights_organization_id,
          label: custom_t("publishing.which_pro_is_songwriter_affiliated_with"),
          collection: performing_rights_organization_collection,
          default: "none",
          error: custom_t("publishing.performing_rights_organization_blank"),
          input_html: { value: @composer.performing_rights_organization_id, class: "composer-pro-id" } %>
      </div>
    </div>

    <div class="grid-x">
      <div class="cell small-6">
        <%= f.input :cae,
          label: custom_t("publishing.cae_ipi_number"),
          error: custom_t("publishing.cae_is_not_a_number"),
          input_html: { class: "cell small-6" } %>
      </div>
    </div>

    <h3>Publisher</h3>

    <div class="publisher-info">
      <%= f.simple_fields_for :publisher do |publisher| %>
        <div class="grid-x">
          <div class="cell small-6">
            <%= publisher.input :name,
              label: custom_t("publishing.publishing_company_name"),
              error: custom_t("publishing.publishing_name_is_required"),
              input_html: { class: "publisher-name", value: @composer.publisher.name },
              disabled: ineligible_composer_pro_for_pub?(@composer) %>
          </div>
        </div>

        <div class="grid-x">
          <div class="cell small-6">
            <%= publisher.input :cae,
              label: "Publisher CAE",
              input_html: { class: "publisher-cae", value: @composer.publisher.cae },
              error: custom_t("publishing.cae_is_not_a_number"),
              disabled: ineligible_composer_pro_for_pub?(@composer) %>
          </div>
        </div>
      <% end %>
    </div>

    <%= f.submit "Save and Send to RightsApp", class: "button", data: { disable_with: "Sending..."  } %>

    <%= render "terms_of_service" %>

    <%= link_to 'Download Terms of Service',
      admin_accounts_composer_terms_of_service_path(account_id: @account.id, composer_id: @composer.id, format: :pdf),
      class: "button", target: :_blank
    %>
  <% end %>
</div>
