<%= form_tag lookup_admin_certs_path, method: :get do %>
  <fieldset>
    <%= label :cert, 'Cert code (partial code accepted)' %>
    <%= text_field_tag 'cert' %>
    <%= submit_tag 'Search' %>
  </fieldset>
<% end %>
