<h2>Certs Lookup</h2>

<%= link_to 'Back to Cert Batches', admin_cert_batches_path %>
<%= render :partial => 'admin/certs/lookup_form' %>

<div class="pagination-wrapper">
  <span style="float: left;"><%= page_entries_info @certs %></span>
  <span style="float: right;"><%= will_paginate @certs %></span>
  <div class="clearfix"></div>
</div>

<table>
  <tr>
    <th>Cert #</th>
    <th>Date Used</th>
    <th>Expiry Date</th>
    <th>Person ID</th>
    <th>Cert Engine</th>
    <th>Engine Params</th>
    <th>Discount Amount</th>
    <th>Order</th>
    <th>Purchase ID</th>
  </tr>
  <% @certs.each do |cert| -%>
    <tr class = "<%= cycle('odd', 'even') %>">
      <td><%= cert.cert %></td>
      <td><%= fmt_country_date(cert.date_used) if cert.date_used%></td>
      <td><%= fmt_country_datetime(cert.expiry_date) %></td>
      <td><%= link_to cert.person.name, admin_person_path(cert.person_id)  if cert.person_id%></td>
      <td><%= cert.cert_engine %></td>
      <td><%= cert.engine_params %></td>
      <td class="right money"><%= sprintf("$%.2f", cert.last_discount_amount_cents.to_f/100) if cert.last_discount_amount_cents %></td>
      <td><%= link_to(cert.purchase.invoice_id, admin_person_invoice_path(cert.person_id, cert.purchase.invoice_id)) if (cert.purchase && cert.purchase.invoice_id) %></td>
      <td><%= cert.purchase_id %></td>
    </tr>
  <% end -%>
</table>

<div class="pagination-wrapper">
  <span style="float: left;"><%= page_entries_info @certs %></span>
  <span style="float: right;"><%= will_paginate @certs %></span>
  <div class="clearfix"></div>
</div>

<%= link_to 'Back to Cert Batches', admin_cert_batches_path %>
