<section>
  <h2>Cert Redemption</h2>
  <%= flash[:error] ? note_error_helper(flash[:error],"red") : "" %>
  <fieldset id="person-redeem-cert" class='small'>
  <%= form_tag redeem_admin_certs_path do |form| -%>
    <%= label "Enter Redemption Code", :cert %>
    <%= text_field_tag :cert %>
    <%= hidden_field_tag :person_id, params[:person_id]%>
    <%= submit_tag 'Redeem' %>
  <% end -%>
  </fieldset>
</section>
