<section>
  <h2>Transaction Detail: <%= @credit_card_transaction.transaction_id %></h2>
  <h2>Details</h2>
  <div class="rounded-container">
    <ul>
      <li><strong>Transaction ID: <%= @credit_card_transaction.transaction_id %></strong></li>
      <li><strong>Person: </strong> <%= h(@credit_card_transaction.person.name) %></li>
      <li><strong>Invoice/Order: </strong> <%= @invoice ? @credit_card_transaction.invoice.code : "N/A" -%></li>
      <li><strong>Status: </strong> <%= @credit_card_transaction.status %></li>
      <li><strong>Action: </strong> <%= @credit_card_transaction.action %></li>
      <li><strong>Amount: </strong> <%= format_to_currency(@credit_card_transaction.amount.to_money(@credit_card_transaction.currency)) %></li>
      <% if invoice_has_pegged_rate?(@credit_card_transaction.invoice) %>
        <li>
          <strong>Amount (Transaction Currency):</strong>
          <%=money_to_currency(@credit_card_transaction.amount.to_money(@credit_card_transaction.currency), pegged_rate: @credit_card_transaction.invoice&.pegged_rate, round_value: false)%>
        </li>
      <% end %>
    </ul>
  </div>

  <% if @related_transaction -%>
    <h2>Refund Details</h2>
    <div class="rounded-container">
      <ul>
        <li><strong>Refunded By: </strong> <%= @credit_card_transaction.refunded_by.name %></li>
        <li><strong>Refund Reason: </strong> <%= @credit_card_transaction.refund_reason %></li>
      </ul>
    </div>
  <% end -%>

  <% if @related_transaction -%>
    <h2>Refunded Transaction</h2>
    <div class="rounded-container">
      <ul>
          <li><strong>Original Transaction ID: </strong> <%= @related_transaction.transaction_id %></li>
          <li><strong>Original Transaction Amount: </strong> <%= format_to_currency(@related_transaction.amount.to_money(@related_transaction.currency)) %> </li>
          <li><%= link_to("More Details...", admin_transaction_path(@related_transaction))%>
      </ul>
    </div>
  <% end -%>

  <% if @refunds.present? -%>
    <h2>Refunds</h2>
    <div class="rounded-container">
      <ul>
        <% @refunds.each do |refund| -%>
          <li>Date: <%= fmt_country_datetime(refund.created_at) %> | Transaction ID: <%= refund.transaction_id %> | Refund Amount: <%= format_to_currency(refund.amount.to_money(refund.currency)) %> | <%= link_to("Details", admin_transaction_path(refund)) %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>

  <h2>Response Details</h2>
  <div class="rounded-container">
    <ul>
      <li><strong>Response Code: <%= @credit_card_transaction.response_code %></strong></li>
      <li><strong>Address Verification Response: </strong> <%= @credit_card_transaction.avs_response %></li>
      <li><strong>Security Code Verification Response: </strong> <%= @credit_card_transaction.cvv_response -%></li>
      <li><strong>IP Address: </strong> <%= @credit_card_transaction.ip_address %></li>
      <li><strong>Posted On: </strong> <%= fmt_country_datetime(@credit_card_transaction.created_at) %></li>
    </ul>
  </div>

  <% if @stored_credit_card -%>
    <h2>Stored Credit Card</h2>
    <div class="rounded-container">
      <ul>
        <li><strong>Card Number: </strong> <%= @stored_credit_card.cc_type%> <%= @stored_credit_card.padded_cc_number %></li>
        <li><strong>City, State Zip: </strong> <%= @stored_credit_card.city %>, <%= @stored_credit_card.state %>  <%= @stored_credit_card.zip %>
      </ul>
    </div>
  <% end -%>

  <h2>Customer Information</h2>
  <div class="rounded-container">
    <ul>
      <li><strong>Name: </strong> <%= h(@person.name) %></li>
      <li><strong>Email: </strong> <%= mail_to(h(@person.email), @person.email) %></li>
      <li><strong>Phone Number: </strong> <%= @person.phone_number %></li>
      <li><strong>Mobile Number: </strong> <%= @person.mobile_number %></li>
      <li class="user_status_<%= @person.status.downcase %>"><strong>Status: </strong> <%= @person.status %></li>
    </ul>
  </div>

  <% if !@invoice.nil? %>
    <h2>Order Information</h2>
    <div class="rounded-container">
      <ul>
        <li><strong>Order Number: </strong> <%= @invoice.code %></li>
        <li><strong>Order Date: </strong> <%= fmt_country_datetime(@invoice.settled_at) %></li>
        <li><strong>Total: </strong> <%= @invoice.final_settlement_amount %></li>
        <li><strong></strong> </li>
      </ul>
    </div>

    <h2>Purchased Products/Services</h2>
    <div class="rounded-container">
      <% @purchases.each do |purchase| %>
          <div class="product">
            <%= purchase_display_mapper(purchase) %>
          </div>
        <% end %>
    </div>
  <% end %>
  <h2>Raw Response</h2>
  <div class="rounded-container">
    <p class="info">
      <%= @credit_card_transaction.raw_response %>
    </p>
  </div>
</section>
