<h2>Credit Card Transactions</h2>
<table id="braintree_transactions" style="clear:both;">
  <thead>
		<tr>
			<th class="align-left">Date</th>
			<th>Person</th>
			<th>Action</th>
			<th>Status</th>
			<th>Order ID</th>
			<th>Transaction ID</th>
			<th>Amount</th>
			<th>Currency</th>
			<th>Site</th>
			<th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="10"><%=payment_vendor.to_s.titleize%> Transactions</td>
    </tr
	  <% for transaction in decorate_transactions(transactions_list, decorator) %>
        <tr class="<%=cycle("odd", "even")%>">
          <td class="align-left"><%= fmt_country_datetime(transaction.created_at) %></td>
          <td><%= link_to(h(transaction.name), :controller=>"admin/people", :action => "show", :id=>transaction.person_id) %></td>
          <td><%= transaction.action %></td>
          <td><%= transaction.status %></td>
          <td><%= invoice_admin_link(transaction.invoice_id) %></td>
          <td><%= transaction.transaction_id %></td>
          <td><%= format_to_currency(transaction.amount.to_money(transaction.currency)) %></td>
					<td><%= transaction.currency %></td>
					<td><%= flag(transaction.country_website) %></td>
      <% if !transaction.refunded? %>
          <td class="align-right actions">
            <%= link_to("Details", admin_transaction_path(transaction, payment_vendor: payment_vendor), :class=>"lightbox") %>
            <%= raw " | "+ link_to("Refund", refund_admin_transaction_path(transaction, payment_vendor: payment_vendor, :minHeight=>550), :class => "lightbox") if user_can_refund?(@user_can_refund, transaction) %>
          </td>
        </tr>
      <% else %>
          <td class="align-right actions">
            <%= link_to("Details", admin_transaction_path(transaction, payment_vendor: payment_vendor), :class=>"lightbox") %>
            <%= raw " | #{link_to("Refund", refund_admin_transaction_path(transaction, minHeight: 580, payment_vendor: payment_vendor), :class=>"lightbox")}" if user_can_refund?(@user_can_refund, transaction) %>
            <%= raw " | #{link_to("Refunds: #{format_to_currency(transaction.refunded_amount.to_money(transaction.currency))}", "#", :onclick=>"var $ = jQuery; $('#refund_#{transaction.id}').toggle(); return false;", :class=>"refund")}" %>
          </td>
        </tr>
        <tr id="refund_<%= transaction.id %>" class="refund">
          <td class="align-right" colspan="8">
            <% transaction.refunds.each do |refund| %>
              <div style="border-bottom: dashed #ccc 1px; padding-bottom: 3px; margin-bottom: 3px">
                Date: <%= fmt_country_datetime(refund.created_at) %> | Transaction ID: <%= refund.transaction_id %> | Refund Amount: <%= format_to_currency(refund.amount.to_money(refund.currency)) %> | <%= link_to("Details", admin_transaction_path(refund, payment_vendor: payment_vendor), :class=>"lightbox") %><br />

                Refund Reason: <%= refund.refund_reason %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="10" class="align-left">Total Transactions Found: <%= transactions_list.total_entries %></th>
    </tr>
  </tfoot>
</table>

<% if transactions_list.total_entries > transactions_list.per_page %>
  <div style="text-align: right; clear: both;">
    Jump to page:
    <%= will_paginate( transactions_list, :params => {:term => params[:term]}) %>
  </div>
<% end %>
