<section>
  <h2>Transaction Detail: <%= @paypal_transaction.transaction_id %></h2>
  <h2>Details</h2>
  <div class="rounded-container">
    <ul>
      <li><strong>Transaction ID: <%= @paypal_transaction.transaction_id %></strong></li>
      <li><strong>Person: </strong> <%= h(@paypal_transaction.person.name) %></li>
      <li><strong>Paypal Email: </strong> <%=  mail_to(h(@paypal_transaction.email), @paypal_transaction.email)%>
      <li><strong>Invoice/Order: </strong> <%= @invoice ? @paypal_transaction.invoice.code : "N/A" %></li>
      <li><strong>Status: </strong> <%= @paypal_transaction.status %></li>
      <% unless @paypal_transaction.pending_reason.nil? %>
        <li><strong>Pending Reason: </strong> <%= @paypal_transaction.pending_reason %></li>
      <% end %>
      <li><strong>Action: </strong> <%= @paypal_transaction.action %></li>

      <% unless @paypal_transaction.ack == "Failure" %>
        <li><strong>Amount: </strong> <%= money_to_currency(@paypal_transaction.amount.to_money(@paypal_transaction.currency)) unless @paypal_transaction.amount.nil? %></li>
        <li><strong>Fee: </strong> <%= money_to_currency(@paypal_transaction.fee.to_money(@paypal_transaction.currency)) unless @paypal_transaction.fee.nil? %></li>
        <li><strong>Currency: </strong> <%= @paypal_transaction.currency %></li>
      <% end %>
    </ul>
  </div>

  <h2>Response Details</h2>
  <div class="rounded-container">
    <ul>
      <li><strong>Ack: </strong><%= @paypal_transaction.ack %></li>
      <li><strong>Error Code: </strong><%= @paypal_transaction.error_code %></li>
      <% if @paypal_transaction.ack == "Failure" %>
        <li><strong>Error Reason: </strong> <%= @paypal_transaction.error_code_message %></li>
      <% end %>
      <li><strong>Billing Agreement ID: </strong> <%= @paypal_transaction.billing_agreement_id %></li>
      <li><strong>Token: </strong> <%= @paypal_transaction.token %></li>
      <li><strong>Transaction Type: </strong> <%= @paypal_transaction.transaction_type %></li>
      <li><strong>Posted On: </strong> <%= fmt_country_datetime(@paypal_transaction.created_at) %></li>
    </ul>
  </div>

  <h2>Customer Information</h2>
  <div class="rounded-container">
    <ul>
      <li><strong>Name: </strong> <%= h(@person.name) %></li>
      <li><strong>Email: </strong> <%= mail_to(h(@person.email), @person.email) %></li>
      <li><strong>Phone Number: </strong> <%= @person.phone_number %></li>
      <li class="user_status_<%= @person.status.downcase %>"><strong>Status: </strong> <%= @person.status %></li>
    </ul>
  </div>

  <% if !@invoice.nil? %>
    <h2>Order Information</h2>
    <div class="rounded-container">
      <ul>
        <li><strong>Order Number: </strong> <%= @invoice.code %></li>
        <li><strong>Order Date: </strong> <%= fmt_country_datetime(@invoice.settled_at) %></li>
        <li><strong>Total: </strong> <%= @invoice.final_settlement_amount %></li>
        <li><strong></strong> </li>
      </ul>
    </div>

    <h2>Purchased Products/Services</h2>
    <div class="rounded-container">
      <% @purchases.each do |purchase| %>
          <div class="product">
            <%= purchase_display_mapper(purchase) %>
          </div>
        <% end %>
    </div>
  <% end %>
  <h2>Raw Response</h2>
   <div class="rounded-container">
     <p class="info">
       <%= @paypal_transaction.raw_response %>
     </p>
   </div>
</section>
