<h2>PayPal Transactions</h2>
<table id="paypal_transactions" class="no_bold">
  <thead>
		<tr>
			<th class="align-left">Date</th>
			<th>Person</th>
			<th>Status</th>
			<th>Action</th>
			<th>Order ID</th>
			<th>Transaction ID</th>
			<th>Amount</th>
			<th width="20">Currency</th>
			<th>Site</th>
			<th></th>
    </tr>
  </thead>
  <tbody>
	  <% for paypal_transaction in @transactions %>
      <tr class="<%=cycle("odd", "even")%>">
        <td class="align-left"><%= fmt_country_datetime(paypal_transaction.updated_at) %></td>
        <td><%= h(paypal_transaction.name) %></td>
        <td><%= paypal_transaction.status %></td>
        <td><%= paypal_transaction.action %></td>
        <td><%= invoice_admin_link(paypal_transaction.invoice_id) %></td>
        <td><%= paypal_transaction.transaction_id %></td>
        <td class="right money"> $<%= paypal_transaction.payment_amount %></td>
				<td><%= paypal_transaction.currency %></td>
				<td><%= flag(paypal_transaction.country_website) %></td>
        <td><%= link_to("Details", admin_transaction_path(paypal_transaction, :transaction_type => 'paypal'), :class=>"lightbox") %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="10" class="align-left">Total Transactions Found: <%= @transactions.total_entries %></th>
    </tr>
  </tfoot>
</table>

<% if @transactions.total_entries > @transactions.per_page -%>
  <div style="text-align: right;">
    Jump to page:
    <%= will_paginate( @transactions, :params => {:term => params[:term]}) %>
  </div>
<% end -%>
