<% content_for :external_javascript do -%>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <%= javascript_include_tag "/javascripts/app/admin_transactions" %>
<% end -%>

<% params[:d] = {} if !params[:d] %> <%# this fixes the assignment problem for a fresh form. If params[:d] doesn't exist, the form throws an error. %>

<fieldset class="two-column small">
  <%= form_tag("/admin/transactions", method: :get, id: :transaction_search_form) do -%>
    <div>
      <div class="left-column grid_7">
        <label for="d[country_website_id]">
          Country Website
        </label>
        <%= select_tag("d[country_website_id]", options_for_select(@country_websites, params[:d][:country_website_id])) %>
      </div>
      <div style="clear:both" class="left-column grid_7">
        <label for="transaction_type">
          Transaction Type
        </label>
        <%= select_tag("transaction_type", options_for_select([CREDIT_CARD, "PayPal", PAYU_TRANSACTION], @transaction_type)) %>
      </div>

      <div class="right-column grid_8">
        <div>
          <label for="d[person_search]">
            Name or Email
          </label>
          <%= text_field_tag("d[person_search]", params[:d][:person_search]) %>
        </div>
      </div>
    </div>

    <div style="clear: both;">
      <div class="left-column grid_7">
          <label for="d[transaction_id]">
            Transaction ID
          </label>
          <%= text_field_tag("d[transaction_id]",params[:d][:transaction_id]) %>
      </div>

      <div class="right-column grid_8">
        <div class="left-column grid_4 alpha">
          <label for="d[mina]">
            Minimum Amount
          </label>
          <%= text_field_tag("d[mina]",params[:d][:mina], :class=>"short") %>
        </div>
        <div class="right-column grid_4 omega">
          <label for="d[maxa]">
            Maximum Amount
          </label>
          <%= text_field_tag("d[maxa]",params[:d][:maxa], :class=>"short") %>
        </div>
      </div>
    </div>

    <div style="clear: both;">
      <div class="left-column grid_7">
        <label for="d[from_date]">
          Transaction Date From
        </label>
        <%= text_field_tag("d[from_date]", params[:d][:from_date] || @from_date, :class => "date-box") %>
      </div>
      <div class="right-column grid_8">
        <label for="d[to_date]">
            To
        </label>
        <%= text_field_tag("d[to_date]", params[:d][:to_date] || @to_date, :class => "date-box") %>
      </div>
    </div>

    <div id="paypal_options" class="grid_10" <%= "style='display: none;'".html_safe if @transaction_type != "PayPal" %>>
      <div>
        <label for="d[payment_status]">
          Payment Status
        </label>
        <%= select_tag("d[payment_status]", options_for_select(["All", "Completed", "Refunded", "Denied", "Failed", "Pending", "Canceled_Reversal", "Reversed"], params[:d][:payment_status] || @payment_status)) %>
      </div>
      <div>
        <label for="d[paypal_action]">
          Action
        </label>
        <%= select_tag("d[paypal_action]", paypal_action_options_for_select(params[:d][:paypal_action] || @default_paypal_action)) %>
      </div>
    </div>

    <div id="credit_card_options" <%= "style='display: none;'".html_safe if @transaction_type != CREDIT_CARD %>>
      <div class="left-column grid_3">
        <label for="d[action]">
          Action
        </label>
        <%= select_tag("d[action]", options_for_select(["All", "sale", "refund"], params[:d][:action] || @action)) %>
      </div>
      <div class="right-column grid_4" id="braintree_status">
        <label for="d[status]">
          Status
        </label>
        <%= select_tag("d[status]", options_for_select(["All"] + BraintreeTransaction::STATUSES, params[:d][:status] || @status)) %>
      </div>
      <div class="right-column grid_4" id="payments_os_status" style="display: none;">
        <label for="d[payments_os_status]">
          Status
        </label>
        <%= select_tag("d[payments_os_status]", options_for_select([["All", nil]] + PaymentsOSTransaction::TRANSACTION_STATUSES.uniq, params[:d][:payments_os_status]), disabled: true) %>
      </div>
    </div>

    <div class="grid_10" style="margin-top: 5px; clear: both;">
      <%= submit_tag("Search")%> <%= link_to("Reset", {:controller => "admin/transactions"}, :class => "cancel") %>
    </div>
  <% end -%>
</fieldset>
