<section class="grid_16 alpha omega">
  <h2>Paypal, Credit Card, &amp; PayU Transactions</h2>
  <%= render(partial: "search_form") %>
  <% if [CREDIT_CARD, PAYU_TRANSACTION].include?(@transaction_type) %>
    <%= render(partial: "credit_card_transactions", locals: { transactions_list: @transactions, payment_vendor: @payment_vendor, decorator: @decorator }) %>
  <% else %>
    <%= render(partial: "paypal_transactions") %>
  <% end %>
</section>
