<%= javascript_include_tag "/javascripts/refunds.js" %>
<section class="grid_8">
  <h2>Refund</h2>
  <fieldset class="small">  
    <%= error_messages_for(@refund_transaction)%>
    <%= form_for(@credit_card_transaction, :url => process_refund_admin_transaction_path(@credit_card_transaction.id || params[:id], payment_vendor: @payment_vendor), method: :put) do |f| %>
      <ul>
        <li><strong>You are about to refund the following transaction: </strong></li>
        <li>Person: <%= h(@credit_card_transaction.person.name) %></li>
        <li>Transaction ID: <%= @credit_card_transaction.transaction_id %></li>
        <li>Amount:  <%= format_to_currency(@credit_card_transaction.amount.to_money(@credit_card_transaction.currency)) %></li>
        <% if invoice_has_pegged_rate?(@credit_card_transaction.invoice) %>
          <li>Amount (Transaction Currency): 
            <%=money_to_currency(@credit_card_transaction.amount.to_money(@credit_card_transaction.currency), pegged_rate: @credit_card_transaction.invoice.pegged_rate, round_value: false)%>
          </li>
        <% end %>
        <% if @credit_card_transaction.invoice -%>
          <li>Invoice: <%= @credit_card_transaction.invoice.code %></li>
        <% end -%>
        <% if @credit_card_transaction.refunded_amount != nil && @credit_card_transaction.refunded_amount != 0 -%>
          <li style="color: #822934;"><strong>Amount already refunded: <%= format_to_currency(@credit_card_transaction.refunded_amount.to_money(@credit_card_transaction.currency)) %></strong></li>
        <% end -%>
        <li style="color: #822934;">You can refund the whole amount or partial amount, and you can apply more refunds at a later time if required. <strong> Refunds are immediate.</strong></li>
      </ul>
      <label for="category">
        What is this refund's category?
      </label>
      <%= select_tag(:category, options_for_select(@refund_categories)) %>
      <br />
      <label for="reason">
        Why are you refunding this transaction?
      </label>
      <%= text_field_tag(:reason) %>
      <br />
      <div>
        <label for="amount">
          Enter the amount to refund.<br />
          <span style="font-size: 0.8em;">(any amount larger than the original transaction will result in a full refund)</span>
        </label>
      </div>
      <div style="display: inline-block;">
        <i class="currency-symbol-box"><%=MONEY_CONFIG[@credit_card_transaction.currency].try(:[], :unit)%></i>
        <%= text_field_tag(:amount, params[:amount] || format_decimal(@credit_card_transaction.amount - (@credit_card_transaction.refunded_amount || 0), false), class: 'refund-amount-input', 'data-pegged-rate': @credit_card_transaction.invoice&.pegged_rate)%>
      </div>
      <% if invoice_has_pegged_rate?(@credit_card_transaction.invoice) %>
        <div style="display: inline-block; padding: 1px 10px; margin: 0px 5px; background: lightgrey; border-radius: 20px;">
          <i class="currency-symbol-box"><%=MONEY_CONFIG[@credit_card_transaction.person.user_currency].try(:[], :unit)%></i>
          <h5 style="display: inline-block;" id="converted_amount_live"></h5>
        </div>
      <% end %>
      <br />
      <%= submit_tag "Send Refund" %>
    <% end %>
  </fieldset>
</section>
