<section class="grid_8">
  <header>
    <h1>Success</h1>
  </header>
  <div class="rounded-container">
    <ul>
      <li>The refund went through, details are below: </li>
      <li>Person: <%= h(@credit_card_transaction.person.name) %></li>
      <li>Transaction ID: <%= @credit_card_transaction.transaction_id.presence || "None, original transaction was voided" %></li>
      <li>Refund Amount:  <%= format_to_currency(@credit_card_transaction.amount.to_money(@credit_card_transaction.currency)) %></li>
      <% if invoice_has_pegged_rate?(@credit_card_transaction.invoice)%>
        <li>Refund Amount (Transaction Currency):  <%=money_to_currency(@credit_card_transaction.amount.to_money(@credit_card_transaction.currency), pegged_rate: @credit_card_transaction.invoice.pegged_rate, round_value: false)%>
      <% end %>
      <li>Invoice: <%= @credit_card_transaction.invoice.code %></li>
    </ul>
  </div>
</section>
