<section class="grid_8">
  <header>
    <h1>Oh, Snap</h1>
  </header>
  <div class="rounded-container">  
    <ul>
      <li>The refund failed, details below: </li>
      <li>Person: <%= h(@credit_card_transaction.person.name) %></li>
      <li>Transaction ID: <%= @credit_card_transaction.transaction_id %></li>
      <li>Refund Amount:  <%= format_to_currency(@credit_card_transaction.amount.to_money(@credit_card_transaction.currency)) %></li>
      <% if invoice_has_pegged_rate?(@credit_card_transaction.invoice)%>
        <li>Refund Amount (Transaction Currency):  <%=money_to_currency(@credit_card_transaction.amount.to_money(@credit_card_transaction.currency), pegged_rate: @credit_card_transaction.invoice.pegged_rate, round_value: false)%>
      <% end %>
    </ul>
  </div>
</section>
