<header class="row">
  <div class="eight columns centered" style="text-align: center;">
    <h2>Membership by Invitation Only</h2>
    <p class="description">During our beta launch we are limiting the number of members who can access our <%= t(:catalog) %>.<br /> Please tell us about yourself. Once a spot becomes available we'll send you an invitation.</p>
  </div>
</header>
<section class="request_membership row">
  <div class="twelve columns">
    <%= form_for @sync_membership_request, :url => sync_memberships_path do |f| %>
      <%= f.text_field :name, :label => "Name", :class => "form-text", :new_form => true %>
      <%= f.text_field :email, :label => "Email", :class => "form-text", :new_form => true %>

      <%= f.text_field :phone_number, :label => "Phone", :class => "form-text", :new_form => true %>

      <%= f.select :country, country_dropdown_for_website(current_user.country_website_id),
        :selected => @sync_membership_request.country,
        :label => 'Country',
        :li_class => "select country-select",
        :new_form => true %>

      <%= f.text_field :company, :label => "Company", :class => "form-text", :new_form => true %>
      <%= f.text_field :website, :label => "Website", :class => "form-text", :new_form => true %>
      <footer class="row">
        <%= f.submit "Request Invitation", :new_form => true %>
      </footer>
    <% end %>
  </div>
</section>
