<dl style="width:205px; margin-left: 5px; float:left; background-color:#e6e6e6; margin-bottom:5px; margin-top: 0px; padding: 5px;">
	<dt style="font-size: 110%;"><%= link_to h(display_name(album)), :controller => 'albums', :action => 'show', :id => album.id %></dt>
	<dd style="margin-left: 0px; font-size: 90%;"><strong><%= album.artist_name %></strong> </dd>
	<dd style="margin-left: 0px; font-size: 90%;">ID# <%= album.id %> / UPC# <%=h album.upc%></dd>
	<% if album.renewal_due_on !=nil %>
		<dd style="margin-left: 0px; font-size: 90%;">Renewal Due On: <%=album.renewal_due_on.to_s %></dd>
	<% end %>
  <% if album.is_deleted? %>
		<dd style="margin-left: 0px; font-size: 90%;color:red;">Album has been deleted</dd>
	<% end %>
	<% if album.takedown? %>
	  <dd style="margin-left: 0px; font-size: 90%;color:red;">Album has been taken down</dd>
	<% end %>
</dl>
