<% if !@locked_albums.empty? -%>
  <div class="subsection">
    <h2 style="float:none">Locked/Processing Albums</h2>
    <% @locked_albums.each do |album| %>
       <%= render(:partial => 'album_brick', :locals => {:album => album})%>
    <% end %>
  </div>
<% end -%>

<% if !@renewal_albums.empty? -%>
  <div class="subsection">
    <h2 style="float:none">Renewal Due Albums</h2>
     <% @renewal_albums.each do |album| %>
       <%= render(:partial => 'album_brick', :locals => {:album => album})%>
    <% end %>
  </div>
<% end -%>

<% if !@live_albums.empty? -%>
  <div class="subsection">
    <h2 style="float:none">Sent/Live Albums</h2>
    <% @live_albums.each do |album|%>
        <%= render(:partial => 'album_brick', :locals => {:album => album})%>
    <% end %>
  </div>
<% end -%>

<% if !@ready_albums.empty? -%>
  <div class="subsection">      
    <h2 style="float:none">Ready to Go/Steps Required Albums</h2>
    <% @ready_albums.each do |album|%>
        <%= render(:partial => 'album_brick', :locals => {:album => album})%>
    <% end %>
  </div>
<% end -%>

<% if !@taken_down_albums.empty? -%>      
  <div class="subsection">
    <h2 style="float:none">Deleted/Taken Down Albums</h2>
    <% @taken_down_albums.each do |album|%>
        <%= render(:partial => 'album_brick', :locals => {:album => album})%>
    <% end %>
  </div>
<% end -%>
  
<% if !@videos.empty? -%>
  <div class="subsection">
    <h2 style="float:none">Videos</h2>
    <% @videos.each do |video|%>
      <dl style="width:205px; margin-left: 5px; float:left; background-color:#e6e6e6; margin-bottom:5px; margin-top: 0px; padding: 5px;">
        <dt style="font-size: 110%;"><%= link_to h(video.name), :controller => 'videos', :action => 'show', :id => video.id %></dt>
        <dd style="margin-left: 0px; font-size: 90%;">ID# <%= video.id %> / UPC# <%=h video.upc%></dd>
        <% if video.is_deleted? %>
          <dd style="margin-left: 0px; font-size: 90%;color:red;">Video has been deleted</dd>
        <% end %>
      </dl>    
    <% end %>
  </div>
<% end -%>
