<section class="grid_7 alpha">	
  <h2>Lock <%= h(@person.name) %>'s Account</h2>
	<fieldset id="lock-person" class="small">
    <%= error_messages_for(@note) %>
    <div style="color: #822934; padding: 3px;">
      Once you deactivate <%= h @person.name %>, he/she will no longer be able to log in.
    </div>
    <ul style="overflow: hidden;">
      <%= form_for @person, :url => {:action => 'lock_account', :id => @person.id}, :html => {:class => 'small'} do |f| -%>
        <%= f.select(:lock_reason, Person::REASONS_FOR_DEACTIVATION, :label => "Why are you locking this account?", :tc_required => true) %>
        <%= fields_for @note do |pn| %>
          <%= pn.text_area(:note, :label => "Describe the situation.", :tc_required => true) %>
        <% end -%>
        <li>
          <label for="takedown">Takedown this user's albums?</label>
          <%= check_box_tag "takedown" %>
        </li>
        <li style="overflow: visible;">
          <%= submit_tag("Lock", { :class => "submit", :id => "lock-user-submit" }) %>
        </li>
      <% end -%>
    </ul>
  </fieldset>
</section>
