<section class="grid_7 alpha">
  <h2>Mark <%= h @person.name %> as Deleted</h2>
  <fieldset id="deleted-person" class='small'>
    <%= error_messages_for(@note) %>
    <ul>
      <%= form_for @person, :url => {:action => params[:remove] == nil ? 'mark_as_deleted' : 'remove_deletion', :id => @person.id} do |f| -%>
        <%= f.select(:lock_reason, Person::REASONS_FOR_DEACTIVATION, :label => "Why are you marking this account as deleted?", :tc_required => true) %>
        <%= fields_for @note do |pn| %>
          <%= pn.text_area(:note, :label => "Why is this account being deleted?" , :tc_required => true) %>
          <li>
            <%= submit_tag("Mark as Deleted", { :class => "submit", :id => "deleted-user-submit" }) %>
          </li>
        <% end -%>
      <% end -%>
    </ul>
  </fieldset>
</section>
