<%-# Please, I *beg* of you... don't bloat this out -%>
<%-# It's just supposed to be a common pretty nav header when looking at stuff subordinate to a person -%>
<%-# expects :locals of :person -%>
<div class="album_summary">	
	<div class="album_cover">
      <%= image_tag("/images/person.png", alt: "Person Avatar", width: 100, height: 100) %>
			<br />
	</div>
	<div class="summary_details" style="text-align:left; margin:5px;">
		<dl style="rtworwidth:295px; float:left;">
			<dt>
				<%= flag(person.country_website) %>
				<%= link_to h(person.name), :controller => '/admin/people', :action => 'show', :id => person.id %>
			</dt>
			<dd class="artist">Artist: <strong><%= person.artist_name%></strong></dd>
			<dd>Currency: <%= person.currency%></dd>
			<dd>Purchase History: coming soon...</dd>
			<dd>Invoice History: <%= pluralize(person.invoices.count, 'invoice')%> [ <%= link_to('list', admin_person_invoices_path(person))%> ]</dd>
			<dd>Transaction History: <%= pluralize(person.person_transactions.count, 'transaction')%> [ <%= link_to('list', :controller => '/admin/people', :action => :transactions_for, :id => person)%> ]</dd>
    </dl>
  </div>
</div>
<div style="clear:both; margin-top:10px">&nbsp;</div>

