<div style="width:300px; float:left;">
  <dl style="margin-top: 5px;">
    <dt style="font-size:150%; font-weight: 700; text-transform: capitalize;">
      <%= flag(person.country_website) %>
      <%= link_to(h(person.name), :controller => 'admin/people', :action => :show, :id => person ) %>
    </dt>
    <dd style="margin-left:0px; margin-top: 4px; font-size:125%; font-weight: 250;">
      <%= link_to h(person.email), "mailto:#{h(person.email)}" %>
    </dd>
    <dd class="user_status_<%= person.status.downcase %>" style="font-size:125%; margin-top: 10px;">
      <%= person.status %> <%= suspicious_reason(person) %><% if person.deleted == 1 -%> Deleted<% end -%>
    </dd>
    <% if person.dormant %>
      <dd class="user_dormant">
        Dormant Account (<%= link_to("remove", remove_dormancy_admin_person_path(person), method: :patch)%>)
      </dd>
    <% end %>
    <% if person.status != 'Active' && person.status_updated_at -%>
      <dd class="user_status_<%= person.status.downcase %>">
        Status Changed: <%= person.status_updated_at.strftime(" %d %b %Y </b> (%I:%M %p %Z)").html_safe %>
      </dd>
    <% end -%>
    <% if person.vip? %>
      <dd style="color:#f00; font-size:125%; font-weight: 700; margin-top: 2px;">
        VIP Customer
      </dd>
    <% end %>
    <% if person.paid_for_composer? %>
          <dd style="color:orange; font-size:125%; font-weight: 700; margin-top: 2px; margin-bottom: 10px;">
            PubAdmin Customer <span style="font-weight:400;">(Paid: <%= person.paid_for_composer_on.strftime("%-m/%d/%Y") %>)</span>
          </dd>
        <% person.composers.each do |c| %>
          <% unless c.is_active? %>
            <dd style="color:red; font-size:125%; font-weight: 700; margin-top: -8px; margin-bottom: 10px;">PubAdmin Status: Inactive
            <% if c.terminated_at.present? %>
              <span style="font-weight:400;">(Terminated: <%= c.terminated_at.strftime("%-m/%d/%Y") %>)</span></dd>
            <% end %>
          <% end%>
          </dd>
        <% end %>
    <% end %>
    <% if person.paid_for_publishing_composer? %>
          <dd style="color:orange; font-size:125%; font-weight: 700; margin-top: 2px; margin-bottom: 10px;">
            PubAdmin Customer <span style="font-weight:400;">(Paid: <%= person.paid_for_publishing_composer_on.strftime("%-m/%d/%Y") %>)</span> (changeover)
          </dd>
        <% person.publishing_composers.primary.each do |c| %>
          <% unless c.is_active? %>
            <dd style="color:red; font-size:125%; font-weight: 700; margin-top: -8px; margin-bottom: 10px;">PubAdmin Status: Inactive
            <% if c.terminated_at.present? %>
              <span style="font-weight:400;">(Terminated: <%= c.terminated_at.strftime("%-m/%d/%Y") %>)</span></dd>
            <% end %>
          <% end%>
          </dd>
        <% end %>
    <% end %>
    <% if person.has_active_ytm? %>
    <dd style="color:#999900; font-size:125%; font-weight: 700; margin-top: 2px; margin-bottom: 10px;">
        YTM Customer<%= " (Publishing Grandfathered)" if person.grandfathered? %>
    <% end %>
    <dd style="margin-left:0px;">
      Account Created: <b><%= person.created_on.strftime(" %d %b %Y </b> (%I:%M %p %Z)").html_safe %>
    </dd>
    <% if person.accepted_terms_and_conditions_on != nil %>
      <dd style="margin-left:0px;">
        Accepted Terms:<b><%= person.accepted_terms_and_conditions_on.strftime(" %d %b %Y </b> (%I:%M %p %Z)").html_safe %>
      </dd>
    <% else %>
  <dd style="margin-left:0px;">
    <b><i>Did not accept Terms &amp; Conditions</i></b>
  </dd>
  <% end %>
    <% if person.recent_login %>
      <dd style="margin-left:0px;">
        Last Login:<b><%= person.recent_login.strftime(" %d %b %Y </b> (%I:%M %p %Z)").html_safe %></b>
      </dd>
    <% end %>
    <% if person.recent_login_failure %>
        <dd style="margin-left:0px;">
          Last Failed Login:<b><%= person.recent_login_failure.strftime(" %d %b %Y </b> (%I:%M %p %Z)").html_safe %></b>
        </dd>
    <% end %>
    <% if person.phone_number %>
      <dd style="margin-left:0px; margin-top: 6px;">
        Phone: <b><%= person.phone_number %></b>
      </dd>
    <% end %>
    <% if person.mobile_number %>
      <dd style="margin-left:0px">
        Mobile: <b><%= person.mobile_number %></b>
      </dd>
    <% end %>
    <dd style='margin-left:0px'>
      RightsApp ID: <b><%= person.account.try(:provider_account_id) %></b>
    </dd>
    <% if person.account %>
      <dd style='margin-left:0px'>
        DOB: <b><%= person.account.managing_publishing_composer&.dob || person.account.managing_composer&.dob %></b>
      </dd>
    <% end %>
    <% if person.postal_code %>
      <dd style="margin-left:0px;">
        Postal/Zip Code: <b><%= person.postal_code %></b>
      </dd>
    <% end %>
    <% if person.country %>
         <dd style="margin-left:0px;">
           Country: <b><%= person.country %></b>
         </dd>
       <% end %>
    <dd style="margin-left:0px; margin-bottom: 6px;">
        TC Website: <b><%= person.country_website.country %></b>
    </dd>
    <dd style="margin-left:0px;">
      Current Balance: <%= person.currency %> <b><%= number_to_currency(person.balance) %></b>
    </dd>
    <dd style="margin-left:0px;">
      Distribution Credits: <b><%= credits_remaining_sentence(person) %></b>
    </dd>
    <dd style="margin-left:0px;">
      <% if person.has_encumbrance? %>
        <% person.encumbrance_summaries.outstanding.each do |es| %>
          <span class="user_status_suspicious">Encumbrance: <%= number_to_currency(es.outstanding_amount) %> (created <%= es.created_at.strftime('%B %d %Y') %>) </span><br />
        <% end %>
      <% else %>
        No encumbrance
      <% end %>
    </dd>
    <dd style="margin-left:0px; margin-top: 6px;">
      Total Holds: <%= person.copyright_claims.active.size %>
    </dd>
  </dl>
</div>

<div style=" display: inline-block; width: 300px;">
  <%= render "/admin/people/two_factor_info", tfa: person.two_factor_auth, person: person %>
  <% if payoneer_payout_enabled? %>
    <%= render "/admin/people/payout_provider_info", payout_provider: person.payout_provider || PayoutProvider.new, person: person %>
  <% end %>
</div>
<%= render partial: "/admin/people/person_action_links", locals: { person: person } %>
