<div class="admin-payout-provider-status">
  <dl>
    <dd class="admin-payout-provider-status__header">
      <%= payout_provider.name.try(:capitalize) || "Payoneer" %>
    </dd>
    <dd>
      Status: <%= payout_provider.provider_status.try(:capitalize) || "None" %>
    </dd>
    <dd>
      TuneCore Status: <%= payout_provider.tunecore_status %>
    </dd>
    <dd>
      Client Payee ID: <%= payout_provider.client_payee_id %>
    </dd>

    <% if payout_provider.persisted? %>
      <div>Application date: <%= date(payout_provider.created_at) %></div>
      <% if payout_provider.approved? %>
        <div>Approved date: <%= date(payout_provider.provider_processed_at) %></div>
      <% elsif payout_provider.declined? %>
        <div>Declined date: <%= date(payout_provider.provider_processed_at) %></div>
      <% end %>
      <% unless payout_provider.try(:declined?) %>
        <%= link_to "Disassociate Account",
                    admin_payout_payout_provider_disassociations_path(provider_id: payout_provider.id, admin_id: current_user.id, person_id: payout_provider.person_id),
                    method: :post,
                    data: { confirm: "Are you sure you want to disassociate the accounts?" } %>
      <% end %>
    <% end %>

    <% if person.linked_tunecore_accounts.present? %>
      <div>
        <%= link_to pluralize(person.linked_tunecore_accounts.length, 'other TC account linked', plural: 'other TC accounts linked'),
                    admin_payout_providers_path(search: person.payout_provider_identifier) %>
      </div>
    <% end %>

    <dd>
      Tax Status: <%=  current_tax_form_status(person)%>
    </dd>
    <% if person.current_tax_forms_across_programs.blank? %>
      <%= link_to "Fetch Payoneer Tax Form",
                    admin_payout_tax_forms_path(person: person),
                    method: :post,
                    data: { disable_with: "Please wait..." }
      %>
    <% end %>
  </dl>
</div>
