<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/admin/actions.js" %>
<% end %>

<div class="action-links" class="clearfix">
  <h2>Actions</h2>
  <div class="left-column">
    <ul>
      <% unless person.is_administrator? %>
        <li class="primary"><%= link_to("Take Over", control_account_admin_person_path(person)) %></li>
      <% end %>

      <li><%= link_to("Update Profile", edit_profile_admin_person_path(person, minWidth: 500, minHeight: 350), class: "lightbox") %></li>

      <li class="primary"><%= link_to("Send Reset PW Email", reset_pw_mail_admin_person_path(person), method: :put) %></li>
      <li class="primary"><%= link_to("View Reset PW Link", reset_pw_show_admin_person_path(person, minWidth: 600, minHeight: 350), class: "lightbox") %></li>

      <% if current_user.has_role?("Tax Tokens Cohort") && person.tax_tokens.visible.present? %>
        <li class="primary"><%= link_to("Remove Tax Block", update_tax_tokens_admin_person_path(person), method: :put) %></li>
      <% end %>

      <li><%= link_to("Balance Transactions", transactions_for_admin_person_path(person)) %></li>
      <li><%= link_to("Credit Card Transactions", credit_card_transactions_admin_person_path(person)) %></li>
      <li><%= link_to("Balance Adjustments", admin_person_balance_adjustments_path(person)) %></li>
      <li><%= link_to("Distribution Credits", admin_person_inventories_path(person)) %></li>
      <li><%= link_to("Invoices", admin_person_invoices_path(person)) %></li>
      <li><%= link_to("Open Purchases", admin_person_purchases_path(person)) %></li>
      <li><%= link_to("Subscriptions", admin_person_subscriptions_path(person)) %></li>
      <li><%= link_to("Targeted Offer History", admin_person_targeted_offers_path(person)) %></li>
      <li><%= link_to("Login Events", admin_person_login_events_path(person)) %></li>

      <% if person.is_ambassador? %>
        <li><a href="/admin/people/ambassador/<%= person.id %>">Ambassador Info</a></li>
      <% end %>

      <li><%= link_to("Add Stores", edit_admin_person_album_stores_path(person)) %></li>
      <li><%= link_to('Update Country Website', edit_admin_person_country_website_path(person)) %></li>

      <% if current_user.has_role?('Publishing Manager') && person.account.present? %>
        <li> <%= link_to("Manage Composers", admin_publishing_composers_manager_path(person.account)) %> </li>
      <% end %>

      <% if person.stem_user_without_payment? %>
        <% toggle_msg = person.feature_enabled?(:disable_stem_modal) ? "Enable" : "Disable" %>
        <li> <%= link_to("#{toggle_msg} Stem modal", toggle_feature_admin_person_path(person, feature: :disable_stem_modal), method: :put) %> </li>
      <% end %>

      <% if FeatureFlipper.show_feature?(:creative_external_service_ids_index, current_user) %>
        <li><%= link_to("Store Artist Mapping", admin_person_creative_external_service_ids_path(person)) %></li>
      <% end %>

      <li><%= link_to "Copyright Holds Summary", "#{ENV["TC_STUDIO_RETOOL_HOST"]}/apps/tools/APP%3A%20Copyright%20Holds?person_id=#{person.id}", target: "_blank" %></li>
    </ul>
  </div>
  <div class="right-column">
    <ul>
      <li>
        <% if person.active? %>
          <%= link_to("Lock Account", change_status_admin_person_path(person, minWidth: 450, minHeight: 450), class: "lightbox") if current_user.is_permitted_to?("admin/people", "lock_account") %>
        <% else %>
          <%= link_to("Unlock Account", change_status_admin_person_path(person, minWidth: 390, minHeight: 300), class: "lightbox") if current_user.is_permitted_to?("admin/people", "unlock_account") %>
        <% end %>
      </li>
      <li>
        <% if !person.deleted? %>
          <%= link_to("Delete Account", change_status_admin_person_path(person, nd: '1', minWidth: 450, minHeight: 450), class: "lightbox") if current_user.is_permitted_to?("admin/people", "lock_account") %>
        <% else %>
          <%= link_to("Undelete Account", change_status_admin_person_path(person, nd: '1', minWidth: 390, minHeight: 300), class: "lightbox") if current_user.is_permitted_to?("admin/people", "unlock_account") %>
        <% end %>
      </li>
      <li>
        <% if person.redemption_locked? %>
          <%= link_to "Unlock Redemptions", unlock_redemption_admin_person_path(person) %>
        <% else %>
          <%= link_to "Lock Redemptions", lock_redemption_admin_person_path(person) %>
        <% end %>
      </li>
      <% if person.active? %>
        <li>
          <% if person.status != 'Suspicious' %>
            <%= link_to("Mark as Suspicious", change_status_admin_person_path(person, ns: '1', minWidth: 450, minHeight: 450), class: "lightbox") if current_user.is_permitted_to?("admin/people", "lock_account") %>
          <% else %>
            <%= link_to("Remove Suspicion", change_status_admin_person_path(person, ns: '1', minWidth: 390, minHeight: 300), class: "lightbox") if current_user.is_permitted_to?("admin/people", "unlock_account") %>
          <% end %>
        </li>
      <% end %>
      <li>
        Export Data (Inactive)
      </li>
      <li>
        <%= link_to("Add Note", new_admin_note_path(person, id: person.id, minWidth: 400, minHeight: 350), class: "lightbox") %> /
        <%= link_to("View Notes", admin_notes_path(person, id: person.id)) %>
      </li>
      <li>
        <%= link_to("Debit Balance", new_admin_person_balance_adjustment_path(person, person_id: person.id, credit: false, minWidth: 460, minHeight: 500), class: "lightbox") if current_user.has_role?('Refunds') && current_user.id != person.id && person.person_balance.balance > 0 %>
      </li>
      <li>
          <%= link_to("Credit Balance", new_admin_person_balance_adjustment_path(person, person_id: person.id, credit: true, minWidth: 460, minHeight: 500), class: "lightbox") if current_user.has_role?('Refunds') && current_user.id != person.id %>
        </li>
      <li>
        <%= link_to("Edit Rights", edit_admin_right_path(person, minWidth: 400, minHeight: 385), class: "lightbox") if current_user.is_permitted_to?("admin/rights", "edit") && current_user.id != person.id %>
      </li>
      <% if person.country_website.country == 'US'%>
        <li>
          <%= link_to "Electronic Funds Transfers", admin_person_eft_batch_transactions_path(person)  %>
        </li>
        <li>
          <%= link_to "Bank Account History", history_admin_person_stored_bank_accounts_path(person) %>
        </li>
      <% end %>
      <li>
        <%= link_to "Paypal Account History", history_admin_person_stored_paypal_accounts_path(person) %>
      </li>
      <li>
        <% if !person.vip? && person.is_verified? %>
          <%= link_to "Mark as VIP", make_vip_admin_person_path(person) %>
        <% elsif person.vip? %>
          <%= link_to "Undo VIP", undo_vip_admin_person_path(person) %>
        <% end %>
      </li>
      <li>
        <% if person.account_locked? %>
          <%= link_to "Release login lock", release_login_lock_admin_person_path(person) %>
        <% end %>
      </li>
      <li>
        <% if person.is_verified?.blank? %>
          <%= link_to "Verify User", complete_verify_admin_person_path(person) %>
        <% end %>
      </li>
      <li>
        <% if Feature.any_restrict_by_user? && current_user.has_role?("Feature Manager") %>
          <%= link_to("Enable/Disable Features", features_admin_person_path(person, ns: '1', minWidth: 400, minHeight: 385), class: "lightbox") %>
        <% end %>
      </li>
      <li>
        <%= link_to("Soundout Reports", admin_person_soundout_reports_path(person)) %>
      </li>
      <li>
      <%= link_to((person.autorenew? ? "Disable Auto-Renew" : "Enable Auto-Renew"), edit_auto_renewal_admin_person_person_preferences_path(person, minWidth: 400, minHeight: 350), class: "lightbox")%>
      </li>
      <li>
        <% if current_user.has_role?("YTM Approver") %>  
          <% if person.has_sent_tracks? && (person.has_active_ytm? || person.has_ytsr_proxy?) %>
            YouTube Sound Recording Revenue In Use
          <% elsif person.has_active_ytm?  %>
            <%= link_to("Disable YouTube Sound Recording Revenue", admin_youtube_monies_setup_ytm_opt_out_path(person_id: person.id, minWidth: 400, minHeight: 350), class: "lightbox") %>
          <% elsif person.has_purchased_ytm? %>
            YouTube Sound Recording Revenue Terminated
          <% end %>
        <% end %>
      </li>
      <li>
        <% if current_user.has_role?("YTM Approver") %>
          <% if person.ytm_blocked? %>
            <%= form_with url: admin_youtube_monies_unblock_path(person_id: person.id), method: :put, class: "unblock-ytm-form", local: true do |f| %>
              <a href="#" class="unblock-ytm">Unblock YouTube Sound Recording Revenue</a>
            <% end %>
          <% else %>
            <%= form_with url: admin_youtube_monies_block_path(person_id: person.id), method: :put, class: "block-ytm-form", local: true do |f| %>
              <%= link_to_with_removal_notice "Block YouTube Sound Recording Revenue", "#", class: "block-ytm" %>
            <% end %>
          <% end %>
        <% end %>
      </li>
      <li>
        <% if person.present? %>
          <% if person.blocked_withdrawal? %>
            <%= form_with url: unblock_withdrawals_admin_person_path(person.id), method: :put, class: "unblock-withdrawals-form", local: true do |f| %>
              <a href="#" class="unblock-withdrawals">Unblock Withdrawals</a>
            <% end %>
          <% else %>
            <%= form_with url: block_withdrawals_admin_person_path(person.id), method: :put, class: "block-withdrawals-form", local: true do |f| %>
              <a href="#" class="block-withdrawals">Block Withdrawals</a>
            <% end %>
          <% end %>
        <% end %>
      </li>
      <li>
        <% if person.mastered_tracks.paid.present? %>
          <%= link_to "Edit Landr Tracks", admin_person_mastered_tracks_path(person) %>
        <% end %>
      </li>
      <li>
        <%= link_to_with_removal_notice "GC Cert Redemption", new_redemption_admin_certs_path(person_id: person.id), class: "lightbox" %>
      </li>
      <li>
        <% if person.migrated_to_bigbox? %>
          Migrated to bigbox
        <% else %>
          <%= link_to "Migrate to Bigbox", migrate_to_bigbox_admin_person_path(person) %>
        <% end %>
      </li>
      <li>
        <% if current_user.has_role?("Mass Download Assets") %>
          <%= link_to "Download Assets", download_assets_admin_person_path(person) %>
        <% end %>
      </li>
    </ul>
  </div>
</div>


<div id="block-confirm" title="Are you sure you want to remove YouTube Content ID Monetization for this account?">
  <p style="margin-bottom: 0" class="data-ytsr"></p>
</div>

<div id="unblock-confirm" title="Are you sure you'd like to grant this user access to YouTube Content ID Monetization?">
  <p style="margin-bottom: 0" class="data-ytsr"></p>
</div>

<div id="block_withdrawals" title="Block Withdrawals?">
  <p style="margin-bottom: 0" class="data-block-withdrawals"></p>
</div>

<div id="unblock_withdrawals" title="Unblock Withdrawals?">
  <p style="margin-bottom: 0" class="data-unblock-withdrawals"></p>
</div>
