<div>
  <fieldset style="padding: 0 10px 5px 5px">
    <legend style="display: block">
      <h3 style="font-size: 125%">Plan Information</h3>
    </legend>
    <div style="padding: 8px">
      <% if person.plan %>
        Current Plan: <strong><%= person.plan&.name %></strong><br>
        <% person_plan = plan_history(person.id) %>
        Plan Period: <strong><%= plan_date_format(person_plan&.plan_start_date) %>
      - <%= plan_date_format(person_plan&.plan_end_date) %></strong>
        <div style="float: right; padding: 5px">
          <% if person.plan.id == Plan::NEW_ARTIST %>
            <%= button_to "Request Downgrade", {}, disabled: true, class: "disabled-button", "data-toggle" => "tooltip", "data-placement" => "top",
                          "title" => "Downgrading is not possible. The user is already at the lowest plan." %>
          <% else %>
            <form class="button_to" method="get" target="_blank" action="<%= "#{ENV["TC_STUDIO_RETOOL_HOST"]}/apps/tools/App%3A%20Plan%20Downgrade%20Request" %>">
              <input type="hidden" name="user_id" value="<%="#{person.id}" %>"/>
              <input type="submit" value="Request Downgrade">
            </form>
          <% end %>
        </div>
      <% else %>
        Current Plan: <strong>No Plan</strong><br>
      <% end %>
    </div>
  </fieldset>
</div>

<% if person.plan %>
  <fieldset style="padding: 0 10px 5px 5px">
    <legend style="display: block">
      <h3 style="font-size: 125%">Requested Plan Downgrades</h3>
    </legend>
    <div style="max-height: 250px; overflow-y: scroll; padding: 8px">
      * Only one downgrade allowed per year<br>
      * New plan takes start at the end of Current Plan
      <% person.plan_downgrade_requests.reverse.each do |downgrade_request| %>
        <hr/>
        Status: <strong><%= downgrade_request.status %></h3></strong><br>
        Date: <strong><%= plan_date_format(downgrade_request.created_at) %></strong><br>
        Downgrade:<strong> <%= downgrade_request.requested_plan.name %></strong><br>
        Reason Type: <strong><%= downgrade_request.reason.downgrade_category.name %></strong><br>
        Reason: <strong><%= downgrade_request.reason.name %></strong><br>
        <% if downgrade_request.downgrade_other_reason.present? %>
          Reason Detail: <strong><%= downgrade_request.downgrade_other_reason.description %></strong><br>
        <% end %>
      <% end %>
    </div>
  </fieldset>
<% end %>
