<div class="subsection bottom-line">
  <div style="width:400px; float:left;">
    <dl style="margin-top: 5px;">
      <dt style="font-size:150%; font-weight: bold;">
        <%= link_to(h(person.name), :controller => 'admin/people', :action => :show, :id => person ) %>
      </dt>
      <dd class="user_status_<%= person.status.downcase %>" style="font-size:125%;">
        Status: <%= person.status %> <%= "(#{person.lock_reason})" if !person.active? %>
      </dd>
      <dd style="margin-left:0px;">
        <%= link_to h(person.email), "mailto:#{h(person.email)}" %>
      </dd>
      <% if person.artist_name %>
        <dd style="margin-left:0px;">
          <strong>Artist:</strong> <%=h person.artist_name %>
        </dd>
      <% end %>
      <% if person.phone_number %>
        <dd style="margin-left:0px;">
          <strong>Phone:</strong> <%= person.phone_number %>
        </dd>
      <% end %>
      <% if person.label_name %>
        <dd style="margin-left:0px;">
          <strong>Label:</strong> <%=h person.label_name %>
        </dd>
      <% end %>
      <dd style='margin-left:0px'>
        <strong>RightsApp ID:</strong> <%= person.try(:account).try(:provider_account_id) %>
      </dd>
      <dd style='margin-left:0px'>
        <strong>Account Created:</strong> <%= person.try(:account).try(:created_at).try(:strftime, "%d %B %y %r %Z") %>
      </dd>
      <dd style='margin-left:0px'>
        <strong>Accepted Terms:</strong> <%= person.accepted_terms_and_conditions_on.try(:strftime, "%d %B %y %r %Z") %>
      </dd>
      <dd style='margin-left:0px'>
        <strong>Last Login:</strong> <%= person.recent_login.try(:strftime, "%d %B %y %r %Z")%>
      </dd>
      <dd style='margin-left:0px'>
        <strong>Postal/Zip Code:</strong> <%= person.postal_code %>
      </dd>
    </dl>
  </div>

  <%= render(:partial => "admin/people/person_action_links", :locals => {:person => person}) %>
</div>
