<section class="grid_7 alpha">
  <h2>Remove Deletion from <%= h @person.name %></h2>
  <fieldset id="remove-deletion-person" class='small'>
    <%= error_messages_for(@note) %>
    <ul>
      <%= form_for @person, :url => {:action => 'remove_deletion', :id => @person.id} do |f| -%>
        <%= fields_for @note do |pn| %>
					<%= pn.text_area(:note, :label => "Why are you undeleting this account?", :tc_required => true) %>
					<li>
					  <%= hidden_field_tag :remove, "1"%>
            <%= submit_tag("Remove Deletion", { :class => "submit", :id => "remove-deletion-user-submit" }) %>
          </li>
        <% end -%>
      <% end -%>
    </ul>
  </fieldset>
</section>
