


<div class="salepointable <%= (salepointable.class.name != 'Video' && salepointable.state=='live')? 'live' : '' %>">
  <!-- Salepointable Image and Title -->
  <% if salepointable.class.name != "Video" %>
	<div class="artwork">
      <% image_url = salepointable.artwork ? salepointable.artwork.url(:small) : Artwork.default_url(:small) %>
      <%= link_to image_tag(image_url), admin_album_path(salepointable) %>
    </div>
  <% end %>
  <h3><%= link_to salepointable.name, polymorphic_path(salepointable) %></h3>
  <h4>By <%= salepointable.artists.map { |a| a.name }.join(", ") %></h4>

  <!-- Salepointable data -->
  <ul>
    <li><strong>ID#:</strong> <%= salepointable.id %></li>
    <li><strong>UPC#:</strong> <%= salepointable.upc %></li>

  <% if salepointable.class.name != "Video" %>
    <li>
      <strong>Stores:</strong>
      <% if salepointable.stores.size > 0 %>
        <%= salepointable.stores.map { |store| store.name }.join(", ") %>
      <% else %>
        None
      <% end %>
    </li>

    <li><strong>Genre:</strong> <%= salepointable.primary_genre %></li>
    <% if ! salepointable.secondary_genre.blank? %>
      <li><strong>Secondary Genre:</strong> <%= salepointable.secondary_genre %></li>
    <% end %>

  </ul>

  <!-- Salepointable State -->
  <div class="state">
    <strong><%= salepointable.state %></strong>
    <br />
    <% if salepointable.is_a?(Album) %>
      <strong><%= salepointable.songs.size %> <%= (salepointable.songs.size == 1) ? "Song" : "Songs" %></strong>
    <% end %>
  </div>
<% end %>
</div>

