<tr class='<%= cycle("odd", "even") %> salepointable_table' style="font-weight:normal">
  <td>
    <%= link_to((image_tag(artwork_100x100(salepointable),
    :alt => salepointable.name+" Cover",
    :style => 'border:#ccc solid 2px;width:25px;height:25px;')), polymorphic_path([:admin,salepointable])) %>
  </td>

  <td class="salepointable_name">
    <%= link_to(h(truncate(salepointable.name, :length => 28)), polymorphic_path([:admin,salepointable])) %>
  </td>
  <td><%= salepointable.artist_name %></td>
  <td><%= salepointable.upcs.first %></td>
  <td><%= salepointable.class.name %></td>

  <% if salepointable.respond_to?(:legal_review_state) && salepointable.legal_review_state == 'REJECTED' %>
    <td class="salepointable_status_denied">
       <%=  link_to('denied', polymorphic_path([:admin,salepointable])) %>
     </td>
  <% elsif salepointable.respond_to?(:state) && !salepointable.state.blank? %>
     <td class="salepointable_status_<%=(salepointable.state)? salepointable.state.gsub(" ","_") : "generic" %>">
       <%=  link_to(salepointable.state, polymorphic_path([:admin,salepointable])) %>
     </td>
  <% else %>
    <td/>
  <% end %>

  <td><%= salepointable.source if salepointable.respond_to?(:source)%></td>
</tr>
