<div style="width:300px; display: inline-block; margin-top: 42px">
  <dl style="margin-top: 5px;">
    <dd class="user_tfa_status" style="font-size:125%; font-weight: bold; margin-top: 10px;">
      Two-Factor Auth
    </dd>
      <% if tfa.nil? %>
        <dd>This user has not enabled two-factor auth</dd>
      <% else %>

        <dd>Enrolled: <%= date(tfa.activated_at) %></dd>

        <% if tfa.disabled_at.present? %>
          <dd>Disabled: <%= date(tfa.disabled_at) %></dd>
        <% end %>

        <dd>Last Verified: <%= date(tfa.last_verified_at) %> </dd>

        <% if tfa.active? && current_user.tfa_admin? %>
          <%= button_to("Deactivate", admin_two_factor_auth_path(person), method: :put) %>
        <% end %>
      <% end %>
    </dl>
</div>
