<section class="grid_7 alpha">	
	<h2>Activate <%= h @person.name %></h2>
  <fieldset id="unlock-person" class='small'>
    <%= error_messages_for(@note) %>
    <ul>
      <%= form_for @person, :url => {:action => 'unlock_account', :id => @person.id} do |f| -%>
        <%= fields_for @note do |pn| %>
          <%= pn.text_area(:note, :label => "Why are you unlocking this account?", :tc_required => true) %>
        <% end -%>
          <li>
            <%= submit_tag("Unlock", { :class => "submit", :id => "unlock-user-submit" }) %>
          </li>
      <% end -%>
    </ul>
  </fieldset>
</section>
