<% content_for :external_javascript do %>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<%= javascript_include_tag "/javascripts/zclip.js" %>
<script type="text/javascript">
  jQuery(document).ready(function($){
    var copyAlert = function(){
      var btn = $('a#copy_link');
      btn.animate({
        backgroundColor: 'green'
      }, 500, function(){
        btn.html('Copied');
        setTimeout(function(){
          btn.animate({
            backgroundColor: '#44B1FA'
          }, 500, function(){
            btn.html('Copy');
          });
        }, 2000);
      });
    };
    $('.share_url').click(function(){
      $(this).focus().select();
    });
    $('a#copy_link').zclip({
      path: '/flash/ZeroClipboard.swf',
      copy: function(){ return $('input#copy_input').val(); },
      afterCopy: function(){
        copyAlert();
      }
    });
  });
</script>
<% end %>
<style type="text/css">
  #copy_link{
    color: #FFFFFF;
    background-color: #44B1FA;
    border-radius: 5px;
    font-weight: bold;
    padding: 7px 20px;
    margin-left: 5px;
    text-decoration: none;
   }
</style>
<% @page_title = "Person: #{@person.email}" %>
<section class="grid_16 alpha omega">
<%= render :partial => '/admin/shared/searchbox'%>
<%= render(:partial => 'mini_person', :locals => {:person => @person}) %>
<div style="clear: both; margin: 10px 0; padding: 20px; border: 1px solid #CCCCCC;">
  <strong>Ambassador Share URL</strong><br />
  <input type="text" id="copy_input" value="<%=@friend_referral_share_url%>" class="share_url" /><a href="#" id="copy_link">Copy</a><br /><br />
  Referral count: <strong><%=@friend_referral_referred_count%></strong><br />
  Ambassador balance: <strong>$<%=@friend_referral_dollars_earned%></strong>
</div>
</section>
