<% if @is_suspicion -%>
  <% if @person.status == 'Suspicious' -%>
    <%= render(:partial => "remove_suspicion") %>
  <% else -%>
    <%= render(:partial => "mark_as_suspicious") %>
  <% end -%>
<% elsif @is_deletion -%>
  <% if @person.deleted == 1 -%>
    <%= render(:partial => "remove_deletion") %>
  <% else -%>
    <%= render(:partial => "mark_as_deleted") %>
  <% end -%>
<% else -%>
  <% if !@person.active? -%>
    <%= render(:partial => "unlock_account") %>
  <% else -%>
    <%= render(:partial => "lock_account") %>
  <% end -%>
<% end -%>