<%= render partial: '/admin/shared/searchbox' %>
<%= render partial: 'mini_person', locals: { person: @person } %>
<section id="admin_content">
  <% if one_time_payment_only?(@person) %>
    <%= render partial: '/admin/transactions/credit_card_transactions', locals: { transactions_list: @payu_transactions, payment_vendor: @payu_payment_vendor, decorator: @payu_decorator } %>
  <% end %>
  <%= render partial: '/admin/transactions/credit_card_transactions', locals: { transactions_list: @transactions, payment_vendor: @payment_vendor, decorator: @decorator } %>
</section>
