<h2>Request/Download assets for <%= link_to @person.name, admin_person_path(@person) %></h2><br/>

<%= simple_form_for @recover_user_assets_form, url: create_recover_assets_admin_person_path(@person), html: { class: "recover_assets_form" } do |f| %>
  <%= f.input :include_assets, as: :check_boxes, input_html: { class: 'include-assets' }, :include_hidden => false, label: "Type of Assets to Download", collection: [['Artwork', 'artwork'], ['Audio', 'audio'], ['Metadata', 'metadata']], label_method: :first, value_method: :last %><br/><br/>

  <%= f.input :album_ids_and_isrcs, as: :text, input_html: { class: 'albums_ids' }, label: "Album by IDs/UPCs/ISRCs should be comma-separated, space-separated, or new-line-separated. <br /> (Submit the form empty to download all the albums assets of a user.)".html_safe %>

  <%= f.submit "Submit" %>
<% end %><br/><br/>

<div class="table-holder">
  <table id="comp-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Requested By</th>
        <th>Status</th>
        <th>Album ID's</th>
        <th>Asset Included</th>
        <th>Created On</th>
        <th>Download Assets</th>
      </tr>
    </thead>
    <tbody>
      <% if @recovery_user_assets.blank? %>
        <td colspan="6">Recover Assets list is empty.</td>
      <% else %>
        <% @recovery_user_assets.each do |asset| %>
          <tr>
            <td><%= asset.id %></td>
            <td><%= asset.admin.name %></td>
            <td><%= asset.state %></td>
            <td><%= asset.albums_ids.present? ? asset.albums_ids.join(', ') : 'ALL' %></td>
            <td><%= asset.include_assets.join(', ') %></td>
            <td><%= asset.created_at.strftime("%b %d, %Y %l:%M %p") %></td>
            <td><%= asset.completed? ? (link_to 'Download', asset.url) : 'Not Available' %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
