<section>
  <h2>Update <%= h(@person.name) %>'s Profile</h2>

<fieldset id="unlock-person" class='small'>
  <%= error_messages_for(@person) %>
  <ul>
    <%= form_for @person, url: update_profile_admin_person_path(@person) do |f| -%>
      <li>
        <%= f.text_field :email, :label => "New Email" %>
      </li>

      <li>
        <%= f.text_field(:postal_code, :label => 'Zip/Postal Code', :class => "postal-code short" ) %>
      </li>

      <li>
        <%= submit_tag "Save or Confirm" %>
      </li>
    <% end -%>
  </ul>
  <p>A confirmation email will be sent to the new email address.</p>
</fieldset>
</section>
