<section class="grid_7 alpha">
  <h2>Enable/Disable features for <%= h @person.name %></h2>
  <fieldset id="enable-disable-features-person" class='small'>
    <%= flash[:error] ? note_error_helper(flash[:error],"red") : "" %>
    <ul>
      <%= form_for @person, :url => {:action => 'toggle_features', :id => @person.id} do |f| -%>
        <% for feature in @features %>
          <li>
            <%= check_box_tag('person[features][]',  feature.id, @person.features.include?(feature) ) %>
            <label> <%=  feature.name.titleize %> </label>
          </li>
        <% end %>
          <li>
              <%= submit_tag("Save", { :class => "submit", :id => "enable-disable-features-person-submit" }) %>
          </li>
      <% end -%>
    </ul>
  </fieldset>
</section>