<% @page_title = "Search: #{@search_field} = #{@search_text}" %>
<div id="sales_listing">
  <%= render :partial => '/admin/shared/searchbox'%>
  <div style="margin: 30px 0 10px 0; font-size: 110%;">
    Results: for "<strong><%=h @search_text %></strong>" in the following attributes: "<strong><%=h @search_field %></strong>"
  </div>
  <% unless @people.blank? %>
    <% @people.each do |person| %>
      <%= render(:partial => 'person_for_lists', :locals => {:person => person}) %>
    <% end %>
    <div style="text-align: right; clear: both;">
      Jump to page: <%= will_paginate(@search_pages) %>
    </div>
  <% else %>
    <div>No items match your criteria. You can do a wildcard search using the "*" character. Only the first wildcard will be used.</div>
  <% end %>
</div>

