<% @page_title = "Person: #{@person.email}" %>
<section class="grid_16 alpha omega">
<%= render :partial => '/admin/shared/searchbox'%>
<%= render(:partial => 'mini_person', :locals => {:person => @person}) %>
  <div style="clear: both; margin-top: 10px; overflow: visible;">
    <div class="grid_10 alpha" style="float:left; margin-top: 10px" id="sales_listing">
      <%= render partial: "/admin/people/person_plan_info", locals: { person: @person } %>
      <table>
      <caption class="disco">Albums, Singles and Ringtones</caption>
      <thead>
      <tr>
      <th>Art</th>
      <th>Album Name</th>
      <th>Artist</th>
      <th>UPC</th>
      <th>Type</th>
      <th>Status</th>
      <th>Source</th>
      </tr>
      </thead>
      <% @products.keys.each do |product_type| %>
        <% @products[product_type].each do |product| %>
          <%= render(:partial => "salepointable_line", :locals => {:salepointable => product})%>
        <% end %>
      <% end %>
      <% @videos.each do |video| %>
        <%= render(:partial => "salepointable_line", :locals => {:salepointable => video})%>
      <% end %>
      </table>
    </div>
    <div class="grid_5 omega" style="float:right;">
      <%= render(:partial => 'admin/notes/notes', :locals => {:show_all => false}) %>
    </div>
  </div>
</section>
