<section>
  <h2>Status Changed</h2>
  <%= flash[:notice] ? note_helper(flash[:notice],"check") : "" %>
</section>
<script>
  window.top.location = 'http://' + location.host + "/admin/people/<%=@person.id%>";
</script>