<%= render partial: "/admin/shared/searchbox" %>
<%= render partial: "mini_person", locals: { person: @person, features: [:show_balance, :show_person_link]} %>
<section id="admin_content">
  <h2>Balance Transactions</h2>
    <div style="float: left; width: 700px;">
	<%= render :partial => "/my_account/transactions_list" %>
    </div>
    <div style="float: left; width: 220px; margin-left: 10px">
    <%= render :partial => "/my_account/transaction_filters", locals: { form_url: transactions_for_admin_person_path(@person) } %>
    </div>
    <div class="clear"></div>
	<% if @transactions.total_entries > @transactions.per_page %>

	<div style="text-align: right; clear: both;">
	Jump to page:
	<%= will_paginate( @transactions, :params => {:term => params[:term]}) %>
	</div>
	<% end %>
</section>
