<section class="grid_7 alpha">
  <h2>Update <%= h(@person.name) %>'s Email</h2>

<fieldset id="unlock-person" class='small'>
  <%= error_messages_for(@person) %>
  <ul>

    <%= form_for @person, url: update_email_person_path(@person) do |f| -%>
	<li>Current Email : <%= @person.email %></li>
			      <li>
			      <%= f.text_field :email %></li>
			    <%= f.hidden_field(:original_email, :value => @person.email)%>
			   <li>
					  <%= submit_tag "Save or Confirm" %></li>

	      <% end -%>
	</ul>
	<p>A confirmation email will be sent to both old and new addresses.</p>
	<b>Please use caution:  This email update bypasses all validation checks.</b>
</fieldset>

</section>
