<div class='album-note'>
	<strong><%=album_note.subject%></strong><br/>
	<%=album_note.created_at.strftime('%Y-%m-%d at %H:%M:%S')%><br/>
	By: <%= note_created_name(album_note, album) %><br/>
  <%= album_note.related.class %> ID: <%= album_note.related.id %><br/>
  Note: <%=album_note.note%>
</div>
