<%
  remove_header = false unless defined? remove_header
%>
<div class="notes-wrapper">
  <% if !@notes.empty? -%>
    <% unless remove_header %>
      <% if !show_all -%>
        <h2 style="font-size:110%;">Last <%= pluralize(@notes.first(5).length, 'Note') %></h2>
      <% else -%>
        <h2 style="font-size:110%;">Notes for <%= h(@person.name) %></h2>
      <% end -%>
    <% end %>
    <ul>
      <%= render(:partial => 'admin/notes/note', :collection => show_all ? @notes : @notes.first(5)) %>
      <% if !show_all && @notes.count > 5 -%>
        <li>
          <%= link_to("View Notes", {:controller => 'admin/notes', :id => @person.id}) %>
        </li>
      <% end -%>
    </ul>
  <% else -%>
    <h3>There are no notes for this account yet.</h3>
  <% end -%>
</div>
