<%
  # this quickly fixes the issue where a note created by an ex admin shows up as a customer note
  # so set it if @person exists
  # we don't really care about the type unless we are viewing notes from the main account notes section in admin
  type = "admin"
  if @person
    if note.note_created_by_id == 0
      type = "system"
    elsif note.note_created_by_id == @person.id
      type = "customer"
    end
  end
%>
<li style="border-bottom: dashed 1px #ccc; margin-bottom: 7px;" class="note <%= type %>" created_at="<%= note.created_at %>">

  <p style="padding: 0 0 3px 0; margin-bottom: 0px;">
    <b>RE: <%= h(note.subject) %></b><br />
    <%= h(note.note).gsub("\n","<br />").html_safe %>
  </p>

  <span style="color: #5F5F5F; font-size: 90%">
    On: <%= fmt_country_datetime(note.created_at) %> <br />
    By: <%= note.note_created_by_name %> (<%= note.note_created_by_id %>)<br />
    IP: <%= note.ip_address? ? note.ip_address : "xx.xx.xx.xx" %><br />
    <%= note.related.class %> ID: <%= note.related&.id %>
    <% if note.related.class == Song %><br /><%= note.related.album.class %> ID: <%= note.related.album.id %><% end %>
  </span>
</li>
