<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/moment.js" %>
  <script type="text/javascript">
    jQuery(function(){
      var $ = jQuery,
          filterInput = $('#note_filter'),
          startDateInput = $('#start_date'),
          endDateInput = $('#end_date'),
          originalStartDate = new Date(startDateInput.val()),
          originalEndDate = new Date(endDateInput.val()),
          tabs = $('.tabs'),
          resultsHeader = $('.results-header'),
          notes = $('.note'),
          data = (function(){
            var n = [];
            notes.each(function(){
              var i = $(this);
              n.push({el: i, text: i.html(), date: moment(i.attr('created_at'))});
            });
            return n;
          }()),
          filter = function(text, start_date, end_date){
            tabs.hide();
            resultsHeader.show();
            var pattern = new RegExp(text, 'i'),
                count = 0;
            $.each(data, function(i,d){
                if((text.length <= 2 || pattern.test(d.text)) &&
                  (start_date.isBefore(d.date) || start_date.isSame(d.date)) &&
                  (end_date.isAfter(d.date) || end_date.isSame(d.date))){
                count++;
                if(text.length > 2) d.el.html(d.text.replace(new RegExp('('+text+')', 'ig'), '<span class="highlight">$1</span>'));
                d.el.show();
              }
              else{
                d.el.hide();
              }
            });
            resultsHeader.find('.results-count').html(count);
            if(text.length <= 0 && start_date.isSame(originalStartDate) && end_date.isSame(originalEndDate)){
              resultsHeader.hide();
              tabs.show();
              $('.tabs .active').click();
            }
          };
      // Bindings
      filterInput.keyup(function(e){
          var v = filterInput.val();
          filter(v, moment(startDateInput.val()), moment(endDateInput.val()));
      });
      $('.tabs a').click(function(e){
        var t = $(this),
            section = t.attr('section');
        $('.tabs .active').removeClass('active');
        $(this).addClass('active');
        if(section == 'all') notes.show();
        else{
          notes.hide();
          $('.note.'+section).show();
        }
        e.preventDefault();
      });
      startDateInput.datepicker({
        minDate: originalStartDate,
        maxDate: originalEndDate,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
          filter(filterInput.val(), moment(startDateInput.val()), moment(endDateInput.val()));
        }
      });
      endDateInput.datepicker({
        minDate: originalStartDate,
        maxDate: originalEndDate,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
          filter(filterInput.val(), moment(startDateInput.val()), moment(endDateInput.val()));
        }
      });
    });
  </script>
<% end %>
<%
  @page_title = "Person: #{@person.email}"
  system_notes = @notes.select{|n| n.note_created_by_id == 0}
  customer_notes = @notes.select{|n| n.note_created_by_id == @person.id}
  admin_notes = @notes.select{|n| n.note_created_by_id != 0 and n.note_created_by_id != @person.id}
  start_date = @notes.length > 0 ? @notes.min_by{|n| n.created_at }.created_at : Time.now
  end_date = @notes.length> 0 ? @notes.max_by{|n| n.created_at }.created_at : Time.now
%>
<style type="text/css">
  .notes-wrapper{
    background-color: #FFFFFF;
  }
  .note{
    border-bottom: 1px solid #CCCCCC !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .tabs{
    border-bottom: 2px solid #CCCCCC;
  }
  .tabs a{
    float: left;
    padding: 5px 15px;
    background-color: #F2F2F2;
    margin-right: 5px;
    text-decoration: none;
    font-weight: bold;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
     border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  .tabs .active{
    background-color: #CCCCCC;
    color: #333333;
  }
  .results-header{
    border-bottom: 2px solid #CCCCCC;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    display: none;
  }
  .highlight{
    background-color: #ffff66;
    display: inline-block;
  }
  #note_filter{
    margin-left: 7px;
  }
  #start_date, #end_date{
    width: 75px;
  }
</style>
<section class="grid_16 alpha omega">
<%= render :partial => '/admin/shared/searchbox'%>
<%= render(:partial => '/admin/people/mini_person', :locals => {:person => @person}) %>
  <div style="clear: both; margin-top: 10px; overflow: visible;">
    <h2>Account Notes</h2>
    <% if @display_recent_notes_warning %>
      <h4 style="color: #ff4d4d">We are displaying only the recent notes here, please contact our tech team for further assistance</h4>
    <%end %>
    <fieldset class="horizontal" style="padding: 20px;">
      <label for="note_filter">Filter</label>
      <input type="text" id="note_filter" autocomplete="off"><br><br>
      <label for="">Range</label>
      <input type="text" id="start_date" value="<%= fmt_country_date(start_date) %>" autocomplete="off"> to
      <input type="text" id="end_date" value="<%= fmt_country_date(end_date) %>" autocomplete="off">
    </fieldset>
    <nav class="tabs">
      <a href="#" section="all" class="active">All Activity (<%= @notes.length %>)</a>
      <a href="#" section="customer">Customer Activity (<%= customer_notes.length %>)</a>
      <a href="#" section="admin">Admin Activity (<%= admin_notes.length %>)</a>
      <a href="#" section="system">Automated Activity (<%= system_notes.length %>)</a>
      <div class="clearfix"></div>
    </nav>
    <div class="results-header">Showing <span class="results-count">0</span> results</div>
    <%= render(:partial => 'notes', :locals => {:show_all => true, :remove_header => true}) %>
  </div>
</section>
