<section>
  <h2><%= h(@person.name)%>: Add Note</h2>
  <fieldset id="suspicious-person" class='small'>
    <%= error_messages_for(@note) %>
    <ul>
      <%= form_for @note, :url => {:action => :create, :id => @person.id} do |f| -%>
        <%= f.text_field(:subject, :label => "Subject" , :tc_required => true, :required => true, :maxlength => 255) %>
        <%= f.text_area(:note, :label => "Note" , :tc_required => true, :required => true) %>
        <li>
          <%= submit_tag("Add Note", { :class => "submit" }) %>
        </li>
      <% end -%>
    </ul>
  </fieldset>
</section>
