<%= album_overview(album) %>
<%= album_info_status(album) %>
<%= album_store_status(album) %>
<%= album_store_info_status(album) %>
<% if FeatureFlipper.show_feature?(:distro_flow_changes, current_user) %>
  <%= album_track_info_status(album) %>
  <%= album_artwork_status(album) %>
<% else %>
  <%= album_artwork_status(album) %>
  <%= album_track_info_status(album) %>
<% end %>
<%= album_preorder_status(album) if feature_enabled?(:preorder) && show_preorder? && !album_preorder_disabled(album) %>
