<div class="album_artwork small">
  <% if album.artwork %>
    <%= image_tag(album.artwork.url(:small), :alt => display_name(album) + " #{custom_t(:cover_of_album)}", :width => 50, :height => 50) %>
  <% else %>
    <%= image_tag(Artwork.default_url(:small), :alt => "#{custom_t(:add_artwork)}", :width => 50, :height => 50) %>
  <% end %>
</div>
<section class="basicinfo">
  <h2 class="hd"><%= h(display_name(album)) %></h2>
  <h3 class="sub-hd"><%= custom_t(".by_artist", artist_name: album.artist_name) %></h3>
</section>
