<% content_for :css do %>
  <%= stylesheet_link_tag "country_and_store_selector" %>
<% end %>

<% content_for :external_javascript do %>
  <%= include_gon %>

  <script type="text/javascript">
      var CountrySelectorCountriesJSON            = <%= @countries.to_json.html_safe%>;
      var CountrySelectorCountryCodesSelectedJSON = <%= @selected_country_codes.to_json.html_safe%>;
      var AlbumFinalized                          = <%= @album.finalized_at? %>;
      var ShowUpgradeDialog                       = <% if cookies[:in_upgrade] %>true<% cookies.delete(:in_upgrade) %><% else %>false<% end %>;
      var albumId                                 = <%= @album&.id.to_json %>;
  </script>

  <%= javascript_include_tag "/javascripts/app/accordion.js" %>
  <%= javascript_include_tag "/javascripts/app/country_selector.js" %>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" unless @album.finalized? %>
  <%= javascript_include_tag "/javascripts/app/release_date_picker.js" unless @album.finalized? %>
  <%= javascript_include_tag "/javascripts/app/album.js" %>
  <%= javascript_include_tag "/javascripts/app/creatives.js" %>
  <%= javascript_include_tag "/javascripts/plugins/tc.styleguide.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.select-to-autocomplete" %>
<% end %>

<input type="hidden" id="iso_codes" name="album[iso_codes]" style="display: none;">

<%= f.text_field(
  :name,
  :label => "#{custom_t(:album_title)}",
  :class => "form-text form-input",
  :disabled => @album.finalized?,
  :tc_required => true,
  :new_form => true
)%>

<%= render(
  :partial => "creatives/creative_list",
  :locals => {
    :object => @album,
    :creatives => @album.creatives
  }
)%>

<fieldset class="check">
  <ul>
    <%= f.check_box(
      :is_various,
      :label => custom_t(".is_various_album"),
      :class => "various",
      :li_class => "checkbox",
      :new_form => true
    )%>
  </ul>
</fieldset>

<% if dj_release_enabled? %>
  <fieldset class="check">
    <ul>
      <%= f.check_box(
        :is_dj_release,
        label: custom_t(".is_dj_release"),
        li_class: "checkbox",
        new_form: true
      )%>
    </ul>
  </fieldset>
<% end %>

<%= f.select(
  :language_code_legacy_support, language_list,
  :label => "#{custom_t(".album_language")}",
  :disabled => @album.finalized?,
  :tc_required => true,
  :li_class => "language select",
  :new_form => true,
  :selected => @album.language_code
)%>

<div style="float: left; width: 100%; clear: both; margin-top: -20px;">
  <div id="language-error" class="formError" style="display: none;"></div>
</div>

<%= f.select(
  :primary_genre_id,
  genre_list,
  :selected => release_primary_genre(@album)&.id,
  :label => "#{custom_t(:primary_genre)}",
  :disabled => @album.finalized?,
  :tc_required => true,
  :li_class => "primary-genre select",
  :new_form => true
)%>

<fieldset class="primary-genre select sub_genre_field <%= primary_subgenres_display_class(@album) %>">
  <%= label_tag(
          :sub_genre_id_primary,
          custom_t('.sub_genre') + '*'
      ) %>

  <%= select_tag(
          'album[sub_genre_id_primary]',
          options_for_select(india_sub_genre_list, release_primary_subgenre(@album)&.id),
          :disabled => @album.finalized?,
          :tc_required => true,
          :li_class => "primary-genre select",
          :new_form => true
      )%>
</fieldset>

<div style="float: left; width: 100%; clear: both; margin-top: -20px;">
  <div id="no-classical" class="formError" style="display: none;">
    <%= custom_t(".no_classical_to_itunes") %>
  </div>
</div>

<%= f.select(
  :secondary_genre_id, genre_list,
  :selected => release_secondary_genre(@album)&.id,
  :label => custom_t(:secondary_genre),
  :disabled => @album.finalized?,
  :li_class => 'secondary-genre select',
  :new_form => true
)%>

<fieldset class="secondary-genre select sub_genre_field <%= secondary_subgenres_display_class(@album) %>">
  <%= label_tag(
          :sub_genre_id_secondary,
          custom_t('.sub_genre') + '*'
      ) %>

  <%= select_tag(
          'album[sub_genre_id_secondary]',
          options_for_select(india_sub_genre_list, release_secondary_subgenre(@album)&.id),
          :disabled => @album.finalized?,
          :tc_required => true,
          :li_class => "primary-genre select",
          :new_form => true
      )%>
</fieldset>

<% if @album.timed_release_timing_scenario || show_time_fields %>
  <%= render partial: 'album_timed_release_fields', locals: { record: record_param_key(@album) } %>
<% else %>
  <%= hidden_field_tag("translated_date_fields[sale_date]", "long_date", { disabled: @album.finalized? }) %>

  <%= f.text_field(
          :sale_date,
          :label => custom_t(".digital_sales_start_date"),
          :disabled => @album.finalized?,
          :value => fmt_long_date_inputs(@album.sale_date),
          :class => "form-text date-box sale-date",
          :new_form => true
      )%>

  <%= render partial: '/shared/calendar_picker', locals: {release: @album} %>
<% end %>

<%= render partial: '/shared/countries_and_regions', locals: {release: @album} %>

<fieldset class="radio">
  <label id="prev-released"><%= custom_t(".previously_released") %></label>

  <ul class="release-radio-selector">
    <%= f.radio_button(
      :previously_released, false,
      label: "#{custom_t(:no_display)}",
      disabled: @album.finalized?,
      class: "not-previously-released prev-released",
      li_class: "radio",
      new_form: true,
      checked: !@album.previously_released

    )%>

    <%= f.radio_button(
      :previously_released, true,
       label: "#{custom_t(:yes_display)}",
       disabled: @album.finalized?,
       class: "previously-released prev-released",
       li_class: "radio",
       new_form: true,
       checked: @album.previously_released
    )%>
  </ul>
</fieldset>

<%= hidden_field_tag("translated_date_fields[orig_release_year]", "long_date", { disabled: @album.finalized? }) %>

<%= f.text_field(:orig_release_year,
  :label => "#{custom_t(".original_release_date")}",
  :disabled => @album.finalized?,
  :class => "form-text orig-release-year date-box original-date-box",
  :value => (fmt_long_date(@album.orig_release_year) if @album.orig_release_year),
  :li_class => "hide",
  :new_form => true
)%>

<%= f.text_field(
  :label_name,
  :label => "#{custom_t(".label_name")}",
  :class => "form-text",
  :disabled => @album.finalized?,
  :new_form => true
)%>

<% if @album.is_editable? %>
  <%= f.text_field(
    :optional_upc_number,
    label:    @upc_label,
    class:    "form-text",
    id:       "upc-ean-code",
    new_form: true
  )%>
<% end %>

<%= f.text_field(
  :recording_location,
  :label => "#{custom_t(".recording_location")}",
  :class => "form-text",
  :disabled => @album.finalized?,
  :new_form => true
)%>

<div id="warning" title="<%= "#{custom_t(:are_you_sure)}" %>" style="display: none; font-size: 1.25em; line-height: 1.5;">
  <h3><%= custom_t(:are_you_sure) %></h3>
  <p><%= custom_t(".it_is_a_compilation") %></p>
  <span><a class="button-callout-alt continue" href="#"><%= custom_t(:continue) %></a> <a class="button-interface cancel" href="#"><%= custom_t(:cancel) %></a></span>
</div>
