<fieldset class="select release_date">
  <label>
    <%= custom_t('timed_release_fields.release_date') %>
  </label>

  <div class="flex-row">
    <div class="flex-column">
      <label>
        <%= custom_t('timed_release_fields.month') %>
      </label>

      <%= select_month(get_go_live_date_attribute(@album, :month, today_month) && get_go_live_date_attribute(@album, :month, today_month).to_i, {}, {name: "#{record}[golive_date][month]", id: 'timed-release-month-select'}) %>
    </div>

    <div class="flex-column">
      <label>
        <%= custom_t('timed_release_fields.day') %>
      </label>

      <%= select_tag("#{record}[golive_date][day]", options_for_select((1..31).map {|day| [day]}, selected: get_go_live_date_attribute(@album, :day, today_day)), id: 'timed-release-day-select') %>
    </div>

    <div class="flex-column">
      <label>
        <%= custom_t('timed_release_fields.year') %>
      </label>

      <%= select_tag("#{record}[golive_date][year]", options_for_select(select_years_for_selection.map {|year| [year]}, selected: get_go_live_date_attribute(@album, :year, today_year)), id: 'timed-release-year-select') %>
    </div>
  </div>

  <div class="flex-row">
    <div class="release_date_captions">
      <p>
        <%= custom_t('timed_release_fields.release_date_notice', help_url: knowledgebase_link_for('how-long-to-go-live', country_website)) %>
      </p>
      <p>
        <%= custom_t('timed_release_fields.release_date_tip') %>
      </p>
    </div>
  </div>

</fieldset>

<div class="release_time">
  <fieldset class="timed_release_fieldset">
    <label class="release_time_item'">
      <%= custom_t('timed_release_fields.release_time') %>
    </label>

    <div class="flex-row">
      <%= select_tag("#{record}[golive_date][hour]", options_for_select(1..12, selected: get_go_live_date_attribute(@album, :hour, 12)), class: "release_time_item" ) %>

      <span class="release_time_item">:</span>

      <%= select_minute(get_go_live_date_attribute(@album, :min) && get_go_live_date_attribute(@album, :min, 0).to_i, {}, {class: "release_time_item", name: "#{record}[golive_date][min]"}) %>

      <%= select_tag("#{record}[golive_date][meridian]", options_for_select(['AM', 'PM'], selected: get_go_live_date_attribute(@album, :meridian))) %>

    </div>
  </fieldset>

  <tiny>
    <%= custom_t('timed_release_fields.release_time_note') %>
  </tiny>
</div>

<fieldset>
  <div class="choose_cross_timezone flex-column">
    <label>
      <%= radio_button_tag("#{record}[timed_release_timing_scenario]", 'relative_time', @album.timed_release_relative_time? || @album.timed_release_timing_scenario.nil?) %>
      <p>
        <%=custom_t('timed_release_fields.cross_timezone_choice_1') %>
      </p>
    </label>

    <label>
      <%= radio_button_tag("#{record}[timed_release_timing_scenario]", 'absolute_time', @album.timed_release_absolute_time?)  %>
      <p>
        <%=custom_t('timed_release_fields.cross_timezone_choice_2') %>
      </p>
    </label>
  </div>
</fieldset>

<% if @album.errors.any? && @album.errors[:golive_date].present? %>
  <div class="golive-error">
    <strong><%= @album.errors[:golive_date].first %></strong>
  </div>
<% end %>
