{
"albumType" : "<%= @album.album_type %>",
"albumSize" : "<%= @album.songs.count %>",
"loFiSongErrors": <%= @metadata.show_remove_qobuz_confirmation? %>,
"visibleLoFiSongErrors": <%= raw(@metadata.visible_lo_fi_songs) %>,
"failedTracks" : <%= raw(@album.songs.select { |s| s.duration.nil? }.map { |s| s.name }) %><%- if @album.songs.count == 1 -%>,
"trackLength" : "<%= @album.songs.first.duration ?  @album.songs.first.duration : 0%>"
<%- end -%>
}
