<h2><%= h(display_name(@album)) %></h2>
<%= discography_source_label(@album) %>
<h3>by <%= h(@album.artist_name) %></h3>
<%= album_status_info(@album) %>
<dl>
  <dt><%= custom_t(:release_date) %>:</dt>
  <dd><%= fmt_short_date(@album.sale_date) %></dd>
  <% if !@album.orig_release_year.blank? %>
    <% unless @album.orig_release_year == @album.sale_date %>
      <dt><%= custom_t(:original_release_date) %>:</dt>
      <dd><%= fmt_short_date(@album.orig_release_year) %></dd>
    <% end %>
  <% end %>
  <% if !@album.label_name.blank? %>
    <dt>Label:</dt>
    <dd class='label-length'><%= h(@album.label_name) %></dd>
  <% end %>
  <dt><%= custom_t(:upc) %>:</dt>
  <dd><%= @album.upc  %></dd>
  <% if @album.physical_upc %>
    <dt><%= custom_t(:physical_upc) %>:</dt>
    <dd><%= @album.physical_upc  %></dd>
  <% end %>
  <dt><%= custom_t(:primary_genre) %>: </dt>
  <dd><%= display_primary_genre(@album) %></dd>
  <% if @album.primary_genre.subgenre? %>
    <dt><%= custom_t(:sub_genre) %>: </dt>
    <dd><%= display_primary_subgenre(@album) %></dd>
  <% end %>

  <% if @album.genres.size > 1 %>
    <dt><%= custom_t(:secondary_genre) %>: </dt>
    <dd><%= display_secondary_genre(@album) %></dd>
    <% if @album.secondary_genre.subgenre? %>
      <dt><%= custom_t(:sub_genre) %>: </dt>
      <dd><%= display_secondary_subgenre(@album) %></dd>
    <% end %>
  <% end %>
  <dt><%= custom_t(:language) %>:</dt>
  <dd><%= album_language(@album).description %></dd>
</dl>
<div class="clearfix"></div>
