<div class="grid_5 omega rounded-container purchase">
  <%= render(partial: "album/addons_list", locals: { addons: addons }) %> 
  <%= custom_t(".in_cart", album_type_display: album_type_name_display(album)) %>
  <%= link_to custom_t(:go_to_cart), cart_path, :style => 'text-decoration: underline;' %>
<div>
