<% if show_automator %>
      <div class="box">
        <%= check_box_tag "add_automator",
                          "1",
                          automator_check,
                          id: "deliver_automator",
                          disabled: automator&.finalized?,
                          autocomplete: "off" %>
        <label for="deliver_automator" class="addon-label <%= 'red' if automator_product.current_targeted_product %>">
          <%= custom_t(:store_automator) %> - <%= automator_price %>
        </label>
        <% if automator_product.current_targeted_product && automator_product.current_targeted_product.flag_text %>
          <span class='deal'><strong><%= automator_product.current_targeted_product.flag_text %></strong></span>
        <% end %>
        <br>
        <span class="addon-helptext"><%= custom_t(:automator_explanation) %></span>
      </div>
<% end %>
