<% if album.supports_subscriptions && album.salepoint_subscription && album.salepoint_subscription.finalized? && !salepoints_redesign_feature_enabled? %>
  <%= javascript_include_tag "salepoint_subscriptions" %>
  <div class="roundy-header">
    <div class="row">
      <div class="columns eight">
        <h2><%= custom_t(:future_digital_stores) %></h2>
      </div>
      <div class="columns four text-right">
      </div>
    </div>
  </div>
  <div class="roundy-content" style="padding: 15px;">
    <div class="row collapse">
      <div class="columns one" style="padding: 0;"><img src="/images/cart_icons/automator.jpg"></div>
      <div class="columns eleven">
        <div style="margin-left: 15px;">
          <span style="float: right; font-weight: bold; font-size: 1.2em; padding-top: 18px;">
            <% if album.salepoint_subscription.active? %>
              <%= custom_t(".automator_is_on") %> <input type="checkbox" checked="checked" disabled="disabled">
            <% else %>
              <span
                id="automator-is-on-off-text"
                data-automator-is-off-text="<%= custom_t(".automator_is_off") %>"
                data-automator-is-on-text="<%= custom_t(".automator_is_on") %>">
                <%= custom_t(".automator_is_off") %>
              </span>
              <input id="salepoint_subscription_checkbox"
                     type="checkbox"
                     data-release-id="<%= album.id %>"
                     data-salepoint-subscription-id="<%= album.salepoint_subscription.id %>"
                     <%= current_user.can_toggle_automator? ? "" : "disabled" %>
              >
            <% end %>
          </span>
          <strong style="font-size: 1.6em;"><%= custom_t(:store_automator) %></strong><br>
          <span style="color: #666666; font-size: 14px;"><%= custom_t(".will_get_stores") %></span> <a href="/index/terms#store_automator" target="_blank" class="link" style="font-size: 13px;">(<%= custom_t(:more_info) %>)</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
