<%# For salepoints_redesign_feature_enabled, not used as of 2/2021 %>
<section id="automator" class="automator-linkbar automator-form" data-album-id=<%= album.id %>>
  <header class="flex-row">
    <h2 class="reg_headline">
      <span class="mobile-block"><%= custom_t(:store_automator) %></span>
      <span class="mobile-block">(<%= custom_t(:future_digital_stores) %>)</span>
    </h2>

    <div class="stores-list-row-input">
      <span><%= automator_price_with_discount(album) %></span>
      <%= check_box_tag 'deliver_automator', "1", automator_check, disabled: automator_disabled(album) %>
    </div>
  </header>
  <div class="automator-caption">
    <%= hidden_field_tag 'deliver_automator', "0", disabled: automator_disabled(album) %>
    <p><%= custom_t("shared.automator.click_to_add_automator") %></p>
  </div>
</section>
