<% if booklet %>
  <div class="roundy-header">
    <div class="row">
      <div class="columns eight">
        <h2><%= custom_t(:pdf_booklet) %></h2>
      </div>
      <div class="columns four text-right">
        <%= link_to(custom_t(:download), booklet.url, class: 'link', style: 'font-size: 12px;', target: '_blank') %>
      </div>
    </div>
  </div>
  <div class="roundy-content">
    <div class="row">
      <div class="columns twelve">
        <p style="padding: 15px;"><%= custom_t(".booklet_added") %></p>
      </div>
    </div>
  </div>
<% end %>
