    <% if album.has_booklet? -%>
      <div class="box">
        <input type="checkbox" id="pdf_booklet" checked="checked" disabled="disabled">
        <label for="pdf_booklet" class="addon-label"><%= custom_t(:pdf_booklet) %> - <%= money_to_currency(Product.price(current_user, album.booklet)) %></label><br>
        <span class="addon-helptext"><%= custom_t(:booklet_delivered) %></span>
      </div>
    <% end -%>
