<% if !album.takedown? %>
  <div id="album-checklist">
    <h2><%= album_type_name_display(album) %> <%= custom_t(:checklist) %></h2>
    <ul>
      <%= album_status(album) %>
    </ul>
    <div class="row">
      <div class="columns six">
        <% if album.is_deletable? %>
          <%= link_to delete_release_label(album),
            album_path(album),
            method: :delete,
            data: {
              confirm: custom_t(".delete_album_confirm", album_name: display_name(album))
            },
            class: 'link',
            style: 'font-size: 12px;'
          %>
        <% end %>
      </div>
      <div class="columns six text-right">
        <%= link_to custom_t("#{album_type_name_path(album)}_overview".to_sym),
          album_path(album),
          class: 'link',
          style: 'font-size: 12px;'
        %>
      </div>
    </div>
  </div>
<% end %>

<%= album_distribution_ui(album) %>

<% unless (controller.controller_name == "salepoints" && album.state == 'live') or album.status == 'rejected' %>
  <div class="rounded-container renewal">
    <%= renewal_messaging(album) %>
  </div>
<% end %>

<%= render partial: "album/external_links_box", :locals => { album: album }  unless album.ringtone? %>

<% if album.status == 'rejected' %>
  <div class="rounded-container renewal">
    <h3 class="hd"><%= custom_t(:not_sent) %></h3>
    <p><%= custom_t(".need_your_help") %><br><br>
      <%= link_to "#{custom_t(:contact_us)} &raquo;".html_safe, "#{knowledgebase_link_for('help-homepage', country_website)}", :target => "_blank", :class => "btn btn-orange btn-bold", :style => "width: 100%;" %>
    </p>
  </div>
<% end %>

<% if defined? @state %>
<div class="countryHelp" <% if @state != nil %>style="display: block;"<% end %>>
  <h3 class="hd"><%= custom_t(:help) %></h3>
  <ul>
    <li>
      <em><%= custom_t(".edit_countries_after_distribute") %></em><br>
      <strong><%= custom_t(".have_to_contact_us", {url: knowledgebase_link_for('distro-contact-us', country_website)}) %></strong>
    </li>
  </ul>
</div>
<% end %>

<% content_for :external_javascript do %>
  <% if Rails.env.production? %>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-519be54d587e17f8"></script>
  <% end %>
<% end %>
