<div id="warning" title="<%= custom_t(:ready_to_distribute) %> <%= album_type_name_display(album) %>" style="display: none; font-size: 1.25em; font-weight: bold; line-height: 1.5;">
  <p><%= custom_t(".make_sure_release_ready") %></p>
  <div id="facebook_warning"><p></p></div>
  <div id="lofi_warning"><p></p></div>
  <span>
    <a class="button-callout-alt submit push-right distribute" href="#">
      <%= custom_t(:go_to_checkout) %>
    </a>
    <a class="cancel" href="#">
      <%= custom_t(".need_to_make_changes") %>
    </a>
  </span>
</div>

<div id="warning_conversion" title="<%= custom_t(".is_this_single") %>" style="display: none; font-size: 1.25em; font-weight: bold; line-height: 1.5;">
  <p><%= should_be_single_notification %></p>
  <span><a class="button-callout-alt submit distribute" href="#"><%= custom_t(".make_this_single") %></a> <a class="button-interface cancel" href="#"><%= custom_t(".add_more_songs") %></a></span>
</div>

<div class="alert mfp-hide" id="failed_tracks">
  <p><%= custom_t(".cannot_retrieve_audio") %>:</p>
</div>

<div class="alert mfp-hide" id="copyright_errors">
  <p style="font-style: italic;"><span style="font-style: normal; font-weight: 700;"><%= custom_t(".copyright_errors") %>:&nbsp;</span></p>
</div>

<div class="alert mfp-hide" id="copyright_errors_edit">
  <p style="font-style: italic;"><span style="font-style: normal; font-weight: 700;"><%= custom_t(".copyright_errors_edit") %>:&nbsp;</span></p>
</div>

<div class="alert mfp-hide" id="lofi_errors">
  <p style="font-style: italic;"><span style="font-style: normal; font-weight: 700;"><%= custom_t(".lofi_errors") %>:&nbsp;</span></p>
</div>

<div class="alert mfp-hide" id="failed_call">
  <p><%= custom_t(".error_processing_audio") %></p>
</div>


<% content_for :external_javascript do -%>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
  <%= javascript_include_tag "modal_popup" %>
  <%= javascript_include_tag "/javascripts/app/processing_on_submit.js" %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      new ProcessingOnSubmit();
    });
  </script>
<% end -%>

<% content_for :css do %>
  <%= stylesheet_link_tag'/stylesheets/magnific-popup.css' %>
<% end %>
