<% if show_distributed_add_to_cart?(album: album,
                                    automator: automator,
                                    current_user: current_user,
                                    salepoints: salepoints) -%>
  <div class="grid_5 omega rounded-container purchase add-automator-to-cart">
    <h4 class="hd"><%= custom_t(:new_stores) %></h4>
    <%= form_tag(url_for(:controller => "products", :action => "add_stores_to_cart"), :id=>'doAddStoresToCart', :class => "long") do %>
      <% if !salepoints.empty? && salepoints.select{|salepoint| !salepoint.has_chosen_template?}.empty? %>
        <div class="box">
          <strong style="font-size: 1.2em;"><%= salepoints.length %> <%= custom_t(".added_stores") %> <%= money_to_currency(price) %></strong><br>
          <span style="color: #666666;"><%= custom_t(".release_sent_to", store_list: store_names.join(",")) %></span>
        </div>
      <% elsif !salepoints.empty? && salepoints.select{|salepoint| salepoint.has_chosen_template?}.empty? -%>
        <div class="box">
          <p><%= custom_t(".you_have_added_stores", count: salepoints.length, album_type: album_type_name_display(album)) %>: <%= store_names.join(",") %>.</p>
          <p><%= custom_t(".must_select_aod_template") %></p>
        </div>
      <% end %>

      <%= render(partial: "album/addons_list", locals: { addons: addons }) %>

      <% if (!salepoints.empty? && salepoints.select{|salepoint| !salepoint.has_chosen_template?}.empty?) or (feature_enabled?(:store_automator) && album.supports_subscriptions && !(automator && automator.finalized?)) %>
        <%= hidden_field_tag(:album_id, album.id) %>
        <%= submit_tag("#{custom_t(:add_to_cart)} &raquo;".html_safe, :style => 'width: 100%; font-weight: bold;',:id => "addStoresToCart") %>
      <% end %>
    <% end -%>
  </div>
<% end -%>
