<div id="stores-section">
  <div class="roundy-header">
    <div class="row">
      <div class="columns eight">
        <h2>
        <%= custom_t(:discovery_platform) %>
         </h2>
      </div>
      <div class="columns four text-right">
        <% if @show_add_stores %>
          <%= link_to "#{album.listed_stores(current_user.id).blank? ? custom_t(:add) : custom_t(:edit)}",
                      discovery_platforms_album_salepoints_path(album),
                      class: 'link font-normal',
                      style: 'font-size: 13px;' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="roundy-content">
   <% if album.listed_freemium_platforms(current_user.id).size > 0 %>
    <div class="stores" style="padding: 1em;">
        <div class='stores-message'><%= custom_t(:discovery_platform_message) %></div>
        <ul class="freemium_platforms" style="padding: 0;">
        <% album.listed_freemium_platforms(current_user.id).each do |platform| %>
          <li title="<%= platform.name %>" class="ico-<%= Store.get_custom_abbrev(platform.abbrev) %>">
            <%= platform.name %>
          </li>
        <% end %>
        </ul>
        <div class="clearfix"></div>
      </div>
    <% else %>
      <% if @show_add_stores %>
        <%= link_to custom_t(".add_discovery_platforms"),
            discovery_platforms_album_salepoints_path(album),
            class: 'btn btn-callout',
            style: 'margin: 15px; font-size: 14px;'
        %>
      <% end %>
      <% if @show_buy_plan %>
        <%= link_to custom_t(".upgrade_now"),
            plans_path,
            class: 'btn purchase purchase-button',
            style: 'margin: 15px; font-size: 14px;' %>
      <% end %>
    <% end %>
  </div>
</div>
