<div class="box ">
  <b><%= custom_t("album.dolby_atmos_track") %> - <%= money_to_currency(current_user.dolby_atmos_product.price.to_money) %></b>
  <p><%= song.track_number %>. <%= song.name %></p>
</div>
