<div class="grid_5 omega rounded-container purchase">
  <p><%= custom_t(".your_plan", plan_name: existing_plan_name) %></p>

  <%= render(partial: "album/addons_list", locals: { addons: addons }) %>
</div>
