<div class="grid_5 omega rounded-container purchase">  
  <%= render(partial: "album/addons_list", locals: { addons: addons }) %>
  <p><%= custom_t(".you_have", count: inventory_count, album_type: album_type_name_path(album)) %></p> 
</div>
