<h3 class="hd"><%= custom_t(".card_expired") %></h3>

<p><%= custom_t(".release_renewal") %></p>

<h4 class="sub-hd"><%= fmt_long_date(expiration_date) %></h4>

<p>
  <% if current_user.stored_credit_cards.active[0].expired? %>
    <%= custom_t(".credit_card_expired_msg", last_four: current_user.stored_credit_cards.active[0].last_four) %>
  <% elsif current_user.stored_credit_cards.active[0].expires_before_date?(expiration_date) %>
    <%= custom_t(".credit_card_will_expire_msg", last_four: current_user.stored_credit_cards.active[0].last_four) %>
  <% end %>
</p>

<p><%= custom_t(".live_update_card") %></p>

<p id="update-card-button"><%= link_to(custom_t(:update_card), new_stored_credit_card_path(tc_balance: "1"), class: "button-callout-alt") %></p>

<% unless current_user.plan_user? %>
  <%= form_tag(url_for(controller: "subscriptions", action: "buy")) do %>
    <%= hidden_field_tag(:product_id, "n") %>
    <%= hidden_field_tag(:id, renewal.id) %>
    <%= submit_tag(custom_t(:pay_now)) %>
  <% end %>
<% end %>
