<% if album.finalized? %>
  <div class="rounded-container external-links-box" id="external-links-box">
    <h3 class="hd"><%= custom_t(".store_links") %></h3>
    <div class="row external-album-links-container">
      <% links = build_album_links(album) %>
      <% if album.external_service_ids.present? &&  links.present? %>
        <% links.each do |link| %>
          <%= render partial: "album/external_link", :locals => { link: link } %>
        <% end %>
        <% if @album_spotify %>
          <a href="#spotify-tracks-modal" class="popup-spotify-tracks-modal get-spotify-tracks-button">
            <i class="fa fa-spinner fa-spin album-reset" aria-hidden="true"></i>Retrieving your track Uris</a>
        <% end %>
      <% else %>
        <span>Links to your album on iTunes, Apple Music and/or Spotify will be available soon.</span>
      <% end %>
    </div>
  </div>
<% end %>

<div id="spotify-tracks-modal" class="spotify-tracks-modal mfp-hide">
  <i class="fa fa-times-thin close-modal" aria-hidden="true"></i>
  <p class="title">Spotify URI</p>
  <p class="pre-body">Click any of the buttons below to copy a link to your track on Spotify.</p>
  <div id="spotify-tracks-display">
    <% if @album_spotify_tracks %>
      <% @album_spotify_tracks.each do |track| %>
        <div class="spotify-track">
          <span class="track-title"><%= track['name'] %></span>
          <% identifier = track["identifier"] %>
          <input readonly class="hidden-uri" id="hidden-<%= identifier %>" value="spotify:track:<%= identifier %>"></input>
          <button class="fa fa-chain copy-track-uri" data-clipboard-target="#hidden-<%= identifier %>">
          </button>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "//cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js" %>
  <%= javascript_include_tag "/javascripts/clipboard.min.js" %>
  <%= javascript_include_tag "/javascripts/app/external_links.js" %>
  <%= javascript_include_tag "/javascripts/app/spotify_tracks_gon.js" %>
  <%= javascript_include_tag "/javascripts/app/spotify_tracks_modal.js" %>

<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "//cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css" %>
  <%= stylesheet_link_tag "/stylesheets/external_links.css" %>
  <%= stylesheet_link_tag "/stylesheets/spotify_tracks.css" %>
<% end %>
