
<% id_string = link[:title].downcase.gsub(' ', '_') %>

<div class="row external-album-link">
  <span class="album-link-title" id="title_<%= id_string %>"><%= link[:title] %></span>
  <input readonly class="external-album-link-url" id="<%= id_string %>" value="<%= link[:link] %>"></input>
  <button data-clipboard-target="#<%= id_string %>" class="fa url-copy-button" id="<%= id_string %>">COPY</button>
  <div class="copied" id="<%= id_string %>" style="display: none;"><i class="fa fa-check" aria-hidden="true"></i>copied</div>
</div>