<div>
  <h1 class="blue-japan-header">Konnichiwa!</h1><br/>
  <p class="japan-redirect-text"><%= custom_t(".use_tc_japan") %></p>
  <div class="japan-link-wrapper">
    <%= link_to "#{custom_t(".sign_in_tc_jp")}", "http://www.tunecore.co.jp", class: "blue-btn japan-redirect-link" %><br/><br/>
    <%= link_to "#{custom_t(".not_from_japan")}", "#", class: "not-japanese-link" %>
  </div>
</div>
