<%
  dur    = album.renewal.renewal_duration
  phrase = custom_t(".one_year")
  phrase = custom_t(".two_year") if dur == 2
  phrase = custom_t(".five_year") if dur == 5
%>

<h3 class="hd"><%= custom_t(".release_details") %></h3>
  <p><%= custom_t(".congrats") %><br />
    <%= custom_t(".release_sent_stores", renewal_date: fmt_long_date(renewal.created_at)) %>
  </p>

  <% if has_itunes_links?(album) %>
    <p><%= custom_t(".manual_review_process", url: knowledgebase_link_for('how-long-to-go-live', country_website)) %></p>
  <% end %>

  <% if renewal.created_at + 120.days >= Time.now && album.known_live_on? %>
    <p><%= custom_t(".sales_statements", date: (album.known_live_on + 2.months).strftime("%B %Y")) %></p>
  <% end %>
  <% if auto_renew && current_user.legacy_user? %>
    <p><%= custom_t(".subscription_renew", phrase: phrase, price: money_to_currency(price), exp_date: fmt_long_date(expiration_date)) %></p>
  <% elsif current_user.legacy_user? %>
    <p><%= custom_t(".subscription_due", phrase: phrase, exp_date: fmt_long_date(expiration_date), price: money_to_currency(price)) %></p>
  <% end %>
</h3>
