<% if album.supports_preorder? %>
      <div class="box preorder-addon" <% unless album.preorder_purchase and album.preorder_purchase.enabled? %>style="display: none;"<% end %>>
        <input type="checkbox" id="deliver_preorder_data" name="add_preorder" value="1" disabled="disabled" checked="checked" autocomplete="off">
        <label for="deliver_preorder_data" class="addon-label"><%= get_preorder_name(album) %> Pre-order - <%= preorder_price %></label><br>
        <span class="addon-helptext"><%= custom_t(:setup_a_preorder, album_name: get_preorder_name(album)) %></span>
      </div>
<% end %>
