<style>
.decimal-list {
   list-style-type: decimal;
 }
</style>

<input type="hidden" value="<%= album.id %>" id="album_id">

<% if paid || !album.finalized? && !album_is_specialized_release(album) %>
<section id="preorder-section">
  <div class="roundy-header">
    <div class="row">
      <div class="twelve columns">
        <h2><%= custom_t(:preorder) %> <% unless enabled && album.finalized? %><span class="secondary-font-lt optional">(<%= custom_t(:optional) %>)</span><% end %></h2>
        <% unless enabled and album.finalized? %>
          <a href="<%= knowledgebase_link_for('itunes-google-play-preorder-benefits', country_website) %>" target="_blank" class="link help-link font-normal"><%= custom_t(:help) %></a>
        <% end %>
      </div>
    </div>
  </div>
  <% if paid && album.finalized? %>
    <div class="roundy-content preorder-content-holder <% if enabled %>active<% end %>">
      <div class="preorder-notice">
        <p><%= custom_t(".cannot_be_altered") %></p>
      </div>
      <div class="content-table">
        <dl>
          <dt class="secondary-font-lt text-right" style=""><%= custom_t(".preorder_start_date") %></dt>
          <dd><%= fmt_country_date preorder.start_date %></dd>
          <dt class="secondary-font-lt text-right" style=""><%= custom_t(".album_sales_start_date") %></dt>
          <dd><%= fmt_country_date album.sale_date %></dd>
          <dt class="secondary-font-lt text-right"><%= custom_t(".track_previews") %></dt>
          <dd><%= preorder.preview_songs ? "#{custom_t(:enabled)}" : "#{custom_t(:disabled)}" %></dd>

          <% if preorder.preorder_purchase.itunes_enabled? %>
            <%= preorder_pricing_display(album, preorder) %>
          <% end %>

          <dt class="secondary-font-lt text-right"><%= custom_t(".instant_grat") %></dt>
          <dd><%= grat_songs.blank? ? 'None' : grat_songs.map{|s| display_name(s.song)}.join(', ') %></dd>
        </dl>
      </div>
    </div>
  <% else %>
    <div id="preorder-calendar" class="roundy-content preorder-content-holder <% if enabled %>active<% end %>">
      <p><%= custom_t(".build_excitement") %></p>

      <% if album.type_supports_preorder? && !album.finalized? && !album.itunes_ww_salepoint && !album.salepoints_by_store(Store.find_by_short_name("Google")).first %>
        <p class="preorder-warning"><%= custom_t(".not_selected_stores", salepoints_path: album_salepoints_path(album)) %></p>
      <% elsif album.supports_preorder? && !album.sale_date_supports_preorder? %>
        <p class="preorder-warning"><%= custom_t(".sales_date_must_be", sale_date: fmt_country_date(Date.today + 11.days), edit_album_path: edit_album_path(album)) %></p>
      <% elsif album.supports_preorder? %>
        <form action="<%= set_preorder_data_path album %>" method="POST" id="preorder-form">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="choose-preorder">
            <label>
              <input
                type="radio"
                name="preorder"
                class="preorder-radio"
                value="none"
                autocomplete="off"
                <%= preorder_inputs_checked_or_disabled('none', album) %>
              >
              <%= custom_t(:none) %>
            </label>

            <label>
              <input
                type="radio"
                name="preorder"
                class="preorder-radio"
                value="itunes"
                autocomplete="off"
                data-price="<%= get_preorder_price(album, 1) %>"
                <%= preorder_inputs_checked_or_disabled('itunes', album) %>
              >
              iTunes - <%= get_preorder_price(album, 1) %> <small><%= preorder_label_grayed_out_msg('itunes', album) %></small>
            </label>

          </div>
          <div class="preorder-options <% if album.preorder_purchase && album.preorder_purchase.enabled? %>active<% end %>" id="main_options">
            <section class="preorder-option" id="start_date_option">
              <header class="preorder-option-header">
                <div class="row">
                  <div class="columns twelve">
                    <i class="fa <%= preorder ? 'fa-check-circle-o' : 'fa-circle-o' %> icon-large"></i>
                    <%= custom_t(:start_date) %>
                  </div>
                </div>
              </header>
              <div class="preorder-option-content required-content" <% if enabled %>style="display: block;"<% end %>>
                <p style="margin-top: 0; margin-bottom: 10px;"><b><%= custom_t(:note) %>:</b> <%= custom_t(".preorder_date_before_sale_date") %></p>
                <p class="notice"><strong><%= custom_t(:tip).upcase %>:</strong> <em><%= custom_t(".ample_time") %></em></p>
                <p class="notice notice-alert"><strong><%= custom_t(:alert).upcase %>:</strong> <em><%= custom_t(".itunes_random_review") %></em></p>
                <div class="content-table">
                  <table>
                    <tr>
                      <td><b><%= custom_t(".preorder_start_date") %></b></td>
                      <td>
                        <label for="preorder_start_date"><%= image_tag '/images/calendar.jpg', style: 'margin-right: 6px; margin-bottom: -2px; height: 15px;' %></label>
                        <input type="text" id="preorder_start_date" value="<%= l((preorder && preorder.start_date) ? preorder.start_date : (Date.today + Album::MIN_DAYS_UNTIL_PREORDER.days), format: :country_date) %>">
                      </td>
                    </tr>
                    <tr>
                      <td><b><%= custom_t(".album_sales_start_date") %></b></td>
                      <td><span style="font-size: 14px; margin-right: 10px;"><%= l(album.sale_date, format: :country_date) %></span><a href="<%= edit_album_path album %>" class="link" style="font-weight: normal;"><%= custom_t(".click_to_change") %></a></td>
                    </tr>
                  </table>
                </div>
                <p><%= custom_t(".after_delivered") %></p>
              </div>
            </section>
            <section class="preorder-option" id="preview_option">
              <header class="preorder-option-header">
                <div class="row">
                  <div class="columns six">
                    <i class="fa <%= (preorder and preorder.preview_songs) ? 'fa-check-circle-o' : 'fa-circle-o' %> icon-large"></i>
                    <%= custom_t(".track_previews") %>
                    <span class="secondary-font-lt optional">(<%= custom_t(:optional) %>)</span>
                  </div>
                  <div class="columns six text-right">
                    <a class="collapse-link link" href="#"><%= custom_t(".show_preview_options") %></a>
                  </div>
                </div>
              </header>
              <div class="preorder-option-content" <% if enabled and preorder.preview_songs %>style="display: block;"<% end %>>
                <input type="checkbox" id="preview_checkbox" autocomplete="off" <%= 'checked' if enabled and preorder.preview_songs %>> <label for="preview_checkbox"><%= custom_t(".ninety_second_preview") %> <a href="#" id="previewModalLink" class="link"><%= custom_t(".learn_more_previews") %></a></label>
              </div>
            </section>
          </div>
          <div class="preorder-options <% if album.preorder_purchase && album.preorder_purchase.itunes_enabled? %>active<% end %>" id="itunes_only_options">
            <section class="preorder-option">
              <header class="preorder-option-header">
                <div class="row">
                  <div class="columns twelve">
                    <i class="fa <%= preorder ? 'fa-check-circle-o' : 'fa-circle-o' %> icon-large"></i>
                    <%= custom_t(".itunes_options") %>
                  </div>
                </div>
              </header>
              <div class="preorder-option-content required-content" <% if enabled %>style="display: block;"<% end %>>
                <p><%= custom_t(".itunes_only_options") %></p>
                <div class="preorder-options">
                  <section class="preorder-option <%= 'hide' if album.class.name == 'Single' %>" id="gratification_option">
                    <header class="preorder-option-header">
                      <div class="row">
                        <div class="columns seven">
                          <i class="fa <%= (preorder and !grat_songs.blank?) ? 'fa-check-circle-o' : 'fa-circle-o' %> icon-large"></i>
                          <%= custom_t(".instant_grat") %>
                          <span class="secondary-font-lt optional">(<%= custom_t(:optional) %>)</span>
                        </div>
                        <div class="columns five text-right">
                          <a class="collapse-link link" href="#"><%= custom_t(".show_instant_grat_options") %></a>
                        </div>
                      </div>
                    </header>
                    <div class="preorder-option-content" <% if enabled and !grat_songs.blank? %>style="display: block;"<% end %>>
                      <p style="margin-bottom: 10px;"><%= custom_t(".optionally_offer_instant_grat") %> <a href="#" id="gratModalLink" class="link"><%= custom_t(".learn_more_instant_grat") %></a></p>
                      <p style="margin-bottom: 10px;"><b><%= custom_t(:note) %>:</b> <%= custom_t(".half_tracks_instant_grat") %></p>
                      <div class="grat-holder float-left">
                        <div style="margin-bottom: 10px;"><strong style="font-size: 14px"><%= custom_t(".select_instant_grat") %></strong></div>
                        <div class="grat-songs">
                          <% if songs.blank? %>
                            <p style="margin-bottom: 15px;"><%= custom_t(".have_no_tracks") %></p>
                          <% else %>
                            <% songs.each_with_index do |s,i| %>
                              <div class="grat-track">
                                <input type="checkbox" class="grat_checkbox" autocomplete="off" value="<%= s.id %>" <% if grat_songs.any?{|gs| s.id == gs.song_id} %>checked="checked"<% end %>>
                                <label><strong><%= i+1 %>. <%= s.name %></strong> <%= custom_t(:by) %> <%= s.artist_name %></label>
                              </div>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="preorder-option" id="pricing_option">
                    <header class="preorder-option-header">
                      <div class="row">
                        <div class="columns six">
                          <i class="fa <%= (preorder and preorder.preorder_price and !songs.blank?) ? 'fa-check-circle-o' : 'fa-circle-o' %> icon-large"></i>
                          <%= custom_t(".customize_pricing") %>
                          <span class="secondary-font-lt optional">(<%= custom_t(:optional) %>)</span>
                        </div>
                        <div class="columns six text-right">
                          <a class="collapse-link link" href="#"><%= custom_t(".show_customize_pricing_options") %></a>
                        </div>
                      </div>
                    </header>
                    <div class="preorder-option-content" <% if enabled and preorder.preorder_price and !songs.blank? %>style="display: block;"<% end %>>
                      <p style="margin-top: 0; margin-bottom: 10px;"><%= custom_t(".offer_preorder_price", wholesale_or_retail: custom_t(display_wholesale_preorder_album_price? ? "wholesale" : "retail").to_sym ) %></p>
                      <p style="margin-bottom: 10px;"><b><%= custom_t(:note) %>:</b> <%= custom_t(".we_allow_wholesale") %></p>
                      <p style="margin-bottom: 15px;" class="pricing-warning"><%= custom_t(".add_tracks_for_pricing") %></p>
                      <div class="content-table pricing-fields hide">
                        <table>
                          <tr>
                            <td><b><%= custom_t("album.preorder_pricing.individual_track_price") %></b></td>
                            <td id="track-price">
                              <select id="track-price-dropdown">
                                <%= preorder_track_price_options %>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td><b><%= custom_t("album.preorder_pricing.album_preorder_price") %></b></td>
                            <td id="preorder-price">
                              <select id="preorder-price-dropdown"></select>
                            </td>
                          </tr>
                          <tr>
                            <td><b><%= custom_t("album.preorder_pricing.sales_start_price") %></b></td>
                            <td id="album-price" colspan="2"></td>
                          </tr>
                        </table>
                    </div>
                    <div class="notice preorder hide">
                      <p><strong><%= custom_t(".singles_under_ten_minutes") %></strong></p>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </section>
          </div>
          <div class="notice preorder note">
            <p><strong><%= custom_t(:note) %>:</strong> <%= custom_t(".ensure_correct_selections") %></p>
          </div>
          <button class="btn btn-callout preorder-submit"><%= custom_t(:save_preferences) %></button>
          <div class="saved-msg"><%= custom_t(:preferences_saved) %></div>
        </form>
      <% end %>
    </div>
  <% end %>

  <div class="simple-modal_extra-pad" id="previewModal"><p><%= custom_t(".preview_modal_text") %></p></div>
  <div class="simple-modal_extra-pad" id="gratModal"><%= custom_t(".grat_modal_text") %></div>
  <div class="simple-modal_extra-pad" id="pricingModal"><%= custom_t(".pricing_modal_text") %></div>
  <div class="simple-modal_extra-pad" id="errorModal"><p><%= custom_t(".error_modal_text") %></p></div>
</section>
<% end %>
