<% if album.album_type == "Album" %>
  <dt class="secondary-font-lt text-right"><%= custom_t(".individual_track_price") %></dt>
  <dd><%= number_to_currency track_price %></dd>
<% end %>

<dt class="secondary-font-lt text-right"><%= album.class.name.capitalize %> <%= custom_t(".album_preorder_price") %></dt>
<dd><%= number_to_currency preorder_price %></dd>
<dt class="secondary-font-lt text-right"><%= album.class.name.capitalize %> <%= custom_t(".sales_start_price") %></dt>
<dd><%= number_to_currency start_date_price %></dd>
