<p><%= custom_t(".release_renewal") %></p>

<h3 class="sub-hd"><%= fmt_long_date(expiration_date) %></h3>

<% unless one_time_payment_only? %>
  <p><%= custom_t(".music_live_add_cc_pay") %></p>

  <p id="add-card-button"><%= link_to(custom_t(".add_credit_card"), new_stored_credit_card_path(tc_balance: "1"), class: "button-callout-alt") %></p>
<% end %>

<% unless current_user.plan_user? %>
  <%= form_tag(url_for(controller: "subscriptions", action: "buy")) do -%>
    <%= hidden_field_tag(:product_id, "n") %>
    <%= hidden_field_tag(:id, renewal.id) %>
    <%= submit_tag(custom_t(:pay_now)) %>
  <%- end -%>
<% end %>

<% if feature_enabled?(:monthly_products) && album.album_type == 'Album' && renewal.renewal_interval == 'month' %>
  <%= render :partial => 'album/switch_album_to_yearly_link', :locals => {:album => album} %>
<% end %>
