<p><%= custom_t(".release_renewal") %></p>
<h3 class="sub-hd"><%= fmt_long_date(expiration_date) %></h3>
<p><%= custom_t(".auto_renewal_disabled", enable_auto_renew: link_to("enable auto renew", person_preferences_path)) %></p>

<% unless current_user.plan_user? %>
  <%= form_tag(url_for(controller: "subscriptions", action: "buy"), class: "long") do -%>
    <%= hidden_field_tag(:product_id, "n") %>
    <%= hidden_field_tag(:id, renewal.id) %>
    <%= submit_tag(custom_t(:pay_now)) %>
  <%- end -%>
<% end %>

<% if feature_enabled?(:monthly_products) && album.album_type == 'Album' && renewal.renewal_interval == 'month' %>
  <p style="clear:both;"> </p>
  <%= render :partial => 'album/switch_album_to_yearly_link', :locals => {:album => album} %>
<% end %>
