<%
  dur = album.renewal.renewal_duration
  phrase = '1-year'
  phrase = '2-year' if dur == 2
  phrase = '5-year' if dur == 5
%>

<p><%= custom_t(".subscription_renew", phrase: phrase) %></p>
<h3 class="sub-hd"><%= fmt_long_date(expiration_date) %></h3>

<p class="renewal-graphic"><%= custom_t(".auto_renewal") %></p>

<p><%= custom_t(".credit_card_charged", last_four_credit_card: current_user.stored_credit_cards.active[0].last_four, price: money_to_currency(price)) %></p>

<% if feature_enabled?(:monthly_products) && album.album_type == 'Album' && renewal.renewal_interval == 'month' %>
  <%= render :partial => 'album/switch_album_to_yearly_link', :locals => {:album => album} %>
<% end %>
