<div class="roundy-royalty-splits">
  <div class="roundy-header">
    <div class="row">
      <div class="columns eight">
        <h2><%= custom_t('royalty_splits.royalty_split_configs') %></h2>
      </div>
      <div class="columns four text-right">
        <%= link_to album_royalty_splits_path(release),
                    class: "link font-normal #{splits_link_cannot_create_disabled_classes}",
                    style: 'font-size: 13px;' do %>
          <% unless current_user.purchased_create_splits? %>
            <i class="fa fa-lock" aria-hidden="true"></i>
          <% end %>
          <%= custom_t(:edit) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="roundy-content album-splits-section">
    <% if release.royalty_splits.present? %>
      <section class="split-presets album-splits-split-presets">
        <% release.royalty_splits.each do |split| %>
          <%= render "royalty_splits/split_preset", split: split, edit_link: false %>
        <% end %>
      </section>
    <% else %>
      <p class="empty-text"><%= custom_t("royalty_splits.splits_not_applied") %></p>
    <% end %>
    <div class="edit-album-split-button-container">
      <%= link_to album_royalty_splits_path(release), class: "btn btn-callout edit-album-split-button  #{splits_link_cannot_create_disabled_classes}" do %>
        <% unless current_user.purchased_create_splits? %>
          <i class="fa fa-lock" aria-hidden="true"></i>
        <% end %>
        <%= if release.royalty_splits.present? then custom_t("royalty_splits.edit_split") else custom_t("royalty_splits.create_new_split") end %>
      <% end %>
    </div>
  </div>
</div>
<% content_for :css do %>
  <%= stylesheet_link_tag 'royalty_splits/split_release_details' %>
<% end %>
