<div id="use-credit">
    <%= render(:partial => "album/select_plan_text", :locals => {:multi_products => false, :album => album}) %>

    <%= form_tag(add_to_cart_with_credit_products_path, :class => "long", :id => "doDistribute") do %>
      <%= hidden_field_tag(:product_select, "n", :name => "product_id") %>

      <%= render(partial: "album/addons_list", locals: { addons: addons }) %>

      <%= hidden_field_tag(:album_id, album.id) %>
      
      <div id="processing-label" class="hidden">
        <%= image_tag '/version/shared/images/logo-spinner_25x25.gif'%>
        <%= custom_t(:processing_request) %>
      </div>

      <%= submit_tag(custom_t(submit_tag_key), :id => "distributeMyAlbum", :style => "width: 100%; font-weight: bold;") %>
      
      <% if credit_partial %>
        <br><br><div style="font-family: Georgia; text-align: center; font-style: italic; color: #333333;"><%= custom_t(".credit_will_be_applied", album_type: album_type_name_display(album)) %></div>
      <% end %>
      
    <% end %>
</div>
