<% if multi_products -%>
<div id="upgrade-options">
  <h4 class="hd"><%= custom_t(:ready_to_go) %>!</h4>
  <p><%= custom_t(".select_your_plan") %></p>
</div>
<% else -%>
<div id="upgrade-options">
  <h4 class="hd"><%= custom_t(".distribute_your_album", album_type: album_type_name_display(album)) %></h4>
</div>
<% end -%>
