<div class="grid_5 omega rounded-container purchase">

  <% if with_credit %>
    <%= render(:partial => "album/select_price_has_credit", :locals => {
      album: album,
      submit_tag_key: submit_tag_key,
      credit_partial: credit_partial,
      addons: addons
    }) %>

  <% else %>
    <%= render(:partial => "album/select_price_no_credit", :locals => {
      products: products,
      album: album,
      addons: addons
    }) %>
  <% end %>

</div>
