<div>
  <%= render(:partial => "album/select_plan_text", :locals => {:multi_products => products.length > 1, :album => album}) %>

  <%= form_tag(add_to_cart_products_path, class: "long", id: "doDistribute") do %>

    <%= render(:partial => "products/select_product_list", :locals => {:products => products, :select_first => true})%>

    <%= hidden_field_tag(:album_id, album.id) %>

    <%= render(partial: "album/addons_list", locals: { addons: addons }) %>

    <div id="processing-label" class="hidden">
        <%= image_tag '/version/shared/images/logo-spinner_25x25.gif'%>
        <%= custom_t(:processing_request) %>
    </div>

    <%= submit_tag(custom_t(:add_to_cart), :id => "distributeMyAlbum", :style => "width: 100%; font-weight: bold;") %>

  <% end -%>
</div>
