<%
  dur = album.renewal.renewal_duration
  phrase = '1-year'
  phrase = '2-year' if dur == 2
  phrase = '5-year' if dur == 5
%>

<h3 class="hd"><%= custom_t(".submitted_tunecore") %></h3>
<%= custom_t(".congrats_submit_release", date: fmt_long_date(renewal.created_at)) %>
<p><%= custom_t(".allow_bus_days", duration_till_avail: link_to(custom_t(:here), knowledgebase_link_for('how-long-to-go-live', country_website))) %></p>

<% if album.album_type != 'Ringtone' %>
  <%= custom_t(".content_sent_stores") %>
<% end %>

<% if renewal.created_at + 120.days >= Time.now %><!-- Sent day + 120 days -->
  <p><%= custom_t(".sales_reports_avail", album_date: (album.sale_date + 2.months).strftime("%B %Y")) %></p>
<% end %>

<% if auto_renew && current_user.legacy_user? %>
  <p><%= custom_t(".subscription_auto_renew", phrase: phrase, price: money_to_currency(price), exp_date: fmt_long_date(expiration_date)) %></p>
<% elsif current_user.legacy_user? %>
  <p><%= custom_t(".subscription_due_renewal", phrase: phrase, exp_date: fmt_long_date(expiration_date), price: money_to_currency(price)) %></p>
<% end %>

