<div class="publishing_help">
  <h3 class="hd"><%= custom_t(".songwriter_help") %></h3>
  <ul>
    <%= custom_t(".help_list", help_url: knowledgebase_link_for('publishing-nontunecore-releases', country_website)) %>
  </ul>
</div>
