<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/yui_uploader/yui-min.js" %>
  <%= javascript_include_tag "/javascripts/yui_uploader/yahoo-dom-event.js" %>
  <%= javascript_include_tag "/javascripts/yui_uploader/element-min.js" %>
  <%= javascript_include_tag "/javascripts/flowplayer/flowplayer-3.2.4.min.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.hoverIntent.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.autogrow.js" %>
  <%= javascript_include_tag "/javascripts/plugins/tc.styleguide.js" %>
  <%= javascript_include_tag "/javascripts/app/song_creatives.js" %>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <%= javascript_include_tag "/javascripts/swfobject2.2.js" %>
  <%= javascript_include_tag "/javascripts/beacon.js" %>
  <%= javascript_include_tag "/javascripts/app/album.js" %>
  <%= javascript_include_tag "/javascripts/app/song_album_bigbox.js" %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/bigbox.css" %>
<% end %>

<div id="tc_pid" style="display: none;" tc_pid="<%= @sso_cookie_value %>"></div>
<div id="person_id" style="display: none;" person_id="<%= album.person_id %>"></div>
<div id="upload_url" style="display: none;" upload_url="<%= @uploadURL %>"></div>
<div id="register_url" style="display: none;" register_url="<%= @registerURL %>"></div>
<div id="assets_url" style="display: none;" assets_url="<%= @assetsURL %>"></div>
<div id="tunecore_id" style="display: none;" tunecore_id="<%= cookies[:tunecore_id] %>"></div>
<div id="env" style="display: none;" env="<%= Rails.env %>"></div>
<div id="elb_name" style="display: none;" elb_name="<%= BIGBOX_ELB_NAME %>"></div>
<div id="error" title="There has been an error." style="display: none;"><%= custom_t('.something_gone_wrong', customer_support_link: link_to(custom_t(:customer_support), knowledgebase_link_for('distro-contact-us', country_website))) %></div>
<div id="action" title="<%= custom_t('.taking_action') %>" style="display: none;"></div>
<div id="assets" title="<%= custom_t('.apply_a_new_file') %>"></div>

<div id="fixIt" style="display: none;">
  <div style="float: left; width: 500px;">
  <div style="clear: both;"><h2 style="line-height: 40px;">
    <%= custom_t('.track_song_title') %>
  <div style="clear: both;">
    <div style="clear: both; font-style: italic;"><span class="fih_orig_filename"><%= custom_t('.file_name') %></span><br /><br /></div>
    <div style="float: left; padding-right: 20px; margin-right: 20px; border-right: 1px dashed #CCCCCC;">
    <strong><%= custom_t('.you_uploaded') %> </strong><br />
    <%= custom_t(:format) %>: <span class="fih_ext">ext</span> <img style="margin-left: 20px;" src="/images/red_check.png" align="right" class="fih_ext_img" /><br />
    <%= custom_t(:sample_rate) %>: <span class="fih_sample_rate"></span>00 khz <img style="margin-left: 20px;" src="/images/red_check.png" align="right" class="fih_sample_rate_img" /><br />
    <%= custom_t(:sample_size) %>: <span class="fih_bit_depth"></span> <img style="margin-left: 20px;" src="/images/red_check.png" align="right" class="fih_bit_depth_img" /><br />
    <span class="isRingtone" style="display: none;"><%= custom_t(:duration) %>: <span class="fih_duration">300</span> <%= custom_t(:seconds) %> <img style="margin-left: 20px;" src="/images/red_check.png" align="right" class="fih_duration_img" /></span>
    </div>
    <div style="float: left;">
    <strong><%= custom_t(".we_need") %></strong><br />
    <%= custom_t(:format) %>: wav<br />
    <%= custom_t(:sample_rate) %>: 44.100 khz<br />
    <%= custom_t(:sample_size) %>: 16<br />
    <span class="isRingtone" style="display: none;"><%= custom_t(:duration) %>: 5 - 30 <%= custom_t(:seconds) %></span>
    </div>
  </div>
  <div style="clear: both;">
    &nbsp;<br />
      <%= custom_t('.if_you_have_itunes_installed') %>:<br /><br />

    <strong><%= custom_t(:step) %> 1:</strong> <%= custom_t('.itunes_step_one') %><br /><br />
    <img src="/images/fixIt1.png" /><br /><br /><br />

    <strong><%= custom_t(:step) %> 2:</strong> <%= custom_t('.itunes_step_two') %> <br /><br />
    <img src="/images/fixIt2.png" /><br /><br /><br />

    <strong><%= custom_t(:step) %> 3:</strong> <%= custom_t('.itunes_step_three') %><br /><br />
    <img src="/images/fixIt3.png" /><br /><br /><br />

    <strong><%= custom_t(:step) %> 4:</strong> <%= custom_t('.itunes_step_four') %><br /><br />
    <img src="/images/fixIt4.png" /><br /><br /><br />

    <strong><%= custom_t(:step) %> 5:</strong> <%= custom_t('.itunes_step_five') %><br /><br />
  </div>
  </div>
</div>

<% unless album.finalized_at %>
  <%= custom_t('.before_upload_description', {url: knowledgebase_link_for('convert-audio-using-itunes', country_website)}) %>
<% end %>

<% if album.is_editable? %>
  <div style="margin-bottom: 10px;"><a href="#" id="reorder-toggle"></a></div>
<% end %>

<a name="jumptosuccess"></a>
<h2 id="songwriter_service_success">
<%= custom_t(:successful_publishing_submit) %>
</h2>

<div id="tcSongsGrid">
  <a href="#" id="closeFlowPlayer">X</a>
  <div id="flowplayer" href="http%3a%2f%2ftcc.tunecore.com.staging.s3.amazonaws.com%2f498507%2f1289244173-04.%2520So%2520Disrespectful%2520-%252050%2520Cent%2520-.mp3.mp3%3fSignature%3dvmayDNsdkPSEmcwdq6z1Le0WFpk%253D%26Expires%3d1289247775%26AWSAccessKeyId%3dAKIAIM5RJKCF2UKVL2VA"></div>
  <div id="uploader"></div>
  <%= form_for album, :method => :put, :html => {:class => 'preview-title-form edit_album'} do %>
      <ul id="track-list">
        <%= render :partial => "songs/song_bigbox", :collection => songs, :locals => { :album => album } %>
      </ul>
  <% end %>
</div>

<% if is_a_cyrillic_language?(album.language_code_legacy_support) %>
<div class="cyrillic_formatting notice">
  <p><strong>У iTunes есть конкретные правила форматирования российских, белорусских, болгарских и украинских релизов. <a href="#" data-mfp-src="#cyrillic_formatting_popup" class="open-popup">нажмите здесь</a></strong></p>
</div>
<% end %>

<% if album.is_editable? %>
  <section id="add-songs">
      <div id="song-form" <% if album.songs.size < 101 || feature_enabled?(:hundred_tracks_allowed) %>class="hidden"<% end %>>
        <%= render :file => "songs/new", :locals => { :album => album, :song => song } %>
        <span class="help">* <%= custom_t(:required_field) %></span>
      </div>
      <div id="show-form-toggle" <% if album.songs.size < 1 || album.songs.size >= 101 || !feature_enabled?(:hundred_tracks_allowed) %>class="hidden"<% end %>></div>
  </section>
<% end %>
