<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <%= javascript_include_tag "/javascripts/app/creatives.js" %>
  <%= javascript_include_tag '/javascripts/app/album.js' %>
  <%= javascript_include_tag '/javascripts/plugins/jquery.autogrow.js' %>
  <%= javascript_include_tag '/javascripts/plugins/tc.styleguide.js' %>
  <%= javascript_include_tag "/javascripts/app/song_album.js" %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/upload.css" %>
  <%= stylesheet_link_tag "/stylesheets/bigbox.css" %>
<% end %>

<h3><%= custom_t('.my_songs') %></h3>

<section id="my-songs">
<a href="#" id="reorder-toggle"></a>
<%= form_for album, :method => :put, :html => {:class => 'edit_album preview-title-form'} do %>
<% end %>
</section>

<% if is_a_cyrillic_language?(album.language_code_legacy_support) %>
<div class="cyrillic_formatting notice">
  <p><strong>У iTunes есть конкретные правила форматирования российских, белорусских, болгарских и украинских релизов. <a href="#" data-mfp-src="#cyrillic_formatting_popup" class="open-popup">нажмите здесь</a></strong></p>
</div>
<% end %>

<section id="add-songs">
  <div id="song-form" class="hidden">
    <%= render :file => "songs/new", :locals => { :album => album, :song => song } %>
  </div>
  <div id="show-form-toggle" <% if album.songs.size < 1 %>class="hidden"<% end %>></div>
</section>
