<div id="stores-section">
  <div class="roundy-header">
    <div class="row">
      <div class="columns eight">
        <h2>
          <%= custom_t(:stores_display) %>
          <% if salepoints_redesign_feature_enabled? && !album.is_a?(Ringtone) %>
            <span class="stores_copy">
              <%= custom_t(:stores_copy) %>
            </span>
          <% end %>
        </h2>

        <%= render "plans/upgrade_msg_in_distribution", class_name: "left" %>
      </div>
      <div class="columns four text-right">
        <% if @show_add_stores %>
          <%= link_to "#{album.listed_stores(current_user.id).blank? ? custom_t(:add) : custom_t(:edit)}",
                      album_salepoints_path(album),
                      class: 'link font-normal',
                      style: 'font-size: 13px;' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="roundy-content">
    <% if !album.finalized_at.nil? and album.has_itunes_salepoints? and !album.has_itunes_ww_salepoint? and album.status != 'down' %>
      <%= custom_t(".upgrade_to_itunes_ww", album_id: album.id) %>
    <% end %>
    <% if album.listed_stores(current_user.id).size > 0 %>
      <div class="stores" style="padding: 1em;">
        <% if freemium_flow_enabled? %>
          <p class='stores-message'><%= custom_t(:paid_stores_message) %></p>
        <% end %>
        <ul class="stores" style="padding: 0;">
          <% album.listed_stores(current_user.id).each do |store| %>
            <% next if Store.hide_ytm_store?(store.abbrev) || Store.hide_believe_store?(store.abbrev) %>
            <% if (album.has_itunes_ww_salepoint? && store.name[/iTunes/].nil? || store.short_name == 'iTunesWW' || !album.has_itunes_ww_salepoint?) %>
              <li title="<%= store.name %>" class="ico-<%= Store.get_custom_abbrev(store.abbrev) %>">
               <% if album.is_a?(Ringtone) %>
                 <%= store.name.gsub(/iTunes/, "iPhone Ringtone Store") if store.name %>
               <% else %>
                 <%= store.name %>
               <% end %>
              </li>
              <% if store.name[/iTunes/] && album.apple_music %>
                <li title="<%= custom_t(:apple_music) %>" class="ico-apple-music"><%= custom_t(:apple_music) %></li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
        <div class="clearfix"></div>
      </div>
    <% else %>
      <% if @show_add_stores %>
        <%= link_to custom_t(".add_stores"),
                    album_salepoints_path(album),
                    class: 'btn btn-callout',
                    style: 'margin: 15px; font-size: 14px;' %>
      <% end %>
      <% if @show_buy_plan %>
        <%= link_to custom_t(".upgrade_now"),
            plans_path,
            class: 'btn purchase purchase-button',
            style: 'margin: 15px; font-size: 14px;' %>
      <% end %>
    <% end %>

  <% if salepoints_redesign_feature_enabled? && !album.is_a?(Ringtone) && !store_automator_disabled(album) && current_user.can_do?(:store_automator) %>
    <%= render '/album/automator_form', album: @album || @single %>
  <% end %>

  <% if salepoints_redesign_feature_enabled? && yt_music_flow_update_enabled? && !album.is_a?(Ringtone) && !current_user.has_active_ytm? %>
    <%= render '/album/youtube_music_and_monitzation_form', album: @album || @single %>
  <% end %>

  <% if show_aod?(album) %>
    <%= render '/shared/aod_linkbar', album: album  %>
  <% end %>
  </div>
</div>
