<ul>
  <li><strong><%= custom_t(:cost) %>:</strong> <%= subscription_cost(subscription, price_to_renew)%></li>
  <li><strong><%= custom_t(:stared_on) %>:</strong> <%= fmt_long_date(subscription.starts_at.to_date) %></li>
  <% if subscription.canceled? -%>
    <li><strong><%= custom_t(:expires_on) %>:</strong> <%= fmt_long_date(subscription.expires_at.to_date) %></li>
  <% else -%>
    <li><strong><%= custom_t(:renews_on) %>:</strong> <%= fmt_long_date(subscription.expires_at.to_date) %></li>
  <% end -%>
</ul>
