<p class="album_yearly_upgrade">

  <a href="javascript:void(0);" id="switch_to_yearly_link"><%= custom_t(".switch_yearly_plan") %></a>

  <% content_for :external_javascript do -%>
    <script type="text/javascript">
      var $ = jQuery;
      $(document).ready(function(){
        var dialog      = $("#dialog_html")
          .dialog({
            autoOpen:false,
            modal: true,
            resizable: false,
            minWidth: 300,
            width: 350,
            buttons: {
              "<%= "Switch to #{@album.renewal.opposite_renewal_interval.capitalize}ly Plan" %>": function() {
                $(this).dialog('close');
                window.location.href = "<%= update_renewal_album_path(@album) %>"
              },
              "Cancel": function() {
                $(this).dialog('close');
              }
            }});
        $("#switch_to_yearly_link").click(function(e){
          $(dialog).dialog('open');
          e.preventDefault();
          return false;
        })
      });
    </script>
  <% end %>

</p>

<div style="display:none" id="dialog_html" title="<%= display_name(@album) %>">
  <p><%= custom_t(".switch_yearly_plan_price", price: money_to_currency(@album.renewal.opposite_price_to_renew_in_money), lenth_of_time: @album.renewal.opposite_renewal_interval) %></p>

  <p><%= custom_t(".subscription_plan", album_type: @album.album_type.downcase, exp_date: @album.renewal.expires_at.strftime("%B %d, %Y"), renewal_interval: @album.renewal.renewal_interval, renewal_price: money_to_currency(@album.renewal.price_to_renew_in_money), diff_interval_plan: @album.renewal.opposite_renewal_interval.capitalize, diff_plan: @album.renewal.opposite_renewal_interval) %></p>
</div>
