<h3 class="hd"><%= custom_t(".taken_down") %></h3>

<p><%= custom_t(".release_requested_removed", takedown_date: fmt_long_date(renewal.takedown_at)) %></p>

<p><%= custom_t(".taken_down_error", takedown_contact: link_to(custom_t(:contact_us), knowledgebase_link_for('distro-contact-us', country_website))) %></p>
