<p><%= custom_t(".release_not_renewed") %></p>

<h4 class="sub-hd"><%= fmt_long_date(expiration_date) %></h4>

<p><%= custom_t(".reactivate_release", reactivate: link_to(custom_t(".reactivate_it"), stop_cancellation_album_path(album))) %></p>
