<h3 class="hd"><%= custom_t(".taken_down") %></h3>

<p><%= custom_t(".released_not_renewed") %></p>

<h4 class="sub-hd"><%= fmt_long_date(expiration_date) %></h4>

<p><%= custom_t(".taken_down_error", takedown_contact: link_to(custom_t(:contact_us), knowledgebase_link_for('distro-contact-us', country_website))) %></p>
