<section id="youtube_music_and_monetization" class="automator-linkbar" data-album-id=<%= album.id %>>
  <header class="flex-row">
    <h2 class="youtube-music-and-monetization-bar">
        <%= ytm_and_salepoints_form_title %>
    </h2>
    <div class="stores-list-row-input">
      <span><%= money_to_currency(get_youtube_monetization_price(album)) %></span>
      <%= check_box_tag :youtube_music_and_monetization_form, '1', check_youtube_music_and_monetization_form?(album) %>
    </div>
  </header>
  <div class="automator-caption">
    <%= hidden_field_tag :youtube_music_and_monetization_form, '0' %>
    <p class="ico-ytm"><%= ytm_terms_and_conditions_text %></p>
  </div>
</section>
