<% content_for :external_javascripts do %>
  <script type='text/javascript'>
    window.translations = <%= raw @album_app_translations.to_json %>;
    window.translations.popup_modal = <%= raw @popup_modal_translations.to_json %>
  </script>
  <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/album.js" %>
  <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/popup_modal.js" %>
<% end %>

<div class='album-app-div'>
  <%= tag.div(@album_app_vars) %>
</div>

<div id="popup_modal" />
