<script type="text/javascript">
  var TC = TC || {};
  TC.selected_date = "<%= @album.sale_date_to_s || '' %>";
  TC.suggest_date = "<%= suggested_date %>";
</script>

<% content_for :css do %>
  <%= stylesheet_link_tag "release_creation" %>
<% end %>

<div class="row">
  <section class="form twelve columns centered">
    <header class="helper six columns">
      <h1 class="main_headline"><% if !@album.finalized? %>Edit <% end %><%= display_name(@album) %></h1>
      <span class="required-helper">* <%= custom_t(:required_field) %></span><br/>
      <span class="header-helper"><%= link_to(custom_t(:need_help), knowledgebase_link_for('help-homepage', country_website))%></span>
    </header>

    <%= form_for(@album, html: { class: "release-form" }) do |f| %>
      <%= render(partial: 'album_fields', :locals => {f: f, show_time_fields: false})%>

      <%= render(partial: 'shared/release_submission_spinner') %>

      <% if !@album.finalized? %>
        <%= f.submit custom_t(".save_info"), li_class:  "form-actions", new_form: true, class: 'release-submission-button button inform' %>
      <% else %>
        <fieldset class="form-actions"><%= link_to(custom_t(".return_to_album"), @album, id: "album_submit", class: "button") %></fieldset>
      <% end %>
    <% end %>
  </section>
</div>

<%= render( :partial => 'distribute_modal_popup', locals: { album: @album }) %>
