<script type="text/javascript">
  var TC = TC || {};
  TC.selected_date = "<%= @album.sale_date_to_s || '' %>";
  TC.suggest_date = "<%= suggested_date %>";
</script>

<% content_for :css do %>
  <%= stylesheet_link_tag "release_creation" %>
<% end %>

<% content_for :optimizely_custom_tags do %>
  <%= optimizely_custom_tag(Optimizely::Page.new(current_user, page_type: Optimizely::Album, currency: locale_currency, page_name: optimizely_page_name).tag_data) %>
<% end %>

<div class="row">
  <section class="form twelve columns centered">
    <header class="helper six columns">
      <h1 class="main_headline"><%= custom_t(".create_an_album") %></h1>
      <span class="required-helper">* <%= custom_t(:required_field) %></span><br/>
      <span class="header-helper"><%= link_to(custom_t(:need_help), knowledgebase_link_for('help-homepage', country_website))%></span>
    </header>

    <%= form_for(@album, html: { class: "release-form" }) do |f| %>
      <%= render(partial: 'album_fields', locals: {f: f, show_time_fields: true})%>

      <%= render(partial: 'shared/release_submission_spinner') %>

      <%= f.submit custom_t(".create_an_album"), li_class: "form-actions", new_form: true, class: 'release-submission-button button inform' %>
    <% end %>
  </section>
</div>
