<script type="text/javascript">
  var TC = TC || {};
  TC.allowMultipleUploads = true;
  TC.MultipleUploadsAllowed = 20;
  TC.albumId = <%= @album.id %>;
  TC.finalized = <%= @album.finalized? %>;
  TC.hundred_tracks_allowed = <%= feature_enabled?(:hundred_tracks_allowed) %>;
</script>

<% content_for :css do %>
  <%= stylesheet_link_tag 'release_creation' %>
  <%= stylesheet_link_tag 'country_and_store_selector' %>
  <%= stylesheet_link_tag '/stylesheets/magnific-popup.css' %>
  <%= stylesheet_link_tag 'songs' if @album.created_with_songwriter? %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
  <% if @album.created_with_songwriter? %>
    <script type="text/javascript">
      window.translations = <%= raw @songs_app_translations.to_json %>
      window.translations.popup_modal = <%= raw @popup_modal_translations.to_json %>
    </script>
    <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/songs.js" %>
    <%= javascript_include_tag "songwriter" %>
    <%= javascript_include_tag "#{ENV["FRONTEND_SOURCE"]}/popup_modal.js" %>
  <% end %>
  <%= javascript_include_tag "/javascripts/app/preorder.js" if feature_enabled?(:preorder) && show_preorder? %>
  <script type="text/javascript">
    jQuery(document).ready(function($){
      $('.m-lightbox').magnificPopup({ type:'ajax' });
      $('.open-popup').magnificPopup({
        type: 'inline',
        midClick: true
      });

      var killGoodError = function(){
        $('#goodErrorExplanation').hide('slow');
      };
      setTimeout(killGoodError, 4000);
  });
  </script>
<% end %>

<%= render "royalty_splits/splits_access_popup_includes" %>
<%= render 'royalty_splits/splits_access_create_splits_popup' %>
<%= render "royalty_splits/splits_access_suspended_splits_popup" %>

<%= render partial: "shared/release_rejection", locals: {release: @album} if release_is_rejected? %>

<% if FeatureFlipper.show_feature?(:distro_flow_changes, current_user) %>
<div class="row">
 <div class="eight columns">
    <h1 class="show-page-header"><%= custom_t('edit_album') %></h1>
 </div>
</div>
<% end %>
<div class="row">
  <section class="eight columns">

    <% if flash[:album_notice] %>
      <div class="row" style="margin-bottom: 30px;">
        <div class="twelve columns">
          <div class="important-notice">
            <%= flash[:album_notice] %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row">
      <% if FeatureFlipper.show_feature?(:distro_flow_changes, current_user) %>
        <div class="twelve columns albuminfo">
      <% else %>
        <div class="four columns">
          <%= render 'artwork/upload', album: @album %>
        </div>
        <div class="eight columns albuminfo">
      <% end %>
        <div class="roundy-header">
          <div class="row">
            <div class="columns eight">
              <h2><%= custom_t(:details) %></h2>
            </div>
            <div class="columns four text-right">
              <% unless @album.finalized? or @album.takedown_at %><%= link_to custom_t(:edit), get_polymorphic_edit_path(@album), class: 'link font-normal', style: 'font-size: 13px;' %><% end %>
            </div>
          </div>
        </div>
        <div class="roundy-content" style="padding: 15px;">
          <%= render "album_details", album: @album %>
        </div>
      </div>
    </div>
    <%= render 'store_list', album: @album, unpurchased_stores: @unpurchased_stores unless salepoints_redesign_feature_enabled? %>
    <% if FeatureFlipper.show_feature?(:freemium_flow, current_user) %>
      <%= render 'discovery_platforms_list', album: @album  %>
    <% end %>
    <%= render 'booklet', booklet: @album.booklet %>
    <%= render 'automator', album: @album %>
    <%= render '/album/royalty_splits', release: @album if release_can_be_split?(@album) %>
    <div class="roundy-header">
      <div class="row">
        <div class="columns eight">
          <h2><%= custom_t(:songs_display) %></h2>
        </div>
        <div class="columns four text-right">
        </div>
      </div>
    </div>
    <% if @album.created_with_songwriter? %>
      <div id="songs_app"
          class="songs-app"
          data-album-id="<%= @album.id %>"
          data-songs="<%= @song_data_presenter.songs %>"
          data-default-song="<%= @song_data_presenter.default_song %>"
          data-song-roles="<%= @song_data_presenter.song_roles %>"
          data-songwriter-names="<%= @song_data_presenter.songwriter_names %>"
          data-languages="<%= @song_data_presenter.language_codes %>"
          data-artists="<%= @song_data_presenter.artists %>"
          data-album="<%= @song_data_presenter.album %>"
          data-big-box-url="<%= BIGBOX_ELB_NAME %>"
          data-tc-pid="<%= @sso_cookie_value %>"
          data-explicit-fields-enabled="true"
          data-explicit-radio-enabled="<%= explicit_song_radio_enabled? %>"
          data-copyrights-form-enabled="<%= song_copyrights_enabled_in_region? %>"
          data-track-level-language-enabled="<%= track_level_language_enabled? && track_level_language_permitted?(@album) %>"
          data-clean-version-radio-enabled="<%= clean_song_radio_enabled? %>"
          data-song-start-times-form-enabled="<%= song_start_time_form_enabled? %>"
          data-song-start-time-store-options="<%= Store::SONG_START_TIME_STORES %>"
          data-spatial-audio-enabled="<%= @spatial_audio_enabled %>"
          data-dolby-atmos-article-link="<%= @dolby_atmos_article_link %>"
          data-cover-song-metadata-enabled="<%= @cover_song_metadata_enabled %>"
          data-cover-song-article-link="<%= @cover_song_article_link %>"
          data-plan-upgrade-link="<%= @plan_upgrade_link %>"
      >
      </div>
    <% else %>
      <div class="roundy-content uploads" style="margin-top: 0; margin-bottom: 30; padding: 15px;">
        <% if enable_bigbox_uploader? %>
          <%= render 'song_listing_bigbox', album: @album, songs: @songs, song: @song %>
        <% else %>
          <%= render 'song_listing', album: @album, songs: @songs, song: @song, person: @person %>
        <% end %>
      </div>
    <% end %>
    <% if FeatureFlipper.show_feature?(:distro_flow_changes, current_user) %>
      <%= render 'artwork/upload', album: @album %>
    <% end %>
    <%= render 'store_list', album: @album, unpurchased_stores: @unpurchased_stores if salepoints_redesign_feature_enabled? %>
    <%= render 'preorder', album: @album, songs: @songs, preorder: @preorder, paid: @paid, enabled: @enabled, grat_songs: @grat_songs if show_preorder? %>
  </section>
  <aside id="distribution-panel" class="four columns">
    <%= render 'album/checklist_and_distribution_ui', album: @album %>
  </aside>
</div>
<%= render 'album/distribute_modal_popup', album: @album %>

<div id="cyrillic_formatting_popup" class="alert mfp-hide">
  <%= render "shared/cyrillic_formatting_popup" %>
</div>

<div id="popup_modal">
</div>
