<%= stylesheet_link_tag "/stylesheets/plan_promo.css" %>
<% if current_user.has_plan? %>
  <a href="/plans" id="BTN_plan_upgrade_top-nav" class="plan-nav">
    <%= render partial: "plan_promo/svg_partials/plan-nav",
               locals: { embed_class: "record-icon", plan_id: current_user.plan.id} %>
    <ul class="plan-nav-copy" <%= no_vertical_alignment_id(current_user.plan) %> >
      <li class="plan-name"><%= plans_phrase_key(current_user.plan, "name") %></li>
      <% if user_upgradable_plan?(current_user.plan) %>
        <li class="nav-cta"><%= custom_t("plans.upgrade") %></li>
      <%end %>
    </ul>
  </a>
<% else %>
  <div class="upgrade-block upgrade-block-top-nav">
    <a class="cta" href="/plans" id="BTN_plan_upgrade_top_nav">
      <%= render partial: "plan_promo/svg_partials/record-white", locals: { embed_class: "record-path" } %>
      <%= promo_button_content %>
    </a>
  </div>
<% end %>
