<%= stylesheet_link_tag "/stylesheets/plan_promo.css" %>
<aside id="plan-promo">
  <div class="upgrade-block">
    <div class="heading"><%= promo_header_content %></div>
    <div class="text-center">
      <a class="cta" href="/plans" id="BTN_plan_upgrade_sidebar">
        <%= render partial: "plan_promo/svg_partials/record-white", locals: { embed_class: "record-path" } %>
        <%= promo_button_content %>
      </a>
    </div>
  </div>
</aside>
