<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <p>
        <%= custom_t('sessions_mailer.suspicious_login_mailer.body.first_line') %>
      </p>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <p>
        <b><%= custom_t('sessions_mailer.suspicious_login_mailer.body.info.time') %>:</b> <%= @request_time %> EST<br>
        <% if @browser.present? %>
          <b><%= custom_t('sessions_mailer.suspicious_login_mailer.body.info.browser') %>:</b> <%= @browser %><br>
        <% end %>

        <% if @ip.present? %>
          <b><%= custom_t('sessions_mailer.suspicious_login_mailer.body.info.ip_address') %>:</b> <%= @ip %><br>
        <% end %>

        <% if @location.present? %>
          <b><%= custom_t('sessions_mailer.suspicious_login_mailer.body.info.approx_location') %>:</b> <%= @location %><br>
        <% end %>
      </p>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <p>
        <%= custom_t('sessions_mailer.suspicious_login_mailer.body.ignore_message') %>
      </p>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <p>
        <%= custom_t('sessions_mailer.suspicious_login_mailer.body.change_password', password_reset_link: @password_reset_link) %>
      </p>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <ol>
        <p><%= custom_t('sessions_mailer.suspicious_login_mailer.body.add_2fa') %></p>
        <li><%= custom_t('sessions_mailer.suspicious_login_mailer.body.nav_to_account_settings') %></li>
        <li><%= custom_t('sessions_mailer.suspicious_login_mailer.body.click_enable') %></li>
      </ol>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <p>
        <%= custom_t('sessions_mailer.suspicious_login_mailer.body.2fa_info', info_link: @info_link) %>
      </p>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <p>
        <%= custom_t('sessions_mailer.suspicious_login_mailer.body.account_compromised', help_link: @help_link) %>
      </p>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <p>
        <%= custom_t('sessions_mailer.suspicious_login_mailer.signature.line_1') %>
      </p>
      <p>
        <%= custom_t('sessions_mailer.suspicious_login_mailer.signature.line_2') %>
      </p>
    </td>
  </tr>
</table>
