<%= error_messages_for @system_property %>

<!--[form:system_property]-->
<p><label for="system_property_name">Name</label><br/>
<%= text_field 'system_property', 'name', :disabled=>true  %></p>

<p><label for="system_property_value">Value</label><br/>
<%= text_field 'system_property', 'value'  %></p>

<p><label for="system_property_description">Description</label><br/>
<%= text_area 'system_property', 'description', :disabled=>true, :rows=>5 %></p>

<!--[eoform:system_property]-->

