<h1>Editing system_property</h1>

<%= form_tag :action => 'update', :id => @system_property %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
</form>

<%= link_to 'Show', :action => 'show', :id => @system_property %> |
<%= link_to 'Back', :action => 'list' %>
