<h1>Listing system_properties</h1>

<% if @system_properties.length == 0 %>
	<p>No Transfers to Display</p>
<% else %>
	<% reset_cycle() %>
	<table>
	  <tr>
			<th>Description</th>
			<th>Value</th>
	  </tr>
  
	<% for system_property in @system_properties %>
	  <tr class="<%=cycle('', 'alt')%>">
			<td width="50%"><%=h system_property.description %></td>
			<td width="25%"><%=h system_property.value %></td>
	    <td>
				<%= link_to 'Show', :action => 'show', :id => system_property %> |
	    	<%= link_to 'Edit', :action => 'edit', :id => system_property %> |
	    	<%= link_to 'Destroy', { :action => 'destroy', :id => system_property }, :confirm => 'Are you sure?', :method => :post %>
			</td>
	  </tr>
	<% end %>
	</table>

	<%= link_to 'Previous page', { :page => @system_properties.previous_page } if @system_properties.previous_page %>
	<%= link_to 'Next page', { :page => @system_properties.next_page } if @system_properties.next_page %> 
<% end %>
<br />

<%= link_to 'New system_property', :action => 'new' %>
