<% for column in SystemProperty.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @system_property.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @system_property %> |
<%= link_to 'Back', :action => 'list' %>
