<% t_scope = 'my_account.withdraw.provider_states' %>

<div class="payout-container">
  <div class="payout-header">
    <span><%= custom_t("approved.title", scope: t_scope) %></span>
  </div>

  <div class="payout-contents">
    <div class="payout-application-status">
      <div>
        <span class="title"><%= custom_t("payoneer_status", scope: t_scope) %>:</span>
        <%= custom_t("approved.status", scope: t_scope) %>
      </div>
      <div class="payoneer-ca-au-warning">
        <span class="payout-warning"><%= custom_t("my_account.important")&.capitalize %>:</span>
        <%= custom_t("my_account.payoneer_bank_only_warning") %>
      </div>
    </div>
  </div>
</div>

<% content_for :css do %>
  <%= stylesheet_link_tag 'payout/payout-states' %>
<% end %>
