<% t_scope = 'my_account.withdraw.provider_states' %>

<div class="payout-container">
  <div class="payout-header">
    <span><%= custom_t("declined.title", scope: t_scope) %></span>
  </div>

  <div class="payout-contents">
    <div class="payout-application-status">
      <div>
        <span class="title"><%= custom_t("payoneer_status", scope: t_scope) %>:</span>
        <%= custom_t("declined.status", scope: t_scope) %>
      </div>
      <div class="message">
        <span class="highlight"><%= custom_t("my_account.important") %>:</span>
        <%= custom_t("declined.message", scope: t_scope) %>
      </div>
    </div>

    <%= button_to custom_t("declined.continue", scope: t_scope), @payoneer_response.registration_link, class: "payout-button" %>
  </div>
</div>

<% content_for :css do %>
  <%= stylesheet_link_tag 'payout/payout-states' %>
<% end %>
