<% t_scope = 'my_account.withdraw.provider_states' %>

<div class="payout-container">
  <div class="payout-header">
    <span><%= custom_t("onboarding.title", scope: t_scope) %></span>
  </div>

  <div class="payout-contents">
    <div class="payout-application-status">
      <div>
        <span class="title"><%= custom_t("payoneer_status", scope: t_scope) %>:</span>
        <%= custom_t("onboarding.status", scope: t_scope) %>
      </div>
      <div class="message">
        <span class="highlight"><%= custom_t("my_account.important") %>:</span>
        <%= custom_t("my_account.email_confirmation") %>
      </div>
    </div>

    <% if Payoneer::FeatureService.show_countries_selection?(current_user) %>
      <%= button_tag custom_t("onboarding.complete_application", scope: t_scope), type: 'button', class: "choose-currency-action payout-button" %>
    <% else %>
      <%= button_to custom_t("onboarding.complete_application", scope: t_scope), payout_provider_registrations_path, method: :post, class: "payout-button" %>
    <% end %>
  </div>
</div>

<% content_for :css do %>
  <%= stylesheet_link_tag 'payout/payout-states' %>
<% end %>
