<% t_scope = 'my_account.withdraw.provider_states' %>

<div class="payout-container">
  <div class="payout-header">
    <span><%= custom_t("pending.title", scope: t_scope) %></span>
  </div>

  <div class="payout-contents">
    <div class="payout-application-status">
      <div>
        <span class="title"><%= custom_t("application", scope: t_scope) %>:</span>
        <%= custom_t("pending.application_status", scope: t_scope) %>
      </div>
      <div>
        <span class="title"><%= custom_t("payoneer_status", scope: t_scope) %>:</span>
        <%= custom_t("pending.status", scope: t_scope) %>
      </div>

      <div class="message">
        <span class="highlight"><%= custom_t("my_account.important") %>:</span>
        <%= custom_t("my_account.email_confirmation") %>
      </div>
    </div>
  </div>
</div>

<% content_for :css do %>
  <%= stylesheet_link_tag 'payout/payout-states' %>
<% end %>
