<% content_for :external_javascript do %>
  <script type="text/javascript">
    jQuery.noConflict();
  </script>
  <%= javascript_include_tag "/javascripts/prototype.js" %>
  <%= javascript_include_tag "/javascripts/slider.js" %>
  <%= javascript_include_tag "/javascripts/reflection.js" %>
  <%= javascript_include_tag "/javascripts/protoFlow.js" %>
  <%= javascript_include_tag "/javascripts/application.js" %>
  <script type="text/javascript">
    document.write('<style>#aod_templates { visibility:hidden; }</style>');
    var cf;
    Event.observe(window, 'load', function() {
        cf = new ProtoFlow($("aod_templates"), {
          startIndex: <%= template_id_for_slider_index(@distribution.template_id) %>,
          captions: true,
          useReflection: true,
          enableOnClickScroll: true,
          slider: true,
          enableMouse: false
        });
        updateTemplateSelection(<%= @distribution.template_id || 4 %>);
      <% unless @distribution.can_update_metadata? %>
        freezeTemplateSelection(<%= @distribution.template_id || 4 %>);
      <% end %>
      $('aod_templates').style.visibility = 'visible';
    });
  </script>
<% end %>
<header>
	<h1 class="main_headline">Choose a Style</h1>
</header>
<h2 class="reg_headline">About Templates</h2>
<p>Amazon on Demand requires the selection of a template for your CD casing. We have provided a broad range of templates below&mdash;cycle through the disks below to view the contents of the template below. The templates will all incorporate the cover art you have uploaded. If you have not uploaded your cover art, you can do so <%= link_to('here', :controller => 'artwork', :action => 'show')%>.</p>
<%= form_tag album_salepoint_artwork_template_path(@album, @distribution),:id => 'aodTemplate', :method => 'put' do %>
	<div id="aod_templates">
		<%= link_to(image_tag("/images/artwork_template/beige.png", :alt => 'Beige'), {}, {:onclick => "updateTemplateSelection(1);"}) %>
		<%= link_to(image_tag("/images/artwork_template/blue.png", :alt => 'Blue'), {}, {:onclick => "updateTemplateSelection(2);"}) %>
		<%= link_to(image_tag("/images/artwork_template/paper.png", :alt => 'Paper'), {}, {:onclick => "updateTemplateSelection(3);"}) %>
		<%= link_to(image_tag("/images/artwork_template/black.png", :alt => 'Black'), {}, {:onclick => "updateTemplateSelection(4);"}) %>
		<%= link_to(image_tag("/images/artwork_template/blackgrunge.png", :alt => 'Black Grunge'), {}, {:onclick => "updateTemplateSelection(5);"}) %>
		<%= link_to(image_tag("/images/artwork_template/grunge.png", :alt => 'Grunge'), {}, {:onclick => "updateTemplateSelection(6);"}) %>
		<%= link_to(image_tag("/images/artwork_template/brownpaper.png", :alt => 'Brown Paper'), {}, {:onclick => "updateTemplateSelection(7);"}) %>
		<%= link_to(image_tag("/images/artwork_template/grainy.png", :alt => 'Grainy'), {}, {:onclick => "updateTemplateSelection(8);"}) %>
		<%= link_to(image_tag("/images/artwork_template/yellow.png", :alt => 'Yellow'), {}, {:onclick => "updateTemplateSelection(9);"}) %>
		<%= link_to(image_tag("/images/artwork_template/ocean.png", :alt => 'Ocean'), {}, {:onclick => "updateTemplateSelection(10);"}) %>
	</div>
	<div id="templates-container">
		<h4>Outside Booklet</h4>
		<%= image_tag("/images/artwork_template/outside_booklet.png", :id=>'outside-booklet-icon')%>
		<div id="outside-booklet" class="template-container blue-template outside-booklet"></div>
		<h4>Inside Booklet</h4>
		<%= image_tag("/images/artwork_template/inside_booklet.png", :id=>'inside-booklet-icon')%>
		<div id="inside-booklet" class="template-container blue-template inside-booklet"></div>
		<h4>Outside Traycard <span>Inside Traycard</span></h4>
		<%= image_tag("/images/artwork_template/outside_traycard.png", :id=>'outside-traycard-icon')%>
		<%= image_tag("/images/artwork_template/inside_traycard.png", :id=>'inside-traycard-icon')%>
		<div id="inside-traycard" class="template-container blue-template traycards"></div>
		<div id="customer-artwork">
			<% if @album.artwork %>
				<%= image_tag(artwork_400x400(@album), :alt=>'Your album artwork') %>
			<% else %>
				<%= image_tag('/images/artwork_template/aod_noart.jpg', :alt=>'Your album artwork') %>
			<% end %>
		</div>
	</div>
	<% select(:distribution, :template_id, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], {:include_blank => true}, {:disabled => !@distribution.can_update_metadata?})%>
	<%= hidden_field(:distribution, :template_id)%>
	<%= submit_tag "Save", :id => 'aod-submit' %>
<% end %>
