<% content_for :css do %>
  <%= stylesheet_link_tag "release_creation" %>
  <link type="text/css" rel="stylesheet" href="/stylesheets/artwork_template.css" />
<% end %>

<%= render partial: "shared/release_rejection", locals: {release: @album} if release_is_rejected? %>
<div class="row artwork_template">
  <section class="mainbody eight columns">
    <section class="album_info">
      <%= render :partial => 'album/album_info_small', :locals => {:album => @album} %>
    </section>

    <%= render(:partial => @distribution.store.abbrev)%>
  </section>
  <aside class="four columns">
    <div id="distribution-panel">
      <%= render :partial => '/album/checklist_and_distribution_ui', :locals => { :album => @album } %>
    </div>
  </aside>

  <%= render( :partial => 'album/distribute_modal_popup', :locals => { :album => @album }) %>
</div>
