.page-contents {
  width: 90%;
  margin: 2rem auto;
  line-height: 1.5;

  h2,
  h3 {
    font-weight: 500;
    padding-inline: 16px;
  }

  h3 {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .page-contents {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .page-contents {
    width: 60%;
  }
}

#adyen-payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;

  #dropin-container {
    width: 100%;
  }

  #dropin-fallback {
    padding: 2rem 0;
  }
}
