.artist-url-modal {
  display: none;
}

.add-artist-url {
  background:none!important;
  color:inherit;
  border:none;
  font: inherit;
  cursor: pointer;
  font-family: Helvetica-Bold;
  font-size: 14px;
  color: rgb(30, 152, 211);
  letter-spacing: 0;
  line-height: 14px;
  outline: 0;
}

.artist-url-modal-show {
  .mfp-content {
    vertical-align: top;
    top: 150px;

    .artist-url-modal {
      display: block;
      width: 730px;
      margin: auto;
      max-width: 95%;
      box-shadow: 6px 5px 6px 2px #585858;

      .top {
        padding: 15px;
        background-color: #1293D1;
        color: white;
        height: 45px;
        h3 {
          color: #FFFFFF;
          font-size: 14px;
        }

        .fa-times {
          font-size: 18px;
          cursor: pointer;
        }
      }

      .bottom {
        font-size: 14px;
        padding: 15px 20px;
        background-color: white;

        .artist-url-input {
          padding: 10px;
          margin: 6px 0px;
          width: 100%;
          height: 34px;
          border: 1px solid rgba(151,151,151,1);

          &:disabled {
            background-color: rgba(155, 155, 155, 0.27);
            border: 1px solid #979797;
          }
        }

        .artist-urls-container {
          margin-bottom: 19px;

          .input-group {
            margin-bottom: 15px;
          }
        }

        .artist-url-modal-save {
          background-color: rgba(18,147,209,1);
          color: rgba(255,255,255,1);
          font-weight: bold;
          width: 163px;
          height: 42px;
          border: none;
          text-decoration: none;
        }

        .artist-url-modal-cancel {
          color: rgba(18,147,209,1);
          background-color: transparent;
          width: 163px;
          height: 42px;
          font-weight: bold;
          border: none;
          text-align: left;
          text-decoration: none;
        }

        .invalid-url-error-msg, .error-msg {
          background-color: rgba(208,2,27,1);
          padding: 0px 4px 5px;
          color: rgba(255,255,255,1);
          p {
            padding-top: 5px;
          }
        }

        button {
          outline: 0;
          border: none;
          -moz-outline-style: none
        }

        p {
          padding: 5px;
        }
      }
    }
  }
}

.fa-check {
  margin-left: 15px;
  margin-right: -5px;
  color: #9B9B9B;
}

.green {
  color: rgb(126, 211, 22);
}
