#suggested_artwork_container .suggested_artwork {
  width: 300px;
  height: 300px;
  display: block;
  float: left;
  border: solid 1px silver;
  margin: 8px 10px 8px 0px;
}

#loading_preview #window_contents {
  width: 600px;
  height: 600px;
}

#suggested_artwork_container .dialog {
  border: solid black 1px;
  background-color: white;
  padding: 16px 16px 25px;
}

#suggested_artwork_container .default_title {
  display:none;
}

#suggested_artwork_container .spinner-blue {
  margin: 132px 145px;
}

.suggested_cover_links {
  margin-top: 5px;
}

.suggested_cover_links .button_to {
  float: left;
}

.suggested_cover_links .cancel {
  float: right;
}

.suggested-artwork-preview-modal {
  position: relative;
  background: #FFF;
  padding: 20px 20px 60px 20px;
  width: auto;
  max-width: 600px;
  margin: 20px auto;
}
