#balance-history {
  margin-top: 20px;
}
.currency-toggle-info {
  color: #41ADD8;
  margin-bottom: 8px;
}
.currency-toggles.not-selected {
    text-decoration: none;
}
.multiple-currency-disclaimer-container {
  float: left;
  width: 80%;
  .multiple-currency-disclaimer-item {
    color: #717070;
    font-size: .8rem;
  }
  .multiple-currency-disclaimer-item.bold {
    margin-top: 10px;
    font-weight: bold;
  }
}
