@import "base/variables";
@import "base/mixins";

.hidden {
  display: none;
}

.link.font-normal {
  font-style: normal;
  text-transform: capitalize;
}

.stores_copy {
  font-size: 12px;
  font-weight: normal;
}

.no-border {
  border: none;
}
