

$pay_emph_color : #e7790e; // orange

@mixin pay-button-box-shadow($string){
  -webkit-box-shadow: $string;
  -moz-box-shadow: $string;
  box-shadow: $string;
}
@mixin pay-button-border-radius($radius: 2px){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin pay_button($backgroundColor, $border, $borderRadius, $fontColor, $fontSize, $fontWeight, $margin, $padding, $textTransform){
  background-color: $backgroundColor;
  border: $border;
  @include pay-button-border-radius($borderRadius);
  color: $fontColor;
  cursor: pointer;
  display: inline-block;
  font-size: $fontSize;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: $fontWeight;
  line-height: 1;
  margin: $margin;
  padding: $padding;
  text-decoration: none;
  text-transform: $textTransform;
  -webkit-font-smoothing: antialiased;

  &:hover, &:focus {
    background-color: $backgroundColor;
    border: $border;
    @include pay-button-box-shadow(inset 2px 2px 3px rgba(50, 50, 50, 0.2));
    color: $fontColor;
  }
}
@mixin pay_button_callout($backgroundColor: $pay_emph_color, $border: 1px solid #d8710d, $borderRadius: 3px, $fontColor: #fff, $fontSize: 1em, $fontWeight: 600, $margin: 10px 0 0, $padding: 0.65em 1.5em, $textTransform: uppercase){
  min-width: 93px !important;
  max-height: 30 px !important;
  @include pay_button($backgroundColor, $border, $borderRadius, $fontColor, $fontSize, $fontWeight, $margin, $padding, $textTransform);
  &:active {
    background-color: #df750d;
    border: 1px solid #d8710d;
  }
}


#cart {
  header {
    margin: 0 0 30px;
  }

  header h2 {
    color: #333;
    font-size: 2em;
    font-weight: normal;
  }

  nav {
    margin-bottom: 20px;
  }

  nav .button-callout {
    margin-top: 0;
  }

  .cart-terms-link {
    padding-top: 0.5em;
  }

  label {
    float: none;
    width: auto;
  }

  .cart_items header {
    margin-bottom: 0;
  }

  .cart_items_content header {
    margin-top: 0;
  }

  .cart_item_headers {
    display: none;
  }

  .upsell_item {
    background: url(/images/cart/line_item_upsell_bg.jpg);
    box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.6);
  }

  .upsell_item .cart_item-description {
    margin-bottom: 0;
  }

  .upsell_item .cart_item-description p {
    margin-bottom: 0;
  }

  .upsell_item .cart_item-itemprice {
    font-weight: 700;
  }

  .upsell_item .cart_item-actions p {
    font-size: .75rem;
    margin-top: 10px;
    padding-right: 50px;
  }

  .upsell_item .cart_item-actions p a {
    color: #333;
    font-family: inherit;
    font-style: normal;
    text-decoration: underline;
  }

  .upsell_item .button-callout-alt {
    margin-top: 0;
  }

  .soundout-track {
    font-family: Georgia, serif;
    font-style: italic;
    color: #777;
  }

  .upsell_items {
    background-image: url(/images/cart_upsell_bg.jpg);
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    margin-bottom: 40px;
  }

  .upsell_items header {
    background-color: #d9ebf7;
    border-bottom: 1px solid #b6b6b6;
    box-shadow: inset 0 1px 1px 1px #dddddd;
    margin-top: 0;
  }

  .upsell_items header h3 {
    color: #606062;
  }

  .upsell_items .cart_item:last-child {
    border-bottom: 0;
  }

  .upsell_items .upsell-cart {
    float: right;
  }

  .upsell_items .cart_item-itemprice {
    background: transparent;
  }

  .upsell_items-shadow {
    border-radius: 5px;
    box-shadow: inset 0 -1px 1px 1px #dddddd;
    margin-right: 0;
    margin-left: 0;
  }

  .no-background {
    background: none !important;
  }

  .upgrade-required-text {
    color: $pay_emph_color;
    font-style: italic;
  }

  .cart-subtotal {
    background-color: #f3f3f3;
    border-bottom: 1px solid #b5b5b5;
    margin: 0;
    padding: 15px 0;

    .column-title-container {
      display: flex;
      justify-content: space-between;
    }

    .without-header {
      justify-content: flex-end;
    }

    #flash_notice {
      margin: 20px 0 0 0;
      color: #fd3e3e;
      text-align: right;
    }

    .vat_title {
      font-style: italic;
    }

    .vat_form_content {
      font-size: 10px;
      display: flex;

      .customer_type-fieldset {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
        padding-bottom: 0;

        & > label {
          font-size: 10px;
          min-width: 115px;
          max-width: 250px;
          text-align: left;
        }

        ul.radio-input-group {
          flex-grow: 0.5;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          & > li {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 0;

            & > label {
              font-family: Roboto, sans-serif;
              float: none;
              font-weight: 500;
              width: auto;
              font-size: 12px;
              // line-height: 21px;
              display: inline-block;
              vertical-align: top;
              cursor: pointer;
              margin-left: 4px;

              @supports (-webkit-appearance: none) or (-moz-appearance: none) {
                .radio-input {
                  --active-inner: #0da7f2;
                  --focus: 2px rgba(39, 94, 254, 0.3);
                  --border: #6a6a6a;
                  --border-hover: #275efe;
                  --background: #fff;
                  --disabled: #fff;
                  --disabled-inner: #fff;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  height: 16px;
                  width: 16px;
                  outline: none;
                  display: inline-block;
                  vertical-align: top;
                  position: relative;
                  margin: 0;
                  cursor: pointer;
                  border: 1px solid var(--bc, var(--border));
                  background: var(--b, var(--background));
                  transition: background 0.3s, border-color 0.3s,
                    box-shadow 0.2s;
                  &:after {
                    content: "";
                    display: block;
                    left: 0;
                    top: 0;
                    position: absolute;
                    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
                      opacity var(--d-o, 0.2s);
                  }
                  &:checked {
                    --d-o: 0.3s;
                    --d-t: 0.6s;
                    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
                  }
                  &:disabled {
                    --b: var(--disabled);
                    cursor: not-allowed;
                    opacity: 0.9;
                    &:checked {
                      --b: var(--disabled-inner);
                      --bc: var(--border);
                    }
                  }
                  &:hover {
                    &:not(:checked) {
                      &:not(:disabled) {
                        --bc: var(--border-hover);
                      }
                    }
                  }
                  &:focus {
                    box-shadow: 0 0 0 var(--focus);
                  }
                  &:not(.switch) {
                    width: 16px;
                    &:after {
                      opacity: var(--o, 0);
                    }
                    &:checked {
                      --o: 1;
                    }
                  }
                }

                .radio-input {
                  border-radius: 50%;

                  &:after {
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    background: var(--active-inner);
                    opacity: 0;
                    transform: scale(var(--s, 0.8));
                  }
                  &:checked {
                    --s: 0.6;
                  }
                }
              }
            }
          }
        }
      }

      .text-input-fieldset {
        display: flex;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 20px;

        ul {
          display: flex;
          width: 100%;

          li {
            flex-grow: 1;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            width: 145px;

            label {
              font-size: 10px;
              text-align: start;
            }

            input[type="text"] {
              width: 145px;
            }
          }

          .vat_number_input_container {
            display: flex;
            align-items: flex-start;

            li {
              label {
                padding-right: 0;
              }
            }

            .vat_tooltip-container{
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;

              .vat_tooltip {
                line-height: 1;
                font-size: 12px;
                padding: 5px;
              }

              .filler-container {
                height: 25px;
              }
            }

            &.left_aligned_tooltip {
              li {
                label {
                  padding-right: 20px;
                }
              }

              .vat_tooltip-container {
                margin-left: -20px;

                .vat_tooltip {
                  padding: 5px 5px 0;
                }
              }
            }
          }

          .company_name_input_container {
            margin-left: 10px;

            &.hide {
              display: none;
            }
          }
        }
      }
    }

    .show-for-small-screens {
      display: none;
    }

    @media screen and (max-width: 767px) {
      .vat_title {
        font-size: 13px;
        text-align: start;
      }

      .hide-for-small-screens {
        display: none;
      }

      .show-for-small-screens {
        display: block;
      }

      .vat_form_content {
        flex-direction: column;

        .customer_type-fieldset {
          flex-direction: column;
          align-items: flex-start;
          margin-top: 10px;

          & > label {
            width: auto;
            text-align: start;
            font-size: 11px;
          }

          ul.radio-input-group {
            flex-grow: unset;

            & > li {
              & > label {
                margin: 0;
              }
            }
          }
        }

        .text-input-fieldset {
          margin-left: 0;

          ul {
            flex-direction: column;

            li {
              flex-grow: unset;
              width: auto;

              label {
                font-size: 11px;
              }

              input[type="text"] {
                width: auto;
              }
            }

            .vat_number_input_container {
              margin-top: 10px;
            }

            .company_name_input_container {
              margin-left: 0;
              margin-top: 10px;
            }
          }
        }
      }
    }

    @media screen and (min-width: 768px) and (max-width: 980px) {
      .vat_form_content {
        flex-direction: column;

        .customer_type-fieldset {
          ul.radio-input-group {
            justify-content: unset;

            & > li {
              flex-grow: unset;
            }
          }
        }

        .text-input-fieldset {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }
  }

  .vat-rate-container,
  .vat-amount-container {
    .vat-rate-label,
    .vat-amount-label {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .vat-rate-container,
    .vat-amount-container {
      text-align: right;

      .vat-rate-label,
      .vat-amount-label {
        display: inline;
      }
    }
  }

  .cart-expander_stores {
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    margin: 0;
    overflow: hidden;
  }

  .cart-expander_stores .cart_item:nth-child(even) {
    background-color: #F3F3F3;
  }

  .cart-expander_stores .cart_item:last-child {
    border-bottom: 0px;
  }

  .cart-expander_stores .cart_item-icon {
    background-color: #fff;
    height: 49px;
    margin-left: 15px;
    padding: 0;
    text-align: center;
    width: 49px !important;
  }

  .cart-expander_stores .cart_item-itemprice {
    background-color: transparent;
    z-index: 0;
  }

  .cart-expander_stores .salepoint_price {
    margin-left: -6px;
    padding-left: 0;
  }

  .cart-expander_stores .cart_item-bundle_item {
    position: relative;
  }

  .cart-expander_stores .album_price {
    bottom: 10px;
    font-size: 1.5em;
    position: absolute;
    right: 0;
  }

  .cart-expander_stores .actions {
    clear: both;
  }

  .cart_item .row {
    position: relative;
  }

  .cart_item-automator .album_price {
    margin-left: 25px;
  }

  .cart_item-automator .actions {
    margin-left: -2px;
  }

  .cart_item-icon,
  .cart_item-description {
    float: left;
    margin-bottom: 10px;
  }

  .cart_item-icon h3,
  .cart_item-description h3 {
    font-size: 1.25em;
    line-height: 1;
    padding-bottom: 5px;
  }

  .cart_item-icon p,
  .cart_item-description p {
    margin-bottom: 10px;
  }

  .cart_item-description {
    margin-top: 5px;
  }

  .cart_item-icon {
    padding-right: 7px;
    padding-left: 15px;
  }

  .cart_item-icon img {
    max-height: 50px;
    max-width: 50px;
  }

  .cart_item-itemprice {
    background: #fff;
    bottom: 0;
    font-size: 2em;
    font-weight: 700;
    position: absolute;
    right: 0;
    z-index: 1;

    .desktop-only{
      display: none;
    }

    .mobile-only{
      display: inline;
    }
  }

  .cart_item-actions {
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .cart_item-price {
    font-size: 2em;
    text-align: right;

    .vat_tooltip {
      margin-left: 5px;
    }

    @media screen and (min-width: 768px) {
      .vat_tooltip {
        display: none;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .vat-tooltip-containment {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .vat_tooltip {
        font-size: 14px;
      }
    }
  }

  .cart-subtotal_txt {
    text-align: right;
    &.gst_invoice {
      text-align: left;
      padding-left: 15px;
    }
    &.balance_used {
      font-size: 1em;
      text-transform: capitalize;
    }
  }

  .cart-total_price {
    text-align: right;
  }

  .ccbox {
    background-color: #f9f9f9;
    border: 1px solid #dadada;
    font-size: .9em;
    margin-right: 5px;
    margin-bottom: 15px;
    padding: 12px;
    input.cvv {
      display: none;
    }

    &.selected {
      input.cvv {
        display: block;
        width: 100px;
        border: 2px solid #e7790e;
        padding: 2px 4px;
        outline: none;
      }

      input.cvv::-webkit-outer-spin-button,
      input.cvv::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input.cvv {
        -moz-appearance: textfield;
      }
    }
  }

  .ccbox.ccbox-expired {
    background-color: #ffffe2;
    border-color: #e91c2c;
  }

  .ccbox input {
    margin-top: 7px;
  }

  .loading-cart-spinner {
    display: none;
    margin-right: 10px;
  }
}

#cart.confirm_pay .cart-subtotal {
  background-color: #efefef;
}
#cart.confirm_pay .cart-subtotal:last-child {
  border-bottom: 0;
}
#cart {
  i.qtip-it {
    color: #3b96cf;
    cursor: pointer;
    padding-left: 2px;
    font-size: 16px;
    vertical-align: top;
  }
  .gstin {
    text-align: right;
  }
}

button.pay_button {  @include pay_button_callout(); }

.confirm_pay .pay_button,
.one_time_payment_pay_button .pay_button {
  float: right;

  &:disabled {
    cursor: not-allowed;
    background-color: #e5e5e5;
    border: 1px solid #d6d6d6;
    color: #777;
    &:hover, &:focus {
      box-shadow: none;
    }
  }
}
.confirm_pay .pay_notice,
.one_time_payment_pay_button .pay_notice,
.pay_notice_select_payment_method {
  clear: both;
  font-size: .9em;
  padding-top: 5px;
  text-align: right;
}
.confirm_pay .button-callout,
.confirm_pay .button-callout-alt,
.confirm_pay .button-interface,
.confirm_pay input[type="submit"] {
  margin-top: 0;
}
.confirm_pay .cart-subtotal_txt,
.confirm_pay .cart-balance_info,
.confirm_pay .cart-balance_button {
  text-align: right;
}
.confirm_pay .cart-balance_button a {
  padding: 0.65em 1em;
}
.confirm_pay .cart-subtotal_txt {
  line-height: 1.9;
}
.confirm_pay .cc-select {
  float: left;
}
.confirm_pay .cc-info {
  float: left;
  padding: 0 15px;
}
.confirm_pay .cc-billed-info .ccbox {
  float: right;
}
.confirm_pay footer {
  padding: 15px 30px;
}
.confirm_pay footer input[type="submit"] {
  float: right;
}
.confirm_pay footer p {
  text-align: right;
}

.confirm_pay .payment_method_required_wrapper {
  padding: 0 1em 1em 0;
}

.cart_addon {
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  float: left;
  margin: 0 15px 10px;
  padding: 15px;
  width: auto;
}
.cart_addon .cart_addon-logo {
  display: none;
}
.cart_addon .cart_addon-price {
  text-align: right;
}
.cart_addon .cart_addon-actions {
  padding: 10px 0;
}
@media screen and (max-width: 767px) {
  #cart .cart_item-actions p {
    display: inline;
    margin-right: 10px;
  }
  #cart .cart_item-actions a {
    background-color: #e5e5e5;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    color: #777;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin: 10px 0 0;
    padding: 0.65em 1.5em;
    text-decoration: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
    padding: 0.5em;
    white-space: nowrap;
  }
  #cart .cart_item-actions a:hover,
  #cart .cart_item-actions a:focus {
    background-color: #e5e5e5;
    border: 1px solid #d6d6d6;
    box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
    color: #777;
  }
  #cart .cart_item-actions a:active {
    background-color: #dcdcdc;
    border: 1px solid #d6d6d6;
  }
  #cart .cart-expander_stores .actions {
    width: 75% !important;
  }
  #cart .cart-expander_stores .actions p {
    display: inline;
    margin-right: 10px;
  }
  #cart .cart-expander_stores .actions a {
    background-color: #e5e5e5;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    color: #777;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin: 10px 0 0;
    padding: 0.65em 1.5em;
    text-decoration: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    margin-top: 5px;
    padding: 0.5em;
    white-space: nowrap;
  }
  #cart .cart-expander_stores .actions a:hover,
  #cart .cart-expander_stores .actions a:focus {
    background-color: #e5e5e5;
    border: 1px solid #d6d6d6;
    box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
    color: #777;
  }
  #cart .cart-expander_stores .actions a:active {
    background-color: #dcdcdc;
    border: 1px solid #d6d6d6;
  }
  .cart_addon {
    padding-bottom: 51px;
    position: relative;
    width: 91.5%;
  }
  .cart_addon .cart_addon-price {
    bottom: 15px;
    font-size: 2em;
    font-weight: 700;
    position: absolute;
    right: 15px;
  }
  .cart_addon .cart_addon-actions p {
    display: inline;
    margin-right: 10px;
  }
  .cart_addon .cart_addon-actions a {
    background-color: #e5e5e5;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    color: #777;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin: 10px 0 0;
    padding: 0.65em 1.5em;
    text-decoration: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
    padding: 0.5em;
  }
  .cart_addon .cart_addon-actions a:hover,
  .cart_addon .cart_addon-actions a:focus {
    background-color: #e5e5e5;
    border: 1px solid #d6d6d6;
    box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
    color: #777;
  }
  .cart_addon .cart_addon-actions a:active {
    background-color: #dcdcdc;
    border: 1px solid #d6d6d6;
  }
  .gstin-input {
    text-align: right;
    margin: 10px 0;
  }
  .cart_deduction {
    float: right;
  }
  .cart_mobile-gst-info {
    clear: both;
    float: right;
  }
  .total_charged {
    text-align: right;
  }

  .renewal_disclaimer {
    padding: 1em;
  }
}
.cart_items {
  font-size: 13px;
}
.cart_items > header {
  background-color: #3b96cf;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  padding: 1.2em .8em .8em;
}
.cart_items > header h3 {
  color: #fff;
  font-size: 1.3em;
}
.cart_items_content {
  overflow: hidden;
}
.cart_items_content > header {
  background-color: #3b96cf;
  padding: 1.2em .8em .8em;
}
.cart_items_content > header h3 {
  color: #fff;
  font-size: 1.3em;
}
.cart_items_content {
  border: 1px solid #b5b5b5;
  border-width: 0 1px 1px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  margin-bottom: 30px;
}

.cart_items_content.in_cart_items {
  margin-bottom: 5px;
}

.in_decimal_disclaimer {
  margin-bottom: 15px;
}

.cart-secondary_txt {
  color: #777;
  font-family: Georgia, serif;
  font-style: italic;
}
.cart_item {
  border-bottom: 1px solid #b5b5b5;
  padding: 15px;
}
.row.cart_item-bundle_item {
  padding-bottom: 10px;
}
.cart_item-bundle_items {
  background-color: #fff;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  max-height: 560px;
  overflow: auto;
}
.cart_item-bundle_items img {
  height: 50px;
  width: 50px;
}
.cart-next_actions .btn {
  margin-right: 7px;
}
.partially_paid_items h2 {
  margin-bottom: 10px;
}
.cart-total_gst-inclusive {
  font-size: 13px;
  font-weight: normal;
}
.cart-total_decimal-disclaimer {
  float: right;
  margin-right: 15px;
  text-align: right;
  width: 50%;
}
.cart-total_price {
  font-size: 2em;
  font-weight: bold;
}
.cart-subtotal_txt {
  color: #333;
  font-size: 1.5em;
  font-family: Georgia, serif;
  font-style: italic;
  line-height: 1.5;
  text-transform: uppercase;
}
.cart_deduction {
  color: #007336;
  display: inline-block;
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 10px;
}
.apply_vat_msg{
  text-align: right;
}
.cart_balance {
  color: #007336;
}
.payment_methods, .checkout_phone_number {
  padding: 15px;
}
.breadcrumbs {
  font-size: 1.2em;
  margin-bottom: 36px;
  overflow: hidden;
}
.breadcrumbs a,
.breadcrumbs span {
  background-color: #fff;
  border: 1px solid #dadada;
  border-width: 1px 0;
  color: #777;
  display: block;
  line-height: 36px;
  float: left;
  font-family: Georgia, serif;
  font-style: italic;
  padding: 0 10px 0 30px;
  position: relative;
}
.breadcrumbs a:after,
.breadcrumbs span:after {
  background-color: #fff;
  border: 1px solid #dadada;
  border-width: 1.75px 1.75px 0 0;
  border-radius: 0 5px 0 50px;
  content: '';
  position: absolute;
  top: -1px;
  right: -19px;
  width: 36px;
  height: 36px;
  -webkit-transform: scale(0.707) rotate(45deg);
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
}
.breadcrumbs a:first-child:before,
.breadcrumbs span:first-child:before {
  background-color: #fff;
  border: 1px solid #dadada;
  border-width: 1.75px 1.75px 0 0;
  border-radius: 0 5px 0 50px;
  content: '';
  left: -18px;
  position: absolute;
  top: -1px;
  width: 36px;
  height: 36px;
  -webkit-transform: scale(0.707) rotate(45deg);
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
}
.breadcrumbs .active {
  background-color: #eaeaea;
  color: #5f5f5f;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
}
.breadcrumbs .active:after {
  background-color: #eaeaea;
}
.breadcrumbs a:hover {
  color: #2795b6;
}
.box-promo label {
  color: #333;
  font-weight: normal;
  font-family: georgia;
  font-style: italic;
}
.box-promo input {
  margin-bottom: 10px;
  width: 120px;
}
.box-promo .btn {
  font-size: .85em;
  padding: .25em .5em;
}
.targeted_offer-highlight {
  font-weight: 700;
}
.block-grid {
  padding-top: 5px;
}
.block-grid li {
  clear: none;
  margin-bottom: 0;
}
aside {
  margin-top: 115px;
}
aside .cart_item {
  text-align: center;
}
aside .cart_item h3 {
  font-size: 1.25em;
  line-height: 1;
  padding: 10px 0;
}
aside .cart_item img {
  max-width: 75px;
}
aside .cart_item p {
  font-weight: 400;
  line-height: 1;
}
aside .cart_item p + p {
  padding-top: 10px;
}
aside .youtube_money {
  background-color: #f7f7f7;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  box-shadow: inset 1px 1px 5px 1px rgba(51, 51, 51, 0.2);
  margin-bottom: 10px;
  padding: 15px;
  text-align: center;
}
aside .youtube_money img {
  max-width: 75px;
}
aside .youtube_money h3 {
  font-size: 1.35em;
  line-height: 1;
  padding: 20px 0 10px;
}
aside .youtube_money p {
  line-height: 1.25;
}
aside .youtube_money p + p {
  padding-top: 20px;
}
aside .youtube_money p em {
  font-family: Georgia, serif;
  font-size: 1.05em;
}
@media screen and (min-width: 768px) {
  #cart .cart_item_headers {
    background-color: #d9ebf6;
    color: #848688;
    display: block;
    font-style: italic;
    border-bottom: 1px solid #b5b5b5;
    margin-left: 0;
    margin-right: 0;
    padding: 5px 0;
    font-family: Georgia;

    .columns {
      .header-item-label {
        word-wrap: break-word;
      }

      .vat-header-item {
        margin-left: -15px;
      }
    }

    .vat_tooltip {
      font-style: normal;
    }
  }
  #cart .cart_item-description {
    margin-top: 0;
  }
  #cart .cart_item-description h3 {
    font-size: 1.15em;
  }
  #cart .cart_item-itemprice {
    display: block;
    font-size: 1em;
    font-weight: 400;
    position: relative;
    text-align: left;
  }
  #cart .cart_item-actions {
    clear: none;
    padding: 0;
  }
  #cart .cart_item-price {
    display: flex;
    font-size: 1em;
    text-align: left;
  }
  #cart .cart-total_price {
    text-align: left;
  }
  #cart .cart-expander_stores .cart_item-icon {
    height: 50px;
    width: 50px !important;
  }
  #cart .cart-expander_stores .album_price {
    bottom: auto;
    font-size: 1em;
    position: relative;
    right: auto;
  }
  #cart .cart-expander_stores .actions {
    clear: none;
  }
  #cart .upsell_items .upsell-cart {
    margin-right: 1%;
  }
  .cart-total_price {
    font-size: 1.4em;
  }
  .cart-subtotal_txt {
    font-size: 1.2em;
  }
  .cart_addon {
    float: none;
    margin: 0 15.1% 10px 8.1%;
  }
  .cart_addon > div {
    display: inline-block;
    vertical-align: top;
  }
  .cart_addon .cart_addon-logo {
    display: inline-block;

    &.attachment_logo {
      max-width: 50px;
    }
  }
  .cart_addon .cart_addon-description {
    padding: 0 10px;
    width: 47.3%;
  }
  .cart_addon .cart_addon-price {
    text-align: left;
    width: 20%;
  }
  .cart_addon .cart_addon-actions {
    padding: 0;
  }
  .confirm_pay .cart-balance_info {
    line-height: 30px;
    padding-right: 0;
  }
  .confirm_pay .cart-balance_button {
    text-align: left;
  }
  aside.columns {
    padding: 0;
  }
  .cart_mobile-only {
    display: none;
  }
  .renewal_disclaimer {
    padding: 1em;
    position: absolute;
  }

  .renewal_disclaimer_wrapper {
    float: right;
  }
}
.social-cart-cta {
  margin-top: 10px;
}

.social-cta-terms-of-service {
  color: #333;
  font-family: inherit;
  font-size: 0.87em;
  font-style: normal;
  text-decoration: underline;
  &:hover, &:active {
    color: #333;
  }
}

.balance_used {
  color: green;
  &.gst_invoice {
    color: inherit;
  }
}

.gst_adjust_padding {
  padding: 3px 0 0 0;
}

.gst_subtotal_amount {
  font-size: 1.8em;
}

.renewal_disclaimer {
  padding: 1em;
}

.cart-subtotal_txt {
  .subtext {
    text-transform: none;
    font-style: normal;
    font-size: 10px;
  }

  .vat-txt {
    font-size: .7em;
    width: 200px;
    float: right;
    text-transform: none;
  }
}

.right-aligned-column {
  .vat-txt {
    width: auto;
    float: none;
  }
}

.cart_addon-vat-price{
  padding-left: 15px;
  padding-right: 48px;
}

.cart-vat-total {
  background-color: #fff;
  border-bottom: 1px solid #b5b5b5;
  margin: 0;
  padding: 15px 0;
}

.attachment-vat .columns {
  float: none;
}

.cart_addon.plan-upgrade .cart_addon-description {
  margin-right: 5px;
}

.cart_addon.attachment-vat .cart_addon-description {
  margin-right: 12px;
}

.cart_addon.attachment-vat .vat-amount-placeholder {
  margin-left: -21px;
}

@media screen and (max-width: 767px) {
  .store-expander-vat {
    .vat-amount-container {
      margin-bottom: 30px;
    }
  }

  #cart {
    .cart_item-itemprice.hide-total-amount {
      padding-left: 120px;
    }
  }
}

@media screen and (min-width: 768px) {
  .automator-vat,
  .booklet-vat {
    .vat-rate-container {
      width: 11%;
    }

    .vat-rate-container,
    .vat-amount-container {
      strong {
        margin-left: 10px;
      }
    }
  }

  #cart {
    .cart_item-itemprice {
      min-height: 2px;

      .desktop-only {
        display: inline;
      }
      .mobile-only {
        display: none;
      }
    }

  }

  .preorder-vat {
    & > .row {
      display: block;
    }

    .vat-rate-container {
      strong {
        margin-left: -6px;
      }
    }

    .vat-amount-container {
      strong {
        margin-left: -16px;
      }
    }
  }

  .store-expander-vat {
    .vat-rate-container {
      strong {
        margin-left: 42px;
      }
    }

    .vat-amount-container {
      strong {
        margin-left: 64px;
      }
    }
  }
}

.compliance_info_form_content {
  .locked-field-qtip {
    color: #339de5;
  }

  select {
    width: 185px;
  }

  .input-wrapper {
    margin: 5px 0px;
  }

  ul li {
    list-style: none;
    margin: 5px 0px;
  }
}

.locked-field-qtip-box {
  .ui-widget-header {
    background: #339de5;
  }
  .qtip-title {
    color: white;
    background: #339de5;
    width: 100%;
  }
  padding: 5px;
}

.vat_form_content {
  ul.radio-input-group {
    li {
      display: inline-block;
    }
  }
}

.confirm-information-form-container {
  padding: 20px;
  border: 1px solid #b5b5b5;
  margin-bottom: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.vat-information-form-container {
  padding: 15px;

  .vat_form_elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;

    .vat_form_input_elements {
      margin-right: 1em;

      .vat_number_input_container {
        display: flex;
      }
    }

    .vat_form_button_container {
      .button-callout {
        margin: 1em 0;

        &:disabled {
          cursor: not-allowed;
          background-color: #e5e5e5;
          border: 1px solid #d6d6d6;
          color: #777;
          &:hover, &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}

.error-text {
  color: #f16969;
  font-weight: 600;
}

.compliance_info_form_content {
  .customer_type-fieldset {
    margin-top: 1em;

    & > label {
      font-weight: normal;
    }
  }
}

.compliance-info-form-input-list  { list-style: none; }

.vat-removal-warning {
  max-width: max-content;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fffde8;
  border: 1px solid #f3ecb0;
  padding: 10px;
}


.payment_methods .adyen-row {
  margin-top: 2rem;

  #adyen-loader {
    margin-left: 1.1em;
    width: fit-content;
  }

  .adyen-payment-selection {
    display: flex;
    align-items: center;
    margin: 8px 0;

    &.generic {
      color: hsl(0deg, 0%, 50%);

      label {
        cursor: not-allowed;
      }
    }
  }
}

.payment_methods .adyen-row,
#adyen-charge-templates-container {
  label {
    float: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 0;
    margin-left: 1rem;
    padding: 0;
    text-align: start;
    cursor: pointer;

    span {
      margin-right: 1em;
    }

    svg {
      overflow: initial;
    }
  }
}

#adyen-charge-templates-container {
  background-color: #f9f9f9;
  border: 1px solid #dadada;
  padding: 12px;
  width: fit-content;
  margin-left: auto;

  label {
    margin-left: 0;
  }
}

#adyen-templates-container {
  display: flex;
  float: none;
  margin: -0.6rem;
  flex-wrap: wrap;

  .adyen-payment-selection {
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    padding: 1rem 0.8rem;
    margin: 1rem;
    width: 100%;

    @media screen and (min-width: 425px) {
      flex-basis: 222px;
      margin: 0.6rem;
    }

    &.selected {
      background: hsl(203deg, 61%, 95%);
      border-color: hsl(203deg, 61%, 68%);
    }

    label {
      margin-left: 0.5rem;
      font-size: 0.85rem;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}
