.box {
  position: relative;
  padding: 10px;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 10px;
}
.box.whitebg {
  background-color: #FFFFFF;
}
.box > .summary {
  float: left;
}
.box > .summary > h3 {
  font-size: 1.6em;
  margin-bottom: 5px;
}
.box > .summary > p {
  margin: 0;
  line-height: 1.5em;
}
.box > .details {
  float: right;
  text-align: right;
}
.box > .details p {
  margin: 0;
}
.box > .details p.red {
  color: red;
}
.box > .details .price {
  position: relative;
  font-size: 1.8em;
  font-weight: 700;
}
.box > .details .price.sale:after {
  position: absolute;
  top: 0;
  left: 0;
  content: 'Sale';
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  background-color: yellow;
  color: red;
  border-radius: 5px;
  font-size: .75em;
  font-weight: 700;
  padding: 2px 3px;
  line-height: 1em;
}
.box > .details > nav {
  position: absolute;
  top: -25px;
  right: 20px;
}
.box > .details > nav > span {
  margin-right: 10px;
}
.box > .details > nav > a {
  position: relative;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: inline-block;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  color: #000000;
}
.box > .details > nav > a.active {
  background-color: #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}
.box > .details > nav > a.sale:after {
  position: absolute;
  top: -8px;
  left: -11px;
  content: 'Sale';
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  background-color: yellow;
  color: red;
  border-radius: 5px;
  font-size: .75em;
  font-weight: 700;
  padding: 2px 3px;
  line-height: 1em;
}
.box > .blue-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.red-box {
  position: relative;
  padding: 10px;
  border: 1px solid #e23f3f;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 5px;
}
.blue-box {
  position: relative;
  padding: 10px;
  border: 1px solid #44b1fa;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 5px;
}
.blue-btn {
  display: inline-block;
  padding: 6px 10px;
  margin-top: 0.5em;
  background-color: #44b1fa;
  color: #FFF;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 0.5em;
  font-style: normal;
  font-weight: 400;
  /* .transition(all 0.2s ease-in-out); */
  font-size: 1em;
  color: #FFFFFF !important;
}
.blue-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #44b1fa;
}
.blue-btn:active {
  box-shadow: 0px 0px 40px #44b1fa;
}
.blue-btn:hover {
  color: #FFFFFF;
}
.red-btn {
  display: inline-block;
  padding: 6px 10px;
  margin-top: 0.5em;
  background-color: #e23f3f;
  color: #FFF;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 0.5em;
  font-style: normal;
  font-weight: 400;
  /* .transition(all 0.2s ease-in-out); */
  font-size: 1em;
  color: #FFFFFF !important;
}
.red-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px #e23f3f;
}
.red-btn:active {
  box-shadow: 0px 0px 40px #e23f3f;
}
.red-btn:hover {
  color: #FFFFFF;
}
.grey-btn {
  display: inline-block;
  padding: 6px 10px;
  margin-top: 0.5em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 0.5em;
  font-style: normal;
  font-weight: 400;
  /* .transition(all 0.2s ease-in-out); */
  font-size: 1em;
  color: #FFFFFF !important;
}
.grey-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.grey-btn:active {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}
.grey-btn:hover {
  color: #FFFFFF;
}
.tag {
  border-radius: 3px;
  display: inline-block;
  padding: 3px 5px;
  background-color: #CCCCCC;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 5px;
  margin-bottom: 5px;
}
.tag > .xclose {
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 20px;
  border-radius: 10px;
  padding: 0 4px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: .9em;
  cursor: pointer;
}
.tag:hover {
  color: #FFFFFF;
}
.exclude .include {
  display: none;
}
.exclude .tag {
  background-color: #e23f3f;
}
.exclude .tag.reverse {
  background-color: #44b1fa;
}
.include .exclude {
  display: none;
}
.include .tag {
  background-color: #44b1fa;
}
.include .tag.reverse {
  background-color: #e23f3f;
}
#countries,
.countries {
  position: relative;
}
#countries .step,
.countries .step {
  display: none;
}
#countries #step3,
.countries #step3 {
  margin-top: -40px;
}
#countries h3,
.countries h3 {
  color: #333333;
  margin-bottom: 0.25em;
}
#countries .or,
.countries .or {
  font-weight: 700;
  color: #333333;
  padding-top: 50px;
}
#countries .countrySelectorMenu,
.countries .countrySelectorMenu {
  float: right;
  margin-top: -7px;
  padding-bottom: 10px;
}
#countries .tagger,
.countries .tagger {
  margin-bottom: 10px;
  float: left;
}
#countries .tagger .include,
.countries .tagger .include,
#countries .tagger .exclude,
.countries .tagger .exclude {
  color: #003855;
  font-weight: 700;
  font-size: 14px;
}
#countries .tagger input,
.countries .tagger input {
  width: 317px;
  padding: 3px 2px;
}
#countries .tagger p,
.countries .tagger p {
  font-size: .9em;
  color: #666666;
}
#countries .tags header,
.countries .tags header {
  height: auto;
  line-height: 2em;
}
#countries .tags header > h2,
.countries .tags header > h2 {
  font-size: 1.1em;
}
header {
  margin-bottom: 5px;
}
#countries .tags .tag_holder,
.countries .tags .tag_holder {
  min-height: 43px;
  padding-top: 3px;
}
.countryHelp {
  display: none;
  background-color: #f0f0f0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}
.countryHelp .hd {
  background-color: #e6e6e6;
  border-bottom: 1px dotted #999;
  color: #333;
  font-weight: 700;
  font-size: 1.6em;
  padding: 10px;
}
.countryHelp ul {
  font-size: 1.3em;
  list-style: disc;
  padding: 10px 10px 10px 25px;
}
.countryHelp li {
  padding-bottom: 5px;
}
.store-selection-container .accordion-header {
  padding-bottom: 20px;
}
.store-selection-container .accordion-body {
  background-color: transparent;
  border-radius: 5px;
  display: none;
  float: left;
  margin-left: 44px;
  padding: 0;
  max-width: 520px;
}
.store-selection-container .accordion-body .checkbox {
  margin: 0;
}
.store-selection-container .accordion-body p {
  padding: 10px;
  margin-bottom: 0;
}
.store-selection-container .rights-assignment {
  margin: 0;
  display: none !important;
}
.store-selection-container #store-group-itunes .accordion-body,
.store-selection-container #store-group-amazon-music .accordion-body,
.store-selection-container #store-group-pandora .accordion-body,
.store-selection-container #store-group-amazon-on-demand .accordion-body,
.store-selection-container #store-group-iheartradio .accordion-body,
.store-selection-container #store-group-groove .accordion-body,
.store-selection-container #store-group-napster .accordion-body,
.store-selection-container #store-group-youtube-music .accordion-body,
.store-selection-container #store-group-youtube-music-\/-youtube-shorts .accordion-body {
  display: block;
}
.store-selection-container .store-meta-data {
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 44px;
}
.store-selection-container .store-meta-data p {
  padding: 10px 10px 0;
}
.store-selection-container .store-meta-data p + p {
  padding-top: 0;
}
.store-selection-container .editor {
  background-color: #f0f0f0;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
}
.store-selection-container #store-group-groove #store-group-iheartradio .editor,
.store-selection-container #store-group-napster .editor {
  background-color: inherit;
  border: none;
}
.store-selection-container .editorContent {
  display: none;
}
.store-selection-container .editorContent .hd {
  padding-bottom: 5px;
}
.store-selection-container .apple-music-logo {
  background: transparent url("/images/store_logos/ww_square_color_35.png") no-repeat;
  padding-left: 40px;
  height: 40px;
}
.store-selection-container #myspaceContainer label {
  float: none;
}
.store-selection-container .store-price {
  text-transform: capitalize;
  font-weight: 700;
}
.store-selection-container .sale-price {
  font-weight: 700;
}
.store-selection-container #store-group-amazon-on-demand li:nth-child(odd) {
  clear: both;
  width: 210px;
}
.countryQuestion,
.showCountries {
  display: none;
}
.wwUpgrade {
  margin: 20px 0 -10px 0;
}
.wwUpgrade .upgrade {
  padding: 20px;
  margin: 0 -10px;
  background-color: #fffa92;
  color: #424242;
}
.wwUpgrade .upgrade p {
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1.5em;
}

.ww-activated {
    margin: 0px 0px 15px 0px;
    background-color: #fffa92;
    padding: 5px;
    color: #424242;
    border-radius: 5px;
}
.ww-activated p {
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5em;
}

.wwUpgrade .upgrade h2 {
  color: #424242;
  font-size: 2em;
  margin-bottom: 10px;
}
.wwThanks,
#wwDialog {
  display: none;
}
#wwDialog {
  font-size: 1.3em;
}
.wwAlert .red {
  font-weight: 700;
}
.ui-widget-content {
  background: url("/stylesheets/jquery-ui/images/ui-bg_flat_75_EFF5F7_40x100.png") repeat-x scroll 50% 50% #EFF5F7 !important;
  border: 1px solid #AAAAAA !important;
  color: #222222 !important;
}
.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
#countrySelectorDialog {
  font-size: 1.3em;
  height: 376px;
  overflow: auto;
}
.showCountries {
  width: 50%;
  margin-left: 25%;
  font-size: 13px;
}
.showCountries .box,
#countrySelectorDialog .box {
  background: none repeat scroll 0 0 rgba(210, 225, 233, 0.35);
}
.showCountries .box-scroll,
#countrySelectorDialog .box-scroll {
  max-height: 300px;
  overflow: auto;
}
.countries {
  float: left;
  padding-top: 20px;
  width: 100%;
}
section.basicinfo {
  margin-bottom: 0;
}
.normal {
  font-weight: normal;
}
.clear {
  clear: both;
}
.store-selection-form {
  padding-top: 20px;
}
#store-selection-container {
  background: #fff;
  margin-bottom: 60px;
  padding-top: 10px;
  position: relative;
}
.store-selection {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 50px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px;
}
.store-selection.even {
  background-color: #EFF5F7;
}
.store-selection.odd {
  min-height: 50px;
}
.store-selection .store_name,
.store-selection .selection-control {
  display: inline-block;
}
.store-selection .store_name {
  background: transparent url("/images/store_logos/stores_35x35_sprite.png?v=20170412") no-repeat;
  color: #003852;
  height: 35px;
  padding: 6px 0 6px 50px;
  position: relative;
  top: 6px;
}

.flex-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.aod-linkbar-border {
  border-top: 1px solid #979797;
}

.amazon-on-demand-link {
  background: transparent url("/images/store_logos/stores_35x35_sprite.png?v=20170412") no-repeat;
  background-position: 0 -245px;
  font-size: 18px;
  color: #000;
  height: 35px;
  padding: 6px 0 6px 50px;
  position: relative;
}

.amazon-on-demand-link > span.subtext {
  font-size: 12px;
  font-weight: normal;
}

.youtube-music-and-monetization-bar {
  background: transparent url("/images/store_logos/stores_35x35_sprite.png?v=20170412") no-repeat;
  background-position: 0 -1050px;
  font-size: 18px;
  color: #000;
  height: 35px;
  padding: 6px 0 6px 50px;
  position: relative;
}

.youtube-music-and-monetization-bar > span.subtext {
  font-size: 12px;
  font-weight: normal;
}

.success-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
}

.success-message p {
  color: #1293d1;
  font-size: 14px;
  font-weight: bold;
}

.aod-success-bar {
  display: flex;
  justify-content: space-between;
}

.aod-success-bar img {
  height: 14px;
  width: 14px;
}

.aod-success-bar .aod-edit {
  font-size: 14px;
}

.aod-success-bar .aod-more-info {
  margin: 15px;
  font-size: 14px;
}

.amazon-on-demand-wrapper {
  background-color: #fff;
  height: 75px;
  overflow: hidden;
  padding: 10px;
  margin: 0px 10px;
}

.store-selection .store_name label {
  float: none;
  font-size: 18px;
  margin-right: 0;
  padding-bottom: 5px;
}
.store-selection .store_name label:after {
  content: "";
  position: absolute;
  top: 34px;
  left: 45px;
  display: block;
  border-bottom: 1px solid #CCCCCC;
  width: 573px;
}
.store-selection .selection-control {
  float: right;
  padding-top: 12px;
}
.store-selection .selection-control label {
  float: left;
  margin: 0 5px 0 0;
  text-align: right;
  width: auto;
}
.rights-assignment {
  margin: 8px 0 25px 45px;
}
.rights-assignment .rights-label {
  float: none;
  font-weight: normal;
  padding-right: 45px;
}
.rights-assignment #fetchMyspaceIDHolder label {
  float: none;
}
.rights-assignment + .variable-pricing-assignment {
  margin-top: -10px;
}
.rights-label img {
  margin-top: 10px;
}
.variable-pricing-explanation p {
  padding: 0 40px;
}
.variable-prices {
  margin-left: 15px;
}
.variable-prices li {
  display: inline-block;
  line-height: 2.0;
}
.variable-prices label {
  float: none;
  margin-right: 10px;
}
.pricing-table {
  background-color: #fff;
  border-radius: 3px;
  padding: 10px 15px 15px;
}
.store-info {
  cursor: pointer;
  left: -9px;
  padding: 0 25px 22px 0;
  position: absolute;
  top: -6px;
}
.store_name.store_icon-az {
  background-position: 0 -35px;
}
.store_name.store_icon-np {
  background-position: 0 -70px;
}
.store_name.store_icon-em {
  background-position: 0 -105px;
}
.store_name.store_icon-gn {
  background-position: 0 -140px;
}
.store_name.store_icon-no {
  background-position: 0 -175px;
}
.store_name.store_icon-la {
  background-position: 0 -210px;
}
.store_name.store_icon-aod_us {
  background-position: 0 -245px;
}
.store_name.store_icon-rh {
  background-position: 0 -280px;
}
.store_name.store_icon-sz {
  background-position: 0 -315px;
}
.store_name.store_icon-gp {
  background-position: 0 -350px;
}
.store_name.store_icon-us,
.store_name.store_icon-ww {
  background-position: 0 -385px;
}
.store_name.store_icon-au {
  background-position: 0 -455px;
}
.store_name.store_icon-jp {
  background-position: 0 -490px;
}
.store_name.store_icon-eu {
  background-position: 0 -525px;
}
.store_name.store_icon-mx {
  background-position: 0 -560px;
}
.store_name.store_icon-ca {
  background-position: 0 -595px;
}
.store_name.store_icon-my {
  background-position: 0 -630px;
}
.store_name.store_icon-zn {
  background-position: 0 -665px;
}
.store_name.store_icon-tp {
  background-position: 0 -700px;
}
.store_name.store_icon-mn {
  background-position: 0 -735px;
}
.store_name.store_icon-sp {
  background-position: 0 -770px;
}
.store_name.store_icon-ac {
  background-position: 0 -805px;
}
.store_name.store_icon-uk {
  background-position: 0 -840px;
}
.store_name.store_icon-gm {
  background-position: 0 -875px;
}
.store_name.store_icon-st {
  background-position: 0 -910px;
}
.store_name.store_icon-sma {
  background-position: 0 -945px;
}
.store_name.store_icon-dz {
  background-position: 0 -980px;
}
.store_name.store_icon-jk {
  background-position: 0 -2415px;
}
.store_name.store_icon-yt {
  background-position: 0 -1050px;
}
.store_name.store_icon-sd {
  background-position: 0 -3010px;
}
.store_name.store_icon-mv {
  background-position: 0 -1120px;
}
.store_name.store_icon-pa {
  background-position: 0 -1155px;
}
.store_name.store_icon-rd {
  background-position: 0 -1190px;
}
.store_name.store_icon-wi {
  background-position: 0 -1225px;
}
.store_name.store_icon-su {
  background-position: 0 -1260px;
}
.store_name.store_icon-jb {
  background-position: 0 -1295px;
}
.store_name.store_icon-sk {
  background-position: 0 -1330px;
}
.store_name.store_icon-bm {
  background-position: 0 -1365px;
}
.store_name.store_icon-gvr {
  background-position: 0 -1400px;
}
.store_name.store_icon-akz {
  background-position: 0 -1435px;
}
.store_name.store_icon-ang {
  background-position: 0 -1470px;
}
.store_name.store_icon-kkb {
  background-position: 0 -1505px;
}
.store_name.store_icon-rvb {
  background-position: 0 -1540px;
}
.store_name.store_icon-spn {
  background-position: 0 -1575px;
}
.store_name.store_icon-nrm {
  background-position: 0 -1610px;
}
.store_name.store_icon-target {
  background-position: 0 -1645px;
}
.store_name.store_icon-yandex {
  background-position: 0 -1680px;
}
.store_name.store_icon-claro {
  background-position: 0 -1715px;
}
.store_name.store_icon-ytm {
  background-position: 0 -1750px;
}
.store_name.store_icon-playme {
  background-position: 0 -1785px;
}
.store_name.store_icon-zvooq {
  background-position: 0 -1820px;
}
.store_name.store_icon-saavn {
  background-position: 0 -1855px;
}
.store_name.store_icon-8track {
  background-position: 0 -1890px;
}
.store_name.store_icon-nmusic {
  background-position: 0 -1925px;
}
.store_name.store_icon-apple-music {
  background-position: 0 -1960px;
}
.store_name.store_icon-qsic {
  background-position: 0 -1995px;
}
.store_name.store_icon-cur {
  background-position: 0 -2030px;
}
.store_name.store_icon-mload {
  background-position: 0 -2065px;
}
.store_name.store_icon-dmusic {
  background-position: 0 -2100px;
}
.store_name.store_icon-pndr {
  background-position: 0 -2135px;
}
.store_name.store_icon-tnct {
  background-position: 0 -2310px;
}
.store_name.store_icon-boom {
  background-position: 0 -2170px;
}
.store_name.store_icon-ttunes {
  background-position: 0 -2240px;
}
.store_name.store_icon-island {
  background-position: 0 -2275px;
}
.store_name.store_icon-byda {
  background-position: 0 -2345px;
}
.store_name.store_icon-uma {
  background-position: 0 -2380px;
}
.store_name.store_icon-net {
  background-position: 0 -2450px;
}

.store_name.store_icon-go-yt {
  background-position: 0 -2485px;
}

.store_name.store_icon-joox {
  background-position: 0 -2520px;
}

.store_name.store_icon-tim {
  background-position: 0 -2555px;
}

.store_name.store_icon-hung {
  background-position: 0 -2590px;
}

.store_name.store_icon-zed {
  background-position: 0 -2625px;
}

.store_name.store_icon-gaana {
  background-position: 0 -2660px;
}

.store_name.store_icon-wkhg {
  background-position: 0 -2730px;
}

.store_name.store_icon-qob {
  background-position: 0 -2800px;
}

.store_name.store_icon-scld {
  background-position: 0 -2835px;
}

.store_name.store_icon-reels {
  background-position: 0 -2870px;
}

.store_name.store_icon-pel {
  background-position: 0 -2905px;
}

.store_name.store_icon-dou {
  background-position: 0 -2940px;
}

.store_name.store_icon-mtn {
  background-position: 0 -2975px;
}

.store_name.store_icon-luna {
  background-position: 0 -3045px;
}

#stores .store_icon-us,
.store-table.store_icon-mn,
.accordion-body .store_icon-us,
#selected-stores .store_icon-us,
#unselected-stores .store_icon-us,
.video-icons-table .store_icon-us {
  background-position: 0 -420px;
}
.more_info {
  font-size: 12px;
  font-weight: normal;
}
.all_stores {
  margin-bottom: 20px;
}
h2.store_icon-apple-music {
  margin-top: -5px;
}
h2.store_icon-apple-music:after {
  content: "";
  position: absolute;
  top: 34px;
  left: 45px;
  display: block;
  border-bottom: 1px solid #CCCCCC;
  width: 573px;
}
p.tagline {
  color: #666;
  line-height: 1em;
  display: inline-block;
  margin-left: 40px;
  margin-top: 5px;
}
.itunes-ww-accordion-body{
  margin-top: 20px;
}

.discovery-platform-msg p {
  margin-top: .5em;
}

@media screen and (max-width: 900px) {
  .store-selection .accordion-body {
    margin-left: 0;
  }
  #store-group-itunes .accordion-body,
  #store-group-amazon-music .accordion-body {
    margin-top: .5em;
  }
}
@media screen and (max-width: 400px) {
  .store-selection-container .more_info {
    display: block;
    width: fit-content;
  }
  .store-selection-container .store_name,
  .store-selection .store_name label {
    text-align: left;
  }
  h2.store_icon-apple-music:after,
  .store-selection .store_name label:after {
    top: 46px;
  }
}
@media screen and (max-width: 640px) {
  .variable-prices label {
    display: initial;
  }
}

/*# sourceMappingURL=source/country_and_store_selector.css.map */
