.customer_type.fieldset {
  ul.radio-input-group {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & > li {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      align-items: center;

      & > label {
        font-family: Roboto, sans-serif;
        float: none;
        font-weight: 500;
        width: auto;
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;

        @supports (-webkit-appearance: none) or (-moz-appearance: none) {
          .radio-input {
            --active-inner: #0da7f2;
            --focus: 2px rgba(39, 94, 254, 0.3);
            --border: #6a6a6a;
            --border-hover: #275efe;
            --background: #fff;
            --disabled: #fff;
            --disabled-inner: #fff;
            -webkit-appearance: none;
            -moz-appearance: none;
            height: 21px;
            outline: none;
            display: inline-block;
            vertical-align: top;
            position: relative;
            margin: 0;
            cursor: pointer;
            border: 1px solid var(--bc, var(--border));
            background: var(--b, var(--background));
            transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
            &:after {
              content: "";
              display: block;
              left: 0;
              top: 0;
              position: absolute;
              transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
                opacity var(--d-o, 0.2s);
            }
            &:checked {
              --d-o: 0.3s;
              --d-t: 0.6s;
              --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
            }
            &:disabled {
              --b: var(--disabled);
              cursor: not-allowed;
              opacity: 0.9;
              &:checked {
                --b: var(--disabled-inner);
                --bc: var(--border);
              }
            }
            &:hover {
              &:not(:checked) {
                &:not(:disabled) {
                  --bc: var(--border-hover);
                }
              }
            }
            &:focus {
              box-shadow: 0 0 0 var(--focus);
            }
            &:not(.switch) {
              width: 21px;
              &:after {
                opacity: var(--o, 0);
              }
              &:checked {
                --o: 1;
              }
            }
          }

          .radio-input {
            border-radius: 50%;

            &:after {
              width: 19px;
              height: 19px;
              border-radius: 50%;
              background: var(--active-inner);
              opacity: 0;
              transform: scale(var(--s, 0.8));
            }
            &:checked {
              --s: 0.6;
            }
          }
        }
      }
    }
  }
}