.welcome,
.distribution,
.distribution_credits,
.publishing_admin,
.other {
  margin-top: 20px;
  font-size: 1.3em;
}
h2.title {
  color: #3B96CF;
  display: block;
  float: none;
  line-height: 1em;
  margin: 15px 0 6px;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}
.welcome p {
  clear: both;
}
.underline {
  text-decoration: underline;
}
.included {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #F0F0F0;
}
.included > h3 {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 700;
  font-size: 1.25em;
  background-color: #e6e6e6;
  border-bottom: 1px dotted #999999;
  color: #333333;
  padding: 10px;
}
.included > ul {
  color: #333333;
}
.included > ul > li {
  padding: 10px;
  border-bottom: 1px dotted #999999;
}
.box {
  position: relative;
  padding: 10px;
  padding-bottom: 50px;
  border: 1px solid #E6E6E6;
  background-color: #F0F0F0;
  border-radius: 5px;
}
.box > .summary {
  float: left;
  width: 75%;
}
.box > .summary > h3 {
  font-size: 1.6em;
  margin-bottom: 5px;
}
.box > .summary > h4 {
  font-weight: normal;
  margin-top: -5px;
  margin-bottom: 5px;
}
.box > .summary > p {
  margin: 0;
  line-height: 1.5em;
}
.box > .summary .special_offer {
  color: #f00;
}
.box > .details {
  float: right;
  text-align: right;
}
.box > .details p {
  margin: 0;
}
.box > .details p.red {
  color: red;
}
.box > .details .price {
  position: relative;
  font-size: 1.8em;
  font-weight: 700;
}
.box > .details .price.sale:after {
  position: absolute;
  top: 0;
  left: 0;
  content: 'Sale';
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  background-color: yellow;
  color: red;
  border-radius: 5px;
  font-size: .75em;
  font-weight: 700;
  padding: 2px 3px;
  line-height: 1em;
}
.box > .details > nav {
  position: absolute;
  top: -25px;
  right: 20px;
}
.box > .details > nav > span {
  margin-right: 10px;
}
.box > .details > nav > a {
  position: relative;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: inline-block;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  color: #000000;
}
.box > .details > nav > a.active {
  background-color: #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}
.box > .details > nav > a.sale:after {
  position: absolute;
  top: -8px;
  left: -11px;
  content: 'Sale';
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  background-color: yellow;
  color: red;
  border-radius: 5px;
  font-size: .75em;
  font-weight: 700;
  padding: 2px 3px;
  line-height: 1em;
}
.box > .blue-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.distribution .box:first-child,
.publishing_admin_section .box:first-child,
.other .box:first-child {
  margin-top: 0;
}
.publishing_callout {
  width: 678px;
  clear: right;
  margin-top: 20px;
}
.publishing_callout .btn.btn-callout {
  padding: 0.5em 1em;
}
.publishing_admin_section .box,
.other .box {
  margin-top: 20px;
}
.other .box:last-child {
  margin-bottom: 40px;
}
.publishing_admin_section {
  padding-top: 40px;
}
.blue-btn {
  font-size: 1.5em;
}
.button-callout {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
.button-callout:hover,
.button-callout:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.button-callout:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.button-callout-alt {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
}
.button-callout-alt:hover,
.button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.button-callout-alt:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.button-callout-alt:hover,
.button-callout-alt:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
.button-callout-alt:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
.button-interface {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  color: #777;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.button-interface:hover,
.button-interface:focus {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #777;
}
.button-interface:active {
  background-color: #dcdcdc;
  border: 1px solid #d6d6d6;
}
.dashboard_note {
  background-color: #fdfee5;
  border: 1px solid #d2c362;
  border-radius: 5px;
  color: #3e3f18;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 928px;
}
.daily_trends {
  background: #60beca url("/images/dashboard/trends_dashboard_bg_big.jpg") no-repeat 0 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 60px 18px 12px;
}
.daily_trends h2 {
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  line-height: 1;
  margin: 12px 0 0;
  text-transform: uppercase;
}
.daily_trends p {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  padding: 0 0 18px;
}
.daily_trends a {
  color: #fff;
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: normal;
}
.flag {
  height: 100px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
}
.flag-inner {
  background-color: #cccccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  left: -83px;
  padding: 50px 0 7px;
  position: relative;
  text-align: center;
  top: -20px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 200px;
}
.flag-incomplete {
  background-color: #ccc;
}
.flag-rejected {
  background-color: #d32222;
}
.flag-due {
  background-color: #611cb0;
}

#releases .slider_wrapper .title_container {
  position: relative;
  margin: 0 0 0 20px;
  float: left;
  z-index: 1;
}
#releases .slider_wrapper .title_container + div {
  position: relative;
  margin-bottom: 15px;
}

#releases .slider_wrapper .title_container h2 {
  margin-left: 0;
}

#releases .slider_wrapper .btn.btn-callout {
  padding: 0.5em .25em;
  margin-left: 15px;
}

@media screen and (min-width: 700px) {
  .release_cards_tiktok {
    min-width: 50%;
  }
}

.release-type-buttons {
  display: flex;
  flex-direction: column;
  margin: 1em auto 0;
  width: auto;
}

.release-type-buttons a {
  margin-bottom: 1em;
}

@media screen and (min-width: 1000px) {
  .release_cards_freemium--container {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

 .release_cards_freemium {
    width: 48%;
  }
}

@media screen and (max-width: 999px) {
  .release_cards_freemium--container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    width: calc(100vw - 20px);
  }

 .release_cards_freemium {
    width: 100%;
  }
}

.oac_success_modal_overlay {
  z-index: 1;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 100vw;
}
.oac_success_heading_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.oac_success_modal {
  background-color: #fff;
  border: 1px solid #9f9f9f;
  border-radius: 5px;
  min-width: 280px;
  max-width: 480px;
  height: fit-content;
  margin: 0 auto;
  position: relative;
  top: 120px;
  padding: 20px;
  outline: none;
}

.oac_success_message {
  margin: 10px 20px 10px 20px;
  font-size: 18px;
  font-weight: bold;
}

.note_alert {
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fffde8;
  border: 1px solid #f3ecb0;
  padding: 10px;
  color: #0a0a0a;
  max-width: 700px;
}
