@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*
  Reset
*/

* {
  border: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  outline: 0;
}

main {
  padding-bottom: 2rem;
}

/*
  Vars
*/

body {
  // colors
  --alert-red: rgb(244, 67, 54);
  --alert-red-bg: rgba(244, 67, 54, 0.2);
  --alert-green: rgb(102, 187, 106);
  --alert-green-bg: rgba(102, 187, 106, 0.2);
  // misc
  --btn-primary-font-size: 0.8125rem;
  --default-body-text-color: rgba(255, 255, 255, 0.8);
  --default-body-text-font-weight: 400;
  --default-body-text-line-height: 1.125rem;
  --default-body-text-size: 0.875rem;
  --widget-border-radius: 0.625rem;
  background: #141414;
  color: #fff;
  margin: 0;
}

/*
  Plan Stuff
*/

.plan-color-bg {
  background: radial-gradient(at center bottom,
      rgba(20, 20, 20, 0.8) 10%,
      rgba(20, 20, 20, 0.8) 10%,
      rgb(20, 20, 20)),
    linear-gradient(-45deg, var(--plan-color-1),
      var(--plan-color-2)) center center / 400% no-repeat;
}

/*
  Utils
*/

.note_alert {
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fffde8;
  border: 1px solid #f3ecb0;
  padding: 10px;
  color: #0a0a0a;
}

.wrapper {
  margin: auto;
  max-width: 1080px;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.row {
  padding: 0 1rem;
  width: 100%;
}

section {
  margin-bottom: 2.5rem;
}

.center-h {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.bottom {
  margin: auto 0 0;
}

.widget {
  border-radius: var(--widget-border-radius);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.widget--outline {
  border: 2px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.widget__title {
  font-size: 1rem;
  font-weight: var(--default-body-text-size);
  margin-bottom: 1rem;
}

.primary-btn {
  font-size: var(--btn-primary-font-size);
  white-space: nowrap;
  letter-spacing: 1px;
  padding: 12px 20px;
}

.reskin-btn {
  background: transparent;
  border-radius: 4rem;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  font-size: var(--btn-primary-font-size);
  font-weight: 700;
  height: fit-content;
  letter-spacing: 1px;
  padding: 12px 20px;
  text-decoration: none;
  width: fit-content;
}

.secondary-btn:hover {
  border-color: var(--plan-color-1);
}

.text-btn {
  background: transparent;
  border: none;
  text-decoration: none;
}

.text-cta:hover.text-cta:hover {
  color: var(--plan-color-1)
}

.gradient-btn {
  background: linear-gradient(to bottom right,
      var(--plan-color-1),
      var(--plan-color-2));
  border: none;
  white-space: nowrap;

  &:hover {
    filter: brightness(1.1);
  }
}

.unlimited-btn {
  padding: 9.5px 20px;
}

/*
  Typography
*/

h1 {
  letter-spacing: -0.025rem;
  line-height: 1.167;
}

.cta {
  font-size: 1.25rem;
  font-weight: 900;
}

.cta .emphasis {
  background: linear-gradient(to bottom right,
      var(--plan-color-1),
      var(--plan-color-2));
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow-wrap: break-word;
}

.widget-copy {
  font-size: 1.625rem;
  font-weight: 900;
  letter-spacing: -0.025rem;
  line-height: 1.167;
}

/*
  Header
*/

header {
  background: #000;
  height: 80px;
}

/*
  Top Row
*/

.top-row {
  padding: 1.5rem 1rem 1.5rem;
}

/*
  User name
*/

.user-name {
  font-size: 2rem;
  font-weight: 900;
  margin: 0 0 1rem;
}

/*
  Balance Widget
*/

.balance__container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.balance__amount {
  font-size: 1.5rem;
  font-weight: 700;
}

i.fa.fa-question-circle.fa-lg.foreign-exchange-balance-display {
  font-size: 1rem;
  vertical-align: top;
}

.balance__qtip {
  background: #141414;
  border: 1px solid #fff;

  & .qtip-content {
    color: #fff;
    font-size: 1rem;
    line-height: 1.2;
  }
}

#list-transactions-link {
  color: white;
  text-decoration: none;
}

#withdraw-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;

  &:hover {
    border-color: white;
  }
}

/*
  Plan Widget
*/

.person-plan-container {
  align-items: center;
  display: flex;
}

.plan-name {
  font-size: 1.5rem;
  margin-left: 1rem;

  a {
    text-decoration: none;
    color: white;
  }
}

/*
  Plan Upsell Widget
*/

.plan-upsell-btn {
  align-items: center;
  display: flex;
  margin: 1rem 0 0;

  & .record {
    fill: #fff;
    height: 1.5rem;
    margin-right: 0.5rem;
    width: 1.5rem;
  }
}

/*
  Alerts
*/

.error {
  background: var(--alert-red-bg);
}

.error-title {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

.info {
  background: var(--alert-blue-bg);
}

.success {
  background: var(--alert-green-bg);
}

.alerts-row {
  margin-bottom: 0;
}

.alerts {
  &.success .fa {
    color: var(--alert-green);
  }

  &.row {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.widget p {
    color: var(--default-body-text-color);
    font-size: var(--default-body-text-size);
    font-weight: var(--default-body-text-size);
    line-height: var(--default-body-text-line-height);

    &.error-title {
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
  }

  &.widget a {
    color: white;
  }

  &.widget a:visited {
    color: white;
  }

  & .error-icon,
  & .success-icon {
    height: 1.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    vertical-align: middle;
  }

  & .error-icon path {
    fill: var(--alert-red);
  }
  & .success-icon path {
    fill: var(--alert-green);
  }
}

.alerts-container .wrapper {
  max-height: 20rem;
  overflow-y: auto;
}

/*
  Setup Payout
*/

.setup-payout {
  background: linear-gradient(45deg, rgba(20, 20, 20, .6),
    rgba(20, 20, 20, .6)),
    linear-gradient(45deg,
    var(--plan-color-1),
    var(--plan-color-2));
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.payout-button {
  align-self: center;
  margin-left: auto;
}

.payout-text {
  h2 {
    margin-bottom: 1rem;
  }

  p {
    color: var(--default-body-text-color);
    font-size: var(--default-body-text-size);
    font-weight: var(--default-body-text-size);
    line-height: var(--default-body-text-line-height);
  }
}

/*
  Artist Accounts
*/

.artist-accounts-heading h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.artist-account {
  height: 100%;
  min-width: 280px;
  text-decoration: none;
}

.artist-accounts-container {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  overflow-x: auto;
}

.artist-account-content {
  align-items: center;
  color: var(--default-body-text-color);
  display: flex;
  font-size: var(--default-body-text-size);
  font-weight: var(--default-body-text-size);
  line-height: var(--default-body-text-line-height);
  margin: auto;

  & .service-title {
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

.artist-account .fa {
  color: white;
  display: inline-block;
  font-size: 3rem;
  margin-right: 1rem;
}

.artist-account p {
  color: white;

  & span.highlight {
    font-weight: 700;
  }
}

.artist-account.apple {
  background: linear-gradient(45deg, #FD5964, #C93842)
}

.artist-account.spotify {
  background: linear-gradient(45deg, #6C22D6, #422171);
}

.artist-account.youtube-play {
  background: linear-gradient(45deg, #4B4B4B, #2C2C2C)
}

/*
  Recent Releases
*/

.recent-releases {
  display: none;
  margin-bottom: 1rem;
  overflow-x: auto;
  padding: 2px;

  &.active {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
  }

  &.active.missing-release-type {
    display: block;
  }

  & img {
    margin-bottom: 0.5rem;
    width: 200px;
  }

}

.recent-releases__header {
  border-bottom: 1px solid #383838;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;

  & .active {
    color: var(--plan-color-1);
  }
}

.recent-releases__header h2,
.recent-releases__types {
  padding-bottom: 1rem;

  & h3.active {
    pointer-events: none;
  }

  & h3:hover {
    color: var(--plan-color-1)
  }
}

.recent-releases__header h2 {
  margin-right: 3rem;
}

.recent-releases__types {
  align-items: center;
  display: flex;
  justify-content: space-between;

  & h3 {
    cursor: pointer;
    font-size: 1.3rem;
    margin-left: 3rem;

    &:first-child {
      margin-left: 0;
    }
  }
}

.recent-releases__bottom-btn-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.release__details {
  background: transparent;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-decoration: none;

  &:hover {
    transform: scale(1.02);
    transition: transform 150ms ease;
  }

  & img {
    border-radius: 0.375rem;
  }

  & p {
    font-size: var(--default-body-text-size);
    font-weight: 700;
    margin-bottom: 0.25rem;
  }
}

.release__details__description {
  min-height: 46px;
}

.release__details__empty_state {
  border-radius: 0.375rem;
  border: 3px dashed rgba(255,255,255,0.2);
  height: 199px;
  width: 199px;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.release__details__empty_state__icon {
  height: 75px;
  width: 75px;
}

.release-status {
  font-weight: 500;

  &.needs_action,
  &.takedown {
    color: #ef4334;
  }
  &.incomplete,
  &.processing {
    color: #ee9e26;
  }
  &.sent {
    color: #65b768;
  }
}

/*
  Resources
*/

.resources {
  margin-top: 1rem;

  & .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  & .widget {
    background: #282828;

    & h3, p, li {
      margin-bottom: 1rem;
    }

    & a {
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
    }

    & p, & a, & li  {
      color: #c6c6c6;
    }
  }

  .distribution-credits {
    & ul {
      list-style: none;
      padding: 0;
    }
  }

  .tc-accelerator {
    position: relative;
  }

  & a.automator-link, a.distribution-credits-link {
    display: inline-block;
    margin-right: 0.25rem;
  }

  & .fa {
    display: inline-block;
    font-size: 1rem;
  }
}

/*
  Null Dashboard
*/

/*
  Distribute
*/

.distribute {
  #content-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .get-started #content-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    & #photo-caption {
      color: rgba(255,255,255,0.4);
      font-size: 0.75rem;
      font-style: italic;
    }

    & p {
      color: #fdfdfd;
      max-width: 18rem;
    }
  }

  .get-started.wrapper {
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("/images/dashboard/get_started.jpg");
    background-position-x: center;
    background-position-y: 25%;
    background-size: cover;
    border-radius: var(--widget-border-radius);
    height: 340px;
    padding: 1.5rem;
  }

  & .distribute__header {
    margin: 0 0 1.5rem;
    max-width: 26rem;
  }

  & .bottom {
    bottom: 0;
    position: absolute;
    max-width: 18rem;
    font-size: 0.875rem;
    font-weight: 400;

    & p {
      color: #fdfdfd;
      margin: 0 0 1rem;
    }
  }

  & .per-release {
    color: #fdfdfd;
    font-weight: 700;
    &:visited {
      color: #fdfdfd;
    }
  }
}

/*
  Learn
*/

.learn {
  & h2 {
    padding-bottom: 1.5rem;
  }

  .widget {
    background: #282828;

    & h3 {
      font-size: 1.125rem;
      font-weight: 700;
    }

    & .body p {
      color: #c0c0c0;
      font-size: 0.8rem;
      font-weight: var(--default-body-text-size);
      line-height: 1rem;
      margin-bottom: 1rem;
    }
  }

  .widget__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .widget-copy {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .text-btn {
    color: #c0c0c0;
    font-weight: 500;
    margin-top: 1rem;
    padding: 0;

    &.fa-angle-right {
      font-size: 1rem;
      margin-left: 0.5rem;
    }
  }
}

/*
  End Null Dashboard
*/


/*
  Modals
*/

.dashboard-reskin-modal {
  display: none;

  h1 {
    margin-bottom: 2rem;
    text-align: center;
  }

  .content {
    .message {
      margin: 2rem 0;
    }

    .simplemodal-close {
      background: transparent;
      color: white;
      cursor: pointer;
      margin-top: 1rem;
      text-decoration: underline;
    }
  }
}

a.modalCloseImg.simplemodal-close {
  cursor: pointer;
  line-height: 0.5;
  margin: 0.5rem;
  position: absolute;
  right: 0;
  top: 0;

  &::after {
    color: #909090;
    content: '\00d7';
    font-size: 2rem;
    font-weight: 100;
  }
}

.simplemodal-container {
  @media screen and (max-width: 767px) {
    width: 90%!important;
  }
}

/*
  Cookie Warning
*/

.dashboard__index .cookie-warning {
  bottom: 0;
  top: unset;

  & .button-callout {
    background: transparent;
    border-radius: 4rem;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    height: fit-content;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    width: fit-content;

    &:hover {
      background: transparent;
      color: white;
    }
  }
}

/*
  Queries
*/

@media screen and (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .distribute .get-started #content-bottom {
    display: block;

    & #photo-caption {
      margin: 1rem 0 0 auto;
      width: fit-content;
    }
  }

  .artist-accounts-container.full-width {
    display: block;
  }
}

/*
  Toggle
*/

/* The switch - the box around the slider */
.toggle-switch {
  position: absolute;
  display: inline-block;
  width: 45px;
  height: 26px;
  right: 0;
  top: 0;
  margin: 1.5rem;
}

/* Hide default HTML checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 26px;
}

.toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}

.toggle-switch input:checked + .slider {
  background-color: var(--plan-green-1);
}

.toggle-switch input:focus + .slider {
  box-shadow: 0 0 1px var(--plan-green-1);
}

.toggle-switch input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
