@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.reskin-footer {
  background: rgb(0, 0, 0);
  padding: 50px 0;

  h2 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.334;
    letter-spacing: -0.2px;
    color: rgb(255, 255, 255);
    margin: 0;
  }

  .footer-content {
    box-sizing: border-box;
    padding: 0 24px;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
  }

  .copyright {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.8rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin: 40px 0px 0px;
    color: rgb(68, 68, 68);
  }

  section {
    flex-basis: 25%;

    .link {
      &:focus, &:visited, &:hover {
        color: rgb(136, 136, 136);
      }

      &--header {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.334;
        letter-spacing: -0.2px;
        color: rgb(255, 255, 255);
        text-decoration: none;

        &:focus, &:visited, &:hover {
          color: rgb(255, 255, 255);
        }
      }

      &--grey {
        display: block;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 0.875rem;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: 0.01071em;
        color: rgb(136, 136, 136);
        text-decoration: none;
      }
    }

    .links-container {
      margin: 16px 0;
    }
  }

  @media screen and (max-width: 767px) {
    .footer-content {
      flex-flow: column;
    }
  }
}
