.header .mobile-top {
  margin: 0;
}

.heading-wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;

  &.hd-top {
    min-height: initial;
  }

  .upgrade-block-top-nav {
    background: black;
  }
}

.heading-wrapper__container {
  width: 100%;
}

.mobile-top.mini-menu {
  display: flex;
  align-items: center;

  > .upgrade-block-top-nav {
    background: black;
    margin-right: 8px;
    top: 0;

    &:hover a {
      color: black;
    }
  }
}

@media screen and (min-width: 861px) {
  .mobile-top.mini-menu {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .heading-wrapper {
    padding: 15px;
  }
}
