@import url(http://fonts.googleapis.com/css?family=Lato|Montserrat:700,400);
.thanks {
    font-size: 1.2em;
    line-height: 1.5em;
    padding-top: 20px;
    padding-bottom: 40px;
}
.thanks header {
    margin-bottom: 20px;
}
.thanks header h1 {
    color: #333333;
    border-bottom: 2px solid #333333;
    font-size: 2.5em;
    line-height: 1;
    padding-bottom: 15px;
}
.thanks h2 {
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 20px;
}
.thanks h3 {
    font-size: 1.8em;
    font-weight: 400;
    margin-bottom: 20px;
}
.thanks h3.sm {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.thanks p {
    font-size: .875rem;
    margin-bottom: 1rem;
}
.thanks .special_offer {
    color: #f00;
}
.thanks .thanks-artwork {
    position: relative;
    width: 250px;
    height: 250px;
}
.thanks .thanks-artwork.thanks-artwork_single img {
    width: 100%;
}
.thanks .thanks-artwork.thanks-artwork_multiple img {
    position: absolute;
    width: 50%;
    border: 1px solid #FFFFFF;
}
.thanks .thanks-artwork.thanks-artwork_multiple img:nth-child(1) {
    top: 0;
    left: 0;
    z-index: 10;
}
.thanks .thanks-artwork.thanks-artwork_multiple img:nth-child(2) {
    bottom: 0;
    right: 0;
    z-index: 20;
}
.thanks .thanks-artwork.thanks-artwork_multiple img:nth-child(3) {
    top: 25%;
    left: 25%;
    z-index: 50;
}
.thanks .thanks-artwork.thanks-artwork_multiple img:nth-child(4) {
    top: 0;
    right: 0;
    z-index: 30;
}
.thanks .thanks-artwork.thanks-artwork_multiple img:nth-child(5) {
    bottom: 0;
    left: 0;
    z-index: 40;
}
.thanks .invoice-push {
    margin-top: 20px;
}
.thanks .invoice-push + .invoice-push {
    padding-top: 20px;
}
.thanks .invoice-push p {
    margin-bottom: 10px;
}
.thanks .invoice-push .button-callout {
    margin-top: 0;
}
.thanks .pubad {
    background-color: #000;
    color: #fff;
    text-align: center;
    max-width: 280px;
}
.thanks .pubad img {
    display: block;
}
.thanks .tier-promo {
    margin-bottom: 25px;
}
.splits-container {
    background: black;
    font-family: "Roboto", Helvetica, sans-serif;
    border-radius: 5px;
    padding: 35px;
}
.splits-container .heading {
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin-bottom: 5px;
}
.splits-container .body {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255,255,255,0.8);
    margin-bottom: 15px;
}
.splits-container .cta {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #3FA8EF;
}

.artist-services {
    padding-top: 40px;
}
.artist-services a h3 {
    font-size: 2em;
    font-weight: 300;
}
.boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: -20px;
    overflow: hidden;
}
.box {
    background: #f5f5f5;
    border-radius: 5px;
    box-shadow: inset -1px 2px 5px 0px rgba(51, 51, 51, 0.75);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 190px;
    flex: 1 1 190px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    float: left;
    margin-left: 20px;
    padding: 12px 20px;
    text-align: center;
    width: 30.1%;
}
.box.invoice-thanks {
    max-width: 316px;
    min-height: 322px;
}
.box.soundout {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
}
.box.soundout h3 {
    margin: 0 -20px;
}
.box.radio {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.box.ytm {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.box.ytm .ribbon {
    background-color: #24b3f0;
}
.box h3 {
    font-weight: 500;
}
.box .ribbon {
    background-color: #21ab7d;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8);
    color: #ffffff;
    display: block;
    font-size: 1em;
    position: relative;
    right: -20px;
}
.box .ribbon span {
    display: block;
    margin: 1px 0;
    padding: 0 10px;
}
.box p {
    margin-bottom: 10px;
}
.box .icon {
    margin: 15px auto;
}
.box .promo {
    font-weight: 700;
}
.box .button-callout {
    margin-top: auto;
}
.no-flexbox .box {
    width: 95%;
}
@media screen and (min-width: 768px) {
    .no-flexbox .box {
        width: 30.1%;
    }
}
.csstransforms .ribbon {
    position: absolute;
    right: -34px;
    top: 21px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.csstransforms .ribbon span {
    display: block;
    margin: 1px 0;
    padding: 0 30px;
}
.ico_tracksmarts,
.ico_radio,
.ico_ytm,
.ico_cd,
.ico_facebook {
    display: inline-block;
    background-image: url("/images/invoices/invoice_sprite.png");
    background-repeat: no-repeat;
}
.ico_tracksmarts {
    background-position: 0px 0px;
    height: 41px;
    width: 42px;
}
.ico_radio {
    background-position: -42px 0px;
    height: 40.2px;
    width: 45.2px;
}
.ico_ytm {
    background-position: -86px 0px;
    height: 38.2px;
    width: 57.8px;
}
.ico_cd {
    background-position: -144px -1px;
    height: 40px;
    width: 35.2px;
}
.ico_facebook {
    background-position: -179px 0px;
    height: 40px;
    width: 40px;
}
.notice {
    text-align: center;
}
.notice h2 {
    font-size: 1.5em;
    font-weight: 700;
}
#dropkloud {
    border: 3px solid #0083e0;
    background: #ffffff;
    border-radius: 3px;
    padding: 30px 0;
}
#dropkloud h1 {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1;
}
#dropkloud .dk-button {
    background-color: #fff;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 30px;
    padding: 10px 20px;
}
#dropkloud .dk-button.dk-primary {
    background-color: #0082e0;
    padding: 10px 30px;
}
#dropkloud .dk-button.dk-primary.inactive {
    opacity: 0.3;
    pointer-events: none;
}
#dropkloud .dk-button.dk-primary:visited {
    color: #ffffff;
}
#dropkloud .dk-button.dk-primary:hover {
    color: #ffffff;
    background-color: #006fc0;
}
.social-splash-modal {
    display: block;
    margin: auto;
    max-width: 650px;
}

/*# sourceMappingURL=source/invoice_thanks.css.map */
