.foundation_header_lang_app {
  padding: 15px 0px !important
}

#language_selector_app, .foundation_header_lang_selector {
  #language_selector {
    padding: 10px 0px;
  }
}

#language_selector_app {
  display: inline-block;
  margin-left: 10px;
  height: 15px;

  #language_selector {
    display: inline-block;

    .language_display {
      display: flex;
      font-size: 13px;
      color: white;
      cursor: pointer;

      i {
        margin-left: 5px;
        color: #3b96cf;
      }
    }
  }
}

.language_modal_overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0,0.75);
  max-width: 100vw;
  z-index: 600;

  .language_options_container {
    background-color: #fff;
    border-radius: 6px;
    width: 800px;
    max-width: 100%;
    height: fit-content;
    margin: 0 auto;
    position: relative;
    top: 120px;
    outline: none;

    .selected_button {
      background-color: #3b96cf;
      color: white;
    }

    .unselected_button {
      background-color: white;
      color: black;

      &:hover {
        border: 1px solid #3b96cf;
      }
    }

    .top_section {
      margin: 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      border-bottom: 1px solid #e5e5e5;

      .choose_a_language {
        font-family: roboto, sans-serif;
        font-size: 23px;
        font-weight: 300;
        color: rgb(51,51,51);
      }

      button {
        cursor: pointer;
      }

      span {
        font-size: 35px;
        color: rgb(51,51,51);
        cursor: pointer;
        line-height: 0;
        height: 15px;
        font-weight: 200;
      }
    }
  }

  .language_options {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 15px;

    .language_option_button {
      border: 1px solid #e2e2e2;
      border-radius: 3px;
      padding: 5px;
      font-weight: bold;
      font-size: 16px;
      min-height: 50px;
    }
  }

  @media only screen and (max-width: 480px) {
    .language_options_container {
      margin: 0px 10px;
      width: auto;

      .language_options {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

}
