@import 'base/variables';
@import 'base/mixins';

.masthead {
  background: $black_background;
  height: auto;
  margin-bottom: 24px;
  position: relative;
  width: 100%;

  .container { float: none; }

  .logo {
    margin: 0;
    width: 150px;
  }

  .slug {
    font-size: 2em;
    font-weight: bold;
    margin-right: 500px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px){
  .masthead { margin-bottom: 60px; }
}

.content {
  margin-bottom: 60px;
}

.promo-apple {
  background-color: $black_background;
  color: $dark-body-text;
  font-size: .833em;
  margin-bottom: 40px;
  padding: 15px 0;
  text-align: center;

  h1 {
    font-size: 3.5em;
    font-weight: 300;
    line-height: 1;
    padding: 15px 0 0;
  }
}

.promo {
  font-size: .833em;
  margin-bottom: 40px;
  text-align: center;

  h1 {
    font-size: 3.5em;
    font-weight: 300;
    line-height: 1;
    padding: 18px 0;
  }
}

.zimbalam {
  .promo {
    margin-bottom: 60px;
    margin-top: -30px;

    h1 {
      font-size: 2.75rem;
    }
  }

  .intro {
    h1 {
      font-size: 1.8125rem;
    }
  }
}

.intro {
  font-size: .833em;
  margin-bottom: 24px;

  h1 {
    border: 2px solid $dark-gray-border;
    border-width: 2px 0;
    font-size: 26px !important;
    font-weight: 300;
    line-height: 1;
    padding: 18px 0;
  }

  ul {
    display: none;
    font-size: 1.6em;
    list-style: none;
    margin: 24px 0;
  }

  li {
    margin-left: 19px;

    & + li { padding-top: 18px; }

    &::before {
      border-color: transparent $black-border;
      border-style: solid;
      border-width: .35em 0 .35em .45em;
      content: '';
      display: block;
      height: 0;
      left: -1em;
      position: relative;
      top: .9em;
      width: 0;
    }
  }

  p {
    font-size: x-large;
    margin-right: 24px;
    margin-bottom: 16px;
  }

  .tagline {
    display: none;
    font-size: 26px;
    text-align: center;
  }
}

@media screen and (min-width: 768px){
  .intro {
    margin: 24px 0 0;
    padding-right: 85px;

    ul,
    .tagline { display: block; }
  }
}

.form-container {
  background-color: $white_background;
  border-radius: 1em;
  box-shadow: 0 3px 8px 0 $black-box-shadow;
  font-size: 0.833em;
  margin-bottom: 36px;
  overflow: hidden;
  padding: 24px;

  form {
    fieldset {
      border: 0;
      margin-bottom: 20px;
      padding: 0;

      &.check { text-align: center; }

      &.form-actions {
        margin: 0;
        text-align: center;
      }
    }

    label { text-align: left; }

    input[type="submit"] {
      @include button_callout();
      font-size: 1em;
      font-weight: 400;
      letter-spacing: .3px;
      margin-top: 0;
    }

    .ui-autocomplete-input { width: 100%; }
  }

  .help {
    font-size: 1.4em;
    margin-top: 12px;
    text-align: center;
  }
}

@media screen and (min-width: 360px){
  .form-container {
    form {
      input[type="submit"] { font-size: 1.2em; }
    }
  }
}

@media screen and (min-width: 640px){
  .form-container {
    form {
      label { text-align: right; }

      .ui-autocomplete-input { width: 50%; }
    }
  }
}
