@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$content-width: 360px;
$text-color: rgba(255, 255, 255, 0.8);

body {
  background: #1e1e1e;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  height: 100%;
  width: 100%;
}

option {
  background: #141414;
}

.smaller-grey {
  font-size: 0.75rem;
  color: $text-color;
}

.link {
  color: #00ff62;
  text-decoration: underline rgba(0, 255, 98, 0.4);

  &--smaller-grey {
    font-size: 0.75rem;
    color: $text-color;
    text-decoration: underline;
  }

  &--larger-grey {
    color: $text-color;
    text-decoration: underline;
  }

  &--is-actually-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
  }

  &--is-actually-button:disabled {
    cursor: not-allowed;
    filter: brightness(70%);
  }
}

.styled-text {
  font-size: unset;
  font-weight: unset;
  background: linear-gradient( to bottom right, #00ff62, #0071a2 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.hidden {
  display: none !important;
}

.heading {
  margin-top: 20px;
  text-align: center;
  letter-spacing: -0.5px;
  font-weight: 900;
}

.subheading {
  color: $text-color;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.00938em;
  line-height: 1.5;
  margin-bottom: 16px;
  max-width: $content-width;
  text-align: center;
  margin: auto;
  padding-bottom: 17px;

  &--smaller {
    font-size: 0.75rem;
  }
}

.flash {
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.7);
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.03333em;
  line-height: 1.66;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3px;
  max-width: $content-width;
  padding: 6px;
  text-align: left;

  &--error, &--errors {
    background: rgba(255, 0, 0, 0.05);
    color: #f44336;
  }

  a[href] {
    @extend .link;
    @extend .link--larger-grey;
  }
}

.input_error {
  @extend .flash;
  @extend .flash--error;
  margin-bottom: 0;
}

.body-container {
  background: radial-gradient(
    ellipse at bottom,
    rgba(20, 20, 20, 0.85),
    rgba(20, 20, 20, 1)
  ),
  radial-gradient(
    ellipse at top,
    #00ff62,
    transparent
  ),
  radial-gradient(
    ellipse at bottom,
    #0071a2,
    transparent
  );

  align-items: center;
  display: grid;
  grid-template-rows: 1fr;
  height: 100vh;
  overflow-y: auto;
  position: relative;

  @media (min-width: 1200px) {
    width: 36vw;
    padding: 0 24px;

    // frosty glass
    background: rgba(1, 1, 1, 0.6);
    @supports (backdrop-filter: blur(50px) brightness(0.4) contrast(0.9)) {
      background: transparent;
      backdrop-filter: blur(50px) brightness(0.4) contrast(0.9);
    }
    // frosty glass for Safari. Remove this is if Safari supports backdrop-filter without
    // a vendor prefix. Safari 17?
    @supports (-webkit-backdrop-filter: blur(50px) brightness(0.4) contrast(0.9)) {
      background: transparent;
      -webkit-backdrop-filter: blur(50px) brightness(0.4) contrast(0.9);
    }
  }
}

.body-content {
  align-items: center;
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  padding: 0 24px;
  position: relative;

  @media (max-height: 500px) {
    height: 500px;
    position: relative;
  }
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  opacity: 0.95;

  @media (prefers-reduced-motion: reduce), (max-width: 1199px) {
    display: none;
  }
}

.video {
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0 none;
  z-index: 2;
}

form {
  display: flex;
  flex-direction: column;
  max-width: $content-width;
  width: 100%;
  margin-bottom: 30px;

  abbr[title=required] {
    display: none; // Hide the simple_form asterisk on required fields
  }

  fieldset, .fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
  }

  label {
    margin-bottom: 5px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
  }

  // Simple form input wrapper
  .input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  .text-input {
    font: inherit;
    color: $text-color;
    padding: 8px 12px;
    border: 0;
    box-sizing: border-box;
    background: none;
    height: 46px;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
  }

  input[type=submit] {
    margin-top: 15px;
    background-color: #00ff62;
    color: white;
    padding: 12px 20px;
    font-size: 0.8125rem;
    align-self: center;
    width: max-content;
    background-image: linear-gradient(-45deg, #00ff62, #0071a2);
    border-radius: 400px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    min-width: 64px;
    transition:
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:hover {
      filter: brightness(1.1);
    }

    &:disabled {
      color: rgba(255, 255, 255, 0.3);
      box-shadow: none;
      background-color: rgba(255, 255, 255, 0.12);
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Login
////////////////////////////////////////////////////////////////////////////////

#header-logo {
  width: 300px;
}

.login-submit-fieldset {
  margin-bottom: 0;
}

////////////////////////////////////////////////////////////////////////////////
// TFA
////////////////////////////////////////////////////////////////////////////////

.tfa-resend-container {
  margin: 1em 0px;
}

.tfa-need-help {
  text-align: center;
}

#alternate-resend-link {
  @extend .link;
  @extend .link--larger-grey;
}

////////////////////////////////////////////////////////////////////////////////
// Sign Up
////////////////////////////////////////////////////////////////////////////////

.contextual-help {
  margin-top: -8px;
  margin-bottom: 15px;
  font-size: 0.75rem;
  font-weight: 400;
}

form .phone-input-wrapper {
  display: flex;
  justify-content: space-between;

  &__mobile-number-input {
    flex-grow: 1;
    margin-left: 10px;
  }
}

.terms-and-conditions-wrapper {
  margin-top: 20px;
  margin-bottom: 15px;
}

.terms-and-conditions-label {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.28rem;

  input {
    margin: 3px;
  }
}

#signup-button {
  margin-top: 0;
}

.already-have-an-account {
  text-align: center;
}

#person_mobile_number_prefix {
  flex: 25%;
}

#signup-email-container {
  display: none;
}

.reskin-select-input {
  @extend .text-input;
  appearance: none;
  background: url(/images/forms/select_arrow_default.png) no-repeat 97% 50% !important;
}

////////////////////////////////////////////////////////////////////////////////
// Email verification
////////////////////////////////////////////////////////////////////////////////

.verify-help {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.verify-help strong {
  color: #fff;
  font-weight: bold;
}
