.button-callout {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
.button-callout:hover,
.button-callout:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.button-callout:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.button-callout-top,
.button-callout-alt {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
}
.button-callout-top:hover,
.button-callout-top:focus,
.button-callout-alt:hover,
.button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.button-callout-top:active,
.button-callout-alt:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.button-callout-top:hover,
.button-callout-top:focus,
.button-callout-alt:hover,
.button-callout-alt:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
.button-callout-top:active,
.button-callout-alt:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
.pod-rounded {
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
#album-checklist {
  margin-bottom: 20px;
  overflow: hidden;
}
#album-checklist .hd {
  background-color: #e6e6e6;
  color: #333;
  font-weight: 700;
  font-size: 1.8em;
  padding: 10px 10px 0;
}
#album-checklist .sub-hd {
  background-color: #e6e6e6;
  border-bottom: 1px dotted #999;
  color: #636363;
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  padding: 0 10px 10px;
}
#album-checklist h2 {
  font-size: 24px;
  border-bottom: 3px solid #656565;
  padding-bottom: 5px;
}
#album-checklist ul {
  margin-bottom: 10px;
}
#album-checklist li {
  border-bottom: 1px solid #CCCCCC;
}
.status {
  border-bottom: 1px dotted #999;
  padding: 10px;
}
.status a {
  color: #000;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  font-weight: 700;
  text-decoration: none;
}
.status a:hover {
  text-decoration: underline;
}
.non_status {
  display: none;
}
.status_disabled span {
  color: #A7B6BF;
}
.del-link {
  clear: left;
  float: left;
}
.overview-link {
  clear: right;
  float: right;
}
.del-link,
.overview-link {
  padding: 10px;
}
.del-link a,
.overview-link a {
  font-size: 1.1em;
  text-decoration: underline;
}
.purchase,
.sidebar-help {
  background-color: #f0f0f0;
  border: 0;
  border-radius: 5px;
  font-size: 1.2em;
  margin-bottom: 20px;
  padding: 10px 12px;
}
.purchase .hd,
.sidebar-help .hd {
  color: #333;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.purchase p,
.sidebar-help p {
  color: #636363;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.2;
  padding: 0 0 10px;
}
.purchase small,
.sidebar-help small {
  font-weight: normal;
}
.purchase label,
.sidebar-help label {
  float: none;
}
.purchase .red,
.sidebar-help .red {
  color: red;
}
.purchase .fine_print,
.sidebar-help .fine_print {
  padding: 0 0 0 18px;
}
.purchase .deal,
.sidebar-help .deal {
  background-color: #f93;
  bottom: 2px;
  color: #000;
  font-size: 0.77em;
  height: 16px;
  left: 6px;
  padding: 3px;
  position: relative;
}
.purchase input[type=submit],
.sidebar-help input[type=submit],
.purchase .purchase-button,
a.btn.purchase.purchase-button,
.sidebar-help .purchase-button {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0.5em;
  padding: 10px;
  white-space: normal;
  text-transform: none;
}
a.btn.purchase.purchase-button{
  font-weight: 700;
}
.purchase input[type=submit]:hover,
.sidebar-help input[type=submit]:hover,
.purchase .purchase-button:hover,
.sidebar-help .purchase-button:hover,
.purchase input[type=submit]:focus,
.sidebar-help input[type=submit]:focus,
.purchase .purchase-button:focus,
.sidebar-help .purchase-button:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.purchase input[type=submit]:active,
.sidebar-help input[type=submit]:active,
.purchase .purchase-button:active,
.sidebar-help .purchase-button:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.purchase .addon-label,
.sidebar-help .addon-label {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  text-align: left;
  width: auto;
}
.purchase .addon-helptext,
.sidebar-help .addon-helptext {
  color: #666;
  padding-left: 15px;
}
.sidebar-help .price {
  font-size: 1.5em;
  font-weight: 700;
}
.renewal {
  border-radius: 5px;
  font-size: 1.3em;
  padding: 0;
  overflow: hidden;
  clear: both;
}
.renewal .hd {
  background-color: #44b1fa;
  border-bottom: 1px dotted #3b96cf;
  color: #fff;
  font-weight: 700;
  font-size: 1.38em;
  padding: 10px;
}
.renewal .sub-hd {
  font-size: 1.23em;
  text-align: center;
}
.renewal p {
  padding: 10px;
}
.renewal p + p {
  padding: 0 10px 10px;
}
.renewal form {
  margin: 0 10px 10px;
  text-align: center;
}
.renewal input[type=submit] {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin-top: 0.5em;
  padding: 10px 59px;
}
.renewal input[type=submit]:hover,
.renewal input[type=submit]:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.renewal input[type=submit]:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.renewal .renewal-graphic {
  background: url(/version/tunecore_neo/images/sprites/next_actions_sprite.png) no-repeat 10px -593px;
  border: 5px double #636363;
  border-radius: 20px;
  color: #44b1fa;
  font-size: 1.25em;
  margin: 10px 30px;
  padding: 10px 20px 10px 66px;
}
.renewal #update-card-button,
.renewal #add-card-button {
  text-align: center;
}
.renewal #update-card-button .button-callout-top,
.renewal #update-card-button .button-callout-alt,
.renewal #add-card-button .button-callout-top,
.renewal #add-card-button .button-callout-alt {
  padding: 10px 43px;
}
.renewal #add-card-button .button-callout-top,
.renewal #add-card-button .button-callout-alt {
  padding: 10px 28px;
}
.basicinfo {
  float: left;
  margin-left: 10px;
  position: relative;
}
.basicinfo .hd {
  color: #003855;
  font-size: 18px;
  margin: 0 100px 0 0;
}
.basicinfo .sub-hd {
  color: #535353;
  font-size: 16px;
  margin-bottom: 5px;
}
.album_info {
  margin-bottom: 10px;
  overflow: hidden;
}
.album_artwork {
  border: 1px solid #dadada;
  height: 160px;
  float: left;
  margin-right: 5px;
  position: relative;
  width: 160px;
}
.album_artwork.small {
  height: 50px;
  width: 50px;
}
.live_tag,
.sent_tag,
.rejected_tag,
.down_tag,
.incomplete_tag,
.ready_tag {
  display: block;
  margin-bottom: 10px;
  position: relative;
}
/* store ico-s */
ul.stores > li {
  height: 35px;
  width: 35px;
  display: inline-block;
  margin: 0px 10px 10px 10px;
  text-indent: -5555px;
  background: url("/images/store_logos/stores_35x35_sprite.png?v=20170412") no-repeat top center;
}
.stores {
  display: block;
  padding: 1em 2em 1em 2em;
}
.stores p {
  margin: 0 !important;
  padding-bottom: .5em;
}
.stores-message {
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif, serif;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 14px;
}

ul.freemium_platforms > li {
  height: 35px;
  width: 35px;
  display: inline-block;
  margin: 0px 10px 10px 10px;
  text-indent: -5555px;
  background: url("/images/store_logos/stores_35x35_sprite.png?v=20170412") no-repeat top center;
}
.freemium_platforms {
  display: block;
  padding: 1em 2em 1em 2em;
}

#freemium_row_border {
  padding: 1em;
  border-bottom: 1px solid #CCCCCC;
}
.freemium_platforms p {
  margin: 0 !important;
  padding-bottom: .5em;
}

.albuminfo {
  font-size: 1.3em;
}
.show-page-header{
  margin: 15px;
  color: #3b96cf;
}
dt {
  width: 45%;
  float: left;
  font-weight: bold;
  clear: left;
}
dl {
  font-size: 1.1em;
}
#booklet,
#storeslist,
.uploads {
  margin-top: 1em;
  font-size: 1.3em;
}
#booklet h3,
#storeslist h3,
.uploads h3 {
  margin-bottom: .2em;
}
#booklet .booklet,
#storeslist .booklet,
.uploads .booklet {
  border-radius: 5px;
  background-color: #eee;
  padding: 1em;
}
#uploads {
  margin-bottom: 6em;
}
.store-ico {
  background: transparent url("/images/store_logos/stores_35x35_sprite.png?v=20170412") no-repeat top center;
  height: 35px;
  width: 35px;
}
.stores .ico-az,
.product-purchase .ico-az,
.store-selection .ico-az {
  background-position: 0 -35px;
}
.stores .ico-np,
.product-purchase .ico-np,
.store-selection .ico-np {
  background-position: 0 -70px;
}
.stores .ico-em,
.product-purchase .ico-em,
.store-selection .ico-em {
  background-position: 0 -105px;
}
.stores .ico-gn,
.product-purchase .ico-gn,
.store-selection .ico-gn {
  background-position: 0 -140px;
}
.stores .ico-no,
.product-purchase .ico-no,
.store-selection .ico-no {
  background-position: 0 -175px;
}
.stores .ico-la,
.product-purchase .ico-la,
.store-selection .ico-la {
  background-position: 0 -210px;
}
.stores .ico-aod_us,
.product-purchase .ico-aod_us,
.store-selection .ico-aod_us {
  background-position: 0 -245px;
}
.stores .ico-rh,
.product-purchase .ico-rh,
.store-selection .ico-rh {
  background-position: 0 -280px;
}
.stores .ico-sz,
.product-purchase .ico-sz,
.store-selection .ico-sz {
  background-position: 0 -315px;
}
.stores .ico-gp,
.product-purchase .ico-gp,
.store-selection .ico-gp {
  background-position: 0 -350px;
}
.stores .ico-us,
.product-purchase .ico-us,
.store-selection .ico-us,
.stores .ico-ww,
.product-purchase .ico-ww,
.store-selection .ico-ww {
  background-position: 0 -385px;
}
.stores .ico-au,
.product-purchase .ico-au,
.store-selection .ico-au {
  background-position: 0 -455px;
}
.stores .ico-jp,
.product-purchase .ico-jp,
.store-selection .ico-jp {
  background-position: 0 -490px;
}
.stores .ico-eu,
.product-purchase .ico-eu,
.store-selection .ico-eu {
  background-position: 0 -525px;
}
.stores .ico-mx,
.product-purchase .ico-mx,
.store-selection .ico-mx {
  background-position: 0 -560px;
}
.stores .ico-ca,
.product-purchase .ico-ca,
.store-selection .ico-ca {
  background-position: 0 -595px;
}
.stores .ico-my,
.product-purchase .ico-my,
.store-selection .ico-my {
  background-position: 0 -630px;
}
.stores .ico-zn,
.product-purchase .ico-zn,
.store-selection .ico-zn {
  background-position: 0 -665px;
}
.stores .ico-tp,
.product-purchase .ico-tp,
.store-selection .ico-tp {
  background-position: 0 -700px;
}
.stores .ico-mn,
.product-purchase .ico-mn,
.store-selection .ico-mn {
  background-position: 0 -735px;
}
.stores .ico-sp,
.product-purchase .ico-sp,
.store-selection .ico-sp {
  background-position: 0 -770px;
}
.stores .ico-ac,
.product-purchase .ico-ac,
.store-selection .ico-ac {
  background-position: 0 -805px;
}
.stores .ico-uk,
.product-purchase .ico-uk,
.store-selection .ico-uk {
  background-position: 0 -840px;
}
.stores .ico-gm,
.product-purchase .ico-gm,
.store-selection .ico-gm {
  background-position: 0 -875px;
}
.stores .ico-st,
.product-purchase .ico-st,
.store-selection .ico-st {
  background-position: 0 -910px;
}
.stores .ico-sma,
.product-purchase .ico-sma,
.store-selection .ico-sma {
  background-position: 0 -945px;
}
.stores .ico-dz,
.product-purchase .ico-dz,
.store-selection .ico-dz {
  background-position: 0 -980px;
}
.stores .ico-jk,
.product-purchase .ico-jk,
.store-selection .ico-jk {
  background-position: 0 -2415px;
}
.stores .ico-yt,
.product-purchase .ico-yt,
.store-selection .ico-yt {
  background-position: 0 -1050px;
}
.stores .ico-sd,
.product-purchase .ico-sd,
.store-selection .ico-sd {
  background-position: 0 -3010px;
}
.stores .ico-mv,
.product-purchase .ico-mv,
.store-selection .ico-mv {
  background-position: 0 -1120px;
}
.stores .ico-pa,
.product-purchase .ico-pa,
.store-selection .ico-pa {
  background-position: 0 -1155px;
}
.stores .ico-rd,
.product-purchase .ico-rd,
.store-selection .ico-rd {
  background-position: 0 -1190px;
}
.stores .ico-wi,
.product-purchase .ico-wi,
.store-selection .ico-wi {
  background-position: 0 -1225px;
}
.stores .ico-su,
.product-purchase .ico-su,
.store-selection .ico-su {
  background-position: 0 -1260px;
}
.stores .ico-jb,
.product-purchase .ico-jb,
.store-selection .ico-jb {
  background-position: 0 -1295px;
}
.stores .ico-sk,
.product-purchase .ico-sk,
.store-selection .ico-sk {
  background-position: 0 -1330px;
}
.stores .ico-bm,
.product-purchase .ico-bm,
.store-selection .ico-bm {
  background-position: 0 -1365px;
}
.stores .ico-gvr,
.product-purchase .ico-gvr,
.store-selection .ico-gvr {
  background-position: 0 -1400px;
}
.stores .ico-akz,
.product-purchase .ico-akz,
.store-selection .ico-akz {
  background-position: 0 -1435px;
}
.stores .ico-ang,
.product-purchase .ico-ang,
.store-selection .ico-ang {
  background-position: 0 -1470px;
}
.stores .ico-kkb,
.product-purchase .ico-kkb,
.store-selection .ico-kkb {
  background-position: 0 -1505px;
}
.stores .ico-rvb,
.product-purchase .ico-rvb,
.store-selection .ico-rvb {
  background-position: 0 -1540px;
}
.stores .ico-spn,
.product-purchase .ico-spn,
.store-selection .ico-spn {
  background-position: 0 -1575px;
}
.stores .ico-nrm,
.product-purchase .ico-nrm,
.store-selection .ico-nrm {
  background-position: 0 -1610px;
}
.stores .ico-target,
.product-purchase .ico-target,
.store-selection .ico-target {
  background-position: 0 -1645px;
}
.stores .ico-yandex,
.product-purchase .ico-yandex,
.store-selection .ico-yandex {
  background-position: 0 -1680px;
}
.stores .ico-claro,
.product-purchase .ico-claro,
.store-selection .ico-claro {
  background-position: 0 -1715px;
}
.stores .ico-ytm,
.product-purchase .ico-ytm,
.store-selection .ico-ytm {
  background-position: 0 -1750px;
}
.stores .ico-playme,
.product-purchase .ico-playme,
.store-selection .ico-playme {
  background-position: 0 -1785px;
}
.stores .ico-zvooq,
.product-purchase .ico-zvooq,
.store-selection .ico-zvooq {
  background-position: 0 -1820px;
}
.stores .ico-saavn,
.product-purchase .ico-saavn,
.store-selection .ico-saavn {
  background-position: 0 -1855px;
}
.stores .ico-8track,
.product-purchase .ico-8track,
.store-selection .ico-8track {
  background-position: 0 -1890px;
}
.stores .ico-nmusic,
.product-purchase .ico-nmusic,
.store-selection .ico-nmusic {
  background-position: 0 -1925px;
}
.stores .ico-apple-music,
.product-purchase .ico-apple-music,
.store-selection .ico-apple-music {
  background-position: 0 -1960px;
}
.stores .ico-qsic,
.product-purchase .ico-qsic,
.store-selection .ico-qsic {
  background-position: 0 -1995px;
}
.stores .ico-cur,
.product-purchase .ico-cur,
.store-selection .ico-cur {
  background-position: 0 -2030px;
}
.stores .ico-mload,
.product-purchase .ico-mload,
.store-selection .ico-mload {
  background-position: 0 -2065px;
}
.stores .ico-dmusic,
.product-purchase .ico-dmusic,
.store-selection .ico-dmusic {
  background-position: 0 -2100px;
}
.stores .ico-pndr,
.product-purchase .ico-pndr,
.store-selection .ico-pndr {
  background-position: 0 -2135px;
}
.stores .ico-tnct,
.product-purchase .ico-tnct,
.store-selection .ico-tnct {
  background-position: 0 -2310px;
}
.stores .ico-boom,
.product-purchase .ico-boom,
.store-selection .ico-boom {
  background-position: 0 -2170px;
}
.stores .ico-ttunes,
.product-purchase .ico-ttunes,
.store-selection .ico-ttunes {
  background-position: 0 -2240px;
  border: 1px solid grey;
  border-radius: 4px;
}
.stores .ico-island,
.product-purchase .ico-island,
.store-selection .ico-island {
  background-position: 0 -2275px;
}
.stores .ico-byda,
.product-purchase .ico-byda,
.store-selection .ico-byda {
  background-position: 0 -2345px;
}
.stores .ico-uma,
.product-purchase .ico-uma,
.store-selection .ico-uma {
  background-position: 0 -2380px;
}
.stores .ico-net,
.product-purchase .ico-net,
.store-selection .ico-net {
  background-position: 0 -2450px;
}

.stores .ico-go-yt,
.product-purchase .ico-go-yt,
.store-selection .ico-go-yt {
  background-position: 0 -2485px;
}

.stores .ico-joox,
.product-purchase .ico-joox,
.store-selection .ico-joox {
  background-position: 0 -2520px;
}

.stores .ico-tim,
.product-purchase .ico-tim,
.store-selection .ico-tim {
  background-position: 0 -2555px;
}

.stores .ico-hung,
.product-purchase .ico-hung,
.store-selection .ico-hung {
  background-position: 0 -2590px;
}

.stores .ico-zed,
.product-purchase .ico-zed,
.store-selection .ico-zed {
  background-position: 0 -2625px;
}

.stores .ico-gaana,
.product-purchase .ico-gaana,
.store-selection .ico-gaana {
  background-position: 0 -2660px;
}

.stores .ico-wkhg,
.product-purchase .ico-wkhg,
.store-selection .ico-wkhg {
  background-position: 0 -2730px;
}

.stores .ico-qob,
.product-purchase .ico-qob,
.store-selection .ico-qob {
  background-position: 0 -2800px;
}

.stores .ico-scld,
.product-purchase .ico-scld,
.store-selection .ico-scld {
  background-position: 0 -2835px;
}

.freemium_platforms .ico-reels,
.stores .ico-reels,
.product-purchase .ico-reels,
.store-selection .ico-reels {
  background-position: 0 -2870px;
}

.stores .ico-dou,
.product-purchase .ico-dou,
.store-selection .ico-dou {
  background-position: 0 -2940px;
}

.stores .ico-mtn,
.product-purchase .ico-mtn,
.store-selection .ico-mtn {
  background-position: 0 -2975px;
}

.stores .ico-pel,
.product-purchase .ico-pel,
.store-selection .ico-pel {
  background-position: 0 -2905px;
}

.stores .ico-luna,
.product-purchase .ico-luna,
.store-selection .ico-luna {
  background-position: 0 -3045px;
}

.video-icons-table .ico-us,
#selected-stores .ico-us,
#unselected-stores .ico-us,
.accordion-body .ico-us {
  background-position: 0 -420px;
}
th.store-icon {
  width: 45px;
  height: 20px;
  padding: 0px;
}
.song-listing {
  font-size: 1.2em ;
  font-weight: bold;
  width: 100%;
}
.song-listing li {
  padding: 0;
}
.song-listing,
#track-list {
  border: 1px solid #c3c3c3;
  border-radius: 3px;
}
.new-button {
  position: absolute;
  bottom: 30px;
  left: 175px;
}
#song-form #spinner {
  position: absolute;
  right: 0;
  top: 65px;
}
.itunes_preview {
  background: #FFFFFF;
  background: linear-gradient(#FFFFFF, #E5E5E5);
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  box-shadow: inset 1px 2px 1px rgba(255, 255, 255, 0.3);
  margin: 0 0 20px;
}
.itunes_preview:active {
  background: #E5E5E5;
  background: linear-gradient(#E5E5E5, #FFFFFF);
}
.itunes_preview a {
  background-image: url(/images/release_view/itunes_icon.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  color: #000000;
  display: block;
  font-size: 13px;
  font-style: italic;
  padding: 20px 10px 20px 55px;
  text-align: center;
  text-decoration: none;
}
.song-preview label,
.single-preview label,
.ringtone-preview label {
  font-weight: normal;
}
.song-preview .form-readonly-text,
.single-preview .form-readonly-text,
.ringtone-preview .form-readonly-text {
  font-size: 12px;
}
.song-preview #preview-title-text,
.single-preview #preview-title-text,
.ringtone-preview #preview-title-text {
  padding-bottom: 0;
}
.song-preview #preview-artist-text,
.single-preview #preview-artist-text,
.ringtone-preview #preview-artist-text {
  padding-top: 0;
}

body[class^="ringtones__"] .scheduled_release_notice {
  display: none;
}

body[class^="ringtones__"] .scheduled_release_inner {
  color: #3B96CF;
  display: flex;
  font-size: 14px;
  margin: 0 0 1em 25%;
  min-height: 18px;
}

.scheduled_release_inner__lock {
  height: 18px;
  padding-right: 0.5em;
}

.main-artist-creative-controls {
  display: block;
  left: 469px;
  padding: 0;
  position: absolute;
  text-align: right;
  top: 2px;
  width: 25px;
}
.primary_artists {
  margin: 0;
  padding: 0;
}
.primary_artists ul {
  float: left;
  width: 72%;
}
.primary_artists .form-text {
  width: 63.5%;
}
.primary_artists .form-text.number-hidden {
  width: 69.5%;
}
.primary_artists .form-text.number-hidden.songwriter-artist {
  width: 37.2%;
}
.primary_artists .form-text.songwriter-artist {
  width: 28%;
}
.featuring_artists {
  margin: 0;
  padding: 0;
}
.featuring_artists ul {
  float: left;
  width: 72%;
}
.featuring_artists .form-text {
  width: 63.5%;
}
.featuring_artists .form-text.number-hidden {
  width: 69.5%;
}
#clean-selector .button-interface,
#explicit-selector .button-interface {
  margin-right: 1em;
  background: #fff;
  color: #1e98d3;
  border: 1px solid #1e98d3;
  padding: 0.5em 1em;
}
#clean-selector .option-selected,
#explicit-selector .option-selected {
  background: #1e98d3;
  color: #fff;
}

.button-callout {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
.button-callout:hover,
.button-callout:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.button-callout:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.button-callout-top,
.button-callout-alt {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
}
.button-callout-top:hover,
.button-callout-top:focus,
.button-callout-alt:hover,
.button-callout-alt:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.button-callout-top:active,
.button-callout-alt:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.button-callout-top:hover,
.button-callout-top:focus,
.button-callout-alt:hover,
.button-callout-alt:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
.button-callout-top:active,
.button-callout-alt:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
.button-interface {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  color: #777;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.button-interface:hover,
.button-interface:focus {
  background-color: #e5e5e5;
  border: 1px solid #d6d6d6;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #777;
}
.button-interface:active {
  background-color: #dcdcdc;
  border: 1px solid #d6d6d6;
}
#add-main-artists,
#add-feat-artists {
  margin-left: 25%;
}
#add-main-artists .button,
#add-feat-artists .button {
  background-color: #999;
  margin-top: 0;
}
#add-multi-artists {
  margin: 0;
  padding: 0 233px 0 0;
  text-align: right;
}
#add-multi-artists > a {
  margin-top: 0;
}
.main-artists-dropdown {
  max-height: 125px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 0px; font-size: 14px;
  overflow: auto;
  position: absolute;
  top: 23px;
  left: 0px;
  width: 31.8%;
  z-index: 998;
}

.main-artists-dropdown li {
  padding: 4px;
  margin-bottom: 0px;
}

.main-artists-dropdown .highlighted-option {
  background-color: #d3d3d3;
}
#track-list #add-multi-artists,
#song-form #add-multi-artists,
#add-song #add-multi-artists,
#edit-ringtone #add-multi-artists {
  padding-right: 119px;
}
#track-list .creatives_label,
#song-form .creatives_label,
#add-song .creatives_label,
#edit-ringtone .creatives_label {
  margin: 0;
  width: auto;
}
.additional-artists {
  padding-bottom: 26px;
}
.creatives_label {
  margin: 0;
  width: auto;
}
.creative_number {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  font-weight: normal;
  padding: 5px 10px;
  text-align: center;
}
.song-isrc-faq {
  font-size: 10px;
}
#song-form .save-button {
  padding: 0.65em 1.5em;
}
#warning p {
  font-size: 1.04em;
  margin-bottom: 10px;
}
#warning .submit {
  float: left;
  text-transform: none;
}
#warning .submit.push-right {
  float: right;
}
#warning .continue {
  float: left;
  margin-left: 45%;
  text-transform: none;
}
#warning .cancel {
  background: none;
  color: gray;
}
.helper {
  font-size: 1.3em;
  margin-bottom: 10px;
}
.helper .main_headline,
.advanced_features {
  color: #3B96CF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.25em;
  font-weight: 700;
  margin-top: 5px;
  padding: 0 10px 10px 0;
  width: 630px;
}

h2.advanced_features {
  padding: 0.5em 0;
}

.advanced_features_subheader {
  margin-bottom: 1em;
}

.cannot-ringtone {
  color: #3b96cf;
}

.form form {
  margin-bottom: 1.5em;
}
.form fieldset {
  border: 0;
}
.form input[type="submit"] {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 0;
  padding: 0.65em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  background-color: #44b1fa;
  border-color: #339de5;
  font-size: 1.4em;
  padding: 5px 10px;
  text-transform: none;
  width: 60%;
}
.form input[type="submit"]:hover,
.form input[type="submit"]:focus {
  background-color: #e7790e;
  border: 1px solid #d8710d;
  box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
  color: #fff;
}
.form input[type="submit"]:active {
  background-color: #df750d;
  border: 1px solid #d8710d;
}
.form input[type="submit"]:hover,
.form input[type="submit"]:focus {
  background-color: #44b1fa;
  border: 1px solid #339de5;
}
.form input[type="submit"]:active {
  background-color: #39a1e7;
  border: 1px solid #339de5;
}
.form #album_submit,
.form #single_submit,
.form #ringtone_submit {
  font-size: 1.4em;
  width: 60%;
}
.cover_art_requirements_old .heading {
  font-size: 1.38em;
  line-height: 1;
  padding: 10px 0 20px;
}
.cover_art_requirements_old ul {
  list-style: disc;
  margin-bottom: 1em;
  padding: 0 90px 0 40px;
}
.cover_art_requirements_old li + li {
  padding-top: 10px;
}
.art_uploader,
.art_maker {
  margin-bottom: 20px;
}
.cover_art_requirements {
  font-size: 1.15em;
}
.cover_art_requirements > h2 {
  font-size: 1.75rem;
  font-weight: 400;
}
.cover_art_requirements > p {
  width: 78%;
}
.cover_art_requirements-list {
  list-style: none;
  margin: 20px 0;
}
.cover_art_requirements-list-item {
  border-bottom: 1px solid #d1d1d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 10px 0;
}
.cover_art_requirements-list-item:first-child {
  border-top: 1px solid #d1d1d1;
}
.cover_art_requirements-list-item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
  text-align: center;
}
.cover_art_requirements-list-item-description {
  margin-left: 30px;
}
.cover_art_requirements-list-item-description > h3 {
  color: #3a96cf;
  font-size: 1.25rem;
  font-weight: 400;
}
.cover_art_requirements-list-item-description > p {
  width: 78%;
}
.cover_art {
  margin: 30px 0 10px;
}
.cover_art_requirements-confirm {
  margin-bottom: 30px;
  text-align: center;
}
.cover_art_requirements-confirm > h3 {
  color: #ea1f30;
  font-size: 1.25rem;
}
.cover_art_requirements-confirm > p {
  font-size: 1.15em;
  font-weight: 700;
}
.cover_art_requirements-confirm .button-callout-top,
.cover_art_requirements-confirm .button-callout-alt,
.cover_art_requirements-confirm .button-interface {
  font-size: 1.15em;
}
.cover_art_requirements-confirm .button-callout-top,
.cover_art_requirements-confirm .button-callout-alt {
  margin-right: 15px;
  text-transform: none;
}
.cover_art_requirements-confirm .button-interface {
  font-weight: 500;
  margin-right: 15px;
}
.cover_art_requirements-footer-links {
  font-size: 0.875rem;
  margin-bottom: 60px;
  display: flex;
}

.cover_art_requirements-footer-links a {
  margin: auto;
}
.art_maker .button-callout-top,
.art_maker .button-callout-alt {
  margin-top: 0;
}
.style-suggestion {
  background: rgba(255, 255, 0, 0.75);
  border: 1px solid #666;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(159, 159, 159, 0.8);
  color: #333;
  font-size: 12px;
  font-weight: 700;
  left: 233px;
  margin: 0;
  padding: 4px 8px;
  position: absolute;
  top: 30px;
  width: 285px;
  z-index: 1000;
}
.ie8 .style-suggestion,
.ie7 .style-suggestion {
  background: #ff0;
}
.ie7 .style-suggestion {
  bottom: 28px;
}
.popup {
  background: #fff;
  border-radius: 5px;
  color: #333;
  font-size: 1.2em;
  line-height: 1.5;
  margin: 20px auto;
  max-width: 500px;
  min-width: 0;
  padding: 24px;
  position: relative;
  width: auto;
}
.popup > header h1 {
  border-bottom: 3px solid #333;
  font-size: 2em;
  line-height: 1;
  margin-bottom: 24px;
  padding-bottom: 12px;
}
.popup h2 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 12px;
}
.popup p {
  font-size: 1.15em;
  padding-bottom: 12px;
}
.popup img {
  display: none;
}
.albuminfo dt,
.albuminfo dd {
  float: left;
  width: 50%;
}
.albuminfo dt {
  font-weight: normal;
  font-family: Georgia;
  color: #666666;
  font-style: italic;
}
.albuminfo .roundy-content h2 {
  font-size: 32px;
  margin-top: 0;
}
.albuminfo .roundy-content h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.help-link {
  font-family: Georgia, Times, serif;
  font-size: 1.3em;
  font-style: italic;
  position: absolute;
  right: 15px;
  text-align: right;
  top: 0;
}
.preorder-content-holder {
  line-height: 1.5;
  padding: 15px;
}
.preorder-content-holder p {
  font-size: 1.3em;
}
.preorder-content-holder .preorder-warning {
  font-size: 1.4em;
  font-weight: 700;
  padding-top: 20px;
}
.preorder-content-holder label {
  float: none;
  font-size: 1.3em;
  font-weight: 400;
  width: auto;
}
.preorder-content-holder .note {
  margin: 0 0 20px;
  width: 75%;
}
.preorder-content-holder dl {
  font-size: 14px;
  line-height: 2;
}
.preorder-content-holder dt {
  font-weight: normal;
  margin-right: 20px;
  width: 50%;
}
.choose-preorder {
  margin: 18px 0 12px;
}
.choose-preorder label {
  display: block;
  font-size: 1.6em;
  text-align: left;
}
.choose-preorder label.active {
  font-weight: 700;
}
.choose-preorder label.disabled {
  color: #999;
}
.choose-preorder input {
  font-size: 12px;
}
.preorder-options {
  border: 1px solid #ccc;
  border-bottom: 0;
  -webkit-border-top-right-radius: 25px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 25px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 25px;
  margin-bottom: 20px;
  opacity: 0.5;
  overflow: hidden;
}
.preorder-options + .note {
  width: 100%;
}
.preorder-options.active {
  opacity: 1;
}
.preorder-options.active .preorder-options {
  opacity: 1;
}
.preorder-options.active .collapse-link {
  display: inline;
}
.preorder-option-header {
  padding: 16px 12px;
  border-bottom: 1px solid #cccccc;
  font-size: 14px;
  font-weight: bold;
  color: #4d4d4d;
  background-color: #e3e3e3;
}
.preorder-option-header span {
  font-size: 13px;
  font-weight: normal;
}
.preorder-option-content {
  border-bottom: 1px solid #ccc;
  color: #777;
  display: none;
  font-size: 1em;
  padding: 18px;
}
.preorder-option-content > p {
  margin-bottom: 10px;
}
.preorder-option-content .preorder-option input,
.preorder-option-content .preorder-option label {
  font-size: 1.3em;
}
#preview_checkbox {
  font-size: 1.3em;
}
.optional {
  font-size: 14px;
  margin-left: 7px;
  font-weight: normal;
}
.grat_checkbox {
  margin-right: 7px;
}
.notice.preorder {
  background: none;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 15px;
}
.notice.note {
  border: 1px solid #3a96cf;
  font-size: 1em;
  padding: 15px;
}
.content-table {
  border: 1px solid #ccc;
  font-size: 1.3em;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 15px;
  width: 75%;
}
#start_date_option .notice {
  background-clip: padding-box;
  color: #333;
  padding: 10px;
}
#start_date_option .notice-alert {
  background-color: #ffffcc;
}
.preorder-submit {
  font-size: 1.4em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  margin-top: 20px;
}
/* post-distributed */
.distributed-table {
  padding: 12px;
  border: 1px solid #cccccc;
  font-size: 14px;
}
.distributed-table tr td {
  padding-top: 10px;
}
.distributed-table tr:first-child td {
  padding: 0;
}
.distributed-table tr td:first-child {
  padding-right: 1.5em;
  text-align: right;
  color: #777777;
  font-family: Georgia;
  font-style: oblique;
}
.distributed-table tr td:last-child {
  color: #000000;
}
/********************** individual options */
.individual-check {
  margin-right: 0.75em;
}
.collapse-link {
  font-size: 13px;
  font-weight: normal;
  display: none;
}
.saved-interior {
  padding: 12px;
  border: 1px solid #69aad1;
  border-radius: 5px;
  background-color: #e5f4fd;
  color: #1274b2;
  font-weight: bold;
  text-align: center;
}
/* start date */
#date-input {
  width: 250px;
  border: 1px solid #dadada;
  border-radius: 5px;
  line-height: 2em;
}
/* track options */
.grat-holder {
  padding: 12px;
  padding-bottom: 0;
  padding-right: 50px;
  border: 1px solid #cccccc;
}
.grat-track {
  height: 30px;
  color: #333333;
}
/* pricing options */
.content-table tr td {
  padding-top: 14px;
}
.content-table tr:first-child td {
  padding: 0;
}
.content-table tr td:first-child {
  padding-right: 1em;
  text-align: right;
}
.content-table tr td:last-child {
  color: #333;
  font-weight: bold;
  padding-left: 0.5em;
}
.content-table tr:last-child td:last-child {
  padding-left: 0;
}
.content-table tr:last-child td:last-child .price-unit {
  font-size: 14px;
}
.content-table tr b {
  color: #555;
}
#album-price {
  font-size: 16px;
}
#track-price {
  font-size: 14px;
}
/********************** sidebar checklist */
#checklist {
  width: 287px;
  margin-left: 2em;
}
.checklist-header {
  margin-top: 24px;
  padding-top: 20px;
  padding-bottom: 14px;
  border-bottom: 3px solid #656565;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}
.checklist-item {
  border-bottom: 1px solid #cccccc;
  padding: 12px 0;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  line-height: 1em;
}
.optional-item {
  border-top: 3px solid #656565;
}
.checkmark {
  margin-right: 10px;
}
#anchor {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, serif;
  font-style: normal;
  color: #000000;
  cursor: pointer;
}
#anchor:hover {
  text-decoration: underline;
}
/********************** modals */
#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}
.modalinterior {
  width: 400px;
  padding: 24px;
  display: none;
  background: #ffffff;
  font-size: 13px;
  line-height: 1.5em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.pricingmodal {
  width: 600px;
  height: 600px;
  overflow: auto;
}
.closebox {
  width: 12px;
  height: 12px;
  float: right;
  margin-bottom: 12px;
  cursor: pointer;
}
.thick-border {
  border-bottom: 3px solid #656565 !important;
}
.saved-msg {
  display: none;
  margin-top: 15px;
  font-size: 14px;
  padding: 12px;
  border: 1px solid #69AAD1;
  border-radius: 5px;
  background-color: #E5F4FD;
  color: #1274B2;
  font-weight: bold;
  text-align: center;
}
#cyrillic_formatting_popup .content {
  font-size: 1.15em;
}
#cyrillic_formatting_popup .content > header h1 {
  border-bottom: 0;
  padding: 0;
}
#cyrillic_formatting_popup .pod > header {
  margin-top: 2em;
}
#cyrillic_formatting_popup .pod-body h3 {
  margin-top: 20px;
}
#cyrillic_formatting_popup .pod-body ol {
  margin-bottom: 20px;
  padding-left: 2em;
}
#cyrillic_formatting_popup .pod-body table {
  margin: 10px 0;
}
#cyrillic_formatting_popup .pod-body table,
#cyrillic_formatting_popup .pod-body td,
#cyrillic_formatting_popup .pod-body th {
  border: 1px solid #ccc;
}
#cyrillic_formatting_popup .pod-body thead th {
  background-color: #e0e0e0;
  padding: 12px 10px 6px;
}
#cyrillic_formatting_popup .pod-body tbody td {
  padding: 6px 10px;
}
#cyrillic_formatting_popup .pod-body .submit-btn,
#cyrillic_formatting_popup .pod-body .cancel-btn {
  font-size: 1.15em;
}
#cyrillic_formatting_popup .pod-body .cancel-btn {
  margin-left: 20px;
}
#single_clean_version_list_item,
#ringtone_clean_version_list_item {
  width: 50%;
  padding-top: 10px;
}
#song_clean_version_list_item {
  padding-top: 10px;
  width: 85%;
}
.clean-version-checkbox {
  display: none;
}
.icon-large {
  float: left;
  font-size: 22px;
  margin-right: 10px;
  margin-top: -2px;
}
.calendar-fieldset legend,
.calendar-fieldset .notice {
  margin-left: 25%;
  width: 50%;
}
.calendar-fieldset legend {
  color: #137EC1;
  font-size: 1.15em;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: center;
}
.calendar-fieldset .notice {
  background: #137EC1;
  border-radius: 3px;
  color: #fff;
  font-size: 1.15em;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px 30px;
}
.monetize input[type="submit"] {
  float: right;
  font-size: 1em;
  font-weight: 700;
  margin-right: 25px;
  padding: .65em 1.5em;
  text-transform: uppercase;
}
.monetize > ol {
  font-size: 1.15em;
}
.monetize > ol ol {
  list-style-type: none;
}
.monetize > ol ol li {
  counter-increment: section;
}
.monetize > ol ol li:before {
  content: counter(section, upper-alpha) ")";
  padding-right: 5px;
}
.monetize ol {
  padding-left: 1.5em;
}
.monetize li {
  padding-bottom: 1em;
}
.ytm-notice-long {
  background-image: url("/images/icons/alert.png");
  background-position: 15px 15px;
  background-repeat: no-repeat;
  padding-left: 92px;
}
.ytm-notice-long h3 {
  font-size: 1.15em;
  font-weight: 700;
  margin-bottom: 1em;
  text-decoration: underline;
}
.ytm-notice-long p {
  font-size: 1em;
}
.ytm-notice-long p + p {
  margin-top: 1em;
}
/* Album Alerts */
#persistent-alert {
  border-radius: .5rem;
  padding: 20px;
}
.release-alert {
  font-size: 1rem;
}
.release-alert::before {
  background: url(/images/icons/alert_red.png) no-repeat;
  content: '';
  display: block;
  height: 40px;
  margin: 0 auto 20px;
  width: 48px;
}
.release-alert .alert-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/*Album Edit - Release Time Styles*/
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.choose_cross_timezone {
  margin-left: 25%;
}

.choose_cross_timezone label {
  width: 65%;
  text-align: left;
  display: flex;
}

.choose_cross_timezone label > p {
  margin-left: 1em;
}

.choose_cross_timezone > p {
  margin-left: 2em;
}

.release_date > label {
  margin-top: 2em;
}

.release_date > label > tiny {
  font-style: italic;
  display: block;
  font-size: 11px;
  font-weight: 400;
}

.release_date > div > div {
  width: 13%;
  margin-right: 1em;
}

.release_date #release_date_tip {
  margin-left: 25%;
}

.release_date .release_date_captions {
  width: 500px;
  font-size: 11px;
  margin-top: 1em;
}


.release_time {
  margin-bottom: 2em;
}

.release_time input, .release_time select {
  width: 5em;
  min-width: 5em;
}

.release_time tiny {
  margin-left: 25%;
  font-size: 12px;
  margin-top: 12px;
  display: block;
}

.release_time .release_time_item {
  margin-right: 1em;
}

.timed_release_fieldset {
  border-bottom: 1px solid #eee;
  font-size: 1.4em;
  margin: 0 0 6px 0;
  padding: 0 0 6px 0;
  position: relative;
}

.golive-error {
  background-color: #f22;
  border-radius: 3px;
  clear: left;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  float: left;
  font-weight: 500;
  margin: 5px 50% 10px 28%;
  padding: 3px 5px;
}
/*Album Edit - Release Time Styles - Ends */

.stores_list_row {
  display: flex;
  justify-content: space-between;
}

.stores-list-row-input {
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: space-evenly;
}

.stores-list-row-input span {
  font-size: 19.5px;
  font-weight: bold; color: #333333;
}

.stores-list-row-input #deliver_automator {
  margin-left: 5px;
}

.automator-linkbar {
  border-top: 1px solid #979797;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 115px;
}

.automator-linkbar h2 {
  font-size: 19.5px;
}

.automator-linkbar p {
  font-size: 13px;
}

.automator-linkbar header {
  justify-content: space-between;
}

.automator-linkbar .automator-caption {
  width: 75%;
  font-size: 13px;
}

.automator-form .automator-caption {
  width: 100%;
}

.automator-form {
  height: 100%;
}

button.add-artist-url {
  background: #43b1fa !important;
  padding: 7px 15px;
  color: #fff;
  border-radius: 5px;
}

.artwork-box {
  position: relative;
}

.artwork-box-new {
  position: relative;
  width: 50%;
}

@media screen and (max-width: 480px) {
  .mobile-block {
    display: block;
  }

  .release-form .form-input, .release-form .select select {
    width: 100%;
    padding: 5px;
  }

  .release-form label {
    text-align: left;
    margin-bottom: 10px;
  }

  .release-form .primary_artists ul {
    width: 100%;
  }

  .release-form .release_date > label {
    margin-top: 0px;
  }

  .release-form .release_date .flex-column {
    width: 30%;
  }

  .release-form .release_date .flex-column label {
    text-align: left;
    font-size: 12px;
    font-weight: normal;
  }

  .release-form .release_date_captions {
    width: 100%;
  }

  .release-form .release_time .flex-row {
    justify-content: center;
  }

  .release-form .release_time .release_time_item {
    padding: 5px;
  }

  .release-form .release_time tiny {
    text-align: center;
    margin-left: 0px;
  }

  .release-form .choose_cross_timezone {
    margin-left: 0px;
  }

  .release-form .choose_cross_timezone label {
    font-weight: normal;
    width: 100%;
  }

  .release-form .choose_cross_timezone label:last-child {
    margin-top: 15px;
  }

  .release-form .release-radio-selector{
    display: flex;
    flex-direction: row;
  }

  .release-form .primary_artists .songwriter-artist {
    width: 85% !important;
  }

  .release-form button.add-artist-url {
    padding: 10px;
    width: 100%;
    margin-top: 5px;
  }

  .release-form .main-artist-creative-controls.songwriter-remove-btn {
    left: inherit;
    right: 10px;
  }

  .release-form fieldset#add-main-artists {
    margin-left: 0px;
  }

  .release-form .add-main {
    width: 100%;
    text-align: center;
  }

  .release-form #clean-selector,
  .release-form #explicit-selector {
    justify-content: center;
  }

  .artwork-box {
    margin-bottom: 0px;
    width: 50%;
  }

  .mobile-artwork-btn {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .mobile-artwork-btn-new {
    width: 75%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.artwork-btn-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3b96cf;
  background-color: #e8f9ff;
}

.artwork-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artwork-header h1, .artwork-header a {
  margin: 0 0 0 0 !important;
}

.artwork-header h1 {
  padding-bottom: 0 !important;
}

.loading-release-submission-spinner {
  display: none;
  font-size: 2.4em;
}

#ytsr-ineligible-notification{
  color:red;
  display:inline-block;
}

.label-length {
  max-width: 350px;
  word-wrap: break-word;
}

#salepoint_subscription_checkbox:disabled:hover {
  cursor:not-allowed;
}

/*# sourceMappingURL=source/release_creation.css.map */
