#persistent-alert {
  @extend .align-center;

  display: flex;

  span {
    border: 2px solid $error_color;
    padding: 10px;

    strong {
      @extend .align-center;
      display: flex;
    }
  }

  .alert-title {
    color: $error_color;
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 5px;
  }
}
