@import "base/variables";

body {
  background-color: #f3f3f3;
}

#signup-button:disabled {
  background-color: #bdbdbd;
  border: #bdbdbd;
  cursor: default;
}

#signup-button:disabled:hover {
  box-shadow: none;
}

#signup-recaptcha {
  margin-bottom: 3%;
}

// sign up modal
#domain-redirect-modal {
  text-align: center;
  max-width: 600px;
  height: 300px;
  margin: auto;
  position: relative;
  background: white;
  padding: 20px;
  font-size: 12pt;
}

#domain-redirect-modal {
  .welcome {
    font-weight: bold;
    margin: 3% 0;
  }

  .modal {
    &-domain-check {
      margin-top: 12px;
    }

    &-buttons {
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 80%;
      margin: 0 10% 5%;

      .button {
        height: 50px;
        background-color: inherit;
        color: black;
        border: solid black 1px;
      }

      .button:hover {
        box-shadow: none;
      }
    }
  }
}

.phone-form-text {
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  display: inline-block;
  font-size: 14px;
  padding: 5px;
  width: 35%;
}
.phone-form-text.prefix {
  width: 12%;
  margin-right: 2%;
}

@media screen and (max-width: 640px) {
  .phone-number.fieldset {
    display: inline-block;
    width: 100%;
  }
  .phone-form-text {
    width: 75.6%;
    box-sizing: border-box;
  }
  .phone-form-text.prefix {
    width: 20%;
    margin-right: 3%;
  }
}

form#new_person {
  label {
    width: 30%;
  }
}

.form-field-error {
  width: fit-content;
  max-width: 50%;
  color: #fff;
  background-color: #f22;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  padding: 3px 5px;
  margin-top: 0.5em;

  @media screen and (min-width: 641px) {
    margin-left: 30%;
  }

  &.terms-and-conditions {
    margin: auto;
  }
}
