$tooltip-background-color: white;

.tooltip {
  background-color: $tooltip-background-color;
  box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
  max-width: inherit;
  position: absolute;
  top: -46px;
  z-index: 10;
}

.tooltip-title {
  background-color: #1293D1;
  color: white;
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.tooltip-column {
  padding: 10px;
  font-weight: normal;
  color: $readability-black;
}

.tooltip-container {
  display: inline-block;
  position: relative;
}

.tooltip-container-link {
  float: right;
  a {
    cursor: default;
  }

  .tooltip-right {
    width: 451px;
    .tooltip-column {
      width: 50%;
      float: left;
      color: $readability-black;
    }
  }

  .tooltip-right-arrow {
    &:after {
      transform: rotate(135deg);
      top: 20px;
      right: 13px;
    }
  }
}

.tooltip-left {
  left: 40px;
  width: 286px;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.5);
}

.tooltip-right {
  right: 40px;
  width: 451px;
  .tooltip-column {
    width: 50%;
    float: left;
  }
}

.tooltip-arrow {
  width: 25px;
  height: 60px;
  position: absolute;
  overflow: hidden;
  top: -25px;
  z-index: 100;
  &:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: $tooltip-background-color;
    top: 90px;
  }
}

.tooltip-right, .tooltip-right-arrow:after {
  box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
}

.tooltip-left, .tooltip-left-arrow:after {
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.5);
}

.tooltip-right-arrow {
  right: 15px;
  &:after {
    transform: rotate(135deg); /* Prefixes... */
    top: 20px;
    right: 13px;
  }
}

.tooltip-left-arrow {
  left: 15px;
  &:after {
    background: $tooltip-background-color;
    transform: rotate(45deg); /* Prefixes... */
    top: 20px;
    left: 13px;
  }
}

.tooltip-info-icon {
  color: $tc-blue;

  &:before {
    font-family: FontAwesome;
    content: $fa-info;
  }

  &:hover {
    color: $tunecore-yellow;
  }
}

@media screen and (max-width: 395px) {
  .song-form .song-explicit-error .error-message-text {
    padding: 0px !important;
  }
}

@media screen and (max-width: 470px) {
  .tooltip-container {
    display: none;
  }
}
