@import "./base/icons";
@import "./base/variables";
@import "./tooltip.scss";

/*
  VAT Tooltip specific styles
*/
.vat-tooltip {
  width: 250px;
  background-color: transparent;

  .vat-tooltip-inner {
    padding: 0;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 100;

    .vat-tooltip-body {
      .vat-tooltip-title {
        background-color: #1293d1;
        color: white;
        font-size: 12px;
        padding: 10px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .vat-tooltip-content {
        padding: 10px;
        font-weight: normal;
        color: $readability-black;
      }
    }
  }

  .vat-tooltip-arrow {
    margin-top: -30px;
    width: 22px;
    height: 60px;
    overflow: hidden;
    border: none;

    .arrow {
      width: 25px;
      height: 25px;
      position: absolute;
      z-index: 101;
      background: white;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      transform: rotate(45deg);
      top: 15px;
    }
  }

  &.vat-tooltip-placement-right {
    .vat-tooltip-inner {
      margin-left: 16px;
    }

    .vat-tooltip-arrow {
      .arrow {
        left: 10px;
      }
    }
  }

  &.vat-tooltip-placement-left {
    .vat-tooltip-inner {
      margin-right: 16px;
    }

    .vat-tooltip-arrow {
      .arrow {
        right: 10px;
      }
    }
  }
}

/*
  Style sheet imported from rc-tooltip with class names renamed to vat-tooltip and minor changes
*/

.vat-tooltip.vat-tooltip-zoom-appear,
.vat-tooltip.vat-tooltip-zoom-enter {
  opacity: 0;
}
.vat-tooltip.vat-tooltip-zoom-enter,
.vat-tooltip.vat-tooltip-zoom-leave {
  display: block;
}
.vat-tooltip-zoom-enter,
.vat-tooltip-zoom-appear {
  opacity: 0;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation-play-state: paused;
}
.vat-tooltip-zoom-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
  animation-play-state: paused;
}
.vat-tooltip-zoom-enter.vat-tooltip-zoom-enter-active,
.vat-tooltip-zoom-appear.vat-tooltip-zoom-appear-active {
  animation-name: rcToolTipZoomIn;
  animation-play-state: running;
}
.vat-tooltip-zoom-leave.vat-tooltip-zoom-leave-active {
  animation-name: rcToolTipZoomOut;
  animation-play-state: running;
}
@keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
  }
}
@keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
  }
}
.vat-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  line-height: 1.5;
  font-size: 12px;
  background-color: transparent;
  padding: 1px;
}
.vat-tooltip-hidden {
  display: none;
}
.vat-tooltip-inner {
  padding: 8px 10px;
  color: #333333;
  text-align: left;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 3px;
  min-height: 34px;
  border: 1px solid #b1b1b1;
}
.vat-tooltip-arrow,
.vat-tooltip-arrow-inner {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.vat-tooltip-placement-top .vat-tooltip-arrow,
.vat-tooltip-placement-topLeft .vat-tooltip-arrow,
.vat-tooltip-placement-topRight .vat-tooltip-arrow {
  bottom: -5px;
  margin-left: -6px;
  border-width: 6px 6px 0;
  border-top-color: #b1b1b1;
}
.vat-tooltip-placement-top .vat-tooltip-arrow-inner,
.vat-tooltip-placement-topLeft .vat-tooltip-arrow-inner,
.vat-tooltip-placement-topRight .vat-tooltip-arrow-inner {
  bottom: 1px;
  margin-left: -6px;
  border-width: 6px 6px 0;
  border-top-color: #ffffff;
}
.vat-tooltip-placement-top .vat-tooltip-arrow {
  left: 50%;
}
.vat-tooltip-placement-topLeft .vat-tooltip-arrow {
  left: 15%;
}
.vat-tooltip-placement-topRight .vat-tooltip-arrow {
  right: 15%;
}
.vat-tooltip-placement-right .vat-tooltip-arrow,
.vat-tooltip-placement-rightTop .vat-tooltip-arrow,
.vat-tooltip-placement-rightBottom .vat-tooltip-arrow {
  left: -5px;
  border-width: 6px 6px 6px 0;
  border-right-color: #b1b1b1;
}
.vat-tooltip-placement-right .vat-tooltip-arrow-inner,
.vat-tooltip-placement-rightTop .vat-tooltip-arrow-inner,
.vat-tooltip-placement-rightBottom .vat-tooltip-arrow-inner {
  left: 1px;
  margin-top: -6px;
  border-width: 6px 6px 6px 0;
  border-right-color: #ffffff;
}
.vat-tooltip-placement-right .vat-tooltip-arrow {
  top: 50%;
}
.vat-tooltip-placement-rightTop .vat-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}
.vat-tooltip-placement-rightBottom .vat-tooltip-arrow {
  bottom: 15%;
}
.vat-tooltip-placement-left .vat-tooltip-arrow,
.vat-tooltip-placement-leftTop .vat-tooltip-arrow,
.vat-tooltip-placement-leftBottom .vat-tooltip-arrow {
  right: -5px;
  border-width: 6px 0 6px 6px;
  border-left-color: #b1b1b1;
}
.vat-tooltip-placement-left .vat-tooltip-arrow-inner,
.vat-tooltip-placement-leftTop .vat-tooltip-arrow-inner,
.vat-tooltip-placement-leftBottom .vat-tooltip-arrow-inner {
  right: 1px;
  margin-top: -6px;
  border-width: 6px 0 6px 6px;
  border-left-color: #ffffff;
}
.vat-tooltip-placement-left .vat-tooltip-arrow {
  top: 50%;
}
.vat-tooltip-placement-leftTop .vat-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}
.vat-tooltip-placement-leftBottom .vat-tooltip-arrow {
  bottom: 15%;
}
.vat-tooltip-placement-bottom .vat-tooltip-arrow,
.vat-tooltip-placement-bottomLeft .vat-tooltip-arrow,
.vat-tooltip-placement-bottomRight .vat-tooltip-arrow {
  top: -5px;
  margin-left: -6px;
  border-width: 0 6px 6px;
  border-bottom-color: #b1b1b1;
}
.vat-tooltip-placement-bottom .vat-tooltip-arrow-inner,
.vat-tooltip-placement-bottomLeft .vat-tooltip-arrow-inner,
.vat-tooltip-placement-bottomRight .vat-tooltip-arrow-inner {
  top: 1px;
  margin-left: -6px;
  border-width: 0 6px 6px;
  border-bottom-color: #ffffff;
}
.vat-tooltip-placement-bottom .vat-tooltip-arrow {
  left: 50%;
}
.vat-tooltip-placement-bottomLeft .vat-tooltip-arrow {
  left: 15%;
}
.vat-tooltip-placement-bottomRight .vat-tooltip-arrow {
  right: 15%;
}
