@import "./base/icons";
@import "./base/variables";
@import "./people/self_billing.scss";

.withdrawal-amount-vat-tooltip {
  .vat_tooltip {
    display: inline;
    .tooltip-info-icon:before {
      content: "\f059";
      font-size: 14px;
    }
  }
}

.withdraw_paypal_fieldset_background {
  background: rgba(210, 225, 233, 0.35);
  border: 1px solid rgba(195, 195, 195, 0.35);
  box-shadow: none;
  border-radius: 3px;

  fieldset {
    border: none;
    background: none;
    float: none;
    input[type="submit"] {
      &:disabled {
        opacity: 0.5;
        background-color: #e7790e;
        border: 1px solid #d8710d;

        &:hover {
          box-shadow: unset;
        }

        &:active {
          background-color: #e7790e;
          border: 1px solid #d8710d;
        }
      }
    }
  }

  .self-billing-and-address-container {
    .form-container {
      form {
        .self-billing-component {
          margin: 10px 100px;

          h4 {
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 10px;
          }

          p {
            margin: 0;
          }

          .checkbox-wrapper {
            padding: 10px 50px;

            ul {
              margin: 0;

              label {
                float: none;
                color: black;
              }
            }
          }

          #self-billing-required-error {
            margin-top: 0;
            margin-bottom: 20px;
          }
        }

        .address-section {
          .title {
            background: #0096cd;
            padding: 5px 20px;
            h4 {
              color: white;
              font-size: 16px;
              float: none;
              text-align: start;
            }
          }

          .contents {
            padding: 5px 20px;

            .fields {
              li {
                margin-bottom: 5px;

                label {
                  color: black;
                  float: none;
                  text-align: start;
                  display: block;
                  font-weight: bold;
                }

                input[type="text"] {
                  border-color: rgb(133, 133, 133);
                }
              }

              select {
                padding: 7px 5px 4px 5px;
                border-radius: 4px;
                border-color: rgb(133, 133, 133);
              }
            }
          }
        }

        .button-group {
          justify-content: center;
          display: flex;
          margin-bottom: 20px;

          .cancel {
            margin-right: 80px;
          }

          input[type=submit]:disabled {
            cursor: not-allowed;
            background-color: #e5e5e5;
            border: 1px solid #d6d6d6;
            color: #777;
          }
        }
      }
    }
  }
}

.vat-removal-warning {
  max-width: max-content;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fffde8;
  border: 1px solid #f3ecb0;
  padding: 10px;
}
