<div class="subsection">
  <h2><%= @page_title %></h2>
  <p class="caption">This distribution report includes all albums, singles, or ringtones sent from Tunecore.  This includes all items distributed through 'Al a Carte' purchases and Distribution Credits.</p>
  <table class="data-report">
    <%= render(:partial => "reports_shared/report_headers", :locals => {:headers => @headers})%>
    <tbody>
      <%= render(:partial => "reports_shared/report_rows", :locals => {:report => @report }) %>
    </tbody>
  </table>
</div>