.additional-song-info {
  &_fieldset {
    border: 1px solid #979797;
    padding: 8px;
    margin-top: 21px;
  }

  &_legend {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
  }
}
