$background-color: white;
$border-color: #979797;
$font-color: #333;

.dropsdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 8px 10px 10px 10px;
}

.dropsdown select {
  width: 100%;
  border-radius: 0;
  outline: none;
  background-color: $background-color;
  color: $font-color;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;
  border: 1px solid $border-color;
  margin: 0;
  text-indent: 0.01px;
  text-overflow: '';
  /*Hiding the select arrow for firefox*/
  -moz-appearance: none;
  /*Hiding the select arrow for chrome*/
  -webkit-appearance:none;
  /*Hiding the select arrow default implementation*/
  appearance: none;
}
/*Hiding the select arrow for IE10*/
.dropsdown select::-ms-expand {
  display: none;
}

.dropsdown::before,
.dropsdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.dropsdown::after { /*  Custom dropdown arrow */
  content: "\f107";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  height: 1em;
  line-height: 1;
  right: 10px;
  top: 50%;
  margin-top: -.5em;
  &:hover {
    cursor: pointer;
  }
}

.dropsdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 1px solid $border-color;
  border-radius: 0 3px 3px 0;
}

.dropsdown::after {
  color: $font-color;
}

.dropsdown select[disabled] {
  color: $font-color;
}

