$warning-color: #D0021B;
$error-color: #D0021B;
$form-border-color: #979797;

.artists-creatives {
  &_fieldset {
    border: 1px solid $form-border-color;
    padding: 8px;
    margin-top: 26px;
    p {
      padding: 8px;
    }

    div.artist-table {
      padding-left: 8px;
    }
  }

  &_legend {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
  }

}

.songwriter-text-container {
  margin-bottom: 10px;
}

.songwriter-warning {
  color: #F5A623;
  line-height: 33px;
}

.songwriter-warning-paragraph {
  margin-top: -15px;
}

.artist-table {
  &_header {
    margin: 10px 0;
    display: inline-block;
    &_name {
      width: 30%;
    }

    &_credit {
      width: 21%;
      margin-left: 11px;
    }

    .fa-info-circle {
      color: #1293D1;
      &:hover {
        color: #FFCC33;
      }
    }

    &_role {
      width: 20%;
    }
  }
  .message-error {
    height: 40px;
  }

  .first-artist-error {
    margin-top: 10px;
  }
}

.artist-row {
  min-height: 59px;
  &:not(first-child) {
  }
  .field-warning  {
    .field-warning-text {
      width: 160%;
      margin-bottom: -6px;
    }
    &:first-child {
      width: 100%;
      display: block;
    }
  }
  .artist-song-name {
    width: 95%;
    margin-right: 15px;
    &_no_edit {
      width: 100%;
      padding: 5px;
      height: 34px;
    }
    .artist-name-autocomplete-input {
      width: 100%;
      padding: 5px;
      border: 1px solid #979797;
      height: 34px;
      &.missing {
        border: 3px solid $error-color;
      }

      &.warning {
        border: 3px solid #F5A623;
      }
    }
  }

  .artist-song-credit-select {
    width: 26%;
    margin-left: 14px;
    &_no_edit {
      padding: 5px 5px 5px 5px;
      width: 99%;
      height: 37px;
    }
    .primary_artist_input {
      width: 87%;
      margin-left: 6%;
      height: 34px;
    }
    .artist-song-credit-select-element {
      height: 34px;
      &.warning {
        border: 3px solid #F5A623;
      }
    }
  }

  .artist-song-role-select {
    width: 95%;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
  }

  .remove-artist-container {
    display: inline-block;
    width: 1%;
    .remove-artist {
      outline: none;
      border: none;
      background-color: white;
      color: lightgrey;
      &:hover {
        color: $error-color;
      }
      bottom: 24px;
      position: relative;
    }
  }
}

.Select-control {
  border-radius: 0px;
  border: 1px solid #979797;
  height: 34px;
}


.add-artist {
  margin-top: 8px;
  margin-bottom: 8px;
  border: none;
  outline: none;
  background-color: white;
  color: #1293D1;
}

.copy-artists,
.copy-songwriters,
.copy-copyrights {
  color: #1293D1;
  margin-left: 247px;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  &:focus {outline:0;}
  &:disabled {
    cursor: default;
    color: grey
  }

  .copy-from-previous-icon {
    padding-right: 4%;
    &:before {
      content: $fa-copy;
      font-family: FontAwesome;
    }
  }
}

@media screen and (max-width: 480px) {
  .add-artist {
    display: block
  }

  .copy-artists,
  .copy-songwriters,
  .copy-copyrights {
    margin: 10px 0px;
  }

  .bottom-form-buttons {
    .action-button.submit-button {
      float: none;
      margin-bottom: 10px;
    }

    .action-button {
      text-align: center;

      .cancel-song {
        margin: 15px 0px;
        padding-top: 0px;
      }

      .remove-song {
        margin: 15px 0px;
        padding-top: 0px;
        max-width: 100%;
      }
    }
  }
}

.copy-copyrights {
  margin-left: 175px;
}

.invalid-song {
  color: $error-color;
}

form input[type="submit"] {
  &.submit-song {
    &[disabled] {
      background-color: lightgrey;
      border: none;
      &:hover {
        cursor: not-allowed;
        box-shadow: none;
      }
    }
  }
}

.warning > .Select-control > .Select-multi-value-wrapper {
  height: 30px;
}

.warning > .Select-control {
  border-color: #F5A623 !important;
  border: 3px solid;
}

.Select-menu-outer {
  z-index: 100;
}

.artist-form {
  .message-warning {
    margin-left: 8px;
    min-height: 40px;
  }
}

.bottom-form-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  align-items: center;

  i {
    margin-right: 5%;
  }

  .remove-song {
    width: 115%;
  }

  .submit-button {
    float: right;
  }
}

.Select-value {
  margin-bottom: 3px;
}

.copyright,
.songwriter {
  &-text {
    &-container {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &-field {
      width: 100%;
      padding: 5px;
      height: 34px;
    }
  }

  &-remove-btn {
    outline: none;
    border: none;
    background-color: transparent;
    color: lightgrey;
    &:hover {
      color: $error-color;
    }
    bottom: 3px;
    position: relative;
  }
}

@media screen and (max-width: 480px) {
  .bottom-form-buttons {
    height: 150px;
    justify-content: space-between;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
