.asset-information {
  &_fieldset {
    border: 1px solid #979797;
    padding: 8px;
    margin-top: 21px;
    margin-bottom: 36px;
    .song-progress-bar {
      margin-left: 26px;
    }
    .song-progress-spinner {
      text-align: center;
      .progress-spinner {
        margin-right: initial;
      }

      .progress-spinner-text {
        font-weight: bold;
        color: #F5A623;
        margin-top: 5px;
      }
    }
    .song-file-upload {
      margin-bottom: 20px;
    }

    i {
      margin-right: 5%;
    }

    .fa .fa-cloud-upload {
      margin-right: 8%;
    }
  }

  &_legend {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
  }


}

.media-player {
  margin: auto;
  width: 573px;
}

progress:not([value]) {
  margin: auto;
  width: 573px;
}

.upload-progress-failure {
  height: 5px;
  width: 573px;
  margin-left: 26px;
  background-color: #D0021B;
}

.replace-audio-file {
  color: #31A9DE;
  margin-left: 72%;
  padding-top: 3%;
  height: 50px;
  width: 100%;
  .song-file-upload-button {
    padding-right: 5px;
    font-weight: normal;
  }
  .disabled {
    color: #9B9B9B;
    cursor: default;
  }
  i {
    margin-right: 5%;
  }
}

.row.asset-upload-message {
  width: 90%;
  margin-left: 26px;
  margin-top: 7px;
}

.asset-upload-help {
  clear: left;
  text-align: center;
  width: 58%;
  color: #31A9DE;
  margin-left: 23%;
  font-size: 14px;
}

.asset-filename {
  margin-left: 26px;
  margin-bottom: 2%;
  margin-top: 7px;
}

.cancel-audio-upload {
  color: #D0021B;
  weight: 1px;
  width: 100%;
  font-weight: bold;
}

.cancel-failed-upload {
  margin-top: 24px;
  margin-left: 35%;
}

.cancel-in-progress-upload {
  padding-top: 3%;
  padding: 20px;
  text-align: right;
  margin-bottom: 20px;
  color: #D0021B;
  font-weight: bold;
}

.cancel-upload {
  color: $readability-black;
  &_icon {
    margin-right: 0 !important;
  }
}

.pointer {
  cursor: pointer;
}

.upload-failure-options {
  padding-top: 3%;
  margin-left: 48%;
  .retry {
    width: 100%;
  }
}

.retry {
  margin-top: 6px;
  margin-left: 50%
}
