.asset-upload {
  &_fieldset {
    border: 1px solid $dont-touch-me-gray;
    padding: 15px;
    margin-top: 15px;
  }

  &_legend {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.song-upload-info {
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif, serif;
  border-right: 1px solid $dont-touch-me-gray;
  border-top: 1px solid $dont-touch-me-gray;
  border-bottom: 1px solid $dont-touch-me-gray;
  border-left: 1px solid $dont-touch-me-gray;
  padding: 17px 38px;
  font-size: 14px;
}
