.field-warning {
  position: relative;
  .field-warning-text {
    width: 60%;
    background-color: rgba(251,249,102,0.8);
    font-weight: bold;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 7px;
    z-index: 1;
    bottom: 205%;
    left: 22%;
    margin-left: -25px;
    position: absolute;
    font-size: 12px;
    border: solid 1px;
  }
}
