$error-color: #D0021B;

.songwriter- {
  &message {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 551px;
    p {
      padding-top: 0px
    }
  }

  &message-warning {
    background-color: #F5A623;
  }

  &message-error {
    background-color: $error-color;
  }

  &message-top {
    margin-bottom: 0%;
  }

  &message &messagetext {
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    text-transform: uppercase;
    width: 500px;
    font-size: 13;
    font-size: 13px;
    margin-left: 30px;
  }

  &message-adjacent {
    padding-top: 12%;
  }
}
