.song-optional-isrc {
  .message {
    height: 50px;
    padding-top: 2%;
    margin-left: 26px;
    width: 572px;
  }

  .optional-isrc-message {
    display: flex;
    justify-content: center;
  }
}
