.songs {
  &-app {
    min-height: 240px;
    margin-bottom: 30px;
  }
  &_top-bar {
    overflow: inherit;
    border: 1px solid #979797;
    min-height: 92px;
    button {
      border: none;
      outline: none;
    }
  }
}

.song-complete-indicator {
  font-family: Helvetica;
  font-size: 14px;
  color: #4a4a4a;
  margin-top: 5%;
  margin-left: 28px;
}

.add-song {
  font-size: 14px;
  background-color: white;
  color: $readability-black;
  margin-top: 5%;
  i {
    margin-right: 8px;
  }
}

.edit-song-order {
  font-size: 14px;
  background-color: white;
  color: $readability-black;
  margin-top: 5%;
  margin-right: 28px;
  i {
    margin-right: 8px;
  }
}

.reorder-save {
  border: 1px solid #339de5;
  font-weight: 700;
  color: #ffffff;
  background-color: #3fa8ef;
  padding: 6px 12px;
  width: 165px;
  height: 42px;
  font-size: 16px;
  margin-left: 8%;
  margin-top: 3%;
  margin-right: 28px;
}

.reorder-save:disabled {
  border: 1px solid #9B9B9B;
  background-color: #9B9B9B;
}

.reorder-cancel {
  margin-top: 34px;
  color: $readability-black;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .song-complete-indicator {
    width: 100%;
    margin-left: 14px;
  }

  .edit-song-order {
    float: left;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 14px;
  }

  .add-song {
    padding-right: 0px;
    margin-right: 14px;
    margin-bottom: 10px;
  }
}

