$warning-color: #D0021B;
$error-color: #D0021B;
$form-border-color: #979797;

.form-list-item {
  background: #FCFBFB;
}
.red {
  color: $warning-color;
}

.song-form {
  border-right: 1px solid $form-border-color;
  border-left: 1px solid $form-border-color;
  border-bottom: 1px solid $form-border-color;
  padding: 20px;
  padding-top: 10px;
  background: #FCFBFB;
  fieldset {
    background: white;
  }
  label {
    margin-bottom: -3px;
  }

  .font-weight-low {
    font-weight: 400;
  }

  .missing {
    border: 3px solid $error-color;
  }

  .song-checkbox {
    label {
      float: none;
      margin-left: 8px;
      display: inline;
    }
    input {
      height: inherit;
    }

    margin-left: 20px;
    margin-top: 8px;
  }

  .song-input {
    padding-left: 15px;
    label {
      float: none;
      margin-top: 8px;
      text-align: left;
      font-size: 1.4em;
    }
    input {
      width: calc(100% - 15px);
      margin: 8px 0;
      border: 1px solid $form-border-color;
      padding: 7px;
      font-size: 14px;
      &.missing {
        border: 3px solid $error-color;
      }
    }
  }

  .song-select {
    padding-left: 15px;
    label {
      float: none;
      margin-top: 8px;
      margin-left: 10px;
      display: block;
      text-align: left;
      font-size: 14px;
    }
    div {
      width: calc(100% - 35px);
      margin-left: 10px;
      margin-right: 0;
    }
  }

  select {
    font-size: 14px;
  }

  .song-clean-version,
  .song-explicit {
    margin-left: 10px;
  }

  label.song-clean-version, label.song-explicit {
    margin-left: 0px;
    margin-right: 10px;
    display: inline;
  }

  .song-clean-version-prompt,
  .song-explicit-prompt,
  .song-clean-version-error,
  .song-explicit-error {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .song-is-instrumental,
  .song-publishing-rights,
  .song-cover-song-metadata,
  .song-cover-song-metadata-checkbox-field,
  .song-simple-copyrights {
    margin-left: 10px;
  }

  .radio-checkbox-group {
    margin-left: 15px;
  }

  .checkbox-label,
  .radio-label {
    float: none;
    margin-left: 8px;
    display: inline;
  }

  .song-previously-released {
    margin-left: 10px;
  }

  .song-previously-released-error {
    margin-left: 25px;
  }

  .song-explicit_warn {
    color: $warning-color;
  }

  .song-input-box {
    float: none;
  }

  .song-language {
    .dropsdown::before {
      padding-left: 5px;
    }

    label {
      width: 40%;
    }
  }

  .song-optional-isrc, .song-previously-released-date {
    float: none;
    margin-top: 23px;
    label {
      display: inline;
      float: none;
      margin-left: 25px;
    }
    &_additional_info {
      float: right;
      margin: 0px 25px;
      color: gray;
    }
    input {
      width: calc(100% - 50px);
      margin: 8px 25px;
      border: 1px solid $form-border-color;
      padding: 7px;
      &.missing {
        border: 3px solid $error-color;
      }
    }
  }

  .song-previously-released-date {
    input[disabled] {
      border: none;
    }
  }

  .song-optional-isrc {
    input[disabled] {
      border: none;
    }
  }

  .song-lyrics {
    margin-top: 20px;
    label {
      display: inline;
      float: none;
      margin-left: 25px;
    }

    textarea {
      width: calc(100% - 50px);
      height: 80px;
      margin: 8px 25px;
      border: 1px solid $form-border-color;
      background-color: white;
      padding: 7px;
      resize: vertical;
      overflow: scroll;
      border-radius: 0;
      min-height: 80px;
    }

    &_formatting_guide {
      float: right;
      margin-right: 25px;
    }

    &_column_title {
      font-weight: bold;
      padding-bottom: 8px;

      &.green {
        color: $tunecore-light-green;
      }

      &.red {
        color: $tunecore-light-red;
      }
    }

    &_list_items {
      list-style: inside;
      list-style-position: outside;
      padding-left: 1.1em;
      font-weight: 400;
      letter-spacing: 0;
      color: $readability-black;
    }
  }

  .submit-song {
    border: 1px solid #339de5;
    font-weight: 700;
    color: #ffffff;
    background-color: #3fa8ef;
    padding: 6px 12px;
    min-height: 40px;
    font-size: 14px;
    margin-left: 4px;
    width: 180px;

  }

  .submit-song:disabled,
  .submit-song[disabled]{
    border: 1px solid #9B9B9B;
    background-color: #9B9B9B;
    width: 180px;
  }

  .cancel-song {
    font-size: 14px;
    font-family: Helvetica;
    background: none;
    color: #9B9B9B;
    border: none;
  }

  .cancel-song-wrapper {
    width: 100%;
    text-align: center;
  }

  .form-remove-song {
    border: none;
    background: none;
    color: #D0021B;
    font-size: 14px;
    width: 150px;
  }

  .form-remove-song:disabled,
  .form-remove-song[disabled] {
    color: #9B9B9B;
  }

  .add-song {
    font-family: Helvetica;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 14px;
  }

  .translated-name-label {
    width: 100%;
  }

  .song-radio-toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;

    input[type="radio"] {
      opacity: 0;
      width: 0;
    }

    label {
      color: #1e98d3;
      background-color: #ffffff;
      padding: 5px 15px;
      border: 1px solid #1e98d3;
      border-radius: 4px;
      float: none;
    }

    label:hover {
      box-shadow: inset 2px 2px 3px rgba(50, 50, 50, 0.2);
    }

    input[type="radio"]:checked + label {
      background-color: #1e98d3;
      color: #ffffff;
      border-color: #1e98d3;
    }
  }

  .song-clean-version-error,
  .song-explicit-error {
    .error-message-text {
      padding: 5px !important;
    }
  }

  .song-start-time-text-container {
    display: inline-block;

    .selector-heading {
      margin: 8px 10px 0px 10px;
    }
  }

  .explicit-lyrics-radio-label {
    padding-right: 5px
  }

  .clean-version-radio-warning {
    width: 95%
  }

  .font-weight-light {
    font-weight: 400;
  }

  .disabled-text {
    color: gray;
  }
}

.song-form-modal {
  background: #fff;
  border-radius: 10px;
  border: none;
  min-height: 15vh;
  margin: 0 auto;
  outline: none;
  overflow: hidden;
  padding: 1em;
  position: relative;
  width: 700px;

  h3 {
    font-size: 1em;
    font-weight: 700;
  }

  @media screen and (max-width: 767px) {
    border-radius: unset;
    margin: 0;
    min-height: 15vh;
    width: 100vw;
  }

  @media screen and (min-width: 1280px) {
    min-height: 15vh;
  }
}

.song-form-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Body--open {
  overflow: hidden;
}
