.song-translated-name {
  .message {
    width: 609px;
    height: 40px;
  }

  .messagetext {
    margin-left: 55px;
    padding-top: 13px;
  }
}

.song-title {
  .message {
    width: 609px;
    height: 40px;
  }

  .messagetext {
    margin-left: 55px;
    padding-top: 13px;
  }

  &_formatting_guide {
    font-size: 13px;
    float: right;
    margin-right: 25px;
  }
}

.song-title-required {
  p {
    padding: 10px 0px;
    text-align: right;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 480px) {
  .song-title-required p {
    text-align: center;
    padding: 0px;
  }
}
