$deleting-background-color: rgba(74, 74, 74, 0.75);

.track-list {
  background-color: #F0F0F0;
  margin-bottom: 5%;
}

.track-list-item-row {
  width: 100%;
  overflow: hidden;
}

.track-list-item {
  background-color: white;
  width: 100%;
  position: relative;
  border-right: 1px solid #979797;
  font-size: 14px;
  &.can-hover {
    &:hover {
      background-color: #CDEFFF;
    }
  }
  &.is-deleting {
    background: #979797 75%;
    .remove-song-spinner {
      display: inline-block;
      color: #FFF;
      margin: 0 auto;
      width: 73%;
      font-size: 1.3em;
      text-align: center;
    }
  }
  &.shows-bottom-bar {
    border-bottom: 1px solid #979797;
  }
  &-buttons-for-spatial-audio,
  &-buttons {
    margin-top: 3%;
    clear: right;
    padding-bottom: 10px;
    text-align: right;

    &.error {
      margin-top: 36px;
    }
    button {
      border: none;
      background-color: transparent;
      color: #0D5C81;
      outline: none;
    }
    .song-file-upload-button {
      color: #0D5C81;
      cursor: pointer;
    }

    .action-buttons {
      display: inline-block;

      button {
        padding-right: 10px;
      }

      button:last-child {
        padding-right: 0px;
      }
    }

    .upload-set {
      float: right;
      margin: 0px 20px;

      button {
        padding-right: 0px;
      }
    }

    .spatial-audio-upload-set {
      float: right;

      button {
        padding-right: 0px;
      }
    }

    .lower-upload-button {
      margin-top: 10px;
    }
  }
  &-track_number {
    background-color: #0D5C81;
    color: white;
    display: inline-block;
    width: 68px;
    height: 100%;
    text-align: center;
    line-height: 68px;
    position: absolute;
    left: 0;
    &.needs-top-border {
      border-top: solid 1px grey;
    }
  }

  &-title_display {
    float: left;
    width: 65%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;

    div {
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }

  &-title_display-for-spatial-audio {
    float: left;
    width: 46%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;

    div {
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }

  &-buttons {
    max-width: 35%;
  }

  &-buttons-for-spatial-audio {
    max-width: 51%;
    margin-right: 3%;
  }

  .isrc-display {
    font-size: 12px;
  }

  .track-list-progress {
    width: 400px;
  }

  .upload-progress-failure {
    width: 400px;
    margin-left: 0px;
  }

  .retry {
    margin-left: 0px;
  }

  .upload-error {
    color: #D0021B;
  }

  .upload-filename {
    font-size: 12px;
    margin-bottom: 1%;
  }

  .cancel-in-progress-upload {
    margin-top: 25px;
    margin-right: 40px;
    margin-left: 0;
  }

  .cancel-audio-upload {
    margin-left: 100px;
  }

  .action-icons {
    &_album-loading {
      display: none;
    }
  }

  .cancel-button-spinner {
    margin: 0;
  }

  &-asset-filename {
    clear: both;
    float: right;
    margin-right: 20px;
    margin-top: 8px;
    font-size: 12px;
  }

  .spatial-audio-asset-filename {
    overflow-wrap: break-word;
    inline-size: 83px;
  }

  &-asset-upload-failure, &-asset-duration-failure {
    color: #D0021B;
    font-size: 12px;
  }

  .button-grid-row {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-template-columns: 2fr auto;
  }
}

.tracklist-item-icon {
  color: black;
  position: relative;
  top: 5px;
}

.asset-upload-btn {
  width: 75px;
  height: 26px;
  background-color: #1293d1;;
  border-radius: 8px;

  &-text {
    position: relative;
    top: 18%;
    text-align: center;
    color: #ffffff;
  }
}

.cancel_notification_modal_button{
  padding: 0px;
  border-radius: 8px;
  border: none;
}

.stereo-asset-upload-btn,
.atmos-asset-upload-btn {
  cursor: pointer;
  font-size: 14px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #1293d1;;
  border-radius: 8px;

  &-text {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    color: #ffffff;
  }
}

.spacer {
  margin-right: 20px;
}

.bottom-spacer {
  margin-bottom: 10px
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.disabled {
  background-color: grey;
  pointer-events: none;
}

.font-size-14 {
  font-size: 14px;
}

.padding-left-50 {
  padding-left: 50px;
}

.padding-right-50 {
  padding-right: 50px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

@media only screen and (max-width: 480px) {
  .track-list-item {
    &-buttons {
      .action-buttons {
        float: right;
        margin-right: 20px;
      }

      .upload-set {
        margin: 10px 20px 0px 0px;
      }
    }

    &-asset-filename {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .track-list-item-track_number {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        line-height: 114px;
      }
    }
}
