.song-file-upload {
  margin-left: auto;
  margin-right: auto;
  float: none;
  display: block;
  text-align: center;
  cursor: pointer;
  background-color: #F5A623;
  color: #FEFEFE;
  padding: 8px;
  margin-top: 20px;
  &.disabled {
    background-color: #9B9B9B;
    cursor: default;
  }
  &-input {
    display: none;
  }
}

