.credit-note-invoice-footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 13px;
  line-height: 17.7px;

  .payment-date {
    margin-bottom: 10px;
    text-align: center;
  }

  .corporate-entity-details {
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    margin-right: 15px;
    border: 1px solid lightgrey;
    color: grey;
  }

  .vat-text {
    margin-right: 1rem;
    text-align: right;
    margin-bottom: 3rem;
    font-size: 0.8rem;
  }

  .footer {
    width: 100%;
    text-align: center;
  }

  .royalty-text {
    color: grey;
  }
}
