<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/lyric/lyric-snippet.css" %>
<% end %>

<% if advance_display == :advance %>
  <div id="advance-section">
    <div id="advance-panel">
      <strong><%= custom_t("my_account.list_transactions.tunecore_direct_advance") %></strong>
      <p><%= custom_t("my_account.list_transactions.no_more_waiting") %></p>
      <%= link_to custom_t("my_account.list_transactions.request_my_advance"), request_advance_cash_advances_path(redirect_path: request.path), class: "button-lyric",
                  id: "lyric-get-advance" %>
      <div class='learn-more'>
        <a class="learn-more-video" href="https://www.youtube.com/embed/pqgsF9Y1sH4">
          <%= custom_t("my_account.list_transactions.interested_in_learning_more") %>
        </a>
      </div>

      <p class="powered-by"><%= custom_t("my_account.list_transactions.powered_by_lyric") %></p>

    </div>
    <p class="eligibility-disclaimer"><%= custom_t("my_account.list_transactions.eligibility_disclaimer") %></p>
  </div>
<% elsif advance_display == :under_review %>
    <div id="advance-section">
      <div id="advance-panel">
        <strong><%= custom_t("my_account.list_transactions.tunecore_direct_advance") %></strong>
        <p><%= custom_t(
          "my_account.list_transactions.account_under_review",
          help_url: knowledgebase_link_for('new_request', country_website)
        ) %></p>
      </div>
    </div>
<% end %>

<% if show_popup %>
  <% content_for :external_javascript do %>
    <script type='text/javascript'>
      window.translations = <%= raw @lyric_button_translations.to_json %>;
    </script>

    <%= javascript_include_tag "lyric/lyric-advance.js" %>
  <% end %>
<% end %>
