<fieldset class="two-column small">
  <form action="/admin/publishing_composers/download_client_import" method="get">
    <div style="clear: both;">
      <b>This is how the downloaded reports data will be manipulated.</b><br /><br />
      Client Import Report: User purchases paid between the selected dates.<br />
      New Tax Info Report: User purchases paid for before the start date and tax_info created between the selected dates.<br />
      Tax Info Updates Report: User purchases paid for before the start date and Tax Info versions updated between the selected dates.<br />
      New YT Preference Report: User purchases paid for before the start date and YT preferences created between the selected dates.<br />
      YT Preference Updates Report: User purchases paid for before the start date and YT preferences updated between the selected dates.<br />
      CAE Updates Report: User changes created between the selected date.<br /><br />
    </div>
    <div style="clear: both;">
      <div class="left-column grid_7">
        <label for="d[from_date]">
          Paid Date From*
        </label>
        <%= text_field_tag("d[from_date]", @from_date,:class => "date-field date-box") %>
      </div>
      <div class="right-column grid_7">
        <label for="d[to_date]">
          To (optional)
        </label>
        <%= text_field_tag("d[to_date]", nil,:class => "date-field date-box") %>
      </div>
      <input type="submit" value = "Download Report">
    </div>
  </form>
</fieldset>
