<% @page_title = "Songwriters: #{@publishing_composer.full_name}" %>

<style>
  form#songwriter {
    padding: 0 70px;
  }
  .mf h2{
    float: left;
    width: 780px;
    height: 30px;
    line-height: 30px;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #76d6fb;
    font-size: 14px;
    color: #000000;
    border-radius: 5px;
    moz-border-radius: 5px;
    margin-bottom: 10px;
  }

  div.mf div{
    float: left;
  }

  .mf .full{
    clear: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    width: 780px;
  }
  .mf label{
    text-align: left;
    color: #000000;
    font-weight: normal;
  }

  .mf br{
    clear: both;
  }

  .mf .ui-selectmenu{
    height: 27px;
    line-height: 27px;
  }

  .magicTipHolder{
      position: relative;
      width: auto;
      z-index: 500;
      display: inline-block;
  }

  .magicTip{
      position: absolute;
      display: none;
      z-index: 1000;
  }

  .magicTipPointer{
      float: left;
      position: relative;
  }

  .magicTipPointer span{
      position: absolute;
      width: 10px;
      height: 10px;
      background-image: URL(/images/magicTipPointerSprite.png);
      background-repeat: no-repeat;
      background-position: 0px 0px;
  }

  .magicTipBorder{
      float: left;
      width: auto;
      padding: 2px;
      background-image: URL(/images/magicTipBorderSprite.png);
    border-radius: 5px;
    -moz-border-radius: 5px;
  }

  .magicTipContent{
      float: left;
      width: 300px;
      background-color: #daf5ff;
      padding: 5px;
    font-size: 12px;
    font-weight: normal;
    color: #007ecf;
    line-height: auto;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
  }

  .magicTipContent a{
    color: #007ecf;
    text-decoration: none;
  }

  .mf .box{
    width: auto;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #CCCCCC;
    background-color: #F2F2F2;
  }

  .error{
    float: left;
    width: 778px;
    height: auto;
    margin: 0 70px;
    padding: 10px;
    border: 1px solid red;
    color: red;
  }
</style>

<% content_for :external_javascript do %>
<script type="text/javascript" src="/javascripts/magicTip.js"></script>
<script type="text/javascript" src="/javascripts/maskedinput.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($){

  $('#why').magicTip({
    position: 'bottomMiddle',
    content: function(){
      return '<strong>Why do we need your Social Security Number?</strong><br />We have to report your royalties as earnings to the government each year. You will receive a 1099 each year to use when filing your tax returns etc. Without providing your Social Security number or Tax ID number, we cannot account accordingly to you.';
    }
  });
  $('#why').bind('click', function(){return false;});
  $('#entity_warning').magicTip({
    position: 'bottomMiddle',
    content: function(){
      return 'Do not enter a publishing company name in this<br /> field unless you have affiliated this exact name with your performance rights society <strong>in addition</strong> to your writer affiliation.';
    }
  });
  $('#entity_warning').bind('click', function(){return false;});
  $('.cl').bind('focus', function(){
    var defaultValue = $(this)[0].defaultValue;
    if($(this).val() == defaultValue){
        $(this).val('');
    }
  });
  $('.cl').bind('blur', function(){
    var defaultValue = $(this)[0].defaultValue;
    if($(this).val() == ''){
        $(this).val(defaultValue);
    }
  });

  var set_full_name = function(){
    var full_name = '';
    var first = $('#first').val();
    var last = $('#last').val();
    var suffix = $('#suffix').val();
    if(first || false){
      full_name += first+' ';
    }
    if(last || false){
      full_name += last;
    }
    if(suffix || false){
      full_name += ', '+suffix+'.';
    }
    if(full_name || false){
      full_name += ', ';
      $('.full_name').html(full_name);
    }
  };

  set_full_name();

  $('#first, #last, #suffix').bind('blur', function(){
    set_full_name();
  });

  $('#agreed_to_terms').prop('checked', true)
  $('#agreed_to_terms').prop('disabled', true)
});
</script>
<% end %>

<section id="composer" class="grid_16 mf">
  <header class="helper">
    <h1>Songwriter Registration</h1>
    <span class="required-helper">* Required Field</span>
    <span class="header-helper">Need help completing this section? <a href=<%= knowledgebase_link_for('publishing-contact-us', country_website) %> target="_blank" class="link">Get Help.</a></span>
  </header>
  <% if flash[:error] %>
    <div class="error">
      <ul style="margin-bottom: 0px;">
      <% @publishing_composer.understandable_error_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>

      <% @publisher.understandable_error_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% url = "/admin/publishing_composers/#{@publishing_composer.id}" %>
  <% method = "PUT" %>
  <%= form_tag url, :method => method, :id => "songwriter" do %>
    <section class="clearfix">
      <%= render :partial => "publishing_composers/composer_fields" %>
    </section>
  <% end %>
</section>
