<% @page_title = "Songwriters: List" %>

<% if current_user.has_role?("Publishing Manager") %>
  <div id="admin-wrapper">
    <section class="grid_16 alpha omega">
      <h2>Client Import</h2>
      <%= render :partial => 'client_import_form' %>
    </section>
  </div>
<% end %>

<h2>Songwriters List</h2>
<ul>
  <li><a href="/admin/publishing_composers/download_songs">Songs Report</a></li>
  <% if PublishingComposer.summary_exists? %>
    <li><%= link_to 'Download Summary', download_summary_admin_publishing_composers_path %> (<%= PublishingComposer.summary_last_modified %>)</li>
  <% else %>
    <li>Download Summary (not yet available)</li>
  <% end %>
</ul>

<div class="jump-links">
<%= @publishing_composers.total_entries %> records (showing <%= @publishing_composers.per_page %>). <%= will_paginate @publishing_composers %>
</div>
<div><a href="?all=true">Show All</a></div>
<div class="order-selection" style="text-align: left; padding: 5px">
  <form action = '/admin/publishing_composers/list' method = 'get'>
    Sort by:
    <select name = "order_by" onchange = "return this.form.submit();">
      <%= options_for_select @order_by_options, params[:order_by] %>
    <select>
      <% if params[:all] %>
        <%= hidden_field_tag :all, 'true' %>
      <% end %>
  </form>
</div>

<table class="songwriters">
<thead>
<tr>
<th>PID</th>
<th>Acct. Status</th>
<th>First Name</th>
<th>Last Name</th>
<th>SW ID</th>
<th>Email</th>
<th>Phone</th>
<th>Agreed</th>
<th>Paid</th>
<th>SSN?</th>
<th># Splits</th>
<th># Rel</th>
<th>Last Splits</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
<% @publishing_composers.each do |publishing_composer| %>
	<tr class=<%= cycle('odd','even') %>>
	<td><%= link_to(h(publishing_composer.person.id), :controller => 'admin/people', :action => :show, :id => publishing_composer.person ) %></td>
	<%- status_class = "user_status_#{publishing_composer.person.status.downcase}"%>
	<td class="<%= status_class %>"><%= publishing_composer.person.status %></td>
	<td><%=h publishing_composer.first_name %></td>
	<td><%=h publishing_composer.last_name %></td>
	<td><%=h publishing_composer.id %></td>
	<td><%=h publishing_composer.email ? publishing_composer.email : "(#{publishing_composer.person.email})" %></td>
	<td><%=h publishing_composer.phone ? publishing_composer.phone : "(#{publishing_composer.person.phone_number})" %></td>
	<td><%=h(publishing_composer.agreed_to_terms_at && l(publishing_composer.agreed_to_terms_at, format: :slash_short_year)) %></td>
	<td><%=h publishing_composer.related_purchases.select{|p| p.paid_at != nil}.collect{|p| l(p.paid_at, format: :slash_short_year)}.join(',') %></td>
	<td><%=h publishing_composer.submitted_tax_id? ? 'Yes':'No' %></td>
  <td><%= (result = @albums_with_splits_count.detect {|a| a.id == publishing_composer.id}) ? result.albums_count : 0 %></td>
  <td><%= (result = @albums_finalized_count.detect {|a| a.id == publishing_composer.id}) ? result.albums_count : 0 %></td>
  <td><%= publishing_composer.splits_updated_at.blank? ? '' : l(publishing_composer.splits_updated_at, format: :slash_short_year) %></td>
  <td>
    <% if current_user.has_role?("Publishing Manager") %>
      <%= link_to 'Show', admin_publishing_composer_path(publishing_composer.id) %>
      <%= link_to 'Edit', edit_admin_publishing_composer_path(publishing_composer.id) %>
      <%= link_to 'Delete', admin_publishing_composer_path(publishing_composer), data: { confirm: 'Are you sure?' }, method: :delete %>
    <% end %>
  </td>
</tr>
<% end %>
</tbody>
</table>
<div class="jump-links">
<%= @publishing_composers.total_entries %> records (showing <%= @publishing_composers.per_page %>). <%= will_paginate @publishing_composers %>
</div>
<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
<% end %>
