<style type="text/css" media="screen">
body {
  font-size: 100%;
  background: #FFFFFF;
  width: 1200px;
  color: #666666;
  font-family: proxima-nova,sans-serif;
  font-size:0.9em;
  line-height:1;
}
div#email_body {
  border: 1px solid #CCCCCC;
  float:left;
  padding:0px;
  margin-bottom:20px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  clear: both;
  margin: 0px 0px 18px 0px;
  padding: 0;
  width: 90%;
  }
table th,
table td {
  padding: 10px 20px;
  text-align: right;
  border-bottom: 1px solid #ccc;
  vertical-align:bottom;
  }
table th {
  color: #666666;
  text-align:right;
  border-width: 2px;
  }
table th:nth-child(3) {
  width: 150px;
}
table td:first-child {
  text-align:left;
}
table td {
  color: #666;
  }
table tr:last-child th,
table tr:last-child td {
  border-bottom: none;
  }
table tbody tr:nth-child(odd) {
  background: #eee;
  }
table th:first-child {
  color:#2790AE;
  text-align:left;
}
div.mod h3 {
  float: left;
  margin: 18px 10px 0px 0px;
  padding: 6px 10px;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  background: rgb(185, 74, 72);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
a:link, a:visited {
  color: #2790AE;
  text-decoration: none;
  outline: none;
}
ul.stats-tabs {
  list-style:none;
  margin-top:30px;
}
ul.stats-tabs li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
  border-right: 1px solid #ccc;
  }
ul.stats-tabs li:last-child {
  margin: 0;
  padding: 0;
  border: none;
  }
ul.stats-tabs li a {
  display: block;
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  }
ul.stats-tabs li a span {
  display: block;
  margin-top: 2px;
  font-size: .8em;
  font-weight: normal;
  }
p, h1, h2 {
  margin-left:10px;
}
</style>

<h2>Tunecore IN PayU Invoice Summary Mailer: <%= @date.to_s(:long) %></h2>

<div class="mod">

  <ul class="stats-tabs">
    <li><a href="#"><%= @settled_invoices.size %> <span>Settled Invoices Created Today</span></a></li>
    <li><a href="#"><%= @uploaded_invoices.size %> <span>Invoices Uploaded to PayU</span></a></li>
    <li><a href="#"><%= @failed_invoices.size %> <span>Invoices not Uploaded to PayU</span></a></li>
  </ul>

  <br clear="both">
  <br clear="both">

  <% if @failed_invoices.present? %>
    <h3>Failures</h3>
    <table>
      <thead>
        <th>Invoice ID</th>
        <th>Person ID</th>
        <th>Settled Date</th>
        <th>Final Settlement Amount</th>
      </thead>
      <tbody>
        <% @failed_invoices.each do |failed_invoice| %>
          <tr>
            <td><%= failed_invoice.id %></td>
            <td><%= failed_invoice.person_id %></td>
            <td><%= display_datetime(failed_invoice.settled_at) %></td>
            <td><%= money_to_currency((failed_invoice.final_settlement_amount_cents.to_f / 100).to_money(failed_invoice.currency)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
