<div class="balance-transaction-table-filter__form__header">
  <div class="balance-transaction-table-filter__form__header--title">
    <span>Filter Completed Transactions</span>
  </div>
  <div id="balance_history_table_filter_cancel_button"
    class="align-right balance-transaction-table-filter__form__cancel"></div>
</div>

<%= simple_form_for :filter_transactions,
                    remote: true,
                    url: filter_admin_balance_transactions_path,
                    html: { class: "balance-transaction-table-filter__form" },
                    method: :get do |f| %>
  <div class="balance-transaction-table-filter__form__date-range">
    <%= content_tag :h6, "Date Range",
      class: "balance-transaction-table-filter__form__date-range__header" %>
    <%= render "admin/balance_transactions/filters/date_input", date: :start_date, f: f %>
    <%= render "admin/balance_transactions/filters/date_input", date: :end_date, f: f %>
  </div>

  <div class="balance-transaction-table-filter__form__transaction-types">
    <div class="balance-transaction-table-filter__form__transaction-types__label">
      Transaction Types
    </div>

    <%= render "balance_histories/filters/selection_buttons" %>

    <%= f.input :transaction_types,
                collection: filter_options,
                value_method: :first,
                label_method: :last,
                as: :check_boxes,
                label: false,
                wrapper_html: {
                  class: "balance-transaction-table-filter__form__transaction-types__container"
                },
                input_html: {
                  class: "balance-history-table-filter__form__transaction-types__input"
                },
                item_wrapper_class: "balance-transaction-table-filter__form__transaction-types__option" %>
  </div>

  <%= f.submit "Apply Filters", class: "balance-transaction-table-filter__form__action" %>
<% end %>
