<%= content_tag :div, class: "balance-transaction-container" do %>
  <%= content_tag :div, class: "lead balance-transaction-container-back-link" do %>
    <%= link_to "Back", admin_person_path(current_user) %>
  <% end %>

  <%= render "admin/shared/admin_info", person: @person %>

  <%= render "admin/balance_transactions/balance_summary/row",
        tunecore_balance: @balance_history_presenter.person_balance,
        pending_balance:  @balance_history_presenter.pending_txn_balance %>

  <%= render "admin/balance_transactions/pending_transactions/table",
        table_key: :pending_transactions,
        transaction_set: @balance_history_presenter.pending_transactions %>

  <%= render "admin/balance_transactions/transaction_history/table",
        table_key: :admin_transaction_history,
        transaction_set: @balance_history_presenter.transactions %>
<% end %>
