Email: <%= @person.email %> <br />
User ID: <%= @person.id %> <br />
Artist Name: <%= @artist.name %> <br />
The following releases for <%= @artist.name %> need to be mapped to a new Apple Artist ID: <br />
Please move Apple ID: <%= @apple_album_ids.join(", ") %> to new artist ID for <%= @artist.name %> genre: <%= @genre %>
