.widget-label {
  font-weight: bold;
  float: left;
}
.widget-container {
  border-style: solid;
  border-radius: 15px;
  border-color: #d01e1e;
  border-width: 1px;
  padding: 10px 10px 0px 10px;
  width: 150px;
  font-size: 8px;
}
.widget-value {
  text-align: right;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.lyric-snippet-modal {
  /* Modal Header */
  /* Modal Content/Box */
  /* Modal Body */
  /* Modal Footer */
  /* The Close Button */
}
.lyric-snippet-modal .modal-header {
  padding: 15px;
  float: none;
  border: none !important;
}
.lyric-snippet-modal .modal-header h3 {
  font-size: 24px !important;
  line-height: 1.25;
  margin-top: 15px;
}
.lyric-snippet-modal .modal-footer div {
  background-color: #fdffba;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #000;
  border-radius: 3px;
  margin-top: 35px;
  padding: 5px;
  font-weight: bold;
}
.lyric-snippet-modal .modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 6px;
  width: 475px;
  height: 550px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  float: none !important;
}
.lyric-snippet-modal .modal-body {
  padding: 15px;
  height: 265px;
  float: none;
}
.lyric-snippet-modal .modal-footer {
  text-align: center !important;
  float: none;
  border: none !important;
}
.lyric-snippet-modal .modal-footer button {
  background-color: #5cb85c;
  color: white;
  font-size: 14px;
  padding: 10px;
  width: 250px;
}
.lyric-snippet-modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.lyric-snippet-modal .close:hover,
.lyric-snippet-modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#terms-container {
  font-size: 12px;
}
#terms-container p {
  font-size: 12px;
  line-height: 18px;
}
.terms {
  overflow: auto;
  height: 290px;
}

.lyric-snippet-modal .wait-modal-content {
  height: 225px !important;
  width: 425px !important;
}
.wait-indicator,
.spinner {
  float: none;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* Wait indicator */
.wait-indicator {
  text-align: center;
}
.spinner {
  margin: 50px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
