<% unless Rails.env.production? %>
  <h3>THIS IS A TEST REPORT GENERATED IN A LOWER ENVIRONMENT</h3>
<% end %>

<h2>Withdrawal Mismatch Report -  <%= @report_timestamp %></h2>

<p>Attached herewith is a report containing withdrawal requests that contain a mismatch between the withdrawal request amount approved and the amount reflected on payoneer reports.</p>
