<div>
  <table>
    <thead>
      <tr>
        <td>Entry ID</td>
        <td>Person ID</td>
        <td>Status</td>
        <td>Amount</td>
        <td>Balance Turns Negative (at time of processing)</td>
        <td>Status Info</td>
      </tr>
    </thead>
    <tbody>
      <% @mass_adjustment_entries.each do |entry| %>
        <tr>
          <td><%= entry.id %></td>
          <td><%= entry.person_id %></td>
          <td><%= entry.status.blank? ? "None" : entry.status %></td>
          <td><%= entry.amount %></td>
          <td><%= entry.balance_turns_negative %></td>
          <td><%= entry.status_info %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @mass_adjustment_entries, previous_label: "Previous", next_label: "Next" %>
</div>
