<%= simple_form_for @mass_adjustments_tool_form, url: admin_mass_adjustments_path,
                    html_options: { class: "mass-adjustments-tool-container" } do |f| %>

  <div class="grid-x grid-padding-x">
    <div class="cell small-6">
      <h6>Create a new batch to adjust user balances</h6>
      <%= f.input :admin_message, as: :string, label: false, error: false, placeholder: "Enter Message to Admin" %>
      <%= f.input :customer_message, as: :string, label: false, error: false, placeholder: "Enter Message to Users" %>
      <%= f.select :category, display_categories, label: 'Category' %>
      <%= f.input :file, as: :file, label: false, error: false %>

      <% if @errors %>
        <div class="error">
          <% @errors.each do |value| %>
              <div class="medium-12 cell"><%= value %></div>
          <% end %>
        </div>
      <% end %>

      <%= f.submit "Submit", class: "button",
            data: { disable_with: "Submitting..."}
      %>
    </div>

    <div class="small-4 small-offset-1 cell">
      <h6>Sample CSV file format</h6>
      <table>
        <thead>
        <tr>
          <th>person_id,correction_amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>12314,345</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

<% end %>
