<div class="header">
  <h4>Mass Balance Adjustments</h4>
  <div class="actions">
    <%= link_to "View All Batches", admin_mass_adjustments_path %>
    <%= link_to "Create New Batch", new_admin_mass_adjustment_path %>
  </div>
  <hr/>
</div>