<table>
  <thead>
  <tr>
    <th>User ID</th>
    <th>Original Balance</th>
    <th>New Balance</th>
    <th>Adjustment Amount</th>
  </tr>
  </thead>
  <tbody>
  <% adjustments.each do |row| %>
    <tr>
      <td><%= row[:person_id] %></td>
      <td><%= money_to_currency(row[:original_balance]) %></td>
      <td><%= money_to_currency(row[:new_balance]) %></td>
      <td><%= money_to_currency(row[:adjustment_amount]) %></td>
    </tr>
  <% end %>
  </tbody>
</table>