<div class="mass-adjustments-tool-container">
  <%= render "header" %>

  <div>
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Admin Message</td>
          <td>Customer Message</td>
          <td>Csv File Name</td>
          <td>Allowed Negative Balance</td>
          <td>Status</td>
          <td>Created By</td>
          <td>Created At</td>
        </tr>
      </thead>
      <tbody>
        <% @mass_adjustments.each do |ma| %>
          <tr>
            <td><b><%= link_to ma.id, admin_mass_adjustment_path(ma) %></b></td>
            <td><%= ma.admin_message %></td>
            <td><%= ma.customer_message %></td>
            <td><%= ma.csv_file_name %></td>
            <td><%= ma.allow_negative_balance %></td>
            <td><%= ma.status %></td>
            <td><%= ma.created_by %></td>
            <td><%= ma.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <span class="page-numbers">
    <%= will_paginate @mass_adjustments, previous_label: "Previous", next_label: "Next" %>
  </span>
</div>
