<div class="mass-adjustments-tool-container">
  <%= render "header" %>

  <% unless @batch.processing_completed? %>
    <div id="auto-reload-page" data-reload-interval="60" />
  <% end %>

  <h5>
    Details of Batch <b><%= @batch.id %></b>
  </h5>

  <div class="batch-details">
    <div>
      <table>
        <tbody>
          <tr>
            <td>Batch Status</td>
            <td><%= @batch.status.humanize %></td>
          </tr>
          <tr>
            <td>Admin message</td>
            <td><%= @batch.admin_message %></td>
          </tr>
          <tr>
            <td>User message</td>
            <td><%= @batch.customer_message %></td>
          </tr>
          <tr>
            <td>Uploaded csv file name</td>
            <td><%= @batch.csv_file_name %></td>
          </tr>
          <tr>
            <td>Allow negative balance</td>
            <td><%= @batch.allow_negative_balance %></td>
          </tr>
          <tr>
            <td>Created by</td>
            <td><%= @batch.created_by %></td>
          </tr>
          <tr>
            <td>Created at</td>
            <td><%= @batch.created_at %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="batch-actions">
      <h6>For Your Information / Action</h6>
      <%= render "admin/mass_adjustments/batch_status/#{@batch.status}" %>
    </div>
  </div>

  <% unless @batch.status == MassAdjustmentBatch::NEW %>
    <h5>Batch Entries</h5>
    <p>
      <div>
        Total entries :
        <b><%= @batch_entry_stats.values.reduce(:+) %></b>
      </div>
      <div>
        Entries for which balance will turn negative :
        <b><%= @negative_balance_entries_count %></b>
      </div>
    </p>
    <%= render "batch_entries" %>
  <% end %>

</div>
