<h1>Admin :: Soundout Report History</h1>

<%= render "admin/people/mini_person", {person: @person} %>

<div style="clear:both;">
  <% if @soundout_reports.length == 0 %>
    <p>No Reports to Display</p>
  <% else %>
    <% reset_cycle() %>
    <div class="pagination-wrapper">
      <span style="float: left;"><%= page_entries_info @soundout_reports %></span>
      <span style="float: right;"><%= will_paginate @soundout_reports %></span>
      <div class="clearfix"></div>
    </div>
    <table class="" cellspacing="0">
    <thead>
      <tr>
        <th>Track Name</th>
        <th>Artist Name</th>
        <th>Album UPC</th>
        <th>Report Status</th>
        <th>Purchase Date</th>
        <th>Invoice Number</th>
        <th>Delivery Date</th>
        <th>Report</th>
      </tr>
    </thead>
    <tbody>
      <% @soundout_reports.each do |report|%>
        <tr class="<%=cycle('', 'alt')%>">
          <td><%= report.track.name %></td>
          <td><%= report.track.artist_name %></td>
          <td><%= report.track.is_a?(Song) ? link_to(report.track.album.upc, admin_album_path(id: report.track.album.id)) : "No Album" %></td>
          <td><%= report.status %><%= report.canceled? ? " : <b>Canceled</b>".html_safe : "" %></td>
          <td><%= report.purchase.blank? ? "Not added to cart" : (report.purchase.paid_at.blank? ? "Not paid" : fmt_short_datetime(report.purchase.paid_at)) %></td>
          <td><%= (report.purchase and report.purchase.invoice_id) ? (link_to report.purchase.invoice_id, admin_person_invoice_path(person_id: report.person_id, id:  report.purchase.invoice_id)) : "" %></td>
          <td><%= report.report_received_tmsp.blank? ? "Undelivered" : fmt_short_datetime(report.report_received_tmsp) %></td>
          <td>
            <%= link_to (report.canceled? ?  "Uncancel" : "Cancel"), toggle_cancel_admin_person_soundout_report_path(person_id: @person.id, id: report.id ), method: :post %>

            <% if report.paid? && (report.requested? || report.errored?) %>
              <%= link_to "Resend report", resend_report_admin_person_soundout_report_path(person_id: @person.id, id: report.id ) %>
            <% end %>

            <% if report.soundout_id.present? && ((report.available? || report.errored?) || (!report.received? && report.purchase.paid_at <= 7.days.ago)) %>
              <%= link_to( "Fetch report", fetch_report_admin_person_soundout_report_path(person_id: @person.id, id: report.id )) %>
            <% end %>

            <% if report.received? %>
              <%= link_to( "View report", market_potential_soundout_report_path(id: report.id)) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
    <div class="pagination-wrapper">
      <span style="float: left;"><%= page_entries_info @soundout_reports %></span>
      <span style="float: right;"><%= will_paginate @soundout_reports %></span>
      <div class="clearfix"></div>
    </div>
  <% end %>
</div>
