<div class="resubscribe-cta">
  <i class="fa fa-check-circle fa-3x"></i><br/>

  <p><%= custom_t('resubscribe_cta.sad_to_see_you_go') %></p><br />

  <p class="pro-user-cancellation">
    <b><%= custom_t('resubscribe_cta.please_note') %>: </b>
    <%= custom_t('resubscribe_cta.pro_user_cancellation', renewal_date: renewal_date) %>
  </p>
</div>
