$(function() {
  if ("<%= @subscription_request.success === 'true' %>") {
    $("#subscriptions .row")
      .html("<%= j render 'resubscribe_cta',
          renewal_date: @subscription_request.subscription.termination_date.strftime('%B %e, %Y'),
          person_subscription_id: @subscription_request.subscription.person_subscription_status.id %>")
  }
});
