<%= render partial: "/admin/shared/searchbox" %>
<%= render partial: "admin/people/mini_person", locals: { person: @person } %>
<section id="admin_content">
  <h2>Subscriptions</h2>
    <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Type</th>
            <th>Effective Date</th>
            <th>Termination Date</th>
            <th>Canceled At</th>
            <th>Latest Payment Channel</th>
            <th>Actions</th>
            <th>History</th>
          </tr>
        </thead>
        <tbody>
          <% @subscriptions.each do |subscription| %>
            <tr>
              <td><strong><%= subscription_status(subscription) %></strong></td>
              <td><%= subscription.subscription_type %></td>
              <td><%= subscription.effective_date.to_date %></td>
              <td><%= subscription.get_termination_date %></td>
              <td><%= subscription.canceled_at? ? subscription.canceled_at.to_date : "" %></td>
              <td><%= subscription.latest_payment_channel %></td>
              <td>
                <% if !subscription.canceled_at? %>
                    <%= link_to "Cancel",
                                admin_person_subscription_subscription_cancellations_path(@person, subscription),
                                method: :post %>
                <% end %>
                <% if subscription.can_disable_access? %>
                  <%= link_to "Disable Access",
                                  admin_person_subscription_path(@person, subscription),
                                  method: :patch %>
                <% end %>
              </td>
              <td>
                <%= link_to "View",
                              admin_person_subscription_subscription_events_path(
                                  subscription_id: subscription.id,
                                  subscription_type: subscription.subscription_type) %>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
</section>
