.admin-info {
  background-color: $tunecore-pale-gray;
  border: 1px solid $tunecore-light-gray;
  margin-bottom: 2%;
  padding: 1%;

  &-person-name {
    color: $tunecore-blue;
    cursor: pointer;
    margin-right: 1%;
  }

  &-person-email {
    color: $tunecore-blue;
  }
}

