%dynamic {
  &:nth-child(2) {
    text-align: left;

    &:nth-last-child(3) {
      @extend .small-6;
    }

    &:nth-last-child(4) {
      @extend .small-4;

      text-align: left;
    }
  }
}

.balance-transaction {
  &-container {
    @extend .grid-container;

    border: 0;
    font-size: $tc-base-font-size;
    margin-bottom: 10%;

    &-back-link {
      padding: 0.5% 0% 1.2%;
    }
  }

  &-icon-container {
    @extend .cell;
    @extend .grid-x;
    @extend .small-8;
    justify-content: flex-end;
    padding-right: 2%;
  }

  &-table {
    @extend .payout-table;
    @extend .payout-container;

    border: 1px solid $black-border;

    .learn-more-link,
    .load-more-cell {
      @extend .grid-x;
      @extend .small-4;
      @extend .cell;

      font-weight: bolder;
      padding: 3.5% 0;
      justify-content: center;

      .balance-transaction-table-action {
        font-weight: bolder;
        margin: 0;
        width: 100%;
      }
    }

    &-filter__icon {
      @extend .cell;

      font-family: FontAwesome;
      padding-right: 8%;
      width: 3%;
      cursor: pointer;
      &:hover {
        color: $tunecorange;
      }
    }

    &-filter {
      &__icon:before { content: $fa-filter }
      &__form {
        @extend .grid-x;
        @extend .grid-padding-x;
        &__header {
          @extend .grid-x;

          background-color: $tunecore-light-gray;
          border-bottom: 1px solid $tunecore-gray;
          font-size: 1.125 * $tc-base-font-size;
          font-weight: bold;
          margin-bottom: 1%;
          padding: .8% 0 .8% 1.2%;

          &--title {
            @extend .cell;
            @extend .small-6;
          }
        }

        &__cancel {
          @extend .cell;
          @extend .small-6;

          color: white;
          cursor: pointer;
          display: flex;
          font-family: FontAwesome;
          padding-right: 3%;
          &:before {
            content: $fa-times;
          }
        }

        &__action {
          @extend .button;

          font-weight: bold;
          margin: 0 auto;
          padding-right: 3%;
          padding-left: 3%;
          margin-bottom: 1%;
        }

        &__date-range {
          @extend .cell;
          @extend .medium-6;

          &__header {
            font-weight: bold;
          }

          &__start-date, &__end-date {
            @extend .grid-x;
            padding-left: 3%;
          }

          &__start-date-raw, &__end-date-raw {
            @extend .cell;
            @extend .medium-5;

            font-weight: bold;
          }

          &__start-date-label, &__end-date-label {
            @extend .cell;
            font-size: 1.125 * $tc-base-font-size;
            font-weight: bold;
          }
        }

        &__transaction-types {
          @extend .grid-x;
          @extend .grid-padding-x;
          @extend .cell;
          @extend .medium-6;

          &__container {
            @extend .grid-x;
          }
          &__label {
            @extend .cell;
            @extend .medium-6;
            font-weight: bold;
            margin-bottom: .8em;
            font-size: 1.125 * $tc-base-font-size;
          }
          &__selections {
            @extend .cell;
            @extend .medium-6;
            font-size: 0.75 * $tc-base-font-size;
          }
          &__option {
            @extend .cell;
            @extend .medium-5;
            @extend .medium-offset-1;
          }
        }
      }
    }

    .with-positive-net-value {
      color: $tunecore-header-blue;
      font-weight: bold;
    }

    &-title {
      @extend .payout-container-title;
      @extend .cell;
      @extend .grid-x;

      color: $dark-body-text;
      padding-left: 2.2%
    }

    &-headers {
      @extend .payout-table-row;

      background-color: $tunecore-light-gray;
      border-bottom: 1px solid $tunecore-gray;
      color: $black-border;
      padding-bottom: 1%;
      padding-top: 1%;
    }

    &-content {
      @extend .cell;
    }

    &-full-row {
      @extend .payout-table-row;

      justify-content: center;
      padding: 0%;
    }

    &-row {
      @extend .payout-table-row;

      &:last-child { border: none; }
    }


    &-cell {
      @extend %dynamic;
      @extend .payout-table-cell;

      padding: 2% inherit;

      &:first-child {
        padding-left: 2.2%;
        text-align: left;
      }

      &:nth-child(3) {
        text-align: right;
      }
    }

    &-load-more-cell {
      @extend .cell;
      @extend .small-4;
    }

    &-action {
      @extend .button;

      font-size: 1.1 * $tc-base-font-size;
      margin: 0 10%;
      width: 70%;
    }
  }


  &-summary {
    &-container {
      @extend .grid-y;
    }

    &-row {
      @extend .grid-x;
      background-color: $tunecore-pale-gray;
    }

    &-button {
      @extend .button;

      font-size: 1.1 * $tc-base-font-size;
      font-weight: bold;

      height: 100%;
      margin: 0;
      padding: 7% 5% 5% 5%;
    }

    &-header {
      @extend .grid-x;
      padding: 1% 0%;

      &-element {
        @extend .cell;
        @extend .small-6;

        font-size: $tc-base-font-size * 1.2;
      }
    }

    &-page-title {
      @extend .balance-transaction-summary-header-element;

      align-self: start;
    }

    &-currency {
      @extend .balance-transaction-summary-header-element;

      align-self: end;
      text-align: right;
    }

    &-links {
      @extend .cell;
      @extend .small-4;
      @extend .grid-y;

      padding: 3% 5%;
    }

    &-cell {
      @extend .payout-table-cell;
      @extend .small-6;

      padding: 2% 0;
      text-align: center;
    }

    &-value { font-size: 2 * $tc-base-font-size; }

    &-label { font-size: $tc-base-font-size; }
  }
}
