.success {
  color: $success-green;
  padding: 10px;
}

.notice {
  background-color: $white_background;
  color: $body_text;
  padding: 10px;
  border: 1px solid $brd_grey;
}

.error {
  color: $error_color;
  padding: 10px;
}

.input_error {
  color: $error_color;
}
