.composers-compositions-container {
  .header {
    font-weight: 500;
    margin-left: .5em;
  }

  .note {
    padding: 0 1em 1em;
  }

  .rights-app-response {
    margin-bottom: .5em;
    span {
      padding: 0;
    }
  }

  .compositions-title {
    overflow: hidden;
    h3.header {
      float: left;
    }

    .compositions-link {
      float: left;
      margin-top: 8px;
      font-size: 20px;

      a {
        margin-left: 20px
      }
    }
  }

  .compositions-download {
    float: right;
  }
}
