.admin-composer-edit {
  margin-bottom: 10em;

  .button {
    margin-bottom: 2em;
  }

  .terms-of-service {
    padding: 1em;
    font-size: .8em;

    h2:first-child {
      font-size: 2em;
    }

    h3:first-child {
      font-size: 1.75em;
    }
  }

  .error {
    margin-bottom: 5px;
    padding: 0;
    input {
      margin-bottom: 5px;
    }
  }
}
