%dynamic {
  &:nth-child(2) {
    text-align: left;

    &:nth-last-child(3) {
      @extend .small-6;
    }

    &:nth-last-child(4) {
      @extend .small-4;

      text-align: left;
    }
  }
}

.composers-manager {
  .admin-flash-container {
    display: none
  }

  &-container {
    @extend .grid-container;

    border: 0;
    font-size: $tc-base-font-size;
    margin-bottom: 10%;

    &-back-link {
      padding: 0.5% 0% 1.2%;
    }

    tbody th, tbody td {
      padding: 0;
      text-align: center;
      width: 10%;
    }

    .error {
      color: $danger-zone;
    }

    .notice {
      border: none;
      color: $tunecore-blue;
      font-weight: bold;
      text-align: center
    }

    .terminate-form,
    .update-form {
      margin: 3% 10%;
      width: 85%;

      input {
        margin: 3% 0;
      }
    }

    .import-data-btn {
      margin-top: 1%;
    }
  }

  &-table {
    @extend .payout-table;
    @extend .payout-container;

    border: 1px solid $brd_grey;

    &-terminated-composer {
      width: 85%;
      margin: 3% 10%;
    }

    &-cell {
      margin: 0 25%;
      width: 50%;
    }

    &-content {
      @extend .cell;
    }

    &-action {
      @extend .button;

      font-weight: bold;
      width: 100%;
    }
  }

  &-header {
    font-weight: bold;
  }

  &-summary {
    p {
      margin-bottom: 0;
    }

    &-container {
      @extend .grid-y;
    }

    &-row {
      @extend .grid-x;
      background-color: $tunecore-pale-gray;
    }

    &-button {
      @extend .button;

      font-size: 1.1 * $tc-base-font-size;
      font-weight: bold;

      height: 100%;
      margin: 0;
      padding: 7% 5% 5% 5%;
    }

    &-links {
      @extend .cell;
      @extend .small-4;
      @extend .grid-y;

      font-weight: bold;
      white-space: nowrap
    }

    &-cell {
      @extend .payout-table-cell;
      @extend .small-6;

      padding: 2% 0;
      text-align: center;
    }

    &-value { font-size: 2 * $tc-base-font-size; }

    &-label { font-size: $tc-base-font-size; }
  }
}
