.creative-external-service-ids-container {
  margin-left: 20%;
  .artist-mapping {
    display: table;
  }
  .row {
    display: table-row;
  }
  .cell {
    display: table-cell;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 250px !important;
  }
  .pagination {
    margin: 10px 0 5px 0;
  }
  .artist-service {
    font-weight: bold;
  }
  .button {
    margin-top: 12px;
  }
  .creative-external-service-id-input-header {
    text-align: center;
  }
}
