%dynamic {
  &:nth-child(2) {
    text-align: left;

    &:nth-last-child(3) {
      @extend .small-6;
    }

    &:nth-last-child(4) {
      @extend .small-4;

      text-align: left;
    }
  }
}

.delete-account {
  &-container {
    @extend .grid-container;

    border: 0;
    font-size: $tc-base-font-size;
    margin-bottom: 10%;

    &-back-link {
      padding: 0.5% 0% 1.2%;
    }
  }

  &-icon-container {
    @extend .cell;
    @extend .grid-x;
    @extend .small-8;
    justify-content: flex-end;
    padding-right: 2%;
  }
}
