.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.top-row-wrapper {
  background: $tunecore-header-blue;
  border-bottom: 1px solid #bdbdbd;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 1%;

  .top-bar, .top-bar ul {
    background-color: $tunecore-header-blue;

    ul li a, .menu-text {
      color: $white_background;
    }
  }

  .top-bar-left {
    ul li {
      border-right: 1px solid #3B4951;

      a {
        font-weight: bold;
        &:hover {
          color: $tunecorange;
        }
      }
    }
  }

  .top-bar-right {
    a {
      font-weight: bold;
      color: white ;

      &:hover, &:active {
        color: $tunecorange !important;
      }
    }

    .carot-down {
      padding-right: 20%;
      &:after {
        font-family: FontAwesome;
        content: "\f0d7";
      }
    }
  }

  .dropdown.menu .is-active > a {
    color: $white_background;
  }

  .is-dropdown-submenu-parent {
    white-space: nowrap;
  }

  .dropdown.menu > li.opens-left > .is-dropdown-submenu {
    top: 116%;
    border-top: 1px solid #3B4951;
  }

  .is-dropdown-submenu {
    min-width: 150px;
  }
}

