.mass-adjustments-tool-container {
  @extend .grid-container;
  border: 0;
  margin: 50px auto;

  .error {
    background: $modal-grey;
    margin: 10px 0;
  }

  .header {
    .actions {
      text-align: right;
      a {
        background-color: #00a1e0;
        color: white;
        padding: 5px 10px;
      }
    }
  }

  tr {
    a {
      text-decoration: underline;
    }
  }

  h5 {
    color: #00a1e0;
  }

  .batch-actions {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    text-align: center;
    h6 {
      padding: 10px;
      font-weight: bold;
    }
  }

  .highlight {
    color: $tunecore-light-red;
  }

  .batch-details {
    display: flex;
    margin-bottom: 30px;
    &>div {
      flex-basis: 0;
      flex-grow: 1;
      padding: 10px;
    }
  }

  .pagination {
    text-align: right;
  }

}
