<div id="info-box">
  <h1>About This Page</h1>
  <p>
    This page compares the keys from all english (en) locale yaml files against corresponding locale files of a selected language code (default is set to 'de').
  </p>
  <p>Additional Notes about this page:</p>
  <ul>
    <li>Differences are marked when a key is missing from the translation file.</li>
    <li>Differences are marked when the keys are not in matching descending order on the translation file.</li>
    <li>Missing translation files are highlighted on this page.</li>
    <li>All matching files are excluded from this page</li>
  </ul>
  <p>
    To compare the en.yml files against another language, please enter the language code in the form below and submit.
  </p>
</div>
<div id="translations-diff-form" style="margin:20px">
  <%= form_tag admin_translations_path, method: :get do %>
  <%= label_tag :language_code, "Enter Language Code" %>
  <%= text_field_tag :language_code %>
  <%= submit_tag "Update Diff" %>
  <% end %>
</div>
<% if is_valid_language_code?(@language_code) %>
  <table id="translations-table">
    <caption>Translation Differences</caption>
    <tbody>
      <% @en_files.each do |file_name, file_lines|%>
        <%= show_translation_diffs(file_name, file_lines, @translation_files, @language_code).html_safe%>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div>
    Language Code '<%=@language_code%>' is not a valid language code. Please enter one of the following:
    <%=valid_language_codes%>
  </div>
<% end %>