.payout {
  &-transfer {
    &-btn {
      width: 25%;
      margin: 0 auto; // try to use foundation x grid for sizing
    }
  }
  &-button {
    @extend .small-3;
    @extend .cell;
    @extend .button;

    align-self: end;
    margin: 0;
  }

  &-radio-label {
    width: 100%;
  }

  &-radio-button {
    display: none;

    & + label:before {
      font-family: FontAwesome;
    }

    & + label:before {
      content: "\f10c";
      color: white;
      margin-right: 2%;
    }

    &:checked  + label:before {
      content: "\f192";
      color: white;
      margin-right: 2%;
    }
  }
}
