// base styles go here
.payout {
  font-family: $tc-sans-serif-bold;

  &-button {
    &-container {
      @extend .grid-x;
      padding: 2%;
      padding-top: 3.5%;

      &-small {
        @extend .grid-x;
      }
    }
    &-spacing-between {
      justify-content: space-between;
    }
    &-spacing-around {
      justify-content: space-around;
    }
    &-link {
      @extend .small-4;
      @extend .cell;

      padding-top: 0.85em;
      align-self: start;
    }
  }

  &-text-container {
    @extend .grid-y;
    padding: 2%;
  }

  &-options-list {
    @extend .grid-x;
    @extend .grid-padding-x;
    @extend .grid-padding-y;
  }

  &-container {
    @extend .grid-x;
    @extend .grid-y;
    border: 1px solid black;


    &-center-content {
      justify-content: center;
      text-align: center;
    }

    &-title {
      @extend .payout-title;
      @extend .cell;
      @extend .grid-x;
      @extend .small-12;

      font-size: 1.4 * $tc-base-font-size;
      font-weight: bold;
    }

    &-footer {
      @extend .payout-footer;
    }
  }

  &-footer {
    margin: 0 auto 0 auto;
    text-align: center;
  }
}
