.payout-transfer-input {
  @extend .cell;
  @extend .small-9;

  font-size: 1.5 * $tc-base-font-size;
  border: none;
  box-shadow: none;
  text-align: center;
  margin: 0;


  &.with-error {
    color: $danger-zone;
  }

  &-container {
    width: 230px;
    border: none;
    border-bottom: 1px solid $dont-touch-me-gray;
    margin: 0 auto;
    padding: 0;

    & > input {
      width: 100%;
      text-align: center;
      &:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
      }
    }
  }

  &-label {
    @extend .cell;
    @extend .small-3;

    font-size: 1.5 * $tc-base-font-size;
  }
}

.payout-transfer-container {
  .amount_too_high_error {
    display: none;
  }
  .errors {
    color: $danger-zone;
    margin-top: 20px;
    min-height: 30px;
  }
  .amount-entry-page-withheld-note {
    padding: 5px 150px;
  }
}
