.payout {

  .default {
    &-top {
      &-padding {
        padding-top: 3%
      }

      &-margin {
        margin-top: 3%;
      }
    }

    &-padding {

      &-vertical {
        padding: 3% 0 3% 0;
      }

      &-small {
        padding: 1% 0;
      }
    }
  }

}