.payout {
  &-table {
    @extend .grid-y;

    margin-top: 2%;

    &-cell {
      @extend .cell;
      @extend .small-2;
      text-align: center;
    }

    &-title {
      @extend .cell;
    }

    &-content {
      @extend .cell;
      @extend .grid-y;

      margin-top: 1%;
    }

    &-row {
      @extend .grid-x;

      border-bottom: 1px solid $black-border;
      padding-top: 1.5%;
      padding-bottom: 1.5%;

      &:last-child { border: 0; }
    }
  }

}
