.payout {
  * { font-size: $tc-base-font-size; }

  &-icon { font-family: FontAwesome; }

  &-grayscale { color: $grayscale-text; }

  &-title {
    background-color: $tunecore-header-blue;
    padding-bottom: 1.5%;
    padding-left: 2%;
    padding-top: 1.5%;

    label,
    span {
      color: $dark-body-text;
      font-size: $tc-base-font-size * 1.2;
      font-weight: bold;
    }
  }

  &-small-text {
    font-size: .8 * $tc-base-font-size;
  }

  &-text {
    font-size: inherit;
  }

  &-large-text {
    font-size: 1.25 * $tc-base-font-size;
  }

  &-page-header-text {
    font-size: 2 * $tc-base-font-size;
  }

  &-small-padding-text { padding: 1% 0; }

  &-padding-text { padding: 3% 0; }

  &-header-text {
    @extend .payout-text;  
    font-size: $tc-base-font-size * 1.4;
  }
}
