<div id="sales_listing">
<h2>Admin :: Settlement Summaries for <%= @country_website.country %></h2>
<%= render 'admin/shared/country_links' %>
<%= render :partial => '/admin/shared/searchbox'%>

<h2>Monthly Totals
	<span style='font-size:80%'>(<%= link_to 'export', admin_settlement_summaries_path(:format => :csv, :country => @country_website.country)%>)
	</span>
</h2>
<div class='floatR'>
	<strong>All Amounts in <%= @country_website.currency %> <%= flag(@country_website) %></strong>
</div>

<% if @month_summaries.length == 0 %>
<p>No Settled Invoices</p>
<% else %>
<% reset_cycle() %>
  <table class="sales_data" cellspacing="0">
  <thead>
    <tr>
      <th>Month</th>
      <th># Distinct Customers</th>
      <th class="money">Paid with Paypal</th>
      <th class="money">Paid with Tunecore Balance</th>
      <th class="money">Paid with Credit Card</th>
      <th class="money">Paid with Adyen</th>
      <th class="money">Settlements Total</th>
    </tr>
  </thead>
  <tbody>
  <% @month_summaries.each do |summary|%>
    <tr class="<%=cycle('', 'alt')%>">
      <td><%= link_to fmt_month(summary.month), admin_settlement_summary_path(summary, :country => params[:country]) %>  </td>
    <td><%= summary.people_count %></td>
    <td class="money">$<%= summary.paypal_amount %></td>
    <td class="money">$<%= summary.tunecore_amount %></td>
    <td class="money">$<%= summary.credit_card_amount %></td>
    <td class="money">$<%= summary.adyen_amount %></td>
    <td class="money">$<%= summary.total %> <%= summary.discrepancy? ? '<b class="red">(!)</b>'.html_safe : nil%></td>
    </tr>
  <% end %>
  </tbody>
  </table>
<% end %>
</div>
