<div class="authentication-step">
  <%= render partial:"code_sent" %>
  <%= render partial: "errors" %>
  <div class="enter-code-wrapper">
    <%= f.text_field :auth_code, label: custom_t("two_factor_authentication.enter_code"),
          id: "tfa_form_auth_code", class: "auth-code-input", autocomplete: "off", autofocus: true %>
    <div class="resend-code-link">
      <%= custom_t("two_factor_authentication.didnt_get_the_code",
           resend_link: link_to(custom_t("two_factor_authentication.resend"),
           api_backstage_two_factor_auth_resends_path,
           method: :post,
           remote: true)) %>
    </div>
    <div class="try-another-way">
      <span><%= "#{custom_t(:try_another_way)}: "%></span>
      <%= link_to custom_t("#{two_factor_auth.alternate_method}_me"),
        api_backstage_two_factor_auth_resends_path(alternate_method: true), method: :post, remote: true %>
    </div>
    <%= f.hidden_field :tfa_action, value: @preference.tfa_action %>
  </div>
</div>

<%= render "two_factor_auth/shared/call_resend_banned_modal" %>
