<div class="error-notification">
  <% if flash[:errors].present? %>
    <% flash[:errors].each do |value| %>
      <%= content_tag :span, value, class: "flash errors" %>
    <% end %>
  <% end %>
</div>
