<div class="preferences-step">
  <div
    type="hidden"
    id="toll_fraud_validation"
    data-enabled="<%= @toll_fraud_validation_enabled %>"
    data-codes="<%= @toll_fraud_phone_codes %>"
    style="display: none;"
  >
  </div>

  <p class="title"><%= custom_t("tfa_form.preferences_step.title") %></p>
  <p class="verify-your-identity-msg">
    <%= custom_t("tfa_form.preferences_step.phone_number_to_verify_identity") %>
  </p>

  <p class="contact-info-msg">
    <span><%= custom_t(".note") %>: </span>
    <%= custom_t("tfa_form.preferences_step.contact_info_msg") %>
  </p>

  <%= render partial: "errors", preference: preference %>

  <div class="preferences-wrapper">
    <div class="country-code-select">
      <%= f.select :country_code,
              custom_t_name_and_phone_codes_for_countries,
              label: custom_t("tfa_form.country"),
              prompt: "Select Country",
              selected: two_factor_auth.country_code %>
    </div>
    <%= f.text_field :phone_number,
          label: custom_t("tfa_form.preferences_step.phone_number"),
          value: two_factor_auth.phone_number,
          class: "phone-number-input" %>
  </div>

  <p class="how-to-receive-verification-code">
    <%= custom_t("tfa_form.preferences_step.how_to_receive_verification_code") %>
  </p>

  <div class="notification-method-radios">
    <div class="tfa-radio">
      <%= f.radio_button(
            :notification_method,
            "sms",
            label: custom_t("tfa_form.preferences_step.text_message"),
            checked: two_factor_auth.notification_method.nil? || two_factor_auth.notification_method == "sms"
      )%>
    </div>
    <div class="tfa-radio">
      <%= f.radio_button(
            :notification_method,
            "call",
            label: custom_t("tfa_form.preferences_step.phone_call"),
            checked: two_factor_auth.notification_method == "call"
      )%>
      <div id="toll_fraud_validation_message" class="hidden text-grey">
        <%= custom_t("tfa_form.preferences_step.toll_fraud_message") %>
      </div>
    </div>
  </div>
</div>
