<% content_for :external_javascript do %>
  <%= javascript_include_tag "two_factor_auth" %>
<% end %>

<% content_for :css do %>
  <% if @dark_mode %>
    <%= stylesheet_link_tag "dark_mode/two_factor_auth" %>
  <% end %>
<% end %>

<div class="tfa-container">
  <p class="tfa-account-settings-link">
    <i class="fa fa-angle-left"></i>
    <%= link_to custom_t("tfa_form.account_settings").upcase,
        edit_person_path(current_user, tab: "account") %>
  </p>

  <div class="tfa-form-wrapper">
    <div class="tfa-form-header">
      <h2><%= custom_t("tfa_form.header") %></h2>
    </div>

    <%= form_for @preference, url: two_factor_auth_preferences_path,
          method: :post, html: {id: "tfa-form"} do |f| %>
      <div class="tfa-form-step-body">
        <%= render preference_partial(@preference), f: f,
              two_factor_auth: @preference.person.two_factor_auth,
              preference: @preference %>
      </div>

      <%= f.hidden_field :tfa_action, value: @preference.tfa_action %>

      <div class="tfa-form-bottom">
        <%= f.submit custom_t("tfa_form.next"),
              data: { current_step: @preference.tfa_action },
              class: "next-btn" %>
      </div>
    <% end %>

    <% if @preference.tfa_action != "confirmation" %>
      <%= button_to custom_t("tfa_form.cancel"),
            two_factor_auth_preferences_path,
            method: :delete,
            class: "cancel-btn" %>
    <% end %>
  </div>
</div>
