<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/admin/store_selection" %>
<% end %>

<style rel="stylesheet" type="text/css">
    .individual-stores{
        margin: 0px !important;
    }
    #manage-salepoints li{
        height: auto !important;
        padding-top: 20px !important;
    }
    .ui-selectmenu{
        margin-bottom: 10px;
    }
    a.cancel-right{
        position: relative !important;
        float: right !important;
        bottom: 0px !important;
        left: 0px !important;
    }
    a.toggle{
        text-decoration: none;
    }
    select {
      margin-top:4px;
      margin-right: 10px;
    }
    label {
      float: none;
      width: 100px;
    }
    div.row {
      margin-left: 25px;
      padding-top: 10px;
      padding-bottom: 20px;
    }
    .store-group div span {
      width: 196px;
      margin-right:10px;
      display: inline-block;

    }
    #manage-salepoints .store-group h3 {
      width: 275px;
      clear: left;
    }
    .rounded-container {
      padding: 10px;
    }
    .store-name {
      white-space: nowrap;
      overflow-x: hidden;
      line-height: 25px;
      text-overflow: ellipsis;
    }
</style>

<section class="grid_16" id="manage-salepoints">
  <h2>Manage Store Pricing</h2>

  <% if @salepoint = @salepoints.find{ |salepoint| !salepoint.valid? } %>
    <%= error_messages_for @salepoint %>
  <% end %>
  <div class="store-group">

    <%= form_for @album, :url => admin_salepoint_path(@album), :html => { :method => :put, :class => 'rounded-container' } do |album_form| %>

      <div class="individual-stores">
        <div class="row">
          <div class="text-center grid_1">Update</div>
          <div class="grid_5">&nbsp;</div>
          <div class="text-center grid_4">Track Level</div>
          <div class="text-center grid_4">Album Level</div>
        </div>
        <% @salepoints.select { |sp| !!sp.store.is_active }.sort { |a,b| a.store.name.upcase <=> b.store.name.upcase }.each_with_index do |salepoint, index| %>
          <div class="row">
            <input type="hidden" name="salepoints[<%= index %>][id]" value="<%= salepoint.id %>"/>
            <div class="text-center grid_1">
              <%= check_box_tag "salepoints[#{index}][apply]", "apply", false, :class => "store-checkbox" %>
            </div>
            <div class="grid_5">
              <h3 class="store-name">
                <%= salepoint.store.name %>
                <%= " (wholesale prices)" if salepoint.store.name =~ /Amazon/i %>
                <span style="color:red;"><%= " (Preorder: #{@album.itunes_ww_salepoint.salepoint_preorder_data.preorder_price})" if salepoint.store.short_name == "iTunesWW" && @album.preorder_purchase.present? && @album.preorder_purchase.paid_at? && @album.preorder_purchase.itunes_enabled %></span>
              </h3>
            </div>
            <div class="text-center grid_4"><%= select_tag "salepoints[#{index}][track_variable_price_id]", options_from_collection_for_select(salepoint.track_variable_price_options.sort{ |a, b| a.position <=> b.position}, :id, :price_code_display, salepoint.track_variable_price_id), :include_blank => true %></div>
            <div class="text-center grid_4"><%= select_tag "salepoints[#{index}][variable_price_id]", options_from_collection_for_select(salepoint.variable_price_options.sort{ |a, b| a.position <=> b.position}, :id, :price_code_display, salepoint.variable_price_id), :include_blank => true %></div>
          </div>
        <% end %>
        <div class="row" style="margin-top: 30px;">
          <div class="grid_2">Select All</div>
        </div>
        <div class="row" style="padding-top: 0;">
          <div class="text-center grid_1"><input type="checkbox" class="select-all"/></div>
        </div>
      </div>

      <ul>
        <%= album_form.submit "Save & Deliver", :class => 'submit', :li_class => 'submit-li' %>
        <li class="submit-li"><%= link_to "Cancel", admin_album_path(@album), :class => 'cancel-right' %></li>
      </ul>

    <% end %>
  </div>
</section>
