<section class="grid_16">
  <h2>Manage Salepoints</h2>
  <p>We're sorry.  There are not any salepoints to manage at this time.</p>
  <%= link_to "Back to Album", admin_album_path(@album) %>
</section>
