<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/guides/jquery.viewport.mini.js" %>
  <%= javascript_include_tag "/javascripts/app/guides/cufon-yui.js" %>
  <%= javascript_include_tag "/javascripts/app/guides/helvetica_medium_500.font.js" %>
  <%= javascript_include_tag "/javascripts/app/guides/helvetica_light_oblique_italic_300.font.js" %>
  <%= javascript_include_tag "/javascripts/app/guides/jquery.corner.js" %>
  <%= javascript_include_tag "/javascripts/app/guides/configurefont.js" %>
  <%= javascript_include_tag "/javascripts/app/guides/scripts.js" %>
  <%= javascript_include_tag "/javascripts/app/guides/jquery.sidebar.js" %>
<% end %>