<%= render :partial => "guide_js" %>
  <h2 class="h2cufon">THE BASICS OF MASTERING YOUR MUSIC</h2>
   <div class="writtenby">By Dave Locke, founder &amp; engineer, JP Masters<br />
   </div>
</div>
  <div id="download">
  <div id="downloadbtn"><a href="/images/artwork/templates/pdfs/survivalguide1_2.pdf"><img src="/images/guides/downloadthis.jpg" width="149" height="34" /></a></div>
  
  </div>
<div class="bodycontent">
  
  
  
    <div class="bodytext lefty">
      
  <div class="paragraph">
    <p>Of all the various stages of the recording process, mastering seems to puzzle people the most. I've heard words like &quot;mystical&quot; or &quot;voodoo&quot; used to describe the process of mastering and that it is shrouded in mystery and intrigue. That must mean that mastering engineers are nin- jas with great big ears that can hear your eyelashes flutter against your glasses when you blink. Some or all of that might be true but besides having great ears and a willingness to listen to all kinds of music day in and day out, mastering engineers are fairly normal people.</p>
    
    <p><span class="bold"><img src="/images/guides/Sweet.jpg" alt="Mastering Your Music" width="200" height="239" class="floatleft" />The Reality Behind the Magic</span><br />
      The goal in mastering is really three fold. The first goal is to make sure that each track on a CD flows into the next with some continuity. That would mean that the spacing is right, the beginning and ends are cleaned up, and the sound is similar. The second goal is to make sure that the overall sound of the CD or song matches up well in terms of brightness, bass, and loudness to other CDs or songs in the same genre. The third goal is to generate and fully test a master that can be used to replicate or duplicate CDs.<br />
      To accomplish this, the mastering engineer must have a set of speakers and a room that has a flat frequency response so that there is no mys- tery about the sound of the song(s) being mastered. Also, the mastering engineer must have tools that are specifically designed to accomplish the goals stated above. These tools are basically, compressors, peak limiters, equalizers, and a digital audio workstation to edit and set up masters with.<br />
      A mastering engineer may or may not have big ears but he or she must be very tuned in to listening for distortion, overall tonal balance, and dynamics. This is a skill that comes from years of mastering everyday. They also must have a good idea of how each genre of music should sound in order for it to stand up against other music in the same genre.</p>
    
    <p><span class="bold">Tools Mastering Engineers Use</span><br />
      As far as how to use these mastering tools to get the job done, it takes a lot of years of experience, instinct and nuance to get it right. It would be next to impossible to simply write down how you could do it. What I will tell you is that the plug-ins that you purchase for your home recording workstation that have the word mastering in the name, are not real mastering tools. In fact, you won't find too many mastering engineers using plug-ins at all. They use hardware with knobs that they can turn with their fingers. The best mastering gear out there today sits in racks and is extremely expensive. A good mastering stereo EQ will cost upwards of $4000 and often more than $10,000.</p>
    
    <p><span class="bold"><img src="/images/guides/PiggyBank.jpg" width="140" height="143" class="floatleft" />Why Do You Need an Engineer?</span><br />
      So, the advice that I want to leave you with is that mastering should not be done in your bedroom studio.</p>
    <p>The greatest recordings in the world need to be mastered in order to sound competitive out there. If that is true, than I guarantee you that the music that is produced, recorded, and mixed at home is going to need it even more.</p>
    <p>Budget in this very important last step to make sure your music will shine and dazzle the listener. If your music is worth listening to, then it is worth having professionally mastered.</p>
    <p>Good luck and may the mastering fairy dust fall upon your music.</p>
    <p><a href="/store/product/62">Music Mastering</a> Tips from the Pros<br />
      When you submit songs to a mastering facility, there are a few things to concern yourself with prior to doing so:<br />
      <br />
      1. Be sure that you are happy with your mixes. If you are mostly satisfied but have some minor issues, make notes to send along to the mastering house. Sometimes certain issues like &quot;the bass is too loud&quot; or &quot;the vocals are a touch too sibilant' can be ad- dressed.<br />
      2. Be sure not to mix your songs with heavy limiting or compres- sion on the stereo bus. On individual tracks, this is fine, but leave the overall compression and limiting off so there can be more options later in the mastering phase. If you like the compression that you are getting, go ahead and do it but also send a version without.<br />
      3. Be sure that the highest peaks on your master fader do not reach 0dB.<br />
      4. Also, don't send an MP3 or AAC. The best digital file formats are WAV, SDII, and AIFF.<br />
      <br />
      <img src="/images/guides/recordplayer.jpg" width="170" height="72" /><br />
    </p>
      
    <p><span class="bold">About Dave Locke</span><br />
      Dave Locke has been mastering CD releases for labels and independent art- ists for over 14 years and has currently mastered more than 2000 projects, including albums mastered for Warner Music Group, Universal Records, RCA Records, Epitaph Records, Metal Blade Records, Gotham Records, Signature Sounds and thousands of artists. His ears and aesthetic touch can be heard<br />on a wide variety of musical genres, from Punk to Rap and from Pop to Classical. Dave founded <a href="http://www.jpmasters.com/" target="_blank">JP Masters</a> in 1999 and has become one of the most trusted mastering engineers in the business.</p>
    <p>Testimonials<br />
      &quot;Dave Locke is about the only guy I trust mastering my client's work. He is my first choice for clients to consider. In all these years, never a miss step, he's my Big Brother of Sonics who knows how to make our work impress the masses. He's Fast, Reasonable, Musical and never a hint of EGO in the final product.&quot; - David Minehan, Producer, Woolly Mammoth Sound (The Neighborhoods)<br />
      &quot;Dave Locke is by far the most trustworthy and talented mastering engineer in the business today.&quot; - Jim Seigel, Producer, The Outpost (The Ducky Boys, Since The Flood, Dropkick<br />
      Murphys)<br />
      &quot;I have relied on Dave's great ears for over a decade. I trust him as a professional and as a friend.&quot; - Gunther Schuller, Composer, Producer, GM Recordings (Pulitzer Prize Winner<br />
      1994)<br />
      </p>
  </div>
  </div>
