<%= render :partial => "guide_js" %>
<h2 class="h2cufon">THE BASICS OF MIXING YOUR MUSIC</h2>
   <div class="writtenby">By Chris Inglesi, BionicEarz<br />
   </div>
</div>
  <div id="download">
  <div id="downloadbtn"><a href="/images/artwork/templates/pdfs/survivalguide1_4.pdf"><img src="/images/guides/downloadthis.jpg" width="149" height="34" /></a></div>
  
  </div>
<div class="bodycontent">
  
  
  
    <div class="bodytext lefty">
      
  <div class="paragraph">
    <p><img src="/images/guides/tuning_in.jpg" alt="Basics of Mixing Music" width="100" height="78" class="floatleft" />So, you've finished recording a song and you're happy with the performances and arrangement. Great! Now it's time to mix. Proper mixing is vital to the presentation of a song. No matter how good the song is (lyrics, melody, arrangement) or how well it was recorded, a professional mix is extremely important. A good mix will not only make a song sound better, but can highlight dynamics and emotions and really bring a song to life.</p>

    
    <p><span class="bold">What is Mixing?</span><br />
      Simply put, <a href="/store/product/40">mixing</a> is the technical and creative process of combining all the individual tracks (instruments, vocals, etc) and &quot;mixing&quot; them down to one stereo track. For each instrument or vocal, mix- ing determines how loud that track is in relation to the others, what space it occupies in the mix (left, right, center, back, front), and how it sounds (bright, dull, clear, distorted, fat, thin, etc). Each track can be manipulated in a mix using four basic tools:</p>
    <p>Volume: Volume determines the balance between the tracks. For example, how loud is the vocal in relation to the guitars? How loud is the piano in relation to the drums? The volume of a track can be changed using tools, such as compressors, that control dynamics, or the volume difference between the loudest and softest parts of a track.</p>
    <p>Panning: Panning determines where an instrument is placed in the stereo field, from hard left to hard right or anywhere in between. If all the instruments were placed in the center, it could be very difficult to discern one from another and the mix may sound very cluttered. Spreading out the instruments widens the stereo field and makes for a clearer mix.</p>
    
    <p class="bold"><img src="/images/guides/Sweet.jpg" alt="Mixing Music" width="200" height="239" class="floatleft" />Equalization</p>
    <p>EQ can emphasize or de-emphasize certain frequencies of an instrument or vocal. For example, boosting the low frequencies of a bass guitar track will make it sound bigger and fatter. If you want to add some air and shimmer to the vocals, then boost the high frequencies. Is the acoustic guitar too strident and abra- sive sounding? Then cutting the mid range frequencies may smooth it out. EQ is often used to define instru- ments from one another so they do not &quot;fight&quot; for space within the same frequency range.</p>
    <p>Effects: Effects can be time-based (reverb, delay, echo) or modula- tion-based (chorus, flange, etc). Time-based effects, such as reverb, are used to create ambience or &quot;depth&quot; (front to back). Effects are also used to change the original sound of an instrument so that it stands out or to create &quot;excitement&quot; in the mix.</p>
    
    
    
    
    
    <p>Even with just a few tracks there are countless combinations and ways to mix a song. Now imagine a full production song with 48 or more tracks including drums, bass, guitars, percussion, keyboards, strings, lead and backing vocals, and you can see the complexity and time involved in creating a good mix.</p>
    
    <p><span class="bold">What is NOT Mixing</span><br />
    Sometimes the tracks I receive need editing before I start the mix. This may include tuning vocals, aligning instruments, or even altering the arrangement. If I think the song will benefit from these changes, I talk with the artist and/or producer.</p>

    <p><span class="bold"><img src="/images/guides/Swell.jpg" alt="mixing your music" width="100" height="133" class="floatleft" />Mixing and Production</span><br />
      To me, <a href="/store/product/40">mixing and production</a> go hand-in-hand. Before I start mixing I like to discuss with the artist and/or producer their intent for the song. Usually the raw tracks, vocal performance, and lyrics tell me much about the song and will give me a good idea of the direction I think the mix should take. However, the intent and vision of the artist/producer is critical and will greatly influence how I mix. What do they think are the most important parts of the song (the chorus, or maybe the bridge?). What instruments are primary and what instruments play more of a supporting role? There are many different styles of production, even within the same musical category. For example, a rock song can be mixed to have a modern sound or an older &quot;retro&quot; sound. Also, it's obviously important for a mix engineer to understand the genre. I take a very different approach when mixing rock compared to acoustic folk or hip hop. There are no mix templates; every song is different and requires a unique approach. My selection of reverbs, delays, how much com- pression is used, where the vocals sit in the mix, and how I use EQ on individual tracks will vary based on the song's genre.</p>
    
    <p><span class="bold">What Makes a Good Mix?</span><br />
      Just as there are no rules for what makes a good song, whether or not a mix is &quot;good&quot; can be subjective. But, for me, a good mix exceeds the musical vision of the artist and gives a song &quot;life.&quot; All the technical aspects of mixing should become invisible to the listener and the focus should be on the song. No matter the genre, I think it's important that the lead vocals shine and that none of the instruments distract from this. The song should &quot;breathe&quot; and have dynamics and keep the listeners interest. While a good mix can certainly help achieve these goals, a good song and especially a good arrangement are always important. And remember, there's no such thing as a perfect mix. There's an old saying: &quot;Mixes are never finished, they are abandoned!&quot;</p>
    
    <p><span class="bold">Mixing Tools</span><br />
      First, it goes without saying that the best assets a mix engineer has are his ears and experience. That said, mixing does require a specialized set of audio tools. These include: accurate studio monitors, a good listening environment (often acoustically treated), high quality equalizers and compressors, effects such as reverbs and delays, and a mixing console (analog or digital). Most mixing today is done using a computer and a Digital Audio Workstation (DAW), such as ProTools. For me, I like using a DAW with digital automation and plugins along with high quality outboard analog gear.</p>
  </div>
  </div>
