<%= render :partial => "guide_js" %>
  <h2 class="h2cufon">EVERYTHING YOU NEED TO KNOW ABOUT VINYL</h2>
   <div class="writtenby">By Jay Millar, Sales &amp; Marketing Manager, United Record Pressing</div>
</div>
  <div id="download">
  <div id="downloadbtn"><a href="/images/artwork/templates/pdfs/survivalguide1_3.pdf"><img src="/images/guides/downloadthis.jpg" width="149" height="34" /></a></div>

  </div>
<div class="bodycontent">



    <div class="bodytext lefty">

  <div class="paragraph">

    <p><img src="/images/guides/recordplayer.jpg" alt="Record to Vinyl" width="170" height="72" class="floatleft" />I'm sure you've read the Time Magazine article about the resurgence of vinyl or possibly perused the Billboard cover story on the marriage of vinyl and digital. It's true, vinyl is back... not that it ever went anywhere, but in a time when physical music sales are shrinking, vinyl is experiencing a real period of growth. When Tunecore.com asked me to put together something about vinyl I decided I'd address a lot of the questions I get asked most frequently, from vinyl's big comeback to the time restrictions of a 45 RPM 7&quot;. Hopefully you will find this helpful as you're putting together your first or next vinyl project. Enjoy.</p>
    <p>Vinyl, it's the New Vinyl!<br />
      <br />
      These days one of the most common questions I get is what is causing the big vinyl comeback? Oddly enough I don't think it's what happened to vinyl that's causing the comeback, it's what happened to digital. First, for many audiophiles and DJs, vinyl never went away. For others, such as myself, it's the emergence of the MP3 that brought vinyl back. Plain and simple, there's no need for discs to be compact any longer so some folks are ditching their CDs in favor of the warmth of vinyl and the convenience of MP3. CD has its advantages and if there was only one format, CD would probably make the most sense as you get a tangible item, artwork and a reasonable level of compactness. That said, with the emergence of digital, things have changed and the ideal situation now seems to be having your iPod or MP3 player for times that require portability (the car, the gym etc.) combined with vinyl for the peak ex-perience at home. If you've got vinyl and an MP3 you've got everything you had with the CD but the artwork is larger and the sound is warmer and somehow more intimate. Plus listening to a CD (or MP3 for that matter) is a common daily background activity but listening to vinyl is an event.</p>
    <p>
      <span class="bold">Does Vinyl Really Sound Better?</span><br />
      This is an extremely subjective question that's really hard to quantify. The stances most folks take when they speak of vinyl's superior- ity is that vinyl is an analog sound wave, but a CD is a digital sound wave. Simply put, music in an analog form consists of one continuous flowing wave of data, where digital music consists more of dots that are very close together forming something resembling a wave (but isn't). These days digital music has made great strides and they can get those little dots so close together that most can't hear a differ- ence. Unfortunately, most MP3 files are low bit rate and have a more dramatic difference in sound. Higher bitrates files require more hard drive or iPod space than standard lower bit rate files so many steer clear of those. The difference really lies in the experience, listening to a record is like going to a movie theater; you can watch TV, DVD, Blu-Ray or whatever, but the experience is never quite the same as when you go<br />
      to the theater. You're somewhat forced to focus on the film. Most folks tend to pay more attention when listening to a turntable even if it's for the simple fact that you're waiting for the last cut of that side so you know when to flip the record.</p>
    <p>
      <span class="bold"><img src="/images/guides/Sweet.jpg" alt="Recording to Vinyl" width="200" height="239" class="floatleft" />But What if I Recorded My Tracks with Pro Tools?</span><br />
      Keeping what was mentioned above in mind (an analog wave versus digital) a lot of people like to question if vinyl can really sound better than the CD if they both came from a digital source like Pro Tools. This is another spot where preference comes into play. These days CDs seem to be the most common source materials for lacquers, compared to the 1/4&quot;, 1/2&quot; tape or DAT tapes from years past. Would the records sound better if all the recording and mixing sources were analog like in the past? Probably. Again, the movie theater analogy works here. Take a film like The Blair Witch Project (shot on video) or Star Wars: Attack of the Clones (shot digitally) - did you enjoy those more at home or at the theater? Most theaters these days are still using film projectors so the odds are very good that if you saw them on the big screen you saw them on film (an analog medium). In the case of Blair Witch you saw a picture that was converted from video (a poor analog source) to film; while bumping from a bad medium to a great one didn't suddenly recreate the film in wondrous Technicolor beauty, it was still unexplainably better. In the theater you're probably not going to be flipping through your mail during the slow parts or answering your phone but you're completely focused on the film. You're probably not going to play a record while you're doing something labor intensive either but when you're ready to sit and really listen you put on some vinyl. The film Star Wars: Attack of The Clones, which was shot digitally then transferred to film (just like transferring CD to LP) gave the theatrical version more of a real or human feel. Personally, I like the occasional flaw that pops up on the screen at the movie theater just like I appreciate the occasional crackle of an LP. It just somehow makes it more human, you can see how it works and just like seeing a band live it might do something unexpect- ed. There's just something warmer about vinyl: the sound, the artwork, the liners and some unexplained magic when you put the needle down.</p>
    <p>
      <span class="bold">Who's Actually Buying Vinyl These Days?</span><br />
      From what I see and hear it's really becoming a mishmash of folks. For the last few years it seemed like it was just the diehard audiophiles and DJs. These days, more and more people are rediscovering vinyl because they're looking for something more tangible with better qual- ity than the low bit rate MP3s. The segment that seems to really be booming right now is the rock market, more specifically metal and indie rock. But all genres seem to be picking up as more and more people do like I did... just realize one day that you're only holding onto your CDs for the art, liners and better quality for home... then remember that all of that gets better with vinyl. As silly as it sounds, that really was my thought process. I didn't buy much vinyl in the 90s but now all current music I buy is on vinyl and I'm replacing all my 90s &amp; early 2000s CDs with vinyl.</p>
    <p>
      <span class="bold">So Are Records Going to Replace CDs Now?</span><br />
      As much as I love vinyl, I know it's not for everyone. To me buying vinyl is like buying box sets. People who buy box sets are not casual music listeners and they know the value of having great packaging, liner notes and such. While vinyl sales are growing I don't expect it to be the dominant format any time soon, just a <%= t(:favorite) %> for folks who appreciate great sound and packaging.</p>
    <p>OK, I'M INTERESTED. NOW HELP ME UNDERSTAND HOW I DO THIS.</p>
    <p>
      <span class="bold"><img src="/images/guides/Swell.jpg" alt="Vinyl Record Recording" width="100" height="133" class="floatleft" />Mastering</span><br />
      The first step in the process is the mastering which is really the all encompassing word for mixing, EQ-ing and sequencing the record. Mixing, EQ-ing, etc., should be done prior to sending your DAT<br />
      or CDR source to us to press your records. The source you send to United should sound like you want the music to sound on vinyl, sequenced in order with the correct spacing between each song and a longer space between sides. In ideal situations (i.e. just after winning the lottery) you'd record on reel-to-reel then have it mastered on analog equip- ment. There are things that experienced engineers do differently when mixing for vinyl. So in a perfect world it's AAA (analog recording, mixing and output). For those of you who remember when CDs first came around they all had codes on the package that said AAD (analog/ analog/digital) or ADD (analog/digital/digital). These days a lot of the vinyl could come out with a DDA on it because lots of it is recorded and mixed digitally before being transferred to vinyl. I bet most of you (like me) couldn't notice much of a difference. I see a lot of CDs come in as sources for lacquers and those records still sound warmer and far superior to me compared to CDs.</p>
    <p>
      <span class="bold">Laquer Mastering</span><br />
      This is the art of taking your source material (tape, DAT, CD, etc) and transferring it onto a lacquer. The lacquer is sort of like a softer waxier version of the record that's used to create the metal parts that eventu- ally become the stampers that make your records. The lacquers are coated with silver and electroplated to make hard nickel plates which become the masters. The masters are like metal versions of the inverse of your record, instead of grooves they have ridges. The masters are used to create &quot;mothers&quot; which are metal versions of your record that can be used to create stampers. These stampers are sort of the molds that create your records, like the masters these have ridges instead of groves and these ridges press the grooves into your record.</p>
    <p>
      <span class="bold"><img src="/images/guides/clock.jpg" width="200" height="193" class="floatleft" />Time Constraints</span><br />
      At URP we strongly suggest limiting the amount of music you put on a record to help insure that you get a quality product. Cramming too much music on a side can really lower the quality of your record and increase the possibility of damage or sound issues. We generally say a 12&quot; record can hold up to 18 minutes of music per side at 33 1/3 rpm, and up to 12 minutes per side at 45 rpm. A 7&quot; record at 33 1/3 rpm can hold up to 6 minutes per side. However, if your music is fairly bass-heavy, you may want to shoot for a maximum of 4:30 per side in order to insure optimal sound quality. At 45 rpm, a 7&quot; record can hold up to 4:30 per side, or 3:30 per side for recordings with heavy bass.</p>


    <p>
      <span class="bold">RPM</span><br />
      Simply put, RPM is an acronym for Revolutions Per Minute; so a 45 RPM record travels around 45 full rotations in a minute and a 33 1/3 record goes around 33 1/3 times. The reason for the different times is basically the trade off of space versus quality. Cutting your lacquers at 33 1/3 allows you to fit more music on your record but cutting it at 45RPM is believed to be a superior sound quality. A recent example is the new Metallica reissues which are available two ways, as a single LP at 33 1/3 RPM or a &quot;Deluxe Edition&quot; double LP cut at 45 RPM. More audiophile recordings are coming this way and are sacrificing a little convenience (by spreading the material over two LPs) in favor of sound quality. Rhino was smart with the way they did it, making both available since there are the two different schools of thought.</p>
    <p>
      <span class="bold">Matrix Numbers</span><br />
      Matrix numbers are the series of letters &amp; numbers etched into the &quot;dead wax&quot; between the label and the music. These numbers will sometimes help trace back where a record was mastered or pressed. For example, if you ever pick up a Beatles 45 that's on Vee Jay Records and it has an &quot;SO&quot; in the matrix number it means it was pressed in the same building that URP still presses in now.</p>
    <p>
      <span class="bold">Labels</span><br />
      Ok, this one's a little obvious but it sets up a little known fact I like. Labels are in the center of your record and are the paper circles that usually indicate the artist, title and side (A or B) of the record you're listening to. They often contain the song titles too. A little known fact about record labels is that they contain no adhesive, but are pressed into a record while the vinyl is hot and the hot vinyl essentially melts into the pores of the paper keeping it in place.</p>
    <p>
      <span class="bold"><img src="/images/guides/AlbumSleeve.png" width="100" height="145" class="floatleft" />Jackets &amp; Sleeves</span><br />
      Although some folks have trouble keeping the terms separated, sleeves are the paper cover- ing over your record before you place it into its cardboard jacket. Most sleeves these days are plain white ones with a hole so you can see the label. Some folks splurge on custom sleeves with art, lyrics or liner notes on them. Although there are lots of options for jackets, there are basically two standards - the single pocket and the two pocket gatefold, both of which are made of cardboard. A lot of the DJ 12&quot; singles are done with generic black or white jackets with a hole in them that displays the la-<br />
      bel. Stickers are printed and applied to identify the record, key singles, barcodes and such.</p>
    <p>
      <span class="bold">Colors</span><br />
      There are lots of cosmetic options for your records. Depending on where you're getting your records pressed you can choose between various solid colors, transparent colors, swirls, the marble look or picture discs. It's a commonly held belief that there's a drop in sound quality when you stray away from black vinyl; lighter colors and clears especially... followed by an additional drop off when you go to picture disc. There are two schools of thought on why black vinyl sounds best, one is that it's the purest and contains no color additives. The other school of thought is folks putting an emphasis on the lead content present in most black vinyl. Black vinyl does indeed contain a small amount of lead and it very well may play a part in the sound differenc- es. Admittedly, I don't have much background in terms of picture discs but from what I understand the production process is much different than regular vinyl records and that the compound used is closer to PVC plastic than it is to vinyl. Like most things with records it's just a choice you have to make as to which is more important to you the best sound quality possible or a cooler presentation. Personally, when I'm in the record shop having to decide between the 180 gram version of Velvet Underground with Nico or the version on banana yellow vinyl I go with the colors but many chose otherwise.<br />
      <span class="bold"><br />
      </span></p>
    <p><span class="bold">Free CD Inside? Will it Warp My Records?</span><br />
      When the first creative folks got the idea to include a free CD inside a vinyl record there was a bit of a scare that the presence of the CD warped the record. Initially it was a valid concern as most records are still cooling a bit when placed into the record jacket and the presence of the CD against a warm record did cause warping but trial and error got most folks over that hump as just changing the process a bit and allowing the records to cool more all but eliminated the problem. Some vinyl jacket vendors have jackets with pockets made specifically for CDs and a few of them are designed in ways that drastically reduce the chance of it warping. Obviously going with MP3s eliminates this problem too but you can't listen to that MP3 on your way home from your <%= t(:favorite) %> record store.</p>
    <p>
      <span class="bold">Sizes &amp; Shapes &amp; Grooves</span><br />
      Your standard records are round with diameters of 7&quot; 10&quot; or 12&quot;s. Some manufacture records in various shapes too, I don't know too much about those. Most rock singles come out on 7&quot;s usually at 45 RPMs for the superior sound quality of that speed. On the other hand, most dance, hiphop and R&amp;B singles tend to be on 12&quot; vinyl due to the ability to space the grooves a little further apart (assuming they're only putting a song or two on a side). Because there's generally less music on a 12&quot; single compared to a full length LP (long player) the grooves can be spaced out making them easier to maneuver for those who like to mix &amp; scratch when DJing.</p>
    <p>Weights (180 Gram, 210 Gram, Oh My)<br />
      <br />
      First off, the weight of the record is just that. Most standard 12&quot; records are around 120 to 130 Grams in weight and they go up from there to 180 Gram or recently even 210 Grams. Most 7&quot;s are pressed to be between 30 or 40 Grams. Recently, 48 Gram 7&quot;s have been offered too which I love because it feels like those old Fisher Price records I had when I was a kid. Many audiophiles speak of the superior sound of heavier weight records but like most sound comparisons again it's hard to quantify and is thus debated. Could it be the change in vibration or something...? Maybe, I wish I could tell you. One thing that doesn't seem to be debated is that the heavier weight records have more of a physical presence and feeling of quality and also are less likely to warp.<br />
      <br />
    </p>
    <p><span class="bold"><img src="/images/guides/WillieNelsonEtchedVinyl.jpg" width="173" height="172" class="floatleft" />Etched Vinyl: It Looks Amazing, Just Don't Play It.</span><br />
      Lately we're seeing a lot more etched vinyl in the market. Recent releases from the likes of Portishead, Of Montreal, Arcade Fire &amp; Willie Nelson have been offering an etched vinyl side to their records. Etched vinyl is an unplayable side of a record that contains no music but has an image pressed into it which has sort of a frosted appearance. There are no colors pressed into it, it's a similar look to a frosted window. In the case of Portishead they used an etched vinyl image as the B-side to one of their recent singles. In the case of Willie Nelson, he had too much music for a single LP but not quite enough for a double so he pressed three sides of music but used an etched image on the 4th side.</p>



    <p><span class="bold">In Closing...</span><br />
      There are lots of things to consider before pressing your records. Most of the choices unfortunately have you choosing between sound quality (black vinyl, heavy weight vinyl, analog sources, 45 RPM) or uniqueness/convenience (colored vinyl, CD as a souce for lacquers, 33 1/3 RPMs). You're never going to make everyone happy so go with what makes you happy, then be proud of it and promote it. Make sure you promote your features (color, etchings, downloads), on your website, sales sheet or stickered on the jacket as it can really make a difference to consumers... I know it does to me. Would Cracker Jack bother to put a free toy inside without stating &quot;free toy inside?&quot; ...you wouldn't want someone choking on your download card would you?</p>
    <p>
      <span class="bold">About Me &amp; URP</span><br />
      After doing tours of duty at PolyGram, BMG, SonyBMG and Universal I moved to Nashville in 07 to become the Sales and Marketing Manager for United Record Pressing.</p>
  </div>
  </div>

