<%= render :partial => "guide_js" %>

  <h2 class="h2cufon">THE BASICS OF COPYRIGHT</h2>
   <div class="writtenby">
by Eric B. Goldberg of Kenney &amp; Sams, P.C.</div>
</div>
  <div id="download">
  <div id="downloadbtn"><a href="http://www.tunecore.com/images/artwork/templates/pdfs/survivalguide1_5.pdf"><img src="/images/guides/downloadthis.jpg" width="149" height="34" /></a></div>

  </div>
<div class="bodycontent">



    <div class="bodytext lefty">

  <div class="paragraph">
    <p><span class="bold">What is Copyright?</span><br />
      Copyright is a form of legal protection that grants to artists, authors, musicians, and others certain exclusive rights in their original cre- ations. The following types of works are copyrightable: literary works (all written works expressed in words or numbers, such as articles, novels, poems, web pages, blogs, computer programs, etc.); musical works; dramatic works; choreographic works; pictorial, graphic and sculptural works; motion pictures and other audiovisual works (includ- ing accompanying sounds); sound recordings (recordings of musical, spoken, or other sounds, except sounds accompanying motion pictures or other audiovisual works); architectural works.<br />
      Copyright only protects original forms of written or recorded expres- sion; copyright does not protect ideas, themes, or concepts. For example, different songwriters can write original lyrics about the same idea, such as a family, historical or political event. It is only the songwriter's original way of telling a story through his or her lyrics that is copyrightable. The same is true with respect to music. No one can claim to own the copyright in the sound of a guitar or piano, but musi- cians are always creating new and original ways of expressing those sounds in their music. The instrument represents the idea or theme, while the original combination of notes represents the copyrightable expression.</p>

    <p>Copyright does not protect titles, names, short phrases, or slogans. For example, you cannot copyright the name of your band, or the names of your songs. However, titles and names can be trademarked,<br />
      which is a different form of legal protection. The basics of trademark protection will be covered in a separate article. On the other hand, if you associate your band or music with an original logo or artwork, you may be able to protect the artwork or logo through both copy- right and trademark. Graphic images are copyrightable as original works of art.</p>

    <p><span class="bold">Ownership &amp; Copyright</span><br />
      Copyright is said to belong to the &quot;author&quot; of the work. Typically, the author is the original creator. The author for copyright purposes can be an individual, or two or more &quot;joint authors&quot; who share in the own- ership of the copyright. Thus, two or more songwriters or musicians who collaborate on a work will co-own the copyright in the work. However, under copyright law, if a work is created in the course of one's employment, the author is said to be the employer, and not the employee who actually created the work. These types of works are called &quot;works for hire.&quot;</p>

    <p><span class="bold"><img src="/images/guides/recordplayer.jpg" width="170" height="72" class="floatleft" />The Rights Of Copyright Owners</span><br />
      Copyright owners have the exclusive right to do and to <%= t(:authoriz) %>e others to do any of the following with their work:<br />
      - Make Copies. Only the copyright owner may lawfully copy or reproduce a copyrighted work.<br />
      - Prepare Derivative Works. Derivative works are works in which a preexisting copyrighted work is recast, transformed or adapted. For example, an extended dance remix of a radio single would be a derivative work because the remix would be a new arrangement of the original music. Only the copyright owner can use the original to create derivative works. Any new and original material added to the underlying work would also be protected by its own copyright, but the protection would only extend to what was added.<br />
      - Distribute Copies to the Public. Only the copyright owner can distribute the copyrighted work, whether by sale, rental, lending, or otherwise. If you recorded a CD, only you would be allowed to sell your CD at your concerts. A fan who purchased your CD would not be able to distribute copies to others.<br />
      - Perform Work Publicly. This right applies to literary, musical, dramatic, choreographic works, pantomimes, motion pictures, and audio visual works. There are exceptions for nonprofit, governmental, educational, and home performances.</p>
    <p><br />
      <span class="bold">- Display Work Publicly. </span></p>
    <p>This right applies to literary, musical, dra- matic, choreographic works, pantomimes, and pictorial, graphic, or sculptural works. However, the rightful owner of a copyrighted work may display the single copy in a particular location to viewers present at the place of display.<br />
      - In the case of sound recordings, perform the musical work by means of a digital audio transmission. In other words, only the copyright owner can perform the work through digital streaming over the internet. Sound recordings are defined as works that result from the fixation of sounds onto some form of recording medium. The sound recording is the collection of sounds, which is to be distin- guished from the object on which the sounds are recorded, such as a CD, cassette, or other recording formats. The sound recording is the recorded music you hear when you play a song from a CD, it is not the CD itself.</p>

    <p><span class="bold">Term of Copyright</span><br />
      Over the years, Congress has extended the term of copyright through<br />
      a series of amendments. The term of copyright protection currently lasts for the duration of your lifetime, plus an additional seventy years after your death.</p>

    <p><span class="bold"><img src="/images/guides/i2.jpg" width="200" height="137" class="floatleft" />Copyright Notice</span><br />
      You may have noticed on CDs, DVDs, magazines, web pages, or other types of printed or graphic works, a copyright notice bearing the Â© symbol, together with a name and the year. The name refers to the copyright owner, and the year refers to the year the work was created. At one time, a work had to be published (dis- tributed to the public) with this form of notice before an author could claim copyright protection. That is no longer the case. The bundle of rights available under federal copyright law described above belong to the author or creator of the work as soon as the work is &quot;fixed,&quot; meaning, as soon as it is written or recorded in some form. </p>

    <p>You need not do anything more than write down your lyrics on a napkin, or record your music onto an old-fashioned cassette tape. If you recorded your music onto CD, and you are distributing copies of the CD to your friends or family, or anyone else who might listen, you should place a copyright notice on every CD that you hand out. Anyone who receives your CD should know that you are claiming ownership of the copyright in your work through your copyright notice. Copyright protection is available in the United States for all unpublished works, regardless of where the author, or creator of the work, resides. There are certain limitations if the work is already published, and the author resides outside of the United States.</p>

    <p><span class="bold"><img src="/images/guides/i1.jpg" width="200" height="147" class="floatleft" />Copyright Registration</span><br />
      Although you do not need to do anything formal to claim copyright ownership in your work other than to establish that you created the work, it is still important to obtain federal registration of your copyright with the United States Copyright Office. Historically, the Copyright Office was created to administer the national copyright registration system. Formal registration of your copyright through the Copyright Office, though voluntary, provides copy- right owners with significant additional legal benefits that can be lost if the work is not registered.</p>


    <p><br />
      If someone else copies your CD and starts selling it, or samples your original music and incorporates it into their own without your permission, that is called &quot;infringement.&quot; If you discover that some- one has infringed your copyright, you can demand that they stop. Nonetheless, it sometimes becomes necessary to obtain a court order prohibiting the infringing activity if a written demand is not enough. However, federal copyright law provides that no lawsuit can be filed against an infringer unless your work is first registered with the Copyright Office. In addition, if your work is registered prior to the infringement, and you succeed in a lawsuit, you may recover the cost of hiring an attorney, as well as so-called &quot;statutory damages,&quot; which a court can award without your having to prove any actual loss of money due to the infringement. Statutory damages are specified<br />
      under the copyright statute, and can range between $750 and $30,000 for each infringement, depending upon the circumstances. The amount available can be higher if a court finds that the infringement was willful. If, however, the infringement occurs before you obtain federal copyright registration, then you will no longer be eligible to recover attorneys' fees, and you will no longer be eligible to recover statutory damages. Instead, you will have to prove that you ac- tually lost money as a result of the infringement, and your recovery will be limited to the amount that you can prove. Under copyright law, these are called your &quot;actual damages.&quot; As you can see, your ability to enforce your rights against infringers is strengthened if you register your copyright with the United States Copyright Office.</p>

    <p><span class="bold">Limitations on Copyright</span><br />
      As the saying goes, there is an exception to everything, and copyright is no different. Anyone who legally obtains a copy, such as when you purchase a CD in a music store, has the right to sell or otherwise dispose of that particular copy without permission of the copyright owner. Certain uses of copyrighted material are considered &quot;fair use,&quot; and do not infringe any of the copyright owner's exclusive rights. Such uses include: educational uses, comment or criticism, news reporting, and parody.</p>
    <p>The right to record and perform cover songs is another exception. While any published song can be covered by another artist, it is necessary to obtain a license (permission) and pay a licensing fee to the copyright owner to record and distribute your cover. This is typically done through a licensing company, such as the Harry Fox Agency, which oversees the collection and payment of fees to the copyright owners. As for performing cover songs, it is generally the venue that obtains the license and pays the licensing fees.</p>
    <p>The law of copyright is far more complex than presented in this article, and ever challenged by new developments. When the found- ing fathers drafted the original Copyright statute, no one could have imagined that vinyl records would some day be replaced by MP3s and audio streaming over the internet. The above discussion was not meant to cover the field, but rather, to offer a short introduction to some basic concepts, and hopefully to give you an appreciation for your valuable rights, and how to protect them as you share your work with your fans.</p>
  </div>
  </div>
