<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= render :partial => "guide_js" %>
  <h2 class="h2cufon">THE BASICS YOU SHOULD KNOW ABOUT MUSIC PUBLISHING AND COPYRIGHT: COVER SONGS</h2>
   <div class="writtenby">by Ken Goes, Former Manager &amp; Publishing Administrator for The Pixies
</div>
</div>
  <div id="download">
  <div id="downloadbtn"><a href="/images/artwork/templates/pdfs/survivalguide1.1a.pdf"><img src="/images/guides/downloadthis.jpg" width="149" height="34" /></a></div>

  </div>
<div class="bodycontent">



    <div class="bodytext lefty">

  <div class="paragraph">
    <p>This section is about <a href="/index">music publishing</a>. Music publishing is about the ownership of songs. Music publishing is about the rights of songwriters and song owners. And perhaps most importantly, music publishing is about money.</p>
    <p>
      Music publishing can be complex and confusing. Our aim here is to simplify the most basic concepts of music publishing as they relate to &quot;covers.&quot; Covers are normally songs written by established artists like, for instance, &quot;Yesterday&quot; by The Beatles. But covers don't have to be popular songs. A cover can be a song that has been recorded by an unknown artist. The important thing to remember is that any song which you record that was written and previously recorded by someone else is a &quot;cover.&quot;<br />

    </p>
    <p><span class="bold"><img src="/images/guides/tuning_in.jpg" alt="Music Publishing" width="100" height="78" class="floatleft" />Is It a 'Sound Recording' or a 'Composition'?</span><br />
      The first thing we have to understand is that a song and a recording of a song are two different things. They are two distinct properties. These two prop- erties are called the &quot;sound recording,&quot; (sometimes called the &quot;master&quot;) and the &quot;composition,&quot; (some-<br />
      times called the &quot;work&quot;). Music contracts of all types use these terms to designate one or the other.</p>
    <p>Here we are mainly interested in the &quot;composition.&quot; The common every- day word we use for &quot;composition&quot; is the word song. In the following, whenever you see the word song, you can think composition and when- ever you see the word composition, you can think song. These two words are synonymous and are used here interchangeably.<br />

    </p>
    <p><img src="/images/guides/recordplayer.jpg" alt="Guide to Music Publishing" width="170" height="72" class="floatleft" />Like all property, these two properties, the &quot;sound recording&quot; and the &quot;composition,&quot; come with rights. Just as you have a right to determine who uses your personal property, owners of the &quot;sound recording&quot; and owners of the &quot;composition&quot; (song) have the right to deter- mine who uses their property. Who owns what? Let's see by way of the following examples. Let's say you record the Beatles' song &quot;Yesterday,&quot; probably the most covered song in history. Since you have made the recording, you own the property called the &quot;sound recording,&quot; that is, your particular recording of the song. But the recording is a cover of a song. You did not write the song. You do not own the song. The song is owned by the Beatles, (or more likely a music publishing company, but more on that later). The song or &quot;composition&quot; is also property.<br />

    </p>
    <p>Another example : Let's say three separate bands record the song &quot;Yesterday.&quot;	We still have only two properties : three of one kind : the &quot;sound recordings,&quot; and one of the other kind : the &quot;composition.&quot; To sum up, we have the &quot;composition&quot; and we have the &quot;sound recording&quot; of the &quot;composition.&quot; Two separate properties.

    </p>
    <p><span class="bold">Intellectual Property</span><br />
      These kinds of property are called &quot;intellectual property.&quot; Other kinds of intellectual property are books, movies, paintings and so on. And, as mentioned earlier, these properties come with rights. The particular right you have to your &quot;sound recording&quot; and the particular right the Beatles have to the &quot;composition&quot; is called a COPYRIGHT. A copyright is the right to reproduce or make copies. This right is granted by the United States Copyright Law and similar laws in other countries. If you would like to learn more about the United States Copyright Law, please go to: http://www.copyright.gov/circs/circ1.html#wci</p>
    <p>Only the owner of the song has the right to reproduce or make copies of his or her song. The owner also has the right to grant permission to others to reproduce or make copies of his or her song. So, before you can record and make copies of someone else's song, you need to get permission from the owner. You get that permission by getting a license, just like you get permission to drive by obtaining a driver's license.</p>
    <p>This license is called a mechanical license. By getting this mechanical license from the songwriter or from a music publishing company acting on behalf of the songwriter, you will then have permission to record, reproduce or make copies of the song.<br />

    </p>
    <p><span class="bold">Publishing Companies</span><br />
      A word about <a href="/index">music publishing</a> companies and the ownership of songs - The songwriter is the owner of the song. But most songwriters do not look after the rights to their songs. Issuing licenses for the use of a song, collecting the royalties, accounting, etc. is a lot of work. This kind of work is called administration. In most cases, songwriters have music publish- ing companies do this administration for them. But in many cases, the songwriter sells the song to the music publisher. In this case, of course, the music publisher is the owner of the song and the rights that go with it. But whether the music publishing company owns the song or administers the rights to the song on behalf of the songwriter, the music publishing company will issue the mechanical license.</p>
    <p>To sum up : getting a mechanical license gives you permission to reproduce (copy) the song. Of course, in using TuneCore, the song is being reproduced digitally, but it's the same principle : every time someone downloads the song, a copy is made.<br />

    </p>
    <p><span class="bold"><img src="/images/guides/bag-o-money.jpg" alt="Publishing Your Music" class="floatleft" />Who Gets Paid</span><br />
      For every copy sold, the songwriter or publisher must be paid. The amount required to be paid for the sale of each copy of a &quot;composition&quot; is called the mechanical royalty. The royalty rate is established by the Copyright Royalty Board of the Library Of Congress; a government agency empowered by Congress to determine the royalty rate. The royalty rate set by the Copyright Royalty Board is called the &quot;statutory rate.&quot; Statutory is a fancy legal word meaning required by law. So, the rate set by the Copyright Royalty Board is the statutory mechanical royalty rate.</p>
    <p>The current statutory mechanical royalty rate that must be paid to the song owner or publisher is 9.1 cents ($.091) per copy. When you record a cover song, every time that recording sells, you owe the songwriter or publisher 9.1 cents. All mechanical licenses will specify this rate. Some- times the rate is specified in pennies; otherwise the license will specify the &quot;statutory rate.&quot; In some cases, you can negotiate with the songwriter or publisher for a lower rate, but unless you can demonstrate that you will have enormous sales, the likelihood of getting a lower rate is slim. Finally, the rate does not remain static or permanent. In fact, as I write this in February 2008, the Copyright Royalty Board is considering a change in the statutory rate.<br />

    </p>
    <p><span class="bold">Compulsory Licenses</span><br />
      A word about the &quot;Compulsory License.&quot; You may have heard of some- thing called a &quot;compulsory license.&quot; The U. S. Copyright Law allows you to get a &quot;compulsory license&quot; in lieu of getting a mechanical license directly from the publisher or songwriter. But this method is a lot more work. Us- ing this method entails specific requirements for notifying the song owner and stringent requirements for accounting. And you will still pay the full statutory mechanical royalty rate. It is not recommended that you try this method. The best and easiest way to get a mechanical license is from the songwriter or the publisher directly.<br />

    </p>
    <p><span class="bold"><%= t(:synchroniz).capitalize %>ation Licenses</span><br />
      We hope that's clear, but we're not quite done. Now, let's say you want to make a video of your recording of &quot;Yesterday.&quot; You'll need another license. This license is called a &quot;<%= t(:synchroniz) %>ation license.&quot; This &quot;sync license&quot; gives you the right to <%= t(:synchroniz) %>e the &quot;composition&quot; (song) with visual images. The sync license also contains the same right as a mechanical license; the right to make copies. But the sync license is not a substitute for a mechanical license. The only reproductions or copies you can make with a sync license are copies of your video containing the &quot;composition.&quot; And, depending on how you want to use the video, you may be restricted as to how many copies you can make. For instance, if you want only to have your video broadcast on TV, the internet, cell phones, etc., you may be restricted to making copies for just that purpose. But if you also want to sell your video over iTunes or anywhere else, you must have that right specified in the license. A <%= t(:synchroniz) %>ation license is a lot more fluid and flexible than a mechanical license, so when you get one, be sure you know what you want to do with the video and make sure you ask for those rights to be included in the license.</p>
    <p>You get a sync license the same way you get a mechanical license. You must contact the publisher or songwriter. There is no set royalty rate for a sync license. It is all negotiable between you and the songwriter or publisher. You can negotiate to pay a one time up-front fee or pay a royalty. The royalty rate will be the amount agreed upon between you and the publisher for the sale of each copy. In some cases, you may have to pay both an up-front fee and a royalty, or an advance against future royal- ties and subsequent royalties once the advance is paid off. It all depends on your negotiations with the publisher.</p>
    <p>The mechanical right, the <%= t(:synchroniz) %>ation right; these, along with others,<br />
      like the reprinting of lyrics, are called publishing rights. This is music publishing.<br />

    </p>
    <p><span class="bold">Your Friend, the Harry Fox Agency</span><br />
      A word about The Harry Fox Agency. The Harry Fox Agency is a giant agency that also administers music publishing rights, though they do not issue sync licenses nor do they grant permission to reprint lyrics. Just like music publishers act on behalf of songwriters, The Harry Fox Agency acts on behalf of songwriters and publishers too. In many cases, they will be the source you will go to for a mechanical license.<br />

    </p>
    <p><span class="bold">So Who Owns the Songs?</span><br />
      At this point you are probably asking yourself : How do I find the owner or publisher of a song? Just about every song in existence is registered with either ASCAP, BMI or SESAC. ASCAP, BMI and SESAC all have web sites that you can search to find the owner or publisher of a song. Remember, there are many songs with the same title, so be sure you are identifying the right song. If you know who wrote the song, it will make your search a lot easier. Once you have found the right song title and writer, the information regarding the owner or publisher will be there alongside it. Another good site that will help you track down the administrator of a song is the Harry Fox Agency web site called SongFile. By visiting these web sites and doing a little detective work, you will, in most every case, find out who you must contact in order to get a license. The license will be very specific about who to pay, how often you must pay and, of course, the amount to be paid. Good Luck.</p>
  </div>
  </div>
