<% content_for :css do %>
<link rel="stylesheet" href="master" type="text/css" media="screen, projection" />
<style type="text/css" media="screen">
  #container { min-height: 0; }
  .copyright {
    clear: left;
    margin: 0 auto 53px;
    width: 960px; /* 900px / 960px */
  }
  .ie7 .copyright {
    width: auto;
  }
  .left_col, .mid_col, .right_col {
    background-color: #ddd;
    background-image: none;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd));
    background-image: -moz-linear-gradient(#fff, #ddd);
    background-image: -o-linear-gradient(#fff, #ddd);
    background-image: linear-gradient(#fff, #ddd);
    border: 1px solid #efefef;
    border-radius: 0.5em;
    border-width: 1px 0 0 1px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    float: left;
    min-height: 342px;
  }
  .left_col {
    margin: 0 0 30px;
    width: 21.333333%; /* 192px / 900px */
  }
  .guide {
    margin: 0 0 10px;
    overflow: hidden;
    padding: 5px 5.2083333%; /* 10px / 192px */
  }
  .guide .figure {
    margin: 0.5em 0;
    /*width: 80.729167%;*/ /* 155px / 192px */
    width: 48.4375%; /* 93px / 192px */
  }
  .mid_col {
    margin: 0 0.88888889% 30px; /* 8px / 900px */
    width: 49.777778%; /* 448px / 900px */
  }
  .videos { padding: 5px 2.2321429%; /* 10px / 448px */ }
  .videos h2 { text-align: center; }
  .videos h3 span {
    font-style: normal;
    font-weight: normal;
  }
  .videos a {
    color: #666;
  }
  .videos .vid { padding: 10px 0; }
  .videos .video-nav {
    overflow: hidden;
    padding-bottom: 10px;
  }
  .right_col {
    float: right;
    margin: 0 0 5px;
    min-height: 500px;
    width: 26.666667%; /* 240px / 900px */
  }
  .blog { padding: 5px 4.1666667%; /* 10px / 240px */ }
  .blog h2 a {
    color: #37952E;
    padding-top: 3px;
    clear:left; 
    text-decoration: none;
  }
  .blog h3 { clear: left; font-size: 0.5em;}
  .blog .entry + .entry {
    border-top: 1px solid #777;
    padding-top: 10px;
  }
  .blog .title {
    font-size: 1.15em;
    font-style: normal;
    padding-bottom: 0.5em;
  }
  .blog .rss_icon {
    height: 35px;
    display: block;
    float: left;
    margin-right: 5px; 
    background-image: url('/images/rss.png');
    background-size: cover;
    text-indent: -999em;
    vertical-align: middle;
    width: 35px;
    background-position: 35px 0px; 
  }
  .blog .rss_icon a:hover {
    background-position: 0 0;
  }
  .blog p {
    font-size: 0.84615385em;
    line-height: 1.25;
    margin-bottom: 10px;
  }
  .blog a {
    color: #666;
  }
  .transaction.ad {
    padding: 0 8px 5px;
    margin-left: 20px;
  }
  .nav li { float: left; }
  .secondary-nav { width: 100%; margin-left: 21.333333%; /* 192px / 900px */ margin-bottom: 5em; }
  .secondary-nav .facebook a, .secondary-nav .twitter a {
    padding: 6px 36px;
  }
  .ie9 .secondary-nav .facebook a, .ie9 .secondary-nav .twitter a {
    padding: 6px 30px 7px;
  }
  .secondary-nav .facebook span, .secondary-nav .twitter span {
    display: block;
    height: 26px;
    text-indent: -9999px;
    width: 25px;
  }
  .secondary-nav .facebook span { background: url("../../images/fb.png") no-repeat; }
  .secondary-nav .twitter span { background: url("../../images/twtr.png") no-repeat; }
  .secondary-nav a {
    background-color: #efefef;
    background-image: none;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd));
    background-image: -moz-linear-gradient(#fff, #ddd);
    background-image: -o-linear-gradient(#fff, #ddd);
    background-image: linear-gradient(#fff, #ddd);
    border: 1px solid #efefef;
    border-width: 1px 0 0 1px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    color: #37952E;
    display: inline-block;
    font-weight: bold;
    padding: 10px 35px;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  }
  .secondary-nav li:first-child a { border-radius: 0.5em 0 0 0.5em; }
  .secondary-nav li:last-child a { border-radius: 0 0.5em 0.5em 0; }
  .copyright .button {
    background-color: #efefef;
    background-image: none;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd));
    background-image: -moz-linear-gradient(#fff, #ddd);
    background-image: -o-linear-gradient(#fff, #ddd);
    background-image: linear-gradient(#fff, #ddd);
    color: #777;
    padding: 0 10px;
  }
  .copyright .guide .button { height: 25px; padding: -2px 5px; margin-left: 15px; font-size: 90%; }
  .ie8 .copyright .button {
    padding: 0 8px;
  }
  h2 {
    color: #37952E;
    font-size: 1.5em;
    margin: 0 0 5px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  }
  h2 cite {
    color: #333;
    font-style: normal;
    line-height: 1;
    text-shadow: none;
  }
  h3 {
    color: #666;
    font-size: 1.25em;
    font-style: italic;
    line-height: 1.25;
  }
  h4 {
    color: #777;
    font-size: 1em;
    line-height: 1.5;
  }
  hr { margin-bottom: 10px; }
  ul { margin-bottom: 0; }
  img { max-width: 100%; }
</style>
<% end %>
<% content_for :external_javascript do %>
  <script type="text/javascript">
    jQuery(function($) {
      $(".videonav").click(function(e){
        var link = $(this).attr("href").replace(/watch\?v\=/, "embed\/");
        $(".vid iframe").attr("src", link);
        
        e.preventDefault();
      });
    });
  </script>
<% end %>


<div class="copyright">
  <div class="left_col">
    <div class="guide">
      <!-- Music Industry Survival Guide -->
      <h2>Free Booklets</h2>
      <h2><cite>Music Industry Survival Guides</cite></h2>
      <h3>13 Different Ways To Make Money From Your Songs</h3>
      <div class="figure"><img src="/images/manual_lg.png" alt="" /></div>
      <p><a href="/guides/thirteen_ways_to_make_money" class="button">Download Guide</a></p>
    </div>
    <div class="guide">
      <!-- Music Industry Survival Guide -->
      <h3>The Six Legal Copyrights that Drive the Music Business</h3>
      <p><a href="/guides/sixrights" class="button">Download Guide</a></p>
    </div>
  </div>
  <div class="mid_col">
    <div class="videos">
      <!-- TuneCore Seminar Videos -->
      <h2>Videos</h2>
      <h3><a href="http://www.youtube.com/embed/FMvhjwwzcQg" class="videonav">Copyright 101</a></h3>
      <h4>Presented by TuneCore</h4>
      <div class="vid">
        <iframe width="428" height="241" src="http://www.youtube.com/embed/FMvhjwwzcQg" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="nav video-nav">
      <h2>View more videos</h2>
      <h3>How to Get Your Money<span>&mdash;August 2011, NYC</span></h3>
      <br/>
        <ul>
          <li><a href="http://www.youtube.com/watch?v=rHqcNX11Tgs" class="button videonav">View Part 1</a></li>
          <li><a href="http://www.youtube.com/watch?v=OgZ1I-MbURg" class="button videonav">View Part 2</a></li>
          <li><a href="http://www.youtube.com/watch?v=ZoXtb7zq4mM" class="button videonav">View Part 3</a></li>
          <li><a href="http://www.youtube.com/watch?v=Y04Ybyyzlaw" class="button videonav">View Part 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="right_col">
    <div class="blog">
      <!-- TuneCore Articles -->
      <a href="http://feeds.feedburner.com/Tunecorner" target="_blank" class="rss_icon">#</a> 
      <h2><a href="http://www.tunecore.com/blog/" target="_blank">TuneCore Articles</a></h2>
      <% @rss.items.each_with_index do |item, i| %>
      <% break if i == 3; %>
        <div class="entry">
          <h3 class="title"><a href="<%= item.link %>" target="_blank"><%= item.title %></a></h3>
          <p><%= truncate(item.description, :length => 200) %></p>
        </div>
      <% end %>
    </div>
  <div class="transaction ad">
    <a href="//www.tunecore.com/music-publishing-administration"><img src="/images/ads/tunecore/180x150/publishing_180x150.jpg" alt="Worldwide Publishing Administration"></a>
  </div>
  </div>

  <hr />
  <div class="nav secondary-nav">
    <ul>
      <li><%= link_to "Distribute Music", login_path(ENV.fetch("LOGIN_DDOS_MITIGATION_PARAM", "check").to_sym => 1) %></li>
      <li><a href="http://www.tunecore.com/blog/" target="_blank">TC Blog</a></li>
      <li class="facebook"><a href="http://www.facebook.com/TuneCore" target="_blank"><span>Facebook</span></a></li>
      <li class="twitter"><a href="http://twitter.com/#!/tunecore" target="_blank"><span>Twitter</span></a></li>
    </ul>
  </div>
</div>
