<%= render :partial => "guide_js" %>
  <h2 class="h2cufon">Musician Healthcare</h2>
   <div class="writtenby"></div>
</div>
  <div id="topbar">

  </div>

  <div id="download">
  <div id="downloadbtn"><a href="/images/artwork/templates/pdfs/survivalguide1.7.pdf"><img src="/images/guides/downloadthis.jpg" width="149" height="34" /></a></div></div>

<div class="bodycontent">
  <div id="leftnav">
  <ul>
  <li class="active"><a class="list" href="#1">INTRODUCTION</a></li>
  <li class="notactive"><a class="list" href="#2">why you need health insurance</a></li>
  <li class="notactive"><a class="list" href="#3">GET TO KNOW THE LINGO</a></li>
  <li class="notactive"><a class="list" href="#4">ASSESS YOUR NEEDS</a></li>
  <li class="notactive"><a class="list" href="#5">COMPARE YOUR OPTIONS</a></li>
  <li class="notactive"><a class="list" href="#6">APPLY FOR COVERAGE</a></li>


  </ul>
</div>

  <script language="javascript">

	$("a.list").click(function () {
	  $(this).parent().parent().find('.active').attr("class", "nothing");
	  $(this).parent().attr("class", "active");
	  $('#leftnav ul li.active').corner();
	});


</script>


    <div class="bodytext lefty">

  <div class="paragraph">
	    <a name="1"></a>
    <p class="bold">INTRODUCTION</p>
    <p>When you purchase a health insurance policy on your own - for yourself or your family - you're buying what's known as Individual and Family health insurance. Many people turn to Individual and Family coverage because they have no employer sponsored options, they are self-employed, or their employer-sponsored options are getting too expensive. There are a number of major life events - unemployment, starting a business, early retirement, college graduation - that may require consumers to purchase health insurance on their own. Some buy coverage for themselves only, others for their whole families. How do you know what kind of Individual and Family plan is best for your needs? The purpose of this Health Insurance Survival Guide is to address this and other questions. In the following pages, we'll lead you through a five-step process to help familiarize you with Individual and Family health insurance and help you make an informed purchasing decision.</p>

    <p><a href="#2">STEP 1 Why You Need Health Insurance</a><br />
      <a href="#3">STEP 2 Get To Know the Lingo</a><br />
      <a href="#4">STEP 3 Assess Your Needs</a><br />
      <a href="#5">STEP 4 Compare Your Options</a><br />
      <a href="#6">STEP 5 Apply For Coverage</a></p>
    <p><br />
    <a name="2"></a>
    </p>
    <p class="bold">FREQUENTLY ASKED QUESTIONS</p>
    <p><strong>If I am on the road and need to go to a hospital am I covered at ANY hospital? How about doctors or clinics? How about internationally?</strong><br />

      This is going to depend on what kind of health insurance plan you have. Most health insurance plans cover will life threatening emergencies while traveling but for those who travel a lot, PPO type plans are recommended because they offer out of network coverage in case of an unforeseen illness or injury. Keep in mind that the insurance carrier may pay  your medical claims could be at a lower level when services are rendered outside of your health insurance company's network of providers, which means that you will pay more out- of-pocket. <br />
      </p>
    <p><strong>If my voice is hoarse and I can't sing/ I hurt my hand on my guitar etc, and I go to a doctor, is it covered?</strong><br />
      Medical claims are handled differently by different health insurance plans.  When choosing a health insurance plan, be sure you understand how regular medical visits are covered.  You may be required to make a copayment, for example, or pay for a certain portion of your care until an annual deductible is met.<br />

    </p>
    <p><strong>Can we incorporate and make certain all of our band members have coverage?</strong><br />
      The only way to make certain everyone is accepted and has coverage is to register your band as a business entity and purchase and enroll in a small business group health insurance plan.  To learn more about what is required for you to qualify as a business for health insurance purposes, you should check with your state's Department of Insurance.</p>

    <p><strong>If I lose my medication on the road, how can I get new meds quickly? Can I get more than one month's supply at a time?</strong><br />
      Each health insurance company will have its own policies and procedures when it comes to getting prescription drugs.  Generally, in order to obtain a prescription outside of your home area, the prescribing physician will need to call a local pharmacy and order a new prescription. Some maintenance medications can be prescribed through mail order for 3 months supply. </p>

    <p><span class="bold">Is substance abuse/addiction covered?</span><br />
      It depends on your health insurance plan and state regulations. </p>
    <p>
      <strong>How many people or other band members can be on my policy or do we all need separate plans?</strong><br />
      Unless your band includes your spouse or other legal dependents or is registered with the state as a business, each band member will need to shop and apply for their own health plans.</p>
    <p>
      <strong>If there is an accident that is not my fault that gets me hurt, will I need to pay anything?</strong><br />
      Health insurance plans usually cover accidental injuries but the coverage depends on the type of treatment needed. For example, most plans cover emergency room visits after the plan deductible is met. However, you may be required to pay coinsurance on medical expenses after the deductible is met. </p>
    <p>
      <strong>If I am married to one of my band mates, does that change how we should get health insurance?Â What if I have a child?</strong><br />
      Individual and Family health insurance is a type of health insurance coverage that is made available to individuals and families, rather than to businesses or <%= t(:organiz) %>ations. If you are married to a band mate, you can apply for a family plan. With family health plans, both of you will be covered under the same policy. However, if you have different coverage needs than your spouse, you may each also apply for your own individual health insurance plan.<br />
    </p>
    <p><strong>I have a pre-existing condition, but have never had health insurance, can I still get it?</strong><br />
      In most states you can be declined for Individual and Family coverage due to a pre-existing medical condition. However, you may still have options as some health insurance companies may accept pre-existing conditions that others will not. Talk to a licensed agent at eHealthInsurance for help. If they can't find an insurer likely to accept you, they can help direct you to government-sponsored solutions in your state.  Keep in mind that if your band is incorporated as a small business, you cannot be denied for a pre-existing condition, but the band's premiums may be expensive.</p>

    <p><span class="bold">If I am on the road, and there is an emergency, will health insurance help cover the costs to fly me home or bring my parents to me?</span><br />
      Health insurance plans typically do not pay for transportation other than ambulance services for members only.<br />

    </p>
    <p><strong>Is it cheaper to get health insurance if I do not smoke? How do they know if I do or don't?</strong><br />
      Some insurance health insurance companies charge a higher rate for smokers. Health insurance companies are likely to discover any personal history of smoking through the process of underwriting.
      <strong>
      </strong></p>
    <p><strong>What if I have a same sex partner - can they get coverage via me?</strong><br />
      It depends on the health insurance company in question and on state regulations.  Your partner may apply on his/her own for an individual plan.</p>
    <p>
      <strong>What if I cannot make a payment one month but I am getting money in the near future, does the plan get cancelled? If it does, can I get one again?</strong><br />
      Most health insurance companies have a 2-4 weeks grace period before they will cancel a policy. Policies cancelled for nonpayment may or may not be reinstated. If your policy is cancelled, you can apply to a different health insurance company.</p>

    <p><span class="bold">What if the band breaks up? Does this affect my coverage?</span><br />
      Unless your band is registered as a business and you were all covered under a group health insurance plan, your band breaking up would not affect your coverage. As long as you don't move to another state, which would require you to apply for a new health plan, you can keep your Individual or Family health insurance plan.</p>
    <p><strong>
      How about if one of the band members quits, and we got a plan as a band?</strong><br />
      If your band is registered as a business and you have group coverage, anyone leaving the band will lose their coverage.  Others persons covered under the plan will typically be able to keep their coverage.</p>
    <p><strong>
      What's the minimum number of people that need to be in my band in order to allow the band to get a group policy?</strong></p>
    <p>Usually 2-3 people can get a group plan as long as they meet the requirements of a small business or other group. Check with a licensed agent or with your state Department of Insurance for rules and regulations.<br />

    </p>
    <p><strong>What are the advantages of getting a plan via a band vs. as an individual?</strong><br />
      The main advantage of applying for a group plan is that no one can be declined due to pre-existing conditions.<br />

    </p>
    <p><strong>If I'm on a label, am I already eligible for health insurance benefits via the label?</strong><br />
      Ask the label's benefits department or benefit coordinator for details. Some labels may not offer health insurance benefits.</p>

    <p><span class="bold">Is TuneCore my label and can I get health insurance via them?</span><br />
      Visit TuneCore's eHealthInsurance site at:<br />
      https://www.ehealthinsurance.com/ehi/Alliance?allid=Tun29013<br />
      TuneCore is partnered with eHealthInsurance, the leading online source of health insurance for individuals, families and small businesses. eHealthInsurance is licensed in all 50 states and the District of Columbia. If you live in the United States, chances are they can help you find the right health insurance plan.</p>
    <p><strong>
      Why should I pay for health insurance if I can't afford it as an artist?</strong><br />
      Health insurance protects your finances and entitles you to discounted rates for medical services, since insurance companies negotiate rates with health care providers. Without coverage, the fee charged for a regular office visit, for example, can be twice as high. Health insurance also protects your health since it improves your access to quality care. As a member of a health insurance plan, you have access to a broad network of health care providers.</p>
<p>
  <strong>If I'm in a car accident while on tour or driving to a gig, how am I covered?</strong><br />
      All health insurance plans have some level of hospital service coverage. When you are shopping for health insurance plans, check the details on what each plan covers. Another important point to consider is how high the plans deductible is because you will likely have to pay it before health insurance benefits begin.  In the case of a car accident, it is possible that the automobile insurance company will end up paying some of the medical charges, but this is usually determined after the fact and is negotiated between the automobile and health insurance companies.</p>
<p>
  <strong>Am I covered at all for minor injuries?</strong><br />
      This is going to depend on your health insurance plan, but other than self inflicted injuries, most injuries are covered at some level, depending on your copayment or deductible requirements.</p>

    <p><span class="bold">Am I covered for any sort of joint problems or pain resulting from years of playing or performing?</span><br />
      This is going to depend on your health insurance plan, but most plans cover treatment of joint problems or pain unless it is specifically excluded.  Depending on the stipulations of your health insurance plan, your level of coverage may vary and you may have to pay a copayment or deductible before your coverage kicks in.</p>

    <p><span class="bold">What if I get an STD on the road? Am I covered? Does it stay confidential?</span><br />
      Your coverage will depend on what type of plan you have. Most PPOs cover you out of network in case of illness or injury. The Federal HIPAA law protects the privacy of your medical information.</p>
    <p>
    </p>
    <p class="bold">STEP 1: Why You Need Health Insurance</p>
    <p><span class="bold">Isn't it too expensive to buy my own coverage?</span><br />
      Not necessarily. In fact, Individual and Family health insurance can be surprisingly affordable. Monthly premiums for individual coverage purchased through eHealthInsurance averaged $158 per month in 2007 - and in many states Individual coverage options are available for less than $50 per month.</p>

    <p>The first step to making a smart health insurance decision is to understand the value of health insurance and why you need it. It may sound obvious, but many people don't properly understand the basic purpose of health insurance or how it works. In brief, health insurance helps protect you in the following ways:</p>

    <p><span class="bold">Health insurance protects your finances</span><br />
      It entitles you to discounted rates - Insurance companies negotiate rates with health care providers. Without coverage, the fee charged for a regular<br />
      office visit can be twice as high.</p>

    <p>It shields you from unexpected medical costs - Even if your health plan requires you to pay certain costs out of pocket, being covered can help save you from bankruptcy in case of injury or hospitalization.<br />
      Health insurance protects your health</p>
    <p>It improves your access to quality care - As a member of a health insurance plan, you have access to a broad network of health care providers.</p>

    <p>It provides you critical care - While uninsured patients will often get emergency-room care and be billed afterwards, they may not get important treatment for a life-threatening chronic condition without an upfront payment.</p>
    <p>It encourages a healthier lifestyle - You may be more likely to take advantage of regular checkups and preventive care if you know it won't cost you an arm and a leg.</p>
    <a name="3"></a>
    <p><span class="bold">STEP 2: GET TO KNOW THE LINGO</span><br />
      When shopping for a new plan, one of the main challenges people face is understanding health insurance terminology. To shop smart, you should understand the basic differences between the top four types of Individual and Family plans, and the basic definitions of five key terms.</p>

    <p><span class="bold">Top four health plan types</span><br />
      <span class="bold">1. PPO</span><br />
      PPO or &quot;Preferred Provider <%= t(:organiz).capitalize %>ation&quot; plans are the most popular in the Individual and Family market. Like the name implies, with a PPO you'll need to get your medical care from doctors or hospitals on the insurance company's list of preferred providers if you want your claims paid at the highest level. It's up to you to make sure that the health care providers you visit participate in the PPO. Services rendered by out-of-network providers may not be covered or may be paid at a lower level.<br />
      </p>

    <p><strong>A PPO plan may be right for you if:</strong><br />
      - Your <%= t(:favorite) %> doctor already participates in the PPO: you can sort for plans accepted by your doctor after getting quotes at eHealthInsurance<br />
      - You want some freedom to direct your own health care but don't mind working within a list of preferred providers<br />
      </p>

    <p><span class="bold">2. HMO</span><br />
      HMO means &quot;Health Maintenance <%= t(:organiz).capitalize %>ation.&quot; HMO plans offer a wide range of health care services through a network of providers that contract<br />
      exclusively with the HMO, or who agree to provide services to members. As a member of an HMO, you will need to choose a primary care physician<br />
      (&quot;PCP&quot;) who will provide most of your health care and refer you to HMO specialists as needed. Health care services obtained outside of the HMO are typically not covered, though there may be exceptions in case of an emergency.</p>
    <p>
      <strong>An HMO plan may be right for you if:</strong><br />
      - You're willing to play by the rules and coordinate your care through a primary care physician<br />
      - You value preventive care services: coverage for checkups, immunizations and similar services are often emphasized by HMOs</p>
    <p>
      <span class="bold">3. HSA-eligible Plans</span><br />
      These are usually PPO plans with higher deductibles, designed specially for use with Health Savings Accounts (&quot;HSAs&quot;). Similar to a 401(k), an HSA is a special bank account that allows you to save money - pre-tax - to be used specifically for medical expenses in the future. Unlike a flexible spending account, the money in your HSA rolls over every year and can also gain interest. By pairing a qualifying high-deductible health plan with an HSA, you can save money on health care and reduce your tax liability.You'll find more information about HSAs online at:<br />
      eHealthInsurance.com/hsa.</p>
    <p>
      <strong>An HSA-eligible plan may be right for you if:</strong><br />
      - You would like to pay for health care expenses with pre-tax dollars<br />
      - You're relatively young and healthy and don't often visit the doctor<br />
      - You prefer a cheaper monthly premium even if it means having a higher deductible in case of unexpected injury or illness</p>
    <p>
      <span class="bold">4. Indemnity</span><br />
      Indemnity plans allow you to direct your own health care and visit most any doctor or hospital you like. The insurance company then pays a set portion of your total charges. You may be required to pay for some services up front and then apply to the insurance company for reimbursement. Because of the freedom they allow members, Indemnity plans are sometimes more expensive than other types of plans.<br />
      An Indemnity plan may be right for you if:<br />
      - You want the greatest level of freedom possible in choosing which doctors or hospitals to visit<br />
      - You don't mind coordinating the billing and reimbursement of your claims yourself</p>

    <p><span class="bold">I've heard about Health Savings Accounts, what are they for?</span><br />
      Health Savings Accounts (HSAs) are special bank accounts designed for use with insurance plans with higher deductibles. By matching a high deductible health plan with an HSA, you can save money on health care and lower your income tax liability. You'll find more information about HSAs online at eHealthInsurance.com.</p>

    <p><span class="bold">Five Health Insurance Terms You Must Know</span><br />
      1. Premium: Your premium is the amount you pay to the health insurance company each month to maintain your coverage. When trying to understand the cost of a health insurance plan, the premium is the first thing to consider. But make sure to balance it against other costs, such as copayments, deductibles and coinsurance. A good rule: choose a lower premium/higher deductible if you want to save money now, and a higher premium/lower deductible if you want to be more financially prepared for unexpected medical expenses later.</p>

    <p>2. Copayment: Your copayment, or &quot;copay,&quot; is the specific dollar amount you may be required to pay up front for a specific type of service. For example, your health insurance plan may require a $15 co-payment for an office visit or brand-name prescription drug, after which the insurance company pays the remainder of the charges. A good rule: if you make frequent doctor's office visits, make sure you choose an affordable and consistent copayment.</p>
    <p>
      3. Deductible: Your annual deductible is the amount you may be required to pay out-of-pocket before the insurance company will begin paying for your medical claims. Keep in mind, your monthly premiums and copayments will often not count toward your deductible. Not all plans require a deductible, but choosing a plan with a higher deductible can keep your monthly premiums lower. A good rule: keep your deductible to no more than 5% of your gross annual income.</p>

    <p>4. Coinsurance: Coinsurance is the amount that you are obliged to pay for covered medical services after you've satisfied any co-payment or deductible required by your health insurance plan. Think about it this way: the insurance company may limit coverage for certain services to, say, 80% of charges. So, for example, if your insurance benefits cover 80% of x-ray charges, you will need to pay the remaining 20%, even if your annual deductible is already met. That 20% is considered coinsurance.</p>

<p>5. Maximum Out-of-pocket Costs: Pay attention to this amount when considering a new health plan. Your maximum out-of-pocket cost sets a limit to your annual financial liability. Once you have paid out of pocket (typically through deductibles, copayments or coinsurance) to the &quot;maximum&quot; amount, the insurance company pays the full charges for any additional covered medical services rendered that year. Your monthly premium will not count toward your maximum out-of-pocket costs.</p>
    <p>What does &quot;Lifetime Maximum&quot; mean?<br />
      You might find this term in the fine print for a health insurance plan you're considering. The &quot;Lifetime Maximum&quot; is a cap on how much the insurance company will pay for your claims over the life of your policy. Make sure your plan has a lifetime maximum of at least 2 million dollars.</p>

    <a name="4"></a>
    <p><span class="bold">STEP 3: ASSESS YOUR NEEDS</span><br />
      Selecting the best health insurance plan for your needs means making an informed choice and knowing your personal priorities. Is budget most important? Which benefits do you really need? Consider the following questions.</p>

    <p>Five key questions to help you assess your needs:<br />
      1. Do you maintain a savings or do you live paycheck to paycheck?<br />
      Why it matters: If you don't maintain a cushion of funds in the bank, you're going to want a health plan with a low deductible, or none at all. If you do keep a savings account and can afford a higher deductible if necessary, you may be able to find a plan with lower monthly premiums.</p>

    <p>2. How often did you visit the doctor last year?<br />
      Why it matters: If you visit the doctor regularly, it may make sense to pay a higher monthly premium in order to keep your office-visit copayment and deductible low. If you rarely visit the doctor, maybe you don't need robust coverage for preventive care.</p>

    <p>3. How much did you spend on health care last year?<br />
      Why it matters: If you spend a lot on health care, it's important to know what you spend it on and if you expect to spend at the same pace. If these are recurring costs (for prescription drugs, for example), make sure that the plan you select covers these services. If you don't spend much on health care, then you could save money with a plan that provides less generous coverage for office visits or prescription drugs.</p>

    <p>4. Do you have any pre-existing medical conditions?<br />
      Why it matters: Some pre-existing medical conditions (like heart disease, cancer, or diabetes) can make it difficult to get approved for Individual and Family coverage. If you're concerned, a licensed eHealthInsurance agent can help direct you to insurance companies more likely to approve your application. Call 1-800-977-8860 to talk to an agent.</p>

    <p>5. Are any specific benefits necessary or irrelevant?<br />
      Why it matters: If you're a regular user of prescription medication, make sure you find a plan that covers prescriptions at a copayment level you can afford. If it's possible you or your spouse could become pregnant, pay close attention to maternity benefits too. If you don't need prescription drugs or maternity benefits, you could save money.</p>

    <p><span class="bold">What if I have a pre-existing medical condition?</span><br />
      In most states you can be declined for Individual and Family coverage due to a pre-existing medical condition. However, you may still have options. Talk to a licensed agent at eHealthInsurance for help. If we can't find an insurer likely to accept you, we can help direct you to government-sponsored solutions in your state.</p>
    <p>How Does Individual and Family Coverage Compare with<br />
      </p>

    <p><span class="bold">Employer Sponsored Coverage?</span><br />
      It differs in several key ways:<br />
      Pricing: Pricing is based on an individual or family's specific needs and medical history and can vary from state to state.</p>
    <p>
      Choice: An employer may offer one or two options, but there may be dozens of Individual and Family choices with a range of rates and benefits to match your needs and budget.<br />
      </p>

    <p>Portability: Individual and Family health insurance is not tied to your job, so it can stay with you as long as you like. However, if you move to another state, you will likely need to get a new plan.<br />
      Eligibility: Be aware that in most states it is possible to be denied coverage for an Individual and Family plan based on your medical history.</p>

    <p><span class="bold">Unemployed and Uninsured?</span><br />
      If you were recently laid off or voluntarily left an employer, you may have more than one choice when it comes to finding health insurance. By understanding your needs and situation you have a better chance of finding the coverage that works best. Here are a few options:<br />
      - Your spouse's plan - Learn how much, if any, your spouse's share of the premium would increase if you join the plan.</p>
    <p>
      <span class="bold">- COBRA coverage - </span></p>
    <p>COBRA allows you to temporarily extend coverage under your employer-sponsored health plan at your own cost. It's a good choice if you have a pre-existing medical condition, since you can't be declined based on your medical history. However, many people find COBRA prohibitively expensive.<br />
      - Individual and Family plans - Before you decline COBRA, take a look at the Individual and Family options in your area. You could even apply for an Individual and Family plan and use COBRA as a back-up just in case.<br />
      - Public options - Every state offers public <%= t(:program) %>s and plans for individuals or families struggling financially or unable to get approved for coverage<br />
      elsewhere.</p>

    <p>To find more information about COBRA and a calculator to help you understand the difference in cost between COBRA coverage and Individual and Family plans, visit our COBRA Learning Center online at<br />
      <a href="http://www.cobralearning.com">www.cobralearning.com</a></p>
    <p>
    </p>
    <a name="5"></a>
<p class="bold">STEP 4: COMPARE YOUR OPTIONS</p>
    <p>Get Quotes<br />
      Now you're ready to review your personal health insurance quotes. If you want to save money and make the most of your health insurance dollars you'll need the broadest possible view of all your Individual<br />
      and Family health insurance options. By working with a licensed agent like eHealthInsurance you can save time and get a selection of quotes from top<br />
      insurance companies in your area.</p>
    <p>eHealthInsurance makes it easy to find the right health insurance plan for your needs and budget. Unlike many other online services, eHealthInsurance<br />
      won't require you to provide any sensitive personal information before getting your quotes. Just go to eHealthInsurance.com, enter your ZIP code, gender and age and get:<br />
      - Instant <%= t(:personaliz) %>ed quotes from a broad selection of top carriers<br />
      - Side by side comparisons of plan rates and benefits<br />
      - Special online tools that generate personal recommendations based on your needs or identify plans accepted by your <%= t(:favorite) %> doctor<br />
      - Customer reviews and industry ratings to help guide your decision<br />
      - Personal unbiased help from licensed agents by phone, email, or online chat</p>
    <p>Are there any particular pitfalls to avoid?<br />
      Yes.<br />
      - Be cautious if you have a pre-existing medical condition or were recently laid off - talk with an agent for personal advice.<br />
      - If you think you may need maternity coverage or prescription drug benefits, make sure you select a plan that provides it - not all Individual and Family plans do.<br />
      - And lastly, know what you are buying. So called &quot;limited benefit&quot; plans don't provide substantial protection.</p>

    <p><span class="bold">Five key criteria to help guide your decision</span><br />
      You may need some help narrowing down your choices. Consider the following five criteria to help you focus on the plans that best match your needs:</p>

    <p>1. Health benefits: Which plans provide the must have benefits you've identified? Buy only what is important to you to keep your costs low. Avoid expensive benefits (like maternity or prescription drugs) if you don't need them.<br />
      2. Costs: Which plans fall within your budget when it comes to premium, deductible, copayments and coinsurance? Consider a high-deductible plan if your primary requirement is a low monthly premium. Also, consider splitting up the family on different plans - it sometimes makes more sense.<br />
      3. Physician network: Do you have a <%= t(:favorite) %> doctor you want to keep? Which plans does he or she accept? On eHealthInsurance.com, you can use our physician finder tool to find plans that are accepted by your doctor.<br />
      4. Brand: Are there brand-name carriers that you prefer? Are there any you want to avoid?<br />
      5. Consumer and industry reviews: eHealthInsurance offers customer reviews for many of the plans we sell, and we present the AM Best ratings for carriers. These ratings reflect AM Best's analysis of a company's credit rating and ability to pay claims.</p>

    <p><span class="bold">Can I save money if I buy direct from the insurance company?</span><br />
      No. Due to government regulations, you will pay the same monthly premium for the same plan whether you buy it from a licensed agent or direct from the insurer. So for no additional cost, shopping through a site like eHealthInsurance.com can give you a broader range of choices and more objective, unbiased help to find the right plan.</p>

    <p><span class="bold">Should I consider a Short-term plan?</span><br />
      Possibly. Short-term health insurance provides emergency protection for a limited period of time. If you are relatively healthy and know you will have employer-sponsored coverage again within six months, a Short-term plan may work for you. Just keep in mind that it won't cover existing medical conditions, prescription drugs, or many office visits.<br />
    </p>

    <a name="6"></a>
    <p><span class="bold">STEP 5: APPLY FOR COVERAGE</span><br />
      Once you've submitted your application it may take anywhere from a few days to a few weeks before the insurance company makes a decision. If you<br />
      submit your application through eHealthInsurance, we will inform you of the insurance company's decision as soon as possible. You may receive any one of the following responses:</p>

    <p>&quot;You're approved!&quot;<br />
      Most of the people who apply for Individual and Family health insurance through eHealthInsurance are approved. Once approved, your health insurance coverage will begin on the &quot;effective date&quot; confirmed by the insurance company.</p>
    <p>
      &quot;You're approved, with conditions.&quot;<br />
      The insurance company may offer you coverage but limit benefits for specific conditions based on your medical history.</p>
    <p>
      <span class="bold">&quot;More information is required.&quot;</span><br />
      In some cases, the health insurance company will ask for more information regarding your application, and may request medical records from your doctor before coming to a final decision.</p>
    <p>If your application is denied, please talk with one of our licensed agents by phone. There may be reason to appeal the decision or try again with a different insurance company. If not, we can help put you in touch with government sponsored options available in your state.</p>
    <p>Why should I submit my application through eHealthInsurance?<br />
      Good question. eHealthInsurance is the nation's #1 online source for Individual and Family health insurance. We represent over 180 brand-name health insurance companies across the country, and we've helped nearly two million Americans find the coverage they need. When you shop through eHealthInsurance, you'll not only get the benefit of our national scope and local expertise, you'll also enjoy:<br />
      - A broader view of your options - and knowing what's really available can help you save money<br />
      - A speedier submission and review process, thanks to our industry-leading technology<br />
      - An advocate with the insurance company to help you resolve billing or claim disputes in the future<br />
      - All our services and assistance provided at NO EXTRA COST to you</p>

    <p><span class="bold">Should I submit more than one application at a time?</span><br />
      Possibly - talk to a licensed eHealthInsurance agent for personal advice. <br />
      QUESTIONS, CONCERNS, CONFUSED, OR JUST NEED MORE INFORMATION?</p>
    <p>Call the toll free eHealth/TuneCore number 24 hours a day,<br />
      7 days a week at: 866-731-0127 </p>

    <p>Or visit on-line at:<br />
      https://www.ehealthinsurance.com/ehi/Alliance?allid=Tun29013</p>
    <p>Want to look for a policy?<br />
      http://www.ehealthinsurance.com/ehi/Alliance?allid=Tun29013&amp;type=IFP</p>
    <p>If you are unemployed and looking for health insurance options, there are<br />
      helpful resources available through eHealthInsurance's COBRA Learning<br />
      Center at COBRALearning.com, they include:<br />
      - eHealthInsurance's simple list of 6 health insurance options for the<br />
      uninsured<br />
      - eHealthInsurance's video series on 6 health insurance options for the uninsured<br />
      - An updated list of Frequently Asked Questions about COBRA and the subsidy<br />
      - COBRA Eligibility Guidelines<br />
      - A COBRA Subsidy Calculator<br />
      - New research on Unemployment and Health Insurance</p>

    <p>If you are unable to qualify for or afford individual health insurance, there<br />
      may be public <%= t(:program) %>s available. For information about public <%= t(:program) %>s<br />
      please contact:<br />
      - The Foundation for Health Coverage Education (FHCE) at 800-234-1317<br />
      - Or go to their web site is www.coverageforall.org<br />
      - Or check your local state insurance commission's website<br />
    </p>
    <p>&copy; eHealthInsurance, all rights reserved.</p>
  </div>
  </div>
