<%= render :partial  =>  "guide_js" %>
  <h2 class="h2cufon"><%=custom_t(".choose_guide")%></h2>
  <div class="content">
    <section class="main menu grid_16">
      <section class="guide">
        <%= link_to '<img src="/images/guides/survivalguide2_1-1.png" width="140" height="181" /> <span>13 Different Ways To Make Money From Your Songs</span>'.html_safe, :controller => "guides", :action => "thirteen_ways_to_make_money" %>
      </section>

      <section class="guide">
        <%= link_to '<img src="/images/guides/survivalguide1_8-1.png" width="140" height="181" /> <span>How Not To Get Screwed</span>'.html_safe, :controller => "guides", :action => "sixrights" %>
      </section>

      <section class="guide">
        <%= link_to '<img src="/images/guides/man1.jpg" /> <span>How To Market, Promote and Make Money from Your Music While Keeping Your Rights</span>'.html_safe, :controller => "guides", :action => "promote_introduction" %>
      </section>

      <section class="guide">
        <%= link_to '<img src="/images/guides/survivalguide1.1.jpg" width="140" height="181" /> <span>Music Publishing and Copyright: Cover Songs</span>'.html_safe, :controller => "guides", :action => "basics_to_know" %></a>
      </section>

      <section class="guide">
        <%= link_to '<img src="/images/guides/survivalguide1_2-1.jpg" width="140" height="181" /> <span>Mastering</span>'.html_safe, :controller => "guides", :action => "basics_of_mastering" %>
      </section>

      <section class="guide">
        <%= link_to '<img src="/images/guides/survivalguide1_3-1.jpg" width="140" height="181" /> <span>Vinyl 101</span>'.html_safe, :controller => "guides", :action => "basics_of_vinyl" %>
      </section>

      <section class="guide">
        <%= link_to '<img src="/images/guides/survivalguide1_5-1.jpg" width="140" height="181" /> <span>Copyright</span>'.html_safe, :controller => "guides", :action => "basics_of_copyright" %>
      </section>

      <section class="guide">
        <%= link_to '<img src="/images/guides/survivalguide-v6email-1.jpg" width="140" height="181" /> <span>Sell More Music Online</span>'.html_safe, :controller => "guides", :action => "sellmusiconline" %>
      </section>

      <section class="guide">
        <%= link_to '<img src="/images/guides/healthcare.jpg" width="140" height="181" /> <span>Healthcare</span>'.html_safe, :controller => "guides", :action => "healthcare" %>
      </section>
    </section>
  </div>
