<%= render :partial => "guide_js" %>
  <h2 class="h2cufon">HOW TO MARKET PROMOTE AND MAKE MONEY FROM YOUR MUSIC WHILE KEEPING YOUR RIGHTS</h2>

  <div id="download">
  <div id="downloadbtn"><a href="/images/artwork/templates/pdfs/tunecore_manual_dl.pdf"><img src="/images/guides/downloadthis.jpg" width="149" height="34" /></a></div></div>
  <div class="bodycontent">
	  <div id="leftnav">
	  <ul>
	  <li><%= link_to_unless_current "Introduction", :controller=>"guides", :action=>"promote_introduction" %></li>
	  <li><%= link_to_unless_current "Marketing and Promotion", :controller=>"guides", :action=>"promote_marketing" %></li>
	   <li class="subnav"><%= link_to_unless_current "Getting Found &amp; Affiliate #{t(:progam).capitalize}s", :controller=>"guides", :action=>"promote_gettingstarted" %></li>
	   <li class="subnav"><%= link_to_unless_current "iTunes Promotion", :controller=>"guides", :action=>"promote_itunes" %></li>
	   <li class="subnav"><%= link_to_unless_current "Street Marketing", :controller=>"guides", :action=>"promote_streetmarketing" %></li>
	   <li class="subnav active"><%= link_to_unless_current "Indie and College Radio Promotion", :controller=>"guides", :action=>"promote_indieradio" %></li>
	   <li class="subnav"><%= link_to_unless_current "Press and Media Promotion", :controller=>"guides", :action=>"promote_pressmedia" %></li>
	   <li class="subnav"><%= link_to_unless_current "Blog Promotion", :controller=>"guides", :action=>"promote_blogpromotion" %></li>
	  <li class=""><%= link_to_unless_current "Merchandising", :controller=>"guides", :action=>"promote_merchandising" %></li>
	  <li><%= link_to_unless_current "Resource Guide", :controller=>"guides", :action=>"promote_resources" %></li>
	  </ul>
	  </div>

  <div class="bodytext">
  <h3>Indie and College Radio Promotion</h3>


  <div class="writtenby">BY George Howard</div>
  <div class="paragraph">
    <p>For an emerging band, especially if you fall into the indie rock vein, hiring somebody to service your records to what they call the CMJ panel, the College Music Panel (500 or so stations around the country that are affiliated with colleges that play a similar type of music), can be the best money you have ever spent. Indie promoters have relationships with these CMJ stations, and will make sure your music is paid attention to. For example, say you start getting airplay in Nebraska at the college station, and they just start banging it for some reason.  Well, now all of a sudden, you've got another stop on your tour market where you can go play and do a live show on the college station.</p>
    <p>College Radio is one of the few low levels of entry that hasn't been completely co-opted by the majors.The college stations, the non-profit stations, which can really, really sell you records, can still be accessed without being signed to a major (or any label).</p>
    <p><span class="bold">by Steve Theo</span><br />
      Knowing how to get onto college radio is important.  You need to service the right stations at the right time.  And you need to know who to send to at each station and when to follow up with them.</p>
    <p>If you hire an independent promoter to work your record they will do most of the targeting for you.  They all keep databases full of contact names, times to call, snail and email addresses, historical data on what they have played, etc</p>
    <p>The &quot;add date&quot; or start date at radio is the week that you pick to start your campaign.  This can be months before, months after, or right on the release date.  The most important thing is to avoid the busiest weeks of the year when all the major labels have multiple adds (eg. Sep, Oct, Mar, Apr).</p>
    <p>Your CD should be mailed 10-12 days before the add date.  Anything earlier will result in early adds and anything later will mean they will get it too late to review it and add it on time.  The package should contain the CD and  one sheet of paper or sticker on the CD with info about you.  A full press kit is not needed for radio.</p>
    <p><img src="/images/guides/tuning_in.jpg" alt="Get Music on Radio" width="100" height="78" class="floatleft" />There are many fine promoters who will work your record to these stations for a fee.  A normal project can cost anywhere from $1000-$4000 depending on the amount of work, you are normally charged a weekly rate.  These promoters will help you pick the right add date, right stations, and they know when and whom to contact at each station .</p>
    <p>While over the years industry types have argued over college radio being a good format or not I will always feel that even though your song may not be heard by millions you are still sending your record to hundreds of &quot;tastemakers&quot; across the country.  If they love your band chances are they will help you in their market whether it be on the air, at a venue, with their peers, etc.<br />
    </p>
  </div>
  </div>
