<%= render :partial => "guide_js" %>
  <h2 class="h2cufon">HOW TO MARKET PROMOTE AND MAKE MONEY FROM YOUR MUSIC WHILE KEEPING YOUR RIGHTS</h2>

  <div id="download">
  <div id="downloadbtn"><a href="/images/artwork/templates/pdfs/tunecore_manual_dl.pdf"><img src="/images/guides/downloadthis.jpg" width="149" height="34" /></a></div></div>
  <div class="bodycontent">
	  <div id="leftnav">
	  <ul>
	  <li><%= link_to_unless_current "Introduction", :controller=>"guides", :action=>"promote_introduction" %></li>
	  <li><%= link_to_unless_current "Marketing and Promotion", :controller=>"guides", :action=>"promote_marketing" %></li>
	   <li class="subnav"><%= link_to_unless_current "Getting Found &amp; Affiliate #{t(:program).capitalize}s", :controller=>"guides", :action=>"promote_gettingstarted" %></li>
	   <li class="subnav"><%= link_to_unless_current "iTunes Promotion", :controller=>"guides", :action=>"promote_itunes" %></li>
	   <li class="subnav"><%= link_to_unless_current "Street Marketing", :controller=>"guides", :action=>"promote_streetmarketing" %></li>
	   <li class="subnav"><%= link_to_unless_current "Indie and College Radio Promotion", :controller=>"guides", :action=>"promote_indieradio" %></li>
	   <li class="subnav"><%= link_to_unless_current "Press and Media Promotion", :controller=>"guides", :action=>"promote_pressmedia" %></li>
	   <li class="subnav active"><%= link_to_unless_current "Blog Promotion", :controller=>"guides", :action=>"promote_blogpromotion" %></li>
	  <li class=""><%= link_to_unless_current "Merchandising", :controller=>"guides", :action=>"promote_merchandising" %></li>
	  <li><%= link_to_unless_current "Resource Guide", :controller=>"guides", :action=>"promote_resources" %></li>
	  </ul>
	  </div>

  <div class="bodytext">
  <h3>Blog Promotion</h3>


  <div class="writtenby">by Gorilla vs Bear<br />
  </div>
  <div class="paragraph">
    <img src="/images/guides/i6.jpg" alt="Promote Music on Blogs" width="200" height="202" class="floatleft" /><p>MP3 Blogs can cause significant music and gig ticket sales  There are currently tens of thousands of MP3 Blogs with more springing up each day. If the MP3 blog community embraces your band, you could potentially have thousands of them talking about you and providing MP3s of your songs to hundreds of thousands of music fans. What better way to get the word out than by a real grass roots campaign of music fans talking about you because they love what you do. With the Internet, they have a vehicle to communicate with the world.</p>
<p>The best way to reach blogs is to go to their websites and follow their submission policies. In many cases, contacting a blog is as simple as sending an email.  Below is a perspective on MP3 blogs from a well respected MP3 blog called Gorilla Vs. Bear.</p>
    <p> Over the past few years, music blogs have become an invaluable medium for new bands to garner positive, and occasionally, even life-changing exposure. By establishing personal relationships with blogs that are most relevant to their particular sound/genre, new artists have the opportunity to reach vast, unexpected audiences.</p>
    <p>Producing unique and high-quality content is the foremost concern for any artist set on approaching influential bloggers--i.e.,  bloggers with a built in, growing audience. In developing ideas, artists should take advantage of all available media resources -- YouTube, Myspace, message boards, etc. -- to develop quality and compelling content and a unique, differentiating online presence. In a day and age <img src="/images/guides/i2.jpg" alt="Music Blog Promotion" width="200" height="137" class="floatleft" />where new acts emerge left and right, it is fundamentally essential that you have your name out in the vast web domain. Otherwise prospective fans outside of your town or inner-circle will not have any reason to know about what you do.</p>
    <p>Since bands and bloggers continue to develop a keen professionalism in promotion and content delivery, utilizing the web space (as well as the wealth of media tools) effectively will allow you to distinguish your efforts from your peers. Just be tactful in approaching the bloggers you've identified. Remember that bloggers with significant traffic are constantly bombarded with all kinds of press materials from bands big and small, and are much more inclined to post about something that comes off as natural and personal, rather than manufactured.</p>
    <p>Once a connection with a like-minded blogger is made, your content can spread like wildfire, producing what's known as a viral effect, where one source with an audience disseminates the information to countless others, much like a virus. And when that happens, it can become a vital and rewarding aspect of your own online media campaign.</p>
    <p></p>
  </div>
  </div>

