<%= render :partial => "guide_js" %>
  <h2 class="h2cufon">HOW TO MARKET PROMOTE AND MAKE MONEY FROM YOUR MUSIC WHILE KEEPING YOUR RIGHTS</h2>

  <div id="download">
  <div id="downloadbtn"><a href="/images/artwork/templates/pdfs/tunecore_manual_dl.pdf"><img src="/images/guides/downloadthis.jpg" width="149" height="34" /></a></div></div>
  <div class="bodycontent">
	  <div id="leftnav">
	  <ul>
	  <li><%= link_to_unless_current "Introduction", :controller=>"guides", :action=>"promote_introduction" %></li>
	  <li><%= link_to_unless_current "Marketing and Promotion", :controller=>"guides", :action=>"promote_marketing" %></li>
	   <li class="subnav"><%= link_to_unless_current "Getting Found &amp; Affiliate #{t(:program).capitalize}s", :controller=>"guides", :action=>"promote_gettingstarted" %></li>
	   <li class="subnav"><%= link_to_unless_current "iTunes Promotion", :controller=>"guides", :action=>"promote_itunes" %></li>
	   <li class="subnav"><%= link_to_unless_current "Street Marketing", :controller=>"guides", :action=>"promote_streetmarketing" %></li>
	   <li class="subnav"><%= link_to_unless_current "Indie and College Radio Promotion", :controller=>"guides", :action=>"promote_indieradio" %></li>
	   <li class="subnav active"><%= link_to_unless_current "Press and Media Promotion", :controller=>"guides", :action=>"promote_pressmedia" %></li>
	   <li class="subnav"><%= link_to_unless_current "Blog Promotion", :controller=>"guides", :action=>"promote_blogpromotion" %></li>
	  <li class=""><%= link_to_unless_current "Merchandising", :controller=>"guides", :action=>"promote_merchandising" %></li>
	  <li><%= link_to_unless_current "Resource Guide", :controller=>"guides", :action=>"promote_resources" %></li>
	  </ul>
	  </div>

  <div class="bodytext">
  <h3>Press and Media Promotion</h3>


  <div class="writtenby">by tunecore<br />
  </div>
  <div class="paragraph">
    <p>A great way to draw attention to your music is national and regional physical print publications like Rolling Stone, USA Today, Magnet etc. To get reviewed or featured in any of these publications, you must first get a copy of your album to their editors, staff writers or freelance writers.</p>
    <p>There are some general rules you'll want to observe:</p>
    <p>Lead Time<br />
      Most of the large, influential magazines that review and cover music publish monthly, and they finalize their content four months before they plan on running it. For the most part, they won't review an album after it has already been available to buy in retail stores (called the &quot;Street Date&quot;).<br />
    </p>
    <p>The Press Wants to Know When &amp; Where You're Playing<br />
      Going on tour or playing a gig (even in your home town) gives press another reason to review your album or talk about your band. Identify and contact the local weekly and daily publications in the city you are going to play in. Provide them three to four weeks of lead-time before your gig. </p>
    <p>The Power of Your Mailing List<br />
      Keep an up-to-date, accurate and comprehensive mailing list of names and addresses of appropriate publications where you want your album reviewed.<br />
      Some ways you can compile your own list:<br />
      - Identify which magazines, fanzines and publications are best for your music then go to the masthead (the section almost all publications have that lists the writers, publishers and editors, usually near the front) and identify the right people to target. Mail him or her your album.<br />
      - You can also look at the names of the people that wrote the reviews then call and ask for the mailing address of that specifc writer. </p>
    <p>- Many of these magazines have we websites as well as email address contacts. Simply send an email to the correct recipient and ask the submission policy.</p>
    <p>- You can use places like http://newslink.org/news.html and http://www.yudkin.com/resources.htm to identify lists of all local and regional press outlets.</p>
    <p>Publicists<br />
      Publicists are experts you hire to promote your band and music to media and press outlets. Remember, a publicist can not guarantee a review or coverage. You should expect  a publicist to get a writer or editor to learn about you, listen to your music and provide them reasons to write about you.</p>
    <p>Publicists will send you reports that list all the activity, comments and results regarding your project.</p>
    <p>A publicist will usually charge you a monthly fee and request a minimum number of months to work on your &quot;project.&quot; Fees can range widely but tend to fall between $750 and $5,000 a month.</p>
    <p>In addition to these fees, most publicists also charge you expenses, these can vary a bit from publicist to publicist.</p>
    <p>TIP: Most of the time, a publicist will be working on more than one artist or project. Be prepared to &quot;work&quot; your publicist to get them to &quot;work&quot; others.</p>
    <p>What to Mail<br />
      Almost all print magazines and publications require a physical copy of your album. When you mail the CD to the writers and editors of any publication, it should contain:<br />
      - A full-art, completed, mastered and sequenced final version of your CD.<br />
      - One sheet of paper including: the name of your band and album; biographical information; other key press points, contact information and the street date.</p>
    <p></p>
  </div>
  </div>
