<%= render :partial => "guide_js" %>
  <h2 class="h2cufon">HOW TO MARKET PROMOTE AND MAKE MONEY FROM YOUR MUSIC WHILE KEEPING YOUR RIGHTS</h2>

  <div id="download">
  <div id="downloadbtn"><a href="/images/artwork/templates/pdfs/tunecore_manual_dl.pdf"><img src="/images/guides/downloadthis.jpg" width="149" height="34" /></a></div></div>
  <div class="bodycontent">
	  <div id="leftnav">
	  <ul>
	  <li><%= link_to_unless_current "Introduction", :controller=>"guides", :action=>"promote_introduction" %></li>
	  <li><%= link_to_unless_current "Marketing and Promotion", :controller=>"guides", :action=>"promote_marketing" %></li>
	   <li class="subnav active"><%= link_to_unless_current "Getting Found &amp; Affiliate #{t(:program).capitalize}s", :controller=>"guides", :action=>"promote_gettingstarted" %></li>
	   <li class="subnav"><%= link_to_unless_current "iTunes Promotion", :controller=>"guides", :action=>"promote_itunes" %></li>
	   <li class="subnav"><%= link_to_unless_current "Street Marketing", :controller=>"guides", :action=>"promote_streetmarketing" %></li>
	   <li class="subnav"><%= link_to_unless_current "Indie and College Radio Promotion", :controller=>"guides", :action=>"promote_indieradio" %></li>
	   <li class="subnav"><%= link_to_unless_current "Press and Media Promotion", :controller=>"guides", :action=>"promote_pressmedia" %></li>
	   <li class="subnav"><%= link_to_unless_current "Blog Promotion", :controller=>"guides", :action=>"promote_blogpromotion" %></li>
	  <li class=""><%= link_to_unless_current "Merchandising", :controller=>"guides", :action=>"promote_merchandising" %></li>
	  <li><%= link_to_unless_current "Resource Guide", :controller=>"guides", :action=>"promote_resources" %></li>
	  </ul>
	  </div>

  <div class="bodytext">
  <h3>Getting Found &amp; affiliate <%= t(:program) %>s</h3>

  <div class="writtenby">BY TUNECORE </div>
  <div class="paragraph">
    Each store has a &quot;link maker&quot; that can be found on the Marketing and Promotion section of TuneCore's website:<br />
      <a href="/index">http://www.TuneCore.com</a>
      <p>Create direct links to your album and post them on your website.</p>
    <p class="bold">LINKMAKERS:</p>
    <p><span class="bold">iTunes</span><br />
      <a href="http://phobos.apple.com/WebObjects/MZSearch.woa/wa/itmsLinkMaker">http://phobos.apple.com/WebObjects/MZSearch.woa/wa/itmsLinkMaker</a><br />
      <br />
      <span class="bold">Rhapsody</span><br />
      <a href="http://webservices.rhapsody.com/index.php">http://webservices.rhapsody.com/index.php</a><br />
      <span class="bold"><br />
      Sony Connect</span><br />
      <a href="http://linkgenerator.connect.com/search/linkGenerator.htm">http://linkgenerator.connect.com/search/linkGenerator.htm</a><br />
      <br />
      <span class="bold">Napster</span><br />
      <a href="http://www.napster.com/tools/napsterlinks.html">http://www.napster.com/tools/napsterlinks.html</a></p>
    <p><span class="bold">AFFILIATE <%= t(:program).upcase %>S</span><br />
      iTunes<br />
      With the free iTunes Affiliate <%= t(:program).capitalize %>, you can link and sell your own music via any Web page or email.</p>
    <p>With each sale from iTunes that originates from your affiliate link, you will earn a 5% commission on all qualifying revenue generated. The affiliate <%= t(:program) %> auto-generates links for you. All you have to do is place them on any Web page or within an email. It's a simple and very effective way to sell your music. Here's a link to the iTunes Affiliate <%= t(:program).capitalize %>:<br />
      http://www.apple.com/itunes/affiliates/</p>
    <p><span class="bold">Rhapsody</span><br />
      Make your band's site work even harder for you.  Integrating links to music and content from Rhapsody onto your site is free to both you and your fans, and you can make some extra money every time you introduce someone new to the Rhapsody service.  You can earn up to $15 for every user who starts a free Rhapsody trial through links on your website. </p>
    <p>More information is available here:<br />
      <a href="http://www.realnetworks.com/company/affiliate/index.html">http://www.realnetworks.com/company/affiliate/index.html</a></p>
    <p>Want to find the websites mentioned in this article?  Go to:<br />
      <a href="http://www.TuneCore.com/index/m_and_p">http://www.TuneCore.com/index/m_and_p</a><br />
    </p>
  </div>
  </div>

