<%= render :partial => "guide_js" %>
  <h2 class="h2cufon">HOW TO MARKET PROMOTE AND MAKE MONEY FROM YOUR MUSIC WHILE KEEPING YOUR RIGHTS</h2>

  <div id="download">
  <div id="downloadbtn"><a href="/images/artwork/templates/pdfs/tunecore_manual_dl.pdf"><img src="/images/guides/downloadthis.jpg" width="149" height="34" /></a></div></div>
  <div class="bodycontent">
	  <div id="leftnav">
	  <ul>
	  <li><%= link_to_unless_current "Introduction", :controller=>"guides", :action=>"promote_introduction" %></li>
	  <li><%= link_to_unless_current "Marketing and Promotion", :controller=>"guides", :action=>"promote_marketing" %></li>
	   <li class="subnav"><%= link_to_unless_current "Getting Found &amp; Affiliate #{t(:program).capitalize}s", :controller=>"guides", :action=>"promote_gettingstarted" %></li>
	   <li class="subnav"><%= link_to_unless_current "iTunes Promotion", :controller=>"guides", :action=>"promote_itunes" %></li>
	   <li class="subnav active"><%= link_to_unless_current "Street Marketing", :controller=>"guides", :action=>"promote_streetmarketing" %></li>
	   <li class="subnav"><%= link_to_unless_current "Indie and College Radio Promotion", :controller=>"guides", :action=>"promote_indieradio" %></li>
	   <li class="subnav"><%= link_to_unless_current "Press and Media Promotion", :controller=>"guides", :action=>"promote_pressmedia" %></li>
	   <li class="subnav"><%= link_to_unless_current "Blog Promotion", :controller=>"guides", :action=>"promote_blogpromotion" %></li>
	  <li class=""><%= link_to_unless_current "Merchandising", :controller=>"guides", :action=>"promote_merchandising" %></li>
	  <li><%= link_to_unless_current "Resource Guide", :controller=>"guides", :action=>"promote_resources" %></li>
	  </ul>
	  </div>

  <div class="bodytext">
  <h3>Street Marketing</h3>

  <div class="subline">Building Buzz for Less<br />
  </div>
  <div class="writtenby">BY Musicians Friend </div>
  <div class="paragraph">
    <span class="bold">What is street marketing? </span><br />
      <p>Street marketing is identifying your targeted demographic and then going straight to them.  Stickers, postcards, snipe posters, CD samples and the like are integral parts of street marketing  operations that focus on particular cities and, often, particular genres of music.</p>
    <p><span class="bold">What are the advantages of street marketing? </span><br />
      Street marketing is crucial where commercial radio play, or major media exposure is unlikely. As retail promotion space becomes harder, or more expensive to get, reaching the consumer is often the most effective way to alert potential customers that an album has been released.<br />
      <br />
      <span class="bold">How does a street marketing company work? </span><br />
      Street marketing companies offer a variety of services including handing out promotional items at gigs that have a similar audience to your band, placing fliers and other items at clubs, record stores or other locations that fit your band's demographic. <br />
    </p>
    <p>    <img src="/images/guides/i5.jpg" alt="Street Marketing" width="150" height="83" class="floatleft" />They will also check that local stores are carrying your record, putting up posters in stores that allow it etc.  A good street marketing company will do as you request, but also propose new ideas for you to consider.  You should receive a weekly report on the activity in each market.</p>
    <p><span class="bold"><br />
      Are there companies to help with street marketing? </span><br />
      There are many independent marketing companies that would be more than happy to help you market your band. They range from large national companies with representatives in every city to small one person operations that focus on particular cities and, often, particular genres of music. They usually charge by the week, with a minimum length of employment. </p>
    <p><span class="bold"><img src="/images/guides/i0.jpg" alt="Street Marketing Ideas" width="150" height="208" class="floatleft" />Is it legal to put up posters around town? </span><br />
      It is illegal to snipe any public property (telephone poles, light boxes, street signs, buildings, etc.). If the city/town you &quot;snipe&quot; takes exception your posters you could get fined and some cities have been known to fine upwards of $75 for each poster they find and take down.<br />
      <br />
      <span class="bold"><br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      Do I have to hire an independent company? </span><br />
      Absolutely not. Some record companies have their own in house street marketing department. Also, labels are quickly coming to the realization that the best street marketing is done by the band and the band's fans. Best of all, most fans will do it simply because they love the band and want the world to know how great they are. The development of a national team of fans is a direct offshoot of an active fan club. In return for tickets, CDs or promotional items, many fans are very willing to help with street marketing in their local area. <br />
      <br />
    </p>
  </div>
  </div>

