<%= render :partial => "guide_js" %>
  <h2 class="h2cufon">HOW TO MARKET PROMOTE AND MAKE MONEY FROM YOUR MUSIC WHILE KEEPING YOUR RIGHTS</h2>

  <div id="download">
  <div id="downloadbtn"><a href="/images/artwork/templates/pdfs/tunecore_manual_dl.pdf"><img src="/images/guides/downloadthis.jpg" width="149" height="34" /></a></div></div>
  <div class="bodycontent">
	  <div id="leftnav">
	  <ul>
	  <li><%= link_to_unless_current "Introduction", :controller=>"guides", :action=>"promote_introduction" %></li>
	  <li><%= link_to_unless_current "Marketing and Promotion", :controller=>"guides", :action=>"promote_marketing" %></li>
	   <li class="subnav"><%= link_to_unless_current "Getting Found &amp; Affiliate #{t(:program).capitalize}s", :controller=>"guides", :action=>"promote_gettingstarted" %></li>
	   <li class="subnav"><%= link_to_unless_current "iTunes Promotion", :controller=>"guides", :action=>"promote_itunes" %></li>
	   <li class="subnav"><%= link_to_unless_current "Street Marketing", :controller=>"guides", :action=>"promote_streetmarketing" %></li>
	   <li class="subnav"><%= link_to_unless_current "Indie and College Radio Promotion", :controller=>"guides", :action=>"promote_indieradio" %></li>
	   <li class="subnav"><%= link_to_unless_current "Press and Media Promotion", :controller=>"guides", :action=>"promote_pressmedia" %></li>
	   <li class="subnav"><%= link_to_unless_current "Blog Promotion", :controller=>"guides", :action=>"promote_blogpromotion" %></li>
	  <li class="active"><%= link_to_unless_current "Merchandising", :controller=>"guides", :action=>"promote_merchandising" %></li>
	  <li><%= link_to_unless_current "Resource Guide", :controller=>"guides", :action=>"promote_resources" %></li>
	  </ul>
	  </div>

  <div class="bodytext">
  <h3>Merchandising</h3>


  <div class="writtenby">by JakPrints
    <br />
  </div>
  <div class="paragraph">
    <img src="/images/guides/32.jpg" alt="Music Merchandising" width="300" height="243" class="floatleft" /><p>When placing when placing your first apparel order you may want to consider a few key topics.  The most important factor that will determine the direction you take is budget and demographic.  Once you have established who your &quot;core following&quot; is, you will be able to determine if shelling out the extra money for those finishing touches is worth it.  A good business model is far superior to one of &quot;over the top&quot; design, so keep in mind the profitability of the proposed project.  The more money you make from your first couple of designs may give you that extra buffer to try new things down the road.  Don't sink your ship before you make it out of the marina.</p>
    <p><span class="bold"><br />
      Make a Business Plan</span><br />
      You can increase your profit margins in a number of ways.  The first method is producing large quantities.  Many printers up-charge smaller quantity orders.  The second way that you can yield larger returns, is to keep your graphics simple.  Often times it is the 1 and 2 color designs that are most effective, graphically speaking, so don't feel the need to go overboard your first time around. </p>
    <p><img src="/images/guides/i36.jpg" alt="Music Business Plan" width="100" height="110" class="floatleft" />Screen fees charges are usually around $15 -$20 per screen or per color. These costs are almost always a one time fee because the films are saved and catalogued for future use. If you plan on reordering the graphic in question, it may make sense to order a 5, 6, 7, 8 or 9 color graphic, but your profit margin will be smaller the first time that you order.  The same thing goes for multiple print locations.  If you select front/back/left sleeve/right sleeve, all to print on one shirt, you will end up with an awesome looking product, but always weight the benefits and disadvantages before placing your orders.</p>
    <p><span class="bold"><br />
      Who Will Buy Your Shirts</span><br />
      The second thing to consider before starting the design process, is to analyze your demographic.  Identify who will be most likely to buy your product and study their style preferences and spending habits.  <br />
      <img src="/images/guides/PiggyBank.jpg" alt="How to Merchandise Clothing" class="floatleft" />      Your demographic will tell you a lot about the direction that you should steer your printing endeavors. By observing your &quot;core&quot; followers, you will be able to determine the style of garment and artwork to decorate them with.  For example: if you are a band/musician in the metal/hardcore/grindcore genre, you will obviously want to stock up on black t-shirts.  This will be the bread and butter of your operation. You will be able to identify trends by studying magazines in your area of interest if you are not already familiar with the customs of any specific clique or group of people. </p>
    <p><span class="bold"><br />
      <br />
      Design Your Graphics</span><br />
      Once you have a business plan, and a general idea of how you would like your shirts or other decorated apparel to look, you will need to begin designing your graphics.  To avoid many headaches and prolonging valuable turnaround time, design your files following the proper preparation guidelines the first time around.  If you do not have access to the proper tools, such as computers and the preferred graphics <%= t(:program) %>s of your printer's choice, find a designer that does.  When considering a graphic artist, be sure to get quotes from multiple sources and from people that are sympathetic to your cause.  You may be able to find more reasonable design rates if you just shop your ideas around. <br />
      <img src="/images/guides/i3.jpg" class="floatleft" />    </p>
    <p>If you design your files yourself, first request templates or the measurements of available print areas from your printer.  Once you have determined how &quot;big&quot; to build your files, and what dimensions will restrict your graphics, be sure to build them at the proper resolution.  It will almost always be 300 dpi &quot;at actual size&quot; if you have chosen to build your files in pixel or raster  based graphics <%= t(:program) %>s such as Adobe Photoshop.  You can always build your graphics &quot;too big&quot; and resize them to be smaller.  You cannot however build your files too small or too low of resolution.  If you do so, you will be asked to rebuild your graphics from scratch, so be very careful. </p>
    <p>Ask your printer if they prefer that you prepare your own separations or if they prefer to have you send &quot;flattened&quot; files.  This means that all of the layers have been condensed to one flat picture.  If you want to go the safe route, ask your designer to build your artwork in a vector based <%= t(:program) %> such as Adobe Illustrator.  Vector artwork is saved in such a way that you can resize your graphic to any size without compromising the print quality of the image. The last thing to consider before you begin is what color mode is most appropriate for your project.  For apparel printing, it will usually be RGB. </p>
    <p><img src="/images/guides/artist.jpg" width="130" height="131" class="floatleft" />Once you have graduated your first successful print job, you can begin to experiment with more advanced techniques such as metallic inks and foils, puff inks and embroidery.  Once you have established a following, you may want to consider additional finishing options that may give the effect of a more professional looking product, such as hang tags, relabeling and poly bagging.</p>
    <p>If you have any questions what options are most appropriate, always consult your sales representative.  They will usually be considerate to your cause, and help you weigh your options in a point of view that you may not be considering.</p>
  </div>
  </div>

