<%= render :partial => "guide_js" %>
  <h2 class="h2cufon">HOW TO MARKET PROMOTE AND MAKE MONEY FROM YOUR MUSIC WHILE KEEPING YOUR RIGHTS</h2>

  <div id="download">
  <div id="downloadbtn"><a href="/images/artwork/templates/pdfs/tunecore_manual_dl.pdf"><img src="/images/guides/downloadthis.jpg" width="149" height="34" /></a></div></div>
  <div class="bodycontent">
	  <div id="leftnav">
	  <ul>
	  <li><%= link_to_unless_current "Introduction", :controller=>"guides", :action=>"promote_introduction" %></li>
	  <li><%= link_to_unless_current "Marketing and Promotion", :controller=>"guides", :action=>"promote_marketing" %></li>
	   <li class="subnav"><%= link_to_unless_current "Getting Found &amp; Affiliate #{t(:program).capitalize}s", :controller=>"guides", :action=>"promote_gettingstarted" %></li>
	   <li class="subnav active"><%= link_to_unless_current "iTunes Promotion", :controller=>"guides", :action=>"promote_itunes" %></li>
	   <li class="subnav"><%= link_to_unless_current "Street Marketing", :controller=>"guides", :action=>"promote_streetmarketing" %></li>
	   <li class="subnav"><%= link_to_unless_current "Indie and College Radio Promotion", :controller=>"guides", :action=>"promote_indieradio" %></li>
	   <li class="subnav"><%= link_to_unless_current "Press and Media Promotion", :controller=>"guides", :action=>"promote_pressmedia" %></li>
	   <li class="subnav"><%= link_to_unless_current "Blog Promotion", :controller=>"guides", :action=>"promote_blogpromotion" %></li>
	  <li class=""><%= link_to_unless_current "Merchandising", :controller=>"guides", :action=>"promote_merchandising" %></li>
	  <li><%= link_to_unless_current "Resource Guide", :controller=>"guides", :action=>"promote_resources" %></li>
	  </ul>
	  </div>

  <div class="bodytext">
  <h3>itunes promotion</h3>

  <div class="writtenby">BY TUNECORE </div>
  <div class="paragraph">
    Once your music is on iTunes, there are some tricks you<br />
      can do to allow people to discover your albums.
    <p><span class="bold">Create an iMix</span><br />
      <img src="/images/guides/imix300.jpg" alt="iMix iTunes Promotion" /><br />
      An iMix is a play list that you've chosen to publish and make available to others in the iTunes Music Store. To get your music to surface and be discovered more, create an iMix with approximately three of your own songs and nine additional songs by other more well know artists (preferably in the same genre).   These iMixes will surface at the other artist's album iTunes pages as well your own. </p>
    <p><span class="bold">Rate the iMix</span><br />
      <br />
      After you make and populate the iTunes Music store with iMixes containing your songs and other songs by popular bands, it's crucial to rate them. iTunes allows anyone to rate an iMix with between zero and five stars. Have as many people as you can rate your iMix with five stars. High-rated iMixes get more attention and more responses then low rated iMixes.</p>
    <p><span class="bold">iMix Notes</span><br />
      Check out the &quot;iMix Notes&quot; field. Take a few moments to write something and talk about your play list. A great description combined with a high rating increases the odds someone will discover and check our your play list.</p>
    <p><img src="/images/guides/Swell.jpg" alt="Promote on iTunes" width="100" height="133" class="floatleft" /></p>
    <p><span class="bold">Album Reviews</span><br />
      Have as many people as possible write positive reviews about your album. Encourage them to be specific and thoughtful: make sure they say more than &quot;This album rocks.&quot; Heartfelt, well-written reviews drive sales.</p>
    <p><span class="bold">Covers Attract Attention</span><br />
      People that shop within iTunes search for specific songs they know. If you choose to do a cover of a song, it will increase the possibility of someone discovering your band. Once they hear your cover, they will probably be more inclined to learning more about you and listening to samples of your other music.<br />
    </p>
    <p></p>
  </div>
  </div>
