<%= render :partial => "guide_js" %>
 <h2 class="h2cufon">HOW TO MARKET PROMOTE AND MAKE MONEY FROM YOUR MUSIC WHILE KEEPING YOUR RIGHTS</h2>

  <div id="download">
  <div id="downloadbtn"><a href="/images/artwork/templates/pdfs/tunecore_manual_dl.pdf"><img src="/images/guides/downloadthis.jpg" width="149" height="34" /></a></div>
  </div>
</div>
  <div class="bodycontent">
	  <div id="leftnav">
	  <ul>
	  <li><%= link_to_unless_current "Introduction", :controller=>"guides", :action=>"promote_introduction" %></li>
	  <li class="active"><%= link_to_unless_current "Marketing and Promotion", :controller=>"guides", :action=>"promote_marketing" %></li>
	   <li class="subnav"><%= link_to_unless_current "Getting Found &amp; Affiliate #{t(:program).capitalize}s", :controller=>"guides", :action=>"promote_gettingstarted" %></li>
	   <li class="subnav"><%= link_to_unless_current "iTunes Promotion", :controller=>"guides", :action=>"promote_itunes" %></li>
	   <li class="subnav"><%= link_to_unless_current "Street Marketing", :controller=>"guides", :action=>"promote_streetmarketing" %></li>
	   <li class="subnav"><%= link_to_unless_current "Indie and College Radio Promotion", :controller=>"guides", :action=>"promote_indieradio" %></li>
	   <li class="subnav"><%= link_to_unless_current "Press and Media Promotion", :controller=>"guides", :action=>"promote_pressmedia" %></li>
	   <li class="subnav"><%= link_to_unless_current "Blog Promotion", :controller=>"guides", :action=>"promote_blogpromotion" %></li>
	  <li class=""><%= link_to_unless_current "Merchandising", :controller=>"guides", :action=>"promote_merchandising" %></li>
	  <li><%= link_to_unless_current "Resource Guide", :controller=>"guides", :action=>"promote_resources" %></li>
	  </ul>
	  </div>

  <div class="bodytext">
  <h3>marketing and promotion</h3>

  <div class="writtenby">BY TUNECORE </div>
  <div class="paragraph">Getting <a href="http://www.tunecore.com">your music online</a> is only half the battle. It’s critical to get your existing and new fans streaming and downloading your albums.<br />
    <br />
    Here are some helpful tips for marketing your music:<br />
<ul>
  <li class="subnav"><%= link_to_unless_current "Getting Found &amp; Affiliate #{t(:program).capitalize}s", :controller=>"guides", :action=>"promote_gettingstarted" %></li>
   <li class="subnav"><%= link_to_unless_current "iTunes Promotion", :controller=>"guides", :action=>"promote_itunes" %></li>
   <li class="subnav"><%= link_to_unless_current "Street Marketing", :controller=>"guides", :action=>"promote_streetmarketing" %></li>
   <li class="subnav"><%= link_to_unless_current "Indie and College Radio Promotion", :controller=>"guides", :action=>"promote_indieradio" %></li>
   <li class="subnav"><%= link_to_unless_current "Blog Promotion", :controller=>"guides", :action=>"promote_blogpromotion" %></li>
</ul>
</div>

  </div>
