<%= render :partial => "guide_js" %>
  <h2 class="h2cufon">HOW TO MARKET PROMOTE AND MAKE MONEY FROM YOUR MUSIC WHILE KEEPING YOUR RIGHTS</h2>

  <div id="download">
  <div id="downloadbtn"><a href="/images/artwork/templates/pdfs/tunecore_manual_dl.pdf"><img src="/images/guides/downloadthis.jpg" width="149" height="34" /></a></div></div>
  <div class="bodycontent">
	  <div id="leftnav">
	  <ul>
	  <li><%= link_to_unless_current "Introduction", :controller=>"guides", :action=>"promote_introduction" %></li>
	  <li><%= link_to_unless_current "Marketing and Promotion", :controller=>"guides", :action=>"promote_marketing" %></li>
	   <li class="subnav"><%= link_to_unless_current "Getting Found &amp; Affiliate #{t(:program).capitalize}s", :controller=>"guides", :action=>"promote_gettingstarted" %></li>
	   <li class="subnav"><%= link_to_unless_current "iTunes Promotion", :controller=>"guides", :action=>"promote_itunes" %></li>
	   <li class="subnav"><%= link_to_unless_current "Street Marketing", :controller=>"guides", :action=>"promote_streetmarketing" %></li>
	   <li class="subnav"><%= link_to_unless_current "Indie and College Radio Promotion", :controller=>"guides", :action=>"promote_indieradio" %></li>
	   <li class="subnav"><%= link_to_unless_current "Press and Media Promotion", :controller=>"guides", :action=>"promote_pressmedia" %></li>
	   <li class="subnav"><%= link_to_unless_current "Blog Promotion", :controller=>"guides", :action=>"promote_blogpromotion" %></li>
	  <li class=""><%= link_to_unless_current "Merchandising", :controller=>"guides", :action=>"promote_merchandising" %></li>
	  <li class="active"><%= link_to_unless_current "Resource Guide", :controller=>"guides", :action=>"promote_resources" %></li>
	  </ul>
	  </div>

  <div class="bodytext">
  <h3>Resource Guide</h3>


  <div class="writtenby">by tunecore<br />
  </div>
  <div class="paragraph">
    <p><span class="bold"><br />
      <img src="/images/guides/tc-logo.jpg" alt="Free Music Resources" width="120" height="83" />      <br />
      <br />
      <a href="http://www.tunecore.com">Digital Distribution</a></span><br />
      www.tunecore.com<br />
      <br />
<br />
      <br />
      <span class="bold">College Radio Promotion</span><br />
      Pirate Radio at <a href="http://www.pirateradio.com">www.pirateradio.com</a><br />
      <br />
      <span class="bold">Music Blogs </span><br />
      Check out GORILLA VS. BEAR at <a href="http://www.gorillavsbear.net">www.gorillavsbear.net</a> <strong> </strong><br />
      or any of these great music blogs: <br />
      <a href="http://www.stereogum.com">www.stereogum.com</a>   <br />
      <a href="http://www.brooklynvegan.com">www.brooklynvegan.com</a>   <br />
      <a href="http://www.music.for-robots.com">www.music.for-robots.com</a>   <br />
      <a href="http://www.saidthegramophone.com">www.saidthegramophone.com</a>   <br />
      <a href="http://www.aquariumdrunkard.com">www.aquariumdrunkard.com</a>   <br />
      <a href="http://www.chromewaves.net">www.chromewaves.net</a>    <br />
      <a href="http://www.fluxblog.org">www.fluxblog.org</a>    <br />
      <a href="http://www.myoldkyhome.blogspot.com">www.myoldkyhome.blogspot.com</a>   <br />
      <a href="http://www.iguessimfloating.blogspot.com">www.iguessimfloating.blogspot.com</a>   <br />
      <a href="http://www.youaintnopicasso.com">www.youaintnopicasso.com</a> <br />
      </p>
    <p><span class="bold">Tshirts Posters and More</span><br />
      JakPrints<br />
      <a href="http://www.jakprints.com ">www.jakprints.com </a><br />
      <br />
      <span class="bold">Online Education and Music Resources</span><br />
      Artist House
       Music<br />
       www.artisthousemusic.com </p>
    <p>Harmony Central<br />
      <a href="http://www.harmonycentral.com ">www.harmonycentral.com </a><br />
      <br />
      <span class="bold">Publicists</span><br />
      <strong>Team Clermont: </strong><a href="http://www.teamclermont.com">http://www.teamclermont.com</a>   <br />
      <strong>Big Shot: </strong><a href="http://www.bighassle.com/publicity">http://www.bighassle.com/publicity</a>   <br />
      <strong>Tag Team: </strong><a href="http://www.tagteammedia.com/company_info.htm">http://www.tagteammedia.com/company_info.htm</a>   <br />
      <strong>Girlie Action: </strong><a href="http://www.girlieaction.com">http://www.girlieaction.com</a>   <br />
      <strong>Shore Fire Media: </strong><a href="http://www.shorefire.com">http://www.shorefire.com</a>    <br />
      <strong>GoodCop PR: </strong><a href="http://www.goodcoppr.com">http://www.goodcoppr.com</a>  <br />
      <br />
      <strong>Fanatic Promotion: </strong><a href="http://www.fanaticpromotion.com/mediakit.pdf">http://www.fanaticpromotion.com/mediakit.pdf</a></p>
    <p><br />
      <br />
    </p>
  </div></div>

