<%= render :partial => "guide_js" %>
  <h2 class="h2cufon">HOW TO MARKET PROMOTE AND MAKE MONEY FROM YOUR MUSIC WHILE KEEPING YOUR RIGHTS</h2>

  <div id="download">
  <div id="downloadbtn"><a href="/images/artwork/templates/pdfs/tunecore_manual_dl.pdf"><img src="/images/guides/downloadthis.jpg" width="149" height="34" /></a></div>

  </div>
  <div class="bodycontent">
  <div id="leftnav">
  <ul>
  <li class="active"><%= link_to_unless_current "Introduction", :controller=>"guides", :action=>"promote_introduction" %></li>
  <li><%= link_to_unless_current "Marketing and Promotion", :controller=>"guides", :action=>"promote_marketing" %></li>
   <li class="subnav"><%= link_to_unless_current "Getting Found &amp; Affiliate #{t(:program).capitalize}s", :controller=>"guides", :action=>"promote_gettingstarted" %></li>
   <li class="subnav"><%= link_to_unless_current "iTunes Promotion", :controller=>"guides", :action=>"promote_itunes" %></li>
   <li class="subnav"><%= link_to_unless_current "Street Marketing", :controller=>"guides", :action=>"promote_streetmarketing" %></li>
   <li class="subnav"><%= link_to_unless_current "Indie and College Radio Promotion", :controller=>"guides", :action=>"promote_indieradio" %></li>
   <li class="subnav"><%= link_to_unless_current "Press and Media Promotion", :controller=>"guides", :action=>"promote_pressmedia" %></li>
   <li class="subnav"><%= link_to_unless_current "Blog Promotion", :controller=>"guides", :action=>"promote_blogpromotion" %></li>
  <li class=""><%= link_to_unless_current "Merchandising", :controller=>"guides", :action=>"promote_merchandising" %></li>
  <li><%= link_to_unless_current "Resource Guide", :controller=>"guides", :action=>"promote_resources" %></li>
  </ul>
  </div>

  <div class="bodytext">
  <h3>INTRODUCTION</h3>
  <div class="subline">TECHNOLOGY CHANGING THE MUSIC INDUSTRY</div>
  <div class="writtenby">BY JEFF PRICE, TUNECORE FOUNDER</div>
  <div class="paragraph">
    <p>Technology can change things.  And in the case of the music industry, it  destroyed it.</p>
    <p>The two major shifts that have occurred are:<br />
      <span class="bold"><a href="/index">Distribution of your music</a> into stores where  people can go to buy it </span><br />
      <span class="bold">How people discover music</span></p>
    <p><span class="bold">Distribution of your music into stores where  people can go to buy it </span><br />
      A quick description of what the music  industry has been for the past 100 years provides a background on how things  are changing.<br />
    </p>
    <p>Assume you live in New York and you make a  watch you want to sell. You take your watch to the nearest watch store and ask  the owner if you can sell it in their shop. They agree and ask how much you  want to get paid if it sells. You tell the owner $10 You return to the store a  month later, your watch is gone, the owner hands you $10, however you have no  idea how much the watch sold for. Maybe it was given away, maybe it was sold  for a million dollars. <br />
    </p>
    <p>The next day you get a call from Joe at Joe  Smith Watch Distribution.  Joe tells you  he is a watch distributor from Chicago who can help you sell more watches.  If you are interested, you can send him all  your watches and he will store them, insure them, inventory them and more.<br />
    </p>

    <p>In addition to warehousing, he also tells you  that he has a sales force of 40 people that walk all around the country to  watch stores showing the new watches to the owners and he mails out a paper <%= t(:catalog) %> each month to 4,000 watch stores.<br />
    </p>

    <p>Back at his warehouse, he has 20 more people  that pick, pack and process the orders.   If a watch is damaged, it is sent back and Joe Smith fixes it.  Each time a watch leaves his warehouse, you  will get paid regardless of if Joe gets paid. <br />
    </p>
    <p>
      Finally, Joe will provide you opportunities  to market your watch in the store.  For  example, it will be displayed up front when people walk in.<br />
    </p>

    <p>In return for all these services, Joe asks to  be paid 25% of the money earned from each watch sale. If a watch sells for $10,  Joe will get paid $2.50 and you get the rest.</p>
    <p>This is the music industry - only instead  of watches, it's CDs, and record labels hire people to make their  &quot;watches&quot;.</p>
    <p>it's about distribution and shelf space.</p>
    <p>
      The music industry is about  distribution.  Record labels make the  &quot;thing&quot; to give to the distributor.   The distributor puts the &quot;thing&quot; in the store.  The record label then markets the &quot;thing&quot;  to create demand.</p>
    <p>Stores have a limited amount of shelf space  and can only have a limited number of CDs in stock.  If a CD is not on a shelf, it cannot  sell.  Therefore, having a powerful  distributor is important as it can force CDs onto the shelves (but the little  guys get shoved to the side).</p>

    <p>Digital stores like <%= link_to("iTunes",:controller=>"guides",:action=>"promote_itunes") %>, Napster,  Rhapsody, eMusic, etc., have changed all this.   To start, they have unlimited shelf space.  This means everything can be in stock.</p>

    <p>In addition, digital stores are never out of  stock - they have virtual unlimited inventory that is replicated on demand.  No more need to make CDs and ship them to a warehouse and then re-ship them to  a store in hopes the store takes it out of a box and puts it on a shelf.  Instead, the music is delivered once to a server and then sits there until  someone buys it.  It can be found  instantly whenever a customer searches for it. When it is bought, the buyer  gets a perfect digital copy of the original,nothing comes off the shelf, it's  still there for the next customer to find and download. </p>

    <p>In the old model, every CD in a store can be  returned at any time for a full refund. A sale in the digital world cannot be  returned. You know exactly what you sold with no concern of dreaded  &quot;returns.&quot;</p>
    <p>These three changes: unlimited shelf space,  unlimited virtual inventory and no returns, make the big warehouses and sales  staff obsolete. This means that the four major labels - A.K.A. the four major  distributors - have invested tens of millions of dollars  into a soon to be obsolete infrastructure as  now it's just a matter of getting your music and art digitally delivered once  to a store like iTunes.</p>
    <p>So who gets access to digital distribution,  and under what deal terms? Keeping your rights and getting all the money from the sale of your music aggregators.</p>
    <p>
      Companies called aggregators have  sprung up offering artists and bands access to the digital stores. it's a  valuable service but the price they demand is out of date, old school and  exploitive.</p>

<p>First, they demand exclusive control of your  master recordings (digitally) - like a record label - for a period of time  (called a Term), usually three to five years. Unlike a record label, they do not: advance  you money to record; provide you tour support; help you find a studio, record,  mix and master an album; mail out posters to gigs; run print or banner ads;  hire independent radio promotion and mail out the CDs to radio; hire a  publicist and mail out the CDs to magazines; help you make your art; front the  money and make stickers and buttons; pay for band photos; pay for the  manufacturing of your CDs; provide you CDs to sell at your gigs and many, many,  many other label functions.</p>
<p>Second, just like a physical distributor,  they take a percentage of the money you earn from the sale of your music each  time your music sells.</p>

    <p>But, unlike a physical distributor they do  not: pick, pack and ship orders; have a warehouse staff; insure inventory; have  a national sales staff; advance you money to pay for advertising programs in  stores; fix broken CDs to be re-shipped out; guarantee you will get paid even  if the store does not pay them; mail out a <%= t(:catalog) %>, etc.</p>
    <p>Technology has changed the music industry,  yet aggregator deal terms are still stuck in the old school model of exploiting  the songs and artists. In effect, you work for them.  You cause the music to sell and they take  money from these sales while controlling your rights.</p>
    <p>The new model is about serving the artist,  not exploiting them. With the launch of TuneCore, for the first time in the  history of the music industry, any artist or label can have their music  available in the places music buyers go to buy and discover music without  having to give up any rights or revenue from the sale of their music in a non  exclusive arrangement that can be cancelled at any time.  Technology has changed the way the industry  works; it is time to change the business model as well.</p>

    <p><span class="bold">How people discover music</span><br />
      Music is not food, shelter, or clothing, but  everyone wants it and everyone needs it.   For the most part, unlike a floor wax or an SUV, people like it when  they are being asked to listen to music. The principles to marketing yourself  are very basic:  you make music, give it  to others to listen to and hope they tell others about it.</p>
    <p>In the old model, most people primarily  discovered music in one of<br />
      three ways:</p>
    <p><br />
      <span class="bold">Radio<br />
        Print magazines like Rolling Stone<br />
        Viacom owned properties like MTV, VH1, BET  etc</span></p>

    <p>These three outlets would choose what songs  they played, what videos they showed or what bands they wrote about from a  limited pool of artists pushed to them by the labels. If you were not on a  label, you were not in the pool, and therefore you had virtually no opportunity  to get exposure from any of these outlets.</p>
    <p>In the new model, everyone has a voice that  can be heard - via the net - around the world.  In particular, mp3 blogs are extremely  effective in getting your music out to the masses.  One person from anywhere on the planet can  talk about you on his or her blog and provide a link to download your song for  free. If people like it, it spreads, and soon you have 10 blogs, 50 blogs,  1,000 blogs all talking about you with links to your music. </p>
    <p>Free video distribution sites like YouTube  are also changing the game. <br />
      Consider the now famous &quot;Treadmill Dance&quot;  video by the band OK GO. Using only a store-bought camera on a tripod, four  guys danced on treadmills took the online video sites by storm, and propelled  the band into the Billboard Top 50.</p>

    <p>In the old model, music was discovered from  the top down when it was heard on commercial radio, seen on TV and read about  in magazines. Today you have the same distribution and broadcast power right  from your computer, you to the world, bottom up. Fans discover music and now  have an outlet to share their ideas, passions and musical loves with the  world,and the world is listening. Look to bands like Arcade Fire, OK GO,  Secondhand Serenade, Kelly, Tapes 'n Tapes, Clap Your Hands Say Yeah,  Birdmonster and many more, and you'll see the new model in action.</p>
    <p>In other words, you no longer need a label to  reach the world.  And you no longer need  to give up your rights or the money generated by the sale of your music to get  global distribution and marketing.</p>
    <p>Welcome to the new world - we at TuneCore  are thrilled to be part of it!  </p>
  </div>
  </div>
