<%= render :partial => "guide_js" %>

  <h2 class="h2cufon">Introduction by Jeff Price, Founder, TuneCore</h2>
   <div class="writtenby">
by TuneCore</div>
</div>
  <div id="topbar">


  </div>
  <div id="download">
  <div id="downloadbtn"><a href="/images/artwork/templates/pdfs/survivalguide-6h.pdf"><img src="/images/guides/downloadthis.jpg" width="149" height="34" /></a></div></div>

<div class="bodycontent">
  <div id="leftnav">
  <ul>
  <li class="active"><a class="list" href="#1">Album sales are down</a></li>
  <li class="notactive"><a class="list" href="#2">tips to sell online</a></li>

  <li class="notactive"><a class="list" href="#3">LIST OF MUSIC BLOGS</a></li>
  <li class="notactive"><a class="list" href="#4">Do It yourself record company</a></li>

  </ul>
  </div>
  <script language="javascript">

	$("a.list").click(function () {
	  //alert('red');
	  $(this).parent().parent().find('.active').attr("class", "nothign");
	  $(this).parent().attr("class", "active");
	  $('#leftnav ul li.active').corner();
	});


</script>
    <div class="bodytext lefty">

  <div class="paragraph">
        <a name="1"></a>
    <p class="bold">ALBUM SALES ARE DOWN! AND THE MUSIC INDUSTRY IS THRIVING</p>
    <p>In all the doom and gloom discussion of declining CD album sales, the upside has been completely missed.  The majority of music now being created, distributed, shared, bought and discovered is happening outside the traditional music industry.  Even better, more revenue is being made by artists and business via the fame of musicians than ever before.  A band &quot;breaking&quot; is no longer singularly based on the Herculean task of selling albums.</p>

    <p>This was not always the case. In 1991, the Neilsen-owned Soundscan launched and shook up the music industry by electronically tracking and reporting weekly albums sales based on information reported to it from music retail stores across the country. </p>

    <p>The once a week Soundscan sales reports measured what bands were &quot;breaking&quot; by reporting how an album sold the previous week. These reports were so accurate in reflecting who was popular that labels, managers and artists used the data to leverage MTV, commercial radio, retail stores and to justify additional marketing. Alternatively, they would use this information to determine that a record, and by extension the artist, was &quot;dead.&quot;</p>

    <p>But technology and the Internet changed the model. With unlimited shelf space, unlimited on-demand self-replicating inventory and access to self-distribution, everything can be in stock at no detriment to anything else. In 2009 alone, self-distributing bands via TuneCore sold and got paid from streams from over 61 million songs and albums earning over $32 million in music sales revenue from iTunes and other digital download stores. Unsigned artists like Nevershoutnever, Boyce Avenue and Kelly sold over 1,250,000 songs each across their <%= t(:catalog) %>s of releases. Secondhand Serenade, Nickasaur, Harry &amp; The Potters,  Jesus Culture, Colt Ford, Josh Kelley and thousands more sold hundreds of thousands of songs from multiple EPs, full length albums and singles - none of which is picked up and/or accurately reported on by Soundscan or other music reporting mechanism. These &quot;unsigned&quot; artists now represent one of the most valuable music <%= t(:catalog) %>s in the world. </p>
    <p>And creative bands continue to change the paradigm. At Hot Topic stores artists include their music for free with purchase of a t-shirt. Other bands sell hundreds of thousand of copies of their music as game files to download and play on Rock Band. Fame from social networking outlets allow some artists to sell large amounts of cell phone wallpaper, get endorsement deals, appear on TV and garner advertising offers and licensing opportunities.  Still others are &quot;breaking&quot; in other parts of the world and get flown in, all expenses paid, to play festivals to tens of thousands of people.</p>
    <p>Record labels have picked up on this trend and now do deals that treat the artist as brand and looking to participate in all the revenue streams tied into fame, not just from owning masters and only making money when the music sells. </p>
    <p>Despite the apparent bad news about the decline in album and CD sales, the truth is the music industry as we have known it is in transition, and the emerging model is incredibly exciting, larger and far more profitable than it has ever been.  Technology has changed the way people can interact, discover and listen to music.  It used to be just commercial radio, MTV, buying a CD and getting a mix tape.  Now music has been unleashed from the 5&quot; circular disc and is everywhere to buy, stream, discover share and listen to.  With these changes more people are listening, discovering, and consuming music.  More music is actually being bought then ever before.  With this change, more artist service industries are emerging and more fame and money are being generated in more ways and going to more musicians and businesses than ever before. </p>
    <p>The topic of conversation should not be about declining album sales but about the new model.  The rally cry of the RIAA should be &quot;make more music&quot; as every artist can now choose to get signed or be their own label and &quot;sign themselves&quot;.  The music industry is finally growing to its full potential  - and this should be music to all of our ears.</p>
    <a name="2"></a>
    <p><span class="bold">TIPS TO SELL MORE MUSIC ONLINE</span><br />
      You're an artist, composer, performer, you make music: you used TuneCore to distribute your music into iTunes and other stores. Here are some easy ways to get discovered and sell more music. </p>
    <p><span class="bold">Cover Popular Songs</span><br />
      Cover versions of songs sell well. Known songs have a built-in audience already. People looking for &quot;Let It Be&quot; or &quot;America the Beautiful&quot; know what they want. If you &quot;cover&quot; (record your own original version) of these songs you create a way to get discovered and make money. And once someone buys a song of yours they are more inclined to listen to and buy other songs you have recorded.</p>
    <p>Also, naming your song the same name as a more popular song allows it to surface when people search.Â  With one click to listen to a 30 second stream within the digital stores, you can increase getting heard.Â  However, you do want to be careful as to not make a potential fan angry at you for tricking them into listening.</p>
    <p><span class="bold">Record Holiday-Themed Music</span><br />
      Music tied into or about a holiday sells well. For example, &quot;spooky&quot; Halloween sound effects or &quot;scary&quot; themed music (i.e. &quot;Tubular Bells&quot;, the theme song to the movie the The Exorcist) sells enormously around Halloween. Christmas music sells really well around the Christmas season. This ties back to covers: a cover of &quot;White Christmas&quot; or &quot;Jingle Bell Rock&quot; can fund you through the rest of the year. Don't forget other, perhaps neglected holidays throughout the calendar-there is no doubt the world needs a great Groundhog Day or Columbus Day anthem. Be sure to name your songs with easily searchable words. </p>
    <p><span class="bold">Searchability</span><br />
      Stores like eMusic, iTunes and Amazon Music have millions upon millions of songs in their stores.  Most customers use the &quot;search&quot; function in the store to find music, so take advantage of it: put words in your album, artist/band and song titles that will help you show up when people search. Are you a mariachi band? Put the word &quot;mariachi&quot; in your name. Is your album a collection of nature sounds? Consider words like &quot;forest&quot; and &quot;natural,&quot; and so on. This is a gray area: if your music sounds like Bob Dylan, don't necessarily use his name, but you could use words with association, like &quot;folk.&quot; It's your music, but ask yourself, what words can I use in my band name, album name and/or song name that will cause my music to appear when people search?</p>
    <p><span class="bold">iTunes</span><br />
      iTunes is the largest seller of music in the world and sells more music than any other music store (physical or digital) in the world. Here are some tips on how to get discovered in iTunes. </p>
    <p><span class="bold">Create an iMix </span><br />
      An iMix is a playlist that you've chosen to publish and make available to others in the iTunes Music Store. To get your music to surface and be discovered more, create an iMix (or many many iMixes) with a few of your own songs (say three or so) and other songs (we suggest 9 or so) by more popular artists in the same genre. These iMixes will surface at the other artist's album iTunes pages as well your own, allowing a fan of the other band to discover you. <br />
      <br />
      In addition, give your iMix an interesting name (as opposed to &quot;Cool Songs I Like&quot;), name it something like, &quot;Music to Break Up To,&quot; or &quot;Songs that Morrisey Wishes He Could Write.&quot; Clever titles catch peoples' attention. </p>
    <p>The more iMixes you seed into iTunes, the higher the probability you will be discovered. </p>
    <p><span class="bold">Rate Your iMix</span><br />
      iTunes allows anyone to rate an iMix with between zero and five stars. Have as many people as you can rate your iMix with five stars. High-rated  iMixes get more attention and end up on album pages. Check out the &quot;iMix Notes&quot; field. Take a few moments to write something and talk about your play list. A great description combined with a high rating will increase the odds someone will discover and check our your play list. </p>
    <p>Album Reviews &amp; Ratings<br />
      STATISTIC: Albums in iTunes with customer reviews sell 33% more than albums without them.  Be sure to rate your own album 5 stars, and when you review it: that's a great place to describe the album and the sound. If you happen to have reviews about your music (from blogs or magazines), you can re-type them here. </p>
    <p>In addition, ask your fans and friends to write reviewsâ€”the more reviews the better! Reviews add legitimacy and influence purchases. <br />
      <br />
      In your review, think about what might make someone curious aboutyour music.  For example, posting a review that says, &quot;Dude, this rocks&quot; will have little impact. A review that says, &quot; This reminds me of The Beatles if they had Jimmy Page as their lead guitar and Chris Martin backing up John Lennon,&quot; will cause a lot more interest. <br />
      <br />
      Get creative and thoughtful with what you write. Consider what would cause you to listen to a song. Also note, iTunes lets its user decide if a review was &quot;Useful.&quot;  If you write an interesting review and then have your friends, fans and family indicate the review was useful, the review has a better chance of being the first one people see when they reach your page in iTunes.</p>
    <p><span class="bold">An Eye Catching Art Design</span><br />
      The finishing touch on your music is the visual design of its package, whether you're going to be selling online or in physical stores. A great album cover can catch someone's eye and get them to listen.  If you can't create your own design, hire a designer to give your music more than just a pretty cover; they can give your music the visual image that completes your project and draws people in to listen. </p>
    <p>Collaborating with a graphic designer is as easy as talking to them about what kind of image or feeling you want people to have when they listen to your music. Working with original artwork or photos you supply, they'll give you different options to choose from, and you can work with them to come up with final art that you're happy with.</p>
    <p><span class="bold">Tell a Friend</span><br />
      You can send album reviews or playlists or iMixes to anyone from within iTunes via the iTunes &quot;Tell A Friend&quot; option. Just click on the &quot;Tell A Friend&quot; link in the iTunes store (located next to the album art), enter an email address and iTunes does the rest. This is a great way to communicate with fans that signed up for your email list that you have a new album or song out.  It's also a great way to get more people to rate your review and/or iMix and help these to surface more.</p>
    <p><span class="bold">iTunes Affiliate <%= t(:program).capitalize %></span><br />
      With the free iTunes Affiliate <%= t(:program).capitalize %>, you can link and sell your own music (or anyone's else in the iTunes store) via any Web page or email. With each sale from iTunes that originates from your affiliate link, you will earn a 5% commission on all qualifying revenue generated (IMPORTANT: terms apply, so be sure to check them out). This means that off of each qualifying sale, you will get paid a percentage of the money paid to iTunes by an iTunes customer, if that customer came from your affiliate link. </p>
    <p>In addition, the iTunes &quot;buy&quot; button next to your song on your own<br />
      website, blog, etc is <%= t(:recogniz) %>able and might add further legitimization to you as an important artist. </p>
    <p>The affiliate <%= t(:program) %> auto-generates links for you. All you have to do is place them on any Web page or within an email(s). It's a simple and very effective way to sell your music. After all, most people going to your home page or receiving your emails are already interested in your music and band. </p>
    <p>To get started, visit this page: <br />
      <a href="http://phobos.apple.com/WebObjects/MZSearch.woa/wa/itmsLinkMaker">http://phobos.apple.com/WebObjects/MZSearch.woa/wa/itmsLinkMaker</a><br />
      <br />
      For more information on how to become an iTunes affiliate for free and how to use the <%= t(:program) %>, visit <a href="http://www.apple.com/itunes/affiliates ">http://www.apple.com/itunes/affiliates</a></p>
    <p><span class="bold">Make Easy Weblinks to Your Music</span><br />
      Tunes has recently added a feature that makes it easier for you to easily create web links directly to your content in the iTunes Store</p>
    <p><br />
      You can link directly to any artist/band page using the convention:<br />
      <a href="http://itunes.com/artistname">http://itunes.com/artistname</a></p>
    <p>and you can also link directly to albums/singles using the convention:<br />
      <a href="http://itunes.com/artistname/album">http://itunes.com/artistname/album</a><br />
      </p>
    <p>Here are a couple examples:<br />
      <a href="http://itunes.com/rollingstones">http://itunes.com/rollingstones</a><br />
      <a href="http://itunes.com/nineinchnails/theslip">http://itunes.com/nineinchnails/theslip</a></p>
    <p class="bold">Video - Make a Video<br /></p><p>
      You, your friend or a relative have an old video camera, probably even a digital video camera. You can even rent one for a few dollars a day in most areas. Heck, use your cell phone, but MAKE A VIDEO! This can be almost anything, and the look and feel of it can be as professional or as amateur as you can afford or want. Use your imagination to find clever ways to let a minimum budget and tools work to your advantage. Turn off the video camera's mike and let your music be the soundtrack. Use free tools on your computer do the editing and synching. Use what you have, at all stages. </p>
<p>Most importantly, get CREATIVE.  Make something that others want to see  -  think of videos like the Treadmill Dance by OK GO, or Star Wars kid, Mentos and Coke guys, Kelly's &quot;Shoes&quot; video, Chocolate Rain, Sick Puppies &quot;Free Hugs&quot; video, Boyce Avenue's live acoustic performances of popular songs, and more (if you don't know these videos, just do a quick Google search to see them). </p>
    <p><span class="bold">Post Your Video</span><br />
      Put it on YouTube, use TuneCore to put it on iTunes, put it on every free streaming video or torrent site that will take it. Post the links on a blog, tell your friends, put it on MySpace, and spread the word. Make sure you have a link to your music on iTunes on your YouTube page, so people can buy the music after they watch the video! <br />
    </p>
    <p class="bold">&nbsp;</p>
    <p class="bold">Blog</p>
    <p>MP3 blogs can cause significant music and gig ticket sales. There are currently tens of thousands of MP3 blogs with more springing up each day. If the MP3 blog community embraces your band, you could potentially have thousands of them talking about you and providing MP3s of your songs to hundreds of thousands of music fans. What better way to get the word out than by a real grass roots campaign of music fans talking about you because they love what you do? With the Internet, they have a vehicle to communicate with the world. </p>
    <p>Only you can determine which blogging communities speak best to your fanbase, but remember that no music exists in a vacuum: all music has a community of artists, supporters, fans, performers, composers, historians, enthusiasts and more, all of whom by now have a Web presence no matter what corner of the world they hail from. Use Google to search for MP3 blogs around your music (i.e. indie rock MP3 blog etc) then go to their webpage, find the person to email and email them. </p>
    <p>The best way to reach blogs is to go to their websites and follow their submission policies. In many cases, contacting a blog is as simple as sending an email.</p>
    <p>There are literally tens of thousands of music blogs - here's a short list of places it might be worth your time visiting and contacting (or just visit the blog Gorilla vs. Bear and scroll down to the bottom to see the list with links: http://gorillavsbear.net)</p>
    <a name="3"></a>
    <p><span class="bold">A PARTIAL LIST OF MUSIC BLOGS</span><br />
      Gorilla vs. Bear<br />
      My Old Kentucky Blog<br />
      You Ain't No Picasso<br />
      An Aquarium Drunkard<br />
      Nothing But Green Lights<br />
      So Much Silence<br />
      Transmission<br />
      Hipster Runoff<br />
      Pinglewood<br />
      Motel de Moka<br />
      Yeezy<br />
      Skatterbrain<br />
      Said the Gramophone<br />
      20 Jazz Funk Greats<br />
      Marathon Packs<br />
      Muzzle of Bees<br />
      NEON GOLD<br />
      Raven Sings the Blues<br />
      Laundromatinee<br />
      Mystics not Wastrels<br />
      Abeano<br />
      Cheap Fast Times<br />
      Sex on Fire<br />
      Underrated<br />
      Undomondo<br />
      Music For Robots<br />
      Kitsune Noir<br />
      Attorney Street<br />
      Largehearted Boy<br />
      Circa 45<br />
      SIRIUS Blog Radio<br />
      Brooklyn Vegan<br />
      Stereogum<br />
      Chromewaves<br />
      Big Stereo<br />
      Arawa<br />
      Bibabidi<br />
      Cause=Time<br />
      Sucka Pants<br />
      Fluxblog<br />
      The Rising Storm<br />
      Awesome Tapes from Africa<br />
      Discoteca Oceano<br />
      Brazilian Nuggets<br />
      Tunes Consumed<br />
      We Shot J.R.<br />
      Central Booking<br />
      Halz Haz a Say<br />
      Get Weird Turn Pro<br />
      Sasha Frere-Jones<br />
      Philip Sherburne<br />
      Cannibal Cheerleader<br />
      A Walking Disaster<br />
      The Grizzly LifeT-Sides<br />
      Disco Dust<br />
      IHEARTCOMIX<br />
      La Maladie Tropicale<br />
      Blogs are for Dogs<br />
      Discobelle<br />
      Analog Giant<br />
      Good Weather For<br />
      Airstrikes<br />
      Funeral Pudding<br />
      I Guess I'm Floating<br />
      Music for Kids Who Can't Read Good<br />
      Ultra8201<br />
      Panda Toes<br />
      Disco Delicious<br />
      Indie Interviews<br />
      The Passion of the Weiss<br />
      Elitaste<br />
      The Anchor Center<br />
      The Sound of Marching Feet<br />
      Pasta Primavera<br />
      Lullabyes<br />
      Idolator<br />
      Rock Insider<br />
      Sonic Itch<br />
      Spinner<br />
      Cultura Fina<br />
      Big D little d<br />
      Pampelmoose<br />
      Missing Toof<br />
      The Futurist<br />
      Nerd Litter<br />
      The Hood Internet<br />
      The Pharmacy Rx<br />
      Art Decade<br />
      Deaf Indie Elephants<br />
      1.618<br />
      SixEyes<br />
      Acid Girls<br />
      Rock &amp; Roll Daily<br />
      The Rock Snob<br />
      Dreams Of Horses<br />
      Shake Your Fist<br />
      Scissorkick<br />
      Suspect Drawings<br />
      Sonic Itch<br />
      Bows + Arrows<br />
      The Rawking Refuses to Stop<br />
      Product Shop NYC<br />
      Rockouts<br />
      Done Waiting<br />
      Filter Magazine<br />
      Moistworks<br />
      I am Fuel, You Are Friends<br />
      Naturalismo<br />
      Mars Needs Guitars<br />
      The 3rd Base Line<br />
      Scenestars<br />
      Rachel and the CityTorr<br />
      Cable and Tweed<br />
      I Heart Music<br />
      etheriousity<br />
      Badical Beats<br />
      Palms Out<br />
      What Noisy Cats Are We<br />
      Who Needs Radio?<br />
      Spacelab<br />
      Information Leafblower<br />
      Brooklyn Ski Club<br />
      Take Your Medicine<br />
      Indoor Fireworks<br />
      Audio Deficit Disorder<br />
      Theme Park Experience<br />
      The Rich Girls Are Weeping<br />
      (Sm)all Ages<br />
      Out the Other<br />
      Music For Listeners<br />
      The Test Pilot<br />
      Womenfolk<br />
      Earvolution<br />
      Exitfare<br />
      More Cowbell<br />
      The Camera As Pen<br />
      The Listen<br />
      Yeti Don't Dance<br />
      songs:illinois<br />
      Swedes Please<br />
      All Things Go<br />
      FoeWeel<br />
      Where Is Helsinki?<br />
      sixeyes<br />
      Gulf Coast Bands<br />
      Muzak for Cybernetics<br />
      Veritas Lux Mea<br />
      Can You See The Sunset...<br />
      Some Velvet Blog<br />
      Thoracic Fax Machine<br />
      15 Minutes To Live<br />
      I Rock I Roll<br />
      The Armchair Novelist<br />
      The Torture Garden<br />
      What We All Want<br />
      Think Tank<br />
      Banana Nutrament<br />
      The Perm &amp; The Skullet<br />
      Between Thought and<br />
      Expression<br />
      Catchdubs<br />
      Houston So Real<br />
      Call Me MickeyTofu Hut<br />
      Plague of Angels<br />
      los amigos de durutti<br />
      Berkeley Place<br />
      Regnyouth<br />
      Work For It<br />
      Pimps of Gore<br />
      Hey Mercedes<br />
      Each Note Secure<br />
      The Big Ticket<br />
      Copy, Right? (cover songs)<br />
      Beware Of The Blog<br />
      Pitchfork<br />
      Prefixmag<br />
      Insound</p>
    <a name="4"></a>
    <p><span class="bold">THE DO IT YOURSELF RECORD COMPANY (And if you act right now, we'll throw in a knife that slices tomatoes paper thin)</span><br />
      by Donald S. Passman, author of All You Need to Know About the Music Business</p>
<p>Historically, record companies held the keys to the kingdom. It took a large <%= t(:organiz) %>ation to manufacture and ship records to stores, meaning things like manufacturing plants, warehouses, sales forces, shipping people, financial controls, etc. Also, in order to really sell records, you had to get your music on the radio and MTV, which took a promotion staff and a lot of money.</p>
    <p>In those days, the record retailers were so big that they wouldn't bother with small players. That meant it was hard to get your product on their shelves if you didn't come through a record company. Also, frankly, the big record companies paid retailers a lot of money to position their product prominently in the stores. So even if an artist managed to get their records into the retail bins, they'd likely get buried in the back. If, somehow, the records started selling anyway, the retailers would pay the artist late (if at all), since one little player didn't matter to them. On top of all this, the artist had to put up the money to manufacture the records. If the stores didn't sell them, they'd be returned to the artist, who'd lose the manufacturing costs, plus the freight costs in both directions. So it took a big player to absorb those kind of risks.</p>
    <p><span class="bold">Today, things have really changed:</span><br />
      While it's still difficult to get your product into stores (now it's because they carry so few titles), physical retailers are becoming less significant as CD sales decline.  Conversely, digital is on the rise, and anyone can get their music distributed digitally.</p>
    <p><br />
      Radio is still very important for mainstream artists, but it's become a very narrow channel, meaning it plays only a limited range of music genres, and not a lot of different titles.  Because of this, alternative ways for people to discover music are becoming more important, and the Internet (which anyone can access) is one of the keys.<br />
      A direct relationship with fans is the next generation of marketing, and young artists are proving more savvy in this area than a lot of established companies. </p>
    <p>On top of all that, when you make a deal with a record company, you give up control of your recordings (as well as other aspects of your life, such as the ability to do music for films, commercials, concert videos, etc.), and you also give up a chunk of your income from both record and non-record areas.</p>
    <p>So, why would you want a record company?  Well, if you're a niche artist (for example, a jam band, backpacker, or indie rock band), and you're happy staying in your niche and selling to a small group of fans, you may not need or want a record deal. It's possible (through outfits like TuneCore) to get your music to iTunes, Amazon, and other digital retailers, and you can make a living doing gigs, promoting yourself directly to your fans, and selling your tracks. Because your genre limits your potential audience, you'll often make more money by doing it yourself than you will with a record company. For a record deal to make sense, the company has to generate more money for you (after they take their piece) than you would get by selling less product on your own. With niche artists, that's often questionable.</p>
    <p>If you're more mainstream, such as pop, rock, or country, this is a much tougher question. You can of course set up a killer<br />
    </p>
    <p>MySpace page, build a fanbase, and sell directly to them. Since your music has a wide appeal, if you break through, you'll make far more money by keeping the record company's share of the pie, not to mention keeping all of your non-record income. But here's the problem: The same way that it's easy for you to set all this up, it's easy for everybody to set this up. There are over four million bands on MySpace, and that number is growing. </p>
    <p class="bold">How's anyone going to find your music?</p>
    <p>There are some &quot;virtual&quot; record companies who can help. These companies, who were started by talented people who lost record company jobs when the industry melted down, will do everything from sales, marketing, promotion, etc., yet let you keep control of your destiny.  However, they charge pretty heavily for these services, which most new artists can't afford.  Thus, they've mostly been successful with artists who've already released a few albums (and therefore have a fan base), but are out of their record deals.  For this reason, a lot (maybe even most) mainstream artists are still looking for record deals. </p>
    <p>Having said all that, young artists today are working the Internet and new media far better than the established record industry. The future of music marketing is to know who your fans are and to contact them directly.  In the past, no one had any idea who went into record stores and bought the multi-million sellers, or who was listening to the radio when they were played millions of times. Today, between the Internet and cellphones, it's possible to know exactly who likes your music.</p>
    <p>Young artists have gotten very sophisticated about building a database of their fans. For example, at their shows, many artists give away something (pins, stickers, hundred dollar bills, etc) to everyone who signs their mailing list. The artists then promote their shows, recordings, and merchandise through email and mobile phone text messaging. Some artists even do lifecasting, where they're communicating with fans a number of times each day. For example, they might iChat on the way to a gig; blast out backstage updates through Twitter or Kyte; send pictures of themselves on stage; forward videos of themselves in the bathtub with rubber duckies; etc. Even if they only build their fan list with a few more people at each gig, if they keep at it, they can get enough to generate a buzz on MySpace and similar sites. </p>
    <p>So these days, more than ever before, it's possible to build a career on your own.  Or if not a career, at least a solid base from which to launch yourself and get the attention of a record company, if you decide to go with a record company. </p>
    <p><span class="bold">Now get out there and do it! </span><br />
      TUNECORE FACTOIDS</p>
    <p>- In 2009 TuneCore artists sold or got paid for streams of over 61,000,000 albums and songs earning them over $32,000,000</p>
    <p>- 12% of all iTunes users buy music from TuneCore Artists</p>
    <p>- More than one song a second sells by a TuneCore Artist on iTunes</p>
    <p>- TuneCore Artists' music represents one of the Top 10 revenue generating digital music <%= t(:catalog) %>s in the world</p>
    <p>- The first TuneCore Artist was Frank Black</p>
    <p>- The best selling TuneCore Artist of all time is Kelly, selling over 2,500,000 copies of his music</p>
    <p>- Over 1,000 TuneCore Artists have been featured on iTunes,<br />
      Amazon Music, Rhapsody, MySpace Music and more</p>
    <p>- 26 TuneCore Artists have been featured as the iTunes free Single Of The Week</p>
    <p>- More music is released via TuneCore in one day than via a major record label over two years</p>
    <p>- The best selling single by an unsigned artist was TuneCore Artist Drake, selling over 300,000 copies of one song in 11 days</p>
    <p></p>
  </div>
  </div>
  </div>
</div>
<script>
  $('#leftnav ul li.active').corner();



</script>
</div>

</body>
</html>
