<%= render :partial => "guide_js" %>

  <h2 class="h2cufon">How Not To Get Screwed</h2>
   <div class="writtenby">by Jeff Price, Founder, TuneCore</div>
  <div id="download">
    <div id="downloadbtn"><a href="/images/artwork/templates/pdfs/tunecore_six_legal_rights.pdf" class="button">Download This</a></div>
  </div>

  <div class="content">
    <section class="sidebar grid_3 alpha">
      <nav class="grid_3 alpha">
        <ul>
          <li class="selected"><a class="list" href="#1">Intro</a></li>
          <li><a href="#2">Right I</a></li>
          <li><a href="#3">Right II</a></li>
          <li><a href="#4">Right III</a></li>
          <li><a href="#5">Right IV</a></li>
          <li><a href="#6">Right V</a></li>
          <li><a href="#7">Right VI</a></li>
          <li><a href="#8">My Head Hurts</a></li>
          <li><a href="#9">Authors</a></li>
        </ul>
      </nav>
    </section>
    <section class="main grid_13 alpha">
      <section id="1">
        <h1>Intro: The six exclusive copyrights that drive the entire music business!</h1>
        <h2>Introduction by Jeff Price, founder, TuneCore</h2>

        <p>The instant you write or record an original song, be it on a cocktail napkin or sing it into your iPhone, you get six exclusive legal copyrights as granted by the government.</p>

        <p>These six legal copyrights (in no particular order) are:</p>
        <ul>
          <li>Reproduction</li>
          <li>Derivatives</li>
          <li>Public Display</li>
          <li>Public Performance</li>
          <li>Distribution</li>
          <li>Digital Transmission</li>
        </ul>

        <p>These rights protect your song, allow you to make money off it and control how others can use it (hey, it is your song after all!) These laws were written by Congress (or the equivalent in other countries) to protect and empower you&hellip;and advance a culture of creativity, which the government believes benefits society at large.</p>

        <p>These six rights drive and dictate the rules and money of the entire music business.</p>

        <p>The purpose of this booklet is to arm you with the knowledge that enables you to make informed decisions, control your rights, make money and pursue your passions on your own terms.</p>

        <h3>THE BASICS</h3>
        <p>Before we drill into the six copyrights, it&rsquo;s important to have the basics. There are two copyrights to every recorded song – a &copy; and a &#x2117;.</p>

        <p>This is Dolly Parton. She wrote the song &ldquo;I Will Always Love You&rdquo;.</p>

        <p>This is Columbia Records. Columbia Records hires Whitney Houston to sing Dolly’s song &ldquo;I Will Always Love You&rdquo;.</p>

        <p>This is the recording of Dolly&rsquo;s song &ldquo;I Will Always Love You&rdquo; that Columbia Records hired Whitney to sing. The actual recording of Whitney singing Dolly&rsquo;s song is controlled by Columbia Records – this is the &#x2117; - it stands for &ldquo;Phonogram&rdquo;</p>

        <p>The song itself is owned by Dolly, this is the &copy; - it stands for &ldquo;Copyright&rdquo; Many of the copyright laws benefit the songwriter (Dolly) more than the performer (Whitney).</p>

        <p>If you are both the songwriter and the performer, it’s important to imagine yourself split in two.</p>

        <p>For example, Dolly wrote the song. Columbia Records then makes a deal with Dolly Parton (the Performer) to sing Dolly Parton’s (the Songwriter’s) song. Dolly Parton (Performer) could make no money while Dolly Parton (Songwriter) could make a bundle due to copyright laws. Which brings us to the first copyright: The Right of Reproduction (and no, that is not a bad name for an adult film!).</p>
      </section>

      <section id="2">
        <h1>RIGHT I: THE RIGHT TO REPRODUCE</h1>

        <p>The Right To Reproduce is obviously the sexiest one of the copyrights you get when you write a song, and it’s also one of the more technical.</p>

        <p>To explain this further, let’s go back to the example <a href="#1">here</a>:</p>

        <p>Columbia Records hires Whitney Houston to sing Dolly Parton&rsquo;s song &ldquo;I Will Always Love You&rdquo;. The recording of the song (the &#x2117;) is controlled by Columbia Records (Label), the song itself (the &copy;) is controlled by Dolly Parton (Songwriter).</p>

        <p>The basic concept behind the right to reproduce is this: under federal law, if you write a song, no one else can reproduce it without paying the songwriter(s) a &ldquo;Mechanical Royalty&rdquo;. The Mechanical Royalty rate is set by the government, and defines the maximum amount that must be paid to the songwriter for each reproduction.</p>

        <p>As an example, Columbia Records decides it is going manufacture 1 million CDs of its recording of Whitney singing Dolly&rsquo;s song. Each time the CD gets made (not sold), Dolly&rsquo;s song has been &ldquo;reproduced&rdquo;. The same holds true if Columbia Records manufactures anything physical &mdash; be it a vinyl record, wax spool, cassette, eight-track tape or any other physical product. Under US law (and the laws around the world) each time Dolly&rsquo;s song is physically reproduced she must be paid by the party who reproduces it the &ldquo;Mechanical Royalty&rdquo; rate as set by the government. A second way a song is &ldquo;reproduced&rdquo; is when it is downloaded to a computer. It makes no difference if the song is bought from iTunes or downloaded for free from a blog or peer-to-peer file sharing service. Each time the song is downloaded to a hard drive it is being &ldquo;reproduced.&rdquo;</p>

        <p>The Mechanical Royalty rate in the U.S. is $0.091 cents (just under a dime) for each and every reproduction. The rate goes up fractionally if the song is over five minutes in length. Therefore, under the letter of the law, if Columbia Records manufactures 1 million CDs that have Dolly&rsquo;s song on it, Dolly gets paid 1 million x $0.091 = $91,000. If Columbia Records manufactures 1 million CDs that have TWO of Dolly&rsquo;s song on it, Dolly gets paid 1 million x ($0.091x2) = $182,000 and so on. It does not matter if the CDs sold, it does not matter if Whitney or Columbia Records made any money, or even if the CD is released &mdash; Dolly Parton (Songwriter) must be paid her mechanical royalty even if Dolly Parton (Performer) makes nothing. The same holds true when a song is downloaded.</p>

        <p>As with anything, there are some nuances to this law. First, if the songwriter (Dolly) has commercially released her song, anyone who wants may cover her song on their release as long as the songwriter is paid the &quot;mechanical royalty&quot; for each reproduction. In other words, once you release a song, you cannot stop anyone from covering it. However, anyone that covers your song MUST pay you the mechanical royalty rate. If they don&rsquo;t, they have violated the law and you can sue them.</p>

        <p>Second, if the song has NOT been commercially released, the copyright holder (Dolly) can pick who gets to release her song first (herself or someone else), and negotiate any rate she wants for that first use.</p>

        <p>Third, the songwriter (Dolly) can waive or modify any of her rights associated with her exclusive right of reproduction. For example, she can agree to get paid mechanical royalties only on CDs that sell. She may also be willing to accept less than the $0.091 per reproduction (called a reduced mechanical). There are lots of permutations of this, but the basic premise is that there is a starting point that everyone must negotiate from.</p>

        <p>There is one more type of &ldquo;reproduction&rdquo; &ndash; these are called &ldquo;interactive streams.&rdquo; There are two types of interactive streams. One is for services that charge a fee to listen to a song on demand (like Napster, Rhapsody, Mog, Rdio, etc), the other is for services that do not charge a fee to listen to a song on demand but are ad supported services (like YouTube).</p>

        <p>With these two new types of reproductions, the government expanded the definition of reproduction and came up with additional mechanical royalty rates.</p>

        <p>The owners of these sites and services are required to pay the songwriter a mechanical royalty, which is a combination of a percentage of the revenue generated by the site and a payment per each subscriber. Mechanical royalties are significantly lower for those sites that are non-interactive (like Pandora), than they are for interactive sites (like Rdio).</p>

        <p>The very short version of all of this is, if you write a song, you are to be paid each and every time it is reproduced. This royalty stands alone and must be paid to the songwriter (and only the songwriter (Dolly) &ndash; not the performer (Whitney)) regardless of anything else. And this is one of the reasons why Paul and John have so much more money than George and Ringo.</p>
      </section>

      <section id="3">
        <h1>RIGHT II: DERIVATIVES</h1>

        <p>As previously mentioned, when you are the author of an original work (like a song), and you fix that work in a tangible medium (write it down, record it), you are automatically granted six exclusive rights. One of the rights that you don’t hear about very much is the right to create a &ldquo;derivative work&rdquo;. It, like all the other rights, is codified in the United States Copyright Act and states:</p>

        <p><em>A &ldquo;derivative work&rdquo; is a work based upon one or more pre-existing works, such as a translation, musical arrangement, dramatization, fictionalization, motion picture version, sound recording, art reproduction, abridgment, condensation, or any other form in which a work may be recast, transformed, or adapted. A work consisting of editorial revisions, annotations, elaborations, or other modifications which, as a whole, represent an original work of authorship, is a &ldquo;derivative work&rdquo;.</em></p>

        <p>Put simply, the only person who can create or grant the rights for a derivative work to be created is the holder of the copyright for the original work.</p>

        <h2>Translations – i.e. singing the song in another language</h2>

        <p>When, for instance, The Gypsy Kings decided to do a version of The Eagles&rsquo; &ldquo;Hotel California,&rdquo; sung in Spanish (as seen in The Big Lebowski), it was a translation of the original work, and as such, not a cover. Thus, the Gypsy Kings had to get permission from the copyright holder(s) of &ldquo;Hotel California&rdquo; (the songwriter(s)) in order to create this &ldquo;derivative&rdquo; version of the work. Remember, as we discuss above in the &ldquo;Right to Reproduce&rdquo; section, you can cover any song that has been publicly released without getting anyone&rsquo;s permission so long as you don&rsquo;t make substantive changes to the lyrics or melody, and you abide by the mechanical license (i.e. legal) requirements.</p>

        <p>A translation, however, is deemed to be a substantial change, and therefore a derivative work, which, as an exclusive right of the holder of the copyright (the songwriter), requires permission to be granted. In other words, you can say &ldquo;no&rdquo;.</p>

        <p>As you can see from the above quote from the Copyright Act, it&rsquo;s not just translations that are deemed derivative works, and require permission from the holder of the copyright. If you, for instance, wanted to create a movie or TV show based on a song, it would be deemed a derivative work (we, like you, are anxiously awaiting the TV show adaptation of the Justin Timberlake song &ldquo;SexyBack&rdquo;).</p>

        <h2>Samples</h2>

        <p>Where I believe derivatives will be relevant to most readers is with respect to sampling.</p>

        <p>Sampling is one of the most confusing elements of the music business, but understanding derivatives will help you better understand both the rules of sampling, and - depending on which side of the fence you&rsquo;re on (sampler or sampled) - the money to be paid/made.</p>

        <p>A sample is when you take a piece of an existing copyrighted work (the &copy; and/or the &#x2117;) and combine it with another
work. If you refer back to the language from the Copyright Act regarding derivatives you&rsquo;ll see explicitly where samples and derivatives overlap:</p>

        <q>&ldquo;&hellp;any other form in which a work may be recast, transformed, or adapted.&rdquo;</q>

        <p>Because a sample clearly involves &ldquo;recast[ing], transform[ing], or adapt[ing]&rdquo; one work in order to merge it with another work, the copyright holder of the work being recast, transformed, or adapted must grant permission for this to occur. Simply put, because a sample is a derivative work, you cannot sample someone else&rsquo;s copyrighted work without permission.</p>

        <p>Note that there are typically two copyrights that must be addressed when a work is sampled (and thus two copyright holders from whom you must get permission in order to avoid infringing):</p>

        <ol>
          <li>The copyright to the song itself - the &copy;</li>
          <li>The copyright to the version of the song (i.e. the master) &ndash; the &#x2117;</li>
        </ol>

        <p>For instance, if you want to sample the guitar riff from a Beatles&rsquo; song, you would need to negotiate a deal with the copyright holder to the song (The Beatles&rsquo; publisher(s) - the &copy;), and negotiate a deal with the copyright holder to the version of the song from the recording from which you are sampling (The Beatles&rsquo; label - the &#x2117;). Either party can reject the request and refuse to grant you the right to create a derivative work.</p>

        <p>Should they not reject the request outright, they will negotiate with you to attempt to come to terms that allow you to create a derivative work. Unlike mechanical royalties (see the Reproduction chapter) there is no legally required maximum rate for samples, so publishers and master holders will negotiate in order to get everything they can - including the rights to the copyright of the song that is using their sample.</p>

        <p>A lesser-known approach to sampling is often referred to as a &ldquo;replay.&rdquo; This is where a derivative work is created and used as part of another work via a re-performance/re-recording of a piece of the original work.</p>

        <p>For instance, if an artist, instead of taking the sample of a guitar riff from a Beatles&rsquo; record, plays the riff herself and then uses her version within her own song, she creates a derivative work of the composition (the song), but not the master. In this situation, the person creating the derivative &ldquo;replay&rdquo; would need to negotiate a deal with the copyright holder of the song (i.e. the publisher), but not with the copyright holder of the recording (i.e. the master holder - typically, the label). Of course, the publisher can reject the request; in which case, the replay cannot be used.</p>

        <p>If you do not negotiate the rights to create a derivative/sample work with the relevant copyright holder(s), you are infringing on the exclusive right of the copyright holder(s) to create a derivative work, and you can be sued. It cuts both ways, of course; should someone want to sample your copyrighted work, he or she will have to negotiate a deal with you in order to do so, or risk you suing them for infringing upon your exclusive right to create derivative works.</p>

        <h2>A note on the fair use defense of &ldquo;transformativeness&rdquo;</h2>

        <p>The band 2 Live Crew used a sample of the Sony/BMG controlled master (the &#x2117;) from the Roy Orbison song controlled by the publisher Acuff-Rose &ldquo;Oh, Pretty Woman&rdquo; (the &copy;) in their song called &ldquo;Pretty Woman&rdquo;.</p>

        <p>The U.S. Supreme Court held in Campbell v Acuff-Rose Music Inc. (i.e. the &ldquo;2 Live Crew Case&rdquo;) that while 2 Live Crew&rsquo;s un<%= t(:authoriz) %>ed use of elements of &ldquo;Oh, Pretty Woman&rdquo; constituted a derivative work, the infringement was defensible due to fair use because 2 Live Crew&rsquo;s version provides new insight to listeners, and thus represents socially important commentary (this is very similar to/overlaps with the fair use defense of parody).</p>

        <p>This transformativeness fair use defense is likely what the sampling artist Girl Talk will rely on should any of the various copyright holders sue him for infringing upon their exclusive right to create derivative works.</p>

        <h2>There is no such thing as a &ldquo;small enough&rdquo; sample</h2>

        <p>Don&rsquo;t be confused with respect to misinformation regarding the right to use small amounts of another&rsquo;s copyrighted work in your composition - i.e. a &ldquo;short&rdquo; sample - without legal risk. There is no clear standard for what is considered de minimis usage, and thus you are at risk if you use someone else&rsquo;s copyrighted work no matter how short that &ldquo;use&rdquo; is.</p>

        <h2>Ignorance is not a Defense</h2>

        <p>The courts do not view ignorance as a defense. If you create a derivative work without knowing or intending to do so - e.g., you put a riff in your work that is so similar as to be seen as a derivative work of another&rsquo;s copyrighted material, but you didn&rsquo;t know about this prior work - the law states that you are still infringing on the copyright holder&rsquo;s exclusive right to create a derivative work. However, if you can show that there was no knowing or intentional infringement, the damages will be less than if you intentionally and knowingly infringed.</p>
      </section>

      <section id="4">
        <h1>RIGHT III: DISPLAY</h1>

        <p>As soon as you write down or record an original song you get the exclusive right to display this work in public. This right is more often thought to relate to photographers, painters, sculptors or others who work in the visual realm. However, this exclusive right does have relevance to those who hold copyrights in musical works (songs) as well.</p>

        <p>The Copyright Act defines displaying a work as showing a copy of the work, directly or via some &ldquo;device or process&rdquo; (like the Internet or a t-shirt). Such a display is considered public in one of four situations: (i) when it is at a place open to the public; (ii) when it is at a place with a group of people larger than a gathering of family or the normal circle of friends; (iii) when it is transmitted to a place open to the public or a group of people larger than a gathering of family or the normal circle of friends; or (iv) where it is transmitted to the public (i.e., television and radio broadcasts).</p>

        <p>The most obvious way in which the exclusive right to display a &ldquo;copyrighted audio work&rdquo; (i.e. a song) is done is by displaying the lyrics &ndash; for example, a website that publishes song lyrics. The display (and, of course, reproduction) of song lyrics on a t-shirt, in a book, on a website etc. can only occur if the copyright holder has granted the right.</p>

        <p>This same right needs to be negotiated and granted to anyone that wants to create, distribute and/or reproduce sheet music.</p>

        <p>Increasingly, this right to display comes into play with respect to online lyric/tab sites. It is unlikely that these websites that make money via advertising have negotiated with the copyright holder to display their lyrics. In other words, they are making money through advertising off of other people&rsquo;s copyrights.</p>

        <p>Of course, if you are the songwriter and record label you likely have the copyright to the graphic elements associated with the package (cover, etc.), you will have the exclusive right to display these elements as well. Thus, album artwork used on t-shirts, posters, etc., must be cleared by you prior to its being publicly displayed.</p>
      </section>

      <section id="5">
        <h1>RIGHT IV: PERFORMANCE</h1>

        <p>The Copyright Act grants copyright holders to musical works (the &copy;) the exclusive public performance rights. This performance includes both live performances and transmissions of performances; for example, songs played on radio or TV.</p>

        <p>Under the law, a public performance is:</p>

        <p><em>(1) it occurs at a place open to the public where there is a substantial number of persons, outside of a gathering of family and friends (like a live gig); or (2) the performance is transmitted to such a place (like being in a bar watching the live gig happening somewhere else); or (3) the performance is transmitted so that members of the public can receive the performance at the same or different places, at the same or different times (like being at home and watching the gig on the internet).</em></p>

        <h2>The Exclusive Right to Publicly Perform a Copyrighted Work</h2>

        <p>As one example, the exclusive right to publicly perform a copyrighted work means that only the copyright holder of the song (the songwriter) may, for instance, play the song in a club. Additionally, it means that in order for a radio station to broadcast that artist&rsquo;s copyrighted song, the radio station must have an agreement in place with the songwriter (the &copy;). Same deal if, for instance, a TV station airs a show in which a copyrighted song by the artist plays during the opening credits or in the background of a show.</p>

        <h2>The Performing Rights <%= t(:organiz).capitalize %>ations (also known as PROs): ASCAP, BMI, SESAC</h2>

        <p>In order for the above to take place, clearinghouse agencies were created &ndash; that is, a place an entity can go that represents a whole lot of songwriters. In the United States, these agencies are known as Performance Rights <%= t(:organiz).capitalize %>ations (PROs). There are three dominant ones in the United States: ASCAP, BMI, and SESAC. Each does the same thing: they act on behalf of the songwriters who have affiliated with them, and issue licenses to those who wish to broadcast (i.e. publicly perform) these artists&rsquo; copyrighted songs. Further, these PROs distribute the money they collect in license fees from these broadcasters to their members whose copyrighted songs are publicly performed.</p>

        <p>For instance, club owners pay the PROs a flat annual license fee that allows artists to perform copyrighted music in their club. This is how any artist is able to stand up on any stage and sing a Bob Dylan song. The PROs use a variety of methods (including visiting clubs) to determine which songs are being publicly performed.</p>

        <p>In a similar fashion, the PROs monitor radio play and music played on TV in order to determine which of the writers who have affiliated with them are having their copyrighted works publicly performed.</p>

        <p>For all of the above, only one copyright holder gets paid: The Songwriter (the &copy;). This means, for instance, that every time Columbia Records&rsquo; version of Whitney Houston singing Dolly Parton&rsquo;s song &ldquo;I Will Always Love You&rdquo; is played on the radio, broadcast on TV or performed by Whitney Houston in concert, it is Dolly Parton (and those who represent her) who receive the public performance royalties from the PRO. Columbia Records and Whitney get nothing.</p>

        <p>This exclusive right to publicly perform a copyrighted work is incredibly important for artists and songwriters to understand as it can generate significant amounts of money.</p>

        <p>In order to receive this royalty, the writer must become a member of one of the above-mentioned PROs, and then register each song.</p>
      </section>

      <section id="6">
        <h1>RIGHT V: RIGHT TO DISTRIBUTE</h1>

        <p>Once you write down or record an original song, you get the exclusive right to distribute.</p>

        <p>With respect to CDs, vinyl, or downloads (also known as &ldquo;phonorecords&rdquo;), this simply means no one can sell, rent, or lease copies of your songs without an agreement in place. So, if you are an artist who releases your own records, and you want someone to distribute copies of your records (either physically or digitally), you must enter into an agreement with the distributor to do so.</p>

        <p>In addition, there are important elements of the &ldquo;right to distribute&rdquo; that relate to the use of music in movies and TV shows. Below, we address each of these things.</p>

        <h2>First Sale Doctrine</h2>

        <p>One wrinkle with respect to the right to distribute is that once someone buys a copy of copyrighted work (like a CD), they are able to resell, rent, or lend those works (i.e. give it to a friend or sell it on eBay). This is known as the &ldquo;First Sale Doctrine&rdquo;. This is how used CD stores and libraries, for example, are not infringing on the exclusive right of distribution held by the author or publisher of the work.</p>

        <h2>First Sale Doctrine as it Applies to Digital Copies</h2>

        <p>The First Sale Doctrine is different with digital copies like a download or Internet based stream.</p>

        <p>Congress passed The Digital Millennium Copyright Act to address issues with respect to the &ldquo;First Sale Doctrine&rdquo; in the digital age. It states that while you may purchase a digital copy of a song, you do not have the right to then distribute it digitally in the same way you are able to resell a CD to a used CD store. The rationale, of course, relates to another exclusive right of the copyright holder: the right to reproduce.</p>

        <p>When you resell or lend a physical CD that you have bought, you are actually handing over (distributing) the very same copy of the work that you bought. In other words, you are not reproducing that copy. On the other hand, under the law, you are not allowed to buy a CD, burn a copy of it, and sell that burned copy to a used CD store, because you&rsquo;re violating the exclusive right to reproduce. Similarly, in a digital world, you cannot download a song to your hard drive, and then sell a copy of that song (keeping a copy on your hard drive), because you are reproducing the work, and you don&rsquo;t have the right to do so.</p>

        <h2>The Right to Distribute as it Applies to <%= t(:synchroniz).capitalize %>ations - film and TV placement</h2>

        <p>One key component of the right to distribute is its impact on the ability to use a song in a TV show or movie. When a producer of a film, TV show, or ad desires to use music in a production, the producer must obtain the rights to use this music from the copyright holder(s).</p>

        <p>If, for instance, James Cameron wants to use the Dolly Parton song (the &copy;) &ldquo;I Will Always Love You,&rdquo; that was recorded and released on an album by Columbia Records (the &#x2117;), Mr. Cameron must make a deal with both Dolly (for the song) and Columbia Records (for the recording of the song). He needs Dolly and Columbia Records to grant him the rights to both reproduce and distribute their copyrights. He does this by offering to pay them a lot of money.</p>

        <p>Thus, Mr. Cameron must obtain what is called a &ldquo;<%= t(:synchroniz) %>ation license&rdquo; from the copyright holder of the song (Dolly) and a &ldquo;master usage&rdquo; license from the label (Columbia Records). These licenses grant Mr. Cameron the right to reproduce and distribute the film with Columbia Records&rsquo; recording of Dolly&rsquo;s song in it. If he does this without getting the rights, he could be sued for more money than he made off Titanic (well, maybe not, but you get the point).</p>

        <p>Some of you may be asking what about the right to have the film shown on TV, and not infringe upon the copyright holder&rsquo;s exclusive rights to publicly perform. The answer, as described in greater detail above in the &ldquo;Performance Right&rdquo; section, is that those rights are negotiated with the broadcasters (i.e. the TV stations) on behalf of the copyright holders of the song by the Performance Rights <%= t(:organiz).capitalize %>ations. One side-note, movie theaters in the US are exempt from paying public performance fees.</p>

        <p>The Right to Distribute relates directly back to revenue, as no one may distribute (sell, lend, etc.) your work without your having granted them the rights to do so. Additionally, no one may take your song and use it in a film, TV show, or ad and distribute your work without negotiating with you and getting your permission.</p>
      </section>

      <section id="7">
        <h1>RIGHT VI: DIGITAL TRANSMISSIONS</h1>

        <p>There are two ways for your music to get &ldquo;radio&rdquo; play:</p>

        <p><strong>The old fashioned way:</strong> AM/FM radio where a &ldquo;terrestrial&rdquo; (meaning a broadcast tower sitting here on planet earth) transmits your music to the world via good old fashioned radio waves.</p>

        <p><strong>And second, the new &ldquo;Digital Transmission&rdquo; way:</strong> for the most part, Digital Transmissions happen via the Internet (like Pandora or another Internet radio station); a satellite (Sirius Satellite Radio or Scotty beaming music down to the poor doomed Enterprise Red Shirt); or Cable TV (like Music Choice).</p>

        <p>Under federal law, when music is played on AM/FM radio, the person(s) that actually wrote the song must get paid a royalty for the &ldquo;public performance.&rdquo;</p>

        <p>Taking our example from the front of this booklet:</p>

        <p>Columbia Records negotiates a deal with Whitney Houston to sing Dolly Parton&rsquo;s song &ldquo;I Will Always Love You.&rdquo; Columbia Records&rsquo; version of the song is played on AM/FM radio. Dolly (Songwriter) gets paid for the public performance, but Columbia (Label) and Whitney (Performer) get nothing for this public performance. Yeah, it&rsquo;s weird, but that&rsquo;s the way it works (and once again, you now know why Paul and John made a lot more money than George and Ringo.)<a id="cb_7-1" href="#fn_7-1"><sup>1</sup></a></p>

        <p>The Digital Performance Right in Sound Recordings Act of 1995 and the Digital Millennium Copyright Act of 1998 (DMCA) changed this by stating when music is played via &ldquo;digital transmission&rdquo; radio, Dolly Parton (Songwriter) AND Whitney Houston (Performer) AND Columbia Records (Label) must get paid. The amount paid to the performer (Whitney) and the record label (Columbia Records) is a rate set by the government.</p>

        <p>Therefore, if your recordings have been played via Digital Transmission, U.S. federal law requires that you receive royalties. If it&rsquo;s your song, or your voice, or your instrumental on the recording, you are owed money that is sitting and waiting for you to collect.</p>

        <p>To monitor and collect this money, the music streaming companies provide detailed electronic play logs which are matched to individual recordings allowing an entity called SoundExchange to pay out exactly what is earned. As soon as you sign up online for free with SoundExchange (SoundExchange.com), you can collect royalties you&rsquo;ve earned dating back to the beginning of collections in 1996.</p>

        <p>SoundExchange, a non-profit <%= t(:organiz) %>ation, was appointed by the Library of Congress to collect and distribute these royalties to artists like you. It is free to register with SoundExchange to collect your past or future royalties.</p>

        <p>Just to clarify, plays from sites like YouTube or MySpace do not fall under this law because these sites are deemed to be interactive; meaning listeners can select the specific tracks they wish to stream (a function radio does not have). This means that although YouTube, MySpace and others pay a PRO like ASCAP/BMI/SESAC (talked about elsewhere in this booklet), they are NOT ALSO paying SoundExchange.</p>

        <p>If you are the Songwriter (Dolly Parton), the Performer (Whitney Houston) and the Record Label (Columbia Records) and you register with SoundExchange and a PRO like ASCAP/BMI/SESAC you will receive the maximum amount possible each time there is a public performance via Digital Transmission of your music.</p>

        <p id="fn_7-1" class="footnote"><a href="#cb_7-1"><sup>1</sup></a> For terrestrial AM/FM radio play, every industrialized country in the world, EXCEPT the United States, requires both Whitney (Performer) and Columbia Records (Label) to be paid when they play the song.</p>
      </section>

      <section id="8">
        <h1>THIS JUST MAKES MY HEAD HURT</h1>

        <p>These six rights can sound complex and confusing. Don&rsquo;t let them intimidate you. It is vital that you understand them, as these are the rights that enable you to make informed decisions, control your rights, make money and pursue your passions on your own terms.</p>

        <p>After reading this booklet, your next steps should be registering your songs with the copyright office and registering with a PRO and SoundExchange.</p>

        <p>The rest you can deal with on a case-by-case basis as the opportunities pop up.</p>

        <p>Remember, these are YOUR rights, and you can do with them as you wish, either enforce them vigorously or waive them; the decision is yours. The point is there are rules and laws in place for you to use as you deem appropriate. This is your music and you career. With this information at your fingertips it should help you make the best decisions to pursue your goals.</p>
      </section>

      <section id="9">
        <h1>MEET THE AUTHORS</h1>

        <h2>Jeff Price</h2>

        <p>Jeff co-founded and ran spinART Records for 17 years with his high school friend Joel Morowitz releasing bands like The Pixies, Apples In Stereo, Ron Sexsmith, Boo Radleys, Echo &amp; The Bunnymen, Clem Snide, The Deers and many more.</p>

        <p>In 2005, after becoming angry with digital distribution companies demanding artist&rsquo;s rights and revenue from the sale of their music, he founded TuneCore.</p>

        <p>Along the way he worked to launch eMusic, has appeared and been interviewed on the emerging digital music space by Nightline, ABC News, CNN, MSNBC, New York Times, Wall Street Journal, Billboard, NPR, and many others and from time to time teaches at Berkeley, NYU, Pace and more.</p>

        <h2>George Howard</h2>

        <p>George knew Jeff Price way back when Jeff was the president of spinART and George was the president of Rykodisc. When Jeff originally conceived of the idea that became TuneCore, Jeff, George, Peter Wells, and Gary Burke all sat around Jeff&rsquo;s father&rsquo;s dining room table to flesh it out. George has stayed involved with TuneCore since those early days, and is proud to still work with Jeff to continue to grow the company.</p>

        <p>Currently, George advises numerous entertainment and non-entertainment firms and individuals. Additionally, he is the Executive Editor of Artists House Music and is a Professor and Executive in Residence in the college of Business Administration at Loyola, New Orleans. He is most easily found on Twitter at: <a href="http://www.twitter.com/gah650">twitter.com/gah650</a>.</p>
      </section>

      <section id="10">
        <h1>TUNECORE FACTOIDS</h1>

        <ul>
          <li>TuneCore Artists have generated over $140 million dollars in gross music sales selling over 300 million songs</li>
          <li>TuneCore has a branded section of Amazon</li>
          <li>where it features its artists (Amazon.com/TuneCore)</li>
          <li>Over 20 million iTunes customers buy music from TuneCore Artists</li>
          <li>The first TuneCore Artist was Frank Black</li>
          <li>On iTunes, there have been over 25 TuneCore Artists with a Top 10 album and over 100 with a top 100 album</li>
          <li>More than two songs a second sell by a TuneCore Artist on iTunes</li>
          <li>Over 20% of TuneCore Artists are from outside of the United States</li>
          <li>TuneCore is the largest music distributor of labels, artists, managers and publishers in the world</li>
          <li>More music is released in one day via TuneCore than by a major record label over three years</li>
          <li>TuneCore markets and promotes its artists and has had thousands featured in the digital stores</li>
        </ul>
      </section>

      <section id="11">
        <h1>REFERENCE GUIDE</h1>

        <h2>U.S. Based Performance Rights <%= t(:organiz).capitalize %>ations</h2>

        <p>ASCAP<br />
        <a href="http://www.ascap.com">http://www.ascap.com</a></p>

        <p>BMI<br />
        <a href="http://www.bmi.com">http://www.bmi.com</a></p>

        <p>SESAC<br />
        <a href="http://www.sesac.com">http://www.sesac.com</a></p>

        <h2>Where To Register To Collect Digital Transmission Money</h2>

        <p>SoundExchange<br />
        <a href="http://www.soundexchange.com">http://www.soundexchange.com</a></p>

        <h2>Where To Register Your Copyrights</h2>

        <p>United States Copyright Office, Library of Congress<br />
        <a href="http://www.copyright.gov/">http://www.copyright.gov/</a></p>

        <h2>Where To Distribute Your Music</h2>

        <p>TuneCore<br />
        <a href="http://www.copyright.gov/">http://www.tunecore.com</a></p>

        <h2>Where To Get More Free Information For Artists</h2>

        <p>TuneCore Blog<br />
        <a href="http://www.tunecore.com/blog/">http://www.tunecore.com/blog/</a></p>

        <p>ArtistHouse Music<br />
        <a href="http://www.artistshousemusic.org/">http://www.artistshousemusic.org/</a></p>

        <p>Future Of Music<br />
        <a href="http://futureofmusic.org/">http://futureofmusic.org/</a></p>

        <p>Other TuneCore Music Industry Survival Guides<br />
        <a href="http://www.tunecore.com/guides">http://www.tunecore.com/guides</a></p>

        <h2>Find Us Online</h2>

        <p>TuneCore on Twitter - <a href="http://twitter.com/tunecore">http://twitter.com/tunecore</a></p>
        <p>George Howard&rsquo;s Twitter account - <a href="http://www.twitter.com/gah650">http://www.twitter.com/gah650</a></p>
        <p>George Howard&rsquo;s blog: <a href="http://www.9giantsteps.com">http://www.9giantsteps.com</a></p>
        <p>TuneCore on Facebook: <a href="http://www.facebook.com/TuneCore">http://www.facebook.com/TuneCore</a></p>
      </section>
    </section>
  </div>
</div>
</body>
</html>
