<%= render :partial => "guide_js" %>

  <h2 class="h2regular">13 Different Ways To Make Money From Your Songs</h2>
  <div class="writtenby">by Jeff Price, Founder, TuneCore &amp; Jamie Purpora, President TuneCore Publishing</div>
  <div id="download">
    <a href="/images/artwork/templates/pdfs/survivalguide2.1.pdf" class="button">Download This</a>
  </div>

  <div class="content">
    <section class="sidebar grid_3 alpha">
      <nav class="grid_3 alpha">
        <ul>
          <li class="selected"><a href="#intro">Intro</a></li>
          <li>
            <a href="#chapter_1">Physical/Analog Songwriter Royalties And Revenue</a>
          </li>
          <li>
            <a href="#chapter_2">Digital Songwriter Royalties And Revenue</a>
          </li>
          <li><a href="#find_online">Find TuneCore Online</a></li>
        </ul>
      </nav>
    </section>
    <section class="main grid_13 alpha">
      <section id="intro">
        <h1>Songwriter (AKA Music Publishing) Income Streams</h1>

        <p>In today&rsquo;s world your songs can generate money and royalties via the traditional &ldquo;Physical/Analog&rdquo; music industry or the new &ldquo;Digital&rdquo; music industry. There are in fact a minimum of 13 different and specific ways that you as a songwriter can make money off of your songs.</p>

        <p>Note &ndash; each income stream and type of royalty is generated from both the original recording of a song (i.e. the Beatles&rsquo; version of Paul McCartney&rsquo;s song &ldquo;Yesterday&rdquo;) or off of a cover of the song (i.e. if multiple artists cover the song, the song becomes an &ldquo;x&rdquo; factor multiplier for revenue and royalties). In the case of &ldquo;Yesterday,&rdquo; there are over 25,000 covers, and each version of the song can generate money for the songwriter in many different ways.</p>

        <p>Below, these royalty and income types are broken out into two categories:</p>

        <ul>
          <li><strong>Physical/Analog Songwriter Royalties and Revenue</strong></li>
          <li><strong>Digital Songwriter Royalties and Revenue</strong></li>
        </ul>

        <p>Simply stated, these are most of the different ways you make money as a songwriter.</p>
      </section>
      <section id="chapter_1">
        <h1>Physical/Analog Songwriter Royalties And Revenue</h1>

        <section id="chapter_1-1">
          <h2><strong>Income Type:</strong> Mechanical Royalties</h2>

          <h3>description:</h3>
          <p>A royalty generated from the <strong><em>&ldquo;Reproduction&rdquo;</em></strong> copyright. This royalty is owed to the songwriter for each and every unit sold and/or manufactured for physical product &ndash; i.e.: LP, CD, cassette, USB stick, etc.</p>

          <h3>who/what generates and pays this royalty:</h3>
          <p>Record companies or any other entity manufacturing a physical product (i.e. Victoria&rsquo;s Secret, The Gap, W Hotel, Putamayo, etc.) that contains a songwriter&rsquo;s song on it (either his/her own recording of the song or someone else&rsquo;s cover of that song).</p>

          <h3>amount owed to the songwriter:</h3>
          <ul>
            <li><strong>In the United States:</strong> $0.091 per reproduction of a song. If it&rsquo;s over five minutes, a formula rate kicks in. The U.S. Government sets the rate.</li>
            <li><strong>Outside of the United States:</strong> There is no government-mandated rate, however, the royalty rate is typically 8% - 10% of the list price (varies by country).</li>
          </ul>
        </section>
        <section id="chapter_1-2">
          <h2><strong>Income Type:</strong> &ldquo;Analog&rdquo; Public Performance Royalties</h2>

          <h3>description:</h3>
          <p>A royalty generated from the <strong><em>&ldquo;Public Performance&rdquo;</em></strong> of the copyright. This royalty is owed to the songwriter for each individual &ldquo;Public Performance&rdquo; of a song.</p>

          <aside>
            <h4>Side note: Under U.S. law, a public performance occurs when music is played in:</h4>
            <p><em>(1) A place open to the public where there is a substantial number of persons, outside of a gathering of family and friends (like a live gig); or (2) the performance is transmitted to such a place (like being in a bar watching the live gig happening somewhere else); or (3) the performance is transmitted so that members of the public can receive the performance at the same or different places, at the same or different times (like being at home and watching the gig on the internet).</em></p>
          </aside>

          <h3>who/what generates and pays this royalty:</h3>
          <p>AM/FM radio, network television, cable television, live gigs (i.e. when you play live, the venue must pay for the public performance of the song regardless of if it&rsquo;s an original version or a cover of a song), airplanes, retail stores, bars, restaurants, salons, offices, elevators, telephone hold music, movie theaters outside of the U.S. (for example, each time the movie Titanic played, Celine Dion was paid by the movie theaters for the public performance of her song), grocery stores, shopping malls, etc.</p>

          <h3>amount owed to the songwriter:</h3>
          <p>In both the United States and outside the United States there is no government rate. Instead, there is a one-to-one negotiation between the Performing Rights <%= t(:organiz).capitalize %>ation (PRO) and the other entity. However, governments tend to have &ldquo;Rate&rdquo; judges oversee these rates to assure they do not get unreasonable. These government entities can adjust rates.</p>
        </section>
        <section id="chapter_1-3">
          <h2><strong>Income Type:</strong> <%= t(:synchroniz).capitalize %>ation License Royalties</h2>

          <h3>description:</h3>
          <p>A royalty generated from the <strong><em>&ldquo;Distribution&rdquo;</em></strong> copyright. A one-time license payment is made to the songwriter, allowing the <%= t(:synchroniz) %>n and distribution of a song (either the original recording or a cover version) with a moving image (i.e. a song in a movie, TV show, commercial, DVD, video game, etc.).</p>

          <h3>who/what generates and pays this royalty:</h3>
          <p>Film studios, TV studios, production companies, ad agencies, video game companies, etc.</p>

          <h3>amount owed to the songwriter:</h3>
          <p>In both the United States and outside the United States there is no government rate. The license fee is a one-to-one negotiated amount usually based on length of use, if it&rsquo;s in the background or up front, the territory, the format, and the popularity of the TV show. The range can be from a few hundred dollars to hundreds of thousands of dollars.</p>
        </section>
        <section id="chapter_1-4">
          <h2><strong>Income Type:</strong> Mechanical Syncronization Royalties</h2>

          <h3>description:</h3>
          <p>A royalty generated from the <strong><em>&ldquo;Reproduction&rdquo;</em></strong> copyright. A per unit royalty payment based on number of units manufactured that includes the song (either the original recording or a cover) in a greeting card, toy, video game, etc.</p>

          <h3>who/what generates and pays this royalty:</h3>
          <p>Hallmark, various toy companies, video distributors, video game companies, record companies, etc.</p>

          <h3>amount owed to the songwriter:</h3>
          <p>In both the United States and outside the United States there is no government rate per unit based on the product. The royalty is usually paid based on initial manufactured units.</p>
        </section>
        <section id="chapter_1-5">
          <h2><strong>Income Type:</strong> Print Royalties</h2>

          <h3>description:</h3>
          <p>A royalty generated from the <strong><em>&ldquo;Public Display&rdquo;</em></strong> copyright. Either a one-time or per unit payment based on the printing of lyrics, sheet music, tablature, etc.</p>

          <h3>who/what generates and pays this royalty:</h3>
          <p>Hal Leonard, Alfred Music Publishing as well as various magazines (i.e. Guitar Player showing tabs for a song), books, etc. On rare occasion, a hotel (or other entity) may have a lyric quoted (like the Hard Rock Hotel), and in this case the hotel pays. If the lyrics appear on a t-shirt, the entity making the t-shirt pays a royalty.</p>

          <h3>amount owed to the songwriter:</h3>
          <p>In both the United States and outside the United States there is no government rate. It&rsquo;s a one-to-one negotiation. For sheet music, it is usually 15% of retail price, and/or a one-time fee for pressing is also often negotiated.</p>
        </section>
      </section>
      <section id="chapter_2">
        <h1>Digital Songwriter Royalties And Revenue</h1>

        <section id="chapter_2-1">
          <h2><strong>Income Type:</strong> Digital Download Mechanical Royalties</h2>

          <h3>description:</h3>
          <p>A royalty generated from the <strong><em>&ldquo;Reproduction&rdquo;</em></strong> and <strong><em>&ldquo;Distribution&rdquo;</em></strong> copyrights. This royalty is owed to the songwriter for each and every unit downloaded.</p>

          <h3>who/what generates and pays this royalty:</h3>
          Any download music services: i.e. iTunes, Amazon, Google, Beatport, Spotify, Rhapsody, Xbox Music, Verizon, etc., as well as any &ldquo;direct to fan&rdquo; sales (i.e. RootMusic, TopSpin, etc.).

          <h3>amount owed to the songwriter:</h3>
          <p>It works the same as physical reproductions.</p>

          <ul>
            <li><strong>In the United States:</strong> $0.091 per reproduction of a song. If it&rsquo;s over five minutes, a formula rate kicks in. The U.S. Government sets the rate.</li>
            <li><strong>Outside of the United States:</strong> There is no government-mandated rate, however, the royalty rate is typically 8% - 10% of the list price (varies by country).</li>
          </ul>

          <aside>
            <p><em><strong>Important Note</strong> &ndash; outside of the U.S., the digital music services need both the right of Reproduction and the right of Public Performance to allow a song to be downloaded. Therefore, the local PRO and/or collection agency bundle these two rights together and usually charge 8% - 10% of the list price (varies by country).</em></p>
          </aside>
        </section>
        <section id="chapter_2-2">
          <h2><strong>Income Type:</strong> Streaming Mechanical Royalties</h2>

          <h3>description:</h3>
          <p>A royalty generated from the <strong><em>&ldquo;Reproduction&rdquo;</em></strong> copyright. This royalty is owed to the songwriter for each and every stream of his/her song via an &ldquo;interactive&rdquo; streaming service (&ldquo;interactive&rdquo; means the user can choose his/her songs, stop, go backwards, go forwards, create custom playlists, etc., with no restrictions).</p>

          <h3>who/what generates and pays this royalty:</h3>
          <p>Any interactive digital music service: Rhapsody, Spotify, Rdio, Deezer, Simfy, Xbox Music, Mog, MySpace Music, MixRadio, Slacker, etc.</p>

          <h3>amount owed to the songwriter:</h3>
          <ul>
            <li><strong>In the United States:</strong> A government mandated rate of 10.5% of Gross Revenue minus the cost of &ldquo;Public Performance&rdquo; (at the moment, the average rate per stream is about $0.005. Note &ndash; this rate has increased rapidly over the past two years and is expected to continue to grow).</li>
            <li><strong>Outside of the United States:</strong> There is no government-mandated rate. The royalty rate is typically 8% - 10% of the list price.</li>
          </ul>
        </section>
        <section id="chapter_2-3">
          <h2><strong>Income Type:</strong> Digital Non-interactive &ldquo;Streaming&rdquo; Public Performance Royalties</h2>

          <h3>description:</h3>
          <p>A royalty generated from the <strong><em>&ldquo;Public Performance&rdquo;</em></strong> copyright (also known as the &ldquo;Right of Communication&rdquo;). This royalty is owed to the songwriter for each individual &ldquo;Public Performance&rdquo; of a song via the internet or any other digital source (cable, satellite) via a &ldquo;non-interactive&rdquo; digital service (&ldquo;non-interactive&rdquo; means the user cannot pick songs, create playlists, go backwards, see what song is playing next, etc. Think of it like AM/FM radio).</p>

          <h3>who/what generates and pays this royalty:</h3>
          <p>Pandora, Slacker, LastFM, iHeartRadio, Sirius XM Satellite Radio, cable companies, any radio simulcast on the Net (about 3,000+ entities in the U.S., thousands more outside of the U.S.).</p>

          <h3>amount owed to the songwriter:</h3>
          <p>In both the United States and outside the United States there is no government rate. There is a one-to-one negotiation between the Performing Rights <%= t(:organiz).capitalize %>ation (PRO) and the other entity. The rate they charge the entity is usually based on a % of its Gross Revenue. Then the PRO uses its own formulas and methods to calculate how much the songwriter gets paid.</p>
        </section>
        <section id="chapter_2-4">
          <h2><strong>Income Type:</strong> Interactive &ldquo;Streaming&rdquo; Public Performance Royalties</h2>

          <h3>description:</h3>
          <p>A royalty generated from the <strong><em>&ldquo;Public Performance&rdquo;</em></strong> copyright (also known as the &ldquo;Right of Communication&rdquo;). This royalty is owed to the songwriter from each individual &ldquo;Public Performance&rdquo; of a song via the Internet or any other digital source (cable, satellite) via an &ldquo;interactive&rdquo; service (&ldquo;interactive&rdquo; means the user can choose his/her songs, stop, go backwards, go forwards, create custom playlists, etc., with no restrictions).</p>

          <h3>who/what generates and pays this royalty:</h3>
          <p>YouTube, Spotify, Rhapsody, Rdio, Deezer, Simfy, MySpace Music, any other telecom and/or subscription streaming music service anywhere in the world. Also applies to on-line gaming (i.e. Mafia Wars, etc.).</p>

          <h3>amount owed to the songwriter:</h3>
          <p>In both the United States and outside the United States there is no government rate. There is a one-to-one negotiation between the Performing Rights <%= t(:organiz).capitalize %>ation (PRO) and the other entity. The rate they charge the entity is usually based on a % of its Gross Revenue. Then the PRO uses its own formulas and methods to calculate how much the songwriter gets paid.</p>

          <aside>
            <p><em><strong>Important Note</strong> &ndash; outside of the U.S., the digital music services need both the right of Reproduction and the right of Public Performance to use a song in an interactive streaming service. Therefore, the local PRO and/or collection agency bundle these two rights together and usually charge 8% - 10% of the list price (varies by country).</em></p>
          </aside>
        </section>
        <section id="chapter_2-5">
          <h2><strong>Income Type:</strong> Digital <%= t(:synchroniz).capitalize %>ation License</h2>

          <h3>description:</h3>
          <p>A royalty generated from the <strong><em>&ldquo;Distribution&rdquo;</em></strong> and <strong><em>&ldquo;Reproduction&rdquo;</em></strong> copyrights. A per use license payment to <%= t(:synchroniz) %>e a song (either the original recording or a cover version) with a moving image (i.e. YouTube, Vimeo, etc.).</p>

          <h3>who/what generates and pays this royalty:</h3>
          <p>Primarily sites like YouTube and Vimeo that have &ldquo;User Generated Content&rdquo; (aka UGC), although artists can upload their own videos.</p>

          <h3>amount owed to the songwriter:</h3>
          <p>In both the United States and outside the United States there is no government rate. There is a one-to-one negotiation that sets the per use royalty rate. It&rsquo;s typically a % of Net Revenue as generated by advertising dollars.</p>
        </section>
        <section id="chapter_2-6">
          <h2><strong>Income Type:</strong> Digital Print</h2>

          <h3>description:</h3>
          <p>A royalty generated from the <strong><em>&ldquo;Public Display&rdquo;</em></strong> copyright. Either a one-time or per unit payment based on the display of lyrics, sheet music and tablature on websites, apps, etc. (this includes avatars with virtual t-shirts).</p>

          <h3>who/what generates and pays this royalty:</h3>
          <p>On-line lyric websites, musician websites, websites with avatars, digital version websites of magazines, etc.</p>

          <h3>amount owed to the songwriter:</h3>
          <p>In both the United States and outside the United States there is no government rate. The royalty is typically a fee for a Term (period of time) and/or a % of the Gross Revenue from the site (paid subscriptions, advertising).</p>
        </section>
        <section id="chapter_2-7">
          <h2><strong>Income Type:</strong> Mechanical Royalty For A Ringtone/Ringback Tone</h2>

          <h3>description:</h3>
          <p>A royalty generated from the &ldquo;Reproduction&rdquo; and &ldquo;Distribution&rdquo; copyrights. A royalty is owed from the purchase of a ringtone/ring- back tone for mobile devices.</p>

          <h3>who/what generates and pays this royalty:</h3>
          <p>Telecoms (AT&amp;T, Verizon, T-Mobile, Cricket, Vodafone, etc.) and music services.</p>

          <h3>amount owed to the songwriter:</h3>
          <ul>
            <li><strong>In the United States</strong> it is $0.24 per ringtone.</li>
            <li><strong>Outside of the United States</strong>, there is no government rate set. It is a % of Gross Revenue.</li>
          </ul>
        </section>
        <section id="chapter_2-8">
          <h2><strong>Income Type:</strong> Public Performance Royalty For A Ringtone/Ringback Tone</h2>

          <h3>description:</h3>
          <p>A royalty generated from the <strong><em>&ldquo;Public Performance&rdquo;</em></strong> copyright. A royalty owed for the public performance that occurs with the play of a ringtone/ringback tone.</p>

          <h3>who/what generates and pays this royalty:</h3>
          <p>Telecoms (AT&amp;T, Verizon, T-Mobile, Cricket, Vodafone, etc.) and music services.</p>

          <h3>amount owed to the songwriter:</h3>
          <p>In both the United States and outside the United States there is no government rate. It&rsquo;s a one-to-one negotiation.</p>
        </section>
      </section>
      <section id="find_online">
        <h1>Important TuneCore Links To Check Out</h1>

        <p><a href="http://www.tunecore.com">TuneCore.com</a> (Distribution)</p>

        <p><a href="http://www.tunecore.com/music-publishing-administration">TuneCore.com/Songwriters</a> (TuneCore Publishing Administration)</p>

        <p><a href="http://www.tunecore.com/copyright">TuneCore.com/Copyright</a> (Free Guides, Videos, Articles)</p>

        <p><a href="http://www.tunecore.com/blog">www.tunecore.com/blog</a></p>

        <p><a href="http://www.facebook.com/TuneCore">facebook.com/TuneCore</a></p>

        <p><a href="http://www.twitter.com/tunecore">@TuneCore</a></p>

        <p><a href="http://www.youtube.com/tunecore">YouTube.com/TuneCore</a></p>

        <p><a href="http://www.pinterest.com/tunecore">Pinterest.com/TuneCore</a></p>
      </section>
    </section>
  </div>
