<%= render partial: "/admin/shared/searchbox" %>
<%= render partial: "admin/people/mini_person", locals: { person: @person } %>
<section id="admin_content">
  <h2>Subscription Events for <%= @subscription_type %></h2>
    <table>
        <thead>
          <tr>
            <td>Event Type</td>
            <td>Effective Date</td>
            <td>Termination Date</td>
            <td>Payment Channel</td>
            <td>Invoice</td>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
            <tr>
            <%# TODO: Move to new Admin tools %>
            <%# This code is all eventually going to move to the new Admin tools - we are implementing safe navigation for now because it 
              is unclear how to form a query with clearer/consistent output that still meets the product requirements for this tool, given 
              a lot of the parameters below are inconsistent. We will flesh out those requirements when this is transitioned to the new Admin tools %>
            <td><%= event.event_type %></td>
            <td><%= event.subscription_purchase&.effective_date&.to_date %></td>
            <td><%= event.subscription_purchase&.termination_date ? event.subscription_purchase.get_termination_date : nil %></td>
            <td><%= event.subscription_purchase&.payment_channel %></td>
            <% if event&.subscription_purchase&.purchase %>
              <td><%= link_to "Invoice", admin_person_invoice_path(person_id: @person.id, id: event.subscription_purchase.purchase.invoice.id) %></td>
            <% else %>
              <td>Problem Loading</td>
            <% end %>
            </tr>
          <% end %>
        </tbody>
    </table>
</section>
