<% if Rails.env.production? %>
  <script type="text/javascript">

    window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
        appId      : '<%= FB_APP_ID %>',                        // App ID from the app dashboard
        channelUrl : '<%= "//#{request.host}/channel.html" %>', // Channel file for x-domain comms
        status     : true,                                      // Check Facebook Login status
        cookie     : true,                                      // enable cookies to allow server to access the session
        xfbml      : true                                       // Look for social plugins on the page
      });

      FB.Event.subscribe('auth.authResponseChange', function(response) {
        if (response.status === 'connected') {
          if (typeof FBLoggedInHandler == 'function') {
            FBLoggedInHandler();
          }
        }
      });
    };

    // Load the SDK asynchronously
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  </script>
<% end %>
