<style>
  html {
    --plan-green-1: #00ef86;    /* new_artist      */
    --plan-green-2: #008eb9;    /* new_artist      */
    --plan-blue-1: #008cff;     /* rising_artist   */
    --plan-blue-2: #3d00cc;     /* rising_artist   */
    --plan-red-1: #ec3258;      /* breakout_artist */
    --plan-red-2: #c000b6;      /* breakout_artist */
    --plan-yellow-1: #fcda00;   /* professional    */
    --plan-yellow-2: #ec3258;   /* professional    */

    --plan-color-1: <%= plan_color_var(1) %>;
    --plan-color-2: <%= plan_color_var(2) %>;

    --alert-red: rgb(244, 67, 54);
    --alert-red-bg: rgba(244, 67, 54, 0.2);
  }
</style>
