<%= render partial: 'optimizely_custom_tags' %>
<script src="//cdn.optimizely.com/js/7620104.js"></script>
<%= render partial: 'data_layer' %>
<%= render partial: 'gtm' %>
<%= render partial: 'meta_tags' %>
<%= render partial: 'hreflang_tags' %>
<%= render partial: 'icons' %>
<%= render partial: 'refer_a_friend' if current_user && available_in_region?(current_user.country_domain, "refer_a_friend") %>
<%= csrf_meta_tags %>
<title><%= h(@page_title) + " | " if !@page_title.blank? %>TuneCore</title>
<link rel="canonical" href="<%= @canonical_link %>">
