<link rel="alternate" href="<%= http_or_https + "://web.tunecore.com" + request.fullpath %>" hreflang="en-us" />
<link rel="alternate" href="<%= http_or_https + "://web.tunecore.co.uk" + request.fullpath %>" hreflang="en-gb" />
<link rel="alternate" href="<%= http_or_https + "://web.tunecore.com.au" + request.fullpath %>" hreflang="en-au" />
<link rel="alternate" href="<%= http_or_https + "://web.tunecore.ca" + request.fullpath %>" hreflang="en-ca" />
<link rel="alternate" href="<%= http_or_https + "://web.tunecore.de" + request.fullpath %>" hreflang="de" />
<link rel="alternate" href="<%= http_or_https + "://web.tunecore.in" + request.fullpath %>" hreflang="en-in" />
<link rel="alternate" href="<%= http_or_https + "://web.tunecore.in" + request.fullpath %>" hreflang="hi-in" />
<link rel="alternate" href="<%= http_or_https + "://web.tunecore.fr" + request.fullpath %>" hreflang="fr" />
<link rel="alternate" href="<%= http_or_https + "://web.tunecore.it" + request.fullpath %>" hreflang="it" />
<link rel="alternate" href="<%= http_or_https + "://web.tunecore.com" + request.fullpath %>" hreflang="x-default" />
