<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="fb:app_id" content="367323486722410" />
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:title" content="<%= custom_t("head_content.meta_tags.og.title") %>" />
<meta property="og:description" content="<%= custom_t("head_content.meta_tags.og.description") %>" />
<meta property="og:image" content="http://www.tunecore.com/images/tunecore_icon.png" />
<meta property="og:locale" content="<%= locale_to_og_locale(I18n.locale.to_s) %>" />
<meta name="format-detection" content="telephone=no">

<% if @metatags %>
  <% @metatags.each do |meta_tag| %>
    <%= content_tag :meta, nil, name: meta_tag.name, content: meta_tag.content %>
  <% end %>
<% end %>
