<%= f.fields_for :referral_data do |referral_data_field| %>
  <%= referral_data_field.hidden_field :key %>
  <%= referral_data_field.hidden_field :value %>
  <%= referral_data_field.hidden_field :page %>
  <%= referral_data_field.hidden_field :source %>
  <%= referral_data_field.hidden_field :timestamp %>
<% end %>
