<%= javascript_tag do %>
  window.translations = <%= raw @translations.to_json %>;
<% end %>

<%= javascript_include_tag '//cdn.jsdelivr.net/npm/qtip2@3.0.3/dist/jquery.qtip.min.js' %>

<% content_for :css do %>
  <%= stylesheet_link_tag "//cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css" %>
<% end %>

<div class='youtube track-monetizations__dashboard'>
  <h3 class='youtube track-monetizations__dashboard__page-title'>
    <strong><%= custom_t('ytm_dashboard.ytsr_dashboard') %></strong>
  </h3>

  <div class='youtube track-monetizations__dashboard__text'>
    <p><%= custom_t('ytm_dashboard.submit_your_tracks', faq_link: @ytsr_help_link) %></p>
    <div>
      <em><%= custom_t('ytm_dashboard.eligibility_note') %>:</em>
      <ul><%= custom_t('ytm_dashboard.eligibility_rules') %></ul>
    </div>

    <% if @youtube_preference.nil? || @youtube_preference.channel_id.blank? %>
      <p>
        <%= custom_t('ytm_dashboard.opt_out_notice') %>
        <%= link_to custom_t('ytm_dashboard.set_channel_preferences'), youtube_preferences_path, class: 'button-callout' %>
      </p>
    <% else %>
      <% if @youtube_preference.whitelist %>
        <p><%= custom_t('ytm_dashboard.whitelisted_channel') %></p>
      <% end %>

      <%= link_to(custom_t('ytm_dashboard.use_another_account'), class: 'link-google-account') if @youtube_preference.channel_id.blank? %>
    <% end %>

    <%= link_to(custom_t('ytm_dashboard.ytsr_report'), youtube_royalties_release_report_path, class: 'button-callout') if @has_royalty %>
  </div>

  <div class='youtube track-monetizations__dashboard__table-container'>
    <%= render 'shared/track_monetization_table', service: "youtube" %>
  <div>
</div>
