<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.maskedinput-1.3.js" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.validate.js" %>
  <%= javascript_include_tag "/javascripts/app/bank_account.js" %>

  <script src="https://js.braintreegateway.com/web/3.55.0/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.55.0/js/us-bank-account.min.js"></script>
<% end %>
<%= form_for @stored_bank_account,
  url: stored_bank_accounts_path,
  method: :post,
  html: {:id=>'new_stored_bank_account'} do |f| -%>
  <%= error_messages_for(@stored_bank_account) %>
  <ul>
	<li class='form-divider'>
		<h2>Bank Information</h2>
		<h3>We currently only accept U.S./U.S. Territories bank accounts tied to a
		U.S./U.S Territories address</h3>
		<h3><%= link_to "Where do I find my routing and account number?", {:controller => 'stored_bank_accounts', :action => 'check_image',  :minWidth => 500, :minHeight => 280}, :class => "lightbox" %></h3>
	</li>
</ul>
	<fieldset>
		<ul>
	<%= f.text_field(:bank_name, :name => "merchant_defined_field_9", :label => "Bank Name", :contextual_help => "Enter the name of your bank", :tc_required => true) %>

	<%= f.text_field(:last_four_routing, :name => "checkaba", :label => "ABA/Routing Number", :contextual_help => "Enter your routing number. <span class='em'>Note: TuneCore Electronic Transfers are not wire transfers.</span> Please use the routing number found at the bottom of your checks, as shown #{link_to 'here', {:controller => 'stored_bank_accounts', :action => 'check_image',  :minWidth => 500, :minHeight => 280}, :class => "lightbox"}.", :tc_required => true, :maxlength => 9) %>
	<%= f.password_field(:last_four_account, :name => "checkaccount", :label => "Account Number", :contextual_help => "Enter your account number (numbers only, no dashes or spaces)", :tc_required => true) %>
	<%= f.password_field(:last_four_account_confirmation, :name => "checkaccount_confirmation", :label => "Re-Enter Account Number", :contextual_help => "Re-enter your account number", :tc_required => true) %>
	<%= f.select(:account_type,[["Checking Account", "checking"],["Savings Account", "savings"]], 
               {:label => "Checking or Savings", :include_blank => false,}, 
	            {:name=>"account_type", :tc_required => true, :li_class => "select account-selectbox",
	            :contextual_help => "Select the account type on the bank account."}) %>
	<%= f.select(:account_holder_type,[["Personal Banking","personal"],["Business Banking","business"]], 
               {:label => "Business or Personal Account", :include_blank => false}, 
               {:name=>"account_holder_type", :tc_required => true, :li_class => "select", :class => "",
	            :contextual_help => "Select the account holder type."}) %>
	<%= f.text_field(:company, :name => "company", :label => "Company Name", :contextual_help => "Enter the company name on the bank account if applicable") %>
	<%= hidden_field_tag(:sec_code, "CCD") %>
	<%= hidden_field_tag(:payment, "check") %>
  <%= hidden_field_tag(:braintree_payment_nonce, 0) %>
  <div id="mandate_text"><%= custom_t("controllers.stored_bank_accounts.mandate_text") %></div>
	</ul>
	</fieldset>
	<ul>
	<li class='form-divider'>
		<h2>Personal Information</h2>
		<h3>For your security, <span class='strong-black'>we verify the phone number and address</span> on your bank account before you withdraw money</h3>
	</li>
	</ul>
	<fieldset>
		<ul>

	<%= f.text_field(:name, :name => "checkname", :label => "Name on Bank Account", :contextual_help => "Enter the full name on your bank account, as it would appear on a check (Do not include your company name)", :tc_required => true) %>
	<%= f.text_field(:phone, :name => "phone",:class=>'small', :label => "Your Phone Number", :tc_required => true, :contextual_help => "Enter your primary phone number") %>
	
	<%= f.text_field(:address1, :name => "address1", :label => "Address Line 1", :tc_required => true, :contextual_help => "Enter the street address on the bank account") %>
	<%= f.text_field(:address2, :name => "address2", :label => "Address Line 2", :contextual_help => "Enter the street address on the bank account.") %>
	<%= f.text_field(:city, :name => "city", :label => "City", :tc_required => true, :contextual_help => "Enter the city on the bank account") %>
	<%= f.select(:state, @states, 
							            {:label => "State / U.S. Territory", :include_blank => true}, 
							            {:name=>"state", :tc_required => true, :li_class=>'select-box',
							            :contextual_help => "Select the state for the credit card's billing address."}) %>
	
	<%= f.text_field(:zip, :name => "zip", :label => "Zip Code", :class=>'small',:tc_required => true, :contextual_help => "Enter the zip code on the bank account.") %>
  <%= hidden_field_tag(:country, "US") %>

	<%= braintree_fields('',BRAINTREE[:key_id], :amount => '', :api_key => BRAINTREE[:key]) do |service| -%>
	  <% service.return_url url_for(:controller => 'stored_bank_accounts', :action => 'process_response', :only_path => false) %>
		<% service.storage_operation 'add_customer' %>   
	<% end -%>
	<!-- <li class="cc-purchase-checkbox add-form">
			<%# check_box_tag "mark_as_preferred_checkbox", 1, false, :class=>'checkbox-disclaimer' %> 
		<label for="mark_as_preferred_checkbox" class="disclaimer">I attest that all of the information provided for my bank account is valid and correct. 
			I am aware that there are fees associated with a failed deposit to this account, similar to a bounced check. 
			A failed deposit can occur, but is not limited to, when the routing and bank account numbers you provided are invalid or if you close the bank before requesting a deposit.</label>
		</li> -->
	<li class='stored-bank-submit'>
		<%= submit_tag("#{label} Bank Account", { :class => "submit", :id => "create-credit-card-submit" }) %>
		<%= link_to("Cancel", stored_bank_accounts_path, :class => "cancel")%>
	</li>
	</ul>
	<% if @withdrawal_path %>
		<li><%= hidden_field_tag("merchant_defined_field_11", 1) %></li>
	<% end -%>
</fieldset>
<% end -%>
