<p>
  <b>Bank Name:</b>  <%=h @stored_bank_account.bank_name %><br/>
  <b>ABA/Routing Number:</b>  	<%=h @stored_bank_account.last_four_routing_padded %><br/>
	<b>Account Number (last four digits):</b>		<%=h @stored_bank_account.last_four_account %><br/>
  <br/>
  <b></b> <%=h @stored_bank_account.name %><br/>
<% if !@stored_bank_account.company.nil? %>
  <b></b> <%=h @stored_bank_account.company %><br/>
<% end -%>
  <b></b> <%=h @stored_bank_account.address1 %><br/>
<% if !@stored_bank_account.address2.nil? %>
  <b></b> <%=h @stored_bank_account.address2 %><br/>
<% end -%>
  <b></b><%=h @stored_bank_account.city %>, <%=h @stored_bank_account.state %>, <%=h @stored_bank_account.zip %>
</p>
