<section class="grid_16">	
  <header>
		<h1>Update Bank Account</h1>
		<span class="required-helper">* Required Field</span>
		
	</header>
	<fieldset id="create-credit-card" class='grid_16 alpha omega stored-bank-account'>
	  <legend>Update Bank Account</legend>
	  <ul>
			<%= render :partial=>'form', :locals => {:label => 'Update'} %>
		</ul>
	</fieldset>
</section>