<section class="grid_11">
<header>
	<h1>Current Bank Account Information</h1>
</header>


	<% if !@stored_bank_account.nil? %>

			<% if !@person.has_pending_eft_batch_transaction? %>
				<p>
					<%= link_to 'Update or change your Bank Account Information', edit_stored_bank_account_path(@stored_bank_account) %> |
					<%= link_to 'Delete this Bank Account', @stored_bank_account, :confirm => 'Are you Sure you want to delete this bank account?', :method => :delete %>
				</p>
			<% else -%>
				<p class="em">*Note: You cannot edit your bank account information while you have a pending bank deposit.</p>
			<% end -%>
	  <p>
	    <%= render :partial => 'stored_bank_account_info' %>
	  </p>

  <% else %>

	  <h3>You do not currently have a bank account. If you would like to deposit money directly from your TuneCore account to your Bank Account, please add your bank account here.</h3>
	  <br/>
	  <p> Note: At this time, we can only accept bank accounts for customers in the U.S. and U.S. territories. </p>
			<% if !@person.has_pending_eft_batch_transaction? && current_user.from_united_states_and_territories? %>
        <h4><%= button_to 'Add a Bank Account', new_stored_bank_account_path, class: 'button_enabled' %></h4>
			<% end %>
	<% end -%>
</section>


<aside class="grid_5">
	<%= render(:partial => 'my_account/next_actions')%>
</aside>
