<section class="grid_16">	
  <header>
		<h1>Add Bank Account</h1>
		<span class="required-helper">* Required Field</span>
	</header>
	<fieldset class='grid_16 alpha omega stored-bank-account'>
	  <legend>Add Bank Account</legend>
	  <ul>
			<%= render :partial=>'form', :locals => {:label => 'Add'} %>
		</ul>
	</fieldset>
</section>
