<div class="product">
  <%= product_display_mapper(product) %>
  <%= render(:partial => "carts/purchase_price", :locals => {:price => Product.price(current_user, product)}) %>
	<span class="button-small">
		<%= link_to(custom_t(:add_to_cart), :controller => 'products', :action => 'add_to_cart', :id => product)%>
  </span>
	<%= render(:partial => "carts/promo_and_offer_information", :locals => {:person => current_user, :cert => nil, :targeted_product => product.current_targeted_product}) %>
</div>
