<div class="product thin <%= cycle('', 'thin-odd')%>">
  <div class="info">
    <h3><%= product.display_name_safely_translated %></h3>

    <% if product.india_product? && product.current_targeted_product %>
      <p class="price">
        <s class="striked-out-price">
          <%= money_to_currency(product.original_price.to_money) %>
        </s>
        <%= money_to_currency(product_price) %>
      </p>
    <% else %>
      <p class="price">
        <%= money_to_currency(product_price) %>
      </p>
    <% end %>
    <% if product.flag_text.present? -%>
      <p class='deal'><%= product.flag_text_safely_translated %></p>
    <% end -%>
    <p class="button-small">
      <%= link_to(custom_t(:add_to_cart), {:controller => 'products', :action => 'add_to_cart', :id => product}, :class => "button-callout")%>
    </p>
  </div>
</div>

