<div class="box">
  <% select_first ||= false %>
  <% force_radio_button ||=false %>
  <% if products.length > 1 || (force_radio_button == true && products.length >= 1) -%>
    <% products.each_with_index do |product, index| -%>
      <%= radio_button_tag("product_select", product.id, (params[:product_id].to_i == product.id || (params[:product_id] == nil && index == 0 && select_first == true)), :name => "product_id") %>
      <%= label_tag("product_select_#{product.id}", product_select_label_text(product)) %>
      <% if product.read_attribute(:display_name) == "1_yr" && available_in_region?(current_user.country_domain, "pricing_for_following_year") %>
        <%- renewal_product = product.product_items.first.renewal_product -%>
        <p class="fine_print"><small><%= money_to_currency( renewal_product.calculate_price(renewal_product).to_money(renewal_product.currency) ) %> <%= custom_t(:each_following_year) %></small></p>
      <% end %>
      <%= product_select_notes(product) %>
    <% end -%>
  <% elsif products.length == 1 -%>
    <% product = products.first -%>
    <%= hidden_field_tag(:product_id, product.id) %>
    <%= label_tag(custom_t(".product_id"), product_select_label_text(product)) %>
    <%= product_select_notes(product,true) %>
  <% end -%>
</div>
