<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/distribution_credits.css" %>

  <% if @dark_mode %>
    <%= stylesheet_link_tag "dark_mode/distribution_credits" %>
  <% end %>
<% end %>

<div class="content">
  <header class="row">
    <div class="twelve columns">
      <h1><%= custom_t(:distribution_credits) %></h1>
    </div>
  </header>
  <div class="row">
    <section class="pod nine columns">
      <div class="pod-body">
        <p><%= custom_t(".whats_this") %></p>
        <p><%= custom_t(".hows_it_work") %></p>
        <p><%= caveat_copy %></p>
        <p><%= custom_t(".high_volume_releases") %></p>
      </div>
    </section>

    <% if !@album_products.empty? %>
      <section class="album pod nine columns">
        <header>
          <h2><%= custom_t(".album_creds") %></h2>
        </header>
        <div class="rounded-container subsection product-list album_credits">
          <% @album_products.each do |album_product| %>
           <%= render(:partial => "products/product_thin", :locals => {:product => album_product, product_price: adjusted_price_as_money(album_product) }) %>
          <% end %>
        </div>
      </section>
    <% end %>

    <% if !@single_products.empty? %>
      <section class="single pod nine columns">
        <header>
          <h2><%= custom_t(".single_creds") %></h2>
        </header>
        <div class="rounded-container subsection product-list single_credits">
          <% @single_products.each do |single_product| %>
            <%= render(:partial => "products/product_thin", :locals => {:product => single_product, product_price: adjusted_price_as_money(single_product)}) %>
          <% end %>
        </div>
      </section>
    <% end %>

    <% if !@ringtone_products.empty? %>
      <section class="ringtone pod nine columns end">
        <header>
          <h2><%= custom_t(".ringtone_creds") %></h2>
        </header>
        <div class="rounded-container subsection product-list ringtone_credits">
          <% @ringtone_products.each do |ringtone_product| %>
            <%= render(:partial => "products/product_thin", :locals => {:product => ringtone_product, product_price: adjusted_price_as_money(ringtone_product)}) %>
          <% end %>
        </div>
      </section>
    <% end %>
  </div>
</div>
