<div style="margin-bottom:15px;clear:both;">

  <div class="titlestripe" style="height:100%;width:490px;float:left;background-color:#ffffff;border-color:#CCCCCC">
    <div style="width:120px;float:left">
      <%= image_tag('/images/video/clapperboard_yellow.jpg', :alt => video.name + " Cover", :width=>120, :height=>120, :style => 'border-width:0px;float:none;') %>
    </div>

    <div class="" style="float:left;padding-left:10px;width:350px;">
      <div style="font-size:1.5em;font-weight:bold"><%= link_to(truncate(video.name, :length => 75), video_path(video), {:style => 'color:#000000;text-decoration:underlined'}) %></div>
           <% if video.video_type == "FeatureFilm" %>
          Director: <strong><%= h video.director %></strong>
          <% else %>
            Artist: <strong><%= h video.artist_name %></strong>
          <% end %>
        </strong>
      <br/>
        Type: <strong><%= video.video_type.titleize %></strong><br/>
        <% if video.label %>
        Label: <strong><%= h video.label.name %></strong><br/>
        <% end %>
        Release Date: <strong><%= fmt_short_date(video.sale_date) %></strong><br/>
        Created Date: <strong><%= fmt_short_date(video.created_on) %></strong><br/>
        Status: <strong><%= video_state(video)%></strong><br/><br/>
        ID: <strong><%= video.code %></strong><br/>
        TC UPC: <strong><%= h video.tunecore_upc%></strong><br/>
        TuneCore Song ID: <strong><%= h video.tunecore_isrc%></strong><br/>
        Owner: <strong><%= link_to h(video.person.name), :controller => "admin/people", :action => 'show', :id => video.person.id %></strong><br/>
        Description: <strong><%= h video_description(video)%></strong><br/>
      <div style="padding-top:6px;">
      </div>
    </div>
    <div style="clear:both"></div>
  </div>

  <% if video.finalized?%>
  <div class="titlestripe" style="clear:none;height:100%;width:220px;float:left;margin-left:5px;background-color:#ffffff;border-color:#CCCCCC" >
    <table  style="float:right;width:100%;">
      <tr><td>&nbsp;</td></tr>
      <tr><td><%= link_to('get metadata', :controller => 'admin/videos', :action => 'metadata', :id => video.id )%></td></tr>
    </table>
  </div>
  <% end %>

  <div style="clear:both"></div>
</div>
