<h1 class="page_title">Video Metadata</h1>

	<table class="left-align">
		<tr>
			<td style="font-weight: bold;">Provider</td><td style="text-align: left;"> Tunecore </td>
		</tr>
		<tr>
			<td style="font-weight: bold;"> Title </td> <td style="text-align: left;"> <%=h @video.name %> </td>
		</tr>
		<tr>
			<td style="font-weight: bold;"> Version </td> <td style="text-align: left;"> <%=h @video.version || "" %> </td>
		</tr>
		<tr>
			<td style="font-weight: bold;"> Artist </td> <td style="text-align: left;"> <%=h @video.artist.name %> </td>
		</tr>
		<tr>
			<td style="font-weight: bold;"> Featured Artist </td> <td></td>
		</tr>
		<tr>
			<td style="font-weight: bold;"> First Release Date </td><td style="text-align: left;"> <%=h @video.orig_release_year || "" %> </td>
		</tr>
		<tr>
			<td style="font-weight: bold;"> Available Date </td><td style="text-align: left;"> <%=h @video.sale_date %> </td>
		</tr>
		<tr> 
			<td style="font-weight: bold;"> Label </td> <td style="text-align: left;"> <%=h @video.artist.name %> </td>
		</tr>
		<tr>
			<td style="font-weight: bold;"> ISRC </td> <td style="text-align: left;"> <%=h @video.optional_isrc || @video.tunecore_isrc %> </td>
		</tr>
		<tr> 
			<td style="font-weight: bold;"> UPC </td> <td style="text-align: left;"> <%=h @video.upc %> </td>
		</tr>
		<tr>
			<td style="font-weight: bold;"> Regions </td><td style="text-align: left;"> WW </td>
		</tr>
		<tr>
			<td style="font-weight: bold;"> C Copyright </td><td style="text-align: left;"> <%=h @video.c_copyright_date %> </td>
		</tr>
		<tr>
			<td style="font-weight: bold;"> P Copyright </td><td style="text-align: left;"> <%=h @video.c_copyright_date %> </td>
		</tr>
		<tr>
			<td style="font-weight: bold;">Album Title</td><td style="text-align: left;"> <%=h @video.name %> </td>
		</tr>
		<tr>
			<td style="font-weight: bold;"> Closed Captioned </td><td style="text-align: left;"> <%=h @video.closed_captioned %> </td>
		</tr>
		<tr>
			<td style="font-weight: bold;"> Chyron </td><td>No</td>
		</tr>
		<tr>
			<td style="font-weight: bold;"> Director </td><td style="text-align: left;"> <%=h @video.director || ""%> </td>
		</tr>
		<tr>
			<td style="font-weight: bold;"> DP </td><td> <%=h @video.dp || "" %> </td>
		</tr>
		<tr>
			<td style="font-weight: bold;"> Editor </td><td style="text-align: left;"> <%=h @video.editor || "" %> </td>
		</tr>
		<tr>
			<td style="font-weight: bold;"> Producer </td><td> <%=h @video.producer || "" %> </td>
		</tr>
		<tr>
			<td style="font-weight: bold;"> Executive Producer </td><td><%=  @video.executive_producer || "" %></td>
		</tr>
		<tr>
			<td style="font-weight: bold;"> Production Company </td><td style="text-align: left;"> <%=h @video.production_company || "" %> </td>
		</tr>
		

	</table>		

<%= @video.metadata_picked_up == true ? "Metadata sent" : link_to("Mark metadata as sent", :action => "metadata", :metadata_sent => "true", :id => @video.id )%>
		
