<div id="sales_listing">
	<h1>Admin :: Album Search</h1>
	<%= render :partial => '/admin/shared/searchbox'%>

<% if @search_items.any? %>

<div style="margin: 30px 0 10px 0; font-size: 110%;">
	Results for "<strong><%=h @search_text %></strong>"
</div>

<% @search_items.each do |video| %>
	<%= render :partial => 'mini_video', :locals => {:video => video} %>
<% end %>

<% if @search_items.length == 0%>
	<div>No items match your criteria</div>
<% end %>

<% if @search_items.total_entries > @search_items.per_page %>

<div class="tc_pagination">
Jump to page:
<%= will_paginate( @search_items, :params => {:term => params[:term]}) %>
</div>
<% end %>
</div>
<% end %>
