<div id="sales_listing">
	<h1>Admin :: Show Video</h1>
	<%= render :partial => '/admin/shared/searchbox'%><br /><br />
	<div id="mini_album_container">
    <%= render :partial => 'mini_video', :locals => {:video => @video} %>
	</div>
</div>
