<div style="font-family: Verdana, Sans-serif; font-size: 10px;">
<p style="text-align: center;"><img src="http://www.tunecore.com/images/email/ingrooves_logo.png" alt=""></p>

<h1 style="font-size: 12px; text-align: center; text-decoration: underline;">ARTIST SUBMISSION INFORMATION</h1>

<p>ARTIST: <%= @song.artist_name %><br>
RELEASE TITLE: <%= display_name(@song) %><br>
<% if @song.is_a?(Song) %>
GENRE: <%= @song.album.primary_genre.name %><% if @song.album.genres.size > 1 %>, <%= @song.album.secondary_genre.name %><% end %><br>
<% else %>
GENRE: <%= @song.genre.name %>
<% end %>
ARTIST HOMETOWN: <%= @user[:hometown] %></p>

<p>ALBUM COMPLETE: <%= @user[:album_complete] %><br>
ALBUM MIXED / MASTERED: <%= @user[:album_mix_mastered] %><br>
PRODUCER: <%= @user[:producer] %><br>
MONTH / YEAR COMPLETED: <%= Date.strptime(@user[:date_completed],"%Y-%m").strftime("%m / %Y") unless @user[:date_completed].blank? %><br>
ARTWORK COMPLETE: <%= @user[:artwork_complete] %></p>

<p>PUBLISHING RIGHTS: <%= @user[:publishing_rights] %><br>
MASTER RIGHTS: <%= @user[:master_rights] %></p>

<p>MANAGER: <%= @user[:manager] %><br>
LAWYER: <%= @user[:lawyer] %><br>
AGENT: <%= @user[:agent] %><br>
INTERNATIONAL AGENTS: <%= @user[:international_agents] %></p>


<h2 style="font-size: 10px; margin-bottom: 0; text-decoration: underline;">ARTIST ASSETS</h2>
<p style="margin-top: 0;">WEBSITE: <%= @user[:website] %></p>

<p>MUSIC LINKS: (SOUNDCLOUD, BANDCAMP)<br><%= @user[:music_streaming_links] %></p>

<p>VIDEO LINKS: (YOUTUBE, EPK, LIVE CLIPS)<br><%= @user[:video_streaming_links] %></p>

<p>PUBLICITY &amp; ARTWORK SHOT LINKS:<br><%= @user[:publicity_shot_artwork_links] %></p>

<p>ARTIST BIOGRAPHY: (ATTACHED)<br><%= @user[:artist_biography] %></p>


<h2 style="font-size: 10px; margin-bottom: 0; text-decoration: underline;">MARKETING</h2>
<p style="margin-top: 0;">MARKETING STRATEGY:<br><%= @user[:marketing_strategy] %></p>

<p>US SALES HISTORY:<br><%= @user[:us_sale_history] %></p>

<p>INTERNATIONAL SALES:<br><%= @user[:international_sales] %></p>

<p>MARKETING CONSULTANTS:<br><%= @user[:marketing_consultants] %></p>

<p>PUBLICIST:<br><%= @user[:publicist] %><br>
CURRENT PRESS:<br><%= @user[:current_press] %></p>


<p>ONLINE MARKETING CONSULTANT:<br><%= @user[:online_marketing_consultant] %><br>
ONLINE STATISTICS:<br><%= @user[:online_statistics] %></p>


<p>RADIO CONSULTANTS:<br><%= @user[:radio_consultants] %><br>
RADIO FORMAT POTENTIAL:<br><%= @user[:radio_format_potential] %><br>
FOCUS TRACKS:<br><%= @user[:focus_tracks] %><br>
CURRENT RADIO EXPOSURE:<br><%= @user[:current_radio_exposure] %></p>


<p>SYNCH &amp; LICENSING PLACEMENTS:<br><%= @user[:sync_licening_placements] %><br>
TV APPEARANCES:<br><%= @user[:tv_appearances] %><br>
AWARDS &amp; NOMINATIONS:<br><%= @user[:awards_nominations] %></p>


<p>TOUR HISTORY &amp; HIGHLIGHTS:<br><%= @user[:tour_history_highlights] %></p>

<p>CURRENT TOUR DATES &amp; PLANS:<br><%= @user[:current_tour_dates_plans] %></p>


<h2 style="font-size: 10px; margin-bottom: 0; text-decoration: underline;">THE DEAL</h2>
<p style="margin-top: 0;">POTENTIAL DEAL SCENARIO: (LABEL DEAL, LICENSE, P&AMP;D)<br><%= @user[:potential_deal_scenario] %></p>

<p>FUNDING REQUESTS: (STUDIO COSTS, MARKETING, P&AMP;D ETC)<br><%= @user[:funding_request] %></p>

<p>INTERNATIONAL RIGHTS AVAILABLE (TERRITORIES):<br><%= @user[:international_rights_available] %></p>

<p>DEAL CONTACT INFORMATION:</p>
<ul>
  <li>NAME: <%= @user[:name] %></li>
  <li>EMAIL: <%= @user[:email] %></li>
  <li>PHONE: <%= @user[:phone] %></li>
  <li>ADDRESS:<br><%= @user[:address] %></li>
</ul>


<p>** All information supplied will be used to assist in shopping your artist &amp; release to INgrooves Fontana distributed labels.<br>
** The information will be made public via email transmission and must be cleared for viral communication.<br>
** DO NOT attach MP3’s or any large files, these will not be forwarded.  All assets must be web based with streaming audio.<br>
** Less is more as time is money.</p>
</div>
