Import Stats
------------
Songs: <%= @stats[:songs] %>
Song Ips: <%= @stats[:song_ips] %>
Song Societies: <%= @stats[:song_societies] %>
Song Registration History: <%= @stats[:song_registration_history] %>