SUSPICIOUS ACTIVITY ALERT
---------------------------------------------------------------
<%= h @person.name.upcase %> was marked as suspicious.


Reason
---------------------------------------------------------------
<%= @note.note %>

By: <%= @note.note_created_by_name %>
On: <%= @note.created_at.strftime('%Y-%m-%d %H:%M:%S') %>


To view all suspicious activity, go to https://studio.tunecore.com/admin/suspicious.