<h1 style="text-decoration: underline;">SUSPICIOUS ACTIVITY ALERT</h1>
<br />
<strong><%= h @person.name %></strong> was marked as suspicious.
<br />
<br />
<h2 style="text-decoration: underline;">Reason</h2>
<%= @note.note %>
<br />
By: <%= @note.note_created_by_name %>
On: <%= @note.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
<br />
<br />
<br />
To view all suspicious activity, go to <a href="https://studio.tunecore.com/admin/suspicious">https://studio.tunecore.com/admin/suspicious</a>.