There is a new license request for:
“<%= @composition %>”
<%= @label_copy %> 
Written by <%= @writers %>
Performed by <%= @artist_name %>

You can view the full request at <%= @url %>

Here are the specifics of the request:
Requested by: <%= @person.name %>

<% if @request.request_document.exists? %>
Request made with uploaded form.
<% else %>

Production Info
  <% if @request.sync_license_production %>
Production Title: <%= @request.sync_license_production.title %>
Production Description: <%= @request.sync_license_production.description %>
Studio: <%= @request.sync_license_production.studio %>
Budget: <%= @request.sync_license_production.budget %>
  <% end %>

Usage Info

Scene Description: <%= @request.scene_description %>
Master Use: <%= @request.master_use? ? "Yes" : "No" %>
Type of Use: <%= @request.type_of_use %>
Duration: <%= "#{@request.duration_min} minutes and #{@request.duration_sec} seconds" %>

Terms and Options
  <% @request.sync_license_options.each do |option| %>
Media: <%= option.media %>
Territory: <%= option.territory %>
Term: <%= option.term %>
Offer: <%= option.offer %>
Comments: <%= option.comments %>
  <% end %>
<% end %>
