There is a new sync membership request

Name: <%= @membership_request.name %><br/>
Email: <%= @membership_request.email %><br/>
Country: <%= @membership_request.country %><br/>
Company: <%= @membership_request.company %><br/>
Website: <%= @membership_request.website %><br/>
Phone Number: <%= @membership_request.phone_number %><br/>

