<div id="compare-plans">
  <table>
    <thead>
    <tr>
      <th></th>
      <% @plans.each do |plan| %>
        <%= render partial: "plan_th", locals: { plan: plan[:plan], eligible: plan[:eligible] } %>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="plan-feature-cell-container">
          <%= custom_t("plans.comparison_table.features.unlimited_social") %>
          <div class="plan-tooltip-wrapper">
            <%= image_tag "plans/Question.svg" %>
            <div class="plan-tooltip">
              <%= custom_t("plans.comparison_table.tooltips.earn_money") %>
            </div>
          </div>
        </div>
      </td>
      <td><%= image_tag "plans/CheckGreen.svg" %></td>
      <td><%= image_tag "plans/CheckBlue.svg" %></td>
      <td><%= image_tag "plans/CheckRed.svg" %></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td><%= custom_t("plans.comparison_table.features.unlimited_digital") %></td>
      <td></td>
      <td><%= image_tag "plans/CheckBlue.svg" %></td>
      <td><%= image_tag "plans/CheckRed.svg" %></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td><%= custom_t("plans.comparison_table.features.all_revenue") %></td>
      <td></td>
      <td><%= image_tag "plans/CheckBlue.svg" %></td>
      <td><%= image_tag "plans/CheckRed.svg" %></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td><%= custom_t("plans.comparison_table.features.spotify_verified") %></td>
      <td></td>
      <td><%= image_tag "plans/CheckBlue.svg" %></td>
      <td><%= image_tag "plans/CheckRed.svg" %></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td><%= custom_t("plans.comparison_table.features.apple_verified") %></td>
      <td></td>
      <td><%= image_tag "plans/CheckBlue.svg" %></td>
      <td><%= image_tag "plans/CheckRed.svg" %></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td><%= custom_t("plans.comparison_table.features.youtube_oac") %></td>
      <td><%= image_tag "plans/CheckGreen.svg" %></td>
      <td><%= image_tag "plans/CheckBlue.svg" %></td>
      <td><%= image_tag "plans/CheckRed.svg" %></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td><%= custom_t("plans.comparison_table.features.rewards_classes") %></td>
      <td><%= image_tag "plans/CheckGreen.svg" %></td>
      <td><%= image_tag "plans/CheckBlue.svg" %></td>
      <td><%= image_tag "plans/CheckRed.svg" %></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td><%= custom_t("plans.comparison_table.features.use_your_isrc") %></td>
      <td><%= image_tag "plans/CheckGreen.svg" %></td>
      <td><%= image_tag "plans/CheckBlue.svg" %></td>
      <td><%= image_tag "plans/CheckRed.svg" %></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td><%= custom_t("plans.comparison_table.features.customer_service") %></td>
      <td>5 <%= custom_t("plans.comparison_table.features.business_days") %></td>
      <td>72 <%= custom_t("plans.comparison_table.features.hours") %></td>
      <td>48 <%= custom_t("plans.comparison_table.features.hours") %></td>
      <td>24 <%= custom_t("plans.comparison_table.features.hours") %></td>
    </tr>
    <tr>
      <td><%= custom_t("plans.comparison_table.features.sales_report") %></td>
      <td><%= image_tag "plans/CheckGreen.svg" %></td>
      <td><%= image_tag "plans/CheckBlue.svg" %></td>
      <td><%= custom_t("plans.comparison_table.features.premium") %></td>
      <td><%= custom_t("plans.comparison_table.features.premium") %></td>
    </tr>
    <tr>
      <td>
        <%= custom_t("plans.comparison_table.features.revenue_splits") + " - " %>
        <span style="font-style: italic;">
          <%= custom_t("plans.comparison_table.features.coming_soon") %>
        </span>
      </td>
      <td></td>
      <td><%= image_tag "plans/CheckBlue.svg" %></td>
      <td><%= image_tag "plans/CheckRed.svg" %></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td><%= custom_t("plans.comparison_table.features.trend_reports") %></td>
      <td></td>
      <td></td>
      <td><%= image_tag "plans/CheckRed.svg" %></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td>
        <div class="plan-feature-cell-container">
          <%= custom_t("plans.comparison_table.features.cover_art") %>
          <div class="plan-tooltip-wrapper">
            <%= image_tag "plans/Question.svg" %>
            <div class="plan-tooltip">
              <%= custom_t("plans.comparison_table.tooltips.cover_art") %>
            </div>
          </div>
        </div>
      </td>
      <td></td>
      <td></td>
      <td><%= image_tag "plans/CheckRed.svg" %></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td>
        <div class="plan-feature-cell-container">
          <%= custom_t("plans.comparison_table.features.scheduled_release") %>
          <div class="plan-tooltip-wrapper">
            <%= image_tag "plans/Question.svg" %>
            <div class="plan-tooltip">
              <%= custom_t("plans.comparison_table.tooltips.scheduled_release") %>
            </div>
          </div>
        </div>
      </td>
      <td></td>
      <td><%= image_tag "plans/CheckBlue.svg" %></td>
      <td><%= image_tag "plans/CheckRed.svg" %></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td>
        <div class="plan-feature-cell-container">
          <%= custom_t("plans.comparison_table.features.store_automator") %>
          <div class="plan-tooltip-wrapper">
            <%= image_tag "plans/Question.svg" %>
            <div class="plan-tooltip">
              <%= custom_t("plans.comparison_table.tooltips.store_automator") %>
            </div>
          </div>
        </div>
      </td>
      <td></td>
      <td></td>
      <td><%= image_tag "plans/CheckRed.svg" %></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td>
        <div class="plan-feature-cell-container">
          <%= custom_t("plans.comparison_table.features.partnerships") %>
          <div class="plan-tooltip-wrapper">
            <%= image_tag "plans/Question.svg" %>
            <div class="plan-tooltip">
              <%= custom_t("plans.comparison_table.tooltips.partnerships") %>
            </div>
          </div>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td>
        <div class="plan-feature-cell-container">
          <%= custom_t("plans.comparison_table.features.promotion") %>
          <div class="plan-tooltip-wrapper">
            <%= image_tag "plans/Question.svg" %>
            <div class="plan-tooltip">
              <%= custom_t("plans.comparison_table.tooltips.promotion") %>
            </div>
          </div>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td>
        <div class="plan-feature-cell-container">
          <%= custom_t("plans.comparison_table.features.pro_panels") %>
          <div class="plan-tooltip-wrapper">
            <%= image_tag "plans/Question.svg" %>
            <div class="plan-tooltip">
              <%= custom_t("plans.comparison_table.tooltips.pro_panels") %>
            </div>
          </div>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td>
        <div class="plan-feature-cell-container">
          <%= custom_t("plans.comparison_table.features.custom_label") %>
          <div class="plan-tooltip-wrapper">
            <%= image_tag "plans/Question.svg" %>
            <div class="plan-tooltip">
              <%= custom_t("plans.comparison_table.tooltips.custom_label") %>
            </div>
          </div>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td><%= custom_t("plans.comparison_table.features.upc") %></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td>
        <div class="plan-feature-cell-container">
          <%= custom_t("plans.comparison_table.features.territory") %>
          <div class="plan-tooltip-wrapper">
            <%= image_tag "plans/Question.svg" %>
            <div class="plan-tooltip">
              <%= custom_t("plans.comparison_table.tooltips.territory") %>
            </div>
          </div>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td>
        <%= custom_t("plans.comparison_table.features.location") %>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= image_tag "plans/CheckYellow.svg" %></td>
    </tr>
    <tr>
      <td>
        <%= custom_t("plans.comparison_table.features.artist_fee") %>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= additional_artist_price %></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tfoot>
  </table>
</div>
