<div class="footer cell small-12 medium-5 align-left">
  <div class="made-in-nyc">
    <span>&copy;
      <%= custom_t('shared.footer.copyright', { current_year: Date.current.year.to_s }) -%>
      <%= custom_t(:all_rights_reserved) -%>
    </span>
    <%= link_to custom_t(:made_in_nyc), "//nytm.org/made", target: "_blank" %>
  </div>
</div>
