<% details = PayPerReleaseHelper::PAY_PER_RELEASE_DETAILS%>
<% PayPerReleaseHelper::PAY_PER_RELEASE.each do |type| %>
  <div class="plan">
    <div class="plan-copy">
      <div class="plan-name">
        <%= custom_t("pay_per_release.#{details[type][:name]}") %>
      </div>
      <div class="plan-price">
        <span><%= pay_per_price(type) %></span>
        <span class="plan-iteration"><%= price_iteration(type) %></span>
      </div>
      
      <% if type == PayPerReleaseHelper::ALBUM %>
        <div class="plan-price-detail">
          <%= custom_t("pay_per_release.following_year", price: renewal_price(:album) )%>
        </div>
      <% end %> 
      
      <div class="plan-blurb">
        <% details[type][:bullet_keys].map do |key| %>   
          <%= custom_t("pay_per_release.#{key}") %></br>
        <% end %>
      </div>
    </div>
      <div>
        <%= button_to custom_t('pay_per_release.get_started'),
                      release_type_path(type),
                      class: "plan-cta-pricing",
                      method: :get
        %>
      </div>
  </div>
<% end %>
