<div class="modal">
  <div class="plans">
    <div class="header">
      <%= plans_header %>
    </div>
    <div class="subheader">
      <%= plans_subheader %>
    </div>
  </div>
  
  <div class="per-release-plan" style="display: none;">
    <div class="header"><%= custom_t("pay_per_release.header") %></div>
  </div>

  <% if show_pay_per_release_options? %>
    <div class="plans-toggle">
      <div class="plan-option active"><%= custom_t("pay_per_release.unlimited_plans") %></div>
      <div class="plan-option"><%= custom_t("pay_per_release.per_release") %></div>
    </div>
  <% end %>
  <div class="plans plan-cards">
    <% @viewable_plan_cards.reject{|p| plan_hidden?(p[:plan], p[:eligible])}.each do |plan| %>
      <%= render partial: "plan",  locals: { plan: plan[:plan], eligible: plan[:eligible] }%>
    <% end %>
  </div>
  <div class="pay-per-release-plan per-release-plan plan-cards" style="display: none;">
    <%= render partial: "pay_per_release", locals: { current_user: current_user } %>
  </div>
  <div class= "plans" style="display:none;">  
    <p class="text-center">
      <%= link_to custom_t("pay_per_release.continue_per_release"),
                  continue_redirect_path(current_user),
                  method: :get,
                  class: "continue-per-release"
      %>
    </p>
  </div>
  <div class="footer plans">
    <a href="#compare-plans" id="compare-plans-btn" class="plan-link"><%= custom_t("plans.compare_plans") %></a>
    <%= link_to continue_button,
                continue_redirect_path(current_user),
                method: :get,
                class: "plan-link continue_no_plan"
    %>
    <% if current_user.no_plan_and_active_releases? %>
      <p> <%= learn_more_link %> </p>
    <% end %>
    <%= render partial: "survey" %>
  </div>
</div>
