<%
  plan_details = PlansHelper::PLAN_DETAILS[plan.name]
  product      = plan.product_by_person(current_user)
  disable_cta  = disable_cta_button?(plan, eligible)

  free_plan_splits_layout = add_splits_layout?(plan, current_user)
  just_splits_collaborator_layout = free_plan_splits_layout && current_user.current_plan?(Plan::NEW_ARTIST)
  splits_plan_blurb_text = splits_plan_name = splits_price_without_units = nil

  if free_plan_splits_layout then
    # If the user has new artist plan, don't show New Artist + Splits Collaborator
    is_double_offer_splits_layout = !current_user.current_plan?(Plan::NEW_ARTIST)
    # overwrite product (for the currency symbol)
    product = splits_product()
    splits_collaborator_price = product.price_for_site(current_user.country_website)
    # Site text
    splits_plan_blurb_text = is_double_offer_splits_layout ? t(".splits_and_artist_blurb_html", price: splits_collaborator_price) : t(".splits_blurb_html", price: splits_collaborator_price)
    splits_plan_name = is_double_offer_splits_layout ? t('.new_artist_plus_splits_collaborator_html') : t('.splits_collaborator')
  end
%>

<div class="<%= "plan plan-#{plan_details[:bg_color]}" \
                "#{' disabled' if disable_cta || plan_disabled?(plan) }"%>"
>
  <% if current_plan?(plan) && !free_plan_splits_layout %>
    <div class="plan-current-plan-tag">
      <%= t('plans.current_plan') %>
    </div>
  <% end %>
  <div class="plan-copy">
    <div class="plan-name"><%= splits_plan_name || plan_name(plan) %></div>
    <div class="plan-price">
      <span class="plan-currency"><%= plan_currency(product) %></span><%= free_plan_splits_layout ? splits_collaborator_price_without_units : plan_price(plan) %><span
      class="plan-iteration"><%= plan_iteration(product) %></span>
    </div>
    <div class="plan-blurb"><%= splits_plan_blurb_text || custom_t("plans.#{plan.name}.blurb") %></div>
    <div class="mobile plan-bullets">
      <ul>
        <% plan_details[:bullet_keys].map do |key| %>
          <li><%= custom_t("plans.features_copy.#{key}") %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div>
    <% cta_text = cta_button(plan, eligible) %>
    <%= button_to cta_text,
                  just_splits_collaborator_layout ? add_splits_collaborator_to_cart_products_path : plan_person_plans_path(plan),
                  class: "plan-cta#{disable_cta ? ' disabled' : ' enabled'}",
                  id: (cta_text == custom_t("plans.upgrade") ? "BTN_plan_upgrade_plan_selection" : nil),
                  disabled: disable_cta,
                  method: just_splits_collaborator_layout ? :get : :post,
                  data: { plan_id: plan.id, clicked_plan_price: Integer(product.price), disable_with: custom_t("plans.loading") }
    %>
  </div>
</div>
