<%
  plan_details = PlansHelper::PLAN_DETAILS[plan.name]
  product      = plan.product_by_person(current_user)
  disable_cta  = disable_cta_button?(plan, eligible)
%>

<th class="plan-<%= plan_details[:bg_color] %><%= ' disabled' if plan_disabled?(plan) %>">
  <div class="plan-name"><%= custom_t("plans.#{plan.name}.name") %></div>
  <div class="plan-price"><span class="plan-currency"><%= plan_currency(product) %></span><%= plan_price(plan) %><span
    class="plan-iteration"><%= plan_iteration(product) %></span>
  </div>
  <%= button_to cta_button(plan, eligible),
                plan_person_plans_path(plan),
                class: "plan-cta#{disable_cta ? ' disabled' : ' enabled'}",
                id: "BTN_plan_upgrade_plan_selection",
                disabled: disable_cta,
                method: :post,
                data: { plan_id: plan.id, clicked_plan_price: Integer(product.price), disable_with: custom_t("plans.loading") }
  %>
</th>
