<% if show_plan_survey? %>
  <div class="survey-container">
    <div class="plan-survey-emojis">
      <div class="copy"><%= custom_t('plans.how_do_you_feel') %></div>
      <div>
        <div class="emojis">
          <div
            id="happy"
            class="emoji-button happy"
            data-happy="true"
            data-survey-id="<%= plan_survey_id %>"
            data-person-id="<%= current_user.id %>"
            data-ajax-url="<%= survey_responses_path %>"
            data-request-type="POST"
          >
          </div>
          <div
            id="sad"
            class="emoji-button sad"
            data-happy="false"
            data-survey-id="<%= plan_survey_id %>"
            data-person-id="<%= current_user.id %>"
            data-ajax-url="<%= survey_responses_path %>"
            data-request-type="POST"
          >
          </div>
        </div>
      </div>
    </div>

    <div class="plan-survey-follow-up display-none">
      <div class="plan-survey-tell-us-why"><%= custom_t('plans.tell_us_why') %></div>
      <div class="response-text-container">
        <textarea
          class="plan-survey-text-response"
          name="plan_survey_text_response"
          id="plan_survey_text_response"
          maxlength="140"
          cols="50"
          rows="1"
          data-happy="false"
          data-survey-id="<%= plan_survey_id %>"
          data-person-id="<%= current_user.id %>"
          data-request-type="PATCH"
        ></textarea>
        <div id="char_counter" class="char-counter">0/140</div>
      </div>
    </div>

    <div id="plan_survey_thank_you" class="display-none"><%= custom_t('plans.thank_you') %></div>
  </div>
  <div class="something-went-wrong-plan-survey display-none"> <%= custom_t("something_went_wrong") %> </div>
<% end %>
