<%= stylesheet_link_tag "plans/upgrade_plan_cta_small" %>

<div class="upgrade_plan_cta_small__body">
  <p><%= body_text %></p>
  <a
    class="upgrade_plan_cta_small__link"
    href="/plans"
    id="BTN_plan_upgrade_store_manager"
  >
    <%= render partial: "plan_promo/svg_partials/record-white" %>
    <%= button_text %>
  </a>
</div>
