<% content_for :optimizely_custom_tags do %>
  <% optimizely_custom_tag(Optimizely::Page.new(
      current_user,
      currency: locale_currency,
      page_type: Optimizely::Plans,
      page_name: Optimizely::Plans::PAGE_NAME,
    ).tag_data)
  %>
 <% end %>

<% content_for :data_layer do %>
  <% data_layer_object(page: Gtm::Page.new(
    current_user,
    currency: locale_currency,
    page_type: Gtm::Plans,
    page_name: Gtm::Plans::PAGE_NAME))
  %>
<% end %>

<%= render "plan_picker" %>
<div class="plans">
  <%= render "compare_plans" %>
</div>
<%= render "footer" %>
