<style>
  .mfp-inline-holder .mfp-content {
    width: auto;
  }
</style>

<div class="upgrade-block red">
  <div class="heading"><%= custom_t(".plan_in_cart") %></div>
  <p><%= custom_t(".description") %> </p>
  <div class="text-right">
    <%= link_to custom_t(".cancel"), cart_path, { class: "cta solid plan-replacement-close" } %>
    <%= link_to custom_t(".replace_plan"),
                  replace_plan_in_cart_plans_path(plan_id: clicked_plan_id),
                  { method: :post, class: "cta inset", id: "replace_plan"}
    %>
  </div>
</div>
