<style>
  .mfp-inline-holder .mfp-content {
    width: auto;
  }
</style>

<div class="upgrade-block red">
  <div class="heading"><%= custom_t(".header") %></div>
  <p><%= custom_t(".description") %> </p>
  <div class="text-right">
    <%= link_to custom_t(".renew_plan"),
                        {
                          action: "buy",
                          id: Plans::PlanRenewalCardService.new(current_user).renewal.id,
                          product_id: "n",
                          controller: "subscriptions"
                        },
                        { method: :post, class: "cta solid" }
    %>
    <a href="#compare-plans" class="cta inset"><%= custom_t("plans.compare_plans") %></a>
  </div>
</div>
