<style type="text/css">
	table.t1{
		width: 940px !IMPORTANT;
		font-size: 100% !IMPORTANT;
	}
	table.t1 td, table.t1 th{
		padding: 3px;
	}
	table.t1 th{
		line-height: 30px !IMPORTANT;
	}
</style>
<h1>Basic Image Uploader</h1>
<p>Please note: this is a CROSS PARTNER images hosting directory.  These images will work on any partner content.  Click on any image for full size version.</p>

<% if @files != nil %>

<div style="float: left; width: 918px; border: 1px solid #CCCCCC; padding: 10px; margin-bottom: 20px; background-color: #F2F2F2;">
	<b>Uploading an image with the same filename will overwrite the previous.</b><br />
    <%= form_tag( { :action=> "upload" }, :multipart => true ) do %>
      <%= file_field(:upload,:image) %>
      <span style="padding-left: 10px;"><%= submit_tag("Upload Image") %></span>
    <% end %>
	</form>
</div>

<table class="t1">
	<thead>
	<tr>
	<th style="text-align: left;">Date</th>
	<th>Image</th>
	<th style="text-align: left;">File Name</th>
	<th style="text-align: left;">Cut &amp; Paste</th>
	<th>Delete</th>
	</tr>
	</thead>
	<tbody>
<% @files.each do |file| %>
	<tr>
	<td style="text-align: left;"><%=date(file.second)%></td>
	<td><%= link_to(image_tag("/images/cms/#{file.first}", :width=>50, :height=>50), "/images/cms/#{h(file.first)}") %><br /><a href="#" class="enlarge" style="font-weight: normal; font-size: 11px;" image_src="/images/cms/<%=file.first%>">enlarge</a></td>
	<td style="text-align: left;"><%=file.first%></td>
	<td style="text-align: left;">&lt;%= image_tag("/images/cms/<%=file.first%>") %&gt;</td>
	<td><%= link_to("delete", image_delete_admin_content_index_path(file.first)) %></td>
	</tr>
<% end %>
	</tbody>
</table>
<% end %>
<div id="enlarge" title="Big View" style="display: none;"><div style="float: left; width: 600px; height: 600px; overflow: auto; text-align: center;"><img src="" /></div></div>

<link rel="stylesheet" type="text/css" href="/javascripts/tablesorter/blue/style.css" />
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascripts/tablesorter/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/javascripts/tablesorter/filter.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($){
	$("#enlarge").dialog({autoOpen: false, draggable: false, modal: true, resizable: false, width: 620, height: 620, maxWidth: 620, maxHeight: 620, zIndex: 10000});
	$(document).on("click", ".enlarge", function(){
		t = $(this);
		var src = t.attr('image_src');
		$('#enlarge img').attr('src', src);
		$('#enlarge').dialog('open');
		return false;
	});

      $.tablesorter.addParser({
        id: 'monthYear',
        is: function(s) {
          return false;
        },
        format: function(s) {
          var date = s.match(/^(\w{3})[ ](\d{4})$/);
          var m = monthNames[date[1]];
          var y = date[2];
          return '' + y + m;
        },
        type: 'numeric'
      });
      var monthNames = {};
      monthNames["Jan"] = "01";
      monthNames["Feb"] = "02";
      monthNames["Mar"] = "03";
      monthNames["Apr"] = "04";
      monthNames["May"] = "05";
      monthNames["Jun"] = "06";
      monthNames["Jul"] = "07";
      monthNames["Aug"] = "08";
      monthNames["Sep"] = "09";
      monthNames["Oct"] = "10";
      monthNames["Nov"] = "11";
      monthNames["Dec"] = "12";

	$('.t1').tablesorter({sortList: [[0,0]], widgets: ['filter']});
});
</script>
