<% content_for :css do %>
  <%= stylesheet_link_tag "people" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "people" %>
<% end %>

<div id="vat-details-section-form">
  <div class="section-header">
    <div class="main vat-header">
      <h4><%= custom_t('vat.vat_num_label') %></h4>
      <p><%= current_user.vat_information.try(:vat_registration_number) %></p>
      <div class="vat-details-company-name-label <%= 'hide' if current_user.individual? %>">
        <h4><%= custom_t('publishing.company_name') %></h4>
        <p><%= current_user.vat_information.try(:company_name) %></p>
      </div>
    </div>
    <div class="side">
      <a href="#" class="vat-edit-btn vat-info" data-section="vat-info"><%= custom_t(:edit) %></a>
    </div>
  </div>
  <div class="section vat-info" id="vat-info-div">
    <fieldset>
      <ul class="clearfix">
        <legend><%= custom_t("vat.add_details_title") %></legend>
             <%= form_for current_user, url: update_vat_information_person_path(current_user), remote: true, html: { id: "vat_registration_form" } do |f| %>
            <div class="vat_form_content">
              <div class="text-input-fieldset">
                <ul>
                  <% f.object.build_vat_information unless f.object.vat_information %>
                  <%= f.fields_for :vat_information do |vat| %>
                    <%= vat.hidden_field(:id) %>
                    <div class="vat_number_input_container">
                      <%= vat.text_field(:vat_registration_number, label: custom_t('vat.vat_num_label')) %>
                    </div>
                    <div class="company_name_input_container <%= 'hide' if current_user.individual? %>">
                      <%= vat.text_field(:company_name, label: custom_t('publishing.company_name')) %>
                    </div>

                    <div id="flash_notice" class="row">
                      <div id="flash_error" class="row"></div>
                    </div>
                    <%= f.submit(custom_t(:save_changes), class: "save-button") %>
                  <% end %>
                </ul>
              </div>
            </div>
            <button class="vat-cancel-btn" type="reset" data-section="vat-info">
              <%= custom_t(:cancel) %>
            </button>
        <% end %>
      </ul>
    </fieldset>
  </div>
</div>
