<% songs.group_by(&:album).each do |album, songs| %>
  <%= custom_t('royalty_splits_mailer.songs_list_header', release_name: album.name) %><br>
  <ul>
    <% songs.each do |song| %>
      <li><%= song.name %></li>
    <% end %>
  </ul>
<% end %>
