<tr class="split-top">
  <td align="center" style="padding: 0px 16px 8px; font-size: 16px; color: #ffffff; font-family: 'Roberto', Verdana, sans-serif;">
    <h3 style="font-size: 22px;">
      <%= t '.youve_been_added_to_a_split', owner_name: @owner.name %>
    </h3>
    <p><%= t '.splits_are_how_musicians' %></p>
  </td>
</tr>
<tr class="split-info" style="background: #303030;">
  <td align="left" class="split-info-inner" style="padding: 8px 32px 16px; font-size: 16px; color: #ffffff; font-family: 'Roberto', Verdana, sans-serif;">
    <p class="split-info-header" style="text-align: center;font-weight: bold;margin-bottom: 22px;"><%= t '.heres_some_info_on_your_split_invite' %></p>
    <p><b style="font-weight: bold;"><%= t '.split_title' %>:</b> <%= @split.title %></p>
    <p><b style="font-weight: bold;"><%= t '.percentage' %>:</b> <%= format_split_percent(@recipient.percent) %></p>
    <% if @split.songs.present? %>
      <p><b style="font-weight: bold;"><%= t '.applied_on' %>:</b> <%= split_description(@split) %></p>
    <% end %>
  </td>
</tr>
<tr class="split-call-to-action">
  <td align="center" style="padding: 0 16px; font-size: 16px; color: #ffffff; font-family: 'Roberto', Verdana, sans-serif;">
    <p><%= t '.if_you_already_have_an_unlimited_plan', price: @product_price %></p>
    <p><%= t '.follow_the_link_below_to_get_started' %></p>
    <p>
      <a target="_blank" class="get-started-button" href="<%= invited_splits_onboarding_royalty_splits_url(host: @country_website.web_url, anchor: dom_id(@split)) %>" style="display: inline-block;color: #141414;font-weight: bold;background: #06EAE3;line-height: 2.4em;border-radius: 1.2em;padding: 0 1.5em;text-decoration: none;text-transform: uppercase;letter-spacing: 0.1px;margin-top: 0.8em;">
        <%= t('.get_started') %>
      </a>
    </p>
  </td>
</tr>
<tr class="plans">
  <td align="left" style="padding: 24px 16px; font-size: 16px; color: #ffffff; font-family: 'Roberto', Verdana, sans-serif;">
    <hr class="plans-separator" style="border-color: #404040;border-style: solid;margin-bottom: 24px;">
    <p><%= t '.our_unlimited_plans_html' %></p>
    <table role="presentation" border="0" cellspacing="0" width="100%" style="margin-left: 10px">
      <tbody>
        <tr valign="top">
          <td style="color: #ffffff;width: 16px">&bull;</td>
          <td style="color: #ffffff;"><%= t '.weekly_automatic_payments' %></td>
        </tr>
        <tr valign="top">
          <td style="color: #ffffff;">&bull;</td>
          <td style="color: #ffffff;"><%= t '.easy_withdrawl_to' %></td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
