<%= render 'splits_header' %>
<table border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td align="left" width="640" style="padding: 10px;">
        <%= t '.header_html', person_name: @person.name, split_title: @split_title %>
        <br><br>
        <% if @songs.present? %>
          <%= render 'songs_list', songs: @songs %>
          <br>
        <% end %>
        <%= t '.footer_html' %>
      </td>
    </tr>
  </tbody>
</table>
