<%= render 'splits_header' %>
<table border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td align="left" width="640" style="padding: 10px;">
        <%= t '.body_html', 
          split_title: @split_title,
          from_percent: format_split_percent(@from),
          to_percent: format_split_percent(@recipient.percent)
        %>
        <br><br>
        <%= t '.to_review_your_accepted_split' %>
        <br><br>
        <%= email_link(t('royalty_splits_mailer.split_songs_added.view_accepted_split'), invited_royalty_splits_url(host: @person.country_website.web_url, anchor: dom_id(@split))) %>
      </td>
    </tr>
  </tbody>
</table>
