<%= render 'splits_header' %>
<table border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td align="left" width="640" style="padding: 10px;">
        <%= t '.header_html', split_title: @split.title, release_title: @album.name %>
        <br><br>
        <% if @songs.present? %>
          <%= render 'songs_list', songs: @songs %>
          <br>
        <% end %>
        <%= t '.footer_html' %>
        <p><%= email_link(t('royalty_splits_mailer.split_songs_added.view_accepted_split'), invited_royalty_splits_url(host: @person.country_website.web_url, anchor: dom_id(@split))) %></p>
      </td>
    </tr>
  </tbody>
</table>
