<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/admin/form-utils.js" %>
  <%= javascript_include_tag "/javascripts/petri_mass_tools.js" %>
<% end %>
<style type="text/css" media="screen">
  .checkbox-wrapper label {
    text-align: left;
    clear: none;
  }

  .send-email {
    width: auto;
    padding-bottom: 10px;
  }
</style>
<div class="flash"><%= flash[:notice] ? note_helper(flash[:notice], "green") : ""  %></div>
<div style="text-align: left;">
  <h1>Un-do Takedown of Distributions</h1>
    <form method="post" style="text-align: left;">
      <input name="_method" type="hidden" value="delete">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <table style="float: left;">
      <tr>
        <td>
          Store:
        </td>
        <td>
          <div class="checkbox-wrapper">
            <label><input type="checkbox" name="selected_stores[]" id="all_toggler" value="all">All</label>
            <label><input type="checkbox" name="selected_stores[]" class="toggled check_boxes" value="iTunes">iTunes</label>
            <% @mass_takedown_stores.each do |store| %>
              <label><input type="checkbox" name="selected_stores[]" class="toggled check_boxes" value="<%= store.id %>"><%= store.name %></label>
            <% end %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          Monetizations:
        </td>
        <td>
          <div class="checkbox-wrapper">
            <%= label_tag nil, class: "ytsr-checkbox" do %>
              <%= check_box_tag "selected_stores[]",
                                @fbt_store_id, false %>
              Facebook Track Monetizations
            <% end %>
            <br/><br/>
            <%= label_tag nil, class: "ytsr-checkbox" do %>
              <%= check_box_tag "selected_stores[]",
                                @ytsr_store_id, false %>
              YouTube Sound Recording
            <% end %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          Album IDs/UPCs/song ISRCs:
        </td>
        <td>
          <textarea name="album_ids" cols="13" rows="20"></textarea>
        </td>
      </tr>
    </table>
      <div style="clear: both;">
        <input type="submit" id="mass_untakedown_submit"/>
        <a href='#finalize-popup' class='open-finalize-popup' style="display:none;"></a>
      </div>
  </form>
</div>
