<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/admin/form-utils.js" %>
  <%= javascript_include_tag "/javascripts/petri_mass_tools.js" %>
<% end %>

<style type="text/css" media="screen">
  .checkbox-wrapper label {
    text-align: left;
    clear: none;
  }

  .send-email {
    width: auto;
    padding-bottom: 10px;
  }

  .ytsr-checkbox {
    width: 100%;
    text-align: center;
    font-size: 1.0em;
  }
</style>

<div style="text-align: left;">
  <h1>Admin::Petri::Issue Takedown Distributions | <%= link_to "Song", admin_mass_retry_songs_path(takedown: true) %></h1>
   <%= simple_form_for @mass_takedown_form, url: admin_petri_mass_takedown_path,
      method: :post, style: "text-align: left;" do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <table style="float: left;">
      <tr>
        <td>Store:</td>
        <td>
          <div class="checkbox-wrapper">
            <%= label_tag nil, class: "checkbox" do %>
              <%= check_box_tag "mass_takedown_form[album_level_stores][]", "all", false,
                id: "all_toggler" %> All
            <% end %>

            <%= label_tag nil, class: "checkbox" do %>
              <%= check_box_tag "mass_takedown_form[album_level_stores][]", "iTunes", false,
                class: "check_boxes" %> iTunes
            <% end %>

            <%= f.input :album_level_stores,
              as: :check_boxes,
              label: false,
              class: "toggled",
              collection:  @mass_takedown_stores.map { |store| [ store.id, store.name ] },
              value_method: :first, label_method: :last %>
          </div>
        </td>
      </tr>
      <tr>
        <td>Monetizations:</td>
        <td>
          <div class="checkbox-wrapper">
            <%= label_tag nil, class: "ytsr-checkbox" do %>
              <%= check_box_tag "mass_takedown_form[track_level_stores][]",
                                Store.find_by_abbrev("fbt").id.to_s, false %>
              Take Down Facebook Track Monetizations
            <% end %>

            <%= label_tag nil, class: "ytsr-checkbox" do %>
              <%= check_box_tag "mass_takedown_form[track_level_stores][]",
                Store.find_by_abbrev("ytsr").id.to_s , false, class: "ytsr-toggle-checkbox" %>
              Take Down YouTube Sound Recording
            <% end %>
          </div>
        </td>
      </tr>
      <tr>
        <td>Album Ids/UPCs:</td>
        <td>
          <%= f.input :album_ids, as: :text, label: false, error: false %>
        </td>
      </tr>
    <tr>
      <td colspan="2">
        <%= f.input :send_email, as: :boolean,
        label: "Email customers about these Takedowns",
        label_html: { class: "send-email" } %>
      </td>
    </tr>
    <tr>
      <td>Template:</td>
      <td><%= f.select :template_type, MassTakedownForm::EMAIL_TEMPLATES, :label => "Add Denial Templates" %></td>
    </tr>
    </table>

    <div style="clear: both;">
      <%= f.button :submit, "Submit", class: 'mass_takedown_submit' %>
    </div>
  <% end %>

  <% if @notify_list %>
    <p>
      <table>
        <tr>
          <td colspan="2">
            Completed Takedowns
          </td>
        </tr>
        <% @notify_list.each do |notification| %>
          <% notification[:albums].each do |album| %>
            <tr>
              <td>
                Album <%= album[:album].id %>
              </td>
              <td class="left">
                <%= album[:stores] == :all ? "All stores" : album[:stores].map { |store| store.name }.to_sentence %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </p>
  <% end %>
</div>

<div id="encumbrance_dailog">
  <p class="show-encumbrance-info"></p>
</div>
