<div style="text-align: left;">
	<h1>Admin::Petri::Youtube Sound Recording Mass Takedown</h1>
  <%= form_tag admin_youtube_monies_mass_takedown_tracks_path, method: :put do %>
    <%= text_area_tag "isrcs" %>
    <p>**List isrcs separated by a space</p>
    <div style="clear: both;">
    	<%= submit_tag "Submit" %>
    </div>
  <% end %>
  </form>
</div>
