<% publishing_composition_state = publishing_composition.try(:publishing_composition_state) || publishing_composition.try(:state) %>
<% ineligible = publishing_composition_state == "ineligible" %>

<div class="grid-x grid-margin-x">
  <div class="cell small-12 rights-app-response">
    <% if local_assigns.has_key?(:response_msg) %>
      <%= formatted_response_msg(publishing_composition, response_msg) %>
    <% end %>
  </div>

  <div class="cell small-12">
    <%= simple_form_for publishing_composition,
      url: admin_publishing_composer_publishing_composition_path(@publishing_composer, publishing_composition),
      authenticity_token: true,
      remote: true do |f|
    %>
    <div class="grid-x grid-margin-x">
      <div class="cell small-2">
        <% if publishing_composition.translated_name.present? %>
          <%= f.input :translated_name, readonly: readonly, label: false %>
        <% else %>
          <%= f.input :name, value: publishing_composition.name, input_html: { name: "publishing_composition[name]" }, label: false, readonly: readonly %>
        <% end %>
      </div>
      <div class="cell small-2">
        <%= f.input :isrc, value: publishing_composition.isrc, label: false, readonly: true  %>
      </div>
      <div class="cell small-2">
        <%= f.input :share_submitted_date, label: false, readonly: true  %>
      </div>
      <div class="cell small-1">
        <% share = (publishing_composition.composer_share) %>
        <%= f.input :composer_share, input_html: { value: share }, label: false, readonly: true  %>
      </div>
      <div class="cell small-2">
        <%= f.input :provider_identifier, label: false, readonly: readonly %>
      </div>
      <%= f.simple_fields_for :recordings, publishing_composition_recording(publishing_composition) do |recording| %>
        <div class="cell small-2">
          <%= recording.input :recording_code, label: false, readonly: true %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="cell small-2">
    <%= f.submit "Send to Rightsapp", class: "button cell", data: { disable_with: "Sending..." }, disabled: ineligible %>
  </div>
<% end %>

  <div class="cell small-2">
    <%= simple_form_for publishing_composition,
      url: update_eligibility_admin_publishing_composer_publishing_composition_path(@publishing_composer, publishing_composition),
      authenticity_token: true,
      remote: true,
      method: :put do |f|
    %>
      <%= f.submit ineligible ? "Mark as Eligible" : "Mark as Ineligible", class: "button", data: { disable_with: "Updating..." } %>
    <% end %>
  </div>
</div>
<hr />
