<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12">
      <div class="grid-x grid-margin-x">
        <div class="cell small-2"><h5>Publishing Composition Name</h5></div>
        <div class="cell small-2"><h5>Publishing Composition ISRC</h5></div>
        <div class="cell small-2"><h5>Share Submitted Date</h5></div>
        <div class="cell small-1"><h5>Share%</h5></div>
        <div class="cell small-2"><h5>RightsApp Work Code</h5></div>
        <div class="cell small-2"><h5>RightsApp Recording ID</h5></div>
      </div>
    </div>
    <div class="cell small-12">
      <div class="grid-x grid-margin-x composers-compositions-header">
        <%= render "compositions_header_sorting_icon", cell_size: 2, sorting_key: "composition_name" %>
        <%= render "compositions_header_sorting_icon", cell_size: 2, sorting_key: "isrc" %>
        <%= render "compositions_header_sorting_icon", cell_size: 2, sorting_key: "share_submitted_date" %>
        <%= render "compositions_header_sorting_icon", cell_size: 1, sorting_key: "total_share" %>
      </div>
    </div>
  </div>

  <% @publishing_compositions.each do |publishing_composition| %>
    <div data-publishing_composition-id="<%= publishing_composition.id %>">
      <%= render "composition_row",
        publishing_composer: @publishing_composer,
        publishing_composition: publishing_composition,
        readonly: !editable?(publishing_composition) %>
    </div>
  <% end %>
</div>
