<div class="cell small-<%= cell_size %>">
    <%= link_to search_admin_publishing_composer_publishing_compositions_path(
            publishing_composer_id: @publishing_composer.id, 
            order_by: sorting_key, 
            order_by_desc: !(params[:order_by_desc] == "true"),
            search_by: params[:search_by],
            search_term: params[:search_term],
            hidden: params[:hidden]) do %>
        <i class="fa <%= params[:order_by] != sorting_key ? 'fa-minus': (params[:order_by_desc] == 'true' ? 'fa-caret-down' : 'fa-caret-up') %>" aria-hidden="true"></i>
    <% end %>
</div>