<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-2"><h5>Composition Name</h5></div>
    <div class="cell small-2"><h5>Composition ISRC</h5></div>
    <div class="cell small-2"><h5>Work Hidden Date</h5></div>
    <div class="cell small-2"></div>
  </div>

  <% @publishing_compositions.each do |publishing_composition| %>
    <div data-publishing_composition-id="<%= publishing_composition.id %>">
      <%= render "hidden_composition_row",
        publishing_composer: @publishing_composer,
        publishing_composition: publishing_composition,
        readonly: !editable?(publishing_composition) %>
    </div>
  <% end %>
</div>
