<%= form_tag search_admin_publishing_composer_publishing_compositions_path, :method => "get", class: 'publishing_compositions-search-form' do %>
  <div class="input-group">
    <%= hidden_field_tag :order_by, 
      params[:order_by]
    %>
    <%= hidden_field_tag :order_by_desc, 
      params[:order_by_desc]
    %>
    <%= hidden_field_tag :hidden,
      params[:hidden]
    %>
    <%= select_tag('search_by', "
      <OPTGROUP LABEL=\"Search By\">
        #{search_option_maker('composition_id', params[:search_by], 'Composition ID')}
        #{search_option_maker('composition_name', params[:search_by], 'Composition Name')}
        #{search_option_maker('composition_name_contains', params[:search_by], 'Composition Name Contains')}
        #{search_option_maker('isrc', params[:search_by], 'ISRC')}
        #{search_option_maker('share_submitted_date', params[:search_by], 'Share Submission Date')}
        #{search_option_maker('total_share_eq', params[:search_by], 'Total Share Equal To')}
        #{search_option_maker('total_share_gt', params[:search_by], 'Total Share Greater Than')}
        #{search_option_maker('total_share_lt', params[:search_by], 'Total Share Less Than')}
      </OPTGROUP>".html_safe)%>
    <%= text_field_tag :search_term,
      params[:search_term],
      placeholder: "Search Term",
      class: "form-control"
    %>
    <%= submit_tag "Search", class: "button" %>
  </div>
<% end %>
