<div class="composers-compositions-container grid-container">

  <div class="lead balance-transaction-container-back-link">
    <%= link_to "Back", admin_person_path(current_user) %>
  </div>

  <%= render "admin/shared/admin_info", person: @publishing_composer.account.person %>

  <div class="compositions-title">
    <h3 class="header"><%= @publishing_composer.full_name %>'s Publishing Compositions</h3>
    <% if @hidden %>
      <div class="compositions-link">
        <%= link_to "Publishing Compositions", admin_publishing_composer_publishing_compositions_path(@publishing_composer) %>
      </div>
    <% else %>
      <div class="compositions-link">
        <%= link_to "Hidden Publishing Compositions", admin_publishing_composer_publishing_compositions_path(@publishing_composer, hidden: true) %>
      </div>
    <% end %>
    <div class="compositions-download">
      <%= link_to "Download as .CSV", "/admin/publishing_composers/#{@publishing_composer.id}/publishing_compositions/download_csv", class: "button" %>
    </div>
  </div>

  <p class="grid-container note">
    Note: If a publishing_composition's <b>work code</b> or <b>recording id</b> already exists in RightsApp,
    the codes stored in RightsApp will be updated within our system and reflected in the UI upon submission.
  </p>

  <div class="compositions-populate">
    <%= link_to "Populate Missing Compositions", "/admin/publishing_composers/#{@publishing_composer.id}/publishing_compositions/populate_missing_compositions", class: "button" %>
  </div>

  <%= render partial: 'search' %>

  <%= will_paginate(@publishing_compositions, next_label: "Next", previous_label: "Previous") %>

  <%= render partial: (@hidden ? 'hidden_compositions' : 'compositions') %>
</div>
