$("[data-publishing_composition-id='<%= @publishing_composition.id %>']").html("<%= j render "composition_row",
                                                         publishing_composer: @publishing_composer,
                                                         publishing_composition: @publishing_composition,
                                                         readonly: !editable?(@publishing_composition) %>")
