<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
        <%= custom_t('.thank_you_for_purchasing', {display_name:@soundout_report.soundout_product.display_name, track_name: @soundout_report.track.name }) %>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= link_to custom_t('.view_link'), (@soundout_report.url || soundout_reports_url(host: @person.domain)) %> <%= custom_t('.viewers_comments') %>
    </td>
  </tr>
</table>
