<%= content_tag :div, class: 'balance-transaction-table-headers' do %>
  <%= render partial: "admin/balance_transactions/pending_transactions/header_cell",
             collection: headers,
             cached: fragment_caching_enabled?,
             as: :header %>
<% end %>
