<%= content_tag :div, transaction, class: "balance-history-table-cell" do %>
  <% if transaction.target.can_be_rejected? %>
    <%= button_to(
            "Reject",
            admin_payout_payout_transfer_rejections_path(transaction.target.id),
            class: 'button balance-history-table-action'
        ) %>
  <% else %>
    Submitted
  <% end %>
<<% end %>>
