<%= content_tag :div, class: "balance-transaction-table-row" do %>
  <%= render "admin/balance_transactions/pending_transactions/cell",
             cell_contents: to_date(transaction.created_at) %>

  <%= render "admin/balance_transactions/pending_transactions/cell",
             cell_contents: transaction_desc(transaction) %>

  <%= render "admin/balance_transactions/pending_transactions/cell",
             cell_contents: pending_transaction_value(transaction) %>

  <%= render "admin/balance_transactions/pending_transactions/cell",
             cell_contents: pending_payout_status %>

  <%= render "admin/balance_transactions/pending_transactions/reject_transfer",
             transaction: transaction %>
<% end %>
