<%= content_tag :div, class: "balance-transaction-table" do %>
  <%= content_tag :div, class: "balance-transaction-table-title" do %>
    <%= content_tag :strong, table_title(table_key) %>
  <% end %>

  <%= content_tag :div, class: "balance-transaction-table-content" do %>
    <%= render "admin/balance_transactions/pending_transactions/headers",
               table_key: table_key,
               cached: fragment_caching_enabled?,
               headers: headers(table_key) %>

    <%= render(
          partial: "admin/balance_transactions/pending_transactions/row",
          collection: transaction_set,
          cached: fragment_caching_enabled?,
          as: :transaction
        ) || render(partial: "admin/balance_transactions/pending_transactions/txns_empty") %>

  <% end %>
<% end %>
