<div class="publishing-enrollment">
  <div class="header">
    <h2><b><%= custom_t("publishing.terms_and_conditions.dialog_heading") %></b></h2>
  </div>

  <div class="body">
    <div class="title">
      <b><%= custom_t("publishing.terms_and_conditions.heading") %></b>
    </div>
    <ul><%= custom_t("publishing.terms_and_conditions.details", is_html: true)%></ul>

    <div class="agree-tac">
      <label>
        <input type="checkbox" id="sentric-accept-tac"/>
        <%= custom_t("publishing.terms_and_conditions.accept", url: publishing_administration_tac_url) %>
      </label>
    </div>
  </div>

  <%= simple_form_for @composer, url: publishing_administration_terms_and_condition_path, method: :put do |f| %>
    <div class="footer">
      <div class="edit">
        <%= link_to custom_t("publishing.terms_and_conditions.back"), edit_publishing_administration_enrollment_path(@composer), class: "btn" %>
      </div>
      <div class="next">
        <input type="hidden" name="event" value="signing_complete"/>
        <%= f.submit custom_t(:next), class: "btn tac-submit", disabled: true %>
      </div>
    </div>
  <% end %>
</div>
