<dl class="action_links">
  <div class="title-box clearfix">
    <h3>Actions</h3>

    <% if album.is_deleted?%>
      <dd id="purchase_history"><b>
        <%= link_to "Undelete Album", :action => 'set_album_as_undeleted', :id => album.id %></b>
      </dd><br/>
    <% end %>

    <dd id="purchase_history"><b><%= link_to('Purchase History', admin_person_album_purchases_path(album.person_id, album.id))  %></b></dd><br/>

    <% if album.finalized? %>
      <dd id="edit_variable_price"><b><%= link_to('Manage Store Pricing', edit_admin_salepoint_path(album))  %></b></dd><br/>
    <% end %>

    <dd>
      <b><%= link_to("Take Over",
                :controller => 'admin/people',
                :action => 'control_account',
                :id => album.person_id,
                :album => album) %></b>
    </dd><br/>

    <% if album.preorder_purchase && album.preorder_purchase.paid_at? %>
      <dd id="edit-preorder-data"><b><%= link_to('Edit Preorder Data', edit_admin_preorder_path(album.preorder_purchase)) %></b></dd><br/>
    <% end %>

    <dd id="finalize_unfinalize">
      <b>
        <%= render 'finalize_unfinalize', album: album %>
      </b>
    </dd>

    <dd>
      <%= link_to "Countries", edit_admin_album_album_countries_path(album) %>
    </dd>

    <% if album.salepoint_subscription && album.salepoint_subscription.finalized? -%>
      <br />
      <dd>
        <div class="store_automator">
          Store Automator:
          <span id="automator_status"><%= (album.salepoint_subscription.active?) ? "Active" : "Inactive" %></span>
          <%= link_to "Toggle", toggle_active_admin_album_salepoint_subscription_path(@album), :id => 'automator_toggle_link' %>
        </div>
      </dd>
    <% end -%>
  </div>
</dl>
