<div id="header" style="">
	<div style="clear:both">
		<div style="float:left;width:300;color:#444444;padding-left:15px">
			<% if logged_in? && !current_user.is_administrator %>
	        Welcome back,

					<strong>
						<%= h current_user.name %>.
						<%  "(#{Artist.find(current_user['artist_id']).name})" if current_user['artist_id'] != nil %>
					</strong>

	        <%= link_to "Logout", logout_path, {:style => "color:#006699;text-decoration:underline"} %>

			<% elsif logged_in? && current_user.is_administrator %>
			  Admin:

				<strong>
					<%= h current_user.name %>.
				</strong>


        <%= link_to "Logout", logout_path, {:style => "color:#006699;text-decoration:underline"} %>

			<% end %>
		</div>
	</div>

	<div style="padding:0px;margin:0px;height:32px;clear:both;background-image:url('/images/header/tunecore_header_background.png');background-repeat:repeat-x;background-position: 100px 0px;">
		<div style="float:left;width:182;position:relative;left:-10px"><%= link_to(image_tag('/images/header/tunecore_logo.png'), "/index" )%></div>
		<div id="header_bar" style="text-align:right;float:right;height:32px;width:500px;background-image:url('/images/header/tunecore_header_rounded.png');background-repeat:no-repeat;background-position:top right;">
			<%= render :partial => 'admin/shared/header_line2'%>
		</div>
	</div>






	<!-- ADMIN LINKS GO HERE -->
	<% if current_user && current_user.is_administrator %>
	<div  style="clear:both;">
		<div id="admin_header" style="text-align:right;padding-top:0px;">

			<ul>
				<li style="border:0"><strong>Admin Links:</strong></li>
				<li><%= link_to_unless_current "Dashboard", :controller => 'admin/dashboard', :action => 'index'%></li>
				<li><%= link_to_unless_current "Search/Payments", :controller => 'admin/payment', :action => 'index'%></li>
				<li><%= link_to_unless_current "Certs", '/admin/cert_batches'%></li>
				<li style="border:0"><%= link_to_unless_current "Reports", '/admin/reports/view'%></li>

			</ul>

		</div>
	</div>
	<% end %>


</div>
