<%= content_tag :div,  class: "admin-info" do %>
  <strong>
    <%= link_to person.name, admin_person_path(person), class: "admin-info-person-name lead" %>
  </strong>

  <%= flag(person.country_website) %>

  <p><%= link_to h(person.email), "mailto:#{person.email}", class: "admin-info-person-email"%></p>

  <%= content_tag :div do %>
    <% if person.vip %>
      <%= content_tag :strong, "VIP Client"%>
    <% end %>
  <% end %>

  <% if person.country %>
    <%= content_tag :span, "Country:" %>
    <%= content_tag :strong, person.country %>
  <% end %>

  <%= content_tag :div do %>
    <%= content_tag :span, "TC Website:" %>
    <%= content_tag :strong, person.country_website.country %>
  <% end %>

  <%= content_tag :div do %>
    <%= content_tag :span, "YTM Customer:" %>
    <%= content_tag :strong, person.has_active_ytm? ? "Active" : "Not Active" %>
  <% end %>

  <%= content_tag :div do %>
    <%= content_tag :span, "Publishing Customer:" %>
    <%= content_tag :strong, person.paid_for_composer? ? "Yes" : "No" %>
  <% end %>

  <%= content_tag :div do %>
    <%= content_tag :span, "Publishing Changeover Customer:" %>
    <%= content_tag :strong, person.paid_for_publishing_composer? ? "Yes" : "No" %>
  <% end %>

  <%= content_tag :div do %>
    <%= content_tag :span, "Encumbrance:" %>
    <%= content_tag :strong, person.has_encumbrance? ? "Yes" : "No" %>
  <% end %>

  <%= content_tag :div do %>
    <%= content_tag :span, "RightsApp ID:" %>
    <%= content_tag :strong, person.account.try(:provider_account_id) %>
  <% end %>

  <%= content_tag :div do %>
    <%= content_tag :span, "Tax Infortmation:" %>
    <%= content_tag :strong,
      (
        person.account&.managing_publishing_composer&.tax_info&.created_at.try(:strftime, "%m/%d/%Y") ||
        person.account&.managing_composer&.tax_info&.created_at.try(:strftime, "%m/%d/%Y") ||
        "N/A"
      )
    %>
  <% end %>

  <%= content_tag :div do %>
    <%= content_tag :span, "Pub Admin Status" %>
    <%= content_tag :strong, pub_admin_status(person.account&.managing_publishing_composer) %>
  <% end %>
<% end %>
