<% if flash[:errors]%>
  <div class="row">
    <div class="twelve columns">
      <table id="metatags">
       <% flash[:errors].each do |error|%>
        <% error.each do |id, message| %>
            <thead>
              <tr>
                <th>album <%=id%></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= message %></td>
              </tr>
            </tbody>
          <% end %>
        <%end %>
      </table>
    </div>
  </div>
<%end%>
