<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/bulk_add_stores.css" %>
<% end %>

<header class="row">
  <div class="twelve columns">
   <h1><%= header_title %></h1>
  </div>
</header>
