<% if logged_in? %>
	<ul>
		<li><%= link_to_unless_current "My Discography", '/discography' %></li>
		<li><%= link_to_unless_current "My Account", '/my_account', :protocol=>"https://" %></li>
	</ul>
<% end %>