<% if payoneer_payout_enabled? %>
  <h2>Payoneer Payouts</h2>
  <ul>
    <li>
      <%= link_to "Search / Manage Payoneer Transactions",
                  admin_payout_payout_transfers_path(tunecore_status: PayoutTransfer::SUBMITTED) %>
    </li>
    <li>
      <%= link_to "Rolled back transactions", admin_payout_transfer_rollbacks_path %>
    </li>
  </ul>
<% end %>
