<fieldset class="horizontal">
  <%= flash[:search_note]%>
  <%= form_tag(:controller => '/admin/dashboard', :action => :search) do %>
    <label style="float:none; padding-right:5px;" for="query_term">Search:</label>
    <%= select_tag('query[type]', "
      <OPTGROUP LABEL=\"Find Albums By\">
        #{search_option_maker('album|upc', params[:search], 'Album UPC')}
        #{search_option_maker('album|id', params[:search], 'Album ID')}
        #{search_option_maker('album|name', params[:search], 'Album Name')}
        #{search_option_maker('album|artist', params[:search], 'Artist Name')}
        #{search_option_maker('album|label', params[:search], 'Album Label')}
        #{search_option_maker('album|isrc', params[:search], 'Song ISRC')}
        #{search_option_maker('album|apple_id', params[:search], 'Apple ID')}
      </OPTGROUP>
      <OPTGROUP LABEL=\"Find Videos By\">
        #{search_option_maker('video|id', params[:search], 'Video ID')}
        #{search_option_maker('video|name', params[:search], 'Video Name')}
        #{search_option_maker('video|upc', params[:search], 'Video UPC')}
        #{search_option_maker('video|director', params[:search], 'Feature Director')}
        #{search_option_maker('video|artist', params[:search], 'Artist Name')}
        #{search_option_maker('video|isrc', params[:search], 'Video ISRC')}
      </OPTGROUP>
      <OPTGROUP LABEL=\"Find Accounts/People By\">
        <!--#{search_option_maker('person|id', params[:search], 'ID')}-->
        #{search_option_maker('person|name', params[:search], 'Account Owner')}
        #{search_option_maker('person|email', params[:search], 'Account Email')}
        #{search_option_maker('person|label', params[:search], 'Account Label')}
        #{search_option_maker('person|artist', params[:search], 'Account Artist')}
        #{search_option_maker('person|id', params[:search], 'Account ID')}
        #{search_option_maker('person|rights_app_id', params[:search], 'Rights App ID')}
        #{search_option_maker('person|client_payee_id', params[:search], 'Client Payee ID')}
      </OPTGROUP>
      <OPTGROUP LABEL=\"Find Invoice\">""
        #{search_option_maker('invoice|id', params[:search], 'Invoice Number')}
      </OPTGROUP>".html_safe)%>
    <span id="text_search">
      <%= text_field :query, :term, :object => nil, :value => search_string_formatting(params[:term])%>
    </span>
    <%= submit_tag "search", id: "search_everything" %>
  <% end -%>
</fieldset>
