<dl class="songs">
  <dt>Songs (<strong><%=album.songs.size%> tracks total</strong>)<br /></dt>

  <% unless album.finalized? -%>
    <dt><%= link_to('Upload Manager', :controller => '/admin/albums', :action => 'tracks', :id => album)%> <span style="background-color: yellow; color: red; font-weight: bold; font-size: 11px; padding: 2px;">NEW</span></dt>
  <% end -%>

  <% album.songs.eager_load(:track_monetizations).preload(:salepoint_songs, :distribution_songs).each do |song| -%>
    <div class="songHolder" <% if song.s3_asset != nil -%>id="<%= song.s3_asset.uuid %>"<% end -%>>
      <div class="title-box clearfix">
        <h3>Track <%= song.track_num %>: <%= display_name(song) %></h3>
        <dd style="border-bottom: 1px dotted grey;padding-top:5px;margin-bottom: 10px;"><b>Attributes</b> </dd>

        <dd>TuneCore ISRC: <%= song.tunecore_isrc %></dd>
        <dd>Optional ISRC: <%= song.optional_isrc %></dd>

        <dd><%= admin_song_status(song, current_user)%></dd>
        <% if song_on_server?(song) -%>
          <dd>Uploaded File: <%= link_to(h(song.upload.original_filename), '/media/upload/' + song.upload.uploaded_filename)%></dd>
        <% end -%>
        <% if song.upload != nil -%>
        <dd>Upload Date: <%= song_upload_date(song, current_user) %></dd>
        <% end -%>
        <dd>Song Created: <%= song.created_on.to_s(:db) %></dd>
        <dd>Explicit: <span id="parental_advisory_<%=song.id%>"><%=song.parental_advisory ? "Yes" : "No" %></span>
        <%= link_to( " (change)", {:action => 'set_song_parental_advisory', :id => song.id} ) %></dd>

        <% if album.preorder_purchase.present? && album.preorder_purchase.paid_at? %>
          <dd>Grat Track: <%= song.preorder_instant_grat_song.present? ? "Yes" : "No" %></dd>
        <% end %>
        <dd>Clean: <span id="clean_version_<%=song.id%>"><%=song.clean_version ? "Yes" : "No" %></span>
        <%= link_to( " (change)", {:action => 'set_song_clean_version', :id => song.id} ) %></dd>
        <dd>Cover Song: <%= song.cover_song_metadata && song.cover_song_metadata.cover_song.present? ? "Yes" : "No" %></dd>

        <% if song.s3_asset&.s3_detail&.file_type.present? %>
          <dd>Audio Quality:
            <strong>
              <%= content_tag(
                :span, "#{song_audio_quality(song)}",
                style: "color: #{audio_quality_color(song.s3_asset.s3_detail.file_type)}"
              ) %>
            </strong>
          </dd>
        <% end %>

        <dd>Dolby Atmos Audio: <%= song.spatial_audio_asset.present? ? "Yes" : "No" %></dd>

        <% @creatives.each do |creative|%>
          <dd>Album
            <%= "#{creative.role.camelize}: #{creative.name}"  %>
            <%= show_songwriter_remixer_and_producer(creative, song) %>
          </dd>
        <% end %>
        <% @song_creatives.select {|sc| sc.creativeable_id == song.id}.each do |creative| %>
          <dd>Song
            <%= "#{creative.role.camelize}: #{creative.name}" %>
            <%= show_songwriter_remixer_and_producer(creative, song) %>
            <%= link_to('remove', { action: 'remove_creative', id: creative.id, album_id: album.id }, data: { confirm: 'Are you sure that you would like to remove this creative?' }) unless song.album.finalized? %></dd>
        <% end %>
        <% unless song.album.finalized? %>
          <%= form_for(:song, :url => url_for(:action => 'add_creative', :id => song.id, :poly => 'Song')) do |f| %>
            <%= text_field_tag :name, '', :size => 20 %>
            <%= select_options_for_roles %>
            <%= submit_tag "add role" %>
          <% end %>
        <% end %>
        <%= render partial: "admin/shared/song_distribution_options", locals: { album: album, song: song } %>
        <dl>
          <dt style="border-bottom: 1px dotted grey; padding-top:5px; margin-bottom: 10px;">
            <b>Track Monetizations</b>
          </dt>
          <%= render partial: "admin/shared/track_monetizations", locals: { song: song } %>
        </dl>
      </div>
    </div>
  <% end %>
  <% if album.songs.length == 0 %>
    <dd class="artist">Album has no songs</dd>
  <% end %>
</dl>
