<dl>
  <dt style="border-bottom: 1px dotted grey; padding-top:5px; margin-bottom: 10px;">
    <b>Distribution Options</b>
  </dt>
<% permissioned_distribution_options.each do |distribution_option| %>
  <div id="distribution_option_form_popup_<%= "#{distribution_option}_#{song.id}" %>" class="mfp-hide form_popup">
    <%= render partial: "admin/song_distribution_options/form", locals: { distribution_option: distribution_option, album: album, song: song } %>
  </div>
  <dd>
    <%= distribution_option.to_s.humanize %>: <span id="<%= "#{distribution_option}_#{song.id}_text" %>"><b><%= display_yes_or_no?(song.send(distribution_option)) %></b></span>
    <%= link_to "edit", "#distribution_option_form_popup_#{distribution_option}_#{song.id}", { class: "song_distribution_option_popup" } %>
  </dd>
<% end %>
</dl>
