  <dd>
    <div class="track-monetizations-wrapper-track-<%= song.id %>">
    <% if song.eligible_for_sound_cloud_block?  && FeatureFlipper.show_feature?(:sound_cloud_block, current_user) %>
      <%= link_to "Send to Sound Cloud Block",
        admin_track_blocks_path(song_id: song.id, store_id: Store::SOUNDCLOUD_BLOCK_ID),
        method: :post,
        remote: :true,
        data: {
          confirm: "Are you sure you want send this song to the Sound Cloud Block Feed?"
        }
      %>
    <% end %>
      <% song.track_monetizations.each do |track_mon| %>
        <% releases_stores_track = @latest_releases_stores_tracks&.find{ |releases_stores_track| releases_stores_track.store_id == track_mon.store.id && releases_stores_track.song_id == track_mon.song_id } %>
        <div>
          <b><%= track_mon.store.name %>:</b>
          <%= content_tag :span,
            [track_mon.state_name.presence, track_mon.state_value.presence].compact.join(': '),
            class: track_mon.state %>
          <a href="#" class="toggle-track-monetization">(show/hide)</a>
          <div class="hidden track-monetization-actions">
            <%= render partial: "admin/track_monetization/actions",
              locals: { track_mon: track_mon, releases_stores_track: releases_stores_track }%>
          </div>
        </div>
      <% end %>
    <div>
  </dd>

