<h3>Letter of Direction</h3>
<%= content_tag :div do %>
  <%= content_tag :span, "Signed At:" %>
  <%= content_tag :strong, legal_document_signed_date(@account)&.strftime('%Y-%m-%d %H:%M') %>
<% end %>

<div>
  <%= form_tag admin_accounts_publishing_composer_update_lod_path(@account, @publishing_composer), method: :post do %>
    <div class="grid-x">
      <div class="cell small-6">
        <%= label_tag :lod, "Envelope ID" %>
        <%= text_field_tag :envelope_id, nil, required: true  %>
        <%= submit_tag "Update LOD", class: "button", data: { disable_with: "Sending..." } %>
      </div>
    </div>
  <% end %>
</div>
