<% content_for :external_javascript do %>
  <!--[if IE]><script src="/javascripts/excanvas.min.js"></script><![endif]-->
  <%= javascript_include_tag "/javascripts/plugins/jquery.dataTables.min" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.tablesorter" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.tablesorter.pager" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.cookie" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.rule" %>
  <%= javascript_include_tag "/javascripts/app/select_all" %>
  <%= javascript_include_tag "/javascripts/app/sales" %>
<% end %>
<script type="text/javascript">
  // var TC = TC || {};
  // TC.allowMultipleUploads = true;
  // TC.MultipleUploadsAllowed = 20;
  // TC.albumId = <%# @album.id %>;
  // TC.finalized = <%# @album.finalized? %>;
</script>
<style>
  #container{
    position: relative;
  }
</style>

<section class="grid_16" id="my-account">
  <header>
    <h1><%= custom_t("sales.my_sales") %> <small>(from <%= @start_date.strftime("%B %Y") %> <%= custom_t(:to) %> <%= @end_date.strftime("%B %Y") %>)</small></h1>
    <ul id="export-csv">
      <li><%= link_to custom_t("sales.daily_trend"), {controller: 'trend_reports', action: 'index'} %></li>
      <li><%= link_to custom_t("sales.download_sales") , {controller: 'my_account', action: 'exports'} %></li>
      <li><%= link_to custom_t("invoices.royalty_invoices.royalty_invoices") , list_transactions_path if vat_feature_flipper_enabled? %></li>
    </ul>
  </header>

  <div id="report-totals-container">
    <%= render :partial => 'report_totals' %>
  </div>

  <div id="report-header-container" class="grid_16 alpha">
    <%= render :partial => 'report_header' %>
  </div>

  <div id="filter-container" class="grid_4 omega">
    <%= form_tag :action => 'country_report' do %>
      <%= render partial: 'filters', locals: { show_filters: current_user.feature_gating_can_do?(:premium_sales_report) } %>
    <% end %>
  </div>

  <div id="sales-container" class="grid_12 alpha store-sales">
    <%= render :partial => 'report_links' %>
    <span id="export-csv"><%= link_to custom_t("sales.download_report"), {:controller => 'sales', :action => 'export', :report_type => params[:action]} %></span>
    <table class="data-report country-report" id="sales-table" class="grid_12 alpha">
      <thead>
      <tr>
        <% if @country_sales_records && !@country_sales_records.empty? %>
          <th><%= custom_t(:country_display) %></th>
          <th><%= custom_t("sales.releases_sold") %></th>
          <th><%= custom_t("sales.songs_sold") %></th>
          <th><%= custom_t("sales.streams") %></th>
          <th class="sales-total-earned"><%= custom_t(:total) %></th>
        <% else %>
          <th colspan='5'></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% if @country_sales_records && !@country_sales_records.empty? %>
        <% @country_sales_records.each do |sales_record| %>
          <% country_obj = Country.where('iso_code' => sales_record.country).first %>
          <tr class="<%= cycle("odd","even") %>">
            <td class="sales-release-type">
              <% if country_obj != nil %>
                <%= country_obj.name %>
              <% end %>
            </td>
            <td class="sales-releases-sold"><% if params[:distribution_type].nil? || (params[:distribution_type] && params[:distribution_type].include?("Download"))%><%= number_with_delimiter(sales_record.releases_sold.to_i, :delimiter => ',') %><% else %>&mdash;<% end %></td>
            <td class="sales-songs-sold"><% if params[:distribution_type].nil? || (params[:distribution_type] && params[:distribution_type].include?("Download"))%><%= number_with_delimiter(sales_record.songs_sold.to_i, :delimiter => ',')%><% else %>&mdash;<% end %></td>
            <td class="sales-streams-sold"><% if params[:distribution_type].nil? || (params[:distribution_type] && params[:distribution_type].include?("Streaming"))%><%= number_with_delimiter(sales_record.streams_sold.to_i, :delimiter => ',')%><% else %>&mdash;<% end %></td>
            <td class="sales-total-earned"><%= sales_report_money_to_currency((sales_record.total_earned).to_money(sales_record.amount_currency), precision: 14, full_amount: sales_record.total_earned) %></td>
          </tr>
        <% end %>
      <% else %>
        <tr><td colspan='5' style="text-align:center"><%= custom_t("sales.no_sales.no_sales") %></td></tr>
      <% end %>
      </tbody>
    </table>
    <%= render :partial => "pager" %>
  </div>
  <div class="clear"></div>
</section>
