<% content_for :external_javascript do %>
  <script type="text/javascript">
    TC.store = ("<%= params[:stores] %>").length;
  </script>
<% end %>

<div id="sales-filters">
  <h2><%= custom_t(".date_range") %></h2>
  <div id="sales-date-range">
    <div>
      <%= label :date, :start_date, current_user.german_user? ? custom_t(:start_date2) : custom_t(:start_date) %>
      <%= select 'date','start_date', @reporting_dates, :selected => @start_date.strftime("%Y-%m-%d"), :class => "date" %>
    </div>
    <div>
      <%= label :date, :end_date, custom_t(:end_date) %>
      <%= select 'date','end_date', @reporting_dates, :selected => @end_date.strftime("%Y-%m-%d"), :class => "date" %>
    </div>
  </div>

  <h2><%= custom_t("sales.filter_by") %></h2>
  <div id="advanced-options" class="collapsible" data-locked="<%= !current_user.feature_gating_can_do?(:premium_sales_report) %>">

    <div id="types" class="container">
      <h3><a href="#types-filter" class="toggle-button<% if params[:release_type] && params[:release_type].size < ((@albums.empty? ? 0 : 1) + (@singles.empty? ? 0 : 1) + (@ringtones.empty? ? 0 : 1) + (@videos.empty? ? 0 : 1)) -%> dOpen<% end -%>"><%= custom_t(".release_type") %></a></h3>
      <% if show_filters %>
        <div id="types-filter" class="select-all-section">
          <ul>
          <% if !@albums.empty? %>
            <li>
              <%= check_box_tag 'release_type[]', "album", params[:release_type].nil? || params[:release_type].include?("album") || @initial_page_load, :id => "release_type_album" %>
              <%= label_tag :release_type_album, :album %>
            </li>
          <% end %>
          <% if !@singles.empty? %>
            <li>
              <%= check_box_tag 'release_type[]', custom_t(:single2), params[:release_type].nil? || params[:release_type].include?(custom_t(:single2)) || @initial_page_load, :id => "release_type_single" %>
              <%= label_tag :release_type_single, :single %>
            </li>
          <% end %>
          <% if !@ringtones.empty? %>
            <li>
              <%= check_box_tag 'release_type[]', custom_t(:ringtone), params[:release_type].nil? || params[:release_type].include?(custom_t(:ringtone)) || @initial_page_load, :id => "release_type_ringtone" %>
              <%= label_tag :release_type_ringtone, :ringtone %>
            </li>
          <% end %>
          <% if !@videos.empty? %>
            <li>
              <%= check_box_tag 'release_type[]', custom_t(:video2), params[:release_type].nil? || params[:release_type].include?(custom_t(:video2)) || @initial_page_load, :id => "release_type_video" %>
              <%= label_tag :release_type_video, :video %>
            </li>
          <% end %>
          </ul>
        </div>
      <% else %>
        <div id="countries-filter" class="select-all-section">
          <%= render partial: "shared/no_plan_access", locals: { css_class: "school-on-saturday" } %>
        </div>
      <% end %>
    </div>

    <div id="stores" class="container">
      <h3><a href="#stores-filter" class="toggle-button<% if params[:stores] && (params[:stores].size < @user_stores.size) -%> dOpen<% end -%>"><%= custom_t(:stores) %></a></h3>
      <% if show_filters %>
        <div id="stores-filter" class="select-all-section">
          <div class="select-all-box">
            <a href="#" class="select-all"><%= custom_t(:check_all) %></a> | <a href="#" class="select-none"><%= custom_t(:uncheck_all) %></a>
          </div>
          <ul>
            <% @user_stores.each do |store| %>
              <li>
                <%= check_box_tag "stores[]", store.display_group_id, params[:stores].nil? || params[:stores].include?("#{store.display_group_id}") || (@initial_page_load && params[:external_page].nil?), :id => "stores_#{store.display_group_id}" %>
                <%= label_tag "stores_#{store.display_group_id}", store.store_name %>
              </li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <div id="countries-filter" class="select-all-section">
          <%= render partial: "shared/no_plan_access", locals: { css_class: "school-on-saturday" } %>
        </div>
      <% end %>
    </div>

    <div id="countries" class="container">
      <h3><a href="#countries-filter" class="toggle-button<% if params[:countries] && (params[:countries].size < @user_countries.size) -%> dOpen<% end -%>"><%= custom_t(:countries) %></a></h3>
      <% if show_filters %>
        <div id="countries-filter" class="select-all-section">
          <div class="select-all-box">
            <a href="#" class="select-all"><%= custom_t(:check_all) %></a> | <a href="#" class="select-none"><%= custom_t(:uncheck_all) %></a>
          </div>
          <ul>
            <% @user_countries.each do |country| %>
              <li>
                <%= check_box_tag "countries[]", country.iso_code, params[:countries].nil? || params[:countries].include?("#{country.iso_code}") || (@initial_page_load && params[:external_page].nil?), :id => "countries_#{country.iso_code}" %>
                <%= label_tag "countries_#{country.iso_code}", country.name%>
              </li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <div id="countries-filter" class="select-all-section">
          <%= render partial: "shared/no_plan_access", locals: { css_class: "school-on-saturday" } %>
        </div>
      <% end %>
    </div>

    <div id="distribution_type" class="container">
      <h3><a href="#distribution_type-filter" class="toggle-button<% if params[:distribution_type] && (params[:distribution_type].size < 2) -%> dOpen<% end -%>"><%= custom_t("sales.distribution_type") %></a></h3>
      <% if show_filters %>
        <div id="distribution_type-filter" class="select-all-section">
          <ul>
            <li>
              <%= check_box_tag "distribution_type[]", "Download", params[:distribution_type].nil? || params[:distribution_type].include?("Download") || (@initial_page_load && params[:external_page].nil?), :id => "distribution_type_download" %>
              <%= label_tag :distribution_type_download, custom_t(:download) %>
            </li>
            <li>
              <%= check_box_tag "distribution_type[]", "Streaming", params[:distribution_type].nil? || params[:distribution_type].include?("Streaming") || (@initial_page_load && params[:external_page].nil?), :id => "distribution_type_streaming" %>
              <%= label_tag :distribution_type_streaming, custom_t(:streaming), {class: 'streaming-filter-label'} %>
              <%= render partial: 'tiktok_tooltip' %>
            </li>
          </ul>
        </div>
      <% else %>
        <div id="countries-filter" class="select-all-section">
          <%= render partial: "shared/no_plan_access", locals: { css_class: "school-on-saturday" } %>
        </div>
      <% end %>
    </div>

    <div id="releases">
      <h3><a href="#releases-filter" class="toggle-button<% if params[:release] && ((params[:release][:albums].nil? ? 0 : params[:release][:albums].size) + (params[:release][:singles].nil? ? 0 : params[:release][:singles].size) + (params[:release][:ringtones].nil? ? 0 : params[:release][:ringtones].size) + (params[:release][:videos].nil? ? 0 : params[:release][:videos].size) < ((@albums.empty? ? 0 : @albums.size) + (@singles.empty? ? 0 : @singles.size) + (@ringtones.empty? ? 0 : @ringtones.size) + (@videos.empty? ? 0 : @videos.size))) -%> dOpen<% end -%>"><%= custom_t(".releases") %></a></h3>
      <% if show_filters %>
        <div id="releases-filter">
          <% if !@albums.empty? %>
          <div id="albums" class="container">
            <h4><%= custom_t(".albums") %></h4>
            <div id="albums-filter" class="select-all-section">
              <div class="select-all-box">
                <a href="#" class="select-all"><%= custom_t(:check_all) %></a> | <a href="#" class="select-none"><%= custom_t(:uncheck_all) %></a>
              </div>
              <ul>
              <% @albums.each do |album| %>
                <li>
                <%= check_box_tag "release[albums][]", "#{album.id}", params[:release].nil? || (params[:release][:albums] && params[:release][:albums].include?(album.id.to_s)) || @initial_page_load, :class => 'album_cb', :id=>"release_albums_#{album.id}" %>
                <%= label_tag "release[albums][#{album.id}]", truncate(display_name(album),:omission => "...", :length => 30), {:title=> display_name(album)} %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
          <% end %>

          <% if !@singles.empty? %>
          <div id="singles" class="container">
            <h4><%= custom_t(:singles_global) %></h4>
            <div id="singles-filter" class="select-all-section">
              <div class="select-all-box">
                <a href="#" class="select-all"><%= custom_t(:check_all) %></a> | <a href="#" class="select-none"><%= custom_t(:uncheck_all) %></a>
              </div>
              <ul>
              <% @singles.each do |single| %>
                <li>
                 <%= check_box_tag "release[singles][]", "#{single.id}", params[:release].nil? || (params[:release][:singles] && params[:release][:singles].include?(single.id.to_s)) || @initial_page_load, :class => 'single_cb', :id=>"release_singles_#{single.id}" %>
                 <%= label_tag "release[singles][#{single.id}]", truncate(display_name(single), :omission => "...", :length => 30), {:title=> display_name(single)} %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
          <% end %>

          <% if !@ringtones.empty? %>
          <div id="ringtones" class="container">
            <h4><%= custom_t(:ringtones_global) %></h4>
            <div id="ringtones-filter" class="select-all-section">
              <div class="select-all-box">
                <a href="#" class="select-all"><%= custom_t(:check_all) %></a> | <a href="#" class="select-none"><%= custom_t(:uncheck_all) %></a>
              </div>
              <ul>
              <% @ringtones.each do |ringtone| %>
                <li>
                 <%= check_box_tag "release[ringtones][]", "#{ringtone.id}", params[:release].nil? || (params[:release][:ringtones] && params[:release][:ringtones].include?(ringtone.id.to_s)) || @initial_page_load, :class => 'ringtone_cb', :id=>"release_ringtones_#{ringtone.id}" %>
                 <%= label_tag "release[ringtones][#{ringtone.id}]", truncate(display_name(ringtone), :omission => "...", :length => 30), {:title=> display_name(ringtone)} %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
          <% end %>

          <% if !@videos.empty? %>
          <div id="videos" class="container">
            <h4><%= custom_t(:videos_display) %></h4>
            <div id="videos-filter" class="select-all-section">
              <div class="select-all-box">
                <a href="#" class="select-all"><%= custom_t(:check_all) %></a> | <a href="#" class="select-none"><%= custom_t(:uncheck_all) %></a>
              </div>
              <ul>
              <% @videos.each do |video| %>
                <li>
                <%= check_box_tag "release[videos][]", "#{video.id}", params[:release].nil? || (params[:release][:videos] && params[:release][:videos].include?(video.id.to_s)) || @initial_page_load, :class => 'video_cb', :id=>"release_videos_#{video.id}" %>
                <%= label_tag "release[videos][#{video.id}]", truncate(video.name,:length=>25), {:title=> video.name} %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
          <% end %>
        </div>
      <% else %>
        <div id="countries-filter" class="select-all-section">
          <%= render partial: "shared/no_plan_access", locals: { css_class: "school-on-saturday" } %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <div class="submit" style="float: left;"><%= submit_tag custom_t(:filter) %></div>
    <div class="select-all-box master" style="float: left; margin-left: 10px;">
      <a href="#" class="select-all"><%= custom_t(:check_all) %></a>
    </div>
  </div>
</div>
