<div id="pager" class="table_bottom">
  <div id="sales-table_paginate" class="dataTables_paginate paging_two_button">
    <a href="#" class="prev paginate_enabled_previous"><%= custom_t(:prev) %></a>
    <a href="#" class="next paginate_enabled_next"><%= custom_t(:next) %></a>
  </div>
  <div id="sales-table_info" class="pagedisplay dataTables_info"><%= custom_t("sales.page") %> 1/1</div>
  <div id="sales-table_length" class="pagesize_wrapper dataTables_length">
    <p><%= custom_t(".show_rows") %></p>
    <select name="sales-table_length" class="pagesize" size="1">
      <option selected="selected"  value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option  value="100">100</option>
    </select>
  </div>
</div>