<div id="sales-report-menu" class="alpha">
  <ul>
    <li class="<%= params[:action] == 'release_report' ? "active" : "" %>">
      <%= report_link(:releases) %>
    </li>
    <li class="<%= params[:action] == 'song_report' ? "active" : "" %>">
      <%= report_link(:songs_display) %>
    </li>
    <li class="<%= params[:action] == 'store_report' ? "active" : "" %>">
      <%= report_link(:stores) %>
    </li>
    <li class="<%= params[:action] == 'country_report' ? "active" : "" %>">
      <%= report_link(:countries) %>
    </li>
    <li class="<%= params[:action] == 'date_report' ? "active" : "" %>">
      <%= link_to custom_t(".months"), action: "date_report" %>
    </li>
  </ul>
</div>
