<div id="sales-releases" class="grid_2 alpha report_totals">
   <h5><%= custom_t(:releases) %></h5>
   <% if params[:distribution_type].nil? || (params[:distribution_type] && params[:distribution_type].include?("Download"))%>
     <span><%= sales_report_money_to_currency((@report_totals[:release_amount] || 0).to_money(@report_totals[:currency]), precision: 14, full_amount: @report_totals[:release_amount])[0...-12] %></span><br/>
     <%= custom_t(:from) %> <%= number_with_delimiter(@report_totals[:releases_sold].to_i, :delimiter => ",") || "0" %> <%= custom_t(:sold) %><br />
   <% else %>
     <span><%= custom_t(".na") %></span><br />
     <%= custom_t(".excluded_filter") %><br />
   <% end %>
 </div>
 <div class="grid_1 totals-operands"><%= image_tag("/version/shared/images/plus-sign_15x15.gif") %></div>
 <div id="sales-songs" class="grid_2 report_totals">
   <h5><%= custom_t(:songs_display) %></h5>
   <% if params[:distribution_type].nil? || (params[:distribution_type] && params[:distribution_type].include?("Download"))%>
       <span><%= sales_report_money_to_currency((@report_totals[:song_amount] || 0).to_money(@report_totals[:currency]), precision: 14, full_amount: @report_totals[:song_amount])[0...-12] %> </span><br/>
     <%= custom_t(:from) %> <%= number_with_delimiter(@report_totals[:songs_sold].to_i, :delimiter => ",") || "0" %> <%= custom_t(:sold) %><br />
   <% else %>
     <span><%= custom_t(".na") %></span><br />
     <%= custom_t(".excluded_filter") %><br />
   <% end %>
 </div>
 <div class="grid_1 totals-operands"><%= image_tag("/version/shared/images/plus-sign_15x15.gif") %></div>
 <div id="sales-streams" class="grid_2 report_totals">
   <h5><%= custom_t("sales.streams") %></h5>
   <% if params[:distribution_type].nil? || (params[:distribution_type] && params[:distribution_type].include?("Streaming"))%>
     <span><%= sales_report_money_to_currency((@report_totals[:stream_amount] || 0).to_money(@report_totals[:currency]), precision: 14, full_amount: @report_totals[:stream_amount])[0...-12] %></span><br/>
     <%= custom_t(:from) %> <%= number_with_delimiter(@report_totals[:streams_sold].to_i, :delimiter => ",") || "0" %> <%= custom_t(:plays) %><br />
   <% else %>
     <span><%= custom_t(".na") %></span><br />
     <%= custom_t(".excluded_filter") %><br />
   <% end %>
 </div>
 <div class="grid_1 totals-operands"><%= image_tag("/version/shared/images/equal-sign_15x15.gif") %></div>
 <div id="sales-totals" class="grid_2 omega report_totals">
   <h5><%= custom_t(".total_earned") %></h5>
   <span><%= sales_report_money_to_currency((@report_totals[:total_earned] || 0).to_money(@report_totals[:currency]), precision: 14, full_amount: @report_totals[:total_earned]) %></span><br />
   <%= custom_t(".in_this_period") %>
 </div>
