<% content_for :external_javascript do %>
  <!--[if IE]><script src="/javascripts/excanvas.min.js"></script><![endif]-->
  <%= javascript_include_tag "/javascripts/plugins/jquery.dataTables.min" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.tablesorter" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.tablesorter.pager" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.cookie" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.rule" %>
  <%= javascript_include_tag "/javascripts/app/select_all" %>
  <%= javascript_include_tag "/javascripts/app/sales" %>
<% end %>
<section class="grid_16" id="my-account">
  <header>
    <h1><%= custom_t("sales.my_sales") %> <small>(from <%= @start_date.strftime("%B %Y") %> <%= custom_t(:to) %> <%= @end_date.strftime("%B %Y") %>)</small></h1>
    <ul id="export-csv">
      <li><%= link_to custom_t("invoices.royalty_invoices.royalty_invoices") , list_transactions_path if vat_feature_flipper_enabled? %></li>
    </ul>
  </header>

  <div id="report-totals-container">
    <%= render partial: 'report_totals' %>
  </div>

  <div id="report-header-container" class="grid_16 alpha">
    <%= render partial: 'report_header' %>
  </div>

  <div id="filter-container" class="grid_4 omega">
    <%= form_tag action: "date_report" do %>
      <%= render partial: 'filters', locals: { show_filters: current_user.feature_gating_can_do?(:premium_sales_report) } %>
    <% end %>
  </div>
  <div id="sales-container" class="grid_12 alpha store-sales">
    <div class="report-links-container">
      <%= render partial: 'report_links' %>
      <div class="no-access-container">

        <%= render partial: "shared/no_plan_access", locals: { css_class: "no-access-div"} %>
      </div>
    </div>
  </div>
</section>
