<% content_for :external_javascript do %>
  <!--[if IE]><script src="/javascripts/excanvas.min.js"></script><![endif]-->
  <%= javascript_include_tag "/javascripts/plugins/jquery.dataTables.min" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.tablesorter" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.quicksearch" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.tablesorter.pager" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.cookie" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.rule" %>
  <%= javascript_include_tag "/javascripts/app/select_all" %>
  <%= javascript_include_tag "/javascripts/app/sales" %>
<% end %>
<style>
	#container{
		position: relative;
	}
</style>

<section class="grid_16" id="my-account">
  <header>
    <h1><%= custom_t("sales.my_sales") %> <small>(from <%= @start_date.strftime("%B %Y") %> to <%= @end_date.strftime("%B %Y") %>)</small></h1>
    <ul id="export-csv">
      <li><%= link_to custom_t("sales.daily_trend"), {controller: 'trend_reports', action: 'index'} %></li>
      <li><%= link_to custom_t("sales.download_sales"), {controller: 'my_account', action: 'exports'} %></li>
      <li><%= link_to custom_t("invoices.royalty_invoices.royalty_invoices") , list_transactions_path if vat_feature_flipper_enabled? %></li>
    </ul>
  </header>

  <div id="report-totals-container">
    <%= render :partial => 'report_totals' %>
  </div>

  <div id="filter-container" class="grid_4 omega">
    <%= form_tag :action => 'song_report' do %>
      <%= render partial: 'filters', locals: { show_filters: current_user.feature_gating_can_do?(:premium_sales_report) } %>
    <% end %>
  </div>

  <div id="sales-container" class="grid_12 alpha song-sales">
    <%= render :partial => 'report_links' %>
    <span id="table-search"><%= custom_t(".search") %> <input name="filter" id="filter-box" value="" size="30" type="text" /></span>
    <span id="export-csv"><%= link_to custom_t("sales.download_report"), {:controller => 'sales', :action => 'export', :report_type => params[:action]} %></span>
    <table class="data-report song-report" id="sales-table" class="grid_12 alpha">
      <thead>
        <tr>
          <% if @song_sales_records && !@song_sales_records.empty? %>
            <th class="sales-song-title"><%= custom_t(".song_name") %></th>
            <th class="sales-release-title"><%= custom_t(".release_name") %></th>
            <th class="sales-songs-sold"><%= custom_t("sales.songs_sold") %></th>
            <th class="sales-streams-sold"><%= custom_t("sales.streams") %></th>
            <th class="sales-total-earned"><%= custom_t(:total) %></th>
          <% else %>
            <th colspan='5'></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% if @song_sales_records && !@song_sales_records.empty? %>
          <% @song_sales_records.each do |sales_record| %>
            <tr class="<%= cycle("odd","even") %>">
              <td class="sales-song-title">
                <%= link_to truncate(@report.song_name(sales_record.song_id), :omission => "...", :length => 50),
                {
                  :action => "individual_release",
                  :related_id => sales_record.release_id,
                  :related_type => sales_record.release_type,
                  :date => {:start_date => @start_date, :end_date => @end_date},
                  :stores => params[:stores],
                  :anchor => sales_record.song_id
                },
                :title => @report.song_name(sales_record.song_id) %>
              </td>
              <td class="sales-release-title">
                <span title="<%= @report.release_name(sales_record.release_type, sales_record.release_id) %>">
                  <%= truncate(@report.release_name(sales_record.release_type, sales_record.release_id), :omission => "...", :length => 50) %>
                </span>
              </td>
              <td class="sales-songs-sold">
                <% if params[:distribution_type].nil? || (params[:distribution_type] && params[:distribution_type].include?("Download"))%>
                  <%= number_with_delimiter(sales_record.songs_sold.to_i, :delimiter => ',') %>
                <% else %>
                  &mdash;
                <% end %>
              </td>
              <td class="sales-streams-sold">
                <% if params[:distribution_type].nil? || (params[:distribution_type] && params[:distribution_type].include?("Streaming"))%>
                  <%= number_with_delimiter(sales_record.streams_sold.to_i, :delimiter => ',') %>
                <% else %>
                  &mdash;
                <% end %>
              </td>
              <td class="sales-total-earned">
                  <%= sales_report_money_to_currency(sales_record.total_earned.to_money(sales_record.amount_currency), precision: 14, full_amount: sales_record.total_earned) %>
              </td>
            </tr>
          <% end %>
          <tr id="noresults" style="display:none;"><td colspan="6"><%= custom_t(".no_results") %></td></tr>
        <% else %>
          <tr><td colspan='5' style="text-align:center"><%= custom_t("sales.no_sales.no_sales") %></td></tr>
        <% end %>
      </tbody>
    </table>
    <%= render :partial => "pager" %>
  </div>
  <div class="clear"></div>
</section>
