<% @grouped_songs_sales_records.each do |song_sales_record| %>
  <h1>
    <a id="<%= song_sales_record.song_id %>" href="<%= url_for(:action => "individual_song_release", :release_id => @album.id, :song_id => song_sales_record.song_id, :stores => params.permit(:stores), :countries => params.permit(:countries), :distribution_type => params.permit(:distribution_type), :date => params.permit(:date)) %>" class="toggle-button">
      <%= song_sales_record.track_number %> <%= song_sales_record.song_name %>
      <span class="sales-info">
        <span class="units-sold">
          <%= custom_t(".sold") %><b>
          <% if params['distribution_type'].nil? || (params['distribution_type'] && params['distribution_type'].include?("Download"))%>
            <%= number_with_delimiter(song_sales_record.songs_sold.to_i, :delimiter => ',') %>
          <% else %>
            &mdash;
          <% end %>
          </b>
        </span>
        <span class="streams-sold">
          <%= custom_t(".streams") %> <b>
          <% if params['distribution_type'].nil? || (params['distribution_type'] && params['distribution_type'].include?("Streaming"))%>
            <%= number_with_delimiter(song_sales_record.streams_sold.to_i, :delimiter => ',') %>
          <% else %>
            &mdash;
          <% end %>
          </b>
        </span>
        <span class="total-earned">
          <%= custom_t(".total_earned") %><b>
          <%= sales_report_money_to_currency(song_sales_record.formatted_amount.to_money(song_sales_record.amount_currency)) %></b>
        </span>
      </span>
    </a>
  </h1>
  <div class="report-table">
    <div id="pager-<%= song_sales_record.song_id %>" class="table_bottom">
      <div id="sales-table_paginate" class="dataTables_paginate paging_two_button">
        <a href="#" class="prev paginate_enabled_previous"><%= custom_t(:prev) %></a>
        <a href="#" class="next paginate_enabled_next"><%= custom_t(:next) %></a>
      </div>
      <div id="sales-table_info" class="pagedisplay dataTables_info"><%= custom_t("sales.page") %> 1/1</div>
      <div id="sales-table_length" class="pagesize_wrapper dataTables_length">
        <p><%= custom_t(".show_rows") %></p>
        <select name="sales-table_length" class="pagesize" size="1">
          <option selected="selected"  value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option  value="100">100</option>
        </select>
      </div>
    </div>
  </div>
<% end %>
