<% float_left ||= false %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "unique_payout_tooltip" %>
<% end %>

<span class="unique-payout-tooltip <%="float-left" if float_left %>">
  <i class="fa fa-question-circle qtip-unique-payout" 
    data-tooltip="
      <div class='unique-payout-tooltip-content'>
        <div class='unique-payout-tooltip-header'><h3 class='unique-payout-tooltip-title'><%= custom_t("tooltip.tencent_mucoin_header") %></h3></div>
        <br>
        <span class='unique-payout-tooltip-message'><%= custom_t("tooltip.tencent_mucoin_summary") %></span>
      </div>"
    >
  </i>
</span>
