<% content_for :external_javascript do %>
  <%= javascript_include_tag "unique_payout_tooltip" %>
<% end %>

<span class="unique-payout-tooltip inline">
  <i class="fa fa-question-circle qtip-unique-payout"
    data-tooltip="
      <div class='unique-payout-tooltip-content'>
        <div class='unique-payout-tooltip-header'>
          <h3 class='unique-payout-tooltip-title'><%= custom_t('note').upcase %></h3>
        </div>
        <br>
        <span class='unique-payout-tooltip-message'><%= t("tooltip.withholding") %></span>
      </div>"
    >
  </i>
</span>
