<section class="grid_16" id="my-account">
  <div style="border: 2px solid rgb(34, 34, 34); width: 600px; padding: 20px; background-color: rgb(255, 255, 238); margin: 20px auto; -moz-border-radius: 10px 10px 10px 10px;">

  <p style="font-weight: bold; font-size: 16px;"><%= custom_t(".sales_data") %></p>
  <p style="font-weight: bold; font-size: 16px;"><%= custom_t(".sorry") %></p>

</div>
<%= image_tag("/images/sales_example.jpg") %>
</section>
