<table class="song-item data-report song-sales-table">
  <thead>
    <tr>
      <% if @song_sales_records && !@song_sales_records.empty? %>
        <th><%= custom_t("sales.sales_period") %></th>
        <th><%= custom_t("sales.store_name") %></th>
        <th><%= custom_t(:country_display) %></th>
        <th><%= custom_t(:units) %></th>
        <th><%= custom_t("sales.pay_rate") %></th>
        <th><%= custom_t("sales.net_sales") %></th>
        <th><%= custom_t("sales.exchange_rate") %></th>
        <th class="sales-total-earned">Total</th>
      <% else %>
        <th colspan='8'></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if @song_sales_records && !@song_sales_records.empty? %>
      <% # TODO: This should probably be a distinct somewhere %>
      <% @song_sales_records.to_a.flatten.each do |song_sales_record| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td class="sales-period"><%= song_sales_record.period_sort %></td>
          <td><%= song_sales_record.store_name %></td>
          <td><%= song_sales_record.country %></td>
          <td><%= number_with_delimiter(song_sales_record.quantity.to_i, :delimiter => ",") %></td>
          <td class="currency"><span class="reports-currency">(<%= song_sales_record.amount_currency %>)</span> <span class="reports-amount"><%= sales_report_money_to_currency(song_sales_record.formatted_revenue_per_unit.to_money(song_sales_record.amount_currency), precision: 14, full_amount: song_sales_record.formatted_revenue_per_unit) %></span></td>
          <td class="currency"><span class="reports-currency">(<%= song_sales_record.amount_currency %>)</span> <span class="reports-amount"><%= sales_report_money_to_currency(song_sales_record.formatted_revenue_total.to_money(song_sales_record.amount_currency), precision: 14, full_amount: song_sales_record.formatted_revenue_total) %></span></td>
          <td><%= song_sales_record.exchange_rate %></td>
          <td class="sales-total-earned"><%= sales_report_money_to_currency(song_sales_record.formatted_amount.to_money(song_sales_record.amount_currency), precision: 14, full_amount: song_sales_record.formatted_amount) %></td>
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan='8' style="text-align:center"><%= custom_t(".no_song_sales") %></td></tr>
    <% end %>
  </tbody>
</table>
