<% content_for :external_javascript do %>
  <!--[if IE]><script src="/javascripts/excanvas.min.js"></script><![endif]-->
  <%= javascript_include_tag "/javascripts/plugins/jquery.dataTables.min" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.tablesorter" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.tablesorter.pager" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.cookie" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.rule" %>
  <%= javascript_include_tag "/javascripts/app/select_all" %>
  <%= javascript_include_tag "/javascripts/app/sales" %>

  <script type="text/javascript">
    jQuery(document).ready(function(){
      new SelectAllButton('#select-all-stores','#stores-filter');
    });
  </script>
<% end %>

<section class="grid_16" id="my-account">
  <header>
    <h1><%= @release_details.release_type %> Sales <small>(from <%= @start_date.strftime("%B %Y") %> to <%= @end_date.strftime("%B %Y") %>)</small></h1>
    <ul id="sales-report">
      <li><%= link_to custom_t("sales.daily_trend"), {:controller => 'trend_reports', :action => 'index'} %></li>
      <li><%= link_to custom_t("sales.download_report"), {:controller => 'my_account', :action => 'exports'} %></li>
      <li><%= link_to custom_t(".back_to_sales"), {:controller => 'sales', :action => 'release_report'} %></li>
    </ul>
  </header>

  <div id="report-totals-container">
    <div id="sales-individual-release">
      <% if params[:related_type] == 'Album' %>
        <%= render :partial => 'sales/individual_releases/album' %>
      <% elsif params[:related_type] == 'Single' %>
        <%= render :partial => 'sales/individual_releases/single' %>
      <% elsif params[:related_type] == 'Ringtone' %>
        <%= render :partial => 'sales/individual_releases/ringtone' %>
      <% elsif params[:related_type] == 'Video' %>
        <%= render :partial => 'sales/individual_releases/video' %>
      <% end %>
    </div>
    <%= render :partial => 'report_totals' %>
  </div>

  <div id="filter-container" class="grid_4 omega">
    <div id="sales-filters">
      <%= form_tag({ action: "individual_release" }, method: 'get') do  %>
        <% %w[related_id related_type].each do |key| %>
          <%= hidden_field_tag key, params[key] if params[key].present? %>
        <% end %>
        <h2><%= custom_t(".date_range") %></h2>
        <div id="sales-date-range">
          <div>
            <%= label :date, :start_date %>
            <%= select 'date','start_date', @reporting_dates, :selected => @start_date.strftime("%Y-%m-%d"), :class => "date" %>
          </div>
          <div>
            <%= label :date, :end_date %>
            <%= select 'date','end_date', @reporting_dates, :selected => @end_date.strftime("%Y-%m-%d"), :class => "date" %>
          </div>
        </div>

        <h2><%= custom_t("sales.filter_by") %></h2>
        <div id="advanced-options" class="collapsible">
          <div id="types" class="container">
            <h3><a href="#stores-filter" class="toggle-button<% if params[:stores] && (params[:stores].size < @user_stores.size) -%> dOpen<% end -%>"><%= custom_t(:stores) %></a></h3>
            <div id="stores-filter" class="select-all-section">
              <div class="select-all-box">
                <a href="#" class="select-all"><%= custom_t(:check_all) %></a> | <a href="#" class="select-none"><%= custom_t(:uncheck_all) %></a>
              </div>
              <ul>
              <% @user_stores.each do |store| %>
                <li>
                  <%= check_box_tag "stores[]", store.display_group_id, params[:stores] && params[:stores].include?("#{store.display_group_id}") || @initial_page_load && params[:external_page].nil?, :id => "stores_#{store.display_group_id}" %>
                  <%= label_tag "stores_#{store.display_group_id}", store.store_name%>
                </li>
              <% end %>
              </ul>
            </div>
          </div>

          <div id="countries" class="container">
            <h3><a href="#countries-filter" class="toggle-button<% if params[:countries] && (params[:countries].size < @user_countries.size) -%> dOpen<% end -%>"><%= custom_t(:countries) %></a></h3>
            <div id="countries-filter" class="select-all-section">
              <div class="select-all-box">
                <a href="#" class="select-all"><%= custom_t(:check_all) %></a> | <a href="#" class="select-none"><%= custom_t(:uncheck_all) %></a>
              </div>
              <ul>
                <% @user_countries.each do |country| %>
                  <li>
                    <%= check_box_tag "countries[]", country.iso_code, params[:countries].nil? || params[:countries].include?("#{country.iso_code}") || (@initial_page_load && params[:external_page].nil?), :id => "countries_#{country.iso_code}" %>
                    <%= label_tag "countries_#{country.iso_code}", country.name%>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>

          <div id="distribution_type" class="container">
            <h3><a href="#distribution_type-filter" class="toggle-button<% if params[:distribution_type] && (params[:distribution_type].size < 2) -%> dOpen<% end -%>"><%= custom_t("sales.distribution_type") %></a></h3>
            <div id="distribution_type-filter" class="select-all-section">
              <ul>
                <li>
                  <%= check_box_tag "distribution_type[]", "Download", params[:distribution_type].nil? || params[:distribution_type].include?("Download") || (@initial_page_load && params[:external_page].nil?), :id => "distribution_type_download" %>
                  <%= label_tag :distribution_type_download, custom_t(:download) %>
                </li>
                <li>
                  <%= check_box_tag "distribution_type[]", "Streaming", params[:distribution_type].nil? || params[:distribution_type].include?("Streaming") || (@initial_page_load && params[:external_page].nil?), :id => "distribution_type_streaming" %>
                  <%= label_tag :distribution_type_streaming, custom_t(:streaming) %>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div>
          <div class="submit" style="float: left;"><%= submit_tag custom_t(:filter) %></div>
          <div class="select-all-box master" style="float: left; margin-left: 10px;">
            <a href="#" class="select-all"><%= custom_t(:ele_check) %></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="sales-container" class="grid_12 alpha individual-sales">
      <% if @release_details.release_type == 'Album' || @release_details.release_type == 'Video' || @release_details.release_type == 'Single'  %>
        <div id="release-sales-records">
          <h2><%= @release_details.release_type == 'Single' ? 'Release' :  @release_details.try(:release_type) %> Sales</h2>
          <a href="#" id="expand" class="filter end-arrow"><%= custom_t(".show_decimals") %></a>
          <table class="data-report alternate" id="sales-table" >
            <thead>
                <tr>
                  <% if @release_sales_records && !@release_sales_records.empty? %>
                    <th><%= custom_t("sales.sales_period") %></th>
                    <th><%= custom_t("sales.store_name") %></th>
                    <th><%= custom_t(:country_display) %></th>
                    <th><%= custom_t(:units) %></th>
                    <th><%= custom_t("sales.pay_rate") %></th>
                    <th><%= custom_t("sales.net_sales") %></th>
                    <th><%= custom_t("sales.exchange_rate") %></th>
                    <th class="sales-total-earned"><%= custom_t(:total) %></th>
                  <% else %>
                    <th colspan='8'></th>
                  <% end %>
                </tr>
            </thead>
            <tbody>
              <% if @release_sales_records && !@release_sales_records.empty? %>
                <% @release_sales_records.each do |sales_record| %>
                  <tr class="<%= cycle("odd", "even") %>">
                    <td class="sales-period"><%= sales_record.period_sort %></td>
                    <td><%= sales_record.store_name %></td>
                    <td><%= sales_record.country %></td>
                    <td><%= number_with_delimiter(sales_record.quantity, :delimiter => ',') %></td>
                    <td class="currency"><span class="reports-currency">(<%= sales_record.currency %>)</span> <span class="reports-amount"><%= sales_report_money_to_currency(sales_record.formatted_revenue_per_unit.to_money(sales_record.currency), precision: 14, full_amount: sales_record.formatted_revenue_per_unit) %></span></td>
                    <td class="currency"><span class="reports-currency">(<%= sales_record.currency %>)</span> <span class="reports-amount"><%= sales_report_money_to_currency(sales_record.formatted_revenue_total.to_money(sales_record.currency), precision: 14, full_amount: sales_record.formatted_revenue_total) %></span></td>
                    <td><%= sales_record.exchange_rate %></td>
                    <td class="sales-total-earned"><%= sales_report_money_to_currency(sales_record.formatted_amount.to_money(sales_record.amount_currency), precision: 14, full_amount: sales_record.formatted_amount) %></td>
                  </tr>
                <% end %>
              <% else %>
                <tr><td colspan='8' style="text-align:center"><%= custom_t(".no_album_sales") %></td></tr>
              <% end %>
            </tbody>
          </table>
          <%= render :partial => "pager" %>
        </div>
        <% end %>
    <% unless params[:related_type] == 'Video' %>
      <h2><%= custom_t(".song_sales") %></h2>
      <% if @grouped_songs_sales_records.empty? %>
        <%= custom_t(".no_song_sales") %>
      <% else %>
        <div id="song-sales-record" class="collapsible">
          <%= render :partial => "song_pager" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div style="clear: both;"></div>
</section>
