<% height = "340px" %>
<% if never_distributed %>
  <% height = "150px" %>
<% end %>

<section class="grid_16" id="my-account">
  <div style="border: 2px solid rgb(34, 34, 34); width: 600px; height: <%= height %>; padding: 20px; background-color: rgb(255, 255, 238); margin: 20px auto; -moz-border-radius: 10px 10px 10px 10px;">

  <p style="font-weight: bold; font-size: 16px;"><%= custom_t(".no_sales") %></p>

<% if never_distributed %>
  <p><%= custom_t(".not_distributed_music") %></p>

  <p><%= link_to custom_t(".click_to_create"), new_album_path %></p>

<% else %>
  <p><%= custom_t(".thanks_for_distributing") %></p>

  <h4><%= custom_t(".consider_following") %></h4>
  <ul>
    <br/>
    <li><%= custom_t(".share_and_sell", {url: link_to(custom_t(".store_manager"), store_manager_path)}) %></li>
    <br/>
    <li><%= custom_t(".sells_digital_stores") %></li>
    <br/>
    <li><%= custom_t(".sales_posted") %></li>
  </ul>
<% end %>

</div>
<%= image_tag("/images/sales_example.jpg") %>
</section>
