<% if current_user.feature_gating_can_do?(:premium_sales_report) %>
  <%= render "song_report_view" %>
<% else %>
  <%= render partial: "sales_report_no_access_view", locals: {sales_view: "song_report"} %>
<% end %>
