
<section class="grid_16" id="my-account">
  <header><h1><%= custom_t(".store_status") %></h1></header>
  <p><%= custom_t(".digital_stores") %></p>

  <% @months.first(2).each do |month| %>
  <p style="margin-bottom:2px"><%= custom_t(".expected_sales_for_month", formatted_month: fmt_month_year(month), fifteenth_month: fmt_fifteenth_of_the_month(month >> 2)) %></p>
  <% end %>
  <div id="sales-container" class="grid_16 alpha">
      <table id="status-table" class="grid_16 alpha data-report">
  <thead>
    <tr class="date-header">
      <th>&nbsp;</th>
      <% @months.last(@months.length-2).each do |month| %>
       <th style="text-align:center;padding-left: 10px;font-size: 12px"><%= fmt_month_year(month) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>

  <% @sip_stores.each do |sip_store| %>
    <% store_obj = Store.find(sip_store.store_id) %>
      <tr class="<%=cycle('odd','even') %>">
        <th style="text-align:left;font-size: 12px; padding: 0px 5px; vertical-align:middle; width: 210px; height: 40px; line-height:40px"><div style="float: left; margin-right: 5px; vertical-align:middle" class="store-icon icon-<%= store_obj.abbrev %>"></div><%= store_obj.name %></th>
        <% @months.last(@months.length-2).each do |month| %>
          <% if sip_store.sales_for_month?(month)==true %>
            <td style="text-align:center;padding-left:10px; width:60px"><span class="sale"><%= custom_t(:yes_y) %></span></td>
          <% else %>
            <td style="text-align:center;padding-left:10px; width: 60px">-</td>
          <% end %>
      <% end %>
      </tr>
    <% end %>

  </tbody>
</table>
</div>
</section>
