
<section class="grid_16" id="my-account">
  <header><h1><%= custom_t(".store_reporting") %></h1></header>
  <p><%= custom_t(".status_update") %></p>
  <ul id="status-table-legend">
    <li style="border-bottom: 1px solid #aaa; margin-bottom:3px"><b><%= custom_t(".legend") %></b>
    <li><span class="sale">Y</span> = <%= custom_t(".store_report_sales_posted") %> </li>
    <li><span class="nosale">-</span> = <%= custom_t(".store_not_reported") %> <%= fmt_month_year(Date.today)%></li>
  </ul>
  <% @special_warnings.each do |month| %>
    <% if @months.first(3).include?(month) %>
      <p class="status-emphasis"><%= custom_t(".sales_for") %> <b><%= fmt_month_year(month) %></b> <%= custom_t(".are_expected") %> <b><%= fmt_fifteenth_of_the_month(month >> 2) %></b></p>
    <% end %>
  <% end %>
  <div id="sales-container" class="grid_16 alpha">
      <table id="status-table" class="grid_16 alpha data-report">
  <thead>
    <tr class="date-header">
      <th>&nbsp;</th>
      <% @months.last(@months.length).each do |month| %>
         <% next if @special_warnings.include?(month) %>
       <th style="text-align:center;padding-left: 10px;font-size: 12px"><%= fmt_month_year(month) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
   <% @sip_stores.each do |sip_store| %>
     <% store_obj = Store.find(sip_store.store_id) %>
     <tr class="<%=cycle('odd','even') %>">
      <th style="text-align:left;font-size: 12px; padding: 0px 5px; vertical-align:middle; width: 210px; height: 40px; line-height:40px">
        <% if store_obj != nil %>
          <div style="float: left; margin-right: 5px; vertical-align:middle" class="store-icon icon-<%= store_obj.abbrev %>"></div>
          <%= store_obj.name %>
        <% end %>
      </th>
       <% @months.last(@months.length).each do |month| %>
          <% next if @special_warnings.include?(month) %>
          <% if sip_store.sales_for_month_in_group?(month,sip_store.display_group_id)==true %>
            <td style="text-align:center;padding-left:10px; width:65px"><%= link_to custom_t(:yes_y), store_report_path(:stores=> sip_store.id, :date=>{:start_date => fmt_first_of_month(month), :end_date => fmt_first_of_month(month)}),{ :class=>"sale" } %>
          </td>
          <% else %>
            <td style="text-align:center;padding-left:10px; width: 65px">-</td>
          <% end %>
      <% end %>
      </tr>
    <% end %>

  </tbody>
</table>
</div>
</section>
