<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t('.we_have_blocked') %>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= @album.name %><br>
      <%= @album.artist_name %>
    </td>
  </tr>

    <tr>
      <td align="left" width="640" style="padding: 0 10px 10px;">
        <%= custom_t(".body") %><br>
      </td>
    </tr>
</table>
