<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t('.greeting', customer_name: @person.name) %>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t('.thank_you') %>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= @album.name %><br>
      <%= @album.artist_name %>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t(".content1") %><br>
      <%= custom_t(".content2") %><br>
      <%= custom_t(".content3") %><br>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t('.sign_off') %>
    </td>
  </tr>
</table>
