<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t('.greeting', customer_name: @person.name) %>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t('.thank_you') %>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= @album.name %><br>
      <%= @album.artist_name %>
    </td>
  </tr>

  <% @email_template_paths.each do |email_template_path| %>
    <tr>
      <td align="left" width="640" style="padding: 0 10px 10px;">
        <%= custom_t(".#{email_template_path}") %><br>
      </td>
    </tr>
  <% end %>

  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t('.sign_off') %>
    </td>
  </tr>
</table>
