<% content_for :greeting do %>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" width="640" style="padding: 10px;">
        <p><%= custom_t(:dear) %> <%= @person.name %>,</p>
      </td>
    </tr>
  </table>
<% end %>
<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("tax_change_notifications.notification_of_tax_change_no_inc_no_taxform.body", {
          artist_name: @person.name,
          account_settings_url: edit_person_url(@person.id, host: @person.domain, tab: "taxpayer_id")
      }) %>
    </td>
  </tr>
</table>
