<% content_for :greeting do %>
  <span/>
<% end %>

<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 10px; line-height: 22px;">
      <p><%= custom_t('.good_news') %> <strong><%= @store.name %></strong>!</p>

      <% unless @store.description.blank? %>
        <p><%= raw(@store.description) %></p>
      <% end %>

      <p><%= custom_t('.more_good_news') %> <%= pluralize_without_count(@release_list.size, "release") %> <%= custom_t('.below') %> <%= @store.name %>.</p>

      <table border="0" cellpadding="7" cellspacing="0" width="90%" style="margin: 30px auto; font-size: 13px">
        <thead>
          <tr style="background-color: #e0e0e0; font-family: Georgia, Times, serif;">
            <td style="padding-top: 15px; border: 1px solid #777777; border-bottom: none">
              <em><%= custom_t(:artist_name) %></em>
            </td>
            <td style="padding-top: 15px; border: 1px solid #777777; border-left: none; border-bottom: none">
              <em><%= custom_t(:release_name) %></em>
            </td>
            <td style="padding-top: 15px; border: 1px solid #777777; border-left: none; border-bottom: none">
              <em><%= custom_t(:release_type) %></em>
            </td>
            <td style="padding-top: 15px; border: 1px solid #777777; border-left: none; border-bottom: none">
              <em><%= custom_t(:upc) %></em>
            </td>
          </tr>
        </thead>
        <% (0...@albums_to_show).each do |i| %>
          <tr>
            <td style="border: 1px solid #777777;"><%= @release_list[i][:artist_name] %></td>
            <td style="border: 1px solid #777777; border-left: none"><%= @release_list[i][:album_name] %></td>
            <td style="border: 1px solid #777777; border-left: none"><%= @release_list[i][:album_type] %></td>
            <td style="border: 1px solid #777777; border-left: none"><%= @release_list[i][:upc] %></td>
          </tr>
        <% end %>
      </table>

      <% if @add_csv %>
        <p><%= custom_t('.full_list') %></p>
      <% end %>

      <p> <%= custom_t(:upc, {store: @store.name}) %></p>
    </td>
  </tr>
</table>

<% content_for :signature do %>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" width="640" style="padding: 10px;">
        <p><%= custom_t('.friends') %></p>
      </td>
    </tr>
  </table>
<% end %>
