.credit-note-invoice-content {
  text-rendering: optimize-speed;
  height: 340mm;

  table {
    border-collapse: collapse;

    thead {
      display: table-row-group;
    }

    tbody {
      line-height: 30px;
    }

    tr {
      height: 30px;
    }

    th {
      color: white;
    }
  }

  .no-padding {
    padding: 0;
  }

  .bgd-white {
    background-color: white;
  }

  .bgd-grey {
    background-color: #f1f1f1;
  }

  .bold {
    font-weight: bold;
  }

  .no-border {
    border: none;
  }
}
