.credit-note-invoice-header {
  .title {
    text-align: center;
    font: normal 1.5rem Helvetica, Arial;
  }

  .logo {
    img {
      width: 200px;
      height: 40px;
    }
  }

  .greyed-text {
    color: grey;
  }

  .wrapper {
    display: block;
    font-size: 13px;
    line-height: 17.7px;

    .h-tc,
    .h-bi {
      height: max-content;
    }

    .from-address {
      width: 40%;
      float: left;
    }

    .to-address {
      max-width: 40%;
      float: right;
      word-break: break-all;
    }
  }
}
