.bi-outbound-invoice {
  margin: 0px 150px 16px;
  font-size: 12px;

  .credit-note-header {
    display: flex;
    justify-content: flex-end;
    margin: 16px 0;

    .blue-btn {
      margin: 0;
      font-size: 12px;
    }
  }

  .credit-note-content {
    margin: 16px 0;

    .credit-note-invoice-header {
      .title {
        margin-bottom: 0.5em;
      }
      .wrapper {
        overflow: auto;
      }
    }

    .product-details {
      margin-top: 0.5em;
    }

    .no-padding {
      padding: 0;
    }

    .bgd-white {
      background-color: white;
    }

    .bgd-grey {
      background-color: #f1f1f1;
    }

    .bold {
      font-weight: bold;
    }

    .no-border {
      border: none;
    }
  }

  .outbound-footer-text {
    padding: 10px;
    text-align: center;
    color: grey;
  }

  .vat-text {
    text-align: right;
    margin-bottom: 3rem;
    font-size: 0.8rem;
  }

  @media screen and (max-width: 425px) {
    margin: 5px 15px;
    .credit-note-content {
      margin: 0;
      .invoice-header .wrapper {
        height: auto;
        .to-address,
        .from-address {
          float: none;
          height: auto;
        }
      }
    }
  }

  @media screen and (max-width: 857px) {
    margin: 5px 15px;
    .credit-note-content {
      margin: 0;

      .invoice-header .wrapper {
        height: auto;

        .to-address,
        .from-address {
          float: none;
          height: auto;
        }
      }
    }
  }
}
