<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("stem_mailer.stem_releases_transferred_existing_user") %>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("stem_mailer.existing_tc_user", faq_url: knowledgebase_link_for("Stem-FAQ", @person.country_domain)) %>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("stem_mailer.thanks_for_using_tc_existing_user") %>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <%= link_to custom_t("stem_mailer.existing_user_cta",
                  link: knowledgebase_link_for("Stem-FAQ", @person.country_domain)),
                  login_url(host: @person.country_website.url, ENV.fetch("LOGIN_DDOS_MITIGATION_PARAM", "check").to_sym => 1),
                  style: "background-color: #3a96cf; color: white; border-radius: 4px; padding: 10px; text-decoration: none;"
      %>
    </td>
  </tr>
</table>
