<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("stem_mailer.welcome_to_tunecore") %>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("stem_mailer.stem_releases_transferred_new_user") %>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("stem_mailer.store_requirements_changed") %>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("stem_mailer.thanks_for_using_tc_new_user") %>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <%= link_to custom_t("stem_mailer.new_user_cta"), new_reset_password_url(host: @person.country_website.url), style: "background-color: #3a96cf; color: white; border-radius: 4px; padding: 10px; text-decoration: none;" %>
    </td>
  </tr>
</table>