<%= content_for :greeting do %>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" width="640" style="padding: 10px;">
        <p><%= custom_t("stem_mailer.welcome", name: @name) %></p>
      </td>
    </tr>
  </table>
<% end %>

<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("stem_mailer.tunecore_trial") %>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("stem_mailer.take_advantage") %>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("stem_mailer.faq", faq: "https:#{knowledgebase_link_for default_knowledgebase_link.article_slug}") %>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <%= link_to custom_t("stem_mailer.sign_in"), new_reset_password_url(host: @person.country_website.url), style: "background-color: #3a96cf; color: white; border-radius: 4px; padding: 10px; text-decoration: none;" %>
    </td>
  </tr>
</table>
