<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("stem_mailer.stem_reminder_intro") %>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("stem_mailer.stem_reminder_faq", faq_url: knowledgebase_link_for("Stem-FAQ", @person.country_domain)) %>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <%= link_to custom_t("stem_mailer.new_user_cta"),
                  new_reset_password_url(host: @person.country_website.url),
                  style: "background-color: #3a96cf; color: white; border-radius: 4px; padding: 10px; text-decoration: none;"
      %>
    </td>
  </tr>
</table>
