<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("stem_mailer.stem_onboarding_reminder.onboarding_update_body") %>
    </td>
  </tr>
  <tr>
    <td align="left" width="640" style="padding: 0 10px 10px;">
      <%= custom_t("stem_mailer.stem_existing_tc_user_update.tunecore_benefits") %>
      <ul>
        <li><%= custom_t("stem_mailer.stem_onboarding_reminder.helpful_reporting") %></li>
        <li><%= custom_t("stem_mailer.stem_onboarding_reminder.international_reach") %></li>
        <li><%= custom_t("stem_mailer.stem_onboarding_reminder.social_media_opportunities") %></li>
        <li><%= custom_t("stem_mailer.stem_onboarding_reminder.user_revenue") %></li>
      </ul>
    </td>
  </tr>

  <tr>
    <td align="left" width="640" style="padding: 10px;">
      <%= link_to custom_t("stem_mailer.stem_onboarding_reminder.login_now"),
                  login_url(host: "https://web.tunecore.com", ENV.fetch("LOGIN_DDOS_MITIGATION_PARAM", "check").to_sym => 1),
                  style: "background-color: #3a96cf; color: white; border-radius: 4px; padding: 10px; text-decoration: none;"
      %>
    </td>
  </tr>
</table>
