<section class="grid_16">
  <header>
	  <h1>Exclusive Offers for TuneCore Artists</h1>
  </header>
  <div class='grid_16 alpha omega'>
    <p>TuneCore Artists get special offers on tools and products to enhance and market your music. Click below for more.</p>
    <% @products.each do |product|%>
    <div class="small_promo_block">
      <%= link_to(image_tag(product.mini_image_web_path, :width => "220", :class => "mini-brick"), :action => 'product', :product_id => product)%>
      <h4><%= link_to(product.short_title, :action => 'product', :product_id => product)%></h4>
    </div>
  <% end %>
  </div>
</section>
