<% unless @email.blank? %>
	<h1>Thank you</h1>
	<p>Thank you for you order. We will email you back a quote within 12 hours.
	If you have any additional questions or need to meet a deadline please call 646-651-1060 and ask for Manufacturing</p>
<% else %>
	<h2>Enter your email</h2>
	<p>Please provide an active Email address we can send your price quote to.</p>
<% end %>
<fieldset>
	<a href="https://www.e-junkie.com/ecom/gb.php?c=cart&cl=19144&ejc=2" target="ej_ejc" class="ec_ejc_thkbx" onClick="javascript:return EJEJC_lc(this);">
    <%= image_tag "/images/buttons/view_cart.gif", alt: "View Cart" %>
	</a>
    <script language="javascript" type="text/javascript">
        function EJEJC_lc(th) { return false; }
    </script>
    <script type="text/javascript" src="https://www.e-junkie.com/ecom/box.js"></script>
	<%= link_to "View all products", :controller => 'store'%>
</fieldset>