<script type="text/javascript" src="https://www.e-junkie.com/ecom/box.js"></script>

<section class="grid_16">
  <header>
    <h1><%= h @product.title%></h1>
  </header><br /><br />
  <div class='grid_11 alpha'>
    <%= @product.body.html_safe %>
  </div>
</section>
