<% if !@transfers.blank? and @page and @per_page.to_s != 'all' %>
  <div class="pagination-wrapper">
    <span style="float: left;"><%= page_entries_info @transfers %></span>
    <span style="float: right;"><%= will_paginate @transfers %></span>
    <div class="clearfix"></div>
  </div>
<% end %>
