<% if transfers.length == 0 %>
<p>No Transfers to Display</p>
<% else %>
<% reset_cycle() %>
<%= form_tag({:action => 'mass_pay_paypal'}) %>
<%= submit_tag 'Mass Pay', class: "submit-paypal-payouts", :style => 'margin-bottom: 15px;' %>
  <%= render 'pagination' %>
  <table class="sales_data paypal_table" cellspacing="0">
  <thead>
    <tr>
      <th><input class="mass-pay-select-all" type="checkbox" id="sales_data_checkbox_toggle"></th>
      <%= th_order_by 'Requested On', 'created_at', @order %>
      <%= th_order_by 'Person', 'people.name', @order %>
      <%= th_order_by 'Payee', 'paypal_address', @order %>
      <%= th_order_by 'Payment Amount', 'payment_cents', @order, {class: 'money'} %>
      <th class='money'>Available Balance</th>
      <th class='paypal-payout-table-header'>Auto Approval Assessable</th>
      <th class='paypal-payout-table-header'>Auto Approval Successful</th>
    </tr>
  </thead>
  <tbody>
  <% transfers.each do |transfer|%>
      <tr class="<%= suspicious_class(transfer, :paypal_address) %> <%= cycle('', 'alt') %> <%= decorated_transfer(transfer).suspicious_class %>">
      <td><input class="mass-pay-checkbox" type="checkbox" name="transfer[id][]" value="<%= transfer.id %>" autocomplete="off"></td>
      <td><%= date(transfer.created_at) %></td>
      <td>
        <div style="position: relative;">
          <%= flag(transfer.country_website) %> <%= link_to(h(transfer.person.name)  + "<br>".html_safe + h(transfer.person.email), {:controller => '/admin/people', :action => :transactions_for, :id => transfer.person}, {:class => 'person-link'}) %>
          <% if transfer.person.status != 'Active' %><span class="attention" alt="<%= transfer.person.status %>" title="<%= transfer.person.status %>">!</span><% end -%>
        </div>
      </td>
      <td><%= transfer_payee(transfer) %></td>
      <td class="money"><%= money_to_currency(Money.new(transfer.payment_cents), :suppress_iso => true) %> <%= transfer.currency %></td>
      <td class="money"><%= money_to_currency(Money.new(transfer.person.available_balance_cents), :suppress_iso => true) %> <%= transfer.currency %></td>
      <td><%= paypal_auto_approval_eligibility(transfer) %></td>
      <td><%= paypal_auto_approval_status(transfer) %></td>
      <td class="no-border-on-link" style="text-align: right;"><%= transfer_actions(transfer) %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
  <%= render 'pagination' %>
  <%= submit_tag 'Mass Pay', class: "submit-paypal-payouts"%>
</form>
<% end %>


<% content_for :external_javascript do %>
  <%= javascript_include_tag '/javascripts/app/admin/mass_pay_payout.js' %>
<% end %>
