<% if transfers.length == 0 %>
<p>No Transfers to Display</p>
<% else %>
<% reset_cycle() %>
<% if @status == 'pending' %>
  <%= form_tag({:action => 'mass_pay_check'}) %>
  <%= submit_tag 'Mass Pay', class: "submit-check-payouts", :onclick => "return confirm('Click OK to actually process these payments now.');", :style => 'margin-bottom: 15px;' %>
<% end %>
<%= render 'pagination' %>
<table class="sales_data" cellspacing="0">
<thead>
	<tr>
    <% if @status == 'pending' %><th><input class="mass-pay-select-all" type="checkbox" id="sales_data_checkbox_toggle"></th><% end %>
    <%= th_order_by 'Requested On', 'created_at', @order %>
    <% if @status == 'processing' %><%= th_order_by 'Processed On', 'updated_at', @order %><% end %>
    <% if @status == 'completed' %><%= th_order_by 'Accepted On', 'updated_at', @order %><% end %>
    <% if @status == 'failed' %><%= th_order_by 'Failed On', 'updated_at', @order %><% end %>
    <% if @status == 'cancelled' %><%= th_order_by 'Cancelled On', 'updated_at', @order %><% end %>
      <%= th_order_by 'Person', 'people.name', @order %>
      <%= th_order_by 'Payee', 'payee', @order %>
      <%= th_order_by 'Payment Amount', 'payment_cents', @order, {class: 'money'} %>
    <% if @status == 'pending' %><th></th><% end %>
	</tr>
</thead>
<tbody>
<% transfers.each do |transfer|%>
	<tr class="<%= suspicious_class(transfer, :payee) %> <%= cycle('', 'alt') %>">
    <% if @status == 'pending' %><td><input class="mass-pay-checkbox" type="checkbox" name="transfer[id][]" value="<%= transfer.id %>" autocomplete="off"></td><% end %>
    <td><%= date(transfer.created_at) %></td>
    <% if ['processing', 'completed', 'failed', 'cancelled'].include? @status %><td><%= date(transfer.updated_at) %></td><% end %>
    <td>
      <div style="position: relative;">
        <%= link_to(h(transfer.person.name), {:controller => '/admin/people', :action => :transactions_for, :id => transfer.person}, {:class => 'person-link'}) %>
        <% if transfer.person.status != 'Active' %><span class="attention" alt="<%= transfer.person.status %>" title="<%= transfer.person.status %>">!</span><% end -%>
      </div>
    </td>
    <td><%= transfer_payee(transfer) %></td>
    <td class="money"><%= money_to_currency(Money.new(transfer.payment_cents), :suppress_iso => true) %>  <%= transfer.currency %></td>
    <% if @status == 'pending' %><td class="money"><%= transfer_actions(transfer) %></td><% end %>
	</tr>
<% end %>
</tbody>
</table>
<%= render 'pagination' %>
<% if @status == 'pending' %>
  <%= submit_tag 'Mass Pay', class: "submit-check-payouts", :onclick => "return confirm('Click OK to actually process these payments now.');" %>
</form>
<% end %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag '/javascripts/app/admin/mass_pay_payout.js' %>
<% end %>