<%= stylesheet_link_tag "/stylesheets/payments.css" %>
<h2>Admin :: Payouts</h2>

  <%= form_tag '', method: 'get', class: "admin-paypal-transfers-filters" do %>
    <fieldset class="horizontal" style="padding: 20px;">
      <span class="spacer-small" style="padding-top: 5px;">Search:</span>
      <span class="spacer nopadleft">
        <%= text_field_tag :keyword, @keyword, placeholder: 'enter a payee name' %>
      </span><br class="clear">
      <hr class="ruler">
      <span class="spacer-small">Transfer Type:</span>
      <span class="spacer nopadleft">
        <%= radio_button_tag :type, 'paypal', @type == 'paypal' %>
        <%= label_tag :type_paypal, "Paypal (#{number_with_delimiter(@paypal_under_count + @paypal_over_count)})" %>
      </span><br class="clear">
      <span class="spacer">
        <%= radio_button_tag :type, 'check', @type == 'check' %>
        <%= label_tag :type_check, "Check (#{number_with_delimiter(@check_pending_count + @check_processing_count + @check_completed_count + @check_failed_count + @check_cancelled_count)})" %><br>
      </span>
      <hr class="ruler">
      <span id="paypal_options" class="type-options" <% unless @type == 'paypal' %>style="display: none;"<% end %>>
        <span class="spacer-small">Threshold:</span>
        <span class="spacer nopadleft">
          <%= radio_button_tag :threshold_status, 'under', @threshold_status == 'under' %>
          <%= label_tag :threshold_status_under, "Under #{number_to_currency(@threshold)} (#{number_with_delimiter(@paypal_under_count)})" %>
        </span><br class="clear">
        <span class="spacer">
          <%= radio_button_tag :threshold_status, 'over', @threshold_status == 'over' %>
          <%= label_tag :threshold_status_over, "Over #{number_to_currency(@threshold)} (#{number_with_delimiter(@paypal_over_count)})" %>
        </span><br class="clear">
      </span>
      <span id="paypal_auto_approval_options" class="type-options">
        <hr class="ruler">
        <span class="spacer-small">Auto-Approval Assessable:</span>
        <span class="spacer nopadleft">
          <%= radio_button_tag :auto_approval_eligible, '', @auto_approval_eligible.blank? %>
          <%= label_tag :auto_approval_eligible, "All" %>
        </span>
        <br class="clear">
        <span class="spacer">
          <%= radio_button_tag :auto_approval_eligible, 'yes', @auto_approval_eligible == 'yes' %>
          <%= label_tag :auto_approval_eligible, "Yes" %>
        </span>
        <br class="clear">
        <span class="spacer">
          <%= radio_button_tag :auto_approval_eligible, 'no', @auto_approval_eligible == 'no' %>
          <%= label_tag :auto_approval_eligible, "No" %>
        </span><br class="clear">
      </span>
      <span id="check_options" class="type-options" <% unless @type == 'check' %>style="display: none;"<% end %>>
        <span class="spacer-small">Status:</span>
        <span class="spacer nopadleft">
          <%= radio_button_tag :status, 'pending', @status == 'pending' %>
          <%= label_tag :status_pending, "Pending (#{number_with_delimiter(@check_pending_count)})" %>
        </span><br class="clear">
        <span class="spacer">
          <%= radio_button_tag :status, 'processing', @status == 'processing' %>
          <%= label_tag :status_processing, "Processing (#{number_with_delimiter(@check_processing_count)})" %>
        </span><br class="clear">
        <span class="spacer">
          <%= radio_button_tag :status, 'completed', @status == 'completed' %>
          <%= label_tag :status_completed, "Completed (#{number_with_delimiter(@check_completed_count)})" %>
        </span><br class="clear">
        <span class="spacer">
          <%= radio_button_tag :status, 'failed', @status == 'failed' %>
          <%= label_tag :status_failed, "Failed (#{number_with_delimiter(@check_failed_count)})" %>
        </span><br class="clear">
        <span class="spacer">
          <%= radio_button_tag :status, 'cancelled', @status == 'cancelled' %>
          <%= label_tag :status_cancelled, "Cancelled (#{number_with_delimiter(@check_cancelled_count)})" %>
        </span><br class="clear">
      </span>
      <hr class="ruler">
      <span class="other-options">
        <span class="spacer-small">Per Page:</span>
        <span class="spacer nopadleft">
          <%= select_tag :per_page, options_for_select([['10', 10],['25', 25],['50', 50], ['75', 75], ['100', 100], ['All', 'all']], @per_page), {style: 'width: 75px;'} %>
        </span>
      </span><br class="clear">
      <span class="other-options padtop-15">
        <span class="spacer-small">&nbsp;</span>
        <%= submit_tag 'GO' %>
        <%= button_tag "Download Report", id: "paypal-transfers-report-download-button", class: "btn download-button" %>
      </span>
    </fieldset>
  <% end %>

	<section>
    <div style="text-align: right; padding-bottom: 15px;">
      *Transfers marked with "<strong>!</strong>" signal that the account is not currently in an active state, hover over "<strong>!</strong>" to view the status.
    </div>
    <h3 style="margin-bottom: 15px;"><%= @type.capitalize %> Transfers <%= money_to_currency(Money.new(@transfers.to_a.sum(&:total_cents)), :suppress_iso => true) %> displayed on this page (includes surcharges)</h3>
    <%= render partial: ((@type == 'paypal') ? 'transferlist_paypal' : 'transferlist'), locals: { transfers: @transfers }%>
	</section>

	<% content_for :external_javascript do %>
	<script type="text/javascript">
	jQuery(document).ready(function($){
    var typeOptions = $('.type-options'),
        toggleRadio = $('#sales_data_checkbox_toggle'),
        paypalRadio = $('#type_paypal'),
        checkRadio = $('#type_check'),
        paypalOptions = $('#paypal_options'),
        paypalAutoAppOpts = $('#paypal_auto_approval_options'),
        checkOptions = $('#check_options'),
        salesDataTable = $('.sales_data'),
        confirmLinks = $('.confirm-link');

    if(!paypalRadio.is(':checked')) paypalAutoAppOpts.hide();
    paypalRadio.click(function(){
        typeOptions.hide();
        paypalOptions.show();
        paypalAutoAppOpts.show();
    });
    checkRadio.click(function(){
        typeOptions.hide();
        checkOptions.show();
        paypalAutoAppOpts.hide();
    });
    toggleRadio.click(function(){
        salesDataTable.find('tbody input[type="checkbox"]').prop('checked', toggleRadio.is(':checked'));
    });
    confirmLinks.click(function(){
        return confirm('Are you sure?');
    });
	});
	</script>
	<% end %>
