(function() {
  jQuery('#account-settings-account-type').html("<%= j render(partial: 'people/account_settings/account_type.html.erb') %>")
  jQuery('#vat-details-section').html("<%= j render(partial: '/people/vat_details/vat_details_form.html.erb') %>")
  var sectionName       = "account-type"
  var anyErrorsPresent  = "<%= current_user.errors.any? %>"
  AccountSettingsAccordion.handleSubmission(anyErrorsPresent, sectionName)
  VatDetailsAccordion.handleSubmission("vat-info")
}());
