(function() {
  var anyErrorsPresent = "<%= current_user.errors.any? %>"
  var check_and_redirect_to_vat = <%= !current_user.errors.any? && vat_feature_flipper_enabled? %>
  var show_vat_warning = <%= @vat_update_result[:show_vat_warning] || false %>
  var redirect_to_vat_form = <%= @vat_update_result[:redirect_to_vat_form] || false %>
  jQuery('#account-settings-address-info').html("<%= j render(partial: 'people/account_settings/address_info.html.erb') %>")
  if (check_and_redirect_to_vat) {
    $("#vat-warning").html("")
    if (show_vat_warning) {
      $('a[href="#vat_details"]').hide() // hide the tab
      $('#vat_link').hide() // hide the link
    }
    if (redirect_to_vat_form) {
      window.location.href = "<%= edit_person_path(current_user, tab: "vat", country_change: @country_change) %>"
    } else {
      window.location.href = "<%= edit_person_path(current_user, country_change: @country_change) %>"
    }
  }
  var sectionName = "address-info"
  AccountSettingsAccordion.handleSubmission(anyErrorsPresent, sectionName)
  if (<%= FeatureFlipper.show_feature?(:enable_gst, @person) %>) {
    initStateCityAutocomplete();
  }
  addressInfoValidations();
}());
