<%= f.text_field(:address1,
                 label: custom_t(:address),
                 value: blank ? '' : @person.address1,
                 tc_required: true,
                 placeholder: bi_transfer? ? custom_t(:address_1_placeholder) : "",
                 class: "address-input",
                 disabled: @person.address_locked?,
                 data: {
                    "regex": Person::ADDRESS_REGEX,
                    "regex-flag": Person::ADDRESS_FIELDS_REGEX_FLAG,
                    "fe-validation-required": true
                 }) %>
<%= f.text_field(:address2,
                 label: custom_t(:address2),
                 value: blank ? '' : @person.address2,
                 placeholder: bi_transfer? ? custom_t(:address_2_placeholder) : "",
                 class: "address-input",
                 disabled: @person.address_locked?,
                 data: {"regex": Person::ADDRESS_REGEX, "regex-flag": Person::ADDRESS_FIELDS_REGEX_FLAG} ) %>
<% if FeatureFlipper.show_feature?(:enable_gst, @person) %>
  <%= render partial: "stored_credit_cards/state_city_autocomplete",
            locals: {form: f, person_address: true, credit_card: false} %>
<% end %>
<%= f.text_field(:city,
                 label: custom_t(:city),
                 value: blank ? '' : @person.city,
                 tc_required: true,
                 placeholder: bi_transfer? ? custom_t(:city_placeholder) : "",
                 class: "address-input",
                 disabled: @person.address_locked?,
                 data: {
                   "regex": Person::AREA_REGEX,
                   "regex-flag": Person::ADDRESS_FIELDS_REGEX_FLAG,
                   "fe-validation-required": true
                 }) %>
<%= f.text_field(:state,
                 label: custom_t(:state),
                 value: blank ? '' : @person.state,
                 placeholder: bi_transfer? ? custom_t(:state_placeholder) : "",
                 class: "address-input",
                 disabled: @person.address_locked?,
                 data: {"regex": Person::AREA_REGEX, "regex-flag": Person::ADDRESS_FIELDS_REGEX_FLAG}) %>
<%= f.text_field(:postal_code,
                 label: custom_t(:zip_code),
                 value: blank ? '' : @person.postal_code,
                 class: "postal-code address-input",
                 tc_required: true,
                 contextual_help: custom_t("people.edit_address.postal_code_help"),
                 placeholder: bi_transfer? ? custom_t(:zip_code_placeholder) : "",
                 disabled: @person.address_locked?,
                 data: {
                   "regex": Person::POSTAL_CODE_REGEX,
                   "regex-flag": Person::ADDRESS_FIELDS_REGEX_FLAG,
                   "fe-validation-required": true
                 })
%>
<%= f.select(:country,
             countries,
             {
               label: custom_t(:country_global),
               tc_required: true,
               contextual_help: custom_t("people.edit_address.country_help"),
               li_class: "select country-select",
               selected: selected_country_option(@person, @tab),
               include_blank: display_country_select_prompt?(@person) ? custom_t('helper.carts.select_country') : false
             },
             {
               class: "country-select-input",
               disabled: @person.address_locked?,
               data:
                 {
                   "bi-transfer-validations": bi_transfer?,
                   "optional-address-countries": Country::UNITED_STATES_AND_TERRITORIES,
                   "gst-countries": [Country::INDIA_ISO],
                   "country-website-country": country_website,
                   "enable-gst": FeatureFlipper.show_feature?(:enable_gst, @person),
                   "fe-validation-required": true
                 }
             })
%>
