<div id="account-settings-address-info">
  <div class="section-header">
    <div class="main">
      <h4><%= custom_t(:address) %></h4>
      <% unless non_us_and_required_address_info? %>
        <span class="warning">
          <%= custom_t("people.edit_profile_account.update_your_address_warning") %>
        </span>
      <% end %>
      <p><%= full_address(current_user) %></p>
    </div>
    <div class="side">
      <a href="#" class="edit-btn address-info" data-section="address-info"><%= custom_t(:edit) %></a>
    </div>
  </div>
  <div class="section address-info">
    <fieldset>
      <ul class="clearfix">
        <legend><%= custom_t("people.edit_profile_account.update_your_address") %></legend>
        <%= render "people/address_lock_banner" %>

        <%= form_for @person, url: update_account_settings_person_path(@person), remote: true do |f| %>
          <%= f.hidden_field(:account_settings_partial, value: "address_info") %>

          <%= render 'people/account_settings/address_info_form_fields',
            f: f,
            countries: country_dropdown_for_website(current_user.country_website_id, :iso_code),
            blank: false
          %>

          <input style="display:none">
          <%= f.password_field(:original_password,
                               label: custom_t("people.edit_login.current_password"),
                               value: "",
                               tc_required: true,
                               class: "address-input",
                               li_class: "original-password",
                               contextual_help: custom_t("people.edit_login.original_password_help"),
                               disabled: @person.address_locked?)
          %>

          <%= f.submit(custom_t(:save_changes), class: "save-button") %>

          <button class="cancel-btn" data-section="address-info"><%= custom_t(:cancel) %></button>

          <div class="vat-removal-warning <%= 'hide' unless show_vat_removal_warning? %>">
            <%= custom_t("vat.warnings.removal_on_address_change") %>
          </div>
        <% end %>
      </ul>
    </fieldset>
  </div>
</div>
