<%= stylesheet_link_tag "people/company_info" %>

<div id="company-information">
  <div class="section-header">
    <div class="main">
      <h4><%= custom_t('people.company_info.title') %></h4>
      <p class="subtitle">
        <%= company_information_section_message %>
      </p>
    </div>
    <div class="side">
      <a href="#" class="edit-btn company-information" data-section="company-information">
        <%= custom_t(:edit) %>
      </a>
    </div>
  </div>
  <div class="section company-information">
    <fieldset>
      <ul class="clearfix">
        <legend>
          <%= custom_t("people.company_info.section_title") %>
        </legend>
        <p><%= custom_t("people.company_info.messages.section_note") %></p>

        <%= form_with scope: @company_information_form,
            url: update_company_information_person_path(@person),
            id: "company-information-form",
            method: "patch" do |f|
        %>
          <template id="field-error-template">
            <div class="error-text hide"></div>
          </template>

          <%= f.text_field(:enterprise_number,
                           label: custom_t("people.company_info.fields.enterprise_number") +
                                  content_tag(:i, "",
                                              class: "tooltip-trigger fa fa-question-circle fa-md",
                                              data: {
                                                tooltip: custom_t("people.company_info.tooltip.enterprise_number.content"),
                                                position: "right"
                                              },
                                              title: custom_t("people.company_info.tooltip.enterprise_number.title")),
                           placeholder: custom_t("people.company_info.place_holders.enterprise_number"),
                           class: "company-info-input",
                           pattern: CompanyInformation::FIELD_FORMAT,
                           data: {
                             "regex": CompanyInformation::FIELD_FORMAT,
                             "fe-validation-required": true
                           }) %>
          <%= f.text_field(:company_registry_data,
                           label: custom_t("people.company_info.fields.company_registry_data") +
                                  content_tag("i", "",
                                              class: "tooltip-trigger fa fa-question-circle fa-md",
                                              data: {
                                                tooltip: custom_t("people.company_info.tooltip.company_registry_data.content"),
                                                position: "right"
                                              },
                                              title: custom_t("people.company_info.tooltip.company_registry_data.title")),
                           placeholder: custom_t("people.company_info.place_holders.company_registry_data"),
                           class: "company-info-input",
                           pattern: CompanyInformation::FIELD_FORMAT,
                           data: {
                             "regex": CompanyInformation::FIELD_FORMAT,
                             "fe-validation-required": true
                           }) %>
          <%= f.text_field(:place_of_legal_seat,
                           label: custom_t("people.company_info.fields.place_of_legal_seat"),
                           placeholder: custom_t("people.company_info.place_holders.place_of_legal_seat"),
                           class: "company-info-input",
                           pattern: CompanyInformation::FIELD_FORMAT,
                           data: {
                             "regex": CompanyInformation::FIELD_FORMAT,
                             "fe-validation-required": true
                           }) %>
          <%= f.text_field(:registered_share_capital,
                           label: custom_t("people.company_info.fields.registered_share_capital"),
                           placeholder: custom_t("people.company_info.place_holders.registered_share_capital"),
                           class: "company-info-input",
                           ) %>
          <%= f.password_field(:current_password,
                              label: custom_t("people.edit_login.current_password"),
                              tc_required: true,
                              class: "company-info-input",
                              li_class: "original-password",
                              contextual_help: custom_t("people.edit_login.original_password_help"),
                              ) %>
          <div class="button-group">
            <button id="cancel-button" class="cancel-btn" data-section="company-information">
              <%= custom_t(:cancel) %>
            </button>
            <button class="save-button" onclick="CompanyInfo.submit(event);">
              <%= custom_t(:save_changes) %>
            </button>
          </div>
        <% end %>
      </ul>
    </fieldset>
  </div>
</div>

