(function() {
  jQuery('#account-settings-contact-info').html("<%= j render(partial: 'people/account_settings/contact_info.html.erb') %>")
  var sectionName       = "contact-info"
  var anyErrorsPresent  = "<%= current_user.errors.any? %>"
  AccountSettingsAccordion.handleSubmission(anyErrorsPresent, sectionName)
  compliance_info_dependencies();

  // Reload VAT form
  jQuery('#vat-details-section').html("<%= j render(partial: '/people/vat_details/vat_details_form.html.erb') %>")
  VatDetailsAccordion.initialize();

  // Toggle vat removal warning on address update section
  <% if show_vat_removal_warning? %>
    $(".vat-removal-warning").show();
  <% else %>
    $(".vat-removal-warning").hide();
  <% end %>

  // Toggle company information update section
  CompanyInfo && CompanyInfo.showSection(<%= current_user.business? %>);
}());
