<div id="account-settings-contact-info">
  <div class="section-header">
    <div class="main">
      <h4><%= custom_t(:contact_info) %></h4>
      <p><%= contact_info(current_user) %></p>
    </div>
    <div class="side">
      <a href="#" class="edit-btn contact-info" data-section="contact-info"><%= custom_t(:edit) %></a>
    </div>
  </div>
  <div class="section contact-info">

    <fieldset>
      <ul class="clearfix">
        <legend><%= custom_t("people.edit_profile_account.update_your_contact_info") %></legend>
        <%= render "people/contact_info_lock_banner" %>

        <%= form_for @person, url: update_account_settings_person_path(@person), html: { id: 'update-contact-info-form' }, remote: true do |f| %>
        <div class="vat_form_content">
          <div id="customer_type_list_item" class="customer_type-fieldset" data-customer-type="<%=@person.customer_type%>">
            <label><%= custom_t('customer_type') %></label>
            <ul class="radio-input-group">
              <%= f.radio_button(
                "customer_type",
                "business",
                label: custom_t('new_customer_type.business'),
                new_form: true,
                disabled: Person::FlagService::person_flag_exists?(
                  {
                    person: @person,
                    flag_attributes: Flag::CUSTOMER_TYPE_LOCKED
                  }
                ),
                class: "radio-input"
              ) %>
              <%= f.radio_button(
                "customer_type",
                "individual",
                label: custom_t('new_customer_type.individual'),
                new_form: true,
                disabled: Person::FlagService::person_flag_exists?(
                  {
                    person: @person,
                    flag_attributes: Flag::CUSTOMER_TYPE_LOCKED
                  }
                ),
                class: "radio-input"
              ) %>
            </ul>
          </div>
        </div>

          <%= f.hidden_field(:account_settings_partial, value: "contact_info") %>

          <%= f.text_field(:name,
                           label: custom_t(:name),
                           tc_required: true,
                           contextual_help: "#{custom_t("people.edit_contact.name_help")} #{custom_t("people.edit_contact.name_warning_message")}"
          )%>
        <div id="compliance-contact-info-form-container">
          <%= render partial: 'compliance_contact_info', locals: { compliance_info_form: @compliance_info_form, f: f }%>
        </div>

          <%= f.text_field(:phone_number,
                           label: custom_t(:phone_number),
                           maxLength: 15,
                           contextual_help: "#{custom_t("people.edit_contact.phone_number_help")} #{link_to(custom_t(:privacy_policy), '/index/privacy')}."
          )%>

          <%= f.text_field(:mobile_number,
                           label: custom_t(:mobile_number),
                           maxLength: 15,
                           contextual_help: "#{custom_t("people.edit_contact.phone_number_help")} #{link_to(custom_t(:privacy_policy), '/index/privacy')}."
          )%>
          
          <input style="display:none">
          <%= f.password_field(:original_password,
                                label: custom_t("people.edit_login.current_password"),
                                li_class: "original-password",
                                contextual_help: custom_t("people.edit_login.original_password_help")
          )%>

          <%= f.submit(custom_t(:save_changes), class: "save-button") %>

          <button class="cancel-btn" data-section="contact-info"><%= custom_t(:cancel) %></button>

          <div class="vat-removal-warning <%= 'hide' unless show_vat_removal_warning? %>">
            <%= custom_t("vat.warnings.removal_on_legal_name_change") %>
          </div>
        <% end %>
      </ul>
    </fieldset>
  </div>
</div>
