jQuery.magnificPopup.open({
  inline: true,
  items: {
    src: "#email-reset-failure-modal"
  },
  modal: true
});
jQuery("#email-reset-failure-modal").removeClass("mfp-hide");

var noErrorsPresent  = "<%= !current_user.errors.any? %>"
var passwordError = $("#person_original_password-error")

if (noErrorsPresent === "true" && passwordError.length) {
  passwordError.remove()
}
