<fieldset>
  <ul class="clearfix">
    <% content_for :external_javascript do -%>
      <%= javascript_include_tag "/javascripts/plugins/jquery.validate.js" %>
      <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
      <%= javascript_include_tag("/javascripts/app/email_reset_form.js") %>
    <% end -%>

    <%= form_for @person, url: update_account_settings_person_path(@person), html: {id: 'edit_person_email_reset_form'}, remote: true do |f| %>
      <%= f.hidden_field(:account_settings_partial, value: "shared_login_info") %>
      <%= f.hidden_field(:shared_login_form_section, value: shared_login_form_section) %>

      <%= f.text_field(:email,
                        label: "#{custom_t(:email_address)}",
                        tc_required: true,
                        li_class: "email",
                        contextual_help: custom_t("people.edit_login.email_address_help")) %>

      <%= f.text_field(:email_confirmation,
                        label: "#{custom_t("people.edit_login.confirm_email_address")}",
                        tc_required: true,
                        li_class: "email-confirmation #{ ((!@person.new_record? || flash[:error]) ? '' : 'hidden') }",
                        contextual_help: custom_t("people.edit_login.confirm_email_address_help")) %>

      <input style="display:none">
      <%= f.password_field(:original_password,
                            error_label: "",
                            label: custom_t("people.edit_login.current_password"),
                            value: "",
                            li_class: "original-password",
                            contextual_help: custom_t("people.edit_login.original_password_help"))
      %>

      <%= f.check_box(:is_opted_in,
                      label: custom_t("people.people_fields.get_news_and_updates_from_tunecore"),
                      li_class: 'checkbox'
      )%>

      <%= f.submit(custom_t(:save_changes), class: "save-button") %>

      <button class="cancel-btn" data-section="<%= shared_login_form_section %>"><%= custom_t(:cancel) %></button>
    <% end %>
  </ul>
</fieldset>

<div id="email-reset-success-modal" class="email-reset-modal mfp-hide">
  <div class="container">
    <h3><%= custom_t('email_change_title') %></h3>
    <p><%= custom_t('email_change_form.request.success') %></p>
    <button type="button" class="mfp-close-modal button-callout-alt" onclick="mfpCloseListener();"><%= custom_t('ok') %></button>
  </div>
</div>
<div id="email-reset-failure-modal" class="email-reset-modal mfp-hide">
  <div class="container">
    <h3><%= custom_t('email_change_title') %></h3>
    <p><%= custom_t('email_change_form.request.fail') %></p>
    <button type="button" class="mfp-close-modal button-callout-alt" onclick="mfpCloseListener();"><%= custom_t('ok') %></button>
  </div>
</div>
