<fieldset>
  <ul class="clearfix">

    <%= form_for @person, url: update_account_settings_person_path(@person), remote: true do |f| %>
      <%= f.hidden_field(:account_settings_partial, value: "shared_login_info") %>
      <%= f.hidden_field(:shared_login_form_section, value: shared_login_form_section) %>

      <p><%= custom_t("people.edit_login.password_requirements") %></p>

      <%= f.password_field(:password,
                            label: "#{!@person.new_record? ? custom_t(:new_password) : custom_t(:password)}",
                            tc_required: true,
                            value: "",
                            li_class: "password",
                            contextual_help: custom_t("people.edit_login.password_help")
      )%>

      <%= f.password_field(:password_confirmation,
                            label: "#{!@person.new_record? ? custom_t("people.edit_login.confirm_new_password") : custom_t("people.edit_login.confirm_password")}",
                            tc_required: true,
                            value: "",
                            li_class: "password-confirmation #{ (!@person.new_record? || flash[:error] ? '' : 'hidden')}",
                            contextual_help: custom_t("people.edit_login.confirm_password_help")
      )%>

      <%= f.password_field(:original_password,
                            label: custom_t("people.edit_login.current_password"),
                            value: "",
                            li_class: "original-password",
                            contextual_help: custom_t("people.edit_login.original_password_help"))
      %>

      <%= f.submit(custom_t(:save_changes), class: "save-button") %>

      <button class="cancel-btn" data-section="<%= shared_login_form_section %>"><%= custom_t(:cancel) %></button>
    <% end %>
  </ul>
</fieldset>
