<div id="account-settings-priority-artist">
  <div class="section-header">
    <div class="main">
      <h4 class="priority-artist-header">
        <%= custom_t("people.edit_profile_account.priority_artist") %>
        <i
          id="priority-artist-tooltip"
          class="fa fa-info-circle qtip-it"
          data-tooltip="<%= custom_t("people.edit_profile_account.priority_artist_tooltip") %>"
        ></i>
      </h4>
      <p><%= priority_artist_name %></p>
    </div>
    <div class="side">
      <a href="#" class="edit-btn priority-artist" data-section="priority-artist"><%= custom_t(:edit) %></a>
    </div>
  </div>
  <div class="section priority-artist">
    <fieldset>
      <ul class="clearfix">
        <%= form_for @person, url: update_priority_artist_person_path(@person), remote: true do |f| %>
          <%= f.hidden_field(:account_settings_partial, value: "priority_artist") %>

          <%= collection_select(
                :person,
                :priority_artist_id,
                current_user.creatives.includes(:artist).active.map(&:artist).uniq,
                :id,
                :name,
                selected: current_user.priority_artist_artist&.id
                ) %>

          <%= f.submit(custom_t(:save_changes), class: "save-button") %>

          <button class="cancel-btn" data-section="priority-artist"><%= custom_t(:cancel) %></button>
        <% end %>
      </ul>
    </fieldset>
  </div>
</div>
