(function() {
  jQuery('#account-settings-priority-artist').html("<%= j render(partial: 'people/account_settings/priority_artist.html.erb') %>")
  var sectionName       = "priority-artist"
  var anyErrorsPresent  = "<%= current_user.errors.any? %>"
  AccountSettingsAccordion.handleSubmission(anyErrorsPresent, sectionName)
}());
