(function() {
  if (window.location.pathname === "/payout_transfers/new") {
    if (<%= self_billing_declined? %>){
      window.location.href = '/my_account/withdraw';
    }
    else {
      $(".payout-transfer-form form").trigger("submit");
    }
  } else if(window.location.pathname === "/my_account/withdraw_paypal") {
    if (<%= self_billing_declined? %>){
      window.location.href = '/my_account/withdraw';
    }
    else {
      $("#withdraw_paypal form").trigger("submit");
    }
  } 
  else {
    jQuery('#self-billing-info').html("<%= j render(partial: 'people/account_settings/self_billing_info.html.erb') %>")
    var sectionName       = "self-billing-info"
    var anyErrorsPresent  = "<%= current_user.errors.any? %>"
    AccountSettingsAccordion.handleSubmission(anyErrorsPresent, sectionName)
  }
}());
