<% content_for :external_javascript do %>
  <%#= javascript_include_tag "/javascripts/app/self_billing" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup" %>
<% end %>

<%= stylesheet_link_tag "/stylesheets/magnific-popup" %>

<div id="self-billing-info">
  <div class="section-header">
    <div class="main">
      <h4><%= custom_t('self_billing.title') %></h4>
      <% if @person.self_billing_status && @person.self_billing_status.accepted? %>
        <p><%= custom_t('self_billing.accept_info') %></p>
      <% else %>
        <div class="self-billing-error-text">
          <%= custom_t('self_billing.choose_an_option_note') %>
        </div>
      <% end %>
    </div>
    <div class="side">
      <% if current_user.self_billing_status.nil? || self_billing_declined? %>
        <a href="#" class="edit-btn self-billing-info" data-section="self-billing-info"><%= custom_t(:edit) %></a>
      <% end %>
    </div>
  </div>
  <div class="section self-billing-info">
    <fieldset>
      <ul class="clearfix">
        <p><%= custom_t('self_billing.tooltip_content') %></p>
        <%= render "shared/self_billing_form" %>
        <div class="button-group">
          <button id="cancel-button" class="cancel-btn" data-section="self-billing-info"><%= custom_t(:cancel) %></button>
          <button class="save-button" onclick="saveSelfBillingInfo(event);"><%= custom_t(:save_changes) %></button>
        </div>
      </ul>
    </fieldset>
  </div>
</div>

