<% if shared_login_form_section == "email" %>

  <div id="account-settings-email">
    <div class="section-header">
      <div class="main">
        <h4><%= custom_t(:email_address) %></h4>
        <p><%= current_user.email %></p>
      </div>
      <div class="side">
        <a href="#" class="edit-btn email" data-section="email"><%= custom_t(:edit) %></a>
      </div>
    </div>
    <div class="section email">
      <%= render "people/account_settings/email_reset_form", shared_login_form_section: "email" %>
    </div>
  </div>

<% elsif shared_login_form_section == "password" %>

  <div id="account-settings-password">
    <div class="section-header">
      <div class="main">
        <h4><%= custom_t(:password) %></h4>
        <p>(<%= custom_t("people.edit_profile_account.not_shown_for_security") %>)</p>
      </div>
      <div class="side">
        <a href="#" class="edit-btn password" data-section="password"><%= custom_t(:edit) %></a>
      </div>
    </div>
    <div class="section password">
      <%= render "people/account_settings/password_reset_form", shared_login_form_section: "password" %>
    </div>
  </div>

<% end %>
