<fieldset>
  <ul class="clearfix">
    <legend><%= custom_t("people.edit_profile_account.update_your_login_info") %></legend>

    <%= form_for @person, url: update_account_settings_person_path(@person), remote: true do |f| %>
      <%= f.hidden_field(:account_settings_partial, value: "shared_login_info") %>
      <%= f.hidden_field(:shared_login_form_section, value: shared_login_form_section) %>

      <%= f.text_field(:email,
                        label: "#{custom_t(:email_address)}",
                        tc_required: true,
                        li_class: "email",
                        contextual_help: custom_t("people.edit_login.email_address_help")) %>

      <% newflag = !@person.new_record? ? "New" : "" %>

      <p><%= custom_t("people.edit_login.password_requirements") %></p>

      <%= f.password_field(:password,
                            label: "#{!@person.new_record? ? custom_t(:new_password) : custom_t(:password)}",
                            tc_required: true,
                            value: "",
                            li_class: "password",
                            contextual_help: custom_t("people.edit_login.password_help")
      )%>

      <%= f.password_field(:password_confirmation,
                            label: "#{!@person.new_record? ? custom_t("people.edit_login.confirm_new_password") : custom_t("people.edit_login.confirm_password")}",
                            tc_required: true,
                            value: "",
                            li_class: "password-confirmation #{ (!@person.new_record? || flash[:error] ? '' : 'hidden')}",
                            contextual_help: custom_t("people.edit_login.confirm_password_help")
      )%>

      <%= f.password_field(:original_password,
                            label: custom_t("people.edit_login.current_password"),
                            value: "",
                            li_class: "original-password",
                            contextual_help: custom_t("people.edit_login.original_password_help"))
      %>

      <%= f.check_box(:is_opted_in,
                      label: custom_t("people.people_fields.get_news_and_updates_from_tunecore"),
                      li_class: 'checkbox'
      )%>

      <% if @person.new_record? || ! (@person.accepted_terms_and_conditions) %>
        <%= f.check_box(:accepted_terms_and_conditions,
                        label: custom_t(:terms_and_conditions, {
                          url: '/index/terms_lightbox'
                        }),
                        li_class: 'checkbox'
        )%>
      <% end %>

      <%= f.submit(custom_t(:save_changes), class: "save-button") %>

      <button class="cancel-btn" data-section="<%= shared_login_form_section %>"><%= custom_t(:cancel) %></button>
    <% end %>
  </ul>
</fieldset>
