(function() {
  jQuery('#account-settings-' + '<%= @shared_login_form_section %>').html("<%= j render(partial: 'people/account_settings/shared_login_info.html.erb', locals: { shared_login_form_section: @shared_login_form_section} ) %>")
  var sectionName       = "<%= @shared_login_form_section %>"
  var anyErrorsPresent  = "<%= current_user.errors.any? %>"
  AccountSettingsAccordion.handleSubmission(anyErrorsPresent, sectionName)
  new emailValidator;
}());
