<div class="section-header">
  <div class="main">
    <h4><%= custom_t(:two_factor_auth) %></h4>
    <p><%= current_user.two_factor_auth.try(:active?) ? "On since #{ current_user.two_factor_auth.activated_at.to_date }" : "Off" %></p>
  </div>
  <div class="side">
    <a href="#" class="edit-btn two-factor-auth-info" data-section="two-factor-auth-info"><%= custom_t(:edit) %></a>
  </div>
</div>
<div class="section two-factor-auth-info">
  <% if @person.two_factor_auth.try(:active?) %>
    <p><%= custom_t("tfa_info.active.secured") %></p>
    <p><%= custom_t("tfa_info.active.on_since", date: @person.two_factor_auth.activated_at ) %></p>
    <div class="buttons">
      <%= link_to custom_t("tfa_info.active.change"),
            two_factor_auth_preferences_path,
            class: "button-callout-alt" %>
      <%= button_to custom_t("tfa_info.active.disable"),
            two_factor_auth_enrollments_path,
            method: :delete  %>
    </div>
  <% else %>
    <p><%= custom_t("tfa_info.inactive.message") %></p>
    <div class="buttons">
      <%= link_to custom_t("tfa_info.inactive.enable"),
            two_factor_auth_enrollments_path,
            class: "button-callout-alt" %>
    </div>
  <% end %>
  <button class="cancel-btn" data-section="two-factor-auth-info">
    CANCEL
  </button>
</div>
