<span class="export-csv">
  <%= form_tag url_for(format: 'csv', only_path: false) do %>
    <%= hidden_field_tag "date[start_date]", params[:date][:start_date] if params[:date] && params[:date][:start_date].present? %>
    <%= hidden_field_tag "date[end_date]", params[:date][:end_date] if params[:date] && params[:date][:end_date].present? %>
    <%= hidden_field_tag :release_types, params[:release_types] if params[:release_types].present? %>
    <%= hidden_field_tag :release_ids, params[:release_ids] if params[:release_ids].present? %>

    <%= submit_tag "Download This Report", class: "download-youtube-sound-recording-report-button" %>
  <% end %>
</span>
