<div class="sales-filters">
  <%= hidden_field_tag :selected_currency, params[:selected_currency] if params[:selected_currency].present? %>
  <h2>Date Range</h2>
  <div class="sales-date-range">
    <div>
      <%= label 'date', 'start_date' %>
      <%= select 'date','start_date', @reporting_dates, :selected => @start_date.strftime("%Y-%m-%d"), :class => "date" %>
    </div>
    <div>
      <%= label 'date', 'end_date' %>
      <%= select 'date','end_date', @reporting_dates, :selected => @end_date.strftime("%Y-%m-%d"), :class => "date" %>
    </div>
  </div>

  <h2>Filter by</h2>
  <div class="sales-advanced-options collapsible">

    <div id="types" class="container">
      <h3><a href="#types-filter" class="toggle-button<% if params[:release_types].present? -%> dOpen<% end -%>">Release Type</a></h3>
      <div id="types-filter" class="select-all-section">
        <ul>
        <% if !@albums.empty? %>
          <li>
            <%= check_box_tag 'release_types[]', "album", params[:release_types].nil? || params[:release_types].include?("album") || @initial_page_load, :id => "release_type_album" %>
            <%= label_tag 'release_type_album',"Album" %>
          </li>
        <% end %>
        <% if !@singles.empty? %>
          <li>
            <%= check_box_tag 'release_types[]', "single", params[:release_types].nil? || params[:release_types].include?("single") || @initial_page_load, :id => "release_type_single" %>
            <%= label_tag 'release_type_single', "Single" %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>

    <div id="releases" class="container">
      <h3><a href="#releases-filter" class="toggle-button<% if params[:release_ids].present? -%> dOpen<% end -%>">Releases</a></h3>
      <div id="releases-filter">
        <% if !@albums.empty? %>
        <div id="albums" class="container">
          <h4>Albums</h4>
          <div id="albums-filter" class="select-all-section">
            <div class="select-all-box">
              <a href="#" class="select-all"><%= t(:ele_check).capitalize %> All</a> | <a href="#" class="select-none">Un<%= t(:ele_check) %> All</a>
            </div>
            <ul>
            <% @albums.each do |album| %>
              <li>
              <%= check_box_tag "release_ids[]", "#{album.id}", params[:release_ids].nil? || (params[:release_ids] && params[:release_ids].include?(album.id.to_s)) || @initial_page_load, :class => 'album_cb', :id=>"release_albums_#{album.id}" %>
              <%= label_tag "release_albums_#{album.id}", truncate(display_name(album),:omission => "...", :length => 30), {:title=> display_name(album)} %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
        <% end %>

        <% if !@singles.empty? %>
        <div id="singles" class="container">
          <h4>Singles</h4>
          <div id="singles-filter" class="select-all-section">
            <div class="select-all-box">
              <a href="#" class="select-all"><%= t(:ele_check).capitalize %> All</a> | <a href="#" class="select-none">Un<%= t(:ele_check) %> All</a>
            </div>
            <ul>
            <% @singles.each do |single| %>
              <li>
               <%= check_box_tag "release_ids[]", "#{single.id}", params[:release_ids].nil? || (params[:release_ids] && params[:release_ids].include?(single.id.to_s)) || @initial_page_load, :class => 'single_cb', :id=>"release_singles_#{single.id}" %>
               <%= label_tag "release_ids_#{single.id}", truncate(display_name(single), :omission => "...", :length => 30), {:title=> display_name(single)} %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
  <div class="sales-filter-actions">
    <%= submit_tag "Filter" %>
    <button class="select-all button-callout"><%= t(:ele_check).capitalize %> All</button>
  </div>
</div>
