<div class="glossary box">
  <h2><%= custom_t(".understanding_report") %></h2>
  <dl>
    <dt><%= custom_t("you_tube_royalties.monetized_videos") %></dt>
    <dd><%= custom_t(".videos_monetized") %></dd>
    <dt><%= custom_t("you_tube_royalties.monetized_views") %></dt>
    <dd><%= custom_t(".views_monetized") %></dd>
    <dt><%= custom_t("you_tube_royalties.net_revenue") %></dt>
    <dd><%= custom_t(".money_deposited") %></dd>
  </dl>
  <p><a href="<%= knowledgebase_link_for('youtube-sound-recording-revenue-report-howto', country_website) %>" target="_blank">Learn More</a></p>
</div>
