<div class="pager table_bottom">
  <div class="paginate">
    <a href="#" class="prev"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
    <a href="#" class="next"><i class="fa fa-arrow-circle-right fa-2x"></i></a>
  </div>
  <div class="info pagedisplay">Page 1/1</div>
  <div class="length pagesize_wrapper">
    <p><%= custom_t(".show_rows") %></p>
    <select name="sales-table_length" class="pagesize" size="1">
      <option selected="selected"  value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option  value="100">100</option>
    </select>
  </div>
</div>