<header class="row report">
  <div class="eight columns">
    <section class="page_title">
      <%= render partial: "shared/youtube_monetization_delay_message" %>
      <h1><%= custom_t(".youtube_recording_revenue", startdate: @start_date.strftime("%B %Y"), enddate: @end_date.strftime("%B %Y")) %></small></h1>
      <h2><%= custom_t(".reports_summarize") %></h2>
    </section>
  </div>
  <div class="four columns text-right">
    <section class="export-csv">
      <a href="<%= you_tube_exports_path %>"><%= custom_t(".download_revenue_reports") %></a>
    </section>
  </div>
</header>

<div class="row">
  <div class="three columns">
    <section class="report-totals-container">
      <div class="sales-totals">
        <h5><%= custom_t(".total_earned") %></h5>
        <span><%= sales_report_money_to_currency((@net_revenue || 0).to_money(current_user.currency), :precision => 14) %></span><br />
        <%= custom_t(".period") %>
      </div>
      <% if @multiple_currency_domain %>
        <div>
          <p class="currency-toggle-info">
            <%= link_to @display_currency, url_for(selected_currency: @display_currency), 
                class: "currency-toggles #{not_selected_currency(@selected_currency, @display_currency)}" %>
            |
            <%= link_to @transaction_currency, url_for(selected_currency: @transaction_currency),
                class: "currency-toggles #{not_selected_currency(@selected_currency, @transaction_currency)}"%>
          </p>
          <%= custom_t(".currency_disclaimer", currency: @display_currency )%>
        </div>
      <% end %>
    </section>
  </div>
  <div class="nine columns">
    <section class="report-callout">
      <div class="notice">
        <p><%= custom_t(".make_money") %> <a href="<%= ytm_tracks_path %>"><%= custom_t(".get_started") %></a></p>
      </div>
    </section>
  </div>
</div>
