<% link_params = { date: { start_date: @start_date, end_date: @end_date }, selected_currency: @selected_currency || @person.user_currency, release_types: params[:release_types], release_ids: params[:release_ids] } %>

<div class="sales-report-menu">
  <ul>
    <li class="<%= params[:action] == 'release_report' ? "active" : "" %>"><%= link_to custom_t(".releases"), :action => "release_report", **link_params %></li>
    <li class="<%= params[:action] == 'song_report' ? "active" : "" %>"><%= link_to custom_t(:songs_display), :action => "song_report", **link_params %></li>
    <li class="<%= params[:action] == 'artist_report' ? "active" : "" %>"><%= link_to custom_t(".artists"), :action => "artist_report", **link_params %></li>
    <li class="<%= params[:action] == 'sales_period_report' ? "active" : "" %>"><%= link_to custom_t(".months"), :action => "sales_period_report", **link_params %></li>
  </ul>
</div>
