<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/reports.css" %>
<% end %>

<% content_for :external_javascript do %>
  <!--[if IE]><script src="/javascripts/excanvas.min.js"></script><![endif]-->
  <%= javascript_include_tag "/javascripts/plugins/jquery.dataTables.min" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.tablesorter" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.quicksearch" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.tablesorter.pager" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.cookie" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.rule" %>
  <%= javascript_include_tag "/javascripts/app/select_all" %>
  <%= javascript_include_tag "/javascripts/app/sales_report" %>

  <script type="text/javascript">
    jQuery(document).ready(function(){
      new SelectAllButton('#select-all-stores','#stores-filter');
    });
  </script>
<% end %>

<main class="content">
  <header class="row report">
    <div class="twelve columns">
      <section class="page_title">
        <h1><%= @release.album_type %> <%= custom_t(".revenue", startdate: @start_date.strftime("%B %Y"), enddate: @end_date.strftime("%B %Y")) %></small></h1>
      </section>
    </div>
  </header>

  <div class="row">
    <div class="sales-individual-release twelve columns">
      <div class="sales-artwork"><%= image_tag artwork_100x100(@release) %></div>
      <section class="sales-release-info">
        <div>
          <h2 class="title"><%= @release.name %></h2>
          <%= discography_source_label(@release) %>
        </div>
        <h3><%= @release.artist_name %></h3>
        <dl class="info">
          <dt><%= custom_t(".label_name") %></dt>
          <dd><%= @release.label_name %></dd>
          <dt><%= custom_t(".upc") %></dt>
          <dd><%= @release.upc %></dd>
          <dt><%= custom_t(".primary_genre") %></dt>
          <dd><%= @release.primary_genre %></dd>
        </dl>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <section class="report-totals-container">
        <div class="sales-totals">
          <h5><%= custom_t(".total_earned") %></h5>
          <span><%= sales_report_money_to_currency((@net_revenue || 0).to_money(current_user.currency), :precision => 14) %></span><br />
          <%= custom_t(".period") %>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <section id="sales-container" class="individual-sales">
        <div class="release-sales-records">
          <h2><%= @release.album_type %> <%= custom_t(".revenue", startdate: @start_date.strftime("%B %Y"), enddate: @end_date.strftime("%B %Y")) %></h2>
          <a href="#" id="expand" class="filter end-arrow">Show decimals</a>
          <table class="data-report sales-table alternate">
            <thead>
                <tr>
                  <% if @release_report.present? %>
                    <th><%= custom_t("you_tube_royalties.sales_period") %></th>
                    <th><%= custom_t("you_tube_royalties.total_videos") %></th>
                    <th><%= custom_t("you_tube_royalties.monetized_videos") %></th>
                    <th><%= custom_t(".total_views") %></th>
                    <th><%= custom_t("you_tube_royalties.monetized_views") %></th>
                    <th class="sales-total-earned"><%= custom_t("you_tube_royalties.net_revenue") %></th>
                  <% else %>
                    <th colspan='6'></th>
                  <% end %>
                </tr>
            </thead>
            <tbody>
              <% if @release_report.present? %>
                <% @release_report.each do |record| %>
                  <tr class="<%= cycle("odd","even") %>">
                    <td class="ytm-sales-period"><%= record.sales_period_start.strftime("%b %Y") %></td>
                    <td class="ytm-total-videos"><%= number_with_delimiter(record.total_videos.to_i, :delimiter => ',') %></td>
                    <td class="ytm-monetizable-videos"><%= number_with_delimiter(record.monetizable_videos.to_i, :delimiter => ',') %></td>
                    <td class="ytm-total-views"><%= number_with_delimiter(record.total_views.to_i, :delimiter => ',') %></td>
                    <td class="ytm-monetizable-views"><%= number_with_delimiter(record.monetizable_views.to_i, :delimiter => ',') %></td>
                    <td class="ytm-net-revenue sales-total-earned"><%= sales_report_money_to_currency(record.net_revenue.to_money(record.currency), :precision => 14) %></td>
                  </tr>
                <% end %>
              <% else %>
                <tr><td colspan='6' style="text-align:center"><%= custom_t(".no_revenue") %></td></tr>
              <% end %>
            </tbody>
          </table>
          <%= render :partial => "pager" %>
        </div>
        <section class="song-sales-report">
          <h2>Song Revenue</h2>
          <% if @song_report.blank? %>
            <%= custom_t("you_tube_royalties.no_song_revenue") %>
          <% else %>
            <div class="song-sales-record collapsible">
              <% @song_report.each do |record| %>
                <h3>
                  <a id="<%= record.id %>" href="<%= url_for(:action => "individual_song_report", :release_id => @release.id, :song_id => record.id ) %>" class="toggle-button">
                    <%= record.track_num %> <%= record.song_name %>
                    <span class="sales-info">
                      <span class="units-sold"><%= custom_t(".total_uses") %> <b><%= number_with_delimiter(record.total_videos.to_i, :delimiter => ',') %></b></span>
                      <span class="streams-sold"><%= custom_t(".total_views") %> <b><%= number_with_delimiter(record.total_views.to_i, :delimiter => ',') %></b></span>
                      <span class="total-earned"><%= custom_t(".total_earned") %> <b><%= sales_report_money_to_currency(record.net_revenue.to_money(record.currency)) %></b></span>
                    </span>
                  </a>
                </h3>
                <div class="report-table">
                  <div class="pager-<%= record.id %> table_bottom">
                    <div class="paginate">
                      <a href="#" class="prev"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
                      <a href="#" class="next"><i class="fa fa-arrow-circle-right fa-2x"></i></a>
                    </div>
                    <div class="info pagedisplay">Page 1/1</div>
                    <div class="length pagesize_wrapper">
                      <p><%= custom_t(".show_rows") %></p>
                      <select name="sales-table_length" class="pagesize" size="1">
                        <option selected="selected"  value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option  value="100">100</option>
                      </select>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </section>
      </section>
    </div>
  </div>
</main>
