<table class="song-item data-report sales-table sales-table-songs alternate">
  <thead>
    <tr>
      <% if @song_report.present? %>
        <th><%= custom_t("you_tube_royalties.sales_period") %></th>
        <th><%= custom_t("you_tube_royalties.total_videos") %></th>
        <th><%= custom_t("you_tube_royalties.monetized_videos") %></th>
        <th><%= custom_t("individual_release_report.total_views") %></th>
        <th><%= custom_t("you_tube_royalties.monetized_views") %></th>
        <th class="sales-total-earned"><%= custom_t("you_tube_royalties.net_revenue") %></th>
      <% else %>
        <th colspan='6'></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if @song_report.present? %>
      <% @song_report.each do |record| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td class="ytm-sales-period"><%= record.sales_period_start.strftime("%b %Y") %></td>
          <td class="ytm-total-videos"><%= number_with_delimiter(record.total_videos.to_i, :delimiter => ',') %></td>
          <td class="ytm-monetizable-videos"><%= number_with_delimiter(record.monetizable_videos.to_i, :delimiter => ',') %></td>
          <td class="ytm-total-views"><%= number_with_delimiter(record.total_views.to_i, :delimiter => ',') %></td>
          <td class="ytm-monetizable-views"><%= number_with_delimiter(record.monetizable_views.to_i, :delimiter => ',') %></td>
          <td class="ytm-net-revenue sales-total-earned"><%= sales_report_money_to_currency(record.net_revenue.to_money(record.currency), :precision => 14) %></td>
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan='8' style="text-align:center"><%= custom_t("you_tube_royalties.no_song_revenue") %></td></tr>
    <% end %>
  </tbody>
</table>
