<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/reports.css" %>
<% end %>

<div class="row">
  <div class="twelve columns">
    <div class="no_sales_notice">
      <% if @ytm_tracks.unsent_songs && @ytm_tracks.search(status: "sent_or_processing", per_page: 1000000).first.blank? %>
        <p><%= custom_t(".no_accumulation") %></p>

        <p><%= custom_t(".tracks_monetization") %></p>
      <% else %>
        <p><%= custom_t(".no_accumulation_youtube") %></p>

        <p><%= custom_t(".revenue_collected") %></p>
      <% end %>
    </div>
  </div>
</div>
