<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/reports.css" %>
<% end %>

<div class="row">
  <div class="twelve columns">
    <div class="no_sales_notice">
      <p><%= custom_t(".revenue_service") %></p>

      <p><%= custom_t(".money_youtube") %></p>

      <p><%= custom_t(".revenue_deposit") %></p>
    </div>
  </div>
</div>
