<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/reports.css" %>
<% end %>

<% content_for :external_javascript do %>
  <!--[if IE]><script src="/javascripts/excanvas.min.js"></script><![endif]-->
  <%= javascript_include_tag "/javascripts/plugins/jquery.dataTables.min" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.tablesorter" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.quicksearch" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.tablesorter.pager" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.cookie" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.rule" %>
  <%= javascript_include_tag "/javascripts/app/select_all" %>
  <%= javascript_include_tag "/javascripts/app/sales_report" %>
<% end %>

<main class="content">
  <%= render "report_header" %>
  <div class="row">
    <section class="filter-container three columns">
      <%= form_tag :action => 'release_report' do %>
        <%= render 'filters' %>
        <%= render 'glossary' %>
      <% end %>
    </section>

    <section class="sales-container nine columns">
      <%= render :partial => 'report_links' %>
      <%= render "download_youtube_report" %>
      <table class="data-report sales-table release-report">
        <thead>
          <tr>
            <% if @release_report && !@release_report.empty? %>
              <th class="ytm-release-title"><%= custom_t(:title) %></th>
              <th class="ytm-release-type"><%= custom_t(:type) %></th>
              <th class="ytm-monetizable-videos"><%= custom_t("you_tube_royalties.monetized_videos") %></th>
              <th class="ytm-monetizable-views"><%= custom_t("you_tube_royalties.monetized_views") %></th>
              <th class="ytm-net-revenue sales-total-earned"><%= custom_t("you_tube_royalties.net_revenue") %></th>
            <% else %>
              <th colspan='5'></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% if @release_report && !@release_report.empty? %>
            <% @release_report.each do |record| %>
              <tr class="<%= cycle("odd","even") %>">
                <td class="ytm-release-title"><%= link_to(  truncate(record.title, :omission => "...", :length => 50), {:action => "individual_release_report", release_id: record.id}, :title =>record.title) %></td>
                <td class="ytm-release-type"><%= record.release_type %></td>
                <td class="ytm-monetizable-videos"><%= number_with_delimiter(record.monetizable_videos.to_i, :delimiter => ',') %></td>
                <td class="ytm-monetizable-views"><%= number_with_delimiter(record.monetizable_views.to_i, :delimiter => ',') %></td>
                <td class="ytm-net-revenue sales-total-earned"><%= sales_report_money_to_currency(record.net_revenue.to_money(record.currency), :precision => 14) %></td>
              </tr>
            <% end %>
          <% else %>
            <tr><td colspan='5' style="text-align:center"><%= custom_t(".no_sales") %></td></tr>
          <% end %>
        </tbody>
      </table>
      <%= render :partial => "pager" %>
    </section>
  </div>
</main>
