<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/internal_layout.css" %>
  <%= stylesheet_link_tag "/stylesheets/reports.css" %>
<% end %>

<% content_for :external_javascript do %>
  <!--[if IE]><script src="/javascripts/excanvas.min.js"></script><![endif]-->
  <%= javascript_include_tag "/javascripts/plugins/jquery.dataTables.min" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.tablesorter" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.quicksearch" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.tablesorter.pager" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.cookie" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.rule" %>
  <%= javascript_include_tag "/javascripts/app/select_all" %>
  <%= javascript_include_tag "/javascripts/app/sales_report" %>
<% end %>

<main class="content">
  <%= render "report_header" %>

  <div class="row">
    <section class="filter-container three columns">
      <%= form_tag :action => 'song_report' do %>
        <%= render 'filters' %>
        <%= render 'glossary' %>
      <% end %>
    </section>

    <section class="sales-container nine columns">
      <%= render :partial => 'report_links' %>
      <%= render "download_youtube_report" %>
      <table class="data-report sales-table song-report">
        <thead>
          <tr>
            <% if @song_report && !@song_report.empty? %>
              <th class="ytm-song-name"><%= custom_t(".song_name") %></th>
              <th class="ytm-release-name"><%= custom_t(".release_name") %></th>
              <th class="ytm-monetizable-videos"><%= custom_t("you_tube_royalties.monetizable_videos") %></th>
              <th class="ytm-monetizable-views"><%= custom_t("you_tube_royalties.monetizable_views") %></th>
              <th class="ytm-net-revenue sales-total-earned"><%= custom_t("you_tube_royalties.net_revenue") %></th>
            <% else %>
              <th colspan='5'></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% if @song_report && !@song_report.empty? %>
            <% @song_report.each do |record| %>
              <tr class="<%= cycle("odd","even") %>">
                <td class="ytm-song-name">
                  <%= link_to truncate(record.song_name, :omission => "...", :length => 50),
                  {
                    action: "individual_release_report",
                    release_id: record.release_id,
                    anchor: record.song_id
                  },
                  :title =>record.song_name %>
                </td>
                <td class="ytm-release-name">
                  <%= record.release_name %>
                </td>
                <td class="ytm-monetizable-videos">
                  <%= number_with_delimiter(record.monetizable_videos.to_i, :delimiter => ',') %>
                </td>
                <td class="ytm-monetizable-views">
                  <%= number_with_delimiter(record.monetizable_views.to_i, :delimiter => ',') %>
                </td>
                <td class="ytm-net-revenue sales-total-earned">
                  <%= sales_report_money_to_currency(record.net_revenue.to_money(record.currency), :precision => 14) %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr><td colspan='5' style="text-align:center"><%= custom_t("you_tube_royalties.no_royalties") %></td></tr>
          <% end %>
        </tbody>
      </table>
      <%= render :partial => "pager" %>
    </section>
  </div>
</main>
