<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/signin_registration.css" %>
  <%= stylesheet_link_tag "login" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/signin_registration" %>
<% end %>

<% content_for :header do %>
  <div id="reset_pwd" class="seven columns centered">
    <header class="masthead row">
      <div class="container twelve columns centered">
        <a href="<%= home_path %>" class="logo center">
          <%= image_tag "/images/tc_logos/logo_tc_large.png", srcset: "/images/tc_logos/logo_tc_large.png 1x, /images/tc_logos/logo_tc_large@2x.png 2x", alt: "TuneCore" %>
        </a>
      </div>
      <%= render partial: "recaptcha/explicit_load", locals: {button_id: "reset-password-button"} unless logged_in? %>
    </header>
    <section id="main_content" class="content row">
      <%= flash[:message] ? note_helper(flash[:message],"") : "" %>
      <%= flash[:notice] ? note_helper(flash[:notice],"check") : "" %>
      <%= flash[:error] ? note_error_helper(flash[:error],"red") : "" %>
    <% end %>

    <section class="main twelve columns centered">
      <div class="form twelve columns">
        <%= form_for @person, url: reset_password_path, method: :post do |f| %>
          <% unless logged_in? %>
            <%= f.email_field :email, label: custom_t(:email), contextual_help: custom_t(".email_registered"), class: "form-text", new_form: true, autocomplete: "off" %>
            <% if use_recaptcha? %>
              <%= render partial: "recaptcha/recaptcha_widget" %>
              <%= hidden_field_tag "g-recaptcha-response", nil, class: "captcha-v3-token" %>
            <% end %>
          <% end %>
          <%= f.hidden_field(:force, value: true) %>
          <%= f.submit custom_t(".reset_password"), id: "reset-password-button", class: "reset-pw-btn", new_form: true, style: 'text-transform:none;' %>
        <% end %>
      </div>
      <p class="help twelve columns">
        <span class="contact-us-helper">
          <%= link_to custom_t(".need_more_info_faq_page"), knowledgebase_link_for("password_reset", country_website), target: :_blank %>
        </span>
      </p>
    </section>
  </section>
</div>

