<% content_for(:header) do %>
  <%= tag.h1(custom_t(".forgot_your_password?")) %>
  <%= tag.div(custom_t(".no_worries"), class: "subheading") %>
<% end %>

<%= form_for @person, url: reset_password_path, method: :post do |f| %>
  <% unless logged_in? %>
    <%= f.email_field :email, label: custom_t(:email_address), class: "form-text text-input", new_form: true, autocomplete: "off" %>
    <% if use_recaptcha? %>
      <%= render partial: "recaptcha/recaptcha_widget" %>
      <%= hidden_field_tag "g-recaptcha-response", nil, class: "captcha-v3-token" %>
    <% end %>
  <% end %>
  <%= f.hidden_field(:force, value: true) %>
  <%= f.submit custom_t(".send_reset_link"), id: "reset-password-button", class: "reset-pw-btn", new_form: true %>
<% end %>
