<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/signin_registration.css" %>
  <%= stylesheet_link_tag "login" %>
<% end %>

<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/signin_registration" %>
<% end %>

<% content_for :header do %>
  <div id="reset_pwd" class="seven columns centered">
    <header class="masthead row">
      <div class="container twelve columns centered">
        <a href="<%= home_path %>" class="logo center">
          <%= image_tag "/images/tc_logos/logo_tc_large.png", srcset: "/images/tc_logos/logo_tc_large.png 1x, /images/tc_logos/logo_tc_large@2x.png 2x", alt: "TuneCore" %>
        </a>
      </div>
    </header>
    <section id="main_content" class="content row">
      <%= flash[:message] ? note_helper(flash[:message],"") : "" %>
      <%= flash[:notice] ? note_helper(flash[:notice],"check") : "" %>
      <%= flash[:error] ? note_error_helper(flash[:error],"red") : "" %>
<% end %>

    <section class="main twelve columns centered">
      <div class="form twelve columns">

        <% if @person.errors[:password].blank? %>
          <div class="password-requirements"><%= custom_t(".password_requirements") %></div>
        <% else %>
          <div class="password-reset-error">
            <% @person.errors[:password].each do |error| %>
              <li style="list-style-type: none;"><%= error %></li>
            <% end %>
          </div>
        <% end %>

        <%= simple_form_for(@person, url: reset_password_path, method: :put) do |f| %>
          <fieldset>
            <%= f.input(:password,
                        label: custom_t(:new_password),
                        value: "",
                        input_html: { class: "form-text", autocomplete: "new-password" },
                        required: false,
                        error: false) %>
          </fieldset>

          <fieldset>
            <%= f.input(:password_confirmation,
                        label: custom_t(:confirm),
                        value: "",
                        input_html: { class: "form-text", autocomplete: "new-password" },
                        error_html: { class: "formError" }) %>
          </fieldset>

          <%= f.hidden_field(:new_password, :value => true)%>
          <%= hidden_field_tag :person_id, @person.id %>
          <%= hidden_field_tag :key, @activation_key %>

          <fieldset class="form-actions">
            <%= f.submit custom_t(".change_password"), style: 'text-transform:none;' %>
          </fieldset>
        <% end %>
      </div>
      <p class="help twelve columns">
        <span class="contact-us-helper">
          <%= custom_t(:need_help) %>
          <%= link_to custom_t(:contact_us), knowledgebase_link_for("distro-contact-us", country_website), target: :_blank %>
        </span>
      </p>
    </section>
  </section>
</div>
