<% content_for(:header) do %>
  <%= tag.h1(custom_t("reskin.sessions.reset_password")) %>
  <%= tag.div(custom_t("reskin.sessions.password_rules"), class: "subheading subheading--smaller") %>
<% end %>

<%= simple_form_for(@person, url: reset_password_path, method: :put) do |f| %>
  <%= f.input(
    :password,
    label: custom_t("new_password"),
    data: { testid: "reset-pw-input" },
    input_html: {
      autocomplete: "new-password",
      autofocus: true,
      class: "text-input",
      id: "person_password_reskin" # Hackily avoid logic in public/javascripts/app/form.js
    },
    wrapper_html: { class: "fieldset" },
    required: false
  ) %>

  <%= f.input(
    :password_confirmation,
    label: custom_t("reskin.sessions.confirm_password"),
    data: { testid: "reset-pw-confirm-input" },
    input_html: {
      autocomplete: "new-password-confirmation",
      class: "text-input",
    },
    wrapper_html: { class: "fieldset" }
  ) %>

  <%= f.hidden_field(:new_password, value: true)%>
  <%= hidden_field_tag(:person_id, @person.id) %>
  <%= hidden_field_tag(:key, @activation_key) %>

  <%= f.submit(custom_t("reskin.sessions.reset_password")) %>
<% end %>
