<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= @subject if @subject%></title>
    <style type="text/css">
      body {font-family:arial,helvetica,sans-serif;color:#6F6F6F;font-size:14px;background:#FFFFFF;width:1200px;}

      div#email_body {
        border: 1px solid #CCCCCC;
        float:left;
        padding:10px;
        margin-bottom:20px;
      }   
    </style>
  </head>
  <body>  
    <div id="email_body">

      <%= yield %>

      <p><%= custom_t(".questions") %></p>
      <p><%= custom_t(".sincerely") %><br> <%= custom_t(".tunecore_tech") %></p>

      <div id="EmailFooter">          
        <% unless @recipients.is_a? Array and @recipients.size > 1 %>
          <p><%= custom_t(".notification") %> <strong><%= @recipients.to_s %></strong></p>
        <% end %>
        <p>TuneCore, 63 Pearl Street, Box #256, Brooklyn, NY 11201</p>
      </div>
    </div>
  </body>
</html>
