<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Admin: <%= h @page_title %></title>
  <link rel="stylesheet" href="/stylesheets/tunecore.css" type="text/css" media="all" />
  <%= stylesheet_link_tag "master" %>
  <%= stylesheet_link_tag "/stylesheets/jquery-ui/jquery-ui-1.7.2.custom.css" %>
  <%= stylesheet_link_tag "/stylesheets/shared.css" %>
  <%= stylesheet_link_tag "/stylesheets/magnific-popup.css" %>
  <%= stylesheet_link_tag "two_factor_auth" %>
  <%= stylesheet_link_tag "admin" %>
  <%= csrf_meta_tags %>
  <%= yield :css %>
  <!--[if IE]>
  <script src=" http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Include GON for assigning JS variables from controllers -->
  <%= include_gon(init: true) %>
</head>
<body id="admin-body">
  <section id="admin-container" class="container_16 clearfix">
  <% if current_user && (current_user.is_administrator || session[:admin]) %>
    <div id="admin-controls">
      <%= render "shared/admin_controls" %>
    </div>
  <% end %>

  <%= yield :model_errors if content_for? :model_errors  %>
  <%= flash[:notice]  ?  note_helper(flash[:notice],"check") : "" %>
  <%= flash[:error]   ?  note_error_helper(flash[:error],"red") : "" %>
  <%= flash[:success] ?  note_helper(flash[:success],"check") : "" %>
  <div class="grid_16" id="admin-wrapper">
    <%= yield %>
  </div>
  <%= javascript_include_tag "/javascripts/prototype.js" %>
  <%= javascript_include_tag "/javascripts/effects.js" %>
  <%= javascript_include_tag "/javascripts/dragdrop.js" %>
  <%= javascript_include_tag "/javascripts/controls.js" %>
  <%= javascript_include_tag "/javascripts/application.js" %>
  <%= yield :extra_js %>
  <%= render "shared/javascript_admin" %>
  <%= javascript_include_tag "application" %>
  </section>
</body>
</html>
