<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Admin: <%= h @page_title %></title>
  <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/cupertino/jquery-ui.css"  %>
  <%= stylesheet_link_tag "/stylesheets/foundation" %>
  <%= stylesheet_link_tag "/stylesheets/base" %>
  <%= stylesheet_link_tag "/stylesheets/jquery-ui/jquery-ui-1.7.2.custom.css" %>
  <%= stylesheet_link_tag "/stylesheets/admin" %>
  <%= stylesheet_link_tag "admin" %>
  <%= csrf_meta_tags %>
  <%= yield :css %>
  <!--[if IE]>
  <script src=" http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Include GON for assigning JS variables from controllers -->
  <%= include_gon(init: true) %>
</head>
<body class="admin-body">
  <% if current_user && (current_user.is_administrator || session[:admin]) %>
    <header class="admin-controls row">
      <div class="twelve columns">
        <%= render(:partial => 'shared/admin_controls')%>
      </div>
    </header>
  <% end %>

  <div class="row" id="flash-messages">
    <%= yield :model_errors if content_for? :model_errors  %>
    <%= flash[:notice]  ?  note_helper(flash[:notice],"check") : "" %>
    <%= flash[:error]   ?  note_error_helper(flash[:error],"red") : "" %>
    <%= flash[:success] ?  note_helper(flash[:success],"check") : "" %>
  </div>

  <div id="admin-wrapper">
    <%= yield %>
  </div>
  <%= render(:partial => 'shared/javascript_admin') %>
</body>
</html>
