<!doctype html>
<head>
  <%= render 'head_content' %>

  <%= stylesheet_link_tag "//cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css" %>
  <%= stylesheet_link_tag "footer_reskin" %>
  <%= render "global_css_vars" %>
  <%= stylesheet_link_tag "general_reskin" %>
  <%= yield :css %>

  <%= phraseapp_in_context_editor_js %>

  <%# FontAwesome V4 Docs: https://fontawesome.com/v4/icons/ %>
  <%= javascript_include_tag "//use.fontawesome.com/a908ac1179.js" %>

  <%= include_gon(init: true) %>
</head>

<%= render "shared/v2_nav" %>
<div class="content-wrapper"
  <%= content_tag :body, class: route_specific_class_name do %>
    <%= render "gtm_no_script" %>

    <div id="fb-root" data-app-id='<%= FB_APP_ID %>'></div>
    <%= render "facebook_sdk.html" %>

    <%= yield %>

    <%= render "shared/footer_reskin" %>

    <%= render "shared/reskin_javascript" %>
    <%= javascript_include_tag "application" %>

    <% if CountryWebsite.show_cookie_warning?(country_website) %>
      <%= render "shared/cookie_warning" %>
    <% end %>
  <% end %>
</div>

<% unless Rails.env.production? %>
  <script>
    console.log(`Git Branch: ${window.gon.git_info.branch}`)
    console.log(`Git Commit: ${window.gon.git_info.commit}`)
    console.log(`Git Commit URL: ${window.gon.git_info.commit_url}`)
  </script>
<% end %>

</html>
