<!doctype html>
<!--[if lt IE 9]><html class="ie" lang="en"><![endif]-->
<!--[if gte IE 9]><!--><html lang="en" class="no-js"><!--<![endif]-->
<!--
  The comment jumble above is handy for targeting old IE with CSS.
  http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
-->
<head>
  <%= render 'head_content' %>
  <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/cupertino/jquery-ui.css"  %>
  <%= stylesheet_link_tag "//cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css"  %>
  <%= stylesheet_link_tag "/stylesheets/foundation" %>
  <%= stylesheet_link_tag "/stylesheets/base" %>
  <%= stylesheet_link_tag "/stylesheets/jquery-ui/jquery-ui-1.7.2.custom.css" %>
  <%= stylesheet_link_tag "/stylesheets/custom_flash_message.css" %>
  <%= stylesheet_link_tag "/stylesheets/magnific-popup.css" %>
  <%= stylesheet_link_tag "two_factor_auth" %>
  <%= stylesheet_link_tag "facebook_track_monetizations_modal" %>
  <%= stylesheet_link_tag "shared/ticker" if current_page?('/dashboard') %>
  <%= stylesheet_link_tag "shared/prompt_modal" %>
  <%= stylesheet_link_tag "plans/distribution_messaging" %>

  <% if reskin? %>
    <%= stylesheet_link_tag "footer_reskin" %>
    <%= stylesheet_link_tag "general_reskin" %>
  <% end %>

  <%= render "global_css_vars" %>

  <%= yield :css %>

  <%# Need jQuery to be loaded in the head for lazy loading images to work %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
  <%= phraseapp_in_context_editor_js %>
  <!--
    This script enables structural HTML5 elements in old IE.
    http://code.google.com/p/html5shim/
  -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/javascripts/plugins/respond.min.js"></script>
  <![endif]-->
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" %>
  <%= javascript_include_tag "//use.fontawesome.com/a908ac1179.js" %>
  <%= javascript_include_tag 'https://www.google.com/recaptcha/api.js' %>
  <%= include_gon(init: true) %>
</head>
<%= content_tag :body, class: route_specific_class_name do %>
  <%= render "gtm_no_script" %>
  <div id="fb-root" data-app-id='<%= FB_APP_ID %>'></div>

  <%= render "facebook_sdk.html" %>

  <div class="hide" id="loadingDialog">
    <div style="text-align: center;">
      <strong><%= custom_t(:loading_data) %></strong><br><br><br>
      <img src="/images/disco-loader.gif">
    </div>
  </div>
  <div class="content-wrapper">
    <%= render "shared/header" %>

    <%= flash[:error_dialog] ? error_dialog(flash[:error_dialog], flash[:error_dialog_title]) : "" %>

    <%= flash[:message] ? note_helper(flash[:message],"") : "" %>
    <%= flash[:notice] ? note_helper(flash[:notice],"check") : "" %>
    <%= flash[:success] ? note_helper(flash[:success],"check") : "" %>
    <%= flash[:error] ? note_error_helper(flash[:error],"red") : "" %>
    <%= flash[:persistent_alert] ? persistent_alert_helper(flash[:persistent_alert]) : "" %>

    <%= yield %>

    <% if should_show_tfa_prompt? %>
      <%= render "shared/two_factor_auth_prompt" %>
    <% end %>

    <% if should_show_auto_renewal_prompt? %>
      <%= render "shared/auto_renewal_prompt" %>
    <% end %>

    <% if reskin? %>
      <%= render "shared/footer_reskin" %>
    <% else %>
      <%= render "shared/footer" %>
    <% end %>
  </div>

  <%= render "shared/cookie_warning" if CountryWebsite.show_cookie_warning?(country_website) %>
  <%= render "shared/javascript" %> <!-- includes external_javascript -->
  <%= javascript_include_tag "application" %>
<% end %>

<% unless Rails.env.production? %>
  <script>
    console.log(`Git Branch: ${window.gon.git_info.branch}`)
    console.log(`Git Commit: ${window.gon.git_info.commit}`)
    console.log(`Git Commit URL: ${window.gon.git_info.commit_url}`)
  </script>
<% end %>

</html>
