<!doctype html>
<!--[if lt IE 9]><html class="ie" lang="en"><![endif]-->
<!--[if gte IE 9]><!--><html lang="en"><!--<![endif]-->
<!--
  The comment jumble above is handy for targeting old IE with CSS.
  http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
-->
  <head>
    <%= render partial: "head_content" %>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/cupertino/jquery-ui.css" />
    <link rel="stylesheet" href="master" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/javascripts/plugins/utils/utils.css" type="text/css" />
    <%= yield :css %>
    <%= stylesheet_link_tag "/stylesheets/release_view_checklist.css" %>
    <%= stylesheet_link_tag "/stylesheets/jquery-ui/jquery-ui-1.7.2.custom.css" %>
    <%= stylesheet_link_tag "/stylesheets/ui.slider.extras" %>
    <%= stylesheet_link_tag "/stylesheets/shared.css" %>

    <!--
      This script enables structural HTML5 elements in old IE.
      http://code.google.com/p/html5shim/
    -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body id="iframe">
    <%= render partial: "gtm_no_script" %>
    <%= yield %>
    <%= render(:partial => "shared/javascript") %>
    <%= yield :external_javascript %>
  </body>
</html>
