<!doctype html>
<!--[if lt IE 9]><html class="ie" lang="en"><![endif]-->
<!--[if gte IE 9]><!--><html lang="en"><!--<![endif]-->
<!--
  The comment jumble above is handy for targeting old IE with CSS.
  http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
-->
  <head>
    <%= render "head_content" %>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/cupertino/jquery-ui.css" />
    <%= stylesheet_link_tag "//cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css"  %>
    <%= stylesheet_link_tag "master" %>
    <%= stylesheet_link_tag "/javascripts/plugins/utils/utils.css" %>
    <%= yield :css %>
    <%= stylesheet_link_tag "/stylesheets/release_view_checklist.css" %>
    <%= stylesheet_link_tag "/stylesheets/jquery-ui/jquery-ui-1.7.2.custom.css" %>
    <%= stylesheet_link_tag "/stylesheets/ui.slider.extras" %>
    <%= stylesheet_link_tag "/stylesheets/shared.css" %>
    <%= stylesheet_link_tag "/stylesheets/magnific-popup.css" %>
    <%= stylesheet_link_tag "two_factor_auth" %>
    <%= stylesheet_link_tag "facebook_track_monetizations_modal" %>
    <%= stylesheet_link_tag "shared/ticker" if current_page?('/dashboard') %>
    <%= stylesheet_link_tag "shared/prompt_modal" %>

    <% if reskin? %>
      <%= stylesheet_link_tag "footer_reskin" %>
      <%= stylesheet_link_tag "general_reskin" %>
    <% end %>

    <%= render "global_css_vars" %>

    <%= csrf_meta_tags %>

    <!--
      This script enables structural HTML5 elements in old IE.
      http://code.google.com/p/html5shim/
    -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script type="text/javascript" src="/javascripts/plugins/respond.min.js"></script>
    <![endif]-->

    <%= phraseapp_in_context_editor_js %>
    <%= include_gon(init: true) %>
  </head>
  <body class="oapp">
  <%= render "gtm_no_script" %>
  <div class="hide" id="loadingDialog">
    <div style="text-align: center;">
      <strong><%= custom_t (:loading_data) %></strong> <a href="#" style="color: #3B96CF;" class="cancelLoad">Cancel</a><br><br><br>
      <img src="/images/disco-loader.gif">
    </div>
  </div>
  <div class="content-wrapper">
    <% if reskin? %>
      <%= render partial: "shared/v2_nav" %>
    <% else %>
      <%= render partial: "shared/inside_header" %>
    <% end %>

    <%= render "shared/ticker" if current_page?('/dashboard') %>

    <%= flash[:error_dialog] ? error_dialog(flash[:error_dialog], flash[:error_dialog_title]) : "" %>
    <%= flash[:message] ? note_helper(flash[:message],"") : "" %>
    <%= flash[:notice] ? note_helper(flash[:notice],"check") : "" %>
    <%= flash[:success] ? note_helper(flash[:success],"check") : "" %>
    <%= flash[:error] ? note_error_helper(flash[:error],"red") : "" %>
    <%= flash[:persistent_alert] ? persistent_alert_helper(flash[:persistent_alert]) : "" %>

    <div class="container_16">
      <%= yield %>
    </div>
    <div class="clear" style="height: 20px;"></div>

    <% if reskin? %>
      <%= render "shared/footer_reskin" %>
    <% else %>
      <%= render "shared/footer" %>
    <% end %>
  </div>

  <%= render "shared/javascript_old" %>
  <%= render "shared/cookie_warning" if CountryWebsite.show_cookie_warning?(country_website) %>

  <% if should_show_tfa_prompt? %>
    <%= render "shared/two_factor_auth_prompt" %>
  <% end %>

  <% if should_show_auto_renewal_prompt? %>
    <%= render "shared/auto_renewal_prompt" %>
  <% end %>

  <%= yield :javascripts %>
  <%= javascript_include_tag "application" %>
  </body>
</html>
