<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title><%= @subject if @subject%></title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background-color: #FFFFFF; font-family: Helvetica, Arial, Sans-serif; font-size: 14px; margin: 0; padding: 0; -webkit-text-size-adjust: none; width: 100% !important;">
  <center>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="background-color: #FFFFFF; height: 100% !important; margin: 0; padding: 0; width: 100% !important;">
      <tr>
        <td align="center" valign="top" style="border-collapse: collapse;">
          <table border="0" cellpadding="0" cellspacing="0" width="640" id="templateContainer" style="border: 1px solid #CCCCCC; margin: 10px; padding: 0 10px 10px;">
            <tr>
              <td align="left" valign="top" style="padding-top: 0px;border-collapse: collapse;">
                <!-- // Begin Template Header \\ -->
                <table border="0" cellpadding="0" cellspacing="0" id="templateHeader">
                  <tr>
                    <td width="640" style="padding: 10px 0;">
                      <% if @person.india_user? && bi_transfer_and_gst_enabled? %>
                        <img src="http://www.tunecore.com/images/believe/believe_logo.png" alt="Believe International" style="max-width: 250px;" class="email-header-logo"/>
                      <% else %>
                        <img src="http://www.tunecore.com/images/tc_logos/tc_logo_black_square_email.png" alt="TuneCore" style="max-width: 250px;" class="email-header-logo"/>
                      <% end %>
                    </td>
                  </tr>
                </table>
                <!-- // End Template Header \\ -->
              </td>
            </tr>

            <% if content_for? :reseller_info %>
            <tr>
              <td align="right">
                <%= yield :reseller_info %>
              </td>
            </tr>
            <% end %>

            <tr>
              <td align="left" valign="top" style="border-collapse: collapse;">
                <%# Use custom or standard greeting %>
                <% if content_for? :greeting %>
                  <%= yield :greeting %>
                <% else %>
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td align="left" width="640" style="padding: 10px;">
                        <p><%= custom_t('.dear_tunecore_artists') %></p>
                      </td>
                    </tr>
                  </table>
                <% end %>

                <!-- // Begin Template Body \\ -->
                <%= yield %>
                <!-- // End Template Body \\ -->

                <%# Custom signature given then yield it %>
                <% if content_for? :signature %>
                  <%= yield(:signature) %>
                <%# Otherwise show the default one %>
                <% else %>
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td align="left" width="640" style="padding: 10px;">
                        <p>
                          <%= custom_t('.thank_you_for_being') %>
                        </p>
                      </td>
                    </tr>
                  </table>
                <% end %>
              </td>
            </tr>
            <!-- // Begin Template Footer \\ -->
            <%# Show custom email footer or standard email footer %>
            <% if content_for?(:email_footer) %>
              <%= yield(:email_footer) %>
            <%# Otherwise show the default email footer %>
            <% else %>
              <% if FeatureFlipper.show_feature?(:bi_transfer, @person) && !@person.india_user? %>
                <tr>
                  <td align="center" valign="top" style="padding-top: 10px;border-collapse: collapse;">
                    <table width="50" cellspacing="0" cellpadding="0" border="0" align="left" style="margin-left: 10px">
                      <tbody>
                        <tr>
                          <td>
                            <a style="color: #4798DA; text-decoration: none;" href="http://www.facebook.com/TuneCore">
                              <img width="23" border="0" height="20" alt="FACEBOOK" src="http://www.tunecore.com/images/email/tc_email_footer_facebook.gif" />
                            </a>
                          </td>
                          <td>
                            <a style="color: #4798DA; text-decoration: none;" href="http://twitter.com/tunecore">
                              <img width="23" border="0" height="20" alt="TWITTER" src="http://www.tunecore.com/images/email/tc_email_footer_twitter.gif" />
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              <% end %>
              <tr>
                <td align="left" valign="top" style="color: #6F6F6F; padding-top: 10px; border-collapse: collapse;">
                  <table width="640" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody>
                      <tr>
                        <td style="border: 1px solid #CCCCCC; font-size: 12px; margin-top:30px; padding: 3px; width: 98%;">
                          <p style="margin: 6px;"><%= custom_t(:questions) %> <a style="color: #4798DA; text-decoration: none;" href="http://<%= @person.domain %>/contact"><%= custom_t(:get_help) %></a></p>
                          <% if @person.india_user? && bi_transfer_and_gst_enabled? %>
                            <p style="margin: 6px;"><%= custom_t(:believe_international_address) %></p>
                          <% else %>
                            <p style="margin: 6px;">TuneCore, 63 Pearl Street, Box #256, Brooklyn, NY 11201</p>
                          <% end %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            <% end %>
            <!-- // End Template Footer \\ -->
          </table>
          <br /><br /><br />
        </td>
      </tr>
    </table>
  </center>
</body>
</html>
