<%# 
  Based on "fluid template" from: https://www.cerberusemail.com/templates
%><!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  <meta charset="utf-8"> <%# utf-8 works for most cases %>
  <meta name="viewport" content="width=device-width"> <%# Forcing initial-scale shouldn't be necessary %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> <%# Use the latest (edge) version of IE rendering engine %>
  <meta name="x-apple-disable-message-reformatting">  <%# Disable auto-scale in iOS 10 Mail entirely %>
  <meta name="format-detection" content="telephone=no,address=no,email=no,date=no,url=no"> <%# Tell iOS not to automatically link certain text strings. %>
  <meta name="color-scheme" content="light">
  <meta name="supported-color-schemes" content="light">
  <title><%= @subject || "" %></title> <%# The title tag shows in email notifications, like Android 4.4. %>

  <%# What it does: Makes background images in 72ppi Outlook render at correct size. %>
  <!--[if gte mso 9]>
  <xml>
    <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->

  <%# Web Font / @font-face : BEGIN %>
  <%# NOTE: If web fonts are not required, lines 23 - 41 can be safely removed. %>

  <%# Desktop Outlook chokes on web font references and defaults to Times New Roman, so we force a safe fallback font. %>
  <!--[if mso]>
    <style>
      * {
        font-family: sans-serif !important;
      }
    </style>
  <![endif]-->

  <%# All other clients get the webfont reference; some will render the font and others will silently fail to the fallbacks. More on that here: http://stylecampaign.com/blog/2015/02/webfont-support-in-email/ %>
  <!--[if !mso]><!-->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <!--<![endif]-->

  <%# Web Font / @font-face : END %>

  <%# CSS Reset : BEGIN %>
  <style>

    <%# What it does: Tells the email client that only light styles are provided but the client can transform them to dark. A duplicate of meta color-scheme meta tag above. %>
    :root {
      color-scheme: light;
      supported-color-schemes: light;
    }

    <%# What it does: Remove spaces around the email design added by some email clients. %>
    <%# Beware: It can remove the padding / margin and add a background color to the compose a reply window. %>
    html,
    body {
      margin: 0 auto !important;
      padding: 0 !important;
      height: 100% !important;
      width: 100% !important;
    }

    <%# What it does: Stops email clients resizing small text. %>
    * {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }

    <%# What it does: Centers email on Android 4.4 %>
    div[style*="margin: 16px 0"] {
      margin: 0 !important;
    }

    <%# What it does: forces Samsung Android mail clients to use the entire viewport %>
    #MessageViewBody, #MessageWebViewDiv{
      width: 100% !important;
    }

    <%# What it does: Stops Outlook from adding extra spacing to tables. %>
    table,
    td {
      mso-table-lspace: 0pt !important;
      mso-table-rspace: 0pt !important;
    }

    <%# What it does: Fixes webkit padding issue. %>
    table {
      border-spacing: 0 !important;
      border-collapse: collapse !important;
      table-layout: fixed !important;
      margin: 0 auto !important;
    }

    <%# What it does: Uses a better rendering method when resizing images in IE. %>
    img {
      -ms-interpolation-mode:bicubic;
    }

    <%# What it does: Prevents Windows 10 Mail from underlining links despite inline CSS. Styles for underlined links should be inline. %>
    a {
      text-decoration: none;
    }

    <%# What it does: A work-around for email clients meddling in triggered links. %>
    a[x-apple-data-detectors],  <%# iOS %>
    .unstyle-auto-detected-links a,
    .aBn {
      border-bottom: 0 !important;
      cursor: default !important;
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }

    <%# What it does: Prevents Gmail from displaying a download button on large, non-linked images. %>
    .a6S {
      display: none !important;
      opacity: 0.01 !important;
    }

    <%# What it does: Prevents Gmail from changing the text color in conversation threads. %>
    .im {
      color: inherit !important;
    }

    <%# If the above doesn't work, add a .g-img class to any image in question. %>
    img.g-img + div {
      display: none !important;
    }

    <%# What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  %>
    <%# Create one of these media queries for each additional viewport size you'd like to fix %>

    <%# iPhone 4, 4S, 5, 5S, 5C, and 5SE %>
    @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
      u ~ div .email-container {
        min-width: 320px !important;
      }
    }
    <%# iPhone 6, 6S, 7, 8, and X %>
    @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
      u ~ div .email-container {
        min-width: 375px !important;
      }
    }
    <%# iPhone 6+, 7+, and 8+ %>
    @media only screen and (min-device-width: 414px) {
      u ~ div .email-container {
        min-width: 414px !important;
      }
    }

  </style>
  <%# CSS Reset : END %>
</head>
<%#
  The email background color (#222222) is defined in three places:
  1. body tag: for most email clients
  2. center tag: for Gmail and Inbox mobile apps and web versions of Gmail, GSuite, Inbox, Yahoo, AOL, Libero, Comcast, freenet, Mail.ru, Orange.fr
  3. mso conditional: For Windows 10 Mail
%>
<body width="100%" style="margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #131313;">
  <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
  </style>
  <center role="article" aria-roledescription="email" lang="en" style="width: 100%; background-color: #131313;">
  <!--[if mso | IE]>
  <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #131313;">
  <tr>
  <td>
  <![endif]-->

    <%# Visually Hidden Preheader Text : BEGIN %>
    <div style="max-height:0; overflow:hidden; mso-hide:all;" aria-hidden="true">
      <%= yield :preview_text %>
    </div>
    <%# Visually Hidden Preheader Text : END %>

    <%# Create white space after the desired preview text so email clients don’t pull other distracting text into the inbox preview. Extend as necessary. %>
    <%# Preview Text Spacing Hack : BEGIN %>
    <div style="display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: sans-serif;">
      &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
    </div>
    <%# Preview Text Spacing Hack : END %>

    <%#
      Set the email width. Defined in two places:
      1. max-width for all clients except Desktop Windows Outlook, allowing the email to squish on narrow but never go wider than 600px.
      2. MSO tags for Desktop Windows Outlook enforce a 600px width.
    %>
    <div style="max-width: 600px; margin: 0 auto;" class="email-container">
      <!--[if mso]>
      <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="600">
      <tr>
      <td>
      <![endif]-->

      <%# Email Body : BEGIN %>
      <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">

        <%# Header : BEGIN %>
        <tr>
          <td align="center" style="background-color: #131313; padding: 10px 20px 10px 10px;">
            <%= image_tag('https://tunecore.com/images/tc_logos/tc_logo_2023_230x40.png', alt: "TuneCore", height: "20", width: "115", class: "g-img") %>
          </td>
        </tr>
        <%# Header : END %>

        <%# Email Content : BEGIN %>
        <%= yield %>
        <%# Email Content : END %>

      </table>
      <%# Email Body : END %>

      <%# Email Footer : BEGIN %>
      <%# <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
        <tr>
          <td style="padding: 20px; font-family: sans-serif; font-size: 12px; line-height: 15px; text-align: center; color: #ffffff;">
            <webversion style="color: #ffffff; text-decoration: underline; font-weight: bold;">View as a Web Page</webversion>
            <br><br>
            Company Name<br><span class="unstyle-auto-detected-links">123 Fake Street, SpringField, OR, 97477 US<br>(123) 456-7890</span>
            <br><br>
            <unsubscribe style="color: #ffffff; text-decoration: underline;">unsubscribe</unsubscribe>
          </td>
        </tr>
      </table> %>
      <%# Email Footer : END %>

      <!--[if mso]>
      </td>
      </tr>
      </table>
      <![endif]-->
    </div>

  <!--[if mso | IE]>
  </td>
  </tr>
  </table>
  <![endif]-->
  </center>
</body>
</html>
