<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
<!--
  The comment jumble above is handy for targeting old IE with CSS.
  http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
-->
  <head>
    <%= render partial: 'head_content' %>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/cupertino/jquery-ui.css" />
    <link rel="stylesheet" href="master" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/javascripts/plugins/utils/utils.css" type="text/css" />
    <%= stylesheet_link_tag "/stylesheets/guides.css" %>
    <!-- Include GON for assigning JS variables from controllers -->
    <%= include_gon(init: true) %>
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
    <%= render(:partial => "shared/javascript") %>
    <%= yield :external_javascript %>
  </head>
  <body>
    <%= render partial: "gtm_no_script" %>
    <%= render(:partial => "shared/header") %>
    <div class="container_16">
      <div class="contentwrap">
        <div id="topbar">
          <div id="topnav">
            <ul>
              <li><%= link_to_unless_current(custom_t(".make_money"), :controller => "guides", :action => "thirteen_ways_to_make_money") %></li>
              <li><%= link_to_unless_current(custom_t(".not_screwed"), :controller=>"guides", :action=>"sixrights") %></li>
              <li><%= link_to_unless_current(custom_t(".market_promote_money"), :controller=> "guides", :action=>"promote_introduction") %></li>
              <li><%= link_to_unless_current(custom_t(".music_publishing"), :controller=> "guides", :action => "basics_to_know") %></li>
              <li><%= link_to_unless_current(custom_t(".mastering"), :controller=>"guides", :action=>"basics_of_mastering") %></li>
              <li><%= link_to_unless_current(custom_t(".vinyl101"), :controller=>"guides", :action=>"basics_of_vinyl") %></li>
              <li><%= link_to_unless_current(custom_t(".mixing"), :controller=>"guides", :action=>"basics_of_mixing") %></li>
              <li><%= link_to_unless_current(custom_t(".copyright"), :controller=>"guides", :action=>"basics_of_copyright") %></li>
              <li><%= link_to_unless_current(custom_t(".sell_more_music"), :controller=>"guides", :action=>"sellmusiconline") %></li>
              <li><%= link_to_unless_current(custom_t(".healthcare"), :controller=>"guides", :action=>"healthcare") %></li>
            </ul>
          </div>
        </div>
        <div class="headline">
          <a id="shownav" href="#" class="btn">
            <p class="show-guide-menu"><%=custom_t(".show_menu")%></p>
            <p class="hide-guide-menu" style="display:none;"><%=custom_t(".hide_menu")%></p>
          </a>
          <h1 class="h1cufon"><%= custom_t(".survival_guide") %></h1>
          <%= yield %>
        </div>
      </div>
    </div>

    <div class="clear" style="height: 20px;"></div>

    <%= render(:partial => "shared/footer") %>
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
    <%= render(:partial => "shared/javascript") %>
    <%= yield :external_javascript %>
  </body>
</html>
