<!doctype html>
<!--[if lt IE 9]><html class="ie" lang="en"><![endif]-->
<!--[if gte IE 9]><!--><html lang="en"><!--<![endif]-->
<!--
  The comment jumble above is handy for targeting old IE with CSS.
  http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
-->
<head>
  <%= render partial: 'head_content' %>
  <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/cupertino/jquery-ui.css"  %>
  <%= stylesheet_link_tag "/stylesheets/foundation" %>
  <%= stylesheet_link_tag "/stylesheets/base" %>
  <%= stylesheet_link_tag "/stylesheets/jquery-ui/jquery-ui-1.7.2.custom.css" %>

  <%= yield :css %>

  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>

  <!-- Include GON for assigning JS variables from controllers -->
  <%= include_gon(init: true) %>
</head>
<body>
  <%= render partial: "gtm_no_script" %>
  <div id="fb-root" data-app-id='<%= FB_APP_ID %>'></div>

  <%= render "facebook_sdk.html" %>

  <div class="hide" id="loadingDialog">
    <div style="text-align: center;">
      <strong><%= custom_t(:loading_data) %></strong> <a href="#" style="color: #3B96CF;" class="cancelLoad"><%= custom_t(:cancel) %></a><br><br><br>
      <img src="/images/disco-loader.gif">
    </div>
  </div>

  <%= yield %>

  <%= render :partial => "shared/javascript" %> <!-- includes external_javascript -->
  <%= yield(:scripts) %>
</body>
</html>
