<!doctype html>
<!--[if lt IE 9]><html class="ie" lang="en"><![endif]-->
<!--[if gte IE 9]><!--><html lang="en"><!--<![endif]-->
<!--
  The comment jumble above is handy for targeting old IE with CSS.
  http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
-->
  <head>
  <meta charset="utf-8">
  <meta property="fb:app_id" content="367323486722410" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.tunecore.com" />
  <meta property="og:title" content="TuneCore is the best way to sell your music on iTunes, Amazon, Spotify &amp; more." />
  <meta property="og:description" content="Musicians: Sell your own music on iTunes, Spotify, eMusic, Amazon Music, Google Play and many more! Keep all your rights and get 100% of the royalties." />
  <meta property="og:image" content="http://www.tunecore.com/images/tunecore_icon.png" />
  <%- unless @viewport.blank? -%>
    <%= @viewport.html_safe %>
  <%- else -%>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- end -%>
  <meta name="format-detection" content="telephone=no">
  <% if @metatags -%>
    <% @metatags.each do |meta_name, meta_content| -%>
    <% if !meta_content.blank? %><meta name="<%= meta_name.to_s %>" content="<%= meta_content %>"><% end %>
    <% end -%>
  <% end -%>
  <% if @metatags.blank? || @metatags[:keywords].blank? %><meta name="Keywords" content="sell music online, tunecore, digital music distribution, your music online, iTunes, Spotify, eMusic, Amazon Music, Google Play, Rdio, publishing adminstration, songwriter service, royalty collection, indie artists, indie music, digital stores"><% end %>
  <% if @metatags.blank? || @metatags[:description].blank? %><meta name="Description" content="Get your music up on iTunes with Tunecore!"><% end %>
  <title><%= h(@page_title) + " | " if !@page_title.blank? %>TuneCore</title>
  <%= csrf_meta_tags %>
  <link rel="publisher" href="https://plus.google.com/100306276256326692214" />
  <%= render partial: 'hreflang_tags' %>
  <link rel="apple-touch-icon" href="/images/touch-icon.png">
  <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/cupertino/jquery-ui.css"  %>
  <%= stylesheet_link_tag "/stylesheets/foundation" %>
  <%= stylesheet_link_tag "/stylesheets/base" %>
  <%= stylesheet_link_tag "/stylesheets/jquery-ui/jquery-ui-1.7.2.custom.css" %>

  <%= yield :css %>

  <%# Need jQuery to be loaded in the head for lazy loading images to work %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>

  <!--
    This script enables structural HTML5 elements in old IE.
    http://code.google.com/p/html5shim/
  -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/javascripts/plugins/respond.min.js"></script>
  <![endif]-->

  <!-- Include GON for assigning JS variables from controllers -->
  <%= include_gon(init: true) %>
</head>
<body>
  <% if content_for?(:data_layer) %>
    <%= yield(:data_layer) %>
  <% else %>
    <%= data_layer_object(page: Gtm::Page.new(current_user, currency: locale_currency)) %>
  <% end %>

  <div id="fb-root" data-app-id='<%= FB_APP_ID %>'></div>

  <%= render "facebook_sdk.html" %>

  <div class="hide" id="loadingDialog">
    <div style="text-align: center;">
      <strong><%= custom_t(:loading_data) %></strong> <a href="#" style="color: #3B96CF;" class="cancelLoad"><%= custom_t(:cancel) %></a><br><br><br>
      <img src="/images/disco-loader.gif">
    </div>
  </div>

  <%= flash[:error_dialog] ? error_dialog(flash[:error_dialog], flash[:error_dialog_title]) : "" %>

  <div class="message row">
  <%= flash[:message] ? note_helper(flash[:message],"") : "" %>
  <%= flash[:notice] ? note_helper(flash[:notice],"check") : "" %>
  <%= flash[:error] ? note_error_helper(flash[:error],"red") : "" %>
  </div>
  <%= yield %>

  <%= render :partial => "shared/javascript" %> <!-- includes external_javascript -->

</body>
</html>
