<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css" media="screen">
      #page {background-color:#fff; border-radius:10px; height:300px; padding:20px; position:relative;}
      h3 {margin:0;}
      .button {-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.5); -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.5); box-shadow:0 1px 2px rgba(0, 0, 0, 0.5); padding:0 25px; margin-right:10px; float:left; height:30px; color:#fff; text-decoration:none; font:bold 14px Helvetica, Arial, Sans-serif; line-height:2.4 !important; background:url(/version/tunecore_neo/images/sprites/buttons_sprite.png) repeat-x right 0; border:0; cursor:pointer;}
      #close_iframe {bottom:20px; position:absolute; right:20px;}
      #paypal-error-message {display: block; font-style: italic; padding-top:15px;}
    </style>
    <%= render(:partial => "shared/javascript") %>
    <script type="text/javascript">
      jQuery(function($) {
        $('#close_iframe').click(function() {
          $('#ppll', window.parent.document).hide();
          top.dg.closeFlow();
        });
      });
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
