<!doctype html>
<!--[if lt IE 9]><html class="ie" lang="en"><![endif]-->
<!--[if gte IE 9]><!--><html lang="en"><!--<![endif]-->
<!--
  The comment jumble above is handy for targeting old IE with CSS.
  http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">

  <title><%= custom_t(:tunecore) %></title>

  <style type="text/css">
    .d3 {
        background-color: #dd9;
        margin: 5px;
        font-size: 25px;
        color: #007;
        padding: 10px;
    }
  </style>

</head>
<body>

  <%= yield %>

</body>
</html>
