<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "head_content" %>

    <%= phraseapp_in_context_editor_js %>

    <%= stylesheet_link_tag "plans/main.css" %>
    <%= stylesheet_link_tag "/stylesheets/magnific-popup.css" %>
    <%= render "global_css_vars" %>

    <%= javascript_include_tag "plans/index.js" %>
    <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup.js" %>
  </head>

  <body>
    <%= render partial: "gtm_no_script" %>

    <%= yield %>
  </body>
</html>
