<!doctype html>
<!--[if lt IE 9]><html class="ie" lang="en"><![endif]-->
<!--[if gte IE 9]><!--><html lang="<%= trim_locale(I18n.locale.to_s) %>" class="no-js"><!--<![endif]-->
<!--
  The comment jumble above is handy for targeting old IE with CSS.
  http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
-->
<head>
  <%= render partial: 'head_content' %>
  <%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/cupertino/jquery-ui.css" %>
  <%= stylesheet_link_tag "/javascripts/plugins/utils/utils" %>
  <%= stylesheet_link_tag "/stylesheets/foundation" %>
  <%= stylesheet_link_tag "/stylesheets/base" %>
  <%= stylesheet_link_tag "registration" %>

  <%= yield :css %>

  <!--
    This script enables structural HTML5 elements in old IE.
    http://code.google.com/p/html5shim/
  -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= javascript_include_tag "/javascripts/modernizr.min" %>
  <%= phraseapp_in_context_editor_js %>

  <!-- Include GON for assigning JS variables from controllers -->
  <%= include_gon %>
</head>
<body class="<%=@page == 'registration' ? '' : 'row' %>" data-host="<%= request.host %>">
  <%= render partial: "gtm_no_script" %>
  <div id="fb-root" data-app-id='<%= FB_APP_ID %>'></div>
  <%= yield :header %>

  <div class='body-container'>
    <%= yield %>
  </div>

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"%>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" %>

  <%= javascript_include_tag "/javascripts/plugins/utils/utils" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.select-to-autocomplete" %>
  <%= javascript_include_tag "/javascripts/app/form" %>

  <%= yield :external_javascript %>
</body>
</html>
