<!doctype html>
<!--[if lt IE 9]><html class="ie" lang="en"><![endif]-->
<!--[if gte IE 9]><!--><html lang="<%= trim_locale(I18n.locale.to_s) %>" class="no-js"><!--<![endif]-->
<!--
  The comment jumble above is handy for targeting old IE with CSS.
  http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
-->
<head>
  <%= render partial: 'head_content' %>
  <%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/cupertino/jquery-ui.css" %>
  <%= stylesheet_link_tag "/javascripts/plugins/utils/utils" %>
  <%= stylesheet_link_tag "registration_reskin" %>

  <%= yield :css %>

  <%= javascript_include_tag "/javascripts/modernizr.min" %>
  <%= phraseapp_in_context_editor_js %>

  <!-- Include GON for assigning JS variables from controllers -->
  <%= include_gon %>
</head>
<body data-host="<%= request.host %>">
  <%= render partial: "gtm_no_script" %>
  <div id="fb-root" data-app-id='<%= FB_APP_ID %>'></div>

  <div class="video-container" aria-hidden="true">
    <video class="video" autoplay muted loop playsinline
           poster="<%= cdn_url("/images/background_video_poster.jpg") %>"
    >
    <%#
        Autoplaying, looping videos, even if muted, must NOT have an audio
        track to avoid unexpected behavior in multiple browsers.
        Easily removed with Quicktime.
        Videos must be optimized for streaming: `MP4Box -add foo.mp4 -isma foo-box.mp4` to avoid flickering on reload.
        e.g. https://bugzilla.mozilla.org/show_bug.cgi?id=1789103
    %>
      <source
        src="<%= cdn_url("/videos/background_video.mp4") %>"
        type="video/mp4"
      />
    </video>
  </div>

  <div class="body-container">
    <div class="body-content">
      <div class="heading">
        <%= yield :header %>
      </div>

      <% flash.each do |type, message| %>
        <% Array(message).each do |message| %>
          <%= tag.div(class: ["flash", "flash--#{type}"], data: { testid: "flash" }) do %>
            <%= message %>
          <% end %>
        <% end %>
      <% end %>

      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"%>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" %>

  <%= javascript_include_tag "/javascripts/plugins/utils/utils" %>
  <%= javascript_include_tag "/javascripts/plugins/jquery.select-to-autocomplete" %>
  <%= javascript_include_tag "/javascripts/app/form" %>

  <%= yield :external_javascript %>
</body>
</html>
