<!doctype html>
<!--[if lt IE 9]><html class="ie" lang="en"><![endif]-->
<!--[if gte IE 9]><!--><html lang="en"><!--<![endif]-->
<!--
  The comment jumble above is handy for targeting old IE with CSS.
  http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
-->
<head>
  <%= render partial: 'head_content' %>
  <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/cupertino/jquery-ui.css"  %>
  <%= stylesheet_link_tag "/stylesheets/foundation" %>
  <%= stylesheet_link_tag "/stylesheets/base" %>
  <%= stylesheet_link_tag "/stylesheets/sync" %>
  <%= stylesheet_link_tag "/stylesheets/jquery-ui/jquery-ui-1.7.2.custom.css" %>

  <%= yield :css %>

  <!--
    This script enables structural HTML5 elements in old IE.
    http://code.google.com/p/html5shim/
  -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <%= render partial: "gtm_no_script" %>
  <div class="hide" id="loadingDialog">
    <div style="text-align: center;">
      <strong><%= custom_t(:loading_data) %></strong> <a href="#" style="color: #3B96CF;" class="cancelLoad"><%= custom_t(:cancel) %></a><br><br><br>
      <img src="/images/disco-loader.gif">
    </div>
  </div>

  <%= render :partial=>"shared/sync_header" %>

  <div class="content">
    <div id="flash_message" class="message row">
    <%= flash[:message] ? note_helper(flash[:message],"") : "" %>
    <%= flash[:notice] ? note_helper(flash[:notice],"check") : "" %>
    <%= flash[:error] ? note_error_helper(flash[:error],"red") : "" %>
    </div>
    <%= yield %>
  </div>

  <%= render :partial => "shared/sync_footer" %>
  <!-- Javascripts -->
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js" %>
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%= javascript_include_tag "/javascripts/plugins/environment.js" %>
  <%= javascript_include_tag "/javascripts/app/header.js" %>

  <%
  # Test for IE6 and force them to upgrade or install Chrome Frame
  -%>
    <!--[if IE 6]>
    <script src="/javascripts/shoo.js"></script>
    <script>
      jQuery(window).load(function(){
        shoo.test();
      });
    </script>
    <![endif]-->
  <%
    # Move scripts that are only needed on one page to external file and include
    # using "content_for :external_javascript do" block
  -%>
  <%= yield :external_javascript %>

</body>
</html>
