<!doctype html>
<!--[if lt IE 9]><html class="ie" lang="en"><![endif]-->
<!--[if gte IE 9]><!--><html class="no-js" dir="ltr" lang="en"><!--<![endif]-->
<!--
  The comment jumble above is handy for targeting old IE with CSS.
  http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
-->
  <head>
    <%= render partial: "head_content" %>
    <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/cupertino/jquery-ui.css"  %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "/stylesheets/magnific-popup.css" %>
    <%= stylesheet_link_tag "/stylesheets/error-dialog.css" %>
    <%= stylesheet_link_tag "foundation_overrides" %>
    <% if reskin? %>
      <%= stylesheet_link_tag "footer_reskin" %>
    <% end %>
    <%= yield :css %>

    <%= javascript_include_tag "tc-foundation" %>
    <%= javascript_include_tag "/javascripts/plugins/jquery.magnific-popup" %>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $(document).foundation();
      });
    </script>

    <%= javascript_include_tag "/javascripts/app/flash_error_dialog.js" %>
    <%= javascript_include_tag "https://code.jquery.com/ui/1.11.1/jquery-ui.min.js" %>
    <%= stylesheet_link_tag "https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" %>

    <!--
      This script enables structural HTML5 elements in old IE.
      http://code.google.com/p/html5shim/
    -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script type="text/javascript" src="/javascripts/plugins/respond.min.js"></script>
    <![endif]-->

    <%= phraseapp_in_context_editor_js %>
    <%= include_gon(init: true) %>
  </head>
  <%= content_tag :body, class: route_specific_class_name do %>
    <%= render partial: "gtm_no_script" %>
    <div class="hide" id="loadingDialog">
      <div style="text-align: center;">
        <strong><%= custom_t(:loading_data) %></strong> <a href="#" style="color: #3B96CF;" class="cancelLoad">Cancel</a><br><br><br>
        <img src="/images/disco-loader.gif">
      </div>
    </div>

    <% if reskin? %>
      <%= render partial: "shared/v2_nav" %>
    <% else %>
      <%= render "application/foundation/header" %>
    <% end %>

    <div class="notifications">
      <%= flash[:error_dialog] ? error_dialog(flash[:error_dialog], flash[:error_dialog_title]) : "" %>
      <%= flash[:message] ? note_helper(flash[:message],"") : "" %>
      <%= flash[:notice] ? note_helper(flash[:notice],"check") : "" %>
      <%= flash[:success] ? note_helper(flash[:success],"check") : "" %>
      <%= flash[:error] ? note_error_helper(flash[:error],"red") : "" %>
      <%= flash[:persistent_alert] ? persistent_alert_helper(flash[:persistent_alert]) : "" %>
    </div>

    <div class="main-container">
      <%= yield %>
    </div>

    <% if reskin? %>
      <%= render "shared/footer_reskin" %>
    <% else %>
      <%= render partial: "application/foundation/footer" %>
    <% end %>

    <%#= render partial: "shared/cookie_warning" if CountryWebsite.show_cookie_warning?(country_website) %>

    <%= javascript_include_tag "application" %>
    <%= yield :external_javascript %>
    <%= yield :external_javascripts %>
  <% end %>
</html>
