<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en">
  <head>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Admin: <%= h @page_title %></title>

      <%= stylesheet_link_tag "admin_foundation" %>

      <%= yield :css %>

      <%= javascript_include_tag "admin/foundation" %>
      <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
          $(document).foundation();
        });
      </script>

      <%= phraseapp_in_context_editor_js %>
      <%= include_gon(init: true) %>
    </head>
    <%= content_tag :body, class: route_specific_class_name do %>
      <%= render partial: "application/admin_foundation/header" %>

      <div class="admin-flash-container">
        <div class="row">
          <%= content_tag(:div, flash[:message], class: "message") if flash[:message] %>
          <%= content_tag(:div, flash[:notice], class: "notice") if flash[:notice] %>
          <%= content_tag(:div, flash[:success], class: "success") if flash[:success] %>
          <%= content_tag(:div, flash[:error], class: "error") if flash[:error] %>
        </div>
      </div>

      <div class="main-container">
        <%= yield %>
      </div>

      <%= javascript_include_tag "application" %>
      <%= yield :external_javascripts %>
    <% end %>
</html>
