<%= form_tag admin_album_song_distribution_option_path(album), method: :put, remote: true do %>
  <%= hidden_field_tag :song_distribution_option_value, !song.send(distribution_option),{ id: "song_distribution_option_value_#{distribution_option}_#{song.id}" } %>
  <%= hidden_field_tag :song_distribution_option_name, distribution_option %>
  <%= hidden_field_tag :song_id, song.id %>
  <%= label_tag :note, "Why are you changing #{distribution_option.to_s.humanize} on this track?" %>
  <%= text_area_tag :note, nil,  { id: "song_distribution_option_note_#{distribution_option}_#{song.id}", class: "note_text" } %>
  <%= submit_tag "Update" %>
<% end %>
