jQuery.magnificPopup.close()
jQuery('#<%= "#{@option}_#{@song_distribution_option.song.id}_text" %>').html('<b><%= display_yes_or_no?(@song_distribution_option.song.send(@option)) %></b>').effect("highlight", {}, 3000);
jQuery('#<%= "distribution_option_form_popup_#{@option}_#{@song_distribution_option.song.id}" %>').html("<%= j(render partial: 'admin/song_distribution_options/form', locals: { distribution_option: @option, album: @song_distribution_option.song.album, song: @song_distribution_option.song }) %>")
