<%= form_tag admin_distribution_errors_path, method: :post, remote: true do %>
  <h2>
    <%= truncate(decorated_distro_error_form(@distro_error_form).table_title(table_title), length: 70) %>
    <em class="table-errors"><%= pluralize(table_data.size, "error") %></em>
    <div class="pull-right">
      <span class="retry-all-label">Select all: </span>
      <%= check_box_tag "retry-all", nil, false, class: "select-all", data: { table: table_index } %>
      <%= submit_tag "Retry", class: "distribution_errors-button" %>
    </div>
  </h2>
  <thead>
    <tr>
      <th class="album-id-col">Album ID</th>
      <th class="store-col">Store</th>
      <th class="message-col"><%= decorated_distro_error_form(@distro_error_form).message_table_header %></th>
      <th style="text-align: center;">Retry</th>
    </tr>
  </thead>
  <tbody id="distribution_errors-table-rows-<%= table_index %>">
    <% table_data.each do |datum|  %>
      <tr class="distribution-id-<%= datum[:distribution_id] %>">
        <td>
          <%= link_to datum[:album_id], admin_album_path(datum[:album_id]), target: :_blank %>

        </td>
        <td>
          <strong>
            <%= decorated_distro_error_form(@distro_error_form).store_map[datum[:store_id]] %>
          </strong>
        </td>
        <td><%= datum[:message] || datum[:state] %></td>
        <td style="text-align: center;">
          <%= check_box_tag "distribution_ids[]", datum[:distribution_id], nil,
            class: "individual-checkbox", data: { table_index: table_index } %>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
