<div class="content">
  <header class="row distribution_errors-header">
    <div class="twelve columns">
      <h2><%= @page_title %></h2>
      <nav class="distribution_errors-nav" role="navigation">
        <%= form_tag admin_distribution_errors_path, method: :get do  %>
          <ul>
            <li>Organize By: </li>
            <li>Store: <%= radio_button_tag :filter_type, "store", form.by_store? %></li>
            <li>Error: <%= radio_button_tag :filter_type, "error", form.by_error? %></li>
            <li>Release: <%= radio_button_tag :filter_type, "release", form.by_release? %></li>
            <li class="date-picker start-date">Start Date:
              <%= text_field_tag :start_date, form.date_start, class: "date-field" %>
            </li>
            <li class="date-picker">End Date:
              <%= text_field_tag :end_date, form.date_end, class: "date-field" %>
            </li>
            <li id="state-select">State: <%= select_tag :states, options_for_select([["error", "error"], ["stuck", "stuck"]], form.state_type), id: "state-dropdown" %>
            </li>
            <input type="submit" class="distribution_errors-button" value="filter" />
          </ul><hr />
        <% end %>
      </nav>
    </div>
  </header>
</div>
