<div><%= will_paginate @distributions %></div>

<div class="twelve columns distribution_errors-table">
  <% @distributions.each_with_index do |(table_title, table_data), index| %>
    <div id="distribution_errors-table-<%= index %>">
      <table>
        <%= render partial: "distribution_errors_table",
          locals: { table_title: table_title, table_data: table_data, table_index: index } %>
      </table>

      <div class="scroll-to-top-container"><%= link_to "Scroll to top", "#", class: "scroll-to-top" %></div>
    </div>
  <% end %>
</div>

<div><%= will_paginate @distributions %></div>
