<ul class="distribution_errors-summary-list">
  <% @distributions.each_with_index do |distribution_errors_data, index| %>
    <li class="distribution_errors-table-<%= index %> scroll-to-table">
      <%= truncate(decorated_distro_error_form(@distro_error_form).table_title(distribution_errors_data.first)) %>
      <span class="errors-summary pull-right">
        <%= pluralize(distribution_errors_data.last.size, @distro_error_form.state_type) %>
      </span>
    </li>
  <% end %>
</ul>

<p class="distribution_errors-summary-total">
  <%= pluralize(@distributions.reduce(0) { |acc, entry| acc + entry.last.size }, "Total #{@distro_error_form.state_type}") %>
</p><hr />
<p class="distribution_errors-retry-all">
  <%= button_tag "Retry All", class: "distribution_errors-retry-all-btn" %>
</p>
