<% content_for :external_javascript do %>
  <%= javascript_include_tag "/javascripts/app/date_picker.js" %>
  <%= javascript_include_tag "/javascripts/app/admin/distribution_errors.js" %>
<% end %>
<% content_for :css do %>
  <%= stylesheet_link_tag "/stylesheets/admin.css" %>
  <%= stylesheet_link_tag "/stylesheets/distribution_errors.css" %>
<% end %>

<%= render partial: "distribution_errors_nav", locals: { form: decorated_distro_error_form(@distro_error_form) } %>
<%= render partial: "distribution_errors_summary" if @distributions.present? %>
<%= render partial: "distribution_errors_view" %>
